[2021-01-30 00:42] ammarkarachi commented on #6498
@contractorwolf I tried out your scenario and

1. created a project x with a deleted stack but with just auth.
2. new project y with no categories and freshly initialized.
3. Copied x is backend directory
4. Replace everything in y's amplify-meta.json with x's content except all under
[code]
5. Same with team-provider.json leaving that object intact
[code]
and `amplify push`

This was possible wit

[2021-01-30 02:39] enleet opened #6515 "amplify import storage is not working"
**Which Category is your question related to?**

Importing S3 bucket thru Amplify CLI

**Amplify CLI Version**
4.41.2

**What AWS Services are you utilizing?**
S3, Amplify

**Provide additional details e.g. code snippets**

Hello,

when I create s3 from amplify CLI using: amplify add storage .. everything works fine and I can upload files.

However, when I import S3 bucket through the command: amp

[2021-01-30 07:50] dragosiordachioaia commented on #5239
This would indeed be cool to have. I ended up doing this myself with a Lambda subscribed to a DynamoDB stream, where I semi-replicate the relationships between records (the ones defined in the schema with @connection), so that whenever a record gets deleted, all the connected records which should be removed go with it. The Lambda interacts with DynamoDB directly, which makes it really fast. The on

[2021-01-30 09:37] kristianmandrup commented on #6247
Also working on a branch `namespaced-function`. to allow assigning a namespace to a function and to generate multiple function templates per namespace for that context (if configured):

`.amplifyrc.json`

[code]

This will generate a lambda per namespace, so that you can ensure an isolated compute space per client in a white label context (ie. a common platform supporting multiple clients, where e

[2021-01-30 10:19] jeremyburton commented on #819
@kaustavghosh06 is it still current advice that we can put `src/graphql/schema.json` in .gitignore? I'm using Amplify Console for CI/CD and it seems counter-intuitive to me to not be deploying changes to that file. The reason I ask is because that file often throws up merge conflicts in a multi-env setup and that lead me to this issue and your suggestion.

[2021-01-30 10:43] Suhas-Pachore commented on #1910
@neilime @DavidBrear thanks for the workaround. How have you configured CloudFront Distributions for different amplify environments - dev/test/master?
- Have you setup different multiple distributions or same distribution with multiple origins?
- How have you handled the public path/url in the code, as dev/test/master images are in different buckets?

[2021-01-30 17:34] drclohite commented on #5931
fault still exists, not sure why this is closed.

# Importing Amplify environment: dev (amplify env import)
2021-01-30T17:30:21.665Z [INFO]: [32mSuccessfully added environment from your project[39m
2021-01-30T17:30:22.104Z [INFO]: # Initializing existing Amplify environment: dev (amplify init)
2021-01-30T17:30:24.516Z [INFO]: [33mNote: It is recommended to run this command from the root of your

[2021-01-30 19:50] flipatoms commented on #4260
Have the same problem as above. Used the AppSync console to use an existing DynamoDB and create schema for it.
When running amplify pull I don't get the new settings and can't access my existing db from my app.
Why was this issue closed?

[2021-01-30 19:59] drclohite commented on #5931
Ok, it works for 4.3. What am I looking at in terms of IAM?

[2021-01-30 22:23] GeorgeBellTMH opened #6517 "Shared elastic search"
I would love a flag that does the following.

When creating environments instead of creating a new elastic search create a single shared instance across all environments with the flag.

All dynamodb tables would then be in one ec2 elastic search instance with names similar to what they are in dynamo.

This would save $$$ and deploy speed when deploying environments from git branches....

[2021-01-30 22:29] elcain opened #6518 "Amplify commands has TypeError preventing schema change"
**Describe the bug**
I am using Amplify with a React Native Project. I am realizing that I am not able to use `Amplify` commands on the CLI without an error:

[code]

**Amplify CLI Version**
4.32.1

**To Reproduce**
`Amplify status` or `Amplify push`

**Expected behavior**
Amplify status will work, but show the error. `Amplify push` will fail because of this error.

**Desktop (please complete the

[2021-01-30 23:14] jgroom33 opened #6519 "await response for: What permissions do you want to grant to this new layer version?"
Scenario:

* executing `amplify push`
* updates to layer function exists
* updates to other functions exist

The CLI does not wait for a response to the question "What permissions do you want to grant to this new layer version?"

**Amplify CLI Version**
4.41.2

**To Reproduce**

1. make changes to layer
2. make changes to function
3. `amplify push`
4. wait
5. notice the push does not continue

**E

[2021-01-31 00:54] amirmishani opened #6520 "Referencing the Region in the Graphql Schema"
**Which Category is your question related to?**
API

**Amplify CLI Version**
4.39.0

**What AWS Services are you utilizing?**
API, Auth, Function

**Provide additional details e.g. code snippets**
I'm trying to configure an HTTP resolver to call a step function. The url needs the correct aws region. I know you can pass the environment like so `${env}` but I couldn't find anything in the docs stati

[2021-01-31 07:26] PawanMude commented on #6302
@kaustavghosh06 : Kindly refer to above logs : '@aws-amplify/cli' is version: 'latest'
For now, i've moved ahead without amplify.

[2021-01-31 07:33] cosimtaiuz opened #6521 "Creating a new API with IAM as default results in no Identity Pool and policyless-roles"
I created a new test API via `amplify add api`, a GraphQL one.
When it asked me what auth to use, I said IAM; this was the first API I was adding to a completely fresh project.

After the command finished I went to the IAM console and opened the 2 roles the script created, the auth one and the unauth one: both were policyless with no trusted entities.
Also the script didn't create an identity pool

[2021-01-31 10:38] tkang commented on #6506
@kaustavghosh06 It was the schema modeling page (Set up -> Data)

[2021-01-31 15:22] tyrainman427 commented on #5286
@kjetilge what did you change to fix this error?

[2021-01-31 17:15] absynthe commented on #6440
I confirm that it goes ahead and still pushes. Thanks!

[2021-01-31 18:42] cpmcmanaman commented on #5322
For what it is worth, I also like mayteio's idea of manually adding the permission to the parameters is easy, however, might trip up inexperienced developers who (rightly) expect the aws-amplify/Storage.put option 'acl: public-read' to work out of the box. It is what I intuitively tried to do before reading documentation.

[2021-01-31 22:44] takumiecofit commented on #3691
for `amplify publish` and angular.

it's defaulting to `ng build --prod`. We don't have the option to substitute this with something else like `ng build -c development`. I can't find any documentation on how to extend amplify publish other than this:

https://docs.amplify.aws/cli/hosting

[2021-02-01 00:10] nouredu commented on #2577
+1

[2021-02-01 09:28] sytolk commented on #501
I needs to know what is the command that Amplify execute before this:
![61523CF3-BD67-4F85-99D6-201D9C69E739](https://user-images.githubusercontent.com/1415463/106439693-a31b5100-6480-11eb-86ac-1fd9c42b844c.jpg)

[2021-02-01 11:56] GeorgeBellTMH commented on #6505
Sounds good. Thanks

[2021-02-01 11:56] #6505 closed

[2021-02-01 13:03] jdw88 commented on #4939
This would be a very useful feature. I have a Lambda function managed via Amplify and require a new numbered version for a CloudFront trigger. This process is managed outside of Amplify and is very cumbersome.

[2021-02-01 13:16] kylekirkby commented on #4939
It's currently recommended to use the serverless/next-js component.

https://docs.amplify.aws/start/getting-started/hosting/q/integration/next

I've used this component and it works well. I hope the Amplify team can eventually add this functionality to the CLI, although quite a bit of work would be required. Maybe an amplify plugin should be created to seamlessly integrate Serverless Framework sta

[2021-02-01 13:28] kjetilge commented on #5286
I had to resolve all the conflicts following a git merge. In this case I had to resolve conflicts with the updated team-provider-info.json file. But this happens any time conflicts aren't resolved.

[2021-02-01 13:45] mattlanham commented on #6481
Also experiencing this - surely those keys are stored in AWS and don't need to continually re-entered?

[2021-02-01 13:47] mattlanham commented on #6430
Also experiencing this issue, can't they be stored in AWS secrets manager or similar and referenced from there on a per app basis?

[2021-02-01 15:21] schorfi opened #6523 "How to reference AmplifyAppId inside CF-template for API Gateway"
Hello,
I am trying to reference ("Ref") the amplify application id related to of the current pulled backend environment inside the cloudformation template of an API-Gateway.
Is there a way to access this value? If yes, how?

For the bigger picture - I am trying to create an CORS allow origin header which will allow the amplify app deployment url; so that the app works together with its API GW.

Pl

[2021-02-01 16:32] CSTDev opened #6524 "Amplify Mock Can't list storage buckets or upload objects"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Trying to use the mock feature to run the application locally and upload a file to an S3 bucket.

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.41.2

**What AWS Services are you utilizing?**
Amplify

[2021-02-01 17:20] jhockett commented on #6518
Hi @elcain, can you try upgrading to the latest version of the CLI and see if you're still hit this error?

`npm install -g @aws-amplify/cli`

[2021-02-01 17:30] elcain commented on #6518
Hi @jhockett so I went ahead and upgraded. Now if I issue a command I get something that says:

`Amplify has been upgraded to handle secrets more securely by migrating some values in team-provider-info.json to deployment-secrets.js
on
You can create a back up of the team-provider-info.json file before proceeding.`

If I hit no, the command just stops. If I hit yes, I get another error:

`Error: Fi

[2021-02-01 17:32] sytolk opened #6526 "Amplify crash due to a cyclic dependency"
**Describe the bug**
Crash when I try to update functions permissions

**Amplify CLI Version**
4.41.2

**To Reproduce**
amplify update function

**Desktop (please complete the following information):**

- OS: Mac
- Node Version:
[amplify-cli-2021-02-01.log](https://github.com/aws-amplify/amplify-cli/files/5905580/amplify-cli-2021-02-01.log)
 v12.13.0

**Log output**
Include any relevant log output

[2021-02-01 17:40] jhockett commented on #6518
Here's the docs on describing the `parameters.json` file: https://docs.amplify.aws/cli/reference/files#parametersjson

Those files are used for passing in values to the cloudformation templates.

Can you try creating an empty json file and then see if that allows you to continue?
`echo '{}' > /Users/elijahcain/Documents/Sonar-current/amplify/backend/auth/sonarbdbce738/parameters.json`

[2021-02-01 17:50] jhockett commented on #6521
Hi @cosimtaiuz, did you run `amplify push` after `amplify add api`? Also please fill out the issue template so we can better debug what's happening:

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Screenshots**
If applicable, add screenshots to help explain your p

[2021-02-01 18:00] jhockett commented on #6526
Hi @sytolk, this could definitely use a better error message, but this is intentional behavior to prevent cyclic dependencies between resources.

[2021-02-01 18:10] sytolk commented on #6526
Hi @jhockett
I have clean setup and push from a cloud and try to update storage (remove guest access and to use trigger function) but the same error appears. What can be cyclic in dependencies??
![A24AF240-21FF-4E25-AE7A-38F954F979E3](https://user-images.githubusercontent.com/1415463/106499430-42fccd00-64c9-11eb-8fdd-2f7bb9132975.jpg)

Maybe this error happened after I set Auth Users and Guest acc

[2021-02-01 18:15] jhockett commented on #6526
@sytolk I see you chose an existing Lambda function above. Does that function have additional access permissions added to it?

[2021-02-01 18:20] sytolk commented on #6526
Yes its have Read/Write permissions to storage
[code]

[2021-02-01 18:21] jhockett commented on #6520
Hi @amirmishani, we don't currently have support for passing in values to the http directive. Marking this as a feature request.

[2021-02-01 18:24] kaustavghosh06 commented on #6507
@cmaycumber Got it. So what you're looking for is TS based template to get started with for Lambda functions?

[2021-02-01 18:27] mgacy commented on #5340
Using Node v14.4.0; I encountered this issue after an upgrade from 4.27 -> 4.41.2. Steps:

- modify schema and `CustomResources.json` on `dev` environment
- `amplify push` (no problems)
- `amplify env checkout master`
- `amplify status`

Notes:

- `amplify-meta.json` has the extra "providers.categories" key
- I used the same profile for both environments
- subsequent `amplify pull` did not resolve

[2021-02-01 18:37] erobertshaw commented on #202
Does anyone have a better solution than this that allows for "type" checking of required data?

Single table inheritance is what I'm looking for to use a ruby on rails term.

[2021-02-01 18:44] sytolk commented on #6526
If I remove Reac/Write permissions to function the cycling dependency not appears but I cannot access storage from the trigger function:

[code]

[2021-02-01 19:01] bfleming-ciena commented on #6159
I'm having a similar problem.  When I add a new lambda function I have to cd into the folder and run pipenv shell, then amplify push works.

So I have to have a separate pipenv virtual environment for EVERY lambda function?  Where are the docs on how to properly use pipenv and add a python lambda function with amplify. I should just be able to follow a doc and it should work.

[2021-02-01 19:50] akshbhu commented on #6526
Hi @sytolk

To add the Trigger you can do 2 ways:

1) Go through add storage flow and add the trigger from there. Make sure either its a new Trigger or existing Trigger that doesnt have dependency on storage(this means you havent selected resource access permissions for same storage on the function.)

2) Go through update/add function flow and in the advanced workflows : ```Resource access permiss

[2021-02-01 20:10] kaustavghosh06 commented on #5846
Closing due to lack of response and further communication.

[2021-02-01 20:10] #5846 closed

[2021-02-01 20:10] kaustavghosh06 commented on #5683
Closing due to lack of response and further communication.

[2021-02-01 20:10] #5683 closed

[2021-02-01 20:11] #4810 closed

[2021-02-01 20:12] kaustavghosh06 commented on #5485
Closing based on @Nxtra's response. @Ricardo1980 please let us know if you need more help around this.

[2021-02-01 20:12] #5485 closed

[2021-02-01 20:13] kaustavghosh06 commented on #5878
@PeteDuncanson Are you still stuck with this?

[2021-02-01 20:15] kaustavghosh06 commented on #6385
Closing due to lack of further communication.

[2021-02-01 20:15] #6385 closed

[2021-02-01 20:19] attilah commented on #6376
No, amplify projects are not using any informationg shared based on the profile selected.

Profile is used only to get credentials and region information that is configured locally on your machine.

Closing the issue as root cause for the original issue is not something we could fix and the follow-up questions were answered. If something new comes up feel free to open a new issue.

[2021-02-01 20:19] #6376 closed

[2021-02-01 20:23] sytolk commented on #6526
@akshbhu thanks but after 2. it will have circular dependency too. look at the log from my unit comment https://github.com/aws-amplify/amplify-cli/issues/6526#issue-798562357

[2021-02-01 20:38] akshbhu commented on #6526
HI @sytolk

I think you are doing ```amplify function update``` on a S3 Trigger already created via ```amplify add storage``` flow.

Apologies for the confusion. Those were two different ways to get a lambda access to storage.What I mean is either go through ```amplify add function``` flow and give access to storage or go through ```amplify add storage``` and select trigger from there.

[2021-02-01 21:11] jhockett commented on #6523
Hi @schorfi, to pass a Parameter to the cloudformation template, it needs the Parameter type listed in the template:

[code]

To pass in the appId to the template, add it to `team-provider-info.json`.

It would be at ${envName}.categories.${categoryName}.${resourceName}.${paramName}: ${myValue}

Something like:
[code]

Here's the official docs on refs: https://docs.aws.amazon.com/AWSCloudFormation

[2021-02-01 21:35] lr001dev commented on #6143
Any other thoughts on this?

[2021-02-01 21:51] jhockett commented on #6143
@lr001dev can you share the function's cloudformation template?

[2021-02-01 21:56] attilah commented on #5340
@cyrfer @mgacy do you have a current environment/files where you could reproduce it? and could share those files with the team?

[2021-02-01 21:56] cmaycumber commented on #6507
Yes, basically. It'd be nice to have the option built into amplify to add functions with a typescript configuration out of the box, but I understand that might be asking for a lot. I was simply trying to streamline the process of adding functions to avoid having to copy and paste the necessary files/re-setup the files every time.

It's not a huge priority, just an area where I thought the develope

[2021-02-01 22:09] mikeRChambers610 commented on #5380
I cant event update any of my @models with any new GSI or delete any old GSI because of this issue.

I am not sure what to do at this point.

[2021-02-01 22:12] lr001dev commented on #6143
I can, how should I send @jhockett ?

[2021-02-01 22:26] jhockett commented on #6143
@lr001dev copy + paste it here or you can email it to amplify-cli@amazon.com. If you choose email, please include the issue number in the subject. Please redact anything sensitive before sharing either way.

[2021-02-01 22:30] ericowhadi commented on #3371
I have the same problem deleting S3 trigger. It complain about dependency on S3 resources. I cannot remove s3 as it has production files in it.
I don t understand why removing an S3 trigger would require me to remove the s3 bucket all together. Look like the "dependency" property is not properly handled. S3 does not need S3 trigger to work, while s3 trigger need s3 to work. Deleting S3 should be b

[2021-02-01 22:33] lr001dev commented on #6143
I removed lambda role names as indicated by `""`

`{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Lambda Function resource stack creation using Amplify CLI",
  "Parameters": {
    "CloudWatchRule": {
      "Type": "String",
      "Default": "NONE",
      "Description": " Schedule Expression"
    },
    "env": {
      "Type": "String"
    },
    "apigrooveqlGraphQLAPIIdOutput": {

[2021-02-01 22:34] jhockett commented on #6466
Closing this issue. If you have any more questions, let us know and we can re-open

[2021-02-01 22:34] #6466 closed

[2021-02-01 23:18] derekrsargent commented on #2038
HI everyone, I had a similar issue where I thought aws-exports.js wasn't generating since I was getting a fatal error but it turned out I was being amateur.

During (excerpts only included),
[code]

So it was being generated into my src file and not at the top directory in my app, oops! So modify the path to below,

[code]

[2021-02-01 23:23] jhockett commented on #6478
Hi @vincent38wargnier. We're aware of this issue and are working with the service team to investigate it.

[2021-02-01 23:25] chris commented on #1102
+1 as well.

[2021-02-01 23:26] alexhouse opened #6531 "Cannot get resource: myFunctionName from 'function' category."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

Lambda functions (layers)

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

* 4.41.2

**What AWS Services are you utilizing?**

* API Gateway
* GraphQL API
* REST API
* Functions
* Hosting
* Cognito Au

[2021-02-01 23:26] jhockett commented on #6491
I'm investigating this issue @davidbiller. Can you please tell us about your use case?

[2021-02-01 23:32] jhockett commented on #6473
Hi @Jordan-Eckowitz, what you posted looks correct. We're investigating this.

[2021-02-01 23:41] mgacy commented on #5340
@attilah Sent requested files to amplify-cli@amazon.com

[2021-02-01 23:59] jhockett commented on #6531
Hi @alexhouse, what steps did you take during this step "I ended up deleting it from staging"?

[2021-02-02 00:04] iyz91 opened #6532 "Support Set Types in GraphQL Schema backed by DynamoDB"
**Is your feature request related to a problem? Please describe.**
For AppSync GraphQL API backed by DynamoDB, it can be useful and potentially more performant to allow sets (e.g. string set) for fields that fit.

**Describe the solution you'd like**
An ideal implementation would be some sort of directive like `@set` that would apply the correct DynamoDB helper inferred from the field type. For ex

[2021-02-02 00:17] cyrfer commented on #5387
@jhockett @renebrandel How do we start using this feature?

[2021-02-02 00:44] jhockett commented on #5387
Sorry for the confusion @cyrfer. The update has been merged, but it has not been released yet.

[2021-02-02 01:35] elcain commented on #6518
hmm ok when I go to the path up to `backend`, I actually don't have a `Auth` folder.

[2021-02-02 01:56] #5182 closed

[2021-02-02 01:57] #5204 closed

[2021-02-02 01:57] #5289 closed

[2021-02-02 01:59] #5404 closed

[2021-02-02 02:05] kaustavghosh06 commented on #5552
@PeteDuncanson The push times is dependent on the CloudFormation deploy times and it might take between 5-10 mins depending on the number of models and the number of resources being pushed.

[2021-02-02 02:06] jhockett commented on #6518
@elcain what categories are you trying to use? Did you delete anything manually?

[2021-02-02 02:07] #6017 closed

[2021-02-02 02:10] kaustavghosh06 commented on #6259
@iuyt9003 Are you still seeing this? We weren't able to reproduce this behavior on our side. Please let us know.

[2021-02-02 02:10] #6259 closed

[2021-02-02 02:20] SwaySway commented on #6265
Closing this issue in favor of the RFC: #6217.

[2021-02-02 02:20] #6265 closed

[2021-02-02 02:31] SwaySway commented on #4252
Closing this issue due to lack of response. Should you have any further issues please comment below to re-open.

[2021-02-02 02:31] #4252 closed

[2021-02-02 02:36] #6417 closed

[2021-02-02 02:36] #6508 closed

[2021-02-02 02:41] #6523 closed

[2021-02-02 03:17] kchaturanga commented on #6508
@akshbhu  It worked with the latest version, Sorry for the late update, And thank you for the rompt reply ..

[2021-02-02 06:54] sytolk commented on #6526
Hi @akshbhu
Yes I have done `amlify update function` and `amlify update storage` and I'm expecting that I can update function storage permissions later after `amplify add function/storage` and if this is not true? this is a new issue..
This is from amplify CLI help file:
[code]
Correct me if something miss me.. but I have not read that triggers and permissions of storage or function created with `

[2021-02-02 08:40] hursh-desai commented on #620
Am going through the same process now. Would love either better documentation that allows us to make our own custom triggers or some way to do this through the amplify CLI.

[2021-02-02 09:06] sytolk commented on #6526
I have use layer in my Triggered function and `s3.listObjectsV2()` is in my function layer. If its need to set storage permissions for this layer?

[2021-02-02 09:14] davidbiller commented on #6491
I know from google firebase that I can use any field/attribute as param, without to create a custom subscription in my schema.

I have several tables, since I am building a dashboard I would like to monitor for specific parameters for each table.

I have careers. Partners, Users.

Now I would like to monitor each table:
When a user starts a new career.
When he deletes it, updates it, etc.

The sam

[2021-02-02 10:06] ernestostifano commented on #5170
Sorry for the huge delay in my response (this is a little awkward, looking at the title of this issue). It seemed to me that the delay I was talking about was caused by the Lambda initialization time (the two Lambdas actually). After the first call, performance improves.

[2021-02-02 10:42] DavidAlvarado23 opened #6533 "Mocking a function with Fn::Select on env variables"
**Describe the bug**
When mocking a function to run it locally and it has set a env variable in the CloudFormation template with a Select statement like this:
[code]
Gives the following error:
**FN::Select expects list item to be an array instead got [3,{"Fn::Split":["-",{"Ref":"AWS::StackName"}]}]**

**Amplify CLI Version**
4.41.0

**To Reproduce**
Create a Lambda function with the Amplify CLI an

[2021-02-02 10:57] alexhouse commented on #6531
@jhockett removed any dependencies using `amplify function update` (manually had to remove the layer from any `dependsOn` blocks in `amplify-meta.json` as they weren't affected), and then `amplify function remove`

[2021-02-02 10:59] alexhouse commented on #6531
The only way I found to workaround this particular issue was to checkout my secondary environment, `amplify pull`, recreate any new functions I'd previously created & copy the code over from my other git branch, then repeat the steps I'd taken before - remove dependencies, manually edit `amplify-meta.json` and then `amplify function remove` again

[2021-02-02 11:38] PeteDuncanson opened #6534 "Make DataStore aware of switches between different backend environments (dev/live)"
**Is your feature request related to a problem? Please describe.**

When switching between dev/live backend environments (but keeping the same frontend code after a recompile) DataStore doesn't pick up the change so chokes (often shown as no data or errors in the console). We've been getting around this by deleting the IndexDB in the browser and refreshing.

**Describe the solution you'd like**

I

[2021-02-02 11:41] PeteDuncanson commented on #6481
@avlonder for what its worth my issue running init was often when pull failed so I think we are asking for the same thing. I'll make a note on issue #6430 to reflect we want both commands covered. Hows that?

[2021-02-02 11:44] PeteDuncanson commented on #6430
As mentioned by @avlonder in #6481 it seems ``amplify pull`` can ask for repeated credentials too, I could understand why as you might have different for different environments but could it not keep those separately keyed by environment. So if you switch to "dev" then it looks to see if it has any "dev" credentials, if so it uses them and if not then it can ask you for them. Think that would be a

[2021-02-02 11:49] teggno commented on #4469
I found that you can run `amplify codegen model` to re-generate the `index.d.ts` and the `schema.js`. The `model` option should be added to the docs of the `amplify codegen` command, I think.

[2021-02-02 11:50] schorfi commented on #6523
thank you, for the quick response
adding this does indeed works and I have seen the docs to Ref already; now I understood where this input is coming from

now, the AmplifyAppId is already inside of the envname.awscloudformation you showed above...
Is there a way to access this (maybe via Fn::Sub?) or reference it in the categories (to make it an input to the template)?

[2021-02-02 11:56] PeteDuncanson commented on #5878
@kaustavghosh06 well yes and I no. I think I have my answer.

I can't just get a new query added to the schema that I can see without diving into the world of VTL templates. That example in the docs here btw is terrifying and a total put off (https://docs.amplify.aws/cli/graphql-transformer/resolvers#add-a-custom-resolver-that-targets-an-aws-lambda-function) it just screams "go away this is nasty

[2021-02-02 12:04] PeteDuncanson commented on #6028
I think this one is fixed as I've not seen it for a while. Doing some thinking about why and all we can come up with is I cleared out node_modules to fix https://github.com/aws-amplify/amplify-cli/issues/6369#issuecomment-759058814 and think that cleared this error too.

As a result I think its now working and if anyone else has the same trouble they have a fix they can try. Thanks.

[2021-02-02 12:11] PeteDuncanson commented on #5552
@kaustavghosh06 well I guess that just is the way it is then. Thanks for getting back so I can manage my expectations.

Also thanks for getting #5553 looked at (and fixed).

Any chance you can do the same with #5981 which is also hindering mocking? :)

Also as mentioned in #5964 is there anyway you can limit what gets pushed up to speed up a push? It seems that it almost seem to redeploy everythin

[2021-02-02 12:11] #5552 closed

[2021-02-02 13:30] oahmaro commented on #4427
When the Pre sign up hook run it will just create the link but then users will have to sign in again in order to complete the process and this run in two steps, how can i sign in user with external provider right after the link is complete?

[2021-02-02 14:18] ecerulm commented on #5513
As far as I understand the `aws configure` is just guides you into:
* Login to AWS Management Console
* Create a IAM user, for programmatic access with AdministratorAccess,
* Create a [local named profile] for aws cli

So the net result of `amplify configure` is just a new aws-cli's named profile, you can create the named profile yourself and skip the `amplify configure` entirely.

I believe the w

[2021-02-02 15:18] ianmartorell commented on #4427
I ran into the same issue and explained my workaround in the first bullet point here: https://github.com/aws-amplify/amplify-cli/issues/4427#issuecomment-718549881.

[2021-02-02 15:31] oahmaro commented on #4427
Can you please be more specific on how you are catching this error on the Frontend? since using the Amplify api will force a redirect and the error wont be presented on the function that triggered the sign in.

Thanks

[2021-02-02 16:47] Nxtra commented on #5485
I worked out the following procedure. Let me know if this is what you are trying to accomplish.

Goal: Create a Lambda Resolver with a custom Request and Response Mapping Template

Steps:
1. `schema.graphql`
[code]

2. Lambda function:
* `amplify add function`
* name of the function: `saveVisit`
* content of the function, here dummy content to show different behavior:
[code]
Attention here: ```res

[2021-02-02 16:54] xitanggg commented on #4427
The exact implementation varies based on the front end framework you use and the error message you throw. The high level idea is that
1. Once the native user is created and linked with the external provider, it throws an error to the front end. The error appears as a query parameter in the url, like this `?error_description=LINKED_EXTERNAL_USER_{providerName}`
2. You can create something that moni

[2021-02-02 17:22] akshbhu commented on #6524
Hi @CSTDev

We currently don't support go SDK for amplify mock storage. we only support (Javascript, android, ios).

One thing you can try in addition to the code you shared above is setting ```S3ForcePathStyle``` to true in the config. This will force S3 to use PathStyleURL like this ```http://localhost:20005/<bucketname>-dev```.
You can find more documentation here: https://docs.aws.amazon.com/s

[2021-02-02 17:28] akshbhu commented on #6225
Closing this as there is no activity. Feel free to comment if you have any question regarding this and I will reopen it again.

[2021-02-02 17:28] #6225 closed

[2021-02-02 18:07] akshbhu commented on #6526
Hi @sytolk
You can add this to the S3 Template. Make sure to add the diff as , PUT/GET actions might already be present in the template.
[code]
Also check this comment: https://github.com/aws-amplify/amplify-cli/issues/5528#issue-717324358 for more details.

[2021-02-02 18:21] a-h commented on #2512
Really unhappy that I can't use a Lambda to do this, I also wasted a few hours trying to make Lambda work, wondering why I couldn't find any documentation on how to handle subscriptions in Lambda, and how to filter subscriptions to users to ensure that they don't receive information that they're not subscribed to, or don't have access to view.

I'm now planning to use API Gateway Web Sockets direc

[2021-02-02 20:03] elcain commented on #6518
@jhockett I don't believe I deleted anything manually. I am using the Amplify Auth library, but not in the branch. I switched to my branch where I am using the Auth library and even there I do not have a `Auth` folder.

[2021-02-02 22:28] Coteh opened #6535 ""amplify env add" asks "Do you want to use an existing environment?""
When I enter `amplify env add` or `amplify env add <env name>` it first asks "Do you want to use an existing environment?" If I say yes, and select an environment, it will just use that environment and not create a new environment. I personally believe this is counter-intuitive. It should immediately just ask you for the name of the new environment. If I wanted to use an existing environment, I wo

[2021-02-03 04:04] ammarkarachi commented on #6518
@elcain Do you have a json structure that looks like this in you `team-provider-info.json`?

[2021-02-03 07:15] #6524 closed

[2021-02-03 07:17] #5041 closed

[2021-02-03 07:17] #5168 closed

[2021-02-03 07:18] #6110 closed

[2021-02-03 07:19] #6498 closed

[2021-02-03 07:22] kaustavghosh06 commented on #4450
Transferring it to the JS repo to investigate if there's a way to pass in Cognito user information and endpoints to the pinpoint service using the Analytics category.

[2021-02-03 08:39] 0cv commented on #3812
Spent quite some time and I figured out where it is. There is a file called `local-env-info.json` where the path to the project is configured. This is the file which needs to be updated when the path of the repo change. Now `amplify push / publish` works again
![image](https://user-images.githubusercontent.com/1253866/106720247-852a2980-6603-11eb-83f7-141791d466f6.png)

[2021-02-03 08:44] navaid7890 commented on #6357
@dabit3 I tried above solution but still the issue is not resolved,
I am using the amplify version 4.41.2

![Screenshot from 2021-02-03 13-42-27](https://user-images.githubusercontent.com/26667775/106720879-cf240700-6625-11eb-8a05-865aa4c013ce.png)

[2021-02-03 09:16] oahmaro commented on #4427
Testing @xitanggg  implementation i sometimes get the following error when first signup with google `"Invalid SourceUser: Cognito users with a username/password may not be passed in as a SourceUser, only as a DestinationUser"`

[2021-02-03 11:59] gruckionvit commented on #4607
When I modify the `tags.json` file and run `amplify push` there are no detected changes.

[2021-02-03 12:05] kylekirkby opened #6536 "I can no longer pull my amplify env - Failed to communicate with the Amplify CLI"
**Describe the bug**
It appears that something has changed with the way `amplify pull` work as I can no longer pull an env.

**Amplify CLI Version**
4.41.2

**To Reproduce**

Create an empty directory.  Run `amplify pull --appId YOUR_API_ID --envName develop`
Whatever has been changed recently with the Admin UI has broken the ability to pull down our environments... We are now greeted with this:

[2021-02-03 12:11] pcolmer commented on #6536
This seems related to https://github.com/aws-amplify/amplify-adminui/issues/84 but that issue has been closed. Clearly there is still an issue ...

[2021-02-03 12:28] amcdnl commented on #4994
For others who are encountering this problem, here is my code result:

[code]

[2021-02-03 14:40] prashanthravir commented on #6515
I am as we'll facing the similar issue in android.
When I create s3 from amplify CLI using: amplify add storage .. everything works fine and I can upload files.
But importing an existing S3 bucket via amplify import storage in CLI and uploading the file to S3 is throwing me the below error,

 StorageException{message=Something went wrong with your AWS S3 Storage upload file operation, cause=com.am

[2021-02-03 17:36] hisham opened #6537 "Are union types supported in schema.graphql and amplify mock?"
**Which Category is your question related to?**
graphql api

**Amplify CLI Version**
4.41.2

If I specify this type of Union in schema.graphq:

`union Media =  Video | Image | Link`

And I run amplify mock, I get the following warning:

`Type "Media" is missing a "__resolveType" resolver. Pass false into "resolverValidationOptions.requireResolversForResolveType" to disable this warning.`

What doe

[2021-02-03 18:14] CSTDev commented on #6524
Thanks @akshbhu That did in fact work. Much appreciated.

[2021-02-03 18:58] michaelbrewer commented on #5566
Thanks @heitorlessa for offering an ear for this.

I do like how sam can bootstrap a lambda with the build tools and sample code:

[code]

Maybe this can be an option @kaustavghosh06 . When can we expect to at least not bring the whole virtual env with the lambda?

[2021-02-03 19:15] iurquiza opened #6538 "Give option to push without first pulling the `#current-cloud-backend` as well as to disable overwriting changes in `backend` when push fails."
**Is your feature request related to a problem? Please describe.**
I am always frustrated to have my CloudFormation changes overwritten or reverted whenever a push fails.

**Describe the solution you'd like**
Please give the option to push without first pulling the `#current-cloud-backend` directory from S3 by passing a flag or parameter with the `push` command. Keep the current behavior as defaul

[2021-02-03 19:23] jhockett commented on #6538
Hi @iurquiza, can you elaborate on why you are looking for these changes and what your use case is?

[2021-02-03 19:25] jhockett commented on #6536
Hi @kylekirkby, this is due to a bug in WSL that prevents the browser from sending a request to localhost running in Ubuntu from Windows. See this [issue](https://github.com/aws-amplify/amplify-adminui/issues/35) for more context.

[2021-02-03 21:14] BrianMagus opened #6540 "Expected scalar and got S3Object - S3Object resolves to scalar types?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

GraphQL

**Amplify CLI Version**

4.41.2

**What AWS Services are you utilizing?**

API

**Provide additional details e.g. code snippets**
So, i've got this type for storing and referencing files in s3:
[code]
each field resolves to a scalar type Stri

[2021-02-03 21:37] iurquiza opened #6542 "Distinguish between `providerName` and `providerType`"
Relevant file: ` amplify-cli/packages/amplify-category-auth/resources/cloudformation-templates/auth-template.yml.ejs`

**Is your feature request related to a problem? Please describe.**
I would like to be able to distinguish the 'providerName' from the 'providerType' by passing an additional property in `hostedUIProviderMeta`.

**Describe the solution you'd like**
Example:
- Add functionality to a

[2021-02-03 22:04] BrianMagus commented on #6540
Playing with the schema a bit at a time to see when this happens, it appears that as soon as I start adding connections with keys, I get this error. For example, in the above referenced code, if my 'PenName' object looks like this:
[code]
and the referenced StoryWorld looks like this:
[code]
everything is fine.

If, however, I add an appropriate connection between PenName and StoryWorld:
[code]
I

[2021-02-03 22:06] iurquiza commented on #6538
Sure! Most of the time the CloudFormation template generated by the Amplify CLI is adequate to provision your resources as desired, but there are times when you want to customize the CloudFormation template itself and not just update the parameter. As you can imagine editing CloudFormation templates is not error proof, so when deploying your customized template there can be issues that cause the `

[2021-02-03 22:26] wethanet commented on #5627
Access to and configuration of secrets manager from amplify would be a great help

[2021-02-03 22:49] enleet commented on #6515
well it has been five days now and we still didn't get an answer !

[2021-02-03 23:00] kaustavghosh06 commented on #6536
@kylekirkby  The workaround right now for WSL is what you've mentioned in https://github.com/aws-amplify/amplify-adminui/issues/84#issuecomment-772466619

We're tracking this as a part of this issue https://github.com/aws-amplify/amplify-adminui/issues/35 @pcolmer

Also, the next release of the CLI will provide options to select from AWS profile/access-keys/Admin UI if you don't wish to authentica

[2021-02-03 23:00] #6536 closed

[2021-02-03 23:03] kaustavghosh06 commented on #6538
@iurquiza The pull command should only touch your #current-cloud-backend directory and the changes you make to your `amplify/backend` directory would remain intact. Are you modifying the  #current-cloud-backend directory or the amplify/backend directory?

[2021-02-03 23:05] kaustavghosh06 commented on #6521
@cosimtaiuz Did you add the @auth rules to your models in the schema?

[2021-02-03 23:09] jhockett commented on #6515
Hi @enleet and @prashanthravir, did you follow this [guide](https://docs.amplify.aws/cli/storage/import#configuring-iam-role-to-use-amplify-recommended-policies) from the docs?

[2021-02-03 23:11] enleet commented on #6515
Yes  I did

[2021-02-03 23:13] #6302 closed

[2021-02-03 23:14] jhockett commented on #6515
@enleet did you also import auth, or `amplify add auth`?

[2021-02-03 23:18] enleet commented on #6515
add auth .. should it be import auth ?

[2021-02-03 23:25] kaustavghosh06 commented on #1276
@MatteoInfi You can do this based on what @jarrettj mentioned here - https://github.com/aws-amplify/amplify-cli/issues/1276#issuecomment-486581679

[2021-02-03 23:25] #1276 closed

[2021-02-03 23:26] #1628 closed

[2021-02-03 23:27] ammarkarachi commented on #5982
@konichar What's your IAM policy? does it include`lambda:InvokeFunction` policy?

[2021-02-03 23:32] jhockett commented on #6515
Both options are fine, I'm just trying to determine the root cause. Can you share a code snippet of where the error occurs?

[2021-02-03 23:33] kaustavghosh06 commented on #6515
@enleet Also, did you enable unauthenticated access in the add auth flow?

[2021-02-03 23:35] enleet commented on #6515
sure ..im not near my desk now .. in an hour

[2021-02-03 23:35] enleet commented on #6515
yes

[2021-02-03 23:39] kaustavghosh06 commented on #3369
@arkllc I believe you can leverage this community created @auto transformer for auto-generating certain fields or create your own custom transformer based on your requirements on the fields.
@auto directive 3rd party plugin reference - https://github.com/hirochachacha/graphql-auto-transformer

[2021-02-03 23:39] #3369 closed

[2021-02-03 23:42] kaustavghosh06 commented on #6515
@enleet Please share the code-snipper + complete error stack. Which SDK/Library are you using on the client?

@prashanthravir Your stack trace mentioned - `Caused by: com.amazonaws.services.cognitoidentity.model.NotAuthorizedException: Unauthenticated access is not supported for this identity pool` which can potentially be resolved by running `amplify update auth` and enabling unauthenticated acce

[2021-02-03 23:43] jhockett commented on #6540
Hi @BrianMagus,

You can't use `@auth` on a type without `@model`.

[2021-02-03 23:50] iurquiza commented on #6538
@kaustavghosh06 Let me try to reproduce the issue and update the steps here. Thank you.

[2021-02-03 23:56] kaustavghosh06 commented on #6464
@normeno-dg Were you able to get around this? It seems like a network connectivity issue to me in the first glance. Are you on a VPN?

[2021-02-04 00:33] ammarkarachi commented on #4928
This is something we are tracking in an overall rework for [Lambda Layer Improvement](https://github.com/aws-amplify/amplify-cli/projects/14 ) There is a similar issue targeting this problem tracking #5072

[2021-02-04 00:33] #4928 closed

[2021-02-04 00:47] enleet commented on #6515
**The code in swift is :**

 func upload()

    {
             let dataString = "My Data"
        let data = dataString.data(using: .utf8)!

        Amplify.Storage.uploadData(key: "testFile", data: data, options: nil) { result in
                switch result {
                case .success:
                    print("uploaded succeeded")

                   // self.fetchCurrentAuthSession();

[2021-02-04 01:12] elcain commented on #6518
@ammarkarachi it does have that json.

[2021-02-04 01:15] kaustavghosh06 commented on #4109
@isheejong You can use `@model (mutations: null,queries:null, subscriptions: null)` to not create queries/mutations/subscriptions for a model.

[2021-02-04 01:15] #4109 closed

[2021-02-04 01:16] #4140 closed

[2021-02-04 01:25] kaustavghosh06 commented on #4644
@toritroniks Did you consider modifying the generated CloudFormation files located inside the `amplify/hosting/<resource-name>` directory for this? Did you run into roadblocks while customizing the generated CloudFormation file?

[2021-02-04 01:27] #6089 closed

[2021-02-04 01:31] kaustavghosh06 commented on #6014
@wisammechano This is a great use-case for a custom transformer/plugin.
You can take a look at some of the community plugins/transformers which solve similar issues:
https://github.com/flogy/graphql-ttl-transformer
https://github.com/hirochachacha/graphql-auto-transformer

[2021-02-04 01:31] #6014 closed

[2021-02-04 01:32] #6155 closed

[2021-02-04 01:34] kaustavghosh06 commented on #6409
This seems a duplicate of https://github.com/aws-amplify/amplify-cli/issues/6164 and was fixed with CLI v4.40.1

[2021-02-04 01:36] ammarkarachi commented on #6409
@mtaufiq81 Sorry about the delay on getting back to you, Can you share your schema? I will take a look

[2021-02-04 01:40] #6194 closed

[2021-02-04 01:40] kaustavghosh06 commented on #6245
Closing due to lack of further communication.

[2021-02-04 01:40] #6245 closed

[2021-02-04 01:41] kaustavghosh06 commented on #6171
Closing in favor of a dup issue which we're tracking for this: #4568

[2021-02-04 01:41] #6171 closed

[2021-02-04 01:46] ammarkarachi commented on #6406
@sonisourabh If you are able to can you send us your amplify folder to amplify-cli@amazon.com look into this further. Be sure to include the issue number in the subject

[2021-02-04 05:52] xitanggg commented on #4427
@oahmaro Interesting, this is my implementation and I haven't encountered this issue. I am not sure what might cause it but I would suggest `console.log` various variables in each stage of the code to trace down what might cause it. Would be interested to see what you find out.

[2021-02-04 07:15] AzherAleem commented on #1549
@Nagasai97  How will you specify the environment name along with the bucket name since we can have the same bucket for different environments like 'storage-bucket-dev' and 'storage-bucket-staging'. How will you get the environment name at the front end?

[2021-02-04 08:24] THPubs commented on #4427
@oahmaro I also faced the same issue. But later found out that I already had an account in Cognito with the Google account I'm trying. I tried to signup before setting up the pre signup hook. You'll have to clear them out before trying this.

[2021-02-04 08:56] oahmaro commented on #4427
hi @xitanggg , can you please share your implementation on post authentication trigger to fix facebook signing overriding the email_verified value?

This would help me a lot as i am not familiar with Cognito API

[2021-02-04 08:58] oahmaro commented on #4427
Well not really, this issue happens to me even if i don't have any account, i am still investigating the cause

[2021-02-04 09:02] ianmartorell commented on #4427
I was getting this too! It drove me insane for days, I checked the API calls over and over and I was definitely passing Cognito user  as a DestinationUser. In the end it stopped happening, and as weird as it sounds I think it was because I increased the CPU and memory used by the lambda functions. I did it through editing the CloudFormation templates, I can check what I changed exactly in a few ho

[2021-02-04 09:09] THPubs commented on #4427
@oahmaro You can verify the email in the pre-signup hook right after linking the accounts like this:

[code]

To confirm and enable the user account, you can do the following:

[code]

Make sure you set the proper permissions in the cloudformation-template.json:

[code]

[2021-02-04 09:12] oahmaro commented on #4427
Hi @ianmartorell this would help a lot. Thanks

[2021-02-04 09:33] ianmartorell commented on #4427
So basically in my PreSignup template I have this:

[code]

Note that although this increases memory usage and it sounds like your functions will be more expensive, they actually run a lot faster because CPU speeds are tied to memory size in lambda functions, and the faster they run the cheaper they are. I haven't run actual benchmarks, but the speed increase was reeeally noticeable in my PostAuth

[2021-02-04 09:49] oahmaro commented on #4427
@ianmartorell  this seems to fix the issue, speaking of speed this whole signup trigger takes 15 seconds to sign in user in the first time, and 8 seconds after account is linked, which seems to be long. anyone tested the time it takes?

[2021-02-04 10:21] mtaufiq81 commented on #6409
The schema was same as before didn't change anything special however, can't share the schema. But this issue was not with the schema but some half build process which corrupt the #current_backend stacks.

[2021-02-04 10:22] #6409 closed

[2021-02-04 10:31] oahmaro commented on #4427
Actually nevermind my metrics as they are inaccurate, after building my app app it actually was much faster.

[2021-02-04 11:25] AzherAleem opened #6547 "Amplify storage add prefix for lambda trigger"
**Is your feature request related to a problem? Please describe.**
I have an s3 bucket created via Amplify Storage command and I've added a lambda trigger on the put operation. I am uploading content(video & Images) in the s3 bucket with level as 'protected' as per the amplify documentation:

[](https://docs.amplify.aws/lib/storage/download/q/platform/js#file-access-levels)

As per the documentati

[2021-02-04 12:11] prashanthravir commented on #6515
@kaustavghosh06  thanks I enable unauthenticated access for the Cognito identity pool created when importing S3.
But now I am getting the below error,
2021-02-04 17:37:12.482 20807-20807/com.example.seki E/MyAmplifyApp: Upload failed
    StorageException{message=Something went wrong with your AWS S3 Storage upload file operation, cause=com.amazonaws.services.s3.model.AmazonS3Exception: Access Deni

[2021-02-04 12:37] iurquiza commented on #6538
I am going to have to investigate this further, but there is definitely something strange going on.
Here are some of my observations:
- The issue does not happen consistently.
- When the issue does happen, the backed CloudFormation template's contents don't match what is in the repository's remote branch, so we can most likely dismiss a `git pull`, `git checkout`, or `git reset` being the culprit.

[2021-02-04 14:16] ericowhadi commented on #5728
can you remind me what is the command to run to update amplify? the "updateCommand" broken string

[2021-02-04 16:05] iuyt9003 commented on #588
I finally resolved it!!!!!! without removing the API or thing like that.

basically, whats happening is that your amplify is went out of sync,
you have in your schema.graphql a custom function with the directive @function(name: "anyname-${env}")
and you have deleted the function, and now you trying to return a deleted function, which breaks sync of the amplify.

in order to fix that :
1. You need

[2021-02-04 16:57] xitanggg commented on #4427
Haha, good catch @ianmartorell! I actually suspect memory might be the cause, but wasn't 100% sure. I always have my lambda memory size up, in this case to 512MB `"MemorySize": "512"`, so I never actually encounter what you two encounter, got lucky.

The default lambda memory size is 128MB, which is stupid, because the `aws-sdk` is 57.9 MB big. I suspect it might run out of memory using it therefo

[2021-02-04 16:58] n3b opened #6546 "Unable to push new env due to undefined resources"
**Describe the bug**
I have an existing env with auth, api, hosting and functions. I want to create a second env.
According to docs calling `amplify env add` and `amplify push` should be sufficient.
However amplify push fails complaining about undefined resources (user pool and rds, like: `Template error: instance of Fn::GetAtt references undefined resource auth******`) even though auth and api ar

[2021-02-04 17:24] ammarkarachi commented on #6467
@rigalpatel001 There are two approaches to doing this

1. Write a [customer resolver](https://docs.amplify.aws/cli/graphql-transformer/resolvers#custom-resolvers)
2. You could also write a simple lambda function that invokes the query and filters based on the criteria you want

Let me know if this helps

[2021-02-04 17:24] #6467 closed

[2021-02-04 17:39] hisham opened #6548 "amplify mock not setting API_*_GRAPHQLAPIENDPOINTOUTPUT env var correctly in lambda resolver"
**Describe the bug**
I have a graphql lambda resolver that as part of its processing does a create mutation via the same graphql API.

I am currently testing this lambda resolver via amplify mock. Everything works until the lambda attempts to do a graphql mutation.

The error I get is the following:

[code]

Looking at the url above, it is supposed to be http://192.168.86.25:20002 since I am runni

[2021-02-04 18:30] hogarthww-labs commented on #3326
Just added a category for SQS consumer/publisher subscribing to SNS topic. The consumer SQS triggers a lambda.

https://github.com/hogarthww-labs/amplify-category-sns-sqs-lambda

[2021-02-04 19:30] dcfranca opened #6549 "How to publish binaries with lambda functions via Amplify-cli"
**Which Category is your question related to?**
Functions

**Amplify CLI Version**
4.41.2

**What AWS Services are you utilizing?**
Lambdas using Python3

**Provide additional details e.g. code snippets**
Hi,
I was using a lambda function to trigger a mediaConvert job, that was transcoding the video and generating thumbnails
However, I decided to drop the transcoding, I was expecting that I still

[2021-02-04 19:35] #6549 closed

[2021-02-04 19:44] ahtokca commented on #5152
Which behavior is guaranteed? Is there any way to have optional connections?

[2021-02-04 20:54] oookoook commented on #5901
Node 14 runtime is available in AWS Lambda since yesterday: https://aws.amazon.com/blogs/compute/node-js-14-x-runtime-now-available-in-aws-lambda/

[2021-02-04 20:58] kaustavghosh06 commented on #5901
We're actively looking into this. cc @attilah

[2021-02-04 23:44] isbkch commented on #6164
Issue still present, I'm running 4.41.2
I'm getting the same error when I run `amplify api gql-compile`
Is there anyway to make the error message more clear ?

[2021-02-04 23:45] #6357 closed

[2021-02-04 23:50] kaustavghosh06 commented on #6268
This has been fixed as a part of #6442 and would be a part of our next release.

[2021-02-04 23:50] #6268 closed

[2021-02-04 23:59] kaustavghosh06 commented on #6173
@fjnoyp I'm not sure about the issue. Do you have a REST API or a GraphQL API?
Can you show us the result in your terminal for `amplify status`.

[2021-02-05 00:02] renebrandel commented on #6148
Hi closing this as a dupe and a feature request for the GraphQL transformer v2. https://github.com/aws-amplify/amplify-cli/issues/6217#issuecomment-748530413

[2021-02-05 00:02] #6148 closed

[2021-02-05 00:10] renebrandel commented on #6214
@Stvad - we've updated the CLI flow to accommodate that. Can you update to the latest CLI version and reproduce this issue again?

[2021-02-05 00:13] #6255 closed

[2021-02-05 00:17] #5789 closed

[2021-02-05 01:02] imers opened #6552 "import auth when Unauthenticated role is not assigned"
**Describe the bug**
Unauthenticated role in identity pool could be empty. However when it's empty, "import auth" would pop up error:
_Cannot parse arn: 'undefined'.
Error: Cannot parse arn: 'undefined'._

**Amplify CLI Version**
4.41.2

**To Reproduce**
amplify import auth

**Expected behavior**
Explain why it cannot process or ignore the Unauthenticated role when it's empty.

**Desktop (please c

[2021-02-05 02:05] frankclaassen commented on #6416
Can you guys also please advise / or add a way to invoke lambda function in amplify without having to use a rest api or provide a way to extend the timeout on api calls?  The current functionality available does not cater for the requirement to invoke potentially long running functions that process a lot of data.  The only option I see for this is to trigger the lambda function somehow which isn't

[2021-02-05 02:15] kaustavghosh06 commented on #6416
@frankclaassen You can modify the generated CloudFormation file located in `amplify/backend/function/<resourc-name>` directory and increase the default timeout from 30 seconds to a max of 15 mins. Also, we released Fargate task support a couple of weeks ago to account for long running tasks - please go through our docs here - https://docs.amplify.aws/cli/usage/containers

[2021-02-05 02:33] kldeb opened #6553 "Sorting on createdAt and updatedAt in search query results in 0 results returned when records are expected"
**Describe the bug**
Sorting a search query from `@searchable` on the type with a sort field of updatedAt or createdAt results in 0 results when fields are populated with data.

**Amplify CLI Version**
4.41.2

**To Reproduce**
1. create a type with `@searchable`
2. push
3. run query from front end or appsync with no sort and see results
4. add sort for updatedAt or createdAt and see no results (ot

[2021-02-05 02:57] kaustavghosh06 commented on #6548
@hisham So you have a Lambda resolver as a part of your schema which is calling the GraphQL endpoint as well?
Currently we don't set any environment variables locally for you - but you can set it locally as a process environment for local mocking purposes. We're working on a larger project for setting environment variables locally for lambda functions - cc @edwardfoyle

[2021-02-05 03:00] hisham commented on #6548
Yes that's correct. Ok I'll try your suggestion next time I use amplify mock.

[2021-02-05 04:05] ShengHow95 opened #6554 "amplify codegen add with all configs in a single command or read configs from a local file"
**Is your feature request related to a problem? Please describe.**
My project now is creating multiple AppSync GraphQL API resources with `schema.graphql` using Cloudformation template. This `schema.graphql`  file is passed to my frontend hosted on Amplify (not using `amplify init`). It was possible to run `amplify codegen add` without the need to run `amplify init` and `amplify configure` in a fo

[2021-02-05 04:28] Nagasai97 commented on #1549
@AzherAleem I think you need to have multiple config files,differentiating with both environments and from their u need to use the bucket name....(I'm not sure)
Thankyou

[2021-02-05 06:40] frankclaassen commented on #6416
@kaustavghosh06 hi, increasing the lambda timeout doesn't help when API gateway has a 29 second timeout limit.  The API gateway call is the problem with timing out so I need a way to directly invoke the lambda function from within amplify

[2021-02-05 06:43] frankclaassen commented on #6416
From my understanding, amplify API is a wrapper over aws-sdk but it does not have the Invoke function wrapped for use???

[2021-02-05 09:26] enleet commented on #6515
Hello..

any other suggestion pls ?

[2021-02-05 09:27] ahtokca commented on #5387
@jhockett,  any hints when it will be released?

[2021-02-05 12:23] evrardts commented on #5100
@akshbhu can you please specific how to get this ARN? Or give an example? Thanks a lot!

[2021-02-05 14:42] ShehryarKh opened #6555 "updated amplify now getting "No api-key configured" when trying to log in with cognito"
**Describe the bug**
A clear and concise description of what the bug is.

updated amplify-vue-ui from ^0.2.29 to 0.2.31
updated "aws-amplify": "^3.3.10"to "^3.3.16"

Users are unable to login via

[code]

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
4.40.1
**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Expect

[2021-02-05 14:46] ShehryarKh commented on #6555
I have tried  amplify update api & [this](https://github.com/aws-amplify/amplify-cli/issues/1450)

[2021-02-05 15:15] PeteDuncanson commented on #6028
This just happened again, if I close schema.json file in VSCode I can push. Weird.

[2021-02-05 15:37] yaquawa commented on #3248
Why this still not be fixed?!!

[2021-02-05 15:51] ShehryarKh commented on #6555
when i try to checkout to a different env:
[code]

[2021-02-05 16:40] ammarkarachi commented on #6430
@PeteDuncanson this looks like an issue on the CLI will mark this as a bug

[2021-02-05 17:15] r0zar commented on #5387
:man_dancing:

[2021-02-05 17:25] unclejustin opened #6556 "Example of mocking function with post method"
**Which Category is your question related to?**

Mocking functions

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

4.41.2

**What AWS Services are you utilizing?**

Functions

**Provide additional details e.g. code snippets**

This site: https://docs.amplify.aws/cli/restapi/testing#test-the-api-with-amplify-mock has an example json for GET reques

[2021-02-05 17:40] wvidana opened #6557 "Amplify push not updating cloud resources with GraphQL API auth changes"
**Describe the bug**
Some auth settings on my GraphQL schema are not generated correctly in the AppSync schema after a push. We have 2 AWS accounts (dev and prod), which both had just a recent deploy from the AWS Amplify console (set to track the `master` branch on our repo).

The autogenerated schemas that are displayed in the AppSync console are different. Some types are missing the @aws_iam tag

[2021-02-05 18:03] kaustavghosh06 commented on #6557
@wvidana For the issue with your dev account - if you choose IAM as your default auth type - and if that's the only auth type is use then the generated AppSync schema doesn't need to have the @aws_iam directly set to it - the types are auto-protected by the default auth type which would be IAM in your case.

For the type S3Object, I don't believe we inherit the auth tag from the parent model. If y

[2021-02-05 18:07] kaustavghosh06 commented on #6552
@imers For the CLI to work correctly with other categories in the CLI when importing auth - we need an unauth role defined tied to the imported cognito identity pool. That's a requirement for now.

[2021-02-05 18:07] #6552 closed

[2021-02-05 18:08] kaustavghosh06 commented on #6555
@ShehryarKh Are you using Admin UI to authenticate your CLI credentials?

[2021-02-05 18:13] jhockett commented on #6555
Hi @ShehryarKh,

This is a bug. You can workaround it for now by running:

`amplify logout --appId <your-app-id>`
answer n to prompt

`amplify configure --appId <your-app-id> --envName <your-environment-name>`
Follow admin UI login steps in the browser

[2021-02-05 18:16] ShehryarKh commented on #6555
@kaustavghosh06 thats a good question, i dont recall setting that up, how can i confirm?

[2021-02-05 18:18] edwardfoyle commented on #6556
@unclejustin The second payload you have is correct, you just need to set the content type to "application/json":
[code]
Details on the API Gateway event can be found here: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html

[2021-02-05 18:19] #6556 closed

[2021-02-05 18:39] nikhname commented on #6190
@gwasserman4856 did you face this again with CLI version 4.41.2? We will work on providing better error logging related to profile configuration and publish.

[2021-02-05 18:52] ShehryarKh commented on #6555
@jhockett That fixed the checkout to different env. Thanks. I have yet to figure out why i am getting this No api-key configured response when trying to logIn via `Auth.signIn`

[2021-02-05 19:41] akshbhu commented on #6203
Hi @krikork

CLosing this as duplicate of #6113. We have raised a PR for this issue and it will be available in next release.

[2021-02-05 19:41] #6203 closed

[2021-02-05 20:18] gotgenes opened #6558 "Running Lambda function locally that uses DynamoDB table provided by GraphQL model"
**Which Category is your question related to?**

amplify mock

**Amplify CLI Version**

4.41.2

**What AWS Services are you utilizing?**

* Amplify
* DynamoDB
* Lambda

**Provide additional details e.g. code snippets**

I am trying to use `amplify mock` to run a Lambda function created with `amplify add function`. The function writes an item to a DynamoDB table. The table is generated from a Graph

[2021-02-05 20:21] hisham commented on #6548
@kaustavghosh06 running the following does not work:

`API_<myapi>_GRAPHQLAPIENDPOINTOUTPUT=http://localhost:20002 amplify mock`

It seems the amplify mock code overrides it with the incorrect url.

I would have to set this env var in the lambda code instead, and then remove it when I do amplify push. Is there a way within lambda to know if it's in a mock environment? I see you set ENV to NONE and

[2021-02-05 20:31] gbumgard commented on #1546
Yes it is. :b Been fighting my way through Amplify for weeks now. I can't imagine adding the ability to specify the login options in the cli would be that difficult. I have found myself editing the amplify-generated stacks for all sorts of reasons and it is a total PITA to find that some changes are overwritten on update. The most common changes I have to make mostly involve IAM roles and permissi

[2021-02-05 20:55] edwardfoyle commented on #6533
@DavidAlvarado23 this is a bug. Looks like in mock we don't currently have logic to handle parsing the second value in select if it's not already an array: https://github.com/aws-amplify/amplify-cli/blob/9acdc7e5b8aebc1fcbcd43e25c0fcdd5842f2427/packages/amplify-util-mock/src/CFNParser/intrinsic-functions.ts#L126

[2021-02-05 20:58] CharlieDigital commented on #2189
Am I confused?  This doesn't even seem like a viable solution for any application that needs a modicum of privacy and security.

[2021-02-05 20:59] kaustavghosh06 commented on #1546
@gbumgard Could you please talk about the use-case as to the reasons you're modifying the IAM roles and which specific CloudFormation resources that you're modifying?

[2021-02-05 21:11] kaustavghosh06 commented on #6555
Transferring the issue to the Amplify JS repo to tackle the Auth.SignIn() issue.

[2021-02-05 21:23] kaustavghosh06 commented on #6436
@xitanggg  Did you get a chance to test out @xitanggg's recommendation?  Did that fix the issue?

[2021-02-05 21:27] kaustavghosh06 commented on #5981
@PeteDuncanson Yes, unfortunately @searchable is not currently supported with mock. But as you recommended, we can potentially ignore @searchable and do the same mocking with local DDB as we do without @searchable - but then the queries (with searching and sorting from the client) won't potentially work causing a discrepancy between what you see locally and what you see in the cloud. Marking this

[2021-02-05 21:29] rraczae opened #6559 "optimal setup for mobile CI/CD pipeline"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Continuous Deployment

**Amplify CLI Version**

4.41.2

**What AWS Services are you utilizing?**
DataStore, AppSync, DynamoDB, Cognito,

**Provide additional details e.g. code snippets**
I am about to setup a CI/CD pipeline for our React Native mobile

[2021-02-05 21:32] kaustavghosh06 commented on #5944
@dylan-westbury Could you try this out with the latest version of the CLI? I was able to get this to working with the latest version of the CLI:
I used the sample script below for reference:
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/sample-headless-scripts/headless_init_new_project.sh

[2021-02-05 21:32] #5944 closed

[2021-02-05 21:35] kaustavghosh06 commented on #5241
@flyck We've mad cfn-lint liniting as a warning and not an error and your push shouldn't fail hopefully if you're using the latest version of the CLI. Could you please give it a shot and let me know if this works for you?
Closing this issue for now.

[2021-02-05 21:35] #5241 closed

[2021-02-05 21:36] ahtokca commented on #5340
Got the same issue after upgrading 4.28.2 to 4.41.2

[2021-02-05 21:36] kaustavghosh06 commented on #5243
"cfn-lint" is not a blocking error now and we've made this a warning. You should be able to deploy this with the latest version of the CLI.
Please let us know if you're still hitting this blocker.

[2021-02-05 21:36] #5243 closed

[2021-02-05 21:46] jhockett commented on #6558
Hi @gotgenes, thanks so much for the detailed information! I'm marking this as en enhancement.

You may find this Stack Overflow post helpful: https://stackoverflow.com/questions/58883678/inaccessible-dynamodb-host-when-running-amplify-mock/58925502#58925502

[2021-02-05 22:34] xitanggg commented on #6436
You @ me twice, @jaga810 should be included :)

Since I am here, @kaustavghosh06, do you know when will the next release for the cli be out? It has been 23 days since the last release. There are some new commits that fix some of the bugs I am encountering. Thanks.

[2021-02-05 22:37] kaustavghosh06 commented on #6436
@xitanggg We're working on a release as we speak :)

[2021-02-05 22:46] xitanggg commented on #6436
@kaustavghosh06 Amazing, excited for it! Cheering for you and your team!

[2021-02-05 22:46] ammarkarachi commented on #6473
@Jordan-Eckowitz I am sorry it's not updated in the documentation but a way to possible solving the problem to modify the flag `addmissingownerfields` to true in the file `amplify/cli.json/`

[2021-02-05 22:48] yuth commented on #6463
@sarfraaz-talat Thanks for reporting this. This issue has been fixed in https://github.com/aws-amplify/amplify-cli/pull/6364. The change should be included in a release after 4.41.2.

[2021-02-05 22:48] #6463 closed

[2021-02-05 22:52] gbumgard commented on #1546
I'm sure I'm forgetting something, but definitely added lambda invoke to the pre-signup and post-confirmation triggers as I use a third lambda function to break the Cognito/API circular dependency loop so I can shadow the user attribute info in Cognito in a database table accessed via the AppSync API (to provide subscription support). I cannot explicitly create a dependency between those lambda fu

[2021-02-05 22:56] cyrfer commented on #5728
@ericowhadi `npm i -g @aws-amplify/cli`

[2021-02-05 23:06] kaustavghosh06 commented on #6548
Got it. This would PR would potentially fix your issue @hisham - https://github.com/aws-amplify/amplify-cli/pull/6551

[2021-02-05 23:08] kaustavghosh06 commented on #6559
@rraczae Your understanding is correct. We provide support for various headless options for CI/CD.
Here are few samples which you can reference:
https://github.com/marketplace

[2021-02-05 23:08] #6559 closed

[2021-02-05 23:14] kaustavghosh06 commented on #5159
We've fixed this issue as a part of #5198

[2021-02-05 23:14] #5159 closed

[2021-02-05 23:16] kaustavghosh06 commented on #4981
This issue has been fixed and merged. It will be a part of our next release.

[2021-02-05 23:16] #4981 closed

[2021-02-05 23:25] kaustavghosh06 commented on #4907
Based on @jwcarroll's comment - this was fixed with v 4.27.3 and we haven't see any reports of this issue post that. Closing this issue. Please let us know if you hit into this issue and we can re-open.

[2021-02-05 23:25] #4907 closed

[2021-02-05 23:27] kaustavghosh06 commented on #4699
@selipso These seemed to be an intermittent issue since we haven't had reports tied to this in the last couple of months and our team wasn't able to reproduce. Can you let us know if you're still able to see this?

[2021-02-05 23:27] #4699 closed

[2021-02-05 23:30] kaustavghosh06 commented on #4066
Closing this as a duplicate of #4914 which we're tracking.

[2021-02-05 23:30] #4066 closed

[2021-02-05 23:32] kaustavghosh06 commented on #4473
@roland-batovski Were you able to get past this issue by any chance? Sorry for not following up on this.

[2021-02-05 23:36] #6398 closed

[2021-02-05 23:38] kaustavghosh06 commented on #3934
@hisham CloudFormation and the CLI both has increased the limit to 500 resources now. Are you still running into this limitation with your app?

[2021-02-05 23:46] kaustavghosh06 commented on #3923
We've launched experimental support for updating multiple GSI's in the schema which would solve for this bug.
Please take a look at https://github.com/aws-amplify/amplify-cli/issues/1406#issuecomment-748354434 for more information.
Closing this issue as a dup and we're tracking this out here - https://github.com/aws-amplify/amplify-cli/issues/1406

[2021-02-05 23:46] #3923 closed

[2021-02-05 23:54] kaustavghosh06 commented on #4517
@kimfucious Is this still an issue on your side? I haven't heard about any issues tied to the order of the redirect URI's on the cognito service side. Also, I see the corresponding issue on the Amplify JS repo closed out - https://github.com/aws-amplify/amplify-js/issues/6041  Please let us know if you're still stuck on this.

[2021-02-05 23:54] #4517 closed

[2021-02-06 00:47] mcrysler commented on #3350
Having the same issue as @davegravy. Don't understand why the issue is closed. I tried all the suggestions above and couldn't successfully migrate an amplify app from one AWS account to another. Anyone figure this out yet?

[2021-02-06 03:42] meilbn commented on #459
I solved this issue, amplify version is 4.41.2
I tried many times before, it always init failed, after i set HTTP_PROXY, HTTPS_PROXY, http_proxy and https_proxy in my .zshrc, and run amplify init, and then Amplify setup completed successfully.

[2021-02-06 04:38] prashanthravir commented on #6515
hi yes - any further idea as to why we are getting this error - I am using amplify CLI in Android project.

[2021-02-06 10:08] hisham commented on #3934
Hey @kaustavghosh06 - I went an alternate route and have no need to connect to this db anymore. So you can go ahead and close this ticket and if I end up doing something similar in future and running into issue I'll open new ticket. If you really want me to test I can but I have no need currently to connect to a large db that might hit the resource limit.

[2021-02-06 11:40] adam-nygate opened #6561 "Model connection doesn't respect @auth when model queries are set to null"
**Describe the bug**
If you disable query generation on a type (i.e @model(queries: null)), then GQL queries will fail when you try to query for this model via a connection because the generated Model*Connection fails to have the proper auth directives applied.

**Amplify CLI Version**
4.41.2

**To Reproduce**
Example schema:
[code]

run `amplify api gql-compile` in order to see the generated sche

[2021-02-06 11:55] yaquawa opened #6562 "Will `@connection` cause the "n+1" problem?"
I'm wondering if the `@connection` will have the "n+1" problem.

Similar concern is that if it will cause the "n+1" problem when using `@function` ? for example:
[code]

[2021-02-06 14:10] oliverandersencox commented on #3148
@kaustavghosh06 i've come to revisit this again, and still trying all the above approaches the subscription never emits!

[2021-02-06 15:00] jaggar28 commented on #5982
Hi,
I was facing similar problem. Check the solution given by "Freddy Haug" in the following link:
https://stackoverflow.com/questions/60157632/amplify-fails-to-push-auth-nodejs8-10

Quote:
"What you need to do is go to your Backend/Auth/ directory and find your *.yaml file

From there search for the AWS::Lambda::Function service and change the runtime environment to nodejs12.x"

It solved my prob

[2021-02-06 16:37] ahtokca opened #6563 "env checkout xxx removes secrets from deployment-secrets.json"
**Describe the bug**
A clear and concise description of what the bug is.

**Amplify CLI Version**
I had 2 environment tst and dev with version 2.28.2. After migration to 2.41.2 auth secrets were migrated to deployment-secrets.json. However up on switching with `amplify env checkout xxx` between environment the secrets disappeared from deployment-secrets.json

**To Reproduce**
1. the secrets for bo

[2021-02-06 17:25] GeorgeBellTMH commented on #3068
As someone who switches environments often, this would speed up deployments.

[2021-02-06 18:17] gotgenes commented on #6558
@jhockett Thanks for your response! I really appreciate the Amplify team looking at this.

[2021-02-06 20:08] GeorgeBellTMH commented on #5598
Note: Another use case is that we would get API typing in our lambda's.

[2021-02-06 20:25] GeorgeBellTMH opened #6564 "Select Elastic Search Version"
To encourage upgrading to newer versions of elastic search we should be able to set which version our codebase uses. We should default to newest version in new code-bases.

transform.conf.json should have a "ElasticSearchVersion":"xx"

There should also be an upgrade path from older versions to newer versions.

#5229 for details on upgrading.

I would also think moving elastic search config from C

[2021-02-06 20:41] Jupdi commented on #6023
We are experiencing the same error when using multiple ownerfields on one model. On all subscriptions, all ownerfields are marked as mandatory...

[2021-02-06 20:56] #3934 closed

[2021-02-06 23:30] vadimmelnicuk commented on #2715
I am also experiencing a similar issue. Subscriptions are not allowing public access. I am getting the following error when trying to load a subscription:
`Uncaught (in promise) No current user`

Here is my schema. I am using multi-authorization modes i.e., main cognito user pools + secondary iam.
[code]

[2021-02-07 00:04] cosimtaiuz commented on #6521
Hello both, sorry I have been busy with other things, I will try to get back to you both asap.
I solved this by creating another fresh Amplify project and setting Cognito as the default auth mode, then also adding IAM.

[2021-02-07 03:05] lr001dev commented on #6143
Any love on this?

[2021-02-07 09:49] yaquawa commented on #1159
any updates on this?

[2021-02-07 10:43] patrizz commented on #3390
I love Amplify and this is an feature that I’d very much like to see implemented, like the many others in this thread :) could you please share any status updates, dear Amplify Team?

[2021-02-07 15:17] isbkch commented on #5433
I still have the same error on mac os big sur - amplify 4.41.2 - node v15.8.0

![Screen Shot 2021-02-07 at 10 16 26 AM](https://user-images.githubusercontent.com/216867/107150772-8aea7c80-692d-11eb-9bff-35be3c52abea.png)

[2021-02-07 16:45] CRanaboldo commented on #4853
I've spent all day trying to get additional authorisation with a second user pool to work in the console - just wont play. Multi tenant should not be this hard, please can we have this feature,

[2021-02-07 18:13] rocketmaniac commented on #6437
I also ran into this issue on a new project using:

Amplify CLI Version
4.41.2

Desktop (please complete the following information):

OS: macOS Mojave 10.14.6
Node Version: v12.9.0

Unfortunately, I did not have the luxury of reinstalling everything as I did not want to break existing apps.  Per a suggestion by AWS support, I pulled the code into a fresh Cloud9 instance and 'amplify'ed' it there.

[2021-02-07 19:49] Jordan-Eckowitz commented on #6473
@ammarkarachi does it not make sense to just enable this by default?

Otherwise everyone who has been using it in the same way I have is going to run into this problem.

[2021-02-07 23:55] toritroniks commented on #6424
I'm having the same problem when running `amplify env add` and trying to create a new environment.
It happens after I choose the aws profile.

I already added lots of other environments, that is the first time this error happened.
version: 4.41.2

[2021-02-08 01:31] ohing504 commented on #996
+1

[2021-02-08 01:46] #4644 closed

[2021-02-08 01:47] #5711 closed

[2021-02-08 01:47] #6540 closed

[2021-02-08 04:18] silviuglv commented on #5383
I'm trying to solve the exact same issue but after some digging online it looks like it might not be possible atm.

It looks like the subscription does strict equality against the mutation resolved data, I guess, when using arguments, something like this:

[code]
The only solution I can think atm is to batch the operation like this

[code]

With this, the above subscription should work.

[2021-02-08 08:37] estyh commented on #6217
I need to use custom auth logic for all of my queries/mutations. I would like to be able to write a custom auth function (vtl is fine) and have it run by default for all the generated resolvers, without having to specify it each time (that would become very tedious and error-prone). Specifically, my use-case is as follows:
I have a ddb table that specifies permissions across roles, eg Admin role h

[2021-02-08 08:40] THPubs commented on #1481
To add to the @kaustavghosh06 's answer...

1. Run `amplify update function`
2. Select which capability you want to update: `Lambda function (serverless function)`
3. Select the Lambda function you want to update `YOUR_FUNCTION_NAME`
4. Which setting do you want to update? `Resource access permissions`
5. Select the category `auth`
6. Select the operations you want to permit for API_ID `read`

At

[2021-02-08 10:47] ankon commented on #6268
Quick check, looks better already I think: Without running a dedupe explicitly, and with adding a '^' in front of all dependencies I now see this
[code]

Still suspicious is the dependency from graphql-transformer-code to amplify-cli-core though.

[2021-02-08 11:06] kulathilake commented on #5415
This might be a result of missing dependencies, at least that's what it was for me. Your function, since it is created by amplify to do CRUD operations on a dynamo db, will use aws-sdk, and unless explicitly install these dependencies through an `npm install` command (from within the function directory) or run `amplify push` to publish it the cloud (which also results in a build command being exec

[2021-02-08 12:16] PeteDuncanson commented on #6427
Think we've sorted this one. When creating a new environment it seems our cognito permissions aren't set for the new environment. As a result everything loads but you don't have permissions to view any of the data.

In our setup everything for now needs admin permissions and that is guarded against in our schema.

Question these raises is how best to handle that or at least sign post it? Other fun

[2021-02-08 13:57] JackPenney commented on #6427
Just to expand on this (for context I'm working with Pete on the same project)
The issue was all of our schema entities were restricted to a specific user group. In one of our environments we didn't set the users to that group so nothing got pulled down to datastore, didn't see any warnings/errors since datastore was doing what we told it to by restricting access to that user group.

Spotted this

[2021-02-08 14:15] Rifur13 commented on #5387
What are the current workarounds for this?
Do we need to inspect the cloudformation json files each we merge envs (e.g. merging dev env in a prod env) and make sure we don't overwrite the s3 bucket for each lambda?

[2021-02-08 15:06] nathanagez opened #6566 "Project delete failed - Access Denied when running amplify delete"
**Describe the bug**
When I try to delete the resources by using `amplify delete` or `amplify delete --force` the following message appears:

![amplify delete screenshot](https://user-images.githubusercontent.com/7148684/107236586-219a6480-6a26-11eb-93c0-72508644b5d6.png)

It looks like that this is related to the S3 policies (https://docs.amplify.aws/cli/usage/iam#n3-set-up-the-local-development-

[2021-02-08 15:55] rraczae commented on #4314
I am having the same issue, I use DataStore and want to have content/app settings for guest users. AFAIK with the current setup this isn't possible but pls let me know if I missed anything.

[2021-02-08 15:55] cchalfan1 commented on #276
2021 here - @kaustavghosh06 `us-west-1` still unsupported?

[2021-02-08 16:17] gruckion commented on #5627
I also need this. Will try to remember to come back here and document my solution

[2021-02-08 16:18] gruckion commented on #5627
Containers are now supported with Amplify and they work with secrets manager.

https://docs.amplify.aws/cli/usage/containers

[2021-02-08 16:31] wvidana commented on #6557
Hi @kaustavghosh06, thanks for getting back so quickly!

Our default auth type is Cognito. We configured IAM as the secondary because we need to run DB operations from Lambda functions. We created both schemas from the same code, just pushed through `amplify push` at different times.

I believe this PR added the auth handle propagation for nested types https://github.com/aws-amplify/amplify-cli/pu

[2021-02-08 18:17] zvaraondrej commented on #6233
I can confirm the same issue. It took us quite some time to figure it out... It would be awesome if this could get fixed! Many thanks!

[code]

[2021-02-08 18:26] jhockett commented on #6519
Hi @jgroom33, I wasn't able to reproduce this on mac. It might be WSL specific, but do you see any similar issues when using Amplify CLI? The code that waits on this response isn't fundamentally different from other question answer flows.

[2021-02-08 19:33] normeno-dg commented on #6464
@kaustavghosh06 No I'm not on a VPN.

I have tried connecting to 3 different networks (home network, shared internet from phone and mobile wifi), in all tests, I have obtained the same result

[2021-02-08 20:33] rraczae commented on #2715
I am having a similar issue with datastore. I have cognito pool setup for default, but for an AppSettings table I need access through api key. Key based access is added to the graphql endpoint but I am getting the errors after login.

[code]

[code]

[2021-02-08 20:38] binarymaus commented on #1406
Were you able to fix it? I'm having the same problem :/

[2021-02-08 22:23] SwaySway commented on #6561
Closing as PR #5655 fixes this issue. This fix will be included in the next release.

[2021-02-08 22:23] #6561 closed

[2021-02-08 22:30] SwaySway commented on #6564
Thanks for the enhancement request @GeorgeBellTMH
I do think we can also looking into adding a version parameter for the directive itself as this is something different than a cloud instance change such as [AWS Elasticsearch Configureable Parameters](https://docs.amplify.aws/cli/graphql-transformer/config-params#elasticsearchstreamingfunctionname)

Closing in favor of #5229 so we can track this en

[2021-02-08 22:30] #6564 closed

[2021-02-08 22:41] jhockett commented on #6518
Hi @elcain, can you please try running `amplify pull --restore` to restore your environment to the last pushed state?

[2021-02-08 22:52] jhockett commented on #6546
Hi @n3b, can you please send your project's amplify folder to amplify-cli@amazon.com so that we can debug what's happening? Please redact any sensitive information prior to sending.

[2021-02-08 23:01] jhockett commented on #6553
Hi @kldeb, can you share your schema so we can try reproducing this?

[2021-02-08 23:18] jhockett commented on #6464
@normeno-dg do you know what version of Amplify CLI you used to init your project? To help us debug this better, can you send your amplify folder to amplify-cli@amazon.com with anything sensitive redacted?

[2021-02-09 00:25] SwaySway commented on #6566
@nathanagez Is the amplify cli using the same profile as the aws cli?

[2021-02-09 00:29] kaustavghosh06 commented on #6566
@nathanagez There is one additional S3 IAM policy which was missing in our docs - which we just added as a part of this PR-https://github.com/aws-amplify/docs/pull/2924/files I'm suspecting that was the S3 IAM policy missing.
Closing this issue (please let us know if you see this issue again in the future with the additional S3 policy) and thanks for bringing this up.

[2021-02-09 00:29] #6566 closed

[2021-02-09 00:31] kaustavghosh06 commented on #276
@cchalfan1 Yes, but we're planning on addition support for it soon.

[2021-02-09 00:39] kldeb commented on #6553
@jhockett sure, can I share it with you privately somehow?

[2021-02-09 00:46] elcain commented on #6518
Hey @jhockett so I just get the same error when I try and restore. I was looking back and the commits, and the `Auth` folder WAS accidentally deleted. Is there a way to re-generate the folder?

[2021-02-09 01:01] kaustavghosh06 commented on #6557
@wvidana We merged #3223 but I don't believe it's a part of our latest NPM release. We're working on a release to NPM as we speak. Once we have the release out, you'd be able to propagate auth for nested types.

We'll investigate on the ordering issue.

[2021-02-09 02:29] jhockett commented on #6553
Certainly, you can send it to amplify-cli@amazon.com. Please include the issue number in the subject.

[2021-02-09 03:13] yuth commented on #6079
@yaquawa One work around for this is to override the mutation template to always insert the owner field in `Mutation.createCareer.req.vtl` and `Mutation.updateCareer.req.vtl` so even if the values are passed, the resolver sets them back to the right user.

[code]

[2021-02-09 03:13] akshbhu commented on #4670
Hi @janaka

Yes Installing JRE will work fine. Here we are checking for java version >= 8 as it is a requirement for DynamoDB local which we are using to mock api.

Closing this issue as it seems to be solved. If you are still stuck after upgrading java version , feel free to comment and Ill reopen this issue again

[2021-02-09 03:13] #4670 closed

[2021-02-09 03:21] akshbhu commented on #6413
Hi @dopry

We are currently investigating for a solution to handle circular depedencies in a better way. Here is the similar issue where we are tracking circular dependencies. https://github.com/aws-amplify/amplify-cli/issues/4568

For the workaround Either you can try to push resources one at a time to break circular dependency among auth-> function->api or you can unblock yourself by using a cus

[2021-02-09 03:21] #6413 closed

[2021-02-09 04:18] jgroom33 commented on #6519
@jhockett I have not noticed any other similar issues.

The workaround is pretty simple: `amplify push` layers on their own.  This is probably good practice anyway, so I don't think this is worth any extra effort.

[2021-02-09 05:13] Steven5678231 commented on #3350
If I am not misunderstand, the different AWS account here means the different IAM user account under same root user. I am trying to migrate my project from my personal account to my company's. And I guess most of the discussion is based on the same root account? Didn't find a way to do it now, anybody can help?

[2021-02-09 06:24] fruit-ninja commented on #5982
@konichar were you able to resolve your issue?

[2021-02-09 08:28] yaquawa commented on #6079
Hi @yuth , thanks for the solution.

Will this fix be added in the next version of amplify cli?
I don't want to add that snippet every time after I have updated my schema...

[2021-02-09 08:31] yaquawa commented on #5901
I need this too!
I want to use `import` syntax in my lambda function.

[2021-02-09 09:14] nathanagez commented on #6566
@kaustavghosh06 thank you for your reply, I added the missing policy but now I have another error:

![The bucket you tried to delete is not empty](https://user-images.githubusercontent.com/7148684/107341670-8fdf3580-6abf-11eb-82c7-f62f427509b7.png)

[2021-02-09 09:27] prashanthravir commented on #6515
I finally found the step that I was missing  - I should add policy( AmazonS3FullAccess) to my unauthenticated role in my IAM.
@enleet - you can check and see if you have done this.
But this step is there in Mobile SDK related documents, it could have been added to Amplify docs

[2021-02-09 09:43] irfanbabar15 commented on #5665
I have deleted the deployment file in S3, now i get this  UnhandledPromiseRejectionWarning: NoSuchBucket: The specified bucket does not exist. is there any solution ?

[2021-02-09 09:48] konichar commented on #5982
Sadly no, after a couple of days of bug finding I had to quickly switch my backend to firebase which has way less features than amplify but fewer bugs.

Would definitely give amplify a shot on my next project when all issues have been resolved.

[2021-02-09 10:27] theholyone opened #6574 "Unable to connect repository to existing amplify app"
**Description**
If I try to add the corresponding code repository to an existing Amplify App via the connect button within the AWS Amplify Console, the Button changes to a loading circle and nothing ever happens after that.

**Amplify CLI Version**
4.41.2

**Reproduction Steps**
To be sure this does not have anything to do with our own project, I've recreated an amplify project and repository from

[2021-02-09 11:01] danielvouch commented on #2467
@SourceCode, I've just had a look at this issue now. Is there any chance that you have found a way around this? It seems pretty clear that a relatively small application with multiple environments will hit the 200 limit pretty easily.

[2021-02-09 12:34] dcchristopher commented on #3350
@Steven5678231 It sounds like there are a few different things going on. My specific issue was with organizational accounts, not IAM user accounts. My client created a new sub-account for me (which was the wrong thing to do for my role) and when I tried to recreate the stack in the root account, it was still clinging to the user pool initially created in my own account. So it saw it when it came t

[2021-02-09 12:36] rt-demetri commented on #3350
@Steven5678231 It sounds like there are a few different things going on. My specific issue was with organizational accounts, not IAM user accounts. My client created a new sub-account for me (which was the wrong thing to do for my role) and when I tried to recreate the stack in the root account, it was still clinging to the user pool initially created in my own account. So it saw it when it came t

[2021-02-09 14:15] MatteoInfi commented on #1465
Same bug here, I have tried with the -c flag but still the same result.

[2021-02-09 14:21] MatteoInfi commented on #1442
I have the exact same bug, is this fixed?

[2021-02-09 15:05] dorontal commented on #4568
Same issue here... very stuck for several days. I am faced with two choices:
1) Wait for the Amplify team to take care of this basic but crucial use-case issue
2) Try one of the suggested solutions above, which has high overhead of learning, trying, and later (when Amplify solves this in a cleaner way) changing back to the Amplify team's solution - I thought one of the goals of Amplify was that we

[2021-02-09 15:55] wvidana commented on #6557
@kaustavghosh06 that PR was merged more than a year ago, I do believe it is part of the NPM release.

### Issue on auth tags for nested types
The issue is that the order of the models in the schema affects how the code is generated in the cloud.

For example, having default auth as Cognito and secondary is IAM, with the following code
[code]

The generated `S3Object` schema won't have IAM permissi

[2021-02-09 16:17] Futhark commented on #4083
All the options available from UI should be configurable in Amplify CLI, +1 for this one

[2021-02-09 17:11] ammarkarachi commented on #6473
@Jordan-Eckowitz We will update the documentation to include more detail about for migration cases like yours

[2021-02-09 18:02] patrickliechty opened #6575 "Having issues creating a layer and assigning it to a function"
In version 4.41.2 on Windows 10, I create a layer.  I switch to the opt folder and run npm install for each of the libs I want.  They do not get installed. I see them getting installed in my project package.json.  I don't see any package.json in the opt folder.

As well when I go to add a new function, the layer I just added is not available to select in the amplify function add.

I tried downgrad

[2021-02-09 18:20] SwaySway commented on #6557
@wvidana We had a PR to address recursive types. Looks like it's just taking the first auth mode when evaluating `S3Object` for the first time. Labeling this is a bug.

[2021-02-09 18:38] jhockett commented on #6575
Hi @patrickliechty. The /opt folder is intended for static assets. For the node runtime, navigate to `amplify/backend/function/<layer-name>/lib/nodejs/` and then install your modules.

This looks unrelated to the failed push though:

[2021-02-09 18:41] axecopfire opened #6576 "AdminQueries Output 'ApiId' not found in stack"
**Describe the bug**
A clear and concise description of what the bug is.

I am trying to update a function with permissions to the `AdminQueries` api. The operation fails because the  `AdminQueries` api does not output it's Id.

The error:
[code]

`Outputs` from `admin-queries-cloudformation-template.json`
[code]

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on

[2021-02-09 19:13] patrickliechty commented on #6575
Ok, I was looking for that folder. The documentation said it would be there, but that folder you mention /lib/nodejs did not created.

[2021-02-09 19:18] jhockett commented on #6575
@patrickliechty when you created the layer, did you make sure NodeJS was a selected option? You have you press the space bar to select a choice.

[2021-02-09 19:37] jhockett commented on #6537
@hisham sorry for the delayed reply. Unions are not supported in the GQL transformer. For more context, see this [issue](https://github.com/aws-amplify/amplify-cli/issues/736).

[2021-02-09 19:59] mikeRChambers610 commented on #1442
@Matteolnfi did you try the above solution? Checking if you have the right source locarion for your project in: ./amplify/.config/local-env-info.json

[2021-02-09 20:10] SwaySway commented on #6441
Hello @chrisyeung1121 the behavior you are looking for here is deny-by-default this is something we are tracking as a part of the `@auth` Enhancement RFC here: https://github.com/aws-amplify/amplify-cli/issues/1043

We are looking at adding these enhancements in the next version of the transformer here: https://github.com/aws-amplify/amplify-cli/issues/6217

Closing this issue in favor the of the

[2021-02-09 20:10] #6441 closed

[2021-02-09 20:11] SwaySway commented on #6574
This looks like a potential issue with Amplify Console. Moving other to their repo for more visibility to see if that is the case.

[2021-02-09 20:45] jmgawecki opened #6577 "Issue with generating a model through Xcode, generating random models"
**Describe the bug**
When generating a model through Xcode, the model is different than the one I requested.

**Amplify CLI Version**
4.41.2

**To Reproduce**
Through Xcode,
1. Editing schema.graphql to my custom Model
2. in amplifytools.xcconfig: push=true, modelgen=true
3. Run the projects
4. Update Completed

**Expected behavior**
The generated custom model that I have created in schema.graphql

[2021-02-09 20:57] kldeb commented on #6553
@jhockett sent, thanks

[2021-02-09 21:19] attilah opened #6578 "Cloudformation messages are printed in the wrong order"
**Describe the bug**

The CLI polls CF for status messages and getting it in chunks. Then we are printing it to the screen as we have received it, but it is in the wrong order, the latest entry is on the top:

![image](https://user-images.githubusercontent.com/230432/107429785-2d932e80-6ad9-11eb-87eb-7a3e3fa7ebc0.png)

**Amplify CLI Version**
4.41.2

**To Reproduce**
Push any project, observe the

[2021-02-10 00:29] SwaySway commented on #6577
@jmgawecki Looks like this might be an issue with the amplify-tools script. Moving this to the amplify-ios repo for more visibility.

[2021-02-10 01:14] yuth commented on #6055
This is fixed in CLI 4.42.0

[2021-02-10 01:14] #6055 closed

[2021-02-10 01:22] #5973 closed

[2021-02-10 01:23] #6068 closed

[2021-02-10 01:26] #5483 closed

[2021-02-10 01:59] SwaySway commented on #6343
@SimonSch-tech It looks like you are looking for a deny behavior. Currently the `@auth` rules only support allow. This is something we are considering for the next version of the transformer as well as part of the `@auth` enhancements.

RFCs:
`@auth`: https://github.com/aws-amplify/amplify-cli/issues/1043
GraphQL vNext: https://github.com/aws-amplify/amplify-cli/issues/6217

Based on your schema i

[2021-02-10 03:54] jcbdev commented on #6475
@attilah @renebrandel

I am looking at the PR for this change and could you explain something to me?

Does this change mean you can only have one pinpoint app?  Because multiple pinpoint apps was working before if you manually updated those two values in my first.  Is there a reason you have only forced the one environment?

Also, I have sandboxes for feature branches and I think looking at it tha

[2021-02-10 05:16] patrickliechty commented on #6575
Ok I did not select NodeJS as you said.  A few of the issues have gone away since I selected it in the layer.  I was able to create the layer. The lib\nodejs folder is there now.  I am using version 4.40.1 when I tested.  I was able to see the layer when creating a new function.  But I still get an error when I do an amplify push.  Here is the error:

C:\Users\Patrick Liechty\sandbox\clarifyPhaseT

[2021-02-10 10:29] jcbdev commented on #6475
This still isnt working correctly on the latest version

When I created a new environment it created a new pinpoint app but left the amplify-meta.json pointing to the original environment.  So I was in environment "master" and run a headless script to create environment "test".  There was now two apps called "myNotifications-master" and "myNotification-test" but the meta still points to "myNotific

[2021-02-10 13:00] yaquawa commented on #997
any updates on this? the cli will only generates polices for the appsync, we need the polices for dynamodb like this:

[code]

[2021-02-10 13:27] toritroniks commented on #4644
Hi, @kaustavghosh06
sorry for the late response.

Correct me if I’m wrong, but I don think it’s possible to set the response headers of the files inside the S3 bucket with CloudFormation.

If there is a way, I would really appreciate some guidance!

right now the only thing I can think of is to run some script to edit the files metadata after the deploy... but it’s far from ideal.

If there is no

[2021-02-10 13:31] yaquawa opened #6581 "DynamoDB Lambda Triggers luck policies for AWS SDK"
I've followed the doc to created a "DynamoDB Lambda Triggers".
https://docs.amplify.aws/cli/usage/lambda-triggers#dynamodb-lambda-triggers

But the policy lucks actions for using AWS SDK for DynamoDB like these:

[code]

I don't want to use AppSync to update or delete my DynamoDB items from the Lambda function, I'd rather like to use the SDK directly, because of the `@auth` directive just doesn't

[2021-02-10 16:02] edmond-io opened #6582 "Amplify Console Build Failure - auth resource was imported from 'undefined' region"
**Describe the bug**
Unable to build through the amplify console when the auth resource is imported from an existing Congito User Pool and Identity Pool.
It works perfectly fine when running in local with amplify push.

The error message is:
[code]

The auth configuration during amplify import set up:
[code]

**Amplify CLI Version**
4.42.0

**Log output**
[code]

[2021-02-10 16:09] alexkates commented on #6450
It appears that https://github.com/aws-amplify/amplify-cli/releases/tag/v4.42.0 contains this, however I am still seeing this issue.

[2021-02-10 17:03] Jordan-Eckowitz commented on #6473
Okay - still don't really understand why you don't just keep the existing approach and change the default so users won't have to debug this issue. But I guess its your decision to make.

[2021-02-10 17:25] alissaVrk opened #6583 "add function: access custom resource from lambda function throws error"
**Describe the bug**
first, added a custom category with a kinesis resource successfully - kinesis stream was added in aws console.
then added a new lambda function
``` amplify function add```
when prompted to select the other resources to access from my function
[code]
 my custom resource was listed as one of the options (as expected).
next prompt is to select the operations permitted
```Select t

[2021-02-10 17:42] indrajitb commented on #2384
Is there any solution/suggestion from either Amplify and/or DynamoDB team on the issue? I've run into this issue couple of times and am sure someone else will also run into the same.

[2021-02-10 17:57] rraczae opened #6584 "Amplify project with additional API (combining authorized DataStore with public api)"
**Which Category is your question related to?**

Hey everyone,

I have an amplify project that uses DataStore for offline scenario. Once users are logged in they can create their own records and sync them across devices so the authentication is set to Cognito User Pools.

Everything is great, but the app also has a "guest mode". As a guest, I can see some content and information. The problem is, s

[2021-02-10 18:13] sharmaaditya570191 opened #6585 "Fix minor errors in CONTRIBUTING.md file"
**Describe the bug**
There are some minor errors in scripts written under the Getting Started with Development section in CONTRIBUTING.md

**To Reproduce**
1. Go [here](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTING.md#getting-started-with-development)
2. Try running this - `git fetch origin && checkout --track origin/master -B master`
3. It will give error because of typo.

*

[2021-02-10 18:29] sharmaaditya570191 commented on #6585
Hello. I am working on this project as a part of the MLH Fellowship. Can you assign me this issue please?

[2021-02-10 18:51] PeteDuncanson commented on #5273
@ammarkarachi I've been hit with this one today but for a S3 trigger. Currently stopping me doing a push and I don't know what my ``team-provider-info.json`` file is meant to have in it to get it working again.

Tried all the usual stuff (``amplify init`` and ``amplify pull --restore`` and the fuller version of the pull with environment ID that you can get from the Amplify console) and then I noti

[2021-02-10 19:02] n3b commented on #6546
@jhockett sorry but I don't think I'd be able to find some time to filter out sensitive data. I also could possible remove something that is necessary for debugging.
Not sure if it matters, but when I create a new env everything in `team-provider-info.json` (except `awscloudformation` section) takes their ids/roles from previous env.

[2021-02-10 19:06] SwaySway commented on #6581
@yaquawa Adding a Lambda function trigger on a DynamoDB table will run the lambda on an action taken on the dynamodb. This question flow does not grant access to the table. You can add the dynamodb table as a resource to access when running `amplify function update`.

Could you explain your usecase a bit here? Are you looking at using a lambda function as opposed to a VTL Resolver in AppSync? If s

[2021-02-10 19:12] jhockett commented on #6546
@n3b no problem. According to the error message, auth is undefined at the point of failure during push. Can you try running `amplify push auth` and see what happens?

[2021-02-10 19:18] SwaySway commented on #6582
@edmond-io Few questions here
- What region is the console app? Is it also in `ap-northeast-1`?
- Can you init your amplify project locally?

[2021-02-10 19:26] Trevor-mc2 commented on #4347
Hey gang.

So, FYI, it's totally possible to _manually_ add ENV vars to the Lambda after it has been created by Amplify, if you just need your Lambda to have access to ENV vars.  I manually copied mine from the Amplify config into the AWS webtop...  Just to get up and running.

Go to **Lambda > Functions > Configuration** and scroll down to the **Environment variables** section.  🤦‍♂️  And set you

[2021-02-10 19:36] dorontal commented on #6518
I just saw this same error (I believe) with a newer version of Amplify: 4.42.0.

I noticed this error pop up just after an upgrade from some months-old version of the cli to version 4.42.0.

Here's my transcript of (seemingly) the same error:
[code]

@jhockett - I just tried your suggestion right after receiving this error and got another error. It's strange it reports "environment 'dev' not found

[2021-02-10 19:40] IsaacTrevino commented on #2698
I'm running into this issue again, any leads?
![image](https://user-images.githubusercontent.com/13424971/107562456-76b0b480-6ba5-11eb-8306-e7f4dc693c3d.png)

[2021-02-10 20:02] jhockett commented on #6518
@elcain if the folder exists in an old git commit, you should be able to retrieve it from git.

[2021-02-10 20:04] jhockett commented on #6518
@dorontal do you know what version you upgraded from? Is the file `team-provider-info.json` present in the amplify folder?

[2021-02-10 20:09] dorontal commented on #6518
@jhockett Unfortunately I lost that information. Just checked the shell history and noticed that it was something installed around last summer via pip3 and resided in /usr/bin/aws, while the new one is all in /usr/local/bin.  Right now, however, I am rebuilding the entire project from scratch, just to make sure I did not report the above for some silly reason, trying to reproduce the problem to be

[2021-02-10 20:17] dvirben123 commented on #1415
It helped me also, @garyleefight any idea why we don't see an error about caching issue?

[2021-02-10 20:42] elcain commented on #6518
@jhockett yup once I got that folder back I was able to use `amplify pull --restore` and everything works fine now.

[2021-02-10 20:44] jhockett commented on #6518
Glad to hear everything has been resolved!

[2021-02-10 20:44] #6518 closed

[2021-02-10 21:53] SwaySway commented on #6584
As of now Datastore only works with one GraphQL API which has conflict resolution enabled.
For potential workarounds you can also discuss this on our discord server: https://discord.com/invite/jWVbPfC

[2021-02-10 21:59] SwaySway commented on #6583
Hello @alissaVrk
A few questions here
- Did you follow this guide when adding in a custom resource? Docs: https://docs.amplify.aws/cli/usage/customcf#add-custom-aws-resources
- Could you provide a copy of how the custom resource was added? If it's sensitive you can email it over to us at amplify-cli@amazon.com

[2021-02-10 22:28] dorontal opened #6589 "Post confirmation trigger lambda function getting 403 errors when calling API Gateway API"
**Describe the bug**

In brief: post confirmation lambda is not allowed to access a REST API on API Gateway.

[ Use case: We need this because only the REST API gets credentials that contain identityID, which our post confirmation lambda needs to create a new user in DynamoDB... ]. Here's how it shows up:

Created a post-confirmation trigger lambda function via `amplify auth update`, after first h

[2021-02-10 23:03] yaquawa commented on #6581
@SwaySway My usecase is do aggregation calculations. for example,

[code]

so whenever a new `Comment` was inserted/removed, increment/decrement the corresponding psot's `commentsCount` field.

[2021-02-10 23:14] #6113 closed

[2021-02-10 23:18] rmargolinross opened #6591 "updating auth redirect urls does not seem to work"
**Describe the bug**
When I run amplify update auth and attempt to update one of my redirect url's the url is never updated even though the process seems to succeed. I was forced to manually update my parameters.json file.

**Amplify CLI Version**
4.42.0

**To Reproduce**
`amplify update auth`
choose `Add/Edit signin and signout redirect URIs`
Follow the process to edit one url for signin and one

[2021-02-11 00:55] jhockett commented on #6553
@kldeb I was able to reproduce the issue. Thank you for the bug report and for providing your schema!

[2021-02-11 00:59] jhockett commented on #6553
When I changed the type of `createdAt` and `updatedAt` to `AWSDateTime` it worked as expected.

[2021-02-11 03:09] jmbarroso opened #6592 "Java function does not bind input arguments"
**Describe the bug**
Java Runtime Lambda does not receive caller parameters. The arguments inside the function (RequestClass) are null.

**Amplify CLI Version**
4.41.2 and 4.42.0

**To Reproduce**

1. Create a function for Java runtime using amplify add function. _It will use the default template (Hello World Template)_
2. Link the function created in the previous step from a GraphQL query using t

[2021-02-11 04:51] kldeb commented on #6553
@jhockett Thanks! That works.

[2021-02-11 04:51] #6553 closed

[2021-02-11 05:47] rajmayank commented on #5011
This is an expected behaviour and one, that is ideal for production workloads if you get the reasoning behind it.

Allow me to explain : Amplify is nothing but a wrapper for AWS CloudFormation and so are other AWS Dev Tools like AWS CDK, SAM etc. At some level they all come down to taking the user's preferences and translating them into CF Templates.
This means all the rules for CF apply to all th

[2021-02-11 09:05] dmsolutionz commented on #4347
These will be overwritten by amplify at some point... Trust me, I did this as the first thing, somewhere along the road it will update the CF template and remove them, potentially breaking your applications.

[2021-02-11 10:43] alissaVrk commented on #6583
thank you for the quick response
I did follow the documentation, but adding a dependency **on** the custom resource is not documented there, only the other way around.

any way, here is the backend-config:
[code]

in `amplify/backend/myPretty/kinesisPretty` I have
template.json:
[code]
I guess I don't need the cognito policies, since only the lambda is going to put items. (they are there cause I c

[2021-02-11 10:46] iuyt9003 commented on #5273
Look here, the team provider was updated with the S3Key and deploymentBucketName

amplify init -> amplify restore ( will update the team-provider-info.json) and the missing params (Must have values)
will be retrieved and it should do the work
much thanks for the @PeteDuncanson Job!

![image](https://user-images.githubusercontent.com/23431551/107626827-04080d80-6c67-11eb-8f4e-4cea321269de.png)

![i

[2021-02-11 11:59] PeteDuncanson commented on #6248
Little update on this one, I've had the internet line at home upgraded and got a new router. I've had no repeats of this issue since. Cause is very much a duff connection it seems. Thanks.

[2021-02-11 12:01] PeteDuncanson commented on #5552
@kaustavghosh06 sorry to raise this here but I've noticed that since the last release of the CLI (v4.42) that pushing seems to be push quicker. Have you folks done any magic?

[2021-02-11 12:15] ldaudet commented on #4094
+1, this should definitely be handled by amplify

[2021-02-11 12:23] mgm87 commented on #1079
Is there a more reasonable way to handle this now? It feels like a major oversight not to have a east standardized way to handle this. It's hard to keep using amplify when I run into issues like this.

[2021-02-11 13:17] alissaVrk commented on #6583
btw, I managed to achieve what I want:
both adding a function that puts records to the stream by a lambda function
and adding a function that is triggered by this stream

by manually editing the `backend-config.json` and the `template.json` of both lambda functions
but I guess that this isn't the best way to do it, since all these files are autogenerated by amplify and I'm afraid of bugs in the fu

[2021-02-11 13:49] PeteDuncanson commented on #6248
Take it back, just happened again :(

Not sure what can be done about it. I tend to just tether to my phone and upload it via 4G!

[2021-02-11 13:56] JackPenney opened #6593 "Admin UI authentication throws an error and prevents other authentication methods from being used"
**Describe the bug**
When I run ``amplify init``, select an existing environment  and choose Amplify Admin UI as my authentication method it will throw the following errors (``Failed to refresh tokens: Missing required parameter auth parameters.
Failed to get credentials: Missing required parameter auth parameters``)

After encountering this error ``ampliy init`` will no longer allow me to select

[2021-02-11 14:05] hollsteinm commented on #2458
Still an issue, created auth with reCaptcha, decided I didn't want it and now those lambda functions are sitting around. Did the same as those others that are commenting.

[2021-02-11 14:18] alexkates opened #6594 "amplify pull causes template.json for userPoolGroups to be invalid"
**Describe the bug**
Given I have an Amplify app with Cognito Auth with userPoolGroups
And I run Amplify Pull
The amplify/backend/auth/userPoolGroups/template.json file is replaced with erroneous JSON (see the attached screenshot)

**Amplify CLI Version**
4.42.0

**To Reproduce**
Create an Amplify app with Cognito and userPoolGroups.
Push everything.
Once built, run amplify pull
Observe amplify/ba

[2021-02-11 14:44] JackPenney commented on #6593
I've managed to sort of work around this by setting up a fresh clone of my repo and then re-running ``amplify configure`` and then ``amplify init`` where i could authenticate by access key.  Not an ideal fix but it gets things unblocked for now

[2021-02-11 15:02] 2advancesolutions commented on #1079
Yes, I agree. The documentation is very poor why we stop using it at the
airlines.

On Thu, Feb 11, 2021 at 6:24 AM mgm87 <notifications@github.com> wrote:

[2021-02-11 15:10] askurat commented on #1079
Agreed. Why this isn't implemented yet is beyond me.

[2021-02-11 15:54] thibaultdalban opened #6595 "regression on appsync permission assignment from functions"
**Describe the bug**
Since PR #5342 requesting a graphQL API inside a lambda using IAM auth returns a `Permission denied`.
`errors: [{ errorType: 'UnauthorizedException', message: 'Permission denied' }]`
Manually reverting the appsync policy in the lambda cloudformation template to the one generated before PR #5342 fix the issue.

**Amplify CLI Version**
4.42.0

<details>
<summary>Permissions gene

[2021-02-11 16:00] thibaultdalban commented on #6595
@r0zar thanks for the great job done on these permissions assignment :+1:
Do you have any clues on why I have permission denied?

[2021-02-11 16:29] vincent38wargnier opened #6596 ""or" has same effect than "and" in AppSync graphql console queries conditions"
Hi everyone,

I have an issue using the "or" condition in appsync. My point is easy : I have a table called Offer that has an attribute called dateUnsubscribed. I want to make a graphql request that returns me every offers for which the attribute dateUnsubscribed is either null or greater than a given date.

I'm doing the following filtering :

`filter: {dateUnsubscribed: {gt: "2021-02-08T12:47:47

[2021-02-11 16:54] #6596 closed

[2021-02-11 17:22] r0zar commented on #6595
Looks like the type mappings are wrong.

`"/types/create/*"` / `"/types/read/*"` / `"/types/update/*"` / `"/types/delete/*"`

For a workaround try setting your CF template to this:

[code]

[2021-02-11 17:31] jhockett commented on #6593
@JackPenney if you run into this again, you can run `amplify logout --appId <yourAppId>` and then you'll be able to choose a different authentication method as expected when you run commands.

[2021-02-11 17:48] EdwardFinegan commented on #6593
I just ran into a similar issue and `amplify logout --appId <yourAppId>` worked for me. Is there any detailed document for these commands and when to use them?

[2021-02-11 17:53] thibaultdalban commented on #6595
Thanks for your quick reply, I will give it a try and let you know.

[2021-02-11 17:54] r0zar commented on #6595
Thoughts on this issue...

Amplify allows for limiting create/read/write/update access to AppSync through a CLI based question-answer workflow.
(The PR updates it to use query/subscription/mutation language)

To implement that, the cloudformation policy is split into separate resource inputs which each are responsible for different resolver ARNs.

You can get a better idea of the structure of the

[2021-02-11 17:58] thibaultdalban commented on #6595
If it can help, the API has been created a few months ago, so not with the CLI V4.42.

[2021-02-11 18:01] jhockett commented on #6593
`amplify help` is an easy way to get a list of commands and some context.

However, this is a workaround so you won't find documentation for this scenario currently.

[2021-02-11 18:17] royjit opened #6598 "Amplify console api throwing an error"
**Describe the bug**
`amplify console api` is returning error for an amplify project configured with api category.

**Amplify CLI Version**

[code]

**To Reproduce**

[code]

**Expected behavior**

`amplify console api` should open the aws console.

**Screenshots**
NA

**Desktop (please complete the following information):**

- OS: Mac
- Node Version. v12.18.3

**Log output**
Include any relevant

[2021-02-11 18:58] kylekirkby opened #6599 "update oAuth prompt help text to mention that "no" will remove existing configuration"
**Describe the bug**
I've just run `amplify update auth` in order to add a pre-signup lambda trigger. Upon pushing my updates, however, the previously set redirect/signout callback URLs have been removed. I can also no longer access the setting to change these via the CLI...?

Also, the App Client settings no longer have my custom providers checked in the Cognito management console. It seems as th

[2021-02-11 19:05] jhockett commented on #6598
@royjit did you hit the 25 app limit in your account? Otherwise, there should be an AmplifyAppId after a successful init

[2021-02-11 19:34] thibaultdalban commented on #6595
I confirm it works

[2021-02-11 20:03] attilah commented on #6429
@aaronfay, @PeteDuncanson, @nubpro, @sbue to make sure we provide a good experience by adding the env name into the generated exports/configuration file as it was added in #6470 I'd like you to ask to provide more information about your use cases and use this issue to discuss it.

We got green light to include this information in the configuration file.
This capability will be behind a feature fla

[2021-02-11 20:04] SwaySway commented on #6595
Hello @thibaultdalban
This new feature has a feature flag for it did you have that enabled when running update?
[code]

[2021-02-11 20:11] thibaultdalban commented on #6595
@SwaySway I will check that tomorrow morning, in which file this flag is supposed to be defined?
I was reading the PR and discovered the check on this feature flag [here](https://github.com/aws-amplify/amplify-cli/pull/5342/files#diff-102364c7436737e11d4a0d58e8a633eb9d687e74b61837c8281cc9d7390e5e19R108) so it's probably my issue. I will let you know.

[2021-02-11 20:14] SwaySway commented on #6595
Yup this feature flag can be assigned in the `cli.json` file which is located in your `amplify` dir.
More docs on FF here: https://docs.amplify.aws/cli/reference/feature-flags

[2021-02-11 20:47] royjit commented on #6598
@jhockett ah, looks like I have. I will free up some apps and test again.

[2021-02-11 20:49] blau2 commented on #4118
This is still an issue. When trying to establish a subscription through the AppSync console, it fails when there is more than a single operation present. It works fine as long as the subscription is the only operation.

[2021-02-11 21:22] kylekirkby commented on #2915
Any updates? Is this supported?

[2021-02-12 00:06] jmbarroso commented on #6592
@SwaySway It is happening when deployed too. You can reproduce the issue using Mock API and after deploying the infrastructure using `amplify push `

[2021-02-12 00:09] SwaySway commented on #6592
@jmbarroso Thanks for the clarification - It looks like this might be related to build process for the lambda function.

[2021-02-12 00:16] royjit commented on #6598
Working as expected after removing some stale apps. Thanks!

[2021-02-12 00:52] blairtaylor opened #6600 "Creating an Amplify subdomain via api or console (automatically)"
Is there any way to automate the process of creating a subdomain?

I.e. In the console, AWS Amplify->Domain Management->Manage Subdomains->Add

We assign a unique subdomain for each application client and would like to fully automate the client on-boarding process.

Right now we need to set this up manually via the Amplify console.

[2021-02-12 01:04] Stvad commented on #620
@mark-a-bailey it sounds like you've figured out the cli steps on how to get to the menu that allows you to add triggers. Can you share the CLI/choice steps?

[2021-02-12 01:05] Stvad commented on #3927
Any updates on this?

[2021-02-12 01:19] SwaySway commented on #6589
@dorontal Thanks for your detailed report. I was able to reproduce this with the given axios snippet, though I saw that this wasn't signed with aws creds.
A few questions here:
- Is the aws versioned signed with the credentials provided to the lambda?
- Could you provide the way you called api gateway with the AWS SDK?

[2021-02-12 01:27] dorontal commented on #6589
@SwaySway thank you for quick response. Reagarding the first question, I believe you mean whether the aws version that I used in the code that used the `aws.Service()` command, right?  If so, the answer is that it was not signed at all. Neither axios version or the aws version of the code did any signging. Regarding the second question, sure, here is the exact code I used to have the post confirma

[2021-02-12 01:29] montera82 commented on #1760
any elegant way to do this in 2021?

[2021-02-12 01:33] brrcrites opened #6602 "CloudFormation error when migrating from amplify 4.16.1 to 4.41.2"
**Describe the bug**
We recently attempting to upgrade from Amplify CLI version 4.16.1 to version 4.41.2. In order to test this pending change we create a new amplify env and performed the following steps:

1. Push current code to the new test environment using 4.16.1
2. Make a change to the code which would require a push
3. Upgrade to version 4.41.1
4. Push to the test environment, check for iss

[2021-02-12 01:35] SwaySway commented on #6600
Marking this as an enhancement to console hosting in the CLI.

[2021-02-12 01:39] blairtaylor commented on #6600
So no way to do this currently?

[2021-02-12 01:44] SwaySway commented on #6602
Was analytics added by the CLI and then the id was changed to the console created pinpoint project or was a custom resource made for the pinpoint id? If it's the former it's possible the id was overwritten when switching versions, as the CLI does not pull down changes made in console of said resource.

[2021-02-12 01:59] SwaySway commented on #6600
Not through the CLI, though you can update the domain association through the amplify api [UpdateDomainAssociation](https://docs.aws.amazon.com/amplify/latest/APIReference/API_UpdateDomainAssociation.html). If you are creating a different branch for each client, you can also create a pattern to achieve this automatically.

Docs: https://docs.aws.amazon.com/amplify/latest/userguide/pattern-based-fe

[2021-02-12 02:40] blairtaylor commented on #6600
@SwaySway Great. Thank you.

[2021-02-12 02:46] #6598 closed

[2021-02-12 02:47] #6440 closed

[2021-02-12 02:54] #5695 closed

[2021-02-12 04:05] #6585 closed

[2021-02-12 04:43] dsypniewski commented on #1406
@renebrandel I'm having this problem as well I noticed that after disabling the iterative GSI update feature I was able to push again.
After some digging through the code I think I found the culprit https://github.com/aws-amplify/amplify-cli/blob/39dfd271bcf86b0ec424bb89c0bb38c0544d8d80/packages/amplify-provider-awscloudformation/src/utils/amplify-resource-state-utils.ts#L44
We have a schema with

[2021-02-12 07:36] yaquawa opened #6604 "Enable `@connection` to use literal `KeyConditionExpression` instead of "field name""
Allowing `@connection` use literal *KeyConditionExpression* could greatly increase the flexibility for relationship querying.

For example, here is my usecase for querying 10 posts of the author where those are "published".

[code]

without this feature, I have to create a lambda resolver for the field `publishedPosts`.
but also I have to hide the `publishedPosts` field from showing it in the Muta

[2021-02-12 07:52] yaquawa commented on #6217
Looks like the framework is going to gain an evolution from the new architecture 🎉
I'm glad to see the newly added `@default`!  I'd like to see more "validation rules directive" for server side validation.
Also please consider this feature request https://github.com/aws-amplify/amplify-cli/issues/6604

[2021-02-12 08:00] alxistn opened #6605 "No data streamed to elasticsearch after adding the @searchable directive to existing graphql model"
**Describe the bug**
There is no records streaming to the elasticsearch instance after adding the @searchable directive to an existing graphql model.

**Amplify CLI Version**
4.43.0

**To Reproduce**
1. Create a graphql model
2. Execute the cli "amplify push"
3. Create some records with the createMyModel mutation
4. Add the @seachable directive to the newly created model
5. Execute the cli "amplif

[2021-02-12 08:24] PeteDuncanson commented on #6429
@attilah My usecase: We sometimes use the same frontend code to point at different endpoints (dev vs prod). I'd like to know show in the frontend code (a label, a banner, a different favicon or whatever) which I'm pointing to as a reminder/sanity check.  Currently I have no way of reliably knowing which environment I'm pointing to via my frontend code. I could hack something specific to my setup/p

[2021-02-12 08:25] alxistn commented on #6605
nvm

[2021-02-12 08:25] #6605 closed

[2021-02-12 08:32] hanna-becker commented on #6593
I had the same issue after upgrading to amplify-cli 4.42.0 and then again to 4.43.0, although I do not recall ever selecting the admin ui as my default authentication method.

[2021-02-12 09:14] ahtokca commented on #5695
With node 15.7 and amplify-cli 4.41.2 I managed to checkout & push

[2021-02-12 09:32] alxistn commented on #6605
EDIT: I had to delete my index in elasticsearch using Kibana because the mapping template was not correct and therefore was not returning the data.
You have to modify the access policy of the ec2 instance hosting your elasticsearch to allow you to connect to kibana.

[2021-02-12 12:18] svr4 commented on #6473
Hello, I'm facing a similar issue with amplify v4.41.1. I also used the same auth rules as @Jordan-Eckowitz. I also verified my `amplify/cli.json` and I already had the field `addmissingownerfields` set to `true`.

Has anyone had any luck fixing this issue or have any new suggestions?

[2021-02-12 12:44] sharmaaditya570191 commented on #6591
Can I take this up @ammarkarachi ?

[2021-02-12 13:54] AdriannaJedrzejczak opened #6606 "Mobilehub -> Amplify migration. Import existing API GATEWAY instance."
Im migrating environment from MobileHub to Amplify. I want to continue using all of the existing resources (Cognito, APi gateway and hosting of the app).

**What I have done:**
1. Initialize the project with `amplify init` command
2. Import existing Cognito using the `amplify import auth` command
3. Add hosting feature for the project using `amplify add hosting`

**What is left:**
1. Import Api Ga

[2021-02-12 14:55] nubpro commented on #6429
In my past experience, we have 3 main environments - dev, staging and prod. There was one time I accessed and made changes to the prod app by accident as there weren't any clear indicators or a banner like what @PeteDuncanson had suggested on the UI level.
It was an unfortunate incident, also we had the apps on our phone and I'm always puzzled by which is which. So providing this information would

[2021-02-12 15:28] avlonder commented on #6141
schema.graphql:
[code]

query I would like to be able to execute:
[code]

Like explained above, there are obvious workarounds (renaming the statuses and using *beginsWith* instead of *in* to name one), but none of them are elegant and scalable (every time someone makes changes to the backend, they should be careful how to name the status whereas this is something that shouldn't matter, and so it w

[2021-02-12 15:51] kylekirkby commented on #1043
I'm trying to create a YouTube-like resources hub where some sources are public and others are private.

If I use the current public `@auth` directive, all resources are then accesible to the public but only a subset of them should be.

For example:

[code]

The above would look at the `visibleTo` array for the names of groups that have access to read the resources. The `editors` array would conta

[2021-02-12 16:14] ryanhollander commented on #1043
@kylekirkby I'm sorry I don't have time for a more thorough research or a better answer. You should look at both the "custom claims" in the amplify cli graphql transformer documentation, and pre-token trigger in coginito. I used the latter to inject group claims for federated users that are linked to coginto identity pool users. I haven't tried this with public users, I suspect one of these featur

[2021-02-12 16:59] avlonder opened #6607 "Missing GraphQLAPIIdOutput dependency in lambda function with analytics and storage resources"
**Describe the bug**
When using the *amplify add function* command, a dependency issue occurs when you set permissions for both analytics and storage resources, without DynamoDB streams trigger. It can be fixed by adding the GraphQLAPIIdOutput to dependsOn in amplify-meta.json and to parameters in the function's cloudformation-template.json

**Amplify CLI Version**
4.41.2

**To Reproduce**
[code]

[2021-02-12 17:01] avlonder commented on #6484
I opened a new bug issue for this: #6607

[2021-02-12 17:03] kylekirkby commented on #1043
@ryanhollander - Thanks for your reply! I think the pre token trigger method would work as long as unauthenticated requests sent to app sync respect the custom identity claims. The pre token trigger function would have to inject a cognito:groups value of public for unauth users.  I’ll have a play with it and see if I can get something working.

[2021-02-12 17:05] royjit opened #6608 "CLI change broke clients - Pinpoint GetUserEndpoints"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

Pinpoint

**Amplify CLI Version**

4.41.2

**What AWS Services are you utilizing?**

Pinpoint

**Provide additional details e.g. code snippets**

Customers are enquiring about some recent change in CLI - https://github.com/aws-amplify/amplify-cli/pull

[2021-02-12 17:08] avlonder commented on #5715
Any idea if this is going to be fixed soon?
It's annoying that I have to manually rewrite parts of my schema in the console after every api push.
This is going to lead to errors in production soon or later without a doubt.

[2021-02-12 17:25] jhockett commented on #6593
Did running `amplify logout --appId <yourAppId>` fix the issue for you?

[2021-02-12 17:26] mjza opened #6609 "Sort data on a property of the connected object"
Assume I have the following model:

[code]

The question is if I want to have list of employees of an institute sorted by their names, how can I create the sort key?

I mean something like this:

[code]
Is it possible?

[2021-02-12 17:29] ryanhollander commented on #1043
@kylekirkby Good luck. FYI, You can use the Amplify CLI to create the trigger w/Lambda through the Auth Flow.

[2021-02-12 17:44] kylekirkby commented on #1043
@ryanhollander cheers! I used the cli to add a pre sign up trigger hoping to be able to link External Provider accounts with Cognito Users only to find that the AdminLinkUsers api function is broken :/

 https://blog.ilearnaws.com/2020/08/06/error-cognito-auth-flow-fails-with-already-found-an-entry-for-username/

[2021-02-12 18:04] ryanhollander commented on #1043
@kylekirkby briefly, I just implemented this using the pre-sign-up trigger and adminLinkProviderForUser. I did this using the Auth Flow and a few lambdas. There were a lot of gotcha's! What I thought might take a morning took me almost 3 days. I did not experience this particular issue, though I read about it alot, it's possible the amplify js eats the issue or cognito was fixed, not sure. FWIW: I

[2021-02-12 18:19] SwaySway commented on #6609
@mjza You can add additional fields to use as the sort key.
`@connection` docs: https://docs.amplify.aws/cli/graphql-transformer/connection
`@key` docs: https://docs.amplify.aws/cli/graphql-transformer/key

[2021-02-12 18:19] kylekirkby commented on #1043
@ryanhollander nice one for the write up! Sounds familiar! I’ve done the whole create a secondary lambda to be called from a post confirmation trigger in another project. I managed to get the pre signup trigger to work with wildcard permissions without needing to add to another lambda function. I know the full cognito pool arn should be used but that was a quick work around and I assumed that sinc

[2021-02-12 18:46] ryanhollander commented on #1043
@kylekirkby with the amplify cli you can give the lambda the exact pool arn for each env with 0 overhead after you do the 1 custom config. Another type/model is always an option, both paths have advantages. I've done that signed URL to S3 scheme too. It's not hard to implement and works great. I think I pulled most of the code from a blog post somewhere.

[2021-02-12 19:50] rraczae commented on #401
This does not work with `DataStore`. Adding the field "manually" gives you access but `updatedOn` does not change automatically.

[2021-02-12 20:01] krikork commented on #836
Would be great to be able to push individual resources. Comes specially handy if there is a team of people collaborating on a project.

[2021-02-12 20:04] agileurbanite commented on #4128
👍 I ran into this issue as well, it wasn't obvious as I thought it would take my default profile as @steinybot mentioned

[2021-02-12 20:20] malcomm commented on #1886
@kaustavghosh06  / @mikeparisstuff   - just putting another ping on this. Would love to know if this is going to get support or not?

[2021-02-12 20:38] kylekirkby commented on #1043
@ryanhollander how did you arrange the bucket for user uploads? Did you use the Amplify Storage feature and then set uploads to private?

[2021-02-12 21:35] kldeb commented on #4333
How about `amplify mock`creates a copy of the schema and comments out the `@searchable` directives for me? That way I don't accidentally drop it in production when i yolo push my app.

[2021-02-12 21:48] blairtaylor opened #6611 "Unable to do an Amplify push"
We are unable to do an Amplify push as of this morning.

We have done hundreds of pushes for this project over the last year.

We receive the error "<resource> must have values" multiple times and have not come across this before:

Here is the stack trace:

? Do you want to update code for your updated GraphQL API Yes
? Do you want to generate GraphQL statements (queries, mutations and subscriptio

[2021-02-12 22:05] brrcrites commented on #6602
@SwaySway The analytics was originally added through the Amplify CLI when we setup the project, but later we created a different Pinpoint project through the console and updated the `team-provider-info.json` file to use the console created Pinpoint name and ID (rather than the one it was previously associated with) and delete the one created through the CLI.

Since the correct value is present in

[2021-02-12 22:13] loganpowell commented on #1181
I accidentally deleted the log group created for my AppSync API via Amplify. Is it possible to undo that or attach a new log group? It doesn't seem possible in the console/UI. After a few attempts, it looks like that feature just causes the page to freeze.

[2021-02-12 22:17] evanmcd commented on #5878
@PeteDuncanson, thanks for writing this up. I've been struggling with the same issue and don't want to go near the steps outlined in the docs.

Is there really not an easier way to get a custom query into the schema and thus available throughout the code base?

[2021-02-12 22:23] PeteDuncanson commented on #5878
I here there is a new Javascript way to write these resolvers coming soon. That would at least mean that we could write them in a language we know but any docs for that I would need to assume I know nothing about VTL (or anything for that matter!) and start afresh with "here is what a resolver is, here is what we need to do, why and finally here is the how with samples". Don't know the ETA for thi

[2021-02-13 02:16] tomhirschfeld commented on #1406
I am trying to add 2 GSIs to the same table, and no matter what fiddling I do with my cli.json, I cannot get it to work, I keep getting this error:

"UPDATE_FAILED      UserCampaignTable                               AWS::DynamoDB::Table   Fri Feb 12 2021 18:14:30 GMT-0800 (Pacific Standard Time) Cannot perform more than one GSI creation or deletion in a single update"

Any suggestions on what to

[2021-02-13 05:31] faraznajuthi opened #6613 "Rename userPoolGroups folder"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
We cannot follow a naming convention for our project. userPoolGroups and AdminQueries, these folders are created by amplify. Two of them are in different naming convention.

**Describe the solution you'd like**
We want to be consiste

[2021-02-13 06:17] rajrajhans opened #6614 "Steps followed in CONTRIBUTING.md result in errors on a Windows machine"
**Describe the bug**
On a windows machine, running `yarn setup-dev` (as instructed [here](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTING.md#getting-started-with-development)) results in errors. According to `package.json`, there is a separate command `yarn setup-dev-win` which works for Windows, but this is not mentioned in CONTRIBUTING.md

**To Reproduce**
- As instructed [he

[2021-02-13 07:59] mjza commented on #6609
What do you mean by adding additional field? Should I have `username` as an extra column?
I know this way myself. I am looking for a way to not do that and access to `name` in `user` field.
Sorry but you didn't answer my question.

[2021-02-13 09:51] yaquawa opened #6616 "Support VTL resolver"
I found that amplify provides a `@function` directive to add any custom resolver via Lambda.
But in most cases, a simple VTL resolver is enough and efficiency.
Please consider to implement a directive for VTL resolver.

Thanks.

[2021-02-13 09:59] yaquawa commented on #6226
This may related to my feature request.

https://github.com/aws-amplify/amplify-cli/issues/6616

The table name could be generated automatically, and inserted in to the VTL as a simple variable
[code]

[2021-02-13 11:08] cornelcroi commented on #4939
Hi,

It would be very useful to add lambda @edge for the CloudFront hosting distribution.
I thing the easier would be to implement it on `amplify hosting add` or `amplify hosting update` when it will ask you if you need a lambda edge. If so, you should let you choose which trigger you want (`viewer request`, `origin request`, `origin response` and `viewer response`) with a multiple selection optio

[2021-02-13 12:11] michaelbrewer commented on #5566
@kaustavghosh06 what is the timeline on this? Otherwise `amplify function build` does not seem to work, it just hangs without completing.

[2021-02-13 12:13] michaelbrewer commented on #6159
But default i still get this issue and i can't do a `amplify function build`. Amplify CLI should fix this out of the box.

[2021-02-13 12:15] michaelbrewer commented on #6159
@bfleming-ciena i agree this is not resolved
@jhockett can you reopen this

[2021-02-13 12:18] michaelbrewer commented on #5566
Oh i see that this is a separate issue (which is NOT being fixed):
* https://github.com/aws-amplify/amplify-cli/issues/6159

[2021-02-13 12:25] michaelbrewer commented on #780
yes i did log an issue like this here: https://github.com/aws-amplify/amplify-cli/issues/5566

In general amplify does not seem to care about the build system being efficient.

[2021-02-13 12:41] omenking opened #6617 "Confusing messaging leads to duplicate projects: "You are not working in a valid Amplify project""
In AWS Amplify, you can build a web application without having to ever pull the backend because you are using the Admin UI.

It is very easy to run into the error "You are not working in a valid Amplify project" and then be prompted to run `amplify init`

Then you will run `amplify init` and not realizing that it has now just created a second application.

<img width="736" alt="Screen Shot 2021-02

[2021-02-13 18:08] pepso commented on #6611
I have the same issue, but against a newly added lambda only (plain express JS boilerplate function).

My Amplify CD pipeline does not show an error in the logs and only information about the failure is available through cloud formation: "CREATE_FAILED | Parameters: [s3Key, deploymentBucketName] must have values"

Steps to reproduce:
- Add new lambda function (select Express template)
- Push chang

[2021-02-13 18:18] jehielmartinez commented on #6473
Facing the same problem all the owner fields disappear at codegen causing errors in the app. Using v4.43.0

[2021-02-13 18:19] blairtaylor commented on #6611
Updating the Amplify CLI to the latest version resolved the issue for us.

[2021-02-13 22:31] ryanhollander commented on #1043
@kylekirkby I used the Amplify Storage and amplify.js on the front end, I store the reference in DynamoDB. I then use the aws sdk in a lambda to generate a signed URL with a 24 hour expiration and a custom URL shortener (lambda/s3) to generate a short, branded link pointing to the signed url. This is what we send to the user when they request a document. The user is interacting with an Alexa skill

[2021-02-13 23:52] poitevinpm commented on #2481
I removed '-g ' to get it to work, otherwise you will need access to all root directories

[2021-02-14 00:00] dabit3 commented on #6488
Update here: It looks like since I was using Next.js, there is a way to configure the trailing slash to make this work. There is a good blog post here that I will post:

https://creativedesignsguru.com/next-js-aws-amplify-cognito-oauth/

Using this configuration, everything works properly. I will go ahead and close this issue since I opened it and it seems like there is a simple workaround built i

[2021-02-14 00:28] poitevinpm commented on #2481
Also the curl command works best: `curl -sL https://aws-amplify.github.io/amplify-cli/install | bash && $SHELL`

[2021-02-14 02:13] undefobj commented on #6217
Tracking cross table authorization with vNext which will support Pipeline resolvers: https://github.com/aws-amplify/amplify-cli/issues/3430

[2021-02-14 05:41] rajrajhans commented on #6224
Hi @stleon. I tried to reproduce your issue, but I was able to pass the parameter to CloudFormation, and it showed up in my AWS Console as well.

I believe the issue is with your YAML template. In the `category-cloudformation-template.yaml` which you have posted, it should be `'Yes'` and `'No'` instead of just `Yes` and `No`. Check the screenshots below for reference.

This works:
![image](https:/

[2021-02-14 10:16] mark-hayward commented on #1970
I feel amplify cannot be a production ready service when it can delete my dynamo tables on a whim.

[2021-02-14 11:17] pepso commented on #6611
My fix was to manually remove the parameters of s3Key and deploymentBucketName from the newly created Lambda function's cloud formation template. I'm going to raise this as a separate issue so it will be tracked...

[2021-02-14 11:54] pepso opened #6619 "Incompatibility with previous project using latest 4.43 fails Lambda deployments"
I have created my original amplify project around when the cli version ~4.21.3 was out.

The last ~8 months of amplify-cli releases and incompatibility with AWS Amplify service is causing issues to our project. The latest update is no different.

Background and contexts:
- I updated my local development environment to amplify-cli to 4.43 (so I get support for lambda layers <- totally worth raising

[2021-02-14 18:42] rajrajhans commented on #6432
Once you create a new environment and run `amplify env list` it will show you that current environment is actually the new one you just created, so it's definitely a bug wherein the `aws-exports.js` file is not getting updated with the new environment's endpoints and keys.

[2021-02-14 23:48] matansagee commented on #5072
+1

[2021-02-14 23:55] tryheirloom-alex commented on #6619
Hi @pepso, I found this issue while facing similar symptoms:
 - My local Amplify CLI (4.43.0) changed the `*-cloud-formation-template.json` files to take the parameters `deploymentBucketName` and `s3Key`.
 - The `amplify push` command works locally. I can see these parameters and their values in `team-provider-info.json`
 - The build fails when it is triggered from the CD pipeline with the followi

[2021-02-15 01:08] vincent38wargnier opened #6623 "AWSDateTime mutation Filtering bypassed if I don't refresh the page after updating data"
Hi,
I spent some hours finding what was weird in my app. I will try to be clear in its way of working:

-I have services that a user can subscribe. When a user unsubscribes to a service, I update the field "dateUnsubscribed".
If the "dateUnsubscribed" field = to null or < now, it means the user still subscribes to the service.

In my app, I have options like this : subscribe to the service you wan

[2021-02-15 05:56] Maxoos opened #6627 "[4.42.0] Pushing lambda Layer changes fails"
**Describe the bug**
I am unable to push changes to Lambda Layers. When you create the layer for the first time it pushes fine, however, if you try to push again after making changes it fails:

`Reason: Layer version arn:aws:lambda:ap-southeast-2:394171433029:layer:appLayer-refactor:1 does not exist. (Service: AWSLambdaInternal; Status Code: 404; Error Code: ResourceNotFoundException; Request ID:

[2021-02-15 06:55] mjza commented on #6389
@attilah Could you provide any documentation or link to a tutorial for the last 2 suggestions?

[2021-02-15 07:07] Creskendoll commented on #5273
Following @PeteDuncanson's comment, I did a `amplify pull --restore` and that fixed it for me.

[2021-02-15 09:17] kylekirkby commented on #1043
@ryanhollander Thanks for the insight!

[2021-02-15 09:27] kylekirkby commented on #6363
I've just got the same issue whilst pushing an update to my API. Is it not possible for the Amplify CLI to update this users permissions? This `amplifyadmin` user was created when initializing this project.

[code]

[2021-02-15 10:54] mattfysh commented on #3390
I've also just come across this issue. My first thought was to simply update the generated cloudformation file, however... the template used by the CLI to generate the CloudFormation config is located here:

https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-category-api/resources/awscloudformation/cloudformation-templates/apigw-cloudformation-template-default.json.ejs

In you

[2021-02-15 11:48] kylekirkby commented on #6478
This is also possibly the cause of an issue that I'm facing. I'm using the IAM authMode and I'm failing to retrieve any data in the subscription payload.

[code]
A subscription for the Resource type is returning:

[code]
On a separate note, since I'm using two `authMode`'s I've using:
[code]
Where `authMethod` is either `AMAZON_COGNITO_USER_POOLS` or `AWS_IAM`, depending on whether the user is log

[2021-02-15 12:46] zohaib-enquizit commented on #3350
@alexladerman I was facing same issue. I've to create production resources in different AWS account so I could not find any solution, but then I accidentally landed on this page
https://haverchuck.github.io/docs/cli/multienv#team-members-working-on-their-own-sandbox-environments-recommended

where following steps worked for me. I committed all changes, switched to a new branch and follow these ste

[2021-02-15 13:29] ogiogi93 commented on #4347
+1

[2021-02-15 14:14] Nxtra commented on #6190
If you are publishing in your CI pipeline chances are that warnings are treated as errors.
Thereby any warnings from your Frontend code will break the pipeline when doing a publish.

Either fix all warnings or set the env var `CI=false` in your pipeline.

[2021-02-15 15:14] Heldenkrieger01 commented on #5381
What changes need to be made (by hand) in the template right now, to enable CORS?

[2021-02-15 15:20] edmond-io commented on #6582
@SwaySway
- Yes, the aws console is ap-northeast-1
- If I init the amplify project at local, there is a prompt for me to select the auth resources (i.e. I have three auth resources at the moment) after the yellow warning message text of _auth resource was imported from 'undefined'_

[code]

**amplify/backend/backend-config.json**
[code]

[2021-02-15 15:56] mansdahlstrom1 commented on #6424
@nikhname The project is fine on my local machine, this problem seems to pop upp when it runs in GitHub CI. Do you think i should do `restore` before i've done the first `amplify pull`?

[2021-02-15 16:38] seankovacs opened #6628 "The Tag Value provided is invalid <tag value>"
**Describe the bug**
With my old Amp project, I made some changes to functions and tried to push updates via amplify push, using the latest CLI, and started receiving errors coming from something that wasn't even modified - DynamoDB tables. It came in the form of this error during push: "UPDATE_FAILED DynamoDBTable AWS::DynamoDB::Table Mon Feb 15 2021 11:01:43 GMT-0500 (Eastern Standard Time) The

[2021-02-15 17:53] yaquawa opened #6630 ""Update" operation force input unnecessary fields"
**Describe the bug**
it should only require the base table's primary key when running an update operation.

**To Reproduce**
[code]

↑gets this generated:
[code]

in the above example, the `id` filed is unnecessary in `UpdateReviewInput`, it should be the same as `CreateReviewInput`.

[2021-02-15 18:10] akshbhu commented on #2458
Hi @hollsteinm

May I know which amplify version are you using?
 I just tried with latest version created auth with  recaptcha and while updating auth ,I  deselected the recaptcha option and this removed all the lambda function associated with this option.

Can you try with latest amplify version: 4.43.0?
 Let me kow if this works for you

[2021-02-15 18:26] yuth commented on #6628
@seankovacs Thank you for the report.

When you say create from the web do you mean by using the Admin UI (https://sandbox.amplifyapp.com/)?

We added tag validation in https://github.com/aws-amplify/amplify-cli/commit/31eb8ebff2fcbd215975c8ac05287d023d544c42 and its waiting for the release and should be included in next release (after 4.43.0). This should stop the deployment before a cloud-format

[2021-02-15 18:34] seankovacs commented on #6628
Good question. I created it via the [AWS Amplify Console](https://console.aws.amazon.com/amplify/home?region=us-east-1#/).
That's good to hear regarding the new update.

[2021-02-15 18:36] hutch120 opened #6631 "GraphQL @Auth directive"
Hi All!

Details below, but basically, I'm having trouble figuring out how how to manage mutation access to a connected table via the @auth directive where the parent table has a list of cognito `editors`? Seems like a fairly common use case. Any tips would be most appreciated. I've gone over the [documentation](https://docs.amplify.aws/cli/graphql-transformer/directives) again and again, but it i

[2021-02-15 18:36] #6631 closed

[2021-02-15 18:39] patrickliechty commented on #6575
I was able to get passed the issue by renaming my amplify folder. I then did an amplify pull to get synced up.  I added my function and layer again and did a push.  It worked this time.

[2021-02-15 18:39] #6575 closed

[2021-02-15 19:45] n3b commented on #6546
@jhockett I just created a new env, did `amplify push auth` and it completed successfully.
However when I do `amplify push api` after auth created, it fails creating resolvers `No data source found named xxx_rds_DataSource (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException;` and it ends up with
[code]

Another small issue I noticed: when I want to use AWS profile from my profile

[2021-02-15 21:05] yuth commented on #6627
@Maxoos When creating layer what was the access permission used?
![Screen Shot 2021-02-15 at 1 03 48 PM](https://user-images.githubusercontent.com/511386/107992778-40e94280-6f8e-11eb-9741-af2a3f1b3f8d.png)

[2021-02-15 21:07] Maxoos commented on #6627
@yuth It was skipped

[2021-02-15 21:11] yuth commented on #6627
Do you have multiple environments?

[2021-02-15 21:12] Maxoos commented on #6627
@yuth Yes, this is on the "refactor" environment. We have 3 more.

[2021-02-15 21:20] Jhenri-silva opened #6632 "amplify init Missing required key 'name' in params bug."
I was continuing a amplify nextjs project from another computer and an error appears when `amplify init`

I don't know what I did wrong, but It's seems that `ParamValidator` of  `@aws-amplify` lib is accusing a param `name` is missing. I think It's because I using asdf on ubuntu, but already reshim the lib, and this error continues.

I have tried change lib version, but nothing.

How could I solve

[2021-02-15 21:24] Maxoos commented on #6627
@yuth I should also mention that I've created the refactor environment at the same day, with version 4.42.0.

[2021-02-15 21:53] yuth commented on #6616
What is the use-case you have in mind, which would help to have custom VTL Resolvers?

[2021-02-15 21:57] #6614 closed

[2021-02-15 22:13] yuth commented on #6611
@blairtaylor did you have the Amplify CLI version pinned

[2021-02-15 22:20] yuth commented on #6619
@pepso Thank you for your feedback. Did you have the Amplify CLI version pinned in Amplify console?

[2021-02-15 23:21] SwaySway commented on #6602
@brrcrites Could you provide the `amplify-meta.json` file for the project? If the information is sensitive you can email it to us amplify-cli@amazon.com.

[2021-02-15 23:23] SwaySway commented on #6600
This enhancement looks more applicable to the Amplify Console Team, transferring to their repo for better tracking.

[2021-02-15 23:28] SwaySway commented on #6608
Closing as duplicate of https://github.com/aws-amplify/amplify-ios/issues/946

[2021-02-15 23:28] #6608 closed

[2021-02-15 23:37] SwaySway commented on #6606
Hello @AdriannaJedrzejczak

We do not recommend using import auth to move your auth resource from mobilehub to amplify cli.
We do have a migrator tool which can help with this usecase
Repo: https://github.com/awslabs/amplify-mobilehub-migrator

[2021-02-16 00:04] AdriannaJedrzejczak commented on #6606
Thanks for your response, @SwaySway.

I tried using the migration tool however, I found the following issues:
1. Hosting feature is not migrated properly. I cannot either successfully run `amplify publish`, because its causing the following error: ```An error occurred during the publish operation: No Amazon CloudFront and S3 hosting service is enabled.```

nor run `amplify add hosting` or `amplify

[2021-02-16 00:42] weisisheng opened #6633 "Error: Cannot find module 'amplify-cli-logger' or new node version v14.9.0"
**Describe the bug**
A clear and concise description of what the bug is.

Updated working system (Ubuntu 20.10) to node 14.9, updated amplify to latest.  Used Amplify code about 12 month snow.  When I try to check Amplify version, I get the error stated above and a reference to folders in node version 12.18.3 as such --> " '/home/foo/.nvm/versions/node/v12.18.3/lib/node_modules/@aws-amplify/cli/bi

[2021-02-16 00:52] lr001dev commented on #6143
@jhockett Possible to get an update on this issue? Any info would be helpful. Thank you!

[2021-02-16 01:11] yuth commented on #6633
@weisisheng
1. How did you update the Amplify CLI after installing Node 14.9
2.  Did you get any error when installing the CLI?
3. Do you have custom `PATH` variable set in the shell to ensure Amplify CLI is added to the PATH

[2021-02-16 01:17] yuth commented on #6632
@Jhenri-silva What version of Amplify CLI do you have installed? Could you also include the CLI log file which should be located in `~/.amplify/logs`. The files are named based on date.

[2021-02-16 01:31] yuth commented on #6627
Could you share your `team-provider-info.json` after you redact sensitive information from the file

[2021-02-16 01:39] yuth commented on #6623
@vincent38wargnier Where do you run these queries? Do you use AppSync console or do you use Amplify Library to run these queries?

[2021-02-16 01:40] mcanvar commented on #2081
I am currently facing this when I trying to generate `Address`. It generates ie `listAddresss` instead of `listAddresses`.

[2021-02-16 02:07] Maxoos commented on #6627
[code]

@yuth removed ids and hashes

[2021-02-16 02:14] frankclaassen commented on #6416
Any comment on how to access lambda directly without API gateway???

[2021-02-16 02:28] weisisheng commented on #6633
Hello-

1. Used this-->sudo npm install -g @aws-amplify/cli --unsafe-perm=true
2. No error, finished per the usual.
3. This was it.  Path was still showing the old version of node even after I switched in NVM.  Fixed now.
Thank you.

[2021-02-16 02:28] #6633 closed

[2021-02-16 03:50] frankclaassen opened #6634 "@key values not being populated in DynamoDB"
**Describe the bug**
values for @key definitions are not being updated and get something like this as value ${ctx.args.input.fieldName1}#${ctx.args.input.fieldName2}

**Amplify CLI Version**
4.42 & 4.43

**To Reproduce**
create a new record for a type with combined @key definition

**Expected behavior**
Expect actual values to be populated

**Desktop (please complete the following information):**

[2021-02-16 03:55] frankclaassen commented on #6634
This is a critical issue as I am now sitting with a heap of production data with garbage data values!!!!

[2021-02-16 04:10] jgroom33 commented on #5273
I did the following manually to align the project with what the new standard seems to be:
1. foo-cloudformation-template.json
[code]

2. update team-provider-info.json
[code]

[2021-02-16 04:51] renebrandel commented on #6617
Hi @omenking good feedback. What do you think of this prompt:

[code]

[2021-02-16 06:04] agordeev commented on #5513
Still, the region isn't listed when trying to input it (`me-south-1`)

[2021-02-16 07:03] yaquawa commented on #6616
Hi @yuth
That could be any edge cases that the framework not provides.
For example complicated auth rules or validation rules depending on the domain logic, or the missing `BatchGetItem`, `BatchWriteItem` operation which the framework not provides, there are so many edge cases you can tell.

It's easy enough to attach VTL resolver via the AppSync console, but this way you have to write the tedious

[2021-02-16 07:25] chinna2580 commented on #4670
unable to start the serverless.
 still gets the following error:
 Serverless: ERROR: Error: max retries hit for starting dynamodb emulator

i have the following java version
openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)

lsof already installed

[2021-02-16 07:57] sytolk opened #6635 "Error when try to change AWS credentials "TypeError: Cannot read property 'type' of undefined""
**Amplify CLI Version**
amplify -v
4.42.0

**To Reproduce**
Steps to reproduce :
Amplify Project is working and published. I have try to change AWS profile in order to publish in other AWS account

`amplify configure project`

[code]

**Log output**
Include any relevant log output under `~/.amplify/logs/amplify-cli-<issue-date>.log`
[2021-02-16T07_43_49_415Z-debug.log](https://github.com/aws-ampli

[2021-02-16 08:10] sytolk commented on #6635
I have try to change profileName in local-aws-info.json
[code]
but after `amplify status`
[code]

[2021-02-16 08:20] lostcodingsomewhere commented on #6450
i am having this same issue on 4.43.0, any advise?

[2021-02-16 08:24] chinna2580 commented on #2062
unable to start the serverless.
still gets the following error:
Serverless: ERROR: Error: max retries hit for starting dynamodb emulator

i have the following java version
openjdk 11.0.10 2021-01-19
OpenJDK Runtime Environment (build 11.0.10+9-Ubuntu-0ubuntu1.18.04)
OpenJDK 64-Bit Server VM (build 11.0.10+9-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)

lsof already installed

[2021-02-16 08:30] yaquawa opened #6636 "Support import statement in graphql files"
After I saw https://github.com/aws-amplify/amplify-cli/issues/962

I realized that the order of auto merging relied on filename implicitly.

For example:
[code]
would be merged in order of:
[code]

which may not be the correct order to be merged.

to solve this issue, you may use [graphql-tools](https://www.graphql-tools.com/docs/schema-loading/#using-import-expression) to implement this feature.

[2021-02-16 08:31] patrykkrz opened #6637 "Can not choose partition and sort key as key for GSI."
I have an existing DynamoDB table created by amplify
The table has only two columns:
- PK (as Partition Key)
- SK (as Sort Key)

The remaining columns will be added by the application later as needed (never mind at this case).

I need add GSI to reverse Partition Key <-> Sort Key. I tried to add GSI, when partition key for GSI was "SK" column from my table, and sort key for GSI was "PK" column, bu

[2021-02-16 08:53] yaquawa commented on #3248
@SydneyDC That's fun... I hope this will be fixed in https://github.com/aws-amplify/amplify-cli/issues/6217

[2021-02-16 10:12] igorkosta commented on #5854
I know the issue is closed but the error still persists on 4.41.2

[2021-02-16 12:00] toritroniks commented on #6424
My problem was solved..

In my case, the problem was a malformed environment setting in the team-provider-info.json file...
I think one of the project’s member was using an older version of the cli when creating the amplify environment.

[2021-02-16 12:31] pepso commented on #6619
Hi @yuth, and more than happy to share my findings if these help us all going forward.

_Did you have the Amplify CLI version pinned in Amplify console?_
I used the "latest", which might have not been latest (4.43) based on answer by @tryheirloom-alex, and then I pinned the versions 4.42, and 4.41.2 into build settings to test these versions out.

_Also do you have the team-provider-info.json file

[2021-02-16 13:12] ronaldocpontes commented on #1055
@mikeparisstuff @renebrandel this would massively help on our multi-tenancy use case and it is currently a blocker for our adoption of Amplify as our main stack. Is anyone still working on this?

[2021-02-16 13:15] hisham commented on #1055
@ronaldocpontes @iyz91 - I'm not part of the amplify team. But I assume the plan is to implement https://github.com/aws-amplify/amplify-cli/issues/6217, which will have pipeline resolver support.

[2021-02-16 13:28] dorontal commented on #6589
I believe that this is what's going on and will propose a direction to fix it (though I may be wrong):
* The post-confirmation lambda gets called and is authenticated at that time with Cognito User Pool
Here's what needs to happen
* With the user token, get temporary IAM credentials from the Identity Pool
* Use these IAM credentials to sign the API request with Signature Version 4
as desribed [her

[2021-02-16 13:31] kevcam4891 commented on #1055
@ronaldocpontes @iyz91 Until this is ready, I've found **tremendous** value in authoring a custom transformer plugin that adds pipeline resolver support by default. These pipelines automatically add `FunctionConfiguration`s that:
1. Authorize a user within a multi-tenant application (authentication is already handled by Cognito)
2. Log user's action to an `Events` table for complete audit capabili

[2021-02-16 14:01] ronaldocpontes commented on #1055
@hisham thanks for referencing #6217 ... will definitely have a play with **useExperimentalPipelinedTransformer**

@kevcam4891 this is exactly what we need. Would you have more details on how did you write your custom transformer plugin? Would you be kind enough to share some of the code for it?

[2021-02-16 14:46] kabagema commented on #35
A solution i found

- Delete the amplify folder
- update or add awsmobile
- amplify init
and the aws-export.js was created

[2021-02-16 15:09] yaquawa opened #6638 "Integrate `SearchableSortDirection` and `ModelSortDirection` into one enum"
Please consider integrate `ModelSortDirection` and `SearchableSortDirection` into a single one.

[code]

It's the same thing, with two different types, they can be used interchangeably.

[2021-02-16 16:05] kjones commented on #4038
Just ran into this also. New @models and no way to add them as triggers to an existing Lambda function. Going to try deleting the function and starting over. Then restoring all the Lambda function code the CLI overwrites from source control. 🤞🏻

[2021-02-16 16:35] renebrandel commented on #1055
Hi @ronaldocpontes - correct we're tracking this as part of #6217 and here's the documentation to author a custom transformer plugin: https://docs.amplify.aws/cli/plugins/authoring#authoring-custom-graphql-transformers--directives

[2021-02-16 18:16] lostcodingsomewhere commented on #2248
I too am running into this issue -- currently on version 4.43.0

[2021-02-16 18:17] mgarabedian opened #6640 "Appsync Mock: Util.error or #return continues execution of pipeline and resolvers."
**Describe the bug**
As of version 4.42.0 and above, appsync simulator is not aborting on #return or $util.error.  My pipeline functions continue to execute after an error is thrown, all the way until the resolver template. If I downgrade to 4.41.2, the problem is gone.

**Amplify CLI Version**
Affecting 4.42.0 and 4.43.0

**To Reproduce**
Throw an exception in a vtl template. $util.error("ERROR")

[2021-02-16 18:24] sharmaaditya570191 commented on #6635
I am able to reproduce this error on the following configuration:-

Node version: 10.23.3
OS: Ubuntu 18.04
Amplify CLI version: 4.43.0

I used `amplify configure project` and got this error.
![image](https://user-images.githubusercontent.com/42587159/108105083-27d9b200-70b2-11eb-86f5-f1e56bf16ffd.png)

[2021-02-16 19:02] renebrandel commented on #6635
@sharmaaditya570191 @sytolk thanks for raising this issue. #6629 will address this problem and we're going to release it ASAP.

[2021-02-16 19:06] sevenseat commented on #6595
After upgrading to 4.43.0, I had this issue as well.  I did not originally have the `generateGraphQLPermissions` flag set, but I set it after reading the thread.  The issue didn't disapper.  To get things back to working, I followed @r0zar 's instructions above, setting the permissions to `/*`

[2021-02-16 19:10] gruckionvit commented on #5273
A mixture of new init's `amplify pull --restore` and remembering that you need to init someone else's environment on your machine before you can use it because the `local-aws-info.json` which is hidden from git needs to update.

[2021-02-16 19:13] ericclemmons commented on #3550
Related, there may be other fields configured via `amplify add auth` that should be exported automatically:

[2021-02-16 19:28] patrickcze commented on #401
@yuth @DevTGhosh thanks for the reply, after making the same changes on your side have you seen errors like this?

```DataStore - Skipping incoming subscription. Messages: Cannot return null for non-nullable type: 'AWSTimestamp' within parent 'ModelV1' (/onUpdateModelV1/_lastChangedAt)```

[2021-02-16 19:48] ManAnRuck commented on #5442
for me it's important to define custom template literal tag. this should be possible to place queries near my components and not in one place.

[2021-02-16 19:51] ronaldocpontes commented on #1055
Thanks @renebrandel and @kevcam4891

I am planning to copy/expanding the graphql-auth-transformer to implement @mikeparisstuff solution here https://github.com/aws-amplify/amplify-cli/issues/317#issuecomment-431483341

But this would end up just like the PR below, which wasn't merged:
https://github.com/aws-amplify/amplify-cli/pull/3123/files

Would you recommend a different approach?

[2021-02-16 19:54] patrickcze commented on #5542
I have been able to resolve this issue with some of the comments in https://github.com/aws-amplify/amplify-cli/issues/401, however this cases an issue when using subscriptions where the _lastChangedAt value is not being set it seems.

DataStore - Skipping incoming subscription. Messages: Cannot return null for non-nullable type: 'AWSTimestamp' within parent 'GroundHazardV1' (/onUpdateGroundHazardV

[2021-02-16 20:23] Nxtra opened #6641 "Specify public layer arn once and use in all Lambda functions"
**Which Category is your question related to?**
Function

**Amplify CLI Version**
4.43.0

**Challenge**
I want to use a publicly available layer, like a layer to instrument my code for extra visibility (eg Lumigo, Thundra).
These have a specific layer ARN, for example: `arn:aws:lambda:eu-west-1:xxxxxxxx:layer:layer-name:224`.

I want to use this layer in all my lambda functions.
**How can I specif

[2021-02-16 20:28] Jordan-Eckowitz commented on #6473
Hi @ammarkarachi, can we please get an update from your end. Just want to confirm somebody is addressing this issue...

[2021-02-16 20:34] gruckionvit opened #6642 "Tags feature to apply tags to resource is not applying them to Cognito resources"
**Describe the bug**
Tags feature to apply tags to resource is not applying them to Cognito resources

**Amplify CLI Version**
4.41.0

**To Reproduce**
Add custom tags to the tags.json file.

**Expected behavior**
Expect to see them on a Cognito resource.

**Screenshots**
No tags??

![Screenshot 2021-02-16 at 20 31 10](https://user-images.githubusercontent.com/67283459/108118207-eaffc200-7095-11eb

[2021-02-16 20:50] igorkosta opened #6643 "Unknown type \"AWSEmail\""
**Describe the bug**
`AWSEmail` scalar type is not recognized when used locally with  `amplify mock api`

**Amplify CLI Version**
4.43.0

**To Reproduce**
Use `AWSEmail` scalar type in your graphql schema.
Whenever you try to query the data with

[code]

The call to graphql api results in following error:

[code]

**Expected behavior**
`AWSEmail` scalar type works as expected.

- OS: Mac OS Mojave

[2021-02-16 21:23] kevcam4891 commented on #1055
@ronaldocpontes I'd recommend NOT trying to introduce something into the Amplify codebase. Create a standalone plugin that sits in your project. Amplify CLI will look for npm packages that are installed local to your user, your project, or are installed globally on your machine. I'll try and follow up soon with an article of what I did in particular (its not a trivial writeup), but for sure, you c

[2021-02-16 21:54] renebrandel commented on #1406
@dsypniewski @tomhirschfeld in the latest version of the CLI, we've bubbled up more verbose errors to help us debug this issue. Can you try again and give use the stack trace?

@tomhirschfeld in your particular case, it looks like it's not even hitting the experimental feature flag. Can you paste your `cli.json` in here and a condensed version of your `schema.graphql`?

[2021-02-16 22:28] edwardfoyle commented on #6634
Hi @frankclaassen I'm unable to repro this with a simple schema with a compound @key definition. Can you provide your GraphQL Schema?

[2021-02-16 22:36] tomhirschfeld commented on #1406
here is my CLI.json
[code]

and here is the model we are updating and getting the GSI error

[code]

[2021-02-16 22:48] tomhirschfeld commented on #1406
and then what I get in the output is basically this:

[code]

[2021-02-16 23:18] lostcodingsomewhere commented on #2248
For anyone running into this issue (on v4.43.0), here's a workaround (pretty hackey but will suffice for now):

replace all of your `API.graphql` with the following helper:

`const graphqlAPI = async (
   options,
   additionalHeaders?: {
      [key: string]: string;
   }
): Promise<any> => {
   try {
      return await API.graphql(options, additionalHeaders);
   } catch (err) {
      const realEr

[2021-02-16 23:19] lostcodingsomewhere commented on #6450
For anyone running into this issue (on v4.43.0), here's a workaround (pretty hackey but will suffice for now):

replace all of your `API.graphql` with the following helper:

[code]

[2021-02-16 23:43] jhockett commented on #6641
Hi @Nxtra, while we do have the option to add a layer via ARN to a function with `amplify update function`, there's no way to do this for multiple functions with a single CLI command. Marking this as an enhancement.

[2021-02-17 00:20] edwardfoyle commented on #6599
@kylekirkby In the update flow it looks like you selected "No" to "Do you want to use an OAuth flow?" which will remove the OAuth configuration for the auth resource which will remove the redirect URLs and App Client settings as you observed. When going through the update flow, you'll need to select "yes" to the OAuth question (even if you don't want to make any changes to the OAuth config) in ord

[2021-02-17 00:21] jcvalerio commented on #5536
@ammarkarachi  this issue still present on latest version like `4.32.1`

We use the *PR Preview* feature, so we have to create the environment at runtime, so add those values on the `amplify/team-provider-info.json` is not an option

we have a custom `amplifyPush` to do the headless workflow but this didn't work because, the amplify console have no idea of how handle the `RDS` settings

At the Amp

[2021-02-17 00:22] sanjaykataria10 opened #6645 "Amplify push, status and env Cannot read property 'forEach' of undefined TypeError: Cannot read property 'forEach' of undefined"
**Describe the bug**
amplify status -> Cannot read property 'forEach' of undefined
TypeError: Cannot read property 'forEach' of undefined
    at AmplifyToolkit.showHelpfulProviderLinks show-helpful-provider-links.js:12:15

amplify env checkout <name>
Cannot read property 'forEach' of undefined
TypeError: Cannot read property 'forEach' of undefined checkout.js:28:45

amplify pull --restore
Cannot r

[2021-02-17 00:32] edwardfoyle commented on #6591
Hi @rmargolinross I'm not able to repro this using the latest version of the CLI. I was able to edit existing URIs and add new ones. Can you provide more details around how you created and updated the auth resource? Also could you paste the contents of the "oAuthMetadata" field from the `parameters.json` file in the auth resource directory before and after running `amplify update auth`?

[2021-02-17 01:35] SwaySway commented on #6582
@edmond-io Are you using your own custom amplifyPush script? If so could you provide the script you are using.

[2021-02-17 01:42] SwaySway commented on #6562
Hello @yaquawa
This is a problem which you can run into in general with GraphQL, `@connection` included.
There are a few ways to leverage this problem in AppSync. Should you use `@function` in this scenario you can use BatchInvoke: https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-lambda-resolvers.html#advanced-use-case-batching

Additionally you can also cache the response: https://doc

[2021-02-17 01:51] Maxoos commented on #6627
@yuth is there a way to get around this issue? Maybe by downgrading versions?

[2021-02-17 01:53] SwaySway commented on #6581
The missing step here would be to additionally allow access to the api so it can submit the query operation as well.

Example
[code]

Additionally using this similar thread https://github.com/aws-amplify/amplify-cli/issues/3681 you can also increment the count on a field on the Comment model itself and query that field, using a field resolver in Post.

Closing this issue as it's more of a discussi

[2021-02-17 01:53] #6581 closed

[2021-02-17 02:34] frankclaassen commented on #6634
Hi @edwardfoyle

Here is an example schema where I had the problem (I had to revert to amplify 4.41 for the problem to go away):

type Person
@model(subscriptions: null)
@key(name: "byNameByDate", fields: ["firstName","lastName","birthDate"], queryField: "getPersonByNameByDate")
{
  id: ID!
  firstName: String!
  lastName: String!
  birthDate: AWSDate!
}

The composite key field ended up as descri

[2021-02-17 02:56] yuth commented on #6645
@sanjaykataria10 Could you answer the following
1. Is Amplify CLI installed gloablly (using `npm install -g @aws-amplify/cli`)
2. Is this project created in a different machine
3. Could you share the content of `<proj-root>/amplify/.config/project-config.json`.

[2021-02-17 03:12] yuth commented on #6636
@yaquawa  have you faced any problems with the merging order? The way graphql transformer works is it merges the set of documents inside the `schema` folder to a signle file first and then starts processing the merged document. Here the order of declaration does not matter as there are no scopes or namespaces.

[2021-02-17 03:55] sanjaykataria10 commented on #6645
@yuth

1. Amplify CLI installed globally
2. project was created in my m/c but I have other developers working on it
3. here is the project config on my local.
{
  "version": "3.0"
}
when reviewing on github looks like this file was deleted by a dev. (prev contents below)
{
    "providers": [
        "awscloudformation"
    ],
    "projectName": "amplify-jobs-app",
    "version": "3.0",
    "fronte

[2021-02-17 04:49] sanjaykataria10 commented on #6645
I have restored the project-config and am able to run amplify env commands. Thanks !

[2021-02-17 04:49] #6645 closed

[2021-02-17 05:12] patrickliechtypersonal commented on #5072
@micduffy could you share your script to use the latest layer version after deploy?

[2021-02-17 05:25] CharlieDigital commented on #5627
@ryanhollander @gruckion I fought this battle today (spent all day getting this to work).

https://charliedigital.com/2021/02/16/aws-appsync-pipeline-resolver-templates-secrets-manager-and-external-http-apis/

My conclusion? It really needs to be way easier and far more streamlined.  My thought is that by making it so inaccessible, it makes it more likely for developers to fall into bad habits and

[2021-02-17 05:45] jhockett commented on #6635
A fix was released in version 4.44.0. If you run into this issue again, please comment below.

[2021-02-17 05:45] #6635 closed

[2021-02-17 06:04] sharmaaditya570191 commented on #6591
I am not able to reproduce this issue on the following configuration:-

- Amplify CLI version 4.43.0
- Node version: 10.23.0
- OS: Ubuntu 18.04

My `oAuthMetadata` field in `parameters.json` is getting updated successfully on running `amplify update auth` with the federated option.

[2021-02-17 06:18] yaquawa opened #6647 "Support graphql "Conditional Put" with primary key condition"
I noticed that there is a "condition" parameter on the "createXXX" mutation fields.
But seems like it only gives the "non-primary-key"  fields?

According to the doc, you can put an item conditionally by checking if it already exists.

from https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html#DDB-PutItem-request-ConditionExpression

I don't know if this is a bug or somet

[2021-02-17 06:27] yaquawa opened #6648 "Add an option to add CRUD policies to DynamoDB Stream function"
copied from : https://github.com/aws-amplify/amplify-cli/issues/6581
Because I think this should be a feature request but not an issue report.

I've followed the doc to created a "DynamoDB Lambda Triggers".
https://docs.amplify.aws/cli/usage/lambda-triggers#dynamodb-lambda-triggers

But the policy lucks actions for using AWS SDK for DynamoDB like these:

[code]

I don't want to use AppSync from th

[2021-02-17 06:30] jhockett commented on #6537
Closing this issue. @hisham for further updates on union support, see the GraphQL Transformer [RFC](https://github.com/aws-amplify/amplify-cli/issues/6217). Feedback is welcome!

[2021-02-17 06:30] #6537 closed

[2021-02-17 06:33] frankclaassen commented on #6634
@edwardfoyle  how can I fix this issue until the cli gets fixed?  This is causing a major headache in my production environment

[2021-02-17 06:36] yaquawa commented on #6636
@yuth You can read #962 for more details, but the point is that I don't think this will work

[code]

because I think you have to define `XXX` first before you can extend it, I'm I wrong?

[2021-02-17 07:13] yaquawa opened #6649 "Support `@connection` to use Lambda resolver mapping template to solve the N+1 problem"
N+1 problem of AppSync could be solved by utilizing the ["BatchInvoke"](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-lambda-resolvers.html#advanced-use-case-batching) feature, but unfortunately this option is only available on the ["Lambda resolver mapping templates"](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-lambda.html).

Currently, t

[2021-02-17 07:15] yaquawa commented on #6562
@SwaySway Thanks for the doc link, it helps.
I posted a feature request on this topic
https://github.com/aws-amplify/amplify-cli/issues/6649

[2021-02-17 07:19] #6562 closed

[2021-02-17 07:32] ecerulm commented on #5513
@agordeev , What do you mean? `aws configure --profile amplify-xxxxx` will ask you to input the region (no list, you need to type the region name fully). `aws configure` replaces `amplify configure` you don't need to call `amplify configure` after.

[2021-02-17 07:48] sokichi-fj commented on #2458
This solution worked well for me. https://github.com/aws-amplify/amplify-cli/issues/2458#issuecomment-663958993

In the other hands, it is hard to find the solution from the error message of `amplify function remove` command. Actually I had been tried to update amplify config so much times. Adding helpful comment might be a solution of this issue.

[2021-02-17 07:49] agordeev commented on #5513
Sorry, my bad. Was using `amplify configure`

[2021-02-17 08:03] frankclaassen commented on #5820
This is a bug whereby composite key values are not being populated in dynamodb, see issue #6634

[2021-02-17 08:06] alissaVrk commented on #6583
any hope..? :)

[2021-02-17 08:29] frankclaassen commented on #6634
I can confirm this is an issue in the latest version of cli 4.44.0 as well

[2021-02-17 09:16] frankclaassen commented on #5820
further confirmation is that it seems the issue is only with creating new records, updating a record gets the composite key values set correctly

[2021-02-17 09:18] frankclaassen commented on #6634
further confirmation is that it seems the issue is only with creating new records, updating a record gets the composite key values set correctly

[2021-02-17 09:47] pafflu opened #6650 "secondaryKeyAsGSI attempts to remove existing LSI making any push operation fail"
**Describe the bug**
When setting the feature flag `secondaryKeyAsGSI` to `true` and changing anything in my schema, the `push` operation seems to attempt to remove an existing LSI.

I want to use the `secondaryKeyAsGSI` feature to add a `@key` to a different table that reuses the partitionKey. These tables cannot easily be deleted and recreated as they're in prod and full of data.

**Amplify CLI

[2021-02-17 11:13] tkang opened #6651 "unable to 'amplify push' after 'amplify add function' with access to storage(S3) resource"
**Describe the bug**

'amplify push' fails after 'amplify add function' with access to storage, api, and auth.

It fails with following message.

[code]
- It looks like there is an issue with configuring env for bucketName to be accessed by the lambda.
- I tried 'amplify add function' with access to api and auth only (e.g. excluding storage) and it works successfully.

**Amplify CLI Version**
4.44

[2021-02-17 11:51] hysuki opened #6652 "EOF error according to graphql file location in codegen models"
**Describe the bug**
`amplify codegen models` for generating flutter model occur EOF error
EOF error occurs when graphql file exists in schema folder subfolder.

[code]

for example,
[code]

[code]

**Amplify CLI Version**
[code]

**To Reproduce**
[code]

**Expected behavior**
model generates

**Desktop (please complete the following information):**

windows 10

[code]

[2021-02-17 12:27] kylekirkby commented on #6599
Thanks, @edwardfoyle! Makes sense!

[2021-02-17 12:33] rajrajhans commented on #6599
Right now, when you click on "I want to learn more" on that question, it does not mention this. Mentioning that selecting No would remove the existing OAuth config (including redirect URLs and App Client settings) would be helpful to avoid such issues in the future.

![image](https://user-images.githubusercontent.com/32734049/108204799-4095a680-714a-11eb-88c9-13ef3b71190c.png)

[2021-02-17 12:49] estyh opened #6653 "amplify mock api fails with "Cannot destructure property 'timeout' of 'undefined' as it is undefined""
**Describe the bug**
`amplify mock api` spins up a graphql server. The query types have a function directive that resolves to a lambda function. When trying to query the api, the server sends out an error:

[code]
_**This works perfectly with cli version 4.43.0**_

**Amplify CLI Version**
4.44.0

**To Reproduce**
Here are some relevant snippets...
From the schema.graphql file:
[code]

_bnxEnrollme

[2021-02-17 13:56] edmond-io commented on #6582
This is the custom amplifyPush script.

[code]

[2021-02-17 13:57] kylekirkby commented on #6599
@edwardfoyle what do you think of @rajrajhans's suggestion? I think that could be useful!

[2021-02-17 14:00] ryanhollander commented on #5627
@CharlieDigital @kaustavghosh06 @gruckion Ok so there's a use case for using it an AppSync pipeline after all.

"I want to call an external REST API using an AppSync HTTP resolver which allows me to call the REST endpoint without writing a Lambda"

@CharlieDigital Interesting article, very informative! Thanks for sharing.

I'm wondering if there are any practical advantages over putting it all in

[2021-02-17 14:22] kylekirkby commented on #4568
@attilah is there any update from the Amplify team on whether this **very sought after** and **common** use-case will be supported soon?

[2021-02-17 14:32] PawanKolhe opened #6654 "CONTRIBUTING.md can be improved"
**Describe the bug**

CONTRIBUTING.md File

1. Would be great to have a table of contents and a more comprehensive guide for new contributors
2. Installing lerna globally is not necessary and can be avoided.
3. The `git clean -fdx -e .vscode` command under 'Getting Started with Development' doesn't remove the `.vscode` files from `node_modules/` folders. Removing `-e .vscode` part would fix it.

R

[2021-02-17 14:37] CharlieDigital commented on #5627
@ryanhollander I have been mulling it over myself and I'd say that:

- Cost is probably a factor in the long (long) run.  AppSync is "$4.00 per million Query and Data Modification Operations" compared to $0.20/million for Lamba but there's no time component to AppSync's cost whereas a Lambda reaching out to an external REST API incurs a time cost component.  The timeout seems to be 30 seconds, whi

[2021-02-17 14:48] ryanhollander commented on #5627
@CharlieDigital Thanks for humoring me. The cost factor is interesting. My guess is that the performance difference is negligible for most workloads. Of course, you can use lambda's as pipeline functions too, which means you could setup 1 lambda for secrets manager calls and run all calls through that just by passing a key. Much less developer overhead there. Writing lambda's is much easier, less

[2021-02-17 15:07] CharlieDigital commented on #5627
You have me questioning my sanity after spending all day on this.

[2021-02-17 15:14] ryanhollander commented on #5627
Please don't. It is an interesting exercise and we both learned something!

[2021-02-17 15:24] CurtisHumphrey opened #6656 "Failed to start API Mock endpoint Error: Duplicate schema type name EmailAddress"
**Describe the bug**
I've upgraded from v 4.21.3 to 4.43.0 and now my scheme will not compile in mock mode.  The error is
`Failed to start API Mock endpoint Error: Duplicate schema type name EmailAddress`

The type is defined as:
[code]

If I change the name to EmailAddress2 it works and runs in mock mode but it breaks our code because the autogenerated names change.  In Amplify Console, it builds

[2021-02-17 16:04] wbroek commented on #6653
Same here when executing a graphql mutation with the function directive:
[code]

Looked into it and looks like @edwardfoyle forgot to see that the options variable can be undefined and needs to be optional (which it was previously); and when destructered (on undefined) it gets this error. The change was here: https://github.com/aws-amplify/amplify-cli/commit/0e5d85be780c800aad2322ebb2b5598187c97ae

[2021-02-17 16:09] rmargolinross commented on #6591
Actually I think I was using the cli wrong and answering the, do you wish to add any question incorrectly. That seemed to be causing my issue.

[2021-02-17 16:09] #6591 closed

[2021-02-17 16:10] Huciko commented on #3974
Note
When you create the zip folder, make sure you zip the contents of your build output and not the top level folder. For example, if your build output generates a folder named “build” or “public”, first navigate into that folder, select all of the contents, and zip it from there. If you do not do this, you will see an “Access Denied” error because the site's root directory will not be initialize

[2021-02-17 16:12] JonathanMSifleet opened #6657 "Headless Amplify CLI prompts for profile / access keys despite being defined in bash script"
**Describe the bug**
When attempting to setup Amplify using a [headless configuration](https://docs.amplify.aws/cli/usage/headless), and setting the useProfile key to false and using my access keys I am still prompted to select whether I wish to use a profile or access keys.

[image](https://user-images.githubusercontent.com/41328055/108231961-323f8e80-713a-11eb-8e1c-602ae3e0bc2c.png)

The script

[2021-02-17 17:57] tomhirschfeld commented on #1406
@renebrandel is the lastest version 4.43 or 4.44?

also, I posted the requested logs above

[2021-02-17 18:36] theAndrewCline opened #6658 "EACCES error after creating a new function"
**Describe the bug**
After creating a function and pushing. The function produces this EACCES error for the function file.

` Lambda execution failed with status 200 due to customer function error: EACCES: permission denied, open '/var/task/index.js'`

by changing all of the source file permissions I can work around this issue. `chmod -R 755 src`

**Amplify CLI Version**
4.43.0

**To Reproduce**
c

[2021-02-17 18:38] estyh commented on #6653
@wbroek brilliant, at least I have a workaround now!
`amplify mock api --timeout=20` works without errors
thanks

[2021-02-17 18:46] SwaySway commented on #6648
@yaquawa If you are looking to give your lambda function access to the dynamodb table then you can do so by adding selecting storage as a resource. From there you can select the model being used.

[code]

[2021-02-17 18:48] renebrandel commented on #1406
@tomhirschfeld  4.43 should have the latest error codes but skimming it through, it just seems like the feature flag isn't detected.

Just to over-communicate, can you confirm that this is the path for your `cli.json` file: `<your-project-path>/amplify/cli.json` and that `cli.json` all lower case?

[2021-02-17 19:03] edwardfoyle commented on #6653
Hi @estyh thanks for reporting this. The timeout destructuring is a bug, will get a fix for that out soon.

It looks like you are also still using context.done() in your function. This behavior has been removed in the latest changes to mock as this has been deprecated by lambda for several years now. You'll need to change your lambdas to use the callback() function or async / await for them to con

[2021-02-17 19:24] tomhirschfeld commented on #1406
@renebrandel yes, this is the contents of our project

![image](https://user-images.githubusercontent.com/3522001/108256696-a82fff80-7112-11eb-9eaf-938963842097.png)

[2021-02-17 19:37] estyh commented on #6653
@edwardfoyle Thanks for looking into this.

Note sure what you mean about the context.done() - the lambda function is in the issue description above - using async/await (well, it's not awaiting anything...). I see the context.done() in the error stack, but it's not coming from my lambda code...

[2021-02-17 19:45] wbroek commented on #6653
@edwardfoyle yeah I know need upgrade that part :)

[2021-02-17 20:18] edwardfoyle commented on #6651
Hi @tkang I'm unable to reproduce this starting from a new project. The steps I took were:
[code]
The push was successful.

Can you share The contents of the "dependsOn" for the function in your `amplify-meta.json` file?

[2021-02-17 20:23] edwardfoyle commented on #6658
Hi @theAndrewCline does this error happen when running `amplify mock function` or when executing in the cloud? It seems like a local file permissions issue as I am unable to reproduce on my machine. Can you try creating a new function and see if the issue persists there as well?

[2021-02-17 20:25] theAndrewCline commented on #6658
It happens when executing in the cloud. Not when running `amplify mock function`

[2021-02-17 20:29] theAndrewCline commented on #6658
@edwardfoyle I also change my global prefix for npm and yarn to be ~/.local so all my packages are installed in ~/.local/.bin

I was wondering if that might be the issue.

[2021-02-17 20:32] #6153 closed

[2021-02-17 20:44] edwardfoyle commented on #6658
@theAndrewCline it's possible that's related but that should only affect globally installed packages, not local ones. Does this happen if you add a new function, select one of the template, push without editing the function and then test it in the lambda console?

[2021-02-17 20:45] theAndrewCline commented on #6658
@edwardfoyle yes it does.

[2021-02-17 21:32] edwardfoyle commented on #6658
@theAndrewCline does the user that you are using in your shell have limited file system permissions? The .zip file that is uploaded to lambda will have the same permissions as the files on the local machine

[2021-02-17 21:37] theAndrewCline commented on #6658
@edwardfoyle to my knowledge the shell permissions have not been modified so they should be the default. I will verify with my companies it team and let you know if they have been.

[2021-02-17 21:58] akshbhu commented on #4568
Hi All,

We are actively discussing this with our internal team for a general solution or atleast to support this Common use case.

[2021-02-17 22:01] theAndrewCline commented on #6658
@edwardfoyle I confirmed I just have a default MacOS admin account.

[2021-02-17 23:33] Coteh opened #6660 ""undefined is not iterable" error when doing amplify publish"
**Describe the bug**
Hi, I ran into the following error message that stopped our Amplify deployment via Jenkins.

**Amplify CLI Version**
4.37.1

**To Reproduce**
Run `amplify publish -y` with an existing stack.

**Expected behavior**
It publishes successfully

**Actual Behaviour**
[code]

Appears to be the same class of error as #5841.

**Desktop (please complete the following information):**

-