[2020-02-02 04:19] vparfaniuc commented on #1876
Running into the same issue was able to solve it by removing the .aws folder and it's contents from the home folder (Eg: ~/.aws). I hope it helps anyone.

[2020-02-02 05:12] arkllc opened #3319 "amplify mock api throws dynamodb emulator error for amplify version 4.13.1"
**Describe the bug**
Failed to start API Mock endpoint Error: max retries hit for starting dynamodb emulator

**Amplify CLI Version**
$ amplify --version
4.13.1

**To Reproduce**
I had amplify mock api command working perfectly fine. I just upgrade the amplify-cli package using the command -- $ npm install -g @aws-amplify/cli

The package upgraded properly to 4:13.1 and then the amplify mock would

[2020-02-02 09:58] dimonchik-com opened #3320 "I can't work with the DynamoDB database if I sign in through Social Providers like google and facebook"
I create a table

[code]
and when I authentication user with help Auth.federatedSignIn i can't write or read any data from table. All new user aws put in two group us-east-1_NM3KOol4v_Facebook and us-east-1_NM3KOol4v_Google how allow for user who use  Social Providers use DynamoDb like usual user?

[2020-02-02 10:01] #3320 closed

[2020-02-02 10:01] dimonchik-com opened #3634 "I can't work with the DynamoDB database if I sign in through Social Providers like google and facebook"
I create a table
[code]
and when I authentication user with help Auth.federatedSignIn i can't write or read any data from table. All new user aws put in two group us-east-1_NM3KOol4v_Facebook and us-east-1_NM3KOol4v_Google how allow for user who use Social Providers use DynamoDb like usual user?

[2020-02-02 14:41] Ricardo1980 opened #3321 "Can you show me your pipeline resolvers files?"
Hello,

Can you help me with this?
I would like to use pipeline resolvers (otherwise, my logic cannot work).
I know that amplify console does not support this feature and that there is a ticket about that:
https://github.com/aws-amplify/amplify-cli/issues/1055

But my question is about how I can do this manually. I mean, what files and content do I need to put inside my amplify folder so when I us

[2020-02-02 15:58] RossWilliams commented on #3311
Aside from the Cloudformation team, AWS in general does not share feature roadmaps or timelines, so I don't know what AWS is planning. The linked comment above may have been accurate at the time, but also sometimes the right design takes awhile to emerge. Good single table designs are possible with graphql and do allow flexibility; I have been working on an alternative to the @key, @connection, an

[2020-02-02 20:18] arkllc commented on #3319
I tried a few things but it still did not work.
Based on another issue, I ensured that lsof is installed.
Also tried upgrading node to 12.14.1

Based on https://github.com/aws-amplify/amplify-cli/issues/2062 I tried installing

brew cask install java

but I am on amazon linux and using Cloud9 IDE and cask is only valid on MacOS. Appreciate any help. Interestingly it just started once I upgraded to

[2020-02-02 22:31] drzdez commented on #3290
Tried once more and the example seems to be OK and working as expected.
Probable issue was at my side in step 2, where I did not put right distribution folder. Nevertheless message "403 Forbidden" with this mistake is confusing.

Before last attempt to go through the example, I went through GitHub, where I added angular working app and then deployed it to AWS from GitHub. Then I added amplify fram

[2020-02-02 22:31] #3290 closed

[2020-02-02 23:43] nagey opened #3322 "Amplify says it has failed to push, succeeds in pushing"
**Describe the bug**
`amplify push` says
[code]
When, in reality, the stack update was successful.

**Amplify CLI Version**
Just updated from amplify 3.15 to 4.13.

**To Reproduce**
`amplify push`

**Expected behavior**
When the update is successful, it doesn't say that it wasn't

**Full console dump**
[code]

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Node Version:

[2020-02-03 05:18] d3r3nic commented on #1307
to fix this issue, run
$ amplify configure project
then rather than setting the path of build to default build, set it to :
/amplify/backend/api/<appFolderName>/build
that will fix the issue

[2020-02-03 06:19] aprilmintacpineda commented on #2775
This has been closed and marked as fixed but it still doesn't work.

[code]

this will fail with:

[code]

And I did this on AppSync console.

[2020-02-03 09:01] martinjuhasz commented on #1055
If i understand @nateiler example correctly, this works if i have a completely custom resolver, right?
Am i able to add custom pipeline functions to an auto-generated resolver?

[2020-02-03 10:06] hirochachacha opened #3323 "generate model type for type interchangeability"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**

[code]

generates:

[src/API.ts](https://gist.github.com/hirochachacha/d2d37fbc1f29be071821ba2cf0771064) in TypeScript.

However generated types aren't interchangeable each other.

src/typeCheck.ts:
[code]

then

[code]

I hit the p

[2020-02-03 10:47] mlecoq opened #3325 "GraphQL transform - warns when owner is missing"
Hi,

I have created the following model

[code]

Have made the generation (`amplify push`) and I use it with DataStore.

This works fine for querying, saving but fails when I try to observe (see https://github.com/aws-amplify/amplify-js/issues/4810)

Could CLI warn us when owner field is missing (or other fields related to @auth directive) ?

[2020-02-03 11:36] richAtreides commented on #3039
Can I ask if this was fixed as its also caused a problem for me. I deleted the role and now its still showing in cognito and causing a blocker as I can't replace it.

[2020-02-03 14:14] olivoil commented on #3287
This happened to me in a PR preview in the amplify console.

When I created the PR, the first build failed for another reason. When I fixed the issue and pushed a commit to the PR, it tried to deploy again, but then showed this error `AlreadyExistsException: Stack [amplify-<project-name>-prbe-35825] already exists`

[2020-02-03 14:22] olivoil commented on #3297
@yuth this happens when following the example for the `me` in [amplify's @function documentation](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js)

The following schema will created a `UserStatus` enum with two `unknown` values, one based on the graphql enum value `UNKNOWN`, one for Swift 5's `@unknown default` entry:

[code]

[2020-02-03 15:03] richAtreides opened #3327 "Stacks stuck in rollback"
**Describe the bug**
My stacks are stuck in rollback after I had to ctrl+c exit a push that would never finish.

**Error Details**
Stack:arn:aws:cloudformation:eu-west-1:307939272879:stack/amplify-controlsnlp-prod-144642/65378280-0f92-11ea-9cf0-0abd335268a4 is in UPDATE_ROLLBACK_IN_PROGRESS state and can not be updated.
An error occured during the push operation: Stack:arn:aws:cloudformation:eu-we

[2020-02-03 15:12] ryanhollander commented on #1055
@martinjuhasz @Ricardo1980 That is correct. Using the "escape hatch" you can define custom functions, data sources, and resolvers within a JSON template. (typically ...api/%apiname%/stacks/CustomResolvers.json). You can specify the functions and resolver vtl and place that in .../resolvers/... and reference them in the JSON file. You can create pipeline resolvers this way too. While you can overlo

[2020-02-03 16:21] CarlitosBeto commented on #3296
Hello @cpiro is only in this version of amplify cli?, i need generate a model and i couldn`t or is in all versions?

[2020-02-03 16:48] luislinietsky opened #3326 "Support for AWS SQS Queues and Triggers"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Include support for AWS SQS queues

**Describe the solution you'd like**
It would be great if Amplify would support creating AWS SQS queues as resources, assigning a Lambda trigger from existing (or new) functions and providing permi

[2020-02-03 16:52] undefobj commented on #3326
@luislinietsky what is the application use case you're trying to build that would require an SQS queue? You state "more complex solutions" but what is the use case in an application that you are trying to solve rather than the implementation? Thank you.

[2020-02-03 17:00] luislinietsky commented on #3326
I need the ability to create a worker queue. The main idea behind Work Queues (aka: Task Queues) is to avoid doing a resource-intensive task immediately and having to wait for it to complete, in this case it would be from an HTTP Endpoint. Instead I schedule the task to be done later. I encapsulate a task as a message and send it to the queue, so the Lambda function answering to the HTTP request w

[2020-02-03 17:15] andrestone opened #3361 "Using the GraphQL API codegens in the backend"
** Which Category is your question related to? **
Functions
** What AWS Services are you utilizing? **
AWS Lambda
** Provide additional details e.g. code snippets **

Is there a standard workflow to consume the GraphQL API codegens in a lambda function? If not, what would be a good approach?

[2020-02-03 17:20] undefobj commented on #3326
@luislinietsky Thanks for the reply. "worker queue" is an implementation though. Can you let us know what use cases in your application you have? Amplify is a category based system that customers program against, for instance we have an Analytics category that has several implementations (Pinpoint, Kinesis, Personalize) and similar setups for Predictions, API, etc. Understanding the use case for t

[2020-02-03 17:30] WillDent commented on #382
Still getting this error message.  Contacted support at Amazon.. and they referred me to this. Yikes. Guess we're on our own.  :-)

[2020-02-03 17:35] SwaySway commented on #2775
Hello @aprilmintacpineda what version of the CLI are you using?
This fix came out in release 4.13.0 though we recommend using 4.13.1.

[2020-02-03 17:36] #3311 closed

[2020-02-03 17:38] SwaySway commented on #3272
@SteffeyDev I'll review that enhancement with the team. Please follow #2636 for updates on that.
Closing as duplicate.

[2020-02-03 17:38] #3272 closed

[2020-02-03 17:42] SwaySway commented on #3171
Closing this as a duplicate of #1703.

[2020-02-03 17:42] #3171 closed

[2020-02-03 17:43] SwaySway commented on #3258
Closing this is as a duplicate of #1703.
Please follow that thread for updates.

[2020-02-03 17:43] #3258 closed

[2020-02-03 18:00] luislinietsky commented on #3326
Oh, you needed a sample of the use case of the application? Sure, there are a few:

1) I am building a mobile app for requesting microcredits. At some point, I have an integration with an external provider that grants me access to the history of bank transactions of the customer, prior proper authorization, so that customer can preview them from within the app.
But at the same time, I need to feed

[2020-02-03 18:18] luislinietsky commented on #3326
I was also going to request a feature to create a Scheduled Event Trigger for Lambda Functions from the Amplify Cli, like for example, after creating a lambda, "Run this lambda on every 5 minutes". Should I create another issue for this? Or it can be included in this one? I haven't found any other open issues for this.
Regards,
Luis.

[2020-02-03 18:21] kaustavghosh06 commented on #3326
@luislinietsky I believe there is an open feature request for this - #1789 and we're tracking it in our backlog.

[2020-02-03 18:26] luislinietsky commented on #1789
+1 to this feature. Having the ability to run cron processes/scheduled tasks in a backend is very important in many solutions.

[2020-02-03 20:02] #3202 closed

[2020-02-03 20:05] edwardfoyle commented on #3270
Hi @mdebo, could you provide more details on how you created your function? From the error output above, it looks like you have two functions," myLambda" and "kandiz6c93529ePreTokenGeneration." When going through the function creation CLI did you select "CRUD function for Amazon DynamoDB ..." or one of the other options?

Could you also elaborate on how you are toggling the ability for your lambda

[2020-02-03 21:22] UnleashedMind commented on #3304
@dantasfiles
We've seen this warning before that it was indeed due to the `inquier` package.
Node.js 8.x is reaching end of life, have you tested it with newer versions of Node.js?

[2020-02-03 21:37] dantasfiles commented on #3304
@zeroamplitude is seeing the warning on Node 8. I'm seeing it with the following environment:
[code]

[2020-02-03 21:41] UnleashedMind commented on #3287
@elimence
Did you also get the error from Amplify Console?

[2020-02-03 21:51] UnleashedMind commented on #3304
@dantasfiles
Thanks for the input

[2020-02-03 22:05] ericclemmons opened #3337 "Cannot find module 'amplify-frontend-javascript'"
**Describe the bug**

Following along to https://aws-amplify.github.io/docs/js/datastore#using-npx in a `/tmp` folder results in:

[code]

**To Reproduce**

1. `cd /tmp`
1. `npx create-react-app amplify-datastore --use-npm`
1. `cd amplify-datastore`
1. `npx amplify-app@latest`

**Expected behavior**

Expected `npx amplify-app@latest` to work.

**Screenshots**

<details>
  <summary><strong>Environm

[2020-02-03 23:15] cpiro commented on #3296
The other `amplify codegen` subcommands (not `model`) seem to use a different code generator and are unaffected by this — and several other — issues. I haven't tried different versions of this npm package, but I suspect that `amplify codegen model` just doesn't yet support these scalars.

[2020-02-04 00:39] michaelcuneo commented on #3308
This has now carried over to a production environment, and I have had to push the entire web app into maintenance mode because everything has fallen over.

Every amplify serve I perform now makes an 'Update' to the 'api' but I never make any changes to the graphql.schema.

Not sure how to move forward now to fix this up, people around here are waiting for me to perform work on our sites.

[2020-02-04 01:14] camin-mccluskey commented on #685
@kaustavghosh06 Hey is there any update on if/when this might be prioritised? I very foolishly named the env we now use in production as test and it would be great to either rename this or somehow switch the branch we use for production to be a new branch which has the correct name

[2020-02-04 01:44] aprilmintacpineda commented on #2639
Hi @attilah,

Sorry for the delay on feedback. I just had the chance to get back to the project assigned to me that was using this. So here's the scenario:

The project I have that's experiencing this already have an existing UAT environment setup, I just checked it out and it's still experiencing the error. It was previously using `@aws-amplify/cli@3.17.0` but I have just upgraded it to `4.13.1`

[2020-02-04 02:13] kaustavghosh06 commented on #3308
@michaelcuneo What's your maxDepth setting in the `<project-root>/.graphqlconfig.yml` file?
It should look something like this

[code]

[2020-02-04 02:29] michaelcuneo commented on #3308
Ahh. @kaustavghosh06 it does not appear to have one.

The maxDepth is missing. Is this why amplify codegen -max-depth 4 is giving me no responses?

[2020-02-04 02:33] michaelcuneo commented on #3308
Adding `maxDepth 5` to the extensions: amplify: area, then running amplify codegen has solved this. Was this a change since pre 4.13.1 ... has codegen --max-depth been removed?

Thank you for your help with this. Breaking the production environment wasn't my best week. 👍

[2020-02-04 02:33] #3308 closed

[2020-02-04 02:58] elimence commented on #3287
@UnleashedMind No, mine is from the amplify-cli

[2020-02-04 03:23] mrducky4 commented on #3286
I found what I was looking for. I needed to use REACT_APP_xxxx environment variables at build time, described in [Create React App docs](https://create-react-app.dev/docs/adding-custom-environment-variables/). In Amplify Console, I can enter these environment variables with different values for different branches, to be used at build time. I assume the other frontend frameworks have a similar mech

[2020-02-04 04:35] michaelcuneo opened #3330 "Error updating API since updating to the latest amplify-cli"
I am receiving this error while updating graphql API with `amplify serve/push/publish`

`
CREATE_FAILED fastlab-master-20190705141744-apifastlab-1ERF9XZ1ZFB5U-ProjectStaff-1BMX33S2FV7H4 AWS::CloudFormation::Stack Tue Feb 04 2020 15:31:44 GMT+1100 (Australian Eastern Daylight Time) Export with name kxs65t6t6ndxrf3mna34iollhm:GetAtt:ProjectStaffDataSource:Name is already exported by stack fastlab-ma

[2020-02-04 04:47] arkllc commented on #3092
Thanks. Would be good if there is some guidance given on how to separate the auth from appsync app

[2020-02-04 04:47] #3092 closed

[2020-02-04 05:35] malcomm opened #3331 "@key on model search for multiple values for the fields"
**Which Category is your question related to?**
graphql / DynamoDB

**Amplify CLI Version**

4.13.1

**What AWS Services are you utilizing?**

AppSync / DynamoDB

**Provide additional details e.g. code snippets**

[code]

This will generate something like this:
[code]

This is great, but what if I want to search for multiple PublicationStatus values? Right now I only see a way to search for a sing

[2020-02-04 07:17] erhard commented on #2078
What was he error ?  I made the screencast https://www.youtube.com/watch?v=PswB47WJ4Xk
it runs locally with amplify function invoke on port 3000.  But pushing it I get a CORS Failure.
Even if I extend the CORS header with the http function names....

Maybe it is the Api Gateway but how do I manage cors there with amplify ?

Has anybody an idea ?

Should I make a new request to this boat or can it

[2020-02-04 07:24] erhard opened #3332 "CORS Error"
**Which Category is your question related to?**
CORS Request

**Amplify CLI Version**
4.9.0

**What AWS Services are you utilizing?**
function, api(Rest).
What was he error ?  I made the screencast https://www.youtube.com/watch?v=PswB47WJ4Xk
it runs locally with amplify function invoke on port 3000.  But pushing it I get a CORS failure.
Even if I extend the CORS header with the http function names

[2020-02-04 07:43] siddharthsharma94 opened #3351 "Many to One Relationship question."
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
App Sync / GraphQL Transform

`Amplify Version 4.12.0`
** Provide additional details e.g. code snippets **
So I'm essentially trying to create the following relationship.

I have the following models.

[code]
I'm doing a many to many relationships approach, and while this works, this feels tacky and in

[2020-02-04 08:45] eelzinaty opened #3333 "Adding cutom cloudformation stack under new category"
**Describe the bug**
I am adding a custom cloudformation stacks under a new category, let's call it "permission". Under this folder am adding another 4 folders where each one of these folders represents different group of permissions (resources). Everything works fine until the cli creates the main cloudformation stack, `nested-cloudformation-stack.yml`. It creates 4 resources with different names

[2020-02-04 08:58] FemkeBuijs commented on #3258
@SwaySway thanks i will follow that issue regarding the limit. However, issue #1703 does not address the sortField.

[2020-02-04 09:51] SebSchwartz opened #3334 "codegen on pull: Codegen when pulling in another frontend"
**Is your feature request related to a problem? Please describe.**
When doing ```amplify pull```, if codegen is present in the main project (also with apiId), execute a codegen il the project that is pulling amplify.

**Describe the solution you'd like**
Would be great if CLI generates all graphql types and statements when pulling in another frontend (even when codegen is added with apiId).

[2020-02-04 13:22] alexladerman opened #3350 "Migrate project to another AWS Account"
**Which Category is your question related to?**
Installation

**What AWS Services are you utilizing?**
Amplify CLI, Cognito, React Frontend, Backend CRUD(APIGateway+RestrictedToCognitoUsers+Lambda+DynamoDB)

**Provide additional details e.g. code snippets**
I need to move my amplify setup to another AWS account. How can I do that without repeating all the amplify cli commands and menus I already w

[2020-02-04 13:34] mlecoq commented on #1043
Hi,

I have an application where users create `reports` that can be private or shared with on or several users.

I first thought I could use an `editors` field in reports to manage the set of allowed users on a specific report.

I encountered the following limitation on subscription (detailed in proposal 3) :

When you subscribe you will need to pass the full list of owners/groups on the item. Not

[2020-02-04 13:35] dantasfiles commented on #3331
The three ways I know of are to 1) do multiple fooStatusUpdatedAt queries, 2) do a DynamoDB *Scan* with the `listFoo` operation on an `and` filter (which is reall non-optimal), or 3) use a batch operation ([Link 1](https://medium.com/@jan.hesters/creating-graphql-batch-operations-for-aws-amplify-with-appsync-and-cognito-ecee6938e8ee) - [Link 2](https://docs.aws.amazon.com/appsync/latest/devguide/t

[2020-02-04 14:49] annasedlar commented on #3307
Hi @SwaySway - @rick-faletto and I are on the same team/project but he is rolling off so I can be point-person for this issue. No, the bucket did not get populated after an amplify publish OR amplify push.

[2020-02-04 15:37] davidbiller opened #5875 "Q: Cognito anonymous accounts? => AppSync owner rights => Transformation"
Auth, Cognito, AppSync, DynamoDB

I want to make it easier for my users to use my app.
I would like to remove the regestrieren.

However, since it is sensitive data, it still needs a permissions system. Additionally, it should still be possible to view the data on another device.
So I can't avoid a regestration.

Currently:
The user can log in via oAuth (Facebook, Google). Or directly via Cognito,

[2020-02-04 15:55] zeroamplitude commented on #3304
@UnleashedMind I upgraded node to v12.14.1 and no further errors are showing.

Thanks

[2020-02-04 16:16] davidbiller commented on #3327
After one hour, it should reset auto.

[2020-02-04 17:33] Rjgoolsby opened #3335 "Codegen Models Doesn't support AppSync Scalar Types"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

When running `codegen models`,  if you have one of the custom scalar types from AppSync it throws an error
[code]
**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
4.13.1

**To Reprodu

[2020-02-04 17:35] malcomm commented on #3331
@dantasfiles - thank you for your response.

**1) Multiple Queries.** I'm really trying to avoid this, because I have a table that will have a lot of items in it and pagination. I have 8 different statuses here in play and so just managing all that gets a little complicated quickly. Not to mention really inefficient.

**2) Scan/List.** I'm currently doing this but the data coming back is not sorte

[2020-02-04 17:36] Rjgoolsby commented on #3335
Sorry, just found this:
https://github.com/aws-amplify/amplify-cli/issues/3296.
 I see this has already been reported. I will monitor this from that issue

[2020-02-04 17:36] #3335 closed

[2020-02-04 17:37] Rjgoolsby commented on #3296
Watching this because I'm experiencing the same issue

[2020-02-04 17:42] CarlitosBeto commented on #3296
I have the same issue

[2020-02-04 18:05] UnleashedMind commented on #3327
@richAtreides
Could you open the CloudFormation console, click open the stack that's stuck, and check its `event` to see what's causing the issue?

[2020-02-04 18:28] lesmuc opened #3336 "Auto-Generated Resolvers does not work with custom Partition Key and Sort Key"
**Describe the bug**
Models with directive @versioned cannot be updated or deleted with the auto-generated resolver.

**Amplify CLI Version**
4.13.1

**To Reproduce**
Steps to reproduce: https://aws-amplify.github.io/docs/cli-toolchain/graphql#versioned
Result: Conflict, Changes are rejected, title is not updated.

**Expected behavior**
Like described in the example above, title should be updated

[2020-02-04 18:34] dantasfiles commented on #3331
2. The reason your scans are not coming back sorted is because your default primary index, used by the `listFoo` operation, is `id`. You have to override that with an additional directive like `@key(fields: ["id", "updatedAt"])`.
Scans touch every element of a DynamoDB table, so they can be very expensive and you want to avoid them.

There's another way--I remembered a post I read:
https://dev.to/

[2020-02-04 18:50] monaye commented on #3287
@UnleashedMind
I got the same error from Amplify Console.

[2020-02-04 18:58] UnleashedMind commented on #3330
CloudFormation export key names are unique per region in your AWS account.
In you case, these two DIFFERENT stacks are exporting the same key
- fastlab-master-20190705141744-apifastlab-1ERF9XZ1ZFB5U-ProjectStaff-1BMX33S2FV7H4
- fastlab-master-20190705141744-apifastlab-1ERF9XZ1ZFB5U-Staff-1RZTFGK7TTJKK
You can open your CloudFormation console in that particular region and click open `Exports` to se

[2020-02-04 18:59] SwaySway commented on #3337
Closing as a duplicate of #3300.

[2020-02-04 18:59] #3337 closed

[2020-02-04 19:27] andrestone commented on #3222
Is there any work being done on this? Worth submitting ideas / PR?

[2020-02-04 19:57] kaustavghosh06 commented on #3222
@andrestone Currently there isn’t work going on this. Would be great if you could submit a public RFC before working on a PR and get some comments from the core team and the community.

[2020-02-04 20:45] UnleashedMind commented on #3333
The Amplify CLI does require the CloudFormation template file name of each nested stack to be unique under the same category, otherwise the one that is uploaded the last will override the previously uploaded template files.
In your case, you can just decorate the template file names with prefixes such as `data-manager-cloudformation-template.json`, `general-maanger-cloudformation-template.json` et

[2020-02-04 20:57] malcomm commented on #3331
Yeah during my reply to you I was investigating the primary index. I got stopped by two things:

[code]

Resulted in this:
[code]

So I've run into this before ... and I have to say **createdAt** and **updatedAt** should be automatically available and we shouldn't have to declare them in the schema. To get around this, I have to do:

[code]

So now, I'm required to supply an **updatedAt** from the

[2020-02-04 21:50] #3025 closed

[2020-02-04 22:05] dantasfiles commented on #3331
So the "dumb" solution to the "I'm required to supply an updatedAt from the client" issue is to change the line in Mutation.createFoo.req.vtl to
[code]

For the second issue, you might have to do an `amplify remove api` first or something unpleasant.

[2020-02-04 22:48] edwardfoyle commented on #2928
Hi @emanuelherrmann I have been able to repro this issue but we have decided not to move forward with a general fix for it. You are correct that the issue arises because the old version of the CLI generated stack names with a different format than newer versions.

To work around the issue, we recommend that you change the selection index in the S3 CloudFormation template to be the number component

[2020-02-04 22:48] #2928 closed

[2020-02-04 22:53] UnleashedMind commented on #3322
@nagey
Could you open the CloudFormation console,  check the stacks, and see which one of them are in the Failed status? Let's first identify the template that's causing the problem.

[2020-02-04 22:56] Ricardo1980 commented on #1055
Thanks @ryanhollander
But still, I don't have a clear idea of the files and content I have to use and the documentation does not mention it.
Can you review this request I opened 2 days:
https://github.com/aws-amplify/amplify-cli/issues/3321
Perhaps you can show me an example of all the files I need.
Thanks a lot!

[2020-02-04 23:01] malcomm commented on #3331
@mikeparisstuff - I wonder if you might be able to weigh in on this. Basically at this point I have a model looking like this:

[code]

And then I try and change the primary index to:

[code]

And I can't do an ```amplify push```. This is even after I manually delete the primary index. IMHO - amplify-cli should be smart enough to see that the primary index is no longer there and re-create no?

Als

[2020-02-04 23:06] tlindsay42 opened #3339 "No such resource AWS::WAFv2::IPSet"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

Added WAFv2 resources to my project's API Gateway CloudFormation template, attempted to get the WAFv2 IPSet ARN attribute to reference in the WAFv2 WebACL IPSetReferenceStatement.Arn property, and get the following error when I att

[2020-02-04 23:13] magjack opened #3366 "Graphql Subscriptions Auth not working as expected."
** Which Category is your question related to? **
API graphql

** What AWS Services are you utilizing? **
AWS AppSync

** Provide additional details e.g. code snippets **
Using amplify.js 2.2.2 and cli  @aws-amplify/cli@4.13.1

I have a graphql scheme that includes the following:
![image](https://user-images.githubusercontent.com/40371034/73794307-0dcb7b00-47a0-11ea-9a87-642e6688ff8e.png)

Orders

[2020-02-04 23:17] aprilmintacpineda opened #3340 "[Feature Request] Elasticsearch Re-Index"
**Describe the bug**

Elastic search's doc has a different schema compared to the one in `schema.graphql`. So when you use `@searchable` and do a `search query`, it will not do the intended behavior.

**Amplify CLI Version**

4.13.1

**To Reproduce**

With DynamoDB and graphql, create a schema that looks like so:

[code]

**Notice**

- totalHours, day, and week are string and are intended to be st

[2020-02-04 23:19] #174 closed

[2020-02-04 23:43] nikhilbatta commented on #2737
Im having this same issue where its not rendering props when I type in amplify mock

[2020-02-05 00:04] aprilmintacpineda opened #3341 "Is there a way to delete a specific elasticsearch index?"
We have already many indices in our elasticsearch but I want to recreate a specific index, so I'm planning to delete that index only. I tried removing the searchable flag but that didn't do it.

**Amplify CLI Version**
4.13.1

[2020-02-05 00:12] michaelcuneo commented on #3330
I haven't changed any stacks manually or modified anything for this to occur... why would it suddenly do this? I've been searching through the CloudFormation Exports area for ProjectStaff... and Staff... If I delete any of these, will it delete my dynamoDB tables, or anything like that?

I've just screenshot the entire area filtered by Stacks, and Exports. It appears as though. ProjectStaff doesn'

[2020-02-05 00:28] michaelcuneo commented on #3330
From what I can see here... ProjectStaff and Staff are both exported with the exact same stack names?

Export Name | kxs65t6t6ndxrf3mna34iollhm:GetAtt:StaffTable:Name
Export Value | Staff-kxs65t6t6ndxrf3mna34iollhm-master
Stack Name | fastlab-master-20190705141744-apifastlab-1ERF9XZ1ZFB5U-Staff-1RZTFGK7TTJKK

Export Name | kxs65t6t6ndxrf3mna34iollhm:GetAtt:ProjectStaffTable:Name
Export Value | Pro

[2020-02-05 00:52] michaelcuneo commented on #3330
Ahh yes. If I filter by stack name, there are indeed issues. The ProjectStaff and Staff resources, are both using the Staff stack.

<img width="1589" alt="Screen Shot 2020-02-05 at 11 49 48 am" src="https://user-images.githubusercontent.com/12700009/73801230-e3b0a200-480d-11ea-8b48-04b676d59442.png">

What would be the best case to move forward here?
Back up all the DynamoDB Tables, Delete the Sta

[2020-02-05 01:27] michaelcuneo commented on #3330
It wouldn't allow me to delete the highest nested stack, it kept verifying my delete then rolling back to 'UPDATE_ROLLBACK_FAILED', so I've tried deleting the apifastlab stack holding all of the API Stacks, and this one appears to be actually removing the stacks, but now obviously it has dumped all my tables, so I'll just have to remove API and restore it all from the backups.

[2020-02-05 05:12] michaelcuneo commented on #3330
I managed to get everything back up by deleting the entire API stack. Pushed it back up, restore all my databases from backups, enabled the old/new ARN Steam management, and edited my IAM Roles to suit the new API ID.

All is well again.

[2020-02-05 05:12] #3330 closed

[2020-02-05 05:38] eelzinaty commented on #3333
Thank you @UnleashedMind , it works now! Although, I noticed that the templates should be postfixed with `cloudformation-template.json`.
Also, it will be great if you update the documentation to include such cases.

Thanks

[2020-02-05 05:38] #3333 closed

[2020-02-05 06:46] zeroamplitude commented on #3304
I spoke to soon.

It showed up again on `amplify env checkout master`

v12.14.1

√ Initialized provider successfully.
? Do you want to configure Lambda Triggers for Cognito? (Y/n) (node:75040) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 end listeners added to [ReadStream]. Use emitter.setMaxListeners() t
o increase limit
(node:75040) MaxListenersExceededWarning: Pos

[2020-02-05 08:21] aehringer commented on #2702
@attilah Any update on this? I have a model that cannot be removed/recreated and need this feature ASAP.

[2020-02-05 12:27] davidbiller commented on #3341
@aprilmintacpineda
Go to ElasticSearch Console - there is a link to your KIBANA Dashboard.
In Kibana - go to dev tools:
than:

DELETE /indexName

[2020-02-05 13:40] alexladerman opened #3342 ".gitignore not created"
I run `amplify init` but no `.gitignore` file is created nor does it append to an existing file if present.

[2020-02-05 13:48] blomm opened #3343 "problem trying to 'amplify init' to create prod env"
I'm trying to intialise a new environment with

for prod (as shown in the Environments and Teams sections: [https://aws-amplify.github.io/docs/cli-toolchain/quickstart])

Do you want to use an AWS profile? **Yes**
Please choose the profile you want to use **amplify-my-profile**
You project is associated with multiple Amplify Service Apps in the region eu-west-1
TypeError: options.Push is not a fun

[2020-02-05 14:25] blomm commented on #3343
very odd, I've edited Push to be push and have managed to get a bit further along

[2020-02-05 14:55] chrisfowler commented on #2595
Checking and updating the `"envName": <value>` in `amplify/.config/local-env-info.json` so it matches the `Current Environment: <value>` shown after calling `amplify status`, solved this for me.

Can see `Current Environment: <value>` before the error text kicks in.

Not sure how it got out of whack though.

[2020-02-05 15:24] #3295 closed

[2020-02-05 16:08] ryanhollander commented on #3321
@Ricardo1980 I'm sorry I don't have time to put this down in more detail, I'm under some time pressure on a project right now. Hopefully these highlights will point you in the right direction. My project has a lot of custom pipelines, mainly to enable my authorization scheme, so if you have questions or run into trouble I can try to help.

The first thing to keep in mind is that this is a little f

[2020-02-05 17:21] cendenta opened #3344 "amplify api add-graphql-datasource fails with error: Cannot find module 'cloudform'"
**Describe the bug**

`amplify api add-graphql-datasource` fails for a new Amplify API.

[code]

**Amplify CLI Version**
4.13.1

**To Reproduce**
1. `amplify add api` to set up a new API
2. `amplify push` to provision the API in the cloud
3. `amplify api add-graphql-datasource` generates error

**Expected behavior**
To continue setting up a GraphQL datasource for a new Amplify API.

**Desktop**
OS

[2020-02-05 18:45] UnleashedMind commented on #3307
@annasedlar @rick-faletto
According to @rick-faletto 's original description, `amplify push` was executed instead of the `amplify publish`. They are different Amplify CLI commands.

`amplify publish` is a compound command, it sequentially carries out these steps.
- `amplify push`
- execute the frontend build command, the CLI expect the distribution folder to be filled with the frontend build artif

[2020-02-05 18:50] UnleashedMind commented on #3342
@alexladerman
What Amplify CLI version are you using? and what is your dev box's operating system?
Did you allow the `amplify init` command to execute to its completion?

[2020-02-05 18:53] malcomm opened #3347 "Primary Index with Sort Key requiring sort key field to be used when it should not be"
**Please note:** this is a blocker.

**Describe the bug**
Given the following schema:
[code]

The get on the generated code is requiring the sort field to be supplied:

[code]
```updatedAt``` should not be used on the main getter at all.

**Amplify CLI Version**

4.13.1

**To Reproduce**

Create a model with above primary index with a sort key.

**Expected behavior**

see above

**Additional conte

[2020-02-05 19:04] malcomm opened #3348 "createdAt and updatedAt should not be required on inputs / mutations"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

Given the following sample schema:

[code]

In order to create/update a Foo, I am required to supply an ```updatedAt```:
[code]
[code]

```createAt``` and ```updatedAt``` should not be required. I'm OK with them being optional, but I can see an argument for them to be treated as spe

[2020-02-05 19:08] malcomm opened #3349 "Primary Index with a sort key is requiring ID on the create mutation"
**Please note:** this is a blocker.

**Describe the bug**

Given the following sample schema:
[code]
[code]

`id` should not be supplied on the create.

**Amplify CLI Version**

4.13.1

**To Reproduce**

Create a model with above primary index with a sort key.

**Expected behavior**

```id``` should not be required.

Additional context
#401
#3348

[2020-02-05 19:15] SwaySway commented on #3340
Hi @aprilmintacpineda is there a reason you need the types themselves to be strings as opposed to the using float or date?

The reason this is happening is because the lambda trigger will push the record from the dynamodb stream into elasticsearch. During this time the types being used in the record are inferred.

[2020-02-05 19:43] UnleashedMind commented on #3343
What is the version of your locally installed Amplify CLI?
Execute `amplify -v` to find out.

[2020-02-05 19:53] UnleashedMind commented on #3344
@cendenta I've reproduced the bug, Thanks for notifying us.

[2020-02-05 20:26] UnleashedMind commented on #3346
@dbhagen
Are you working on the Amplify Console?

[2020-02-05 20:31] malcomm commented on #3331
OK so I just realized that I was not actually deleting the primary index (I don't think there's really a way to do this??? - not sure why that's not supported by DynamoDB???).

[2020-02-05 21:30] #3344 closed

[2020-02-05 22:03] aprilmintacpineda commented on #3341
Hmmm... So I need to "sort of" hack it? :( why though?

[2020-02-05 22:07] SwaySway commented on #3341
@aprilmintacpineda Are you looking to re-use an index name with a new mapping?

[2020-02-05 22:13] aprilmintacpineda commented on #3340
Hi @SwaySway :)

Oooooh, that's why, is this also why I experience [@searchable throws Elasticsearch:User IllegalArgumentException](https://github.com/aws-amplify/amplify-cli/issues/2639)?  So it really have to wait for that first record where the data type would be inferred from?

The reason for the float being a string is because they are being displayed on the frontend as `1.00` or `1.50` or `1

[2020-02-05 22:19] Ricardo1980 commented on #3321
Hello @ryanhollander

Thanks a lot for your help, I appreciate it a lot.
I started understanding a lot of things with your post.

Some quick questions:

AWS::AppSync::FunctionConfiguration is to define functions
AWS::AppSync::Resolver is resolver that you attach to fields in a schema
So, when using pipelines, we have one Resolver and 2 (or more) AWS::AppSync::FunctionConfiguration, is that correct

[2020-02-05 22:21] UnleashedMind commented on #3351
@siddharthsharma94
I actually think your original approach is the right approach, the "create" relationship between user and listing is one to many, but the "favorite" relationship is many to many, and you do need a userFavorite to bridge them.

[2020-02-05 22:33] aprilmintacpineda commented on #3341
@SwaySway Yes, but only to change the data types :D Basically this is to apply the work around for https://github.com/aws-amplify/amplify-cli/issues/3340 So I figured out that ElasticSearch is inferring the data types from the first input it receives, I thought If I added another record that might result to a different data type on the, say instead of `2020-02-02` which would be inferred as `Date`

[2020-02-05 22:41] SwaySway commented on #3341
@aprilmintacpineda A workaround I might be able to suggest here is a re-index.
This python gist is an example of how to alias and re-index your types if you are looking to change the type.

https://gist.github.com/SwaySway/41548b31f48b00dc18080c08d1583601

[2020-02-05 22:48] imonzalvo opened #3353 "Field level @auth directive with @connection"
**Which Category is your question related to?**
@auth directive

**Amplify CLI Version**
4.13.1

I've been working with amplify for some months, and I'm trying to use field-level `@auth` directive with `@connection`.
This is how part of my schema looks like:
[code]

I want that anyone with an API KEY can query bookings info, and I want anyone with an API KEY to have access to Branch info.
But just

[2020-02-05 23:03] UnleashedMind commented on #3350
@alexladerman
This will clone all the aws resources in the new account.
- in the original dev box, push the project to a codebase repo, respect what's in the .gitignore file.
- in the dev box that you are going to use the new account for development, set up the user credentials by executing `amplify config`, and create a profile named 'newAccountProfile`.
- pull down the codebase from the repo, re

[2020-02-06 00:17] rgjoshi opened #3354 "Creating Amplify Project for DynamoDB"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
New project creation

**Amplify CLI Version**
4.13.1

You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
DynamoDB

**Provide additional details e.g. code snippets**
I already have DynamoDB

[2020-02-06 05:46] sopranolinist opened #3355 "AppSync GraphQL Transform - update mutation returning null for connection directive field"
**Describe the bug**
Executing an update mutation for a model that uses the connection directive is returning null data, even though the underlying DynamoDB data exists and is correct.

**Amplify CLI Version**
4.13.1

**To Reproduce**
I used `amplify add api` to  create the following GQL schema:
[code]

In the AppSync console, I am able to populate data in my DynamoDB Position and Title tables jus

[2020-02-06 07:41] LpmRaven opened #3365 "Can I use codegen with cloudformation (without amplify CLI)?"
Is it possible to generate the graphql resolvers for appsync using cloudformation rather than the amplify CLI?

I wish to reproduce my Appsync and DynamoDB stack in cloudformation as the rest of our services use that.

[2020-02-06 08:15] hamasayu opened #3357 "Use Path Parameter in REST API"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Amplify CLI does not allow path names like `{proxy}` and cannot create a resource with path parameters in a REST API.

[code]

**Describe the solution you'd like**
Please make it possible to use path parameters when creating or updat

[2020-02-06 08:45] mlecoq commented on #2189
Same for us, I was very interested in Datastore + Appsync to migrate our app, is there any chance that it will be supported before the end of the year ?

[2020-02-06 09:45] blomm commented on #3343
hi, editing Push to be push allowed the init process to complete. not sure how push got replaced with Push.

[2020-02-06 09:45] #3343 closed

[2020-02-06 10:41] andrestone commented on #3300
This [commit](https://github.com/aws-amplify/amplify-cli/commit/fd692e885962810ed9e6295899e24903413fe184) removed these dependencies:

[code]

Might it be causing the issue?

[2020-02-06 11:42] waqas-syed opened #3363 "Separate configuration for multiple AWS accounts"
**Is your feature request related to a problem? Please describe.**
Me and my team have different AWS accounts that are totally independent of each other and cannot see each other's resources. I am aware of the environment workflow where we can have different environments but here is the problem.

Let's say I create a new environment dev. There are 2 other developers that are going to need to use t

[2020-02-06 12:47] #3271 closed

[2020-02-06 12:49] rehanbabertkxel opened #3358 "Error on running Amplify configure project"
**Which Category is your question related to?**
amplify configure project

**Amplify CLI Version**
0.1.45

**Provide additional details e.g. code snippets**
I have an existing project and when I try to configure it on a new machine, I get the following error

[code]
Following is my `project-config.json` file
[code]
Environment Details:
OS: MacOs
Node Version: 13.8

[2020-02-06 12:51] rehanbabertkxel commented on #3358
@nikhname , can you please look into it and let me know what might be wrong in this configuration?

[2020-02-06 14:33] hous commented on #351
To add to this, assuming you are able to get a least-privileged IAM user for use with the Amplify CLI, you will hit another roadblock when attempting to configure the build settings for your Amplify app. If you want to deploy the backend of your app when your repo is updated, you'll need to create a service role for Amplify that has Administrator Access: https://docs.aws.amazon.com/amplify/latest/

[2020-02-06 14:42] FunkotronKing commented on #1407
Not sure if this helps anyone but I created a process for running migrations via an npm run command:

` Javascript
const common = require('./common.js');
const AWS = require('aws-sdk');
const migrations = [
  // ensure migratons are in date order (oldest at the top)
  require('./migrations/20200201-lea-180')
];
global.fetch = require('node-fetch');

/**
 * This file is used to data migrations and

[2020-02-06 15:11] ryanhollander commented on #3321
@Ricardo1980 you're welcome. You're right, some of the documentation in this area is non-existent or hard to find and it combines a few services so the docs are spread out. I've found a lot searching this github too as other devs have run into and solved problems. There is a lot of info still stored in github issues which, while helpful, is not as easy as good documentation. Still, there is no sub

[2020-02-06 16:08] kevcam4891 opened #3359 "Cannot stream DDB entries with same HashKey/different SortKey to ES without overwriting existing ES entry"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Saving two objects that share the same HashKey lead to one overwriting the other object in ElasticSearch.

**Amplify CLI Version**
4.12.0

**To Reproduce**
Save one item sort of like:
[code]
This entry is successfully saved to ElasticSearch. Then try and save another object with the

[2020-02-06 16:16] kevcam4891 commented on #3359
It appears as though the ID is calculated as the "id" as it is supplied in the mutation, if one is supplied, and only if one doesn't exist, will it use the Hash AND Sort keys (as provided in the stream event) to create a more unique id in ES. I can't really see a reason to NOT just use the Hash/Sort keys in the stream event, as this code puts you in an un-winnable position if you need the sort key

[2020-02-06 16:30] kevcam4891 commented on #3359
If I were to change this code, I would

1. prefer ddb['Keys'] if they existed, then
2. prefer doc_fields['id'], then
3. throw exception if neither exist

Is this reasonable?

[2020-02-06 16:44] amirhajimirsadeghi opened #3360 "Cannot destructure property `AmplifyAppId` of 'undefined' or 'null' on amplify pull"
Here is the error I get
[code]
**Version:** 4.11.0

I can't figure out what's going on from the error message

[2020-02-06 16:55] amirhajimirsadeghi commented on #3360
Figured it out. Make sure to have `AmplifyAppId` defined in `amplify/team-provider-info.json` under  `<env>.awscloudformation`

[2020-02-06 16:55] #3360 closed

[2020-02-06 18:22] SwaySway commented on #3347
Hello @malcomm
These fields are normally not mandatory however when you add `@key` the fields listed in that directive then become mandatory. Since we do auto-populate the fields for id, createdAt, and updatedAt we can potentially add these in a whitelist when adding `@key` so they are not set to nonnullable.

[2020-02-06 18:27] malcomm commented on #3347
@SwaySway - Just to be sure, you are saying that to get a single record by index, you are requiring that they send in the sort key?

In my mind, the sort key should not be involved the ```GetFoo``` method. Take my example, I have a primary key of ```id``` and then a sort key of ```updatedAt```.  So in order to get a record, I would have to not only know the ```id``` but also the date it was update

[2020-02-06 18:32] SwaySway commented on #3348
Hello @malcomm
These fields are normally not mandatory however when you add @key the fields listed in that directive then become mandatory. Since we do auto-populate the fields for id, createdAt, and updatedAt we can potentially add these in a whitelist when adding @key so they are not set to non-nullable.

[2020-02-06 18:35] SwaySway commented on #3349
Closing as duplicate of #3348 as it's addressing the same issue of fields being required.

[2020-02-06 18:35] #3349 closed

[2020-02-06 18:38] nikhilbatta commented on #2813
did you ever get any help with this?  Im running into the same thing

[2020-02-06 18:45] UnleashedMind commented on #3358
@rehanbabertkxel
Please update the Amplify CLI version to the latest and try again.
`npm install -g @aws-amplify/cli`

[2020-02-06 18:58] edwardfoyle commented on #3347
Hi @malcomm when performing a get operation on a DynamoDB table, if the primary key has a partition key and sort key (which this table does because two fields are specified in the @key directive) then both must be specified on a get operation. For more information regarding that, you can take a look at the DynamoDB docs for GetItem [here](https://docs.aws.amazon.com/amazondynamodb/latest/APIRefere

[2020-02-06 19:01] UnleashedMind commented on #3354
AWS Mobile Hub is deprecated, for new projects, please use Amplify.
Amplify Storage category does not support using existing DynamoDB tables. You might consider these two options:
1. Use the Amplilfy Rest API, and the lambada function behind the API can access your existing table. This can be some complexities going down this route.
2. Use Amplify Storage, the Amplify CLI will create a new table f

[2020-02-06 19:12] UnleashedMind commented on #3268
Closing due to lack of response.

[2020-02-06 19:12] #3268 closed

[2020-02-06 19:14] malcomm commented on #3347
Interesting. So this whole thing got kicked off because of #3331. Basically I tried to do this:

[code]

But there's no way that I was able to see to search on multiple status values. On #3331 you can see the discussion there and the issues related to this. Basically, at this time, the code generated or limitations of system put me in a corner for how to do this.

That's what led me to putting a d

[2020-02-06 19:23] #3300 closed

[2020-02-06 19:42] saevarb commented on #3187
Just want to chime in that I've had this problem as well just now, with the package version override being the only way to fix it.

[2020-02-06 20:45] edwardfoyle commented on #3331
You are correct that once a DynamoDB table has been created, the primary key cannot be changed.

I'm going to close this issue and continue to follow up in #3347 because it seems like they are both converging to the same underlying problem.

[2020-02-06 20:45] #3331 closed

[2020-02-06 20:51] edwardfoyle commented on #3347
@malcomm Can you explain what your use cases are? For example, "get all Foos updated in the past week with publication status = PENDING". I think there's probably a way to do what you are trying to do, I just need more context into what the query patterns are going to be.

As an aside, you certainly can have updatedAt be the sort key for the primary index and run queries against that index but the

[2020-02-06 20:55] malcomm commented on #3348
Should also consider this field: ```__typeName```. My thinking is that it also should be in the whitelist?

[2020-02-06 20:58] kldeb opened #3362 "Error: Local mocking does not support AWS_LAMBDA data source that is not provisioned in the project."
**Is your feature request related to a problem? Please describe.**
Getting the following error:

which causes mocking to fail to start.

**Describe the solution you'd like**
Warn that the function is not local and continue to start up local mocking.

**Describe alternatives you've considered**
commenting out that code when testing locally.

[2020-02-06 21:00] malcomm commented on #3347
@edwardfoyle - sure thing. I will have a few use cases related to this, but my current use case is that I need all the most recent Foos that do not have 3 statuses (draft, inactive or unknown) and then limited by a date. Here are my statuses:

[code]

[2020-02-06 21:04] malcomm commented on #3347
@edwardfoyle - I liked your ```__typeName``` workaround and was hoping to use it; however, I got this error when trying to do that:

[code]

This is with a schema with this:

[code]

[2020-02-06 21:46] #3267 closed

[2020-02-06 21:48] attilah commented on #3336
@lesmuc Could you please be more specific on what operations are not working, what is your schema, mutation, input and expected result. You are referring to the ```updatePost

[2020-02-06 21:59] attilah commented on #3305
@rudyhadoux Managing data migration is out of scope for the CLI, so beside deploying the new API, the CLI will not operate on any existing data, not add or delete. It is the same problem area like data backfill. That is something that needs to be done manually. The CLI is not checking if there is existing data or not. In a cloud environment it is really likely that the account who does the deploym

[2020-02-06 22:06] rudyhadoux commented on #3305
Thanks for answer but it would be great to add this (really important) feature.

[2020-02-06 22:11] undefobj commented on #3305
@rudyhadoux could you give an example schema and workflow on how you think such functionality might look from a developer experience?

[2020-02-06 22:17] kevcam4891 opened #3364 "Commit 4fb26498 is the last that actually passes `yarn test`"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I cannot successfully run `yarn test` on any commit after `4fb26498c6eb266ffe11bdb276f5e91a46f1f65d`

**Amplify CLI Version**
Usually 4.12

**To Reproduce**
Check out any commit made after 4fb26498c6eb266ffe11bdb276f5e91a46f1f65d, then run `yarn clean && yarn production-build && yarn

[2020-02-06 22:22] rudyhadoux commented on #3305
It can simply be a list of names of deleted or changed objects.
Even without details.
In case of :
- addition of attributes.
- removal of attributes.
- removal of objects.

[2020-02-06 22:49] attilah commented on #3364
@kevcam4891 please make sure that you're running a ```git clean -fdx``` on your repo, since one thing changes in recent commits, we're not compiling tests anymore and it can happen that you're running stale test code from the ```lib``` folder of your enlistment.

```yarn test``` running as part of the pre-commit/pre-push hooks that's the reason I can think of stale files. I just ran it on prod bui

[2020-02-06 22:50] UnleashedMind commented on #3229
@morgler
When you use Amplify CLI to setup the CloudFront distribution for hosting, the `Restrict Bucket Access` is already set to `yes`.
You can verified this by creating a new Amplify Project, add hosting (select `PROD` config), and check the CloudFront after the `amplify push` is complete.
The "Access Denied" error can be there for a long time when the CloudFront distribution is first setup or

[2020-02-06 23:18] kevcam4891 commented on #3364
@attilah Success! Thank you sir 😃

[2020-02-06 23:18] #3364 closed

[2020-02-06 23:23] malcomm commented on #3347
@edwardfoyle - ok thank you for that.

Any input on allowing for multiple statuses on this type of key:

[code]

I could avoid all this if I could just search on multiple status fields.

[2020-02-06 23:31] edwardfoyle commented on #3347
@malcomm Unfortunately that's a limitation of DynamoDB queries. The primary key of a query can only be an equality operation. You can read more about DynamoDB queries [here](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html).

The only way to do what you are suggesting is to do multiple queries, but even then I don't think that solves your use case because you need to f

[2020-02-06 23:36] SebSchwartz commented on #3363
You can create a role in your account that can be assumed from the other devs in your team and allow them to push changes. They will need to configure the profile in their aws/config aws/credentials file and then choose this role when running amplify init.
In the doc, it's well explained for such role assuming: https://aws-amplify.github.io/docs/cli-toolchain/usage#step-by-step-guide-to-create-and

[2020-02-06 23:50] dan-rxr opened #3368 "Deleting Cognito Pool = unrecoverable state?"
The user pool for one of my envs was accidentally deleted, which seemingly prevents any further interactions via Amplify CLI from working successfully. In fact, I can't even remove the user pool through `amplify auth remove` because apparently "other amplify dependencies rely on this resource".

Is this environment just permanently broken and beyond recovery? Seems like an incredibly fragile setup

[2020-02-07 00:50] UnleashedMind commented on #3363
@waqas-syed

We would suggest the same as @SebSchwartz did.

[2020-02-07 01:07] sopranolinist commented on #3355
Unable to reproduce today.

[2020-02-07 01:07] #3355 closed

[2020-02-07 02:44] hirochachacha commented on #3348
This is #1657. That's the reason I made https://github.com/hirochachacha/graphql-auto-transformer. @malcomm Perhaps, it might help you as a temporary solution.

[2020-02-07 06:05] lesmuc commented on #3336
@attilah Here is the schema from the documentation:
[schema.graphql.txt](https://github.com/aws-amplify/amplify-cli/files/4169190/schema.graphql.txt)

$ amplify push && amplify codegen

And here are the auto-generated resolver:
[createPost.txt](https://github.com/aws-amplify/amplify-cli/files/4169232/createPost.txt)
[updatePost.txt](https://github.com/aws-amplify/amplify-cli/files/4169231/updatePo

[2020-02-07 06:30] arkllc opened #3369 "autogenerated fields with @model"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Some fields in a @model schema must be auto-generated, for example UUID, incremental number, timestamp, current_date. Currently, there is no way to mention the same in the schema.

Currently, only IDs can be generated provided they a

[2020-02-07 06:49] mayteio commented on #946
[Updated link](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-configure-project) for those coming from Google.

[2020-02-07 07:09] rehanbabertkxel commented on #3358
@UnleashedMind , thank you for the response.
I have already tried that with no luck. What can be the other possible reasons for this issue?

[2020-02-07 08:25] alexladerman opened #3370 "amplify serve on Windows gives Error: spawn yarn ENOENT"
**Describe the bug**
`amplify serve` fails on Windows with the following error:

```Error: spawn yarn ENOENT ```

The amplify project was originally initialised with a Mac then cloned to Windows from a git repo.

**Amplify CLI Version**
4.13.1

**To Reproduce**
`amplify serve`. Reproduced on 2 different windows machines.

**Expected behavior**
no error

**Screenshots**
![image](https://user-images

[2020-02-07 10:50] alexladerman opened #3371 "Resource cannot be removed because it has a dependency on another resource"
**Describe the bug**
Resource cannot be removed because it has a dependency on another resource

**Amplify CLI Version**
4.11.0

**To Reproduce**
[code]

**Expected behavior**
Resource be deleted

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.1
 - Node Version. v13.5.0

**Additional context**
Tried removing dependsOn entry from the dependant re

[2020-02-07 11:03] marcoreni opened #3372 "[appsync][mock] Compiler state does not cleanup properly"
**Describe the bug**
https://github.com/aws-amplify/amplify-cli/pull/2497 introduced support for early returns, but this seems not to work properly.

**Amplify CLI Version**
amplify-velocity-template 1.1.9
amplify-appsync-simulator 1.13.1

**To Reproduce**
1- Create a pipeline resolver that contains two functions
2- In the first function, retrieve an object from dynamodb
3- In the second function,

[2020-02-07 11:31] marcoreni commented on #3372
Fixed by #3306

[2020-02-07 11:31] #3372 closed

[2020-02-07 12:07] alexladerman commented on #3342
@UnleashedMind 4.11

[2020-02-07 13:37] alexladerman commented on #3350
is the cli meant to be used separately from git deployment. I have the repo connected to domain deployment in AWS amplify web console and I also type "amplify publish -c". But those appear to be two separate things, am I right? does a build triggered by git push do the same as publish?

[2020-02-07 15:01] liamor commented on #3296
Just hit the same

[2020-02-07 15:19] nagey commented on #3322
@UnleashedMind — well, that's just the thing. All of the stacks are in UPDATE_COMPLETE. Everything is green, no errors.

[2020-02-07 15:47] kimfucious opened #3373 "Connect React Native App to Existing Amplify Back-end Infrastructure"
**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Auth, API, Lambda, DynamoDB, and S3

**Details:**
I've build a React web application, using Amplify CLI to provision Authentication (via a Cognito user pool), REST API, Lambda functions, DynamoDB, and S3 storage.

This all works nicely.  Thanks for making Amplify! 🌮 <= here's a taco

Now I'm starting on a React Native (Expo)

[2020-02-07 15:52] #3347 closed

[2020-02-07 16:12] edwardfoyle commented on #3332
@erhard can you provide more information on how you set up the function? Using the "Serverless express function" option when creating the lambda function should take care of CORS configuration. Using the latest version of the CLI I was able to invoke the API without issue.

[2020-02-07 16:40] karrettgelley commented on #3302
@yuth Hey so I copied the code from the docs and tried to run a query and I get the following error: "No operation matches the provided operation name <some operation>". But when I look at my graphql api, <some operation> is there, and I can in fact query it via the console. What might this mean? I made to to give crud rights to my lambda function on the graphql api

[2020-02-07 17:40] edwardfoyle commented on #3357
Hi @hamasayu if you check the generated CFN template, a proxy endpoint prefixed by the path you specify here is generated. Ie. If you specify `/user/settings`, `/user/settings/{proxy+}` is generated.

We will add support for path parameters such as `/user/{id}` to our backlog.

[2020-02-07 17:49] kimfucious commented on #3373
For the record, I have read [this](https://github.com/aws-amplify/amplify-cli/issues/582), but it's not really documentation on how to do the voodoo that I want to do.

[2020-02-07 19:05] kevcam4891 commented on #3359
Meanwhile, I've submitted a PR to allow user to override amplify-generated functions (above).

[2020-02-07 20:42] #1325 closed

[2020-02-07 21:39] UnleashedMind commented on #3369
@arkllc
Could you describe in more details on the  @system-generated  annotation you proposed?
such as, Is it applied to the type level or field level?  how should it be transformed? etc.

[2020-02-07 21:51] attilah commented on #3336
@lesmuc am I correct that when you setup your API you said yes to conflict resolution? If that's the case then that setting is for the DataStore feature, not for the ```@versioned``` directive. For the version directive you don't need any additional feature like conflict resolution to be configured.

[2020-02-07 22:06] UnleashedMind commented on #3370
@alexladerman
Thanks for reporting this. This is a known issue. Before we find a good solution to fix it, please manually change the `BuildCommand` and `StartCommand` in the `amplify/.config/project-config.json` file.

[2020-02-07 22:34] UnleashedMind commented on #3371
@alexladerman
The Amplify CLI prevents you from removing resources that other resources depends on as a safety precaution, you need to move all the other resources that depend on the resource you are trying to remove before you can actually remove it.

[2020-02-07 23:30] TheBenck opened #3375 "amplify push fails because GraphQL schema ID field is not of type Int"
**Describe the bug**
`amplify push` fails because ID type is not of type Int

**Amplify CLI version**
4.13.1

**To Reproduce**
[code]

**Expected behavior**
Successfully push backend environment to the cloud.

**Screenshots**
[code]

_schema.graphql_
[code]

**Desktop (please complete the following information):**
 - OS: macOS 10.15.3
 - Node Version 10.15.0

**Additional context**
The error goes

[2020-02-08 00:24] utsabroy opened #3376 "amplify mock api shows a blank AppSync Mock endpoint page when api is created with auth type "API key" and "IAM""
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
amplify mock api is not working with auth type "API key" and "IAM". It gives a blank page. the command works if the auth type is "Amazon Cognito User Pool"

**Amplify CLI Version**
4.13.2

**To Reproduce**
Create a simple react app.
Run amplify add api
Choose the default authorizatio

[2020-02-08 02:02] siddharthsharma94 commented on #3351
any update on this ?

[2020-02-08 08:39] erhard commented on #3332
@edwardfoyle  Thanks for your response.  I have found the Error :   If there is no slash in the path this error comes up.    You can simply test it: API.get("aname", "/items").   and API.get("aname","items") (in chrome)  I do not know why this misleading error comes up.

[2020-02-08 08:39] #3332 closed

[2020-02-08 11:27] shivangp opened #3377 "Auth allows update for items from different owners"
I'm trying to create an amplify API that allows users to store the profile information in a User table in Dynamo DB. I'm using @auth directive to set owner for the and want to make sure users can only update their own profile. My schema is as follows where ID is the ID from my cognito user pool:

[code]

From the appsync console I'm logged in as a user from my user pool and if I try to perform fol

[2020-02-08 15:58] skatolyk commented on #1688
Still happens on version @aws-amplify/cli@4.13.1

[2020-02-08 19:31] andrestone opened #3378 "DataStore-like ORM"
**Which Category is your question related to?**
DataStore / Lambdas

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
AppSync, DynamoDB, Lambda

**Provide additional details e.g. code snippets**

Is there any implementation or workaround to make the DataStore ORM API available on the backend (That would be without the actual data store and sync, using the API to talk direct

[2020-02-08 19:36] andrestone commented on #3373
What about this?

https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-pull

[2020-02-08 22:43] Ricardo1980 commented on #3321
@ryanhollander thank you very much. Thanks to your explanations, finally I got this working!
You have no idea how much I appreciate your help, I was totally stuck on this.
Again, thanks :)

To Amazon ( @nikhname @UnleashedMind ): You should explain this in your documentation if you really want to create a good product and/or help users, given that amplify cannot create pipelines on its own.

[2020-02-08 22:43] #3321 closed

[2020-02-09 06:38] apoorvmote opened #3379 "'Type "AWSURL" not found in document' when generating models"
**Describe the bug**
When I run command `amplify codegen models` I get the error

**Amplify CLI Version**
Amplify 4.13.2

**To Reproduce**
`yarn create react-app resources --template typescript`
`amplify init`
`amplify add api`
use this schema
[code]
`amplify codegen models`

**Expected behavior**
Schema should be validated and generated.

**Desktop:**
 - OS: Windows 10
 - Node Version. 12.15.0

[2020-02-09 06:45] apoorvmote commented on #3379
Exact same error for following types
* `AWSEmail`
* `AWSDate`
* `AWSPhone`

Temporary fix is to use type `String` everywhere

[2020-02-09 08:39] karrettgelley opened #3380 "UnrecognizedClientException in Lambda"
**Which Category is your question related to?**
Lambda, IAM, AppSync

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Amplify, Lambda, AppSync

**Provide additional details e.g. code snippets**
I added a lambda function using the amplify cli and I gave it crud access to my graphql api, also created by the amplify cli. In my lambda function i create a record using the docum

[2020-02-09 14:56] magjack commented on #2734
I just faced this issues. Overnight with no changes the connections appeared to stop working. I had to create a new environment and purge the old one to restart which is not ideal.

[2020-02-09 15:59] peerhenry commented on #808
I also had trouble with `amplify push`. In my case `"APIKeyExpirationEpoch": -1` did not help, neither did `amplify api update` or creating a new API key in AppSync and setting it in `aws-exports.js`.
I was able to fix my problem with these steps:

- go to `amplify/backend/api/<api-name>/parameters.json` and add: `"CreateAPIKey": 0` and `"APIKeyExpirationEpoch": -1`
- execute `amplify push`
- now

[2020-02-09 16:56] kimfucious commented on #3373
@andrestone thanks for the links.

Unfortunately, I've done something stupid here, as running `amplify pull` in the new React Native directory results in the error:

[code]
I *think* this has to do with the way I've created/deployed things (summarized [here](https://github.com/aws-amplify/amplify-cli/issues/2009) in bottom picture).

In brief:
- the app was initialized (with Amplify CLI), and all

[2020-02-09 21:07] kimfucious opened #3381 "Recover Backend After Amplify Delete"
**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Auth(Cognito), API Gateway (REST), DynamoDB, Lambda, & S3

**Details**
Okay, this one is for the stupid-user-record-book.  So while I was futzing around trying to get a react native app working with an existing back-end, I *imported* (not a pull) an environment into the react native app per [these steps](https://github.com/aw

[2020-02-09 21:35] Ricardo1980 opened #3382 "How can I use SDWebImage with S3?"
Hello,

I would like to know your opinion about this.

In my app, users upload pictures and see others users pictures (like a social network).
I guess I have to use the "protected" permission.

Because I use Aurora Serverless, I cannot use S3ObjectInput. I think that feature is called "GraphQL APIs (Complex Objects)".
But it seems to me it is not a problem.

Anyway, my idea is to upload pictures f

[2020-02-09 22:19] aprilmintacpineda commented on #808
@peerhenry what version of amplify are you using?

[2020-02-10 01:38] kimfucious commented on #3381
**Progress update:**

I decided to bit the bullet and try the following:

**Amplify recovery steps:**

1. Backup amplify directory (somewhere else)
2. Delete existing amplify directory
3. Run `amplify init` in project root
4. Answer prompts
5. This will create on AWS:
    * On AWS:
      - a cloudformation stack
      - an s3 bucket (for deployment)
      - 2 IAM roles (auth and unAuth)
    * In t

[2020-02-10 02:08] niranjanshukla opened #3383 "amplify init gives AccessDenied error"
**Issue**: Running `amplify init` gives ⠼ Initializing your environment: dev(node:44978) UnhandledPromiseRejectionWarning: AccessDenied: Access Denied

**Notes**:
1. Tried separately on multiple local directories by cloning the repo again. Error persists.
2. With the same amplify credentials, amplify init runs successfully on another project's repository on the same local machine.

**Versions**:
<

[2020-02-10 03:50] waqas-syed commented on #3363
@SebSchwartz @UnleashedMind Thank you for the suggestion. It came handy.

On a similar note, due to some security reasons, we don't want to put the details of the production environment in the code repo and also we cannot give permissions to it other than designated personnel only.

Is there a way in AWS in general and Amplify in particular to instead place variables in the Amplify config files, w

[2020-02-10 04:26] sakhmedbayev commented on #3266
I have the same question. Please provide an answer.

[2020-02-10 05:02] kaustavghosh06 commented on #3266
@sakhmedbayev You can use custom stacks as mentioned out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks and use the the auth or unauth role using "Ref": "UnauthRoleName" and attach your custom policies.

[2020-02-10 05:04] kaustavghosh06 commented on #3380
@karrettgelley Could you provide the API call details you make from the Lambda function? What Auth types have you configured on your AppSync API?

[2020-02-10 05:07] kaustavghosh06 commented on #3383
@niranjanshukla Looks like the AWS creds you have associated with your profile on your machine doesn't have access to the account where the dev environment was originally initialized. To cross-check this, check your "amplify/team-provider-info.json` file and for that environment check the AppID and see if you can locate that in your AWS Amplify console - for the same account for which you have you

[2020-02-10 05:09] kaustavghosh06 commented on #3365
I'm not super clear about your question. Some more details would be helpful.
 Amplify CLI generated Cloudformation files for you and the corresponding resolvers which it reference in it's Cloudformation files.

[2020-02-10 05:14] kaustavghosh06 commented on #3322
@nagey I suspect this error comes from the fact that your Amplify App might not be created on the Amplify console. When you move from 3.15 to 4.13, the CLI creates an Amplify app for you which you can view on the Amplify console. Could you please check your `amplify/team-provider-info.json` and see if you an AmplifyAppID for your environment?

[2020-02-10 05:14] arkllc commented on #3369
It should be applied at the field level. Also, the implementation is straightforward. The corresponding fields should always be generated in the Velocity template by using either the current ISO timestamp for date fields and UUI for unique ID. For the sequence number, a call needs to be made to the table to identify the current sequence number and then increment by 1. Now I can see why sequence nu

[2020-02-10 05:31] kaustavghosh06 commented on #3368
@dan-rxr If you deleted your cognito user pool and all your other resources depend on it - then the authorization for that wouldn't work. I would create a new environment if you do not want to re-create all the resources again. This would create a new userpool for you as well.

[2020-02-10 05:31] niranjanshukla commented on #3383
@kaustavghosh06  This is how my amplify/team-provider-info.json looks like:

{
    "dev": {
        "awscloudformation": {
            "AuthRoleName": `<auth role>`
            "UnauthRoleArn": `<arn>`
            "AuthRoleArn": `<authRoleArn>`
            "Region": "ap-southeast-2",
            "DeploymentBucketName": `<bucket name>`,
            "UnauthRoleName": `<Unauth role name>`,

[2020-02-10 05:37] arkllc commented on #3319
So after struggling with this issue for more than a week, I was finally able to solve it. The problem is that some package(s) in amplify version 4.13.1 or 4.13.2 needs the Java 1.8+. And Amazon Linux comes with java version 1.7. So I had to upgrade the Java as outlined here https://stackoverflow.com/questions/28302616/how-can-i-upgrade-to-java-1-8-on-an-amazon-linux-server

Such a bummer as I lost

[2020-02-10 05:41] kaustavghosh06 commented on #3339
@tdslinden With the latest version of the CLI I was able to deploy an IPSetV2 resource. Please make sure to add this resource under the "Resource" key

[code]

If you're still stuck, you can send your Cloudoformation file to `amplify-cli@amazon.com` and we can dig deeper.

[2020-02-10 05:49] kaustavghosh06 commented on #3342
@alexladerman Which OS are you on?

[2020-02-10 05:53] kaustavghosh06 commented on #3094
The fix for this issue has been pushed out in the latest version of the CLI >=4.13.1

[2020-02-10 05:53] #3094 closed

[2020-02-10 05:54] arkllc opened #3384 "Please support Cloud9 IDE"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
When I do amplify init, it asks what IDE I use. There are all the options listed except Cloud9 IDE. I love Cloud9 IDE from AWS and I think it's a game-changer for Chromebook users. However, it's such a bummer that one AWS product doe

[2020-02-10 06:17] kaustavghosh06 commented on #3327
Resolving due to lack of response. Please comment on this thread if you're still stuck.

[2020-02-10 06:17] #3327 closed

[2020-02-10 06:17] kaustavghosh06 commented on #3139
@SebSchwartz Are you still stuck with this?

[2020-02-10 06:18] #2880 closed

[2020-02-10 06:18] kaustavghosh06 commented on #2880
@nelsona Could you please try using `npm install -g @aws-amplify/cli` and see if you're still facing this issue?

[2020-02-10 08:06] alexladerman commented on #3342
MacOS 10.15.1

[2020-02-10 09:48] hnprashanth commented on #3183
Facing the same issue!

[2020-02-10 09:48] tomrum commented on #1507
I am having this problem too, have installed latest amplify. The owner field is not showing up in the appsync schema:

type Video @model {
id: ID!
video: String!
links: [BuyLink] @connection(keyName: "buyLinks", fields: ["id"])
}

type BuyLink @model( subscriptions: { level: public }), @auth (rules: [
{allow: owner, ownerField: "owner", operations: [create, update, delete, read]},
{allow: private,

[2020-02-10 10:27] eliecer2000 opened #3385 "How can I use multi pools?"
I would like to know if it is possible from the CLI to be able to create several pools, since I have several front-end all will use the same database but the configuration of users is different, since by one of the frontend you will have access with the telephone number only , another only with email and the last one only by username, so I created the pools manually and it works, but is there a po

[2020-02-10 11:06] leantide opened #3386 "Accessing API Gateway from Lambda"
**Which Category is your question related to?**
Lambda Functions

**Amplify CLI Version**
4.13.2

**What AWS Services are you utilizing?**
function, gateway

**Provide additional details e.g. code snippets**
I would like to access a Gateway API from my Lambda (for example, "https://4s6edhqkj5.execute-api.us-east-1.amazonaws.com/dev")

I run `amplify function add` and choose `serverless express fun

[2020-02-10 13:06] RossWilliams commented on #3363
@waqas-syed I use dotenv to manage this, and don't use the aws-exports file. dotenv can read an environment variable (ENVFILE) for the correct .env file to read details from, then in my app I bootstrap the envrionments with the following code (Config is a wrapper around dotenv):

[code]

Deploying to different accounts / environments is then just a case of setting the right value to ENVFILE, havin

[2020-02-10 13:41] lesmuc commented on #3336
@attilah Thanks for your help and message. You're right!
Removed the @versioned directive from the schema. The datastore is still configured with AUTOMERGE. But unfortunately I still get a **rejected** by the server. Please see below for details.

[schema.graphql.txt](https://github.com/aws-amplify/amplify-cli/files/4180948/schema.graphql.txt)

The createPost works as expected, here is the respons

[2020-02-10 13:41] alexladerman opened #3431 "RootUrl of another API gateway lambda function as environment variable"
** Which Category is your question related to? **
api & function
** What AWS Services are you utilizing? **
Amplify, Lambda, API Gateway
** Provide additional details e.g. code snippets **
I have two lambda functions each with their own API gateway. One requires authentication, the other is public. The authenticated endpoint will send a purchase order to a 3rd party payment processor.  The order m

[2020-02-10 16:24] philmerrell opened #3388 "Is it possible to use 'authMode' in a multi-auth Angular project"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
API / AUTH

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Everything scaffolded out by `amplify add auth` and `amplify add api`. In particular, a graphQL api using cognito user pools.

**Provide additional details e.g. code s

[2020-02-10 16:52] edwardfoyle commented on #3245
Hi @nickchauhan, this looks similar to #2928. Can you try the suggestion there about changing the selection index in your CloudFormation template to be the number component of your stack name (ie. index 2 because that will select the number from "configapp-dev-20190621150353" when splitting on "-")

[2020-02-10 17:00] marcoreni opened #3389 "[appsync][mock] VTL compiler does not support JavaString.split()"
**Describe the bug**
According to VTL spec we should be able to use standard Java String functions (eg. `string.split()`). JavaString apparently supports only length() and replaceAll().

Is there a smart way to add all the missing methods other than scripting them one by one?

I know that we may have some differences on the Regexp handling, but not having the methods is limiting.

**Amplify CLI Ve

[2020-02-10 17:03] SwaySway commented on #2997
Closing this issue as the fix has been merged and was included in the 4.13+ release.

[2020-02-10 17:03] #2997 closed

[2020-02-10 17:11] andrestone commented on #3361
Hey @ericclemmons , can you help me on this?

[2020-02-10 17:57] nikhname commented on #3358
@rehanbabertkxel your project config looks correct for an angular project. Do you see the same error when you run amplify configure project with 4.13.2?

[2020-02-10 18:10] lawmicha opened #3390 "[Feature Request] REST API with Cognito User Pool authorization"
**Is your feature request related to a problem? Please describe.**
Amplify CLI provides a way to create a REST api (API Gateway + lambda) with IAM authorization. in the JS docs, there are manual steps to add cognito user pool as the authorizator for the requests to API gateway: https://aws-amplify.github.io/docs/js/api#cognito-user-pools-authorization (however, this could be improved, see step 11

[2020-02-10 19:01] rehanbabertkxel commented on #3358
@nikhname , I have resolved it.
The issue was that I was using nvm and an old version of amplify was installed with the node version I was using.
I removed nvm and node, installed node again and installed amplify latest version and everything works like a charm now.
Thanks for the response. :)

[2020-02-10 19:01] #3358 closed

[2020-02-10 19:04] rudyhadoux commented on #3305
Is there a way to clone an AWS Amplify back-end to test any changes ?

[2020-02-10 19:11] kaustavghosh06 commented on #3361
@andrestone You can invoke a GraphQL API from your Lambda function using these steps -  https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda and then you can have a build hook ( https://aws-amplify.github.io/docs/cli-toolchain/usage#build-options) to your Lambda function to copy over the generate code from the `graphql/` folder to the lambda function folder

[2020-02-10 20:03] andrestone commented on #3361
Thanks for the comment., @kaustavghosh06.

[2020-02-10 20:03] #3361 closed

[2020-02-10 20:33] bahrmichael commented on #3187
Joining in on the report train.

## Environment

MacOS 10.14.6

[code]

[code]

## Reproduction

[code]

## Error

[code]

## First Manual Fix

Changed `./amplify/backend/auth/REDACTED/REDACTED-cloudformation-template.yml` so that it uses `nodejs12.x` instead of `nodejs8.10`. This did however *not* fix the issue.

[code]

## Second Manual Fix

Changed `./amplify/backend/awscloudformation/nested-cl

[2020-02-10 20:38] tlindsay42 commented on #3339
@kaustavghosh06, you only followed half the steps to reproduce, which is why you failed to duplicate the issue.

Also, just updated the CLI and confirmed that I can still duplicate. Will send an email as requested.

[2020-02-10 21:28] apanagos opened #3411 "nextToken not accepted and gives error "Invalid pagination token given""
**Describe the bug**
Query is working in development and build environments but when deployed in the Test environment the nextToken is never accepted.

The same error occurs in the code as well as the AppSync console where we do a query with a limit and get a nextToken. Then we do a query straight away with the same token and it gives the following error:
com.amazonaws.deepdish.common.pagination.I

[2020-02-10 21:53] SwaySway commented on #3237
@daannijkamp
I only mention this since the snippet you provided for mutation includes this fields relates to conflict detection
[code]

Closing this issue as there is no action item, should you run into a similar situation again please comment below.

[2020-02-10 21:53] #3237 closed

[2020-02-10 21:55] sprazzeus commented on #82
I encountered the same issue while creating an API via the CLI. Removing and adding auth didn't work for me, but deleting and reinitialising Amplify did as mentioned above:

Node version: 13.6.0
Amplify CLI version: 4.13.2

For reference, this was my error log:
[code]

[2020-02-10 22:29] attilah commented on #3379
@apoorvmote thanks for reporting the issue, I was able to reproduce it.

[2020-02-10 22:36] attilah commented on #3380
@karrettgelley to clarify, you added the GraphQL API first, then you did an add function, where you specified the required access during the question flow?

[2020-02-10 23:37] UnleashedMind commented on #3287
@elimence
but you are un-blocked after you removed the S3 bucket right?
"After deleting the S3 deployment bucket, I was able to create the env successfully."

[2020-02-11 00:14] SwaySway commented on #3280
Hello @amuresia
The `@searchable` directive uses [Search After](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/search-request-search-after.html) to perform pagination. Which is why it returns a value of the last item in the response.

[2020-02-11 00:21] magjack commented on #3366
I can confirm that the issue is that Orders created and updated via a Lambda using the IAM auth rule don't trigger messages to the subscription on an Owner auth rule and null all values bar the ID on a private auth rule. It seems only updates triggered by the Owner of the object result in a proper subscription message. Is this a bug or a desired behaviour? Is there a workaround to allow a user to

[2020-02-11 00:57] SwaySway commented on #3366
Hello @magjack yes currently `@auth` uses the mutation rules to check if the same person is allowed to listen to the subscription as well. Though we have been looking at adding listen as an operation to allow users to also listen in to subscriptions.

A quick workaround would be what is the highlighted comment below using cognito and using a cognito group which is allowed to listen to those subscr

[2020-02-11 00:57] #3366 closed

[2020-02-11 01:10] elimence commented on #3287
@UnleashedMind Yes that's correct.

[2020-02-11 02:19] apoorvmote commented on #3379
@attilah I would also like to create request for official documentation of adding datastore to existing project. Or adding api and then generating models.

Because the `npx amplify-app@latest` is failing for me and lots of other users. And all of them are ignoring because they thinks its very unstable and not ready for production.

[2020-02-11 02:47] niranjanshukla commented on #3383
Additional input -- when I log into the AWS Amplify console to see the apps I have access to, I get the below error

[code]

Is this access permission related to the AccessDenied error above?

[2020-02-11 03:13] niranjanshukla commented on #3383
Upon checking with the AWS admin team, the configuration in amplify/team-provider-info.json was fixed. That resolves the issue.

This issue may be closed.

[2020-02-11 03:13] #3383 closed

[2020-02-11 03:29] attilah commented on #3379
@apoorvmote we did have an issue with the amplify-app that was released with 4.13.1 of the CLI, and last week we published a fixed version with 4.13.2. Could you please try it?

[2020-02-11 04:23] attilah commented on #3385
@eliecer2000 this scenario is not supported by the CLI and you cannot use existing resources in CLI managed projects yet either. Would you give more information about your use case that requires you to have 3 user pools? Perhaps there could be another way to solve the specific use case you've.

[2020-02-11 04:27] attilah commented on #3389
@marcoreni the current mock implementation does not have all of the methods implemented yet. As we've a full VTL implementation in JavaScript and not bridging into a Java implementations the missing methods must be added. I mark this issue as an enhancement.

Would you like to contribute some of the missing functionality to mock and create a PR? we'd be more than happy to help with that.

[2020-02-11 04:30] attilah commented on #3390
@lawmicha thanks for opening the issue, I see the customer need here and this is something the CLI could support out of the box. I take this to the team for discussion and get back to you.

[2020-02-11 04:30] apoorvmote commented on #3379
@attilah I did try it with 4.13.2 in the past and I tried it again right now. I get following error.
[code]
Desktop:

* OS: Windows 10
* Node Version. 12.15.0
* AWS Amplify-cli 4.13.2

[2020-02-11 04:34] attilah commented on #3379
Oh I see you are on Windows. It is a Windows specific issue. Let me open a separate issue for it.

[2020-02-11 04:36] attilah opened #3396 "npx amplify-app init --quickstart fails on Windows 10"
amplify-app fails on Windows 10 when spawning Amplify CLI.

[code]
Desktop:

* OS: Windows 10
* Node Version. 12.15.0
* AWS Amplify-cli 4.13.2

https://github.com/aws-amplify/amplify-cli/issues/3379#issuecomment-584474190

[2020-02-11 04:38] mtraynham opened #5874 "Social IDP Auth seems to skip CUSTOM_CHALLENGE"
**Describe the bug**
I was testing out [reCaptcha](https://developers.google.com/recaptcha/intro) as an additional challenge step to the `SRP_A` authentication flow that I already have, and thereby created lambdas for the 3 various triggers (`DefineAuthChallenge`, `CreateAuthChallenge`, `VerifyAuthChallengeResponse`) and setting `authenticationFlowType: 'CUSTOM_AUTH'`.  This is all documented [her

[2020-02-11 04:42] Mitchell-Stone opened #4454 "Unable to list bucket contents using Storage.list(), getting 403 Access Denied"
**Describe the bug**
Unable to list the contents of a file in S3 using Storage.list()

**To Reproduce**
`
Storage.list('images/').then(result => log.debug(result)).catch(err => log.error(err));
`

The error i get is:
xhr.js:83 GET https://my-bucket.s3.ap-southeast-2.amazonaws.com/?prefix=public%images%2F 403 (Forbidden)

AWSS3Provider - list error AccessDenied: Access Denied

**Expected behavior**

[2020-02-11 04:54] mtraynham opened #5842 "NullPointer in CognitoUser.sendMFACode when using CUSTOM_AUTH flow"
**Describe the bug**
I'm using `authenticationFlowType: 'CUSTOM_AUTH'` and have the 3 lambda triggers set up.  I guess the important lambda would be the `DefineAuthChallenge`, which I've included the code below.

When the user enables MFA via phone number, it seems that there is a null pointer being thrown at [CognitoUser.js#L890](https://github.com/aws-amplify/amplify-js/blob/master/packages/amaz

[2020-02-11 05:06] apoorvmote commented on #3379
Ok now its working on mac. In my previous test it failed on both macOS and Windows. Now it only fails on windows.
However I still like to use API graphql query operation for deeply nested queries. e.g. fetch specific blog then all posts for the blog and all comments for each post.

[2020-02-11 09:34] alexladerman commented on #3390
I agree this is really important. API+Lambda+Cognito did not work out of the box for me!

[2020-02-11 09:37] yashutanna opened #4455 "stuck after adding custom attribute on existing userpool created with nodejs8.x lambdas"
**Describe the bug**
PLEASE HELP!!! I have a bit of a pickle Im stuck in :cucumber:

I recently needed to add a custom attribute to my cognito user pool. Our project uses amplify and we have made this change on the cloudformation template before, so i added the snipped that will add a custom attribute to the user pool. while on that file, i noticed that the lambda function that amplify used in the

[2020-02-11 09:48] alexladerman commented on #2080
I concur!

[2020-02-11 10:20] musiquarc commented on #2629
Hello,
I had exactly the same issue -- and I understand the answer you gave, thank you very much. But isn't it a bit weird / dangerous that a simple upgrade of node can programmatically wipe out all Env Variables ?
Thank you, m.

[2020-02-11 11:48] yashutanna commented on #3187
+1 this exists also when updating any settings on the cognito userpool resources using the cloudformation templates

[2020-02-11 14:51] alexladerman opened #3399 "mock rest api locally"
**Is your feature request related to a problem? Please describe.**
I want to be able to run both the frontend and backend locally, control with environment variables when to produce/consume mock data and have the urls map to the right environment. I don't use GraphQL!

**Describe the solution you'd like**
amplify serve and mock -> frontend on localhost:3000 with env variables of mock && backend on

[2020-02-11 15:13] ryanhollander commented on #3321
@Ricardo1980 You're welcome. I'm glad I could help set you on track.

To be fair to the Amplify team, who are working hard everyday to bring us great new features given some pretty spectacular constraints, this system is meant as a sort of advanced feature for developers more familiar with Cloudformation, so it's a bit outside their core mission. That said, there are some examples in the amplify d

[2020-02-11 15:31] Ricardo1980 commented on #3321
@ryanhollander Problem is, I am using Aurora Serverless as a data source, and many features are not available when using Amplify and documentation is always about DynamoDB...
For example, you cannot add data models using the command line.

Anyway, the structure (cloud formation) when using pipelines is almost the same.

Again, thanks a lot.

Let me know when you write that post, it will be very us

[2020-02-11 15:34] ryanhollander commented on #3321
@Ricardo1980 will do. Don't hold your breath though, might be a while. :-)

[2020-02-11 15:47] nagey commented on #3322
It doesn’t seem to: the team provider info has the following keys:

{
"NONE": {
"awscloudformation": {
"AuthRoleName",
"UnauthRoleArn",
"AuthRoleArn",
"Region",
"DeploymentBucketName",
"UnauthRoleName",
"StackName",
"StackId"
},
"categories": {
"auth": {
"cognitoab2d7a9c"
}
}
},
"undefined": {
"categories": {
"auth": {
"cognitoab2d7a9c"
}
}
}
}

We do have this app setup in the amplify console tho

[2020-02-11 16:59] attilah commented on #3389
@marcoreni thanks for the PR!

[2020-02-11 19:01] SwaySway commented on #3147
Hello @CodySwannGT Are you still running into this issue?

I see that you are trying the redemptions query using iam auth, though in your schema those with iam are not granted auth access on read (get/list).

[2020-02-11 19:12] attilah commented on #3399
@alexladerman thanks for the feature request, would you elaborate in details on your requirements, how would you imagine the developer workflow?

[2020-02-11 20:58] CodySwannGT commented on #3147
So I’m not sure. Unfortunately, we don’t have the luxury of waiting on fixes so we went another direction.

As to your question, though, I’m 99% sure the docs say if you don’t specify who has read access then all have read access.

The docs were very confusing on this point though so I could be wrong.

[2020-02-11 21:07] leantide commented on #3386
API Gateway provides apiId via $context.apiId variable. Wondering if access to this can be added to cloudformation templates used by Amplify CLI.

https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html

[2020-02-11 22:06] mdebo commented on #836
@stefangomez @kaustavghosh06 i confirm using cli 4.13.1 version when doing amplify <category> push it still runs the entire deployment.

[2020-02-11 22:10] kaustavghosh06 commented on #836
@mdebo It would be running the Cloudformation deployment - which would include that category and resource - but it updated Cloudformation files are not updated - hence the changes won't take into affect if you do an individual category push.

[2020-02-11 22:17] eliecer2000 commented on #3385
Thank you very much for your budget, I have solved the issue of multipools by cheating the CLI, you have to do a couple of manual configurations, such as trust relationships that you must place all the arm of each pool, and in appsync place the additional pools, the Rest does very well.

It would be an excellent option to modify the CLI.

[2020-02-11 22:19] eliecer2000 commented on #3385
Thank you very much for your response, I have solved the issue of multipools cheating the CLI, you have to make a couple of manual configurations, such as the trust relationships that you must place all the arm of each pool, and in appsync place the additional pools, the Rest does very well.

It would be an excellent option to modify the CLI.

[2020-02-12 00:10] akshbhu commented on #3253
@jfdesgagne I tried it on my end and it was working correctly. Are you still facing this issue?

[2020-02-12 01:10] dconlon-monigo commented on #3229
Just hit this...not great behaviour. Given the answer here is wait some time, how are people doing graceful deployments? I absolutely cannot have my services report 'Access Denied' errors for up to 24hrs on every new publish...

[2020-02-12 02:03] yuth commented on #3225
@raelmiu could you please add the defination for both `Location` and `Collection` type. I am interested to see how the `@key` directive for `tagsByProfile` and `collectionByProfile` are defined

[2020-02-12 02:09] LpmRaven commented on #3365
@kaustavghosh06 thanks for the reply, I will try to clarify my situation and hopefully make my question clearer.

All of our stacks are managed through cloudformation, as all of the AWS services we use are available through cloudformation alone. We do not wish to use amplify CLI to deploy appsync and dynamodb, we wish to do this through cloudformation in the AWS console. We do not use any custom r

[2020-02-12 02:12] chantlong opened #3402 "amplify push with changing Global Seconadary Indexes for DynamoDB Tables"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

`amplify push` will not let me push when I decide to change up the `@key` fields to something new in the schema.graphql for updating a DynamoDB Table.

OLD
[code]

NEW
[code]

I am adding the `uid` because of the issue I'm getting below. `uid` is the

[2020-02-12 03:21] jonperryxlm opened #3403 "@connection with multiple fields specified"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS AppSync, DynamoDB

** Provide additional details e.g. code snippets **
Hi, I'm trying to create  a connection between two types as follows:

[code]
[code]

When I query parent which includes the child configs, I receive a DynamoDB exception:

**path:** ["parent", "configs"]
**errorType:** DynamoDB

[2020-02-12 04:11] chantlong opened #3404 "How to query by a type column + userId + createdAt"
** Which Category is your question related to? **

AWS Amplify + GraphQL Queries

** What AWS Services are you utilizing? **
Cognito + AWS AppSync,
** Provide additional details e.g. code snippets **

[code]

The column type can be "A" or "B".

I query by

[code]
The query will automatically query by the logged in userId.
Amplify has a default limit of 10.

If my data is on the 20th row, The first

[2020-02-12 05:25] #3396 closed

[2020-02-12 06:24] 24jr commented on #1847
Is there any update on this. I'm running into same issue. I have all the users ID's as their Cognito sub so that of course would be convenient to use but after reading it seams we need some other identityID.

The docs say
"When using Auth and Storage modules together, you do not need to construct the /{user_identity_id}/ manually as the library will use the configured Cognito Identity ID for your

[2020-02-12 06:53] idanlo commented on #2988
Any update on this?

[2020-02-12 07:55] lissau commented on #3187
I'm facing the same issue. @bahrmichael explanation describes it exactly.

`amplify-cli` version 4.5.0`

This is a major problem.

[2020-02-12 08:18] yashutanna commented on #3187
so i was able to get past this but [upgrading amplify-cli](https://github.com/aws-amplify/amplify-cli/issues/3119) globally. just wish there was a prompt on the cli that mentioned a newer version being available with an option to update.

[2020-02-12 08:22] lissau commented on #3187
Sorry I didn't see you posted a comment @yashutanna . Yes, I second that. Versions are pushed out so quickly with major changes from AWS and no warnings that the cli version is outdated.

[2020-02-12 08:53] Ricardo1980 commented on #3120
Anyone?
@nikhname
@kaustavghosh06
Thanks!

[2020-02-12 09:18] steveparkerSG commented on #3292
This approach works often, but it's completely inconsistent. When I run the script to deploy certain changes, it works fine, updating CloudFormation as expected. Other times, I get auth issues e.g.

[code]

[code]

These occur directly after some CloudFormation updates have succeeded.

[2020-02-12 09:59] tomrum commented on #1362
Getting this a well. Not impressed so far with the framework and all the errors and issues it is generating

[2020-02-12 11:04] tomrum commented on #2396
Keep getting this error even though I have set up User pool and iam with amplify update auth when I amplify codegen models:

InvalidDirectiveError: @auth directive with 'iam' provider found, but the project has no IAM authentication provider configured.

Also a previous version of the cli generated owner fields for @model Buylink, latest cli doesn't - go figure!!

schema.graphql:
type Video @model

[2020-02-12 11:09] dushek commented on #3183
I've got the same problem.

[2020-02-12 11:29] RossWilliams commented on #3404
AppSync will filter the results of your query after they are fetched from the database (the @auth rules). You need to make your database query only return items related to the user. In general, do not use @auth directives to filter results.

Change your "SortByType" @key fields to ["userId","type","createdAt"] instead so that all results from the database are associated with your user when you que

[2020-02-12 14:26] dushek commented on #3183
There was a problem with the name generated by my previous stack for AWS:S3:Bucket, I've just added following code to solve the problem:
`"Properties": {
				"BucketName": {
                    "Fn::If": [
                        "ShouldNotCreateEnvResources",
                        {
                            "Ref": "bucketName"
                        },
                        {

[2020-02-12 14:30] chantlong commented on #3404
@RossWilliams
Thanks.
In my post earlier, when I mentioned I tried 3 keys, I meant what you said regarding using.

I tried that and used the query without specifying the `createdAt`
[code]
and with only 10 items in my database with a limit of 10 set, I still got 0 results back.

How is my current @auth rule filtering results?
Specifying the userId in the `$filter` didn't help either.

[2020-02-12 14:44] ilyador opened #3407 "React app with React-Router deployed on Amplify Console, redirects to index.html"
Whenever I open the app from the root URL and navigate, all is fine.
However, if I go directly to, or refresh `app.com/login` or any other non-root URL, I get redirected to the non-existent `index.html`.

I have tried the solutions from this issue, but nothing seems to work https://github.com/aws-amplify/amplify-js/issues/2498

I did not configure any other routing or URL related things in my app

[2020-02-12 16:07] stephanrb3 commented on #2510
I'm also experiencing this issue? I'm attempting to delete and retry.

[2020-02-12 16:34] waqas-syed commented on #3363
@RossWilliams This is exactly what I need. I have some options to go from here but I would be interested in knowing how you do it, so I have a couple of questions:

1) Are you doing this in node? Because my project is in Angular and dotenv doesn't work with it. If you do this in a web project, can you please give an example link that might help?!

2) How do you handle variables in team-provider-in

[2020-02-12 16:48] edwardfoyle commented on #3270
Hi @mdebo if you're still having this issue please follow up with additional information so I can try to repro.

[2020-02-12 17:11] edwardfoyle commented on #3375
What is the type of the ID field on your Person interface? I was able to repro a similar error message when that was set to Int.

[2020-02-12 17:31] dbhagen commented on #808
Thank you so much for the fix. I was minutes from destroying the backend environment and recreating (again).

[2020-02-12 19:30] dbhagen opened #3413 "Amplify Pull with a profile specified in --awsInfo fails to find app"
**Describe the bug**
When I perform the following command, I'm able to pull my environment correctly:
[code]

When I specify the `--awsInfo` argument with the following:
[code]
or if I just specifying the `--yes` argument, anticipating it will pull the AWS CLI profile from my shell session, the following error results:
[code]

**Amplify CLI Version**
[code]

**To Reproduce**
Specified above in the

[2020-02-12 21:00] zjullion commented on #926
@mikeparisstuff Would a custom transformer do the trick here? My understanding is that custom transformers allow you to write custom response + request VTL templates, whereas enabling TTL is strictly about modifying the Dynamo table itself (ideally via cloudformation).

[2020-02-12 21:05] dbhagen commented on #3346
@UnleashedMind Yes, I'm working with the Amplified CLI and Amplify Web Console. The web console has a role assigned to it that has Admin permissions on the AWS account.

My goal is to keep all the things you mentioned out of my commits/the source repo, but need to have the app build through the Amplify Web Console build pipeline. I'm trying to impliment a `amplify pull --appId XXXXXXXX --envName d

[2020-02-12 21:15] nick-secur commented on #3411
We are having a similar issue. We have a react.js / amplify app with a "master - detail" view where we paginate through records from an aws dynamo db using the 'next token' property returned from a graphQl 'list all' query. The app was working great until we tried to set up a team dev environment with continuous deploys pulling from a git repo. All queries seem to be working well from the new envi

[2020-02-12 21:37] edwardfoyle commented on #2981
@Jupdi This does appear to be a bug. While we investigate a fix, can you see if adding an `owner: String` field to both of your models solves the problem?

[2020-02-12 22:34] wooj2 opened #3416 "Provide easier mechanism for refreshing API Keys when using amplify-tools for IOS projects"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
I'm always frustrated after creating an iOS app that uses:`amplify-tools`, DataStore`, and `API`, 7 days after, I will get 401 unauthorized error responses from the appsync service.  It seems that the default expiration for the API k

[2020-02-12 22:37] undefobj commented on #3416
@nikhname lets chat through this with @kaustavghosh06

[2020-02-12 22:41] dantasfiles opened #3417 "Misleading "amplify env remove" confirmation prompt"
**Describe the bug**
When removing a single environment in CLI v.4.13.2, `amplify env remove` asks a misleading confirmation message:

**Amplify CLI Version**
4.13.2

**To Reproduce**
- Run `npx react-native init EnvRemoveTest`
- Initialize Amplify with `env` environment
[code]
- Add `newenv` environment
[code]
- List environments
[code]
- Remove `env` environment. *This is where the scary confirm

[2020-02-12 23:13] rduhard opened #3418 "Subscriptions with optional parameters only work as a filters on specific values of those params"
**Describe the bug**
Codegen for iOS (swift) doesn't allow for subscriptions with optional parameters to be omitted, only for them to be nil. According to this: https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html#argument-null-value-has-meaning, sending "null" vs not sending the param at all is treated differently. One filters on a null value, the other does not filter at all.

[2020-02-12 23:37] apanagos commented on #3411
Thanks @AaronHarris , we have 6 environments,

1. 2 **DEV** environments,
2. a nightly **BUILD** env,
3. a **TEST** env
4. and a **PROD** env.

We merged from DEV -> BUILD -> TEST and this broke in TEST,
It works in DEV and BUILD but not TEST with the token error. FYI TEST worked before the merge and now ALL tables in TEST have the same issue.

Here is Query.listUsers.req.vtl  for both DEV and TES

[2020-02-13 00:13] magjack commented on #3366
I get that #2636 covers the issue of a listen function. I think this would be really cool. My main question is now if an owner were to have the listen operation for orders and then an order was created on an lambda with an iam private auth rule giving the owner field the correct value would this appear on the users subcription?

[2020-02-13 00:55] incr3m opened #3422 "Keep getting auth errors on console build"
My current builds are failing right now due to auth errors. It happened after I upgrade amplify-cli version on build settings from 3.15 to 4.13.

![image](https://user-images.githubusercontent.com/3125784/74391045-f9d9e600-4e3d-11ea-905a-35d102eec95f.png)

Already tried click that "Re-authenticate app" button on General Settings and rebuld but it still throwing the same issue

[2020-02-13 01:07] abhinayTiwari opened #4104 "Amplify Analytics Issue"
**Describe the bug**
While following the steps given on [AWS Amplify Analytics](https://aws-amplify.github.io/docs/android/analytics), I am not able to generate `amplifyconfiguration.json` and `awsconfiguration.json` in my project folder while setting up my backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [AWS Amplify Analytics](https://aws-amplify.github.io/docs/android/analyt

[2020-02-13 04:43] paulsson commented on #3157
@attilah @RossWilliams I have finally gotten back to more testing on my use case and your suggestions.

Amplify CLI version:
[code]
The 2 main GraphQL schema type definitions from when I attempted the suggested field level @auth rule for User.business are at the end of this reply.

@attilah can you elaborate on your suggestion? I am already adding the Location IDs into the JWT indicating Location

[2020-02-13 08:13] tomrum commented on #2096
Getting this also, very frustrating. Lots of issues with Amplify. Thinking seriously about just using reliable LAMP stack instead!

Resource Name: 2020/02/12/[$LATEST]3f0c50c690d6472998f0e9dc5efc5ed5 (Custom::LambdaCallout)
Event Type: update
Reason: Output 'IdentityPoolId' not found in stack

[2020-02-13 08:38] tomrum commented on #2096
Not absolutely sure but when I ran update auth and selected the default for:

What domain name prefix you want us to create for you?

Push works again

[2020-02-13 08:56] tomrum commented on #2396
I fixed the InvalidDirectiveError error and have pushed the above schema but there are no owner fields generated in the appsync schema. When I used a previous version of amplify cli owner fields were generated, now with latest cli there are none. Am I missing something here?

[2020-02-13 09:28] RossWilliams commented on #3363
1. For web projects I do this with webpack using DefinePlugin.
[code]

2. With ENV files, we don't use team-provider-info.json and added it to our gitignore. If we need to collaborate in a dev's AWS account, we just need the .env file to be sent. If we need to push into another person's account we can get the info we need from Cloudformation.

[2020-02-13 11:14] steveparkerSG opened #3420 "How do I add IAM auth to API"
I have an existing api with cognito auth as default. I wish to allow IAM auth also. The following actions has no effect, amplify status shows no changes:

[code]

What am I doing wrong?

[2020-02-13 11:15] mdebo commented on #3275
@AndreasEK  I ask myself the same question: why adding a connection require a non nullable field?

[2020-02-13 11:39] #3420 closed

[2020-02-13 11:50] AndreasEK commented on #3275
I read the replies so far as a temporary inconsistency, which hopefully will be resolved at some point.

[2020-02-13 13:15] peerhenry commented on #808
`amplify --version` gives `4.13.2`

[2020-02-13 14:26] CodySwannGT commented on #3275
+1 this is a major oversight and prevents a model from having optional connections

[2020-02-13 14:30] hi120ki commented on #3390
I need this feature. Cognito User Pool Authorization provides us to powerful and useful permission management.

[2020-02-13 15:11] clovisrodriguez commented on #2813
same here

[2020-02-13 15:46] tomrum commented on #3325
I too am having a lot of problems here. My schema:

type Video @model {
id: ID!
video: String!
links: [BuyLink] @connection(keyName: "buyLinks", fields: ["id"])

_version: String
_lastChangedAt: String
_deleted: String
}

type BuyLink @model( subscriptions: { level: public }), @auth (rules: [
{allow: owner, operations: [create, update, delete, read]}]),
@key(name: "buyLinks", fields: ["videoId", "

[2020-02-13 15:49] a-j-olly commented on #3411
I am also coming across this error when using next token for pagination. This seems to have began after I pushed to my development environment the same day this ticket was raised (The error wasn't spotted until today). This push included a two field change to a table in my graphql schema, where said fields had their type changed from '[String]!' to 'AWSJSON!'. Interestingly, the now failing query

[2020-02-13 15:57] lesmuc commented on #3336
@attilah I've got help from the AWS support team. Here is the answer:

This issue seems to be related how amplify generates the schema based on the introduction of a custom primary key. When I use the model without defining user id as the primary key by using the default id as the primary key, it works as expected and doesn't throw this error. However when defining a custom primary key it fails ea

[2020-02-13 16:09] DanielLopez-nbcuni opened #3421 "Version 4.13.2 on Mac: unexpected token error"
**Describe the bug**
After installing amplify-cli via `npm install -g @aws-amplify/cli`. Running any amplify command throws an error.
[code]

**Amplify CLI Version**
4.13.2

**To Reproduce**
- Install `@aws-amplify/cli@4.13.2`
- Run `amplify configure` .. or pretty much anything w/ amplify. Event `amplify -v` fails

**Desktop:**
 - OS: Mac : High Sierra : 10.13.6
 - Node Version: v8.16.0

[2020-02-13 16:12] apanagos commented on #3411
I am waiting a week or so before I blow my test away and rebuild. I am hoping we can figure out a resolution because go live is coming quick and I cannot be rebuilding a production environment. It has taken a while to stabilize the Amplify environments and make sure everything is done in a certain order so env don't get blown up.

[2020-02-13 16:16] DanielLopez-nbcuni commented on #3421
Downgrading to V4.13.0 works fine.

[2020-02-13 16:51] cyrfer opened #3429 "generate graphql schema portion from data source like Elastic Search Mappings"
How can I populate my GraphQL schema from another data source? Since ElasticSearch Mappings define what I want my client to use, can I hook into the code generation lifecycle?

Ideally I would be able to mix hand-written schema types with generated schema types, from a variety of sources (at least ES Mappings).

** Which Category is your question related to? **
Api, GraphQL, Plugins

** What AWS S

[2020-02-13 17:41] attilah commented on #3421
@DanielLopez-nbcuni I see you're running Node 8, as Node 8 became unsupported the minimum version for Amplify CLI is Node 10. The problem probably you see is caused by ES6 compatibility in Node 8. Please upgrade to at least Node 10.

[2020-02-13 17:41] #3421 closed

[2020-02-13 18:17] ammarkarachi commented on #3417
@dantasfiles Thanks for bringing this up we are aware of this issue we will be publishing a fix in the next release

[2020-02-13 18:44] UnleashedMind commented on #3354
closing the issue, feel free to comment or open another issue if you still have questions.

[2020-02-13 18:44] #3354 closed

[2020-02-13 18:47] UnleashedMind commented on #3351
@siddharthsharma94
See my previous comments, not sure why you felt the original approach is "tacky and incorrect".

[2020-02-13 18:55] UnleashedMind commented on #3350
Amplify console uses Amplify CLI and it provides a "git-based" CICD for your project.
The CLI command "amplify publish -c" is a combo command, it carries out the following steps in sequence. It is not tied to the Amplify Console.
1. "amplify push"
2. execute frontend build command
3. upload frontend build command artifacts to hosting bucket

[2020-02-13 18:57] UnleashedMind commented on #3342
Did you allow the amplify init command to execute to its completion?
We are not able to reproduce the issue.

[2020-02-13 19:06] UnleashedMind commented on #3322
The Amplify Console project setup happen after a successful push.
What region did you setup your backend aws resources?

[2020-02-13 19:12] UnleashedMind commented on #3307
Closing the issue due to no response.
Feel free to open another issue if you still have the problem.

[2020-02-13 19:12] #3307 closed

[2020-02-13 19:29] siddharthsharma94 commented on #3351
So didn’t mean it in a negative connotation way,I just figured that having an unnecessary field on the listings that I didn’t need wasn’t the correct approach. Although it’s working, I feel like I could be more efficient and not have an unused column.

[2020-02-13 19:59] UnleashedMind commented on #3292
@steveparkerSG
I will check on those and if those were bugs, will send the fixes. Thanks for pointing them out.

[2020-02-13 20:32] nagey commented on #3322
`us-east-1`

[2020-02-13 21:00] attilah commented on #3402
@chantlong This is by design, as DynamoDB does not allow multiple changes on GSIs on one table in one deploy operation.

You've to serialize these kind of changes:
- Remove the old key
- Push changes
- Add the new key
- Push changes

GSI definition cannot be updated just its properties like provisioned throughput, etc

[2020-02-13 21:00] #3402 closed

[2020-02-13 21:02] attilah commented on #3385
@eliecer2000 Could you please elaborate on the steps needed and what escape hatches the CLI could add to enable scenarios like yours, so we could turn it into an enhancement from question.

[2020-02-13 21:02] joshglazer opened #3423 "CORS error when including javascript file in another domain"
I am deploying an angular application through amplify and would like to include some static images and one of the generated javascript files into a different application.  I am running into CORS issues and am seeing the following error in my console:

No 'Access-Control-Allow-Origin' header is present on the requested resource.

I have tried a handful of things to fix this, but none have worked.

[2020-02-13 21:17] #3296 closed

[2020-02-13 21:21] attilah commented on #3422
Closing the issue as the root cause was multiple auth directives which is invalid and validation works  correctly.

[2020-02-13 21:21] #3422 closed

[2020-02-13 22:00] malcomm commented on #3411
Just a bit of info, I was running into this as well after I upgraded from amplify-cli 4.13.1 to 4.13.2. Once I downgraded to 4.13.1 and did another `amplify push` life was better.

[2020-02-13 22:04] malcomm commented on #98
Any updates on this? Without this, it makes it pretty hard to use `@ searchable`. Even if we had a manual workaround that would be great.

[2020-02-13 22:06] kaustavghosh06 commented on #3423
@joshglazer Are you using the Amplify CLI or the Amplify console to deploy your application?

[2020-02-13 22:07] kaustavghosh06 commented on #3270
Closing this issue due to lack of requested information. Please comment if you're still stuck with this issue.

[2020-02-13 22:07] #3270 closed

[2020-02-13 22:10] houmark commented on #98
@malcomm The fix is fairly simple. Create a migration Lamda function. Query all documents. Make it update one "migration" field in each document. DynamoDB will then sync the entire document to Elasticsearch. You can then delete the "migration" field or keep it around for a future DB migration.

[2020-02-13 22:10] kaustavghosh06 commented on #3371
Closing this issue based on @UnleashedMind response. Please comment if you're still stuck on this issue.

[2020-02-13 22:10] #3371 closed

[2020-02-13 22:15] kaustavghosh06 commented on #3229
@dconlon-monigo I would recommend using Amplify console for your hosting needs to avoid this behavior. Amplify console has a warmed up Cloudfront pool - to avoid wait period like this one. Please take a look at our documentation out here - https://aws.amazon.com/amplify/console/

Also, we have our documentation around hosting out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#h

[2020-02-13 22:23] kaustavghosh06 commented on #3134
@berenddeboer Would it be possible for you to use the schema directly for you react-admin app?

[2020-02-13 22:58] lawmicha commented on #3247
The P8 file, even when generating through apple's developer site indicates it's for both development and production
some related info: https://stackoverflow.com/questions/39672297/how-to-use-apples-new-p8-certificate-for-apns-in-firebase-console

which is why i think if we are registering the p8 file via Amplify CLi, we should simply call both `update-apns-sandbox-channel` and `update-apns-channel

[2020-02-13 23:52] GProSoftware828 commented on #82
ANSWER: Amplify is a server that is installed locally like a git repository and then sends a path outwards to find the server similarly to how git sends out a path to a remote repository. Go under amplify/local-env-info.json and review the path after you relocate your repository. Update the path.

[2020-02-14 02:22] nagey commented on #3322
since I replied by email that one time, and it didn't like Markdown…

[code]

[2020-02-14 02:36] nagey opened #3426 "`amplify push` doesn't read from `backend-config`, but does read from `amplify-meta`"
**Describe the bug**
When running `amplify push` I expect it to consult the `backend-config.json` file, especially the `dependsOn` array for various services.

Apparently though, running `amplify env checkout …` is the magic sauce to convert the items in backend-config into amplify-meta.

**Amplify CLI Version**
4.13.1

**To Reproduce**
1. Make a change to your backend-config.json.
1. Push to the

[2020-02-14 03:19] mightiesthero commented on #3411
Thank you @malcomm

[2020-02-14 05:00] olivoil commented on #3411
Having the same issue with the latest CLI version (4.13.3) on any @model list query. Forcing version 4.13.1 of the CLI in build settings -> Live package updates does not seem to solve it for me, at least for existing `@model`s.

It happens with any `@model`, and is reproducible directly from the AppSync Console.

Generate a simple @model

[code]

Create a few objects, and query them, copying the v

[2020-02-14 05:53] nagey commented on #3426
Preemptively sorry for my semi sarcastic tone in my steps to repro, but this was an extremely frustrating thing to find, and honestly makes no sense to me as to why it is done this way.

If there’s a compelling reason that it is the way it is, could there at least be a comment put into the backend config that it only gets read when you do an env pull?

[2020-02-14 07:31] raelmiu commented on #3225
Of course, now I cannot guarantee that this is is exactly the same code as the issue first was set. But I also don't think I've made any changes.

This issue seems to have disappeared in the latest CLI btw (4.13.0)

[code]

[2020-02-14 08:52] a-j-olly commented on #3411
@malcomm For me, this issue was occurring on CLI version 4.13.1, however once I downgraded to 4.13.0 it cleared up. I did try and upgrade to 4.13.2 to see if that might be a fix, but I could still reproduce the error.

@olivoil I'd recommend taking the CLI down to 4.13.0 and then doing a `amplify push` and see if that works.

Hopefully the Amplify team can get to the bottom of this, but I have a w

[2020-02-14 11:21] darnmark64 commented on #2096
I just updated my @amplify/cli to version 4.13.2 and created a brand new Angular 9/Amplify application. Low and behold this issue is still NOT fixed. What are you guys doing closing an issue when you HAVEN'T fixed it? People are relying on your software. FIX IT!

[2020-02-14 11:32] tomrum commented on #2096
I'm abandoning this framework. After almost a month trying to get it to work I am giving up. There are not enough helpfull error messages especially when it comes to syncing appsync with Datastore and using the appsync queries page. It doesn't sync and I have no idea why because there is no error message or notice. I have followed all the docs but it still doesn't work, I think there are a lot of

[2020-02-14 11:37] iShavgula commented on #1055
@Ricardo1980
Let's say, we have a query called `doSomething`, which

- queries a table called `YOUR_OBJECT`
  - Request mapping template: Query.firstAction.req.vtl
  - Response mapping template: Query.firstAction.res.vtl

- then mutates ANOTHER_OBJECT table
  - Request mapping template: Mutation.secondAction.req.vtl
  - Response mapping template: Mutation.secondAction.res.vtl

First, You need to d

[2020-02-14 13:58] steveparkerSG opened #3427 "Permit function to access a query lambda"
I have a query (getAvailable) mapped to a function. The function makes calls to the API. This works fine.

I then have a mutation, also mapped to a lambda. Within that lambda (createSomething), I make an API call to invoke the getAvailable query, but this returns an unauthorized error. I added the auth annotation shown below, assuming this would permit IAM based access to the query, but I still ge

[2020-02-14 14:01] apanagos commented on #3411
@a-j-olly I am on Amplify 4.5.0 and I haven't upgraded for a while, so there were no environment changes. Though saying that the problem I am having is with an environment that is built by "AWS Amplify" from GIT. I assume they would be using the latest version of Amplify when building the backend. I will add an echo to the amplify.yml to see what version they are using.
BUT saying that my build en

[2020-02-14 14:33] mdebo commented on #3275
CodySwannGT  Yes really it's really painfull to deal with these kind of oversight.
Having optional connections is often necessary. Imagine I have an application to manage teachers, and each teachers can belongs to a classroom. Actually, how could i create a teacher not linked to a classroom yet? Should I specify a dummy classroomId in the connection field to bypass validation?

[2020-02-14 14:40] joshglazer commented on #3423
Hi @kaustavghosh06, everything was set up using the Amplify CLI, but I did make a few small changes in the console while trying to fix it.

[2020-02-14 14:50] bahrmichael commented on #3187
`amplify-cli v4.13.2` doesn't work for me. It keeps overwriting my `nodejs12.x` fix. Do you know which version doesn't have this bug?

[2020-02-14 15:34] #3427 closed

[2020-02-14 15:51] gaboucand opened #3428 "Hosted UI Endpoint not working"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
amplify status returns the following kind of url:
Test Your Hosted UI Endpoint: https://mydomain.auth.eu-west-1.amazoncognito.com/login?response_type=code&client_id=25flgv0rtcmidjo&redirect_uri=http://localhost:/

This url does not work at all.
Moreover it differs from the one provid

[2020-02-14 15:56] gaboucand commented on #3428
The same issue affects the following function:

import { Auth } from 'aws-amplify';
Auth.federatedSignIn()

[2020-02-14 16:19] bahrmichael commented on #3187
Just checked that there is no local version of amplify interfering.

[code]

[code]

[2020-02-14 16:47] ngnathan opened #3430 "API Owner Authorization from another Table"
** Which Category is your question related to? **
API, Auth

** What AWS Services are you utilizing? **
Cognito, AppSync

** Context **
- We're building a multi-organization platform where users (i.e. profiles in the example below) can be a part of multiple organizations (many to many relationship between Organizations and Profiles).
- (GraphQL Schema provided below)
- Users are authenticated via

[2020-02-14 17:39] hisham commented on #3423
If using amplify console, you can add CORS via ampliify.yml. See https://github.com/aws-amplify/amplify-console/issues/216

Otherwise if using amplify hosting via S3, you can add CORS settings to the s3 bucket. See https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

[2020-02-14 18:19] #3389 closed

[2020-02-14 18:27] ammarkarachi commented on #3426
Hi @nagey we generally don't recommend modifying those files manually. Can you give us more information on what you were trying to do?

[2020-02-14 18:47] alexkates commented on #979
Any updates here? Seems like something that should be supported...

[2020-02-14 18:47] UnleashedMind commented on #3187
@bahrmichael
It seems to be a corrupt installation, try to remove the globally installed Amplify CLI and reinstall again.
did you use yarn or npm to install the amplify CLI?
If you used yarn, remove all amplify related packages from its global installation directory, their names are all prefixed with "amplify-".

After installation, do a fresh `amplify plugin scan` before you proceed.

[2020-02-14 19:06] dtelaroli commented on #3411
+1 same problem with @key and custom queryField.

[2020-02-14 19:19] yuth commented on #3365
the graphql-transformer is published to NPM as a separate package along with all the transformer plugins. If Amplify CLI does not fit your need, then you could use the transformer directly without using the Amplify CLI, [similar to how the CLI uses it](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/lib/transform-graphql-schema.js#L250).

Amplify

[2020-02-14 19:40] SwaySway commented on #3147
Yes though when using iam auth it grants access if it's specified.
In this case `{allow: private, provider: iam, operations: [update, create]},` creates policies for the authorized role to allow update and create mutations.

https://aws-amplify.github.io/docs/cli-toolchain/graphql#combining-authorization-rules

[2020-02-14 19:57] yuth commented on #3204
@regenrek Amplify CLI expects presences of a file called `#current-cloud-backend.zip`, at the root of your bucket. This file is zipped version od your `<proj-root>/amplify/#current-cloud-backend` folder. If you do have this folder present in your project, please zip it and upload it to the bucket. Please make sure you have backed up the entire project before doing anything as it would be hard to r

[2020-02-14 20:00] bahrmichael commented on #3187
I might have used yarn with amplify some day, but not recently.

I did a global reinstall before, but apparently that didn't delete all files (first install seemed to be 3.2.0). Did a `find / -name "amplify" -print` to find all the amplify files and removed them. Then reinstalled amplify globally with `npm install -g @aws-amplify/cli`.

[code]

Then reinitialised the project.

[code]

Now it doesn

[2020-02-14 20:07] lawmicha opened #3434 "[Feature Request] Set up Apple Sign-In Hosted UI through Amplify CLI"
**Is your feature request related to a problem? Please describe.**
Apple Sign-In with HostedUI is missing from `amplify add auth` flow.

**Current experience**
1. `amplify init`
2. `amplify add auth`
3. Choosing some defaults with social provider
4. Enter redirect signin URI/redirect signout URL as usual
5. Select Facebook and Google to be configured as social providers for the user pool
6. After

[2020-02-14 20:16] nagey commented on #3426
"generally don't recommend"?
![image](https://user-images.githubusercontent.com/13761/74564322-cd58c380-4f3c-11ea-82e6-82d5af970cf1.png)

Unless you mean modifying amplify-meta, which, yeah, I get. I was trying to pipe the endpoint URL of one of the rest services into a function, rather than just the endpoints "friendly" name.

[2020-02-14 20:40] alexkates commented on #1194
How is this usable? Is anyone actually deploying more than 1 environment with lambda functions? How are you managing the s3 keys when using more than one branch?

[2020-02-14 21:05] yuth commented on #3225
@raelmiu could you include the type `Post` as well. I am interested in to see if it has any `@key` directives

[2020-02-14 21:21] attilah commented on #3434
@lawmicha no, it is currently not possible through the CLI.

[2020-02-14 22:30] anarerdene opened #3436 "Query: Nested List Items Return Empty"
** Which Category is your question related to? **
@key with @connection.
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
Im Using @key but nested list return empty ?

this is my schema:

![image](https://user-images.githubusercontent.com/2210568/74571199-755fa280-4fb8-11ea-88c4-79ba09d18fe5.png)

and this is result:

![image](https://user-

[2020-02-14 22:44] dtelaroli commented on #2711
+1
same for private IAM and API Key.
if I remove @auth directive I get an unauthorised error, that is, there is no public access for lambda as described on documentation

[2020-02-14 23:36] dtelaroli commented on #2711
+1
same for private IAM and API Key.

[2020-02-15 00:17] dantasfiles opened #3435 "GraphQL Explorer for "amplify mock api" stopped working after upgrading to CLI 4.13.3"
**Describe the bug**
GraphQL Explorer for `amplify mock api` stopped working after upgrading to CLI 4.13.3

**Amplify CLI Version**
4.13.3

**To Reproduce**
I have an existing React Native app that I successfully ran the GraphQL Explorer on `amplify mock api` a few days ago.

Today, I ran `npm -g install @aws-amplify/cli@latest` to get CLI v.4.13.3

Now when I run `amplify mock api` (no errors are

[2020-02-15 00:24] #3280 closed

[2020-02-15 00:44] SwaySway commented on #3411
Hi @apanagos
I'm trying to reproduce this though I'm not able to
this is the schema I am trying on version 4.5.0
[code]

I'm running this in `us-west-2`.

If possible could you provide the schema you are using, here or email amplify-cli@amazon.com, and provide the region this api exists.

[2020-02-15 00:49] SwaySway commented on #3340
Hi @aprilmintacpineda match and matchPhrasePrefix don't work with date types. I've opened pr to  clarify this a bit better. As for the issue with with the types not matching what is on the schema I'll refer to #3341 when reviewing indexing with the team.

[2020-02-15 02:30] apanagos commented on #3411
Hi @SwaySway, problem is that I am experiencing the problem with all the tables in my TEST environment.

Here is a simple one that is causing issues:

[code]
I am running this in us-east-1

Let me go through the process of how I promote in case the problem is there.

[code]
once its is finished i do the following:

[code]

Then the build automatically starts in "AWS Amplify" as I have set it up to

[2020-02-15 04:15] julescsv commented on #2022
This featured is greatly needed please!!!!!

[2020-02-15 06:20] aprilmintacpineda commented on #3341
HI @SwaySway I haven't tried that workaround and I suppose that would actually work, but it would be a really really helpful feature to have a button that I could simply click to achieve this as oppose to running a script every time.

[2020-02-15 11:36] Ricardo1980 commented on #1055
@iShavgula Thanks a lot, it is working!

BTW, it is
`"DependsOn": ["FirstActionFunction", "SecondActionFunction"]`
required?
If I remove that, it is working.
Reading
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-dependson.html
it seems that perhaps it is not needed due to an implicit dependency. Don't know.
Thanks.

[2020-02-15 12:53] abwaters commented on #2794
This is important for AWS Amplify to be managed by enterprise projects where teams share AWS accounts. bump

[2020-02-15 19:57] simholte opened #3437 "Dynamic Group Authorization for subscriptions"
**Is your feature request related to a problem? Please describe.**
Currently subscriptions only support static group authorization.  I'd like to be able to extend that to use Dynamic Groups as well.

**Describe the solution you'd like**
I'd like to use the Dynamic Group authorization for subscriptions so that I can subscribe to my data using the same auth directives as query and mutate.  For examp

[2020-02-15 22:11] dantasfiles commented on #3435
I upgraded the screenshots in the original post.

[2020-02-15 23:51] arkllc commented on #3435
facing the same issue

[2020-02-16 01:17] silvesteradamik opened #3438 "Many-To-Many Connections have incorrect generated mutations for join model"
**Describe the bug**
Take example schema from page https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection
**Many-To-Many Connections** and run the related example mutations.

The **CreateLinks** mutation fails.

This prevents filling up the join model table with data, thus making **many to many connections** not usable.

[code]

Execution of **CreateLinks** mutation fails:
[code]

Err

[2020-02-16 02:29] jarkin13 opened #3584 "Use owner as the primary key for settings table"
** Which Category is your question related to? **
Appsync + Backend files
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, Api, Auth
** Provide additional details e.g. code snippets **
I would like to make the `owner` the primary key, here is the code for my `@model`

[code]

If I go into my Appsync api, I can update

[code]
to:
[code]

and go into the resolver and comment out the

[2020-02-16 08:19] slatemates commented on #3411
I have tried deploying a test api through both  Amplify Version(4.13.3 and 4.13.2) with the following schema :

type TODO @model {
  id: ID!
  amount : Int!
}

The resolver generated using amplify CLI

Query.listTODOs.req.vtl

#set( $limit = $util.defaultIfNull($context.args.limit, 10) )
#set( $ListRequest = {
  "version": "2017-02-28",
  "limit": $limit
} )
#if( $context.args.nextToken )
  #set(

[2020-02-16 10:22] raelmiu commented on #3225
I hope this is the right version (since it's just something I'm testing out I've been lax in versioning) but here's the whole schema:

[code]

[2020-02-16 11:27] weisisheng opened #3439 "Latest version 4.13.3-- can not init due to plugins error."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Upgraded to aws-amplify/cli@4.13.3.

Attempt to init a new gatsby project to upload it to amplify fails with the following--

Error: Found no provider plugins
Run 'amplify plugin scan' to scan your system for provider plugins.
init failed

Scanning for plugins...
The following offici

[2020-02-16 14:18] RossWilliams commented on #3430
When a user logs in you can provide additional user groups or custom claims using Cognito’s preToken lambda. You can write and attach a lambda that makes DynamoDB calls to lookup the user’s orgs and add these orgs to their group membership, or add them as an additional claim. Then you can use dynamic group auth to restrict access. This gets around any limits in Cognito w.r.t groups.

See #3118 for

[2020-02-16 14:54] weisisheng commented on #3439
After about 6 hours of grubbing around, found this recommendation, #2746.  Removing the yarn global dir and reinstalling using npm seems to fix my problem.  Ugh.

[2020-02-16 14:54] #3439 closed

[2020-02-16 16:40] buixuanhai opened #3440 "Stuck at Edit you schema at or place .graphql files in a directory"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When run amplify push. It shows message below and hang. It didn't open schema.graphl for do anything else. It' stuck.

in a directory at D:\Code\myapp\amplify\backend\api\myapp\schema

**Amplify CLI Version**
4.13.2

**To Reproduce**
Make some change to schema and amplify push

**Exp

[2020-02-16 16:47] teemuniiranen commented on #1807
It worked for init now with version 4.13.1 if I recall right but "amplify env pull" for example is missing the prompt after expired token.

[2020-02-16 20:40] Ricardo1980 opened #3441 "Perhaps a bug when adding auth with custom challenge flow."
**Describe the bug**

When adding auth and selecting "Custom Auth Challenge Flow", several lambda functions are created.
For each one we have several files, one of them is index.js

[code]

When I try to use that flow, I receive this error:

Printing description of error:
[code]

However, after adding:
`context.done(null, event);`
to all this files (3 or 4, in my case 4 because I also added pre si

[2020-02-16 20:53] claym commented on #1378
I'd like to see this as well, or at least an explanation on how to do it.

[2020-02-16 22:08] alexkates opened #3442 "Should amplify env checkout prompt me to configure Lambda Triggers for Cognito?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Auth

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
Cognito, Lambda

**Provide additional details e.g. code snippets**
When I run `amplify env checkout staging` I'm always prompted with `Do you want to configure Lambda Trigge

[2020-02-16 22:54] Ricardo1980 opened #3443 "Custom auth flow not working"
**Describe the bug**

Hello,

Right now I am using passwordless login in my app. This one:
https://github.com/mobilequickie/amplify-passwordless-sms-auth
Works properly.
The problem is that to deploy that flow (cognito, lambdas...) I use AWS Serverless Repository.
That's a problem because when I use "amplify push", I overwrite the configuration, and I have to update all the time awsconfiguration.j

[2020-02-17 01:43] awsirkis opened #3444 "AWS-Amplify/CLI not allowing sign-in"
**Describe the bug**
When attempting to configure an AWS Amplify project using `amplify configure`, user is met with exception before being able to sign in.

Error text:
`2020-02-16T04:13:06.005Z - error: uncaughtException: spawn cmd ENOENT date=Sat Feb 15 2020 20:13:05 GMT-0800 (Pacific Standard Time), pid=24080, uid=null, gid=null, cwd=C:\Users\awsir\CMAA, execPath=C:\Program Files\nodejs\node.e

[2020-02-17 02:23] simpson commented on #1865
Anything on this?

[2020-02-17 04:10] clodal commented on #3411
As per @a-j-olly's [comment](https://github.com/aws-amplify/amplify-cli/issues/3411#issuecomment-586160577) above, can confirm it works when I downgraded the cli from `4.13.2` to `4.13.0` and do `amplify push`.

[2020-02-17 04:40] buggy commented on #3430
I've had similar discussions with various people at AWS.

My ideal solution would be an API Gateway style Lambda authorizer that allowed me to pass data into each resolver so the user profile only needed to be loaded once per request. It doesn't seem like this is going to implemented any time soon.

The next best solution seems to be a directive like `@user_data` that would load a record from Dyna

[2020-02-17 04:47] dylan-westbury commented on #1789
+1 as we required to run weekly email outs to users based on data stored in database, any update about this feature request?

[2020-02-17 05:15] rehanbabertkxel commented on #1789
All,
I was able to make a workaround for it.
I created a custom stack which creates a cloudwatch Event rule which is invoked every midnight (depending on the cron expression or rule I provided), and that event triggers my lambda function.
The good thing is that when making a custom stack, we have access to the ENV variable so we can name the event depending on the environment.

This was the only w

[2020-02-17 05:20] gabehollombe-aws opened #3445 "amplify mock fails when @function GQL Transform is present"
**Describe the bug**
Using the `@function` GQL Transform directive breaks `amplify mock`.

Given the following `schema.graphql` file:
[code]

And having run `amplify update function` and granted it access to the API, after running `amplify mock`, I receive this error:

[code]

Note that an `amplify push` will complete successfully.  So the issue is with `amplify mock`.

**Amplify CLI Version**
`am

[2020-02-17 05:29] raygerrard commented on #3204
@yuth this didn't work for me. When pushing you let get another error that amplify-meta.json could not be found but the file does exist locally at the path it states.

[2020-02-17 05:52] apoorvmote commented on #1789
@rehanbabertkxel what about security? For example I need to charge my customer recurring monthly fee. Payment gateway expectes me to make transaction manually every month.

[2020-02-17 07:39] waqas-syed commented on #3363
@RossWilliams Thank you!

[2020-02-17 07:39] #3363 closed

[2020-02-17 11:28] sorokinvj commented on #1678
@ambientlight @bob-lee Hey guys, I am struggling with the same thing. I tried approach from the docs https://aws-amplify.github.io/docs/cli-toolchain/quickstart?sdk=js#graphql-from-lambda

But I stuck with subscriptions.
Is it silly from my side to expect that for example if my Lambda runs mutation UpdateFile, that in my frontend I can catch Subscription OnUpdateFile? (we have one appsync url thou

[2020-02-17 13:04] a-j-olly commented on #3411
Just an update.

Having downgraded to 4.13.0 and finding success, I was annoyed to find out this morning that once again the problem has cropped up. I have not made any alterations whatsoever since I did the downgrade and `amplify push`.

I'm getting the same error:

[code]

Pagination is a critical feature of GraphQL. Fixing this issue is of vital importance.
If you need anymore info see my above

[2020-02-17 13:14] steveparkerSG opened #3446 "Customising aws_cognito_user_pools annotation"
**Which Category is your question related to?**
API

**Amplify CLI Version**
4.11.0

**Provide additional details e.g. code snippets**

Given

[code]

How can I scope this custom mutation to permit only certain cognito groups? Does the `@aws_cognito_user_pools` annotation take any arguments? There doesn't appear to be any docs on it.

[2020-02-17 13:37] shaunprocterdev commented on #3435
I have the same issue as the 'Not working in 4.13.3' screengrab, with the same status message/code for the relevant js and css files. Except downgrading doesn't resolve the issue for me. I was on v14.3.3 and have tried downgrading to v14.3.2 and v14.3.1. I have also tried node v13.8.0 and v10.16.3.

[2020-02-17 13:43] dantasfiles commented on #3435
@shaunprocterdev after downgrading to 4.13.2, I had to clear my browser cache for the site before it would work again

[2020-02-17 14:03] shaunprocterdev commented on #3435
Thanks @dantasfiles! That forced me to revisit it and down grading to v4.13.2 resolved the issue. It turns out that when I was swithcing between versions of node I was mistakenly thinking I was downgrading versions of the cli but my amplify binary was still v4.13.3.

[2020-02-17 14:26] grigull commented on #3411
I ran into the same problem when I went to 4.13.3, downgraded to 4.13.1 which still works for me.

[2020-02-17 14:32] a-j-olly commented on #3411
So I just did another 'empty' push, and it has cleared up again. I think I'm just going to take a break...

[2020-02-17 15:00] voraczech commented on #3149
I had the same problem, this is possible solution:

1. Check your nodejs version ```node -v``` - should be at least verstion 12, if not -> upgrade it
1. Check your amplify version ```amplify -v```, at this time, you should have at least 4.13.3, if not -> ```npm -g update @aws-amplify/cli```
1. find every single occurrence of `nodejs8.10` and replace it with `nodejs12.x`

Now you should be able to

[2020-02-17 15:01] voraczech commented on #3149
I had the same problem, this is a possible solution:

1. Check your nodejs version ```node -v``` - should be at least verstion 12, if not -> upgrade it
1. Check your amplify version ```amplify -v```, at this time, you should have at least 4.13.3, if not -> ```npm -g update @aws-amplify/cli```
1. find every single occurrence of `nodejs8.10` and replace it with `nodejs12.x`

Now you should be able t

[2020-02-17 15:02] voraczech commented on #3187
I had the same problem, this is a possible solution:

1. Check your nodejs version ```node -v``` - should be at least verstion 12, if not -> upgrade it
1. Check your amplify version ```amplify -v```, at this time, you should have at least 4.13.3, if not -> ```npm -g update @aws-amplify/cli``` (or yarn global upgrade alternative)
1. find every single occurrence of `nodejs8.10` and replace it with `

[2020-02-17 15:35] claym commented on #501
Yeah, I'm trying to remove an environment that's mangled and here's what amplify is telling me:

`? Are you sure you want to continue? (This would delete all the environments of the project from the cloud and wipe out all the local amplify resource files) Yes
- Deleting resources from the cloud. This may take a few minutes...
Deleting env:dev
| Deleting resources from the cloud. This may take a fe

[2020-02-17 15:52] claym opened #3447 "Manually deleting an env"
**Which Category is your question related to?**
env

**Amplify CLI Version**
4.13.3

**What AWS Services are you utilizing?**
api, auth, function

Is there a way to manually delete an amplify backend?

I've got a mangled environment that I've been trying to drop, however whenever I run it, it throws an error and keeps spinning (it spun overnight)

[code]

I can delete the vast majority of individu

[2020-02-17 16:40] swanandvg opened #3448 "Amplify Publish is uploading huge lambda zip file containing .npm folder inside it which contains _cacache and other folders"
**Which Category is your question related to?**
amplify cli ci/cd

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Creating a react application on AWS as mentioned in https://aws-amplify.github.io/docs/js/react
When I am trying deploy whole stack using My dev machine and amplify CLI, stack is getting updated. But same thing when I try to deploy using Jenkins and build agen

[2020-02-17 16:52] steveparkerSG commented on #3292
The issue here is around how much amplify init does. It tries to do a full deploy, giving me no chance to run `amplify pull` before a deployment. Therefore every single time I run a CI job, it thinks it has changes, and repeats a redundant deployment.

If I locally do an amplify pull for the enviroment and check-in the generated cloudformation stack files, then all is fine, but this is no kind of

[2020-02-17 17:05] #3448 closed

[2020-02-17 17:06] paulsson commented on #1181
+1, it's been almost 1 year since this was opened. Logging is important.
Rule #1 of cloud: if it isn't automated then you're doing it wrong.
I think everyone here can agree with that. ;)
We don't have the luxury of modifying the CloudFormation template since it is re-generated every time there is a API / schema update as part of the transform process and we would lose any modifications made to it

[2020-02-17 17:53] kaustavghosh06 commented on #3447
@claym Did you manually delete the S3 deployment bucket?

[2020-02-17 17:54] kaustavghosh06 commented on #3446
@steveparkerSG You can probably use the @auth directive and scope it to groups. You can read more here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#auth

[2020-02-17 17:56] kaustavghosh06 commented on #3442
@alexkates The questions depends on which environment you're checking out from. Is the environment that you're checking out from has Lmabda triggers configured?

[2020-02-17 18:02] claym commented on #3447
No, i didn’t manually delete anything , except for a dynamo table, which may have started this whole nonsense

It’s deleted cloud formation stacks, cognito pools, and IAM roles though.

I’ve tried creating empty replacement of the stack and roles, but no dice.

[2020-02-17 18:28] ammarkarachi commented on #3441
@Ricardo1980 are your handlers returning values? The error is thrown because an undefined i return from you function in index.js

[2020-02-17 18:29] kaustavghosh06 commented on #3435
We've root-caused the issue and working on a fix for this which will be released soon.
cc: @attilah

[2020-02-17 18:30] kaustavghosh06 commented on #3411
We've root-caused the issue with the latest release and working on a fix for this which will be released soon.
cc: @attilah

[2020-02-17 18:40] ammarkarachi commented on #3444
@awsirkis Can you run the node.js cli as Administrator and rerun the command?

[2020-02-17 18:42] alexkates opened #3449 "amplify push new environment fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
We are trying to create a new environment using `amplify env add` and then try to push using `amplify push` but it fails when attempting to create a function.

**Amplify CLI Version**
4.13.3

**To Reproduce**
For our stack...
1. `amplify env add newenv`
2. `amplify push`

**Expected

[2020-02-17 18:46] alexkates commented on #3442
We have 1 environment named prod that has 2 lambda triggers for cognito, preSignUp and customMessage. Staging is a brand new environment that we are trying to create.

[2020-02-17 18:53] kaustavghosh06 commented on #3449
@alexkates Are you using acorn CLI as a part of your build script as a part of  a function?

[2020-02-17 18:59] alexkates commented on #3449
As far as I can tell I'm not explicitly using acorn in any of our backend services. I believe acorn is also a dependency of one of our dev-dependencies in our backend functions.

That being said, it is a non-development dependency in the root's package.json.

[2020-02-17 19:03] awsirkis commented on #3444
@ammarkarachi same error response
![image](https://user-images.githubusercontent.com/44416148/74680320-1004e080-5175-11ea-8281-cc761ecdd9dd.png)

[2020-02-17 19:27] ammarkarachi commented on #3444
@awsirkis Is the $PATH variable populated?

[2020-02-17 19:28] alexkates commented on #3449
Quick update, we were able to get the new env to push successfully by moving our backend lambda's dev-dependencies located in each package.json up to normal dependencies. Obviously not ideal, but that's how we were able to get past this. I don't mind providing more input for debugging this for the future, just let me know if you need any more information from me. We are also going to keep investig

[2020-02-17 19:34] awsirkis commented on #3444
$PATH contains "C:\Users\awsir\AppData\Roaming\npm" and C:\Program Files\nodejs"

[2020-02-17 19:37] bob-lee commented on #1678
@sorokinvj if your frontend subscribes to `OnUpdateFile` and your lambda function performs `updateFile` mutation, then your frontend should get real time update on `File` in theory.

[2020-02-17 21:04] ambriglia opened #3451 "amplify env remove someEnv failed"
**Describe the bug**
I ran `amplify env remove someEnv` and the cmd threw an error.

**Amplify CLI Version**
4.11.0

**To Reproduce**
1. `amplify env add`
2. `amplify push`
3. `amplify env checkout prod`
4. `amplify env remove someEnv`

**Expected behavior**
I was not expecting the `remove` cmd to error out.

**Desktop (please complete the following information):**
 - OS: Mac
 - Node Version. 12.1

[2020-02-17 21:46] kaustavghosh06 commented on #3253
Closing this issue due to lack of information. Please comment on this thread if you're still stuck on this issue.

[2020-02-17 21:46] #3253 closed

[2020-02-17 21:57] Ricardo1980 commented on #3441
Hello @ammarkarachi

I think so, here you have my pre sign up lambda function:

boilerplate-pre-sign-up.js:
[code]

index.js:
[code]

[2020-02-17 21:58] kaustavghosh06 commented on #3342
Closing this issue due to lack of requested information. Please respond to this issue if you're still stuck.

[2020-02-17 21:58] #3342 closed

[2020-02-17 22:05] kaustavghosh06 commented on #3069
@artyom-melnikov Is it due to some settings in your windows file editor?

[2020-02-17 22:06] kaustavghosh06 commented on #3139
Closing this issue due to lack of user information. Please comment on this thread if you're still seeing this issue.

[2020-02-17 22:06] #3139 closed

[2020-02-17 22:15] #3435 closed

[2020-02-17 22:21] kaustavghosh06 commented on #2620
We merged #3285 which addresses the unhelpful error message issue. Now the CLI will print out a better error message - for you to better root-cause the issue.

[2020-02-17 22:22] kaustavghosh06 commented on #2737
I believe this issue has been fixed with PR #3285. Please let us know if you're still seeing this issue.

[2020-02-17 22:22] #2737 closed

[2020-02-17 22:22] UnleashedMind commented on #3413
`amplify pull` does not  take the `--awsInfo` input parameter, so the profile specification is not taken in by the CLI. The `--yes` flag will suppress command line prompt, The CLI will just rely on the aws-sdk to resolve the credentials, very likely using the `default` profile, which is different than the original account when the Amplify Console Project is created. that's why you got the error.
I

[2020-02-17 22:45] ammarkarachi commented on #3381
@kimfucious I am assuming you didn't get a chance to change the aws-export.js before pushing the first time? have you tried changing the values and then pushing for the first time. Because for the consequent pushes it does a merge

[2020-02-17 22:46] bijanv commented on #2458
On 4.13.1 and I can't remove `amplify remove auth` as I end up with this error

`Resource cannot be removed because it has a dependency on another resource
Dependency: API Gateway:AdminQueries`

[2020-02-17 22:48] kaustavghosh06 commented on #2458
@bijanv Yes, since the Admin Queries require and reference your auth resource, that's the reason you can't just remove auth independently - since that you break your AdminQueries API which depends on auth.

[2020-02-17 23:31] ammarkarachi commented on #3451
@ambriglia What resources did the environment have that you attempted to delete?

[2020-02-18 00:21] edwardfoyle commented on #3042
Hi @elliott-king I am unable to repro this issue. I used the schema you specified and was able to create an Event record with Location when signed in as a user in the Cognito pool and got an unauthorized error when using API key (which is expected based on the auth rules). Have you had any success figuring out the issue? And if not, can you provide additional repro details?

[2020-02-18 00:38] ammarkarachi commented on #3444
@awsirkis I tried it on a windows machine and I wasn't successful in reproducing this issue, but I do have System32 in my path variable other than npm and nodejs paths

[2020-02-18 00:45] bijanv commented on #2458
Thanks @kaustavghosh06. Understand that piece and there is no issue on the reasoning behind it. There's just no clear path on removing the Admin Queries so that I could remove my auth cleanly after that. Had to manually go and edit contents of config files to remove references to the Admin Query, and then manually delete the API Gateway from the AWS Console before I could run `amplify remove auth`

[2020-02-18 03:03] edwardfoyle commented on #3431
Hi @alexladerman you are correct that the API ID does not currently get auto-wired into the lambda CFN template. While we investigate adding this by default, here are the manual steps to make it accessible in your lambda. I'm calling the callback API "callbackAPI" (very creative) and the lambda that calls it "purchaseFunc"

in `amplify/backend/api/callbackAPI/callbackAPI-cloudformation-template.js

[2020-02-18 03:12] PerrySong commented on #243
I guess the bug might still be there

[2020-02-18 05:12] artyom-melnikov commented on #3069
I'm using WebStorm, it's not changing line endings in any way

[2020-02-18 05:51] cle5eland commented on #3289
I am only seeing one level of directive propogation. Is this expected @yuth ?

[2020-02-18 07:18] alexladerman commented on #3431
Ah, thanks. I'd assumed all the cloudformation templates were managed by
amplify-cli and best not to be tampered with manually.

On Tue, Feb 18, 2020, 04:03 Edward Foyle <notifications@github.com> wrote:

[2020-02-18 08:53] swanandvg commented on #3448
Issue was with Jenkins infrastructure.

[2020-02-18 09:04] emersonhsieh commented on #2510
I ran into the same issue when adding a new table to the same Aurora database and running `amplify api add-graphql-datasource`. After I deleted all the existing types and inputs from `schema.graphql` and all the resolvers in the resolvers directory, the command succeeded. The schemas and resolvers was then automatically regenerated.

[2020-02-18 09:35] Gl0ntz commented on #1656
@connection lets you reverse query the parent field, @key would require you to write your own resolvers to achieve the same function. If I am not mistaken there isn't any additional cost involved with that resolver right? Then isn't @connection a really good feature to maintain. If you choose not to use reverse mapping ever, you can go with implementing only @key with name,fields. Or will you be a

[2020-02-18 11:26] regenrek commented on #3204
I ended up to "solve" this issue with creating a complete new environment and migrated my database. Everything else didn't work out. But @yuth thanks for the tip maybe it will help sometime if this happens again.

[2020-02-18 11:41] raygerrard commented on #3204
I also had to create a new environment to get this working again. Is this a bug? A deploy should be able to recreate the bucket if it doesn't exist without having to create a new environment, is there any reason it would not be possible to recover from this situation without re-creation of the env? I removed the s3 bucket without realising it was still required when spring cleaning as I think othe

[2020-02-18 13:23] ambriglia commented on #3451
A lot of different ones... S3 buckets, Lambdas, API Gateways, AppSync API, Cognito User Pool, and DynamoDB tables.

[2020-02-18 13:53] dimonchik-com commented on #3411
Have the same problem
`com.amazonaws.deepdish.common.pagination.InvalidPaginationTokenException: Invalid pagination token given.`

[2020-02-18 14:20] nagey commented on #2620
@kaustavghosh06 It's definitely different now, but I'm still seeing an issue getting this started — it's a problem with one of the auto-generated stacks, redacted output is below.

[code]

Any guidance here?

[2020-02-18 14:25] dimonchik-com opened #3459 "Invalid pagination token given."
I have next shema
[code]
when I try get data using **selectByOwnerCollectionWord** and limit i got next error
com.amazonaws.deepdish.common.pagination.InvalidPaginationTokenException: Invalid pagination token given.

[2020-02-18 14:43] ambriglia opened #3456 "gitignore custom cloudformation files?"
**Which Category is your question related to?**
Functions (APIs)

**Amplify CLI Version**
4.11.0

**What AWS Services are you utilizing?**
Lambdas, Cloudformation, API Gateway, S3

**Provide additional details e.g. code snippets**
Referencing [this issue](https://github.com/aws-amplify/amplify-cli/issues/968) and [this issue](https://github.com/aws-amplify/amplify-cli/issues/3034) it sounds like w

[2020-02-18 15:55] dbhagen commented on #3413
Hello @UnleashedMind,

I've been trying the headless script like you sent. I probably just mixed up the push vs. pull scripts with the `--awsInfo` flag.

So using the script you gave, the following command is formed and included is it's result.
[code]

[code]

[2020-02-18 17:17] edwardfoyle commented on #3456
@ambriglia which CFN files are you modifying? The CFN files in each category are not ignored and are safe to update. The only one that you should generally not make changes to is `amplify/backend/awscloudformation/nested-cloudformation-stack.yml`

[2020-02-18 17:36] yuth commented on #2620
Mock does not support API that has `@searchable` directives. From the error it looks like it is failing to process the resources specific to `@searchable` directive.

[2020-02-18 17:36] dbhagen commented on #3413
Ok, just a quick follow up. I'm running in a ZSH shell, and it's behaving the same as I mentioned in the BASH based build container in the build pipeline. By adding single quotes around the JSON, the error above goes away. Copying the code here:

[code]

Actually, if anyone wants my script code, this is what I'm doing to produce the same idea, just with passable flags:
[code]

[2020-02-18 17:43] dbhagen commented on #3413
That was it! Amplify Build pipeline was able to pull in the project without any `aws-exports.js` being committed, just the way I wanted it!

Any objection to me submitting a PR for the script above? I need to put some error checking in to make me happy, though.

[2020-02-18 17:47] #3413 closed

[2020-02-18 17:48] yuth commented on #3204
This not a bug. Amplify CLI uses different workflow for initializing an environment and updating an initialized environment. The content in the bucket is also used by Amplify console to support `pull`.

We will have to do bit more research to confirm if this is doable without breaking support for all the current workflows . I am marking this as an enhancement and put it our backlog.

[2020-02-18 17:52] yuth commented on #3289
@cle5eland could you share an minimal schema and explain what you mean by one level

[2020-02-18 17:53] SwaySway commented on #3429
Hi @cyrfer
Are you talking about backfilling data from one datasource to another? or are you referring to having a elasticsearch mapping and graphql schema be in parity with types?

[2020-02-18 17:54] dbhagen commented on #2792
@djheru you pretty much read my mind on this script. Thanks for developing it and posting it so I didn't have to!

[2020-02-18 18:43] ChrisSargent commented on #3376
I'm having this issue but I only have the API key auth turned on - in the `aws-exports.js` file there is no value for the api key, like when running in cloud.

[2020-02-18 18:55] ammarkarachi commented on #3449
@alexkates can you share the structure of you project?

[2020-02-18 18:56] narayanncube opened #3460 "Refused to apply style from in Amplify GraphiQL Explorer because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled."
**Describe the bug**
Refused to apply style from 'http://192.168.0.193:20002/static/css/2.43e65972.chunk.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.

This comes in http://192.168.0.193:20002/ (Amplify GraphiQL Explorer)

**Amplify CLI Version**
4.13.3

**To Reproduce**
amplify mock api

**Expected behavior**
Amplify GraphiQ

[2020-02-18 19:04] ambriglia commented on #3456
We heavily modify our lambda and api gateway templates. However, your response conflicts with the two issues I referenced. Both those issues seem to suggest to gitignore any cloudformation template file to get around the s3key and s3bucket dynamic names multiple environment git conflict issue.

[2020-02-18 19:08] hisham opened #3461 "What IAM user is used with amplify function invoke?"
**Which Category is your question related to?**
functions

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Lambda

**Provide additional details e.g. code snippets**
I'm invoking a function locally using `amplify function invoke`. The lambda tries to get a secret from secrets manager. But I am getting an error like this:

`AccessDeniedException: User: arn:aws:iam::<redacted

[2020-02-18 19:37] nikopolidi commented on #382
Got same error as @WillDent `amplify add analytics` modifies auth category and fails to push

[2020-02-18 19:37] hisham commented on #3461
Ok I resolved this. It seems that amplify function invoke uses the default aws profile as specified in ~/.aws/credentials, and not the profile set for the amplify project via the amplify configure command.

So to me this seems like a bug. amplify function invoke should use the credentials specifieid in the amplify configure command, not the default in ~/.aws/credentials.

[2020-02-18 19:43] nagey commented on #2620
@yuth it looks like it's just skipping the elasticsearch piece of it, but does that disqualify using the entire stack from a mock perspective? is that slated for improvement?

even if that is the case though, I would suggest that the error `Ref is missing in resource VestingScheduleTable` is not super helpful — that table is searchable, but is that the error, or what?

[2020-02-18 19:50] nikopolidi commented on #382
after adding analytics I reverted changes CLI made to Auth category so `amplify status` shows only Analytics Created status, other resources No Change. Anyway I it's trying to update UserPool
[code]

[2020-02-18 19:58] MattWlodarski opened #3463 "Amplify Publish with the -c flag"
I am hosting an ionic/angular project with CloudFront. Whenever I run amplify publish -c , a new Invalidation request is sent to CloudFront, however, this does not actually invalidate the cache. I have determined that it is because the object path that gets auto-set by amplify is /*. If I manually create an invalidation request using an object path of * instead of /*, it works just fine.

Is it po

[2020-02-18 20:39] bahrmichael commented on #3187
That didn't work for me, as amplify push overwrote it back to nodejs8. Can you verify that this is not the case for others?

[2020-02-18 21:10] yuth commented on #2620
we could definately improve this and add support for all query/mutations except for the `search*` queries. Let me mark this as enhancement for mock

[2020-02-18 21:17] edwardfoyle commented on #3456
You should gitignore `amplify/backend/awscloudformation/nested-cloudformation-stack.yml` (which is ignored by default when running `amplify init`). As @kaustavghosh06 mentioned [here](https://github.com/aws-amplify/amplify-cli/issues/3034#issuecomment-569988489), you should include modified resource CFN files in your repo and can safely ignore diffs on the s3key.

[2020-02-18 21:40] dpandya opened #4311 "amplify plugin init NOT working as per the docs"
**Describe the bug**
The `amplify plugin init` command is not working as per the [documentation](https://aws-amplify.github.io/docs/cli-toolchain/plugins?sdk=js)

**To Reproduce**
Steps to reproduce the behavior:
1. Install `amplify-cli`
[code]
2. Create `my-plugin` dir
[code]
3. CD to `my-plugin` dir
[code]
4. Attempt to initialize the plugin
[code]
5. Type `my-plugin` for `What should be the nam

[2020-02-18 22:00] Ricardo1980 commented on #3443
Well, I tried to move the code of the 4 functions from boilerplate-XXXX.js to index.js and now it appears it is working, although I receive another error message:

`      - message : "CreateAuthChallenge failed with error User: arn:aws:sts::XXXX70713163:assumed-role/XXXXXestcd6454bdCreateAuthChallenge-dev/XXXXXtestcd6454bdCreateAuthChallenge-dev is not authorized to perform: SNS:Publish on resourc

[2020-02-18 22:01] Ricardo1980 commented on #3441
@ammarkarachi  I think the problem is in the structure created by amplify CLI.
Check my response here:
https://github.com/aws-amplify/amplify-cli/issues/3443

[2020-02-18 23:32] Ashish-Nanda opened #3465 "npx amplify-app@latest fails with 'Error: Cannot find module 'graphql'"
**Describe the bug**
When following the Amplify DataStore instructions, the `npx amplify-app@latest` step fails with:
'Error: Cannot find module 'graphql'

**Amplify CLI Version**
Same issue on 4.13.4 and 4.13.2

**To Reproduce**
1) Create a new react project:
[code]
2) Run the amplify-app command:
[code]
3) See the error:
[code]

**Expected behavior**
Command should run without errors

**Desktop

[2020-02-18 23:33] hisham commented on #3399
+1 for local mocking of API Gateway. I'm surprised this isn't supported yet by amplify mock. It would be nice to be able to run `api mock` and aws-exports.js which is consumed by our web app would automatically point to the localhost REST API rather than the cloud one.

I'm currently able to run the express server locally via amplify function invoke, but automatically changing aws-exports.js and h

[2020-02-18 23:44] kaustavghosh06 commented on #3465
@Ashish-Nanda What's the entire stack trace? At which step does this error occur? Does it get the Amplify CLI installation phase?

[2020-02-18 23:49] kaustavghosh06 commented on #3465
Checked with a few team-members and we aren't able to reproduce this on our systems. Could you delete your `/usr/local/lib/node_modules/amplify-app/` folder and run the command again?

[2020-02-18 23:57] ammarkarachi commented on #3465
I can reproduce it

[code]

[2020-02-19 00:03] kaustavghosh06 commented on #3465
@ammarkarachi Did you run this in an empty directory or in a react app?

[2020-02-19 00:05] ammarkarachi commented on #3465
React app

[2020-02-19 00:30] Ashish-Nanda commented on #3465
Updated the issue with the entire stack trace. It fails after the 'Creating base Amplify project' step.

Fails for me both in empty directory and react app.

Deleting `/usr/local/lib/node_modules/amplify-app/` and re-installing `amplify-app` doesnt work.

[2020-02-19 00:50] #3465 closed

[2020-02-19 01:04] BrittonWinterrose commented on #2210
@yuth I encountered this today while working on a proof of concept. Updated the schema with `@key` directive after running mock.

I expected this may be an issue. Ran `amplify remove api` && `amplify add api` hoping that it would fix the issue.

It didn't work, because `<project-root>/ amplify/mock-data/dynamodb/fake_us-fake-1.db`  is not deleted when `amplify remove api` is ran.

Should the `ampl

[2020-02-19 01:29] AshwiniRaysecur commented on #3411
I attempted to build the application again from scratch, and still getting the pagination error for Amplify version 4.13.3

The resolver generated 'Query.listSecurSamples.req.vtl' file:

#set( $limit = $util.defaultIfNull($context.args.limit, 10) )
#set( $ListRequest = {
  "version": "2017-02-28",
  "limit": $limit
} )
#if( $context.args.nextToken )
  #set( $ListRequest.nextToken = "$context.args.

[2020-02-19 01:31] kldeb commented on #2210
@BrittonWinterrose deleting the mock-data directory works for me.

[2020-02-19 01:34] kaustavghosh06 commented on #3411
Could you please try this out with 4.13.4? We fixed this in our latest version

[2020-02-19 02:05] apoorvmote commented on #3396
Today's release fixed it. Yesterday it was not working. But today its working.

[2020-02-19 02:10] apoorvmote commented on #3379
Working from today's release.

[2020-02-19 02:10] #3379 closed

[2020-02-19 02:13] aprilmintacpineda opened #3478 "Removing named connections graphql API"
**Describe the bug**

Removing named connections of models throws `Cannot perform more than one GSI creation or deletion in a single update`. Someone who hasn't experienced this would think that he/she needs to remove those one by one, but doing so will throw `Found one half of connection "<ModelName>" at <ModelName>.<field> but no related field on type <ModelName>`.

**To Reproduce**
Steps to rep

[2020-02-19 06:33] oliverandersencox opened #3467 "IOS rejection due to app redirect with Ionic"
I have commented on this before and had no useful answers, and this is really frustrating.

Amplify is supposed to support ionic however the social integration is not properly integrated.

My login code:

[code]

This takes the user off the app and opens in safari, the redirect then works, however as apple point out it is a horrible use experience as apposed to popping up an in app browser.

Apple

[2020-02-19 07:13] waltermvp opened #3475 "How to to update value for @key field"
I am unable to update the `status` field on my `Item` model.

The schema is as follows:

[code]
When I attempt to update the any of the @key fields (`status` or `chargeDate`) like so:

[code]

DynamoDB throws the following error :

[code]

The VTL is pretty complicated to debug. Can anyone point out if I'm using something incorrectly?

** Which Category is your question related to? **
E.g. Auth, P

[2020-02-19 08:04] Gl0ntz opened #3468 "Conditional Check for custom primary key"
**Is your feature request related to a problem? Please describe.**

I am not sure if this is a known thing. I searched for similar open issues haven't found any.
When I set a custom primary key for a model like this example :
[code]

When I run the auto generated CreateProject Mutation there is no conditional check for the primary key projectId. Instead it overwrites any existing items with the sa

[2020-02-19 09:00] gabehollombe-aws opened #3469 "Second @auth rule in GQL Transform overwrites VTL response template, removing owner auth checks"
**Describe the bug**
Using the GraphQL Transform @auth directive, when I use only `@auth( rules: [ {allow: owner} ]) ` then the VTL response template is properly generated to restrict items to the currently authenticated user. However when I have multiple like this:

[code]

then the VTL response mapping template for the ListFoo query (where Foo is my model type name) returns only:

[code]

**Ampl

[2020-02-19 11:11] RossWilliams commented on #3469
Auth rules grant access when any one rule authorises the action. Your private rule allows anyone with a JWT token from the user pool to access the data. JWT checking it done at the AppSync level, so the vtl resolver appears correct in this case, as owner auth is not needed to read the model.

With these two auth rules on your model, can you describe the authorisation you would expect to see in mor

[2020-02-19 14:12] mavenik commented on #2396
@tomrum I can confirm that I have observed similar behavior (I am using API Key for public auth and Cognito User Pools for group auth) and been receiving

**@auth directive with 'userPools' provider found, but the project has no Cognito User Pools authentication provider configured.** if I set default auth to API Key and add User Pools as an additional auth type with `amplify update api`

And

**@

[2020-02-19 14:20] chrisfowler commented on #3140
Am getting this same behaviour when trying to remove one of my environments. Has this bug been fixed? Am using 4.13.0 of CLI. Reluctant to proceed as do not want to delete all environments from the cloud.

[code]

[2020-02-19 14:36] ambriglia commented on #3456
Does this logic also apply to the s3Bucket name?

[2020-02-19 14:41] narayanncube commented on #3460
Duplicate of this
https://github.com/aws-amplify/amplify-cli/issues/3435

[2020-02-19 14:41] #3460 closed

[2020-02-19 16:30] nick-secur commented on #3411
@kaustavghosh06 Please note we  (i.e., myself and @AshwiniRaysecur )have tested publishing our app with version 4.13.4 and the issue seems to be resolved. Smoke tests show our app once again behaves as expected.

[2020-02-19 16:49] edwardfoyle commented on #3456
Yes the bucket name will change based on which environment was last pushed, but it won't break anything to include it in your repo. It will cause your lambdas to be updated on every push when switching environments even if there was no change to the lambda. If you want to avoid this you can exclude s3bucket and s3key diffs when merging between branches.

[2020-02-19 16:49] #3456 closed

[2020-02-19 17:06] kaustavghosh06 commented on #3140
@chrisfowler This was an issue with the wording of the message - not the functionality. The wording has has been fixed in the latest version of the CLI - 4.13.4

[2020-02-19 17:15] chrisfowler commented on #3140
@kaustavghosh06 Thank you for prompt response.

Was worth a checking. Would hate to be the one to delete `prod`

[2020-02-19 17:17] waltermvp opened #3470 "How to to update value for @key field"
**Which Category is your question related to?**
API

**Amplify CLI Version**
4.13

** What AWS Services are you utilizing? **
AWS AppSync + Lambda + DynamoDB

** Provide additional details e.g. code snippets **
E.g. Sample code, versions of Amplify you are using

I am unable to update the `status` field on my `Item` model.

The schema is as follows:

[code]
When I attempt to update the any of the

[2020-02-19 17:17] kaustavghosh06 commented on #3140
@chrisfowler Totally get it!

[2020-02-19 17:29] kaustavghosh06 commented on #3173
@andrewbtp Are you still stuck with this? I tried reproducing this but wasn't able to with the latest CLI version.

[2020-02-19 17:33] kaustavghosh06 commented on #3134
Closing due to lack of response. Please comment on this thread if you're stuck on this issue.

[2020-02-19 17:33] #3134 closed

[2020-02-19 17:44] sorokinvj commented on #1678
in theory!!!:)

[2020-02-19 17:46] kaustavghosh06 commented on #3187
@bahrmichael Amplify would write it back to Node 8 only if you have an older version of the CLI. From your last comment it looked like updating the latest version, fixed your issue?

[2020-02-19 17:54] amirmishani opened #3471 "Usage question about "has many" relationships"
**Which Category is your question related to?**
Amplify API - GraphQL

**Amplify CLI Version**
4.10.0

**Question:**
I'm using slightly modified code from the [documentation.](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#connection) I have two questions.

1. Is it ok to use the same keyName `byPost` in the Post model since the secondary index name is being set on Comment and Rat

[2020-02-19 18:04] ngnathan commented on #3430
Thanks @RossWilliams for the pointer.  I've started building out the pre token lambda.  Ideally, I'd like to run it through GraphQL APIs, since I already have the data available in there, but I get stuck on the circular dependency ( #1874 ).  So I'm researching workarounds, or I'll have the build out a separate table in DynamoDB, which is not ideal (as I'll need to manage two tables of organizatio

[2020-02-19 18:22] waltermvp commented on #3470
Seems you cannot update the sortKey value (which contains `status`)  https://stackoverflow.com/questions/56709500/dynamodb-update-an-attribute-used-as-sort-key

is there a pattern/step I'm missing here?

[2020-02-19 18:25] ambriglia commented on #3451
I have been removing a few environments over the past couple days and I am now seeing this consistently.

[2020-02-19 18:46] bahrmichael commented on #3187
@kaustavghosh06 yes

[2020-02-19 18:53] narayanncube commented on #2935
@riacoding - any success on this?

[2020-02-19 18:58] riacoding commented on #2935
They said it’s in the pipeline for getting fixed but there is no timeline
as of yet

On Wed, Feb 19, 2020 at 10:53 AM narayanncube <notifications@github.com>
wrote:

[2020-02-19 19:03] amcdnl commented on #1678
I just published this: https://github.com/getcrft/appsync-gateway ... might help someone here.

[2020-02-19 19:13] ppattewa commented on #156
Any updates on this ticket?

[2020-02-19 19:19] #3187 closed

[2020-02-19 19:20] kaustavghosh06 commented on #156
We're actively working on getting Python, Java, Go, .NET support for Lambda runtimes support out soon.

[2020-02-19 19:46] attilah opened #3473 "Update E2E tests and function builds to handle spawned process' exit codes properly as failure"
**Describe the bug**

During E2E test runs in CI launched child process exit code handling must be reviewed, and all other places where we're spawning processes. Make sure we're handling non-zero exit codes properly in tests and during normal runs like ```amplify push```, which implies a function build step, which can fail at ```npm install```.

[2020-02-19 19:48] kaustavghosh06 commented on #3473
The fix for this is merged?

[2020-02-19 19:49] yuth commented on #3473
No. this is the follow up task from the PR. We need to investigate this

[2020-02-19 19:51] benjamin79 opened #3474 "How to i tell Datastore to query appsync with a customerId? The Datastore.query only queries the local database."
How to i tell Datastore to query appsync with a customerId? The Datastore.query only queries the local database. I don´t want the whole Database on the client.

**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.13.4
**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
[code]

[code]

[code]
Anything wrong here? Where

[2020-02-19 20:23] ammarkarachi commented on #3440
@buixuanhai Can you open your code editor from the command line?

[2020-02-19 20:25] bob-lee commented on #1678
@sorokinvj if you make it clearer what your problem is, people here may help you.

[2020-02-19 20:26] ammarkarachi commented on #2808
Closing issue

[2020-02-19 20:26] #2808 closed

[2020-02-19 20:46] RossWilliams commented on #3468
@ammarkarachi enhancement? Seems like a bug that graphql-dynamodb-transformer functionality that fails to account for the primary key not always being 'id'. Its not documented for the user that changing the pk name comes at the cost of broken features.

[2020-02-19 21:01] waltermvp commented on #3475
Dupe of #3470

[2020-02-19 21:01] #3475 closed

[2020-02-19 21:02] waltermvp commented on #3470
#3475

[2020-02-19 21:03] RossWilliams commented on #3470
you can make the key a GSI by giving it a name, hash key and sort key on GSIs can be updated.

[2020-02-19 21:07] waltermvp commented on #3470
@RossWilliams due to my ignorance, can you please show me what that would look like in the schema using @key?

[2020-02-19 21:09] waltermvp commented on #3470
<img width="2052" alt="Screen Shot 2020-02-19 at 4 08 07 PM" src="https://user-images.githubusercontent.com/1158238/74876680-168c8700-5332-11ea-97da-2deffcd6fa2a.png">
The schema above does generate a GSI named ByStatus. I think there is something missing in my understanding of this.

[2020-02-19 21:24] ammarkarachi commented on #3459
@dimonchik-com what version of Amplify CLI are you using?

[2020-02-19 22:27] RossWilliams commented on #3470
your model has two @key directives. The first @key directive does not specify a name, so it is the key structure on the primary table. After inserting an item, the values of the keys on the primary table cannot be changed.

If you need to change the 'status' property, do not add it as a key on the primary table.

Looking at your key design, i think you are better off removing the first @key direct

[2020-02-19 22:45] waltermvp commented on #3470
@RossWilliams I knew I was misunderstanding something. Makes sense, ill give it a shot in a few and close the ticket. Thank you!

[2020-02-19 23:12] groundswel opened #3477 "Generate UI for CRUD operations"
Since amplify codegen is generating the resolvers and the corresponding queries locally it would also be great if it can be extended to generate basic listing and forms to support CURD operations on the data. If you can provide template react components to do this, I think it will be a great time saver for many developers. It does not need to cover all use cases but just be more of a starting poin

[2020-02-19 23:45] ammarkarachi commented on #3468
@RossWilliams you are right it should be treated as a bug

[2020-02-20 00:27] #3417 closed

[2020-02-20 01:41] danmight commented on #2458
FWIW, I am on 4.13.3 and just walked to the steps in amplify update auth and deselected my Post Authentication trigger then ran amplify push. It deleted the function from my IDE and in the console under lambda. It did throw an error during the push, but it was that it couldn't delete the IAM Role attached to that function because I had policies on it I created. I deleted the policies and then the

[2020-02-20 02:08] cc-bojan opened #3485 "GraphQLError request failed with status code 401"
**Which Category is your question related to?**
Auth / GraphQL

**What AWS Services are you utilizing?**
AWS AppSync

**Provide additional details e.g. code snippets**

In our ```schema.graphql```, we added ```@function``` directive to the field inside the ```Query``` type, in order to invoke our ```recoverUsername``` lambda function:

[code]
It works when I execute this query in the AWS AppSync c

[2020-02-20 02:18] gabehollombe-aws commented on #3469
Thanks for the reply @RossWilliams  -- I misunderstood how {allow: private} works and forgot to add `provider: iam` to my private auth rule to achieve what I intended (which was owner auth via cognito user pool, iam auth for a lambda granting read access).

[2020-02-20 02:18] #3469 closed

[2020-02-20 03:29] shhalumittal commented on #2739
I have similar issue and couldn't resolve this.

[2020-02-20 03:30] cyrfer commented on #3429
@SwaySway I am talking parity with types.

Right now a developer must hand-type all the `types` in the schema. If a developer wants to expose an existing data store with a defined schema, much care must be taken to type the schema exactly the same.

As a developer, I wish to expose the contents of a datastore via a new API I am writing. I would like to make sure the way I expose it models the data

[2020-02-20 04:32] juunone opened #3479 "Is amplify support multiple hosting?"
**Which Category is your question related to?**
Hosting

**Amplify CLI Version**
`3.17.0`

**What AWS Services are you utilizing?**
I want to add another hosting my repositories, but it's return error
`Error: Hosting is already fully enabled.`

e.g.
[code]
can i deploy multiple hosting my repositories?

so thank you for amplify team. it's getting me to comfortable to develop

[2020-02-20 04:45] apoorvmote opened #3480 "@auth directive with 'userPools' provider found, but the project has no Cognito User Pools authentication provider configured."
**Describe the bug**
In schema when I limit access to groups then I cannot generate datastore models and cannot push to the cloud

**Amplify CLI Version**
amplify 4.13.4

**To Reproduce**
`npx create-react-app notes --use-npm --template typescript`
`npx amplify-app@latest`
`amplify init`
`amplify add auth` everything default
`amplify update auth` to create cognito user group "admin"
then update gr

[2020-02-20 05:30] DanielMuller opened #3481 "Scoped filtering for unauthenticated users"
**Which Category is your question related to?**
Appsync

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
appsync, cognito

**Provide additional details e.g. code snippets**

Using a simple "blog app", registered users can create new posts. Anonymous users can read the posts.

I want to apply a default filter for anonymous users, so that they can't see not yet published pos

[2020-02-20 05:39] jkeys-ecg-nmsu commented on #1678
@sorokinvj make sure you are passing in the same set of fields for both mutation and subscription. I have been burned by subscriptions failing to fire consistently based on what the client passes in on the subscription request.

[2020-02-20 05:40] jkeys-ecg-nmsu commented on #1678
@bob-lee rules to live by when: time is money; goodwill is precious; and first come, first serve.

[2020-02-20 05:43] jkeys-ecg-nmsu commented on #1507
Hi @tomrum can you open a new issue to track this?

[2020-02-20 06:50] buixuanhai commented on #3440
@ammarkarachi Yes, I can.  I am using VSCode so I use `code file_name.js` to open the file.

[2020-02-20 06:51] waltermvp commented on #3445
"apifooGraphQLAPIIdOutput": "apifooGraphQLAPIIdOutput",
add this to the function-parameters.json for that lambda

[2020-02-20 07:16] gabehollombe-aws commented on #3445
Thanks. This works.  Is this documented somewhere?

[2020-02-20 07:23] narayanncube commented on #2935
Ok

Thanks for replying

[2020-02-20 07:56] waltermvp commented on #3376
Im getting this and am using cognito + IAM

[2020-02-20 08:02] waltermvp commented on #3376
Had the same issue no longer ocurring in 4.13.4

[2020-02-20 09:40] ricsirigu commented on #2189
I'm experiencing the same issue. Without dynamic groups subscriptions, It's useless for our use case

[2020-02-20 09:51] waltermvp commented on #3470
That was it thank you very much.

[2020-02-20 09:51] #3470 closed

[2020-02-20 09:55] sambwest commented on #2189
Same here

[2020-02-20 10:18] mikedizon commented on #2189
Same

[2020-02-20 11:40] steveparkerSG commented on #3446
@kaustavghosh06 using @auth on a custom mutation gives warnings about the auth affecting the root type. Everything else I've read says this doesn't work on custom mutations.

[2020-02-20 11:50] nagey commented on #3322
BTW, this also has the knock-on effect that it keeps trying to update and create the same resources over and over like groundhog day

[2020-02-20 11:54] nagey commented on #2620
@yuth — I would suggest, in this case, that the `search*` queries actually get left intact in the schemas, but the resolvers give a simple standard empty reply no matter what the query (or a reply that makes it clear that it isn't implemented in mock, or something. That way you can use the mock code without front-end implications, or really hopefully any implications on the generated code that goe

[2020-02-20 13:32] mikedizon commented on #2189
This seems like a very common use case. I can't understand why the appsync team doesn't want to implement it.

[2020-02-20 14:59] narayanncube commented on #1865
Yeah.

Any kind of app will require this unless the solution is for playground only

[2020-02-20 15:39] fireflysemantics opened #3483 "When importing Angular AmplifyService it introduces ERROR in Cannot read property 'length' of undefined"
Cross posting.  Is Amplify JS Still alive?
https://github.com/aws-amplify/amplify-js/issues/4920

[2020-02-20 16:51] korzewski commented on #1378
Today I had the same problem. How can I test my function without mocking temporary variables...
Here is what I did:

1. Create new **.env** file into `amplify/backend/function/[your_function]/src/.env`
[code]
2. On your terminal navigate to `function/[your_function]/src`
3. Install npm package - `npm install dotenv`
4. Add `require('dotenv').config()` into the **first line** of your function code

[2020-02-20 16:59] korzewski commented on #691
I've added a comment about local **.env** - maybe you will find it useful https://github.com/aws-amplify/amplify-cli/issues/1378#issuecomment-589179820

[2020-02-20 17:08] alexkates opened #3484 "Upgraded to 4.13.0 breaks graphql query/subscription/mutation generation"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Using amplify 4.13.0, `amplify mock` seems to cause subscriptions, queries and mutations to regenerate with invalid syntax. See the screenshots sections for details here.

**Amplify CLI Version**
4.13.0

**To Reproduce**
1. Upgraded the @aws-amplify/cli package from 4.12.0 to 4.13.0.

[2020-02-20 17:11] malcomm commented on #3411
I just upgraded to version 4.13.4 and things appear to be working for me as well. I'll keep folks posted if otherwise. Thanks!

[2020-02-20 17:52] alexkates commented on #3449
@ammarkarachi
[code]

[2020-02-20 18:09] kaustavghosh06 commented on #3484
@alexkates This change is a part of this PR - https://github.com/aws-amplify/amplify-cli/pull/2706
The added change is just for syntax highlighting. Did you check with your app and see if the queries/mutations/subscription are broken?

[2020-02-20 18:11] iwatakeshi commented on #1678
@amcdnl Ironically, I've done something similar just yesterday. :)
https://github.com/iwatakeshi/aws-lambda-appsync

[2020-02-20 18:23] alexkates commented on #3484
I did not. My local Amplify GraphiQL Explorer was not working, at which point I submitted this bug. The explorer is simply a blank page.

[2020-02-20 18:26] houmark commented on #1678
@amcdnl @iwatakeshi It seems you are not using the "official" recommended way.

If you add the correct `@aws_iam` on your queries/mutations (even the ones without a model) and `@auth` rules in models, and you give your Lambda function access to your AppSync GraphQL endpoint in Amplify, you can use `https` with `AWS.Signers.V4` from the official AWS SDK.

Example here: https://github.com/aws-amplif

[2020-02-20 18:27] kaustavghosh06 commented on #3484
Can you upgrade to @latest version of the CLI? We fixed a few UI errors in the mock UI in the latest version. Please let us know if you're still seeing a blannk page with v 4.13.4.

[2020-02-20 18:38] alexkates commented on #3484
Ok will do. I'll get to it today/early tomorrow. Thanks!

[2020-02-20 18:40] amcdnl commented on #1678
@houmark - My approach supports all ways and uses the signers under the hood. This is just a library to manage doing all that for you and making the graphql requests...

[2020-02-20 18:47] iwatakeshi commented on #1678
@houmark Awesome, thanks for the heads up. By official, are you referring to this [documentation](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda)?

I looked at @amcdnl 's library, and it basically wraps the boilerplate code described in the docs. Which if that's the better way to go then I might just use that then ;).

Just for context, I just started to get my fee

[2020-02-20 18:52] ricardoguim commented on #3421
@attilah It would be great to document this change as well at https://aws-amplify.github.io/docs/ the first thing I checked was the Node version but the setup was informing Node 8 as minimum version.

[2020-02-20 18:52] houmark commented on #1678
Yes, that documentation, but do note they have a bug in the  `result.on('data', (data) => {` — data may come in chunks, so if the result is too large, it can resolve too early, breaking any subscription as it will send an invalid payload. It should collect and resolve `on('end')`.

[2020-02-20 18:56] kaustavghosh06 commented on #3483
@fireflysemantics Yes, it's very much alive and I've informed the team to take a look at your request.
We look at GitHub issues at first come first serve basis and the team will review the request accordingly.