[2019-12-13 16:12] hisham commented on #248
I just tested it like so:

[code]

Running `amplify api gql-compile` returns:

`TypeError: rules is not iterable`

So at least now it shows error. Whether you want to support the case of one rule that is not iterative is up to you. It would be syntactic sugar at this point so I"d classify this request now as an enhancement not a bug.

[2019-12-13 16:19] attilah commented on #2703
@nujhong could you please send us these to amplify-cli@amazon.com:
- graphql schema
- amplify-meta.json
- built cloudformation file for the API: cloudformation-template.json

[2019-12-13 16:55] kldeb opened #2990 "Amplify mock ignore .eslintrc file"
**Is your feature request related to a problem? Please describe.**
I placed and .eslintrc file in `amplify/backend/function` to customize the errors for node. `amplify mock` is trying to parse this file.

**Describe the solution you'd like**
ignore .eslintrc files

**Describe alternatives you've considered**
moving the file into the dir with each function.

**Additional context**
error message:
[c

[2019-12-13 17:02] attilah commented on #2682
It is not a bug, this is how many-to-many is working. If you look at the compiled schema your create mutation type looks like this:

[code]

It does not have ```authors```. The connecting type must be handled separately and enforced from higher level.

If you like to enforce it at the GraphQL schema level, then you can have a custom mutation which accepts the input type as you said and use a custo

[2019-12-13 17:02] #2682 closed

[2019-12-13 17:07] attilah commented on #2645
@chadkouse under multiple nesting I meant root-nested-nested structure, like a wrapper stack over others. I'm closing the issue as the other part of the question was answered by @ambientlight

[2019-12-13 17:07] #2645 closed

[2019-12-13 17:12] attilah commented on #2170
@blairtaylor I tried to reproduce it with the latest version of the CLI and it worked. Would you give it a try and get back to us?

[2019-12-13 17:38] wizage opened #2991 "Provide a helper to allow 3rd party plugins to add to the exports file"
**Is your feature request related to a problem? Please describe.**
Currently today the frontend plugins hard code support for what values are imported and appending to the file can be dangerous as you don't know when the generation can happen.

**Describe the solution you'd like**
Provide either a new field in the `amplify-plugin.json` that includes if you want to export to the exports folder or n

[2019-12-13 17:46] wizage opened #2992 "Provide a context function for asking questions"
**Is your feature request related to a problem? Please describe.**
Currently today inquirer is used to ask questions to users through the CLI. It would be nice, instead of importing inquirer into all the files you add as a function the context. What this would provide is a way to capture questions coming in and provide an escape mechanism to potentially provide an easier way to potentially make a

[2019-12-13 18:44] NTonani opened #2993 "Setting up Cognito infrastructure - to use Amplify or not to use"
_**Create Cognito infra through Amplify or separately create and manage CF templates?**_

I understand Amplify provides a way to setup and deploy a User Pool through the CLI, but it seems to create a soft dependency between the app in which Amplify is being used for and the backend infra (the CF templates are created in the frontend app dir, changes must be made through it).

We have an immediate

[2019-12-13 19:23] ammarkarachi commented on #2737
@NeillGiraldo We don't support IAM for mock. The reason is the resolution for IAM happens in the cloud and we can't simulate that on local for mock. Let me know if you have any other questions.

[2019-12-13 21:15] bboure opened #2994 "aws-appsync-codegen is deprecated"
[aws-appsync-codegen](https://github.com/amazon-archives/aws-appsync-codegen) is deprecated, but `amplify-codegen` [still shows it in its dependencies](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-codegen/package.json#L20)

[2019-12-13 21:29] aireater commented on #2810
I'm generating javascript code.

here's the relevant parts of the schema:

[code]

and here's the code generated:

[code]

[2019-12-13 21:49] matwerber1 commented on #1366
+1 - would like easy way to print the environment name on a banner on top of UI .

[2019-12-14 00:12] AdanJSuarez opened #2995 "Amplify/Auth "Not Supported" (Typescript-Nodejs)"
Related to Auth, Cognito.
I'm trying to connect my backend (typescript-nodejs) with the user pool. I had the project done before I `amplify init` in the root folder (I don't know if this detail is relevant or not). I followed all steps of the video-instruction.

I included `Amplify.configure(awsexports)` in my main module (the entry point for the project)

I had to do two hacks to make it built:
1

[2019-12-14 00:20] eacp opened #2996 "Wrong content type for CSS files"
**Describe the bug**
I deployed a static site and when I load it the browser does not load the css because the content type is not "text/css"

**Amplify CLI Version**
I'm not using the CLI I just followed the instructions to deploy using CI from github.

**To Reproduce**
IDK how to I just know I have some CSS files in the generated directory from HUGO and they are served as octet stream.

You can

[2019-12-14 01:00] SwaySway commented on #2390
Closing this as the pr has been merged feel free to comment on here if you run into this issue again.

[2019-12-14 01:00] #2390 closed

[2019-12-14 01:00] joebri commented on #1337
@yuth
```Amplify CLI runs npm install command on the src directory```
Maybe this is obvious to folks but I, for one, had completely missed this possibility (and don't recall seeing it in any documentation). Just this one line is going to save me all sorts of headaches! Thank you!

[2019-12-14 01:01] SwaySway commented on #2996
@eacp Did you use Amplify Console?

[2019-12-14 01:03] eacp commented on #2996
Hello @SwaySway I actually deployed from github a hugo site. The site deploys correctly but the CSS is being served in a wrong way

[2019-12-14 01:07] SwaySway commented on #2996
Could you please link the instructions you followed?

[2019-12-14 01:18] eacp commented on #2996
https://gohugo.io/hosting-and-deployment/hosting-on-aws-amplify/

[2019-12-14 04:03] dantasfiles opened #2997 "Deleting and reinitializing amplify with authentication leads to stale values in aws-exports.js"
**Describe the bug**
Deleting and reinitializing amplify with authentication leads to stale values in `aws-exports.js`

**Amplify CLI Version**
4.6.0

**To Reproduce**
- Run `npx react-native init AddAuth`
- Run `amplify init`
- Run `amplify add auth`
- Run `amplify push`
- This writes the correct values for `aws_cognito_identity_pool_id` and `aws_user_pools_id` to `aws-exports.js`
- Run `amplify

[2019-12-14 08:35] oahmaro opened #2998 "How to manually delete amplify env, after deleting its cloud-formation root stack?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Amplify CLI

**Amplify CLI Version**

You can use `amplify -v` to check the amplify CLI version on your system
4.4.0

**What AWS Services are you utilizing?**
Amplify env

**Provide additional details e.g. code snippets**
I have two environments that I

[2019-12-14 10:25] yuyokk opened #2999 "Update Node runtime to "nodejs10.x""
Team,

Got the following email from AWS

Will you please update Node runtime to v10 for amplify project resources by default?

Thanks

[2019-12-14 10:50] yuyokk commented on #2999
Also question - how to update runtime for the following lambdas

![Screenshot 2019-12-14 11 48 31](https://user-images.githubusercontent.com/1225343/70847705-c1328600-1e67-11ea-89e4-86c31a64dca1.png)

I updated all runtimes to "node10.x" locally for the project, pushed changes but these lambdas still use 8.

[2019-12-14 10:51] tgjorgoski commented on #2512
@yuth , I was trying to use this, and I also found this part of the documentation:

https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#filter-subscriptions-by-model-fields-andor-relations

There is one difference here, in your example  int the schema you use:
[code]
 , and you don't introduce the redundant field `messageGroupId` before using it in the subscription.
On another hand , i

[2019-12-14 11:51] LpmRaven commented on #300
I think I have found the right issue. I am trying to query my products, filtered by categories and subCategories. My products can have multiple categories and multiple subCategories. With my current schema below I cannot query my products and filter by categories or subcategories. The filters don't exist.

I tried to add a "categorieIds" and "subCategorieIds" to the product type but "All fields pr

[2019-12-14 14:13] geoseong opened #3000 "amplify configure: "aws_access_key_id" and "aws_secret_access_key" have replaced to `true` and name of my profile wrapped with doublequote"
**Describe the bug**
I have several profiles in `.aws/credentials`.
after I use cli `amplify configure` and create a new IAM user,
some of my existed profile's **aws_access_key_id** and **aws_secret_access_key** have replaced to `true`
and also wrapped with doublequote except IAM user which is newly created
I attached this situation in `Screenshots` section

**Amplify CLI Version**
4.6.0

**To Rep

[2019-12-14 14:30] gaochenyue commented on #1789
Any update?

[2019-12-14 16:07] rudyhadoux opened #3001 "Multiple auth failed"
Hi,

I want to use an Amplify API with both API_KEY and a Cognito User Pool for a schema example like this :

type Notes @aws_api_key @aws_cognito_user_pools{
 userid: ID!
 noteid: ID!
 note: String
 email: String @aws_cognito_user_pools
}

I added Cognito User Pool provider in the AWS AppSync Console and 'Amplify pull' in my local but I had this message after : “@auth directive with ‘userPools’ p

[2019-12-14 22:28] mdebo commented on #2701
Hello @oliverandersencox  thank you for the tips, doing like you i get this error when trying to push:

Template format error: Unresolved resource dependencies [UnauthRoleName] in the Resources block of the template. Do you have any idea on how to resolve it?

Thank you!

[2019-12-15 07:54] sacrampton commented on #2988
I have the same issue - my use case is for geolocations (lat/lon) that are passed to ElasticSearch as a geopoint for geospatial queries. Without this being fixed we can't move forward.

[2019-12-15 13:45] #3001 closed

[2019-12-15 17:30] fregadev opened #3009 "Does de @versioned directive keep old versions?"
** Which Category is your question related to? **
API (GraphQL)

** What AWS Services are you utilizing? **
AWS AppSync

** Provide additional details e.g. code snippets **
I was under the impression that using @versioned would keep the old versions, but I can't seem to find a way to access those old versions. So now I am assuming it simply controls version "clashing". If so, what is the recommend

[2019-12-15 17:59] alex-dixon opened #3008 "Failed to construct 'WebSocket' when using amplify mock over http"
Copied from an [upstream amplify-cli issue](https://github.com/aws-amplify/amplify-cli/issues/2935) as reported by @riacoding:

The error appears to happen because `new Websocket` is called with a string that starts with `http://` instead of the required `ws://` or `wss://`.

`https://` is replaced with `wss://` [here](https://github.com/aws-amplify/amplify-js/blob/7bd8843ad3c71c34c4f40684cd3c9869

[2019-12-15 19:18] dabit3 commented on #2303
Running into this issue as well, but with S3 and Lambda. The workflow looks like this:

1. Create storage with Amazon S3 and enable and add a Lambda trigger
2. Would like to give permission to Lambda to write to S3, so we update the Lambda:

[code]

Output:

[code]

cc @kaustavghosh06

[2019-12-15 19:19] kaustavghosh06 commented on #2303
@dabit3 The Lambda trigger should already have the permissions to read write to the S3 bucket. So you don’t need to explicitly run ‘amplify update function’

[2019-12-15 19:19] dabit3 commented on #2303
Ah interesting, from my initial test it dit not. Will give it another shot and report back.

[2019-12-15 19:58] matwerber1 commented on #1393
+1

[2019-12-15 20:32] sacrampton commented on #2944
My case has Geolocation that is passed to ElasticSearch as a Geopoint - so without support for this then any geospatial applications are unsupported.

`type Geolocation
{
  lat: Float
  lon: Float
}`

[2019-12-15 21:58] dabit3 commented on #2303
Based on my testing, the issue actually has to do with this flow only:

1. Create storage
2. Add a new function separately. In the following steps, allow the function to have access to storage create, read, update, delete (this seems like a logical thing to do)
3. When I update storage to add a trigger, I get a `cyclic dependency` error

This is probably not a high priority error since most people

[2019-12-15 22:00] matwerber1 commented on #987
Hi. Thanks for feedback above. If it helps anyone, I summarized the recommendations above in this project:

https://github.com/matwerber1/aws-amplify-subscribe-lambda-to-dynamodb-api-table-stream/

[2019-12-15 23:35] c0dingarchit3ct opened #3002 "Overwriting existing resolvers does not work"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Either this is a bug or better documentation on how to overwrite resolvers
**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.5.0

**What AWS Services are you utilizing?**
Auth & API & Lambda

**Provide

[2019-12-16 03:10] LpmRaven opened #3003 "Filter on a Many-To-Many Connections"
Is it possible to filter on a many-to-many connection type?

I am trying to query my products, filtered by categories and subCategories. My products can have multiple categories and multiple subCategories. With my current schema below I cannot query my products and filter by categories or subcategories. The filters don't exist.

I tried to add a "categorieIds" and "subCategorieIds" to the product

[2019-12-16 09:01] toka756 opened #3004 "Attach amplify app's analytics to existing pinpoint project."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)
First Created a pinpoint project in pinpoint console.
Then I want to add analytics features.
So I create an amplify app by CLI like follows:
    amplify init
    amplify add analytics
    amplify push

The amplify app's analytics will create and link to a new pinpoint project.
Is there a way that cou

[2019-12-16 09:37] mochfamir commented on #2988
+1

[2019-12-16 09:38] foxfl commented on #2976
One workaround could be to create an additional package.json in the root folder of your function (above /src) which only holds your dev dependencies and also to add your test files to the root folder, as the deployment package is built upon the /src folder

[2019-12-16 10:15] BardiaN commented on #2976
Hey @foxfl,
Thank you for your comment. It seems like a good solution to me. I'll try it and post the result in this issue.

[2019-12-16 11:36] BardiaN commented on #2976
Worked like a charm for me. I'm gonna close this issue. Thanks again @foxfl

[2019-12-16 11:36] #2976 closed

[2019-12-16 17:14] nagey commented on #2620
@kaustavghosh06 — just sent an email with a copy of the `amplify` folder to that address. Thanks in advance!

[2019-12-16 18:23] nikhname commented on #2950
Hi @vitaliyzolotoy could you provide more detailed steps for reproducing this?

[2019-12-16 18:49] attilah commented on #2639
@aprilmintacpineda could you please retry this, as I was getting back to this issue and works as you expect, perhaps it was fixed in the AppSync Service DataSource side. I asked the team and awaiting an answer.

[2019-12-16 18:51] attilah commented on #2688
Closing the issue as the fix is released.

[2019-12-16 18:51] #2688 closed

[2019-12-16 19:52] Soek22 opened #3005 "How does API + Datastore play on the same project?"
`QUESTION`
**Which Category is your question related to?**
API, Datastore.

**Which Products is your question related to?**
AppSync, AppSync's Conflict Detection , AppSync's `Sync` DynamoDB operation.

Hello,
This is an opinionated framework with 'ready to go' use cases, but I am using it because until now I could go custom as well, and I get tons of benefits from it.

I am amazed with Datastore a

[2019-12-16 19:55] Soek22 commented on #3002
Hello, it sounds like you are missing the "Add a resolver resource to a stack in the stacks/ directory."

I have followed this example and it is working fine for me:
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model

[2019-12-16 19:58] Soek22 commented on #3002
Well, not sure if that step is necessary only for "added" resolvers, or is it also needed for overwritten ones.

[2019-12-16 20:20] sacrampton opened #3006 "Geolocation not supported in DataStore"
**Is your feature request related to a problem? Please describe.**

The AWS instructions for a geolocation solution do not support DataStore because the type Location does not (and should not) have an @model
(https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#add-a-custom-geolocation-search-resolver-that-targets-an-elasticsearch-domain-created-by-searchable)

**Describe the solution y

[2019-12-16 21:28] sammartinez opened #3007 "SMS text message is configured even with only selecting TOTP via Amplify CLI"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
In configuring TOTP via the CLI, found that even after setting MFA to only TOTP, SMS is still configured.

**Amplify CLI Version**
v4.5.0

**To Reproduce**
Manual setup configuration via terminal

**Expected behavior**
Only TOTP would be set up

**Screenshots**
CLI configuration
![to

[2019-12-16 21:31] sammartinez commented on #3007
Current workaround for this is to configure a User Pool manually in order to test a workflow.

[2019-12-16 22:39] yuth commented on #3004
Amplify CLI does not support adding an existing analytics project. But you can use the existing Pinpoint resources as described in our [docsite](https://aws-amplify.github.io/docs/js/analytics#manual-setup)

[2019-12-16 22:52] yuth commented on #2997
Amplify CLI does not overwrite existing values if `aws-export.js` and it is not deleteing `aws-export.js` file after running `amplify delete`.

I am marking this as a bug

[2019-12-16 23:09] anticlockwise commented on #2792
+1 to @djheru . In addition, Amplify allows multiple environments, for each of which there is a separate cognito user pool created. The whole point of aws-exports.js generated during build time was for it to figure out what parameters to configure Amplify with. If we cannot figure out what redirectURI to use per environment during build time, that kinda defeats the purpose of this aws-exports.js b

[2019-12-16 23:09] yuth commented on #3000
@geoseong I could not reproduce this. Could you share the name of the profiles you had before running `amplify configure`

[2019-12-16 23:14] nikhname commented on #2928
Hi @emanuelherrmann I was unable to reproduce this using the same bucket name and a 10 character env name. What was BucketName in your amplify-meta file?

[2019-12-16 23:17] yuth commented on #2998
@oahmaro amplify maintains information about the environments in a `<proj-root>/amplify/team-provider-info.json` file. Here you should see a list of environments and the resource details for this environment. If you have removed the root stack `dev` and `test` from this file, these environment should not be shown when you run `amplify env list`. Please make sure you're not currently in `dev` or `t

[2019-12-16 23:17] #2998 closed

[2019-12-16 23:19] yuth commented on #3007
We use custom resource backed with lambda to provision TOTP and the lambda seem to fail if we don't SMS with the following error
[code]

[2019-12-16 23:36] emanuelherrmann commented on #2928
Hi @nikhname
I did had the bucket name in the amplify-meta.json

I think it has to do with the fact that is using the 4th element of the stack name split for the bucket name.

I think the issue happened because I created the project and the production environment with an older version of the cli.

Then i added a new environment because I wanted to do a lot of changes I was using version 4.5.0 of t

[2019-12-16 23:41] yuth commented on #3002
Transformer has a way to specify custom claims (`identityClaim` and `groupClaim`) as documented [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-claims), if you just need to insert that value into the the DynamoDB table. This would keep all the auth rules you have in sync where as custom resolvers, you would make sure the auth logic gets updated when the `@auth` rules are upd

[2019-12-16 23:41] sammartinez commented on #3007
Gotcha @yuth, I mean my workaround is to manually configure a User Pool along with an Identity pool but seems as though the CLI is providing a false assumption by stating that I am only configuring TOTP and getting SMS by default.

[2019-12-16 23:44] yuth commented on #3008
Amplify Mock has only support  MQTT for subscriptions. We have a backlog item to add support for websockets

[2019-12-16 23:46] c0dingarchit3ct commented on #3002
That is pretty cool but won't work with me, I am doing multi-tenancy so inserting in each record a 'tenant' field that I get from the group, which gets injected from the user custom attributes, the queries will filter against that field later.

[2019-12-16 23:47] c0dingarchit3ct commented on #3002
Nobody is 'sure', that is my definition of 'needs documentation'!

[2019-12-16 23:51] c0dingarchit3ct commented on #3002
That document is as clear as mud, what is the `ApiId.ref' ? how is that related to the parameters on the top section of the _CustomResources.json_
Do we have any examples of that? and as you said in your other document is there any documentation of this? each error takes between 10 to 12 minutes with messages that are very cryptic like this

![Fullscreen_2019-12-16__6_50_PM](https://user-images.gi

[2019-12-17 00:03] hisham opened #3010 "What is the difference between `amplify codegen` and `amplify api gql-compile`?"
**Which Category is your question related to?**
GraphQL / API

**Amplify CLI Version**
4.6.0

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**

Is `amplify codegen` a new command? I can swear I was using `amplify api gql-compile` to generate local strongly typed models, but now `amplify codegen` does this? What is the difference between these two

[2019-12-17 00:24] yuth commented on #3010
No this command has been around from the day we released Amplify CLI

`amplify api gql-compile` compiles the graphql schema and generates resolvers and cloud formation templates based on the transfomer directives that are present in the schema. This is used for deployment to cloud. Where as codegen generates GraphQL statements and types/classes that are used by the frontend.

Feel free to comment/

[2019-12-17 00:24] #3010 closed

[2019-12-17 00:29] yuth commented on #3009
@versioned directive does is meant for preventing overwritting the record with older version. When a update happens, the mutation requires the version number of the data the client is updating. If the version number is older then what the database has, then the update is rejected.

There isn't an official recommendation for mainlining the version history

[2019-12-17 00:46] yuth commented on #2781
GraphQL transformer supports [field level auth](https://aws-amplify.github.io/docs/cli-toolchain/graphql#field-level-authorization). If you rely on subscription on your user type, the behavior changes when you add field level auth. This is documented [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#field-level-authorization)

[2019-12-17 00:46] #2781 closed

[2019-12-17 00:49] Soek22 commented on #3002
Hello @c0dingarchit3ct,

 `AppSyncApiId` leave it as is. That string is auto replaced when pushing to backend.

Replace with your data:

- Resolver name right after the opening `“Resources”: {` and before the “type”.
- DataSourceName value
- TypeName value
- FieldName value
- Request and Response MappingTemplateS3Location path value according to your Type/Field name.

Add as many resolvers as you

[2019-12-17 01:19] #2994 closed

[2019-12-17 01:36] toka756 commented on #3004
Thanks for your reply. The doc link shows a way to do this with javascript.
I want to find how to do the manual setup for iOS or android apps.
Are there some docs about the manual setup for iOS or android ?

[2019-12-17 01:48] RubberDuckDestroyer opened #3012 "Add existing resources to amplify project"
**Which Category is your question related to?**
Amplify AppSync API/DynamoDB/Cognito

**Amplify CLI Version**
4.2.0

**What AWS Services are you utilizing?**
AWS Amplify, AppSync, DynamoDB, Cognito

I am fairly new to Amplify, I have a local Vue project and a previously created DynamoDB table and a Cognito user pool in AWS.

1. I want to connect my table to the local amplify app backend so that I

[2019-12-17 02:05] CyanCode commented on #1450
I'm having the same issue, @ph0ph0, I've tried all the suggestions as well with no success. Did you ever end up finding a fix?

[2019-12-17 02:26] c0dingarchit3ct commented on #3002
That was very precise, I have finally concluded that this was 'CloudFormation' so I went to gain more information and came to the same conclusion.
Good news: I gained some cloudformation knowledge and spent some time looking at the Amplify generated stack
Bad news, I am in the 'Only one resolver is allowed per field'?

I tried to delete the resolver in AWS, that didn't work
I even tried to create

[2019-12-17 02:27] melodymorgan commented on #979
Is there any movement on this? The limitation is a real bummer.

[2019-12-17 02:32] c0dingarchit3ct commented on #682
I am facing the same issue and not sure how any of these solutions apply to me?

I am not trying to replace resolvers, I am trying to override the autogenerated resolver?

How in heaven do I keep getting this error?

![amplify_push_and_CustomResources_json_—_react-sem](https://user-images.githubusercontent.com/13644773/70959902-71141900-204b-11ea-8b8a-7cf2e8429115.png)

I am hoping @mikeparisstuff

[2019-12-17 03:04] alireza8101 commented on #2376
The problem still exists. Amplify CLI  4.6.0

[2019-12-17 06:34] aprilmintacpineda commented on #2639
Will get back to you. Thanks @attilah 🙇

[2019-12-17 06:43] artyom-melnikov opened #3013 "Allow to remove current env"
When i try to execute `amplify env remove <ENV_NAME>` i get this message

[code]

This makes no sense. Our team uses amplify and we need to create new envs a lot (like every day - after merges with main branch etc). And of course we need to remove envs after we are done with task. With this restriction, we are forced to clean up resources manually

[2019-12-17 07:08] oahmaro commented on #2998
I have deleted the env and list env from team-provider-info.json while I am on a different env. but when I try to recreate let's say test env I get the following error: `Note: It is recommended to run this command from the root of your app directory
? Do you want to use an existing environment? No
? Enter a name for the environment test
Using default provider  awscloudformation
init failed
TypeErr

[2019-12-17 07:28] oahmaro commented on #2998
I have deleted the env from local-aws-info.json, and now when I try to create a new env called test it actually works but now it creates a duplicate project with the same name as the original project on amplify console. it doesn't add to the existing project.

[2019-12-17 08:12] SebSchwartz commented on #2880
@UnleashedMind Still the issue in 4.6.0. Our CI/CD is still not building and our customer is not very happy with that :(

[2019-12-17 08:20] oliverandersencox opened #3014 "Ionic IOS rejected by app store"
I went to push my application apple yesterday and it was rejected due to the way Amplify handles authentication of social providers:

We recommend implementing the Safari View Controller API to display web content within your app. The Safari View Controller allows the display of a URL and inspection of the certificate from an embedded browser in an app so that customers can verify the webpage URL

[2019-12-17 08:50] oahmaro commented on #2998
I have managed to solve this by using the same amplifyAppId the amplify console had. and use it on a file called team-provider-info.json. i am not sure if i should edit this file manually but it solved it for me.

[2019-12-17 10:03] henrysachs commented on #2977
I don't want to rush it but how is this going further? Do i need to provide more info? How can I help you? :)

[2019-12-17 13:22] odiaseo commented on #1865
Can anyone just give an example of how to get the the total hits from elastic search?

[2019-12-17 14:44] alexkates commented on #996
+1

[2019-12-17 16:10] aireater opened #3015 "Access parameter store from lambda function - invoking on client"
**Which Category is your question related to?**
function

**Amplify CLI Version**
4.5.0

**Provide additional details e.g. code snippets**
I'm storing 3rd party api keys in parameter store that lambda needs to access. Works fine on server but I would like to test the function on the client. I get an error "Missing credentials in config". How can I access the Parameter store while testing locally?

[2019-12-17 17:16] attilah commented on #2703
Reopening as it turned out that certain region names could cause problems with policy size calculations as the additional overhead used for calculation was small.

[2019-12-17 17:41] BardiaN opened #3019 "Backend deployments Throttling: Rate exceeded"
This issue has happened before and also solved before like in aws-amplify/amplify-console#88
So again the same story, all resources could be pushed via `amplify push` on my local system without a single issue, but build pipeline fails to build it with the error below:
                                 # Starting phase: build
                                 # Executing command: amplifyPush --simple

[2019-12-17 18:31] nikhname commented on #2928
@emanuelherrmann could you explain the way you merged your new environment into the prod environment?

[2019-12-17 18:50] #2703 closed

[2019-12-17 19:19] elorzafe commented on #3014
duplicated from https://github.com/aws-amplify/amplify-js/issues/4585 we will look into this on Amplify JS repo

[2019-12-17 19:19] #3014 closed

[2019-12-17 19:49] SwaySway commented on #248
Closing this issue.
Should there be more interest in adding single rules not in a list we can open a enhancement for that.

[2019-12-17 19:49] #248 closed

[2019-12-17 20:10] yuth commented on #3013
This is similar to how git behaves. You won't be allowed to delete the current branch you're in.

You don't have to remove the environment manually. The only restriction when removing environment is that, it should not be active environment that is checked out. You could switch to a different environment and then remove it
[code]

Please feel free to comment here if this does not solve the issue

[2019-12-17 20:10] #3013 closed

[2019-12-17 20:12] SwaySway commented on #2822
Hello @aprilmintacpineda I tried replicating this issue it seems that it returns a blank as it seems the values between the two floats are roughly close to each other. This seems to be related with how elasticsearch handles floats.

- [ES Issue noted before where floating points have been known to loose precision](https://discuss.elastic.co/t/getting-max-value-of-a-long-field-without-losing-precis

[2019-12-17 20:48] emanuelherrmann commented on #2928
Hi @nikhname  below is a summary of the steps I followed

1. I started on my production branch and environment (which was created with an older version of the CLI)
2. I created a new branch I called amplify env add to create a new env
3.  I created the bucket and implemented my feature
4. After my feature was tested I switched the git branch to production
5. Merged from new branch to production
7.

[2019-12-17 21:12] CodySwannGT opened #3018 "Multiple Auth question"
**Which Category is your question related to?**

Auth

**Amplify CLI Version**

4.6.0

**What AWS Services are you utilizing?**

App Sync

So I was reading about [Supporting backend and internal processes with AWS AppSync multiple authorization types]https://aws.amazon.com/blogs/mobile/supporting-backend-and-internal-processes-with-aws-appsync-multiple-authorization-types/)

And this seems like wh

[2019-12-17 21:14] attilah commented on #2702
I was looking into the issue and it is not that straightforward to determine if something was deployed or newly introduced, etc, so making the LSI, GSI choice cannot be made implicitly based on that fact alone. The team will discuss the best approach to address this problem area.

[2019-12-17 21:39] attilah commented on #3018
@CodySwannGT To support your scenario you can put ```@aws_iam``` on the type and on the related queries, mutations, and create the appropriate policies for your custom role. Another thing about IAM based access is that if you create Lambda function in the project then you can choose to access the API resource from that function and then you can attach/update/modify the policies as needed for the L

[2019-12-17 21:39] #3018 closed

[2019-12-17 21:52] yuth commented on #3012
Amplify CLI does not allow you to reuse existing DynamoDB table as graphql-transformer creates and update these tables based on your GraphQL schema.

When using Amplify CLI graphql-transformer it is not possible to connect to previously created table

`amplify codegen` command generates only the code needed for your applications front end and it would download the resolvers and you won't be able c

[2019-12-17 21:52] #3012 closed

[2019-12-17 21:58] Soek22 commented on #2702
Thank you very much @attilah. It’s not critical, as can be easily achieved through the aws web interface once the backend is deployed. But I thought it was good to point it out, as it is basic index configuration valid for plenty of use cases.

[2019-12-17 22:25] RubberDuckDestroyer commented on #3012
Alright, thank you for the response and the explanation for `amplify codegen`, I understand it better now. 👍

I had another question, can I connect my backend to an existing AppSync API so I can change the schema of it's database and push locally instead of using the AWS Console to do the same?

I was going through my local API that was created by the AppSync console, and I see a `CustomResources.

[2019-12-18 00:05] yuth commented on #3015
By client do you mean running [`amplify mock function <function-name>`](https://aws-amplify.github.io/docs/cli-toolchain/usage#function-mocking-setup)? If thats the case, we don't have support for mocking Parameter Store.

[2019-12-18 00:29] houmark commented on #1865
You can't get totals from Elasticsearch, Amplify/AppSync strips that information as the `@auth` directive can be filtering the final result of items if the user does not have access.

Effectively, at this time, there's no out of the box way to get even close to a precise count of a query result.

[2019-12-18 00:55] houmark commented on #2972
@kaustavghosh06 @UnleashedMind

I'd like clarification on two very basic questions (this does not seem to be documented):

1) Can an Amplify Console app be safely deleted in the UI without any Amplify resources being torn down?

2) Is the recently introduced `AmplifyAppId` consistent between environments or will there be a unique ID per environment (in the same project of course)?

I'm halfway in

[2019-12-18 01:00] UnleashedMind commented on #2999
@yuyokk
We are in the process of updating the nodejs versions in lambda backed custom resources.

[2019-12-18 01:25] chadkouse commented on #2880
Same here

[2019-12-18 01:37] grigull commented on #1874
Alternatively you can search through the cloudformation-template and delete all references to the the post confirmation trigger. I am having the same issue, where i am unable to add access to my graphql api in the post confirmation trigger, the same circular reference occurs.

[2019-12-18 02:04] chadkouse commented on #2880
@SebSchwartz fwiw I got this working by installing `aws-amplify/cli` globally and running it that way.  But I also did not have the plugins you have listed when I checked.

[2019-12-18 03:24] youjinp opened #3021 "Pass input to `amplify pull`"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Amplify

**Amplify CLI Version**
4.6.0

**Question**
Is there a way to pass input to the command `amplify pull`?

Currently it asks a bunch of questions when called:

[code]

My goal is to automate changing the backend env, and it doesn't seem like `am

[2019-12-18 04:40] geoseong commented on #3000
@yuth
name of the profiles is in `Screenshots` section posted above here.
I haven't backed up my `credentials` file so I recovered and tried to reproduce this issue, that problem haven't occured...
it is weird... can you provide code path which handle aws profile in amplify-cli?

[2019-12-18 05:00] sakhmedbayev opened #3022 "Add support of gatsby's gatsby-source-graphql plugin fieldName"
**Is your feature request related to a problem? Please describe.**

Gatsby requires to include `fieldName` for any custom graphql endpoint in the following name:

[code]
this makes amplify codegen feature useless.

**Describe the solution you'd like**

allow to include a "prefix" field at codegen step

**Describe alternatives you've considered**

Utilizing https://graphql-code-generator.com/ libra

[2019-12-18 05:19] c0dingarchit3ct commented on #3002
I had to go back to the original post from February

https://aws.amazon.com/blogs/mobile/amplify-adds-support-for-multiple-environments-custom-resolvers-larger-data-models-and-iam-roles-including-mfa/

It is really baffling that 10 months later those simple steps mentioned above are not working!

[2019-12-18 05:37] c0dingarchit3ct commented on #1871
Just an fyi, the normal 'override' is not working 10 months after announcement still, I have the details in #3002

[2019-12-18 08:34] LpmRaven commented on #2598
I have just opened a similar issue #3003  Trying to query my products, filtered by categories and subCategories. I have provided my schema. This seems really similar to your original example @onerider and I would appreciate anything you have learned.

[2019-12-18 09:47] LpmRaven commented on #1039
I have another use case for this exact issue. #3003 Has there been any progress on filtering many-to-many connections?

[2019-12-18 09:58] Soek22 opened #3023 "FR: Datastore local-only @model on cloud synced project"
`**Datastore**` `**feature-request**`

**Is your feature request related to a problem? Please describe.**
At this moment you can have project-wide local models or project-wide cloud synced models, as it is only possible to activate/disable cloud syncing with a single flag. It would be great to have the option of local-only models even if cloud syncing is enabled at project level.

**Describe the s

[2019-12-18 10:24] Soek22 opened #3024 "FR: Datastore custom resources syncable @model on cloud synced project"
`Datastore` `feature-request`

Is your feature request related to a problem? Please describe.
At this moment it is possible to overwrite resolvers, so you can easily overwrite `Query.sync.req.vtl` to use custom backend resources to feed a @model object. The problem is that backend DB is always deployed.

Describe the solution you'd like
`@model @custom-resources`/`@model-custom-resources` or simil

[2019-12-18 10:45] BardiaN commented on #3019
@yuth @kaustavghosh06 Thanks for addressing this bug, looking forward to receiving the next release.
But just FYI, I think throttling is happening in a pool including all applications not a specific application/account. Does it make sense?
For example today I tried it again after 8 hours and same thing happened, so there was no local push, there was no back-2-back building.
I mean the change that

[2019-12-18 12:08] Soek22 commented on #3024
As a workaround while this feature is evaluated, **would it be possible to achieve this behavior by simply creating and registering models manually?**

i.e. iOS:

1. Create model manually (following the same arquitecture as autogenerated models on target coding language at amplify/generated/).
[code]

2. Manually 'registerModels' on AmplifyModels module at AmplifyModels.swift.
[code]
3. Create and

[2019-12-18 12:11] Soek22 commented on #3005
I have opened two feature request regarding datastore models: local-only https://github.com/aws-amplify/amplify-cli/issues/3023 and custom resources fed https://github.com/aws-amplify/amplify-cli/issues/3024

[2019-12-18 12:40] Ricardo1980 opened #3025 "Autogenerated response template crashes when using Aurora"
**Describe the bug**
Hello,

I am using Aurora Serverless as a data source.
When amplify generates code for the response templates, there are basically 2 types, one for elements, and the other one for collections:
`$utils.toJson($utils.rds.toJsonObject($ctx.result)[0][0])`
and
`$utils.toJson($utils.rds.toJsonObject($ctx.result)[0])`

The problem I have is that, when I use a query that returns one

[2019-12-18 14:29] dave-malone opened #3041 "Amplify add auth fails due to UserPoolClientLambda Runtime config of nodejs6.10"
**Describe the bug**

Amplify add auth fails due to UserPoolClientLambda Runtime config of nodejs6.10

**To Reproduce**

1. Create a brand new amplify project and initialize as usual (`amplify init`, etc)
2. `amplify add auth`
3. `amplify push`

[code]

**Expected behavior**

amplify add auth results in successful execution using supported version of Lambda runtime.

**Screenshots**
If applicable,

[2019-12-18 14:37] aireater commented on #3015
@yuth  Either via mock or invoke. Is there a flag that I can test for in the function that informs the function it is being called by mock or invoke?

[2019-12-18 15:19] Soek22 opened #3026 "API amplify codegen models"
`API`, `Bug`, `code-gen`

### **Describe the bug**
`$ amplify codegen models` amplify API (preview) command is not generating front-end code for **types without `@model`** directive, while traditional API sdk generates them.

**Amplify CLI Version**: `amplify -v`: 4.6.0

**Platform target**: **iOS**

### **To Reproduce**

[code]

When generating front-end code with iOS target:

- **API.swift** (ol

[2019-12-18 15:21] Soek22 commented on #3026
I believe this can be related to the ability to get Datastore objects fed by custom resources without deploying backend DB: https://github.com/aws-amplify/amplify-cli/issues/3024

[2019-12-18 16:11] aireater commented on #3015
I think I answered my own question. I'll add .env files and in event.json i'll set a flag for local and handle it in the code.

Closing.

[2019-12-18 16:11] #3015 closed

[2019-12-18 16:14] Soek22 commented on #2988
I think this error is arising because 'codegen models' doesn't generate code for types without `@model` directive, so when it tries to create a field with that type, it doesn't find the 'content' type.
I have reported this behavior as a bug: https://github.com/aws-amplify/amplify-cli/issues/3026

[2019-12-18 16:34] Soek22 commented on #3006
Related issues:
- https://github.com/aws-amplify/amplify-cli/issues/2988 Amplify codegen models on Datastore cannot generate Type with no @model directive
- https://github.com/aws-amplify/amplify-cli/issues/3026 API amplify codegen models

[2019-12-18 17:53] elliott-king opened #3042 "Bug: @aws_api_key causes silent failure on upload"
**Describe the bug**
The client seems to be having issues when I mix @auth with @aws_api_key.

My api has two authentication methods: user pools (default), and api key (for public access). I have a `Type` used within another `Type @model @auth` that has both owner and public rules. This sub`Type` needs to have `@aws_api_key` so it can be viewed when I make a public query. However, this creates an

[2019-12-18 18:00] groundswel commented on #501
OK this should be fixed. Any self respecting CLI should have a --verbose option IMHO and this is the standard practice. Right now I am trying to recreate my APIs and amplify cli push is just sitting there and not going forward. I have no clue whatsoever on what is going on. @kaustavghosh06 ^^^

[2019-12-18 18:07] kaustavghosh06 commented on #501
@groundswel We provide all the Cloudformation stack events when deploying your backend. So, be default the information we provide is verbose.
 Sometimes resources like Elasticsearch and Cloudfront distribution take more than 15-20 mins to provision - which might result in this behavior. Are you provisioning one of these resources (for the first time)?
Also, can you paste your terminal outputs, whi

[2019-12-18 18:11] yuth commented on #3000
The code that updates the credentials should be somewhere in this file
https://github.com/aws-amplify/amplify-cli/blob/dcee2aab12b40562d1c6f0d260b830ca4ab0bedd/packages/amplify-provider-awscloudformation/lib/system-config-manager.js#L14-L59

[2019-12-18 18:13] NTonani commented on #2993
Perhaps best practices are documented somewhere that I'm not able to find?

[2019-12-18 18:16] kaustavghosh06 commented on #2993
@NTonani It seems like you want to use the same AWS resources accross multiple frontend apps. We have documents this use case out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

[2019-12-18 18:36] #2937 closed

[2019-12-18 18:38] yuth commented on #2988
Thank you for bringing this issue up. We are actively evaluating how we can add support non model types in DataStore.

[2019-12-18 18:38] kaustavghosh06 commented on #2934
@dsoffiantini Which region are you trying to deploy to?

[2019-12-18 18:40] kaustavghosh06 commented on #2693
@purefan Would be great if you could let us know if you're looking into the fix for this.

[2019-12-18 18:41] #2434 closed

[2019-12-18 18:46] yuth commented on #3006
Duplicate of #2988

[2019-12-18 18:46] #3006 closed

[2019-12-18 18:46] yuth commented on #3026
Duplicate of #2988

[2019-12-18 18:46] UnleashedMind commented on #3021
Yes, you can pass in appId and envName like this:

`amplify pull --appId xxxx --envName xxxx`

[2019-12-18 18:47] kaustavghosh06 commented on #3021
@youjinp We'll document this. Thanks for bringing this to our attention.

[2019-12-18 18:50] kahdojay commented on #3019
Hi @BardiaN can you please email us your team-provider-info.json aws-amplify-customer@amazon.com

[2019-12-18 18:52] kaustavghosh06 commented on #2210
@mwarger Are you close with your PR for this fix?

[2019-12-18 18:52] yuth commented on #3022
@sakhmedbayev where do you want this code to be generated? Is it the `aws-export.js`?

[2019-12-18 18:56] kaustavghosh06 commented on #2736
@xoadrian Can you install the latest version of the CLI and see if this issue still exists?

[2019-12-18 19:08] Soek22 commented on #3026
Hello @yuth,

I’m not confident this is a duplicate. The other issue refers to Datastore. This issue refers to the new Amplify API module. Just wanted to point the difference between them so you can confirm it.

Maybe the two issues are behind the same problem, and solved one solved both. Both use the new ‘codegen models’.

Thanks

[2019-12-18 19:15] davekiss commented on #3019
Also have hit this error again on my project, using Amplify CLI 4.6.0, currently blocked from deploying

[2019-12-18 19:20] darnmark64 opened #3027 "Throttling Exception during push"
At 11:15'ish (EST) today, I was able to perform a successful "amplify push." Since then I've been unable to perform a push. I keep getting the following:

? Are you sure you want to continue? Yes
Updating resources in the cloud. This may take a few minutes...Throttling: Rate exceeded
    at Request.extractError (C:\Users\MarkDarnell\AppData\Roaming\npm\node_modules\@aws-amplify\cli\node_modules\aw

[2019-12-18 19:32] yuth commented on #3026
Thanks for pointing this out. When we add support for this in DataStore API should get this too. I will re-open the issue so we can track this.

[2019-12-18 19:44] yuth commented on #3027
We have a similar issue reported in #3019 and have PR #3020 where we have added re-try logic

[2019-12-18 19:45] wizage commented on #2992
Documentation should be added as this is already available here:

https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/src/context-extensions.ts#L59

[2019-12-18 19:45] #2992 closed

[2019-12-18 19:49] #3009 closed

[2019-12-18 20:17] Ricardo1980 opened #3028 "Is this the correct working process when using Amplify?"
Hello,

Maybe I am missing something.
I have 2 questions about this tool and process, but before that, this is how I work:

At the beginning, I used "init" "add auth", "amplify add api", "amplify add add-graphql-datasource" and then "amplify push".
Everything works fine.
The problem is, if I add a new entity into my data base (or any other change), I have to do this:

- Add entity (evidently) usin

[2019-12-18 20:25] Ricardo1980 opened #3029 "Amplify does not export enums to GraphQL schema properly from MySQL databases."
**Describe the bug**
If the Aurora serverless data base has ENUM type, Amplify does not export that properly to the GraphQL schema. It just uses String! for those fields, instead of creating a graphql Enum.

**To Reproduce**
Create a database with enum type, for example, use this in the CREATE TABLE script.
state ENUM("pending", "live", "deactivated") NOT NULL
Use amplify and select our aurora ser

[2019-12-18 20:52] yuth commented on #3028
We are thinking of adding a ways to allow automatically sync the GraphQL API schema after RDS Database update.

Amplify CLI has no way to sync changes from AppSync console. This would probaly work fine for RDS data source, but if you're using DynamoDB with Graphql Transformers `@model` directive we can't support pull. This is because all the transformation happens locally on your machine when the

[2019-12-18 20:55] BardiaN commented on #3019
Sure, I’ll do that. I’m working on several AWS account in different teams and this is the only one that can’t be built/deployed on the console. I even created a new application, same thing happened.

[2019-12-18 21:03] BardiaN commented on #3019
Just did!

[2019-12-18 21:07] #3019 closed

[2019-12-18 21:07] #3027 closed

[2019-12-18 21:14] aireater commented on #3015
Also, I'm going to assume that I can use host: '192.168.1.11:20002' in the headers sent when  in mock to manage as well. Would be nice to have a flag set so the host doesn't need to be hardcoded.

[2019-12-18 21:15] jvandernoot commented on #2617
The deadline fast approaches. Any word? I just tried updating my Amplify Cloudformation templates and pushed but the runtime didn't change on the server.

[2019-12-18 21:47] SebSchwartz commented on #2880
@chadkouse What do you mean by "running it that way"?

@kaustavghosh06 any news on that? I just copied what is on the online doc and ran it on AWS CodeBuild, no reason this should not work...

[2019-12-18 21:58] SwaySway commented on #2574
Closing this issues as the changelogs are being generated in the recent releases.

[2019-12-18 22:03] NTonani commented on #2993
Yes that is a helpful guide once committing to using Amplify for managing infrastructure. Is that currently the preferred method, over managing it independently?

I'm mainly concerned with the coupling between the app and the backend infra it seems to force. Take, for example, managing infra for multiple apps (app1, app2, app3) within app1. Suppose app2 has a use case which requires extending the

[2019-12-18 22:17] Ricardo1980 commented on #3028
Please, can you do it? this way is a bit painful. Don't forget to document the usage of myapi-mydb-rds.json. I didn't see anything in the documentation about that, I had to find that by myself, and the point of using amplify is to simplify the development process.

I think sooner or later you should have to implement round-trip engineering, otherwise, we cannot use Amazon console, or we lose all t

[2019-12-18 23:04] VicFrolov opened #3066 "Using amplify add function with @model tables, unauthorized access"
** Which Category is your question related to? **
Api
** What AWS Services are you utilizing? **
AWS Appsync
** Provide additional details e.g. code snippets **

How would one add a custom lambda resolver in javascript and access an existing `@model` database?

E.g.
1) Run `amplify add api`, GraphQL + Blog/Post/Comment schema. Let's add a really basic model for `User`, that contains `id` and `emai

[2019-12-18 23:13] groundswel commented on #501
@kaustavghosh06 the issue in my case was due to network issue Amplify CLI could not connect to one of the endpoints (api) and ultimately it error out with  a socket error. However it took almost 20 mins to time out and show the socket error. If there was a verbose option (like usually CLI commands have) that would have shown in greater detail what the CLI was doing and I think it would be easier t

[2019-12-18 23:44] clementAC opened #3039 "SNS role set when mfa is disabled"
**Describe the bug**
A sns role is created on the cognito user pool even when the mfa option is not set during ``` amplify add auth ```
It cause some problems when I want to modify some options in the cognito console concerning verification. I can't modify anything because there is a sns role set that i can't delete (the field is disabled and even if i delete the role the field is set).

Every tim

[2019-12-19 00:50] kaustavghosh06 commented on #3000
@geoseong We weren't able to reproduce this issue. If you're able to reproduce this issue with any other profile name, please let us know. Closing this issue for now.

[2019-12-19 00:50] #3000 closed

[2019-12-19 00:52] kaustavghosh06 commented on #2888
@twingo-b I've seen this issue when installing the CLI with yarn. If you use npm, the directory location should be consistent and accurate. Please comment on this issue, if anyone is still seeing this issue and we'll re-open this.

[2019-12-19 00:52] #2888 closed

[2019-12-19 00:55] c0dingarchit3ct commented on #3002
I have found out that there was no need to modify the Custom Resources at all, I had to put the files in the 'resolvers' directory and make sure they match the names!. again the documentation sucks but alas, at least it is working now!

[2019-12-19 00:55] #3002 closed

[2019-12-19 00:58] #2877 closed

[2019-12-19 01:08] #3021 closed

[2019-12-19 01:11] kaustavghosh06 commented on #3004
@toka756 Are you using the AWS Mobile Android SDK or the Amplify SDK for your iOS/Android app?

We have documentation for manually adding the analytics config out here - https://aws-amplify.github.io/docs/android/analytics#flush-events

Moving this over to the android github repo for help.

[2019-12-19 01:14] kaustavghosh06 commented on #2978
@monaye What sort of input sanitization are you looking for?

[2019-12-19 01:17] nikhname commented on #2977
@henrysachs just to be clear, the error is caused by the trainingsession block within instructions?

[2019-12-19 01:19] kaustavghosh06 commented on #2973
@imgntn The S3 Key in the Lambda Cloudformation template is generated dynamically based on the hash of the `'src/` directory for Cloudformation to know that there is a change in your source code and hence trigger a build - otherwise it won't trigger a build.

Having said that if you don't intend to modify your lambda Cloudformation or add any environment variables to it via the `amplify update fun

[2019-12-19 01:21] #2673 closed

[2019-12-19 01:21] SwaySway commented on #2636
Hello @marlonmarcello
Those in the users groups are only allowed to read meaning they are only able to execute get and list operations.
To allow them to subscribe they would need to be tied into the create operation.
[code]
If you are looking at only allowing that group to be allowed to subscribe to OnCreateMessage you can add the following change into the schema and change in VTL Template.
[code]

[2019-12-19 01:24] kaustavghosh06 commented on #2425
@oste Could you please check the lates version of the CLI and test it end to end? it seems to be working for me. Please comment on this issue if you're still getting permission issues.

[2019-12-19 01:24] #2425 closed

[2019-12-19 01:26] kaustavghosh06 commented on #2707
Closing this issue due to lack of information requested. Please comment on this if you're still stuck on this and want us to re-open.

[2019-12-19 01:26] #2707 closed

[2019-12-19 01:28] kaustavghosh06 commented on #2699
This is a duplicate of #1874.
Tracking this in #1874

[2019-12-19 01:28] #2699 closed

[2019-12-19 03:13] imgntn commented on #2973
thanks for the clarification!

[2019-12-19 03:13] #2973 closed

[2019-12-19 03:37] ammarkarachi commented on #2103
@vaparth6 You can override some of the code-gen .graphqlconfig.yml using [reference](https://graphql-code-generator.com/docs/plugins/java#namingconvention-namingconvention-default-value-change-casepascalcase). Sorry for the delay

[2019-12-19 03:39] Chakron opened #3031 "Storage creating bucket name with env twice"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

adding s3 storage

**Amplify CLI Version**

4.6.0

**What AWS Services are you utilizing?**

Amplify CLI, s3

**Provide additional details e.g. code snippets**

When I type "amplify add storage" in my beta environment, follow the instructions, and ent

[2019-12-19 03:49] CodySwannGT commented on #3018
Thanks so much for the reply.

So, let's say I want to prevent an instance of User from ever being deleted, so I have these rules:

[code]

I thought this would achieve what I wanted, but [according to the docs ](https://aws-amplify.github.io/docs/cli-toolchain/graphql#owner-authorization), it appears that everyone would have the ability to delete since I don't explicitly list it.

Is that correct

[2019-12-19 06:04] sakhmedbayev commented on #3022
@yuth for instance, if in `gatsby-config.js` file you set this config:

[code]

Gatsby will prepend `appsync` field to all graphql operations. Amplify codegen will generate for you this kind of query:

[code]

but Gatsby will expect this one:

[code]

[2019-12-19 06:22] Akiren opened #3032 "amplify API.post"
This issue / question is related to using the Amplify API / VueJS

I have everything working perfectly.. I am using a backend lambda function with an api endpoint and I call it via amplify

When the backend returns a small number of items in an array I get them back no problem.... When the data is larger I get a generic error

I am using

import API from "@aws-amplify/api";
import config from "../

[2019-12-19 07:45] henrysachs commented on #2977
Yeah it’s exactly this. If I would reduce the depth it would go away but somehow in the generated query for the List Operation this depth is needed.

[2019-12-19 08:29] artyom-melnikov opened #3033 "Amplify doesn't update cognito aws-exports after push"
On a project with configured auth:
1. `amplify init` envA
2. `amplify push`
3. `amplify init` envB
4. `amplify push`  - here the appsync endopoints in `aws-exports.js` will be from envB, but cognito data from envA

Amplify 4.6.0

[2019-12-19 08:36] james-iacabucci opened #3034 "Multi-Env Admin Queries CloudFormation Template"
I'm struggling with how the new admin queries features handles its cloud formation templates in a multiple env scenario.  I'm using cli v4.6.

I have my master branch and prod env working great. I then create a branch for test, do a "amplify env add", and configure my test env.

When I amplify push, I notice the AdminQueriesXXX-cloudformation-template.json file is updated in the /backend/function/

[2019-12-19 09:13] SebSchwartz commented on #2880
I just sent the email with the script @UnleashedMind , thanks for help ;)

[2019-12-19 10:10] Soek22 opened #3035 "API codegen models iOS: [String] field converted to List<String>?"
new `API` in preview, `bug`, `code-gen`
**Describe the bug**
`[String]` field defined on graphql schema gets converted to` List<String>?` when generating models. List definition is `List<ModelType: Model>` (as per _Pods/Amplify/List+Model.swift_) so I get `Type 'String' does not conform to protocol 'Model'` error at build time.

**Amplify CLI Version**: amplify -v: 4.6.0
**Platform target**: iOS

[2019-12-19 10:53] Soek22 commented on #3035
`ModelFieldType` doesn't contemplate the possibility of collection of basic types as per `Pods/Amplify/ModelSchema+Definition.swift`.

[2019-12-19 10:56] Soek22 commented on #3035
BTW, **should this kind of issues be reported to https://github.com/aws-amplify/amplify-ios ?**
It is a `$ amplify codegen models` , but it is a specific amplify iOS module issue, so maybe doesn't affects to Javascript/Android implementation.

[2019-12-19 11:05] darnmark64 commented on #3019
@yuth I noticed you closed my issue but I wanted it to be known that I still can't push my Lambda function changes to AWS using the command line. We don't use the Amplify console as our Git repository is in a private GitLab not accessible by AWS. We only push via command line. Our project schedule is very tight. This issue must be resolved ASAP because we can't currently deploy to AWS. This proble

[2019-12-19 11:22] joekickass commented on #1450
@CyanCode - try adding both `APIKeyExpirationEpoch` and `CreateAPIKey` to `amplify/backend/<api>/parameters.json`, e.g:

[code]

then run `amplify push`. This should delete the API key from the stack. Then create a new using cli with

[code]

Worked for me in `amplify version 4.6.0`.

[2019-12-19 12:20] giuliotiseo commented on #682
I have the same error of @c0dingarchit3ct :(
This is not the first time and usually the best way to avoid the problem was rebuild another API.

Anyway, my project is too big now and I would to know if is it possible to solve this error once and for all!

This time, I've encountered this error when I was experimenting on the _graphql.schema_ , with `@key` directive. In specific, I was trying to cha

[2019-12-19 13:07] darnmark64 commented on #3019
Falling back to @aws-amplify/cli version 3.17.0 I can now perform "amplify push" without the throttling error. Seems as if something was introduced in the 4+ version.

[2019-12-19 14:19] jguddas opened #3036 "aws-amplify-react S3Image component ignores cache control"
**Describe the bug**
the S3Image component ignores cache control headers

**To Reproduce**
- add `<S3Image imgKey={keyToProtectedAndCacheControledResource}/>`
- open the network tab in your browser of choice
- see the image load from s3
- see that the image has cache control headers
- reload
- see the image load from s3 using a different uri(query string changed)

**Expected behavior**
loading of

[2019-12-19 14:27] davidbiller commented on #2949
@houmark
Did you test this solution?
Or any other update?

[2019-12-19 14:37] Ricardo1980 opened #3037 "AWSTimestamp cannot save milliseconds"
**Describe the bug**
I see that AWSTimestamp is defined as Integer and unit is seconds.
However, when using SQL (Aurora serverless), this type can be defined as TIMESTAMP(3), or any number between 0 and 6.
This means that this info, milliseconds in that example, will be lost.
I am not sure if we should classify this as a bug or feature request.

**Amplify CLI Version**
4.2.0

**To Reproduce**
Step

[2019-12-19 15:04] robboerman2 commented on #1774
workaround of a pipeline where you use a lambda to import the environment variables into the stash will impact performance in bigger appsync apis.

with batchGetItem you really see that appsync is still in it's beginning stages.

really hope that aws will add environment variables for mapping resolvers.
adding the option for getting the type name and field name in the resolver would also be great.

[2019-12-19 15:19] Townsheriff commented on #2863
Having same issue with version 4.6.0.

[2019-12-19 15:46] borrell commented on #2617
The timing of this is already a huge issue TBH - the next two weeks are holiday weeks, and for many organizations finding time to do any significant testing and deployments of new versions over the holiday periods will be a stuggle, particularly when there's no indication of when this fix will drop.

[2019-12-19 15:50] kaustavghosh06 commented on #2617
@borrell Invocations for your Lambda function won’t stop, just creation of these Lambda backed custom resources would stop. Having said that, we’re working right now for a migration doc as well as an auto migration step for these Lambda functions. I’ll keep this thread updated.

[2019-12-19 16:21] davidbiller opened #3038 "Auth - from mail to sms code"
Is it possible to change the Auth process? From mail to SMS.

I want all new users to register via SMS.
So get the SignUp Code via SMS. Or even make it selectable.

![Bildschirmfoto 2019-12-19 um 17 13 35](https://user-images.githubusercontent.com/7137361/71189928-e8cc8880-2283-11ea-9821-5639a0687ac8.png)

i can see this in the console

[2019-12-19 18:19] kaustavghosh06 commented on #2103
@vaparth6 This issue doesn't entail the Amplify CLI and ties in to the Apollo gradle plugin which is not managed by the Amplify CLI team.

[2019-12-19 18:19] #2103 closed

[2019-12-19 18:25] yuth commented on #3022
@sakhmedbayev Amplify CLI out of the box does not have any knowledge if the project is used in a Gatsby project or an normal react project.  I am marking this as a feature request

[2019-12-19 18:41] NTonani commented on #2993
Ah - seems we can manage a separate repository for Amplify. At least it decouples the apps. Will move forward with this.

[2019-12-19 18:45] Soek22 commented on #3005
I have just noticed the difference between working with API and Datastore at model registration time:
- AWSDataStorePlugin(modelRegistration: AmplifyModels())
- AWSAPIPlugin(modelRegistration: AmplifyModels())

Does that means that I could go with:
- AWSDataStorePlugin(modelRegistration: Amplify**Datastore**Models())
- AWSAPIPlugin(modelRegistration: Amplify**API**Models())
so that `Storage Engine

[2019-12-19 18:50] kaustavghosh06 commented on #2993
@NTonani Cool! Let us know if you are stuck with any other issues.

[2019-12-19 18:50] #2993 closed

[2019-12-19 18:56] kaustavghosh06 commented on #2952
Closing this due to lack of requested information. if you're still stuck with this issue, please comment on this thread and we'll re-open this.

[2019-12-19 18:56] #2952 closed

[2019-12-19 19:03] kaustavghosh06 commented on #2600
We're tracking this as an enhancement as a part of #1865

[2019-12-19 19:04] #2600 closed

[2019-12-19 19:05] yuth commented on #2722
Is this inside the cloudformation file or is it something custom you have in your resolver?

[2019-12-19 21:23] drochetti commented on #3035
Hi @Soek22, thanks for reporting this and for providing your feedback and details about the issue. This is a limitation indeed and we're discussing a fix for this.

[2019-12-19 21:25] kaustavghosh06 commented on #3031
@Chakron Ideally it shouldn't add the env names twice and I tested it on my local machine us-east-1 region and the CLI didn't add the env name twice.
Having said that, this shouldn't affect your app or it's usage if the ` "aws_user_files_s3_bucket"` set in the `src/aws_exports.js` file (in case of  JS projects) is set correctly to the right bucket.

[2019-12-19 21:39] kaustavghosh06 commented on #3033
@artyom-melnikov Do you mean "aws_cognito_identity_pool_id" and the ""aws_user_pools_web_client_id" keys which are the same as envA? I tried to reproduce this but wasn't able to. It correctly shows different userpools from the different environments with CLI v4.6.

Can you run "amplify env checkout <envB>" and see if you still see the user pool key from envA in the `aws_exports.js` file?

[2019-12-19 21:45] kaustavghosh06 commented on #3034
@james-iacabucci Lambda cloudformation works a bit differently. Whenever there is a change to your lambda function code, for Cloudformation to know that there is a change in the `src/`, we need to generate a unique S3Key and stick it in the Cloudformation file dynamically. This S3Key generation happens dynamically on an `amplify push` based upon the environment you're in. So even if you push back

[2019-12-19 21:52] kaustavghosh06 commented on #3038
@davidbiller The Cognito console won't allow you to do this correct?
 I believe they don't have support for this migration/change use-case at the moment.

[2019-12-19 21:53] kaustavghosh06 commented on #2783
Closing this issue due to lack of requested information. Please feel free to re-open or comment on this issue if you're still stuck.

[2019-12-19 21:53] #2783 closed

[2019-12-19 22:00] kaustavghosh06 commented on #3041
@dave-malone This looks like an older version of the CLI being used (v<2.0) to instantiate a new app. Please check the version by running amplify -v` and use `npm install -g @aws-amplify/cli`  to install the latest version of the CLI and re-add auth and then push.

Please let us know if you're facing issues with the latest version of the CLI as well.

[2019-12-19 22:00] #3041 closed

[2019-12-19 22:02] davidbiller commented on #3038
Jap, it’s not possible to change this in the console.
So is there a workaround for this?
I guess I can’t create a new userpool and get the accounts than from the old one, and use this is my amplify project.

[2019-12-19 22:06] kaustavghosh06 commented on #3038
The only way currently is to create a new user pool with these configurations and there are ways to migrate users from one user pool to another -
https://aws.amazon.com/blogs/mobile/migrating-users-to-amazon-cognito-user-pools/ if you want to try that out.

[2019-12-19 22:07] kaustavghosh06 commented on #2799
@aprat84 The aws_sdk used in your Lambda function is trying to use the aws creds configured locally in your machine. It first tries to look for your env variables and then it tries to look for the "default" profile in your system.

You can read more about this out here - https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/setup-credentials.html

[2019-12-19 22:09] davidbiller commented on #3038
Thanks.
Will check this, and will check if or how I can change the userpool than in my amplify env.

[2019-12-19 22:10] #3038 closed

[2019-12-19 22:12] kaustavghosh06 commented on #2834
@apoorvmote Yes, currently there is no way to re-use existing lambda function code which is deployed outside the Amplify project (and in another region) since that would hinder with your  Infrastructure as code setup and also you wouldn't be able to extend your infrastructure to multiple environments.

[2019-12-19 22:17] kaustavghosh06 commented on #2948
Closing due to lack of requested information. Please feel free to comment on this issue if you're still stuck on this issue.

[2019-12-19 22:17] #2948 closed

[2019-12-19 22:17] ryanhollander commented on #3019
FWIW: using the version of aws-cfn.js in the linked pull request #3020 with amplify cli 4.6.0 allowed me to move past this issue.

[2019-12-19 22:22] kaustavghosh06 commented on #2944
Tracking this request as a part of #2988
Closing this as a duplicate

[2019-12-19 22:22] #2944 closed

[2019-12-19 22:22] kaustavghosh06 commented on #2818
@Clairly Please let us know if @undefobj's response didn't resolve your issue. Closing this for now.

[2019-12-19 22:22] #2818 closed

[2019-12-19 22:25] kaustavghosh06 commented on #2776
@multidis We have done a big refactor to our GraphQL transformer docs with more use-case based examples. Please take a look at them and provide us with some feedback. Thank you!

[2019-12-19 22:25] #2776 closed

[2019-12-19 22:27] NTonani commented on #2993
@kaustavghosh06 After creating an Amplify app in a new repo, multiple envs, and pushing infra, I tried connecting my first frontend and when I ran `amplify pull` I got the following:

Failed to pull the backend.

This lead me to manually attach my repo to a new Amplify Console app, though it links it as the frontend and not backend. Even still, after reading [Amplify Console now provides visibilit

[2019-12-19 22:28] sacrampton commented on #2988
I am thinking of having different versions of the schema.graphql to get around this issue. Can you advise whether this is valid?

**Version 1 - Used for amplify push (generating DynamoDB)**
[code]
**Version 2 - Used for amplify codegen models**
[code]

If I do that then will there be any issue when it comes to syncing the model with the cloud?

[2019-12-19 22:47] Soek22 commented on #2988
@sacrampton I think both will overlap somewhere. The approach I am following is:

1. Generate the code with @model directive: `$amplify codegen models`, and import it to the project (manually so later it doesn't get overridden).
2. Remove the @model directive, and `$amplify api push`.

I still couldn't test it as I am migrating other code from the previous SDK. Also I am using custom resolvers tha

[2019-12-19 22:51] kaustavghosh06 commented on #2993
@NTonani Did you deploy the AWS resources with 4.6.0 as well?

[2019-12-19 22:53] NTonani commented on #2993
@kaustavghosh06 Just checked that as well. I believe what happened is I updated when `amplify pull` failed, but earlier provisioned resources with <4.0...

Is there a way to retroactively create/assign an app? Or do I need to teardown?

[2019-12-19 22:58] youjinp commented on #3021
For anyone coming across this, I have figured out the inputs required to run `amplify pull` in headless mode.

Here's the script

[code]

[2019-12-19 23:03] sacrampton commented on #2988
Thanks @Soek22  - just to make sure I'm not misunderstanding you - with your item #1 above, when you say import the models into the project manually - can you explain what you are doing there. Does this mean you generate the models in a separate project (ie. \user\models) then manually copy the models into your appsync project directory (ie. \user\appsync)

I think that is what you are saying, but

[2019-12-19 23:09] kaustavghosh06 commented on #2942
@jkeys-ecg-nmsu We recently launched support for "amplify pull" command which takes advantage of the fact that the Amplify service now stores the state of our Amplify app and this state can be easily restored with the `amplify pull` command.

[2019-12-19 23:15] sacrampton opened #3043 "@auth warning in documentation to avoid limitations in Cognito Groups"
**Is your feature request related to a problem? Please describe.**

In the documentation the recommended approach for for dynamic group authorization is to utilize Cognito Groups. However, there are service limits that exist on Cognito Groups that limit the usefulness of the solution - maximum of 25 groups per user and maximum of 500 groups per account.
(https://aws-amplify.github.io/docs/cli-tool

[2019-12-19 23:22] yuth commented on #3043
Transformer supports changing `groupClaim` field to any field in the JWT token, and you could use [Pre Token Generation Lambda Trigger](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html), to update your token with groups that a user belongs to. This is documented [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-claims)

[2019-12-19 23:33] #2942 closed

[2019-12-20 00:05] Soek22 commented on #2988
@sacrampton I am using iOS target at this moment, but I suppose it works the same way with other target platforms. When I say import I mean import the code to Xcode (iOS IDE).

1. First I set my graph with @model directives and generate front-end code. It can be generated with the amplify CLI (`$amplify codegen models`) or with specific method for each target platform:
Once generated I get front-e

[2019-12-20 00:45] nikhname commented on #2925
@Ricardo1980 I don't see anything wrong with your approach. Using pipeline resolvers is a valid way to approach this as well. It is not bad practice to use the pipeline resolver to check if the user is admin on every request.

[2019-12-20 01:15] yuth commented on #3005
DataStore is an extension to the API category and the same resource will be used. DataStore is useful when you are building an app that needs support for offline data, where as using this with API category is useful to run it in a lambda (or some place where you know you won't be offline).

Delta Sync table is not used for conflict detection and resolution. But conflict detection works only when D

[2019-12-20 02:01] SwaySway commented on #2468
Closing this as the pr for this has been merged.

[2019-12-20 02:01] #2468 closed

[2019-12-20 02:29] yuth commented on #3040
@sacrampton Can a parent asset have multiple child assets? If it can, then after merging pr #3046 you could update your schema as follows.
[code]

This should allow you to have parent/child relationship, where an asset can be either be without a parent (root asset) or an asset can be with out any child( leaf asset)

[2019-12-20 02:36] mattiLeBlanc commented on #1774
One way we resolved is using the AWS CDK to provision our Cloud Resources.
When we build our DIST, we read the templates of the resolvers and inject the database  name.
Then that is deployed.
Works pretty well.

[2019-12-20 03:24] bob-lee opened #3047 "[Subscription] filter subscriptions by field doesn't work"
**Describe the bug**
I have 3 types - `Company`, `Job`, `Jobline` related as below. I am successfully getting real time updates on `Job` filtered by parent company id. So if I am on company A, am getting updates on jobs only for company A not for company B. Nice.
[code]
My problem is about subscription for `Jobline` by grand parent company id. Basically I am getting `onUpdateJobline` for ALL compa

[2019-12-20 05:35] sacrampton commented on #3040
Yes this would fix my issue - I will watch for #3046 availability

[2019-12-20 07:20] Ravirael commented on #1407
Migrations mechanism also could help with [GSI updates issues ](https://github.com/aws-amplify/amplify-cli/issues/922).

[2019-12-20 07:28] jkeys-ecg-nmsu commented on #2721
Hope to see this soon to make Amplify CLI operations more forgiving. (I also want soft deletion of AppSync APIs -- endpoints and IDs -- and Cognito app clients, but that's outside of your control.)

[2019-12-20 08:10] robboerman2 commented on #1774
@mattiLeBlanc hmm that could be a good workaround. could you share some of that code that you made with AWS CDK to accomplish that?

[2019-12-20 08:37] chuckatc opened #3048 "DataStore with @auth - Sync error subscription failed ... Missing field argument owner"
***tl;dr*** Is it necessary to configure DataStore to include `owner` for syncing when using owner auth? If so, what's the syntax or can anyone point to a working example?

**Which Category is your question related to?**

Amplify CLI, DataStore, auth, GraphQL API

**Amplify CLI Version**

4.6.0

**What AWS Services are you utilizing?**

Amplify CLI, Datastore, AppSync, Cognito User Pools

**Provid

[2019-12-20 11:04] rehanbabertkxel commented on #2680
I am having the same issue. Any solution?

[2019-12-20 11:05] zohaibarshad-tkxel commented on #2680
I am also having this issue. Kindly guide how to fix this.

[2019-12-20 11:32] legiaquangvn commented on #1546
I tried, it didn't work.
[code]

[2019-12-20 12:43] mattiLeBlanc commented on #1774
I’ll see if I can make an extract of our setup.
To be continued

On Fri, 20 Dec 2019 at 19:10, robboerman2 <notifications@github.com> wrote:

[2019-12-20 16:19] Ricardo1980 opened #3049 "How to access requested fields or modify one of them in the SELECT query"
Hello,

In my SQL database I save identifiers as BINARY(16), because they are UUID. However, in the app and API level, I am using the hexadecimal representation, given that this is more friendly.

Right now I am creating a template to modify the current logged user. This has 2 statements, an UPDATE and a SELECT.
At the moment, I don't have problems with the UPDATE statement. Basically I use the co

[2019-12-20 16:33] Ricardo1980 commented on #2925
Thanks a lot @nikhname

[2019-12-20 16:33] #2925 closed

[2019-12-20 17:04] bduff9 commented on #2722
I'm not sure I'm saying the correct terms here, but I'm only speaking about built-in stuff with amplify's API.  What I am referencing is the file Amplify built for us in amplify/backend/api/API_NAME/stacks.  Ours happens to be called API_NAME-PROJECT_NAME-rds.json.  This file lists out all the datasources, functions, and resolvers, and which things depend on which others, and which VTL files to us

[2019-12-20 17:20] chadkouse commented on #2620
@nagey fwiw i got the error `Failed to start API Mock endpoint TypeError: Cannot read property 'name' of undefined` when running `amplify mock` as well.  Turned out my (manually build) stack needed to have things defined in a specific order within the json files -- specifically my data sources needed to come before any resolvers or functions that might reference them.

[2019-12-20 18:09] Chakron commented on #3031
Thanks for taking a look and trying to recreate the issue @kaustavghosh06. It's strange, this is a new project and I've just used the latest version of the Amplify CLI to create my resources. No idea why this is happening, but unless it becomes a problem in the future it doesn't look like I have too much to be concerned about other than the strange name. Maybe someone else will run into this and c

[2019-12-20 18:43] NTonani commented on #2691
@danhumphrey Would also appreciate the steps you took to add a lambda trigger. I do not see that functionality supported through the CLI based on options presented to me with `amplify auth update`:

  Walkthrough all the auth configurations
  Create or update Cognito user pool groups
  Create or update Admin queries API

I am using `4.6`. Apparently you were able to do this with `3.12`?

[2019-12-20 19:00] #2975 closed

[2019-12-20 19:13] NTonani commented on #2691
Seems this worked for me -

1. `Walkthrough all the auth configurations`
2. `User Sign-Up, Sign-In, connected with AWS IAM controls...` NOTE: Use this as otherwise CFN update will fail with missing IdentityPoolId. See https://github.com/aws-amplify/amplify-cli/issues/2096#issuecomment-523746110

Eventually there is the following - `Do you want to configure Lambda Triggers for Cognito?`
Can then se

[2019-12-20 21:58] UnleashedMind commented on #2865
Closing this this issue because the server side fix has been published.
Feel free to comment or open another issue if needed.

[2019-12-20 21:58] #2865 closed

[2019-12-20 21:59] kaustavghosh06 commented on #2624
Fix for this has been merged and released.

[2019-12-20 21:59] #2624 closed

[2019-12-20 22:26] NTonani commented on #2993
I ended up deleting and starting over as I wasn't far in. I will note the [quickstart#workflow](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#workflow) guide will not work as mentioned if frontends are not sharing a directory unless Amplify version is >=4.0. Might be worth mentioning there.

Thanks for the help.

[2019-12-20 22:34] kaustavghosh06 commented on #2929
Fix for this has been merged and released with v4.7.

[2019-12-20 22:34] #2929 closed

[2019-12-20 22:35] kaustavghosh06 commented on #2972
Fix for this has been merged and released with v4.7.

[2019-12-20 22:35] #2972 closed

[2019-12-20 23:32] ammarkarachi commented on #2209
@thedgbrt I apologize the delay in getting back to you. This should be fixed now

[2019-12-21 00:06] houmark commented on #2574
@SwaySway Changelogs may be generated now, but did you ever read them? The version 4.7.0 has exactly the same content as 4.6.0 which is almost the same as version 4.4.0. It's kinda hard to identify what's changed.

Or is this not the correct changelog to look at?
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/CHANGELOG.md

[2019-12-21 00:12] kaustavghosh06 commented on #2965
@stevelizcano Were you able to setup an API (API Gateway or AppSync) to expose your lambda function?

[2019-12-21 00:13] kaustavghosh06 commented on #3048
@chuckatc We're actively working on this and expect a fix for this very soon.
cc @yuth  @elorzafe

[2019-12-21 00:57] danhumphrey commented on #2691
Yep, that's what I did.

[2019-12-21 03:50] multidis commented on #2776
@kaustavghosh06 It seems that an explicit warning about this issue would be helpful for the "GraphQL from lambda" example in the docs. Please see suggested edit in this PR:
https://github.com/aws-amplify/docs/pull/1071

[2019-12-21 04:42] Rafcin opened #3056 "Build failed on Initializing your environment"
After adding API and setting the database to my RDS db my project fails to build.
The last line fails after 30 minutes and updating CLI and pushing another commit did not help.
[code]

[2019-12-21 06:31] sacrampton commented on #3040
I just reinstalled everything (+ @aws-amplify/datastore@1.0.3 / + @aws-amplify/core@2.2.1) / amplify cli 4.7.0

Same error on the above example code you provided.

[2019-12-21 06:36] tgjorgoski commented on #1181
+1

[2019-12-21 07:02] yuth commented on #3040
This fix was not part of the last release.  It should be included in the next one

[2019-12-21 08:00] oliverandersencox commented on #2807
@attilah this is still happening for me. I am on the most recent amplify

[2019-12-21 10:16] Rafcin commented on #3056
Related to https://github.com/aws-amplify/amplify-cli/issues/2972

Changing the AppID manually allowed me to pull but did not solve the issue.

[2019-12-21 16:37] silkyfray opened #3057 "How to access GraphQL endpoint from Lambda function?"
**Which Category is your question related to?**
Accessing GraphQL inside Lambda function.

**Amplify CLI Version** 4.2.0

**What AWS Services are you utilizing?**
GraphQL API, Lambda

**Provide additional details e.g. code snippets**
In my function I am trying to access the graphql endpoint as described in the  [GraphQL from Lambda](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graph

[2019-12-21 17:24] stevelizcano commented on #2965
I got it to work, it wasn't working for some reason the first time. I'm going to close the issue, and probably open another one because the biggest problem (as of CLI 4.6) is that a REST-only API URL is not published by the CLI, I had to dig into the amplify backend folder to find it in the settings.

If I understand it correctly, it is only publishing (via `amplify status`) graphQL api endpoints.

[2019-12-21 17:24] #2965 closed

[2019-12-21 17:37] gaochenyue commented on #3057
it is already an environment variable. It is a reference to aws_appsync_graphqlEndpoint in aws-exports.js

[2019-12-21 17:45] chadkouse commented on #2880
@SebSchwartz running it as a globally installed package instead of just a binary in your project's `node_modules`

[2019-12-21 17:47] gaochenyue opened #3058 "configure REST API with Cognito User Pools Authorization"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
I'm creating a REST API backed with a lambda function. It set the API Gateway with IAM auth by default and there is no way to choose Cognito User Pools Auth. You do have a workaround [Cognito User Pools Authorization](https://aws-amp

[2019-12-21 20:25] CyanCode commented on #1450
Thanks @joekickass, this worked for me in amplify version `3.17.0`

[2019-12-22 11:40] silkyfray commented on #3057
Thanks @gaochenyue . How do I go about referencing `aws_appsync_graphqlEndpoint` from the lambda function? The following would not work since it's outside the function directory:
[code]

[2019-12-22 15:07] Ricardo1980 opened #3059 "Codegen does not generate proper code for timestamp in Aurora serverless"
**Describe the bug**
When using `TIMESTAMP(0)` or `TIMESTAMP(3)` in the SQL database, codegen interprets that as AWSTimestamp, which seems right, but the problem is that when using `"SELECT * FROM User"`, all TIMESTAMP fields are printed like:
`"2019-12-19 16:59:09.966"`
Because of that, the mapping fails. with:
`"Can't serialize value (/loggedUser/dob) : Unable to serialize `2019-12-19 16:59:09.9

[2019-12-22 20:30] simontegg commented on #2794
It would also be useful to tag resources with their `env`. That way any custom IAM polices can reference these resources based on tags, rather than resource names or arns (which may get recreated)

[2019-12-22 21:53] jonmifsud opened #3064 "Not Authorized to access field on nested type (without model) using IAM"
**Describe the bug**
When you have a model, that contains nested data from other types, the Authorization rules in the resolvers seem to get wonky in terms of who is authorized to view what.

Data is accessible via the default cognito access, when using Group or Private however IAM functions in Lambda get all the field values replaced by nulls on the request and recieve an error when trying to pos

[2019-12-22 23:00] mwarger commented on #2210
Not really. I would need to get back into this. I have had to work on other things.

[2019-12-22 23:13] Ricardo1980 opened #3060 "Code generator does not create correct mutation templates with Aurora"
**Describe the bug**
This is the template that code generator creates with mutations (updates, and similar with inserts):
[code]

Problem is, it is not generating the proper SQL statement, because booleans, null and numbers don't have quotes in SQL.

Given :
[code]

The default generated template does this:
[code]

As you can see, null values are not processed properly. It si completely wrong.
Reg

[2019-12-23 01:13] dantasfiles opened #3061 "amplify mock api web"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

**Expected behavior**
A clear and concise descript

[2019-12-23 01:13] #3061 closed

[2019-12-23 02:40] dantasfiles opened #3062 "Amplify GraphQL Explorer for "amplify mock api" passes the ID token instead of the access token to resolvers"
**Describe the bug**
This is an issue when using `amplify mock api`.
React Native apps pass the `access` token to GraphQL resolvers in the `$context.identity` variable. The `$context.identity` variable is then used by the resolvers to perform access control as specified by the `@auth` transform rules.
However the Amplify GraphQL Explorer at `http://127.0.0.1:20002/` passes the `id` token to GraphQ

[2019-12-23 08:34] Rafcin commented on #3056
Self Resolved.
Issue:
Adding Aurora RDS to an amplify project following the guides from the official documentation as of CLI version 4.6 and 4.7 breaks the project and stops it from building on the Amplify page. On the local machine it works fine.

Fix:
Do not add an Aurora RDS database to API, otherwise the project will not build when you push it.

[2019-12-23 08:34] #3056 closed

[2019-12-23 10:36] christopheragnus commented on #1378
Has a fix for this been found yet?

[2019-12-23 12:51] robboerman2 commented on #1774
@mattiLeBlanc ok, waiting patiently on your response :)

[2019-12-23 18:22] haverchuck commented on #2458
@fdelhoste I believe I've found the root cause of this - currently working on/testing a fix.

[2019-12-23 22:20] ben-elsen opened #3065 "Custom pipeline resolver breaks mocking"
**Describe the bug**
I have added/created a custom resolver pipeline with 2 functions. I have added the config in the CustomResources.json file and placed the vtl templates in the resolvers folder.

When I try amplify push, everything works and when I test the custom pipeline (mutation) in the console, everything works.

When I try amplify mock, I get the following error: Failed to start API Mock

[2019-12-23 22:47] mattiLeBlanc commented on #1774
Hi Rob,

Well it is a bit hard to give you our full CDK implementation because we haven't open sourced it (yet). Still in development.

But the bit where we doing the injection is where we define the template for a resolver:

[code]

The important bit here is the `this.addEnv` which is used at the `requestMappingTemplate` property.
This function is nothing more then an concat function:
[code]
The

[2019-12-23 23:47] ammarkarachi commented on #3039
Hey @clementAC, We are working on this issue, will update you on when the issue is resolved.

[2019-12-24 00:32] kaustavghosh06 commented on #3066
@VicFrolov There's a PR out from @ambientlight to automate this as a part of `amplify add/update function` - https://github.com/aws-amplify/amplify-cli/pull/2463 and a workaround for achieving this in the meanwhile there is a workaround mentioned out here to achieve this - https://github.com/aws-amplify/amplify-cli/pull/2463#issuecomment-554980258

[2019-12-24 01:22] grigull opened #3067 "Unable to use authMode: "AWS_IAM" when logged in through cognito with API.graphql"
By using `type Category @model @auth (rules: [{allow: private, provider: userPools}, { allow: public, provider: iam}])` I can now allow both authenticated and unauthenticated users access to a read query on my database through appsync.

The problem is that it appears that in each appsync query I have to specify the `authMode` as either `AWS_IAM` or `AMAZON_COGNITO_USER_POOLS`, but if the user is l

[2019-12-24 01:59] alexkates commented on #3034
I'm also experiencing this issue, though with a slight caveat. I have had to make changes to the lambda's cloudformation to support https://github.com/aws-amplify/amplify-cli/pull/2463#issuecomment-554980258

Because of the above change, It's necessary to keep the cloudformation template in version control. Any other work around for his?

[2019-12-24 03:42] SwaySway commented on #2095
Hello @lenarmazitov
Are you still running into this issue?
Using the following schema the following was generated for me.
[code]
Where a create table input is defined by
[code]

When I did a mutation the following is entered into dynamodb I received the following.
![image](https://user-images.githubusercontent.com/7465495/71391903-f30bc100-25ba-11ea-99c8-b15138009754.png)

Doing a get query I don'

[2019-12-24 07:20] artyom-melnikov commented on #3013
@yuth Amplify has huge differences with git so i don't think that approach applicable

1. `amplify init` has side effects (while `git checkout -b` not)
Amplify creates some resources during init (some roles and buckets) and also can have an issue because of env name collision as far as i remember. Cleanup is required after `amplify init`, but not required after `git checkout -b`

2. Poor conflict

[2019-12-24 07:27] artyom-melnikov opened #3068 "Amplify updates lambda CFN templates on each push"
When creating lambda functions through `amplify function add` amplify creates CloudFormation template. This template is meant to be stored in the git repository (because it describes lambda and can have manual changes). The problem is that on each `amplify push` this file is modified with the following lines:
[code]

Later you need to either manually rollback files in git or resolve merge conflict

[2019-12-24 07:33] artyom-melnikov opened #3069 "Amplify push codegen doesn't preserve line separators"
During `amplify push` following files (which are usually stored in git because they contain configuration) are overwritten:
* `amplify/backend/auth/<name>/template.json`
* `amplify/backend/api/<name>/parameters.json`

While the content is identical, git reports difference in line separators.
On windows git with `autocrlf = true` option will convert LF to CRLF. Files generated by amplify use LF eve

[2019-12-24 09:42] robboerman2 commented on #1774
@mattiLeBlanc thanks for the example, this will help.

[2019-12-24 10:39] hoegertn commented on #1460
This would really be great. Due to the selective queries, what about having a `Room` interface with all fields optional? So I at least get the field names and it would be compatible with selective results.

[2019-12-24 10:40] hoegertn commented on #2478
Anything new here? This breaks a lot of code and needs ugly code like `(result as unknown as any[])`

[2019-12-24 14:00] Ricardo1980 opened #3070 "Cannot return basic types in Mutations"
**Describe the bug**
Hello,

This is my schema:

[code]

And this is my request template:
[code]

Which generates (I got it using cloudwatch):
[code]

Seems right. I see the change in the data base done properly. But in the iOS app I receive this error:
`Can't serialize value (/heartbeat) : Unable to serialize `{lastHeartbeat=1577193053}` as a valid timestamp. Ensure that the value provided is an

[2019-12-24 15:40] ben-elsen commented on #3065
I found the reason why it is broken, I have a function in my pipeline that has a HTTP datasource. When I remove that one, it works.

I found this by diving in the code. Line 52 in the amplify-appsync-simulator/lib/pipeline-resolver.js gives an error: `config.functions.map(function (fn) { return simulatorContext.getFunction(fn); });`

I have no idea yet how to solve this.

[2019-12-24 16:15] Ricardo1980 opened #3071 "How to request a subset of fields using AppSync/API.swift?"
Hello,

Using the code generated in API.swift, it seems it is possible to send partial mutations, that is, no need to update an entire object, just update what exactly I want. Cool.
But I don’t know how to do the same when requesting data. I mean, the point of using GraphQL is to solve the under fetching and over fetching problem, but I don’t see how to do that using the code generated by “amplify

[2019-12-24 17:10] yonatanganot commented on #3031
We are facing the issue when creating new storage resource.

[2019-12-24 17:10] yonatanganot commented on #3031
We are facing the same issue when creating new storage resource.

[2019-12-24 18:47] kaustavghosh06 commented on #3057
@silkyfray You can do an `amplify update function` and in the flow request access to the Amplify resource - in your case the AppSync API. This will automatically inject the environment variables into the lambda function (which includes the graphql endpoint).

[2019-12-24 18:56] kaustavghosh06 commented on #3067
@grigull This should be possible with your schema, passing it over to the Amplify JS team to help you out with the client side implementation for multi-auth.

[2019-12-24 19:02] kaustavghosh06 commented on #3068
@artyom-melnikov The S3Key and Bucket needs to change whenever there is an update in your `src/` code. This needs to change to trigger a build in Cloudformation (For Cloudformation to detect a change) and re-deploy your lambda with a changed source code. Do you see this behavior even when there are no changes to your source code?

[2019-12-24 21:41] mattiLeBlanc commented on #1774
I hope it does. We found implementing the CDK pretty cumbersome at the start, especially with a bigger project with 3 stacks and one root stack. But I hope you will figure it out. Otherwise, just ask me in this thread.

[2019-12-25 05:57] rpinna commented on #2242
@kaustavghosh06: I believe this is still an issue.

I ran into the symptoms reported by @mdw2000, but not originally related to a cli update. That is, "Export with XXX already exported for stack ZZZ."  This was for both Name and StreamArn resources for all many-to-many model connections.

This was not originally associated with a cli update. I was originally deleting a development model and adding

[2019-12-25 09:35] artyom-melnikov commented on #3068
No i don't see this behavior when code is not changed. I see this when i'm initing new env. My team use amplify end each team member has own dev environment. Therefore each on of us has different S3Key and S3Bucket params and we have issues storing this templates in git because of that

[2019-12-25 09:57] meshuga commented on #1450
Looks like `APIKeyExpirationEpoch` doesn't work anymore and setting `CreateAPIKey` to `-1` is needed. Thanks @joekickass!

[2019-12-25 16:26] abhidaa1233 opened #3074 "Problem faced in subscribe() method of the https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-2/"
I faced an issue in [https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-2/](https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-2/), This is Part 2 of the series and the code is exact;y same and continuation as Part 1 of the same the issue is whenever I'm calling the subscribe() method for testing, my screen first shows a completely whit

[2019-12-25 16:27] abhidaa1233 opened #3075 "subscribe method freezes screen"
I faced an issue in [https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-2/](https://aws.amazon.com/blogs/mobile/building-an-android-app-with-aws-amplify-part-2/), This is Part 2 of the series and the code is exact;y same and continuation as Part 1 of the same the issue is whenever I'm calling the subscribe() method for testing, my screen first shows a completely whit

[2019-12-25 19:24] asmajlovicmars commented on #779
Our plan was to use Amplify to generate several independent applications, but use a single Cognito User Pool, with a single User dynamoDb table, serving as SSO for all of them.

Understood that on the front-end side I can switch credentials in aws-exports.js, and refer to SSO Cognito User Pool, but how would I go about integrating the rest of the backend components per each application? Should I c

[2019-12-25 19:53] bboure opened #3076 "[AppSync] [Mock] The #return directive is not working in the mocking tool"
**Describe the bug**
In the simulator (mock), using the `#return(data: Object)` (as described [here](https://docs.aws.amazon.com/appsync/latest/devguide/pipeline-resolvers.html#return-data-object)) directive is not working in request mapping templates (in a PIPELINE function).

**Amplify CLI Version**
`amplify-appsync-simulator@1.7.0`

**To Reproduce**
Using, for example,  `#return($ctx.prev.resul

[2019-12-25 22:19] grigull commented on #3064
I seem to have run into a similar problem, but mine is even more extreme. The below example might help solve the root of the problem.

`type User @model (subscriptions: { level: off })`
  `@key(fields: ["id"])`
  `@auth (rules: [`
  `{allow: public, provider: iam, operations: [read]},`
 `{allow: private, provider: userPools, operations: [read, create, update, delete]},`
  `{allow: private, provide

[2019-12-26 03:06] fossamagna opened #3079 "Failed to build exists project on Amplify Console"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Failed to build exists project on Amplify Console.

[code]

**Amplify CLI Version**
4.8.0

**To Reproduce**
execute `amplify init` with amplify-cli@4.8.0

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens

[2019-12-26 03:40] Rafcin commented on #3079
This also exists on CLI 4.7.0

[2019-12-26 05:13] evah88 commented on #3079
I'm seeing the same exact issue

[2019-12-26 05:25] Rafcin commented on #3079
I just want to live in a world where the CLI doesn't make me want to cry at 3am

[2019-12-26 06:07] newel-hirst commented on #3079
Also seeing this issue. Tried rebuilding my current project 3 times today before I figured out that others were having the issue too. Happens when I try building a simple helloworld application too.

[2019-12-26 08:11] berenddeboer opened #3081 "Fetching Aurora Serverless cluster...BadRequestException: FATAL: database "root" does not exist"
Running `amplify api add-graphql-datasource` will fetch my Aurora PostgreSQL cluster, then the secret, and then crashes:

[code]
The reason is my database user is called `root` and there is no database `root`, it just has a different name.

What I would expect is that it does not switch to the postgresql default database (which is the name of the user), and continues to show me all my databases.

[2019-12-26 11:21] yuyokk commented on #3079
Faced the same issue today https://github.com/aws-amplify/amplify-console/issues/339
Project works fine on `4.7.0` and fails on `4.8.0`

[2019-12-26 18:03] Ricardo1980 commented on #3081
Are you sure your db is active? Can you use the Online Query Editor to send requests and works?
I had a simular issue and then I realised that amplify cannot wake up the database if it is inactive.

[2019-12-26 18:06] Ricardo1980 commented on #3071
OK, I found a way, it was not clear in Amazon docs, but I found some clues in Apollo docs.
https://www.apollographql.com/docs/ios/tutorial/tutorial-query-ui/

Basically, create a customQuery.graphql with the new queries and put it inside the graphql folder.
Run "amplify codegen"
API.swift is updated and you can use the new nested types.

I would recommend to mention this in amplify docs, it is not

[2019-12-26 19:29] berenddeboer commented on #3081
Have changed the title, the issue is that Aurora Postgresql is not supported. Look at `appSync-rds-walkthrough.js`, method `selectDatabase()`, mysql is hard-coded.

[2019-12-26 19:51] berenddeboer commented on #3081
Had a bit of a look to see if I could support Postgres, but I would need to determine what kind of cluster this is, i.e. its engine. Couldn't see this easily. Anyway, for Postgres instead of `show databases` you want `SELECT datname FROM pg_database`.

[2019-12-26 20:56] berenddeboer opened #3082 "amplify api add-graphql-datasource fails when using schema subdirectory"
**Describe the bug**

`amplify api add-graphql-datasource` fails when you have put your schema(s) in the `schema` subdirectory, so there is no `schema.graphql` in the API directory.

[code]

**Amplify CLI Version**
4.7.0

**To Reproduce**
Create a `schema` subdirectory, move `schema.graphql` in there and rename it to `demo.graphql` for example.

**Expected behavior**
If there is no `schema.graphql

[2019-12-26 21:25] berenddeboer commented on #2915
See also #1904 I think?

[2019-12-26 21:31] berenddeboer commented on #1904
What do you mean "just works" I put a `.yml` file in my `stacks` directory and I get:

[code]

[2019-12-26 23:57] berenddeboer commented on #3081
See #1914  as well.

[2019-12-27 00:03] UnleashedMind commented on #3079
The new version 4.9.0 should have fixed the bug. please test and confirm.

[2019-12-27 00:09] rowanu commented on #1904
I created a custom stack template in YAML, and put it in the path `./amplify/backend/{category}/{name}/{name}-cloudformation-template.yaml` and it is deployed with an `amplify push`.

[2019-12-27 00:59] fossamagna commented on #3079
I tested new version 4.9.0. If `AmplifyAppId` is already present in the team provider info, build is successful. But, if `AmplifyAppId` is not present, build is failed.

[2019-12-27 02:44] h-hub commented on #3079
No issue with version 4.9.0. My app was not a new one, it was already deployed into amplify.

[2019-12-27 06:17] yuyokk commented on #3079
@UnleashedMind works for me as well (with existing project)

[2019-12-27 09:23] civilatio commented on #1646
I face the same issue. My schema looks like this:

`type ParkEvent @model {
  id: ID!
  plate: String!
  location: String!
  startTimestamp: Int!
  endTimestamp: Int
}`

and the queries:

`# this is an auto generated file. This will be overwritten
query GetParkEvent($id: ID!) {
  getParkEvent(id: $id) {
    id
    plate
    location
    startTimestamp
    endTimestamp
  }
}
query ListParkEvents(

[2019-12-27 10:16] kekkler opened #3083 "Post confirmation trigger to add-to-group throws "Cannot find module 'add-to-group'""
**Describe the bug**
After updating to amplify cli version `4.9.0`, I walked through the update auth flow. I created a trigger to add users to group, post-confirmation. When the lambda is triggered, the following error can be observed in cloudwatch:

[code]

**Amplify CLI Version**
4.9.0

**To Reproduce**
Update auth to add the post-confirmation trigger that adds users to a user pool group. Push y

[2019-12-27 14:06] asyschikov opened #3084 "amplifyPush ignores SourceDir and puts aws-exports.js to a wrong path"
**Describe the bug**
I have the following  amplify/.config/project-config.json

[code]

When I do `amplify push` on my machine it works fine, the aws-exports.js is created where SourceDir points to. When amplifyPush is executed during the build in the console it generates the file in ./src, ignoring SourceDir setting.

**Amplify CLI Version**
4.6.0

[2019-12-27 14:45] evah88 commented on #3079
Build fails for me (new environment) with the following error:
[code]
@UnleashedMind

[2019-12-27 15:16] oliverandersencox opened #3085 "Amplify update causes useless error"
Just updated the Amplify CLI. Ran amplify push after changing the redirect URLS and was given this error:

Any ideas?

[2019-12-27 16:03] gaochenyue commented on #2577
We need this feature too. Here is our scenario
We have a large field which is about 40k and it is rarely used, but we don't keep this field across all the indexes. We would like to exclude this field for indexes. The workaround is to store this field in S3

[2019-12-27 16:20] gaochenyue opened #3086 "PayloadTooLargeError: request entity too large"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
In the mock mode, when we save a record more than 100kb to dynamodb with AppSync API, the mock backend throws the error "PayloadTooLargeError: request entity too large"

PayloadTooLargeError: request entity too large
    at readStre

[2019-12-27 16:33] kekkler commented on #779
I have a similar use case to @asmajlovicmars. I'd like to provision my backend resources using terraform, to integrate with my existing infrastructure (which is also provisioned via terraform).

I need cognito and my app sync API to integrate as well.

I also plan to have multiple amplify projects integrate with the same user pool.

Is there an RFC for this? This should be prioritized.

[2019-12-27 17:00] kekkler commented on #3083
These releases are pretty risky and dangerous. I'm attempting to roll back to 4.7.0.

[2019-12-27 17:28] aireater opened #3087 "Amplify mock doesn't include aws-sdk"
**Which Category is your question related to?**
amplify mock, function

**Amplify CLI Version**
4.6.0

My understanding is that aws-sdk is automatically included in lambdas. I have a function that uses the aws-sdk to access the parameter store. For local mocking I use dotenv.

Mock is complaining "Error: Cannot find module 'aws-sdk'" when running the function from `amplify mock` (via graphql call)

[2019-12-27 17:32] kekkler commented on #3083
Rolling back to 4.7.0 introduces https://github.com/aws-amplify/amplify-cli/issues/2458

I had to go to 4.9.0, remove the post-confirmation lambda, then revert back to 4.7.0

Now I'm testing if this even worked...

😢

[2019-12-27 18:24] UnleashedMind commented on #3079
Could you share the error message?

[2019-12-27 19:08] evah88 commented on #3079
For me it's what I posted above: `UPDATE_FAILED               authfrontend4aa7fb914aa7fb91  AWS::CloudFormation::Stack Fri Dec 27 2019 14:38:39 GMT+0000 (Coordinated Universal Time) Parameters: [authRoleArn, autoVerifiedAttributes, allowUnauthenticatedIdentities, hostedUI, smsVerificationMessage, userpoolClientReadAttributes, mfaTypes, emailVerificationSubject, useDefault, userpoolClientGenerateSe

[2019-12-27 19:35] clementAC commented on #3039
Thanks @ammarkarachi

[2019-12-27 19:37] UnleashedMind commented on #3085
@oliverandersencox
Please provide more information so we can investigate;
- Operating system
- Amplify CLI version
- Nodejs Version
- Which categories are added to your backend (e.g. api, auth, etc.), which category gave you the error?

[2019-12-27 20:06] UnleashedMind commented on #3081
@berenddeboer I will mark this as a feature request, our PR will review it.

[2019-12-27 21:04] kekkler commented on #3083
I fixed by prefixing the modules with "./"

[code]

[2019-12-27 22:03] oliverandersencox commented on #3085
@UnleashedMind
- Mac OSX Catalina 10.15.1
- Amplify Cli - 4.9.0
- Node JS - 13.5.0
- I have Auth, Api and Storage all working absolutly fine.

This morning I ran the command to install/update the amplify client

I then ran 'amplify update auth' so as ti change the redirect URL's to work with my IOS app as I have done many times before.

After I then ran amplify push and was immediately presented w

[2019-12-27 22:31] #3083 closed

[2019-12-27 22:34] haverchuck commented on #3083
@kekkler We have merged a fix for this into our master branch and a release to npm will be forthcoming.  If you want to test a more immediate workaround, can you try going to the lambda console and changing this function's runtime to node 8?

[2019-12-27 22:35] berenddeboer commented on #1904
@rowanu that doesn't do anything for me. You're sure it is deployed?If it is, it's because something else going on on your system.

[2019-12-27 23:08] kekkler commented on #1194
I'm experiencing this issue on 4.9.0 as well. Every time I push to a different environment, the following gets set on all of my functions
[code]
The s3 bucket and s3 key are environment specific.
This is infuriating. It's one bug after the other.

[2019-12-27 23:10] kaustavghosh06 commented on #1194
@kekkler The S3Key needs to change per env and it gets generated at runtime for every push, so that Cloudformation is aware of the change in your source code and re-deploys your Lambda function. Did you see any discrepancies in the deployed Lambda or did the push fail?

[2019-12-27 23:22] kaustavghosh06 commented on #3087
@aireater Yes, you can include that in dev dependencies in your package.json for the lambda function for local mocking.

[2019-12-27 23:22] #3087 closed

[2019-12-28 00:24] kekkler commented on #1194
`amplify/backend/function/**AuthPostConfirmation/**AuthPostConfirmation-cloudformation-template.json`

is where these s3 keys are set. Under the resource:
[code]

[2019-12-28 00:24] kekkler commented on #1194
This does not go in my gitignore, I presume.

[2019-12-28 01:17] dsr771 commented on #3083
I updated the amplify cli to 4.9 to resolve a backend build fail issue last night. amplify cli prompted me to update the node functions to the new version. I was able to build successfully after this.

However, this appear to have broken the lambda functions for auth.
Trying to create a new login results in : "CustomMessage failed with error Cannot find module 'verification-link'.
"
Trying to rese

[2019-12-28 03:07] dsr771 commented on #3083
I updated the handler with "require('./' + modules[i]);" as mentioned above and it is working now.

[2019-12-28 03:09] kaustavghosh06 commented on #3083
@dsr771 Here’s the documentation for the update - https://aws-amplify.github.io/docs/cli/lambda-node-version-update

[2019-12-28 03:52] arkllc opened #3092 "How to decouple the authentication and application"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Best practices on architecting and decoupling multiple applications that use common authentication user pool

**Amplify CLI Version**

latest version

**What AWS Services are you utilizing?**
AWS Appsync

This is more of the best practices question, I

[2019-12-28 05:44] jhoffmcd commented on #779
So if you are using a centralized user pool for multiple apps, I think you will want to manually set up your Cognito integration and just use a manual configuration as noted here: https://aws-amplify.github.io/docs/js/authentication#manual-setup

We have several clients (web, ios, android) using a centralized backend which includes a shared user pool. In this scenario, we don't use **authenticatio

[2019-12-28 08:18] multidis opened #3093 "PostConfirmation trigger fails after node runtime upgrade"
**Describe the bug**
Post-confirmation lambda trigger fails:
[code]

**Amplify CLI Version**
4.9.0

**To Reproduce**
When configuring `auth` include "Add users to group" option and let Amplify create the default function for that. Then try signing up a new user.

**Expected behavior**
Post-confirmation lambda trigger should succeed.

**Desktop (please complete the following information):**
Irrelev

[2019-12-28 13:31] Ricardo1980 commented on #3025
I fixed this crash with this code:
[code]
I tested for elements (instead of collections) and works perfectly in both cases (no element, element)

[2019-12-28 13:39] mdlavin opened #3094 "UndeterminedEnvironmentError when deploying with amplifyPush"
When deploying with Amplify 4.9.0 from the Amplify Console deploy pipline, I see the following error:

[code]

It appears that the code in some Amplify console migration code is not setup to run before the amplify/.config/local-env-info.json is created

[2019-12-28 13:40] mdlavin commented on #3094
To workaround the issue, I added the following script before the `amplifyPush --simple` command:

[code]

[2019-12-28 16:00] giovas94 opened #3114 "DataStore generates subscriptions for all @model types"
**Describe the bug**
DataStore generates the subscriptions for onCreate, onUpdate & onDelete of all models. We are trying to disable the subscriptions of certain models because our schema is large and generates more than 50 subscriptions and we do not need all of them.

We add **@model(subscriptions: null)** to disable. The schema compiles correctly and not generates the subscriptions but Datastor

[2019-12-28 18:36] kekkler commented on #779
For now, I'll try creating a backend repository containing the user pool as detailed here: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

[2019-12-28 21:09] kekkler commented on #1194
This should be passed into the template as a parameter, so that the template remains agnostic to the environment.

[2019-12-28 23:48] rowanu commented on #1904
The only other steps I followed were those for [custom CloudFormation stacks](https://aws-amplify.github.io/docs/cli-toolchain/quickstart?sdk=js#custom-cloudformation-stacks) in the CLI docs 🤷‍♂

[2019-12-29 14:05] oliverandersencox commented on #3085
@UnleashedMind I have tried everything I can think of and nothing is resolving this issue. It happens everytime i run 'amplify push' or amplify push auth/api etc.

I recently upgraded to node 10 in which amplify asked me if I would like it to update everything to node 10, in which I said yes.

I cannot do anything until a solution is found. The error message indicates its a graphQL parsing error b

[2019-12-29 15:14] tuukkamustonen commented on #2888
@UnleashedMind Imo, this is a rather big usability issue. Is there technical reason why local install cannot automatically discover the plugins under _local_ `node_modules`?

It's kinda frustrating hitting into a problem right at the start of Getting Started.

[2019-12-29 18:58] rpostulart commented on #1378
This would be great to access the process.env variables locally otherwise you still have to push them to AWS before you can test.

[2019-12-29 19:09] ultradox commented on #1450
Tried settings recommended by @joekickass:
[code]

Abort `amplify push` and tried setting only `CreateAPIKey` to `-1` then `amplify push`
[code]

Deleted expired key from AppSync, set `CreateAPIKey` to `0`, push, thereafter remove CreateAPIKey parameter and push again. Finally, back in working state :)

[2019-12-29 22:19] berenddeboer opened #3096 "nested-cloudformation-stack.yml uses backup (tilde) files for custom CFN"
**Describe the bug**

The generated `amplify/backend/awscloudformation/nested-cloudformation-stack.yml` uses the backup file for it's custom stack:

[code]

I'm editing with Emacs, so it tends to create a backup file with the same name but ending in `~` (tilde).

**Amplify CLI Version**
4.9.

**To Reproduce**
Copy `amplify/backend/<custom-category>/<custom-resource>/cloudformation-template.yml` to

[2019-12-29 22:38] berenddeboer opened #3097 "Documentation lists "dependsOn" in backend-config.json at wrong level"
[The documentation](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks) lists the "dependsOn" in `backend-config.json` as if it were a resource, but it should be a key of a custom resource.

I.e. it's listed at the wrong level, needs to move into the custom resource. It should look like this:

[code]

[2019-12-30 01:14] aireater commented on #2841
Just hit this problem again after upgrading node from version 8 to 10. I'm going to try running auth update.

[2019-12-30 01:15] aireater commented on #2841
Here's the error:

​

​

[2019-12-30 01:40] aireater commented on #2841
Running auth update then building on the server didn't work but pushing from the cli did.

[2019-12-30 04:44] berenddeboer commented on #3096
This happens at more places. Just saw this during an `amplify push`:

[code]

[2019-12-30 11:28] AntonioAngelino commented on #2189
@undefobj any update on this issue?

We are evaluating AWS Amplify + AppSync, but having subscriptions w/o dynamic group filtering is a no go for us 😞

[2019-12-30 14:33] ecentinela opened #3098 "Cannot subscribe me with graphql"
**Which Category is your question related to?**
graphql-transform

**Amplify CLI Version**
4.9.0

**What AWS Services are you utilizing?**
amplify, cognito, dynamodb, graphql

**Provide additional details e.g. code snippets**
When I try to subscribe me to a *membership* create operation with the following code

[code]

the websocket requests returns me the following sentence:

[code]

I though tha

[2019-12-30 17:59] #3005 closed

[2019-12-31 07:06] ufo525 commented on #2595
This also solved my problem on Ubuntu 19.10, thanks.

[2019-12-31 07:39] dconlon-monigo commented on #3048
I'm hitting this too, or at least something similar, take the following slightly extended example,

[code]

I'd expect an owner to be able to subscribe to onCreateTask, and get only their 'Tasks', and a user in the SuperUser group to be able to subscribe to **_all_** onCreateTask events from all users. As it is today the owner is a required argument to the generated subscription, so when a member

[2019-12-31 15:51] ajhool commented on #2792
I think that the most dynamic solution would be to have named/aliased redirects that are stored in amplify config and added to the aws-exports file. This would allow for normalization across multiple environments and also enable selection of which redirect path to use.

For me, my main challenge is always to use localhost vs the actual hosted webapp. That would look something like:

[code]

[code]

[2019-12-31 17:19] forstmeier opened #3101 "Adding support for multi-tenancy using third-party authentication providers"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

My team is currently using [Auth0](https://auth0.com/) as our third-party OIDC provider but using this and the Amplify `@auth` transformer

[2019-12-31 20:12] kldeb opened #3102 "Managing branches and environments"
*Which Category is your question related to?**
all of them

**Amplify CLI Version**
4.10.0

I'm following the "Environments and Teams" part of the documentations.

When I add a function, for example, i want to add it to another branch once my testing is done. So I check out the branch using git, then i merge the branch where i have the new function into the "new" branch. I don't see the new functi

[2019-12-31 20:14] kaustavghosh06 commented on #3102
@kldeb After you merge the changes to your git branch, did you do `amplify env checkout <env-name>`? Do you see the function in your `amplify/backend/backend-config.json`?

[2019-12-31 20:20] kldeb commented on #3102
@kaustavghosh06 yes, `git checkout branch_name` then  `amplify env checkout <env-name>`. The functions are in `backend-config.json`

[2019-12-31 20:21] kaustavghosh06 commented on #3102
After `amplify env checkout <env-name>`, the functions don't show up in the `amplify-meta.json` file?

[2019-12-31 20:31] kaustavghosh06 commented on #2617
Hey guys, we released a new version of the Amplify CLI (v4.9+), which automatically updates your Cloudformation files to use Node 10.x runtime for your Lambda functions.
Please take a look at https://aws-amplify.github.io/docs/cli/lambda-node-version-update for documentation around this and feel free to comment on this thread or open up an issue if have issues with this migration.

[2019-12-31 20:31] #2617 closed

[2019-12-31 20:31] kaustavghosh06 commented on #2999
Hello, we released a new version of the Amplify CLI (v4.9+), which automatically updates your Cloudformation files to use Node 10.x runtime for your Lambda functions.
Please take a look at https://aws-amplify.github.io/docs/cli/lambda-node-version-update for documentation around this and feel free to comment on this thread or open up an issue if have issues with this migration.

[2019-12-31 20:31] #2999 closed

[2019-12-31 20:32] kaustavghosh06 commented on #3079
The fix for the original issue has been pushed (v4.9).

@evah88 Your issue seems to be different, could you please open up another issue for this specific auth related issue?

[2019-12-31 20:32] #3079 closed

[2019-12-31 20:36] kldeb commented on #3102
@kaustavghosh06 I just ran env checkout now and it shows up (after the push) and now the status indicates that the functions will be created.

[2019-12-31 20:37] kaustavghosh06 commented on #3102
@kldeb Okay, cool. I just tried re-producing this to see if this is an issue but the functions showed up after `amplify env checkout <env-name` in another env.
Let me know if you're able to reproduce it with any other resource or category.

[2019-12-31 20:40] kaustavghosh06 commented on #2798
@daghanacay We'll definitely be looking into adding support for Lambda layers in the next couple of months.

[2019-12-31 20:41] kaustavghosh06 commented on #2799
Closing this issue. Please feel free to comment on this thread if you have more questions around this.

[2019-12-31 20:41] #2799 closed

[2019-12-31 20:41] kaustavghosh06 commented on #2834
@apoorvmote Please let us know if you have more questions around this. Closing this issue.

[2019-12-31 20:41] #2834 closed

[2019-12-31 20:42] kaustavghosh06 commented on #2978
Closing this issue due to lack of user response. Please feel free to comment on this if you're still stuck with this issue and we'll re-open this issue.

[2019-12-31 20:42] #2978 closed

[2019-12-31 20:42] #3031 closed

[2019-12-31 20:44] kaustavghosh06 commented on #3034
@alexkates As I've mentioned above, the S3Keys are generated dynamically and it won't affect your push to the cloud. We are working on a long term solution to move this key to a build folder whcih can be gitignored.

[2019-12-31 20:44] #3034 closed

[2019-12-31 20:45] kaustavghosh06 commented on #3057
@silkyfray Closing this issue. Please let me know if you're still not unblocked based on my last response.

[2019-12-31 20:45] #3057 closed

[2019-12-31 20:53] kaustavghosh06 commented on #3093
@multidis We have documented the change out here - https://aws-amplify.github.io/docs/cli/lambda-node-version-update and made this link available as a part of the migration in the CLI for customers to be aware about this change in the Lambda function code.

[2019-12-31 20:53] #3093 closed

[2019-12-31 20:54] kaustavghosh06 commented on #3085
@oliverandersencox This doesn't seem to be related to the Node version update but seems ties to your GraphQL schema. Could you please share your schema?

[2019-12-31 20:55] kaustavghosh06 commented on #3102
Closing this issue. Please let me know if you're able to reproduce.

[2019-12-31 20:55] #3102 closed

[2019-12-31 20:57] kaustavghosh06 commented on #3068
@artyom-melnikov Yes, we're aware of this. This wouldn't cause any issues deploying since the keys are generated dynamically on each push. We are looking at a solution where we build the S3Key based on the hash code of the `src` code - that way the key is consistent across multiple environments and sandboxes.

[2019-12-31 21:13] kaustavghosh06 commented on #2869
#3099 fixes this issue. We just merged it and should be a part of our next release (v4.12)

[2019-12-31 21:13] #2869 closed

[2019-12-31 21:19] kaustavghosh06 commented on #2955
The fix for this is merged in #3100. This would be available in the next CLI release (v4.12)

[2019-12-31 21:19] #2955 closed

[2019-12-31 22:21] tw1t611 opened #3104 "Many-to-many relationship with custom key is not possible"
Hi,

just tried to add a many-to-many relationship, where one type has a custom key defined.
The error tells, that the key must be of type `ID`.

Example from the docs (modified to have a custom key field):
[code]

However, it should be possible to combine a key of `String` and `ID`
[code]

The error message in this case would be `title field is not of type ID`.

Reproduction:
1. Create the schema

[2020-01-01 00:19] riywo commented on #2074
Same here. My use case is overriding error handling of the function for not passing the raw-level lambda error message to the client. Since function's auto-generated response resolver (which cannot be overridden - the red box in the previous comment) uses [`$util.error()`](https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-function-transformer/src/FunctionTransformer.ts#L154),

[2020-01-01 00:55] totaland opened #3105 "Jenkins integration (CI integration)"
**Is your feature request related to a problem? Please describe.**
I am currently using Jenkins to work on new project and automate the CI part of the project. I can't seem to find aws-amplify/cli plugin in Jenkins.

**Describe the solution you'd like**
A plugin for aws-amplify/cli to use with Jenkins

**Describe alternatives you've considered**
A way to integrate or use aws-amplify/cli with Jenki

[2020-01-01 03:20] chris commented on #156
+1 as this is preventing me from using Amplify :( . (for lambda functions anyway)

[2020-01-01 20:22] Ricardo1980 opened #3106 "Send push notifications/emails when a query/mutation happens in AppSync/Aurora"
Hello world,

I am using AppSync with Aurora/RDS.
I would like that in some cases, when a query/mutation is sent to the db, then, after that, I want to send an email and push notification, but this is detached from the query/mutation, that is, it does not matter if it fails or it works.
At the moment I see several options options:
Can you tell me which one I should use or do you recommend me? Than

[2020-01-02 00:01] berenddeboer opened #3107 "AppSync backup file resolvers also uploaded to S3 (ending with ~)"
**Describe the bug**
`amplify push` uploads any file found in the `resolvers/` directory, including clear backup files such as 'Query.getSomething.req.vtl~` (created by editor such as Emacs).

**Amplify CLI Version**
4.9.0

**To Reproduce**
Copy a `.vtl` file to `.vtl~`.

**Expected behavior**
Should skip backup files.

**Desktop (please complete the following information):**
 - OS: Ubuntu 19.10.

[2020-01-02 08:15] yonatanganot commented on #691
Any news with this matter?

[2020-01-02 12:17] psporysz commented on #1366
Currently the only viable option for me is to:
* declare parameter in `Parameters` section of CF template for given lambda
* refere to the declared parameter in `Environment` section
* before `amplify push` update the `team-provider-info.json`: in `function` category of corresponding lambda please add key-value pair which will be used in given env

The above approach let us keep track of different

[2020-01-02 15:05] pl4yradam opened #3110 "Datastore Question"
Are there any guides to using datastore for manual users - im not a fan of using the cli, and also the tutorials are react based, although I get the idea im just wondering if anyone has used it manually, there doesn't seem to be any configurables needed apart from installing it?

Am I missing something? Where does the data store too? is it your federated users device?

[2020-01-02 16:00] ericclemmons commented on #2869
Thanks @kaustavghosh06!

[2020-01-02 16:37] asyschikov opened #3108 "amplify codegen model adds non-existent Id field and ignores the key definition"
**Describe the bug**
While generating the model files (Java/Android in my case) the codegen tool on its own adds Id field to the model, while it is NOT in the schema. Of course that doesn't work down the line because this field does not exist. The problem is here: https://github.com/aws-amplify/amplify-cli/blob/9951402777b047277e6e05c6cb84fea92c238e82/packages/amplify-codegen-appsync-model-plugin/

[2020-01-02 16:47] Soek22 opened #3109 "Modelgen customisable 'Input' attributes for querys/mutations on new API/Datastore plugins"
`API` plugin, `DataStore` plugin, `feature-request`

**Is your feature request related to a problem? Please describe.**
With previous API (sdk) you could go custom with GraphQL mutation/query input attributes schema definition, and front end code would get generated accordingly.

i.e. `Your GraphQL input attributes could be a subgroup of model's available attributes. `

Now with new plugins it is

[2020-01-02 17:34] attilah commented on #3096
@berenddeboer while we're working on fixing the issue as a workaround you could reconfigure emacs to always create the backups in 1 directory instead where the file exists or disable backups.

[2020-01-02 17:47] attilah commented on #3107
@berenddeboer it is related to #3096 as the CLI does not expect any additional unsupported/unhandled files to be present under the root it manages.

[2020-01-02 17:50] attilah commented on #3108
@asyschikov could you please try with the latest version of the CLI if the problem persists?

[2020-01-02 18:38] staticinteger commented on #970
Any update on this? I'm also trying to do a multiMatch with a query and fields and can't seem to get it to work...

[2020-01-02 18:43] staticinteger commented on #970
An example would be super helpful.

[2020-01-02 18:52] kaustavghosh06 commented on #2095
@lenarmazitov Closing this issue for now based on the response above. Please let us know if you're still stuck with this and we'll re-open the issue.

[2020-01-02 18:52] #2095 closed

[2020-01-02 18:55] kaustavghosh06 commented on #2209
Closing this issue as this is not reproducible with the latest version of the CLI. Please comment ton this issue if you're still facing this.

[2020-01-02 18:55] #2209 closed

[2020-01-02 18:59] kaustavghosh06 commented on #2914
@rrrix Would it be possible for you to submit PR's for your bugs/fixes which you have? We can take a look at it and merge it into our CLI repo.

[2020-01-02 19:05] kaustavghosh06 commented on #2375
Fix for this was merged as a part of #2752

[2020-01-02 19:05] #2375 closed

[2020-01-02 19:13] kaustavghosh06 commented on #3107
Closing this issue as we're tracking this as a part of #3096
In the meanwhile you can take a look at the recommendation by @attilah out here - https://github.com/aws-amplify/amplify-cli/issues/3096#issuecomment-570280657

[2020-01-02 19:13] #3107 closed

[2020-01-02 19:35] kaustavghosh06 commented on #3003
Closing this issue as a duplicate of #1039
We have added this to our backlog as a feature request/enhancement.

[2020-01-02 19:35] #3003 closed

[2020-01-02 19:36] kaustavghosh06 commented on #2598
Closing this issue as a duplicate of #1039
We have added this to our backlog as a feature request/enhancement.

[2020-01-02 19:36] #2598 closed

[2020-01-02 19:49] simontegg commented on #2453
Having a similar issue. Adding a function to the api breaks the `amplify mock`
[code]

I've added all these refs to the cloudformation  and the `parameters.json`.  And it does not work  Though the cloudformation does not appear to depend on them?

[2020-01-02 21:10] imgntn commented on #2453
hey @simontegg not sure if it will help, but here's what my parameters.json looks like after adding the refs.  made the error go away

[code]

[2020-01-02 21:54] yuth commented on #3108
@asyschikov Is the generated code used with DataStore or with plain API?

[2020-01-02 22:53] asyschikov commented on #3108
@attilah I updated to the latest version, but the result is expectedly same because I just sent you the link to the master branch of the amplify-cli where the id attribute is forcedly added to the model. I would not call it a bug, just a strange design decision. I guess it is some sort of convention with amplify-android (iOS too?) library because they expect Id to be there, I opened a sister issue

[2020-01-02 22:59] Ricardo1980 opened #3111 "Questions about pagination when using AppSync with Aurora RDS."
Hello,

I don't see anything about pagination when using Aurora and AppSync in the official documentation:
https://docs.aws.amazon.com/appsync/latest/devguide/appsync-dg%20.pdf

I see a lot of documetation about pagination when using DynamoDB:
https://docs.aws.amazon.com/appsync/latest/devguide/designing-your-schema.html
This `getTodos(limit: Int, nextToken: String): TodoConnection` is using pagin

[2020-01-02 23:29] kaustavghosh06 commented on #3105
@totaland I have typically seen CI systems install the CLI on every build. So you can use `npm install -g @aws-amplify/cli` to install the CLI as a part of your build step.

[2020-01-03 01:03] nikhname commented on #3071
@Ricardo1980 Yes, codegen supports the use of custom queries, mutations and subscriptions in the way you mentioned. If it this is not clear enough in the docs please feel free to raise an issue in the docs repository: https://github.com/aws-amplify/docs. Closing this issue based on your solution

[2020-01-03 01:03] #3071 closed

[2020-01-03 02:34] vidur-kespry opened #3112 "Amplify DataStore with Vuejs (Quasar) throws Sync Error Subscription Failed"
**Describe the bug**
On creating a simple Todo API with Amplify CLI and using the model + DataStore in a Vuejs (Quasar) page, the console shows the below warning and error (in order) -

`DataStore - Sync error subscription failed Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field '_version' in type 'Todo' is undefined @ 'onCreateTodo/_version'"},{"message":"Va

[2020-01-03 03:16] vidur-kespry commented on #3112
So I found a way to make it work - not sure why one method works and other does not.

When I follow the below order of steps
- `npm install @aws-amplify/cli@latest`
- `amplify add api`
- `amplify codegen models`

the file amplify >> backend >> api >> build >> schema.graphql is generated as follows -
[code]
<hr>

but if I change the commands and order of steps,
- `npm install @aws-amplify/cli@lates

[2020-01-03 03:16] #3112 closed

[2020-01-03 06:57] jonmifsud commented on #3064
@attilah / @kaustavghosh06 - let me know if there's any way at all I could help in getting a fix for this. We're possibly blocked from going live with this issue as it's likely going to impact us at multiple points as the solution we are working on does require quite a bit of lambda processing.

I can also confirm @grigull's statement that users via cognito always have access to the full/complete

[2020-01-03 11:01] RossWilliams commented on #2574
It would be helpful if part of the PR review process included checking the PR message is an accurate and full description of the changes.

I needed to review CLI changes recently and went to the changelog. For my own use of understanding fixes and features, the changelog provides no more help than reviewing the commits directly. This likely goes back to the commit messages often being short, and t

[2020-01-03 11:08] #3040 closed

[2020-01-03 11:47] jphgardner02 commented on #3101
This is something i am interested in.

[2020-01-03 15:32] attilah commented on #3104
@tw1t611 in the connection transformer we're not enforcing the ```ID``` type, we are just checking if both side of a connection has the same type. Trying out the schema above works as expected, ```amplify api gql-compile``` succeeds with the latest version of the CLI.

What version of the CLI were you using? Please try out with the latest version and get back to us.

[2020-01-03 15:44] danieletieghi commented on #2915
+1

[2020-01-03 15:55] attilah commented on #2643
@artecoop please refer to my comment here: https://github.com/aws-amplify/amplify-cli/issues/2634#issuecomment-565170377 and watch the videos about DynamoDB to understand how is DynamoDB different from the SQL world (where I was also coming from).

As for your sample, you can have an additional column: ```type```  which would be used as a discriminator field for all category items and you could de

[2020-01-03 15:55] #2643 closed

[2020-01-03 16:37] attilah commented on #2650
@marlonmarcello the behavior you're experiencing is as intended. Having ```@auth``` on the connection works as expected, but since you've a rule for owners on the ```Message```  type itself that will be also evaluated as you're accessing that type through the connection. With 2 modifications you can achieve what you like:

- Disable queries on messages if you only intend to access it through the c

[2020-01-03 16:37] #2650 closed

[2020-01-03 16:41] tw1t611 commented on #3104
@attilah it is the latest version.
While building the reproduction, I realized, that I wrote `name` instead of `keyName`.
That was absolutely my fault. The error message was a bit misleading though.
Sorry for the noise.

[2020-01-03 16:41] #3104 closed

[2020-01-03 16:45] attilah commented on #2702
@Soek22 I was started to look into this issue before the holidays and discussed it with some team members and without breaking existing deployments there is not an easy way to fix it, the behavior of the ```@key``` directive must be changes/extended, so I mark it as an enhancement.

[2020-01-03 16:49] bitshop commented on #2792
It sounds more like amplify publish should update it's aws-exports.js before uploading to point to the URL based on aws_content_delivery_url in same file - and that npm start should use the aws-exports.js localhost always (i.e. not updating the file).

That seems much simpler than our code dealing with it or hard coding - Am I missing something? (New to Amplify).

[2020-01-03 17:33] attilah commented on #3111
@Ricardo1980 this is more of a MySQL problem then connected to the CLI or AWS services, I try to help you to solve your problem and provide some guidance on the topic:
From GraphQL perspective, semantically you need to supply the same data what we're using in case of DynamoDB: a token for query continuation and an item count you want to return, this is the same for MySQL too.

By using OFFSET you

[2020-01-03 17:33] #3111 closed

[2020-01-03 18:23] attilah commented on #3104
@tw1t611 no worries, and thanks for the feedback on the error message.

[2020-01-03 18:47] Soek22 commented on #2702
@Attilah that sounds perfect! Thank you for the solution.

[2020-01-03 19:05] yuth commented on #1997
@federicopuntoni  Where is `proxyGraphQLLambdaDataSource` defined. Could you share the cloudformation template where this data source is defined

[2020-01-03 19:23] kldeb commented on #2982
I solved this issue by adding the fields argument to the connection directive like so:

[code]

[2020-01-03 19:23] #2982 closed

[2020-01-03 19:47] SwaySway commented on #2860
Closing this issue as the pr has been merged.

[2020-01-03 19:47] #2860 closed

[2020-01-03 21:36] darrenfurr commented on #3110
@Amplifiyer - should it be possible to setup a backend using another IaC beside Cloud Formation & have DataStore work?

[2020-01-03 21:39] SwaySway commented on #2962
Hello @Jupdi we are looking a little further into making some improvements on field level @auth to make it more straightforward as a part of our roadmap. While is not immediately possible with one type of authorization one way you can publicly query on two fields is by using multi-auth.

In the example below you can use IAM auth to allow unauthenticated users (in this case public) to query on id a

[2020-01-03 21:48] alexkates commented on #1181
+1

[2020-01-03 22:30] raelmiu opened #3115 "DataStore: "Models are not topologically sortable. Please verify your schema.""
**Describe the bug**
When generating models based on an existing schema with several relationships I get this strange error that I cannot understand:
"Uncaught Error: Models are not topologically sortable. Please verify your schema."

**To Reproduce**
Use a complex existing schema and generate models.

** Env **
MacOS 10.15.1
Amplify cli 4.7.0
Amplify Core 2.2.1

This is the error, I don't have to

[2020-01-03 22:56] yuth commented on #3108
OK, the generated model is used with API category and not with DataStore.

DataStore needs an `id` field to be present and it is not allowed to change the `id` field with `@key` directive. We need to have a way to know if the generated model is used for API category or DataStore. @TrekSoft, is it possible for generation of separate files for API and DataStore?

[2020-01-04 01:16] ammarkarachi commented on #2778
@bob-lee I am working on this, will get back to you.

[2020-01-04 02:53] sacrampton opened #3118 "AppSync @auth Custom Claims with Dynamic Groups"
**Which Category is your question related to?**

AppSync @auth Custom Claims usage with Dynamic Groups.

**Amplify CLI Version**

4.9.0

**What AWS Services are you utilizing?**

AppSync with DynamoDB & Cognito

**Provide additional details e.g. code snippets**

I want to limit access to an asset based on a field value (dynamic). I have a value on each asset record called assetPlantId. I have a Co

[2020-01-04 04:35] attilah commented on #3114
The DataStore sync is a per API capability, so unfortunately you cannot opt-out types from it. Since sync capability depends on subscriptions, you cannot do it today. I mark it as an enhancement to keep track of it.

[2020-01-04 05:39] attilah commented on #3110
@pl4yradam there is no documentation page about this, since it is quite complex and the intended usage was through the CLI, but of course there is no "magic", you can use the CLI to learn what is generated and you can write your own CloudFormation templates, resolvers and handwrite the code what we're generating and then use the client library for your chosen platform to run the code.

I'm closing

[2020-01-04 05:39] #3110 closed

[2020-01-04 09:40] wildcard27 commented on #3039
Hey @ammarkarachi any eta on this fix? It's holding up development here.

[2020-01-04 12:48] totaland commented on #3105
@kaustavghosh06 thanks mate it works

[2020-01-04 12:48] #3105 closed

[2020-01-04 13:49] jonmifsud commented on #2084
@kaustavghosh06 /@ttilah I've just encountered this - updated the CLI but not seeing any change. Is there some commands that needs to be run to move these policies?

[2020-01-04 18:01] duckjones opened #3119 "How to upgrade AWS Amplify CLI?"
**Which Category is your question related to?**
I'm running into issues with auth, I've incorporated an oauth flow, Google and Facebook logins, and a PostConfirmation lambda trigger. My auth template now has 67 parameters and won't push. As far as I can tell, this issue appears to have been resolved in version 1.11.0? But I can't seem to update past version 1.10.0. I can't figure out what the actu

[2020-01-04 18:46] Ricardo1980 opened #3120 "How to model connections when AppSync uses Aurora?"
Hello,

Imagine I have a table called Likes and another one called Posts in my RDS database.
A Like is related with exactly one Post. And one Post is related with many likes. Then, in GraphQL I have this:

[code]
In my app, I want this query:

[code]

As you can see, that retrieves a list of likes, but at the same time, it retrieves a post per like.
Problem is, I don't know how to do that exactly

[2020-01-04 19:22] Ricardo1980 commented on #3111
@attilah
Thanks a lot.

I am going to try that.

Some questions.

Because my createdAt has 3 decimals, I think I don't need to use that id, and even if I see a duplicated element, from time to time, it is not an issue, as my use case is a social network (not a bank).

As far as I understand, my "nextToken" is just the createdAt field, that is, a AWSTimestamp, right?

If I want 10 items per page, I

[2020-01-04 23:13] RossWilliams commented on #3118
Hi, I've done something very similar myself, you are on the right track by using the PreToken Lambda, and inside this lambda fetching information from DynamoDB. I'm guessing you have seen the documentation [here](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html#aws-lambda-triggers-pre-token-generation-example-2). If you use the groups to override

[2020-01-04 23:24] RossWilliams commented on #3101
When using the group auth there is a property "groupClaim" which you can point to any claim in your token, and it accepts a JSON stringify-ed array of values. This might help you as its a pretty generic escape hatch and doesn't rely on cognito, just whatever claim is in the token.

I haven't used other identity providers with Amplify, so this advice might not help for your specific issue.

[2020-01-04 23:30] arkllc opened #3121 "IAM Auth - How to restrict @Auth to a particular IAM role. The document just says IAM"
**Which Category is your question related to?**
AWS AppSync @auth

**Amplify CLI Version**

Not applicable

**What AWS Services are you utilizing?**
AWS AppSync GraphQL transform

How to restrict a particular IAM role to access AppSync API. In the example below as mentioned in the documentation, https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js  in GraphQL transform section

"
type P

[2020-01-04 23:32] RossWilliams commented on #3101
I'm not sure if there is a technical reason why groups is blocked from being used with oidc providers, other than the confusion it could cause users who don't realise they would have to specify a custom groupClaim property.

In packages/graphql-auth-transformer/src/ModelAuthTransformer.ts:2022 there is a check, but it would be interesting to remove this and see if group auth with groupClaim works

[2020-01-05 00:07] dbhagen commented on #3048
I think I'm hitting something similar to my app. Setup is pretty much the same as the original author, Javascript client, amplify generated backend and models.

Schema is this:
`type Timeline
  @model
  @searchable
  @auth(
    rules: [
      { allow: groups, groups: ["SuperUser"] }
      { allow: owner }
    ]
  ) {
  id: ID!
  name: String!
  startDate: AWSDate!
  endDate: AWSDate!
  investment4

[2020-01-05 00:17] mentoc3000 opened #3122 "Using a Lambda function in place of a @model in GraphQL"
I am attempting to use a Lambda function to supply data as part of an AppSync GraphQL endpoint. I don't want to store the data coming out of that external API, just an ID number, but I do want to use the GraphQL syntax to supply the only the fields that are needed. Essentially, I want to duplicate the capabilities of the `@connection` directive between a `@model` and a non-moal.

Below is a simpli

[2020-01-05 04:44] sacrampton commented on #3118
Hi @RossWilliams - that's awesome thanks. Looks like I'm on the right track. I'll let you know how I go with this. Thanks, Stephen

[2020-01-05 05:14] gaochenyue opened #3124 "API_KEY is not passed to lambda as a environment variable in mock mode"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I add API_KEY auth as an additional auth type to my API. When I start mock, the fake API_KEY is added to aws-exports.js, but in the lambda function process.env.API_KEY returns null
I wonder how you pass the API_KEY as environment variable in the example below
https://aws-amplify.gith

[2020-01-05 08:06] tgjorgoski commented on #3122
The lambda can return the whole subset at once e.g.:
`return { make:"Toyota",  model: "Corolla" }`

And the lambda can access the fields of which are already resolved e.g.:
`const driverId = event.source.id`

About the car id... did you try if you can access it with:
`const carId = event.source.carId` ( the name of the field in DynamoDB  in the Driver table)

(Also not sure if you need to return t

[2020-01-05 09:31] galales commented on #556
The video is useful to have a very clear overview about relationships implementation, but it doesn't help with this specific topic

[2020-01-05 13:35] yuyokk commented on #2877
Facing the same issue on Amplify Console. Team, any plans on fixing the issue?

[2020-01-05 21:32] chris opened #3244 "Changing auth custom email message doesn't cause update"
**Describe the bug**
If I change the custom message used for email verification, Amplify doesn't detect a change and thus doesn't update the auth lambda.

**To Reproduce**

1. Change the `EMAILMESSAGE` element of `categories.function.____CustomMessage` in the `team-provider-info.json` file.
1. Do `amplify status` (or `amplify push`)

You will see there is no change. Doing an `amplify publish` also

[2020-01-05 21:46] chris opened #3249 "Email verification with custom message, always includes link, but link doesn't work"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I am using Amplify with a Quasar/Vue app. I specified a custom email message at the time I added auth to my Amplify project. I am using the provided Amplify Authenticaton Vue component for signup/signin pages (the only customization I have

[2020-01-06 02:06] RubberDuckDestroyer commented on #3012
@yuth Any update on the question? Can I connect my amplify app to an existing Appsync API??

[2020-01-06 05:04] Rafcin commented on #229
I don't mean to be rude but why has there been no update to resolve this issue on Amazons end. I have to remove my api, remove my auth, and redo my auth just to change 1 field in the signup. Now when I remove the shit amplify complains that about `An error occured during the push operation: Resource is not in the state stackUpdateComplete because I ruined 2 things. Wtf
`

[2020-01-06 05:47] LpmRaven commented on #3003
@kaustavghosh06 I don't think the solution is a new feature. I was modelling my database for SQL. The answer is to correctly model the data for a NoSQL database. I expect I won't be the only person that is new to NoSQL so it is important to tell people the correct way to structure their data when using AppSync and DynamoDB https://www.youtube.com/watch?v=HaEPXoXVf2k

[2020-01-06 06:54] jonmifsud commented on #2373
Guys I know this is closed - but thought it might be the best place to follow-up.

I'm trying to setup the IAM for unAuthenticated users. Amplify notes that this should be created automatically.

However I still get Identity Pool Configuration Errors, hence we unable to obtain valid credentials for the graphQL request. I can see the unAuth role linked and with permissions to the graphql endpoint t

[2020-01-06 09:17] SebSchwartz commented on #2880
Any news on that @UnleashedMind @kaustavghosh06 ?
It's been more than one month that this issue is there and as I already said I'm not doing anything fancy, just copy/paste the doc init headless and run them inside an AWS CodeBuild...

[2020-01-06 09:29] SebSchwartz commented on #2880
If that helps, with new amplify version I got this at init:
[code]

[2020-01-06 15:34] dtelaroli commented on #2701
+1

Same problem with a mutation method, I have tried @aws_iam @aws_api_key, both without success

[2020-01-06 15:43] sw-yx commented on #174
`amplify pull` seems to be added as at v4.6.0 (in this undocumented PR https://github.com/aws-amplify/amplify-cli/pull/2742). suggest closing this issue.

[2020-01-06 15:48] sw-yx opened #3125 "expose `amplify pull` in `amplify help` docs"
**Describe the bug**
`amplify pull` is a newly added feature (https://github.com/aws-amplify/amplify-cli/pull/2742) and is important for people pulling down changes and click-to-deploy Amplify projects. however it is not very discoverable.

it doesnt show up in `amplify help`.  it should since it is a top level command.

there is [a brief mention](https://github.com/aws-amplify/amplify-cli/blob/0f

[2020-01-06 16:14] SebSchwartz commented on #2880
I found the "problem". It seems that installing amplify-cli with yarn globally is not ok...

I just changed to ```npm install -g @aws-amplify/cli --unsafe-perm=true``` and it worked...

[2020-01-06 16:30] raohammad commented on #1160
I am at the same spot - how did you solve it? @vjindalaurea

[2020-01-06 16:33] darrenfurr commented on #3110
@attilah - that's exactly what I was trying to do. However, I didn't quite understand the purpose of the DataSource dynamodb that is created. I wasn't sure if there was additional resolvers for that.
I'll give it a shot. I'd love to be able to contribute a "terraform" provider to amplify cli, but not real clear on where to start.

[2020-01-06 16:42] CodySwannGT opened #3127 "Auth Rules not working"
This is a simplified example, but it still doesn't work:

**Schema**

[code]

**Query**

[code]

the result is that the balance field is always null.

If I run the same query from AppSync console, it works as expected

[2020-01-06 17:11] pl4yradam commented on #3110
So the answer here is basically no apart from reverse engineer what the cli
reproduces? Not very helpful that. Ill stick to the sdk as the cli is not
practical.

On Mon, 6 Jan 2020, 16:33 Darren Furr, <notifications@github.com> wrote:

[2020-01-06 18:21] nikhname commented on #3119
Hi @duckjones, you can update the cli to the latest version by running the following command:
npm install -g @aws-amplify/cli@latest
Please feel free to comment if you have further questions.

[2020-01-06 18:23] CodySwannGT commented on #3127
Follow up. Even though this had nothing to do with mutations or subscriptions, adding the following "fixed" my problem

[code]

Clearly that's still a bug, though.

[2020-01-06 18:24] #3119 closed

[2020-01-06 18:27] duckjones commented on #3119
I just realized the issue, not too long ago I had downgraded my node version for some compatibility testing on a different project, forgot to set it back to the latest. Once I did that, I was able to use npm to update amplify to the latest version.

[2020-01-06 19:43] mdsadique2 commented on #2089
facing the exact same issue. when I do "amplify status" it detects the changes in API, but when I do 'amplify push' the changes are overridden with the previous state i.e. before edit and message say no changes.

[2020-01-06 20:05] ammarkarachi commented on #2778
Hi @bob-lee , to restrict access you would need to define the ```allow:private``` rule on all the field to restrict access. We are in the process of making improvements to this work around.

[2020-01-06 20:29] oliverandersencox commented on #1405
This has popped up for me out of nowhere. Im on the most recent version of amplify and simply added a field "currency" to a model.

Event Type: update
Reason: Resource update cancelled
URL: https://console.aws.amazon.com/cloudformation/home?region=eu-west-1#/stacks/arn%3Aaws%3Acloudformation%3Aeu-west-1%3A412541719178%3Astack%2Famplify-culture-app-dev-163322-apicultureApp-LLKPZYKA4FIS-CustomResour

[2020-01-06 20:50] oliverandersencox commented on #2807
@attilah this is an ongoing problem. Can i get any info as to how to solve this. My model is as follows and I would like to be able to subscribe to message created.

[code]

[2020-01-06 20:55] RossWilliams commented on #3003
@LpmRaven you could even remove "byCategory" and use "bySubCategory" alone. If you want all items in the category, use a "beginsWith" sort, otherwise for subcategories use "eq".

[2020-01-06 21:10] TrekSoft commented on #3108
@yuth - yeah let's setup a time to discuss as a team

[2020-01-06 21:27] purefan commented on #2693
Hi guys, sorry, the end of the year kept me busy. I did try to write tests but even following the Contrib file instructions I kept getting errors, and without tests I cant push a merge request. In another issue someone from the team managed to write some tests for my code and that seems to be going forward, it requires 3 pairs of eyes to approve and that takes time...

[2020-01-06 21:35] SwaySway commented on #3127
Hello @CodySwannGT A few questions here
- What version of the CLI are you using?
- What is your default mode of authentication for API?
- Did you do the creation and query operations as the same user?

Using the schema you provided above I did the following

create a record as `user1`
[code]
retrieve the record as `user1`
[code]
I am able to retrieve the record.

[2020-01-06 21:36] nikhname commented on #2680
This a bug and we are working on a fix. As a workaround, delete the API.service.ts file and run amplify api gql-compile and then amplify codegen after making updates to your schema to generate the updated API.service.ts file.

[2020-01-06 21:48] SwaySway commented on #3098
Hello @ecentinela
Since there is a rule on only allowing owner on the type Memberships an owner is a requirement in when doing the `onCreaateMembership` operation.

Docs on authorizing subscriptions:
https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions

[2020-01-06 21:48] #3098 closed

[2020-01-06 21:48] kldeb commented on #2577
We could use this feature as well. Projecting all attributes is fine when the data set is small but at scale this is going to cost way more money for data that we don't need...

[2020-01-06 21:58] CodySwannGT commented on #3127
1. 4.6.0
2. cognito
3. yes

To be clear, I can retrieve the record, but the "balance" field is null

[2020-01-06 22:06] bob-lee commented on #2778
@ammarkarachi thanks for update. I tried below hoping public access cannot update `state` field but had no success.
[code]

[2020-01-06 22:51] #1997 closed

[2020-01-06 22:53] mentoc3000 commented on #3122
@tgjorgoski But wouldn't that require the following schema

[code]

and thus need two API calls to get all of the desired data?

[2020-01-06 23:15] asyschikov commented on #3108
@yuth I don't get that part. I don't think it is documented anywhere. If this is really mandatory for whatever reason the codegen should not validate the schema instead of appending the "id" field that just doesn't exist, because that's just not gonna work. It should state it with big bold letters.

The larger question is why this restriction even exists? It makes developers' life harder instead o

[2020-01-06 23:20] SwaySway commented on #3127
@CodySwannGT Can you provide the response resolver code for get user?

Should be located under:
`amplify/backend/api/<API_NAME>/build/resolvers/Query.getUser.res.vtl`

[2020-01-06 23:24] CodySwannGT commented on #3127
[code]

[2020-01-06 23:29] SwaySway commented on #3127
@CodySwannGT
The other resolver code as well under `*/getUser.*.vtl`
And the code for user balance: `amplify/backend/api/rulez/build/resolvers/User.balance.res.vtl`

[2020-01-06 23:33] CodySwannGT commented on #3127
[code]

Keep in mind, that's AFTER i made this change and it started working:

[code]

[2020-01-07 00:09] LpmRaven commented on #3003
@RossWilliams Yes, thanks for that!

[2020-01-07 00:35] UnleashedMind opened #3131 "yarn global add fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
install the CLI globally using `yarn global add  @aws-amplify/cli` fails with the following message:
[code]

**Amplify CLI Version**
The latest version 4.11.0

**To Reproduce**
Run `yarn global add  @aws-amplify/cli`

**Expected behavior**
The Amplify CLI is installed without error

[2020-01-07 02:19] berenddeboer commented on #2645
Note that export and import are only useful in unrelated stacks. Amplify generates a single CloudFormation stack. Particularly custom stacks in the api category are generated *concurrently*.

If you use custom stacks as per the documentation use the dependsOn feature. That works well.

[2020-01-07 03:01] berenddeboer opened #3134 "How do I update src/graphql/schema.json"
**Which Category is your question related to?**

Updating `src/graphql/schema.json`.

None of the commands I've seen such as `amplify push` do that, and older commands like `amplify code generate --download` no longer work.

**Amplify CLI Version**

4.11.0.

**What AWS Services are you utilizing?**

AppSync + Aurora.

My `.graphconfig` (regenerated with latest):

[code]

[2020-01-07 07:04] jfdesgagne opened #3253 "Upload file to amplify mock in react native - FileReader.readAsArrayBuffer is not implemented"
**Describe the bug**
When uploading a file from react-native to s3 via amplify mock storage (S3), I'm getting the following error [Error: FileReader.readAsArrayBuffer is not implemented]

When running in non mock state, everything works just fine.

**To Reproduce**

[code]

**Expected behavior**
To be able to upload images using arraybuffer in mock

**Smartphone (please complete the following info

[2020-01-07 08:18] artyom-melnikov opened #3136 "Amplify fails when deploying UserPoolClientLambda"
[code]

Please bump version of the UserPoolClientLambda's runtime

[2020-01-07 08:19] artyom-melnikov commented on #3136
Updated in recent version

[2020-01-07 08:19] #3136 closed

[2020-01-07 09:47] artyom-melnikov opened #3137 "Custom pipelineFunctions are not override generated ones"
I have a couple of templates in `api/<...>/build/pipelineFunctions` folder. They are autogenerated.

I copied one into `api/<...>/pipelineFunctions` and modified but it is not pushed (generated version is used instead of my own)

[2020-01-07 11:46] JoeShi opened #3138 "Parameters: [sceneId, region, projectName, url] must have values"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When trying to remove an XR resource. Failed, and the CLI error message is
[code]

**Amplify CLI Version**
4.10.0

**To Reproduce**
[code]

**Expected behavior**
Expected the resource XR can be removed.

**Screenshots**
![Screen Shot 2020-01-07 at 7 39 38 PM](https://user-images.gith

[2020-01-07 12:50] jukkamarttinen commented on #1561
What is the current status of this request?

[2020-01-07 12:52] rehanbabertkxel commented on #1789
Any update on how we can do this? Or any alternate to do this?
I need to make something functional in next two day.

[2020-01-07 13:10] KristineTrona commented on #2635
I am currently on CLI version 4.11.0 and I am still having this issue. Creating a new env through ``amplify add env`` did not update aws-exports.js file. Running ``amplify init`` or ``amplify env checkout <environmentName>`` does not update the aws-exports.js either.

[2020-01-07 13:18] SebSchwartz opened #3139 "Error when updating callback url with node10"
**Describe the bug**
I  was asked to update lambda to node 10.x with the new cli version. I did update to node10.x then i updated (changed) my oauth redirect uri. When i try to push now, I got an error in the lambda.

On the CLI, I got stuck to "Updating resources in the cloud. This may take a few minutes...". Which can take up to 3 hours thanks to cloudformation lambda callout long timeout.
When

[2020-01-07 13:39] KristineTrona opened #3140 "amplify env remove <environmentName> asks to delete all environments instead of just one"
**Describe the bug**
I currently have two environments:

[code]
I am trying to remove test environment by running ``amplify env remove test``. The prompt I get is:

``? Are you sure you want to continue? (This would delete all the environments of the project from the cloud and wipe out all the local amplify resource files) ``

I thought this is the message you are supposed to get when writing ``am

[2020-01-07 14:39] JoeShi opened #3141 "The schema generated by amplify api gql-compile is not correct"
1. Edit **amplify/backend/api/xxxx/schema.graphql**
[code]
1. Run `amplify api gql-compile`, and the schema is generated
1. The following is the generated **amplify/backend/api/xxx/build/schema.graphql**
[code]
1. Run `amplify push`
1. Got error message
[code]

The generated schema file is obviously wrong, it does not have ModelAttributeTypes defined.

**Amplify CLI Version**
4.10.0

**Desktop (pl

[2020-01-07 15:42] SebSchwartz commented on #2391
@kaustavghosh06
The issue is now present again with new version 4.11.0...
I could do a workaround manually with `amplify codegen remove` then `amplify codegen add --apiId xxx` BUT I got this problem inside a CICD so I cannot walkthrough the steps to add the API... And it doesn't seem to have an headless version of codegen  add from what I saw from the sources.

[2020-01-07 15:58] SebSchwartz commented on #3139
Also got an error with the PreTokenGeneration lambda when updated to node10.

Here is the error:
[code]

[2020-01-07 16:13] SebSchwartz commented on #3139
For the last part (PreTokenGeneration), I saw that now in the code, it generates with this for the require: ```require(`./${modules[i]}`)```. So this is maybe missing when asking the user to update to node 10 for cognito lambda function?

But it doesn't solve the first problem (module not found with the function created inside the cloudformation yml).

[2020-01-07 18:33] #3131 closed

[2020-01-07 19:32] #3086 closed

[2020-01-07 19:33] #2642 closed

[2020-01-07 21:00] sacrampton commented on #3118
Hi @RossWilliams - just wanted to confirm with you that your advice here worked perfectly for us and we have now implemented it. We have the PreToken Lambda Trigger reading DynamoDB to get all groups for the current user and then override groups in the JWT Token. We didn't have to modify our schema.graphql in any way and it worked perfectly. Have since deleted all groups from Cognito and now all g

[2020-01-07 21:00] #3118 closed

[2020-01-07 21:54] houmark commented on #2745
@kaustavghosh06 I just updated to Amplify 4.11 and the CLI offered two functions to be updated to node.js 10.x. I ran this migration and pushed without issues.

I then proceeded to check the function versions in the Lambda console directly and noticed the `UpdateRolesWithIDPFunction` is still running node.js 8, even though the `nested-cloudformation-stack.yml` file has node has `"Runtime": "nodejs

[2020-01-07 22:00] UnleashedMind commented on #2745
The Lambda Console sometimes does not update promptly.
Did you notice that the custom resource update of function through CloudFormation as "Complete"?

[2020-01-07 22:01] houmark commented on #2745
It's been 12 hours, so :)

I'm not sure what you mean by the second statement exactly, sorry.

[2020-01-07 22:12] houmark commented on #2745
I now did a search and opened `amplify/backend/auth/redacted-cloudformation-template.yml` because I found the [migration documentation](https://aws-amplify.github.io/docs/cli/lambda-node-version-update) where it explains that `const response = require('cfn-response');` must be replaced with `const response = require('./cfn-response');` and in this yml file, that was not replaced, even though the n

[2020-01-07 22:26] houmark commented on #3139
@SebSchwartz For the cf-response error, see my comment here which may fix your problem (I am in the process of pushing changes myself so I don't know if manually changing this works yet):
https://github.com/aws-amplify/amplify-cli/issues/2745#issuecomment-571797398

[2020-01-07 22:27] UnleashedMind commented on #2745
the './cfn-response' replacement is only for the `interactions` category, not for the auth triggers

[2020-01-07 22:40] houmark commented on #2745
Okay, that makes little sense to me, when looking at the source code generated directly in the Lambda function, I have the following (screenshot):
https://share.getcloudapp.com/2NurvwDp

Wouldn't that include the npm package `cfn-response` over the local file?

[2020-01-07 22:49] UnleashedMind commented on #3139
@SebSchwartz
Which AWS region did you set up your backend resources?

[2020-01-07 22:56] UnleashedMind commented on #2745
Yes, sibling module reference by nodejs `require` needs to use a path, instead of a just a module name. This could be a Lambda server side issue, we are investigating now.

[2020-01-07 22:59] UnleashedMind commented on #2745
on your previous remarks "I'm not sure what you mean by the second statement exactly, sorry."

`UpdateRolesWithIDPFunction` is a resource of type `"AWS::Lambda::Function"`, when you push, that resource is updated because its `Runtime` property has been updated.

Did you see that update in the "Complete" status?

[2020-01-07 23:28] SteffeyDev commented on #2361
I have the same issue as above, except for me it appears the addition of the `operations` field prevent the correct generation of the subscription type.  I need the owner to be able to read and and get subscription updates, but not create, delete, or update.  I tested, and removing the `operations` field does fix the issue.  However, this allows the user to write, which should not be allowed for m

[2020-01-07 23:29] SteffeyDev commented on #2361
@SwaySway let me know if I am doing something wrong or if you would like me to open a new issue for this

[2020-01-08 00:28] houmark commented on #2745
So is that confirming that I do have to change `cfn-response` to `./cfn-response` for this function?

I honestly do not recall and I am unable to scroll back to see the changes done. But my best guess is that it did not.

After manually having done changes to the yml file I now have the Auth cateory to be updated, but I did not push yet as I am confused about if I need to change the cfn-response p

[2020-01-08 00:55] nicholasgriffen commented on #2745
@houmark you can check your stack statuses in the AWS console here: (
replace us-west-2 with your region )
https://us-west-2.console.aws.amazon.com/cloudformation/home?region=us-west-2#/stacks?

On Tue, Jan 7, 2020 at 5:28 PM houmark <notifications@github.com> wrote:

[2020-01-08 01:36] mentoc3000 commented on #3122
It looks like the best approach is to use a resolver pipeline to transform the request, allowing reuse of the getCar lambda resolver. The schema would look like this:

[code]

The custom `CreateDriver` and `UpdateDriver` would store `carId` in the DynamoDB instead of the `Car` itself. The lambda function `getCar` takes a carId and accesses the external API to return the `Car` data. `getCarId` woul

[2020-01-08 04:17] houmark commented on #2745
Oh, if you are referring to `UPDATE_COMPLETE` for the push then yes, the consecutive push was `UPDATE_COMPLETE`.

[2020-01-08 07:06] kaustavghosh06 commented on #2745
@houmark you do not need to change the in-line Lambda functions in the cloudformation templates. Cloudformation packages up the `cfn-response` node module when used in-line in the template and makes it available for the lambda package to consume (that's not the same case for  other lambda functions).
Also the "UpdateRolesWithIDPFunction" resource in the nested-cloudfomration file is generated at r

[2020-01-08 08:28] SebSchwartz commented on #3139
@UnleashedMind I'm in eu-west-1 region for this project.

[2020-01-08 09:19] nelsona commented on #2880
I am trying to run headless on a Mac trying to build react-native and I am hitting the same issue as @SebSchwartz in that I am getting the `The following official plugins are missing or inactive: ` error.

I have run the `npm install -g @aws-amplify/cli --unsafe-perm=true` command and it is still failing for me.

Is there anything else I can try that might get this working?

[2020-01-08 09:47] aveeday opened #3143 "amplify mock does not show graphql errors in response from lambda"
**Describe the bug**
I use lambda resolver with ```@function(name: "function-${env}")```

In my function I validate data in request and throw error:
[code]

Then from appsync I can see error message in graphql response:
[code]

But with amplify mock I do not receive error message:
[code]

**Amplify CLI Version**
4.6.0

[2020-01-08 13:29] xoadrian commented on #1484
@yuth I think @bokuweb is interested in something else and so do I. It is not about code versioning, it is about deployment.

Let's say I deployed to production, and customers are starting to complain about some issues with the new release, we would like to be able to revert whatever was in the cloud previously before last deployment. Which means I should be able to tell amplify to rollback to som

[2020-01-08 13:35] CodySwannGT commented on #3127
I'm not sure this could be any more maddening.

Here's another example from schema.graphql:

[code]

Then if we run them in AppSync console:

[Redemptions](https://www.dropbox.com/s/1gz3hw3u6folzyl/Screenshot%202020-01-08%2008.34.45.png?dl=0)

[Users](https://www.dropbox.com/s/8itf04cjw92z83h/Screenshot%202020-01-08%2008.35.16.png?dl=0)

[2020-01-08 16:14] Ricardo1980 opened #3145 "How can I upload files to S3 when using AppSync/Aurora/iOS?"
Hello,

I see in the documentation something about uploading S3 files when using DynamoDB:
https://aws-amplify.github.io/docs/sdk/ios/storage#storage

But, what about if we use Aurora? There is no mention about Aurora.

Do I have to add a table with those fields manually? (bucket, region and key)

Thanks for any suggestion.

[2020-01-08 16:45] phishy commented on #501
As @groundswel pointed out, the error is different depending on how you call the CLI. When I received `Attempting to edit the key schema of the VacationTable table in the Vacation stack`, I literally had no idea what to do next. Perhaps this could be referenced in the docs for key

[2020-01-08 16:57] s3ru opened #5872 "How to specify cognito group at cognitoUser.authenticateUser(...)"
As a cognito user can be member of multiple groups i am wondering how to specify the group the user should adopt in the current session.
We are using the [amazon-cognito-identity-js](https://github.com/aws-amplify/amplify-js/tree/master/packages/amazon-cognito-identity-js) package along with the code of use case 4: _Authenticating a user and establishing a user session with the Amazon Cognito Iden

[2020-01-08 17:02] lawmicha opened #3146 "AppSync provisioned with Amplify CLI contains Create Mutation with condition input"
**Describe the bug**
This is more of a question and possibly a bug. Why does AppSync provisioned API contain an input for the "condition" for create mutations? Is there a use case for this? Or is "condition" only useful in update and delete mutations?

For example:
[code]
I can pass in a `condition` even though I don't see a use case for this.

**Amplify CLI Version**
`4.6.0`

**To Reproduce**

1.

[2020-01-08 17:24] aukaurea commented on #1484
@yuth I also support the below features:

- destroy environment
- rollback git to a previous state (like you suggested above)
- re-create the environment, cause we need specifically same environment - otherwise it makes no sense
- re-deploy.

[2020-01-08 18:28] UnleashedMind commented on #2745
@houmark If you have a sibling "cfn-response", please do add "./cfn-response" to make it work for now, we've noticed that it is needed for our `interactions category`.

[2020-01-08 18:55] SwaySway commented on #3127
I tried to replicate this with v4.6 though I'm still able to create a user as 'user1' and retrieve that same record as 'user1' with the balance value not set to null.

If you remove this `subscriptions: public` do you still run into this issue?
If you can email, amplify-cli@amazon.com, `amplify/` folder I can take a look at what was generated.

This other schema you provided seems unrelated to the

[2020-01-08 19:55] CodySwannGT commented on #3127
Yes on both, but it might be a bit on the first request. We're up against a deadline on this project and had to hack around this issue, so it'll take some time to put it back the way it was.

[2020-01-08 19:55] CodySwannGT opened #3147 "Strange behavior with auth transform"
Example below:

[code]

Then if we run the generated queries in AppSync console:

[Redemptions](https://www.dropbox.com/s/1gz3hw3u6folzyl/Screenshot%202020-01-08%2008.34.45.png?dl=0) (Unauthorized)

[Users](https://www.dropbox.com/s/8itf04cjw92z83h/Screenshot%202020-01-08%2008.35.16.png?dl=0) (Works just fine)

Default auth is user pools. Secondary is IAM

[2020-01-08 20:54] dtelaroli commented on #2227
+1

[2020-01-08 21:01] sorokinvj commented on #3136
Hey Artyom! What should I update in order to fix this? amplify cli use nodejs8 by default and I am having troubles initializing new projects with cli

[2020-01-08 21:40] nikhname commented on #2680
@StevieWag which version of the CLI are you using? I was not able to reproduce this with version 4.11.0

If you run amplify api gql-compile and then amplify codegen is the API.service.ts updated? Please ensure that there are no syntax errors in your API.service.ts

[2020-01-08 21:42] oliverandersencox opened #3148 "owner subscriptions causing error: '...of type "String!" is required but not provided.'"
Framework: Angular 8
Amplify Cli - fresh install today

The responses in regards to the issue that follows have not been useful at all, and i feel maybe I am not explaining well.

I have a messaging system (realtime chat) in which a a conversation (model) links a business and a user together and messages are stored as a connection within this conversation.

On the business website I was expecting

[2020-01-08 21:48] SwaySway commented on #3047
Hello @bob-lee

Are you running into this issue still? Using the following schema I added an extra `@connection` to job for joblines and I was only able to get subscription results based on the joblineJobCompanyId when setting up the subscription

[code]

[2020-01-08 22:21] houmark commented on #2745
I'm confused now. I got an email notification which mentioned I do need to change it. What's the final verdict?

[2020-01-08 22:25] kaustavghosh06 commented on #2745
@houmark Are you sure the updateFunction resource is for the same environment that you pushed to successfully?  As I said above the CLI would modify the updateFunction resource at runtime - during the next amplify push and update it with  Node 10.x.

[2020-01-08 22:35] houmark commented on #2745
Yes, the first push after updating/migration to 4.11 did not push the updated runtime, that I am sure of. After manually editing the yml file due to the cfn-response (and my editor removing trailing whitespace in that file), it did show up as an update and did update to node 10.x on the next push.

I'm still confused if `cfn-response` needs to be `./cfn-response` or `cfn-response` in that inline f

[2020-01-08 22:39] kaustavghosh06 commented on #2745
@houmark Does the `cfn-response` file exists in your local filesystem or do you see it just in the AWS Lambda console?

[2020-01-08 22:41] kaustavghosh06 commented on #2745
If you were to successfully deploy - then you don't need to modify it - if the Lambda is efined inside the Cloudformation template (which is your case), you don't need to worry about the change from `cfn-response` to be `./cfn-response`.

[2020-01-08 23:17] SwaySway commented on #2788
Hello @kldeb are you still running into this issue?

If so could you include `.graphqlconfig.yml` ?

[2020-01-08 23:29] sorokinvj opened #3149 "runtime parameter of nodejs8.10 is no longer supported"
**Describe the bug**
Cannot add auth because
[code]

I changed once the parameter in amplify/backend/auth/cforeports89a5c9ae/cforeports89a5c9ae-cloudformation-template.yml
[code]
However, this didn't help, somewhere else the previous version of node is kept in the settings

**Amplify CLI Version**
3.17.0

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

[code]

**

[2020-01-08 23:38] binarytide commented on #3136
I'm getting this even after updating runtimes to `nodejs12.x` ```Following resources failed

Resource Name: UpdateRolesWithIDPFunction (AWS::Lambda::Function)
Event Type: create
Reason: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. ```

[2020-01-08 23:56] CodySwannGT commented on #3127
@kaustavghosh06 - What was the resolution?

[2020-01-09 00:07] ammarkarachi commented on #3141
@JoeShi taking a look

[2020-01-09 00:08] kaustavghosh06 commented on #3127
@CodySwannGT I believe you opened up #3147 as requested by @SwaySway?

[2020-01-09 00:09] kaustavghosh06 commented on #3136
@binarytide Are you using the latest version of the CLI? It used Node 10.x

[2020-01-09 00:10] kaustavghosh06 commented on #3149
@sorokinvj Please upgrade to the latest version of the CLI and push again - to update the node runtimes (we migrate you automatically). Please comment on this thread if you're still stuck and not able to migrate.

[2020-01-09 00:10] #3149 closed

[2020-01-09 00:31] fireflysemantics commented on #82
Same issue here ...

[2020-01-09 00:40] CodySwannGT commented on #3127
@kaustavghosh06  I did, but the original issue here has not be resolved from my standpoint.

@SwaySway said he couldn't repro, but it was 100% reproducible on our end. I just don't have the schema right now because we had to hack a very non-solution into our code base to meet a deadline

[2020-01-09 00:48] ammarkarachi commented on #3146
@lawmicha thanks for the question. It's an optional input provided by default. This is utilized as support for datastore on other operations. Closing the issue for now let me know if you have any other questions.

[2020-01-09 00:56] lawmicha commented on #3146
To provide additional context, we are exposing ways to call amplify provisioned services over on the amplify iOS and amplify android frameworks in API Category and is confusing to allow the developer to pass a condition on create mutations. To clarify, it should never be used on create mutations, then is it technically feasible to update the transformer to only add the condition input to update an

[2020-01-09 00:56] SwaySway commented on #3137
@artyom-melnikov Do the pipeline functions have the same name?

[2020-01-09 00:58] kaustavghosh06 commented on #3127
@CodySwannGT Okay, please send us the schema once you get time as requested and we'll look into it.

[2020-01-09 01:04] ammarkarachi commented on #3143
@aveeday Thanks for bringing this up. The mock framework basically runs as a subprocess. We would need to bubble up the error from the process.

[2020-01-09 01:08] nikhname commented on #2680
Also, it appears that your includes in the graphql.yml file is invalid (multiple backslashes). Could you confirm this? I tried this with the default src/graphql/**/*.graphql and the API.service.ts was updated as expected.

[2020-01-09 01:30] ammarkarachi commented on #3134
@berenddeboer `amplify push` should compile your schema file also 'amplify api gql-compile` will also compile the schema after a change

[2020-01-09 01:43] berenddeboer commented on #3134
Well, I wouldn't ask for help if `amplify push` did this right? Just install the latest, do `rm src/graphql/schema.json` and let me know if that regenerates it. Not since 4.9.0 on my system.

Same for `amplify api gql-compile`. Doesn't do a thing.

[2020-01-09 02:40] CodySwannGT commented on #3127
Just to confirm, per @SwaySway recommendation, **yes** if we change the following line:

[code]

to

[code]

The issue immediately returns and ``balance`` is again null.

I will send the amplify folder shortly

[2020-01-09 03:47] CodySwannGT commented on #3048
Not much to add - same as the others. Fix or a workaround would be fantastic as we're in production with no path forward.

[2020-01-09 04:44] hello2all commented on #3143
It would be great if an example of error handling could be provided in the [transform docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-1), and state error handling in mock is currently WIP.

[2020-01-09 06:16] artyom-melnikov commented on #3136
@sorokinvj You need yo update amplify to the recent version. Then after you'll do amplify init it will suggest you to update version of the auth lambda runtime

[2020-01-09 07:08] rehanbabertkxel commented on #2680
@nikhname , in my case there was an issue with .yml file. It worked after fixing it.

[2020-01-09 07:15] rehanbabertkxel opened #3151 "Amplify Cognito: No Current User"
**Which Category is your question related to?**
Amplify, Appsync, GraphQl, Lambda

**Amplify CLI Version**
4.6.0

**What AWS Services are you utilizing?**
Cognito Authentication, API_KEY Authentication, Lambda

**Provide additional details e.g. code snippets**
I have Cognito Authentication enabled in my app and I am calling a Lambda function from my Angular Client.
What I want t do is that I want

[2020-01-09 09:25] SebSchwartz opened #3152 "Codegen add with apiId is asking to delete when trying to push on new system"
**Describe the bug**
When adding codegen to a project (appsync not created with amplify) with apiId option. If a new developper (or ci/cd in my case) init the amplify project selecting an existing env, amplify status will tells him that pushed changes will delete it.

**Amplify CLI Version**
4.11.0

**To Reproduce**

- Create an amplify project and add codegen: amplify add codegen --apiId AppSyncA

[2020-01-09 09:49] stefangomez opened #3153 "Catalina upgrade -- node/terminal full disk access"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Catalina issue with env pull/push

**Amplify CLI Version**
4.11.0

**To Reproduce**
Upgrade to Catalina, and Upgrade from Amplify 3.x to 4.x

**Expected behavior**
Amplify push work normally

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (ple

[2020-01-09 09:51] rehanbabertkxel commented on #3151
@kaustavghosh06 , can you help?

[2020-01-09 11:12] jasonbobier commented on #2123
Sorry for the delay. I was away for xmas... :)

So, that still generates one big MyApiName.swift file. I want to be able to split up the code into separately generated files.

[2020-01-09 11:21] rehanbabertkxel commented on #1695
I am facing a similar issue.
I am surprised that in order to configure Amplify in Lambda we need both the User Pool Id and the Client Id but we only get User Pool Id in process.env.
@SebSchwartz , adding it to the team-provider-info.json might expose it too.

[2020-01-09 11:55] Soek22 commented on #3109
Hi @attilah ! this behaviour misalignment may be considered as a `bug` and get some more visibility, because it is breaking previously deployed backends, preventing them from working on new API/Datastore plugins.

It breaks any schema that does have a custom index that differs from `id`.
You can check specific iOS source code that causes this: https://github.com/aws-amplify/amplify-ios/issues/284

[2020-01-09 14:57] sorokinvj commented on #3136
updated to 4.11.0 and everything fixed. Thanks!

[2020-01-09 14:57] sorokinvj commented on #3149
Updated to 4.11.0 and everything worked, thanks!

[2020-01-09 15:37] CodySwannGT commented on #3127
Welp. Literally did the same thing again. Added and removed the above line and the problem is gone.

I also upgraded to the latest CLI, so maybe that was it?

[2020-01-09 15:37] #3127 closed

[2020-01-09 16:07] PHironaka commented on #3149
@sorokinvj how were you able to upgrade?
@kaustavghosh06 I've uninstalled the global cli, cleared cache and reinstalled  `npm uninstall -g  @aws-amplify/cli`  but still says 3.17.0.

I even added `"@aws-amplify/cli": "^4.10.0"` to my package.json file and it's still not showing the latest version.

[2020-01-09 16:22] PHironaka commented on #3149
anyone that runs into this issue - outside of uninstalling/reinstalling and clearing cache on your global clis, make sure to check if it's a EACCES permissions issue. That's what solved the problem for me.

https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2020-01-09 16:32] RossWilliams commented on #3003
@LpmRaven Mike Paris has commented in the issues previously that the amplify model design was deliberate because it offered more flexibility in evolving a schema vs. a single table design. The deep dive video is very helpful for amplify users as well, but I'm curious if you have specifics on which sections you would want to change and why.

[2020-01-09 17:41] nikhname commented on #2680
Closing this issue. Please feel free to comment if you are still facing this issue version 4.11.0 onwards when using correct paths in the grapqhl.yml file and no syntax errors in the API.service.ts file.

[2020-01-09 17:41] #2680 closed

[2020-01-09 17:44] nikhname commented on #2950
Closing this issue since I am not able to reproduce this. Please comment if you have more detailed steps for reproducing this version with 4.11.0

[2020-01-09 17:44] #2950 closed

[2020-01-09 19:07] kaustavghosh06 commented on #3153
@stefangomez Thanks for the information. This would be useful for anyone else trying to update to Catalina.

[2020-01-09 19:07] #3153 closed

[2020-01-09 19:10] kaustavghosh06 commented on #3151
@rehanbabertkxel Amplify JS doesn't have NodeJS support yet and supports only frontend frameworks for now (Angular in your case).  Please take a look at - https://aws-amplify.github.io/docs/js/angular

You can make a call to your GraphQL endpoint which will call a function which can have access to your Cognito User Pool (and you would probably have to use the AWS JS SDK for your cognito requests).

[2020-01-09 19:13] kaustavghosh06 commented on #3113
@fblanton Did you use the latest version of the CLI to deploy? We fixed it in our latest version. Please comment on this thread if you're seeing this.

[2020-01-09 19:13] #3113 closed

[2020-01-09 19:27] kaustavghosh06 commented on #3134
@berenddeboer The introspection schema - `schema.json` is not needed anymore for codegen. Previously we were using it for codegen of your mutations, queries and subscriptions. Are you seeing any discrepancy with the code generated?

[2020-01-09 19:35] kaustavghosh06 commented on #3138
@JoeShi can you check your `<project-path>/amplify/.config/local-env-info.json` and check your projectPath key and see if it's correct?

[2020-01-09 19:48] kaustavghosh06 commented on #3121
@arkllc The IAM role should be specified on your Lambda function (in the execution role). If the Lambda doesn't have access to it (in your account) - then your API won't be able to call it. It's not possible to do the reverse.

[2020-01-09 20:01] #2745 closed

[2020-01-09 20:04] kaustavghosh06 commented on #2788
Closing due to lack of requested information. If you're still stuck on this please feel free to comment on this thread.

[2020-01-09 20:04] #2788 closed

[2020-01-09 20:04] kaustavghosh06 commented on #2962
Closing this issue. If you're still stuck on this please feel free to comment on this thread.

[2020-01-09 20:04] #2962 closed

[2020-01-09 20:14] bob-lee commented on #3047
@SwaySway you spotted well that I missed Job.joblines in my original post (too simplified). Anyway I retested and found the issue has gone. I mean I am getting real time updates on joblines only for subscribed company as expected. Originally jobline subscription was anoymous then changed to be by company. I guess that change left some unwanted dangling stuff on the cloud refusing to be by company?

[2020-01-09 20:14] #3047 closed

[2020-01-09 20:19] SwaySway commented on #2768
Hello @Flos
If I'm understanding this correctly your lambda exists in a different project and would like updates on another project (said Amplify App)?
If so the lambda can trigger a mutation which could effectively update your db. This mutation could can be subscribed and you can receive updates for it.

Or is the db separate from db created from `topic @model`

[2020-01-09 20:42] ammarkarachi commented on #2778
@bob-lee I am sorry for the delay. I would suggest using Cognito for finer grained control over fields. Let me know if that answers your question

[2020-01-09 21:40] martaGonz commented on #1546
@babu-upcomer when I change the template and parameters I get this error, do you know why?

[2020-01-09 22:13] fireflysemantics opened #3155 "Has domain been removed from aws-exports.js?"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito
** Provide additional details e.g. code snippets **

The first time I generate an `auth` configuration it had `domain` included like this:

[code]

However it's no longer included in `aws-exports`after I updated the CLI.  Has this been removed?

We can login to the AWS Console to get it, but i

[2020-01-09 22:54] SwaySway commented on #3148
Hello @oliverandersencox
In the provided schema there are two owner based rules
[code]
Since owner is a required field for subscriptions, (based on the auth change to subscriptions view here: [authorizing subscriptions docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions))
An current owner is required for the `ownerField group: "owner"` and required to exist in

[2020-01-09 23:18] kkesley-shine commented on #1366
does this issue apply to `parameters.json` as well? I think this is really necessary.

for example, in production environment, we can have:

[code]

It doesn't make sense to use that config for dev env, though..

[2020-01-09 23:36] fireflysemantics commented on #3155
I think I may know what happened here and I'm testing it out now.

For one I accidentally deleted the entire domain prefix when running the `amplify add auth` and I think this caused the cloudformation to be created without a domain.

So maybe put a validation check in there to make sure that it cannot happen.

Upon realizing this I ran `amplify delete` and nuked everything.

I think when we do th

[2020-01-09 23:52] fireflysemantics commented on #3155
OK `domain` is back.  I think the problem there was that I deleted the prefix accidentally when asked for it.  I thought the CLI would just put in a random one.

Pretty sure the second part of the problem is that when running `amplify delete` it does not delete `aws-exports.js` so even if we rerun `amplify add auth` the old configuration is not updated ... hence I still did not see domain ...

[2020-01-09 23:58] multidis commented on #1546
@martaGonz this happens because AWS Cognito does not allow modifying user attribute settings after the pool was already created. You probably need to create a new amplify backend, go over the `amplify add auth` prompts, then modify the CloudFormation template, and only afterwards run `amplify push`.

[2020-01-10 00:17] malcomm commented on #1703
@kaustavghosh06 & @mikeparisstuff - I wanted to get back to this issue. So I think this feature was implemented for the "old" connections:

[code]

So this is working very well. I've been looking at the latest amplify-cli and I was changing how I as doing my connections, so I changed to this:

[code]

From what I'm seeing is that the `limit` is not being respected here and just the default limit o

[2020-01-10 00:28] ammarkarachi commented on #3155
@fireflysemantics The `aws-exports.js` deletion is being worked on right now. I will close this issue for now. Feel free to reach out.

[2020-01-10 00:28] #3155 closed