[2019-08-18 16:59] RossWilliams commented on #2069
It’s not well explained in the documentation, but if you create a test schema and inspect the generated templates it should be clearer.

The patch file is a git patch file, just with a different extension. Adding it into the repo needs someone to do the work for tests and documentation.

[2019-08-18 17:04] edlefebvre commented on #1639
@janhesters that's true. But maybe I can explain better what troubles me. Taking the example in the documentation :

With this schema:
[code]

You can make this query:
[code]

You get everything with this single query. How would you do the same query with a single table schema?

[2019-08-18 17:51] janhesters commented on #1639
@edlefebvre To understand that, you would need to read [this](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-relational-modeling.html).

[2019-08-18 18:28] norby3 commented on #454
Thanks @undefob.   This is a BIG deal!  And yet it is buried here in a github issue.  Nine months later - does this appear in any AWS documentation?  Nader Dabit @dabit3 are you listening?  Amplify or AppSync team??

[2019-08-18 22:17] dabit3 commented on #454
We opted to go without `graphql-tag` by default because the Amplify GraphQL client does not use it and, when using the Apollo client, their documentation shows that it needs to be added manually anyway.

[2019-08-18 23:59] jacintoArias opened #2085 "CLI error on amplify mock api: Provided options.stopPort..."
**Describe the bug**
Followed the Angular tutorial to create one of the sample GraphQL APIs (Blog/Post/Comment sample). API and service works both in the app and remotely connecting via Graphql console (playground).

Running `amplify mock api` returns the following error:

[code]

**Additional context**
Add any other context about the problem here.

Amplify CLI version is 1.12.0 and amplify packag

[2019-08-19 04:23] iamtekeste commented on #1016
This is an awesome project and I was wondering as to why the CLI doesn't support adding API keys as auth type for REST APIs?

[2019-08-19 04:48] nino-moreton opened #2078 "1.12.0 can't access functions due to CORS error"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
1.11.0 all my lambda functions were working fine and after upgrading to 1.12.0, all the lambda functions are not working due to CORS error
[code]
I already have added `Access-Control-Allow-Origin` in my headers so this shouldn't be happening.

**To Reproduce**
Steps to reproduce the

[2019-08-19 04:59] kaustavghosh06 commented on #2078
@nino-moreton After upgrading to 1.12.0, what changes did you make to your function before deploying?

[2019-08-19 05:01] nino-moreton commented on #2078
@kaustavghosh06 just some insignificant `console.log()` text change

[2019-08-19 05:02] kaustavghosh06 commented on #2078
Are you accessing this function directly from your app client or via API Gateway/AppSync?

[2019-08-19 05:04] nino-moreton commented on #2078
@kaustavghosh06 I'm using @aws-amplify's `API` so I do API.post(...) and/or API.get(...)

[2019-08-19 05:07] nino-moreton commented on #2078
@kaustavghosh06 should also mention that after making this change, rolling back to 1.11.0 still produces this error and doesn't reverse the effect :(

[2019-08-19 05:36] kaustavghosh06 commented on #2078
@nino-moreton This is very strange. I had a project with an older version of the CLI and I upgraded to 1.12.0 and didn't receive the errors with the following client code to call my REST API's. Can you try creating a test API with a lambda function and check if you're seeing the same issue?

[code]
Are you seeing this issue with authenticated or unauthenticated users making the API call?

[2019-08-19 05:39] nino-moreton commented on #2078
I shall try it with a brand new project.

I'm encountering this issue with an authenticated (cognito) user making the API call.

[2019-08-19 06:06] nino-moreton commented on #2078
sorry was my fault I guess. Couldn't replicate in a new project.

[2019-08-19 06:06] #2078 closed

[2019-08-19 08:14] SebSchwartz opened #2079 "Add/Edit signin and signout redirect URIs removes lambda trigger"
**Describe the bug**
When editing the signin and signout url from CLI for social providers, it deletes all stuffs related to lambda trigger for cognito.

**To Reproduce**
Steps to reproduce the behavior:
1. amplify auth add (with social provider)
2. amplify push
3. amplify auth update (add lambda trigger)
4. amplify push
5. amplify auth update
[code]

**Expected behavior**
I expect this update to

[2019-08-19 08:39] houmark opened #2080 "What the **** is going on in AWS land?"
**Describe the bug**
I don't really know where to start, and yes, this should probably be 2-3 bug reports and yes those bug reports should probably be in 2-3 different repositories, but I really cannot find the energy to consider all that.

I have a fairly simple Amplify setup. It has two environments, dev connected to a develop Git branch and prod connected to master.

I have `@searchable` on one

[2019-08-19 09:15] azatoth commented on #2080
This also happens to me, and I'm uncertain how to proceed from here.

[2019-08-19 09:40] idanlo opened #2081 "Custom names for plural queries"
**Is your feature request related to a problem? Please describe.**
AppSync automatically adds an 's' at the end of a model name when it is a plural query, meaning if you have a model called User then the `list` query for that model will be `listUsers` which is good. But if you have a model named `Business` or `Person` then the `list` query will be `listBusinesss` or `listPersons` which is grammati

[2019-08-19 09:43] Mknight492 opened #2089 "Unable to update qraphQL schema"
currently onusing window with WSL

using amplify version 1.12.0

I created a graphQL schema with amplify add api

I now want to update the schema and I have tried with amplify update api and amplify api gql-compile. It doesn't update the schema in ./build despite saying the schema has compiled correctly (it will say this even if it's a completely invalid schema).

Once a hit amplify push it will o

[2019-08-19 10:18] attilah commented on #2077
@TeoTN as @RossWilliams is also pointed out it is more a design question and such Amplify forums are a better place to post them.

Regarding the problem itself you mention that users can rearrange items, but the field that's holding the ordering information is not exposed in the model. While I'm sure there is a design reason behind it, exposing it could simplify the item reordering use case.

Incl

[2019-08-19 10:18] #2077 closed

[2019-08-19 10:25] attilah commented on #2074
@clinicalinkgithub thanks for reporting this issue we'll look into it.

[2019-08-19 10:29] attilah commented on #2073
@lenarmazitov using the ```fields``` property in the ```@key``` definition you can tell which fields you want to include, see the [docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#key] for more details.

Closing the issue, but if something new comes up, feel free to reopen it. For generic questions like this the Amplify forums are a better place to ask and get help from the community

[2019-08-19 10:29] #2073 closed

[2019-08-19 10:36] attilah commented on #2065
@idanlo reading the responses from @RossWilliams I think you have your questions answered, so I'm closing the issue. Thanks @RossWilliams.

@idanlo feel free to reopen the issue if something new comes up.

[2019-08-19 10:36] #2065 closed

[2019-08-19 10:46] thedgbrt commented on #1204
@RossWilliams thank you for taking the time to explain, made me realize amplify was much more powerful than I thought 👍

[2019-08-19 11:21] baharev commented on #1847
@RossWilliams Wise words. You might be interested in an approach @lestephane [sketched in his comment](https://github.com/aws-amplify/amplify-js/issues/54#issuecomment-436180132). Although my use case is significantly different from his, it turns out that after restructuring my application a *similar* approach works for me too.

[2019-08-19 12:22] SebSchwartz opened #2082 "Facebook auth: Unauthenticated access is not supported for this identity pool."
**Describe the bug**
I'm using defaultSocial params and created a new facebook app (in dev for facebook). I updated the auth to edit facebook information (different env). I pushed my changes and publish the ui again. On cognito console, all informations about facebook are the new ones. When I try to login, I receive this error from cognito-identity. Also, I have a PostConfirmation lambda trigger t

[2019-08-19 12:32] edlefebvre commented on #1639
@janhesters thank you for sharing, but I already read it several times. I understand the logic behind this, but not the implementation with amplify / graphql. Maybe it's because I should denormalize data in a certain way...

[2019-08-19 14:08] attilah commented on #2082
@SebSchwartz could you please clarify these:

Where exactly?

What is the error you're seeing?

[2019-08-19 14:14] SebSchwartz commented on #2082
When I browse the identities in the Federated Identities console.

When it does a request to: https://cognito-identity.eu-west-1.amazonaws.com/
I've as response:
x-amzn-errormessage: Unauthenticated access is not supported for this identity pool.
x-amzn-errortype: NotAuthorizedException:
Error code: 400

In the status bar:
myurl/?error_description=Exception+processing+authorization+code&state=ioYu

[2019-08-19 14:19] attilah commented on #2082
@SebSchwartz could you please confirm this value: ```amplify/backend/auth/cognito[nnn]/parameters.json``` ```allowUnauthenticatedIdentities```?

I guess this is ```false```, because you answered No, to the related question during the ```auth update```.

[2019-08-19 14:27] SebSchwartz commented on #2082
Yes it's:     "allowUnauthenticatedIdentities": false,

[2019-08-19 14:29] attilah commented on #2082
Please change, push and try it, to see what is the result after the change.

[2019-08-19 14:44] SebSchwartz commented on #2082
I can now see the identity inside Federated Identities console.
I don't have http error (receiving 200).
But still the same error message :(

Here is request/response header with idpresponse?code=...:
[code]

[2019-08-19 15:05] aireater opened #2083 "Naming and reausing @auth directives"
**Is your feature request related to a problem? Please describe.**
In my schema I have many objects that have the same `@auth` directive defined creating a lot of duplicated code. To make near-global changes requires search and replace or manually updating each instance of a rule.

**Describe the solution you'd like**
Is it possible to create named `@auth` directives that can be reused across mult

[2019-08-19 15:16] darnmark64 opened #2084 "API IAM Authorization Role Error: Maximum policy size of 10240 bytes exceeded for role"
Our application has 11 API Gateway definitions with multiple endpoints (GET, POST, PUT, DELETE). Each endpoint restricts API access to authorized users. We're running into the error condition "Maximum policy size of 10240 bytes exceeded for role" when the IAM authRole is updated. I've read that we should split up the authRole but I don't see how to do that in Amplify. Any help would be greatly app

[2019-08-19 15:54] attilah commented on #2083
@aireater we had discussion with the team about this and the proposed solution was to leverage schema level directives for this, but it was not planned yet. /cc @kaustavghosh06

[2019-08-19 16:10] moransk8 commented on #2072
I already create a profile in the EC2 instances but when I run cat ~/.aws/config in codebuild there is no profile set. Is there a way to use the headless script with the acces key and secret key instead of using a profile? I can set those keys in the environment.

[2019-08-19 16:53] timoteialbu opened #2087 "Uploading the files of the web app to S3 should be in a different order"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
We get the following error when deploying our app:
![image](https://user-images.githubusercontent.com/6344489/63282897-14574c00-c26d-11e9-8124-961775c44259.png)

This error happens for a brief 15-30 seconds, but its enough to give us less than 100% uptime.

The reason this happens is

[2019-08-19 17:29] rakannimer commented on #2072
Hey @moransk8,

You could try installing and using the aws cli to create the default profile from your access key id and secret

[code]

Make sure to set the env variables AWS_ACCESS_KEY_ID, secret and region before you run the commands above or replace them with the real values.

[2019-08-19 18:51] attilah commented on #2087
@timoteialbu Thanks for reporting the issue looking at the code briefly and I saw that there is no  special ordering being during file scan, extra handling for the index document should be added there [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-scanner.js#L5).

Would you be interested submitting a PR with test for

[2019-08-19 19:03] UnleashedMind commented on #2087
@timoteialbu
Thanks for pointing this out. But I will re-label this as a enhancement instead of a bug.
The CLI hosting feature is currently a general approach for different frontend frameworks, different update can change different parts of your application, and if there's a mismatch between the index file and other files that it refers to due to an update, you will see this behavior. So uploading

[2019-08-19 19:40] UnleashedMind commented on #2072
@moransk8
Yes you can use credential keys directly instead of using a profile.
Use this script as the reference
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/sample-headless-scripts/headless_configure_project.sh

and in AWSCLOUDFORMATIONCONFIG change "userProfile" to false, and set the keyId and accessKey.

AWSCLOUDFORMATIONCONFIG="{\
\"configLevel\":\"project\",\
\"u

[2019-08-19 19:42] UnleashedMind commented on #2072
@rakannimer
We don't guarantee that the aws credentials setup will be automatically picked up by the Amplify CLI.
specially if there's temp credentials and caching

[2019-08-19 21:16] moransk8 commented on #2072
thanks @rakannimer this solve the issue.

[2019-08-19 21:16] #2072 closed

[2019-08-19 22:38] dabit3 commented on #2004
I think I misunderstood this initially. I was also now able to reproduce after cloning the project. Previously I was unable to reproduce because I was in a new project. Steps to reproduce:

1. Clone project at https://github.com/dabit3/conference-app-in-a-box
[code]

2. Initialize amplify project
[code]

3. Mock API
[code]

[2019-08-20 01:29] kaustavghosh06 commented on #2080
Hey @houmark,
Sorry to hear that you are having issues with deploying your app via the Amplify CLI/Console. I’ll try helping you out so that you’re unblocked, and address your concerns.

**1. Error on Amplify console and inconsistencies between codegen generated by the CLI vs codegen generated by the Console.**
This issue is due to the different versions of the CLI running locally and on the Conso

[2019-08-20 01:29] rajeshrthl commented on #501
I've got this same issue. Is there no way to see verbose error message when running amplify commands? Adding a flag like `--verbose` would be greatly helpful when debugging issues.

[2019-08-20 01:58] houmark commented on #2080
Thanks @kaustavghosh06 — I will respond more elaborate to your feedback later, but right now my main concern is Elasticsearch and the fact that my dev environment wants to run Elasticsearch in one way (in relation to nextToken) and my prod environment wants it opposite. There's no way I can fix this I believe. I think an `amplify push` changed the configuration in the cloud for my dev environment

[2019-08-20 02:31] kaustavghosh06 commented on #2080
@houmark In my response above, I've mentioned about the root cause for the issue - it's tied to the inconsistency between your dev environment which was deployed via the CLI locally with version 1.12.0 and your prod environment deployed via Amplify console was using an older version of the CLI - 1.7.0. The Console is now updated to use the latest version of the CLI, and if you re-deploy your app (

[2019-08-20 02:43] developer-mobile-apple commented on #1996
`**sudo npm install -g --unsafe-perm --verbose @aws-amplify/cli**` worked for me

[2019-08-20 02:49] preetamjadakar commented on #1996
`sudo npm install -g --unsafe-perm --verbose @aws-amplify/cli`
worked for me.

[2019-08-20 03:17] dkwl93 commented on #307
Will there be proper documentation on this? Other than just the sample scripts (they're super helpful but would like a bit more documentation explaining what options are available and what they're for etc.)

[2019-08-20 03:31] dkwl93 commented on #307
My use case is:
[code]

so *YES* to code gen but *NO* to generate all possible query/mutation etc.

[2019-08-20 03:36] rawadrifai commented on #1766
@undefobj @mikeparisstuff This is a great start.
Please keep in mind the use case where Cognito groups do not suffice.

For example, I interject a login request to append the groups a user belongs to. I get those from Dynamo. So to check whether a user belongs in a group or not, please do so with the token not a call to Cognito. I assume this is the case right with this release.

[2019-08-20 03:38] rawadrifai commented on #1043
@undefobj  This is a great start.
Please keep in mind the use case where Cognito groups do not suffice.

For example, I interject a login request to append the groups a user belongs to. I get those from Dynamo. So to check whether a user belongs in a group or not, please do so with the token not a call to Cognito. I assume this is the case with this release.

[2019-08-20 04:03] jzstern commented on #91
++ on this

[2019-08-20 04:23] undefobj commented on #1043
@rawadrifai the Static Group checks are done against claims in the JWT which Cognito gives after a user logs in, so it's not a call to Cognito during connection time. The reason we cannot do Dynamic Group auth is unlike a query or mutation there isn't an item to check against for a subscription (e.g. no authorization metadata exists). I'm still thinking about how to expand that in the future, you

[2019-08-20 04:25] undefobj commented on #1766
Answered in https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-522847175

[2019-08-20 04:38] stefangomez commented on #2085
have this same issue, and other similar issues. I never got a clean install of amplify without errors though until I did the following:

1. downgrading to node 8 (I completely uninstalled then reinstalled using nvm so that I can easily switch back).
2. installing java from apple: [link](https://support.apple.com/kb/dl1572?locale=en_US)
3. installing zmq via brew `brew install zmq`
4. reinstalling

[2019-08-20 04:40] stefangomez commented on #2085
I should note, I have lsof installed like mentioned here: https://github.com/aws-amplify/amplify-cli/issues/2062

[2019-08-20 04:48] AmanJaveriKadri commented on #2071
Thanks for the feedback! I think the adjacency list patterns you mention should be feasible to use with @connection along with the optional model parameter. I'll try and put together some examples of the best practices models.

[2019-08-20 04:55] stefangomez commented on #156
I commented on another ticket about implementing a python lambda. I'm something similar can be done for golang. Luckily after initial setup, there's no more work to do. just add code: https://github.com/aws-amplify/amplify-cli/issues/1505

[2019-08-20 05:04] AmanJaveriKadri commented on #2071
That's a great point about it being clearer to have @model overloaded to point to a different table. That is definitely something that we can look at for the future, and we'd agree that this would be a clean way to organize multiple object types in a single model.
It's true that one can't usually use @connection on a non-model type, and this would be changing that rule. It is, however, intended on

[2019-08-20 05:24] rawadrifai commented on #1043
@undefobj I am a bit confused.
I use the pre token generation trigger in Cognito to inject the groups after pulling them from Dynamo. So they're in the token, and they work fine for @auth models. Will this update to subscriptions be able to read the groups from the jwt if done as described?

[2019-08-20 05:56] houmark commented on #2080
So I can confirm that I was now able to deploy dev again and it seems to be working all around, including nextToken as a String value.

Looking forward to sorting with `createdAt` also being resolved. Thanks for your help so far @kaustavghosh06!

[2019-08-20 08:58] Lasim commented on #2085
Unfortunately, I have the same problem.

Amplify: `1.12.0`
Node: `v12.1.0`
Java: `1.8.0_201`

Clean VueJS installation
[code]

After running cmd `amplify mock` I get the following error:
`Failed to start API Mock endpoint Error: Provided options.stopPort(40000is less than options.startPort (62224)`

[2019-08-20 09:09] RoelVanderPaal commented on #2085
I had the same problem. Upgrading to the latest node version (v12.8.1) using nvm solved it.

[2019-08-20 09:35] j-r-t commented on #202
Really need interface to support @model and the implementing types to use a single table. For example if we have a type of Post and a TextPost or ImagePost I would like all of the Posts to be contained in a single table.

[2019-08-20 10:09] Lasim commented on #2085
Thanks for your message @RoelVanderPaal.
I've upgraded my node version to `v12.8.1`

Unfortunately the problem still persist :/

[2019-08-20 11:15] RossWilliams commented on #2081
To piggy-back on this, acronyms and initialisms for type names get mangled for the auto-generated connection indexes. 'GCHQ' type with a 'site' connection parameter becomes gCHQSiteId.

[2019-08-20 11:17] RossWilliams commented on #2073
@attilah I think the question by the title is different. The question is about choosing which attributes are projected into the index, rather than which attributes can be used for the primary key.

[2019-08-20 12:23] attilah commented on #2089
@Mknight492 if you want to work on the GraphQL schema, you just have to edit the ```.graphql``` file in ```<projectdir>/amplify/backend/api/<api name>/schema.graphql``` file and then ```amplify push```.

```amplify api gql-compile``` will actually apply the transforms and builds the ```.graphql``` file and the resolver files into the ```<projectdir>/amplify/backend/api/<api name>/build``` folder.

[2019-08-20 12:25] iparrabb opened #2092 "Best way access table name from custom resolvers"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
AppSync DynamoDB

** What AWS Services are you utilizing? **
AppSync DynamoDB

** Provide additional details e.g. code snippets **
I have a project with multiple environments and need access to DynamoDB tables from custom resolvers with AppSyncApiId

[2019-08-20 12:28] attilah commented on #2079
@SebSchwartz could you please confirm that at step 5 you're providing the same answers to the questions that you answer at step 3? Based on the behavior you see I assume that your cognito triggers are not getting configured at step 5, hence we delete them. To be able to better track what is changing locally I'd suggest a local git commit and compare the local changes between step 3 and 5.

Please

[2019-08-20 12:31] attilah commented on #2036
I'm closing this issue since the PR in progress will address this behavior and is already referenced in the comment above.

[2019-08-20 12:31] #2036 closed

[2019-08-20 12:38] SebSchwartz commented on #2079
No I didn't put same answer (didn't reconfigure the triggers in step 5)...
So As you suggested the flow, it could not be a bug but it's not really "user friendly". I didn't wanted to configure it again as I was afraid it would create a new one and delete my actual code.

So maybe a good idea could be a question showing already existing triggers and asking if we want to edit them or not? Like it's

[2019-08-20 12:40] attilah commented on #2079
Thanks for the clarification, so it is the current behavior and I'll mark this issue as an enhancement to make the DX better, which is a continuous goal for us.

[2019-08-20 12:41] SebSchwartz commented on #2082
I saw the pending-response label after my response so in case of mis-refresh, commenting again ;)

[2019-08-20 12:43] SebSchwartz commented on #2079
Thanks for quick reply ;)

[2019-08-20 12:44] attilah commented on #2082
At this point I cannot tell if it is an Amplify JS error or a configuration error without the concrete details, let me summon @elorzafe perhaps they saw a similar error before.

[2019-08-20 12:46] attilah commented on #2047
@nikevp Could you please provide some more details we asked above?

[2019-08-20 12:54] BabyDino commented on #2058
I've been basically asking the same question(s) in #1970. I would like to use `@model` to generate all VTL files _and_ connect to a custom table.

@Einstein42 Which CFT are you trying to change? I'm interested in the 'opt-in' as well.

When I use `amplify api gql-compile` it generates the code I need including the VTL's. I'd like to change the CFT but don't want Amplify to change anything with reg

[2019-08-20 13:11] attilah commented on #1325
@mwarger I tried to look into the issue, and I can see the output file, but cannot see how that ```custom-queries.ts``` was generated from the GraphQL definition you've in the repro repo. Could you please reproduce this with the latest version of the CLI and provide more details on how could I repro this issue?

[2019-08-20 14:19] rpostulart commented on #91
I have this schema deployed with aws amplify

[code]
Then I use this query:

[code]
But I receive this error

[code]

[2019-08-20 14:55] stdmn commented on #799
+1 on this. Having 'fuzzy' available in @searchable out of the box would be ideal

[2019-08-20 15:19] SebSchwartz opened #2094 "Workflow for multi-account environments"
** Which Category is your question related to? **
Multi-env

** What AWS Services are you utilizing? **
Hosting, appsync (with aurora), cognito

** Provide additional details e.g. code snippets **
I wonder if the proposed flow for multi env is working for multiple aws account. I will have 5 different aws account (rootAccount, iamShared, dev, test, prod) and want to be sure that I can work with mul

[2019-08-20 15:25] iamtekeste commented on #223
I love AWS Amplify but I am still facing this issue. How is this not a big deal and why is it closed?
Is there any workaround at least?

[2019-08-20 15:27] kaustavghosh06 commented on #223
@iamtekeste You can always modify your Lambda function located in ‘amplify/backend/function/<fn-name>/src/app.js’ and change the ‘let tablenname’ parameter to any table you want to reference from the Lambda function.

[2019-08-20 15:29] iamtekeste commented on #223
Thank you @kaustavghosh06 for that workaround!

[2019-08-20 15:30] lenarmazitov commented on #2073
@attilah  yes, thats what I mean.

[2019-08-20 15:58] lenarmazitov opened #2095 "Invalid autogenerated queries for composite sort key"
**Describe the bug**
If we will create composite sort key via @key directive, and then generate queries we will get wrong query.

**To Reproduce**
Schema:
[code]

autogenerated query:
[code]
Above query is wrong, because we do not have attributes type and target.

**Expected behavior**
Is autogenerated query should work out of the box?
How can we query **type#target** attribute, seems like it is a

[2019-08-20 16:10] GuidoBeutlerHRS opened #2096 "UPDATE_FAILED UpdateRolesWithIDPFunctionOutputs Custom::LambdaCallout 'IdentityPoolId' not found in stack"
**Describe the bug**
I am using

**amplify --version**
**1.12.0**

At any create or update on any configuration, which is not the default configuration, the amplify update fail with:

UPDATE_FAILED               UpdateRolesWithIDPFunctionOutputs      Custom::LambdaCallout      Tue Aug 20 2019 17:40:30 GMT+0200 (GMT+02:00) Output 'IdentityPoolId' not found in stack '...'

or

CREATE_FAILED

[2019-08-20 16:19] jkeys-ecg-nmsu commented on #2094
@SebSchwartz yes, as long as you have named profiles setup for each IAM user. I name each profile the same name as each AWS account to keep it simple.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

[2019-08-20 16:24] jkeys-ecg-nmsu commented on #2080
@kaustavghosh06 maybe Amplify could publish a list of Known Limitations and any other gotchas that might exist, so customers can more accurately gauge ahead of time whether Amplify will work for them.

[The Sumerian service team already does this.](https://aws.amazon.com/releasenotes/amazon-sumerian-known-issues/?tag=releasenotes%23keywords%23amazon-sumerian)

[2019-08-20 18:33] undefobj commented on #1043
@rawadrifai that's the idea, we're trying to see if you can pass in a `groupsField` (or something like that) into the auth rule for subscriptions which would correspond to your claim.

[2019-08-20 20:56] RossWilliams commented on #2080
@kaustavghosh06  Will the upgrade cause build errors for users still on 1.7.x ? What is the plan here? The open bug in #1581 will cause a failure for some of these users who were previously relying on 1.7.

[2019-08-20 21:18] kaustavghosh06 commented on #2095
@lenarmazitov Could you explain more about this "do not have attributes type and target."?
You have type and target as required attributes in your schema.

Also, the auto-generated AppSync resolvers take care of concatening the corresponding fields you pass in your query. Did you try testing this query?

[2019-08-20 21:22] kaustavghosh06 commented on #2094
@SebSchwartz What @jkeys-ecg-nmsu mentioned is correct. Each of your `env` is associated with an AWS profile so as long as your AWS profiles map to your different AWS accounts, you should be good.

[2019-08-20 21:22] #2094 closed

[2019-08-20 21:23] RossWilliams opened #2099 "Allow Enum types for keyField and sortField on @connections"
**Describe the bug**
PR #1619 fixed an issue preventing enums from being used as a range key for the @key directive. This should also be applied to @connections. Further, enums should be allowed for both the keyField and sortField, currently the error message for the keyField states that only types of ID or String can be a keyField, but the @key directive allows the hash key to be an Enum.

This i

[2019-08-20 22:48] RossWilliams opened #2100 "Connections to Models with range key generate incorrect templates"
**Describe the bug**
Using the @connection directive as a one to one mapping, where the target model has a primary sort key does not generate correct templates.

**To Reproduce**
with the given model
[code]
the query
[code]

will cause an error as null is returned for a non-nullable field.

The reqest template for model1.model2.req.vtl will have a getItem with a single "id" key
**Expected behavior

[2019-08-21 01:05] rodhoff opened #2105 "Use of @key directive on schema.graphql"
** Which Category is your question related to? **
aws-amplify, appsync and graphql

** What AWS Services are you utilizing? **
developing in Cloud9

** Provide additional details e.g. code snippets **

My schema is created successfully. I have created the following type:
[code]
Then I have ran codegen.
I see the index created according to my direction on @key like above - I see it on the DynamoDB

[2019-08-21 04:57] undefobj commented on #1865
If we were to build this into Amplify in the future with DynamoDB, could you give a bit more detail on some things:

- Is it just total count of all items in the table?
- Is it total count for items matching a query? E.G. similar to `SELECT COUNT(*) FROM ...`
- Would you be ok with Amplify attaching Lambda functions to your DynamoDB table, thus increasing your costs?

Any other specifics on your r

[2019-08-21 06:09] vaparth6 opened #2103 "After taking codegen, the generated service has enum in PASCALCASE though enum case is LOWERCASE."
**GraphQL schema:**

`input UserInput {
   preferredLanguage: lang
}`

`enum lang {
  en
  hi
}`

In this GraphQL schema, **lang** enum type haven't used PascalCase.

**Amplify Codegen:**
So while i take the **CodeGen**, amplify by default take enum type **Lang**(PascalCase) instead of **lang** in generated files. you can see in below image:

![IMG_20190821_123406](https://user-images.githubuserco

[2019-08-21 06:20] jonmifsud commented on #1865
@undefobj

I would say it would have to be the total count of items matching a query. This would be primarily needed for pagination purposes, it's very hard to give a good user experience if we are supposedly showing X results at a time out of Y number of records. This would also need to work with custom indexes, as most likely that's the most efficient setup when listing tables unless we are usin

[2019-08-21 07:28] iparrabb commented on #1543
Any update @damianrr

[2019-08-21 07:58] GuidoBeutlerHRS commented on #2096
I've re- installed amplify, just to ensure that my npm update worked but it doesn't make a difference. Same issue, nothing but default configuration works, no matter what I change.

[2019-08-21 08:54] rakannimer opened #2104 "Allow amplify mock to work without using amplify init"
**Is your feature request related to a problem? Please describe.**

`amplify mock api` is amazing, I use it with e2e tests to test apps without relying on the network.

However, it requires the project to have run `amplify init` before using it which relies on the network and on creating AWS resources.

On a local machine, this is not a problem and it makes sense, but for CI, running `amplify init

[2019-08-21 13:17] timhere commented on #2096
Yep, same issue here.

[code]

I also have npm up to date (6.11.1) and the lastest version of the amplify cli (1.12.0).

[2019-08-21 14:11] lenarmazitov commented on #2095
I mean we do not have mentioned attributes for query and as a result when I perform the query result is:
[code]

[2019-08-21 15:15] malcomm commented on #1581
@mikeparisstuff @kaustavghosh06
Any updates on this? I'm stuck at amplify 1.7.6 and unable to upgrade to the latest because of this. I will be heading into production soon and I'm concerned. `api remove` and `api add` might be OK for dev ... but certainly not for production.

thank you

[2019-08-21 15:26] RossWilliams commented on #2095
Can you show your item with the $id you are trying to get as it appears in dynamodb with any sensitive information removed?

[2019-08-21 15:49] aztecrex opened #2106 "Work with credentials from environment"
**Is your feature request related to a problem? Please describe.**
We use federated credentials obtained through STS:AssumeRole in our development environments.  `amplify init` expects there to be an IAM user profile or available permanent IAM user credentials when it runs. So it fails in our case.

**Describe the solution you'd like**
Use the same credentials resolution method (environment and fl

[2019-08-21 17:49] lenarmazitov commented on #2095
![image](https://user-images.githubusercontent.com/600133/63455302-33183700-c455-11e9-88f5-cbc016a7a9ec.png)

[2019-08-21 17:54] Lasim commented on #1576
Hi all,

so after hours of reading all of amplify issues and docs I am just very confused/frustrated.
Is the features to grand read access to unauthenticated users already planned?

For me it makes no sense to continue developing with Amplify if this feature is not present.

[2019-08-21 18:08] carolina-cascade opened #2108 "How to block public access to buckets and objects granted through ACL?"
** Which Category is your question related to? **

Hosting

** What AWS Services are you utilizing? **

Amplify, CloudFront, S3.

** Provide additional details e.g. code snippets **

As described in this issue: [Amplify hosting with CloudFront and S3 still allows direct access to the S3 bucket with HTTP #1599](https://github.com/aws-amplify/amplify-cli/issues/1599), when creating an app using

* `

[2019-08-21 19:14] ajhool commented on #1576
@Lasim see https://github.com/aws-amplify/amplify-cli/issues/1043 for more discussion about a PUBLIC role

[2019-08-21 19:19] Mknight492 commented on #2089
@attilah Thanks for you quick response.

I think you've misunderstood my problem.

I defined a schema with amplify add api.

I'm then am unable to update it.

I have tried using amplify push, amplify api gql-compile and amplify update api.

I tried to make it clear that It was the <projectdir>/amplify/backend/api/<api name>/schema.graph file that gets overridden with amplify push.

I believe this

[2019-08-21 19:29] jkahn117 commented on #1913
Confirmed, just experienced same behavior.

Added Amplify Storage, the trigger function has GetObject, ListBucket, PutObject, and DeleteObject permissions on the bucket created.

Function needs access to the bucket and GraphQL API created by Amplify, so run `amplify function update` and select appropriate permissions for API category. Resulting policy covers AppSync only, S3 permissions are lost.

[2019-08-21 19:49] kevinsalerno commented on #2104
+1

They do have a headless mode: https://aws-amplify.github.io/docs/cli-toolchain/usage#headless-mode

[2019-08-21 19:50] CodySwannGT commented on #1406
Coming in a bit late, and don't want to pile on, but the multiple GSI thing just absolutely kills us.

Based on this thread, I think I read that ````@connection```` would be deprecated in favor of ````@key```` which would then add support for deploying multiple GSI changes to a single table.

Is this the appropriate thread to be watching for that update or is there a better issue to track?

[2019-08-21 19:55] attilah commented on #2105
@rodhoff It is by design, the documentation says: "The first field in the list will always be the HASH key.".

Please take a look at the [docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#key) for more details. For general usage questions like this Amplify forums are a better place to ask, but if you find an issue don't hesitate to open it here.

[2019-08-21 19:55] #2105 closed

[2019-08-21 20:04] mjavadi commented on #1311
@UnleashedMind , our organiztion is in a similar situation where our IAM roles (we login via SSO and assume a role)  are ONLY allowed to be created if they include a security boundary as well as a prefix in the name.  The policies (if created separately) would have also fail if they don't have the require prefix in the name.  Many of the wizards in the AWS console or CLI based tools that don't all

[2019-08-21 20:18] attilah commented on #2089
@Mknight492 please provide *exact* repro steps, because the CLI is never touching customer provided files, the CLI creates its own files if needed, in case of GraphQL compilation we create the one in the build folder.

[2019-08-21 21:42] ilyador commented on #2059
Guys, is anyone around here?
I started with Amplify thinking it is an easy way to get up and running. So far it seems I have wasted more time waiting for support that if I just have written a node server myself...

[2019-08-22 00:31] #429 closed

[2019-08-22 00:40] #223 closed

[2019-08-22 00:47] #2013 closed

[2019-08-22 01:21] Crisp3333 commented on #1646
I am having problems with this, this is not solved. It seems like a bug. currently I will just have to use dynamodb directly and by pass graphql.

[2019-08-22 03:02] houmark opened #2110 "Update boilerplate for .gitignore (multi env)"
**Describe the bug**
Today I had a call with @kaustavghosh06 and it was mentioned that some files that I currently do not have in `.gitignore` could safely be ignored and this would mean much less noise in my git.

This issue is to hopefully get an updated list of files that can safely be added to .gitignore without causing any problems by not being cloud pushed to the cloud.

I currently have thi

[2019-08-22 03:38] RuarriS opened #2111 "codegen not updating from Appsync"
I had some trouble creating production and testing environments, but I was in a position where I could make API changes in Appsync, and codegen would pick them up and update my graphql directory.

Now I've made some changes on the production API (Appsync), and `amplify codegen` complete with no errors, but the schema and queries are not updated.

`amplify status` shows there's an update operation

[2019-08-22 04:32] houmark commented on #2111
This may be related to something I have experienced recently and discussed [here](https://github.com/aws-amplify/amplify-console/issues/62#issuecomment-523270960).

`amplify codegen` seems to have some kind of bug in edge situations, where it does not update queries.

I don't want to push you towards what solved it for me, because I don't know if it's fully related, but I'd like to bring the atten

[2019-08-22 04:47] kaustavghosh06 commented on #2096
@GuidoBeutlerHRS & @timhere The issue is tied to the selection of this option - `Select the authentication/authorization services that you want to use: User Sign-Up & Sign-In only (Best used with a cloud API only)` which creates just the `UserPool` and not the `IdentityPool` which the rootstack is looking for. It's a bug and we'll fix that.
To unblock, for just the first question, you could select

[2019-08-22 06:01] dylan-westbury commented on #1651
I updated the key params and am experiencing the same error as above.

Event Type: update
Reason: CloudFormation cannot update a stack when a custom-named resource requires replacing. Rename Ticket-ffwb6tn4yzezllhzc4dgxeofpa-dev and update the stack again.

I tried deleting the dynamodb tables that are throwing the rename error, but it is still telling me to rename them even though they don't exis

[2019-08-22 07:10] hoang-innomizetech commented on #2022
@kaustavghosh06 yeah, I know that Amplify doesn't support it and asking for help.

Does anyone has any idea to use Amplify for hosting multiple apps per mono-repos?

[2019-08-22 07:34] madhurvyas1 commented on #1352
Hi,
Im looking for similar solution, but i want to know what arguments will Lambda function receive to identify the user, like user ID, my model will have multiple users, and i want all off them to be resolved by a common function.
for example
type Person {
  id: ID!
  firstName: String
  lastName: String
}
type Post @model {
  id: ID!
  title: String!
  author: Person @function(name: "ResolveUser

[2019-08-22 08:05] rakannimer commented on #2104
Thanks @kevinsalerno for the link.

I've used the headless mode before, but couldn't find a way to stop `amplify init` from creating AWS resources or initializing the project on the cloud.

[2019-08-22 08:20] RossWilliams commented on #2095
your schema has type and target as required attributes. Amplify assumes any items you insert will have these two properties. But the item you show in your screenshot does not have these attributes.

If you look at your Mutation.createTable.req.vtl file in the build/resolvers folder you should see a line:
$util.qr($ctx.args.input.put("type#target","${ctx.args.input.type}#${ctx.args.input.target}"))

[2019-08-22 08:40] RossWilliams commented on #2059
You can post your full schema and your query you are attempting. This will help to understand the problem. It is difficult to understand how to help with partial information, such as a userId parameter that has not been mentioned, or if you have followed the previous advice.

[2019-08-22 09:20] SebSchwartz commented on #2094
Thanks for answers ;)

[2019-08-22 11:07] ilyador commented on #2059
I have posted my schema multiple times, like here https://github.com/aws-amplify/amplify-cli/issues/2059#issuecomment-522322084
I simply changed `id` to `userId` per what you suggested here https://github.com/aws-amplify/amplify-cli/issues/2059#issuecomment-522325910

[2019-08-22 11:40] Lasim commented on #91
Any updates?

[2019-08-22 12:24] RossWilliams commented on #2059
The first field in your schema (the partition key) needs to be the same for all items. If you are using the setId, this is incorrect, as the setId is different for each item. This is what I described in a previous comment. It is easier to help if you share your schema, because right now I don't know what you key directives look like.

[2019-08-22 12:41] ilyador commented on #2059
@RossWilliams This is the schema I pushed to AWS:
[code]

[2019-08-22 13:01] SebSchwartz commented on #2082
I may have a new interesting error I got keeping playing/testing stuffs (the final error is still the same but I got also this error):

?error_description=attributes+required%3A+%5Bgiven_name%2C+family_name%2C+email%5D

[2019-08-22 13:04] rodhoff commented on #1851
Hi folks, any updates on how to sort fields for a list schema?

[2019-08-22 13:27] RossWilliams commented on #2059
@ilyador Do you understand the updates to make to your schema?

[2019-08-22 13:41] SebSchwartz commented on #2082
When I remove this given_name attribute which doesn't exist on Facebook API, it's working.
Mapping should be: first_name -> given_name

[2019-08-22 13:58] BabyDino commented on #1970
@dallinwright I figured that if you add `"DynamoDBEnablePointInTimeRecovery": "true"` to `parameters.json` a backup will remain available for 35 days when you delete a table. This is acceptable for us now. This is not part of the docs as far as I know: https://aws-amplify.github.io/docs/cli-toolchain/graphql#configurable-parameters

CC @kaustavghosh06

[2019-08-22 14:23] CodySwannGT opened #2112 "Support field-level values with @auth"
**Is your feature request related to a problem? Please describe.**
We run into the problem a lot where the owner of an object should be able to update the status to one value but not the other.

For example, a ticket listing. The owner of the ticket should be able to change the status to "ACTIVE" and "INACTIVE" but not "SOLD"

Same thing for a counter cache. Again, using a ticket listing, the owne

[2019-08-22 14:52] grudra7714 opened #2113 "Cloudformation templates generated for same graphql schema is different between multiple environments"
**Describe the bug**
The templates generated by amplify console for same graphql schema is somehow aggregating resources that does not belong to it between multiple environments.

**To Reproduce**

Create schema as follows

Create an env with this schema

[code]

Build it locally and push it to amplify console

then add this to the schema
[code]
Build it locally and push it to the console. Then ma

[2019-08-22 14:58] attilah commented on #1581
@RossWilliams thanks for the clue, I was looking into this issue and tried some scenarios.
I've used 1.7.5 and current master (as ```amplify-dev```).

This scenario that was problematic works now:
1. Create a project with 1.7.5
2. Push
3. Edit schema as described
4. Execute ```api gql-compile``` with ```amplify-dev```, ```transform.conf.json was generated
5. Push with ```amplify-dev```, successful

[2019-08-22 15:36] GuidoBeutlerHRS commented on #2096
Thanks @kaustavghosh06

[2019-08-22 15:52] djheru opened #2115 "Allowing multiple redirectSignIn/redirectSignOut urls breaks federated auth"
**Describe the bug**
Using the Amplify CLI to add multiple `redirectSignIn`/`redirectSignOut` URLs results in a broken config

**To Reproduce**
Steps to reproduce the behavior:
1. Use `amplify add auth` to set up a federated auth config
2. Add a `redirectSignIn` url, e.g. `http://localhost:3000`
3. Add an additional `redirectSignIn` url, e.g. `https://d32tfey1ge36f1.cloudfront.net/`
4. Add the sam

[2019-08-22 16:10] lenarmazitov commented on #2095
@RossWilliams but when I created schema via Graphql transform I described this attributes.
This screenshot of successful mutation.
The bug is in autogenerated graphql mutations and queries. There is this 2 attributes in any query and mutation presents, which is not exist, but still queried.

[2019-08-22 16:11] attilah commented on #2059
@ilyador with the following schema you can achieve what you are looking for:

[code]

This schema will create a GSI named ```ByRanking``` and enables you to query AND even filter on ranking if needed and of course you can sort.

Notice the ```type``` field, that acts like the HASH key for the GSI, you must set it to 'Set' always or you can update the resolvers to get it handled for you.

After you

[2019-08-22 16:40] attilah commented on #2112
@CodySwannGT it is hard to enforce such business rules with an ```@auth``` directive enhancement and then generate the code for that, since the possibilities are limitless and can be vary from use case to use case.

I think you picked the good solution, another possible solution would be to use pipeline resolvers there you chain your business validation rules as a first step, that gets executed be

[2019-08-22 16:45] attilah commented on #2113
@grudra7714 could you please confirm that you've customized the CLI version used by Amplify Console to the same version you're using locally, because Amplify Console is on an older version of the CLI by default.

Take a look at #1581 I think you are being hit by the same problem and I just submitted a PR for this issue.

[2019-08-22 17:12] grudra7714 commented on #2113
@attilah  its not. I am on 1.12.0

This is from the build provision log
[code]

[2019-08-22 17:23] #1986 closed

[2019-08-22 17:27] kaustavghosh06 commented on #2074
@clinicalinkgithub We don't support custom pipeline functions yet. But you can utilize Custom stacks with cutom resolvers to add pipeline resolvers to your API. You can read more about it out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers

[2019-08-22 17:37] kaustavghosh06 commented on #2057
@blazinaj To understand this better, can you tell us whether in the cloudformation template located in `amplify/backend/api/<api-name>/build/loudformation-template.json` if you can the following block:

[code]

[2019-08-22 17:40] kaustavghosh06 commented on #2082
@SebSchwartz Did you configure the custom attribute for `given_name` in the cognito console or was it configured using the CLI?

[2019-08-22 17:41] kaustavghosh06 commented on #2115
Multiple signin and signout URI's need to be supported from the JS Lib as it's supported by the cognito service. Transferring over the JS Lib team.

[2019-08-22 17:45] kaustavghosh06 commented on #2084
@darnmark64 That's a limitation of IAM and the cognito service allowing just one auth rule. You can open up a feature request (for increasing of IAM role policy size) for Cognito and IAM in this forum - https://forums.aws.amazon.com/forum.jspa?forumID=76

From the Amplify side, what we can do is create managed policies instead of having inline policies. Marking this as an enhancement.

[2019-08-22 17:47] attilah commented on #2113
@grudra7714 I see ENV VERSION_AMPLIFY=1.7.2 there. not 1.12.0

[2019-08-22 17:50] grudra7714 commented on #2113
Sorry misread your message. I have not customized the version. Let me try that

[2019-08-22 17:53] attilah commented on #2021
@evanlarkin10 currently there is no way for this, because of how the schema compilation/transformation is implemented.

I mark it as an enhancement.

[2019-08-22 17:59] attilah commented on #2058
@Einstein42 sorry if I was using a wrong phrase, under 'opt-in' I meant that opt-in to using CLI features like ```@model```, ```@auth```.

You can define your types, queries, mutations in the GraphQL file and then create the CFN resources that AppSync requires as Custom Resources.

[2019-08-22 18:41] kaustavghosh06 commented on #1913
@jkahn117 @onlybakam I tried to go through the flow that you've mentioned. The S3 permissions are not lost, but they're present in the S3 cloudformation template. In the S3 cloudformation template, could you check if the policies exist? you should see something like this in the S3 Cloudformation template.

[code]

[2019-08-22 18:42] kaustavghosh06 commented on #1913
@jkahn117 @onlybakam Could you please check if you can reproduce with v 1.12.0?

[2019-08-22 18:46] grudra7714 commented on #2113
@attilah I added an override for the Amplify CLI version but I still see 1.7.2 in the build provision log for new builds

![image](https://user-images.githubusercontent.com/12394597/63541006-39f18900-c4eb-11e9-8670-5da787f6c275.png)

[2019-08-22 18:49] kaustavghosh06 commented on #2076
@oste Yes, this is because of a circular dependency between the pre-signup-trigger (auth is depndent on this to complete first ) and then this trigger now would depend on API to complete first  (Which is dependent on auth to complete first), causing a deadlock and a circular dependency:
You can unblock yourself by using a custom resource in Cloudformation to unblock and we're already tracking this

[2019-08-22 18:49] #2076 closed

[2019-08-22 19:18] #2037 closed

[2019-08-22 19:21] #2047 closed

[2019-08-22 19:35] attilah commented on #89
Already fixed.

[2019-08-22 19:35] #89 closed

[2019-08-22 19:41] viniciusfont commented on #1053
@JoshuaSeidel I'm getting the same error with any Node version and amplify-cli versions. Did you manage to solve this issue? Thanks

[2019-08-22 19:45] swaminator commented on #2113
@grudra7714 @attilah its a console UI inconsistency. A fix is being rolled out to all regions in the coming days. The build container has 1.12.0 installed.

[2019-08-22 19:48] attilah commented on #2113
@grudra7714 please wait for the merge of #2114 and the next release that will contain that fix and retry after that.

[2019-08-22 19:50] grudra7714 commented on #2113
@attilah ok. Any timeline on that?
Thanks for your help btw

[2019-08-22 20:10] attilah commented on #2113
@grudra7714 we've releases mostly every week, so next week is a good candidate to have this included. If you'd like to test it, you can take the PR branch and setup the CLI with ```yarn setup-dev``` and after that use ```amplify-dev``` command to see if it works. See [here](https://github.com/aws-amplify/amplify-cli#contributing) on proper setup steps.

[2019-08-22 20:13] grudra7714 commented on #2113
Thanks! I'll try that

[2019-08-22 20:26] carolina-cascade commented on #2108
I have to add an update to my question. After blocking public access from new and any ACL, while amplify push will run without any issue, it is not possible to run `amplify push` anymore. It fails with this error:

[code]

(Sorry for the ilegible trace).

My amplify/backend/hosting/S3AndCloudFront/template.json is

[code]

[2019-08-22 20:31] ilyador commented on #2059
@attilah yes! The `type` was the missing piece.

[2019-08-22 20:31] #2059 closed

[2019-08-22 20:36] clinicalinkgithub commented on #2074
the problem is we are using the @function directive. and it creates a invokelambaXXX.vtl pipleline in the puts in the /pipelineresolver directory. The stack that is created for the @function directive looks for the pipelineresolver in the  /pipelineresolver directory. There is no way to override the invokelambda payload currently.  can you modify the stack to place the invokelamba.vtl pipeline res

[2019-08-22 20:44] yuth commented on #2062
@keenode do you have Java installed on your machine? Mock uses DynamoDBLocal internally which is a java package and not having Java would cause this to fail

[2019-08-22 21:15] yuth commented on #2064
@idanlo I tried a schema which has more than 10 models and DynamoDB tables got created. Could you share an sample schema with which we can reproduce this

[2019-08-22 21:19] houmark commented on #1865
I agree with @jonmifsud — the main interest for us is to have a count of the filtered query, so we can do a proper pagination and show the total results of that query.

 A full count would be nice, but if you do a normal query, shouldn't that result in a count of all items? Also, maybe a way to just return the count would be nice instead of having the count as a part of the result dataset would be

[2019-08-22 21:20] yuth commented on #2104
This could be made possible by deferring the stack and bucket creation till there is a `amplify push`. We are tracking  in https://github.com/aws-amplify/amplify-cli/issues/576

[2019-08-22 21:44] yuth commented on #2085
We have updated the Dynamo DB simulator to use a different library to get the free port in https://github.com/aws-amplify/amplify-cli/commit/90a423cc1ecaff3dc8ebb9b5e526e1256d36d835. This should fix this problem. The change is not release yet. I will update here when the change gets release

[2019-08-22 21:54] jkahn117 commented on #1913
@kaustavghosh06 I just ran the same flow on a fresh project and all worked properly. I had been looking in the function stack, not S3, though I thought I had checked the final permissions that were pushed as well.

It's possible that I tripped myself up in attempting to add Storage access in `function update` which leads to a cyclical dependency and then looked at the permissions. Would it be poss

[2019-08-22 22:33] kaustavghosh06 commented on #2092
@iparrabb Currently AppSync resolvers doesnt support passing in environment variables but I've informed the AppSync service team to add this to their backlog.

[2019-08-22 23:24] nikhname commented on #1913
@jkahn117 thanks for the feedback. We will consider marking the storage option or removing the option to avoid confusion in the future.

[2019-08-22 23:24] #1913 closed

[2019-08-23 01:05] #1056 closed

[2019-08-23 01:09] #2032 closed

[2019-08-23 01:13] #1720 closed

[2019-08-23 03:39] undefobj commented on #1865
You should be able to do pagination using `nextToken` without needing to know the count. However, what you propose above to have a count on the query results would be difficult. While not impossible, this feature would be quite difficult to do. I'll keep the issue open so that we can get other community feedback and measure interest, but for transparency it would need a lot of design and thought a

[2019-08-23 04:42] houmark commented on #1865
Associating the word "impossible" for a query count in 2019 makes me cringe a bit. And more than that, it makes me wonder if selecting Amplify and all its (current) dependents was a very wrong choice.

The fact that DynamoDB does not do counts for its queries (besides a full table estimated count every ~6 hours) is simply a limitation the team working on DynamoDB should solve. Every single competi

[2019-08-23 09:26] leantide opened #2121 "Socket timeout during amplify publish"
**Describe the bug**
Error: Your socket connection to the server was not read from or written to within the timeout period. Idle connections will be closed.

**To Reproduce**
1. Make updates to a lot of lamda functions (see table below)
2. execute `amplify push` or `amplify publish`
3. Wait about 1.5 minutes (in which push process is building lamdas)
4. Socket timeout error occurs

**Expected beha

[2019-08-23 09:38] leantide commented on #2121
Mitigation: push one item at a time

amplify function push settings
amplify function push membership
etc.

[2019-08-23 10:36] jasonbobier opened #2122 "How do I generate API from my .graphql files without generating entire api?"
** Which Category is your question related to? **
amplify codegen for iOS

** What AWS Services are you utilizing? **
Appsync

** Provide additional details e.g. code snippets **
I don't want api for the entire schema polluting my namespace. I want API just for the .graphql file that I generate. How do I do this?

I was able to get this to work by moving the schema out of my ../graphql directory,

[2019-08-23 10:44] jasonbobier opened #2123 "Ability to generate different filename.swift files from directories of .graphql files"
**Is your feature request related to a problem? Please describe.**

Yes, https://github.com/aws-amplify/amplify-cli/issues/2122

**Describe the solution you'd like**
amplify codegen --max-depth --input=MySubAPIDirectory --output=MySubAPIDirectory.swift

would produce an api using just the .graphql files in MySubAPIDirectory and save it as MySubAPIDirectory.swift

Basically, I don't want to create

[2019-08-23 13:28] heitorlessa commented on #2096
Same here... ran `amplify auth update` and did the trick.

[2019-08-23 13:34] heitorlessa commented on #2085
Run into similar problem which I think is related to that..tried both Node 8/10 and installing zmq didn't make much difference.

[code]

Tried reinstalling amplify and noticed it fails due to `zmq` and some errors with `gyp` - Full stack error below

---

[code]

[2019-08-23 14:07] heitorlessa opened #2124 "Cannot update existing project with new laptop: projectName Cannot read property 'substring' of undefined"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Fresh new installation of amplify CLI using Node 10 under NVM, and despite a few installation errors with `gyp` and `zmq` which I suspect is due to `mock feature`, I cannot run make update operations.

Project in question is: https://github.com/aws-samples/aws-serverless-airline-book

[2019-08-23 14:14] heitorlessa commented on #2124
FWIW, I've also tried running `amplify configure project` as per other similar issues but still not working.

I suspect this may be due being a new laptop and I copied the files over. Here's the file structure just in case something is missing:

[code]

[2019-08-23 14:28] heitorlessa commented on #2124
Working!

Steps to solve:

1. **Deleted project configuration**: `amplify/.config/aws-info.json`
2. **Recreate project configuration**: `amplify configure project`
3. **Try update operation again**: `amplify auth update`

[2019-08-23 14:28] #2124 closed

[2019-08-23 15:02] oscarnevarezleal opened #2125 "Storage( dynamodb ) specified during amyplify init is not being generated"
** Which Category is your question related to? **
CI / Headless

** What AWS Services are you utilizing? **
Amplify CLI

** Provide additional details e.g. code snippets **

I'm trying to initialize an amplify project using headless amplify CLI, part of this initialization requires a database creation using DynamoDb as the storage engine. I've used a fork version of [this script](https://github.co

[2019-08-23 16:14] keenode commented on #2062
Hi @yuth
Yes, I have had a version of java installed on my machine. I ran the command and it is located here:
/usr/bin/java

This is the version of Java I'm on:
java version "1.6.0_65"
Java(TM) SE Runtime Environment (build 1.6.0_65-b14-468)
Java HotSpot(TM) 64-Bit Server VM (build 20.65-b04-468, mixed mode)

[2019-08-23 19:40] V1j1 opened #2142 "How do manage API keys in aws-exports.js after publishing the mobile app?"
** Which Category is your question related to? **
AWS App Sync
** What AWS Services are you utilizing? **
API based access to the back end
** Provide additional details e.g. code snippets **
I have an app that is working in my local. I now go to the AWS console and generate a new API key and paste it into the aws-exports.js file. I would like to know what's the right way to manage this once the ap

[2019-08-23 19:54] tclindner opened #2127 "How do we host an Amplify app in multiple AWS accounts?"
**Which Category is your question related to?**
Hosting

**What AWS Services are you utilizing?**
Only hosting

**Provide additional details e.g. code snippets**
Please see below

First, thank you for all of your work on this product :raised_hands:.

### Background

We are trying to use Amplify to host a single page app. Our organization has separate AWS accounts for each environment (e.g. dev, qa

[2019-08-23 20:47] kaustavghosh06 commented on #2127
@tclindner In your AWS S3 console, can you check if you already have a bucket named - " ********-20190823130603-hostingbucket-qa"?
It looks ike you have one based on the error logs
`CREATE_FAILED      S3Bucket                                                                AWS::S3::Bucket            Fri Aug 23 2019 14:48:33 GMT-0500 (Central Daylight Time) ********-20190823130603-hostingbucket-qa a

[2019-08-23 20:54] tclindner commented on #2127
Thank you, @kaustavghosh06! Thanks for the super fast reply 🏅  There is one! I deleted it and did an `amplify push` again and it worked ✅ . Do you know if the steps outlined above are correct? It feels like we are missing something which is causing the manual delete step.

[2019-08-23 22:17] garrett-gottlieb opened #2128 "How does one see the output of a database trigger?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? ** logging/output/testing/debugging

** What AWS Services are you utilizing? ** AppSync, DynamoDB, Lambda database trigger

** Provide additional details e.g. code snippets **
[code]

After creating a db trigger function with the boilerplate code:
[code

[2019-08-23 22:24] gsans opened #2129 "Failing codegen during amplify add api"
**Describe the bug**
When I run the following commands to generate a GraphQL API for Angular it's empty. Used default generated source from Angular CLI.

[code]

amplify-app-test/amplify/backend/api/restaurantsAPItest/schema.graphql
[code]

amplify-app-test/src/app/API.service.ts
[code]

Generated correctly:
[code]

**To Reproduce**
Run `amplify add api`

**Expected behavior**
File `src/app/API.se

[2019-08-24 04:33] undefobj commented on #1043
@rawadrifai we have published to the tag again:

[code]

I've also just submitted a PR for the new functionality: https://github.com/aws-amplify/docs/pull/868

You should be able to use this for documentation before we merge this to latest build. We're still running final stability tests but are trying to get this out ASAP. Your testing would assist us in expediting this. Note that the custom clai

[2019-08-24 04:38] undefobj commented on #1899
@RossWilliams we've added this functionality in https://github.com/aws-amplify/amplify-cli/pull/2068

You can read the pre-release docs here: https://github.com/aws-amplify/docs/pull/868

[2019-08-24 04:39] undefobj commented on #1766
@rawadrifai cross posting from the other issue:

we have published to the tag again:

[code]

I've also just submitted a PR for the new functionality: https://github.com/aws-amplify/docs/pull/868

You should be able to use this for documentation before we merge this to latest build. We're still running final stability tests but are trying to get this out ASAP. Your testing would assist us in exped

[2019-08-24 07:00] gabriel-wilkes commented on #1071
The project this was added to back in May just closed yesterday. I suppose you're tracking this internally instead? Still need this feature, thanks.

[2019-08-24 11:02] Mknight492 commented on #2089
Nevermind I was making edits in the   #current-cloud-backend directory. Sorry about that.

[2019-08-24 14:26] #2089 closed

[2019-08-24 14:59] Monder87 opened #2131 "How to send an email using just Amplify backend custom business logic"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
api , @fuction directive , email, custom business logic

** What AWS Services are you utilizing? **
amplify-cli, react, graphQl

** Provide additional details e.g. code snippets **

I  used amplify to create the back end of my react app, all worked f

[2019-08-24 16:39] onlybakam opened #2132 "Trying to read transformer config file on new amplify project throws error"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

[code]

**Describe the bug**
Reading transformer config file on new amplify project throws error.

https://github.com/aws-amplify/amplify-cli/blob/31d70106d8fe9f65f6ab6eaf0a293e9fff170ab1/packages/amplify-provider-awscloudformation/lib/transform-graphql-schema.js#L58

there is no `cloudBackendDirectory `

[2019-08-24 16:47] onlybakam commented on #2132
the `cloudBackendDirectory` is actually meant to point to this `#current-cloud-backend`, so my suggested fix is not correct. but nonetheless, the directory does not exist on new project. should the reading/writing just be skipped?

[2019-08-24 18:23] ilyador commented on #2059
@attilah seems like the only field `getSetsByRanking` can return is `items`.

Is it possible to use this query to get also the `id`s?

[2019-08-24 20:49] acme-one opened #2133 "add-graphql-datasource - aurora serverless - request template missing quotes"
version: amplify-category-api: 1.11.0

"amplify api add-graphql-datasource" fails to add required single quotes in request template SELECT statements.

**To Reproduce**
Given an existing project with an api, and a serverless database with table "Whatever":
amplify api add-graphql-datasource

**Expected behavior**
Working request templates should be generated from the database schema.

example: Que

[2019-08-24 20:59] bgashler1 commented on #572
### Some things I wish I'd known when troubleshooting this...
In case it's not immediately clear, the above custom build script above is a modification of the actual default [amplifyPush.sh](https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh) used in Amplify Console.

You can commit this script as a file in your repo as say `amplify-custom-push` (be sure to change th

[2019-08-24 23:04] ilyador commented on #1043
Is there a way ATM to give public permissions to a query, without any Cognito authentication?
Something like:
[code]

[2019-08-25 00:09] ilyador commented on #1576
I was also looking for a way to do public read operations, and maybe I misunderstood the way permissions work, but I was expecting something like this:
[code]

[2019-08-25 02:32] undefobj commented on #1043
This is coming very soon as part of https://github.com/aws-amplify/amplify-cli/pull/1916

[2019-08-25 08:32] leesh22 commented on #35
I ran `amplify api update` then `amplify push` and that fixed it for me

[2019-08-25 10:42] visusnet opened #2134 "AppSync simulator does not work with @auth for empty results"
**Is your feature request related to a problem? Please describe.**
Currently, request templates are generated with version 2017-02-28. The AppSync simulator automatically assumes that the version is at least 2018-05-29. The change that is causing problems has been described here: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-changelog.html#aws-appsync-resolver-mappi

[2019-08-25 14:37] lightsofapollo commented on #682
Hit this as well :/ Unfortunate that CF cannot process this as an override.

[2019-08-25 16:31] RossWilliams commented on #1865
@undefobj What I would like to see to support this type of feature is to utilise kinesis firehose and glue to send data in Redshift or S3 Parquet. Then I could connect to Athena as a serverless analytics system, query Redshift for a non-serverless solution, or have another lambda pick up the objects from S3 and send them into Postgres. Amplify is well placed here as the api category can pick up on

[2019-08-25 16:41] lenarmazitov opened #2135 "Graphql transform. @key directive. Choose attributes projected to index."
Hello.

It will be great to have ability to choose attributes which will be projected to the index created by @key directive in Graphql transform.

**Describe the solution you'd like**

[code]

[2019-08-25 18:25] idanlo opened #2136 "Creating pipeline resolvers in the AppSync console and then pushing from cli deletes the pipeline"
**Describe the bug**
Currently there is no way to create a pipeline resolver with the CLI (as far as I know if - fix me if I'm incorrect) so I have to go to the AppSync console in order to create pipeline resolvers, assign them to queries/mutations and then write the actual functions and order them correctly - I have spent a lot of time doing that and getting all of them right, then I made some ad

[2019-08-25 18:28] undefobj commented on #1865
We do support Kinesis Streams in the Analytics category today: https://aws-amplify.github.io/docs/js/analytics#using-amazon-kinesis
I have to check on the PR for supporting Firehose but I know it's in progress.

This seems to be an independent ask of the issue in this thread though as this is related to ingest. Total counts in a decoupled systems wouldn't be accurate on the pagination against Dyna

[2019-08-25 19:02] AvidDabbler opened #2137 "Missing project from Amplify Apps Dashboard"
I am experiencing some issues that I just noticed today where my Application is no longer available on the Amplify dashboard.

I will say that when I deployed there seemed to be some changes to the website as I was pushing out. But long story short I am unable to access the files that are still being hosted (and are still accessible via my url) on aws and when i go to my domain settings the url is

[2019-08-25 19:10] Simbul commented on #1996
I tried `npm install -g @aws-amplify/cli --unsafe-perm=true` as suggested [above](https://github.com/aws-amplify/amplify-cli/issues/1996#issuecomment-519625952), but I still see all the errors.

My versions:

[code]

Despite all the errors, I was able to successfully run `amplify status`, so it seems that basic functionality is at least unimpaired. I wonder what might be broken, though.

[2019-08-25 20:20] RossWilliams commented on #1865
I wasn't as interested in strong consistency or using it for pagination, but the total count calculation and getting aggregations in general. The ask seems to be about bringing other database system capabilities into amplify, which is where ddb stream -> firehose would come in handy as a building block.

[2019-08-26 04:36] ajhool opened #2138 "Best way to add a custom role to a group (eg. "Admin") in a cognito userpool group generated by Auth?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Mainly Auth, but also Storage related

** What AWS Services are you utilizing? **
Cognito federated identity pools and S3.

** Provide additional details e.g. code snippets **
My goal is to grant users in an "Admin" cognito group the ability to acces

[2019-08-26 04:43] undefobj commented on #2138
We are actively working on this as part of: https://github.com/aws-amplify/amplify-cli/issues/766

There are three final pieces of this RFC:
- Admin Queries to perform actions like list users, add user to group, etc.
- Creation of User Pool Groups and setting the priorities, as well as attaching Roles to the Groups.
- Ability to configure custom Rules/Roles when JWT tokens are passed to Identity P

[2019-08-26 04:48] ajhool commented on #2138
Brilliant, thanks.

[2019-08-26 06:43] boreview opened #2139 "Unauthorized calls to API gateway with AWS_IAM"
Hi folks,

I'm completely dumbfounded by the situation. Been on it for 2.5 days now.

So API.post to my api gw endpoint works perfectly for logged in users. When logged out, it bombs with 403.
I've tried a workaround for unathenticated users with the following:
AWS.CognitoIdentity() -> getId() -> getCredentialsForIdentity() -> aws4.sign() -> axios, but no dice either. 403 here too. AccessKeyId, Se

[2019-08-26 07:56] SebSchwartz commented on #2082
I configured it using the CLI with previous version.

[2019-08-26 09:09] andreialecu opened #2140 "Best practices for building React Native app with AppCenter CI"
What would be the best practices for setting up CI for an Amplify React Native project?

The practice seems to be for `aws-exports.js` to be in `.gitignore`. Should it be recreated on the CI?

I assume that the CI should run `amplify push --yes` itself prior to building the project, which would regenerate that file, and maybe use its own environment name.

I'd like to use AppCenter to build the bi

[2019-08-26 10:21] clinicalinkgithub opened #2141 "where can i find the code for the function [$util.transform.toElasticsearchQueryDSL]"
I need to customize the filtering for the elastic search function for the data filter.  Where can i find the code/function [$util.transform.toElasticsearchQueryDSL].  Can you please provide the code for this?

[2019-08-26 12:06] wbroek commented on #1581
Also go a project from the pre 1.7.1 era and got the error as well.
Now with this fix and running the dev version (on master) I'm not getting  this error but got another one? :(
[code]

What I did was change the user model and created a connection to a new model:
_BEFORE_
[code]
_AFTER_
[code]

Any thoughts? Or other error, so need a new issue?

[2019-08-26 13:45] romeoflute commented on #768
@kaustavghosh06 I can confirm that just updating the graphql schema to include reference to s3object with  just bucket, region, and key like this >

type User @model
{
  id: ID!
  name: String
  about: String
  createdAt: String!
  updatedAt: String!
  image: S3Object
}

input S3ObjectInput {
	bucket: String!
	region: String!
	key: String!
}
 as written here:  https://aws-amplify.github.io/docs/cl

[2019-08-26 14:28] #2033 closed

[2019-08-26 18:25] scarefree commented on #1371
Are you suggesting doing a SELECT for every INSERT? Your suggested solution doesn't scale and is calling for disaster.

[2019-08-26 22:02] blairtaylor opened #2145 "Amplify should generate filter options for non-scalar types (subtypes or @connection types)"
For a type such as:
[code]
Amplify listPackages ModelPackageFilterInput supports only scalar types

id: ModelIDFilterInput
desc: ModelStringFilterInput
price: ModelFloatFilterInput
active: ModelBooleanFilterInput

ModelPackageFilterInput should allow filter by servicetype without the need to add a custom Query and Resolver in Appsync.

Similar issue to:
https://stackoverflow.com/questions/55000366

[2019-08-27 01:50] Monder87 commented on #2131
ok i still didn't founded a clear and easy way to process queries without authentication.
So far i followed  [this](https://github.com/dabit3/appsync-auth-and-unauth) written by @dabit3 , but in my case just didnt work.
i followed all the steps:
1.
[code]
2.
[code]
[code]
3. amplify add auth

[code]

4.
[code]
5.

In the AppSync API dashboard settings, change the authentication type to AWS Identit

[2019-08-27 02:05] nino-moreton opened #2147 "Multi-env OS team workflow directory paths bug"
**Describe the bug**
When _**creating** an amplify project & resource **in Windows OS**_ then pulling and working on the same Amplify project in a unix environment, directories have a problem with backslash and forward slashes. Cases where I've encountered this:
- Amplify API mocking (cannot find schema.graphql)
- Amplify push (can't generate graphql folder when in unix env due to incorrect direct

[2019-08-27 03:10] dabit3 opened #2148 "GraphQL Transform `keyField` in `@connection` directive is broken."
**Describe the bug**
When using the `keyField` in `@connection`, the relationship does not work and the query returns an error.

I have tested this locally and in the service..

Steps to reproduce the behavior:
1. Create an AppSync API from the Amplify CLI
2. Add the following shema:
[code]

Run the following operations in this order:

[code]

**Expected behavior**
The comments array is populated

[2019-08-27 06:24] Monder87 commented on #1576
ok i still didn't founded a clear and easy way to process queries without authentication.
So far i followed this written by @dabit3  , but in my case just didnt work.
i followed all the steps:
1.
[code]
2.
[code]
[code]
3.
[code]
[code]
4.
[code]
5.
In the AppSync API dashboard settings, change the authentication type to AWS Identity and Access Management (IAM), and i did it.

6.

In aws.exports.j

[2019-08-27 07:28] chikason opened #2149 "AWS amplify Cognito User Pool MFA Issue on Mobile phone"
![n1](https://user-images.githubusercontent.com/52418760/63750120-c4980680-c8a4-11e9-8445-ea20f9e5d268.PNG)
![n2](https://user-images.githubusercontent.com/52418760/63750135-cb267e00-c8a4-11e9-8df5-9cc1918ea518.PNG)

** I am not receiving MFA code authentication on my mobile phone for my user signUp authentication and verification**

** AWS Amplify **

** Provide additional details e.g. code snipp

[2019-08-27 08:10] roeniss commented on #1996
Same issue, Windows 10.

[code]

My prompt said that Amplify-CLI was successfully installed without that options(gyp, fs-ext). Is is serious damage to use amplify cli? I hope that I could understand full subsequences of absence of these options.

[2019-08-27 09:59] BabyDino commented on #1801
Same issue here, data API should be available in the following regions:

[code]

[2019-08-27 10:25] idanlo commented on #2136
@yuth so how can I create pipelines resolvers and keep them? Creating them from the AppSync console is fine but then after pushing the api it removes that pipeline resolver and I need to do that manually

[2019-08-27 11:09] andreialecu commented on #2140
I was able to create a pre build script with the following contents:

`appcenter-pre-build.sh`
[code]

Also needed to set the following ENV variables: `AWS_ACCESS_KEY_ID` `AWS_SECRET_ACCESS_KEY` `AWS_REGION` and the custom one `AMPLIFY_ENV` (see code above, it's the amplify env name).

Leaving this here in hope that it helps someone. Should be similar for other CI build systems.

[2019-08-27 11:26] RossWilliams commented on #2148
You are using a Many to One connection, and the keyField on the Many side directive is used to find the hash key on the One side. In this case your many side @connection does not include keyField, so  the default ID is used, commentTalkId, not talkId.
However, when the cli sets up the One side, it uses the specified keyField to set the GSI hash key.
Result is wrong key is used in lookup.

At a cod

[2019-08-27 12:17] RossWilliams commented on #1043
@rawadrifai Can't remember if this is mentioned in issue comments or code directly, but the PR does not support dynamic group authorisation (yet), only static group auth.

[2019-08-27 13:18] jgunnink commented on #2096
Thanks for reporting this error, I thought I was going insane. Just adding to the chorus here to say that the `amplify auth update` worked, followed by, of course, `amplify push`.

[2019-08-27 13:27] mlafo opened #2150 "Is there a way to get the Appsync API ID in a lambda resolver ?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Appsync lambda resolver

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **

Is there a way to get the Appsync API ID in a lambda resolver ?
The idea is in a multi-env configuration to re

[2019-08-27 15:35] MaximumCrash opened #2152 "[API Category] 'add-graphql-datasource' generating resolvers that error out"
**Describe the bug**
Resolvers created by adding an RDS database with the **add-graphql-datasource** command are missing single quotes around context arguments.

For example notice how the statement's id=$ctx... lacks quotes around the ctx argument:
[code]

This resolver will return **Null** if queried. Adding single quotes around the $ctx.args solves this:

[code]

**To Reproduce**
Steps to repro

[2019-08-27 16:19] horacioh opened #2153 "Cannot Create a trigger on a DynamoDB created with the CLI"
**Describe the bug**
I tried to create a trigger from a DynamoDB table created from the CLI but I got some errors on the console

**To Reproduce**
1. `amplify add api`: and create a simple model (im my case I create this:
[code]
1. `amplify add function`: create a simple function. add whatever name. no edit needed
1. `amplify push`
1. `amplify api console`
1. go to the triggers tab and create a ne

[2019-08-27 16:26] #2152 closed, assigned to nobody

[2019-08-27 16:33] horacioh commented on #2153
thanks for the solution @kaustavghosh06 !
I'm not too familiar with all AWS tools, can you give me a more detailed step by step?
- where do I need to add this code you mentioned?
- do I need to change something in the console?
- can everything be done via de CLI and this snippet?

thanks!

[2019-08-27 17:02] jkeys-ecg-nmsu opened #2154 "If Analytics was provisioned for a project and then removed, apps fail to connect to Amplify console"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When Analytics category is removed from an Amplify project, backend-config.json and amplify-meta.json contain the analytics category. That causes this error in the Amplify Console Backend step.

[code]

When removing these keys by hand, Amplify Console build succeeds.

[2019-08-27 18:00] idanlo opened #2155 "@model directive with queries parameter renames the query after some time"
**Describe the bug**
I have a `Business` model and the `list` query for it is `listBusinesss` which is wrong and should be `listBusinesses`, so I used the `queries` parameter on the @model directive like so -
`@model(queries: { get: "getBusiness", list: "listBusinesses })`, and it worked fine, but then after a few hours I get an error in my app -
[code]
and I went to the AWS AppSync console and ch

[2019-08-27 19:37] amirmishani opened #2156 "Why is authorization in queries put in the response resolver instead of request?"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Appsync & DynamoDB
** Provide additional details e.g. code snippets **
So I've noticed that authorization checks for mutations are happening in the request resolver which makes sense, you can't touch data unless you're authorized. But when it comes to queries it's the opposite, authorization is happeni

[2019-08-27 21:35] RossWilliams commented on #1043
@undeobj I’ve implemented an alternative design without the recursive nesting. I’ve added a property and=“name” to each auth rule that should be combined. Then when an auth rule matches I increment a counter with the name as the key. After all rules are run I check which counters are set and compare their value to how many rules have that key in total. If there is a mismatch I set it as unauthoris

[2019-08-27 21:42] kartik78 commented on #1371
@scarefree - Are you not going to return the inserted item back ? The statements block for a create item always has an INSERT followed by a SELECT.

If you are that concerned about concurrently executing requests move the statements to a stored procedure and execute within a transaction, better still don’t use sequences, $util.autoId is safer.

[2019-08-27 23:29] mayteio commented on #351
Does that list include all actions, i.e. pubsub, predictions, push notifications, etc?

[2019-08-28 03:10] nino-moreton opened #2161 "@searchable in v1.12.0 sorting on createdAt & updatedAt fields gives an ElasticSearch bad request error"
**Describe the bug**
When upgrading to v1.12.0 from v1.11.0, my `@searchable`s that sort on `createdAt` or `updatedAt` gives a bad request response like so
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In v1.12.0 version of Amplify, create a grapql api with a model that has a @searchable directive. Make sure to expose the `createdAt` & `updatedAt` fields
2. query that searchable mod

[2019-08-28 05:25] dahersoftware commented on #2055
@kaustavghosh06  any update on this?

[2019-08-28 10:46] gridknight opened #2164 "amplify init fails with read cannot property 'length' of undefined (Enviroment step)"
When I run `>amplify configure` inside a vue project I get:
**Enter a name for the environment DEVCannot read property 'length' of undefined** in the second step and the program exists.

**To Reproduce**
1.  I installed the latest version of aws-amplify/cli with `npm install -g @aws-amplify/cli`
2.  I run `amplify configure` and configured a new user
3. Inside my vue project I run:
- `npm i aws-am

[2019-08-28 10:47] dahersoftware commented on #1723
@attilah any update on this issue. I am facing the same problem.

[2019-08-28 11:57] mlafo commented on #2150
Thanks for your answer. It helps me.
But propably there is something I am doing wrong.

After using amplify function update and selecting api to be accessed I have got new environment parameters but the one with Api Id named API_TESTGRAPHQL_GRAPHQLAPIIDOUTPUT give that string value : apitestGraphQlGraphQLAPIIdOutput
Does it means i have to change it myself with the real id on the lambda function o

[2019-08-28 14:23] idanlo commented on #1871
@mikeparisstuff can you please explain or link a resource explaining how to do this? I didn't completely understand what you are trying to say - first of all I don't know how to do step 4 and 5, and after doing those how do I add the functions and set the order of calling them (like creating a pipeline resolver from the AppSync console)

[2019-08-28 14:28] idanlo commented on #1055
can we have any updates? It has been 5 months and this is a much needed feature for an app that is not a todo list

[2019-08-28 17:22] visusnet commented on #703
@mrcoles I was the one who implemented build hooks initially and I did it for two purposes: Getting Babel to run before push and copying shared files (in our case: the graphql/ folder). We commit the copied files, i.e. they are always there, even if we have a fresh clone of the repository. That way, IDEs will find the files and won‘t complain about missing files. However, build hooks are only exec

[2019-08-28 18:47] ryanhollander opened #2167 "amplify 2.0 CLI fails GQL-COMPILE with TypeError"
Hello!

**Describe the bug**

This is in the 2.0.0 release of the CLI.

After an initial "amplify push" subsequent amplify push or gql-compile attempts will fail until "amplify env pull" is executed. The error is reported to the console as: TypeError: Cannot convert undefined or null to object

**To Reproduce**
Steps to reproduce the behavior:
upgrade to the 2.0.0 CLI
make a change to your api
run

[2019-08-28 18:49] chikason commented on #2149
@kaustavghosh06 yes I did it through CLI.
I have had one that worked but can't remember if their is extra that I should do.
But from the MFA page it pointed out that for you to use sns you have give the permission by using "Create role"  button on the page but their is no such button on  MFA section.

[2019-08-28 19:04] chikason commented on #2149
@yuth  I did it myself, through manual configuration and I chosed SMS message for MFA types.

NOTE: from the snapshot I uploaded above
1. just bellow "SMS Text Message" check box it says  in order for that to work I must request a spending limit increase for SNS.
How do I do that?
2. Just before the "new role name" at the bottom, It says amazon cognito needs your permission to send SMS message to

[2019-08-28 19:05] visusnet commented on #703
@mrcoles It's mtime-based. Actually, it's pretty straight forward. You can find it here: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/lib/build-resources.js#L31

[2019-08-28 21:15] kaustavghosh06 commented on #2167
@ryanhollander Could you please send it to us at `amplify-cli@amazon.com`?

[2019-08-28 21:41] gridknight commented on #2164
@yuth
I tried it with dev small as well (I have no environment set) to which the environment must match? This was not necessary in previous versions.
Thanks a lot

[2019-08-28 21:49] nino-moreton commented on #2147
@ajhool what version are you using? We're currently stuck @ v1.11.0 due to some other bug in v1.12.0 and pushing and pulling is working fine for us. You might want to consider switching amplify version in the meantime.

[2019-08-28 21:59] nino-moreton commented on #2161
I've actually been following that thread @houmark and seems I missed out on the ElasticSearch sorting issue part. As per @kaustavghosh06 's response this issue should be fixed once PR #2090 is released. Thank you!

Hoping Amplify team will address their project management problem in that thread as I think that was the main point of your opening that issue.

[2019-08-28 22:01] yuth commented on #2164
What was the version of Amplify CLI that you had installed? Amplify CLI added support for Multi Environment in v1.0 and would have migrated the project created with pre 1.0 automatically

[2019-08-28 22:34] ajhool commented on #2147
I was using 2.0.0 but dropped down to v1.11.0 and the problem is still there. Specifically, it can't find a binary in the `uuid` node_modules by my function code

[2019-08-28 23:02] andrewbtp commented on #1055
I have a Python script handling this I can stick on Github if ya want @idanlo

[2019-08-28 23:35] kaustavghosh06 commented on #2147
@ajhool Do you see an `amplify/backend/function/<function-name>/node_modules` directory?
if not, an you run `amplify function build` to build the node_modules for your function to test it locally?

[2019-08-29 00:06] #2129 closed

[2019-08-29 00:45] ajhool commented on #2147
@kaustavghosh06

That did not resolve the problem although it did point me in a potentially helpful direction

[code]

Whenever I try `amplify init` or `amplify env pull --restore`, Amplify is downloading the `#current-cloud-backend` into a `.temp` folder and then trying to build the functions. I think there might be an error when amplify is trying to install my node_modules -- I had a typescript

[2019-08-29 01:05] yuth commented on #2147
@ajhool whats the root of your project? Is it `/user/Development/myapp`?

[2019-08-29 01:15] kaustavghosh06 commented on #2147
Also, did you just copy/paste the file contents or use git to push/pull the files?
Can you make sure the project directory is correct in `ampify/.config/project-config.json` and set to your cwd?

[2019-08-29 01:24] ajhool commented on #2147
Yes. the actual path on my computer is slightly longer so I abbreviated it to that when posting -- if the path appears to be different in some of my post, I probably made a substitution error.

I'm using git with these amplify files in .gitignore:
[code]
I don't see a project path in project.config:

[code]

although my `local-env-info.json` looks good:

[code]

and `local-aws-info.json`

[code]

[2019-08-29 01:44] yuth commented on #2147
@ajhool lets track this in a new issue

[2019-08-29 02:22] ajhool commented on #2147
@yuth one last thought before jumping to new issue, if my status looks like:

[code]

and I run `amplify function push` should that delete the desired functions and potentially resolve this issue? Is there any potential harm from running that command?

[2019-08-29 02:55] ajhool commented on #1970
Just lost my dynamo tables from a cli issue and can confirm that this would have been quite nice.

[2019-08-29 05:33] pspanchal opened #2169 "@auth Global secondary Index i.e. query on @model"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
I wanted the top level @auth model to be restrictive yet allow some information that could be public to other tenants

**Describe the solution you'd like**
allow @auth model to take a parameter so that it could be applied on GSI decl

[2019-08-29 06:13] rpostulart commented on #1997
I still have this issue, see my comment here:

https://github.com/aws-amplify/amplify-cli/pull/1999#issuecomment-525882093

[2019-08-29 08:02] nbc-pet-task commented on #2150
It's just "KEY" of environment variables in lambda function.
You can check the real "VALUE" in console.

[2019-08-29 08:04] lockevi commented on #2150
It's just "KEY" of environment variables in lambda function.
You can check the real "VALUE" in console.

[2019-08-29 08:59] mlafo commented on #2150
I'm sorry but you can see in the screenshot below the real value in console created by the amplify push is apitestGraphQlGraphQLAPIIdOutput.

So when in lambda function I use
process.env.API_TESTGRAPHQL_GRAPHQLAPIIDOUTPUT
I get apitestGraphQlGraphQLAPIIdOutput insteed of the real api id.

[cid:43aa3bea-8660-49b2-8ae4-1319aa4cc44d]

Marc Laforet

Responsable Informatique

264 boulevard Godard

CS 9

[2019-08-29 10:00] idanlo commented on #1055
@andrewbtp sure, that'll be great

[2019-08-29 11:35] lockevi commented on #2150
can't see your screenshot, but check these files.
hope you solve the problem.

- Check "Parameters" in [ur function]-cloudformation-template.json (it has default value)
[code]
- Check function-parameters.json (it should has "permissions"."api"."your AppSync name")
[code]
- Check amplify/backend/"your AppSync name"/build/cloudformation-template.json ("Outputs")

[code]

[2019-08-29 12:21] mlafo commented on #2150
Thanks for your involvement.
The three files seem to be fine.
I understand now that amplify is using the default value  of the apitestGraphQlGraphQLAPIIdOutput parameter because it can't get the good one.

    "Parameters": {
        "env": {
            "Type": "String"
        },
        "authtestGraphQlUserPoolId": {
            "Type": "String",
            "Default": "authtestGraphQlUserPoolI

[2019-08-29 13:05] davispeixoto commented on #2164
@blevine , one workaround that worked for me was using "test" as environment name. Not sure why it was accepted, but it was.

[2019-08-29 13:32] attilah commented on #1246
Already fixed because dependency is changes in a recent PR.

[2019-08-29 13:32] #1246 closed

[2019-08-29 13:35] #1581 closed

[2019-08-29 13:47] ryanhollander commented on #2167
@kaustavghosh06 just sent. Thanks!

[2019-08-29 15:12] jcvalerio commented on #979
We need this too, we use git-flow in our development process and as @AustinDeric we need to match the branch name with the environment, currently, we have to perform some transformations on our CI process to address this limitation.

👍

[2019-08-29 16:44] blairtaylor opened #2170 "No such file or directory error when using amplify mock api"
Steps to reproduce:

amplify mock api

Error message:

Error: ENOENT: no such file or directory, lstat 'D:\code\aws\amplify\marketbox\amplify\backend\api\marketbox\resolvers\Subscription.onUpdateUserInvitation.res.vtl'

I receive the same error message for all my schema types.

Schema has 30 types. I can send via email for further diagnosis if this helps.

Platform is Windows 10. Amplify version i

[2019-08-29 17:20] yuth commented on #2161
We have fixed this in #2090

[2019-08-29 17:33] kaustavghosh06 commented on #2123
@jasonbobier You can store these input and output parameters (also specifiy a pattern) in the `.graphqlConfig.yml` generated at the root of your project.

Out here, are you just requesting for a headless option for the same?

[2019-08-29 17:43] kaustavghosh06 commented on #2154
@jkeys-ecg-nmsu I tried reproducing it in a project and couldn't see this behavior. I'll re-open this issue if anyone else has the same issue.

[2019-08-29 17:43] #2154 closed

[2019-08-29 17:46] kaustavghosh06 commented on #2155
@idanlo Did you test your app after immeidately pushing the schema using the CLI?
Also, did the push succeed or did it rollback? You can check for the logs in the AWS Cloudformation Console.

[2019-08-29 17:48] idanlo commented on #2155
@kaustavghosh06 Yes I immediately tested it.
The push looked like it succeeded looking at the CLI (no errors) but I haven't checked Cloudformation

[2019-08-29 17:48] kaustavghosh06 commented on #2170
@blairtaylor Can you please send us your schema at `amplify-cli@amazon.com`?

[2019-08-29 18:01] #2140 closed

[2019-08-29 18:03] kaustavghosh06 commented on #2142
@V1j1 Did you get a chance to take a look at our @auth docs which uses Cognito to manage your app users - https://aws-amplify.github.io/docs/cli-toolchain/graphql#auth?

[2019-08-29 18:05] #2149 closed

[2019-08-29 18:10] blairtaylor commented on #2170
Done. Thanks.

[2019-08-29 18:42] yuth commented on #2145
@blairtaylor In your schema, package has 1 to 1 connection to both `Company` and `ServiceType`. Filtering is possible and useful only when the connection is 1 to many.

If your schema was 1 to many `companies` and 1 to many `servicetypes` as shown below, then you would be able to filter both `companies` and `servicetypes`.
[code]

[2019-08-29 18:56] SwaySway commented on #800
Hi @houmark in the resolver for elasticsearch the response is outputting nextToken in the form of a string (though it should get evaluated at runtime):
- ` #set( $nextToken = "$entry.sort.get(0)" )`

Can you send an email to amplify-cli@amazon.com with your schema included?
What field are you searching on?
[code]

[2019-08-29 19:06] kaustavghosh06 commented on #2113
@zawarski We published a fix for this in 2.0.0 release.

[2019-08-29 19:06] #2113 closed

[2019-08-29 19:10] Jscott388 opened #2171 "One table with nested items return null."
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
GraphQL

** Provide additional details e.g. code snippets **

I only need one table but I have nested items.
[code]

I don't need a separate table for media, because I am fetching through a real estate API and saving the documents. The API response is structure as one response with the media objects.

[2019-08-29 19:11] blairtaylor commented on #2145
Thanks. I did not implement the 1:* relationship between Company and Package as it caused an error when attempting amplify api push. I had to reverse that change. Will have to investigate further.

If we could focus on the relationship between Package and ServiceType. There is one ServiceType per Package and each ServiceType can belong to multiple Packages. I should be able to filter Packages by S

[2019-08-29 19:23] kaustavghosh06 commented on #2127
@tclindner It seems like there was an unsuccessful deployment and it failed to rollback/delete the S3 bucket. We already have this in our backlog to delete S3 buckets on deployment failures.

[2019-08-29 19:23] #2127 closed

[2019-08-29 19:25] kaustavghosh06 commented on #2125
@oscarnevarezleal Headless creation of resources/categories is not supported yet. the `categories` flag is used to just pass in parameters to the cloudformation templates and not to create the resources. You would have to go through the CLI flow to add the resources once and then use the headless scripts (mentioned above) to automate your deployments.

[2019-08-29 19:25] #2125 closed

[2019-08-29 19:27] houmark commented on #800
I can send that, but I did a `console.log({nextToken});` of nextToken at runtime and it displays:

`{nextToken: "$entry.sort.get(0)"}`

To be honest, right now I am not sure if my dev is running on 1.12.0 or 2.0.0, considering the issues with the Console. I will return to this as soon as that is solved because this was buggy in 1.12.0 but should be fixed in 2.0.0 right?

[2019-08-29 19:27] kaustavghosh06 commented on #2057
Closig this issue since the team wasn't able to reproduce this and lack of requester information.

[2019-08-29 19:27] #2057 closed

[2019-08-29 19:32] yuth commented on #2145
If you want to show all the packages that are active for a service type then you could use a query similar to this

[code]

[2019-08-29 19:33] kaustavghosh06 commented on #2055
@vkumarvs That's correct. DynamoDB doesn't provide filtering capabilities for complex JSON objects. For advanced filtering you could either use Elasticsearch along with your DDB using @searchable dirctive or use two models.

[2019-08-29 19:40] gabriel-wilkes commented on #2167
I also have this issue on a Mac, so it certainly isn't platform specific.

[2019-08-29 19:52] yuth commented on #2167
@ryanhollander @gabriel-wilkes do you happen to have any custom resolvers or resources in your project?

[2019-08-29 20:03] ryanhollander commented on #2167
@yuth Yes, I have a few custom data sources, roles, functions, and resolvers.

[2019-08-29 20:07] gabriel-wilkes commented on #2167
Yes, I have a custom resolver which required a custom resource

[2019-08-29 20:20] swaminator commented on #2022
@hoang-innomizetech you can do that with the Amplify Console. You can connect the same repo to different apps, so you could have a React, Angular, Vue app all created from the same repo.

[2019-08-29 20:56] SwaySway commented on #800
Whether the `"$entry.sort.get(0)"` has quotes on it shouldn't effect the variable itself rather within the responses coming from elasticsearch it may not have sort specified in the response.
I want to confirm if this is the case. Are you able to do a query on your dev env on a different field? Also if possible, edit the resolver in the console so the quotations are removed. If they are removed and

[2019-08-29 20:58] houmark commented on #800
Thanks, I will get into this later tonight once I have the Console issue tested because this could be a mix of both. I also have a deadline that I need to meet today, and all these issues have delayed me so much.

[2019-08-29 21:01] yuth commented on #2167
@ryanhollander  @gabriel-wilkes Do you mind sharing a minimal project which can reproduce this issue. Please send it to `amplify-cli@amazon.com`

[2019-08-29 21:41] yuth commented on #1997
@rpostulart could you share a minimal project where  we can reproduce this issue

[2019-08-29 22:11] dahersoftware commented on #2055
@kaustavghosh06 I will explore @searchable directive but graphql support for nested objects would have been amazing. I just need to fetch all my complex objects rows that are keyed and include the rows that matches my nested attributes field.
Creating multiple tables to satisfy only this requirement sound little harsh to me.

My schema is something like below.
type Factory
  @model
  @key(fields:

[2019-08-29 23:22] gabriel-wilkes commented on #2167
Thanks, I have sent the minimal project now.

[2019-08-29 23:43] houmark commented on #800
I was looking in the AppSync Console for the search resolver, but I cannot seem to find it. I have not done custom resolvers or modified any resolvers before, so I'm not very familiar with this part.

I entered Schema and on the right side I looked through the list, and while I found a few resolvers, I did not find the search specific one, and many places it will say "Attach" in the Resolver colum

[2019-08-30 00:25] yuth commented on #2167
@gabriel-wilkes I looked at your project. Its a bug in the graphql-transformer which is not related to Amplify CLI v 2.0. It was an existing bug. We will have a fix for this but in the mean time you could unblock yourself by adding `Outputs` section to  `<project-root>/amplify/#current-cloud-backend/api/jscreenapp/build/stacks/CustomResources.json`

[code]

[2019-08-30 00:37] SwaySway commented on #800
It should in the API your working with under schema from there you can search for resolvers by entering `query`. The resolver datasource would be ElasticSearchDomain. Screenshot included below
![image](https://user-images.githubusercontent.com/7465495/63985256-8dcc1700-ca83-11e9-9196-2f85bfb3cec6.png)

[2019-08-30 00:53] SwaySway commented on #800
The request resolver is viewable from there it would look something like
[code]

[2019-08-30 00:54] houmark commented on #800
Found it. The search in that interface is pretty useless. I search for my model name, and expect everything related to that model will show including the ElasticSearchDomain resolver. It did not. I searched for ElasticSearchDomain or just "elastic" and same result, nothing found. Searching "query" did find it though. That UI is also freezing up for close to one minute when loading the Schema the f

[2019-08-30 00:57] houmark commented on #800
I think for less confusion you should refer to this as the "response template" in the ElasticSearchDomain resolver as there's also a "request template".

[2019-08-30 01:03] SwaySway commented on #800
I believe you can submit a report on the [AppSync Forum](https://forums.aws.amazon.com/forum.jspa?forumID=280&start=0).

If you remove the quotations (save the resolver) and run the query in the console (under Queries). Would it still return null or return a value?

[2019-08-30 01:18] houmark commented on #800
Result before changing the resolve response template:
<a href="https://cl.ly/a09aea" target="_blank"><img src="https://d3vv6lp55qjaqc.cloudfront.net/items/2W2f121o0m0t2v3y0p0n/Image%202019-08-29%20at%208.14.44%20PM.png" style="display: block;height: auto;width: 100%;"/></a>

After changing it:
<a href="https://cl.ly/37d2b5" target="_blank"><img src="https://d3vv6lp55qjaqc.cloudfront.net/items/2N3F

[2019-08-30 01:26] SwaySway commented on #800
Could you also share the request mapping template?

[2019-08-30 01:29] houmark commented on #800
Yes, here you go:

(I modified the name of the numberFields for privacy)

[code]

[2019-08-30 01:32] SwaySway commented on #800
Can you provide the query as well?

[2019-08-30 01:37] houmark commented on #800
Then you'd also need the model I guess?

My query is dynamic and built depending on selections in the UI, but I have the following simple test query:

[code]

[2019-08-30 01:52] SwaySway commented on #800
What seems to be missing in ES response is the sort list where the first element is used as the nextToken.

Could you send us an email of your schema? amplify-cli@amazon.com
We'll see if we can replicate the issue.
For better error handling I'll submit a PR shortly to remove the quotations.

[code]

[2019-08-30 01:56] hoang-innomizetech commented on #2022
@swaminator  We don't want to setup apps manually on AWS console. However, I found another approach to setup hosting by using Serverless Website Component

[2019-08-30 01:57] houmark commented on #800
Just schema.graphql right? Will do in a bit! Please reply to the email so I know you got it.

[2019-08-30 01:59] houmark commented on #800
Email sent!

[2019-08-30 02:27] gabriel-wilkes commented on #2167
Thanks @yuth, that fixed the issue!

[2019-08-30 03:01] andrewbtp commented on #1055
@idanlo https://github.com/andrewbtp/AppSyncPipelineResolverDeployer

[2019-08-30 04:19] hsiehro opened #2182 "Amplify multi-env setup causing my production build with wrong env access"
Hi,

Firstable, I know this might not be the proper place to raise Amplify multi-environment issue. But since I'm not getting feedback on AWS forum, I hope to address the issue here to get some attention from AWS team.

I'm using amplify react native to build both ios and Android application. I created two environment branch on both git and amplify - development and production. Recently I built my

[2019-08-30 04:22] undefobj commented on #2156
The authorization metadata lives on the item itself inside DynamoDB, so a read must take place either way. For instance on owner based checks the record itself must be read before performing a comparison with the user context.

[2019-08-30 06:08] PaulPCIO commented on #1229
I seem to be having this problem, might be because i'm using yarn?

[code]

[2019-08-30 06:14] rpostulart commented on #1997
Of course what do you need? At least here is my scheme:

[code]

[2019-08-30 06:31] PaulPCIO commented on #1229
Yea so just to confirm this is purely with `yarn` i removed my global installing from yarn and installed with `npm` everything is working fine now

[2019-08-30 08:13] RapidOwl opened #2179 "One arrow key press counts as two when selecting options in the CLI"
**Describe the bug**
When I'm trying to select options in the Amplify CLI, pressing an arrow key once counts as two presses in the CLI. This is a minor annoyance when there's an odd number of options since it wraps and eventually you can select the option you want. When there's an even number of choices (e.g. GraphQL or REST) it's impossible to select some things.

**To Reproduce**
Steps to reprod

[2019-08-30 11:45] gsans opened #2181 "Adding a new graphql api using Visual Studio Code fails"
**Describe the bug**
During a workshop few attendees experienced this issue which seems to be linked with guided schema creation.

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add api
2. ? Do you want a guided schema creation? Yes
3. amplify push finds no changes or api

**Expected behavior**
GraphQL API is created as expected and push works fine.

**Output**
Failing output. Note:

[2019-08-30 15:03] aldegoeij commented on #98
If you have DDB Stream -> Lambda -> ES setup then you could easily add a field e.g. 'migration_run:1' to all existing records in a DynamoDB table to stream it to Elastic?
Put some throttling or scheduling in place to not impact normal operation.

[2019-08-30 15:49] dsmrt commented on #2164
This is still an issue for me on cli version 2.0.0.

![Screen Shot 2019-08-30 at 9 45 43 AM](https://user-images.githubusercontent.com/1995478/64034201-691b8200-cb0b-11e9-880d-12c9fbed6fea.png)

[2019-08-30 16:37] blairtaylor commented on #2145
Thanks. We'll use this approach.

[2019-08-30 17:16] ryanhollander commented on #2167
@yuth @kaustavghosh06  I'm sorry, I can no longer reproduce the issue! It seems to have gone away on it's own while I was working on my API. If it shows back up I'll re-open. Thanks for looking into it.

[2019-08-30 17:25] SwaySway commented on #800
Hi @houmark could you try the following query?
[code]
ES search_after depends on sort (field and direction) in order to return nextToken, which is used to return the next set of results after the index specified in `$entry.sort.get(0)` .
Somethings to follow up from this is add a default option for `sort.field` and `sort.direction` if they are not specified in the query.
In the meantime until #209

[2019-08-30 17:29] jasonbobier commented on #2123
Is there some documentation on this somewhere? I see:

generatedFileName: API.swift

but that produces one swift file from all of the graphql files.

[2019-08-30 17:49] houmark commented on #800
@SwaySway The query works and returns a `nextToken` (ID of the last returned record in the current query) and it makes sense. How that was not covered in AWS tests does not make sense though :)

I will continue to change the template and update you again, and as I understand it (please confirm), adding this resolver locally, will also make sure it's not overridden by the default one on every deplo

[2019-08-30 18:15] houmark commented on #800
@SwaySway Question. Do I drop the line:

`#set( $numberFields = ["myField1", "myField2", "deleted"] )`

And if I do, do these fields go into the new line?
`#set( $nonKeywordFields = ["createdAt",....]`

[2019-08-30 18:29] SwaySway commented on #800
Yes it will override the resolver generated in `build/`, though it needs the same name for the override to happen. You can confirm this by doing `amplify api gql-compile` and checking the build folder for something like `Query.searchApplications.req.vtl` (basing this name on the query you provided in this thread)

You can use the existing request resolver template in your project and add any date

[2019-08-30 18:32] ajhool commented on #1657
I've always had trouble retrieving `createdAt` because it isn't in the autogenerated schema and I think there might have been a resolver issue at one point. Are you able to retrieve `createdAt`?

[2019-08-30 18:38] houmark commented on #800
OK, will do. It looks like `$numberFields` is not used in the code though and has been replaced by `$nonKeywordFields`.

[2019-08-30 18:44] ajhool opened #2185 "Using API with appsync, what is the simplest way for the listMyObjects request to return date-sorted objects?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Appsync, Dynamodb, Auth/cognito

** Provide additional details e.g. code snippets **
Imagine a standard blog with a list of Articles. Each user has a webpage and their username is the `owner` of each ar

[2019-08-30 18:48] yuth commented on #2181
This should be fixed by #2163. We released this fix this morning. Please feel free to comment or re-open the issue if the problem still persists

[2019-08-30 18:48] #2181 closed

[2019-08-30 18:52] #2145 closed

[2019-08-30 19:40] yuth commented on #2179
@RapidOwl whats the version of Node do you have installed?

[2019-08-30 19:46] ryanhollander commented on #2167
OK, So I spoke too soon...

[2019-08-30 19:57] yuth commented on #2171
Media should return the values. Could you share the query and mutations that you are using when you get the response as null.

I tried your schema with appsync and created a record using the following mutation
[code]
and when I run the following query
[code]

I get the response as expected
[code]

[2019-08-30 20:02] yuth commented on #2167
@ryanhollander does your custom stack have `Outputs` and `Resources` section? The GraphQL Transformer has a bug where if the custom stack is missing either of these keys it crashes. I have raised #2176  which should fix this problem

[2019-08-30 20:09] houmark commented on #800
That was a partial success. I got it working and sorting with *some* date fields. And the nextToken seems to be working also — that is when it does not throw an error.

As you can see in the`schema.graphql` I sent in, I have a field called `signupDate` which is `AWSDateTime` just like many other fields in that model.

Sorting using this field breaks my query. I am not sure if this is because this

[2019-08-30 20:16] houmark commented on #800
So, looking at `Indices` -> Mappings in the Elasticsearch console I found what seems to be the reason:

[code]

As you can see, Elasticsearch thinks `signupDate` is a text field. How it got to that, I don't know. How I change that, I don't know. My production Elasticsearch shows `date` for that field, so this is only affecting my development environment.

Any hints?

[2019-08-30 20:16] houmark commented on #800
@SwaySway forgot to mention you, but that should not be needed I think...

[2019-08-30 20:18] ryanhollander commented on #2167
@yuth I'll test that, thanks.

[2019-08-30 20:30] yuth commented on #2164
@dsmrt we released the fix. Please install the latest version of Amplify CLI and you should not face this issue

[2019-08-30 20:55] swaminator commented on #2022
@hoang-innomizetech the service is named Amplify Console so can be confusing. But you can use Amplify's hosting offering via the AWS CLI, CloudFormation, or any of the AWS SDKs. https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/AWS_Amplify.html
https://docs.aws.amazon.com/cli/latest/reference/amplify/index.html

[2019-08-30 21:39] nikhname commented on #2133
@acme-one I was not able to reproduce queries returning null using the rds transformer. Single quotes around the id param are not required in the resolver - the correct behavior with queries and mutations occurs without them. Could you provide more details about the steps you took to reach queries returning null so that I can try to reproduce this?

[2019-08-30 22:04] SwaySway commented on #800
Within your development environment in the custom resolver you can remove signupDate from the your numberFields list. This would append the `.keyword` to signupDate when doing a query.
As elasticsearch uses the [keyword datatype](https://www.elastic.co/guide/en/elasticsearch/reference/master/keyword.html) when querying on text fields.

[2019-08-30 22:06] dsmrt commented on #2164
Updating to 3.0.0 fixed it. Thanks!

[2019-08-30 22:14] houmark commented on #800
Hmm, I don't have signupDate in the numberFields list anymore. I only have Int type fields.

Is it not possible to update the Mappings to change from text to date?

[2019-08-30 22:32] micaelgallego commented on #1996
Same issue here.

How can we install an old version that works?

[2019-08-30 22:42] SwaySway commented on #800
It is possible to change mapping though this would involve a [reindex](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-put-mapping.html) to avoid having issues with your previous entries under that field.

If the field is not in the custom request resolver then it should append the `.keyword`. It could be that es did not register it as a text field. If you add it to the lis

[2019-08-30 23:01] houmark commented on #800
I'm not sure I follow anymore.

The field is not in the `$numberFields` anymore. I don't think it ever was, but can't be sure. **It is in the `$nonKeywordFields` list**  together with about 10 other date fields. All the other ones work.

Can you direct me to where I can verify this better? Not sure where I'd find `.keyword` for example?

Reindex does seem complicated in relation to the way DynamoD

[2019-08-30 23:30] oscarnevarezleal commented on #2125
Noted, thanks for clarifying this.

[2019-08-30 23:40] ajhool commented on #1417
I believe this feature is currently available by adding this field to your `amplify/backend/api/{YOUR_API_NAME}/parameters.json`:

[code]

example parameters.json:

[code]

[2019-08-30 23:44] ajhool opened #2186 "Add a flag for Point in time recovery with Dynamodb"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Automated backups are a great cloud db feature, however Amplify does not leverage this. Additionally, Amplify can sometimes accidentally delete data, so it would be particularly helpful to have the Point in Time Recovery feature enab

[2019-08-30 23:49] nikhname commented on #2133
What is the type of id in your schema?

[2019-08-31 00:21] SwaySway commented on #800
Are you using the request resolver I provided in the thread above as the custom resolver? (the custom resolver which is overriding the request resolver template). If so try a query with `signUpDate` removed from the `$nonKeywordFields` list. This list should also include the values in previous resolver which used `$numberFields`.

To add some context on keyword:
This is a type which is added to te

[2019-08-31 00:48] DanielMuller opened #2187 "Create cognito user pool with AllowAdminCreateUserOnly=true"
**Is your feature request related to a problem? Please describe.**
For partner or intranet dashboards/apps, I want to disable user sign-up and only allow admins to create users. User will then be added via an alternate way to the pool (AWS-CLI, Cognito console, alternate app).
`amplify add auth` doesn't allow me to do that

Is there a way to do this with custom CF templates? I didn't find out how

[2019-08-31 00:54] houmark commented on #800
Interesting.

The `.keyword` did not work for me in quick testing. That just breaks the query. Not sure if I am doing it wrong.

I am using the custom resolver from before. Unless CLI 3.0.0 changed or fixed any of this, then none of this would have worked unless I have the custom request template.

I now removed `signupDate` from the  `$nonKeywordFields` array and now it's no longer throwing error

[2019-08-31 01:19] ryanhollander commented on #2167
@yuth ok, it looks like adding: "Outputs": {} to my #current-cloud-backend/api/.../build/stacks/CustomResovlers.json fixed the first issue during gql-compile, however now I get a new error during push about my "NoneDataSource" which is a data source with the type of "None" I use for some pipeline functions and is defined in the CustomResolvers.json.

UPDATE_FAILED               apiFrontOfficeDashb

[2019-08-31 07:45] Elifaz commented on #186
any updates on this?

[2019-08-31 13:43] blairtaylor opened #2188 "Amplify console deploy fails."
Attempting to CI our dev branch using Amplify Console fails.

It seems to be a permissions issue but the amplifyconsole-backend-role role created using the defaults has AdministratorAccess.

Note this is the first deploy in a new AWS account if that is important.

This is the build log:

# Starting phase: build
# Executing command: amplifyPush --simple
2019-08-31T13:32:13.803Z [INFO]: # Getting Am

[2019-08-31 16:19] romeoflute commented on #1903
This is still happening, Sept 1, 2019.

[2019-08-31 18:57] pairmix commented on #833
what about this issue ?

[2019-08-31 20:25] playground commented on #2085
Getting similar issues with a fresh install, running node 10.13.0
[code]

[2019-08-31 20:34] playground commented on #2085
Same error with node v12.9.1

[2019-09-01 11:50] rawadrifai commented on #1043
@undefobj no worries. We’re still building with amplify at this point too deep, hoping there would be support for dynamic groups. It’s impossible to design something like slack with static groups only. Let us know if anything changes.

[2019-09-01 12:15] tgjorgoski commented on #1866
Happened to me too:
I'm attaching: the schema change, the general error, and more detailed error from CFN:

<img width="1303" alt="Screenshot 2019-09-01 at 14 12 42" src="https://user-images.githubusercontent.com/1822105/64076260-e2a9a080-ccc2-11e9-866b-d4a718692f24.png">
<img width="1340" alt="Screenshot 2019-09-01 at 14 13 41" src="https://user-images.githubusercontent.com/1822105/64076261-e2a9a

[2019-09-01 14:32] anarerdene opened #2190 "src/graphql -> query and mutations not generating"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-09-01 17:18] kwhitejr commented on #1576
@ajhool I'm trying to track down the current state of the "how to handle unauthenticated access to appsync" discussion... I've looked all over #1043 and don't see any reference to or discussion the PUBLIC role. Ctrl+F finds nothing either. I am missing something?

[2019-09-01 17:20] ajhool commented on #1576
This is the pull request that I'm tracking, I'm 90% sure it covers public auth but I'm not positive:

https://github.com/aws-amplify/amplify-cli/pull/1916/files/6c0d023881c0276f7cc528cc978026a60ab65c1f..bb55cd82abfb148272b173f69f1fd195e629ecd7

[2019-09-01 17:23] ajhool commented on #1576
And this is the comment that leads me to believe so:

https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-524595083

[2019-09-01 18:51] kwhitejr commented on #1576
Fantastic!

[2019-09-01 21:54] azizur commented on #1966
Thank you @cyrfer, your comment saved me from hours of head-scratching.

[2019-09-01 23:19] rawadrifai opened #2189 "Subscriptions, Auth and Dynamic Groups"
**Is your feature request related to a problem? Please describe.**
This related to https://github.com/aws-amplify/amplify-cli/issues/1043
Subscriptions auth is not sophisticated enough to support a generic use case, a messenger like Slack. The reason is lack of support for Dynamic groups in the 2.0 update for the cli.

Take a very simple use case. A user inserts a message record in the messages ta

[2019-09-01 23:20] rawadrifai commented on #2189
@undefobj There you go, separate issue.

[2019-09-02 02:48] oste opened #2191 "more than one add-graphql-datasource per api"
I think it would be amazing if `add-graphql-datasource` supported the ability to add more than one database to a single API. Currently, I am able to add a second datasource but push fails with `The following resource(s) failed to create: [RelationalDatabaseAccessRole].` error.

Since @ashwindevendran I was wondering if you can provide more details on if this is currenlty possible with a workaround

[2019-09-02 12:20] RapidOwl commented on #2179
@yuth Node version is 11.9.0.

[2019-09-02 12:41] ilyador opened #2200 "Is there a native way to query AppSync fror createdAt and upadtedAt?"
Those fields exist in the DB but it seems like there is no way to query for them with GraphQL and the autogenerated resolvers.

[2019-09-02 15:08] aej11a commented on #54
@mikeparisstuff Can you share any updates on this?

[2019-09-02 15:28] aej11a commented on #1043
Hey @undefobj , thanks for all your work on this.

There haven't been any updates or comments on Proposal 4 in a long time, is that still in the roadmap? any progress on it yet?

thanks again

[2019-09-02 17:00] dahersoftware opened #2192 "Cognito pre-token claim attributes are missing from Graphql resolver"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am using pre-token generation trigger in Cognito that set tenantContext value to identify user tenant relationship.
After login to cognito via Auth.signIn, I am trying to execute API.graphql(graphqlOperation(...))
everything works fine except I do not see my tenantContext attribute

[2019-09-02 17:32] aej11a commented on #1043
One more question, is there a way to define auth rules based on property **values**? For example, allow User B to view User A's status only if User B is present in User A's `approvedFollowers` list

[2019-09-02 18:09] Monder87 opened #2193 "New env amplify push fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. create new environment in an existing project with another environment
2. Amplify push in the new env
3. See error

**Expected behavior**

A new environment create all resources

[2019-09-02 18:27] nick-town opened #2194 "Mocking with Docker DynamoDB Local"
**Describe the bug**
When developing the sample app and attempting to do `amplify mock api` with the Docker version of DynamoDB running locally on port 8000, the following message appears:

    Failed to start API Mock endpoint Error: max retries hit for starting dynamodb emulator

Note also that a Java popup appears at that time, indicating that Amplify is trying to directly start the Java packag

[2019-09-02 19:09] amirmishani commented on #1043
@aej11a field level authorization has been implemented for some time now. See [docs here](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#field-level-authorization).

[2019-09-02 19:09] oliverandersencox opened #2195 "Deleting record with connections causes nullable error"
** Which Category is your question related to? **
API

I have created a pretty large app with Amplify and am testing the removal on records from the user dashboard.

The delete call works great and removes the records from their requested tables.

However I have noticed that if I delete a record which has connections to other records, pulling the records with subsequent connections will now give t

[2019-09-02 19:11] aej11a commented on #1043
@amirmishani Thank you! Missed that somehow

[2019-09-02 20:13] fabianjj opened #2196 "Amplify CLI Migration fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Amplify CLI fails to migrate to newer version.

**To Reproduce**
Steps to reproduce the behavior:
1. I have a project configured with an older version of the CLI.
2. Update the CLI to 3.0.0.
3. Try almost any amplify command (this triggers a request to migrate).
4. Try migrating.
5.

[2019-09-02 20:21] tgjorgoski commented on #2147
I had this (or similar issue).
I think It was because of .graphqlconfig.yml which was added to the git repo on a window machine, and then I got the same one my mac. Because of it, the codegen was using the wrong slash.

[2019-09-02 23:41] kftsehk commented on #1576
I end up with the solution of editing generated cloudformation-template.json in `api/<api_name>/build` & schema to use a recent feature of AppSync

1. Edit the cloudformation-template so it has an additional API_KEY authentication

+++ Add this below under Resources.GraphQLAPI.Properties
[code]
--- Delete this below under Resources.GraphQLAPIKey
[code]
Ref: https://docs.aws.amazon.com/AWSCloudForm

[2019-09-03 00:49] houmark commented on #1865
This got sidetracked by different ideas, but I'd like to know if we can expect total counts for at least Elasticsearch based queries soon?

@undefobj `$ctx.result.hits.total` is in the resolver response template already, so there should be very little code needed to get this wired in all the way. This would help with a decent workaround for overall total counts for now. It seems doing this against

[2019-09-03 02:33] houmark opened #2197 "DynamoDB indexes not being removed on amplify push rollback"
**Describe the bug**
Not exactly sure how I got to the point where a rollback happened, but I did. After that I went into a loop of rollbacks until I realized the root of the problem.

After my initial rollback the DynamoDB tables where deleted. My theory is that I did a push in CLI and later I committed code to Git which triggered a Console automatic deployment/push but I did not commit the schem

[2019-09-03 02:53] oste opened #2198 "An error occured during the push operation: Cannot convert undefined or null to object"
**Describe the bug**
Initial push works but if I make a change to schema.graphql I get ```An error occured during the push operation: Cannot convert undefined or null to object```

**To Reproduce**
Steps to reproduce the behavior:
1. amplify init
2. amplify add api
[code]
3. amplify api add-graphql-datasource
[code]
4. Edit `/Users/somename/amplify/backend/api/somename/schema.graphql`
I removed `i

[2019-09-03 04:18] mrducky4 commented on #2192
I have the same question. In my case the graphql request from the browser puts the access token in the HTTP Authorization header. I assume this is what eventually gets to a resolver to handle authorization. I am new to all this, following the [getting started tutorial](https://aws-amplify.github.io/docs/js/start?ref=amplify-js-btn&platform=purejs).  I changed the tutorial a bit to use AMAZON_COGNI

[2019-09-03 05:41] kftsehk commented on #1271
The solution by @mikeparisstuff worked with following notes:
1. `"FunctionVersion": "2018-05-29"` is a required property in `EchoFunction.Properties`, 2018-05-29 is the only version that is supported.
2. `Fn.GetAtt` in pipeline resolver is actually spelt `Fn::GetAtt`

Side note: There is no need for a lambda data source, any data source e.g. from dynamodb can be used, also `RequestMappingTemplateS

[2019-09-03 08:03] kftsehk commented on #2186
Please try edit `api/<your-api-name>/parameters.json`, add
[code]

The variable is used within the generated stack, only that it is not shown explicitly in parameters.json. Below is the relevant generated code copied from a file of my `api/<your-api-name>/build/stack/YourTableName.json` for your reference.
[code]

My amplify version:
[code]

[2019-09-03 13:34] tclindner commented on #2127
Thank you, @kaustavghosh06 👍

[2019-09-03 13:53] MaximumCrash opened #2199 "AWSDateTime scalar is not currently supported by RDS datetime type"
**Describe the bug**
This is more of an issue with AppSync and RDS, I've already put in a ticket with them and the feature/bug ticket has been put in with the Amazon team. But I thought it'd be good to alert this community on this particular issue.

When pulling in an RDS datasource and a table has a column of a datetime type, the graphql-transformer applies the AppSync scalar AWSDateTime (as expe

[2019-09-03 16:10] heitorlessa commented on #2057
Bumped into this today in an existing stack, here are the steps to solve if anyone comes here later.

1. **Update API nested stack within the backend CloudFormation stack with `DynamoDBEnableServerSideEncryption: true`**

In my case, my API is named `apiawsserverlessairline` - Excerpt from: **amplify/backend/awscloudformation/nested-cloudformation-stack.yml**

[code]

2. **Update API parameters.js

[2019-09-03 16:17] SwaySway commented on #2132
Closing as this issue as it has been addressed in the latest release of the Amplify CLI.

[2019-09-03 16:17] #2132 closed

[2019-09-03 16:47] yuth commented on #2198
Do you have custom resources in your project?

[2019-09-03 17:22] oste commented on #2198
@yuth, I don't think so. I was able to reproduce the error with a fresh test directory using the minimal steps above.

[2019-09-03 17:23] oste commented on #2198
Was thinking this could be a possible edge case with `amplify api add-graphql-datasource` but really not sure. Unfortunately, this blocking development since I cannot update my schema.

[2019-09-03 18:47] yuth commented on #2196
@fabianjj could you share a sample schema where we can reproduce this issue

[2019-09-03 18:47] MaximumCrash commented on #2198
@oste, I've been running into this issue as well with ```amplify push```. (I use RDS a lot) My current solution is running amplify init, selecting your existing environment and then running your desired amplify commands.

This works consistently for me as a work around.

[2019-09-03 18:51] yuth commented on #2195
@oliverandersencox from error message it looks like the error happens due to the constraints that were put in the GraphQL schema. Could you share a sample schema where we can reproduce this error when an record is deleted.

[2019-09-03 18:55] yuth commented on #2194
Amplify CLI installs DynamoDB local automatically when the CLI is installed and does not need docker to have DynamoDB local. We had some dependecy issues earlier which we fixed in #2061. Could you try running mock server with the latest version of Amplify CLI and see if that fixes the issue

[2019-09-03 19:05] yuth commented on #2193
@Monder87 could you share the name of the bucket you have chosen for hosting. You can find the bucket name in `<proj-root>/amplify/backend/hosting/S3AndCloudFront/parameters.json`

[2019-09-03 19:13] #2195 closed

[2019-09-03 19:14] oliverandersencox commented on #2195
@yuth you are correct. It turns out I have the required flag on the fields with connections and when removed, this no longer occured

[2019-09-03 19:21] acme-one commented on #2133
I was using VARCHAR field for the primary key 'id'

Exact steps to reproduce:

From RDS Query Editor:

CREATE TABLE `Pets` ( `id` varchar(45) NOT NULL, `name` varchar(45) NOT NULL, PRIMARY KEY (`id`)) ENGINE=InnoDB DEFAULT CHARSET=utf8

(chose the basic "Todo" example)

The simplest way to verify the issue is in the appsync console. Run this mutation:

mutation CreatePets {
  createPets(createPets

[2019-09-03 21:05] yuth commented on #2192
Pre-token generation trigger in Cognito updates `idToken` of the user and Amplify API uses `accessToken` when making a request to AppSync. This is what is  causing your `$ctx.identity.claims.get` method to return null for `tenantContext`. You could update your code to set custom authorization header as mentioned in the [docs](https://aws-amplify.github.io/docs/js/api#set-custom-request-headers-for

[2019-09-03 21:10] yuth commented on #2190
Could you share the `<project-root>/.graphqlconfig.yml` so we could reproduce this issue. Please make sure you obfuscate sensitive information like API Keys

[2019-09-03 21:53] mrducky4 commented on #2192
Thanks, that worked for me. I added that to my app.js. But I had to change one line to:
[code]

[2019-09-03 22:00] yuth commented on #2187
Amplify CLI does not support this yet. I am marking this as feature request.

 But you could update your cloudformation to include this. I would like to call out that if you run `amplify auth update` these changes will be overwritten.

[code]

[2019-09-03 22:15] nikhname commented on #2133
@acme-one Thank you for providing your exact steps, I was able to reproduce this behavior. This is a bug - single quotes should be generated around the id parameter since the type of id is varchar in  your table. We will work on a fix that generates the correct template based on the type of id.

[2019-09-03 22:20] Jscott388 commented on #2171
Let me double check this.

[2019-09-04 00:34] yuth commented on #2197
@houmark thank you for reporting this issue. This is the limitation that cloud formation has when dealing with DynamoDB as [documented](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-table.html)

We are brainstorming how best we can handle this from Amplify CLIs side. We have a couple of ideas how we should handle this
1. If the rollback happens, show an error

[2019-09-04 00:47] houmark commented on #2197
Yes, I think 1 and 2 both apply here.

AN UPPERCASE RED message at the end of the rollback would at least notify me to go and delete the indexes manually (I guess it knows which indexes it created, so it could point me pretty deep to the index). If that can even result in a prompt in the CLI which gives me the option to safely delete the exact indexes, then that's even better.

And doing an index

[2019-09-04 00:57] yuth commented on #2179
@RapidOwl I could not reproduce this on a windows machine (Running Windows 10 Enterprise Version 1803) with Node 11.9.0 using powershell 5.1.  Is there anything else that you think might have caused this issue?

Could you try the latest version of Amplify CLI and see if the issue still persists

[2019-09-04 01:12] psyrenpark commented on #1996
I same issue

[2019-09-04 02:17] houmark commented on #2196
Oh, migration is necessary?

On a related note, using ANY command in Amplify CLI with a new version (for example `amplify status`), Amplify CLI should detect that the project is running configuration based on an older and clearly with a WARNING text in red color explain how to migrate or have an option to migrate all services/categories in with one acceptance by the user.

I want to test this out,

[2019-09-04 02:21] houmark opened #2202 "Amplify CLI should inform the user of possible migration with any command"
**Is your feature request related to a problem? Please describe.**
I am running Amplify CLI 3.0.0, but my project started in early version 1.x. It's not clear to me that migration is preferred or necessary until I do some kind of update to a service. This may or may not create side effects or issues when pushing a project.

**Describe the solution you'd like**
Any command in the CLI, including a s

[2019-09-04 02:22] houmark commented on #2196
Feature request related to my comment opened in #2202.

[2019-09-04 03:04] oste commented on #2198
Thanks for the suggestion @MaximumCrash. That works for now. Will keep this open for now.

[2019-09-04 03:27] Monder87 commented on #2193
sure:
[code]

[2019-09-04 03:35] hsiehro commented on #2182
Several days with no feedback, it makes me worried whether or not Amplify itself is still a highly active maintain project inside Amazon. If any plan to phase out in the next year or two, please let me know. Thanks.

[2019-09-04 03:38] kaustavghosh06 commented on #2182
@hsiehro Which switching environments are you sure that the `aws_exports.js` generated by the CLI is different and based on your environment?
I believe it is required for you to restart your react native app after you change environments (which changes your aws_exports.js file), for the app to pick up the changes - if you don't have any watcher or hot-reload setup.
@undefobj @mlabieniec Any though

[2019-09-04 03:51] hsiehro commented on #2182
@kaustavghosh06 Hi, appreciated your prompt feedback. Yes, everytime I made the env switch, I always double confirm to make sure the config inside aws-exports.js is correctly setup before I make the build. I assume that is the only place I could check.

I use expo to develop and test my application before each build, so the expo itself already have a hot-reload mechanism inside. The obvious proble

[2019-09-04 03:59] kaustavghosh06 commented on #2182
Contacted @haverchuck to take a look if the Amplify JS lib picks up configurations from a cache on the device (Which looks like its stale in your case). We're investigating and trying to reproduce it.

[2019-09-04 04:06] haverchuck commented on #2182
@hsiehro - Are you using the [Amplify GraphQL Client](https://aws-amplify.github.io/docs/js/api) or the [AWS AppSync SDK](https://aws-amplify.github.io/docs/js/api#aws-appsync-sdk)?

[2019-09-04 04:10] hsiehro commented on #2182
@kaustavghosh06 @haverchuck Thanks for the help. For your information, I tested on three devices:
iPhone 6 - main development and test device for ios
Oppo - main development and test device for Android
iPhone 6+ - a friend's device only use the final ipa production build I generated to run the test (clean device and 1st install, no previous cache data from any of the build)

I original thought als

[2019-09-04 04:17] haverchuck commented on #2182
@hsiehro -  The AppSync SDK is a seperate npm package that can be used with or without Amplify.   The Amplify library has it's own seperate GraphQL client, which is lighter weight.
For your information the distinction can be found [here](https://aws-amplify.github.io/docs/js/api#using-aws-appsync).  You don't necessarily need it to use Amplify with AppSync, though.  It sounds like you are using Am

[2019-09-04 04:19] DanielMuller commented on #2187
This worked, thanks.
But as you said `amplify auth update` will cancel my changes. As long as all devs are aware of it, it's doable.

[2019-09-04 04:24] hsiehro commented on #2182
@haverchuck Thanks for the explanation. In that case, I am using the GraphQL client without installing AppSync SDK separately, which you are correct.

[2019-09-04 04:41] undefobj commented on #2182
@hsiehro in your app can you log out the contents of your aws-exports at runtime to see which environment config is currently being used?

[2019-09-04 04:54] hsiehro commented on #2182
@undefobj  Not sure what you mean by log out at runtime. When first launch the application, it always direct user to a page where he/she can login/logout and change password...etc. If you need, I can send you the app depends on ios or Android device you are using. Thanks.

[2019-09-04 05:13] undefobj commented on #2182
Something like `console.log(aws-exports)` with remote debugging to see what the values actually being used are as it sounds like you have some race condition/conflict with the env being used.

[2019-09-04 05:20] hsiehro commented on #2182
@undefobj I see, I also wish to add log message to it to trace where it gets its value from, but my question still is if there is no dev environment config files existed inside the build, how can it obtain all the right paths, keys and values to access different server?

[2019-09-04 05:23] hsiehro commented on #2182
@undefobj Screenshot of my current source folder structure. Let me know if you need to look at particular file. Thanks.

![image](https://user-images.githubusercontent.com/8207338/64227711-0cf39c00-cf17-11e9-8b06-0267287262f7.png)

[2019-09-04 05:26] haverchuck commented on #2182
@hsiehro -  You can see the what is actually in the app build at runtime using Expo's[ remote debugging option](https://docs.expo.io/versions/latest/workflow/debugging/#on-ios-simulator).

[2019-09-04 05:36] hsiehro commented on #2182
@haverchuck Thanks for info. One thing I didn't mention is I was never able to reproduce it when running on expo. The reason is because expo runs by hot-reload, it doesn't give me the option of exit the app or force close and re-enter again. The way to 100% reproduce this issue is to force close my app and re-launch. Another problem is the logout page only shows at startup, once entering applicati

[2019-09-04 05:41] haverchuck commented on #2182
@hsiehro You are running the app outside of expo to repro this?  Did you eject it?

[2019-09-04 05:53] hsiehro commented on #2182
@haverchuck This is my current situation. I develop and test my application between dev and production env using expo because of its hot-reload feature, I can immediate see the result.  Everything is working as expected. Then one day I figure I am ready to make a standalone build for both ios and android, so I used expo build command to create apk and ipa files and installed on my device.

Initial

[2019-09-04 06:00] hsiehro commented on #2182
@haverchuck Correction on the iOS part, double press the home key and swipe to kill the application in the background. Thanks.

[2019-09-04 06:30] hsiehro commented on #2182
So far, I couldn't find information from logcat as what makes the switch. Is there a way to trace what's happening inside Auth.configure(awsconfig)? My awsconfig is import from aws-exports, and there is only one file exist in that path. This is the only place I could think of causing the environment change, as part of the initialization. And further thinking, this could also be an Expo problem too

[2019-09-04 08:44] hsiehro commented on #2182
@haverchuck Sorry I misunderstood your original question. I am using pure expo during development and did not eject from it. The reason is because expo help me build an ios image without a macbook.

[2019-09-04 10:08] rawadrifai commented on #1043
@undefobj I opened this (sorry for posting on the RFC) https://github.com/aws-amplify/amplify-cli/issues/2189. If there is no intention to support dynamic groups with subscriptions in the near future, please let us know. If you have an alternative solution staying within aws, also pls comment on the open request.

[2019-09-04 11:08] dabit3 commented on #955
For anyone running into this issue after attempting to update an API, check `amplify/.config/local-env-info.json` to make sure the path is correct. I had moved my project and the path no longer was the right path.

[2019-09-04 11:58] hi120ki opened #2203 "How can I setup rest api with DynamoDB (which is created by amplify graphql shema) ?"
** Which Category is your question related to? **
amplify rest api

** What AWS Services are you utilizing? **
DynamoDB

** Provide additional details e.g. code snippets **
I setup graphql api and some DynamoDB tables are created.
(I write schema.graphql and run "amplify push")
And I'd like to operate DynamoDB data by rest api and lambda function.
(a user post api some data, then modify them by la

[2019-09-04 14:10] Monder87 commented on #1018
same problem here, after clone the repo i got :
[code]
but the api should be the same

[2019-09-04 15:53] fabianjj commented on #2196
@houmark: Using any command for me triggers the request for migration, including a red warning text. It does not allow any command to be performed unless a migration is made. Declining to migrate cancels the command.

[2019-09-04 16:05] fabianjj commented on #2196
@yuth, here is the schema I'm using:

`type TripComponent @model {
  id: ID!
  name: String!
  packItems: [PackItem!]! @connection(name: "ComponentPackItems")
  tripsThatHaveComponent: [TripComponentConnection!]! @connection(name: "TripComponentTrip")
}

type PackItem @model {
  id: ID!
  name: String!
  description: String
  tripComponent: TripComponent! @connection(name: "ComponentPackItems")

[2019-09-04 19:28] haverchuck commented on #2182
@hsiehro If you use remote debugging with expo on an emulator, I believe you can take full advantage of Chrome dev tools.  So you should be able to put a breakpoint inside of Auth.configure.  You can also try turning on Amplify's built-in [Logger](https://aws-amplify.github.io/docs/js/logger) utility.

[2019-09-04 20:48] houmark commented on #2196
Also `amplify status`?

[2019-09-04 20:57] fabianjj commented on #2196
@houmark Yes, amplify status as well.

[2019-09-04 21:20] yuth commented on #2196
@fabianjj do you have a custom resource in your GraphQL API? We have had https://github.com/aws-amplify/amplify-cli/issues/2167, which was caused due to missing `Outputs` section in custom resources

[2019-09-04 22:04] JonRave3 opened #2204 "amplify-cli Install fails"
**Describe the bug**
Unable to install aws-amplify/cli successfully. Keep getting the following output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. npm install -g @aws-amplify/cli --unsafe-perm=true

**Expected behavior**
amplify-cli successfully installs with no errors (warnings are acceptable)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Node: v

[2019-09-04 23:14] CaptainChemist opened #2793 "Storage: how to control CRUD actions based on cognito groups"
** Which Category is your question related to? **

This is in regards to s3 storage.
In AppSync we can assign users to groups and using graphql transform and the `@auth` decorator to specify what a user can do. For example:

[code]
How can you do the corresponding control in s3 upload with the amplify package? I see that I can assign controls based on authenticated or unauthenticated users, but I

[2019-09-04 23:50] yuth commented on #2204
@JonRave3 are you behind an proxy server?

[2019-09-04 23:52] yuth commented on #2203
Amplify CLI does not expose the DynamoDB table created by GraphQL Transformer. I am marking this as a feature request and putting this in our backlog

[2019-09-05 00:19] KRN-JKUN opened #2206 "how to add dynamodb policy in role of lambda via amplify add function?"
**No Amplify Storage.**
I have used DynamoDB tables already exist.
How can I access from Amplify Function to DynamoDB via amplify add function?

[2019-09-05 01:12] SwaySway commented on #800
It's not possible to update the index mapping for an existing field.
As another followup to this is, we will look into adding reindexing when a change in the schema is made.

I created this gist for a [reindexing python script](https://gist.github.com/SwaySway/41548b31f48b00dc18080c08d1583601).
Where I change an index, named todo, mapping field, timeField, from text to date.

[2019-09-05 01:24] houmark commented on #800
Thanks @SwaySway — that's a decent workaround for now and can at least fix a situation like mine it seems.

One question; My python is no good, but I do have python locally on my Mac. Would that work or should manually create a Lambda and paste in the code and run it from there?

[2019-09-05 01:59] JonRave3 commented on #2204
i have tried both (behind and not behind one) and get the exact same error messages

[2019-09-05 03:06] hi120ki commented on #2203
Thank you for answering my question.

I find these amplify-cli option

[code]

Is this rest api can use GraphQL queries and mutations, and modify DynamoDB data?

If this can, how can I setup mutations and queries with @auth on lambda function?

[code]

[code]

[2019-09-05 03:48] hsiehro commented on #2182
@haverchuck Thanks for the advice. First to jump into the conclusion. This problem has nothing to do with the Amplify env itself, my apology for all of your time spending. It is caused by the previous setting that was cached and somehow mixup during the expo build. The way I come to this conclusion is to do an expo start -c which -c flag is to clear cache first before creating a new build. The pro

[2019-09-05 05:55] fabianjj commented on #2196
@yuth not that I’m aware of, it should only be the schema.

I do use a separate AWSconfig file from the auto-generated one  when I run my app (if I remember correctly it was because I got the wrong cognito user pool).

[2019-09-05 07:24] danhumphrey commented on #2110
Should `amplify/\#current-cloud-backend` really be in .gitignore?

What if you have a master and dev git branch (for instance) and want a corresponding prod and dev amplify env. Shouldn't the appropriate backend be pinned to the git branch so the checkout of branch also updates the amplify environment?

[2019-09-05 08:12] RapidOwl commented on #2179
I've tried the latest version of the CLI and I still get this issue. I tried to get a colleague to install the CLI and test it, but the install repeatedly failed. This is probably some madness specific to my machine so don't worry. Thanks for taking a look though.

[2019-09-05 08:36] #2190 closed

[2019-09-05 09:01] chris-merapar opened #2207 "Support multi-AZ Elasticsearch for high availability"
**Is your feature request related to a problem? Please describe.**
When the ElasticsearchInstanceCount property is set to a value greater than one in the Amplify API parameters file, the extra ES instances are all created in the same AZ. This means that it is not possible to have a highly available ES cluster using Amplify.

**Describe the solution you'd like**
Enable multi-AZ in the generated Clo

[2019-09-05 11:22] christodupreez opened #2208 "amplify env checkout prod > amplify status > throw up;"
Hi,

Not sure what's causing this. When I checkout an environment, amplify status produces an error, see below:

[code]

I have tried: amplify env pull --restore, but no luck.

What am I doing wrong?

amplify -v
1.7.8

[2019-09-05 15:15] kwhitejr commented on #1576
@kftsehk Thanks for sharing your implementation! Your step 5 raises an interesting question: is it possible or advisable to switch Amplify configurations based on whether the user is authenticated or not?

[code]

[2019-09-05 15:43] andyhmi commented on #955
Still having troubles. Once again, I did not look into this too deep. Just wondering if you can see something wrong again, otherwise I'll spend some time debugging. Getting the following error messages now. Also attached full output. Thank you!

[code]

[output.txt](https://github.com/aws-amplify/amplify-cli/files/3580058/output.txt)

[2019-09-05 16:09] thedgbrt opened #2209 "Lambda trigger for DynamoDB REST api generates buggy cloudformation template"
When adding a lambda trigger to a storage db (using a REST DynamoDB), the generated CloudFormation template isn't correct, and prevents the trigger from firing.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Then push your changes with `amplify push` and manually add an element to the dynamotable. The testTrigger function will have an error.

**Expected behavior**
It should work out of

[2019-09-05 17:13] kaustavghosh06 commented on #2209
@thedgbrt Not sure if I get the difference between the two roles that you mentioned and the difference. The "testTriggerPolicy" is attached to the lambda Execution Role.
The other two issues which you've tagged isn't related to this.

[2019-09-05 17:13] V1j1 commented on #2142
thanks @kaustavghosh06 ! That link is useful. However, I am trying to solve a different problem. I have a react-native app that uses aws-amplify and graphQL on the backend. I used the starter kit that came with the aws-amplify tutorial. I have completed building the application. I am using the AWS Cognito user pool to manage logins to my app. While creating the connectivity to my AWS account, I us

[2019-09-05 17:17] yuth commented on #2196
@fabianjj could you share a project which we can reproduce this on. You could share it privately by sending it to amplify-cli@amazon.com

[2019-09-05 17:19] yuth commented on #2193
AWS S3 has to have unique bucket names. Your deployment should succeed if change it to a different bucket name.

[2019-09-05 17:22] thedgbrt commented on #2209
@kaustavghosh06 I’m not fluent with the way policies get attached to each other, I just tried to fix it until it worked 👨‍💻
However I can confirm that with the first solution, i get an error that the trigger function doesn’t have the necessary permissions. With the second one it works out of the box.
I removed the references to other issues.

[2019-09-05 17:23] yuth commented on #2179
@RapidOwl could you share the install error messages you saw

[2019-09-05 17:30] fsommers commented on #501
I wonder if there's any progress on this. Right now, I'm stuck on trying to add an aurora cluster as a GraphQL data source. The command line just hangs. I would like to have a some tracing / verbose output so see just where things get stuck. Is that possible to obtain from the amplify cli?

[2019-09-05 17:32] yuth commented on #2111
@RuarriS Did you make the changes using the AppSync console or using Amplify CLI. If the changes were made using Amplify CLI, did you use [headless mode](https://aws-amplify.github.io/docs/cli-toolchain/usage#headless-mode) to push your changes

[2019-09-05 17:35] yuth commented on #2200
Please feel free to re-open or comment on the issue if this does not answer your question.

[2019-09-05 17:35] #2200 closed

[2019-09-05 17:36] yuth commented on #2192
Please feel free to comment if this does not answer your question.

[2019-09-05 17:36] #2192 closed

[2019-09-05 17:39] SwaySway commented on #800
It should work locally as well you can install the dependencies the script has, via pip install, and run it locally. Is the version python3?

[2019-09-05 17:40] #2182 closed

[2019-09-05 17:43] yuth commented on #2171
Feel free to comment if you are still seeing the issue

[2019-09-05 17:43] #2171 closed

[2019-09-05 17:45] #2156 closed

[2019-09-05 18:01] #2161 closed

[2019-09-05 19:30] kldeb opened #2210 "The table does not have the specified index error on mock"
**Describe the bug**
`amplify mock` can't find an index created by `@key`.

I get the following error:

[code]

Here's my key:

[code]

If I change the query field to match the casing (capital n) and re-run `amplify mock` it works.

**To Reproduce**
Steps to reproduce the behavior:
1. create a key with a capital name and lower case queryField
2. run `amplify mock`
3. See error

**Expected behavior

[2019-09-05 19:45] dahersoftware commented on #2192
Thanks @yuth for providing a solution to this. Sorry for the late response.

[2019-09-05 20:19] yuth commented on #2210
@aireater did you update the schema with `@key` directive after running `amplify mock`?

[2019-09-05 20:20] #2167 closed

[2019-09-05 20:27] aireater commented on #2210
@yuth when i first ran mock i was using a custom resolver (before `@key` was available). I since deleted that custom resource (which was causing a missing index error in mock) and created the key to maintain the same functionality on the client.

[2019-09-05 20:30] yuth commented on #2210
@aireater Mock does not re-create/update the table once table gets created. We are going to fix this but for now you could delete `<project-root>/amplfiy/mock-data/` if you don't mind loosing your test data

[2019-09-05 20:34] aireater commented on #2210
@yuth thanks, will do.

[2019-09-05 20:36] yuth commented on #2210
Re-opening issue as this is a bug in Mock implementation. Thanks for reporting

[2019-09-05 20:40] nateiler opened #2211 "Mock resolvers do not adhere to velocity template version"
I noticed a discrepancy in the execution of a response resolver between the Mock and Cloud instances.

[code]

req.vtl
[code]

res.vtl
[code]

When mocked, if a result is empty the response template is still executed.  Per [upgrade docs](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-changelog.html#aws-appsync-resolver-mapping-template-version-2018-05-29) I changed t

[2019-09-05 21:42] RuarriS commented on #2111
@yuth I made the changes using the Appsync console.

[2019-09-05 22:46] yuth commented on #2111
We recently update codegen to use local SDL schema instead of downloading introspection schema to support local mocking. You can find out if you are using local SDL schema or introspection schema by looking at `<proj-root>/.graphqlconfig.yml` file and looking at if `schemaPath`. If its is pointing to `backend/api/<api-name>/build/schema.graphql` in which case its using local SDL schema. Otherwise

[2019-09-05 23:43] haverchuck commented on #2183
@artecoop @Arunaliyanaarachchi @kyleboss  - A fix for this was merged on August 2nd 2019, and it was released into the main release branch shortly afterwards.  As @artecoop notes, you can check ` amplify > backend > function > YOUR_FUNCTION_NAME_FOR_CUSTOM_MESSAGE > src > verification_link.js` and see if the primary block of code (an if statement) is followed by an else which simply calls the call

[2019-09-06 01:21] GeorgeBellTMH commented on #713
This would be great, I'm getting +30 minute publish cycles...so anything we can do to reduce it by publishing just a delta would be great...even if it's just storing a hash list of the last files from amplify publish and then an amplify publish -delta command that just does the ones that have changed.

[2019-09-06 01:45] kftsehk commented on #1576
1. Does it technically work (now)

I have a case where it worked showed here:
[code]

There is no such documentation as far as I am aware, so things may change depends on Amplify version. Looked into implementation of amplify, suggesting that the config gets updated on every component.
[code]

2. Is it advisable?

- Suppose Amplify (or your graphql client) is a stateless glue between aws and your

[2019-09-06 05:55] danhumphrey opened #2214 "Add User to Group failure"
**Describe the bug**
I added the Auth service and chose the 'Add User To Group' trigger. After adding a user I got some failures in CloudWatch for the first confirmed user.

The second time I added and confirmed a user, there were no failures.

**To Reproduce**
Steps to reproduce the behavior:
1. Add auth and choose the trigger 'Add User to Group'
2. Use the default function
3. push to AWS
4. Sign

[2019-09-06 06:41] pspanchal opened #2215 "how to control mandatory fields for create mutation in @ model"
** Which Category is your question related to? **
create function in @model.

** What AWS Services are you utilizing? **
When creating an @model if I mark ! next to the field then the create function adds it as a mandatory field too. But thats not what I want. For instance, ID is a mandatory field from the schema perspective. But when create mutation is auto-created, I want the resolver to auto-ge

[2019-09-06 14:22] JonRave3 commented on #2204
It appears that some of the errors are related to version compatibility with newer versions of python (3.x.x). I've set node to run with python.2.7.4 and no longer receive these specific errors. However issues still persist. closing this issue as resolved. Recommend documentation specify dependency on Python2.7.

[2019-09-06 14:22] #2204 closed

[2019-09-06 16:09] dismantl commented on #2198
I am also running into this issue when redeploying an AppSync API via Amplify after changing the graphql schema. @MaximumCrash's workaround to do `amplify init` then `amplify push` worked for me. There's almost no error output, no stack traces or anything, so it's hard to figure out where the problem is.

[2019-09-06 16:23] kevinsalerno commented on #2032
+1

[2019-09-06 16:35] haverchuck commented on #2214
@danhumphrey Did the first user still get added to the group?

[2019-09-06 17:44] manchicken opened #2217 "Lower-case Aurora table names cause type mismatch."
**Describe the bug**
If you create an API with an aurora datasource in the Amplify CLI using a table having all lower-case letters in its name, resolvers are created with casing that doesn't match the GraphQL schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an aurora instance, using table names with all lower-case letters.
2. Generate and push an API, with that aurora instance

[2019-09-06 17:47] manchicken commented on #2199
The JavaScript which is generated also attempts to push dates up in a format different from what `AWSDateTime` expects: `"2019-08-17 05:49:55"`

Omitting the field doesn't help, either, as the resolver seems to choke on the existing value in the table as well.

[2019-09-06 19:03] fabianjj commented on #2196
@yuth. Sure, I can share the project I'm working on. Should I include all the contents of the amplify folder as well, or is there anything I can exclude?

[2019-09-06 19:05] yuth commented on #2196
Please include all the contents of amplify folder

[2019-09-06 19:26] fabianjj commented on #2196
All right, thanks. An email should be on its way.

[2019-09-06 19:52] yuth commented on #2215
@pspanchal If you have a schema similar to
[code]
the generated createTask mutations input makes `id` an optional parameter. If the `id` is missing, the resolver automatically creates an unique id as shown below

[code]

[2019-09-06 19:54] yuth commented on #2206
Did you add the DynamoDB table using Amplify CLI?

[2019-09-06 20:42] nateiler commented on #202
Also interested in interface support.  My scenario involves a 'FieldType' interface in which they all share the same DynamoDB table.  I've implemented this through my own resolvers, but when CLI v3 came out I found myself going back and updating all of the custom resolver logic to mirror the new @auth directive enhancements.

[2019-09-06 21:27] danhumphrey commented on #2214
Looks good, thanks for the quick turnaround!

[2019-09-07 01:11] yuth commented on #2196
I was able to reproduce the issue. I am working on a fix for this

[2019-09-07 05:03] oste opened #2219 "User "sub" in pre signup trigger"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I am attempting to access the user sub in my pre signup trigger and it appears that it is only accessible if I choose "**Email address or phone number**" under _How do you want your end users to sign in?_ If I choose "**Username**" it is no

[2019-09-07 05:57] pspanchal commented on #2215
Thanks @yuth. When I am using amplify mock it is forcing me to use the ID. Would this then be an issue just with the mock then?

[2019-09-07 06:27] fabianjj commented on #2196
Great, please let me know if there’s anything else I can do to assist.

[2019-09-07 08:59] rawadrifai commented on #2189
@yuth thanks for taking a look at this. Mind keeping us in the loop as you discuss this with the team? Happens to be a sensitive time for us with this being a critical requirement. Thank you!

[2019-09-07 17:22] ilyador opened #2220 "GraphQL queries return empty although there are matches in DyanamoDB"
As you can see from the screenshots, when searching for `Sets` that are active, I get the correct answer, however when it is false, the query returns empty.
<img width="938" alt="Screen Shot 2019-09-07 at 18 19 59" src="https://user-images.githubusercontent.com/703551/64478175-586aac00-d19c-11e9-8471-43cf358b63c7.png">
<img width="957" alt="Screen Shot 2019-09-07 at 18 20 31" src="https://user-ima

[2019-09-07 17:54] dabit3 commented on #2220
Hi Ilyador, I answered some of the question on twitter, but you can try adding a limit in the listSets argument, next to filter:

[code]

This should fix the issue, or like I mentioned you can change the operation to a query and query on a secondary index.

[2019-09-07 18:43] ilyador commented on #2220
The problem is inconsistency. Sometimes the issue happens and most of the time it does not.

[2019-09-07 19:15] pspanchal commented on #2215
Also, I may have some fields that are generated in the resolver based on the ID. Example groupsCanAccess, groupsCanEdit etc... So they are mandatory from the schema perspective. But from the mutation perspective, I want them to be not passed as an input. So how to achieve this too? In mock as well as regular graphQL API

[2019-09-07 20:15] konsumer commented on #1743
I also have this issue with pulumi. I use pulumi to manage all of our AWS resources. In general, it does a much better job than cloudformation for us (much simpler, code - not config as infrastructure, etc.) Everything else we do with AWS uses it. I'd love to be able to generate all the CRUD stuff that appsync does from it's directives, but I can't seem to find how to just import `@auth`,`@model`,

[2019-09-07 20:58] onlybakam commented on #1913
i dont think this issue is fixed. if you repeat the steps i provided then look at the resource: `S3TriggerBucketPolicy` that is applied to the lambda execution role, you see that it is create a policy with the exact same name of the inline policy for role. this will then overwrite the policy and remove existing permisions

[2019-09-07 21:41] pspanchal commented on #2215
Thanks @yuth it seems that if I mention @key annotation then I have to specify id in mutation. Is this a bug or a feature?
type Task @model(subscriptions:null)
  @key(fields: ["id"]) {
  id: ID!
  title: String!
  description: String!
}

[2019-09-07 23:11] ilyador commented on #2220
@dabit3 I think I understand what you meant: the `list` query scans the db and the filter applied only afterward. Correct?

1. If it is so, what happens if I don't define a limit at all? Is there a default limit? Is it random?

2. In case my db grows big, and I want to avoid querying all and filtering, this is when I should use the secondary index, correct? And if so, how big is "big"?

3. Pleeeee

[2019-09-08 01:35] oste commented on #2219
Sorry if this is not the right place for this type of question. I wasn't sure if this might reach the right person. I think it definitely makes sense to expose the sub in preSignup trigger. It seems like the right place to copy the user into a database and the sub allows for a good connection.

I do wish the sub was a uuid v1 instead of v4 so it can be timestamped but I highly doubt that will ever

[2019-09-08 04:58] hi120ki opened #2221 "How to access amplify GraphQL API on lambda function?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Lambda, amplify GraphQL

** Provide additional details e.g. code snippets **
I'd like to operate amplify GraphQL API on lambda function (with rest API by express).
I make resources by amplify CLI like this.

[code]

my schema.graphql is here.

[code]

I want to do "query GetSecret" and "mutation Updat

[2019-09-08 10:16] artista7 opened #2222 "E-commerce like multiple filter operations using appsync resolver"
Hi, I'm building a web app which will show a list of products. I want to show a filter option on UI.
I am looking for a direction on to how to implement this. Basically how would ui interaction convert to appsync API payload and how should data resolver be written (to handle multiple & optional filter params).

[2019-09-08 10:28] alexanderVu commented on #779
I tried this as well and realized that this violates the philosophy of Amplify. At least against the present version.
The idea behind Amplify is that a completely independent application is defined here. This also includes a DB with an API, authentication, etc. Since the application has certain expectations of the services, they can or should be defined in the project. This is done by AWS Cloudfor

[2019-09-08 10:31] artista7 commented on #2222
Also,  I have another doubt for a long time. One of our resolvers looks like this:-

`#set( $limit = $util.defaultIfNull($context.args.limit, 10) )
#set( $ListRequest = {
  "version": "2017-02-28",
  "limit": $limit
} )
#if( $context.args.nextToken )
  #set( $ListRequest.nextToken = "$context.args.nextToken" )
#end
#if( $context.args.filter )
  #set( $ListRequest.filter = $util.parseJson("$util.tr

[2019-09-08 10:37] artista7 commented on #2222
@kaustavghosh06 If you can help me here, that would be tons of help. Filtering, searching and pagination is the heart of our application. If we could not get around this, we might be moving from appsync to other environment like django/SQL

[2019-09-08 11:34] thedgbrt opened #2223 "API GraphQL - Is it possible to partially update nested field?"
** Which Category is your question related to? **
Api - GraphQL

** What AWS Services are you utilizing? **
DynamoDb

** Provide additional details e.g. code snippets **
I apologize in advance if this is a case of bad fundamental GraphQL understanding on my part, I'm pretty new to it. I digged for a couple hours on the web but didn't find a clear explanation for this.

I have a couple of models si

[2019-09-08 13:07] dahersoftware opened #2224 "Amplify console deployment: federated redirection doesn't work using custom domain"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I deployed me test website using amplify console and added a custom domain.
My domain is active and I can access my amplify deployed app using custom domain.

Here is my issue:
My oauth settings has below redirection settings
**redirectSignIn:** "https://<mydomain>/“
 **redirectSignO

[2019-09-08 14:33] magjack commented on #582
Hi I have been following the advice detailed here https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends to create a multi frontend app with one amplify backend. It is working fine with respects to all backend auth and graphql the only problem I face now is Hosting as when I change the hosting of the app to another bucket and then push when I pull the env in the other app i

[2019-09-08 20:53] dabit3 commented on #2220
Yes, this is correct.

1. Check out the resolver for the list operation. There will be something there like this:

[code]

In the above case, the limit is set as ten if there is no limit passed in. Therefore you would get a `nextToken` if there were more than 10 items in the DB to continue the scan for the next 10 items.

2. Yes, I would use the `Query` operation vs the `Scan` for anything non tri

[2019-09-08 21:08] jhoffmcd commented on #779
In our case we had an existing user pool that was a dependancy of multiple platforms, so it would not work via the Amplify CLI to integrate that existing user pool and have it be part of our Cloudformation templates for the web platform (the templates for that user pool already existing elsewhere). It was a non issue though, we did the [manual setup](https://aws-amplify.github.io/docs/js/authentic

[2019-09-08 23:10] philohelp commented on #955
Thanks a lot @dabit3 ! I had indeed renamed the directory of my project. Such a tiny little change...

[2019-09-09 01:16] poppybank commented on #779
Part of the original issue was that there are a lot of configuration options on user pools that were not configurable in amplify and we not changeable once the user pool is created. So in addition to the case that @jhoffmcd mentions (existing user pool from another project), I wanted a way of configuring all of the settings that we can get in a user pool within amplify. I think it is better than i

[2019-09-09 10:51] mdw2000 opened #2226 "api gql-compile: TypeError: Cannot read property 'Properties' of undefined"
The following error is returned when compiling the schema after upgrading the cli from `1.7.5` -> `3.0.0`.

[code]

I found the cause to be the `@auth` directive with static group rules that was inside the `Mutation` root type.  After moving the directive to the model the schema compiled without errors.

[code]

The auth was on the root type

[code]

After moving it to the model it compiles fine
[

[2019-09-09 11:04] thedgbrt opened #2227 "Feature request: Custom env variables in lambdas"
The update mentioned in [684](https://github.com/aws-amplify/amplify-cli/issues/684#issuecomment-497212548) allows lambdas to access env vars generated by other amplify resources. However we still need a way to add custom environment variables to a project. I have a lambda that interacts with an external service via an API Key, I need a simple way to declare it through the amplify-cli.

I tried se

[2019-09-09 12:32] alexanderVu commented on #779
@poppybank I am not particularly experienced with AWS Cloudformation, but should not it be possible to change this to the Cloudformation configuration file after defining Auth and before the push? And should not it be possible to change it there afterwards? Of course this means it create a new cognito service.

[2019-09-09 14:13] Soek22 opened #2228 "Error: Schema is not configured for subscriptions -> Not generating GraphQL API"
**Describe the bug**
I am not able to get API.swift generated/updated when setting custom model operation names with 'null' subscriptions (removing subscriptions entirely).

**To Reproduce**
Steps to reproduce the behavior:
1. Define a 'schema.graphql' where I set custom named operations, plus 'subscriptions' to 'null'.

[code]

2. Perform `$ amplify api push` (or `$ amplify codegen types`)
3. I g

[2019-09-09 14:17] MohdAbid1092 opened #2229 "Image Rekognition issue"
when i compare two images in amazon console it wil give 85% similarity score but when i compare these image programatically it gives 16% similarity score (source image is person id and target image is person image)

but when i compare only person images it will give fine result most of the time
why this is happening i am unable to resolve it please help me

[2019-09-09 14:19] federicopuntoni commented on #1997
same here with simple lambda as source:

/api
 /resolvers
  Query.echo.req.vtl
  Query.echo.res.vtl
/stacks
 CustomResources.json
schema.graphql

**schema.graphql:**
[code]

**CustomResources.json:**
[code]

**Query.echo.req.vtl:**
[code]

[code]

[2019-09-09 14:31] jhoffmcd commented on #779
I think specifying that you want to use am existing pool would be a nice CLI option, however I don't think there would be any point in templatizing that in CloudFormation since that resource is already created (and maybe already has a template somewhere else?). Really, all the app really needs to do auth is all available in the `Auth` class import.

@alexanderVu be aware that some changes you make

[2019-09-09 15:21] grudra7714 commented on #2113
@kaustavghosh06 @attilah still no bueno. We tried builds with `2.0.0` and `latest`  amplify-cli version in the aws console and still same result. We have 4 environments running `master`, `demaster`, `prodtest` and `newprod`. `master` env is the one that developers share locally and do local builds. Also its the only one that builds without any issue. Other 3 environments which are built from ampli

[2019-09-09 16:05] babus commented on #962
@yuth The link is broken. Couldn't find anything easily in the doc too.

[2019-09-09 17:06] #2148 closed

[2019-09-09 17:41] Kunie-dev commented on #2206
No. We must use tables already exist.
We don't use Amplify Storage.

[2019-09-09 18:09] UnleashedMind commented on #2229
@MohdAbid1092
When you said "compare these image programatically", did you mean you used the Amplify-CLI's prediction category to get those inconsistencies? or should we open an ticket for the Rekognition team?

[2019-09-09 19:18] #2193 closed

[2019-09-09 19:29] nikhname commented on #2208
Are you using any custom resources in your project?

[2019-09-09 19:34] konsumer commented on #1743
I dunno if this helps original issue, but I did a bit more research, and I think I have a pretty awesome solution for my stuff:

[code]

[2019-09-09 19:48] christodupreez commented on #2208
Hi Nikhil,

No custom resources used for this project.

Kind regards,
Christo

On Mon, 09 Sep 2019, 9:30 PM Nikhil Lingireddy, <notifications@github.com>
wrote:

[2019-09-09 23:12] set321go opened #2231 "Amplify function specify source location"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify Cli functions
** What AWS Services are you utilizing? **
Appysync, dynamo, lambda
** Provide additional details e.g. code snippets **
I couldn't find my answer in the docs for amplify or in the more general aws docs for functions.

I have an

[2019-09-09 23:29] UnleashedMind commented on #1820
@mwarger

I just sat down with @jbailey2010 and we tested together, the issue is fixed.
Could you please check again, just to to confirm that you don't see that issue again.

[2019-09-09 23:58] nikhname commented on #2217
I was able to reproduce this, it is a bug in the RDS schema transformer. We will work on a fix for it.

[2019-09-10 00:17] kevinc1984 commented on #1904
Any update on this? Can we use YAML for our custom stacks yet in Amplify?

[2019-09-10 01:18] pravgupt commented on #2232
Assigning to CLI team, I ran into this as well and the appId provided at the cli was not present in the identity created.

[2019-09-10 01:44] beaurushton commented on #1965
Running into this issue as well, trying to configure PinPoint to region `ap-southeast-2`.

[2019-09-10 05:18] mdw2000 opened #2233 "Owner authed subscriptions not firing"
I'm unable to get subscriptions for any models with owner specified as `@auth` rule

E.g. this is a model with both owner and static group auth - the owner field is being set correctly on create:
[code]

Client side subscription:

[code]

I've tested with different users - owner only, static group allowed and both owner and static group and the subscription never fires.   It only works if I add th

[2019-09-10 07:41] federicopuntoni commented on #1997
If it can be useful I add that I run "amplify mock" from Windows 10.

From the error we see that the template is searched in the path as:

"Resolvers / Query.echo.req.vtl"

to notice instead that the path of Windows is with backslash:

"Resolvers \ Query.echo.req.vtl"

[2019-09-10 07:46] federicopuntoni commented on #1997
also, the resolvers folder in build/ is empty

[2019-09-10 08:39] nick-town commented on #2194
I confirmed via email that we could get DDB local working after a Java install. This issue should be classed as a feature request. Please reopen.

[2019-09-10 11:08] chezhiane commented on #2232
In my case the app client settings are not set up when pushed thru amplify console. So might be something related.

[2019-09-10 13:13] Jordan-Eckowitz commented on #588
I have not changed my folder name or manually changed any configuration settings. I ran `amplify configure project` just in case and I am still getting the **must have values error**. Anyone got any other possible solutions?

[code]

[2019-09-10 13:16] CaptainChemist opened #2234 "Cannot change the depth of the returned queries data"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

This could definitely be a user error but I can't get the gql generation to go more than 2 levels even when I change the max depth.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `amplify codegen configure` and specify the max statement depth as 3. (typescript language,

[2019-09-10 13:54] yuth commented on #2215
@pspanchal its expected that user to pass the fields that are part pf `@key`. `@key` directive and recommended to be used only if you want to use different field as key or when you want to use  composite key.

We don't have plans to support making field declared as non null field in mutation

[2019-09-10 13:54] #2215 closed

[2019-09-10 18:03] SwaySway commented on #2233
@mdw2000 In your mutation response did you include the owner field as well?
[code]

[2019-09-10 21:24] konsumer commented on #1743
As a related sidenote, I found an issue ( Urigo/merge-graphql-schemas#241 ) that could be solved with a flag for merge-graphql-schemas, or more robust handling of the root-element.

amplify transformers can't make mutations or subscriptions if this is in the typeDef (which merge-graphql-schemas adds):

[code]

[2019-09-10 21:35] Soek22 commented on #2228
I get same error when using the following syntax:
`subscriptions: { level: OFF }`

[2019-09-10 21:48] nikhname commented on #2208
@christodupreez What categories are you using in your project? Could you please also check if you can reproduce this with v3.0.0? I am currently unable to reproduce this error.

[2019-09-10 23:00] djheru commented on #2199
I've also run into this bug, which is present in the example Marketplace schema in the amplify `add-graphql-datasource` section of the docs 😞

[2019-09-10 23:32] UnleashedMind commented on #2223
@thedgbrt
No, it's not possible.
You can either spread the answers out in the definition of the original UserProfile model, or create a Answers model and a connection between the UserProfile and the Answers model.

[2019-09-11 00:53] UnleashedMind commented on #2219
We will contact the Cognito service team for this, in the meanwhile, you can also create a post in their forum
https://forums.aws.amazon.com/post!default.jspa?forumID=173

[2019-09-11 00:56] UnleashedMind commented on #2219
@oste
We will inform the Cognito service team about your issue, will keep you updated.
You can so post a new thread in the Cognito forum
https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-09-11 01:49] oste commented on #2219
thanks @UnleashedMind I actually already cross posted there, here it is https://forums.aws.amazon.com/message.jspa?messageID=915060#915060

Thanks for keeping this one active. Hoping sub can be provided as a param for Pre Signup Triggers.

[2019-09-11 07:28] christodupreez commented on #2208
@nikhname , I'm using Auth, Api, Hosting & Storage.

I can give v3.0.0 a go.

I have a suspicion that my git is causing the issue. I think I added stuff that should not have been according to .gitignore. Can you perhaps advise me on how to start a new project and importing the categories from the cloud? Or how to get my git sorted to support multi environments?

[2019-09-11 09:24] thedgbrt commented on #2223
@UnleashedMind thanks, that’s what it seemed like. I guess spreading out is a good idea. I hadn’t thought if it but it’s a simple way to solve it.

[2019-09-11 09:24] #2223 closed

[2019-09-11 12:23] RossWilliams opened #2239 "lowercase @key name argument with composite sort key causes schema failure"
**Describe the bug**
Using a @key directive with a name in lowercase and a composite sort key causes the generated query to reference an input type using incorrect capitalisation. The query input assumes a lowercase key name will stay lowercase, but the generated input type will be made uppercase.
This only fails when using a composite sort key.
**To Reproduce**
use the following test in graphql-k

[2019-09-11 12:36] RossWilliams commented on #2239
@attilah The issue looks to be making the name PascalCase here: https://github.com/aws-amplify/amplify-cli/commit/51716f340e820358087d68fd9e926084c10565eb#diff-ca2c9971cf82b7ea4207497c2bc7e611R164

Making the addCompositeSortKey function transform the name to PascalCase as well should resolve the problem.

[2019-09-11 12:40] mdw2000 commented on #2233
@SwaySway - thank you I was not aware of the mutation requirement - that resolved the issue!

[2019-09-11 12:40] #2233 closed

[2019-09-11 13:03] attilah commented on #2239
@RossWilliams yeah, I encountered this issue while reviewing and testing the connections v2 PR, I think this is the same issue, but leave it open for now, connections v2 will be merged soon.

[2019-09-11 13:18] RossWilliams commented on #2239
If you are referring to #2230 I don't see that PR changing key transformer. Or is there another PR for me to check?

The input type name is generated with PascalCase, so when the query is generated it needs to use the same casing as it reconstructs the input type name.

So changing addCompositeSortKey to have the same upper casing pattern should solve this

[code]

[2019-09-11 14:03] RossWilliams commented on #2100
#2230 contains a fix for this issue by changing the definition of Model2 to:
[code]

[2019-09-11 14:06] RossWilliams commented on #2222
@artista7 Have you looked at the @searchable directive to solve this issue? It is quite flexible in filtering and searching items.

[2019-09-11 14:37] dz0l038 opened #2241 "Field @auth transformer combinaisons can lead to unexpected authorized mutation"
Hi!

I am facing a strange behavior for a few days now on the "field @auth transformer". Authorization to perform some mutations are granted when it shouldn't, and the fields order seems to have an impact on mutation execution while I would have think that it is not the expected behavior.
I am still unsure if I misunderstood this transformer or if it is an actual bug, but it is odd enough to me to

[2019-09-11 14:50] mdw2000 opened #2242 ""Export with name is already exported by stack" on prod environment"
I'm experiencing similar errors as in #1581 but with cli version `3.0.0` (after upgrading from `1.7.5`)

The strange thing is that `amplify push --yes` worked fine on `test` and `dev` environments after upgrading the cli, but failed on `prod` environment.

All environments was deployed using `1.7.5` before the upgrade to `3.0.0`

It errors with both Name and StreamArn exports:

[code]

[code]

The

[2019-09-11 15:54] aireater opened #2243 "Expected Iterable, but did not find one for field [field name]."
**Describe the bug**
When running `amplify mock` a query returns the following error:

`Expected Iterable, but did not find one for field User.accountHistory.`

User looks like this:

[code]

This correctly creates a List of Maps in DynamoDB which I can query without error when connected to the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a type with an Iterable (like tags

[2019-09-11 16:55] yuth commented on #2243
@aireater  Could you share the mutation you used to create the `User` and query used that produces this error.

Also do you have run subscriptions running against mock?

[2019-09-11 17:54] aireater commented on #2243
[code]

I tried adding `accountHistory: null` then tried `accountHistory: []` to the mutation. Adding the empty list stopped the error.

Any query would cause the error, even if the field wasn't being returned, for example:

[code]

None.

[2019-09-11 17:58] attilah commented on #2239
@RossWilliams found the issue, it was the same that I fixed in the PR I mentioned, just for key. I created a PR, which will be merged after Connection v2 but that release will contain this fix as well.

[2019-09-11 18:55] aireater opened #2247 "The table does not have the specified index: [my-index]"
**Describe the bug**
The project has an index on a table that was created outside of amplify using custom resolvers (pre-@key functionionality). When `amplify mock` is running the following error appears in the terminal window:

`The table does not have the specified index: accessKey-index`

How are we supposed to manage indexes that were created outside of amplify? Move them all to `@key`?

**To

[2019-09-11 19:17] kaustavghosh06 commented on #2247
@aireater Yes, you're right, when you run "mock" locally - the CLI doesn't have any context of your indexes created outside the CLI - from the console. CLI would nevertheless know about indexes generated using @key - so you can use that instead.

[2019-09-11 19:27] TeoTN commented on #2077
When performing dnd I get descriptor with id of target element and "before" or "after", so I need to be able to quickly access either "sides".

The issue lies here:
[code]
It seems to be duplicated for me that I have ids ordered separately from items themselves. When I remove an item, I have to remove the id from the table - hence the syncing issue I'd say.

As the number is relatively small, at t

[2019-09-11 20:03] aireater opened #2248 "Mock: Cannot return null for non-nullable field [Object.id]"
**Describe the bug**
When running `amplify mock` there are connections that are not required that are causing the following error to appear when I run the queries, for example:

`Cannot return null for non-nullable field Utility.id.`

The id field on the connected object is non-nullable but the object itself is nullable. This works fine when querying AppSync.

Here's the relevant snippet from my s

[2019-09-11 22:18] timoteialbu commented on #1904
@kevinc1984 That's exactly what I do. Convert to yaml, make my changes and then convert back. It would just be nice to support both, since amplify could do that conversion on their side, merge the JSON stuff and then output it back into the format I had.

[2019-09-12 00:15] nino-moreton opened #2253 "How to handle pushing to other amplify envs with schema changes?"
** Which Category is your question related to? **
Amplify API

** What AWS Services are you utilizing? **
Amplify, AppSync, DynamoDb

** Provide additional details e.g. code snippets **
So as suggested in Amplify workflow, we have an amplify env for each major git branch we have (dev, uat, master/prod). We just found out that if we push from dev to uat **and** we have schema changes in dev that in

[2019-09-12 00:31] UnleashedMind commented on #2253
For now, that's the only way to avoid that DDB table limitation.

[2019-09-12 00:38] #2133 closed

[2019-09-12 00:43] #2147 closed

[2019-09-12 02:18] undefobj commented on #1043
Hello everyone, an update on auth based off of feedback from the RFC: today we released multi-auth functionality which includes explicit controls and overrides for public & private access, provider overrides, and mixing/matching authorization controls. You can read more here:

https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization
https://aws-amplify.github.io/docs/cli-toolc

[2019-09-12 02:57] CaptainChemist commented on #2234
I figured this out. I needed to set the maxDepth to 6 instead of 3. Maybe the documentation can be updated to better explain what this number actually means because I understood that the default setting was 2 so it made sense to me that if I wanted it to go 1 deeper than what I had that I needed to increase the number by 1, but I actually needed to increase it to 6, so I'm not exactly sure where t

[2019-09-12 03:12] ilyador commented on #2220
Thanx @dabit3
1. I was trying to figure out how to read and edit the resolvers, but the documentation there is also... sub-optimal... to say politely. I couldn't, even with the help of google, to figure out what language are they written in.

3. It would be nice to be able to see a roadmap, and a clear indication which features are bulletproof production-reaady.

[2019-09-12 05:17] sacrampton commented on #1406
Hey @mikeparisstuff - your suggested workflow above for stack overflows was working great (https://github.com/aws-amplify/amplify-cli/issues/1406#issuecomment-511070208). However, things have stopped working. I'm on the latest amplify (amplify -v = 3.2.0).

The transform.conf.json file is overwritten with a previous version (last successful push) and a new line is added to the end of the JSON as s

[2019-09-12 06:47] sopranolinist opened #2256 "CLI Lambda Function as trigger for non-CLI DynamoDB table?"
** Which Category is your question related to? **
Lambda Functions, Storage

** What AWS Services are you utilizing? **
API, Storage

** Provide additional details e.g. code snippets **
Is it possible to add a lambda function created with the Amplify CLI as a trigger for a DynamoDB table that was NOT created with `amplify add storage`?

I have a DynamoDB table that was created when I added a Graph

[2019-09-12 06:55] #2256 closed

[2019-09-12 08:59] jtushar53 opened #2257 "gsi name not getting added to cloud formation template"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I had a table without any GSIs, when i tried adding it by amplify update storage i could not see GSI name being added to the cloud formation template
**To Reproduce**
Steps to reproduce the behavior:
1. Have a existing table without any GSI
2. Add one using amplify update storage
3.

[2019-09-12 16:03] mwarger opened #2259 "CLI no longer appears to generate API.ts after schema change"
**Describe the bug**
The amplify cli no longer appears to generate an updated API.ts after a schema change. I first noticed this while running `mock` and not seeing my expected types reflected.  This appears to be independent of `mock` though, since just running `amplify codegen` or `amplify codegen types` does not resolve it.

**To Reproduce**
Steps to reproduce the behavior:
1. I used the genera

[2019-09-12 16:03] danielphung90 opened #2260 "Error when amplify push"
Hi Team, I facing this issue after upgrade Amplify from version 1.12.0 to 3.2.0

I did `amplify migrate` without any prompt or error

below is error when I push
✖ An error occurred when pushing the resources to the cloud
`Cannot read property 'defaultAuthentication' of undefined
An error occured during the push operation: Cannot read property 'defaultAuthentication' of undefined`

[2019-09-12 17:48] attilah opened #2262 "Codegen fails for older codegen yaml files"
**Describe the bug**

Older versions of CLI si creating a yaml files where ```includes``` and ```excludes``` can be non-arrays, which is not handled by the latest code.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Project created with 1.7.5, then pushed with latest would reproduce it.