[2020-12-06 22:59] kaustavghosh06 commented on #6052
@KatsuShooter Can you check if you see any files out here - /Users/katsushooter/Library/Mobile Documents/com~apple~CloudDocs/Documents/Projects/DentistCalendar/app/src/main/java ?

[2020-12-06 23:04] #5892 closed

[2020-12-06 23:08] kaustavghosh06 commented on #6051
@nicolas-carlini A lot of the resources which Amplify provisions in the categories aren't available in sa-east-1 region yet - hence it's not an available option yet. We'll be adding more regions as and when all the dependencies are available in that region. Here's a list of regions we support in the CLI today:

[code]

[2020-12-06 23:08] #6051 closed

[2020-12-07 00:44] chantlong commented on #1850
Any updates on the best practice for handling this?

I don't want my GIT `dev` branch and `prod` branch to only have a difference on these S3 Keys.

Is everyone just gitignoring their `amplify/backend/function/lambda-cloudformation-template.json` ?

[2020-12-07 02:14] akshbhu commented on #6086
Hi @r0zar

We have a PR that will fix this issue soon #6040

[2020-12-07 02:17] kaustavghosh06 commented on #6086
Closing this as a duplicate of #5845

[2020-12-07 02:17] #6086 closed

[2020-12-07 02:42] dylan-westbury commented on #5764
Experiencing the same as mentioned by @lexfaraday

[2020-12-07 02:45] 9514Edward commented on #3213
The way I fixed this was.
check if yarn is installed with
yarn version
yarn wasn't installed so I installed it with
npm install -g yarn
Then I started my project over from scratch  (I was coding from a tutorial) and I did amplify push after adding each new set of resources to make sure things were going OK.  They did go ok and I got past the point where I was stuck.

[2020-12-07 03:06] MontoyaAndres commented on #6087
I could fix it by doing an amplify init 🤔

[code]

Why do I need to do this? Maybe this is because this is the first time I'm accessing to this branch? Maybe the message of error should be more descriptive?

[2020-12-07 06:05] davidbiller commented on #6083
@kaustavghosh06
I guess this was to fast.

I already have a backend. Created with the cli Long Time ago.

But I can’t choose this environments in the console.

Also, i can’t pull the amplify backend project in other Frontend apps, because there is no backend connected. This is why I can’t use the admin ui I guess

[2020-12-07 06:19] tnorlund opened #6088 "Issues with API Gateway"
So I recreated my backend successfully, but now my API Gateway is wonk. I'd like to access it by guests and users, but restrict its access to only be readable by users. I'm currently getting the `[Error] Origin http://localhost:8000 is not allowed by Access-Control-Allow-Origin.` error. I previously had this because of permissions. I don't remember how I fixed it, but I thought I'd ask you guys ho

[2020-12-07 06:22] davidbiller commented on #6088
CORS?!

[2020-12-07 06:44] kaustavghosh06 commented on #6083
@davidbiller Have you between 2019 Nov and today upgraded the CLI and run a push on an existing environment? That should ideally create an amplify app and a corresponding backend environment in the console.

[2020-12-07 06:47] kaustavghosh06 commented on #6088
@tnorlund When you added auth using the manual configuration flow - did you go ahead with the userpool + identity pool option and turn on access for unauthenticated users? You can update your auth resource and choose those functionalities using the `amplify auth update` command.

[code]

[2020-12-07 06:51] davidbiller commented on #6083
I can pull the backend in the main Frontend app with the cli.
When I go to the console

Yes. And, it was so stupid, but I deleted this app after that, because I thought, this was a Test project, because I didn’t created it by myself.

So after I deleted, I created it by hand again

@kaustavghosh06

[2020-12-07 06:52] tnorlund commented on #6088
I don't want unauthenticated logins. They are off. I'd like for guests to have read access through the API, while authenticated users should have read, write, update, and delete accesses.

[2020-12-07 06:56] davidbiller commented on #6083
@kaustavghosh06 when I delete the console app, and push again, maybe the cli will create again the project?

Would be ok, so I have to connect again the domains, but maybe it’s possible in the night.

[2020-12-07 06:56] kaustavghosh06 commented on #6083
You don't need to create it by hand in the console. If you're using the CLI, it should automatically create an Amplify app in the console and have the corresponding backend-environments out there. Do you see a corresponding app in the Amplify console anywhere tied to your CLI project? You can find the appId in the `amplify/backend/amplify-meta.json` file.

[2020-12-07 06:57] davidbiller commented on #6083
I only see my own connected app.
I added this over codeCommit.

[2020-12-07 06:58] kaustavghosh06 commented on #6088
Unauthenticated logins in the above flow allows for guest access to your backend only if you choose to allow Guest's to access the resource - in your case API Gateway. You can scope down as you have already the scope of the unauthenticated access to just read. Without adding unauthenticated access in your auth-resource, you wouldn't be allowed to add Guest access for your API Gateway resource.

[2020-12-07 06:59] kaustavghosh06 commented on #6083
Ah, so you deleted your app from the Amplify Console UI which the CLI created?

[2020-12-07 07:01] davidbiller commented on #6083
Correct. It was to late after I checked that this was the correct app in console.

[2020-12-07 07:01] kaustavghosh06 commented on #6083
I'll need to check with the team if we can recover a deleted amplify console app and get back to you.

[2020-12-07 07:05] kaustavghosh06 commented on #6083
@davidbiller In the meanwhile could you also provide the appId for the deleted app?
You can find a reference to it within your local `amplify/backend/amplify-meta.json` file.

[2020-12-07 07:09] tnorlund commented on #6088
I updated the auth:
[code]

I'm still getting the same Access-Control-Allow-Origin error. Is there anything else I can do?

[2020-12-07 07:10] davidbiller commented on #6083
<img width="271" alt="Bildschirmfoto 2020-12-07 um 08 10 09" src="https://user-images.githubusercontent.com/7137361/101320213-a1a82080-3863-11eb-8c52-4c166550714d.png">
@kaustavghosh06 don't have this file?

[2020-12-07 07:11] kaustavghosh06 commented on #6088
Did you run `amplify push` post these changes?
Also, since you're getting a CORS error, is your lambda function tied to the API Gateway endpoint adding the CORS header to the response?

[2020-12-07 07:12] davidbiller commented on #6083
why I don't have the amplify-meta.json?
but found the info here: amplify/team-provider-info.json

"StackId": "arn:aws:cloudformation:eu-central-1:327300291334:stack/aivy-rn-app-production-20190802143852/7d9baa60-b522-11e9-a97b-021298c8e4cc",

"AmplifyAppId": "d3vzlf3ypw8gx2"

[2020-12-07 07:14] kaustavghosh06 commented on #6083
@davidbiller Does your VSCode setting hide files which are put in .gitignore?

[2020-12-07 07:14] tnorlund commented on #6088
I pushed the changes.

I've added CORS to both API Gateway,

<img width="1562" alt="Screen Shot 2020-12-06 at 11 12 46 PM" src="https://user-images.githubusercontent.com/26452518/101320410-9085f200-3818-11eb-826f-0eae9e868bc7.png">

and the lambda function,

[code]

The 'test' in API Gateway works fine, but the client produces the error.

[2020-12-07 07:16] davidbiller commented on #6083
ahhh :D sorry. yes.

"StackName": "aivy-rn-app-develop-20190803185319",
      "StackId": "arn:aws:cloudformation:eu-central-1:327300291334:stack/aivy-rn-app-develop-20190803185319/329a52d0-b60f-11e9-a42b-0ac843449136",
 "AmplifyAppId": "d341qnr5lndklc"

this is the **develop** env.

[2020-12-07 07:21] kaustavghosh06 commented on #6083
As a workaround, if you want to create a new Amplify App ID, you might want to just remove "AmplifyAppId" references in your `amplify-meta.json` and `team-provider.json` file and that should create a new amplify app with a new appId in the Amplify Console for you on a next `amplify push`.

[2020-12-07 07:24] davidbiller commented on #6083
Okay. Thank you! So I connected the (by my own created console app) app with cloudfront, but I guess it is possible to delete the domain connection and add the domain than in the new app created by the cli. A short offline time would be ok.

[2020-12-07 07:41] danieletieghi commented on #5072
Workaround Here :-)

So, I'm working on a Gatsy project where I use console re-deployment any time I need to update the contents.
Since Lambda layers became available in amplify I thought to tidy up a bit and implemented one for starter (and arrived to version 3 on the same day). Today I needed to update it and the lambda using it kept giving error, then I discovered me and Amplify thought we were

[2020-12-07 07:43] micduffy commented on #5072
That is good, but try it with a multi environment deployment. In different
environments U can can very possibly get burned

On Mon, 7 Dec. 2020, 6:41 pm Daniele Tieghi, <notifications@github.com>
wrote:

[2020-12-07 07:47] danieletieghi commented on #5072
I have it :-/ but luckily I'm still not in production so for now I'm burying my head in the sand and waiting for the fix before merging branches

[2020-12-07 07:49] micduffy commented on #5072
We have a script we run after deployments that causes all of our lambdas to
use latest version of our shared layer

On Mon, 7 Dec. 2020, 6:47 pm Daniele Tieghi, <notifications@github.com>
wrote:

[2020-12-07 07:57] danieletieghi commented on #5072
Great Idea! If I have more problems I'll create something similar. Do you simply change the layer version in every lambda cloudformation template json or else?

PS: do you know if there is a repository of amplify-lifesaving scripts? I also created a useful bunch of those and it should be nice to share them.

[2020-12-07 08:00] micduffy commented on #5072
we use python to update the cloudformation template json.

Closest thing to a repo of amplify-lifesaving scripts would be this I reckon : https://github.com/dabit3/awesome-aws-amplify

[2020-12-07 08:25] nubpro commented on #6077
duplicate of #6064

[2020-12-07 08:40] nubpro opened #6089 "Cant remove API after removing all dependencies"
**Describe the bug**
I want to remove my existing api with `amplify remove api`. It's true that some of functions are using the API (Appsync and as a DDB storage). Therefore, I removed all related resources to the API from my functions.
After doing that, I tried the remove the api again.
I get the same error:
`Resource cannot be removed because it has a dependency on another resource`

**Amplify C

[2020-12-07 08:53] RossWilliams commented on #1850
My current practice is to not approve a PR containing key changes.

I don’t gitignore cloud formation files, every one of these files has a number of customisations I need for each lambda.

[2020-12-07 09:13] davidbiller commented on #6083
@kaustavghosh06
I tried the workaround. I deleted the complete line
`"AmplifyAppId": "d341qnr5lndklc"`
in both files.

After push, there is no new app. and the lines are not there again?

[2020-12-07 09:33] tetrash commented on #6035
In this case, it makes it incompatible with yarn workspaces, because when used, the file `yarn.lock` is generated only in root directory. I think the "install dependencies" step should be optional and there should be a flag to toggle it because it might cause conflicts when using different building tools/flows.

Does this behavior also apply to the frontend or is it just only for functions?

[2020-12-07 10:27] morgler commented on #6037
Unfortunately @jhockett 's workaround didn't work for me (I always get a `Failed to communnicate with the Amplify CLI.` error in the Amplify Console). (BTW: that typo in the error message really is there and might need fixing as well)

But revering to 4.36.2 solved it.

[2020-12-07 11:50] iuyt9003 commented on #5949
any news? I am almost fully blocked from working

[2020-12-07 11:55] PeteDuncanson commented on #6028
Today I've narrowed down the issue to be when I have my schema.graphql file open while doing a push that has API changes in it. If I close then file but leave VSCode open I can then push.

[2020-12-07 12:11] PeteDuncanson commented on #4433
After some months now building schemas I still struggle to get my head around all the combinations that you can use @connection and it still comes back to bite me once in a while. I'm forever having to re-read the doc https://docs.amplify.aws/cli/graphql-transformer/connection but I still don't find that its as easy to read and understand as it could be (testiment to me having to continually re-re

[2020-12-07 12:55] PeteDuncanson commented on #6028
Oh another update. Seems closing schema doesn't work the first time, but does on a repeat go.

So this is current steps:

* edit the schema
* close the schema
* run `amplify push --yes`
* get the EPROM error about schema.graphql
* run `ampligy push --yes` again and this time it will work

Not sure if there is a lag between it closing and being released? Will test some more and see if I spot a patt

[2020-12-07 14:31] davidbiller commented on #6083
@kaustavghosh06
I tried the workaround. I deleted the complete line
"AmplifyAppId": "d341qnr5lndklc"
in both files.

After push, there is no new app. and the lines are not there again?

[2020-12-07 14:32] atlesp commented on #5711
I tested to add two dotnet functions with different settings to the same amplify application now

![image](https://user-images.githubusercontent.com/1275067/101362957-10f03580-38a1-11eb-91fb-777730d96d91.png)

And none of these two has the same issue. So either is something fixed in the cli when adding a dotnet function or something weird is going on in my existing function. I will make some more

[2020-12-07 14:33] andre-scheffer commented on #2552
Any update or is this another dead end?

[2020-12-07 14:45] PeteDuncanson commented on #6028
So its happening when it tries to compile the GraphQL schema, that is when it complains that it can't write to my schema file. Annoyingly this only pops up a minute or two into the deploy yet it fails every time on the first go. So I'm losing 1-2 minutes every time I make a change. This is an absolute motivation killer and destroying any attempts to get into a developer flow.

![image](https://use

[2020-12-07 15:30] arturocanalda commented on #5942
Same issue here. On top of that my Cognito schema (which contains custom fields) gets overwritten.

[2020-12-07 16:15] atlesp commented on #5711
I added a new dotnetcore function now and ported the code. And that works as expected, no changes equal no deployment.

My only guess is that it is related to that the old function was added with an early version of the CLI with dotnet support, but that is just guessing. Thanks for investigating it for me.

[2020-12-07 16:19] MrHertal opened #6090 "Manage 404 page in Next app deployment"
Hi,

I am following these [instructions](https://docs.amplify.aws/guides/hosting/nextjs/q/platform/js) to deploy a Next app with the CLI.

Everything works great.

However, I have a question regarding 404 page. I have set up a custom 404 page which is correctly exported by Next in the `/out` folder. This 404 is showing well in `dev` mode when I try to access a wrong URL.

After deploying my app wi

[2020-12-07 16:35] boxcee commented on #6063
@ammarkarachi What is a CFN? Sorry, I am new to the game.

[2020-12-07 16:39] kaustavghosh06 commented on #6063
@boxcee Can you just run ‘amplify push’ without the sub commands and see if that pushes your function?

[2020-12-07 16:42] ammarkarachi commented on #6077
Closing of in favor ^

[2020-12-07 16:42] #6077 closed

[2020-12-07 17:05] PeteDuncanson commented on #6013
Hey @SwaySway can you give this another go/look?

[2020-12-07 17:05] ammarkarachi commented on #6089
@nubpro Can you push after updating the function and then try removing the API?

[2020-12-07 17:23] boxcee commented on #6063
@kaustavghosh06 , no success.

[code]

[2020-12-07 17:25] nubpro commented on #6089
I remember trying that, and it still didnt work out. So are you saying you actually need to push first?

[2020-12-07 17:35] andre-scheffer commented on #5925
@iartemiev Thank you for your solution. But I have a question related to this line:

`` const subscription = onCreateChangeSourceListenerArgs(this.group).subscribe({ ``

I get the following error:

`` Property 'subscribe' does not exist on type 'Promise<GraphQLResult<object>> | Observable<object>' ``

[2020-12-07 17:41] bajohn commented on #5925
Sounds like a typescript type-checking error. You should be able to do

[code]

You can also fill in `<object>` with a more specific type to get better autocompletion. I thiiink you can also do
[code]
for more rigid type-checking.

[2020-12-07 17:56] SwaySway commented on #6013
@PeteDuncanson I was able to reproduce this. It looks like adding the hash key as a range key is what caused it to view this as a new GSI addition, which then triggers the error.

[2020-12-07 17:58] fjnoyp opened #6173 "Error with Sample Rest API Setup"
1. Following the online instructions for setting up Rest API results in a non functioning project.  https://docs.amplify.aws/lib/restapi/getting-started/q/platform/android#initialize-amplify-api
2. 4.37.1
3. Same code as provided online except I use use path items instead of todo:
[code]
4. When I run the post request I get this error:
[code]
5. Any relevant guides or documentation you're referenc

[2020-12-07 18:18] #6045 closed

[2020-12-07 18:29] tnorlund commented on #6088
The identity pool supports unauthenticated identities.

![image](https://user-images.githubusercontent.com/26452518/101389352-29972600-3876-11eb-9bbd-1dc2c76391c9.png)

[2020-12-07 19:42] attilah commented on #4821
Duplicate of #4175 fixed in: #6065

[2020-12-07 19:42] #4821 closed

[2020-12-07 19:44] half2me opened #6091 "AppSync Resolver mapping template for None data source doesn't accept version "2018–05–29""
**Describe the bug**
Following the example here: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-none.html I'm trying to make a mapping template for a "None" data source.

My Request mapping template:
[code]

If I run it locally with `amplify mock`, it works fine. If I push it, it fails. If I change the template to `"version": "2018–05–29"` it works just fin

[2020-12-07 19:52] blazinaj opened #6093 "Function Auth Role - "Read" Permission does not give "appsync:GraphQL" access in IAM Role."
When creating an Amplify CLI Function, I am assuming that choosing the 'read' option will allow us to perform queries. When using this option, `"appsync:GraphQL"` does not get added to the IAM Role Policy for this Lambda, thus initializing an AppSync Client in the Lambda fails.

Adding 'Create', 'Update', or 'Delete' then adds the necessary `"appsync:GraphQL"` action to the Lambda role. This may b

[2020-12-07 20:11] heitorlessa commented on #3835
cc @kaustavghosh06 as this important operational feature would be greatly appreciated by customers using AppSync in Prod with Amplify-CLI

[2020-12-07 20:30] lexfaraday commented on #5942
And this overrides some information on Auth Cloud Formation template, like UsernameConfiguration or AccountRecoverySetting 👎 so any time that I need to push, I have to do this step plus modify the template and push again.

[2020-12-07 21:23] tnorlund commented on #5183
I found the error. The ARN was broken. It missed a star in the GET proxy:

*OLD*
[code]

[2020-12-07 21:24] tnorlund commented on #6088
I found the problem. The ARN produced by Amplify was broken.

*OLD*
[code]

[2020-12-07 21:24] #6088 closed

[2020-12-07 21:46] MontoyaAndres commented on #3835
Very important indeed! I'm using Amplify cli on prod and would be great to have it 💯

[2020-12-07 22:08] attilah commented on #6067
@half2me I was able to reproduce it, #6096 fixes it.

[2020-12-07 22:13] gitbalaji opened #6097 "JSON Parser error in Amplify"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Amplify gives JSON parser error when we deploy the code to new AWS account other than the one thats currently running by just changing deployment option.
**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
4.30.0
**To Reproduce**
Steps to

[2020-12-07 22:16] davegravy commented on #1373
Also stuck on this

[2020-12-07 22:29] half2me commented on #6067
thanks @attilah, much appreciated! 😃

[2020-12-07 22:32] half2me commented on #6093
I literally ran into this just today. I also found it strange how `read` access doesn't grant `appsync::GraphQL`

[2020-12-07 22:45] djsmedes opened #6100 "How can I get a lambda layer code change to be detected by the CD pipeline, creating a new layer version?"
**Which Category is your question related to?**
Lambda layers, continuous delivery

**Amplify CLI Version**
4.37.0

**What AWS Services are you utilizing?**
Lambda (Layers), CloudFormation, Amplify

**Provide additional details e.g. code snippets**
We are using a lambda layer to contain some bulky, infrequently changing dependencies for a single lambda function. However, we want to keep all of our

[2020-12-07 22:49] ammarkarachi commented on #6039
@ktmdan We released a fix for this in Amplify CLI version 4.38.0

[2020-12-07 22:49] #6039 closed

[2020-12-07 22:59] attilah commented on #6068
AppSync returns this error info:
[code]

Velocity template engine [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-velocity-template/src/compile/references.js#L292) is catching the thrown error and overwriting the message property, this needs some refactor to preserve the incoming message.

[2020-12-07 23:01] ammarkarachi commented on #6012
@oras Unfortunately the console changes won't be reflected in your Amplify CLI project you would have to update the Project using `amplify update api` to update your api. Also changing names is not possible without replacement

[2020-12-07 23:03] ammarkarachi commented on #6015
@blairtaylor Which version of the CLI are you using?

[2020-12-07 23:12] ammarkarachi commented on #6022
@paddlefish To clarify do you init a new environment in an existing project and what categories exist in the project before you init/push?

[2020-12-07 23:18] ammarkarachi commented on #6025
Hi @AshkanHovold, Sorry for the delay in getting back to you. We have a guide to help you through migrating to the latest version here: https://docs.amplify.aws/cli/migration/lambda-node-version-update.

[2020-12-07 23:22] attilah commented on #6076
@hisham by defining your own custom CloudFormation stack and referencing the HTML template from S3 is fully supported, take a look at our docs on how to do it: https://docs.amplify.aws/cli/usage/customcf

I cc our PM: @renebrandel to be aware of this requirement but closing the issues as the question was answered. If you run into problems defining your custom stack feel free to open a new issue re

[2020-12-07 23:22] #6076 closed

[2020-12-07 23:24] hisham commented on #6076
yes but how would I upload the html templates to s3? Seems like with the current setup I would have to do this manually / out of band from amplify cli. It wouldn't be uploaded by amplify cli itself.

[2020-12-07 23:31] attilah commented on #6078
@yaquawa It seems to be a codegen issue as if you look at the compiled schema it correctly references `ModelCareerConnection` which has the items. You can unblock yourself by adding the missing fields to a different source file until this will be fixed.

[2020-12-07 23:34] blairtaylor commented on #6015
We are currently using v4.36.1. We set up the project in the summer of 2019, don't know what version of Amplify we were using at the time.

[2020-12-07 23:37] attilah commented on #6079
@yaquawa this seems to be an enhancement to our `@key` directive as this is not supported today. @akshbhu please make sure to take a look at this for the `@key` changes.

[2020-12-07 23:55] attilah commented on #6093
Duplicate of #4306, #5342 fixes it

[2020-12-07 23:55] #6093 closed

[2020-12-07 23:58] attilah commented on #6097
@gitbalaji could you please provider more detailed repro steps on what options you chose during resource add, etc, that would make it easier to troubleshoot. Also try with the latest version of the CLI.

From the error message, in one of the JSON files you have "undefined" as content. Could you please send the filename to give an idea to us which files gets this value?

[2020-12-08 00:13] walter-scott commented on #5550
I just ran into this problem as well, so here is how I ran into it:

1. used `amplify add function` to create new function "S3Trigger"
2. while creating "S3Trigger" I set gave it full create, read, update, delete access on my amplify configured S3 Storage bucket "MyBucket"
3. used `amplify update storage` and attempted to make "S3Trigger" the trigger
4. Amplify CLI fails with the message "Cannot a

[2020-12-08 00:17] attilah commented on #6028
@PeteDuncanson it seems to be a local issue specific to your environment. Amplify is running in the same security context as your terminal window and we are using standard NodeJS file system APIs to access the files. As some troubleshooting tips could you please try the following in the same terminal window where the CLI commands are failing:
- Try `mkdir` the very same directory that the CLI trie

[2020-12-08 00:21] amlcodes commented on #4155
seconded, bump

[2020-12-08 00:33] jgroom33 opened #6101 "Allow Lambda trigger creation for python runtime"
**Is your feature request related to a problem? Please describe.**
CLI should allow creation of Lambda trigger for python runtime
Following [this](https://docs.amplify.aws/cli/usage/lambda-triggers#dynamodb-lambda-triggers) doc
This is only supported for NodeJS runtime

**Describe the solution you'd like**
`amplify add function` should allow creation of triggers for python runtimes

**Describe alt

[2020-12-08 00:34] attilah commented on #6100
@jhockett @renebrandel I think this input can be valuable to our discussion around version handling and as when we change/enhance it perhaps we could enable this specific scenarios as well.

[2020-12-08 00:45] matwerber1 commented on #1373
@dannygoncalves I'm not an authoritative answer, but I think the _workaround_ for this is to just create your own separate deployment mechanism.

In other words, you develop your app locally, you can use `amplify` CLI to add backend features, etc... but when it comes time to publish, you would do something along the lines of `npm run build` and then use the S3 CLI to copy the frontend assets to yo

[2020-12-08 01:01] amlcodes commented on #6097
so im on the latest cli an am running into this after creating an app and dev backend with the cli, and then added additional environments in the console, and then checked them out via cli - because apparently multienv is a touchy thing with the previous version. (4.37) now, with .38, I am getting this error when running amplify push - ```'jsonString' argument missing or empty
An error occurred du

[2020-12-08 01:13] vikrantRajan commented on #5949
I have nearly the same error, but I face this issue when I am trying to deploy the app on amplify.

Everytime the command "amplifyPush --simple" runs I get this JSONValidator error (see image attached)

Because of this I can't push my project and deploy it all. I am not sure why this is happening, but im certain that "graphqltransformer" is coming from the cli.json file, it keeps having an issue w

[2020-12-08 01:34] kaustavghosh06 commented on #5949
@vikrantRajan do you have an Amplify CLI version pinned for your backend build CI/CD?

[2020-12-08 01:36] kaustavghosh06 commented on #5949
@iuyt9003 Can you install the latest version of the CLI > 4.37.0 and see if you're getting the same error?
Saw a similar error out here - https://github.com/aws-amplify/amplify-adminui/issues/25 which got resolved by installing the latest version of the CLI locally.

[2020-12-08 02:16] matansagee opened #6102 "Add File name to Error: 'jsonString' argument missing or empty"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

I encounter this error when running `amplify api gql-compile` but I don't know which file is problematic.
Can you please add an indication of which file is not serializing?

amplify version - 4.38.0

**Is your feature request related to a problem? Please describe.**
A clear and concise description o

[2020-12-08 02:39] andersonpaac opened #6103 "Amplify Error No Such File on Apple Silicon (M1)"
**`amplify pull` broken**
When running `amplify pull` or `amplify pull --appId <<appId>>`, it causes error, amplify throws the error below
[code]

**Amplify CLI Version**
4.38.0

**To Reproduce**
No `amplify` folder or config file, Simply running `amplify pull --appId <<appId>>` causes the above error

**Expected behavior**
Amplify CLI pulls the necessary `appId` and the backend code

**Desktop (p

[2020-12-08 03:52] josh-tncarry opened #6104 "Mixed authentication (public/private) with a many-to-many schema fails"
**Describe the bug**
When creating a simple many-to-many schema, it appears that the compiled graphql schema does not include the appropriate permission attributes necessary for handling an API that supports both public and private use.

Given a many to many relationship using only Cognito auth modes, everything works as expected, but the minute you introduce:

[code]

Into the model, it appears t

[2020-12-08 05:24] alexchumak commented on #1774
+1 :+1:

Pretty much a deal-breaker feature that's missing at the moment.

[2020-12-08 05:31] andersonpaac commented on #6103
This is an issue caused by using `brew install node`. Using the [official](https://nodejs.org/en/download/) `node` installer and re-installing amplify after `brew uninstall node` solved the issue for me.

[2020-12-08 05:31] #6103 closed

[2020-12-08 07:14] misogihagi opened #6105 "amplify pull may occurs file delete ?"
**Describe the bug**
when I had typed
[code]
then

- amplify/backend/api/{apiname}/schema.graphql
- amplify/backend/api/{apiname}/stacks/CustomResources.json
- amplify/backend/api/{apiname}/transform.conf.json

were deleted.
I wonder why no change made file delete.
<details>
<summary>diff log</summary>
<pre>
<code>
diff --git a/amplify/backend/api/amplifygit/parameters.json b/amplify/backend/api/a

[2020-12-08 07:45] atlesp commented on #6102
I get the same now on my project when running `amplify push` '
![image](https://user-images.githubusercontent.com/1275067/101453891-5871d280-3930-11eb-90ef-e6f943533780.png)

I did a `amplify pull` in the hope to resolve the issue, but it still occurs.

amplify cli version 4.38.0

[2020-12-08 07:45] KIWI-JP commented on #763
I have also been needing this for a while on a project, so any progress towards it would be appreciated.

In the meantime, is there any way to do this with a custom resolver? @alexboulay did you find a way around it?

[2020-12-08 07:47] lr001dev opened #6143 "Trying To Remove Api Key & Get Error: Output 'GraphQLAPIKeyOutput' not found in stack"
**Describe the bug**
So when using amplify push after I have tried removing the use of API Key in graphql api using amplify update api I receive this error: Output 'GraphQLAPIKeyOutput' not found in stack

I have a lambda function that was setup to access this api. The above error seems to be related to my Serverless Express Lambda function.  I've tried different things and can't seem to figure ou

[2020-12-08 08:39] estyh opened #6106 "Support custom claims for auth directive in amplify mock api"
**Is your feature request related to a problem? Please describe.**
I'm trying to add auth directives to my models using custom attributes. This is supported with the "groupClaim" field. The problem is, I can't test it locally, because the mock graphql server only supports adding cognito groups, and not custom attributes. Development time would be a lot faster for me if I could test it locally, and

[2020-12-08 09:01] lijingshanxi opened #6107 "Can amplify support HTTP Api"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

        I want to use HTTP api in amplify

[2020-12-08 09:13] leastsmartestgeek commented on #4043
Try building a docker container and using it as a replacement for a virtual environment until local install is supported.

[2020-12-08 09:23] AshkanHovold commented on #6025
Hello, thank you! I have tried this and I was able to create a new environment now. You can mark this as solved!

[2020-12-08 09:23] #6025 closed

[2020-12-08 09:23] AshkanHovold commented on #6025
By doing as @ammarkarachi suggested in the link my problem was solved.

[2020-12-08 09:31] half2me commented on #6091
Update: as pointed out by @paddlefish on the Discord channel, the issue is with em-dashes being used instead of hyphens. The problem is that the documentation uses `2018–05–29` instead of `2018-05-29`, notice the difference.

[2020-12-08 09:34] half2me commented on #6091
Looking at the resolver documentation: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference.html it seems like in some places hyphens are being used correctly, but in many cases these em-hyphens are being incorrectly used as examples.

[2020-12-08 09:42] half2me commented on #6091
@attilah this is actually a bug in AWS documentation. Maybe do a search-replace for em-dashes?

[2020-12-08 09:49] ywroh commented on #6102
![스크린샷 2020-12-08 오후 6 32 56](https://user-images.githubusercontent.com/39849622/101467758-170c1200-3986-11eb-8fb6-3dae63632584.png)
I checked the same error and tried amplify pull, but the error comes out as follows.
![스크린샷 2020-12-08 오후 6 34 50](https://user-images.githubusercontent.com/39849622/101467784-20957a00-3986-11eb-92d6-48892d50b0b0.png)
amplify cli version 4.38.0

[2020-12-08 11:11] iuyt9003 commented on #5949
Hey @kaustavghosh06 yes I will try! Thanks!

[2020-12-08 12:00] atlesp commented on #6102
My issue was that a deployment crashed and corrupted something. I fixed it by restoring the environment from the cloud

`amplify env pull -restore`
and
`amplify pull -restore`

[2020-12-08 12:28] matansagee commented on #6097
It happens to me also when using other commands relates to `amplify api`

I added a print of the file name that is failing.

![image](https://user-images.githubusercontent.com/8274517/101483947-e1840c00-3926-11eb-9d75-a1718ad09e38.png)

[2020-12-08 13:25] MontoyaAndres commented on #5104
Do you have any resources or blog where you can explain how did you do this?

[2020-12-08 13:29] hisham commented on #5104
Hi @MontoyaAndres you need to edit your auth cloudformation file. Look for a file that ends with 'cloudformation-template.yml' under amplify/backend/auth dir.

[2020-12-08 14:00] MontoyaAndres commented on #5104
Thanks @hisham ! What did you wrote in that file? I haven't done this before and I don't know so much about it :/

[2020-12-08 15:35] attilah commented on #5949
@iuyt9003 the error you see is coming from the fact the CI/CD and the local CLI version is different and between the two versions we added a new feature flag that cannot be interpreted by the old CLI. Removing the feature flags can have unintended side effects and you can end up with different outputs in your local and CI/CD deployed environments. I would suggest to either stay on the latest or on

[2020-12-08 15:35] #5949 closed

[2020-12-08 15:51] alexboulay commented on #763
@KIWI-JP I ended up putting all the search terms in a list within the objects that I wanted to search. Its not the cleanest solution but it does work!

[2020-12-08 16:05] attilah opened #6108 "Properly map AWSJSON to make List filtering work"
**Is your feature request related to a problem? Please describe.**

When `AWSJSON` scalar type is used in a type with `@model` the filter input type will be mapped to `String` instead of `JSON` and `List` methods with `filter` will not work.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Generate the appropriate i

[2020-12-08 16:21] attilah commented on #6097
@matansagee could you please take a look at what is in the `amplify/.config/local-env-info.json` file when this operation fails?

[2020-12-08 16:22] attilah commented on #6097
Thanks I try to reproduce it based on these steps.

[2020-12-08 16:24] attilah commented on #6102
Seems to be related to #6097, closing in favor of that.

[2020-12-08 16:26] matansagee commented on #6097
@attilah Hi! Sure.
![image](https://user-images.githubusercontent.com/8274517/101510658-32582c80-3948-11eb-9421-31e1a9e8d91c.png)

[2020-12-08 16:28] attilah commented on #6102
Reopening to gather more information on the logging error.

@ywroh That logging related error looks interesting to me, did you cleanup logging data in-between the operations or do you have any pointers on how that could have happened

[2020-12-08 16:34] PeteDuncanson opened #6109 "Adding DataStore to an existing project doesn't add a default version"
**Describe the bug**

Wanted to try out the new Admin UI but that requires DataStore being added to my GraphQL api, no problem as I wanted to do this anyway. Seems its added _version and _lastUpdatedAt fields to everything but its not given any of the existing data a default value, ie a valid Int. As a result everything is broken until I can patch up the _version field to actually have some data i

[2020-12-08 16:48] idanlo opened #6110 "Amplify env checkout not working"
**Describe the bug**
Since version 4.38.0 the `amplify env checkout __env__` command is not working, downgrading to `4.37.1` works.
The error -
[code]

**Amplify CLI Version**
4.38.0

**To Reproduce**
While having multiple amplify environments, perform `amplify env checkout __env__` to a different environment than the one you are in - receive error.

**Expected behavior**
Environment should switch

[2020-12-08 16:52] attilah commented on #6097
@matansagee this seems to be intact. Let me try the repro steps from @amlcodes and if cannot repro it, I'll get back to you for more info, please don't delete this env if possible ;-)

[2020-12-08 16:52] PeteDuncanson commented on #6109
Seems this has already been logged a number of times but never commented on or resolved yet all of these are closed:

https://github.com/aws-amplify/amplify-cli/issues/4690
https://github.com/aws-amplify/amplify-ios/issues/507

Only option currently open appears to be the default of "hey just delete everything and start over...again"

[2020-12-08 16:52] BroderickHigby commented on #5888
Is there any update on this issue @litwicki @UnleashedMind

[2020-12-08 16:56] dwamianm commented on #6110
I was about to post the very bug @idanlo . Thanks for reporting.

[2020-12-08 16:58] matansagee commented on #6097
@attilah Thank you! unfortunately, I can't delete this environment. Let me know if you need anything from me.

[2020-12-08 17:08] intersides opened #6111 "'amplify import auth' blocking incomprehensible step"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
amplify import auth

**Amplify CLI Version**
4.38.0
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Auth, Cognito, Android SDK

**Provide additional details e.g. code snippets**
I am tr

[2020-12-08 17:08] matansagee commented on #6097
@attilah It happens also in my production env
![image](https://user-images.githubusercontent.com/8274517/101516847-00e25f80-394e-11eb-878f-4e33f8aef423.png)
![image](https://user-images.githubusercontent.com/8274517/101516872-08096d80-394e-11eb-883f-cd94feca69ea.png)
I did `amplify env pull --restore` and `amplify pull --restore`

[2020-12-08 17:09] PeteDuncanson commented on #6109
This error for me is getting thrown on the frontend when going through the generated TypeScript files. I think as a super quick fix you could just exclude these two fields from the Types and it should then go through just fine. Do we really need these fields on the frontend? Alternatively you could just make them optional in the schema which would allow nulls on the frontend?

As developers we are

[2020-12-08 17:10] paddlefish commented on #6022
@ammarkarachi : after amplify init, but before push, the auth and unauth resources are created and also the cloud formation template. At this point they agree: DENY

![Screen Shot 2020-12-08 at 8 53 55 AM](https://user-images.githubusercontent.com/535096/101516693-667e1e00-3945-11eb-9c0b-cdca6f3527a3.png)

![Screen Shot 2020-12-08 at 8 54 55 AM](https://user-images.githubusercontent.com/535096/101

[2020-12-08 17:35] vitalbone commented on #1874
I ran into this issue recently. I have since updated the cli tool globally and the issue seemed to be fixed. [YMMV](https://www.google.com/search?q=ymmv)!

Steps:

[code]

[2020-12-08 17:59] PeteDuncanson commented on #6109
Went through a cut and pasted in the missing data into DynamoDB directly. An hour or so I won't get back and glad I didn't have more data to chug through.

[2020-12-08 18:05] ywroh commented on #6102
@attilah Thanks for your interest in my logging information.

Unfortunately, I didn't clean up the logging data between tasks, and I'll tell you as far as I can remember why it happened.

I did amplify init in the dev branch of my hb-platform project and then moved to the test branch to create the test backend and amplify env add, but the test backend was not properly created by selecting use exis

[2020-12-08 18:06] attilah commented on #6102
@ammarkarachi  ^^^

Closing and will track as part of the other similar issue.

[2020-12-08 18:06] #6102 closed

[2020-12-08 18:31] matansagee commented on #6097
Adding more information.
It seems that this bug happens when I'm editing the schema.graphql file in `amplify/backend/api/api name/schema.graphql`

![image](https://user-images.githubusercontent.com/8274517/101525486-65ef8280-3959-11eb-8003-1e3bf8b59f74.png)

[2020-12-08 18:54] lawmicha commented on #6053
Hi @kaustavghosh06 , i ran `amplify console` and went to "All Apps", under there are exactly 25 apps. they look like old samples of mine, i'll go and delete each app from that page. I usually clean up process is to go cloud formation stack and delete root stack when I want to clear my sample projects

[2020-12-08 18:55] zjullion commented on #155
I'm also getting errors trying to convert a template:
[code]
I've run `sam validate` on the template and got no errors.
@ammarkarachi or @attilah any ideas? Is this still supposed to work?

[2020-12-08 19:12] kaxax commented on #2055
+1

[2020-12-08 19:16] zjullion commented on #155
Ok, I've narrowed down the problem: using `AutoPublishAlias` in the `Properties` of an `AWS::Serverless::Function` causes this issue. Very strange.

[2020-12-08 19:31] Lasim commented on #1910
+1

[2020-12-08 19:33] amlcodes commented on #6097
i added multiauth and video (which created an api), as well as a couple of auth additions like captcha and adding to group.

[2020-12-08 21:04] murvinlai commented on #5949
How to check and change the CI/CD version?  I'm using the amplify CLI version 4.38.0. the latest.   And I have no clue how to update the Ci/CD pipeline. it is just the amplify console connecting to my bitbucket.  That's all.   I have been stuck on that for days.

[2020-12-08 21:08] RobKraft commented on #6016
Thanks Jameson, I was having the same problem and deleting those folders helped me resolve the problem.

[2020-12-08 22:14] jcbdev commented on #3642
@SwaySway this is happening again in the more recent client again.

It seems to copy the values into deployment-secrets.json when you do the first push but then will remove this section from deployment-secrets.json after you do two or three more deployments, I'm not sure 100% what the scenario is for the push to remove it (maybe auth changes?)

I have managed to repro it by doing the following

-

[2020-12-08 22:18] attilah commented on #4889
Duplicate of #4889 that is being fixed by #5342 fixes it.

[2020-12-08 22:18] #4889 closed

[2020-12-08 22:20] SwaySway commented on #4913
Closing this issue as this is happening due to conflict versioning enabled.

[2020-12-08 22:20] #4913 closed

[2020-12-08 22:49] ammarkarachi commented on #4958
@mbecker The bucket-name is constructed and the trigger files are uploaded using this line
https://github.com/aws-amplify/amplify-cli/blob/4e5f5c62287252ff59ecda050390e9b3c2b00146/packages/amplify-category-auth/src/provider-utils/awscloudformation/utils/trigger-file-uploader.js#L27

I will mark this as an enhancement. Can you also help us understand your use case for aliasing the bucket?

[2020-12-08 22:56] half2me commented on #1102
Here is my +1 too, I would really like this to be implemented.

[2020-12-08 23:03] MontoyaAndres commented on #1102
+111111

[2020-12-08 23:06] ammarkarachi commented on #4980
Closing this issue, don't hesitate to reopen if you are still facing this issue.

[2020-12-08 23:06] #4980 closed

[2020-12-08 23:15] ammarkarachi commented on #5025
Closing this, don't hesitate to reopen if you are still facing this issue

[2020-12-08 23:15] #5025 closed

[2020-12-08 23:30] jcbdev commented on #3642
If I was to take a guess at the offending it would be the following line in `push-resources.ts` in `amplify-provider-awscloudformation` package. It seems to call this if there are more than one `authResources` which are resources matching the following filter: `resources.filter(resource => resource.category === 'auth' && resource.service === 'Cognito' && resource.providerPlugin === 'awscloudformat

[2020-12-08 23:39] SwaySway commented on #5968
@PatrykMilewski The proposal which would capture this scenario would be deny-by-default. By having this we can enforce access to specific fields while denying access to other fields. Given your schema `RatingsEditors` would be given CRUD access on the field `rating` but only having read access on other fields.

[2020-12-08 23:40] SwaySway commented on #5968
To keep track of these use cases closing in favor of the RFC.

[2020-12-08 23:40] #5968 closed

[2020-12-08 23:45] vikrantRajan commented on #5949
@kaustavghosh06 I am not sure how to get the version for the backend build CI/CD. Amplify CLI is 4.38.0.
I ran these commands
`npm install -g @aws-amplify/cli@latest`
`amplify configure`
`amplify init`
`npm i @aws-amplify/ui-vue`

added the following the main.js file (I am using Vue.js for frontend)
`import Amplify, { Auth } from 'aws-amplify';`
`import awsconfig from './aws-exports';`
`Amplify.co

[2020-12-08 23:56] 24601 opened #6116 "Updating API Auth: Cannot read property 'StackName' of undefined"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
While trying to add a secondary API Auth method (API Key), the amplify CLI fails with a cryptic error message without much helpful info (I find this to be pretty common).

**Amplify CLI Version**
You can use `amplify -v` to check th

[2020-12-09 00:55] attilah commented on #6116
@24601 could you share with me how the project was created exactly? since based on the error it seems that it is an uninitialized project and there is no deployment bucket present in your `amplify-meta.json` file. Could you share the content of that file as well?

[2020-12-09 01:53] vikrantRajan opened #6117 "JSONValidationError: File project: data should NOT have additional properties: 'graphqltransformer'"
**Which Category is your question related to?**
Amplify, Cognito

**Amplify CLI Version**
Amplify CLI is 4.38.0.

**What AWS Services are you utilizing?**
Amplify, Cognito

**Provide additional details e.g. code snippets**
I get the following error in the amplify console during the CI/CD build

I am not sure how to get the version for the backend build CI/CD.
I ran these commands
[code]

added the

[2020-12-09 01:54] SwaySway commented on #5888
Marking this as a bug since the config should reflect what categories are enabled in the project. For any questions on the datastore sync with iOS please refer to @aws-amplify/amplify-ios

[2020-12-09 02:01] vitalbone commented on #501
Could really use a `-verbose` flag right about now.

It's hard to know what to debug when the only response is `Error updating cloudformation stack`...

[code]

[2020-12-09 02:46] fossamagna commented on #5549
I consider that auth has be modified CloudFormation template with PR #123 to support SAML idP, And shoud add feature for user interaction in order to input some parameters for SAML idP to amplify-cli.

[2020-12-09 03:48] matansagee commented on #6097
Hi @attilah !

I was able to debug this issue more. It seems that this command failed while trying to validate the files from the `#`

Here some screenshots.

![image](https://user-images.githubusercontent.com/8274517/101574512-b93bf200-39a6-11eb-8f3a-a1b2666c5b47.png)
![image](https://user-images.githubusercontent.com/8274517/101574653-c527b400-39a6-11eb-9e86-a25440cc3faf.png)
![image](https://us

[2020-12-09 03:56] attilah commented on #6097
@matansagee this is awesome, thanks for taking the time. The error happens in when the stacks are being parsed, could you locate which stack file the one that fails? I'd appreciate if you could send the content of the amplify directory to amplify-cli@amazon.com email address. Function sources are not needed but both backend and #current-cloud-backend directories are.

[2020-12-09 03:58] matansagee commented on #6097
Sure. The file that fails is `cloudformation-template.json`. The loadDiffableProject try to read it and fails.
I will send the amplify content right now. Thanks!

[2020-12-09 04:05] matansagee commented on #6097
@attilah What you see in the console is a result of this console log
![image](https://user-images.githubusercontent.com/8274517/101583655-eb9b1e80-39a9-11eb-9201-7f2305348092.png)

[2020-12-09 04:22] mocha384 commented on #5840
Hi, I have faced the same issue, however, my intention is to add additional s3 storage with a different policy. Is there any plan to add multiple s3 storage options in amplify-cli or is there any workaround to achieve the same need?

[2020-12-09 04:36] attilah commented on #6097
Ok based on your file snapshot I was able to reproduce both type of errors the `Unexpected token u in JSON at position 0` (before 4.38) and `'jsonString' argument missing or empty` (after 4.38).

This happens because the #current-cloud-backend folder does not have the `api/apiname/build/cloudformation-template.json` file. The problem is easy to fix, but it would be good to figure out how can you e

[2020-12-09 05:12] attilah commented on #6117
@vikrantRajan Please check if you have a pinned down version of the Ampify CLI in Amplify Console, since what is happening is that your Amplify CLI you used to create the project is newer than the one that is running in CI/CD which cause the failure. This  error message is already being addressed in #6114.

Please check the setting and make sure you are using LATEST in the Amplify Console as well

[2020-12-09 05:14] attilah commented on #6118
@jknapp25 what version of the CLI are you using and what commands are you exactly executing that causes this? Is file duplication happening if VS Code is closed and executing the command from the shell? What OS are you using.

[2020-12-09 05:55] vikrantRajan commented on #6117
@attilah Amplify CLI is 4.38.0.

I can’t run any amplify commands in the backend. Everything is failing when I try to build. It’s working fine locally.

I don’t understand how to edit or check the amplify version in the console. Please help me out with this?

[2020-12-09 08:05] PatrykMilewski commented on #5968
Sounds good, thanks!

[2020-12-09 08:06] jcbdev commented on #1339
@artemkloko I'm really liking the look of that library!  I have also created your first issue! (sorry!) - https://github.com/artemkloko/amplify-graphql-fragments-generator/issues/1

let me know if you need any help with the issue 👍

[2020-12-09 08:43] morgler commented on #2519
This error occurred for me today after `amplify add api`. I have an imported Cognito user pool (`amplify import auth`) and maybe that new feature is causing the problem?

The thing is, that my API is not even protected by Cognito (I chose "Restrict API access" => No). And `amplify update auth` doesn't work either, because `update` is not supported for imported user pools. I'm stuck now.

And I sad

[2020-12-09 08:50] nishitjain13 commented on #4488
The aws2-wrap method referenced by @benkehoe is working absolutely fine for CDK. However, the amplify issue isn't getting resolved by it. Is there some other way that anyone has been able to get the amplify to work with sso credentials since the time this issue was first created?

[2020-12-09 10:53] PeteDuncanson commented on #6097
Also experiencing this today after upgrading to 4.38 yesterday. My work mate @JackPenney is having the error too.

Tried to cut and paste the missing cloudformation-template.json over to see if that will be a work around for now but still fails with the same error :(

![image](https://user-images.githubusercontent.com/1674590/101620664-baa00580-3a0c-11eb-9441-bedc1aa11f18.png)

[2020-12-09 11:53] cbude opened #6122 "Add functionality to correctly resolve AWS:NoValue when using Amplify mock"
**Is your feature request related to a problem? Please describe.**
I see that a lot of people have problems with environment variables for lambda functions when using amplify mock api.
Since mock doesn't support using for example **resolve:ssm** it translates it into the to the litteral value which works incorrectly when working locally. I tried using the **AWS:NoValue** instead to remove all env

[2020-12-09 12:04] half2me commented on #2915
I would really appreciate this, as I’m finding my json cf templates very difficult to navigate :/

[2020-12-09 12:15] azurelogic commented on #5959
@renebrandel Sorry, I've been swamped. I'm more than happy to have you guys recommend it as a 3rd party plugin to solve this problem.

As far as testing goes, the biggest thing that you'll want to double check is data type handling. I don't think I got a chance to put BigInt and a few others through their paces. If you find any problems, feel free to open an issue. If you have a chance to work up

[2020-12-09 12:29] hanna-becker commented on #3386
Is this actually working? I added and api and lambda function and connected the two with 'amplify add api', but when I access the REST api id value from the environment, it just gives me a placeholder value (apiappRestApiId) instead of the actual id.
Ampify CLI version 4.38.0

[2020-12-09 13:16] jcf commented on #6110
Same thing is happening to me with `amplify push`, and `amplify env pull --restore`.

[code]

[code]

[code]

Only major change I've made to my Amplify setup is to import a Cognito User Pool and Identity Pool. I'll try downgrading to see if that helps.

[2020-12-09 13:24] PeteDuncanson commented on #6097
Tried rolling back to v4.37.1 but still can't push as we get this error again (which is why we upgraded to fix) https://github.com/aws-amplify/amplify-cli/issues/4903#issuecomment-668375551

[2020-12-09 13:24] PeteDuncanson commented on #4903
I feel that pain and mixed feelings...

[2020-12-09 13:50] JackPenney commented on #6084
I'm running into the same issue with amplify CLI version 4.38.2, setting up the the new Admin UI could have also caused this.
Attempting ```amplify pull --appId xxxxxx --envName main``` doesn't work for me, i get the following permissions error

[code]

Reverting to @aws-amplify/cli version 4.37.1 gets around this and i'm able to checkout my environment and pull, however when i try to push i get t

[2020-12-09 13:54] atlesp commented on #6097
This is blocking my team from deploying to TEST, and thus I do not dare to deploy to PROD.

A patch so soon as possible would be nice, since it is not good to not be able to update our app.

[2020-12-09 14:23] codecadwallader commented on #1889
@rahul-nath that was a huge help, thank you.  I'm not sure why `(queries: null)` drops the authorization attributes but I saw the same with `@aws_iam` and `@aws_cognito_user_pools`

Another workaround I found on SO (https://stackoverflow.com/questions/59588247/why-cant-i-read-relational-data-when-i-use-iam-for-auth-but-can-read-when-auth) was to explicitly define the connection and its associated

[2020-12-09 14:43] attilah commented on #6097
While I created the fix for this particular error the way how the project got into such state still to be determined. @PeteDuncanson @atlesp could you please tell me what was the last version of the CLI that made the last working PUSH operation when the API has changed and was successful? Did it happen from Amplify Console or from a developer machine? Thanks!

Could you also confirm that there is

[2020-12-09 14:45] nitin3000 commented on #984
I am getting this error while running as administrator-

c:\Users\nitin\aws\aws3>amplify pull --appId dnq6aww8tlwm5
EPERM: operation not permitted, rename 'c:\Users\nitin\aws\aws3\amplify' -> 'c:\Users\nitin\aws\aws3\amplify-backup'
Error: EPERM: operation not permitted, rename 'c:\Users\nitin\aws\aws3\amplify' -> 'c:\Users\nitin\aws\aws3\amplify-backup'
    at Object.renameSync (fs.js:772:3)

[2020-12-09 14:49] PeteDuncanson commented on #6097
@attilah thanks for looking into this.

Last good push I made was yesterday on v4.37.1 from my developer machine.

Currently have v4.38 installed. I can confirm that when pushing I don't have the `cloudformation-template.json` file in my build folder. Infact the only thing I do have is a `parameters.json` file that is it.

I'm all for getting to the bottom of the cause so keep your queries coming

[2020-12-09 14:54] kcwinner opened #6123 "graphql-transformer-core requires amplify-cli-core but is not a dependency"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
[graphql-transformer-core/src/util/sanity-check.ts](https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-transformer-core/src/util/sanity-check.ts#L5) requires `amplify-cli-core` but `amplify-cli-core` is not listed as a dependency in [package.json](https://github.

[2020-12-09 15:48] amp-aarden commented on #4155
I'm having this same error, only with an API error message that's returned from the mock API with a message of _"Cannot return null for non-nullable field... **_version**"_. It sounds like this may be the same issue as described above. Note that the API is the only thing I'm running in local mock mode. All else (e.g. Auth, Functions, ....) are all running in AWS cloud.

Note also that I do NOT get

[2020-12-09 16:44] matansagee commented on #6097
Hi @PeteDuncanson! I was able to solve this issue with the assistance of @attilah .

What you should do is download the `#current-cloud-backend.zip` file from your S3 bucket. Add to this folder the `cloudformation-template.json` file you have under `#current-cloud-backend/api/<api name>/build`. Zip it again and upload it to S3 bucket.

After that the `amplify push` should work. Please let me know

[2020-12-09 17:00] iuyt9003 commented on #1352
I have also the same issue, why does he can't use a custom resolver with the connections. why does he need to use function directive? and what about the typing when you have 6 levels of dep ? which is auto-generated how you make all this connection work.
I have issues connecting all of that stuff. ( I'll be really happy to work with an expert on that), and pay of course i really need help! Thanks.

[2020-12-09 17:01] atlesp commented on #6097
Currently have v4.38.2 installed. I can confirm that when pushing I don't have the cloudformation-template.json file in my build folder.

The error was created from the amplify console when a push failed. But I do not think that push contained any api changes. Since the build image pulls the latest version I guess it was running 4.38.0. It failed on Sunday.

I will try the suggested work around to

[2020-12-09 17:04] PeteDuncanson commented on #6097
Wonder if this could be related to this other issue I've been having with missing files/folders https://github.com/aws-amplify/amplify-cli/issues/6047

[2020-12-09 17:09] benkirbycodes commented on #3642
Same issue happening in 4.38.0

[2020-12-09 17:58] attilah commented on #6097
@PeteDuncanson you want to hop on a call Today? I like to get to the bottom of it as well. Send an email to amplify-cli@amazon.com please and I drop you a chime link.

[2020-12-09 17:59] attilah commented on #6097
Why was the push failed, how it ended up failing? what was the error?

[2020-12-09 18:01] PeteDuncanson commented on #6097
@attilah on UK time here and got to go do family stuff, happy to jump on tomorrow or @JackPenney might be free to help out.

[2020-12-09 19:26] attilah commented on #6097
@PeteDuncanson sure, enjoy family time! We can try later.

[2020-12-09 20:23] hanna-becker commented on #6110
I cannot delete or checkout an environment with the same error message. I also cannot open the admin ui for this environment in the Amplify console.

[2020-12-09 20:36] amlcodes opened #6127 "cannot start a project / amplify pull"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
cannot pull any env made by cli or console

**Amplify CLI Version**
4.38 - 4.38.2

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable
create backend in console
run env's amplify pull command
[code]

**Expected behavior**
A clear and concise description

[2020-12-09 20:38] kfernandes29 commented on #984
@nitin3000

Try downgrading to 4.37.2

I just wasted 2 days on this.

[2020-12-09 21:02] drclohite commented on #5931
any progress? Still building to 4.32, although no hold up

[2020-12-09 21:10] andre-scheffer opened #6128 "ResolverExecutionLimitReached"
**Describe the bug**
I have been facing the following problem for two days.

**Initial Situation**

I have a model with an @key directive:

[code]

``amplify codegen`` created the following method:

[code]

In the angular component I load the data as follows:

[code]

So far everything has worked wonderfully. Even with several hundred entries. The use of the nextToken was also not a problem.

**Er

[2020-12-09 21:55] Usama-Tahir commented on #4822
I am still facing this issue. I have tried both `/opt/<moduleName>` and `/opt/opt/<moduleName>`. I am getting this error.

[code]

I am can successfully use node modules in my lambda function from the lambda layer though.

My amplify.yml file partially looks like this for the backend part.
[code]

I am importing it in App.js file like this.

[code]

test.js file is like this.
[code]

test.js path

[2020-12-09 21:59] atlesp commented on #6097
@attilah I have checked the logs now, and I not sure anymore. Sorry for late response but it is late in Norway too now :)

The first build failed on "Parameters: [unauthRoleName, authRoleName] do not exist in the template" but then template file was missing already based on the log:

`
2020-12-08T06:15:46.900Z [INFO]: [33mCould not read cloudformation template at path: /codebuild/output/src165213

[2020-12-09 22:20] MontoyaAndres commented on #2915
Any news?

[2020-12-09 22:46] akshbhu commented on #4874
Hi @a-ursino

I tried to reproduce the error but its working for me. Can you try with the latest amplify version?

Here are my repro Steps:

I used below schema and followed documentation : https://docs.amplify.aws/cli/graphql-transformer/connection#many-to-many-connections
[code]
I used the default authorization as Cognitouserpools. Here is my default authorization
[code]

After using the this Qu

[2020-12-09 23:00] chantlong commented on #1850
@RossWilliams So let's say you keep the keys in `dev` branch as it is.
And you merge `dev` into `prod` and then you amplify checkout to `prod`.
When you do `amplify status`, it's gonna show it needs to update the resources bc it's referencing the `s3 keys` from `dev` right?

I would just `amplify push` to get `amplify status` to chill out and get the new keys. (I can't just amplify pull because I

[2020-12-09 23:13] SwaySway commented on #6107
Closing in favor of https://github.com/aws-amplify/amplify-cli/issues/6024

[2020-12-09 23:13] #6107 closed

[2020-12-09 23:47] alexboulay commented on #4869
So I can't get the info object when using a lambda resolver with @function?

[2020-12-10 00:02] edwardfoyle commented on #5710
@getmyrolemodels AppSync doesn't supports this. There's nothing we can do on the CLI side as this is a service limitation. You can reach out to the service team on the AppSync forum: https://forums.aws.amazon.com/forum.jspa?forumID=280

[2020-12-10 00:02] #5710 closed

[2020-12-10 00:28] davegravy commented on #1373
Agree with this. From what I can gather from having only been immersed in it for a few days now, Amplify doesn't generally enable any new functionality, it just automates and encapsulates the things you can do without it. So workarounds like you propose sort of defeat the whole point of using the service.

[2020-12-10 00:37] renebrandel commented on #6111
Hi @intersides can you go to the Cognito User Pool configuration and confirm that the OAuth properties under the app clients (dashboard-custom-login and dashboard) are the same?

You can find this setting under App Integration -> App client settings
![image](https://user-images.githubusercontent.com/4989523/101705888-d02d2380-3a3c-11eb-9fa8-f92792baeb6e.png)

[2020-12-10 00:42] matwerber1 commented on #1373
@davegravy for the most part, I agree.... though really, Amplify is three things... the deployment framework (Amplify CLI), the hosting service, and the libraries. Depending on my project, I definitely still appreciate using just one or two of the individual components. For example, I really like the Amplify Auth JS library to abstract away a lot of the work for Cognito intregration. There's nothi

[2020-12-10 00:46] renebrandel commented on #3977
You’ll be asked to either import a different Cognito resource or maintain the same Cognito resource for your app’s auth category.

If you want to have Amplify manage your auth resources in a new environment, run amplify remove auth to unlink the imported Cognito resource and amplify add auth to create new Amplify-managed auth resources in the new environment.

https://docs.amplify.aws/cli/auth/imp

[2020-12-10 00:46] renebrandel commented on #3977
That's a good call out. I think we should look into that for next year.

[2020-12-10 00:47] renebrandel commented on #3977
I haven't tried it myself but if you are able to transfer the users out and want to fully manage the Cognito instance yourself, you could rereference that new Cognito instance through `amplify import auth`.

[2020-12-10 00:48] renebrandel commented on #3977
Also, just to provide an update, we've now enabled the ability to import S3 and DynamoDB tables to your Amplify project:

Read the blog post on how to import S3 buckets here: https://aws.amazon.com/blogs/mobile/use-an-existing-s3-bucket-for-your-amplify-project/
Docs on how to import existing S3 buckets and DynamoDB tables: https://docs.amplify.aws/cli/storage/import#import-an-existing-cognito-use

[2020-12-10 00:48] attilah commented on #6097
Thanks @matansagee for the troubleshooting, I was able to track down the bug and create the #6133 PR for it.

This issues happens in a rare constellation came with some recent changes. After we merge both PRs regarding this issue, the build pipelines could be unblocked, until then, developer machines can be used to do manual deployment.

The root cause is that Amplify Console CI/CD is doing a pull

[2020-12-10 00:54] attilah commented on #6123
@kcwinner thanks for the heads up I created the PR after double checking for other packages.

[2020-12-10 02:07] KristinaPeterson commented on #6091
Thank you for alerting us to this issue. I'm currently working on finding the em dash occurrences in the AppSync Developer Guide and replacing with a regular hyphen.

[2020-12-10 02:53] akshbhu commented on #4930
Hi @akefirad

This issue has been fixed. You can try with the latest version.

Let me know if this works for you?

[2020-12-10 02:57] iOSGonzo commented on #6110
Will this be resolved soon? Getting the same error using `amplify init` with an existing environment. Currently on **4.38.2**

`Could not initialize 'envname': The "path" argument must be of type string. Received an instance of Error
`

[2020-12-10 08:38] gildniy commented on #5380
I used the @maximelebastard downgrade solution and it worked, and once pushed, I had to reinstall the latest version of the cli and continue

[2020-12-10 09:29] intersides commented on #6111
One of the app client had no OAuth set.
I could move ahead by creating a new app client for the mobile app. So I guess that this issue can be closed.

[2020-12-10 09:29] #6111 closed

[2020-12-10 09:59] RossWilliams commented on #1850
@chantlong This sounds correct, status is going to show function updates, and pushes are going to take a bit longer. I don't commit the new keys in the way you describe mainly because our automated pipelines and policies don't support it. If you have a production branch that you can commit to directly, your method does sound good.

[2020-12-10 10:12] ahtokca commented on #620
Going through all the steps to add a trigger is not the best approach. It often ruins current settings. Is possible to just add a trigger and do not change anything else for auth?

[2020-12-10 13:13] amlcodes commented on #6127
@ammarkarachi you're a madman, thanks so much for bug squashing. You're really making this usable for us.

[2020-12-10 14:56] atlesp commented on #6097
@matansagee thank you for describing the manual fix 👍 It made me finally be able to deploy the changes.

@attilah thanks for looking into this issue so quickly.

How can I deploy the frontend from my developer machine? I have both frontend and backend in the same amplify console app, so they are built and deployed together from the Amplify Console.
When I try `amplify publish` this happens for me:

[2020-12-10 15:14] lebull commented on #984
@kfernandes29 Your 2 days of work just helped me out, thanks!  This happened to me when trying to move my repo to another amplify project.  It's still not working for me, but I think it's because of some config that the new admin ui threw in.

[2020-12-10 15:30] lebull opened #6138 "Unable to pull a backend env created by the amplify console (EPERM: operation not permitted)"
This is happening on Windows.

[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

Pulling env created by the amplify console results in a permissions error

[code]
**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

+ @aws-amplify/cli@4

[2020-12-10 15:35] kfernandes29 commented on #984
@lebull Glad it helped! That new admin UI + the new CLI has been nothing but headaches this week. It set me back quite a bit. I’m not sure how I got it all back to normal, but after 48 hours of frustration...it’s good again.

[2020-12-10 16:18] attilah commented on #6117
@vikrantRajan within Amplify Console - Advanced Settings you can configure the version of Amplify CLI used for your CI/CD builds:
![image](https://user-images.githubusercontent.com/230432/101798670-35762880-3ac0-11eb-86d5-060b1c1adf50.png)

[2020-12-10 16:21] attilah commented on #6104
@josh-tncarry thanks for reporting we'll look into it!

[2020-12-10 16:53] esteban-uo opened #6139 "Allow more than one GraphQL API in a project"
Reopening as it was closed without an answer https://github.com/aws-amplify/amplify-cli/issues/335

**Is your feature request related to a problem? Please describe.**
Currently it is not possible to add more than one GraphQL endpoint in a project. There are use cases where multiple GraphQL endpoints are required, for security isolation, for code maintenance, or for multiple backend microservices.

[2020-12-10 17:10] jcbdev opened #6140 "Folders for deleted lambdas returning"
**Describe the bug**
On one project I have deleted a lambda (it used to be a dynamodb trigger lambda).  I did this quite a while ago and plenty of push/pull have occurred since then.  But I find I have to keep deleting the lambda folder from the functions folder in the backend.

At first I though it could be git but I have ignored the folder and deleted it and checked all branches etc. and it defi

[2020-12-10 17:14] avlonder opened #6141 "Additional key condition expression for connection directive: in"
**Is your feature request related to a problem? Please describe.**
I need to query for multiple different values of the status key

**Describe the solution you'd like**
Allow the connection directive to use DynamoDB's **in** key condition expression

**Describe alternatives you've considered**
option 1: Aliasing (i.e. run the same attached resolver multiple times for different equality expressions

[2020-12-10 17:37] jknapp25 commented on #6118
@attilah I moved my project files out of a location that is syncing with the cloud, as advised by this article... https://technology.siprep.org/icloud-sync-creating-duplicate-files-when-saving/

[2020-12-10 17:37] #6118 closed

[2020-12-10 17:37] jcbdev commented on #6139
So I have been thinking about this for a while and the approach I was considering trying but haven't gotten round to it. My idea is essentially having an "amplify" per graphql endpoint

<project>/
  -- amplify-service-1/
     + amplify
  -- amplify-service-2/
     + amplify

'amplify-service-1' would be considered the 'main' one and host all the other packages such as Auth, Analytics, Storage and

[2020-12-10 17:56] attilah commented on #6105
I was not able to reproduce it by following your exact commands, here is the output:

![image](https://user-images.githubusercontent.com/230432/101810691-ef27c600-3acd-11eb-83ff-1c4becb8eca1.png)

[2020-12-10 18:08] attilah commented on #6109
@PeteDuncanson This feature requires data backfill that we will plan to support for various other scenarios as well, marked it as an enhancement.

In the meantime this can be only done manually.

[2020-12-10 18:24] #6127 closed

[2020-12-10 18:27] PeteDuncanson commented on #6109
In the meantime a little warning when adding DataStore would be nice quick addition. Maybe @dabit can add a gist to his repo of handy hints that you could link to on how to get started?

[2020-12-10 18:30] RuarriS commented on #6015
Is there anyway to connect the Lambda function as a "Pre Sign-up" trigger from the auth's parameters.json?

I noticed by doing a new `amplify init` and `amplify add auth` with Cognito triggers, that it creates triggers for some other types like 'DefineAuthChallenge'. I am unable to replicate this though for a "Pre Sign-up" trigger.

[2020-12-10 18:38] attilah commented on #6128
@andre-scheffer do I understand correctly that the problem is NOT CLI version agnostic then, right?

As you have an `@auth` rule on the type, that's the reason for seeing lower number of items. Owner filtering happens in the resolver after the DynamoDB query.

If you issue the same query you get back the same number of records I assume.

The error message is sent by AppSync service when the given

[2020-12-10 18:40] attilah commented on #6106
@estyh thanks for raising this, I add it to out bug-bash project to being tracked by the team.

[2020-12-10 18:41] Usama-Tahir opened #6142 "Can not require/import custom function from lambda layer."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am using the lambda layer for node modules. Recently I decided to share a piece of code across multiple lambdas so I decided to put that piece of code in the lambda layer `/opt` directory. For example, I created a file named `toast.js` inside `/opt/` directory so the full path is l

[2020-12-10 18:42] attilah commented on #6110
@idanlo @dwamianm @jcf @hanna-becker it seems to be related to the setup of the project as I was not able to reproduce it. Could you provide exact repro steps for this?

[2020-12-10 18:50] SebastianHurubaru opened #6144 "Lambda layer with additional software does not work"
**Describe the bug**
Created a custom lambda layer with ImageMagick and ghostscript software, installed with [yumda](https://github.com/lambci/yumda) where all the binaries were installed in the opt folder.

When doing though amplify status or amplify push I get the error: An error occurred hashing directory

**To Reproduce**
Steps to reproduce the behavior:

1. Install ImageMagick and ghostscript

[2020-12-10 19:02] vikrantRajan commented on #6117
@attilah YES! This is exactly what I was looking for. The issue was that there was no package assigned in this section, hence all my builds were failing. I updated this to match the version on my local CLI which was 4.38.0 and now its working fine. Thank you 🙏

[2020-12-10 19:02] #6117 closed

[2020-12-10 19:02] attilah commented on #6122
@cbude thanks for raising it, I marked it as an enhancement

[2020-12-10 19:05] attilah commented on #6138
@lebull thanks for reporting the issue we're aware of this and it will be fixed in the next release.

[2020-12-10 19:08] attilah commented on #6139
@esteban-uo this requires a major change at a platform level in the CLI to support this scenario. I mark it as an feature request just like #335.

[2020-12-10 19:11] akshbhu commented on #5845
We have a PR that will fix this issue soon #6040

[2020-12-10 19:11] #5845 closed

[2020-12-10 19:12] attilah commented on #6141
@avlonder could you provider more information about the enhancement and use cases to get a better understanding how could we enhance `@connection` and `@key`? Example schema, and queries would help.

[2020-12-10 19:19] andre-scheffer commented on #6128
Hi @attilah, thank you for your response.

`@andre-scheffer do I understand correctly that the problem is NOT CLI version agnostic then, right?`

--> Correct

`As you have an @auth rule on the type, that's the reason for seeing lower number of items. Owner filtering happens in the resolver after the DynamoDB query.`

--> On my test system I have only items from one user. So even if the filtering h

[2020-12-10 19:25] lebull commented on #984
@kfernandes29

https://github.com/aws-amplify/amplify-cli/issues/6138#issuecomment-742730830

[2020-12-10 19:44] attilah commented on #6144
@SebastianHurubaru could you please specify what version of the CLI you are using? Also the amplify related repro steps would help as I don't see how docker run is related to this. As a hunch, you are dunning a docker image locally from the amplify function folder AND issuing the `amplify status` command and that's when the error happens?

I think that based on the stacktrace is docker is locking

[2020-12-10 19:45] estyh commented on #6064
Took me a long time to figure this out. I added an amplify function, where the name had dashes.
On running amplify push, I got the following output: "Updating resources in the cloud. This may take a few minutes...Error updating cloudformation stack" followed by some nice green messages about my graphql schema compiled successfully, and finally "√ All resources are updated in the cloud"
No error in

[2020-12-10 19:45] attilah commented on #6143
@lr001dev please follow the issue template and add all the missing information about versions, and repro steps to be able to help you better.

[2020-12-10 19:51] akshbhu commented on #5009
Hi @VicFrolov

I think there are 2 issues. One with sorting with createdAt and other with bar field.

For the bar field I tried to reproduce this but I am getting sorted results correctly  using the same filter you described above.
I tried with the latest amplify version.

Can you also tell me if @searchable was added to any existing project or you created a new project when faced this error?

@ta

[2020-12-10 19:56] attilah commented on #6142
@Usama-Tahir you do not have to refeerence /opt folder from your Lambda code as whatever you put into `/opt` in your layer will be `.` in your Lambda, please try this: `const getValue = require('./toast');` and it should work.

Try out something similar by using node modules in a layer by following this guide: https://aws.amazon.com/blogs/mobile/how-to-use-lambda-layers-with-the-amplify-cli/

I'm

[2020-12-10 19:56] #6142 closed

[2020-12-10 20:09] 24601 commented on #6116
Used the amplify CLI as per the instructions in creating a React app. Happy to share the contents of the file but it seems to have data in there that shouldn't be publicly available (e.g. 3rd party app secrets?), is there a way to share this with you you prefer more securely?

[2020-12-10 20:30] MiqueiasGFernandes commented on #2563
Hi! I have found the same issue, any news of feature for this?

[2020-12-10 20:35] edwardfoyle commented on #5752
Hi @9710willy I think you will need to add the typescript plugin to your babel config and add `--extensions ".ts"` to the babel command: https://babeljs.io/docs/en/babel-preset-typescript. You can also try out the `--copy-files` flag: https://babeljs.io/docs/en/babel-cli#copy-files

[2020-12-10 20:46] SebastianHurubaru commented on #6144
Hi @attilah. I am using amplify cli 4.38.0.

Just add a lambda layer and amplify creates the folder structure for you. As the system I have is based on MacOS, and the lambda function runs on Amazon Linux 2, I am using yumda that is an image based on Amazon Linux 2. With docker I can create a container using the yumda image, and install the software I want in the /opt folder of the created layer.

[2020-12-10 20:49] attilah commented on #4825
Closing in favor of #6144

[2020-12-10 20:49] #4825 closed

[2020-12-10 20:50] attilah commented on #6144
@SebastianHurubaru  Thanks we try to reproduce it based on the information you provided.

[2020-12-10 20:57] gabrielgrover commented on #5663
I get this same issue as well.  I have to use amplify push several times before cli gets passed "uploading files..." state.

[2020-12-10 21:03] contractorwolf opened #6154 "[QUESTION] can I update the CLI without making changes to the project?"
** Please describe which feature you have a question about? **
This is probably a dumb question, but I just want to update the CLI so I can use Lambda Layers and dont want to cause issues in my current project. Thx

[2020-12-10 21:32] attilah commented on #6144
The root cause of the problem is that native module is installing symlinks in the `bin` folder and the hashing library did not support symlinks.

[2020-12-10 21:39] SebastianHurubaru commented on #6144
@attilah Thanks for the quick reply! Thought that was the reason, but the documentation does not mention anything about this limitation.

So will this be enhanced or what would be the solution in this case?

[2020-12-10 21:55] attilah commented on #6144
@sebastiancrossa it was not a known limitation. The updated code will exclude the symbolic links from hashing and packaging can succeed. BTW this install package with docker creates an invalid symbolic link pointing to `/opt/true` and that is causing the failure, not sure if it is the package's fault or normal docker behavior.

![image](https://user-images.githubusercontent.com/230432/101834501-50

[2020-12-10 22:13] estyh opened #6148 "amplify push gives error "Unknown type" when using union or interface in schema"
**Describe the bug**
I defined a schema with a query that returns a type that contains an array of a union object. (see sample below). Everything works when testing locally, no errors. When I run amplify push, everything seems just fine, I get a few minutes of messages about updating things, until the very end, and then:
[code]
The funny thing is, it does update the stack...
I've tried using an in

[2020-12-10 22:23] PatrykMilewski commented on #6139
I believe sometimes splitting API into multiple endpoints is a valid case.

In our project the schema for API grows quickly and we already had some troubles with AppSync console being not able to handle that big schema, which is annoying in case of developing custom resolvers. Due to this we had to get rid of some autogenerated CRUD endpoints, that were not used.

However the same can be achieved

[2020-12-10 22:35] chrisl777 commented on #3222
Use case for us with Step Functions (and SNS/SQS).

When a user visits the site and signs up, we want to send them a welcome email or text, along with a reminder email or text with some further prompts after a certain amount of time if they haven't further engaged with the site. For the case where we want to send a reminder, Step Functions are very handy, b/c they can be used as a kind of "cron" t

[2020-12-10 22:44] SebastianHurubaru commented on #6144
@attilah removed the invalid symlink but the error is still there. Can I see some extra logs, which point me to all files that cannot be hashed?
Also, when would you think that the updated code will be released?

[2020-12-10 23:39] Lasim commented on #995
+1

[2020-12-10 23:56] chantlong commented on #1850
That is the tradeoff I guess which I'm trying to get used to.
Even if you don't have any changes in the backend functions, it's safer to push.
I wonder if there are any AWS charges incurred on each push.
Looking below, it seems to be free?
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-paying.html

[2020-12-11 00:03] Nxtra commented on #5485
Isn't the function set up by Amplify as a pipeline resolver which still has mapping templates for the request or response?

[2020-12-11 02:56] edwardfoyle commented on #6144
@SebastianHurubaru even after fixing the issue with the hashing, there's another issue when the CLI tries to copy the function directory to #current-cloud-backend which is a limitation of fs-extra copy: https://github.com/jprichardson/node-fs-extra/issues/638#issuecomment-581827555 They've added this issue to their v 10 milestone, but until that is released there's not much we can do (even attempt

[2020-12-11 05:28] lijingshanxi commented on #6024
Is there any way to manually modify the template file to support http api, thanks

[2020-12-11 05:35] misogihagi commented on #6105
sorry, I couldn't reproduce also.
I'll back to collect more information.

[2020-12-11 05:35] #6105 closed

[2020-12-11 05:41] lijingshanxi opened #6151 "Amplify automatically create role and S3 bucket, I hope to set role and bucket manually, Thanks"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

    Amplify automatically create role and bucket, I hope to set role and bucket manually;
    "awscloudformation": {
      "AuthRoleName":

[2020-12-11 06:35] stleon commented on #5559
the same problem.
[code]

aws-amplify/cli@4.39.0

[2020-12-11 07:59] watilde opened #6153 "Highlight delete confirmation a bit more as warning"
**Is your feature request related to a problem? Please describe.**

As a developer, I want to be warned a bit more when I run a command that affects production like `amplify delete` so that I can avoid risk in production.

<img width="567" alt="Screen Shot 2020-12-11 at 14 10 32" src="https://user-images.githubusercontent.com/1716463/101877483-6bef9880-3bd1-11eb-864c-810ed7e627a4.png">

**Describe

[2020-12-11 08:48] SebastianHurubaru commented on #6144
Hi @edwardfoyle thanks for your reply. Sorry, I meant how to track down the broken links, as @attilah pointed one out and still after deleting it, the error message was there and wondering how did he manage to find it. Deleting all the symlinks results in the software not working properly, so it is not an option.

Guess I will have to wait then until this feature gets available and in the meantime

[2020-12-11 09:37] RossWilliams commented on #1850
If you use Amplify console to push, each minute is charged while waiting for CloudFormation to finish

[2020-12-11 10:52] esteban-uo commented on #6139
@attilah thanks. I really hope this can be prioritised soon. A related issue was also created over here https://github.com/aws-amplify/amplify-js/issues/5186

I believe Amplify has a lot of potential and I'm very happy what you guy have developed, however if Amplify was meant to be a Framework for "simple and small" web applications, I guess that should be stated in Amplify Vision and AWS FAQ.

Pe

[2020-12-11 14:09] PeteDuncanson commented on #6097
@matansagee @atlesp can you confirm how you deployed manually again, its now working for me as described.

- Download `#current-cloud-backend.zip` from my S3 (the bucket is is in should be called something like "amplify-myapp-live-123456-deployment")
- Extract that somewhere
- Copy the /amplify/#current-cloud-backend/api/<api name>/buildcloudformation-template.json file into my unzipped folder int

[2020-12-11 14:28] PeteDuncanson commented on #6097
Ahh sorted it, the file goes into /api/<app-name>/build folder! Thats got it unblocked!

[2020-12-11 17:20] lebull commented on #6138
4.39 seemed to resolve this issue.

[2020-12-11 17:24] ammarkarachi commented on #6138
@lebull Thanks for checking

[2020-12-11 17:24] #6138 closed

[2020-12-11 17:24] iyz91 commented on #1874
Yet another workaround is to simply not register any trigger when configuring your auth and just set them in the AWS Console afterwards (or through the AWS CLI).

While this goes outside of the Amplify CLI and is not IaC, it's arguably the easiest and quickest option, least prone to errors, maintains dynamic env vars, and involves a quick manual step on the likely least changing part of your stack

[2020-12-11 17:25] Coteh commented on #6110
Can confirm this regression exists on the latest version 4.39.0 and this is causing our CI deployments to fail. Downgrading to 4.37.1 like @jcf mentioned above seems to make it go away.

Output from our Jenkins node is shown below (project name and profile name redacted):

[code]

[2020-12-11 17:56] BardiaN opened #6155 "Amplify push shows "Error updating cloudformation stack" without specifying the error"
**Describe the bug**
I have a stack on Amplify CLI and recently after updating to 4.38.X & 4.39.0, when I'm pushing directly or building it through Amplify Console, it shows these lines:

[code]
Although it says that the build was successful, there are some errors and the backend environment doesn't get updated and since there's no error message, I have a really hard time finding the problem.
I ev

[2020-12-11 18:27] #4058 closed

[2020-12-11 18:48] #6029 closed

[2020-12-11 18:51] #5764 closed

[2020-12-11 19:00] #6087 closed

[2020-12-11 19:27] #6013 closed

[2020-12-11 19:34] #6097 closed

[2020-12-11 19:35] #6067 closed

[2020-12-11 19:36] #6123 closed

[2020-12-11 20:46] r0zar commented on #6084
I'm also getting this issue. I'm helping a client with a tight deadline and it's a blocker since I can't create new environments for them. I just don't have time today to debug this one with the source code :sweat:

[2020-12-11 20:48] erodrig commented on #5942
This still doesn't work for me the hosted ui provider cred doesn't seem to be the only problem, after replying to migration

PS C:\Users\sinap\repo\lookea\influencers-dashboard> amplify push
? Amplify has been upgraded to handle secrets more securely by migrating some values in team-provider-info.json to deployment-secrets.json
You can create a back up of the team-provider-info.json file before pr

[2020-12-11 21:55] #5358 closed

[2020-12-11 22:00] ammarkarachi commented on #6155
@BardiaN Can you try looking at where it failing in the cloudformation console?

[2020-12-11 22:03] heng2j opened #6159 "Not able to push new lambda function changes via amplify push. Error: Could not find a pipenv site-packages directory"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

I am not able to do amplify push after making any changes to one of my lambda function. For example simply remove a single space.

I am receiving this error:

[code]

**Amplify CLI Version**
You can use `amplify -v` to check the am

[2020-12-11 22:13] #6108 closed

[2020-12-11 22:13] #6062 closed

[2020-12-11 22:33] Coteh commented on #6110
This problem is currently affecting every single one of the Amplify projects at work, and not just on the CI server (macOS Catalina) but also on my Windows 10 work machine. Unfortunately, I could not reliably reproduce the problem after a couple hours of investigation. It seems to be pretty random, `amplify init` and `amplify push` throw this error when they have worked perfectly fine a few days a

[2020-12-11 23:10] lebull commented on #6117
I don't think forcing users to explicitly set the version is a good fix here.  Why is the latest version of the cli not... the latest version of the cli?

[2020-12-12 00:05] iquabius commented on #5772
I've got a similar error on Elementary OS, a distribution based on Ubuntu 18.04.

The difference is that it's trying to create a `/graphql` directory. Why would it try to create that directory at root level?

[code]

[2020-12-12 00:17] akamsheh commented on #6117
Agreed. I was stuck on this for a few hours before deciding to search the git issues. Glad I did.

[2020-12-12 01:15] hisham commented on #6144
side note: after considering the complexity of deploying image magik or sharp via a lambda layer, since they require linux specific builds, I switched to using [jimp](https://github.com/oliver-moran/jimp) as our image processing library. Then you don't have to deal with the complexity of building a layer with docker, etc.. (assuming your code is in javascript). Jimp though is slower than image mag

[2020-12-12 01:19] dylan-westbury commented on #4846
We are having issue again on another project.

**Lambda function parameters.json**
[code]

**Lambda function code **
[code]

**Lambda layer**
[code]

**Package.json**
[code]

Error from cloudwatch
[code]

I can see node_modules installed within layer.

[2020-12-12 03:59] jknapp25 opened #6164 "Amplify push: Unexpected token u in JSON at position 0"
After updating my GraphQL API configuration, every time I try `amplify push`, I get the error, `Unexpected token u in JSON at position 0`. I imagine it means a JSON object somewhere is undefined, but I have no idea how to fix that.

UPDATE: That error also shows after I finish configuring conflict detection using the CLI.
UPDATE: That error also shows after I do `Disable DataStore for entire API`.

[2020-12-12 07:42] jaibatrik commented on #5663
Disabling firewall did not help me.

[2020-12-12 09:04] markau commented on #1407
Amazon make these amazing tools, and have devrel people producing really useful content in how to get the tools running, and then there is a clear lack of functionality like this. It makes me wonder how many serious amplify appsync sites are actually commercially in production?

[2020-12-12 09:09] aspearman commented on #6016
Just had this issue on amplify cli 4.39.0

[2020-12-12 11:06] yutaoyan commented on #5931
Hey folks, please fix this problem! As of now, I am afraid of developing any new features for my app on Amplify. If this problem still exists for a couple of months, we might as well just call 4.32.1 is the final version of Amplify. Any new features release on Amplify will not be used for any production environment anyway.

[2020-12-12 12:23] connelhooley commented on #4972
A real shame this hasn't been picked up, the medium link posted above works by running a Lambda that validates the data before (or just after?) it is inserted into the database. Uniqueness should be handled by the data store so it is guarenteed to be enforced.

[2020-12-12 12:59] MontoyaAndres commented on #4826
Same, amplify should support testing all the features with Docker, like Sam does at least

[2020-12-12 15:37] jknapp25 opened #6165 "Removing API deleted dynamoDB data"
I am troubleshooting another amplify issue and I deleted my API to try setting it up again and that deleted all my dynamo DB data without warning.

My wife had already created a bunch of new posts on her brand new blog I built her and now I have to let her know that's all gone. Very unhappy customer here.

[2020-12-12 15:37] MiqueiasGFernandes commented on #2563
I'm currently using a node script that calls API class of aws-amplify SDK. This call include my JSON file and auto seed DynamoDB through AppSync API. Code example:

[2020-12-12 16:18] cdunn commented on #1407
Not by any means a scalable/robust migration system for a team but fwiw I have been using an `AWS::CloudFormation::CustomResource` with a a setupVersion and a setup lambda function.
[code]

Then I've been making idempotent changes on version change via the lambda...works ok for dynamo/etc since you can't make substantial changes anyways but wouldn't be great for sql changes.

[2020-12-12 17:05] a-ursino commented on #4874
Hi @akshbhu

I've updated amplify to v4.39, removed the custom code from my `amplify/backend/api/xyz/schema.graphql`

[code]

and started to get the error again `Not Authorized to access items on type`.

The compiled schema at `amplify/backend/api/xyz/build/schema.graphql` contains now

[code]

instead of

[code]

so it works fine just with the default authorizer (the type generated for the connec

[2020-12-12 17:23] SebastianHurubaru commented on #6144
Well, there are other way of uploading a layer so went in the end with a simple zip file decoupled from the main project managed over Amplify. As the layer will not change pretty much at all, except when changing the runtime, it is a good temporary solution.

[2020-12-12 19:15] simpian opened #6166 "Amplifypush gives Error: Missing required dependencies to package"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Build works fine when i initialize the project, like no backend lambda functions, but as soon as add just one example lambda function, build starts failing. I'm able to do an amplify push on my local and backend can be deployed from local, but when i do a git push, and trigger the bu

[2020-12-12 19:17] simpian commented on #6166
opened in amplify console https://github.com/aws-amplify/amplify-console/issues/1368

[2020-12-12 19:17] #6166 closed

[2020-12-12 19:26] maximelebastard commented on #6155
I have the same issue, and there is no error in the Cloud Formation console. I just have the amplify root stack with no nested stack created at all.

[2020-12-12 20:13] ayeganyan commented on #1874
As a workaround, I set up custom SQS resource and add dependency/permission to post on it through from postcomfrirmation function, finally added another trigger from SQS which writes to DynamoDB.
A little bit long way but works !

[2020-12-12 21:01] arthurdaytonSlalom commented on #6155
Don't know if this will help at all but I got same error and discovered if I run amplify build function before push my cloud formation error went away

[2020-12-12 21:28] dattnguyen opened #6167 "No credentials found for appId - Backend hosted in AWS RDS"
I tried running

[code]

but it did not work. I kept getting No credentials found for appId: ************* error. My backend is created and stored in AWS RDS (Oracle engine) so I'm not sure if that might cause an issue. I wonder how I can connect the backend environment of Amplify to AWS RDS.

When I went to the AWS Amplify website, I could see that a backend environment was created but it's not c

[2020-12-12 21:38] maximelebastard opened #6168 "Cannot pull an existing backend since the latest version"
**Describe the bug**
On an existing project, I want to pull an existing Amplify backend
I run `amplify pull --appId d26xxxxxx --envName dev`

**Expected:**
A new amplify/ directory is created with the backend informations

**Actual**
The CLI opens a Chrome browser and redirects me to the Admin UI (https://eu-west-1.admin.amplifyapp.com/admin/d26xxxxxx/dev/verify/).
I don't use Admin UI, it is not

[2020-12-12 22:11] josh-tncarry commented on #6104
Ok, as an update, it would appear that if you remove the `(queries: null)` part on the `PostLike` model, then the correct auth attributes will be generated.

I can probably further simplify this example given this information.

[2020-12-12 22:48] jgarner413 commented on #6084
Same issue for me as well. I've tried changing my amplify cli to 4.37.1 but I still have this issue

[2020-12-13 00:05] aspearman commented on #5931
I created an Amplify app using CLI v4.39.0 on one computer, but git pulling my iOS codebase and trying to run `amplify configure` with the same CLI version on **different** computer results in the error:

`File at path: '/Users/.../amplify/.config/local-env-info.json' does not exist`

That file is ignored in the default `.gitignore` given by Amplify, so this really does seem like a bug.

From what

[2020-12-13 00:08] ammarkarachi commented on #5931
Hi all, we are working on a release to fix this problem as soon as possible, I apologize for the issues we are working on it to get the issues addressed as soon as possible.

[2020-12-13 00:48] PeteDuncanson opened #6169 "Can't pull out data via DataStore for types with a @connection relation?"
**Which Category is your question related to?**

DataStore use within Amplify. I've added DataStore in retrospectively to an existing GraphQL api via `amplify update api`

I can pull back data for models that don't have any relations (@connections to other models) however when I try to pull back data for models with relations they always come back as empty (ie no results found). That seems to be t

[2020-12-13 05:33] KIWI-JP commented on #6155
Having the same issue after updating to 4.39.0 Nothing showing up on Cloudformation to help debug what the problem is, no new events are being recorded by the console, so I guess Amplify is not reaching it when I push.

[2020-12-13 07:02] seanim0920 commented on #1821
Did you manage to figure out how to autofill a userId in the resolver?

[2020-12-13 08:00] gaboucand commented on #2552
HI,
Same issue here.
Any update ?

[2020-12-13 08:28] djdam commented on #5942
reverted back to 4.32.1 after much debugging

[2020-12-13 08:33] Ko09 opened #6170 "Not Authorized to access createUser on type User"
I init an existing project that I made 6 month ago using `amplify init --app <github url>`. I pulled that project using `amplify pull`.
Then I executed GraphQL mutation that creates User after authenticated from Cognito user pool.
I received an Error says `{"data": null, "errorInfo": null, "errorType": "Unauthorized", "locations": [Array], "message": "Not Authorized to access createUser on type Us

[2020-12-13 09:19] idanlo commented on #5949
But the error that most of us are getting comes from the Amplify Console that builds the application, it somehow uses a certain version of the Amplify CLI that doesn't support these features, and I hope you see how absurd this is that we cannot *easily* control or see the CLI version in the console, when both products are coming from the Amplify team.

[2020-12-13 09:37] iuyt9003 commented on #5949
Hey, Thanks guys! I understand what happened
Hard to understand it by myself.

Thanks for the explanation.

[2020-12-13 12:33] ignaciolarranaga opened #6171 "The CLI can not grant access to the preSignUp trigger to use the user pool"
**Describe the bug**
If you want to access the Cognito user pool inside the preSignUp trigger you must be able to grant permissions, but this is not possible due a cyclic dependency. Specifically:
[code]

Indeed it is a common kind of check (for example in my case I'm trying to verify that the phone numbers do not repeat).

**Amplify CLI Version**
4.39.0

**To Reproduce**
1. Add authentication
2.

[2020-12-13 13:06] idanlo commented on #4688
anyone know why this is happening? I am getting this error on my environment where I have only modified code of a couple of functions. This is an environment with many resources so I would like to get a solution that is not "delete and recreate the environment" please

[2020-12-13 15:11] ignaciolarranaga commented on #6171
I did manage to resolve the issue with this work-around in the auth cloud-formation template:
[code]

Despite all my attempts though, I wasn't able to inject the execution role (i.e.: `functionsamplePreSignupLambdaExecutionRole`).
I added the parameter:
[code]
And changed the parameters.json of the auth:
[code]

But the parameter does not reach the template and it fails on deploy.

[2020-12-13 15:18] idanlo opened #6172 "Amplify push - Cannot read property 'join' of null"
**Describe the bug**
I currently cannot push using the Amplify CLI, this is the error -
[code]

**Amplify CLI Version**
4.37.1 (downgraded because new versions have a lot of bugs)

**To Reproduce**
`amplify push`

**Expected behavior**
Amplify push works.

**Additional context**
I am currently blocked and cannot work on my backend because of this

[2020-12-13 15:27] #6172 closed

[2020-12-13 16:09] lebull commented on #6102
@ammarkarachi Could you link the similar issue please?

[2020-12-13 16:26] lebull commented on #6102
Still seeing this using cli version 4.39 and also in the admin ui.  Looks like the related issue was closed out.  Am I missing some steps here?

![image](https://user-images.githubusercontent.com/3135984/102017619-96eeff00-3d2d-11eb-847e-aa63d3a66fc8.png)

[2020-12-13 16:31] anujmv commented on #4874
@a-ursino - Same issue working with next js using both API and Cognito. Gives error when querying with cognito and works fine with API key.

Thought the problem was with my schema, weird bugs in amplify hope this fix.

[2020-12-13 18:02] davegravy commented on #6155
Same issue here

[2020-12-13 21:23] davegravy commented on #6155
I resolved this by using the default/suggested function name instead of the custom name I'd supplied which contained a hyphen.

[2020-12-13 21:58] abenzick commented on #6168
I am experiencing this exact same issue.

[2020-12-13 21:59] ucanlendit commented on #6164
We have the same error, happy to jump on a quick call to help debug...

[2020-12-13 23:11] maximelebastard commented on #6155
@davegravy I confirm I have some custom cloud formation templates which I renamed to `mycategory-cloudformation-template.json`. So it may be the cause as well for me

[2020-12-14 00:06] jknapp25 commented on #6164
@ucanlendit I know it's not the best workaround, but I did not see this issue after removing, then re-creating my API, **without enabling** the DataStore.

[2020-12-14 00:44] vitalbone commented on #5157
@renebrandel How did you go with this issue in the [Bug Bash](https://github.com/aws-amplify/amplify-cli/projects/7)? I can't seem to find a reference to it in that project.

Would be good to label this as a bug rather than an enhancement since it makes the notifications category unusable unless adding config manually.

[2020-12-14 03:07] berbaroovez commented on #6138
Im getting this issue on 4.39

[2020-12-14 03:28] dylvaz commented on #5483
This worked for me!

[2020-12-14 06:04] tshad opened #6174 "Can't get Amplify init to work."
I am using the AWS Amplify docs getting started and am using the tutorial to create an offline-app project. I have it all working until I do the Amplify init. I can't get past it. I read that we don't need an AWS account to do this (I actually have one at work) but I am just trying to get a React program to work with Datastore and not connect to AWS yet. I am just trying to get something to work a

[2020-12-14 06:20] tshad commented on #6174
Here I just used the defaults as he talked about in the video. But it says the security token included is invalid????

What security token?

![image](https://user-images.githubusercontent.com/12076957/102046985-5032f080-3d91-11eb-85c7-f62a1c123153.png)

[2020-12-14 06:20] #6174 closed

[2020-12-14 10:26] Ko09 commented on #6170
I read this https://github.com/aws-amplify/amplify-cli/issues/3064

and added   @aws_cognito_user_pools in my schema.
still get same Error.

[2020-12-14 11:16] BardiaN commented on #6155
Thanks for the comment @ammarkarachi.
Yes, I have checked, there is no `FAILED` stack there, nested or root.

[2020-12-14 11:20] BardiaN commented on #6155
Well, like everyone else here, I have also found my problem finally, but the questions is if it's Amplify problem or CloudFormation problem since we all can't find any `FAILED` stack there.

My problem was a bit complicated, I'll comment it here so it might help someone else:
- So I have numerous APIs and Lambdas
- Two of those lambdas were referencing each other's API on `backend-config` and thei

[2020-12-14 14:01] iuyt9003 commented on #1851
@aprilmintacpineda adding searchable will much increase the cost because you will put elastic search machine upon.
the easiest solution is adding a custom LSI. which the sortKey is the sort you want to make:

An example for that will be :

[code]

the byTargetSortedComps <- the sort key is the compScore. which makes it useable with the sortDirection was added to appSync.

[code]

[2020-12-14 14:18] ahtokca commented on #5056
Got the same issue. Stuck not able to switch between envs

[2020-12-14 14:35] davegravy commented on #6155
Pretty sure this is an AmplifyCLI issue. Even though the CLI standard output was silent on the issue, I found the following in `amplify/logs/`:

2020-12-13T17:38:32.414Z|error : amplify-provider-awscloudformation.push-resources.updateCloudFormationNestedStack(["/home/davidg/xxxxxxxxxx/amplify/b$ValidationError: Template format error: Resource name function xxxxxxxxxx-xxx-xxxxxxxx is non alphanumer

[2020-12-14 14:56] ahtokca commented on #5695
4.39.x no luck. any way I can start from scratch ?

[2020-12-14 16:30] Nxtra commented on #6155
Where did you find that directory with logs?

[2020-12-14 16:45] OsenLiu commented on #6089
I have the same issue.  My amplify version is 4.39 & 4.34.
1. add the storage access to the function
2. remove storage access to the function
3. remove storage with amplify storage remove
The cli always say "Resource cannot be removed because it has a dependency on another resource"

[2020-12-14 16:52] OsenLiu commented on #6089
I have to manually remove the storage in amplify-meta file and then can remove the storage.

[2020-12-14 17:12] Ko09 commented on #6170
Changing `@auth(rules: [{ allow: owner, ownerField: "id", queries: null }])` to `@auth(rules: [{ allow: owner, queries: null }])` worked for me.

[2020-12-14 17:12] #6170 closed

[2020-12-14 17:59] half2me opened #6176 "GraphQL directive ordering not respected"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
The order of directives on a graphql schema is not *always* respected.

**Amplify CLI Version**
4.39.0

**To Reproduce**
Take the following schema for example:
[code]
In this case, the order the directives are applied is:
1) `@another_directive`
2) `@my_directive`

If we swap the dir

[2020-12-14 18:13] half2me opened #6177 "Prettier deleting "repeatable" word on custom directive"
**Describe the bug**
I'm really not sure if I need to report this to prettier or here, but since amplify-cli also uses prettier, I figured its worth a shot.
Its a very strange behaviour. I have the following code:
[code]

When I run prettier, it removes `repeatable`, to leave this:
[code]

I've worked around it by adding `// prettier-ignore`, but its the strangest thing, and I can't figure out why

[2020-12-14 18:25] akshbhu commented on #4874
Hi @a-ursino

The @auth directive on model wont work if you have default authorizer as ```API KEY```.Can you try with default authentication as "CognitoUserPools" in your project? You can do that via ```amplify update api```.

@anujmv

Can you check when you are making query with Cognito , Is  your default authentication for Auth is CognitoUserPools?
If not , can you try again by making Cognito as

[2020-12-14 18:37] stleon commented on #6155
The same problem with creating policy.

[2020-12-14 18:42] davegravy commented on #6155
`my-project-root/amplify/logs`

FYI I'm on v4.39.0

[2020-12-14 18:47] waltermvp commented on #1874
@ayeganyan can you post how you set it up?

[2020-12-14 18:51] nubpro commented on #6169
Don't think this problem is relevant anymore, @PeteDuncanson. It's sorted out already.

For any future readers:
It has nothing to do with the use of `@connection`.

Here's how you can debug why DataStore is having trouble syncing down the data to the client:
1. Developer tools
2. Network tab
3. Go through each `graphql` request and check the response. There will be errors if any.

[2020-12-14 18:53] kaustavghosh06 commented on #6022
@paddlefish You're seeing this since we use a custom lambda resource to update the auth and unuath role and change the effect to "Allow" when you have auth enabled in your Amplify project. Is there a functionality issue that you're seeing with this in your app?

[2020-12-14 19:09] paddlefish commented on #6022
@kaustavghosh06 : The reason it is important is because Amplify isn't perfect.  Sometimes an `amplify push` will fail, for example if two GIS's are modified at once.  Or if a circular dependency is inserted, causing cloud formation deployment to fail. And, sadly, sometimes CloudFormation fails when trying to rollback a failed deployment. Thus you're left with an environment that's partially pushed

[2020-12-14 20:07] mihallabrin commented on #5011
I've been dealing with this same error for a while now. Updating the api or auth various ways did nothing to resolve the issue. Now what I did find that somehow when deploying between different environments my CallbackURLs and LogoutURLs inside of parameters.json were pointing to an old environment and were not valid. These should match your redirectSignIn and redirectSignOut URLs which are genera

[2020-12-14 22:11] half2me commented on #6176
This issue is important when chaining functions inside a pipeline resolver with directives, like I have done here:
https://github.com/half2me/amplify-transformers

[2020-12-14 22:35] half2me opened #6182 "Custom Transformers only load with absolute path"
**Describe the bug**
To use custom transformers, we can add them to `amplify/backend/api/<YOUR_API>/transform.conf.json` under the `transformers` section. The issue is, if the given module doesn't have an absolute path, it will only be loaded if it is located inside of `node_modules`. If I wrote a custom transformer, and just had it inside my `src/` directory, I can't reference it with a relative

[2020-12-14 22:49] dacarva commented on #6102
I'm getting the same issue here. CLI version 4.39.
I created the project using the admin UI but it is not working in my environment

[2020-12-14 22:50] dacarva commented on #6102
I'm getting the same issue here. CLI version 4.39.
I created the project using the admin UI but it is not working in my environment

[2020-12-14 22:51] jhockett commented on #6075
Hi @dabeidl. DataStore doesn't support per-field `@auth` yet: https://docs.amplify.aws/lib/datastore/setup-auth-rules/q/platform/js

[2020-12-14 22:59] SwaySway commented on #6140
@jcbdev Is the folder empty? Or are there CFN templates in the folder?

[2020-12-14 23:09] SwaySway commented on #6154
Hello @contractorwolf
Generally the CLI handles migrations when upgrading between versions. For any migrations which require external manual intervention please review our docs here: https://docs.amplify.aws/cli/migration/lambda-node-version-update

[2020-12-14 23:09] #6154 closed

[2020-12-15 01:05] amlcodes commented on #4347
+1

[2020-12-15 04:20] tvkit commented on #37
I mistakenly selected the wrong IAM profile which resulted in "access denied".  I used the following Amplify settings from _.gitignore_ to determine how to rerun the **init** process:

I basically removed the Amplify artifacts not tracked by git.

Zip your project before making changes!

[code]

[2020-12-15 05:22] ayeganyan commented on #1874
@waltermvp
CF template to create SQS:
amplify/backend/queue/postConfirmationQueue-cloudformation-template.json
[code]

New resource and dependencies on in in amlify/backend/

[2020-12-15 05:53] ayeganyan commented on #1874
Hi @waltermvp
1. Create SQS in queue category:
_amplify/backend/queue/postConfirmationQueue-cloudformation-template.json_
[code]
2. Add the new resource and dependencies on it in _amlify/backend/backend-config.json_
[code]
3. Add permission settings and SQS inputs for postConfirmation function in _amplify/backend/function/authenticationPostConfirmation/authenticationPostConfirmation-cloudformation

[2020-12-15 08:48] villeheikkinentt commented on #6164
I'm having the same issue. Creating a new environment works and you can successfully use amplify push, but updating the environment again causes the same issue.

[2020-12-15 09:04] vishnuprasadkv55 commented on #1637
I run into the same issue, have anyone got an update?

[2020-12-15 09:13] atlesp commented on #6102
@dacarva it does not seem like this is released yet when looking at the [changelog](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/CHANGELOG.md)

[2020-12-15 10:18] idanlo opened #6184 "Amplify pull - pushing with a custom profileName - incorrect AWS Account ID"
**Describe the bug**
We have a CI/CD script before building the app that pulls the Amplify code (aws-exports, queries, mutations etc), we use a custom profile name for each environment, this is the pull script -
[code]
The pull fails with this error -
[code]
Version 4.37.1 and below works, I have tried 4.38.0 and 4.39.0 both do not work

**Amplify CLI Version**
Anything 4.38.0 and above

**To Repr

[2020-12-15 11:16] PeteDuncanson commented on #6169
Yep, I got this sorted over the weekend with the help of some fine folks in the Discord channel.

As you state the info I needed was in the network tab as GraphQL errors. Fixing those made DataStore work as it should.

[2020-12-15 11:16] #6169 closed

[2020-12-15 12:14] jcbdev commented on #6140
@SwaySway the templates are in the folder along with the lambda code.

I don't really understand how it is happening.  When I check the s3 deployment bucket there are no references in any of the build folders etc EXCEPT for #current-cloud-backend.zip where the function still exists.  It's like it never get removed from this zip so persists forever even though all references elsewhere are removed.

[2020-12-15 12:21] jcbdev commented on #4972
@WillDent I tried similar methods but the method I suggested works better.  I have modified my VTL template to use the method and it works perfectly (and is not that diffficult to do).  It just takes a long time to do for every template and field combination when we could easily add directive to the schema that changes the vtl template generation slightly

[2020-12-15 12:39] gabrielperales commented on #6172
@idanlo I'm having the same issue, how did you fix it?

[2020-12-15 12:41] idanlo commented on #6172
@gabrielperales i actually have no idea. Sometimes the environment gets messed up on its own, probably by amplify pull or something. I deleted the amplify folder, pulled from git, ran amplify init and it worked. Weird.

[2020-12-15 13:49] half2me opened #6306 "Invalid S3 key when using pipelineFunction resolvers"
**Describe the bug**

I wrote a transformer to create a pipeline resolver via a GraphQL directive. I recently made a change to use the default amplify behaviour of storing pipeline function resolvers inside the `pipelineFunctions` directory, exactly like the `@function` directive does. This works fine when pushing from my dev machine with `amplify push`. However, the automatic deployment I have se

[2020-12-15 13:50] BardiaN commented on #6155
It saved the log first time I ran it with `--verbose` but after that, the same thing happened with another resource and no log this time.

[2020-12-15 13:54] rodrigoords commented on #2739
Same error here, any suggestion ? I´m using behind proxy

[2020-12-15 13:54] davegravy commented on #6155
Interesting. I have never run with verbose. That said there is definitely not a log entry for every amplify push I've done. Unclear what is the logic used to write logs.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bardia Navvabian <notifications@github.com>
Sent: Tuesday, December 15, 2020 8:50:39 AM
To: aws-amplify/amplify-cli <amplify-cli@noreply.githu

[2020-12-15 14:24] rodrigoords commented on #1486
Any news about this, I´m trying to change some files but without success.

[2020-12-15 15:33] lebull commented on #6102
Good morning,

I was working on this exercise last night and I believe the s3 bucket
does not have CORS enabled for that endpoint, so I am unable to fetch the
data from my app.

https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

Would someone over there be able to double check this real quick, or would
you rather me replicate that from my side?

On Tue, Dec 15, 2020 at 3:13 AM Atle Esperum

[2020-12-15 15:54] ywroh commented on #2181
@gsans I also checked the spawn code ENOENT error that occurred in the amplify-cli open-editor execa as follows.
![스크린샷 2020-12-16 오전 12 49 58](https://user-images.githubusercontent.com/39849622/102238318-f4a36700-3f38-11eb-8c97-666cef8a59b6.png)

'Do you want to edit the schema now?' I solved the problem by saying'No' to the answer to this question.
![스크린샷 2020-12-16 오전 12 54 03

[2020-12-15 16:22] half2me commented on #6055
@suneelmatham I'm having the exact same issue. I can't import anything, I can't use any libraries.
Also `os.getenv()` does not have the proper variables set like in the nodejs runtime.
Python runtime is basically unusable with `amplify mock`

[2020-12-15 16:37] half2me commented on #6159
@heng2j I'm having the exact same issue. Have you found a workaround yet?

[2020-12-15 16:48] half2me opened #6185 "Amplify mock doesn't set environment variables on python lambda function"
**Describe the bug**
When running `amplify mock` python based lambda functions do not have their AWS environment variables set.

**Amplify CLI Version**
4.39.0

**To Reproduce**
1. Create a Lambda function in amplify using `amplify add function` and choose a python runtime
2. `print(os.environ)`

**Expected behavior**
environment variables should be set, just like when using the NodeJS runtime.

*

[2020-12-15 17:06] kaustavghosh06 commented on #6185
Closing as a duplicate of #4234

[2020-12-15 17:06] #6185 closed

[2020-12-15 17:09] kaustavghosh06 commented on #6140
did you run `amplify remove <function>` and then run `amplify push`?

[2020-12-15 17:14] stleon commented on #1549
I need support of multiple storages in my app too.

[2020-12-15 17:42] ammarkarachi commented on #6102
Thanks @atlesp , Yes the fix hasn't been released yet. It should be out soon

[2020-12-15 18:29] vrebo commented on #6097
@PeteDuncanson where did you find the file `buildcloudformation-template.json`?.

I can't see it anywhere in the project source code. In my resource api directory I have the following files:

- parameters.json
- schema.graphql
- transform.conf.json

but no `buildcloudformation-template.json`.

[2020-12-15 19:48] evertson90 commented on #5942
I have the same issue.

[2020-12-15 19:53] ammarkarachi commented on #5942
@evertson90 we release a new beta can you test it with the new version and let me know

[2020-12-15 20:06] evertson90 commented on #5942
I installed version 4.40.0-beta.0 and tried the following:

- amplify status:
`? Amplify has been upgraded to handle secrets more securely by migrating some values in team-provider-info.json to deployment-secrets.json
You can create a back up of the team-provider-info.json file before proceeding. Yes
Successfully updated auth resource locally.`

Then I did amplify update auth, "Update OAuth social

[2020-12-15 20:42] ammarkarachi commented on #5942
@evertson90 Those values are being written to `~/.aws/amplify/deployment-secrets.json` and the values are being served from there

[2020-12-15 20:50] dwamianm commented on #5942
ok here is what fixed this for me... but the jury is still out because it's been a long few hours of debugging this issue

1. Re-add `hostedUIProviderCreds` to the `team-provider.json` file (hopefully you backed this up before)
2. Open the cloudformation file under the `auth` resource and add a default under `hostedUIProviderCreds`... e.g.

<pre>
  hostedUIProviderCreds:
    Type: String
    Defau

[2020-12-15 20:53] ammarkarachi commented on #5942
@dwamianm Can you confirm the if the Auth CFN is being updated after the migration?

[2020-12-15 20:56] dwamianm commented on #5942
@ammarkarachi it adds the following to the Outputs section of the CFN file

<pre>
  AppClientSecret:
    Value: !GetAtt UserPoolClientInputs.appSecret
</pre>

...however, as previously pointed out, it removes any customizations made to the CFN templates... but that may be for another bug report

[2020-12-15 21:09] ammarkarachi commented on #5942
@dwamianm The credentials should be temporarily stored in the file `deployment-secrests.json` and the next push should server up an empty hostedUIProviderCres marked as '[]'

[2020-12-15 21:21] akshbhu commented on #6159
Hi @half2me , @heng2j

It looks like pipenv is missing. I have a following questions:

1) Are you able to push functions before this error(selecting python as runtime)?

2) Can you make sure you have pipenv installed and included in your PATH variable(make sure python verison > 3.8)?

[2020-12-15 21:22] overflowz commented on #2620
Having the same issue here and been waiting for it for a long time now. Also, is the `enhancement` label correct here? Shouldn't it be a bug since it causes mock to fail?

[2020-12-15 21:23] dwamianm commented on #5942
@ammarkarachi ... that is not the case for me. The deployment-secrets.json file looks like this even after several pushes

<pre>
{
  "appSecrets": [
    {
      "rootStackId": "<stack-id>",
      "environments": {
        "dev": {
          "auth": {
            "authResourceName": {
              "hostedUIProviderCreds": "[{\stuff in here"}]"
            }
          }
        }
      }
    }
  ]

[2020-12-15 21:24] akshbhu commented on #6164
Hi @jknapp25

Sorry for the late response.
Can you tell me the categories you added  so that I can repro this error on my end?

[2020-12-15 21:24] amin79 commented on #1868
@klaop57 I have the same problem. Could you please let e know what should I do?

[2020-12-15 21:25] half2me commented on #6159
@akshbhu
1. I got this error the very first time I tried to push my python function.
2. I have it installed:
[code]

[2020-12-15 21:26] jhockett commented on #6168
Hi @maximelebastard @abenzick, was AdminUI enabled previously for this project? If not, can you double check it's not currently enabled?

I haven't been able to reproduce this yet.

[2020-12-15 21:30] ammarkarachi commented on #5942
Can you share your latest generated CFN file you can redact the info you think is sensitive

[2020-12-15 21:33] #3473 closed

[2020-12-15 21:40] akshbhu commented on #6159
Can you try this:

1. Install pipenv using ```pip install --user pipenv```.This does a user installation to prevent breaking any system-wide packages.
2. Run ```python -m site --user-base``` to get your  user base binary directory, append bin to the path and add this path to your $PATH variable. You can ```echo $PATH``` if its added or not.
3. Try ```amplify push``` again.

Let me know if this wor

[2020-12-15 22:14] akshbhu commented on #6165
Hi @jknapp25

Sorry for your troubles. Currently removing the api will delete @model dynamoDB tables.

I will mark this as enhacement to make it more clearer in future.

[2020-12-15 22:30] abenzick commented on #6168
Yes, it was enabled previously.

[2020-12-15 22:40] dwamianm commented on #5942
@ammarkarachi absolutley.. here you go

<pre>

AWSTemplateFormatVersion: 2010-09-09

Parameters:
  env:
    Type: String
  authRoleArn:
    Type: String
  unauthRoleArn:
    Type: String

  functionjournelyv2AuthCustomMessageArn:
    Type: String
    Default: functionjournelyv2AuthCustomMessageArn

  functionjournelyv2AuthCustomMessageName:
    Type: String
    Default: functionjournelyv2AuthCusto

[2020-12-15 22:44] akshbhu commented on #6167
Hi @dattnguyen

From the error it seems it not able to find credentials for the appId?
Can you tell me the steps you followed and categories added before you got this error?

[2020-12-15 22:44] dwamianm commented on #5942
@ammarkarachi ...My push happiness was short lived. I am not unable to push with the following message

<pre>
Failed to delete resource. See the details in CloudWatch Log Stream: 2020/12/15/[$LATEST]fe9f95bab9b84cff81db847ddce2fa72
</pre>

and this in the cloudwatch logs

<pre>
2020-12-15T22:03:36.452Z	23d5e182-7094-4de1-b0a9-45ab65c7fb91	INFO	SyntaxError: Unexpected token h in JSON at position 0

[2020-12-15 22:44] jhockett commented on #6167
Hi @dattnguyen, We need more information to understand what's going on.

What steps led you to this state?

What version of the cli are you running? You can use `amplify -v` to check the amplify cli version on your system

[2020-12-15 22:47] matansagee commented on #6097
@vrebo it's in this path - `amplify/backend/api/API_NAME/build/cloudformation-template.json`
the file is `cloudformation-template.json`

[2020-12-15 22:51] maximelebastard commented on #6168
I may have enabled it a few minutes for a quick test.
For what I remember, I did not pull the project during that interval.

[2020-12-15 22:53] Hanu0303 commented on #2111
This worked for me:
Make sure you have the latest API pulled. After deleting files graphql/mutations.js and graphql/queries.js I ran `amplify codegen add` and followed the prompts.
Files were regenerated.

[2020-12-15 22:58] raffibag commented on #2227
I'd settle for a feature (or anti-feature?) that just doesn't overwrite the custom env values set from within the AWS console.

[2020-12-15 23:16] dattnguyen commented on #6167
Hi @jhockett and @akshbhu, thanks for your reply. I am following these steps from a youtube video (https://www.youtube.com/watch?v=QkjkdkkQZwE&t)

- Upload to Github all the front-end files, cd to that directory, run `npm i aws-amplify-vue`. The current version of cli I am running is 4.39.0
- Run `amplify configure`, create new user with the KeyID and secret access key.
- Run `amplify init`, `ampl

[2020-12-15 23:18] jhockett commented on #6168
Try running `amplify logout --appId <AmplifyAppId>`. What's the output you see?

If the credentials exist, you will be asked if you want to logout from all sessions. Answer `y`. Then try pulling your app.

[2020-12-15 23:20] dattnguyen commented on #6167
I guess my problem comes down to how can I connect the Amplify backend environment to AWS RDS. After googling around, it looks like I need to create a serverless using Amazon Aurora as the engine option. However, the database has already been uploaded and stored using Oracle as the engine.

[2020-12-15 23:41] aprilmintacpineda opened #6187 "variable (and configurable) account number instead of hardcoded everywhere"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**

Currently, I looked at the template files, there are hardcoded account numbers related to the account where I deployed the app, shouldn't this be a variable that we can change?

**Describe the solution you'd like**

Allow us to add

[2020-12-15 23:41] jknapp25 commented on #6165
Thank you @akshbhu, I appreciate the response 🙂

[2020-12-16 00:18] akshbhu commented on #6177
Hi @half2me

Closing this as it seems like an issue with prettier. As a suggestion you can use ```pretty-quick``` for this. Currently we are using ```pretty-quick``` instead of ```prettier```.

[2020-12-16 00:18] #6177 closed

[2020-12-16 00:19] jhockett commented on #6167
@dattnguyen We have [docs](https://docs.amplify.aws/cli/graphql-transformer/relational) on setting up a relational DB with a GraphQL API that you might find useful. Unfortunately, Oracle is not supported.

[2020-12-16 00:49] nikhname commented on #4843
I was not able to reproduce this using basic schemas. @amcdnl could you please send your schema over to amplify-cli@amazon.com?

[2020-12-16 01:34] Coteh opened #6188 "Add `amplify env ls` as an alias for `amplfiy env list`"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I type `amplify env ls` expecting list of Amplify environments when the command is actually `amplify env list`.

**Describe the solution you'd like**
I'd like `amplify env ls` to be an alias for `amplify env list`.

**Describe alternatives you've considered**
I can just make it a shell alias. 😛

**Additio

[2020-12-16 03:09] jncheung opened #6189 "Unable to checkout another amplify environment"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

Cannot checkout to another amplify environment

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

[code]

**To Reproduce**

[code]

**Expected behavior**
Checkout to my 'dev' environment
and push new updates to target environment

**De

[2020-12-16 03:47] r0zar commented on #6084
In case anyone this helps anyone, my temporary workaround has been re-cloning the project and running `amplify pull` into a new amplify environment. It seems slightly easier than battling with the CLI each env change.

[2020-12-16 03:59] Nagasai97 commented on #1549
yes you can do it using amplify

[2020-12-16 04:10] nguyenan commented on #2679
Same issue here. Appreciate sharing any ETA on this.

[2020-12-16 04:32] dattnguyen commented on #6167
That's unfortunate. Thanks for letting me know!

[2020-12-16 04:32] #6167 closed

[2020-12-16 05:33] gwasserman4856 opened #6190 "An error occurred during the publish operation"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Using headless amplify publish, I am getting "An error occurred during the publish operation".  It appears to have completed cloudformation updates and built the deployment package.  The last line before the error is "Find out more about deployment here: bit.ly/CRA-deploy."

I am wor

[2020-12-16 05:46] DayuEJ commented on #6110
update your npm version  exc command line:   sudo npm install -g npm
can fix "The "path" argument must be of type string. Received an instance of Error"

[2020-12-16 05:53] ArshAulakh59 commented on #6110
We started having this issue on one of our team member's mac recently. What fixed it for us was running `amplify configure project` again. Turns out. it wasn't able to find the AWS credentials in the system so we ended up creating and setting a new user profile on the system and it started working again.

[2020-12-16 05:56] ayeganyan opened #6191 "Unable to remove adminQueries resource"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Cloudprovider is missing from userPoolGroups resource and unable to remove adminqueries and userpoolgroups

**Amplify CLI Version**
4.40.0

**To Reproduce**
I have added admin queries and user pool group, now when I type `amplify status` default cloud provider is missing from userPoo

[2020-12-16 06:02] ayeganyan opened #6192 "Schema change error in a new environment"
**Describe the bug**
Getting schema change error in the new environment

**Amplify CLI Version**
4.40.0

**To Reproduce**
1. Change key schema in schema.graphql
2. Add new environment
[code]
3. Push environment
[code]
An error is reported:
[code]
**Expected behavior**
User should be able to push any schema in new environment

**Screenshots**
If applicable, add screenshots to help explain your prob

[2020-12-16 06:02] atlesp commented on #6097
@attilah is this not in the 4.40 release neither? Looking at the changelog and can not see this fix:
![image](https://user-images.githubusercontent.com/1275067/102310859-1b2ec580-3f6c-11eb-8cf4-ab8cb044a038.png)

We have not been able to deploy to prod due to this issue for almost two weeks now, and that is not good. An ETA for when it will be released would be very helpful when communicating with

[2020-12-16 06:05] pradheepkaliraj opened #6193 "How to get nextToken from GRAPHQL callback?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
AWS Appsync CLI

**Amplify CLI Version**
4.18.0
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
DynamoDb, Congnito, S3.

**Provide additional details e.g. code snippets**
I am writing a

[2020-12-16 06:17] ayeganyan opened #6194 "Access denied when creating SQS as custom resource"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Access denied when creating SQS as custom resource when pushing the environment

**Amplify CLI Version**
4.40.0

**To Reproduce**
I have added custom SQS resource which worked fine as of 12 December.
However now I am getting the following error when pushing the environment:
[code]
No

[2020-12-16 06:25] jncheung commented on #6189
i have fixed this issue by re-pulling all environments in a new clear folder and checkout again.

Don't know what is the cause for the issue.

I will close this issue.

[2020-12-16 06:25] #6189 closed

[2020-12-16 06:55] ayeganyan commented on #6194
Downgrading to aws-amplify/cli@4.29.8 fixed this issue.

[2020-12-16 06:57] ayeganyan commented on #1874
@waltermvp the functionality is broken in latest version (at least 4.39.0)
4.29.8 is working fine

[2020-12-16 07:05] ayeganyan opened #6195 "Storage bucket is not clean up after failed push"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Storage bucket is not clean up after failed push

**Amplify CLI Version**
4.29.8

**To Reproduce**
1. Create new environment
2. Add s3 storage resource
3. Add graphql resource which will fail on push
4. push the environment
After failing command, push one more time and will have the

[2020-12-16 07:56] iThink32 commented on #4055
hey guys I have the same issue , but on my end it works on the simulator but not on a device , I also believe its working as IAM is set up via CLI but fails then run on a device, is there any way I can specify Storage to use Cognito instead of IAM for auth?

[2020-12-16 08:02] ayeganyan commented on #6192
Error exists even if I did not change anything
In 4.29.8 as well

[2020-12-16 08:31] ltaljaard commented on #2099
I also need this please.

[2020-12-16 08:39] kylekirkby commented on #2679
@attilah  @kaustavghosh06  @powerful23  @dabit3, can you use any of your special powers to get this issue expedited?

[2020-12-16 08:55] watilde opened #6196 "plugin type details url is 404"
**Describe the bug**
When I run `amplify plugin init` and select `Learn more`, cli suggested to see https://docs.amplify.aws/cli/usage/plugin and it is **404** page. I think it should show https://docs.amplify.aws/cli/plugins/architecture#plugin-types isntead and made PR: https://github.com/aws-amplify/amplify-cli/pull/6120.

**Amplify CLI Version**
v4.40.0

**To Reproduce**
1. Run `amplify plugin

[2020-12-16 09:58] suneelmatham commented on #6055
Yeah, I have tried using Lambda layers to import libraries but the memory isn't enough to load deep learning models. I have begun to use EFS to load libraries into lambda function but I am currently facing issues with using libraries which need C-extensions like torch and numpy.
Though, I have been able to load environment variables with os.environ['var_name']

[2020-12-16 10:24] hirenumradia commented on #4453
Hi, I am running into the same issue with "An error occurred during the push operation: No such resource AWS::EFS::AccessPoint". We have a very similar cloudformation template to the one mentioned by @venkatesh-kadiyala. Was this issue resolved?

[2020-12-16 10:38] hirenumradia opened #6197 "Unable to export the ARN value of a cloudformation resource using a custom cloudformation template using Amplify CLI"
**Describe the bug**
I am trying to create custom templates within my Amplify application. However, while trying to push the sample template from the CLI I am observing the following error “An error occurred during the push operation: No such resource AWS::EFS::AccessPoint”.

**Amplify CLI Version**
4.38.2

**To Reproduce**
Please see the sample template:
[https://www.dropbox.com/s/1u40ze8w6jkl5jl

[2020-12-16 11:16] Ricardo1980 commented on #5485
@Nxtra
Where are those mappings?
There are no mappings.
I think there is something autogenerated but if you modify that, amplify will overwrite it!

[2020-12-16 13:14] gwasserman4856 commented on #6190
I spent a lot of time debugging the amplify cli and was finally able to get the deploy to work.  At the end of the day there is a lot going on and just having error messages propagated to the log would help tremendously.

First issue was that I was getting an exception for having a corrupt local-aws-info.json file.  That file was in the auto generated .gitignore.  I removed from the .gitignore so

[2020-12-16 14:25] econtentmaps commented on #3275
Yep just hit this, too. +1.

[2020-12-16 15:20] dcp3450 opened #6198 "amplify push returns error: The "path" argument must be of type string"
**Describe the bug**
Any command to talk outside of local returns the error: `An error occurred during the push operation: The "path" argument must be of type string. Received an instance of Error`. Including `amplify env pull --restore` and `amplify push`.

I've updated CLI to the latest version to be sure

**Amplify CLI Version**
4.40.0

**Expected behavior**
commands would run without error

**

[2020-12-16 15:51] half2me commented on #6026
Closing, as duplicate of #4725

[2020-12-16 15:51] #6026 closed

[2020-12-16 15:52] half2me commented on #4725
+1, This would be important for me as well.

[2020-12-16 16:24] dwamianm commented on #5942
@ammarkarachi ... 4.40.0 looks like it fixed the issue for me.

[2020-12-16 17:19] stleon commented on #6155
I have not got this directory too

[2020-12-16 17:41] ammarkarachi commented on #6197
@hirenumradia This is an issue with `cfn-lint` in CLI package we are using we will have to incorporate a different way to lint cfn files before push.

[2020-12-16 17:46] ammarkarachi commented on #6196
@watilde Good catch!, I will merge the PR. Thanks for your contribution.

[2020-12-16 17:46] #6196 closed

[2020-12-16 18:34] yuth commented on #6156
@joscarras could you try to delete the application from Amplify console again and see if it gets deleted now. We had some issue in the service earlier which is fixed now.

Could you also share the steps that you followed when you got the error ` DeploymentBucket amplify-test-dev-155008-deployment already exists`. The bucket names are generated to such that they are unique

[2020-12-16 18:36] yuth commented on #6156
@makiyov  Did your Mac crash or the CLI crash? And did you try to init the app in the same folder after the first crash

[2020-12-16 18:53] makiyov commented on #6156
My Mac crash! I have iMac with macOS Big Sur 11.0.1.
But, my MacBook Pro with macOS Catalina 10.15.7 works fine!

And yes, I try to init this app several time, result was the same - crash.

A little bit later I will update iMar to Big Sur 11.1 11.1 and check again.

[2020-12-16 19:05] yuth commented on #6156
Do you have any stack trace from the crash? What version of NodeJs is being used? and what is the version of Amplify CLI do you have installed?

[2020-12-16 19:19] yuth commented on #6171
@ignaciolarranaga The userpool depends on the preSignUp trigger to be present and the IAM policy gets created before the lambda function is created. So this causes chicken and egg problem where Function can't be created without the UserPool and UserPool cant be created with the function, and for this reason the CLI errors out when granting function the access to UserPool.

The work around would be

[2020-12-16 19:36] yuth commented on #6176
@half2me this is by design as we don't want to change the behavior of the transformer based on the order in which the transformer is executed based on the input document. For instance lets say if some one defines a schema like below

[code]

the transformer wont be in a position to write the `@auth` or `@key` directives as the operate on the directives created by `@model` directive. The resolvers

[2020-12-16 19:45] stleon opened #6200 "Could not initialize 'dev': The "path" argument must be of type string. Received an instance of Error"
**Describe the bug**

$amplify env pull --restore (or amplify env checkout dev)
Fetching updates to backend environment: dev from the cloud.Could not initialize 'dev': The "path" argument must be of type string. Received an instance of Error

**Amplify CLI Version**
4.40.0

**To Reproduce**
I just copy cloudformation-template.json from one project to another.

**Expected behavior**
Moves mine envi

[2020-12-16 20:07] yuth commented on #6182
The intended use case was to allow publishing of custom transformer plugin to npm and then use it in the projects. The `src` folder in the amplify project is mostly meant for front-end code and adding a transformer plugin there could cause more confusion. But I think it is worth thinking more about how to support custom plugin which is shipped as part of the amplify project itself.

[2020-12-16 20:09] yuth commented on #6187
@aprilmintacpineda which category did you see the account number hardcoded?

[2020-12-16 20:14] yuth commented on #6188
@Coteh yes, we would appreciate an PR

[2020-12-16 20:37] ignaciolarranaga commented on #6171
@yuth I'm not getting the workaround you suggested.
What should I create in the custom stack ?, the User Pool with the Trigger ?

Will this prevent me to use the `@auth` annotation in the API ?. Don't you think my workaround is better if that's the case ?

[2020-12-16 20:39] makiyov commented on #6156
So, now I have already updated all of these components to: macOS Big Sur 11.1, Node v15.4.0, Amplify CLI 4.40.0.
And you know, after that everything works great!!!
Thanks a lot for your attention!
Having latest versions is so important :))

[2020-12-16 20:56] half2me commented on #6182
@yuth I understand. Maybe this could be documented somewhere? I had to find out about the absolute path restriction by looking into the code itself.

[2020-12-16 21:01] half2me commented on #6176
@yuth thanks for clarifying this. I did think this was done by design, but I think it could be very useful to consider the order of the directives when applying transformers, as it allows for more powerful manipulation. With the current design, you have no way of controlling the order. Having a requirement of defining `@model` before `@key` shouldn't be a difficult change for anyone, although it w

[2020-12-16 21:53] pkhivesara opened #6202 "DataStore Flutter - Unable to run add api command"
**Describe the bug**
Unable to run add api command on existing project

**To Reproduce**
Steps to reproduce the behavior:

    1. Go to terminal
    2. Type in amplify add api
    3. See error: Cannot read property 'includes' of undefined

**Expected behavior**
DataStore should be added successfully

**Platform**
Amplify Flutter current supports iOS and Android. This issue is reproducible in (chec

[2020-12-16 21:54] dwamianm commented on #6200
@stleon When I had this error in the past I remove the `#current-cloud-backend` and then do an `amplify env checkout <env>` and it fixed it.

based on your reproduction steps it's also possible you may need to run `amplify configure` again... have not tested to reproduce

I also have a little utility bash script I wrote that cleans everything...see below.

<pre>
#!/bin/bash

rm -Rf amplify/backend

[2020-12-16 21:55] krikork opened #6203 "Access level no longer applied to the lowest granularity"
**Which Category is your question related to?**
API

I was updating an existing API to allow users in a particular group to access one of two paths I expose through the API.
Comparing the template to its previous version shows that the path name was removed from the resource to which access is given. This appears less restrictive and potentially less secure than before.

Here's the output from the

[2020-12-16 22:03] poulter7 commented on #4865
@jadenv where in the standard amplify stack does this live? I see the cloudformation-template.json for api/graphql is auto-generated under the /build directory, I expect this gets overridden in each publish?

[2020-12-16 22:26] poulter7 commented on #4865
Actually if one is looking to map into the alias from a graphql function I think you can simply pass the alias in the function name.
 This points to $Latest
`function(...): AWSJSON! @function(name: "function-${env}")`
This points to the provisioned alias you mentioned above.
`function(...): AWSJSON! @function(name: "function-${env}:provisioned")`

[2020-12-16 23:31] jcbdev commented on #6140
Yeah it comes back.  I have figured out that `amplify remove function` does not delete the folder from `#current-cloud-backend` folder. Thus it gets pushed with the next amplify push and ends up in the package zip on S3... This of course means that even on a fresh checkout if you do an `amplify pull` it downloads the folder again and restores it.

The "workaround" is to manually delete the folder

[2020-12-17 00:10] heng2j commented on #6159
For me, I checked that I only have python3.7 in my lambda function's virtualenv. So I have to renamed it manually to 3.8 to fix this issue.

/Users/heng2j/.virtualenvs/collectorVideosProcessor-r9qVMPot/lib/python3.**8**/site-packages

[2020-12-17 00:19] zkwentz commented on #4054
Hey all,

I ran into this issue this evening, same root cause as original reporter: I manually disabled my stream, and when I re-enabled the ARN had changed.

**I have a solution that doesn't require deleting tables, data, and/or removing @searchable directives**, but it will require a bit of surgery in the console.

**Background**

When you add `@searchable` to an `@model` in your schema.graphql,

[2020-12-17 00:52] yuth commented on #6176
It is not a good developer experience to mandate developers to follow a certain order when adding directives as the GraphQL language itself does not have any notion for ordering of directives

All the feature flags should be documented [here](https://docs.amplify.aws/cli/reference/feature-flags#configuration), but unfortunately its not up to date. More upto date list can be found here in the code

[2020-12-17 01:01] yuth commented on #6190
We are adding more verbose logging to the CLI to diagnose the issues. These log statements would be added organically and in more places slowly.

Which headless command were you using when you set `useProfile` to false? It should be possible to do a `push`/`publish` without creating a local profile in headless mode.

You could get details about headless mode in our docs [here](https://docs.amplify

[2020-12-17 01:17] yuth commented on #6191
@ayeganyan

What do you mean by default cloud provider missing?

Do you do an `amplify push` after updating the auth. Could you paste the full screen transcript to what commands were run and what was happening when you run those?

[2020-12-17 01:28] yuth commented on #6192
@ayeganyan do you have an env with name `testa` already in the project? If there is an existing environment with the same name in `<project-root>/amplify/team-provider-info.json`, the CLI does not create an new environment. If you want to recreate the environment please run `amplify env remove <env-name>` and then add it back

[2020-12-17 01:36] yuth commented on #6194
@ayeganyan could you include the CFN errors from the nested SQS stack to help us narrow down the issue

[2020-12-17 01:47] yuth commented on #6198
@dcp3450 would you mind sharing the content of `<project-root>/amplify/.config/local-env-info.json`. Please make sure you redact any sensitive information before sharing it here.

What categories do you have in your project.

[2020-12-17 01:50] yuth commented on #6195
Amplify CLI adds bucket with the DeletionPolicy `Retain` for S3 buckets so that the content of the bucket does not get deleted as the bucket may contain important data.

But the bucket should be deleted when the push itself fails when adding a new storage bucket. I am marking this as an bug and add to our backlog

[2020-12-17 01:53] yuth commented on #6200
This looks similar to issue https://github.com/aws-amplify/amplify-cli/issues/6198. Marking this as duplicate.

[2020-12-17 01:53] #6200 closed

[2020-12-17 02:42] yuth commented on #6202
Could you include the flowing information
1. What is the version of Amplify CLI you have installed
3. How is you project configured. Could you share `amplify/.config/local-aws-info.json` and `amplify/.config/project-config.json`

[2020-12-17 05:19] ayeganyan commented on #6192
That was completely new environment...
I tried with new environments several environment, and finally reverted all my changes I have made after last successful deployment, and removed auto-generated "#current-cloud-backend", amplify-meta.json, awscloudformation folders, so it seems issue occurred  because of environment info did not cleaned up from previous environment.

[2020-12-17 05:24] renebrandel commented on #6153
Agree that this is an issue. Let's make the text red and add a "⚠️" at the front. Curious what others think as well.

[2020-12-17 05:35] ayeganyan commented on #6194
Sorry for attaching wrong message on the ticket description,
I don't have the issue anymore as I downgraded it, however, the message contained the below line (and that was the only error):
[code]

[2020-12-17 05:44] ayeganyan commented on #6191
@yuth below is my current environment state, note that it in create state event I push the environment, and provider is missing.
It's missing in backend-config.json as well

[code]

[2020-12-17 05:54] ayeganyan commented on #6191
1.
@yuth below is my current environment state, note that it in create state event I push the environment, and provider is missing.
[code]
It's missing in backend-config.json as well:
[code]
2.
When trying remove adminqueries and userpools:
[code]
The result:
[code]

[2020-12-17 05:57] ayeganyan commented on #6191
Some other problems
1. if It's impossible to remove userpoolgroup with  "Create or update Cognito user pool groups" flow
[code]

2. If go with "Create or update Admin queries API" it updates post/pre confirmation triggers as well, which is a bug I suppose

[2020-12-17 06:11] Nxtra commented on #5485
For example they can be in `amplify/backend/api/yourapiname/resolvers` and ``amplify/backend/ap/pipelineFunctions`.
If you specify a template there yourself, amplify will not override it in the build directory.

[2020-12-17 06:39] ayeganyan commented on #6192
I am facing issue again, as you can see graphqlapi is in Create state:
[code]

[2020-12-17 06:44] cosio55 commented on #5998
I was having issues with mocking the same ```xxxPreSignUp``` at first it was the same problem as #4761 but updating to latest version fixed it, but now I'm having this issue and getting the same error messages.

[2020-12-17 07:40] watilde commented on #6153
Alternative solution that I can come up with is i18n in cli, but it's quite challenging from my experience at [npm](https://github.com/watilde/i18npm) command to keep time2market fast in upstream. Might be good as long-term goal 🥅

[2020-12-17 08:13] ayeganyan commented on #6192
It worked fine after I remove #current-cloud-backend folder

[2020-12-17 08:34] amuresia commented on #5311
+1

[2020-12-17 08:35] eyalella commented on #4695
+1
We have been struggling with deploying external data using amplify and `BatchSize=1` is a huge pain for us

[2020-12-17 09:47] econtentmaps commented on #2458
Same problem, why is this closed? amplify update auth does not work. Deselect trigger, do an "amplify push" and it insists there's been "no change" to Auth. This is just one of many issues with dependencies, I'm noticing. Using layers is also pretty broken. I've lost count of how many times I've had to tear down and reinstall everything from scratch.

[2020-12-17 09:47] iThink32 opened #6205 "Amplify Storage Works on Simulator but 403 on a device"
**Describe the bug**
Hey I have a project that uses amplify to interface with multiple services like lambda ,cognito, storage etc.
But due to some reason storage(s3) always gives me a 403 on a device but works fine on a simulator.
This similar problem occurred with lambda but I solved it by using Cognito as the authorisation type , im assuming the same is the issue with storage but im unable to fi

[2020-12-17 11:38] iuyt9003 commented on #4695
Just changed in the UI to itemBatch of 100. it's done the work good.

Amplify developers please make autoBatch of 100!
I will try maybe later to make PR to change it. it big pain.

[2020-12-17 12:13] ApeOnFire commented on #2458
Same here (cli version 4.40.0). Triggers are not actually removed when deselecting them in the `amplify auth update` walkthrough. No changes are made to local (tracked) files.

They *are* removed if you add a new trigger at the same time. Although you're then stuck with a different redundant trigger and manually removing the trigger from the yaml/json doesn't get picked up as a change by the cli.

[2020-12-17 12:35] davidbiller opened #6206 "Public API - AppSync vs ApiGateway"
I would like to make parts of my Amplify AppSync Api public.

I am currently working with

generatePdf(user_id: ID, career_id: ID!, type: String): AWSJSON
    @function(name: "pdfGenerator-${env}")
    @aws_api_key
    @aws_iam
    @aws_cognito_user_pools

So anyone with the api key can access this function.
But so can any other function declared with @aws_api_key.

I have several partners where I

[2020-12-17 12:56] the-zimmermann commented on #6190
I'm in the same boat. This is my third project I'm coming back after a while and amplify all of the sudden stops working.
This is so frustrating. I will probably never publish a frontend with the cli again.

Can you please output the errors instead of just telling us that there is an error?
![image](https://user-images.githubusercontent.com/75070374/102490353-00914500-406f-11eb-86e8-6ee325055758.p

[2020-12-17 13:16] the-zimmermann commented on #6190
Not sure why, but if you kill all the files:

```git clean -dfx```

and reinitiate (did that before without cleaning) it works again.

You may forgot something in the process or added something up, what you did not migrate in older projects?

[2020-12-17 13:36] blairtaylor commented on #3222
+1

[2020-12-17 14:41] markspeich commented on #3187
I ran into this problem after merging changes to my production environment. The Amplify console attempted to deploy the changes, the deployment failed because of this error, and then the rollback failed. Now support is telling me that I have to rebuild my entire stack, including Cognito, which means hundreds of our customers will have to reset their passwords. That's unacceptable, so I'm trying to

[2020-12-17 15:42] markspeich commented on #5871
I ran into this problem, and then my rollback failed. The same codebase deployed successfully to a lower environment two days prior.

[2020-12-17 15:49] akefirad commented on #4930
As far as I can see, no, the `undefined` is still there:
[code]
Let me know what information you need to troubleshoot this.

[2020-12-17 17:17] btelman96 commented on #6100
Is there any way to force CI/CD to create another version or detect changes currently? Although I did not before now due to reasons below, manually updating the version in the json does not seem to be having an impact when using amplify CI/CD. I have the environment setup in team-provider-info.json, and am versioning a version 2 for the version everywhere to try to make it create that.

---

I thi

[2020-12-17 17:33] gwasserman4856 commented on #6190
@Yuth - In order for me to deploy to production, I essentially need to recreate the entire amplify environment via a docker image run from Jenkins.  The first step runs amplify init and that is where I set the access key and secret access key in the providers section.  The amplify init ran with no issue.  Next, the process runs an amplify publish.  There is no argument for credentials, but I assum

[2020-12-17 17:48] akshbhu commented on #4567
Hi @rinosamakanata

The fix has been deployed in previous versions. Can you try with latest amplify version?

Let us know if this works for you?

[2020-12-17 18:09] yuth commented on #6190
Thank you for the feedback about logging.

Could you share arguments used in `amplify init` in your CI

[2020-12-17 18:10] akshbhu commented on #4489
Closing in favour of #3664

[2020-12-17 18:10] #4489 closed

[2020-12-17 18:52] yuth commented on #6192
Sanity check needs to be run only if the resource is being updated, irrespective of the content that is in the #current-cloud-backend. I am marking this as bug

[2020-12-17 19:28] jhockett commented on #6110
Is anyone still seeing this issue after upgrading to version 4.40.0?

[2020-12-17 19:36] SwaySway commented on #3491
Closing in favor of #5959

[2020-12-17 19:36] #3491 closed

[2020-12-17 19:41] SwaySway commented on #188
Closing this seems like a dependency issue. AppSync has the `$context.info` object which can provide the selection set and more information. Docs: https://aws.amazon.com/blogs/mobile/appsync-and-the-graphql-info-object/
[code]

[2020-12-17 19:41] #188 closed

[2020-12-17 19:43] SwaySway commented on #1037
Closing in favor of #202.

[2020-12-17 19:43] #1037 closed

[2020-12-17 19:49] gwasserman4856 commented on #6190
The relevant parts of my python setup program are:

Init:

    AMPLIFY = {
        "projectName": PROJECT_NAME,
        "envName": envName,
        "defaultEditor": "code"
    }

    FRONTEND = {
        "frontend":"javascript",
        "framework":"react",
        "config": {
            "SourceDir": "src",
            "DistributionDir": "build",
            "BuildCommand": "npm run-script build"

[2020-12-17 19:52] eioo commented on #6198
I'm experiencing this issue when running `amplify init`

[2020-12-17 19:58] yuth commented on #6198
@eioo is this a new project? What version of Amplify CLI do you have installed?

[2020-12-17 20:05] yuth commented on #6206
@davidbiller You could use `@auth` directive instead of using the `@aws_*` directives with your function. You probably wont need `api key` if you use ` @auth(rules: [{ allow: public, provider: iam }])` as this allows access to the field for `unauth` users.

I am not sure I understand the question. Are you asking if where to put the logic to change the behavior of the function based on if the custo

[2020-12-17 20:08] eioo commented on #6198
I trie

New project, yes. I tried first with latest version from NPM, which is 4.40.0, gave the same error as OP had. I installed 4.29.0 and the init command ran smoothly.

[2020-12-17 20:17] simpian commented on #3643
for other people running into similar issues, i fixed this problem by creating my own config file:

[code]

i have .env file for different environments. e.g.
1. .env.development
2. .env.staging
3. .env.production

and i also set the environment on amplify build settings for each environment individually using BUILD_ENV, here is my amplify.yml file

[code]

package.json

[code]

[2020-12-17 21:20] tgjorgoski opened #6208 "Lambda resolver getting access to the whole result?"
I am experimenting with lambda resolvers in the schema.
I have something like this:
[code]

The idea is that when a user sends a query, in addition to the info about the document and the pages, the lambda function (summary-service) will analyse the results too, and in the summary field return a dynamically generated summary.
But when I added a **summary-service** lambda which had something like th

[2020-12-17 21:59] SourceCode commented on #2519
Ok so I experienced this and can tell you what's possibly happening.  You or someone improperly merged your code or you/someone switched around environments or panic pulled an environment resulting in a lost file.

You probably committed later on, persisting that files removal or something of this nature.

The file(s) your projects have removed during a merge or amplify pull broke your cloudformat

[2020-12-17 22:21] henobi opened #6210 "JSONValidationError: File project: data should NOT have additional properties: 'frontend-ios'"
**Describe the bug**
I can not pull my app from amplify console.
[code]

**Amplify CLI Version**
4.37.1

**To Reproduce**
Created a new backend app in Amplify Console and run ´amplify pull --appId XXXX --envName staging´ in the CLI

**Expected behavior**
A pull without a error stack trace

**Desktop (please complete the following information):**
- Mac OS X Big Sour
- Node v14.9.0

[2020-12-17 22:29] bravcmo commented on #3251
I built a User model in GraphQL for the api before deciding to try the Auth features of Amplify.  My User model appears it was merged into the Cognito-generated one.  However, the data in AdminUI shows a separate notion of User and retained that data.  Would welcome other input on how to peer App-related attributes with the Auth User data.  Thanks

[2020-12-17 22:53] btelman96 commented on #6100
Not the best way, but I was able to come up with a way to force update it for now without digging through amplify itself, although it will create versions when it does not need to, and sometimes create 2 versions in one deploy, but looks like the most reliable way I can find to make sure its updated. Please let me know if I overlooked part of the lambda layers api that would have allowed it to upd

[2020-12-17 23:22] yuth commented on #6208
The source is available only to the nested object and not at the top level as it is a map that contains the resolution of the parent field. Since summary is at the root level, source will not have any data set in it

[2020-12-17 23:26] yuth commented on #6210
It looks like you have the project initalized with the CLI version 4.40.0, which has introduced an new FeatureFlag. You  will have to update your CLI to 4.40.0 so the CLI knows how to deal with the feature flag

[2020-12-17 23:26] #6210 closed

[2020-12-18 00:09] kaustavghosh06 commented on #6153
@renebrandel Adding of emoji's might be challenging to take into account with our E2E test expect scripts. @ammarkarachi @yuth where all do we need to make changes w.r.t to our E2E tests for this change?

[2020-12-18 00:10] SwaySway commented on #4973
Closing in favor of #1393

[2020-12-18 00:10] #4973 closed

[2020-12-18 00:49] #6168 closed

[2020-12-18 00:58] jhockett commented on #6168
A fix has been merged and will be available in the next release. Thanks for the bug reports @maximelebastard @abenzick!

[2020-12-18 03:46] MontoyaAndres commented on #171
any update?

[2020-12-18 03:53] krikork opened #6211 ""amplify update storage" drops the s3 path from the cloudformation template"
**Describe the bug**
I had a storage resource already configured in my project and wanted to allow users of a certain group to be able to upload filed to S3 so i did the following:
[code]

Here's a portion of the generated diff:

![Screen Shot 2020-12-17 at 10 03 47 PM](https://user-images.githubusercontent.com/11936077/102572558-74a50a80-40ba-11eb-9a41-e058789435c9.png)

As you can see the path w

[2020-12-18 04:09] jaga810 commented on #6064
I think there was an error before when adding function with non alphanumeric lambda function name as the pic shows. I confirmed this with @aws-amplify/cli@4.17.0.

![image](https://user-images.githubusercontent.com/13917206/102573468-dbb1d600-4131-11eb-988c-d05fd4c3cab5.png)

I suggest validating function name in adding function because you need to remove and add function again after adding functi

[2020-12-18 04:26] gabrielgrover commented on #5663
So this problem is still persisting for me.  The issue for me is that my project has a lot of lambda functions.  When I use amplify push on a newly created environment i get timeouts because my upload speed is not the greatest. Maybe increase the timeout threshold?

[2020-12-18 05:21] yonatanganot commented on #3248
Hey @edwardfoyle.
Do you have good news to share with us about this missing feature?

[2020-12-18 06:46] stwatanabe commented on #5860
I'm facing same issue.
Im my case, `tagList` is type of `[String!]`
When send a mutate request to mock api server, the message returned from backend.
[code]

The result of a request on backend
[code]

[2020-12-18 07:39] Olusamimaths commented on #6198
I had this same issue and it was because my internet was down.

[2020-12-18 08:18] ayeganyan opened #6213 "Cannot read property 'join' of null An error occurred during the push operation: Cannot read property 'join' of null"
I am having this message on "amplify pull" command.
[code]
Note:
When I do "amplify pull --force"
I am getting "adminQueriesxxx" function, the one that I deleted manually, but its not appears in backend-config.jon, and is not present in lambda console.

Before this I wanted remove admin queries and userpoolgroups via CLI which was not work, so I removed everything related to them from my local fil

[2020-12-18 08:22] tgjorgoski commented on #6208
@yuth , there is a parent resolver for the getDocument I think, and the summary lambda resolver is its child resolver, so that's why I was getting "title" in the event.source. From your answer, I'm understanding that there is no way/setting in which the lambda function can take the rest of the info.

How about this, what if I create additionaly something like:
[code]

Is it possible that I specify

[2020-12-18 08:40] ayeganyan commented on #6213
I assume the reason is amplify project do some resource caching.
Is it possible clean it up, or create new app with existing local changes?

[2020-12-18 11:06] akefirad commented on #4930
Just to be clear, I manually changed the names (replaced `undefined` with the ID). That's why you see it's replacing the ID with a `undefined`.

[2020-12-18 11:09] idanlo opened #6214 "Updating function overrides dependsOn and causes push to fail"
**Describe the bug**
After doing `amplify function update` and updating some dependencies it rewrites the dependsOn in `backend-config` and `amplify-meta` JSON files to be incorrect, then when pushing you get this error -
[code]

**Amplify CLI Version**
4.40.0

**Expected behavior**
I am able to update my function and keep the existing dependencies.

**Screenshots**
This is a screenshot of the git

[2020-12-18 11:16] idanlo commented on #6110
@jhockett Yes, still seeing the issue, 3 minor updates and still nothing changed

[2020-12-18 13:44] CarbnJacob commented on #5541
I have this same problem too! With automerge the data objects concatenate every time rather than replace, which leads to huge issues.

[2020-12-18 13:54] crolly commented on #5541
after some more digging into the docs of app sync, i have found this: https://docs.aws.amazon.com/appsync/latest/devguide/conflict-detection-and-sync.html

the leads me to believe, that everything works as it is supposed to.

What we did, was to change the conflict resolution to `Optimistic Concurrency` and implementing our own conflict resolution.
@CarbnJacob you could e.g. use lodash's `isEqual`

[2020-12-18 13:59] CarbnJacob commented on #5541
Thanks for getting back to me so fast @crolly!

I'm new to conflict resolution - would this conflict resolution need to be done in the callback from failed GraphQL mutations made by the client?

I'm doing most of the saves through Amplify DataStore so it's largely a black box to me :(

[2020-12-18 14:26] crolly commented on #5541
@CarbnJacob yes. take a look here: https://docs.amplify.aws/lib/datastore/conflict/q/platform/js#custom-configuration

you can specify your own conflictHandler with `DataStore.configure`.

[2020-12-18 14:51] djsmedes commented on #6100
I mentioned in my original comment that we had tried putting a markdown file in the `opt/` directory -- we were basically trying to do the same thing. We named it `amplify-layer-version-forcer-3000.md` and all it contained was a single number, the idea being that you could manually increment it when you knew you were changing the layer.

So pretty similar to what you're doing @btelman96 except we

[2020-12-18 16:12] sarabs3 opened #6215 "Import Auth in Amplify project"
**Describe the bug**
I am trying to run `amplify import auth` command to select an already created user pool which is working fine on local but the build is failing on the server.

**To Reproduce**
Steps to reproduce the behavior:

1. `amplify import auth`  To import a user pool
2. `amplify push` to push your changes
3. See error in build

**Expected behavior**
Build should pass as it is working o

[2020-12-18 16:12] sammartinez commented on #6215
Thanks for reporting this @sarabs3, this seems to be a Amplify CLI issue. I have taken the time to transfer this over to their repo. cc @renebrandel for visibility

[2020-12-18 18:33] nikhname commented on #4843
Closing because we were not able to reproduce. Please comment if you have further steps to reproduce.

[2020-12-18 18:33] #4843 closed

[2020-12-18 19:04] tfmorris commented on #2005
@khitrenovich It is a duplicate, but that issue was closed without addressing the request.

[2020-12-18 19:19] tfmorris commented on #1090
@ncknuna Any chance you could share your script that uses `child_process.spawn`?

[2020-12-18 19:52] yuth commented on #6211
@krikork which policy is this? Is this for auth/unauth user or is it for a cognito user pool group? From the screenshot its hard to make out the name of the policy

[2020-12-18 19:59] yuth commented on #6213
@ayeganyan this looks similar to issue #6198. I havent been able to reproduce this, but if you could provide stack trace it would make it easier for me to figure out which part of the code is causing this.

Which files did you delete to remove admin queries? If you changed it in the AWS console, then these resources will be recreated with the next push as CLI treats `amplify/backend` folder as sou

[2020-12-18 20:04] yuth commented on #6215
@sarabs3 Amplify console does not have direct support for imported auth. You will need to use a customs script that adds the headless parameters that are needed to get it working. https://github.com/aws-amplify/amplify-console/issues/1271 has headless pull script that works with imported auth

[2020-12-18 20:18] yuth commented on #6214
@idanlo Could you include more details about the changes that you did, like what kinda of resources the function had access to prior to update and what new resources were granted access to from the function

[2020-12-18 20:32] SwaySway commented on #6144
Changing this to an enhancement. While this does look like a dependency issue, something we can look into is an escape hatch where you can provide a lambda function already zipped with a potential flag that does not build `amplify push --no-build`.

[2020-12-18 20:33] SwaySway commented on #6116
You can send over the materials to our email amplify-cli@amazon.com

[2020-12-18 20:35] #6032 closed

[2020-12-18 21:10] danigb commented on #6198
In my case, I've solved by removing the "dev" environment from `amplify/team-provider-info.json` file 🤷‍♀️ May help others...

[2020-12-18 21:37] yuth commented on #6198
I think this error shows up when there is an network error when downloading current-cloud backend. https://github.com/aws-amplify/amplify-cli/pull/6216 should fix this

[2020-12-18 21:39] yuth commented on #6198
@ eioo  Do you remember the error message. Did it contain `Received an instance of Error` in it?

[2020-12-18 22:01] #6198 closed

[2020-12-18 22:42] renebrandel commented on #1406
🌟🌟🌟**Enable multiple GSI updates - experimental feature announcement**🌟🌟🌟

We've spent some more time at the drawing board to tackle the most commented issue in this thread. The ability to change multiple GSI updates. At this point, we're ready to roll it out as an experimental feature.

How it works:
- The GraphQL Transformer recognizes multiple GSI changes
- Amplify CLI splits out those changes

[2020-12-18 22:47] kaustavghosh06 commented on #1406
@tgjorgoski we updated the sanity check to raise the limit to 500 as well.

[2020-12-18 22:59] cmcgruder commented on #6200
I'm following an [aws tutorial](https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-three/) and when prompted to deploy to the live environment (AWS), I run 'git push origin master'. I'm receiving the same path error as initially described and have attached a screen capture. Please re-open this incident, as the others you've pointed to don't seem to be duplicates

[2020-12-18 23:10] yuth opened #6217 "GraphQL Transformer vNext RFC"
## Problem
The current GraphQL Transformer has tight coupling between transformer plugins and it is not modular.

In an effort to accelerate development, reduce operational load, enable more extensibility and also to meet the rising feature requests and enhancements, we're proposing a new architecture for the GraphQL Transformer moving forward. Refered henceforth as "GraphQL Transformer vNext"

##

[2020-12-18 23:13] yuth commented on #6198
The fix should be included in the next release (after Amplify CLI 4.40.0)

[2020-12-19 00:12] matansagee opened #6218 "Admin UI crashes on TypeError: Cannot read property 'value' of undefined"
When I'm clicking on the "view data model" in the Admin UI, the window turns to white and is stuck.

![image](https://user-images.githubusercontent.com/8274517/102674645-affc1380-4164-11eb-89ef-6ce58640e1ff.png)

The URL is https://us-east-1.admin.amplifyapp.com/admin/d39p6g819u0zli/dev/datastore

[2020-12-19 00:16] kaustavghosh06 commented on #6218
@matansagee where did you create this app from? Is this an older app enabled from the Amplify CLI previously?

[2020-12-19 02:46] moekaddour commented on #229
SUMMARY for those might run to this issue
I got the same error after running:
 ```amplify remove auth```
then I added new auth ```amplify add auth```
then tried to push ```amplify push```  here I got the mentioned error.
As explained above the api is still referencing to the **OLD** _cognito-user-pool ID_. so here what I did:
1- ```amplify update api```
2- For ? Select from the options below **cho

[2020-12-19 06:14] sky4git commented on #5931
This original bug seems to be fixed now with cli version **@aws-amplify/cli@4.40.0.**

However, the **old bug is resurfaced now again**.
`Error: auth headless is missing the following inputParams googleClientId, facebookAppId`

**I have all the necessary environment variables in my environment variables settings:**
AMPLIFY_FACEBOOK_CLIENT_ID
AMPLIFY_FACEBOOK_CLIENT_SECRET
AMPLIFY_GOOGLE_CLIENT_ID

[2020-12-19 07:28] #6053 closed

[2020-12-19 07:28] #4957 closed

[2020-12-19 07:28] #5440 closed

[2020-12-19 08:43] andre-scheffer opened #6219 "ResolverExecutionLimitReached | Reopening of #6128"
This is a reopened issue related to issue #6128 which was already closed.

[2020-12-19 09:49] RossWilliams commented on #6217
I’m confused about the unit resolvers vs pipeline resolvers. Which phase and which transformers will determine whether a pipeline or unit resolver is used ?

Will all the base transformers be implemented in VTL ?

Do you plan to maintain backwards compatibility with existing 1st party transformers’ schema outputs ?

Will the implementation be open to community members, or will major components be

[2020-12-19 10:03] cto-leaps commented on #4957
I am still having issues with this. Guys please...
At least make sure that whatever code I write for the Lambda is not overwritten.

[2020-12-19 10:50] silviuglv opened #6220 "CLI v4.40.0 does not recognise profile role_arn"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I'm trying to create a project using an aws profile that assumes a role arn

**Amplify CLI Version**
4.40.0

**To Reproduce**
**Config**
[code]
**Console**
[code]

**Log file**

[code]
**Expected behavior**
Initiate project in the specified account

**Desktop (please complete the fol

[2020-12-19 14:38] MontoyaAndres commented on #1406
Would be great if when you execute "amplify delete" or "amplify remove BRANCH" these commands don't delete anything about data. Like the dynamodb table, Cognito pools or s3 buckets... Like aws cdk does...

[2020-12-19 14:38] mlecoq opened #6221 "[Custom Template] [RDS] Custom output param cannot be passed"
**Amplify version**
4.40.0

**AWS Services**
Lambda, RDS Serverless

**Question**
How to pass parameters from custom CloudFormation stack to a lambda ? Only some of them are passing

**Details**

Hi,

I have tried to use custom CloudFormation stack to use a rds serverless database in my lambda

To be able to use data api in my lambda, I need to have 2 arn : the resourceArn of the cluster and the s

[2020-12-19 14:47] krikork commented on #6211
Hi @yuth, this is for cognitive user pool group.

[2020-12-19 20:08] mlecoq commented on #6221
amplify env checkout <env> solves the problem (changes in backend-config were not seen)

[2020-12-19 20:08] #6221 closed

[2020-12-19 20:36] andre-scheffer commented on #6128
``As you have an @auth rule on the type, that's the reason for seeing lower number of items. Owner filtering happens in the resolver after the DynamoDB query.``

@attilah What if the following constellation exists? I have a lot of entries from different users. Now I want to read the data of a specific user. The first thousand entries are from other users. Then I would never get data for the curren

[2020-12-19 21:54] GeorgeBellTMH commented on #6217
Will this support union's and interfaces?

[2020-12-19 21:57] waynebrantley commented on #5479
@akash87 That is a fantastic solution!
@jhockett The layer thing needs some attention in a big way.
In fact, a great solution would be to let lambda's in an amplify project reference javascript files outside of their folder.  This is probably the 80% use case anyway - just some shared code among a few lambdas.  Don't necessarily need the whole shared layer concept.

In the meantime a change to the

[2020-12-19 23:59] wispyco opened #6222 "No such file or directory on aws mock"
**Describe the bug**
My app was working fine locally, and then I ran amplify push and I got the following response

[code]
I then ran amplify mock again and got this response

[code]

Not sure what changed to cause this, because it was running just fine before I tried to push it

**Amplify CLI Version**
4.40.0

Running Ubuntu 20 with node version 12.18.0

I had been following this tutorial and thi

[2020-12-20 01:39] wispyco commented on #6222
Ok so I just ran

amplify delete

and reran through the steps and this time it pushed up so not sure what went wrong

[2020-12-20 02:40] rmuellerjr commented on #6016
Same here. I've deleted the above and doesn't help.

[2020-12-20 03:13] tom-on-the-internet commented on #5869
I'm having the same issue. I would like to be able to log values.

[2020-12-20 06:22] erashdan opened #6223 "Unable to init new project"
**Describe the bug**
I tried to configure credential for amplify but always showing my message No credentials found for appId
Also, I tried to reinstall amplify and delete`~/.aws` and recreate new IAM profiles

**Amplify CLI Version**
4.40.0

**To Reproduce**
[code]

**Expected behavior**
Continue setup without asking for credentials

MacOS Big Sur
Node v12.16.1
NPM 6.13.4

[2020-12-20 09:58] amuresia commented on #5754
+1

[2020-12-20 10:08] amuresia commented on #1406
@renebrandel It all went well until it didn't :D
Essentially I added some connections and removed others in a schema and enabled the experimental feature.
It started deploying the changes and said "Deploying 1 out of 3 stacks". It kept going for 5 minutes after which it entered a loop that kept printing errors for about 10 minutes. Something about an error not being caught in a promise, sorry I wo

[2020-12-20 11:11] stleon commented on #5836
[code]

It would be very useful if there were any support for multiple storages.

[2020-12-20 12:50] stleon opened #6224 "Parameter 'X' must be one of AllowedValues"
**Describe the bug**

Seems like paremeters from paremeters.json are not passed to the cloudformation template.

**Amplify CLI Version**
4.40.0

**To Reproduce**
I want to use [Custom CloudFormation stacks](https://docs.amplify.aws/cli/usage/customcf).

parameters.json:

[code]

category-cloudformation-template.yaml:

[code]

Then I run:

[code]

And I have error:

[code]

**Expected behavior**
Su

[2020-12-20 12:59] drclohite commented on #5931
Yup, 4.4 did not work for me either. I had to drop from 4.32 to 4.30 to get my side working again. Phew!

[2020-12-20 16:40] amirmishani opened #6225 "Datastore and Multi-tenancy with combo keys"
**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.39.0

**What AWS Services are you utilizing?**
API

I have two questions:
1. Is Datastore using the generated appsync resolvers in the backend? In a multi-tenant scenario where I would normally have to add additional security constraints and manually adjust the VTL resolvers, would that also secure or perhaps brea

[2020-12-20 19:57] renebrandel commented on #1406
@amuresia thanks for the details. Can you share your "before" and "after" schemas? That'll help us reproduce this issue. CC @kaustavghosh06

[2020-12-20 22:59] onkartibe commented on #3383
I am facing the same issue, any clues?

amplify -v
4.40.0

node -v
v10.21.0

MacOs

Error:
`User: arn:aws:iam::XXXX:user/ABC is not authorized to perform: amplify:ListApps on resource: arn:aws:amplify:ap-southeast-1:XXX:apps/* with an explicit deny`

[2020-12-20 23:58] pkhivesara commented on #6202
@yuth Was able to get it working. Thank you! I shall close the issue.

[2020-12-20 23:58] #6202 closed

[2020-12-21 08:23] rinosamakanata commented on #4567
Hi @akshbhu

I tried `amplify api gql-compile` with the latest version and it worked.
ModelXxxFilterInput types are appeared successfully in the compiled schema.graphql file.

Thank you very much for fixing the bug.
Now we can finally upgrade the CLI!

[2020-12-21 08:31] atlesp commented on #5711
My new dotnet function got the same issue after a few deploys without any changes in that function.

I have to admit that I have no clue why this is happening. Nobody else experiencing this?

My only idea is that I sometimes see this error:
[code]

@attilah could you please point me to the code that is decided if it has been changed or not? So can see if I can find what is changing and maybe why.

[2020-12-21 09:22] snahammond commented on #1865
@RossWilliams could you give an example of how to do a table stream lambda to implement the count. I am very new to amplify but really need this feature. Thanks

[2020-12-21 09:58] PaulCailly commented on #3248
+1

[2020-12-21 10:08] #4567 closed

[2020-12-21 11:18] hottayusuke commented on #3642
I'm 4.40.0

[2020-12-21 11:33] RossWilliams commented on #1865
@snahammond Here are the steps. Send me an email, LAST_NAME.FIRST_NAME@gmail.com if you get stuck.

At a high level, you are creating a lambda, connecting a lambda to the table change stream, adding permissions to allow the lambda to connect to the stream, and writing a lambda to handle create, update, and delete events. You are also going to create environment variables so you have the table name

[2020-12-21 12:58] sanyashvets commented on #3108
Hi!
please, do we have any news about this one?

[2020-12-21 13:24] carlosgj94 commented on #5835
Any updates on this? Did you managed to solve it?

[2020-12-21 14:48] the-camputer commented on #6084
So for anyone else for whom this is still an issue, the following seemed to work for me after updating to 4.40.0

the amplify/.config/local-aws-info.json file had the following for my environment:
[code]

After I replaced it with the following, amplify commands worked without any problem
[code]

[2020-12-21 16:49] maximelebastard opened #6226 "Use substitution (Fn::Sub) in VTL Resolvers files - make the Appsync BatchGetItem resolver usable"
**Is your feature request related to a problem? Please describe.**
We can't correctly use all the "Batch*Item" functions in AppSync custom resolvers as they all require passing the table name in the returned object

This can be seen [here](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#aws-appsync-resolver-mapping-template-reference-dynamodb-b

[2020-12-21 16:50] btelman96 commented on #6100
I have tried running the date modify script at the beginning, or versioning it, but does not appear to affect it. After running the way it currently does, if I version a new date, and remove the 2nd push option in the `amplify.yml`, it creates a new layer the first time on its own, but does not detect changes after versioning a new date from local.

Here is pretty much what I am seeing in relation

[2020-12-21 17:46] kaustavghosh06 commented on #1406
@amuresia Would be great if you could share your before/after schema's out here or send us to `amplify-cli@amazon.com`so that we can look into reproducing this. Thank you.

[2020-12-21 18:33] mlecoq commented on #2519
I have the same error adding a custom resource (with associated custom CloudFormation template) :

When I add a custom resource in the `backend-config` file : the generated root stack removes **authRoleName** and **unauthRoleName** from all apis parameters - I cannot understand why a custom resource as such side effect on apis, the custom resource is just used by a lambda

[2020-12-21 19:02] nosachamos commented on #677
I'm having this issue n the latest cli (4.40 as well as @aws-amplify/cli@4.40.1-beta.0).

All I do is init a new project, and add a new api with the single object (Todo example) schema. Next I do `amplify push` and I get this:

[code]

I reinstalled amplify-cli, no change.

I deleted all resources, started on a brand new project. Same result.

I'm on Ubuntu 20.04.

I guess this issue is back - doe

[2020-12-21 19:05] kaustavghosh06 commented on #677
@nosachamos We have a potential fix for this and will be a part of the next release. You can give beta a shot  by using `npm install -g @aws-amplify/cli@beta`

[2020-12-21 19:13] BernhardSmuts commented on #5542
This worked for me as well.... So strange...

[2020-12-21 19:24] sunilale0 commented on #778
I installed aws cli first and then installed aws-amplify again. That worked for me.

[2020-12-21 19:33] nosachamos opened #6227 "amplify push broken in Linux: fails with The "path" argument must be of type string. Received undefined"
**Describe the bug**
Starting a simply React project with the sample Single Object api in Linux (I'm on Ubuntu) always fails when running `amplify push`. Not possible to push anything.

**Amplify CLI Version**
Used both 4.40 and the latest 4.40.1-beta.0 - same results

**To Reproduce**
To repro, run init a new react (I used a create-react-app app) with `amplify init`:

[code]
This succeeds. Then a

[2020-12-21 19:39] kaustavghosh06 commented on #6227
@nosachamos Please take a look at the response to your comment here - https://github.com/aws-amplify/amplify-cli/issues/677#issuecomment-749142755

[2020-12-21 19:44] nosachamos commented on #6227
@kaustavghosh06 thank you! I did use version `4.40.1-beta.0` - does it include the fix you mentioned?

[2020-12-21 19:47] nosachamos commented on #6227
@kaustavghosh06  I did reinstall using the @beta tag as you suggested and it ended up installing the version I was using already:

[code]

I guess the fix did not address the problem in my case. Could maybe have been checked into the wrong branch?

[2020-12-21 19:49] kaustavghosh06 commented on #6227
@nosachamos Are you seeing this on a new app (with init -> add api) or an existing app?

[2020-12-21 19:54] kaustavghosh06 commented on #6227
Also, one quick question - after specifying project info do you select for an AWS profile or manually enter AWS creds during the init step?

[2020-12-21 19:55] nosachamos commented on #6227
I tried on a brand new app. Started a new app with create-react-app, and then did init and added that simple sample api. Then I get it on push.

I tried filling in all optional things like key description, for example, just in case it was expecting something to have a value, but that didn't help.

I also checked the dev settings and the info inside `local-env-info.json`, and it looks good:

[code]

[2020-12-21 19:58] kaustavghosh06 commented on #6227
@nosachamos What does your `amplify/.config/local-aws-info.json` look like? Please hide sensitive information like credentials when sharing.

[2020-12-21 19:59] #6219 closed

[2020-12-21 20:00] kaustavghosh06 commented on #6227
Also, do you have the responses in your terminal for these questions when running `amplify push`?
[code]

[2020-12-21 20:01] nat-n commented on #5835
@carlosgj94 TBH I got tired of wading through bugs like this and reverted to just hand crafting a SAM template and writing my own backend code like a cave man.

[2020-12-21 20:14] nosachamos commented on #6227
The `amplify/.config/local-aws-info.json` looks like this:

[code]

And I answered the questions on `amplify push` like so:

[code]

I reran but did not get some of the questions you showed above this time (maybe because its not the firs time?). I will redo it from scratch on a clean project now and post here.

I used typescript on my previous run though, so I answered like this:

[code]

[2020-12-21 20:29] nosachamos commented on #6227
@kaustavghosh06  This time I made sure to run everything with `sudo` just in case, and the error is gone!

So it seems this could use a better error message but the issue was lack of permissions to do something... Should this ticket cover giving a better message? Or can it be closed?

[2020-12-21 20:31] ammarkarachi commented on #6227
That's great!
@nosachamos I wonder which file it is, can you check `~/.amplify/logs` for the latest file and see if it gives any clues to where it is failing?

[2020-12-21 20:33] kaustavghosh06 commented on #6227
@nosachamos You shouldn't need to run the amplify commands with sudo unless the project itself has only a sudo level permissions. For example - did you run `create-react-app` using sudo?

[2020-12-21 20:38] nosachamos commented on #6227
@kaustavghosh06  This particular time I did run create-react-app using sudo. I am not sure how I did last time, but its very possible I did as a habit. Good to know!

@ammarkarachi I checked but I can't quite tell where the path is missing there. Here is what I see in the logs:

[code]

[2020-12-21 21:05] nosachamos commented on #6227
@kaustavghosh06 unfortunately on my existing project I still get that same error even when running all commands with sudo.?The logs show the same kind of error:

[code]

Is there anything else I can do to help track down the issue?

In this project I ran amplify delete and started from scratch, except that I ran everything with sudo, but got the error.

[2020-12-21 21:36] nosachamos commented on #6227
I figured out what was wrong!

I don't know how this appened, but the generated `.graphqlconfig.yml` file was missing this section:

[code]

I added it manually and now its working. Mystery solved. Now how it got like that I don't know...

[2020-12-21 23:11] akshbhu commented on #6187
Closing due to lack of response. Feel free to comment to clarify this

[2020-12-21 23:11] #6187 closed

[2020-12-21 23:11] SwaySway commented on #6176
We do have an RFC open for this at the moment. Closing in favor of the RFC. The only available directives would be `@model` as of this time.
https://github.com/aws-amplify/amplify-cli/issues/6217

[2020-12-21 23:11] #6176 closed

[2020-12-21 23:41] akshbhu commented on #6164
This issue is fixed in amplify latest version v4.40.1.
Feel free to comment if the issue  still present.

[2020-12-21 23:41] #6164 closed

[2020-12-22 00:26] Coteh opened #6228 "Disable generation of VS Code ignore file when configuring project with VS Code editor"
**Is your feature request related to a problem? Please describe.**
Basically I want a user-level CLI option to disable #5321. Although I understand the value of a feature like this, especially for new developers to reduce cognitive load, I delete the file and `.vscode` directory every time it's added to my project.

It hides files such as `amplify/.config/local-aws-info.json`, which I need to occa

[2020-12-22 01:11] SwaySway commented on #4986
@mlafo Are you still experiencing issues with this? I was not able to repro below is what I tried

Based on this error
[code]
It looks like it came from a list query on the `type FilesContactsShared`
I created a FilesContactShared (with a linked File and Directory) and I was able to get the result.
Also This was all done with one user.

Could you possible provide more details such as:
- Was there

[2020-12-22 03:07] oliverhippler commented on #6084
@the-camputer thank you so much! this was my issue as well, popping up after upgrading to amplify cli 4.40.0.

working on windows and amplify inside wsl2 linux, the amplify admin ui auth procedure simply doesn't seem to work for me, but setting my aws profile like you specified did the trick. i also noticed that my env features a third option, which simply links to a randomly named text file, that

[2020-12-22 03:30] simpian commented on #996
+1

[2020-12-22 03:55] aprilmintacpineda commented on #6187
@yuth @akshbhu I think in the latest version this is no longer the case. Thanks for the response. I'll open this again if I found out more about the latest version.

[2020-12-22 04:36] akshbhu commented on #6222
Hi @wispyco

Glad to know it worked for you. I am closing this as it seems to be solved.  If this issue occurs, feel free to comment, and ill reopen this again.

[2020-12-22 04:36] #6222 closed

[2020-12-22 07:52] getglad opened #6230 "DataStore - Validation error of type MissingFieldArgument: Missing field argument owner for Subscription and Sync"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When using the below schema
[code]

I get the below error:

[code]

The record is created locally, but does not push. Because it cannot push, also cannot get

**Amplify CLI Version**
`4.40.1`

**To Reproduce**
1. Create an API with an OIDC auth + `AUTOMERGE` conflict resolution
2. Ru