[2020-03-11 23:09] #533 closed

[2020-03-11 23:10] kaustavghosh06 commented on #2575
We recently added a feature to attach a trigger to the DDB tables generated by the GraphQL transformer. You can checkout the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-11 23:10] #2575 closed

[2020-03-11 23:11] kaustavghosh06 commented on #2601
We recently added a feature to attach a trigger to the DDB tables generated by the GraphQL transformer. You can checkout the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-11 23:11] #2601 closed

[2020-03-11 23:14] kaustavghosh06 commented on #2614
@kristianmandrup We recently merged @ambientlight 's PR for kinesis and DDB streams (DDB generated as a part of the GraphQL transformer)
 You can checkout the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation and https://aws-amplify.github.io/docs/cli-toolchain/quickstart#kinesis-stream-trigger

@ambientlig

[2020-03-11 23:14] #2614 closed

[2020-03-11 23:16] kaustavghosh06 commented on #3552
@blairtaylor Is this table managed or created by the Amplify CLI?

[2020-03-11 23:20] kaustavghosh06 commented on #1814
We released this feature as a part of our latest CLI version release - 4.16.1.
You can checkout the documentation out here for more information - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-11 23:20] #1814 closed

[2020-03-11 23:20] kaustavghosh06 commented on #943
We released this feature as a part of our latest CLI version release - 4.16.1.
You can checkout the documentation out here for more information - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-11 23:20] #943 closed

[2020-03-11 23:22] kaustavghosh06 commented on #3643
@hisham You can also just use the command `amplify env checkout <env-name>` to re-generate the aws_exports.js file.

[2020-03-11 23:23] kaustavghosh06 commented on #3642
@jcbdev Yes, this is a bug. The ideal experience would be to prompt you for a question regarding it or populate it if stored in the service.

[2020-03-11 23:25] kaustavghosh06 commented on #3636
@hisham For API Gateway we keep the API name the same but change the "stage" name for the API based on your environment. This was a design decision which was made at the start. Would it be possible to view the stage name on the console to differentiate between the environments?

[2020-03-11 23:25] #3636 closed

[2020-03-11 23:26] kaustavghosh06 commented on #3620
@incr3m Please let us know if you have more questions around this based on @yuth's response. Closing this issue for now.

[2020-03-11 23:26] #3620 closed

[2020-03-11 23:29] montycheese commented on #3560
That seems to have solved the problem. @UnleashedMind

[2020-03-11 23:29] kaustavghosh06 commented on #3617
@apoorvmote Ideally `amplify init` should add this to .gitignore. We're looking into it.

[2020-03-11 23:32] jhockett commented on #3440
Hi @buixuanhai, we have been unsuccessful so far trying to reproduce this issue. Have you had any luck since you last posted? Do you still encounter the issue on the newest version of the CLI?

[2020-03-11 23:34] kaustavghosh06 commented on #81
@dmennis The latest version of the CLI removes the awsconfiguration.json and aws_exports.js files. cc @SwaySway @ammarkarachi

[2020-03-11 23:34] #81 closed

[2020-03-12 00:07] braganic opened #3648 "Amplify publish doesn't update s3 or cloudfront"
**Describe the bug**
Amplify publish or amplify publish -c doesn't update code changes on s3 or cloudfront. I've even tried changing env and returning but no luck

**Amplify CLI Version**
4.13.4

**To Reproduce**
Add hosting (Cloudfront)
Publish
Make code changes
Publish again = doesn't reflect changes

**Expected behavior**
Updated code should appear on s3 / cloudfront but it doesn't

**Desktop (

[2020-03-12 00:11] kaustavghosh06 commented on #3648
@braganic What's you check you `amplify/.config/project-config.json` file and see if the Source and Distribution directories are set to correct paths?

It should look something like this:

[code]

[2020-03-12 00:22] braganic commented on #3648
Hi K, thanks for your reply, it's set correctly

    "javascript": {
        "framework": "react",
        "config": {
            "SourceDir": "src",
            "DistributionDir": "build",
            "BuildCommand": "npm run-script build",
            "StartCommand": "npm run-script start"
        }
    },

[2020-03-12 00:26] kaustavghosh06 commented on #1235
@hisham With the latest version of the CLI (4.16.1) - we've released functionality for `amplify push --force` . Please let us know if this takes care of your request.

[2020-03-12 00:26] #1235 closed

[2020-03-12 00:29] kaustavghosh06 commented on #1181
Hey guys, we're looking into this and have added this to our backlog.

[2020-03-12 00:37] UnleashedMind commented on #3648
I guess you've chosen the PROD configuration to use S3 and Cloudfront when you ran `amplify hosting add`?
`amplify publish -c`  uploads the update frontend build artifacts (in the distribution folder), and sends an invalidation requests to the CloudFront, if your project is big, it can still take a while for the CloudFront to update its caches.

If you suspect that something is wrong, check these

[2020-03-12 00:44] kaustavghosh06 commented on #1445
@lielran I think a good way to go around this would be to use your custom stack and use the auth/unauth role as references add your custom policies to that?
More info on custom stacks out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks

[2020-03-12 00:49] kaustavghosh06 commented on #1568
@smp This issue is resolved in the latest version of the CLI - v 4.16.1 with storage. Let me know if you're still seeing this anywhere else.

[2020-03-12 00:49] #1568 closed

[2020-03-12 00:55] quinlayen commented on #3560
@UnleashedMind this worked for me as well.  Thank you.

On Wed, Mar 11, 2020 at 1:29 PM Montana <notifications@github.com> wrote:

[2020-03-12 00:59] kaustavghosh06 commented on #1675
Hey guys, we do support this and expose the DDB tables generated by the GraphQL transformer to other categories now as a part of the latest CLI - v 4.16.1
Please take a look at - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation for more info

[2020-03-12 00:59] #1675 closed

[2020-03-12 01:00] kaustavghosh06 commented on #1667
@awsed We did add this feature and is a part of the latest version of the CLI - 4.16.1
The bucket names are randomized and leverage the Cloudformation uuid in it :)

[2020-03-12 01:00] #1667 closed

[2020-03-12 01:04] kaustavghosh06 commented on #1966
@moacirosa Would be great if you're still willing to submit a PR :)

[2020-03-12 01:09] kaustavghosh06 commented on #1851
Yes, we do support sortDirection. We have this listed in our example #17 in this section - https://aws-amplify.github.io/docs/cli-toolchain/graphql#data-access-patterns

Let me know if this doesn't work for you.

[2020-03-12 01:09] #1851 closed

[2020-03-12 01:11] kaustavghosh06 commented on #3560
Looks like its the same issue for everyone on this thread. Please let us know if @UnleashedMind's workaround didn't work for you and we'll re-open the thread.

[2020-03-12 01:11] #3560 closed

[2020-03-12 01:55] braganic commented on #3648
Thank you @UnleashedMind . Build command works properly, and builds updated code.
The issue appears when uploading this code to the s3, which never happens. Last update to s3 was 2 days ago. Any idea what might be happening? Again, the first amplify publish works, it's the next ones that don't upload anything (they do build)

[2020-03-12 03:07] hisham commented on #3636
I see. Ok thanks for the clarification.

[2020-03-12 03:15] starpebble opened #3650 "Unblock http/2 clients of Cloudfront hosted Amplify web apps"
**Is your feature request related to a problem? Please describe.**
I'm frustrated that awesome CloudFront feature http/2 is blocked.  http/2 clients access CloudFront hosted content with reduced latency. The amplify cli hosting category generates a Cloudformation template that omits an http version and therefore the my web app clients get stuck on http1.1.

**Describe the solution you'd like**
Cha

[2020-03-12 03:44] skyride99 commented on #3645
It continues for 30 seconds and then time out. Catch never gets hit.
The same code works inside a regular lambda function without express.
[code]

[2020-03-12 04:48] marcosnr commented on #1362
I think the issue should be reopened, in my case this happened:
[code]

[2020-03-12 04:57] jhockett commented on #3577
@112Cracker Could you please try the steps you've mentioned with VS-Code closed? We had another customer with a similar duplicate files issue and it was because VS-Code was open. I'm not seeing any code in the Amplify CLI that appends numbers to file names when saving files.

[2020-03-12 05:43] lielran commented on #1445
Thanks. Custom stack will definitely works.
Still, I think this kind of task is basic extend of Amplify abilities and
it should be easy to perform with amplify tools.
This mean that I should have self-service abilities in the same stack

On Thu, Mar 12, 2020, 02:44 Kaustav Ghosh <notifications@github.com> wrote:

[2020-03-12 09:24] steveparkerSG commented on #3292
@UnleashedMind I gave up trying to make it work, it was just too inconsistent and difficult. I moved deploys into Amplify Console as suggested by @SwaySway, which has made my life a lot easier.

[2020-03-12 09:32] #3635 closed

[2020-03-12 11:01] fi5u opened #3653 "`amplify pull` not pulling down Cognito user pool trigger data"
**Describe the bug**
In the _Triggers_ settings in Cognito User Pools, I have set a trigger to one of my Lambda functions. After running `amplify pull`, it does not pull down the trigger settings to my local code. When I do the opposite, and `amplify push` with an empty `triggers` object in _parameters.json_, it overwrites the previously selected setting in the User Pool trigger section and nullif

[2020-03-12 11:23] mdegrees opened #3654 "Support better multi-tenancy with @tenant transformer"
**Is your feature request related to a problem? Please describe.**
Multi-tenancy (MT) implementation support using Amplify is very limited. The only MT strategy that is possible is to have a tenantId column in tables. With 100+ tenants, table sizes might explode. Making lookups slow and deleting a tenant data complicated.

A better alternative is to have tenant specific tables using prefixing: ten

[2020-03-12 11:27] mdegrees commented on #3635
#3654

[2020-03-12 12:02] kristianmandrup commented on #2614
@kaustavghosh06 Great to see!

"You can also associated a Lambda trigger" should be "You can also associate a Lambda trigger".

"After the above question, you can select one of the types annotated by @model for which you want to add a trigger for."

Please show an example of this in the docs, ie. selecting `eventID` and `eventName` I would think?

[code]

`record.dynamodb` will contain a DynamoDB

[2020-03-12 12:20] nelsona commented on #2880
@kaustavghosh06 Just tried this and I now get an issue with the `.aws/credentials` file not existing even though I have `useProfile: false` set in the config...

[2020-03-12 12:48] gaochenyue commented on #3619
Thanks @yuth
Here is my HTTP Request header
[code]

Here is the request body
[code]

Here is the response
[code]

[2020-03-12 12:50] KrustyHack commented on #3639
Ay,

Yes sensitive sorry. :p

Mh so I will see how I can do that because actually I don't use aws-export.js but a manually crafter main.ts file :

[code]

[2020-03-12 13:46] xitanggg commented on #3494
I received the error "Updates are not allowed for property - UsernameConfiguration" when perform `amplify push` after adding this to my .yml file manually.

[2020-03-12 15:13] kldeb opened #3655 "Amplify mock subscription error: "Connection failed: An invalid or illegal string was specified""
**Describe the bug**
The same code that works when subscribing to an AppSync endpoint doesn't work when using `amplify mock`.

**Amplify CLI Version**
4.13.1

**To Reproduce**
1. Create react app
2. run amplify init
3. add graphql api with api key (for test i've tried with api key and cognito user pool)
4. npm install amplify modules
5. deploy to server
6. copy paste code below
7. run aginst serve

[2020-03-12 15:28] lenarmazitov commented on #2988
@yuth what about sorting functional, will it be presented in upcoming release? (sorry for off topic)

[2020-03-12 16:53] rudyhadoux commented on #1847
Hi everybody,
I think I have the same problem here :
https://github.com/aws-amplify/amplify-cli/issues/3621

[2020-03-12 17:07] yuth commented on #3653
Amplify CLI uses cloudformation to provision resources, does not support syncing of the changes that are made using the Console. All the changes have to be pushed using CloudFormation and `push` operation should be done using Amplify CLI for `pull` command to get that change

[2020-03-12 17:13] yuth commented on #3655
@kldeb could you share the schema and the `onCreateMyType` subscription statements as well

[2020-03-12 17:22] danielblignaut commented on #2753
@SteffeyDev did you ever figure this out? I've seen your other issue raised but cant see any detail on the fix in particular... I managed to sort out once but seems to be coming back again and again.

Seems to only happen to me after I added storage categroy.

[2020-03-12 17:43] kldeb commented on #3655
sure thing @yuth

[code]

[code]

[2020-03-12 17:51] slatemates commented on #2988
We are facing a similar issue when doing amplify codegen models . Codegen complains about
" Did you forget to add the @model directive " on the nested types. We are eagerly waiting for updates on this one . Thanks

[2020-03-12 18:09] UnleashedMind commented on #3648
I just tried using the latest of the Amplify CLI (v.4.16.1) and I was not able to reproduce.
Both new files and updated files are uploaded to the S3 hosting bucket.

We've seen some customers misconfigure the CLI, like specifying the distribution directory to be "build", but it's actually "dist". Please double check on those details.

When you configure the CLI to use both S3 and CloudFront, you w

[2020-03-12 18:09] ammarkarachi commented on #3428
@gaboucand Does the url not show you a sign in page?

[2020-03-12 18:28] ppattewa commented on #2074
I have a similar case as riyo mentioned. Also additionally, I want to look at input values sent by client and after changing it (business logic) want to send it as a additional payload item to lambda if possible. Unit resolver is not an option as there is an authorization element as well as the mentioned creation of new field based on different clients inputs. Customizing the before template is po

[2020-03-12 18:46] dtelaroli commented on #2453
+1

[2020-03-12 19:02] kaustavghosh06 opened #3657 "test"
test

[2020-03-12 19:02] #3657 closed

[2020-03-12 19:02] hisham commented on #3643
@kaustavghosh06 I just tried this by adding it in my prebuild step for frontend in amplify.yml

Snippet from my amplify.yml:

[code]

[code]

[2020-03-12 19:39] hisham commented on #3643
I guess my use case is how do I connect a frontend with a backend in the AWS Amplify CI environment without triggering an amplify push? It seems the current amplifyPush.sh script can trigger a push even though it only calls `amplify init` but `amplify init` in headless mode apparently can cause pushes apparently. See https://stackoverflow.com/questions/58957834/amplify-init-headless-always-pushes-

[2020-03-12 19:43] BerndWessels commented on #2096
Yup, abandoning Amplify too for the time being :(

If amplify fails in fixing an issue like this within a short period of time (and basically ignoring customers without huge support plans, as is AWS policy), how can we possibly have enough confidence to base our products (which are our families bread earners) on it?

I really hope that one day AWS adopts a more open, honest and inclusive relations

[2020-03-12 20:35] ngnathan commented on #3430
Forgot to mention in the comment above that you'll also need to add permissions (`lambda:invokeFunction` specifically) to the lambda function through aws-sdk.  When updating a function through the console, it will add that permission, but through aws-sdk (and CLI) it doesn't add it, so you'll need:

[code]

[2020-03-12 20:45] starpebble commented on #3650
How speedy can we make every single amplify web app client in the world go! thanks @yuth

Now how can I get a single review so that I can make the amplify cli just a little bit different with pr #3616 ?

[2020-03-12 21:01] attilah commented on #1836
@davidbiller `@key` now supports `sortDirection` when 2 or more fields are specified in the directive.

[2020-03-12 21:01] #1836 closed

[2020-03-12 21:23] #3639 closed

[2020-03-12 21:41] kaustavghosh06 commented on #3627
We don't delete the S3 hosting bucket. We delete the S3 deployment bucket and the S3 storage bucket added as a part of the `amplify add storage` flow.

[2020-03-12 22:06] kaustavghosh06 commented on #2096
@BerndWessels Sorry to hear about your experience with Amplify. As we deep dive into this issue and fix it (I have this prioritized), didn't this workaround mentioned out here - https://github.com/aws-amplify/amplify-cli/issues/2096#issuecomment-523746110 work for you since it looked like it worked for a lot of the folks on this thread.

[2020-03-12 23:17] Jay2113 opened #3658 "Unable to add AWS Amplify categories after updating to CLI version 4.16.1"
**Describe the bug**
I was initially having issues using the Node 8.x runtime and amplify-cli recommended me to update to node 10.x or higher, so I updated Node to the latest 12.x runtime but it was not being reflected and the issues persisted. I updated amplify-cli to the latest version that is 4.16.1 to ensure that the updated Node runtime is reflected. After updating to the latest versions, amp

[2020-03-12 23:27] SwaySway commented on #3602
Hello @rarira
This seems related to supporting `@key` in `@searchable` we'll investigate on a fix to avoid duplicate records. In the meantime one potential workaround you can do is use the lambda function from the old version below and in the latest release of the cli you can add that zip into a folder functions and it will be overridden.

Old Streaming Lambda Function: https://github.com/aws-ampl

[2020-03-12 23:33] yuth commented on #3658
@Jay2113 this might be related to outdated ESM cache. Could you try evicting the ESM cache. It should be located inside the node_modules folder of Amplify CLI

You could use the following command to clean it up
[code]

[2020-03-12 23:37] kaustavghosh06 commented on #3658
Also, did you use yarn or npm to install the CLI?

[2020-03-12 23:45] Jay2113 commented on #3658
Yes, evicting the ESM cache worked!! I used npm to install the CLI. Thank you for the quick response.

[2020-03-12 23:45] #3658 closed

[2020-03-13 02:09] geoff192 opened #3659 "Amplify Appsync oidc provider per environment"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Amplify CLI/AppSync

**Amplify CLI Version**
4.13.2
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Amplify & AppSync

**Provide additional details e.g. code snippets**
Hi,

I've a proj

[2020-03-13 02:39] CodySwannGT opened #3660 "Removing a field from dynamodb doesn't remove it from elasticsearch"
This is for an @searchable model

So if you create something like

[code]

And then you create an object of that model with a featuredAt date string, everything works just fine in search query like this:

[code]

But then if you update the dynamo data and remove "featuredAt", the featuredAt data from elastic search is not removed and you still get the item returned in search queries

[2020-03-13 03:54] undefobj commented on #3291
@yuth @drochetti this seems like a fair statement and I would expect to use current identity as the owner if not set in the calling operation. Does this issue live in the CLI or iOS library?

[2020-03-13 03:56] undefobj commented on #3654
@mdegrees We are looking at more multi-tenancy support this year, however rather than look at a specific implementation could you uplevel a bit and go into detail around your use cases and scenarios? This would allow us to look at if there is a point feature causing problems here or a larger design that is cross cutting categories which needs implementation. Thanks.

[2020-03-13 05:06] jonperryxlm opened #3661 "DataStore.query to return connected objects"
**Which Category is your question related to?**
DataStore

Is there a way to return connections when querying the DataStore?

Let's say I have the following schema:

[code]

If I query the Graphql API, I can ask for the following (and this is what would be autogenerated by the CLI)...

[code]

But if I query the DataStore with: `DataStore.query(Post, "my-id")` I would only get the Post object back

[2020-03-13 05:54] kaustavghosh06 commented on #2096
Hey guys, I've provided a fix for this issue in #3662 and will be part of the consequent release after this PR is merged.

@tomrum Would it be possible for you to open up another GitHub issue tied to your Datastore issues. We would like to know the issues more in detail and fix them.

[2020-03-13 06:25] fi5u commented on #3653
Thanks, although I don't fully understand. So I'm able to `amplify push` trigger settings for Cognito set in _paramters.json_, but `amplify pull` won't pull those same setting back to the local environment?

My aim is to define all settings not in the console, but in my code. I only wanted to `pull` the trigger settings so I can see what the syntax is like. Is the example json [here](https://docs.

[2020-03-13 07:56] blairtaylor commented on #3552
Created via the Amplify CLI.

[2020-03-13 07:57] blairtaylor commented on #3552
The solution suggested by @onhate works. We'll close the issue. Thanks.

[2020-03-13 07:57] #3552 closed

[2020-03-13 09:15] apoorvmote commented on #682
I opted for more brute force approach.
To solve same problem "only one resolver is allowed per field."
`amplify remove api`
`amplify push`
`amplify add api`
`amplify push`
works 100% of the time.  don't forget to copy the schema.

[2020-03-13 10:58] BilalAhmad7778 commented on #541
@kaustavghosh06
yeah it is working i was also facing the same problem but now it is solved
Hey guy, I was trying to reproduce this on a windows machine and wasn't able to. Did you'll run npm install -g @aws-amplify/cli and I was able to succesfully install the CLI. Please let me know if you're still seeing this issue.

[2020-03-13 12:10] jameelgrand commented on #3081
any new updates? a must needed feature for my application

[2020-03-13 14:20] braganic commented on #3648
did a new amplify init and now its working
thanks for your help

[2020-03-13 14:20] #3648 closed

[2020-03-13 16:28] hisham opened #3663 "Support for API Gateway Custom Domains?"
Does Amplify CLI / AWS Amplify Console support API Gateway custom domains (https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html)? i.e. is there some kind of configuration built or planned to make aws-exports.js use the custom domain rather than the native aws domain?

[2020-03-13 17:10] MattWlodarski opened #3664 "Bug with amplify generated composite keys"
Hello, I created a composite sort key using the amplify cli. The composite key includes the a person's first and last name. Most of the time the composite key is generated correctly in Dynamo DB like: john#doe. However, sometimes it'll be saved as `${ctx.args.input.first}#${ctx.args.input.last}`. Subsequently, when I try to run a query with this composite key, it skips over the records that have t

[2020-03-13 17:48] zjullion commented on #926
@UnleashedMind ? @yuth ?

[2020-03-13 18:31] houmark commented on #682
**ABSOLUTELY DO NOT DO THIS IF YOU HAVE DATA IN YOUR DYNAMODB DATABASE.**

This will delete all tables and remove all data. This can only work if your project is in a very early stage and does not have data already.

[2020-03-13 19:11] yuth commented on #3659
Thanks for opening the issue. I have added this to our backlog

[2020-03-13 19:17] yuth commented on #3664
Could you share the generated request and response templates. That could help in narrowing down if the issue is with the genrated code

[2020-03-13 19:20] yuth commented on #3661
@jonperryxlm what platform are using to run this query? Is it in JS or iOS?

[2020-03-13 19:22] jonperryxlm commented on #3661
@yuth Javascript, specifically a Vue application. All amplify libraries at latest.

[2020-03-13 19:28] yuth commented on #3660
@CodySwannGT does the search filter that you have option to filter based on the value of `featuredAt`? Or is the issue that `featuredAt` remains in the Elastic Search cluster?

[2020-03-13 19:40] starpebble commented on #2773
pr #1011, merged. Closing.

[2020-03-13 19:40] #2773 closed

[2020-03-13 20:11] yuth commented on #3655
@kldeb what version of Amplify JS package are you using. Specifically `import API from 'amplify/api` and `@aws-amplify/pubsub`.

The mock does not support Websocket based subscription yet. We should have mock support for websocket based subscription in a few weeks.

[2020-03-13 20:13] CodySwannGT commented on #3660
The issue is that ``featuredAt`` remains in the cluster.
Subsequently, when I run queries against the data set in Dynamo, ``featuredAt`` is null. But when I query against ES, it is not.

[2020-03-13 21:46] attilah commented on #3619
@gaochenyue could you please share your schema? I see `MyQuery` in the request body above, is that possible that you only have this error for custom queries? or is it a `@key` query?

[2020-03-13 22:31] attilah commented on #3353
@imonzalvo could you please elaborate more on the bookings "owner" auth? since bookings is stored in a different table, how would you want to enforce ownership on it this way? `editors` is stored on `Branch`, but `branchId` is stored in `Booking`, so a `Booking` has no notion of `editors`.

[2020-03-13 22:46] attilah commented on #3157
One thing I'd try is to turn this auth logic you want into VTL code and implement since it seems you've all the data you need, but the @auth rules cannot do what you like, which is a custom logic for your case, a  custom resolver could solve it.

[2020-03-13 22:46] #3157 closed

[2020-03-14 00:03] kaustavghosh06 commented on #3240
@cyrfer If you made changes to your team-provider.info file and want to do a push - you can install the latest version of the CLI - 4.16.1 and run `amplify push --force` - this would pickup your changes from the team-provider-info.json file and populate it into the Cloudformation tempalte.

Are you still stuck with the Amplify console build issue? Could you share the error stack from the Amplify c

[2020-03-14 00:17] kaustavghosh06 commented on #3645
@skyride99 It would be hard to debug a lambda  code remotely - if you've added any custom logic to it. We can take a stab at it if you send your amplify folder to amplify-cli@amazon.com

[2020-03-14 00:18] kaustavghosh06 commented on #3643
How about `amplify pull`? Did you check that out?
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-pull

[2020-03-14 00:19] kaustavghosh06 commented on #3185
@gaochenyue Closing this issue. If you're still stuck on this - please comment on this thread.

[2020-03-14 00:20] kaustavghosh06 commented on #3643
Also, you can execute this command in a headless manner in your CI scripts - https://aws-amplify.github.io/docs/cli-toolchain/usage#amplify-pull-parameters

[2020-03-14 00:20] kaustavghosh06 commented on #3124
@gaochenyue Yes we're tracking this as a feature request.

[2020-03-14 03:09] apoorvmote commented on #682
Yes you are right. I should have mentioned this in my reply. You will lose everything. And I am in early stage so this works for me.

[2020-03-14 04:10] undefobj commented on #3430
@ngnathan Glad that you got this working! One thing I'd be curious on is if you believe we should add some improvements to the documentation for pretoken generation:
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#adding-a-lambda-trigger
https://aws-amplify.github.io/docs/cli-toolchain/cognito-triggers#override-id-token-claims
If so we would certainly welcome a PR to the docs which is

[2020-03-14 10:05] ranjan-purbey commented on #3655
Thanks @yuth  for the response. I have the same issue using `@aws-amplify/pubsub@2.1.7` and `aws-amplify@2.2.6`. As you mentioned that the mock doesn't support ws based subscription yet, is there any way to use mqtt based subscription?

[2020-03-14 14:40] gaochenyue commented on #3619
Thanks @attilah
Here is where ```MyQuery``` comes from
![Screen Shot 2020-03-14 at 10 34 35 AM](https://user-images.githubusercontent.com/9857112/76684155-ed34e300-65df-11ea-9cc1-65c0db6022fc.png)

yes, it is a ```@key``` query

Here is the schema
[code]

[2020-03-14 17:51] montycheese opened #3671 "Concurrent Subscription limit for Amplify GraphQL client"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

4.10.0

**What AWS Services are you utilizing?**

Amplify Stack with a GraphQL based backend.

**Provide additional details e.g. code snippets**

What A

[2020-03-14 18:41] contractorwolf commented on #1486
is there still no way to get around the self-signed cert issue?

[2020-03-14 19:00] SteffeyDev commented on #2753
I forget exactly, but check out the generated build files in the awscloudformation category and make sure the final stack file that is actually run contains the needed attributes  That may have been the issue. I may have also just rebuild from scratch, I have a nifty script that will rebuild the whole amplify scratch pretty quickly and then you can force-delete the old one.

[2020-03-14 19:04] undefobj commented on #3671
Amplify uses [AWS AppSync](https://aws.amazon.com/appsync/) as the managed GraphQL service, which has default limits published in your account [Service Quotas page](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html).

You should always do your own benchmarking however there are some numbers on the AppSync subscriptions shown in this blog post: https://aws.amazon.com/blogs/mobil

[2020-03-14 19:21] SteffeyDev commented on #2753
I ended up not adding the storage category again and using S3 outside amplify to be safe

[2020-03-15 01:38] SteffeyDev commented on #2753
@danielblignaut Ran into the same issue again tonight and actually found a solution.  When you run amplify add storage, it regenerates your auth cloud formation template yaml file and unsets any modifications, then uploads and runs the changed version.  However, even if you fix it and run again, it does not update in the deployment bucket.

To fix, take your correct auth-cloudformation-template.ym

[2020-03-15 01:39] SteffeyDev commented on #2753
Let me know if you would like additional details on how to fix, I know that wasn't super detailed

[2020-03-15 03:09] rafaelsorto commented on #3008
What I don't understand is how come this worked on Nader Dabit's workshop and now it doesn't work?

[2020-03-15 05:12] riacoding commented on #3008
I believe the workshop used an older version of the amplify Lib when it was
using MQTT instead of Web sockets that it currently uses

On Sat, Mar 14, 2020 at 8:09 PM Rafael Sorto <notifications@github.com>
wrote:

[2020-03-15 07:24] geoffreyaguero commented on #1181
I'm having this issue as well and I believe there's no workaround. I tried to modify the CloudFormation stack but the LogConfig is a property of AWS::AppSync::GraphQLApi and this resource can't be modified since it's created by Amplify during build phase.

[2020-03-15 15:49] dwamianm commented on #3008
Please Please Please fix this!! 😢 . One of the great benefits of GQL is the realtime features and local testing of features that rely on it is very painful right now!

How can we convince someone that this is important???!!

@yuth @jhockett @akshbhu @SwaySway Please Help!

[2020-03-15 16:59] rafaelsorto commented on #3008
Is there a public repo where we can contribute?

[2020-03-15 17:18] dwamianm commented on #3008
@rafaelsorto . I finally forked the Repo and trying to fix it myself... however, the build process seems to be quite computer resource intensive!! It’s killed my MacBook Pro twice! Will keep you updated

[2020-03-15 18:55] camin-mccluskey commented on #2935
any update on this @riacoding

[2020-03-15 19:03] riacoding commented on #2935
Not at this time. Last I heard it was on the backlog but with no priority.
Hopefully the more awareness the quicker the fix

On Sun, Mar 15, 2020 at 11:55 AM Camin McCluskey <notifications@github.com>
wrote:

[2020-03-15 21:17] Lasim commented on #2453
Well got the same issue with storage.
Can't mock anymore my lambda function.

[2020-03-15 21:29] akshbhu commented on #3629
Hi @whtevn

Right now you are endpoint in S3 server.
I think to connect your AWS S3 client  to mock S3 server in lambda code, you need to set some flags in S3 constructor.
[code]

[2020-03-15 23:07] Anto-gh commented on #3
Hi,
I'm getting another error when trying to initialize,

? Please choose the profile you want to use XXX
init failed
Error: ENOENT: no such file or directory, open 'C:\Users\YYY\AppData\Roaming\SPB_Data\.aws\credentials'

The credential file is in fact located under C:\Users\YYY\.aws\credentials

...can anyone help please?

[2020-03-15 23:15] akshbhu commented on #3621
Hi @rudyhadoux

I think to access S3 private files in your chat application, you can give access to them via Presigned urls.

These are the steps that you can follow
1) Store the image in S3
2) Do a  mutation to create the User in the GraphQL API using the image id
3) Query the image data from the API using image id
4) Get a signed URL for the image from S3.

With this url members user will be abl

[2020-03-15 23:45] philateatclub commented on #753
Ah! and for those of you wondering how to change your region in Amplify Console:

![image](https://user-images.githubusercontent.com/58405588/76713077-dde1a100-6769-11ea-83bd-f83978dccde2.png)

(Make sure to change your Amplify Console region to the same region you set in your initialized project)

[2020-03-16 00:08] nikgavalas commented on #3661
I'm having the same issue. The snippet of schema part I'm having issues with looks like this:

[code]

What I want to do is do a:
[code]

It looks like what I need to do is

[code]

My question with the latter method is: What happens if I have millions of ChordNodeStates for this user. Is that all going to be synced in the DataStore anyway so it's just a cpu thing?

It seems like the power of Grap

[2020-03-16 01:35] willkara commented on #1486
Nothing yet. Last I heard, they had a huge revamp of the cli package. I'm
talking with my company's account rep to see if it works yet and if not,
figure out options.

On Sat, Mar 14, 2020, 08:41 james wolf <notifications@github.com> wrote:

[2020-03-16 01:48] apoorvmote opened #3720 "Guide/documentation on using appsync in lambda"
**Which Category is your question related to?**
Auth, Appsync, Datastore, lambda

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, Datastore, Lambda

**Provide additional details e.g. code snippets**
First of all I want to thank you for adding built in support for dynamodb streams. Using this will make delta sync much more easier and automatic.

However I do not see any documentation

[2020-03-16 03:25] skyride99 commented on #3645
I figured it out. I am using DAX and the service is in a VPC.

[2020-03-16 03:25] #3645 closed

[2020-03-16 03:29] rinosamakanata commented on #2698
Any updates? I got the same problem..

[2020-03-16 03:31] hisham commented on #2698
fyi I did contact AWS Support and they are not able to change these limits at this time. So the solution is to reduce the number of field-level auths until amplify cli comes up with reduced code to enforce field auths.

[2020-03-16 03:45] rinosamakanata commented on #2698
Thank you @hisham for the update!
Hmm, the solution AWS offers is hard to do, so I will try override a resolver to make small and optimize...

[2020-03-16 04:13] julien-tamade opened #3673 "Push Failing. Referencing Deleted Resource"
**Describe the bug**
I was trying to add an api route to my REST api using a custom lambda. I was getting errors pushing it (a whole other story. Still don't know why). So I did an amplify pull to get back to the current setup. Then when I try to update another service to test the push. I'm getting errors referencing that API resource. But when I do amplify update api the route doesn't show up. No

[2020-03-16 06:31] apoorvmote opened #4106 "How to fetch records based on array of ID's with graphql API"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
Cognito, AWS AppSync, graphql API

**Provide additional details e.g. code snippets**
I have array of `todoID` how do I fetch only records matching these ID's.

Currently I fetch everything and filter.

`const allTodos = await API.graphql(graphqlOperation(listTodos));`

[2020-03-16 07:10] rudyhadoux commented on #3621
Thanks for your answer.

But I do not understand at all. Create the User in the GraphQL API using the image id ?????

In a chat conversation users already exist.

[2020-03-16 07:32] rudyhadoux commented on #3621
It is a problem of amplify auth storage api.

We should set members for private files.

[2020-03-16 07:34] rudyhadoux commented on #3621
It is a feature request.

Like explained here too :
https://github.com/aws-amplify/amplify-cli/issues/1847

[2020-03-16 07:40] rudyhadoux commented on #3621
The right answer is maybe here. I have to test it.

The way this was handled in the @auth directive was nice. An identifyField was added to the @auth directive that allowed for backward compatibility and made it easy to update to identityField: sub for those who wanted to.

[2020-03-16 08:46] #3621 closed

[2020-03-16 09:59] FemkeBuijs commented on #3505
Works like a charm @UnleashedMind, thanks!!

[2020-03-16 10:00] blomm opened #3674 "amplify add codegen : choosing code generation language."
**Which Category is your question related to?**

amplify add codegen

**Amplify CLI Version**

4.2

I'm working on an Angular project, and I'm a bit confused about which choice I should go with for my code generation language target? Two options are angular and typescript

angular is written in typescript, I really have no clue which one to choose (apologies if I'm being thick)

[2020-03-16 11:35] nihp commented on #102
In my login it have both email and phone number. But I only receives code for my phone number.

I not received anything in my mail. Can anyone elaborate. How can I send the confirmation for both (Mobile and email)

[2020-03-16 16:30] Ricardo1980 commented on #3614
@yuth Any suggestion? Thanks.

[2020-03-16 17:21] yuth commented on #3655
The only way to use it would be to use older version of Amplify JS libraries (@aws-amplify/pubsub@1.x.x)

[2020-03-16 17:45] rudyhadoux commented on #1847
IdentifyField for @auth could help to authorize users to get access to private files of an other user ?

[2020-03-16 21:29] devbanhustly commented on #186
Guys what really is the solution here? I was up all night trying to fix this. This is not a production ready product. WTF. What are the options to use cognito without amplify, if amplify is basically in beta?

[2020-03-16 21:33] devbanhustly commented on #186
I had to remove it from gitignore. If 100% of users are going to face such issues, please add a "in beta" ribbon to product label. Poor documentation.

[2020-03-16 21:42] yuth commented on #3643
Please comment on this thread if you have any further questions

[2020-03-16 21:42] #3643 closed

[2020-03-16 21:43] yuth commented on #3611
Please comment on this thread if you have any further question

[2020-03-16 21:43] #3611 closed

[2020-03-16 21:46] yuth commented on #3655
duplicate of https://github.com/aws-amplify/amplify-cli/issues/3008

[2020-03-16 22:03] yuth commented on #3647
Is Cognito the default auth provider for your API? Amplify CLI does not add default auth provider directive in the output schema

[2020-03-16 23:21] karrettgelley opened #3678 "DataStore Cannot Return Null"
**Describe the bug**
I am trying to save an item using DataStore and when the cloud syncs I get this error: 'cannot return null for non-nullable type: 'String' within parent 'User'' on all of the required fields in my model as well as some DataStore generated properties like __version and __lastChangedAt.

**Amplify CLI Version**
4.16.1

**To Reproduce**
Create a react app using create-react-app a

[2020-03-16 23:28] sammartinez commented on #3007
Bumping again.

[2020-03-17 02:15] dtelaroli commented on #3288
+1

[2020-03-17 04:27] tfendt opened #3681 "Incrementing and Decrementing Numeric Attributes GraphQL"
**Which Category is your question related to?**
GraphQL

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Cognito, AppSync, DynamoDB, API Gateway, Lambda

Is it possible to increment or decrement a number in a graph model like you can do with the dynamodb SET Update Expression (https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.ht

[2020-03-17 05:50] apoorvmote opened #3683 "Multi auth for single api not working with Datastore"
**Describe the bug**
If I add auth `{allow: private, provider: iam}` then I get following error

`[WARN] 50:18.733 DataStore - Sync error subscription failed Connection failed: {"errors":[{"message":"Validation error of type MissingFieldArgument: Missing field argument owner @ 'onCreateProduct'"}]}`

**To Reproduce**
Steps to reproduce the behavior:

1. `npx create-react-app store --use-npm --temp

[2020-03-17 08:20] ragate-tatsuyoshi commented on #177
I want to create Auth0 signIn by amplify auth.
But aws amplify not support to add custom identity provider on conversational interface...😢

So I created federated sign in by hands making.
I feel that makes complex to development.

[2020-03-17 08:22] ragate-tatsuyoshi commented on #177
Aws Amplify should be support to add SAML2 and OpenIDConnect by conversation console😊!

[2020-03-17 15:02] nagey opened #3682 "Custom Resolvers (seemingly) incompatible with @auth directive."
**Describe the bug**
It would appear that there's no way to affect the permissions of a custom resolver via the @auth directive, or via a custom stack.

**Amplify CLI Version**
4.16.1

**To Reproduce**
1. have a custom resolver with it's own `.stack` file (as described in the docs)
1. Add an `@auth` directive to say allow IAM & Cognito auth
1. Get an error that you can only have one type of resolv

[2020-03-17 16:23] kaustavghosh06 commented on #3683
@apoorvmote What was your flow for `amplify add api`? Did go into the "Additional settings" flow and choose to enable "Sync" settings?

[2020-03-17 17:05] lexfaraday opened #3684 "New directive @trigger for GraphQL Transform"
**Is your feature request related to a problem? Please describe.**
When using the "amplify add api" command I can't to attach a lambda trigger to insert/update actions for the DynamoDB table generated from the scheme with the GraphQL Transform way. Now I'm attaching the lambda manually from AWS Console.

**Describe the solution you'd like**
Could be helpful to add a functionality like the @functio

[2020-03-17 17:29] Lasim commented on #2227
+1

[2020-03-17 17:31] UnleashedMind commented on #3673
@julien-tamade

Could you go to the Cloudformation console, and check if the nested stack of your REST API is in a Failed state? that's probably preventing you from updating it.

[2020-03-17 17:46] Ricardo1980 opened #3685 "Can I use lambda functions inside pipelines?"
Hello,

Right now I am using pipelines in several use cases, very often, in the first function I get info about the current user, and in the second function, I do something. Those both functions use SQL and Aurora serverless. I had to do that manually editing the cloud formation templates.

Now I would like to do this:
A pipeline with 2 functions, the first one gets the current user from Aurora Se

[2020-03-17 18:17] wizage opened #3686 "Allow @key to reference non-required fields"
**Describe the bug**
Today @key doesn't allow you to reference non-mandatory fields. This can hinder other transforms and custom revolvers that might take a null field and fill in a default if no value is given.

**Amplify CLI Version**
4.16.1

**To Reproduce**
An example:

[code]
This example, fails to compile today but should compile as the resolver will auto fill the owner field in if no value

[2020-03-17 19:38] yonatanganot commented on #682
I found a solution for this error **without** losing the data.

Do the following actions for the affected types:
1. Add generated operations with **null** value inside @model:
`type Name
  @model(queries: null, mutations: null, subscriptions: null)
  {...}`
2. `amplify push`
3. Remove generated operations with **null** value inside @model:
`type Name
  @model
  {...}`
4. `amplify push`

Good luck!

[2020-03-17 19:47] yuth commented on #3674
Codegen for Angular generates a service  where as typescript just generates the typings

[2020-03-17 19:51] gviger commented on #3065
@kaustavghosh06 I will get this to you. Mock still breaks for me with my full CustomResources.json so trying to reproduce the problem with a smaller number of entries. Haven't had time to focus on that part in the past bit but will in the next couple of weeks. Please leave this open for the moment and I'll update with more findings and send as requested.
Thx.

[2020-03-17 20:23] andre347 commented on #3399
+1 on this one. Would be great to quickly run amplify mock api when you have a basic rest api with express. I don't have a GraphQL backend so mock doesn't work.

[2020-03-17 20:54] edwardsray opened #3687 "add auth - SNS IAM role duplicated when project name contains a hyphen "-""
**Describe the bug**
Recent code change assumes project name does not contain a hyphen.
#2709
Commit: fe0e979812bd3142a56a62bf15444cbb3dbbb6bb
File: auth-template.yml.ejs
Code:      RoleName: !If [ShouldNotCreateEnvResources, '<%=`${props.resourceNameTruncated}_sns-role`%>', !Join ['',[ 'sns', !Select [3, !Split ['-', !Ref 'AWS::StackName']], '-', !Ref env]]]

The Select assumes the Split has thre

[2020-03-17 21:10] quinlayen commented on #3560
Unfortunately it started again just days after following @UnleashedMind
workaround.  The original problem seems to still need to be addressed.

On Wed, Mar 11, 2020 at 3:11 PM Kaustav Ghosh <notifications@github.com>
wrote:

[2020-03-17 21:20] julien-tamade commented on #3673
@UnleashedMind the status for the rest api is UPDATE_ROLLBACK_COMPLETE. Also on a side note, when I checkout another branch and run amplify pull, the API gateway endpoint in the amplifyconfiguration.json doesn't change, which is an issue when generated thing new api gateway generated code form my swift project.

[2020-03-17 22:23] daltlc opened #3688 "write EPROTO 4592985536:error:1408F10B"
I cannot push a simple built Amplify/ React project successfully to the cloud. I have tried multiple times, making sure I am up to date on Amplify CLI, Node, NPM and Expo.

I had 2 projects that worked fine yesterday and now today, I am getting this error. I have tried fresh projects multiple times.

I have cleared every API within AppSync.
Cleared all tabled in DynamoDB.
Deleted all Cognito group

[2020-03-18 00:27] daltlc commented on #3688
I understand this would be a https to http issue between client and server but not sure where that could be going wrong with basic setup.

[2020-03-18 01:14] bneigher opened #5883 "Guidance with backend user association with Auth.federatedSignIn on custom OIDC flows (not hosted)"
I have a question about usage.  According to the docs on getting aws credentials using my own token exchange / refresh provider:

[code]

This is what I have in my react-native app and it works okay (though there are a lot of issues with react-native and my tokens being invalid when first opening up the app after several hours).

My question is regarding doing lookups on my users in a backend proc

[2020-03-18 02:22] apoorvmote commented on #3683
@kaustavghosh06 yes I did. I changed 2 things.
1. Added addtional auth and selected IAM for api
1. And changed the conflict resolution to optimized concurrency.

My guess is graphql transform is not working properly.

It's working without multi auth as mentioned earlier

Current workaround is to leave schema like above and update schema in appsync console and adding @aws_iam @aws_cognito_user_pool

[2020-03-18 08:27] edlefebvre commented on #102
@ajhool did you find a solution to this?

[2020-03-18 10:46] rehanbabertkxel opened #3691 "Amplify Front End Multi-Environments deployment"
**Which Category is your question related to?**
Multi Environment Deployments

**Amplify CLI Version**
4.13.1

**Provide additional details e.g. code snippets**
I am using different environment in my Font End Angular8 app and to build it in different environments, we have multiple commands like:

"build": "ng build --prod --configuration=dev",
"build-test": "ng build --prod --configuration=test",

[2020-03-18 11:38] RossWilliams commented on #3686
See duplicate #3275

[2020-03-18 11:43] RossWilliams commented on #2698
@rinosamakanata the resolvers have comments blocks, you could run a script to strip the comments?

[2020-03-18 11:49] RossWilliams commented on #3430
@buggy regarding pre-token

you can have users request new tokens without having to log out and in again. The trick is telling users that they *should* update their credentials. This can be solved with subscriptions on a USER_PERMISSONS model.

[2020-03-18 13:37] nihp opened #3692 "Clarification: Can I able to change the * besides the field to 'Red' after the validation message shown"
Clarification: Can I able to change the * besides the field to 'Red' after the validation message shown in UI

[2020-03-18 14:54] lawmicha commented on #3434
Android's flow https://github.com/aws-amplify/docs/issues/1250

[2020-03-18 15:09] idanlo opened #3693 "Can't access DynamoDB tables created by GraphQL API on a new lambda function"
**Describe the bug**
Whenever creating a new lambda function using `amplify add function` or adding a REST API using `amplify add api` and choosing REST, the CLI asks for a function template to use, and when I choose `CRUD function for Amazon DynamoDB table (Integration with Amazon API Gateway and Amazon
DynamoDB)` and I try to use existing DynamoDB tables, it says there aren't any tables. I guess

[2020-03-18 15:13] idanlo commented on #3283
@andrestone how doesn't it make sense?
AppSync is very to hard to do business logic on, because of that VTL stuff, and because all of us are mostly JavaScript developers we are much more comfortable writing lambda functions in JS.

It makes perfect sense that you could create tables using the `@model` directive and then use those tables in other lambda functions/REST APIs

[2020-03-18 15:23] wizage commented on #3686
I would disagree but it does look like it does relate/might be a duplicate of #1657

[2020-03-18 15:33] gwnoseworthy opened #3695 "cli generated group Role does not have Path"
I am currently attempting to view IAM group roles that have been created and assigned via the amplify cli so that i can attach additional Policies, IAM API currently only allows for filtering via PathPrefix so i am unable to query resources without getting full list of IAM Roles on my account.

When using Amplify CLI to create a group role it creates an IAM Role to attach to the group.
This Role i

[2020-03-18 16:16] lon9man commented on #2396
Guys, please give an advice:

1. i have api with default AWS_IAM authorization.
2. then i added additional authorization type AWS_API_KEY (using "amplify update api")
3. but now i am trying to remove it (AWS_API_KEY) from amplify (using CLI) and i don't see applicable way to do it

question: how it is possible to delete it?

thanks!

[2020-03-18 16:45] jhockett commented on #3440
I'm closing this issue for now since we cannot reproduce it. Please comment below if you continue to have this issue.

[2020-03-18 16:45] #3440 closed

[2020-03-18 16:50] #3632 closed

[2020-03-18 17:47] andrestone commented on #3283
Sure, it does. But the issue here is about accessing a DynamoDB table that, as I said, in the context of amplify-cli, is behind an AppSync API. It would make sense for me if this was a feature request to reduce friction / implement a higher level API to interact with the AppSync (such as an ORM layer, for example).

[2020-03-18 17:57] hisham commented on #1016
+1

[2020-03-18 18:01] idanlo commented on #3283
@andrestone That would be great if they introduced some sort high level interaction layer with AppSync but I don't see it happening any time soon as it will probably take a long time to develop and there aren't any signs showing that it is currently in development (or if they are even thinking about it).
The ability to interact with DynamoDB tables created by GraphQL API in a lambda function seems

[2020-03-18 18:06] andrestone commented on #3283
There is nothing preventing you to do that. If you need no mapping and simply want to access your table it's as simple as using the SDK inside your lambda.

[2020-03-18 18:07] idanlo commented on #3283
@andrestone I would still like to use GraphQL for simple mutations, and the auto-generated queries are great and easy to use. It's just difficult to add business logic with the VTL language.

[2020-03-18 19:23] amirmishani opened #3699 "How to setup for sorting in a many-to-many relationship?"
**Which Category is your question related to?**
API. specifically GraphQL schema directives and many-to-many relationships

**Amplify CLI Version**
4.16.0

**What AWS Services are you utilizing?**
Congnito, Appsync

**Provide additional details e.g. code snippets**
Looking at the [this example](https://github.com/aws-samples/aws-appsync-chat) from AWS to create a chat app and I find the need to so

[2020-03-18 19:39] UnleashedMind commented on #3688
"This is what I get from there. The schema groups and tables are created on the console but does not create any mutation, queries within project and also has this error."
Queries and Mutations are only generated on your local project after a success push, seems like the error occurred right there when the CLI tries to call the serve to retrieve the schema and then use it for the codegen.

Are you

[2020-03-18 20:18] UnleashedMind commented on #3691
The project-config is tied to the frontend project type and not to each env, so yes, you need to change it when you have different build command for different env.
Another option than creating a new branch would be to write a script for the build command,  and in the script it first checks the env (information available as `envName` in `amplify/.config/local-env-info`, and invoke the different `ng

[2020-03-18 21:01] ChristopheBougere commented on #3317
I have the same issue, which makes me commit generated files of 100 lines just to add 2 lines. Each time I update my `@auth` or the schema, I have to ensure that VTL files are still up to date.

Another solution that I can think is to have some static placeholders in a VTL (things like `beforeAuth`, `afterAuth`, `beforePreparingRequest`, `afterPreparingRequest`).
And we would store pieces of code

[2020-03-18 22:04] #3617 closed

[2020-03-18 22:06] UnleashedMind commented on #3692
Please follow the template when you create an issue so we can respond more efficiently

[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**

**Provide additional d

[2020-03-18 22:30] UnleashedMind commented on #3693
I will mark this as an enhancement.
In the current implementation, only DynamoDB tables created using the amplify storage category is checked.

[2020-03-18 22:38] grigull opened #3700 "Appsync multi-auth on @function mutation disables iam rule"
**Describe the bug**
I have a custom Appsync resolver function that has to be both accessible by a logged-in user that is part of the Admin group, while at the same time by a Lambda function.
I have created a custom Mutation resolver for my Appsync:
[code]
Everything works when I just have the single ```@auth (rules: [{ allow: private, provider: iam }])``` rule, but when I add the additional group

[2020-03-18 22:54] idanlo opened #3701 "Multiple REST APIs or one general REST API?"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
AppSync, S3, Cognito, DynamoDB

**Provide additional details e.g. code snippets**
For my app I have used until now a single GraphQL API, but I feel like it's very hard to do business logic on VTL, so I thought I will keep GraphQL just for the queries and some mutations, and for the business logic I will c

[2020-03-18 23:31] dylan-westbury commented on #2753
I can't recall the exact resolution, but I believe we were facing an error unrelated to the error message that was showing

[2020-03-18 23:44] daltlc commented on #3688
I am not running a proxy. I created an entirely new aws account, did the same steps and everything worked fine, so it's something within the console. I believe I cleared out anything that could be creating conflicts with that.

[2020-03-19 00:31] Bulletninja commented on #2022
source?

[2020-03-19 00:55] drochetti opened #3702 "GraphQL Transformer issue when using custom @key and @connection"
**Problem:**

When defining schemas with custom keys, or explicit keys defined along with a field with a `@connection` directive, the GraphQL transformer expects that the input object of a mutation provide both the id/key and the connected type Input.

**Example:**

- Given the following schema

[code]

- The GraphQL transformer generates the following `input` for `PostEditor`:

[code]

A few note

[2020-03-19 01:03] yuth commented on #3702
Yes this is a bug in the graphql-transformer

Yes, This should work when using named connections. When using `@connection` with `fields` those fields have to be explicitly defined in the type

[2020-03-19 01:09] rinosamakanata commented on #2698
@RossWilliams
Yes, this way is a little hack, but can reduce comment lines in resolver templates.

https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-mapping-template/src/print.ts#L138

Changes:

[code]

[2020-03-19 01:34] Bulletninja commented on #946
Is it possible to have multiple apps under the same domain(Possibly (ideally, not limited to) via subdomains)?

[2020-03-19 02:30] dotku opened #3704 "amplify pull failed how to trace down the issue?"
I'm trying to pull an amplify app from aws, but I got denied.

**Amplify CLI Version**

amplify -v
4.6.0

**Provide additional details e.g. code snippets**

[code]

[2020-03-19 03:26] Bulletninja commented on #2221
Is there a plan of something similar for DataStore? Right now it seems it's not possible to use it from lambda (throws an error `window is not defined`)

[2020-03-19 03:52] nihp commented on #3692
I am using aws-amplify-react-native and using the UI from that package. I not used the customized UI.

[code]

[2020-03-19 05:31] wjdwndud0114 commented on #3644
Does anyone have a workaround for this issue? Since I am unable to access dynamodb tables (generated from `amplify add api`) from lambda functions, I'm not sure what the best solution is.

[2020-03-19 09:11] rehanbabertkxel commented on #3691
@UnleashedMind , do you have any plans of considering multiple front end environment during "amplify publish". If there can be a way to tell in the project-config.json to use front end environment according to the checkout amplify environment?

[2020-03-19 09:59] houmark opened #3705 "Elasticsearch / searchable updates broken for "old" Amplify installations"
@SwaySway I believe PR #3391 which was discussed in #3359 broke all our Elasticsearch indexes.

Before Amplify v4.16.1 (or a few versions before) a record would land in ES something like this:

[code]

After upgrading to 4.16.1 it will land like this:

[code]

`_id` is now prepended with the key field where it used to be just the value.

The result is very damaging and completely broke our entire

[2020-03-19 11:19] akgm3i opened #3706 "eslint doesn't ignore generated files from template"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
#3278 resolved files from code generator.
As well generated files also from template file should include `/* eslint-disable */`.

**Describe the solution you'd like**
Append `/* eslint-disable */`

**Describe alternatives you've cons

[2020-03-19 11:36] bugzbuks commented on #1997
Also getting the same issue. I'm busy with the Amplify tutorial Part 1. I'm using the same settings as the example shows. However, the mock API fuction failed as shown below
$ amplify mock api
Failed to start API Mock endpoint Error: not found: java

[2020-03-19 14:39] prmacias commented on #3580
@nikhname

Sorry about the delay. That terminal without nvm worked somehow - I had anaconda installed and nvm so I had to comment everything and got the terminal with no nvm commands. I'll be going to work on amplify installation.

[code]

[2020-03-19 15:42] kldeb commented on #2841
Still having this issue. Here's the code that amplify cli generated:

[code]

[2020-03-19 16:08] yuth commented on #1997
@bugzbuks Amplify Mock needs Java to be installed in your computer to start DynamoDB local. Could you please install the latest version of Java and see if the issue gets resolved

[2020-03-19 17:21] UnleashedMind commented on #3704
You selected the default profile, please check that the default profile's credentials has permission to access the S3 bucket

[2020-03-19 18:48] blazinaj opened #3708 "[WARNING]: FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Amplify CLI v4.16.0 && 4.16.1

Was having this issue before, with 4.13. The 4.16.0 update seemed to fix it but now it sprung back up. Getting this same error when running `amplify publish` locally, and during the auto-builds in Amplify Console.

[2020-03-19 19:00] Lasim opened #3709 "Change Lambda memory setting"
Hey Serverless people!

is there a way to change the Lambda memory settings for the amplify deployment?
Functions are deployed with the default setting of 128 MB of memory.
I would like to change this value and I don't want to do this manually by logging in the AWS Console.

Someone an idea?

Thank you!

**Which Category is your question related to?**
Amplify function - Lambda

**Amplify CLI Versi

[2020-03-19 19:20] kaustavghosh06 commented on #3695
@gwnoseworthy the format is actually <userPoolID>-group<groupName>GroupRole
We took this decision for this format when we built this feature out. Changing this might break a bunch of existing customers and wouldn't recommend on doing that at this point. We'll keep your feedback in mind with our new features.

[2020-03-19 19:20] #3695 closed

[2020-03-19 19:22] kaustavghosh06 commented on #3701
@idanlo It's actually a design decision which you'd have to make based on your use-case. I would separate REST API's (with endpoints) if they have separate configuration needs (like auth) and have widely varied business logic.

[2020-03-19 19:22] #3701 closed

[2020-03-19 19:24] kaustavghosh06 commented on #3706
@akgm3i Which files are you specifically referring to? Cloudformation templates?

[2020-03-19 19:25] UnleashedMind commented on #3708
Could you take a screenshot and share it here?

[2020-03-19 19:31] 24jr commented on #1678
@robert-moore What does the lambda code look like altogether? I am trying to what you did because that way seams best as I just want to run the function with a cloud watch trigger to create an item. (for the sake of simplicity just made basic create post for my example)

So I just copied the three parts you put up one below the next and called the output function in the exports.handler. Is that ri

[2020-03-19 19:34] akgm3i commented on #3706
I'm referring to files generated from `amplify api gql-compile` command.
like mutations.ts, queries.ts, subscriptions.ts.

I'm sorry for the confusion.

[2020-03-19 19:34] kaustavghosh06 commented on #3709
@Lasim You can go into your `amplify/backend/function/<function-name>/template.json` file and modify the Cloudformation file to add the memory settings. You can find more information here - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-memorysize

You have to basically add the "MemorySize" parameter to your ""AWS::Lambda::Funct

[2020-03-19 19:55] UnleashedMind commented on #3706
those files are generated by codegen, not gql-compile

[2020-03-19 20:04] Lasim commented on #3709
@kaustavghosh06 thanks for your response.
I just noticed that template.json represent CF file.

Solution:
Added:`"MemorySize": INT`  to amplify/backend/function/<function-name>/<function-name>-template.json

[2020-03-19 20:04] #3709 closed

[2020-03-19 20:15] #3706 closed

[2020-03-19 20:33] UnleashedMind commented on #3691
I'm marking this as a feature request then, will talk to the team and see if we can add this feature. will keep you posted.

[2020-03-19 20:36] UnleashedMind commented on #3688
@daltlc
I'm going to close the issue if you are not blocked anymore.
let me know if you want this to be open again.

[2020-03-19 20:36] #3688 closed

[2020-03-19 20:37] rehanbabertkxel commented on #3691
@UnleashedMind , yeah that would be quite helpful for teams working with different front end environemnt.

[2020-03-19 20:43] amuresia commented on #3497
Yes, I was able to reproduce this today. It's still an issue. I have to disable auth on my graphql model for the Storage.put to be successful.

[2020-03-19 21:05] Ricardo1980 commented on #3685
Well, yes, it is possible. Here an example:
https://github.com/incr3m/aws-amplify-starter/blob/master/amplify/backend/api/testampl2/stacks/AppVersionQueryResource.json

You use Lambda resolvers, and once that is working, embed it into a pipeline.

[2020-03-19 21:06] #3685 closed

[2020-03-19 21:08] kaustavghosh06 commented on #3647
@isaiahtaylor Closing this issue. Let us know if you're still facing issues after deployment.

[2020-03-19 21:08] #3647 closed

[2020-03-19 21:09] kaustavghosh06 commented on #3664
Closing this due to lack of requested information. Please comment on this thread to re-open the issue if you're still stuck.

[2020-03-19 21:11] kaustavghosh06 commented on #3673
amplify pull will only pull in changes if your deployment is successful. Do you see all the routes in your API Gateway console which you configured using the CLI before the push failed?

[2020-03-19 21:12] kaustavghosh06 commented on #3682
@nagey Could you share with us a sample schema as to how you're setting this @auth directive?

[2020-03-19 21:17] jackatkoeln commented on #1910
Ist that not simple as creating a new S3 + cloudfront ready bucket and then using a lambda function to move/copy images to it? Or am I missing something?

Here are some helpful CloudFormation teamplates:
https://aws.amazon.com/de/blogs/networking-and-content-delivery/amazon-s3-amazon-cloudfront-a-match-made-in-the-cloud/

[2020-03-19 21:35] kaustavghosh06 commented on #3660
@CodySwannGT What's the version of the CLI that you used to push your changes?

[2020-03-19 21:43] kaustavghosh06 commented on #3570
@kjetilge @RussMax783 If you install the latest version of the CLI - you can use `amplify push --force` to push changes for just your auth settings to the cloud.

[2020-03-19 21:44] #3570 closed

[2020-03-19 21:45] kaustavghosh06 commented on #3318
Closing this issue due to lack of requested information. Please comment on this thread if you're still seeing this issue.

[2020-03-19 21:45] #3318 closed

[2020-03-19 21:48] kaustavghosh06 commented on #2700
We've merged the Pr - #3612 with a fix for this. It'll be part of our next release.

[2020-03-19 21:48] #2700 closed

[2020-03-19 21:49] kaustavghosh06 commented on #3629
@whtevn Please let us know if you're still stuck on this issue based on @akshbhu 's response. Closing this issue.

[2020-03-19 21:49] #3629 closed

[2020-03-19 21:52] kaustavghosh06 commented on #3322
@nagey Are you still stuck on this?

[2020-03-19 21:53] nagey commented on #3682
the schema context was along the lines of:

[code]

This very much doesn't work. We are setting up the resolver for `myCustomResolvedQuery` in a custom stack in the `stacks` directory.

Thinking about this, and reading through the code, I don't believe that my option 1 for expected behavior is viable, and that the #2 is the only possible way to make it happen.

If we had the auth & unauth role nam

[2020-03-19 21:55] kaustavghosh06 commented on #3595
@skysf Closing this issue due to lack of requested information. If you're still stuck please comment on this thread and we'll re-open the issue.

[2020-03-19 21:55] #3595 closed

[2020-03-19 21:57] kaustavghosh06 commented on #3292
Closing this issue. @steveparkerSG Let us know if you have any issues deploying via the console.

[2020-03-19 21:57] #3292 closed

[2020-03-19 22:01] kaustavghosh06 commented on #3577
@112Cracker Closing this issue due to lack of requested information above and based on the conversation above it looks like a VSCode issue and not amplify-cli related. Please comment on this thread if you have more thoughts around this.

[2020-03-19 22:01] #3577 closed

[2020-03-19 22:16] houmark commented on #3705
@SwaySway I see your PR and not sure exactly what it does for me. What is your suggestion for me to do, as my PRODUCTION app is currently broken and is breaking more and more by the hour.

Is my best option to delete the index and run a job on all items in all tables which uses `@searchable` to have the Lambda re-add to the index?

[2020-03-19 22:24] jcardus opened #3713 "GraphQLError: Syntax Error: Expected Name, found Int "24""
**Describe the bug**
I'm trying to add aurora serverless as a graphql datasource. It doesn't work.

**To Reproduce**
_ampilfy init
amplify add api
amplify api add-graphql-datasource_

Error returned:
_GraphQLError: Syntax Error: Expected Name, found Int "24"_

Please check the full log screenshot.

**Expected behavior**
It should create the data source

**Screenshots**
![Screenshot 2020-03-19 at 1

[2020-03-19 23:08] nagey commented on #3322
no — I deleted the `undefined` env from team provider — though unclear how it got created in the first place

[2020-03-19 23:18] #2096 closed

[2020-03-19 23:34] #3239 closed

[2020-03-19 23:34] #3548 closed

[2020-03-19 23:34] #3575 closed

[2020-03-20 01:33] mdebo commented on #3283
as @idanlo said, a lot of devlopers are much more confortable with javascript than vtl...
I would like to access a dynamodb table in a lambda function. This table was generated using the @model directive in a graphqlAPI resource.
How can i get  this dynamo table name, to be able to access it?

[2020-03-20 02:14] SwaySway commented on #3705
Hello @houmark I understand your frustration and we’re working on documenting a migration workflow to be made available in our docs for customers to migrate  existing data from DynamoDB into their Elasticsearch cluster with the change we introduced. At the same time, we’re working on a smoother upgrade experience in the CLI to inform our customers about this change and point them to the script to

[2020-03-20 02:28] undefobj commented on #2988
Wanted to provide an update to all customers on this thread. As @yuth mentioned we've been working on this and have a couple of releases in flight. You can see PRs here:

https://github.com/aws-amplify/amplify-js/pull/5128
https://github.com/aws-amplify/amplify-cli/pull/3718

We'll update soon when releases are ready for testing.

[2020-03-20 03:14] houmark commented on #3705
Thanks for your feedback @SwaySway and sorry for being direct, but you guys need to a ******* grip and start respecting your users, or Amplify will be abandoned by anyone who needs anything else than a playground/mockup app.

I have done web development for 22 years now and I have never experienced more platform instability in relation to new releases than I have on Amplify and you largely operate

[2020-03-20 03:43] undefobj commented on #3684
@lexfaraday We recently added this capability here can you check it out? https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-20 03:49] rarira commented on #3705
@houmark totally agree with you..
indeed I raised almost same issue #3602

[2020-03-20 04:33] apoorvmote commented on #3720
I found code on #1678 and even though its unofficial it works.

But its rediculous why are we using low level `aws-sdk` and creating post request and writing our own headers in official documentation. Its absolutely crazy to me. Why not recommend using`aws-amplify` in official documentation or at very least `aws-appsync` and `graphql-tag`.

Is this about performance or something?

Because I was us

[2020-03-20 04:49] undefobj commented on #3720
`aws-sdk` is built in to the Lambda runtime which means you don't have to manage dependencies which you would need to do with other solutions like `aws-appsync` and `graphql-tag`.

Amplify libraries such as the API category are not supported in NodeJS as this time and would add overhead as well and dependency management. The link in our documentation is the lowest level and most performant route y

[2020-03-20 04:54] apoorvmote commented on #3720
I tested both `aws-amplify` & `aws-appsync` with `graphql-tag`. Both are working fine in nodejs environment with lambda. And I will be using `aws-amplify` for my production. It only requires `lodash` to be installed as dependancy. So far no problems.

[2020-03-20 05:06] rpostulart commented on #2988
Cool! I am looking forward! Thanks already

[2020-03-20 06:02] 24jr commented on #3720
@apoorvmote hey you seem knowledgeable about this. Did you get working? You prob saw where I'm at in trying to get this working in the issue you linked to above. If you got it working would you mind sending your lambda code if not a problem? Thanks!

[2020-03-20 06:22] apoorvmote commented on #3720
@24jr Yes I did get it working. But I am absolutely not knowledgeable about it. I did lots of trial and error. And somehow it works. Even though officially its not recommended.

The official answer is go to https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

Yes with terminal you need to go inside lambda src folder. Then type `npm i aws-amplify lodash`.
Then right next

[2020-03-20 06:22] #3720 closed

[2020-03-20 07:30] 24jr commented on #3720
@apoorvmote how do I find the terminal? I'm just in the lambda page on aws website not in like vs code or something. Also, I think the other example was using app-sync not amplify but I think amplify is prob better. And you're using a different auth method here I think which makes no difference to me for my case. In which case though, if you don't mind could you send your complete lambda function

[2020-03-20 07:40] bugzbuks commented on #1997
@Yuth Java is installed and working.

[2020-03-20 08:11] ericowlie opened #3721 "Calling "amplify init" with "--yes" pushes on the cloud at the end of initialization"
**Describe the bug**
When calling "amplify init" in headless mode using ```--yes``` option, after the initialization the cli pushes the project on the cloud like if I called ```amplify push --yes```.

This is important for me because I try to initialize it on ```Amplify Console``` in which I need to use the ```--yes``` option. The behaviour is reproductible outside of ```Amplify Console```, on Win

[2020-03-20 08:32] apoorvmote commented on #3720
@24jr  I am not sure what your situation is.
1. It seems like you are more comfortable with `aws-amplify` but you are adding lambda manually from aws website.
1. You keep mentioning the other example that is lambda function added along side amplify project (not done manually from aws website lambda section like you are doing) and is backed by REST API.
1. And I am doing neither of things from abov

[2020-03-20 09:09] apoorvmote opened #3722 "Datastore fails to sync if I restrict access to group"
**Describe the bug**
When you set auth to `{allow: groups, groups: ["admin"]}` then entire datastore only works if admin logs in. If non admin logs in then other types that are `{allow:owner}` also don't sync. Everything stops working if non admin logs in.
`DataStore - Sync error subscription failed Connection failed: {"errors":[{"errorType":"Unauthorized","message":"Not Authorized to access onUpd

[2020-03-20 09:18] iShavgula commented on #3693
I'm using amplify version 4.16.1 and this works for me.

[2020-03-20 10:23] Alk3m1st commented on #1773
Also wondering if there are any updates?

[2020-03-20 11:09] daghanacay commented on #3627
I can confirm that all the buckets except for the hosting bucket is
deleted.

Can you also delete the hosting bucket? is there a reason why you leave it?

Cheers
-Daghan

On Fri, Mar 13, 2020 at 8:41 AM Kaustav Ghosh <notifications@github.com>
wrote:

[2020-03-20 11:44] Lasim commented on #3399
+1

[2020-03-20 11:51] lexfaraday commented on #3684
@undefobj Which version I should to use? I've updated with "yarn upgrade", but I can't see the "Lambda Trigger" option within this version:

─ @aws-amplify/analytics@1.4.3
├─ @aws-amplify/api@1.3.3
├─ @aws-amplify/interactions@1.2.3
├─ @aws-amplify/predictions@1.2.3
├─ @aws-amplify/pubsub@1.3.3
├─ @aws-amplify/ui@1.2.3
├─ @aws-amplify/xr@0.3.3
├─ @aws-crypto/crc32@0.1.0
├─ @aws-sdk/eventstream-mar

[2020-03-20 11:59] idanlo commented on #3693
@iShavgula Are you sure? can you share a screenshot of a lambda function creation with access to DynamoDB tables created by AppSync?

[2020-03-20 12:02] iShavgula commented on #3693
<img width="1027" alt="Capture d’écran 2020-03-20 à 13 02 06" src="https://user-images.githubusercontent.com/6018680/77161916-0e4b7700-6aab-11ea-8bcf-b56e77d74cec.png">

[2020-03-20 12:06] idanlo commented on #3693
@iShavgula That's amazing, I didn't know it was in the storage category. This helps a lot, I was doing it manually until now. Weird how @UnleashedMind marked this as an enhancement if it already exists

[2020-03-20 12:07] idanlo commented on #3693
@iShavgula I tried doing this all along, guess I needed to create a `Hello World` function
![image](https://user-images.githubusercontent.com/28350511/77162202-122fc700-6ab4-11ea-9e4f-99859329572c.png)

[2020-03-20 12:31] iShavgula commented on #3693
@idanlo it has not been long time since it’s available, maybe couple of days.

[2020-03-20 15:15] CodySwannGT commented on #3660
4.13.1

[2020-03-20 15:23] 24jr commented on #3720
@apoorvmote Yeah I am more comfortable with aws-amplify for sure from my web app I've just never used it from lambda. I guess I just use it the same way most likely then.

Well I created the DynamoDB table from my GraphQL schema in the app and did amplify push. I what to get a stock price and add it to the table every minute using a cloud watch function that triggers it every minute. I figured out

[2020-03-20 15:27] onlybakam opened #3723 "Failed to create amplify stack: SNSRole already exists in stack"
**Describe the bug**
A clear and concise description of what the bug is.

run `amplify add auth`
stack creation fails because an SNS role with the same name  in another amplify stack already exists

this issue has existed for quite some time

**Amplify CLI Version**
4.16.1

**To Reproduce**
i believe this has to do with the naming of the amplify project
if there is a "-" in the project name (and h

[2020-03-20 15:30] blazinaj commented on #3708
I think this is an issue now with react-scripts, it is tied with the frontend build command. I'm sorry for asking about it here. I set the --max_old_space_size flag in my build script and seemed to fix it. Thanks for the quick response.
[code]

[2020-03-20 15:30] #3708 closed

[2020-03-20 15:58] sammartinez commented on #3724
@mlafo Thanks for getting back to me, this seems to be a possible issue with Amplify CLI. I have transferred the issue to their repo.

[2020-03-20 16:15] kaustavghosh06 commented on #3723
@onlybakam This is a duplicate of #3687 and I'll be looking into it. Closing as duplicate.

[2020-03-20 16:15] #3723 closed

[2020-03-20 16:55] lawmicha commented on #3247
thanks for the PR - updating docs https://github.com/aws-amplify/docs/pull/1275

[2020-03-20 17:17] blazestudios23 commented on #142
No I switched to Prisma.

[2020-03-20 17:18] #3247 closed

[2020-03-20 17:21] mdebo commented on #3664
@MattWlodarski I meet the same probleme.
firstName and lastName are optionnal. If I run a Mutation (update) without specifying those optional fields the sort key contains the pattern you mentionned (${ctx.args.input.first}#${ctx.args.input.last})

[2020-03-20 17:28] daajack opened #3725 "Unexisting provider to delete in the status list"
**Describe the bug**
Sometimes an unexisting provider appear in the status list as a service to be deleted. It disappear after push, and few later reappear.

This does not throw any error and is not very annoying, but strange ...
There is no provider plugin linked to it.

**Amplify CLI Version**
4.16.1

**To Reproduce**
No idea

**Expected behavior**
No extra unknown provider

**Screenshots**

[co

[2020-03-20 20:48] ChristopheBougere commented on #2936
I am currently using lambdas deployed with Serverless for my custom AppSync resolvers, and it works well. It is quite easy to define the lambda name using the `${env}` variable: `@function(name: "serviceName-${env}-lambdaName")`.

It would be very useful to have the same capability for lambda triggers.

@Jkap7788 @kaustavghosh06 Could we reopen this issue, and mark it as a feature request?

[2020-03-20 21:24] bmilesp commented on #1055
I also agree with @ambientlight regarding changing the @before and @after directives to a more chainable directive (quoted from @ambientlight  above):

[code]

the pipeline chain that includes models could become very robust.

[2020-03-20 22:47] amuresia commented on #3704
+1, facing the same issue.
The credentials in the profile map to AdministratorAccess in IAM.

[2020-03-20 22:56] brene commented on #3705
@houmark and @rarira - Can we jump on a call with you to walk you through the solution that @SwaySway is proposing to ensure a successful resolution. DM me on Twitter [@renebrandel](https://twitter.com/renebrandel) to find a good time to call.

This change wasn't intended as a breaking change but we recognize the impact in hindsight. In parallel, @SwaySway is readying a self-serve solution and ame

[2020-03-20 22:59] RussMax783 commented on #3570
I updated my backend-config file and tried doing a force push. In the terminal it gives me a GraphQL API KEY, but things are still in a bad state. I can't add @auth directive to my models to allow for public access as it still give me an error when i try and update. After trying to run an amplify command the backend-config file went back to only having the one `defaultAuthentication` and removed t

[2020-03-20 23:06] nikhname commented on #2391
@SebSchwartz What is in the .gitignore for your project?

[2020-03-20 23:07] #3569 closed

[2020-03-20 23:07] #3513 closed

[2020-03-20 23:09] jhockett commented on #3513
Schema update was merged and is pending release.

[2020-03-20 23:31] UnleashedMind commented on #3721
the --yes flag will try to use the default values for any prompt and carry out the command execution without interruptions, it only prompt if it can not get any meaningful default answer to a prompt from the CLI.
If you already have the team-provider-info in the project when you run the `init` command,  the CLI knows about the backend environments of the project, and knows where to retrieve the ne

[2020-03-20 23:58] ericowlie commented on #3721
What I mean by the ```init``` command launches ```push```, is that once the normal process of ```amplify init``` is finished, instead of giving me the hand on the terminal, it goes through the same process as an ```amplify push``` would once you said you're ok to push the changes.
And even if there is actually no changes to push (which is the case because I am just initializing), it pushes anyway

[2020-03-21 00:18] rush86999 commented on #3237
Same problem here. Any update?

[2020-03-21 00:36] rush86999 opened #3726 "update mutation with new cli does not work???"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
Create a new project with schema. I am unable to update any of the values with generated mutation graphql mutations with cli. I make sure the required input values are included in the inputs to update the non-required values when I

[2020-03-21 00:52] jarkin13 commented on #3321
@ryanhollander I was able to get this working. However, now `amplify mock` does not work. Any idea how to fix that? Should I add the stack config from `/bulid/stacks/MyModel.js` and make the updates there vs. `CustomResources.json`?

Also on another note, do you have any clue how to add interfaces as a `@model`? Something like:
[code]

[2020-03-21 01:00] simholte commented on #3437
@ricsirigu I finally got a chance to look into this, from what I can tell from how the other subscriptions work dynamic authorization isn't possible.  For example when you use static groups those things are known at the time the socket connection is established, if the user isn't in one of those static groups the resolver returns unauthorized.  So basically they're saying that in order to establis

[2020-03-21 01:00] rush86999 commented on #3726
I am guessing there's versioning issue?

[code]

[2020-03-21 04:24] RayStroud opened #3728 "`amplify publish` does not correctly exit if the build fails"
### **Describe the bug**
When running `amplify publish`, any failures during the build do not correctly exit, therefore subsequent commands are run when they shouldn't.

### **Amplify CLI Version**
4.16.1

### **To Reproduce**
1. Initialize an app with CRA and amplify.
[code]
2. Break the React build, e.g. import something that doesn't exist.
[code]
3. Run the following command, and notice how the

[2020-03-21 10:01] gaboucand commented on #3428
Hi ammarkarachi,

The result depends on the cognito user pool settings.
If you set "_Allowed OAuth Flows_ " to "_implicit grant_" or "_client credentials_",
 then the "Auth.federatedSignIn()) call would return an error.

This is due to the hard coded response type  "_response_type=code_".
It look like it is expected that the user pool is set to use only "_Autorisation code grant_".

Regards

[2020-03-21 11:27] RossWilliams commented on #3726
Can you restate you problem in a different format to better identify the issue? If you can provide the following information needed I’m happy to help.

1. The schema.
2. Any customisations made to resolvers.
2. A GraphQL query or mutation run directly inside the AppSync console. Specify the user permissions used (owner and groups)
3. The result of the query
4. Your expected query result.

[2020-03-21 11:58] RossWilliams commented on #3705
@brene the amplify team acknowledged this as a breaking change 9 days ago. It would re-assure me if the process for resolving breaking changes can be published, and whether the process was followed in this instance. If there is not a current policy, I’d urge one to be created and published, or at least a public outline of one. If your process was not followed, I’d like to hear why and what type of

[2020-03-21 12:31] rush86999 commented on #3726
1. schema - I will list the relevant parts

[code]

2. no customization made to resolvers. Only whatever was autogenerated by the cli

3.  Mutation:
[code]
user permission used: owner.

4. result of the query
The initial updated value.  (the VERY FIRST time update was run. Only this value. No new values are updated.

The field trying to update is profilePicture -  a key that is uploaded on S3 for

[2020-03-21 12:35] mdebo opened #3730 "Datastore efficient query and subscription for multi tenant app"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.16.1
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Amplify Datastore, Api

Hello

I don't find in the doc the answer to my question.
I have a mult

[2020-03-21 12:39] rush86999 commented on #3726
One more thing- there is NO owner field inside Profile table but there is one inside Users table. This is very odd. There should be an owner field for each schema.

[2020-03-21 12:42] RossWilliams commented on #3726
can you edit your above comment to make your schema correct?

[2020-03-21 12:44] rush86999 commented on #3726
I am not sure I understand. "owner" field is autogenerated by the cli. It's not part of the schema? What should I edit?

[2020-03-21 12:48] RossWilliams commented on #3726
Never mind, I understand what your are trying to say. Profile does not have an owner property in the *generated* schema because there is no owner auth rule on the Profile model.

I’ll take a look at reproducing your issue shortly

[2020-03-21 12:49] rush86999 commented on #3726
oh i see. maybe I can try adding that property and try again but it should work with group ownership of "Users"

[2020-03-21 13:53] RossWilliams commented on #3726
tl;dr: When you call the "updateProfile" mutation, because you have versioning turned on, you need to pass in the _current_ _version number as part of the update input object. In your react code I can see you aren't doing this.

To test this and show it working properly:
1. Create and push schema (I've removed references to Stats, UserHost, Customer)
[code]

2. In ./amplify/amplify-meta.json, note

[2020-03-21 13:58] rush86999 commented on #3726
I have two roadblocks depending on the solution that would work best.

1. I don't know how to modify to add versioning on client side. I am not sure how the client would be aware of the current version.

2. I really don't need versioning. Is there a way to turn this off? I want to simplify the solution as much as possible so there are no future issues.

[2020-03-21 14:00] RossWilliams commented on #3726
2. in the cli options for ```amplify add api``` select NO for "? Configure conflict detection?"

1. you can get the current version in the query you do for the Profile, and pass it along to the update method.

[2020-03-21 14:02] rush86999 commented on #3726
oh I see. thanks. I will test this and let you know.

[2020-03-21 16:16] tgjorgoski commented on #1406
@mikeparisstuff, @kaustavghosh06  , to avoid getting issues with multiple GSI because of big refactoring, I created a new env and planned to push there (I'm not worried about losing the data). However even after I did amplify env add, when I try to do amplify push, I get the following error:
`
Attempting to add and remove a global secondary index at the same time on the ProjectTable table in the P

[2020-03-21 16:51] nagey commented on #1406
@tgjorgoski you can get around this by doing your GSI changes one at a time with an amplify push in between. Also, if you set up a completely fresh env, that should also get you around this issue.

[2020-03-21 16:52] tgjorgoski commented on #1406
@nagey , yes, I used to do GSI changes one by one, but because I had lot of modifications now, I just thought I will create completely fresh env (amplify env add). What is confusing though is that it fails with that message on this new env.

[2020-03-21 16:54] CodySwannGT commented on #1406
I wish people would stop selling this as a workaround.

It’s not.

In a given iteration, we may add 4 to 7 indexes. Pushing them one at a time
requires figuring out which need to be commented out and what connections
need to be commented out.

Additionally, because the code is written assuming these indexes exist, the
app is broken until all indexes are pushed.

Plain and simple, this is broken an

[2020-03-21 18:47] blairtaylor opened #3734 "amplify push fails when deploying/creating more than 25 @models at once"
We are attempting to create a prod backend environment. We already have 2 existing non-prod environments which have been up for a few months.

We have created the environment via amplify env add

We have 46 tables in our graphql schema and 93 existing tables in our DynamoDB region so we should not be running into the initial limit of 256 tables per AWS Region.

When we run the amplify push command

[2020-03-21 18:50] kaustavghosh06 commented on #3734
The entire Cloudformation error log would be helpful. The above log doesn't give the reason for the stack to fail.

[2020-03-21 18:53] kaustavghosh06 commented on #3734
Also, there's a limit on DynamoDB to create only 25 tables at a given time. Reference - https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html

API-Specific Limits
CreateTable/UpdateTable/DeleteTable
In general, you can have up to 50 CreateTable, UpdateTable, and DeleteTable requests running simultaneously (in any combination). In other words, the total number of tables in th

[2020-03-21 18:56] blairtaylor commented on #3734
Thanks. Two points.

1. We already have an existing environment with 43 tables. We likely created them incrementally.

2. How do we work around this limit? Surely Amplify supports creating a new environment with more than 25 tables?

[2020-03-21 19:01] kaustavghosh06 commented on #3734
@bl

Yes, that must have been the case.

Yes, it does but you'll have to do it incrementally( similar to what you must've done in your existing environments). This is due to DynamoDB API restrictions on CreateTables API mentioned above.

[2020-03-21 19:06] blairtaylor commented on #3734
Ok. Thanks. We'll have to try to work around this. I am puzzled - how are very large clients handling this? 25 table limit is very small. I have worked on relational DBs with 1000's of tables. Creating a new environment in that case would not be practical.

[2020-03-21 19:16] kaustavghosh06 commented on #3734
@blairtaylor I've usually seen customers build their apps incrementally - with not more than 25 DynamoDB tables created at once in an environment. But yes, it's a service level limitation and the Amplify team has a plan this year to get around these limitations by queuing  our deployments - to abstract away service level limitations like the one you experienced.

[2020-03-21 19:57] amuresia commented on #2227
+1

[2020-03-21 20:01] amuresia commented on #1695
+1

[2020-03-21 20:06] blairtaylor commented on #3734
We removed all but 19 core tables and attempted an amplify api push

The push seemed to create all the tables but still threw an exception

UPDATE_COMPLETE                     amplify-marketbox-proda-150826 AWS::CloudFormation::Stack Sat Mar 21 2020 15:48:25 GMT-0400 (Eastern Daylight Time)
UPDATE_COMPLETE_CLEANUP_IN_PROGRESS amplify-marketbox-proda-150826 AWS::CloudFormation::Stack Sat Mar 21 202

[2020-03-21 20:20] amuresia commented on #1789
This would be a very useful feature. +1

[2020-03-21 21:21] blairtaylor commented on #3734
We created a new environment.
We commented a number of tables in the schema leaving 19 left.
We did an amplify api push

We were able to create the tables in the new environment.

We then uncommented other tables (total 38, incremental 19) and did an amplify api push

We not get the following error:

UPDATE_COMPLETE functionesprovidersearch AWS::CloudFormation::Stack Sat Mar 21 2020 17:06:05 GMT-0

[2020-03-21 21:27] RossWilliams commented on #3734
@blairtaylor can you look at CloudFormation in the console, find any error events in your stack, where possible drill into the nested resource where there is a failure, and look at those failed events?

[2020-03-21 21:32] blairtaylor commented on #3734
I've come across this error before

Resource is not in the state stackUpdateComplete
There was an error pushing the API resource
ResourceNotReady: Resource is not in the state stackUpdateComplete

when doing an api push and was advised to do an amplify push (which worked on a previous issue). So I'll try an amplify push now.

[2020-03-21 21:33] RossWilliams commented on #3734
@blairtaylor do you see the stack you are trying to deploy at all? If it’s not in stack update complete, you should be able to find it in the console to track down the issue.

You can also generate this error by simply trying to push an update while a current update is still running

[2020-03-21 21:35] SebSchwartz commented on #2391
@nikhname .gitignore:
[code]

[2020-03-21 21:56] blairtaylor commented on #3734
I just ran amplify push.

Getting lots of errors on creation of the resolvers.

CREATE_FAILED amplify-marketbox-prodone-161616-apimarketbox-TXAZBADFVQXQ-UserInvitation-6A87VQJZB33K AWS::CloudFormation::Stack Sat Mar 21 2020 17:54:51 GMT-0400 (Eastern Daylight Time) The following resource(s) failed to create: [GetUserInvitationResolver, CreateUserInvitationResolver, DeleteUserInvitationResolver].
C

[2020-03-21 21:57] RossWilliams commented on #3699
To restate your issue in more generic terms: you need to sort a model by some value that only exists in an adjacent model. In your case sort conversation by the maximum updatedAt property on the list of messages.

There is a client-side and server-side solution to this, but you need to modify the updatedAt property on conversations when a message is inserted. The client-side solution is to make tw

[2020-03-21 22:29] RossWilliams commented on #3734
It’s very hard to diagnose without seeing the details and poking around. I’d be curious to see the error events in the console around the first push at 17:05. The errors on the subsequent push I’d ignore until the cause of the initial error is found. Those latter errors seem to be due to a schema - CloudFormation template mismatch. You may want to consider destroying and recreating the environment

[2020-03-21 22:51] blairtaylor commented on #3734
We've created several environments tying to get this to work.
We are running out of prod related names to use.
We've also had issues with amplify env remove <envt> also crashing.

[2020-03-22 00:30] mikeRChambers610 commented on #92
This is still not working for me. I have a query / resolvers which were automatically created by the CLI. No when I create the identical query and resolvers manually with slightly different name, there is null data returned.

[2020-03-22 02:22] blairtaylor commented on #3734
We seem to have gotten to the root of the issue. We are hitting the default limit - 200 CloudFormation Stack Count. We've requested an increase (Case ID 6892494531). Is there any way to expedite this request? We've now spent an entire day attempting to create a new Amplify environment.

[2020-03-22 02:28] apoorvmote opened #3736 "Release description in detail."
**Which Category is your question related to?**

Amplify cli

**Amplify CLI Version**

4.17.0

**What AWS Services are you utilizing?**

Amplify Congnito Dynamodb

**Provide additional details e.g. code snippets**

Just few hours ago there was release update. But I am interested in specifically what is changed in this release. You guys update documentation directly. I have to read every single pag

[2020-03-22 02:38] brene commented on #3705
This was a bug fix that resulted in an unintended change. For intended breaking changes, we update Amplify CLI's major versions.

@houmark - We have fixed this issue starting in CLI versions > 4.16.1 and prepared a Python script to remove duplicate records for anyone affected by the issue (CLI version 4.14.1 - 4.16.1). We have documented the migration step here in our [documentation](https://aws-a

[2020-03-22 02:38] #3705 closed

[2020-03-22 02:39] brene commented on #3602
Hi @rarira - I'm closing this per #3705

[2020-03-22 02:39] #3602 closed

[2020-03-22 03:47] mikeparas opened #3737 "Function environment variable for a DynamoDB table name includes "Table" in the name"
**Describe the bug**
When adding a new function via `amplify add function`, you can allow access to a data source DynamoDB table. This also provides an environment variable referencing the table name. While the actual DDB table name is something like `Foo-<appsync id>`, the environment variable table name ends up being `FooTable-<appsync id>`. Note, the table ARN environment variable is correct.

[2020-03-22 05:08] tgjorgoski commented on #1406
OK, for my problem where even for newly created env I was getting the `Attempting to add and remove a global secondary index at the same time` issue,  I resolved it by deleting the `#current-cloud-backend` folder.

[2020-03-22 06:05] tgjorgoski opened #3738 "How to take advantage of /* GraphQL /* comments"
Hi,

I noticed that codegen for JS/TS adds ` /* GraphQL */` comments before the query/mutation strings.
I assume that it is used by some editor plugins and/or linters for syntax highlighting / checks /  autocomplete?
Anyone knows of any tools that use this comment annotation, and how to configure them?

[2020-03-22 09:54] bastianbb commented on #2227
+1

[2020-03-22 13:36] simholte commented on #3437
@ricsirigu I finally got a chance to look into this, from what I can tell from how the other subscriptions work dynamic authorization isn't possible.  For example when you use static groups those things are known at the time the socket connection is established, if the user isn't in one of those static groups the resolver returns unauthorized.  So basically they're saying that in order to establis

[2020-03-22 13:36] #3437 closed

[2020-03-22 14:02] rarira commented on #3602
@brene I just tested new 4.17.1 and it seems that it solved this issue but your backfill python script doesn't work as expected...

at first, I acknowledged that I'm not good at elasticsearch so it might be my fault.

I have a Conv model which has 'user1state' which is string and this string is 'ISO date string' or just plain string.
[code]

but your backfill script map this field automatically ty

[2020-03-22 15:16] amuresia opened #3741 "Incorrect bucket name"
**Describe the bug**
I am adding a storage resource and the name of the created bucket has the env added twice.
**Amplify CLI Version**
`4.16.1` and `4.17.1`

**To Reproduce**
amplify add storage
give the bucket a name like myapp-storage

**Expected behavior**
I expect a bucket called `myapp-storage-dev` to be created (when the checked out amplify env is dev)

**Actual behaviour**
A bucket called

[2020-03-22 15:20] SwaySway commented on #3602
@rarira The reason this might be happening is because the python stream lambda will push the record from the dynamodb stream into elasticsearch. During this time the types being used in the record are inferred.

Does the string `user1state` have a date format?

[2020-03-22 15:29] amuresia commented on #1874
I want to save the user details in a DynamoDB when they sign up, not when they verify.
Without adding permission to the api, the necessary env variables are not added to the pre signup lambda function, and if I add permissions to the api then I get the same circular dependency error.

[2020-03-22 18:04] rarira commented on #3602
I also understand the process.

I mentioned that the string ‘user1state’  has either “iso date string” or “just plain string”. And of course there was no populated index before running script. So I needed to “backfill”

And I also that if there exists index with custom field type mapped, for example, “user1state”: “text” the script doesn’t work at all, I mean no dynamoDb item indexed.

[2020-03-22 18:23] blairtaylor commented on #3734
After requesting/receiving an increase to the CloudFormation Stack Count service quota (initially 200), we are now able to successfully build our production environment. Thanks.

Taking a look at the service quotas for Amplify, the service quotes for Amplify are not adjustable. Will they be in the future? The quotas I am most concerned with are the limit of 5 domains per app and limit of 50 subdom

[2020-03-22 20:02] mdebo opened #3743 "Datastore base query in multi tenant app"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.16.1

Hi,
I ask myself how the base query done by the sync engine works. Does it pull from remote db random data at bootstrap, or it is based on query done in the frontend (like apollo cache).
Hi, I would like to kn

[2020-03-22 20:36] tfendt commented on #3681
Is this not possible with Amplify? It is such a simple operation to not be able to do.

[2020-03-23 03:17] gitzhouxinyu1 commented on #682
I also experienced this issue.

[2020-03-23 03:51] chakimar opened #3744 "Duplicated comment in index.js when appsync and multi dynamodb tables permission granted to Lambda function."
**Describe the bug**
After `amplify function update` auto generated duplicated comment in index.js.

**Amplify CLI Version**
4.17.1

**To Reproduce**
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Desktop:**
 - OS: Ubuntu
 - Node Version: v12.14.1

[2020-03-23 05:54] undefobj commented on #3743
Please take a look at this video and written explanation on how the sync process works: https://aws-amplify.github.io/docs/js/datastore#how-it-works

Are you looking to filter and sort data when you say "configure the base query"?  Can you be more specific with your use case?

[2020-03-23 11:28] clodal commented on #3687
I am also facing this issue. Without the hyphen it works fine.

[2020-03-23 12:42] Jay2113 opened #3745 "While using Amplify DataStore, Android Studio cannot find nodejs installed in the system."
**Describe the bug**
I have created an Android App and I am trying to integrate Amplify DataStore into it. In the process, while trying to run the modelgen task from Android Studio I am observing an error saying Nodejs is not found.

**Amplify CLI Version**
4.16.1

**To Reproduce**
Create a basic Android App and try to integrate Amplify DataStore. Reference: https://aws-amplify.github.io/docs/andr

[2020-03-23 13:10] smoothwood commented on #3008
running into this issue as well...seems less people using subscription, so it hasn't been prioritized ?

[2020-03-23 13:43] RossWilliams commented on #3705
From the SemVer spec:

Outstanding problems:
* I'd guess most people first experience new amplify-cli versions through the amplify console, as it defaults to pull the latest version. The CLI warning won't be seen by people using git hooks to deploy. The console should not auto-upgrade beyond 4.14.1 for any user who has not yet deployed since this release.
* The console should no longer default pro

[2020-03-23 14:51] chriswessells opened #3746 "initTriggerEnvs path issue, no such file or directory"
**Describe the bug**
I am contributing to an existing Amplify project. I download the source code and run `amplify init`. In the process It asks if I want to create a Lambda. Regardless of my answer I get the error `Error: ENOENT: no such file or directory, open` referring to `.nvm/versions/node/v10.17.0/lib/node_modules/@aws-amplify/cli/node_modules/amplify-category-function/lib/provider-utils/aw

[2020-03-23 15:21] no-creative-name commented on #3746
I have the same problem, just with the CustomMessage trigger.
Error: ENOENT: no such file or directory, open 'C:\Users\timo.mayer\AppData\Roaming\npm\node_modules\@aws-amplify\cli\node_modules\amplify-category-function\lib\provider-utils\awscloudformation/../../../amplify-category-auth/provider-utils/awscloudformation/triggers/CustomMessage/CustomMessage.map.json'

[2020-03-23 15:46] kaustavghosh06 commented on #3008
Hey guys, this issue is tied only to mock/local-testing for subscriptions and in now way affect your deployed app. We're actively working on fixing this issue.

[2020-03-23 16:07] chriswessells commented on #3746
@no-creative-name  For me, I installed amplify-cli@4.16.1 which solved my problem.

I found the problem and submitted a pull request to fix it.

[2020-03-23 16:08] ammarkarachi commented on #3746
@chriswessells does `amplify init` prompt you to create a lambda?

[2020-03-23 16:20] #3693 closed

[2020-03-23 16:23] idanlo opened #3748 "DynamoDB table names generated in a new lambda function are incorrect"
**Describe the bug**
When creating a new lambda function and choosing to use an express template, and access other resources, then storage, then a certain table created by GraphQL schema (for example `User@model` it generates the table name in environment variables but the table name is incorrect, for example it generates `UserTable-XXXXX` (where `XXXXX` is the AppSync API ID) but the table name i

[2020-03-23 16:49] UnleashedMind commented on #3721
The `push` workflow will update the resource on the cloud based on your local changes, when you run init, your local development has not been setup yet, there is nothing to `push`.
Could you take a screenshot and show the `push` that was launched by the `init` workflow?

[2020-03-23 17:02] chriswessells commented on #3746
@ammarkarachi Yes, `amplify init` prompts me to create a lambda. I tried many options from select one lambda auth option to selecting all, to no lambda. All options gave me the same error. I spoke with the team who created the amplify project and for that project they said answer "No" to creating a lambda.

[2020-03-23 17:32] ammarkarachi commented on #3746
@ChristopheBougere Can you share your init script?

[2020-03-23 17:35] UnleashedMind commented on #3704
@amuresia
Your issue is different than @dotku 's issue.
Your issue is not about permission, but missing artifacts in the deployment bucket.
Have you recently modified contents in your S3 buckets?

[2020-03-23 17:52] jimcal opened #3922 "[v2-feedback] Issue when AWS Profile unable to run amplify init"
**Page**: [`https://docs.amplify.aws/start/getting-started/setup?integration=js`](https://docs.amplify.aws/start/getting-started/setup?integration=js)

**Feedback**:
Was trying to create an AWS Profile under our corporate federation. Seems that by using accessKeyId and secretAccessKey to setup the profile is no longer enough.

Here is the exception I get:

[code]

[2020-03-23 18:28] akgm3i commented on #3706
`// eslint-disable` just disable only one line.
disable whole file needs `/* eslint-disable */`.
and I had forgot `aws-exports.js`, `amplify-config.js`.

[2020-03-23 18:58] sirceljm opened #3751 "@auth with Aurora serverless endpoints"
**Which Category is your question related to?**

Api

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.16.1

**What AWS Services are you utilizing?**

Api, DynamoDb, Cognito, Storage

**Provide additional details e.g. code snippets**

I have a project where I successfully generated DynamoDB tables with @auth directive in the graphql.schema file. I

[2020-03-23 21:12] UnleashedMind commented on #3725
Did you notice any particular pattern on how it appears and disappears? just so we can reproduce the issue

[2020-03-23 21:52] dtelaroli commented on #2915
+1

[2020-03-23 23:18] UnleashedMind commented on #3674
Closing the issue.
You can still comment on it if needed.

[2020-03-23 23:18] #3674 closed

[2020-03-23 23:58] SwaySway commented on #3681
Hi @tfendt if you are referring to setting this kind of increment type operation in the schema, a custom implementation of this could be done through a [customer transformer](https://aws-amplify.github.io/docs/cli-toolchain/plugins#custom-graphql-transformers). Another way would be to create a [custom resolver](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers) which would

[2020-03-24 00:32] blazinaj opened #3752 "4.17.0 breaking changes"
v4.17.0 or v4.17.1 seems to include breaking changes. Got a failing build with an un-edited schema

[code]

Reverting back to 4.16.1 allows the build to success.

[2020-03-24 01:56] attilah commented on #3736
@apoorvmote thanks for the feedback, I am marking it as an enhancement, we're working on to making it better. We are using conventional commits, so we've a per package ```CHANGELOG.md``` file where the changes can be gathered.

[2020-03-24 02:03] attilah commented on #3738
@tgjorgoski all the IDE/editor plugins that are based on [gql](https://www.npmjs.com/package/%40playlyfe/gql) package are supporting this, it enables you various features like jump to definition and such things when a GraphQL code snippet encountered in code files. For VS Code you need this [plugin](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode).

[2020-03-24 02:03] #3738 closed

[2020-03-24 02:04] dtelaroli commented on #659
+1

[2020-03-24 02:14] attilah commented on #3752
@blazinaj this should not be an issue, could you please share your schema with us? if you can't post it here, please send it to amplify-cli@amazon.com.

[2020-03-24 02:32] apoorvmote commented on #3736
@attilah `CHANGELOG.md` is hard to find and difficult to understand cryptic statements. If you create blog post or news post & just write summery in plain english with links to documentation to read more information then it would be great.

[2020-03-24 03:00] bobbles911 commented on #1546
amplify is just not usable for me. All non changeable attributes should be able to be specified on the cli

[2020-03-24 07:31] cunneen commented on #3013
This doesn't solve your main problem, but to recreate an environment (e.g. because of the push errors) I do this:

1. `amplify env add` - create a new `temp` environment (does an `env checkout` too)
2. `amplify env remove <environment_name>` - remove the env you wanted to remove
3. `amplify env add` - recreate the env you just removed (does an `env checkout`)
4. `amplify env remove temp` - remove

[2020-03-24 09:05] mdepascale opened #3753 "Is it possibile to change the filter of @searchable autogenerated query?"
**Which Category is your question related to?**
Amplify auto generated query @model @searchable

**Amplify CLI Version**
4.16.1

**What AWS Services are you utilizing?**
Amplify, DynamoDB, ElasticSearch, Cognito

**Provide additional details e.g. code snippets**
`searchDocuments(filter: SearchableDocumentFilterInput, sort: SearchableDocumentSortInput, limit: Int, nextToken: String): SearchableDocu

[2020-03-24 13:26] alexdoan102 commented on #3265
@kaustavghosh06 has there been any movement on this?  we need this fix urgently, because our minification workaround, does not work anymore. we have another issue now:

`The FunctionDirectiveStack.json stack defines more than 200 resources.
Cause: CloudFormation templates may contain at most 200 resources.
How to fix: If the stack is a custom stack, break the stack up into multiple files in stacks

[2020-03-24 14:32] daajack commented on #3725
Okay, i'll check when it appears again, i didn't see it for a while.
Not sure, but i think it appears when updating graphql. I will watch amplify-meta.json, but for now, there is no categories in it.

[2020-03-24 15:13] ryanhollander commented on #3321
@jarkin13 I haven't ever used mock. I just tried it and I get an error when I run it. I'm sorry, I don't personally have time to figure that out right now. I suggest opening a new issue for the devs or another kind soul with more experience with that feature than I have.

Regarding interface, I don't think it's supported with @model and quick google search brings up these:
https://github.com/aws-a

[2020-03-24 15:45] apoorvmote opened #3754 "Deleting optional string doesn't work with Datastore"
**Describe the bug**
I save image on S3 and the url for the image on Dynamodb with optional String. When I delete image I tried to set it to undefined and I get following error
`Field imageKey should be of type string, undefined received. undefined`

**Amplify CLI Version**
4.17.1

**To Reproduce**
1. `npx create-react-app test --use-npm --template typescript`
1. `amplify init`
1. `amplify add aut

[2020-03-24 17:30] ammarkarachi commented on #3754
@apoorvmote Have you tried using null?

[2020-03-24 17:37] ammarkarachi commented on #3753
@mdepascale `@searchable(null)` would not be possible, If you could give us more information on what you are trying to do with `@searchable` we could come with a possible solution

[2020-03-24 18:32] mdebo commented on #3664
Hi

Any news about it ?
thanks

[2020-03-24 18:46] MattWlodarski commented on #3664
Well here is part of my schema I setup as mentioned before, I haven't touched anything else:

`
type OutcomesRecord @model
  @key(name: "byDobLastFirst", fields: ["dob", "last", "first"], queryField: "outcomesRecordByDobLastFirst")
  {
	id: ID!
  clinicId: ID
  clinicianId: ID
  groupId: ID
  statusSummaryId: ID
  first: String!
  last: String!
  dob: String!
}`

As you can see, first, last, and d

[2020-03-24 21:14] #3746 closed

[2020-03-24 21:28] #3737 closed

[2020-03-24 21:28] #3748 closed

[2020-03-24 22:43] 24jr opened #3756 "DynamoDB delayed by 1 entry from graphQL from lambda function"
Hi I created a dynamoDB table through my schema as such

[code]

I am trying to update the table from my lambda function like so
[code]
(based off of https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda )

The problem is odd. I run the function once. Nothing added to table. I run twice. The response from the first run goes in the table. I run again the response from the

[2020-03-24 23:20] ajpaulingalls opened #3758 "Adding Analytics permissions to lambda trigger function fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

Adding permissions to access analytics from a lambda trigger function results in:

CREATE_FAILED               AmplifyResourcesPolicy                                                 AWS::IAM::Policy           Tue Mar 24 2020 16:02:

[2020-03-24 23:30] ajpaulingalls commented on #3758
I believe the problem is in the cloudformation-template.json, specifically where it defines AmplifyResourcesPolicy.  It's trying to join together the pieces of the arn, but the two refs aren't getting populated as parameters.  If I replace the refs with hardcoded value, the push works...

So, somehow the params aren't getting populated...

[code]

[2020-03-24 23:56] cipriancaba opened #3760 "Querying items by GSI"
** Which Category is your question related to? **
DataSource DynamoDB GraphQL API
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **

[code]

I have the above schema for a simple Meal datatype and using the `listMeal` query generated by amplify. Authentication works via Cognito

** Expected result **
All the `Meal` items that have the userId

[2020-03-25 00:20] ammarkarachi commented on #3756
@24jr Can you add `context.done(null, event);` after `httpRequest.end();`

[2020-03-25 02:00] increment-upskilling commented on #2076
Another workaround: switch to using IAM authentication only for the API if you can, that'll break the cycle

[2020-03-25 02:25] apoorvmote commented on #3754
@ammarkarachi yes and no.
- Yes I set `updated.imageKey = null`
- No I didn't run because eslint gave me error with red squiggly and told me not to save it.

[2020-03-25 02:28] 24jr commented on #3756
Added it. Same result

[2020-03-25 03:09] kldeb commented on #3746
Same problem with post confirmation add to group. Downgrade to 4.16.1 solved it.

Please re-open.

[code]

[2020-03-25 03:20] undefobj commented on #3760
Transferring to CLI repo. Can you try with some larger limit sizes?

[2020-03-25 03:24] 24jr commented on #3756
Actually I think I was just adding too large of string and it was screwing it up! I think its working. Also I think should've kept my edits how it was in their example. I guess it was there for a reason!

[2020-03-25 03:24] #3756 closed

[2020-03-25 03:35] philateatclub commented on #3411
I had the same issue. However I was on Amplify --version 4.13.4. Bumped it to the latest --version 4.17.1.

• amplify api gql-compile
• amplify push

That fixed it for me!

[2020-03-25 03:59] FOMSON commented on #2310
@attilah
Hello, Sir!

May I ask if it is still the case that `@auth` directives on custom queries (including those built with `@function` directive) are not yet supported?

Below is a long example of what I am trying to achieve - in short, I am attempting to have an `@function` custom query that would be executable only by either logged-in users or UnAuthed ones via IAM... [this example is just a

[2020-03-25 04:46] apoorvmote commented on #3754
I tried it regardless. I got this error.
`Type 'null' is not assignable to type 'string | undefined'`

[2020-03-25 05:00] apoorvmote commented on #3754
So the workaround is I set `updated.imageKey = 'placeholder'` And I have to check if `imageKey` is either `undefined` or `placeholder` then I know if image is null or not.

Technically it works however I still get following error in console.
`DataStore - The source object is not a valid model`

I have console logged the source object. It is absolutely valid. And even after the error the datastore

[2020-03-25 05:35] xitanggg commented on #2776
Is order matters in how you put the rules? For example, are these two equivalent?
[code]
vs
[code]
The reason I asked is because I am still trying to understand how rules are applied. What happens if something belongs to the group Users and also has iam role?

AWS amplify should have an easier way separating IAM role from Lamda and Cognito user pool.

Is there a potential security hazard on the wo

[2020-03-25 08:10] qtangs commented on #1904
YAML didn't work for me either, using Amplify CLI 4.16.1. It failed with:

    at JSON.parse (<anonymous>)
    at AmplifyToolkit.readJsonFile [as _readJsonFile] (/usr/local/lib/node_modules/@aws-amplify/cli/src/extensions/amplify-helpers/read-json-file.js:11:15)
    at /usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-provider-awscloudformation/lib/push-resources.js:250:41

I resor

[2020-03-25 08:11] qtangs commented on #2915
Please see my comment here: https://github.com/aws-amplify/amplify-cli/issues/1904#issuecomment-603699231

[2020-03-25 08:14] 80dstudio opened #3761 "Error: Only one CloudFormation Template is allowed in the resource directory"
Good day, first time posting to github. I appreciate your help.

**Describe the bug**
When trying to apply 'amplify push' command I get the following error:
(... to anonymize examples)

[code]
_Is there a way to manually clean up these CloudFormation templates as a temporary fix..?_

**Amplify CLI Version**
4.17.1

**To Reproduce**
I am using this example repository:
`https://github.com/ErikCH/Aws

[2020-03-25 09:07] 80dstudio commented on #3761
I produced the same error using this repository too:
`https://github.com/aws-samples/cloudfront-authorization-at-edge.git`

[2020-03-25 10:16] cipriancaba commented on #3760
If I increase the limit size it works for now, but I assume will no longer work when I have 100.000 in the table.. So, the question really is how can I trigger a `query` operation in the dynamoDB table rather than a `scan`, because that will definitely solve my problem

[2020-03-25 10:52] rehanbabertkxel opened #3762 "Multiple Environments S3 Deployment Bucket"
**Which Category is your question related to?**
Amplify Multiple Environments

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Environments, Lambda functions, S3, Cognito

What I am trying to achieve?
I am trying ti create an environment for each of my developer and once they are done doing the changes, I can merge there code in dev and run "amplify push" on the "dev" envi

[2020-03-25 11:13] challapradyumna opened #3763 "Issue with Multiple Env and Redirect URI"
**Is your feature request related to a problem? Please describe.**
Our project has 2 environments dev and prod. Both of them are deployed in two different AWS accounts. The issue here is around Federated user pool logins. When I checkout between env the redirect URIs are also carried to the other env but the endpoints are different between the environments. I have to manually change the redirect U

[2020-03-25 13:41] daajack commented on #3725
I get the error back. Here is my providers property in #current-cloud-backend/amplify-meta.json
[code]
After push, the property "categories" disappeared.
For the moment, i cannot access anymore my buckets due to a "Networking Error" in the S3 console, but i'll check later if it is in the amplify-meta.json in backend bucket. I forgot to check backend/amplify-meta.json, sorry, maybe next time.

[2020-03-25 13:42] xitanggg opened #3764 "GraphQL Transform - How overlap @auth rules resolve itself?"
**Which Category is your question related to?**
GraphQL API

**What AWS Services are you utilizing?**
GraphQL Transform

**Provide additional details e.g. code snippets**
The [GraphQL transform documentation](https://aws-amplify.github.io/docs/cli-toolchain/graphql) doesn't explicitly specify how overlap @auth rule resolve itself. I am curious to know what is the expect behavior of the following.

[2020-03-25 13:45] mdepascale commented on #3753
hello @ammarkarachi
what I'd like to be able to do is change this query
`searchDocuments(filter: SearchableDocumentFilterInput, sort: SearchableDocumentSortInput, limit: Int, nextToken: String): SearchableDocumentConnection`
into this
`searchDocuments(filter: SearchableDocumentFilterInput!, sort: SearchableDocumentSortInput, limit: Int): SearchableDocumentConnection`
_notice the ! after Searchable

[2020-03-25 13:47] moacirosa commented on #3721
I was facing the same problem and **removing the `--yes` parameter looks to resolve**. In my case, I was trying to configure a CI and I want to:

1. `git clone`
2. `amplify init`
3. `amplify status`
4. `amplify push`

However, as @ericowlie has reported, an undesired `push` was run during `init` process. What do you think is the better approach in this case? Maybe that `--yes` could be better expl

[2020-03-25 13:55] xitanggg commented on #3764
Nevermind, I believe I found the answer in the documentation.

This user given both the read and update permission.

It is listed under Dynamic Group Authorization.

So it seems, when an operation is called by an user, it goes through all the rules of that permission and find if the user fits any of the permission. So it is like an effective OR operation in all rules.

[2020-03-25 13:55] #3764 closed

[2020-03-25 14:20] chriswessells commented on #3746
Hi @kldeb the code fix was merged into master yesterday. I don't know when the code will be released, but it is fixed and the issue is appropriate to be closed.

[2020-03-25 14:24] luislinietsky commented on #3761
Hi.
I am having the same error too with the missing file:
`
? Do you want to edit the local lambda function now? (Y/n) (node:15984) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, stat '/C:\Users\Luigi\AppData\Roaming\npm\node_modules\@aws-amplify\cli\node_modules\amplify-category-function\lib\provider-utils/../../resources/awscloudformation/cloudformation-templates/lam

[2020-03-25 15:39] ericowlie commented on #3721
Here is a screenshot of what happens without the ```--yes``` option :
![no](https://user-images.githubusercontent.com/48712727/77554398-46412880-6eb6-11ea-979f-2e39fe5662b5.PNG)
(As I have a non default named profile, Amplify asks me to choose the profile on my project, which is not the case on this screenshot because I use the default profile)

Here is a screenshot of what happens with the ```--y

[2020-03-25 15:52] moacirosa commented on #3721
Yeap... Pretty the same for me. In the workflow I was trying, it was possible to resolve using a script similar to the _Sample script_ from https://docs.amplify.aws/cli/usage/headless removing the `--yes` parameter.

[2020-03-25 16:35] mdepascale commented on #3734
It seems like we are getting the same issue here

`UPDATE_COMPLETE amplify-corporatedocsbackend-prod-112623 AWS::CloudFormation::Stack Wed Mar 25 2020 16:21:05 GMT+0000 (Coordinated Universal Time)
--
406 | Error: Profile configuration is missing for: PROFILE_NAME
407 | at Object.getProfiledAwsConfig (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-provider-awscloudformation/lib/

[2020-03-25 17:36] idanlo commented on #3248
+1

[2020-03-25 18:22] undefobj commented on #3760
GraphQL codegen should give you appropriate queries to run which correspond to DDB queries. Do you see them?

[2020-03-25 18:25] anarerdene opened #3765 "Remove Auth not working"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Template error: instance of Fn::GetAtt references undefined resource "ProjectName"
An error occured during the push operation: Template error: instance of Fn::GetAtt references undefined resource "ProjectName"

Before this i removed one Lambda function manually. If its reason how i f

[2020-03-25 18:31] varunpsr commented on #2736
Facing the same issue, running `amplify mock` keeps on continuously detecting changes and does not run.

[2020-03-25 18:36] ammarkarachi commented on #3765
Hi @anarerdene ,

We would some more information to help you

- Can you elaborate on the steps that resulted on this error?

- What resources did you have using your auth workflow?

Thanks

[2020-03-25 18:54] anarerdene commented on #3765
Hi @ammarkarachi .

1.  I  updated my Auth using "amplify update auth" then adding user group named "admin". After this i pushed it to server. Everything was ok.

2. After this i logged in AWS cloud and cleaning some unnecessary functions. I think i removed CLI generated function too.

3. I tried remove auth but its bugged

![image](https://user-images.githubusercontent.com/2210568/77574527-1cffb7

[2020-03-25 19:13] waltermvp opened #3767 "Incorrect variables"
**Describe the bug**

Anyone else experiencing this?, I get it for other vars as well. have no clue when/how  it actually happens

<img width="1031" alt="Screen Shot 2020-03-25 at 3 11 45 PM" src="https://user-images.githubusercontent.com/1158238/77576172-12acd100-6eab-11ea-8775-e4035854b579.png">

[2020-03-25 19:49] selbekk opened #3766 "Explain what the "enter a name for the environment" means"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
When I run `amplify init` for the first time, I am asked "Enter a name for the environment" as the second question. This doesn't make a whole lot of sense to me.

Should I write production, because my app is going to end up in prod a

[2020-03-25 20:02] kaustavghosh06 commented on #3765
@anarerdene Would be helpful if you share you `amplify/backend./amplify-meta.json` and `amplify/backend/backend-config.json` - did you modify any of these files?
Which exact resources did you remove from the AWS Console?

[2020-03-25 20:08] kaustavghosh06 commented on #3741
@amuresia We weren't able to reproduce this in us-east-1 region. Which region are you deploying to?

[2020-03-25 20:27] #3761 closed

[2020-03-25 20:28] edwardfoyle commented on #3761
This was a windows issue caused by incorrect path concatenation. Fixed in the PR above

[2020-03-25 20:30] cipriancaba commented on #3760
I've just created a separate repo with the simplified schema

https://github.com/cipriancaba/amplify-repro/blob/master/src/graphql/queries.ts

The only query is `ListMealsQuery` which seems to work with the `scan` rather than `query` exposing the issue I mentioned earlier

[2020-03-25 20:54] amuresia commented on #3741
Hi @kaustavghosh06, I am deploying in eu-west-2 (London)

[2020-03-25 20:59] waltermvp commented on #3767
@kaustavghosh06 thanks for the quick reply

1. pinpoint
2. yes the permissions were generated by the cli

[2020-03-25 21:01] kaustavghosh06 commented on #3767
Did you add pinpoint as a trigger data source or give permissions to the function category to access the pinpoint resource in amplify add/update function flow?

[2020-03-25 21:09] waltermvp commented on #3767
give permission to the function  @kaustavghosh06

[2020-03-25 22:20] kaustavghosh06 commented on #3767
@waltermvp I followed these steps with v 4.17.1 of the CLI.
1. amplify add analytics -> added pinpoint
2. amplify add function -> gave access for pinpoint
3. amplify push

This worked correctly with the following results:
<img width="1127" alt="Screen Shot 2020-03-25 at 3 16 21 PM" src="https://user-images.githubusercontent.com/7247658/77590831-e47bc100-6eab-11ea-9abb-d3fa00638ccd.png">
<img width

[2020-03-25 22:26] ammarkarachi commented on #3766
Hi @selbekk, you can find more information for the environment [here](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#environments-and-teams)

[2020-03-25 22:30] selbekk commented on #3766
Thanks! This makes sense - but I would love to automatically understand this without reading through all the docs 😙

[2020-03-25 22:34] brene commented on #3766
Hi @selbekk - this is good feedback! What do you think of these options:

Option 1 - Provide examples in the prompt
[code]

Option 2 - Provide a default value "dev"
[code]

[2020-03-25 22:37] selbekk commented on #3766
Thanks! How about giving some context about what the environment is?

Examples are good, but they don’t explain what the context of the question is.

Could we add a paragraph explaining the context of the question?

[2020-03-25 22:40] waltermvp commented on #3767
@kaustavghosh06
Looking at your response makes me think that since the issue is caused because i added pinpoint with an earlier version. Is that a possibility? if so I can try removing and adding analytics with the latest cli version

1. amplify push
2. lastest 4.71.1
3.  see below

[code]

[2020-03-25 22:41] waltermvp commented on #3767
I can send you the project via email or some other secure way if you need help reproducing it

[2020-03-25 22:46] brene commented on #3766
We try to minimize the content in the init flow as much as possible. So I'd rather adjust the sentence to make it clearer than adding too much description.

@selbekk - what if we just remove environment all together from the init flow and just initialize it to dev in the background?
When you actually need to add additional environments through `amplify env add` is probably where you actually care

[2020-03-25 22:49] selbekk commented on #3766
Sounds great!

That being said - why do you think it’s important to keep explanations through the init flow to an absolute minimum?

[2020-03-25 22:50] ajpaulingalls commented on #3758
Unfortunately, although hardcoding the values into the policy allowed the service to deploy, the environment variables on the lambda config are not correctly set.  Instead of the real values, they just end up with the parameter names, analyticsstoryRegion and analyticsstoryId...

[2020-03-25 22:51] brene commented on #3766
To be clear: it should be an absolute minimum in which the customer still understands what's happening. I'll take this back to the team and how to progress from here. Thanks for the fast feedback loop!

[2020-03-25 22:55] ammarkarachi commented on #3767
@waltermvp Can you zip it and send over to [amplify-cli@amazon.com](mailto:amplify-cli@amazon.com)

[2020-03-25 22:59] JuanmaMenendez commented on #638
If somebody needs some examples can look here:  [https://aws-amplify.github.io/docs/cli-toolchain/graphql#codegen](https://aws-amplify.github.io/docs/cli-toolchain/graphql#codegen)

PS: for me, the only thing that worked was to change the **maxDepth** param in the local auto generated file _.graphqlconfig.yml_

[2020-03-25 23:01] waltermvp commented on #3767
thank you, its sent. @ammarkarachi @kaustavghosh06

[2020-03-26 00:34] kldeb commented on #2841
It seems like this issue comes up every time we onboard a new dev and they run `amplify env pull dev`

[2020-03-26 01:04] jamesonwilliams opened #3772 "Add `toString()` method in AppSync Java codegen files"
**Is your feature request related to a problem? Please describe.**
The Java files that are generate for use with AppSync do not include a `toString()`. This makes it hard to understand their state while logging.

**Describe the solution you'd like**
In the code generator, add support to generate toString() methods on the Java model sources.

**Describe alternatives you've considered**
As a workaro

[2020-03-26 01:51] mayteio commented on #3134
Can we please re-open this? I too use it for `react-admin` and it was a handy inclusion to have. This is a regression. Can I help in any way to add this functionality back in?

[2020-03-26 01:56] mayteio commented on #3134
In the meantime @berenddeboer, I managed to download it using:
[code]

[2020-03-26 02:47] patcito opened #3774 "How to apply field level public auth and keep other fields owner only?"
**Which Category is your question related to?**

AppSync

**Amplify CLI Version**

4.16.1

**What AWS Services are you utilizing?**

Auth/Api/Function/Storage

**Provide additional details e.g. code snippets**

This is my current model, it is accessible only to owner and for all CRUD operations.

[code]
I would like to also allow `read` operations to `stripePublishableKey` and `id` fields for `pub

[2020-03-26 03:52] rdkelley opened #3775 "ENOENT error on "Email Verification Link with Redirect" flow and subsequent push failure"
**Describe the bug**
When attempting to add auth with the `Email Verification Link with Redirect` option selected, an ENOENT error is thrown after the prompt `Do you want to edit your verification-link function now?` The file in question is `CustomMessage.json.ejs` -- this file does exist on my system. The full error is printed below.

After, if I attempt a `amplify push` I get an error that says

[2020-03-26 03:58] chakimar opened #3776 "Lambda environment variables "API_XXXXXX_YYYYYYTABLE_NAME" is without "env" value."
**Describe the bug**
After `amplify function update` auto generated dynamodb variable without "env" value.

**Amplify CLI Version**
4.17.1

**To Reproduce**
[code]

**Expected behavior**
[code]

function1-cloudformation-template.json
[code]

**Actual behavior**
[code]

function1-cloudformation-template.json
[code]
**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Node Versi

[2020-03-26 04:05] jhockett commented on #3699
Hi @amirmishani, I believe the answer to your question is yes, the use case is covered by the newer style @connection and @key directives. @RossWilliams posted a lot of good information, did you still have any questions?

I think a rough draft of the schema (barely tested) could look something like the following:
[code]

[2020-03-26 04:33] kaustavghosh06 commented on #3776
@chakimar Was able to reproduce this. Marking this as a bug.
The table ARN is correct though right?

[2020-03-26 04:37] chakimar commented on #3776
@kaustavghosh06 Yes, "API_XXXXXX_YYYYYYTABLE_ARN" is right.

[2020-03-26 04:54] undefobj commented on #3760
Can you explicitly specify a queryField for the name of your GraphQL query to correspond to your DynamoDB query?

[2020-03-26 10:42] mdepascale commented on #3734
update, it works we just had and error inside the buildspec
turns out `echo -e "..." > file` save -e too, so there was it

[2020-03-26 11:58] dwamianm commented on #3008
@kaustavghosh06 . Thanks for the follow up. We realize it's on local mock only... but when it worked on local mock it made it a breeze to test. Now we have to deploy in order to know if a feature that depends on a subscription works as intended... and deployments are never usually quick.

Fixing this on local would help speed up the process.

[2020-03-26 11:59] cipriancaba commented on #3760
That worked, thank you.. Here is the change for anyone interested in the matter https://github.com/cipriancaba/amplify-repro/commit/7ee84e68cedfa714cd3cbd7d85e9e643427b67da

The only downside is that the userId is not being pre-populated, considering it's an owner field https://github.com/cipriancaba/amplify-repro/blob/8fbf0bd528d3da914cbd126039d910d4d2032d0b/amplify/backend/api/amplifyrepro/schem

[2020-03-26 12:37] selbekk commented on #3766
Yeah I understand - but perhaps the premise that "it should be an absolute minimum" isn't correct? I love info while going through a process like this. If possible, a link to more details would also be a great addition.

[2020-03-26 14:10] dtelaroli commented on #155
@kaustavghosh06 is there some documentation how to integrate SAM and Amplify?

I'm trying use SAM with Amplify and the amplify is ignoring one of my function:

`Transform AWS::Serverless-2016-10-31 failed with: Invalid Serverless Application Specification document. Number of errors found: 1. Resource with id [PostbackFunction] is invalid. 'CodeUri' is not a valid S3 Uri of the form 's3://bucket/ke

[2020-03-26 15:03] RossWilliams commented on #3760
@cipriancaba the default listMealsQuery does not pre-populate the userId in the request template. It filters non-owner Meals after fetching from dynamoDB in the response template. you will have the same problem with a large table as you described in your earlier comment.

In both cases you should specify the primary key to avoid issues / surprises.

[2020-03-26 15:07] mdoesburg opened #3777 "Authorizing subscriptions without allowing mutations"
**Which Category is your question related to?**

GraphQL Transform: @auth

**Amplify CLI Version**

4.17.1

**What AWS Services are you utilizing?**

- Amplify
- AppSync
- DynamoDB
- Cognito

Within the Amplify framework I am using:
- Auth
- DataStore

**Provide additional details e.g. code snippets**

I am using Amplify and React Native to build a todo app. All users in this app share one todo li

[2020-03-26 15:48] daajack opened #3778 "Upload to S3 send a 403 forbidden error after adding user to cognito group created with CLI"
**Describe the bug**
I cannot upload images to s3 with an 403 (forbidden) error, from a user member of the cognito group create via amplify cli.

**Amplify CLI Version**
4.16.1

**To Reproduce**
- add a cognito group with amplify auth update
- add user to group in cognito console
- try upload image with Storage.Put(...)

**Expected behavior**
Upload with success

**Desktop (please complete the fol

[2020-03-26 16:08] MontoyaAndres commented on #3362
Any news about this? :(

[2020-03-26 17:14] dmsolutionz commented on #2453
I was facing the same issue as stated in here.

**Frustrating bits:**
- Other functions were working as expected.
- Ref's not being referenced.

Figuring that I had working functions using `@function(name: "functionName-${env}")` I looked at the `amplify-meta.json` file to seek out the differences, it turns out that if you have your function referencing your API it will force it to not be recognis

[2020-03-26 17:29] manviny commented on #682
Working perfectly.
You save me lot of hours.

[2020-03-26 17:51] PHironaka opened #3779 "'User Does Not Exist' after adding Auth Gatsby.js site"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Getting a 'User Does Not Exist' error message when trying to create a user w/ withAuthenticator

**Amplify CLI Version**
4.17.1

**Expected behavior**

I'm trying to set up Authentication on my gatsby site for demo purposes. I've followed these steps from the CLI:

1. amplify configu

[2020-03-26 17:54] xitanggg commented on #401
1.5 years from post, a very important feature is still left hanging

[2020-03-26 18:19] harakiro commented on #3390
I spent hours banging my head on this and went through multiple tutorials and digging through code. Thank you for such a great walk-thu and this needs to be added!

[2020-03-26 18:24] ammarkarachi commented on #3775
@rdkelley We have deployed a new release (4.17.2) possibly fixing this error let me know if this fixes the issue.

[2020-03-26 18:41] kaustavghosh06 commented on #3778
Did you give all the CRUD permissions to the user pool group in the `amplify storage add/update` flow?

[2020-03-26 19:17] michaelcaterisano commented on #401
Agree. Any update on this feature?

On Thu, Mar 26, 2020 at 1:54 PM Xitang <notifications@github.com> wrote:

[2020-03-26 19:31] yuth commented on #2988
Amplify CLI has added support for types without `@model` directive version 4.17.2. If you encounter any issues with model generation, please open an new issue.

[2020-03-26 19:31] #2988 closed

[2020-03-26 19:36] undefobj commented on #2988
Also support for this is released in the latest version of Amplify JavaScript. Please have a test.

[2020-03-26 19:41] ofpau opened #3780 "Amplify mock doesn't run lambda triggers on GraphQL mutations"
**Describe the bug**

When `amplify mock` is running, it doesn't run lambda triggers associated to a GraphQL model, no matter the updates I do to items of that model type.

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**To Reproduce**

1. Create a Lambda Trigger connected to the `Todo` @model through a DynamoDB Stream.
To do so, run `amplify add

[2020-03-26 19:58] danrivett commented on #2988
This is huge! I will be testing this out shortly and let you know if I find anything. Great work guys.

[2020-03-26 20:24] yuth commented on #3506
Change have been released in Amplify CLI v 4.17.2

[2020-03-26 20:24] #3506 closed

[2020-03-26 20:25] yuth commented on #3298
We have released the fix for this in Amplify CLI v 4.17.2.

[2020-03-26 20:25] #3298 closed

[2020-03-26 20:27] rdkelley commented on #3775
Looks like it works! Thank you.

[2020-03-26 20:27] #3775 closed

[2020-03-26 21:30] ammarkarachi commented on #3734
@mdepascale Can you create a separate issue so we can help you in following up with this problem?

[2020-03-26 21:34] kaustavghosh06 commented on #3734
@blairtaylor I would recommend opening up an issue regarding Amplify console limits in this repo - https://github.com/aws-amplify/amplify-console

Closing this issue as the original problem seems to be solved.

[2020-03-26 21:34] #3734 closed

[2020-03-26 21:34] kaustavghosh06 commented on #3673
Closing due to lack of requested information. Please comment on this thread if you're still stuck.

[2020-03-26 21:34] #3673 closed

[2020-03-26 21:35] kaustavghosh06 commented on #3461
@hisham Let us know if my response needs more clarification or if you have more questions around this. Closing this issue.

[2020-03-26 21:35] #3461 closed

[2020-03-26 21:36] ammarkarachi commented on #3724
@mlafo Can you try the latest release we have fixed it in 4.17.2 in PR #3590

[2020-03-26 21:36] #3724 closed

[2020-03-26 21:36] kaustavghosh06 commented on #3240
Closing this issue. If you're still stuck please comment on this thread.

[2020-03-26 21:36] #3185 closed

[2020-03-26 21:50] ammarkarachi commented on #3446
@steveparkerSG Can you try it with the lates version this should be working now.

[2020-03-26 21:59] kaustavghosh06 commented on #3762
@rehanbabertkxel The S3Bucket and S3Key parameters are re-generated on an `amplify push` - hence merging it would regenerate it again for the environment you're pushing from.

[2020-03-26 22:06] jackatkoeln commented on #2988
I can confirm the changes, all working and syncing in all devices :-)

Simple test for the geolocation case requested by @sacrampton + some other directives for testing purpose.

[code]
Boom! Thanks all for this much waited request. 🎉🚀

[2020-03-26 22:13] danrivett commented on #2988
Will it work with TypeScript ok btw? Just wondering if the correct type definitions are created for this? I'm not quite ready to play with this as have some inflight work, so thought I'd just check ahead of time.

[2020-03-26 23:12] undefobj commented on #3730
We are going to be adding this functionality in the near future as noted in the below issues. In the meantime, can you provide us with explicit examples of your GraphQL schema and how you might like the scoping to look?

https://github.com/aws-amplify/amplify-js/issues/5119#issuecomment-601512874
https://github.com/aws-amplify/amplify-js/issues/4552#issuecomment-580856039

[2020-03-26 23:40] ajpaulingalls opened #3781 "403 error using AWSAppSyncClient in lambda function created with CLI"
I've setup a trigger function in Lambda on a DynamoDB stream using the CLI.  I'm trying to utilize the app-sync sdk within the function, but whenever I execute a query, I get:

[code]

I have both cognito user pools and IAM setup on the API, and I have provided the Lambda function access to the API, all via the CLI.

I've read entirely too many issues, posts, docs etc trying to get this to work.

[2020-03-26 23:45] #3781 closed

[2020-03-26 23:46] ajpaulingalls commented on #3781
of course, as soon as I ask all works.  Now if I only knew why...

[2020-03-27 02:33] Owpac commented on #839
I have the exact same bug as @daviskoh.

And like @dave-moser, I am also trying to use npx as an alternative to doing a global install of Amplify (because global install is a deprecated method in general).

Here is my package.json:

[code]

This issue should be re-opened, it's a pretty frustrating bug.

[2020-03-27 02:41] xitanggg opened #3782 "@connection directive doesn't create an one-to-many relationship using primary key."
**Describe the bug**
@connection directive doesn't create an one-to-many relationship using primary key.

**To Reproduce**
1. Create two types (account and book) at schema.
2. Account uses @key to declare _userId_ as its simple primary key.
3. Book uses @key to declare _userId_ and _createdAt_ as its composite primary key.
4. Account uses @connection next to its _books_ field to connect with book

[2020-03-27 03:14] mayteio commented on #3497
Came across the same issue again on another project. This is definitely reproducible across projects.

[2020-03-27 04:16] BennettSmith commented on #365
Any update on when this might be possible?  I am just starting to use Amplify and my boss asked that all resources created by Amplify be tagged so he can manage the cost better.

Is there a workaround until Amplify does support this directly?  Is there a way to sift through the files in the `amplify` folder of a project to collect all of the ARNs for the resources created?  Could the aws cli be us

[2020-03-27 04:18] xitanggg opened #3783 "Error in GraphQL Transform @auth documentation?"
** Which Category is your question related to? **
GraphQL API
** What AWS Services are you utilizing? **
AWS AppSync
** Provide additional details e.g. code snippets **
I am reading the [GraphQL Transform documentation](https://aws-amplify.github.io/docs/cli-toolchain/graphql). At the @auth section, there seems to be an error of the example on giving Draft's Editors ability to update and read Draf

[2020-03-27 04:23] Computr0n commented on #2988
I updated my amplify CLI and then after I removed the @model tags from my nested types and reran the modelgen and push I could not longer find references to the classes in my kotlin code.
Is java codegen working for these nested types or am I missing something?

[2020-03-27 04:28] apoorvmote commented on #682
I had lot of errors that persisted even after losing the data. Try to either run the app on incognito mode (this can be annoying) or remove all data for localhost from setting from time to time. Especially if you are getting lots of errors.

[2020-03-27 06:21] rehanbabertkxel commented on #3762
@kaustavghosh06 , yes I understood it the day I posted it. Forgot to close the issue.
Thanks for the explanation. Closing this issue.

[2020-03-27 06:21] #3762 closed

[2020-03-27 08:14] daajack commented on #3778
Thanks ! I didn't. After giving all CRUD access to the user pool group, it works.
I choosed "Both" as "Restrict access".
I thought that giving CRUD access to auth users would allow members of a group to have same access.
Thanks for your help.

[code]

NB: I had to delete property "triggerFunction: NONE" in storage/xxx/parameters.json to push as mentionned in [this issue](https://github.com/aws-sam

[2020-03-27 09:07] edeuxk commented on #2453
same issue

[2020-03-27 09:32] parvaurea commented on #3265
@alexdoan102  - Can you please help me with what minification workarounds you were using. Im also stuck with the same issue currently.

[2020-03-27 10:56] mlafo commented on #3724
Il works. Thanks a lot.

[2020-03-27 13:38] alexdoan102 commented on #3265
@parvaurea    if you use "amplify push", then any changes you make, will get overwritten by the "push" command.  You need to use these commands:

1.  amplify api gql-compile                      (this will compile, but not push)
2.  minify-json amplify/backend/api/apiservices/build/stacks/FunctionDirectiveStack.json
3. amplify push --no-gql-override          (this will push, but not recompile, so

[2020-03-27 16:14] akmalrasool opened #3784 "Error: Plugin scan failed."
Unable to use amplify command.
On each amplify command I am getting the following error.

Scanning for plugins...
Plugin scan failed.
Plugin scan failed.
Error: Plugin scan failed.
    at scan

Installed using npm i -g @aws-amplify/cli --unsafe-perm=true

It was working few days ago.

 - OS: Linux
 - Node Version. 10.16.3

Kindly help ASAP.

[2020-03-27 16:25] kaustavghosh06 commented on #3784
@akmalrasool You'll have to instal the CLI globally - `npm install -g @aws-amplify/cli`

[2020-03-27 16:27] akmalrasool commented on #3784
@kaustavghosh06 Sorry about that but I installed it globally.

[2020-03-27 16:35] kaustavghosh06 commented on #3784
@akmalrasool Is there any other stack trace after the following message:

Error: Plugin scan failed.
at scan

[2020-03-27 16:39] akmalrasool commented on #3784
@kaustavghosh06 This is the exact error:
Error: Plugin scan failed.
    at scan (/home/akmalrasool/.nvm/versions/node/v10.16.3/lib/node_modules/@aws-amplify/cli/src/plugin-manager.ts:137:11)

[2020-03-27 16:52] brene commented on #3783
Hi @xitanggg - this looks like a documentation error. I'll transfer this issue to the docs repo.

[2020-03-27 16:57] UnleashedMind commented on #3784
This is a duplicate issue as this one:
https://github.com/aws-amplify/amplify-cli/issues/3560

Please use this hack to diagnose ( we will soon update the CLI to print out error log)
/usr/local/lib/node_modules/@aws-amplify/cli/src/plugin-manager.ts:137:11, and insert one line of code before it to help us to diagnose?

    print.error(JSON.stringify(e));
After you add the line, do a npm run build a

[2020-03-27 17:02] akmalrasool commented on #3784
@UnleashedMind Tried this but no help!

[2020-03-27 17:04] UnleashedMind commented on #3784
`sudo amplify plugin scan` still give you the error?

Then use the hack to diagnose, what's the error message that's printed out?

[2020-03-27 17:09] simeon-smith commented on #3705
The ddb_to_ess.py (from https://github.com/aws-amplify/amplify-cli/pull/3712) causes the IDs for elasticsearch to be different from what the autogenerated streaming lambda creates.

When I ran the ddb_to_ess.py script to delete duplicates it did indeed delete duplicates. However, it made the "_id" for the items to be formatted as ID|SLUG.

However, the streaming lambdas create the "_id" as just ID

[2020-03-27 17:15] kaustavghosh06 commented on #3705
@simeon-smith Which version of the CLI did you last deploy your GraphQL schema with?

[2020-03-27 17:17] simeon-smith commented on #3705
I used 4.17.1.

[2020-03-27 17:20] kldeb commented on #2841
where is the group name stored? Is it supposed to be in the cf template? I found this:

[code]

[2020-03-27 17:21] kldeb commented on #2841
I'm thinking that if i can't debug this on my own I'm going to write my own lambda so I don't keep having this problem come up intermittently. Something here keeps breaking.

[2020-03-27 17:45] kldeb commented on #2841
I have confirmed by adding logging that `process.env.GROUP` is an empty string.

[2020-03-27 17:48] SwaySway commented on #3705
Hi @simeon-smith the `ddb_to_es.py` will grab the data from your dynamodb table. Regarding the formating of how that will look the script defers to your deployed streaming lambda function that exists in your amplify project. So what you are seeing from the script would be correct in that it uses the hash key, ID, and the sort key , SLUG, delimited by `|`.

Regarding this issue where it only contai

[2020-03-27 17:52] kldeb commented on #2841
I ran `auth update` to see if that would fix it and now `"userPoolGroups": true,` when it was false. what should this be set to?

[2020-03-27 17:53] simeon-smith commented on #3705
@SwaySway Yes, the function is checking for keys for the environment I'm working in. My master environment hasn't been updated yet, but I can confirm that the DynamoDB table is streaming to the staging function.

[2020-03-27 18:23] kldeb commented on #2841
I changed this to:
[code]

which is what we want. Does that make sense? The error is gone for now.

[2020-03-27 18:30] ajonp opened #3785 "CLI stuck at Oauth Which redirect signin URIs do you want to edit?"
**Describe the bug**
When trying to update auth to include a new lambda trigger I am unable to move past the question `Which redirect signin URIs do you want to edit?`

It lists all of the current redirects assigned to the project but I cannot hit enter.

**Amplify CLI Version**
4.17.2

**To Reproduce**
[code]

**Expected behavior**
I am able to select nothing and leave oauth untouched.

**Screens

[2020-03-27 18:32] kaustavghosh06 commented on #3785
@ajonp Can't you just hit enter and go to the next question?

[2020-03-27 18:33] SwaySway commented on #3705
@simeon-smith
Does you schema include `@key`? If so then if you used the lambda function prior to 4.14.1 with `@key` using the id as the primary key the following would happen.

if you had two records with the same ID
id='123' & slug = 'slug0'
id='123' & slug = 'slug1'
the es index would only contain one instance of that id
doc_id='123' would have info of slug1.

You can edit the streaming lambda

[2020-03-27 18:34] ajpaulingalls commented on #3758
Another update on this.  In addition to the failure to push and the lack of usable environment variables in the function itself, it appears that the permissions are not setup properly for the IAM role to access the pinpoint resource.  The following error results from calling SendUsersMessages:

[code]

[2020-03-27 18:42] simeon-smith commented on #3705
@SwaySway, I think there is some confusing around order of operations for my issue. I am using a @key for a search by slug. But it should not be the primary key. The ID is still a valid primary key.

The issue is, that the streaming function with a check for key is actually creating a new record with the _id being just the id. So deleting records that are just the id would delete any previous upda

[2020-03-27 18:49] SwaySway commented on #3705
Hmm in that case the issue here is that the lambda is not being consistent. Which I find strange since the `ddb_to_es.py` should effectively call the same lambda function. Could you open a different issue for this? I'd also like to see if I can reproduce this. Could you email us your schema? amplify-cli@amazon.com

[2020-03-27 18:56] ajonp commented on #3785
@kaustavghosh06 no it will not let me move past using enter. No matter if I select nothing or everything.

[2020-03-27 19:07] simeon-smith opened #3786 "Streaming function and ddb_to_es.py generate different _id in elastic search."
## **Describe the bug**
This conversation was started on https://github.com/aws-amplify/amplify-cli/issues/3705.

Relevant comments are:
https://github.com/aws-amplify/amplify-cli/issues/3705#issuecomment-605118467
https://github.com/aws-amplify/amplify-cli/issues/3705#issuecomment-605125513
https://github.com/aws-amplify/amplify-cli/issues/3705#issuecomment-605128083
https://github.com/aws-amplif

[2020-03-27 19:07] simeon-smith commented on #3705
@SwaySway, happy to. Issue is above and email coming shortly.

[2020-03-27 19:10] simeon-smith commented on #3786
@SwaySway

[2020-03-27 19:45] ericclemmons commented on #680
@kaustavghosh06 Is there updated documentation on how to enable MFA for all new users?

[code]

It seems that I have to enable this through the Cognito admin?

[2020-03-27 19:56] kaustavghosh06 commented on #680
@ericclemmons This issue is tied to using AWS MFA as an authentication options for using of AWS user of the CLI :)
For your question, regarding Cognito, you have the walk through the "Manual configurations" or go through the `amplify update auth` flow and walkthrough all the configurations to explicitly enable MFA. We don't enable it by default for Cognito user pools.

[2020-03-27 20:12] Jrb1x commented on #2736
Experiencing this as well.

[2020-03-27 20:16] Jrb1x commented on #2736
As a workaround (assuming you have no custom resolvers), you can:

`cp -r amplify/backend/api/my-project/build/resolvers/* amplify/backend/api/my-project/resolvers/`

And then run `amplify mock api` again.

[2020-03-27 20:41] ericclemmons commented on #680
Ahhh, thanks @kaustavghosh06!  I originally went through "Defaults" with additional options, but this looks closer to what I wanted (excuse the <kbd>Ctrl-C</kbd>, CLIs don't let me go "back"):

[2020-03-27 22:46] SwaySway commented on #3774
Hello @patcito
One way to do this would be using apiKey or IAM as an auth provider.  If you use one them to allow public on fields there will need to be explicit definitions on what fields a user will have access to.
[code]
This deny-by-default behavior here is something we are looking into.
RFC on `@auth` behavior: https://github.com/aws-amplify/amplify-cli/issues/1043

[2020-03-27 23:35] jhockett commented on #3725
Thanks for all the detailed information @daajack! I'm still investigating the cause of the categories prop, but if you see it again please comment below any information that might help us reproduce this.

[2020-03-28 01:18] danrivett commented on #2988
@undefobj could you confirm if support was added to React Native environments? I assumed it was because I didn't see it mentioned it was only supported in certain environments, and this ticket has been closed off, but your comment and my afternoon of testing today seems to prove otherwise?

I'm currently seeing the following error in my log and no data synced. I blew away my non-prod environment a

[2020-03-28 02:11] danrivett commented on #2988
Ok good news, I'm not sure what happened as I deleted the API and recreated it before, but something was out of sync, and after further schema modifications and more `amplify codegen models` and `amplify push` commands later, and it's all working and syncing in RN 🎉

Panic over, and overarching excitement back again!

[2020-03-28 03:18] patcito commented on #3774
@SwaySway thanks! This worked great.

[2020-03-28 03:18] #3774 closed

[2020-03-28 05:49] ammarkarachi commented on #3776
@chakimar We released a new version 4.17.2 with the fix, don't hesitate to reopen or create another issue

[2020-03-28 05:49] #3776 closed

[2020-03-28 07:02] apoorvmote commented on #3141
I added brand new type/model to existing schema and `amplify push` didn't update graphql mutation and queries.

So I tried `amplify api gql-compile` and same again. Nothing was changed.

`amplify codegen models` did update model based on new schema.

amplify cli v4.17.2

[2020-03-28 08:14] stayingcool opened #3792 "amplify push throws error UPDATE_ROLLBACK_FAILED state and can not be updated."
**Describe the bug**
**# amplify push**
Throws the following error:
Stack:arn:aws:cloudformation:eu-west-1:478576439851:stack/pna/-956b-068bfa33c7ce is in UPDATE_ROLLBACK_FAILED state and can not be updated.
An error occured during the push operation: Stack:arn:aws:cloudformation:eu-we39851:stack/pna-956b-068b3c7ce is in UPDATE_ROLLBACK_FAILED state and can not be updated.

**Amplify CLI Version**

[2020-03-28 08:45] killallskywalker opened #3793 "Cannot read property 'forcePush' of undefined"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Before updating to latest version , it dont have any problem to push the resources to the cloud .

**Amplify CLI Version**
4.17.2

**To Reproduce**
Run amplify mock for the first time after creating the graphql resource and user pool resource

**Expected behavior**
It supposed push t

[2020-03-28 10:57] egoossens commented on #2988
Seems to work fine. Thanks a lot for the release!

One question though, I was trying to have a schema like
[code]
The something field on the Post type didn't have a ```@connection``` on purpose as I wanted to store it as a sub-document . The codegen warned me that I forgot the ```@connection``` directive and didn't generate the something property in the Post TypeScript class. Changing the field's

[2020-03-28 12:27] egoossens opened #3794 "Using email instead of sub for ownership"
**Which Category is your question related to?**

Auth

**What AWS Services are you utilizing?**

Cognito, AWS AppSync

**Provide additional details e.g. code snippets**

In multiple online examples, such as https://aws-amplify.github.io/docs/cli-toolchain/graphql#ownership-with-create-mutations, the user's email is used instead of the automatically generated sub. How can I configure this? I want m

[2020-03-28 16:50] yuth commented on #2988
This is not by design. Could you please file an separate issue and I will investigate what’s going on

[2020-03-28 17:05] egoossens commented on #2988
Hmm it seems I can't reproduce it now. Maybe I missed something last time. I'll open an issue if it happens again.

[2020-03-28 18:02] smp opened #3809 ""Learn More" Amplify Plugin Init Event Prompt"
**Describe the bug**
When initializing a new Amplify CLI plugin and selecting the "learn more" radio button for "Which CLI events do you..." the CLI continues on as if I had selected "continue." It should emit information about each event to enable the user to make a choice regarding events.

**To Reproduce**
$ amplify plugin init
? What should be the name of the plugin: amplify-chat
? Specify the

[2020-03-28 19:13] 2manoj1 opened #3974 "Access Denied after deploy frontend."
After Build and deploy got access denied issue. Please help

amplify -v
4.17.1

[code]

[2020-03-28 20:01] Jay2113 commented on #3793
I observed a similar error while using Amplify Storage API and trying to run amplify mock. This error is observed when I run amplify mock without pushing the auth resources to the backend.

**Screenshot of the error**

![Error](https://user-images.githubusercontent.com/38470430/77832450-95809680-710c-11ea-8b9c-53b82143c340.png)

However, now if I run amplify auth push the auth resources are pushed

[2020-03-28 21:10] 2manoj1 commented on #3229
This issue not resolved. please reopen

[2020-03-28 21:13] FOMSON commented on #2221
@Bulletninja  thank you!

May I just add a comment:

[Amplify Docs on how to call GraphQL API](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda) suggest to use

[code]
Please note the use of `result.on('data'...`. This seems to rusilt in failed JSON parsing if API call results a "large" payload [probably because it is a steam].

A workaround I found (inspired by an [

[2020-03-28 21:40] houmark commented on #2221
That is not just a workaround — that is the correct way of doing it as I have commented in other issues around the same subject. AWS documentation is just too wrong and error-prone.

[2020-03-29 00:02] egreenmachine commented on #1016
So I have found that you cannot do this via the amplify-cli. However for anyone searching for a way to do this and not have amplify blow out your api-key on every deploy I have this solution.

You need to modify the file `amplify/backend/api/<your_api_name>/<your_api_name>-cloudformation-template.json`.

In the section labeled `"x-amazon-apigateway-any-method"` you need to add the following snippe

[2020-03-29 01:49] sbue commented on #997
@kaustavghosh06 Thanks for the release of this functionality.

I removed my API and readded (and pushed to the cloud). When I go through the steps, I seem to be tting the same issue.
`? Choose the function template that you want to use: CRUD function for Amazon DynamoDB table (Integration with Amazon API Gateway and Amazon DynamoDB)
? Choose a DynamoDB data source option Use DynamoDB table configu

[2020-03-29 01:52] undefobj commented on #2221
@houmark I'm not sure that I've heard of this reported anywhere. Looks like a quick fix to ehs sample in the docs. Would you mind opening up a PR?

[2020-03-29 01:59] houmark commented on #2221
@undefobj I mentioned it here:
https://github.com/aws-amplify/amplify-cli/issues/1678#issuecomment-589250260

[2020-03-29 03:36] JacksonGariety commented on #288
It would be really nice if there were docs on settings up amplify without using the wizard. It's way too restrictive if you're already making use of AWS's extensive tooling.

[2020-03-29 06:39] sbue commented on #3362
Bump on this!

[2020-03-29 16:37] togro opened #3808 "Filter is not working on Api AdminQueries"
** Which Category is your question related to? **

Auth AdminQueries

** What AWS Services are you utilizing? **

   Cognito AppSync S3 Pinpoint Hosted UI

** Provide additional details e.g. code snippets **

We update to amplify 4.17.1 on project with Angular + Ionic , before that filters on AdminQueries works fine, but now show all users and not filter by email ^= "xxxx@xxx.com" (by example).

W

[2020-03-29 16:53] kylekirkby commented on #3509
@akshbhu how to do I apply your fixes to my app with this merge you’ve just committed? I’m hesitant to patch the policy by hand...
Kind regards,

Kyle

[2020-03-29 17:32] lenarmazitov opened #3796 "Appsync api _version with Elastic Search @searchable directive (trigger fails)."
**Describe the bug**
When I add document with **_version** property to annotated @model+@searchable type of Graphql schema, trigger DbToEs fails with following error:

[code]

Without **_version** property there are no errors.

[2020-03-29 18:27] kylekirkby commented on #3509
@kaustavghosh06 @akshbhu I've just applied the changes made in this PR (#3612) and I'm still getting "Access Denied" when trying to list a users "protected content". I'm listing a users assets using:

[code]

Adding to S3 using:
[code]

So I'm using the "protected"  level. This works without the user being in a group. What's going on with this? So adding a user to group makes the Storage.x functio

[2020-03-29 19:12] hardchor commented on #2880
Can confirm that this is only happening when installing through yarn.
Even when manually installing the missing plugins, e.g. `amplify-provider-awscloudformation`, it still won't recognise them as a provider plugin.

[2020-03-29 19:55] ranjan-purbey commented on #2145
In the query `getCompany`, shouldn't the argument be `id: 'company-id'` instead of `id: 'package-id'`

[2020-03-29 21:39] Tom-T opened #3806 "The argument 'file' cannot be empty. Received ''"
**Describe the bug**
I'm not exactly sure, it just started happening recently. I'm not sure what the cause is. It started with an existing project and has since plagued me. I'm not sure if it is related to the auth module, the hosting module, or something else. This time I didn't use API, so it isn't that.

**To Reproduce**
I'm sure some of the options are important so I've included a log. To star

[2020-03-30 00:41] dconlon-monigo commented on #3368
It is funnier than you think...if you make changes to an unmodifyable property of a UserPool(e.g. custom attributes) created by amplify outside of an amplify push(via cli or web console) then you also get into an unrecoverable state. There are several sharp edges you have to look out for.

Is there anything we can do to make this a better experience? e.g. split out the UserPools from the main cf s

[2020-03-30 01:05] bakersemail commented on #365
Need this support in our org as well

[2020-03-30 01:53] Dafeesh commented on #3421
Experienced the same issue. The main installation page still says that Node 8.x is required.
https://aws-amplify.github.io/docs/

[2020-03-30 01:58] sbue commented on #2384
Similar to this - it would be great to be able to clear the data / cache in DataStore when developing / testing

[2020-03-30 05:31] brandonBuster commented on #401
Glad to see there's ongoing interest here. Auto-generated timestamps provided by Appsync aren't of any help if we can't query them.

Additionally, unless these timestamps are explicitly declared in our schemas, there's no way to use timestamps as our Range Keys. **Every production-ready app needs ability to index timestamps**

One of the main benefits advertised by Amplify/Appsync are their auto-g

[2020-03-30 06:55] alan-cooney commented on #3745
Did you ever resolve this?

[2020-03-30 08:07] mdepascale opened #3797 "Pipeline resolvers, without lambda function"
**Which Category is your question related to?**
I'm trying to create a pipeline of resolvers without lambda function

**Amplify CLI Version**
4.17.2

**Provide additional details e.g. code snippets**
[code]

Let's say, for no particular reason, I want to create a Post and read a Blog,
- can a resolver do an update and a get operation? something like [transact resolver](https://docs.aws.amazon.com/

[2020-03-30 10:14] ragate-tatsuyoshi opened #3798 "amplify push hosting has errror ... TypeError: Cannot read property 'client_id' of undefined"
**Describe the bug**
When I try to push for amplify hosting. That had error.
[code]
Also the cloud watch error is following.
[code]

**Amplify CLI Version**
[code]

**To Reproduce**
[code]

**Expected behavior**
I want to deploy amplify hosting with success.
- Amplify hosting is success
- Deploy to Nuxtjs with spa mode.

**Desktop**
 - OS: OSX Mojave 10.14.5 (18F132)
 - Node Version v10.16.3

[2020-03-30 11:09] kylekirkby commented on #3509
For anyone having the same issues - I had to update my storage instance using `amplify update storage` and allow access through the Individual Groups option. Thanks all for your hard work on this project.

Best regards,

Kyle

[2020-03-30 11:30] batical opened #3799 "[Appsync] [lambda] function is not resolved in datasource {env}"
**Describe the bug**
When using lambda function resolver for Appsync, arn is not resolved . Bug is really recent

**Amplify CLI Version**
4.17.2

**To Reproduce**
in schema.graphQL

type Query {
...
test(id: ID!): [UserInfo] @function(name: "testFunction-{env}")
}

**Expected behavior**
expected {env} to be resolved

**Screenshots**
![Capture d’écran 2020-03-30 à 13 28 09](https://user-images.gith

[2020-03-30 12:32] estyh commented on #554
I encounter the same problem using git bash inside vscode

[2020-03-30 12:41] ricardoribas commented on #550
In the project i am working at the moment i have a similar problem. Our solution was to create an additional package as @yuth stated. Additionally, we add a postInstall script in **package.json** that will just add symlinks to all the frontends using amplify backend. In our case, it worked like a charm. 🎉 I hope this intel is useful.

[2020-03-30 13:51] #3799 closed

[2020-03-30 13:51] batical commented on #3799
sorry wrong typo on my side

[2020-03-30 14:41] daajack opened #3800 "Cannot add trigger lambda function on S3 bucket"
**Describe the bug**
I cannot add an existing trigger lambda function to my also existing storage bucket. I receive an error `Unable to validate the following destination configurations.`
I also tried to attach a new function but i had another error.
`Parameters: [storages3856d6b6aBucketName] do not exist in the template`

**Amplify CLI Version**
4.16.1

**To Reproduce**
With an existing storage a

[2020-03-30 15:18] alexkates opened #3801 "amplify.state files"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
function

**Amplify CLI Version**

4.12.0

**What AWS Services are you utilizing?**
Lambda

**Provide additional details e.g. code snippets**
I've noticed new files recently after doing `amplify pull` called `amplify.state` that are located throughout

[2020-03-30 15:23] kaustavghosh06 commented on #3798
Just running amplify push instead of amplify hosting push should solve the issue. Can you please try that?

[2020-03-30 15:24] kaustavghosh06 commented on #3800
Which region are you deploying to?

[2020-03-30 15:25] daajack commented on #3800
eu-central-1

[2020-03-30 15:35] paulsson commented on #1874
Hey all,
Just following back up with the solution I used to solve this circular dependency problem. My issue was with using the Cognito Pre-Token generation lambda trigger which needed to know information about my Appsync API (API ID or endpoint). This circular dependency would occur though for any Cognito lambda trigger that needs to know the API ID or endpoint.

Dependency looks like this:

- AP

[2020-03-30 16:24] xitanggg opened #3802 "[Bug] - "amplify api push" throws error if project has no API Key authentication provider configured"
**Describe the bug**
I created a graphQL schema with `@auth` for a public apiKey to be used for graphQL local development and testing. Now I can't update my api or schema. It throws the following error whenever I do `amplify api update` or `amplify api push`.

There was an error pushing the API resource
InvalidDirectiveError: @auth directive with 'apiKey' provider found, but the project has no API

[2020-03-30 16:41] ammarkarachi commented on #3796
@lenarmazitov Can you send us the schema we can reproduce the issue with?

[2020-03-30 16:43] ammarkarachi commented on #3802
@xitanggg Can you try `amplify push` to make sure the auth is pushed too?

[2020-03-30 17:01] xitanggg commented on #3802
@ammarkarachi thanks for your prompt response. I don't give Cognito users IAM permission when creating Auth so I doubt this would help. I have some resources not ready to push at this moment but I can try later.

[2020-03-30 17:26] jhockett commented on #3793
@killallskywalker thanks for the report. I can confirm what @Jay2113 said, and just running ```amplify push``` before ```amplify mock``` works for now

[2020-03-30 17:59] jhockett commented on #3782
Hi @xitanggg!

In this case, userId would be the primary key and createdAt is the sort key.
See: https://aws-amplify.github.io/docs/cli-toolchain/graphql#definition-1

Here's how I created the schema to get the queries working using the new style of connections:
See **Has Many** relationships: https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-2

[code]

When I use the above schema and

[2020-03-30 18:27] jhockett commented on #3699
Closing this for now @amirmishani. If you have additional issues or questions please comment below.

[2020-03-30 18:27] #3699 closed

[2020-03-30 19:41] #3509 closed

[2020-03-30 19:45] nikhname commented on #3745
@Jay2113 Which version of amplify-tools-gradle-plugin are you using?

[2020-03-30 19:46] ammarkarachi commented on #3797
@mdepascale Yes, you can use update/get in each resolver. Each function in the pipeline gets its own resolver.

[2020-03-30 19:48] #3778 closed

[2020-03-30 19:48] kaustavghosh06 commented on #3368
@dconlon-monigo We've raised these concerns to the Cognito team regarding the immutable properties of user-pools and they're actively working on making this experience better.

[2020-03-30 19:48] #3368 closed

[2020-03-30 19:49] kaustavghosh06 commented on #3802
@xitanggg Do you have API Key authorization set as one of the Auth types? You can check that in `amplify/backend/backend-config.json` file.

[2020-03-30 19:58] mdepascale commented on #3797
thank you

[2020-03-30 19:58] #3797 closed

[2020-03-30 21:00] ngnathan commented on #659
Has anyone tried TypeScript recently in Amplify Lambda functions with Promises?  I'm receiving errors that I can't get past.

If I try to use Promise directly (e.g. `new Promise()`), I get the following error:
[code]

If I try to use async/await:

[code]

Even in the blog [https://servicefull.cloud/blog/amplify-ts/](https://servicefull.cloud/blog/amplify-ts/), if I use that example (with their tsc

[2020-03-30 21:07] SwaySway commented on #3594
Closing this issue should you still have any questions related to this please feel free to comment below.

[2020-03-30 21:07] #3594 closed

[2020-03-30 21:13] ammarkarachi commented on #3726
@rush86999 I am closing this issue, do not hesitate to re open this issue if you run into any problems.

[2020-03-30 21:36] edwardfoyle commented on #3801
Hi @alexkates that file is related to some changes we are making to the platform. The short answer is you should commit these files and stay tuned for more information.

[2020-03-30 21:45] yuth commented on #3794
If you're using Cognito generated JWT token, the token should have the `email` passed in the field. You could update your`@auth` directive to use `email` as  `identityClaim` as [documented](https://docs.amplify.aws/cli/graphql-transformer/directives#custom-claims)

[code]

[2020-03-30 22:10] #3785 closed

[2020-03-30 22:20] akshbhu commented on #3741
Hi @amuresia

According to AWS bucketName docs : **Bucket names must be unique across all existing bucket names.** To avoid this problem , if the user has same bucketName and env name in some earlier project, we append the a part of stackName to maintain uniqueness in the bucketNames.

Thats why there is one extra dev append to your bucketName.You can find the bucketName in awsexports.js file and

[2020-03-30 22:42] #2453 closed

[2020-03-30 22:47] SwaySway commented on #3777
In the current implementation you can open them publicly, view below

[code]
This will create the subscriptions operations (onCreate and onDelete) and create resolvers for the subscription operations. Which you can edit to make your own [custom resolver](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers).

[2020-03-31 00:34] xitanggg commented on #3782
@jhockett Thank you for taking at look at this and your thorough example.

I understand this issue can be solved by adding a secondary index, in which you specify `keyName: "byAccount"` at `@connection' and `name: "byAccount"` at `@key`. It confuses me as why the connection is not automatically created simply by using primary index as is the way I created the schema (hence why I emphasize "primary

[2020-03-31 01:02] xitanggg commented on #3802
@kaustavghosh06 thanks for looking into this issue. No, I don't think I have API key authorization set. When creating `Auth` using the CLI, I choose `Manual configuration` and only gives User `Sign-Up & Sign-In Only`. When creating the GraphQL `API`, I add `API key` as authorization type in addition to `Amazon Cognito User Pool`. I am using the `API key` temporally myself because it is easier to d

[2020-03-31 02:16] LpmRaven opened #3807 "DynamoDB preserving order in GSI"
I am having a problem preserving the order of my products in a global secondary index. The global secondary index converts an Int field (savingsVsRrpValue) into the concatenated sort key which is a string (as shown below). Due to this, the ordering of the products is lost, for example:

Two identical products (besides the final savingsVsRrpValue), requested in a DESC order, would return a product

[2020-03-31 02:16] ul commented on #3153
I wonder why does it register the entire user directory as a Watchman root in the first place?

[2020-03-31 03:11] xitanggg commented on #3681
I am looking for this same feature as well. DynamoDB supports Atomic Counters. Can Amplify support this? It is such as common features to keep track of upvotes, likes, etc that any app would use nowadays.

[2020-03-31 03:23] xitanggg commented on #3681
Just an idea and not sure if this would solve your issue. May be use `@function` and invoke an lambda to perform the increment operation for resetCount and totalResetTime.

[2020-03-31 04:20] ragate-tatsuyoshi commented on #3798
@kaustavghosh06 Thank you for reply.
I tried that but I got same error...

[code]

cloud watch log.
[code]

[2020-03-31 04:26] #3793 closed

[2020-03-31 04:32] ragate-tatsuyoshi commented on #3798
I have multiple github repositories and these are using same amplify cloud formation.
(customer, admin)

 I can't across to use multiple github repositories when I use amplify?

[2020-03-31 05:45] lenarmazitov commented on #3796
[code]

This schema will autogenerate input types with property **_version**, this is ok, but if I try to insert some data to DynamoDb with **_version** property, the DbToEs trigger fails

[2020-03-31 06:28] stayingcool commented on #3792
It is already two days past my production deployment window. I have a similar issue in the Dev environment as well. The issue has been open for 3 days, can I have someone to work with me?

[2020-03-31 07:54] egoossens commented on #3794
Thanks for getting back. I did try that at the time, without success. Is the context object populated with an ID token or an access token?  I parsed the Cognito generated access token and it didn't contain an email claim.

For the time being I switched to another service but if I get a chance to try again I'll let you know.

[2020-03-31 07:54] #3794 closed

[2020-03-31 08:33] chrisfowler opened #3810 "Correcting amplify cloudformation stack drift."
**Which Category is your question related to?**

`Drift` Detection in Runtime setting for `amplify` auto generated Lambda function (UserPoolClientLambda).

Stack is in:
[code]
see further:
[code]

**Amplify CLI Version**

[code]

**What AWS Services are you utilizing?**
amplify, cloudformation, lambda

**Provide additional details e.g. code snippets**
I have updated Cloudformation to set lambda ru

[2020-03-31 09:28] vesters commented on #3794
This way (identifyClaim: "email") did not work for me. I kept getting "DynamoDB:ConditionalCheckFailedException" when trying to update records.

My setup is more or less vanilla. Done with "amplify add auth"

Anything extra one has to do to get email included?

[2020-03-31 09:43] lenarmazitov commented on #3796
**Update**
I think this is problem with Elastic Search. May be **_version** is some meta property.
So currently it appears that to use @searchable directive is impossible now.

[2020-03-31 09:53] mcjlnrtwcz commented on #288
+1 - would love to see this feature! :)

[2020-03-31 12:38] kevstafford82 commented on #3752
New to amplify but believe i am getting the same issue (though tried reverting version and still same message) - let me know if you dont get what you need to reproduce, I can share my schema.

Thanks

[2020-03-31 13:05] alexkates commented on #3801
Thanks for the tl;dr. Do you happen to have a GitHub issue outlining the new feature or could you provide just a bit more information?

[2020-03-31 13:34] chai86 opened #3811 "How do i continue working with Amplify on a new machine?"
**Dependencies:**
[code]
I'm using react native for my project. On my old machine, when i ran amplify status, i had `Auth`, `Api` and `Storage` services listed.

I moved to my new machine, installed node, watchman, brew etc... and then navigated to my react native project and ran: `react-native run-ios`, and voila, my app is running. All the calls to my AWS Api, Auth and Storage are working perfec

[2020-03-31 14:04] mdoesburg commented on #3777
@SwaySway Thank you for your reply. I changed my schema to match your suggestion, but this gives me the following warning:
[code]

Do I have to remove the owner field from the schema?

Note: I haven't edited any resolvers yet.

[2020-03-31 16:04] chai86 commented on #3161
@UnleashedMind I have just moved to a new machine and my project was running beautifully (with Api, Auth, Storage services via Amplify). I then installed `npm install -g @aws-amplify/cli`. I ran amplify status:

[code]

Strangely Api updated even though i've made no changes. Anyway, when i ran `amplify push`, i got the following error.
`An error occurred during the push operation: ENOENT: no such

[2020-03-31 16:12] #3811 closed

[2020-03-31 16:13] chai86 opened #3812 "Installed amplify-cli and got this error: ENOENT: no such file or directory, ...team-provider-info.json'"
@UnleashedMind  I have just moved to a new machine and my project was running beautifully on the new machiine(with Api, Auth, Storage services via Amplify). I realised i needed to interact with amplify-cli, so I then installed `npm install -g @aws-amplify/cli`. I ran `amplify status`:

[code]

Strangely Api updated even though i've made no changes. Anyway, when i ran `amplify push`, i got the foll

[2020-03-31 16:58] kaustavghosh06 commented on #3812
@chai86 How did you move these files to your new machine? Did you also copy the `amplify/.config/local-env-info.json` from your old machine to the new one?

[2020-03-31 17:00] kaustavghosh06 commented on #3808
@togro I don't believe we modified the admin queries function - and if you already had your admin queries function defined - we wouldn't automatically modify it. Having said that, you can go ahead and modify the Admin query lambda function based on your needs and then run `amplify push`.

[2020-03-31 17:05] yuth commented on #3362
When using `@function` directives in your schema, in order to use an function that is added in the project, you will have to [add](https://docs.amplify.aws/cli/usage/mock#function-mocking-setup)  `-${env}` to the function name. Mock supports functions that are added using the Function category and does not support the functions that were added in a different project

[code]

Feel free to comment h

[2020-03-31 17:05] #3362 closed

[2020-03-31 17:11] yuth commented on #3794
No the conext get populated with the token that is sent when making the GraphQL query.  Amplify JS sends `accessToken` by default but idToken` can be sent using the following code snippet

[code]

[2020-03-31 17:20] chai86 commented on #3812
@kaustavghosh06 That file doesn't seem to exist in my current amplify folder (or even my old machine). I've only ever used amplify-cli (no console).

[2020-03-31 17:29] chai86 commented on #3812
Current amplify folder: <img width="527" alt="Screen Shot 2020-03-31 at 18 25 39" src="https://user-images.githubusercontent.com/43324724/78056468-15149c80-737d-11ea-8638-5ee905302904.png">

cloud-backend-folder:
<img width="681" alt="Screen Shot 2020-03-31 at 18 26 17" src="https://user-images.githubusercontent.com/43324724/78056522-35445b80-737d-11ea-9f86-f7e42c274e61.png">

backend folder:
<img

[2020-03-31 17:31] kaustavghosh06 commented on #3812
It won't show up on your finder since its a . file - you'll have to look access it via your terminal or you'll have to enable "showing of hidden folder" for your Mac finder.

[2020-03-31 17:37] chai86 commented on #3812
Found it thanks. I just checked, its precisely the same as the one on my new machine. I haven't run amplify configure (why would I? It's precisely the same project on a different machine, which is working and don't want to risk messing my current project up). Any idea whats missing here?

[code]

[2020-03-31 17:37] UnleashedMind commented on #3812
@chai86
Could you just zip up your project's `amplify` folder and send the zip file over to us for diagnosis?

[2020-03-31 17:41] chai86 commented on #3812
Sure no problem, let me know when you guys receive it.

[2020-03-31 18:11] kigorw commented on #1235
@kaustavghosh06  on version 4.17.2 `amplify push --force` still asks for confirmation.

[2020-03-31 18:14] kaustavghosh06 commented on #3812
@chai86 Just try running `amplify configure project`. I believe the "projectPath" for your new machine would be different than your previous machine right? `amplify configure project` should be able to rectify that.

[2020-03-31 18:57] mdoesburg commented on #2189
Same

[2020-03-31 19:07] kaustavghosh06 commented on #1235
Yes, amplify push --force will ask you for confirmation. If you want to avoid the confirmations use the --yes  parameter.

[2020-03-31 19:43] chai86 commented on #3812
Yes project path has changed only slightly. I'm going to try and set the same project path as before and try again, to try not to risk an amplify configure yet. I'll give that a try and if not, i'll need guidance on the `amplify configure project` or `amplify pull`. Speak soon

[2020-03-31 19:43] jhockett commented on #3782
Apologies for misunderstanding your post the first time. You're correct, it's not currently possible to avoid the use of a secondary index in this case.

[2020-03-31 19:49] seanvm commented on #3812
I just ran into a similar issue. I'm curious, in the path does it reference `amplify` twice?

e.g. `/amplify/amplify/team-provider-info.json`?

[2020-03-31 19:50] chai86 commented on #3812
@seanvm nope just once

[2020-03-31 19:50] mdoesburg opened #3814 "DataStore subscriptions with combined authorization rules"
**Which Category is your question related to?**

GraphQL Transform: @auth

**Amplify CLI Version**

4.17.1

**What AWS Services are you utilizing?**

- Amplify
- AppSync
- DynamoDB
- Cognito

Within the Amplify framework I am using:

- Auth
- DataStore

**Provide additional details e.g. code snippets**

I've created a React Native app in which users can create contacts. This is the schema:

[code]

[2020-03-31 20:51] togro commented on #3808
@kaustavghosh06 , we modify app.js and cognitoAction.js and works fine now .

We don't know what  happened, the only what we do was

rm -rf node_modules

... and  ...

yarn install

Thanks !

[2020-03-31 21:04] #3808 closed

[2020-03-31 23:16] ajpaulingalls commented on #3758
any progress on this?  It would be nice to not have to hard code environment specific data in the cloud formation files...

[2020-03-31 23:16] mdebo commented on #2084
Hi

I just meet the same limitation.
Reason: Maximum policy size of 10240 bytes exceeded for role mutationLambdaRole8production (Service: AmazonIdentityManagement; Status Code: 409;
The version of the cli used is 4.16.1
What can i do to increase this limit?

[2020-03-31 23:27] mdebo opened #3815 "Getting error AmplifyResourcesPolicy AWS::IAM::Policy Wed Apr 01 2020 01:19:56 GMT+0200 (Central European Summer Time) Maximum policy size of 10240 bytes exceeded for role mutationLambdaRole-production"
When pushing a lambda functin , I get this error:
 AmplifyResourcesPolicy                                                  AWS::IAM::Policy           Wed Apr 01 2020 01:19:56 GMT+0200 (Central European Summer Time)  AmplifyResourcesPolicy                                                  AWS::IAM::Policy           Wed Apr 01 2020 01:19:56 GMT+0200 (Central European Summer Time) Maximum policy size

[2020-04-01 00:02] stayingcool commented on #3792
Four days and still no assistance on an issue that mentions that the production deployment is blocked out! There are people who are waiting for functionality.

Is there someone who even looks at these issues?

[2020-04-01 00:03] MattWlodarski opened #3839 "Unauthenticated Login"
** Which Category is your question related to? **
Auth.
** What AWS Services are you utilizing? **
Cognito and GraphQL API
** Provide additional details e.g. code snippets **
Hello,

I am trying to send a create mutation from my app as a guest user. I set up my auth through cognito to allow unauthenticated access in conjuction with IAM. Also I added this line to my model:

@auth(rules: [{allow: pu

[2020-04-01 00:09] kaustavghosh06 commented on #3792
@stayingcool In your `amplify/backend/` folder there would be Cloudformation files - you can manualy change the NodeJS versions of those files to v12.x. These maybe include files in the ``amplify/backend/auth` directory as well. What are the resources you have in your Amplify project? You can find that out using amplify status.

[2020-04-01 00:21] kaustavghosh06 commented on #3810
@chrisfowler You can update the Cloudformation templates located in `amplify/backend` directory of your project and run `amplify push`. You should treat these Cloudformation templates are your source of truth and would overwrite any changes you made on the AWS console.

[2020-04-01 00:24] brene commented on #3792
@stayingcool - can we get on a call together or can send us your zipped `amplify` folder to amplify-cli@amazon.com ? This will help us diagnose the issue faster.

[2020-04-01 00:25] brene commented on #3792
DM me on Twitter to agree on a time for a call if needed. twitter.com/renebrandel

[2020-04-01 00:32] kaustavghosh06 commented on #3802
@xitanggg No, you don't need to have to set API Key in your "auth" resource. you'd have to set API Key as an authentication type as a part of your API itself. It can either be the default auth type or an additional auth type. You can go through the `amplify update api` flow to add API Key as an authentication type to your API.

[2020-04-01 00:32] stayingcool commented on #3792
I updated the NodeJS version to nodejs12.x in the dev environment to begin with.

Here is the output of amplify status:
$ amplify push
Scanning for plugins...
Plugin scan successful
✔ Successfully pulled backend environment devfirst from the cloud.

Current Environment: devfirst

| Category | Resource name                | Operation | Provider plugin   |
| -------- | ---------------------------- |

[2020-04-01 00:36] kaustavghosh06 commented on #3792
@stayingcool We use Lambda Custom resources in the "Auth" Cloudformation tempaltes as well - which need to be updated to v 12.x or 10.x as well. From your previous comment, it looked like a deployment in the auth stack failed -

The following resource(s) failed to update: [UserPoolClientLambda].

Could you provide the "UPDATE_FAILED"  Cloudformation events from your terminal? That woould help us b

[2020-04-01 00:36] stayingcool commented on #3792
@brene - After zipping the folder it is 62 MB. I'm not sure if I'll be able to send that as an attachment in an email.

Any other alternatives to share the zipped amplify folder?

[2020-04-01 00:39] stayingcool commented on #3792
There is no verbose information. Here is the screenshot:
<img width="1332" alt="amplify push error" src="https://user-images.githubusercontent.com/31205483/78087636-6ff5d480-740d-11ea-805c-31284b417530.png">