[2019-02-12 02:01] flybayer commented on #858
I'll try that. I generated the userpool using the amplify cli. However, I did manually modify the template add email as the username attribute.

[2019-02-12 02:13] flybayer commented on #858
It looks like it will be more than just that. It also deleted the app clients from the original userpool, except for the client I manually created for using from the AppSync console.

And if I replace the values in aws-exports.js, will they be overridden by the cli at some point?

[2019-02-12 02:26] motivus commented on #835
The auth type for my API Method Request was AWS_IAM, so I created a new Authorizer based on my Cognito User Pool. I'm still getting the same error as above.

[2019-02-12 02:45] nagey opened #863 "So far as I can tell, the `exists` field of the `SearchableStringInput` is non-functional"
**Which Category is your question related to?**
Usage of a search functionality on a model that is `searchable`

**What AWS Services are you utilizing?**
Amplify, DynamoDB, ElasticSearch.

**Provide additional details e.g. code snippets**
When trying to run a search for `exists: false` on a field, I get a persistent error of type `Elasticsearch:UserIllegalArgumentException` with an error message o

[2019-02-12 02:58] eunsanghouse commented on #766
@undefobj If AppSync supported multiple Authorization types, automating two APIs would not be necessary. The simplest example to understand use case would be something like Smashing Magazine where:

- Guest (unauthed) users can read posts
- Editors (authed with limited roles) users can read and write posts
- Admin (authed with full roles) users can do something more than editors

With multiple Aut

[2019-02-12 10:00] kraisorns commented on #584
I run to the same error as well here my log

[code]

amplify version: 1.1.0

[2019-02-12 16:00] vparpoil opened #861 "@model directive doesn't work as expected"
**Describe the bug**
@model directive doesn't work as expected / as described in the documentation [here](https://aws-amplify.github.io/docs/cli/graphql#model)  :

Removing all mutations seems broken

**To Reproduce**
1. Create a amplify project and add `api` to it.
2. Update the `amplify/api/app_name/schema.graphql` as described in the docs :
[code]
3. run `amplify push api` to deploy the graphql

[2019-02-12 17:02] #848 closed

[2019-02-12 17:48] yuth commented on #768
Feature is release and available in Amplify CLI 1.0 and above

[2019-02-12 17:52] yuth commented on #715
We have added a new configuration option to codegen, which allows to configure the max depth, while pushing a new AppSync API. For APIs that are already configured, this can be updated by running `amplify codegen configure`.

The depth can also be controlled by passing `--max-depth` param to either `amplify codegen` or `amplify codegen statements`

[2019-02-12 17:52] #715 closed

[2019-02-12 17:53] yuth commented on #745
We have added a new configuration option to codegen, which allows to configure the max depth, while pushing a new AppSync API. For APIs that are already configured, this can be updated by running `amplify codegen configure`.

The depth can also be controlled by passing `--max-depth` param to either `amplify codegen` or `amplify codegen statements`

[2019-02-12 17:53] #745 closed

[2019-02-12 17:54] yuth commented on #638
We have added a new configuration option to codegen, which allows to configure the max depth, while pushing a new AppSync API. For APIs that are already configured, this can be updated by running `amplify codegen configure`.

The depth can also be controlled by passing `--max-depth` param to either `amplify codegen` or `amplify codegen statements`

[2019-02-12 17:54] #638 closed

[2019-02-12 18:01] yuth commented on #712
We have updated the transformer to generate filters that support ENUM types. If the  filed is a list of enum you can use `eq`, `ne`, `contain` and `notContain` filters. If the filed is enum we support `eq` and `ne` filters.

The change is available in Amplify CLI v1

[2019-02-12 18:01] #712 closed

[2019-02-12 19:25] disruptek commented on #839
I noticed the same behavior when attempting to install amplify/cli into my project (with npm) as opposed to installing it globally.

[2019-02-12 19:55] yuth commented on #839
@daviskoh We had some issues in older version of CLI when installed in project. What version of amplify cli were you trying to install in your project.

[2019-02-12 22:12] stanleycyang commented on #185
Looks like they [merged](https://github.com/aws-amplify/amplify-cli/pull/581) the branch to amplify/multienv now!

[2019-02-12 22:18] kaustavghosh06 commented on #185
Hey guys,
The fix for this has been merged to the main cli verison. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI.

[2019-02-12 22:18] #185 closed

[2019-02-12 22:20] kaustavghosh06 commented on #30
Hey guys,
We've added functionality for custom resolvers. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazon.com/blogs/mobile/amplify-adds-support-

[2019-02-12 22:20] #30 closed

[2019-02-12 22:21] kaustavghosh06 commented on #74
Hey guys,
We've added functionality for custom resolvers in the main version of the CLI. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazon.com/blo

[2019-02-12 22:21] #74 closed

[2019-02-12 22:23] kaustavghosh06 commented on #736
Hey guys,
We've added functionality for custom resolvers. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazon.com/blogs/mobile/amplify-adds-support-

[2019-02-12 22:23] #736 closed

[2019-02-12 22:24] kaustavghosh06 commented on #574
Hey guys,
We've added functionality for custom resolvers and other features discussed in the RFC. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazo

[2019-02-12 22:24] #574 closed

[2019-02-12 22:26] kaustavghosh06 commented on #533
Hey guys,
We've added functionality for custom resolvers and custom appsync cfn stacks. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazon.com/blog

[2019-02-12 22:30] kaustavghosh06 commented on #373
@artista7 We now just allow the env names to be lowercase for the time being until we come up with a better solution. Please install the latest CLI using `npm install -g @aws-amplify/cli`  and let me know (and re-opne the issue) if you're still facing this issue.

[2019-02-12 22:30] #373 closed

[2019-02-12 22:30] kaustavghosh06 commented on #811
We've fixed this issue in the latest version of the main CLI. Please install the latest CLI using `npm install -g @aws-amplify/cli`  and let me know (and re-opne the issue) if you're still facing this issue

[2019-02-12 22:30] #811 closed

[2019-02-12 22:32] kaustavghosh06 commented on #561
We've added support for this in our main CLI version.
Please install the latest CLI using `npm install -g @aws-amplify/cli`  and let me know (and re-opne the issue) if you're still facing this issue.

For documentation regarding this, please take a look at https://aws-amplify.github.io/docs/cli/graphql#dynamodbmodeltablereadiops for documentation regarding the same.

[2019-02-12 22:32] #561 closed

[2019-02-12 22:34] kaustavghosh06 commented on #661
We've added support for this in our main CLI version.
Please install the latest CLI using `npm install -g @aws-amplify/cli` and let me know (and re-opne the issue) if you're still facing this issue.

For documentation regarding this, please take a look at https://aws-amplify.github.io/docs/cli/graphql#dynamodbmodeltablereadiops for documentation regarding the same.

[2019-02-12 22:34] #661 closed

[2019-02-12 22:35] kaustavghosh06 commented on #704
@silvesteradamik
We've added functionality for custom resolvers. Please use `npm install -g @aws-amplify/cli` to install the latest version of the CLI. For documentation regarding it, please refer to https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

Here's the launch announcement for the same - https://aws.amazon.com/blogs/mobile/amplify-adds-s

[2019-02-12 22:45] UnleashedMind commented on #822
For the awsmobile-cli, the function is uploaded (the whole function codebase) if there are changes on it after the last push. But the cli does not provide the functionality that lets you push a specific function. Since the aws mobile project has been deprecated, there is no active developments on the awsmobile-cli at this moment.

[2019-02-12 22:49] UnleashedMind commented on #823
@jbarwick
What you found is correct, it's the mobile hub service behavior.
Since the mobile hub project has been deprecated, there's no active development on it at this moment.

[2019-02-12 22:56] lookitsatravis opened #864 "Using new stacks functionality in 1.1.0 results in error and missing files after CloudFormation failure during push command"
**Describe the bug**
I'm using @aws-amplify/cli v. 1.1.0 in order to make use of the new custom stacks/resolvers feature of the AppSync integration. I created a CF template which ultimately failed to deploy because it was misconfigured. However, after the failed deployment, the contents of my API directory were wiped out and replaced with what looks like a CF template dump with keys as directories

[2019-02-12 23:21] kaustavghosh06 commented on #864
@lookitsatravis Sorry for that. We'll have to dig into the root-cause and this since I'm not able to reproduce this behavior on my machine. That being said, if you backed up yoour project before the migration, you could probably just copy paste the amplify/backend/api/<resource-name> directory and put it in place of your malformed directory. You could do it from your amplify/#current-cloud-backend

[2019-02-12 23:23] lookitsatravis commented on #864
Thanks @kaustavghosh06. Yep I had a backup, so nothing lost. Happy to provide more information if you need anything.

[2019-02-12 23:56] jesse-bonzo commented on #864
This is happening for me in the Amplify console.

[2019-02-13 00:07] kaustavghosh06 commented on #864
@jesse-bonzo Amplify console hasn't updated the latest build of the CLI, although they're actively working on getting the CLI build ready for a release soon.
Please continue using the @multienv version of the CLI, if you're actively using the Amplify console.

[2019-02-13 00:26] mwarger opened #865 "Running amplify push after updating to updated CLI causes error;"
**Describe the bug**
Running `amplify push` after updating to updated CLI causes error;

**To Reproduce**
Steps to reproduce the behavior:
1. Run amplify push
2. Accept migration instructions
3. See error:

[code]

**Expected behavior**
It works.

Would appreciate any ideas on how to solve this or get logs for your use.  Thank you!

[2019-02-13 00:32] kaustavghosh06 commented on #865
@mwarger Which version of the CLI did you initialze the project you're trying to migrate?
Can you tell me what your `amplify status` outputs?

[2019-02-13 00:36] mwarger commented on #865
many versions ago - it was one of the original multi-env betas.  I've kept it up to date since then.

amplify status looks normal - no different than it has in the past.

Current Environment: local

| Category  | Resource name   | Operation | Provider plugin   |
| --------- | --------------- | --------- | ----------------- |
| Function  | mylambda       | Create    | awscloudformation |
| Api

[2019-02-13 00:36] mobiledevelopersprojects opened #866 "AppSync RDS support"
**Describe the solution you'd like**
When I design schema with model and relationship, I would want the relational database at the backend instead of creating multiple DynamoDB at the backend, defeating the purpose of NoSQL data store.

**Describe alternatives you've considered**
I have gone with DynamoDB but it amplify doesnt follow the best practices of DDB. So I had to do a lot of customization

[2019-02-13 00:38] kaustavghosh06 commented on #865
Interesting. So you have a standalone function which is not previously deployed.
Just to root cause, can you remove that (make sure to back up the function code) and then run an `amplify push` and see if the migration works?

[2019-02-13 00:38] mwarger commented on #865
Update - I reverted the change I had made to the lambda and ran amplify push again - I accepted the migration and it appears to be working now.  Will update once I see a status.

[2019-02-13 01:31] mwarger commented on #865
It went along doing stuff for quite a while, then I got this.  Please advise @kaustavghosh06

× An error occured when migrating the API project.
Reverting API migration.
× An error occurred when pushing the resources to the cloud

ENOENT: no such file or directory, mkdir 'C:\dev\redacted\amplify\backend\api\mygql\template\Resources\GraphQLSchema\Properties\ApiId\Fn::GetAtt'

[2019-02-13 02:24] lookitsatravis opened #867 "AppSync Pipeline Support w/ overriding auto-generated resolvers"
** Which Category is your question related to? **

API - AppSync with custom stack + resolvers (#574 + #581)

** What AWS Services are you utilizing? **

AppSync Pipeline Resolver with Lambda - using @aws-amplify/cli v 1.1.0

** Provide additional details e.g. code snippets **

I've added a stack to represent a Pipeline resolver using a Lambda function as one of the data sources. During deployment

[2019-02-13 02:29] mwarger commented on #314
@mikeparisstuff - This might be a little out there, but has there been any consideration to, going forward, have Aurora RDS be the default instead of dynamodb?  I don't recall the current status of using Aurora, but it would seem that a relational solution by default would fit the goals of the SDL-first model of AppSync/Amplify more directly (this could possibly even allow for one-time migration f

[2019-02-13 03:17] lookitsatravis opened #868 "Feature Request: Add ability for custom stacks to reference each other's output"
**Is your feature request related to a problem? Please describe.**

The issue that I'm facing is that I'd like to be able to do the following:

1. Using a stack configuration, create a custom data source
2. Using another stack configuration, create a custom resolver which uses data source defined in stack 1.
3. Continues on for as many stacks might need to reference stack 1's resources.

In order

[2019-02-13 05:21] testower commented on #84
Any news on this ref this announcement https://aws.amazon.com/about-aws/whats-new/2019/02/amplify-framework-adds-support-for-multiple-environments-custom-resolvers-larger-data-models-and-iam-roles-including-mfa/ ?

[2019-02-13 07:05] gabehollombe-aws commented on #30
🎉 ❤️

[2019-02-13 07:47] krstffr commented on #314
What @mwarger wrote has been something on my mind as well, as I would guess a majority of apps would benefit from a relational DB rather than a NoSQL one. As soon as you want something just slightly more advanced than the tutorial schemas (just basic relational stuff really!) it feels like the simplicity of AppSync/Amplify is gone.

[2019-02-13 09:13] vparpoil commented on #861
Updated the CLI to the last release (following the closing of #74 which will apparently help answering my interrogations). I started from scratch with `amplify remove api` and `amplify add api`. The bug is still present

[2019-02-13 09:29] colmartofus commented on #736
Thanks for the update.

[2019-02-13 09:48] chris-merapar commented on #865
I have the same error but the scenario is slightly different.

1. Project has api and auth, no functions
2. Start with fresh clone of the repo, so amplify-meta.json is not present (it's in the amplify gitignore)
3. Run amplify init and choose the env I want to deploy
4. Run amplify push and get the s3TemplateURL error

I put some debugging in amplify-provider-awscloudformation/lib/push-resources.j

[2019-02-13 10:50] chris-merapar commented on #865
I just tried something else:

1. amplify env pull --restore
2. amplify push
3. amplify push (see below)
4. Say yes to migration

Some strange things happened:

- After the restore, folders under amplify/backend were created for functions and an api that I deleted from the project a long time ago. They were not referenced in the backend-config.json so I guess they are doing no harm
- The first time

[2019-02-13 15:42] palpatim commented on #840
This seems to be a problem with the AppSync SDK, rather than CodeGen--it looks like the SDK isn't transmitting fields with `nil` values as part of the mutation payload. I'm investigating from the SDK side.

[2019-02-13 16:10] tetreault opened #870 "Amplify CLI mangles name of project"
**Which Category is your question related to?**
Creating a new project

**What AWS Services are you utilizing?**
Amplify CLI

**Provide additional details e.g. code snippets**
When I initialized my new react app with the Amplify CLI I noticed in `amplify/.config/#current-cloud-backend/amplify-meta.json` file it mangled the name I gave it.

I entered `amplifyreactapp` as the name, and to my surpris

[2019-02-13 17:40] jesse-bonzo commented on #864
The `amplify --version` command returns 1.1.0 in the Amplify console, and the file not found errors are seen. It seems very similar to me.

[code]

[2019-02-13 18:26] palpatim commented on #840
I'm tracking this on https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/180. @yuth, please feel free to close this bug in favor of the AppSync iOS issue.

[2019-02-13 18:28] #840 closed

[2019-02-13 18:51] swaminator commented on #864
@jesse-bonzo What steps did you take in the Console?
1) Can I take a look at your build settings?
2) What amplify CLI categories have you enabled?

[2019-02-13 18:59] jesse-bonzo commented on #864
When I make a change and push my code, a build is triggered in amplify console, and then the error is seen.

My amplify.yml:
[code]

The categories enabled are Function, API, Auth, Hosting, and Storage.

[2019-02-13 19:44] UnleashedMind commented on #870
is it the deployment bucket name of the hosting bucket name?

[2019-02-13 19:46] tetreault commented on #870
Hi @UnleashedMind its the deployment bucket. I just was confused why the name wouldnt literally be what I entered.

[2019-02-13 20:05] UnleashedMind commented on #870
The deployment bucket is only internally used by the cli, as you've found out, it does not block any functionalities.
I will check if it can be made more human readable and consistent.

[2019-02-13 20:06] tetreault commented on #870
Thanks for the feedback @UnleashedMind ! Yeah i mean, if I choose a valid name (between 8-20 alphanumeric characters) I don't really understand why the amplify CLI would mangle the name at all? Why not just straight up use the exact same name the user entered?

[2019-02-13 20:12] UnleashedMind commented on #870
what version of the CLI are you using? (execute `amplify -v` to find out).
The latest version (1.1.0) already changed this behavior. the names are appended with time stamp and env name. But the beginning part is the original project name.

[2019-02-13 20:17] mwarger commented on #865
@chris-merapar I will give this a try.  Thanks for the suggestion.

[2019-02-13 20:25] swaminator commented on #864
@jesse-bonzo can you run `amplify push` from your local workstation? How many environments do you currently have (including Console+CLI)?

[2019-02-13 20:32] jesse-bonzo commented on #864
@nikhil-dabhade Yes, amplify push works from my local workstation, but the version is "0.2.2-multienv.1". We have 5 environments setup in Console, and 3 local environments.

[2019-02-13 20:46] tetreault commented on #870
Weird, I couldve sworn when I installed the amplify cli I followed the command in the README on this repo (`npm install -g @aws-amplify/cli`) but i do indeed see `amplify -v` prints out 0.1.45. I wonder how that happened...

[2019-02-13 21:45] UnleashedMind commented on #870
try `npm install -g @aws-amplify/cli@latest`

[2019-02-13 21:48] tetreault commented on #870
Thx @UnleashedMind i'm migrating to this latest version now!

[2019-02-13 21:48] nikhil-dabhade commented on #864
@swaminator ^^

[2019-02-13 22:43] j2d2 commented on #779
although manually configuring gets it to work, this does not allow user files with the `amplify add storage` - it notifies that
`You need to add auth (Amazon Cognito) to your project in order to add storage for user files. Do you want to add auth now?`

it appears that with the manual config amplify does not see a valid Auth available..?

[2019-02-14 00:02] KhaledSoliman commented on #766
+1 the post-signup trigger for adding auto-adding cognito user groups.

And, is there by any chance any possibility of implementing some sort of trigger to use a custom SMS provider instead of SNS, as SNS doesn't support senderID in my country and costs double the normal fee for SMS providers in the MENA region

[2019-02-14 00:47] burtwangama commented on #574
× An error occured when migrating the API project.
× An error occurred when pushing the resources to the cloud

Resource is not in the state stackUpdateComplete

14 Feb 2019 00:43:39 | authcognito8e70670b | UPDATE_FAILED | Parameters: [authRoleArn, autoVerifiedAttributes, unauthRoleName, allowUnauthenticatedIdentities, smsVerificationMessage, userpoolClientReadAttributes, mfaTypes, emailVerificati

[2019-02-14 01:24] mwarger commented on #865
I tried syncing my environment like you described (by doing a `env pull --restore`) - This put my environment in a 'no change' status.  I made a change to the schema so that it would need to update.

I tried to push and I got the same error:

× An error occured when migrating the API project.
Reverting API migration.
× An error occurred when pushing the resources to the cloud

ENOENT: no such file

[2019-02-14 03:04] emanuelherrmann commented on #786
@kaustavghosh06  @ranguard  I have 2 apps sharing the same DynamoDB table and lambda function for CRUD ops.  And today when I tried to  wanted to add the multi env support I faced the same problem.

Then each app will use the lambda function with API gateway, the difference is the security . One of the app does not have any login so I can not restrict it to authenticated users, but in the other I

[2019-02-14 04:48] hassankhan commented on #660
Agree with @doom777 here, consistency around setting up data sources is essential IMO. I also think this RFC should include an equivalent for the `@model` GraphQL directive using Aurora Serverless.

[2019-02-14 06:29] bneigher commented on #839
I'm seeing this with
[code]

tried both:
`npx amplify init` and `./node_modules/.bin/amplify init`

[2019-02-14 11:20] chris-merapar commented on #865
This is a different error to the one I got. You could add some debug logging to whichever CLI JS file generated that error (for me it was /usr/local/lib/node_modules/\@aws-amplify/cli/node_modules/amplify-provider-awscloudformation/lib/push-resources.js).

In general, I don't think these workarounds are a workable solution, as I can't do this every time in the CI pipeline, where the amplify init m

[2019-02-14 14:19] pblankley commented on #288
+1

[2019-02-14 14:39] mwarger commented on #865
@chris-merapar I agree.  The last time there was a substantial update, I had to re-create my projects from scratch.  I hope I don't have to do that this time to get this to work.

@kaustavghosh06 @UnleashedMind Any thoughts?

[2019-02-14 15:58] jkeys-ecg-nmsu opened #871 "`push` is throwing away local changes to graphql.schema"
**Describe the bug**
After adding several models to my schema and doing amplify push with yes to the questions about generating graphQL code, my local schema.graphql is modified back to its original state and the tables for the new models are not being provisioned.

**To Reproduce**
Not sure, I can post my schema and API ID if that helps.

**Expected behavior**
Tables for new models should be prov

[2019-02-14 16:43] k4roshi commented on #819
parameters.json gets updated with the latest deployment timestamp every time amplify push is called with some modifications to the schema.
I've tried adding it to the gitignore file but it breaks builds if it's not present and is not regenerated automatically by init or other commands.

[2019-02-14 17:51] kaustavghosh06 commented on #871
@jkeys-ecg-nmsu I would need some more context
Which version of the CLI are you using?
Did you recently migrate your project to use the latest version of the CLI?
Could you share the cloudformation stack trace which you got when the push failed?

[2019-02-14 17:53] kaustavghosh06 commented on #865
@mwarger Can you show me what your `amplify status` looks like?
Also, could you please show the whole stack-trace if possible (for the migration), that would help us a lot.

[2019-02-14 17:54] kaustavghosh06 commented on #865
Also, would it be possible to share you schema if you can?

[2019-02-14 17:57] mwarger commented on #865
Can you provide an email address and I can send you all that information.  Thanks!

[2019-02-14 18:24] hagiosofori opened #872 "How to upgrade cli to @multienv"
** Which Category is your question related to? **
Multienv

** Provide additional details e.g. code snippets **
I've globally installed the multienv version of amplify-cli. however, creating a git branch, and then running amplify add env produces no result. It runs as though it's not the multienv version.

I checked the globally installed packages, and it shows that the multienv version is install

[2019-02-14 18:35] kaustavghosh06 commented on #872
Hey, can you run `npm install -g @aws-amplify/cli` to install the latest version of the CLI (which has multienv support now).

[2019-02-14 18:43] kaustavghosh06 commented on #865
@mwarger kaustavg@amazon.com

[2019-02-14 19:25] artista7 commented on #574
Awesome! This really was a pain point. Thanks!

[2019-02-14 19:36] poppybank opened #874 "How to rebuild back end resources like S3 buckets used by amplify?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
S3, API GraphQL

** Provide additional details e.g. code snippets **
Amplify version 0.1.44

In a fit of bucket cleanup from some earlier experiments, I seem to have deleted the buckets used by amplify to store data needed for amplify push to work.  Now when I try to push a change to a resolver, I get

[2019-02-14 19:41] kaustavghosh06 commented on #874
@poppybank You should checkout our latest v1 release for the Amplify CLI which supports multiple environments. You can basically clone your infrastructure accross multiple environments (could be in the same or different account). Here's the announcement - https://aws.amazon.com/about-aws/whats-new/2019/02/amplify-framework-adds-support-for-multiple-environments-custom-resolvers-larger-data-models-

[2019-02-14 20:00] poppybank commented on #874
I just installed it so I'll try it out but when I try to migrate the project to the new version it fails because of the same issue

⠙ Migrating your project
Migrating your API. This may take a few minutes.
✖ There was an error migrating your project.
migration operations are rolledback.
2019-02-14T19:58:59.154Z - error: uncaughtException: The specified bucket does not exist date

[2019-02-14 20:02] kaustavghosh06 commented on #874
@poppybank I see..did you delete your deployment bucket?

[2019-02-14 20:04] poppybank commented on #874
Yes.

[2019-02-14 20:07] kaustavghosh06 commented on #874
@poppybank One workaround I could suggest is to remove your GraphQLAPI (after backing up or copying your annotated schema) by using the older version of the CLI-> migrate your project using the latest version of the CLI -> amplify env add (this would create a new deployment bucket for your env)-> add  your API back -> push

[2019-02-14 20:16] poppybank commented on #874
OK, so do this:

- make a copy of the amplify directory
- revert to @aws-amplify/cli@0.1.44
- amplify api remove
- install  @aws-amplify/cli@1.1.0
- amplify api add
- restore backend/api from the old directory
- amplify push
correct?

[2019-02-14 20:17] poppybank commented on #874
Where should the amplify env add be in there?

[2019-02-14 20:23] kaustavghosh06 commented on #874
* revert to @aws-amplify/cli@0.1.44
* Make a copy of the amplify dir as backup
* amplify api remove ideally but I think this won't work since you won't be able to push subsequently due to the missing deployment bucket.
Try this instead, manually delete the `amplify/backend/api<graphqlapiname>/` and `amplify/#current-cloud-backend/api<graphqlapiname>/` directories and remove the api reference from

[2019-02-14 20:44] peterfennema commented on #768
It doesn't work yet.

I have updated to Amplify 1.1.0. The generated Swift code for `S3ObjectInput` is now correct (it has `mimeType` and `localUri` properties added. The generated schema for `S3ObjectInput` is
[code]
But now I receive a GraphQLError when I perform the UpdateUserMutation:

My guess is that `localUri` and `mimeType` must be removed before sending them to the AppSync service. The up

[2019-02-14 20:52] poppybank commented on #874
@kaustavghosh06 that worked!!  Thank you.

Are there docs somewhere about how to point the native apps to different environments?

[2019-02-14 21:10] #643 closed

[2019-02-14 21:20] kaustavghosh06 commented on #874
@poppybank So we follow git-based flows, so each time you do something like `amplify env checkout <env-name>` we regenerate your `awsconfiguration.json` file, which has a list of all your backend resources based on your environment you're checking out. This file could be directly fed to the client libraries.

[2019-02-14 21:20] kaustavghosh06 commented on #874
For more details, please checkout https://aws-amplify.github.io/docs/cli/multienv?sdk=android

[2019-02-14 21:21] poppybank commented on #874
Will do, thank you for your help.

[2019-02-14 21:21] #874 closed

[2019-02-14 21:26] kaustavghosh06 commented on #857
@s37justin Could you please install the latest version of the CLI > 1.0 and see if you still see the issue? I beleive the issue has been fixed in the latest version.

[2019-02-14 21:27] kaustavghosh06 commented on #868
@lookitsatravis So are these stacks used as a custom stack as a part of your AppSync API?

[2019-02-14 21:28] kaustavghosh06 commented on #865
@mwarger Sure! Let's get this fixed :)

[2019-02-14 21:33] lookitsatravis commented on #868
@kaustavghosh06 - yes. After the release of @aws-amplify/cli 1.1.0 I added a `stacks` directory inside `amplify/backend/api/[name]`.

[2019-02-14 21:43] jkeys-ecg-nmsu commented on #871
I did migrate to using the latest version of the multienv. I've verified I'm using the NONE enviroment.

The push didn't fail; it just skipped certain models entirely.

[code]

[2019-02-14 21:56] kaustavghosh06 commented on #871
Can you share your annotated schema? in your amplify/backend/api/<api-name>/build/ directory can you check  for the schema.graphql file and see if the models are present?

[2019-02-14 22:12] michaelcuneo commented on #395
I still can't even get a single file to upload, the steps in the tutorial don't appear to work.

[2019-02-14 22:13] kaustavghosh06 commented on #395
We're actively looking at this. @yuth

[2019-02-14 22:28] #870 closed

[2019-02-14 22:30] kaustavghosh06 commented on #871
Also, we merged multienv funcitonality with support for larger number of models in the annotated graphql schema as a part of the main version of the CLI.
Follow these steps:
 `npm install -g @aws-amplify/cli` -> amplify api gql-compile (which will show you a migration message) -> Check if all your models are generated

[2019-02-14 22:39] kvasukib opened #879 "Api.swift file not generated"
**Describe the bug**
Api.swift file is not created after Amplify Push.

**To Reproduce**
Steps to reproduce the behavior:
([following the AWS Amplify iOS Tutorial](https://aws-amplify.github.io/docs/ios/start))
Amplify Init
Amplify Push
Amplify  add api
Amplify Push

**Which AWS service(s) are affected?**
AMPLIFY

**Expected behavior**
After following the AWS Amplify 'Getting Started' tutorial, th

[2019-02-14 22:41] yuth commented on #879
@andrewdr could you paste the configuration you have for codegen. Its stored in `.graphqlconfig.yml` file which is in the root of your project.

Please obfuscate `graphQLApiId` and ` endpoints` when you paste the content

[2019-02-14 23:38] cocacrave commented on #372
@mikeparisstuff That would be awesome. When will `allow: connection, path: []` be available for `@auth` directive? And is there a way to do this now?

[2019-02-15 00:55] yuth commented on #879
Closing this in favor of https://github.com/aws-amplify/aws-sdk-ios/issues/1236 as all the conversation is happening in that issue

[2019-02-15 00:55] #879 closed

[2019-02-15 01:34] kawallis commented on #574
so if i do a custom query called listProducts and successfully deploy
than dont want it and want a Product table which with generate listProducts query than i get errors on creating the resolvers

[2019-02-15 01:34] ryanhollander opened #881 "amplify migration to new CLI from multienv beta fails on amplify push, does not revert cloud resources to previous state"
**Describe the bug**
upgraded from multienv beta to amplify cli 1.10, amplify push fails:

× An error occured when migrating the API project.
Reverting API migration.
× An error occurred when pushing the resources to the cloud

ENOENT: no such file or directory, mkdir 'C:\Users\Ryan\workspace\voiced\front-office\dashboard\dashboard-api\amplify\backend\api\FrontOfficeDashboardAPI\template\Resources

[2019-02-15 01:43] kaustavghosh06 commented on #865
@mwarger Didn't get your email today. Quick question. Are you using Native windows or WSL to run the CLI?

[2019-02-15 01:44] kaustavghosh06 commented on #881
@rayjanwilson Are you using a windows system? WSL?

[2019-02-15 02:18] brianhilst commented on #881
I had similar results going from the last 0.2.1 multienv beta to the 1.1.1 release.  It deleted all the DynamoDB tables and the AppSync API.  It left Cognito, Lambda, API Gateway, and Pinpoint resources in place.  Here is the console output:

[code]

[2019-02-15 02:24] rayjanwilson commented on #881
No os x

On Thu, Feb 14, 2019 at 8:44 PM Kaustav Ghosh <notifications@github.com>
wrote:

[2019-02-15 02:27] kaustavghosh06 commented on #881
@brianhilst The above operation doesn't seem like a migration issue. Did you remove and add an API?

[2019-02-15 02:28] kaustavghosh06 commented on #881
@brianhilst Could you please tell me the steps you took. I'll try to reproduce this on my end.

[2019-02-15 02:36] brianhilst commented on #881
@kaustavghosh06 I started with a working amplify env using the 0.2.1 multienv beta, installed the 1.1.1 @amplify/cli, and tried amplify push.  The output is above.  I was just trying to see if the new version was backward compatible.  This was a just a working env, so no big loss, but we are hoping to use the new ability for custom resolvers on our main dev branch.  We're still in pre-release mode

[2019-02-15 02:44] ryanhollander commented on #881
@kaustavghosh06 yes, windows 10

[2019-02-15 02:47] ryanhollander commented on #881
@kaustavghosh06 to be clear only the appsync resolvers were affected, the dynamodb tables are intact.

[2019-02-15 02:53] ryanhollander commented on #881
@kaustavghosh06 also, in case this makes a difference. I'm running the CLI via Powershell and I had previously migrated this project from the base cli to the multienv beta using the automated migration.

[2019-02-15 03:00] kaustavghosh06 commented on #881
@ryanhollander Did you take a backup of your project before migrating?
If you, could you replace the amplify/backend/api/<api-name>/ directory with the same directory you have in your back up and then run `amplify api gql-compile` with version 1.1.0 and tell me the logs?

[2019-02-15 04:02] ryanhollander commented on #881
@kaustavghosh06 Yes, I have a backup. I'll do that and post the logs here, thanks.

[2019-02-15 05:08] ryanhollander commented on #881
@kaustavghosh06 This is the result:

GraphQL schema compiled successfully.
Edit your schema at C:\Users\Ryan\workspace\voiced\front-office\dashboard\dashboard-api\amplify\backend\api\FrontOfficeDashboardAPI/schema.graphql or place .graphql files in a directory at C:\Users\Ryan\workspace\voiced\front-office\dashboard\dashboard-api\amplify\backend\api\FrontOfficeDashboardAPI/schema

I see in the App

[2019-02-15 09:16] chengkiang commented on #541
On my Windows 10 Version 1803 (Build 171314.556), Node 8.1.4 and npm 6.8.0, I am also having the same issue when installing via the Windows command line. The \@aws-amplify folder does not exist in %appdata%\npm\node_modules, so I can't even check permissions or remove it.

[2019-02-15 16:00] davidkiss opened #882 "Amplify push fails after adding auth with 3rd party providers (Facebook and Google)"
**Describe the bug**
When using default auth configuration, ```amplify auth add``` and then ```amplify push``` succeeds. When using 3rd party providers (Facebook and Google), ```amplify push``` fails.

**To Reproduce**
* `npm i -g @aws-amplify/cli`
* `amplify configure`
* `amplify init`
* `amplify add auth`

See below logs from ```amplify auth add```:
[code]

* `amplify push`

[code]

**Expected b

[2019-02-15 16:11] ryanhollander commented on #881
@kaustavghosh06 I got a little impatient and decided to try removing the lone data source. I restored the backup again, ran amplify push, and migration succeeded! Unfortunately, I didn't record the logging from the first migration attempt which may have held a clue to the initial failure. After thinking about it, however, it may be that I had a custom resolver attached to that data source. In my s

[2019-02-15 16:47] jkeys-ecg-nmsu commented on #871
@kaustavghosh06 Here's my schema:

[code]

I'll follow up after doing the CLI migration.

[2019-02-15 18:11] jkeys-ecg-nmsu commented on #871
@kaustavghosh06 the CLI migration failed.

[code]

[2019-02-15 19:08] #881 closed

[2019-02-15 20:02] jkeys-ecg-nmsu commented on #871
@kaustavghosh06 and here's the output of running the command you suggested:

[code]

I don't recall schema ever being a directory, was this a structural change in the latest CLI release?

[2019-02-15 21:51] UnleashedMind commented on #882
@davidkiss
What version of the CLI are you using?

[2019-02-15 22:05] davidkiss commented on #882
1.1.0

On Fri, Feb 15, 2019, 16:51 UnleashedMind <notifications@github.com wrote:

[2019-02-16 00:21] garyleefight commented on #864
@jesse-bonzo We tried to reproduce your issue and do find some bugs on the CLI. But the error message is slightly different from yours. We are not sure whether we fixed the issue for you.
Try to rebuild your project online (We have updated CLI version to 1.1.2).
If your project still won't work, please send email to aws-amplify-customer@amazon.com.

[2019-02-16 00:42] chrisbrine commented on #588
I have a similar issue. Except I get two different locations for the error:

UPDATE_IN_PROGRESS Users AWS::CloudFormation::Stack Fri Feb 15 2019 16:34:37 GMT-0800 (Pacific Standard Time)
⠧ Updating resources in the cloud. This may take a few minutes...

UPDATE_ROLLBACK_IN_PROGRESS bento4me-20190212090627-apibento4me-4MLAK1Q3PUOM AWS::CloudFormation::Stack Fri Feb 15 2019 16:35:01 GMT-0800 (Pacific

[2019-02-16 01:15] chrisbrine opened #883 "Amplify push throwing an error when creating a new API"
**Describe the bug**
When AWS Amplify is running amplify push it is not completing and creating an error. I previously was receiving a different error that is already in the bug report, but since I want to continue working I deleted the API and tried to start again from scratch with the API. But now I'm getting an entirely new error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'ampli

[2019-02-16 01:16] kaustavghosh06 commented on #883
@chrisbrine Could you please share your annotated GraphQL schema?

[2019-02-16 17:00] aada commented on #850
This happens also after I create custom stack in stacks folder
`stacks/customstack.json` :
[code]
@vientang can you check if this happens to you

**note** : this issue doesn't happen when I update `schema.graphql`
**Desktop**
* OS: macOS 10.14
* Amplify Cli : 1.1.2

[2019-02-16 18:09] chrisbrine commented on #883
I only have one model so far as I'm slowly building up the site. It is:

type Users @model(
	queries: { get: "getUser", list: "getUsers" },
	mutations: { create: "addUser", update: "editUser", delete: "deleteUser" },
	subscriptions: { onCreate: "onAddUser", onUpdate: "onEditUser", onDelete: "onDeleteUser" }
) @auth(
	rules: [
		{allow: owner},
		{allow: groups, groups: ["Admin"]}
	]
) {
	id: ID!

[2019-02-16 18:16] chrisbrine commented on #883
What it looks to me is it is messing up on the Subscription portion. It is breaking apart the string into multiple characters instead of taking the full string for some reason. Unless there is a different formatting method for subscriptions than for mutations and queries? There's nothing I saw in the documentation that indicates this unless I missed something.

[2019-02-16 18:34] chrisbrine commented on #883
Ok it is definitely that that is the problem.  I see that when listing subscription functions it is expected to be in an array in brackets so I can see that it is just a matter of different formatting. So it does work but looks differently. I might recommend making sure this is added to the @models section of the documentation on the site. :) But at least now I get what the issue was.

[2019-02-16 18:35] chrisbrine commented on #883
Meaning when I changed the subscriptions line in the @model to:
subscriptions: { onCreate: ["onAddUser"], onUpdate: ["onEditUser"], onDelete: ["onDeleteUser"] }
It then worked.

[2019-02-16 18:41] matwerber1 commented on #23
Hi - I'm still not getting aws-exports.js. Steps are -

[code]

I am intentionally leaving out ```add hosting``` (and therefore ```amplify publish```) because I want to test locally without creating a new S3 bucket. I may choose to manually edit the configs to use an existing bucket at a later time.

[2019-02-16 23:44] mwarger commented on #865
@kaustavghosh06 @UnleashedMind @mikeparisstuff I believe I have figured out a temporary work-around for this issue.  I believe the root cause might have something to do with this PR: https://github.com/aws-amplify/amplify-cli/pull/757

I had an enum type that was apparently causing an issue with generating the graphql schema - I temporarily changed this enum type to a string and it appears to migr

[2019-02-17 21:55] vientang commented on #850
@aada Interesting, this actually might be triggering the "Cannot convert undefined or null to object" message.

1. I've reverted my project back, with the `scheme.graphql` file left unchanged.
2. Run `amplify push`

I'm still getting this error message. I didn't create a custom stack but somehow when I run `amplify status`, it shows the hosting category operation as `Update`. Could this be because

[2019-02-17 22:51] aada commented on #850
@vientang I the issue by adding `Parameters : {}` to my custom stack
I think the problem was when amplify validates cloudformation templates it passes the parameters defined in `./amplify/backend/api/{your api name}/parameters.json`  and that becomes invalid when there are no parameters in the template.

It would very helpful if amplif cli had verbose option
I hope this helps you

my teammates had

[2019-02-17 22:57] aada commented on #850
this article might be helpful [multi-environments](https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html)

[2019-02-17 23:07] undefobj commented on #235
We are working on automating this & making it easier. You are correct that the `@auth` features of the GraphQL transformer only work for User Pools at the moment and if you want to have Auth & UnAuth access to an AppSync API you will need to use AWS_IAM via Cognito Identity Pools right now. If you could take a moment and read our RFC please do so to ensure that we are capturing your requirements:

[2019-02-18 00:47] vientang commented on #850
This got me a little bit further. I've added the `Parameters: {}` to `./amplify/backend/api/{your api name}/parameters.json`.

Now, I get the message "GraphQL schema compiled successfully. Edit your schema at ... " but right after, "An error occurred when pushing the resources to the cloud Cannot convert undefined or null to object".

I'll look into the multi-environments link you've sent. Thanks!

[2019-02-18 01:27] vientang commented on #726
@yuth Here's the issue I've created - https://github.com/aws-amplify/amplify-cli/issues/850

[2019-02-18 06:17] YikSanChan opened #884 "@connection codegen missing connection id"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, Amplify

** Provide additional details e.g. code snippets **
I have a 1-N relation: 1 inventory can have N items. Define `amplify/backend/api/<app-name>/schema.graphql`:
[code]
Generated code in `amplify/backend/api/<app-name>/build/schema.graphql`:
[code]
`inventoryItemsId` is in generated t

[2019-02-18 06:20] vientang commented on #850
What I ended up doing was starting over, removing all of the services and adding them back in. This time, when I initialized the project, the `project-config.json` file is different.

Before
[code]

Now
[code]

I'm unsure if this has anything to do with the issue, but updating the schema works just as described in the documentation. Thanks for looking into it @aada!

[2019-02-18 06:26] YikSanChan opened #885 "Transform full graphql schema from schema.graphql with directives"
**Is your feature request related to a problem? Please describe.**
When initializing Amplify Graphql API, need to edit the `schema.graphql`, e.g.,
[code]
Then the SDL will be converted into a **full** graphql schema like below. It takes time, and many jobs running on the cloud.
[code]

**Describe the solution you'd like**
Would be great if the full schema graphql can be generated and return withou

[2019-02-18 12:06] aada commented on #850
I think the problem happens due to updating amplify cli. The new versions have different structure. Can you check if the creator of your project has an older version of amplfy cli?

[2019-02-18 18:30] kaustavghosh06 commented on #883
@chrisbrine  Thanks for letting us know. We'll add this to our documentation. Please let us know if you're still stuck on something.

[2019-02-18 18:32] kaustavghosh06 commented on #872
@hagiosofori Closing this issue. Please let me know if you're still having issues installing.

[2019-02-18 18:32] #872 closed

[2019-02-18 18:36] jkeys-ecg-nmsu commented on #660
May I ask why Aurora Serverless will be supported before provisioned Aurora?

[2019-02-18 19:32] lennybr commented on #885
@YikSanChan if you are just looking to **only** compile the SDL, you can do that quickly by running the `amplify api gql-compile` command.

**More details from the [docs](https://aws-amplify.github.io/docs/cli/graphql?sdk=js):**

If you want to update your API, open your project’s `backend/api/~apiname~/schema.graphql` file (NOT the one in the `backend/api/~apiname~/build` folder) and edit it in y

[2019-02-18 19:51] UnleashedMind commented on #822
Closing the issue for now, feel free to re-open it if needed.

[2019-02-18 19:51] #822 closed

[2019-02-18 19:52] UnleashedMind commented on #823
close the issue for now, feel free to reopen if needed.

[2019-02-18 19:52] #823 closed

[2019-02-18 20:00] #885 closed

[2019-02-18 20:31] doom777 commented on #660
I believe it's because Amplify is meant to be serverless, (dynamic db, user pools). See ElasticSearch for exception.

[2019-02-18 21:31] attilah opened #886 "amplify codegen using relative path to current dir, not to project root"
I've the following content in file ```.graphqlconfig.yml```:

[code]

If I create a dir named 'foobar' and make that the current directory, upon executing ```amplify codegen``` the CLI creates the schemaPath and docsFilePath, generatedFileName files/dirs in 'foobar', not relative to the project's root where the yaml file is.

Not related to the bug, but I don't know why docsFilePath points to the

[2019-02-18 21:36] kaustavghosh06 commented on #865
@mwarger Thanks for looking into this, yes you're correct. We've rootcause the issue and is tied to the enum field changes in #757. We're currently working on fixing this. I'll update this thread once we push a new version with a fix to npm.

[2019-02-18 21:52] poppybank opened #887 "Auth requires MFA even when MFA is turned off but SMS phone number validation is on"
** Which Category is your question related to? **
auth

** What AWS Services are you utilizing? **
Cognito user pool auth

** Provide additional details e.g. code snippets **
amplify --version: 1.1.0

Auth is configured to have email address be optional and phone number is required so validation of the phone number is possible through SMS.

MFA is configured to be off but since it need to validate

[2019-02-18 21:56] YikSanChan opened #888 "Migration failed, reverted but AppSync API stop working"
**Describe the bug**
As title. Please help me figure out:
- How to restore the app.
- How to successfully migrate.

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify env`
2. Migration. See [the full log](https://gist.github.com/YikSanChan/968f00c6a8a2485aaf8c33d6d9b33bac)
3. Automatic rollback due to migration failure. (`git status` shows no local change, all DynamoDB tables remain the

[2019-02-18 21:58] mikeparisstuff commented on #888
Can you please provide more details on the migration including any error messages or CloudFromation stack details?

[2019-02-18 21:59] YikSanChan commented on #888
You can find all the details in [the full log](https://gist.github.com/YikSanChan/968f00c6a8a2485aaf8c33d6d9b33bac). Let me know if you need anything else. Thanks!

[2019-02-18 22:05] YikSanChan commented on #888
@mikeparisstuff Not sure if it is related but after migration:

## Lose all resolvers

![image](https://user-images.githubusercontent.com/17229109/52978406-068c4100-3386-11e9-8501-42557ab5abbf.png)

There exists only 1 data sources (I don't remember how many did I have before migration):

![image](https://user-images.githubusercontent.com/17229109/52978448-31769500-3386-11e9-8bf7-0bc3694aaff4.png)

[2019-02-18 22:08] mikeparisstuff commented on #888
Thanks for the information. It appears that the migration failed because of an AppSync function that references a data source that was being moved during the migration. The migration takes place in two steps and first removes resolvers & data sources before recreating them under a new project structure.

You should be able to unblock yourself by removing the functions that reference the data sourc

[2019-02-18 22:13] YikSanChan commented on #888
Thanks for the fast response, @mikeparisstuff

I don't have `transform.conf.json` in my project directory. As I mentioned above, `git status` shows no change after migration rollback. This is the full project structure in my app folder: https://gist.github.com/YikSanChan/dda8e56778dd809223563b0da49b0aed

[2019-02-18 22:16] mikeparisstuff commented on #888
From that gist, it appears that you no longer have a schema.graphql in your api directory? Is that true?

[2019-02-18 22:17] YikSanChan commented on #888
@mikeparisstuff My apology, I don't print files. Now we will be able to see schema.grapqhl

[2019-02-18 22:17] kaustavghosh06 commented on #888
@YikSanChan I think this issue is similar to this - https://github.com/aws-amplify/amplify-cli/issues/881

[2019-02-18 22:20] YikSanChan commented on #888
@kaustavghosh06 It sounds correct. Anyway, I will do what @mikeparisstuff told me: remove the function, remove the data source, re-push and see if it works (I am not worried about this because the function is no longer in use). If it works, I will re-migrate and see the results.

[2019-02-18 23:02] YikSanChan commented on #685
I believe it will be great if we doc down this knowledge:

[2019-02-18 23:04] mikeparisstuff commented on #888
Great! Glad this is working now. I have reproduced the issue and will work on a fix for the revert so no one else runs into the strange intermediate state.

[2019-02-18 23:06] YikSanChan commented on #888
Thank you @mikeparisstuff ! Feel free to close the issue :)

[2019-02-19 00:04] YikSanChan opened #890 "amplify push fail - related to babel and prettier?"
**Describe the bug**
I change my annotated graphql schema:
[code]
to
[code]
Amplify status:
[code]
Amplify push fails: see full log at https://gist.github.com/YikSanChan/9b2a508b782e7bbaf19262bb0ceca725. It seems everything looks good other than the last place - How does it relate to prettier???
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Change amplify/backend/api/<app-name>/sche

[2019-02-19 00:07] #888 closed

[2019-02-19 00:18] mikeparisstuff commented on #84
The recent announcement does not yet include the http directive, however, you can use custom resolvers to write your own resolvers that use custom HTTP data sources. To do so, you can include your own CloudFormation stacks in the `stacks/` directory that implement your custom HTTP data sources & resolvers.

[2019-02-19 00:27] YikSanChan commented on #884
Updates: I tried below annotated graphql schema
[code]
and `amplify api gql-compile` generates below schema:
[code]
Haven't tried `amplify push` yet. Will update once I get the chance to push

[2019-02-19 01:35] ashwindevendran commented on #660
@jkeys-ecg-nmsu Aurora Serverless is being supported first in the CLI as AppSync has released support for Aurora Serverless and we would like to maintain the consistency between the two.

[2019-02-19 01:38] ashwindevendran commented on #660
@doom777 I do understand where you are coming from in suggesting that datasource addition be included as part of the API creation flow, but the reason we decided to create a separate 'add-datasource' subcommand was so that users that have created an API already can simply add a datasource to their existing API. It is also a more intuitive way to simply 'tack on more datasources.' As AppSync contin

[2019-02-19 01:38] ashwindevendran commented on #660
@buggy The point you made on having a SearchPost resolver (that takes in combinations that will be transformed to WHERE clauses) as opposed to just generating a multitude of getXbyY query resolvers is a great and valid one! I will update the RFC to suggest both options to see if we can get more feedback between the two. Great suggestion!

[2019-02-19 01:50] #865 closed

[2019-02-19 07:20] testower commented on #84
Ok maybe I'm just confused by this: https://github.com/aws-amplify/amplify-cli/releases/tag/graphql-http-transformer%403.0.6

Is there a way to use this directive even if it's not officially supported? Or would you not recommend it? If not, do you have a timeline for when it will be?

[2019-02-19 13:36] apertureless opened #891 "Permissions for connections"
** Which Category is your question related to? **
Authentication & Permissions & API

** What AWS Services are you utilizing? **

Amplify, AppSync, DynamoDB

** Provide additional details e.g. code snippets **

Sorry for the unspecific title. However, I am having a hard time to describe it.

I am using aws-appsync with aws cognito for authentication.

I've followed the amplify docs about the @auth

[2019-02-19 14:10] NicolasRoehm opened #892 "Amplify auth : There was an error adding the auth resource"
**Describe the bug**
I can not add the Auth resource @1.1.2. I'm still getting **There was an error adding the auth resource**

**To Reproduce**
Steps to reproduce the behavior:
- Using `amplify auth add`
- or `amplify api add` / `amplify api update` with Amazon Cognito User Pool as authorization type for the API

**Expected behavior**
I was expecting the CLI to add an Auth resource to my backend.

[2019-02-19 14:55] doom777 commented on #660
@ashwindevendran, I think this question should be dealt as part of a broader question on how to deal with existing changes to apis. Currently, there is more support for creating new apis than editing existing. Creation is the primary use case, therefore it should be supported first. Editing existing apis by adding datasources is also useful, and I see where you come from saying that it is a common

[2019-02-19 16:38] sakhmedbayev opened #893 "`amplify push` fails when using "CustomResources" stack"
**Describe the bug**
`amplify push` fails when using "CustomResources" stack

**To Reproduce**
Steps to reproduce the behavior:
1. Make the following schema:
[code]
2. Add `CustomResources.json` in "stacks" folder like so:

[code]

3. Add req and res templates in "resolvers" folder:
[code]

[code]

4. Issue `amplify push`

5. Should see an error as follow:

[code]

**Expected behavior**
Custom sta

[2019-02-19 17:30] attilah commented on #887
It seems strange to me, since I've MFA off and email, phone number is required and I can login my users with email+password, no MFA pops up, just for registration, since phone number verification is required.

I'd double check my cognito pool settings, what was pushed, because if provisioned cognito settings are looking good, then it is not an Amplify CLI issue, but a cognito one.

[2019-02-19 18:24] gvlachos opened #894 "DynamoDB, ElasticSearch results order with list and with search queries"
I use the latest version of the Amplify and created a GraphQL endpoint with `@model` and `@searchable`  :

[code]

I then entered the following 3 values through the AWS AppSync in the following order

1.
[code]

2.
[code]

3.
[code]

If I use a list query I get the results in the following order, this seems random as if I run it again I may get a different order:

[code]

[code]
My problem is if I

[2019-02-19 18:36] kaustavghosh06 commented on #890
@YikSanChan I wasn't able to reproduce this issue locally with "npm" or "yarn". This issue seems strange. Maybe you would want to install babel globally or locally to your project so that it's available to the CLI (as a wrokaround)?

[2019-02-19 18:37] mikeparisstuff commented on #893
It seems like the problem may be that you have a @connection on the `BookEntity.bookmarks` field while you are also trying to create a resolver on that field via your custom stack. If the intention is simply to override the default behavior of the `BookEntity.bookmarks.req.vtl` request mapping template, then you should drop a file with that name in the `resolvers/` directory and remove the resolve

[2019-02-19 18:38] kaustavghosh06 commented on #887
@poppybank Could you tell me the steps you took in the CLI when adding auth to your project?

[2019-02-19 18:39] poppybank commented on #887
@attilah The difference here is trying to login with phone number and password with no email. This may be a Cognito issue but the thing I'm trying to get to is being able to enter either a username or a phone number in the sign in field (+password) and have SMS verification of the phone number but no MFA.

For the Amplify CLI issue, I'm wondering what I'd need to set up to enable what I _think_ is

[2019-02-19 18:41] kaustavghosh06 commented on #892
@NicolasRoehm Could you tell me what do you see when you do an `amplify status`?

[2019-02-19 18:43] poppybank commented on #887
@kaustavghosh06 I first added Analytics which automatically added Cognito.  Then I did an` amplify update auth` option to set up the defaults and finally edited the XXX-cloudformation-template.yml file to add
`     UsernameAttributes:
        - "phone_number"
`
and
`Schema:
        -
          Name: phone_number
          Required: true
          Mutable: true`
and then did `amplify push`

[2019-02-19 18:45] poppybank commented on #887
@kaustavghosh06 here's the full UserPool section:

`  UserPool:
  # Created upon user selection
  # Depends on SNS Role for Arn if MFA is enabled
    Type: AWS::Cognito::UserPool
    UpdateReplacePolicy: Retain
    Properties:
      UsernameAttributes:
        - "phone_number"
      UserPoolName: !If [ShouldNotCreateEnvResources, !Ref userPoolName, !Join ['',[!Ref userPoolName, '-', !Ref env]]]

[2019-02-19 19:03] YikSanChan commented on #890
@kaustavghosh06 Hmm, does `amplify push` calls any local libs (like babel and prettier) under the hood? I don't understand the issue at all :(

[2019-02-19 19:34] kaustavghosh06 commented on #890
Yes, we do that https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-graphql-docs-generator/package.json
I think there's an issue with the latest version of prettier. Let me lock down the version in the above package and update this thread after we release the change.

[2019-02-19 20:10] jkeys-ecg-nmsu opened #898 "FR: Export existing environment as a config file to be re-imported in new environment"
**Is your feature request related to a problem? Please describe.**
Pretty much all my Amplify applications involve the hosting and auth categories, and a good subset of those also use API, and most of them share configuration (e.g. disable user-signup, use optional TOTP email, require email, production hosting environment).

**Describe the solution you'd like**
I would like to be able to export th

[2019-02-19 20:14] jkeys-ecg-nmsu commented on #660
@ashwindevendran you've given me all the material I need to go to my bosses and convince them to migrate all our Aurora clusters to Aurora Serverless :P Thank you!

[2019-02-19 21:27] alexlhanson opened #899 "SearchableStringFilterInput regexp returns bad request"
# SearchableStringFilterInput regexp returns bad request
## Categories
graphQL/ AppSync, elasticsearch
## Services
DynamoDB, Elasticsearch, Amplify, AppSync
## Summary
When attempting to query the db in the AWS console using the filter by regexp, I get this response message:
```"message": "Elasticsearch responded with an error: Bad Request"```
I am trying to query by date so that I can enter a reg

[2019-02-19 21:37] NicolasRoehm commented on #892
@kaustavghosh06 `amplify status` gives the following :

Current Environment: dev

| Category | Resource name | Operation | Provider plugin |
| -------- | ------------- | --------- | --------------- |

[2019-02-19 21:56] kaustavghosh06 commented on #186
@baharev Please use the new install of the CLI. We genarate an aws_exports file on the first `amplify init` operation.

[2019-02-19 22:00] mathewgries commented on #857
was there another update to the CLI done today. This was working this morning, but now I am getting this same reported error again.

I run these commands in the root of the cloud9 terminal:
# Update the AWS CLI
pip install --user --upgrade awscli

# Install and use Node.js v8.10 (to match AWS Lambda)
nvm install v8.10.0
nvm alias default v8.10.0

# Install the AWS Amplify CLI
npm install -g @aws-a

[2019-02-19 22:12] mikeparisstuff commented on #894
@gvlachos Thanks for the question. I took a look and I believe the issue is with the default Elasticsearch mapping types for your API. By default, it appears that the numeric "now" field will be treated as a float in Elasticsearch and, for some reason, this float value is being rounded. In my case, I saw the values *1550590335* & *1550590345* round to *1550590340* when used by the sort expression.

[2019-02-19 23:12] jernejcic commented on #863
I cannot get past this. I am getting `Elasticsearch:UserIllegalArgumentException` on all my search queries. Any ideas on the cause and how to get around it?

[2019-02-20 00:33] kaustavghosh06 commented on #379
Hey guys,  beleive this issue is solved with the latest version of the CLI. Coul you'll please confirm if you're still seeing the same behavior.

[2019-02-20 00:35] mikeparisstuff commented on #863
Hello thanks for raising the issue. This appears to be a bug and is being investigated. We will work on providing a speedy mitigation and in the meantime you should be able to use custom resolvers to by pass the problem (see https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-geolocation-search-resolver-that-targets-an-elasticsearch-domain-created-by-searchable for an example). Thank you f

[2019-02-20 00:36] kaustavghosh06 commented on #462
@mlynch We've added exponential backoff retry mechanism to our API calls to prevent this behavior. please let me know if you're still seeing this issue with the latest CLI version.

[2019-02-20 00:36] #462 closed

[2019-02-20 00:38] kaustavghosh06 commented on #541
Hey guy, I was trying to reproduce this on a windows machine and wasn't able to. Did you'll run `npm install -g @aws-amplify/cli` and I was able to succesfully install the CLI. Please let me know if you're still seeing this issue.

[2019-02-20 00:39] kaustavghosh06 commented on #567
Hey guys, this issue seems to be fixed in the latest version of the CLI. Pleae feel to re-open if you're still seeing this issue.

[2019-02-20 00:39] #567 closed

[2019-02-20 00:40] kaustavghosh06 commented on #584
@kraisorns Could you please let me the steps you used to add auth? I'm trying to reproducing this issue with the "Default configurations" option and not able to.

[2019-02-20 00:51] kaustavghosh06 commented on #593
@josephecombs Were you able to figure out the issue with the latest version of the CLI? Seems like @UnleashedMind fixed it in #697. Please feel free to re-open the issue if you're still experiencing it.

[2019-02-20 00:51] #593 closed

[2019-02-20 00:55] kaustavghosh06 commented on #627
@Rudra815 Closing this issue due to lack of issue creator response and the inability to reproduce this behavior. Please feel free to re-open this issue if you're still seeing the same problem.

[2019-02-20 00:55] #627 closed

[2019-02-20 01:11] kaustavghosh06 commented on #656
@trusktr I tried installing it locally on various machines (Linux based) and it works fine with the latest version of the CLI. Let me know if you're still facing this issue when installing the CLI locally. I would love to see your local/node_modules structures if you're still seeing the issue.

[2019-02-20 01:12] kaustavghosh06 commented on #778
Hey guys, please take a look at @jahnagoldman solution and if you're still facing the issue, please let me know and we can re-open this issue.

[2019-02-20 01:12] #778 closed

[2019-02-20 01:14] kaustavghosh06 commented on #816
Hey guys, we released a version of the Ampify CLI to support multiple environments (cloning of infrastructure) and sharing  your infrastructure between and outside teams. Please take a look at the documentation for the same - https://aws-amplify.github.io/docs/cli/multienv?sdk=js as it solves the above mentioned use-case and feel free to re-open this issue if you think this problem still exists.

[2019-02-20 01:14] #816 closed

[2019-02-20 01:16] kaustavghosh06 commented on #850
Hey guys, could you install the latest version of the CLI and see if the issue still exists? In the newer version we don't mantain absolute paths for the plugins (and we do a auto-migration) for you as well when upgrading to the latest version of the CLI. Please take a look at this accouncement - https://aws.amazon.com/blogs/mobile/amplify-adds-support-for-multiple-environments-custom-resolvers-la

[2019-02-20 01:17] kaustavghosh06 commented on #857
@mathewgries Which version of the CLI were you using before?

[2019-02-20 01:23] kaustavghosh06 commented on #892
@NicolasRoehm  Looks like you havent added auth succesfully. Can you run `amplify add auth` again and check amplify status? It should have an auth entry in it.

[2019-02-20 01:37] kaustavghosh06 commented on #866
@mobiledevelopersprojects  We have an RFC for the same out here - https://github.com/aws-amplify/amplify-cli/issues/660 for the same and we're working to get a solution out for Aurora serverless soon. Please feel free to add your feedback to the the RFC.

[2019-02-20 01:44] stanleycyang commented on #127
I'm seeing issues with this after the new cloudformation fix:

[code]

I added one line to sort notifications:

[code]

[2019-02-20 01:44] kaustavghosh06 commented on #673
Closing this issue as it seems to be solved. Please let me know is this problem still exists.

[2019-02-20 01:44] #673 closed

[2019-02-20 01:50] kaustavghosh06 commented on #461
Closing this issue due to lack of issue creator response. Please feel free to re-open if this issue still exists.

[2019-02-20 01:50] #461 closed

[2019-02-20 01:57] mathewgries commented on #857
@kaustavghosh06
I apologize, but I do not know. I ran the same commands before to set up the environment, so it would have been whatever the latest release was. I'm sure that is no help though.

[2019-02-20 02:30] UnleashedMind commented on #857
Cloud9 stores the temp credentials and the region in the `~/.aws/credentials` file, and does not allow you to modify that file. And it does not create the `~/.aws/config` file for you.
But the Amplify CLI checks the `~/.aws/config` file for named profiles, that's why is not getting the default profile.
Run `amplify configure` won't solve the problem, because the command will attempt to save the ne

[2019-02-20 02:32] sakhmedbayev commented on #893
Thank you @mikeparisstuff for clarification. I thought that in order to override mapping template one must also provide an accommodating custom stack.

[2019-02-20 02:32] #893 closed

[2019-02-20 04:26] sakhmedbayev opened #900 "`amplify push` fails when using "CustomResources" stack on Mutation"
**Describe the bug**
`amplify push` fails when using "CustomResources" stack on Mutation

**To Reproduce**
Steps to reproduce the behavior:
1. add the following schema with `deleteBookEntityNoteByIds(bookEntityNoteIds: [ID!], notesIds: [ID!]): [BookEntityNote!]`

[code]

2. Add custom stack:

[code]

3. Add the following templates in "resolvers" folder, pay attention to the table names used in the

[2019-02-20 05:10] YikSanChan commented on #890
@kaustavghosh06 According to https://github.com/jonlabelle/SublimeJsPrettier/issues/157, it seems a prettier version issue. As suggested by most answers there, I upgrade prettier version to 1.16.4 by `yarn global upgrade pretter@1.16.4`. However, the error changes to https://gist.github.com/YikSanChan/b7f0b08ed1b009cbf393af3293eb490b.

The difference: in [this link](https://gist.github.com/YikSanC

[2019-02-20 05:16] kaustavghosh06 commented on #890
Try installing prettier version 1.14.2

[2019-02-20 05:23] kaustavghosh06 commented on #890
@YikSanChan What's your answer ` Choose the code generation language target ?` question as part of the push command for codegen.

[2019-02-20 05:26] YikSanChan commented on #890
@kaustavghosh06 No luck with `yarn global upgrade pretter@1.14.2`. I get the same error as https://gist.github.com/YikSanChan/b7f0b08ed1b009cbf393af3293eb490b. Seems the problem being `.config/yarn/global/node_modules/amplify-graphql-docs-generator/node_modules/prettier/index.js` shows it is version 1.15.3, and amplify-graphql-docs-generator is out of my control :(

Hmm when I run `amplify push` I

[2019-02-20 05:51] kaustavghosh06 commented on #890
@YikSanChan I was able to reproduce the issue. Updating prettier to 1.16.4 in the docs-generator package fixed the issue. Checkout #901

[2019-02-20 05:54] YikSanChan commented on #890
@kaustavghosh06 I do think so! When do you expect this get merged and I am able to use it?

[2019-02-20 05:55] stanleycyang opened #902 "sortField update does not push to the cloud"
**Describe the bug**

I have a simple User and Notification model:

[code]

When I added the sortField, it threw an error and refused to update:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the same models
2. Push to the cloud
3. See error message

**Expected behavior**
The sortField should be easily updated

**Desktop (please complete the following information):**
 - Mac

[2019-02-20 07:39] YikSanChan opened #903 "What are the known issues with installing amplify-cli using yarn"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
None

** What AWS Services are you utilizing? **
None

** Provide additional details e.g. code snippets **
From https://github.com/aws-amplify/amplify-cli/blob/69cfb43a71404129f3de1cc627c7d36021f11af3/Readme.md#install-the-cli:

What are the known is

[2019-02-20 08:07] kaustavghosh06 commented on #890
@YikSanChan We published a new version of the CLI. Please install it and let me know if that fixed the issue. I would recommend uninstalling the previous version of the CLI - `npm uninstall -g @aws-amplify/cli' and then installing it again using `npm install -g @aws-amplify/cli`

[2019-02-20 08:08] kaustavghosh06 commented on #903
@YikSanChan We previousl had issues with yarn wrt plugins but we fixed those issues and users should be able to install the CLI using yarn. We'll update our documentation.

[2019-02-20 09:37] hammadj opened #904 "Build Error when deploying hello world lambda"
**Describe the bug**
Backend build fails when trying to deploy the hello world Lambda.

**To Reproduce**
- I set up my project with Amplify and connected my GitHub repo to automate deployments.
- The build in the Amplify console succeeded without any issues.
- I added a lambda to my project using `amplify add function` and used the "Hello world function" template
![image](https://user-images.githu

[2019-02-20 09:58] NicolasRoehm commented on #892
@kaustavghosh06 Here are the complete logs :
[code]

[2019-02-20 11:48] chris-merapar commented on #902
I have the same issue using CLI 1.1.2. Changing any property of the Connection annotation has the same effect. The root cause is that you cannot update a GSI on a DynamoDB table after creation, you have to make a new one with a unique name. Another complication is that you cannot create a GSI on a DynamoDB table whilst an existing one is deleting.

[2019-02-20 12:07] chris-merapar opened #906 "Cloudformation apply of API stack after CLI multienv to 1.1.2 fails"
**Describe the bug**
Cloudformation apply of API stack after CLI multienv to 1.1.2 fails to move DynamoDB tables from the API stack to the new child stacks, as resources already exist

**To Reproduce**
Steps to reproduce the behavior:
1. Create API using amplify cli multienv (0.2.1-multienv.40)
2. Upgrade to amplify CLI 1.1.2
3. Execute "amplify init" followed by "amplify push". Note, amplify does

[2019-02-20 15:20] vientang commented on #850
@kaustavghosh06 Sure, I’ll take a look at the new cli. My current version is 1.1.2. The true test will be in on boarding another developer. Looks like the new env command would help (and making sure we’re using the same version of amplify cli).

I think this ticket can be closed. After restarting my project, I was able to successfully initialize and update the GraphQL schema. I did the update (amp

[2019-02-20 16:13] YikSanChan commented on #890
@kaustavghosh06 Thank you! It fixes the problem.

[2019-02-20 16:13] #890 closed

[2019-02-20 16:16] YikSanChan commented on #903
@kaustavghosh06 Submitted a PR to update in https://github.com/aws-amplify/amplify-cli/pull/907

[2019-02-20 16:24] #903 closed

[2019-02-20 16:46] YikSanChan opened #908 "codegen mutation/query/subscription unexpectedly change"
**Describe the bug**
I first time update the annotated schema (as a follow up to https://github.com/aws-amplify/amplify-cli/issues/890) after upgrading to 1.1.3. `amplify push` succeed however generated code change.

For annotated type `InventoryMembership`:
[code]
codegen mutation change:
[code]
codegen query change:
[code]
codegen subscription change:
[code]
For annotated type Inventory
[code]
c

[2019-02-20 17:03] waleedshkt commented on #13
For all experiencing the issue of Windows Command Prompt not recognizing `amplify`, the reason behind this error being windows unable to detect `PATH` to the amplify's executable file.

To solve this, simply edit a `PATH` key under system **Environment Variables** and add a new path pointing to `amplify`. For me it's:

`C:\Users\YourUserAccountName\AppData\Roaming\npm\`

If you have globally insta

[2019-02-20 19:14] baharev commented on #186
@kaustavghosh06 OK, thanks.

[2019-02-20 19:29] stanleycyang commented on #902
@chris-merapar I thought you are able to update the GSI on the DynamoDB tables now?

[2019-02-20 19:58] kay-is commented on #857
I created a symlink, which seems to work too. If Amplify-CLI looks into that file before every push, it will get the current credentials even if Cloud9 updated them.

    $ cd ~/.aws
    $ ln -s credentials config

[2019-02-20 20:57] kay-is opened #910 "Can't open Pinpoint URL"
**Describe the bug**
I added analytics to my project and got an URL from the Amplify-CLI, but I got some errors in the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `amplify add analytics`
2. Run `amplify push`
3. The CLI showed me an URL for pinpoint (https://console.aws.amazon.com/pinpoint/home/?region=eu-west-1#/apps/aea6d54e57fb4e0e8cb1ba587edaec14/analytics/events)
4. See

[2019-02-20 20:59] kaustavghosh06 commented on #910
Are you logged into the right AWS account (the one which the CLI pushes to?)

[2019-02-20 21:02] aireater opened #911 "Migration failed because Resource is not in the state stackUpdateComplete"
**Describe the bug**
Upgraded to the latest amplify cli from 0.1.36. I surpassed the CloudFormation file size limit and had to update AppSync and DynamoDB outside of the amplify cli. This is the error:

```error: uncaughtException: Resource is not in the state stackUpdateComplete```

Despite the upgrade the same error persist and any attempt to migrate results in this same error

**To Reproduce**

[2019-02-20 21:03] kay-is commented on #910
I used the Cloud9 user I was logged in with.

[2019-02-20 22:59] UnleashedMind commented on #910
this is a bug, we'll send the fix soon.
The correct url is:
https://eu-west-1.console.aws.amazon.com/pinpoint/home/?region=eu-west-1#/apps/aea6d54e57fb4e0e8cb1ba587edaec14/analytics/events

[2019-02-21 00:24] #910 closed

[2019-02-21 00:56] kaustavghosh06 commented on #911
@aireater Can you lease share the detailed Cloudformation stacktrace?

[2019-02-21 01:22] aireater commented on #911
@kaustavghosh06 here you go:

[code]

[2019-02-21 03:59] michaelcuneo opened #916 "File name pattern for graphql query generation ignored."
**Describe the bug**

GraphQL compiled files never placed into the directory stated in amplify step by step procedure.

**To Reproduce**

When I run

`amplify api add`

Then select GraphQL, create a schema, and finish generating my Schema...

I run,

`amplify push`

Then it asks if I want to generate the code for the GraphQL API... I say **YES.**
Chooses my code generation language. ... I say **ja

[2019-02-21 06:32] leantide opened #913 "'amplify status' continues to show 'update' even after a successful 'amplify publish'"
**Describe the bug**
'amplify status' continues to show 'update' even after a successful 'amplify push' or a successful 'amplify publish'

**To Reproduce**
Steps to reproduce the behavior:
1. run 'amplify publish'
2. run 'amplify status'

**Expected behavior**
All categories have an operation value of 'No Change'

**Observed behavior**
2 of my 24 categories (which are both Lambda functions) have a

[2019-02-21 06:35] kaustavghosh06 commented on #913
@leantide We've fixed this behavior in the latest version of the CLI. Also, please note that we have moved the multienv features in the main CLI, so you could use the main CLI and install it using `npm install -g @aws-amplify/cli`

[2019-02-21 06:35] kaustavghosh06 commented on #864
@jesse-bonzo  Were you able to deploy successfully?

[2019-02-21 06:35] leantide commented on #913
Wow, fast response. Thank you.

[2019-02-21 06:35] #913 closed

[2019-02-21 07:52] leantide opened #914 "Even with No Changes, have 10 minutes of 'Updating resources in the cloud. This may take a few minutes...'"
**Enhancement**

In a project with over 20 amplify resources, an 'amplify push' will have about 10 minutes of 'Updating resources in the cloud. This may take a few minutes...' even when there are No Changes in the backend resources to actually be pushed.

If there are a few backend changes, I see these being updated very quickly in the cloud and then I have the same 10-minute delay.

Similarly, an

[2019-02-21 12:28] aireater commented on #911
@kaustavghosh06 yes, some of the tables were created directly in dynamodb console then added to AppSync after I hit the file size limit.

[2019-02-21 13:29] solshark commented on #882
1.1.3 - same issue

[2019-02-21 15:29] c0dingarchit3ct opened #915 "AWS push api Fails"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

[2019-02-21 15:36] #915 closed

[2019-02-21 17:16] gvlachos commented on #821
@yuth ok I see the new version of the Amplify CLI now with the updated .`gitignore` file that excludes the following:

[code]

It would be great if you could also let me know what steps I need to take on a project just pulled from github in order to re-create these files (the third part of my question above).

Note that the project is initialized with auth (`amplify add auth`) and GraphQL (`amplif

[2019-02-21 17:24] jesse-bonzo commented on #864
Unfortunately no, I am still getting the same error in the Amplify Console

[code]

I've worked around the issue by installing an older version of the amplify cli in my build script.

[2019-02-21 18:02] kaustavghosh06 commented on #821
@gvlachos You can simply git clone and then ‘amplify init’ on that project.

[2019-02-21 18:58] mikeparisstuff commented on #906
Do you see a 'transform.conf.json' file added to your project. This file should be added when you run migration and contains a set of logical ids that will remain in the root template (e.g. DynamoDB tables & Elasticsearch Domains). When you run migrate, the CLI first deploys an update to the project that removes all the resources that don't contain data (resolvers, data sources, roles, etc) but th

[2019-02-21 19:04] gvlachos commented on #821
@kaustavghosh06 I did that (`git clone` and then ran `amplify init`) however `amplify status` shows that there is a difference in my GraphQL api

[code]

Also:

1.  `aws-exports.js` in the root of my project was not generated

2. the file `./amplify/backend/amplify-meta.json` in the clone is different from the original,  it contains the following entry in the providers section:

[code]

3. in the

[2019-02-21 20:13] aireater opened #918 "Cannot find module './provider-utils/undefined/index'"
**Describe the bug**
Can't migrate a project to created with previous version of amplify cli.

Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with create react app using amplify cli version 0.1.36.
2. add hosting
3. create a new AppSync API using the web console.
4. Add the api to the project using ```amplify add codegen --apiId [app id]```
5. upgrade to late

[2019-02-21 21:06] kaustavghosh06 commented on #914
@leantide Yes, we're currently looking into enhancements for improving the deployment time.

[2019-02-21 21:09] yuth commented on #916
@michaelcuneo could you please clarify the following
1. How did you change `src/graphql/**/*.js` to `app/graphql/**/*.js`
2. Did you run `amplify codegen` once again after updating the location?

[2019-02-21 21:34] michaelcuneo commented on #916
I changed it during initial creation of the API

[2019-02-21 21:45] mikeparisstuff commented on #902
When starting from a brand new project, I was able to create the schema above without a problem. If you are having problems because you previously pushed a version that had @connection but no *sortField*, I would suggest trying to remove the @connection entirely (thus removing the GSI), pushing, and then re-adding the updated @connection with the *sortField* and push again.

E.G. Push with

[code]

[2019-02-21 23:35] kaustavghosh06 commented on #918
@aireater Fixed the issue in a PR #920. Will merge and release this by end of day today.

[2019-02-22 01:39] sohara opened #924 "Generated GraphQL declarations not written to project config source directory"
**Describe the bug**
It appears that the generated GraphQL declarations are always written to a directory called `src` instead of respecting the `sourceDir` config attribute that appears in `amplify/project-config.json`. This is a nested config attribute under `javascript.config`.

Steps to reproduce the behaviour:
1. Create a new amplify js project
2. Choose e.g. the Ember framework option (which

[2019-02-22 01:44] YikSanChan commented on #794
amplify version 1.1.3. I believe the issue has already been solved based on what I just tried.

[2019-02-22 02:05] dabit3 opened #921 "Automatic scan operation created by CLI for DynamoDB REST API"
**Is your feature request related to a problem? Please describe.**
I'd like to scan an entire table using an API.get operation when creating a new REST API.

**Describe the solution you'd like**
Right now the Amplify CLI creates operations agains the DynamoDB data source automatically. Right now the only way to fetch a list of items is to perform a query. I think it would be useful to also support

[2019-02-22 02:50] kaustavghosh06 commented on #918
We published a new version of the CLI with a fix for the same. Please try it out and re-open the issue if you're still seeing it.

[2019-02-22 02:50] #918 closed

[2019-02-22 04:27] YikSanChan opened #922 "Cannot perform more than one GSI creation or deletion in a single update; ConnectionStack failed to update"
** Which Category is your question related to? **
graphql transformer

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
I change my annotated schema.graphql:
[code]
which causes change to compiled schema.graphql:
[code]
`amplify push` results in below errors. See [full log](https://gist.github.com/YikSanChan/6df32c5f272e249abd7a0c48af395db3).

[2019-02-22 05:23] kaustavghosh06 commented on #911
@aireater If you're managing these tables yourself then cloudformation would fail due to resource-name collisions and you cannot manage existing tables using cloudformation.

[2019-02-22 05:40] kaustavghosh06 commented on #794
Just checked again and this issue seems to be reoslved with the latest CLI version. Plese feel free to re-open this issue if you're still facing the problem.

[2019-02-22 05:40] #794 closed

[2019-02-22 07:59] YikSanChan commented on #922
As a follow-up, after a failed push attempt, no matter what change I make to the annotated schema.graphql, all pushes fail with below error: https://gist.github.com/YikSanChan/84663256309e9756e4aec1f693870b81.

Even worse, even though all pushes fail, one of my AppSync API stops working.
[code]
It returns below null rather than all connected items of the inventory (the previous behavior).
[code]
F

[2019-02-22 10:01] jimmyn commented on #54
Is there any workaround for now? I'm facing the same issue, I have a Product model, I would like to give read access to all users, but only write access to Admin group.

[2019-02-22 16:26] aireater commented on #911
@kaustavghosh06 what's the solution? I tried deleting the tables that were failing and then it failed saying the tables were not found!! What am i missing?

[2019-02-22 16:27] mtimsit commented on #911
Hi,

I got the same trouble that @aireater... Can't find a workaround to the issue...

**Describe the bug**
Upgraded amplify cli to version 1.1.0 from 0.1.33. I also need to surpass the CloudFormation file size limit that's why I upgraded to 1.1.0 version. Then I added attributes on my graphql model and I tried to amplify push. This is the error:

`error: uncaughtException: Resource is not in the

[2019-02-22 16:33] chris-merapar commented on #902
This workaround could be ok for a dev sandbox env but won't work in a production env. I would have to remove the connection, then propagate a release through all envs (dev, test, UAT, prod etc), then make a new release with the new connection, which is is a lot of downtime.

[2019-02-22 17:29] gvlachos commented on #894
@mikeparisstuff  I followed the instructions however I think there is a step missing since after I recreated the index it had no values (as seen in the ElasticSearch console) and so any search would return 0 results even though the data was still in DynamoDB.  My current setup is AppSync GraphQL mutations to DynamoDB and then I believe a trigger runs a lambda function that populates the ElasticSea

[2019-02-22 18:54] aireater commented on #911
This is utterly hopeless. I delete the tables it can't create then it tells me it can't find the tables. Then I restore the tables from backup and it tells me the gsi already exists. I delete the gsi and then it tells me the tables already exist.

[2019-02-22 20:25] aireater commented on #911
I give up. I can't spend another day trying to figure this out. Starting a new API from an old schema file. Huge disappointment with how this was handled. Was I expected to put my work on hold for over a month while the cloudformation file size issue was resolved?

[2019-02-22 21:33] mikeparisstuff commented on #911
Hey @aireater, I'm sorry that the migration process didn't work as expected for you. It seems that the underlying issue was that there was drift introduced on the stack this caused a conflict during the migration. Looking at the logs above, it looks as if the issue might have been resolvers added via the AWS console that referenced data sources created by the CLI. This prevented the data sources f

[2019-02-22 21:41] mikeparisstuff commented on #911
@mtimsit Yes can you please provide more details. What schema did you have deployed and then what schema did you try to use during the migration?

[2019-02-22 22:54] vparpoil opened #926 "Ability to define Time To Live for a dynamo DB table"
**Is your feature request related to a problem? Please describe.**
Using amplify-cli, we should minimize the manual setup needed in the Aws console when deploying a schema. It's a pain to go to each model where TTL is needed to set it up manually.

**Describe the solution you'd like**
It would be great to define this in the graphQL schema :
[code]

[2019-02-22 23:01] aireater opened #927 "Creating custom resolver question"
** Which Category is your question related to? **
Adding a custom resolver that targets a DynamoDB table from @model. Following these [instructions](https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model)

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
I added the following code to ampli

[2019-02-22 23:08] aireater commented on #911
@mikeparisstuff Yes, I wrote resolvers in AppSync directly as I continued my development. I decided to blow everything away and start over.

[2019-02-22 23:12] vparpoil commented on #314
@mikeparisstuff The @index directive you propose is really missing so far. Coming to amplify with experience with regular databases (MongoDB mainly), I quickly felt disappointed by dynamoDB limitation regarding querying data.
Correct me if I am wrong, my understanding is that :
- scan operations are very time consuming and cannot be used in a real apps as soon as the database size increase (my set

[2019-02-22 23:58] jkeys-ecg-nmsu commented on #927
+1 about Global Secondary Index creation.

[2019-02-23 07:03] phillip055 commented on #91
++

[2019-02-23 11:19] philohelp commented on #91
Hello,

I created my app with many-to-many relationships and the "join type" strategy and it worked very well. But then I found myself in the need of a new feature which makes me question this strategy.

Each post now has a popularity ranking. Each time the post is shared by a new user, it gives the post 5 more points. I then have to update the post's popularity, which is a field in the post.

To

[2019-02-23 13:24] phillipaimusic commented on #927
Looks like your resolvers `Fieldname` is incorrect in `CustomResources.json`. This needs to match the query defined in your schema.
[code]

[2019-02-23 17:10] sprucify commented on #91
So what would be the mutation call if I want to create a new blogpost and also create and attach the associated comments.
Or do I have to fire multiple mutation calls to realize this?

[2019-02-23 21:52] aireater commented on #927
@phillipaimusic thanks! that worked.

@jkeys-ecg-nmsu it didn't create the gsi. I wonder if it's possible to add it to the CustomResources.json? I'll have to look into it...

[2019-02-23 21:52] #927 closed

[2019-02-23 22:44] YikSanChan commented on #922
Cannot wait too long :( So I simply `amplify api remove && amplify push` to delete the whole api and its data, and restart from scratch.

This is not ideal but since I am still in dev so it is fine for now. Look forward to having mature solution

[2019-02-23 23:46] wontwon commented on #54
Hello, any updates around this issue @mikeparisstuff? @adrianhall? Just started working with amplify, but am now running into this block with unauthorized access

[2019-02-24 00:18] sollipse opened #930 "Capitalized Env Names break Cloudformation S3 Hosting"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
A clear and concise description of what the bug is.
If you create an environment with a capital letter, Cloudformation will try to create a hosting bucket with capitalized letters in the name.
**To Reproduce**
Steps to reproduce the behavior:
The following guide is in japanese,

[2019-02-24 01:27] sirshannon commented on #778
That's not a solution. A solution would be "uninstall node completely and use nvm to install node version [a specific node version here]".

[2019-02-24 02:47] YikSanChan opened #931 "amplify env checkout dev: There was an error initializing your environment."
** Which Category is your question related to? **
multienv

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
I am following Nader's tutorials on multienv step by step. Things went well before I tried to run `amplify env checkout dev`. It complains:
[code]
But I am still able checkout to env `dev`:
[code]
What is the problem under that error?

[2019-02-24 06:34] YikSanChan opened #932 "multienv doesn't work as expected"
** Which Category is your question related to? **
env

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
I am following steps in https://read.acloud.guru/multiple-serverless-environments-with-aws-amplify-344759e1be08, trying to set up multiple amplify environments that correspond to different git branches.
[code]
I thought the last step should

[2019-02-24 13:54] faermanj opened #940 "Add cloud9 to editors list on amplify init"
Add cloud9 to editors list on amplify init

[2019-02-24 18:13] sirshannon commented on #778
not sure if this helps but here is the extremely simplified dependency graph showing the issue(s?):
[code]

[2019-02-24 19:10] sirshannon commented on #778
Mentions of this issue as far back as November: #434

[2019-02-24 19:16] edoantonioco opened #933 "Cant install aws-amplify/cli"
**Describe the bug**
I try to install the aws-amplify/cli as this says https://aws-amplify.github.io/docs/

but it fails.
After I try to run
sudo npm install -g @aws-amplify/cli

to install the package, it says this:

`]$ sudo npm install -g @aws-amplify/cli
npm ERR! Unexpected end of JSON input while parsing near '...iZIKsukug/o5wXMT5ocmX'

npm ERR! A complete log of this run can be found in:
npm

[2019-02-24 21:17] kaustavghosh06 commented on #933
@edoantonioco Can try running `amplify -v` and see if it returns anything?

[2019-02-24 21:20] kaustavghosh06 commented on #778
@sirshannon Can you run `echo $PATH` and see if your bin directory where the amplify CLI is installed is included in it?

[2019-02-24 22:38] shannon-hager-skookum commented on #778
It is. Amplify is found and usable for the few things I have tried in spite of the error.

[2019-02-24 22:42] sirshannon commented on #778
It is. `/usr/local/bin` is the first item in my PATH and `which amplify` reports `/usr/local/bin/amplify`

Amplify is found and usable on one of my machines in spite of the error. I have not attempted to use it on all of my machines but did get that error on each of them.

See also #434 for someone having the error but being able to use amplify as expected.

[2019-02-24 22:46] kaustavghosh06 commented on #778
@sirshannon, in #434, @bearc0025 refers to the npm warnings when installing the CLI, are you referring to the following as errors?
[code]
The original issue if you look at the top refers to this:

[code]

In this case, the user is not able to execute the amplify commands after installing. Are you referring to the same issue?

[2019-02-24 23:10] sirshannon commented on #778
@kaustavghosh06
Yes, that is a warning but if they were to list their npm modules after getting that warning, they would get the same error that everyone in this thread has posted.
[code]
I think it's been posted enough times by enough people to make it clear what we're talking about here.

[2019-02-24 23:16] kaustavghosh06 commented on #778
@sirshannon  I'm just trying to help out here and trying to ask clarifying questions since the peer dep issue is not at all related to the original issue by @cmrlabs
If your issue is tied to the warnings/errors on installation we're tracking it as a part of #783

[2019-02-24 23:21] kaustavghosh06 commented on #931
@YikSanChan Provided a fix for it in #934
Will update this thread after a release

[2019-02-24 23:24] #931 closed

[2019-02-24 23:29] sirshannon commented on #778
@kaustavghosh06
You closed this issue 5 days ago with no mention of #783

[2019-02-24 23:47] struct78 opened #936 "Destination of API.ts|js"
**Is your feature request related to a problem? Please describe.**

Destination of generated API.ts|js does not always go to common/logical folder.

**Describe the solution you'd like**

amplify codegen should see if folders such as `api/` or `services/` (and any other folders developers commonly use for API logic) exist in the `src/` folder before suggesting writing itself to the root of `src/`

[2019-02-25 02:01] kaustavghosh06 commented on #932
@YikSanChan Could you please try out this flow again with the latest version of the CLI which we published. I beleive this is somewhat tied to your previous issue -> #931

[2019-02-25 02:03] kaustavghosh06 commented on #931
@YikSanChan We published a new version of the CLI. Please let me know if you're still facing the issue.

[2019-02-25 02:08] kaustavghosh06 commented on #930
@sollipse Which version of the CLI are you using? We do not allow env names with capital letters with CLI versions >= 1.0.0

[2019-02-25 03:41] richardzyx commented on #186
@kaustavghosh06 Just tried with the lastest 1.1.5 CLI, did a fresh clone of the repo, `amplify init` the master environment, but aws-exports file still not generated. Am I missing any step?

[2019-02-25 03:46] kaustavghosh06 commented on #186
Please take a look at my screenshot below.

<img width="1280" alt="screen shot 2019-02-24 at 7 44 00 pm" src="https://user-images.githubusercontent.com/7247658/53313117-b6711b00-386c-11e9-820f-4c868b15db34.png">

The aws_exports.js file would be in the directory which you specified as your "Source Directory Path" when you ran an `amplify init`.

[2019-02-25 03:53] richardzyx commented on #186
@kaustavghosh06 Thanks for the prompt reply!

I believe the screenshot shows the use case of creating a new environment through Amplify init which does work properly. My use case was cloning an amplify project on a fresh machine and trying to regenerate the aws-exports file after a new amplify profile is setup. In this case, only amplify push will regenerate the aws-exports file =]

[2019-02-25 03:55] kaustavghosh06 commented on #186
I tried that as well..see the screenshot below. Is there something different that I shoud try out to reproduce this?

<img width="883" alt="screen shot 2019-02-24 at 7 54 35 pm" src="https://user-images.githubusercontent.com/7247658/53313405-11efd880-386e-11e9-94ae-c840710a508d.png">

[2019-02-25 04:03] sakhmedbayev commented on #900
Is there any news on this issue? We are stuck for several days because of it.

[2019-02-25 04:14] richardzyx commented on #186
@kaustavghosh06 Hmm interesting, I don't see any difference except here's my output:

![image](https://user-images.githubusercontent.com/7928839/53313914-399c6c00-3881-11e9-825a-feb695525871.png)

As you can see, only amplify push generates the aws-exports.js... let me know if there's anything else you would like me try! I should note that I do have amplify profiles from two different organization

[2019-02-25 06:54] timsheu commented on #882
1.1.5 - same issue.
I've reset my project and reproduced the issue many times.
Once I manually remove all the lines contains "openIdxxxxxxx" in all *.yml and *.json, the "amplify push" would work properly.

[2019-02-25 08:27] YikSanChan commented on #931
I just tried, the error no longer appeared. Thanks @kaustavghosh06

[2019-02-25 13:56] zeodtr opened #938 "On Windows, plugins development does not work."
**Describe the bug**
On Windows, plugins development (https://aws-amplify.github.io/docs/cli/plugins?sdk=js) does not work.

**To Reproduce**
Follow the steps in https://aws-amplify.github.io/docs/cli/plugins?sdk=js
It does not work on Windows. Amplify CLI does not recognize the newly installed plugin.

**Expected behavior**
If you follow the steps in https://aws-amplify.github.io/docs/cli/plugins

[2019-02-25 15:31] ryanhollander opened #939 "inputs generated in graphql schema even if model has queries and/or mutations null, however these are not accessible in the schema"
**Describe the bug**
If I create a graphql schema with @model, inputs are created for the queries and mutations even if they are marked null. (I don't think they should be) Then, if you try to refer to these in your graphql schema, the compile step reports them as non-existent. If you try to include same named inputs in your graphql schema it complains that the inputs already exist.

I've worked a

[2019-02-25 17:07] swaminator commented on #128
The Amplify CLI now supports team workflows. If you're looking to use the Amplify CLI in conjunction with the Amplify Console, you can view the recommended workflow here: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html

[2019-02-25 17:46] artista7 commented on #753
@kaustavghosh06 I am also having the same issue. But i realized my aws resources are hosted in Mumbai zone, while amplify console is in N.Virginia zone.
As amplify is not in mumbai zone, does that mean i have to redeploy everything to N.Virginia zone?
This is kinda painful...

[2019-02-25 18:13] kaustavghosh06 commented on #936
This is a duplicate issue and we're tracking it as a part of #916.

[2019-02-25 18:13] #936 closed

[2019-02-25 18:13] kaustavghosh06 commented on #924
This is a duplicate issue and we're tracking it as a part of #916.

[2019-02-25 18:13] #924 closed

[2019-02-25 18:18] kaustavghosh06 commented on #932
@YikSanChan Let me know if you're still seeing issue. Please feel free to re-open if you're still seeing this.

[2019-02-25 19:52] pechisworks commented on #82
I've to solve the issue like @mikeparisstuff mentioned, but this didn't worked for me.
What solved my Problem was to reset the "Read/write capacity mode" back to "On-demand", then `amplify push` worked.

[2019-02-25 20:00] BerndWessels commented on #584
Same here :(

Got all the latest everything as of 26/02/2019 but still getting this:

[code]

PS: this is why I use terraform or pulumi whenever I can - cloudformation is just so unstable and unreliable

[2019-02-25 20:02] mikeparisstuff commented on #884
Hey @YikSanChan. Your update is exactly what I would suggest with one addition. Due to a limitation in DynamoDB, you will need to make this change in two steps. Whenever you are making a change to an existing @connection field you should first push the project without the @connection.

[code]

and push via `amplify push`. After you have removed the @connection, you can then re-add the @connection.

[2019-02-25 20:05] BerndWessels commented on #882
same here :(

[2019-02-25 20:49] saidaantonyan opened #942 "Error when installing AWS Amplify"
I'm following instructions to install AWS Amplify described here https://aws-amplify.github.io/docs/.

**In terminal I do:**
npm install -g @aws-amplify/cli
**And get the following error:**

npm WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.
npm WARN deprecated kleur@2.0.2: Please upgrade to kleur@3 or migrate to 'ansi-colors' if you prefer the

[2019-02-25 20:50] kaustavghosh06 commented on #942
@saidaantonyan Looks like a user permission issue.
Please use `sudo npm install -g @aws-amplify/cli`

[2019-02-25 21:17] benoj opened #943 "Make DynamoDB tables an output from cf templates"
Is is possible to set the dynamodb table name/streamarn as an output from the amplify cli. I need access to the tables from another CF based deployment.

[2019-02-25 21:54] elorzafe commented on #943
@benoj currently the table name and region is exported on `aws-exports.js` file on the `aws_dynamodb_table_schemas` attribute.

[2019-02-25 22:03] benoj commented on #943
Thanks @elorzafe - I'm trying to write a lambda function which listens to the dynamodb stream using the serverless framework.  This unfortunately requires that I reference the cf output or ARN - which is a timestamp value and therefore likely to continuously change. By adding the tablename, and stream arn to the outputs in the CF template will allow me to reference the stream arn by referencing th

[2019-02-25 22:19] YikSanChan commented on #884
@mikeparisstuff Thank you.

[2019-02-25 22:19] #884 closed

[2019-02-25 22:55] Chidan commented on #541
Hi There, I am also facing the exact same issue.
Below is the screen shot And log file attached, could you please help.
![image](https://user-images.githubusercontent.com/5826495/53374435-9880e480-3958-11e9-940d-f1df49d5ae5f.png)

[2019-02-25T22_52_02_809Z-debug.log](https://github.com/aws-amplify/amplify-cli/files/2902970/2019-02-25T22_52_02_809Z-debug.log)

[2019-02-25 22:59] edoantonioco commented on #933
it says:
bash: amplify: order not found

[2019-02-25 23:21] #882 closed

[2019-02-25 23:28] abhishek0207 opened #946 "Best Practice to have multiple apps share common amplify backend"
My application has a web project and a react native project. Both of them uses a common amplify backend.
What are the best practices or patterns that can be used in order to maintain the sync between the amplify files of the two projects?
Both web and mobile are separate project with their own git repositories.

Thanks in Advance

[2019-02-26 00:11] michaelcuneo commented on #916
Thanks for the assistance.

[2019-02-26 00:19] itrestian commented on #111
We (the AWS AppSync team) are currently looking for feedback on a server side solution for supporting field level auth and would love community feedback on the following RFC:

https://github.com/aws/aws-appsync-community/issues/1

[2019-02-26 00:20] yuth commented on #541
@Chidan from the error log it looks like this issue is not specific to amplify cli, but rather NPM installation issue. Could you try running npm with admin permission and see if that solves the issue

[2019-02-26 00:34] Jun711 commented on #766
@undefobj

Yea, regarding disabling/delete users on another thread, it would be the 3rd point mentioned in this comment.
https://github.com/aws-amplify/amplify-cli/issues/766#issuecomment-458792183

Enhancement:
currently, I can use [admin-disable-user](https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-disable-user.html) or admin-delete-user to disable / delete users.
However, it

[2019-02-26 00:44] mikeparisstuff commented on #372
@cocacrave We are working on a few design docs that will be released as RFCs on Github where the community will be given an opportunity to provide feedback on these features. In the meantime, you are able to use custom resolvers & custom stacks within your Amplify project to implement custom auth rules.

[2019-02-26 02:49] yuth commented on #943
I am marking this as an enhancement. We do store the ARN in  `<project-root>/amplify/backend/amplify-meta.json` which you could use in the mean time

[2019-02-26 04:01] yuth commented on #882
The fix for this has been released in amplify cli  `v1.1.6`. Please update the CLI and feel free to re-open the issue if it still persists.

[2019-02-26 07:44] Chidan commented on #541
@yuth, I dont think there is anything wrong with NPM permission, as I am able to install all other modules without any issues, for example react.

[2019-02-26 07:44] Chidan commented on #541
@yuth, I dont think there is anything wrong with NPM permission, as I am able to install all other modules without any issues, for example react.

[2019-02-26 07:57] Chidan commented on #541
@yuth , BTW, Im running with admin permission in powershell on windows

[2019-02-26 08:48] Chidan commented on #541
Finally I was able to install. I tried the same things I have been doing, but for once it got installed. I have no idea how it got install in this particular try!!! Not good!!

[2019-02-26 10:43] clementAC opened #945 "Unable to launch amplify command with npm scripts"
**Describe the bug**
When I try to run amplify through npm scripts i have errors whereas launching it in the command line cause me no errors

**To Reproduce**
Steps to reproduce the behavior:
1. Add amplify cli to your dev dependencie project
2. Add some command in a npm script (eg. publishThings)
3. npm run publishThings
4. feel the despair

**Expected behavior**
Be able to run amplify cli throug

[2019-02-26 11:01] chris-merapar commented on #906
I think I see what is happening now. On an old sandbox env, a transform.json was created for the old resources. We then add some new resources in this sandbox, which are created using the new way (tables in nested stacks). Then the transform.json is checked into a feature branch. If anyone tries to deploy that branch on an env that is created from scratch (including our test and prod envs after th

[2019-02-26 13:38] lennybr commented on #945
@clementAC Amplify CLI should run when launched thru an NPM script -- I use them daily without any problems. Can you post your NPM script for reference. From your error message re `The "id" argument must be of type string` I think it might be something else. Some possible suggestions:

- Have you tried a clean install of the latest Amplify CLI `npm install -g @aws-amplify/cli@latest`
- Initiating

[2019-02-26 15:17] ryanhollander commented on #900
I ran across this issue and I've been working with this on my project and thought I'd give you a few tips. The first one is that you can usually get more detailed error messages from the Cloudformation console. The stack operations are logged in detail there.

If this is the first time you've built the model, you might try pushing w/o the custom resolver stack first, then add the stack in and push

[2019-02-26 16:09] aneeshjoshi opened #947 "amplify configure doesn't show "canada" as a region"
Can canada be added as a region for aws amplify?
[code]

[2019-02-26 16:22] timkuilman opened #948 "Granting access to objects in S3 bucket for authenticated users"
** Which Category is your question related to? **
Accessing files in an S3 bucket

** What AWS Services are you utilizing? **
AWS Amplify with Auth added

** Provide additional details e.g. code snippets **
Hi!

I'm currently working on a React Native app that I am buildign with Amplify. I did add Auth and a GraphQL to the app and implemented both.

I am currently trying to load some images in my

[2019-02-26 17:20] yuth commented on #945
@clementAC what command are you trying to run from npm script. Could you share the scripts section from your package.json

[2019-02-26 17:29] yuth commented on #914
@leantide what version of the CLI do you have?

We recently changed the way we poll the CFN for updates in CLI version `1.1.5`. Could you share the poll output when there is no output for 10 minutes. I am interested in seeing what were the events that happen before and after the wait.

[2019-02-26 17:30] yuth commented on #942
Feel free to re-open if the proposed solution doesn't work

[2019-02-26 17:30] #942 closed

[2019-02-26 18:57] aneeshjoshi commented on #947
Realized that aws amplify is not supported in canada region at all. That's a shame.

[2019-02-26 18:57] #947 closed

[2019-02-26 19:16] yuth commented on #947
To add a new region, the region should support all the services needed by Amplify CLI to available in the region

[2019-02-26 19:21] yuth commented on #946
We have it documented in [amplify-configure-project](https://aws-amplify.github.io/docs/cli/init#amplify-configure-project) section of the docs

Please feel free to re-open if this doesn't help

[2019-02-26 19:21] #946 closed

[2019-02-26 20:00] iqdev-ca commented on #922
Doing the same as @YikSanChan, encountered issue when went from an Unnamed Connection to a Named Connection. Good that we are just in dev, this would be really frustrating if was encountered later on.

[2019-02-26 20:53] leantide commented on #914
I am using @aws-amplify/cli 1.1.3. I will upgrade to 1.1.5 and re-try.

Where do I find the poll output?

Here is the CLI output on the terminal using v1.1.3. It doesn't say much. Just stayed 11 minutes on 'Updating resources in the cloud. This may take a few minutes... ' with a rotating busy indicator and then it said 'All resources are updated in the cloud'.

$ amplify push

Current Environment:

[2019-02-26 21:00] wizage commented on #938
This has been fixed in #941

[2019-02-26 21:13] leantide commented on #914
Exact same result using cli 1.1.6. With no changes to be pushed it spends 11 minutes on 'Updating resources in the cloud. This may take a few minutes...' before getting to 'All resources are updated in the cloud'.

[2019-02-26 21:24] timkuilman commented on #948
I will try that approach thank you.

Still I am wondering why my approach did not work. I will probably have a look at the what Storage does exactly. My current project only needs to read from an S3 bucket and setting up Storage seems a bit like an overkill.

[2019-02-26 21:55] yuth commented on #948
The file `amplify/.config/team-provider-info.json` is auto generated is used only for reference. Adding policy to this file won't update the stack/policy

[2019-02-26 22:42] blazinaj opened #964 "Question Regarding 1-Many relationships with Named Connections using Amplify/Appsync"
**Which Category is your question related to?**
Appsync API
**What AWS Services are you utilizing?**
Amplify, Appsync, Cognito, S3, SES
**Provide additional details e.g. code snippets**

Question regarding Using Amplify/Appsync/Graphql/React, and the `@connection` directive. I have a 1-Many relationship schema that is similar to
[code]
The `Link`s will usually be created before the `SingleResource

[2019-02-26 23:42] yuth commented on #916
@michaelcuneo we have the location hard coded when you add/push a new AppSync API. I am going to pick up this a couple of weeks, but you could change the location where the statements gets stored by changing `docsFilePath` in `<project-root>/.graphqlconfig.yml`

[2019-02-26 23:48] yuth commented on #914
If it didn't show anything on the screen, I don't think there was any updates to be done. Whats the size of your `<project-root>/amplify/backend/` folder. It might be the time taken to upload these.

I will investigate further to see if we upload the content inside the `backend` folder even when there are no changes or is it the time taken just to generate the hash

[2019-02-27 00:46] olivoil commented on #660
This may be outside of the scope of this RFC, but it would be useful to plan out how the directives that currently work with dynamoDB data sources could be ported over to AS data sources (`@model`, `@auth`, `@searchable`, `@connection`, `@versioned`).

With an AS data model, I don't expect the `@model` directive to create the tables as this is managed outside of cloud formation. But I would see mo

[2019-02-27 01:27] mikeparisstuff commented on #939
Hey @ryanhollander. This is fixed by #950.

[2019-02-27 04:16] leantide commented on #914
See image. amplify/backend total size is 721.2 MB but 99.9% of that is in the functions subfolders, which seems to be mostly the function builds in the dist subfolder (which also includes previous builds), as well the src/node_modules that 'npm install' brings in for each function build. The membership function subfolder has about 210 MB, which is just a lot more previous builds being retained.

<

[2019-02-27 04:56] leantide commented on #914
I deleted all older function builds except the latest dated in each distribution. I did this in /amplify/backend as well as in /amplify/#current-cloud-backend.

$amplify push then felt 4 of my 6 functions had change (maybe the latest build by date wasn't the one which it was using) and therefore rebuilt and pushed 4 new function distributions to the aws cloud. This only took 6 minutes, down from 1

[2019-02-27 05:18] leantide commented on #914
Some weird and circular stuff.

So I then delete the 4 remaining previous builds since 4 new builds were just built. 'amplify push' then determined that 2 functions were changed, 1 of the 4 I just deleted a previous build, and 1 of the remaining 2 functions I didn't touch.

I cancelled the push as I thought I would be smart and just remove the latest build from the 2 functions that amplify now fel

[2019-02-27 05:22] toddsampson commented on #487
+1 We also really need the feature.

[2019-02-27 08:32] ildar-icoosoft opened #953 "amplify codegen generates incorrect types in API.ts file"
**Describe the bug**
For example I have graphql schema in AppSync:

[code]

Then I execute `amplify add codegen --apiId={appsync id}`
Then in autogenerated file API.ts I see the following types:
[code]
It is incorrect, because type
[code]
is not equal to type:
[code]
There are different __typename properties.

**Expected behavior**
__typename must be the same. Or just remove __typename property fr

[2019-02-27 10:19] brylie opened #955 "Parameters: [bucketName] must have values"
**Describe the bug**
When adding hosting to a project and running the `amplify publish`, the command fails with the following:

My *parameters.json* looks like this:

[code]

**To Reproduce**
1. issue `amplify add hosting`
2. use default values offered
3. run `amplify publish`

**Expected behavior**
I expected the app to be published successfully.

[2019-02-27 14:18] edoantonioco commented on #933
I fixed this problem by running

[2019-02-27 14:18] #933 closed

[2019-02-27 15:29] clementAC commented on #945
Ok my bad. I had amplify cli into my project dependency and npm script was using this one.
After removing it, the global install was taken and everything was fine.  Thanks for your time @lennybr @yuth

[2019-02-27 15:29] #945 closed

[2019-02-27 15:56] ryanhollander commented on #939
@mikeparisstuff Thanks!

[2019-02-27 17:27] aldokhayel commented on #778
same issue

[2019-02-27 17:55] #948 closed

[2019-02-27 18:03] jmgtan opened #954 "Converting from Expired API Key to Cognito causes Cloudformation to fail."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
Switching to Cognito auth type from an expired API key causes `amplify push` to fail with the error 404 not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project and use API Key as the auth type
2. Expire the API key
3. Convert existing project to Cog

[2019-02-27 18:17] yuth commented on #953
@ildar-icoosoft whats the version of amplify cli do you have installed?

I manage to get the right `__typename` for the all the types. The expected `__typenames` are `AudioAlbum` and `Tracks` for `getAudioAlbum` and `getAudioAlbum` respectively
[code]

[2019-02-27 18:29] yahavb commented on #779
My app uses Lambda Function, APIGW and GraphQL Api. I did not execute `amplify add auth` but I see Auth resource `cognitoab3b5d1a` getting created. I tried to modify `amplify/backend/auth/cognitoab3b5d1a/parameters.json` in `identityPoolName` field with the value generated in the previous project (`beta_user_pool-beta`) I executed `amplify add auth` but when I try pushing it I get:
[code]

When I

[2019-02-27 18:31] nagey commented on #922
as a follow-up note to this, the GSI which *does* get created will not roll back, and then a subsequent push attempt will cause a different failure.

[2019-02-27 18:35] yahavb commented on #779
UPDATE: even I add the default auth that I removed above I still get an error about missing auth:
[code]

[2019-02-27 18:59] peppadew commented on #574
Great stuff! Thank you very much for your hard work. This is much appreciated.

[2019-02-27 19:37] jkeys-ecg-nmsu opened #956 "How is the partition key selected when no `ID` Scalar type is included in a model?"
We have use cases where we'd like a non-ID type to be the partition key for a given table. For instance, for a Users table, we might want to have a String type with a custom name be the partition key. (Also, with Aurora Serverless support, the same question applies for forcing a field to be the primary key on mutation.)

In the absence of a directive like `@primary` that Amplify and/or AppSync can

[2019-02-27 20:47] mikeparisstuff commented on #954
Hello, you can get around this by setting the "APIKeyExpirationEpoch" parameter to -1 in your project's parameters.json file (https://aws-amplify.github.io/docs/cli/graphql#apikeyexpirationepoch). The issue seems is that the AppSync service actually deletes API keys when they become invalid which is causing CloudFormation to lose a reference to it. We will make a code change to the GraphQL Transfo

[2019-02-27 22:11] fcwheeler commented on #102
Hee is what I did to make this work (after trying many variations:

In the YML file, add the following to the list of variables at the top of the page
` UsernameAttributes:
    Type: CommaDelimitedList`

Then, in the UserPool: section below, add the following:

` UsernameAttributes: !Ref UsernameAttributes`

Then, in the parameters.json file, add:

`"UsernameAttributes": ["email"],`

This worked f

[2019-02-27 22:53] mikeparisstuff commented on #956
All @model types currently require a single hash key named "id". We are working on an RFC that will introduce new functionality and allow you to define and query custom indexes. The RFC should be available on GitHub in the near future and hopefully should answer your question in more detail.

[2019-02-28 00:29] ceich commented on #766
I also would like mixed AuthN between a User Pool and _something_, where the latter is used by a Sumerian scene that will be calling AppSync while running on a dedicated device. I can either create a UP entry for each device (weird but doable, and requires password management on-device), or create a cert or other credential for each device, and use that to get tokens for use in AWS APIs.

[2019-02-28 00:33] mikeparisstuff commented on #487
Wanted to ping this ticket again. We are working on an RFC for custom indexes on @model types and would love to hear your feedback when it is posted to GH.

[2019-02-28 00:46] yuth commented on #955
@brylie what version of Amplify CLI do you have installed? You can determine the version number by running `amplify -v`

[2019-02-28 01:03] sakhmedbayev commented on #487
@mikeparisstuff would be great to have a way not only specify sort key but partition too.

[2019-02-28 01:32] #623 closed

[2019-02-28 02:07] bradennapier commented on #814
Yeah they even show that you can do it in the docs which is not true at all https://aws-amplify.github.io/docs/js/authentication#using-components-in-react

[2019-02-28 02:31] bradennapier commented on #204
https://github.com/aws-amplify/amplify-cli/issues/814

[2019-02-28 02:38] bradennapier commented on #766
It is not possible to force unique emails and usernames (case sensitivity) - this is insane to me and should be default as-is.  Docs say that you can do this after the fact but you can not.

[2019-02-28 04:20] yuth commented on #914
I think I have narrowed down the problem. When a push is performed, irrespective of change/no change CLI zips the `amplify/backend` directory and saves it in S3. This is done to support multienv. To solve the slow push we should fix the following
1. Don't push anything if the resources have not changed
2. Delete older version of function builds when a new build is generated
3. When creating `#curr

[2019-02-28 04:41] leantide commented on #914
With your item 1. in place, if no backend changes have been made but client side changes are made, just to affirm that an 'amplify publish' would not make any backend push but would still build and publish the client.

[2019-02-28 04:47] leantide commented on #914
For your item 3., there is still a substantial size to my function/[name]/src/node_modules subdirectories. Since these are reconstructed by an npm install, I don't store them in my code repo. Would these node_modules also be candidates to ignore along with the build/dist directories?

[2019-02-28 06:57] kangks opened #959 "Restful API using existing Lambda function"
**Describe the bug**
amplify 1.1.6 does not allow restful api to use existing Lambda

**To Reproduce**
Steps to reproduce the behavior:
1. amplify api add -> REST
2. Enter a label
3. Enter a path
4. It has only one option "Create a new Lambda function"

**Expected behavior**
Prior to upgrade, I was using 0.1.38 and amplify was able to pull all Lambda functions from the account in the region that I

[2019-02-28 07:42] sakhmedbayev commented on #900
I update amplify cli to 1.1.6 and now I am getting this error on amplify push

[code]

[2019-02-28 08:04] bestwade22 commented on #778
any solution?

[2019-02-28 08:56] ildar-icoosoft commented on #953
@yuth I have @aws-amplify/cli@1.1.6

Also here is my GetAudioAlbum function in API.service.ts:

[code]

[2019-02-28 10:30] brylie commented on #955
amplify -v > 1.1.6

I ran the upgrade process when Amplify detected that I had initialized the project with an older version.

I added hosting *after* initializing and upgrading the project.

[2019-02-28 10:36] brylie commented on #955
I tried again today, removing *all* Amplify resources from the project, and then re-adding hosting. However, the process fails again, with a different error:

[code]

[2019-02-28 10:39] brylie commented on #955
I tried again today, removing *all* Amplify resources from the project, and then re-adding hosting. However, the process fails again, with a different error:

[code]

[2019-02-28 13:18] AndrewStaggPlunk commented on #685
Are you saying we should use "NONE" as if it was "prod" i.e. the master branch and just add new env's for "test" and "dev"?

[2019-02-28 14:33] bitIO commented on #955
This also happens to me when using different cli versions. In one computer, amplify-cli works for the project I'm building with version 1.1.3 but, in the laptop, after cloning the repo, install packges, etc when adding a function I got the message for all the parameter of every resource that has been created before. Just my 2 cents

[2019-02-28 14:44] YikSanChan commented on #932
@kaustavghosh06 I cannot reopen the issue that is not closed by myself.

The problem is still there. I tried with amplify-cli version 1.1.6. I believe you can easily reproduce

[2019-02-28 14:48] ryanhollander commented on #900
In my experience that typically means it can't find the request or resolver template in /amplify/backend/api/%api-name%/resolvers/

but generally it means it can't find some reference in cloudfront stack definition/JSON

[2019-02-28 14:51] jmgtan commented on #954
This error also applies if you want to refresh the API Key and your existing one is already expired. The same CloudFormation error occurs.

[2019-02-28 16:37] brianhilst opened #960 "amplify env pull vs checkout and --restore"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify env checkout and pull
** What AWS Services are you utilizing? **
Amplify CLI and Console
** Provide additional details e.g. code snippets **
Would you please provide some additional documentation on the differences between the amplify env che

[2019-02-28 17:00] richardzyx commented on #186
@kaustavghosh06 any update on this issue?

[2019-02-28 19:05] kaustavghosh06 commented on #932
@YikSanChan I see the problem.
So you would have to first `git merge test` and then `amplify env checkout prod` or if you are going through your  flow you've mentioned above, after you do a `git merge test`, you would have to again run `amplify env checkout prod` for the CLI to form the metadata that you've merged from the test branch. I would recommend doing the first former.

[2019-02-28 19:44] undefobj commented on #766
@Jun711 this is not something that the Amplify team can control. I will pass along the feedback to the Cognito team however I also recommend you log an official request to their forum: https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-02-28 19:45] undefobj commented on #766
@ceich I'm not sure I understand this scenario. Can you go into more details on your use case?

[2019-02-28 19:53] ryanhollander opened #962 "In 'split schema' graphql, schemas without @model do not merge queries or mutations"
If I split my schema into multiple files and I have a schema file that does not have a type annotated with @model, yet includes Query or Mutation types, the Query and Mutation types are not merged into the build schema file.

CLI version is 1.1.6
Windows 10 / Powershell

To reproduce Create two schema files:

schema1.graphql contains:

type ModelType @model { id: ID!, name: String! }

schema2.grap

[2019-02-28 21:28] ceich commented on #766
I want to ship a device (e.g. preconfigured tablet) to a person who will treat it as an appliance, i.e. turn it on and it works with no login step. Thus it needs to have credentials for accessing AWS (in particular, accessing one particular Account in my multi-tenant AppSync/S3/... application). For now I will create a User for the device (with a User Pool entry) and figure out a way to securely s

[2019-02-28 21:30] UnleashedMind commented on #955
@brylie
It might be because your amplify cli is not properly updated, could you go through these steps to update it again?
- npm remove -g @aws-amplify/cli
- npm cache clean
- npm install -g @aws-amplify/cli@latest

If you are just practicing, try to run `amplify init` on a new project and then add the hosting category.
The CLI does have to capability to migrate project setup from its older versio

[2019-02-28 22:22] undefobj commented on #766
@ceich This is interesting, but as you mention it's more of an IoT scenario. That doesn't mean it's necessarily something that we don't want to look at longer term in Amplify, however I'd call this out of scope for this RFC. Certificate management in general is a tricky thing to manage including the ownership chain, so I'm not sure what that would look like in something like Amplify. Could I sugge

[2019-02-28 22:58] ChenLi0830 commented on #416
I has been using multiple Amplify environments, and experienced this issue today. It is solved by switching to another environment and switch back.

[2019-02-28 23:26] jkeys-ecg-nmsu commented on #956
Thank you.

[2019-02-28 23:26] #956 closed

[2019-03-01 00:59] yuth commented on #953
Oh I see what you are saying. Typescript does support using string literals in types. So it should not be a problem if the type says `__typename` is `Track` or `AudioAlbum`

[2019-03-01 01:13] yuth commented on #960
`amplify env checkout <envname>` is analogues `git checkout <branchname>`.  This changes the current env to `envname`. When you do an amplify push after this command, you will be pushing to `envname`.

`amplify env pull` is analogues to `git pull`. Your `current-cloud-backend` will be synced with what is deployed in the env. This command is useful when some changes were pushed from a different wor

[2019-03-01 01:37] yuth commented on #959
This was intentionally removed to reduce the confusion it would cause when using with multienv.

If we allow choosing a lambda function, the same resource would be used for all the environment and break the resource isolation between environments.

We do support choosing a lambda function that is provisioned using CLI as we create a separate function for each environment.
Please feel free to re-op

[2019-03-01 01:37] #959 closed

[2019-03-01 02:23] jonsmirl commented on #766
@ceich Using a certificate to get credentials is already supported by AWS IOT.
https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html
It is not obvious to me how to implement the initial certificate based connection to AWS IOT from Amplify.

[2019-03-01 02:25] #886 closed

[2019-03-01 03:23] elorzafe commented on #964
@mikeparisstuff what do you think?

[2019-03-01 03:59] mim-Armand opened #965 "Amplify Publish prompt, publishes regardless of users response."
**Bug Description:**
When `amplify publish` command is ran, the CLI prompts the user with `Are you sure you want to continue?`
Even if the user selects **No**, the tool will still publish the project!

**To Reproduce**
Steps to reproduce the behavior:
1. Set up and init a minimal project
2. `amplify publish`
3. When prompted with `Are you sure you want to continue?` respond `No` and press enter
4.

[2019-03-01 08:50] bitIO commented on #955
@UnleashedMind so, if the project we are working on is not just a toy, we should not be using updated versions from the one we used to create it? I mean, right now, I can't use it having versions 1.1.3 and 1.1.6 😕

[2019-03-01 10:44] ildar-icoosoft commented on #953
@yuth The problem is that __typename: "Track"; is not equal to __typename: string;
I use this interfaces in application. For example, I'm getting album:
const album: GetAudioAlbumQuery = async GetAudioAlbum();
I expect that album.tracks will be GetTrackQuery[] type (like in graphql schema). But album.tracks IS NOT EQUAL to GetTrackQuery[]

Please reopen this issue

[2019-03-01 11:50] tjhowe commented on #83
@austinamorusocfc How did you get around it? I'm currently looking in to this as well.

[2019-03-01 15:53] danielbayerlein commented on #156
Is there any recommendation on how best to deal with this issue at the moment?

[2019-03-01 19:34] yuth commented on #965
Thanks for reporting this.

We wanted to let user publish hosting changes without updating the backend if the user wanted it, but the confirmation prompt doesn't convey the right message.

There is also another problem that I noticed, if the hosting was just added and user directly ran `publish` command and said `no` in the confirmation prompt, publish fails. We should not go ahead with publishing

[2019-03-01 20:57] kevin-lindsay-1 commented on #91
+1 on this as well, from the perspective of someone evaluating options, this particular issue presents as a pain point.

[2019-03-01 21:35] hisham commented on #858
I have not migrated yet to v1 but it seems I might run into this as well because I also manually modified the cognito cloudformation file. @flybayer it's not clear from your comments, but were you able to resolve this / find a workaround? I wouldn't want my cognito user pool to be permanently borked and I hope that did not happen.

[2019-03-01 23:26] jkeys-ecg-nmsu opened #967 "Feature Request: Provision CodeCommit repository from Amplify project; or, new "Versioning" category"
**Is your feature request related to a problem? Please describe.**
The CLI toolchain works great for the most part, but connecting a newly initialized Amplify project to a CodeCommit repository takes a bit of manual work.

**Describe the solution you'd like**
I'd like a new category, perhaps called Versioning, that provides a workflow for provisioning a CodeCommit repository using named profiles.

[2019-03-02 00:10] #914 closed

[2019-03-02 01:04] richardzyx opened #968 "Multienv CloudFormation-template Git Merge Conflicts"
**Describe the bug**
When following the recommended workflow for teams https://aws-amplify.github.io/docs/cli/multienv?sdk=js and merging sandboxes, git conflicts on cloudformation-template files for lambda functions occur and force each sandbox to do a new commit.

**To Reproduce**
Steps to reproduce the behavior:
Simply follow all the step on the recommended team workflow.

**Expected behavior**

[2019-03-02 03:53] ajhool commented on #685
@AndrewStaggPlunk If you were running amplify in production before multi-env was introduced, then yes I think that NONE would be your prod. Part of why I made this issue was because I think that will be a common frustration for people switching to multienv, especially if they were using amplify in production. I was lucky that I hadn't been using amplify in production and could throw away my NONE b

[2019-03-02 06:57] sakhmedbayev opened #969 "Amplify generated "list" query does not return proper result"
**Describe the bug**
Amplify generated "list" query does not return proper result. I am not sure if it is the issue with amplify, appsync or dynamodb. Any help and insights would help.

**To Reproduce**
Steps to reproduce the behavior:
1. I have the following graphql schema:

[code]
Amplify generates for me `listBookEntitys` beside others out of this schema.

2. I have imported "manually" [this fi

[2019-03-02 14:59] appsols-dev commented on #35
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 14:59] appsols-dev commented on #23
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 14:59] appsols-dev commented on #186
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 15:00] daniyal-intellicel commented on #35
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 15:00] daniyal-intellicel commented on #23
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 15:01] daniyal-intellicel commented on #186
I had the same issue. What I was doing wrong was when I was setting my source destination during "amplify init", I was giving this "/src". So this is not the correct path as this means the initial destination of your partition, ed: D:/ or C:/.
I update the source destination to "src" only and it works, and now I have aws-export.js file in it.

[2019-03-02 15:02] daniyal-intellicel commented on #35
You can update it using "amplify update project"

[2019-03-02 15:03] daniyal-intellicel commented on #23
You can update it using "amplify update project"

[2019-03-02 15:03] daniyal-intellicel commented on #186
You can update it using "amplify update project"

[2019-03-02 18:52] jtaylor1989 commented on #274
Seems that they deleted all the examples of using graphQL with S3 for a React Native app!!!!

[2019-03-02 20:35] sollipse commented on #930
Verified that this error no longer occurs on 1.1.4

[2019-03-02 20:35] #930 closed

[2019-03-02 20:38] sceptyk opened #970 "GraphQL: @searchable: multiMatch"
**Which Category is your question related to?**
GraphQL Transform
**What AWS Services are you utilizing?**
ElasticSearch Service
**Provide additional details e.g. code snippets**

What is the proper way to use of multiMatch when querying @searchable model. The docs refer to ElasticSearch equivalent but the schema type generated only accepts a single string as a value. Is there any way to handle pr

[2019-03-03 01:04] rozhali opened #1003 "API put "AccessDeniedException" does not end catch"
**Describe the bug**
API.put, getting "AccessDeniedException" error back but it is not ending up in the catch block

**To Reproduce**
Steps to reproduce the behavior:

`API.put(apiName, "/orders", myInit).then(response => {
                // Add your code here
                console.log("response: ", response);
                navigation.navigate("ConfirmReceipt");
            }).catch(error =>

[2019-03-03 03:19] DanNeish commented on #372
@mikeparisstuff Do you have any good references or examples on how to setup custom resolvers and custom stacks to implement custom auth rules?

[2019-03-03 06:33] YikSanChan commented on #932
Thanks, @kaustavghosh06 I tried the former one and it works. Can you explain why? What files does `amplify env checkout` checks to determined whether there are amplify categories update?

[2019-03-03 06:52] ohsik commented on #241
At least give us instructions on how migrate to this new cli. +1

[2019-03-03 13:22] krishnaanaril commented on #808
@mikeparisstuff This worked. Is there any relevant documentation for the same? I couldn't find one.

[2019-03-03 19:44] mwarger commented on #954
I'm also getting this when I have never used an API key for my API.  It just started happening after a push to my branch in Amplify Console today...

03 Mar 2019 19:36:05 | GraphQLAPIKey | UPDATE_FAILED | API key not found: da2-acfmba764zcuzck44ihpmcwye4 (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID: 95d2f4db-3deb-11e9-a479-3bdace7660c9)
-- | -- | -- | --

[2019-03-03 21:19] edward-hong opened #972 "Can't init project with Amplify"
Hi I'm trying to initialize a project by running the command `amplify init` but after I make the selections, it comes back with an error:

[code]

How do I opt in? I was wondering how do I fix this issue?

[2019-03-03 21:50] VividWombat commented on #766
One request I'd like to add to list. Not all apps want to have open signup. So I'd like ways to either _invite a user to signup_ or create a new user (but not needing console/cli admin access)

Currently cognito allows for disabling user signup, but there's very little support for adding users outside of console/cli. as amplify is providing some very nice HOC for authentication, extending that wou

[2019-03-03 22:18] flybayer commented on #588
Wow, I ran into this same problem. Turns out it was because I renamed my project directory. It would be much better if Amplify is more resilient to this!

[2019-03-04 09:39] timkuilman opened #975 "UPDATE_FAILED GraphQLAPIKey AWS::AppSync::ApiKey - ApiKeyValidityOutOfBoundsException after adding REST API"
**Describe the bug**
For a React Native project using Amplify (Auth, Storage, GraphQL api) I am trying to add a REST api. This api should only be accessible for users that are logged in. After adding the api via de CLI I run the `amplify push ` command. This is when the error shows up.

_Before update_

[code]

_Adding a new rest api via CLI_

[code]

_Creating the backend resources by running amp

[2019-03-04 11:56] babzcraig commented on #195
Encountered the same issue.To solve, I just reran `amplify-init` without copying over anything. Solved the issue and persisted all my data correctly.

[2019-03-04 14:08] AlternativDigital commented on #911
Hi @mikeparisstuff! Coming back on my project...
I used this version (attached file) of my graphql.schema and let amplify cli to create everything on AWS (tables, API...). Then I only uncommented line 208 to add an attribute to my type Prayer. I tried to do amplify push again and the trouble is that @model directive try to create table again. And so the push failed all the time. Today, I have just

[2019-03-04 14:10] mtimsit commented on #911
Hi @mikeparisstuff! Coming back on my project...
I used this version (attached file) of my graphql.schema and let amplify cli to create everything on AWS (tables, API...). Then I only uncommented line 208 to add an attribute to my type Prayer. I tried to do amplify push again and the trouble is that @model directive try to create table again. And so the push failed all the time. Today, I have just

[2019-03-04 16:15] ayushme001 commented on #296
try this
$export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/YOURUSERNAME/.npm-global/bin"

HOPE it might work!! 🙂

[2019-03-04 16:16] ayushme001 commented on #434
try this
$export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/YOURUSERNAME/.npm-global/bin"

HOPE it might work!! 🙂

[2019-03-04 16:39] sakhmedbayev commented on #900
Sorry, it was my bad in file naming for a custom template resolver.

[2019-03-04 16:39] #900 closed

[2019-03-04 18:42] UnleashedMind commented on #955
@bitIO that's not what I meant, you should go ahead and update the CLI version, but make sure your update is complete.
We couldn't reproduce the issue, so we suspect that there might be some problem with your cli installation. Please try to follow the steps to re-install it.

[2019-03-04 18:53] davo301 opened #973 "Cant install aws-amplify/cli on macOS Mojave"
Can install AWS amplify. First I tried the following command "npm install -g @aws-amplify/cli" bit got installation error related to access, then tried "sudo npm install -g @aws-amplify/cli", entered password, after some steps again I got error related to access. Can anyone help with this? My account is the only account on my MacBook pro with Admin level access, so I can't understand where is the

[2019-03-04 18:58] kaustavghosh06 commented on #973
@davo301 Can you run `amplify` and see if the CLI installation succeeded? I beleive in certain npm/ node versions it shows warnings and node-pre-gyp errors but it shouldn't affect the installaton and usage of the Amplify CLI.

[2019-03-04 19:09] davo301 commented on #973
Thank you very much @kaustavghosh06 you are right. Amplify installed successfully. So much warnings and errors are confusing, actually it works! Thanks

[2019-03-04 19:11] #973 closed

[2019-03-04 19:18] kaustavghosh06 commented on #972
@edward-hong Did you configure your AWS profile using the `amplify configure` command and then use that profile in your init process?

[2019-03-04 19:19] UnleashedMind commented on #972
This is usually because your aws account has not been completely verified, or you have not granted proper permission for the IAM user (that the aws access credentials are associated with).
Set up an user with admin permission and use its credentials with the Amplify CLI, see if it works, you can then use more granular permission control.

[2019-03-04 20:01] #953 closed

[2019-03-04 22:12] jkeys-ecg-nmsu opened #977 "Possible to make `id` field required so that it's not automatically generated on create operations (and the operation fails)?"
**Is your feature request related to a problem? Please describe.**
I want to ensure we do not create "duplicate" records that differ only by the id hash key. I know that the Amplify team will be releasing a RFC sometime soon about (a) new directive(s) to enforce partition key selection, but in the meantime, is it possible to make the hash key required on create operations without overriding resolv

[2019-03-05 10:31] apertureless commented on #300
I ran into the same issue.

I have following simplified schema

[code]

Now I want to query all tracks in a certain country.
On the dynamodb level this works. Because the `Track` table does have the `trackCountryId` column. So I can perform a scan operation and filter on the `trackCountryId`. However this does not work in GraphQL, because `trackCountryId` is not included in the TrackFilterInput.

[2019-03-05 12:49] jpbourgeon commented on #624
Hi
Has this changed with the recent api custom stacks/resolvers update ? or is it still under development ?
Regards

[2019-03-05 12:51] cptflammin opened #978 "Cannot remove environment when checked out in another one not in the same region"
Hi there !
   When checked out in an environment by example in region eu-central-1, I cannot remove another one in another region. I get an error like this:

Stack with id xxxyyyyzzz-5132437 does not exist

In same region removing one from another one is ok

[2019-03-05 12:55] cptflammin opened #979 "Environment name with alphanumerics and numbers"
Currently only supported lower case letters. As we may have by example different use case environments (dev, alpha, beta, test (qualification), prod, demo1, demo2...) and regions (us-west1, eu-central-1...), it would be better being able to name them

eu-central-1_dev
us-west-2_demo1
etc...

[2019-03-05 13:39] Purvik commented on #191
@kaustavghosh06  I have configured `amplify configure` and `amplify init`. It has created IAM user on the console but still when I choose profile configured with AccessID and SecretKey It gives me this error. Please help me out.
[code]

[2019-03-05 15:26] mwarger commented on #300
@mikeparisstuff - Just curious if there has been any progress on this or if a different solution has presented itself in the meantime?  Thank you for all you do!

[2019-03-05 18:30] UnleashedMind commented on #978
Hi, @cptflammin
No, you can not remove stack from another region.

[2019-03-05 18:49] UnleashedMind commented on #955
@brylie
Do you still have this issue?
If you don't see this issue anymore, please close it.

[2019-03-05 19:49] #939 closed

[2019-03-05 19:51] #938 closed

[2019-03-05 22:19] yuth commented on #962
We do support splitting the schema into multiple files. Its documented in[API Category Project structure](https://aws-amplify.github.io/docs/cli/graphql#api-category-project-structure) section.

You will need to create a directory named `<project-root>/amplify/backend/api/<api-name>/schema/` and put the split schema inside it.

[2019-03-05 23:31] poppybank opened #980 "Removing @searchable from a model fails to update stack"
**Describe the bug**

`$ amplify --version
1.1.7
`

This looks a lot like [#794](https://github.com/aws-amplify/amplify-cli/issues/794) but since that is closed I'm opening a new bug since it could be different.

I am trying to remove @searchable from a model. All I did was delete @searchable and then tried to do `amplify push` to make the cloud changes but it fails.

A clear and concise descripti

[2019-03-06 01:34] swaminator commented on #241
@ianpogi5 @sambomcd @sadooghi @ohsik  @gentleShark @fchau-arrdude @ngault We just released a Mobile Hub to Amplify CLI migrator that you can access here: https://github.com/awslabs/amplify-mobilehub-migrator. This will help you import your Mobile Hub resources into an Amplify project, give you an exports file, and allow you to leverage Amplify CLI features such as GraphQL APIs, Codegen, and the Gr

[2019-03-06 01:37] swaminator commented on #385
@sadooghi We just released a Mobile Hub to Amplify CLI migrator that you can access here: https://github.com/awslabs/amplify-mobilehub-migrator. This will help you import your Mobile Hub resources into an Amplify project, give you an exports file, and allow you to leverage Amplify CLI features such as GraphQL APIs, Codegen, and the GraphQL Transform. Would love your feedback.

[2019-03-06 01:38] sambomcd commented on #241
Thanks Nikhil - we ended up starting from scratch, rather than try and figure it out. I’m sure this will be of use to others, but we no longer have a migration path to try and provide feedback. Sorry.

On 6/03/2019, at 1:34 AM, Nikhil Swaminathan <notifications@github.com> wrote:

@ianpogi5 <https://github.com/ianpogi5> @sambomcd <https://github.com/sambomcd> @sadooghi <https://github.com/sadooghi

[2019-03-06 04:15] Riglanto commented on #975
I had similar issue. Setting `APIKeyExpirationEpoch` to `-1` in `amplify/backend/api/parameters.json` did help.
(source: https://github.com/aws-amplify/amplify-cli/issues/808#issuecomment-460377984)

[2019-03-06 06:11] comfytoday commented on #102
Adding the following to the CF template works:
[code]
However the builtin Amplify signup forms are not compatible... at least not the aws-amplify-vue component I've tried it with.

Even passing in a signUpFields array to try and force it to stop displaying the username field, it just sticks one in there anyway, along with a phone number saying they are both required (The Cognito console does not l

[2019-03-06 07:16] brylie commented on #955
Well, I will try to deploy again today. Otherwise, we are considering just deploying with Jenkins.

[2019-03-06 07:25] cocacrave commented on #916
I updated `.graphqlconfig.yml` file with new `schemaPath` and `included` paths with new path and it seems `mutations.js`, `queries.js`, and `subscriptions.js` gets pushed to the new path defined in config but the `schema.json` appears in the default `/src/graphql`. After pushing, the `.graphqlconfig.yml` gets rewritten with the old(default) `schemaPath: src/graphql/schema.json`

I'm using `@aws-am

[2019-03-06 08:06] brylie commented on #955
I tried again with CLI 1.1.7, updating the project when prompted:

![peek 2019-03-06 09-58](https://user-images.githubusercontent.com/17307/53865258-56f6d600-3ff7-11e9-8f2d-0604a39fd131.gif)

For whatever reason, it is not creating or finding the S3 bucket when running `amplify publish` after adding hosting.

[2019-03-06 15:47] kevin-lindsay-1 opened #1600 "Support @deprecated directive"
**Is your feature request related to a problem? Please describe.**
Cannot hide a piece of my schema

**Describe the solution you'd like**
Support of the common @deprecated directive

[2019-03-06 17:54] bmilesp commented on #652
Yes a print log function would be ideal!

[2019-03-06 18:36] UnleashedMind commented on #955
I see the cli has successfully migrated your project to be used with the latest CLI version.
There's only an auth category after the migration.
Could you run `amplify hosting add` after the migration? and then do a `amplify push`?

[2019-03-06 18:49] kstro21 opened #982 "amplify push fails after removing a model from schema.graphql"
**Describe the bug**
Can not remove a model from **schema.graphql** after it was pushed/deployed.

**To Reproduce**
Steps to reproduce the behavior:
1. Initial **schema.graphql**
[code]
2. `amplify push`
3. Update **schema.graphql** and remove *Invitation*
[code]
4. `amplify push`
5. Update failed with the following error
[code]

**Expected behavior**
Be able to remove models from **schema.graphql

[2019-03-06 20:30] ryanhollander commented on #962
Hello: I think you may misunderstand. I am using a split schema, that works fine. What I'm saying is if one of them does not have at least one type defined with @model then the Query and Mutation types that may be included in that file are not merged by amplify api gql-compile into the combined schema in build/ and therefore not included in AppSync.

[2019-03-06 22:00] ryanhollander commented on #939
just wanted to let you know I upgraded to 1.1.7 today and this fix is in that release. I was able to compile my graphql schema and the "ghostly" inputs are indeed no longer included. Thank you.

[2019-03-06 22:02] edward-hong commented on #972
Hi @UnleashedMind thank you for the reply. I have an IAM user with admin access and under the 'Access Advisor' tab, it says I have admin access for AWS Amplify.

Also, I did configure my AWS profile using the `amplify configure` command and used that profile to init.

I'm currently checking whether my AWS account has been verified. There's no indication when I log in that it hasn't been verified.

[2019-03-06 22:02] yuth commented on #939
@rayjanwilson thank you for confirming the fix

[2019-03-07 00:33] mikeparisstuff commented on #982
Hey can you try deleting the @connection directives first. Perform the push. Then remove the @model type and push again. Let me know if that works.

[2019-03-07 00:36] mikeparisstuff commented on #980
Hey it looks like the API key was deleted by AppSync since it expired which caused CloudFormation to lose a reference. You can get around this by setting "APIKeyExpirationEpoch" to "-1" in the parameters.json file. See https://aws-amplify.github.io/docs/cli/graphql#apikeyexpirationepoch. After pushing and removing the API key, you can recreate a longer living key by setting the "APIKeyExpirationEp

[2019-03-07 01:07] austinamorusocfc opened #983 "AWS Lambda appsync client"
I built an a super simple client to allow composing of appsync calls when using cognito

https://www.npmjs.com/package/executequery

Got the idea from the following article but didn't like having to turn off cognito
https://read.acloud.guru/backend-graphql-how-to-trigger-an-aws-appsync-mutation-from-aws-lambda-eda13ebc96c3

Was hoping there would be a better / faster way to do this.

[2019-03-07 02:01] UnleashedMind commented on #983
Thanks @austinamorusocfc for the feedbacks.
Do you have any specific suggestions?

[2019-03-07 02:25] kstro21 opened #984 "amplify env pull fails in Windows after adding a function"
**Describe the bug**
**amplify env pull** fails in _Windows_ after adding a function using **amplify function add**

**To Reproduce**
Steps to reproduce the behavior:
1. Add a function using `amplify function add`
2. Run `npm install ` inside the _src/_ folder in the function
3. Run `amplify env pull` or `amplify init`
4. >There was an error initializing your environment.
init failed
{ Error: EPER

[2019-03-07 03:26] ncknuna opened #985 "Why are AuthRole and UnauthRole required for hosting?"
** Which Category is your question related to? **
`init` and `hosting`

** What AWS Services are you utilizing? **
`s3` and `cloudfront`

** Provide additional details e.g. code snippets **

I'd like to use AWS Amplify only for hosting (at least for now) and would like to avoid unnecessary extra resources getting created. I noticed that the generated cloudformation templates and the config files g

[2019-03-07 03:34] poppybank commented on #980
Thanks @mikeparisstuff Does the API Key need to be there and valid for that push to happen?  I tried changing APIKeyExpirationEpoch to -1 and it is still failing, but for a different reason now.  Much more vague.

[code]
Higher up I saw this:

[code]

Followed by these, but I'm assuming they're failing because the issue above.

[code]

[2019-03-07 05:31] leantide commented on #783
I had this issue when my node was installed using Homebrew on my mac (and hence the need to use sudo for npm install -g).

I no longer had this error after I switched to [nvm](https://github.com/creationix/nvm).

Approximate procedure:
- note the global npm installs using 'npm list -g --depth=0'
- uninstall all the globally installed packages, for example, `npm remove -g <package>` (or probably co

[2019-03-07 06:19] leantide commented on #783
FYI. I hit a similar error on another package (not amplify-cli), which required switch from node 10 to node 8. Seems any library that uses fsevents needs to a specific matching version node.

I also saw `npm install fsevents@latest` on another thread which helped some folks out.

[2019-03-07 07:14] kstro21 opened #986 "Make export name of the stack's output reachable"
**Is your feature request related to a problem? Please describe.**
Currently, there is no easy way to get an output from a stack. It is because the **export name** is generated using the current stack's name, and we end up with a large name that changes for each environment we have. This makes getting the output of a stack impossible.

For example:
The generated API CloudFormation template has thi

[2019-03-07 07:33] kstro21 opened #987 "Export the DynamoDB table Stream Arn as an stack's output"
**Is your feature request related to a problem? Please describe.**
Currently, there is no easy way to add a stream event, for example, to trigger a Lambda function, because the _Stream Arn_ is not available in any stack. I've created a function using `amplify function add`, now, I want to edit the template to add an `AWS::Lambda::EventSourceMapping` but it is not possible except if I hardcoded the

[2019-03-07 09:43] rawadrifai opened #991 "amplify status always needs update"
Whenever I would use `amplify status`, it would show that all my functions need to be updated, even when I do not update them. My environment on the cloud is clearly out of sync with my local. I have tried initializing new environments and start over, it doesn't work.

There are 3 things that cause this behavior:
1- using some library in my function/lambda that needs to be imported `yarn add ...`

[2019-03-07 09:58] Emillos opened #988 "amplify add storage: folder and files not created"
** Which Category is your question related to? **
amplify add storage

** Provide additional details e.g. code snippets **
While attempting to add Storage and then doing amplify push - it failed and performed a rollback.
I fixed a few a things, and went to try again - and the following happens:

**from the CLI**

[code]

I haven't touched any files in  /amplify/backend/ folders

How do i proceed f

[2019-03-07 13:51] jpbourgeon commented on #778
For what it's worth I have the exact same issue on Windows 10. However I have been using the CLI successfully since january without any major issue.

[code]

[2019-03-07 14:49] RickCraig opened #990 "AppSync: Custom stack not pushing"
**Describe the bug**
Using version 0.2.2-multienv.1, I have created a custom stack that adds resolvers for a mutation. I have followed the guide and used the example: https://github.com/mikeparisstuff/amplify-cli-nested-api-sample. But the stack is not being pushed when I call `amplify push`

**To Reproduce**
The custom stack (`amplify/backend/myAPI/stacks/custom.json`):
[code]
The request resolve

[2019-03-07 15:28] laura-sainz-mojix-com commented on #487
+1 We really need the feature also

[2019-03-07 17:33] poppybank opened #992 "configured env disappeared from amplify env list, resources still running"
**Describe the bug**
I configured 2 environments for a project I'm building. Dev and Master using the same patterns described in the [multi-env doc page](https://aws-amplify.github.io/docs/cli/multienv). I have not done anything with the master environment for a couple of weeks and now it is no longer showing up when I type `amplify env list`. `amplify env get --name master` returns `No environmen

[2019-03-07 17:35] poppybank commented on #992
BTW - I find this very disconcerting and I am getting nervous about deploying on this platform when I lose the ability to manage it after a week or so between this issue and the chain of errors described in #980

[2019-03-07 17:37] kaustavghosh06 commented on #992
@poppybank The envs are managed locally in your filesystem and shouldn’t disappear if your local filesystem hasn’t updated or changed in a week. Could you please check your amplify/team-provider-info.json file to check if you have keys corresponding to each of your envs?

[2019-03-07 17:48] poppybank commented on #992
Thanks @kaustavghosh06.  Only the dev environment is in the amplify/team-provider-info.json file.
Honestly I was expecting that these items would be stored in the cloud. Is there a way to rebuild the awscloudformation data if that version of the team-provider-info.json has been lost?

[2019-03-07 18:07] kaustavghosh06 commented on #992
@poppybank If you didn't check in your team-provider-info.json file in a  VCS before you lost the reference to it, you could retrieve the "awscloudformation" information from the that environments corresponding to that environment from the parent Cloudformation stack (in the Outputs section) in the AWS Cloudformation console.
<img width="1258" alt="screen shot 2019-03-07 at 10 04 35 am" src="https

[2019-03-07 18:12] kaustavghosh06 commented on #990
@RickCraig Custom resolvers are not supported as a part of @multienv CLI version but is now a part of the main CLI version. You can go ahead and install the v1 version of the CLI using `npm install -g @aws-amplify/cli` and let me know if you're still seeing this issue.

[2019-03-07 18:16] kaustavghosh06 commented on #991
@rawadrifai Which version of the CLI are you using? We pushed a fix as a part of V 1.1.7 and this PR - https://github.com/aws-amplify/amplify-cli/pull/963 to improve on the performance when pushing resources.
Also, would you able to do a `git diff` to check what has changed in your environment between the last push and your current push?

[2019-03-07 18:47] UnleashedMind commented on #985
Hi @ncknuna ,
You are right, the hosting category does not using the two roles.
The CLI adds those two roles during init, and keep them there, because they are used by other categories that manage aws resources to be consumed by the Amplify library, such as storage, api and analytics. Currently, the CLI does not provide tools to remove them.

[2019-03-07 18:55] UnleashedMind commented on #988
What did you manually fix?
Yes, you can try to remove storage and try again.

[2019-03-07 19:40] ncknuna opened #993 "Support instance profile credentials via ec2 metadata service, like aws cli"
**Is your feature request related to a problem? Please describe.**
I'm attempting to run the amplify cli on a Jenkins worker, which gets its credentials from its instance profile, not from a ~/.aws/credentials or ~/.aws/config file. I can run `aws s3 ls` and other aws cli commands just fine, but when I run `amplify init`, it says "AWS access credentials can not be found."

**Describe the solution

[2019-03-07 19:42] ncknuna commented on #985
@UnleashedMind Thanks for the quick reply! In that case, can this ticket turn into a feature request to only create those roles when adding a category that requires them?

[2019-03-07 19:49] kaustavghosh06 commented on #985
@ncknuna Almost all categories need this auth and unauth role for managin permissions except "Hosting" I beleive, so as an opinionated approach we decided to provision the auth and unauth role (which users are not charged for), during initialization so that all the common categories could share it whenever required or whenever added. We took this decision based on the 80/20 rule, considering the f

[2019-03-07 19:58] poppybank commented on #992
Once I add this information into amplify/team-provider-info.json as a second env, I would want to do `amplify env checkout <envname>` then right? The project already has been inited. Or is amplify init preferred over checkout if I'm just switching which environment I'm targeting?

[2019-03-07 20:02] ncknuna commented on #985
@kaustavghosh06 I understand, and I very well may have done the same thing if I was in your shoes :)

In my case, I'm using Auth0 as a third party auth provider (largely because of a lot of the limitations specified [here](https://github.com/aws-amplify/amplify-cli/issues/766)). Until [generic OIDC providers are supported](https://github.com/aws-amplify/amplify-cli/issues/177), I likely won't be a

[2019-03-07 20:04] UnleashedMind commented on #986
@kstro21 Thanks for the feedbacks. We will discuss it among the team.

[2019-03-07 20:07] kaustavghosh06 commented on #992
When you `amplify init`, the CLI would ask you if you want to use an already exisiting environment and you would get a list of envs to choose from. You could alternatively use `amplify env checkout <envname>` as you've mentioned above which would do the same thing.

[2019-03-07 20:12] poppybank commented on #992
@kaustavghosh06 Thanks that help. The word `init` (to me) means it is configuring something for the first time so it would seem bad to do this with an enlistment that is already running.

One last question on the multi-env functionality, then. If I have an unattended build machine that needs to build my mobile apps, the build machine would need to have amplify installed but then it would checkout

[2019-03-07 20:18] ncknuna opened #994 "Create S3 hosting buckets with Encryption"
**Is your feature request related to a problem? Please describe.**
While we don't plan on hosting any confidential information in our hosting buckets, it's always better safe than sorry, so we'd like it if the s3 buckets used for hosting had SSE enabled

**Describe alternatives you've considered**
Being okay with SSE not being enabled :)

[2019-03-07 20:21] kaustavghosh06 commented on #992
@poppybank That's exactly we support headless mode for our commands like init/push/publish etc so that these commands could be run on build systems.
Please take a look at https://aws-amplify.github.io/docs/cli/init#headless-usage-of-the-cli for more information around this.

[2019-03-07 21:18] rawadrifai commented on #991
@kaustavghosh06 I have 0.2.1-multienv.35
Should I not be using multienv?
The diff is too big. The things that could cause this behavior are the 3 items I mentioned above.

[2019-03-07 21:26] UnleashedMind commented on #993
If you've correctly setup your ~/.aws/credentials and ~/.aws/config files for role assumption, the Amplify CLI has the ability to assume the role, just like how that aws cli consumes a role from those two files.  check [here](https://aws-amplify.github.io/docs/cli/init#assuming-an-iam-role) for a details description.

[2019-03-07 21:35] UnleashedMind commented on #993
If you configure your EC2 instance to use IAM roles, the Amplify CLI can automatically assume the IAM credentials for your application, eliminating the need to manually provide credentials. This can be done in two ways:
1. If you are initializing a project, run the `amplify init` in headless mode and set the awscloudformation provider's configuration level to be `general`, see [here](https://aws-a

[2019-03-07 21:36] rawadrifai commented on #991
Overall - the development with amplify is super slow just having to wait a few minutes every time you make a change. I can't simulate locally because I'm using auth. Amplify is super convenient, but needs serious performance enhancements.

[2019-03-07 21:37] mikeparisstuff commented on #980
@poppybank I am looking into this issue. The reason for the error is that the new stack is removing an export in one of the model stacks that is now unnecessary because searchable is being removied. The issue is that the searchable resources depend on the model stack (because the streaming depends on the model table) causing the model stack to get updated first. Since the existing searchable stack

[2019-03-07 21:42] rawadrifai commented on #991
so I went to 1.1.7 and it's working much better now.. multienv needs rehab.

[2019-03-07 21:43] poppybank commented on #992
I was sure you had it solved, just hadn't seen that documentation yet. thanks!!

[2019-03-07 21:43] poppybank commented on #980
Thanks @mikeparisstuff, I'll give that a try.

[2019-03-07 22:22] poppybank commented on #980
@mikeparisstuff, that did solve the problem for now (thanks!)
While I have been trying to get this working again, I did a couple of other changes to the schema that were ostensibly rolled back, but not completely and that started causing more issues. At one point I removed a model from the schema and tried to push. The push failed and rolled back, but the resolvers for that model were deleted on t

[2019-03-07 23:03] UnleashedMind commented on #994
Contents in a hosting bucket are meant to be served publicly,  personally I don't see how SSE is useful in this scenario. Could you provide more contexts?

[2019-03-07 23:33] bernays opened #995 "Twitter Federated Login"
Is there any plan on adding support for other Federated Identities for example Twitter?

[2019-03-07 23:33] undefobj commented on #995
Moving to CLI repo where this configuration would be completed.

[2019-03-08 00:28] zjullion commented on #83
Until @function is implemented, y'all should check out: https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function

[2019-03-08 00:34] djkingh01 opened #996 "Is there a way to specifiy thedynamodb tablename when creating a api resource using amplify?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
amplify

** What AWS Services are you utilizing? **
app sync

** Provide additional details e.g. code snippets **

[2019-03-08 00:35] djkingh01 commented on #996
Currently whenever I try to create resources using amplify it concatenates a long randon string? How can this be prevented?

[2019-03-08 00:36] kaustavghosh06 commented on #838
@mrcoles We released a fix for this. Let me know if you're still seeing this. Thanks!

[2019-03-08 00:36] #838 closed

[2019-03-08 01:21] kaustavghosh06 commented on #807
@bokuweb We fixed this issue in our main CLI version. You can install it using `npm install -g @aws-amplify/cli` and feel free to re-open the issue if you're still experiencing the same problem.

[2019-03-08 01:21] #807 closed

[2019-03-08 01:25] kaustavghosh06 commented on #644
@mwarger We provided a fix for this as a part of the latest version of the main CLI. Please let me know if you're still seeing the issue.

[2019-03-08 01:25] #644 closed

[2019-03-08 02:07] UnleashedMind commented on #996
You can specify the resource names that are prompted during the execution of the `add` command. Others are auto generated for you and you are not advice change them because they may be referenced by other resources. The CLI uses long random string to prevent accidental name clash.

[2019-03-08 02:44] poppybank commented on #992
@kaustavghosh06 I made a change to the graphql.schema and did `amplify push` but the files in src/graphql are not being updated to reflect that I removed a @model declaration.  Is there a way to force rebuild those? Doing `amplify api gql-compile` does not seem to do it.

[2019-03-08 05:37] kstro21 commented on #982
Hey @mikeparisstuff thanks for the suggestion.

But it doesn't work, the same result. Also, for additional information. After the `amplify push` failed, I restored the **@connection** in the schema, then, run `amplify push` again and it fails again now with the error

[2019-03-08 06:43] selipso commented on #766
This issue may already be on your radar, but I've noticed that when using the browser in Incognito mode, AWS_IAM doesn't respect user-specific resources. It'll list all of that particular resource (effectively admin access) if you run the ListTodos query. However, when in a regular browser outside of incognito mode, the resources specific to the identity are listed properly.

[2019-03-08 07:26] #991 closed

[2019-03-08 08:42] Emillos commented on #988
Thank you for replying :)

The fixes I did was in the schema.graphql, I don't think they are related to this.

Anyway when I attempt to remove storage i get an error.
[code]
Any idea how i can fix this?

Kind regards
Filtenborg

[2019-03-08 09:00] RickCraig commented on #990
@kaustavghosh06 Unfortunately multienv is more important to me right now than the custom resolvers, I'll just write around the problem, thanks for the quick response!

[2019-03-08 09:00] #990 closed

[2019-03-08 12:15] wizawuza commented on #990
@RickCraig the main cli now supports multienv

It's worth upgrading to the newest main cli as it's the one that'll continue to be developed. And it has a bunch of other new features.

[2019-03-08 12:20] RickCraig commented on #990
That's great news, i'll do that, thanks for the heads up!

[2019-03-08 14:17] djkingh01 commented on #996
In my understanding the resources that are prompted during add command execution are for Project name and env. This has little to do with generated tablenames so it does not solve my problem. Generated tablenames are created from the typenames in graphql schema. We have a usecase where we are storing the same table for storing multiple types. How can achieve that using amplify?

[2019-03-08 15:36] kldeb opened #997 "Ability to add DynamoDB triggers via amplify add function"
**Is your feature request related to a problem? Please describe.**
I've created a graphql api backend and declared tables in my schema using @model. I would like to create a function to populate a field on the table on insert. Attempting this caused the following error:

```There are no DynamoDB resources configured in your project currently```

**Describe the solution you'd like**
I'd like amplif

[2019-03-08 17:44] kstro21 opened #999 "How to pass SearchableStack parameters?"
I've added the **@searchable** directive to one of my models, the Elasticsearch Service was deployed after running the `amplify push`. Now, I was taking a look at the template generated by **amplify** located in _amplify\backend\api\myapi\build\stacks\SearchableStack.json_ and I'm wondering if I want to change the `"ElasticSearchInstanceType"` value, how do I pass that parameter to the template?

[2019-03-08 18:20] ceich commented on #766
That sounds like a bug; please raise a new issue apart from this RFC thread.

[2019-03-08 18:50] kyangy opened #1001 "amplify env add throws error"
**Describe the bug**
Running `amplify env add` throws `TypeError: Cannot read property 'config' of undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. amplify env add

**Expected behavior**
Should be able to create a new env

**Screenshots**
<img width="1440" alt="screen shot 2019-03-08 at 10 46 14 am" src="https://user-images.githubusercontent.com/9537888/54048745-7cb6e300-418f-11e9-

[2019-03-08 19:05] kaustavghosh06 commented on #1001
@kyangy Do you have a `archive` key in your amplify/team-provider-info.json file?

[2019-03-08 19:10] ncknuna commented on #994
Ah, sorry, I realize now how non-contextual my request was. Let me explain a bit more:

I work with data which is sometimes sensitive, and with some fairly new/inexperienced developers. In order to make it both easy and safe for them to share their work, I'm using Amplify to make it easy to set up dev-tier/env applications and using WAF to allow access to those dev-tier applications only within ou

[2019-03-08 19:22] kyangy commented on #1001
@kaustavghosh06 i do not

[2019-03-08 19:24] kaustavghosh06 commented on #1001
How does your `amplify/.config/local-aws-info.json` file look like?

[2019-03-08 19:26] kyangy commented on #1001
ahh yes i do see the archive key in there

[2019-03-08 19:27] kaustavghosh06 commented on #1001
You might want to remove that and give it a try again. Not sure how that got in.

[2019-03-08 19:28] ncknuna commented on #839
I'm seeing the same thing, except for me I'm running in headless mode on a Jenkins worker where I don't have the option to install globally, so it's a blocker for me :/

[2019-03-08 19:29] kyangy commented on #1001
ok cool that worked! i did have the same archive env pushed previously but i terminated it. thanks! @kaustavghosh06

[2019-03-08 19:29] #1001 closed

[2019-03-08 19:30] kstro21 opened #1002 "Where should I add my custom resolver CloudFormation config?"
I'm following the steps here https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function but in the steps that says: _Add the function as an AppSync data source in the stack’s Resources block._. Ok, but, and the template? which one? _amplify\backend\api\myapi\stacks\CustomResources.json_ or should I add a new one in _amplify\backend\api\myapi\stacks\_?

[2019-03-08 19:58] UnleashedMind commented on #994
@ncknuna
Thanks for providing more context.
I'm not very sure I completely understand it though. Hosting bucket hosts the frontend web application, which is the built and deployed frontend application that the end users view and interact with. Hosting bucket is not intended to store the application's codebase. Codebase repo, like github, is used for that purpose.
IMHO, the frontend application its

[2019-03-08 20:08] kstro21 commented on #999
Finally, I found related info here https://aws-amplify.github.io/docs/cli/graphql#aws-cloudformation-template-parameters

[2019-03-08 20:08] #999 closed

[2019-03-08 20:21] ncknuna commented on #994
Yup, definitely agree that the frontend application should not contain any sensitive data, and I'd catch it in code review if it did.

My concern is junior developers copy/pasting sensitive data into a module/page for a faster iteration loop (e.g. instead of querying the backend, which may be slow-ish for analytic queries), and then accidentally building and deploying the application with that cop

[2019-03-08 20:53] yuth commented on #861
What version of CLI did you use.  I could not reproduce this in `1.1.7`

 Feel free to to re-open if you can still reproduce this.

[2019-03-08 20:53] #861 closed

[2019-03-08 21:07] kaustavghosh06 commented on #932
@YikSanChan So after you merge your backend/ changes from your git branch, when you run `amplify env  checkout` it takes a look at your directory structure and modifies files like the `backend/amplify-meta.json` file based on the merged directory structure. The CLI commands look at the `backend/amplify-meta.json` file to display output for commands like `amplify status`

[2019-03-08 21:10] #932 closed

[2019-03-08 21:29] kaustavghosh06 commented on #972
@edward-hong  Please take a look at this - https://github.com/aws-amplify/amplify-cli/issues/191#issuecomment-469682712 to resolve your issue. As @Purvik mentioned, you would need to Call and Verify your account and then try again.

[2019-03-08 21:29] #972 closed

[2019-03-08 21:36] mikeparisstuff commented on #682
It seems there is some path that leaves APIs in a state where a resolver is left dangling even after the field is removed from the schema. When this happens you can get around the issue by going to the AppSync console, adding a field to the schema with the same name as the supposed conflict, delete the resolver record by selecting it from the right half of the schema page and clicking "Delete Reso

[2019-03-08 21:39] mikeparisstuff commented on #871
@jkeys-ecg-nmsu The schema can _optionally_ be a directory. If you API project has a file "schema.graphql" it will be used, but you may alternatively break up your schema into many ".graphql" files that live within the "schema" directory.

[2019-03-08 21:39] kaustavghosh06 commented on #584
@BerndWessels @kraisorns Your issues should be fixed with the latest version of the CLI.
Also, please feel free to re-open this issue if you're still seeing problems with the latest version.

[2019-03-08 21:39] #584 closed

[2019-03-08 21:41] kaustavghosh06 commented on #588
Hey guys, we store the project configuration (including project path) in `amplify/.config/local-env-info.json` file (which the CLI uses to parse your project structure), and if you change your directory name, you could either run `amplify configure project` or change the projectpath manually in the file mentioned above.

[2019-03-08 21:41] #588 closed

[2019-03-08 21:42] mikeparisstuff commented on #902
@chris-merapar This is an unfortunate side effect of DynamoDB. We are working on an RFC that will be released to GitHub soon that provides users more control over the index structures that are placed on a table. With the new directives in place, you will be able to make these changes in a purely additive fashion such that you do not experience downtime. In this case, you would be able to add a new

[2019-03-08 21:44] mikeparisstuff commented on #906
@chris-merapar Thanks for investingating this. Let me try to reproduce this and verify the cause. Do you see that the CLI is removing the transform.conf file when you change environments?

[2019-03-08 21:49] kaustavghosh06 commented on #665
@nagey Can you upgrade to the latest version of the CLI and try this out? I beleive we fixed this issue in the lates version. Feel free to re-open this if you're still seeing the issue.

[2019-03-08 21:49] #665 closed

[2019-03-08 21:58] mikeparisstuff commented on #996
@djkingh01 Currently the @model directive expects to contain a single data type, however, we are looking at generlizing this to allow overloaded indexes & multiple types per table but there is not set date on when this will be available. This being said, you are able to write your own resolvers that target your own data sources within the CLI using custom stacks.

The process to do this would be t

[2019-03-08 22:14] kaustavghosh06 commented on #992
@poppybank Since this question is not tied to this specific issue, could you please open another issue for this or reference me in the issue if you'e already opened for this?

[2019-03-08 22:14] #992 closed

[2019-03-08 22:15] mikeparisstuff commented on #1002
@kstro21 Thanks for the comment. You are able to add the resource to any stack in the stacks directory of the API project's stacks directory. You may add it at `amplify\backend\api\myapi\stacks\CustomResources.json` or `amplify\backend\api\myapi\stacks\SomeOtherTemplate.json` and both will be fed the parameters & uploaded to S3 on push. I will make a note to update the docs with more clear informa

[2019-03-08 22:18] #824 closed

[2019-03-08 22:21] mikeparisstuff commented on #964
You have a few options. The quickest and easiest way to do it without having to make any changes to your API will be to do as @elorzafe mentions and first create the SingleResource before updating each of the associated MultipleLinks.

If you would like to have a single mutation that allows you to do as you mentioned:

[code]

Then you can use Pipeline resolvers to implement the "createSingleResou

[2019-03-08 22:22] kaustavghosh06 commented on #808
We've documentation for the same out here - https://aws-amplify.github.io/docs/cli/graphql#apikeyexpirationepoch

[2019-03-08 22:22] #808 closed

[2019-03-08 22:38] manueliglesias commented on #1003
Transferred to cli. The lambda code needs to send an appropriate statusCode in the response.

[2019-03-08 22:40] #385 closed

[2019-03-08 22:51] zjullion commented on #986
Because of this issue, attaching a custom resolver for an AWS lambda as described here (https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function) is effectively impossible in a multienv setting. Each env is going to have a different AppSync with a different id that is not reference-able via CloudFormation.

[2019-03-08 22:54] zjullion commented on #1002
https://aws-amplify.github.io/docs/cli/graphql#api-category-project-structure basically describes this structure, but it would be very useful if the documentation at https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function referenced the first link.

[2019-03-08 22:54] yuth commented on #908
What was the previous version of the CLI you had? I suspect this is due to the change we made to prevent overfetching in #571

[2019-03-08 22:55] kaustavghosh06 commented on #795
@ceich We added support for Custom resolvers and custom CFN stacks in the latest version of our CLI. Let me know if you find that helpful. Also, we're actively working on supporting Cognito hosted UI setup as a part of the CLI. We'll update #766 when we have that ready.

@kulikala yes, to both your questions.

[2019-03-08 22:55] #795 closed

[2019-03-08 22:57] kaustavghosh06 commented on #810
@toddkashley You could use the amplify/backend/function/<function-name>/event.json file to mock your process environment variables. You might want to mock your AWS_REGION and AWS access creds out there for testing as well.

Also you might need to mock your

[2019-03-08 22:59] kaustavghosh06 commented on #819
Hey guys, you can upgrade your CLI to the latest version of the CLI and include `build/` and `dist/` in your gitignore s to prevent these git conflicts. Please let me know if you're still seeing this issuea fter upgrading and addding these paths to your gitignore.

[2019-03-08 22:59] #819 closed

[2019-03-08 23:01] kaustavghosh06 commented on #844
@mrcoles Cloudformation doesn't support Hosted UI support inherently but you can use custom lambda resources to make that possible. That being said, we're actively working on hosted UI support as a part of the CLI and I'll update this thread once we have the support.

[2019-03-08 23:05] kaustavghosh06 commented on #858
@hisham So the CLI migrates your AppSync API first (to make use of custom resolvers), then it changes auth CFN files locally and then before pushing, you would be prompted whether you want to push the resources or not. I would recommend you to say 'No' in your case for 'pushing' the changed CFN files and make sure you do a git diff and incorporate changes in the modified CFN to reflect your curren

[2019-03-08 23:06] kaustavghosh06 commented on #968
@richardzyx It is safe to include that in the gitignore. it will get automatically created when you're doing an `amplify push`.

[2019-03-08 23:12] mikeparisstuff commented on #331
Thanks for the suggestion. It seems like you were able to figure it out but here is a suggestion for others that may be facing this same confusion. You can easily find metadata such as the User Pools ClientID by looking at `amplify-meta.json` file in your project. Inside it you will see a section per category with high level details on the project's resources. For example, you will see something l

[2019-03-08 23:12] UnleashedMind commented on #988
Please follow these steps to restore your local amplify directory

1. **Very important**, backup your entire project, so if things don't go smoothly, you can try again.
2. update your cli to the latest version. `npm install -g @aws-amplify/cli@latest`
3. In the backend folder, remove this subfolder if it exists: `/Users/filtenborg/tjalfe/r0k3t/amplify/backend/storage/`
4. In the backend folder, up

[2019-03-08 23:15] mikeparisstuff commented on #556
This can be implemented via a BatchWrite operation or via an AppSync pipeline resolver but is not yet implemented out of the box via the GraphQL transform. To build this yourself, you may use the @connection directive to configure the has one relationship on both @model types and then implement your own updatePost & updateResponse resolvers such that they use a pipeline resolver or BatchWrite oper

[2019-03-08 23:18] hisham commented on #858
Sounds good, will do when I migrate. Thanks @kaustavghosh06

[2019-03-08 23:18] mikeparisstuff commented on #648
When specifying the default action of DENY then you must explicitly allow access on the field. You may also set this value to ALLOW and I believe the full object should come back as expected.

[2019-03-08 23:20] mikeparisstuff commented on #720
You can achieve this with a pipeline resolver but DynamoDB does not support auto-incrementing values like this in general. You can use DynamoDB UpdateItem operations along with an expression like "SET myNum = myNum + :val" to atomically increment an integer but this gets more complicated with your setup when using a tag like "1.1", "1.2", etc.

[2019-03-08 23:21] mikeparisstuff commented on #648
When specifying the default action of DENY then you must explicitly allow access on the field. You may also set this value to ALLOW and I believe the full object should come back as expected.

[2019-03-08 23:23] mikeparisstuff commented on #867
@lookitsatravis Thanks for bringing this up. I agree that this would be useful and we are looking into how to best support use cases like this. In general, we can move to a model where all resolvers are pipelines by default and any auto-generated logic will be encapsulated in reusable functions. Ideally you would be able to compose your own functions with those that are auto-generated in order to

[2019-03-08 23:27] mikeparisstuff commented on #922
Unfortunately this is a limit in DynamoDB that we must work around. In general, we will be providing new ways to customize what indexes exist on a table and enabling you to use these indexes with @connection. This way you can change the name of the connection fields without impacting the underlying GSI itself. If you are stuck in a situation where a GSI cannot be created nor destroyed via CloudFor

[2019-03-08 23:36] mikeparisstuff commented on #969
If you have more items in your table than the limit of items being returned by that query for the particular hash key then you might not see the results you are expecting in the first page. The reason for this is that DyanmoDB filter expressions are run on records after they have been read from their individual partition. To guarantee that you get a record back where the chapterNumber == 96 then y

[2019-03-08 23:49] UnleashedMind commented on #714
@rfestag
Thanks for your feedback.
Currently the Amplify Cli's hosting category sets up the CloudFront to fetch from a private S3 hosting bucket, instead of using its public endpoint.
It's not the recommended practice to make S3 buckets public, though. We've updated the CLI so that even for the Dev setup, in which CloudFront is not used, the hosting bucket itself is still set as 'private' and only

[2019-03-08 23:55] yuth commented on #984
@kstro21 whats the version of CLI do you have installed?

[2019-03-09 00:27] selipso opened #1006 "Accessing AWS_IAM resources in Incognito browsers using Appsync bypasses all restrictions"
**Describe the bug**
This seems like a major security issue related to the auth/unauth feature of AWS_IAM with Appsync. Hopefully it has already been reported by someone else. When creating a new resource (item in a DynamoDB table), by default AWS_IAM authentication uses an Identity ID to assign that resource to the holder of that Identity ID.

However, when you switch to incognito mode, and there

[2019-03-09 00:32] kstro21 commented on #1002
Thanks, @mikeparisstuff I've tested both approaches and works.

[2019-03-09 00:36] mark-schaal opened #1007 "Confirmed integration with Node - Alpine Linux"
**Which Category is your question related to?**
Package Installation / CI CD Usage

**What AWS Services are you utilizing?**
I am using a vanilla installation of the Amplify CLI for Javascript (React) which only uses the Hosting plugin for serving content out of CloudFront / S3.

**Provide additional details e.g. code snippets**
I am running the multi-environment configuration for Amplify (1.1.7)

[2019-03-09 00:38] zjullion commented on #1002
Additionally, https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function is somewhat misleading / incomplete.

Firstly, the `DataSource` needs a `DependsOn: DataSourceRole`, and the `Resolver` needs a `DependsOn: DataSource`, otherwise the cloudformation template will fail to create.

Additionally, as noted in https://github.com/aws-amplify/amplify-cli

[2019-03-09 00:46] kstro21 commented on #984
@yuth I've updated the issue and added that info, I'm using **amplify-cli** 1.1.7

[2019-03-09 00:47] sakhmedbayev commented on #969
Sorry, I forgot to report, the issue was resolved. My problem was that I had a bad partition key strategy in DynamoDB.

[2019-03-09 00:47] #969 closed

[2019-03-09 00:59] UnleashedMind commented on #523
The Mobile Hub team has implemented the [The Mobile Hub Migrator](https://github.com/awslabs/amplify-mobilehub-migrator) that allows you to re-use your existing Mobile Hub resources with the Amplify CLI.

[2019-03-09 01:07] peterv1988 commented on #673
How where you able to modify the existing `searchTodos` query in the `schema.graphql` file? When I to put the *searchTodos* query, with *filter: AWSJSON* exactly as you posted I get following error:
[code]

[2019-03-09 01:22] mark-schaal commented on #1007
Sorry, an update here after trying `stretch` `jessie` and vanilla `debian` Docker images, I realized the issue seems to be stemming from `yarn`.

Following the standard installation with `npm i -g @aws-amplify/cli` seems to get a clean version up and running as expected. I'll add comments here on my final findings later this evening and then close this issue out if it isn't really needed.

[2019-03-09 05:41] sassoo commented on #392
I would be interested for sure. I was looking for something like a @readonly directive which would cause the field to be excluded from the generated Inputs but available for "reading". I'd imagine a @writeonly field might be something we'd want as well. Maybe something like @toUpper @toLower, etc. It would be great to be able to create these on our own even if not available in core amplify-cli.

[2019-03-09 08:59] peterfennema commented on #768
I have updated to Amplify CLI 1.1.7 with aws-mobile-appsync-sdk-ios 2.10.2. and completely recreated the appsync service from scratch. This solves the issue mentioned in my previous comment, but now I am stuck on issue https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/4

[2019-03-09 09:58] rfdc opened #1008 "disable autoId | Schema Error: Unknown directive "pk""
**Describe the bug**
I am using the info from post #56 and getting the following Schema Errors:
[code]
graphQL  Schema:
[code]
**Additional context**
This is a schema that was previously created with just ID!
Thanks