[2019-09-12 18:01] #2260 closed, assigned to attilah

[2019-09-12 22:08] #2257 closed, assigned to SwaySway

[2019-09-12 23:05] jkahn117 opened #2268 "Allow storage trigger filters"
**Is your feature request related to a problem? Please describe.**

Storage Triggers currently invoke the Lambda function on _any_ `ObjectCreated` or `ObjectRemoved` event. This means that the function will be triggered multiple times for common use cases such as creating an image thumbnail. As part of setup, suggest adding an optional field to specify a custom prefix.

**Describe the solution you

[2019-09-12 23:14] jkahn117 opened #2269 "Storage trigger fails when looking for object in protected bucket"
**Describe the bug**

Storage Trigger function failed on an object uploaded to a protected bucket. Object keys in protected buckets contain a colon (:) character as part of the Cognito ID. The event arriving at Lambda contained the key with the colon encoded as "%3A", this caused my function to fail on `GetObject` because the expected object did not exist. Fix was to replace the encoded character.

[2019-09-13 02:08] GeorgeBellTMH opened #2272 "Policy statement must contain resources after upgrade to 3.2 and add @auth"
1. Upgraded from 3.0 to 3.2
2. Push failed (defaultAuthorization not set)
3. Ran update api
4. Push succeeds
5. Added @auth(rules:[{allow:public, provider:iam, operations:[read]}])
6. Push fails with:

Resource Name: theme-Unau-ES6W4PH9WDDZ (AWS::IAM::Policy)
Event Type: create
Reason: Policy statement must contain resources. (Service: AmazonIdentityManagement; Status Code: 400; Error Code: Malfor

[2019-09-13 05:05] #2262 closed, assigned to yuth

[2019-09-13 05:06] GeorgeBellTMH opened #2273 "Multi-Auth (public,iam) doesn't work with @keys"
Main Get and List query's are working with multi-auth (public, iam)

Get queries for @key items are resulting in Unauthorized

type Video
 @model
 @searchable
 @key(fields:["id"])
 @key(name: "ByYoutubeIdent", fields: ["YoutubeIdent"], queryField:"getVideoByYoutubeIdent")
 @key(name: "ByVideoTypes",fields: ["videoTypes","publishedDate"], queryField:"getVideoByVideoType")
 @auth(rules:[{allow:publi

[2019-09-13 08:42] DanielMuller opened #2279 "Create cognito group and assign role"
** Which Category is your question related to? **
Clouformation / Auth / Storage

** What AWS Services are you utilizing? **
Cognito, S3

** Provide additional details e.g. code snippets **
Cognito created with `add auth` and s3 bucket added with `add storage`. This gives me 2 IAM roles (unauth, auth).

I want to add a new group to Cognito and attach a new role to this group.
If I didn't miss anyt

[2019-09-13 08:57] andreialecu opened #2275 "CLI version 3.2: Cannot read property 'defaultAuthentication' of undefined"
I'm using a pre-build script on a CI server to push resources to the cloud. Since updating the cli to version 3.2, it started throwing this error:

GraphQL schema compiled successfully.

[code]

The contents of the pre-build script is as follows:

[code]

Reverting the CLI to version 2.0.0 makes everything work again.

AWS authentication is provided through regular ENV variables (AWS_ACCESS_KEY_ID

[2019-09-13 09:06] attilah commented on #2275
@andreialecu thanks for reporting this issue, it is already fixed by #2261

[2019-09-13 09:09] #2275 closed

[2019-09-13 09:38] attilah commented on #2242
@mdw2000 do I understand correctly that the issue is gone (for now), so we can close this issue?

[2019-09-13 14:14] mdw2000 commented on #2242
@attilah - I managed to recreate the issue - it seems to be related to the `amplify env checkout` command when upgrading from 1.7.5 to 3.0.0.

- When the cli is upgraded before checking out an environment that was previously pushed with 1.7.5 it produces the errors when pushing.
- When the cli is upgraded after checking out the env with 1.7.5 then the push with 3.0.0 works without errors

The foll

[2019-09-13 14:18] hi120ki opened #2277 "multi @auth authorization Error (iam and groups)"
I write shema.graphql like this

[code]

Then, I can do listSecret from Lambda function that is authorized by IAM.
But, I can't do listSecret from Cognito User. ("Unauthorized" error occurred)

This graphql shema should be
- IAM : read
- Cognito User (group : Admin) : create, read, update, delete

But, there are no authority of Cognito User.

I'm waiting your great support.

[2019-09-13 14:21] nateiler commented on #1886
@malcomm we're interested in doing something very similar.  I'm curious to know where you ended up.  My gut is telling me to wait until pipeline resolvers (https://github.com/aws-amplify/amplify-cli/issues/1055) are available.

[2019-09-13 14:49] houmark opened #2278 "Option to allow usage of SSM in Lambda function"
**Describe the solution you'd like**
SSM is a good way to keep keys for external services safe. At this time, it's necessary to manually modify a Lambda functions execution role in order to read SSM key/values.

Adding an SSM option in the CLI which attaches the correct policy would be nice.

With the recently released multi auth, which makes it possible to do GraphQL operations from Lambda withou

[2019-09-13 14:56] #2228 closed

[2019-09-13 17:15] set321go opened #2280 "Amplify mock cannot find function"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I had an amplify project with appsync, function & storage. I upgraded to amplify 3 and i tried to use `amplify mock` when it tries to start it complains that it cannot find the function `Failed to start API Mock endpoint Error: Lambda function command-processor does not exist in your

[2019-09-13 18:16] yuth commented on #2280
Could you share the schema snippet where you're using the function.

[2019-09-13 18:17] jkahn117 commented on #2269
@kaustavghosh06 Amplify is not involved to what I can tell. File lands in S3 and it generates the event that is pushed to Lambda.

[2019-09-13 18:35] grudra7714 commented on #2113
UPDATE

I was able to fix this problem yesterday by manually going through cloud formation templates and removing the stacks that should be part of the stack in the first place. I ended up updating associated nested stacks (Like for CERT model, I removed all the FimCert references, because FimCert was exported by CERT). After that, I updated the connection stack where I removed all the associated

[2019-09-13 19:08] oliverandersencox opened #2283 "Cannot read property 'defaultAuthentication' of undefined"
I just updated to the most recent version of the cli today (13 sept) and now when I try to run amplify push, It gives me this error:

There is nothing I can do to change that, and I have absolutely no idea why it would be giving that error.

I have my current environment working fine, and then did the following steps:
- amplify env add
This created my environment from my current one.

I then ran:

[2019-09-13 19:11] houmark commented on #2283
Possibly fixed or related to the bug(s) fixed in #2276

[2019-09-13 19:11] kaustavghosh06 commented on #2283
Please take a look at https://github.com/aws-amplify/amplify-cli/issues/2260 for workaround.

[2019-09-13 19:30] ajhool commented on #2185
@attila thanks, will that directive add the type-owner-date key in addition to the default keys, or will it override the default keys?

[2019-09-13 19:41] set321go commented on #2280
schema extract
[code]

extract from cloud formation template in function directory
[code]

one thing i did notice is that the directory name and the template file do not match the name of the lambda defined in the resources section. dir `backend/function/bookings` and `bookings-cloudformation-template.json` not sure if thats important.

[2019-09-13 20:15] royjit opened #2284 "Creating Federated Identity Pool SignIn for Google fails in CLI"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

I am trying to create a Federated SignIn through Google following docs here: https://aws-amplify.github.io/docs/ios/authentication#google-with-cognito-identity.

When I do amplify push, cloudformation always fails with the following message "[/Resources/IdentityPool/Type/SupportedLo

[2019-09-13 20:28] kaustavghosh06 commented on #2283
@oliverandersencox and @houmark This issue is fixed and merged and pending release. Also, please take a look at the workaround mentioned above and let me know if you're still blocked.

[2019-09-13 20:28] #2283 closed

[2019-09-13 20:29] dabit3 commented on #2277
I think I'm running into either the same or a similar issue. Here is my info for reference, I hope this helps in solving the issue:

My base schema:

[code]

The generated GraphQL mutations look like this:

[code]

It seems that the `createPost` mutation is missing the `@aws_cognito_user_pools` directive.

[2019-09-13 20:30] oste opened #2285 "@aws_iam api auth without @model"
This is a followup to https://github.com/aws-amplify/amplify-js/issues/3626.

I am using API with RDS resolvers and I need to access it in a lambda function with iam credentials. The only way that I know of to make this work is to use `@aws_iam` schema authorization mode shown here https://docs.aws.amazon.com/appsync/latest/devguide/security.html.

However when I run `amplify api push` aftering ad

[2019-09-13 20:31] houmark commented on #2283
Will you rush out a new release with this and the other issue that seems to have a PR already to avoid more people getting stuck in updating over the weekend? Also, release notes are still not available in the changelog for 3.2.0. I thought you'd work towards improving that. Having no release notes days after release does not seem to make good on that promise?

[2019-09-13 20:32] houmark commented on #2283
@kaustavghosh06 I believe this is the "master" changelog to keep an eye on here: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/CHANGELOG.md

[2019-09-13 21:10] oliverandersencox opened #2287 "'ModelOfferentityOffersCompositeKeyConditionInput' is not present when resolving type"
Found 2 problem(s) with the schema: The field input type The field input type 'ModelOfferentityOffersCompositeKeyConditionInput' is not present when resolving type 'Query' [@867:1].

I have created a fresh amplify project and added auth and storage with no problems.

When trying to push the api I get these errors:

[code]

This is a fresh project so I cant understand why this is happening

[2019-09-13 21:12] houmark commented on #2285
See #2283

[2019-09-13 21:19] #2272 closed

[2019-09-13 21:19] #2273 closed

[2019-09-13 21:59] oliverandersencox opened #2286 "After update schema build fails"
I updated today and have had many issues since. Most have now been resolved apart from this one

Found 2 problem(s) with the schema: The field input type The field input type 'ModelOfferentityOffersCompositeKeyConditionInput' is not present when resolving type 'Query' [@867:1].

I have created a fresh amplify project and added auth and storage with no problems.

When trying to push the api I get t

[2019-09-13 22:15] oste commented on #2285
@houmark I don't think it's related. As I mentioned, I am not using '@model'

[2019-09-13 23:45] kaustavghosh06 commented on #2287
This is a duplicate of this issue #2239
We have pushed a fix for this as a part of #2246
As a workaround, if you change your @key(name: "entityOffers") to @key(name: "EntityOffers"), your push should work.

[2019-09-14 00:26] kaustavghosh06 commented on #2286
Duplicate of #2287.

[2019-09-14 00:26] #2286 closed

[2019-09-14 00:27] kaustavghosh06 commented on #2285
@oste This is a duplicate of #2260. Please take a look at that issue for the workaround.
We've fixed this issue and is pending release.

[2019-09-14 00:27] #2285 closed

[2019-09-14 01:19] oste commented on #2285
@kaustavghosh06 amazing! Thanks for the quick reply. Wasn't sure exactly the scope of the new auth changes. Really excited to see we can use `@aws_iam` directive standalone now.

All the work the amplify team is doing is much appreciated. Keep it up, can only imagine where this is going.

[2019-09-14 02:54] mwarger commented on #1820
LGTM

[2019-09-14 02:54] #1820 closed

[2019-09-14 05:06] khaschuluu commented on #815
+1

[2019-09-14 05:13] WinstonN commented on #1785
In my case I was following this tutorial, https://dev.to/beavearony/aws-amplify-cli-how-to-automatically-add-a-user-to-a-cognito-user-pool-with-a-lambda-trigger-208j when I got this error
[code]
Google brought me to this tread, and adding https://github.com/aws-amplify/amplify-cli/issues/1785#issuecomment-510573986 gave me a syntax error
I adde the code to `amplify/backend/api/application_name/sta

[2019-09-14 06:27] Mknight492 commented on #2198
Also having the same problem but thanks for the workaround!

[2019-09-14 06:28] kesteinbakk opened #2288 "Error when updating amplify-cli"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Error after upgrading the cli

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
I had a graphQl schema working fine, recently pushed with no errors. To verify I added a field before the update an

[2019-09-14 10:47] ChristopheBougere commented on #2288
Same issue for me, just updated to 3.2.0

[2019-09-14 11:10] ChristopheBougere commented on #391
+1 on applying prettier or at least respecting best practices like trailing spaces and new lines
My editor fix this on save, which makes a lot of diff when editing something in the generated files while I would like to keep the change as small as possible. Of course, I could disable it, but I think this would be better to do in amplify cli

[2019-09-14 13:22] amcdnl opened #2289 "Folder Organization Suggestions"
## Request
Improve the organization of source code and amplify generated files.

## Issue
Currently when you generate a project with the Amplify CLI, it can be very difficult to follow the code because it mixes source code, dependencies, configuration (often generated) and built files. Additionally, when you have deeply nested projects managing the node_modules and nested scripts are difficult.

#

[2019-09-14 13:59] RossWilliams commented on #2241
Hiya, this does sound strange. I can give an overview of how authentication works for field level updates that can explain why you are seeing this behaviour. I does seem like a problem in Amplify 1.12, I have not checked if this still exists in the latest versions.

There are two main phases of authorisation evaluation for updates, field-level and object level. Inside each phase, there are static

[2019-09-14 14:10] RossWilliams commented on #2241
@dz0l038 This is a really well written bug report with tons of information. I'm surprised there has not been follow up from AWS to confirm the issue and provide temporary workarounds. Authorisation clearly isn't conforming to the Amplify documentation.

[2019-09-14 16:54] heitorlessa commented on #2288
As per https://github.com/aws-amplify/amplify-cli/issues/2260#issuecomment-530926035, running `amplify api update` and accepting the options I used unblocked my CI.

[2019-09-14 19:01] tluolamo opened #2290 "push suddenly fails with s3 error"
I was doing pushes when making some changes to primarily custom resources and functions. Suddenly between the two pushes I get an error:

[code]

I'm using version `@aws-amplify/cli@3.0.0`

I tried upgrading to 3.2.0 and 3.1.0 but get a different error with those. Any way to get past it?

[2019-09-14 19:26] tluolamo commented on #2290
Upgraded again to 3.2.0 and used the instructions here to get past the error https://github.com/aws-amplify/amplify-cli/issues/2260#issuecomment-530926035 then got another error about API which I had deprecated a long time ago, but removing the config manually for it from the source files seemed to solve that one and I was able to push full build again.

[2019-09-14 19:26] #2290 closed

[2019-09-14 20:32] visusnet commented on #2289
I would also love to use yarn workspaces but unfortunately, it is not very easy to implement. The problem is that yarn hoists dependencies and symlinks them. I didn‘t find an acceptable solution that creates Lambda bundles. Internally, the npm package archiver is used to create zip files but this library does not support symlinks. They are simply ignored. I didn‘t find an alternative to archiver t

[2019-09-14 21:42] Burry commented on #2283
I'm glad that a fix for this issue is pending release, but it is very disappointing to see Amplify continue to release breaking changes without any changelog updates. It has been a tremendous burden on our team to take such a defensive approach to our tools, having to anticipate that things could break in mysterious, undocumented ways at any time.

[2019-09-14 22:00] jwnx opened #2292 "Independently use amplify-graphql-types-generator?"
** Which Category is your question related to? **
amplify-graphql-types-generator

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **

Hello everyone,

I'm trying to use the `amplify-graphql-types-generator` subpackage as a way to generate typescript classes from my graphql schemas. Then, import those schemas as objects later on aws cdk and magi

[2019-09-14 22:08] UnleashedMind commented on #2241
@dz0l038 @RossWilliams
Just wanted to confirm to you guys that we are investigating this issue,  and going in depth on your feedbacks above. Thank you for the detailed report.

[2019-09-14 22:08] visusnet commented on #2211
Seems to be related to https://github.com/aws-amplify/amplify-cli/issues/2134

[2019-09-15 01:47] changdaniel opened #2293 "Bug when using add-graphql-datasource on tables with reserved keywords as name."
**Describe the bug**

If you use amplify api add-graphql-datasource on a database with a table named with a reserved keyword, like "Group" or "Select" or in my case "Order," the command will fail with the error message "BadRequestException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Order' at line 1." I cre

[2019-09-15 03:03] Jkap7788 opened #2295 "Best way to share code between lambda functions"
** Which Category is your question related to? **
Functions

** What AWS Services are you utilizing? **
Lambda, S3

Hi, I was just wondering what the best way is to share code between lambda functions in Amplify.
I am not sharing an entire library of code, more like some useful utility functions that house common business logic.
I am aware of lambda layers but think they are overkill for this kind

[2019-09-15 04:23] artista7 commented on #2222
@RossWilliams using elastic search along with separate EC2 instances adds additional cost and application complexity which is what we are trying to avoid

[2019-09-15 05:41] #2288 closed

[2019-09-15 06:26] ajhool commented on #1910
@kaustavghosh06 if cloudfront is added manually with a Storage bucket as the origin and the Storage module is modified to retrieve files from the cloudfront url, will Amplify's Auth module still inject the correct credentials into requests? Will Storages' permission system still work behind cloudfront?

[2019-09-15 16:23] rudyhadoux commented on #395
I do not find examples with Angular and S3Object objects in a schema.graphql ?
Does it exist ?

I do not understand why AWS Amplify does focus on React. Angular is much better.... Very widely.

[2019-09-15 18:16] mwarger commented on #2210
@yuth Have you started on this issue?  I'm looking to fix this.

[2019-09-15 18:30] babu-upcomer commented on #867
@mikeparisstuff Any update on this? It's been a long since this has been reported. I am not seeing any progress in this one. Consider this model,

[code]

I don't want the `userDeviceUserId` to be passed by the user due to security reasons. This needs to be auto assigned with the value of the current user sub. `String!` is needed because I get `InvalidDirectiveError: The primary @key on type 'User

[2019-09-15 19:01] tw1t611 opened #2296 "No key generated for gsi using @connection"
**Describe the bug**
Hi, I want to connect two types using the following schema:
The first type uses email as key field.
This seems to be a very common use case, therefore I don't really know, if I am missing something.

[code]

GSI:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Generate the schema.
2. Mock the api.
3. Create a Webshop and a related Product.
4. Query the webshop.
5.

[2019-09-15 21:24] RossWilliams commented on #2222
@artista7 There is a free tier for Elasticsearch service for the first 12 months if that makes things easier.

[2019-09-15 23:56] ilyador opened #2297 "What is the correct way to handle server-side data verification in AppSync?"
Let's say I have an app that for some user action they increment a score by 1 point. I must make sure that the user cannot increment the value in the DB by more than 1 at a time.

Using a REST server I'd simply do that in the handling function, however I have no idea where in the AppSync pipeline is the correct place to handle such logic.

[2019-09-16 00:37] amirmishani commented on #2297
@ilyador so basically you need Appsync to call a lambda function instead of directly going to the database. Inside your lambda function you can handle custom data and custom logic.

[Check out the docs for examples of handling custom data and custom logic.](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#function)

[2019-09-16 01:37] chrisco255 commented on #2296
Getting the same error when mocking locally. Documentation claims the `@connection` transformer is covered by local mocking, but it doesn't seem to be working.

[2019-09-16 01:41] chrisco255 commented on #2297
There's no need to use a lambda for this simple use case. You can simply edit your request mapping template in VTL to increment the value. See: https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-resolvers.html for more info.

[2019-09-16 01:55] GeorgeBellTMH opened #2298 "Ability to put lambda behind CloudFront for reads"
It would be nice to have the ability to put lambda reads behind CloudFront. Specifically I'm thinking of caching time consuming lambda queries (image manipulation that is re-used by multiple clients). This could be an option when adding a function.

[2019-09-16 01:56] chrisco255 opened #2299 "Local mocking does not appendError or validate correctly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit any request / response VTL template
2. Add a line to the top of your template: `$util.appendError("something went wrong")`
3. Mock API with `amplify mock`
4. Run the query/mutation template you edited
5. Appended errors are ignored

**Expected behavior**
Appended erro

[2019-09-16 02:09] chrisco255 opened #2300 "Errors with $util.time when mocking locally"
**Describe the bug**
Noticed two errors when working with the `$util.time` utility functions.
1. `$util.time.nowFormatted("yyyy-MM-dd")` is giving minutes instead of the month for the MM value. I dug into the source code a bit, and it looks like the Node.js time library that is being used for this has slightly different formatting rules than AppSync's. In `dateformat` lib, MM represents minutes. I

[2019-09-16 02:22] oste commented on #1433
Any plans to support RDS local mocking? Actual considering a migration to Dynamo just for this :)

[2019-09-16 07:23] #2183 closed

[2019-09-16 08:17] erezrokah opened #2302 "Feature Request: a way to evaluate VTL templates locally"
As suggested [here](https://github.com/aws/aws-appsync-community/issues/46), I'm opening this feature request here to get more feedback.

From the original issue:

Ideally I would like to be able to do something like this in a Unit Test:

[code]

I found this [unofficial tool](https://github.com/ToQoz/api-gateway-mapping-template) for API Gateway mapping (it is outdated but works).

The AppSync co

[2019-09-16 08:24] Jkap7788 opened #2303 "Cannot give postConfirmation trigger access to auth"
**Describe the bug**
I have created a post confirmation trigger using `amplify update auth`.

I would like to give the postConfirmation trigger access to the user pool in order to get user information and perform other operations that affect the user pool.

I then used `amplify update function` in order to give the post confirmation function access to the user pool.

However, an error occurs sayin

[2019-09-16 11:19] amcdnl commented on #2289
For my CDK project, I ended up doing this:

[code]

I'm sure there is a better way but it worked so didn't put too much more time into it.

[2019-09-16 11:37] dz0l038 commented on #2241
@RossWilliams Thanks a lot for this super detail answer, the black magic behind auth makes more sense now. Maybe a word on the doc to prevent people to use field level too much if they are dealing with sensitive data would make sense.

Anyway if someone is also stuck with that, here is my workaround:
I simply prevented all mutations on my model and manually the specified those I want to allowed, t

[2019-09-16 12:27] Delannor opened #2304 "connectionAttribute holds default value, not the renamed key value"
When setting keyField values for connections the connectionAttribute in _type_._field_.req.vtl file holds a default generated value and not the renamed keyField value.

I have the following graphql schema:
[code]
I push it to the cloud using amplify version 3.2.0
Then I create some test data:
[code]
When trying to execute the following query:
[code]
I get this error:
[code]
I can see that the conn

[2019-09-16 13:21] hi120ki commented on #2277
I find that in my case, I have to write like this

[code]

This graphql shema's authority is

- Cognito User (group : Admin) : create, read, update, delete
- Cognito User : None
- IAM : read

and other examples,

[code]

this graphql auth is

- Cognito User (group : Admin) : create, read, update, delete
- Cognito User : read
- IAM : read

In my case, the problem has been resolved.

And if you can,

[2019-09-16 13:45] dseeker commented on #779
in my use case, we're tying do modularize the project so that any new amplify projects could use the same Cognito pool that's already setup. example, we have 2 API endpoints (userdata and payment), we'd like development of those APIs to be independent (separate teams, separate repository), but have them still share the same Cognito to allow all the @auth transform directives to work in the GQL sch

[2019-09-16 14:58] mwarger commented on #1325
@attilah `custom-queries.ts` was created by me.  I created that myself to hold custom queries separate from the ones generated by the CLI (queries.ts).

Sorry for the delay in getting back to you.  I will give this a try with the latest CLI.

[2019-09-16 15:01] nateiler opened #2306 "Mock resolver template naming convention"
This may need further explanation rather than it actually being a bug... When API mocking the resolver local file system naming convention seems to be:

`<TypeName>`.`<FieldName>`.`[req/res]`.vtl

However when pushing to the cloud, you can specify the S3 path (including arbitrary file name) which doesn't require one to follow the naming convention above.

In my case I have a 'createNotification' m

[2019-09-16 15:32] blazinaj commented on #1407
Is there any comment on this from the Amplify team? Or suggested steps for migrating DB information (are Data Pipeline or Custom CSV functions our only option?)

[2019-09-16 16:38] rafaelmarques7 opened #2307 "how to enable sorting on query using GraphQL from AWS Amplify"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

** What AWS Services are you utilizing? **

AWS Amplify to create backend API and database

** Provide additional details e.g. code snippets **

I've recently started looking into AWS Amplify.
I have managed to setup an API using GraphQl.
Basically,

[2019-09-16 16:48] jonmifsud opened #2308 "Custom Headers in Options Rest API Response (Cloud-formation is autogenerated)"
**Is your feature request related to a problem? Please describe.**
We have a few instances where we'd like to send some information via headers in conjunction with a get request, where tenant details are passed alongside a request (as a user can have multiple tenant accounts) - If we update the cloud formation template to add this header everything works - however adding/updating the Rest API re-g

[2019-09-16 16:48] kaustavghosh06 commented on #1433
@oste We don't have immediate plans for supporting local RDS mocking yet, but I'll add it to our backlog and look for for customer interest/feedback out here before we execute on it.

[2019-09-16 16:54] apanagos opened #2309 "amplify push after amplify add analytics gives errors"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am trying to add Analytics to my build but I get errors when I push.

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add analytics
2. amplify push

**Expected behavior**
Analytics is added to the application after push is completed.

**Screenshots**
[code]

[code]

**

[2019-09-16 17:02] rudyhadoux commented on #720
Hi,
Maybe it is possible too with @versioned.
But in two steps, first by reading the version and then using it to update item.

[2019-09-16 18:22] attilah commented on #2296
@tw1t611 @chrisco255  could you please tell me which version of the CLI are you using? That would help the troubleshooting.

I can confirm that we've some issues around custom primary keys and connection fields, but the investigation is in progress.

The problem seems to be unrelated to @auth

[2019-09-16 18:39] pechisworks opened #2310 "@auth Directive on Query & Mutation Type (Custom Resolvers)"
**Describe the bug**
I am implementing the new @auth functionality for multiple providers.
I want to have Amazon Cognito User Pool as a default authorization mode and IAM as the secondary. In the amplify/cli I updated my API settings accordingly.

In my _schema.graphql_ I defined a Query type like so:

[code]

Now I am getting following error:
_GraphQL error: Not Authorized to access getPostBySome

[2019-09-16 19:14] UnleashedMind commented on #2277
We've already had a PR merged for this
https://github.com/aws-amplify/amplify-cli/pull/2305
and it's pending release.

[2019-09-16 19:19] UnleashedMind commented on #2229
Closing this issue due to lack of requester activity/response. Please feel free to comment on this thread if you’re still stuck on this issue.

[2019-09-16 19:19] #2229 closed

[2019-09-16 20:35] RossWilliams commented on #2296
@attilah I've had the same issue, reported in #2100 . Changing the table's hash key and sort key breaks one to many connections. I think the source of the problem is graphql-connection-transformer/src/resources.ts [makeGetItemConnectionResolver](https://github.com/aws-amplify/amplify-cli/blob/0624739fd3e44a14ae20122a2c29c77169b6bc0a/packages/graphql-connection-transformer/src/resources.ts#L108). I

[2019-09-16 20:38] RossWilliams commented on #2100
@nikhname #2230 does not fix this, but provides an alternative implementation as a workaround. If connections cannot be made to models with custom primary keys in the main table, then the tool needs to specifically prevent generating these templates, and the documentation needs to state this special case.

Please re-open.

[2019-09-16 20:45] RossWilliams commented on #2307
There is an answer to a similar question [here](https://github.com/aws-amplify/amplify-cli/issues/2059#issuecomment-523972539).

[2019-09-16 22:38] tw1t611 commented on #2296
@attilah It's version 3.2.0.
@RossWilliams Thank you for clarifying. I thought it would be a problem with the custom key, since the docs example shows a create mutation with the pattern model1Model2Id. Hope you can make the resolvers generic soon. Till than, the workaround will work just fine. :)

[2019-09-16 23:00] humanatwork opened #2311 "How to Filter by Query on Nested Fields in AWS AppSync"
Not sure if a bug or an implementation error on my part, but starting with the assumption this is just a usage mistake. Originally, posted on [SO][3].

**Which Category is your question related to?**
api

**What AWS Services are you utilizing?**
AppSync, DynamoDB

**Provide additional details e.g. code snippets**

**Problem and Expected Results**

I'm using a proof of concept schema and DynamoDB T

[2019-09-16 23:45] rafaelmarques7 commented on #2307
You are right. You're answer put me in the right direction, thank you :)!

Given the above, I was able to solve my problem with the following schema.

[code]

This allows me to query the `Highscore` data, and sort it by `points`, with the following query:
[code]

Note: to allow sorting on the `sort key` (second index), the  `primary key` should be the same. In the model above, `type` is the primar

[2019-09-17 02:31] chrisco255 commented on #2307
@rafaelmarques7 I believe you can pass in `sortDirection` as an argument to `getHighscoreByPoints`. Should look something like:

[code]

Is that how your query is structured? Note, ASC and DESC are not strings.

[2019-09-17 03:39] oste commented on #1433
@kaustavghosh06 thanks for the heads up. Maybe a good stopgap would be to have the ability to update/push a single resolver. Gotta think that could make pushing a resolver change go from 2-3 minutes to 2-3 seconds.

[2019-09-17 06:55] babu-upcomer commented on #300
@mikeparisstuff The solution you proposed is not yet compatible with `sortField` on @connection directives with a enum value. Is this being tracked on a different issue? If so can you reopen this one?

[2019-09-17 07:00] ohsik commented on #922
I'm still seeing the error message. `Cannot perform more than one GSI creation or deletion in a single update;` Is this fixed?

[2019-09-17 08:08] rafaelmarques7 commented on #2307
with the above query I get the following error:
[code]

The `getHighscoreByPoints` resolver does not seem to accept `sortDirection` as a input argument.
The resolver looks as follows:
[code]

[2019-09-17 14:58] lenarmazitov commented on #2226
Have same error.

[2019-09-17 16:31] attilah commented on #2295
@Jkap7788 you've the some choices:
- Copy the shared file as part of your build process
- Use a monorepo with Lerna and consume the shared pieces as a package
- Use lambda layers

Lambda layers is the one that CLI will support and it is tracked in #1696, so closing this as a duplicate.

[2019-09-17 16:31] #2295 closed

[2019-09-17 16:46] attilah commented on #2297
Thanks for answering @amirmishani @chrisco255! @ilyador these are your choices, pick what would be the best fit your environment/project.

[2019-09-17 16:46] #2297 closed

[2019-09-17 16:54] attilah commented on #2300
@chrisco255 thanks for reporting the issue, it seems that formatting is different as you described, we'll look into it.

[2019-09-17 17:01] attilah commented on #2302
@erezrokah thanks for this feature request! Regarding the mock features, that's not just a validation over your VTL templates, you can actually run a local AppSync Simulator with a local GraphQL console and edit, debug, your VTL templates as the documentation page you linked describes it.

If you think that we could make the documentation around the mocking features better please suggest some chan

[2019-09-17 17:04] attilah commented on #2303
@Jkap7788 it is a cyclic dependency as the CLI says. I'm not sure that we've a CLI supported way for this scenario, because the possibility that comes to my mind is adding a custom policy resource which depend on both resources, your user pool and the function, but the CustomResources are getting deployed within the GraphQL API scope.

[2019-09-17 17:25] attilah commented on #2307
@rafaelmarques7 which version of the CLI are you using?

I've tried with the latest and in the compiled schema I get the right query generated:
[code]

[2019-09-17 17:31] attilah commented on #2308
@jonmifsud could you please send details about how you utilize the Amplify CLI, and what steps you've to repeat/do to achieve the correct deployment you're aiming for?

[2019-09-17 17:37] attilah commented on #2309
@apanagos did you run ```amplify auth update``` by any chance? All those parameters looks like Cognito specific parameters and I'm wondering what CLI operations could have remove those...

If you could provider repro steps that would help.

[2019-09-17 17:45] ianshea opened #2321 "@searchable provisioning clarification."
** Which Category is your question related to? **
GraphQL Schema/Transformers, Resource Provisioning
** What AWS Services are you utilizing? **
Appsync, DynamoDB, Elasticsearch
** Provide additional details e.g. code snippets **

If I add the @searchable GraphQL transformer to two items with the `@model` will it create an Elasticsearch instance for each, or use one ES instance and create multiple

[2019-09-17 18:14] attilah commented on #2310
@pechisworks @auth directive on custom queries are not supported, but what you did, adding the AppSync supported directives is correct!

However, if you utilize the ```@key``` directive and specifying the ```queryField``` parameter a  custom query will be generated for your and the CLI will apply the ```@auth``` directive as needed. Since it is a query operation, only the ```@auth``` directives th

[2019-09-17 18:14] #2310 closed

[2019-09-17 18:24] jonmifsud commented on #2308
Sure @attilah.

So in once instance, we're using the amplify-cli to create a new API Endpoint with a lambda function, which in addition to the user needs to additionally take input to know which tenant the user wants to query.

This is particularly as we want to keep` get` requests as `get` requests without sending tenant ids within the URL to standardise the API and not expose that in the URL.

T

[2019-09-17 18:27] attilah commented on #2308
@jonmifsud thanks for the explanation, it is more clear now, I'll discuss this with the team and get back to you.

[2019-09-17 18:28] jonmifsud commented on #2308
@attilah thank you. Happy to propose PR changes with a bit of direction where things are if it makes sense to make this change.

[2019-09-17 18:29] attilah commented on #2308
@jonmifsud the more the merrier they say, so your feedback is welcome, go ahead and add it please!

[2019-09-17 18:39] erezrokah commented on #2302
Hey @attilah and thank you for the quick response.

I appreciate the clarification. I tried the local mock, but the main issue I'm trying to achieve is running the VTL transformation without going though GraphQL, and also being able to write unit tests for my VTL templates (similar to [here](https://github.com/ToQoz/api-gateway-mapping-template#usage)).

For me, working with GraphQL is more famili

[2019-09-17 18:45] kevcam4891 commented on #850
I just found success in running `amplify env checkout [your-environment-name]`. I made sure to `git commit` first just to ensure nothing in progress got lost.

[2019-09-17 19:46] RossWilliams commented on #2304
See #2148 and the answer from mikeparisstuff, I think it will answer your question. In short, add the keyField parameter to the connections on the TestUser model as well.

[2019-09-17 20:05] rafaelmarques7 commented on #2307
I am on version 1.7.6. Thank you for flagging that. I Will update the version and retry.
Thank you for your help!

[2019-09-17 20:24] RossWilliams commented on #2311
I'm not aware of any trick you are missing to get this working, $util.transform.toDynamoDBFilterExpression does not support nested object filtering. Sounds like a great feature request.

You can test the appsync simulator $util.transform.toDynamoDBFilterExpression method to see the output it generates, assuming the simulator code faithfully replicates the Java code. The file is [here](https://gith

[2019-09-17 20:52] SwaySway commented on #2321
One elasticsearch domain is created and when `@searchable` is added again on another type it will create a new index in es.

[2019-09-17 22:24] #2321 closed

[2019-09-17 22:33] nateiler commented on #2209
I was having similar issues as @kaustavghosh06.  I added what he outlined to the `lambdaexecutionpolicy` resource as a Policy Statement

[code]

[2019-09-17 22:59] apanagos commented on #2309
I wish it was more complicated than that but that was the steps.
amplify add analytics
(I see the details above with those properties removed)
amplify push
and it fails with the issue above.

I have done this same steps now several times. The last time I deleted everything and checked out code and started from amplify init.

I upgrade to 3.2.0 (I was on 3.0.0) and that introduced its own issues an

[2019-09-17 23:12] apanagos commented on #2309
I have the exact same behaviour.

D:\projects\git\true-edge>**amplify --version**
3.2.0

D:\projects\git\true-edge>**amplify status**

Current Environment: devandrew

| Category | Resource name     | Operation | Provider plugin   |
| -------- | ----------------- | --------- | ----------------- |
| Auth     | trueedge97d2517a  | No Change | awscloudformation |
| Api      | trueEdgeData      | No Ch

[2019-09-17 23:41] greyshi opened #2324 "Following the tutorial for adding an Amplify Plugin results in an obscure error"
**Describe the bug**
Following the instructions [here](https://aws-amplify.github.io/docs/cli-toolchain/plugins) to add an Amplify plugin, I get the error `Unexpected token )`

**To Reproduce**
Follow the instructions in the Amplify plugin example, then run the command to execute the plugin you've added, which is `amplify utility add`

You should get the error and no other response: `Unexpected to

[2019-09-18 00:25] deviant32 commented on #833
I am having the same issue...

[2019-09-18 00:36] humanatwork commented on #2311
Absolutely, that makes sense. Was worth the effort. Would definitely recommend this as a feature request. Anything I need to do get that going?

Here're the latest updates I've gathered:

**Update 9/17/19**

After some more fiddling, I happened upon the solution implied [here](https://stackoverflow.com/questions/55132782/appsync-graphql-how-to-filter-a-list-by-nested-value). Following from what I

[2019-09-18 01:16] Delannor commented on #2304
Thank you, that works. Matching keyfields on both connections seems quite counter-intuitive to me, but I can see in #2148 that you are on top of that. So thank you again!

[2019-09-18 02:58] aprilmintacpineda commented on #682
This happened to me on two different scenarios:

# When I'm trying to create a many to many relationship

I simple followed [the docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection).

# When I updated the `schema.graphql`.

- I needed to add a new column on a table, the column is required.
- The table is already populated with test data that a script I wrote inserted.
- I com

[2019-09-18 03:04] rawadrifai commented on #1043
@undefobj Good updates. Any news on subscriptions and dynamic group auth? If it's not looking likely pls let us know.

[2019-09-18 03:36] #1917 closed

[2019-09-18 03:38] SwaySway commented on #1967
Closing this issue as the PR has been merged

[2019-09-18 03:38] #1967 closed

[2019-09-18 04:40] oste opened #2331 "AppSync Resolver multiline string"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I have a simple AppSync request resolver like this, I am finding it hard to maintain long MySQL queries in a single line. I wasn't able to find any solutions for a multiline string in VTL. Is there a standard for handling multiline strings i

[2019-09-18 05:01] pharcosyle commented on #2280
Workaround: it works if you use the lambda resource name instead of the lambda name in your function directive. So if you set up your lambda with the amplify cli like this:

? Provide a friendly name for your resource to be used as a label for this category in the project: myfunclabel
? Provide the AWS Lambda function name: myfunc
...

Then the directive ```@function(name: "myfunclabel-${env}"```

[2019-09-18 06:14] sacrampton opened #2334 "--no-gql-override not working on push"
**Describe the bug**
I upgraded to the latest amplify (3.7.0) just now and I am now unable to push without compile.

**To Reproduce**
Issue the command "amplify push --no-gql-override" and it will still proceed to compile.

**Expected behavior**
I expect that the push would occur without compiling again.

**Screenshots**

$ amplify push --no-gql-override --yes

Current Environment: testapp

| Cate

[2019-09-18 06:26] pairmix commented on #833
i finally have to give up amplify. i'm unable to let it work properly because of this issue.
Google Firebase works like a charm.

[2019-09-18 06:31] sacrampton opened #2335 "Stack Mapping Broken by recent CLI Upgrade"
**Describe the bug**
CloudFormation has a limit of 200 Resources in a stack and my ConnectionStack.json file has exactly 200 Resources in it. I needed to add more connections so created a transform.conf.json file to direct resources to an overflow (ie. ConnectionStack2.json). This worked perfectly - compiled and pushed perfectly with the resources defined in transform.conf.json into ConnectionStac

[2019-09-18 06:46] sacrampton commented on #2307
The way I solve this is to use the @searchable directive to stream the data to ElasticSearch. Using ElasticSearch and some custom resolvers you can do really powerful sorting (ie, sort by name ascending, then by description descending, then by date descending, etc.) and you don't have the headache of trying to plan for global secondary indexes in DynamoDB.

[2019-09-18 06:54] sacrampton commented on #2226
After the upgrade I had this error - I just did "amplify init" and it fixed up everything.

[2019-09-18 07:16] tgjorgoski commented on #2269
Copied from somewhere in AWS docs, probably can be added to other examples/documentation, of how to actually get the name of the file which you can then pass to s3 API:

const fileKey = decodeURIComponent(event.Records[0].s3.object.key.replace(/\+/g, " "));

[2019-09-18 07:18] Mehdi-android commented on #778
I restarted, uninstalled & installed node again but no luck.

user@user-Lenovo-ideapad-300:~$ npm ls --depth=0 -g
/home/user/npm/lib
`-- @aws-amplify/cli@3.7.0

npm ERR! peer dep missing: leveldown@~1.4.3, required by @conduitvc/mosca@2.8.3
npm ERR! peer dep missing: ioredis@^1.15.1, required by @conduitvc/mosca@2.8.3
npm ERR! peer dep missing: mongodb@~2.1.4, required by @conduitvc/mosca@2.8.3
us

[2019-09-18 08:09] rafaelmarques7 commented on #2307
I will have a look into that as well, thank you.

I can confirm that the above schema, together with the update of the amplify version, does produce the expected result.

Thank you all for your help, unless there are other questions, this may now be closed.

[2019-09-18 11:24] amarpulli1994 commented on #590
I'm also having the same issue after second time run  `amplify configure` and without configure anything in console.aws.amazon.com.

[code]
please can anyone share how to resolve it.

Thanks ,
Amar.

[2019-09-18 13:03] attilah commented on #2334
Fixed in https://github.com/aws-amplify/amplify-cli/pull/2336

[2019-09-18 13:24] attilah commented on #2331
@oste I think your best option is to move the select statement out to a variable, since with VTL you can have multiline strings in ```#set```.

[code]

[2019-09-18 13:24] #2331 closed

[2019-09-18 13:33] attilah commented on #2324
@greyshi the code snippet in the documentation is incorrect for the ```add.js``` file. It should look like this:

[code]

I tested with 3.0.0 and it worked. Please check and see if it works for you as well.

[2019-09-18 13:52] oste commented on #2331
@attilah that was one of the first things I tried that I hoped would work. It is giving an error.

[code]

[2019-09-18 14:09] oste commented on #2331
I tried that. I was missing `$util.escapeJavascript`.

This works:

[code]

Thanks.

[2019-09-18 15:13] #2307 closed

[2019-09-18 15:37] davidbiller opened #2337 "Wrong variable name is generated by the code generator."
**Describe the bug**
Wrong code is generated by the generator.

I have a model like this:

[code]

Which only consists of **uppercase letters,** a variable like this will still be created:

[code]

we can already see that something does not fit.
const **deleteCta** and the object returned by GraphQL is then **deleteCTA**. _(Pay attention to upper and lower case)._

So it is no longer possible to d

[2019-09-18 15:47] thedgbrt commented on #2076
@kaustavghosh06 would you have any example of how to write that custom resource in CLoudFormation? And where to add it?

[2019-09-18 15:48] ben-elsen opened #2338 "I cannot change to an env"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When I try amplify status, I see that I use dev, when I try amplify env list I see that I have an qa env as well, when I try amplify checkout qa, I get the following error: Please pass in a valid environment name. Run amplify env list to get a list of valid environments.
When I try a

[2019-09-18 15:49] kaustavghosh06 commented on #2338
Which version of the CLI are you using?

[2019-09-18 15:51] thedgbrt commented on #2303
it seems related to #1874 and #2076

@attilah , do you have any idea how it can be setup manually, by editing the CloudFormation template files for example?

[2019-09-18 15:57] kaustavghosh06 commented on #2338
@ben-elsen We've reproduced the issue. To unblock, please use the following flow:
[code]

[2019-09-18 17:31] amirmishani commented on #1043
@undefobj In the [docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-claims) you mention:

Not sure I understand if there's a difference between identityField and identityClaim. Can I just swap identityField with identityClaim in the example below?

[code]

[2019-09-18 17:48] attilah commented on #2296
@tw1t611 I can confirm that the root cause for your case is the custom key as you suspected.

[2019-09-18 17:56] attilah commented on #2304
Reopening as it is a documentation bug what needs to be fixed.

[2019-09-18 18:02] attilah commented on #2337
@davidbiller thanks for reporting the issue, I think the fix is not just codegen related, but probably GraphQL Transformer also needs an update to honor the all-uppercase-names all around.

[2019-09-18 18:10] shlomizadok commented on #1644
Happens to me as well in circle ci using `circleci/node:10.15.0-jessie` which is Ubuntu based image
[code]
Would love a direction to solve this

[2019-09-18 18:12] greyshi commented on #2324
That was it, thanks! Might want to fix the documentation.

[2019-09-18 18:12] #2324 closed

[2019-09-18 19:35] #2338 closed

[2019-09-18 20:10] ben-elsen commented on #2338
Thanks!

[2019-09-18 20:15] attilah commented on #1644
@David-dp- could you please delete your package.lock.json or its yarn counterpart and try it that way? Also observe the changes perhaps you can spot something meaningful.

[2019-09-18 20:45] humanatwork commented on #2311
**Update from 09/18/19**

I may have finally discovered the root of the problem: it seems that the way in which `expressionNames` are evaluated does not allow for a key to be a docpath. If I run either of the following filters (notice the use of a non-reserved DynamoDB keyword to illustrate the problem is with expression name substitution), I'll get the result I'm looking for:

[code]
or
[code]
 N

[2019-09-18 21:06] sacrampton commented on #2334
I just updated the amplify cli and the issue still exists. When will it be released?

[2019-09-18 21:07] kaustavghosh06 commented on #2334
We're shooting for end of day(PST) release - 9/18.

[2019-09-18 21:07] humanatwork commented on #2311
**SOLVED**

I happened upon this [gem](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.ExpressionAttributeNames.html#Expressions.ExpressionAttributeNames.AttributeNamesContainingDots) by accident, and it gave me the little bit extra I needed to find a workable solution with dynamic key names!

Here's what the filter expression looks like now:

[code]
The hold up here w

[2019-09-18 21:24] RossWilliams commented on #2241
@SwaySway Does cli v3.7 resolve this, or are there more changes expected?

[2019-09-18 21:30] undefobj commented on #1043
@amirmishani no difference in functionality just an alias for clarity

[2019-09-18 21:32] undefobj commented on #1043
@rawadrifai probably not because it doesn't make sense for Subscriptions. We spent several hours whiteboarding this and it's not the same use case as a request/response operation. You can dynamically grant access at connection time in your token as previously mentioned.

[2019-09-19 01:05] Jkap7788 commented on #2303
@attilah Thanks for the reply!

I'm currently using a manual workaround for this.

Using `amplify update function` to add auth permissions to cognito triggers will result in a cyclic dependency error message.
However, the correct IAM policy is added to the function's cloud formation template.
The cognito user pool id is NOT passed down as a parameter so to fix this, I manually modify the IAM polic

[2019-09-19 01:30] ambientlight commented on #2071
This proposal to single-table design looks quite clean. It will be great to try it out, any plans rolling it out, even in any experimental form? Will it make easier if it's going to be a separate transform rather then a @model, my guess implementation-wise it will be pretty different to how @model works internally now?

It will be great to have this flexibility though, I would personally like if t

[2019-09-19 01:56] pravgupt commented on #2232
I chose Default Configuration with Social Provider (Federation) and the CLI did ask me for the app Id and secret. After that I called Auth.federatedSignIn()

In the aws_exports I can see that the federation target is "COGNITO_USER_POOLS" but I think the library was trying to federate through the identity pool.

[2019-09-19 03:00] kaustavghosh06 commented on #2334
We released the latest version of the CLI - 3.8.0 with this fix.

[2019-09-19 03:00] #2334 closed

[2019-09-19 03:01] #2287 closed

[2019-09-19 03:01] kaustavghosh06 commented on #2287
We released the latest version of the CLI - 3.8.0 with this fix.

[2019-09-19 03:02] kaustavghosh06 commented on #2277
We released a new version of the CLI - v3.8.0 with a fix for this.

[2019-09-19 03:02] #2277 closed

[2019-09-19 03:02] kaustavghosh06 commented on #2259
We released a new version of the CLI - v3.8.0 with a fix for this.

[2019-09-19 03:02] #2259 closed

[2019-09-19 03:02] kaustavghosh06 commented on #2214
We released a new version of the CLI - v3.8.0 with a fix for this.

[2019-09-19 03:02] #2214 closed

[2019-09-19 03:04] kaustavghosh06 commented on #235
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.7+.
Please take a look at our documentation around it out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:04] #235 closed

[2019-09-19 03:05] kaustavghosh06 commented on #1445
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.7+.
Please take a look at our documentation around it out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:05] kaustavghosh06 commented on #1485
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.7+.
Please take a look at our documentation around it out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:05] #1485 closed

[2019-09-19 03:07] kaustavghosh06 commented on #247
We release support for this as a part of our CLI version 3.8.
Please take a look at Flow 5 - https://aws-amplify.github.io/docs/cli-toolchain/graphql#workflows- out here for more information around codegen without `init` flow.

[2019-09-19 03:07] #247 closed

[2019-09-19 03:09] kaustavghosh06 commented on #624
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.8+.
Please take a look at our documentation around it out here for more info - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:09] #624 closed

[2019-09-19 03:09] kaustavghosh06 commented on #805
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.8+.
Please take a look at our documentation around it out here for more info - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:09] #805 closed

[2019-09-19 03:10] kaustavghosh06 commented on #1386
We launched multi-auth support for AppSync API (which included public APIs - with API Keys + IAM) as a part of our CLI version 3.8+.
Please take a look at our documentation around it out here for more info - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-19 03:10] #1386 closed

[2019-09-19 04:08] sacrampton commented on #2335
Just upgraded to amplify 3.8.0 and this issue still exists. It happens when I do the compile.

[2019-09-19 04:27] kaustavghosh06 commented on #2335
We’re still investigating the stack mapping issue and that’s why we haven’t commented or closed this issue. With 3.8.0 we’ve fixed the ‘no-gql-override’ issue which you’d another GitHub issue opened for.

[2019-09-19 04:58] sacrampton commented on #2335
Understood.

Further to this, previous versions of the amplify api gql-compile would warn if the number of resources in a stack (ConnectionStack.json specifically) was greater than 200. The current 3.8.0 version (and the previous 3.7.0 version) give a successful compilation message with no warning that the number of resources exceeds the limit. You only learn this when trying to push to CloudForma

[2019-09-19 05:34] lielran commented on #1445
@kaustavghosh06  what if I don't want/need to use AppSync?

[2019-09-19 05:38] kaustavghosh06 commented on #1445
I misread the issue. Sorry, re-opening this.

[2019-09-19 05:50] lielran commented on #171
any update on this one? any feedback from amplify/cdk teams?

[2019-09-19 06:01] sacrampton commented on #2335
I found a work around to get this to deploy successfully - it is somewhat convoluted, but it worked.

Firstly, for a number of reasons I always separate compile and push. So before I execute the compile I copy the new transform.conf.json (with version tag) into the #current-cloud-backend folder and into the backend folder. The new transform.conf.json shown below.

{
"StackMapping": {
"AssetVisitAt

[2019-09-19 06:42] attilah commented on #2335
@sacrampton to help me better understand the repro and workaround steps, separate it to steps, please add your corrections in a comment.

1. When you've the failure:
- there is no transform,conf.json in your #current-cloud-backend folder
- api gql-compile
- push with no compile

result: Failure

2. When it works with your workaround
- there is no transform,conf.json in your #current-cloud-backend

[2019-09-19 06:55] shlomizadok commented on #1644
Thanks for the help (and apologies in advance for the long paste below)
I trigger a manual installation of amplify-cli on my circle-ci build.
Here's the output of the installation:

[code]

[2019-09-19 07:01] attilah commented on #2335
@sacrampton

I checked the code and we still apply rules for this validation, but my guess is that because your workaround copies the transform.conf.js file so there will be no actual difference in the mapping, we'll not process the rules, because the rule processing is happening over the diffs in the deployed and "to be deployed" stacks.

[2019-09-19 07:04] yehuijifeng opened #2460 "你们的移动开发能不能简单一点？？？？？？？？？？？？？？！！！！！！！！！！"
web服务器使用起来还算方便，为什么移动开发，不管ios还是android都是那么复杂的去配置证书和密钥？？？？
入门步骤这么多，我只需要一个上传“s3”的功能而已，如今已经无法正确使用“s3”。最无语的集成

[2019-09-19 07:10] sacrampton commented on #2335
@attilah here are the steps I took.

I have emailed you transform.conf1.json, transform2.conf.json and transform3.conf.json (obviously all named transform.conf.json in their various folders).

1 What happened when I had a failure
* I put tranform.conf2.json in the backend folder
* api gql-compile
* My transform.conf2.json in the backend folder was overwritten with transform.conf1.json
* I didn't e

[2019-09-19 07:12] sacrampton commented on #2335
I have not trialed this - but would it work if I just deleted the transform.conf.json from the #current-cloud-backend folder?

[2019-09-19 10:30] VitValchar commented on #2074
@kaustavghosh06 I have the same issue. When I set, for example, this mutation `updateUser(input: InputUpdateUser!): User @function(name: "resolvers-${env}")` will create this pipeline setup automatically:
![image](https://user-images.githubusercontent.com/10848279/65235941-d94c7080-dad7-11e9-9c0d-5acb712d4acd.png)
I can change the two templates marked green (in the build folder, those are stored i

[2019-09-19 13:59] bagubits opened #2415 "Custom resolver geo location"
Dear all,

In amplify appsync grapqh API, I'll try to insert a custom resolver that is geo.
This [guide](https://aws-amplify.github.io/docs/cli-toolchain/graphql#add-a-custom-geolocation-search-resolver-that-targets-an-elasticsearch-domain-created-by-searchable) is perfect.

My schema

`
type GeoLocation {
  lat: Float
  lon: Float
}

input GeoLocationInput {
  lat: Float
  lon: Float
}

type Addr

[2019-09-19 14:06] borisdering opened #2349 "Guest Access to AWS AppSync does not work properly"
**Describe the bug**
As describe in the documentation it should be possible to grant guest access to the AppSync GraphQL API. Unfortunately, I was not able to configure this feature due to the error message: "User is not signed in, please sign in to use this API." via iOS SDK, even when I did every step as recommend in the docs. I choose "connected with AWS IAM controls" which will allow me to sel

[2019-09-19 14:25] henning101 commented on #2085
Same problems here. Tested with npm 6.9.0 and node 10.16.13/node 12.10.0

[2019-09-19 14:52] christodupreez commented on #2208
Current > amplify -v
1.7.8

Trying to update I get the error below:

npm update -g @aws-amplify/cli

`npm ERR! path /usr/local/bin/amplify
npm ERR! code EACCES
npm ERR! errno -13
npm ERR! syscall unlink
npm ERR! Error: EACCES: permission denied, unlink '/usr/local/bin/amplify'
npm ERR!  { Error: EACCES: permission denied, unlink '/usr/local/bin/amplify'
npm ERR!   cause:
npm ERR!    { Error: EACCE

[2019-09-19 15:05] RossWilliams opened #2347 "New @connections fields argument incorrectly looks up document enums"
**Describe the bug**
The line [here](https://github.com/aws-amplify/amplify-cli/blob/ef760720a4549eed41317be05f3fdfae7360ff21/packages/graphql-connection-transformer/src/ModelConnectionTransformer.ts#L65) references Kind.DOCUMENT, it should reference Kind.ENUM_TYPE_DEFINITION.
[code]
given the following schema:
[code]
The schema will fail to compile, stating that testEnum is not a non-null scalar

[2019-09-19 17:34] attilah commented on #2309
@apanagos could you please tell us what version of the CLI you were initially using to create the project? Or in the last comment you started with 3.2.0 and did not use an existing project?

[2019-09-19 18:19] kaustavghosh06 commented on #2241
@dz0l038 Thanks for the detailed report. It helped us diagnose an issue and root-cause it. The issue you've mentioned in the "part 2" of your description was a bug and the authorization of the fields shouldn't be dependent on the order of the fields. We fixed this with the latest version of the CLI - v3.8.0. We adhere to the authorization policy for both the fields you're updating - independent of

[2019-09-19 18:26] #2134 closed

[2019-09-19 18:37] attilah commented on #2349
@borisdering Please tell us which version of the CLI are you using, since in the latest release we added support for multiple authorization modes, for AppSync, which is covered here: https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=ios

By using the ```@auth(rules:[{allow:public, provider: iam}])``` directive on a type, the CLI will generate the appropriate IAM policies for you that wi

[2019-09-19 18:37] #2349 closed

[2019-09-19 19:05] dbrunet73 opened #2350 "Add ability to create Python Functions using the CLI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
No, it is related to us wanting to be able to use all Lambda Options when creating a function.

**Describe the solution you'd like**
We would like to be able to choose the type of function we are creating using the CLI, Python, PHP,

[2019-09-19 19:44] kiwimenuuuu opened #2351 "`amplify env get --name dev --json` error in v3.8.0"
**Describe the bug**
Can't obtain the env info in json form

**To Reproduce**
[code]

**Expected behavior**
A valid json describing the env

**Result**
[code]

**Version**
 - Version 3.8.0

[2019-09-19 19:48] dz0l038 commented on #235
@kaustavghosh06 thanks for the new release, from what I read on the doc, Public is not compatible with Owner.
So the use case with a post that any visitor can read, only log-in users can comment and only owner can edit is still not supported, can you confirm or did I misunderstood the doc?

[2019-09-19 19:50] JxDarkAngel commented on #590
You have to install **aws**, the following link explains how to:

[https://medium.com/@yogeshdarji99/steps-to-install-awscli-on-mac-5bad783483a](url)

And then execute the command: **aws configure**
More information in the next link
[https://docs.aws.amazon.com/es_es/cli/latest/userguide/cli-chap-configure.html](url)

[2019-09-19 19:59] dz0l038 commented on #2241
@kaustavghosh06 Happy to hear that the report help you a bit.
Thanks for the update on the doc, I ll definitely try that as soon I have some time (as well as the public authorization that seems really cool)!

[2019-09-19 20:01] attilah commented on #2350
@dbrunet73 thanks for the feature request, I labeled it accordingly.

[2019-09-19 20:25] azatoth commented on #1996
I also encountered the `‘class v8::Object’ has no member named ‘ForceSet’` error.

With following tree:
[code]
we can deduce that while kafka-node has a newer version with a fix https://github.com/SOHU-Co/kafka-node/pull/760 applied, https://github.com/mcollina/ascoltatori/issues/195 hasn't progressed to use a newer kafka-node.

[2019-09-19 20:35] #2351 closed

[2019-09-19 20:41] lroellin commented on #922
I think this should only prevent it from ever happening. If it's happened, then I think there's still no solution.

[2019-09-19 20:44] tluolamo opened #2353 "Amplify ElasticSearch Streaming function breaks after AWS upgrades your Lambda runtime"
**Describe the bug**
If you are getting the following error in your Amplify ElasticSearch streaming function (DdbToEsFn)
[code]
It is because AWS Lambda is updating the default boto3 and botocore SDKs for the Python 2.7, Python 3.6 and Python 3.7 runtimes. This update changes the version of boto3 from 1.7.74 to 1.9.221 for the Python 2.7 and Python 3.6 runtimes and from 1.9.42 to 1.9.221 for the P

[2019-09-19 20:51] sacrampton commented on #2335
Just on this warning message (https://github.com/aws-amplify/amplify-cli/issues/2335#issuecomment-532996376) - this was occurring on V3.7.0 upwards before I tried  my workaround. It was generating a ConnectionStack.json with 203 resources and not giving any warning about it.

After my work around there were 197 resources so no warning should have been given (and it wasn't).

[2019-09-19 21:02] apanagos commented on #2309
I had used 3.0.0 initially when I saw the problem then upgraded to 3.2.0

[2019-09-19 21:17] tluolamo commented on #2353
It suddenly resolved itself, so I guess this was issue on my AWS account

[2019-09-20 00:31] yuth commented on #2243
Please feel free to re-open or comment if this is still reproducible

[2019-09-20 00:31] #2243 closed

[2019-09-20 00:33] #2211 closed

[2019-09-20 00:34] #2299 closed

[2019-09-20 00:36] yuth commented on #2002
this is fixed in #2212

[2019-09-20 00:36] #2002 closed

[2019-09-20 03:43] nirmay opened #2360 "amplify config gets corrupt, cant run any cli commands"
$ amplify add codegen --apiId myapiId
✔ Getting API details
✖ Getting API details
Unexpected token o in JSON at position 1
$ amplify status

Current Environment: myenv

Unexpected token o in JSON at position 1
SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at readJsonFile (/home/ubuntu/.nvm/versions/node/v10.16.2/lib/node_modules/@aws-amplify/cli/lib/exte

[2019-09-20 04:00] nirmay commented on #2360
It might be that amplify-meta.json is corrupt.

$ cat \#current-cloud-backend/amplify-meta.json
[object Object]$ cat backend/amplify-meta.json
[object Object]$

[2019-09-20 04:16] nookale opened #2361 "Make @auth protect subscription fields fails"
**Describe the bug**
The following schema:
[code]

Successfully creates the following type Subscription:
[code]

While the following schema (note the combination of "allow:owner" and "ownerField"):
[code]

Will create:
[code]

Making authorizing the subscription not possible.

**To Reproduce**
- Create react app.
- Amplify init
- Amplify add auth
- Amplify add api => graphQL
- Create schema.graphq

[2019-09-20 06:45] hi120ki opened #2362 "Creating backend on Amplify Console fails."
I set amplify latest version on Amplify Console.

Yesterday 2019/9/19, released amplify-cli 3.8.0, fails to creating backend on Amplify Console.
and today 2019/9/20, released amplify-cli 3.9.0, fails same situation.
(2019/9/18 amplify-cli 3.7.0, succeed to deploy)

Running "amplify push" in local has no problem. (every amplify-cli version)

My Amplify Console log is here

[code]

and my amplify.ym

[2019-09-20 07:43] #2306 closed

[2019-09-20 08:40] komushi commented on #658
@kaustavghosh06

Thanks for setting it as a feature request. What is the situation?
I have met several other cases that needs this feature.

Thanks

[2019-09-20 08:44] Buder commented on #997
Hi,

Scraped the net for a solution that works from Amplify but finds very little (nothing), is this solved? I use the latest Amplify updated yesterday and I cannot still add a trigger for my function using amplify add function. My DDB was created with add api so suffering the same problems as above.

"There are no DynamoDB resources configured in your project currently"

Is there a valid workarou

[2019-09-20 09:08] idanlo commented on #997
@Buder what I ended up doing is creating a function that accepts a `___TABLE_NAME` environment variable and just manually set it in the AWS Lambda console and if you create a new API or change the table names you will need to go to that lambda's console and set it manually again.

[2019-09-20 09:18] Buder commented on #997
@idanlo

Ok, so you created a standard lambda? Like amplify add function "Hello world" option? And then what makes it accept a ___TABLE_NAME??

And donat you have to enable stream/trigger on the table and add some lambda ID(ARN) to that trigger? And how do we set the IAM roles permission then?

Not expecting you to help me with all this, but still valid questions.. :)

[2019-09-20 09:28] idanlo commented on #997
@Buder Yes you create the function from the cli using `amplify add function`, and to give it the environment variable you go to the that lambda's page using the AWS Lambda console and when you scroll down you can see a list of environment variable and there you can add your own, so for example you can add a `USER_TABLE_NAME` variable and then in the code you can access it to perform actions on a D

[2019-09-20 09:34] Buder commented on #997
@idanlo

Ok, I see, yes I can do this but it requires me to create some polling sequence to react to the INSERT of a new table item, what I am looking for is a trigger so that the lambda executers when a INSERT is executed in the table. As far as I understand your solution do not handle that.

On the other hand I think that it is possible to associate the hello world lambda with the table trigger

[2019-09-20 09:38] idanlo commented on #997
@Buder This is actually something I am looking into right now, you can add a trigger through the DynamoDB console and create a lambda function or use an existing lambda function for that trigger, choosing the create a new function didn't work for me so I created one manually and I needed to add the correct policies to that function's role so that it will work with the dynamo trigger (dynamo will t

[2019-09-20 09:47] attilah commented on #2360
@nirmay could you please tell us what version of the CLI are you using? Also can you provide repro steps for us?

The contents of the ```#current-cloud-backend``` directory contains the last pushed version of the files. Please check your S3 deployment bucket and tell me is that file has the same corrupted json content?

[2019-09-20 09:49] attilah commented on #2361
@nookale what version of the CLI are you using?

[2019-09-20 09:51] nookale commented on #2361
@attilah 3.2.0

[2019-09-20 09:54] attilah commented on #2289
@amcdnl thanks for the suggestion, we'll look at it. This is quite a big change and would require a great amount of refactoring all over the packages.

[2019-09-20 09:55] Buder commented on #997
@idanlo

Ok, let me know your findings here, valuable for all. I will try myself this weekend to set up a lambda and try to trigger it from the table insert. Do you know if this will work also when invoking the lambda with the amplify command (running the lambda locally I guess?)

I will post if I get it working in some way.

[2019-09-20 09:56] attilah commented on #2362
@hi120ki The root cause seems to be the missing function as it is in #2351. We already did a fix and it is in the latest release, please try it out and re-open if the issue still exists for you

[2019-09-20 09:58] idanlo commented on #997
I guess it will work but it won't pass the parameters that the trigger is passing, instead you can just change/create some dummy data in the dynamodb table and then change it back

[2019-09-20 10:39] hi120ki commented on #2362
I try to deploy again.

Checking log, amplify 3.9.0 is installed.

[code]

But still deploy has error.

[code]
[code]

[2019-09-20 11:00] dabit3 commented on #2277
Thanks @kaustavghosh06 !!

[2019-09-20 11:25] attilah commented on #2058
Closing due to no response from the issue creator.

[2019-09-20 11:25] #2058 closed

[2019-09-20 11:26] attilah commented on #1325
@mwarger did you succeed with the latest version of the CLI?

[2019-09-20 12:00] hi120ki opened #2364 "Creating backend on Amplify Console fails v3.9.0"
This issue is related with #2362

I try to deploy my project on Amplify Console, but an error still happened.
(I have already tried amplify-cli v3.9.0 at #2362)

My log is here.

[code]

[code]

This is same error message at v3.8.0 and v3.9.0.

And this error message is little different from #2351 at line 14

[code]

I'm waiting for your great support. Thank you.

[2019-09-20 12:10] idanlo opened #2365 "Unable to push - map is not a function"
**Describe the bug**
Randomly when pushing I get this error.
This happened while the push was already in progress and caused us to delete the entire stack because it had too many errors which made us lose about 20 users in our user pool, all our database data (which was backed up), all AppSync custom functions and all S3 files
[code]
(by the way it is spelled occurred and not occured)

**To Reprod

[2019-09-20 12:31] attilah commented on #2364
@hi120ki it is the same error, please don't open multiple issues about the same problem. The line number can differ between releases.

Perhaps that fix did not make into 3.9.0, so it will be in the next one.

A workaround would be for you If you would not use the ```json``` argument, which references the ```fancy``` function.

[2019-09-20 12:31] #2364 closed

[2019-09-20 12:38] attilah commented on #2365
@idanlo it is strange, since this issue is a duplicate of https://github.com/aws-amplify/amplify-cli/issues/2262 which was fixed back then.

Could you please share your yaml file in the root which has the structure you can see at the mentioned issue?

[2019-09-20 13:20] #2335 closed

[2019-09-20 13:42] tluolamo commented on #2353
Actually this kept on reoccurring and after talking to AWS support this is what they came back with

It seems viable as a work around so far by manually adding the layer, but I think Amplify should either include that layer as part of the push or update the function to work with the above version of boto.

[2019-09-20 14:04] houmark commented on #2353
This is also happening to us since yesterday at some point. First started in our development environment, and somewhat solved itself but then started doing the same in production. This affects all our data as our frontfacing UI is using Elasticsearch to find the data.

How can this just happen? How can there be no coordination on maintainers of things like this?

[2019-09-20 14:16] borisdering commented on #2349
Hi @attilah, first of all thank you for the fast response. I personally don't use any GraphQL Transform, because I couldn't design an appropriate schema with directives, I had to create custom resolvers instead. Anyways long story short, I did tried your solution but the cli framework did respond with a syntax error. I did found a nice solution on how to grant access to guests. I did attach a inli

[2019-09-20 14:17] idanlo commented on #2365
you are correct this was the issue. the path in the `includes` property was not correct.
Still, this error message needs to change to something else that will point the user to the yaml file

[2019-09-20 15:11] kaustavghosh06 commented on #2360
@nirmay Did you try running ‘amplify env pull —restore’?

[2019-09-20 15:24] tluolamo commented on #2353
@houmark Yeah this should definitely be extremely high priority fix as pretty much everybody using Amplify will be impacted by this as AWS upgrades their Lambda functions. Our prod environment also broke last night as well, which is on a separate AWS account, luckily for us we are just short of being in production really with our system, so no real users were impacted this time.

[2019-09-20 15:30] houmark commented on #2353
This was a planned change it seems, but it was so badly communicated, that nobody inside the AWS Amplify team was aware and had a chance to push out a fix. And even if they did, then this will require a push by every client using Elasticsearch on Amplify as far as I understand. Knowing AWS they will just release this in 3.8.x or 4.x and not care about 3.0.0, which means we are forced to upgrade to

[2019-09-20 16:38] #2347 closed

[2019-09-20 17:09] #2280 closed

[2019-09-20 17:35] mrducky4 commented on #2362
I think this should be reopened. I have the same problem. I had CLI version 3.8.0. I had the problem #2351 on my local machine. I upgraded my local machine to CLI version 3.9.0, which fixed that problem. However, on AWS Console when I specified to use Amplify CLI 3.9.0 it still fails with "context.print.fancy is not a function". My log looks just like the one posted by hi120ki.

[2019-09-20 18:33] darnmark64 opened #2367 "Support API Gateway with Private Endpoints for VPC Endpoints"
Our project has a Amazon RDS Aurora database and a Lambda function inside a VPC to perform the database transactions. We need that Lambda function to send websocket updates back to the application. We constructed an API Gateway resource with a Private endpoint and resource policy by manually editing the CloudFormation template created by the Amplify CLI. We then connected a VPC endpoint to the pri

[2019-09-20 18:44] dsmrt commented on #1181
+1

Any update on this?

[2019-09-20 19:59] set321go commented on #2209
I would add I had to update the depends on in the `<name>Trigger: {}`section of the file because it was using depending on the policy that needed to be deleted.

[2019-09-20 20:00] BryceAMcDaniel commented on #2062
Hello all!

I am also receiving this message.  Similar java version to above.

Any further suggestions are appreciated.

Thanks!

[2019-09-20 20:36] BryceAMcDaniel commented on #2062
Fixed!

`brew cask install java`

worked for me.

[2019-09-20 21:17] sacrampton commented on #2335
I just installed 3.9.0 and this issue has not changed. When are you expecting to deploy?

[2019-09-20 21:21] kaustavghosh06 commented on #54
Hey guys, we launched multi-auth support for the GraphQL transform which allows public access via API Keys and IAM. Please find more info out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization

[2019-09-20 21:21] #54 closed

[2019-09-20 21:30] kaustavghosh06 commented on #809
@awhitford We provide this check now in the latest version of the CLI.

[2019-09-20 21:30] #809 closed

[2019-09-20 21:32] kaustavghosh06 commented on #977
We released the @key directive for this use-case. Please take a look at the docs out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#key

[2019-09-20 21:32] #977 closed

[2019-09-20 21:34] kaustavghosh06 commented on #1244
Closing as this is a duplicate of #1013

[2019-09-20 21:34] #1244 closed

[2019-09-20 21:39] fabianjj commented on #2196
With the latest version, the migration does go thorugh (I'm facing other problems trying to update some of my resources, but that's a separate issue.

[2019-09-20 21:39] #2196 closed

[2019-09-20 21:39] kaustavghosh06 commented on #2350
Duplicate of #1074

[2019-09-20 21:39] #2350 closed

[2019-09-20 21:42] kaustavghosh06 commented on #1505
Duplicate of #156

[2019-09-20 21:42] #1505 closed

[2019-09-20 21:47] kaustavghosh06 commented on #1228
@vparpoil We recently added support for adding authorization for your subscriptions. Please take a look at the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions

[2019-09-20 21:47] #1228 closed

[2019-09-20 21:50] kaustavghosh06 commented on #1277
Hey guys, we recently recently released multi-auth support - where you can use IAM to control access to auth/guest users. This would work for the above-mentioned use-case. Please take a look at the docs for info - https://aws-amplify.github.io/docs/cli-toolchain/graphql#private-authorization

[2019-09-20 21:50] #1277 closed

[2019-09-20 21:53] kaustavghosh06 commented on #1309
@BarberEngineering We enhanced our cloud formation logging capabilities to point you to the exact resource/template if which you're having an issue with. Please take a look at the latest version of the CLI and let me know if you have more suggestions.

[2019-09-20 21:53] #1309 closed

[2019-09-20 21:55] kaustavghosh06 commented on #1298
@davekiss Closing this issue since we haven't been able to reproduce this on our end. Please let us know if you're still seeing this.

[2019-09-20 21:55] #1298 closed

[2019-09-20 21:56] #1390 closed

[2019-09-20 21:56] #1432 closed

[2019-09-20 21:58] kaustavghosh06 commented on #1516
@packerfan626 We released the @key directive.
Please take a look at our @key documentation for more details around this  - https://aws-amplify.github.io/docs/cli-toolchain/graphql#key

[2019-09-20 22:00] kaustavghosh06 commented on #1516
Re-using of existing AppSync API is a duplicate of #288

[2019-09-20 22:00] #1516 closed

[2019-09-20 23:05] hotgazpacho commented on #365
It would be great if we could apply tags to the root stack, and have them propagated to the nested stacks as well. That would allow CloudFormation to do it's thing and handle tagging all taggable resources automatically.

[2019-09-20 23:42] hi120ki commented on #2362
Maybe you know, it is not able to re-open issue from me.
There are no "Reopen issue" button on my display.
(On GitHub, if you are not a collaborator of a repo, you can re-open your own issues if you closed them yourself)

@attilah Could you re-open this issue? I can't re-open this issue myself.

[2019-09-21 00:30] chikason opened #2370 "AWSMobileClient amazonS3 Image/file upload error"
** CognitoCachingCredentialsProvider login Error **

** Amplify amazons3 **

**  CognitoCachingCredentialsProvider credentialsProvider
           = new CognitoCachingCredentialsProvider(getActivity().getApplicationContext(), IDENTITY_POOL_PROVIDER_ID, Regions.US_EAST_2);

        Map<String, String> login = new HashMap<>();
        login.put("www.amazon.com", getTokens());
        credentialsProvi

[2019-09-21 03:50] nirvdrum opened #2384 "Add ability to drop & recreate DynamoDB table"
**Is your feature request related to a problem? Please describe.**

I'm just getting started with AWS Amplify. I've been working through the typical Todo application, when I finally got to the "GraphQL Transform" section in the docs. The first `@key` example is for creating a primary key, but the only way that can work with an existing Amplify project is to delete the existing DynamoDB table and u

[2019-09-21 13:53] khaschuluu commented on #91
+1

[2019-09-21 16:03] usmansbk opened #2385 "Unable to stream models to ElasticSearch"
**What is the current behavior?**
When I create a mutation, the `lambda` function that streams `dynamodb` `model`s to `elasticsearch` fails and logs `Unable to import module 'python_streaming_function': cannot import name 'BotocoreHTTPSession'`.
I haven't edited any of the code as it is automatically generated by the `GraphQL Transform`

**What is the expected behavior?**
I should be able to searc

[2019-09-22 06:14] garywu commented on #2360
I can cause this consistently by issuing amplify add codegen --apiId xxxxxxx
After amplify init everything is normal both #current-cloud-backend and ampl,ify-meta.json looks normal. codegen changes both to [object Object].
this is the output
[code]

[2019-09-22 10:15] Spaceman1861 opened #2371 "Cant Install CLI Correctly"
**Describe the bug**
Im trying to install the cli via the following
`npm install -g @aws-amplify/cli`

I get a bunch of errors during the install however it says it installed correctly.

But then when I run.
`amplify configure`

I get a prompt saying.

Any key I press just exits amplify.

Im using node 10.16.3
Im using npm 6.9.0

Here is the npm output

[code]

[2019-09-22 13:48] borisdering opened #2383 "Unnecessary Amplify init on Codegen"
** Which Category is your question related to? **
Why do I need to init a project when I just want to use the codegen subtooling?

** What AWS Services are you utilizing? **
- Amplify cli

** Provide additional details e.g. code snippets **
amplify codegen types --nodownload

[2019-09-22 14:47] RossWilliams commented on #2241
@kaustavghosh06 You updated the documentation last week to add the following in response to this issue,

https://github.com/aws-amplify/docs/blame/master/cli-toolchain/graphql.md#L1276

The critical part for me: `is present as a part of the input`. This reads to say that if an owner includes `content` as a field in a mutation, then they are authorised to update any other field, even if the object-

[2019-09-22 14:55] mwarger commented on #1325
@attilah No, it's still showing the same behavior.  The `__typename` field is still just `String` when it should be `Post`.

[2019-09-22 15:00] RossWilliams commented on #2241
@kaustavghosh06 A second feedback on testing the documentation. e2e tests have the following comment
[code]
the documentation has this schema and comment:
[code]

The e2e test comment and documentation are in conflict. According to e2e tests, Todo content field can only be updated by the owner if the owner is also an Admin, where the comment suggests being an owner is sufficient to update the cont

[2019-09-22 16:34] tw1t611 opened #2372 "Error response on Multi-Auth with api_key"
**Describe the bug**
Hi, I have got an unauthorized error with multi-auth and api key.
The error was thrown, when I got the right data.
The query works using cognito.

Schema:
[code]
Query:
[code]

Response:
[code]

Working cognito query:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Log in with cognito.
2. Create a product.
3. Query the product using the api key.

**Expected behavi

[2019-09-22 17:19] dabit3 opened #2373 "Bug in Multi-auth"
**Describe the bug**
Using the following schema:
[code]

As a signed in user as Admin I am unable to perform queries. Here are the generated operations:

[code]

Looks like `@aws_cognito_user_pools` is not being added to the schema.

[2019-09-22 17:26] junejie commented on #1479
I had this situation before, and i ended up recreating the stack.

@jkeys-ecg-nmsu  - it will  pull the wrong version, what we want to to overwrite the wrong one.

[2019-09-22 17:27] garywu commented on #2360
Adding GraphQL API manually with just amplify add  then choose GraphQL works.

amplify --version
3.9.0

[2019-09-22 17:32] attilah commented on #2373
@dabit3 what version of the CLI are you using, since I fixed a similar one recently. Also please tell me the configured auth modes, which one is the default.

But I'm suspicious, you're disabling queries in the rules, why are you expecting to generate ```@aws_cognito_user_pools```? If the rule is not applied to a given operation, then the operation will not get that attribute added.

[2019-09-22 17:36] dabit3 commented on #2373
Hey, I am on `3.9.0` of the CLI.

I'm disabling `queries` because I have a use case where only authenticated users can read from the API but only `Admin` can make changes or mutations.

[2019-09-22 17:42] attilah commented on #2373
But I can't see authenticated users added as an ```@auth``` directive.

Adding ```{ allow: private, operations: [read] }``` rule will be needed.

By default auth is not restricted, for the default auth mode configured for the service, but once you add an ```@aws_api_key``` to a type in the schema, that removes the default auth mode as allowed, this is how the service behaves, and that's the patter

[2019-09-22 17:43] dabit3 commented on #2373
Ah, ok so by adding `{ allow: private, operations: [read] }` this will enable / add `@aws_cognito_user_pools`?

[2019-09-22 17:44] attilah commented on #2373
Perhaps this directive would describe better what you wrote above:
[code]

[2019-09-22 17:45] dabit3 commented on #2373
Awesome, yes that's what I ended up with too. Thanks for your help on this, sorry to be buging you on the weekend!

[2019-09-22 17:45] #2373 closed

[2019-09-22 18:03] jtushar53 opened #2374 "Updating GSI not retaining older GSI"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
If you already have one GSI and when you try to add another it replaces existing GSI instead of appending new to existing GSI array

**To Reproduce**
Steps to reproduce the behavior:
1. **amplify add storage**
2. Add all info and Add one GSi 'gsi-one'
3. **amplify push**
4. **amplify

[2019-09-22 18:13] jtushar53 opened #2375 "Policy not updating properly while adding GSI"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When we add GSI, policies are not added properly resulting in manually adding table/Mytable/index/* to all tables from IAM console
**To Reproduce**
Steps to reproduce the behavior:
1. amplify add storage
2. add GSI
3. amplify push
4. call dynamo db query inside lambda using gsi

erro

[2019-09-22 18:49] jmosul commented on #2209
I'm having the same issue.  I'm not a CloudFormation expert, but is it possible the two policies in the generated template are clashing?  both the `lambdaexecutionpolicy` and `testTriggerPolicy` are setting the same policy name `lambda-execution-policy`.

When I first tried it this it failed to roll back and left behind a user which only had one policy on the console and it specified only the "log

[2019-09-22 19:38] undefobj commented on #2373
@dabit3 are we missing something in the docs that could have avoided this confusion?
cc @kaustavghosh06

[2019-09-22 20:52] ajenkins commented on #1002
I agree that the docs for adding a custom resolver should include a link to https://aws-amplify.github.io/docs/cli-toolchain/graphql#api-category-project-structure . In fact, I really wish I had read about the API Category Project Structure a long time ago. Until I read that section, I had no understanding of what `amplify push` was actually doing or how it worked. I think it would be a good idea

[2019-09-22 22:44] pspanchal opened #2376 "custom mutation to call Velocity Template"
** Which Category is your question related to? **
AWS Amplify Cli

** What AWS Services are you utilizing? **
@model on AWS Amplify

** Provide additional details e.g. code snippets **
I have created my schema with @model and am trying to limit customer inputs for a create Mutation. Hence I created a new mutation function called createNewX with desired inputs with fields that are a subset of the c

[2019-09-23 00:37] sollipse opened #2386 "[SEVERE]: Updates to default Botocore Version in AWS Lambda for Python 3.6 BREAKS Amplify ElasticSearch Lambda Streaming Function"
**Describe the bug**
Root cause of the symptoms discussed in https://github.com/aws-amplify/amplify-js/issues/4058

I have performed a local test of Python 3.6 Lambda Execution environment to confirm:

printing BOTOCORE version available by default in lambda
according to AWS Docs, this should be 1.10.74 for Python 3.6
ACTUAL BOTOCORE VERSION:
1.12.221

In this botocore version, attempts to import

[2019-09-23 02:31] sharelookapp commented on #3
I am experiencing this error in v1.12.0

during amplify init i indicated i wanted to use a profile and select the appropriate one.
instead, its using the default profile. i have to keep switching the key/access i need in default for it to work.

**local-aws-info.json:**
`"useProfile": true,`
`"profileName": "projectx"`

**credentials:**
`[default]`
`aws_access_key_id=projectAkey`
`aws_secret_acces

[2019-09-23 03:31] nirmay commented on #2360
@attilah @kaustavghosh06
Thanks, I had to reset my cloud9 env to reproduce this.

[code]

Steps are:
[code]

we can safely ignore the auth add/push for this issue.

I downloaded the amplify pushed version from the S3 deployment bucket and the amplify-meta.json is safe or intact.
but, I cannot run `amplify env pull --restore` because the meta json is corrupt.

[2019-09-23 05:20] UnleashedMind commented on #2371
@Spaceman1861

On what Operating System did you run the amplify command?
Could you try to run `amplify plugin scan` then try again?
If it still fails, please try to run `amplify plugin list`, select `active plugins` and see if there is a plugin named 'awscloudformation` in the list.

[2019-09-23 05:48] incr3m opened #2377 "Error when deploying through aws amplify console CI"
We're currently getting the error below when deploying changes on amplify console ci:
![image](https://user-images.githubusercontent.com/3125784/65403889-9dcbe200-de08-11e9-9fa1-916fdf242371.png)
Current version we use is 3.8.0. We did not change any config on amplify ci console. It was working before,

[2019-09-23 07:38] michelem09 opened #2378 "Is it possible to add environment variables from the cli to the console?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify-CLI

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

As per title is there a way to add env variables to the Amplify Console from the Amplify CLI/Config?

Would be great to create a .env file f

[2019-09-23 08:03] mjmaix commented on #1678
I'm looking forward to a doc/blog article for this feature since I'm not actively working on something similar but wants to be updated.

[2019-09-23 09:38] im-dnsosso commented on #2377
same problem after upgrade to 3.9.0

[2019-09-23 09:43] nookale commented on #1965
Any news about this? I am also experiencing the same case.

So far I have created pinpoint resources in us-east-1 manually and then I have referenced them in the app with Amplify.configure(Analytics:{..}), but I am interested in having Amplify automatically generating these resources in us-east-1 even if my app region is eu-west-1, so that I do not have to manage  different environment variables a

[2019-09-23 09:56] thedgbrt commented on #2377
I've had issues with the amplify console since updating too. For me it was because the version of amplify-cli in the console was an old one (by default it was 1.7.0). You can see which version of the cli the console in using in the provision step:

<img width="1095" alt="Capture d’écran 2019-09-23 à 11 52 25" src="https://user-images.githubusercontent.com/1362558/65416700-be8c3b80-ddf8-11e9-9748-5

[2019-09-23 09:59] im-dnsosso commented on #2377
Yes I adjusted those settings but the problem remain the same... The interesting part is I can deploy it from local cli with amplify push but it does not work from the cloud.

[2019-09-23 10:01] thedgbrt commented on #2377
@im-dnsosso i've had issues like that too. Right now when that happens I just re-push from local and re-run the cloud deployment right after. It has worked so far but it's not reassuring...

[2019-09-23 10:04] thedgbrt commented on #2377
@im-dnsosso did you try this ? https://github.com/aws-amplify/amplify-cli/issues/1415#issuecomment-490297162

[2019-09-23 10:05] im-dnsosso commented on #2377
Thank you! Let me try that...

[2019-09-23 10:23] im-dnsosso commented on #2377
`                                 # Starting phase: build
                                 # Executing command: amplifyPush --simple
2019-09-23T10:16:58.646Z [INFO]: # Getting Amplify CLI Cloud-Formation stack info from environment cache
2019-09-23T10:16:58.652Z [INFO]: # Start initializing Amplify environment: develop
2019-09-23T10:16:58.653Z [INFO]: STACKINFO=context.print.fancy is not a functio

[2019-09-23 10:53] janhesters commented on #1678
@mjmaix Shameless plugs, I have several articles on Lambda with AppSync over at https://janhesters.com.

[2019-09-23 10:54] apuyou commented on #1678
This is available in 3.2.0.

I was able to use it thanks to this simple example: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

[2019-09-23 11:01] ghost opened #2379 "BatchGetItem calls in Custom resolvers not supported in `mock api`"
**Describe the bug**
If you create a custom resolver using the `BatchGetItem` template operation, it fails to run

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom resolver with the following template:
[code]
2. Start the local mock with `amplify mock api`
3. Issue a GraphQL query that uses the resolver
4. See error:
    "message": "Operation  BatchGetItem not implemented",

**

[2019-09-23 11:30] nick-town opened #2380 "Local Mocking API doesn't honour custom resolver response template names"
**Describe the bug**
When custom resolver response templates have been defined with a non-standard name, even though those names are defined in the resolver CloudFormation template, these names are not used. Instead the local mocking code looks for a response template with the same name as the request template, but with `.res.vtl` extension.

Note that the same setup works fine non-locally after a

[2019-09-23 11:56] pspanchal commented on #2376
Found some documentation here - https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model

Followed it. But it is not clear where to put the resolver files? Should I be uploading to s3? Or should I simply put it in the resolvers folder? I did the latter but still receiving an error stating that the .vtl file not found.

[2019-09-23 11:59] selcuksnad opened #2387 "How to grant access to existing API Gateway endpoints?"
** Which Category is your question related to? **
IAM
** What AWS Services are you utilizing? **
API Gateway with AWS_IAM authorization
** Provide additional details e.g. code snippets **
I have an existing API Gateway endpoint which is setup with AWS_IAM authorization. This endpoint was not generated with amplify. I have a web app developed with amplify (react) using Cognito identity federation.

[2019-09-23 12:00] pnadkar commented on #2360
I got this working

Fire this command :` amplify add codegen -apiId <API ID>`
Note that I have used just one '-'

This will then throw the error like:
`Please download schema.graphql or schema.json and place in <your project path will be displayed here> before adding codegen when not in an amplify project`

I then went to my AWS AppSync and downloaded my schema.grpahql file and pasted it in the sp

[2019-09-23 12:09] Spaceman1861 commented on #2371
@UnleashedMind running amplify plugin can fixed it.

Thanks

As a side note i'm running latest windows 10.

[2019-09-23 12:09] #2371 closed

[2019-09-23 12:59] dabit3 commented on #2373
@undefobj after reviewing the docs no, it's just a mistake on my part.

[2019-09-23 14:15] attilah commented on #2360
@pnadkar I'm sure you're not using the latest version of the CLI, because we're not accepting apiId with a single dash.

@nirmay the fix is on its way in #2381

[2019-09-23 15:02] mwarger commented on #1325
@attilah I provided a repository where you can reproduce it when I opened the issue.  All source files are provided.  Look in src/graphql.

[2019-09-23 16:22] jmosul commented on #2209
I can also confirm that only doing one policy with both statements fixed the issue for me. So thanks for that work around

[2019-09-23 16:43] andrew-aernos opened #2382 "init failed TypeError: Cannot read property 'configLevel' of undefined"
Amplify CLI version:
3.9.0

Platform:
Windows 10

When trying to create an new environment (with a name that I've used before but have removed since), it fails with the following issue.
[code]

[2019-09-23 16:51] UnleashedMind commented on #2382
Hi @andrew-aernos

What's the Operating system you ran the amplify cli on?
could you also run `amplify -v` and find out the version of the cli?

[2019-09-23 16:57] jzstern commented on #91
Is there an estimated release date for this? Or even just an update on if it's still in development?

[2019-09-23 17:00] andrew-aernos commented on #2382
Amplify CLI version: 3.9.0
Platform: Windows 10

[2019-09-23 17:16] andrew-aernos commented on #2382
Strangely I can add another environment with the name 'prod' for production.

[2019-09-23 17:31] andrew-aernos commented on #2382
Found a lingering environment of the name 'dev' in the amplify/.config/local-aws-info.json. There must've been a inconsistent environment removal.

The fix was to remove the `<your old env name>` environment name block, and then add the environment of the same name again with `amplify env add`.

[2019-09-23 17:35] kaustavghosh06 commented on #2386
@sollipse We're looking into it. I'll update on this as soon as we have a fix for it. As a workaround please take a look at - https://github.com/aws-amplify/amplify-cli/issues/2353#issuecomment-533558801 for a workaround until we push the fix.

[2019-09-23 17:35] kaustavghosh06 commented on #2385
We're looking into it. I'll update on this as soon as we have a fix for it. As a workaround please take a look at - #2353 (comment) for a workaround until we push the fix.

[2019-09-23 17:40] nateiler commented on #1181
+1  ... Interested as well!

[2019-09-23 17:54] UnleashedMind commented on #2382
not sure what was the cause of the incomplete env removal. I tested and the environment is actually removed from the `amplify/.config/local-aws-info.json` file.
Could you try a `amplify env remove` again and see if you still have the incomplete env removal?

[2019-09-23 18:34] andrew-aernos commented on #2382
I couldn't reproduce my issue after I manually removed the offending environment from the local-aws-info.json.

Not sure what caused it in the first place, I did find left-over 'dev' stack on the cloud along with its resources. probably a stupid/impatient me terminated the process while roll-back was in place and the local-aws-info.json wasn't updated (??).

As of now I tried `amplify env remove <

[2019-09-23 19:16] #2360 closed

[2019-09-23 19:17] RossWilliams commented on #2377
I am also seeing this issue on my latest deploy.

[2019-09-23 19:43] kaustavghosh06 commented on #2386
@sollipse As discussed offline, this issue should be fixed from the Lambda service side as they rolled-back their changes. Please feel free to comment on this thread if you're still seeing this issue.

[2019-09-23 19:43] kaustavghosh06 commented on #2385
This issue should be fixed from the Lambda service side as they rolled-back their changes - causing this behavior. Please feel free to comment on this thread if you're still seeing this issue.

[2019-09-23 19:44] kaustavghosh06 commented on #2353
@tluolamo This issue should be fixed from the Lambda service side as they rolled-back their changes - causing this behavior. Please feel free to comment on this thread if you're still seeing this issue.

[2019-09-23 19:44] #2382 closed

[2019-09-23 19:45] kaustavghosh06 commented on #2377
This is an issue tied to the Amplify console not able to switch CLI versions - they've been informed and looking into it. Moving it to the console team repo to further investigate and provide a workaround for the same.

[2019-09-23 19:59] kaustavghosh06 commented on #2372
@tw1t611 Could you also provide us with the Webshop @model as well? We would need to take a look at the @auth rules out there as well to root cause this. Thanks!

[2019-09-23 20:29] houmark commented on #2353
Amazon just keeps the ball rolling on doing unstable stuff breaking the WORLD! Oh well...

[2019-09-23 20:30] houmark commented on #2353
I still have the "workaround" ARN layer on top of my services, I hope the rollback does not mean that that now breaks my setup? Can you confirm if having the layer workaround is "safe"?

[2019-09-23 20:30] houmark commented on #2353
@kaustavghosh06 this was for you, sorry, forgot to mention you...

[2019-09-23 20:38] nikhname commented on #2383
Hi @borisdering, you can use codegen without init by including your schema (named schema.graphl) or instrospection schema (named schema.json) in the root directory of your project and running amplify add codegen. Then, if you want to update your types, save you changes to the schema/introspection schema and run amplify codegen types. The --no-download flag is not needed outside of an amplify proje

[2019-09-23 20:55] kaustavghosh06 commented on #2353
@keithmacklin Could you specify your Lambda ARN + region and send it across to amplify-cli@amazon.com?

[2019-09-23 20:56] kaustavghosh06 commented on #2353
@houmark Let me update you regarding the layer workaround removal in a bit.

[2019-09-23 21:05] keithmacklin commented on #2353
@kaustavghosh06 We added the "workaround" in our environments after I posted my comment and things are now working fine. I would also like to know if the workaround would continue to be safe. In the meantime, I will email you my ARN

[2019-09-24 02:10] kaustavghosh06 commented on #2386
@sollipse We dug into the issue and after talking to the Lambda team, we understood the reason for the change and errors. We're working on a fix in the CLI that will enable you to re-deploy your function as a part of the ampliy push command to avoid seeing the Lambda errors. For the time being, here's an explanation and the workaround provided by the Lambda team to prevent your app from seeing err

[2019-09-24 02:21] kaustavghosh06 commented on #2353
@keithmacklin  @houmark @tluolamo  We dug into the issue and after talking to the Lambda team, we understood the reason for the change and errors. We're working on a fix in the CLI that will enable you to re-deploy your function as a part of the ampliy push command to avoid seeing the Lambda errors. For the time being, here's an explanation and the workaround provided by the Lambda team to prevent

[2019-09-24 02:22] kaustavghosh06 commented on #2385
@usmansbk  We dug into the issue and after talking to the Lambda team, we understood the reason for the change and errors. We're working on a fix in the CLI that will enable you to re-deploy your function as a part of the ampliy push command to avoid seeing the Lambda errors. For the time being, here's an explanation and the workaround provided by the Lambda team to prevent your app from seeing er

[2019-09-24 03:13] sacrampton commented on #2385
I am also seeing this problem - I created a new type with searchable and no index is created in ElasticSearch.

The instructions for the work around are a bit opaque to me - assuming you have just used standard amplify/appsync to sync DynamoDB and ElasticSearch, what are the specific set of steps/commands we need to execute to "unbreak" this whilst we are waiting for the fix?

[2019-09-24 03:38] pnadkar commented on #2360
Thanks. When would this be available for me to download and update?

[2019-09-24 04:59] usmansbk commented on #2385
@sacrampton

- Open your the generated function configuration in the console, which is typically named `DdbToEsFn-XXXXXX`.

- Select layers
![Screenshot (17)_LI](https://user-images.githubusercontent.com/10219539/65482236-41140a00-de90-11e9-9ac9-15f38fda8e55.jpg)
Then add one of the[ ARNs](https://github.com/aws-amplify/amplify-cli/issues/2385#issuecomment-534359510) above based on your region

[2019-09-24 06:12] gitzhouxinyu1 commented on #954
Any updates? I still got the same error with latest cli

[2019-09-24 06:17] BabyDino commented on #682
I ran into this issue yesterday. After 2 hours I just gave up and deleted the API, I couldn't resolve the issue. This was testing only, so not really an issue. For production ready API's i'm a little more concerned.

Since I've tried every trick in this issue without result, can anyone point me to the file(s) which causes the issue? Or do I have to dig into CloudFormation? Thanks.

[2019-09-24 06:47] sacrampton commented on #2385
Thanks for the above - I could add the layer - pushed to deploy again - but still no data streaming to ElasticSearch. I updated amplify CLI to latest version being pushing.

[2019-09-24 07:54] masbaehr commented on #335
Why was this closed? I also need this as i need to access different graphql endpoints for different tasks obviously.
A very hacky solution would be this:

Configuration

[code]

Usage
[code]

[2019-09-24 08:37] tgjorgoski commented on #1867
any news on this?

[2019-09-24 12:06] BabyDino opened #2389 "Missing model when @model(queries: null) but with @key queryField defined"
**Describe the bug**
When I set `queries: null` on `@model` but I define a `@key` with a `queryField`, the `ModelContentCategoryConnection` is not compiled.

[code]

This is compiled:
[code]

However, the `ModelContentCategoryConnection` input is missing in the compiled schema.

**Workaround**
[code]

Adding a query (or removing the null of course) fixes the generation of the model.

**Expected be

[2019-09-24 12:10] pspanchal commented on #2380
actually it does not even take the name for request template. I think it is taking the template names from fieldname parameter.

[2019-09-24 14:34] tezqa commented on #2385
@kaustavghosh06 Thanks for the workaround! I hope the AWS team will not do breaking changes like this one!

[2019-09-24 15:21] hisham opened #2390 "Running `amplify api gql-compile` results in 'TypeError: Cannot convert undefined or null to object'"
**Describe the bug**
I recently upgraded to 3.9.0 and now `amplify api gql-compile` results in this error: `TypeError: Cannot convert undefined or null to object`

**Additional context**
Not sure what you need to identify root cause. Happy to provide more info.

[2019-09-24 15:31] SebSchwartz opened #2391 "Codegen add with apiId breaking when initialising new dev"
**Describe the bug**
When adding codegen to a project (appsync not created with amplify) with apiId option. If a new developper enter the project and init amplify selecting an existing env, amplify status will tells him that pushed changes will delete it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an amplify project and add codegen: amplify add codegen --apiId AppSyncAPIid
2. Pus

[2019-09-24 15:46] hisham commented on #2390
Now I get the error again, after I changed the graphql schema and did a push.

[2019-09-24 16:04] oliverandersencox commented on #2353
@kaustavghosh06 in case anyone else missed it like it did, eu-west-1 is there:
'u-west-1: arn:aws:lambda:eu-west-1:399891621064:layer:AWSLambda-Python-AWS-SDK:1'

missing an e at the start

[2019-09-24 16:21] kaustavghosh06 commented on #2353
@oliverandersencox Thanks for catching that. I've made the correction in my response above.

[2019-09-24 16:25] dbrunet73 opened #2392 "Ability to have custom Category templates"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
We would like to be able to customize the CF templates generated in any category (AUTH, API, etc). So i am proposing that you have an option available that when we add a new Amplify Category, that it offers the option to use a templa

[2019-09-24 17:42] David-dp- commented on #1644
Attila, since I posted about my problem, the engineer has been back from
vacation for a couple months and upgraded our amplify version in our repo.

I'm not sure why but he renames our amplify/.config/project-config.json
to amplify/.config/project-config.orig before committing it, and my
understanding is that I need to change the extension back to .json if I
want to use it. When I do that and then

[2019-09-24 17:49] andrew-aernos commented on #1481
where can I find the documentation on the parameter syntax? By the looks of `authcognito78b2fcUserPoolId`, it is formatted as
`<category: auth><resource: cognito78b2fc><attribute: UserPoolId>` on the receiving end of the dependent resource.

[2019-09-24 18:35] ericclemmons commented on #2385
For anyone finding this from Google because their GraphQL API is returning `Elasticsearch:UserIllegalArgumentException` errors with the message:

This bug appears to be related.  Subscribe to this thread & try out the fix listed here: https://github.com/aws-amplify/amplify-cli/issues/2385#issuecomment-534389117.

[2019-09-24 19:49] houmark commented on #1867
I think it defaults to the default now, but unfortunately, when I add a new model/collection in DynamoDB it's still defaulting to KMS because it seems like I'm locked into the old way of doing it. Too early to tell for us if this lowered the request amount, but have a hunch that it did.

[2019-09-24 19:51] amirmishani opened #2395 "AWS Appsync Optimistic Response and Models that have relationships using @connection"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS Appsync SDK

** Provide additional details e.g. code snippets **
How do you get AWS Appsync Optimistic Response to work when your models have relationships using @connection?

The generated mutation input fields don't take "jobs" as input but the optimistic response requires it to work. I get this

[2019-09-24 21:09] jkeys-ecg-nmsu commented on #1100
@kaustavghosh06 @UnleashedMind do you no longer support this? The documentation got nuked.

[2019-09-24 21:13] kaustavghosh06 commented on #1100
@jkeys-ecg-nmsu We have this doc out here - https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-roles--mfa

[2019-09-24 21:26] jkeys-ecg-nmsu commented on #1100
@kaustavghosh06 yeah sorry I found it. I was referencing this post which has a broken url. https://github.com/aws-amplify/amplify-cli/issues/1100#issuecomment-475717527

[2019-09-24 21:27] kaustavghosh06 commented on #1100
@jkeys-ecg-nmsu We refactored our docs and some sub-links are not redirected correctly.

[2019-09-24 21:28] tgjorgoski commented on #1867
Ah, OK, I don't know what the defaults are, but  I changed the parameter according to PR #1887 , and then provisioned a new environment , and the tables were not using KMS.

[2019-09-24 21:43] houmark commented on #1867
@tgjorgoski Nice, I had missed that one-liner. Will try adding it to see if my next model comes out as default without provisioning a new environment.

[2019-09-24 21:44] houmark commented on #1867
Actually, I did see this a while back and the reason for not trying it out is the requirement to create a new environment before adding it. I don't need a new environment, I need the ones I have fixed. I guess I have to live with manually changing KMS on new DynamoDB tables in the future.

[2019-09-24 23:00] #2383 closed

[2019-09-24 23:20] ianshea opened #2396 "@auth public/private IAM roles and other Providers"
** Which Category is your question related to? **
API/Auth/Appsync

** What AWS Services are you utilizing? **
Appsync/Auth

** Provide additional details e.g. code snippets **

I'm building a product catalog.

- Unauthenticated users should be able to see products.
- Authenticated users should be able to see products.
- Authenticated "Admin" users should be able to edit products.

I've setup my p

[2019-09-24 23:31] char-chen opened #2397 "add-graphql-datasource plugin availability for other regions"
When will this plugin be available for other regions?

[2019-09-25 00:17] affablebloke commented on #682
I ran into a similar situation `Only one resolver is allowed per field`. Maybe this will help other developers out there. It seems like AppSync has a chicken before the egg problem and this should be *reported to the AWS AppSync development team*.

We had a GraphQL type named `ChangeInCondition`, which had resolvers wired up. Somehow CloudFormation rolled back a deploy and removed the GraphQL type

[2019-09-25 00:18] kevcam4891 commented on #2390
Yes, `amplify env pull` is the solution to bring things back up to date. Also, what version of amplify-cli are you using? `amplify --version`? I am running into this issue almost never now that I'm using the latest version 3.9. I was using 3.0 when this was happening for me a lot.

[2019-09-25 00:21] kevcam4891 commented on #2384
Agree. This would be a really nice feature, as I am running into the same thing. What gets me is I've started to defined some tables a while back, informally, and am now going back and adding extra indexes, which triggers a "replace" according to cloudformation, which sets off the issue you describe. I'd like to dig into the code and see if something can be done because it becomes tricky to remove

[2019-09-25 00:28] kevcam4891 commented on #2378
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-amplify-app.html

Looks like this is something that could be added to the CLI at some point, now that cloudformation supports AppSync (as of June 2019)

[2019-09-25 00:31] kevcam4891 commented on #2376
It should be as simple as placing your .req and .res (and sometimes not even .res) resolvers into the `resolvers` folder. Whatever is in that folder overrides what ever resolver is naturally created by the CLI. Is the override not working as anticipated?

[2019-09-25 00:38] andrew-aernos opened #2398 "Custom Cloudformation Stacks to manage growing list of custom resolvers and its dependencies"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify CLI custom categories and resources

** What AWS Services are you utilizing? **
Amplify, AppSync GraphQL custom resolvers, Cloudformation

** Provide additional details e.g. code snippets **
Amplify version 3.9.0
Following the guidelines here

[2019-09-25 02:41] DanielMuller opened #2401 "Additional configurations on Storage Bucket"
** Which Category is your question related to? **
Storage

** What AWS Services are you utilizing? **
Amplify-CLI, Storage, Auth

** Provide additional details e.g. code snippets **
Somehow related to #2279, on being able to extend cloudformation templates generated by Amplify.

My app just uses Storage and Auth (no API) to allow users store and retrieve files.

I create a storage bucket with `amp

[2019-09-25 02:52] hisham commented on #2390
[code]

Yeah `amplify env pull` fixes but it seems to re-occur again after push with changed gql schema.

[2019-09-25 04:46] singhmaheshk commented on #2353
Hi Guys,
From 20th Sept, 2019 I started getting below error for my lambda function which read the data from dynamodb stream and post it to AWS elasticsearch. Below is the error. Is this cause by AWS lambda upgrade? Are they going to rollback or provide any fix? Any help/suggestion would be highly appreciated.

('ERROR: ', 'Traceback (most recent call last):\n File "/var/task/lambda_function.py", l

[2019-09-25 04:47] cylim commented on #2385
The issues should be related to https://github.com/boto/botocore/issues/1544

[2019-09-25 05:11] nateiler opened #2402 "Mock Resolver CF doesn't interpret 'RequestMappingTemplate' or 'ResponseMappingTemplate'"
When mocking the API, the resolver 'RequestMappingTemplate' and 'ResponseMappingTemplate' CloudFormation are not taken into consideration; it appears only the file base ("RequestMappingTemplateS3Location" and "ResponseMappingTemplateS3Location") approach is supported.  Did a little investigation which led me to:

https://github.com/aws-amplify/amplify-cli/blob/c9829e22aed7082798605f23aeff978ac1fa8

[2019-09-25 05:27] nateiler opened #2403 "Provide additional App context to Resolvers / Pipeline functions"
This problem stems from trying to perform a batch DynamoDb operation (via a resolver) and unable to easily construct the proper table name.

Suggesting the 'AppId' and 'Environment' are passed via additional context to resolvers and pipeline functions.

[2019-09-25 08:20] babu-upcomer commented on #2385
@kaustavghosh06 Why is it amplify CLI, JS, Cognito and Lambda teams are working out of sync? There has been hundreds of issues referring one another in the github itself. I do not want to highlight the feedback I get from the AWS support. To make the amplify a complete framework to serverless cloud problems you guys should work in sync.

Back to the issue, this issue has halted our ES indexing for

[2019-09-25 08:52] eelzinaty commented on #2353
Hey everyone,

I had this problem and I followed the solution that @kaustavghosh06 suggest and everything went well. Then I created a cloudformation template to fix this. I want to share this template with you guys, in case it might help someone.

[code]

[2019-09-25 09:23] sacrampton commented on #2386
I've implemented the recommended workaround and still seeing "Unable to import module 'python_streaming_function': cannot import name 'BotocoreHTTPSession' " in the logs. This is critical.

[2019-09-25 09:26] sacrampton commented on #2385
The above workaround appears not to be making any difference. This is a critical issue so I'd appreciate some feedback on the validity of the work around.

[2019-09-25 09:57] SebSchwartz opened #2404 "Codegen not working in V3.9.0"
**Describe the bug**
When adding codegen, it brokes all amplify-meta.json files.

**To Reproduce**
1. Just amplify codegen add --apiId XXXX
[code]
-> amplify-meta.json in both directories (current & backend) now looks like: [object Object]

**Expected behavior**
Possibility to add codegen with no error.

**Desktop (please complete the following information):**
CLI 3.9.0

[2019-09-25 12:31] SebSchwartz commented on #2404
I'm using a profile with amplify, don't know if this could help debug.

Using the CLI, i'm able to do: aws appsync get-graphql-api --api-id XXX --region eu-west-1

[2019-09-25 13:04] kevinold opened #2405 "Joint access to DynamoDB record with AppSync using Dynamic Group Authorization"
** Which Category is your question related to? **
Authentication and Authorization

** What AWS Services are you utilizing? **
Amplify CLI 3.9.0, AppSync, Cognito, DynamoDB

** Provide additional details e.g. code snippets **

I have a requirement of having 2 users with shared access to a DynamoDB Item.

I cannot use a Cognito Group for the users, as I wish to have 2 users that sign up via social

[2019-09-25 13:41] #2397 closed

[2019-09-25 15:13] diego-palmeira commented on #703
Hi, I need the Amplify function layers too. Have you any roadmap to include it?
Could you suggest how to share code between lambda functions inside a same Amplify project?
e.g.

[my-project]
----|- amplify
--------|-backend
------------|- function
------------------|- [my-function A]
------------------|- [my-function B]
------------------|- [shared-code?] <-- layer code?

Any recommendation?

As a

[2019-09-25 15:28] magjack opened #2406 "Multi App Hosting and Resource Sharing"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
I have been using aws amplify to create a multi frontend application with the same backend. The solution I have employed is described here https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends. This works wel

[2019-09-25 15:53] houmark commented on #703
I'd also like to hear of workarounds until Lambda Layers are supported.

For now I have redundant code some places, and been considering to create a private git repository/npm package and then install that in each function. But this would still require `npm update` of all functions using the package when I do changes to this shared library. So once my shared code lib is "stable" and with mininmal

[2019-09-25 15:56] hisham commented on #703
I was able to workaround this using yarn workspaces with a private npm package hosted on npmjs that can still be locally modified. It's not perfect, for example symlinks need to be resolved before an amplify push so I have a wrapper script that does that for me. Probably similar workarounds can be done using npm link. I'm hoping for official support for lambda layers soon!

[2019-09-25 17:07] wmcbain opened #2407 "Issues with migrating to multi envs from a previous custom multi env setup"
**Note**: I initially sent this to the amplify team email and was told to post here. If anyone has any feedback on this it would be greatly appreciated 🙌🏻.

**Issue**:

Our team has been trying to migrate our amplify-cli to the latest version and we’re reaching out for advice on how to proceed as we’ve run into some issues. Our setup is a little unique which makes it a bit more challenging than us

[2019-09-25 17:34] UnleashedMind commented on #2392
@dbrunet73
The CloudFormation template generated by the CLI can be edited before you run `amplify push` to actually create/update the aws resources.
However, if you manually modify the CLI generated template, some of the Amplify CLI commands such as `amplify <category> update` may break, and if the template is not valid, `amplify push` will fail because CloudFormation update will fail.

[2019-09-25 18:06] UnleashedMind commented on #2208
@christodupreez
Try the following to update the amplify cli to the latest version first.
- `npm remove -g @aws-amplify/cli`
- `npm install -g @aws-amplify/cli`
Maybe add `sudo` in front of the command if there's a permission issue.

The Amplify CLI currently does NOT support importing an existing category into a new project.
But you can run `amplify env pull` to pull down the current environment f

[2019-09-25 18:20] tluolamo commented on #2353
@kaustavghosh06 I still have the workaround in place and it seems to continue to work for me, I'm not planning to remove it anytime soon if this continues. Probably adding the workaround layer or creating a custom layer for the function would be the safest option for amplify to make sure the function doesn't suddenly break if this upgrade is pushed up again.

[2019-09-25 18:25] swaminator commented on #2406
Have you used the Amplify Console for hosting your app with multienv? The flow works well with multienv: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html#team-workflows-with-amplify-cli-backend-environments

[2019-09-25 18:42] kaustavghosh06 commented on #2407
@wmcbain Did you get an error log - stating if the migration failed or succeeded?

[2019-09-25 19:15] kaustavghosh06 commented on #2407
@wmcbain Also, it'll be super helpful to know your current directory structure after the migration and what's the error you're getting when trying to push again or creating a new environment.

[2019-09-25 20:07] wmcbain commented on #2407
@kaustavghosh06

I did not use `amplify migrate` as we have two environments that already exist within the project. I've migrated our staging configuration using the manual migration guide. However I've avoided adding the conditions to the templates that change resource names based on the env variable.

I've made some progress but I'm still catching errors trying to `amplify push`.

[code]

[2019-09-25 20:17] tgjorgoski opened #2408 "Any way to avoid duplicated data from graphql query"
Say you have a graphql schema like this:

<img width="662" alt="Screenshot 2019-09-25 at 22 16 44" src="https://user-images.githubusercontent.com/1822105/65636233-34073000-dfe2-11e9-81ed-7209749be814.png">

If you want to get all the required data for rendering the chat in a single query, the query would look something like this:

<img width="356" alt="Screenshot 2019-09-25 at 22 11 17" src="https

[2019-09-25 21:06] Muazzamkhan95 opened #2409 "I am stuck while installing aws-amplify/cli"
can any one help me in fixing this issue. really quick
![asdfasdf](https://user-images.githubusercontent.com/17087133/65639642-eef2f600-e001-11e9-97cc-15e2b06b04da.PNG)

ERROR LOG
[2019-09-25T21_04_22_588Z-debug.log](https://github.com/aws-amplify/amplify-cli/files/3654778/2019-09-25T21_04_22_588Z-debug.log)

[2019-09-25 21:07] thedgbrt commented on #703
I’ve been rocking a similar setup. Basically I’ve created a monorepo with Lerna + yarn workspaces, with different functions for reuse between functions of my amplify project. It’s useful but not ideal. Especially since some of them are close to 50M when packaged (using pupeteer), it will require a full upload each time. Lambda layers would eliminate that problem.

[2019-09-25 21:26] kaustavghosh06 commented on #2409
@Muazzamkhan95 What's the node version you're running?

[2019-09-25 21:29] Muazzamkhan95 commented on #2409
v10.15.3

[2019-09-25 21:30] Muazzamkhan95 commented on #2409
@kaustavghosh06

![image](https://user-images.githubusercontent.com/17087133/65641173-886fd700-e005-11e9-8261-bc2adfa8a8e1.png)

[2019-09-25 21:30] kaustavghosh06 commented on #2409
Can you try running `npm install -g @aws-amplify/cli --unsafe-perm=true --allow` and let me know if you see any errors?

[2019-09-25 21:37] kaustavghosh06 commented on #2409
@Muazzamkhan95 I was able to successfully install the CLI in windows - on powershell just right now

<img width="831" alt="Screen Shot 2019-09-25 at 2 36 28 PM" src="https://user-images.githubusercontent.com/7247658/65641541-e9fe5a00-dfa1-11e9-8916-2ca9011164aa.png">

[2019-09-25 21:38] Muazzamkhan95 commented on #2409
Thanks @kaustavghosh06  these extra flags worked
![image](https://user-images.githubusercontent.com/17087133/65641615-b0136f00-e006-11e9-8f33-e4a6aae35327.png)

[2019-09-25 21:39] #2409 closed

[2019-09-25 21:41] kaustavghosh06 commented on #2407
@wmcbain "UPDATE_FAILED               storageStaging       AWS::CloudFormation::Stack Wed Sep 25 2019 15:52:51 GMT-0400 (Eastern Daylight Time) Parameters: [env] do not exist in the template

^This is the main issue. If you add the "env" as a parameter in your Cloudformation templates, you should be good - since the CLI auto-injects the env parameter as input for each of the Cloudformation templat

[2019-09-25 21:45] Muazzamkhan95 opened #2410 "Amplify config and Amplify init Error !"
![image](https://user-images.githubusercontent.com/17087133/65642015-aa6a5900-e007-11e9-84a6-e538300de38e.png)

![image](https://user-images.githubusercontent.com/17087133/65641901-68411780-e007-11e9-8c68-6e8bbb7c8abe.png)

[2019-09-25 21:45] ianshea commented on #2396
Following up, I believe I have sorted through this issue.

I've ensured my API uses both Cognito User Pools and IAM for authentication using the CLI. And verified within the console.

With the `aws-exports.js` configured to use Cognito User Pools as default:
`"aws_appsync_authenticationType": "AMAZON_COGNITO_USER_POOLS",`

I've updated my `@auth` transformer in my schema:
[code]

My assumption is

[2019-09-25 21:51] kaustavghosh06 commented on #2410
@Muazzamkhan95 This is super weird. I've seen this issue before in one of the threads and the user re-installed the CLI using yarn - `yarn global add @aws-amplify/cli` and got rid of this error. We'll deep dive into this but in the meanwhile you can try yarn and let me know if this worked.

[2019-09-25 21:53] Muazzamkhan95 commented on #2410
have a look at yarn errors
![image](https://user-images.githubusercontent.com/17087133/65642465-b9054000-e008-11e9-98c9-6791f5c74ddf.png)

[2019-09-25 21:56] UnleashedMind commented on #2410
@Muazzamkhan95
Ignore the npm installation errors for now, and try to run the `amplify configure` and `amplify init` commands, see if they succeed.
If not, try to run `amplify plugin list` -> `active plugins` and see if it contains `awscloudformaiton`

[2019-09-25 21:57] Muazzamkhan95 commented on #2410
![image](https://user-images.githubusercontent.com/17087133/65642735-69734400-e009-11e9-9545-ec5331d17e96.png)

[2019-09-25 22:02] Muazzamkhan95 commented on #2410
@UnleashedMind there is nothing like  **awscloudformation**

[2019-09-25 22:03] UnleashedMind commented on #2410
Thanks.
Could you do the following:
- go to C:\Users\muazz\AppData\Local\Yarn\Data\global\node_modules\@aws-amplify\cli\node_modules
See if you can find the plugins: packages that start with `amplify-', and see if you have `amplify-provider-awscloudformaiton`

[2019-09-25 22:04] #2386 closed

[2019-09-25 22:04] UnleashedMind commented on #2410
then do a `amplify plugin scan`, and see if it resolves your issue.
BTW, this is not a typical issue, but we've seen this happen on Windows.

[2019-09-25 22:06] Muazzamkhan95 commented on #2410
Yes i have `amplify-provider-awscloudformaiton`
![image](https://user-images.githubusercontent.com/17087133/65643202-88bea100-e00a-11e9-8d06-7302ad7ed4bd.png)

[2019-09-25 22:08] UnleashedMind commented on #2410
great!
- do a 'amplify plugin scan`,
- run 'amplify plugin list` -> 'active plugins` -> scroll down and see if there's a `awscloudformation`
- if yes, you are good to go
- if not, run `amplify plugin add` and paste the full path `C:\Users\muazz\AppData\Local\Yarn\Data\global\node_modules@aws-amplify\cli\node_modules\amplify-provider-awscloudformation`, see if you get an error.

[2019-09-25 22:09] Muazzamkhan95 commented on #2410
after running scan there is no fix..

![image](https://user-images.githubusercontent.com/17087133/65643321-e652ed80-e00a-11e9-9454-9a641ee65a37.png)

[2019-09-25 22:16] UnleashedMind commented on #2410
How about `amplify configure`? it is also still failing?

[2019-09-25 22:17] Muazzamkhan95 commented on #2410
Successfuly added Plugin.

![image](https://user-images.githubusercontent.com/17087133/65643824-24044600-e00c-11e9-8c4b-6f7c937129fb.png)

[2019-09-25 22:18] Muazzamkhan95 commented on #2410
It Worked ! @UnleashedMind

![image](https://user-images.githubusercontent.com/17087133/65643871-3bdbca00-e00c-11e9-99f2-75b98e90171e.png)

[2019-09-25 22:19] UnleashedMind commented on #2410
great!
but that's only step one.
We need to figure about the frontend plugin issues. Please check the same for the `amplify-frontend-javascript` plugin

[2019-09-25 22:20] Muazzamkhan95 commented on #2410
oohk... let me do it really quick

[2019-09-25 22:21] Muazzamkhan95 commented on #2410
i have amplify-frontend-javascript in me directory..

[2019-09-25 22:22] UnleashedMind commented on #2410
great! add it manually like before, and run `amplify init` again.

[2019-09-25 22:25] Muazzamkhan95 commented on #2410
I am really thankful Dear @UnleashedMind
it worked..
i was tackling with this error for more then 6 hours :)
Thanks alot
![image](https://user-images.githubusercontent.com/17087133/65644246-303cd300-e00d-11e9-8de8-d39c3920eb02.png)

[2019-09-25 22:26] UnleashedMind commented on #2410
No problem.
Please let us know the Operating System, we need to investigate more on this.

[2019-09-25 22:28] Muazzamkhan95 commented on #2410
![image](https://user-images.githubusercontent.com/17087133/65644424-a2151c80-e00d-11e9-81a4-5b67ac1d5ffc.png)

[2019-09-25 22:28] UnleashedMind commented on #2410
Thanks

[2019-09-25 22:53] Muazzamkhan95 commented on #2410
@UnleashedMind can you please tell me which plugin i needed for this.
![image](https://user-images.githubusercontent.com/17087133/65645506-359c1c80-e011-11e9-83c7-6f9e4552b3ba.png)

[2019-09-25 23:19] UnleashedMind commented on #2410
try this:

- `amplify plugin configure` -> `scannable plugin directories` -> `add` -> and paste this: `C:\Users\muazz\AppData\Local\Yarn\Data\global\node_modules@aws-amplify\cli\node_modules\`

[2019-09-25 23:32] Muazzamkhan95 commented on #2410
@UnleashedMind Not worked.

[2019-09-25 23:33] pspanchal commented on #2376
Yes, it is not working as you are suggesting. Even if I change the name of the vtl file in the Resources section it always throws the same error that the response vtl file is not found. Please note that I am doing amplify mock api. and have not yet done amplify push. Could this just be a bug with mock??

[2019-09-25 23:39] Muazzamkhan95 commented on #2410
these are all plugins configured.... but getting error while running amplify auth add
![image](https://user-images.githubusercontent.com/17087133/65647208-68491380-e017-11e9-972a-2a0d8765ae15.png)

[2019-09-25 23:50] UnleashedMind commented on #2410
because the `auth` plugin is not found.
Could you do a `amplify plugin list` and try to local `auth`?

[2019-09-25 23:51] Muazzamkhan95 commented on #2410
did't understand.

[2019-09-25 23:52] Muazzamkhan95 commented on #2410
![image](https://user-images.githubusercontent.com/17087133/65647862-7f890080-e019-11e9-8a2e-fcabd288a908.png)

[2019-09-26 00:18] Muazzamkhan95 commented on #2410
its fixed .... thanks @UnleashedMind  for you help..

the issue was that..
on window there is some rules or something which is preventing to scan plugins so you have to add plugins manualy ...

`amplify plugin configure -> scannable plugin directories -> add -> and paste this: C:\Users\muazz\AppData\Local\Yarn\Data\global\node_modules\`

by using this,,

[2019-09-26 00:18] #2410 closed

[2019-09-26 00:22] blairtaylor opened #2412 "Using enums in our graphql schema"
We are using enums in our graphql schema in Amplify/AppSync.

We are confused as to what Amplify enforces and how to use the enums. Simply saving the string values works fine but we'd really like to limit available options to enums to add integrity to the code.

What is the best way to save an enum using a mutator and to compare queried values using the enum. The generated /src/graphql files don't

[2019-09-26 00:32] sacrampton opened #2413 "FILTER OFFLINE CACHE - ALTERNATE RESOLVERS FOR OFFLINE"
**Is your feature request related to a problem? Please describe.**

Any query that is made is cached and available for offline access. So if I'm online and query for all assets in a facility all of those records will be cached. When I'm offline I can repeat the query for all assets in the facility and see those records. However, if I would like to filter that offline cache by modifying the query (

[2019-09-26 00:33] AlessandroAnnini opened #2414 "Break connection between graphql nodes"
**Is your feature request related to a problem? Please describe.**
I would like to break the connection between two graphql nodes without deleting one of them.

**Describe the solution you'd like**
I would like to break the connection setting one of the two connection id to null

[2019-09-26 00:38] kaustavghosh06 commented on #2415
@bagubits Please refer to https://github.com/aws-amplify/amplify-cli/issues/2385#issuecomment-534691122 and checkout the thread to learn more about this issue.

[2019-09-26 00:41] UnleashedMind commented on #2121
@leantide
I was not able to reproduce the error.
Could you send a screen shot with the error messages?

[2019-09-26 00:42] nikhname commented on #2380
This is fixed by https://github.com/aws-amplify/amplify-cli/pull/2355

[2019-09-26 00:43] #2380 closed

[2019-09-26 04:40] pnadkar opened #2418 "Amplify API codegen fails - UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, mkdir 'D:\'"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
After the latest install of ampliy 3.10.0, did a codegen with api id

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'command prompt root'
2. Paste this for the code gen amplify add codegen --apiId <API_ID_HERE>
3. See error
[code]
**Expected behavior**
It should add the

[2019-09-26 05:25] leantide commented on #2121
Unfortunately, in order to reproduce, I think I would have to tear down my backend which is no fun.
But I did copy and paste the error message. It said: "Error: Your socket connection to the server was not read from or written to within the timeout period. Idle connections will be closed."

The error seemed like a direct result of a long 1.5 minute build time, probably not that there happened to b

[2019-09-26 08:11] magjack commented on #2406
I used the Amplify console and it has my desired behaviour of being able to host 2 apps independently and make use of the same backend code. My confusion came from adding hosting to an environment with amplify-cli and I thought this had to be configured before you could use the amplify console. I have since removed all hosting done via the cli in favour of the console. Thank you.

[2019-09-26 08:11] #2406 closed

[2019-09-26 08:13] xerxses opened #2419 "How I can resolve multiapi for mobile platform generation?"
** Which Category is your question related to? **
Codegen

** What AWS Services are you utilizing? **
Amplify for generation AppSync API file

** Provide additional details e.g. code snippets **
I have in cloud three APIs(dev, release, prod). As I understood env didn't have any role on mobile side generation. I have one created environment and do the next: amplify codegen add --apiId, remove .grap

[2019-09-26 08:13] xerxses opened #6939 "How I can resolve multiapi for mobile platform generation?"
** Which Category is your question related to? **
Codegen

** What AWS Services are you utilizing? **
Amplify for generation AppSync API file

** Provide additional details e.g. code snippets **
I have in cloud three APIs(dev, release, prod). As I understood env didn't have any role on mobile side generation. I have one created environment and do the next: amplify codegen add --apiId, remove .grap

[2019-09-26 08:19] raphdom opened #2420 "What is the simple way to add custom queries"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS App Sync

** Provide additional details e.g. code snippets **
My schema is the following:
[code]

I'm using Angular and this generate the query to list all songs, but I want to restrict the result to have only the id, name and the author, what is the simple way to do this? I cannot found this in t

[2019-09-26 09:10] michelem09 commented on #1546
@babu-upcomer workaround works but you need also:

***-template.yml changes**
Add
[code]

Remove
[code]

***-parameters.json changes**
Add
`"aliasAttributes": ["email", "phone_number", "preferred_username"],`

[2019-09-26 09:23] babu-upcomer commented on #1546
@michelem09 yeah! my choice of words :( @springcoil Yes this works as a complete solution.

[2019-09-26 10:00] ahansson89 commented on #1013
Just ran into this as well. I expected that list and get to return the same data from the items level.

[2019-09-26 12:53] zetsnotdead commented on #1789
@yuth any updates on this?  I see this is still pending review.

[2019-09-26 13:39] tw1t611 commented on #2372
Hi, sorry I am late.
Here is the schema for the webshop:
[code]

[2019-09-26 13:49] 4leyam commented on #2284
i'm having the same problem when i'm trying to add the auth service with google as provider, is there any way, or hardcoded value that can be filled on SupportedLoginProviders in order to get the process done?

[2019-09-26 14:41] aireater opened #2421 "Team-members sharing the same dev backend"
I'm following the instructions here:

https://aws-amplify.github.io/docs/cli-toolchain/quickstart#team-members-sharing-the-same-dev-backend

When the developer follows the instructions he is taken to the AWS console but he is logged into his account.

I couldn't find anything in the documentation to complete the setup.

I copied the IAM user that was created when I configured my amplify account an

[2019-09-26 15:02] aireater commented on #997
It would be nice if we could have an `@trigger` directive that works like the `@function` directive.

[2019-09-26 16:14] tw1t611 commented on #2372
FYI: I found another bug, which may is related to the problem.
The following auth rule allows mutation by the owner as expected.
`@auth(rules: [{ allow: owner }, { allow: public, queries: [get, list] }])`

This auth rule does not allow mutation by the owner, even if it is only restricted to public.
`@auth(rules: [{ allow: owner }, { allow: public, queries: [get, list], mutations: null }])`

The sa

[2019-09-26 16:34] lenarmazitov opened #2422 "Odd response resolver generated."
**Describe the bug**
I get this kind of response resolvers for some mutations when I execute **amplify push**:
![image](https://user-images.githubusercontent.com/600133/65706402-17770080-e093-11e9-9fb9-1fa6d5bd85f7.png)

Mutation successfully updates table. But nested objects which I request in mutation have NULL value.

When I replace response resolver with simple:
[code]
the problem dissapears

[2019-09-26 17:10] SwaySway commented on #2405
Merged PR #2180 fixes this issue as well marking as pending-release

[2019-09-26 17:18] UnleashedMind commented on #2121
Lambda function build is a local operation, it does not involve server connection. It's puzzling why there was such error, that's why I was trying to get the original error message screenshot to get more information.

[2019-09-26 17:19] #2300 closed

[2019-09-26 17:42] nikhname commented on #2404
This is a duplicate of #2360. The fix has been merged and released version 3.10.0

[2019-09-26 17:42] #2404 closed

[2019-09-26 17:48] yuth commented on #2402
This was reported in #2306 and fixed in #2355 and the change was released in Amplify CLI 3.10.0. If you are still facing this issue after installing the latest version please feel free to re-open/comment on this issue

[2019-09-26 17:52] nateiler commented on #2402
This one is a little different.

This one is referring to not being able to define the template inline when mocking (currently only file base is supported).

[2019-09-26 18:19] yuth commented on #2412
Codegen does not expose the enums. I am adding this to our back log and we will work on this once the product team prioritize this.

[2019-09-26 18:20] SwaySway commented on #2422
@lenarmazitov The duplication of this set has been fixed in the latest release.
Are you using per-field `@auth`? If you are this is to protect the subscription which you can read more about here:
https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions

[2019-09-26 18:24] UnleashedMind commented on #2421
There are two ways to do this.
1. In the IAM console of the team's account, add an IAM user for the team member, and the team member should log into the aws using the team IAM user's credentials. Then the team member should put the credentials into the configuration files  ~/.aws/credentials and ~/.aws/config as a profile. Run `amplify configure project` on the project and select this profile for

[2019-09-26 18:26] TrueLecter opened #2423 "add-graphql-datasource is not showing list of secrets"
**Describe the bug**
No keys available to select

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project, `amplify init`, `amplify add api`
2. Create RDS instance (Aurora PostgreSQL compatible with PostgreSQL 10.7, serverless)
3. Execute `amplify api add-graphql-datasource`, try to complete quiz.
4. See error

**Expected behavior**
Being able to use RDS as datasource.

**Screensho

[2019-09-26 19:01] udeshx opened #2424 "Elasticsearch returns error "Elasticsearch:UserIllegalArgumentException""
**Describe the bug**
when @searchable is used in the graphql.schema file the elasticsearch cluster returns an error when queried from the app and the console.

**To Reproduce**
Steps to reproduce the behavior:
query the instance of elasticsearch via the graphql console or app

to solve the issue I have tried
upgrading amplify cli
upgrading elasticsearch from 6.2 to 6.8
removing @searchable and run

[2019-09-26 19:07] oste opened #2425 "s3 Trigger Lambda function permission update to include s3 iam bug"
**Describe the bug**
When adding s3 read permission to an existing s3 trigger the generated iam policy is not correct.

Notice how the Resource name is set to `arn:aws:s3:::storagetestBucketName/*`
<img width="878" alt="Screen Shot 2019-09-26 at 2 51 38 PM" src="https://user-images.githubusercontent.com/350275/65717246-d79e2200-e06e-11e9-8c2a-1816f4195e89.png">

Here is the IAM policy
[code]

It s

[2019-09-26 19:27] udeshx commented on #2424
Still not fully solved
It was that the index was not being created.

![index built](https://user-images.githubusercontent.com/28942294/65718573-28516180-e0e7-11e9-9b5a-8dd26de30247.PNG)
Now the console works, but the app is still failing

![console works but app still fails](https://user-images.githubusercontent.com/28942294/65718572-28516180-e0e7-11e9-9fd3-66f29687123e.PNG)

I don't know what too

[2019-09-26 19:38] udeshx commented on #2424
The application failing could be related to the issue linked below.
The issue could be the codegen that is creating the search query.
could be a similar issue to this
https://github.com/aws-amplify/amplify-cli/issues/2080

query SearchMarkets(

  $filter: SearchableMarketFilterInput
  $sort: SearchableMarketSortInput
  $limit: Int
  $nextToken: String
) {
  searchMarkets(
    filter: $filter
    s

[2019-09-26 20:25] yuth commented on #2376
We had a [bug](https://github.com/aws-amplify/amplify-cli/issues/2306) in mock where the resolver template names were not honored. We fixed it in https://github.com/aws-amplify/amplify-cli/pull/2355 and as released in Amplify CLI 3.10.0.

Please feel free to comment here/re-open the issue if this is not resolved in the latest release.

[2019-09-26 20:25] #2376 closed

[2019-09-26 20:39] udeshx commented on #2424
It appears to be working now.
I believe the cause was a delay in the creation of the indices.

[2019-09-26 20:39] udeshx commented on #2424
Since it is working I'll close the issue.
Thanks for the help

[2019-09-26 20:39] #2424 closed

[2019-09-26 21:01] kaustavghosh06 commented on #2425
@oste So the issue is that the `process.env.STORAGE_Test_BUCKETNAME` is undefined in your lambda function?

[2019-09-26 21:32] nateiler opened #2427 "API Mock error when returning within request resolver."
When mocking the API, if you use `#return` within the request velocity template, an error is thrown.  When deployed to the cloud, it works as expected.

Example.req.vtl
[code]

Here is an example error message:
[code]

[2019-09-26 21:35] nikhname commented on #2391
Hi @SebSchwartz, could you upgrade your amplify version to 3.10.0 and see if this problem persists?

[2019-09-26 22:24] SwaySway commented on #2390
@hisham are you able to share the schema as well?

[2019-09-26 22:27] UnleashedMind commented on #2423
@TrueLecter
Did you select the "serverless" mode when you create the RDS database?
It is required to select the "serverless" mode as stated in our document.

[2019-09-26 22:28] bernhardt1 commented on #2385
@babu-upcomer thats rough.

I'm in beta right now and have a similar story (luckily didn't have more than a few dozen people's experience hurt). It kind of undermines my trust in AWS in general to have something like this happen.

[2019-09-26 22:29] hisham commented on #2390
@SwaySway sure I just sent it to amplify-cli@amazon.com

[2019-09-26 22:58] TrueLecter commented on #2423
Yes. All clusters were created with serverless template. Role shown as serverless in console as well.

[2019-09-26 23:14] oste commented on #2425
Yes and I don't think the Ian policy is correct. I could be wrong if that's using a variable of some sort.

[2019-09-26 23:15] SwaySway commented on #2390
@hisham Recieved the schema taking a look. Could you also provide your `.graphqlconfig.yml`? Checking to see if this might be related to #2412, as you mentioned this happened when you updated the enum.

[2019-09-26 23:33] hisham commented on #2390
Sure done.

[2019-09-26 23:36] UnleashedMind commented on #2423
@TrueLecter
Did you create the password for the "master" user? and then use the query editor to create a database in the newly created cluster?
I will send a PR to guard against those scenarios, and print out error messages.

[2019-09-27 00:24] buggy opened #2429 "Restrict/Require fields during create/update with the GraphQL transformer"
**Is your feature request related to a problem? Please describe.**

Currently the transformer assumes that all fields should be settable during create/update. It also assumes the nullability during create/update matches the type. These aren't always true.

Examples:

1. I may allow setting the `projectId` when creating a `Task` but not allow it to be changed when updating the `Task`.

2. The `Task

[2019-09-27 00:50] ntanduc2288 opened #2431 "Unable to install @aws-amplify/cli"
Following this tip https://aws-amplify.github.io/docs/?fromawsmobiledocs=true
My mac is running Node 12.10.0.
While trying to run this command: "npm install -g @aws-amplify/cli" I got the following error:

FEBS requires node 8 to run. (You're on v12.10.0)

Could you please help me out? Thanks in advance!

[2019-09-27 01:08] blairtaylor opened #2432 "Migrating an Amplify application to a new AWS account"
Is there an supported way of migrating an Amplify application to a new AWS account?

If not, what manual steps would we need to take? We don't need to migrate any DynamoDB data but would like to migrate or re-create all the objects (schema tables, lambda functions, s3 storage etc.)

Thanks.

[2019-09-27 01:12] cylim commented on #2385
I think `lambda` should warned developers who using build-in libraries for AWS, this is not only affecting Amplify + Elasticsearch users, but everyone who used deprecated library.

In the meantime, what Amplify can do is to specify version for each dependencies.

[2019-09-27 03:00] sivaprasad-kiranum opened #2434 "AWS Ampolify not generating Google Sign in parameters in awsconfiguration.json for iOS"
**Describe the bug**
The amplify CLI is not asking for the iOS client id, when authentication is added to the Xcode project. The documentation link https://aws-amplify.github.io/docs/ios/authentication#google-with-cognito-identity states that it will ask for Google web client id and iOS client id. But it never asked for iOS client id. It asked for web client id and secret only.

`> $ amplify add a

[2019-09-27 03:56] kevinold commented on #2405
@SwaySway @RossWilliams Thanks for your patches!

I have tested with the fix merged in #2180 pulling the latest master, compiling and deploying my project via `amplify-dev`

My auth rule is defined as:

`## Authorization rule: { allow: groups, groupsField: "groups", groupClaim: "user_groups" } **`

and produces the following response template

[code]

I have verified this response template should

[2019-09-27 06:37] dallinwright opened #2435 "No longer can install @aws-amplify/cli due to amplify-dynamodb-emulator dependency"
Cannot install @aws-amplify/cli due to packing problems with `amplify-dynamodb-emulator` and the introduction of amplify lambda local testing. The failure occurs at the install script for this specific NPM package.

There are multiple permission denied issues with dependency packages which fail only with warnings, but the new npm dependency `amplify-dynamodb-simulator@0.16.0` fails with npm statin

[2019-09-27 06:41] dallinwright commented on #2435
My mistake, the flag was misspelled and should have been `--unsafe-perm` instead of `--unsafe-perms`.

As for the node-gyp, snappy, and zmq erros during install are these expected?

[2019-09-27 07:11] SebSchwartz commented on #2404
Working great again, thanks.

[2019-09-27 07:11] SebSchwartz commented on #2360
Working great again, thanks.

[2019-09-27 07:59] eltonio450 commented on #2022
hi !

Is multiple hosting in the roadmap ? We also feel that the Amplify Console does not meet our needs in this case.

Thank you !

[2019-09-27 09:38] RossWilliams commented on #2405
Your frontend is using the Access Token in the authorization header, custom claims will be on the Id Token

[2019-09-27 10:48] arnaud-cortisse opened #2436 "@auth directive doesn't work as expected when combining {allow: owner} and {allow: private, provider: userPools}"
** Which Category is your question related to? **
Amplify Javascript --> GraphQL Transform --> Directives --> @auth

** What AWS Services are you utilizing? **
Cognito, S3, AppSync.

** Context **
A website has a marketplace you can sell products on.
Users can create markets and add products to them.
Users are identified via Cognito.
There is a relationship (Market <--> Products) using a named con

[2019-09-27 11:57] ericweissmann commented on #868
I also need a way to do this. Without a solution, all of the custom stacks that reference a common resource must be consolidated into a single stack, which is not desirable.

Creating exports and imports doesn't work without being able to control the creation sequence.

The solution @plaa references regarding Lambda stacks indeed doesn't work for custom stacks as these do not have entries in the b

[2019-09-27 13:45] cremich opened #2437 "How to delete a resource with amplify cli for only one environment?"
Hi together,

imagine i have configured one environment with the aws amplify cli (production). In the production environment i have configured a hosting resource with S3/CDN and a auth resource. Now i want to create a dev environment that only contains a auth resource.

Do i have the ability to configure those environments independent from each other? If i create a new environment via amplify add

[2019-09-27 14:18] hron84 commented on #459
Is there a support for a MITM proxy too? I getting TLS errors during the installation behind a corp proxy.

[2019-09-27 15:07] maarteNNNN commented on #621
I get a type error using this:

with the following query:
[code]
TypeError: Must provide Source. Received: undefined
[code]

[2019-09-27 15:21] nick-town commented on #1543
For multi-env setups this is an absolute necessity! A suggested solution would be to provide the real names of the DynamoDB Tables in the schema within the template context, keyed by their `DataSourceName` (or preferably by the name used in the `@model` directive).

[2019-09-27 15:22] aireater commented on #689
I ran into a problem with my function going directly to DDB. I started using `@key` with composite sort keys and needed to go back to the function to duplicate what is being done in the mutation resolvers to construct the field.

If you're working on an app with a quickly changing schema it's going to be a headache to maintain.

[2019-09-27 15:33] damianrr commented on #1543
@iparrabb not that I know of ... I'm in real need of this feature, it's the only piece of my current infrastructure that's hardcoded and using the same table for both dev and prod envs :(

[2019-09-27 15:34] aireater commented on #2421
Thanks @UnleashedMind. Closing.

[2019-09-27 15:34] #2421 closed

[2019-09-27 16:09] kevinold commented on #2405
@RossWilliams Great catch, but I'm still seeing the error with Cognito auth. :(

[2019-09-27 16:12] keenode commented on #2062
@BryceAMcDaniel The brew install for java worked for me as well!

Thank you so much! :)

[2019-09-27 16:12] #2062 closed

[2019-09-27 16:24] phsstory commented on #2204
@JonRave3 python2.7 is end of life is just over 3 months away (2020-01-01) so that solution is proably not a good workaround

[2019-09-27 17:01] phsstory opened #2440 "packages with multiple EOL dependencies causing build errors."
**Describe the bug**
The following dependency chain requires python 2.7 **End of Life 2019-12-31**
[code]
The following dependency chain requires node 8.x **End of Life 2019-12-31**
[code]

**To Reproduce**
Steps to reproduce the behavior:
nvm use 10
npm install --python=python3 @aws-amplify/cli

**Expected behavior**
install without error

**Desktop (please complete the following information):**

[2019-09-27 18:24] phsstory opened #2441 "~/.aws/config profiles with dots not supported with assumed role profiles"
**Describe the bug**
the following profile project-dev cause the error "Error: Profile configuration is missing for: project-dev"

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. amplify init
2. select default values
3. When prompted for using profile: Y
4. Select project-dev
4. See error

**Expected behavior**
Use the profile, the aws cli has no problem with this config

**Additional

[2019-09-27 19:08] #2423 closed

[2019-09-27 19:25] dsmrt commented on #171
First off, @hassankhan really nice break down.

To build off of this issue, I've worked enough with both amplify and cdk now be considering converting an app (which is currently in development) to using cdk instead of amplify's environment building. I need more flexibility which is more of a me problem than an amplify problem but I'm finding myself doing really tricky operations to get things to w

[2019-09-27 19:38] leantide commented on #2121
Could the server connection be opened before the local build operation commenced?

In any case, I just deleted all my lambda 'dist' folders and rebuilt and did not encounter the error. Given the questionable association, and that I cannot reproduce, and that there is a workaround, I will close this. Thank you for your efforts.

[2019-09-27 19:38] #2121 closed

[2019-09-27 19:59] TrueLecter commented on #2423
Ok, so I was able to finally connect to database in Query Editor. However, not I'm getting next issue:
![image](https://user-images.githubusercontent.com/5520406/65798068-6bf4ab80-e179-11e9-87b6-238624a006c3.png)

I was also getting an error, stating that there was no database named <master username>. After that I created database with name same as username and started receiving issue regarding un

[2019-09-27 20:51] RossWilliams commented on #2405
I deployed your project and used the AppSync Console Queries tab to test the endpoint using Cognito auth and was able to insert and list data. The API and schema design appear to work properly from my testing.

It's not clear to me what you mean by "the error with Cognito auth"? Have you tried to make the request using the Id Token?

[2019-09-27 21:11] kevinold commented on #2405
Yes, I am able to do all this in the AppSync Console without issue.

What I am not able to do is see the data in my React application.  I see this after I login as a user:

<img width="1278" alt="65741057-7c8d1f00-e0b0-11e9-9ea2-16fef68ff388" src="https://user-images.githubusercontent.com/21967/65802293-dfc69200-e140-11e9-99a2-8d34b1c039dc.png">

Amplify is configured correctly https://github.com/

[2019-09-27 21:35] nikhname commented on #2432
Hi @blairtaylor, you can do this by running amplify env add. Create a new environment and use the new AWS account, then run amplify push.

For more information feel free to checkout our multi-env docs: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#environments--teams

[2019-09-27 21:45] blairtaylor commented on #2432
Thanks. Could you explain what you mean when you say "use the new AWS account"? Do you need to change settings in one of the files?

[2019-09-27 22:06] nikhname commented on #2432
When you run amplify env add and you create a new env, you will be prompted to choose which AWS profile you want to use. There you can choose the AWS account that you want to migrate to if it is configured. If you haven't configured the new account you want to use, just run amplify configure and follow the steps to set up that account.

[2019-09-27 22:46] blairtaylor commented on #2432
Ok. Thanks we will give this a try.

[2019-09-27 23:07] nikhname commented on #2432
Sure, feel free to comment/re-open if you have further questions.

[2019-09-27 23:07] #2432 closed

[2019-09-28 00:55] nikhname commented on #2435
We are working on fixing the gyp errors but the installation should work fine. Please feel free to comment/re-open if you were unable to proceed after installing with the right flag.

[2019-09-28 00:55] #2435 closed

[2019-09-28 01:09] ntrabue opened #2444 "401 error only in Amplify deployment"
** Which Category is your question related to? **
AppSync? Cognito? Amplify

** What AWS Services are you utilizing? **
AppSync,
Cognito,
Amplify CLI,
Amplify console,
DynamoDB

** Provide additional details e.g. code snippets **
Sorry, I'm sure this is something simple that I'm missing. Deployment to S3 and working locally I'm able to log in, query and mutate data but I get a 401 error on my Ampl

[2019-09-28 01:10] Cas-Laputa opened #2445 "Missing aws_appsync_authenticationType"
**Description**
My application is using AppSync and it is multienv. The `aws-exports.js` is ignored from the Git so when the deployment is triggered by the change in Bitbucket, the amplify configuration is auto-generated internally from the Amplify console during the build. The `aws_appsync_authenticationType` is missing and the frontend will use AWS_IAM as default instead of AMAZON_COGNITO_USER_P

[2019-09-28 08:31] Monder87 commented on #2396
i have similar issue, i got:
[code]
In y case i have already cognito user pool as auth provider, how did you ensured that the  API uses both Cognito User Pools and IAM for authentication using the CLI?
thanks

[2019-09-28 08:34] ambientlight commented on #2256
It's actually a valid question. Can you reopen it?

`@model` backed dynamoDB tables actually come with stream(New and old images) enabled.
It would make sense if there is out of the box support for adding triggers to them.

[2019-09-28 09:36] RossWilliams commented on #2405
Yes, there is more work for you to do on the client side, and you will need to connect your id token to the authorisation header manually if you want to use this approach. Use the custom request header ([docs])(https://aws-amplify.github.io/docs/js/api#set-custom-request-headers-for-graphql) configuration option to inject the Id token for the Auth header. You can get the id token from: ```await Au

[2019-09-28 11:03] ericweissmann commented on #1946
A less desirable alternative would be a $util function that returns the tablename of the associated datasource. It is less desirable because it only solves the problem for single table batch operations -- but it may be easier to implement.

[2019-09-28 11:22] Monder87 commented on #2396
ok, my bad, was actually quite easy, just do :
[code]
and add a auth provider, in my case was IAM

[2019-09-28 14:51] diego-palmeira commented on #2435
Hi, I have similar problems trying to upgrade "@aws-amplify/cli" under:
ubuntu 14.04
npm: 6.0.9
node: v10.16.0

After "npm i -g @aws-amplify/cli@latest" a lot of similar above errors appeared.

How can I remove and resinstall amplify to fix these problems?
What is the correct mechanism to upgrade it?

Thank you,
Diego

[2019-09-28 16:30] kevinold commented on #2405
@RossWilliams Thanks for this info.  I do not recall ever having to do this customization before nor can I find reference in the documentation directing this https://aws-amplify.github.io/docs/js/authentication

I have refactored (https://github.com/kevinold/amplify-notes-test/commit/c483f46df7637af10c71468bba0f9ae34deb9c03) to override the `Authorization` header (https://github.com/kevinold/ampli

[2019-09-28 16:36] mooser opened #2446 "Simple question: how to make required fields handled by resolvers only?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
gql-compile
** What AWS Services are you utilizing? **
amplify-cli -> appsync
** Provide additional details e.g. code snippets **
Here's my schema:
[code]

I want to understand if there is anything I can do to prevent the generated schema from making

[2019-09-28 18:10] mooser commented on #2446
The resolver enforces the default value for "createdAt" with the below generated code.  Another thing I really don't understand, is how it came up with "updatedAt" in addition to "createdAt".  All my schema specified was the "createdAt", but it came up with "updatedAt" all on its own.  More distressing than that even, is "updatedAt" doesn't appear in dynamodb after running "createPost" mutation (s

[2019-09-28 18:16] domi91c opened #2447 "Can I use Amplify as a replacement for S3/CloudFront?"
Just a quick question about Amplify. I managed to get it 90% working in about 5 minutes of work, but for some the Axios calls in my Nuxt app aren't being made.

Am I forced to use the Amplify API, or should Axios work as usual? I'm hoping to use Amplify as a simple replacement for S3/CloudFront, because it's been a very fast way to setup a CD pipeline for my frontend. But I already have my own API

[2019-09-28 18:21] mooser opened #2448 "Amplify push keeps resetting my oauth.domain in aws-exports.js"
If you provide a custom auth.mydomain.com for OAuth in cognito, every time you run amplify push it overwrites aws-exports.js and changes:

[code]

I can't figure out where it is pulling the amazoncognito url from...

[2019-09-28 18:27] kevinold commented on #2405
@RossWilliams I was able to get things working with the Id Token override for the Authorization header as you described. Thanks for your help.

Details and an example of this setup working:

I created a fresh project off of @dabit3's https://github.com/dabit3/aws-appsync-react-workshop jumping straight to adding Cognito Auth with no API Key:

https://github.com/kevinold/amplify-workshop-dabit3

-

[2019-09-28 18:42] mooser opened #2449 "Error: Only one resolver is allowed per field"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

amplify push

** What AWS Services are you utilizing? **

appsync

** Provide additional details e.g. code snippets **

I am new to amplify.   Is it safe to say the experience of using amplify is all about finding ways to work around: "stackUpdateCo

[2019-09-28 19:01] diego-palmeira opened #2450 "Local function debug fails with timeout when calling appsync endpoint"
Hi,
Context:
I'm working in a project which includes a react ui part with an api graphql, and another part in the same project with a lambda function. I want to reuse the api graphql to call the dynamodb using the same queries, etc. In order to use AWS AppSync in lambda functions, after try a lot of ways and appsync client libraries, I'm finally following this great tutorial at:
https://janhesters

[2019-09-28 19:23] mooser commented on #2365
I am also having this issue...   I was originally getting the old "stackUpdate" error, but then I deleted my api and my functions that depend on the api, recreated them, ran amplify push:

Which yml file should I be checking in?

This means I can't reliably get my project back up and running if I run into a stackupdate error while pushing.

[2019-09-28 19:29] mooser commented on #2450
I bet you the reason it doesn't work is because the actual graphql endpoint you have configured by the time it runs
`data = await client.query({ query });`
is not a valid endpoint.

Due to lambda pulling in the graphql endpoint from environment variables, and automatically generating the names of the variables, it is quite easy to get the endpoint wrong because it changed the name of an environmen

[2019-09-28 19:50] mooser commented on #2431
There is no way to run npm install -g @aws-amplify/cli and expect it to work on a modern mac.  Amplify-CLI is basically alpha release use at your own risk.

But, this might work:
`sudo npm install -g @aws-amplify/cli --unsafe-perm=true`

[2019-09-28 20:03] mooser commented on #2365
You know what?  This has nothing to do with yml files in my case...

This issue is fixed for me in PR: #2442

[2019-09-28 20:05] diego-palmeira commented on #2450
mm I dont understand your point. The error say 'request to https://xxxxxx.appsync-api.eu-central-1.amazonaws.com/graphql failed, reason: connect ETIMEDOUT 52.85.219.177:443'
that means the URL is ok, and if I try in a curl in the same VSC debug console, I get...

curl https://xxxxxx.appsync-api.eu-central-1.amazonaws.com/graphql
{
  "errors" : [ {
    "errorType" : "UnauthorizedException",
    "me

[2019-09-28 21:54] alexmcmanus opened #2451 "Type definitions are missing for most modules"
Module `graphql-transformer-core` has typescript definitions - but in order to use it standalone, you need a bunch of other modules that do not. E.g. `graphql-dynamodb-transformer`. Given the source code is Typescript, there doesn't seem to be any reason why you wouldn't also generate type definitions for all of the modules (excepting a few modules where `allowJs` is set: amplify-cli, amplify-grap

[2019-09-28 22:50] mooser commented on #2450
True, well you'll probably need to make a public repo to demonstrate the issue and send me link, because I can attest it does work if configured properly.

[2019-09-29 00:40] kaustavghosh06 commented on #2448
@mooser Can you check your `amplify/backend/amplify-meta.json` file and see if the above domain is present there?

[2019-09-29 00:45] kaustavghosh06 commented on #2353
In the latest version of the CLI - v3.10.0, we've added support for the above mentioned (https://github.com/aws-amplify/amplify-cli/issues/2353#issuecomment-534359395) Lambda Layer in to avoid breaking of the Lambda functions due to the Python Lambda runtime change. Please let us know if you're still seeing this issue.

[2019-09-29 00:45] #2353 closed

[2019-09-29 00:46] #2396 closed

[2019-09-29 00:46] kaustavghosh06 commented on #2385
In the latest version of the CLI - v3.10.0, we've added support for the above mentioned (https://github.com/aws-amplify/amplify-cli/issues/2353#issuecomment-534359395) Lambda Layer in to avoid breaking of the Lambda functions due to the Python Lambda runtime change. Please let us know if you're still seeing this issue.

[2019-09-29 00:46] #2385 closed

[2019-09-29 00:51] kaustavghosh06 commented on #2437
@cremich Yes, this should be possible. Deleting hosting from your `dev` environment shouldn't affect your cloud resources in the `prod` environment. To manage these environments independently - like in your case, whenever you checkout an env - you should use `amplify env checkout <env-name> --restore` so that the changes of say `dev` environment do not get carried over to the environment you are c

[2019-09-29 00:54] kaustavghosh06 commented on #2431
@ntanduc2288 Lately we've seen some installation issues for specific versions of node/npm and we're working on fixing these issues. In the mean while, could you try `npm install -g @aws-amplify/cli --unsafe-perm=true` and see if that helps?

[2019-09-29 01:27] mooser opened #2453 "amplify mock Error: Cannot find ref to userpoolId"
I am trying to get "amplify mock" to work, but I'm getting 2 errors:

There's a function in my project called "lambdaHandler"  (amplify add function)
API: yes
Auth: yes (cognito)

Any ideas at all on what must be done here to get a local mock environment working?

[2019-09-29 01:36] mooser commented on #2448
Thanks, it doesn't seem to be in amplify/backend/amplify-meta.json

I tried all the patterns I could think of for the string:
"appname-env.auth.region.amazoncognito.com"

Stripping various parts of it out, trying to locate where it is written in the configs...  But it doesn't turn up anywhere in the project.

[2019-09-29 07:37] diego-palmeira commented on #2450
More info about my investigation:

1) After review the stacktrace it seems that my function calls --> aws-appsync --> apollo-client --> isomorphic-fetch and on this point it fails. It seems like proxy is not taken in consideration.

2) I review similar problems and may be it requires to use ProxyAgent similar to: https://github.com/apollographql/apollo-tooling/issues/523

3) I found a similar prob

[2019-09-29 08:15] pechisworks commented on #659
Is it possible to test this locally?
Referring to the documentation you have to user `amplify push`.

[2019-09-29 10:08] diego-palmeira commented on #2450
Hi again,
After modified /home/user/projects/aws/sos-project/src/sos/amplify/backend/function/sosApiFunction/src/node_modules/isomorphic-fetch/node_modules/node-fetch/index.js file to include:

At the begining of the file
**// Add proxy support
**import proxyAgent from 'http-proxy-agent';****

and harcoding proxy for test (near line 120)...
...
// http.request only support string as host header, t

[2019-09-29 11:36] alexmcmanus commented on #2292
`yarn run` will only run something that _you_ define in your `package.json` file. See https://yarnpkg.com/lang/en/docs/cli/run/.

There is no standalone CLI for the generator. However, you can call the generator via code - either write your own CLI, or actually integrate it into your CDK source. It is undocumented however, and you're going to have to browse the source code to work out how to use i

[2019-09-29 13:05] saurabhpati commented on #483
I have the same feature request. I want to use the interactions module but I have an already existing bot on aws lex and there is no way for me to import that bot and its configurations.

[2019-09-29 13:31] junejie commented on #2424
There's an issue the lambda attached from dynamodb.

I just add layer in lambda nad  i didn't upgrade to 6.8
This post helps me https://github.com/aws-amplify/amplify-cli/issues/2353

[2019-09-29 15:19] RossWilliams commented on #2405
The @auth directive protects the create operation. If a user tried to set the groups field to a group they don't belong the request will be rejected. Does this solve your problem? Otherwise you will need to use a @function directive.

[2019-09-29 16:11] adamelmore commented on #1204
@RossWilliams I’m trying to take the custom resource approach you outlined, but my CF stack seems to hang during `amplify push`. The function is run successfully and I see the custom attribute added to my user pool, but the amplify operation never completed (at least not before I cancel ~30 mins in). I think the custom resource may need to leverage `can-response`? I tried with no success. Any tips

[2019-09-29 17:49] oliverandersencox opened #2454 "Cannot read property 'length' of undefined"
Just updated amplify cli, and when i run 'amplify push' it starts and then gives this error:

I have simply added a string field to one of my models.

[2019-09-29 18:14] nick-town opened #2455 "Adding Custom CFN Stack for unsupported types fails"
**Describe the bug**

After following the procedure described [here](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks) to add an API Gateway to an Amplify project, the `amplify push` command results in an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the process described [in the third bullet of this documentation](https://aws-amplify.g

[2019-09-29 18:49] RossWilliams commented on #1204
@adamelmore, yes, look at 'cfn-response' or 'safe-cfn-custom-resource' to make sure you return a proper response for cloudformation, otherwise your stack with be stuck in an updating state until it times out. Sorry I didn't mention that cloudformation needs a specific response object from your lamba.

[2019-09-29 18:53] RossWilliams commented on #659
@kaustavghosh06 I had the exact same 3 problems as @mrcoles when reading the documentation.

[2019-09-29 21:04] sopranolinist commented on #2256
@ambientlight I closed it because there are other open tickets that already raised this issue: https://github.com/aws-amplify/amplify-cli/issues/997

[2019-09-29 23:34] YikSanChan opened #2456 "lambda function ReactDOMServer.renderToString error"
** Which Category is your question related to? **
function
** What AWS Services are you utilizing? **
lambda
** Provide additional details e.g. code snippets **

With my amazon-like react native ([expo](https://expo.io/)) app, I want to be able to print shopping cart using [Expo Print API](https://docs.expo.io/versions/latest/sdk/print/) (imagine with the app, click the "print" button prints all i

[2019-09-30 00:12] YikSanChan commented on #2454
If you do not paste your code change people are unable to help

[2019-09-30 03:27] oliverandersencox commented on #2454
@YikSanChan I changed this model:

[code]
Nothing I can see there should be causing an issue. Everything worked find before the update

[2019-09-30 03:54] YikSanChan commented on #2454
if you run `amplify mock api` do you get error? this is an easier way to see how things go without pushing it

[2019-09-30 03:56] oliverandersencox commented on #2454
@YikSanChan jus did that, and get the same error:

Its seems I cannot just update amplify cli as each time a brand new issue appears with errors that provide no idea of whats causing it

[2019-09-30 08:57] ericweissmann commented on #1946
OK, here's the solution for getting an environment variable into an Appsync resolver (facepalm) in an Amplify project.

Create a function in a custom cloudformation stack that sticks the desired environment variable(s) in $ctx.stash. Then you can refer to it whenever you want.  Here's my function resource declaration:

`    "getEnvironmentFunction": {
      "Type": "AWS::AppSync::FunctionConfigura

[2019-09-30 10:26] GerbenRampaart commented on #783
The procedure of @leantide worked for me. Basically getting rid of node completely through brew but also removing it from /usr/local/bin/node and /usr/local/bin/node_modules and THEN SOLELY relying on nvm installed through curl as leantide details worked

[2019-09-30 11:01] cremich commented on #2437
Hi @kaustavghosh06
thanks for your response. I will have a deeper look into it. What i observed so far:

I added the production environment to my master branch and published the stack (containing auth and cloudfront based hosting).

Then i create a dev branch from master and do a `amplify delete hosting`. This results in a complete deletion of the hosting stack. If i keep the dev branch isolated t

[2019-09-30 13:37] chris-merapar commented on #1569
This came back to bite us again as we had to update the API when doing an amplify CLI major upgrade. I found a workaround though, reproducing here in case it helps someone else.

Since the CustomResources nested stack is always deployed after the others, we can tell Amplify not to generate the listPages resolver in the schema.graphql file, then define this resolver ourselves in the CustomResources

[2019-09-30 14:03] oliverandersencox opened #2457 "How to downgrade"
I made the silly mistake of updating the amplify client, and now everything is broken. Just deleting my project was hard. The client is failing to push, failing to delete and the error messages are useless.

I removed the amplify client and reinstalled, after deleting the project from the cloud formation dashboard.

Now when I run amplify init, 2 error occured:

first:

 to invert selection)

No o

[2019-09-30 14:20] oliverandersencox commented on #2457
another lovely error to add to this. Running amplfy init now gets even less of the way along and after choosing the IDE is am given this error:

[2019-09-30 14:30] SebSchwartz commented on #2391
Yes the problem is solved with the new version.

Thank you!

[2019-09-30 14:58] fdelhoste opened #2458 "Can't remove Cognito triggers/lambda with amplify update auth"
**Describe the bug**
I can't remove trigger/lambda previously configured for adding Cognito group during `amplify update auth`.

**To Reproduce**

0. Update to Amplify CLI 3.10.0
1. Create a basic react amplify project
2. Run `amplify add auth`
3. Choose to add Cognito group during step by step configuration
4. Run `amplify update auth`
5. Choose to remove adding Cognito group during step by step

[2019-09-30 15:23] attilah commented on #2372
@tw1t611 based on your ```Webshop``` schema, only ```owner```s has access to the list operation on it and I assume that ```public``` has no access to the ```Order``` type. I can't see a rule what would allow ```public``` to access ```Webshop.orders```.

[2019-09-30 15:25] attilah commented on #2389
@BabyDino what version of the CLI are you using? Could you please try to repro it with the latest version and get back to us?

[2019-09-30 15:41] attilah commented on #2436
@arnaud-cortisse could you please try these auth rules on both entities:
[code]

for ```private``` ```userPools``` is the default provider so you don't need to specify it, but since you're using ```sub``` to identify the user I'd use it across the schema.

From your requirement you're saying that "only owners can create markets". Owners of what? since you're creating a market with the authenticate

[2019-09-30 15:51] attilah commented on #1325
Sorry, perhaps I miss something, but I can't see how that type fragment was generated, because I did not see where is it coming from. src/graphql is output of codegen and I can't see ```blogDetailsFragment``` anywhere in the repo, just in generated files.

What CLI commands were you using to generate that piece of core what you've in the screenshot?

[2019-09-30 15:52] attilah commented on #2021
@evanlarkin10 I looked into it and I did not find a simple way for that. Perhaps after migrating to a newer GraphQL JS library can help as it has some new validation flags, but other than that, the type resolver logic is not that rich that you could defer unresolved types to resolve "later".

[2019-09-30 15:56] attilah commented on #2100
@RossWilliams a fix is in the works, but fixing this issue I discovered an issue around keys when the keys are ```Int```. The issue you reported here is already fixed in the PR, but I did not include it in the list of issues fix, because you used a number for sortKey and ```$util.defaultIfNullOrEmpty``` fails on numbers, and we're ending up with a nullified DynamoDB expression, so you'll get back

[2019-09-30 16:06] attilah commented on #2222
When you're using a ```@key``` directive that will generate a resolver code that builds up ```$modelQueryExpression```, since the query will run against a LSI or GSI, without that you can only scan the table in DynamoDB.

I'd suggest to take a look at the ```@key``` directive, that can help with your queries, and a new feature is already within the CLI which enriches the ```@connection``` directiv

[2019-09-30 16:06] #2222 closed

[2019-09-30 16:30] attilah commented on #2431
@ntanduc2288 I've checked our yarn.lock file and none of our dependencies are referencing @rei/FEBS, I assume that is the package npm install complaining about. Do you've it installed on your machine?

I've checked their ```package.json``` file and they require node>=8.3.0 which node 12 satisfies, so that error message seems to be unusual.

[2019-09-30 16:48] munkk opened #2459 "How can i minify amplify app"
Hello. I'm using react/amplify stack. After publishing app, i realized that all code there is not minified, i'm able to open any component and see it's unminified source code. As i understood, amplify builds app based on it's amplify.yml file. I didn't change there anything and it looks like this:
`version: 0.1
backend:
  phases:
    build:
      commands:
        - '# Execute Amplify CLI with the

[2019-09-30 17:33] #2457 closed

[2019-09-30 18:31] oste opened #2461 "Does the cli add Cognito Identity pool Role policies for API?"
I am wondering if the CLI should be adding the proper policies for my Authenticated/Unauthenticated Identity pool roles. For now, I had to manually add a policy to the existing role so that I can have `IAM` auth mode work.
[code]

I just wasn't sure if this was part of the recent multi auth updates and I was missing something.

** Which Category is your question related to? **
API and Auth

** Wha

[2019-09-30 19:20] kaustavghosh06 commented on #2460
@yehuijifeng Could you please explain to us more of your use-cases?

[2019-09-30 19:29] #2407 closed

[2019-09-30 20:37] tw1t611 commented on #2372
@attilah That seems correct. Sadly my schema changed. Therefor I will check the issue on the new schema as soon as #2439 was merged.
Thank you very much for the fast fix :).

[2019-09-30 20:37] ambientlight commented on #997
A pull request resolving this has been added: https://github.com/aws-amplify/amplify-cli/pull/2463

@aireater:
this doesn't add a `@trigger` transformer through, that could be another feature request. But maybe keeping anything unrelated with graphql API away from transformers would be an easier to manage and more flexible.

[2019-10-01 00:35] hounded commented on #1678
@houmark read most of what you are saying and I think i'm on the same path. I required across account lambda submission to a appsync mutation with a NONE type data resolver, so that the front end could subscribe to it to get updates. I was using python and boto3 and @robert-moore 's post didn't render the pictures. After alot of trial and error I could not post my graphql submission with `'Authori

[2019-10-01 03:54] YikSanChan commented on #2460
@yehuijifeng 你应该解释自己遇到的问题，尝试过的方案，以及哪个问题解决不了（提供错误信息），而不是宣泄情绪。

I recommend closing the issue as it is not constructive and without useful information.

[2019-10-01 07:00] aluminick opened #2464 "The Amplify CLI can NOT find command: serve"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I created an app using `npx create-react-app`

**To Reproduce**
Steps to reproduce the behavior:
1. amplify serve

**Expected behavior**
to not get `The Amplify CLI can NOT find command:  serve`

**Desktop (please complete the following information):**
 - Ubuntu 16.04

[2019-10-01 08:18] artecoop opened #2465 "[AppSync] Amplify codegen doesn't generate the correct queries"
**Describe the bug**
Imagine having this graphql schema
[code]
When launching `amplify mock api` for example (or `amplify push` to commit to production), the cli generates queries, mutations and subscriptions.
But in queries, listCommessas doesn't show the connection to Customer:
[code]
I have to manually add it.
Curiously, `getCommessa` query is generated correctly. Also, during mock, if I open t

[2019-10-01 09:43] yawar22 commented on #1546
Hardware maintenance is no doubt the top ranked department which needs a huge budget because every big or small organization or business needs a totally ...[url=https://techcloud.co.za/hardware-services/]Computer Hardware Maintenance Company[/url]

[2019-10-01 10:37] hagiosofori opened #2466 "Mock: does mock work with the queries and mutations I write in my code?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
API (GraphQL)

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
Attempting to run mutations & queries from my code (React Web app) throws an error `OPTIONS https://xxx.appsync-api.us-east-1.amazo

[2019-10-01 11:08] attilah commented on #2372
Closing the issue as the question was answered. Feel free to reopen if something new comes up or open a new issue if it is unrelated.

[2019-10-01 11:08] #2372 closed

[2019-10-01 11:12] wbroek opened #2467 "Limit for stack has been exceeded"
**Describe the bug**
When pushing a new environment from an existing environment we cannot push, it errors out with creation errors with main message "Limit for stack has been exceeded". This was not an issue before?

We got the following resources/services (graphql, rest api, lambda, s3)
[code]

Also creating from scratch I hit this limit after adding the graphql api?

**To Reproduce**
Steps to r

[2019-10-01 11:35] davidbiller commented on #2435
Try this :)

`sudo npm install -g @aws-amplify/cli --unsafe-perm`

[2019-10-01 12:11] daannijkamp opened #2468 "IAM Role Names for @function directive are not unique enough."
**Describe the bug**
Automatically generated IAM Role Names for `@function` directive are not unique enough.
Will result in `AWS::IAM::Role already exists in (other) stack error`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new serverless.com project
2. Give it a long service name, for example: `long-service-name-functions`
3. Create multiple functions, for example `do-something`

[2019-10-01 14:17] arnaud-cortisse commented on #2436
@attilah thanks for your response.

I tried it but like you said a little further, that doesn't enforce market ownership (which I need, otherwise, anyone can pretend he or she is someone else and put products in someone else's market).

Right, that's what I expected.

So, you mean something like this:

[code]

where "Product" doesn't have a @model directive?
In this case, is it still possible auto

[2019-10-01 15:27] bc-ppuente commented on #2464
Looks like this is patched in https://github.com/aws-amplify/amplify-cli/pull/2394, hoping for a quick resolution!

[2019-10-01 15:28] hatertron3000 commented on #2464
Looks like this is patched in https://github.com/aws-amplify/amplify-cli/pull/2394, hoping for a quick resolution!

[2019-10-01 15:44] aluminick commented on #2464
@hatertron3000 what version were you using before you get the error?

[2019-10-01 15:55] hatertron3000 commented on #2464
@aluminick honestly, I don't remember and I'm too ignorant to figure it out. But, after thinking about it, rolling back to a previous version many be a bit drastic since the issue is just the command alias. Running `amplify run` instead of `amplify serve` seems to do the trick for me on the current version.

[2019-10-01 16:20] mooser commented on #2453
I was able to recreate the issue...  Now I just gotta find some documentation on how to get the ref resolved...

Create-react-app
amplify init
amplify add auth (choose federated with cognito)
amplify add api  (graphql)
amplify add function (called uraHandler)
  - tell it to connect to auth and api

Then in the schema I added the resolver directive to use the lambda.
@function(name: "uraHandler-${e

[2019-10-01 16:54] #2466 closed

[2019-10-01 18:35] #2460 closed

[2019-10-01 18:55] SwaySway commented on #2461
@oste is your schema using the IAM provider?
[code]
The following schema appends policies to the auth role allowing that user to access Post.
Are you able to share your schema?
You can also view our API docs here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#allowed-authorization-mode-vs-provider-combinations

[2019-10-01 18:58] oste commented on #2461
Hi @SwaySway, I am not using `@model` b/c I am using RDS. It sounds like I will have to manage this on my own for now b/c of that.

Thanks for clearing that up. I figured I was missing something there.

[2019-10-01 19:00] mooser commented on #2453
I managed to hack some configs and get amplify mock working for the first time.  WooHoo I am unblocked.  Just note: by default amplify sets up a project with a broken amplify mock if you add cognito + lambda resolver that depends on it.

I am in the process of trying to get source level debugging working for lambda functions locally with amplify mock.  I am hoping I can attach to the local graphql

[2019-10-01 19:07] UnleashedMind commented on #2458
@fdelhoste
Was not able to reproduce the issue.
This looks like there is some issue during npm or yarn installation.
Did you use "yarn" or "npm" to install the CLI?
Could you try to first completely remove and the install the Amplify CLI  and then use `npm install -g @aws-amplify/cli` to install it again?

[2019-10-01 19:13] oste commented on #2461
I am trying to think of a possible way to get some of the benefits of these transformers with RDS. It seems that RDS is a kind of unsupported solution. I have gone back and forth and I feel like RDS is a better option for RAD than Dynamo so I am trying to stick with it. It would be great if we can get some of the same benefits that these transformers provide and still use RDS.

[2019-10-01 21:05] julia-cassella opened #2471 "Amplify add api command not working"
I am trying to create a react app with aws aplify as the Backend. I have gone through all the set up and configurations for linking my aws account with the app. However when I try and run:
'sudo amplify add api' I get this error:

"TypeError: Cannot read property 'run' of undefined at service walkthrough (/usr/local/lib/node_modules/@aws-amplify/cli ...... /appSync.walkthrough.js:119) as procress.

[2019-10-01 21:30] SwaySway commented on #2461
@ostse One way you can add policies on your auth and unauth roles would be edit your CustomResource.json file located within `amplify/backend/api/<api_name>/stacks/CustomResources.json`. You can add authRoleName and UnauthRoleName in the parameters of the cloudformation template like so...
[code]
Next step would be to add a reference to `UnauthRoleName` in the parameters.json file located in `ampl

[2019-10-01 21:33] SwaySway commented on #2467
@wbroek How many stacks are in your account as a whole?
There is a 200 cloudformation stack limit - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html

[2019-10-01 21:38] wbroek commented on #2467
@SwaySway where can look that up? See a lot of stacks in the CloudFormation but no number/counts?

[2019-10-01 21:40] SwaySway commented on #2398
@andrew-aernos Are you looking at retrieving S3DeploymentBucket and S3DeploymentRootKey to save custom resolvers in S3?

[2019-10-01 21:57] oste commented on #2461
Thanks @SwaySway, I am always a little leary of editing the generated cloudfront files b/c I don't know what will get overwritten. I think the long term solution is to decouple the transformers from `@model`

[2019-10-01 22:12] lawmicha opened #2472 "Appsync console then integrate using Amplify CLI gives error on `amplify add codegen --apiID xxxxxxxx` with UnexpectedToken o"
**Describe the bug**
When I create a new app using AppSync Console, and then I create a new iOS app locally, and follow the steps to `amplify init` and then codegen, it fails with an error "Unexpected token o in JSON at position 1"

**To Reproduce**
Steps to reproduce the behavior:
Set up:
- Amplify CLI version 3.9.0

1. Went to AppSync console
2. Clicked on Create API -> under Start from a sample