[2019-05-16 21:13] rohandubal opened #1470 "CLI creates OAuth config in awsconfiguration.json when not needed"
**Describe the bug**
CLI creates OAuth config in awsconfiguration.json even when OAuth is not configured or enabled.

**To Reproduce**
Steps to reproduce the behavior:
Enable default auth for iOS

**Expected behavior**
No OAuth config

[2019-05-16 21:15] kaustavghosh06 commented on #1470
Can you past the contents of your awsconfiguration.json and amplify/backend/amplify-meta.json file?

[2019-05-16 21:16] rohandubal opened #1471 "amplify console auth does not take to right region"
**Describe the bug**

I tried to use `amplify console auth` and selected `Userpools`, it takes me to the page of UserPools but the pools are of us-east-1 where as my pool is in us-west-2.

The console shows us-west-2 as the region but lists us-east-1 pools.

[2019-05-16 21:19] rohandubal commented on #1470
Amplify meta

[code]

awsconfiguration.json

[code]

[2019-05-16 21:38] kaustavghosh06 commented on #1470
Hey! Submitted a fix in #1472

[2019-05-16 21:47] kaustavghosh06 commented on #1471
Hey! Provided a fix for this - https://github.com/aws-amplify/amplify-cli/pull/1473

[2019-05-16 21:50] minbi opened #1474 "[Android] Add analytics broken"
amplify version 1.5.1

## Steps

[code]

## Trace

[code]

[2019-05-16 21:59] kaustavghosh06 commented on #1474
Chatted offline. The version used to deploy  notifications was 1.5.1 and with the later versions of the CLI (and the current) we fixed this isseu.

[2019-05-16 21:59] #1474 closed

[2019-05-16 22:20] jmorecroft opened #1475 "Cognito user pools with triggers"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
AWS Amplify
** What AWS Services are you utilizing? **
AWS Cognito triggers
** Provide additional details e.g. code snippets **
Hi,

We're attaching lambda pre-auth triggers to our Cognito User Pool and would like to use this same User Pool with our

[2019-05-16 22:53] #1470 closed

[2019-05-16 22:56] #1471 closed

[2019-05-17 00:42] aashwin-gaur commented on #684
Is there any progress on this front, I would like to be able to create environment variables in my lambda cloudformation template by passing them as parameters to the template. (ideally during an 'amplify push')

[2019-05-17 02:21] lorensr opened #1477 "Document custom queries/mutations and resolvers"
I can't find documentation corresponding with this merged PR:

https://github.com/aws-amplify/amplify-cli/pull/227

I and others wonder how resolvers for custom queries work, and how to maintain them through schema changes / pushes:

![image](https://user-images.githubusercontent.com/251288/57898921-fff85300-7828-11e9-8983-da556b78c844.png)

[2019-05-17 08:31] bokuweb commented on #1430
This issue is resolved with v1.6.9 🎉

[2019-05-17 10:40] mdw2000 opened #1478 "Cannot push stack after removing @searchable from model"
Hi there,

I'm getting the same errors as reported in #982 when removing the @searchable directive from a model:

[code]

Adding back the @searchable directive and pushing produces the following error:
[code]

Is there any way to recover from this error without recreating the stack?

**To Reproduce**

1. Add a model with @searchable directive
[code]
2. `amplify push` - completes successfully

3. E

[2019-05-17 10:48] sprucify opened #1479 "Some form of amplify pull or amplify push --force"
I'm working with the `amplify cli` for a month now and to be honest it has been getting a frustrating process.

If you have let's say around 5 different types and a couple of connections things get tricky.
When I removed a named @connection you have to remove both ends.
about 90% of my push commands ended up in a `Resource is not in the state stackUpdateComplete`
Most of the times because of there

[2019-05-17 11:17] wizawuza commented on #1477
https://aws-amplify.github.io/docs/cli/graphql#api-category-project-structure

[2019-05-17 12:08] sprucify commented on #229
Exactly. If you had done an `amplify auth remove` the `amplify api` has still an reference to the old auth one.
In my opinion this is a bug

[2019-05-17 12:20] et304383 commented on #487
How is this still not resolved?  This seems like it should be trivial.  We need to define 1 to many relationships (user videos) and require a sort key.

[2019-05-17 12:41] sprucify opened #1480 "Incomplete input classes"
When I make a @connection between two types like is done here between Week and Recipe:
[code]

The `amplify codegen` generated input classes for type Week will look like this:

[code]

There is no field `recipes`
So during a creation of a Week, I can not link it to a Recipe

[2019-05-17 13:07] et304383 commented on #1137
This is likely related to the error I get that the "specified key does not exist" when switching env and trying to push.  It's like the upload to S3 of the schema.graphql isn't taking place except during add of the API resource (or on a schema definition change).

Amplify REALLY needs to be rewritten to do all of this compilation at DEPLOYMENT time, not at time of resource being added/configured.

[2019-05-17 15:03] jkeys-ecg-nmsu commented on #1479
`amplify env pull ENV_NAME --restore` currently exists, does this help your use case?

[2019-05-17 15:12] sprucify commented on #1479
I didn't know that option was available
This pulls in the latest graph structure that is made in AppSync?

[2019-05-17 15:32] kstro21 commented on #1478
About removing the **@searchable** directive, this is a duplicate of #980 and exist a PR open that solve it, see #1140

About the `No resolver found` after removing the **@searchable** directive, I've seen it reported in other issues, but I think it is more a bug in the CloudFormation service that not restore the **resolver** a in the update rollback process.

You will need to create the resolver

[2019-05-17 15:46] integraitco opened #1481 "reference userpoolid in lambda template"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
template policies definition

** What AWS Services are you utilizing? **
Cognito, lambda, apppsync

** Provide additional details e.g. code snippets **
Hi,  I want to add a cognito policy to my lambda function definition (in amplify). How can I ref t

[2019-05-17 17:34] kaustavghosh06 commented on #1481
@integraitco There isn't an easy way to do so right now, but we have an open PR to make this possible out here - https://github.com/aws-amplify/amplify-cli/pull/1462
We're planning to merge this in a couple of days.

[2019-05-17 17:36] kaustavghosh06 commented on #1475
@jmorecroft We're actively working on supporting lambda triggers as a part of the Amplify project.

[2019-05-17 17:37] kaustavghosh06 commented on #1475
I'll update this thread once we have it ready for release.

[2019-05-17 17:37] kaustavghosh06 commented on #1477
@lorensr Please let me know if the link pasted by @wizawuza is something which you were looking for.

[2019-05-17 17:37] #1477 closed

[2019-05-17 17:39] kaustavghosh06 commented on #1305
We upgraded our default Cloudformation tempaltes to NodeJS 8.10 with the latest version of the CLI. Here's a quick migration guide out here if you're using an older version/template in your project - https://aws-amplify.github.io/docs/cli/lambda-node-version-update

[2019-05-17 17:39] #1305 closed

[2019-05-17 17:40] kaustavghosh06 commented on #1105
We upgraded our default Cloudformation tempaltes to NodeJS 8.10 with the latest version of the CLI. Here's a quick migration guide out here if you're using an older version/template in your project - https://aws-amplify.github.io/docs/cli/lambda-node-version-update

[2019-05-17 17:40] #1105 closed

[2019-05-17 17:42] kaustavghosh06 commented on #293
Closing this as this is a duplicate of #174

[2019-05-17 17:42] #293 closed

[2019-05-17 17:43] kaustavghosh06 commented on #191
Hey guys, this issue has been fixed with the latest version of the CLI. Please feel free to re-open if you're still seeing this issue.

[2019-05-17 17:43] #191 closed

[2019-05-17 17:47] kaustavghosh06 commented on #244
@pigmanbear  With the latest version of the CLI, if you don't have any backend changes, we do not execute the backend push functionality and jusy build and upload the build/ directory for your frontend app. Please let me know if that's something if you were looking for.

[2019-05-17 17:47] #244 closed

[2019-05-17 17:49] kaustavghosh06 commented on #278
@mwarger Do you still have this issue with the latest versions of the CLI?

[2019-05-17 18:15] #604 closed

[2019-05-17 18:39] kaustavghosh06 commented on #780
@slaat I don't beleive we upload the builds/dist files in the latest version of the CLI. Please let me know if you're still seeing it.

[2019-05-17 18:41] hew commented on #1406
So far, using environments, we're been able to achieve a level of stability, where we do the tricky stuff on a branch, and when everything is stable, "merge" it back in with prod. I have still gotten the `updateStackNotComplete` error, but `env pull --restore` seems to work when this happens. Have to just back up and try the schema change again w/ less stuff happening.

Another trick I'll throw ou

[2019-05-17 18:42] #817 closed

[2019-05-17 19:11] hisham commented on #1460
Hi @ChrisChares - I currently do something like this:

`export type Room = GetRoomQuery['getRoom'];`

And voila you have what you want.

[2019-05-17 19:37] kaustavghosh06 commented on #1468
@adamup928 Could you share your mutations generated by codegen? Are there any custom mutations?

[2019-05-17 19:37] mikeparisstuff commented on #1480
When using connection, you associate objects on the **one** side of the connection. In this case you would create a **Recipe** and specify a **recipeWeekId**.

If you want to be able to create a **Week** alongside it's recipes, you can remove the `@model` from **Recipe** as well as the `@connection`s. For example, you would have:

[code]

This will allow you to create weeks with recipes directly b

[2019-05-17 19:42] kaustavghosh06 commented on #1459
`arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function::lambdaSwitch-${env}` format is incorrect. It should be `arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:lambdaSwitch-${env}`
Please replace your double colon after function with a single colon.

[2019-05-17 19:42] #1459 closed

[2019-05-17 19:49] kaustavghosh06 commented on #1419
Closing it since this is a duplicate of #1480
Please take a look at @mikeparisstuff comment/suggestion as to how you can model your schema to avoid this issue.

[2019-05-17 19:49] #1419 closed

[2019-05-17 19:52] kaustavghosh06 commented on #1398
@zerdos Which version of the CLI are you using? I wasn't able to reproduce the issue with the latest version of the CLI. Please feel free to comment or re-open if you're still seeing this issue.

[2019-05-17 19:52] #1398 closed

[2019-05-17 19:52] kaustavghosh06 commented on #1370
Closing as this is not reproducable.

[2019-05-17 19:52] #1370 closed

[2019-05-17 20:36] lorensr commented on #1477
Yes, thanks. Both the page and the sections in the page would be more discoverable if the page was included in the ToC on the left sidebar—should I open a separate issue for that?

[2019-05-17 20:40] mikeparisstuff commented on #1458
@sprucify When developing applications with DynamoDB you need to design your access patterns into the DynamoDB table. We are close to releasing a new `@key` directive that will make modeling situations like this a lot easier.

In your case you want to "list recipes by weekNumber". DynamoDB is a distributed hash table that allows you to filter by two attributes, a partition key and a sort key. The

[2019-05-17 20:54] kaustavghosh06 commented on #1350
@ajhool I beleive this auth resource was created with previous versions of the CLI, before we upgraded our default Cloudformation tempaltes to Node 8.10. Here's a quick migration guide out here - https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth

[2019-05-17 20:59] mikeparisstuff commented on #1369
If you need both **Product** & **Menu** to be top level types then you should be creating a menu first and then attaching products to the menu with independent mutations. With this schema:

[code]

First create the menu:

[code]

and then add products to the menu:

[code]

If the product already exists then use the update mutation instead to set the **productMenuId**. If you want to batch multiple

[2019-05-17 21:08] mikeparisstuff commented on #1242
With this schema:

[code]

You can run this query:

[code]

I recommend using the documentation pane of GraphiQL in the AppSync console's query page or any other open-source GraphiQL implementation in order to get familiar with your schema. Once it is deployed you can step through the shape of your API as well as get auto-complete and query linting/validation with helpful error messages that will

[2019-05-17 21:14] #980 closed

[2019-05-17 21:16] NuruddinBadawi commented on #1369
thank you @mikeparisstuff for this effort,

last question:
can you give me example if I need to allow to product to be in many menu? I think I need to use many-to-many relation.
but if I can't use
` menu: [Menu] @connection(name: "MenuProducts")`
 and also
`  products: [Product]! @connection(name: "MenuProducts")`

what should I do with this case ?

[2019-05-17 21:21] zjullion commented on #1481
@integraitco, this is actually pretty easy to do:

Near the bottom of your auth template (something like `amplify/backend/auth/cognito78b2fc/cognito78b2fc-cloudformation-template.yml` you'll see that `UserPoolId` is an output of the auth stack (note that it's not an export, just an output). However, you can use `amplify/backend/backend-config.json` to provide that output as a parameter to your lam

[2019-05-17 22:31] kaustavghosh06 commented on #1455
@johnford2002 Can you please install the latest version of the CLI? This should fix this issue. @bokuweb  confirmed that this change fixed his problem.

[2019-05-17 22:31] #1455 closed

[2019-05-17 22:32] kaustavghosh06 commented on #1425
the fixes by @kstro21 has been merged and would be published in the next release - 1.6.10.

[2019-05-17 22:32] #1425 closed

[2019-05-17 22:33] #987 closed

[2019-05-17 22:33] #1430 closed

[2019-05-17 22:46] kstro21 commented on #1099
@bokuweb, yes, you can use AWS System Manager Parameter Store. For a stack that is already created, it will work. But it won't work to create a new stack.

[2019-05-17 22:53] kaustavghosh06 commented on #1332
We just rmerged @kstro21's PR. You should see the change in our next release -> 1.6.10.

[2019-05-17 22:53] #1332 closed

[2019-05-17 22:58] ajhool commented on #1350
Sounds correct, thanks

[2019-05-17 22:58] #1350 closed

[2019-05-18 04:27] bokuweb commented on #1099
I see. You're right 😭

[2019-05-18 05:10] hisham commented on #1469
@zfarrel I have similar use case and what I do is run a script before amplify push to modify the cloud formation files in build/ to my needs. They are json files after all so fairly easy to modify in node.

[2019-05-18 11:09] sprucify commented on #1458
@mikeparisstuff thanks for clearing this out. Still not a fan of the quirky limits in DynamoDB.
Maybe one day I will be appreciate it more when the app needs to scale fast.

Is a partition in any way related to the 1MB limit?

[2019-05-18 11:19] sprucify commented on #1480
When both ends of the @connection has a @model tag, has the order in which they are placed in the .graphql file has influence who gets the `* * Id` field?

I'm confused by the examples in the Amplify Docs:
[code]
Both ends of all the @connections have also a @model tag.

[2019-05-18 17:32] ravnarayan commented on #779
***Hey @zjullion  where do i find `parameters.json` on my file tree? Please advise. also i was advised to use this method (https://github.com/aws-amplify/aws-sdk-android/issues/578)... which one would be better, also i need to add 2 cognito userpools am i able to do both userpools in ... either  `parameters.json`, or "awsconfiguration.json" at the same time?

THank you ***

[2019-05-18 21:42] davekiss commented on #1456
Closing this, I'm pretty sure I somehow pushed things into an unusable state by adding the recently-introduced `keyField` value to `@connection` and maybe by then removing it during troubleshooting? Either way, I'm going to be super careful with `@connections` moving forward as they've caused me to have to destroy and reproduce the API several times

[2019-05-18 21:42] #1456 closed

[2019-05-19 00:04] cliffordh opened #1489 "Configuring roles for use with pre-existing AWS services"
** Which Category is your question related to? **
IAM, Roles

** What AWS Services are you utilizing? **
Lambda, Amplify

** Provide additional details e.g. code snippets **
I have pre-existing Lambdas and other Amazon resources. I'd like to be able to access them via Amplify but Amplify creates its own roles. What is the best way to allow Amplify to work with my pre-existing services?

Note, righ

[2019-05-19 03:09] bokuweb opened #1484 "Feature request:Rollback command"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
No. It's enhancement.

**Describe the solution you'd like**
I would like to rollback published version like following

[code]

**Describe alternatives you've considered**
Is it possible with current architecture??

**Additional conte

[2019-05-19 06:15] dperconti commented on #955
I am getting this error as well with `v1.6.9`

[code]

[2019-05-19 08:17] moin-qidwai commented on #1366
Any updates on this?

Its actually really annoying and error prone to do this management manually upon merge or checkouts.
I am even considering a simple dynamodb table for environment specific config to get around this issue.
(That's how desperate I am)

[2019-05-19 08:48] plaa commented on #1366
In the interim we're going to add a separate map which uses some unique field (e.g. `aws_user_pools_id`) from aws-exports.js as a key. This is of course less than ideal, as the environment name is not present in aws-exports.js and it exposes all environments' variables in all builds.

[2019-05-19 13:13] potatopotaro opened #1485 "Multi-auth support for GraphQL Transformer"
** Which Category is your question related to? **
GraphQL Transformer

Hey fellas, with the new multi-auth support for Appsync, I was wondering what the ETA will be like for supporting this in the Amplify CLI. I've seen comments suggesting at least 1+ month(s), and the blog post states that support is being worked on.

If it is indeed the case that it'll be 1+ month(s)...

- Is there a hacky solut

[2019-05-19 18:25] SebastianKirsch123 commented on #607
I'm still encountering this issue. If I run amplify add analytics locally and try to push, it hangs for about 60 - 90 minutes and then I get an error message.

[2019-05-19 20:42] zfarrell commented on #987
@kstro21 - has this feature been released?

[2019-05-19 22:20] artista7 commented on #1276
Hey @jarrettj did you find any answer?

[2019-05-19 22:43] artista7 commented on #980
Hey @mikeparisstuff this issue is annoying, any updates?

[2019-05-20 01:33] michaelcuneo commented on #1416
Thanks for your help... I remember using awsexports ages ago for multiple projects, and for some reason it didn't occur to me, to just do that, it's working fine.

[2019-05-20 11:09] willkara opened #1486 "Ideas for implementation of ignoring self-signed certs."
**Is your feature request related to a problem? Please describe.**
We need the ability to ignore self-signed certs. This is mainly found when companies have a self-signed proxy.

**Describe the solution you'd like**
Have the option to ignore self-signed certs. What we will need to discuss is how to configure that option.

- Use a CLI flag. Something like `--ignore-self-signed` or `--no-verify-ssl`

[2019-05-20 11:10] willkara commented on #1486
@kaustavghosh06 I can take a look at implementing this, we'd just need to settle on how to manage the command/config.

[2019-05-20 12:24] mwarger commented on #278
@kaustavghosh06 I will give this a look and report back.

[2019-05-20 12:29] giantGoldfish commented on #1385
any update of when will this feature be implemented? thanks

[2019-05-20 13:14] giantGoldfish opened #1487 "Is there a way to logout/disable/delete a user remotely in Auth?"
**Is your feature request related to a problem? Please describe.**
Hello, I am writing to ask about ways to disable/logout/delete a user account remotely. I am developing React Native App with Expo. One possible use case is to automatically log out an old device if the system detect the user is logged in with another device.

**Describe the solution you'd like**
Is there currently a way to trigger

[2019-05-20 13:54] bakeruk opened #1488 "Amplify console build successful but fails to move to deploy"
Hi,

I am using Amplify to build my companies new website using **Gatsby** and it has been a huge success until Thursday (16th May 2019).

The build logs say that our app has built successfully however, the Amplify console status is saying that they build has failed. After Googling the issue I found this solution on Github #1415.

It states that the cache was too large - so I removed the cache rul

[2019-05-20 14:19] kstro21 commented on #987
@zfarrell, that is a question for @kaustavghosh06 and @mikeparisstuff

[2019-05-20 15:13] GeorgeBellTMH commented on #1451
I assume max length isn't the only feature request here, but some sort of generally configurable validation system...ie ensure a field is a phone number...or province/state field is a member of the country field...

[2019-05-20 15:48] valeeum commented on #1481
Thanks, very helpful.  How would you initialize Auth in the function itself?

[2019-05-20 16:18] RyanHow commented on #1352
@mikeparisstuff the @function appears to be working nicely now it's merged in

[2019-05-20 17:41] kaustavghosh06 commented on #1478
We've merged the PR for this fix. This would be released as a part of our next CLI npm release - 1.6.10.

[2019-05-20 17:41] #1478 closed

[2019-05-20 17:54] kaustavghosh06 commented on #1486
@willkara You can go ahead and submit a proposal and we're happy to discuss it within our team. Thank you!

[2019-05-20 18:02] willkara commented on #1486
@kaustavghosh06 sounds good, I'm likely to go the route of adding a cli flag like --no-verify-ssl. I'll let you know when the PR is in.

[2019-05-20 18:04] yuth commented on #1448
@achutkiran could you share the `.grpahqlconfig.yml` file. Please obfuscate sensitive information lile API key and urls

[2019-05-20 18:18] foxfl commented on #1099
Would be a great feature. We are currently hardcoding this within the lambda stacks but setting up a new environment is quiet challenging this way.

[2019-05-20 19:16] mikeparisstuff commented on #1480
@sprucify It is the cardinality of the connection that matters when placing the "* * Id" field. For example, when creating a one-to-many connection between "Blog" and "Post":

[code]

The "* * Id" will be injected on the "many" side i.e. the "Post" because we need to be able to "query Posts by blogId" in order to get the posts for a blog. As of writing there is no way to build bi-directional one-t

[2019-05-20 19:16] kaustavghosh06 commented on #1481
@valeeum What do you mean by initializing Auth in the function? You could maybe use the aws-sdk to access your AWS resources?

[2019-05-20 19:19] mikeparisstuff commented on #1469
@zfarrell @hisham We are actively working on this and have a PR in progress. If you are interested in offering feedback, you can try the new `@key` directive today by cloning this fork: https://github.com/mikeparisstuff/amplify-cli and checking out the `feature/@key` branch. There are more instructions here https://github.com/mikeparisstuff/amplify-cli/blob/feature/@key/testing-custom-indexes.md.

[2019-05-20 19:21] kaustavghosh06 commented on #1449
@yareyaredesuyo  If you're interested, this would be a great candidate for a 3rd party plugin. Here are some docs to get you started with - https://aws-amplify.github.io/docs/cli/plugins?sdk=js

[2019-05-20 19:42] yuth commented on #1487
@giantGoldfish I have added marked this as a feature request and our product team will review and prioritize this.

[2019-05-20 21:38] dperconti opened #1499 "AWS Amplify not generating proper graphql input depth"
**Which Category is your question related to?**
AWS Amplify code generation

**What AWS Services are you utilizing?**

AWS Amplify API

**Provide additional details e.g. code snippets**

I am new to both graphql & AWS Amplify, so please forgive any ignorance :)

I have a graphql schema like this:

[code]

I'm trying to create both the location and the trip at the same time with a mutation request

[2019-05-20 23:20] #1468 closed

[2019-05-20 23:32] yuth commented on #1484
This might need some bit of work in the platform to support.

 I have marked this as a feature request and I will get the product team to review this.

You could achieve this by using your version control system like git. After every push you could create an git tag and then checkout the tag if you want to restore to this point

[code]

[2019-05-20 23:48] #1348 closed

[2019-05-21 01:26] swaminator commented on #1488
@bakeruk we responded to you via email. Please check your inbox.

[2019-05-21 01:29] Risen-Solutions commented on #229
I had the same problem but running `amplify update api` followed by `amplify push` seemed to get the project back on track just fine. I agree it would be great if the API updated without user intervention but the above does work where you delete an auth resource and create a new one when using a graphql api.

[2019-05-21 03:25] ajhool commented on #450
I would also suggest using an amplicy CLI command (`amplify changelog`) to display the changelog. If the user's CLI is old, it could potentially query an endpoint to show changes in more recent versions (ie. if I have amplify-cli version 1.0.0; `amplify changelog` would show the changelog up to 1.0.0 but also show changes in 1.1.0, 1.2.0, etc.

[2019-05-21 04:55] valeeum commented on #83
Is this feature working with amplify version 1.6.9?  None of the CloudFormation resources and resolver templates are getting created.

[2019-05-21 05:46] moin-qidwai commented on #1366
Please let us know once you have added it and released in a new version of the amplify cli

[2019-05-21 08:14] janhesters opened #1496 "Increase the limit for API list"
**Is your feature request related to a problem? Please describe.**
I need to make queries larger for more than 1000 entities without using `nextToken`.

**Describe the solution you'd like**
Increase the limit to [AWS AppSync's `forEach` to more than 1000.](https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_appsync)

**Describe alternatives you've considered**
I could impl

[2019-05-21 08:23] bakeruk commented on #1488
Thank you @swaminator!

Is it possible that you could comment on how big is the **artifact limit size** is for others who might run into the similar issue as me?

[2019-05-21 11:09] davekiss commented on #83
@valeeum working great for me! Are you using it on a `Query` or `Mutation` field?

[2019-05-21 11:39] tomptaylor opened #1498 "No user Pool"
Template format error: Unrecognized resource types: [AWS::Cognito::UserPool, AWS::Cognito::IdentityPoolRoleAttachment, AWS::Cognito::UserPoolClient, AWS::Cognito::IdentityPoo

[2019-05-21 14:19] diegonat opened #1497 "Amplify push for Angular fails"
**Describe the bug**
amplify add auth
amplify push

the cloudformation process fails because nodejs6.10 is no longer supported by Lambda service.

CREATE_FAILED UserPoolClientLambda                                        AWS::Lambda::Function      Tue May 21 2019 16:12:12 GMT+0200 (Central European Summer Time) The runtime parameter of nodejs6.10 is no longer supported for creating or updating AWS

[2019-05-21 15:33] diegonat commented on #1497
outdated version of amplify. Resolved

[2019-05-21 15:33] #1497 closed

[2019-05-21 15:38] ajhool commented on #1496
This is an issue with AWS Appsync, not AWS Amplify. You should contact the AppSync team through AWS support to suggest that increase.

Frankly, I would highly recommend using nextToken to implement your query because AWS probably won't change that limit for a long time.

[2019-05-21 16:13] DanielCender commented on #779
@ravnarayan, I wrote a bit of a scrambled [Medium post](https://medium.com/@danielcender/use-a-custom-cognito-user-pool-with-aws-appsync-3d0c82f3010b) on this exact problem. I had to get into the `amplify/backend/auth/auth/auth-cloudformation-template.yml` file and edit it as well to get a custom Cognito pool spun up for my app. I hope this helps; let me know if you need more explanation after rea

[2019-05-21 16:22] yuth commented on #1498
@tomptaylor could you share the generated cloudformation file and parameter.json file. Please make sure you obfuscate sensitive information.

The file should be located in folder `<project-root>/amplify/backend/auth/<auth-resource-name>/` and it should be named `<cognito-some-random-id>-cloudformation-template.yml` and `paramaters.json`

[2019-05-21 16:38] valeeum commented on #83
@davekiss I'm using it on a Query field. I did just noticed that is you define your @function in the root Query, it works as expected.  So this works:

[code]

But if you extend type Query,  resources are NOT created:

[code]

The reason I take this approach is to organize my schema across multiple files.

[2019-05-21 16:49] yuth commented on #1499
@dperconti In your schema, I see that both `Trip` and `Location` have `model` directive. I don't see `@connection` directive connecting the `Trip` with `Location`. You may have to update your schema connecting to connect your models if you want them to be in 2 separate tables and want the ability to query `Trip` based on `Location`. Using 2 separate table you won't be able to create both `Trip` an

[2019-05-21 17:15] jkeys-ecg-nmsu opened #1500 "Update Amplify CLI to use Node 8.x for generated Lambda functions"
**Describe the bug**
I'm trying to create a new dev environment for an Amplify project using the existing resources (just updating the configuration to have different resource names).

When trying to provision the Analytics category for the new environment, the CloudFormation build process fails and rolls back because of Lambda no longer supporting new Node 6.x environments.

[code]

The CLI needs

[2019-05-21 17:32] kaustavghosh06 commented on #1500
I beleive this auth resource was created with previous versions of the CLI, before we upgraded our default Cloudformation tempaltes to Node 8.10. Here's a quick migration guide out here - https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth

[2019-05-21 17:49] dperconti commented on #1499
Perfect - the later recommendation was exactly what I needed. Do you recommend any resources that I can read up on to learn more about the different directive and their respective usages? Thank you again.

[2019-05-21 17:49] #1499 closed

[2019-05-21 17:51] yuth commented on #1499
@dperconti we have the directives documented in https://aws-amplify.github.io/docs/cli/graphql#directives

[2019-05-21 18:23] jkeys-ecg-nmsu commented on #1500
Gotcha, sorry. Thank you!

[2019-05-21 18:23] #1500 closed

[2019-05-21 18:25] jkeys-ecg-nmsu commented on #1487
@yuth are AppSync subscriptions an appropriate way of triggering callbacks in client code? I'm experimenting with the idea of using subscriptions to trigger client-side logic from the backend whenever some relevant event occurs (i.e. onCreateSomeEventRecord).

[2019-05-21 18:35] ajhool commented on #922
In agreement with @mhrisse , after having developed our application around Amplify, we are terrified to launch our production environment because the framework is proving to be terribly unreliable, hard to change, underdocumented, and there is a push to add new functionality instead of fixing critical bugs in existing / core functionality. A lot of the promises made by Amplify should have the cave

[2019-05-21 18:55] davekiss commented on #83
@valeeum I also organize my schema across multiple files but was only able to make it work with a single `Query.graphql` file containing queries relating to multiple entities ie.

[code]

[2019-05-21 19:03] valeeum commented on #83
@mikeparisstuff @davekiss would this be considered a bug?

[2019-05-21 19:05] YikSanChan commented on #1496
Why not just manually set limit to 1000? That is the easiest fix.

[2019-05-21 19:23] ajhool commented on #1406
There are currently 3 (!) RFC's for enhanced Amplify API features (the @auth directive #1043 and custom indexes #1062 and local testing #1433  ).

However, the current state of `amplify api push` feels like an alpha or beta version because it breaks so frequently and the error messages are nonexistant (eg. #922). No matter how many nice auth or index or local testing features that amplify adds, th

[2019-05-21 19:44] plaa commented on #1406
We have now replaced the Amplify AppSync GraphQL autogeneration with a Postgres RDS and [Postgraphile running in a Lambda function](https://github.com/graphile/postgraphile-lambda-example).  The VPC + RDS is setup using manually-installed [cloudonaut.io CF stacks](https://github.com/widdix/aws-cf-templates/) (waiting on #1426 to get them deployed using Amplify cli), and the rest is using Amplify-c

[2019-05-21 19:53] mikeparisstuff commented on #1406
As @hew mentioned the `amplify env pull --restore` command is a great way to get out of tough situations with complex changes.

As of writing, almost all of the recent deployment failures seem to fall into two categories:

1. A change to @connection causes CFN updates to fail because of DynamoDB GSI update limits.
2. A failed update (likely caused by 1) puts CFN in a situation where a stack succes

[2019-05-21 20:00] janhesters commented on #1496
@ajhool Thank you for letting me know. Guess I will have to use `nextToken` then 😢

@YikSanChan I need more than a thousand, which according to ajhool is apparently impossible.

[2019-05-21 20:03] YikSanChan commented on #1496
@janhesters No, it is possible, simply set the limit in your graphql query.
An example can be found https://docs.aws.amazon.com/appsync/latest/devguide/using-your-api.html:
[code]
Change to `limit: 2` to `limit: 5000` simply works, though ugly.

[2019-05-21 20:04] janhesters commented on #1496
@YikSanChan No, it doesn't (at least for me it didn't). Using it like you suggested gives me an error with a message that the limit is 1000.

[2019-05-21 20:05] ajhool commented on #1406
That is all great news. Would there be an easy way to decouple the API from the Databases, as @plaa suggests? Destroying the API and rebuilding wouldn't be much of an issue if the DB tables weren't deleted, too. This would also, theoretically, make it easy to add a canary (blue / green) API deployment that points to the same backend data (although there are some challenges there, too)

You would n

[2019-05-21 20:12] mikeparisstuff commented on #1406
@ajhool This is an interesting idea and is something we can definitely look into. On obvious way to allow this is to enable referencing external tables from within the API category similarly to how we do with the `@function` directive. We have discussed this many time internally and perhaps it is time.

If we went down this route, you would be able to use `amplify add storage` to create DynamoDB t

[2019-05-21 20:16] ajhool commented on #1406
Looks like a workable concept to me. Amplify's autocreation of resolvers is fantastic, so as long as Amplify can recognize that @table is a DynamoDB table and autocreate resolvers effectively, then it would be very nice to have that option.

[2019-05-21 20:20] valeeum commented on #1481
@kaustavghosh06  i was hoping someone can share their code of how the aws-sdk library was initialized/configured as well as the CreateGroup call based off of the event and/or context arguments provided in the lambda function.

[2019-05-21 20:22] ajhool commented on #1496
@janhesters Would you go to your AppSync console, go to your list resolver (eg. if your models is named "Comment", then search "listComments" in the Resolvers panel). Click on the datasource and post the resolver code here?

When I look at my resolvers, I don't actually see them using the  `forEach` operator on the retrieved items, so I believe that my resolvers would allow for more than 1000 item

[2019-05-21 20:34] janhesters commented on #1496
@ajhool Sure, I'll give you everything. Here is the query I wrote:

[code]

Here is the respose I get:

[code]

Here is the resolver for the request:

[code]

And for the response:

[code]

[2019-05-21 20:34] janhesters commented on #1496
@ajhool

Yes, I think that is the case right here. But still a greater limit would be neato! :)

[2019-05-21 20:37] kaustavghosh06 commented on #922
@ajhool, we’re aware of the this issue and haven’t been ignoring this. We have been actively discussing & designing short and long term resolutions internally. This issue is tied to the updating of the @connections directive causing Cloudformation Update failures. You would encounter this error because of a limit in the DynamoDB service which doesn’t allow you to create or update or delete more th

[2019-05-21 20:48] packerfan626 opened #1516 "Using an exisiting AppSync API w/ Amplify"
** What AWS Services are you utilizing? **
AppSync, DynamoDB, and Lambda

** Provide additional details e.g. code snippets **
So I am a bit stuck on how to integrate AppSync within Amplify in React Native. I have an existing API within AWS AppSync that I created on the console. This API has several different models like: Users, Videos, VideoComments, etc. Some of the objects within these models ha

[2019-05-21 20:57] yuth commented on #1375
@aws-amplify/cli@1.6.10 includes the updated default password policy

[2019-05-21 20:57] #1375 closed

[2019-05-21 20:58] yuth commented on #389
@aws-amplify/cli@1.6.10 includes the fix

[2019-05-21 20:58] #389 closed

[2019-05-21 20:58] yuth commented on #1468
@aws-amplify/cli@1.6.10 includes the fix

[2019-05-21 22:18] ajhool commented on #1496
I'd recommend contacting that AppSync team via AWS support and closing this issue as Amplify can do nothing about the limit

[2019-05-21 22:24] yuth commented on #459
Proxy support has been added in @aws-amplify/cli@1.6.10

[2019-05-21 22:27] ajhool commented on #1498
Possibly related, @tomptaylor #194 . Did you try adding Auth, Hosting, or Storage?

[2019-05-22 02:28] thelinguist commented on #195
TL;DR I had the same problem. If anyone else runs into this error, I suggest updating amplify-cli to the latest version.

I just installed amplify and tried it out. I got the same error. I found an error in the cloudFormation console. Under the stack that failed -> events, there's an error that says:

So I went into my project, in the file: `/amplify/backend/auth/<projectName>/<authID>-cloudformat

[2019-05-22 03:45] s-hood commented on #242
I'm facing the same issue. I can put the new API key in my local file but when I deploy with the AWS Amplify Console how does it know the new key to use?

[2019-05-22 04:36] stayingcool opened #1501 "[amplify add storage] - Resource is not in the state stackUpdateComplete"
**Describe the bug**
After `amplify add storage`, `amplify push` throws this error:
**

**

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `amplify add storage`
2. Execute `amplify push`
3. Push fails and throws the above error.
4. See error

**Expected behavior**
Push should complete successfully

**Screenshots**
**192-168-1-102:pna-multi-env_copy ahmni01$** amplify add storage
? Pl

[2019-05-22 06:17] janhesters commented on #1496
@ajhool Thank you.

[2019-05-22 06:17] #1496 closed

[2019-05-22 06:19] janhesters commented on #1451
@GeorgeBellTMH I was only asking for `max_length`, but you are right, generall validation system similar to [Django's fields](https://docs.djangoproject.com/en/2.2/ref/models/fields/#field-types) would be even more awesome.

[2019-05-22 06:44] stayingcool commented on #1501
I tried to follow the instructions provided in this article that talks about this issue:
https://www.rockyourcode.com/aws-amplify-resource-is-not-in-the-state-stack-update-complete

It refers to this github issue: https://github.com/aws-amplify/amplify-cli/issues/82.

Anyhow after following those steps in the article amplify push is still failing.

Hence I upgraded the CLI to this version: **1.6.1

[2019-05-22 06:57] janhesters commented on #1496
@ajhool I closed the issue, but I do have two more questions, maybe you know a solution for these 🤗 .

1. I'm basically building a contact list app. Up until now, no user had more than a thousand contacts. I display all contacts at once at several points in the app. Let's say I use a `useEffect` hook for example in the list of all contacts to fetch all contacts iteratively at once using the `nextT

[2019-05-22 08:59] janhesters opened #1502 "Sort single field API"
**Is your feature request related to a problem? Please describe.**
I'm unsure whether this is already possible in AWS Amplify, but here is my problem. I'm building a simple contact list app.

[code]

Until now, I was using Amplify's helper methods for the query.

[code]

Afterwards I would sort the contacts on the client side by `lastName` and then by `firstName`. Now the first user has over a tho

[2019-05-22 09:09] bakeruk commented on #1488
From email response,

[2019-05-22 09:09] #1488 closed

[2019-05-22 10:42] azarboon commented on #459
I tried v1.60.10 but still doesn't work. I get following error:

[code]

At the same time, I've set HTTP_PROXY and HTTPS_PROXY and aws cli works smoothly. I'm using Windows 7

[2019-05-22 15:18] ajhool commented on #1496
1. Not sure. If you're using Apollo, you can use the update function https://www.apollographql.com/docs/react/essentials/mutations#update to call the iterative query after a mutation. You could also just use an `isDirty` flag in your react component that recalls the iterative query. It's hard for me to imagine an application where a contact list of +1000 needs to worry too much about the few secon

[2019-05-22 15:58] lspellman opened #1504 "amplify push error for SQL database tables with underscores in name"
**Describe the bug**
After "amplify api add-graphql-datasource" to add an Aurora SQL db and letting it build the GraphQL schema and resolvers, when you use "amplify push" the cloud formation job fails due to underscores in SQL table names. This is similar to previous issue that was resolved for DynamoDB tables #2507.

Confirmed that this is the issue by removing underscores from table names and re

[2019-05-22 16:18] JoshMontgomery opened #1503 "Amplify codgen is not creating my custom resolvers"
** What AWS Services are you utilizing? **
AppSync, DynamoDB, Lambdas

** Provide additional details e.g. code snippets **
I have an AppSync schema which I created on the AppSync console. I am building a react native mobile application and attempted to run the codgen command to generate my schema locally. It worked great, except some of the custom resolvers I had created did not get created locall

[2019-05-22 17:04] yuth commented on #1501
@stayingcool S3 bucket name have to be globally unique (not just in your account) and from the CloudFormation error it looks like the bucket name you chose has already been taken. Could you try using a different bucket name which is not taken?

[2019-05-22 17:10] yuth commented on #1503
@JoshMontgomery what custom resolver did you add in the AppSync console? When you added those resolvers did you make any changes to your schema?

[2019-05-22 18:14] JoshMontgomery commented on #1503
@yuth I added a resolver to one of the fields of a type called Media. This was done on the AppSync console, however when I ran the codegen command the resolvers don't appear to be anywhere within my local project.

![image](https://user-images.githubusercontent.com/45075389/58198178-a9ed3a80-7c82-11e9-983a-028626388c23.png)

When I run the query from the AppSync console it works fine. If I run the

[2019-05-22 18:34] yuth commented on #1503
@JoshMontgomery Did you create your API using Amplify CLI's graphql-transformer?

To give you more context,  does 2 things when dealing with AppSync API
1. GraphQL transformation which coverts your schema.graphql and generate resolvers, create a expanded schema (to include CRUDL operations from model) and generate CloudFormation resources which can be used for deployment
2. Codege which looks at y

[2019-05-22 19:31] GeorgeBellTMH opened #1505 "Ability to select runtime when creating function"
Would be nice if we could select the runtime when creating a lambda function. Specifically it would it would be nice if the hello world function was created with each of the supported languages. Ie Node, Python, Ruby, Java, Go, .NET depending on the selection (as well as updating the cloud-formation template.

This would allow for functions to be written in any of the AWS supported languages, whic

[2019-05-22 20:12] jkeys-ecg-nmsu opened #1507 "GraphQL Transformer not generating Owner authorization rules for one-to-one AppSync connections"
**Describe the bug**
When connecting two models in a 1-to-1 relationship with the named @connection directive, Owner Authorization (`@auth`) rules are not created for the connection resolvers. This leads to an unauthorized error.

Has the GraphQL transformer always been this way or is this a regression?

**schema.graphql**

[code]

The getUser query correctly generates the owner authorization chec

[2019-05-22 20:17] ravnarayan commented on #1501
Hello @yuth, I'm having the same issue, and i din't specify a S3 name... what could it be other then what you have mentioned??

Please advise

[2019-05-22 20:19] yuth commented on #1501
@ravnarayan Could you share the output you get from cloudformation

[2019-05-22 20:21] ravnarayan commented on #1501
Hey @yuth, thank you for the quick reply, Please see below as per your request:

⠼ Updating resources in the cloud. This may take a few minutes...

CREATE_COMPLETE authcognito08c501nb AWS::CloudFormation::Stack Wed May 22 2019 13:39:01 GMT+0000 (Coordinated Universal Time)
⠦ Updating resources in the cloud. This may take a few minutes...Error updating cloudformation stack
⠇ Updating resources in t

[2019-05-22 20:33] yuth commented on #1501
@ravnarayan could you include the full cloudformation log. From the above output I cant see what failed.

Also whats version of Amplify CLI you have running on your machine?

[2019-05-22 20:36] ravnarayan commented on #1501
Hey @yuth

amplify -v = 1.6.10

sorry i'm not very good at this... What Command would i run to acquire cloudformation log?

thank you

[2019-05-22 20:39] yuth commented on #1501
@ravnarayan when you run `amplify push` it prints it to the screen. Could you include everything after the push command

[2019-05-22 20:41] JoshMontgomery commented on #1503
@yuth I did not under the assumption that graphql transform wouldn't allow me to create models which require a dynamo table with a composite key?

[2019-05-22 20:51] ravnarayan commented on #1501
hey @yuth, Perfect, please see below:

amplify push

Current Environment: local

| Category  | Resource name               | Operation | Provider plugin   |
| --------- | --------------------------- | --------- | ----------------- |
| Auth      | cognito80c046be             | Create    | awscloudformation |
| Analytics | mobileappreactnative        | Create    | awscloudformation |
| Api       | M

[2019-05-22 21:14] yuth commented on #1501
@ravnarayan the logs don't show anything as failing. Could you goto the cloudformation console and see if there is anything that failed earlier. You can find your stack name by looking at `<project-root>/amplify/backend/amplify-meta.json` under `provider -> awscloudformation -> StackName`

[2019-05-22 21:21] yuth commented on #1503
@JoshMontgomery thanks. I supect this might be due having lower `maxDepth` set for codegen. Could you try running `amplify codegen --max-depth 4` and see if you do get the fields you're expecting.

[2019-05-22 21:29] lorensr commented on #1502
This is part of my generated `graphql/queries.js`:

[code]

It would be great if `listUsers` had an argument `sortBy`

[2019-05-22 21:43] ravnarayan commented on #1501
Hey @yuth

Okay so i looked into amplify-meta.json and all it shows is lastPushTimeStamp, and under stack name it illustrates "mobileappreactnative"

[2019-05-22 22:04] lorensr commented on #1377
For me the problem was #1425 which was fixed in `v1.6.10`

[2019-05-22 22:14] yuth commented on #1501
@ravnarayan I won't have access to the Cloud Formation resource created in your project. Could you goto the [cloudformation console](https://console.aws.amazon.com/cloudformation/home?region=us-east-1) and choose the region where you have your project provisioned. After this you should be able to see the search for the stack name `mobileappreactnative` and see the events.

Could you share any fail

[2019-05-22 22:34] mhrisse commented on #922
Please do not get me wrong, we really appreciate the effort everyone is puting into Amplify.

From a product management perspective, this `@connection` workaround (plus 1. missing rock solid `@function` functionality and 2. a bad taste about putting complex if-the-else logic AVT) just adds to the taste that is just not feasible to use this in a real-world team yet.

When you are building a complex

[2019-05-23 00:32] ravnarayan commented on #1501
Hey @yuth

THank you for the instructions i followed, and this is what i got.

was not successfully created:

18:07:17 UTC-0600 | CREATE_FAILED | AWS::CloudFormation::Stack | analyticsmobileappreactnative
-- | -- | -- | --
The following resource(s) failed to create: [PinpointFunctionOutputs].

This is the only one i see

[2019-05-23 00:40] yuth commented on #1501
I looks like one of the nested stack has issue. Could you search for `mobileappreactnative-20190425055621-analyticsmobileappreactnativ` in the Cloudformation and see if there are any events that have failed there

[2019-05-23 00:47] yuth commented on #1501
could you open the file `<project-root>/amplify/backend/analytics/<resource-name>/pinpoint-cloudformation-template.json` and see whats the version of node in `Runtime`? If its `nodejs6.10` follow the [migration docs](https://aws-amplify.github.io/docs/cli/lambda-node-version-update#analytics) from our doc site and update your resource and see if that fixes the issue

[2019-05-23 01:17] mwarger opened #1509 "How to reference table (or other resources) within CustomResources template?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
GraphQL, DynamoDB

** Provide additional details e.g. code snippets **

Looking here: https://aws-amplify.github.io/docs/cli/graphql?sdk=js#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model

In that example, there is a CommentTable referenced in the example - how would I utilize this to p

[2019-05-23 01:38] ravnarayan commented on #1501
hey @yuth

Actually, mobileappreactnative-20190425055621-analyticsmobileappreactnativ is associated with:
The following resource(s) failed to create: [PinpointFunctionOutputs]. |   |  (as per my last Correspondence), this is the only one i can see. Also i had to change nodejs6.10 - nodejs8.10 in order to get rid of the error i was facing before, so yeah this is up to date

Thank you,

[2019-05-23 01:54] ravnarayan commented on #779
Hey @DanielCender

Thank you very much for helping m out... I tried following your instructions but on my Amplify File tree auth-cloudformation-template.yml does not exist. I have created the full stack but have error issues completing it as well... do you think it will show once push is completed?

Rav,

[2019-05-23 02:04] ravnarayan commented on #779
Hey @DanielCender

actually i do see it, mine is /amplify/backend/auth/cognito/cognito-cloudformation-template.yml... sorry about the last message... my schema is on line 176... Also, I'm not very good at this... what would i put here?

thank you,

[2019-05-23 09:30] s-hood commented on #1450
I'm having a similar issue. In the AppSync console I have this message "You don't have any available API keys, please create one under the section API keys."
I set the epoch expiration to 0 in the API parameters.json but amplify push now hits "Resource is not in the state stackUpdateComplete" right after the message "API key not found".
Also as a secondary question would setting the expiration to

[2019-05-23 10:05] stefantul opened #1510 "Amplify push is failing when testing the new feature/@key branch"
I followed the steps specified in testing-custom-indexes.md, did amplify add api, got an error here:

` What attributes are required for signing up? (Press <space> to select, <a> to toggle all, <i> to invert selection)Email
Error: ENOENT: no such file or directory, open '/home/stefan/Coding/Tests/vido/testing-key/amplify/backend/auth/testingkeya59f6fdb/parameters.json'
`

Continued with amplify pu

[2019-05-23 10:27] plaa commented on #1481
Is the `parameters.json` and `backend-config.json` functionality documented anywhere? Or is it even stable / can it break at any time?

I was trying to figure out how to do exactly what @zjullion described, but couldn't find it documented anywhere.  It's a huge shame that such a significant part of Amplify functionality is hidden and undocumented.

[2019-05-23 12:21] janhesters commented on #1496
@ajhool Thank you very much for your help. I'm going to look into these approaches 🙏

[2019-05-23 13:21] davidbiller commented on #673
@mikeparisstuff
You did a great job showing that.

But what about relatedPosts: [Post]?

If I stream an ElasticSearch from my schema file created with @searchable, does it just stream the POST correctly?

Means in ElasticSearch I have no access to related fields.

I want to build something like this:
User can swip cards like at tinder. I have to remember the swiped cards somehow. And I do that in

[2019-05-23 14:33] slaat opened #1511 "S3Key changes after every function push"
** Which Category is your question related to? **
Function

** Provide additional details e.g. code snippets **
After every amplify push the S3Key of each function that has been changed gets updated which means that when I try to merge it, I have to look through the files and revert the s3Key changes (since I do not want to merge these).

Is there any workaround or some way to get this data into a

[2019-05-23 15:05] kstro21 commented on #1509
The table name is in the form `[Name]-[AppSyncApiId]-[env]`. If you are in the **CustomResources.json** template, then you are lucky, the `AppSyncApiId` is passed as a parameter. So, you can use something like this, assuming my table's name is **Courses**:

[code]

Hope it helps

[2019-05-23 15:06] mwarger commented on #1509
I will give this a try, thank you.

[2019-05-23 16:03] cliffordh opened #1513 "DELETE_FAILED HostedUICustomResourceInputs"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, Auth, Hosted UI

** Provide additional details e.g. code snippets **
I am trying to push auth updates but receiving DELETE_FAILED messages. I have modified the CSS of the Hosted UI, added some custom attributes to my user pool, but nothing out of the ordinary.

DELETE_IN_PROGRESS HostedUICus

[2019-05-23 16:51] jugglingcats opened #1512 "Federated login secrets should not be stored in files that might be committed"
**Is your feature request related to a problem? Please describe.**
When adding Facebook, Google, etc, using the CLI it prompts for app ids and secrets. This information is put into `nested-cloudformation-stack.yml` and `team-provider-info.json`. I can see in answer to https://github.com/aws-amplify/docs/issues/267 that the first of these is added to `.gitignore` but not the latter.

**Describe the

[2019-05-23 16:57] zfarrell commented on #1469
thanks @hisham & @mikeparisstuff.

@hisham - i took inspiration from your approach, however just threw something together quickly which is a version controlled script that utilizes the cli to update the table after amplify push is called the first time. i'm hoping this is a temporary solution, so didn't want to spend too much time on it.

@mikeparisstuff - would it be possible (or is it already po

[2019-05-23 18:37] yuth commented on #1512
You should put `team-provider-info.json` in `.gitignore` file if you're sharing your project publicly as [documented](https://aws-amplify.github.io/docs/cli/multienv?sdk=js#teamprovider)

[2019-05-23 18:41] yuth commented on #1501
@ravnarayan could you share the `<project-root>/amplify/backend/analytics/<resource-name>/pinpoint-cloudformation-template.json` file. Its not really clear whats happening from the Cloudformation log

[2019-05-23 19:31] FatimahSanni commented on #98
+1 for this feature.

[2019-05-23 19:34] mikeparisstuff commented on #1510
Hmm I am not seeing this locally but I have just rebased the repo off of master and fixed a few things that were upsetting circle CI. Can you pull and try again?

[2019-05-23 19:51] kstro21 commented on #1509
@mwarger, even better, we can use the `AppSyncApiId` to import outputs of other stacks

[code]

This way we don't have to deal with how is the form of the name of the table. It returns the table's name no matter how it was implemented.

We can also import, for example, the `StreamArn`

[code]

Hope it helps

[2019-05-23 19:53] mwarger commented on #1509
@kstro21 Where do you put the "Fn::ImportValue" declaration?

[2019-05-23 19:53] lorensr opened #1514 "Improve sharing project workflow"
(The following is in a single-env amplify project)

**Is your feature request related to a problem? Please describe.**

1. I make an amplify-related change and `amplify push`
2. I git commit and push
3. Teammates `git pull` and run the new code, and get various errors
4. Teammates figure out they need to run `amplify push`

**Solution A**

Change the default to be that teammates don't need to run

[2019-05-23 21:06] ravnarayan commented on #1501
Hey @yuth

What i am doing now is trying to run "Amplify Push" after running "amplify remove auth"... I think cognito may have been a issue... Once its complete i will advise if there are any errors... After that maybe i can go back in and add "amplify remove auth" to bring cognito back in.

Do you think this will work?

Also my "pinpoint-cloudformation-template.json" 537 lines, is there a specifi

[2019-05-23 21:18] willkara commented on #703
Any movement on this? @kaustavghosh06 it's out of my skill-set but I can help out.

[2019-05-23 21:35] #1504 closed

[2019-05-23 22:05] ravnarayan commented on #1501
Hey @yuth

Same thing another error, I think i should restart amplify, I think i should do this by deleting the current process.... Would you have any idea on how i can delete it?

Thank you,

[2019-05-24 00:08] mwarger opened #1515 "CLI option to automatically confirm code generation"
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/686823/58294119-f5d8d600-7d8d-11e9-9a7e-1ee26e3e842c.png)

I want to be able to set a config flag or pass a CLI argument to automatically mark both of the above questions as Yes and continue the push.

[2019-05-24 00:14] mwarger commented on #1509
I was able to get this working, thank you!

[2019-05-24 00:14] #1509 closed

[2019-05-24 00:20] seanxwang commented on #459
Getting the same error on Linux, any thoughts about troubleshooting (debug mode)? Would be great if there is simple Amplify command line to verify proxy is working.

amplify -v
1.6.10

amplify init
...
⠇ Initializing project in the cloud...An error occurred when creating the CloudFormation stack
✖ Root stack creation failed
init failed
Error: connect ETIMEDOUT 54.239.29.24:443
    at TCPConnectWra

[2019-05-24 05:24] bwobbones commented on #836
Any updates on this one @yuth?  Its very annoying, my deployment can take up to an hour to get through, even when I only need to to deploy a tiny lambda change.

[2019-05-24 05:42] ravnarayan commented on #1501
Hey @yuth

deleted amplify, and started new project, and it WORKED! Thank you for all your help.

[2019-05-24 11:40] plaa commented on #868
See [zjullion's comment on issue #1481](https://github.com/aws-amplify/amplify-cli/issues/1481#issuecomment-493603180), it might help.  I was able to import variables output by other resources into a customized Lambda CF stack.  Not sure does it work for custom stacks though.

[2019-05-24 11:41] plaa commented on #1123
I guess this one is already done and should be closed?

[2019-05-24 13:03] mwarger commented on #278
@kaustavghosh06 After this point, I moved my GQL to the query files as this approach didn't work.  I had left Apollo as well so I'm not sure if this works or not, but I don't need it at the moment.

[2019-05-24 13:03] #278 closed

[2019-05-24 13:57] AlessandroAnnini commented on #91
Hi @mikeparisstuff
sorry to bother you but may I ask if there is any ETA for this feature?
You said here https://github.com/aws-amplify/amplify-cli/issues/91#issuecomment-424529111 that there is a TODO about this but this thing still holds me back from using this AWS service.
I just need to know if it is better to wait or use some other tool
Thanks!

[2019-05-24 15:09] zjullion commented on #1099
@kstro21, you can provide the GraphQLApiIdOutput to the lambdas, just follow something similar to what I mention here: https://github.com/aws-amplify/amplify-cli/issues/1481#issuecomment-493603180

[2019-05-24 15:33] kstro21 commented on #1099
@zjullion that looks like dark magic, lol. I'm with [@plaa's comment](https://github.com/aws-amplify/amplify-cli/issues/1481#issuecomment-495162496), how is this functionality hidden and undocumented?. Is it gonna be removed? Editing `backend-config.json` is safe? I mean, changes won't get lost by running `amplify push/publish` or others commands?

Anyway, I'm going to give it a try, thanks.

[2019-05-24 15:41] davidbiller commented on #1099
let us know :)

[2019-05-24 17:16] yuth commented on #1123
We have fixed this is #1354 and released in @aws-amplify/cli@1.6.6

[2019-05-24 17:16] #1123 closed

[2019-05-24 19:19] stefantul commented on #1510
I've tested again and it seems to be working now, thanks.

[2019-05-24 20:21] zjullion commented on #1099
I'm not sure why the amplify-cli team has not documented it. I'm just a contributor here (like you!)

I can't say for certain, but I think it's fairly safe. When you add / remove resources via `amplify cli`, this is the file that gets edited. As well, you'll see `dependsOn` is used between auth and api resources.

For certain, the changes won't get lost.

Just remember to always do an 'amplify env

[2019-05-24 20:26] kstro21 commented on #1099
thx @zjullion, I have to try this too, for sure.

[2019-05-24 20:45] kaustavghosh06 commented on #1388
@Loghrenar Are you still stuck on this?

[2019-05-24 20:47] mikeparisstuff commented on #1087
Which role are you referencing? If you are following the directions here (https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function) then the role that is created is actually the role that AppSync uses to invoke your lambda function and is not the lambda execution role itself. If you want to change the execution policy for the lambda function you shou

[2019-05-24 20:55] mikeparisstuff commented on #1516
As of writing there is no automated command to import an existing API but it is possible to deploy a copy of your existing API that targets your existing data sources using custom resources within the API category. To do this you would need to pull the schema into `schema.graphql`, resolver templates into `/resolvers`, and lastly write custom cloudformation stacks that create the resolver, data so

[2019-05-24 20:58] mikeparisstuff commented on #1510
Great!

[2019-05-24 20:58] #1510 closed

[2019-05-24 20:58] kaustavghosh06 commented on #1513
@cliffordh I would need to see your parameters.json file and your Cloudformation file to rootcause this as the deffault cases work for me.
Would be also great to now the exact changes you've made to these files. Thanks!

[2019-05-24 20:59] #1512 closed

[2019-05-24 21:04] kaustavghosh06 commented on #1503
@JoshMontgomery Closing this issue for now, please let us know if you still are stuck with this issue. Hope @yuth's response helped.

[2019-05-24 21:04] #1503 closed

[2019-05-24 21:10] kaustavghosh06 commented on #1498
@tomptaylor Please let us know if you're still stuck with this and feel free to re-open or comment on this thread for further help.

[2019-05-24 21:10] #1498 closed

[2019-05-24 21:11] kaustavghosh06 commented on #1448
@achutkiran Please let us know if you're still having issues with this.

[2019-05-24 21:15] kaustavghosh06 commented on #1501
@stayingcool Are you still seeing push failures?

[2019-05-24 21:17] #1352 closed

[2019-05-24 21:23] #1313 closed

[2019-05-24 21:32] kaustavghosh06 commented on #1485
@potatopotaro We're actively working on supporting multi-auth as a part of the GraphQL Transformer and I'll have an update this thread as soon as we release this feature.

[2019-05-24 21:34] mikeparisstuff commented on #1502
@janhesters We are actively working on the @key directive that will help solve this use case for you. The code (https://github.com/aws-amplify/amplify-cli/pull/1463) and docs (https://github.com/aws-amplify/docs/pull/689/files) are currently in PR.

The general idea is that you will be able to define a schema like this:

[code]

This will create a GSI named "ByOwnerLastNameFirstName" with a **hash

[2019-05-24 21:35] kaustavghosh06 commented on #1489
@cliffordh The best way would be to use plugins to solve for your use-case or modifying the Cloudformation files generated by the CLI for you in the `amplify` dir in your project. Here's a link to our plugins doc - https://aws-amplify.github.io/docs/cli/plugins?sdk=js

[2019-05-24 21:36] #1480 closed

[2019-05-24 21:39] mikeparisstuff commented on #1469
@zfarrell Yes in general I think this is a great idea and we have made progress towards enabling it. See this PR: https://github.com/aws-amplify/amplify-cli/pull/1396. We are working through this but the goal is to allow you to write, load, and distribute custom transformers that hook into the compilation process.

[2019-05-24 21:40] #1242 closed

[2019-05-24 22:13] zfarrell commented on #1469
thanks @mikeparisstuff... this seems really promising. As mentioned in https://github.com/aws-amplify/amplify-cli/issues/1060#issuecomment-474199432, it would be extremely helpful to walk through a few use cases. For example, your write up for the `@function` docs is great.

[2019-05-24 22:29] jkeys-ecg-nmsu commented on #1507
This also appears to be affecting one-to-many connections, but instead of generating resolvers that respond with 4xx errors they just always return empty `items` lists. (This was a major source of confusion, luckily our AppSync API is not production yet.)

[2019-05-25 03:14] johncantrell97 commented on #83
Is there any example of using a custom lambda resolver for a graphql query/mutation where the authenticated cognito user and dynamodb is accessible in the lambda function?

[2019-05-25 05:04] buggy commented on #1062
@mikeparisstuff Could we add support for modifiers to field values? I imagine something like "field|modifier1|modifier2|...". This would allow "field|lowercase" or "field|uppercase" to create case insensitive indexes which makes lists appear natural (all the A's and a's together) plus it makes queries easier.

[2019-05-25 09:46] stayingcool commented on #1501
Yes. I still have the issue.

What is very frustrating is to restart a new project, recreate everything, rewire everything and expect the push every time to work nervously.

[2019-05-25 10:00] dreadnautxbuddha commented on #1243
Hi, I'd like to ask if this has been already implemented?
Running
`$ amplify checkout env clientdev`

doesn't update `graphQLApiId` in .graphqlconfig.yml.
Running
`$ amplify --version`
Returns 1.6.11

[2019-05-25 11:23] davekiss commented on #83
@johncantrell97 these docs would probably be helpful for you: https://github.com/aws-amplify/docs/pull/640/files

[2019-05-25 12:50] janhesters commented on #1502
@mikeparisstuff Awesome, thanks for letting me know! I have three questions:

1. Do you know when that PR will merge and the directive will go live?
2. Why did you choose to go only for a hardcoded sort, and not a dynamically one (like `API.graphql(graphqlOperation(listContacts, { limit: 100, nextToken, sortBy: { firstName: 'gte', lastName: 'gte' }));`) ?
3. Could you also include other useful dir

[2019-05-25 13:58] hyochan commented on #276
'ap-northeast-2': 'Asia Pacific (Seoul)',

[2019-05-25 19:38] jkeys-ecg-nmsu opened #1517 "[GraphQL Transformer] Do not generate cyclical relationships when --max-depth is higher than necessary"
**Is your feature request related to a problem? Please describe.**
We've been using `--max-depth=5` in our projects. This leads to massive generated GraphQL operations that are needlessly recursive/cyclical. Since the underlying data structure is not recursive, we do not need the generated operations to recurse.

**Describe the solution you'd like**
The GraphQL transformer should detect when it's

[2019-05-25 21:20] cliffordh opened #1533 "Specify custom attributes?"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
Is it possible to specify custom attributes during the creation of the user pool?

[2019-05-26 00:11] jkeys-ecg-nmsu commented on #1515
`amplify push --yes`

[2019-05-26 09:00] Monder87 commented on #1406
Hi there! I am adding myself in the list of users having the amplify push error:

I have frankly say that unfortunately this is becoming a really nasty issue for my company, we are going in production very soon and no matter what i do at the moment i cannot fix it, i have to do the api again, and this really scary me in a prod scenario, i prob will opt to follow a workflow like @hew suggested.

We

[2019-05-26 14:03] dancomanlive commented on #1502
Why not use a local secondary index instead of a global secondary index?

[2019-05-26 14:38] antoine-doolaeghe opened #1518 "Pushing multiple custom resolver"
Custom Resolver pointing to a lambda function

I have successfully added an initial custom resolver following the instruction from here https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model.

However, when trying to add a secondary custom resolver pointing to another function, then pushing again using the cli command `amplify push`, it resolv

[2019-05-26 14:50] #1518 closed

[2019-05-26 18:06] kevinwolfcr opened #1519 "@function directive not working with Mutation types"
**Describe the bug**
The `@function` directive is not working with `Mutation` types.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `amplify init api` and select `graphql`
2. Edit `schema.graphql` (code below)
3. Run `amplify push -y`
4. See error

**schema.graphql**
[code]

**Error**
[code]

**Expected behavior**
To work the same as with `Query` types.

[code]

[2019-05-26 20:52] janhesters commented on #1502
@dancomanlive What do you mean by that?

[2019-05-26 22:05] aehringer opened #1520 "Unable to query for all connections"
**Describe the bug**
Abbreviated Schema:
User @model {
    recommendations: [Recommendation] @connection(name:"User_Recommendation")
}
Restaurant @model {
   name: String!
   recommendations: [Recommendation] @connection("Restaurant_Recommendation")
}
Recommendation @model {
   caption: String!
   user: User! @connection(name:"User_Recommendation")
   restaurant: Restaurant! @connection(name:"Rest

[2019-05-27 00:33] horacioh opened #1521 "amplify push error when updating schema with connections"
**Describe the bug**
I wanted to update a pushed schema API to the cloud and I got an error with not too much information on what to do next.

Here's the actual schema on the cloud:

[code]

and this is the updated schema that I wanted to push:

[code]

after updating the `schema.graphql` file and run `amplify push` I got this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. am

[2019-05-27 01:33] nino-moreton opened #1522 "Team workflow between windows and unix devices"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
When creating a project in Windows, then working on the same project in unix system (i.e. Ubuntu), when doing an _amplify api push_ it creates a src\graphql directory. This is due to Windows using backslash while unix has forward slash for accessing directories.

**To Reproduce*

[2019-05-27 05:22] selipso commented on #91
While I think the many-to-one and one-to-many workaround presented earlier is fine, I believe the limitation really shows when trying to do many-to-many self-to-self relationships like with the user-friends example, where a friend is also a user. This example makes no sense no matter how you break down the data types and requires a `--max-depth` of 7 on top of that, which would have adverse effect

[2019-05-27 06:11] dancomanlive commented on #1502
Was referring to "This will create a GSI named "ByOwnerLastNameFirstName" with a hash key of owner and a composite sort key of lastName#firstName that is managed on your behalf by AppSync resolvers."

A primary key can be a partition key or a combination of a partition(hash) key and sort(range) key. A local secondary index has the same partition key and different sort keys. A global secondary inde

[2019-05-27 06:34] #1520 closed

[2019-05-27 06:34] aehringer commented on #1520
*Closed because the problem was not using nextToken properly

[2019-05-27 06:37] phlinhng opened #1523 "reset or unpush"
sometime we did some change that we didn't want to, we would like to easily revoke our change to the last time we push something to the cloud. With git the command is `git reset --hard`, but in amplify-cli there is no such command to revoke our commit, please consider adding a reset feature.

[2019-05-27 08:12] Loghrenar commented on #1388
Hey @kaustavghosh06,

Yes, I'm still stuck on this point at the moment.

[2019-05-27 08:33] phlinhng commented on #882
wtf so it was the problem with cli itself?

[2019-05-27 09:00] jmorecroft commented on #1475
Thanks for that. Great to see such speedy progress on this platform.

[2019-05-27 09:11] horacioh commented on #1521
the version of amplify-cli I have installed is `1.6.3`

[2019-05-27 09:11] jmorecroft commented on #1043
Hi folks, might be the wrong thread or place for this but somewhat related - can anyone explain to me the rationale for choosing Cognito:username as the implicit "owner" if none is provided, as implemented in the auto gen'ed resolvers, as opposed to the identity's "sub"? My guess is one's as good as the other and the former is more readable, but I do wonder about the impact of username changing/re

[2019-05-27 12:28] slaat opened #1525 "Remove aws-sdk from functions as default library"
**Is your feature request related to a problem? Please describe.**
The total size of a lambda function (dist file) is at about 8MB. Most of it is because of the aws-sdk library that is being included. Lambda Functions have this library preinstalled which means that this is not necessary.

**Describe the solution you'd like**
Remove the aws-sdk as a default from the package.json dependencies

**Add

[2019-05-27 13:01] et304383 commented on #1043
@jmorecroft it's purely a mistake on the Amplify team's part.  The sub should always be used to uniquely identify a user.  I already posted about this [here](https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-488677202) in this same thread.

[2019-05-27 13:19] phishy commented on #401
Where did this land?

[2019-05-27 13:33] kstro21 commented on #1521
Hi @horacioh, some of the issues have been fixed in 1.6.10. Try to update and give it a try.

[2019-05-27 14:13] wbroek opened #1526 "GraphQL Template format error"
**Describe the bug**
When updating my GraphQL schema (added one boolean field) I get the error
`UPDATE_FAILED      apimcggraphql AWS::CloudFormation::Stack Mon May 27 2019 15:59:33 GMT+0200 (Central European Summer Time) Template format error: Output GetAttCarepathItemArticleTableStreamArn is malformed.  The Name field of Export must not depend on any resources, imported values, or Fn::GetAZs.`

T

[2019-05-27 15:09] hisham commented on #1243
@dreadnautxbuddha yes it is. You can safely delete the hardcoded graphQLApiID in .graphqlconfig.yml. They now store the api id somewhere else.

[2019-05-27 15:25] oste opened #1527 "amplify add api requires "Provide a custom type name""
**Describe the bug**
When using the `amplify add api` command it asks for `Provide a custom type name`. This is not always necessary. I immediately followed up with `amplify api add-graphql-datasource` to add a aurora serverless data source. This results in unnecessary Dynamo db tables being created and extra schema added.

**Expected behavior**
Option to skip Dynamo table creation.

[2019-05-27 16:38] 24jr commented on #980
Had same issue just updated with ```npm install -g @aws-amplify/cli``` and tried again and it worked. They must've just fixed it. It did take a while like idk 20 mins maybe for me updating but eventually worked

[2019-05-27 18:06] aireater commented on #621
My DynamoDB tables also include the "GraphQLAPIIdOutput" value in the table name. I'm assuming I'm responsible for adding those to the env variables.

[2019-05-27 20:35] ajhool commented on #1043
I had posted a similar bug (in the amplify js repo), where the Storage object is connected to a transient id: https://github.com/aws-amplify/amplify-js/issues/1787 , not sure if that is still the case.

[2019-05-27 20:37] slaat commented on #1514
is the teammate doing amplify pull? I guess the error is, that the aws-exports.js file is not updating, correct?

[2019-05-27 20:43] ajhool commented on #805
@kwhitejr

The usual security issues... create least-privileged users who only have privileges to do what they need to do. I just use a user in an "Admin" cognito group, but I might create more fine-grained service groups with simpler access.

Here's how I store/retrieve passwords for login.

[code]

[2019-05-27 21:10] et304383 commented on #916
VERY annoying.  amp push keeps resetting the schemaPath back to src/graphql/schema.json

[2019-05-27 23:02] rohitbhardwaj commented on #1497
Is Amplify push still broken?

CREATE_FAILED UserPoolClientLambda                                           AWS::Lambda::Function      Mon May 27 2019 18:46:07 GMT-0400 (Eastern Daylight Time) The runtime parameter of nodejs6.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs8.10) while creating or updating functions. (Service: AWS

[2019-05-28 01:56] dreadnautxbuddha commented on #1243
thanks for the response @hisham. Just another question, for my project, I add AppSync APIs via
`amplify add codegen --apiId <api id>`. Will multienv work for this as well?

[code]

I then get an error there that says only one api is allowed for project? Forgot the error, i'm not on my pc right now.

[2019-05-28 01:59] kaustavghosh06 commented on #1519
@kevinwolfcr What's the version of the CLI that you're using?

[2019-05-28 03:09] Monder87 commented on #1521
Hi , i had same problem and i tried with the 1.6.11 updated version, still same error

[2019-05-28 04:48] rawadrifai opened #1528 "How do I create a composite key in graphql.schema?"
** Which Category is your question related to? **
AWS Amplify

** What AWS Services are you utilizing? **
API Gateway, DynamoDB, Lambda

** Provide additional details e.g. code snippets **
I just want to be able to specify 2 fields to be the primary key in for a given type in graphql.schema. Is this already available and I'm missing it?

[2019-05-28 09:21] bvdaakster opened #1592 "Add "--config-json" or similar to "amplify env import" as an alternative to using inline JSON with --config"
**Is your feature request related to a problem? Please describe.**
The "amplify env import" command requires the --config parameter passing in a JSON object. It would be nice to have the option to use a file instead of inline JSON here.

**Describe the solution you'd like**
Example:
`amplify env import --config-json ./env-config.json`
Desired result: the command loads the JSON object from the give

[2019-05-28 09:28] tomaszs commented on #779
I have red above discussion and from my POV it looks like it is not clear how to connect Amplify to existing user pool. Is it not possible to just modify aws-exports.ts and get it done? Why Amplify forces to create AWS settings from the console while it is not the most popular use case scenario?

[2019-05-28 09:38] dancomanlive commented on #1528
Maybe this is a possible answer: https://github.com/aws-amplify/docs/pull/689/files

[2019-05-28 12:54] selipso opened #1529 "Resource Updates are not consistent with GraphQL Schema and result in Validation Errors"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
Suppose I have a schema like the following:

[code]

Now I replace the 'lastItem' field in TodoItems with `lastItem: String` to make the logic easier.

When making a request to the backend now, for some reason the older field type is still there in the resolvers and I get the fo

[2019-05-28 13:56] kstro21 commented on #1521
@Monder87 you have a different issue, the error in your SS sais:

Try removing your duplicated **resolver** and update the stack again.

[2019-05-28 14:25] kstro21 commented on #1525
Ideally, `aws-sdk` is added in **package.json** as a **devDependencies**, later, in the process of _zipping_, only **production** dependencies are added, by using `npm install --production`.

[2019-05-28 15:36] mikeparisstuff commented on #1519
Can you please copy and paste your `schema.graphql`? I was just able to deploy this simple schema:

[code]

I suspect this may be an edge case.

[2019-05-28 15:52] BeaveArony commented on #1043
Protecting a @connection field by queries is done by using this pattern:

[code]

How can we protect, that someone else adds a new Post to any other User?

Say I'm logged in as 'Cersei' and do the following mutation:
[code]

I would like to protect against this.

[2019-05-28 15:55] yuth commented on #1243
We now retrieve the API ID from `amplify-meta.json`

The CLI does not support using different API per environment when the API is externally added. The same API is shared across all the environment.

[2019-05-28 18:00] GeorgeBellTMH commented on #586
This would be really useful, currently you have to generate the queries by hand, which can become a nightmare...

[2019-05-28 19:00] kaustavghosh06 commented on #1523
Did you try the `amplify env pull` --restore command?

[2019-05-28 19:03] kaustavghosh06 commented on #1527
@oste You can get rid of the type generated when editing the schema before pushing. That would make sure that a table is not generated.

[2019-05-28 19:04] kaustavghosh06 commented on #1528
@rawadrifai We're soon be merging the custom indexes PR which would help with your case. I'll update this thread after the release.

[2019-05-28 19:58] arjunkalburgi commented on #972
I'm having this issue, @edward-hong how did you solve it? How do I verify my account?

[2019-05-28 20:01] arjunkalburgi commented on #191
I'm having this issue, @kaustavghosh06 and I just installed amplify cli minutes ago.

[code]

How do I verify my account?

[2019-05-28 20:55] matthewbga commented on #1450
I am having the same issue, but cannot simply push to resolve it, even with the parameters.json file update.

```amplify push``` no longer works for me because the API Key has expired (and has been deleted?)

Is there nay advice you can give on getting things back in sync between the amplify CLI tooling and the CloudFormation deployment?

[2019-05-28 21:42] #1385 closed

[2019-05-28 23:57] lorensr commented on #1514
I don't know if that's the cause of the various errors. They're not running `amplify pull`, but regardless of whether the command is `amplify push` or `amplify pull`, I think the step 3-4 problem remains.

[2019-05-29 00:38] minbi opened #1531 "Error installing Amplify CLI"
**Describe the bug**
Cannot install Amplify CLI.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Install without sudo access.

**Desktop (please complete the following information):**
 - OS: macOS Mojave 10.14.5

Continuing report #942

[2019-05-29 00:40] minbi commented on #1531
The main concern is why do you require sudo to be able to install this tool?

[2019-05-29 00:45] kaustavghosh06 commented on #1531
It can have various reasons as to why you would need sudo. It might as well be that the first time you installed any pacakge from npm or even when installing the CLI, you might've used sudo which gives the directory `/usr/local/lib/node_modules` admin rights. If you want to prevent this in the future, try removing `lib/node_modules` or change auth permissions using chown for the  node_modules dire

[2019-05-29 00:48] kaustavghosh06 commented on #1531
Also, it's not specific to "this tool". Try installing any package form npm and you should see this permission issue.

[2019-05-29 00:53] #1515 closed

[2019-05-29 01:02] davidbiller opened #1532 "@searchable indexing parent child possiblity?"
** Which Category is your question related to? **
https://www.elastic.co/guide/en/elasticsearch/guide/current/indexing-parent-child.html
I guess, there is a stream from DynamoDB to ElasticSearch when a new Doc is created.
This "Stream" is fixed right? i used the AppSync @searchable from Amplify.

So, i guess i need to add  the parent ID like here in the example of the page:
PUT /company/employee/1

[2019-05-29 01:08] oste commented on #1527
@kaustavghosh06 I actually tried this before running `amplify api add-graphql-datasource` and was given this error

[code]

[2019-05-29 01:11] slaat commented on #1514
Well it depends. There is a reason why aws-exports.js is not included in git. It has to be generated in some way and that would be amplify pull/push

[2019-05-29 01:14] mwarger opened #1534 "How to use same backend with multiple web projects and Amplify Console"
** Which Category is your question related to? **
env and/or configure

** What AWS Services are you utilizing? **
CLI with console

** Provide additional details e.g. code snippets **
Related to this link: https://aws-amplify.github.io/docs/cli/init#amplify-configure-project

How is this supposed to be used when pushing to a multi-env project with the Amplify Console?  When I attempt to utilize t

[2019-05-29 01:16] slaat commented on #1525
That would still add about 40mb of data to the node_modules of each lambda function...

[2019-05-29 01:16] kaustavghosh06 commented on #1534
@mwarger In your Amplify Console don't you get an option to select form your exisiting backends when you connect your repo? If you have checked in your team-provider-info.json file which is located in your amplify/ dir, you should be able to select from exisiting backends.

[2019-05-29 01:21] kaustavghosh06 commented on #1533
Please take a look at #1204
Closing this since this is a duplicate.

[2019-05-29 01:21] #1533 closed

[2019-05-29 01:22] #1531 closed

[2019-05-29 01:28] mwarger commented on #1534
This was a pre-existing project that I added the backend to.  I was doing it all manually before.  Can I do this in the build settings somewhere or do I need to kill the project and redo it?

[2019-05-29 01:42] mwarger commented on #1534
![image](https://user-images.githubusercontent.com/686823/58523139-f7890c00-8188-11e9-8348-2cc6919aad5d.png)

I get this when trying to connect my dev branch - I cannot choose any of the branches I have in the CLI for the other project, only the local one I'm using for development...  is this correct?

[2019-05-29 01:59] imwm commented on #607
having this issue too. seems new. probably can't use amplify on the current project at this rate.

[2019-05-29 02:14] kaustavghosh06 commented on #607
@imwm  & @SebastianKirsch123 Which version of the CLI are you using and what's the error are you getting? I was able to add analytics via `amplify add analytics` command and then successfully `amplify push`. Here's a screenshot of the commands:
[code]

[2019-05-29 02:16] kaustavghosh06 commented on #607
@imwm It would be really helpful for us to know what the exact error message is that you're getting, which version of the CLI you're using and which region you have your project in, to further root-cause your issue.

[2019-05-29 07:06] dreadnautxbuddha commented on #1243
Ok. Thanks @yuth

[2019-05-29 07:34] rawadrifai opened #1537 "How do I append to an array field in graphQL mutations?"
** Which Category is your question related to? **
GraphQL Mutations

** What AWS Services are you utilizing? **
Amplify, DynamoDB, API Gateway

** Provide additional details e.g. code snippets **
In mutations.js I have something like this:
[code]

users is an array of strings. How do I append an item without having to replace the whole array  every time?

[2019-05-29 07:45] ericowlie opened #1538 "Calling 'amplify api update/add/remove' (REST) overrides custom Access-Control-Allow-Headers"
**Describe the bug**
I need to pass a custom header in the Access-Control-Allow-Headers of my Rest API.
As amplify-cli doesn't allow me to do this through the command line, I modify the API '*-cloudformation-template.json' file manually to add my custom header for each route.

But when I call 'amplify api update' or 'amplify api add' or 'amplify api remove' (or any command modifying this file), ev

[2019-05-29 08:13] ericowlie opened #1539 "Calling 'amplify push' (REST API) when adding custom HTTP headers doesn't deploy the API"
**Describe the bug**
Let's say I add a custom HTTP header (Access-Control-Allow-Headers) for one of my Rest API route in my API '*-cloudformation-template.json'.
When I call 'amplify push', everything is uploaded correctly to the cloud, but when I call my route I get CORS error because my custom header isn't allowed.
I need to go in the AWS API Gateway console and click on 'Action => Deploy API' t

[2019-05-29 11:18] phlinhng opened #1540 "CREATE_FAILED [HostedUICustomResourceInputs, HostedUIProvidersCustomResourceInputs]"
These message keep happen every time when I try to `amplify push` after adding or updating `auth`.
Version: @amplify/cli 1.6.11

[2019-05-29 13:26] phlinhng commented on #1513
Same problem HostedUICustomResourceInputs CREATE_FAILED and DELETE_FAILED

[2019-05-29 13:27] kaustavghosh06 commented on #1513
@phlinhng Did you check the Cloudwqtch logs to find the error? I might be that the hosted UI domain name is not unique causing the stack to fail.

[2019-05-29 13:36] phlinhng commented on #1513
@kaustavghosh06 I checked but I can't figure how can my hosted UI domain be not unique (I didn't even know what hosted UI domain is for!). I think it was generate by `amplify add auth`. This happened after I start to create an auth.

[2019-05-29 13:38] kaustavghosh06 commented on #1513
@phlinhng if you could share your CloudWatch error logs, we can see what went wrong in the deployment.

[2019-05-29 13:40] macs91 opened #1541 "Model connection to self"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
API, Storage, Auth

** Provide additional details e.g. code snippets **

How can I model a recursive relationship?

I tried with this one:
[code]
But when I try to create a folder I get this error:
`The table does not have the specified index: gsi ....`

[2019-05-29 13:42] darnmark64 opened #1542 "Team Environment - New API and Storage Not Being Created"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify API and Storage

** What AWS Services are you utilizing? **
API Gateway and DynamoDB

** Provide additional details e.g. code snippets **
My team member added a new API and two storage items. He checked in his updated backend-config.json file

[2019-05-29 13:43] edward-hong commented on #972
@arjunkalburgi I had to contact Amazon support and they were able to verify me through a call instead.

[2019-05-29 13:45] phlinhng commented on #1513
@kaustavghosh06 Thanks for helping! Sorry I don't know how to export it beautifully as a text file.
Is this working?

2019-05-29 | 状态 | 类型 | 逻辑 ID | 状态原因
-- | -- | -- | -- | --
21:33:22 UTC+0800UPDATE_ROLLBACK_COMPLETEAWS::CloudFormation::Stackawsmobileandroidnote-cloudclase-2019052921102221:30:06 UTC+0800DELETE_FAILEDAWS::CloudFormation::Stackauthawsmobileandroidnoted09d5119Embedded stack arn:aws

[2019-05-29 13:48] kaustavghosh06 commented on #1513
@phlinhng this is the Cloudformation log. The Hosted UI functionality is to mocked through a Lambda function, which logs its error in a service called CloudWatch. You would have to go the AWS console and checkout the CloudWatch logs to narrow down the issue.

[2019-05-29 13:51] kaustavghosh06 commented on #1542
After you do a git pull, you would also need to run the ‘amplify env pull’ command. You should be able to see the resources as a part of your amplify status command then.

[2019-05-29 13:55] kaustavghosh06 commented on #1513
As you can see the in the reason section it mentions to check CloudWatch logs for more details - ‘Failed to delete resource. See the details in CloudWatch Log Stream: 2019/05/29/[$LATEST]’

That link below  ties in to your CloudFormation stack, but for more details for deployment failures (in some cases like yours), you would have to dig through CloudWatch logs since Cloudformation doesn’t provide

[2019-05-29 13:58] phlinhng commented on #1513
here it was.

13:29:07
START RequestId: b8194c55-ec10-4a90-80ce-d2b169dba7f0 Version: $LATEST
START RequestId: b8194c55-ec10-4a90-80ce-d2b169dba7f0 Version: $LATEST

13:29:09
2019-05-29T13:29:08.970Z	b8194c55-ec10-4a90-80ce-d2b169dba7f0	{ InvalidParameterException: Domain cannot contain reserved word: aws at Request.extractError (/var/runtime/node_modules/aws-sdk/lib/protocol/json.js:48:27) at R

[2019-05-29 14:03] kaustavghosh06 commented on #1513
Ah! As you can see the error is - InvalidParameterException: Domain cannot contain reserved word: aws
As a workaround, if you check your ‘<project-root>/amplify/auth/<resource-name>/parameters.json’, you’ll find a HostedUIDomainName key out there. If you remove ‘aws’ from that name, your deployment should succeed. I’ll mark this as a bug since the CLI should have validations when adding auth to av

[2019-05-29 14:12] darnmark64 commented on #1542
Thank you that worked. I see in the documentation (https://aws-amplify.github.io/docs/cli/multienv?sdk=js) a mention of 'amplify env pull' in team members sharing the same backend but not in the sandbox environments, which is what we are using, so I missed it. We now know for the future. Thanks again.

[2019-05-29 14:53] venkatesh-kadiyala commented on #867
@mikeparisstuff
Do you have an update on this issue ?

[2019-05-29 14:59] willkara commented on #1452
@kaustavghosh06 after taking in the changes from the proxy-support PR, my `rejectUnauthorized: false` code no longer works. I had it working before and only needed to add CLI tool parsing.

@AlessandroVol23 any idea what may have changed?

I'm trying something like this and no luck

[code]

Of course the code would need some logic and tweaking, but at this point I'm mainly focusing on the mechanis

[2019-05-29 16:22] willkara commented on #1486
@kaustavghosh06 after taking in the changes from the proxy-support PR, my `rejectUnauthorized: false` code no longer works. I had it working before and only needed to add CLI tool parsing.

@AlessandroVol23 any idea what may have changed?

I'm trying something like this and no luck

[code]

Of course the code would need some logic and tweaking, but at this point I'm mainly focusing on the mechanis

[2019-05-29 17:15] OtterFlip commented on #1194
@kaustavghosh06 We are also experiencing this same issue.  It's messing up our multi-env deployment and it's pretty aggravating.  I agree with @hisham that this should be parameterized so that the template itself is unaltered when you switch between backend environments using "amplify env checkout <env_name>"    We also noticed, as @hisham mentioned, that a parameterized technique is used for the

[2019-05-29 17:55] damianrr opened #1543 "MultiEnv and Dynamically get DynamoDB TableName in a BatchGetItem request mapping template"
**Is your feature request related to a problem? Please describe.**
Batch operations in custom resolvers doesn't play well with multi env feature.

**Describe the solution you'd like**
When using a BatchGetItem operation in a custom resolver I need to hardcode the table name, like this:
[code]
However, this creates a problem when I'm using a multi env set up.
I haven't found in the docs and interne

[2019-05-29 18:29] #1523 closed

[2019-05-29 18:30] kaustavghosh06 commented on #1534
You let the Console create it (using the CLI) you mean?

[2019-05-29 18:32] mwarger commented on #1534
@kaustavghosh06 Yes.

[2019-05-29 18:32] kaustavghosh06 commented on #1534
Okay..then you would have to import these environments locally so that it shows up on that list on Amplify Console.

[2019-05-29 18:34] mwarger commented on #1534
How do I do that?

[2019-05-29 18:39] kaustavghosh06 commented on #1534
https://github.com/aws-samples/create-react-app-auth-amplify#run-locally-with-the-amplify-cli

[2019-05-29 18:40] mwarger commented on #1534
Gotcha, I will give that a try this evening and report back.  Thank you.

[2019-05-29 18:44] kaustavghosh06 commented on #1540
@phlinhng We found out the root-cause for this issue in #1513
Closing this, since it's a duplicate of #1513

[2019-05-29 18:44] #1540 closed

[2019-05-29 18:46] #1542 closed

[2019-05-29 19:10] Crisp3333 commented on #487
+1

[2019-05-29 20:00] Crisp3333 commented on #487
Currently for sorting, I am getting the query back from the response in call back then creating my own sorting algorithm. I think sorting is a fundamental operation for database/querying it might not be core, but it is used so much that it seems core. I rather not use this `@index` implementation to interfere with schemas that I am already satisfied with. To my benefit I am only returning at most

[2019-05-29 20:28] #1513 closed

[2019-05-29 21:22] damianrr opened #1545 "Amplify console frontend build fails"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
My apps build fails when building in Amplify Console while it works perfectly on my local box and in vanilla node docker containers.
I think it's related to relative imports, for example, to import a file in React we can do:
`import "./assets/styles/main.css";` or `import "asset

[2019-05-29 23:27] mikeparisstuff commented on #1526
@wbroek Hmm, those outputs should be in the same stack as your model. There was a change recently by @kstro21 that always adds these outputs to fix a bug related to missing ARNs when trying to remove the `@searchable` directive.

Was this project migrated from the earlier version of the CLI? There would be a `transform.conf.js` file that specifies migration information if so. The relevant code is

[2019-05-29 23:39] VividKnife commented on #1545
Hi, can you email your app arn to aws-amplify-customer@amazon.com? The app arn can be found under app -> general. Also include your build Id as well.

[2019-05-29 23:58] imwm commented on #607
ah, i got it. looks like you still need to apply this `analytics` migration even at amplify-cli version 1.7.0: https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth

[2019-05-30 00:30] damianrr commented on #1545
Just did @VividKnife. Thank you.

[2019-05-30 01:20] oste opened #1546 "How do you want users to be able to sign in when using your Cognito User Pool? Username + email + phone"
**Is your feature request related to a problem? Please describe.**
When doing `amplify add auth` and getting to the question " How do you want users to be able to sign in when using your Cognito User Pool?" there is an option to choose Username but it is not possible to also allow users to sign up with email and phone. It should be possible to enable these options since they are in the "attributes

[2019-05-30 02:21] damianrr opened #1547 "Amplify console can't add multiple custom domains and can't find generated cloudfront distribution."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I've configured a custom domain name for my amplify project, however, I need 2 domains pointing to this website (ex: xxx.xxx.ca and xxx.xxx.com) and I'm finding 2 difficulties:
1. I can't find anywhere the cloudfront distribution generated when I link (successfully) my first dom

[2019-05-30 03:36] matthewbga commented on #808
This little bit of information should be in capital letters somewhere prominent in the quick start docs. Since Amplify/AppSync do not handle any sort of key rotation on their own it would be very good for this to feature – not only noting the fact that the API Key expires, but that there is a way to restore one without deploying a new env.

[2019-05-30 05:30] kaustavghosh06 commented on #152
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:30] #152 closed

[2019-05-30 05:31] kaustavghosh06 commented on #487
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:31] #487 closed

[2019-05-30 05:31] kaustavghosh06 commented on #853
We released support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:31] #853 closed

[2019-05-30 05:32] kaustavghosh06 commented on #902
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:32] #902 closed

[2019-05-30 05:32] kaustavghosh06 commented on #1008
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:32] #1008 closed

[2019-05-30 05:33] kaustavghosh06 commented on #1084
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:33] #1084 closed

[2019-05-30 05:33] kaustavghosh06 commented on #1130
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:33] #1130 closed

[2019-05-30 05:34] kaustavghosh06 commented on #1039
@ialmoqren We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:34] kaustavghosh06 commented on #1469
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:34] #1469 closed

[2019-05-30 05:35] kaustavghosh06 commented on #1528
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:35] #1528 closed

[2019-05-30 05:37] kaustavghosh06 commented on #1062
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:37] #1062 closed

[2019-05-30 05:38] kaustavghosh06 commented on #83
We launched support for @function directive today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#function
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:38] #83 closed

[2019-05-30 05:42] kaustavghosh06 commented on #314
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 05:42] #314 closed

[2019-05-30 05:42] AlirezaAsadi commented on #487
Awesome work! 👍

[2019-05-30 05:50] kaustavghosh06 commented on #1185
@hisham Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID to a lambda function as environment variables and also populate the corresponding lambda execution role to access the userpool ID. You can install the latest version of the CLI and go through the `amplify update function` flow to update your exisiting functions to

[2019-05-30 05:50] #1185 closed

[2019-05-30 05:51] kaustavghosh06 commented on #1131
@hisham Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID(generated and managed using Amplify) to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through the `amplify update function` flow

[2019-05-30 05:51] #1131 closed

[2019-05-30 05:52] kaustavghosh06 commented on #684
@hisham Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID (managed and genrated by the Amplify CLI) to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through the `amplify update function`

[2019-05-30 05:52] #684 closed

[2019-05-30 05:53] kaustavghosh06 commented on #1481
@hisham Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID (managed and genrated by the Amplify CLI) to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through the `amplify update function`

[2019-05-30 05:53] #1481 closed

[2019-05-30 05:54] kaustavghosh06 commented on #1099
@hisham Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID  or graphql ID (managed and generated by the Amplify CLI) to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through the `amplify u

[2019-05-30 05:54] #1099 closed

[2019-05-30 05:58] kaustavghosh06 commented on #1087
Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID  or graphql ID (managed and generated by the Amplify CLI) to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through the `amplify update fu

[2019-05-30 05:58] #1087 closed

[2019-05-30 05:59] kaustavghosh06 commented on #689
Today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID  or graphql ID or any other resource - managed and generated by the Amplify CLI to a lambda function as environment variables and also populate the corresponding lambda execution role to access these resources. You can install the latest version of the CLI and go through

[2019-05-30 05:59] #689 closed

[2019-05-30 06:01] kaustavghosh06 commented on #36
@jarrettj You can still modify the Lambda Cloudformation template and add your own role if needed and that role would be used as the execution role.
Also, if this helps - today we released an updated flow as a part of the functions category to pass resource identifiers like the cognito userpool ID  or graphql ID (managed and generated by the Amplify CLI) to a lambda function as environment variabl

[2019-05-30 06:01] #36 closed

[2019-05-30 06:03] kaustavghosh06 commented on #1380
Closing this issue due to lack of information to proceed further with the issue.

[2019-05-30 06:03] #1380 closed

[2019-05-30 06:04] kaustavghosh06 commented on #1511
Duplicate of #1194
Closing this is favor of #1194.

[2019-05-30 06:04] #1511 closed

[2019-05-30 06:10] kaustavghosh06 commented on #1502
We launched support for custom indexes today. You can find docs for the same out here - https://aws-amplify.github.io/docs/cli/graphql#key
Please let us know if you're still not able to solve your problem through this solution and we'll re-open this issue for you.

[2019-05-30 06:10] #1502 closed

[2019-05-30 06:13] kaustavghosh06 commented on #1501
@stayingcool You might want to manually delete this S3 bucket from the AWS console - `pnamarch05-06-devfirst` and try pushing again.

[2019-05-30 06:15] kaustavghosh06 commented on #1545
@damianrr Could you please open up an issue on this AWS Amplify Forum - https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0 since this issue is not tied to the Amplify CLI? thanks!

[2019-05-30 06:15] #1545 closed

[2019-05-30 06:15] kaustavghosh06 commented on #1547
@damianrr Could you please open up an issue on this AWS Amplify Forum - https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0 since this issue is not tied to the Amplify CLI? thanks!

[2019-05-30 06:15] #1547 closed

[2019-05-30 06:18] jkeys-ecg-nmsu opened #1548 "Auth flow requires phone number if MFA selected, but default writeable attributes do not include phone number"
**Describe the bug**
This prevents users from signing up until the writeable attributes for the app clients are updated to include phone number.

[2019-05-30 06:19] ajhool commented on #83
Awesome, the implementation design looks great! Could we open a separate issue to track: https://github.com/aws-amplify/docs/pull/640/files#r279216768 , which I suspect will be a common impediment to using a lambda function in practice?

As far as I can tell, the @function directive currently overrides the lambda's IAM role, so if you interact with a resource outside of the Amplify ecosystem (eg.

[2019-05-30 06:21] kaustavghosh06 commented on #83
@ajhool No, the @function directive won't override lambda's execution role. It would just add a role (not the lambda execution role), for the AppSync service to interact with the lambda function.

[2019-05-30 06:23] ajhool commented on #83
Brilliant, thanks.

[2019-05-30 06:34] lorensr commented on #1502
Thanks for the update! If I understand correctly, if I wanted to be able to query a whole table by each field, I would do:

[code]

and query eg:

[code]

I'm not sure how to say that I want it sorted ascending vs descending.

[2019-05-30 06:41] SteveHoggNZ commented on #314
Primarily because you can add a sort key now e.g. allow for multi tenancy

Sent from my iPhone

[2019-05-30 08:45] rawadrifai commented on #1528
Looks great!

[2019-05-30 10:17] bokuweb opened #1549 "Can I use multiple buckets?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

storage

** What AWS Services are you utilizing? **

appsync / s3 / dynamodb

** Provide additional details e.g. code snippets **

amplify cli v1.6.8

Can I use multiple buckets?
I tried `amplify add storage` however I got following result.

[code]

[2019-05-30 10:27] dmitrybndar opened #1550 "--invalidateCloudFront not working"
**Describe the bug**
I have a same amplify project on two computers - PC (win 10) and MacBook. Everything worked well on both, until I re-install windows on my PC, from that moment "--invalidateCloudFront" or "-c" flag dont dont work as expected on PC (on Mac still works well). I see message "CloudFront invalidation request sent successfuly." in console, but when I go to AWS CloudFront service and

[2019-05-30 12:20] abualsamid commented on #1062
this implementation is exactly what i needed, thank you

[2019-05-30 14:21] Crisp3333 commented on #487
Thanks a lot waking up with this news, I will try it out asap.

[2019-05-30 17:29] orland1to commented on #128
Hi, I would also like to set up the environments for my project. @swaminator please help me. my emai is s4lvadorcamarill0@gmail.com

[2019-05-30 17:38] dreadjr commented on #128
@swaminator could you share as well? dreadjr@gmail.com

[2019-05-30 18:40] wizawuza commented on #1537
This probably isn't the answer you want to hear, but one way is to do it server-side in the resolvers.
If you want to stick to VTL, check this out:
https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-resolvers.html#modifying-the-updatepost-resolver-dynamodb-updateitem

Search for "list_append" on that page.

Or you can make a new mutation in lambda/node.js which may be easier but

[2019-05-30 18:44] foxfl opened #1552 "Update existing lambda functions to inject identifiers from api or auth throws TypeError"
**Describe the bug**
Updating to the latest version and based on [this comment](https://github.com/aws-amplify/amplify-cli/issues/1099#issuecomment-497212996) on #1099  you should be able to inject identifiers from auth or api category into functions. Updating a existing function to add the AWS AppSync Api ID results in a typeError.

`Policies cannot be added for api TypeError: Cannot read propert

[2019-05-30 18:52] VividKnife commented on #1545
Hi @damianrr, we didn't receive your email yet.

[2019-05-30 18:55] damianrr commented on #1545
Hello, @VividKnife, I did sent it yesterday, anyway, I re-send it seconds ago. Thanks!

[2019-05-30 18:57] kaustavghosh06 commented on #1552
@foxfl What does your `amplify/backend/function/functions-params.json` file show?
Also, can you run the `amplify update function` command the second time around and see it you get the same error?

[2019-05-30 19:21] UnleashedMind commented on #1550
Hi @dmitrybndar
If you see the "CloudFront invalidation request sent successfully." message, that means the invalidation request has been sent to CloudFront. There might be some delay till it shows up in the CloudFront's web console. The update of the actual contents in the CloudFront edges will take even more time.
We are not ruling out that this is a possible bug at this moment, though. What is

[2019-05-30 19:27] Crisp3333 commented on #487
@kaustavghosh06  I assume this will be in version `2.9.1`  for `android-sdk-appsync`.

[2019-05-30 20:06] dmitrybndar commented on #1550
Hi @UnleashedMind
Thanks for helping in this. Invalidation didnt show in web console even after a couple of days. But again - when I do the same from macbook (and did on previuos setup of win10) - invalidation appears in web console almost instantly after I see "CloudFront invalidation request sent successfully." in my terminal.
I tried different versions of Amplify CLI - 1.5.3; 1.6.3; 1.6.5 (that

[2019-05-30 20:24] UnleashedMind commented on #1550
Thanks @dmitrybndar
I think I've found the bug.
will send a fix soon

[2019-05-30 20:32] #1550 closed

[2019-05-30 21:30] dmitrybndar commented on #1550
@UnleashedMind
I've added you fix in package manually, and it works! Thanks a lot for resolving it so fast! )

[2019-05-30 21:38] hew commented on #1406
This time it was the API key expiring. I can understand the schema / table relationship being a little tricky to resolve, but if an API key expires, can we have some way of renewing that actually works?

[2019-05-30 23:33] justinlevi commented on #1497
@rohitbhardwaj do a code wide search in your project for `nodejs6.10` and update everywhere to `nodejs8.10`

[2019-05-31 01:08] nino-moreton commented on #1502
Yeah where do we add the sortDirection?

[2019-05-31 01:46] ChrisFieldsII opened #1591 "Inconsistency w/ allowed Lambda name and @function directive name"
**Describe the bug**
I made a lambda function which contained an underscore. When using that name within my GraphQL schema @function directive, I received an error that the name is not alphanumeric.
**To Reproduce**
Steps to reproduce the behavior:
1. Create Lambda with underscore in name which is allowed
2. Create AWS AppSync GraphQL API
3. use @function directive with the created Lambda's name

[2019-05-31 01:51] nino-moreton opened #1554 ""Expected JSON object for '$[filter]' but got a 'STRING' instead." when querying a custom index"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I'm using the new @key directive for making custom indexes. When I try the following:
[code]
it works fine but when I add a filter like so:

[code]
it produces the `Expected JSON object for '$[filter]' but got a 'STRING' instead.` error.

For reference this is what my @key looks

[2019-05-31 04:12] hew commented on #1406
Ok say you get one of these errors you cannot recover from, and you are on `prod` env:

```amplify env pull --restore```
```amplify env add tempenv```
```amplify env checkout tempenv```
```amplify push```
```amplify env remove prod (remove cloud resources)```
```amplify env add prod```
```amplify env checkout prod```
```amplify push```
```amplify env remove tempenv (remove cloud resources)```

NOT

[2019-05-31 05:28] Monder87 commented on #1406
Thanks @hew, i think is a workoround very usefull for who like me is stuck and need go in prod. Being a very sensitive issue i hope the team will try fix it asap

[2019-05-31 06:51] sacrampton commented on #1406
My team has been working on the challenges we've been facing around getting this working - in particular being able to deploy multiple GSI's. I'll put this out there and would welcome feedback on the validity of this approach.

Essentially they are saying to abandon amplify for serverless (https://serverless.com/). That serverless is able to do all of this and as proof of that they deployed 180 GS

[2019-05-31 09:16] wbroek commented on #1526
@mikeparisstuff thanks for the response.
Yes the project was migrated (using Amplify since version 0.1.13) from an old version; contents of `transform.conf.js`
[code]
Can also confirm that if i remove the `transform.conf.js` (or only the CarepathItemArticleTable item) it does not generate the faulty output in Ouputs.

Can we safely remove the transform.conf.js`??

[2019-05-31 10:24] AlessandroVol23 commented on #1486
Not quite sure sorry. I am using the `httpProxy` object to pass the proxy server from the environment variables exactly like you described above. You can have a look at the commits [here](https://github.com/aws-amplify/amplify-cli/commit/b733b23ffc9b5058f83057befc9f05931582a225)

Not sure where you are changing it but maybe you can try to pass back the whole `httpProxy` object (...) and update the

[2019-05-31 11:05] foxfl commented on #1552
@kaustavghosh06 Thanks for the fast reply.
I tried to rerun to command yesterday which resulted in the same output.
Today i also tried to rerun the command which then didnt throw an error and outputed this:
`{
    "permissions": {
        "api": {
            "test_api": [
                "create",
                "read",
                "update",
                "delete"
            ]
        }

[2019-05-31 16:55] abualsamid commented on #32
any update/timeline on this? and/or is there a workaround, manual or otherwise, to let us deploy our lambda's to a vpc. i

[2019-05-31 18:44] hew commented on #1406
@Monder87

Just keep in mind that you will lose all the settings you have for permissions, lambda configs, etc. If you have a project of any decent size, it's still going to take a while to get everything working again. I entertained that flow yesterday and I'm still fixing different things.

I think this weekend I'm going to explore Serverless, or literally anything else, as @sacrampton suggested

[2019-05-31 18:50] stepseazy opened #1560 "Problem with pushing api with cognito"
**Describe the bug**

When I run amplify push after initializing api, the application throws an error

[code]
**To Reproduce**

run amplify add api with cognito
run amplify push

**Expected behavior**
Expect the api to not crash

**Additional context**
Using react with graphql and cognito

[2019-05-31 19:53] jkeys-ecg-nmsu opened #1557 "Add AppSync trust policy to generated IAM roles if API category exists in Amplify app"
I have not verified this is still a problem in the latest version of the CLI.

We were having a problem querying for relationships against a base User model with AppSync. After further investigation, the Amplify-generated authenticated role contained the following trust policy:

[code]

I believe that AppSync requires a trust policy,  per AppSync documentation:

Once I updated the CLI-generated po

[2019-05-31 20:58] yareyaredesuyo opened #1558 "Federate Login not work when setting multiple URL"
When setting multiple redirectSignIn and redirectSignout, it doesnt work well

This works well (Tested at http://localhost:3000/) (aws-exports.js)

[code]

This doesnt work (Tested at http://localhost:3000/")  (aws-exports.js)
[code]

[2019-05-31 21:57] hew commented on #1406
As an aside, has anyone ever had AppSync simply stop updating, but Amplify pushes succeed?

[2019-05-31 22:16] sacrampton commented on #1406
Still testing the best approach here, but my team has successfully used amplify to generate compiled AppSync schemas (ie. amplify api gql-compile) then use serverless to deploy that stack. As I said, a work in progress, but it seems this might be a valid workflow - essentially using serverless to replace the amplify push / cloudfront usage.

[2019-05-31 22:21] OtterFlip commented on #1181
We ran into this as well.  Would be nice to have an easy way to switch it on.  It looks like we and @hisham keep on running into similar stuff.  :)

[2019-05-31 22:35] OtterFlip opened #1559 "Need better docs for amplify pull/checkout/init commands where the functionality overlaps"
These commends relate to Amplify CLI ver. 1.7.0   We are very interested in having a discussion on the following points in the context of  multi-env (multiple backend environments) used in a team dev environment with a flow similar to gitflow.

Although we have read the documentation, and have experimented with all of these commands, we are still not entirely sure exactly what the effect is when w

[2019-05-31 23:24] undefobj commented on #1406
Hello everyone - We're currently working on this issue. For some clarity while you may be seeing this issue in the Amplify CLI, we believe the majority of the issues in this thread are related to a CloudFormation issue in AppSync and not how Amplify is doing a deployment. It occurs when there is a race condition between removing types and adding/modifying others.

We're currently working with the

[2019-06-01 00:55] stepseazy commented on #1560
I think I was on 1.13 but I updated and now I'm on  1.7.0. I followed the [Node version update](https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth) and then it worked.

[2019-06-01 00:56] #1560 closed

[2019-06-01 02:31] danielphung90 opened #1561 "GraphQL relationship with RDS Aurora"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

[2019-06-01 11:59] rarira opened #1562 "3 bugs of the new @key directives"
**Describe the bug**
new @key directive is great but its autogenerated resolvers have at least 3 problems or something uncomfortable..
1. you have to input manually id(primary key) and sort key when create(putItem) a item
2. the autogenerated resolver with getItem operation of other type which has the connection to it should have both primary key and sort key to fulfill but it only has primary key

[2019-06-02 14:52] oliverandersencox opened #1563 "Many-to-many queries - getting the data"
I am using AWS Amplify with Ionic/Angular with graphQL as my backend.

I have a user record which has a favorites field, which is a many to many relationship with an Events. I have created a join table as specified by the AWS docs and community.

[code]

and my user model:

[code]

Now, Amplify auto generates an api service in my angular project, long with a graphql folder containing all the queri

[2019-06-02 19:01] jorgemarrero commented on #891
Any solution or workaround to this?

I'm stuck with this.

[2019-06-02 20:38] janhesters commented on #766
Referencing [this issue](https://github.com/aws-amplify/amplify-js/issues/3313), custom user types (admin, supervisor, regular, guest) would be awesome.

[2019-06-02 23:31] rawadrifai commented on #997
I would second this request.. the ability to configure a lambda to trigger based on Dynamo or Cognito.

[2019-06-02 23:34] rawadrifai opened #1564 "Functions accessing other resources?"
** Which Category is your question related to? **
Amplify functions

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
In Amplify 1.7, we're asked this question when adding a function:
![image](https://user-images.githubusercontent.com/24530625/58768711-2837bf80-8554-11e9-8fb3-310ec41c276b.png)

Is there any documentation on how to take advanta

[2019-06-03 00:14] blazinaj opened #5652 "How to give full S3 Storage access to an "Admin" Cognito Group"
** Which Category is your question related to? **
Storage, Auth
** What AWS Services are you utilizing? **
Amplify, Appsync, S3, Cognito
** Provide additional details e.g. code snippets **
I have Auth set up in my React Amplify app so that Cognito users in an "Admin" Cognito Group have full access, while all other users have limited access.

I need a way to allow all users to upload documents to S

[2019-06-03 07:27] sacrampton commented on #1406
Hi Richard (@undefobj ) - thanks for taking the time to respond on here, but I'd like to politely point out that a comment like "We're currently working on the issue" doesn't really help anyone. Everyone on here is trying to solve issues related to reliably deploying their solutions in dev/test/prod. We have timelines we have to meet on this - in my case, deploying our AppSync app into test/prod s

[2019-06-03 08:09] yukitaka13-1110 opened #1566 "When deploying by using amplify console, an error has occurred, "Unknown directive key""
I'm using vue(spa) + amplify framework.
When I executed 'amplify api push', graphql schema was compiled successfully.
But when I tried to deploy by using Amplify console, an error has occurred.

2019-06-03T07:30:39.637Z [WARNING]: ✖ There was an error initializing your environment.
2019-06-03T07:30:39.638Z [INFO]: init failed
2019-06-03T07:30:39.691Z [INFO]: { SchemaValidationError: Schema Errors:

[2019-06-03 09:40] davidbiller commented on #1552
jap, the second try is working. BUT:

UPDATE_FAILED               functioncalculateZscoreVariables   AWS::CloudFormation::Stack Mon Jun 03 2019 11:35:28 GMT+0200 (Mitteleuropäische Sommerzeit) Template format error: Parameter name API_AIVY_GRAPHQLAPIIDOUTPUT is non alphanumeric.

than i get this.

[2019-06-03 10:13] potatopotaro opened #1567 "Allow us to overwrite the generated GraphQL fields, e.g. createPost"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Although this isn't a "blocking issue", I'd like to be able to attach the new @function directive to the generated fields.

My current solution is, of course, to make a custom field with a different name, e.g. customCreatePost or cre

[2019-06-03 10:18] potatopotaro commented on #1567
Alternatively, a CLI option to enable the use of "Invoke" operations in our resolvers, could do the trick. This wouldn't let us use the @function directive in the GraphQL schema, however, we can still generate the functions with amplify and invoke them by writing the invoke logic ourselves, in the resolvers.

[2019-06-03 10:29] foxfl commented on #1552
@davidbiller
You have to replace `API_AIVY_GRAPHQLAPIIDOUTPUT ` with  `api{your_api_name}GraphQLAPIIdOutput` (take a look at the default value) in your cloudformation templates for the function in the parameters section, that did the trick for me.

[2019-06-03 11:18] dipjyotimetia commented on #82
Please install npm i -g @aws-amplify/cli and you will not have any issue

[2019-06-03 11:19] dipjyotimetia commented on #82
Please install npm i -g @aws-amplify/cli and you will not have any issue

[2019-06-03 11:19] dipjyotimetia commented on #82
Please install npm i -g @aws-amplify/cli and you will not have any issue

[2019-06-03 12:34] ravishwetha commented on #1566
✖ An error occurred when pushing the resources to the cloud

Schema Errors:
Unknown directive "key".
GraphQL request (120:3)
119:   )
120:   @key(fields: ["email"])
       ^
121: {

`type User
  @model(
    queries: { get: "getUser" },
    mutations: { create: "registeredUser", update: "updateUser" },
    subscriptions: null
  )
  @key(fields: ["email"])
{
  id: ID!,
  account: Account! @connectio

[2019-06-03 13:20] davidbiller commented on #1552
in which file?

[2019-06-03 13:31] foxfl commented on #1552
In /amplify/backend/function/{your_function}/{your_function}-cloudformation-template.json

[2019-06-03 13:33] davidbiller commented on #1552
Thx. I will try.
Maybe a stupid question, but with the new permissions, what can i do with this? So i need this for the table names. BUT can i use graphQL(appsync) than in Lambda to get data? so for now i do this direct over dynamodb.

[2019-06-03 13:44] foxfl commented on #1552
Yep, you should be able to access AppSync directly from the lambda function, as the update process has added a policy for the function to access AppSync and injects the App Id from AppSync (@kaustavghosh06 Correct me if I’m wrong here). The thing is, that from now on you don’t have to hardecord the App Id into the template. Also, the App Id gets injected into the lambda as an environment variable.

[2019-06-03 13:56] apoorvmote commented on #1566
I am also facing same error but on
`amplify api gql-compile`

                     ^

[2019-06-03 15:04] kaustavghosh06 commented on #1566
The Amplify Console isn’t using the latest CLI build which has support for @key directive. I’ve requested them to upgrade their CLI build to the latest. Once that’s rolled out on the console, I’ll circle back on this thread and let you’ll know.

[2019-06-03 15:32] r-yoneya commented on #459
Also getting the same error with 1.7.0

I took a look at #1464 and noticed that `httpOptions` is missing in the awsConfig object in `initializer.js` and `system-config-manager.js`

[code]

I edited the two files in my local npm directory like below,  and `amplify init` finished successfully.

[code]

[2019-06-03 15:51] apoorvmote commented on #1566
Updating input structures for key: {"fields":["closeDate"]}

GraphQL schema compiled successfully.

[2019-06-03 20:32] willkara commented on #1486
@AlessandroVol23 Are you talking about changing the `rejectUnauthorized `option within the `httpProxy `object?

[2019-06-03 22:06] kaustavghosh06 commented on #1557
@jkeys-ecg-nmsu AppSync creates its own role as a part of the transformer and associates this policy to it. Why would we need to add this policy to our Auth role?

[2019-06-03 22:11] kaustavghosh06 commented on #1564
@rawadrifai In addition to adding policies to the lambda execution role, you can also access amplify managed resources like your AppSync API through your lambda function through environment variables. For more details around this support, checkout - https://aws.amazon.com/blogs/mobile/amplify-framework-adds-support-for-aws-lambda-functions-and-amazon-dynamodb-custom-indexes-in-graphql-schemas/

[2019-06-03 22:14] kaustavghosh06 commented on #1561
@danielphung90 You can modify the annotated graphql schema located in `amplify/backend/api<api-name>/schema.graphql` to link the types.

[2019-06-03 22:22] smp opened #1568 "Amplify Storage Permissions Prompt UX"
**Describe the bug**
The _Storage_  component [documentation](https://aws-amplify.github.io/docs/js/storage) states the following under "Using S3"

This implies the roles will be automatically configured if a user ***did not*** configure Cognito Identity Pool manually. However, even with auth added via Amplify _Auth_ component, I still had to add the inline policy document to the unathorized role

[2019-06-03 23:29] undefobj commented on #1406
@sacrampton we needed a bit more time to investigate before giving any timelines. My response was to give you clarity on the situation from a technical standpoint so that you understood you can have this problem with any CloudFormation technology. It's independent of the Amplify CLI.

That being said we were able to dive deeper into the issue today and identify the root cause with the CloudFormati

[2019-06-03 23:47] kaustavghosh06 commented on #1549
The Amplify Framework provides support for a single bucket for your projects. The recommended way by S3 is to add an additional sub-folder - https://docs.aws.amazon.com/AmazonS3/latest/user-guide/using-folders.html to segragate your data instead of adding additional buckets. Would be great to know more about your use-case though.

[2019-06-04 00:45] pmd30011991 commented on #1561
Yes I did modify in schema.graphql do I need to manually create the resolver files? For each linkage?

[2019-06-04 00:50] bokuweb commented on #1549
@kaustavghosh06 Thanks for your reply.

Unfortunately I would like to use a bucket as a write only and another one as a public(readable and writeble)...

I can write a cloudformation template by hand, but where can I add it?At the least, I want to make another bucket be created by `amplify push` or `amplify init`. Is it possible??

[2019-06-04 00:56] kaustavghosh06 commented on #1549
@bokuweb You could modify the storage cloudformation file to add one more Cloudformation S3 resource located in `amplify/backend/storage/<s3-cfn-file>`

[2019-06-04 00:57] bokuweb commented on #1549
@kaustavghosh06 Thanks :) I'll try it.

[2019-06-04 02:06] danielphung90 commented on #1561
yeah which I did. but my main concern is: is there anyway to generate the resolvers and stacks base on schema.graphql. because after I generate the schema by using `amplify api add-graphql-datasource` then all the relationship become `id: Int!` what I want to do is link them without any change at resolver and stack part

[2019-06-04 02:19] calspre commented on #1566
Oh oh, I also have the same issue -- look forward to hear back!

[2019-06-04 02:21] yukitaka13-1110 commented on #1566
I found the way of resolving this error by oneself.
Please wait a moument.

[2019-06-04 03:38] yukitaka13-1110 commented on #1566
I wrote a [solution](https://qiita.com/yukitaka13-1110/items/cc9a517bab3d5b4003c0).

In summary, I added the following to the build configuration file:<code>npm install -g @aws-amplify/cli.</code>

[2019-06-04 04:38] bokuweb commented on #1549
@kaustavghosh06 I tried following two cases however `new storage` is not created.
Do you have any information??

[code]

[code]

[2019-06-04 06:50] leetmachine commented on #1043
I'm using the new @auth 'operations' argument to achieve:
1. allow read (get/list) access to any unauthenticated or authenticated user.
2. allow only an authenticated user to create, update, delete.

my setup:
 `{allow: owner, operations: [create, update, delete]}`

Outcome:
1. allow read (get/list) access to any unauthenticated or authenticated user.
-- it does work for authenticated user.
--it d

[2019-06-04 07:18] rawadrifai opened #1575 "Can I point groupsField in @auth to a non-Cognito source?"
** Which Category is your question related to? **
Access control through Cognito? or not?

** What AWS Services are you utilizing? **
Amplify, GraphQL, DynamoDB, Cognito

** Provide additional details e.g. code snippets **
I cannot seem to get a good design for a very simple requirement. My users should be able to create groups. When others join groups they can see what that group is allowed to se

[2019-06-04 07:20] #1564 closed

[2019-06-04 07:22] rawadrifai commented on #1537
so luckily, they just released the support for @function which solves my problem. I can do all sorts of things with a lambda.

[2019-06-04 07:22] #1537 closed

[2019-06-04 08:07] sacrampton commented on #1406
@undefobj - appreciate the input.

Just by way of update, I've been reliably able to create GSI's using the @key directive like this...
================================================
`type Blog
  @model {
  id: ID!
  name: String!
}
type Post @model
  @key (name: "BlogPosts", fields: ["postBlogId"])
{
  id: ID!
  title: String!
  postBlogId: ID
}`
================================================

[2019-06-04 09:15] markau commented on #1043
I am interested in Proposal 5, as I would like to have a group membership override the owner priveleges. For example, a banned user (still owner of a post, but not currently allowed to edit/delete due to being in the "Banned Users" group).

[2019-06-04 10:20] chris-merapar opened #1569 "Resolver is in the wrong stack"
**Describe the bug**
The resolver ListPageResolver for our Page GQL type has been created by Amplify in the stack for our List GQL type. This has not caused any issues until we tried to delete the List type from the schema, at which point amplify tries to move the ListPageResolver to the Page stack and this causes an error "Only one resolver is allowed per field".

**To Reproduce**
Steps to reprod

[2019-06-04 11:12] mdw2000 opened #1570 "Invalid expression in generated resolver when using keyField in named connections"
Hi there,

When using a named connection for many-one models with the keyField specified, the generated resolvers do not use the keyField attribute, instead it uses the default column name

E.g. the many-one between Company and Blogs:

[code]

The generated `Company.blogs.req.vtl` uses `blogCompanyId` as the key expression instead of the specified `company`, so all queries return a DynamoDB invali

[2019-06-04 13:11] yareyaredesuyo commented on #1433
In serverless, similar things can be done using this kind of plugin.

https://github.com/aheissenberger/serverless-appsync-offline

[2019-06-04 14:30] davekiss opened #1572 "@key throws "Cannot read property name of undefined""
**Describe the bug**
Attempting to add a `@key` directive as described in the documentation does not successfully provision when running `amplify push` using the following schema in my project:

[code]

Output:

[code]

**Expected behavior**
`amplify push` successfully compiles and provisions changes

**Additional context**
I tried running on both a brand new model and an existing model with no lu

[2019-06-04 14:31] kaustavghosh06 commented on #1572
Which version of the CLI are you using?

[2019-06-04 14:32] mjmaix commented on #1265
Hi @kaustavghosh06, EmailConfiguration should be supported by Cloudformation -> [link to UserPool EmailConfiguration](https://docs.amazonaws.cn/en_us/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-emailconfiguration.html )

Caution is that any manually configured EmailConfiguration on the User Pool will be lost and reverted to DEFAULT if `aws auth push` is run.

Though it might

[2019-06-04 14:35] davekiss commented on #1572
@kaustavghosh06 1.7.0

[2019-06-04 15:26] mrowe009 opened #1573 "@aws-amplify/api has a vulnerable dependency, Axios:0.17.0"
@aws-amplify/api current version has a vulnerable dependency Axios: 0.17.0

Vulnerable versions: <= 0.18.0
Patched version: 0.19.0

Axios up to and including 0.18.0 allows attackers to cause a denial of service (application crash) by continuing to accepting content after maxContentLength is exceeded.

upgrading to 0.19.0 fixes the issue.

[2019-06-04 15:55] zfarrell commented on #1572
I was fighting through this same issue (CLI @ 1.7.0).

I can reproduce it with this schema:

[code]

it seems to be related to having an `enum` as the sort key. Changing status to `String` resolves the error.

[2019-06-04 16:12] zfarrell commented on #450
I also started to post this same feature request.

I would also agree that having a top level changelog would be easier. For example, i wanted to figure out which version `@key` was released with. Nothing in the root project or `packages/amplify-cli`. I'm sure for those in the know, this is clearly called out in one of the 20+ sub-projects, but for someone who doesn't know (me! :) ) it's really co

[2019-06-04 16:40] smp commented on #1568
@kaustavghosh06 I figured it out..PEBKAC

In the prompt for permissions if I hover over 'read' or any other permission and press enter without first hitting space (to select radio button) the CLI continues on and doesn't add permissions.

I wonder if we could supply a default or prompt the user when they haven't specified any permissions. Something like "Are you sure you don't want to specify any

[2019-06-04 16:54] davekiss commented on #1572
Can confirm, changing all field references from `enum` types to `String` allows the compilation to succeed

[2019-06-04 17:14] ryanhollander opened #1574 "amplify update function fails initially, then succeeds, but subsequent push fails."
Hello!

**Describe the bug**
Running "amplify update function" produces unexpected results.

I have a function "CreateUser" created with "amplify function". Previously I've manually configured the cloudformation template to add some env vars to pass the user pool information. Now that amplify supports this natively I thought to update. When I run the update function routine, and choose auth, it fa

[2019-06-04 17:19] kstro21 commented on #1526
Hi @wbroek, if you remove **transform.conf.js**, your DynamoDB tables, Elasticsearch instance, and other resources, will be moved from the template where are defined now, meaning all will be dropped and created from 0. You might be losing data in the process.

[2019-06-04 17:21] HoraceShmorace opened #1576 "Give unauthenticated users read permissions via GraphQL"
** Which Category is your question related to? **
You haven't defined what a "Category" is nor enumerated valid values, so I can't answer this.

** What AWS Services are you utilizing? **
AppSync, Cognito, DynamoDB

** Provide additional details e.g. code snippets **

1. I've set up auth on a project, allowing for both authorized and unauthorized users.
2. I've set up an API using GraphQL, just us

[2019-06-04 17:53] ryanhollander opened #1577 "amplify push fails after adding new function"
Hello!

**Describe the bug**
After adding two new functions using: "amplify add function", subsequent amplify push produces an error:

Following resources failed

Resource Name: dashb-Ampl-A2XACHSRLENP (AWS::IAM::Policy)
Event Type: create
Reason: Syntax errors in policy. (Service: AmazonIdentityManagement; Status Code: 400; Error Code: MalformedPolicyDocument; Request ID: 5c5c7e92-03ab-4820-bd9b-

[2019-06-04 17:56] ryanhollander commented on #1577
I should note that this one is blocking my progress. Thank you for your help.

[2019-06-04 17:57] kaustavghosh06 commented on #1577
@ryanhollander Could you check your `amplify/backend/functions/<function-name>` and check for the "AmplifyResourcePolicy"? Do you have one?

[2019-06-04 17:59] ryanhollander commented on #1577
@kaustavghosh06 I do not have one.

[2019-06-04 18:08] kaustavghosh06 commented on #1577
Can you share the cloudformation file that got generated for your new function?

[2019-06-04 18:17] ajhool commented on #1575
The group field does mean Cognito groups and your dynamodb use case is not currently supported.

I cannot immediately think of an easy way for you to do this and still leverage Amplify's AppSync codegen. You might be able to fandangle the new @function directive into an `isUserInAuthorizedGroup(userId, groupId)` lambda function, but I'm not sure how you can slide that in before the codegen resolve

[2019-06-04 18:17] ryanhollander commented on #1577
@kaustavghosh06 Sure, here you go.

{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Lambda resource stack creation using Amplify CLI",
    "Parameters": {
        "env": {
            "Type": "String"
        }

    },
    "Conditions": {
        "ShouldNotCreateEnvResources": {
            "Fn::Equals": [
                {
                    "Ref": "env"
                },

[2019-06-04 18:20] ajhool commented on #1576
I've requested a specific implementation for this feature, here:

https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-490541178

Basically, there should be a "__PUBLIC__" group that you can explicitly grant read permissions to in the AppSync schema

[2019-06-04 18:36] wbroek commented on #1526
@kstro21 thanks for the reply. Question remains how to solve it then? Without losing data of course
Hope hearing from you

[2019-06-04 18:41] HoraceShmorace commented on #1576
Ugh. So are you saying that there is no way to do this currently? I invested like a week exploring how to convert one of Madison Square Garden's web apps to be Amplify/AppSync/Cognito/DynamoDB based. That's a glaring hole in this solution.

[2019-06-04 18:42] mikeparisstuff commented on #1562
@rarira Thanks for the post.

The intention of @key was to allow custom index structures so the `uuid()` functionality was not included. It would be possible to still use `uuid()` as the default in the case when you are trying to index on a field named "id".

`@connection` has not yet been updated to leverage `@key`. We are aware of this and it is in the backlog to do so.

This is related to havin

[2019-06-04 19:23] mikeparisstuff commented on #1519
@kevinwolfcr Looking at this again. The reason for the failure is that you need to include a Query definition because the query operation is required in GraphQL servers (see https://github.com/graphql/graphql-spec/blob/master/spec/Section%203%20--%20Type%20System.md#root-operation-types). If you do not have a need for queries you can add a noop field to satisfy the GraphQL validator.

[code]

[2019-06-04 19:25] #1519 closed

[2019-06-04 19:30] ajhool commented on #1576
I have had the same experience with Amplify. It is powerful and has a lot of nice features, but there are also gaps in functionality that come as a surprise very late in the game and negate the convenience of the other features. The team is responsive and makes amazingly quick progress in adding new features, but there are still large gaps which go unaddressed. When Amplify works, it works really

[2019-06-04 19:44] jexh opened #1578 "True multi-tenant support and modelling with @auth"
I have tried modelling my application with Amplify but, as far as I can see, the auth config using Cognito  does not currently support true multi-tenancy. By true multi-tenancy I mean that users belong to one or more organisations with a particular session being bound to a single organisation at a time. Data associated with one organisation should never be visible to another organisation. Like use

[2019-06-04 20:16] mrowe009 commented on #1573
I'm closing this issue as aws-amplify is goign to resolve this, and i was told to put up the issue here. Sorry for any confusion.

[2019-06-04 20:16] #1573 closed

[2019-06-04 20:31] rawadrifai commented on #1575
@jordanranz thanks for transferring the issue. Do you need me to close it out here and re-open it under amplify-js?

[2019-06-04 20:32] rawadrifai commented on #1575
@ajhool I'd be surprised if there's no current way to do it. I think my design can be made better and independent of Cognito groups. But AWS should definitely clarify the recommended approach.

[2019-06-04 20:50] kaustavghosh06 commented on #1577
You can remove the "AmplifyResourcesPolicy" block from the cloudformation file mentioned above to unblock yourself.

[2019-06-04 21:05] ajhool commented on #83
I'd like to use the @function directive to handle a mutation on a field. For example, a user creates or updates a `Book` object with a field called `status` that is resolved by a `determineStatus` lambda function. `determineStatus` uses backend logic to set `Book.status` to `APPROVED` or `NOT_APPROVED` and persists the result to DynamoDB.

When the user is Querying (get, list) or deleting a book o

[2019-06-04 21:10] ryanhollander commented on #1577
Thank worked. Thanks! Is that going to be an issue for each new function I create from now on?

[2019-06-04 21:12] kaustavghosh06 commented on #1577
@ryanhollander If you don't want to access any resources from your Lambda function, then you would answer No to env variables question and you wouldn't see this added policy.
We'll add some additional validations in our CLI to avoid this condition.

[2019-06-04 21:13] kaustavghosh06 commented on #1577
You saw this issue since you selected "Y" to the env variables question but you didn't select any other resource or permissions after that which led to creation of an empty policy statement - which Cloudformation considers as malformed.

[2019-06-04 21:19] ryanhollander commented on #1577
I see. I misunderstood, I thought that was required to get the env and region data passed in and selecting additional access was an optional step. Thank you for taking the time to explain.

[2019-06-04 21:26] #1577 closed

[2019-06-04 21:41] ajhool commented on #1055
Both proposals look good.

I'm not sure why that @before and @after approach wouldn't also be useful for `get` operations?

I would also note that @before and @after could be extended to include other hooks like @onAuthorized

[2019-06-04 22:48] karldanninger commented on #242
I have the same issue. I've updated `aws-exports` yet when I run `amplify push` it shows that it fails and I see the old key in the stacktrace

[2019-06-04 22:50] karldanninger commented on #1450
I'm having an issue with this aswell. After updates `aws-exports` i see the old key in the logs after an `amplify push`

[2019-06-04 22:54] ajhool commented on #83
Is #1055 Proposal 1 required before @function works with the @auth directive, as @zjullion suggested? As far as I can tell, @auth needs to be implemented as a pipeline directive to enable that use case. Most of our use cases require authentication for custom resolvers.

[2019-06-04 23:41] kaustavghosh06 commented on #1521
@horacioh The issue should be solved with the latest versions of the CLI as mentioned by @kstro21
@Monder87  Could you please open up a new issue with your error logs and a more detailed description of your scema and custom reolvers (if any).

[2019-06-04 23:41] #1521 closed

[2019-06-04 23:53] kaustavghosh06 commented on #1549
@bokuweb  I would recommend adding the storage resource to the exisiting `amplify/backend/storage/s3-cloudformation-template.json` file.

[2019-06-05 00:04] kaustavghosh06 commented on #1529
@selipso What is the query that you're running? Did you update your queries - if using codegen after changing the annotated schema?

[2019-06-05 00:09] kaustavghosh06 commented on #1534
@mwarger Did you give it a try?

[2019-06-05 00:11] mwarger commented on #1534
I did, but I had some trouble with the environment where in the amplify console said it was trying to reference resources that did not exist. I'm going to try it again this evening after pushing an update.

[2019-06-05 00:40] mikeparisstuff commented on #1554
@nino-moreton Thanks for raising the issue. Fixed in https://github.com/aws-amplify/amplify-cli/pull/1580.

[2019-06-05 00:56] mikeparisstuff commented on #1526
@wbroek Thanks for the details. I will take a look and see how to unblock you.

[2019-06-05 00:59] bokuweb commented on #1549
@kaustavghosh06 Sorry, I misunderstood. I'll try it. Thanks :)

[2019-06-05 01:03] swaminator commented on #1577
I ran into the same issue.

[2019-06-05 01:10] swaminator commented on #1566
The latest CLI version is available by default in the Amplify build container.

[2019-06-05 01:11] mikeparisstuff commented on #1526
@wbroek You should be able to fix your project by changing the contents of `transform.conf.json` to be:

[code]

The names under **Migration.V1.Resources** are used to specify which resources should be hoisted up to the top level in the event that they were created before nested stacks support released in the CLI. Adding the `^` and `$` characters to the beginning and end of the strings respective

[2019-06-05 01:16] rawadrifai commented on #1575
Solved this with Amazon's help. The answer is to add a pre token generation trigger in cognito. In the lambda you customize the permissions after you pull from dynamo.
https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html#user-pool-lambda-pre-token-generation-trigger-source

[2019-06-05 01:16] #1575 closed

[2019-06-05 01:43] yukitaka13-1110 commented on #1566
I confirmed that I could deploy it.
Thank you for your quick response！

[2019-06-05 01:43] #1566 closed

[2019-06-05 02:37] undefobj commented on #1406
All - The fix to AppSync CloudFormation for the "No resolver error" has now been deployed to all regions. If this was the root cause of your error then you should be able to run `amplify pull --restore` followed by `amplify push` to resolve the conflict.

[2019-06-05 02:52] lorensr commented on #1450
Hey Karl! Have you tried setting APIKeyExpirationEpoch to "0" in
parameters.json?

On Tue, Jun 4, 2019 at 6:50 PM Karl Danninger <notifications@github.com>
wrote:

[2019-06-05 03:40] undefobj commented on #1576
@HoraceShmorace @ajhool we are actively working on supporting the public/private use case by using the new mutli-auth support in AppSync just launched a few weeks ago:
https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/
https://docs.aws.amazon.com/appsync/latest/devguide/security.html#using-additional-authorization-modes

You technically can do thi

[2019-06-05 04:35] achutkiran opened #1581 "Export with name PostUserTable:Name is already exported by stack"
### steps to reproduce:
* create @connection

  id: ID!
  users: [PostUser] @connection(name: "PostUsers")
}
type PostUser @model(queries: null) {
  id: ID!
  user: User! @connection(name: "UserPost")
  post: Post! @connection(name: "PostUsers")
}
type User @model(subscriptions: null) {
  id: ID!
  posts: [PostUser] @connection(name: "UserPost")
}
* It will create 3 stacks Post, User, ConnectionSt

[2019-06-05 05:47] adjmaker opened #1582 "How do subscribe to resource through multiple connections?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Appsync subscriptions

** What AWS Services are you utilizing? **
Appsync

** Provide additional details e.g. code snippets **
How do I filter subscriptions based on a relations through connections?

Let's say:

A blog can have multiple posts (one to

[2019-06-05 07:50] janhesters opened #1583 "@model directive: Rename list query only works with get query"
**Describe the bug**
When you specify the `query` argument in the `@model` directive, just rename `list` and try to do a query you always receive the response:

[code]

Only if you provide also a value for `get` it does work.

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify add api`
2. Define a schema in which you use the `@model` directive with just a `list` argument

[code]

3. Try

[2019-06-05 08:20] hew commented on #1406
@undefobj Big thanks to the team(s) for this fix!

[2019-06-05 10:00] mdw2000 opened #1584 "Generated connection resolvers not using custom keys specified by @key directive"
When using as custom primary key with @key, the generated connection resolvers does not use the keys specified in @key directive, it defaults to "id"

E.g. the model below the BlogPosts connection between Blog and Post

[code]
Looking at the ` blog: Blog @connection(name: "BlogPosts")` connection, the resolver should use the `company, id` composite key specified in `type Blog @model @key(fields: [

[2019-06-05 10:24] wbroek commented on #1526
@mikeparisstuff thank you (the removed comment did not work? Here it didn't indeed)

[2019-06-05 11:02] pointer2null commented on #459
Proxy wasn't being found - needed

const httpProxy =
    process.env.HTTP_PROXY ||
    process.env.HTTPS_PROXY ||
    process.env.http_proxy ||
    process.env.https_proxy

[2019-06-05 11:03] rarira commented on #1584
#1562

[2019-06-05 11:03] rarira commented on #1584
Duplicate of #1562

[2019-06-05 11:39] wbroek opened #1585 "First amplify push errors out at end"
**Describe the bug**
Created a totally new project and environment with the categories below; but when pushed for the first time everything looked ok and was also created in the cloud but it returned an error as the last line. After that it` amplify status` says everything needs to be created but it was all there?
[code]

The error it gave was:

`2019-06-05T11:16:10.633Z - error: uncaughtException

[2019-06-05 11:48] karldanninger commented on #1450
Hey @lorensr ❤️that worked. Thanks!

I set it to `-1` then `amplify push`. Then I set epoch to 1 year into the future and pushed again.

One potential bug I've noticed is if I `amplify status`
the `GraphQL API KEY` still shows the old expired/deleted key.

[2019-06-05 12:57] JIoJIaJIu opened #1586 "Error during packaging CFN template resource if there is another file in folder"
**Describe the bug**
I'm using vim so it creates temporary files into folder with edited file that leads to error on pushing cfn templates to `S3`

**To Reproduce**
1. Keep editing any file in `vim` during pushing to `S3`
2.
[code]

**Expected behavior**
Be able to upload template successfully
[Here](https://github.com/aws-amplify/amplify-cli/blob/e022362a44cf698dfd627ab38a5ba9ca9935be18/packages/

[2019-06-05 13:41] mdw2000 opened #1587 "Incorrect inputs generated from models with @key directive and lists"
Models with @key directive containing list members does not transform correctly - the generated input and filter models does not contain the lists.

The model:
[code]
transforms to the following running `amplify api gql-compile`

[code]

This then affects the typescript models that are generated with `amplify codegen`

I've tested without the @key directive and then everything transforms/generates

[2019-06-05 16:19] LoganArnett commented on #955
Still getting this in v1.7.0 as well, I can see in my nested config that the values I need are there before running `amplify push` or `amplify publish` but then are removed as the process is running which causes the error

[2019-06-05 16:23] brylie commented on #955
I believe this issue should be re-opened, although not on my behalf. Rather, for other people who are experiencing the issue.

[2019-06-05 16:38] phishy opened #1590 "amplify console undocumented in cli for a reason?"
Running `amplify` or `amplify api` does not produce the `console` command in cli help.

Is this intentional? I had only known of its existence by stumbling upon it in the docs somewhere.

[2019-06-05 16:38] phishy opened #1607 "amplify console undocumented in cli for a reason?"
Running `amplify` or `amplify api` does not produce the `console` command in cli help.

Is this intentional? I had only known of its existence by stumbling upon it in the docs somewhere.

[2019-06-05 16:48] mrcoles commented on #684
@kaustavghosh06 are there docs on this?

[2019-06-05 17:24] leetmachine commented on #1576
@undefobj does that include unauthorized user from Congnito User Pools?

[2019-06-05 17:52] #1554 closed

[2019-06-05 18:48] kstro21 commented on #1526
@mikeparisstuff were you able to reproduce the issue described by @wbroek? I would like to submit a PR to solve it but I'm having a hard time. Probably is time to implement what you suggested once here https://github.com/aws-amplify/amplify-cli/pull/1316#issuecomment-486875664

[2019-06-05 19:33] undefobj commented on #1576
Do you mean "unauthenticated" user? If so that isn't something that User Pools has the concept of. Identity Pools does have this concept and Amplify supports this today, as does AppSync if you use IAM as your Authorization mode. The sample above (https://github.com/dabit3/appsync-auth-and-unauth) uses IAM with this route.

The alternative that I mentioned above will allow you to use API key for th

[2019-06-05 19:42] chrisl777 commented on #1507
This issue is happening for us as well.

schema:

[code]

[2019-06-05 19:44] wizage opened #1593 "[Code Generation] Add support for SwiftUI"
**Is your feature request related to a problem? Please describe.**
SwiftUI requires any data structs passed to `List()` and `ForEach()` to adhere to  the`Identifiable` protocol. This protocol is unique to SwiftUI and allwos you to uniquely identify which object is which to preform the operations required by SwiftUI.

**Describe the solution you'd like**
When presented the option to generate code y

[2019-06-05 20:21] D2KX commented on #1587
Yeah I have noticed that aswell when I tried it a few days ago. Using @key with name, fields & queryFields works ok, but changing the primary key like you did will break lists.

[2019-06-05 21:02] leetmachine commented on #1576
yes thank you! I was mixed up with user pools vs identity pools. As you mentioned, sounds like the solution you mentioned will resolve, appreciate it!

[2019-06-05 22:55] hisham commented on #318
fyi, going to start implementing proper group auth in my app now. I was hoping pipeline resolver support (https://github.com/aws-amplify/amplify-cli/issues/1055) would be added by now to the graphql transformer but it doesn't look like it, and I assume it's still a month or two away from that. Many people are asking for proper multi-tenancy support so I hope the amplify team is prioritizing accord

[2019-06-05 22:58] hisham commented on #1055
Any estimate for when any of this RFC would start getting implemented and relative priority to other RFCs? It's seriously needed for any multi-tenancy app.

[2019-06-05 23:10] jmorecroft opened #1594 "Generated code does not support paginated member results beyond one page"
**Describe the bug**
Using the generated TypeScript queries.ts and API.ts code, I am unable to list a model member where the number of results is greater than the page size. To do this I need to write a custom query string etc passing nextToken to the member, which starts to defeat the purpose of using generated code.

The problem, and a custom solution, is described here:
https://github.com/aws-a

[2019-06-05 23:53] LYLeon commented on #1587
I am seeing this issue as well.

[2019-06-06 01:12] kaustavghosh06 commented on #1574
@ryanhollander Could you please specify the function parameters from your cloudformation file?

[2019-06-06 01:14] kaustavghosh06 commented on #1581
@achutkiran Which version of the CLI are you using?

[2019-06-06 01:16] kaustavghosh06 commented on #1584
Closing as this is a duplicate fo #1562

[2019-06-06 01:16] #1584 closed

[2019-06-06 01:17] kaustavghosh06 commented on #1585
@wbroek Are you seeing this issue with subsequent pushes as well?

[2019-06-06 01:18] kaustavghosh06 commented on #1586
@JIoJIaJIu Would be greaat if you could provide a PR for it.

[2019-06-06 01:19] kaustavghosh06 commented on #1589
@ilrein Are you still stuck with this issue?

[2019-06-06 01:21] kaustavghosh06 commented on #1591
Closing as this is a duplicate of #1574

[2019-06-06 01:21] #1591 closed

[2019-06-06 01:35] achutkiran commented on #1581
V 1.7.0

[2019-06-06 05:00] rawadrifai opened #1597 "@auth permissions do not work if data is inserted manually (not through graphql mutations)"
** Which Category is your question related to? **
Authorization

** What AWS Services are you utilizing? **
Lambda, Amplify, DynamoDB, API

** Provide additional details e.g. code snippets **
When inserting data using graphql mutations generated by codegen, and then I retrieve it with a query, the permissions for "owner" and "group" work great using @auth directive.

If I insert the data using a l

[2019-06-06 07:08] rawadrifai commented on #689
@kaustavghosh06 do you happen to have a sample for access the API from a lambda using something like graphqlOperation and API from 'aws-amplify' ? I'm assuming the user has to be an IAM role here, which is handled when updating the function.

[2019-06-06 07:43] artista7 commented on #199
Hey @kaustavghosh06, maybe I'm wrong but there seems to be a serious issue while using amplify console with amplify/cli. Suppose I have three branches, dev, qa, and prod & have added some lambdas into dev. When I merge dev into qa, I will get all the changes in backend folder of amplify, but there won't be any change in current-cloud-backend.
So if I push the changes in git qa branch, amplify cons

[2019-06-06 08:17] kevinwolfcr commented on #815
Would be nice if we can add tables generated by `amplify add storage` on some similar way that we do with the current `@function` directive.

[code]

[2019-06-06 08:21] artista7 commented on #199
Basically, if i have to merge amplify change into new branch, i have to first push amplify changes locally, before pushing them to git (and consequently amplify console to trigger)

[2019-06-06 09:36] forgiangi opened #1595 "Wrong cognito user pool ARN generation on AmplifyResourcesPolicy for functions"
**Describe the bug**
When creating a function with `amplify add function` and giving it permission to perform CRUD operation on a cognito user pool, the generated ARN for the policy has an extra double colon, leading to a AccessDeniedException when invoking the function.

**To Reproduce**
Steps to reproduce the behavior:
- amplify add auth (default configuration)
- amplify add function
-  Do you w

[2019-06-06 12:03] sacrampton commented on #1406
The @key directive does not work for multiple GSI update/creations. Is there any way anyone can think of to get this to work?

[2019-06-06 12:52] ozbillwang commented on #1573
get the same.

[code]
@mrowe009

Where can I get update for this issue.

[2019-06-06 15:27] ryanhollander commented on #1574
@kaustavghosh06 I'm not 100% on which you are asking for so...

These is the parameters section of the ...cloudformation-template.json file:

"Parameters": {
		"env": {
			"Type": "String"
		},
		"AUTH_FRONTOFFICEAUTH_USERPOOLID": {
			"Type": "String",
			"Default": "AUTH_FRONTOFFICEAUTH_USERPOOLID"
		}
	},

these is contents of function-parameters.json from the function:

{
    "permissions": {

[2019-06-06 16:50] integraitco commented on #1371
Hello dennis, any solution for this?
I think this is a very common use case, where ids must be handle in the database...
Im missing something on how to use amplify and RDS?

[2019-06-06 16:52] kaustavghosh06 commented on #1597
@rawadrifai Could you show us the items that you're storing in DynamoDB - manually and through mutation?

[2019-06-06 16:56] mikeparisstuff commented on #1581
@achutkiran Thanks for the details. I have heard this once before and will use this example to repro and get this fixed. One question: Did you migrate this API (do you see a `transform.conf.json`)?

[2019-06-06 17:08] yuth commented on #1594
@jmorecroft thanks for reporting this. Its a know issue reported in https://github.com/aws-amplify/amplify-cli/issues/1290 and as I explained [there](https://github.com/aws-amplify/amplify-cli/issues/1290#issuecomment-486440861), it becomes hard when you have deeply nested query where the name of the arguments can be the same. We have this in our back log and once its prioritized by product we wil

[2019-06-06 17:08] #1594 closed

[2019-06-06 17:10] mikeparisstuff commented on #1570
@mdw2000 Thanks for the details. Can you try adding the `keyField` to the `@connection` on the `Company.blogs` field?

[code]

[2019-06-06 17:12] #1442 closed

[2019-06-06 17:27] kaustavghosh06 commented on #1569
@chris-merapar Could you share your schema (or a similar schema), so that we can reproduce this error?

[2019-06-06 17:29] achutkiran commented on #1581
Nope. I didn't have transform.conf.json

[2019-06-06 17:38] mikeparisstuff commented on #1583
@janhesters Can you try running the query via the SDK or other HTTP client to verify the issue?

[2019-06-06 17:51] #1489 closed

[2019-06-06 17:52] #1274 closed

[2019-06-06 17:52] #1448 closed

[2019-06-06 17:53] kaustavghosh06 commented on #1501
@stayingcool Are you still stuck after deleting the S3 bucket?

[2019-06-06 18:07] kaustavghosh06 commented on #1589
Closing this issue. Please re-open or comment on this thread if you're still stuck.

[2019-06-06 18:07] #1589 closed

[2019-06-06 18:11] #1549 closed

[2019-06-06 18:17] kaustavghosh06 commented on #1532
@davidbiller We don't support it out of the box in the CLI yet for this use case. But you can use a custom resolver to implement this. I'm marking this as a feature request.

[2019-06-06 18:26] yuth commented on #1563
@oliverandersencox Codegen by default limits depth of generated statement to 2. You could change the depth by running `amplify codegen configure` and increase the max depth. The other way to handle this is to write a custom query, and save it with a different  name in, `src/graphql` folder and codegen will include the queries from this new file

[2019-06-06 18:31] wbroek commented on #1585
@kaustavghosh06 no, only at the first push at the moment

[2019-06-06 18:45] mdw2000 commented on #1570
That did the trick, thanks @mikeparisstuff!

[2019-06-06 18:45] #1570 closed

[2019-06-06 20:04] rawadrifai commented on #1597
Sure thing. It looks exactly the same in DynamoDB:

![image](https://user-images.githubusercontent.com/24530625/59062627-22472480-885b-11e9-8128-f7eedbae5c7b.png)

This is my type in schema.graphql
[code]

The methods I'm inserting into this table are:
1) auto generated mutations and 2) using AWS.DynamoDB.DocumentClient from a Lambda.

1 results in queries respecting owner and group permissions.
2

[2019-06-06 20:06] jmsaucier commented on #1574
This is happening for me as well on 1.7.0 when trying to update a function to add a second storage resource to it.

If I need to create a separate issue for this let me know, but I'm thinking it's the same issue even though it's a different service.

When this happens, my function-parameters.json is changed from "{}" to "{"permissions": {}}". My lambda's cloudformation template loses the existing

[2019-06-06 20:13] davidfarinha commented on #91
For anyone else looking for a workaround for the User => UserFriend many-to-many scenario that wants to stay within the Amplify CLI (and without any manual edits in the AppSync console), I got it working using the following based on the answer from @matthieunelmes:
1) User/User Friend schema
[code]
2) Override user friend model filter object (adding ability to filter on the generated listUserFrien

[2019-06-06 20:26] nagey opened #1601 "Deleting a Reflexive Connection take Multiple Tries"
**Describe the bug**
You cannot delete a reflexive connection (a connection from the model back to itself — think for a tree of nodes)

**To Reproduce**
1. Create a `@model` that has a named connection to itself
1. Try to delete that model, or that connection
1. In order to actually get it to work, you have to first un-name the connection, then delete the "back half" (that is to say, the half that

[2019-06-06 20:42] LYLeon commented on #1587
@kaustavghosh06 Could you give us an estimate for the ETA of the release? Or is there another workaround for this issue? This is critical to our product. Thanks!

[2019-06-06 20:46] mikeparisstuff commented on #1581
Hello @achutkiran I have identified the issue but when making the fix want to verify that this will fix your problem. The reason for the issue is that your type names share "Post" and "User" which is tricking up a rule when the transformer is splitting the single context into nested stacks. Can you please paste your `cloudformation-template.json`, `Post.json`, `User.json`, and `PostUser.json` stac

[2019-06-06 20:48] chrisl777 commented on #1507
@mikeparisstuff Any updates on a fix for this bug? It currently has rendered our site inoperative as our auth permissions are not correct.

[2019-06-06 20:54] markalanbaker commented on #1507
Any update on this would be helpful @mikeparisstuff.

[2019-06-06 21:04] #1388 closed

[2019-06-06 21:26] UnleashedMind commented on #459
Thanks @r-yoneya

That's the fix for this issue and I've submitted a PR based on your comments.

[2019-06-06 22:05] #459 closed

[2019-06-06 22:06] #1574 closed

[2019-06-06 22:18] kaustavghosh06 commented on #1585
@wbroek Did you say "Yes" or "No" to the codegen questions during push? This seems to be an issue with codegen. Also, could you share your `<project-root>/.graphqlconfig` file?

[2019-06-06 23:20] sacrampton commented on #1062
The main issue I'm running into is that I have 125 GSI's across 35 tables in my schema.graphql

I have defined them all with the new @key directive with the latest version of the amplify cli (1.7.0). It successfully compiles with "amplify api gql-compile" - then when I push it to CloudFront it fails with "Cannot perform more than one GSI creation or deletion in a single update".

This is the major

[2019-06-06 23:30] kaustavghosh06 commented on #1552
@foxfl You're right. Also, we fixed the issue in with the latest version of our CLI - 1.7.1.
cc: @davidbiller

[2019-06-06 23:30] #1552 closed

[2019-06-07 00:32] ashwindevendran commented on #1561
@danielphung90  Currently there is no support for automatic generation of the RDS resolvers after the schema has been edited with relationships (I presume this is what you mean by linking types to one another). You can however manually create your own resolvers to handle relationships.

In the meantime we do recognize the benefits of generating the resolvers to handle relationship and so we will t

[2019-06-07 00:42] jkeys-ecg-nmsu commented on #1507
@chrisl777 @markalanbaker if your auth directives are uniform across models (same owner field) you can just copy the owner authorization checks from the base resolvers (Query.getProfile, Mutation.createProfile) over to your connection resolvers. This should put you back into production at the very least.

[2019-06-07 00:51] kl5331 opened #1606 "amplify status TypeError: Cannot read property 'lastPushTimeStamp' of undefined"
**Describe the bug**
Receives "TypeError: Cannot read property 'lastPushTimeStamp' of undefined" when trying to call "amplify status" or "amplify push".

**To Reproduce**
Steps to reproduce the behavior:
1. Uninstalled entire node and npm environment first, hoping that would resolve the issue.
2. npm install -g @aws-amplify/cli
3. Checked Version to confirm @aws-amplify/cli@1.7.1
4. amplify config

[2019-06-07 03:28] YikSanChan commented on #997
Steps to reproduce:
[code]
Have configured API backed by DynamoDB.

[2019-06-07 03:33] kaustavghosh06 commented on #1607
@mlabieniec amplify api does infact support the console command but it isn’t documented as a sport of the cli help commands or mentioned in the docs specifically.

[2019-06-07 03:35] mlabieniec commented on #1607
@kaustavghosh06 what i mean is. If you type `amplify api help` in the terminal. It does not show `console` as an option:

[code]

[2019-06-07 03:56] kl5331 commented on #1606
Update: I think... I fixed it. I managed to find my way to the amplify-meta.json file and noticed that some functions and a table were missing the timestamp. I also didn't need them anymore so I deleted from the file correctly. Everything is working so far!

[2019-06-07 03:56] #1606 closed

[2019-06-07 04:12] rawadrifai commented on #1597
Found the answer. Do NOT insert using AWS.DynamoDB.DocumentClient. Rather insert with AWS.DynamoDB and you'll get the expected results.

[2019-06-07 04:12] #1597 closed

[2019-06-07 05:45] rawadrifai opened #1609 "amplify add trigger"
**Is your feature request related to a problem? Please describe.**
No. Just a convenience and a step towards no console at all.

**Describe the solution you'd like**
add a command `amplify add trigger`
It takes a source and a destination. The destination is a lambda.
The source can be cognito triggers, dynamodb table

**Describe alternatives you've considered**
I do it manually in the console. Not

[2019-06-07 06:52] kaustavghosh06 commented on #1586
Fix has been merged and published in the latest version of the CLI - 1.7.1.

[2019-06-07 06:52] #1586 closed

[2019-06-07 07:17] JIoJIaJIu opened #1611 "Wrong cfn template parameter for Cognito UserPoolID in function template"
**Describe the bug**
When the function is created with `amplify-cli` and permissions for congito are provided the cfn template contains wrong parameter name

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify function add` with congito permissions
2. `amplify push` outputs
[code]
3. Template `mylambda-cloudformation-template.json` contains
[code]

**Expected behavior**
Template `mylambd

[2019-06-07 07:18] kaustavghosh06 commented on #1611
@JIoJIaJIu We’ve fixed this in 1.7.1 version.

[2019-06-07 07:20] JIoJIaJIu commented on #1611
@kaustavghosh06 thank you
sorry, I haven't seen similar issue

[2019-06-07 07:20] #1611 closed

[2019-06-07 08:46] artista7 commented on #38
Hey @kaustavghosh06, I have a doubt. If we don't share amplify-meta.json from backend, and if I update the backend, amplify status will show no updates (which is fine). But if another team member, does amplify env pull (to fetch latest cloud-backend with latest amplify-meta), if he does amplify status, some resources still shows, update needed.
Similar problem occurs while pushing changes into qa,

[2019-06-07 09:24] yukitaka13-1110 opened #1613 "I encount build setting not found error when I tried to connect branch at Amplify Console."
**About bug**
I have two branches, develop and feature/#6_prepare_graphql_from_vue.
I could connect and deploy 'develop' branch, but, I coudn`t connect 'feature~' branch.

**Amplify Console Images**
This is a image when connecting and deploying to 'develop'branch'.
<img width="1036" alt="スクリーンショット 2019-06-07 12 36 43" src="https://user-images.githubusercontent.com/22259776/59080493-f3e14c00-8923-1

[2019-06-07 10:28] jonmifsud commented on #763
@mikeparisstuff this is a critical part for what we'd need.

@helloniklas's scenario is fairly simple in that you can query posts and then get the votes through the standard GQL connection.

However we are thinking of scenarios where we would need to search across joint datasets. We know in elastic there are different storage models, including structuring flat file nested properties or linking pro

[2019-06-07 12:36] wbroek commented on #1585
@kaustavghosh06 Yes i did say to the codegen question (first push so there is no code?).
My `.graphqlconfig` is below
[code]

[2019-06-07 12:47] mrowe009 commented on #1573
@ozbillwang follow this thread, as the issue mainly pertains to this package https://github.com/aws-amplify/amplify-js/issues/3394#event-2388897308

[2019-06-07 13:00] mmcircle commented on #1581
Hi @mikeparisstuff can you update us in regards of a solution ?

[2019-06-07 14:46] ryanhollander opened #1614 "Cloudfront Permissions added for amplify auth resources broken in 1.7.1"
**Describe the bug**
After updating with "amplify update function", new permissions are added to each resource. However, they do not apply properly to the resource (at least in case of auth) due to bad syntax. In the AmplifyResourcesPolicy in the cloudformation template lies the issue, for example:
[code]

The Resource ARN is incorrect, it is sporting an extra : after "cognito-idp" Doing a search

[2019-06-07 14:54] kaustavghosh06 commented on #1614
The fix for this is merged - #1610 and will be released to npm in our next release.

[2019-06-07 15:10] ryanhollander commented on #1614
Now that's what I call quick service! ;-) Thanks!

[2019-06-07 15:16] YikSanChan commented on #691
Am I able to do something with it or do I have to just manually kill it each time?

for example, if your `app.js` looks like below:

[code]

Then you can `curl localhost:3000/items`

[2019-06-07 15:56] haverchuck commented on #1546
This is not currently supported in CLI, but can be implemented without major refactoring or new features.  Marking this as an enhancement request.  Thanks for submitting.

[2019-06-07 16:10] ChrisFieldsII opened #1615 "How to generate #current-cloud-backend build folder without successful push"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
AWS Amplify push process

** What AWS Services are you utilizing? **
AWS Amplify

** Provide additional details e.g. code snippets **
Is it possible to generate the build folder for #current-cloud-backend? It somehow got deleted and the push process

[2019-06-07 16:54] matthiasotto opened #1616 "`amplify env get --json` returns invalid json"
**Describe the bug:**
I want to be able to easily parse details from my environment using common CLI tools like `jq` and `fx`. However, the output from `amplify env get` appears to deliver invalid json.

**To Reproduce:**
### jq
[code]

### fx
[code]

**Expected behavior:**
The `--json` option should be returning valid json.

**Desktop (please complete the following information):**
 - OS: Windows

[2019-06-07 16:57] kaustavghosh06 commented on #1616
Could you see what does `amplify env get --name <env-name> --json` return?

[2019-06-07 16:58] YikSanChan opened #1617 "lambda function access resources behind my graphql api"
** Which Category is your question related to? **
api, function

** What AWS Services are you utilizing? **
Lambda, Amplify, S3

** Provide additional details e.g. code snippets **
After `amplify function add` I am allowed to choose resources however available options don't include resources under my graphql endpoint, e.g., the dynamodb table created by `@model` directive.

What am I supposed to d

[2019-06-07 17:02] chrisl777 commented on #1507
@jkeys-ecg-nmsu Okay, we'll give that a try. I suppose that those checks we copy over could be overwritten by the Amplify CLI at some point? Would it be better to create custom resolvers?

[2019-06-07 17:30] jkeys-ecg-nmsu commented on #1507
Yes, future `amplify push`es will override those changes. It would probably be better to create custom resolvers, I'm not sure how you do those for connections and not queries/mutations against the base models though.

[2019-06-07 17:31] jkeys-ecg-nmsu commented on #1615
Maybe this will solve your problem:

`amplify env pull ENV_NAME --restore && amplify push --yes`

[2019-06-07 18:16] matthiasotto commented on #1616
Yes @kaustavghosh06 , it does looks like JSON to the naked eye...
<img width="1105" alt="Untitled" src="https://user-images.githubusercontent.com/6186593/59124531-2fc4e300-891d-11e9-9186-06a2085a289f.png">

However, when I drop it into a file it looks like there is encoding issues...

[code]
<img width="1473" alt="Screen Shot 2019-06-07 at 12 15 19 PM" src="https://user-images.githubusercontent.co

[2019-06-07 19:13] mikeparisstuff commented on #1587
This issue is being actively investigated and we will update here with more details.

[2019-06-07 19:38] CodySwannGT commented on #80
Is this a viable solution if you need to reference other areas of the CF templates?

For example, let's say I want to have a DynamoDB Stream attached to a table created by the @model directive that sends an email whenever a new record is created in that table.

How could I reference the DynamoDB table in my custom CF template?

[2019-06-07 19:58] ChrisFieldsII commented on #1615
Unfortunately it doesn't. `pull --restore` doesn't seem to pull all of my resources. I am stuck in a state where amplify push is trying to create 2 tables that already exists. I was able to see the stacks json files and stacks in cloud formation-template.json within the #current-cloud-backend folder and so was trying to copy that into `backend/build` folder as that doesn't pick up on the 2 already

[2019-06-07 20:52] wizage commented on #1593
Closing as a work around has been found by using the `identified(by:)`. This will allow non-swiftui data structures to be used in the `List()` and `ForEach()`

Example code:
[code]

[2019-06-07 20:52] #1593 closed

[2019-06-07 23:18] awsed opened #1620 "Amplify add function not creating env variable for AppSync URL"
[code]

Steps:

amplify add api
amplify add function
Select CRUD permissions to API

Description:

I'm trying to create a function that invokes an AppSync API from the backend however the AppSync URL is not passed as an environment variable. Since this use case demands the use of an HTTP client on lambda, the URL is essential. Refer to the env variables created:

[code]

[2019-06-08 00:00] zjullion commented on #80
@CodySwannGT to reference outputs from other stacks in your custom CFN templates, follow my comment here: https://github.com/aws-amplify/amplify-cli/issues/1481#issuecomment-493603180

Unfortunately, you can't control the outputs provided by the `api` stack, but there are sometimes ways to use those outputs along with string interpolation to get the ARNs you need to reference various DynamoDB / Ap

[2019-06-08 02:24] undefobj commented on #1593
@wizage could you add a PR to the docs repo?

[2019-06-08 04:00] satishlokkoju opened #1621 "Unable to add interactions to a sample aws sdk android app (LexSample)"
**Describe the bug**
I was trying to run sample LexSample.

- amplify init   *works*
- amplify add interactions *throws up the below error*

Using service: Lex, provided by: awscloudformation
Adding interactions would also add the Auth category to the project if not already added.
Successfully updated auth resource locally.

Welcome to the Amazon Lex chatbot wizard
You will be asked a series of qu

[2019-06-08 09:14] Kitemaker commented on #1621
I am getting following error while trying to add interactions
TypeError: Cannot read property 'dependsOn' of undefined
    at Object.updateamplifyMetaAfterResourceAdd (C:\<path>\AppData\Roaming\npm\node_modules\@aws-amplify\cli\src\extensions\amplify-helpers\update-amplify-meta.js:76:15)
    at addWalkthrough.then (C:\Users\Saleem\AppData\Roaming\npm\node_modules\@aws-amplify\cli\node_modules\ampl

[2019-06-08 09:39] janhesters commented on #1583
@mikeparisstuff Done. Ran it via methods in an app generated by Amplify, and it got he same result.

[2019-06-08 10:02] yukitaka13-1110 opened #1623 "I encounterd 'SyntaxError: Upexpected token export' when I executed 'amplify env add'"
I encounterd this error suddenly.

It occurred after adding api( `amplify api add `).
Is this my fault ?
How shuld I do ?

[code]

#### Information
Amplify CLI    =>    1.7.0
API(GraphQL)    =>    Select Option -> TypeScript

[2019-06-08 15:44] kyunghoon commented on #235
just to help anyone who might be stuck here and wants to make unauthorized graphql calls, i have A LOT of painful cognito experience.

Create a guest user via aws console
i used the following
- username: guest
- email: guest@guest.com
- password: guestguest

then call the following function with matching parameters, `getCognitoAuthToken(<your-cognito-region>, 'guest@guest.com', 'guest', 'guestgues

[2019-06-08 16:47] komushi opened #1625 "local amplify folder lost"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
amplify-cli

** What AWS Services are you utilizing? **
cognito, dynamodb, appsync, s3

** Provide additional details e.g. code snippets **
After pushing and publishing to the prod env I lost my local amplify folder. The app code has backups on git s

[2019-06-08 20:31] janhesters opened #1626 "How to create schemas without creating an attribute for each value"
** Which Category is your question related to? **
GraphQL Transform, API
** What AWS Services are you utilizing? **
AppSync, DynamoDB
** Provide additional details e.g. code snippets **
Let's say you want to use the `@key` directive to create a global secondary index and want to use the [sparse index](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-indexes-general-sparse-indexe

[2019-06-08 22:59] selipso commented on #1529
I received the above error after updating the codegen. With the queries, I got a different error on the client side that prevented me from sending the request. The above message occurred as a response from AWS after a successful request. I had to create a new backend server with the updated schema to get rid of the above error.

[2019-06-08 23:50] artista7 commented on #300
Hey @kaustavghosh06 , this does not seem to work when we have only have one-to-one connection like:-
student {
    id: ID!
    name: String
}
resume{
  id: ID!
  title: String
  studentId: String
  student: student @connection(keyField: "studentId", sortField: "createdAt")
  createdAt: String
}

In this case - 1. resumeStudentId is used as connecting field, and also no index is created on studentI

[2019-06-09 04:53] YikSanChan opened #1627 "Unnamed connection to named connection data loss"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, Amplify

** Provide additional details e.g. code snippets **
Note: To better explain the question I create a github repo. See https://github.com/YikSanChan/test-connection.

I create an graphql API with unnamed connection. See [code](https://github.com/YikSanChan/test-connection/commit/7a9ccb

[2019-06-09 10:17] eelzinaty commented on #1620
There a workaround for this. Go to `backend-config.json` and under `function` key find `backendGraphQL` then under `dependsOn => attributes` add this value `GraphQLAPIEndpointOutput`. Repeat this for `amplify-meta.json` file. This will allow you to access the GraphQL URL in your function CF Stack via `apibackendGraphQLGraphQLAPIEndpointOutput`. Finally, you can add it to your function environment

[2019-06-09 10:33] eelzinaty commented on #1609
That would be a great addition :+1:

For now, to achieve this I create a function to handle the trigger, `PostConfirm`. In the generated stack for the function I add four things:
1- Permission for Cognito to invoke Lambda:
[code]
2- I create inline function that is repsonsible for connecting the Lambda function with cognito trigger.
[code]
3- Then I create and IAM role to give the above function t

[2019-06-09 10:39] eelzinaty opened #1628 "Accessing GraphQL URL from custom nested stacks"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered

[2019-06-09 11:47] dancomanlive commented on #1117
This feature is essential. How come it was not built in from the start?

[2019-06-09 13:00] mdw2000 opened #1629 "Ability to specify sortDirection for custom @key with sort key"
Currently when creating a custom GSI with the @key directive containing a sort key there is no way to specify the `sortDirection` which would generate the `scanIndexForward` section in the resolver.

E.g. for the model below
[code]

It would be great to be able to specify `sortDirection` as a query input as well without having to override the input/resolver.

[2019-06-09 14:10] mwarger commented on #1534
I got this working and it's great!  Thank you for your help!

[2019-06-09 14:10] #1534 closed

[2019-06-09 15:03] sankranti2018 commented on #1105
Is Amplify console using an older version of the cli by any chance? I am running into this issue when I build using amplify console. Manual deployment work fine. Here is the message in build log. 2019-06-09T14:19:54.301Z [WARNING]: Error updating cloudformation stack
2019-06-09T14:19:59.308Z [INFO]: Following resources failed
2019-06-09T14:19:59.310Z [INFO]: Resource Name: UserPoolClientLambda (AW

[2019-06-09 20:35] lanceharper commented on #1585
I saw this today as well in a new project.

Amplify version: 1.7.1
Node version 8.11.3

[2019-06-09 22:42] boreview opened #1630 "Static group auth for queries in res and not req?"
Is there a good reason I'm missing out on for putting static group auth in the response resolver template? Does that mean in case a user is not authorized via a group, we would read the table first, only to find out that we can't return the results?

[2019-06-10 08:23] janhesters commented on #1626
I just found out, that if you set an attribute to null it gets deleted in DynamoDB.

[2019-06-10 08:23] #1626 closed

[2019-06-10 13:05] DanielCarns commented on #778
I had the same issue and it was caused by a few factors. The above solutions won't work unless you follow step #1 here.

1.) Amplify documentation doesn't tell you to first install the AWS CLI, it assumes you already have. Go here to follow those instructions: [(https://docs.aws.amazon.com/cli/latest/userguide/install-linux-al2017.html)]
2.) Make sure your version of node is updated (common sense

[2019-06-10 14:30] sprucify commented on #1458
I think this issue will be solved with the new @key feature right?
I'm trying to figure out how to do `list recipes from week x` with this new feature

[2019-06-10 14:55] edlefebvre commented on #1623
Same error here during a `amplify env add`

`
✔ Successfully created initial AWS cloud resources for deployments.
✔ Initialized provider successfully.
✖ There was an error initializing your environment.
init failed
/home/*path to project*/src/aws-exports.js:14
export default awsmobile
^^^^^^
SyntaxError: Unexpected token export
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.j

[2019-06-10 15:30] awsed commented on #1620
Thanks, any plans to make it part of the function creation?

[2019-06-10 15:31] kaustavghosh06 commented on #1620
@awsed Yes, we’ll add it to the defaults. I’ll update this thread after submitting a PR for the same.

[2019-06-10 16:49] awsed commented on #1620
@eelzinaty if I do the changes you suggested I get this:

[code]

If I remove `GraphQLAPIEndpointOutput` the stack is deployed.

[2019-06-10 16:56] yuth commented on #1609
@rawadrifai I have added this feature-request to support generic lambda function as trigger to our backlog. Our product team will go through and prioritize this.

@eelzinaty [Auth RFC](https://github.com/aws-amplify/amplify-cli/issues/766) talks about some of the triggers that we will support. Please feel free to comment in the RFC

[2019-06-10 17:03] yuth commented on #1615
@ChrisFieldsII what resources are missing when you do an `amplify env pull --restore`. Are these the GraphQL API resources? Could you shed some light as to how you got to this state where those table got created?

[2019-06-10 17:05] janhesters commented on #997
Also have this issue. It seems like creating a Lambda function doesn't recognize the DynamoDB backend created when using `amplify add api` and you choose `graphql`.

[2019-06-10 17:30] #1563 closed

[2019-06-10 17:38] #1614 closed

[2019-06-10 17:39] kaustavghosh06 commented on #1595
The fix for this is merged - #1610 and will be released to npm in our next release.

[2019-06-10 17:39] #1595 closed

[2019-06-10 17:48] kaustavghosh06 commented on #1616
the fix for this issue has been merged as a part of this PR - #1622
It will be a part of our next CLI release - 1.7.2.

[2019-06-10 17:48] #1616 closed

[2019-06-10 17:48] yuth commented on #1625
@komushi you can use `amplify env pull --restore`. This will restore your `amplify/backend` to what is pushed to the current env. You will loose all the changes that you haven't pushed (if there are any)  by using `--restore` flag.

[2019-06-10 17:59] aireater opened #1632 "Use parent get query or @key directive?"
** Which Category is your question related to? **
GraphQL transform

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **
I have an Account object and Document object defined with a 1-to-many named connection with createdAt sortField.

[code]

and

[code]

In my UI, Documents is a separate tab so I'm running the getAccount query with the

[2019-06-10 18:06] yuth commented on #1623
@yukitaka13-1110 @edlefebvre could you paste the content from your `aws-exports.js`. Please obfuscate any sensitive info in the file before pasting them.

[2019-06-10 18:48] desokroshan opened #1633 "Is it possible to use AWSMobileClient without using Cognito User Pool?"
Originally opened by @pai911 https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/262

**State your question**
Is it possible to use **AWSMobileClient**  without using **Cognito User Pool**?

I am migrating from an old Cognito version, so I already set up identity pools for Facebook / Google / Developer Authenticated providers. It works fine with only **Identity Pools**.

In Amplify,  **AW