[2021-12-16 16:41] jsgphd commented on #9313
Thanks @josefaidt:
Running amplify env checkout <current-env-name>  made no difference aws-exports is the same.

My cli-inputs has this:
   "authProvidersUserPool": [
      "Facebook",
      "Google",
      "LoginWithAmazon"
    ],
    "hostedUIProviderMeta": "[{\"ProviderName\":\"Facebook\",\"authorize_scopes\":\"email,public_profile\",\"AttributeMapping\":{\"email\":\"email\",\"username\":\"id\"

[2021-12-16 16:44] lazpavel commented on #9328
Hi @alex-vladut, this is a duplicate of https://github.com/aws-amplify/amplify-cli/issues/9222, closing to this one in favor of the one mentioned above.

[2021-12-16 16:44] #9328 closed

[2021-12-16 16:53] lazpavel commented on #9316
Thank you for the update, re-checked and currently updating the sign-in options is not supported.
![image](https://user-images.githubusercontent.com/85319655/146414274-c4e8d076-f78e-4715-997f-6643145a0fec.png)
Marking the ticket as a feature request

[2021-12-16 17:20] jnastaskin commented on #9293
hi @akshbhu , any updates on this? I haven't heard back yet from anywhere

[2021-12-16 17:40] josefaidt commented on #8471
Ahh that file is hidden by the editor-specific settings generated by the CLI. Could that be the case as to why you don't see it?

I'll take a look at the other issue as well!

[2021-12-16 17:47] lazpavel commented on #8993
Hi @skryshi can you confirm for me the transformerVersion? please paste the content from `amplify/cli.json`

[2021-12-16 18:03] stephen-optisol commented on #9302
Thanks for letting me know @danielleadams

[2021-12-16 18:11] loganpowell commented on #8471
yes, [the recommendation](https://github.com/aws-amplify/amplify-cli/issues/4700#issuecomment-653760052) used to be to add it to the `.gitignore` manually, but it seems that the new CLI adds it there automatically.

[2021-12-16 18:12] josefaidt commented on #8471
You are correct! That file can contain sensitive information and is generated by the CLI when we initialize an environment

[2021-12-16 18:27] pptavozl opened #9330 "GraphQL mutation update, delete doesn't working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-16 18:31] lazpavel commented on #9316
This is a console limitation and not a CLI one, closing as Won't Fix.
![image](https://user-images.githubusercontent.com/85319655/146428419-92d3ad8f-7272-4d4b-96ab-399137887e08.png)

[2021-12-16 18:31] #9316 closed

[2021-12-16 18:58] josefaidt commented on #9313
Ah my apologies @jsgphd that parameters path should be `amplify/backend/auth/<resource-name>/build/parameters.json`. Do you mind emailing a sharable link to a zip file of your `amplify/` directory to further investigate? I am unable to reproduce this issue

[2021-12-16 19:06] jsgphd commented on #9313
I have a lot of confidential info in there so I can't send you a zip. BUT we can do a screen share together to help debug it?  Send email to jason@mwire.io to move off this public forum to schedule that.

that build file has:

{
    "CreateAPIKey": 1,
    "AppSyncApiName": "mwireLiveAPI",
    "DynamoDBBillingMode": "PAY_PER_REQUEST",
    "DynamoDBEnableServerSideEncryption": false,
    "AuthCognit

[2021-12-16 19:08] jsgphd commented on #9313
I have a lot of confidential info in there so I can't send you a zip. BUT we can do a screen share together to help debug it? Send email to jason@mwire.io to move off this public forum to schedule that.

that build file has:

{
"CreateAPIKey": 1,
"AppSyncApiName": "mwireLiveAPI",
"DynamoDBBillingMode": "PAY_PER_REQUEST",
"DynamoDBEnableServerSideEncryption": false,
"AuthCognitoUserPoolId": {
"Fn::

[2021-12-16 19:23] josefaidt commented on #9313
Hey @jsgphd sure! And that output looks to be the contents of your GraphQL API's parameters.json

[2021-12-16 19:32] jsgphd commented on #9313
Sorry!  So this must be the issue, its doesn't match the cli-inputs for some reason.

    "authProvidersUserPool": [
        "Google"
    ],
    "hostedUIProviderMeta": "[{\"ProviderName\":\"Google\",\"authorize_scopes\":\"openid email profile\",\"AttributeMapping\":{\"email\":\"email\",\"username\":\"sub\"}}]",

[2021-12-16 20:52] loganpowell commented on #9322
Bloop! I figured it out 😅... Since I'm migrating to the new schema (V2) syntax, I switched to a new environment, which required me to `amplify update function` one of my functions to update the secrets there 😝.

[2021-12-16 20:52] #9322 closed

[2021-12-16 20:53] loganpowell commented on #8471
@josefaidt got that second issue resolved as well. 🙏  thanks again!

[2021-12-16 21:00] cespin commented on #9063
Nice work around @ahiratan !

Did you test it? Don't you get any of those errors about not having access to 'fs' or 'os' ?

In amplify-meta.json there are ways to figure out the env name, for example, chopping the stackName in pieces should do the trick. It's still a work around but better than being completely blocked.

[2021-12-16 21:17] cespin commented on #9063
Ok, @ahiratan 's work around does the trick. Just tested it.

I could get the environment like this:

[code]

It's obviously a hack but better than nothing.

[2021-12-16 21:25] josefaidt commented on #8471
Ahh awesome! Glad to hear you're back up and running @loganpowell 🙌  I'll leave this issue open to improve the logging for when one of these critical files are missing and fail gracefully 🙂

[2021-12-16 21:34] hackrx commented on #9307
Hey @lazpavel, I tried this way:
1. I deleted my auth, then again created with lambda  trigger, and `email` as the only required attribute.
2. I initialised `preSignUp` trigger for the lambda function.
3.  Hosted UI allows users to enter username + email + password for signUP.
4. In my case I want to use   `sub` as  `userName` in cognito, and set sent userName as preferred_username.
5. So I edited

[2021-12-16 21:42] lazpavel commented on #9307
Hi @hackrx, I believe you might be able to achieve what you need by configuring an userPool with preferred_username and without social providers, and then expand the userPool with social providers/do the mapping using `amplify override auth`.

See more details [here](https://docs.amplify.aws/cli/auth/override/)

Trying to setup a mock application at the moment to confirm that this will solve the r

[2021-12-16 21:54] hackrx commented on #9307
can you please tell me how can I fulfill these requirements?
[code]
and in any platform (for eg. flutter) , if I am trying to sign up, then it says, `username` is required attribute.

Looking forward for your response 🙂 .

[2021-12-16 22:19] ahiratan commented on #9063
Good.
As you say this not a good solution and I expect that at least `getProjectInfo()` will work properly because this function is now exposed to users.
https://github.com/aws-amplify/amplify-cli/blob/v7.6.3/packages/amplify-cli-extensibility-helper/src/index.ts#L2

And also I think it's better that we can use with "Export Amplify project to CDK".
https://docs.amplify.aws/cli/usage/export-to-cdk/

[2021-12-16 22:33] josefaidt commented on #9300
Hey @markus-sell :wave: to echo @cjihrig 's comment above are you able to run `amplify version` outside a project directory? This will help us gather additional context to better identify the root cause of the issue you are seeing.

[2021-12-16 23:00] raphkim opened #9331 "Default to "Android Studio" for Android CLI init flow"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When running `amplify init` for an Android project, the default editor is set to `Visual Studio Code` rather than `Android Studio`. Changing this requires you to say "No" to the following confirmation and

[2021-12-17 05:45] oste commented on #9055
I would also like to voice my support for using `code: lambda.Code.fromAsset(...` in custom cdk resources. I have a similar use case as @shishkin for adding additional s3 trigger functions and configuring prefixes, however, being able to use local function assets seems generally useful.

[2021-12-17 08:23] maziarzamani opened #9332 "How to add a user to access a model via the email"
Hi everyone.

In my code snippet I have a `Post` model where I need to add some `editors`. The way I am planning to invite `editors` is with their e-mail address, however I need their userSub as an entry in `editors`. Is there a way to fetch the userSub with the email address and then update the editors array with that information?

Users create and login with their email-addresses through Cognito

[2021-12-17 09:33] shishkin commented on #9055
I haven't tried it with Amplify myself, but this CDK module might do asset bundling as part of its resource synthesis and thus should not rely on CDK CLI to do bundling: https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-nodejs-readme.html. There is also this community construct for ESBuild: https://github.com/mrgrain/cdk-esbuild.

I just switched to using plain CDK instead of Amplify CLI

[2021-12-17 09:33] fooman commented on #7792
It seems support `custom-policies.json` now exists. What is less clear is what variable placeholders can be used and this RFC seems the most comprehensive on this topic.

It seems that `${env}` works but not much else. It would be great to also be able to include
[code]

[2021-12-17 13:29] benjamindoe commented on #9279
Not sure if this is related, I'm having trouble with `public` access. I've allowed unauthenticated access on my cognito identity pool but I can't access any of my models from SSR (next.js) API endpoints using `AWS_IAM` as an auth mode despite having the following auth rules on the models.
[code]

[2021-12-17 13:37] benjamindoe commented on #9279
Scratch that, it's not just SSR routes on next but my lambda functions and frontend access too. The docs explicitly say that a lambda function should have access (requests are signed by v4 signatures).

[2021-12-17 14:12] irakli-g commented on #9145
@sundersc Works like a charm!

I've tried this too and it successfully compiled.
[code]

[2021-12-17 14:14] #9145 closed

[2021-12-17 14:33] reedshea commented on #9297
I am seeing the same or a similar issue trying to spin up a new environment (new branch, new full-stack Amplify deployment). The `cli-inputs.json` contains a reference in `dependsOn` and `authTriggerConnections` to the correct post-confirmation Lambda function that should be triggered after user signup/confirmation. The relevant CloudFormation stack shows those parameters. In the Cognito console,

[2021-12-17 14:47] benjamindoe commented on #9204
I think I'm running into something similar. `features.graphqltransformer.useexperimentalpipelinedtransformer: true` and `features.graphqltransformer.transformerversion: 2`. This only breaks for the v2 transformer as this used to work when I was on v1. Migrating from 6.4.0 to 7.6.3 broke things for me. This is my `@auth` directive I'm using

[code]

[2021-12-17 14:52] ataravati commented on #9204
@danielleadams Here's my `cli.json` file:

[code]

By the way, if I remove `queries: null` on type Student, everything works as expected.

[2021-12-17 16:54] AndyW22 opened #9334 "Deployment pipeline fails after migrating appsync API to transformer v2 from CLI 5.x"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-17 16:58] josefaidt commented on #9334
Hey @AndyW22 :wave: again, thank you for taking the time to file this! I was able to successfully reproduce using the steps provided. Marking as a bug 🙂

[2021-12-17 17:13] AndyW22 commented on #9334
To add to this if relevant, I also updated authentication at the same time to work with the new schema. When i pushed however, upon updating `authuserPoolGroups`, it failed with ```UPDATE_ROLLBACK_IN_PROGRESS with reason: The following resource(s) failed to update: [defaultGroup, RoleMapFunction].``` and then the parent stack gave error: ```The following resource(s) failed to update: [authuserPool

[2021-12-17 18:10] Straubulous commented on #9330
@pptavozl please provide schema, cli.json. Also, do you have any custom resolvers?

[2021-12-17 18:23] alex-vladut opened #9335 "How to model hierarchical/recursive data models?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
`API`

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

`7.6.4`

**What AWS Services are you utilizing?**

AppSync, DynamoDB, Cognito, Lambda etc.

**Provide additional details e.g. code snippets**

I would like t

[2021-12-17 19:34] pptavozl commented on #9330
Thanks for answering

I have schema and rsolvers created by "amplify push"

schema.graphql
[code]
cli-input.json
[code]

[2021-12-17 19:40] mahmedmushtaq opened #9350 "@key directive does not returning the complete matching data"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-17 19:50] josefaidt commented on #9317
Hey @PeteDuncanson thank you again for hopping on a quick call with us, and I'm glad we were able to unblock y'all from deleting those environments. I will follow-up with the Console team to uncover what the "clone" functionality is attempting to do and see if we are able to identify what is awry, however thankfully we are able to successfully initialize a new environment and push locally.

With t

[2021-12-17 19:50] #9317 closed

[2021-12-17 19:51] danielleadams commented on #9261
@maziarzamani I think what you can do is use a `listComputerConfiguration` API call from the editor's client, which you will get from that `read` operation, and if you want to even include the associated `Computer`, you can add a `@belongsTo` directive on the `ComputerConfiguration` type. Is that the behavior you are looking for?

[2021-12-17 20:01] danielleadams commented on #9332
Hi @maziarzamani - you can certainly do this. I think the behavior you are looking for will be a combination of setting up your GraphQL schema with the CLI, and then your application code using the [amplify-js ](https://github.com/aws-amplify/amplify-js) library. Have you taken a look at the Authentication docs for Amplify? (https://docs.amplify.aws/lib/auth/getting-started/q/platform/js/)

[2021-12-17 20:04] danielleadams commented on #9204
@benjamindoe You are running on a different version of transformers than the issue author - if you are seeing issues, do you mind opening another issue? Thanks!

[2021-12-17 20:10] oste commented on #9055
I plan to use more and more cdk as well but figure I can still just use it within amplify. But if I continue to run into hurdles like this I guess completely breaking free makes sense. Thanks for the suggestion. Will try it out

[2021-12-17 20:15] maziarzamani commented on #9332
Hi @danielleadams! Thanks for getting back to me. I do have experience with amplify-js and the API endpoints in general. However I was wondering how I do this magic from a GraphQL perspective. Is there a trick with resolver functions on the attributes directly that I can utilize to make this happen or what would you recommend?

[2021-12-17 20:18] maziarzamani commented on #9261
Hi again @danielleadams. This is where problems start to creep up. Because the `editor` entries on `ComputerConfiguration` do not really exist, unless I somehow replicate these entries in a pipeline resolver manually from the `Company` object. When a `Computer` object has been created, I basically need the same `editors` and `viewers` to exist in the `@hasMany` relations. You could call it a form

[2021-12-17 21:32] zalanfarkas opened #9337 "amplify pull & push always add "aws_appsync_dangerously_connect_to_http_endpoint_for_testing": true to aws-exports.js"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-17 21:53] zalanfarkas opened #9338 "amplify mock not reverting aws-exports.js on termination"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-17 23:27] AndyW22 commented on #9330
Im also having this issue, with schema:

[code]

[2021-12-18 02:11] yppartyk commented on #9341
@Parth220

To unblock yourself, please do the following with the CLI:
- `amplify remove auth`
- `amplify update api`
- Select `GraphQL`
- `Select a setting to edit`:  **Authorization modes**
- `Choose the default authorization type for the API`: choose either **API key** or **IAM** depending on your GraphQL schema
- When you get to `Configure additional auth types?`, enter `yes` (that you want to

[2021-12-18 03:36] oste commented on #9055
I can report that `@aws-cdk/aws-lambda-nodejs` has the same "Parameters must have values" issue unfortunately.

[2021-12-18 10:52] Dennis-Dekker commented on #9228
Hi, is it possible to use the `add-graphql-datasource` command if you install an old version of the cli? If so, do you know which version allows this? If not, is there any other way to add a datasource (I'm trying to connect Amazon Aurora) to the graphql api?

[2021-12-18 14:23] rush86999 commented on #979
would love to see an update on this

[2021-12-18 15:13] stephen-optisol commented on #9302
@danielleadams is there any solution for this issue

[2021-12-18 15:47] alex-vladut commented on #704
I agree too that it would be quite useful to have Amplify generate a mutation for creating multiple entities of the same type. To provide some context, I worked with Hasura on a project and I found the mutation they provide is very useful in practice, here is an example of what they looks like: https://hasura.io/docs/latest/graphql/core/databases/postgres/mutations/insert.html#insert-multiple-obje

[2021-12-18 15:54] hkford opened #9342 "gitignore `node_modules` for custom resources"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When you add custom resources using CDK, [Amplify CLI generates `amplify/backend/custom/<resource-name>` directory](https://docs.amplify.aws/cli/custom/cdk/) which includes `node_modules` after build step.

[2021-12-18 22:15] ajinkyashukla29 opened #9343 "Make model searchable from Amplify Studio"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

AppSync, OpenSearch

### Describe the feature you'd like to request

Amplify Studio should provide an option for making the models searchable and thereby stream the model data into OpenSearch, It should also generate search queries that will read the model data from OpenSearch.

[2021-12-19 06:34] sundersc commented on #9334
Hi @AndyW22 - After `amplify migrate api`, can you push the changes to the cloud (`amplify push`), then commit the git changes. This should pick up the correct configuration.

[2021-12-19 07:03] GeorgeBellTMH opened #9344 "Multi Site"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Options for multiple regions, to protect from outages, to allow for ensuring data is stored or sync'd depending on different rulesets (ie. for ensuring data is stored in the users region, or ensuring it is

[2021-12-19 07:10] GeorgeBellTMH commented on #9344
This could potentially be expanded to create the ability for api's to be protected by region, or to have alternate implementations in different regions in the graphql [ie. @auth({region:us-east1, group:admin, access:[region:us-east-1,allow:[read,write]]},{region:eu-west-1, group:admin, access:[region:eu-east-1,allow:[read,write]]}) would only let admins in us modify data stored in the us, and eu a

[2021-12-19 10:49] rafaelfaria commented on #9330
I'm having the same problem. Out of a sudden, my mutations does not work anymore with Cognito.
please. I wonder if there is anything to do with the cli.

[2021-12-19 11:06] AndyW22 commented on #9330
I think I was able to fix my issue,  this is what I did:

-  upgrade amplify CLI to 7.6.4
- `amplify remove auth`
- `amplify add auth` (with a different name)
- `amplify update api`, select same options which will update the cognito pool it uses.
- `amplify push`

I think the issue is related to using authentication made before 7.x with the new transformer.

[2021-12-19 11:29] yucomds commented on #9335
I've got the same problem.

in my case I have to create a model called Category. Each Category can have multiple child Categories.

The strange thing is that until yesterday the backend was working correctly. Yesterday suddenly the backend build went over and gave me the same error reported in this issue.
Why this change?
Is there another way this structure can be modeled?

[2021-12-19 13:45] hackrx opened #9345 "Template error: instance of Fn::GetAtt references undefined resource $authname"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-19 14:02] hackrx commented on #9345
now amplify pull is also not working:
[code]

[2021-12-19 18:09] #9227 closed

[2021-12-19 18:10] #9273 closed

[2021-12-19 18:11] #9165 closed

[2021-12-19 18:11] #9209 closed

[2021-12-19 18:12] #8997 closed

[2021-12-19 18:12] #9286 closed

[2021-12-19 18:13] #9268 closed

[2021-12-19 18:14] #9089 closed

[2021-12-19 19:43] maziarzamani commented on #9332
As i understand I should be able to add a function to `editors`?

[code]

However an example of how `HandleUserPermission` would work with DynamoDB in play would be a great help, I was not able to find any proper examples anywhere.

[2021-12-20 04:38] oste commented on #9055
I raised this issue(https://github.com/aws/aws-cdk/issues/18090) with `aws-cdk` since what looked to be a promising `addEventNotification` function didn't seem to work with imported resources.

[2021-12-20 14:01] fossamagna opened #9346 "Incorrect environment name parameter in hooks script"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-20 14:20] LyleMartin commented on #1088
This was not mentioned in re:invent 2021 that I have seen.  Would love to know if AWS Amplify will be available in govcloud in the future. Would make a big difference for some projects we are pitching soon.  Thank you in advance.

[2021-12-20 15:34] hackrx opened #9348 "Custom resolvers doens't overrides and attached to respective mutation/query"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-20 16:24] ryanchuleff commented on #9228
@Dennis-Dekker I was told that the breaking change was introduced in 7.5.0 so in theory if you reverted your CLI to an earlier version than that, you should be able to do it.  I had an earlier version that I was using it with, so I can confirm it does work.

[2021-12-20 16:39] mrsimply opened #9349 "Custom Transformer v2 - Resolvers in TransformerContext are empty/undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-20 16:44] mrsimply commented on #9349
PS: I was also waiting for #9180 to get fixed with #9252 done by @cjihrig - Maybe the topics are related? in #9180 custom transformers were not considered at all - now they are considered, but they are not populated with any resolvers...

[2021-12-20 17:00] jk171505 opened #9351 "Unable to set Pre Sign-up lambda trigger"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-20 18:02] cjihrig commented on #9349
@mrsimply I can reproduce your error message, but I believe it's because you are calling `Object.keys()` on the `Map` object that is returned by `ctx.resolvers.collectResolvers()`. The `Map` does contain resolvers though.

[2021-12-20 18:10] Straubulous commented on #9343
Moving to Studio team for consideration

[2021-12-20 18:13] cjihrig commented on #9335
Thanks for reporting this. I've opened https://github.com/aws-amplify/amplify-cli/pull/9336 to fix the issue. Until that is released, you can use v7.6.3 as a workaround.

[2021-12-20 18:25] mrsimply commented on #9349
Thx for checking, the Keys was just to demonstrate the object is empty. At least in my case it is empty!

My resolvers just return `{}`

I have no clue why. Any ideas?

[2021-12-20 18:30] #9199 closed

[2021-12-20 18:30] cjihrig commented on #9349
Can you try `resolvers.keys()` instead of `Object.keys(resolvers)`. `resolvers` is a `Map`, not a plain JavaScript object.

[2021-12-20 18:31] #9335 closed

[2021-12-20 19:16] chrismilleruk commented on #9021
@lazpavel, @josefaidt 👋
Apologies for the slow response. I've created a ticket to try these approaches and will let you know how it goes.

[2021-12-20 19:24] mpashkovskiy opened #9354 "Populate region and account to custom resources CDK stacks"
In many cases region and account is needed to create a custom resource like VPC or perform lookup. Could region and account be propageted from the used AWS CLI profile during the custom resource CloudFormation template generation phase maybe somewhere in
[generateCloudFormationFromCDK](https://github.com/aws-amplify/amplify-cli/blob/e37718059cffdfecfe25a16ffdbf907cd2893949/packages/amplify-categor

[2021-12-20 21:14] cjihrig commented on #9348
I cannot reproduce this based on the information provided. I created the following schema:

[code]

Note that you have disabled the create operation with `mutations: {create: null}`.

I also added a custom `resolvers/Mutation.createUser.req.vtl` file. After running `amplify api gql-compile`, I am seeing the same content in `build/resolvers/Mutation.createUser.req.vtl`.

[2021-12-20 21:50] marcvberg commented on #9330
Hi @AndyW22,

Could you provide your GraphQL schema from before it's compiled by the CLI?

Specifically I'm looking for usage of `@auth` and other directives in our transformer

If you could also provide the `amplify/cli.json` file (not `cli-input.json`) just so we can see which feature flags you have enabled/disabled

Thank you

[2021-12-20 22:03] marcvberg commented on #9337
Closing as duplicate of #9338

[2021-12-20 22:03] #9337 closed

[2021-12-20 23:54] Spidey507 opened #9357 "Amplify pull deletes local resources"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 00:39] frankclaassen opened #9358 "Migration from v6* to v7 latest fails with [authRoleName, unauthRoleName] must have values on AdminQueries API"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 00:45] dylan-westbury commented on #9122
@ammarkarachi I wasn't able to clear the streams by running amplify update function, so I just removed / re-added functions.

Maybe a feature request to remove / update streams for existing lambdas, I think currently can only add at time of creating a new function

[2021-12-21 00:46] #9122 closed

[2021-12-21 01:06] frankclaassen commented on #9200
I get the same issue which seems to be due to having DataStore enabled

[2021-12-21 01:27] eettaa commented on #8668
I'm still struggling with this and hoping Amplify can clarify its guidance on underlying file structure? I notice https://github.com/aws-amplify/amplify-cli/issues/6398 has a similar parallel structure to the one I mentioned, except that node_modules etc are in the ./lib dir, not the src/ dir.

I noticed @attilah gave some great guidance in https://github.com/aws-amplify/amplify-cli/issues/6398 ..

[2021-12-21 01:32] peter-greekbase opened #9359 "'amplify update auth' is broken for new projects for new create-react-app@5.0.0 ?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 02:34] mattfysh commented on #8868
Hi all, any updates?

I'm still having to deploy manually, and need to manually update secrets every time to ensure the CF template is properly re-rendered with the right ENV before deploy

if I'm not careful when deploying manually, I can end up with prod secrets in dev or vice-versa

So this seems like it should be a high-priority bug, considering that container secrets are no longer compatible

[2021-12-21 02:42] mattfysh commented on #8868
as a sanity check - can I get someone to agree that environment names should not be getting hard-coded into CF templates?

If I can just get someone to acknowledge that this is definitely a bug then I can relax knowing that a fix will come, eventually.... right? :)

[2021-12-21 06:23] jiahao-c commented on #2915
Would also love YAML CloudFormation in Functions. Maybe add as an advanced option? (select either json or YAML)

[2021-12-21 07:31] mrsimply commented on #9349
@cjihrig true 🤦‍♂️ Thanks for pointing this out 😅 I still can't finish my transformer as the contents of `resolver.addToSlot(slotName, requestMappingTemplate)` won't show up in the TransformerResolver, but that is another story... Thanks again!

[2021-12-21 07:31] #9349 closed

[2021-12-21 07:37] mpashkovskiy opened #9360 "Populate custom resources CDK stacks with region and account"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

In many cases region and account is needed to create a custom resource like VPC or perform lookup. Could region and account be propageted from the used AWS CLI profile during the custom resource CloudFormat

[2021-12-21 07:38] mpashkovskiy commented on #9354
closing in favor of #9360

[2021-12-21 07:38] #9354 closed

[2021-12-21 07:43] aryaman-titan commented on #9348
Hey @cjihrig! I was facing similar issue. Even after disabling the create operation, createUser is getting populated in the `/build` folder

[2021-12-21 11:02] jk171505 commented on #9334
I noticed the same error, but in my case the steps were:
...
6. `amplify push` - success.
7. push to git while some older version of amplify cli was enforced in console. At that point the pipeline failed with the same bug.
Eventually I solved ensuring the lates version of cli:
[code]

[2021-12-21 11:16] mrsimply opened #9362 "Custom Transformer v2 - Error: Template asset can be used only with TransformerStackSynthesizer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 11:19] mrsimply commented on #9349
@cjihrig I'm still struggling, as the Transformer v2 is very sparsely documented - As you seem to have a stake in the amplify-cli package, would you mind taking a look into #9362 as well? Thank you very much in advance 🥺

[2021-12-21 11:23] SHIJILKAILAS commented on #3399
+1

[2021-12-21 12:52] ernestostifano opened #9363 "amplify add auth breaks entire project"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 13:05] gurusabarish commented on #9285
Thank you @sundersc for the responce,

I used a custom lambda resolver with your recommendation to achive this.

[2021-12-21 14:50] Dennis-Dekker commented on #9228
@ryanchuleff Thanks for your answer, I just noticed that the issue is resolved in the new version of the CLI. After the update, the `add-graphql-datasource` command works again.

[2021-12-21 15:39] ryanchuleff commented on #9228
@Dennis-Dekker thanks for the heads up, I'll grab the latest update.

[2021-12-21 16:25] iwishApp opened #9364 "Minimum version required of Amplify CLI is not installed"
The project has been developed during the beginning of 2020.  Now I want to continue developing. I pulled  dev env from AWS server to a brand new Mac OS, where I have installed npm and amplify cli just before that.
npm install -g @aws-amplify/cli amplify-app

Node -v  is 16.13.1
npm -v is 8.1.2

when I try to build my project in Xcode I get this:

error: Minimum version required of Amplify CLI is

[2021-12-21 16:33] cjihrig commented on #9348
If you have defined custom VTL files in the `resolvers/` directory, they will be copied to the `build/resolvers/` directory, but the generated schema should not include the functionality for invoking them from the deployed AppSync API.

[2021-12-21 18:03] langholloman commented on #1088
I'm currently working on a Amplify/React/GraphQL/DynamoDB project that has a customer with a requirement now to deploy in GovCloud. Can't express how much I have come to enjoy working Amplify!!

[2021-12-21 18:45] hackrx opened #9365 "Not Authorized to access createUser on type User"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-21 20:12] mdarche commented on #9268
This has been messing me up big time for the last 24 hours.

I was actively updating my `@auth` directives in `schema.graphql` while running `amplify mock` and the .vtl template files were not reflecting my changes. Workaround is to delete the contents of the resolvers directory before running `amplify mock` as suggested by @lazpavel.

[2021-12-21 20:23] nickwilldoit commented on #9063
@cespin and @ahiratan thanks for this. I'm using this hack, but it's pretty scary. I'm also using it to get the outputs from other stacks so I can refer to them in my Auth overrides.ts (in this case, I need to reference an EmailConfiguration).

It's wacky to me that such a hack is needed, and I'm still on the fence about just reverting to an older version of the amplify cli. If this hack suddenly

[2021-12-21 20:40] akshbhu commented on #9359
Hi @peter-greekbase

Can you paste ```amplify-meta.json``` file here , will help in debugging the issue?
Make sure to redact any secret info present in the file

[2021-12-21 21:31] danielleadams commented on #9302
@stephen-optisol I was able to reproduce with your code and I can see what the issue is, but I am not sure what the fix is yet.

[2021-12-21 21:34] rafaelfaria commented on #9330
@marcvberg

While we wait for Andy, I am having the same problems.

I tried to downgrade to version 7.5.0 which worked initially, but now, it just started to failed again, same error. Not sure what could be happening.

Here is my schema.

[code]

`UserSettings` and `Transactions` are failing.

I noticed the resolvers doesn't check for owners anymore, and weird resolvers that i haven't seen before

[2021-12-21 22:26] AndyW22 commented on #9330
did you mean to tag @pptavozl ? The schema i posted was made before compiled by the CLI.

my amplify/cli.json:
[code]

[2021-12-21 22:38] mpashkovskiy commented on #8781
Experience the same problem. To me it looked like it started to fail after Build step in the CodePipeline failed once. Build step failed because of a mistake in the REST API service code.

[2021-12-21 22:45] sachscode commented on #9313
Hi @jsgphd
Could you please share the version with which you had originally configured Auth for ( Facebook, Google and Amazon)  prior to the problem mentioned ( https://github.com/aws-amplify/amplify-cli/issues/9313#issuecomment-994832238 )

[2021-12-21 23:01] danielleadams commented on #9204
@ataravati Looking at this, I think that the issue is that `{ allow: owner, identityClaim: "sub", operations: [create, update, delete, read] }` rule on `Student` is preventing IAM access. The rule will protect all the operations from other user access. When I removed the operations from the rule, I got another error message (`Expression block '$[query]' requires an expression`) which I think just

[2021-12-21 23:04] danielleadams commented on #9161
@jfdesgagne can you give details of your auth configuration? Or the steps you took to set it up?

[2021-12-21 23:10] jfdesgagne commented on #9161
@danielleadams Thank you for looking into this. I've setup the auth module using the CLI tool, and I'm using the `Default configuration with Social Provider (Federation)` option with every social provider configured.

[2021-12-21 23:28] ataravati commented on #9204
@danielleadams This seems to be a bug. As I mentioned, if I remove `queries: null` everything works as expected.

[2021-12-22 00:33] danielleadams commented on #9204
@ataravati We just released transformers V2 a few weeks ago. Would you be able to migrate your schema to use the new version? https://docs.amplify.aws/cli/migration/transformer-migration/

[2021-12-22 00:35] ataravati commented on #9204
@danielleadams Well, I don't need to. As I said, I managed to resolve the issue by removing `queries: null`. Thank you!

[2021-12-22 00:43] jsgphd commented on #9313
Don’t remember.  But, still wondering how to fix this issue?   Should I delete all social and recreate or something else?  I really need a work around already please.

[2021-12-22 01:28] GanymedeIndustries opened #9367 "Empty backend step -> build phase"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-22 01:32] GanymedeIndustries commented on #9161
Hi @danielleadams, not too sure if its related or not but my builds also fail in the backend phase with an empty log in the amplify console (https://github.com/aws-amplify/amplify-cli/issues/9367).

Please let me know if this is a direct duplicate and I'll close it. Cheers.

[2021-12-22 03:43] cjihrig commented on #9362
It looks like you're hitting [this exception](https://github.com/aws-amplify/amplify-cli/blob/6334ea3a1941222711de3923dd0aa66ab50a5a64/packages/amplify-graphql-transformer-core/src/cdk-compat/file-asset.ts#L40) because [this `instanceof` check](https://github.com/aws-amplify/amplify-cli/blob/6334ea3a1941222711de3923dd0aa66ab50a5a64/packages/amplify-graphql-transformer-core/src/cdk-compat/file-asse

[2021-12-22 06:35] hackrx commented on #9348
Hey @cjihrig, I noticed on thing, if I will mark `{mutation: Create}` as null, then it will not autogenerate any mutation for it, also I have the same file inside `/resolver/` (not inside build), it is getting created in build folder on `gql-compile` but if you push it, then it will not populate in appsync console, weird issue, it must auto-connect with createUser mutation, and take User as dataso

[2021-12-22 06:35] #9348 closed

[2021-12-22 07:02] mrsimply commented on #9362
@cjihrig thanks - I can follow your reasoning, however I'm puzzled. How would I achieve this? Relying on the global versions of the dependency? From where would I import this 🤷‍♂️

[code]

I also had a look on a [Custom Transformer V2 from another party](https://github.com/sirvan3tr/amplify-graphql-default-owner-transformer), it is done the same way here, and it also does crash upon `amplify push

[2021-12-22 07:08] Fyb3roptik commented on #9183
Running `amplify auth update` does not fix this issue for me

[2021-12-22 07:47] lehoai opened #9368 "Hosting bucketName already exists error when deploy to new enviroiment (new aws account)"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
amplify hosting push

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
7.6.2

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**
I've deployed an amplify web app to the dev

[2021-12-22 07:48] julienlaurent-migso commented on #9270
Hello @josefaidt,
I am using Cognito User pool Authentification into my amplify application.

When i am calling my API, I pass into the headers the Authorization like :
[code]

In API Gateaway, i defined a Cognito Authorizer using the same Cognito User Pool (and i added to my Method Request):
![image](https://user-images.githubusercontent.com/79509459/147054803-cf673009-5859-46d8-8a9a-4358a1f66a5b

[2021-12-22 10:01] mpashkovskiy commented on #8781
Adding full access to bucket with zips (Dockerfile + source code of the service) to `ApiPipelinePipelineSourceCodePipelineActionRole*` in `amplify/backend/api/[SERVICE_NAME]/[SERVICE_NAME]-cloudformation-template.json` helped to fix the issue.

[2021-12-22 11:56] queryluke commented on #9363
I've been having a nearly similar issue. Fresh project, auth is the first thing I've added, same CLI version.

Except my error is `uncaughtException: Cannot read properties of undefined (reading 'push')` (but I've been trying to push the newly created auth)

What I've found so far is that running `amplify auth add` and choosing default configuration (first choice) removes the error. But running ma

[2021-12-22 12:31] ernestostifano commented on #9363
@queryluke thank you very much for taking the time to write your response. I'm sure it will help a lot. I was already thinking of downgrading Amplify CLI and/or Node.

Yes, I selected `Time-Based One-Time Password (TOTP)`. Later today I will try to downgrade Amplify CLI, setup Auth and then upgrade again if needed. I'll let you know how it goes. Worst case, I'll choose SMS as MFA method until this

[2021-12-22 13:32] AaronK97 opened #9369 "Single Dynamic group auth with V2 doesn't produce expected results"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-22 14:07] alex-vladut opened #9370 "Dynamic Groups authorization check not applied on field level in GraphQL transformer v2"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-22 15:04] danielleadams commented on #9204
Okay. Glad you've solved it - I'll go ahead and close the issue then.

[2021-12-22 15:04] #9204 closed

[2021-12-22 15:06] robvelor opened #9371 "Add support for setting notification api key in headless mode"
### Is this feature request related to a new or existing Amplify category?

notifications

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

We would like to have the ability for setting the notification api key for example FCM via the continous integration pipeline. For example, we use gitflow to get new features into develop and production br

[2021-12-22 15:46] mdarche commented on #9338
Experiencing this issue as well in the latest 7.6.5

[2021-12-22 16:38] cjihrig commented on #9362
Node's module resolution algorithm searches some global installation locations by default (it's generally discouraged to rely on global installs, but since the CLI must be installed globally, 🤷). You can find out the exact path that a module is resolved to like this:

[code]

You can also figure out which paths the resolution algorithm will look in like this:

[code]

If the modules that you need

[2021-12-22 17:08] marcvberg commented on #9357
Hello, we'll need some additional information here
1. We need some logs of the output you're seeing
2. Are you adding resources with the CLI and then attempting to pull before pushing?

[2021-12-22 19:05] marcvberg commented on #9364
Hello, do you have a package.json that references a version of the cli? I'm wondering if you've got something like "^4.22.0" where the major version must still be 4

[2021-12-22 19:41] marcvberg commented on #9365
Could you check the contents of your `custom-roles.json`?
Per these instructions here: https://docs.amplify.aws/cli/graphql/authorization-rules/#use-iam-authorization-within-the-appsync-console

I'm wondering if your role has access to AppSync but is not configured to be allowed within the resolvers

[2021-12-22 19:53] hackrx commented on #9365
hey @marcvberg, `custom-roles.json` does not exist in the `amplify/backend/api/$apiName`, it should auto-generate if I am choosing IAM as auth provider for graphql api.
can you please tell me, what should I add into role array:
[code]
so that it will allow all lambda functions to execute app sync queries?
Thanks 🙂

[2021-12-22 20:53] marcvberg commented on #9365
You won't need the full ARN, just whatever the name of the role is i.e. "Admin" in the list
We can look into detecting private IAM authorization to generate that file

Let me know if that resolves the issue for you!

[2021-12-22 21:05] marcvberg commented on #9368
To get some clarification, what steps are you taking to switch from dev to production? Are you using separate amplify environments?

[2021-12-22 21:49] iwishApp commented on #9364
Solved. Uninstall and install of cocaopods. Then
pod init
(input necessary pods into it)
pod install --repo-update

and it was fixed

[2021-12-22 21:49] #9364 closed

[2021-12-22 22:11] taylorkangbeck opened #12444 "Support for monocdk"

[2021-12-23 01:07] ernestostifano commented on #9363
### Update
- `Node@17.2.0` + `@aws-amplify/cli@7.6.5` -> ERROR
- `Node@17.2.0` + `@aws-amplify/cli@7.6.4` -> ERROR
- `Node@17.2.0` + `@aws-amplify/cli@7.5.6` -> ERROR
- `Node@16.13.1` + `@aws-amplify/cli@7.6.5` -> ERROR

[2021-12-23 01:40] ernestostifano commented on #9363
## Update

`node@17.2.0` + `@aws-amplify/cli7.6.5`

If I select `SMS Text Message` AND `Time-Based One-Time Password (TOTP)` there is no error!

[2021-12-23 03:38] pikanji commented on #4577
@hanachan1026 found out the way to solve [my problem](https://github.com/aws-amplify/amplify-cli/issues/4577#issuecomment-977692725).
Using `custom` category (introduced in v7?), we could successfully let amplify set up UserMigration trigger with our custom cloud formation template. We added `custom` category and moved our customization to auth-trigger-cloudformation-template.json to the template

[2021-12-23 04:13] lehoai commented on #9368
When i add a hosting by
`amplify add hosting`
it will generate for me a bucket id : (file: amplify/backend/hosting/S3AndCloudFront/parameters.json
{
    "bucketName": "appname-xxxxx-hostingbucket"
}

the problem is when I've deployed this once, then deploy again the bucketName in parameters.json not changed that making "Hosting bucketName already exists error".
I wonder if i have to change the buc

[2021-12-23 05:50] hackrx commented on #9365
can you please tell me clearly, where I need to grab this?

where can I get this role? in IAM? and did it was automatically created by amplify?
To be honest, I am pretty new to amplify 🙂 , can you please guide me a little?

[2021-12-23 07:02] iltumio commented on #4972
+1

[2021-12-23 09:34] hackrx commented on #9365
I fixed it:
[code]

[2021-12-23 09:34] #9365 closed

[2021-12-23 11:11] mrsimply commented on #9362
Thanks for your suggestion, @cjihrig - Unfortunately this does not work at all.

[code]

Running the code above (`node globalPath.js`) returns
[code]
Same with const `require.resolve('@aws-amplify/cli')`

Despite that, I cannot use this in TypeScript
[code]

[code]

**Question:** Are we facing a **bug** or **badly designed Plugin System** here? What would be an appropriate flag (bug, documentation

[2021-12-23 13:14] mrsimply commented on #9362
I found a workaround. The path below does the trick for me on my Mac, thanks for pointing into the right direction, @cjihrig.

[code]

Still I feel this is no good approach for a Plugin System. Any comment/suggestion for a safe approach from AWS Amplify CLI team would be nice. I will leave this issue open.

[2021-12-23 13:48] danielleadams commented on #9363
Does this workflow work with Node 14? While I understand Node 17 is an actively worked on and supported version of Node, I would recommend using @aws-amplify/cli with Node 14 or 16.

[2021-12-23 16:04] marcvberg commented on #9368
Since S3 bucket names are global, the part I'm trying to understand is if you deployed this to your development account and tried to just update your credentials then push to your production account. You'll need to follow a multi-environment workflow within Amplify, and you can find documentation on that here: https://docs.amplify.aws/cli/teams/overview/

[2021-12-23 19:51] marcvberg commented on #9369
Closing as a duplicate of #9220

[2021-12-23 19:51] #9369 closed

[2021-12-23 21:53] mgarabedian commented on #9297
Upgrading to the latest CLI and migrating Auth, all my lambda triggers configurations in Cognito are deleted upon deployment.... :(

I do see them all in cli-inputs.json

[2021-12-23 22:05] mgarabedian commented on #9297
Very worth noting, if i checkout another env and push ( without amplify update auth ), the triggers are gone again

[2021-12-23 22:41] #9285 closed

[2021-12-24 02:00] priyanhsu10 commented on #5542
Remove the createdAt and updatedAt from the queries.js it solve for me try this

                              `export const getStory = /* GraphQL */ `
  query GetStory($id: ID!) {
    getStory(id: $id) {
      id
      title
      story_type
      story_text
      filename
      createtime
      // createdAt --->remove this
      // updatedAt--->remove this
    }
  }
`;
export const listStories =

[2021-12-24 08:46] rnrnstar2 opened #9372 "There is an error when creating an api with transformer version 2."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-24 10:34] hackrx opened #9373 "How to add custom attributes in cognito from cli?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-24 12:24] Okpyard opened #9374 "can't update cloud resources because of @searchable directive. The update process does not end"
installed the latest amplify cli. By doing amplify push, the update process is stuck. The problem is @searcheble's directive. Without it, everything is updated, but the update process does not end with this directive.

[2021-12-24 13:26] chris-mds commented on #9373
Hi @hackrx,

This is possible with the new auth override function. Look at [this](https://github.com/aws-amplify/amplify-cli/issues/9051#issuecomment-977857262).

[2021-12-24 15:28] lehoai commented on #9368
what happens if that is production AWS account is my customer account (mean I don't have the right to access this acc).
When they deploy by themselves, it can be a duplicate hosting s3 bucket name with my dev AWS account. I thought the hosting bucket name is generated from Amplify app id or something randomly each time init new env. It doesn't make sense if my customer and I cant have the same env

[2021-12-24 16:45] rudyhadoux opened #9375 "Equivalent of @versioned for one object"
Hi,

I do not use DataStore and Delta Sync.

**I just want to handle concurrent writes for only one object.** But when I select CONFLICT DETECTION with Optimistic Concurrency, it is for all objects. All objects have a new _version attribute.

How to set CONFLICT DETECTION with Optimistic Concurrency, only for one object with the CLI ?

[2021-12-24 20:03] jnastaskin opened #9376 "Nested Stack Updates get Overwritten any time environment is built/deployed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-25 07:51] hackrx commented on #9373
Thanks @chris-mds, it worked!
Here is what I did:
1. `amplify override auth`
2. Edit the generated `override.ts` with this code:
[code]
3. amplify push

[2021-12-25 07:51] #9373 closed

[2021-12-25 13:54] alex-vladut opened #9377 "A field with `@default` directive is required on the generated create entity mutation input"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-25 23:38] cespin commented on #8997
@akshbhu , I just build with v7.6.5 and the Cognito triggers are still being removed. In order to fix it I had to add this code in the _override.ts_:

[code]

What I find strange is that the CloudFormation parameter _functionmyprojectauthPreSignupArn_ is available but not set.

I also have a post confirmation trigger and that one is being correctly set. No need to do anything in the _override.ts_

[2021-12-26 19:10] jfdesgagne opened #9381 "AWS Amplify CLI crash when adding new API with CRUD dynamoDB"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-27 02:45] stephen-optisol commented on #9302
@danielleadams can you suggest any workaround for this issue.

[2021-12-27 08:15] sytolk commented on #9049
@jhockett Why not simple replace `cat | jq` from documentation with script like this:
[code]

source: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-e2e-core/src/utils/headless.ts#L89

[2021-12-27 10:18] maziarzamani opened #9378 "Lambda function in GraphQL endpoint is not returning proper errorType but instead "Lambda:Unhandled""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-27 11:05] batical commented on #4853
+1

[2021-12-27 12:20] DiegoMcDipster commented on #996
A possible workaround I've come across is Override (https://docs.amplify.aws/cli/graphql/override/#customize-amplify-generated-appsync-graphql-api-resources)

So, do an:
[code]

Update the tablename in the override.ts as:

[code]

That created a table named 'tod' (without the randomly generated string attached to it). I tested the mutations and subscriptions via the console and it works great!

Un

[2021-12-27 12:21] BogdanCodreanu commented on #9165
I confirm that it's working on version 7.6.5!

[2021-12-27 15:53] Liberxue opened #9379 "cmd `amplify push `->`can not be updated`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-27 17:25] marcvberg commented on #9228
[9288](https://github.com/aws-amplify/amplify-cli/pull/9288)

[2021-12-27 17:25] #9228 closed

[2021-12-27 17:32] marcvberg commented on #8937
Closing, the issue appears to be some misconfiguration. Feel free to reopen issue if necessary

[2021-12-27 17:32] #8937 closed

[2021-12-27 17:46] kgoyal98 opened #9380 "Code not getting generated for amplify lambda layer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-27 18:02] marcvberg commented on #9133
I will close this question as answered since it's been some time, feel free to reopen if necessary

[2021-12-27 18:02] #9133 closed

[2021-12-27 18:28] ammarkarachi commented on #9379
@Liberxue Can you go into the aws console and check if the previous deployment has ended and try running `amplify push` again?

[2021-12-27 18:48] ammarkarachi commented on #9376
@jnastaskin we have released storage overrides to you can use the override function to make modifications to the storage policy after running `amplify override storage` https://docs.amplify.aws/cli/storage/override/#customize-amplify-generated-s3-resources

[2021-12-27 20:08] ammarkarachi commented on #9381
@jfdesgagne Can you let us know the exact steps for reproduction and what output it gave you?

[2021-12-27 20:09] ammarkarachi commented on #9380
@kgoyal98 What's your gql schema?

[2021-12-27 20:38] henobi opened #9382 "AUTH: Set lamba triggers via cloud formation"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-27 20:49] henobi opened #9383 "Set Amplify Auth triggers via override.ts"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-27 21:09] sundersc commented on #9338
Hi @zalanfarkas - what are the authorization modes configured for the api? This can be found in `backend-config.json` file (`api > [apiname] > output > authConfig`).

[2021-12-27 21:34] sundersc commented on #9338
I can confirm that this issue can be reproduced, we will look into this.

[2021-12-27 22:29] ammarkarachi commented on #9382
@henobi thanks for the issue I will mark it as feature request for the team

[2021-12-27 22:31] ammarkarachi commented on #9383
@henobi `postConfirmation` field requires an string type not an object type, you can directly assign it the arn of your function to the field

[2021-12-27 22:41] ammarkarachi commented on #9372
@rnrnstar2 It looks like there is a cloudformatin error from AppSync
[code]
Pasting this here for reference.

[2021-12-27 23:27] jk171505 commented on #9206
Any updates on this?

[2021-12-27 23:51] jfdesgagne opened #9384 "Error when removing api"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-28 00:13] henobi commented on #9383
Hi Ammar,
thank you for your reply.

Yes in a single stage environment this would be a perfect solution but we
are using a multi-stage environment with dev, staging and prod. So in our
case the function arn is dependent on the environment and we must inject it
in a dynamic way.

Do you have an idea how we can achieve that?
Thank you very much in advance!

Best,
Hendrik

Ammar ***@***.***> schrieb

[2021-12-28 03:22] rnrnstar2 commented on #9372
@ammarkarachi

thank you.
The attached error is displayed every time.

I am running this command "amplify push" for the first time.
Is the error an internal cloudgormation error?

Is there a problem with schema.graphql?

[2021-12-28 05:42] jfdesgagne commented on #9384
Looks like I had the sameissue as https://github.com/aws-amplify/amplify-cli/issues/8266, and the suggested solution worked for me as well.

[2021-12-28 05:42] #9384 closed

[2021-12-28 08:45] kgoyal98 commented on #9380
@ammarkarachi This is a portion of the schema:

[code]

[2021-12-28 09:04] mudassir0909 commented on #9298
running into same issue, I didn't make any changes to the api

I just did

[code]

[2021-12-28 11:22] iOrcohen commented on #1016
This solution is not working in the latest amplify version.

Since now there is only ```cli-inputs.json``` file, and the cloud formation are generating during the amplify push we can't make custom changes in the cloud-formation file.

Is there any way we can do it in amplify version after 7 ?

[2021-12-28 12:07] Liberxue commented on #9379
First, I execute `amplifier delete`

Expected to be **Deletes all of the resources tied to the project from the cloud**

After the execution is successful, execute again `amplify push`

 so there will be no **previous deployment has ended and try running**

[2021-12-28 14:10] chris-mds opened #9386 "Multi-env layers always updating without changes. Environments hardcoded makes productive working impossible"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-28 16:33] matthewthekramer opened #9387 "Correctly authorizing new many-to-many relationships with user pools"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Model relationships, user pools

**Amplify CLI Version**
7.6.4
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Cognito User Pools, AppSync, DynamoDB, Amplify

**Provide additional details e.g. cod

[2021-12-28 17:35] andrewmusselman commented on #4113
What resolution was there to this? We are encountering the same error.
![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/692523/147592191-38a88421-95ce-4882-9d72-20180b44cbda.png)

[2021-12-28 17:44] stevenbdf commented on #4113
It seems that's an error related to the speed of your internet connection. If you are uploading a large set of artifacts and your connection is slow, it will fail.

You can try to increase the `AWS_CLIENT_TIMEOUT=900000` so it gives more time to your CLI to upload everything.

Also you can try to create a Lambda Layer to store all your dependencies/packages and leave business logic/resolvers on a

[2021-12-28 17:45] stevenbdf commented on #4113
@josefaidt @ammarkarachi  Amplify maintainers, please try to push a large set of functions with a slow internet connection (3G for example) to reproduce the error.

[2021-12-28 17:46] MattJBrowning commented on #9372
Also having this issue. I've found that it happens mainly when adding multiple fields that use relationship directives. If you only add one new type, or relationship per push it usually goes through without a hitch. When trying to do everything at once, it's a gamble.

[2021-12-28 22:09] osak opened #9388 "Authenticated users cannot access `public` models"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-28 22:11] laverdet commented on #5691
The problem here is that Amplify CLI writes out an ES6 module: [aws_exports.js.ejs](https://github.com/aws-amplify/amplify-cli/blob/eb9257eaee117d0ed53ebc23aa28ecd7b7510fa1/packages/amplify-frontend-javascript/lib/aws_exports.js.ejs) but then attempts to require it as a CommonJS module: [frontend-config-creator.js](https://github.com/aws-amplify/amplify-cli/blob/6334ea3a1941222711de3923dd0aa66ab50

[2021-12-28 22:35] jnastaskin commented on #9376
Hi @ammarkarachi , thanks for getting back to me on this.  That seems like it should do the trick ,however, I'm running into an issue of how exactly to implement the override I'm trying to make in the template, which is to simply update this string in the template:
![image](https://user-images.githubusercontent.com/31951390/147610678-e5c2cf1c-ee8e-468c-80c0-9c6641df1947.png)

I see with the automa

[2021-12-28 22:40] asmajlovicmars commented on #5691
Just tested this again, and it's interesting that updating aws-exports.js at the end of push works fine on an empty src project folder, but if sveltekit is in there it still gives an error.

I thought it's the node version (v16.13.1) that was causing an issue, since I don't have a single require on this new project...

Error:

✖ There was an error initializing your environment.
require() of ES Mod

[2021-12-28 22:41] jnastaskin commented on #9376
when trying the same thing but:
`resources.s3AuthProtectedPolicy.policyDocument = JSON.stringify(policyDocument);
`
I get the same error

[2021-12-28 22:46] nealdeters opened #9389 "Failed to start API Mock endpoint TypeError: Cannot read property 'level' of null"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-29 00:47] Robbie-Cook commented on #8266
God bless, @evanlarkin10 's solution works great!

[2021-12-29 02:06] Rafcin opened #9391 "Searchable Migration Issue | ES Domain Endpoint Can Not Be Deleted"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-29 08:06] jnastaskin commented on #9376
UPDATE:

I realized the issue with my override file was i had an extra " PolicyDocument: " in the object **and** I needed to use double quotes instead of single quotes for the object to properly get converted as json.

Issue has now been resolved, the cloud formation stack is persisting through builds :)

Note: with this new override feature, there really should be some added documentation to noti

[2021-12-29 08:07] #9376 closed

[2021-12-29 08:41] lorodialog commented on #9383
Hi @ammarkarachi,
We really would appreciate your help on this.
Thx and best regards!
Jannick

[2021-12-29 08:58] samjett247 opened #9392 "@primaryKey directive on API type definition does not apply to generated queries"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-29 09:32] lizepeng opened #9393 "A Typo "filterEpression" exists in generated resolver"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-29 10:43] parvusville opened #9394 "Debugging function build options"
**Which Category is your question related to?**
function

**Amplify CLI Version**
7.5.4

**What AWS Services are you utilizing?**
Lambda functions

**Provide additional details e.g. code snippets**
I need to use esbuild to generate a bundle that nodejs can run. I have my React/ES6 code in src/lib, and I generate the handler function src/index.js with esbuild. If I do the build locally and amplify

[2021-12-29 12:39] ingwinlu opened #9395 "improvePluralization=true after v1 to v2 migration not behaving same way"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-29 12:59] ingwinlu commented on #9334
We also ran into this issue after migration and trying to build for the first time in our production environment.

To work around it checking out the affected environment and pushing via the cli seemed to work.

[2021-12-29 13:07] amcdnl commented on #4113
Its actually not just on slow connections, I have 1000 down and 50 up and with a very large project and I can see my bandwidth isn't even used 100% during the process and still times out.

[2021-12-29 16:11] davidperklin opened #9396 "GraphQL Parse Error --> Cannot parse the unexpected character "/"."

[2021-12-29 16:13] parvusville commented on #9394
This turned out to be an user error, I had the script in the functions package.json instead of the projects root package.json as instructed :)

[2021-12-29 16:13] #9394 closed

[2021-12-29 16:15] #9396 closed

[2021-12-29 16:57] samjett247 commented on #9392
@renebrandel am I doing something incorrectly here? Would appreciate any insight you can provide :)

[2021-12-29 17:58] akshbhu commented on #9395
Hi @ingwinlu

Can you share your ```cli.json``` file  present in amplify folder ?

[2021-12-29 18:01] akshbhu commented on #9393
Hi @lizepeng

I have reproduced the bug. thanks for reporting it

[2021-12-29 18:22] ingwinlu commented on #9395
[code]

[2021-12-29 18:59] akshbhu commented on #9391
Hi @Rafcin

I think there is some problem with this stack ```amplify-fox-dev-160955-apifox-Y0QXBP993EX1-CustomResourcesjson-1DOW8AX6DZG4``` . From the error it seems you have custom CFN present in the amplify folder importing value ```utlpffegzvhyfokzquwsa4rg3e:GetAtt:Elasticsearch:DomainEndpoint``` which is getting deleted.  So stack is importing a value which isn't exported.

For more info you c

[2021-12-29 19:05] Rafcin commented on #9391
I'll send it over

On Wed, Dec 29, 2021, 10:59 AM akshbhu ***@***.***> wrote:

[2021-12-29 19:09] akshbhu commented on #9395
Hi @ingwinlu

I can see ```improvePluralization``` flag is not enabled in your case.
AFAIK the New Transformer always uses improved pluralization to create list queries.If your project has this Feature Flag turned off (which is in your case)and you have a list query that is affected by the flag (such as listCactuss vs listCacti), then you will need to migrate your application code to use the new l

[2021-12-29 19:11] akshbhu commented on #9389
Hi @nealdeters

Can you share the graphql schema so that I can reproduce it  on my end ?

[2021-12-29 19:16] nealdeters commented on #9389
@akshbhu could I email you my schema? It's a couple of files.

[2021-12-29 19:20] akshbhu commented on #9389
Hi @nealdeters

You can mail us at amplify-cli@amazon.com

[2021-12-29 19:32] akshbhu commented on #9387
Hi @matthewthekramer

I think in your case only owners(authenticated users) can create, read, update, and delete their own User type.
You can check for fine grained auth rules here which covers your usecase: https://docs.amplify.aws/cli/graphql/authorization-rules/

[2021-12-29 19:45] akshbhu commented on #9388
Hi @osak

Thank you for reporting this. I have reproduced it.
Same also fails in mock mode also

[2021-12-29 20:00] akshbhu commented on #9296
Hi @rahulsrivastava1

Its difficult to tell the root cause with this info.
Can you update this with  issue template?

[2021-12-29 20:07] nealdeters commented on #9389
Thanks, I've emailed the schema.

[2021-12-29 20:13] Rafcin commented on #9391
@akshbhu I sent it over to amplify-cli. My CustomResources.json only has auth and unauth policies setup for the resolvers + a policy for lambda to use ES. It looks like this:

[code]
Removing the lambda role that uses ES causes no change when I attempt to push the changes.

[2021-12-29 20:23] Rafcin commented on #9391
If I remove the auth and unath roles & the lambda, it will throw the domain endpoint error and in addition it will fail to build some normal resolvers.
[code]
[code]

[2021-12-29 21:06] flgatormike opened #9397 "There are no DynamoDB resources configured in your project currently"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-30 00:03] PeteDuncanson opened #9398 "Migrating to Transformer v2 fails (logs show "Throttling: Rate exceeded")"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-30 00:06] samjett247 commented on #9392
With graphql transformer V1, when appsync generates a "get" graphql query on a type, it looks like the following (assuming the field name was `primarykeyfield`):

[code]

Three things to notice: (i) It is using a "getitem" operation on the table, (ii) It sets the modelObjectKey at the beginning of the resolver, (iii) If modelObjectKey is not defined, it will default to using the `id` field.

Using

[2021-12-30 01:11] samjett247 commented on #9392
Looks like there is a preAuth step where the modelObjectKey is *supposed* to be inserted into the resolver pipeline. However, it was/is not getting inserted. I think it was my addition of a custom resolver for the `init` phase that made this preAuth resolver get generated. See preAuth resolver below - this was the missing piece:

[code]

[2021-12-30 01:25] samjett247 commented on #9392
Confirmed that, unless you specify the names for each query to be implemented, the queries will be generated with an "id" to identify them with instead of the specified @primaryKey field. in the example above, if you specify below in the schema.graphql, you will get an incorrect `get` query that tries to use `id` to query the item:

[code]

Instead, if you use the following, you will get the corre

[2021-12-30 03:12] nomadev21 commented on #7883
On ubuntu 20.04, running sudo apt remove cmdtest fixed it!

[2021-12-30 09:04] pnedelko commented on #8868
I would like to switch from lambda to containers and seems like I'm immediately blocked by this issue and have to look for workarounds :(. Looks like this bug should have high priority.

[2021-12-30 09:26] ingwinlu commented on #9395
I had the impression that improvePluralization was per default true not false.
When I read `If your project has this Feature Flag turned off` I assume you had to manually turn it off. If it would be phrased `If you never enabled this feature flag` I would have assumed the other way round.
When I read that part I also tried to verify the default (because it is not as clearly stated as I wanted), bu

[2021-12-30 15:24] gearoidgit commented on #9297
As  @reedshea does, I get the same error when using the new version of the AWS Cognito Console.  When I use the current (not the new) version of the AWS Cognito Console I can successfully add the trigger.

[2021-12-30 16:36] palpatim opened #9400 "ACM successfully runs with invalid configuration"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-31 17:30] tmirun commented on #5566
Same Issue Here

[2021-12-31 23:42] ceschumann commented on #9388
I've been dealing with a similar issue running multiple projects with the same version of Amplify CLI.  The query error returns "Not Authorized to access listBlogs on type Query".  I have been unsuccessful running queries or mutations once I change the authorization in the schema to anything accept "allow: public".   However the same queries and mutations can be made from the AWS AppSync Console.

[2022-01-01 01:50] ataibarkai opened #9401 "`@hasOne` field causes push operations to fail, when the referenced type has a`@primaryKey` containing 2 (or more) sort key fields."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-01 17:19] pencilshinchan opened #9402 "@primaryKey transformer does not override id field in appsync"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-01 22:40] eettaa opened #9403 "Single-step data connections impossible with auto id issuing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-01 22:49] eettaa commented on #8970
Following up: through more testing I have discovered that these mocked JWT's aren't actually sufficient even for auth to play nicely with the mocked API (accessed via GraphIQL, which would be a prerequisite for taking the time to solve plumbing them to a frontend.  One example limitation of the mock JWT is that if the owner field is not expressly provided to an @auth(owner) -protected data type in

[2022-01-02 15:51] eettaa opened #9404 "Are tokens/claims sent from Amplify API -> Lambda validated first?"
Questions:
---
1) Are the JWT's/claims passed from an Amplify GraphQL API to an Amplify-configured lambda with the @function directive validated before the lambda is run?
2) Is there a way to scope auth access to lambda resolvers?  What is the default access level (it seems to be 'private')?
3) Is this clarified in the Amplify docs somewhere?

Notes
--
- With a schema like `type Query { me: String

[2022-01-02 17:11] kevcam4891 commented on #8347
Regardless of how frequent one might be expected to interface with this file, I've got to agree: it is incredibly difficult to read. It is almost frustrating to read, without trying to sound too dramatic.

[2022-01-02 17:43] PeterMitrano commented on #8266
I'm having the same problem, and although @evanlarkin10's solution works, I have to re-do it every time I switch amplify environments. So I run it, the publish, and can iterate fine... but then when I checkout prod I have to re-do it, and then when I switch back to dev I have to redo it, etc... Is there a real solution? what's actually going wrong here?

[2022-01-02 19:01] PeterMitrano commented on #2935
+1 for this fix

[2022-01-02 19:48] SteeveGL opened #9405 "How to use snippet "secrets from SSM"?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

7.6.5

**What AWS Services are you utilizing?**

Lambda

**Provide additional details e.g. code snippets**

I added a secret to my javascript function lambda. The

[2022-01-02 21:07] Tedsterh opened #9406 "Trouble with Graphql Auth and Lambda"
**Which Category is your question related to?**
GraphQL API and AWS Lambda

**Amplify CLI Version**
7.6.5

**What AWS Services are you utilizing?**
GraphQL API, AWS Lambda, Cognito Pools, IAM users

**Provide additional details e.g. code snippets**
I am having trouble with auth on models when using Cognito pools and AWS Lambda, when I set the auth to allow all private I can access from my cloud fu

[2022-01-03 01:49] khusmann opened #9407 "Typescript transformer issue: @belongsto doesn't generate parent ID field"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-03 07:57] rosmu commented on #9334
Resolved it by setting the feature flag in the `amplify/cli.json` under `graphqltransformer`
[code]

[2022-01-03 10:11] saltonmassally commented on #9297
I am experiencing a similar problem; postConfirmation triggers are not being attached

[2022-01-03 10:11] Diverious commented on #9151
I get this error all of the time.  I keep having to recreate a completely new app.  Is there anyway to fix this?

[2022-01-03 14:54] marcvberg commented on #9206
Sorry about the delay, I believe something is wrong with one or multiple of your resolvers, not necessarily wrong with the state of amplify. I'm going to look at it some more today but I'll be looking at it from a different angle

[2022-01-03 15:24] julienlaurent-migso opened #9408 "GraphQl Auth directive not working correctly with imported auth (cognito user pool)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-03 15:26] Dennis-Dekker commented on #9401
Have the same issue, but with the @manyToMany directive. CLI does allow to change the primary key, but not to add sort keys.

[2022-01-03 16:23] josefaidt commented on #9300
Closing due to inactivity. @markus-sell if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-01-03 16:23] #9300 closed

[2022-01-03 17:18] josefaidt commented on #9363
Hey @ernestostifano and @queryluke thanks for providing those details! Using Node 16 and the latest version of the Amplify CLI I was able to successfully reproduce by selecting either TOTP or SMS when configuring MFA for an auth resource, but as you have also noticed if we select both options we do not experience the issue. The issue also occurs when updating an existing auth resource

[code]

One

[2022-01-03 17:39] josefaidt commented on #8608
Hey @sophieyuge are you still experiencing this issue?

[2022-01-03 18:13] cjihrig commented on #9402
Thanks for reporting this. I can reproduce the issue and am working on a fix. Until then, please try changing the model name from `prodord` to `Prodord`.

[2022-01-03 18:27] Straubulous commented on #9395
Docs need updating to describe ImprovedPluralization& that it is always true (regardless of setting in cli.json with GQL V2

[2022-01-03 18:50] cjihrig commented on #9392
Thanks for reporting this. I believe the issue should be fixed by https://github.com/aws-amplify/amplify-cli/pull/9409. Until that is released, you should be able to work around the issue by renaming your model from `testtype` to `Testtype`.

[2022-01-03 18:55] Straubulous commented on #9381
@jfdesgagne  Please respond - with repo steps

[2022-01-03 19:05] PeteDuncanson opened #9410 "DX: Inconsistent casing of "ID" in generated graphql queries"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-03 19:28] cjihrig commented on #9410
@Straubulous can you please transfer this to the codegen repo. I believe any fix would need to happen there.

[2022-01-03 20:01] cjihrig commented on #9350
Just a note for the team. This issue is related to `@key`, but I was unable to reproduce this using GQL v2 and the following schema:

[code]

[2022-01-03 20:14] DylanBruzenak commented on #6432
This is still occurring in 2022.

[2022-01-03 20:26] ammarkarachi commented on #9397
@flgatormike Did you answer 'yes'  `Do you plan on modifying this backend?`?

[2022-01-03 20:35] jfdesgagne commented on #9381
I believe it crashed because I selected twice "CRUD function for DynamoDB" while there were no dynamodb setup (other than the one setup from the graphql). You can see the repro steps in the Log output.

[2022-01-03 20:38] josefaidt commented on #9386
Hey @chris-mds :wave: thanks for raising this! I have been able to reproduce this behavior, where checking out an Amplify environment will produce updates to the layer's CloudFormation template and updates the layer's `parameters.json` file as well, however I am not able to reproduce the `Update` status in the attached functions. To clarify, when attaching a function to the layer are you selecting

[2022-01-03 20:47] josefaidt commented on #9405
Hey @SteeveGL :wave: can you try moving the secrets snippet inside your handler function?

[code]

By uncommenting the provided example it will try to use [top-level await](https://github.com/tc39/proposal-top-level-await), which unfortunately is not supported in CommonJS and is the cause of the error you're experiencing.

[2022-01-03 21:04] edwardfoyle commented on #9403
@eettaa you are correct that when using autogenerated IDs it is not possible to create and link two entities in the same mutation operation. To do that you would have to generate the IDs in the frontend code and create the entities with the ID of the linked entity. Using a UUID library should make this relatively straightforward.

[2022-01-03 21:13] ammarkarachi commented on #9383
It looks like we don't expose the env info anywhere I will mark this as a feature request to be worked on by the team.

[2022-01-03 21:14] ammarkarachi commented on #9380
@kgoyal98 Can you update your amplify version to the latest and try again?

[2022-01-03 21:18] ammarkarachi commented on #9379
Are you running `amplify push` in a deleted project?

[2022-01-03 21:47] samputer opened #9413 "amplify-meta.json regularly corrupting and push failing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-03 22:06] lazpavel commented on #9377
This should be fixed by this PR: https://github.com/aws-amplify/amplify-codegen/pull/307

[2022-01-03 22:24] cliren opened #9414 "Append custom resolvers to auto generated DDB resolvers"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

No

### Describe the feature you'd like to request

GIVEN Todo model, amplify auto generates `createTodo` mutation attached to DynamoDB resolver. Allow side effects on autogenerated mutations to perform custom operations. Example: Send an email (lambda function) after `cre

[2022-01-03 23:06] rwdueck commented on #9402
Just capitalizing the model name and pushing to the cloud resulted in a few failures with the resolvers. I ended up removing the graphql API and pushing it up again with the model name capitalized.

Tested queries and mutations in Appsync. Everything seems to be working as expected. Thanks.

[2022-01-04 01:00] Straubulous commented on #9374
@Okpyard - we may need more information to answer your question (logs an repro steps). You can email to amplify-cli@amazon.com.

Also, have you reviewed / tried the steps in the trouble shooting section? https://docs.amplify.aws/cli/graphql/troubleshooting/

[2022-01-04 01:36] mattfysh commented on #8868
Yeah it really is unfortunate, this issue is very serious and has been opened for nearly 2 months with no acknowledgement from the Amplify team, so I'll be leaving AWS as soon as my credits expire.

[2022-01-04 02:08] sundersc commented on #9378
Hi @maziarzamani - This is by AppSync design. You can read more about this [here](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-lambda-resolvers.html).

However the behavior you are expecting can be achieved by overriding the response resolver.
https://docs.amplify.aws/cli/graphql/custom-business-logic/#override-amplify-generated-resolvers

Below is an example.

**Schema:**
[code]

[2022-01-04 09:04] goldwareJapan opened #9416 "'amplify pull' does not pull down aws-exports.js file"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-04 09:52] maziarzamani commented on #9378
@sundersc, so here is the golden question, I have multiple resolvers for this lambda function in the build folder:

**Query.testQuery.res.vtl**
`
$util.toJson($ctx.prev.result)
`

**InvokeTestQueryLambdaDataSource.res.vtl**
[code]

I tried to update the **InvokeTestQueryLambdaDataSource.res.vtl** with your sample code:
[code]

However AppSync is returning this now

[code]

[2022-01-04 10:20] maziarzamani commented on #9378
I added your Custom resolver to `Mutation.testQuery.res.vtl` and it did the trick a long with the lambda sample code!! Cheers.

[2022-01-04 10:20] #9378 closed

[2022-01-04 10:39] krikork commented on #9416
Hard to tell but this might be related to an issue I started seeing 12 hours ago. We have an automated amplify build triggered on every code change. With the last build we started seeing the following error on the front end:

`Error: Region is missing`

The error seems to happen when we make any requests to s3.

Comparing the latest build to an older one I can see that the amplify-meta.js file is

[2022-01-04 11:04] Liberxue commented on #9379
Yes
1.amplifier delete after I clean it up
2.Again init ...》 configure ...》 push

[2022-01-04 14:55] josefaidt commented on #9270
Hey @julienlaurent-migso apologies for the delay! I'm glad to hear you are unblocked, but to the issue around the direct path can you confirm there is an active route in the Express application with the route without a trailing slash? And also whether the Cognito Authorizer is applied to the direct route vs the proxy route?
![image](https://user-images.githubusercontent.com/5033303/148077809-f5b3d

[2022-01-04 15:09] samputer commented on #9413
This is possibly related to https://github.com/aws-amplify/amplify-cli/issues/8837 as I am experiencing similar symptoms

[2022-01-04 15:28] vishalrajole commented on #32
Any update when this will be supported? Thanks

[2022-01-04 15:37] lazpavel commented on #9389
Hi @nealdeters, can you resend the schema, it looks that there is no attachment to the previous email. Thank you!

[2022-01-04 15:54] nealdeters commented on #9389
Hi @lazpavel, sorry about that. I've sent the attachment.

[2022-01-04 16:01] #9389 closed

[2022-01-04 16:27] cjihrig commented on #9414
Please take a look at https://docs.amplify.aws/cli/graphql/custom-business-logic/. Amplify supports a few ways of extending, overriding, or otherwise customizing resolvers.

[2022-01-04 16:28] josefaidt commented on #8317
Hey @Buder just wanted to follow-up on my previous comment to see if you were able to successfully update the API key and verify the information in the `amplify-meta.json` file?

[2022-01-04 16:37] lazpavel commented on #9375
Hi @rudyhadoux, in the V2 transformer there is no equivalent directive for @versioned, DataStore is the way we provide conflict detection. Today different options for conflict detection resolution strategy can be selected for each individual object but the conflict detection feature is at the API level. Every @model will have it if enabled.

[2022-01-04 16:39] rudyhadoux commented on #9375
With @versioned it was PER OBJECT. And it was very simple ans useful.
Why delete it ???

[2022-01-04 17:01] josefaidt commented on #9173
Hey @morgnism have you continuously experienced this issue when attempting to push to a new environment? Despite being able to reproduce initially in `us-east-1` I have not been able to reproduce again, and am curious if this was related to the recent outage.

[2022-01-04 17:02] josefaidt commented on #8585
Hey @VicFrolov just wanted to follow-up on this issue and see if you were able to use the `aws-amplify` package to call the API?

[2022-01-04 17:33] julienlaurent-migso commented on #9408
Hello,
I found a working solution for me.

1. I have updated my @auth rules like :
[code]
2. Delete all .vtl files in the resolvers api folder
3. Delete all .vtl files in the build/resolvers api folder
4. Amplify mock || push

I think in certain circumstance that i do not know the graphql transformer v2 is not editing correctly the vtl files...

If you have some advices related to this issue ? Tha

[2022-01-04 17:38] akshbhu commented on #9382
Hi @henobi

You can to turn off this flag ```breakcirculardependency``` to false to achieve cognito triggers creation through CFN.

This flag is introduced to break circular dependency between API , Auth , Cognito triggers.

You can check ore here : https://docs.amplify.aws/cli/reference/feature-flags/#breakCircularDependency

[2022-01-04 18:20] josefaidt commented on #9416
Hey @goldwareJapan :wave: thanks for raising this! In your iOS app did you originally select to _not_ modify the backend?

[code]

If so, we will need to run the full `amplify pull` command with the `appId` and `envName` as shown in the sample above to update the exports file.

[2022-01-04 18:27] attilah commented on #8938
Closing as no repro, if the issue happens please open a new issue.

[2022-01-04 18:27] #8938 closed

[2022-01-04 18:33] #9102 closed

[2022-01-04 18:34] #9243 closed

[2022-01-04 18:35] #8993 closed

[2022-01-04 18:41] lazpavel commented on #9313
Hi @jsgphd, when you updated from using just 1 social provider to 3, did you updated through the amplify command, `amplify update auth` or did you updated the user pool in the console and followed with `amplify pull` ?

[2022-01-04 18:41] ammarkarachi commented on #9379
@Liberxue Can you share you auth configuration with us? It looks like there is a validation error in your auth template

[2022-01-04 18:50] cliren commented on #9414
I reviewed existing ways to extending unfortunately none of them address the problem I described. I will try to restate the problem in simple terms:

**Requirement:** Insert a record into **Todo** DDB table and send an email after insertion is complete. Should take advantage of Amplify's code generation, below

#### Manual Steps:

Modify auto-generated `createTodo` DDB pipeline resolver using AppS

[2022-01-04 18:50] jsgphd commented on #9313
I think it was on the console and then I did a pull...  Then I tried adding
it locally and pushing...  to try to get it to work.   Any idea how to fix
this (a work around) on my side to get it to work now?

On Tue, Jan 4, 2022 at 1:41 PM Pavel Lazar ***@***.***> wrote:

[2022-01-04 19:03] lazpavel commented on #9313
While I'm looking into it. Can you try to do a `amplify remove auth && amplify push` followed by an `amplify add auth` and add all 3 social providers and then `amplify push`?

[2022-01-04 19:08] ammarkarachi commented on #9019
@rollcabbage What are dependencies of your lambda? I have been trying to reproduce it but was unable to do so.

[2022-01-04 19:11] ammarkarachi commented on #8962
Closing this for inactivity, reopen if any additional assistance is needed

[2022-01-04 19:11] #8962 closed

[2022-01-04 19:20] henobi commented on #9382
Hi @akshbhu

Looks exactly what we were looking for.  Thank you very much. We will try it out.

In the documentation it says the flag is deprecated.
So what will be the default in the future? Triggers via Custom Lambdas or CFN?

Best regards
Hendrik

[2022-01-04 19:22] akshbhu commented on #9382
Nice to know that it solves your problem. For the procedure, you have to update auth with FF as false to make CFN changes.

Currently we dont have any plan to deprecate this flag since this flag solves a case of circular dependency on API , auth and cognito triggers.

Closing this request as already implemented.

[2022-01-04 19:22] #9382 closed

[2022-01-04 19:42] ammarkarachi commented on #4971
@KevyVo we have released override for API and you can use the `override.ts` file generated after running `amplify override api` so that the your changes are preserved

[code]

[2022-01-04 19:42] #4971 closed

[2022-01-04 19:58] akshbhu commented on #9391
Hi @Rafcin

I have a following question:

- Can you  try ```amplify api gql-compile``` , Is it generating a Seachable Stack  with export value for ES Domain?
- I think you have added this lambda roles manually , Can you try removing the below lambda Role and try push again?

Above Solution wont work for lambda roles for this condition :
[code]

Here import value is trying to get attributes on Elas

[2022-01-04 20:01] lazpavel commented on #9313
Manual changes in the console on a user pool followed by `amplify pull` is not supported. I am unable to reproduce the issue by adding/updating the user pool using `amplify add auth/amplify update auth` followed by `amplify pull`. If you still need to use the original user pool and cannot create a new one, you should be able to do `amplify remove auth` followed by `amplify auth import`.

Please le

[2022-01-04 20:03] ammarkarachi commented on #8935
Closing this due to inactivity, please reopen if you have anymore questions

[2022-01-04 20:03] #8935 closed

[2022-01-04 20:06] Rafcin commented on #9391
@akshbhu This could be, I don't remember if I manually set the permissions. I'm on my way home, I'll try it the moment I get back and let you know!

[2022-01-04 20:21] LeoReubelt opened #9417 "Is it possible to use a circular reference in a model?"
I am trying to create a circular reference in a schema.
I tried to follow the instructions on https://docs.amplify.aws/cli-legacy/graphql-transformer/connection/#has-one.
But when I try to push, I get the following...

An error occurred during the push operation: Schema validation failed.
Directive "connection" may not be used on OBJECT.

**Which Category is your question related to?**
??

**Ampli

[2022-01-04 20:21] edwardfoyle commented on #9408
@julienlaurent-migso when you say you tried to "update TlgDataTemplate as normal user", was that user listed in the `owner` or `itemEditor` fields? If not, it would not have permission to edit the entity. In your updated schema, it shouldn't be necessary to specify `provider: userPools` as that is the default.

`amplify mock` will place resolver files in the `resolvers` directory but they will be

[2022-01-04 21:06] akshbhu commented on #9245
AFAIK , transformer V2 is an opt-in feature, so for each env , you specifically have to do an ```amplify migrate api```  for each env to migrate to use new transformer functionality.

CI wont apply migration automatically , since its an opt-in feature for existing projects.

[2022-01-04 21:29] attilah commented on #9363
The side effect you are seeing is fixed in #9214 that will be in the next release. The root case for the `serviceType` related failure is that UserPool Groups resource is already added to the `backend-config.json` and `amplify-meta.json` and it references the non-existent `auth` Cognito resource.

I'm creating a fix to not to fail in this specific scenario, but on the meantime you can unblock your

[2022-01-04 21:40] akshbhu commented on #8917
Hi @suguru03

You can remove the FF from cli.json to use the older versions of amplify-cli. This flag is introduced as we can changed some internal changes to support new functionalities like overrides.
Your issue seems different from posted above. Can you create a new issue here so that we can track : https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.y

[2022-01-04 22:09] lazpavel commented on #9407
Hi @khusmann, thank you for raising this issue.

Reading the reproduction steps I'm a bit confused, scenario 1 on step 1 I see Blog and Post models, but in step 3 only the Comment class is provided. The blogPostsId is generated by the `hasMany` relationship as lookup id when one is not defined, that is why you can see it in scenario 2. In scenario 3 the hasMany is configured to use the field refer

[2022-01-04 22:10] hisham opened #9419 "Adding a required "simple" data type return type on a graphql query makes codegen produce invalid typescript code"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-04 22:16] Rafcin commented on #9391
@akshbhu A few days ago I removed the lambda role and I was able to push fine and then pushg again with a migrated schema (minus the custom resolvers), and now I've added the resolvers using CDK, and the only errors it throws are creation errors for the 3 resolvers:

[code]

[2022-01-04 22:32] rbrezu opened #9420 "Amplify generated VTL errors out on update on lax @auth directive on fields"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-04 22:41] lazpavel commented on #9236
@johnf you should be able to avoid the generation of the extra field by adding the fields attribute to the hasMany directive as in
[code]

Please let us know if this solved it for you

[2022-01-04 22:56] akshbhu commented on #9391
@Rafcin

This error means the ```apifoxGraphQLAPIIdOutput``` is not found or passed wrong to the template.
I check you cdk file and saw this:
[code]

[code]

[2022-01-04 23:06] akshbhu commented on #9391
Closing as a duplicate of : https://github.com/aws-amplify/amplify-cli/issues/9291.
You can follow updates on above thread.

[2022-01-04 23:06] #9391 closed

[2022-01-04 23:16] akshbhu commented on #5770
Hi @sw-yx

Can you try with our latest version. should be fixed
if this still presists , comment on this and ill open it again

[2022-01-04 23:16] #5770 closed

[2022-01-04 23:18] akshbhu commented on #4568
Hi All

Trigger permissions issue is tracked here:https://github.com/aws-amplify/amplify-cli/issues/7582

[2022-01-04 23:18] #4568 closed

[2022-01-04 23:21] akshbhu commented on #8266
Closing as duplicate of : https://github.com/aws-amplify/amplify-cli/issues/9183

[2022-01-04 23:21] #8266 closed

[2022-01-04 23:25] akshbhu commented on #7504
Hi @totuslink

Are you still stuck on this issue?

[2022-01-05 00:46] goldwareJapan commented on #9416
Yes. We did select not

Tried with full argument. still same result. `aws-exports.js` file not being created.

[code]

Is it because I selected
Source Directory Path:   apps/back/src

[2022-01-05 00:57] goldwareJapan commented on #9416
tried with `src`. still same.

[2022-01-05 01:05] edwardfoyle commented on #9372
Hi @rnrnstar2 and @MattJBrowning I've confirmed that this is a service issue that occurs when attaching many resolver functions to a single data source. One potential workaround that we can investigate is adding a `DependsOn` block to each resolver function to force them to be created in serial. I've also filed a ticket with the service team to see if this can be fixed in the service as well.

Unf

[2022-01-05 01:05] goldwareJapan commented on #9416
as experiment I created new folder and tried pulling as javascript with no frame work.
[code]

and tried deleting `aws-exports.js` and pulled with full command. it is not creating file again.
https://github.com/aws-amplify/amplify-cli/issues/9416#issuecomment-1005286276

[2022-01-05 01:06] goldwareJapan commented on #9416
on a main react project with `Do you plan on modifying this backend? Yes`

 tried deleting aws-exports.js and amplify pull. It creates `aws-exports.js` file again.

[2022-01-05 02:41] Rafcin commented on #9391
@akshbhu It worked! The only other modification that has to be done is `dataSourceName: 'OpenSearchDataSource'` because it renamed the datasource.

[2022-01-05 03:21] goldwareJapan commented on #9416
OK. Now I have a more serious problem.

When I checkout to another env and push. it created 2 Cognito pools. but `aws-exports.js` file does not change.

I have no idea where to get newly created env's `cognito_user_pool_id`. ( I can copy it from Cognito admin console. Don't want it to be hardcoded. I want it to be changed with amplify commands )

Because I want my production users to be on 1 user

[2022-01-05 03:32] goldwareJapan opened #9423 "My new enviroinment treated as new app"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

**Amplify CLI Version**
7.6.5

**What AWS Services are you utilizing?**
amplify

**Provide additional details e.g. code snippets**

When I `amplify env add` and `amplify push`
[this](https://docs.aws.amazon.com/amplify/latest/userguide/team-workflows-with-amplif

[2022-01-05 03:45] MattJBrowning commented on #9372
@edwardfoyle Thanks for confirming the bug! Glad there is a workaround, even if it's not the most optimal.

[2022-01-05 07:07] sayed-mohidin opened #9893 "`HostedUIProvidersCustomResourceInputs` issue after updating CLI and migrating auth resource"
I am facing issues while pushing schema changes using amplify cli. I want to make few changes to the api and whenever I try to push I get the following errors.

`UPDATE_FAILED      HostedUIProvidersCustomResourceInputs Custom::LambdaCallout Wed Jan 05 2022 09:48:19 GMT+0300 (Arabian Standard Time) Received response status [FAILED] from custom resource. Message returned: See the details in CloudWat

[2022-01-05 07:09] prabha-912 commented on #8917
yes It was worked with previous version before. Latest version also supported now. I hope others too got the idea / solution here.

Thanks for the discussion :)

[2022-01-05 07:09] #8917 closed

[2022-01-05 08:59] Rafcin commented on #9388
The same issue, I started the migration and the IAM auth type is unable to use any queries. In addition, the searchable functions created by attaching @searchable have ceased to work.

[2022-01-05 09:09] Rafcin opened #9424 "@Searchable generated resolver are unable to return data & IAM is unauthorized for all queries."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-05 09:17] Rafcin commented on #9424
The searchable issue it seems is caused by running _reindex and changing the template structure. In my project one of my fields named `location` takes `lat, lng` normally, but for the search queries to work it have to map it as `geo_point`.

Using reindex and having 2 sources works, however after reindex is used the searchable query fails I assume because the mapping is different. Is there any way

[2022-01-05 09:22] Rafcin commented on #9424
https://docs.amplify.aws/cli-legacy/graphql-transformer/resolvers/#add-a-custom-geolocation-search-resolver-that-targets-an-opensearch-domain-created-by-searchable
**Side Note**
If they legacy docs are still to be trusted, if you are using OpenSearch and follow the geo_point example. The res.vtl total has changed its path to `$ctx.result.hits.total.value` instead of `$ctx.result.hits.total`

**Ori

[2022-01-05 09:28] matt-d-webb opened #9425 "Parameters: [thirdPartyAuth] must have values ."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-05 10:15] jayantwalvekar opened #9427 "Help with designing headless payloads"
**Page**: [`/cli/usage/headless`](https://docs.amplify.aws/cli/usage/headless/#example-amplify-add-api-headless-configuration)

**Feedback**:

It is very difficult to assemble JSON payload for all headless commands for all user options. It would be of a great help to have a command line option to generate a payload. Commands will walkthrough all the user options and only emit the final configurati

[2022-01-05 10:47] Buder commented on #8317
No net yet, has been a very stressful holliday with lots of work...

/J

On Tue, Jan 4, 2022 at 5:28 PM josef ***@***.***> wrote:

--
-------------------------------------------------
Jörgen Buder
Solution Architect
Purple Scout AB
Stortorget 29
211 34 Malmö

An Appcelerator Premium Partner, Training partner and Certified Instructor.

mobile: + 46 708 737879
www.purplescout.se

[2022-01-05 11:14] matt-d-webb commented on #9425
Non-Issue for CLI - this seems now to be working.

[2022-01-05 11:14] #9425 closed

[2022-01-05 12:34] renebrandel commented on #9240
hi @dbeck121 - thank you so much for filing this issue. We're looking into bringing this feature into GraphQL Transformer v2 though we'll unlikely carry over the DX of a separate "ModelQuery" type as in the past. What are your thoughts on collapsing the feature into the ModelOperation type. Example:

[code]

If a customer has both `read` and at least one of `get` or `list` specified, then `read` t

[2022-01-05 14:00] rollcabbage commented on #9019
Paste as below. @ammarkarachi

[code]

[2022-01-05 14:28] PPilestedt opened #9426 "Unable to remove Notification resource in Amplify"
Hi!

I need help removing a deleted Notification resource that is still existing in my project. I believe it started because we removed the pinpoint project from the GUI...

I have tried deleting notifications through the CLI but this is the response i got:

? Choose what to remove.: FCM
?api key: xxxxx
× update channel error
Resource not found

tried the same thing but instead of removing FCM i c

[2022-01-05 15:27] josefaidt commented on #9416
Hey @goldwareJapan thank you for those details!  I was able to successfully reproduce two issues:

- `cognito_user_pool_id` value is not updated in `aws-exports.js` when pulling environments in a project where we selected to _not_ modify the backend
- `cognito_user_pool_id` value is not updated in `aws-exports.js` after pushing a new environment, requiring us to run `amplify env checkout <newly-cr

[2022-01-05 15:34] skorobahatko commented on #9200
Have the same issue after changing schema to v2, amplify push isn't working

[2022-01-05 16:11] chris-mds commented on #9386
Hi @josefaidt,

Thank you for your answer. Yes I am always selecting latest layer version.
Is it supposed to be updated every time? In my opinion the environment should be declared as a variable like in every other category to prevent having changes in git.
I also found the issue for the update status: This is due to the CI/CD pipeline from hosting.
When creating / updating a function on my local

[2022-01-05 16:16] #9363 closed

[2022-01-05 16:16] #9393 closed

[2022-01-05 16:17] #7499 closed

[2022-01-05 16:17] #9392 closed

[2022-01-05 16:17] #9402 closed

[2022-01-05 16:17] #9338 closed

[2022-01-05 16:21] #8895 closed

[2022-01-05 16:21] #9220 closed

[2022-01-05 16:22] #9253 closed

[2022-01-05 16:22] #9136 closed

[2022-01-05 16:24] #8111 closed

[2022-01-05 16:24] #9061 closed

[2022-01-05 16:25] #9070 closed

[2022-01-05 16:25] #9160 closed

[2022-01-05 16:26] #9151 closed

[2022-01-05 16:28] #8616 closed

[2022-01-05 16:36] SteeveGL commented on #9405
Thanks @josefaidt for your reply. I'm using `Serverless ExpressJS function (Integration with API Gateway)`

I tried to add `async` to `exports.handler` without success:

**index.js**
[code]

**app.js**
[code]

[2022-01-05 16:40] LeoReubelt opened #9428 "id field is not of type string for model with circular reference"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-05 17:01] johnpc opened #9431 "Add error messaging when attempting to add >33 models"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

AppSync

### Describe the feature you'd like to request

Currently, there is an AppSync limitation where there is a hard cap of 100 subscriptions. Each model creates 3 subscriptions. This means apps created using amplify cli can have a maximum of 33 models. Given that this is a

[2022-01-05 17:14] josefaidt commented on #9386
Hey @chris-mds thank you for that clarification! Ideally the layer version would not be updated when checking out an existing environment given no changes were made to the layer. For the npm issue, I would recommend updating npm as a part of your buildspec (`amplify.yml`) to match the npm version used locally. This can be accomplished by adding an additional step to the backend build phase

[code]

[2022-01-05 17:19] chris-mds commented on #9386
Hi @josefaidt ,
Thank you for your fast reply! I will test your suggestion on a new test environment and will give feedback soon.

[2022-01-05 17:23] cjihrig commented on #9413
Thanks, we've received them. From looking at the files you sent, it looks like the corrupted version never finished writing to disk (it's a truncated version of the uncorrupted file). Since you mentioned that this works sometimes, my first guess is that the file is being written asynchronously somewhere in the code, but the calling code is not properly waiting for the write to finish, and we have

[2022-01-05 17:29] cjihrig commented on #9414
It sounds like you want to extend an Amplify-generated resolver. That sounds like the use case covered [here](https://docs.amplify.aws/cli/graphql/custom-business-logic/#extend-amplify-generated-resolvers). Could you invoke your Lambda from a `postDataLoad` slot?

[2022-01-05 17:30] samputer commented on #9413
Thanks @cjihrig. One thing to mention is that the files are sometimes full of null bytes from the top instead of from the bottom. I have also seen unrecognised characters in this file rather than simply nulls, but I don't have an example of those to hand.

It got to the state where almost no pushes were working, so I took the quite extreme step today of formatting this macbook.

The first push sin

[2022-01-05 17:37] marcvberg commented on #9206
I used the resolvers you sent in to try and reproduce the issue but still was not able to recreate this error, at this point we haven't been able to reproduce it so we will close this issue if there's no additional information we can use

[2022-01-05 17:45] josefaidt commented on #9405
Hey @SteeveGL we'll also want to add the SSM snippet in the handler code in `index.js`:

[code]

Then after we push the latest changes and call the API route we should see the parameters logged to the Lambda's CloudWatch logs

![image](https://user-images.githubusercontent.com/5033303/148264096-4cc93f3e-d591-4cc5-a54c-38101fa8fcf0.png)

[2022-01-05 17:58] sundersc commented on #9200
@frankclaassen @skorobahatko - Could you share the graphql schema?

[2022-01-05 19:10] josefaidt commented on #9298
Hey @kevcle and @mudassir0909 :wave: can you verify which version of the CLI was used prior to the migration? Also, can you verify whether the `amplify/backend/api/<api-name>/parameters.json` file includes the `AuthCognitoUserPoolId` key?

[code]

Unfortunately I was unable to reproduce this issue by using the following steps:

1. install Amplify CLI 5.6.0
2. create a project, add a GraphQL API wi

[2022-01-05 20:00] SteeveGL commented on #9405
@josefaidt you clearly make me moving forward. thanks.

The `Parameters` is require inside the `app.js`. I succeed but I'm not sure if it's the best way.

Here is what I get done:
[code]

[code]

[2022-01-05 20:00] #9405 closed

[2022-01-05 20:11] josefaidt commented on #9405
Ah glad to hear you are back up and running @SteeveGL ! What you have looks like a great solution to pass those parameters through to the Express app! Another approach I've seen taken is to overwrite the `process.env` values with the fetched values from SSM.

[2022-01-05 20:13] kevcle commented on #9298
I had had an intervening update or two between 5.6 and 7.6.3.    From my notes, it looks like I was on 7.5.4 prior to 7.6.3. (I may have been at an intermediate between them; generally follow the notification that a new version is available from the CLI).   It was missing the AuthCognitoUserPoolId after the upgrade, and I was able to move passed it by pulling the value from a prior version of that

[2022-01-05 21:25] josefaidt commented on #9302
Hey @stephen-optisol :wave: I was also able to reproduce using your project's backend definition, and to mitigate the invalid CloudFormation template for auth we can use the latest CLI to update the resource with `amplify update auth`. This should then prompt us to migrate the auth resource, and upon selecting Y to migrate we can exit the process with ctrl+C.

For the functions' envMap issue, were

[2022-01-05 22:23] lazpavel commented on #9428
Hi @LeoReubelt, the issue you're experiencing is because the types in the @key directive fields list do not match the types of the @connection directive fields.

You should be able to use it by changing the `name` field type as in
[code]

Please reopen if you still have issues

[2022-01-05 22:23] #9428 closed

[2022-01-05 22:34] lazpavel commented on #9417
Hi @LeoReubelt, you should be able to use circular reference in a model.

Can you please provide the contents from `amplify/cli.json`?

[2022-01-05 22:38] cjihrig commented on #8368
Closing due to lack of follow up. If you are still having problems please open a new issue.

[2022-01-05 22:38] #8368 closed

[2022-01-05 22:42] #8682 closed

[2022-01-05 22:47] cjihrig commented on #9153
Closing due to lack of follow up. If you're still experiencing problems, please open a new issue.

[2022-01-05 22:47] #9153 closed

[2022-01-05 22:55] cjihrig commented on #9357
Closing due to a lack of follow up. If you're still having problems, please open a new issue.

[2022-01-05 22:55] #9357 closed

[2022-01-05 22:57] cjihrig commented on #9359
@peter-greekbase if you're still having problems, please open a new issue or provide the requested information here and we can reopen.

[2022-01-05 22:57] #9359 closed

[2022-01-05 23:01] #8579 closed

[2022-01-05 23:25] imjulianeral commented on #3081
+1 for Postgres Support

[2022-01-05 23:35] sundersc commented on #9388
Hi @osak - Can you try updating the auth resource to allow unauthenticated logins using `amplify update auth`?

![image](https://user-images.githubusercontent.com/83315412/148304281-d30fd12c-cbde-4bcf-9a62-33aa033b870f.png)

Please note that, in GraphQL transformer v2, `unauthRole` maps to `IAM:public` rule and `authRole` maps to `IAM:private` rule. So it is required for IAM user to map to unauthR

[2022-01-05 23:59] frankclaassen commented on #9200
Doubt it will help you if I send my amplify folder as I have managed to get past this issue mostly, just stuck with an error now which I will post further down. To overcome most issues, I had to update auth first and push, then go onto the appsync console to manually update all resources pointing to NONE_DS, delete NONE_DS datasource, run api migrate and push.

Now I am getting the below error wit

[2022-01-05 23:59] frankclaassen commented on #9200
The above is on the latest version of the cli

[2022-01-06 02:38] Rafcin commented on #9424
Yea, looks like if you reindex a doc and change the type the autogenerate searchable queries will no longer function properly.

[2022-01-06 04:50] johnrusch commented on #5836
yeah, unable to list objects from another bucket using this workaround currently. Would love support for this feature.

[2022-01-06 05:38] suguru03 commented on #8917
Hi @akshbhu

Thanks for your investigation :)

I tested with v4.51.3 without any changes today and it is working fine now.

I have seen some patch releases on `amplify-codegen` recently, I'm not sure these changes are related to the issue though.
I would recommend fixing the versions instead of using `^` to avoid further issues.

[2022-01-06 05:53] stephen-optisol commented on #9302
@josefaidt I have cleared the cloudformation template error. The amplify push command is not creating the tables for new env. Without the tables, how can i create the dynamodb tables for newly created environment. The above solution will work for some of the functions. Can you give your suggestion.

[2022-01-06 07:48] karthik3dinteractive opened #9439 "S3Trigger - Access denied when using ListObjectsV2Command"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-06 09:42] rosmu opened #9441 "@manyToMany relation throws a warning DataStore - subscriptionError, Connection failed: {"errors":[{"message":"Validation error of type FieldUndefined: Field 'chatroom' in type 'ChatRoomUser' is undefined @ 'onDeleteChatRoomUser/chatroom'"}]} with a model name 'ChatRoom' but works well with 'Chatroom' WHY?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-06 14:06] LeoReubelt commented on #9417
Hi @lazpavel.  Thanks for responding. cli.json is pasted below. I

[code]

[2022-01-06 15:44] kellycastrof opened #9458 "amplify import auth headless"
**Please describe which feature you have a question about?**
I want to know how to use amplify import auth with a sh script
**Provide additional details**
I follow the instructions of the documentation, however it doesn't mention how to use it. I use parameter --categories, but it still asks me for config in the terminal.
**What AWS Services are you utilizing?**
I'm using amplify auth
**Provide ad

[2022-01-06 16:27] hughbillings opened #9444 "Recreated an existing Amplify app using the same cognito pool but getting a "User does not exist" error when I log in with users from the same pool."
An external company created an application using the AWS stack.

I was tasked with reprovisioning the application for testing purposes but when I used the CLI to build the app and manually entered the environmental variables I realized that the user login is not being recognized.

Whenever I login with a user from the existing pool I get the error "User does not exist" with a status 400.

Most of

[2022-01-06 17:03] lazpavel commented on #9417
can you add to the `"graphqltransformer"` section `"transformerversion": 1,`. Let me know if you still have the issue

[2022-01-06 17:59] khusmann commented on #9407
@lazpavel Thanks for your comments!

Oops, sorry I was starting from the amplify template code and wanted to reduce it to a more minimum example but accidentally copied the comment code instead. Sorry for the confusion! I've edited the initial post to correct it.

My understanding is that in this scenario, (scenario 1), blogPostsId should be generated as a lookup id, but it is not being generated.

[2022-01-06 18:37] sundersc commented on #9200
@frankclaassen The error 'Resource is not in the state stackUpdateComplete' usually pops when there is an ongoing update on your stack. Can you check the status of your application stack in cloudformation (aws console) and make sure it is 'UPDATE_COMPLETE'? Then try `amplify pull`, make the necessary updates and do `amplify push`.

[2022-01-06 19:35] #9400 closed

[2022-01-06 20:16] edwardfoyle commented on #9420
Hi @rbrezu thanks for the report. I have reproed the issue and marked as a bug.

For anyone else looking at the issue, here is a more minimal repro schema:
[code]

Then configure auth in the project with an "admin" and "group1" group (also ensure the api has cognito auth configured)
After pushing, create an admin and group1 user in the user pool
Create a Todo with the admin user and groupsField =

[2022-01-06 20:21] edwardfoyle commented on #9423
@goldwareJapan as long as you are using the same AWS account for both environments, they should both be added to a single Amplify App. Are you using the same AWS profile / credentials as the original amplify environment when creating the new amplify environment?

[2022-01-06 20:33] edwardfoyle commented on #9424
@Rafcin The new GraphQL transformer uses OS 7.x instead of 6.x. I believe the issues you are seeing are a result of that version bump. Bumping this version can cause the OS cluster to lose data which may explain why you aren't seeing any searchable results. We recommend taking a snapshot of your OS cluster before migration and then restoring the snapshot after migration (see: https://docs.amplify.

[2022-01-06 20:39] edwardfoyle commented on #9426
@PPilestedt when you say you "removed the pinpoint project from the GUI" do you mean you removed the pinpoint resources using the AWS console rather than through Amplify?

If so, the resources are deleted but Amplify doesn't know that which is likely the cause of the failures.

[2022-01-06 20:40] Rafcin commented on #9424
@edwardfoyle I managed to resolve the issue and I put a note in the migration docs. It took me a moment to figure it out, it OS 1.1 no longer needs `/doc` and the Appsync searchable resolvers that are set up via the transformer still used /doc/_search causing it to break. In my note, I added that a client can use the vtl override and just copy the resolver and change the index path. That worked fi

[2022-01-06 20:41] josefaidt commented on #9386
related to https://github.com/aws-amplify/amplify-cli/issues/8216

[2022-01-06 20:42] cjihrig commented on #9441
I think what's happening here is that the CLI is generating the following `ChatRoomUser` type:

[code]

Notice the casing of the `chatRoom` field. It looks like the front end code is trying to access `chatroom` with different casing. Does regenerating the front end code make any difference?

[2022-01-06 22:00] edwardfoyle commented on #9444
@hughbillings Did you deploy a new Amplify app? If so, it will include a new Cognito user pool which will be empty. If you want to re-use the existing user pool from another app, you can import it using [`amplify import auth`](https://docs.amplify.aws/cli/auth/import/)

[2022-01-06 23:14] sundersc commented on #9406
Hi @Tedsterh - Can you try the option suggested [here](https://github.com/aws-amplify/amplify-cli/issues/9388#issuecomment-1006161002). IAM:private rule requires the IAM user to map to authRole.

[2022-01-07 00:15] paulnolan7 commented on #9351
I have the same issue. Pre signup lambda are not producing the correct cloud-formation file in the build folder.
Not sure if there is a workaround?

[2022-01-07 00:27] paulnolan7 commented on #8997
I think there is an issue with the case difference between SignUp and signup. See this issue #9351

[2022-01-07 00:51] sundersc commented on #9401
Thanks for reporting this issue. I'm working on it.

[2022-01-07 07:31] goldwareJapan commented on #9423
I don't think that is possible.

I have 2 was profiles set. but they are completely different accounts.

So if I select a different profile it creates env on the whole other account. ( i tried and confirmed it. image attached )

![Screen Shot 2022-01-07 at 16 28 47](https://user-images.githubusercontent.com/35557320/148508130-3aa46eb1-8b55-4936-a4a3-51628e7b38da.png)

[2022-01-07 08:16] PPilestedt commented on #9426
yes exactly. I removed it from the web console and it seems like the notification resource still thinks the pinpoint project still exists.
its looking for the project called finfollow-pinpoint-dev that is removed.

I cannot create a new FCM connection because aws believes that it is already configured. And if i try to edit the existing resource with the update CLI command it tells me its missing.

[2022-01-07 13:18] maziarzamani opened #9456 "Parameters shared between multiple lambda functions"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

Lambda

### Describe the feature you'd like to request

I am currently working on a AppSync API with numerous Lambda functions. However I am sharing similar secrets between many of these lambda functions. As far as I can see I need to create a unique secret parameter for e

[2022-01-07 15:08] josefaidt commented on #9298
Hey @kevcle thank you for clarifying! Are you able to capture the diff of when this value was removed? Did you also experience this after migrating your API with `amplify migrate api`?

[2022-01-07 15:10] josefaidt commented on #9302
Hey @stephen-optisol are these the tables for your GraphQL API models? Are you seeing CloudFormation logs for the tables on push?

[2022-01-07 15:31] owboateng commented on #8781
Hi, could you please explain the steps. I am experiencing the same problem but I do not understand how you fixed the issue. Thank you.

[2022-01-07 16:05] josefaidt opened #9457 "add ability to pull env from cloud with `amplify pull --envName <env-name>` without also specifying App ID"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Add the ability to pull other Amplify backend environments from the cloud without also specifying the Amplify App ID.

- in projects where we've chosen NOT to modify the backend, we are able to pull the ne

[2022-01-07 16:17] cjihrig commented on #9456
Thanks for opening this. I'm going to close it as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/8360. Please provide any additional information on that ticket.

[2022-01-07 16:17] #9456 closed

[2022-01-07 17:15] maziarzamani commented on #8360
I created the ticket #9456, and recently ran into this problem as I have numerous lambda functions utilizing the same parmaters. Its super redundant when these keys need to be updated when they cannot be shared globally.

[2022-01-07 17:26] stephen-optisol commented on #9302
@josefaidt, Will these mappings update automatically based on the dynamodb table creation?

![Selection_2022010701](https://user-images.githubusercontent.com/50980397/148582356-a025e9df-ebf3-45cb-81ad-57ec72f6319a.png)

If yes, I don't see any table creation. These errors came whenever i ran amplify push command.

![Selection_2022010702](https://user-images.githubusercontent.com/50980397/148582658

[2022-01-07 18:02] josefaidt commented on #9191
Closing based on comment above. Glad to hear you're back up and running @david-wb 🙂

[2022-01-07 18:02] #9191 closed

[2022-01-07 19:37] josefaidt commented on #9302
Were those mappings added manually? I don't see `@function` in your schema file.

[2022-01-07 21:20] Etep15 opened #9460 "Unable to Push Changes to Lambda Layer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-07 21:22] eettaa commented on #9403
Thank you. Is the AppSync (amplify?) auto UUID generator compatible with major UUID issuing libraries?  i.e. if I partially create my own UUID's and partially rely on Amplify, will that be a problem?

[2022-01-07 21:35] hughbillings commented on #9444
@edwardfoyle thank you for replying. I redeployed and used the command. I'm getting "Authentication Error" and the console says I need to add Auth now using 'amplify add auth'. Not sure what to do here. This is what the console says

[2022-01-07 22:03] josefaidt opened #9461 ""GraphQL schema compiled successfully..." printed multiple times on push"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-07 22:15] josefaidt commented on #9460
Hey @Etep15 :wave: thanks for taking the time to file this! As mentioned in Discord please send the link to your amplify.zip to amplify-cli@amazon.com

Possibly related?:

- https://github.com/aws-amplify/amplify-cli/issues/8525 (had ~50 layer versions, experienced CFN errors on legacy layer version creation, removing latest/problematic layer resolved issue)
- https://github.com/aws-amplify/amplif

[2022-01-07 22:35] cjihrig commented on #9461
The problem appears to be that `transformCategoryStack()` is called for all of the project's resources. For GraphQL APIs, it results in the schema being compiled multiple times at [this line](https://github.com/aws-amplify/amplify-cli/blob/bec10d90faae6010697183e7e436fd856396eb9f/packages/amplify-category-api/src/index.ts#L298).

[2022-01-07 23:26] josefaidt commented on #9332
Hey @maziarzamani :wave: after spending some time working with this I've found a suitable solution for using user's emails as the claim

[code]

And since the API calls will be using the access token by default, we'll want to be sure we're using the ID token which includes the user's email

[code]

Now the ownership is tied to the logged-in user's email address they signed up with, and we can manu

[2022-01-08 05:25] mattfysh commented on #9121
I'm also seeing this locally, but I don't use the `amplify mock` function, just a `.env` file with the `dotenv/config` module

This was working before upgrading to Graphql transformer v2 - using my root user credentials stored at `~/.aws/credentials` ( I shouldn't be using root credentials locally, but I don't know how else to get it done )

I'm assuming it stopped working because of the rewritten

[2022-01-08 05:56] mattfysh opened #9464 "How to make OpenSearch less rigid? e.g wildcards / fuzziness"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

API (Graphql)

**Amplify CLI Version**

v7.6.5

**What AWS Services are you utilizing?**

AppSync + OpenSearch

**Provide additional details e.g. code snippets**

What is the best way to get more results from OpenSearch?

This is the best I can do so far without

[2022-01-08 06:14] vifox001 commented on #9313
My have similar issue. I have `Google` and `OpenID Connect`
I do `amplify remove auth` then `amplify auth import`, but only see the
`"aws_cognito_social_providers": [
        "GOOGLE"
    ]`
I'm using amplify cli 7.6.5.

[2022-01-08 07:11] osak commented on #9388
@sundersc I have tried that but it doesn't help. Actually, I already had it with my amplify repo and the issue is observed with that config. I think I forgot to mention it in the repro steps - sorry if it caused confusion.

To be clear, my problem is with *authenticated* users. Unauthenticated users can access `public` resources without any problems. However, if the user is logged in, they can't a

[2022-01-08 07:30] osak commented on #9388
In fact, I didn't realize until now that my local web build was hitting remote after I ran `amplify publish`. Apparently, I cannot reproduce the issue with mock. @sundersc, Let me update the repro steps as follows:

1. Follow 1~3 in the original steps
2. Follow https://github.com/aws-amplify/amplify-cli/issues/9388#issuecomment-1006161002 to allow unauthenticated access
3. `amplify push`
4. `ampli

[2022-01-08 17:17] giulioambrogi commented on #5780
Stumbled upon this too.

My workaround was to maintain another field as "uppercase version" of the field I want to sort. Example:
[code]

I know it's hacky, you either make sure you maintain the sync in your code (e.g. wherever you create/update), _or_ alternatively you can set up a Lambda trigger that keeps that in sync.

[2022-01-08 19:43] mgarabedian commented on #9093
Has there been progress on this? I am looking to use a custom resource output in a lambda function.

[2022-01-08 21:18] sundersc commented on #9388
@osak does the logged in user mapped to unauthRole?

[2022-01-08 23:06] Etep15 commented on #9460
Thanks for the links @josefaidt. Unfortunately I wasn't able to find anything would work.

I've since made a change to one of my lambda files (not layer) and have the same problem. I tried an **amplify pull** and then **push**. Same problem.

After I make the change if I do an **amplify status** it shows that there is indeed changes that need to be pushed. But again, push is reverting them. Here's

[2022-01-09 02:29] osak commented on #9388
@sundersc To the extent that I can tell, it doesn't look like so. Logged in user seems to get a different role than unauthenticated users. Here is a screenshot of Cognito's identity pool which is associated with my Amplify project. I have never directly touched Cognito - I assume it's created by one of the CloudFormation templates that Amplify generates.
![Cognito unauth role](https://user-images.

[2022-01-09 04:07] mattfysh commented on #8216
Just ran into this same issue, I'm using the AWS OpenTelemetry lambda layer for nodejs. Every time I checkout a new environment, it deletes the lambda layer from `function-parameters.json`

[2022-01-09 04:19] sundersc commented on #9388
@osak Ah, sorry. I see what's causing the confusion now. As per GraphQL v2 (latest) design, `{ allow: public, provider: iam }` is strictly applicable only to unauthenticated users. For the authenticated users to have access to those types (or models), please add `{allow: private, provider: iam}` to the auth directive.

[2022-01-09 06:27] mattfysh commented on #8384
Still having this issue. At the moment, there are a number of bugs related to Container Secrets, and I have to do all deploys manually, from my local machine. It would be great if these could be fixed soon so I can go back to using GitHub Actions to deploy

[2022-01-09 14:36] kgoyal98 commented on #9380
@ammarkarachi I updated the version and still have the same issue.

[code]

[2022-01-09 15:23] iOrcohen opened #9477 "Cannot use Api-key auth for Api Gateway after upgrading to 7.X.X"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-09 17:30] dmost714 opened #9467 "Allow multiple S3 buckets"
### Is this feature request related to a new or existing Amplify category?

storage

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I would like the ability to create multiple S3 buckets in the same project.

Why? The existing S3 bucket and associated lambda trigger operates on objects put into the bucket, transforming them into new objects.

[2022-01-09 22:59] kjetilge opened #9469 "amplify cli outputs gibberish perpetually"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-09 23:09] mgabriele00 commented on #9469
Same here

[2022-01-09 23:21] Straubulous commented on #9469
This is a problem introduced by a dependent package. CLI is working on a patch now.

[2022-01-09 23:32] mgabriele00 commented on #9469
It still doesn't work. Also tried to uninstall and install again

[2022-01-09 23:39] Etep15 commented on #9460
I figured out the issue. I'm an idiot. Hope I didn't waste too many people's time. My editor was in the wrong folder. Apologies.

Tip for any others who are wondering what kind of voodoo is going on if this happens. Make sure you are are in the "backend" folder, not the "#current-cloud-backend". Visual Studio Code wasn't making it very apparent, which again, may be how I setup the project.

[2022-01-09 23:39] #9460 closed

[2022-01-10 01:43] osak commented on #9388
@sundersc I see. I thought `public` would allow access to both authenticated and unauthenticated users because [Authorization strategies section](https://docs.amplify.aws/cli/graphql/authorization-rules/#authorization-strategies) of the doc describes `public` access rule as below (emphasis mine):

Was it actually incorrect?

[2022-01-10 02:02] emmafass commented on #9469
Having the same problem

[2022-01-10 02:19] alice-was-here commented on #9469
Same issue here.

[2022-01-10 02:57] alice-was-here commented on #9469
FYI to anyone who has arrived here - this issue is almost certainly caused by the marak/faker thing. [More info here](https://www.theverge.com/2022/1/9/22874949/developer-corrupts-open-source-libraries-projects-affected).

[2022-01-10 03:23] hoan-pham-duy commented on #8120
Thanks so much for raising it. I also hope to have this feature in amplify!

[2022-01-10 03:30] kennyjacobson commented on #9469
Same here. Spent so many hours thinking it was my fault and trying everything to fix it. Glad I finally found this.

[2022-01-10 03:37] incr3m commented on #9469
This seems fixed now with  ` npm i @aws-amplify/cli@7.6.7 -g`

[2022-01-10 03:46] mgarabedian opened #9472 "Customized 'dependsOn' in backend-config.json gets overwritten"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-10 05:34] jayantwalvekar opened #9473 "How to configure auth service for signup confirmation email in headless mode?"
**Which Category is your question related to?**
Amplify Auth Headless provisioning

**Amplify CLI Version**
7.6.4

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
I am provisioning amplify through headless mechanism for CI/CD as per this document [Headless mode for CI/CD](https://docs.amplify.aws/cli/usage/headless/).

I am able to initialize amp

[2022-01-10 09:53] ingwinlu opened #9474 "Secondary @index data not accessible due to not authorize error with graphql gransformerv2"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-10 10:27] dutziworks commented on #9469
Holy crap, what an idiot.

[2022-01-10 10:28] dutziworks commented on #9469
Holy crap, what an idiot.

[2022-01-10 13:27] PeteDuncanson commented on #9398
Has this one slipped through the net?

I'm wanting to use the new @searchable total field but being unable to migrate means I'm sort of stuck.

[2022-01-10 13:54] HieronymusLex opened #9475 "Parameters.json location in new public project"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Auth

**Amplify CLI Version**
7.6.5
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I've provisioned a fresh create-react-app project (`n

[2022-01-10 14:22] alex-vladut commented on #9474
Hey @ingwinlu, to add a bit to this discussion, I faced the same issue myself too as the dynamic groups authorization seems to be broken in the GraphQLTransformer v2 (especially if using a custom claim with a list of groups in JSON format). I created a GitHub issue a while back with all the problems I could identify but it didn't get any attention from the Amplify team so far https://github.com/aw

[2022-01-10 15:19] josefaidt commented on #9469
Hey y'all :wave: thanks for raising this! This issue has been fixed with the [latest release of the Amplify CLI, v7.6.7](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.6.7)

For older CLI versions it appears we are able to override the dependency depending on our package manager. For `npm` we can install to a project and add an `overrides` to the `package.json`

[code]

Closing issue a

[2022-01-10 15:19] #9469 closed

[2022-01-10 15:36] ingwinlu commented on #9474
@alex-vladut disheartening.
I tried your patch but the problem seems to persist for me.

[2022-01-10 15:47] rudyhadoux opened #9476 "Code generation failed with the following error"
Amplify CLI Version 7.6.7.
AWS Services : auth api storage.

Hi, what is this error ?
**✔ Generated GraphQL operations successfully and saved at src/graphql
Code generation failed with the following error
ENOENT: no such file or directory, lstat '/Users/rudy/Desktop/site/amplify/#current-cloud-backend/auth/site9aa3eb1e'.
✔ All resources are updated in the cloud**

[2022-01-10 16:46] laverdet commented on #9469
We have amplify-cli installed globally since we've run into issues in the past with local installations. We also can't use the newest version of amplify because of other issues. For us, the following worked:
[code]

[2022-01-10 17:39] karlmarxlopez opened #9478 "Unable to set Apple private key (.p8)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-10 17:59] bergmorten opened #9503 "amplify codegaen models - after migration to V2"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-10 18:46] aleksey-shmatov opened #9480 "Why OpenSearchStreamingLambdaFunction does not have app name prefix and current env suffix?"
**Which Category is your question related to?**
API

**Amplify CLI Version**
7.6.7

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
Pushing minor updates in schema caused changing search lambda name to `OpenSearchStreamingLambdaFunction` - without app name or environment. Is this expected behaviour?
 Trying to push to production now causes error:

[2022-01-10 18:50] ingwinlu commented on #9474
I have to make an adjustment.

In 7.6.7 static groups seem to also not work correctly.  In 7.6.5 at least they were working.

As a workaround we successfully migrated back to v1 of the transformer. On the next "legacy" upgrade we will definitely wait even longer.

[2022-01-10 19:38] josefaidt commented on #9398
Hey @PeteDuncanson  :wave: apologies for the delay! I'm taking a look at this now

[2022-01-10 19:48] karlmarxlopez commented on #9478
Additional logs

[code]

[code]

[2022-01-10 20:53] sacrampton commented on #9123
Hi @edwardfoyle - I'm struggling to see when this fix will be available - seems there is a lot of activity, but I can't see where it has been released

[2022-01-10 21:36] MichaelPlan opened #9484 "Parameters: [unauthRoleName, authRoleName] must have values on `amplify push function`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-10 21:38] ammarkarachi commented on #9444
@hughbillings Can you reiterate your steps before running `amplify import auth`? We need more information to reproduce your issue.

[2022-01-10 21:45] hughbillings commented on #9444
@ammarkarachi  Thanks for replying.

Okay sure. So, in PowerShell

1) I run `amplify init` and complete the specs.

2) Then amplify import auth and connect it to the database.

3) Then amplify push

After that, I go to Amplify console and connect the app to the repository on Bitbucket and manually enter the Environment Variables from the existing app into the new.

[2022-01-10 22:06] sacrampton commented on #9123
Hi @edwardfoyle - I need to update my api for a separate issue, but it is saying that amplify update api requires the schema to be migrated. But I can't migrate the schema because of the stack mapping bug. So I thought I'd downgrade amplify to 6.3.1 so I used the "npm i @aws-amplify/cli@6.3.1" command in aws linux (Cloud 9) - it appeared to install successfully, but when I run "amplify -v" it retu

[2022-01-10 22:11] josefaidt commented on #9261
Hey @maziarzamani :wave: apologies for the delay! I've been taking a further look at this one and wanted to clarify whether we are looking to duplicate the editors and viewers from the newly created `Computer` object onto a new `ComputerConfiguration` when it is created?

[2022-01-11 00:02] aaronkik commented on #9474
I also reported this here about the GSI [#9369](https://github.com/aws-amplify/amplify-cli/issues/9369) with a simpler schema.

Note: I'm using the schema in [#9369](https://github.com/aws-amplify/amplify-cli/issues/9369) and editing the file generated `Users.listUsersByTeamID.auth.1.req.vtl`

The issue is caused by the following:
[code]

I fixed it by iterating over the "cognito:group":
[code]

[2022-01-11 03:47] ngnathan commented on #9480
I've got the same issue.

As of 7.6.7, it changes the previous OpenSearchStreamingLambda function from `amplify-<appName>-<env>-OpenSearchStreamingLambd-<someId>` to `OpenSearchStreamingLambdaFunction`, without any other identifier.

I updated my dev env, but I can no longer push to prod, due to the error:
Following resources failed
Resource Name: amplify-<appName>-<env>-OpenSearchStreamingLambd-<

[2022-01-11 08:33] PPilestedt commented on #9426
Anyone with a suggestion on how to remove the notification resource?

[2022-01-11 08:42] #9332 closed

[2022-01-11 08:42] maziarzamani commented on #9332
Thanks @josefaidt!

[2022-01-11 08:52] maziarzamani commented on #9261
Hey @josefaidt! Yes that is correct, and also reflect the changes on those two permission arrays on updates, which is my biggest concern as it is a 1-to-many relationsship, so several `ComputerConfiguration` entries may been updating.

[2022-01-11 10:36] vikaskgahlawat commented on #9225
@jhockett Any idea why amplify push is deleting the api-params.json files? There are two strange behaviors.
1. For the existing APIs there were api-params.json files. With the latest version of amplify, when I do amplify push, it deletes the api-params.json files and then give error that the api-params.json does not exist.
2. In the same code, I added a new api with the latest version of amplify.

[2022-01-11 13:32] mrsimply opened #9492 "Authentication - Configured mandatory attributes not set in Cognito"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-11 15:24] josefaidt commented on #9416
@yuth this appears to be also affecting the GraphQL API's URL

[2022-01-11 16:25] #7792 closed

[2022-01-11 17:13] johnpc commented on #9458
I am able to reproduce this issue and there are some recent changes to `amplify import auth` that may be the cause. Adding this to our bug board for prioritization.

[2022-01-11 17:19] johnpc commented on #9477
I don't understand - can you provide more detailed reproduction steps?

This is what I tried:

[code]

The result is an api endpoint that results in an api using `apiKey` auth

[2022-01-11 17:25] karlmarxlopez commented on #8939
@kfernandes29 I'm also experiencing this issue #9478.

I tried the following
1. Using path to p8 file
2. Copying and pasting the p8 contents into the CLI prompt
3. Copy and pasting only the contents between BEGIN and END

None of them works, how did you exactly resolve this?

[2022-01-11 17:59] josefaidt commented on #9261
Hey @maziarzamani thank you for clarifying. Unfortunately I do not believe this is currently supported but seems like a good feature request to enhance the `@default` directive to inherit values from the parent. Say we have the following schema:

[code]

Given the current functionality, we can either rely on our frontend to appropriately set values from the parent, or set a pipeline resolver or La

[2022-01-11 18:34] edwardfoyle commented on #9426
Hi @PPilestedt you'll need to manually remove the notifications category from your local Amplify files. To do that, remove the relevant blocks from the `team-provider-info.json`, `amplify-meta.json` and `backend-config.json` files. You can also safely remove the contents of the `amplify/backend/notifications/<resource name>` directory. Then when you run `amplify push` this should remove the notifi

[2022-01-11 18:40] edwardfoyle commented on #9424
@Rafcin Thanks for the docs updates! Going to close this out but please follow up if you need more help

[2022-01-11 18:40] #9424 closed

[2022-01-11 18:42] edwardfoyle commented on #9403
@eettaa No that shouldn't be a problem. Any UUID library with sufficient entropy will work

[2022-01-11 18:45] edwardfoyle commented on #9458
Hi @kellycastrof can you try using the `amplify import auth --headless` feature? I just realized we don't have documentation for it (working on that now), but it follows the same pattern as the headless commands [here](https://docs.amplify.aws/cli/usage/headless/#headless-category-payloads) and the payload shape is defined [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/ampl

[2022-01-11 19:10] kellycastrof commented on #9458
@edwardfoyle  it works, thanks!

[2022-01-11 19:12] #8830 closed

[2022-01-11 19:13] #8779 closed

[2022-01-11 19:24] #9401 closed

[2022-01-11 19:37] sundersc commented on #8868
Hi @mattfysh - Sorry about the delayed response on this. I can confirm that the env name is hard-coded on the secrets value, marking it as a bug.

I'm also having issues getting secrets to work with container on the latest cli version. Could you share the `api` folder structure and `docker-compose.yml` file if possible?

[2022-01-11 19:39] #5183 closed

[2022-01-11 19:42] mkpratt commented on #9484
I also have been dealing with this exact same issue. Fails with this same error on a few existing and unchanged REST APIs when trying to push a minor update on the GraphQL API
`Parameters: [authRoleName, unauthRoleName] must have values`

Amplify Version 7.6.8

[2022-01-11 19:54] #9237 closed

[2022-01-11 19:54] #9123 closed

[2022-01-11 19:56] #9132 closed

[2022-01-11 21:03] yuth commented on #9416
It is because the CLI is treating all the values from the prev env as custom config and retaining the value. I am working on a fix for that

[2022-01-11 21:24] dbeck121 commented on #9240
Hi @renebrandel,

sorry for the late response but today I finally got through my unread email list :)

I like just having additionally "get" and "list" in the ModelOperation. So "read" would be the same as having "get" and "list". I would prefer an error on sth like this

[code]

An error like "get, list and read are not to be used together. Please use either read or get and/or list.". Would be ea

[2022-01-11 21:35] josefaidt commented on #9398
Hey @PeteDuncanson may you send us a copy of your v1 schema to amplify-cli@amazon.com? And do you see a more descriptive error as to why those resolvers failed to create in the CloudFormation console?

[2022-01-11 21:43] josefaidt commented on #9484
Hey @MichaelPlan :wave: thanks for raising this! From the CloudFormation lines you posted I noticed this is failing for your API, is this a REST API by chance?

If so, was this project recently migrated from using an older version of the CLI?

[2022-01-11 22:57] lseemann opened #9498 "Invalid feature flag configuration on build"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-11 23:03] josefaidt commented on #9498
Hey @lseemann thank you for taking the time to file this! In Discord you mentioned after you pulled the project the `cli.json` was twice as long, may you post the updated cli.json as well?

[2022-01-11 23:17] josefaidt commented on #9475
Hey @HieronymusLex :wave: to clarify, are you cloning the project into a new directory and running `amplify init`?

[2022-01-12 00:15] lseemann commented on #9498
It was a goofy sequence.

First I ran `amplify pull`.

Then I noticed in my editor `cli.json` had updated to the following and I got excited. I comitted and pushed to Git, triggering a deploy.

Then I noticed in my terminal that the CLI was still waiting for me to submit `Y` for whether I was sure I wanted to overwrite my local files. I hit `Y` and the pull continued … and `cli.json` reverted to t

[2022-01-12 02:03] gabrielgarciagava commented on #4157
It seems that this is still an issue. Is there an estimate for working on this ticket? Thanks

[2022-01-12 04:13] mattfysh commented on #9480
If possible, can someone from Amplify team recommend a workaround, e.g. do we downgrade the CLI version?

Customers unable to deploy to production environments should be treated as a high-severity issue

[2022-01-12 05:20] yyao84 commented on #9498
Had a similar error today using Node 16 with automated build (works when pushing from Mac manually). I had been overriding the Node version in build image settings.

Ended up removing the build image settings override and adding 'nvm install 16' to amplify.yml in the frontend preBuild section to resolve. Perhaps this is related to your issue?

More details -
Noticed this error in the Cloning Repos

[2022-01-12 07:08] HieronymusLex commented on #9475
Yes cloning to a new directory and running amplify init from there.

[2022-01-12 09:19] bergmorten opened #9504 "Amplify pull does not work after API is migrated to V2"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-12 10:19] Dennis-Dekker commented on #9401
@sundersc I just pulled the newest version of the CLI, but this have this issue. I'm using the @manyToMany directive, but get the same error:
`An error occurred during the push operation: Invalid @hasOne on ItemLocation:item. Provided fields do not match the size of primary key(s) for Item`
This is my schema:
[code]
The schema works fine, until I add `(sortKeyFields:["itemID"])` and/or `(sortKeyFi

[2022-01-12 11:10] cemo commented on #8579
@cjihrig is there any documentation about it?

[2022-01-12 12:28] shichi18 opened #9502 "Update(Mutation) returns Unauthorized even though IAM AuthPolicy is specified"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-12 13:06] majirosstefan commented on #5836
It would be nice if Amplify CLI supported **importing multiple buckets (even from different regions)** and maybe it would also ask which bucket should be "**the default one**" (I mean which bucket should be used when calling Storage methods without "bucket" param)

I also think that it would be really nice if there were some kind of official **blog posts**, Twitch streams, Youtube videos (whatever

[2022-01-12 13:36] lseemann commented on #9498
Thanks, @yyao84 . I don't think our problems were exactly the same but you set me on the right track.

By changing my build settings from `- nvm use $VERSION_NODE_12` to `- nvm use $VERSION_NODE_14` I was able to get a successful build.

[2022-01-12 13:44] maziarzamani commented on #9261
Thanks @josefaidt!

[2022-01-12 13:53] PeteDuncanson commented on #9398
@josefaidt Sent one last night you :)

[2022-01-12 14:57] cjihrig commented on #9480
@mattfysh downgrading to a version prior to v7.6.7 should let you workaround the issue.

[2022-01-12 16:52] josefaidt commented on #9504
Hey @bergmorten :wave: to better understand the context, which version of the Amplify CLI are you currently using?

[2022-01-12 17:16] ngnathan commented on #9480
@mattfysh I can confirm.  I downgraded to 7.6.5 (including in the Amplify console if you're using Amplify's git-based hosting) and it reverts back to the previous lambda name.  Test first in a non-production env to ensure that the OpenSearchStreamingLambdaFunction reverts back to the previous name.

[2022-01-12 17:22] bergmorten commented on #9504
I'm using  @aws-amplify/cli: 7.6.8 in windows

What is strange that pulling the same app and environment worked for my colleague. He has the same cli version, but use mac.

Either there is something with the windows cli or something in my profile / setup.

[2022-01-12 17:28] MattJBrowning commented on #9372
Any update on this issue? Using Amplify CI to deploy to hosting seemed to work earlier, now it fails it seems 100% of the time, regardless how small the changes are, can't push any updates from the CLI without it failing

Is this a widespread issue? How would I configure DependsOn, at this point I have my entire development team sitting idle because we can't develop. Considering migrating away fro

[2022-01-12 17:31] josefaidt commented on #9504
Thank you for clarifying @bergmorten ! I will also take the Windows-Mac note into consideration as I work to reproduce this behavior.

[2022-01-12 19:45] bergmorten commented on #9504
Yes, you where correct. I did had another amplify project in a folder two-siblings above my test directory.  This was a garbage project I did not know about.  The pull succeeded after deleting this folder.

Ref my other ticket  ( #9503 ), I do still get warning about models is missing @connection. The datastore does however works :-)

[2022-01-12 19:59] josefaidt commented on #9498
Hey @lseemann I'm glad to hear bumping the Node version from 12 to 14 resolved your issue! Did you also include this step in the frontend preBuild or the backend preBuild?

[2022-01-12 20:13] lseemann commented on #9498
I did frontend preBuild but not backend preBuild. Would you recommend that?

My settings now look like this:
[code]

[2022-01-12 20:15] josefaidt commented on #9498
I was curious where it was added. Does the `amplify --version` output the latest CLI version?

[2022-01-12 20:20] lseemann commented on #9498
It does.

I should maybe point out that when the builds were failing, it was precisely at the point of `amplify --version`, and it never output the version. If using Node 14 didn't work, my next shot in the dark was going to remove that statement. Seems weird that a version check could trigger a fail, but weirder things have happened.

[code]

[2022-01-12 21:04] josefaidt opened #9508 "unable to initialize project with auth from git, missing `auth/.../build/parameters.json`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-12 21:16] PeteDuncanson commented on #9398
Hey @josefaidt

I really appreciate you looking into  this and once again I'm sorry its not easier to reproduce, a classic of my whole setup it seems!

From memory I tried running it a few times (multiple pushes) and got roughly the same sort of errors but I can't say if it was on the same model, I suspect it was but can't say for sure. I can give it another push and happy to recreate on my own ma

[2022-01-12 21:23] josefaidt commented on #9498
Hey thanks for clarifying @lseemann , out of curiosity can you see what the output of `amplify --version` and `node -v` would be by adding those two lines to the backend `preBuild` step?

[2022-01-12 21:38] josefaidt commented on #9398
Hey @PeteDuncanson that would be great! I can send over a calendar item, do you have a preferred time for meeting?

[2022-01-12 21:50] PeteDuncanson commented on #9398
I'm around now or tomorrow night or friday night. I'm on GMT but I know you guys are around until 9pm my time.

[2022-01-12 22:04] josefaidt commented on #9398
That sounds great @PeteDuncanson I just sent over a calendar item for tomorrow 🙂

[2022-01-12 22:58] josefaidt commented on #9504
Ah thanks for confirming that @bergmorten I've run into the same thing in the past 😅 I'll go ahead and close this issue out and take a look at your other issue 🙂

[2022-01-12 22:58] #9504 closed

[2022-01-12 23:07] Rafcin commented on #9480
Yea this is def a problem, my dev env had the prefixed es lambda, but my main is now `OpenSearchStreamingLambdaFunction` and I can't push any changes

[2022-01-12 23:09] Rafcin commented on #9480
When I push I get the following errors:
[code]

[2022-01-12 23:12] cjihrig commented on #9480
@Rafcin there is a proposed fix in https://github.com/aws-amplify/amplify-cli/pull/9491. Until that is released, please downgrade to a version prior to v7.6.7.

[2022-01-13 00:02] luiskcs89 opened #9510 "App stuck on "UPDATE_ROLLBACK_FAILED state and can not be updated" after amplify update"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 00:04] cespin commented on #9351
I'm also having this issue, I fixed it (it's a hack) by adding the function again in the Auth's _override.ts_. I posted my fix in #8997

[2022-01-13 00:36] deagudelo opened #9511 "Multiple @function usages throws: The FunctionDirectiveStack.json stack defines more than 500 resources."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 07:50] julienlaurent-migso commented on #9270
Hey @josefaidt, thank you for your reply.
Yes in my express app there is an active route for my direct path :
(if i replace my route /core to /core/items it's working)
![image](https://user-images.githubusercontent.com/79509459/149287006-0ce9360b-ea58-4bca-8e73-174f3232de1a.png)

And yes, you can see that the cognito authorizer is applied to the direct route and the proxy :
![image](https://user-i

[2022-01-13 08:07] julienlaurent-migso commented on #9408
Hello @edwardfoyle,
I have checked the authentification acces with the command `amplify status api -acm <model>` and everything is correct.
Everything works correctly when my resolver's folder is empty.
But when it is not empty some transformer issues happen (the mock is not working, and if i push my backend and my frontend, the graphql requests are not working correctly).

**Is there a specific c

[2022-01-13 09:04] ivadenis commented on #4826
I wonder what's the challenge with enabling mocks for functions with layers? From what I saw, we just need to setup the correct `NODE_PATH` to the layer modules during runtime in order to make `require` work.

[2022-01-13 09:21] glidaa opened #9515 "!!! Non-Zero Exit Code detected"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 09:25] mrsimply commented on #9492
I will close this, as it was a duplicate of #9237 which was solved with #9251.

[2022-01-13 09:25] #9492 closed

[2022-01-13 09:38] glidaa opened #9516 "Cannot add xx due to cyclic dependancy"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 10:06] matart15 opened #9517 "when select function, function name fuzzy search"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I have created a simple prototype and my app has 48 functions.

each time I update functions I have to scroll through 48 of them.

### Describe the solution you'd like

I prefer CLI have some ways to select fun

[2022-01-13 10:13] l-hendriks opened #9518 "AWS build pipeline error "Error: Cannot find module 'amplify-prompts'" since today"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 10:24] PeteDuncanson opened #9519 "@searchable returning an error but unable to work out how to fix"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 10:35] PeteDuncanson commented on #9519
Forgot to add some of the bits we've tried.

We've gone through and added a "unknown" user to all Staff that didn't have one set (test data) and then ensured each Area has StaffMembers set. That from the error is what the problem seems to be. Yet still no fix.

We've tried removing the @searchable from the model in question and pushing, then re-adding it and pushing again. This was in a hope of it

[2022-01-13 11:05] narciso-dev commented on #8216
+1

[2022-01-13 11:49] PeteDuncanson commented on #9519
ok we are now trying to remove the manditory flag on the connectoins to see if that lets it slip throuhg the validation. Believe we had that on there to keep DataStore happy but now we've stripped that out we can have non-manditory fields in connections we think.

[2022-01-13 11:57] PeteDuncanson opened #9520 "ElasticSearch index contains duplicates, how to clear it out?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 12:04] PeteDuncanson opened #9521 "How to know which ES/OpenSearch instance is used by which Environment?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 12:20] l-hendriks commented on #9521
you can try to match the ids (h5..., fw... etc) in the cloudformation definition. In the cloudformation console select the stack (you might need to search for the child stack where the ES is defined in) and then outputs/properties properties tab

[2022-01-13 12:20] astef-trilogy commented on #9518
We see the same issue on our builds as well, v.4.50

[2022-01-13 12:26] JackPenney commented on #9519
Removing the mandatory flag on the staffMember connections didn't work
Re-reading the error, it's not the staffMember that's null, it's the user connection on staff that's returning as null

For reference in the error `{"data":null,"errors":[{"path":null,"locations":[{"line":387,"column":11,"sourceName":null}],"message":"Validation error of type FieldUndefined: Field 'user' in type 'StaffMember' i

[2022-01-13 12:32] JackPenney commented on #9519
Here's the relevant bits of our Schema for reference
I can attempt to re-add the user connection now we've removed DataStore from the project but it looks like it's just holding onto stale data and I can't find a way to refresh it
Afraid of trying to delete it in the UI as last time we tried something in the UI instead of the CLI it caused no end of issues

[code]

[2022-01-13 12:37] l-hendriks commented on #9518
Upgrading from 5.3.1 to 6.4.0 seems to have fixed the issue without causing much work to change the codebase.

The reason we don't want to have the latest version all the time is that breaking changes happen frequently and we don't have the capacity to update amplify all the time for new features we aren't going to use anyway. For some reason upgrading to v7 breaks our application

[2022-01-13 12:41] teezeit commented on #8120
Thanks! This is a very important feature for us.

[2022-01-13 13:59] JackPenney commented on #9519
Re-adding the user connection to StaffMember fixed that error but what if we don't want to re-add an old connection?
How would we work around that?

In Addition to the error reported, we're also getting these from the same search

`Can't serialize value (/searchAddresss/items[1]/_lastChangedAt) : Unable to serialize `1.6190332464E12` as a valid timestamp. Ensure that the value provided is an Integ

[2022-01-13 14:22] JackPenney commented on #9519
We're now also getting this error

`Can't serialize value (/searchCustomers/items[16]/signUpDate) : Unable to serialize 2021-03-31T17:06:20.707Z as a valid date.`

Are signUpDates were originally AWSDateTime but with the release of AWSDate we've been using that
All of the data we have is in the date format without a timestamp eg. "2021-03-31"

Again it looks like the ES index has stale data it tri

[2022-01-13 14:51] luiskcs89 commented on #9510
I was able to make the rollback finish, but I still can't push, getting the following errors from "amplify push":

Resource handler returned message: "Invalid request provided: Queue visibility timeout: 30 seconds is less than Function timeout: 900 seconds (Service: Lambda, Status Code: 400, Request ID: 5f6e9a3f-27b1-4c82-a792-a504263dd774, Extended Request ID: null)" (RequestToken: 2ca0a0f7-ad79-

[2022-01-13 15:03] #9510 closed

[2022-01-13 16:04] #9416 closed

[2022-01-13 16:40] jweinstein92 commented on #9518
Upgrading from 5.3.1 to 6.4.0 successfully got my build past the configure step, but is now failing on the push step due to a private github repo getting a 401 unauthorized. Adding in a Github token with appropriate permissions into an env variable did not fix the issue.

[2022-01-13 16:44] marcomilon commented on #9518
aws-amplify/cli@4.49.0 is affected too

[2022-01-13 16:48] danitul commented on #8120
Thanks a lot for this. Would be great to have it ! It is indeed a very important feature and doesn't seem there's another way around this in amplify right now.

[2022-01-13 16:54] csilvacaio commented on #9221
Hey @jhockett, I saw that your PR got the approvals. Does that mean a release soon? :sweat_smile:

[2022-01-13 17:11] hoan-pham-duy commented on #8120
I tried to customize lambda cloudformation file to image type but then after doing amplify push, the cloudformation file is reset to code .zip file type.

[2022-01-13 17:16] josefaidt commented on #9518
Hey @l-hendriks :wave: thank you for raising this! We are actively investigating this issue 🙂

[2022-01-13 17:45] sundersc commented on #9502
@shichi18 Can you clarify the below.

- Do you mean createUsers is working but not the updateUsers?
- Can you share what the AuthPolicy looks like?
- Is the user id you are using to test the access authenticated by Auth (Cognito UserPool)?

[2022-01-13 19:22] Shomari commented on #9510
I'm having this exact same issue.  Happened after I added analytics. Same issue as here but doesn't seem to be fixed aws-amplify/amplify-cli#2309

[2022-01-13 19:43] Shomari opened #9525 "Ampilfy push or build gives me "Invalid AttributeDataType input" error after adding analytics to existing project auth that was building fine"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 20:00] sundersc commented on #9388
@osak We are working to improve the docs, it is definitely confusing. `public` access rule means that the user doesn't have to be authenticated by the user pool (signed in). Any IAM user mapped to `unauthRole` role can access the api.

[2022-01-13 20:13] Dennis-Dekker opened #9526 "@manyToMany directive with sortkey fails to push, provided fields do not match the size of the primary keys"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-13 21:43] #8868 closed

[2022-01-13 21:57] paulsson commented on #4425
@edwardfoyle @SwaySway @litwicki @aws-amplify-cli-ops the amplify graphql transform for filtering using `attributeExists` is broken. This ticket was opened in May 2020 and looks like the Amplify team has known about this bug since a minimum of Aug 2020. It is now, 2022. How can such a simple and easy to reproduce bug be ignored for 1.5+ years?
This should probably take someone on the Amplify team

[2022-01-13 22:32] sundersc commented on #9521
@PeteDuncanson To find it through AWS console, find the application's searchable stack in CloudFormation. Select the stack on the list and go to `Resources` tab and search for type `AWS::Elasticsearch::Domain`.

[2022-01-13 22:45] sundersc commented on #8868
@mattfysh We are trying to get this fix on the next release. In your scenario, for each environment for the first time, update the secrets by answering `Yes` to the prompt `Secret configuration detected. Do you wish to store new values in the cloud?`. Any subsequent push will pick up the correct environment secrets value.

[2022-01-13 22:54] daniellorenzin commented on #9525
I'm getting this too!

[2022-01-13 23:58] mattfysh commented on #8868
Thanks @sundersc  :) much appreciated

Apologies for the delay in getting back to you. The docs are incomplete, is this where you were having trouble? See these issues:

* https://github.com/aws-amplify/amplify-cli/issues/7661
* https://github.com/aws-amplify/docs/issues/3417

[2022-01-14 00:58] Rafcin commented on #9480
I don't wanna be that guy, but 7.6.9 gave me so funky IAM/OS errors :(
[code]

[2022-01-14 01:01] mattfysh commented on #9480
@Rafcin I don't think the fix has been released yet, 7.6.9 was released 21 hours ago, but the fix was only merged 9 hours ago

[2022-01-14 02:11] maxventer00 opened #9537 "An error occurred during the push operation: Template error: instance of Fn::GetAtt references undefined resource authtextbeerpwa."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2022-01-14 03:13] michaelbrewer opened #9530 "breaking changes when migrating to new rest api"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-14 04:56] GMerakis opened #10298 "Amplify pull updates cli.json with non-existing flags: project"
**Describe the bug**
I recently tried to push changes via cloudformation and failed.
Then I tried "amplify pull" to rever the local changes.
The command generated a line

`
"project": {
            "overrides": true
}`

which throws error when simply running amplify status

Invalid feature flag configuration

**To Reproduce**

**Expected behavior**
Do not add invalid flags

**Screenshots**
If appl

[2022-01-14 05:55] arledesma opened #9531 "Angular monorepo structure question"
**Which Category is your question related to?**

`N/A`

**Amplify CLI Version**

`7.6.9`

**What AWS Services are you utilizing?**

`N/A`

**Provide additional details e.g. code snippets**

I want to start with a couple of points

1. Amplify Console supports a [monorepo build spec](https://docs.aws.amazon.com/amplify/latest/userguide/monorepo-configuration.html) that provides for multiple amplify

[2022-01-14 07:55] shichi18 commented on #9502
@sundersc

Only updateUsers.
I don't think the other Table updates are working either.
Create, delete, and read are working.

I'm sorry. It's not possible to share in detail, but these was all generated and updated with amplify commands.
All have @model in GraphQL.

It is certified.
I've also done things like creating Cognito from code, and it works.
I can't do Update from Appsync.

By the way,
In

[2022-01-14 10:37] alberto115 opened #9532 "Invalid AttributeDataType input, consider using the provided AttributeDataType enum"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-14 10:52] pnedelko commented on #8868
@sundersc is it possible to update secret values via cli for an existing env?

[2022-01-14 10:56] yt-aidma opened #9533 "cannot deploy another env"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-14 12:31] PeteDuncanson commented on #9521
Lovely, thank you @sundersc :)

[2022-01-14 12:31] #9521 closed

[2022-01-14 14:10] PeteDuncanson opened #9534 "Up to date tips on using AppSync Offline in production"
I've been advised to use AppSync Offline rather than DataStore due to scaling issues we where hitting with DS.

We've spend quite some time swapping it all out in our project but now we have hit a new issue (again with scale).

It seems that AppSync Offline out of the box uses an in memory storage to act as the cache. We are using the generated GraphQL queries for speed of development and our mode

[2022-01-14 14:10] PeteDuncanson commented on #9534
Name dropping @josefaidt to follow on from yesterdays call with John the AppSync man :)

[2022-01-14 14:38] PeteDuncanson opened #9536 "OpenSearch mapping getting out of sync (drifting) with GraphQL schema, how to correct?"
**Which Category is your question related to?**

API and @searchable I guess.

We've been adding to our schema as we've been developing and we've noticed that at some point the @searchable results are no longer updating or at least are out of date. We've think this is due to our schema changing for some of the models we have @searchable set on.

This has caused a few questions and issues.

* Will

[2022-01-14 14:42] PeteDuncanson commented on #9536
If it helps here how I deleted the existing index:

[code]

And this is the mapping I created manually to add in via the devtools:

[code]

[2022-01-14 14:46] PeteDuncanson commented on #9536
I also have a nested type in there normally for location but that doesn't seem to be working either so while testing round I stripped it. My understanding is if ES gets sent a field it doesn't have a mapping for it will ignore it but I'm not 100% on that one, thats the hope anyway.

That did look like this:

[code]

Again that was complaining about converting longs to floats or visa versa, sadly I

[2022-01-14 15:49] cculler-bioskryb commented on #9532
I am also receiving this error. Rolling back to 7.6.8 fixed it.

[2022-01-14 15:53] cjihrig commented on #9533
Thanks @aleksey-shmatov. I'll close this as a duplicate.

[2022-01-14 15:53] #9533 closed

[2022-01-14 16:33] josefaidt commented on #9534
Hey @PeteDuncanson :wave: thanks for taking the time to file this! I'm going to transfer this over to the JS repo to get more eyes on it, and I'll ping you in Discord to see if we can set up a time to chat in the coming weeks with some of the JS folks 🙂

[2022-01-14 17:04] johnpc opened #9538 "Erroneous rollback message can show "rolling back 2 of 1""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-01-14 18:15] renebrandel commented on #1055
Hi @zirkelc - just catching up after all the holiday madness! Some comments on the approaches:
1. I think this might create a tiny bit of confusion for customers because `@function` is currently heavily associated with "Lambda". This will be harder to extend into other use cases where pure VTL (NONE), HTTP, or DDB datasources would be used.
2. I think this is a good approach for overriding complet

[2022-01-14 19:54] johnpc commented on #8494
@djwood what is the status of this? was @AaronZyLee's guidance sufficient to achieve your use case?