[2019-06-10 19:12] kaustavghosh06 commented on #1601
@nagey Could you please share your annotated schema?

[2019-06-10 19:32] matthiasotto opened #1636 "Inconsistent naming of S3 buckets"
**Describe the bug**
The way buckets are named is not consistent between `deployment` and `hostingBuckets`

**To Reproduce**
Create any environment via the Amplify CLI and publish it.

The deploy and hosting buckets will in inject the `environment name` at different positions in the bucket name making it harder than necessary to spot which buckets belong together. Example:
![image](https://user-im

[2019-06-10 19:41] #1372 closed

[2019-06-10 19:45] mikeparisstuff commented on #1458
@sprucify Yes the @key directive should help enable your use case. The 1MB limit relates to the maximum amount of data that can returned by a given Query. If the query specifies a max items limit that returns more than 1MB of data, then the results will be truncated to 1MB and you will get back fewer items than the limit provided.

[2019-06-10 20:29] yuth commented on #1628
@eelzinaty could you provide more details about the use case? Do you want to access the generated? GraphQL transformer exports the GraphQL API endpoint under and can be imported using the following in your nested stack
[code]

[2019-06-10 20:35] oliverandersencox opened #1637 "Modelling friends in Amplify"
With Amplify API I am trying to implement the abilty to add friends and store them under a user model. Something like this:

[code]

Amplify doesnt yet support many to many, and the solution of creating a join model pullls the following error:

[code]

Is there a particular approach with Amplify that could model friendships whilst also maintaining the ability to return the friend list within the u

[2019-06-10 20:49] kaustavghosh06 commented on #1633
@desokroshan @mlabieniec  Is the users use-case to add an existing user pool to the CLI for the Client to use?
If so, they can directly add it to their awsconfiguration.json file.
Note: The CLI won't overwrite it if there's no auth added through the CLI as well.

[2019-06-10 21:18] yuth commented on #1585
@wbroek @lanceharper during the initial push, what was the answer for `Enter the file name pattern of graphql queries, mutations and subscriptions`?

[2019-06-10 21:42] #1623 closed

[2019-06-10 21:52] janhesters opened #1639 "Queries return a lot of empty list with many users / items per table"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
DynamoDB, Cognito, GraphQL Transform
** Provide additional details e.g. code snippets **
I noticed when creating a schema using the `auth` directive the code that filters the item for the given owner of the query and item is in the resolver mapping of the corresponding model.

E.g.:

[code]

In the Dyn

[2019-06-10 21:52] kstro21 commented on #1526
Ok, I was able to reproduce it. I had to use the migrations shared by @wbroek. Now looking for the fix.

[2019-06-10 22:02] #1585 closed

[2019-06-10 22:11] desokroshan commented on #1633
The use case is to be able to add auth resources via cli without having to add user pools.

[2019-06-10 22:20] #1587 closed

[2019-06-10 22:49] kaustavghosh06 commented on #1620
@awsed  Added this is a part of PR - #1641
This enhancement would be present in the next version of the CLI.

[2019-06-10 22:49] #1620 closed

[2019-06-10 23:37] kaustavghosh06 commented on #1633
@desokroshan Like add identity pool without adding user pool?

[2019-06-10 23:37] kaustavghosh06 commented on #1633
@pai911 Are we understanding your use-case correctly?

[2019-06-10 23:52] desokroshan commented on #1633
Exactly

[2019-06-11 04:06] #1625 closed

[2019-06-11 05:12] komushi commented on #1625
Thanks a lot. I also tried "amplify env import" which works as well.

Just realized that it was needed to copy contents from amplify/current-cloud-backend to amplify/backend to sync it up manually

[2019-06-11 07:35] fatjoni opened #1646 "Cannot import graphql autogenerated files"
**Describe the bug**
A clear and concise description of what the bug is.
The graphql folder that is auto generated with queries, mutations and subscriptions cannot be imported to an angular project (angular 7). It throws module not found. Maybe is due to the fact that the generated file exports nothing.
**To Reproduce**
Steps to reproduce the behavior:
1. amplify add api
2. Try to import from grap

[2019-06-11 07:35] eelzinaty commented on #1620
I think the problem is related to the parameter name if you show me the error that causes the stack failure I could help to resolve that.

[2019-06-11 07:41] eelzinaty commented on #1628
That would work if I'm initializing the parameter in other stacks like function's stack. But if I want to access this within GraphQL custom stack it will not work, as the parameter is not exported yet.

[2019-06-11 09:29] oliverandersencox opened #1643 "Amplify elastic search domain not found"
**Describe the bug**
I am following the guide here: https://aws-amplify.github.io/docs/cli/graphql#key

On adding custom resolvers for elastic search based of location. I have everything set up and then went to add the resolvers exactly as described.

I used 'aws es list-domain-names' to get the domain of the elastic search and then on push get this error:

Event Type: create
Reason: No data sourc

[2019-06-11 09:40] David-dp- opened #1644 ""No changes detected" after yarn build"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

push/publish

** What AWS Services are you utilizing? **

S3, CloudFront

** Provide additional details e.g. code snippets **

I'm able to "yarn start" and "yarn build" but "amplify push" says "No changes detected" even though I've edited my src/ an

[2019-06-11 12:28] im-dnsosso commented on #1084
I'm still having some issue. the @key directive only creates indexes on "not null" and it should be an existing field. Is anyone knows how can I create an index on the `budgetCategoryParentId` in this type: `type BudgetCategory @model {
  id: ID!
  title: String!
  items: [BudgetItem]! @connection(name: "BudgetCategoryItems")
  children: [BudgetCategory]!
  parent: BudgetCategory @connection(name:

[2019-06-11 15:25] am-a opened #1647 "Error Configuring on WSL"
**Describe the bug**
Using `amplify configure` on WSL without `cmd.exe` in your path will not work and throws an error which kills the process. I believe this is because the CLI is attempting to open the brower using the `opn` library @v5.3.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure windows path is _not_ in available in WSL by editing wsl.conf in /etc/wsl.conf
[code]
2. In WSL

[2019-06-11 16:43] HoraceShmorace commented on #1576
This feels more like a workaround than a solution. The moment you have to change something outside of Amplify (and hence, outside of CloudFormation), your stack drifts, and you have to remember that manual step for every new deployment. That's a no-go for us here, and now I've wasted my team's time, because we have to go back and include logic to allow/deny access to resources in our app code (via

[2019-06-11 17:33] #1458 closed

[2019-06-11 17:38] yuth commented on #1628
In nested stack, you can access to the GraphQL API endpoint by using a parameter. The transformer automatically passes the needed parameter to the child stack. Add the following to your custom stacks parameter section
[code]

[2019-06-11 18:16] yuth commented on #1644
@David-dp- what version of Amplify CLI did you use when initializing the project?

From the error message, it looks like your project may have some missing config file. Could you try configuring your project once again by running `amplify configure project`.

If the above command does not work could you share the content inside your `<proj-root>/amplify/.config/project-config.json`

[2019-06-11 18:29] yuth commented on #1646
@fatjoni Did you push API changes to the cloud? Also could you share the content in your `<proj-root>/.graphqlconfig.yml`. Please obfuscate sensitive information before sharing it

[2019-06-11 19:34] amcdnl commented on #1322
OK - I'm trying to get this working and not having any luck... Maybe one of you have an idea:

Here is my Circle Config:
[code]

here is the scripts I'm using:

[code]

and

[code]

and my versions are:

[code]

[2019-06-11 19:41] yuth commented on #1647
@am-a I could not reproduce this even after setting `appendWindowsPath` to `false`. Do you have any specific browser installed?

[2019-06-11 20:04] yuth commented on #978
@johnford2002 https://github.com/aws-amplify/amplify-cli/commit/426acbf121e1d6ba5e62f15dc1c295c6b7c79fa9 should fix the general config level. This change was released in @aws-amplify/cli@1.7.1. Please comment if the issue still persists.

[2019-06-11 20:06] yuth commented on #1614
@aws-amplify/cli@1.7.1 has the fix

[2019-06-11 20:07] yuth commented on #1595
@aws-amplify/cli@1.7.1 has the fix

[2019-06-11 20:07] yuth commented on #1585
@aws-amplify/cli@1.7.1 has the partial fix. Please comment/re-open if you still can reproduce this

[2019-06-11 20:46] David-dp- commented on #1644
Thanks for responding so quickly, yuth.

I manually-edited project-config.json to change the npm start/build commands to what I thought the yarn equivalents should be; I couldn't find any guidance online. When I try to fix that, I get this error:

{project root}$ amplify configure project
Error occured during configuration.
{ Error: ENOENT: no such file or directory, open '/mnt/e/{project root}/am

[2019-06-11 20:51] yuth commented on #1644
From the error it looks like your project is missing `{project root}/amplify/.config/local-env-info.json` which we added in Amplify CLI v1. Did you initialize your project with older version of CLI?

You can run `amplify configure project` to update these start and build command.

[2019-06-11 21:01] am-a commented on #1647
No specific browser - `"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"`;

Does running `cmd.exe` work from your command line within WSL? Does launching the browser work?

[2019-06-11 21:05] David-dp- commented on #1644
The engineer who setup the project might have originally used a cli earlier than v1, but I have...

webview-dev$ yarn list @aws-amplify/cli
yarn list v1.16.0
warning Filtering by arguments is deprecated. Please use the pattern option instead.
└─ @aws-amplify/cli@1.7.1

[2019-06-11 21:11] am-a commented on #1647
@yuth:
[code]

Looks like pretty much the same error

[2019-06-11 22:12] swaminator commented on #1322
The Amplify Console has a script that simplifies the CI process using the Amplify CLI. Check this out: https://gist.github.com/swaminator/7408de774e24ecf031d0d9928f1fbae5

[2019-06-11 23:37] jkeys-ecg-nmsu commented on #1557
I was confused as to which policy AppSync was using. So why did we go from getting empty items lists to getting items back from Dynamo without any other changes? A mystery for another time I suppose. Thanks.

[2019-06-11 23:37] #1557 closed

[2019-06-11 23:58] am-a commented on #1647
Probably could be resolved if this is fixed - I'll try to come up with a PR: https://github.com/sindresorhus/open/issues/106

[2019-06-12 01:13] amcdnl commented on #1322
@swaminator - Can you share how that might look in the circle setup?

[2019-06-12 04:21] #1621 closed

[2019-06-12 04:51] blairtaylor opened #1649 "During "amplify add api" command line processing, process exists prematurely"
Bug:

During "amplify add api" command line processing, process exists prematurely

To Reproduce

select "GraphQL"
enter API name
choose authentication type: Amazon Cognito User Pool

The list of options is then displayed but the processing drops to a command line prompt.

**Expected behavior**
Continue processing to create Amplify API

**Screenshots**
Please see screenshot showing the issue.

OS

[2019-06-12 04:52] kaustavghosh06 commented on #1649
Which node version do you have on your system currently?

[2019-06-12 04:54] blairtaylor commented on #1649
node version is v10.10.0

[2019-06-12 05:32] gitzhouxinyu1 commented on #401
Any updates?

[2019-06-12 05:55] gitzhouxinyu1 commented on #617
But isn't that meaning that everytime you update the api, you can't let the cli do the transform for you (since it will modify your previous choices), or let the cli do the transform and edit back the previous changes?

[2019-06-12 08:00] janhesters commented on #1617
Possible duplicate of https://github.com/aws-amplify/amplify-cli/issues/997.

[2019-06-12 08:03] janhesters opened #1650 "Access user making the request in a Lambda function"
** Which Category is your question related to? **
API, Auth
** What AWS Services are you utilizing? **
Lambda, Cognito
** Provide additional details e.g. code snippets **
How can you access the current user in a Lambda function? I'm trying to connect my Lambda function to my AppSync API. I need to know the current user in order to access the API. How would you do that?

[2019-06-12 08:18] fatjoni commented on #1646
Here it is the .graphqlconfig.yml

projects:
  carsApiDev:
    schemaPath: src\graphql\schema.json
    includes:
      - src\graphql\**\*.graphql
    excludes:
      - ./amplify/**
    extensions:
      amplify:
        codeGenTarget: angular
        generatedFileName: src\app\API.service.ts
        docsFilePath: src\graphql
Attached is the error, no matter what i try to import it shows module not

[2019-06-12 11:38] eelzinaty commented on #1628
I tried that but it did not work, the value is undefined. I might not explain my case in a good way.

I want to add a custom stack under my GraphQL API inside `stacks` folder. And from this new stack, I want to access the GraphQL Endpoint. The problem when I try to access the exported value the stack failed because the value is not exported yet. I'm using amplify version 1.7.0.

[2019-06-12 12:00] eelzinaty commented on #1628
I think this parameter is not generated by the transformer. I check the code in this [file](https://github.com/aws-amplify/amplify-cli/blob/6ac2273bacb78627d4a357ac13c7f3badfb1475b/packages/graphql-transformer-core/src/util/amplifyUtils.ts#L124) and for custom stacks, it only processes `AppSyncApiId`.

I'm not sure if I should make a fork and change the code then make a PR or I should wait for thi

[2019-06-12 12:20] janhesters commented on #1650
Okay, here is what I tried so far and what fails to work.

1. `amlify init`
2. `amplify add auth`, then create a new user in the cognito console
3. `amplify add api` add a function using the REST template and modify the post function's repsonse like this:

[code]
4. Configure a [custom header](https://aws-amplify.github.io/docs/js/api#custom-request-headers) like this in `index.js`:

[code]

5. An

[2019-06-12 13:13] sprucify opened #1651 "CloudFormation cannot update a stack when a custom-named resource requires replacing when using @key"
Can I use @key on an existing table with data?
Because when I add a @key field to my model I get:
` CloudFormation cannot update a stack when a custom-named resource requires replacing.`
and the CloudFormation is rolling back.

The table has over 2k items of data in it, so dropping the table is not a good option

[2019-06-12 13:24] janhesters commented on #1639
Okay, I made an example to make sure this is the actual behavior and *it confirms it*.

1. `npx create-react-app myapp && cd myapp && yarn add aws-amplify`
2. `amplify init`
3. `amplify add auth`
4. `amplify add api` choose simple todo schema.
5. Create two users in the Amplify console
6. Configure Amplify in `index.js`
7. Modify `App.js` to reflect the following

[code]

8. Log in with the first

[2019-06-12 14:37] meetrij commented on #574
@mikeparisstuff There is on issue related to resolver, during my initial amplify push i got a resolver against a field which I mentioned in schema as @connection. After that I deleted that resolver and no longer needed against that field. But when I do the amplify push i used to get error like there is no resolver against that field. Then I will attach template before push to get rid of these erro

[2019-06-12 14:40] aehringer opened #1652 "amplify push creating rather than updating a table"
** Which Category is your question related to? **
graphql-transform, cloudformation, amplify push

** What AWS Services are you utilizing? **
dynamodb, amplify api

** Provide additional details e.g. code snippets **
I'm getting this failure after I try to push an updated api schema with just one extra (empty) line.
I see that it is failing because it is trying to create a table that already exist

[2019-06-12 15:38] YikSanChan commented on #1617
Close in favor of #997

[2019-06-12 15:38] #1617 closed

[2019-06-12 16:00] MartinTechy commented on #582
@Jexim Have you tried it ? It seems like a good solution if you want to work with a team and with multiple clients.

[2019-06-12 17:43] yuth commented on #1644
@David-dp- if the project is initialized with older version of Amplify we automatically migrate it. You could manually kick off the migration by running `amplify migrate` as [documented](https://aws-amplify.github.io/docs/cli/migrate). Please respond back in this issue if the migration fails

[2019-06-12 17:56] yuth commented on #1652
@aehringer could you share what change you made to your schema. A minimal repro repo would make it a lot faster for us to diagnose the issue

[2019-06-12 18:04] yuth commented on #1649
@blairtaylor could you try using CLI with [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10)

Whats the version of Amplify CLI do you have installed? You can get the version by running `amplify -v`

[2019-06-12 18:11] yuth commented on #1646
@fatjoni do you see any error when you run `amplfy codegen statements`. Could you also try to change includes from `src\graphql\**\*.graphql` -> `src/graphql/**/*.graphql` and see if that changes anything

[2019-06-12 18:37] aehringer commented on #1652
I added an empty line.
Before:
type User
	@model
	@searchable
	@versioned
{
	id: ID!
	savedPlaces: [SavedRestaurant] @connection(name: "User_SavedRestaurant")
}

type SavedRestaurant @model(queries: null) {
	id: ID!
	user: User! @connection(name:"User_SavedRestaurant")
	restaurant: Restaurant! @connection
}

type Restaurant
	@model
	@searchable
	@versioned
{
	id: ID!
	name: String!
	googleId: Stri

[2019-06-12 19:33] blairtaylor commented on #1649
Amplify version is 1.7.2. I will try via WSL.

[2019-06-12 20:29] aehringer commented on #1652
More info:
My AppSync console shows that the mutations for updating/deleting/creating a SavedRestaurant exist. But now none of these work in my app.
When attempting to create a SavedRestaurant, this is what is returned:
Object {
  "data": Object {
    "createSavedRestaurant": null,
  },
}

I'm using the createSavedRestaurant from src/mutations.

[2019-06-12 21:29] hisham commented on #1043
Can @auth support be extended to S3Objects (storage) category? Last time I checked the storage category (https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-category-storage/Readme.md) creates 3 folders - private, protected, and public. Objects in private are only accessible to the user who uploaded them. Protected is accessible to any authenticated user, and public is public a

[2019-06-12 21:59] calspre commented on #1576
@undefobj Will API key be automatically renewed when it's expired?

[2019-06-12 22:55] yuth commented on #1621
Fix has been released in @aws-amplify/cli@1.7.3

[2019-06-13 00:07] David-dp- commented on #1644
Thank you very much for pointing me to 'amplify migrate'. When I tried it, I had a couple issues:

1) The migrate page says "Note: The CLI would also prompt you to migrate your project when running any other amplify CLI commands on an older project after installing the new version of the cli," but I didn't see any prompts of that kind, so I think there's a bug in the cli. I shared my project as a

[2019-06-13 00:25] yuth commented on #1644
@David-dp- thank you for sharing your project config files. I will investigate why you were not prompted to migrate.

From the logs I see that you have there a bunch of things missing. Could you check if the following files are present inside `<proj-root>/amplify/.config`
- local-aws-info.json
- local-env-info.json
- project-config.json

If those are missing could you try to run `amplify configure

[2019-06-13 00:28] blairtaylor commented on #1649
- installed WSL
- installed Ubuntu
- installed node (8.10.1) & npm (3.5.2)

- throws the following error (seems to be spawning cmd to launch the AWS site):

Follow these steps to set up access to your AWS account:

Sign in to your AWS administrator account:
https://console.aws.amazon.com/
Press Enter to continue
2019-06-12T23:15:56.142Z - error: uncaughtException: spawn cmd.exe ENOENT date=Wed Jun

[2019-06-13 00:29] David-dp- commented on #1644
Thank you. Here's the info you asked for...

webview$ ls -l amplify/.config/
total 0
-rwxrwxrwx 1 vada vada  90 Jun  3 12:18 aws-info.json
-rwxrwxrwx 1 vada vada 482 May 29 14:45 project-config.json

[2019-06-13 01:06] dennisAWS opened #1654 "AmplifyCLI not working with MFA-enabled IAM Role with Yubikey security key"
Attempting to utilize the "assume role" (with MFA enabled using a YubiKey security key) feature of the Amplify CLI. Followed these instructions here:
https://aws-amplify.github.io/docs/cli/init#assuming-an-iam-role

The CLI

**Describe the bug**
The CLI attempts to init and sees that I have assume role with MFA but it appears to be only looking for a 6-digit passcode. I'm using a Yubikey 5C and th

[2019-06-13 01:21] yuth commented on #1644
In your shared zip file, `amplify/.config` folder is missing. Was it missing originally as well? If those files are missing, Amplify CLI can not detect if project needs migration.

To unblock you could you paste the following to your `<project-root>/amplify/.confg/local-env-info.json` and try running `amplify configure project`
[code]

[2019-06-13 01:26] yuth commented on #1649
This might be similar to https://github.com/aws-amplify/amplify-cli/issues/1647

[2019-06-13 01:28] UnleashedMind commented on #1654
@dennisAWS
According to this document:
https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html

The MFA TokenCode can only be of length 6.

[2019-06-13 01:58] David-dp- commented on #1644
Sorry about that; Winzip left out the dot files. I've uploaded a corrected zip to the Case.

I tried your local-env-info.json, including setting the project-name, but it fails like earlier in this thread:

webview$ amplify configure project
? Enter a name for the project webview
? Choose your default editor: Atom Editor
? Choose the type of app that you're building javascript
Please tell us about

[2019-06-13 03:52] calspre opened #1656 "@key vs. @connection"
**Which Category is your question related to?**
API

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
When should I use `@connection` as opposed to  `@key`? It seems to me I can do many-to-many or one-to-many relationship using both directives. Is `@key` meant to replace `@connection`? Or would there be a specific use case where `@connection` migh

[2019-06-13 04:14] blairtaylor commented on #1649
Additional diagnostic info. This issue only occurs when authorization type for the API is "Amazon Cognito User Pool". If I choose "API key" as authorization type, processing continues normally. I am running the command prompt as administrator.

[2019-06-13 04:16] yuth commented on #1644
Could you update the following files with content pasted. Apologies that you have to do these manually. I pasted the wrong content in my earlier comment.

`<project-root>/amplify/.confg/local-env-info.json`
[code]
`<project-root>/amplify/.confg/project-config.json`
[code]
`<project-root>/amplify/.confg/local-aws-info.json`
[code]

Now try to run `amplify configure project` and see if that helps

[2019-06-13 04:40] yuth commented on #1649
@blairtaylor do you see any additional error when CLI stops? Especially when adding "API" with "Amazon Cognito UserPool"

[2019-06-13 05:22] blairtaylor commented on #1649
No. As per the initial screenshot, it simply drops to the command line.

[2019-06-13 07:54] pai911 commented on #1633
@desokroshan @kaustavghosh06

Yes, in my app, we only use identity pools (Facebook, Google, Developer Authenticated)

However, the current CLI seems to force me to config a user pool.

Currently, is there a way to workaround this?

(After configuring with CLI, delete related user pool config manually)

[2019-06-13 08:19] janhesters commented on #684
@kaustavghosh06 How can you access the DynamoDB table generated using `amplify add api`? I it seems like you can only access tables that are generated by `amplify add storage`.

**PS:** I tried reverse engineering how Amplify adds environment variables. I created a Lambda function using the `rest` template` and one using the `crud` template. I then looked at their respective `{name}-cloudformation

[2019-06-13 08:29] janhesters commented on #689
@kaustavghosh06 Is there any documentation on how to use e.g. the AppSync API from your Lambda function?

[2019-06-13 08:34] janhesters commented on #1639
**Another Update:**

The reverse works too and shows even better the problem. Follow all steps of my previous comment, but have the second user create his item first, then have the first user create his 1000 items. Now if the second user tries to do a list query it is empty just returning a `nextToken`.

[2019-06-13 09:02] David-dp- commented on #1644
There are still problems. I provided details in the Case, and a new zip.

[2019-06-13 09:36] iselcuk opened #1657 "using createdAt as a sortKey in @key directive results mandatory id and createdAt fields in CreateItemInput and CreateItem mutation in GraphQL Transform"
In GraphQL Transform, transforming a schema that includes `@key` directive like: `@key(fields: ["id", "createdAt"])` forces to make key fields non-nullable and that results with mandatory `id` and `createdAt` fields in `CreateItemInput`. Since `CreateItemInput` has these mandatory fields, it is a must to pass `id` and `createdAt` to `createItem` mutation.  I want `createdAt` to be handled by autom

[2019-06-13 09:44] oliverandersencox commented on #1643
So for anyone else having this issue - it turns out you must leave this:

`  "DataSourceName": "doin-io-elas....",`

as

`  "DataSourceName": "ElasticSearchDomain",`

Amplify has all the parameters sorted already

[2019-06-13 11:12] bakeruk opened #1658 "Enable HTTP/2 protocol support"
Hi,

I've noticed whilst doing a Lighthouse audit of my site that the `HTTP/2` protocol is not enabled out-of-the-box with Amplify.

Currently all comms with Amplify use the `HTTP/1.1` protocol. I'm guessing this has not been enabled via the CloudFront distribution?

Is it possible to enable `HTTP/2` protocol support for Amplify or give me access to the CloudFront distribution so that I can enable

[2019-06-13 15:25] kmfreas opened #1659 "Amplify console build failure notification/hook"
Amplify Console

Auth/Storage/Console

I'm using amplify console as our CI/CD system but I'm having a hard time finding features in it that are available in other alternatives like CircleCI. My problem right now is trying to create a build complete/failed webhook for slack. It works ok for complete if I put it in frontend postBuild. But obviously if a step fails beforehand it never gets to that po

[2019-06-13 15:37] blazinaj commented on #1043
+1 for this. I have a use case that I need to control S3 access based on the same Cognito/Auth Groups that govern my API access. I need Admin level access, group level access, or individual level access based on logged in user. I'm trying to set up S3 Bucket policies based on Cognito User Pool groups but I'm having to do it manually at the moment.

[2019-06-13 16:54] yuth commented on #1651
@sprucify could you share the Model before and after the change

[2019-06-13 16:56] yuth commented on #1647
This has been fixed in https://github.com/aws-amplify/amplify-cli/pull/1655

[2019-06-13 17:01] mikeparisstuff commented on #1643
The name of the AppSync data source that points to the elasticsearch domain is named "ElasticSearchDomain" by default. Any custom resolvers may reference the data source by that name.

[2019-06-13 17:01] #1643 closed

[2019-06-13 17:21] SwaySway commented on #1541
Hi @macs91 I'm able to create a folder using the following mutation request.
[code]
Could you provide the mutation request which gives this error?

[2019-06-13 17:27] mikeparisstuff commented on #1639
@janhesters Yes when building applications on DynamoDB you need to build support for your access patterns into your table design. If you need to look up objects based on some "ownership" attribute for example, then you should create a `@key` that uses that attribute and enables the access pattern. The @auth checks occur in the response mapping template because it makes the implementation data sour

[2019-06-13 17:30] mikeparisstuff commented on #1656
Hey @calspre, the `@connection` directive will not be going away but we are considering a new directive that enables many of the same use cases but is built upon `@key`. The `@connection` directive abstracts away the underlying index configuration and indexes cannot be changes in significant ways after being created. Abstracting the index configuration away led to confusion and errors. Using @key

[2019-06-13 17:38] oliverandersencox opened #1660 "AWSTimestamp serialization error with elastic search"
I have used the AWS tutorial on creating a geo distance query with Amplify api which works fine when my createdAt field is a string. However I need to filter by createdAt and order by and so changed the type to AWSTimestamp

Once this was done the search fails with the error saying 'Unable to deserialise createdAt'

How can I sort this error?

This is the code I copied to make it work initially:

[2019-06-13 17:50] mikeparisstuff commented on #1652
@aehringer Thank you for the information. It looks like this is related to an issue with an internal mechanism that splits resources into nested stacks. The issue arises when types share a common part of their name e.g. `Restaurant` and `SavedRestaurant`. I have a fix for the issue with the internal mapping but am working on exposing an interface that mitigates the issue for any existing environme

[2019-06-13 17:57] mikeparisstuff commented on #1628
@eelzinaty This is not supported yet but the file you pointed to is the exact place to make it happen. AppSync GraphQLApi resources allow you to use `Fn::GetAtt` with the value **GraphQLURL** to get the url (see https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-appsync-graphqlapi.html). We can add this to the backlog but would also be happy to review a PR :)

[2019-06-13 17:58] lanceharper commented on #689
how does one access environmental variables outside of those generated by amplify such as for third party services such that can be stored in the SSM parameter store? https://serverless.com/framework/docs/providers/aws/guide/variables/ is a good execution of what I hope is exposed by Amplify.

[2019-06-13 18:09] aehringer commented on #1652
@mikeparisstuff ok, do you have an idea of the timeframe for that? Thanks!

[2019-06-13 18:10] lanceharper commented on #1577
Same here.

[2019-06-13 18:15] kaustavghosh06 commented on #1577
@lanceharper Which version of the CLI are you using?

[2019-06-13 18:16] lanceharper commented on #1577
1.7.0

[2019-06-13 18:17] kaustavghosh06 commented on #1577
Please update to the latest version. We’ve fixed this in our latest patch.

[2019-06-13 18:19] lanceharper commented on #1577
👍

[2019-06-13 18:19] lanceharper commented on #1577
is there a way to specify secrets in env variables using the cli?

[2019-06-13 18:22] kaustavghosh06 commented on #1577
You can modify the Lambda Cloudformation file to pass anything custom you would like as environment variables. The file is located in ‘amplify/backend/function/<function-name>’ directory.

[2019-06-13 18:37] lanceharper commented on #1577
I would prefer to keep these out of the codebase since they are secrets. Something similar to what the serverless framework does: https://serverless.com/framework/docs/providers/aws/guide/variables/

[2019-06-13 18:43] yuth commented on #1644
If you haven't made any changes to your backend resources, you would see "No change detected".

From the logs you pasted in Support case it looks like you don't have required dependecies installed in your project. Could you run `yarn` or `npm install` in your project directory before doing `amplify publish` so that all the needed node dependencies get installed

[2019-06-13 20:01] mikeparisstuff commented on #1630
@boreview The reason for this is that, in the future, we would like to allow auth rules to be composed with and/or expressions in the future and some of the information necessary to evaluate a boolean expression composed of static & dynamic rules would not be available until the data was fetched. It is possible to encode some of these authorization checks as filter expressions but this is not gene

[2019-06-13 20:29] yuth commented on #1658
@bakeruk according to the [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-distribution-distributionconfig.html) cloudfront by default enables HTTP 2

    (Optional) Specify the maximum HTTP version that you want viewers to use to communicate with CloudFront. The default value for new web distributions is http2. Viewers that don't support HTTP/2 autom

[2019-06-13 21:19] warrenmcquinn commented on #1651
Just chiming into say that I ran into this issue as well.

Here's the model pre-key:
[code]

and after:
[code]

CF rollback occurred. Thankfully this is on a prototype, so I'm able to delete the resource and redeploy, but I would hope there's a way forward for others who have nonfungible DBs.

[2019-06-13 23:08] David-dp- commented on #1644
1) If I make edits under src, I would expect that amplify push would notice. Or maybe only amplify publish will?

2) I re-ran npm install and ran into problems. Please see the trace attached.
[2019-06-14_npmInstallInWebviewFails.log](https://github.com/aws-amplify/amplify-cli/files/3288382/2019-06-14_npmInstallInWebviewFails.log)

3) My second zip file reflects changes I made using the manual edit

[2019-06-13 23:43] yuth commented on #1644
No. `src` is for frontend resources, which are published. Amplify CLI considers only changes in your `amplify/backend` folder as changes that needs to be pushed. Publish looks at `DistributionDir`, which in your project happens to be `<proj-root>/build`. When you run `amplify publish`, amplify runs the `build command` that you set for your project and your build command should move any updated con

[2019-06-14 00:46] sacrampton commented on #162
I am having a problem with Template Limits. I have a large number of models & connections so the "ConnectionStack.json" is generating more than 200 Resources in in this file, which in turn exceeds the CloudFormation limit of 200 Resources in a template.

I have tried to split is file into two by editing the cloudformation-template.json to have a "ConnectionStack" and "ConnectionStack01" pointing t

[2019-06-14 01:24] David-dp- commented on #1644
Hmm, I thought when I filed this issue that it would be clear that I'm only
trying to update src and get that deployed. Everything I've read about
amplify led me to think push or publish was the way to deploy. Would you
point me to the docs about how to deploy a frontend from a src build?

On Fri, 14 Jun 2019, 11:43 am Yathiraj, <notifications@github.com> wrote:

[2019-06-14 02:58] David-dp- commented on #1644
So...if it's possible tomuse yarn instead of npm, and deploy that frontend
using our current aws method, that would remove a major obstacle.

[2019-06-14 05:06] DrawnWren opened #1665 "Amplify opens incorrect file for editing wh)en using a basic lamba event handler"
**Describe the bug**
When using only the basic Lambda handler (i.e. event.handler = function(event,context) {} in index.js), ``amplify function update`` opens app.js (a nonexistent, empty file) for editing

**To Reproduce**
Steps to reproduce the behavior:
1. ``amplify function add``
2. Use basic hello world handler
3. ``amplify function update``
4. select same function

**Expected behavior**
``am

[2019-06-14 05:52] corwinm commented on #1651
Also just ran into this. Not a big deal for my situation but interested where this ends up going.

[2019-06-14 05:58] calspre commented on #1656
Thanks @mikeparisstuff for the response.

Is it safe to assume that `@connection` will be there for backward compatibility but `@key` will be a more flexible, recommended way for index configuration (since you are considering a new directive that's built on `@key`)?

Are you referring to [this section](https://aws-amplify.github.io/docs/cli/graphql#evolving-apis-with-key)?

If `@key` is a recommen

[2019-06-14 06:08] vishwakalyanaraman opened #1662 "Unexpected token < in JSON at position 2"
**Describe the bug**
During the execution of `amplify-init` the console returns an error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/dakshjotwani/Finder.git
2. `cd finder_app`
3. `git checkout UI` and run `amplify-init`

**Expected behavior**
Successful initialization of the project

**Desktop (please complete the following information):**
 - OS:

[2019-06-14 06:16] kaustavghosh06 commented on #1662
@vishwakalyanaraman The `backend-config.json` seems to be corrupted in the amplify/ directory. I don't seem to have access to https://github.com/dakshjotwani/Finder.git, so I can't take a look at the structure of that file.

[2019-06-14 06:20] vishwakalyanaraman commented on #1662
Hi there. Could I have your git ID so I can add you as a contibutor so you
can take a look at it? Thanks.

On Jun 14, 2019 at 11:46 AM, <Kaustav Ghosh <notifications@github.com>>
wrote:

@vishwakalyanaraman <https://github.com/vishwakalyanaraman> The
backend-config.json seems to be corrupted in the amplify/ directory. I
don't seem to have access to https://github.com/dakshjotwani/Finder.git, so
I

[2019-06-14 06:20] kaustavghosh06 commented on #1662
kaustavghosh06

[2019-06-14 06:26] vishwakalyanaraman commented on #1662
I've finally found the issue. There was an unmentioned merge conflict in
backend-config.json. The '<' character was a part of the HEAD and that was
causing the issue. Thanks for the help!

On Fri, Jun 14, 2019 at 11:50 AM Kaustav Ghosh <notifications@github.com>
wrote:

[2019-06-14 06:27] #1662 closed

[2019-06-14 06:27] DrawnWren opened #1663 "amplify function update incorrectly opens wrong file for editing"
**Describe the bug**
When using only the basic Lambda handler (i.e. event.handler = function(event,context) {} in index.js), ``amplify function update`` opens app.js (a nonexistent, empty file) for editing

**To Reproduce**
Steps to reproduce the behavior:
1. ``amplify function add``
2. Use basic hello world handler
3. ``amplify function update``
4. select same function

**Expected behavior**
``am

[2019-06-14 06:34] #1663 closed

[2019-06-14 09:00] janhesters commented on #1639
@mikeparisstuff  Yes, that makes sense. I just suspect that people using Amplify might run into these problems, not understanding while it behaves the way it does. Which is why I think it might be more future proof to rewrite the auth checks from using the `velocity` templates' logic to using DynamoDB's `filter` alongside moving `nextToken` to just reflect `LastEvaluatedKey`.

Because as far as I

[2019-06-14 10:33] sprucify commented on #1651
My pre-key model with table that contained data:
[code]

after

[code]

[2019-06-14 10:40] sprucify commented on #1660
It probably has to do with this PR #1483
AWSTimestamp wasn't a Number

[2019-06-14 11:28] bakeruk commented on #1658
Excuse this ticket. My tooling was showing connections as `HTTP/1.1` however after changing to another, connections show up as using the `HTTP/2` protocol.

Many thanks for the quick response!

[2019-06-14 11:28] #1658 closed

[2019-06-14 11:31] sudilshr commented on #1651
Having same issue after adding @key on existing table.

[2019-06-14 13:51] damianrr opened #1666 "Integration in multi-env and multi-branch project"
** Which Category is your question related to? **

Handling multiple environments and multiple branches

** What AWS Services are you utilizing? **

Amplify

** Provide additional details e.g. code snippets **

Hello, I have a project with a couple of environments linked to a couple of git branches (dev -> dev, prod -> master). I develop features in dev branch (and push to amplify dev branch), and

[2019-06-14 16:03] awsed opened #1667 "“Bucket already exists” when deploying with Amplify Console"
I noticed there’s a “bucketName" parameter in "amplify/backend/storage/xxxxxx/parameters.json” which means it'll always create a bucket with the same name. I get a “bucket already exists” error when trying to deploy a project in the Amplify Console.

The background is that my amplify project has file storage and I want to share my app using the Amplify Console "One-Click Deploy Button". I can dele

[2019-06-14 17:06] yuth commented on #1651
When `@key` directive is used with out the name argument, GraphQL transformer treats it as a primary index. For an existing model which did not use any `@key` directive, transformer would have already created the primary index.

If you're editing a model which is already pushed, I would recommend you give a name to your `@key` directive as updating the primary index in Dynamo DB is not supported

[2019-06-14 17:12] yuth commented on #1644
Amplify CLI works with both Yarn and NPM. The issue you encountered is not specific to the packaging system, but might an issue with our migration scripts. I am trying to reproduce migration failure, but haven't been able to do that.

Have you managed publish the changes successfully ?

[2019-06-14 19:34] kaustavghosh06 commented on #1665
Fix for this has been merged and would be a part of our next release.

[2019-06-14 19:34] #1665 closed

[2019-06-14 19:47] swaminator commented on #1659
Have you checked out the Email notification feature? It's actually an SNS topic which you can subscribe to. You can use that SNS topic to kickoff a Slack notification: https://medium.com/cohealo-engineering/how-set-up-a-slack-channel-to-be-an-aws-sns-subscriber-63b4d57ad3ea

[2019-06-14 20:36] David-dp- commented on #1644
Almost all my calls to 'amplify publish' (after successful yarn start and
yarn build) result in ENOENT of some kind.

I have tried installing @aws-amplify/cli via npm as global, npm as local to
the project, and via 'yarn global add'. I'm not sure of the significance of
the '@' and whether it should have been included in the latter variants.

I do recall once not getting an error, but there was no

[2019-06-14 20:45] kaustavghosh06 commented on #1644
@David-dp- Can you try running your app locally and see if you encounter this error? (Using `npm start` or whatever run command you use to start the app locally.)

[2019-06-14 21:07] David-dp- commented on #1644
@kaustavghosh06 I've been able to run yarn start successfully many times. Right now it has an error due to a src change I've made, but otherwise it's worked fine. FWIW, this is in sister project webview-dev, created at the same time as the prod project shared to the case, webview. They have nearly identitcal backends. In order to stay close to your site's instructions, I've used npm instead of yar

[2019-06-14 21:10] kaustavghosh06 commented on #1644
@David-dp- Also, locally can you check if you can run `npm run-script build` & `npm run-script start` successfully after fixing errors in your `src`?

[2019-06-14 21:12] David-dp- commented on #1644
I think you're asking me to do that in webview, because I would expect it to fail in webview-dev where node_modules was populated by yarn install.

[2019-06-14 21:48] yuth commented on #1644
From your applications point of view both `npm install` and `yarn install` should not change anything. Both of them install the dependencies of your project and they `npm run-script build` and `npm run-script start` should work fine.

Do you get the same error as you attached earlier? If not could you include the error

[2019-06-14 22:49] David-dp- commented on #1644
I just asked the npm project for help: https://npm.community/t/what-is-the-recommended-way-of-installing-for-windows-subsystem-for-linux-wsl/8219

vada@Lemuria:~$ cd /mnt/e/[deleted]/webview
vada@Lemuria:/mnt/e/[deleted]/webview$ npm run-script build

sh: 1: react-scripts: not found

npm ERR! Linux 4.4.0-17134-Microsoft
npm ERR! argv "/usr/local/bin/node" "/usr/bin/npm" "run-script" "build"
npm ER

[2019-06-14 23:48] DavidNelsonCordelia opened #1677 "Amplify Console build issue. Missing Asset files"
**Describe the bug**
I am missing some static files added to my web site when using the amplify console.   A normal build includes the files.

**To Reproduce**
Steps to reproduce the behavior:
1. push new code into git
2. Wait for the site to be completly built
**Expected behavior**
1. look in the artifcacts download for the folder ".well-known/" with a single file in it.   No file is found

**Scr

[2019-06-14 23:50] swaminator commented on #128
Just to update @dreadjr @orland1to @puneetrastogi90. The Amplify CLI and Amplify Console now support multiple envs.  If you're looking to use the Amplify CLI in conjunction with the Amplify Console, you can view the recommended workflow here: https://docs.aws.amazon.com/amplify/latest/userguide/multi-environments.html

[2019-06-15 00:02] David-dp- commented on #1644
If you have a machine for testing on WSL or PowerShell, I would be very
interested to know how you installed node, npm, aws-amplify/cli, and then
npm install for my package.json.

[2019-06-15 14:18] meetrij commented on #922
I got a long schema definitions out of that one filed 'type' initially set as string
[code]
Now I need to change that that to a connection type
[code]
which ended up in error

[code]

After amplify push following activities happened

[code]

[2019-06-15 14:26] iselcuk commented on #1657
Also it is not limited to createdAt. Using @key directive with custom fields like @key(fields: ["id", "sortKey"] results with non-nullable id and sortKey fields in CreateItemInput and UpdateItemInput.

[2019-06-15 19:29] cmcnierney commented on #460
In case anyone else runs into this issue and is looking for a workaround until the default behavior is changed (if it's decided to be changed), here's an [example](https://github.com/cmcnierney/current-issues/tree/master/aws-amplify/inject-auth-into-search) injecting the user context into the request instead of filtering the response - hopefully it saves someone else a little time.

[2019-06-15 20:55] randuyoung opened #1670 "amplify-authenticator signup component usage"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
amplify-authenticator-ionic
* Provide additional details e.g. code snippets **

Hello,

I am using the amplify-authenticator to provide a ui to cognito as you can see belo:

I have set up the config opt

[2019-06-16 08:58] sacrampton commented on #1406
We've had a little success with Amplify that I thought I'd share in case its helpful. I have a database with 32 tables/models and 85 global secondary indexes (GSI's) spread across those tables - with a maximum of 9 GSI's on a single table.

First thing is as @hew suggested - do all of it on a separate environment/branch first to make sure it works before you try to push it into a production enviro

[2019-06-16 13:16] meetrij opened #1672 "Filters not generated for @connection type fields"
Below is my schema definition in that there are 5 connection fields and among that 2 of them are reference to same table.
[code]
The issue is that filters are not generating for connection fields, as you can see below only the non connection field's filter inputs are been generated
[code]

[2019-06-16 18:06] fatjoni opened #1673 "Git pull resets amplify-meta.json"
**Describe the bug**
I have 2 envs, namely prod and dev. While i work in dev i type amplify status and no change is reported in any of the services.  Then i type amplify push and it confirms that no change is needed. when i press then later amplify env pull the amplify-meta.json is resetted and i have to copy the content from #current-cloud-backend in order to reverse the resetting of services.

T

[2019-06-16 18:22] fatjoni commented on #1646
@yuth  when i run amplify codegen statements i get the following:
√ Downloaded the schema
√ Generated GraphQL operations successfully and saved at src\graphql

I am using amplify 1.7.0 on a windows 10 machine

I am not sure i correctly understood your sugestion but if is about using backslashes i tried and it did not work.

[2019-06-16 21:14] houmark commented on #582
It's been a good amount of time with this one being discussed. Did anybody find a stable procedure to do this without any serious downsides?

This should really be out of the box, we are many out here making several individual web apps or using both React + React Native backed by the same backend.

[2019-06-16 21:24] undefobj commented on #582
Hello - Looks like this issue was opened last year before the multi-env features were released which allow you to share projects between multiple frontends. This is documented here: https://aws-amplify.github.io/docs/cli/init#amplify-configure-project

Is there still an issue related to this? It's hard to determine from the thread as it goes back a while. Or is the issue that this isn't easily dis

[2019-06-16 21:34] houmark commented on #582
Thanks for your feedback @undefobj!

Maybe it's just me, but I don't see how multiple environments solves that without new issues.

For example, all my dynamo tables embeds the environment name as part of the table name, so if I have `app1` and `app2` I would not be able to share the same DB tables for both apps without modifying how Amplify names the different resources, which seems like an even

[2019-06-16 21:41] undefobj commented on #582
@houmark Did you read through the instructions in the link and test out the workflow on multiple apps? I only mentioned multi-env as that was the release which introduced the functionality. It has steps to share a backend in a single environment. The page says "When sharing your backend infrastructure code with multiple frontends".

So to summarize: This is supported out of the box in Amplify toda

[2019-06-16 21:43] houmark commented on #582
I did, but I had a long session, so I probably better get some sleep and read it again and try it out. Thanks for now, I'll report back here in any case, so everyone else that may not have been aware of this can get an update.

[2019-06-16 21:49] MartinTechy commented on #582
@undefobj I discovered that today and decided to give it a go.

The only thing I'm wondering is how does it work with conflicts ? What happens if two persons try to modify the same service at the same time ? Or if someone push changes before you push yours ?

I also think that it should be a little bit easier to find in the doc. A small example of the workflow would be great !

Thanks for your hel

[2019-06-16 21:58] houmark commented on #582
Same for me. I did not really see how multiple frontends would be working from the docs you linked on configure. I saw this thing called "Do you want to use an existing environment?" elsewhere in the docs, where it did **not** mention multiple frontends, but I suspect that is part of this?

Still, having to manually copy over folders seems like a workaround/hack, so improved docs and maybe even an

[2019-06-16 22:14] undefobj commented on #582
Ok so it's a doc discoverability issue. @kaustavghosh06 tagging as an FYI for the refresh on the doc structure.

"manually copy over folders seems like a workaround/hack" What's the alternative to this? Does the CLI ask for the other destination project and copy things for you? Does the CLI copying to a different directory really seem like less of a "hack" then you manually copying?
What if it's o

[2019-06-16 22:23] houmark commented on #582
Someone proposed to make it possible to add several folders inside the root folder so all apps live inside there, which makes copying the amplify folder not needed.

That way each of those in theory could be their own git and so could the amplify folder (maybe using submodule).

It seems like the copying is not creating any issues for people so I’ll try that to start with.

[2019-06-16 22:24] houmark commented on #582
To clarify: Several folders from the root level, one for each front end and all created by a guided Amplify CLI flow so amplify knows about each citizen.

[2019-06-17 01:48] sudilshr commented on #1651
Thanks @yuth. My issue is resolved after providing name to @key.

[2019-06-17 01:51] YashYash commented on #1268
Still seeing this issue. I installed babel-types and still no luck. I uninstalled and re-installed and still no luck.

node
v8.15.1
npm
6.4.1

➜  client amplify configure
/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-graphql-types-generator/lib/flow-modern/codeGeneration.js:1
Error: Cannot find module '@babel/types'
Require stack:
- /usr/local/lib/node_modules/@aws-amplify/cli/

[2019-06-17 02:02] YashYash commented on #1268
A quick update. Me and my friends have tried this on 3 computers now lol. Same issue. Amplify is installed successfully but we still no able to run any amplify commands since it is unable to find Error: Cannot find module '@babel/types'. We would love to give amplify a shot, but it looks like it's not going to be happening any time soon. You can see the stacktrace above. Coming from flow-modern/co

[2019-06-17 02:52] kaustavghosh06 commented on #1268
@YashYash Did you upgrade to npm version 6.9.0?

[2019-06-17 03:57] rawadrifai opened #1674 "Cognito default authentication flow in Amplify"
** Which Category is your question related to? **
Auth flows

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
When we do `amplify add auth` which authentication flow does it default to? I'm guessing "Implicit"? If correct, is there a way to change it to "Authorization Code" flow from the amplify cli?

Finally, does anyone have a recommendatio

[2019-06-17 04:14] undefobj commented on #1674
Default is code grant flow. Here's an overview of the setup:
https://aws-amplify.github.io/docs/js/authentication#social-provider-federation
https://aws-amplify.github.io/docs/js/authentication#oauth-and-hosted-ui

If you want to change to implicit you can change the `responseType` in the `oauth` key in your aws-exports file that the CLI generated to `token` as outlined here: https://aws-amplify.g

[2019-06-17 04:21] rarira commented on #300
yes..it still doesn't work either.

[2019-06-17 04:41] rawadrifai commented on #1674
@undefobj  Thank you for this info.
So if you plug in the withAuthenticator wrapper in a react project, and look at the network, it looks like it comes back with the token set in the second call. Just trying to wrap my head around the implementation here. If this is using the code grant flow, wouldn't there be a need for a callback after which the authorization code is exchanged for tokens? Wonder

[2019-06-17 07:37] rawadrifai commented on #1674
Thank you @undefobj  for the info.
So I'm using withAuthenticator to see what's happening in the background. The following calls happen when I sign in:
- AWSCognitoIdentityProviderService.InitiateAuth // AuthFlow: "USER_SRP_AUTH"
- AWSCognitoIdentityProviderService.RespondToAuthChallenge

At this point we have id token. Then we get the user id and the credentials. Why do we need this step if all w

[2019-06-17 08:33] artista7 commented on #1406
Thanks, @sacrampton for the advice. @undefobj - I am also stuck with deployments due to amplify not allowing multiple GSI modifications in one table. Apart from that, cfn script size not more than 460kb and 200 resources limit, all are hindrances in the deployment process. I can't do multiple updates in prod, as suggested as a workaround. I just want one single push to happen.

Regarding GSI issue

[2019-06-17 09:12] janhesters commented on #997
**Update:**
If the DynamoDB created by `amplify add api` would be displayed in `amplify-meta.json` you could access it via the environment variables in the CloudFormation template (similar to how `env` and `<you-appsync-api>GraphQLAPIIdOutput` is accessed in `"Parameters"`).

Until that is the case or until you can choose your existing DynamoDB in the Amplify prompts, here is a manual workaround:

[2019-06-17 10:13] pierremarieB commented on #682
Same problem here as well, it happened to me when I tried to rename a Resolver. It seems like the renamed resolver is created by CF before the old resolver is removed and therefore raises this exception.

[2019-06-17 12:16] janhesters opened #1675 "Add DynamoDB generated by API to amplify-meta.json"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm trying to access the DynamoDB generated by `amplify add api` in a Lambda function.

**Describe the solution you'd like**
Add the DynamoDB's ARN, name etc. to `amplify-meta.json`. Then we could access it using environment variables.

**Describe alternatives you've considered**
In the second issue menti

[2019-06-17 13:37] aehringer opened #1676 "Reverse sort direction with sortField"
** Which Category is your question related to? **
graphql transform

** What AWS Services are you utilizing? **
Amplify api

** Provide additional details e.g. code snippets **
How can I make the sortField sort in reverse order? For instance, the schema below returns the oldest Comment first when using getPost on a given Post. I want it to return the most recently created Comment first, using the

[2019-06-17 15:58] harveyramer commented on #588
Updating the local path solved my issue. Thank you @sankhagowit!

[2019-06-17 16:05] janhesters opened #1678 "How to access AWS AppSync via a Lambda function? (queries and mutations)"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
Lambda, AppSync, Cognito
** Provide additional details e.g. code snippets **
I'm trying to access AWS AppSync via a Lambda function.

1. `amplify init`
2. `amplify add auth`
3. `amplify add api` -> `GraphQL`

[code]

4. `amplify add funtion` choose rest

[code]

5. `amplify add api` choose rest and the

[2019-06-17 16:51] yuth commented on #1646
@fatjoni could you share your schema or a sample schema where this can be reproduce this issue.

[2019-06-17 17:43] mikeparisstuff commented on #1637
You can use the `@key` directive (https://aws-amplify.github.io/docs/cli/graphql#key) to implement an adjacency list pattern in DynamoDB (https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-adjacency-graphs.html). This will allow you to create top level query fields that query the many-to-many relationship. We have an item in the backlog to introduce a new directive the implements

[2019-06-17 17:56] ChristopheBougere commented on #582
Agreed with @houmark, having as single amplify project shared with multiple frontends would be the best. Something like this:
- `/amplify`
- `/react`
- `/react-native`
The CLI could handle this with a `amplify frontend add` command, similarly to categories.

[2019-06-17 18:00] mikeparisstuff commented on #1652
@aehringer Work is current under way and we are aiming for the end of the week to have the change and appropriate testing in place. Can you please provide a bit more information about what change you were making when the issue first started by sharing the schema before and after the problematic push?

Also if you are blocked you can fix any templates created by the transform libraries and then pus

[2019-06-17 18:02] jkeys-ecg-nmsu commented on #1678
Hard to tell with AppSync if you're actually unauthorized, sometimes it returns 401 when you've got a malformed input. The main thing I see is that you're not passing a 'variables' object containing your three parameters:

[code]

https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth

Is it sending an access key in your request?

[2019-06-17 18:09] anatonie opened #1679 "Cognito Auth role has incorrect ARNs for REST APIs"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I have an API in my project that permits authenticated traffic only.
The Auth role for my Cognito user pool (created by Amplify CLI) has improperly formatted ARNs
This results in being unable to call the API successfully, calls are met with 403s from the API

Policy:
[code]

**T

[2019-06-17 18:12] UnleashedMind commented on #1675
Thanks @janhesters for your feedbacks, our team will review the feature request and respond to you soon.

[2019-06-17 18:15] UnleashedMind commented on #1677
transfer issue to Amplify Console

[2019-06-17 18:23] jkeys-ecg-nmsu commented on #1644
@David-dp- are you launching your WSL Ubuntu shell as administrator, and are you running these commands as superuser?

I develop on WSL/Ubuntu at my job and most commands work on it.

Can you try `rm -rf node_modules && sudo npm install`?

[2019-06-17 18:23] mikeparisstuff commented on #1583
Thanks for investigating. This will get picked up by a member of the team and we will report back. You can get around this limitation be explicitly specifying the get field in the `@model` declaration e.g. `@model(query: { get: "getAddress", list: "listAddresses" })`.

[2019-06-17 18:44] garyleefight commented on #1677
Can you share your buildSpec file?

[2019-06-17 18:48] garyleefight commented on #1677
I doubt you have to change the output to /build/.well-known

version: 0.1
frontend:
  phases:
    preBuild:
      commands:
        - yarn install
    build:
      commands:
        - yarn run build
  artifacts:
    # IMPORTANT - Please verify your build output directory
    baseDirectory: /build
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*

You have to ensure the assets

[2019-06-17 18:49] janhesters commented on #1583
@mikeparisstuff  That's what I did. Thank you 😊

[2019-06-17 18:51] janhesters commented on #1678
@jkeys-ecg-nmsu I'm not using any variables, because I'm querying 😊 I assume it has something todo, that the policy grants `I_AM` access, but the API endpoint is configured for Cognito User Pools.

[2019-06-17 19:03] garyleefight commented on #1677
We exclude . files by default. You have to add the full path of the asset file under the paths. eg. you have to change the files path to

files:
- '**/*'
- '.well-known/assetlinks.json'

[2019-06-17 19:12] yuth commented on #1660
Feel free to re-open/comment on the issue if its not solved

[2019-06-17 19:12] #1660 closed

[2019-06-17 19:14] yuth commented on #1651
Please feel free to comment/re-open issue if you're still facing this problem

[2019-06-17 19:14] #1651 closed

[2019-06-17 19:20] jkeys-ecg-nmsu commented on #1678
You define three variables here:

[code]

But you are half-correct, because these variables are not used ($nextToken) or auto-generated if not provided ($limit, $filter) if not provided by the generated resolver:

[code]

If you needed to list more than ten elements you would need to pass in a $limit variable.

What does your annotated schema look like for this model?

[2019-06-17 19:22] janhesters commented on #1678
@jkeys-ecg-nmsu Yes that's correct.

[2019-06-17 19:23] #1647 closed

[2019-06-17 19:25] #1654 closed

[2019-06-17 20:43] achutkiran commented on #1099
@kaustavghosh06 I did amplify update function. It asks me select one of the category Like hosting, auth,.. etc. I just need Graphql ID to generate table name and i don't want give my function permission to access appsync api. Is there any way to  do it. Thanks

[2019-06-17 21:33] houmark commented on #582
Exactly, just like that.

[2019-06-17 22:14] David-dp- commented on #1644
Thanks, Jeremy. I wouldn't have guessed that one needs Windows Admin permission to use sudo in WSL, but I just tried it. I'm still getting untar errors:

[code]

For the record, I started this way today:

1. WindowsKey + s
2. Entered: ubuntu
3. Right-clicked on the match to select Run as admin

[2019-06-17 23:13] jkeys-ecg-nmsu commented on #1644
Not sure about this one, this [Github issue](https://github.com/npm/npm/issues/5133#issuecomment-69891823) suggests running `npm cache clean` may resolve your error.

[2019-06-17 23:40] David-dp- commented on #1644
I noticed the .npm folder, and guessed it was a cache, so I interrupted the install via Ctrl+c and retried. But I still get many untar errors...

$ sudo npm cache clean
[sudo] password for vada:
vada@Lemuria:/mnt/e/[deleted]/webview$ rm -rf node_modules && sudo npm install
npm WARN deprecated core-js@1.2.7: core-js@<2.6.8 is no longer maintained. Please, upgrade to core-js@3 or at least to actual

[2019-06-18 00:15] ryross commented on #791
I'm also blocked on this. Any updates?

[2019-06-18 00:36] jldillman commented on #753
I have this same issue as well, with a fresh project using Amplify 1.1.29.  @mwarger I think it's the exact issue you had originally.  Can provide logs if needed.

[2019-06-18 00:55] robert-moore commented on #1678
If you want to still use the @auth decorators I set it up to run through Cognito authentication and then just create an "admin" user that I log in with on lambda programmatically: https://www.floom.app/blog/aws-appsync-with-lambda

[2019-06-18 01:23] AaronHarris commented on #899
By default the tokenizer in Elasticsearch lowercases all strings when building the reverse index. The straigforward approach here looks to be to lowercase all query_strings that get sent to Elastic search in the resolver, or else modify your ES cluster to use a different (ie. case sensitive) tokenizer if letter case matters.

[2019-06-18 04:48] michaelcuneo opened #1680 "amplify publish fails to publish nodejs6.10 is no longer supported for creating or updating AWS Lambda functions."
**Describe the bug**
Resource Name: MFALambda (AWS::Lambda::Function)
Event Type: create
Reason: The runtime parameter of nodejs6.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs8.10) while creating or updating functions. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 5ec3bc

[2019-06-18 04:56] michaelcuneo commented on #1680
Oh, I think I just solved this myself. I just copied an amplify directory from an old project to branch a dev environment off it with add env etc... the old project still has Runtime: nodejs6.10 in the cloudformation template. is there any way to update this without breaking everything? Can I just simply replace nodejs6.10 with nodejs8.10 ?

[2019-06-18 04:58] michaelcuneo commented on #1680
For anyone who has this same problem. Yes changing nodejs6.10 to nodejs8.10 is a successful way of fixing the problem. Publish works fine after this change.

[2019-06-18 04:58] #1680 closed

[2019-06-18 06:46] janhesters commented on #1678
@robert-moore Great article, great website, great product. Props!

[2019-06-18 06:48] jensk-dk commented on #582
For what it's worth I contacted Amazon support regarding multiple app frontends.

Before that I tried using amplify configure project, as the doc says that it should be used "When sharing your backend infrastructure code with multiple frontends". But it was ultimately to no avail - I got all sorts of errors, especially with codegen for GraphQL API.

Instead, what they proposed was to init both fro

[2019-06-18 08:09] houmark commented on #1678
Sorry for hijacking here, @janhesters you could consider AWS Secrets Manager for the username/password and some of the other sensible credentials in the Lamda function.

Having said that, @robert-moore great blog post, and I actually tried making that work today. I found a few minor errors in the blog post, but I was able to correct them (I could pass them on in private if you'd like to tweak it),

[2019-06-18 08:13] janhesters commented on #1678
@houmark You are right. If I were to implement @robert-moore 's solution, I would simply add environment variables using the Lambda console.

But as I mentioned above, I went with accessing DynamoDB directly, because why would you use AppSync if you can do that 🤷‍♂

[2019-06-18 08:17] houmark commented on #1678
@janhesters I edited my post to explain why I want it to this to work through GraphQL. 1) Subscriptions. I'm not aware of a way to ensure that my web app will get the notification on a new item unless it's going through GraphQL and not straight to the DB. 2) To be able to have one create mutation that is used both by the frontend and the Lambda, so when something is changed, both ends will use the

[2019-06-18 08:23] houmark commented on #1678
I'd probably use the Secrets Manager as you can make sure it sticks around even if you delete the Lamda function and re-create it for some reason and since it's likely that you may have 2-3-5 Lambda functions doing GrapHQL they can all share the creds.

I can share those, they are minor, but I'd like to do it more directly than to spam this thread more, and right now I had to drop my work on refac

[2019-06-18 08:39] janhesters commented on #1678
@houmark Thank, both of your argements are pretty good actually. But, maybe we are miscommunicating. I'm don't want modify DynamoDB directly from my client side. I only want to do this in the Lambda function. If you are talking about using GraphQL's subscriptions on the client side, I'm curios, how are you using those subscriptions in your Lambda function? What use case do they solve in a function

[2019-06-18 08:45] houmark commented on #1678
I am using strictly GraphQL in the frontend and I want to use GraphQL 100% (or as close to) in any Lambda function that ultimately needs to update the DB. The goal is to get Subscriptions about updates/creates in the frontend when the Lambda adds/update data. When I go directly to DynamoDB in the Lambda, I get no subscription event in the frontend so my UI will not be able to update accordingly. T

[2019-06-18 08:47] janhesters commented on #1678
@houmark Got it, thank you 🙏🏻

[2019-06-18 13:38] wbroek commented on #1526
@kstro21 any news, still got it (workaround I use is removing the wrong keys in the cloudformation-template) with version 1.7.3

[2019-06-18 15:59] javierjavier commented on #242
Changing the `APIKeyExpirationEpoch` worked for me. See https://github.com/aws-amplify/amplify-cli/issues/808.

[2019-06-18 16:47] jldillman commented on #753
My mistake, I was using the Amplify Console in the wrong region.  Apologies!

[2019-06-18 17:31] filipemcg commented on #1488
I'm experiencing the same issue. Why is this being handled via email instead of open to the public?

[2019-06-18 17:42] jkeys-ecg-nmsu commented on #1644
Last thing I can think of is package-lock.json might be affecting your install process. Can you delete that file and try again?

[2019-06-18 18:39] ambientlight opened #1681 "Drift Detection support"
Have you guys thought of having a built-in support for drift detection? That would have been handy if when calling status amplify will warn the user that the stack has drifted. Just thinking, this feature is pretty clear and does feel like complex implementation-wise, would be one for a pull request for this?

[2019-06-18 18:54] UnleashedMind commented on #1679
Hi @anatonie

When the Rest API is being added to your project, you need to provide answers to a series of prompted questions, one of them is `Provide a path (e.g., /items)`, if you take the default value, it'll be `/items`, and the Resource in the policy statement will contain it, like this:

arn:aws:execute-api:us-west-2:239336166108:{APIID}/prod/POST/items/*

I was not able to reproduce the iss

[2019-06-18 18:58] UnleashedMind commented on #1681
Thanks @ambientlight

Could you elaborate on this idea? and provide some solid use cases?

[2019-06-18 19:00] ajhool commented on #1672
Does amplify support filters/limits on connection fields? Have you tried this yet?

[2019-06-18 19:37] David-dp- commented on #1644
I made some progress, as noted in https://npm.community/t/what-is-the-recommended-way-of-installing-for-windows-subsystem-for-linux-wsl/8219/3?u=david-dp It seems that the sudo permission is expiring midway. I've started installing each item in my package.json manually, e.g.
`sudo npm install glamor@2.20.40`
It would probably be easier and work just as well if I had 'sudo su' before 'npm install'.

[2019-06-18 20:17] leozdim opened #1682 "Add auth creates a cloudformation-template with node6 version"
When you trigger "amplify add auth" it creates a nodejs6 and when you try to do "amplify push", it fails because nodejs6 is no longer supported

[2019-06-18 20:34] damianrr opened #1684 "amplify can't find my appsync after deployment"
**Describe the bug**
I have a website in production with 2 envs, I made a css change on dev branch, commit and push, and since I've the amplify console configured, it deployed correctly my website as usual. However, when I merge to master and push, I've a deployment error it saids:

[code]
This is happening on my production site, help with this will be be most appreciated!

[2019-06-18 21:55] UnleashedMind commented on #1682
Hi @leozdim

What is the version of your locally installed amplify cli?
Please update to the latest version (1.7.4)  and check again.

[2019-06-18 22:21] UnleashedMind commented on #1673
@fatjoni

What is the version of your locally installed amplify CLI?

[2019-06-18 23:24] kaustavghosh06 commented on #1684
@damianrr This is a duplicate of your issue out here - #1666
We have a fix for it in this PR - #1668

[2019-06-18 23:24] #1684 closed

[2019-06-18 23:27] kaustavghosh06 commented on #1678
@janhesters Could you check your Lmbda Execution role and see if it has the correct permissions?
Could you paste the policies attached to that lambda execution role out here?

[2019-06-18 23:29] kaustavghosh06 commented on #1675
@janhesters You can still access the DynamoDB table ARN's etc which you create as a part of your Amplify porject. I'm failing to understand the request out here.

[2019-06-18 23:29] #1677 closed

[2019-06-18 23:42] anatonie commented on #1679
You are correct, I forgot I modified the path.
I modified the path from '/api' that I chose during setup to '/', so no bug here.

However I did this because using multiple lambdas for different paths is overkill, and the express function can handle multiple paths.
Using a separate function could increase wait times due to cold starts.

Is there a reason for this limitation?
API Gateway/Lambda supp

[2019-06-19 05:30] David-dp- commented on #1644
Even after starting with 'sudo su', I get many ENOENT problems. I think this is due to poor handling by npm of network timeouts or Windows filepath length limits. It would be great to hear how I could get my yarn build deployed to AWS in the meantime.

[2019-06-19 05:46] meetrij commented on #185
@kaustavghosh06 not working with cli version update

[2019-06-19 05:53] meetrij commented on #1127
not working with cli version update my amplify version 1.7.4 as mention in #185

[2019-06-19 05:54] kaustavghosh06 commented on #185
@meetrij What does your schema look like? Interested in knowing the number of models and number of connections in your annotated schema.

[2019-06-19 06:17] janhesters commented on #1675
@kaustavghosh06 If you could tell me how, I would be very grateful 🙏🏻

As far as I'm concerned `amplify add/update function` neither gives you access to your DynamoDB created with `amplify add api` nor does it give you rights to do queries or mutations on your AppSync API.

My goal is to have a save way to access one of the two because I'd like to modify the database of my GraphQL API using Lambda

[2019-06-19 06:28] janhesters commented on #1678
@kaustavghosh06 Here is the `LambdaExecutionRole`:

[code]

There is also `AmplifyResourcesPolicy` which doesn't allow queries/mutations.

[code]

Both policies are auto generated when doing:

[code]

[2019-06-19 06:54] davidsteed commented on #156
Generally it would be really helpful to have some integration between sam and amplify. Sam supports different Lambda runtimes, whereas Amplify only supports Node.  If there was a way an Amplify api could be created that leveraged SAM scripts it would really help

[2019-06-19 08:38] Qlenglet opened #1685 "Amplify push with API do nothing"
Hello,

I have a weird bug which is very frustrating for me and it break all my project. The issue is happening when I try to override the file 'schema.graphql'.
I am using Angular 8.
Each modification on this file is not taken when I launch the command amplify push. And the amplify cli see the modification but use the old file instead.

Amplify cli version :  1.7.3
Amplify installed on Angular: 1

[2019-06-19 09:23] selipso commented on #1529
I've noticed after version 1.7 this occurs much less and haven't been able to reproduce it since. Keep up the great work guys.

[2019-06-19 09:23] #1529 closed

[2019-06-19 10:36] cocacrave commented on #199
Experiencing same problem.
Api category stays under Operation "Create" even after successful push.

[2019-06-19 10:55] DanNeish commented on #1322
I'm using the following with CircleCI and it seems to be working well so far.

[code]

[2019-06-19 12:34] jkeys-ecg-nmsu commented on #1644
@David-dp- quick and dirty:

1. Build your source (`npm run build` / `yarn build`);
2. Look up the S3 hosting bucket from your Amplify-gen'd CloudFormation template
3. Upload your build folder to this bucket
4. Look up the CloudFront CDN (if prod) from the CF template
5. Invalidate the `*` path to tell CDN to go to the bucket to get the latest version of the site

Step 1 seems to be where you're s

[2019-06-19 14:36] ambientlight commented on #1681
Usecase is like:

1. User goes and adds a bunch of @model directives with GraphQL definitions, `amplify push` that creates a bunch of DynamoDB tables.
2. then after some time users goes to dynamoDB console and changes something in table configuration, which makes the stack differ from the CloudFormation template.
3. at some point in the future(few days later) user might not forget that he made a d

[2019-06-19 17:00] sprucify opened #1686 "Expected scalar and got X"
Is there a way I can group my results based on a custom scalar?

[code]

What I like to query is "Give me all the schedules for group X"
But when I setup like the schema above I get an error saying: `Expected scalar and got Group`

[2019-06-19 17:04] robert-moore commented on #1678
@houmark regarding the Cognito UserPool error: `ResourceNotFoundException: User pool us-east-1_mypoolid does not exist.`. I believe I ran into this before and the issue ended up being that my App Client that I was using for Lambda had a client secret. I created a Client without a secret and it worked fine.
And regarding the fixes you made to the blog post, if you wouldn't mind sharing those that w

[2019-06-19 17:12] hisham commented on #318
@D2KX - I'm looking at doing similar setup to yours. Did you setup the Pre-token generator lambda manually or via cloudformation? It does not seem it can be added via cloudformation. See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-lambdaconfig.html and https://forums.aws.amazon.com/thread.jspa?threadID=268907

[2019-06-19 17:13] hisham commented on #1575
@rawadrifai - did you setup the Pre-token generator lambda manually or via cloudformation? It does not seem it can be added via cloudformation. See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-lambdaconfig.html and https://forums.aws.amazon.com/thread.jspa?threadID=268907

[2019-06-19 17:35] UnleashedMind commented on #1685
Hi @Qlenglet

Sorry to hear your frustration, what's the full path to the file `schema.graphql` that you modified?

The file that will update your schema is `<your-project-root>/amplify/backend/api/<api-name>/schema.graphql`.

[2019-06-19 17:55] UnleashedMind commented on #1681
Thanks @ambientlight,

The team will evaluate the feature request and respond to you.

[2019-06-19 18:13] kaustavghosh06 commented on #1678
@janhesters Which version of the CLI are you using?
We had a fix to fix the AppSync IAM policies out here - https://github.com/aws-amplify/amplify-cli/pull/1634
If you install the latest version and run `amplify update function`, you should be able to perform queries, mutations on the graphql API generated by the CLI.

[2019-06-19 18:37] damianrr commented on #689
@kaustavghosh06, I just executed `amplify update function` and all I get is the amplify function menu: "
[code]
Maybe that's because I've my amplify libraries up to date; but then, how can I access this IDs from within my function? I was hoping that the flow following this invocation would shed some light into this.

[2019-06-19 18:40] damianrr commented on #689
@troygoode, could you give me some pointers on how to use cross-fetch library to archive this?

Thanks!

[2019-06-19 18:51] UnleashedMind commented on #1649
@blairtaylor
The second error you saw when you try it on WSL is probably already fixed by #1655
I also tried to reproduce the directly on a Windows 10 machine, with
node v10.16.0
amplify v 1.7.4
But I was not able to reproduce the error on both cmd.exe and Powershell.

[2019-06-19 18:59] houmark commented on #1678
I'm getting a bit confused here. I did see that you can set access to the GraphQL API from a Lambda function, but what does that do exactly? In this thread using a Coginito user is explained and while I did not make that work yet, I'm curious to understand if there's another built in way, so that the Lambda function can write without a user at all due to these policies being added? It seems there'

[2019-06-19 19:01] houmark commented on #1678
Thanks, I will try again, but I did try both the existing Clients I had in Coginito, one with a secret and one without. Same error on both.

It's very minor stuff, I will share ASAP.

Great stuff, will try to add that in my end also.

[2019-06-19 19:06] David-dp- commented on #1644
@jkeys-ecg-nmsu Thank you very much. For step 2, I looked in ((project))\amplify\#current-cloud-backend\amplify-meta.json under hosting/output/HostingBucketName. In a folder for debugging, I placed a backup: aws s3 sync s3://((bucket name)) . Then I deleted everything in the bucket (which seems to accumulate old files with every publish) and uploaded the contents of my 'build' folder.

Steps 4 and

[2019-06-19 19:56] victor9000 commented on #742
Hi @kaustavghosh06, it seems to me like this is a serious problem, no?  After all, this error is coming from metro, and it's complaining about api modules that amplify has created.  In other words, the client bundler is trying to bundle backend code into the client application.  This should be setting off alarm bells, as I seriously doubt that anyone is aiming for this behavior.  How much sensitiv

[2019-06-19 20:22] victor9000 commented on #742
Hi @kaustavghosh06, perhaps I don't understand how metro works very well, but does this mean that metro is trying to bundle backend code into the client application?  If so, this seems like a serious problem.  After all, how much sensitive data do people place in their backend code?

Hi @timkuilman, amplify-cli creates two copies of your backend code, and metro was complaining about collisions bet

[2019-06-19 21:22] rawadrifai commented on #1575
I did it manually. I’m not all that sophisticated with cloudformation. Id
rather wait for amplify to add ability to add triggers from cli.

On Wed, Jun 19, 2019 at 10:13 AM Hisham A <notifications@github.com> wrote:

[2019-06-19 23:43] J-L commented on #156
Yeah,  this is a big deal for me too!

[2019-06-20 06:24] jkeys-ecg-nmsu commented on #1644
I should probably clarify that I don't work for AWS and am not contributing
to the Amplify source directly. Just a good Samaritan helping others avoid
headache over solved problems. @yuth may be able to comment more on your
last two concerns.

On Wed, Jun 19, 2019 at 12:07 PM David-dp- <notifications@github.com> wrote:

--
Software Developer
Electronic Caregiver

[2019-06-20 06:54] mattiLeBlanc opened #1688 "amplify cli 1.7.4 freezes when adding graphql api"
**Describe the bug**
Amplify 1.7.4
Running `amplify add api` and then choosing GrahpQL freezes terminal. I cannot type a api name or kill the process.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project and run `amplify add api`
2. Choose Graphql
3. Try to type name...freezes
4. See error

**Expected behavior**
I expect to be able to type the name

**Desktop (please complete the fo

[2019-06-20 07:18] mattiLeBlanc commented on #1688
I tried to do amplify configure, but when I am asked to add a user, the CLI is also frozen. Not sure what is going on here but it seems like it is waiting on a request from the AWS service which is maybe pending?

[2019-06-20 07:46] Qlenglet commented on #1685
It was a mistake from me. I closed this post since It's my mistake

Thanks

[2019-06-20 07:46] #1685 closed

[2019-06-20 08:45] Loghrenar commented on #504
Hey @RidClick,

I'm stuck at this point too, did you manage to get rid of this problem? Have you found a solution?
Thanks in advance.

[2019-06-20 08:45] Loghrenar commented on #504
Hey @RidClick,

I'm stuck at this point too, did you manage to get rid of this problem? Have you found a solution?
Thanks in advance.

[2019-06-20 09:00] Loghrenar commented on #1021
Hey @yuth,

As the solution given by @RidClick isn't compliant with CI/CD and multiple branches/environments workflow, do we have any update on this point?

[2019-06-20 09:14] nickchauhan commented on #1688
Same is happening with me when I'm trying to add environment using Amplify CLI 1.7.4
[code]
So when I try to enter the name of the environment it freezes

[2019-06-20 09:15] nickchauhan commented on #1688
Same is happening with me when I'm trying to add environment using Amplify CLI 1.7.4
[code]
So when I try to enter the name of the environment it freezes

[2019-06-20 10:05] kmfreas commented on #1659
Hey thanks for replying, I wasn't able to test this out until now. It works fine, however I can't figure out how to get it to work with **all** branches, especially future ones. Right now I have a lambda function using the aws-js-sdk to create the Amplify branches as they're pushed to github.

I'm using [createBranch](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Amplify.html#createBranc

[2019-06-20 10:34] houmark commented on #1678
Here's an update after a long day of frustrating trial and error.

As I couldn't even make my Lambda get the user pool, I decided to try with the SSM to see if I at least could pull a credential. Even after adding policies to my Lambda for pulling SSM, I still didn't work.

After many hours of no progress, I decided to make a simple Lambda directly in the AWS UI and take small steps. Surprisingly,

[2019-06-20 10:54] Butler12 commented on #1688
I am seeing the same thing when running 'amplify configure' after updating to 1.7.4. It was working fine in 1.6.5. It is getting stuck after i select a 'region' during the configure steps.

Running on OSX 10.12.6 with iTerm2.

[2019-06-20 11:11] mattiLeBlanc commented on #1688
So when I run it on my private laptop, it doesn't freeze, so it is not my AWS username or anything like that. Also, I installed amplify yesterday and it is running at 1.7.4.
So it seems only the laptop where I upgraded from a 1.6.x to 1.7.4 did something irreversible.

[2019-06-20 11:22] nfpreports commented on #1688
I'm having the same trouble - it worked fine 6 days ago when I was running through a tutorial. Tonight I go to set up a new project and 'amplify configure' askes for the region, then username and freezes :(

[2019-06-20 12:19] mtg5014 commented on #1688
I get the same running ```amplify init``` on OSX 10.14.5 with Terminal.

[2019-06-20 12:30] DevilsNightsix commented on #1688
I'm also getting this during `amplify configure`, terminal hangs on 'Specify the username of the new IAM user:'

[2019-06-20 13:26] aehringer commented on #1652
@mikeparisstuff The change I made to the schema before the problematic push was adding SavedRestaurant to the schema.
I ended up removing the api and creating adding a new one with SavedPlaces rather than SavedRestaurant (before I saw your message) and the problem was gone -- so I do think the problem was the naming of the models.

[2019-06-20 14:09] praisegeek commented on #1688
I can confirm that @aws-amplify/cli version 1.7.4 started freezing after the upgrade. It freezes after passing through any first command.

[2019-06-20 14:57] daajack commented on #1688
Same here with amplify configure/init (1.7.3 and 1.7.4). It stucks on the second question. The process can be killed from another console with kill -9 PROCESS_ID. I didn't found any error message.

[2019-06-20 15:15] UnleashedMind commented on #1688
we root-caused this issue and it is due to a bug in one of the dependencies

https://github.com/SBoudrias/Inquirer.js/issues/811

we wil lock the version and roll out a fix soon

[2019-06-20 15:24] Arc-dev opened #1689 "CLI freezes with amplify init on newest version (1.7.4)"
**Describe the bug**
A clear and concise description of what the bug is.
Hi team,

I've recently updated to CLI version 1.7.4 and I've noticed that when I move on an initial input, such as the screenshot attached, it freezes and I have to crash out of the terminal.

I've confirmed the issue with a few members of the team and we're all experiencing it across environments (Cloud9/Linux server & loca

[2019-06-20 15:27] damianrr commented on #1688
FWIW: It's also happening with `amplify update function` and is also happening in versions: 1.7.3, 1.7.2 and 1.7.1

[2019-06-20 15:28] kaustavghosh06 commented on #1689
This is a duplicate of #1688. We are working on this and closing this issue in favor of the other duplicate issue.

[2019-06-20 15:28] #1689 closed

[2019-06-20 15:57] UnleashedMind commented on #1688
@damianrr

It happens if there is a fresh installation of the inquirer package

[2019-06-20 16:38] haverchuck opened #1691 "aws-exports file contains values for removed resource"
**Describe the bug**
After running the 'delete' or '<x> remove' commands, the aws-exports file persists old values.

**To Reproduce**
Steps to reproduce the behavior:
1. Init a JS project with Vue and VS Code.
2. Add and push an auth resource.
3. Run amplify delete or remove the resource.

**Expected behavior**
aws-exports file should not persist values for resources that have been removed.

**Des

[2019-06-20 16:50] walter-scott opened #1692 "amplify configure command hanging"
**Describe the bug**
When I try to configure amplify, it hangs on creating the IAM. Hanging also happens with init.

**To Reproduce**
I don't know if you will be able to reproduce it, but this is what I did:
1. `$ npm install -g @aws-amplify/cli`
2. `$ amplify configure` or goto app directory and `$ amplify init`

**Screenshots**
<img width="574" alt="Screen Shot 2019-06-20 at 10 18 38 AM" src="ht

[2019-06-20 17:00] kaustavghosh06 commented on #1692
This is a duplicate of #1688
This is due to a recently introduced bug with one of our CLI dependencies - inquirer (https://github.com/SBoudrias/Inquirer.js/issues/811). We've merged a fix for this - https://github.com/aws-amplify/amplify-cli/pull/1690 and publishing to npm a new version NPM.

[2019-06-20 17:00] #1692 closed

[2019-06-20 17:15] kaustavghosh06 commented on #1691
@haverchuck Can you provide specifics? Which resources got removed?
Is it on amplify delete or ampify remove <resource> -> amplify push?

[2019-06-20 17:17] #1682 closed

[2019-06-20 17:20] kaustavghosh06 commented on #1679
@anatonie Why would you use a separate lambda function for another path? You could just use `amplify update api` and add an additional path to an exisiting REST API in your project and then use the lambda function which is behind that REST API  endpoint. This seems to be a different question/query than the original issue. Could you please open another issue for this if you're still having more que

[2019-06-20 17:20] #1679 closed

[2019-06-20 17:23] jynxdzn opened #1694 "MacOS Mojave - Stuck at Amplify Configure Command"
I've installed @aws-amplify/cli using node 8.12.0 and the installation was successful but when I run ```amplify configure``` my terminal freezes up at the prompt to name my IAM user. Normally it would redirect my browser to the IAM User page with the pre-filled inputs but instead nothing happens and I have to kill my node process.

 - OS: macOS Mojave (10.14.4)
 - Browser: Google Chrome (75.0.3770

[2019-06-20 17:25] kaustavghosh06 commented on #1673
@fatjoni You could use `amplify env pull --restore` to copy the #current-cloud-backend to backend.

[2019-06-20 17:25] #1673 closed

[2019-06-20 17:29] damianrr opened #1695 "Passing cognito user pool web client id to lambda functions"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Feature: https://github.com/aws-amplify/amplify-cli/issues/1099 enabled us to pass some parameters (like region, graphqlid and cognito user pool id) to lambda functions (great work BTW), however, for being able to use Amplify inside

[2019-06-20 17:36] mikeparisstuff commented on #1686
@sprucify The `@key` directive can only create indexes on top of scalar fields. If you want to index such that you can lookup resources by the logical then you can add a field `groupId: ID!` and then index on that.

[2019-06-20 17:43] kaustavghosh06 commented on #1676
@aehringer We don't support it out of the box as a part of our transformer at this moment, but i've marked this as an enhancement and we're working on it currently.

[2019-06-20 17:51] mikeparisstuff commented on #1672
Hey @meetrij you should be able to just add the fields to the type and they will be included in the filter inputs. The `@connection` directive automatically wires up using the underlying id when issuing the query to DynamoDB so the ids were not included as they are injected automatically. E.G. when traversing some `MasterStage.varietyStages` field, the DynamoDB query will automatically have the co

[2019-06-20 17:53] #1637 closed

[2019-06-20 17:55] UnleashedMind commented on #1694
this is a duplicate issue to this #1688
the fix has been merged and it's being released to production at this moment.

[2019-06-20 17:56] kaustavghosh06 commented on #1615
Closing this issue due to lack of user response. Please feel free to commnet on this thread if you're still stuck and want to re-open this issue.

[2019-06-20 17:56] #1615 closed

[2019-06-20 17:57] #1501 closed

[2019-06-20 17:58] SwaySway commented on #1627
Hi @YikSanChan making changes to a connection will require a full delete of the old connection in order to create a new one on the same type.
One way to work with your current implementation is to create a another GSI which references the GSI created from `posts: [Post] @connection` See below.

[code]

[2019-06-20 18:00] kaustavghosh06 commented on #1406
@artista7 I'm curious as to what your annotated schema looks like and how many models and connections you're having in your schema.

[2019-06-20 18:04] #1694 closed

[2019-06-20 18:05] mikeparisstuff commented on #1656
@calspre Yes `@connection` will remain for backwards compatible reasons and the intention is to provide a new mechanism the achieves the same goal but that allows you to change the `@connection` after the fact (even though you still will not be able to change index structures after the fact and should follow the create a new index before deleting an old index process).

It is possible to replace a

[2019-06-20 18:12] kaustavghosh06 commented on #1572
We've merged the fix for this issue. It would be a part of our next npm release.

[2019-06-20 18:12] #1572 closed

[2019-06-20 18:13] kaustavghosh06 commented on #1569
Closing this issue due to lack of user response. Please comment on this thread if you're still stuck and we'l re-open the issue.

[2019-06-20 18:13] #1569 closed

[2019-06-20 18:22] #791 closed

[2019-06-20 18:23] kaustavghosh06 commented on #791
We've merged a fix for this. This would be a part of our next npm release.

[2019-06-20 18:24] mikeparisstuff commented on #1507
@chrisl777 I'm not sure this is a bug. You're schema:

[code]

is putting the ownership authorization rule on the `Profile` type. The `Profile.service.res.vtl` resolver is fetching an object of type `Service` and thus does not follow the auth rules for `Profile` but instead follows the auth rules for `Service` which appears to have a static group authorization rule. The `Query.getProfile` resolver

[2019-06-20 18:26] mikeparisstuff commented on #1507
@jkeys-ecg-nmsu What issue are you seeing exactly? There was a period where `@connection` fields could by-pass `@auth` rules placed on `@model`s but that path has since been protected and it sounds like that may be the confusion. Now `@auth` rules protect `@connection` paths which provides greater security to your API.

[2019-06-20 18:30] mikeparisstuff commented on #1632
@aireater There is nothing wrong with using the parent/child relationship created by `@connection` as long as you do not try to change the structure of the `@connection`. We found that in practice users had trouble with `@connection` because it manages the GSI under the hood and then when you tried to change the structure of the `@connection` throws an errors because it is unable to move from stat

[2019-06-20 18:42] kaustavghosh06 commented on #1688
We've fixed this issue. Please install the latest version of the CLI (1.7.5)  which has this fix.

[2019-06-20 18:42] #1688 closed

[2019-06-20 18:56] kstro21 commented on #1526
Hey, @wbroek, sorry for the late, I've been short of time.

No success yet finding the solution. Your `type CarepathItemArticle` is generating a `CarepathItemArticleTable` resource mapped to a **stack** that is not defined. That is the reason the **outputs** ends up in the **root stack**.

I've managed to **always** map the **outputs** to the corresponding **stack** as suggested by @mikeparisstuff

[2019-06-20 19:00] damianrr opened #1946 "How Do I get amplify environment variables into custom resolvers mapping template."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to hardcode tablenames in mapping templates, this happens often with batch operations that require the tablename, for example:
[code]

**Describe the solution you'd like**

If I could have access to env name and GraphqlID I'd be able to construct the table name instead of hardcoding it.

Thanks!!

[2019-06-20 19:05] nimacks commented on #1613
Hey @yukitaka13-1110, sorry for the late reply. We've added this as bug and will work on a fix. In the meantime, you can workaround this limitation by removing the `#` character in your branch.

[2019-06-20 19:15] UnleashedMind commented on #1644
@David-dp-

What's the current status of this issue?

I tested our latest version 1.7.5 on Windows 10, and there's no issue with that setup.
So, you can probably just run the commands on cmd.exe or power shell on a Windows 10 directly.

Make sure that you have those three files inside your `amplify/.config` folder
<project-root>/amplify/.config/local-aws-info.json
<project-root>/amplify/.config/lo

[2019-06-20 19:19] kaustavghosh06 commented on #1633
@pai911 We don't have this feature out of the box in the CLI yet, but I'm marking this as an enhancement which we could add to the auth flow.

[2019-06-20 19:30] #1666 closed

[2019-06-20 20:05] damianrr commented on #1678
Guys, quick (and probably dumb) question: I can't even get the `var Amplify = require('aws-amplify');` to work. When I put that in a lambda  function (or locally in nodejs) I get this error:
[code]
Any ideas?

[2019-06-20 20:15] hisham opened #1696 "Best practice to share local code between lambdas?"
** Which Category is your question related to? **
Functions

** What AWS Services are you utilizing? **
Lambda + AppSync

** Provide additional details e.g. code snippets **
I have several lambdas and there is common code I developed needed by a few them. I wanted to put this code in a private package that these lambdas refer to in package.json. There are different ways to do this, I ended up inve

[2019-06-20 20:21] #1632 closed

[2019-06-20 21:20] hisham commented on #1696
I got yarn working and deployed but looks like amplify cli does not follow symlinks when packaging lambdas! The deployed lambda package does not have my local package dependency.

See https://github.com/aws-amplify/amplify-cli/issues/1077#issuecomment-484254817 and https://github.com/aws-amplify/amplify-cli/issues/703

So what is the best way to share local code between lambdas currently?

[2019-06-20 21:20] miffycs opened #1697 "Amplify publish to S3 Cloudfront"
Trying to set up a new react project with amplify and cognito.

I followed this tutorial: (used npm instead of yarn to create the react app)
https://aws-amplify.github.io/docs/js/react

Up to the Add Auth section. When I do `$amplify publish`

This is my error message:

Error has occured during file upload.
2019-06-20T21:10:57.592Z - error: uncaughtException: Access Denied date=Thu Jun 20 2019 17:

[2019-06-20 21:20] hisham commented on #703
+1. Looks like I need this too.

[2019-06-20 21:32] UnleashedMind commented on #1697
@miffycs

This might be due to a setting in your account. we are investigate this issue.

[2019-06-20 21:36] kaustavghosh06 commented on #1697
Are you using an internal Amazon/AWS account?

[2019-06-20 21:55] jkeys-ecg-nmsu commented on #1678
Amplify is a client side library. What are you trying to accomplish with it from a Lambda that cannot be accomplished with either an HTTPS client like Axios or a more appropriate framework? Just trying to understand the use case.

[2019-06-20 21:57] jkeys-ecg-nmsu commented on #1695
It would be nice if there was a Secrets category that would simplify the process of creating a new Secret in Secrets Manager and generate the code for the Functions category to decrypt that secret. But otherwise it's pretty simple to create a new secret, decrypt it from lambda, and go without much heartburn. I'll send you some sample code when I'm free of curr obligations.

[2019-06-20 22:28] damianrr commented on #1678
Basically I need to insert some rows in a DynamoDB table but I need to do it through graphql to trigger the subscriptions on the frontend. How could I do that?
My main doubt with issuing a simple HTTP post request with the query is how to provide the authentication (where can I get it from?). Do you have an idea (snippet?!) on how I could do that?

Thanks

[2019-06-20 22:32] damianrr commented on #1695
Thanks for your response @jkeys-ecg-nmsu. As I said in the other thread that you responded, my issue is that when I post a query to the GraphQL endpoint I don't know what would actually be the credentials that I need to pass (nor where to get them from) since in Amplify I just do: `Amplify.configure(aws_exports)` and that handles any required authentication and everything else.

[2019-06-20 22:59] hisham commented on #1696
My yarn setup is now working but I have to run this command to resolve symlinks before amplify push: `cp -RL node_modules/ tmp/ && rm -rf node_modules/ && mv tmp node_modules`

[2019-06-21 00:05] mattiLeBlanc commented on #1688
Thanks Amplify team for the quick fix!

[2019-06-21 00:53] SwaySway commented on #1676
Hi @aehringer based on your current schema the generated type Post should include the following.
[code]
By specifying the sortDirection you should be able to get the results in reverse.
[code]

[2019-06-21 01:56] yukitaka13-1110 commented on #1613
Thank you for quick response !
As I expected, a character  '#' was the cause of the bug.
Thank you for verifying.

[2019-06-21 02:21] David-dp- commented on #1644
@UnleashedMind Because https://github.com/aws-amplify/amplify-cli says "If you're using Windows, the CLI currently supports Windows Subsystem for Linux," but it doesn't work for me on WSL, I'm offering to test fixes re:

- amplify publish doesn't nudge me toward migration
- amplify migrate finishes silently for me and doesn't change anything

When I offered this yesterday, I was on v1.7.1. I just

[2019-06-21 04:43] calspre commented on #1656
Thanks @mikeparisstuff! That sounds reasonable. I will give it a try.

[2019-06-21 04:48] undefobj commented on #1678
Hello all - there's a lot going on in this thread so it's a bit hard for me to follow everything, but my understanding of the original ask "I'm trying to access AWS AppSync via a Lambda function" is that:
1. You have an AppSync endpoint
2. You have a Lambda function
3. You wish to have this Lambda function send a GraphQL mutation or query to this AppSync endpoint
4. This should work if the AppSync

[2019-06-21 05:54] JIoJIaJIu opened #1698 "Support subdirs into API/resolvers"
**Is your feature request related to a problem? Please describe.**
I would like to build complex graphql and custom resolvers and store them into subfolders. Right now when I try to push resolvers tree(I use custom `AppSync::Resolver` with right template location) I get
[code]

**Describe the solution you'd like**
Generate list of resolvers through fs tree traversal, https://github.com/aws-amplify

[2019-06-21 07:04] rpostulart commented on #1233
I also miss this documentation and that would be really helpful.

[2019-06-21 07:28] achutkiran commented on #1581
Hello @mikeparisstuff i have deleted schema. if you need json files i can recreate it and share them with you

[2019-06-21 12:34] RickCraig opened #1699 "Maximum policy size of 10240 bytes exceeded for role"
**Describe the bug**
I am getting the following error when trying to push:
[code]
I have manually added permissions to allow me access to the VPC that has my Aurora Serverless database on it as follows (VpcConfig & ec2 actions) everything else is generated by amplify:

[code]

I currently have 21 functions on the go, 12 of which have these permissions added. I can get away with ~13 functions befor

[2019-06-21 13:37] artista7 commented on #867
@mikeparisstuff Anything?

[2019-06-21 14:42] harveyramer commented on #1191
Multiple stacks are supported, which is nice, but to solve issues with CloudFormation templates, typically nesting is required. For example, I generated a GraphQL stack with `amplify api add-graphql-datasource` and the file generated has 247 resources and is more than 480600 bytes.

In the past, I would have separated this by concerns. The existing file would still create the data source and pass

[2019-06-21 15:00] damianrr commented on #1678
Hey @undefobj, Thanks!
That's pretty much what I was looking for!
However, I'm having one problem with authentication: I'm getting this:

[code]

I added by hand all AppSync permissions to the function role (hell, I even add AdministratorAccess) and still getting the same ... any ideas of what I might doing wrong?

Regarding your question, I'd go with 3 IMHO.

[2019-06-21 16:27] timoteialbu opened #1700 "@auth does not work with certain operations"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
API / GraphQL Transform
https://aws-amplify.github.io/docs/cli/graphql#graphql-transform

**What AWS Services are you utilizing?**
Amplify -> GraphQL

**Provide additional details e.g. code snippets**
We are trying to implement some auth rules for a ta

[2019-06-21 16:34] undefobj commented on #1678
@damianrr The code sample I made only works for IAM or API Key, you wouldn't want to use this with User Pools auth which it looks like per your edit you determined. What you need to do is add an additional auth provider in your AppSync API so that you have User Pools for your client apps and IAM for your Lambda function. More information:
https://medium.com/@ednergizer/multiple-authorization-metho

[2019-06-21 16:37] damianrr commented on #1678
@undefobj, problem is that when I add IAM as additional (not main) auth provider in AppSync API then I also get "not authorized", and if I set it up as main and Cognito User Pools as additional then the UI client is the one that doesn't work :/

[2019-06-21 16:47] UnleashedMind commented on #1697
This is due to an account restriction, closing the issue.

[2019-06-21 16:47] #1697 closed

[2019-06-21 16:50] helloniklas opened #1701 "error: uncaughtException: when doing push"
Using v 1.7.4 what used to work now gives me an error when doing a push.

[code]

[2019-06-21 16:54] UnleashedMind commented on #1698
Thanks @JIoJIaJIu

Yes, please send your PR and let the team review it.

[2019-06-21 17:49] malcomm opened #1703 "Allow @connection to set a limit"
I have an example where for a given type, will have more than 10 items, but limited to a fairly small fixed number. In my case, I will have 22 items. I'm not seeing any great options for how to fetch all of these items be default.

Given this simple example of using an @connection:

[code]

Out of the box, a simple getFoo will only return a max of 10 Bars. What I was thinking would be ideal, is to

[2019-06-21 18:11] fiveanddone commented on #1194
I wanted to add, we run into this today.  I'd like to know how everyone is getting around this other than handling git conflicts?

I also wanted to add, that it's not possible to just put the files in .gitignore if you're using amplify console for continuous deployment because it fails in the build process.

This thread seems to be the same issue and suggests it's safe to remove so it's confusing:

[2019-06-21 18:19] undefobj commented on #1678
@damianrr can you share your schema with the annotations?

[2019-06-21 18:23] houmark commented on #1678
After some long serious struggles, I made my Lambda work with a Cognito user that is part of a specific group. While not the most perfect solution, I prefer that over IAM. I've been testing it now for a few days and it seems stable. node-fetch is patching `AWSAppSyncClient` to work on the server.

@damianrr I'm curious to understand more about why "you wouldn't want to use this with User Pools". A

[2019-06-21 18:30] damianrr commented on #1678
@undefobj here is my schema annotations for the models in question:
[code]
I tried adding @aws_iam @aws_cognito_user_pools as per the articles you mentioned above but then I get:

[code]

[2019-06-21 18:32] kstro21 commented on #1696
I think it is time for **amplify** to support Lambda Layers! Locally and during deploy

[2019-06-21 18:54] damianrr commented on #1678
I finally bailed on this approach, instead I took another route, which basically is authenticating in cognito, getting the IdToken and used it to make the graphql request, not the most elegant thing in the world, but hey, it works. I put a gist together in case it could be helpful to someone else: https://gist.github.com/damianrr/6cd78290c56b960bb2f4d543423b83a2
@houmark, I wonder if this is simil

[2019-06-21 19:04] houmark commented on #1678
Yes very similar. I also use SSM for parameters, but I use getParameters to only do one call to SSM instead of 3, so I'd like to think it runs a bit faster vs. the await approach.

Interestingly you are using `graphql-request` which I have not considered. I am using `AWSAppSyncClient` from `aws-appsync` package.

I find this decently elegant and the only downside to the Cognito approach is if some

[2019-06-21 19:16] goalguy10 opened #1705 "amplifiy init freezing"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
A clear and concise description of what the bug is.

- I am trying to setup amplify for a project and when I run "amplify init" from the CLI it will freeze at the "Enter a name for the environment" phase. I get the flashing cursor but I am unable to type anything. Ctrl+c does no

[2019-06-21 19:39] undefobj commented on #1678
@damianrr Those directives must be added in the AppSync console. Amplify CLI doesn't support the multi-auth directives yet. That should be available in the next couple weeks as the PR is in process: https://github.com/aws-amplify/amplify-cli/pull/1524

[2019-06-21 19:45] undefobj commented on #1678
@houmark You would need to authenticate via User Pools from the Lambda before you could make an API call. This isn't a good practice, it's better to use IAM from your backend Lambda and User Pools from your clients (or API key if they want public access).

[2019-06-21 20:09] achutkiran opened #1707 "Get graphql id"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
lambda function
** What AWS Services are you utilizing? **
 aws lambda
** Provide additional details e.g. code snippets **
 I want to access graphql Id, to generate dynamodb table names and i don't want to give lambda permission to acess appsync. How

[2019-06-21 20:22] ajhool commented on #1678
@undefobj

I'm having trouble following this thread, are these following things an accurate characterization of what you're saying?:

1. If you use `amplify add api` to configure a GraphQL AppSync API with `    "aws_appsync_authenticationType": "AMAZON_COGNITO_USER_POOLS"`, then the only way to make Amplify's API calls from an external/non-amplify lambda function is to first use Amplify's Auth mod

[2019-06-21 21:33] ajhool commented on #1700
The NotAuthorized response makes sense to me because the initial owner should not be authorized to read it once they've changed the owner -- even the response to that mutation should be `NotAuthorized` if the mutation asks for any return fields. Does your `updateCurrentCustomer` mutation ask for any return fields?

You might want to create a custom resolver to handle this specific use case to add

[2019-06-21 21:41] damianrr commented on #1678
Guys, just to leave a bit of (successful) feedback: I manage to get this working with @undefobj's gist and by adding @aws_iam and @aws_cognito_user_pools as in the articles he mentions above.

[2019-06-21 21:45] jonmifsud opened #1708 "Multi Instance Support (vs Tenancy)"
**Is your feature request related to a problem? Please describe.**
Multi-tenancy has been brought up a number of times, with the latest approach being described in #1043

Whilst I do not discount that approach there is also a possibility of going with a multi-instance approach. Whereby the data is technically separated in different databases, with segregated access levels giving clients an extra l

[2019-06-21 22:09] ajhool commented on #1678
Thanks @damianrr . Did you need to edit your AppSync schema through the console or can you do that in `amplify/backend/api/schema.graphql`? If you needed to edit it in the backend, do you see any errors when you run Amplify push? Does Amplify push overwrite your changes to the schema?

[2019-06-21 22:28] ajhool opened #1709 "Guidance for managing a parallel Cloudformation/SAM stack."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
N/A

** What AWS Services are you utilizing? **
Auth, API, Analytics, Storage

** Provide additional details e.g. code snippets **
Alongside Amplify, we are using a SAM template to build databases, lambdas, sqs, etc. These resources interact with Amp

[2019-06-21 22:54] damianrr commented on #1678
@ajhool Yes, I edited the schema through the console, unfortunately as @undefobj mentioned above, Amplify CLI doesn't support multi auth directives yet (there's a PR about that here: https://github.com/aws-amplify/amplify-cli/pull/1524).
`amplify push` will override these changes if you modify the schema, otherwise (changes to functions et al) it won't mess with it.

[2019-06-21 23:03] timoteialbu commented on #1700
Yes that makes sense. Maybe I phrased my issue wrong. The problem is that even though it says `NotAuthorized`, it still moves forward with the mutation and updates the item in the table.

We ended up creating a custom resolver as we cannot wait for this issue to be fixed, but I think still think its a bug and should be fixed.

[2019-06-22 01:45] luizdanieldesouza commented on #1686
Thanks Mike. How can @key be applied to '@connection' field. Example:

`type Content @model
@key(name: "BySite", fields: ["site", "status"], queryField: "itemsBySite")
{
	id: ID!
	name: String!
	site: Site! @connection(name: "SiteProjects")
	status: Status!
}

enum Status {
	ACTIVE
	DELETED
}`

[2019-06-22 03:06] blairtaylor commented on #1649
Aside from this issue, I had been using Windows (not WSL) quite successfully. I don't really think "use WSL instead of native Windows" is a resolution to the issue. I believe this is a bug.

[2019-06-22 06:48] meetrij commented on #1672
@mikeparisstuff filters are not coming directly, you are correct if I add the fields as you mentioned like below
[code]
It would be coming in filter section for 'VarietyStage' but how this in mutation section? and why not coming directly?

My types are

[code]
[code]
[code]
...

[2019-06-22 08:11] dabit3 opened #1710 "What's the proper way to use `@aws_auth` with Amplify / the GraphQL transform library?"
** Which Category is your question related to? **
api

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
With the new Lambda triggers feature referenced in #766 it will be easy to set up Lambda post-confirmation triggers to add users to Cognito Groups.

How can we then utilize the groups in our API using the local GraphQL schema and the `@aws_a

[2019-06-22 09:07] YangMann opened #1711 "'redirect_mismatch' error with hosted UI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Auth / Hosted UI

** What AWS Services are you utilizing? **
Cognito, Amplify Console

** Provide additional details e.g. code snippets **
Hi,

My auth work flow worked fine with the hosted UI when I was only using http://localhost:3000/ as the sign

[2019-06-22 09:12] meetrij opened #1722 "Amplify angular API.service file generation issue"
**Describe the bug**
I am using angular/amplify/appsync for my project and in that there are several types with nested connections having nested level more than 2

The issue is that I can't see the nested field elements in every 'listing' query of file 'API.service.ts' but it is seen for every 'get' query for the following types

Note: Issue highlighted within dotted lines and right arrows, my amp

[2019-06-22 10:50] dabit3 commented on #1710
I think I may have found the answer: Use the `@auth` GraphQL Transform directive as documented [here](https://aws-amplify.github.io/docs/cli/graphql#usage-1):

[code]

[2019-06-22 10:50] #1710 closed

[2019-06-22 11:21] meetrij opened #1712 "Restrict resolver creation during amplify push"
** Which Category is your question related to? **
amplify push

** What AWS Services are you utilizing? **
appsync

** Provide additional details e.g. code snippets **
I have a type as mentioned below in which I do not need resolver template(both req and res) against each connection type country, trait, createdBy, updatedBy and variety

![issue](https://user-images.githubusercontent.com/51752377/5

[2019-06-22 13:08] artista7 commented on #1055
@mikeparisstuff any updates?

[2019-06-22 14:53] sprucify commented on #1705
I had freezing issues on version 1.7.4, fixed for me at version 1.7.5

[2019-06-22 15:14] sprucify commented on #1686
I changed my structure as recommended, but this results in a rollback:

[code]

The error in the log:
[code]

[2019-06-22 15:52] jan-wilhelm commented on #1313
Any updates on this? Having to manually write a Lambda triggered by Cognito events to create an AppSync User is really painful compared to the easy development Amplify promises. Isn't connecting a Cognito User to his AppSync model one of the most basic questions of every Amplify application?

[2019-06-22 16:05] jan-wilhelm commented on #1313
For example, how would you, at the moment, let a User create another `User`? From my perspective, there are two options that are both not very clean:

1. You could offer a `CreateUser` GraphQL mutation. This would take all the required attributes of a new User, including all relevant Cognito authentication information (email, password, username etc.). You could then add a custom request resolver t

[2019-06-22 18:08] undefobj commented on #1678
Glad you got it working. To recap: Right now the CLI doesn't support those multi-auth directives but it's coming soon. In the meantime use the CLI with User Pools as the Authorization mode (which is what clients will use) then go into the AppSync console by running `amplify console` after the deployment completes, add in an additional Authorization Provider of IAM, and then annotate the schema in

[2019-06-22 20:30] jkeys-ecg-nmsu commented on #1712
If you don't need a foreign key between a field and another model's ID field, you should omit the connection directive. Is that what you mean? (What is the point of protecting it behind a connection directive and then deleting the resolver generated for that connection?)

[2019-06-23 05:59] meetrij commented on #1712
During data listing I need connected tables data and in mutation I need to insert that foreign key id into db. If I omit then it would not be in mutation correct? which would result in error at front end. Instead of DynamoDB I am connecting with Postgres. So in 'ListVarietyProfiles' getting all the data by joining different tables and no longer resolver template needed

[2019-06-23 10:08] houmark commented on #922
This really needs a solution or better documentation on how to manually work around these types of issues.

I've hit this now twice in a few days and it got me stuck for hours. A simple change becomes a major headache and you just get into this slow death spiral where you feel like deleting the entire project. It takes 10-25 minutes for every attempt you make to do fail and then the rollback.

If

[2019-06-23 16:26] dabit3 opened #1713 "amplify env pull --restore fails"
**Describe the bug**
amplify env pull --restore fails when restoring a backend environment

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project
2. Add feature
3. Push feature to deploy it
4. Initialize new environment
5. Add new feature (do not execute push)
6. execute `amplify env checkout baseenv --restore`

Result:
Resources in base environment is deleted
[code]

Error messa

[2019-06-23 18:26] UnleashedMind commented on #1705
@goalguy10

There was an issue with one of the dependency packages in 1.7.4. We've fixed it in our last release.
Please update to version 1.7.5 and try again.

[2019-06-23 19:51] sprucify opened #1714 "Both ReadCapacityUnits and WriteCapacityUnits must be specified for index"
I wanted to make a datastructure to request GetSchedulesByGroup
I did this on other models before and that worked perfectly.
But on this Model I get error:

 `One or more parameter values were invalid: Both ReadCapacityUnits and WriteCapacityUnits must be specified for index: ByGroup (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ValidationException; Request ID: *)` and then it rolls ba

[2019-06-23 19:51] sprucify commented on #1686
I created a new issue for this #1714

[2019-06-23 19:51] #1686 closed

[2019-06-23 19:53] UnleashedMind commented on #1713
@dabit3
Somehow I was not able to get the error that you got with CLI version 1.7.5.
I will chime you for more information.

[2019-06-23 21:30] dabit3 commented on #1713
I just updated to `1.7.5` and was able to reproduce. Here are the exact steps:

~ amplify init  # this is named baseenv
~ amplify add auth
~ amplify push
~ amplify env add
~ amplify add api # do not push
~ amplify env checkout baseenv --restore

 - OS: macOS High Sierra 10.13.6
 - Version: 1.7.5

re:

It this the intended functionality?

What’s the suggested way of discarding changes made in a new

[2019-06-23 21:55] UnleashedMind commented on #1713
Thanks @dabit3

I reproduced the error following your steps.
I'm root-causing it right now.

[2019-06-23 23:26] #1713 closed

[2019-06-23 23:53] jimcal commented on #1598
Sorry for late response. I re-ran the tutorial and the issue is not longer there. thanks for the fixing this!

[2019-06-24 00:04] #1598 closed

[2019-06-24 01:14] rawadrifai opened #1716 "How to consume an Amplify backend from web and react native (2 apps)?"
** Which Category is your question related to? **
Multiple frontends for the same backend.

** What AWS Services are you utilizing? **
The whole amplify stack.

** Provide additional details e.g. code snippets **
I created a react native app that consumes the backend created in a react project hooked with amplify. I simply copy the aws-exports.js and the mutations/queries I need, and I use them fr

[2019-06-24 03:12] undefobj commented on #922
@houmark we are investigating ways to solve this in an orchestrated manner, as noted earlier this is due to a way that DynamoDB manages GSIs. However your suggestion of "warning" is an area we've decided to look into in the short term and had a couple of design sessions on it last week. @kaustavghosh06 and @mikeparisstuff are looking at the best way to inform you if you're making a change that mig

[2019-06-24 03:26] houmark commented on #922
@undefobj thanks for your feedback on this. It's nice to know that it's on your radar. Having now worked on a platform for a few weeks in Amplify, this has been my single most concerning experience, and something that makes me doubt if this is a platform I want to commit to. For this project, I am too far in, and I have to stick around, but it really worries me that cloud resources can get to such

[2019-06-24 09:23] janhesters commented on #1678
@undefobj Sorry I was on vacation over the last few days without internet.

1-3 is correct. I don't know about 4. I want to make AppSync queries and mutations to the GraphQL API added by `amplify add api` and configured to auth using Cognito User Pools. And if you say 1, `amplify add api`, 2. choose `REST`, 3. create a new function and choose GraphQL API when it asks you which resources you wan't

[2019-06-24 12:33] regenrek commented on #997
Any updates to this? It seems that the tutorial in the announcement is using two tables - one from the `graphql.schema` with `@model` directive and one from the `storage`

https://aws.amazon.com/de/blogs/mobile/amplify-framework-adds-support-for-aws-lambda-functions-and-amazon-dynamodb-custom-indexes-in-graphql-schemas/#

[2019-06-24 14:40] undefobj commented on #1678
@janhesters Why do you want to use a User Pool user in a Lambda function? This isn't good practice and is the whole reason we released the multi-auth feature in the first place. To do this you need to hardcode a fake username/password somewhere for that Lambda to use. You're better off using IAM for your Lambda.

[2019-06-24 17:00] oliverandersencox commented on #1637
@mikeparisstuff thanks for the links, however I have had no luck trying to implement that. Would you be able to give an example of how I would model this Adjacency list pattern for the friend relationship.

Its a real blocker for me! Thank in advance :D

[2019-06-24 17:16] #1705 closed

[2019-06-24 17:45] ErickTamayo commented on #1027
I'm having an issue with a similar approach:

[code]

This works just fine when I do `amplify push`. The thing is that it is not creating an index in the table. When I try to add a directory with a mutation I'm having the following error:

[code]
It creates the object in the DB, but I receive that error nonetheless.

I created the gsi manually and no errors. But, shouldn't `@connection` directive

[2019-06-24 17:57] UnleashedMind commented on #1708
Thanks @jonmifsud
The team will review your feature request and respond

[2019-06-24 18:21] janhesters commented on #1678
@undefobj I don't want to do that.

I want to access the AppSync GraphQL API, which handles the DynamoDB generated by `amplify add api` from a Lambda function. And I want to auth users in AppSync using Cognito User Pools (use `@auth` directive). I don't care which auth scheme the Lambda function uses to communicate with that API.

[2019-06-24 18:27] jkeys-ecg-nmsu commented on #1027
Yikes, I'm very disconcerted by the growing number of reports that seem to suggest that AppSync tells you it's doing one thing, and does another.

If AppSync (or Amplify GraphQL code generator) is doing implicit error handling and deploying fallback strategies we should know about it and it should be well documented. It's difficult to engineer around AppSync / Amplify API at the moment because of

[2019-06-24 18:32] janhesters commented on #1678
@kaustavghosh06

Using `aws-sdk`?

[2019-06-24 18:37] jkeys-ecg-nmsu commented on #1678
@undefobj can you please provide a code sample showing how to use IAM authorization with any generic http library like axios or fetch to an AppSync endpoint, i.e. how to sign your request manually if you don't want to drag Amplify into your backend?

A snippet from a schema that shows a model protected by both IAM and user pools would be greatly appreciated.

I'm not sure I follow the logic that a

[2019-06-24 18:38] UnleashedMind commented on #1701
Hi @helloniklas

Could you share your schema with us so we can investigate further?

[2019-06-24 18:38] jkeys-ecg-nmsu commented on #1716
+1 but scaled to `n` frontend applications.

[2019-06-24 18:50] jkeys-ecg-nmsu commented on #1703
I would like to hear an automated solution to this.

But, FWIW, I don't think you'd need to modify the generated list query, and you'd only need to change a single line in your resolver to set the default $limit. You would likely want to do this from your project so that it does not get overwritten by future pushes, but just updating the magic number in the generated resolver will solve your use c

[2019-06-24 18:52] jkeys-ecg-nmsu commented on #1027
Line to update in your Query.listModel resolvers:

`#set( $limit = $util.defaultIfNull($context.args.limit, 10) )`

[2019-06-24 18:54] jkeys-ecg-nmsu commented on #1703
Line to update in your Query.listModel resolvers:

`#set( $limit = $util.defaultIfNull($context.args.limit, 10) )`

[2019-06-24 19:00] UnleashedMind commented on #1700
@timoteialbu

Could you share the mutation you sent to update the owner?

[2019-06-24 19:17] helloniklas commented on #1701
So I’ve updated to 1.7.5 and deleted all local files and folders then re did everything and it now works.

[2019-06-24 19:17] helloniklas commented on #1701
So I’ve updated to 1.7.5 and deleted all local files and folders then re did everything and it now works.

[2019-06-24 19:17] #1701 closed

[2019-06-24 19:24] undefobj commented on #1678
@jkeys-ecg-nmsu I provided a gist with this code above using standard Node HTTP calls: https://github.com/aws-amplify/amplify-cli/issues/1678#issuecomment-504287803

The docs links I provided as well as the blog post show multiple directives on a single API, just use `@aws_iam` where needed: https://github.com/aws-amplify/amplify-cli/issues/1678#issuecomment-504489578

I don't think this thread is

[2019-06-24 19:30] UnleashedMind commented on #1709
@ajhool
Thanks for the feedback, I will mark this as a feature request and put it in our backlog.

[2019-06-24 19:36] mikeparisstuff commented on #1703
@malcomm Changing the default limit size is not currently supported via a directive but I have added it as a feature request. You have a few options to get past this today:

1. As mentioned by @jkeys-ecg-nmsu, you can add a file named `Query.listFoo.req.vtl` to the `resolvers/` directory and that file will get merged on top of the transform output at build time. You can use this to overwrite the d

[2019-06-24 21:54] oliverandersencox opened #1718 "Social Authentication not working on Ionic"
The docs tell us we can use federated sign in like so:

`federatedSignIn('facebook')`

To create a cognito user from facebook OAuth. However on a device with Ionic, the redirection process is broken.

In the browser, the process works great, however on IOS or Android it does not.

once the authentication is done, we cannot redirect back to localhost as it won't go back to the app.

If you set the

[2019-06-24 22:31] mikeparisstuff commented on #1714
Hey, the behavior for GSI throughput provisioning sits behind a condition that depends on the value of the 'DynamoDBBillingMode' key in `parameters.json`. To help track this down can you tell me if you see a value for the key `DynamoDBBillingMode` in your `parameters.json`?

[2019-06-24 22:34] mikeparisstuff commented on #1652
@aehringer Yes the problem was related to the naming of the models. A fix is being prepped in PR to address this moving forward and we will also be adding a small check that allows APIs created before the issue was fixed to continue working as normal so others experiencing this do not need to delete & replace anything.

[2019-06-24 22:58] timoteialbu commented on #1700
We kind of fixed it, but I am not sure this is ideal. I am curious what you guys think, whether amplify should handle this or not.

This is the mutation I ran:

[code]

with these variables:

[code]

on this record:
[code]

This is the vtl file generated by amplify:

[code]

We ended up adding this code at the top of that template:

[code]
which solves our issue, but we have to do this in a pre-de

[2019-06-24 23:11] mikeparisstuff commented on #1716
@rawadrifai You can use `amplify add codegen --apiId <api-id>` from another app that is not directly tied to the Amplify project.

[2019-06-24 23:19] jkeys-ecg-nmsu commented on #1716
@mikeparisstuff just to clarify, the recommended flow is to create your "primary" project with your AppSync backend and develop your "primary" client on this project, then create as many secondary projects as you have applications and manually add the primary API back to them?

If that's the case I feel like everyone who wonders about this architectural question is a +1 on my existing FR (#898) ab

[2019-06-25 00:01] jkeys-ecg-nmsu commented on #1703
It's simpler to write a shaped query with the limit variable passed, just a matter of choice. If it's a constraint that it's always 22 items you might as well override the generated request resolvers.

[2019-06-25 03:06] jkeys-ecg-nmsu commented on #1716
@mikeparisstuff please track this concern. We have been using this solution in a different way: just importing a renamed "aws-exports-primary.js" and combining objects in code. If this is the preferred method it should be documented as the recommend workflow.

[2019-06-25 04:07] undefobj commented on #1716
I think there is some confusion here, sharing the same backend between multiple frontends is outlined here: https://aws-amplify.github.io/docs/cli/init#amplify-configure-project

[2019-06-25 06:02] rawadrifai commented on #1716
@undefobj It was working for me with just aws-exports.js and you run Amplify.configure(..) and it worked out well.

Today I decided to remove my backend and reinstall it. The rn native app won't work anymore, specifically I can't log in with withAuthenticator.. it says "User does not exist" even when I try to sign up.
p.s. I tried changing "aws_user_pools_web_client_id" in aws-exports.js to match

[2019-06-25 06:42] rawadrifai commented on #1716
One thing for sure: Do not copy the whole amplify folder. It will break the react native app because of duplicate file names in backend and #current-cloud-backend

[2019-06-25 06:51] Stefano1990 commented on #1406
I don't understand how people say that amplify is production ready when something as basic as schema "migration" appears to be such a problem.

[2019-06-25 07:19] janhesters commented on #1678
@undefobj

Yes. One has to write them anyway and Amplify is partly about generating boilerplate. You could also just add the mutations and queries that the given function has access to (e.g. just `get` and `list` if the function has readonly access).

I think keeping it flexible and having it in code would be the best.

Yes. This would make running it locally easier.

Maybe automatically add the `

[2019-06-25 07:41] calspre opened #1719 "Parameters: [googleClientId] must have values"
**Describe the bug**
Could not deploy to the Amplify console when I `amplify update auth` and:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify update auth`
2. `What do you want to do? Walkthrough all the auth configurations`
3. `Do you want to enable 3rd party authentication providers in your identity pool? Yes`
4. Finish the configuration process and `amplify push`
5. Commit

[2019-06-25 07:45] rawadrifai commented on #1716
Final update.. it worked for me.
the config file is enough to port over.

[2019-06-25 07:45] #1716 closed

[2019-06-25 09:26] dantonijevic opened #1720 "Invalid GraphQL type names are generated for @key when name contains dashes or other characters"
**Which Category is your question related to?**

GraphQL API

**What AWS Services are you utilizing?**

AppSync

**Provide additional details e.g. code snippets**

 I am using this newly introduced @key directive when creating my scheme. Currently I have a scheme with primary and one GSI. It looks like this

[code]

I want to change GSI defined here to be:

[code]
 but I am getting `Schema Creatio

[2019-06-25 11:47] janhesters opened #1721 "Support Node10 for AWS Lambda"
[Now that Node10 is available for Lambda functions](https://aws.amazon.com/about-aws/whats-new/2019/05/aws_lambda_adds_support_for_node_js_v10/?nc1=h_ls), I was wondering whether there are any plans to support it? 😊 As far is I know, the Lambda functions generated by Amplify are in Node 8.

[2019-06-25 13:02] attilah commented on #1720
@dantonijevic just to confirm, do you've ```fileds``` or ```fields``` in your schema?, since that typo could make the schema invalid.

[2019-06-25 13:06] attilah commented on #1721
@janhesters you can update the node version of the generated function to be node 10 without problems.

Since node 10 is the current LTS version, I'll take the question to the team about changing default version of the generated lambda functions to 10 by default, thanks for raising this question.

[2019-06-25 13:07] janhesters commented on #1721
@attilah Thank you for the answer. I'll try that out. Feel free to close this issue, or to leave it open for the team 😊

[2019-06-25 13:11] dantonijevic commented on #1720
@attilah Yeah, typo is just in a post, not in actual code.

[2019-06-25 13:15] attilah commented on #1720
@dantonijevic thanks for confirming it, we will look into it then.

[2019-06-25 17:55] karldanninger commented on #1703
@mikeparisstuff could you give an example of #2?

Do you include that somewhere in here?

[code]

[2019-06-25 18:08] janhesters commented on #1678
**Update** I tried this:

![Screenshot 2019-06-25 at 20 05 24](https://user-images.githubusercontent.com/31096420/60122038-a9195e00-9784-11e9-8f64-5b5d35ffc16f.png)
![Screenshot 2019-06-25 at 20 05 01](https://user-images.githubusercontent.com/31096420/60122046-ad457b80-9784-11e9-91d9-a5130abe1555.png)

But it won't work. I also checked the execution policy and the relevant permissions are there.

[2019-06-25 18:27] malcomm commented on #1703
@mikeparisstuff and @jkeys-ecg-nmsu - thanks for the replies. Also thank you for making this a feature request, I think it would be handy. To get around it I am doing my own query and passing in a limit like this:

[code]

@karldanninger - hopefully that gives you a good example of how to perform a query like this.

I haven't looked into the resolvers but that looks promising. Thanks all!

[2019-06-25 18:28] karldanninger commented on #1703
@malcomm ❤️appreciate it.

[2019-06-25 19:03] amcdnl commented on #1322
I ended up punting on Amplify and just using S3 directly using Circle S3 Orbs.

[code]

[2019-06-25 20:22] janhesters commented on #1678
**Another Update:**

So I got it working both with the solution from @undefobj 's gist as well as using the regular AppSync client. To do the latter you need to add the following to your `package.json`.

[code]

And here is the code for a REST (express) Lambda function:

[code]

But my problems still stand: The Lambda function does not retrieve any items in this `list` query because of the way the

[2019-06-25 20:26] itaisteinherz opened #1723 "Authentication using phone number only"
**Is your feature request related to a problem? Please describe.**
Yes - when I tried using Amplify for authenticating users using a phone number and TOTP, I ran into some issues.

**Describe the solution you'd like**
I'd like there to be another "alternative sign in" option, where you can sign up/sign in using your phone number only (and TOTP for verification on both registration and login).

**D

[2019-06-25 20:31] henrysachs opened #1724 "AWS Appsync API Problem"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Usage Question
** What AWS Services are you utilizing? **
AWS Appsync
DynamoDB
GraphQL Transform
** Provide additional details e.g. code snippets **

hey guys i have a problem with the aws graphql transform my schema looks like this

[code]

when dep

[2019-06-25 21:09] YoudongMa opened #1725 "How to add local secondary Index for DynamoDB table with amplify-cli?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
By adding @key(fields: [String!]!, name: String, queryField: String) directory in .graphql file, I can easily create a GSI for my dynamodb table. However, I couldn't find a way to create LSI through AMPLIFY.

**Describe the solution

[2019-06-25 22:08] artista7 commented on #1055
@mikeparisstuff , can we have tenatative deadline so as to decide if we should wait for the future or go for alternate approach? :)

[2019-06-25 22:10] kaustavghosh06 commented on #1055
@artista7 Could you take a look at the "Chaining functions" section out here - https://aws-amplify.github.io/docs/cli/graphql#function and see if it solves for your use-case?

[2019-06-25 22:12] malcomm commented on #1703
@mikeparisstuff - just curious if you have a public link for the feature request? Thanks

[2019-06-25 23:00] mrcoles commented on #1102
It makes more sense to me to keep the n most recent builds and delete the rest. I don’t see that as an option with S3 lifecycle policies? I threw together this node script which does that, which I could supposedly run as a cron: https://gist.github.com/mrcoles/1a252ccffca03cebd9376ffe0612e944

Any thoughts? This feels like an overcomplicated solution to me.

[2019-06-26 00:51] artista7 commented on #1055
Point is I want to put a filter in case of some mutations, for eg. createUser (but only on monday), thus I wanted to override createUser resolver to pipeline resolver instead of creating new mutation fields with different names.

[2019-06-26 05:03] henrysachs commented on #1724
So the solution is renaming uuid to id.

[2019-06-26 05:03] #1724 closed

[2019-06-26 10:13] sukeshn commented on #1265
CloudFormation UserPool EmailConfiguration doesn't work.

I gave following input in cloud formation template:

`arn:aws:ses:us-east-1:************:identity/support@xxxxxxx.com`

I get following CloudFormation error.

`1 validation error detected: Value ' arn:aws:ses:us-east-1:************:identity/support@xxxxxxx.com' at 'emailConfiguration.sourceArn' failed to satisfy constraint: Member must sati

[2019-06-26 10:13] houmark commented on #1507
I'm pretty sure I hit this issue also.

Looks something like this.

**Model Application**
Main model, which is not directly queried by the user, but I want to grab a few fields from this model in the Interview query.

[code]

**Model Interview**
This is where I am quering with a Coginito user that has been given access to view the Interview with the `access` field.

[code]

If I query from the Int

[2019-06-26 10:29] jarrettj commented on #1265
If you are in the us-east region it should work. You copy/pasted your arn from the SES service? Very strange.

[2019-06-26 11:34] amcdnl opened #1727 "CircleCI Orbs for Amplify Deploys"
## Problem
At the moment it is somewhat difficult and time consuming to leverage external CI systems like CircleCI to deploy Amplify code bases.

The documentation makes references to [various scripts](https://aws-amplify.github.io/docs/cli/multienv#quick-tips) but doesn't really explain what they do or how to configure them.

## Request
I would like the ability to leverage [CircleCI orbs](https:/

[2019-06-26 11:42] amcdnl opened #1728 "Add Documentation for Testing"
## Problem Statement
Currently it is unclear what the best practices / tooling for testing with Amplify and AppSync is.

## Proposal
It would be nice to have some documentation (and maybe built in tooling) for unit and e2e testing.

[2019-06-26 11:48] amcdnl opened #1729 "Add Documentation for Other Auth Providers"
## Problem Statement
AWS Amplify does a great job for documentation around adding AWS Cognito authentication, however, many organizations have authentication providers such as Auth0 or Okta they use for application sign on.

## Proposal
If you dig enough into Github issues you can find snippets of suggestions on how you should approach this. It would be great if you provided documentation section

[2019-06-26 11:51] fatjoni commented on #1646
I noticed this happens when you generate mutations and queries in my project by selecting "angular" in cli.
After i tried to select typescript it was fixed ^_^

[2019-06-26 11:55] amcdnl opened #1730 "Simplify Default Configurations"
## Problem Statement
Oftentimes teams have default configurations for regions, buckets, etc. Currently if you want to initialize these you have to write a script and then have your team run that.

## Proposal
Provide a configuration file similar to the `amplify.yml` file that allows users to set defaults that you might otherwise configure via the script suggestions.

This could also help facilitat

[2019-06-26 12:36] sprucify commented on #1714
Yes I have `PAY_PER_REQUEST` set in parameters.json
When I set my table on `On demand` scaling in my AWS panel, the `amplify push` succeeded.

[2019-06-26 12:55] RossWilliams commented on #1725
The current key functionality does generate LSIs as well. To generate an LSI, you can create a secondary @key directive with multiple fields, where the first field is the same as the hash key in the primary @key directive.

using the @key directive, the first @key directive: @key(fields:["HASH", "RANGE"]) will change the table hash and range keys to "HASH" and "RANGE". A second @key directive like

[2019-06-26 15:26] appfactoryCo opened #1731 "AWS Cognito User Pool Setup"
I'm new to AWS

I'm having trouble working on a project with AWS SDK already setup.

I wanted to start fresh with terminal commands: `amplify remove api` and `amplify remove auth` and then `amplify add api` and `amplify add auth`. Not sure, but in my mind, this will change the AWS API to work with my AWS account.

but then I get GraphQL endpoint link that leads me to a page with this error:

    {

[2019-06-26 15:26] #1731 closed

[2019-06-26 15:57] lenarmazitov opened #1732 "Graphql transform generates wrong schema."
We have schema described in Graphql transform syntax:

[code]
When we push this schema, we expect that **CreateUserInput** will be:
[code]
But actually we have:
[code]

And this is not only about schema, also we have same in generated API.js:
[code]
And in graphql/schema.json:
[code]

**To Reproduce**
- amplify add api
- insert above schema
- amplify push

[2019-06-26 19:38] attilah commented on #1711
@YangMann do you've a repro project you could share with us?

[2019-06-26 19:44] attilah commented on #1719
@calspre Could you please share the initial steps you used for configuring the auth category, to make it easier to reproduce?

[2019-06-26 19:50] attilah commented on #1712
@meetrij currently the ```@model``` directive does not support this, but for this level of customizability you could implement ```VarietyProfile``` without the directive and create your own mutations and resolvers where needed as custom resources.

Would that solve your problem?

[2019-06-26 19:58] attilah commented on #1722
@meetrij could you please tell me what is the ```maxDepth``` value in your ```.graphqlconfig.yml``` file that you can find in the root of the project?

[2019-06-26 20:01] attilah commented on #1723
@itaisteinherz thanks for the feature request I take this to the team and get back to you with the result of our discussion.

[2019-06-26 20:05] attilah commented on #1725
@RossWilliams thanks for answering the question, @YoudongMa would that be a full answer to your question?

If you've further questions, please feel free to reopen the issue.

[2019-06-26 20:05] #1725 closed

[2019-06-26 20:24] attilah commented on #1727
@amcdnl since we've an ongoing discussion about better CI support at #1322 I'm closing this issue in favor of that one.

[2019-06-26 20:24] #1727 closed

[2019-06-26 20:31] attilah commented on #1730
@amcdnl to help the team to discuss it in more depth, could you please elaborate on the details of this request and provide more information on:
- what options would you require to be supported as default config?
- where that config would be stored? source control is fine or it contains secrets which would make it unsuitable to be stored there?
- what is missing from the existing headless support,

[2019-06-26 21:51] DabeDotCom commented on #91
Hi, I've gotten the Many-To-Many setup working [big thanks to @michaelcuneo for pointing out "--max-depth", above] but nowhere have I read what's the best way to DELETE a Post/User?

Simply doing:

[code]

complains:

[code]

So I gather deletes don't cascade...

Next, I tried deleting the joining `PostEditor` entry, instead:

[code]

But *that* gave a similar message:

[code]

I ***think*** I can

[2019-06-26 21:55] amcdnl commented on #1730
Sure!

In the Amplify docs section under Environments and Teams (https://aws-amplify.github.io/docs/cli/multienv?sdk=js) there is a section about CI and it says:

When you follow that link and start digging in you find scripts that define all these different configuration options. If we look at the `headeless_init_env.sh` script there is a block of code that defines 'project' based settings like:

[2019-06-27 00:13] d3vhound opened #1734 "How do you use same backend with multi-env?"
**Describe the bug**
Confused on the best way to do this step that's currently in the multienv docs.
<img width="832" alt="Screen Shot 2019-06-26 at 6 58 30 PM" src="https://user-images.githubusercontent.com/17565159/60222863-923a4080-9844-11e9-9127-2abfdae6c72e.png">

When following these steps it'll show that I need to update the api part of the stack and when I do my other team member has to th

[2019-06-27 01:29] David-dp- commented on #1644
@jkeys-ecg-nmsu The quick-and-dirty upload process started failing today. Even after clearing app data in the browser, emptying cache, and doing a hard reload, the browser keeps indicating:

I can find many google hits about this, including https://stackoverflow.com/a/52573915/6856046 but none of them seem relevant to the build method I've been using so far (i.e. yarn build)

[2019-06-27 03:17] malcomm opened #1735 "generatedFileName API.service.ts too large"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Generated API Service file is too large. This causes two major problems:

1. compiles can fail with:
[code]
Sure there are workarounds for this but ...

2. Large file has trouble loading in an IDE/editor, either very slow or could possibly

[2019-06-27 03:50] Collin-St commented on #1527
I am also running into this bug. I am attempting to add an existing aurora-serverless datasource with the `amplify api add-graphql-datasource` command. I am given this error, similar to above:

`GraphQLError: Syntax Error: Unexpected <EOF>
    at syntaxError (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/graphql/error/syntaxError.js:24:10)
    at unexpected (/usr/local/lib/node_modules

[2019-06-27 05:53] riaandeklerk commented on #1087
@kaustavghosh06 This is great. Could you give us an example of how this would work? Not entirely sure what to do with this information... Cheers.

[2019-06-27 05:59] YangMann commented on #1711
@attilah sorry the repo I'm working on is private. But I can share the details about redirect URLs.

After having two sign-in/sign-out redirect URLs in amplify auth, amplify push, the generated "redirect link" to the hosted UI page is
[code]

I think the problem is that the `redirect_uri` parameter here in the generated link contains two URLs. I kinda walked around this by
1. removing `localhost`

[2019-06-27 07:06] mattiLeBlanc opened #1736 "Amplify push "nothing to update" after change in VTL and revert."
**Describe the bug**
When I make a change in a resolver (VTL file) and do an Amplify push, it will push the change to the cloud.
When I revert the change in my VTL file (undo) and push again, it says there is nothing to push.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a resolver file, make a change
2. run `amplify push` and to finish
3. Undo your change
4. run `amplify push` and it

[2019-06-27 08:40] jarrettj opened #1737 "Access multiple Dynamodb tables from a single Lambda"
** Which Category is your question related to? **
Function and Storage.

** What AWS Services are you utilizing? **
Lambda and DynamoDB.

** Provide additional details e.g. code snippets **
How would you allow a function to use more than one dynamodb table? At the moment a role is created with access to dynamodb.

[2019-06-27 08:44] jarrettj commented on #1276
That's the solution above. Added a domainName and then used it in the single parameters.json as above.

[2019-06-27 08:52] yukitaka13-1110 opened #1738 "How to add appsync datasource to api that is already exist."
#### problem
I generate environment as follows
[code]
I selected appsync and create DynamoDB table from GraphQL schema.
<img width="1278" alt="スクリーンショット 2019-06-27 17 50 12" src="https://user-images.githubusercontent.com/22259776/60251873-52d32900-9904-11e9-855d-284a0194e4d1.png">

Next, I want to add new datasource to api.
Searching in web, I had no idea.
What should I do ?

[2019-06-27 09:32] paultipper commented on #32
Any progress on this issue? I've found that if I manually reconfigure the lambda to deploy to my default VPC in the AWS Console, the next time I run the amplify publish command, the VPC setting is reset back to "No VPC". This is a deal killer for me as far as being able to use amplify to build full-stack apps, which is heart-breaking, because otherwise it's awesome.

[2019-06-27 10:19] kimfucious opened #1739 "Receiving Error: "The specified bucket does not exist" when adding amplify resources"
**Describe the bug**
I added DynamoDB storage, using `amplify add storage`, to an existing, functional Amplify app with existing, functional Auth and S3 Storage, and when I push, I get the following error:

[code]

**NOTE:  This error happens when I try to add any resource (e.g. a function), not just DynamoDB.**

**To Reproduce**
1. run amplify add storage
2.  select NoSQL Database
3.  enter frien

[2019-06-27 12:11] OukhouyaAyoub opened #1740 "not able to push because of [CAPABILITY_AUTO_EXPAND]"
<img width="1142" alt="Screenshot 2019-06-27 at 13 50 12" src="https://user-images.githubusercontent.com/49235567/60265135-3ffd2c00-98e5-11e9-9ebb-eea9e2d8cad2.png">
I added functions, then I changed them to SAM serverless functions in the cloudformation template. When I tried to push the changes : create is failing (cf the picture attached) because of [CAPABILITY_AUTO_EXPAND] required.
Do you kno

[2019-06-27 12:32] yukitaka13-1110 opened #1761 "Can't sign up with custom attribute of cognito by using Auth.signUp"
### Problem
Auth In aws-amplify and vue,
I found the documents as follows

https://aws.amazon.com/jp/blogs/mobile/aws-amplify-adds-support-for-custom-attributes-in-amazon-cognito-user-pools/

I tried this but failed.

I found same issue as follows

#2167

I try again but failed with the following error.

[code]
Why did this error occured ?

[code]

### Depencency
aws-amplify    =>    1.1.29
aws-am

[2019-06-27 12:52] attilah commented on #1736
@mattiLeBlanc could you please tell us which version of the CLI are you using?

With the latest version of the CLI I was not able to reproduce this behavior, it worked as expected.

Just to confirm you are modifying custom resolvers, not generated ones, right?

One thing that came to my mind is frequent changes to files could cause various text editors to not to save to disk, because they're optim

[2019-06-27 13:00] attilah commented on #1738
@yukitaka13-1110 in projects where the CLI is managing the resources for you, DataSources are always handled for you by the CLI, you do not need to manage them manually for the GraphQL schema types where you specified ```@model```. You have the ability to use custom resources and create new data sources or other type of resources, but I guess this is not relevant to your case.

Could you please te

[2019-06-27 13:12] yukitaka13-1110 commented on #1738
@attilah Thank you for quick response !
I want to create two DynamoDB tables by using graphql schema.
Now, I create DynamoDB table automatically by usign the shcema as follows

[code]

I want to create another table. Can I create it if I define another type ?
Is there another way?

[2019-06-27 13:13] attilah commented on #1739
@kimfucious I was not able to reproduce this with the latest version of the CLI, could you please tell what version are you using?

Also something to try is ```amplify storage update``` to trigger a change in resources and try ```amplify push``` after that, to make sure that push is working in general for your project.

If you could share the exact content what you see in the console could help to

[2019-06-27 13:29] kimfucious commented on #1739
Hi @attilah

Thanks for the quick reply.

Amplify version is 1.7.5 installed via NPM, via `$ npm install -g @aws-amplify/cli` just the other day.

Here's my output on your recommendations after removing any new resources I was trying to add.

I now get the same error with the existing resources that were working prior.  Alas, I don't know how to run a debug, to get more info on this error.

[code]

[2019-06-27 13:30] attilah commented on #1740
@OukhouyaAyoub If I understand your problem, what you need to do is add the ```Capabilities: CAPABILITY_AUTO_EXPAND``` to your Serverless parameters, so SAM will pass that to CloudFormation.

If I misunderstood your problem please share a repro project so we can look into it.

[2019-06-27 13:30] meetrij commented on #1712
Thanks for the solution @attilah but that I can do, just wanted to know whether from <apllication-name>/resolvers/<templates> can I do anything?

[2019-06-27 13:34] meetrij commented on #1722
@attilah I couldn't find maxDepth in that file below is the content, during installation time I set that to a depth of value 6
[code]

[2019-06-27 13:35] attilah commented on #1739
So it seems that I was right and perhaps you deleted the wrong bucket. To double check, please check that the bucket name you have in ```team-provider-info.json``` for ```DeploymentBucketName``` exists, I assume not, but please confirm.

[2019-06-27 13:36] attilah commented on #1712
No you cannot do it currently.

I'm closing this issue now, if you've further questions regarding this, please feel to reopen it at a later time.

[2019-06-27 13:36] #1712 closed

[2019-06-27 13:42] kimfucious commented on #1739
You are spot on!

The entry in the `team-provider-info.json file` is:

`"DeploymentBucketName": "slug-o-rama-beta-20190625175625-deployment",`

and that bucket, indeed, does not exist when viewing my S3 buckets in the AWS console.

Not sure how I got into this fix, and oddly the app is working, but how do I get out of it?

[2019-06-27 13:58] OukhouyaAyoub commented on #1740
@attilah
amplify add function : then I change in the cloudformation template generated, to a AWS::Serverless:Function
When I : amplify push  Im getting the error shown in my previous screenshot
My question is how to pass this parameter or force it with amplify cli ? Thanks

[2019-06-27 14:07] attilah commented on #1739
@kimfucious that bucket is used only for deployment operations and is not used for running your app, that's the reason it works.

Let me get back to you on possible ways to recover from this situation.

[2019-06-27 14:07] jarrettj commented on #36
If you manually create a role, you would lose all the auto-generated stuff that amplify cli does to the role. And that's more work than having a proliferation of roles in the Console I guess. I choose the lesser evil!

[2019-06-27 14:11] attilah commented on #1740
@OukhouyaAyoub I think you cannot do that now, let me change this to a feature request and get back to the team to discuss it.

[2019-06-27 14:18] kimfucious commented on #1739
Cool, thanks.

I did just try to manually create the bucket `slug-o-rama-beta-20190625175625-deployment` and run amplify push, and things seemed to have happened!

I'll report back with future findings.

BTW:  how in the world did you deduce that I'd deleted a bucket and that it would be in that particular file?

[2019-06-27 14:28] attilah commented on #1739
If that works fine, I already checked the default template we're using to create the bucket and we've no special permissions set on it, just the default secure-by-default ones as you can see here: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/lib/rootStackTemplate.json#L20

I just was not sure if we need to do any special operations before a syn

[2019-06-27 14:28] #1739 closed

[2019-06-27 15:20] attilah commented on #1734
@d3vhound sorry about the confusion, we update the documentation regularly based on customer feedback, feel free to open an issue in the https://github.com/aws-amplify/docs repository next time.

After you've created the initial amplify cli workspace for a new team member and since ```team-provider-info.json``` contains the required deployment information, team members during the development cycle

[2019-06-27 15:26] attilah commented on #1732
@lenarmazitov I was not able to reproduce it with the latest version (1.7.6). Could you please check and confirm that it works with the latest version on your end as well?

I'm closing the issue, but if it still exist for you please feel free to reopen at a later time.

[2019-06-27 15:26] #1732 closed

[2019-06-27 16:47] #1613 closed

[2019-06-27 16:48] kaustavghosh06 commented on #1601
@nagay Closing this issue due to lack of response. Please comment on this thread if you're till stuck with this issue.

[2019-06-27 16:48] #1601 closed

[2019-06-27 16:49] haverchuck commented on #1691
@kaustavghosh06  - Let's say I have an aws-exports file with a value for user pool id  of 'abc'. When I run auth remove and then auth add (which creates a new user pool with id of 'xyz'), I'd expect the exports file to contain 'xyz', but it still contains 'abc'.  I've experienced similar behavior with amplify delete.

[2019-06-27 16:51] kaustavghosh06 commented on #1691
@haverchuck I understand with delete we do not delete/remove the exports file but with add abc -> remove xyz and the push the exports file would have the userpoolID of xyz.

[2019-06-27 16:52] #1541 closed

[2019-06-27 17:01] kaustavghosh06 commented on #1737
Is the DynamoDB table part of the Amplify project which was created using `amplify add storage`?

[2019-06-27 17:06] kaustavghosh06 commented on #1734
@d3vhound Which version of the CLI are you using? We recently released a fix for avoiding the "Update" status to REST API's/Lambda functions (When there is no update to the src code) when working between teams.

[2019-06-27 17:11] jarrettj commented on #1737
I used the amplify api add. Then realized I don’t need all of that, api and function. Just the storage. The table just hold counters. So I update the counter via another function.

________________________________
From: Kaustav Ghosh <notifications@github.com>
Sent: Thursday, June 27, 2019 7:01 PM
To: aws-amplify/amplify-cli
Cc: jarrett jordaan; Author
Subject: Re: [aws-amplify/amplify-cli] Access

[2019-06-27 17:17] kaustavghosh06 commented on #1707
@achutkiran We don't support this out of the box in the CLI since this is not a common scenario. but at the same time you can update your cloudformation file located in `amplify/backend/function/<function-name>` to remove the Policies that you don't require.

[2019-06-27 17:17] #1707 closed

[2019-06-27 17:18] d3vhound commented on #1734
@attilah when I run `amplify env pull` right after cloning the project for the first time I either get an Unauthorized error or this:
[code]

The exact steps are:
1. 1st team member sets up graphql api with amplify
2. pushes to github
3. 2nd member clones repository
4. 2nd member wants to change schema or see output of `amplify status`

The 4. step is where I've always encountered difficulty. The

[2019-06-27 17:19] d3vhound commented on #1734
@kaustavghosh06
[code]

[2019-06-27 17:19] kaustavghosh06 commented on #1703
@malcomm This issue is the feature-request which we would be tracking.

[2019-06-27 17:21] kaustavghosh06 commented on #1696
@hisham We're tracking support for lambda layers in #703. Closing this as a duplicate.

[2019-06-27 17:21] #1696 closed

[2019-06-27 17:22] malcomm commented on #1703
@kaustavghosh06 - oh thanks, that makes it easy. Sorry I misinterpreted the comment and thought another issues was created for the feature request. I just realized the tag feature-request was added.

Thanks!

[2019-06-27 17:28] kaustavghosh06 commented on #1672
We don't support this currently, but as mentioned by @mikeparisstuff, you could acheive what you're trying to do by just adding the fields to the type.

[2019-06-27 17:28] #1672 closed

[2019-06-27 17:29] SwaySway commented on #1583
Hi @janhesters this is the current implementation if you override any operations if will only generate the specified operations as specified in the `@model` [usage docs](https://aws-amplify.github.io/docs/cli/graphql#usage). Closing this issue for now. Should this need to change based on feedback, I can circle this back to the team as a potential feature request.

[2019-06-27 17:29] #1583 closed

[2019-06-27 17:30] kaustavghosh06 commented on #1656
@calspre Closing this issue for now, please feel free to comment on this thread if you still have any queries around this.

[2019-06-27 17:30] #1656 closed

[2019-06-27 17:34] #1627 closed

[2019-06-27 17:40] janhesters commented on #1583
@SwaySway Okay, I don't think it's a big issue, and there are way more important feature requests. Thank you for your time!

[2019-06-27 17:41] achutkiran commented on #1707
Ok sure thanks

[2019-06-27 17:46] kstro21 commented on #1099
Confirmed that what @zjullion shows in https://github.com/aws-amplify/amplify-cli/issues/1481#issuecomment-493603180 works. It is the same approach used when running `amplify function update` commented by @kaustavghosh06 in https://github.com/aws-amplify/amplify-cli/issues/1099#issuecomment-497212996

The name of the resulted stack parameter doesn't look nice, but it will do the job.

What I don't

[2019-06-27 17:51] kaustavghosh06 commented on #682
@pierremarieB Was the resolver that you added, a custom resolver?

[2019-06-27 17:53] mikeparisstuff commented on #1639
@janhesters If you are interested in helping write documentation, we are happy to help you help by reviewing PRs.

The nextToken is an opaque cursor that is a encrypted, serialized version of the `LastEvaluatedKey`. Handling the conversion from the potentially complex key to the single string is done for you to make it easier to deal with.

I see this largely as an implementation detail as the res

[2019-06-27 17:58] #911 closed

[2019-06-27 18:01] kaustavghosh06 commented on #90
This issue is fixed in the latest version of the CLI. Please feel free to comment on this thread if you're still facing this issue.

[2019-06-27 18:01] #90 closed

[2019-06-27 18:02] janhesters commented on #1639
@mikeparisstuff

Thank you for your answer 🙏

Will continue to do that if I feel like I can provide good documentation.

Didn't know that, learned something new, thank you 💡 I tried finding the code for the `nextToken` generation, but couldn't find it. Do you have any resources that I could read (code or docs) to help me understand this process and how `nextToken` is created better?

I feel like i

[2019-06-27 18:04] UnleashedMind commented on #785
@Aeolun
I've tested recent versions of the Amplify-CLI  (such as 1.7.5), and it's working as expected on Windows 10 on both powershell and cmd.exe, you can just run the Amplify-CLI commands directly on them.

[2019-06-27 18:05] kaustavghosh06 commented on #785
@jkeys-ecg-nmsu @Aeolun

[2019-06-27 18:05] #785 closed

[2019-06-27 18:13] SwaySway commented on #1582
Hi @adjmaker could you provide your schema before compilation?

[2019-06-27 18:40] yuth commented on #1646
@fatjoni choosing angular as `codeGenTarget` should not change how the statements are generated. Could you share a schmea where I can reproduce this

[2019-06-27 19:12] pierremarieB commented on #682
@kaustavghosh06 It was a regular resolver. Not sure what you mean by custom resolver.

[2019-06-27 21:01] YoudongMa commented on #1725
This answered my question. Thank you

[2019-06-28 00:12] mart2967 commented on #1651
@yuth I'm hitting this issue when adding the first key to my schema, like so:

`@key(name: "ByPlays", fields: ["id", "plays"], queryField: "songsByPlays")`

[2019-06-28 00:49] mattiLeBlanc commented on #1736
Running 1.7.5.

I am using VS Code, I definitely save the file.

![image](https://user-images.githubusercontent.com/5285035/60309340-aa1edb00-9990-11e9-8c63-84185d94b595.png)

I must concur that trying it now, It did see changes and allowed me to push. So not sure why it doesn't happen consistently.
I did the exact same steps lol.

[2019-06-28 02:14] calspre commented on #1719
@attilah As far as I remember I used the preconfigured one with social providers:

[code]

I can't be certain but I *think* I followed the above steps.

As for the manual configuration, once I select 'no' for the question 'do you want to enable 3rd party authentication providers in your identity pool?' Everything worked the same as before.

[2019-06-28 02:20] clinicalinkgithub opened #1769 "@auth does not work for bidrectional relationship (you cannot retrieve the child collection)"
GraphQL, AppSync, and Authentication.
==> @auth does not work for bidrectional relationship
==> if I add the @auth directive to the types below the querys won't retrieve the child collection (for the 1-many relationship)

==> if I remove the @auth directive, both the bidirectional queries will work.
 ==> using the @auth, you get a [Not Authorized to access XXX of type ZZZZ]
   ==> you cannot retri

[2019-06-28 02:33] tan-phuong-mulodo commented on #1016
how i have set code API Keys in  SAM deploy template. Please help me

[2019-06-28 07:01] kimfucious commented on #1739
Thanks, @attilah

I think I'm sorted now, after the manual re-creation of that bucket.

[2019-06-28 08:22] kimfucious opened #1745 "How Do You List Dynamo Contents"
I've created an (react-create-app) app with CLI provisioned API, Lambda, and DynamoDB.

I want to perform a GET request that returns all entries on a path (i.e. return the results of a table scan).

The auto-built express app (Lambda function) seems to only respond to queries for a specific value (e.g. primary partition key).

I've tried adding the following GET method to the lambda function, but

[2019-06-28 12:43] BabyDino commented on #32
I was also looking into this. I found a (temp?) solution:

Change your `<functionname>-cloudformation-template.json`:

Under Resources add:

[code]
and add a statement to your execution role:

[code]
Refer to: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html

[2019-06-28 13:59] paultipper commented on #32
@BabyDino Hi Stefan, thanks for the tip. Whereabouts exactly did you add the execution role statement in your <functionname>-cloudformation-template.json document? I tried adding it to Resources/lambaexecutionpolicy/Properties/PolicyDocument/Statement, but when I tried to deploy using the amplify publish command, I got the following error:

`Following resources failed

Resource Name: cdkamplifyapp

[2019-06-28 14:02] BabyDino commented on #32
@paultipper this works for us:

[code]

[2019-06-28 14:24] paultipper commented on #32
@BabyDino Yeah, that's exactly where I put the new statement, but I'm still getting the error. Stumped. :(

[2019-06-28 14:42] BabyDino commented on #32
@paultipper I do not have an answer sorry, just figured this out myself. There are some articles about your error though: https://medium.com/@onclouds/aws-codestar-lambda-vpc-706fcf1252d4.

Hope this helps.

[2019-06-28 14:53] paultipper commented on #32
@BabyDino Finally cracked it! You have to add and deploy the network interface permissions statement _first_ before you'll be allowed to add VPC configuration statement. Once the network interface permissions are in place, then you'll be able to add the VPC config, but you _can't_ add the VPC and network interface permissions statements at the same time.

Kudos to gozup for pointing this out - see

[2019-06-28 15:03] lenarmazitov opened #1742 "Can't query autogenerated schema (The provided key element does not match the schema )"
**Describe the bug**

I have following schema defined in Graphql Transform syntax:

[code]
Resolver Query.getUser.req.vtl (generated automatically):
[code]
Resolver Query.getNickname.req.vtl (generated automatically):
[code]

**The problem:**
When I trying to perform following query:
[code]
I get following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add api (create

[2019-06-28 15:07] BabyDino commented on #32
@paultipper You're welcome, glad it works!

Thank you for the link, I was not aware of that. I'll might consider creating a role in IAM and just use that role instead of creating a role with every function. Most of our functions require the same permissions anyway.

[2019-06-28 18:25] dancomanlive opened #1743 "Automatic code generation"
**Is your feature request related to a problem? Please describe.**
Automatic code generation is only offered in two forms. One of them can be done via the AppSync Management console and the other is done using the AWS Amplify CLI.

**Describe the solution you'd like**
As a user I would like to generate code automatically without using  the AppSync Management console or the AWS Amplify CLI so that

[2019-06-28 21:26] attilah commented on #1644
@David-dp- I took a look at your issue and I think this is not related to your project or Amplify CLI itself, but to your environment on your machine, please help me confirm it.

I setup a Windows 10 WSL fresh and installed awscli, nvm, node 10 (via nvm), git and then I was able to create projects and I had no errors like you had.

I used Windows 10 1903 and Ubuntu from the Windows Store.

The ste

[2019-06-28 21:28] UnleashedMind opened #1747 "Function category update bug"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
When trying to update the lambda function, the CLI errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify init`
2. `amplify add function`
3. `amplify push`
4. make some modifications on the function resource, for example, update the xxx-cloudformation-templat

[2019-06-29 00:11] David-dp- commented on #1644
@attilah I really appreciate your suggestions.

About my current setup: I've used a Windows install of node for years, but when I started having problems with npm install, I used Revo Uninstaller Pro to remove it. I have Win10 os build 17* which I believe is the public stable current version. And I have Ubuntu for WSL from the Windows Store, installed once I had problems with the Windows-installer

[2019-06-29 05:08] julescsv commented on #1676
We have the same issue with @key.
The default sort order on createdAt is "ASC" and can't be changed.
`# Get orders by customer by createdAt.
type Order @model @key(fields: ["customerEmail", "createdAt"]) {
    customerEmail: String!
    createdAt: String!
    orderId: ID!
}`

Query
`query ListOrdersForCustomerIn2019 {
  listOrders(customerEmail:"me@email.com", createdAt: { beginsWith: "2019" }) {

[2019-06-29 05:12] kimfucious commented on #1745
I got now idea why, but replacing the above attempts with the below, works:

[code]

[2019-06-29 06:19] jonmifsud commented on #1708
@UnleashedMind thanks, If there's anyway we could help, provide more details or otherwise please let us know.

[2019-06-29 07:18] sukeshn commented on #1265
Jarrettj, sorry it was my bad, there was a whitespace at the start of the arn.

[2019-06-29 08:22] attilah commented on #1644
@David-dp- I forgot to emphasize that I did not run WSL as admin, I see no need for that, just as usual.

Since your WSL environment had some struggle, would you agree to reset it and try the steps I outline above to see if that would make a difference or not?

Resetting WSL:
- Go to Settings app on Windows
- Apps -> Apps & Features
- In the list search for Ubuntu and after selecting it click Adva

[2019-06-29 10:27] jarrettj commented on #1265
Cool man, glad you got it “working”. Hopefully better CF support is on the way for SES.

________________________________
From: Sukesh Nemane <notifications@github.com>
Sent: Saturday, June 29, 2019 9:18 AM
To: aws-amplify/amplify-cli
Cc: jarrett jordaan; Mention
Subject: Re: [aws-amplify/amplify-cli] Configuring Cognito SES settings. (#1265)

Jarrettj, sorry it was my bad, there was a whitespace

[2019-06-29 14:43] wellrightamplify commented on #703
+1

[2019-06-29 15:48] attilah commented on #1745
@kimfucious it seems that you were able to solve your issue, so I'm closing this issue, feel free to comment or reopen if needed.

[2019-06-29 15:48] #1745 closed

[2019-06-29 22:09] #1747 closed

[2019-06-29 22:29] gitzhouxinyu1 commented on #1277
Any updates?

[2019-06-29 22:42] rawadrifai commented on #1676
+1

Most applications require their data sorted in DESC order according to createdAt.
Definitely should be a native option.

[2019-06-30 01:12] cmoel opened #1762 "Using the @key directive on an existing type"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AWS AppSync & DynamoDB

** Provide additional details e.g. code snippets **
I have a GraphQL `Student` type and backed by a DynamoDB table. I created the table before the `@key` directive was available and I'd like to add another key now. The documentation I found for it, though, doesn't seem to give

[2019-06-30 04:39] stefangomez commented on #1576
@calspre - according to the docs, no. I'm curious about how AWS Amplify/Appsync plans to address this.

Here's my (and probably a lot of other people's) use case: I want to build a native app (react native) that has public AND private access. Disregarding the multi-auth of api's, and it eventually getting implemented in amplify-cli, the "public" use case for unauthenticated access, seems troubleso

[2019-06-30 06:33] yukitaka13-1110 commented on #1204
I tried https://github.com/aws-amplify/amplify-cli/issues/1204#issuecomment-482028480 and update auth, but an update error occured.

cloudformation.yml
[code]

parameter.json
[code]

Am I wrong in specifying?

[2019-06-30 08:46] YangMann commented on #1711
@attilah I have a question: how is the redirect uri populated when calling `Auth.federatedSignIn()`?

[2019-06-30 10:32] kimfucious commented on #1745
Thanks again, @attilah

Replacing the `Select` line with `ProjectedExpression...` did the trick, yes...

**Follow up question:**
Is the base setup with `amplify add api` per the docs [here](https://aws-amplify.github.io/docs/js/react#add-rest-api-calls-to-a-database) (Express CRUD), such that any errors that occur in the lambda return a (misleading) CORS error?

If so, is there a way to fix that,

[2019-06-30 12:53] ovidb opened #1752 "How to do field level @auth for bi-directional one-to-many @connection?"
**Which Category is your question related to?**
AppSync / GraphQL Transformer

**What AWS Services are you utilizing?**
AppSync / Dynamo
**Provide additional details e.g. code snippets**

I'm trying to figure out how can you protect a one-to-many `@connection` with `@auth` against mutations that shouldn't be allowed. (ie: deny a specific user to run a mutation that will end-up inserting posts as a

[2019-06-30 15:47] cyrfer commented on #191
Reopening.

I used a new project created with `npx create-react-app amplify-test`, followed by `npm install -g @aws-amplify/cli`, and during `amplify init` I selected an existing AWS CLI profile "default".

[code]

[2019-06-30 15:48] cyrfer commented on #191
@kaustavghosh06 I need some help to re-open.

[2019-06-30 17:20] amzonestep commented on #1062
Hi,

I found your article truly amazing and interesting, it is quite useful for me obvious. Thanks for sharing your great post.

Thanks & Regards
Kamaljit Singh

[Amazon PPC Campaign
](https://www.amzonestep.com/services/amazon-ppc-service)

[2019-06-30 22:53] incr3m opened #1753 "How to block specific IPs from accessing the backend?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Security

** What AWS Services are you utilizing? **
Appsync, Amplify, Cloudfront, Lambda

** Provide additional details e.g. code snippets **
I created an amplify graphql project thru AWS Amplify pipeline with custom domain. I need to block some ip

[2019-07-01 01:40] houmark opened #1754 "Unauthorized read / update on GraphQL from client"
** Which Category is your question related to? **

I need to read (but not list) an a single item (based on query on a get query) using AppSync/GraphQL and later update that same item in the browser (react). The user will not and cannot be logged in (a fake user could be an option, but seems very hacky). I've seen a lot of random guides and writeups on this, but I just can't seem to grab what's th

[2019-07-01 06:55] stanleycyang opened #1756 "Update mutation breaks composite key"
**Describe the bug**
When you run an update mutation on a model with a composite key, it breaks:

<img width="633" alt="Screen Shot 2019-06-30 at 10 42 01 PM" src="https://user-images.githubusercontent.com/3037893/60416143-ef5e2b00-9b91-11e9-8b3a-73ebe146d510.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following schema

[code]

2. create the schedule
3. create the time

[2019-07-01 10:47] chai86 opened #1757 "gluegun error (migration not working)"
Hi,

I am currently unable to migrate my project to the new CLI, it is failing on GraphQL api and i've decided for now to not waste precious time on it. I am using the most recent version of aws-amplify (v1.7.8 i believe).

So if i attempt to continue as normal, and i get the following error:

[code]

How do i resolve this?

[2019-07-01 10:58] chai86 opened #1758 "Migration of project to latest CLI version failing"
My migration of my existing project to the latest CLI version is failing, currently on the GraphQLSchema block:

`UPDATE_FAILED               GraphQLSchema                                         AWS::AppSync::GraphQLSchema Mon Jul 01 2019 11:49:39 GMT+0100 (British Summer Time) The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: 6E21786RDE39

[2019-07-01 12:41] meetrij opened #1759 "How could I reduce the size of ConnectionStack.json file"
**Describe the bug**
When I do amplify push I am getting error like "Template may not exceed 460800 bytes in size". It's not working with cli version update as mentioned in #185, my amplify version is 1.7.4

1. How could I override size
2. Is there any option to compress template by removing white spaces without beautify

[2019-07-01 14:43] lenarmazitov commented on #1742
I have some suggestions about why this happens with this kind of schema.
May be it because **connection** field are parsing.
In this case **nicknameOwnerId** parses like:
- nickname: table name
- owner: field name
- id: related table primary key

And because in this case primary key of related table called **owner** but parser trying to find **id** instead

[2019-07-01 14:44] scherroman opened #1760 "Can I trigger a Lambda function or SNS event in response to an AppSync GraphQL Mutation?"
**Which Category is your question related to?**

Usage Question

**What AWS Services are you utilizing?**

Amplify, AppSync, Lambda, SNS, DynamoDB

**Provide additional details e.g. code snippets**

AWS AppSync/GraphQL subscriptions coupled with AWS Amplify sound amazing, since out of the box you can subscribe all your clients to high-level domain events specified in your schema.

Though it seems

[2019-07-01 15:26] attilah commented on #1743
@dancomanlive could you please describe what do you mean by automatically? Either the Console or the CLI can do this for you, so it makes it hard to understand what are you exactly looking for.

[2019-07-01 15:32] attilah commented on #1753
@incr3m Let me take this back to the team, because it involves other services too, it is out of scope for the CLI for sure, but perhaps we can come up with an answer to your question.

[2019-07-01 15:37] attilah commented on #1754
@houmark Unauthorized access means, what your API endpoint will still require http requests with SIGv4 signatures, but you don't need to get it for an authenticated user.

@dabit3 has a sample application around this topic: https://github.com/dabit3/appsync-auth-and-unauth.

I think this answers your question so I'm closing this issue, if you have further questions, feel free to re-open it a later

[2019-07-01 15:37] #1754 closed

[2019-07-01 15:48] houmark commented on #1754
I saw that sample app and to be honest, it seems somewhat complex. Does this mean that every time I add a new Model in my schema I will have to actively add access in the inline policy for every type of query and mutation? Even if those are only used by Cognito authorized users?

I've seen writings about @aws_iam inline in the schema, but that's unreleased, though supposed to be very close to rele

[2019-07-01 15:54] houmark commented on #1754
My hesitation towards the solution from @dabit3 (no bad will here, just thinking there's something new coming up, he is working on making a sample for that could replace the old sample) comes from a question by him 9 days ago in #1710.

The sample @attilah linked is 5 months old and if we can agree it's not the most clean and minimalist solution, then maybe there's something better on the way? If

[2019-07-01 16:01] dabit3 commented on #1754
@houmark we also added support for both authorized and unauthorized roles in AppSync as outlined here -> https://aws.amazon.com/blogs/mobile/using-multiple-authorization-types-with-aws-appsync-graphql-apis/

Not yet implemented into the Amplify CLI yet but is coming, but is completely supported by the Amplify client and AppSync client

[2019-07-01 16:09] houmark commented on #1754
@dabit3 Thanks for that. I had hit that post once but gotten away from it. Couldn't find it in a Google Search for some reason. Long post, but looks promising and a more clean solution.

I'll read it and may come back here for clarification. Thanks again!

P.S. Since your repository with the sample seems to get some attention, you may want to link the blog post the new option for doing this in the

[2019-07-01 16:46] dabit3 commented on #1754
@houmark Great idea, I've updated my example repo with a link to the post.

[2019-07-01 17:08] mikeparisstuff commented on #1756
There is logic that is meant to fail fast when the input object does not contain the @key fields. Can you please include the mutation that is breaking the key to help debug the issue.

[2019-07-01 17:10] mikeparisstuff commented on #1720
@dantonijevic It is not possible to edit an existing GSI. To make this work, you should create a new `@key` on the updated fields and then remove the existing `@key`. There is a note about this here https://aws-amplify.github.io/docs/cli/graphql#evolving-apis-with-key

[2019-07-01 17:44] lenarmazitov commented on #1742
I found reason.
Instead of:
[code]

I should write:
[code]

[2019-07-01 17:44] #1742 closed

[2019-07-01 18:35] stanleycyang commented on #1756
@mikeparisstuff

I ran an `updateSchedule` query passing in the `schedule` ID and `scheduleTimeCardId`. I get a success on the mutation, but I'm not quite sure why inserting into the composite sort key the `ctx` would be a fail fast solution.

Here is the actual mutation:

[code]

The `UpdateScheduleInput` looks like:

[code]

[2019-07-01 19:00] dantonijevic commented on #1720
@mikeparisstuff Thank you for the response.

I actually tried with a fresh AppSync project and tried to define a GSI with 3 fields which got me the same error as above. I created a repo to demonstrate - [here](https://github.com/dantonijevic/amplify-GSI-test/blob/master/amplify/backend/api/keys/schema.graphql) is the schema I am trying to push where the current DynamoDB table deployed has `type-su

[2019-07-01 19:23] attilah commented on #1737
@jarrettj Are you still stuck with this or you're good as you figured it out on your own?

[2019-07-01 19:46] attilah commented on #1722
@meetrij Could you please confirm what version of the CLI you used when you created the project?
As a possible solution I'd suggest to add the ```maxDepth``` value to the ```.graphqlconfig.yml``` and run codegen again with the latest CLI to see if that would solve your problem.

[2019-07-01 21:10] rpostulart opened #1768 "Pass dynamic params to Elasticsearch"
I am using a schema with @searchable. And I have a mapping template like:

[code]

Is there a possibility to set the part in **must** dynamically (so from the code). I need more flexibility based on a filter that a customer is using, so I can't predefine all the musts.

[2019-07-01 21:29] ajhool commented on #1576
@stefangomez what is your opinion about my suggestion in the RFC, here? https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-490541178

[2019-07-01 21:58] kaustavghosh06 commented on #1758
@chai86 Is it tied to #1757? Or are you past that stage?

[2019-07-01 23:32] rawadrifai opened #1766 "I am subscribing to events and receiving data I am not authorized to see"
** Which Category is your question related to? **
Amplify subscriptions

** What AWS Services are you utilizing? **
Amplify, AppSync, DynamoDB

** Provide additional details e.g. code snippets **
I am wondering what's the expected behavior of a subscription generated with codegen.
If I am subscribed to onCreateSomething, and then someone else adds a record that I am not authorized to read (based o

[2019-07-01 23:53] stefangomez commented on #1576
@ajhool - it looks good, I think that addressing the issue solely within `@auth` might not give the flexibility of using unauthenticated access outside of an `@model` <-- I might be wrong about this.

I haven't specifically tried `@auth` outside of `@model` but the use cases I'm working on now, aren't even using `@model`. I think if it might work if `@cognito_user_pools` works just like `@auth`, a

[2019-07-02 00:02] rawadrifai commented on #1021
@yuth If I'm subscribed to `onCreateSomething` and something gets created, I get an event to all my clients, whether I am authorized to see the data or not. It seems that this is the expected behavior. If so it's a big hole. This should be prioritized as a critical bug I would say because the default subscriptions compromise data privacy.

Btw - my auth flow is pretty complicated. I override the c

[2019-07-02 00:03] stefangomez commented on #1576
After doing lots more research, I found numerous approaches to the "unauthenticated" user access to appsync. It's still *not* ideal, but I think the best path to do this (for now) for those interested, is to use one of the following implementations.

1) **Cognito user pools for auth'd users, api-key for unauth'd users**
    - amplify/appsync setup:
      - current version of amplify-cli (1.7.6) do

[2019-07-02 00:04] stefangomez commented on #1754
@houmark - check out my comment here: https://github.com/aws-amplify/amplify-cli/issues/1576#issuecomment-507467641

[2019-07-02 00:07] rawadrifai commented on #504
@mikeparisstuff -- pleeeeeeeeeeeeez add parametrized subscriptions. It's such a big hole in the framework. Actually it renders it unusable for most real-time apps.

[2019-07-02 01:01] claytonrogers commented on #98
+1 for this feature

[2019-07-02 02:17] David-dp- commented on #1644
@attilah When I searched for Ubuntu in Apps&Features, there was no match. The only Linux-related app I found was GnuWin32:CoreUtils v5.3.0 (which I believe my Git GUI uses). This is very surprising, because my WSL terminal indicated it was Ubuntu.

When I installed Ubuntu for WSL about a month ago, I did so via the Microsoft Store app, and several times, using its Get button had no effect. IIRC, I

[2019-07-02 03:08] yukitaka13-1110 opened #1767 "Is it possible to setting automation of email verification when amplify auth add ?"
Simply, usage or feature request.
I want to automate email verification.
It is easy to realize using lambda pre-signup event trigger.
In aws-amplify/cli, is it possible ?

[code]

[2019-07-02 03:59] Crisp3333 commented on #1657
I am in favor of this. A scenario where this is critical is a real time application where the date field must be controlled by one global system/server that sets the time. If the time is set by the application code, then there could be lapses and inconsistencies reflected in time of multiple events. If device A creates a mutation before device B, there is a strong possibility device B's time recor

[2019-07-02 07:50] RossWilliams commented on #1204
@yukitaka13-1110 required attributes in Cognito must be defined in Cloudformation templates when you first create the user pool. Cognito does not allow this update. Here is a forum thread on the topic: https://forums.aws.amazon.com/thread.jspa?messageID=898280&#898280

[2019-07-02 08:18] yukitaka13-1110 commented on #1204
@RossWilliams I tried https://github.com/aws-amplify/amplify-cli/issues/1204#issuecomment-482028480.
In this case, dose the ```myCustomAttribute``` stands for custom attribute(ex user_type) ?
about https://github.com/aws-amplify/amplify-cli/issues/1761#issuecomment-507007122
I want to add custom attributes like user_type instead of required attribute.
Is it possible to add custom attributes by add

[2019-07-02 08:19] chai86 commented on #1758
No, this is for actually migrating the project, so still valid. #1757 is related to opting not to migrate.

[2019-07-02 08:21] tedkimzikto commented on #1450
any updates

[2019-07-02 09:02] jarrettj commented on #1737
I manually add the need CF template updates. It's obviously a hack, but it works. :)
In my parameters.json:
[code]
In template.json:
[code]

What I would need is a way to pass a role that gets included in environments and updated accordingly by the cli. Will write up a better feature request.

[2019-07-02 09:02] #1737 closed

[2019-07-02 09:13] jarrettj commented on #1204
@yukitaka13-1110 An example https://github.com/aws-amplify/amplify-cli/pull/1289/commits/83476b944852ffa000875074e200b4fd5ec6f88c?short_path=ac1bfc4#diff-ac1bfc471563fa82f8882dccfe0ec1c2.

My template looks like this:
[code]

And it adds the custom attribute just fine.

[2019-07-02 09:26] RossWilliams commented on #1204
@yukitaka13-1110 the important part of https://github.com/aws-amplify/amplify-cli/issues/1204#issuecomment-482028480 is that you must modify the cloudformation template before running amplify push. If you have an existing user pool, then you have already run push and it is too late to change Cognito without creating a new user pool.

myCustomAttribute is the name of the attribute.

Required fields

[2019-07-02 12:20] basslagter commented on #808
Good to point out
"The value specified is the expiration date in seconds **since Epoch**"

[2019-07-02 12:25] dabit3 commented on #1754
Hey @stefangomez thanks a lot for the detailed comment, it will definitely be helpful for others looking for different ways to implement this.

In the meantime, we're continuing to work on improving the implementation of this via the CLI as well as the AppSync service because we know it's a very common use case and it is one of our priorities.

[2019-07-02 14:45] dwlrathod commented on #314
@kaustavghosh06
Where @index directive is documented and how can we use it?
Right now its saying `Unknown directive "index".` with the latest **amplify-cli**.

[2019-07-02 16:08] yukitaka13-1110 commented on #1761
Thank you for transfering !

[2019-07-02 16:11] yukitaka13-1110 commented on #1204
@RossWilliams Oh, I see. I'll try it
Thank you for answering in detail !

[2019-07-02 19:35] brylie opened #1771 "Documentation about the "aws-exports" file"
The [guide for Vue](https://aws-amplify.github.io/docs/js/vue) says to add the following code after npm installing `aws-amplify` and `aws-amplify-vue`:

[code]

However, I cannot find mention int hat article of how to generate the `aws-exports` file. I have found this information in a [tutorial video on YouTube](https://www.youtube.com/watch?v=DFftniOvoLA), but it may be important to include the s

[2019-07-02 19:37] jordanranz commented on #1771
Moving over to the CLI repo to get feedback from the CLI perspective on this.

[2019-07-02 20:29] rawadrifai opened #1772 "Do custom resolvers emit events to subscribers?"
** Which Category is your question related to? **
AppSync, Dynamo

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **
If we create a mutation type in our schema.graphql and inside a custom resolver mapped to a lambda with @function. Let's say this resolver inserts data in one of the tables. The `onCreate` subscribers do not receive any events. I