[2021-12-01 11:30] rudyhadoux opened #9164 "The removal of @versioned"
With @versioned it was simple to achieve **conditional writes**.

I have read the v2 documentation but cannot find the equivalent.

How to set up conditional writes for a single object (not for all) ?
And what is the equivalent of **exptecedversion** ?

A concrete example would be very nice.

[2021-12-01 13:05] BogdanCodreanu opened #9165 "Cannot add any amplify module"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 13:27] AlessandroVol23 opened #9166 "Parameters: [authRoleName, unauthRoleName] do not exist in the template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 14:12] lazpavel commented on #9165
Hi @BogdanCodreanu, can you please share the contents of `amplify/cli.json`?

[2021-12-01 14:38] Wyfy0107 commented on #4972
+1

[2021-12-01 15:01] OlgaMaslova opened #9167 "Build of api failed: missing api-params.json"
**Which Category is your question related to?**
Build amplify with the newest version of amplify-cli

**Amplify CLI Version**
7.5.5

**What AWS Services are you utilizing?**
amplify

App ID and region:
do5lfh5kuwuas, eu-west-1

**Provide additional details e.g. code snippets**
`
✔ Initialized provider successfully.
2021-12-01T14:48:28.059Z [INFO]: 🛑 Error reading api-params.json file for MYAPI res

[2021-12-01 15:03] josefaidt commented on #8368
Hey @ray415 :wave: apologies for the delay! Are you still experiencing this issue with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.5.5)?

[2021-12-01 15:11] syumaK opened #9168 "withAuthenticator not broken"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 15:17] chris-mds commented on #9063
Hi @akshbhu,

Do you have an ETA for this fix? Without it, we cant migrate amplify to the new versions >= 7.x.x properly

[2021-12-01 15:21] josefaidt commented on #8323
Hey @biztems thanks for the reply. Interesting to hear it hasn't resurfaced past the initial occurrence. I'll close this issue for now as I was not able to reproduce, however if this issue resurfaces please reply back to this thread and we can re-open to investigate further 🙂

[2021-12-01 15:21] #8323 closed

[2021-12-01 15:57] BogdanCodreanu commented on #9165
Yes, thank you, right here:
`{
  "features": {
    "graphqltransformer": {
      "addmissingownerfields": true,
      "improvepluralization": false,
      "validatetypenamereservedwords": true,
      "useexperimentalpipelinedtransformer": true,
      "enableiterativegsiupdates": true,
      "secondarykeyasgsi": true,
      "skipoverridemutationinputtypes": true,
      "transformerversion": 2,

[2021-12-01 16:13] jeffbking opened #9170 "Bulid Failing with Latest Amplify CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 16:18] lazpavel commented on #9165
Can you try to run `amplify --version` and make sure you're on the latest version. Try uninstalling amplify and run `amplify --version` again to confirm there isn't any installation left. Then install it again.

Can you add the minimal reproduction steps in an empty directory?

[2021-12-01 16:26] jeffbking commented on #9170
Confirmed working in CI/CD if I pin version 7.5.4 of Amplify CLI in the Amplify portal build settings. The issue seems to have been introduced in 7.5.5

[2021-12-01 16:33] sachscode commented on #8898
Need more clarity on the problem :
1. Option: "Future layer versions" is the default configuration, hence there is no visible change. This also means that config changes are applied to future lambda layers.
2. Validated :  Add Lambda Layer with 6.3.1 and update lambda layer permission for the existing layer with the latest (7.5.5) works as expected.

[2021-12-01 17:00] BogdanCodreanu commented on #9165
I did the following steps:

1. `amplify --version` gave the output of `7.5.4`.
2. removed all global node_modules (from npm and from yarn)
3. `amplify --version` gave the output of `The system cannot find the path specified.`
4. `yarn cache clean`
5. `yarn global add @aws-amplify/cli`
6. `amplify --version` gave the output of `7.5.5`.
7. `amplify add api` results in the same error (Section 'overri

[2021-12-01 17:07] cjihrig commented on #9065
The linked bash script can be ported to run on Windows.

[2021-12-01 17:11] lazpavel commented on #9165
I am unable to reproduce the issue, can you send a copy of your project at amplify-cli@amazon.com? Thank you!

[2021-12-01 17:14] BogdanCodreanu commented on #9165
Well it happens with any empty project that's just initialized with `npm init` / `yarn init`.
I think it's something that's happening from my machine. It started happening after a `amplify delete` command threw an exception and failed (although the amplify on the console web and cloudfromation stack were deleted). Unfortunately I don't have the exception that was thrown on amplify delete. It happe

[2021-12-01 17:18] lazpavel commented on #9165
can you run the following commands in an empty directory:
- `amplify init`
- `amplify add api`
and let me know if you have the same issue

[2021-12-01 17:22] BogdanCodreanu commented on #9165
It's the same error

[2021-12-01 17:24] benjeater commented on #9148
Ok, that has worked, but changed some other settings back to default.

I'm still unsure as to what `Do you want to enable 3rd party authentication providers in your identity pool?` is meant to do for existing pools; is it supposed to be for this functionality and there is just a bug?

[2021-12-01 17:24] BogdanCodreanu commented on #9165
I tried it with a different aws account and it still is the same error

[2021-12-01 17:27] cjihrig commented on #9165
@BogdanCodreanu we are looking into this on our side. It appears to be a bug related to feature flags.

[2021-12-01 18:03] cjihrig commented on #9083
@hamedhemmati there should be a better error message displayed, but based on your video, it looks like you removed the `projectsByUser` index from the `Project` model, but are still referencing that index from on line 7.

[2021-12-01 18:04] lazpavel commented on #9170
Hi @jeffbking, thank you for reporting this issue. The team is actively looking into it.

[2021-12-01 18:06] cjihrig commented on #9163
We recently merged https://github.com/aws-amplify/amplify-cli/pull/9155, which will hopefully address this. Please give the next release a try once it is available.

[2021-12-01 18:07] mmoulton commented on #9070
@lazpavel I'm experiencing the same issue after upgrading an existing app to the V2 GraphQL Transformer.

I'm running version `7.5.4` of the Amplify CLI.

I upgraded my project by running `amplify migrate api`. That was successful.
I then ran `amplify codegen` and `amplify codegen models`. Both commands executed successfully.

I then ran `amplify push` where everything succeeded except for the clo

[2021-12-01 18:09] sytolk commented on #9065
@cjihrig I know :) The main issue is: this: https://github.com/aws-amplify/amplify-cli/issues/9053
Look at this: https://docs.amplify.aws/cli/usage/headless/#headless-category-payloads
Maybe you can port `cat` and `jq` to Windows too ?
`cat myAddApiRequest.json | jq -c | amplify add api --headless`
The problem is in amplify cli it not take json from file

[2021-12-01 18:38] jhockett commented on #9166
Hi @AlessandroVol23, you should be able to change the content of `parameters.json` to be an empty object `{}`.

`authRoleName` and `unauthRoleName` are now passed in from the root stack, so the REST API CloudFormation template doesn't have those parameters anymore. Let me know if that fixes the issue for you.

@parvusville I think this is a separate issue, but thank you for reporting it. Hopefully

[2021-12-01 18:41] hisham commented on #9170
I'm getting this error as well.

[2021-12-01 18:46] hisham commented on #9170
On the 2nd push it worked though and I didn't change amplify version.

[2021-12-01 18:52] josefaidt commented on #9171
Closing as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/9026

[2021-12-01 18:52] #9171 closed

[2021-12-01 18:53] ammarkarachi commented on #9168
@syumaK this looks like it's related to amplify ui. Transferring it to the repo so they can help you better.

[2021-12-01 18:54] lseemann opened #9172 "Backend build fails for lack of /amplify/backend/api/AdminQueries/api-params.json"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 19:02] #9170 closed

[2021-12-01 19:20] Straubulous commented on #9167
OlgaMaslova & jeffbking - can try force push with 7.5.5?

[2021-12-01 19:26] josefaidt commented on #9172
Hey @lseemann :wave: thanks for filing this! The team is currently investigating 🙂

[2021-12-01 19:27] morgnism opened #9173 "HostedUICustomResourceInputs Fails Pushing a New env"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 19:31] josefaidt commented on #9173
Hey @morgnism :wave: thanks for raising this! To clarify, was the env created from the CLI using `amplify env add` then we attempted to `push`?

As a workaround, can you try running through `amplify update auth` and ensure all previously entered values are pre-populated, and accept all existing values to see if that alleviates the issue?

Marking as a duplicate bug https://github.com/aws-amplify/a

[2021-12-01 19:54] sundersc commented on #9145
Hey @irakli-g Since you have a partition key and sort key on type `Post`, I believe you must specify 2 fields on `@belongsTo` directive so that dynamoDB knows how to do the join.

[2021-12-01 19:57] morgnism commented on #9173
Thanks for the quick reply @josefaidt. That didn't resolve my problem, unfortunately.

[2021-12-01 20:07] jhockett commented on #9167
@OlgaMaslova do you know what version of Amplify CLI you created `MYAPI` with?

[2021-12-01 20:14] josefaidt commented on #9173
Hey @morgnism thanks for clarifying! Re-reading the error in your original post I see `Error: Domain not available`, can you share the `amplify/backend/auth/<resource-name>/parameters.json` file omitting any sensitive information? Also, was this environment created using the `amplify env add` CLI command?

[2021-12-01 20:33] sundersc commented on #9145
Hey @irakli-g Since you have a primary key (with partition key and sort key), I believe `@belongsTo` must specify 2 fields to perform the join. However I see this validation happens only when I have an auth rule on the model. We are looking into this.

[2021-12-01 21:22] KalvinWei commented on #9170
Faced the same issue.
Recently, I changed nothing to my Amplify backend.
Last deployment was successful but today's failed and stopped at backend deployment.

[2021-12-01 21:46] JackPenney opened #9176 "Amplify pull failed: auth headless is missing the following inputParams googleAppIdUserPool, googleAppSecretUserPool"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-01 23:51] dylan-westbury commented on #9112
Confirming this is resolved with latest cli version

[2021-12-02 00:07] dylan-westbury commented on #9122
@ammarkarachi

It's also happening if we do `amplify init` and enter new env name. Even after migrating to API v2.

[code]

[2021-12-02 02:19] dylan-westbury commented on #9122
Also all those are saying "update" because of ci / cd.

Here is prior to ci / cd.

Also have issue init to new env

[code]

[2021-12-02 02:20] dylan-westbury commented on #9122
Here is errors for streams

[code]

[2021-12-02 02:54] Straubulous commented on #8917
@prabha-912 - Are you still having an issue?

[2021-12-02 04:45] jaxyeh opened #9180 "Custom Plugins/Directives migration guide for GraphQL Transformer v2"
**Which Category is your question related to?**
GraphQL Transformer v2

**Amplify CLI Version:**
7.5.4

**Problem:**

Hi, I am working on migrating our from API GraphQL Transformer v1 to v2 for my company.

I tried to run the migration script (`amplify migrate api`) but it crashed with all different schema errors which I thought it would migrate the code automatically. Regardless, I went ahead run

[2021-12-02 07:44] OlgaMaslova commented on #9167
@jhockett it has been more than one and a half year ago... So, not really.

[2021-12-02 08:03] AlessandroVol23 commented on #9166
So I tried executing the migration workflow and now I get another error.
The `parameters.json` is an empty object now.

[code]
**New Error**

[code]

[2021-12-02 08:25] AlessandroVol23 commented on #9166
Update: I've downgraded on `7.4.5` because I thought there was some issue that I need to downgrade

Next error:
[code]

Not sure why anything happens with the layer now but try to figure that out now

[2021-12-02 08:50] kouz75 opened #9181 "push api don't deploy stage version"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 08:53] giorgiocarniel commented on #9167
Same problem here, everything worked until two days ago.

First error noticed this morning was
`File at path: '/codebuild/output/src781572205/src/preorder-aws/amplify/backend/api/AdminQueries/api-params.json' does not exist`

Then when retrying the error became this (without touching the codebase)
[code]

Noticed the error just on CI/CD, I've not tried it locally yet.
My API was created more than

[2021-12-02 09:10] dobeerman commented on #9163
Good job, guys! Thanks a lot.
I might confirm that the #9155 fixed the issue partly. The current timing is the following:

[code]

[2021-12-02 09:26] AlessandroVol23 commented on #9166
I document the journey a bit that you get some insights on how it is sometimes with amplify :D

I wanted to change the layer to the [public](https://awslabs.github.io/aws-lambda-powertools-python/latest/#lambda-layer) available of powertools anyway so I do that right now.

- Updated function to not use local layer but public available

**Delete local layer**

[code]

Error because some directory i

[2021-12-02 10:11] ludwigward commented on #9166
FYI there are some related content in a similar issue I had a while back. Although some others were not able to reproduce my solution was to add the two parameters back manually. https://github.com/aws-amplify/amplify-cli/issues/2519#issuecomment-834448537

[2021-12-02 10:12] AlessandroVol23 commented on #9166
Hopefully, you want to see the journey of a customer so I continue a bit. The original issue is solved I think.

Next issue: Layer was not deleted properly. It was removed somewhere that it doesn't appear in the CLI anymore but is still in `team-provider` and `backend-config.json`. Now the build fails in the console

[code]

So I try to restore it with `amplify pull --restore`

-> Nothing changed

[2021-12-02 10:25] Lazarus404 commented on #9147
That worked great!  Thank you.

[2021-12-02 10:25] #9147 closed

[2021-12-02 11:18] nunesky commented on #9170
Hi, we have the same issue here. Our Amplify version is 6.1.1
There was no change on the Amplify backend, but the build is breaking with the same message. Our first failure was reported on Wed Dec 01 2021 11:35:37 GMT+0000, if that helps. Thx!

[2021-12-02 11:55] hackrx commented on #9150
Today I added, post-confirmation trigger, and it doesn't get reflected in the Cognito, though in `cli-inputs.json`, I can see the entries of customAuth lambda trigger for post-confirmation and post-authentication.
Now, both of these triggers are not visible in the Cognito console, earlier post-authentication trigger was there in the console, but its cloudwatch did not exist.

## backend/api/auth/b

[2021-12-02 12:56] dobeerman commented on #5959
I have installed the latest version of cli that allows to support the `@default` directive. Also, the [documentation](https://docs.amplify.aws/cli/graphql/data-modeling/#assign-default-values-for-fields) stands that we can use the `@default` directive to specify a default value for optional [scalar type fields](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html) such as Int, String,

[2021-12-02 12:57] nazarcybulskij opened #9189 "Amplify push don't work"
Describe the bug

Amplify-CLI can not  add   modules (analytics, function and etc.)
We get an error message   --  🛑 An error occurred during the push operation: Resource is not in the state stackUpdateComplete after "amplify push"

To Reproduce
Steps to reproduce the behaviour:

1) Create project   -- "amplify init"
2) Add Auth module  --  "amplify add auth"
3) add login mechanism Google from Admi

[2021-12-02 13:05] nazarcybulskij opened #9183 "amplify push don't work"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 14:27] taneba commented on #7973
I'm facing this issue too and as a workaround, you can checkout by:
1. delete amplify/ and aws-exports.js
2. run amplify pull again and select the env you wanted to checkout

[2021-12-02 14:38] josefaidt commented on #9183
Hey @nazarcybulskij :wave: thanks for raising this! Can you check the CloudFormation console to see what resource encountered an error during push? Typically when we see this error in our terminal there is another error above it that is outputted from CloudFormation, which will help us gather context as to what failed to create/update.

[2021-12-02 14:43] nunesky opened #9184 "Build fails with Cannot read property 'envName' of undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 15:08] irakli-g commented on #9120
@ammarkarachi do you have any updates regarding when your changes will be merged? As of now I am unable to implement searchable directives.

[2021-12-02 15:12] christophersutton commented on #9184
I've received the same error, and in the same situation where yesterday builds were failing for "Parameters: [s3Key, deploymentBucketName] must have values", now failing with envName error.

`[0mTypeError: Cannot read property 'envName' of undefined[0m`

[2021-12-02 16:01] josefaidt commented on #9184
Hey @christophersutton and @nunesky I was able to reproduce using the following steps:

- `npm i -g @aws-amplify/cli@6.1.1`
- create a new project with `amplify init -y`
- add add, accept defaults
- add a REST API, add a route `/hello`, restrict access to auth users
- create a git repo and push
- `amplify add hosting` to enable CI

![image](https://user-images.githubusercontent.com/5033303/1444570

[2021-12-02 16:13] Diogo-V commented on #9120
This is also happening in our project. Exactly the same behaviour.

We are using CLI version 7.5.4

[2021-12-02 16:28] nunesky commented on #9184
My case is the same as @christophersutton. No changes to backend, yesterday builds failed with `Parameters: [s3Key, deploymentBucketName] must have values`, now failing with `envName` error. The stage in which the build fails is the same as shown in the log in your most recent comment.
Thanks for looking into this!

[2021-12-02 16:37] nazarcybulskij commented on #9183
I see this error

Embedded stack arn:aws:cloudformation:eu-central-1:300520539124:stack/amplify-bugreproduse-dev-135015-authbugreprodusef823e5ec-ABY9GRI7LEL4/4a5be9f0-5366-11ec-addc-0648f60ecf94 was not successfully updated. Currently in UPDATE_ROLLBACK_IN_PROGRESS with reason: The following resource(s) failed to update: [HostedUIProvidersCustomResourceInputs].

[2021-12-02 16:52] cjihrig commented on #5959
The `value` argument must be a string. The `@default` directive will convert to the proper type for you.

[2021-12-02 16:52] #5959 closed

[2021-12-02 16:53] jhockett commented on #9167
@giorgiocarniel that issue is slightly different. https://github.com/aws-amplify/amplify-cli/pull/9182 should fix your issue.

 @OlgaMaslova can you send your amplify folder to amplify-cli@amazon.com so we can better debug? Please include the issue number in the subject and redact any sensitive information.

[2021-12-02 16:56] jhockett commented on #9181
Closing this as a duplicate of #9142

[2021-12-02 16:56] #9181 closed

[2021-12-02 17:11] cjihrig commented on #9163
Thank you for verifying. I'll close this out.

[2021-12-02 17:11] #9163 closed

[2021-12-02 17:16] OlgaMaslova commented on #9167
@jhockett  the mail has been sent.

[2021-12-02 17:59] hackrx opened #9186 "Error -> amplify update api : TypeError: Cannot read properties of undefined (reading 'map')"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 18:01] jhockett commented on #9167
@OlgaMaslova yeah that's most likely enough. Could you also include the `amplify-meta.json` file?

[2021-12-02 18:23] ammarkarachi commented on #9186
@hackrx Which version were you upgrading from?

[2021-12-02 18:36] jhockett commented on #9167
@OlgaMaslova got your email, thanks for sending it. I'm not sure why you're seeing an error from `MYAPI`, as it doesn't exist in `amplify-meta.json` from what I can see.

[2021-12-02 18:48] hackrx commented on #9186
Thanks @ammarkarachi for the follow-up. I am not sure, from the last few days, I think I did upgrade 2-3 times.
The last upgrade was from 7.5.4. You can check #9150 , in which I faced some issues with the 7.5.4 version, so today I upgraded to the 7.6.0 version.

[2021-12-02 19:44] iamAliRaza opened #9188 "Amplify codegen models > generating incorrect model in one to one relation [Android]"
**These are two simple models..
After generating Java model classes with amplify.
Previously in V1 transformation of GraphQL. Post class  were taking user object.
After migrating to V2 GraphQL. Model Class generated by Amplify just taking postUserId and user object is always pointing to Null.**

[code]

Need Help please....

[2021-12-02 19:48] christianguevara commented on #9166
Same error with amplify v7.6.1

[code]
Changes after I was FORCED to migrate after an auth override.

<img width="627" alt="Screen Shot 2021-12-02 at 14 45 02" src="https://user-images.githubusercontent.com/10765364/144492185-266a6f67-2f0c-4aa2-8a27-6cceee8a158f.png">

At this point I'm way too afraid to update minor/patch versions :/

[2021-12-02 19:50] fjnoyp commented on #9189
Hi @nazarcybulskij thanks for sharing your issue.  As this is related to Amplify CLI let's move this issue to that repo.

[2021-12-02 19:56] sachscode commented on #8898
The feature works fine. Tested the following flows:
1. Create lambda layer , add 2 accounts ( aws1, aws2)
2. Update lambda layer,  replace the above 2 accounts with a third account ( aws3 ) . push and validate in the layer-configs
3. Update lambda layer and  "un-select" the aws account option . (This removed the account- aws3 ) , and push .
All flows worked fine.
This is a UX issue,  , you used "p

[2021-12-02 20:04] sachscode commented on #8898
Moved issue to feature request to address UX upgrades

[2021-12-02 20:10] jaxyeh commented on #9180
1) For reference to the error messages (`...` truncated many of those same "Unknown directive"):

[code]

2) I've added `"suppressSchemaMigrationPrompt": true` flag to the `cli.json`, and the cli error above remains the same.

3) I've tried to refactor the custom transformer code as follow, but the `amplify migrate api` error issue remains:

<img width="634" alt="Screen Shot 2021-12-02 at 3 08 04

[2021-12-02 20:35] KalvinWei commented on #9170
I solved the problem by reverting my CLI to v7.5.4 and set the Amplify build CLI version from `latest` to `7.5.4`

[2021-12-02 20:43] david-wb opened #9191 "headless pull results in Error: auth headless is missing the following inputParams userPoolId, webClientId, nativeClientId"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 20:55] levinskipolish commented on #9167
@giorgiocarniel the very same thing happened to me!

I tried:
[code]
But I still have the very same issue!
[code]

[2021-12-02 20:58] OlgaMaslova commented on #9167
@jhockett the api's real name is AdminQueries, that the folder I sent

[2021-12-02 20:58] jhockett commented on #9167
@levinskipolish if you push a second time with the CLI, the issue should resolve itself. That error is little different from what @OlgaMaslova is running into.

[2021-12-02 21:00] jhockett commented on #9167
@OlgaMaslova was the parent folder renamed? `AdminQueries` is a special name for the CLI, so it shouldn't be changed.

[2021-12-02 21:02] cjihrig commented on #9186
Proposed fix in https://github.com/aws-amplify/amplify-cli/pull/9193. In the mean time, if you add `"additionalAuthenticationProviders": []` to your API's section of the `amplify-meta.json` file, it should resolve the issue for you. It will look something like this:

[code]

[2021-12-02 21:02] OlgaMaslova commented on #9167
@jhockett that's the structure that has been there for more than a year...
![image](https://user-images.githubusercontent.com/29795366/144502592-14eda4b3-040b-410e-8d70-934306851f5b.png)

[2021-12-02 21:03] hackrx commented on #9186
Thanks, @cjihrig, for the quick response. I will update the `amplify-meta.json` file.

[2021-12-02 21:07] #9166 closed

[2021-12-02 21:07] #9184 closed

[2021-12-02 21:09] #9120 closed

[2021-12-02 21:15] jhockett commented on #9167
@OlgaMaslova I see, thanks for the clarification. We have merged a fix and this will be fixed in the next release.

[2021-12-02 21:40] #9186 closed

[2021-12-02 21:53] levinskipolish commented on #9167
Still getting the very same issue! :/

[2021-12-02 22:01] jhockett commented on #9167
@levinskipolish what version of the CLI are you using?

[2021-12-02 22:15] gearoidgit opened #9194 "amplify remove env fails"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-02 22:21] levinskipolish commented on #9167
@jeffbking my cli version is `7.6.1`
I also see this "Patching NPM package..." during the deployment, under the Cloning Repository phase.

[code]

[2021-12-02 22:27] jhockett commented on #9167
@levinskipolish I see, I didn't realize you were facing this issue on the console. The upcoming release should resolve this.

[2021-12-02 22:31] levinskipolish commented on #9167
@jhockett Awesome! Looking forward to see the release notes. I'm curious to know how this issue came about. I'm sure it affects a good amount of application out there. Where can I learn more about the upcoming releases?

[2021-12-02 22:37] jhockett commented on #9167
@levinskipolish release notes are published here: https://github.com/aws-amplify/amplify-cli/releases

Here's the PR that fixes the issue: https://github.com/aws-amplify/amplify-cli/pull/9182

[2021-12-02 23:32] attilah commented on #8938
@OzyOzk I tried to reproduce the same issue by creating a project adding auth with OAuth configuration and pushed. After checking `app/src/main/res/raw/amplifyconfiguration.json` I had the `OAuth` section in the file. Could you check if in the original project where you created the user pool you have this section?

Then imported the same user pool into another empty project pushed and the file con

[2021-12-02 23:39] daniellorenzin commented on #9172
I think  I have an issue related to this as well, after the recently version I also get the following error:
`Do you want to migrate api resource "apiEvents"? (Y/n) · yes
🛑 Cannot read properties of undefined (reading 'forEach')
TypeError: Cannot read properties of undefined (reading 'forEach')
    at ApigwInputState.migrateApigwResource (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/@

[2021-12-03 00:03] jhockett commented on #9172
@daniellorenzin can you paste the content of `amplify/backend/api/apiEvents/api-params.json` here?

[2021-12-03 00:07] michaelhutton opened #9196 "amplify mock not setting owner field on a GraphQL API create"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 00:17] Diogo-V commented on #9120
![image](https://user-images.githubusercontent.com/50443643/144522939-ef017adb-a2a3-404b-a80f-8eeb17c9938a.png)

Error still persists in version 7.6.1 even though the issue was closed.

Is there something that I should have done, besides updating the CLI, to solve it?

[2021-12-03 00:25] johnf opened #9197 "Cannot read property 'deploymentBucketName' of undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 00:55] tasugi commented on #7973
I always use a similar workaround way.
But configuring options on every time I pull is irritating so I save my options in a file by using ways documented this page (https://docs.amplify.aws/cli/usage/headless/) and run commands like `rm -rf amplify && amplify pull --amplify $AMPLIFY --frontend $FRONTEND`

[2021-12-03 00:55] akshbhu commented on #9120
hi @Diogo-V

PR fixing this issue is merged : https://github.com/aws-amplify/amplify-cli/pull/9152

This will be available in our next release.

[2021-12-03 02:17] sacrampton commented on #9123
@edwardfoyle - is there any work around for this? Or do I have to just wait for a fix before I can move to v2?

[2021-12-03 03:46] christianguevara commented on #9063
Any ETA? Overrides are not fully useful if the env can't we obtained.

[2021-12-03 06:07] houmark commented on #9081
Any ETA on this @akshbhu? We are also stuck not being able to override custom triggers due to not being able to pull the ENV which prevents us from setting the correct triggers in all environments.

[2021-12-03 06:09] RatMan64 commented on #9156
ok this issue has now recurred after i updated the cli and some of the items that I created also disappeared at my home

[2021-12-03 06:14] daniellorenzin commented on #9172
It was just an empty json object

`{}`

[2021-12-03 07:24] hackrx commented on #9186
Hey @cjihrig, I am still facing this issue, can't able to perform `amplify push`.
Cli version is `7.6.1`

[2021-12-03 08:38] skryshi opened #9199 "Renaming subscriptions in @model directive is completely broken"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 11:36] hackrx commented on #9150
Amplify pull is working fine, but when I am trying to push it. It is giving this error:

[code]
And when I am trying to remove this trigger from amplify auth using `amplify update auth` then apply custom authorization with social provider, and then trying to removing this lambda function using `amplify remove function` but it says:
[code]
Please suggest some fix for this issue.
Thanks.

[2021-12-03 13:47] kylekirkby opened #9200 "Multiple issues in the new GraphQL transformer migration process."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 13:48] kylekirkby commented on #9200
Update:

I cannot delete the `NONE_DS` data source as `Error: Data source is still in use by functions`..

[2021-12-03 14:28] kylekirkby commented on #9200
So I've managed to get past this issue by going to the 9 individual AppSync functions that were still using the `NONE_DS` data source and changing the data source to a different NONE type data source.

It has failed again with a different error... This time nothing verbose is displayed in the Cloudformation logs so waiting for Cloudformation to finish now to see . 🤦🏼‍♂️ It's been stuck on `functio

[2021-12-03 14:29] januswel opened #9201 "Supporting TypeScript"
**Is your feature request related to a problem? Please describe.**
TypeScript does not appear as an option in the language selection when running `amplify pull`.
Therefore, the only option is to output in JavaScript, but this may cause coding errors when using it.

**Describe the solution you'd like**
Supporting TypeScript at UI code generation

**Describe alternatives you've considered**
nothing

[2021-12-03 14:33] kylekirkby commented on #9200
So it took a while but finally completed the rollback. I haven't got a specific error to go by now. All I've got is:
[code]

[2021-12-03 16:09] jk171505 commented on #9143
@skryshi looks like this is known limitation:
https://docs.amplify.aws/cli/graphql/authorization-rules/#per-user--owner-based-data-access

"Known limitation: Real-time subscriptions are not supported when owner authorization is configured with a list of owners."

[2021-12-03 16:42] cjihrig commented on #9186
@hackrx it looks like you have a few different things going on.

This was your original issue. Is this resolved with v7.6.2?

It should be in your project's `amplify/backend` directory.

That is what is causing the problems. It should be there, and the code is trying to check it. Does the string `authConfig` exist in your project (it should)?

I'm having trouble reproducing this part. If you ran `

[2021-12-03 16:47] alacret commented on #1102
Any update on this from the Amplify team?

[2021-12-03 16:48] hackrx opened #9203 "[blogUserPoolId] do not exist in the template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 17:05] hackrx commented on #9186
Hey @cjihrig ,

Yes it is resolved now.

![image](https://user-images.githubusercontent.com/54453778/144641232-1c4b0436-15b4-4a86-a6de-e0bf601cce39.png)

Look it is not here.

Yes it there in `amplify/backend/backend-config.json`
![image](https://user-images.githubusercontent.com/54453778/144641683-fdac351d-8e7e-4963-a4b6-36618fd107d7.png)

In the above screenshot, you can see, I have `additionalA

[2021-12-03 17:09] cjihrig commented on #9186
Can you verify in the terminal that the amplify-meta.json does not exist. Sometimes editors hide files.

[2021-12-03 17:31] ataravati opened #9204 "IAM provider unauthorized"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

AppSync

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
7.5.2

**What AWS Services are you utilizing?**
Auth, API, Function, Storage

**Provide additional details e.g. code snippets**

I have two models like thi

[2021-12-03 17:32] josefaidt commented on #9150
Hey @hackrx :wave: thanks for raising this! Unfortunately I was not able to reproduce this issue using the provided reproduction steps. Although it does take a few minutes for the CloudWatch log group to show up in the Console after deploy and logging in, I was able to see the `console.log()` statements I added to the function

[code]

![image](https://user-images.githubusercontent.com/5033303/144

[2021-12-03 17:34] cjihrig commented on #9199
Thank you for reporting this. There are a few things going on here.

First, the value passed to `onCreate` should be an array, not a string. The validation in the CLI should be updated to catch this (unfortunately, the GraphQL spec allows this).

Second, the subscription VTL files are not generated. It looks like this issue existed in v1 of the transformer, so I'll need to look into that.

Here is

[2021-12-03 17:35] josefaidt commented on #9203
Hey @hackrx :wave: thanks for raising this! To clarify, are these functions custom resolvers for a GraphQL API, which have access to the auth resource?

[2021-12-03 17:46] dbeck121 commented on #8395
Hi,

seems with the new version this is not possible anymore?

`enum ModelQuery { get list }
enum ModelMutation { create update delete }`

does not exist in the docs.

https://docs.amplify.aws/cli/graphql/authorization-rules/

Is there a new version to prevent users from doing list queries? I use it in my project and  the use case that users might read specific elements but not list all available

[2021-12-03 18:02] danielleadams commented on #9194
@gearoidgit when you run `amplify env list` - is the environment listed? Also, can you confirm that the environment was successfully created? Environment names are only alphabetic (without numbers), so it looks like the environment wasn't created successfully in the first place. What was the command you used to create the environment?

[2021-12-03 18:04] jnastaskin opened #9205 "Parameters: [region] do not exist in the template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 18:05] #9107 closed

[2021-12-03 18:05] jk171505 opened #9206 "Unable to convert \n\n\n\n\n\n\\n\n\n\n{} to Object."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 18:09] josefaidt commented on #9189
Marking as a duplicate and closing in favor of tracking #9183

[2021-12-03 18:09] #9189 closed

[2021-12-03 18:12] hackrx commented on #9186
yes, it is there.
![image](https://user-images.githubusercontent.com/54453778/144652102-2d454526-29ce-4964-94b9-17d30c9787e9.png)

[2021-12-03 18:18] hackrx commented on #9203
These functions are not custom resolvers, these are Dynamodb CRUD trigger functions, which have auth access.

[2021-12-03 18:21] edwint88 commented on #9146
I have the same issue (also locally I run on macos), I've installed the amplify cli with curl and the amplify cli version is 7.4.5
My error:
`2021-12-03T18:00:35.318Z [INFO]: 🛑 Build error : ENOENT: no such file or directory, open '/root/.nvm/versions/node/v12.21.0/lib/node_modules/@aws-amplify/cli/node_modules/amplify-cli-core/resources/overrides-resource/tsconfig.json'
2021-12-03T18:00:35.318Z [

[2021-12-03 18:21] danielleadams commented on #9196
Hi @michaelhutton, I believe this was fixed in https://github.com/aws-amplify/amplify-cli/pull/9192. Can you try updating to 7.6.2 and trying again?

[2021-12-03 18:36] akshbhu commented on #9197
Hi @johnf

can you try with latest cli version 7.6.2  and let us know if this issue still persists??

[2021-12-03 18:43] akshbhu commented on #9191
Hi @david-wb

Can you update your pull script with this info mentioned here: https://docs.amplify.aws/cli/usage/headless/#--categories

Updated pull script should look like this:
[code]

[2021-12-03 18:45] danielleadams commented on #9201
Hi @januswel - thanks for the feedback here. We will pass this along to our product team.

[2021-12-03 18:53] morgnism commented on #9173
@josefaidt  Just one.

[2021-12-03 18:54] edwardfoyle commented on #9103
Command hooks uses the of `/opt/amazon` to enable/disable command hooks. This behavior has been appsec approved an will not be changed. To work around the issue you can move the contents of `/opt/amazon` to a different location.

[2021-12-03 18:54] #9103 closed

[2021-12-03 19:01] hackrx commented on #9203
Thanks @josefaidt  for the hint, first I removed auth access from both of these functions, then I tried  `amplify push` and it worked.

[2021-12-03 19:01] #9203 closed

[2021-12-03 19:12] josefaidt commented on #9183
Hey @nazarcybulskij :wave: I was able to reproduce this issue by stepping through the following reproduction steps:

1. create a new project with `amplify init -y`
2. enable Amplify Studio
3. add Google Sign-in
4. pull changes locally with `amplify pull`
5. add some resource (example: `amplify add function`), we're wanting to get a resource change locally to push
6. push with `amplify push -y`
7.

[2021-12-03 19:16] edwint88 opened #9209 "Bug when building amplify backend"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-03 19:19] akshbhu commented on #9146
Hi @edwint88

can you try with latest amplify version 7.6.2 ?
If this issue still present , feel free to comment on this and ill open this issue again

[2021-12-03 19:20] ammarkarachi commented on #9099
We have released a new version with some improvements. Can you let us know if you are experiencing slowness after the latest?

[2021-12-03 19:21] david-wb commented on #9191
@akshbhu It seems the `pull` command does not accept a `--categories` argument.

[2021-12-03 19:36] edwardfoyle commented on #9165
Can you try installing the CLI globally using npm instead of yarn? Currently we do not support yarn installs.

[2021-12-03 20:00] david-wb commented on #9191
Ok, I tried that @akshbhu, and categories arg is accepted, but now I am getting a different error:

[code]

[2021-12-03 20:12] hackrx commented on #9150
Okay, so I updated my auth using `amplify update auth` then it removed the trigger. Again I added post auth trigger and this time it worked 🍾  . Now I can  see the logs in the cloud-watch. Thanks  @josefaidt.
I have one doubt, the code in `custom.js` file have `callback()` function:
[code]
And I can see an error in cloud-watch that `callback is not a function`. I know if I will comment it, then th

[2021-12-03 20:12] #9150 closed

[2021-12-03 20:12] gmeligio commented on #8513
I'm still having this issue. Can you help me?

Tried again "Save and Deploy" in Amplify Studio but it shows the same error.
<img width="1077" alt="image" src="https://user-images.githubusercontent.com/22875166/144666726-8c9f0d2b-29a2-4660-8867-614f72a568da.png">

[2021-12-03 20:34] josefaidt commented on #9173
Hey @morgnism can you confirm whether you were prompted for the 3rd party auth credentials when creating a new env?
![image](https://user-images.githubusercontent.com/5033303/144669280-651b96bf-8360-40f9-8a4e-57c87cb5add3.png)

[2021-12-03 20:42] cjihrig commented on #9199
PR for the array validation: https://github.com/aws-amplify/amplify-cli/issues/9199

[2021-12-03 20:43] morgnism commented on #9173
I used Access Keys and was NOT given the option for OAuth.

[2021-12-03 20:46] josefaidt commented on #9173
@morgnism thanks for clarifying! What social providers do you have enabled on your auth resource?

[2021-12-03 20:47] akshbhu commented on #9191
Can you check if the parameters.json present in the auth folder , if its present inside build dir , You can move that file outside build folder and try again ?

Are you using imported auth ??

[2021-12-03 20:51] morgnism commented on #9173
@josefaidt none at the moment. We're just using cognito for auth.

[2021-12-03 20:58] josefaidt commented on #9173
Ahh interesting, would you mind sharing the contents of the `cli-inputs.json` file at `amplify/backend/auth/<resource-name>/cli-inputs.json`, omitting any sensitive information?

[2021-12-03 21:01] morgnism commented on #9173
[code]

[2021-12-03 21:01] cjihrig commented on #9186
OK, so your amplify-meta.json does exist. Does it contain `additionalAuthenticationProviders`?

[2021-12-03 21:24] josefaidt commented on #9173
Thanks @morgnism I also tried to use that domain listed and am unable to reproduce. I think it's worth noting I did run into this the very first time I attempted to reproduce, where we also noticed there was the wrong UserPool ID referenced in the CloudWatch logs for this failed Lambda Callout, however I have not since been able to reproduce. Are you seeing something similar where the wrong UserPo

[2021-12-03 21:34] morgnism commented on #9173
@josefaidt I wasn't aware you'd try to run the json. I had removed the name of the app and replaced the name. Here's the working version of the same json.
[code]

[2021-12-03 21:40] cjihrig commented on #9199
@skryshi the VTL files not being generated are expected. You need to specify `level: on` when overwriting the default subscriptions.

[2021-12-03 21:42] david-wb commented on #9191
@akshbhu I can confirm the parameters.json file exists, but the pull command still fails.

![Screenshot from 2021-12-03 14-41-22](https://user-images.githubusercontent.com/1855225/144676456-2d124968-002e-42c5-a6c5-33e22d25f7a5.png)

And yes this is imported auth.

[2021-12-03 21:48] akshbhu commented on #9191
Thank you for this info .

Can you try the same operation with our latest version 7.6.2?

[2021-12-03 21:49] david-wb commented on #9191
I am using 7.6.2. If I downgrade to 7.4.0, it works.

[2021-12-03 21:55] akshbhu commented on #9191
Hmm , this is strange : /home/david/github/core-web-app-aws/amplify/backend/auth/corewebappabb25022/parameters.json

this filepath exists based on your screenshots

Can you check in the #current-cloud-backend , the parameters file exists  on same path ?

Can you mail your amplify folder to amplify-cli@amazon.com with issue number as subject and redacting any secret info present?

Ill try to repro

[2021-12-03 22:00] hackrx commented on #9186
Yes, it had, I deleted it and made it an empty array. And then it worked.

[2021-12-03 22:08] david-wb commented on #9191
@akshbhu Sure, I'll do that. Please not that everything works on version 7.4.0 using the `--categories` arg.

However, on version 7.6.2, I get the parameters.json file not found error.

I can see that on 7.4.0 the parameters.json file is inside the `auth/<app>/build/` folder, but on 7.6.2 it is in `auth/<app>/` folder.

[2021-12-03 22:15] akshbhu commented on #9191
yes ,

for imported resources , parameters.json shouldn't be inside build folder. we have changed that , Just wanted to know why its failing in your case , since you have parameters.json present at right path .

Might be in your #current-cloud-backend , parameters.json is still present in build folder

[2021-12-03 22:17] yuth commented on #8895
Was there some changes that were made to the auth cloudformation file after running `amplify add auth`?

[2021-12-03 22:30] akshbhu commented on #9191
I can see that your cloudformation is still present in build folder i. #current-cloud-backend.

You can try a forcePush to update #current-cloud-backend as same as your backend and try pull script again.

Let me know if these steps works for you?

[2021-12-03 22:40] hackrx opened #9212 "How to add username and email as required attribute for signup?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

Hello there! I want to know if I can
1. Add username and email both as required attributes for signup (and birthdate too maybe).
2. After the above auth, I want to add Google as a social auth provider (this can be done using " Apply default configuration with Social Provider (Federation) ".
3. Get hostedUI som

[2021-12-03 22:49] morgnism commented on #9173
@josefaidt I did see it fail Lambda Callout, but the only error I noticed was the domain error I pasted in the issue description (under "Additional Notes"). I think I sent you the wrong json tho. I was attempting another env and I sent you the wrong `cli-inputs.json` file. However, I already deleted the failing env so I don't have the json for that one just the CloudWatch errors. Since the failing

[2021-12-03 22:56] josefaidt commented on #9173
Hey @morgnism no worries! I was really using that file's contents as a reference to set up an auth resource on my end with the same settings. When I originally encountered the "Domain not available..." error, then a couple lines down I was seeing an error about missing User Pool by some ID that was not the User Pool attached to the project.

[2021-12-03 23:10] morgnism commented on #9173
@josefaidt Oh I see that now looking at it again.
[code]

[2021-12-03 23:14] josefaidt commented on #9173
Ahh thank you for taking a look, that's very similar to what I was also experiencing! I'm guessing that user pool ID is in fact, not the user pool associated with this app, correct?

[2021-12-03 23:40] attilah commented on #9070
@aaronksaunders @duranmla @maremoto Could you try with 7.6.2 and report back if the issue still persist?

@mmoulton - This issue is not connected to the original one, it will be tracked [here](https://github.com/aws-amplify/amplify-codegen/issues/320).

[2021-12-03 23:53] edwint88 commented on #9146
I suppose you've seen this https://github.com/aws-amplify/amplify-cli/issues/9209 - so you can close this one

[2021-12-04 00:12] attilah commented on #9070
@duranmla thanks for the screenshot and playing with MFA settings, the error has happened if you only had TOTP configured and NO SMS.

@aaronksaunders @maremoto could you confirm that you have the same settings and we are looking at the same error?

@duranmla I'll have a fix up soon for your issue.

[2021-12-04 00:20] jhockett commented on #9205
Hi @jnastaskin, so far I'm unable to reproduce with the given steps. Can you provide the exact answers you picked during step 2? Can you also provide the content of the cli-inputs.json of your auth resource?

[2021-12-04 00:42] jnastaskin commented on #9205
Hi @jhockett , thanks for getting back to me.  Here are the answers I provided for step 2:
jnastaskin1@Jacobs-MBP-2 Gravvy SourceTree % amplify update auth
Please note that certain attributes may not be overwritten if you choose to use defaults settings.

You have configured resources that might depend on this Cognito resource.  Updating this Cognito resource could have unintended side effects.

[

[2021-12-04 01:06] johnf commented on #9197
@akshbhu Seems to be working for me now thanks

[2021-12-04 03:14] skryshi commented on #9199
@cjihrig Ok, thanks that worked:

`@model(subscriptions: { onCreate: ["onCreateMessage1"], level: on })`

You ought to put this in the docs. How are we supposed to guess at the command syntax. Here:

https://docs.amplify.aws/cli/graphql/data-modeling/#rename-generated-queries-mutations-and-subscriptions

BTW, I don't get what the purpose of having an array is? It just generates identical subscript

[2021-12-04 03:18] skryshi commented on #9143
Whoever runs into this, this is an AppSync limitation. Subscriptions with parameters do a simple match, they cannot handle contains in an array functionality.

The suggested workaround is here:

https://stackoverflow.com/questions/64411293/is-it-possible-to-map-a-subscription-parameter-to-an-array-at-the-mutation-outpu

[2021-12-04 03:18] #9143 closed

[2021-12-04 05:25] david-wb commented on #9191
Yes it worked for me finally after doing an amplify push --force. Thank you.

[2021-12-04 10:54] gearoidgit commented on #9194
Yes the envrionment is listed.
I used a generic env name in my example - I didn't use numbers in the actual env names.

For further information the aws cli does delete the environment
`aws amplify delete-backend-environment --app-id <> --environment-name <>`

[2021-12-04 12:26] BogdanCodreanu commented on #9165
Same behavior unfortunately... (on empty directory after `amplify init`)
[code]

[2021-12-04 15:28] c0deWookiee commented on #9197
I have CLI version 7.6.2 and the problem persists, can anyone advise?

[2021-12-04 16:09] c0deWookiee commented on #9205
I'm on an m1 mac with identical node version and aws cli version and am seeing the same results as @jnastaskin

[2021-12-04 17:17] hackrx commented on #9212
Alright, so once you deploy your auth, you can't update the required attributes at the time of signup.
So I deleted my old auth, and created a new one, with these required attributes:
[code]
And I also added google as social provider for auth.
After push, the hosted UI looks like this:
![image](https://user-images.githubusercontent.com/54453778/144718315-88af8eea-d4b3-4823-a705-3a0e4432ae45.png)
A

[2021-12-04 18:04] clintfoster commented on #8102
This problem is present in the `index.js` originally created by `amplify add auth`. (In other words, it repros without having to do `auth update`.)

As discussed above, the generated `index.js` is passing only the `event` parameter, not `context` & `callback`. I went down a rat hole trying to figure out why the service isn't passing these parameters until I noticed the problem is in the generated

[2021-12-04 18:33] RalphKemp commented on #9205
Getting the same error here on 7.6.2. Deployments not working from M1 mac or Linux machine (Ubuntu).

[2021-12-04 21:43] irakli-g opened #9218 "Subscriptions are not sending data"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-05 02:25] edwint88 commented on #9209
Trying to migrate: https://docs.amplify.aws/cli/migration/override/ I get following error:
`🛑 Build error : File '/**/node_modules/amplify-cli-core/resources/overrides-resource/tsconfig.json' was not included into executable at compilation stage. Please recompile adding it as asset or script.
Error: Error: File '/**/node_modules/amplify-cli-core/resources/overrides-resource/tsconfig.json' was not

[2021-12-05 02:34] edwint88 commented on #9209
when I try to add a new env:
`🛑 Build error : File '/**/node_modules/amplify-cli-core/resources/overrides-resource/tsconfig.json' was not included into executable at compilation stage. Please recompile adding it as asset or script.
Error: Error: Error: File '/**/node_modules/amplify-cli-core/resources/overrides-resource/tsconfig.json' was not included into executable at compilation stage. Please r

[2021-12-05 02:35] n0rb opened #9220 "Dynamic Group Authorization with single Group not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-05 04:24] andy-HM commented on #3248
Hello, thank you for adding support for this!  Can you explain hot to make use of this on types that are already marked as @searchable?  I have an existing table that is affected by the original lack of support for searching enums.  After reading this, I have redeployed my models in the Amplify Studio as well as pushed my schema from my project.  Either way, I do not see the additional enum fields

[2021-12-05 06:19] januswel commented on #9201
Thank you, @danielleadams !!

[2021-12-05 10:13] astef-trilogy commented on #171
Just noticed this article, it may help: https://docs.amplify.aws/cli/custom/cdk/

[2021-12-05 12:04] csilvacaio opened #9221 "Parameters are empty after amplify build for RestApi"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
API Gateway

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
Version: 7.6.2

**What AWS Services are you utilizing?**
Cognito
RestApi

**Provide additional details e.g. code snippets**
I'm trying to override an API

[2021-12-05 15:00] sytolk commented on #7378
Its implemented now thanks https://github.com/aws-amplify/amplify-cli/tree/master/packages/amplify-headless-interface/src/interface/storage

[2021-12-05 15:00] #7378 closed

[2021-12-05 15:08] sytolk commented on #9065
Why not simple create node script:

[code]

[2021-12-05 15:32] gearoidgit commented on #9194
While using `aws amplify delete-backend-environment` has deleted the environment it is still listed when running `amplify env list`.   The local list of environments does not seem to be refreshed because it now shows the deleted environment and does not show other newly addd environments.

[2021-12-05 17:08] franklin113 opened #9222 "Invalid KeyConditionExpression"
**Which Category is your question related to?**
API

**Amplify CLI Version**
7.6.2, Transformer v2

**What AWS Services are you utilizing?**
Amplify Mock, Dynamo DB

**Provide additional details e.g. code snippets**
I am attempting to mock my graphql api and am receiving errors related to Dynamo DB on all my queries.

Here's my model that I'm running amplify generated queries on:
[code]

[code]

H

[2021-12-05 17:36] franklin113 commented on #9222
I reverted back to version 1 of the transformer and it appears to be working now.  I'm not sure if this is a bug in v2 or if I need to update something else to get it to work.

cli.json
[code]

[2021-12-05 18:59] hamedhemmati commented on #9083
Thanks for catching that. It's working now. I see that the documentation has been updated to include the queryField now so I am closing this.

[2021-12-05 18:59] #9083 closed

[2021-12-05 20:20] parvusville commented on #9209
I'm encountering the same problem, getting the same error message apparently with anything else than amplify status. Upgrading from 7.5.4 to 7.6.2 didn't fix it.

[2021-12-05 20:23] edwint88 commented on #9209
I've spent 3 days hopping something is happening and in the end I've went back to 7.5.4 and done as said here: https://github.com/aws-amplify/amplify-cli/issues/9146 override all categories and finally worked

[2021-12-05 20:30] IcedNet commented on #4772
Still hoping for a solution.
I have great hope for the platform, but this made us use Google Analytics with an app that should have 100% AWS content...

[2021-12-05 20:52] parvusville commented on #9132
Getting this as well when running amplify api override, after migrating the API.

[2021-12-05 21:13] parvusville commented on #9209
Migrating to new transformer and adding the override fixed the issue for me too, using 7.6.2
`amplify api migrate
amplify override api`

[2021-12-05 22:53] jnastaskin commented on #9205
@RalphKemp , @c0deWookiee @jhockett -- UPDATE:
I ended up just removing the s3  storage bucket that was having an issue and re-adding a new one and that seemed to fix the  issue.  Still not sure why or what was wrong with the original one though

[2021-12-06 00:38] hisham opened #9223 "Cannot read property 'deploymentBucketName' of undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 00:45] hisham commented on #9223
I reverted to 7.5.5 and amplify push works again.

[2021-12-06 03:19] lacek commented on #9223
Got the same issue with 7.6.2 when pushing specific resource (e.g. `amplify api push`, `amplify function push <function_name>`). Reverted to 7.5.5 and no more error.

[2021-12-06 03:58] chadfaurie opened #9233 "amplify api add-graphql-datasource throws an error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-06 08:21] massi-ang commented on #9099
This is better, getting ~5sec for `amplify help` or `amplify version`, but this is still feels slow for a simple version print or help dump.

When installing amplify-cli I get these warnings. Could be this the reason for the slowness?

[code]

[2021-12-06 11:27] isaacrowntree opened #9224 "Cannot deploy from "set up > data" in Amplify Studio"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 11:41] RalphKemp commented on #9205
Hey, thanks for the update - I've managed to get things working again. First, I installed CLI version ```7.5.5``` Following [this thread](https://github.com/aws-amplify/amplify-cli/issues/9223). Then after digging a bit more, following [this Stack Overflow answer](https://stackoverflow.com/questions/69251947/error-when-updating-appsync-api-using-amplify-ci-cd-pipelines-with-expired-appsy) and the

[2021-12-06 11:50] vikaskgahlawat opened #9225 "amplify push fails after upgrading to cli 7.6.2"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 12:16] fossamagna opened #9226 "Allow third-party plugins to support CDK overrides"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Now, amplify cli support CDK overrides in auth, storage, custom, api categories.  I also would like to provide CDK overrides in third party plugins as well. But, the current implementation seems to have har

[2021-12-06 13:10] kylekirkby commented on #9200
@Straubulous @marcvberg @sundersc - any idea on what's causing these issues? We can't make use of the new features/improvements in v2 until we can get these resolved. Thanks in advance!

[2021-12-06 13:50] humarkx commented on #9197
With the latest Amplify version 7.6.2, I still have this problem.

[2021-12-06 13:51] humarkx commented on #9223
Amplify 7.6.2 same problem with deploymentBucketName

[2021-12-06 14:28] Adude11 opened #9227 "Unknown directive "aws_lambda" during gql-compile and push"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 15:07] nealdeters commented on #8133
@josefaidt I've tested locally and can replicate the issue with our docker container. We've updated to amplify 7.6.2 and attempt to run `amplify env pull --yes --categories {"auth":{"userPoolId":"user_pool","webClientId":"client_id","nativeClientId":"native_client_id"}}` to pull down our stage environment.

Regarding the logs, it doesn't really give me much information. I'm able to find the existi

[2021-12-06 15:11] marcvberg commented on #9200
Hi @kylekirkby,

I'm getting into this today, to replicate this could you describe which directives/features you were using with your API with the V1 transformer? I'm going to try to put together a V1 schema that replicates your issues above

[2021-12-06 15:19] NoahGaeta opened #9228 "Running `amplify api add-graphql-datasource` yields strange error"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 16:09] NoahGaeta commented on #3081
+ 1 for Postgres Support

[2021-12-06 16:29] josefaidt commented on #9229
Hey @kevinRR and @cespin :wave: thanks for raising this! As @chrisbonifacio mentioned this is a duplicate of #8997 and we'll close in favor of tracking the existing item. Please subscribe to the existing issue for further updates. 🙂

As a side note, love to see how the overrides were used as a workaround!

[2021-12-06 16:29] #9229 closed

[2021-12-06 18:04] marcvberg commented on #9228
Hi @NoahGaeta, could you provide the contents of your config file `./amplify/cli.json`? Want to verify which version of the transformer is enabled

[2021-12-06 18:15] cjihrig commented on #9206
@jk171505 would you be willing to share your project with us via email: amplify-cli@amazon.com

[2021-12-06 18:28] jk171505 commented on #9206
@cjihrig do you need access to aws? what's the best/easiest way to share it?

[2021-12-06 18:34] cjihrig commented on #9206
Can you email your project to amplify-cli@amazon.com? We don't need to access your AWS account.

[2021-12-06 18:39] hisham opened #9232 "amplify v7.5.5 push fails with: "Parameters: [analyticsEssPinpointId, analyticsEssPinpointRegion] do not exist in the template" after override migration"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-06 18:40] attilah commented on #9225
@vikaskgahlawat could you include the snippet you used to customized the template?

[2021-12-06 18:54] #9233 closed

[2021-12-06 19:09] akshbhu commented on #9232
Hi @hisham

Apologies for the incovenience. We have a PR which will fix the deployment bucket issue : https://github.com/aws-amplify/amplify-cli/pull/9215

For the other issue , I am investigating it.

If possible can you send your amplify folder after redacting any secret info from it.

[2021-12-06 19:22] jk171505 commented on #9206
@cjihrig shared.

[2021-12-06 19:29] hisham commented on #9232
Sure I just sent it to amplify-cli@amazon.com thanks!

[2021-12-06 19:37] NoahGaeta commented on #9228
@marcvberg After investigating more, I found that graphql-transformer-v2 does not support RDS. I went back to older version of the command line interface and I am able run the command fine(other than postgres not working). I can give you the json if you find my report still relevant, if not I will close the issue.

[2021-12-06 19:40] marcvberg commented on #9228
We would expect that you are still able to add a graphql datasource on the latest version so long as the `transformerVersion` feature flag is set to 1, there are plans to make this available in V2 in the future but you are correct the functionality is currently not supported. If this is broken for V1 on the latest version that's still a concern as we don't want to break existing functionality

[2021-12-06 19:49] NoahGaeta commented on #9228
It was a test project to see what the system feels like, I can no longer recover it but I did not modify the `cli.json` file. So whatever behavior exists for generating that file on the latest cli version should've been mirrored in my environment. Is there any documentation that discusses `transformerVersion`? I totally missed that.

[2021-12-06 19:53] marcvberg commented on #9228
`transformerVersion` determines whether to use the graphQL V1 vs V2 transformer, so if you create a new project but want to use the V1 transformer you'll need to switch it to 1 instead of 2 to use V1. We like to abstract the feature flag details away when possible, it's something that's automatic in the `amplify migrate api` workflow

[2021-12-06 19:55] NoahGaeta commented on #9228
@marcvberg I am not really wondering about that specific flag, I am actually wondering about where other flags/parameters are documented so I know where to look.

[2021-12-06 19:57] marcvberg commented on #9228
It looks like the docs aren't fully up to date with every feature flag released, but generally speaking this is where you would find feature flag information: https://docs.amplify.aws/cli/reference/feature-flags/

[2021-12-06 19:58] NoahGaeta commented on #9228
Got it, I appreciate the help.

[2021-12-06 20:05] phani-srikar commented on #9154
This has been fixed with CLI `v7.6.2`

[2021-12-06 20:05] #9154 closed

[2021-12-06 20:08] cjihrig commented on #9206
@jk171505 after you make any schema changes and push the API you mentioned that you're running into problems. I noticed that your app was migrated from v1 to v2.

One difference between v1 and v2 is that pluralization is handled differently. You should have received a message about this during migration. I searched your project for "listInvestmentTransactions" and found a number of matches for "li

[2021-12-06 20:08] sundersc commented on #9220
Hi @n0rb I'm unable to reproduce this issue. Based on the docs link, I assume you are using v1 version of the graphql transformer. Can you confirm what does the below feature flags look like in `cli.json` file?
[code]

[2021-12-06 20:22] #7349 closed

[2021-12-06 20:28] akshbhu commented on #9232
Hi @hisham

It seems like a problem with ```EssDynamoStreamFn```. According to ```amplify-meta.json``` , this function dependsOn analytics but if you check ```function parameters.json``` for this , this function itself doesn't know  it depends on analytics.

**function-parameters.json**
[code]
As you can see analytics is missing and its present in ```amplify-meta.json```.
[code]

For the workaroun

[2021-12-06 20:52] cjihrig commented on #9206
Just to confirm, after you ran the v1 to v2 migration (before you removed any relationships), you pushed the v2 project and it worked? If so, if you temporarily add the `@hasOne` relationships back and push again, does it work again?

You could also try testing the API directly in the AppSync console, but you may run into some issues trying to do that with all of the auth in place in the schema.

[2021-12-06 20:59] marcvberg commented on #9133
Hi @wizage,

We have limited support for customers once they get into the space of custom resolvers, we don't want to deny the functionality as an invalid solution because there are still valid use cases for it. One option you could take is this:

[code]

If you put a lambda resolver on the `streamKey` field you can take advantage of the field level auth, and you can write the lambda resolver to o

[2021-12-06 21:13] josefaidt commented on #9176
Hey @JackPenney :wave: thanks for raising this! On the latest version of the CLI (7.6.2) I was able to reproduce using the following steps:

1. create a new project with `amplify init -y`
2. `amplify add auth` > Default Social... > add Google credentials
3. `amplify push -y`
4. create a new git repo, connect to git
5. add hosting > Continuous Integration... using Amplify Console
6. push to git rep

[2021-12-06 21:16] edwardfoyle commented on #9165
Looks like a bug here: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/src/execution-manager.ts#L52 @akshbhu I think this needs to be updated with the new overrides FF logic?

[2021-12-06 21:24] jk171505 commented on #9206
I tried this - it doesn't work. But if I re-deploy the app in Amplify console it works.

I did exactly this.
Logged in as an authenticated cognito user that belongs to the user group. It works if I re-deploy the app from Amplify console - in the web app as well as in the AppSync console.
At that point I pull (amplify), make any change in schema.graphql locally, then push - no errors in terminal, l

[2021-12-06 21:27] hackrx commented on #9229
Hey @cespin, I tried your solution, but it is not working for me.
Error:
[code]
And my `override.ts` file:
[code]
What I have also tried:
1. in Ref: Value ->  Blog8xxx3239PreSignup , but didn't worked.
2. in Ref: Value ->  Blog8xxx3239PreSignup-testapisArn , but didn't worked.
3. in Ref: Value ->  arn:aws:iam::6yyy81cc1465:role/Blog8xxx3239PreSignup-testapis, but didn't worked. [Copied arn from IA

[2021-12-06 21:33] josefaidt commented on #8317
Hey @Buder sorry to hear about that! Were you able to successfully update the GraphQL/AppSync API key as shown in the documentation linked in the previous reply? Also, can you verify whether your `amplify/backend/amplify-meta.json` file includes an `AmplifyAppId` in `providers.awscloudformation`?

[2021-12-06 22:09] sundersc commented on #9180
Hi @jaxyeh Can you please try the approach as documented here.
https://docs.amplify.aws/cli/plugins/authoring/#authoring-custom-graphql-transformers--directives

[2021-12-06 22:23] akshbhu commented on #9232
yes , Just try removing the section from ```backendConfig.json``` and ```amplifyMeta.json``` and try push again?

[2021-12-06 22:38] johnf commented on #9197
Reopening as now that I'm back in the office and testing with anger I still have this issue

[2021-12-06 22:44] hisham commented on #9232
yes I ended up removing the analytics dependsOn for EssDynamoStreamFn from amplify-meta.json, and the push now worked.

[2021-12-06 22:51] akshbhu commented on #9232
Good to know it worked.
Closing this issue , if you get stuck on it again , feel free to ping and ill reopen this again

[2021-12-06 22:51] #9232 closed

[2021-12-06 23:35] ammarkarachi commented on #9122
@dylan-westbury I tried to reproduce this by creating a ddb and a trigger with 6.3.1 and then pushing with the latest version. It seems to successfully deployed. Are there any other steps I can follow to reproduce?

[2021-12-06 23:46] michaelhutton commented on #9196
Just tested and you are correct, it's now working!
Thanks for the update 👍

[2021-12-06 23:46] #9196 closed

[2021-12-07 00:39] johnf opened #9236 "Control foreign field name for @hasMany"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

This is a bug/feature

I can set the index on hasMany as follows
[code]

If I look at the query generated for Post it will look something like
[code]

Notice that *userPostsId* is being created when it isn't needed.

[2021-12-07 00:46] attilah commented on #9061
@kundarmah could you paste the contents of the `~/.aws/amplify/depolyment-secrets.json` file, but REMOVE the values, we just need to see the structure of that file.

[2021-12-07 01:02] prajwalbv99 opened #9237 "Cognito user pool not updated with Signup attributes"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 01:32] edwardfoyle commented on #9123
@sacrampton Unfortunately I don't think there's any simple workaround. The above PR should fix this once released.

[2021-12-07 03:14] watilde opened #9239 "Integrate with CloudWatch RUM"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

CloudWatch

### Describe the feature you'd like to request

As a developer, I want to track Core Web Vitals of my Amplify application via CloudWatch RUM so that I can give customers the best experience.

### Describe the solution you'd like

Integration as a category w

[2021-12-07 03:51] vikaskgahlawat commented on #9225
Sure @attilah Please find attached two cloud formation templates. I am still trying to understand how can amplify push delete the api-params.json and parameters.json files.
[authProviderRestAPI-cloudformation-template.txt](https://github.com/aws-amplify/amplify-cli/files/7665370/authProviderRestAPI-cloudformation-template.txt)
[dataProviderWebSocket-cloudformation-template.txt](https://github.com/

[2021-12-07 04:43] dylan-westbury commented on #9122
@ammarkarachi are there any other files I can share with you to help understand what could be causing the problem?

Thank you

[2021-12-07 05:44] johnf commented on #5079
I've spent most of the day debugging this issue.

Adding of notifications needs to happen first,
When you then add analytics, the pinpoint provider detects that notifications exist and it writes the appId to the parameters.json
The cloudformation doesn't create a new pinpoint instance if an appId is passed.

The problem though is that this will then fail when creating a new environment or switchin

[2021-12-07 06:02] dbeck121 opened #9240 "Prevent list queries in graphql in GraphQL transformer V2"
**Which Category is your question related to?**
Queries and authorization in new Transformers v2

**Amplify CLI Version**
7.6.2

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
Hi,
I asked this question some time ago but as we have the new GraphQL transformer V2, things changed because
[code]
does not exist in the docs anymore.

https://docs.ampl

[2021-12-07 06:07] johnf commented on #5079
Current workaround when adding a new environment
* amplify env add NAME - to create the new environment
* Find the appid in team-provider.json for pinpoint
* Update amplify/backend/analytics/NAME/parameter.skon and set AppId
* amplify push

[2021-12-07 09:02] maxludovicohofer commented on #9121
[code]

[2021-12-07 09:04] johnf opened #9242 "Lambda can't access fields wth field level security"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 09:12] johnf commented on #9242
I notice the resolver
Should the section I marked AAAA look more like BBBB

[code]

[2021-12-07 09:22] kylekirkby commented on #9200
We've used field-level auth rules, field-level function resolvers, custom mutations, many-to-many connection tables, multiple auth rules, custom `@key`'s etc. Let me know if you need more details.

[2021-12-07 09:44] zirkelc commented on #1055
What are the required steps to enable or convert an existing API to use the new pipeline resolver for all data sources? I placed the slot-VTL file into the resolver folder and it was picked up by Amplify, but the my data sources (e.g. DynamoDB) didn't change.

[2021-12-07 11:41] duranmla commented on #7411
While the solution proposed works. I had a bit of extra confusion because I didn't know how to work with the JDK link and setup my environment properly as I was fearful of breaking something else. Therefore, here I expect to maybe help to future people like me:

1. Download the JDK version that folks propose above https://github.com/aws-amplify/amplify-cli/issues/7411#issuecomment-875108259
2. Ins

[2021-12-07 13:14] duranmla commented on #2563
@MiqueiasGFernandes any chance that you run over this error?

[code]

It seems like when I run the script it is like the `Amplify.configure` hasn't been run _(and it is being run)_. Also, the error suggests other things like `multiple conflicting versions of amplify packages` but nothing of that give me a sense of direction of what's going on.

The script I wrote can be found here: https://gist.gi

[2021-12-07 13:36] JohnLamHK commented on #4972
+1

[2021-12-07 13:59] akefirad commented on #8363
Same here, running 7.6.2.

[2021-12-07 14:03] NiklasReinhold opened #9243 "Failed to create models in the cloud: Modelgen job creation failed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 14:37] nealdeters commented on #8133
I've solve the issue. It was due to our permissions on our IAM user that was standing up the Amplify environment. The update from 5.4 to 5.5 introduced some new method calls on env pull that were not there before. The methods s3.listObjectVersions and cfn.listStackResources were missing from our permissions. Adding them fixed the problem.

[2021-12-07 14:37] #8133 closed

[2021-12-07 15:05] AmitTzah opened #9244 "Getting "Error: ENOENT: no such file or directory" when trying to run amplify init."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 15:35] marcvberg commented on #9200
I'll look into this - in the meantime, have you reviewed the migration guide? The overall announcement is here: https://docs.amplify.aws/cli/migration/transformer-migration/

and referenced within this page are the things that require manual migration: https://docs.amplify.aws/cli/migration/transformer-migration/#what-are-the-breaking-changes-and-how-do-i-migrate

Custom mutations come into the cu

[2021-12-07 15:54] kylekirkby commented on #9200
@marcvberg - thanks... but I've already read the migration guide and migrated my `schema.graphql` file accordingly prior to creating this ticket.

[2021-12-07 16:04] MarFerryauto commented on #9070
For me was solved using this in
`cli.json

[...]
{
  "features": {
    "graphqltransformer": {
      "transformerversion": 1
[...]
`

[2021-12-07 16:11] #6909 closed

[2021-12-07 16:17] kylekirkby commented on #9200
I've recently checked out my main environment and now upon trying to checkout my develop env I'm getting an error. This hasn't happened on the previous CLI version.

[code]
I was about to send over my amplify folder.. any ideas?

[2021-12-07 16:20] kylekirkby commented on #9200
It looks like my environment is changing since when I run `amplify status` it shows the environment I've just checked out. However, all resources are showing "Create" instead of "No change" etc.

[2021-12-07 16:30] kylekirkby commented on #9200
@marcvberg - I'm now in a fully blocked state.
[code]
I cannot push any changes or checkout different environments.

[2021-12-07 16:41] mozadeh commented on #9019
I have the same problem
`✖ There was an error pulling the backend environment prod.
🛑 An error occurred during the push operation: socket hang up`

[2021-12-07 16:42] jk171505 commented on #9206
@cjihrig I created a fresh env today, migrated to v2 and pushed. Then created CI/CD in amplify app and deployed for the first time. Everything worked fine - in AppSync console as well as in the webapp.

The following changes did break the app (the same error):
1. Update of the auth rule in one of the models:
[code]
to
[code]
2. compile: `amplify api gql-compile `
3. `amplify push`

I shared the pr

[2021-12-07 16:42] sachscode commented on #9128
@laboone
The following PR is being raised to fix the change in the notificationTrigger template .
https://github.com/aws-amplify/amplify-cli/pull/9235
an example of the policy after the fix is:
   "NotificationConfiguration": {
          "LambdaConfigurations": [
            {
              "Event": "s3:ObjectCreated:*",
              "Function": {
                "Ref": "functionnewtrigger87c981c

[2021-12-07 17:00] cjihrig commented on #9206
Thank you. I'm looking into your most recent project.

[2021-12-07 17:09] akshbhu commented on #9244
Hi @AmitTzah

Can you check if the config file is present inside .aws folder? We use the folder to fetch credentials for amplify IAM user to initialize amplify project.

[2021-12-07 17:11] arturlr commented on #9055
I have been using Amplify extensively and before having the ability to use a custom CDK code all my backend was typically done using AWS SAM. I recently started migrating some of my backend cloudformation that contains IoT resources, queues, layers and Lambdas to CDK. The reason it that when you have multiple lambda functions It is much more convenient to use CDK than using amplify add function. I

[2021-12-07 17:20] akshbhu commented on #9243
hi @NiklasReinhold

I think the main issue here is hydrating env variables during deploy stage  as you can see the error above in the image.

Do you have function env variables in your project? . if yes , then can you try deploying locally with cli using ```amplify push```. This command will prompt the env variables filling during push .

We are tracking similar error here: https://github.com/aws-

[2021-12-07 17:22] marcvberg commented on #9200
There's currently an AWS outage causing many amplify commands (among other things) to fail

[2021-12-07 17:27] AmitTzah commented on #9244
Hi @akshbhu

Thank you for responding.

The folder .aws is missing from  C:\Users\Username\AppData\Roaming\SPB_Data.

Searching for  C:\Users\Username\AppData\Roaming\SPB_Data\.aws in the file explorer results in the messeage "windows is unable to find C:\Users\Username\AppData\Roaming\SPB_Data\.aws

[2021-12-07 17:28] jnastaskin commented on #9205
@RalphKemp  thanks for the helpful info! I think I had a similar issue where a storage resource got into a weird state after not being properly removed.  Seems like the easiest solution for these storage issues is to just do a clean sweep of them and add them back in, if able to.

[2021-12-07 17:30] akshbhu commented on #9242
Hi @johnf

Can you provide the steps for the bug to reproduce on my end ?

[2021-12-07 17:37] akshbhu commented on #9244
Can you try running amplify configure again and check   if the  config files are getting generated at the location?

[2021-12-07 17:37] akshbhu commented on #9244
Can you try running amplify configure again and check   if the  config files are getting generated at the location?

[2021-12-07 17:38] jayKayEss opened #9245 "Amplify migrate api works on sandbox deployment, breaks CI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 17:44] AmitTzah commented on #9244
Yes, I've created three different IAM profiles using the amplify configure command, and the .aws folder isn't being created.

[2021-12-07 17:58] akshbhu commented on #9245
Hi @jayKayEss

Can you check the cli.json in #current-cloud-backend folder if the transformerversion FF is set to 2 ?

[2021-12-07 18:00] akshbhu commented on #9244
I will try to reproduce this on my end , for the workaround can you try our npm approach?
https://docs.amplify.aws/cli/start/install/

[2021-12-07 18:13] jayKayEss commented on #9245
Hi @akshbhu

Our `amplify/#current-cloud-backend` folder is gitignore'd according to rules that the Amplify CLI inserted... should that be changed?

[code]

[2021-12-07 18:16] AmitTzah commented on #9244
Yes, I will reinstall Amplify CLI with NPM and will report back.
Also, I've noticed that the folder SPB_Data is "read-only" (right-click on folder>properties>attributes>Read-only(Only applies to files in folder).
And I can't seem to uncheck it.
Could it prevent Amplify from generating the needed files?

[2021-12-07 18:25] Fitux opened #9247 "FetchError: invalid json response body when building the backend"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 18:32] Fitux commented on #9247
Closing this issue since it fixed itself after retrying a couple of times

[2021-12-07 18:32] #9247 closed

[2021-12-07 18:38] akshbhu commented on #9244
Yes, this can be a reason , since we write the aws config files in the directory.
Can you also try with administrator access ?

[2021-12-07 18:41] akshbhu commented on #9245
No , I just want to know the transformerVersion FF value present in ```cli.json``` as posted above.

So the problem I see here is when merging the migration branch with develop branch and push , some how deploy is going into V1 transformer flow which doesn't recognize new V2 directives. This is only possible if the cli.json has transfomer version present as 2 in cli.json file.

[2021-12-07 18:42] attilah commented on #9225
@vikaskgahlawat we silently migrate to `cli-inputs.json` from those two files, that's why those are getting deleted. Thanks for the templates I'm looking into it.

[2021-12-07 18:50] AmitTzah commented on #9244
for some reason SPB_Data folder keeps reverting to read only on, when I try to uncheck it.

Do you run Amplify configure with administrator access? How do I do that?

[2021-12-07 18:51] hackrx opened #9248 "🔴 Unexpected token < in JSON at position 0"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-07 18:53] jk171505 commented on #9248
I'm having exactly the same problem now...

[2021-12-07 18:59] hackrx commented on #9248
1. [old similar issue](https://github.com/aws-amplify/amplify-cli/issues/1355)
2. [Profile configuration is missing for: undefined](https://github.com/aws-amplify/amplify-cli/issues/8438)

[2021-12-07 19:03] jayKayEss commented on #9245
So, forgive me if I misunderstand here... looking at the deployment bucket for that build, I see `#current-cloud-backend.zip`, which when I download it has this:

[code]

Since we're not caching that folder, and there's no `#current-cloud-backend/` folder in git, I'm not sure how `amplifyPush --simple` is deriving those values, which don't match `amplify/cli.json` in git.

[2021-12-07 19:06] jonesnxt commented on #9248
This looks like it is related to `us-east-1` having outages as the endpoint `https://prod.us-east-1.appstate.amplifyapp.com/AppState/?appId=[app_id]` is giving me a 504 error about half the time I request it.

[2021-12-07 19:07] attilah commented on #9225
@vikaskgahlawat could you check if ANY of your `api-params.json` is only an empty object?
Is the total number of APIs you have is 6 in the project?

[2021-12-07 19:10] hackrx commented on #9248
But my amplify project is deployed in the `us-east-2` region.

[2021-12-07 19:10] jk171505 commented on #9248
I noticed that in logs, but I wonder what `us-east-1` has to do with my app, since it's deployed in `eu-central-1`...

[2021-12-07 19:15] ammarkarachi commented on #9248
Thanks @jonesnxt, I will mark this as an enhancement to improve on the error handling.

[2021-12-07 19:17] jonesnxt commented on #9248
👍  Some retry logic would be great here as it looks like it's only failing about half the time.

[2021-12-07 19:19] jk171505 commented on #9248
@ammarkarachi isn't this a problem that outage in completely different region affects the deployment in another one?

[2021-12-07 19:36] ammarkarachi commented on #9248
@jk171505 The underlying service for admin ui is on `us-east-1`

[2021-12-07 19:52] shackcrack007 commented on #9197
i have this issue to with the latest version

[2021-12-07 20:18] ammarkarachi commented on #9122
@dylan-westbury sure can you send me your `amplify/backend` to amplify-cli@amazon.com you can remove sensitive files. I would just like to see your configuration to reproduce it. Have you by any chance made any changes through the console to any of the resources listed here?

[2021-12-07 20:18] akshbhu commented on #9244
Try running terminal with administrator  accces and  again run this command

[2021-12-07 20:30] vikaskgahlawat commented on #9225
@attilah There are a total of 9 APIs including the AdminQueries which doesn't have an api-params.json file. I just noticed that out of the remaining 8, 2 still have api-params.json and parameters.json file. So it deleted for only 6 APIs.
Also, none of the api-params.json is only an empty object but two of the parameters.json files were empty objects.

[2021-12-07 21:06] cjihrig commented on #9206
@jk171505 I'm trying to reduce this down a bit since this schema has a lot going on. It seems like it could be an issue with `@auth`, but I'm not sure yet. If you remove all of the models except `InvestmentTransactions` (you'd have to remove the `@hasOne` relationships as well), does that reproduce the issue? If that still reproduces the issue, can you try removing the `@index` directives. If that

[2021-12-07 21:22] jk171505 commented on #9206
@cjihrig where you able to run this project/ reproduce this bug?

I tried to play with this a bit and removed all field level auth rules from this model but kept model level ones.
Unfortunately during the push I got error saying "Cannot perform more than one GSI creation or deletion in a single update; ConnectionStack failed to update". I tried to revert it, but then started to see this bug:

http

[2021-12-07 22:02] jaxyeh commented on #9180
Hi @sundersc, thank you for getting back to me. I've tried to rewrite the custom transformer accordingly to the guide, but I still can't load the custom transformers. I had to inject some debug logs against the `amplify-cli` runtime, and apparently, it did not load the custom transformers? See the screenshot of the VSCode Debug stack. Is there a reason why the custom transformers are not loaded in

[2021-12-07 22:50] cjihrig commented on #9180
I can confirm this is a bug. I'm working on a fix.

[2021-12-07 23:23] attilah commented on #9225
it is "good news", as it means that the migration is failing and it is an existing issue. Let me ping @jhockett to see he can provide a workaround!

[2021-12-07 23:53] mdarche commented on #9197
Experiencing the same issue. Also experiencing this with 7.6.2 and using a Cognito Post Confirmation lambda function

[2021-12-08 00:24] arledesma commented on #9063
I have not seen a pr for the [proposed solution](https://github.com/aws-amplify/amplify-cli/issues/9081#issuecomment-979407163) from @akshbhu

I have opened pr #9241 to provide project/env into overrides via `global.amplify`. 🤷

[2021-12-08 00:31] johnf commented on #9242
@akshbhu

I started on creating demo instructions but maybe I'm doing this wrong.

In the documentation it says
![image](https://user-images.githubusercontent.com/42590/145126932-8b7098f5-8c23-4b34-b6a8-5fcffe395ff6.png)

Which to me reads that anything coming from Lambda should work and not need permissions.

To make this work what access mechanism shouls I be using in lambda
* A signed HTTP requ

[2021-12-08 02:50] rikai-VuDang opened #9253 "Run mock with annotation @searchable and GraphQL Transformer v2 always fail SyntaxError"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-08 03:35] tomhirschfeld commented on #9225
we have the same issue

+1

[2021-12-08 04:48] jk171505 commented on #9248
@ammarkarachi to me it only shows how serious the problem is. For me it failed 4-5 times in a row.
It looks like the deployment of probably all apps in probably all regions fails because of the outage in `us-east-1`.

[2021-12-08 05:50] irakli-g commented on #9218
Hi, @yuth  the owner filed is the username of the currently logged-in user. This field did not exist in subscriptions before the update to transformer V2 and everything was just fine... everyone was receiving real-time data.

Why would I need custom resolvers now? I thought it was supposed to be pretty straightforward as it was in transformer V1 where everything worked great regarding subscription

[2021-12-08 06:07] irakli-g commented on #9218
This is the error I get if I remove the owner field from a subscription.

<img width="1363" alt="Screenshot 2021-12-08 at 10 07 04" src="https://user-images.githubusercontent.com/70649220/145157100-9af40720-6b14-4f0c-8b44-e4dca380c047.png">

[2021-12-08 06:58] benjeater commented on #9108
Same problem here.  Changing to any `env` and running `amplify push` removes all lambda triggers for Cognito in that `env`.

[2021-12-08 07:37] johnf commented on #9242
I created a bare bones CRA to test this with.
I'm accessing Appsync from lambda via IAM usng a signed HTTP request.

If my schema looks like this
[code]

it work but if I switch to this it doesn't

[code]

The difference is allowing private users to read the name field.

Looking at the resolvers that get get created the difference is
[code]

I'm not sure why allowing the *name* field to be readabl

[2021-12-08 07:45] johnf commented on #9242
https://github.com/johnf/cra-amplify-field-error is a sample repo if you want to replicate

[2021-12-08 08:27] AmitTzah commented on #9244
I ran the terminal with admin access and created yet another profile via Amplify configure. Still getting the same error and ,aws folder is not being generated.

Installing Amplify CLI via npm produces the same problem.

[2021-12-08 08:56] NiklasReinhold commented on #9243
Hi @akshbhu

You were right, the main issure was one env variable in one lambda function.
When I removed the env variable it worked!

Ps: amplify push did not work with env variable, only without too.

Thank you very much!

[2021-12-08 09:48] AmitTzah commented on #9244
Update: I solved the problem.

I lucked out in noticing that .aws folder was being generated in C:\Users\Username so I simply copied it to  C:\Users\Username\AppData\Roaming\SPB_Data where it'd been missing.

The only problem now is when running additional Amplify configure commands, .aws is being updated only in C:\Users\Username , so I have to remember to copy paste to SPB_Data  after every new

[2021-12-08 12:32] alex-vladut opened #9254 "Reference the AWS CDK root stack created from `GraphQLTransform`"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I am currently using AWS CDK to manage the infrastructure and only make use of the GraphQL transformers provided by AWS Amplify by directly building and invoking the `GraphQLTransform` class. With the new version of

[2021-12-08 12:51] Wyfy0107 opened #9255 "Show detail changes before amplify push"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

Cloudformation

### Describe the feature you'd like to request

I have been using terraform mostly for IaC, and they have this command `terraform plan` which shows detail changes of what attributes are added, removed, or modified, or if resource going to be created or

[2021-12-08 13:12] evandroguedes commented on #3248
@andy-HM I think that you need to migrate to the new resolver version (v2) first: https://docs.amplify.aws/cli/migration/transformer-migration/

[2021-12-08 13:13] NiklasReinhold commented on #9243
@akshbhu
Overview: The save&deploy in the AmplifyStudio works & I can see the Content.

It remains that "amplify push" drops this error:
![image](https://user-images.githubusercontent.com/29887205/145214157-3b2f22d8-31de-4132-91f8-9a76a8d82a2a.png)

The unexpected behaviour I have is the remaining "Outbox Mutation Failed Event" for the sync of one class of our schema.
![image](https://user-images.

[2021-12-08 13:28] ilansh opened #9256 "upgrade version of Cloudform in graphql-algolia-transformer"
### Is this feature request related to a new or existing Amplify category?

function, api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I'm using graphql-algolia-transformer, and would like to configure lambda batching/concurrency.
Unfortunately, it looks like `cloudform 4.2.0` is dependency of `@amplify-cli/graphql-algolia-transformer`, b

[2021-12-08 14:17] RichWK commented on #9197
For anyone else hitting this error, I was able to work around it by downgrading Amplify CLI to 7.3.4. 👍🏼

[2021-12-08 15:37] zirkelc opened #9289 "Follow-Up: @http directive should support AWS API Gateway"
### Is this related to a new or existing framework?

Web Components

### Is this related to a new or existing API?

GraphQL API

### Is this related to another service?

AWS API gateway

### Describe the feature you'd like to request

This is a follow-up for https://github.com/aws-amplify/amplify-js/issues/8586

The `@http` direct does not support URLs from API Gateway even if they are accessible

[2021-12-08 15:45] irakli-g commented on #9218
I see now. This is what I tested.
<img width="486" alt="Screenshot 2021-12-08 at 19 43 15" src="https://user-images.githubusercontent.com/70649220/145238100-93642fca-85df-4b79-8663-17da09e7ca0e.png">

<img width="772" alt="Screenshot 2021-12-08 at 19 43 30" src="https://user-images.githubusercontent.com/70649220/145238107-755d7d61-e6af-4c24-88b1-f15a043b1a0b.png">

Now users who are currently view

[2021-12-08 15:52] pananapread opened #9257 "Codegen not working on amplify pull?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-08 15:57] #9257 closed

[2021-12-08 15:58] pananapread commented on #9257
needed to uninstall and upgrade to a version higher than 7.6 :p

[2021-12-08 16:08] danielhstahl opened #9260 "Upgrade of Amplify and Migration of REST API"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-08 16:10] zirkelc opened #9258 "Amplify add api: Error: Section 'overrides' is not registered in feature provider"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-08 17:06] josefaidt commented on #9136
Hey @sansavision :wave: thanks for raising this! Using the steps and sample code snippets provided I was able to reproduce this issue and noticed the built `UpdateTodoInput` does not include an `id` property, leading to a warning from DataStore
[code]
without it we receive the following warning when attempting to update the resource. Note we will see the update locally but will receive an error fr

[2021-12-08 17:45] NiklasReinhold commented on #9243
I've found this:
![image](https://user-images.githubusercontent.com/29887205/145257454-ab546eee-7294-49dd-89b5-8170714b85fa.png)

[2021-12-08 17:46] akshbhu commented on #9258
We have a PR fixiing htis issue : #9249. You can comment and follow updates on the linked issue.
closing as duplicate of : #9165

[2021-12-08 17:46] #9258 closed

[2021-12-08 18:16] jhockett commented on #9225
Hi @vikaskgahlawat, the `parameters.json` being empty is fine. Did the remaining `api-params.json` files have a paths array defined with at least one entry?

The migration flow doesn't take custom CloudFormation changes into account. I will update the migration message to make that more clear and make the migration logic more robust.

After migration, REST APIs have new overrides functionality for

[2021-12-08 18:18] josefaidt commented on #8342
Closing due to inactivity. @goldwareJapan if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further

[2021-12-08 18:18] #8342 closed

[2021-12-08 18:22] jayKayEss commented on #9245
Hi @akshbhu I was able to resolve this issue by manually pushing to our staging environment, although the behavior of the migration tool was unexpected to me:

EXPECTATION:
[code]

ACTUAL:
[code]

This was unexpected because the staging deploy will fail unless an `amplify push` is executed manually by a developer. My expectation is that automated deploys shouldn't require human intervention.

Is t

[2021-12-08 18:23] jhockett commented on #9225
@tomhirschfeld do you have any REST APIs (excluding Admin Queries) with an `api-params.json` that do not define paths for the API?

[2021-12-08 18:33] dylan-westbury commented on #9122
I have sent @ammarkarachi .

No changes made, just create new env and push.

It fails with those errors as listed above. On a side note when I try again the s3 bucket exists for the new environment (does not delete with rollback), so manually remove it and try again which results in the same errors for the triggers.

[2021-12-08 18:35] edwardfoyle commented on #8883
Hi @vineethbhargavan setting that Feature Flag should be all that's required to get this working. Are you pushing in a CI/CD environment? And if so, is your `cli.json` file checked into your repo / present in the CI/CD environment?

[2021-12-08 18:35] ammarkarachi commented on #9122
@dylan-westbury it looks like the folder got removed by email filters is there a way you can share it without including it as an attachment?

[2021-12-08 18:39] Straubulous commented on #9244
This is local configuration.

[2021-12-08 18:39] #9244 closed

[2021-12-08 19:00] maziarzamani opened #9261 "add support to inherit values from parent model with relational directives in GraphQL schema"
Hi all.

I am currently working on a project which requires a use-case that is similar to a lot of other applications I have been considering to migrate to Amplify. However, the only showstopper right now, is that there does not seem to be a "clean" way of implementing fine-grained access control without pipeline resolvers and additional lookup tables. While I understand a lookup table will be nec

[2021-12-08 19:06] jhockett commented on #9260
Hi @danielhstahl, what version of Amplify CLI are you using?

[2021-12-08 19:08] danielhstahl commented on #9260
@jhockett  7.6.2

[2021-12-08 19:13] jhockett commented on #9260
@danielhstahl did your API have custom changes to the CloudFormation template? This might be a dupe of https://github.com/aws-amplify/amplify-cli/issues/9225 which we are working on.

[2021-12-08 19:20] danielhstahl commented on #9260
@jhockett That may be it; it looks like there were changes to Cognito in the cloudformation template:

[code]

I'm not sure if I manually edited this or whether this was automatically generated...but I suspect it was manual.

[2021-12-08 19:20] danielhstahl commented on #9260
Is there an ETA for when the fix will be in place?

[2021-12-08 19:21] danielhstahl commented on #9260
Also, in my case `amplify push` succeeds.

[2021-12-08 19:24] vineethbhargavan commented on #8883
Yes @edwardfoyle - Cli.json is checked in. The changes are pushed to Aws Code Commit - which in turn is being pulled by Amplify - this is the CI CD we have.

[2021-12-08 19:30] vineethbhargavan commented on #8883
The other thing  is , when this error happens...Amplify does a rollback - And while it does rollback most of the resources - any GSI created during the amplify push doesn't get rolled back!!! FYI - this behaviour happens all the time!!(probably i should create a separate bug for this) - if amplify detects a GSI update and the amplify push fails for whatever reason - the rollback fails to remove th

[2021-12-08 19:59] marco-viewpoint commented on #9228
I'm getting the exact same crash even with version 1.

I initialized a new project with these flags:
AMPLIFYCLI_GRAPHQLTRANSFORMER__TRANSFORMERVERSION=1
AMPLIFYCLI_GRAPHQLTRANSFORMER__useExperimentalPipelinedTransformer=false
(by default Amplify generates a cli.json with useExperimentalPipelinedTransformer=true, which overwrites the transformer version, so you need that flag as well)

I then added

[2021-12-08 20:03] akshbhu commented on #9224
Hi @isaacrowntree

we currently dont support functions with environment variables inn amplify studio.
this link might be able to help you better : https://github.com/aws-amplify/amplify-adminui/issues/332#issuecomment-964380483

[2021-12-08 20:05] #9224 closed

[2021-12-08 20:09] akshbhu commented on #9212
Hi @hackrx

this is a bug on our side which is overwriting signup attributes. We have a PR that fixes this issue .

For the workaround , you can use overide feature add these values in the CFN template.
Take a look here: https://docs.amplify.aws/cli/auth/override/#customize-amplify-generated-cognito-auth-resources

Closing as duplicate of : https://github.com/aws-amplify/amplify-cli/issues/9237
yo

[2021-12-08 20:09] #9212 closed

[2021-12-08 20:58] ryanhollander commented on #9223
same

[2021-12-08 21:28] akshbhu commented on #9255
hi @Wyfy0107

Can you try our enhancement on amplify status command ?
For detailed cfn diff you can try : ```amplify status -v <categoryName (optional)>```

Let me know if this is something you are looking for ?

[2021-12-08 21:55] adilusman51 opened #9263 "OpenSearch: can't merge a non object mapping [location] with an object mapping"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-08 22:05] josefaidt commented on #8392
Hey @osddeitf :wave: just wanted to follow-up here and see if you're still experiencing this issue after the merge?

[2021-12-08 22:05] adilusman51 commented on #9263
https://github.com/aws-amplify/amplify-cli/blob/69950964a795bb755c1202271fa5359ba09a5b48/packages/amplify-graphql-searchable-transformer/streaming-lambda/python_streaming_function.py#L24

Upon changing ```DOC_TYPE = 'doc' ``` to ```DOC_TYPE = '_doc' ``` in the deployed OpenSearchStreamingLambda Fixes the issue.

[2021-12-08 22:26] danielesalvatore opened #9271 "CDK `cdk.Fn.ref` does not return Lambda roles created with Amplify"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-08 23:12] lbrinker-1 commented on #9100
+1 on this one, I've got the same issue - not being able to use IAM authorization when mocking locally, both lambda and the local graphiQL interface since upgrading Amplify CLI version. I back-tracked, and it seems to stop working for me from CLI version 6.4.0 (did a big upgrade from an earlier version).

For local graphiQL, I'm getting the following back
[code]

Hosted AppSync GraphiQL interface

[2021-12-09 00:02] jhockett commented on #9260
@danielhstahl yeah that snippet isn't what the CLI generates.

You can implement custom CloudFormation changes with the new overrides functionality: https://docs.amplify.aws/cli/restapi/override/

[2021-12-09 01:15] lazpavel commented on #9243
Hi @NiklasReinhold, can you provide the output for `amplify status`

[2021-12-09 01:42] jsepia opened #9266 "Allow the Amplify CLI to work as a local package instead of a global one"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I'd like to be able to install and run the Amplify CLI as a local package so that I can use `npx` to run it:

[code]

### Current experience

This scenario is clearly not supported today:

[code]

(no list

[2021-12-09 02:43] cespin commented on #9229
Hi @hackrx ,

Are those stack params ? Check the effective CloudFormation file that's being generated by Amplify and the available stack parameters. If the parameter is available you should then be able to Ref it.

In my case all the lambda triggers were already there as params so I didn't have to add them.

If you need to add params you can leverage Amplify env vars option or you can declare a st

[2021-12-09 04:05] ngnathan opened #9527 "GraphQL Subscription throws error "Validation error of type UndefinedVariable: variable not found""
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-09 04:42] osddeitf commented on #8392
Sorry, i forgot to close this issue.

[2021-12-09 04:42] #8392 closed

[2021-12-09 05:16] hackrx commented on #9200
Hello @marcvberg, I added a custom query for a type, and updated `customResources.json` file, push is not working. I am continuously getting `only one resolver is allowed per field` ( still after 3 retries, as suggested in many comments), so I decided to migrate to v2.
I renamed my each resolver which was under `/api/<name/resolvers/` from `.req|res.vtl` to `.postAuth.1.req|res.vtl`, this is  what

[2021-12-09 05:26] vikaskgahlawat commented on #9225
@jhockett Not all. The one that I customized to be a websocket API does not have a path array defined in the api-params.json

[2021-12-09 08:19] jk171505 commented on #9206
@cjihrig I tried what you suggested, but the problem remains.

yes

the same error

removed all field level auth rules, on the model level left `public` access

the same error

After removal last auth rule (model level) I get the warning:
[code]

[2021-12-09 08:21] NiklasReinhold commented on #9243
@lazpavel This is the output for amplify status. The same as usual:
![image](https://user-images.githubusercontent.com/29887205/145359994-6f57312c-a05b-4b7d-8420-8ca19b3e770a.png)

[2021-12-09 08:53] Wyfy0107 commented on #9255
Hello @akshbhu I just tried adding a new @model and this is the output from the above command and it is still not very clear about the differences

![Screenshot 2021-12-09 at 10 48 18](https://user-images.githubusercontent.com/63753802/145364450-135b60bf-fe6e-4769-b6f2-5e8e47ab9c8a.png)

[2021-12-09 09:27] kylekirkby commented on #9200
Hi @hackrx ,

Could you please create a separate issue for your issue?

Thanks,

Kyle

[2021-12-09 11:23] suguru03 commented on #8917
I'm having the same issue on v4.51.3, and I can't update the CLI because I'm having other issues... so I'm stuck right now.

I'm wondering you could resolve this issue if you fix the `amplify-codegen` version to v2.26.15 or lower here.
https://github.com/aws-amplify/amplify-cli/blob/2253364725bdfb336a524f1f341548a09aa3392c/packages/amplify-cli/package.json#L49

I can see an `amplify-codegen` peer

[2021-12-09 12:11] jaga810 opened #9268 "All the VTL resolvers cannot be updated by modifying `schema.graphql` after Mocking."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 14:31] josefaidt commented on #9266
Hey @jsepia :wave: thanks for raising this! Are you currently running into issues installing globally without sudo?

I've marked this as a feature request to evaluate further 🙂

[2021-12-09 14:36] hackrx opened #9269 "Cannot read properties of null (reading 'level')"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 14:40] josefaidt commented on #8392
No worries @osddeitf ! Thank you for the contribution! 🚀

[2021-12-09 14:41] julienlaurent-migso opened #9270 "Facing CORS Policy issue with API REST on Dynamodb with API Gateway Cognito authorization"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 15:48] sergiorodriguez82 commented on #9036
When doing the remove command, it throws an exception, we decided to create a new environment, and deleting the one with the problem, nevertheless if this was a production environment we would have a serious problem. I understand if something is done outside the amplify/cloudformation is hard to sync the model. However, this is something that can happen, and I consider there must be a way to get t

[2021-12-09 15:53] sergiorodriguez82 commented on #8550
Any news? We have 43 models/tables this quota should be reviewed, I think amplify has the potential to do much more robust systems not only Todo's examples!

[2021-12-09 15:54] sergiorodriguez82 commented on #7676
Hi there, any news on this feature request?

[2021-12-09 16:16] lazpavel commented on #9268
Hi @jaga810, `amplify api gql-compile` is designed to update the resolvers in the `amplify/backend/api/{API NAME}/build/resolvers/` while `amplify/backend/api/{API NAME}/resolvers/` is used for custom resolvers and resolvers temporarily generated by `amplify mock api`, these will be removed one `amplify mock api` exists.

Can you provide more details in regard to `amplify api gql-compile` starts t

[2021-12-09 16:39] schorfi commented on #9260
I found this, and it helped me, to find the issue why my API was not deployed in the full extend anymore
the update of amplify and redeployment of my API had a major change. As the OP reported, the original cloudformation-template was removed. A template under build appeared. But it was missing stuff.
It didnt deploy my custom authorizers, it missed some paths, it removed some extra settings of th

[2021-12-09 16:50] cjihrig commented on #9269
@hackrx you haven't shared your schema. Does it look like the issue you're encountering is a duplicate of https://github.com/aws-amplify/amplify-cli/issues/9132?

[2021-12-09 17:37] lazpavel commented on #9243
Hi @NiklasReinhold

The error `The security token included in the request is invalid` seems to be a common error when the AWS credential does not has the required permission. Do any of your functions require access to other resources? Can you check that the permissions are valid?

[2021-12-09 17:57] jk171505 commented on #9206
Hi, is there an ETA on this bug?

[2021-12-09 18:32] marcvberg commented on #9206
Hi @jk171505, I've picked this up and I'm looking at it now and will get back to you later today

[2021-12-09 18:35] josefaidt commented on #8491
Hey @pcolmer :wave: thanks for raising this and apologies for the delay!! If you are still experiencing this issue may you try running `amplify pull` without the `-y` flag and manually accept the incoming changes to see if that alleviates the issue?

[2021-12-09 18:49] akshbhu commented on #9263
Thanks for the contribution. we will definately look into this.

[2021-12-09 19:13] josefaidt commented on #9270
Hey @julienlaurent-migso :wave: thanks for raising this! These CORS errors may be a bit misleading due to the lack of CORS headers of failed responses out of API Gateway (reference: https://github.com/aws-amplify/amplify-cli/issues/5183). In your sample snippet, are you seeing an error or the results outputted to the console?

[code]

[2021-12-09 19:14] NoahGaeta commented on #9228
Reopening for @marco-viewpoint

[2021-12-09 19:31] henobi opened #9273 "Amplify auth overwrite: configure AWS::Cognito::UserPoolDomain"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 19:44] hisham opened #9274 "Error on amplify push: AmplifyResourcesPolicy - The policy failed legacy parsing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 19:47] Straubulous commented on #9223
Fixed in7.6.3

[2021-12-09 19:47] #9223 closed

[2021-12-09 20:22] jhockett commented on #9167
A fix for this was released in version 7.6.3.

[2021-12-09 20:22] #9167 closed

[2021-12-09 20:36] akshbhu commented on #9274
Hi @hisham

Can you tell me the steps you did when you have this error before ```amplify push```.
Also can you paste the Cfn template policy which is giving errors?

[2021-12-09 20:43] hisham commented on #9274
I think the steps were:

1) I added a lambda trigger from a ```@model``` dynamodb stream, I did this by editing the cloudformation of the lambda method (since https://github.com/aws-amplify/amplify-cli/issues/6883 is not implemented yet)
2) I did amplify push, everything worked as expected
3) I switched branches where this trigger was not setup, I did amplify push, the push went through fine, did

[2021-12-09 20:44] hisham commented on #9274
Hey somehow, the issue resolved itself! I did amplify function update, and though I didn't make any changes, amplify push now works again, so you're free to close.

[2021-12-09 21:01] akshbhu commented on #9273
Hi @henobi

Thanks for reporting it. We have added a fix in the override.ts file to include custom cfn resource.

[2021-12-09 21:01] akshbhu commented on #9274
Closing as its working

[2021-12-09 21:01] #9274 closed

[2021-12-09 21:11] hackrx commented on #9269
Thanks @cjihrig for referring #9132, I fixed it by following the suggested fix.
`@model (subscriptions:{level:off})`

[2021-12-09 21:11] #9269 closed

[2021-12-09 21:22] henobi commented on #9273
@akshbhu One more question: How can I access the string value of the current amplify environment  (e.g. prod, dev, staging) in the override.ts file?

[2021-12-09 21:28] akshbhu commented on #9273
Hi @henobi

You can do something like this when this fix will release :
[code]

this will generate a custom CFN resource in your auth cfn:
[code]

[2021-12-09 21:45] henobi commented on #9273
Thank you!! 👍

[2021-12-09 21:57] ammarkarachi commented on #9271
@danielesalvatore Thanks for the issue, unfortunately the line `cdk.Fn.ref(amplifyResources.function.<AMPLIFY_FUNCTION>.LambdaExecutionRole);`  return the role name rather than the role ARN. You could get around this by constructing the ARN and accessing the role like this

[code]
and then granting that role access to your rds cluster. This creates a policy which attaches itself to the lambda func

[2021-12-09 22:00] ryanchuleff commented on #9228
I'm seeing the same error as @marco-viewpoint and my cli.json is identical in terms of flag values.

[2021-12-09 22:05] marcvberg commented on #9206
Was unable to reproduce this today, tomorrow I'm going to try some new strategies to see what I can find.

Do you have your original V1 schema that was migrated? I'm wondering if reproducing this error would be easier if I come from that direction

[2021-12-09 22:37] dorontal opened #9278 "Amplify push fails after upgrading to GraphQL transformer v2 and moving from 7.6.2 to 7.6.3"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 22:40] cjihrig commented on #9278
In your project's `cli.json` file, can you confirm that the `useexperimentalpipelinedtransformer` feature flag is set to `true`, and the `transformerversion` is set to `2`.

[2021-12-09 22:41] johnf opened #9279 "Can't access AppSync model wth no @auth from lambda"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-09 22:41] johnf commented on #9242
@SwaySway Thanks, that's great. I'll give that a try.

In case it's related can you check also check #9279

[2021-12-09 22:53] SwaySway commented on #9279
@johnf
`@auth` currently generates the auth rules and the necessary pass through for lambda functions, as V2 [authorization rules operate on the deny-by-default principle](https://docs.amplify.aws/cli/graphql/authorization-rules/).

I can mark this as a feature request in the case of [Global authorization rule](https://docs.amplify.aws/cli/graphql/authorization-rules/) for the team to review, as i

[2021-12-09 22:58] johnf commented on #9279
@SwaySway
A feature request would be great, thanks
For now I've added a dummy auth with an owner pointing at a field that could never map to a cognito user

There might be potential to expand the docs - I think there is some confusion around
* Lambda access API Key vs IAM
  * How are these different
  * Which is preferred
  * Why should I use one over the other
  * I'm using IAM because I don't wa

[2021-12-09 23:03] dorontal commented on #9278
@cjihrig Thank you very much. These flags were not set. The `useexperimentalpipelinedtransformer` was set to `false` and `transformversion` was set to 1 - please accept my apologies for not knowing about these settings.

I am now trying to figure out why those settings have changed from having the correct version (2) in the previous deploy (the one with v7.6.2) and why they are back at version 1 n

[2021-12-09 23:03] #9278 closed

[2021-12-10 00:39] dorontal commented on #9278
I did notice that at the time of running the CLI command `amplify push` the file `amplify/cli.json` does not exist yet.

It is the call to `amplify push` that creates this file in my case.

This call creates the file with the settings for version 1 of the GraphQL transform.

I need to call `amplify push` twice, therefore: once to create the file `amplify/cli.json` and fail with it because the sett

[2021-12-10 01:34] jaga810 commented on #9268
Thank you for your reaction @lazpavel !

Yes. So it's odd Amplify CLI exports compiled resolvers to `amplify/backend/api/{API NAME}/resolvers/` when running `$ amplify mock api`.
Even after I exit `$ amplify mock api` using Ctrl+C, `amplify/backend/api/{API NAME}/resolvers/` files which are not custom VTL but generated automatically by Amplify CLI remain.
This causes overwriting all the resolvers

[2021-12-10 02:59] watilde commented on #9239
In addition, I heard from developers that they are struggling to monitor heath check of resources Amplify uses such as DynamoDB. e.g. Developers need to check DynamoDB console if `Throttling Error` happens.

[2021-12-10 05:52] david-wb commented on #7947
@josefaidt This is happening to me too. Doing `amplify import auth` doesn't include the google oauth client id in the `aws-exports.js` file, it only includes the oauth domain:

[code]

[2021-12-10 09:07] jk171505 commented on #9206
Yes. Shared via email (amplify-cli@amazon.com).

[2021-12-10 12:24] stam commented on #9099
I have the same issue:
[code]
[code]

Specs: Node v12.22, and the same macbook as @massi-ang
<img width="494" alt="Screenshot 2021-12-10 at 13 23 50" src="https://user-images.githubusercontent.com/12035356/145573658-185846b9-8519-4a18-8805-8330ef5a5da5.png">

[2021-12-10 12:29] julienlaurent-migso commented on #9270
Hi Josef,
Thank you for your answer,
We have improved our code and our api gateway settings following your reference.
Now all our {proxy+} routes are working very well (we are really happy with that).

But we cannot get the data with the direct path of our API :

we have this console error at the API Call :

![consoleerr](https://user-images.githubusercontent.com/79509459/145572925-a07f8c19-7215-4

[2021-12-10 13:23] hackrx opened #9284 "[Graphql V2] Only one resolver is allowed per field."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-10 14:37] hackrx commented on #9284
On executing `aws cloudformation validate-template --template-body  amplify/backend/api/blogbackend/stacks/CustomResources.json` I am getting:
[code]

[2021-12-10 15:00] josefaidt commented on #7947
Hey @david-wb would you mind filing a new [bug report](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml) for this occurrence?

[2021-12-10 16:15] ganipcanot commented on #8935
@daniellorenzin Could you share your `appId` and `region`?

[2021-12-10 16:17] ganipcanot commented on #9176
If any of you could provide your `appId` and `region` where this is happening that would be great.

[2021-12-10 16:48] lazpavel commented on #9268
Hi @jaga810, can you try to manually remove the resolvers from `amplify/backend/api/{API NAME}/resolvers/` and let me know if this solves the main issue.

In order to exclude some permissions issues, can you confirm that after a manual removal if follow up runs of `amplify mock api` still fail to remove the resolvers from `amplify/backend/api/{API NAME}/resolvers/`

[2021-12-10 17:09] gurusabarish opened #9285 "How to get the last inserted item from dynamodb, after that create new item using Aws appsync"
I am using aws appsync and dynomoDB. I have a table called Payment and I want to create each item with an unique sequential number that is ```PaymentNo```.

If we want to achive this, we have to get last inserted item in order to update the ```PaymentNO``` count. Actually, I don't know, "how to get the last inserted item from table in the same resolver?

could anyone help me to write a resolver fo

[2021-12-10 17:17] david-wb opened #9286 "Amplify import auth: Cannot parse arn: 'undefined'."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-10 17:33] jsepia commented on #9266
Thanks for triaging this issue. I just tried installing Amplify globally without sudo in a VM. It gave me an EACCESS error at first, but it worked after I set a custom npm prefix:

[code]

I will edit my original post to include this workaround.

[2021-12-10 18:07] yuth commented on #9218
Could you share the schema before the v2 migration. Before/after schema would be helpful to figure out why the subscription stopped working

[2021-12-10 18:10] yuth commented on #9121
The resolver generated with Transformer v2 does a strict check on use role arn. Mock has been updated to give Auth role arn for the user if the request is signed with `ASIAVJKIAM-AuthRole` as AccessKeyId. The session and secretKey does not matter for mock.

[2021-12-10 18:19] jhockett commented on #9225
@vikaskgahlawat that's why the migration failed. It doesn't handle custom changes to `api-params.json`. The workarounds available are either continue to use the older version or you can implement the same custom changes with the new overrides workflow.

I have a PR to address some of the sharp corners, but it doesn't solve everything: https://github.com/aws-amplify/amplify-cli/pull/9267

[2021-12-10 18:40] Straubulous commented on #8883
vineethbhargavan - please create a separate issue for your last comment. Closing this one

[2021-12-10 18:41] #8883 closed

[2021-12-10 18:42] irakli-g commented on #9218
This is how the generated subscriptions.ts looked like before v2. There was no requirement for providing owner parameter.

<img width="741" alt="Screenshot 2021-12-10 at 22 41 10" src="https://user-images.githubusercontent.com/70649220/145625202-f54f3854-6bf0-4618-aa41-1a60b98afec3.png">

[2021-12-10 18:42] jhockett commented on #9116
Hey @eettaa,

The `#current-cloud-backend` folder is recommended to be in [.gitignore](https://docs.amplify.aws/cli/reference/files/#gitignore)

[2021-12-10 18:46] Straubulous commented on #9108
This is a duplicate of f #9112  - if still having issue on latest please create new issue.

[2021-12-10 18:46] #9108 closed

[2021-12-10 18:49] vikaskgahlawat commented on #9225
Thanks, @jhockett. Although I have a lot of customizations that I will have to incorporate in the new override workflow my concern now is: Is there any other feature in progress/plan that can again bring such breaking changes. So if I use this new override workflow and customize my APIs as per my needs, can a new version stop supporting this override workflow or does not provide the backward compa

[2021-12-10 18:55] yuth commented on #9218
Schema would be more helpful as it contains auth rules

[2021-12-10 19:01] jhockett commented on #9205
We released a fix in version 7.6.3 that probably addressed this issue, but since I wasn't able to reproduce I can't verify. Is anyone seeing this issue in 7.6.3?

[2021-12-10 19:09] jhockett commented on #9225
Apologies for the inconvenience @vikaskgahlawat. We don't plan on making any breaking changes to the override workflow. I'm also working on a fix to prevent the migration on push from being needed to avoid breaking anyone with custom changes.

[2021-12-10 19:20] josefaidt commented on #9021
Hey @chrismilleruk :wave: as a workaround can you try adding the string `"packaged-node-modules"` to the `pluginDirectories` section of the `~/.amplify/plugins.json` file and try to redeploy?

[code]

For reference: https://github.com/josefaidt/9209/blob/main/scripts/patch.js

[2021-12-10 19:39] ammarkarachi commented on #8935
@daniellorenzin Can you confirm if this workflow is working?

[2021-12-10 19:39] ammarkarachi commented on #9176
@JackPenney Can you confirm if this workflow is working with the latest version?

[2021-12-10 19:41] eettaa commented on #9116
Hi @jhockett, thanks so much for your response!

Yes, totally acknowledge that `#current-cloud-backend/` (and the `amplify-meta.json` files) are meant to be .gitignore'ed. But, many files that I would expect to be updated in the `backend/` directory *are* supposed to be VC'ed. See, for example, my stated (admittedly perhaps confused) expectations for "Bug 2" above, where I'd naively expect the `ba

[2021-12-10 19:55] attilah commented on #8997
@wbroek yes the migration is mandatory because the underlying implementation changed to use the CDK from the previous static EJS templates and also some state files in certain categories are refactored to use the new `cli-inputs.json` as a singular parameter source.

[2021-12-10 20:15] ammarkarachi commented on #9122
@dylan-westbury I don't see the watches, bids or the ratings model in your schema, have you updated the name of the table or modified the schema in any way?

[2021-12-10 20:17] jhockett commented on #9116
@eettaa apologies for taking so long to get back to you initially and thanks for clarifying what you were asking.

The reason `amplify/backend/` is not wiped, is because we want to give customers the opportunity to clone their existing environment. This is similar to creating a new git branch from a current branch.

If you want a blank environment, you would need to run `amplify remove <category>`

[2021-12-10 20:21] yuth commented on #9100
The mock server now supports IAM, and when the request is signed with AccessKey `ASIAVJKIAM-AuthRole`, the request gets `authrole` and any other AccessKey is treated as user with UnAuth role. This change was released in Amplify CLI v7.6.3

[2021-12-10 20:22] irakli-g commented on #9218
[code]

[2021-12-10 20:31] jleskovar-tyro opened #9290 "Add AppSync API ID to aws-exports.js"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

It would be great of `amplify push/pull` would include the AppSync API ID as a key in aws-exports.js.
My pipeline uses `aws-exports.js` to extract various parameters to be used as input into a serverless deploy

###

[2021-12-10 20:42] jk171505 commented on #9206
Ok, this is strange. Any change in schema pushed via amplify push, despite it is successful, breaks the app (error mentioned at the beginning). A commit of these changes in this branch (which will trigger automatic deployment) and push via git fixes the problem.

The code that I shared recently via email was pushed to aws, then amplify app was set up with CI/CD which triggered initial deployment.

[2021-12-10 21:29] #8215 closed

[2021-12-10 21:31] #9142 closed

[2021-12-10 22:11] lazpavel commented on #9286
Hi @david-wb, thank you for raising this issue, I was able to reproduce it and working on a fix

[2021-12-10 22:48] eettaa commented on #9116
Hi @jhockett, thanks for the extra info.

This makes sense to me when a new environment is created (and it matches my expectation as stated in "bug" 1).  But what I do not understand is why `backend/` is not updated when `amplify env pull --restore` is run.  I am envisioning a flow like this:
- Developer is on some random git branch with some custom amplify environment
- `git checkout prod` // Dev

[2021-12-10 22:54] lazpavel commented on #9286
In the meantime can you go to console and find the identity pool your trying to import and make sure you have assigned values for `Unauthenticated role` and `Authenticated role` fields

[2021-12-10 23:07] alexhouse opened #9292 "Transformer v2 fails when converting a table with an index on a primaryKey"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-10 23:08] jhockett commented on #9116
`#current-cloud-backend` is a folder we use internally to Amplify CLI to cache backend state information. `amplify status [-v]` should be considered your source of truth for the current state of the environment.

This sounds correct to me given the steps you laid out. Can you share the `git status` of the changes so we can see which files are not in sync?

Does `amplify pull --restore`(no env) yie

[2021-12-10 23:38] jnastaskin opened #9293 "S3 Bucket Dropped after new Environment Deployed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-11 00:22] david-wb commented on #9286
@lazpavel Thank you, I added auth and unauth roles to the identity pool and now the import works.

[2021-12-11 00:31] sundersc commented on #9200
Hi @kylekirkby - Can you try to pull the project to a new folder and email us the `amplify` folder to  amplify-cli@amazon.com?

[2021-12-11 00:51] n2westman opened #9295 "Failed to create models in the cloud: ValidationException"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-11 00:52] n2westman commented on #9295
It's specifically these last two log lines that seem off.

[code]

[2021-12-11 01:10] mitchconquer commented on #9260
I think I'm having a similar issue on @7.6.3. I was getting 403 errors and then realized that I would get the same error if I tried to make the same request to an endpoint I knew didn't exist.

I did more looking at my API Gateway and saw that the resources are created in the rest API but they are not "deployed" to the stage. I manually deployed them and now they are working but not sure if I will

[2021-12-11 03:29] jnastaskin commented on #9293
I'm also seeing S3 buckets in the codebase and AWS S3, but when I run amplify update storage or amplify remove storage it says " No resources added for this category"

[2021-12-11 05:20] sundersc commented on #9285
Hey @gurusabarish - DynamoDB does not support auto-increment primary keys due to scaling limitations. But if you really have to do, it is recommended to use a dedicated table to store the counter value.

Here is an example:
https://martinstapel.com/how-to-autoincrement-in-dynamo-db-if-you-really-need-to/

[2021-12-11 06:25] rahulsrivastava1 opened #9296 "I am getting error after creating "rn-cli.config.js""
const blacklist = require("metro-config/src/defaults/blacklist");
module.exports = {
  resolver: {
    blacklistRE: blacklist([/#current-cloud-backend\/.*/]),
  },
![Screenshot 2021-12-11 115436](https://user-images.githubusercontent.com/54400720/145666718-eef7c7d6-59ca-4b2b-ad91-52e74ecd55c4.png)

};

I updated in the root of the folder but the problem is still troubling? I am using expo... pleas

[2021-12-11 07:31] eettaa commented on #9116
@jhockett thanks so much for your comment.
Sure, let me get you the status dumps for the first post. I apologize in advance for the length of the dump, but hopefully it will help us understand what's going on.

In order to be extra explicit, I've removed the amplify files from my `.gitignore`. I do understand some of them are meant to be hidden, notably `#current-cloud-backend/` and `amplify-meta.

[2021-12-11 08:33] hackrx opened #9297 "Cognito auth trigger detached with env checkout"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-11 09:35] jleskovar-tyro commented on #9290
Just discovered `amplify-meta.json` in the backend directory, and am using this for now.

[2021-12-11 09:35] #9290 closed

[2021-12-11 11:34] spc16670 commented on #2679
+1

[2021-12-11 13:29] wesleymilan commented on #5690
Did anyone work on a solution or at least a link with all directives to download manually?

[2021-12-11 14:33] danielhstahl commented on #9260
Having to add the old path cf-template into overrides.ts is not the end of the world...my issue is I can't seem to update the "Parameters" section like I was able to before.  Following this approach: https://github.com/aws-amplify/amplify-cli/issues/3390#issuecomment-924478950

[2021-12-11 16:04] zirkelc commented on #1055
@renebrandel is there a way to automatically create a AppSync data source as well? I can easily slot in custom business logic into the pipeline by create a VTL template (e.g. preDataLoad or postDataLoad), but these custom resolver templates will be executed against the `None` data source and therefore, can basically only set static values. It would be good if I can write a VTL template to invoke a

[2021-12-11 16:14] kylekirkby commented on #9197
For anyone hitting these issues, I was able to get past the CLI error message by updating my numerous lambda functions that were not passing in the `deploymentBucketName` and `s3Key` parameters. The `Code` property of the lambda function will also need to be updated to reference the newly added params.

So for a lambda function in `amplify/backend/function` check the "Parameters" section for the a

[2021-12-11 16:36] nealdeters commented on #8669
I've been hitting this error lately as well. I tried the above command and that get's it running, but everything runs extremely slow.

[2021-12-12 05:45] jsgphd opened #9313 "aws-exports.js not adding new identify providers to aws_cognito_social_providers section"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-12-12 05:52] w0okie commented on #9205
I just pushed successfully after updating from 7.5.5 => 7.6.3

[2021-12-12 07:08] jameslporter commented on #8111
Any idea of a timeline? Our team is learning amplify fast but this really cripples our flow! Thanks!

[2021-12-12 13:55] lbrinker-1 commented on #9100
Thanks @yuth!

Can confirm that it works for me now by changing the following:

**Lambda: **
* Add explicit mock credentials (for local lambda)

[code]

And local graphiQL by setting role to Auth in Update auth:
![image](https://user-images.githubusercontent.com/95773291/145715111-fd7bd66b-55e8-4774-a7ec-b2c9ccf3fd7f.png)

[2021-12-12 13:59] 0xR commented on #9197
I had the same issue with 7.6.2. Downgrading to 7.3.4 didn't work. I also tried the latest 6.x, 5.x and 4.x still the same issue.

It took a while to realise that although I ran `npm i -g @aws-amplify/cli` to update I was still using an older amplify version since amplify now lives in `~/.amplify`. To update I should have ran `amplify upgrade`.

7.6.3 solves the issue indeed.

[2021-12-12 20:14] kevcle opened #9298 "Amplify push fails after update to 7.6.3 - Parameters: [AuthCognitoUserPoolId] must have values"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-12 21:37] vineethbhargavan commented on #8877
Any update on this?

[2021-12-12 23:35] matwerber1 opened #9299 "Add option of enforcing "admin create only" for users in Cognito user pool"
### Is this feature request related to a new or existing Amplify category?

auth

### Is this related to another service?

cognito

### Describe the feature you'd like to request

When I'm first developing an app with Amplify that uses Cognito auth, I typically want to control user signup and prevent public signups. Similarly, if I'm making an internal / private tool, I do not want signup to be pu

[2021-12-13 00:19] dylan-westbury commented on #9122
@ammarkarachi hmmm there is Watch, Bid and Rating. For example:

[code]

[code]

Maybe they were old names for the models, could they be still referenced somewhere?

[2021-12-13 00:33] Parth220 opened #9341 ""Template error: instance of Fn::GetAtt references undefined resource" when using AdminUI/Studio for changes on Auth."
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-12-13 05:10] mgarabedian commented on #8895
I was also unable to migrate auth. Getting " Updates are not allowed for property - UsernameConfiguration".  IAM roles are fine. Autoverifiedattributes were incorrect after migration ( seen this before with amplify update auth), I put them back to what they were set at.

[2021-12-13 07:44] markus-sell opened #9300 "Amplify INIT does not incorporate permission boundaries of user in CF template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-13 08:36] vikaskgahlawat commented on #9225
One more question @jhockett If I continue to use the old version of amplify cli and develop the application with those standards, won't it break when AWS Amplify pull the latest code from the codecommit repo and try to setup the backend environment.

[2021-12-13 09:05] jaga810 commented on #9268
@lazpavel
Yes that work around worked for me.
However,

1. it seems painful to manually remove `amplify/backend/api/{API NAME}/resolvers/`
2. What if I create custom VTL file in `amplify/backend/api/{API NAME}/resolvers/` ?

For those don't use custom VTL, [Command Hooks](https://docs.amplify.aws/cli/project/command-hooks/) is a good workaround in terms of 1.

Could you reproduce this bug in your

[2021-12-13 10:50] GGG1998 opened #9301 "CustomerError: Missing frontend definition in buildspec"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-13 12:35] NiklasReinhold commented on #9243
Hi @lazpavel Yes indeed, somehow my logged my Account (Aws Admin) had not enough rights. Or I missed something.
I used amplify configure to recreate a new account and now the push works with the cloud-build of models.

I would love to close the issue and use the app in productive.
Sadly I'm not yet ready

This Bug without an error-Description brings me trouble:
![MicrosoftTeams-image2](https://use

[2021-12-13 14:38] stephen-optisol opened #9302 "Can't create new env on existing amplify project."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-13 15:15] #9180 closed

[2021-12-13 15:44] mgarabedian commented on #8895
@yuth I was able to track down the bug causing my auth deployment to fail with "_Updates are not allowed for property - UsernameConfiguration_".  usernameCaseSensitive check in the following should not be in _props.requiredAttributes.length > 0_.  Moving this out allowed me to continue. In my case, I had (apparently) never setup required attributes. So the array was empty.

https://github.com/aws-

[2021-12-13 15:54] #9114 closed

[2021-12-13 15:54] #9130 closed

[2021-12-13 16:13] lazpavel commented on #9268
So far I wasn't able to reproduce, exiting the `amplify mock api` removed the resolvers from `amplify/backend/api/{API NAME}/resolvers/`

[2021-12-13 16:34] cjihrig commented on #9292
@alexhouse I'm not able to reproduce the issue. First, I created a new project and deployed the v2 schema you provided. That went through fine.

Next, I created another new project using the v1 schema you provided. There are a couple issues with the provided schema. There is no `deviceToken` or `expoPushToken` field in the schema. For the v1 primary key, I used the fields `user`, `channel`, and `t

[2021-12-13 16:37] cjihrig commented on #9295
@n2westman are you still seeing the error today? It sounds like there may have been a job stuck on the backend.

[2021-12-13 16:44] n2westman commented on #9295
Yup. No way to find / cancel it either, I can see `jobCategory.GenerateBackendAPIModels` running from last week in the Amplify Backend UI

[2021-12-13 17:05] ammarkarachi commented on #9122
Can you update the references using `amplify update function`? I see it being referenced right in some of the functions
![image](https://user-images.githubusercontent.com/56042290/145856378-99f83cab-d08d-47b0-8d17-3119ec31ad38.png)

[2021-12-13 17:14] #8535 closed

[2021-12-13 17:16] #8777 closed

[2021-12-13 17:20] cjihrig commented on #9197
I'm going to close this, as v7.6.3 should resolve the issue.

[2021-12-13 17:20] #9197 closed

[2021-12-13 17:22] cjihrig commented on #9220
@n0rb did the previous comment

[2021-12-13 17:26] raphkim commented on #9061
I had the same issue and I fixed it by just deleting `~/.aws/amplify/deployment-secrets.json` file. Going through the CLI flow for setting up federated auth again regenerated the file with correct parameters.

old:
[code]

new:
[code]

[2021-12-13 18:03] n0rb commented on #9220
sorry @sundersc I kind of missed your response, sorry for the late reply.
here is the requested info from amplify/cli.json

[code]

[2021-12-13 18:11] akshbhu commented on #9293
Hi @jnastaskin

We are looking into this.

Can you also paste the output of ```amplify status```  will help in debugging the issue ?

[2021-12-13 18:19] jnastaskin commented on #9293
hi @akshbhu
here it is
![image](https://user-images.githubusercontent.com/31951390/145866589-6baab9c2-fa45-491f-b8a0-f56b64c2f8bc.png)

[2021-12-13 18:24] lazpavel commented on #9102
Hi @EA-YOUHOU, I was trying to reproduce the issue with the latest CLI and noticed that the first issue where the schema has nullable `client_id` is fixed and the CLI properly displays what needs to be corrected, and after correcting the nullable `client_id` the next push succeeds. Can you please confirm that the latest `CLI` fixes the issues for you as well?

[2021-12-13 18:35] jnastaskin commented on #9293
At this point, I'm really just trying to resolve/figure out why the amplify cli thinks the storage resource doesn't exist even though it's in my codebase and shows up in  the list of buckets in AWS S3

[2021-12-13 18:49] lazpavel commented on #9243
Hi @NiklasReinhold, I don't see a `test` field in the `UserProfile` can you re-run `amplify codegen models`

[2021-12-13 18:58] danielleadams commented on #9302
@stephen-optisol First, I'd like to focus on the CloudFormation issue. The validation of the CloudFormation files is not passing, which causes the deploy to fail too. However, I am unable to reproduce this with a previously created app + latest Amplify CLI, so this seems to be an issue with your app getting into a breaking state.

If you pull down your application code locally, do the `amplify/bac

[2021-12-13 19:06] JackPenney commented on #9176
Hey @ganipcanot
my appId is: **d1y0lxfx9s7bhz**
The region is: **eu-west-1**

@ammarkarachi I've updated to CLI v7.6.3 and ran  `amplify pull` and got the following error in the console:

[code]

[2021-12-13 19:06] #9271 closed

[2021-12-13 19:25] jhockett commented on #9116
@eettaa thanks so much for the detailed write-up, this is super useful! I will share with the team and get back to you.

[2021-12-13 19:30] akshbhu commented on #9299
Hi @matwerber1

Can you try our override feature : https://docs.amplify.aws/cli/auth/override/

you can try something like this:
[code]
This command will modify cfn template like this:
[code]

[2021-12-13 19:55] akshbhu commented on #9293
Hi @jnastaskin

Can you mail us the amplify folder at amplify-cli@amazon.com with issue number as subject?

Make sure to redact any secret info present in the files before sending.

[2021-12-13 20:08] danielleadams commented on #9289
Hi, thanks for opening this issue! I have tagged this as a feature-request so that we can review this with our product team.

[2021-12-13 20:15] jnastaskin commented on #9293
Hi @akshbhu,
Sure thing!  Sending over now, thank you!

[2021-12-13 20:27] #9218 closed

[2021-12-13 20:47] jhockett commented on #9225
@vikaskgahlawat if you're using CI/CD through Amplify Console, you can pin the CLI version to match what you are using locally in the settings.

[2021-12-13 20:53] danielleadams commented on #9298
Hi @kevcle - a few questions:

1. You mentioned you made some changes to the User Pool - is this the same User Pool as the app you created? Could you undo those until we get a successful push?
2. Does `amplify push api` pass?
3. Can you attach the schema that is generated by you under `amplify/backend/api/<appname>/schema.graphql`?

Thank you.

[2021-12-13 21:27] sundersc commented on #9220
@n0rb - I've tested v2 transformer through AppSync console, it seems to be working as expected. I'm going to try in mock api. Are you sure that the consecutive calls are not using the same user session?

[2021-12-13 21:38] akshbhu commented on #9240
Hi @dbeck121

For now you can use v1 transformer for this usecase.

[2021-12-13 21:38] sundersc commented on #9145
@irakli-g Did you get this working by matching the primary key fields on `belongsTo` relational directive?

[2021-12-13 21:57] marcvberg commented on #8937
Hi @frankdevsx,

You mentioned you changed `CognitoActions.js` to inclde AdminCreateUser, can you share what changes you made to support that?

[2021-12-13 22:00] Straubulous commented on #9099
The original issue of 30 seconds is addressed. Please open a new issue for additional perf improvements.

[2021-12-13 22:00] #9099 closed

[2021-12-13 22:03] danielleadams commented on #9204
@ataravati can provide your `cli.json` file? Your project configuration will affect how `@auth` works. I am particularly interested in the `features.graphqltransformer.useexperimentalpipelinedtransformer` and `features.graphqltransformer.transformerversion` keys. Thank you.

[2021-12-13 22:03] josefaidt commented on #9266
Hey @jsepia I'm glad to hear you're up and running with `npx`! To clarify, did you previously have the CLI installed via curl on your machine?

[2021-12-13 22:15] marcvberg commented on #8937
I'll add this: `cognitoActions.js` is not the only file you'll need to edit, there are routing statements in `app.js` that will need to be updated so you can then map the request to the function it sounds like you added to `cognitoActions.js`

Afterward you do not need to `amplify update auth`, you just need to `amplify push` and it will update the lambda function backing the AdminQueries

[2021-12-13 22:19] pnedelko commented on #8111
Waiting for the fix 🤞

[2021-12-13 23:12] cjihrig commented on #2081
I'm going to close this as it has been implemented in a few ways (by default in v2 of the transformer, via the `improvepluralization` feature flag in v1, and manual override as described in the previous comment).

[2021-12-13 23:12] #2081 closed

[2021-12-13 23:21] cjihrig commented on #4167
Closing as resolved. v2 of the GraphQL transformer uses improved pluralization by default, and v1 has an `improvepluralization` feature flag.

[2021-12-13 23:21] #4167 closed

[2021-12-13 23:25] cjihrig commented on #4771
@renebrandel I think this should be transferred to codegen.

[2021-12-13 23:31] n0rb commented on #9220
@sundersc I refreshed the mock page if thats what you mean and changed the User Token via the "Update Auth" Button and "Generate Token". I didn't test further in the cloud/AppSync because of the issue. So it could be a mock problem if it works for you on AppSync

[2021-12-13 23:52] josefaidt opened #9305 "PostConfirmation Trigger unable to add user to group, missing `cognito-idp:GetGroup` permission on attached auth resource"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-13 23:58] josefaidt commented on #9270
Hey @julienlaurent-migso thank you for the detailed clarification! Taking a further look into this.

[2021-12-13 23:59] sansavision commented on #9136
@josefaidt thank you

[2021-12-14 00:11] ammarkarachi commented on #9305
fix #7673

[2021-12-14 01:43] hackrx commented on #9284
Hey @lazpavel , now I am not facing this issue, not sure what was wrong, but I think, I removed entries of custom resolvers from `CustomResources.json` file, and after that, it worked, also I renamed my custom resolvers, according to the new syntax.
Thanks for the follow-up.

[2021-12-14 01:43] #9284 closed

[2021-12-14 02:28] sundersc commented on #9220
Thanks for reporting this issue. I can confirm that this is a bug with the mock api functionality. We will look into this.

[2021-12-14 02:48] hackrx commented on #9305
I also faced this issue, but I fixed it, by manually adding an inline policy to the post-confirmation role.

[2021-12-14 03:05] jhockett commented on #9260
@schorfi thanks for reporting the the issues!

I'll look into improving the exported type to be more accurate here. As a temporary workaround, you can replace the imported type with something less strict and then `resources.restApi.description = {"Fn::Join": ["", ["API Gateway for foo bar used in env", {"Ref": "env"}, "\n"]]};` should work

[code]

Do you have an older version of Amplify CLI pinne

[2021-12-14 03:12] jhockett commented on #9260
@danielhstahl I have a fix in the works for addressing the parameter issue to make this a better developer experience. As a workaround, you can assign the desired parameter value to the default value. Since it's Typescript, you can dynamically set the default value however you like.

[2021-12-14 03:14] jhockett commented on #9260
Hi @mitchconquer this issue has a fix that's been merged, but not yet released. See [issue 9142](https://github.com/aws-amplify/amplify-cli/issues/9142) for more info.

[2021-12-14 03:24] matwerber1 commented on #9299
Hi @akshbhu,

Sorry, I missed that in the docs. The typescript method is definitely new since the last time I looked at Amplify.

I haven't tested, but its clear that's exactly what I'm looking for (and much nicer than the old way of editing the CloudFormation JSON).

Thanks for sharing, will close.

[2021-12-14 03:24] #9299 closed

[2021-12-14 04:02] ErickGHo commented on #9239
@akshbhu Is anyone working on this? Looking to contribute to Amplify-CLI, but don't want to reduplicate efforts.

[2021-12-14 04:24] stephen-optisol commented on #9302
@danielleadams there is no change, while I run the amplify pull command. The env is created locally and I try to push it to the cloud, the changes are not pushed to the cloud because of the cloudformation env mapping error

[2021-12-14 04:43] dbeck121 commented on #9240
@akshbhu that is good to hear. But what about the future. I do not want to come to a situation where I can't update my app anymore. Its there any plan to solve this or a workaround?

[2021-12-14 05:50] hackrx opened #9307 "How to allow users to login using preferred_username through CLI?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-14 06:03] jsepia commented on #9266
Yeah, I'm looking forward to learning Amplify. I didn't previously have the Amplify CLI installed, it was a fresh OS.

[2021-12-14 06:08] irakli-g commented on #9145
@sundersc sorry I did not have a chance to test it. Could you please write a small schema example of how it should be handled properly and I'll give it a try right away? Thanks.

[2021-12-14 08:44] hackrx opened #9308 "ownerField is not working as expected for auth directive, need to update userID instead of username as default"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-14 09:15] jaga810 commented on #9268
@lazpavel
I found another reproduction step.
If you modify `schema.graphql` during `$ amplify mock api`, resolvers in `amplify/backend/api/{API NAME}/resolvers/` remain after exiting `$ amplify mock api`.

And I wonder if it is expected behavior that `$ amplify mock api` export resolvers in `amplify/backend/api/{API NAME}/resolvers/` not in `amplify/backend/api/{API NAME}/build/resolvers/`.

[2021-12-14 10:08] prafullatandel commented on #9200
Hi @marcvberg
We are having same issue, after using "amplify Migrate api"  the schema.graphql gets migrated to V2  But upon using amplify push we to get the same error. **Data source with name NONE_DS already exists**

"CREATE_FAILED      GraphQLAPINONEDS95A13CF0            AWS::AppSync::DataSource    Tue Dec 14 2021 08:51:02 GMT+0000 (Coordinated Universal Time) **Data source with name NONE_DS al

[2021-12-14 10:55] IkKan commented on #2379
+1

[2021-12-14 11:21] stam opened #9309 "amplify commands take 10+ seconds even for local commands"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-14 12:53] sergiorodriguez82 commented on #6314
I think this should be priority, taking into account last week service outage in the us-east-01 region.

[2021-12-14 13:09] likeconan commented on #4853
Any updates on this feature?

[2021-12-14 13:10] PatrykMilewski commented on #6314
this issue will be coming alive each time one of main regions is down

[2021-12-14 15:14] josefaidt commented on #9305
Closing as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7582

[2021-12-14 15:14] #9305 closed

[2021-12-14 15:40] josefaidt commented on #9270
Hey @julienlaurent-migso are you using a Cognito Authorizer for your REST API or did you restrict access to users of a group via the CLI? I noticed this line which notes restricting to groups

Was this added in the API Gateway Console manually? May you share the setup of your Cognito Authorizer if in use?

[2021-12-14 15:59] jk171505 commented on #9206
Any updates on this?

[2021-12-14 16:00] schorfi commented on #9260
@jhockett thank you for giving some hints; your comment about a locked amplify version was not pointing the issue but making me to revisit the stuff; and I found some non-committed files in the backend which must have been appeared due to the override and/or amplify upgrade - sorry for being misleading; the backend seems to be built with the overrides now

[2021-12-14 16:17] josefaidt commented on #8877
Hey @vineethbhargavan :wave: I'm currently looking into this. To clarify, what version of the Amplify CLI is being used locally and in the console? By default the console uses the latest version of the CLI, for reference. May you also paste the contents of the `amplify/cli.json` file?

[2021-12-14 16:21] loganpowell commented on #8471
I just updated to the latest CLI and now I'm getting this when I try to run any command:

[code]

I believe it may be an issue that is related to [recommended `.gitignore` settings](https://github.com/aws-amplify/amplify-cli/issues/4700#issuecomment-655650523) containing `amplify-meta.json`.

Any tips?

[2021-12-14 16:24] Mr0cket commented on #8347
@renebrandel Where can I find the documentation for the feature flags in the `cli.json` config file?

[2021-12-14 16:28] josefaidt commented on #8877
May you also share your schema.graphql file? Just the Activity model snippet with auth rules should suffice.

[2021-12-14 16:32] lazpavel commented on #9307
Hi @hackrx, you can set the `forceAliasAttributes` flag in the `amplify/cli.json` to true. See more details [here](https://docs.amplify.aws/cli/migration/cli-auth-signup-changes/)

[2021-12-14 16:46] akshbhu commented on #8962
Hi @FTraian @OskarD

Can you try updating auth with latest version of amplify and check if its working ?

[2021-12-14 16:54] hackrx commented on #9309
and you can't imagine how much amplify push can take to complete, in my case, it literally takes more than 10-15 mins 😥

[2021-12-14 16:58] lazpavel commented on #9268
Hi @jaga810, thank you for providing reproduction steps. Currently when mock api exits it only removes the templates that are the same as the ones in the `build` directory in order to keep the custom ones. I believe there is room for a better DX here. Marking it as a `feature-request`.

[2021-12-14 17:49] danielleadams commented on #9302
@stephen-optisol thanks. Would you mind sending your `amplify` directory  to amplify-cli@amazon.com so that we can help debug your issue?

[2021-12-14 18:00] stephen-optisol commented on #9302
@danielleadams sure, i will share it. Thanks for your help.

[2021-12-14 18:10] cjihrig commented on #9300
@markus-sell if you run `amplify version` outside of a project directory, does it work?

[2021-12-14 18:20] cculler-bioskryb commented on #9309
I am also experiencing this issue.

[2021-12-14 18:29] danielleadams commented on #9309
Thanks for the feedback and apologies for this experience. This is something we are actively investigating and looking to improve. I'll keep this Issue open to provide the status of improvements.

[2021-12-14 18:55] hackrx commented on #9307
Hey @lazpavel, thanks for the follow-up, by following the link, I am able to set `preferred_username` as `aliasAttribute`, but now I can't use google as third provider for login/sign-up:

[code]

[2021-12-14 19:35] stephen-optisol commented on #9302
@danielleadams I have forwarded the amplify folder to the email.

[2021-12-14 19:42] hackrx commented on #9307
Now, it is fine in console, it enabled both options, which I  was expecting:
![image](https://user-images.githubusercontent.com/54453778/146067556-f5ccdb5c-632a-4aed-a222-81e4f8cc8791.png)

But I also want to allow users to sign-in/sign-up using google auth, but cli is not allowing:
[code]

[2021-12-14 20:06] danielleadams commented on #9261
Hello, the behavior you are describing is supported by using the `@auth` and `@hasMany` directives. Using the secondary owner fields to grant access to records seems to solve what you are describing because it scopes access to what has been specified by the record (ie. to `editors` and `viewers`), regardless of relation to other records.

Can you be more specific in exactly what you are asking? Th

[2021-12-14 20:07] danielleadams commented on #9302
Hi @stephen-optisol - can you try sending it again? It has not worked the first time. Do you have a file sharing link that you can provide?

[2021-12-14 20:16] maziarzamani commented on #9261
So what I was looking for here was applying the same permissions from `Computer` on to `ComputerConfiguration`, I do understand that I can access the `ComputerConfiguration` records from the `Computer` and that way utilize the permissions from the parent.

But instead  lets assumes that someone in  `editors` would want to list all `ComputerConfiguration` he/she has access, how can this be done?

[2021-12-14 20:25] maziarzamani commented on #9261
Hi again @danielleadams. I actually made a typo in the GraphQL schema, which has been corrected. `editors` in `ComputerConfiguration` have `create`.

[2021-12-14 20:39] jhockett commented on #9172
@daniellorenzin sorry I missed your reply until now. The migration is expecting your api definition in `api-params.json`, that's why the migration failed. There's been an improvement to the error handling here that's been merged, but not yet released. If you're blocked, can you open a new issue so we can track it?

@lseemann a fix for this issue has been released.

[2021-12-14 20:39] #9172 closed

[2021-12-14 20:42] jhockett commented on #9205
Closing this issue as it appears to be resolved. Please comment below if you're still running into this issue.

[2021-12-14 21:00] alexhouse commented on #9292
Hmm.
In my attempt to provide a simple table to reproduce the issue I messed up. I've edited the OP with the correct schemas.

I've just noticed that the `byUser` key is currently labelled as a local secondary instead of a global secondary within DynamoDB... that may well be the cause of the errors. I have a feeling that the only way of making a local key global is to fully recreate the table, rig

[2021-12-14 21:28] danielhstahl commented on #9260
@jhockett I see how I can add parameters using addCfnParameter, but not sure how to set the parameter.  When I try to use Fn.getAttr (https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_core.Fn.html) I get a permissions issue for trying load a node module into the overrides.ts.

[2021-12-14 21:41] jhockett commented on #9260
@danielhstahl overrides are executed in a limited sandbox environment. Unfortunately, this means the cdk won't load properly. In the new year, I hope to look into how we can export the intrinsic functions from the cdk to provide a better developer experience.

As a workaround, you can use CloudFormation syntax. This is an example I have for using `Fn.join`:
[code]

[2021-12-14 21:54] josefaidt commented on #8479
Closing due to inactivity

[2021-12-14 21:54] #8479 closed

[2021-12-14 21:56] josefaidt commented on #8154
Hey @Lorenzohidalgo :wave: are you still experiencing this issue?

[2021-12-14 21:59] josefaidt commented on #7932
Closing due to inactivity. @gakinson if you are still experiencing this issue with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.6.3) please reply back to this thread and we can re-open to investigate further 🙂

[2021-12-14 21:59] #7932 closed

[2021-12-14 22:11] jhockett commented on #9221
Hi @csilvacaio, I have a fix in progress, but I don't know when it will be released.

As a workaround, you can assign the intrinsic function to default:
[code]

[2021-12-14 22:32] danielleadams commented on #9308
@hackrx just so I'm clear on the question - are you trying to replace the `owner` field with the User's ID (that is not the username)? If so, I think what you are looking for is `identityClaim` field for the auth rule. You can add `allow: owner, identityClaim: "sub"` as a rule. Identity claim will be the user field that is grabbed from the JWT token, and "sub" is the unique uuid that a User Pool u

[2021-12-14 22:44] vineethbhargavan commented on #8877
Hi @josefaidt ..thanks for looking into it. Below are the details requested.
- the amplify build is using the latest - 7.5.5.
Cli.json.
`{
  "features": {
    "graphqltransformer": {
      "addmissingownerfields": false,
      "improvepluralization": false,
      "validatetypenamereservedwords": true,
      "useexperimentalpipelinedtransformer": false,
      "enableiterativegsiupdates": true,

[2021-12-14 22:47] vineethbhargavan commented on #8877
Hi @josefaidt

The amplify version is the default - latest - which i think is 7.5.5

Am attaching the cli.json and the activity model.
`
{
  "features": {
    "graphqltransformer": {
      "addmissingownerfields": false,
      "improvepluralization": false,
      "validatetypenamereservedwords": true,
      "useexperimentalpipelinedtransformer": false,
      "enableiterativegsiupdates": true,

[2021-12-14 22:55] danielhstahl commented on #9260
@jhockett That works for you?  I'm getting "Every default member must be a string", as discussed here: https://stackoverflow.com/questions/29152713/malformed-input-template-format-error-every-default-member-must-be-a-string-cl

[2021-12-14 22:56] chrisbonifacio commented on #9313
Hi @jsgphd 👋 I wasn't able to reproduce this on the latest version of the CLI (7.6.3) but I'll transfer this over to the CLI repo for better support. Thanks for raising this issue!

[2021-12-14 23:01] csilvacaio commented on #9221
Thanks for the workaround @jhockett .
I remember that I tried something similar to that but it didn't work. I will try again now based in your example.

[2021-12-14 23:02] jhockett commented on #9221
@csilvacaio my mistake, that doesn't actually work. You cannot set the default value to an intrinsic function.

[2021-12-14 23:03] jhockett commented on #9260
@danielhstahl my mistake, you are correct. Default values cannot be set to intrinsic functions like I thought.

[2021-12-14 23:04] josefaidt commented on #9313
Hey @jsgphd :wave: are you also experiencing this with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.6.3)?

[2021-12-14 23:11] josefaidt commented on #7388
Hey @bmvdeveloper and @yannikw23 :wave: I was able to reproduce this issue with the help of @chrisbonifacio using the latest version of the CLI (7.6.3) and the following steps:

1. create a new project with `amplify init -y`
2. add auth with `amplify add auth`
	1. add a social provider like Facebook, enter some ID/secret
3. push with `amplify push -y`
4. update the auth resource with new social pr

[2021-12-15 01:55] attilah commented on #9061
@raphkim don't know how that url was written to your file, but the fix will work for that use case as well.

[2021-12-15 02:11] stephen-optisol commented on #9302
I have shared it again with file url.

[2021-12-15 03:32] oste opened #9315 "serverless-export-env functionality"
### Is this feature request related to a new or existing Amplify category?

auth, storage, function, api, predictions, xr

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I was hoping to be able to export environment variables in a similar fashion as to how [serverless-export-env](https://www.npmjs.com/package/serverless-export-env) works

##

[2021-12-15 04:17] sundersc commented on #9145
@irakli-g - We can do something like this. `StudentCourse`'s primary key is `id` (PK) + `studentId` (SK). So belongsTo must specify two fields to establish a successful relationship `studentCourseId` and `studentId`.

[code]

[2021-12-15 05:15] ahiratan commented on #9063
I could get backend setting using `require` command in `override.ts` like this:

[code]

Could this be a work around solution?

[2021-12-15 10:25] hackrx commented on #9308
Thanks @danielleadams, it worked 😃 .
[code]
This [reference](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html) is really helpful.

[2021-12-15 10:25] #9308 closed

[2021-12-15 12:19] jk171505 opened #9316 "Change sign-in options for existing project"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
auth

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
7.6.3

**What AWS Services are you utilizing?**
Cognito, S3, SES, SNS

**Provide additional details e.g. code snippets**
I have an existing project and would li

[2021-12-15 13:37] PeteDuncanson opened #9317 "Cannot delete an environment, throwing errors about v2 scheme transformers but I'm running v1?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-15 14:16] jsgphd commented on #9313
Same issue.  I just upgraded to v7.6.3, removed my aws-config.js (just to be sure it was recreated), and did a amplify pull.  It recreated the aws-config with the aws_cognito_social_providers having ONLY the google and is still missing the other social providers.

[2021-12-15 14:17] oookoook opened #9318 "S3 Override - accessing CF parameters or project resource ARNs"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Storage override

**Amplify CLI Version**

7.6.3

**What AWS Services are you utilizing?**

S3

**Provide additional details e.g. code snippets**

Hello,

Is it possible to access parameters passed to the CF template when writing custom overrides? I need a solut

[2021-12-15 15:01] PeteDuncanson commented on #9317
Can't clone an environment either now
![image](https://user-images.githubusercontent.com/1674590/146210462-542c5756-b783-4861-9d65-46f90a2ac234.png)

[2021-12-15 15:42] josefaidt commented on #9313
Thanks for trying that out @jsgphd ! Can you verify that walking through `amplify update auth` > `Update OAuth Social Providers` shows the correct social providers enabled?

[2021-12-15 15:55] jsgphd commented on #9313
![amplify-auth](https://user-images.githubusercontent.com/11813224/146219318-35188ca5-6cac-48e0-a867-6de364f26dee.png)

I first show the version and then show the amplify update auth settings.

The aws-config.js shows:

   "oauth": {
        "domain": "mwirewww-live.auth.us-east-1.amazoncognito.com",
        "scope": [
            "phone",
            "email",
            "openid",
            "pr

[2021-12-15 16:03] yanislavtankov commented on #1880
@UnicornAccount  this is simple and clear. Just wandering why Amplify docs have not included it?

[2021-12-15 16:05] loganpowell commented on #8471
@josefaidt thank you for attending to this, but now that it's been labeled as a `feature-request`, does that mean we shouldn't expect it to be fixed in the near term? Do you have any ideas what I may be doing wrong on my end?

[2021-12-15 16:27] josefaidt commented on #9317
Hey @PeteDuncanson :wave: thanks for raising this! Taking a look at this

[2021-12-15 16:48] josefaidt commented on #8471
Hey @loganpowell :wave: this is labeled as a feature request to improve the error messages we receive when we run into something like this. In the mean time, if you are missing the `amplify/cli.json` file

[2021-12-15 17:03] loganpowell commented on #8471
Hey @josefaidt! Thanks for the tips. I actually just deleted the entire repo from my local machine (after the global install of the new CLI) and re cloned it. I then ran the `amplify pull --appId <appid> --envName <env>` command and now it works!

[2021-12-15 17:05] josefaidt commented on #8471
Ahh glad to here you're back up and running!

What sort of issues are you seeing?

[2021-12-15 17:06] loganpowell commented on #8471
Just the titular error: `'jsonString' argument missing or empty`

[2021-12-15 19:02] loganpowell opened #9322 "`Parameters: [secretsPathAmplifyAppId] must have values`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-15 19:07] josefaidt commented on #8877
Hey @vineethbhargavan thank you for providing that information! Seeing this line in your `cli.json`

[code]

Tells me we're using the GraphQL Transformer v1, which is also confirmed when seeing the older directives `@key` and `@connection`. If we run `amplify api gql-compile`, we can see in the built schema located at `amplify/backend/api/<resource-name>/build/schema.graphql` it will include those

[2021-12-15 19:44] lazpavel commented on #9307
Hi @hackrx, you're not allowed to select the social providers because you selected `Preferred Username` for the  `What attributes are required for signing up?`. You should be able to use any social providers with the preferred_username as long as you select required signing attributes that are supported for the provider.

[2021-12-15 20:59] akshbhu commented on #9318
Hi @oookoook

Based on old CFN template :
[code]

If this parameter is present in the CFN , you can directly Ref this in the override.ts file. It should look like this:
[code]

Keep in mind this piece keeps the old settings of triggers intact and add the additional lambda config. If you want to remove the previous config , you can try this:
[code]

let me know if this works for you?

[2021-12-16 00:13] stephen-optisol commented on #9302
@danielleadams did you received the code

[2021-12-16 01:25] danielleadams commented on #9302
@stephen-optisol Yep! Thanks for sending it over. We are looking at it and will keep you posted.

[2021-12-16 02:18] amirhajimirsadeghi opened #9326 "Can no longer access custom resources inside of amplify generated resources with version 7.6.3"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-16 06:06] sundersc commented on #9200
Hi @prafullatandel - Can you post your schema so that we can try to reproduce it on our end? Also, let us know the cli version.

[2021-12-16 06:44] hackrx commented on #9307
I can set it using the console, but not using cli:
![image](https://user-images.githubusercontent.com/54453778/146170617-4fe00d50-7309-4bdb-a9ba-11c4c06db424.png)

The issue with this is, if next time, I will update anything, then it will remove the google federation from the respective pool.

[2021-12-16 07:35] eettaa commented on #9116
@jhockett Great, thank you! Please do let me know what they say as this is blocking our (mult-dev) org from adopting amplify environments.
The thought crossed my mind that perhaps amplify was deleting files but not the directories (leading to misleading `ls` results), but I verified that this also isn't the case- it does indeed seem like `amplify env pull --restore` is truly not cleaning the `back

[2021-12-16 08:18] joekendal commented on #4853
+1

[2021-12-16 08:50] maxludovicohofer commented on #9121
I tries setting `ASIAVJKIAM-AuthRole` as AccessKeyId. Now the error it returns is `{"errorType":"UnrecognizedClientException","message":"The security token included in the request is invalid."}`

[2021-12-16 09:08] hanachan1026 commented on #4577
+1

[2021-12-16 09:42] Lorenzohidalgo commented on #8154
Hey @josefaidt I'll have to test this out with the last CLI version. I'm currently blocked to do new pushes by the forced migration and trying to figure out how to test the migration process. (Cloning the environment fails via cli and ui)

[2021-12-16 09:43] julienlaurent-migso opened #9327 "On local dev : Uncaught ReferenceError: process is not defined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-12-16 14:03] oookoook commented on #9318
Hello, @akshbhu thanks a lot! What I was missing was the cast of the current configuration - `resources.s3Bucket.notificationConfiguration as s3.CfnBucket.NotificationConfigurationProperty` - it never occurred to me that I can do that.. I've tried it right now and it seems to work as expected and it solved my problem.

Thanks for your help!

[2021-12-16 14:03] #9318 closed

[2021-12-16 14:50] AndreasEK commented on #2187
With the new override feature with amplify 7.0.0 and later, even the possibility to extend the template manually is gone, is that correct? Or how could I bring back the custom invitation messages?

[2021-12-16 15:21] josefaidt commented on #9313
Thanks @jsgphd for clarifying! Can you verify the contents of `amplify/backend/auth/<resource-name>/cli-inputs.json` has the following:

[code]

This should also be shown in the `build/parameters.json` file.

May you also verify whether running `amplify env checkout <current-env-name>` updates the aws-exports.js file as expected?

[2021-12-16 15:22] josefaidt commented on #8154
Hey @Lorenzohidalgo, are you able to add a new environment with the CLI and push?

[2021-12-16 15:24] josefaidt commented on #8471
Hey @loganpowell thanks for confirming. Does the `'jsonString'...` error your seeing now have the same stack trace? Are you seeing the `amplify/backend/amplify-meta.json` file in your project?

[2021-12-16 15:45] loganpowell commented on #8471
Hi @josefaidt. Thank you for being so courteous. I don't get the same `jsonString` error since I deleted the repo and recloned, but now I am getting a new error when I try to `amplify push`.

I've submitted another [issue](https://github.com/aws-amplify/amplify-cli/issues/9322) for that though...

[2021-12-16 16:00] lazpavel commented on #9316
Hi @jk171505, you should be able to use `amplify update auth`. There are some configurations that cannot be updated after the auth resource is created like signup attributes. Let us know if this solves your use case.

[2021-12-16 16:14] jk171505 commented on #9316
It doesn't. I can live with current sign-up attributes, but I would like to change sign-in options- by adding additional one, I.e. email.
Looks like none of available auth types gives the ability to update the sign-in options unless I'm missing something...

[2021-12-16 16:18] alex-vladut opened #9328 "Dynamic Group Authorization with custom claim list of groups problem in GraphQL Transformer v2"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN