[2018-10-02 16:53] yuth commented on #233
Could you please clarify the following
- What entries are added to `.gitignore`?
- What commands  did you run after cloning your project?
- Are there specific errors that you get?

[2018-10-02 17:01] yuth commented on #243
If you want to update the graphql schema, you can edit `amplify/backend/api/schema.graphql` and run `amplify api push` command. This should update the DynamoDB tables and graphql statements.

Please fell free to re-open the issue if you're still facing problems when updating the schema or need more clarification.

[2018-10-02 17:05] OskarKaminski commented on #243
As you can see in my reproduction steps, I do it. And it doesn't work.

I inspected the code and noticed, that probably **compile schema** from *amplify-provider-cloudformation/lib/utility-functions.js* would do the trick with compliling graphQL schema.

I've also found out, **compile schema** method should be runned when I run `amplify api configure` command. So I did it, and I got an error:

[co

[2018-10-02 17:06] OskarKaminski commented on #243
@yuth I can't reopen the issue...

[2018-10-02 17:07] kaustavghosh06 commented on #243
You can try using the ‘amplify api gql-compile’ command?

[2018-10-02 17:08] OskarKaminski commented on #243
@kaustavghosh06 I've tried `amplify api gql-compile` as well. It doesn't do anything. No output in the terminal. Also no change in the files.

[2018-10-02 17:27] OskarKaminski commented on #243
The issue lays in the
*amplify-category-api/provider-utils/awscloudformation/service-walkthroughs/appSync-walktrough.js*
In the 208 line the conditional statement `resource.provider !== providerName` is `true`.
`providerName` has value `awscloudformation`, while `resource.provider` has value `squadhealthcheck` which is the name of my app.
Any ideas why?

[2018-10-02 17:33] pigmanbear opened #244 "Only deploy build to S3 hosting bucket"
**Is your feature request related to a problem? Please describe.**
The ability to only push changes to deployment bucket. Often times, the only thing changing is the React project and I do not need to do anything more than sync the local build folder with the hosting bucket without all of the ```amplify publish``` ceremony

**Describe the solution you'd like**
As part of the toolchain, perhaps ```

[2018-10-02 17:41] kaustavghosh06 commented on #243
@OskarKaminski  I've root caused the issue. Sending a fix for it ASAP (within the next few hours). in the meanwhile to unblock yourself you could use the CLI version 0.1.24 to compile your schema.

[2018-10-02 17:42] OskarKaminski commented on #243
Thanks a lot @kaustavghosh06

[2018-10-02 18:07] #243 closed

[2018-10-02 18:44] kaustavghosh06 commented on #243
@OskarKaminski  Just published the fix to NPM. Please install the latest version -> 0.1.27

[2018-10-02 18:48] wyjiao opened #247 "Use amplify codegen without setting up amplify project"
**Is your feature request related to a problem? Please describe.**
We have an AppSync project with an AppSync schema set up. We want to use the 'codegen' feature to generate API code or type annotations based on a GraphQL schema and query documents. However, in order to use that, the Amplify CLI requires to set up an Amplify project, which sets up the infrastructure of deploymentBucket, cloudforma

[2018-10-02 20:08] WilcoFiers commented on #217
Was trying the same admin rule thing @dennyferra tried. Can't really see a good reason why that wouldn't be the way it worked. Would be nice if it did.

[2018-10-02 20:31] brianhilst commented on #128
@swaminator Is there a workaround for this either official or not? We're trying to decide whether to go with Amplify or not on a new project.

[2018-10-02 20:44] hisham opened #248 "Adding @auth with rules but without [] silently does not do anything"
Was trying to add @auth to one of my models and ended up doing the following:

`@auth(rules: {allow: owner})`

Running gql-compile showed everything went successfully when in fact the resolvers were not updated appropriately to enforce the auth rule.

After investigation and re-reading the documentation, all I had to do was add [] as your documentation states like this:

`@auth(rules: [{allow: own

[2018-10-02 20:47] OskarKaminski commented on #243
Thanks @kaustavghosh06. The fix solved the issue. `amplify api gql-compile` compiles the schema, and print out the info to the console. I guess `amplify api push` will compile now as well.
Great job!

[2018-10-02 20:59] yuth commented on #247
We will investigate how best we can support codegen without setting up the amplify project.

How ever in the mean time you could try using  [amplify-graphql-docs-generator](https://www.npmjs.com/package/amplify-graphql-docs-generator) for generating statements and [aws-appsync-codegen](https://www.npmjs.com/package/aws-appsync-codegen) for generation of types . Both these packages have cli interfa

[2018-10-02 20:59] hisham commented on #56
fyi, just to add a vote, I'm also running into this, exact same scenario as https://github.com/aws-amplify/amplify-cli/issues/134. Storing users and so it seems to make sense that id of users should be cognito sub. Also the appsync client demos such as https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular (written by @onlybakam) do this so it's confusing to see an aws app demo doi

[2018-10-02 21:17] wyjiao commented on #247
Hi @yuth,

We tried using aws-appsync-codegen but it has an error for generating types for 'AWSDateTime'. We had a thread there and get the suggestion to request a feature here:
https://github.com/awslabs/aws-appsync-codegen/issues/17

[2018-10-02 21:53] elorzafe commented on #239
@jeanpaulcozzatti Did you change update node after creating the project?

[2018-10-02 22:01] elorzafe commented on #239
That happened to me and after running `amplify configure project` and confirmed default values the problem was solved.

[2018-10-02 22:50] rygo6 commented on #128
TBH, I would not use amplify on a major project yet. Lots of potential. But needs some more development. If it's a smaller project where you can deal with something more expirimental, and not everything needs to be perfect. Probably would be good, then you can give them some feedback. Tons of great ideas and great direction, but needs more development.

[2018-10-02 23:07] sambomcd commented on #241
Understood @mlabieniec thank you. Different architectures aside, I would make the observation that every single piece of documentation for AWS Mobile CLI I have come across, such as [here](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/aws-mobile-cli-reference.html), [here](https://github.com/aws/awsmobile-cli) and [here](https://www.npmjs.com/package/awsmobile-cli) are all prefaced

[2018-10-03 01:32] cadejscroggins commented on #235
@rayhaanq you need to update the authentication type in your UI as well. Like this:

[code]

@mikeparisstuff once IAM auth is set up, how do you actually configure permissions for the use case mentioned above? I have this:

[code]

It'd be nice to be able to write a rule that looks something like this:

[code]

Thoughts?

[2018-10-03 13:28] ozten opened #250 "amplify init TypeError: Cannot read property 'value' of undefined"
**Describe the bug**
After a new install of aws-amplify in an empty project, running `amplify init` correctly lists editor options, but then the list of "types of apps" to create is empty. Pressing enter results in a JS error.

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install @aws-amplify/cli`
2. Go to CLI and enter `./node_modules/.bin/amplify init`
3. Press enter to pick the fir

[2018-10-03 14:05] Jeyloh opened #813 "Documentation mismatch with functionality. Regarding "pull from console""
** Which Category is your question related to? **

Amplify-CLI in general. Regarding editing in Console and pushing from CLI later. The specific question is related to: https://aws-amplify.github.io/amplify-js/media/api_guide#customization

** What AWS Services are you utilizing? **

All except Chatbots. This is directly related to Cloud-API: Lambda and API Gateway.

** Provide additional details

[2018-10-03 15:32] mzuniga84 opened #251 "Looks very promising. Flutter/Dart support needed"
Would love to see support for other lambda runtimes as well as code generation for flutter/dart

[2018-10-03 16:25] wmcbain opened #252 "Compiled GraphQL does not appear to valid and amplify api push fails."
**Describe the bug**
I have defined the following in `amplify/backend/api/{name of api}/schema.graphql`:

[code]

Which compiles to the following with `amplify api gql-compile`:

[code]

You notice that `CreateInventoryInput` doesn't have any attributes, which appears to cause this to fail when attempting `amplify api push`.

**To Reproduce**
Steps to reproduce the behavior:
1. With the following

[2018-10-03 16:38] wmcbain commented on #252
This actually appears to be my error, proper schema below:

[code]

Wasn't immediately clear that `Inventory` needed a field outside of id to create the input type.

[2018-10-03 16:38] #252 closed

[2018-10-03 16:45] rayhaanq commented on #235
@cadejscroggins I tried the snippet above. Now I get a 401 with a `Permission denied`. This is whether the user is logged in or logged out.

[2018-10-03 16:49] yuth commented on #250
@ozten Could you install amplify-cli globally by running `npm install -g  @aws-amplify/cli` for time being.

We will have a fix for this in a bit

[2018-10-03 16:51] cadejscroggins commented on #235
@rayhaanq ah, you need to give your auth/unauth IAM roles appropriate permissions. The `AWSAppSyncInvokeFullAccess` policy works for me.

[2018-10-03 16:51] rayhaanq commented on #235
@cadejscroggins even for the unuath role?

[2018-10-03 16:52] cadejscroggins commented on #235
@rayhaanq If you want to allow unauthenticated api calls, yes.

[2018-10-03 16:53] rayhaanq commented on #235
@cadejscroggins ah wicked. Is it still possible to apply fine grained access control using the `@auth` directive?

[2018-10-03 16:57] cadejscroggins commented on #235
@rayhaanq for authenticated users it's pretty easy as you can add users to groups and give them specific permissions in `@auth`, but, as I mentioned above, I haven't figured out how to give unauthenticated users specific permissions.

[2018-10-03 23:40] mriccid commented on #233
The discussion here is helpful: https://github.com/aws-amplify/amplify-cli/issues/104

I was able to clone an existing project and get it working by doing the following:

1. Run `amplify configure project`. This will fix the paths in `amplify/.config/project-config` (although I did have to fix an absolute path for the  `frontendHandler.javascript` manually, not sure why this wasn't fixed by `confi

[2018-10-03 23:56] kaustavghosh06 commented on #233
@mriccid Were you able to publish to a different AWS account? or was it the same AWS backend?

[2018-10-04 03:53] mriccid commented on #233
@kaustavghosh06 this was publishing to the same AWS account, using the resources already defined in config files that had been committed. Another developer had published the project from their machine, so the resources existed. The problems seemed to arise only from issuew with `project-config.json`

[2018-10-04 04:06] devinholloway commented on #109
Just got around to trying this out again on a new laptop, so everything is new and freshly installed, and ran into the same error.
I have amplify 0.1.27 installed.

![image](https://user-images.githubusercontent.com/296153/46452345-92475d00-c758-11e8-877d-609d8d317571.png)

[2018-10-04 04:31] CodySwannGT commented on #127
I get that this is a feature, but this is the single-handed reason we're not using Amplify in production.

If there's any sort of good work around, would love to hear it.

[2018-10-04 06:35] TylerKann commented on #13
I am running version 0.1.27

When I do amplify configure it seems to work ok. Then I do amplify init and I get a similar problem where I am not allowed to chose android or ios. Then finally, get init is still having the same problem.

Just wondering if there is a fix as of 10/3

Thanks

[2018-10-04 09:36] jexh opened #2546 "Support for separate GraphQL and Data Layout schemas"
I have tried modelling my application with Amplify but it doesn't currently have an abstraction layer that allows for different GraphQL and Dynamo schemas.

In my project, the data held in the DB does not have a one-to-one relationship with the queries and mutations described in the associated GraphQL schema. Business needs dictate that the GraphQL queries and mutations cannot translate directly o

[2018-10-04 10:31] rajababu3 commented on #242
@amymc
[code]

You can try something like this.

[2018-10-04 11:11] stilvoid opened #256 "Getting started guide results in a public S3 bucket"
**Describe the bug**
Running through [the getting started guide](https://aws-amplify.github.io/amplify-js/media/quick_start) results in an S3 bucket being created for hosting the website. The bucket has public read permissions and so falls short of I'm sure many folks security controls.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy hosting using the Amplify CLI

**Expected behavior*

[2018-10-04 11:16] Gyja commented on #256
Yup. I got the same thing.

Provide the information in the **documentation** around a **Public bucket** as well as in the **CLI** **before** the action is **committed**.

[2018-10-04 15:27] mwarger commented on #233
I was not able to get the project to recognize all my amplify parts.  It recognized the API, and flagged it as an update, without recognizing any of the others (S3, Auth, Hosting).  I made sure that my `project-config.json` was pointing to the correct locations.

[2018-10-04 16:13] darrentarrant opened #257 "How to define my own GraphQL queries or subscriptions?"
Say I have this simple model

[code]

Once i run amplify api push or gql-compile amplify will generate a graphql.schema in the 'amplify/backend/.../build' folder containing queries, mutations and subscriptions to get, create and update these models and to subscribe to changes and creations of them.

But, how do I modify or override what's in the built graphql.schema to do things like:

- Make comp

[2018-10-04 16:15] jaxondu opened #258 "What's the proper workflow for adding lambda trigger to Auth?"
I need to add a post confirmation lambda trigger to Cognito User Pool. "amplify auth add" does not support adding one. So whats the recommended workflow to add one?  Manually edit the CloudFormation script generated by  "amplify auth add". Then "amplify push". But then my changes will be removed when I next run  "amplify auth update". Or add in the lambda trigger at Cognito User Pool console. Will

[2018-10-04 17:44] affablebloke commented on #91
@mikeparisstuff Are you able to elaborate on the details of how many-to-many connections will be modeled in DynamoDB. For example, will it create another GSI or use some form of GSI Overloading? I haven't messed around with amplify-cli in a while, but it seems like creating a GSI for every relationship will hit DynamoDB's limit of five global secondary indexes per table quite fast.

[2018-10-04 17:50] CodySwannGT commented on #128
sign me up - cody@gunnertech.com

[2018-10-04 17:57] CodySwannGT commented on #56
So, keep in mind that AppSync has offline enabled by default.

If offline is enabled, you MUST provide an optimistic response with your mutations.

In order to provide an optimistic response, you must provide the pk locally.

That is the use case we're currently hitting and I think the only way to solve that would be with the #2 proposed solution from @mikeparisstuff

[2018-10-04 18:10] CodySwannGT commented on #38
But.... it has to be ignored because it has machine-specific information in there:

[code]

[2018-10-04 18:42] swaminator commented on #128
Awesome to see the interest! I'm going to get in touch with all of you this week.

[2018-10-04 18:50] haverchuck commented on #258
@jaxondu Amplify CLI does not currently support trigger configuration, so yes - at this time you would run the risk of overwriting configured triggers upon an `auth update`.  I am marking this issue as a feature request, so that we can take a look at adding trigger support.

[2018-10-04 20:28] swaminator commented on #128
@rygo6 would you be open to chatting? Please share your email.

[2018-10-04 23:15] allanhortle opened #261 "`amplify publish` doesn't error out if no files were published."
**Describe the bug**
If the `DistributionDir` doesn't point to a valid folder the publish step logs out exactly the same messages as if it did point to a valid folder.

The only difference is that `✔ Uploading files successful.` happens much faster.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `.amplify/config/project-config.json`
2. Change `DistributionDir` to a broken path
3. run

[2018-10-04 23:31] hisham opened #262 "DynamoDb error when querying an object that is modelled to belong to an optional parent object"
**Describe the bug**
If you create a model without a parent model, then queries on that model will fail. i.e. If you create a post without a parent blog, then the resolver for blog.post will fail instead of returning null.

**To Reproduce**
Let's say I have the following schema:

[code]

And I create a post but without a parent blog. When I do a getPost query, that query will fail when it queries

[2018-10-05 00:08] alphara commented on #128
I'm curious too: artarakcheev@gmail.com

[2018-10-05 00:09] blbradley commented on #140
I read the tutorials and expected this feature to be available when needed. But, it's not.

Any thoughts how this should be approached?

[2018-10-05 00:29] blbradley commented on #140
I'm thinking a parameter on the @model directive would be a nice approach.

[2018-10-05 03:14] hisham opened #263 "Allow option to create dynamo tables with encryption at rest enabled"
**Is your feature request related to a problem? Please describe.**
Tables created by amplify cli appsync api have encryption disabled. This is one of these settings that can only be turned on when tables are created.

**Describe the solution you'd like**
An option in amplify to by default turn on encryption for tables. Why don't you always turn it on anyways? There's no cost to encryption at rest.

[2018-10-05 04:11] stevemao commented on #38
Yes. This piece of information should be separated into a different file.

[2018-10-05 04:38] jaxondu commented on #258
@haverchuck there is another issue at #102 cli auth not able to cater to flow of using email or phone login. This is a stopper as we need this in order to adopt amplify cli, as there is no way to make auth setting changes outside cli.

[2018-10-05 05:13] arvinkx opened #264 "Codegen Error: Syntax Error"
I have an existing api I'm trying to integrate into a new application and I'm running into an issue when trying to run codegen. Specifically the error is: `Syntax Error: Expected Name, found }`. I don't think my schema has any errors as it doesn't complain in the appsync console and I can access it outside this. Is this an issue with the code generation itself or something in my schema?

Full Erro

[2018-10-05 13:27] wadim commented on #38
Wow, this is cutting edge stuff. Does anyone have a functioning `.gitignore` example?

[2018-10-05 15:30] rygo6 commented on #128
sure, email is rygo6@me.com

[2018-10-05 16:16] blbradley commented on #74
I'm afraid this approach will leave users who use amplify-cli in multiple related projects without a way to reference their data sources or DynamoDB tables across projects.

I wonder if `api` should get an `amplify api datasource add/update/delete` flow. Hopefully, one that allows in and out of project resources as data sources.

[2018-10-05 16:57] yuth commented on #264
@arvinkx What version of amplify-cli do you have installed? You get it by running `amplify -v`.

Some thing odd that I see in your schema is that the return type for some of the mutations are `String`, is that intentional? For instance
[code]

When the mutation returns a `Scalar` type you can't use the return value from it
for `  clearVideoVote(authorId: String!, id: ID!): String` your statement w

[2018-10-05 18:38] arvinkx commented on #264
I'm running v0.1.27 - is the reason codegen is having issues because of the use of String return values? It was intentional but if that's the issue it can be changed.

[2018-10-05 18:39] austinamorusocfc opened #266 "union and connection types"
** Which Category is your question related to? **
GraphQL Transformer

** What AWS Services are you utilizing? **
AWS Appsynce GraphQL Transformer

** Provide additional details e.g. code snippets **
Are union connection types covered and how to properly annotate them?

union MediaMetaData = AudioMetaMedia

# Audio File type meta data
type AudioMetaMedia @model @searchable{
    id: ID!
    # Durat

[2018-10-05 18:40] yuth commented on #264
Yes, but I am going update codegen to support this use case. Thanks for reporting it

[2018-10-05 20:44] nicosommi commented on #38
I'm also confused on what should be pushed to version control.
When setting up the auth service I have an entry that looks like sensitive information to be in a repo (not 100% sure)

File: `amplify/#current-cloud-backend/amplify-meta.json`
Entry: "auth.cognitoObjectid343.AppClientSecret"

What is the recommended way to go?

[2018-10-05 20:52] mikeparisstuff commented on #91
@affablebloke I will write up a more detailed design and post it here soon. I have been looking into both a general adjacency list approach as well overloading GSIs to get around the GSI limit issues but this may need to be made configurable because there are pros/cons to the approaches. Do you have any approaches in mind that I have not mentioned?

Thanks for the kind words! I'm glad to hear you

[2018-10-05 21:17] austinamorusocfc commented on #128
Hi I'm super interested in how to accomplish this too.
aamoruso@cfchildren.org

[2018-10-05 21:47] austinamorusocfc commented on #91
@mikeparisstuff this service has been a god send please keep up the good work

[2018-10-05 22:33] austinamorusocfc opened #273 "@versioned questions"
** Which Category is your question related to? **
GraphQL Transformer

** What AWS Services are you utilizing? **
Aws Appsynce GraphQL Transformer

** Provide additional details e.g. code snippets **
What happens with @versioned under the hood? If I'm using the apollo client and I have a fetch policy does the versioned effect any of the settings?

type FetchPolicy =
  | 'cache-first'
  | 'cache-an

[2018-10-05 22:43] austinamorusocfc opened #274 "S3Objects graphql-transformer"
** Which Category is your question related to? **
graphql-transformer

** What AWS Services are you utilizing? **
AWS Appsynce graphql-transformer

** Provide additional details e.g. code snippets **
Whats the magic sauce with S3Object types with the templates its seems its undocumented and honestly talking about S3Object type is under documented on the AWS AppSync docs. I had to find it in a talk

[2018-10-05 22:58] mikeparisstuff commented on #274
You can add S3 support via the transformer by adding this type to your schema.

[code]

The `S3ObjectInput` type will be generated for you (as input types are generated for all non @model types) and then you can store pointers to objects in DynamoDB via AppSync. From your mobile app you can then use S3 SDKs directly or the Amplify client toolchain to download the files directly to the phone in the

[2018-10-05 22:59] mikeparisstuff commented on #263
This is on our backlog along with automatically enabling auto scaling for DynamoDB tables.

[2018-10-05 23:06] mikeparisstuff commented on #274
If using javascript and the AppSync JS SDK then see this sample:

https://github.com/aws-samples/aws-amplify-graphql

Specifically:

https://github.com/aws-samples/aws-amplify-graphql/blob/4e008e9a6ae97b2cb25e00ff8496ac968ca38696/photo-client/src/Components/AddPhoto.js#L54-L59

[2018-10-05 23:16] austinamorusocfc commented on #215
I also was wondering and have further questions.
https://github.com/aws-amplify/amplify-cli/issues/274

[2018-10-05 23:57] NikoMontana commented on #234
Any news on this?

[2018-10-06 03:39] mwarger opened #275 "`amplify add auth` not adding anything according to CLI"
**Describe the bug**
Amplify auth appears to not be added when using a fresh project after running `amplify init`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `amplify init`
2. Run `amplify add auth`
3. Run `amplify push`
4. See this
[code]

Potentially related - running `amplify status` returns this:
[code]

I have not seen this before and it seems strange.

**Expected behavior**
The

[2018-10-06 18:27] theskiesmore opened #276 "Region choice issue while running the command "amplify configure"."
** Which Category is your question related to? **
Configuration for a new project.

** What AWS Services are you utilizing? **
Cognito, Lambda, RDS, etc

** Provide additional details e.g. code snippets **
The new project will run on ap-northeast-2 region.
But, I can't choose the region because the region was not on the list.
Did I something wrong or is there any reasons?

[2018-10-06 20:12] undefobj commented on #56
@hisham we're not necessarily saying that it's a "bad idea" more that we're trying to find the best interface to maintain the abstraction for ease of use as well as flexibility. The GraphQL transformer was designed to remove the need (or greatly reduce) to write resolvers or worry about the underlying cloud implementation, so we just want to have thorough discussions around pros vs. cons for certa

[2018-10-06 21:09] undefobj commented on #273
@austinamorusocfc the @versioned sets up all the version checking for offline conflict resolution in the backend so that you can efficiently use the [AppSync SDK for Apollo](https://github.com/awslabs/aws-mobile-appsync-sdk-js#offline-helpers), especially with the [offline helpers](https://github.com/awslabs/aws-mobile-appsync-sdk-js/blob/master/OFFLINE_HELPERS.md). This allows you to do offline w

[2018-10-06 22:41] southerneer commented on #128
Me too: eric@southerneer.com

[2018-10-06 23:49] kaustavghosh06 commented on #275
@mwarger This is a known issue and is tied to our underlying CLI framework - gluegun, and there is a fix provided for the same -> https://github.com/infinitered/gluegun/issues/384, but they haven't gotten a chance to publish a new version to NPM. Once they do so, we'll have this fixed. For the time being, you could use `amplify auth push` to push your auth resources or use WSL as recommended by us

[2018-10-06 23:51] kaustavghosh06 commented on #276
@theskiesmore, Currently we support these following regions but we have in our roadmap to add more regions in the future.

[code]

[2018-10-07 02:41] ju-Skinner commented on #195
I know this issue is closed but is there a fix on the horizon. I've looked at the cloud formation for the API, I see there are dependencies on the Auth template, but if it's present shouldn't it just read the values from the auth parameters.json; followed up with skipping the attempt to update the auth stack.

I can take the API Cloudformation template that is stored in S3 and pass the necessary p

[2018-10-07 02:47] ju-Skinner commented on #258
@jaxondu you can add the settings below into the cloudformation template, under the UserPool section. I did this which allows a user to signup via `username` or `verified email address`. If you want both `email` and `phone` along with `username` you can just add another value `phone_number`. Here is a link to reference [AliasAttributes](https://docs.aws.amazon.com/cognito-user-identity-pools/lates

[2018-10-07 16:42] mwarger opened #278 "amplify codegen types fails in unrelated file"
**Describe the bug**
Running `amplify codegen types` does not run correctly.  Fails in unrelated file (e.g. a file with no graphql type declarations in it)

**To Reproduce**
Steps to reproduce the behavior:
1. run `amplify codgen types` (or, since I'm on windows `wsl amplify codegen types`)
2. See error below

**Expected behavior**
Codegen works by generating types

**Screenshots**
[code]

**Deskt

[2018-10-08 01:45] mwarger commented on #278
I was able to get this working without issue in another project, so I'm going to close this for now and will re-open if I see it happen again.

[2018-10-08 05:58] ianpogi5 commented on #196
Can you share how you do this? I also need the functionality.

[2018-10-08 11:08] ChrisWun opened #279 "Using "amplify api gql-compile" and "amplify codegen" without "amplify init""
** Which Category is your question related to? **
Feature Request / Usage

** What AWS Services are you utilizing? **
AWS Appsync

** Provide additional details e.g. code snippets **
The AWS Amplify CLI can be used to define a GraphQL API. It is also possible to generate Resolvers, a CloudFormation Template and Typescript Types for a defined schema in schema.graphql.

I'd like to use these feature

[2018-10-08 20:02] mikeparisstuff commented on #266
Currently @connection only supports @model object types. I can see why supporting unions would be useful but this will have to prioritized. It would be helpful if you could give more details on your use case and we can start a discussion on how to best generalize this feature request.

[2018-10-08 20:39] mwudtke commented on #84
Quick update on the `@http` directive. I have been working on this for a week or so and wanted to share some implementation decisions and changes from the initial design discussion.

## Definition
This is largely unchanged from the perspective of what the user sees.
[code]
## Usage
This is also mostly similar, with a few more specifics fleshed out.
[code]
**Important:** If URL parameters are speci

[2018-10-08 20:51] austinamorusocfc commented on #266
We were thinking of having a generic media object which would point to s3object but then having a meta data union that could point to all kinds of different media types meta data. As the meta data for audio is different than video. Honestly there is a way to just change the data structure and walk away from the need for this altogether.

[2018-10-08 20:56] attilah commented on #34
I just tried with latest amplify-cli and init exits at frontend plugin selection.

I patched the sources to remove the frontend step and the issue is the same, it sliently exits.

So the issue is that the 2nd option is always exits. I tried to put the latest gluegun into the cli's node_modules dir, that did not help either.

[2018-10-08 21:55] #264 closed

[2018-10-08 22:07] austinamorusocfc opened #283 "@auth groups clarification"
** Which Category is your question related to? **
Aws Amplify graphql transform / aws appsynce

** What AWS Services are you utilizing? **
Aws appsync

** Provide additional details e.g. code snippets **
Would it be problematic to just put a read and write group for auth on every object that needs access control?

[code]

[2018-10-08 22:54] UnleashedMind commented on #279
We recommend to use the Amplify CLI only on initialized projects, even if hacks like this might work in certain, it's not guaranteed to work for feature updates.

[2018-10-08 23:27] arvinkx commented on #264
@yuth Thanks for the fix, I'm running into a possibly related issue. The generation of the graphql files seem to complete now but the validation fails with the error `Validation of GraphQL query document failed`. I believe the issue is related to the warnings in the original error message above about "limit" not being provided. I've included a snippet of the schema below, it looks like the generat

[2018-10-09 00:00] undefobj commented on #266
@austinamorusocfc can you elaborate a bit more on your point below:

We have a Complex Object type for S3 which you'll see some documentation on this soon. Also there is [documentation for writing our own GraphQL transformer](https://github.com/aws-amplify/amplify-cli/blob/master/how-to-write-a-transformer.md). Is that what you meant from the above and you'd like to see documentation for S3Object

[2018-10-09 00:53] kaustavghosh06 opened #286 "RFC – CI/CD workflows and Multiple Environments as a part of Amplify CLI"
**Feature Request**

We would like to better support workflows around deployment and CI/CD in the Amplify CLI, as well as allowing you to use the configuration in multiple environments (DEV/TEST/STAGING/PROD etc).

Let's use this ticket to track the progress of this feature.
We hope this will address some concerns in the following issues:

https://github.com/aws-amplify/amplify-cli/issues/128
http

[2018-10-09 01:00] kaustavghosh06 commented on #128
@rygo6 @alukach @SagarMhatre @gcid12 @Myrberg @chrisfowler @sp-tenovos @cgreening @hisham @wshaddix @ChrisWun @brianhilst @JustFly1984 @CodySwannGT @alphara @austinamorusocfc @southerneer
We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backwards from the customer needs and we've opened up an issue (https://g

[2018-10-09 01:01] kaustavghosh06 commented on #106
@jarrettj  @chrisco255 @andrewtpoe
We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backwards from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions menti

[2018-10-09 01:01] kaustavghosh06 commented on #197
@mlynch
We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned in the issue (#286) whi

[2018-10-09 01:02] kaustavghosh06 commented on #80
@johanneslanger @SagarMhatre

We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned i

[2018-10-09 01:03] kaustavghosh06 commented on #166
@bramski

We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned in the issue (#286) w

[2018-10-09 01:03] kaustavghosh06 commented on #244
@pigmanbear

We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned in the issue (#286

[2018-10-09 01:36] kaustavghosh06 commented on #274
@austinamorusocfc Please feel free to re-open this issue if the problem still persists. Thanks!

[2018-10-09 01:36] #274 closed

[2018-10-09 01:40] kaustavghosh06 commented on #241
@sambomcd That is correct. Please feel free to re-open this issue if you think this is still an issue. Thanks!

[2018-10-09 01:40] #241 closed

[2018-10-09 01:41] kaustavghosh06 commented on #239
@jeanpaulcozzatti Please feel to re-open this issue if the problem still persists.

[2018-10-09 01:41] #239 closed

[2018-10-09 01:44] kaustavghosh06 commented on #234
@NikoMontana Which region are you deploying to? From your logs, it looks like region you're deploying to a region that doesn't support AppSync.

[2018-10-09 01:45] kaustavghosh06 commented on #233
@gxedwards @mriccid @mwarger

We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned i

[2018-10-09 01:48] kaustavghosh06 commented on #215
This issue seems to have been fixed with the latest version. Please look at #274 for more info. Please feel free to re-open this issue if the problem still persists. Thanks!

[2018-10-09 01:48] #215 closed

[2018-10-09 02:41] kaustavghosh06 commented on #37
@jadbox

We're currently brainstorming and working towards providing a CI/CD workflow as a part of the Amplify CLI, and in doing so we want to work backward from the customer needs and we've opened up an issue (#286) as a part of the CLI repo to track this story.
Would be great, if you guys could take a look at it and respond back with some answers to the questions mentioned in the issue (#286) wh

[2018-10-09 02:45] kaustavghosh06 commented on #223
@ranef Not able to reproduce this issue. Please feel free to re-open this if the problem still persists.

[2018-10-09 06:55] drewes commented on #194
I have the same issue with `eu-central-1`

[2018-10-09 09:18] mmichelli commented on #262
This is driving me crazy!

[2018-10-09 09:21] dongw00 opened #287 "When do I set up amplify configure"
** Which Category is your question related to? **
amplify configure

** What AWS Services are you utilizing? **
amplify

** Provide additional details e.g. code snippets **
Specify the AWS Region
? region:  list....

When do I set up ampify configure, my region is omitted. (np-northeast-2)

[2018-10-09 09:46] JustFly1984 commented on #286
1 - Yes, we are managing front-end and backend as separate git repos.
2 - Deploy would be a hard question. Since we do not deploy frontend to S3 but to netlify, and trying to be serverless, I see some real issues if I would need to deploy both at the same time. Sometimes we do not touch lambdas months, while making changes to frontend.
3 - Separate deployment stages are mandatory.
4 - Versions. if

[2018-10-09 11:36] #279 closed

[2018-10-09 11:48] ChrisWun opened #288 "Adding existing UserPool and Appsync API to amplify project"
** Which Category is your question related to? **
Usage / Feature Request

** What AWS Services are you utilizing? **
AWS Appsync, Cognito UserPools

** Provide additional details e.g. code snippets **
I would like to add existing UserPools and APIs to the local amplify project.
For `amplify codegen` this is possible by the command `amplify add codegen --apiId xyz`
Are there similar commands for `

[2018-10-09 13:07] NikoMontana commented on #234
@kaustavghosh06 Im deploying to eu-Central-1. I think this is not the problem because as I said it deploys if I dont change the schema

[2018-10-09 15:34] hisham commented on #286
1. Currently new project and backend is in same repo, but considering portion of backend atleast in different repo especially if I use a different tool to manage parts of the backend such as SAM since Amplify CLI does not do everything we need in the way we need it yet. Have not decided yet.

2. I think it's better to manage them separately. Reduces risk. If a change only affects the frontend then

[2018-10-09 15:39] hisham commented on #196
@ianpogi5 just go to backend/auth/<your_cognito_project_name>/ and modify the yml and json accordingly. Add your attributes to 'userpoolClientWriteAttributes' in parameters.json and go from there.

[2018-10-09 15:57] kaustavghosh06 commented on #287
We currently support the regions listed below. We'll be adding support for more regions in the future.

[code]

[2018-10-09 15:57] #287 closed

[2018-10-09 16:32] #276 closed

[2018-10-09 18:22] rygo6 opened #396 "How to publish .env file with environment variables?"
Hello, I am not seeing how I would get my .env file with environment variables deployed with my app. Is there a way to do this?

[2018-10-09 19:15] javiertc commented on #247
The same is happening to me. I already have the project deployed in AppSync and I don't want to create a new CloudFormation template. Is there any way in Amplify cli to create a copy of the remote environment, modify it and then publish the changes.

[2018-10-09 20:33] austinamorusocfc commented on #266
@undefobj
I was saying I could remove the union altogether, if it is a requirement to use the amplify template.

However I think the interesting use case here is searching for audio with a certain duration.

And then having the ability to eventually add video type to union and future types of media.

My question was not around the S3Object in this case it was more about handling connections with u

[2018-10-09 20:48] austinamorusocfc commented on #286
- Are you managing frontend and backend code in the same repo?
   **Yes unified code base**

- Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)
   **I want both. I want to be able to deploy just the backend or frontend or roll out both at the same time.**

- Are separate deployment stages (approvals, canaries, et

[2018-10-09 20:51] austinamorusocfc commented on #274
@kaustavghosh06 my question have been answered! Thanks @mikeparisstuff

[2018-10-09 20:53] CodySwannGT commented on #286
Yes. We have a few projects that use Amplify, AppSync and also Serverless Framework.
Typically our directory structure looks like this:

Project Root
-- client
--- amplify
-- server
-- .git

Separately. Again, due to the shortcomings with Amplify, we have to supplement it with Serverless Framework.

`$ serverless deploy #deploy some of backend`

`$ amplify push #deploy some of backend`

`$ amplify

[2018-10-09 22:29] kaustavghosh06 commented on #92
#227 Solves this and is published to NPM. Please use the latest version of the CLI to avail of this feature.
@HieronymusLex This would be solved by  feature request for custom resolvers  - #74

[2018-10-09 22:29] #92 closed

[2018-10-09 22:30] #101 closed

[2018-10-09 22:33] kaustavghosh06 commented on #105
@nickdb93 Closing this issue, for now, feel free to re-open this if the problem still persists.

[2018-10-09 22:33] #105 closed

[2018-10-09 22:44] mikeparisstuff commented on #152
Gotcha. Unfortunately, you can't have that many @connection fields on a single @model for now. In the future, we are looking into offering an association list pattern as an alternative to the GSI pattern for APIs that are more highly connected.

[2018-10-09 23:00] mikeparisstuff commented on #202
This makes sense. Unfortunately, I'm not sure this is going to be supported in the transform out of the box yet but you could write your own transformer that does just this. You can read more about how to do that here: https://github.com/aws-amplify/amplify-cli/blob/master/how-to-write-a-transformer.md

[2018-10-09 23:03] mikeparisstuff commented on #217
@dennyferra What you are doing should work but I believe it was a bug when using both group auth and owner auth together. This should be fixed in this PR https://github.com/aws-amplify/amplify-cli/pull/285. I'll add this exact case as a test case to verify.

[2018-10-09 23:12] mikeparisstuff commented on #235
For a clarification, the `@auth` directive currently supports Cognito User Pools only. In the future we will expand support for IAM and can do many of the same things but this needs to be worked on. As for the unauthenticated access, we have an issue https://github.com/aws-amplify/amplify-cli/issues/54 that is tracking this.

[2018-10-09 23:32] #273 closed

[2018-10-09 23:34] mikeparisstuff commented on #283
I don't see a problem with it however I think in your case you will want to pass explicit nulls to "mutation" and "query" to make this work as expected. E.G.

[code]

[2018-10-09 23:46] cadejscroggins commented on #235
I see. Thanks @mikeparisstuff.

Is there an issue somewhere for this as well, or maybe a roadmap?

[2018-10-10 01:29] usulix commented on #82
I got this error when trying to add auth with a Google web app ID. I think the ID Google gave me exceeded the constraints
[code]

[2018-10-10 06:51] thaerlabs commented on #286
Hello everyone, I’d like first of all to thank the awsmobile/amplify team for their efforts in developing this project. It’s a breath of fresh air for mobile/web devs that want simplicity and power.

We started months ago using the awsmobile-cli and we’re now migrating to the amplify-cli to catch up on the new features, and till now multiple envs has been a real problem.

Currently we’re using a m

[2018-10-10 07:54] gabehollombe-aws commented on #30
@mikeparisstuff - Does my second question above (https://github.com/aws-amplify/amplify-cli/issues/30#issuecomment-416429148) also fall into the work surrounding CI/CD workflows being discussed here: https://github.com/aws-amplify/amplify-cli/issues/286 ?

[2018-10-10 08:57] tobiasfriden opened #289 "Codegen error when using nested array type"
**Describe the bug**
When using amplify codegen the created graphql subscriptions have the wrong format and an error is thrown.

**To Reproduce**
I have created the following schema in the AppSync console:
[code]
Using amplify codegen generates the following:
[code]
And the following error is reported in the console:
[code]
**Expected behavior**
The generated subscription should be
[code]

**Deskt

[2018-10-10 10:40] stefsietz commented on #82
same problem for me, lots of CREATE_FAILED logs, "Resource is not in the state stackUpdateComplete" at the end. Ubuntu 18.04, cli 0.1.27

[2018-10-10 11:55] ChrisWun opened #290 "Changing API for amplify codegen"
** Which Category is your question related to? **
Amplify codegen

** What AWS Services are you utilizing? **
AWS Appsync API

** Provide additional details e.g. code snippets **
With the command `amplify add codegen --apiId xyz` it is possible to set up `codegen` for an `appsync api`. Unfortunately, I found no way to change the api. Is that possible? If not, I would like to have such a functional

[2018-10-10 13:51] FWirtz commented on #38
related to #233 and #104

any updates on this @kaustavghosh06? Should all elements in `amplify/` be committed to source control or is there sensitive information in there like @nicosommi supposed?

[2018-10-10 14:55] iraklivaurea commented on #191
Hi @kaustavghosh06 do you have any updates on this ?
I'm having the same issue when I'm running `amplify init` in my iOS project, providing credentials via console and then I get this:
`Initializing project in the cloud...An error occurred when creating the CloudFormation stack
✖ Root stack creation failed
init failed`

I checked CloudFormation stack create permission, and my user has it.
<img wid

[2018-10-10 14:57] kaustavghosh06 commented on #191
@iraklivaurea Could you send me your entire Cloudformation stacktrace?

[2018-10-10 15:02] iraklivaurea commented on #191
Sure

`⠼ Initializing project in the cloud...An error occurred when creating the CloudFormation stack
✖ Root stack creation failed
init failed
{ AccessDenied: User: ********** is not authorized to perform: cloudformation:CreateStack on resource: **********
    at Request.extractError (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-provider-awscloudformation/node_modules/aws-sdk/

[2018-10-10 15:03] iraklivaurea commented on #191
@kaustavghosh06  sorry for formation ...

[2018-10-10 15:29] kaustavghosh06 commented on #191
@iraklivaurea Did you create the IAM user using the amplify configure command and use the created profilento initialize the project? It looks like an IAM policy issue.

[2018-10-10 15:35] iraklivaurea commented on #191
IAM was already created, but not using `amplify configure` command.

[2018-10-10 17:09] undefobj commented on #38
Specifically the the point of the App Client Secret that is created for the awsconfiguration.json with native apps, this is strictly for Cognito endpoint protections (such as throttling, etc.) and not related to the actual AuthN or AuthZ flows. Cognito uses SRP and client secrets are not leveraged. So while there is no security issue here there is also no good reason not to give the capability to

[2018-10-10 17:36] joemastersemison commented on #286
Our answers:

Yes, monorepo with three React apps and two Appsync APIs, with all resolvers/lambdas/deployment config in it.

Simultaneously

Would love to do canaries, but hopefully can do with Route 53 weighted DNS.

Ideally we have weighted DNS, separate deploy locations, and so the weight to the new deployment is just never set above 0.

I think cloning is a bad process and you should really ju

[2018-10-10 18:59] yuth commented on #289
@tobiasfriden would you mind sharing the sample schema

[2018-10-10 19:12] yuth commented on #290
We don't have a provision to change the API but will add it as a feature request. For the time being you could delete `.graphqlconfig.yml` file in your project root and add the API again by running `amplify add codegen --apiId #####`

[2018-10-10 19:45] mikeparisstuff commented on #157
This is a good point. We can change the transform to always use Query operations instead of GetItem even when getting an item with a unique key as a slight optimization assuming this does not impact the latency of the call in DynamoDB. This isn't a bug and sounds like a lower priority issue but it has been added to the backlog.

[2018-10-10 20:15] #221 closed

[2018-10-11 07:01] iraklivaurea commented on #191
@kaustavghosh06 Thanks

[2018-10-11 11:11] Cybernetixs commented on #174
I also believe a "pull" feature would be helpful.  I was doing some testing in the lambda console and making changes, so my local amplify versions were no longer in sync.  I spent all morning searching for that "pull/sync" feature and came across this thread.

[2018-10-11 18:20] hisham opened #292 "How to override query return structure"
** Which Category is your question related to? **
amplify codegen

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I'm trying to change the data returned from an existing query as I find the default codegen query does not return all data for nested properties. I tried to add a 'custom_queries.ts' file under src/graphql in my angular project w

[2018-10-11 18:29] hisham commented on #292
Nevermind, my original solution of adding my custom file like "custom_queries.ts" in src/graphql worked I just needed to make sure the name after "query" was different from the default name codegen creates.

[2018-10-11 18:29] #292 closed

[2018-10-11 23:33] ginomempin opened #293 "Support for 'amplify pull'?"
**Is your feature request related to a problem? Please describe.**

I configured a storage resource on my local backend using `amplify storage add` (then followed the steps to setup a NoSQL DB). I then did `amplify push` and it was successful. On the DynamoDB web console, someone then configured the read and write capacity from the default 5 to 10 (or some other value). But on my local backend, in

[2018-10-12 02:55] arvinkx opened #295 "Codegen: Arguments in Result Fields Support"
This issue is a continuation of #264

The generation of the graphql files seem to complete now but the validation fails with the error `Validation of GraphQL query document failed`. I believe the issue is related to the warnings in the original error message about "limit" not being provided (example: `.../graphql/queries.graphql: Field "videos" argument "limit" of type "Int!" is required but not p

[2018-10-12 03:54] gabehollombe-aws commented on #30
Looks like the feature I mentioned https://github.com/aws-amplify/amplify-cli/issues/30#issuecomment-416429148 is being discussed / WIPed here: https://github.com/aws-amplify/amplify-cli/issues/74

[2018-10-12 05:44] chrisl777 opened #296 "amplify configure project command does not properly update frontendHandler.javascript path"
**Describe the bug**
I am on a development team where we want to have multiple developers running the same amplify project. Another developer created a basic Amplify project for a React app. When I run the `amplify configure project` command on my machine, and then run an `amplify push`, I get the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Check out repo of an Amplify p

[2018-10-12 07:14] UnleashedMind commented on #293
Thank you very much for the feedbacks.
I'm marking this as a feature request.

[2018-10-12 16:14] hisham opened #297 "S3 User Uploads Bucket created by amplify does not accept large files"
**Describe the bug**
Can't upload large files to the user uploads bucket that amplify generates without modifying CORS configuration. To fix, the CORSConfiguration of the S3 bucket needs to include     `<ExposeHeader>ETag</ExposeHeader>`. See https://github.com/aws/aws-sdk-js/issues/191

**To Reproduce**
- amplify add storage
- go through instructions to create user uploads s3 bucket
- Use appsync

[2018-10-12 17:43] yuth commented on #295
Thanks for reporting this, in the mean time could you add the a default value for the `limit`.

[2018-10-12 20:00] jpaas commented on #229
I have this problem also. In my case I'm trying to delete the auth. Is there a workaround to clear this pending auth deletion and get back to being able to push?

[2018-10-12 20:49] UnleashedMind commented on #296
Team collaboration workflow has not been fully implemented yet, what you are doing is not going to work.
We are working on implement it.
I'm marking this as feature request.

[2018-10-12 20:56] kaustavghosh06 commented on #296
@chrisl777 were able to get your app running by manually changing the path? We’ll fix this issue as a part of the ‘amplify configure project’ command

[2018-10-12 22:31] chrisl777 commented on #296
@kaustavghosh06 Yes, thanks, I was able to get the app running by manually changing the path. Thanks for putting that into your "to fix" list!

[2018-10-13 13:00] kesteinbakk commented on #82
Trying to push graphql api:
v.0.1.29
AWS Cloud9
No effect from deleting lines in parameters.json, as suggested above
No new api created in aws Appsync Console

Log:
? Do you want to generate/update all possible GraphQL operations - queries, mutations and sub
scriptions No [Both yes and no leads to same result]
⠼ Updating resources in the cloud. This may take a few minutes...

UPDATE_IN_PROGRESS me

[2018-10-13 20:32] Jscott388 commented on #105
So if I was to do a dynamic group / roles system:

`type Post @model @auth(rules: [{allow: groups, groupsField: "groups"}]) {
  id: ID!
  title: String
  groups: [String]
}`

The groups: [String] => why couldn't this store the Cognito user ID?

Something like this?

`type Group @model @auth(rules: [
{allow: owner, ownerField: "owner", mutations: [create, update, delete], queries: [get, list]},
{ru

[2018-10-13 20:53] JustFly1984 commented on #185
Any news?

[2018-10-14 03:06] jasondebolt commented on #261
I’m having the same issue. My files aren’t being deployed to S3 and I’m not getting an error so I cannot debug.

[2018-10-14 08:09] dguisinger commented on #286
I honestly have trouble understanding the real world use case of Amplify CLI... I took the Webinar and was instructed it wasn't for me when I asked questions, I've read the documentation and the blog posts... and I just don't get it.

I'd love to have simplification of my workflow.... but I don't want my frontend project controlling resource creation on the backend.   I love the ideas you are offe

[2018-10-14 15:10] joebernard opened #298 "amplify push error - resolvers directory not found"
**Describe the bug**
After adding a graphql API and pushing I receive this error:
ENOENT: no such file or directory, scandir '/opt/projects/myApp/amplify/backend/api/myApp/build/resolvers'

**To Reproduce**
Steps to reproduce the behavior:
`amplify init`
`amplify add api`
use default options
`amplify push`
error

**Expected behavior**
The API service should deploy

**Desktop (please complete the f

[2018-10-14 15:39] jimbol commented on #286
Yes

Simultaneously

Mandatory, I cannot develop code in the same environment as production

If possible, automatic rollback to the previous version. Otherwise, being able to just override the current production version with a the code from a previous git sha or git branch would be ideal.

If two developers are working on the back end at once, then yes, they need to be able to develop in parallel.

[2018-10-14 16:09] joebernard commented on #298
I chose to let the tool create a new schema with a single type (myType).

[code]

Also, I just updated to @aws-amplify/cli@0.1.28-beta.0 and the issue seems to be fixed in that version.

[2018-10-14 17:04] dguisinger commented on #286
I agree, there are good ideas in the platform, it's just too tightly coupled.   Because Amplify CLI can't work with existing resources, I took a good idea (the amplify config file) and modified my Terraform script to output a config file to the website S3 bucket whenever resources change...  so at least the Amplify library can load the config and it works great.

I really wish that Amplify CLI had

[2018-10-14 17:11] tamsynjennifer commented on #102
Is there any update on this request? Being able to use the Amplify Cli to set up sign in with an email address instead of username?
<img width="1083" alt="screen shot 2018-10-14 at 18 09 17" src="https://user-images.githubusercontent.com/31040727/46919798-938c4b80-cfdc-11e8-83c8-2f7e3a042df5.png">

[2018-10-14 17:39] joemastersemison commented on #286
To add to what Dan is saying here--I am actually a strong proponent of
tightly coupling the front end and back end, even with multiple front ends,
but I wholeheartedly agree with Dan's request to have much better
fine-grained control over resource creation and connection.

A parallel I see here is with Angular, where things are just too
"magical"--you don't know exactly what's happening or why, an

[2018-10-14 18:02] undefobj commented on #286
@dguisinger @joemastersemison a couple of comments:

Please remember this is an RFC for CI/CD workflows in the CLI core. There are some comments here made around using the GraphQL transformer (which is a library in the package) for specific DynamoDB controls like indexes. Feature requests around that are best made as new issues in the repo otherwise we will not be able to track them and get feedba

[2018-10-14 18:34] dguisinger commented on #286
@undefobj I'll take my response private, but I do feel knowing how your customers want to automate their flow is actually a important part of understanding CI/CD needs.  But your points are understood.

[2018-10-14 21:31] undefobj commented on #286
@joemastersemison could you elaborate on this with specific use cases? We're looking at a few things here but getting the proper scope in your workflow would be helpful. Thanks.

[2018-10-14 21:56] joemastersemison commented on #286
@undefobj -- here are a couple examples:

- I run three React applications in the same S3 bucket through Cloudfront using lambda@edge to eliminate hash routing and lambda@edge functions to handle reverse-proxying `/blog` to WPEngine (running wordpress).
- specifying custom fields in Cognito
- specifying dynamodb streams handlers (and deploying all of that)
- putting resolver VTLs in separate files

[2018-10-15 01:37] mwarger commented on #278
I'm re-opening this for visibility, wondering if anyone has seen this.  Has only popped up in the latest version of the CLI.

[2018-10-15 02:10] budkin76 commented on #82
I ran amplify delete, then tried to start over and now I get this error after adding auth and pushing it.

✖ An error occurred when pushing the resources to the cloud

Resource is not in the state stackUpdateComplete

[2018-10-15 03:35] SudduK commented on #298
Hi Joe,

 I got the same error that "ENOENT: no such file or directory, scandir 'amplify\backend\api\CLAGraphQL\build\resolvers'"

 Thanks for directing to use @aws-amplify/cli@0.1.28-beta.0 instead, but I am facing the below issue however:

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher
 to avoid a RegExp DoS issue
npm WARN inquirer-autocomplete-prompt@1.0.1 requ

[2018-10-15 04:02] dguisinger commented on #74
The method @undefobj proposes for custom resolvers in a predictable named format works well, I can +1 that.  Its similar to what I'm doing now (and I believe Serverless does the same).  I basically use the CF template as a project file for my source code, and my deployment steps are an s3 sync command to move the template and all of the resolver VLT files up to a bucket before loading it into a CF

[2018-10-15 05:07] budkin76 commented on #82
FYI the only way I could get rid of this message was to delete aws-amplify from my project then delete the global npm package @aws-amplify/cli. I then reinstalled @aws-amplify/cli, ran amplify configure, then amplify init in my project. Once I added auth I was able to push it again.

[2018-10-15 15:47] ChrisWun commented on #290
Thanks for the workaround :)

[2018-10-15 17:31] kaustavghosh06 commented on #34
@stevegula  @attilah Are you using windows without WSL?

[2018-10-15 17:35] attilah commented on #34
@kaustavghosh06 yes, I tried in "windows windows", in WSL on the same machine, everything works...WSL is "not windows".

[2018-10-15 17:37] kaustavghosh06 commented on #34
@attilah We have an issue open with our dependent CLI framework for making it work on windows natively and are actively working with them to get the fix out. Until then we recommend using WSL.

[2018-10-15 17:40] attilah commented on #34
@kaustavghosh06 I tried the @next from that cli library where the "path fix" was included and still had the same problem, but ok, let's wait. The problem is that working with WSL and Windows is not going back and forth, since some generated files are including the absolute path on the host machine /home/xyz/....... which does not map to the same location under Windows...

But sure working purely i

[2018-10-15 20:44] brianhilst opened #300 "Filters not generated for non-scalar model type fields"
**Describe the bug**
I have a type with field that is a non-scalar type field and the generated filter for the type doesn't allow filtering by the non-scalar field.  In the schema.graphql example below, type Profile has a category: Category @connection field, but the generated ModelProfileFilterInput doesn't include a filter by Category.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2018-10-15 21:00] joebernard commented on #298
Update on this: I tried setting up a new API with amplify and got the resolvers issue. I'm using @aws-amplify/cli@0.1.28-beta.0.

I ran `amplify remove api` then `amplify add api`, went through the setup steps and it worked.

The only difference was in the failed attempt I specified an existing graphQL schema, and in the successful attempt I did not.

[2018-10-15 21:01] joebernard commented on #298
@SudduK That looks like a different issue. Open a new ticket.

[2018-10-15 21:20] arvinkx commented on #295
@yuth Thanks, I've added default values and got passed that issue but it seems there is an issue with using non-null arrays in arguments as well. The places I have `$tags: [String!]!` seem to be replaced with a single item instead of an array. I've included an example below (`$users` should be `$users: [String!]!`:
[code]

[2018-10-16 00:50] budkin76 commented on #288
+1 for this feature. It would be extremely useful.

[2018-10-16 03:31] dancomanlive opened #301 "How to track changes made by developers working with Amplify CLI?"
How to track changes made by developers working with Amplify CLI?

[2018-10-16 04:39] #301 closed

[2018-10-16 04:39] dancomanlive opened #302 "How to get an Amplify configuration file ?"
** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

[2018-10-16 06:09] SudduK commented on #298
@joebernard : Will create a new ticket for issue with Amplify CLI installation version **0.1.28-beta.0**

However, the underlying issue with _"scandir resolvers not found"_ still exists for me with @aws-amplify/cli@**0.1.27**
**ENOENT: no such file or directory, scandir 'amplify\backend\api\CLAGraphQL\build\resolvers'**

I followed below steps to push the new Graphql API service to AWS AppSync usi

[2018-10-16 08:31] gabehollombe-aws opened #303 "Wrong path to generated lambda function src displayed after `amplify function add`"
**Description of bug**
After using `amplify function add` to generate a new Lambda function, included in the output is the following:

"Check out sample function code generated in project-dir/amplify/backend/lambdaname/src"

However, the actual directory is located at: project-dir/amplify/backend/**function**/lambdaname/src

**To Reproduce**
Here is a full verbatim transcript highlighting the erro

[2018-10-16 14:12] joebernard commented on #298
Try removing the API, then adding it again. I found that it would fail the first time, but if I dropped it and re-added it, it worked.

`amplify remove api`
`amplify add api`

[2018-10-16 16:03] drakang4 opened #304 "Generate config for TypeScript"
Whenever I push amplify on my app using TypeScript, CLI generates `aws-exports.js` rather than `aws-exports.ts`. It would be great if `amplify init` has a step that asks 'Is this app using TypeScript?' and generates `aws-exports.ts` for TypeScript app.

[2018-10-16 18:17] tenerifeonline commented on #82
Same issue here. Log looks as follows. Please advise, this issue is blocking my project ...

[code]

[2018-10-16 18:26] hisham opened #305 "@auth does not work for update mutations with owner and group combo"
**Describe the bug**
If a @model has @auth rules of `"allow: owner"` and `"allow: groups, groups: ["Manager"], mutations: [update]"`, updates won't actually work when a user belonging to the Manager group performs an update mutation. Instead you get following dynamo error: `The conditional request failed (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ConditionalCheckFailedException`

**

[2018-10-16 18:42] hisham commented on #305
To fix, I modified the update resolver code like below. Basically I changed $isAuthorized flag to $isGroupAuthorized, removed the $util.unauthorized(), and instead only add the owner $authcondition if $isGroupAuthorized is false.

[code]

[2018-10-16 23:31] CleristonBernardes commented on #286
-     Are you managing frontend and backend code in the same repo?
Nope. Each one is an independent project/repo.
-     Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)
Separately.
-     Are separate deployment stages (approvals, canaries, etc.) important or mandatory?
Important.
-     How would you like to handl

[2018-10-17 04:22] dancomanlive opened #306 "Replace VLT with Lambda"
Using the Serverless Framework I am able to use Lambda resolvers. Would be great to have this feature out of the box for Amplify instead of using VLT resolvers.

[2018-10-17 07:56] ChrisWun commented on #300
I have the same problem.
Interestingly, the mutations have a corresponding field, exactly what I miss in the FilterInputs.
For Example:
[code]

Results in
[code]
I miss the field commentPostId in ModelCommentFilterInput.

Are there any workarounds?

[2018-10-17 11:47] mabdullah353 opened #307 "Amplify Publish Silently For Headless Deployments"
Allow non-interactive communication using AWS CLI. I want to run the amplify publish command using the `AWS CodeBuild` And in buildspec.yaml I have defined `amplify publish` which generates the following results

[code]

**Describe the solution you'd like**
Allow us to run the publish command by accepting all scenarios. E.g
[code]

Where `q` Represent for Non-interactive or Quiet mode.
`y` Means s

[2018-10-17 13:55] jaxondu opened #308 "AppSync console sample project Tasks App error"
**Describe the bug**
On AppSync Console, create new API, select Tasks App under "Start from a sample project". This will create a CloudFormation stack. The stack creation at the end is ROLLBACK with error.

**Additional context**
Stack ID:
arn:aws:cloudformation:us-east-1:004855210358:stack/AppSync-Task-TasksApp-2018290rMY/b4e6a670-d20e-11e8-ad56-50fae98974fd

Events:
21:16:58 UTC+0800 | CREATE_FA

[2018-10-17 14:32] jaxondu commented on #229
Just restart using Amplify CLI and hit this error. What's the work around to get the auth push?

[2018-10-17 14:34] kaustavghosh06 commented on #229
Are you doing an ‘amplify push’ or ‘amplify api push’? This error happens if you haven’t pushed/pushing auth when pushing API.

[2018-10-17 15:03] kaustavghosh06 commented on #308
Please open an issue in the AWS forums - https://forums.aws.amazon.com/tags/appsync for Appsync service/console related questions. Thanks!

[2018-10-17 15:03] #308 closed

[2018-10-17 18:32] learningacct opened #1216 "Multi-tenancy with Amplify @auth GraphQL transformer"
** Which Category is your question related to? **
GraphQL directives/transformers.

** What AWS Services are you utilizing? **
Appsync/Cognito/Amplify.

** Provide additional details e.g. code snippets **

I am building a multi-tenant messaging app with a GraphQL backend. Users are held in a single Cognito user pool. A user can be in multiple organizations (these are the tenants), multiple groups

[2018-10-17 18:55] kaustavghosh06 commented on #307
@mabdullah353  We're currently actively working towards making the commands headless.

[2018-10-17 18:57] kaustavghosh06 commented on #302
@dancomanlive  Could you please describe issue a bit more? Hard to decipher the issue from the description.

[2018-10-17 19:02] kaustavghosh06 commented on #128
@ahmetcetin We opened up an RFC as a part of this repo to gather information from customers.
Could you please respond to the same at https://github.com/aws-amplify/amplify-cli/issues/286

[2018-10-17 19:05] kaustavghosh06 commented on #298
@SunJang AND @SudduK Could you please share your annotated schemas?

[2018-10-17 19:07] kaustavghosh06 commented on #199
@hisham  Do you still have this issue? I tried to reproduce it but couldn't with v 0.1.27.

[2018-10-17 19:08] kaustavghosh06 commented on #289
@tobiasfriden  This seems to be fixed I believe with the latest CLI version.
 Please re-open this if you still have this issue.

[2018-10-17 19:08] #289 closed

[2018-10-17 19:19] kaustavghosh06 commented on #306
@dancomanlive This feature request is tracked as a part of https://github.com/aws-amplify/amplify-cli/issues/83 issue. Closing this since is a duplicate.

[2018-10-17 19:19] #306 closed

[2018-10-17 19:28] ahmetcetin commented on #286
- Are you managing frontend and backend code in the same repo?

- Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)

- Are separate deployment stages (approvals, canaries, etc.) important or mandatory?

- How would you like to handle rollbacks if a deployment of the frontend or backend fails?

- Do you require the

[2018-10-17 19:36] kaustavghosh06 commented on #229
@jaxondu `amplify api push` would only create an API if you don't want to deploy any other added services.

Quick question - Are you using windows? as a workaround for windows, can you execute `amplify auth push` followed by `amplify api push` and let me know if that fixes the issue?

[2018-10-17 19:48] jaxondu commented on #229
@kaustavghosh06 so using cognito user pool is added service? What other added services are there?

So is this a bug or I’m  not using CLI the right way? Is it possible to display instructions to run amplify push rather than showing the error message?

I use Mac.

[2018-10-17 19:50] kaustavghosh06 commented on #229
@jaxondu I've seen this issue pop up for windows, but if you're using Mac it shouldn't be an issue.
Can you do an `amplify status` and check what services are added to your project?

[2018-10-17 20:05] hisham commented on #199
To be honest, my current setup has veered so much from the amplify defaults/supported functionality that everytime I do a push (whether on api or auth), cloudformation wants to delete my user pool, so I stopped using the amplify push functionality and am just using amplify for it's `codegen` and `api gql-compile` functionality.

So feel free to mark this as can't repro and close it for now if you

[2018-10-17 20:13] brianhilst commented on #286
- Are you managing frontend and backend code in the same repo?

- Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)

- Are separate deployment stages (approvals, canaries, etc.) important or mandatory?

- How would you like to handle rollbacks if a deployment of the frontend or backend fails?

- Do you require the

[2018-10-17 20:20] jaxondu commented on #229
@kaustavghosh06 It listed api and auth.  As I told you it’s a clean project with just amplify init and api add. You can replicate the error by creating a test project.

Refer to this page https://github.com/aws-amplify/amplify-cli/blob/master/graphql-transform-tutorial.md

“There is currently a bug with the user pool creation. To make this work you need to have your own user pool and then pass the

[2018-10-17 20:50] kaustavghosh06 commented on #229
@jaxondu  No, that comment is wrong and we'll remove it.
I was able to successfully add an api (with cognito) for a new project using v 0.1.27 of the CLI. Below is the flow and the stacktrace. Did you do anything differently from me?

[code]

[2018-10-17 22:46] kaustavghosh06 commented on #199
@hisham The Cognito service time is working to get this fixed from the service side. I'll update issue #196, once I have an update from the service team.

[2018-10-17 22:46] #199 closed

[2018-10-17 22:48] kaustavghosh06 commented on #283
Closing this issue. Please, feel free to re-open this issue if the problem still persists.

[2018-10-17 22:48] #283 closed

[2018-10-17 22:50] kaustavghosh06 commented on #257
Closing this issue. Please, feel free to re-open this issue if the problem still persists.
Support for custom queries and mutations is covered as a part of #74. Closing it as a duplicate

[2018-10-17 22:50] #257 closed

[2018-10-17 22:52] kaustavghosh06 commented on #196
This issue seems to be fixed. Feel free to re-open this issue if the problem still exists.

[2018-10-17 23:09] hisham commented on #199
Great thank you!

On Wed, Oct 17, 2018 at 4:46 PM Kaustav Ghosh <notifications@github.com>
wrote:

[2018-10-18 06:09] jaxondu commented on #229
@kaustavghosh06 as I said I use amplify api push.

[2018-10-18 07:08] SunJang commented on #298
@kaustavghosh06
Unfortunately, I delete all (I am still under testing)

As far as I remember, if I create api by "amplify api add" then it fails when trying to push.
But if I create api by "amplify codegen add --appId xxxxxxxxxxxxx", it worked.

[2018-10-18 12:50] michalziolkowski opened #313 "model transforms: support custom id field"
**Do you want to request a feature or report a bug?**

FEATURE

**What is the current behavior?**

Currently every type annotated as @model has autogenerated id field even if id is specified in mutation input

**What is the expected behavior?**

I would like to be able to specify id in mutation id and have it respected if defined, if not it would autogenerate id as it does.

[2018-10-18 15:23] jaxondu opened #314 "API Add sort key and indexes for the DynamoDB table"
** Which Category is your question related to? **
Amplify API Add

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **

When creating an AppSync API with amplify api add, how does one specify a sort key and indexes for the DynamoDB table? Sort key and indexes are not possible to change after the table is created.

[2018-10-18 16:11] michaelcaterisano commented on #82
I was having the same issue with this schema:

`type Product @model @auth(rules: [{ allow: owner }]) {
  id: ID!
  name: String!
  price: Float!
  vendor: String
  category: String
  units: String
  defaultqty: Int
  maxqty: Int
}

type Order @model {
	id: ID!
	products: [Product!]!
}`

When I changed the schema to this (added a name field to the Order type), `amplify push` worked. Any idea why?

[2018-10-18 16:18] michaelcaterisano commented on #82
I've been having the same issue. It seems in my case that changing the schema definition fixed the problem. This did not work:

[code]

But this did (added `name` field to the Order type):

[code]

Any ideas why?

[2018-10-18 17:14] SudduK commented on #298
@kaustavghosh06
Please find the graphql schema I am trying to add.
`schema {
  query: Query
  mutation: Mutation
  subscription: Subscription
}

type Conversation {
  #The Conversation's timestamp.
  createdAt: String
  #A unique identifier for the Conversation.
  id: ID!
  #The Conversation's messages.
  messages(after: String, first: Int): MessageConnection
  #The Conversation's name.
  name: St

[2018-10-18 17:37] kaustavghosh06 commented on #298
@SudduK You would need to add at least one annotation to your annotate schema for it to be successfully compiled and pushed. For more information on GraphQL annotated schemas, please check out -> https://github.com/aws-amplify/amplify-cli/blob/master/graphql-transform-tutorial.md

[2018-10-18 17:43] kaustavghosh06 commented on #82
@mdahlke Can you run `amplify update auth` -> `Yes, use default configurations` and then `amplify push`? That should hopefully resolve your issue.

[2018-10-18 17:46] kaustavghosh06 commented on #82
@tenerifeonline can I take a look at your schema?

[2018-10-18 17:51] kaustavghosh06 commented on #229
@jaxondu Can you use `amplify push`? `amplify api push` won't deploy the auth resources which is a dependency. `amplify push` would deploy both the auth and api resources. We'll have a  validation check for this so that it fails before even deploying to Cloudformation.

[2018-10-18 18:10] kavaro commented on #82
@kaustavghosh06,  @tenerifeonline asked me to let you know that due to project pressure he was forced back to firestore for the current project. He will be watching amplify-cli closely going forward and plans to use it in a future project as it looks extremely promising, keep up the good work. Unfortunately, he lost his graphql schema because the "amplify delete" command removed the schema file an

[2018-10-18 18:18] mikeparisstuff commented on #82
@michaelcaterisano This issue will be fixed soon. The issue is that when trying to generate the CreateOrderInput type, there are no valid fields because "id" is stripped away as it is generated on the server and the connection field will not generate a field either. Adding the scalar field makes it work because it has a valid input field again. The fix is to add a check somewhere around here (http

[2018-10-18 19:41] jaxondu commented on #229
@kaustavghosh06 sure will use just amplify push. A message explaining what to do next would be useful when amplify api push detect a not valid auth stack. This thread shows that I’m not the only one confused by it.

[2018-10-18 20:20] hisham opened #318 "Group Authorization Limited by Cognito 25 Groups Per Userpool Limit"
**Is your feature request related to a problem? Please describe.**
Authorization by Group is great but since Cognito has a 25 group limit on userpool (see https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-user-groups.html), this method of authorization becomes very limiting.

Imagine a project management app where you can have many teams, each with their own tasks and us

[2018-10-18 22:02] SudduK commented on #298
@kaustavghosh06 Thanks Kaustav. I will go through this reference and let you know what I find out. (ignored this earlier)

[2018-10-19 00:39] baldo12 commented on #34
Same!

amplify -v
0.1.28
node -v
v10.10.0

PS C:\Projetos\> amplify init
Note: It is recommended to run this command from the root of your app directory
? Choose your default editor: Visual Studio Code
? Choose the type of app that you're building (Use arrow keys)
  android
  ios

PS C:\Projetos\>

[2018-10-19 17:33] kaustavghosh06 commented on #303
The fix for this is merged in the latest version of the CLI -> 0.1.28

[2018-10-19 17:33] #303 closed

[2018-10-19 17:33] kaustavghosh06 commented on #296
The fix for this is merged in the latest version of the CLI -> 0.1.28

[2018-10-19 17:33] #296 closed

[2018-10-19 17:36] kaustavghosh06 commented on #250
The fix for this is merged in the latest version of the CLI -> 0.1.28. You can now locally install the install.

[2018-10-19 17:36] #250 closed

[2018-10-19 17:39] #298 closed

[2018-10-19 17:40] kaustavghosh06 commented on #302
Please feel free to re-open this issue if the problem still persists.

[2018-10-19 17:40] #302 closed

[2018-10-19 17:41] kaustavghosh06 commented on #278
@mwarger Could you please check out v 0.1.28 and see if you can reproduce it?

[2018-10-19 18:38] kangks opened #325 "How to define batch AppSync mutations"
** Which Category is your question related to? **
How to create batch AppSync mutation as according to https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-batch.html

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **
How do I create a batch AppSync mutations as the example in https://docs.aws.amazon.com/appsync/lates

[2018-10-19 18:59] lahirian opened #327 "$input syntax in the codegen mutations is not working with graphqlOperations."
**Describe the bug**
Running amplify codegen creating mutations not supported by amplify graphqlOperations

**To Reproduce**
amplify codegen creates mutations like this:

[code]
However when I try to use it via this :
`
API.graphql(graphqlOperation(gqlToString(fp_mutations.CreateCity, {id: {city_name:city_name,zip_code:zip_code}})))

`
I get an error
`
path: null, locations: Array(1), message: "Va

[2018-10-19 19:16] yuth commented on #278
@mwarger could you share the content of your `<project-root>/.graphqlconfig.yml`. I am interested at looking at `includes:` section on that file.

[2018-10-19 19:34] mikeparisstuff commented on #327
@lahirian Thank you for bringing this up. We recently discovered this issue ourselves and have a fix in the works. @manueliglesias can you please update this ticket with any updates as they occur?

[2018-10-19 19:37] mikeparisstuff commented on #325
@kangks Thank you for the comment. We are actively working on building a customer resolver flow into both the Amplify CLI and GraphQL Transform that will allow you to define custom resolvers using VTL. This will allow you to attach a custom resolver to the `Mutation.batchAdd` field that was defined in your `schema.graphql` where you can implement the batch write mutation. In the future, the `@mode

[2018-10-19 19:42] mikeparisstuff commented on #305
@hisham This has been fixed in https://github.com/aws-amplify/amplify-cli/pull/285

[2018-10-19 20:14] mikeparisstuff commented on #314
Currently all `@model` tables have a single key named "id" and GSIs are used to manage connections but we are tracking an improvement to this in https://github.com/aws-amplify/amplify-cli/issues/56. In the future we hope to support custom key schemas as well as LSIs & GSIs that could, for example, be reused by `@connection` as well as expose new top level queries.

[2018-10-19 20:31] mikeparisstuff commented on #313
This has been discussed before here https://github.com/aws-amplify/amplify-cli/issues/56 (see option 2 in my answer). The implementation for this is simple so the real question is if this is the right thing to do. My main hesitation is that all `CreateXInput` objects will contain an optional "id" field that could cause confusion to newcomers who might think that they have to manage ids themselves

[2018-10-19 20:34] mikeparisstuff commented on #300
@ChrisWun and @brianhilst Thank you for bringing up. This does look like a missing feature. I will make a note of this and will report back when this use case has been accounted for.

[2018-10-19 20:36] mikeparisstuff commented on #262
Update. I am tracking this and will work on getting a fix in the next few days.

[2018-10-19 20:38] mikeparisstuff commented on #248
@hisham This is surprising as it should be getting caught by the GraphQL validation functions. I will look into this and figure out whats going on.

[2018-10-20 01:56] mwarger commented on #278
@kaustavghosh06 I get the same error after I updated.

[2018-10-20 06:06] IljaDaderko opened #329 "After amplify push (declined codegen) queries / mutations / subs are still generated"
**Describe the bug**
I expected that declining codegen step after `amplify push` would mean that it does not generate any pre defined mutations / queries / subscriptions for my scheme, instead all default ones are created i.e. create / get / list etc...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your project root
2. Add graphql api, edit your schema
3. Run `amplify push` and decli

[2018-10-20 08:09] stevemao commented on #144
0.1.28 still seems to have the same problem

[2018-10-20 08:10] stevemao commented on #144
`amplify push` always uses my default profile.

[2018-10-21 06:39] IljaDaderko commented on #83
This solves many server side validation use cases imho, was work on `@function` started already so we can follow / help you guys, or is this still at proposal stage?

[2018-10-21 08:31] gavinwilliams opened #330 "functions that listen to S3 events"
Is this possible without having to interact with the AWS console?

[2018-10-21 09:36] IljaDaderko commented on #286
**Are you managing frontend and backend code in the same repo?**
Yes

**Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)**
Separate entities

**Are separate deployment stages (approvals, canaries, etc.) important or mandatory?**
Yes

**How would you like to handle rollbacks if a deployment of the frontend or back

[2018-10-21 10:54] IljaDaderko opened #331 "Working with GraphQL playground / Queries after enabling Cognito is unclear"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
When creating GraphQL api that uses `@auth` template, we require to use Cognito as authentication mechanism.

After it is set up, we need to authenticate in AppSync console -> Queries in order to use GraphQL playground and view document

[2018-10-21 11:08] IljaDaderko opened #332 "Allow to use @auth (or new @authField) on type fields without requiring to use @model"
**Is your feature request related to a problem? Please describe.**
Feature request

**Describe the solution you'd like**
Assume we have a following model

[code]

If I want character data to be readable by all authenticated players, but only have character owner be able to read `assets` field, I don't have any other solution besides one mentioned below in "alternatives" section.

Making `Assets` a

[2018-10-21 15:51] kaustavghosh06 commented on #234
@ilrein would you please paste the entire Cloudformation stack trace from your terminal out here? Usually the stack trace is helpful, to know what exactly went wrong when deploying.

[2018-10-21 15:54] ilrein commented on #234
@kaustavghosh06 Here it is below:

BTW, thank you for this exceptional work you and your team are doing. This open source tech is phenomenal!

[2018-10-21 16:05] kaustavghosh06 commented on #234
Thanks @ilrein. Glad that you’re liking the project.

Quick question. What’s the region you’re deploying to? Also, would it be possible to paste the API addition flow if you still have it on your terminal? Would be easier for me to reproduce it.

[2018-10-21 18:13] hisham commented on #305
Great, thank you @mikeparisstuff for this and the rest of your work. :)

[2018-10-21 20:15] hisham commented on #318
Thanks for this @mikeparisstuff. Yes I did submit a request to Cognito to increase the group limit to 500. They are currently reviewing the request since the service team needs to approve it so atleast it was not an instant no! :)

As for your other proposed solution, I'm having trouble understanding why the need for the "editors" field in type Task. I want the "editors" to be anyone in "team". Wi

[2018-10-21 23:36] hisham opened #333 "Using required foreign key as owner field in @auth makes the foreign key required in the create input when it isn't really required..."
**Describe the bug**
I would say this is more of an enhancement request then a bug - if the create mutation resolver is overriding the owner field then no point making it required in the input.

**To Reproduce**

Let's say you have these models:

[code]

This will make the gql compiler create the following create input:

[code]

and the following line in the create mutation resolver:

`$util.qr($c

[2018-10-22 05:25] minbi opened #334 "[API] Does not respect file name pattern provided"
**Expected behavior**
Codegen should create source in Java package
[code]

**Current behavior**
[code]

**To Reproduce**
[code]

amplify version
0.1.23

[2018-10-22 15:24] jaxondu opened #335 "Allow more than one GraphQL API in a project"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to add more than one GraphQL endpoint in a project. There are use cases where multiple GraphQL endpoints are required, for security isolation, for code maintenance, or for multiple backend microservices.

**Describe the solution you'd like**
To allow multiple GraphQL endpoints in an Amplify project. To

[2018-10-22 16:53] michalziolkowski commented on #313
Yes, that would work for me, option #1 as well. My case is very similar, I
want to use cognito identity id as object id.
Thanks for pointing out this discussion and sorry for topic redundancy

pt., 19 paź 2018 o 22:31 Michael <notifications@github.com> napisał(a):

[2018-10-22 17:33] yuth commented on #278
This is caused because your include pattern `src/**/*.tsx` includes unrelated files as GraphQL statements. Can you move the GraphqQL statements to its own foloder (e.g., `src/graphql/`) and update your `.graphqlconfig.yml` to point it the newly created `graphql` folder. The updated file should look something as follows:
[code]

__PS__: If you are using the amplify codegen to generate the statement

[2018-10-22 18:58] pigmanbear commented on #286
Yes

Ability to Choose

Yes

Previous Version

Yes

No

Yes

All 3, focus on CloudFormation and TerraForm

Not currently.

Yes

Feature branches

support for different envs primarily, pipeline support would be a nice to have

All 3, focus on the first 2

[2018-10-22 21:14] #183 closed

[2018-10-23 04:50] michaelcaterisano commented on #82
Now trying the following schema and getting the same error. Will post the stack trace also. Consistently seeing "Cannot perform more than one GSI creation or deletion in a single update" in the trace.

[code]

And stack trace.

[code]

[2018-10-23 08:04] rayhaanq commented on #74
Hi, just wondering if there's any update on this?

[2018-10-23 09:17] dacz commented on #286
no. Our GraphQL endpoint is separate stack managed by serverless.

generally no, but can imagine cases, when yes.

Noce to have.

If fails, it will not be deployed.

no strong opinion

not now, but the requirement is practical.

Yes. But we manage this by separate stacks.

serverless.com

currently yes (backend serevrless.com, frontend amplify)

git

branches, merge requests and deploy if ok

we n

[2018-10-23 09:34] IljaDaderko opened #338 "Setting up google / facebook authentication in react-native app"
**Which Category is your question related to?**
Authentication

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**

I was trying to set up google authentication following these steps

1. Generated credentials for ios and web clients of my app in google cloud console
2. `amplify update auth` (already had auth set up as I am using `@auth` in my graphq

[2018-10-23 14:38] wagneraw commented on #256
To be more specific, I don't think this is purely a documentation fix. When you run "amplify add hosting" and choose "PROD" to provision S3 + Cloudfront, it's provisioning a publicly accessible bucket and a Cloudfront distribution, where it should be provisioning a Cloudfront distribution with OAI(origin access identity) setup for the S3 bucket along with a S3 bucket policy that only allows access

[2018-10-23 14:47] kaustavghosh06 commented on #256
@wagneraw You’re correct. Which version of the CLI are you currently using? We merged this PR -> https://github.com/aws-amplify/amplify-cli/pull/236 a couple of days back and it is a part of the latest CLI version.

[2018-10-23 15:03] wagneraw commented on #256
I'm on 0.1.28, which I thought was the latest?

amplify-js-app/ $ amplify --version
0.1.28

[2018-10-23 16:50] IljaDaderko commented on #338
UPDATE: I just tried same process with completely new app, just to make sure this was not related to `update` command. Got same result :/

[2018-10-23 17:11] powerful23 commented on #338
@IljaDaderko can you check your Cognito Federated Identity Pool configuration to see if Google is one of the provider?

[2018-10-23 17:15] haverchuck commented on #338
@IljaDaderko  - Thanks for posting.  Google authentication is represented a little bit differently in the Cognito console. Can you check the following in the console and let us know what you see?

1. In the identity pool, check Authentication Providers -> OpenID.  You should see something to the affect of 'accounts.google.com' with a selected checkbox.

2. In the IAM console, check 'Identity Provi

[2018-10-23 17:36] kaustavghosh06 commented on #256
@wagneraw Just checked our version control and saw that the PR got merged and is in an alpha npm branch. We'll publish it to a stable version to NPM in the next couple of days.

[2018-10-23 18:08] yuth commented on #234
@ilrein can you try it this with new amplify project? I could not reproduce the error with all the 3 categories in [auth, api and hosting] in my project. I managed to deploy these to us-west-2 with out any problem.

In the mean time could you also share `parameters.json` and `authcognito53fa181f-cloudformation-template.yml` from `<project-root>/amplify/backend/auth/authcognito53fa181f` folder.

[2018-10-23 18:54] mkrn commented on #286
Ideally not, perhaps with amplify in very small projects it could be the same repo. But most of the time there would be several web or web+mobile applications for same backend.

Separate entities

No

Similar to cloudformation

Yes. It would be great to be able to clone it to a different account, etc.

No

No

CloudFormation

Yes

Yes git

Feature + PR to master

Different environments

Cloudforma

[2018-10-23 18:57] mkrn commented on #74
The way we see we could go about it now is by using a custom cloudformation template with AWS::AppSync::DataSource and AWS::AppSync::Resolver

We noticed `amplify add function` with 3 templates (hello world, and two API Gateway related) , it would be great to have a Lambda Resolver template to be added in there as well (which would generate a DataSource, simple resolver mapping template and permis

[2018-10-23 19:12] IljaDaderko commented on #338
@haverchuck I can confirm that neither OpenID provider nor IAM have anything related to `accounts.google.com`

CLI did create Cognito user pool and some cognito related IAM roles correctly though, this is fresh project with auth added and pushed, on latest cli version.

Here are some things I can think of that deviate from ordinary setup

1. Amplify init uses user from `us-east-2`
2. During guided

[2018-10-23 19:25] mkrn opened #340 "Cannot set identityField to custom attribute using @auth"
**Describe the bug**
When using @auth directive and "owner" type rule with identityField set to `custom:fieldName` the generator creates invalid template code

**To Reproduce**
Create a model
[code]
The generated resolver templates will use invalid `$ctx.identity.custom:company` syntax in Ownership check sections

**Expected behavior**
I would expect the generators to use `$ctx.identity.claims.get

[2018-10-23 19:52] haverchuck commented on #338
@IljaDaderko -  do you see your webclient id under Identity Pool ->  Authentication Providers -> Google + in the Cognito console?

[2018-10-23 20:10] IljaDaderko commented on #338
@haverchuck yes its there, I also noticed this message

In my Google console, I created to oAuth credentials for web and ios client, cli asked for web one only, where as react-native ios app is using google plist file that has different client id for ios.

Never the less error I get implies that I don't have google sign in enabled at all?

[2018-10-23 20:35] michaelcaterisano commented on #82
I think I may have realized the issue. Once I add a `@connection` directive, it seems that it's not possible to remove it and then `amplify push` again. This seems to be because adding a `@connection` adds a GSI, which seems impossible to remove after adding. Is there a workaround for this? So far I've just had to `amplify delete` and start over when making changes to `@connection` directives.

[2018-10-23 22:35] mikeparisstuff commented on #332
Hey Ilja,

Adding per field @auth has been discussed before here (https://github.com/aws-amplify/amplify-cli/issues/111) and we came to a similar conclusion and definitely see the value of per field auth. In this case I think we may be able to leave it as same resolver since under the hood the implementation of what happens when something is found on an object and when something is found on a fiel

[2018-10-23 22:54] #305 closed

[2018-10-23 22:56] #217 closed

[2018-10-23 23:00] kaustavghosh06 commented on #314
Tracking this request in #56. Closing this as a duplicate.

[2018-10-24 01:56] mkrn commented on #340
The workaround is to set claims in Pre Token Generation Trigger lambda,

like this:
[code]

[2018-10-24 01:57] mkrn commented on #340
Another gotcha for newcomers is to make sure to use `idToken`:

In your front-end code:
[code]

[2018-10-24 05:35] IljaDaderko commented on #338
@haverchuck Looked through Cognito again this morning, here is some additional data that might help you

**Identity Pool**
1. Dashboard page has `Google Sign-In` mentioned (no reference to `accounts.google.com`)
2. Under `Edit identity pool` client id is present in `Google +` tab, nothing in OpenID

**User Pool**
1. Nothing related to OpenID or Google is enabled under `Federation` nor `App Integra

[2018-10-24 09:35] dancomanlive commented on #327
Same here:

[code]
Doesn't work but

[code]

works!

[2018-10-24 13:53] mkrn opened #342 "Adding custom query with @aws_auth directive doesn't work"
**Describe the bug**
When adding custom query to `type Query` and attempting to use @aws_auth from standard AWS Amplify docs it throws an error with Unknown directive "aws_auth".

**To Reproduce**
Add following to your schema:
[code]
2. amplify push
3. Error message would appear `Schema Errors: Unknown directive "aws_auth".`

**Expected behavior**
I would expect @aws_auth directive to be passed on

[2018-10-24 14:12] mkrn commented on #286
Right now testing if Amplify CLI could actually replace our existing CI/CD cloudFormation stack that worked like this:

- Bootstrap.yaml created  service roles and CodePipeline with 4 steps:
- repository pull,
- build (buildspec.yaml would do `sam package` on second template, iac.yaml )
- cloudformation deploy
- API Gateway deploy via custom lambda (since cloudformation updates won't redeploy it)

[2018-10-24 14:39] stevegula commented on #34
Correct, I'm not using the Linux subsystem.

[2018-10-24 15:39] angineering commented on #102
I also find this a very strange and frustrating limitation. I even tried to create a new cognito and replace the one in the setup doc, but it just ended up making a NEW cognito with that given name instead (overwriting the ids etc).

[2018-10-24 15:46] mkrn commented on #74
Adding a custom cloudformation template with Lambdas, DataSources and Resolvers and running `aws cloudformation deploy`  worked at first, as @mikeparisstuff  suggested, but one of the `amplify push` commands have overwritten these resolvers but subsequent `cloudformation deploy` would not  recreate them

[2018-10-24 15:52] kaustavghosh06 commented on #74
@mkrn We introduced a new flag with CLI version 0.1.29 for the amplify push command -‘amplify push —no-gql-override’ which wouldn’t override your resolvers on a push.

[2018-10-24 15:56] mkrn commented on #74
@kaustavghosh06  Yay! Thanks will give it a try.

[2018-10-24 16:13] lennybr opened #344 "@auth multi-owner rule: undefined ownerField on record grants access incorrectly"
**Describe the bug**
After #285 when using a multi-owner auth rule, if the value of the ownerField on a record is undefined rather than an empty list, the authorisation rule grants access by default instead of filtering it out for all users.

**To Reproduce**
1. Add to your schema
[code]
2. In **Query.listDraft.response** the authorisation code for a multi-owner field is currently generated as
[co

[2018-10-24 16:28] yuth commented on #327
@lahirian the mutation expects an `input` object which wraps `city_name` and `zip_code`. The update code would look like below:
[code]

[2018-10-24 16:29] angineering commented on #102
Finally figured this out looking at the template language.
Under `Type: AWS::Cognito::UserPool` set
[code]

This will create it with email instead of username setup.

[2018-10-24 16:55] lennybr commented on #318
Agree with @hisham that while closer, this doesn't really solve for the "team-wide" access issue. I wonder if a new type of @auth strategy thru connections could?

For example: ``{ allow: connection, connectionName: "TeamTasks", connectionField: "members" }`` and then on Team model, use the multi-owner strategy ``{ allow: owner, ownerField: "members" }``.

And then using nested resolvers, we can f

[2018-10-24 18:59] mikeparisstuff commented on #344
Please see the section titled "Ownership with create mutations" here https://aws-amplify.github.io/docs/js/graphql. In order to make owner auth as simple as possible, if you do not provide a value (aka undefined) when creating an object, the currently logged in user is automatically added as the owner. If the owner is a String then the user is the sole owner at that field and if the owner is a lis

[2018-10-24 19:35] lennybr commented on #344
Thanks @mikeparisstuff. The explicit deny access when the ownerField is missing seems more "secure" by default.

[2018-10-24 19:40] mikeparisstuff commented on #342
Hey @mkrn, thanks for bringing this up. This is fixed here https://github.com/aws-amplify/amplify-cli/pull/345

[2018-10-24 19:44] mikeparisstuff commented on #344
@lennybr That is fair. The inspiration for adding automatically was to prevent you from having to dig the value for your identityField out of the Cognito user on the client every time while still allowing you to be explicit when you wanted. I'm curious what other people think about this behaviour. Please feel free to chime in.

[2018-10-24 20:23] lennybr opened #348 "How to implement Custom GraphQL Transformer"
** Which Category is your question related to? **
AppSync GraphQL

** Provide additional details e.g. code snippets **
The docs at https://github.com/aws-amplify/amplify-cli/blob/master/how-to-write-a-transformer.md outline how to write custom transformers. But I was wondering how to actually integrate these into the amplify api gql-compile workflow?

[2018-10-24 20:50] wizage opened #349 "Plugin Creation best practices"
** Which Category is your question related to? **
Plugin creation
** What AWS Services are you utilizing? **
CloudFormation and S3
** Provide additional details e.g. code snippets **
So I looked through the documentation provided [here](https://aws-amplify.github.io/docs/cli/plugins), and it goes through setting up the environment. It would be nice to know what the best practices are for storing t

[2018-10-24 21:53] axptwig commented on #349
i am having this issue too!

[2018-10-25 00:50] hjvanoort3 commented on #3
I'm still having this problem unfortunately, using Amplify CLI 0.1.29 on a Mac. My AWS credentials file is:

[code]

After running "amplify init", I get...

[code]

..and it builds all resources in the default account.

[2018-10-25 02:53] ilrein commented on #234
Hey @yuth

I started a fresh project after updating to ```0.1.29```.

I can confirm everything works like charm! Time to build a startup right on top of this technology 🥇

Thanks for your hard work guys, can't wait to show you my application of it :)

[2018-10-25 03:32] mikeparisstuff commented on #348
We were actually discussing something like this today. There is no way to do it right now other than by building your own lightweight CLI that calls the transformer library under the hood. You can then load whatever transformers you want as well as write and include your own custom transformers. This is what is outlined in the doc and now on the amplify docs here https://aws-amplify.github.io/docs

[2018-10-25 07:04] IljaDaderko commented on #338
@haverchuck I went ahead and did that, this gets past initial error I had, but now returns

I assumed this is related to `2` from your guide, so I went ahead and made sure that my iOS apps google plist client id is same one I added to IAM audience and yep its all there (I also have my web client id there), so I am not sure why I am getting this error now.

Can it somehow be related to having `Goog

[2018-10-25 08:34] jaxondu opened #350 "API Add GraphQL can not query attributes by @auth"
**Describe the bug**
Amplify API Add GraphQL with @auth schema, query those custom attributes using AppSync console returns error.

**To Reproduce**
1. Create a new Amplify project with amplify init
2. amplify add api and select GraphQL
3. Setup API with Cognito User Pool authoriser
4. Use the following schema:

type Note
    @model
    @auth(rules: [{allow: owner, ownerField: "user"}])
    {
  id

[2018-10-25 13:45] gitjeff05 opened #351 "Create IAM user with least privileges"
**Is your feature request related to a problem? Please describe.**
`amplify configure` creates an IAM user with **administrative access** as [noted in the docs](https://aws-amplify.github.io/docs/cli/init#amplify-configure):

This seems to go against the _principle of least privilege_ outlined by the [AWS Well-Architected Framework - Security Pillar (July 2018) whitepaper](https://d1.awsstatic.com

[2018-10-25 13:45] gitjeff05 opened #4322 "Create IAM user with least privileges"
**Is your feature request related to a problem? Please describe.**
`amplify configure` creates an IAM user with **administrative access** as [noted in the docs](https://aws-amplify.github.io/docs/cli/init#amplify-configure):

This seems to go against the _principle of least privilege_ outlined by the [AWS Well-Architected Framework - Security Pillar (July 2018) whitepaper](https://d1.awsstatic.com

[2018-10-25 14:10] rriveras commented on #286
- **Are you managing frontend and backend code in the same repo?**
No
- **Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)**
Separately

- **Are separate deployment stages (approvals, canaries, etc.) important or mandatory?**
Yes
- **How would you like to handle rollbacks if a deployment of the frontend or backen

[2018-10-25 15:09] jaxondu opened #352 "GraphQL API @auth list items query give inconsistent and wrong results"
**Describe the bug**
Amplify API Add GraphQL with @auth schema, query listing of items give inconsistent and wrong results.

**To Reproduce**
1. Create a new Amplify project with amplify init
2. amplify add api and select GraphQL
3. Setup API with Cognito User Pool authoriser
4. Use the following schema:
type Note
@model
@auth(rules: [{allow: owner, ownerField: "user"}])
{
id: ID!
content: String

[2018-10-25 15:30] mikeparisstuff commented on #352
@jaxondu I believe you may be confused about how DynamoDB scan operations work. If you read here (https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Scan.html). The filter expression in a scan happens after the data is read from the partition. This means that if I say `limit: 10`, DynamoDB goes to the partition, reads 10 items, then applies the filter and discards any items that do n

[2018-10-25 15:46] mikeparisstuff commented on #352
If you look at that same issue #56, the easiest way to move forward would be to solve for option 2 that I mention in my comment. With this solution, you would be able to do this:

[code]

Then you would be able to create a user like this:

[code]

then create a note like this:

[code]

which would automatically set the owner field to the logged in users username. You could then efficiently get all

[2018-10-25 16:06] haverchuck commented on #338
@IljaDaderko -  Yes, I think your suggested change to the CLI is exactly what is needed.

I was able to get this to work by following the steps I listed above, and then adding the following to my test app:

[code]
There might still be an issue with getting the session after this point, which we will be taking a look at.

And yes, we need to update our documentation!

[2018-10-25 16:11] mikeparisstuff commented on #350
This is because you are not adding the `user: String` field to your Note type. Change your Note type to this and it will work as expected.

[code]

[2018-10-25 16:15] mrdavidhanson opened #353 "amplify init: -unauthRole doesn't exist"
**Describe the bug**
Running "amplify init" results in this error:

Template error: IAM role ampstarter-20181025120808-unauthRole doesn't exist.

**amplify --version**
0.1.29

**region**
us-east-1

**To Reproduce**
Steps to reproduce the behaviour:
1. npx create-react-app ampstarter

2. cd ampstarter

3. amplify init
settings:
- Choose your default editor: Visual Studio Code
- Choose the type of a

[2018-10-25 16:21] mikeparisstuff commented on #340
This is interesting. I think I agree that we should use `.get(identityField)` instead of dot notation to allow for this use case. This will also require changing the default identityField from `username` to `cognito:username` which is how it shows up in the claims object.

[2018-10-25 16:30] jaxondu commented on #352
@mikeparisstuff @yuth am I right to say that @auth in Amplify CLI is not suitable to be used for Todo/Note app with login? Those app with user login, list, create, delete own todos/notes.

[2018-10-25 16:46] parachut-daniel commented on #353
I don't know if this helps, however this issue arose after I "amplify delete"'`d on a react-native project. Although it seems to not be a project specific issue, fresh installs don't seem to work either.

[2018-10-25 16:50] mikeparisstuff commented on #352
@auth is responsible for protecting access to objects which it is doing correctly here. You are commenting on DynamoDB query/scan semantics which can, admittedly, be confusing esp if you are coming from a SQL background. With DynamoDB, you need to think about your query patterns when you create tables. You can create GSIs after creating the table but the fact remains that you have to configure the

[2018-10-25 16:53] mlabieniec commented on #351
Hello,

Lease privilege is definitely the best practice when using AWS. However, if you also note on page 15 of that document it does recommend CloudFormation as well, which is what the CLI uses to deploy your resources to AWS. The caveat here is that the user invoking CloudFormation creation and updates also requires permissions to interact with what the template has defined:
https://docs.aws.ama

[2018-10-25 17:03] IljaDaderko commented on #338
@haverchuck Awesome. I am not using expo, have native google sdk set up, which uses ios client id and I used web one in cli, I think this is my issue, should probably use ios everywhere for now (will check this tomorrow to be absolutely sure, away from mac for a while atm).

That cli change would be much appreciated! I can help out with doc pr if you drop few bullet points here :) Will this proces

[2018-10-25 17:21] UnleashedMind commented on #353
Could you try the the following steps, see if it resolves the issue:
1. check that no aws services has reached its limit
2. remove all amplify-cli artifacts on the local project.
3. execute `amplify init` again, and when prompted, enter a different project name that's never been used before, the "projectName" is used to prefix resource names, use a different name is to avoid name clash in aws.

[2018-10-25 17:30] adamup928 commented on #353
I can confirm this same issue. After following those three steps, I'm not prompted to enter a project name.  I don't see any remaining (visible or hidden files) artifacts in the directory.  `amplify init` still fails

[2018-10-25 18:17] haverchuck commented on #338
@IljaDaderko - For now these will need to be manual, but yes eventually this should be totally automated through CLI.  It's in our backlog.

Our federated signin documentation shows a non-Expo method for getting the google token... I'm assuming that's what you are using.

[2018-10-25 18:28] wyjiao commented on #247
Hi @yuth,
Any structure including AWSDateTime would break the code-gen, for example:
`
type Data{
  localTime: AWSDateTime
}
`

[2018-10-25 18:50] d3v0purr commented on #353
Thanks for all of your replies!

Here is a screenshot from the AWS Console of the Events for the corresponding failed Cloud Formation Stack that amplify init generated:

<img width="1232" alt="stack_detail" src="https://user-images.githubusercontent.com/447305/47521681-a0713080-d861-11e8-91d4-b8dceb82fe03.png">

@UnleashedMind -

My AWS account has not hit any limits. I encountered this issue at l

[2018-10-25 20:23] gitjeff05 commented on #351
This almost sounds like it might be a good candidate for a plugin or extension? The minimal set of privileges could be determined by the ``amplify/amplify-meta.json`` correct? So a plugin could:

1. Create the policies representing least privilege.
2. Add a group backed by those policies.
3. Assign the user to that group and drop Administrator (User must be able to switch it back to Administrator)

[2018-10-25 20:35] yuth commented on #247
@wyjiao thanks for reporting this. We are in the process of forking [aws-appsync-codegen](https://www.npmjs.com/package/aws-appsync-codegen) and once its forked we will add support for all AWS scalar types.

[2018-10-25 20:58] gitjeff05 commented on #351
Or maybe a generic security plugin that locked down the privileges for the IAM user among other things (e.g., setup alarms and monitoring). I'm just thinking aloud here...

[2018-10-25 21:53] mikeparisstuff commented on #340
Addressed in https://github.com/aws-amplify/amplify-cli/pull/354. @mkrn it would be great to get your eyes on it if you have a few minutes.

[2018-10-25 21:57] mikeparisstuff commented on #335
Thanks for the feature request. We will use this ticket to track this item as we prioritize. It would be nice to allow multiple APIs in one project. The goto use case to me is to allow a publically available API with IAM auth enabled and then a user based API with user pools enabled in the same project.

[2018-10-25 22:55] aldarund opened #355 "amplify init stuck after choosing editor"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
amplify init  and then choose any editor ( doesnt matter which, result is same)

**Expected behavior**
obv init project, continue with other questions etc

**Screenshots**
https://i.imgur.com/wXyfkeO.png

**Desktop (please complete the following information):**
 - OS:  Windows 10 x64
Node 11
[code]

[2018-10-25 23:50] wizage opened #357 "Remove the requirement for plugins to use their name before add."
**Is your feature request related to a problem? Please describe.**
When developing a plugin it would be nice to see the same improvements that is seen when using a default plugin. When using a default plugin you can swap add like so : `amplify add api` vs `amplify api add`. This should happen for all plugins not just default plugins.

**Describe the solution you'd like**
It would be nice to enable

[2018-10-26 05:26] DanNeish opened #358 "@auth with list of owners results in "type mismatch error, expected type LIST""
**Describe the bug**
When creating an item that has auth specified as a list of owners without specifying the owner on creation results in the owner field being automatically assigned a "string" rather than ["string"].

**To Reproduce**
Create a new Amplify project with amplify init

amplify add api and select GraphQL

Setup API with Cognito User Pool

Create the following schema
[code]

amplify p

[2018-10-26 05:37] IljaDaderko commented on #338
`window.gapi.auth2.getAuthInstance();` this is bit of documentation you are referring to as non-Expo method, correct? I believe this method only works for env's that expose `window`

My implementation is based on https://github.com/react-native-community/react-native-google-signin
I will be testing it with just iOS client id today, as I'm pretty confident I don't need to specify web one at this ti

[2018-10-26 06:51] bright-sea commented on #355
Same with me. Window 7 enterprise edition, Node10   amplify 0.1.29

[2018-10-26 09:30] tamsynjennifer commented on #102
@angineering I am not sure I understand how you solved the problem? If you set up Cognito with the Amplify Cli (using the terminal and going through the custom set up options) it doesn't allow you to select Email as username. It gives you other options such as adding any attributes you want but not "Email as Username". Once Cognito is set up I don't seee how you can change the username setting...

[2018-10-26 15:40] mkrn commented on #340
@mikeparisstuff  Thanks, trying to setup for development will update as soon as I'm able to check it

[2018-10-26 16:31] yuth commented on #355
@aldarund Currently amplify-cli needs WSL to work. Could you try with WSL

[2018-10-26 16:33] aldarund commented on #355
hm. why it cant work on win without wsl?
amplify configure worked fine.

[2018-10-26 16:44] yuth commented on #355
amplify uses [Gluegun](https://github.com/infinitered/gluegun) and gluegun doesn't work well in windows without WSL. We have opened an [issue](https://github.com/infinitered/gluegun/issues/384) with them.

[2018-10-26 17:34] mikeparisstuff commented on #358
Is this your exact schema?

[code]

If so you need to capitalize "string" to be "String".

[code]

The schema validation should have caught this. I will look into why it didn't error at build time.

[2018-10-26 17:35] UnleashedMind commented on #357
Swap verb position is already implemented for all plugins, not just for official plugins.
If you follow the plugin naming convention, it'll be there.

[2018-10-26 17:36] mikeparisstuff commented on #262
This is fixed in #359

[2018-10-26 19:15] mikeparisstuff commented on #352
This is fixed by #356. There is a test case in this file (https://github.com/aws-amplify/amplify-cli/pull/356/files#diff-ba335004cbb001babdb0ce37a4ce2945) that shows how you can use @auth and @connection to easily create relationships between objects and their owners.

[2018-10-26 19:36] qucode1 opened #360 "update/ deletion mutation error (DynamoDB:AmazonDynamoDBException)"
**Describe the bug**
I created a graphql api with the amplify-cli, which works for queries and creation mutations but throws an error when I am trying to update or delete.

Error in Appsync Console:

[code]

**To Reproduce**

`amplify --version: 0.1.29`

This is my schema:

[code]

generated resolver:

[code]

**Expected behavior**
No errors...

**Screenshots**
listQuery:
![Queries](https://i.gyaz

[2018-10-26 19:55] jaxondu commented on #352
Thanks will take a look.

[2018-10-26 20:02] tamsynjennifer commented on #102
@angineering Thanks! I understand now. It worked for me too! :)

[2018-10-26 20:17] DanNeish commented on #358
@mikeparisstuff sorry I made a mistake, I had tried many different ways before I simplified it down to the schema I provided and manually updated the string field - you are correct, it should be `String`, the schema validation does flag this as an error.

I have run through the steps on a new project and copied the exact code that was used (updated in the original post. The error still exists.

[2018-10-27 10:42] IljaDaderko opened #362 "Adding facebook fedarated identity users to admin group?"
**Which Category is your question related to?**
Auth

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I used CLI to set up facebook login in my app and was able to successfully log in. I can also see entry in my cognito identity pools.

With everything going good thus far I went to cognito user pool, but could not see any new user entries there.

[2018-10-27 18:41] gjmveloso opened #363 "peer dependency on `inquirer` missing"
**Describe the bug**
 `@aws-amplify/cli@0.1.29` installation is warning about a peer dependency that is missing:

Which makes `npm list -g to throw an error message:

**To Reproduce**
Steps to reproduce the behavior:
1. Install @aws-amplify/cli by `npm install -g @aws-amplify/cli
2. See the warning message after the installation

**Expected behavior**
`aws-amplify/cli` should be able to install it

[2018-10-28 00:23] #358 closed, assigned to mikeparisstuff

[2018-10-28 01:30] officeguy opened #365 "Tag Support"
please add tag support to AWS Amplify cli, so that all resources can be tagged automatically at creation time with the tags you specify via a --tags argument

[2018-10-28 10:09] wadim commented on #38
This is just a guess since I don't have any better information.

Please correct me if anything seems incorrect or misleading.

This is what I added to `.gitignore` based on my *very limited insight* into how these are used. Nonetheless, it has made it bearable to work with amplify under a git repo.

[code]

[2018-10-28 15:43] qucode1 commented on #360
Small Update:
- deleting the api and recreating it does not make a difference
- It works fine if I remove the dynamic groups rule like this:

[code]

[2018-10-28 18:21] hisham opened #366 "amplify push dry run?"
** Which Category is your question related to? **
deployment for all categories

Is there a way to do a dry run of 'amplify push' to see what changes it would make without actually doing anything? I understand CloudFormation supports something like this through change sets. Does amplify expose this somehow?

[2018-10-28 19:13] hisham commented on #199
Hey @kaustavghosh06 - fyi I have my amplify push working again and it is still saying "Update" for operation even though I have succesfully pushed. It is doing that for both auth and api now.

[2018-10-29 01:45] kevinwolfcr commented on #286
# Thanks for making this RFC! 🙌🏻 🙏🏻

## Are you managing frontend and backend code in the same repo?

No, right now we haven't been able to start using amplify backend features since it does not handle stages yet, so we have the following repos:

- A monorepo for mobile/web applications consuming AWS resources through amplify front end (since they share some UI components)
- A repo for cloud servi

[2018-10-29 18:02] mikeparisstuff commented on #82
@michaelcaterisano How many [pairs of] @connection fields were you tweaking in the single update? I believe the issue only occurs when making changes that result in more than 1 GSI create/update/delete on a single table. In the short term, you can get around this issue by breaking up the push into multiple steps where you only change 1 connection at a time. In the long term, I think we can get aro

[2018-10-29 18:13] #295 closed

[2018-10-29 18:43] haverchuck commented on #362
@IljaDaderko  - Logging in via facebook would not automatically add a user to the userpool.

[2018-10-29 18:49] kaustavghosh06 commented on #262
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:49] #262 closed

[2018-10-29 18:50] kaustavghosh06 commented on #352
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:50] #352 closed

[2018-10-29 18:51] kaustavghosh06 commented on #56
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:51] #56 closed

[2018-10-29 18:51] kaustavghosh06 commented on #313
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:51] #313 closed

[2018-10-29 18:51] kaustavghosh06 commented on #340
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:51] #340 closed

[2018-10-29 18:52] kaustavghosh06 commented on #342
This issue is fixed and would be a part of the next CLI version (0.1.30).

[2018-10-29 18:52] #342 closed

[2018-10-29 19:41] lennybr commented on #348
About half-way thru building my own CLI copy I thought I would check, glad to know I wasn't missing something obvious. A system to include via flag/settings would be great in the future.

[2018-10-29 19:47] michaelcaterisano commented on #82
Excellent, thanks!

[2018-10-29 21:06] jaxondu commented on #352
@mikeparisstuff @kaustavghosh06 @yuth @undefobj this article by your colleague in AWS is having the same thought about @auth and same error in listNotes as I encountered in this issue: https://medium.com/open-graphql/create-a-multiuser-graphql-crud-l-app-in-10-minutes-with-the-new-aws-amplify-cli-and-in-a-few-73aef3d49545 I have informed the article author via Twitter. It could be due to some majo

[2018-10-30 00:47] wizage opened #370 "Amplify CLI Plug-In: Amplify push doesn't push all resources copied over from amplify.copyBatch()"
**Describe the bug**
When writing a plug-in Amplify push doesn't upload all the files (only the cloudformation templates) found in the backend directory created for the resource. This should be a desired behavior to upload anything that is written using amplify.copyBatch() to S3.

**To Reproduce**
1. Create a new amplify plugin not associated with any of the default Amplify support services.
1. Co

[2018-10-30 00:57] UnleashedMind commented on #370
That's the intended behavior of the awscloudformation provider plugin.
For the third party plugin, if you want to upload other contents into the deployment bucket, you have two choices:
- you can write the logic into the category plugin
- you can write another provider plugin to upload the contents, and your category plugin uses the new provider plugin instead of the default awscloudformation prov

[2018-10-30 01:33] wizage commented on #370
Should that be the intended behavior if we want to encourage users to use cloudformation as the default provider?

[2018-10-30 10:43] amymc commented on #242
Just to clarify I have tried running `amplify update api` as per the docs but that command doesn't seem to exist. When I run it I just get a list of suggested commands.

[2018-10-30 10:44] DanNeish opened #372 "Many to Many with @auth rules Schema Implementation"
I'm trying to create a React app with an Amplify API backend and Cognito User Pool and am not sure how to implement the schema for a particular use case. I'm new to Amplify, GraphQL and DynamoDB so any advice would be greatly appreciated.
Imagine a Project Management app that consists of Users, Goals and Tasks. I have written out what I'm trying to achieve below, with the auth rules also listed. I

[2018-10-30 15:08] wizage commented on #370
If moving forward on this it is decided that this is intended behavior then it should be documented.

Also, it should then be documented on how to communicate with AWS services. Including where to get credentials and should we use the default node-js AWS sdk.

[2018-10-30 17:07] dougcpr opened #373 "Amplify Push for Storage (Resource is not in the state stackUpdateComplete)"
** Which Category is your question related to? **
I am trying to add storage to my app with the Amplify CLI. I am following the instructions at https://aws-amplify.github.io/docs/js/storage.

** What AWS Services are you utilizing? **
I am using Amplify CLI v0.1.29.

** Provide additional details e.g. code snippets **
Douglass-MacBook-Pro:hobbit-tracker docooper$ **amplify push**
| Category | Reso

[2018-10-30 17:13] kaustavghosh06 commented on #373
@dougcpr  Could you provide the full Cloudformation stack trace?

[2018-10-30 17:32] dougcpr commented on #373
@kaustavghosh06 thank you for the quick reply.

I looked up the failed stacks and deleted stacks for storageHobbitDB wasn't in the complete or active stack.

<img width="930" alt="screen shot 2018-10-30 at 12 29 16 pm" src="https://user-images.githubusercontent.com/15065698/47737724-878cc480-dc3f-11e8-827a-fff842fd7909.png">

I had this log where the create failed for storage DB in my console.

UP

[2018-10-30 17:42] kaustavghosh06 commented on #373
@dougcpr Which node version are you using? You can check by using 'node -v'

[2018-10-30 17:54] dougcpr commented on #373
@kaustavghosh06
I am using node v11.0.0 and npm v6.4.1

[2018-10-30 18:02] kaustavghosh06 commented on #373
After you change the node version, you might want to run `amplify configure project` command and then run `amplify push`.

[2018-10-30 18:13] dougcpr commented on #373
I ran those steps and when I amplify push, it was trying to look for a folder that doesn't exist in my amplify directory.

<img width="986" alt="screen shot 2018-10-30 at 1 11 27 pm" src="https://user-images.githubusercontent.com/15065698/47740274-5fa05f80-dc45-11e8-833e-d9800db09072.png">

<img width="254" alt="screen shot 2018-10-30 at 1 11 12 pm" src="https://user-images.githubusercontent.com/1

[2018-10-30 18:28] kaustavghosh06 commented on #373
Since you haven't published the storage category to the cloud, can you do an `amplify storage remove` and then add the storage category again using `amplify storage add` and then `amplify push` in the meanwhile to unblock yourself?

I'll try reproducing this issue.

[2018-10-30 18:45] yuth opened #375 "Add support for complex objects in the codegen generated swift code"
**Is your feature request related to a problem? Please describe.**
AWS Appsync SDK supports complex objects by passing `--add-s3-wrapper` flag to `generate` command. But the swift code generated by amplify codegen doesn't support complex types

**Describe the solution you'd like**
Ask users if they want to support complex types in the generated code

[2018-10-30 18:50] UnleashedMind commented on #353
We weren't able to reproduce this issue in the past couple of days within the team, we've contacted our service team to help investigating into this issue.

[2018-10-30 19:15] gustavo-rios opened #376 "amplify delete command doesn't really delete all files"
When executing "amplify delete"  you receive a message that says: "Are you sure you want to continue?(This would delete all the project from the cloud and wipe out all the local amplify resource files)"

But I see that at least a couple of files are actually left in the project folder,  .amplifyrc  and src/aws-exports.js

This is using VS Code as my editor and Angular as the base project.

Just FY

[2018-10-30 19:50] kaustavghosh06 commented on #373
Can you do an `amplify status` and check if the storage category is still present?

[2018-10-30 20:15] dougcpr commented on #373
I get the same error as above when trying to do an amplify command.

Douglass-MBP:hobbit-tracker docooper$ amplify status
/Users/docooper/.npm-global/lib/node_modules/@aws-amplify/cli/node_modules/gluegun/build/index.js:13
    throw up;
    ^

Error: ENOENT: **no such file or directory, stat '/Users/docooper/webdev/hobbit-tracker/amplify/#current-cloud-backend/storage/hobbitDB'**

[2018-10-30 20:42] kaustavghosh06 commented on #373
Okay. To unblock, please remove the storage JSON block from amplify/backend/amplify-meta.json file (please note, that it is amplify/backend/ and not amplify/#current-cloud-backend), and then run `amplify push`.

[2018-10-30 21:46] dougcpr commented on #373
Thanks for your help! I was able to remove it and add a storage. The log showed it was successfully added too. I assume this will be the link in working with stacks?
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html

<img width="1145" alt="screen shot 2018-10-30 at 4 44 28 pm" src="https://user-images.githubusercontent.com/15065698/47752667-16f79f00-dc63-11e8-8f4d-7a1b008a

[2018-10-31 00:07] jabzumnd commented on #288
For when will the feature be?

[2018-10-31 00:11] natebushman opened #377 "amplify codegen doesn't properly handle AppSync graphql array args, or required array args"
Using:

"@aws-amplify/cli": "^0.1.29"
"aws-amplify": "^1.1.5",

Steps:

When the Amplify CLI is used (with a command like "amplify update codegen") to auto-generate mutations.js and/or queries.js and/or subscriptions.js for an [*existing* AppSync API (where the API was added to the project using "amplify add codegen --apiId <the API ID>")](https://github.com/aws-amplify/amplify-cli/blob/master/nat

[2018-10-31 01:07] natebushman commented on #377
My guess is that this has something to do with missing fields in GQLTemplateArgDeclaration in amplify-cli/packages/amplify-graphql-docs-generator/src/generator/types.ts

When the graphql is being generated, getArgs() is called and is used with GQLTemplateArgDeclaration.  getArgs() does indeed return whether the arg is an array (isList) and if it is required (isListRequired), however GQLTemplateArg

[2018-10-31 01:46] natebushman commented on #377
So as an experiment I cloned the amplify-cli repo and then modified GQLTemplateArgDeclaration so that it looks like this (I added the missing isList and isListRequired fields):

[code]

I then rebuilt amplify and ran the "amplify update codegen" command and the output is definitely more correct, although not entirely correct.  The generated output for the aforementioned addUsersToList mutation now

[2018-10-31 07:22] ilrein opened #1589 "Schema review + Accessing GraphQL IDE"
** Which Category is your question related to? **

Graphql (schema)

** What AWS Services are you utilizing? **

AppSync

** Provide additional details e.g. code snippets **

I am able to deploy my ```schema.graphql``` when using the default options. When I tried to create my own, using the existing example, it would throw and error on create:

[code]

Is there something wrong with my schema synta

[2018-10-31 15:18] TigerJ opened #379 ".cmd left in project config when changing from windows to non windows after running 'amplify configure project'"
**Description**
When a project that was configured on windows is moved to a non-windows environment and reconfigured using 'amplify configure project' the resulting configurations do not correctly remove the build and start '.cmd' suffix from npm. This does not happen when transitioning a project from a non-windows to a windows environment.

**To Reproduce**
Steps to reproduce the behavior:

1. Go

[2018-10-31 16:25] yuth commented on #377
@natebushman Thank you for reporting this issue. I have fixed this in #336. The change is pending release.  But you could get the fix by installing canary version from NPM. I am closing this issue, but feel free to re-open it, if you think the issue is not fixed.

[2018-10-31 16:25] #377 closed

[2018-10-31 16:29] yuth commented on #216
I have fixed the issue in #336. This fix is pending release and should be included in `0.1.30`

[2018-10-31 20:40] mwarger commented on #29
@kaustavghosh06 Any updates on windows support with gluegun?  Thanks!

[2018-10-31 22:10] natebushman commented on #216
@yuth

Thanks for your help on this issue.

I tested your latest code and there are still problems, but I will provide the solution below.  When dealing with array/list parameters in GraphQL, there are actually **four** permutations that must be dealt with.  They are:

1. Nullable List Type:  [<type>]    e.g.   [String]
2. Nullable List of Non-null Types:  [<type>!]     e.g .  [String!]
3. Non-nul

[2018-11-01 06:55] chrisl777 opened #382 "When adding analytics, the CLI attempts to edit attributes for existing UserPool, push fails with "Updating alias attributes is not allowed""
**Describe the bug**
I'm attempting to add the analytics category to an Amplify project. It's a React web app project that already contains Auth, Hosting and Api categories that are already published and functioning. When I add the analytics category and push, the push fails as it's apparently trying to modify the Cognito user pool in an invalid way.

**To Reproduce**
-Set up Amplify project, add

[2018-11-01 09:28] LosD commented on #131
@kaustavghosh06 If you just dropped that stupid menu system as a requirement for using amplify-cli, most issues would be gone instantly (and it could be scripted).

It's a pretty poor CLI when it can't run non-interactive.

[2018-11-01 15:07] kaustavghosh06 commented on #131
@LosD that’s exactly what hat we’re working on at the moment. Checkout this PR - https://github.com/aws-amplify/amplify-cli/pull/371

[2018-11-01 15:42] VetBoard commented on #355
This is happening to me too. I have installed WSL, but still doesnt work. Any idea?

[2018-11-01 15:54] NYCSwan commented on #363
Any luck with this issue? I've run into the same problem. It won't display the 'type of app' or let me configure amplify.
OS: mac 10.13.6
node: 11.0.0
yarn: 1.10.1
amplify/cli: 0.1.27, 0.1.29
amplify-react-native: 2.0.8
amplify: 1.1.8

I got the same warning using 1.29. When I rolled back to 1.27 I did not get the error but I still could not get the app init'd. Tried deleting node_mods, clearing y

[2018-11-01 16:09] LosD commented on #131
@kaustavghosh06 ah, that's perfect! Thanks for the heads up 🙂

[2018-11-01 16:13] undefobj commented on #131
@LosD we are working on this as mentioned. One thing I would like to comment on though is your statements using words like "stupid". Please be respectful when commenting in our issues and [follow our Code of Conduct as outlined](https://github.com/aws-amplify/amplify-cli/blob/master/.github/CODE_OF_CONDUCT.md). We endeavor to make the experience great for all customer workflows, but we want to do

[2018-11-01 16:21] kaustavghosh06 commented on #363
@NYCSwan Could you please provide the error stack?

[2018-11-01 16:41] LosD commented on #131
@undefobj I'm sorry, you're absolutely right.

[2018-11-01 16:46] VetBoard commented on #355
I'm sorry but there is no error... it just stuck there, with the cursor blinking, but nothing happens just after I select the editor.

[2018-11-01 17:00] aldarund commented on #355
Yes, there no error stack trace. It just stuck doing nothing as in screenshot in my initial message

[2018-11-01 23:13] sadooghi opened #385 "timeline for migration path from mobile CLI to amplify CLI"
We have already built an app using Mobile CLI but want to transfer to amplify CLI. Can you please provide timelines for the migration path from Mobile CLI to Amplify CLI (i.e. support/import existing resources from mobile hub to amplify). We want to invest resources for the transition and we (and many other people using Mobile hub) would better utilize their resources if they knew rough timelines

[2018-11-02 02:17] jamonholmgren commented on #275
@kaustavghosh06 I posted on the other issue too, but could you try beta 12 and see if it fixes this issue on Windows?

[2018-11-02 12:46] pt7892 commented on #355
Same issue here, stuck on selecting default editor

[2018-11-02 22:12] mikeparisstuff commented on #91
For future reference, we have new docs on `@connection` here https://aws-amplify.github.io/docs/js/graphql#connection.

[2018-11-02 22:13] mikeparisstuff commented on #30
@caki0915 There are docs on using S3 with Amplify here https://aws-amplify.github.io/docs/js/graphql#s3-objects

[2018-11-02 22:13] GSynergy commented on #313
When is 0.1.30 expected?

[2018-11-03 01:07] GSynergy commented on #313
Thanks Kaustav,  Just tested scenario #2 and that worked.

Anuj

On Fri, Nov 2, 2018 at 6:22 PM Kaustav Ghosh <notifications@github.com>
wrote:

--
Anuj
(404) 661 9776

[2018-11-03 10:01] dabit3 opened #389 "Make auto-generated cognito user pool & identity pool use project name"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When a new API is created using the Amplify CLI, the CLI autmatically recognizes this & uses it as the name in the prompt. Currently, when using the CLI to create authentication using the preconfigured options, the CLI creates a project name similar to cognitode149d10_userpool_de149d10
 & co

[2018-11-03 13:02] tamsynjennifer commented on #327
When importing a mutation from the autogenerated file I get an error "TypeError: Must provide Source." If I delete the gql from the autogenerated file below then it works. Instead of this (which doesn't work):
`
// this is an auto generated file. This will be overwritten
import gql from "graphql-tag";
export const CreateUser = gql`
  mutation CreateUser($input: CreateUserInput!) {
    createUser(i

[2018-11-03 17:15] attilah commented on #355
I was pretty frustrating and I spent some time to look into it. This issue is caused by inquerier component.

Unfortunately amplify-cli is not using the same version of all the dependencies. CLI itself using 3.2.1 and it has this issue, from 5.0.0 it is fixed.

I tried the inquerier versions 1 by 1 and 5.0.0 is the first one which runs their pizza example well, all the others are stuck after print

[2018-11-03 18:04] #157 closed

[2018-11-03 18:04] #350 closed

[2018-11-03 18:04] #258 closed

[2018-11-03 18:05] #58 closed

[2018-11-03 18:05] #60 closed

[2018-11-03 18:05] #335 closed

[2018-11-03 20:45] #362 closed

[2018-11-03 21:51] pechisworks commented on #172
I've got the same error. I wanted to remove the existing cognito userpool from my project.
After removing the `AuthCognitoUserPoolId ` field from parameters.json (as @Jayphen mentioned) i was able to do `amplify push`.

[2018-11-04 14:15] ilrein commented on #234
I think it's possible the issue is broken syntax in the ```schema.graphql```. Publishes will fail if the syntax doesn't get validated.

[2018-11-04 15:36] miketheman opened #391 "Generated template file contains a ton of trailing whitespace"
**Describe the bug**
When following the tutorial to generate a template for auth, the resulting template yml file contains tons of trailing whitespace which makes adding to source control appear like a problem, as a `git status` will show red when there's trailing whitespace.

**To Reproduce**
Steps to reproduce the behavior:
Seen specifically with https://github.com/aws-amplify/amplify-cli/blob/m

[2018-11-04 17:57] animalmagnetic commented on #276
Same here for London. Please let us know when we should expect new regions to be available.

[2018-11-04 19:40] #355 closed

[2018-11-04 20:56] rayhaanq opened #392 "Adding validation to fields in graphql api schema"
** Which Category is your question related to? **
Amplify GraphQL API

Is it possible to add validation to fields in the schema file? So min/max length, min/max value etc? If I had a field on a Person type and wanted to limit their name field to 250 characters, is that possible using the schema file only? Otherwise how can this be done?

[2018-11-05 02:07] blbradley commented on #235
I think this could be done with Cognito Identity Pools, but I'm not sure if the currently generated resolvers are compatible.

[2018-11-05 03:01] undefobj commented on #235
@cadejscroggins @blbradley we are looking at doing this, but the key problem is that doing Fine Grained Access control might be limited since AWS credentials aren't the same as OIDC tokens from Cognito and therefore the `$context.identity` object which is available in a GraphQL resolver won't have a `username` for us to filter requests on in the same manner.

If we opened up `@auth` to allow for A

[2018-11-05 03:33] KSamra commented on #373
I'm having the same issue and the instructions above did not fix my issues.
`UPDATE_IN_PROGRESS          syadev-20181104165911 AWS::CloudFormation::Stack Sun Nov 04 2018 19:32:02 GMT-0800 (PST) User Initiated
UPDATE_IN_PROGRESS          authcognitof491a051   AWS::CloudFormation::Stack Sun Nov 04 2018 19:32:06 GMT-0800 (PST)
CREATE_IN_PROGRESS          storagesyabucket      AWS::CloudFormation::Sta

[2018-11-05 09:15] rahulbhankar786 commented on #135
@kaustavghosh06 Not working with v0.1.19

[2018-11-05 10:28] rizerzero commented on #37
@jadbox Hi, did you find a solution or a workflow that works for you ?

[2018-11-05 11:46] PaulBurridge-kcom commented on #38
I have done a fair amount lot of testing around this and discovered the following with Amplify version 0.1.31:

Using the ```amplify configure project``` command which is described in the documentation as for use _"When sharing your backend infrastructure code with multiple team members working on different machines"_ fails unless you have the following in place:

[code]

This is at odds with the

[2018-11-05 12:00] miketheman commented on #391
@attilah likely a good practice. I've used pre-commit.com in other projects before quite successfully.

[2018-11-05 19:51] hisham opened #395 "More clarification needed on S3Object usage with GraphQL transformer..."
** Which Category is your question related to? **
graphql-transformer

** What AWS Services are you utilizing? **
appsync graphql-transformer, s3

** Provide additional details e.g. code snippets **
In #274, it's claimed that the graphql-transformer supports s3 objects out of the box. And https://github.com/aws-samples/aws-amplify-graphql and https://github.com/aws-samples/aws-amplify-graphql/blob

[2018-11-05 19:52] kaustavghosh06 commented on #38
@PaulBurridge-kcom We're actively working right now on making inter-team and intra-team workflows, and CI/CD workflows better as a part of the Amplify CLI which should solve all the above-mentioned issues that you've mentioned.

[2018-11-05 19:54] kaustavghosh06 commented on #37
@rizerzero  We're actively working right now on making inter-team and intra-team workflows, and CI/CD workflows better as a part of the Amplify CLI (based upon our RFC #286) which should solve this issue and make your experience of re-initing an existing project and sharing of a project within teams simpler.

[2018-11-05 19:54] kaustavghosh06 commented on #373
@KSamra Which version of node are you using?

[2018-11-05 19:56] kaustavghosh06 commented on #234
@JinHoSo Could you share your GraphQL schema?

[2018-11-05 20:04] hisham commented on #318
Just as an update - my request with Cognito to increase max groups limit in my userpool is still pending. I submitted the request 2 weeks ago and it's in the cognito service team's queue for approval. Given it's taking this long, that option of asking cognito service team for the limit increase is probably not a feasible option for a production app.

[2018-11-05 20:08] kaustavghosh06 commented on #216
@OtterFlip The PR seems to have been merged and available in the latest NPM release. Please feel free to re-open this issue if the problem still persists.

[2018-11-05 20:08] #216 closed

[2018-11-05 20:08] kaustavghosh06 commented on #379
@TigerJ  Did you move the amplify directory from a non-windows machine to a windows machine?

[2018-11-05 20:11] kaustavghosh06 commented on #376
@gustavo-rios Yes, as you can observe in our main README, the delete functionality is an experimental feature and we're waiting on user feedback on this like one to finalize on the feature and add enhancements to it. I'll mark this as an enhancement for our delete commands to delete the aws_exports file (or at least have a flag to do so).

[2018-11-05 20:14] kaustavghosh06 commented on #370
@wizage I agree, we need code-specific documentation for our context/extensions which we expose to our plugins. Is there anything you're specifically blocked on?

[2018-11-05 20:16] kaustavghosh06 commented on #242
@amymc Which CLI version are you using? `amplify api update` or `amplify update api` does exist.

[2018-11-05 20:18] kaustavghosh06 commented on #366
@hisham What other information do you think would be valuable to you before pushing local configurations to the cloud?
The `amplify status` command does provide an overview of whats getting created/updated/deleted with your next push but would like to know better about the specific needs.

[2018-11-05 20:21] kaustavghosh06 commented on #275
@mwarger We published a new version of the CLI to npm, version -> 0.1.32 with fixes for windows. Feel free to re-open the issue if the problem still persists.

[2018-11-05 20:21] #275 closed

[2018-11-05 20:21] kaustavghosh06 commented on #34
We published a new version of the CLI to npm, version -> 0.1.32 with fixes for windows. Feel free to re-open the issue if the problem still persists.

[2018-11-05 20:21] #34 closed

[2018-11-05 20:21] kaustavghosh06 commented on #13
We published a new version of the CLI to npm, version -> 0.1.32 with fixes for windows. Feel free to re-open the issue if the problem still persists.

[2018-11-05 20:21] #13 closed

[2018-11-05 20:22] kaustavghosh06 commented on #229
We published a new version of the CLI to npm, version -> 0.1.32 with fixes for windows. Feel free to re-open the issue if the problem still persists.

[2018-11-05 20:22] #229 closed

[2018-11-05 20:31] kaustavghosh06 commented on #186
@caffodian I couldn't reproduce the issue with the latest version of the CLI. Many a times VS code bugs out and doesn't sync with my local filesystem to display the newly created files. Closing this issue for now. Please let me know if you're able to re-produce this with he latest version of the CLI.

[2018-11-05 20:35] kaustavghosh06 commented on #370
@wizage That's awesome! Would be great to know about your plugin. Would probably be our first 3rd-party Amplify CLI plugin :D Super excited to learn more.

[2018-11-05 20:41] mikeparisstuff commented on #392
We don't package any transformers that allow you to do this out of the box but have discussed use cases like this in the past. If you want to do this purely using the `schema.graphql` today, you can write your own transformer that will augment the generated resolver template code. To make this work you will also need to write your own light-weight CLI that loads and runs the transformer. There are

[2018-11-05 20:43] haverchuck commented on #382
@chrisl777 - Thanks for reaching out.  This is related to the updating of the cloudformation template for unauthenticated identities required by analytics.  It's definitely a valid issue and I'm getting it into our backlog.

[2018-11-05 20:55] mikeparisstuff commented on #395
The `$util.dynamodb.toS3Object(key, bucket, region, version)` helper function just results in the object being stored as a JSON serialized string in DynamoDB.

The output of this:

[code]

is

[code]

which is not strictly necessary to use S3 from a client application. The transform stores the bucket, key, version, and region as a DynamoDB map which avoids having to do input/output manipulation on

[2018-11-05 21:06] hisham commented on #395
Yep thanks for the clarification and background info. I agree. I'll try to implement s3 upload/download in my app without the toS3Object/fromS3Object stuff and report back on how well that works.

[2018-11-05 21:07] baharev commented on #186
@kaustavghosh06 I don't see how [my objections](https://github.com/aws-amplify/amplify-cli/issues/186#issuecomment-423642385) were resolved.

[2018-11-05 21:10] kaustavghosh06 commented on #186
@baharev  There is no way to locally test your AWS resources without pushing it. So I'm not sure what would you test with an empty aws_exports.js file without pushing your resources.

[2018-11-05 21:12] mikeparisstuff commented on #395
@hisham sounds good! It looks like you already know about this sample https://github.com/aws-samples/aws-amplify-graphql that shows how to get the URL and download a file directly from the browser. If you work out the code that takes it a step further and renders the file in an html image tag or similar it would be great to get that added to the sample as well. Let me know what you find. Thanks

[2018-11-05 21:56] hisham commented on #395
Sure, though I am doing this in angular and only need file download functionality for now.

As for the whole 'The S3ObjectInput type will be generated for you' thing. While this is true, the S3ObjectInput type needs to have a localUri that references the local file that will be uploaded. The aws javascript sdk will then upload whatever localUri points to to S3. See https://github.com/awslabs/aws-m

[2018-11-05 22:29] mikeparisstuff commented on #372
Hey @DanNeish. This is a great question but is not yet possible when using many-to-many relationships via the transform alone. To be more general, the problem is that there is currently no way to do an authorization check on an attribute that lives in a different table than the `@model` type itself. In this case, the many-to-many relationship would be managed in some `UserTasks` table and the desi

[2018-11-06 00:01] hisham commented on #395
Ok I got it working. Everything was fine except with the additional variables needed in S3ObjectInput that will not end up in S3Object. The AWS JS sdk will actually delete 'localUri' and 'mimeType' from S3ObjectInput so those values will never reach the backend.

So I think a person can have this definition in their graphql schema:

[code]

And the graphql-transpiler will automatically create the

[2018-11-06 00:01] #395 closed

[2018-11-06 00:16] mikeparisstuff commented on #392
What directives would you like access to? Over the long term, we can work on building a few transformers that tackle common issues but it would be helpful to hear more about the use cases you want to be solved.

For example, I would suspect these two would be useful:

**@regex**

[code]

Usage

[code]

**@length**

[code]

[code]

There are a lot of possibilities so let me know what you think and

[2018-11-06 05:57] builtbyproxy commented on #95
@smartcris 	It would help if you could link the duplicate issue should you ever experience this again 👍

This helps other users who came across this issue.

[2018-11-06 09:58] smartcris commented on #95
@builtbyproxy  Duplicate of [#13](https://github.com/aws-amplify/amplify-cli/issues/13) [#210](https://github.com/aws-amplify/amplify-cli/issues/210)

[2018-11-06 12:07] rizerzero opened #402 "After removing cloudFront (Hosting endpoint information is not updated)."
Hi,
After removing cloudfront i noticed that the endpoint information is never updated when i use amplify status command even after making a push or a publish.
even if my amplify publish is uploading the files to the S3 and not to cloudflare it still shows the cloudflare endpoint.

Steps to reproduce the behavior:
1. amplify publish ( publish to s3 bucket check status to see the hosting endpoint)

[2018-11-06 13:17] tamsynjennifer commented on #327
The above was generated with `gql` because I had the Appsync SDK still installed on my project. I realise now that if you are using Amplify you don't need this. So after "npm uninstall 'aws-appsync' and removing my appsync client code from the App.js file - it works!!! Sorry if I created any confusion.

[2018-11-06 16:53] michaelcaterisano opened #401 "Is it possible to access createdAt and updatedAt?"
** Which Category is your question related to? **
amplify schema and DynamoDB

** What AWS Services are you utilizing? **
amplify-js, amplify-cli, AppSync, DynamoDb

** Provide additional details e.g. code snippets **

I've noticed that the Dynamo DB fields `createdAt` and `updatedAt` are automatically generated when I `amplify push` my graphql schema, but I can't figure out a way to query these f

[2018-11-06 17:30] yuth commented on #327
@tamsynjennifer, amplify cli now generates statements without the `gql` tags. Could you check the auto generated  mutation to see if the `gql` tags are gone. If that's the case, then I suspect amplify-cli got updated along the way and update the generated statements without the `gql` tag.

[2018-11-06 18:07] UnleashedMind commented on #402
Thanks for the feedbacks, this is a known issue, we are working to resolve it.

[2018-11-06 18:53] rayhaanq commented on #392
@mikeparisstuff  thanks for the code snippet. I'll take a look at this. As for the possible directives. I guess what you mentioned sounds reasonable with the addition of maybe:
- @equals - equality check which would work for all/most types like int, ID, string etc
- @notEqual - not equal to
- @in - a set of values that it can be
- @notIn - a set of values that it can never be (I wonder if this wou

[2018-11-06 19:13] tamsynjennifer commented on #327
@yuth Yes thanks! I saw your comment on the AMplify Gitter. In my comment above I explained that it was because I had the AppSync SDK installed on my project. After removing the Appsync SDK - it generated the code without the `gql` tags.

[2018-11-06 19:16] #327 closed

[2018-11-06 22:31] mikeparisstuff commented on #318
#317, #318, and #372 are more or less the same request with different phrasing. Please see those discussions for more details.

[2018-11-07 00:13] KSamra commented on #373
I'm using Node version 8.12.0. I was able to use Amplify to build a Cognito user pool but running
`amplify add storage`
`amplify push`
fails every time with the above CloudFormation stack trace. Unlike @dougcpr though, I am able to easily delete the storage by doing
`amplify storage remove`
The only thing that fails as far as I can tell is the push command.

[2018-11-07 00:32] builtbyproxy commented on #95
@smartcris 	Thankyou very much for getting back to me so quickly! this is great thankyou!

[2018-11-07 00:34] hisham opened #404 "Can't have directory within lambda src?"
**Describe the bug**
'amplify function build' fails with `TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be one of type string, Buffer, or URL. Received type object`

**To Reproduce**
1. 'amplify add function' and create a hello world type function
2. In the 'src' of this function, add another directory such as 'bin/' and put a couple of files there
3. Do an amplify push
4. Make modifi

[2018-11-07 00:42] michaelcaterisano commented on #401
Meaning not required, like this?
[code]

This works for me!

I tried it the other way, `createdAt: AWSDateTime!`, and was able to Create, but the date I entered was ignored, and the current DateTime was set on the server.

[2018-11-07 09:50] amymc commented on #242
Hi @kaustavghosh06,

Running `amplify --v` returns`0.1.18`

When I run `amplify update api` or `amplify api update` I get the following:
![screen shot 2018-11-07 at 09 47 17](https://user-images.githubusercontent.com/1708243/48123579-30f03d80-e272-11e8-87b7-3c5411172a9f.png)

[2018-11-07 14:14] rehos opened #407 "Construct the credentials from environment variables"
**Is your feature request related to a problem? Please describe.**
We don't have any IAM users in the AWS accounts in which we run our solutions. We always interact with the AWS accounts with federated users. We are not allowed to store access key ids and secrets outside a vault (we are using macos keychain). For command-line scripts we use [aws-vault](https://github.com/99designs/aws-vault) (see

[2018-11-07 15:11] amymc commented on #242
Upgrading my version of amplify-cli with `yarn global upgrade @aws-amplify/cli` solved my problem.

Thanks!

[2018-11-07 15:11] #242 closed

[2018-11-07 16:51] adrianhall opened #408 "federated identities not included in aws-exports.js"
**Describe the bug**
When you set up third party federated identities in JavaScript/React, the docs say you need a "federated" object like this:

[code]

However, the Amplify CLI does not produce such an object in the aws-exports.js file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `amplify init`
2. Run `amplify add auth`
3. Add google, amazon, or facebook identity support
4. Run `am

[2018-11-08 16:02] kristianmandrup opened #1687 "TSLint error on clean new project using default settings"
Started a brand new clean project using default settings.

- `amplify init`
- `amplify add api`

Used only default settings:

When I run `yarn start` or `yarn build` I get a TSLint error:

[code]

The file in question:

[code]

Tried to add the  `"object-literal-sort-keys": false` rule to the project `tslint.json` file, but to no avail.
Any suggestions? Thanks.

[code]

[2018-11-08 16:45] animalmagnetic opened #415 "When will the London Region support will be available?"
I would like to configure my mobile project serverless via amplify cli but I can't see London (west-2) support in the configuration.

Is there any approx. date for this region support? I really want to avoid moving between regions.

[2018-11-08 19:33] stevethecollier commented on #194
Having same issue in us-east-1, I'm guessing it is not entirely related to region.

```Error: Cannot read property 'HostingBucketName' of undefined,     at getHostingBucketName (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-category-hosting/lib/S3AndCloudFront/helpers/file-uploader.js:37:66),     at Object.run (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/amplify-c

[2018-11-08 19:47] sravimohan opened #416 "Local Front end changes are not detected by publish"
**Describe the bug**
I have a react project deployed and is working as expected.  Now I make some front end changes and issue "amplify publish".  But the Hosting operations is showing "No Change" and my s3 bucktet is not being updated with my changes. Am I missing any steps to republish my updates to the frontend?

**To Reproduce**
Steps to reproduce the behavior:
1. Create and publish a react pro

[2018-11-08 19:54] kaustavghosh06 commented on #416
@sravimohan  Can you paste your terminal output here?
The no change is for the S3/Cloudfornt configuration changes. When you do an `amplify publish` it should build your frontend and upload it to your S3 bucket. Are you sure you're running `amplify publish` and not `amplify push`?

[2018-11-08 20:01] hisham opened #417 "Support async style for node lambda functions in local invoke + creation of sample code"
**Is your feature request related to a problem? Please describe.**
I'm new to Lambda but it seems the default hello world example uses the old Node v4 context object way of return results (see https://stackoverflow.com/questions/47906116/context-vs-callback-in-aws-lambda).

And if I use the latest "async" way of doing things the local invoke doesn't show the results returned by async.

**Describe

[2018-11-08 20:52] sravimohan commented on #416
Hi @kaustavghosh06.  I tried both and they both say no change.
When I make make a react JS file change and issue amplify status, What should it say?  When I do that it's saying no change.

amplify --version
0.1.32

[2018-11-08 20:53] kaustavghosh06 commented on #416
@sravimohan Since you're not making any changes to the S3 configurations or Cloudfront configurations, it will say "No change", but all your frontend-related files - static assets would still be uploaded to your S3 bucket.

[2018-11-08 21:08] sravimohan commented on #416
ok.  It's definitely not updating the bucket.  I also confirmed the local build folder does have the updates.

 amplify publish
| Category | Resource name   | Operation | Provider plugin   |
| -------- | --------------- | --------- | ----------------- |
| Hosting  | S3AndCloudFront | No Change | awscloudformation |
| Auth     | cognito17c58765 | No Change | awscloudformation |
| Api      | 3pt

[2018-11-08 21:48] undefobj opened #419 "Merge additions to configuration file without destroying customer updates"
**Is your feature request related to a problem? Please describe.**
Yes - The JavaScript library and iOS/Android SDKs rely on `aws-exports.js` and `awsconfiguration.json` to interact with services not only managed through the CLI, but also independent resources they created in their AWS account. In some situations today a customer might add something (like Kinesis information) and then run `amplify

[2018-11-09 00:37] b-tiwari commented on #191
I am getting the same error
IAM has been created using `amplify configure` , which in fact opens  AWS web console on browser and asks you to create IAM from there.  I believe I have added the policies per what I AWS services want to use , but I am not sure if we need any additional permissions for amplify to successfully init.

I want to use federated identities and probably lambda services from m

[2018-11-09 03:03] bghtrbb commented on #355
This has not fixed the issue. I have clean installed these and am still not able to run the commands.

![Amplify Config](https://s3.amazonaws.com/otherrandomfiles/amplify+config.PNG)
![Amplify Init](https://s3.amazonaws.com/otherrandomfiles/amplify+init.PNG)

[2018-11-09 03:07] bghtrbb commented on #34
@kaustavghosh06 This has not fixed the issue. I have clean installed these and am still not able to run the commands.

![Amplify Config](https://s3.amazonaws.com/otherrandomfiles/amplify+config.PNG)
![Amplify Init](https://s3.amazonaws.com/otherrandomfiles/amplify+init.PNG)

[2018-11-09 03:08] kaustavghosh06 commented on #34
@bghtbb can do run ‘amplify -v’ and check which version of the CLI you’re using?

[2018-11-09 03:14] bghtrbb commented on #34
@kaustavghosh06 0.1.32

![Amplify Version](https://s3.amazonaws.com/otherrandomfiles/amplify+version.PNG)

[2018-11-09 03:41] gankkank opened #423 "type definition for query and mutation only a part of the fields"
** Which Category is your question related to? **

type definition for query and mutation

** What AWS Services are you utilizing? **

appsync, graphql

** Provide additional details e.g. code snippets **

I want:

1. `create` allow field `file` and `otherParam`, but not `id` field

2. `update` only allow `otherParam`

3. `list` to have field `id`

The following code snippet is not working.

If I

[2018-11-09 11:09] ChrisWun opened #425 "Generation of models / domain objects with amplify codegen"
**Is your feature request related to a problem? Please describe.**
In our Angular Project, we use Typescript classes for our Models / Domain Objects. These classes are written manually.

For Example this schema:
[code]

Could be transformed too:
[code]

**Describe the solution you'd like**
`amplify codegen` could generate these classes.

Or does the functionality already exist and I have overlooke

[2018-11-09 13:07] tobinbc commented on #195
FWIW, I encountered this problem, I believe after the project directory name was changed and it did not pickup the parameters.json files. Fix was to copy contents of both amplify-meta.json files, do amplify init again, then put original amplify-meta.json files back. It won't remove the existing defined resources.

[2018-11-09 17:04] lahirian commented on #286
it would be good to have a CLI option in amplify to recreate the resources (i.e. cognito user pool or dynamodb ) in case they are inadvertently deleted.

[2018-11-09 19:35] benbayard commented on #286
### Are you managing frontend and backend code in the same repo?
All BE code is on the appsync console right now. However, our entire project is 1 codebase

### Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)
Separately

### Are separate deployment stages (approvals, canaries, etc.) important or mandatory?
neith

[2018-11-10 00:41] rayhaanq commented on #83
Just wondering if there's been any progress on this

[2018-11-10 00:42] wizage opened #429 "Amplify Add API hanging"
**Describe the bug**
When adding an API for Graphql and you edit your model using VSCode it will hang until you close the VSCode window.

**To Reproduce**
Steps to reproduce the behavior:
1. Default editor is set to VSCode
1. Set up an API and when you get to editing your model it will open VSCode
1. Change your model and then save the file
1. Hit enter in the terminal and it will go through and c

[2018-11-10 17:44] onedotover opened #431 "Does using @model go against DynamoDB best practices?"
** Which Category is your question related to? **
API - GraphQL

** What AWS Services are you utilizing? **
DynamoDB

** Provide additional details e.g. code snippets **
The GraphQL Documentation for uses a Blog as an example, and hows the use of the @model to define Blogs, Posts, and Comments. By following this example we end up with three DynamoDB tables (Blog, Post, Comments). This all makes pe

[2018-11-11 01:09] ChenLi0830 commented on #56
@kaustavghosh06 it's great to know the feature is added, where can we find docs about it?

[2018-11-11 07:34] ChenLi0830 commented on #257
Hi @mikeparisstuff, in the amplify auto-generated schema.graphql file, mutation uses its own `input` type. Namely:
[code]
Do we need to adjust Subscription's argument accordingly? Something like
[code]

[2018-11-11 08:47] Temkit opened #433 "Delete S3 bucket content before the publish"
When amplify publish starts, it builds and uploads files to s3, but doesn't delete the actual S3 bucket content, so we end up after a month of updates with a bucket with over hundreds and hundreds of files,

**Describe the solution you'd like**
Before the Amplify uploads files, delete everything in the bucket.

**Describe alternatives you've considered**
i do aws s3 rm s3://bucket --recursive befo

[2018-11-11 17:47] hisham commented on #431
I've also been thinking about this and others have been asking this question often online (see https://www.reddit.com/r/aws/comments/8skuh0/appsync_lambda_aurora_a_good_idea/). It would be nice if AWS team writes up a whitepaper or something to update what the dynamodb best practice is in the context of appsync / graphql. I've been reading Amazon's DynamoDB whitepaper lately (https://www.amazon.ca

[2018-11-11 21:34] larryranches opened #434 "IOS: Amplify-Cli not generating/creating API.swift file"
**Describe the bug**
After initial amplify-cli setup on ios, after running on the terminal amplify add api then amplify push, the default API.swift file in not being generated or created.

I do receive ✔ Generated GraphQL operations successfully and saved at graphql ✔ All resources are updated in the cloud.

but after that I get an error ```error: uncaughtException: Cannot create property 'addType

[2018-11-11 23:11] ChenLi0830 commented on #257
In order to **add arguments in Subscriptions**, I also tried to use the method described here - https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html. I tried to manually create mutations whose input are arguments instead of an `input` type, and try to subscribe to the argument.  However, it doesn't work for me either.

Any help would be highly appreciated.

[2018-11-12 09:38] DanNeish commented on #372
Hi @mikeparisstuff thanks for the feedback. I will have a look into the option you proposed. Looking forward to that feature rolling out. Also fantastic work on this, it's very helpful!

[2018-11-12 11:56] iudelsmann opened #437 "API gateway as a proxy"
**Which Category is your question related to?**
API Gateway

**What AWS Services are you utilizing?**
API Gateway, Lambda

**Provide additional details e.g. code snippets**
Hello all. In my application we currently need to use a custom authenticator for our request (we do not use cognito, not yet at least). We solved this with an API gateway that serves as a proxy to appsync, performing the authen

[2018-11-12 12:05] gmarab commented on #416
I have the same problem in Windows with a project in Angular 7.
The problem is with the version @aws-amplify/cli@0.1.33.
With the version @aws-amplify/cli@0.1.32 everything works correctly.

[2018-11-12 18:29] kaustavghosh06 commented on #434
@larryranches What version of amplify are you running? You can check this via `amplify -v`.
Could you also share your directory structure for your project? (want to know where exactly the queries, mutations, subscriptions get stored).

[2018-11-12 18:32] kaustavghosh06 commented on #429
@wizage  I wasn't able to reproduce the issue with the version of my VSCode. Which version of VSCode are you using and does this happen repeatedly?

[2018-11-12 18:36] kaustavghosh06 commented on #433
@Temkit We've considered this and we decided not to delete S3 bucket contents by default from users S3 bucket since it might contain sensitive data which the CLI might delete and which won't be recoverable later on.
What we can do is provide a flag to do so as a part of the publish command which would first delete the contents of the S3 buckets before the next publish. I'll mark this as a feature

[2018-11-12 19:04] larryranches commented on #434
@larryranches I'm using the latest currently at ```0.1.33```

[2018-11-12 19:47] michaelcaterisano commented on #286
### Are you managing frontend and backend code in the same repo?

Yes, I'm using the amplify code that is generated by `amplify init` and storing the amplify/ in my React project's root directory, on the same level as my src/ directory.

### Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)

I'm currently deployin

[2018-11-12 20:17] JustFly1984 commented on #185
Hey guys, why is it taking so long?

[2018-11-12 21:39] pechisworks opened #439 "Cant deploy with amplify publish on a new created Angular Project"
**Describe the bug**
I can't deploy with `amplify publish` on an existing and also newly created Angular project.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Deploy Frontend code to S3

**Screenshots**
![1](https://user-images.githubusercontent.com/8719483/48376282-c2c0d600-e6ca-11e8-9cde-d48c1108bc35.PNG)
![2](https://user-images.githubusercontent.com/8719483

[2018-11-12 21:53] kaustavghosh06 commented on #439
@pechisworks does the `npm run build` command execute without any errors if you run it independently?

[2018-11-12 22:05] pechisworks commented on #439
@kaustavghosh06 yes `npm run build` executes without any errors as you can see on the fourth screenshot

[2018-11-13 01:12] bearc0025 commented on #434
I'm seeing this as well. Basically all default settings.

[2018-11-13 02:04] bearc0025 commented on #434
@kaustavghosh06 I deleted the whole project and started over and still got it. So weird.

[2018-11-13 02:36] bearc0025 commented on #434
@kaustavghosh06 I was using 0.1.33 and was getting the error. I went back to 0.1.32 and am still getting it. I'm not trying a completely fresh project, etc.

[2018-11-13 03:17] bearc0025 commented on #434
@kaustavghosh06 Sorry, I meant I am NOW trying a completely fresh project. It still didn't work.

I'm recording a course for Lynda.com/Linkedin Learning and prepped it all fine. Now I'm literally in a recording booth and it won't work w/ this new version.

I had the course scripted all out and it worked fine last week. I run the same steps on a new machine and I get this error.

[2018-11-13 03:21] kaustavghosh06 commented on #434
@bearc0025 you might want to do an npm install -g @aws-amplify/cli@0.1.32 to revert back to the old version of the CLI since you mentioned it was working previously for you with that version. Until then, will try to root cause the issue with version @0.1.33. It’ll be helpful for us to root cause the issue if you provide us with your annotated graphql schema.

[2018-11-13 03:23] bearc0025 commented on #434
@kaustavghosh06 I'll try that but going back to 0.1.32 didn't work and that's the version that worked as of Saturday on my prep computer.

[2018-11-13 03:28] kaustavghosh06 commented on #434
Can you try using @0.1.31 on a fresh project and share your annotated schema? Also, which OS are you using? And what’s your node version that you’re using?

[2018-11-13 05:00] donaldarmstrong commented on #202
@mikeparisstuff Adding a type where @model on an interface would be preferred, using the model from @hisham

[2018-11-13 08:40] gangok opened #441 "can't update graphql api key"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **
I created graphql api with api key auth type about a week ago. After the first key is expired, every call to the api from my frontend code(using aws-exports.js file) obviously fails.
What I have tried was to make a new api key in appsync con

[2018-11-13 14:54] bearc0025 commented on #434
@kaustavghosh06 I tried 0.1.31 and got the same thing.

When I install any of these versions we've discussed, I get this:

npm WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
/usr/local/bin/amplify -> /usr/local/lib/node_modules/@aws-ampli

[2018-11-13 14:59] kaustavghosh06 commented on #434
Ah I see the issue, we were able to reproduce it. For the time being, until we resolve the issue can you install graphql@^0.11.0 || ^0.12.0 || ^0.13 package in your global node modules for the CLI tonaccess? This should temporarily fix the issue. We’re looking into fixing this ASAP.

[2018-11-13 15:13] bearc0025 commented on #434
@kaustavghosh06 I tried that but got the same thing:

npm install -g graphql@0.13.0

I'm doing it w/ the 0.1.33 cli - should I go back to 0.1.32?

[2018-11-13 15:15] bearc0025 commented on #434
I uninstalled it and did this and still got it:

npm install -g graphql@^0.11.0 || ^0.12.0 || ^0.13

I'm sure I'm doing something wrong if you've found a temp fix but I'm not sure what it is. Thanks for the help!

[2018-11-13 15:57] MageMasher commented on #434
You're not alone, I'm dealing with this same issue. I've also had several codegen issues that I'm trying to work through where the GQL query for iOS doesn't even ask for all the required information in a nested query.

[2018-11-13 16:04] bearc0025 commented on #434
@kaustavghosh06 I've tried a variety of permutations of these but can't get it to codegen w/o that error. If you got it working w/ that route, can you send the specific steps? Thanks!

@MageMasher Sorry to hear that. Hopefully they'll have a fix up soon.

[2018-11-13 16:22] rizerzero commented on #402
By the way i think that the command amplify status should be added to the workflow on the documentation to me it's clear that the right process should be :

0. Make a change
1. Push
2. Check with "status" that everything is ok and the that the correct destiniation is configured (prod/dev)
3.Publish

[2018-11-13 16:37] MageMasher commented on #434
I had this all working on 1.28 but i'm glad to know I'm not crazy and that other folks are running into these issues as well. @kaustavghosh06 can you update us here when there is a determined work around or fix?

[2018-11-13 16:45] kaustavghosh06 commented on #434
@MageMasher we’re actively looking this issue today. We’ll publish to NPM as soon as we have a fix for it.

[2018-11-13 18:22] kaustavghosh06 commented on #434
Hey guys, we just submitted and merged a PR for a fix for this -> https://github.com/aws-amplify/amplify-cli/issues/441
It's in our test/deploy pipeline and I'll update this thread once we have the stable NPM version released today.

[2018-11-13 19:00] sravimohan commented on #286
- Are you managing frontend and backend code in the same repo?
yes.

- Do you want to deploy your frontend and backend code simultaneously, or separately (e.g. manage as a single unit or separate entities)
separately

- Are separate deployment stages (approvals, canaries, etc.) important or mandatory?
Yes

- How would you like to handle rollbacks if a deployment of the frontend or backend fails?
f

[2018-11-13 19:44] MageMasher commented on #434
@kaustavghosh06 is #441 related to this issue?

[2018-11-13 19:47] kaustavghosh06 commented on #434
@MageMasher The fix is related to the issue/error mentioned in the original description - `error: uncaughtException: Cannot create property 'addTypename' on string ''` which doesn't allow users to successfully create API.swift file as a part of the codegen flow for their iOS projects.

[2018-11-13 19:47] yuth commented on #434
No, its #442

[2018-11-13 20:16] Jvalal opened #443 "Can't get amplify CLI to install where I can "see" it"
**Describe the bug**
A clear and concise description of what the bug is.

Trying to follow the instructions n the gatsby page to install aws amplify and it doesn't work!

When I try and configure it tells me "command not found".

![image](https://user-images.githubusercontent.com/3803053/48440511-ee30d880-e73d-11e8-8b22-4202081209e9.png)

[2018-11-13 20:21] kaustavghosh06 commented on #443
Can you just run ‘npm install -g @aws-amplify/cli’ without the i?

[2018-11-13 20:22] Jvalal commented on #443
sure- no dice.

![image](https://user-images.githubusercontent.com/3803053/48440828-c68e4000-e73e-11e8-9929-eff8603c6b4c.png)

[2018-11-13 20:29] yuth commented on #443
what is your PATH. You can find this by running
[code]

[2018-11-13 20:31] Jvalal commented on #443
![image](https://user-images.githubusercontent.com/3803053/48441294-030e6b80-e740-11e8-9e67-6e085d95d136.png)

/Users/jkidd/GoogleDrive/PROJECTS/MachineLearning/anaconda3/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/anaconda2/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/Library/Frameworks/Mono.framework/Versions/Current/Commands

[2018-11-13 20:36] yuth commented on #443
What version of `node`  do you have installed?

[2018-11-13 20:37] kaustavghosh06 commented on #434
We published a new version of the CLI to NPM just now -> 0.1.34 to fix this issue. Please go ahead and use the latest version and please re-open this issue if you're having the same problems.

[2018-11-13 20:37] #434 closed

[2018-11-13 20:38] Jvalal commented on #443
10.11.0

![image](https://user-images.githubusercontent.com/3803053/48441682-fdfdec00-e740-11e8-8842-88bc0f8bc76e.png)

[2018-11-13 20:40] yuth commented on #443
Thanks. Can you check if you have `@aws-amplify/cli` in your `/usr/local/lib/node_modules/` directory

[2018-11-13 20:40] bearc0025 commented on #434
Thanks! Will check it out now!

[2018-11-13 20:46] bearc0025 commented on #434
It looks like it worked!

car-booth-06-mac:Thoughts bearcahill$ amplify codegen
✔ Downloaded the schema
✔ Generated GraphQL operations successfully and saved at graphql
✔ Code generated successfully and saved in file API.swift
car-booth-06-mac:Thoughts bearcahill$

Although I did get the same warning:

npm WARN graphql-import@0.4.5 requires a peer of graphql@^0.11.0 || ^0.12.0 || ^0.13.0 but none

[2018-11-13 20:48] Jvalal commented on #443
nope, not there.

![image](https://user-images.githubusercontent.com/3803053/48442209-66010200-e742-11e8-8e75-0929dff47a07.png)

[2018-11-13 21:01] kaustavghosh06 commented on #443
@Jvalal IC an see where the issue could be from your screenshots:
After, successful `npm install -g @aws-amplify/cli`, here's how the `/usr/local/lib/node_modules/` and the `/usr/local/bin/` should look like:

![screen shot 2018-11-13 at 12 58 03 pm](https://user-images.githubusercontent.com/7247658/48442699-cb092780-e743-11e8-8a57-bf8d9bce04f5.png)

As you see there's @aws-amplify in the node_mod

[2018-11-13 21:03] Jvalal commented on #443
thanks- how would I do that. I always thought adding the -g added it globally. So I guess I'm not sure how that's behainvg then?

[2018-11-13 21:10] kaustavghosh06 commented on #443
@Jvalal Your setup seems different from an usual node setup. It might be tied to how you installed node.
To add dir to your path open up your` ~/.bashrc` file and add `export PATH="/Users/jkidd/.node_modules_global/bin:/Users/jkidd/.node_modules_global/node_modules:$PATH"`

[2018-11-13 21:12] Jvalal commented on #443
ok. that wasn't done on purpose, probably a mistake on my side. So, anything that gets me to a "normal" install would be helpful

[2018-11-13 21:14] kaustavghosh06 commented on #443
@Jvalal When you run `npm install -g <any-cli>` it downloads it in `/usr/local/bin/` (given you're not using nvm) and since `/usr/local/bin/` is in your `$PATH`, its able to pick it up. In your case, the global node directory is set to `/Users/jkidd/.node_modules_global/bin` and all the CLI's or package installed would be installed would be installed in `/Users/jkidd/.node_modules_global/bin`. Sin

[2018-11-13 21:36] kaustavghosh06 commented on #443
@Jvalal  You can learn more the bashrc file and editing it out here -> https://answers.ros.org/question/87866/how-to-edit-the-bashrc-file/

[2018-11-13 21:52] yuth commented on #443
Closing. Please feel free to re-open

[2018-11-13 21:52] #443 closed

[2018-11-13 22:33] MageMasher opened #444 "Generated Swift API does not contain correct nested Entities in GQL Query"
**Describe the bug**
When generating the Swift SDK from my graphql schema, subentities on an entity do not have all their fields in the generated query string inside the created API file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AppSync Console
2. Create new API with this schema
[code]
3. Create an amplify project
4. run `amplify add codegen --apiId 123TheApiKey`
5. Look at the

[2018-11-13 23:03] yuth commented on #444
@MageMasher amplify codegen by default limits the number level it traverses in response type. This is done to prevent an infinite loop if a type refers to itself. We don't have a way to change the depth using CLI, but we might implement a way to pass that in the future.

amplify codegen is 2 step process
1. Statement generation - takes a schema and generates statements. Its here we have limit on t

[2018-11-14 00:02] Jvalal commented on #443
I completely fumbled something here. I thought I updated the file, but no none of the commands work and I can't find the file any more.

![image](https://user-images.githubusercontent.com/3803053/48451026-7672a600-e75d-11e8-8f9a-32b5b46bb833.png)

[2018-11-14 00:49] MageMasher commented on #444
Is this two step process documented somewhere? I almost gave up on appsync entirely because of this issue and after scouring the documentation for well over 2 days I filed this issue because I couldn't figure out why it was behaving like this.

To be clear, I'm thrilled there is a known solution here, I just hope more folks find this issue rather than give up like I almost did. Thank you for your

[2018-11-14 04:55] brianhilst opened #449 "Limit param for API graphql list queries doesn't work as expected"
**Describe the bug**
The limit parameter for the API graphql list queries appears to limit the number of records searched rather than the number of records returned.  I'm not sure if this is by design, but if it is, then how do you control the page size when paginating results?

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Return the one matching record where owne

[2018-11-14 05:00] brianhilst commented on #300
The work-around listed above doesn't work.  While adding the keyField param does give control over the keyField name, it doesn't add it to the filters.  If you add it manually as shown above for postId: ID!, you end up with the field listed twice in the generated files which won't deploy without an error.

[2018-11-14 16:56] Jvalal commented on #443
UGH! still no dice after updating bash.

![image](https://user-images.githubusercontent.com/3803053/48498465-2d693300-e7eb-11e8-9376-e8e5ce333ba4.png)

[2018-11-14 17:54] yuth commented on #449
This is a know issue which was is discussed in
https://github.com/aws-amplify/amplify-cli/issues/352#issuecomment-433097656

[2018-11-14 17:55] #441 closed

[2018-11-14 18:05] hisham opened #450 "Is a CHANGELOG needed? How to know what's new with each release?"
** Which Category is your question related to? **
ampliy cli

** Provide additional details e.g. code snippets **
I noticed new releases are getting pushed out on a weekly basis or so for the cli. But it's not clear what is changed with every release. Is there a recommended way of figuring this out? This is often done through a CHANGELOG type file...

[2018-11-14 18:08] yuth commented on #444
No its not documented anywhere. I have created an https://github.com/aws-amplify/docs/issues/199 in our documentation repo.

[2018-11-14 18:08] #444 closed

[2018-11-14 20:25] jameslporter opened #453 "aws cli is a required dependency"
**Describe the bug**
amplify cli fails to create resources if you do not have aws cli installed and configured properly ahead of time.

I'm fairly confident aws cli is an implied but never stated dependency.

**To Reproduce**
Steps to reproduce the behavior on a new machine.
1. install amplify cli as directed
2. run amplify init answering questions and providing credentials when asked
3. add featu

[2018-11-14 20:29] oleksandr-yefremov opened #454 "Codegen does not use `graphql-tag` anymore. How to use without it?"
**Which Category is your question related to?**
Newbie question. Not sure whether it is a bug, or I don't understand how to use the tool

**What AWS Services are you utilizing?**
amplify init, api add, codegen

**Provide additional details e.g. code snippets**
In [this demo video](https://youtu.be/r0PbwDoNMcY?t=84) there is clearly `graphql-tag` generated for queries and mutations, however it was

[2018-11-14 20:38] undefobj commented on #454
Yes that video was made before the production release was launched. You'll need to have `import gql from 'graphql-tag'` and then wrap your statements with `gql(listTodos)` (as an example).

The reason for this is because not all of the clients require the `graphql-tag` like the Apollo client does, so Codegen implements this in a generic manner to support any client.

[2018-11-14 21:30] kaustavghosh06 commented on #453
@jameslporter . Quick Question. When you ran an `ampify init`, did you choose an existing profile in your system or did you manually enter your access and secret key?
Also, could you look into the `amplify/.config/aws-info.json` file and let me know the contents of the same?

[2018-11-14 22:24] lennybr opened #456 "Clarify security implications of using ID Token vs. Access Token for AppSync authorization"
When using AppSync with Amazon Cognito User Pool as the authorization type, only the ID Token (by referencing `$context.identity`) is passed along to the resolvers for authorization checks. Per [AppSync docs](https://docs.aws.amazon.com/appsync/latest/devguide/security-authorization-use-cases.html) and [*aws-amplify/amplify-cli* auth transformers](https://aws-amplify.github.io/docs/cli/graphql#aut

[2018-11-14 23:05] jameslporter commented on #453
It prompted me for access key & secret. Had recently switched machines which is why I had not yet installed aws cli.

aws-info.json contents below:

{
    "awsConfigFilePath": "/Users/jamesporter/.amplify/awscloudformation/xgWsT9E5YP"
}

[2018-11-15 01:05] UnleashedMind commented on #416
@gmarab
for Angular version 6 and above, follow this steps:
- Please check the angular.json file, and get the value at `project.<your-project-package-name>.architect.build.options.outputPath`
- run `amplify configure project`, and set the above value when prompted "Distribution Directory Path"

[2018-11-15 01:12] UnleashedMind commented on #416
@sravimohan
 run `amplify configure project`, make sure the build command and the distribution folder are correctly set.
Seems like the build command is correctly set, and it's carried out successfully, so make sure the cli knows what folder to upload to the hosting S3 bucket by setting the `Distribution Directory Path` correctly.

[2018-11-15 02:42] undefobj commented on #456
AppSync supports both the IdToken as well as the Access Token, but yes best recommended practice is to use the Access Token which the documentation in your link outlines:

[code]

The GraphQL transformer also accounts for this as well in the `@auth` directive.

[2018-11-15 07:38] lennybr commented on #456
Thanks for clarifying that we can pass in `Auth.currentSession().getAccessToken().getJwtToken()` and then `$context.identity` actually references the Access Token.

But I was still able to manually substitute with the ID Token as there appears to be no check that a user is actually using the Access Token and not the ID Token. I had to add something like the following to the resolver to check that

[2018-11-15 08:31] johannesbrunner opened #459 "Proxy server support for amplify cli"
We are working behind a corporate proxy. Unfortunately amplify does not seem to make use of the proxy server and we did not find any argument to pass in any proxy settings.

An argument or setting to set the proxy server to use would be nice.

The workaround we are currently using in linux is the tool proxychains, that is able to force any traffic of a command line tool through a configured proxy.

[2018-11-15 08:38] gabehollombe-aws opened #460 "GraphQL Transform - Searching a @searchable @model with @auth does not scope results to current user"
**Describe the bug**
Using Amplify with AppSync and a GraphQL Transform, I want to have a `@model` protected by `@auth` so that users can only work with items they own. This all works fine, but if I add `@searchable` to the type and then use the `searchFoo` query, the results returned are not scoped to the current user performing the query.

**To Reproduce**

1. Set up Auth in an Amplify app using

[2018-11-15 11:08] infosharkio opened #461 "GraphQL API Schema on push: 'Object type extension 'Mutation' cannot redeclare field createConversation'"
Issues with the schema when using amplify create api (GraphQL).
After 'amplify push', I get the error:
'Object type extension 'Mutation' cannot redeclare field createConversation'

Example schema taken from: [https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular](url)

I've added @model annotation to User, UserConversations, Message, Conversation

[code]

[2018-11-15 15:43] #454 closed

[2018-11-15 17:51] mlynch opened #462 "Socket connection to the server was not read or written to within the timeout period"
**Describe the bug**
When running `amplify push`, an error is thrown:

<img width="833" alt="screenshot 2018-11-15 11 50 12" src="https://user-images.githubusercontent.com/11214/48571538-aab8a480-e8cc-11e8-83e3-0af6f09a5612.png">

**To Reproduce**
Unsure how to reproduce. In the example above, it's creating an Api, so possibly related to that.

**Expected behavior**
Push should run and complete

*

[2018-11-15 17:56] mlynch commented on #462
From my quick research, it seems related to S3:
https://github.com/aws/aws-sdk-js/issues/281

[2018-11-15 17:58] kaustavghosh06 commented on #462
@mlynch I've seen this happen due to no internet/network connection or when there's a proxy in the network blocking access to the AWS services. Can you try to push again (with network connection on) and see if you can reproduce? I'm looking into the above mentioned issue as well

[2018-11-15 18:01] mlynch commented on #462
My network connection is good, not using any Proxies or anything. Thanks

[2018-11-15 18:09] LoganArnett commented on #91
What is the best way to use this relationship in practice? I have my Many to Many relationships setup but it is unclear what the best way is to utilize the join table. Is it just an additional mutation of creating that join model with the previously created models that you want to relate?

[2018-11-15 19:02] kaustavghosh06 commented on #462
Interesting. I'm not able to reproduce it with 0.1.34. I'll upgrade the aws-sdk version that we're using since we're using a bit older version and this issue seems to be fixed with the latest version.
Are you continuously getting this error on a push or is it intermittent?

[2018-11-15 19:31] UnleashedMind commented on #439
So the build part went through, what's the error message now?
Can you check the contents in the distribution directory set in the `amplify configure project`, are they the expected built artifacts?

[2018-11-15 19:50] pechisworks commented on #439
No I meant when i am manually running the command `npm.cmd run-script build` in the console, this will build me the current app. After this step their are build files in the dist directory.

When running `amplify publish` im getting the same error:
[code]

[2018-11-15 19:57] mlynch commented on #462
I blew away my amplify folder locally and recreated everything. I gave my API a different name and was able to push it this time.

I wonder if a previous push to create the API got into an inconsistent state and that caused the timeout?

[2018-11-15 20:09] undefobj commented on #456
Gotcha so you would like to have either documentation or a way to restrict specifically to an IdToken, potentially in the `@auth` directive of the GraphQL transformer. Is that correct?

[2018-11-15 20:48] UnleashedMind commented on #453
what features have you added?
just trying to reproduce the issue.

[2018-11-15 20:52] pechisworks commented on #439
@UnleashedMind this works fine, build process starts and publishing to S3 works as well!

[2018-11-15 20:52] #439 closed

[2018-11-16 12:21] pmbanugo opened #468 "Access Denied Exception for API generated with CLI."
**Describe the bug**
After creating a restricted API with amplify cli, I'm calling the API with Amplify JS and I get Access Denied exception `Could not load items: AccessDeniedException: User: arn:aws:sts::92xxxxx:assumed-role/serverlessreactLambdaRolexxxxx/todos is not authorized to perform: dynamodb:Query on resource: arn:axxxxxxx`.  This happens for all HTTP method.

**To Reproduce**
Steps to r

[2018-11-16 13:00] kunwarVivek commented on #185
Hi,
any updates on this issue. Is there any workaround for this problem.

[2018-11-16 15:16] azahran007 commented on #252
I was going insane and this post saved me. thank you @wmcbain !
It would be very useful if Amplify api gql-compile caught that issue, I spent a longtime trying different and each time having to push, then wait several minutes to troubleshoot

[2018-11-16 16:46] rohandubal opened #469 "Resources name changed when using block letters"
**Describe the bug**
When using a name like `HelloWorld` for my project, the cli changes the resource names to `elloorld` by removing `H` and `W` which are the only block letters.

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify init` with project name `HelloWorld`
2. `amplify analytics add` with resource name `HelloWorld` (default)

**Expected behavior**
Resource should be named `He

[2018-11-16 17:51] Jvalal commented on #443
*bump*

[2018-11-16 18:05] JustFly1984 commented on #185
@ kunwarVivek
We are using lambdas with graphql resolvers to DynamoDB instead of Amplify as workaround.

[2018-11-16 18:08] JustFly1984 commented on #185
I feel like AWS spending not enough for open-source support (((