[2019-10-01 22:18] ericclemmons opened #2473 "[mock]: /graphql throws "Invalid token specified: Cannot read property 'replace' of undefined"""
**Describe the bug**

_Note: this `amplify mock` bug was discovered while validating https://github.com/aws-amplify/amplify-cli/issues/2396#issuecomment-536166148_.

Given the following schema...

[code]

...when querying <http://10.0.0.22:20002/graphql> (via `amplify mock`) with...

[code]

...I receive:

[code]

However, when querying <https://wdglnex63nconfmrexguhcfoey.appsync-api.us-east-1.ama

[2019-10-01 22:38] nikhname commented on #2472
This is a duplicate of #2360. The fix has been merged and released version 3.10.0. Feel free to re-open/comment if you're still experiencing with this version.

[2019-10-01 22:38] #2472 closed

[2019-10-02 00:41] ericclemmons commented on #2473
Here's the cleaned up query:

[code]

[2019-10-02 00:58] SwaySway commented on #2467
If your using the old console there should be a number at the top right saying 'Showing N stacks'.

[2019-10-02 01:41] SwaySway commented on #2461
@oste `@auth` aims to add additional logic around `@model` types. If you wish to add iam auth on your type which does not have `@model` you can add `@aws_iam` on the type. Like below
[code]

This type of use case is documented in AWSAppSync docs here: https://docs.aws.amazon.com/appsync/latest/devguide/security.html#using-additional-authorization-modes

[2019-10-02 01:49] oste commented on #2461
@SwaySway yep that's actually what I am doing now. But in order to get that to work I needed to add the policy I showed above.

I have types like this.
[code]

With that, this won't work without the policy shown in my original post
[code]

[2019-10-02 02:26] ericclemmons commented on #2473
This error happens when I'm unauthenticated with `amplify mock`.  When hitting the `dev` environment, the public API requests the `iam` work as expected.

[2019-10-02 02:45] ericclemmons commented on #2473
Also, when running `amplify mock`, everything works as expected when signed in: confirming this only affects the unauthenticated session.

[2019-10-02 07:30] neoPix opened #2475 "Compatibility with Relay"
** Which Category is your question related to? **
- Relay
- Schema

** What AWS Services are you utilizing? **
- Amplify with GraphQL

** Provide additional details e.g. code snippets **

I'm currently trying to make Amplify work with relay.js. This graphQL client requires a  standard way of organizing the GQL schema which is not the way Amplify does things.

https://relay.dev/docs/en/graphql-serv

[2019-10-02 08:11] attilah commented on #2436
You've to create your custom resolver, but it is not that hard as it seems and CLI has support for that.

When it comes to pipeline resolvers you are not tied to VTL, you can do Lambda functions with the language of your choice as well or combine them. Currently the CLI does not have built-in support to create the pipeline resolvers, but it is something we'd like to add in the future.

[2019-10-02 08:11] #2436 closed

[2019-10-02 08:32] attilah commented on #2242
@mdw2000 I was trying to reproduce based on your steps, but on the last push with 3.x it does not push because no changes were detected. Aren't you missing something from there?

Although I'm pretty sure that a ```amplify api gql-compile``` before the push and after the env checkouts would fix it. Could you please try that and get back to me?

[2019-10-02 08:53] ilyador opened #2476 "When doing amplify publish, how do I connect the app to a custom domain?"
I see it can be done in the Amplify console, but for some reason, my app does not appear there.

It is quite confusing since I'm not sure what is the difference between the Amplify CLI and the console on AWS.

[2019-10-02 09:49] BabyDino commented on #2389
@attilah I've just tested it with the latest release (3.11.0). The problem still exists.

[code]

[2019-10-02 10:05] ambientlight commented on #1317
@kaustavghosh06:
I think this should be reopened.

Here is a valid usecase: you want to have a server-side lambda using AWSAppSynchClient that will use `AMAZON_COGNITO_USER_POOLS` authentification model. With sign-in API for server-based authentication (ADMIN_NO_SRP_AUTH) enable in user pool a lambda will go and do [serverside-authentification-flow](https://docs.aws.amazon.com/cognito/latest/devel

[2019-10-02 10:13] buggy commented on #2429
Another example of usage would be putting `updatedAt` and `createdAt` fields on a type so they can be read while preventing them being set by create/update mutations. Currently you can do this but you need to define the entire create/update input type.

[2019-10-02 13:56] christodupreez commented on #2208
I have updated @aws-amplify/cli and now I get another error trying to run amplify status

`amplify status
Scanning for plugins...
Plugin scan successful

Current Environment: dev

Cannot create property 'resourceName' on boolean 'true'
TypeError: Cannot create property 'resourceName' on boolean 'true'
    at /usr/local/lib/node_modules/@aws-amplify/cli/lib/extensions/amplify-helpers/resource-statu

[2019-10-02 15:01] blairtaylor opened #2477 "Modifying Amplify function causes deployment error during amplify function push"
We made some small changes to an existing function to add some console.log statements.
Only console.log statements were added.

executed:
amplify function build
amplify function push

Unable to deploy function. Please see logs below.

received the following:
Parameters: [S3DeploymentRootKey, S3DeploymentBucket] must have values

As a workaround, should we remove the function and recreate?
The func

[2019-10-02 15:49] PavleNeskovic commented on #1386
Deploying from the CLI works fine, but I'm getting an error when trying to deploy from AWS Amplify Console.

`Error: You are trying to use the @auth directive without enabling Amazon Cognito user pools for your API.`

[2019-10-02 15:53] kaustavghosh06 commented on #2477
Can you try doing an ‘amplify push’ instead?

[2019-10-02 16:02] jasontripleps opened #2478 "Angular Codegen not generating Queries that return Arrays as an Array object."
**Describe the bug**
When running codegen on a custom Query, it generates the type of the function as QueryObject, rather than Array<QueryObject>

**To Reproduce**

1. Create a new Angular project with Amplify, with api and a function.
2. Add a new Query like below:
[code]
3. Perform Angular codegen

**Expected behavior**
function would generate as
`async TestQuery(): Promise<Array<TestQueryQuery>

[2019-10-02 16:08] wmcbain commented on #2407
@kaustavghosh06 Sorry for going silent on this issue but I was still blocked by this and needed tome onto other work.

I'm still seeing this failure and the error isn't making a lot of sense. I'm including the env parameter in the template:

[code]

However when I run `amplify push` I still get the following error:

[code]

[2019-10-02 16:15] jasontripleps commented on #2478
Alternatively it could be that the type is supposed to generate as `TestQueryQuery = Array<{test: string}>` and not `TestQueryQuery = {test: string}`

[2019-10-02 16:32] blairtaylor commented on #2477
amplify push successfully deployed the modified function. Thank you.

[2019-10-02 16:32] #2477 closed

[2019-10-02 18:31] ambientlight opened #2479 "Confusion regarding additional permissions granted to lambda: API category"
**Which Category is your question related to?**
amplify-category-function

**What AWS Services are you utilizing?**
Lambda to add execution calling graphql API

**Provide additional details**
When adding additional permissions to lambda to call Graphql API, it is confusing that **operation** create actually is what adds `appsync:GraphQL` action to execution policy statement. I messed it up origina

[2019-10-02 18:35] solussd commented on #188
I would like to second this request– having access to the origin GraphQL query would allow optimized data resolution. In my case, I use a lambda to access data in a Datomic database. Datomic provides for "pull" queries, which map nicely to GraphQL queries. It'd allow me to resolve several nested objects in a single resolver, rather than executing several resolvers and having them composed in Appsy

[2019-10-02 18:39] idanlo commented on #1656
@amirmishani The docs does not say anything about using @key instead of @connection, it only shows how to use @key and query it with a single table

[2019-10-02 18:40] idanlo commented on #1800
Is there any update on this? I ran into this again while trying to create my table with a primary key that includes 2 fields, and I want it to have an array of other models but I don't know how to connect them

[2019-10-02 19:13] undefobj commented on #2429
@attilah @kaustavghosh06 lets add this as part of the upcoming model updates

[2019-10-02 19:15] sopranolinist commented on #2382
@UnleashedMind I experienced the exact same issue. I tried running `amplify env remove staging` again (staging being the name of the environment in my case) and I received the response `No environment found with the corresponding name provided`. So just like @andrew-aernos I had to manually delete the entry in my `local-aws-info.json` file.

[2019-10-02 19:27] warrenmcquinn commented on #2453
I'm having the same issue.

[code]

even though the function `functionName` is in my project / environment.

I'm unable to use `amplify mock api` as a result.

[2019-10-02 19:28] wbroek commented on #2467
@SwaySway the CloudFormation interface says Stacks(100+); but the [Service Quota](https://eu-west-1.console.aws.amazon.com/servicequotas/home) did say I had 200
So yes I hit the stack limit there! Asked for a the limit to be raised and it worked again.
Only thing would be a better error message or what you can do to raise it maybe?
Thank you @SwaySway

[2019-10-02 19:28] #2467 closed

[2019-10-02 20:41] SwaySway commented on #1800
@idanlo
Adding a connection where the pimary field is based on a different value (from a change in key) is an active issue we are working on. https://github.com/aws-amplify/amplify-cli/issues/2296

Regarding your original query - If you are looking to connect multiple users with a single invitation then what you are looking for is a one-to-many connection.
[code]
The id can simply be the code you

[2019-10-02 20:42] warrenmcquinn commented on #2100
@attilah Thanks for posting about this - I just added a `sortField` to a new  `@connection`, with an `Int` as the key. `sortDirection` was behaving exactly as you describe.

Is the fix in the works or already implemented in the PR? Thanks 🙌

[2019-10-02 20:44] idanlo commented on #1800
thanks @SwaySway, what you suggested is what I ended up using 3 months ago but I ran into a different problem now, where I have a model that its primary key is made from 2 fields in the model and I want it to have an array of other models, so those other models need to reference the first model somehow, and there is currently no way to do that.
If you didn't understand my use case feel free to tel

[2019-10-02 20:47] SwaySway commented on #2479
@ambientlight Are you looking at giving crud operations on the GrpahqlAPI to a function?

[2019-10-02 20:53] ambientlight commented on #2479
@SwaySway: everything works for me as expected I have `'appsync:GraphQL` in execution policy, just the confusing part is that in 'appsync:GraphQL' action is under `create` operation in CLI selector

[2019-10-02 21:00] brandondurham commented on #1327
I’m using Amplify purely for it’s auth features, and even then only to authenticate existing users (sign in, sign out, forgot password, create password). It seems like overkill to grant admin privileges when I’m using such a small portion of the toolset. And as the front-end developer, I don’t have those privileges anyway.

[2019-10-02 21:15] undefobj commented on #1327
IAM policy can be restricted for just the categories and features that you use as documented here: https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-policy-for-the-cli

Additionally you can use MFA with short term IAM credentials: https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-roles--mfa

[2019-10-02 21:25] SwaySway commented on #1800
@idanlo There is a workaround for a connection on custom primary keys.
There is a fix in the works to address this as well. Please refer to
View https://github.com/aws-amplify/amplify-cli/issues/2100

[2019-10-02 21:31] rb365 opened #2480 "Cannot read property 'additionalAuthenticationProviders' of undefined"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
`✖ There was an error initializing your environment.
Cannot read property 'additionalAuthenticationProviders' of undefined
TypeError: Cannot read property 'additionalAuthenticationProviders' of undefined
    at getAppSyncConfig (/Users/rb365/.nvm/versions/node/v10.16.0/lib/node_modul

[2019-10-02 21:36] SwaySway commented on #2480
@rb365 Was there anything done prior to do a amplify init? Did you git clone an amplify project and then run `amplify init`?

[2019-10-02 21:40] rb365 commented on #2480
@SwaySway
I didn't clone, I just updated CLI and tried changing environment with: amplify env checkout production
that failed with same error so I thought maybe i need to init project so I did amplify init and that failed too, I created new project from scratch and saw that backend-config.json looked different:
`"api": {
		"test": {
			"service": "AppSync",
			"providerPlugin": "awscloudformation"

[2019-10-02 21:52] rb365 commented on #2480
@SwaySway I just did clean clone and ran amplify init and it failed with same error. I downgraded amplify to 1.12.0 and it worked fine. I went to my JS part of the project and new amplify init works fine, it's just the iOS project that fails. There is an assumption that authConfig always exists in output which is false in older configs.

[2019-10-02 22:11] UnleashedMind commented on #2441
@phsstory
The Amplify CLI does not support the . notation in the profile name, and you are right about the line that causes this behavior.
We will update the code to match the aws cli behavior on this.
In the meanwhile, the only workaround that I can suggest is to use "_" in place of the "." in the profile name.

[2019-10-02 22:29] emmafass opened #2481 "npm install globally failing (Error: EACCES: permission denied, mkdir)"
**Describe the bug**
I am having trouble installing this package globally. I run the following:
```sudo npm i -g @aws-amplify/cli```

and get the following:
[code]

I then tried without the global flag and it works.

Just wondering if I am doing something wrong?

**To Reproduce**
Using MacOS High Sierra (v10.13.6)

[2019-10-02 22:31] #2365 closed

[2019-10-02 22:35] kaustavghosh06 commented on #2481
Please use `sudo npm install -g @aws-amplify/cli --unsafe-perm=true` to get around this.

[2019-10-02 22:36] kaustavghosh06 commented on #2479
@ambientlight Yes, we have this behavior currently, but we're looking to scope these policies down based on the GraphQL API type - or at the least based on Mutations/Queries/Subscriptions.

[2019-10-02 22:37] kaustavghosh06 commented on #2471
Which CLI version are you using? And what's the error you're seeing after you hit enter?

[2019-10-02 22:45] emmafass commented on #2481
Thanks so much! That worked

[2019-10-02 22:45] #2481 closed

[2019-10-02 22:53] julia-cassella commented on #2471
The error that I am getting is: "TypeError: Cannot read property 'run' of undefined at service walkthrough (/usr/local/lib/node_modules/@aws-amplify/cli ...... /appSync.walkthrough.js:119) as procress.tick_callBack (internal/process/next_tick.js:68:7)

And the CLI is the latest one, I believe it is ^3.1.0. I just installed it yesterday using sudo npm install  -g @aws-amplify/cli@latest. I also tri

[2019-10-02 23:10] ammarkarachi commented on #2375
@jtushar53 Was the GSI created after the Lambda?

[2019-10-02 23:13] mooser opened #2482 "Trying to get source level debugging working with amplify mock + backend/function"
I have not been successful at hitting a breakpoint in my backend/function lambda using vscode and attaching the debugger to amplify mock via process id.

1. Is this possible with amplify mock?

2. The documentation, and all the examples I have found use very simple use cases that don't actually query graphql api from backend/function.  Has anyone tried to create an example project that features qu

[2019-10-02 23:22] nikhname commented on #2418
Hi @pnadkar, what OS are you running this on?

[2019-10-03 02:01] kmagilavy commented on #2309
Hi - I'm using v 3.11.0 and seeing the same behavior. After running amplify add analytics the same keys from @apanagos screenshot are removed from my parameters.json file and the push fails with the same error message. I can confirm that I had no other pending changes to the auth service or any other service. The only thing I did was add analytics.

[2019-10-03 04:29] yukitaka13-1110 opened #2486 "Is there any possibility of flutter support?"
Feature request.
We long for flutter support.

Is there a possibility to support it ?

[2019-10-03 05:55] kshitijbhat330 commented on #1885
Hi Team, Can you please provide any update regarding this?

[2019-10-03 05:55] kshitijbhat330 commented on #1884
Hi Team,
Can you please provide any updates regarding this?

[2019-10-03 05:56] kaustavghosh06 commented on #2486
@yukitaka13-1110 We don't have a plans for Flutter support in the immediate future but we're actively  looking into it.

Closing, as this is a duplicate of #251

[2019-10-03 05:56] #2486 closed

[2019-10-03 06:21] rawadrifai opened #2487 "Accessing query through unauth role not working gives unauthorized"
Hi -
In my schema, I have
[code]
I did `amplify update api` and I chose Cognito, then additional auth IAM.

I did `amplify update auth` and I allowed unauthenticated logins.

My backend-config.json has this:
[code]

When I try to query MyType like this I get Unauthorized error. What did I miss?
[code]

[2019-10-03 06:24] kaustavghosh06 commented on #2487
@rawadrifai Are you calling this API from your app using Cognito?

[2019-10-03 06:28] kaustavghosh06 commented on #1884
@kshitijbhat330 Which specific update are you looking for? We've fixed the wrong incorrect tableName generation mentioned in your description here - https://github.com/aws-amplify/amplify-cli/issues/1884#issue-471887412

[2019-10-03 06:28] rawadrifai commented on #2487
@kaustavghosh06 this is how I use it:
[code]

[2019-10-03 06:32] kaustavghosh06 commented on #2487
@rawadrifai You would need to specify the auth mode in the Amplify call you're making from the client. Please refer to this -https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth for more information for using multi-auth AppSync mode's in Amplify JS.

[2019-10-03 06:37] rawadrifai commented on #2487
Thank you! @kaustavghosh06

[2019-10-03 06:37] #2487 closed

[2019-10-03 06:46] kaustavghosh06 commented on #2465
@artecoop What did you set your max depth level for codegen? Can you set it to 3 and see if you see this issue.

[2019-10-03 06:50] kaustavghosh06 commented on #2471
@julia-cassella Can you check `amplify -v` to confirm the version and then a screenshot of the exact flow for adding the API? (I tried to follow the steps and wasn't able to reproduce the issue). Also, curious to know as to why you would be needing sudo for each of the amplify commands.

[2019-10-03 06:51] kaustavghosh06 commented on #2454
@oliverandersencox Does the CLI any error stack trace for this?

[2019-10-03 06:52] rawadrifai commented on #2487
@kaustavghosh06 I don't know if this is this expected behavior .. I would think I should get unauthorized but it's working fine. When I try to query like this:
[code]

here's the actual schema
[code]

[2019-10-03 06:53] rawadrifai commented on #2487
but if I try to go into users it fails..

[2019-10-03 06:59] kaustavghosh06 commented on #2461
@oste  @model works only with DDB right now and we support only importing of RDS data bases.
Also, the CLI generates the unauth and auth roles and attaches it to the cognito identity pools to answer your questions but there's a UI issue/bug in the cognito console - due to which you're not able to see the associated roles (I've seen that happen when you have > 50 IAM roles in your account)

[2019-10-03 06:59] #2461 closed

[2019-10-03 07:03] artecoop commented on #2465
@kaustavghosh06 you're right. This closes the issue. Thank you very much

[2019-10-03 07:03] #2465 closed

[2019-10-03 07:03] kaustavghosh06 commented on #2456
@YikSanChan Did you just try running this locally using node? I have a hunch this error is specific to your code tied to the `ReactDOMServer.renderToString` function.

[2019-10-03 07:05] kaustavghosh06 commented on #2455
@nick-town Can you please share your `amplify/backend/backend-config.json` or `amplify/backend/amplify-meta.json` file?

[2019-10-03 07:09] kaustavghosh06 commented on #2449
@mooser The "One resolver per field" error/bug is a know AppSync service bug and we're actively working with the service team to get this fixed. There is already an issue opened up out here - https://github.com/aws-amplify/amplify-cli/issues/682 which we're using to track this and https://github.com/aws-amplify/amplify-cli/issues/682#issuecomment-471084364 mentions about a workaround for this.

[2019-10-03 07:09] #2449 closed

[2019-10-03 07:12] kaustavghosh06 commented on #2437
@cremich Yes, you would have to unfortunately selectively merge the contents when merging from dev -> master if you're selectively managing these environments with a disparity in the resource types.

[2019-10-03 07:14] #2415 closed

[2019-10-03 07:16] kaustavghosh06 commented on #2401
@DanielMuller You could go ahead and modify the Cloudformation file for the S3 storage resource localted in `amplify/backend/storage/<resource-name>` directory to add these additional configurations if you need it.

[2019-10-03 07:17] kaustavghosh06 commented on #2401
Also, I don't believe `amplify storage update` will overwrite your changes. Did you verify this behavior?

[2019-10-03 07:18] kaustavghosh06 commented on #2279
@DanielMuller We're actively working on this feature - to add Cognito user-pool groups and then associating it with the resources managed by Amplify like S3.
For the custom resource quesiton, I have answered it as a part of your issue out here - https://github.com/aws-amplify/amplify-cli/issues/2401#issuecomment-537819912

[2019-10-03 07:18] #2279 closed

[2019-10-03 07:20] kaustavghosh06 commented on #2269
@jkahn117 Yeah, unfortunately this is not Amplify related and you can get past this by using the decodeURIComponent() function in your lambda function as mentioned by @tgjorgoski

[2019-10-03 07:20] #2269 closed

[2019-10-03 07:21] kaustavghosh06 commented on #2232
@pravgupt It might be an issue with the JS Lib looking for another enum for that key then?
@undefobj @manueliglesias Any thoughts?

[2019-10-03 07:24] #2142 closed

[2019-10-03 07:27] kaustavghosh06 commented on #2131
@Monder87 The CLI now supports out of the box IAM support for AppSync API's as a part of the GraphQL transformer. Please take a look at it out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#public-authorization and let us know if you're still stuck.

[2019-10-03 07:27] #2131 closed

[2019-10-03 07:30] kaustavghosh06 commented on #2153
@horacioh Sorry for the late response:

1. You would need to modify this via the console for tables managed by the GraphQL transformer, but this should soon be addressed out of the box - as a part of the CLI - as a part of this PR - https://github.com/aws-amplify/amplify-cli/pull/2463

2. In the meanwhile, you can go the Lambda console - go to your Lambda function trigger -> Find out the Lambda Ex

[2019-10-03 07:35] #858 closed

[2019-10-03 07:38] kaustavghosh06 commented on #1719
@calspre Were you able to diagnose/reproduce the issue? Our team wasn't able to reproduce this in the last couple of weeks.

[2019-10-03 07:40] kaustavghosh06 commented on #1539
@ericowlie There is a specific Cloudformation resource for deploying the API, so ideally that resource should be called/invoked only aftert he custom HTTP header is deployed - so you would ideally need a dependsOn block in the Cloudformation for the deploy resource.

[2019-10-03 07:41] #1930 closed

[2019-10-03 07:50] #1788 closed

[2019-10-03 07:55] kaustavghosh06 commented on #2480
@rb365 Can you init the project in the iOS project using v1.1.12 - which works and then once you're able to init/pull the project in, you can upgrade the the latest version and just run `amplify update api` - walkthrough your options and your authConfig would be generated (all the configs would be automatically migrated at that point).

[2019-10-03 08:00] kaustavghosh06 commented on #2420
@raphdom Do you want to create a Query in your schema or a custom query in the client-side?

[2019-10-03 08:01] raphdom commented on #2420
In the client side

[2019-10-03 08:11] kaustavghosh06 commented on #2420
If you just want to not receive fields on the client-side without any server side protection, you could just use a query like this:

[code]

[2019-10-03 08:13] #2431 closed

[2019-10-03 08:14] #2405 closed

[2019-10-03 08:14] raphdom commented on #2420
Yeah, okay, but in which file I should put this, and how can I regenerate the API.service.ts with this change, I mean with another method to use this query.

[2019-10-03 08:16] kaustavghosh06 commented on #2208
@christodupreez Could you send your `amplify/` directory in the project to `amplify-cli@amazon.com`? We would like to take a look at it and diagnose the issue.

[2019-10-03 08:18] DanielMuller commented on #2401
Just tested it with "Acceleration" and a "Lifecycle", and indeed it doesn't get overwritten after `amplify storage update` (I changed the auth rules and added a trigger).

I wrongly assumed that the Cloudformation template would be rewritten on any CLI change without even trying it out.

[2019-10-03 08:18] #2401 closed

[2019-10-03 08:20] kaustavghosh06 commented on #2387
You could potentially use `custom-stacks` described out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks and pass the Auth and Unauth Role ARN's to the custom stack and attach a custom policy to it.

[2019-10-03 08:29] kaustavghosh06 commented on #2420
You can add this query in `src/graphl` directory of your project in a separate file - say `custom-queries.ts` and then run `amplify codegen` again to regenerate the `API.service.ts`  having the queries present in your `custom-queries.ts` file.

[2019-10-03 08:35] kaustavghosh06 commented on #2292
@jwnx Why not just use the `amplify codegen types` command instead of yarn in your script? You can list amplify as a dev dependency of your project, just like yarn?

[2019-10-03 08:39] kaustavghosh06 commented on #2122
@jasonbobier Could you please explain your use-case more in detail? What do you specifically mean by - ` I want API just for the .graphql file that I generate`?
We recently released a way to run codegen without having to run `amplify init` or add an API via the CLI. Please take a look at Flow 5 here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#workflows-

[2019-10-03 08:43] kaustavghosh06 commented on #2231
@set321go The build process happens out here - https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/lib/build-resources.js#L21 and as you can see this is hard-coded to the `src/` directory right now..so I would treat this request as an enhancement.

[2019-10-03 09:04] jtushar53 commented on #2375
GSI was created before the lambda, but i think the problem is not related to lambda, instead index/* is not added to storage's policy. So when i add storage and GSI and push it, i cannot find table/index/* in policy associated with storage

[2019-10-03 09:24] jasonbobier commented on #2122
Right now, the codegen generates api for everything in the schema, including lots of stuff that I will never use. I want to be able to have .graphql files that I write that contain only my necessary queries.

For example, say you had a schema with something like this:

type Query {
	me: User
	users(ids: [ID!], emails: [String!]): [User!]
	mediaSession(id: ID!): MediaSession
	user(id: ID!): User
	g

[2019-10-03 09:29] daannijkamp opened #2488 "Inform users of amplify-cli when there is an update available"
**Is your feature request related to a problem? Please describe.**
When there is a new version of the Amplify CLI, I will not be notified.
Other Packages, for example [npm-check-updates](https://www.npmjs.com/package/npm-check-updates), give me a notification when a new version is available. For this they use [update-notifier](https://www.npmjs.com/package/update-notifier).

**Describe the solutio

[2019-10-03 09:49] christodupreez commented on #2208
@kaustavghosh06 I have sent amplify/ to amplify-cli@amazon.com as requested. Thank you.

[2019-10-03 13:22] diego-palmeira commented on #2450
Finally, I use the agent in my lambda to add the proxy programatically using the library const https = require('https'); and forgetting the example of apollo.

Then in the lambda code:
    .....
    const req = new AWS.HttpRequest(appsyncUrl, region);
    req.method = "POST";
    req.headers.host = endpoint;
    req.headers["Content-Type"] = "application/json";
    req.body = JSON.stringify({

[2019-10-03 13:22] #2450 closed

[2019-10-03 15:32] sakhmedbayev opened #2489 "How to decrease spending on ElasticSearch Service usage"
** Which Category is your question related to? **
Billing

** What AWS Services are you utilizing? **
AWS ElasticSearch

** Provide additional details e.g. code snippets **
I wonder if there is a way I can decrease my spending on ElasticSearch Service that was created for me by AWS amplify cli by default. A DynamoDB database that is connected to ElasticSearch has only a few records but I am still

[2019-10-03 16:30] zaklampert commented on #2453
@mooser what config hacks worked for you?

[2019-10-03 16:59] #2361 closed

[2019-10-03 17:13] gustavosooeiro opened #2490 "How to setup congnito to use email as username?"
Using AWS Amplify to create an authentication (Cognito) with Reactjs, the default username is a UUID. So when I log in to the system I see:

Hello f725e4a2-1f24-487d-9265-864947f5c5eb

How do I change this behavior? There may be a way of changing this in the frontend, but I would like to change this in the backend, because the list of users in Cognito has UUIDs as the identifier as well. I would l

[2019-10-03 17:40] mwarger commented on #1325
@attilah Only the `queries`, `mutations`, and `subscriptions` files are part of the codegen output.  These are regenerated every time.  The codegen looks at the `graphql/*.ts` path for type generation, so anything extra you put in there yourself (like I did with `custom-queries.ts`) is also used with the codegen tool.  The `blogDetailsFragment` is there.

[2019-10-03 18:09] SwaySway commented on #2420
If you have any other questions please feel free to comment on this issue.

[2019-10-03 18:09] #2420 closed

[2019-10-03 18:13] SwaySway commented on #2408
@tgjorgoski You can specify what you would like as a response in the graphql query. So if you didn't want to duplicate the data for chat you can limit the info to just the user and not include the chat
[code]

If you have any other questions on this please feel free to comment.

[2019-10-03 18:14] SwaySway commented on #2387
If this did not work out for you please feel free to comment on this issue.

[2019-10-03 18:14] #2387 closed

[2019-10-03 18:19] SwaySway commented on #2208
[code]

This doesn't look like an artifact that is generated by the CLI. Was this added in manually? Could you try to do a push with this removed from your project?

[2019-10-03 18:27] UnleashedMind commented on #402
@nirvdrum
There's no workaround at the moment, the urls are in the `amplify/backend/amplify-meta.json` file,  as  "CloudFrontSecureURL",  "WebsiteURL", but of course the `CloudFrontSecureURL` is no longer working after the CloudFront is removed.

[2019-10-03 18:29] SwaySway commented on #2122
@jasonbobier You can specify a custom Schema in `inlcudes
[code]

[2019-10-03 18:33] #1889 closed

[2019-10-03 18:41] SwaySway commented on #1734
@d3vhound Are you still experiencing issues?

[2019-10-03 18:46] yuth commented on #2292
`amplify-graphql-types-generator  --help` shows all the possible options for this command.

The `amplify-graphql-types-generator` needs a schema, which is entire schema for your GraphQL API. This should include All type declaration and possible query, mutation and subscription. It also needs a list of files that include the statements to which you want to generate the types (this is subset of sche

[2019-10-03 18:49] SwaySway commented on #835
@motivus Are you still experiencing issues?

[2019-10-03 19:17] andrew-aernos opened #2492 "@function directive to query and store User fields for @model types"
** Which Category is your question related to? **
API / GraphQL transform and resolver

** What AWS Services are you utilizing? **
Amplify CLI, Cognito User Pool

** Provide additional details e.g. code snippets **
GraphQL transformer generates the API.service.ts, the API is setup to authenticate with cognito user pool. The ability to annotate a custom field resolver with lambda is awesome. My que

[2019-10-03 19:18] gustavosooeiro commented on #2490
@haverchuck Thank you very much for this explanation! No problem about the mixup!! :)

I am using users regularly registered. Actually just one user...
![Captura de tela de 2019-10-03 16-16-18](https://user-images.githubusercontent.com/4974133/66157066-5cea7f00-e5f9-11e9-80a4-4b02c450b2cf.png)

[2019-10-03 19:22] ericclemmons opened #2493 "`amplify mock` functions should pick up on saved changes"
**Is your feature request related to a problem? Please describe.**

When running `amplify mock` to test S3 triggers (e.g. `amplify/backend/function/S3Trigger.../src/index.js`), changes require stopping the process & running `amplify mock` again.

It appears that `amplify mock` keeps the initial instantiation of the lambda for all requests throughout the lifetime of the process.

**Describe the sol

[2019-10-03 19:24] SwaySway commented on #2085
@playground @henning101 What is the issue you are running into? Is this error related to https://github.com/aws-amplify/amplify-cli/issues/2085#issue-482387982 ?

[2019-10-03 19:25] ericclemmons commented on #2493
My preference would be for a new invocation per-request, but if that's too expensive in practice, then HMR is my 2nd choice.

Are there any constraints preventing an invocation-per-request approach?

[2019-10-03 19:38] SwaySway commented on #1339
@brunostuani Currently Amplify Codegen does not support fragments. Marking this as an enhancement.

[2019-10-03 19:40] SwaySway commented on #800
Closing this issue as this fixed has been merged and released.

[2019-10-03 19:40] #800 closed

[2019-10-03 19:42] #334 closed

[2019-10-03 19:45] SwaySway commented on #2464
Closing this issue as the fix for this has been merged.

[2019-10-03 19:45] #2464 closed

[2019-10-03 20:12] ericclemmons commented on #2488
As an alternative, ZEIT has [update-check][2] which was a result of some issues [they've detailed in a twitter thread][1].

It is similar in size, has [~200k weekly downloads][4], and may be worth comparing to, or as a potential alternative _if_ we experience any [similar issues][1] with `update-notifier`.

[1]: https://twitter.com/notquiteleo/status/983193273224200192
[2]: https://github.com/zeit

[2019-10-03 20:22] tgjorgoski commented on #2408
@SwaySway , I'm affraid you didn't understand the question.
I want to get the chat messages including WHO wrote them. However if e.g. 1 person wrote 500 of the messages, if you get user data with each message you will receive 500 times the same user info.
Now, of course you can request JUST the id, and AFTER the initial query, make additional one requesting the details.
However, I'm asking if ther

[2019-10-03 20:44] rb365 commented on #2480
@kaustavghosh06 thanks! I still got it after I did that so what I did was changed schema to trigger changes to do amplify push and after I did amplify push it still gave me the error for the first push but after that it went away

[2019-10-03 21:37] SwaySway commented on #1600
Closing this issue as the PR https://github.com/aws-amplify/amplify-cli/pull/1612 for it has been merged.

[2019-10-03 21:37] #1600 closed

[2019-10-03 22:16] yuth commented on #2482
@mooser

Mock server creates a new child process every time it invokes lambda. This is done so that the lambda function can pick up any change that might have happened in disk. So attaching a debugger using process id won't be possible. But if you use `console.log` statements they should get printed on to the terminal where you are running the mock server.

Can you please clarify the following
1.

[2019-10-03 22:19] nikhname commented on #2191
There is currently no workaround for adding a second database. However, this is a valid use case so I'm marking it as an enhancement.

[2019-10-03 22:52] ammarkarachi commented on #2456
@YikSanChan The lambda functions are being executed as node/js. The snippet ```<div>hello world</div>``` is part of JSX and is unrecognized. There are two possible solutions I came across.

1. Render react without using JSX, [more information](https://reactjs.org/docs/react-without-jsx.html)
2. Convert existing JSX file, [more information](https://babeljs.io/docs/en/#jsx-and-react)

[2019-10-03 23:00] YikSanChan commented on #2456
@ammarkarachi I'll try and let you know if it works, thx!

[2019-10-03 23:20] ammarkarachi commented on #2456
@YikSanChan Comment if you need help.

[2019-10-03 23:20] #2456 closed

[2019-10-03 23:40] meketadev opened #2496 "Autogenerated graphql files are not importable in typescript"
**Describe the bug**
A clear and concise description of what the bug is.
The generated graphql mutations, queries, and subscriptions are not importable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create project `ng init` todo.
2. cd into project and add amplify `amplify init` using the angular options
3. Add the api, and use any schema, the "todo" default schema is fine.
4. amplify push

[2019-10-03 23:47] SwaySway commented on #2496
@meketadev Could you share your `.graphqlconfig.yml`? It is located in the root of your project.
Based on your screenshot it looks like your graphql operations are in a graphql format.

[2019-10-03 23:49] meketadev commented on #2496
Here is the .graphqlconfig.yml file:
[code]

[2019-10-03 23:50] SwaySway commented on #2492
@andrew-aernos I'm not sure I understand your 2nd case. Are you looking to do a query and get the user's information from the cognito function? This information should be available to you as this is passed into the function payload `$ctx.identity` would contain info on the current user doing the query.
Payload Snippet:
[code]

[2019-10-04 00:03] andrew-aernos commented on #2492
@SwaySway Yes, your understanding is correct. My problem is when I mix the two cases together. The api codegen creates CreateTaskInput that requires the whole "User" object, but it would only make sense to store the User's username/sub on create.

I'm hoping there a better, perhaps a more aws way than what I have currently, as shown below:
[code]

[2019-10-04 00:06] SwaySway commented on #2496
@meketadev If you run `amplify codegen configure` you can reconfigure the config so your graphql operations are in typescript.

[2019-10-04 00:23] meketadev commented on #2496
@SwaySway Thanks for the prompt replies.  Changing the file and running the code gen again does allow me to import the generated graphql files now, but I lose the benefit of the angular injectable api service.  The new API.ts file is missing some nice features of the angular file, I might have missed how I could have kept both.
It would be ideal to have the injectable service that the angular opti

[2019-10-04 02:01] TrueLecter opened #2498 "Amplify api add-graphql-datasource fails when Query Editor secret is available"
**Describe the bug**
After selecting database the command fails with `No RDS access credentials found in the AWS Secret Manager.`, however there are available generated secret by Query Editor as well as another custom secret.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup RDS with Aurora MySQL 5.6 Compatible (Serverless)
2. Login via query editor, create DB and tables
3. Try to add da

[2019-10-04 02:44] kevinwolfdev opened #2499 "How to validate or modify an input before a mutation?"
**Which Category is your question related to?**
api

**What AWS Services are you utilizing?**
api, function

**Provide additional details e.g. code snippets**
I am trying to create a RSS reader, which has the following type:

[code]

On my UI, I want the user to enter a URL, which will check if it is a valid RSS URL and then generate a `Feed` object by using [`rss-parser`](https://npm.im/rss-parse

[2019-10-04 03:05] mooser commented on #2482
@yuth Thanks!  You solved it for me, it was the credentials.

This is my solution currently to get mock working:
[code]

[2019-10-04 03:09] mooser commented on #2453
@zaklampert You can specify the missing refs in function-parameters.json

So if you are missing ref for "GROUP" your function-parameters.json should look like:
`{ "GROUP": "group-name"} `

[2019-10-04 03:38] jskrt commented on #2391
I'm running into this issue right now with cli version 3.11.0. When I add the api with the apiId and do an amplify status, it shows the added api, the resource name, with the operation "No Change" so there's nothing to push. If I switch the master branch and the master env, I see that the API operation changes to "Delete.

[2019-10-04 03:42] jskrt commented on #2391
Just tried again and instead of "Delete" in the master env, it's showing "Create" but even after pushing, it doesn't change the operation or even add the GraphQL endpoint and other info to aws-exports.json

[2019-10-04 03:49] kaustavghosh06 commented on #2391
@jskrt Currently when you add an API externally i.e when you don't create it using the CLI, it's not multi-environment agnostic. If you want multi-environment support, I would recommend adding the API via the CLI. We'll dig deep and look into make the external addition/import of API multi-environment friendly as well.

[2019-10-04 03:56] jkeys-ecg-nmsu commented on #2432
@nikhname @blairtaylor this will not do a full migration if you're using the API category with Dynamo, because it will not trigger any data pipeline or stream solution or anything to copy records over to the new account. I ran into this recently and had to spend a few hours spinning up EMR clusters and fiddling with read and write capacities.

[2019-10-04 03:58] kaustavghosh06 commented on #2432
@jkeys-ecg-nmsu, @blairtaylor mentioned in his description that he doesn't to copy over his data for his records/data and just wants to create a clone of his resource configurations in a new AWS account.

[2019-10-04 04:42] undefobj commented on #2489
This could potentially be addressed by a lightweight DynamoDB implementation until a certain scale is reached. See https://github.com/aws-amplify/amplify-cli/issues/707

[2019-10-04 04:44] undefobj commented on #2499
This could potentially be addressed with upcoming improvements to `@model` mutation input types. See https://github.com/aws-amplify/amplify-cli/issues/2429

cc @attilah

[2019-10-04 05:05] oste commented on #2461
Hi @kaustavghosh06, I was more curious about the policies being attached. I had to manually add the policy shown in my original question in order for IAM auth to work. I am assuming these policies are automatically handled when using @model with @auth. I think it could be worthwhile to handle this for RDS as well. It seems the @auth could be decoupled from @model.

Thanks!

[2019-10-04 05:32] #2482 closed

[2019-10-04 05:37] yuth commented on #2085
@playground @heitorlessa  @henning101 we are fixing the installation error related to NodeGyp/ZMQ  in #2428

[2019-10-04 05:38] yuth commented on #2064
@idanlo please feel free to comment here if you're still facing this issue

[2019-10-04 06:17] christodupreez commented on #2208
It is generated automatically for some reason.

I removed the "analytics": {"disabled": true} from all the files and then tried to amplify push but I still get the same error, so then I ran amplify init and followed the steps, then the  "analytics": {"disabled": true} reappeared, followed by the error, see below:

[code]

[2019-10-04 06:25] ambientlight commented on #1678
if this would be helpful here is an example with AWSAppSyncClient with `AWS_IAM` auth type.
1. Go ahead in and create a lambda function with `amplify add function`.
2. When it asks you for additional permissions -> YES, then select your API category resource and for the operations choose `create`. This will create a lambda-execution policy with `appsync:GraphQL` permissions on your API graphql res

[2019-10-04 06:57] #2440 closed

[2019-10-04 08:54] jasonbobier commented on #2122
This isn't a custom schema though. These are just normal GraphQL client queries, mutations, and subscriptions. The while point of GraphQL is that the client can ask for only what it needs. Having the codegen download the real schema to use when validating client queries during codegen is what we want to happen, but we don't want the codegen to generate code for the _entire_ schema. Just the querie

[2019-10-04 09:47] ricardoribas opened #2502 "Different behavior between mock feature and real environment"
**Describe the bug**
The behavior while executing amplify API (graphql) requests using the `mock` feature from amplify seems to be different than the API requests from a real environment. Is that a normal behavior or is an issue that is already addressed?

**To Reproduce**
Steps to reproduce the behavior:

1. Execute `amplify mock`
2. Execute end to end tests (for instance execute a request that w

[2019-10-04 10:09] artecoop opened #2501 "GraphQL: how to avoid orphanage"
Hello all!

Imagine to have 2 types, one referring to another via the `@connection` keyword. I can create and update whatever I want, but I can also delete, which create this question:

can I **_block_** deletion of **_connected_** items?

Similar to SQL with delete on the foreign key.
This will keep consistency on my data.

[2019-10-04 11:19] #2473 closed

[2019-10-04 11:38] heitorlessa commented on #2085
Awesome! Could you ping back this thread once a new release is cut with
that merge?

On Fri, 4 Oct 2019 at 06:37, Yathi <notifications@github.com> wrote:

[2019-10-04 13:04] blairtaylor commented on #2432
@jkeys-ecg-nmsu @nikhname thanks for your comments.  You are correct, we are spinning up a new environment so we won't need any data migrated. It does pose a couple of good questions -

1. What is the best way to migrate data across environments (using DynamoDB).
2. When we make schema changes going forward what types of changes would incur a data loss? For example, converting a String field to Ar

[2019-10-04 14:39] emmafass commented on #2373
@attilah @dabit3 Hi, sorry to drag this on. I found this thread helpful for setting up my auth rules but I'm still having some issues.

I want authenticated users to be able to create, update, and delete their own posts. However, I want both authenticated and unauthenticated users to be able to read all posts.

There is a home screen where the posts should all be displayed. After logging in, users

[2019-10-04 15:28] attilah commented on #2373
@emmafass what about this schema?

[code]

Since you're using ```userPools```, you can leverage the Unauthenticated role as an IAM provider, but also ```public``` with ```userPools``` provider could do the trick, and Amplify JS provide the way to get the credentials of the unauthenticated role.

Could you please try these options?

[2019-10-04 16:06] artecoop commented on #1988
I tried to replicate this exact same behavior, but using the mock api. The code compiles but executing it does nothing. Is an expected behavior for local db for mocking?

[2019-10-04 16:17] emmafass commented on #2373
I'm not sure I totally understand how to do this.

[code]

Gives me the error
[code]

Then trying `public` with `userPools` provider gives me:
[code]

Error:
[code]

I have `userPools` as my default authorization mode and `apiKey` as the only additional authorization mode.

Should I add `iam`?

[2019-10-04 17:05] attilah commented on #2373
Sorry, my bad,

The second suggestion was incorrect. For the first one, please run ```amplify api update``` and when configure advanced settings and add IAM as a second provider for your API, that will get rid of the error message.

[2019-10-04 17:25] ericclemmons commented on #2493
I went with the simpler solution in https://github.com/aws-amplify/amplify-cli/pull/2505, rather than adding an HMR dependency.

[2019-10-04 17:28] zjullion commented on #1481
@andrew-aernos: I don't believe this is documented anywhere
@kaustavghosh06: is it possible to get the parameter-passing format documented?

[2019-10-04 17:35] zjullion commented on #868
For anyone looking at this issue, I would strongly encourage you to allow amplify-cli to control any custom stacks by adding the stack to amplify - see my [comment](https://github.com/aws-amplify/amplify-cli/issues/80#issuecomment-492428916) and the [amplify-cli documentation](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks)

In this manner, you can control

[2019-10-04 18:33] davekiss opened #2506 "@searchable or condition not working as expected"
**Describe the bug**
I have a simple schema like so:

[code]

From the front end, I am submitting a GraphQL query with the following variables

[code]

This query works and returns the expected results. So does this one:

[code]

As soon as I try to combine both of them into one query with an `or` condition, the query suddenly returns no results

[code]

**Expected behavior**
Results are returns i

[2019-10-04 18:48] emmafass commented on #2373
I ran `amplify api update` and added IAM as an additional authorization provider.

My auth rules are set up like:
[code]

listPosts is now like:
[code]

When logged out, I am still not seeing any posts and getting `No current user` error.
When logged in, I am still only seeing the posts that user owns.

I am not very familiar with IAM. What additional set up should I do to get it working?

[2019-10-04 19:01] nick-town commented on #2455
I worked around this by manually running the Cloudformation template using aws-cli. I had kept the files in the `amplify/backend/gateway/proxy/` directory and just removed the following entries from `amplify/backend/backend.config.json`:
[code]
When I added them back and did `amplify env checkout <myenv>`, followed by `amplify push`the templates were executed as I expected. Unless I made a typo pr

[2019-10-04 19:01] #2455 closed

[2019-10-04 19:08] ChoiJinYoung commented on #2096
Hello.
I also have same issue. I already tried "amplify auth update" over 10 times.
but I have same error. How can I solve it? if I can't use amplify, How can I use cognito, I already asked to AWS customer service. They also don't know how to do it. So I am asking here.
Please help me.

[code]

[2019-10-04 19:43] SwaySway commented on #2096
@ChoiJinYoung Did this workaround work for you?
https://github.com/aws-amplify/amplify-cli/issues/2096#issuecomment-523746110
Or are you walking through a different workflow?

[2019-10-04 19:50] emmafass commented on #2373
The documentation says: When used in conjunction with amplify add auth the CLI generates scoped down IAM policies for the “UnAuthenticated” role automatically.

I tried running `amplify update auth` and got:

[code]

[2019-10-04 20:58] ChoiJinYoung commented on #2096
@SwaySway That's working. Thank you. I didn't read that.

[2019-10-04 22:43] aldrinc commented on #186
What is the recommended approach for handling this issue in a CI env?

I'm using MS Appcenter for my builds and its failing because aws-exports.js is missing. I am unable to generate the aws-exports.js file via amplify push as it says no change. I'm on node v12.4.0.

[2019-10-04 23:38] SwaySway commented on #2501
@artecoop The connected item shouldn't be deleted.
(e.g. delete post comments under post will still exist and point to null)
Is there a mutation operation that is deleting the connected item for you?

[2019-10-05 00:04] kennyrulez commented on #2501
Hello @SwaySway, I'm writing with my personal account and not the company one to not let you wait until Monday to have my answer.

imagine having a simple one-to-many relationship
[code]

Easy peasy. Amplify will generate standard mutations for both models.
Add some data, and when adding a `Bar` add the relation to Foo, so the one-to-many is complete.

Now call the `deleteBar ` mutation with some

[2019-10-05 04:08] kaustavghosh06 commented on #2502
@ricardoribas What's your schema and what's your query? We need more information to dig into this. This shouldn't be the intended behavior.

[2019-10-05 16:50] lenarmazitov commented on #2422
Sorry for closing issue, but bug still exists.

**Description**
Everything works fine for mutation if in response file *Mutation.updateUser.res.vtl:* we **do not** have string:
[code]

<img width="926" alt="Screenshot 2019-10-05 at 19 39 25" src="https://user-images.githubusercontent.com/600133/66258009-be9d1b80-e7a8-11e9-9b7c-513d9559beeb.png">

But if we have then response will be:
<img width="9

[2019-10-05 21:11] sohel-khan commented on #2498
@TrueLecter 🥇

[2019-10-06 08:11] udeshx opened #2509 "Mutation is failing when adding relationship id value"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Graphql mutations
** What AWS Services are you utilizing? **
AppSync
** Provide additional details e.g. code snippets **
I am using the auto generated mutations with Amplify
When I add an object with a relationship the operation fails with the messag

[2019-10-06 09:14] udeshx commented on #2509
The solution was to change the property that contained the relationship ID from a nested object to a string.

**The original that produced the error was**

`{id: "", number: 1212112, expiration: "12/20", customer: {id:"81d86584-e031-41db-9c20-e6d3c5b005a6"}}`
**The correction that now works is**

`{id: "", number: 1212112, expiration: "12/20", creditcardCustomerId: "81d86584-e031-41db-9c20-e6d3c5b

[2019-10-06 09:14] #2509 closed

[2019-10-06 13:27] TrueLecter commented on #2506
The structure of `or` filter is the following:
[code]

So if you want to have both `filter` and `tags` fields to be in `or` statement, your request should be changed to following:
[code]

[2019-10-06 23:05] sacrampton commented on #1055
@mikeparisstuff - can we get an update on this?

The @function directive lets you define Lambda functions in the amplify CLI - but there appears to be no way to define a pipeline resolvers in the CLI. It also appears unclear within the CLI how to move the default resolvers to be pipeline resolvers.

There just appears to be a gaping hole in how to support pipeline resolvers within the CLI which me

[2019-10-06 23:37] emmafass commented on #2373
It seems like the auth configuration I want is:

[code]

and to list Posts for everyone to see I just needed to change the request to be like:
[code]
as explained in the documentation [here](https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth)

This is working for me locally! Getting the results that I would expect, plus I am able to use Postman to test requests.

My only issue now is

[2019-10-07 01:49] CodySwannGT opened #2513 "Breaking Change with @auth?"
**Describe the bug**
Prior to the latest update, field-level auth rules worked for mutations. Now they don't seem to.

For example

[code]

Then with the mutation:
[code]

In that instance, pendingBalance is always null on the returned updateUser.

Prior to updating, I would get the pendingBalanced returned regardless of whether the user was in the Admins groups

[2019-10-07 02:21] ambientlight commented on #1055
@sacrampton:
1. if you chain two `@function` together, graphql schema will compile to a pipeline resolver.
2. alternatively, custom resolvers `https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers` is a way to define your own resolvers with datasource and `request/response`vtl template pair. (Personally, this is pretty practical way to use appsync, where amplify's job is just p

[2019-10-07 05:36] idanlo commented on #1055
@ambientlight that's right, you can use the `@function` directive to chain functions, but that only works for lambda functions, which means for every new `@function` you have to create a lambda function, and the good thing about pipeline resolvers is that you can use AppSync functions with the VTL language, that way configuring the code for the request and response. Also making requests to DynamoD

[2019-10-07 06:00] sacrampton commented on #1055
Thanks for your comments @idanlo  / @ambientlight . You are correct - I want to create pipeline resolvers without Lambda - just with VTL as that is a perfect fit for my need.

Lets say I have a type called Asset then a default mutation is created "createAsset". If I want to execute another resolver after this "createAsset" then on the console this mutation is first converted to a pipeline resolver

[2019-10-07 10:37] VitValchar commented on #1352
In case anyone is looking for an answer to @madhurvyas1 question:
the function `event.typeName` will be `"Post"` for both function calls, but the `event.fieldName` will be `"author"` for one and `"editor"` for second, so you can distinguish which one of them is being resolved.

[2019-10-07 12:18] davekiss commented on #2303
@attilah I'm also running into a similar issue and would benefit from seeing an example of the setup for a custom policy you're referencing

[2019-10-07 12:24] raelmiu opened #2510 "add-graphql-datasource - aurora serverless - update fails"
When running `amplify add-graphql-datasource` to update the schema, old schema changes seem to conflict with the script:

[code]

**To Reproduce**
1. Setup an aws amplify project with an aurora api backend
2. Run amplify add-graphql-datasource
3. Make schema changes manually (not sure if optional)
4. Update database tables
5. run amplify add-graphql-datasource again
6. See error

**Expected behavi

[2019-10-07 12:39] ambientlight commented on #1055
@idanlo, @sacrampton: I personally don't mind writing custom VTL and CF templates. It always gives you the flexibility to tweak or hack it in any way, without any need to rely on Amplify transformers abstractions.

The relevant documentation is at [custom resolver](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers). Examples are provided there. For short, every api category

[2019-10-07 14:12] idanlo commented on #1055
@ambientlight @sacrampton I am currently using the python script that @andrewbtp posted here which is very helpful, I run the script every time I push to AppSync using the Amplify CLI (because currently it overwrites pipelines), but you do have to create the functions in the AppSync manually

[2019-10-07 14:43] davekiss commented on #2506
Ah, that's the missing ticket – documentation tripped me up. Thanks!

[2019-10-07 14:43] #2506 closed

[2019-10-07 14:46] ambientlight commented on #1055
@idanlo: hm strange, you mean you will write custom resolvers with custom CloudFormation and when it compiles the model it removes resolvers of type pipeline from generated stacks? let me double check, by functions I mean AppSync functions, not @function lambdas.

[2019-10-07 14:54] idanlo commented on #1055
@ambientlight I am creating the functions through the AppSync console, there it asks me what is the resource it needs to access and I can write request and response resolvers using VTL. after that using the python script that @andrewbtp posted I can use those AppSync functions for a pipeline resolver.

I recommend that you take a look on his python script, it was extremely helpful for me.

[2019-10-07 15:00] nateiler commented on #1055
I've been able to incorporate pipeline functions using only velocity templates without needing to use the console at all.  It required defining some additional CF and creating some additional resolvers, but I believe some updates have been made to the Amplify CLI that no longer requires the python resolver deployer script.

I'm sure I can find a few example snippets in our project; just want to ma

[2019-10-07 15:07] ambientlight commented on #1055
@natailer: yes that’s what I tried describing above

@idanlo: correct this behavior is expected, your are ‘drifting’ the stacks which are managed by CloudFormation, I am not entirely sure what will happen if you keep manually tweaking AppSync in console that is managed by CF, but instead of doing that by hand you can go and do the same thing in CloudFormation (custom resolvers in amplify) it will

[2019-10-07 15:21] rawadrifai opened #2512 "Subscriptions with @auth and ownerField as String array"
** Which Category is your question related to? **
Subscriptions

** What AWS Services are you utilizing? **
Amplify, AppSync

** Provide additional details e.g. code snippets **
I have in my schema this type:
[code]

When I subscribe to onCreate, and provides the Cognito id in the users field for the subscription, I don't get anything when records are created.
If I do the default "owner" as a Stri

[2019-10-07 15:22] ricardoribas commented on #2502
@kaustavghosh06 I can provide you this schema:
[code]

Is more than enough to describe the problem. The ´DeleteItemInput´ is the following one:
[code]

[2019-10-07 15:40] mwarger opened #2514 "ZipFile can only be used ... Issue with userpoolclient and MFA lambda"
**Describe the bug**
I'm getting the following error when pushing to the amplify console in my development environment:
ZipFile can only be used when Runtime is set to either of nodejs, nodejs4.3, nodejs6.10, nodejs8.10, python2.7, python3.6, python3.7.

I'm getting this for the userpoolclient lambda and the MFA lambda.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow migration steps t

[2019-10-07 15:58] SwaySway commented on #2422
@lenarmazitov That is to protect fields in the subscription as specified in the docs.
If you would like the response in the mutation you can can either subscriptions to either off or public.
[code]

[2019-10-07 16:25] SwaySway commented on #2513
@CodySwannGT This changed was added to protect fields in the subscription.
Should you need the response in the mutation you can set the field model subscription level to either off or public
[code]
Docs: https://aws-amplify.github.io/docs/cli-toolchain/graphql#authorizing-subscriptions

[2019-10-07 16:59] nateiler commented on #1055
Here is an example from our project.  A couple assumptions here:
1) Some level of comfort adding custom CF stacks
2) Some level of comfort manipulating resolver templates.

In the following example I'm using a pipeline resolver to create an entity; in this case it's a company, but we have other 'entity' types (contact, event, etc).

In a custom CF Stack, add a couple resources:
[code]

`CreateEnti

[2019-10-07 17:37] SwaySway commented on #2408
@tgjorgoski
I don't believe this is possible with a getChat query at least not out of the box.
Another thing to consider would be adding a one-to-many `@connection` between a User and Message.

[2019-10-07 17:38] nikhname commented on #1371
@integraitco, as @kartik78 mentioned, you can use $util.autoId to safely create a 128-bit randomly generated UUID for each new user. Feel free to comment/reopen if this solution doesn't work for you.

[2019-10-07 17:38] #1371 closed

[2019-10-07 17:43] lenarmazitov commented on #2422
@SwaySway thank you, I just have found it in documentation, sorry for disturbing.

https://aws-amplify.github.io/docs/cli-toolchain/graphql#per-field-with-subscriptions

[2019-10-07 17:43] #2422 closed

[2019-10-07 17:44] yuth commented on #2501
@kavengagne,

could you elaborate what you mean by relative state of `Foo` record inconsistent. Do you see the deleted `Bar` item when you run the following query?
[code]

[2019-10-07 17:46] yuth commented on #2514
@mwarger what was the version of Amplify CLI that was used to provision the userpool?

[2019-10-07 17:53] mwarger commented on #2514
@yuth you mean originally?  or the version of the CLI that i'm running?  or the version of the amplify console's CLI?

[2019-10-07 17:56] yuth commented on #2514
You mentioned

So did add auth using a older version of CLI? Also whats the version of CLI you have installed?

Could you also include the changes you have made in the CloudFormation templates to migrate

[2019-10-07 17:59] tgjorgoski commented on #2408
Thanks @SwaySway .  I  haven't looked into the possibility of building custom appsync pipelines, but wonder if something like this could be done by adding  a lambda function and runing that deduplicator library before returning the response.

And I wonder another thing, do the default AppSync resolvers which connect to DynamoDB make multiple requests in this kind of case (when they need to return

[2019-10-07 18:09] andrew-aernos opened #2515 "How to keep revision history of a @versioned model?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
GraphQL transform directive `@versioned`

** What AWS Services are you utilizing? **
AWS Amplify, DynamoDB, Cloudformation

** Provide additional details e.g. code snippets **
I'm trying `@versioned` directive to keep data consistent in a multi-user/

[2019-10-07 18:13] mwarger commented on #2514
My amplify version - amplify -v
3.11.0

I added auth with a previous version of the CLI.

I followed the instructions after I noticed that my project was initially failing because of an outdated node version: https://aws-amplify.github.io/docs/cli/lambda-node-version-update#node-version-update.

From the console logs:
The following resource(s) failed to update: [UserPoolClientLambda, MFALambda].

[2019-10-07 18:47] yuth commented on #2512
@rawadrifai, AppSync service  runs the  resolver only at subscription time and not  when subscription events are pushed by mutation. So only supported check in subscription is equality. If you update you subscription to take users as a list argument, you would get the subscription event in case you the argument passed to subscription matches the mutations owner field.

Lets look at example of the

[2019-10-07 19:37] yuth commented on #2510
@raelmiu Do you have type `User` already in your existing schema? Are there any other type collisions in existing schema, and have a table with the same name in  RDS?

[2019-10-07 20:10] yuth commented on #2514
@mwarger what value do you have for `Runtime` for both `UserPoolClientLambda` and `MFALambda`?

[2019-10-07 20:13] mwarger commented on #2514
nodejs8.10

[2019-10-07 20:15] yuth commented on #2514
Thanks @mwarger, could you share the complete cloudformation logs that gets printed when you push the change

[2019-10-07 20:17] mwarger commented on #2514
@yuth Where can I send it?

[2019-10-07 20:18] yuth commented on #2514
amplify-cli@amazon.com

[2019-10-07 20:24] mwarger commented on #2514
@yuth - Will send that later this evening.  Thank you.

[2019-10-07 20:58] stefangomez commented on #2375
I'm seeing this too. I would attempt at making a PR for fixing but I don't know enough about the plugin architecture. The fix should be done somewhere around here I believe: https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-category-function/provider-utils/awscloudformation/service-walkthroughs/lambda-walkthrough.js#L733

Not sure if your labels matter, maybe for prioritizati

[2019-10-07 21:03] yuth commented on #2515
Amplify CLI `@versioned ` directives intended use is to provide a mechanism to handle conflict resolution, and it does not provide support to storing different revisions of the record. We have RFC https://github.com/aws-amplify/amplify-cli/issues/1055, which has possible ways to implement auditing. Please feel free to leave a comment there so we take your use case into consideration when we build

[2019-10-07 21:04] yuth commented on #2513
Feel free to comment if you still have questions about this.

[2019-10-07 21:04] #2513 closed

[2019-10-07 21:21] #2498 closed

[2019-10-07 21:48] mwarger commented on #2514
@yuth - Sent.

[2019-10-07 22:22] andrewbtp commented on #1055
@nateiler Where do you track and deploy updates to the VTLs themselves?

[2019-10-07 22:30] andrew-aernos opened #2517 "@searchable generated DynamoDB trigger converts JSON integer to decimal."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
Using AWS custom scalar type (but also happens with any integer type

**To Reproduce**
Steps to reproduce the behavior:
1. Create some type in schema.graphql model
[code]
2. Deploy with `amplify push`
3. Create an example Foo
[code]

[2019-10-07 22:42] rawadrifai commented on #2512
@yuth I think this should be called out in the docs. I spent a good trying to make it work. Thank you for adding this as a feature request. The desired behavior is that I would pass by Cognito user and I would get notified if that user is in the array that's an ownerField.

[2019-10-07 22:47] andrewbtp commented on #1055
The Python script is a little easier to use from scratch, but that CFT is definitely the correct way to do this and is safer for production systems.

For anybody using the Python script, eventually I'll probably make it spit out a CFT (or many individual CFTs, need to look into it more) and then just use that going forward.

[2019-10-07 23:45] kevcam4891 commented on #2092
Is anyone actively working on this? I need this too, and may work on a PR if it is not being actively worked on.

[2019-10-07 23:49] kevcam4891 commented on #2092
#1946

[2019-10-07 23:49] kevcam4891 commented on #2092
Similar to #1946

[2019-10-07 23:56] yuth commented on #2512
This is not supported by the AppSync service and Amplify CLI can't implement this own as service provides no mechanism to run resolvers at the message publish time.

[2019-10-08 00:47] yuth commented on #2517
Elastic search infers types of indexes based on the content i finds and not based on the types that are defined by the schema. I am marking this as an enhancement and adding this to our backlog.

[2019-10-08 03:16] rawadrifai commented on #2512
This point has been brought up a few times but I’m not sure i understand.
What’s the difference between a single owner “owner: String” and multiple
owners “owners: [String]”. Why would a single owner sub work with the
limitations you mentioned and multiple owners won’t?

On Mon, Oct 7, 2019 at 4:56 PM Yathi <notifications@github.com> wrote:

[2019-10-08 05:25] calspre commented on #1719
@kaustavghosh06 I no longer use amplify so I can't tell if this issue persists. If no one else reported a similar issue you can close this -- I probably did something wrong.

[2019-10-08 06:39] bokuweb opened #2519 "UPDATE_FAILED error: api [unauthRoleName, authRoleName] do not exist in the template"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

amplify-cli

** What AWS Services are you utilizing? **

dyamo, appsync, s3, cognito

** Provide additional details e.g. code snippets **

I upgraded `amplify-cli3.0.0` to `3.11.0` after executing `amplify api update`.
However I ran into folowing er

[2019-10-08 06:40] rawadrifai opened #2520 "Firing subscription events from custom resolvers with @function"
** Which Category is your question related to? **
Subscriptions

** What AWS Services are you utilizing? **
Dynamo, AppSync, Cognito, Lambda

** Provide additional details e.g. code snippets **
I am using a lambda custom resolver to insert multiple items in dynamo db, so I don't have to make multiple queries(mutations) from the client. I use the dynamodb sdk to insert the data. I assume subscriber

[2019-10-08 07:25] artecoop commented on #2501
Thans @yuth for your response.

I forgot to mention, and I'm very sorry for, that **connections are non nullable**. So if I delete the bar, the ListFoo query does not return nothing, both on my app or in the mock endpoint.
If I check the errors, I got: "Cannot return null for non-nullable field Foo.bar".

This is why I say it's inconsitent: I actually can delete a record that can be referenced as

[2019-10-08 07:28] ArjunAhuja95 commented on #2385
@kaustavghosh06 I am still seeing this issue in lamda function.

[2019-10-08 07:34] GeorgeBellTMH commented on #2454
I am getting this as well...mock and push not working...

The following types do not have '@auth' enabled. Consider using @auth with @model
	 - TNSeries
	 - TNSermon
	 - Blog
	 - News
	 - Event
	 - Group
	 - Organization
	 - Staff
	 - Region
Learn more about @auth here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#auth

Failed to start API Mock endpoint TypeError: Cannot read property

[2019-10-08 07:35] GeorgeBellTMH commented on #2454
Using 3.11.0, update was from 3.2.0

[2019-10-08 08:02] GeorgeBellTMH commented on #2454
I did update on functions, api, hosting...I have one graph and one rest api....

[2019-10-08 08:12] bokuweb commented on #2519
I added `"AuthRoleName"` and `"UnauthRoleName"` to `customResources.json` and `parameters.json` for now.

[2019-10-08 08:17] raelmiu commented on #2510
Yes, the User is already in the schema. Actually there are two "User" from DynamoDB and "Users" from RDS.
Not in conflict, but that should be updated, yes?

[2019-10-08 08:25] GeorgeBellTMH opened #2521 "More debug information when receiving Cannot read property XXX of undefined"
There are a number of errors in recent days Cannot read property 'XXX' of undefined when pushing...where XXX is often a common thing - like request, length, etc. making it impossible to figure out what the issue is quickly - especially for newbies to Amplify.

To help debug these issues it would be helpful to get a more detailed message - either saying which template is wrong, or which file the er

[2019-10-08 09:01] ambientlight commented on #2520
@rawadrifai: what you can do is use [local resolvers](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-local-resolvers.html) with None datasource for a custom mutation that you can define via your custom resolvers. To this mutation you can attach the subscription with @aws_subscribe. You would need to an execution policy to lambda that allows `appsync:GraphQL` on your api category grap

[2019-10-08 09:41] bokuweb commented on #2519
Umm, this issue is not solved above workaround..

[2019-10-08 10:33] #2480 closed

[2019-10-08 11:20] antypko opened #2522 "Unable to add 'auth' feature"
**Describe the bug**
Having least possible IAM permissions it is not possible to add 'auth' resources to amplify.

**To Reproduce**

Steps to reproduce the behavior:
1. Start adding permissions which listed in errors during `amplify add auth` command.
Set of Cognito related permissions required for adding default amplify auth:
`"Effect": "Allow",
 "Action": [
                "cognito-idp:DeleteUse

[2019-10-08 13:08] Irindul opened #2523 "Automate amplify add hosting with bash"
** Which Category is your question related to? **
Hosting
** What AWS Services are you utilizing? **
Cloudfront and S3
** Provide additional details e.g. code snippets **
I'm trying to built an automatic deployment pipeline for an application and I have some problems with `amplify add hosting`. The script is asking to choose between DEV and PROD (using arrow keys) and then asks for the bucket name

[2019-10-08 16:35] ashika01 opened #2525 "Amplify Add Auth command does not provision needed permission in IAM"
**Describe the bug**
After configuring auth using `amplify add auth` for federated sign in, there is an error on the console.
![Screen Shot 2019-10-08 at 9 26 43 AM](https://user-images.githubusercontent.com/35131273/66414198-c843a080-e9ad-11e9-8318-7ef326617fba.png)
Going into aws console and editing IAM roles' permission solves the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. c

[2019-10-08 16:38] kaustavghosh06 commented on #2525
Do you see the Error as a guest or authenticated user?

[2019-10-08 16:44] yonatanmn commented on #1889
@nathan-quinn, about Example 2 -
I understand the problem, but what should be the solution:
I'd like to define the `groups` value on the main model (let say "Account"), and "child" models (e.g. "projects") should inherit somehow the same group values of the parent.

Do I have to add the same `groups` value on all models?

[2019-10-08 17:15] #1877 closed

[2019-10-08 17:47] divait commented on #2454
Same issue, any solution?

[2019-10-08 18:45] rawadrifai opened #2526 "Can only use alphanumerics in api resources added with Amplify cli"
Hello, if you try `amplify add api` and you specify `/something_somemthing` as the path, it will fail claiming it only takes alphanumerics. That's not the reality in API Gateway though. Is there a reason Amplify does not accept underscores for example in api paths?

[2019-10-08 19:00] rawadrifai commented on #2526
btw - I was able to manually change it.. it's just the cli that prevents underscores.

[2019-10-08 19:26] kqumsieh opened #2527 "REST API authorization type"
When I create a REST Api I do not get a choice for authorization type.  I want to add a Cognito User Pool authorization type for my REST Api.  This option is available for GraphQL but not REST.  The only authorization type available for REST Api is AWS_IAM.

<img width="386" alt="image" src="https://user-images.githubusercontent.com/37556705/66426273-7582dc80-e9df-11e9-844c-a51aa5276ab8.png">

Am

[2019-10-08 20:09] SwaySway commented on #2454
@GeorgeBellTMH @divait What are the steps done that led up to this issue?
I'm not able to reproduce this issue below are the steps taken to reproduce this.
Using @oliverandersencox's schema with Location type defined.
### Schema
[code]
### Steps Taken
1. Did the push with the following schema above using amplify 3.2.0.
1. Installed amplify version 3.11.0 and added `currency: String` and ran mock

[2019-10-08 20:20] philipmclifton commented on #2454
I get the same error:

1. Upgrade
2. Run push successfully
3. Run mock (length error shows)
4. Run push (length error shows)

[2019-10-08 20:30] #1960 closed

[2019-10-08 21:02] philipmclifton commented on #2454
Went through older versions.

Issue disappears in : `npm i -g @aws-amplify/cli@3.4.0`

Ran into this error in 3.4.0:

[code]

[2019-10-08 21:10] MattWlodarski opened #2528 "Hosting Issue on the Chrome Browser"
**Describe the bug**
When I publish an app update with amplify publish --invalidateCloudFront I do see the update on Mozilla and Chrome if I navigate to the website with the cloud front domain name. However, if I navigate to the website using my custom domain name (I created through route 53), chrome does not pull up the updated version while mozilla does.

**To Reproduce**
Steps to reproduce the

[2019-10-08 21:28] yuth commented on #2512
AppSync protocol is described here: https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html#graphql-schema-subscription-directives

When a mutation happens, the AppSync service publishes the mutation data to all possible subscription topics based on the payload of the mutation, the name of the subscription defined using @aws_subscribe, and the arguments passed in. This mechanism cr

[2019-10-08 21:35] #1607 closed

[2019-10-08 22:26] AustinDeric opened #2529 "Github OAuth App - Federated Login"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
Federated login for Google, Amazon and Facebook but not Github.

What is the expected behavior?
the Authenticator HOC will include a "Sign-in with Github" button.

This issue is identical to aws-amplify/amplify-cli#995 except for [github as the identity provider](https://developer.github.com/apps/building-oaut

[2019-10-08 22:52] yuth commented on #2501
@artecoop If you define your schema where `bars` are non-nullable, then the GraphQL validation is going to fail like you described in your previous comment.

Amplify generated resolvers won't be handling this use case as this is business logic and the possible solution to this might depend your use case.

[2019-10-08 23:05] lspellman commented on #2199
I have encountered this issue as well. Existing table data, generated through regular SQL calls, produces a DateTime value in table like this: 2019-04-17-19.00.00 -0500.  When returned via AppSync resolver, the cloudwatch log shows the ResponseMapping transformedTemplate as: 2019-04-18 00:00:00.0 which then results in a null value in the response.

[2019-10-09 00:22] SwaySway commented on #1683
Closing this as this issue was addressed and resolved in #800.
There is  also a enhancement issue, #2517, regarding the change in types between appsync and elasticsearch.

Should there be in another questions related to this please feel free to comment.

[2019-10-09 00:22] #1683 closed

[2019-10-09 00:35] jkeys-ecg-nmsu opened #2532 "Add summary of changes to each category when `amplify status` reports a category has been updated"
**Is your feature request related to a problem? Please describe.**
Sometimes I will checkout a branch, pull changes, initiate an environment with `amplify init`, use an existing (expected) environment. Then I run `amplify status`, and oftentimes the API category will be in the Update state.

**Describe the solution you'd like**
I would like the CLI to record changes to categories so these changes

[2019-10-09 00:37] UnleashedMind commented on #2108
#2369 addressed this.

[2019-10-09 00:37] #2108 closed

[2019-10-09 00:37] UnleashedMind commented on #1599
#2369 addressed this.

[2019-10-09 00:37] #1599 closed

[2019-10-09 00:37] jkeys-ecg-nmsu opened #2533 "What is the difference between `amplify init` with existing environment, and `amplify env checkout [env-name]`?"
And also, what is the difference between these operations:

`amplify env checkout [env-name]`

`amplify env pull [env-name]`

`amplify env pull [env-name] --restore`

The documentation mentions these should follow git workflows, but it's still nebulous to me what exactly these operations are doing, especially within a multi-stage amplify environment.

[2019-10-09 01:16] yuth commented on #2510
Merging `User` would cause problems as the data is stored in 2 data stores and resolvers used for them are different. The resolver is not equipped to fetch data from 2 different data sources and merge them together.

Could you try renaming one of the types and see if you are still having the same issue.

[2019-10-09 01:35] rawadrifai commented on #2512
@yuth I appreciate you asking about the use case, and the lengthy explanation.
We actually went back and forth many times with the Amplify team to try and square this out.

At least of sounding like a broken record by now, here's our use case: A slack clone.
- You have multiple "spaces"..
- Each space can have multiple users and multiple channels
- You can have one to one conversations or group co

[2019-10-09 03:52] hi120ki opened #2534 "I'd like to get Amplify auth username on Amplify function with Amplify REST API."
This is future request of Amplify REST API authorisation.

I'd like to get Cognito (Amplify auth) username on Amplify function with Amplify REST API.
(A logged-in user call my api, I'd like to get this user's username on Lambda.)

First, I created Amplify auth, and created Amplify REST API.
(function type > Serverless framework with express.js)
(Restrict API access > Authenticated users only)

I'd

[2019-10-09 04:40] 2advancesolutions commented on #1079
This solution looks complicated is there a easier way to do batch updates or creates then to writing a customer resolver for every batch mutation seems a bit of over kill to me for one operation

[2019-10-09 04:43] 2advancesolutions opened #2535 "How to do batch updates and deletes in amplify graph ql didn't see much doc"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? ** Graph QL

** What AWS Services are you utilizing? ** Aws Amplify

** Provide additional details e.g. code snippets **

I just want to know where is the documentation location on how to do batch updates
and deletes. Can you please provide clear answer

[2019-10-09 04:51] jkeys-ecg-nmsu commented on #2534
Hey @hi120ki, since you're talking about authenticated users, you should be able to get away with something like this:

`
import { Auth} from 'aws-amplify';

  //inside some async function, AFTER the user has authenticated with Cognito
  const tokens = await Auth.currentSession();
  const userName = tokens.getIdToken().payload['cognito:username'];
`

Let me know if that is helpful.

[2019-10-09 04:56] jkeys-ecg-nmsu commented on #2535
Is Dynamo or Aurora Serverless your backing data source?

It's tough, AppSync doesn't seem to be designed or have ad-hoc support for these kind of traditional database operations, even though these situations crop up in natural architectures. And of course the Amplify team is constrained by service limitations in all categories.

[2019-10-09 05:17] 2advancesolutions commented on #2535
My backend data source is Dynamo it would be a shame if this wasn't consider. I could use mysql with app sync but would i need to create custom mutations and would like to see if they could provide docs only docs i see is basic crud

[2019-10-09 05:47] GeorgeBellTMH commented on #2454
In sanity-check.js line 226
var innerDiffs = deep_diff_1.diff(oldIndexesDiffable, newIndexesDiffable);
is returning null...error is happening at line 229
        for (var _i = 0, innerDiffs_2 = innerDiffs; _i < **innerDiffs_2.length**; _i++) {

old/new index are:
OLD:
{
  'gsi-SeriesSermons': {
    IndexName: 'gsi-SeriesSermons',
    KeySchema: [ [Object] ],
    Projection: { ProjectionType: 'ALL'

[2019-10-09 06:02] GeorgeBellTMH commented on #2454
I believe that after the keyBy we need to sortBy indexName for a more accurate diff...

[2019-10-09 06:12] jkeys-ecg-nmsu commented on #2528
Can you try running it this way also?

Open DevTools in Chrome, navigate to Network, toggle `Disable cache`. Then re-run your website in Chrome and see if it pulls your updated website.

This is a problem we are also experiencing and don't yet have a global solution outside of forcing a refresh of the page on the client whenever we publish.

[2019-10-09 06:13] babu-upcomer commented on #1079
@2advancesolutions We have solved this by @function directive. Simply deploy a function implemented in your favourite language and use it's AWS SDK to connect to resources. This way you can write your business logic with more flexibility. We were able to solve our batch mutations easily using serverless lambda functions with Python37 and boto3 package.

In-fact my recommendation after all my exper

[2019-10-09 06:55] artecoop commented on #2501
@yuth, man this sucks. And somewhat feels incomplete: I have a validation for not forget to add a field when using the create mutation, but nothing to help when it's time to delete. This adds complexity to user code, yet not removing the possibility of bug. Shame

[2019-10-09 06:57] Irindul commented on #2523
Thanks @yuth I will look into this, I'll come back to you with an update once I tested !

[2019-10-09 08:47] attilah commented on #2100
Fixed in the PR above.

[2019-10-09 08:47] #2100 closed

[2019-10-09 10:22] raelmiu commented on #2510
I don't think it's an issue of Model names. But I removed all the references to `User`and got this error:

[code]

Which is the same as the last one.

[2019-10-09 10:28] danshirley1 commented on #2468
Does anyone have any workarounds for this in the meantime, manual steps will do?

[2019-10-09 10:30] onerider opened #2536 "Custom Resolvers not being pushed to Cloud"
I've created a custom query and custom resolvers for the query. The query is added to the schema.graphql and the resolvers were added to the resolvers directory. This is what it looks like when compiled:
$ find . -name Query.getProductByName.*.vtl
./amplify/#current-cloud-backend/api/mybackend/resolvers/Query.getProductByName.req.vtl
./amplify/#current-cloud-backend/api/mybackend/resolvers/Query.g

[2019-10-09 12:06] MattWlodarski commented on #2528
Well I just woke up this morning and refreshed the chrome webpage and now it is showing the new version. For some reason it took chrome a lot longer to grab the new files.

[2019-10-09 12:49] attilah commented on #2536
@onerider you can find some information about what files and directories the CLI creates and what is their purpose here: https://aws-amplify.github.io/docs/cli-toolchain/usage#amplify-cli-artifacts

About custom resolvers here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers

You are using the right directory to put your resolvers into, please check if are there any steps

[2019-10-09 13:39] attilah commented on #1968
@dabit3 Let me reopen it to make sure we will have this covered later, just un-assigning myself as it is an enhancement.

[2019-10-09 13:46] onerider commented on #2536
@attilah
Thank's for such a fast reply! Your guess was correct, I had missed the "glue" part completely. Problem solved!

[2019-10-09 13:48] attilah commented on #2536
@onerider I'm closing the issue as it was answered, if anything else comes up, reopen this one or feel free to open a new one.

[2019-10-09 13:48] #2536 closed

[2019-10-09 14:55] dave-moser commented on #839
@yuth do you have documentation on the amplify cli working with npx?  I have amplify-cli 3.11.0 installed as a devDependency in my project.  When I run various npx amplify commands I get errors.

$ npx amplify status
Scanning for plugins...
Plugin scan successful

Current Environment: dev

| Category | Resource name | Operation | Provider plugin |
| -------- | ------------- | --------- | ---------

[2019-10-09 16:14] 2advancesolutions commented on #1079
@babu-upcomer Thank you for sharing your experience on using amplify properly, but aws team needs to add this to there documentation since this something common you do in your everyday development.

[2019-10-09 16:39] ashika01 commented on #2525
As an auth user.

[2019-10-09 17:37] warrenmcquinn opened #2540 "Custom mutation @function not included in AppSync IAM policy"
**Describe the bug**
Adding custom mutations to a GraphQL schema does not effect proper IAM policy.  For example, I have a custom @function mutation called `deleteItem` which is supposed to be accessible via @aws_iam:

[code]

However, when the API is pushed, the generated IAM auth policy for `appsync:GraphQL` **does not include** the following line:

[code]

Thus I am unable to make an authentica

[2019-10-09 17:42] warrenmcquinn commented on #1851
I am also interested in a simple solution for adding a default sortField to a `@model` -- especially one that uses the automatically-generated `createdAt` field.

Currently, I could add `@key(fields: ["type", "createdAt"])` to enable the sortDirection input when querying, but that would require me to include `createdAt` in every mutation.

[2019-10-09 17:49] warrenmcquinn commented on #2540
Digging into the codebase: [makeIAMPolicyForRole](https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-auth-transformer/src/resources.ts#L1005) is called directly via `ModelAuthTransformer.ts`, so it would appear that I would need to ensure that these `@function`s are defined under a type that use the `@model` transform.

[2019-10-09 18:01] rfpedrosa commented on #1204
I had the same problem as @adamelmore and I solve this by using[ cfn-custom-resource](https://www.npmjs.com/package/cfn-custom-resource) package.

[code]

[2019-10-09 18:18] warrenmcquinn commented on #2540
Can confirm that moving `@function` field definitions to be under `@model` types allows for the proper authentication via IAM policy generated by `makeIAMPolicyForRole`.

It's not perfectly granular authentication though -- the generated policy uses a wildcard like this:
[code]

The codebase also seems unaware of this use-case, as evidenced by the comment [here](https://github.com/aws-amplify/ampl

[2019-10-09 18:39] warrenmcquinn commented on #2540
Just did some testing and hit a snag.

Adding `@function` fields to my `@model` creates unwanted behavior, because the auto-generated GraphQL queries for the model define the `@function` field as something to be returned. This leads to undesired executions of the `@function` lambda handler.

So, I'm stuck.

Either I forego auto-generated GraphQL queries and maintain everything manually, or I manua

[2019-10-09 19:08] andrew-aernos opened #2542 "How to correctly implement @connection between @model with custom indexes @key"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
GraphQL Transform @connection between @model with custom indexes @key

** What AWS Services are you utilizing? **
Amplify CLI
** Provide additional details e.g. code snippets **

I have the following example model type defined in the schema.graphql
[

[2019-10-09 19:25] yuth commented on #2540
`@aws_iam` directive is a pass through to AppSync service. Amplify CLI generate policies for IAM only when `@auth` directive is used. In your case since you are adding mutation directly, you will have to use custom stack and add policy in your `<proj-root>/amplify/backend/api/<api-name>/stacks/CustomResources.json` like this. I am allowing authRole to access the mutation in the example below
[code

[2019-10-09 19:39] 2advancesolutions commented on #2535
@yuth thanks for your follow up regarding the issue. Amplify is becoming more and more popular these days hopefully you can add this feature soon. Maybe you can create a new directive for @batch and after we create the api and push and go back to modifiey the model we can maybe add @batch to the model so when we push again and now the resolvers know the table names since it's already created.
Than

[2019-10-09 19:41] deepudoit commented on #2481
This worked, thanks

[2019-10-09 20:18] undefobj opened #2545 "Improve the error flow for non-initialized project"
If I do `amplify add xxx` in a project which hasn't been initialized we currently spit out an ugly trace:

[code]

Why don't we either:
- Automatically prompt to run amplify init (y/N)
- Remove this stack trace since it's obfuscating the message about running amplify init

[2019-10-09 20:29] rb365 commented on #2519
any updates? I did pull --restore today, changed minor thing in graphql then pushed and it failed with this problem. I changed nothing and it fails now, it must be some internal change to amplify/appsync. Can someone look at it?

[2019-10-09 21:04] warrenmcquinn commented on #2540
Awesome, that really helps. Thanks so much @yuth. Closing the issue now.

[2019-10-09 21:04] #2540 closed

[2019-10-09 21:29] Flos commented on #504
Im also a bit lost here. So codegen creates code which is not working when you need an argument as owner for a subscription or? Or how can I pass the owner as input to the subscription in Angular with the generated code?

amplify --version --> 3.0.0

[2019-10-09 21:58] rb365 commented on #2519
I added this to parameters.json and it stopped failing:
`    "authRoleName": {
        "Ref": "AuthRoleName"
    },
    "unauthRoleName": {
        "Ref": "UnauthRoleName"
    }`

still testing to see if there are any issues with that

[2019-10-09 22:15] Flos commented on #1766
@undefobj
I don't understand how I can use that subscriptions now with the generated JavaScript client. How can I pass the owner to the subscription?

[code]

[code]

[2019-10-09 22:22] rb365 commented on #2519
it succeeded the first time but now I did another update completely unrelated to API and push fails with same error

[2019-10-09 22:30] elorzafe commented on #2534
@hi120ki what if you send the JWT on the body of the request and then validate the token on your function and extract the username?

[2019-10-09 23:17] aprilmintacpineda commented on #1851
Also, please consider people using `@searchable`.

[2019-10-10 00:00] yuth commented on #2527
Thanks for reporting this. Amplify CLI currently does not have support for adding additional authorization support. I am marking this as a feature request and adding this to our backlog.

[2019-10-10 00:35] yuth commented on #839
Its recommended to install Amplify CLI globally in your machine and not as a dev Dependecy for your project.

I could not reproduce this issue when I ran`npx amplify ls`. Could you please install Amplify CLI globally and see if you are still getting this error.

[2019-10-10 02:04] hi120ki commented on #2534
Thank you for answering my question.

https://aws-amplify.github.io/docs/js/api#cognito-user-pools-authorization
I read this document, and have already tried to set JWT token into header, but this causes 403 error. (API Gateway blocked API call).

To do this, I have to set  "custom authorizer" to API Gateway.
https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-co

[2019-10-10 04:39] dave-moser commented on #839
Yes, everything works fine if I have Amplify installed globally.  I am trying to use npx as an alternative to doing a global install of Amplify - where Amplify is a devDependency local to the project.

Above when you said "the latest version of amplify cli works with npx" I interpreted that as being able to  use it locally without a global install.

[2019-10-10 05:59] GeorgeBellTMH commented on #2454
This was resolved by deleting my global node_modules and project node_modules and reinstalling everything.

[2019-10-10 06:21] danhumphrey opened #2550 "Check failed: stack_overflow()."
**Describe the bug**
I updated the amplify cli today (version 3.12.0) and now get an error when attempting to run `amplify storage update`

The full error is:

#&#x2060;
#&#x2060; Fatal error in , line 0
#&#x2060; Check failed: stack_overflow().
#&#x2060;
#&#x2060;
#&#x2060;
#&#x2060; FailureMessage Object: 0x7ffeefbfcc10Illegal instruction: 4

**To Reproduce**
`npm install -g @aws-amplify/cli`
`a

[2019-10-10 09:23] mattk- opened #2551 "amplify add hosting creates invalid cloudformation template"
**Describe the bug**
Using `amplify add hosting` with `S3 only with HTTP` generates cloudformation template with `CloudFrontOriginAccessIdentity` containing ref to undefined `OriginAccessIdentity`

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify init`
2. `amplify add hosting`
3. specify `S3 only with HTTP`
4. `amplify push`
5. `CREATE_FAILED               hostingS3AndCloudFront

[2019-10-10 09:52] Flos opened #2552 "How can I subscribe with the generated javascript client to a Auth protected Model?"
Since authorized subscriptions should work by now, following a few tickets #504, #1021, #1766, #1810.
I don't understand how I can use that subscriptions now with the generated JavaScript client. How can I pass the owner to the subscription?

type Todo @model @auth(rules: [{allow: owner}]){
  id: ID!
  title: String!
  owner: String
}

this.apiService.OnCreateTodoListener.subscribe((evt) => {

[2019-10-10 11:53] #2284 closed

[2019-10-10 12:26] mattk- commented on #2550
Working in 3.11.0

[2019-10-10 13:26] rickiesmooth commented on #2519
same issue here. In the build settings of the amplify console, I specified a package version override to 3.10.0 and my builds are working again.

[2019-10-10 17:14] yuth commented on #2550
@danhumphrey what version of NodeJS do you have running?
@mattk- are you using this with catalina?

[2019-10-10 17:25] damianrr opened #2554 "Cannot find template and update failed due to cognito even when it's not updated"
Hello,
Recently I tried to push my changes to amplify, I've touched the code of only 2 functions, no cognito, no appsync.
Yet I'm having 2 errors that I don't understand and don't know how to fix:
The first seems like a warning (yellow letters) as soon as I `amplify push` it saids:
`Could not read cloudformation template at path: /.../portal/amplify/backend/api/portal/build/cloudformation-template

[2019-10-10 17:29] yuth commented on #2471
@julia-cassella are you still facing this issue? What version of Amplify CLI do you have installed? You can find the version by running `amplify -v`

[2019-10-10 17:34] yuth commented on #2534
I am adding this to our backlog, once the product team prioritizes this we will work on this issue.

[2019-10-10 17:39] julia-cassella commented on #2471
So I just reinstalled everything and it worked! None of the versions that I reinstalled changed so I really dont know what was causing the issue. And I am using amplify 3.11.0

[2019-10-10 17:41] #2515 closed

[2019-10-10 18:05] avespoli-bf commented on #2385
@kaustavghosh06 still seeing the issue even after trying the workaround

[2019-10-10 18:35] avespoli-bf commented on #2385
@nikhname 3.11.0

[2019-10-10 18:41] avespoli-bf commented on #2385
@nikhname @kaustavghosh06 I didn't add the layer correctly to my lambda, it's working now.

[2019-10-10 19:05] haverchuck commented on #2554
@damianrr Could you share the Parameters block of your auth stack's cloudformation template?  You can send it to amplify-cli@amazon.com.  Thanks.

[2019-10-10 19:15] damianrr commented on #2554
Hello @haverchuck,

I sent my auth's cloudformation template file along with it's parameter.json; just to be sure here, you're asking for the file located at: my-project/amplify/backend/auth/myCognitoResource/myCognitoResource-cloudformation-template.yml ... is that correct?

[2019-10-10 19:17] haverchuck commented on #2554
@damianrr That's correct.

[2019-10-10 19:19] damianrr commented on #2554
perfect. Let me know if you see something that could be causing this or if you need anything else from me.
Thanks!

[2019-10-10 19:25] nikhname commented on #2510
@raelmiu could you provide the query you used to create this table? In particular, what is your primary key and its type?

[2019-10-10 19:27] haverchuck commented on #2554
@damianrr Which version of the Amplify CLI are you using?

[2019-10-10 19:43] damianrr commented on #2554
3.0.0

[2019-10-10 19:48] danhumphrey commented on #2550
@yuth I'm running 11.6.0

[2019-10-10 21:16] UnleashedMind commented on #2545
Added to our backlog

[2019-10-10 21:41] UnleashedMind commented on #2528
This seems to be about Chrome cache behavior, you can probably google how chrome caches works and how it caches DNS records.

[2019-10-10 21:41] #2528 closed

[2019-10-10 22:56] nikhname commented on #2510
@raelmiu The way the transformer is currently set up, you can only run add-graphql-datasource once per api. Updating the RDS table is a valid use case however so I'm marking this as an enhancement. As a workaround you can remove the api and add it again, then run add-graphql-datasource with the updated tables.

[2019-10-10 23:31] CaptainChemist opened #2558 "Graphql-transformer-core library in amplify-cli: Expected type AuthStrategy, found private."
**Describe the bug**

I'm getting a validation error with the graphql-transformer-core library when it runs in the amplify console, but not when I run it locally. It has a problem with the type 'private' which I need to use with an iam type. This is the error:

[code]

The particular model I am using is the following:

[code]

[2019-10-11 00:17] haverchuck commented on #2554
@damianrr I've tried reproducing this - no luck.  Have you been using the same version of the CLI for the lifetime of this project?  For the updates to functions, did you run an 'amplify function update' or did you just manually edit the src code? Thanks.

[2019-10-11 00:21] #2471 closed

[2019-10-11 00:38] yuth commented on #2512
One way to solve this might be to make onMessage subscription take an argument for the `groupId`
[code]

Create a resolver for onCreateMessage which should check if the subscriber has access to the group. When ever there is a message sent by a member of the group, all the member who have subscribed to the group will get notified. This should scale well as authorization happens  at the connect time

[2019-10-11 01:02] damianrr commented on #2554
@haverchuck, I've updated amplify a couple of times since I started working in this project (early 2019), I've done `amplify update function` before to give some permissions and get some env vars accessibles but the latest changes are strictly code. Also, the problem seems to be with cognito isn't it?
Why would I be getting the not found file at `/.../portal/amplify/backend/api/portal/build/cloudf

[2019-10-11 01:51] cbaron opened #2566 "AppSync local mock lambda returning boolean `false` throws exception"
**Describe the bug**
Using GraphIQL to test against my locally mocked AppSync environment, I get a success when the hello world method returns `true`, an exception when I return `false`

**To Reproduce**
Steps to reproduce the behavior:

1) In graphql.schema

[code]

2) Create a function using amplify add function:

[code]
3) Run `amplify mock`
4) Execute mutation in GraphiQL

See error:
[code]

T

[2019-10-11 01:59] #2551 closed

[2019-10-11 02:21] kaustavghosh06 opened #2561 "RFC: Other Installer options for the CLI"
Currently, the CLI uses npm as a package manager and requires users of the CLI to install npm with node version > 8.2 for successful installation of the CLI.
This RFC is to gauge community interest around the CLI being published to other package managers if there's a disinterest in installing the CLI via npm or yarn.

Some of the options which we're considering are the following:
* brew for macOS

[2019-10-11 02:32] undefobj commented on #2561
iOS RFC: https://github.com/aws-amplify/aws-sdk-ios/issues/1972
Android RFC: https://github.com/aws-amplify/aws-sdk-android/issues/1248

[2019-10-11 02:34] undefobj commented on #2561
Some additional options we would like feedback on:
- Gradle dependencies and installation
- Cocoapods hooks & build phases

[2019-10-11 03:39] DanielMuller opened #2562 "How to reference custom resources?"
** Which Category is your question related to? **
CLI, Custom Resources

** What AWS Services are you utilizing? **
S3, Cloudfront, Lambda

** Provide additional details e.g. code snippets **
In my Amplify Project, I created a custom resource (S3 and Cloudfront) under `backend/cache/S3AndCloudFront/`. Since it's very similar to the "hosting" setup, in `backend-config.json`, I use `service=S3AndClo

[2019-10-11 04:12] #1884 closed

[2019-10-11 04:13] #1187 closed

[2019-10-11 04:15] kaustavghosh06 commented on #1074
Closing, since this is a duplicate of #156

[2019-10-11 04:15] #1074 closed

[2019-10-11 04:19] #1232 closed

[2019-10-11 04:23] kaustavghosh06 commented on #2308
@jonmifsud Do you need some help with the PR?

[2019-10-11 04:24] kaustavghosh06 commented on #2527
This request is a duplicate of #1016

[2019-10-11 04:24] #2527 closed

[2019-10-11 04:27] mtliendo commented on #2561
Is there a separate thread where users were having issues with npm? Perhaps it's the bubble I'm in, though I just figured that since Amplify was a web/mobile framework, that most users would be comfortable using npm.

I suspect the native crowd (swift, java) devs may be the driving factor?

Thanks again for all the hard work on the package, apologies that I'm a bit off topic.

[2019-10-11 05:02] kaustavghosh06 commented on #1837
@wizage With the new plugin system, you can now have a plugin and have a pre-push event hook for it :D

[2019-10-11 05:02] #1837 closed

[2019-10-11 05:04] kaustavghosh06 commented on #1811
@vparpoil If you configured your profile using the `amplify configure` command - you would be prompted for only regions supported by the services (supported by the CLI). As an when services become available in other regions, we'll expand the region-list which we display as a part of the `amplify configure` command.

[2019-10-11 05:04] #1811 closed

[2019-10-11 05:07] kaustavghosh06 commented on #2392
@dbrunet73 You may also want to take a look at - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks for custom Cloudformation stack support.

[2019-10-11 05:07] #2392 closed

[2019-10-11 05:08] kaustavghosh06 commented on #1278
@UnleashedMind This issue is fixed in the latest version of the CLI.

[2019-10-11 05:08] #1278 closed

[2019-10-11 06:46] raelmiu commented on #2510
The primary keys are char(36) on all my entities.

That explains it @nikhname , but I got the impression I should be able to update it from this article:
https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#how-does-this-work
[code]

[2019-10-11 07:29] ahansson89 opened #2563 "Best practices for seeding DynamoDB entries?"
** Which Category is your question related to? **
Amplify

** What AWS Services are you utilizing? **
DynamoDB
AppSync

** Provide additional details e.g. code snippets **
I am currently thinking about how I should seed my DynamoDB tables with entries and how to best structure this code.

I essentially want to seed a couple of hundred entries and dont want other devs to manually add entries one by

[2019-10-11 07:50] ambientlight commented on #1079
Isn't this the purpose of appsync to spare developers from the need of rolling their own API handlers for general use cases? I would personally go with having logic in VTL templates when logic is not complex. I would say many general use cases like batch update demonstrated above deserves to be done on appsync side. At this stage, I feel like for me personally, this seems like the most reasonable

[2019-10-11 08:21] bastianbb commented on #2519
I don't know the cause but deleting **build** folder inside: _backend / api / api_name/_
and running: `amplify api gql-compile` before pushing solved the issue.

[2019-10-11 08:41] attilah commented on #2558
@CaptainChemist what version of the CLI are you using, I see that you're using NVM, could you please test with Node 8.x that the same problem happening or not?

1. if you remove the private rule is the schema compiling?
2. if you removed the private rule, and add ```provider: userPools``` to the owner rule, is the schema compiling?

[2019-10-11 11:07] #2437 closed

[2019-10-11 11:13] wellmmer commented on #2084
We are facing the same issue and now we are aggregating some APIs and deleting others to decrease the policy size. This feature is very urgent guys as Amplify is taking some relevant space on web/mobile backend development. Please take a look on this!

Thanks in advance by the way! =)

@attilah @kaustavghosh06

[2019-10-11 12:14] bastianbb commented on #2519
Deleting the **build** folder inside: _backend / api / api_name/_
and running: `amplify api gql-compile` before pushing solved the issue for me.

[2019-10-11 13:09] RossWilliams commented on #2563
I use an S3 bucket with a trigger to process csv files. There is a specific folder structure to keep all updates in order. This gives me a poor way to audit updates, its just a new file that appends / removes more information. The same lambda is hooked up as a custom resource so that when a dev creates a new environment it will take our base set of csv files.
I also pump all information through Ap

[2019-10-11 14:24] apoorvmote opened #2564 "Delete Blog Input has ID (primary key) string or null or undefined with typescript."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
After generating typescript code for simple schema Blog has id (string) & title (string). In API.ts you find following code
`export type DeleteBlogInput = {
  id?: string | null,
};`

How it's possible to delete blog with undefined

[2019-10-11 14:32] CaptainChemist commented on #2558
@attilah I'm using node 10.15.3 on my computer where it works and I can tell that the amplify console is using 10.16.0 where it fails. Even when I change to 10.16.0 on my computer it still deploys just fine. On my computer I am using amplify version 3.13.0. Amplify console does not log which version it is using so I cannot tell what is being run in the amplify ci/cd pipeline.

1. Yes, everything d

[2019-10-11 15:20] kqumsieh commented on #2527
@kaustavghosh06 this is not a duplicate of #1016 .  That ticket asks specifically for API Key authentication.  Here I m asking for more like Cognito User Pool.

[2019-10-11 15:22] kaustavghosh06 commented on #2527
This feature (in both the issues) is asking for adding additional authorization types for API gateway.
Right now the CLI only supports IAM.

[2019-10-11 16:10] chrisdag commented on #2561
Some of my largest AWS clients run "hard shell" private VPCs where internet access is blocked by default and 99% of subnets are private. All communication to the external world, when allowed passes through SSL decrypting firewalls for analysis.

We mirror software repositories internally for simple things like Perl CPAN and R CRAN **_but the new generation of package managers used by modern framew

[2019-10-11 16:52] ILAsoft commented on #2561
I appreciate clean and easy options that are standard in the industry and work the same way across multiple OSes, so while brew is great otherwise, I really like that NPM is the supported option and would prefer for it to stay (at least as one of the main supported options).

P.S. Thank you for opening this feedback process to the public - love the transparency!!

[2019-10-11 17:50] divait commented on #2454
To generate the error I create my schema using version 3.2:
[code]
Then `amplify push` this works correctly.

Then I run `npm install -g @aws-amplify/cli` to get last version of the Amplify CLI and modify the enum:

[code]

And now again `amplify push` and get the error:
[code]

[2019-10-11 17:57] jkeys-ecg-nmsu opened #2567 "Add option to specify DeletionPolicy for API category and default to retain for provisioned Data Sources"
**Is your feature request related to a problem? Please describe.**
`amplify push` can be a dangerous option if schema.graphql models were erroneously dropped during merges.

**Describe the solution you'd like**
Give us the option to set the DeletionPolicy for each model (wish list) or at least the entire API stack. This would make `amplify push` a more forgiving operation because even if the model

[2019-10-11 18:16] warrenmcquinn commented on #2550
I just upgraded to Catalina and I'm seeing this with `amplify update api` as well:

[code]

[2019-10-11 19:04] CaptainChemist commented on #2558
I can confirm that doing the following will force amplify console to use node 8 and in that case, everything compiles correctly. Still not sure why the difference between node 8 and 10 but I'm glad that I can get something working!

[code]

[2019-10-11 20:14] mregnauld opened #2569 "Delete user account from AWS Cognito using the Amplify Android SDK"
**Which AWS Services is the feature request for?**
Cognito

**Is your feature request related to a problem? Please describe.**
Using `AWSMobileClient` in an Android app allows to do pretty much anything, except deleting a user. A user cannot delete his account by himself from AWS Cognito only using `AWSMobileClient`.

**Describe the solution you'd like**
Is it possible to get a function that allow

[2019-10-11 20:40] UpToEleven1102 commented on #82
`UPDATE_COMPLETE    storagehdtvstorage       AWS::CloudFormation::Stack Fri Oct 11 2019 15:39:22 GMT-0500 (Central Daylight Time)
UPDATE_COMPLETE    functionStripeProductsFn AWS::CloudFormation::Stack Fri Oct 11 2019 15:39:21 GMT-0500 (Central Daylight Time)
UPDATE_COMPLETE    analyticshdtvanalytics   AWS::CloudFormation::Stack Fri Oct 11 2019 15:39:21 GMT-0500 (Central Daylight Time)
UPDATE_IN_PR

[2019-10-11 22:05] UnleashedMind commented on #2550
This is a very strange bug, I did reproduce it with our latest version as well (Amplify-CLI v3.13.0), it's also inconsistently popping up for node version 10.16.2 and 10.16.3 (LTS) too.
But it's working fine for node version 12.11.1 (latest version).

I've logged a issue on node github repo.
For now, try to use the CLI on node version 12.11.1.
We will continue to monitor this bug, and keep you upd

[2019-10-11 22:08] donaldev commented on #1910
+1 for this.
I want to reduce the cost of reads/writes to S3 and so I would like to do this via cloudfront. Is this possible using amplify?

[2019-10-12 00:02] gkpty opened #2572 "RegEx Error when switching to an env"
**Describe the bug**
Getting an error in the amplify CLI when trying to switch to another environment called test. i set up CD for the environment in the Amplify console and its working fine but i cannot switch to this environment locally.

i get the following error:

[code]
I have made sure that all the attributes in the `team-provider-info.json` are correct and i have deleted the enviornment and

[2019-10-12 00:05] kaustavghosh06 commented on #2572
Which CLI version are you using locally?

[2019-10-12 00:14] andrew-aernos commented on #962
I'm running into something weird similar related to multiple extensions across different split schema. For example, both the following `Post `and `Comment ` are **not** marked `@model`

[code]

When I use `extend ` on `Post`'s Mutation fields:
- gql-compile generates `build/schema.graphql` includes the Mutation fields
- gql-compile **doesn't** generate the resolvers in the `build/resolvers` '
- gq

[2019-10-12 00:26] ahansson89 commented on #2563
Interesting @RossWilliams . I assume that you in that case have one main dev environment and not an environment per developer?

Yes, thinking about it, I probably want to use AppSync directly. How do you handle authentication to AppSync in that Lambda function? Username and password or roles? I do not want to give IAM and Lambda full write access to everything in AppSync, but I guess I could pass

[2019-10-12 02:29] kaustavghosh06 commented on #1996
Hey guys, we released a version of the CLI - v3.14.0 which fixes the npm warnings and the associated errors during npm/yarn installations. It also takes care of the EOL dependency issues. Please install the latest version of the CLI - `npm install -g @aws-amplify/cli` and let us know if you're still facing issues with it.

[2019-10-12 02:29] #1996 closed

[2019-10-12 03:00] jkeys-ecg-nmsu commented on #2569
@mregnauld in order to implement this immediately, you can do something like this:

1. Create a Lambda with permission to invoke the AdminDeleteUser API
2. Give your authenticated user role permission to invoke this Lambda
3. Add a 'delete account' button somewhere in your app that invokes that Lambda with their Cognito id token as a parameter (NOT just the username, otherwise you introduce the ab

[2019-10-12 03:11] undefobj commented on #2569
Hi we're actually about to release this as a feature in the CLI. You can see the in-progress PR here: https://github.com/aws-amplify/amplify-cli/pull/2443

Once we release this you'll be able to leverage the deployed infra (it will be API Gateway with Lambda) to invoke a route and perform admin tasks, such as deleting a user, from your app.

[2019-10-12 04:09] jkeys-ecg-nmsu commented on #2414
@AlessandroAnnini do you want to do this on a per-record basis or remove all connections between two models?

Just FYI that if you're using Dynamo as your backing data store, the latter (if not rate limited) will require an expensive scan of your entire data store (on both tables), followed by an update of every item in each data store. Not sure if it's inside the scope of the Amplify CLI to pre-w

[2019-10-12 04:13] houmark opened #2574 "No more CHANGELOG?"
** Which Category is your question related to? **

General, changelog.

** What AWS Services are you utilizing? **

Amplify.

In #2080 I raised concerns with the stability and maturity of the Amplify platform, and the quality of releases. One point was that changelogs are hard to keep up with, partly because changes happen across multiple repositories and partly because the changelog for Amplify C

[2019-10-12 04:14] jkeys-ecg-nmsu commented on #2561
@mtliendo well one thing that sucks about `npm install` is that it's not an idempotent operation. I should not have to run npm install, get a single package that fails to install for some reason, manually install that package, re-run npm install, etc. until I get a working node_modules. And then sometimes you'll run `npm install`, get zero errors, run it again, and get updated or removed packages.

[2019-10-12 04:26] jkeys-ecg-nmsu commented on #2574
@houmark First, in general, I think it's a best practice to not upgrade any package unless you have a good reason -- vulnerability hotfixes, performance optimizations, developer and user UX enhancements.  It sounds like you've already adopted this policy, but thanks for sharing -- your story might save another small team some major heartache in the future.

I agree that a global changelog would be

[2019-10-12 04:36] mtliendo commented on #2561
I get your perspective--and I apologize in advance for the assumptions I'm going to make, though I hear feedback like that when I'm teaching devs that are newer to JS, specifically the JS package managers.

A couple of things to note about npm:

* When installing packages, some packages may log errors in the console, but this could be for a variety of reasons but the case shouldn't be that it inst

[2019-10-12 04:36] houmark commented on #2574
Over the 20+ years I’ve been doing this I’ve had the best productivity results by doing often and small atomic updates and keeping a close eye on changelogs to be ready to tweak whatever may (partly) break. On larger releases I generally hold back a bit and keep an eye on issues for that repository before upgrading.

What I’ve noticed, and the reason for my initial “issue” on this, is that Amplify

[2019-10-12 05:05] jkeys-ecg-nmsu commented on #2569
@undefobj do you have a similar feature in progress for a generic user pool -> user pool migration lambda? If not, I've written a lambda that migrates users from user pool in account A to account B while preserving custom attributes that I may be able to contribute. (I don't own the code but will ask if I can release it to you.)

[2019-10-12 05:20] houmark commented on #2574
And I wouldn't call Amplify FOSS per definition. It's based on commercial AWS products. It's an untraditional product yes because it's the glue on many services already existing in AWS cloud, but I probably would not have used any of those products if Amplify didn't exist. I would have considered other similar platforms instead.

[2019-10-12 05:39] gkpty commented on #2572
Indeed it seems i hadn't updated the CLI in a while.. updating the CLI to 3.14 solved my issue.

Thanks a lot for the quick response!

[2019-10-12 05:40] #2572 closed

[2019-10-12 05:59] houmark commented on #2550
Also happening for me on 3.14.0. There's not an update without something breaking, doh...

[2019-10-12 06:44] rawadrifai commented on #2512
@yuth thanks for this. Excuse my ignorance on this, but how do I create the custom subscription as a lambda so I can perform the necessary logic?

Also graphql.schema doesn't like the syntax of the subscription above. Is this where it belongs? I tried `type Subscription` and it still complained. With a mutation, we can use type Mutation and @function inside to point it to a function.

[2019-10-12 12:42] RossWilliams commented on #2563
We have an environment per developer and per backend feature. We store the same csvs in source code so that new environments get bootstrapped with proper boundary data via a custom resource. We also use this to bootstrap test data.

We use SSM to store service account credentials, no hard coded passwords needed. Another custom resource sets up the service account and store the password in SSM. My

[2019-10-12 13:06] RossWilliams commented on #2574
@jkeys-ecg-nmsu there are vulnerability fixes since the 3.0.0 release, but @houmark might not know about them because the changelogs are sparse.
I’d like to see CVEs used like the EKS team does when open source code supplied by AWS has vulnerabilities. This would tie in with my scanning tools a lot better than reading commits on master.

[2019-10-12 18:20] bradgreens commented on #839
Ran into this today. It does not work locally.

[code]

This issue should be re-opened.

Or, the docs could at least provide an explanation as the why a global install is required. Or, provide information that `"We don't support running Amplify CLI with npx yet."` is indeed accurate.

[2019-10-12 22:41] TeoTN opened #2575 "Function resolver using AppSync's DDB tables"
Hey, I'm trying to define a mutation using function resolver created with `amplify function add`, that would perform a batch update on dynamodb tables created by appsync graphql api - I basically need to perform a few updates as one atomic operation.

When I call the mutation though, it fails with following error:
[code]

While I could attach appropriate policy to the role, it doesn't seem a good

[2019-10-12 22:52] yonatanmn opened #2576 "Adding @auth public to one field exposes the entire model"
cli@3.14.0

schema :

[code]

query (with API-KEY):
[code]

Without adding the "allow: public" rule the result is "Unauthorized" as expected. This is true for `getThing` query as well, but `mutation` seems to work fine (returning only public fields)

[2019-10-12 23:43] yonatanmn commented on #1576
@attilah - If I understand correctly , `public` with API-KEY is the solution? When I created one, I had to set expiry (max 365 days).
How should I enable full publicity for my api that is not based on expiry or adding api-key headers?

[2019-10-12 23:45] kaustavghosh06 commented on #1576
You can use public + IAM - in which case both your auth and guest users can access have access to your models.

[2019-10-12 23:50] yonatanmn commented on #1576
thx @kaustavghosh06 - I'll check it out

[2019-10-13 00:44] undefobj commented on #2569
@jkeys-ecg-nmsu migrations aren't currently in scope but could be a good feature in the future. It would need design as we'd most likely need to support it for multiple categories (Auth, Storage, API, etc.). If this is something you have a fair amount of interest in and sample code I think opening up an RFC or simply feature request issue would be a good next step.

[2019-10-13 05:52] kshitijbhat330 commented on #1884
Hi Kaustav,

If you read my comments below your description, you can see that we are not able to get the support from amplify to add the existing DynamoDb table.
Suppose if I do not want my table to have the suffix of env name to it, It would still force the env name at the end of the table name which you have to create new for every new amplify template you create. Please refer the screenshots I

[2019-10-13 08:59] houmark commented on #2519
It was too good to be true. I upgraded from 3.0.0 and landed on 3.11.0 after having upgraded to 3.14.0 but hit by #2550 — I'm using Amplify Console to deploy to production solely and development, but for development I also push manually sometimes.

I had a few successful deployments and suddenly started getting this error also. Tried the solution by @bastianbb in https://github.com/aws-amplify/amp

[2019-10-13 10:57] jkeys-ecg-nmsu commented on #2533
@yuth @kaustavghosh06 I assume it has something to do with why `aws-exports.js` is in .gitignore by default and conversely why it must be removed to work with Amplify Console frontend-only deployments.

We're working toward a truly automated CI/CD workflow (sans manual approval), and understanding these commands is important for writing the scripts / buildspecs that will test and deploy our CF sta

[2019-10-13 11:21] jkeys-ecg-nmsu commented on #2569
@undefobj

It sounds like you're talking about a full-scale migration of all existing resources for each category when you speak of migration, whereas my suggestion was much smaller in scope, simply provide a simple mechanism to migrate users from legacy pools to new pools without data loss.

I'm not sure it's feasible to write push-button migrations for storage or API simply because of the nature

[2019-10-13 13:35] SamCullin commented on #32
I had the same Issue. I solved it by running the `amplify function push` after each change.
1) after creating the lambda
2) after adding the ec2 permission to the lambda policy
3) after adding the VpcConfig to the lambda Properties

I also add a depends on in the lambda to make sure it runs after the role is created. Not sure if this made a difference though.

@BabyDino - If you are still interest

[2019-10-13 13:38] s3341458 commented on #754
followed the above instructions
![image](https://user-images.githubusercontent.com/2015244/66716563-d3b62200-ee1a-11e9-9de5-b572cf546d3c.png)

 notice following error
![image](https://user-images.githubusercontent.com/2015244/66716523-4a9eeb00-ee1a-11e9-9e46-66736840ed20.png)

the model that I was using, works perfectly if I do "amplify push" locally
[code]

[2019-10-13 13:45] TeoTN commented on #91
I don't understand why we get so poor communication here. The issue is over 1 year old and there's not a tiniest hint on a roadmap, if that's ever to be delivered or should we switch to a different product

[2019-10-13 15:56] fsommers commented on #2519
Same problem here, with 3.14.0. When I added storage and then try to push, the following error occurs and the push is aborted:

Parameters: [unauthRoleName, authRoleName, additionalQuestions] do not exist in the template

[2019-10-13 17:52] fsommers commented on #2519
When I added the above-referenced fields back manually to the respective config files, the amplify push finally succeeded. That was my "fix"

[2019-10-13 20:48] danieldram commented on #954
I am also still getting this error... I am not sure how to get around it...  I've set the epoch to -1 and still get this error.

[2019-10-13 21:14] ChristopheBougere commented on #954
@danieldram I just ran into the same issue and for some reason, @mikeparisstuff workaround wasn't working. My AppSync API is configured in AWS_IAM auth mode, but maybe I changed it at some which lead to this error.
The solution was to manually re-deploy the failing CloudFormation stack in the console (click on Update) and overriding the APIKeyExpirationEpoch to -1 there. Trying to deploy locally o

[2019-10-13 21:29] ChristopheBougere commented on #2563
I dug a little bit on this topic a few months ago and didn't find anything exciting. So I'm seeding my DynamoDB tables using a custom CLI and JSON files.
If you are interested I detailed that in a post: https://medium.com/@christophe.bougere/aws-amplify-beyond-the-quickstart-c389f8e44c92#45d8
However, I would love having this capability natively in amplify CLI with a data model closer to the Graph

[2019-10-13 21:35] danieldram commented on #1450
All the steps above for me have failed. The GraphQL ApiKey will not reset no matter if I set the epoch setting to 0, -1 or "0" or "-1".... This is really frustrating.

[2019-10-13 21:42] danieldram commented on #954
@ChristopheBougere thank you so much for the response, do you know where in the console I can edit the APIKeyExpirationEpoch?

[2019-10-13 21:49] ChristopheBougere commented on #954
To be more specific you don't edit the value but you redeploy the stack with a new value for the parameter.
- In the console, you probably have 2 failing stacks. One is the root, the other one is the API (a nested stack)
- Select the nested stack, and click on update
- Confirm that you want to update the nested stack
- "Use current template"
- Then you can update parameters (`APIKeyExpirationEpoch

[2019-10-13 22:23] danieldram commented on #954
@ChristopheBougere doesn't seem to work for me.. in the cloudformation console I see all green and when I drill down I find the failing stack, I updated the epoch -1 but still doesn't deploy locally anymore.

[2019-10-13 23:46] danieldram commented on #954
@ChristopheBougere THANK YOU! how do I donate to your coffee fund! I finally got it working via editing the cloud formation template. You are a genius!

[2019-10-14 02:49] jkeys-ecg-nmsu commented on #2536
@attilah is there any reason that the CLI could not scan for custom resolvers (besides those that override Amp-generated resolvers) and inject them plus relevant parameters into the CustomResources.json stack? I can see a lot of edge cases but you can refine it a lot by adding some reasonable constraints and not trying to support every resolver case.

[2019-10-14 03:12] jkeys-ecg-nmsu opened #2577 "Add list field to specify projected attributes on @key directives"
**Is your feature request related to a problem? Please describe.**
The major drawing point of GraphQL is that you can query for only the data that you need. While this feature still works to save bandwidth when it comes to data in and out of AWS, because all scan-filtering / querying happens on the server side, but when it comes to the AppSync <-> Dynamo communication, there is no such optimizatio

[2019-10-14 05:31] jkeys-ecg-nmsu commented on #2574
FWIW it seems like it would be low-hanging fruit for the Amplify team to add git hooks that merge the local changelogs into a global changelog and automatically submit a pull request.

If the problem is literally we have multiple changelogs, I don't understand why the solution isn't to just parse the local logs and merge them into a global log on a per-push or temporal (weekly) basis.

[2019-10-14 05:39] jkeys-ecg-nmsu commented on #2574
Also, w.r.t. the [FOSS issue](https://github.com/aws-amplify/amplify-cli/issues/2574#issuecomment-541286542), it would be nice to get some clarification from AWS and/or the Amplify team on how the Amplify ecosystem fits into the larger ecosystem of AWS services. For instance, enterprise support currently disowns support for the CLI, whereas they support Amplify Console which as far as I can tell h

[2019-10-14 05:45] houmark commented on #2567
This is actually a bit scary to think about. One simple ***** (or a bug in Amplify? Plenty of those) and the production database and its data can be gone with no warnings in seconds. Amplify should default to protect any database table and have the user explicit confirm that they want to delete it on schema changes.

[2019-10-14 05:50] houmark commented on #2574
While automatically generated changelogs would certainly be a step up from no changelogs, Amplify should manually maintain these and add some inline documentation and/or links to documentation on each release. Google does this pretty well, and they are more or less in the same situation with monorepos etc.

Over the weekend I've tried to update from 3.0.0 to 3.14.0 (latest release) but after hitti

[2019-10-14 06:12] ChristopheBougere commented on #954
Glad to hear that, cheers!

[2019-10-14 12:49] AshkanHovold commented on #128
Is it possible to have one environment (dev) that only uses s3 and http and another enviornment (prod) that uses cloudfront and https? I have created different environments but if I do "amplify hosting configure" in one environment the changes effect the other environment has well

[2019-10-14 13:40] martaGonz commented on #1576
I am having this same problem, first I used Auth Mode: Cognito, then the app didn't work with guest users so I changed Auth Mode to: API Key. It didn't work and it gave a 401 error. Now I am manually doing Auth Mode: IAM and I am lost. There is no documentation on this.
The multiple authorization type is also very confusing.

How are you allowing guest users? I still don't get this.

[2019-10-14 14:46] attilah commented on #2577
@jkeys-ecg-nmsu could you please give an example what are you thinking of exactly? ```@key``` supports a list of fields that will be used to build up the keys for the GSI.

[2019-10-14 14:49] attilah commented on #2558
@CaptainChemist as it is a GraphQL validation error, I think that the default CLI version the console is using does not have the multi-auth capability which added the ```provider``` property to the ```@auth``` rules. I think it is a good practice to always specify for Amplify Console which version of the CLI you want to use, which should be the same what you're using to develop your product on you

[2019-10-14 14:49] #2558 closed

[2019-10-14 15:11] theslyone commented on #2454
Encountered this earlier today, had an amplify project, Then I ran ```npm install -g @aws-amplify/cli``` only to find that i could no longer ```amplify push```.

I was too impatient to debug, but one thing is sure, the problem lies in the templates generated with the previous amplify cli version used. I backed up my project folder, removed the api category and push works. Adding the api category b

[2019-10-14 15:32] malcomm commented on #1886
@kaustavghosh06 / @mikeparisstuff - any updates on this?

[2019-10-14 16:14] rfpedrosa opened #2579 "amplify env remove does not remove all resources"
**Describe the bug**
`amplify env remove` does not remove all resources previously created with amplify cli. Resources that are not removed are:
- Analytics category / Pinpoint (`amplify add analytics`);
- S3 buckets used to deploy;

In the long term, AWS account gets messy with unused resources and it makes the creation of new environments with the same name to fail.

**To Reproduce**
Steps to re

[2019-10-14 17:05] UnleashedMind commented on #2579
@rfpedrosa
This is a known behavior.
Most resource names are marked with time stamps to avoid name clashes.
I marked this as a enhancement request.

[2019-10-14 17:18] nikhname commented on #2510
Because updating in that way is mentioned in the docs I have marked this as a bug. In the mean time you can try deleting the api and adding it back with the updated datasource as a work around.

[2019-10-14 17:38] yonatanmn opened #2580 "aws update api fails"
`aws update api`
result -
[code]

mac catalina, amplify@3.14

[code]

[2019-10-14 17:45] nikhname commented on #2408
@tgjorgoski The requested will not be cached internally in the resolvers. Feel free to reopen/comment if you have further questions.

[2019-10-14 17:45] #2408 closed

[2019-10-14 17:48] UnleashedMind commented on #2580
We've noticed this bug started to popping up since last Thursday.
#2550
We are root causing it.
What is the node version on your computer? Could you update to node version 12.11.1 and try again?

[2019-10-14 17:50] SwaySway commented on #2398
Feel free to reopen/comment if you have further questions.

[2019-10-14 17:50] #2398 closed

[2019-10-14 18:09] nikhname commented on #2208
@christodupreez Could you try replacing
"analytics": {
		"disabled": true
	},
with
"analytics": {}
and trying a push?

[2019-10-14 19:27] yuth commented on #2563
I am marking this as a feature request for Amplify CLI to support seeding data natively as we don't support this right now.

[2019-10-14 19:41] yuth commented on #2554
Could you try running `amplify api gql-compile` before running an `amplify push`. This issue was fixed in https://github.com/aws-amplify/amplify-cli/pull/2559 and was released in Amplify CLI 3.14.0

[2019-10-14 19:47] #2580 closed

[2019-10-14 21:40] monaye opened #2582 "how can I get all resolovers for the AppSync from the cloud?"
I used to see all resolvers used in backend under current-cloud-backend folder but noticed recently I no longer see all, but only the one I modified.

What is the best way to get all the resovlers used in the cloud?

I tried `amplify env pull --restore` but didn't pull.

[2019-10-14 22:09] trupa7 commented on #161
I am still getting Subscriber limit exceeded ( I have more than 50 dyanamo table ) and I am using amplify to create appsync resolvers and dynamodb table for all model

[2019-10-14 22:37] UnleashedMind commented on #2198
@oste
I tried but was not able to reproduce the issue with the latest Amplify CLI version(3.14.0) on node v12.11.1 and node v10.16.3 (LTS).

Did the error happen before the Cloudformation stacks are been created / updated? or It happens during the process of the Cloudformation updating the stacks?
Could you take a screenshot of what leads to the error on the terminal ?
If the error happens after t

[2019-10-14 22:41] nikhname commented on #2418
@pnadkar Can you please update to the latest version of the cli (3.14.0) and see if you still have this issue? I was not able to reproduce this on 3.14.0 with an angular project.

[2019-10-14 22:56] UnleashedMind commented on #2198
@oste
If you are using the CLI auto generated schema, `input CreatePostInput` shouldn't appear in the `/Users/somename/amplify/backend/api/somename/schema.graphql`
It should only appears under `/Users/somename/amplify/backend/api/somename/build/schema.graphql`
which you should not manually modify

[2019-10-14 23:20] UnleashedMind commented on #2226
I used the latest version of the CLI 3.14.0 and I was not able to reproduce, could you update the CLI version to the latest and see if you are still have the same problem?

[2019-10-14 23:38] jkeys-ecg-nmsu commented on #2577
@attilah sorry if my feature request was unclear. Basically, whenever the `@key` directive provisions a GSI, it projects all attributes to that index.

Since most access patterns relying on custom keys won't need to project all attributes, there should be another field that allows the user to set which fields to project.

Let's say we have this schema:

[code]

So here `id` is a unique identifier

[2019-10-15 00:01] trupa7 opened #2583 "Issue related to amplify push for @function for multiple queries with multiple function"
I created one function and  create one query with that
[code]
and I deployed with amplify console ---> deploy (it's worked there)

and after that I added one more function and one more custom_query
[code]
and I tried to push through amplify cli (amplify push)

I updated the stack but I unable to see the changes in appsync console--->queries

[2019-10-15 00:42] houmark commented on #2519
All these seems to be temporary fixes which may fix push once or twice, but it will eventually fail later on, especially when doing deployment with Amplify Console.

@UnleashedMind please advice what is either a permanent manually fix/workaround or if we can expect a new release that fixes this soon?

[2019-10-15 01:04] rlimberger opened #4314 "GraphQL @auth with Cognito Pool and apiKey does not work"
**Describe the bug**
I'm using the following `@auth` configuration for my GraphQL `@model`:

[code]

I have setup Amazon Cognito User Pool as primary and apiKey as secondary authorization type:

[code]

When I then run `amplify push` I get the following error:

`@auth directive with 'apiKey' provider found, but the project has no API Key authentication provider configured.`

**To Reproduce**
Annot

[2019-10-15 03:26] rlimberger commented on #2373
@emmafass how did you add the secondary (apiKey) auth provider with amplify cli? it's not working for me as described [here](https://github.com/aws-amplify/docs/issues/968).

[2019-10-15 03:28] jkeys-ecg-nmsu commented on #2582
Just to clarify did you put your environment name, like `amplify env pull prod --restore`? I think `env pull` requires an environment name, although it may default to the current initialized environment without passing in an enviro name.

[2019-10-15 03:31] jkeys-ecg-nmsu commented on #2577
Maybe this AWS resource can explain what I am asking for better than I can.

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GSI.html#GSI.Projections

[2019-10-15 04:29] jkeys-ecg-nmsu commented on #2579
@UnleashedMind is there a reason that the DeploymentBucket resource defaults to Retain?

[2019-10-15 07:08] pnadkar commented on #2418
Updating the cli worked

[2019-10-15 07:09] #2418 closed

[2019-10-15 10:47] yonatanmn commented on #1378
any update here?

[2019-10-15 10:48] yonatanmn commented on #2580
mine was 12.8. fixed it in another way. see it was solved fast :) thx

[2019-10-15 13:13] damianrr commented on #2554
Hey @yuth I tried that and still got the same error:
[code]

[2019-10-15 13:39] damianrr commented on #2554
Also, I'm using cognito post-confirmation trigger, I tried to remove it with `amplify auth update` which updates the auth and remove the customMessage function and I when I push I get this error:
[code]

[2019-10-15 14:46] CaptainChemist commented on #2558
This was an excellent suggestion @attilah. You are totally right that I do not need to use node version 8- I just confirmed that adding the following line to the build step fixes the issue:

[code]

Thanks so much!

[2019-10-15 15:14] damianrr commented on #2554
Guys, I managed to fix this issue by doing this: https://github.com/aws-amplify/amplify-cli/issues/2096#issuecomment-523746110
Now, question: What implications could it have to my application that I leave my authorization/authentication preferences with the option:
`User Sign-Up, Sign-In, connected with AWS IAM controls (Enables per-user Storage features for images or other content, Analytics, and

[2019-10-15 17:30] UnleashedMind commented on #2583
@trupa7
After you deploy through Amplify Console, how did you bring the project to your local development environment?

[2019-10-15 17:40] SwaySway commented on #2582
@monaye
They should be located under `amplify/#current-cloud-backend/api/<API_NAME>/build/resolvers/*`

[2019-10-15 17:48] UnleashedMind commented on #2579
Because it might contain useful data for our customers.

[2019-10-15 17:53] UnleashedMind commented on #2550
We released a new version last night, v3.15.0.
Please install the latest version and check if you are still having the issue.

[2019-10-15 17:54] UnleashedMind commented on #2580
We released a new version last night, v3.15.0.
Please install the latest version and check if you are still having the issue.

[2019-10-15 18:03] trupa7 commented on #2583
First I added api from amplify cli
1. amplify init
2. amplify add api
then updated my schema
and pushed my code to git
I set up amplify deploy from console.
It deployed backed
then I made some changes in my schema and tried amplify push from amplify cli instead of pushing code to git.

So, Is it advisable to do that or we can either use amplify deploy or amplify push. to push amplify api updates?

[2019-10-15 18:14] trupa7 opened #2584 "Ability to create more than 25 @models at once"
As I added more table to my schema I am getting this error and some time I get error related to maximum number of tables that can be created simultaneously. It's deleted all my previously  created tables and data in that tables.

Q1. can we Increase limits for dynamodb to create tables or indexes simultaneously?

Q2. is there any way we can prevent deletion of tables while got in to this error?

Q

[2019-10-15 18:15] warrenmcquinn commented on #2550
`v3.15.0` works for me on MacOS Catalina, `node v12.8.0`! Thanks!

[2019-10-15 18:30] emmafass commented on #2373
@rlimberger if it is not coming up as an option when you run `amplify update api` then you probably are still using an old version of the CLI.

Could you check what version you are using? In order to install the latest version I had to run: `sudo npm install -g @aws-amplify/cli --unsafe-perm=true`.

More details on that command [here](https://github.com/aws-amplify/amplify-cli/issues/2481#issuecom

[2019-10-15 18:48] #2550 closed

[2019-10-15 19:18] trupa7 commented on #2584
I have 43 tables which includes (m:n relationships tables)

[2019-10-15 21:31] houmark commented on #2100
@attilah While I appreciate the attempt to fix this bug, this bugfix seems to have broken our ability to push on 3.14.0+ and there seems to be no way to solve this?!

We have some "old" but active and critical models with a named `@connection` and sorting on `createdAt` which have worked just fine until now:

[code]

With this fix, our schema is no longer valid and after having spent 8+ hours tryi

[2019-10-15 22:14] RossWilliams commented on #2100
This is not a full response, and I’m on my mobile, but a few items to note:
1. This should probably be a new issue
2. You have a sortfield on a connection to a single item. Can we assume the other side is a many relationship that also has a sortfield property? If no, then the sortField property serves no purpose and can be removed.
3. If you need to solve your use case with a GSI, you can use the

[2019-10-15 22:23] houmark commented on #2100
Very good guidelines here @RossWilliams — I will try out some of these and give feedback.

[2019-10-15 22:29] tracknemo commented on #2580
Just to clarify, latest version of node correct?

[2019-10-15 22:30] kaustavghosh06 commented on #2580
Latest version of the Amplify CLI.

[2019-10-15 22:35] tracknemo commented on #2580
Thank you, this worked. For anyone unsure of what command to run, it is npm install -g @aws-amplify/cli

[2019-10-15 22:58] yonatanmn opened #2589 "auth field that allows to read and update, can read and update, but update does not return value"
cli@3.14.0, macos catalina, node@12.11.1,

schema :
[code]
query works as expected.
mutation of `updateThing`:

[code]

mutation works, but the returned object is :
[code]
**expected** -
`canChangeThis` should be "something new" and not null

perhaps related to :https://github.com/aws-amplify/amplify-cli/issues/2576

[2019-10-15 23:07] jkeys-ecg-nmsu commented on #2584
Looks like a DynamoDB soft service limit, try opening a ticket with Support as demonstrated [here](https://github.com/serverless/serverless/issues/3744#issuecomment-307040193).

[2019-10-15 23:26] UnleashedMind commented on #2514
@mwarger
The same type of error happened with nodejs version updates, see e.g.
https://forums.aws.amazon.com/thread.jspa?messageID=908801

But nodejs8.10 is supported by CloudFormation now, and we didn't see that error when we were testing our migration.
I've contacted the Cloudfomration service team to investigate further, will keep you updated.

[2019-10-15 23:30] mwarger commented on #2514
@UnleashedMind Thanks.  I have been communicating with @yuth as well as opened a ticket through AWS.  I was asked about the same upgrade issues (which I have already done).  Hopefully, I can resolve this soon.

[2019-10-15 23:30] jkeys-ecg-nmsu commented on #2584
@trupa7 btw if you hit up support right now (within 24 hours I believe) they will be able to restore your tables.

@yuth @kaustavghosh06 I know you all don't release roadmaps but it's hard to see how useful the API category is when a bad push can drop all your production tables, and then to make matters worse, potentially drop your AppSync API (which currently does not soft delete endpoints, so ho

[2019-10-15 23:34] kaustavghosh06 commented on #2584
@trupa7 I'm not clear as to how  all your previously created tables were deleted. Could you please explain more as to the steps to reproduce this behavior in deletion of tables with data?

[2019-10-15 23:46] jkeys-ecg-nmsu commented on #2567
Seems like this could be implemented on a per-model basis simply by adding one or two new directives, something like this:

`@retentionPolicy(retain: true)`

Then parse the retain field and inject that into the DeletionPolicy for each model's stack.

[2019-10-15 23:52] jkeys-ecg-nmsu commented on #2579
@UnleashedMind ah I see. So then why doesn't the API stack default to retain?

[2019-10-16 00:17] undefobj commented on #2567
In general it's best practice to try and keep implementation specific details outside of your datamodel. Not always possible but that's the top level guidance for custom directives. That being said we can look at implementing this in different ways for the whole platform. I've set a tag for this in the backlog.

[2019-10-16 00:40] jkeys-ecg-nmsu commented on #2567
@undefobj thank you for the advice and for tagging this FR.

[2019-10-16 00:48] jkeys-ecg-nmsu commented on #2534
@hi120ki does the preflight request return 200?

[2019-10-16 01:18] KidSysco commented on #2458
I think I ran into a similar issue with trying to remove the capability, Email Verification Link with Redirect. Which I believe is just trying to remove a Lambda.

[2019-10-16 01:41] jkeys-ecg-nmsu opened #2590 "Add pre-push and post-push hooks to allow custom functionality"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to abort push attempts if some condition fails, and to notify a service if the push attempt succeeds (as two examples of use cases these hooks would help accomplish). I cannot find any reference to CloudFormation lifecycle hooks, so this would be a novel addition to the CloudFormation ecosystem and migh

[2019-10-16 02:47] hi120ki commented on #2534
@jkeys-ecg-nmsu Yes, OPTIONS request returns 200. But POST request returns 403.

[2019-10-16 04:30] houmark commented on #2100
So after messing around again with my schema, and removing some indexes I had created both in the schema and directly in DynamoDB I followed mainly step 2. Turns out I had some `sortBy` on named connections that were 1 to many but on the other side they would be of course just 1 to 1. And the 1 to 1 seems to be the ones making problems. Remove the `sortField` there seems to have solved it and the

[2019-10-16 08:28] rahulvyas1 commented on #462
I am still facing this issue!

[2019-10-16 09:11] davidsteed commented on #2303
Same problem - permission appear to be fine bu the environment variable is not set properly.  What do I edit to set the environment variable to the correct userpool

[2019-10-16 13:48] rgilks commented on #2453
I also have a similar problem, though not to do with the userPoolId but another ref from the cloud-formation template.

`
Failed to parse Lambda function cloudformation in amplify/backend/function/orderProcessor/orderProcessor-cloudformation-template.json

Error: Could not find ref for "apiprediraGraphQLAPIIdOutput"
Failed to start API Mock endpoint Error: Lambda function orderProcessor does not e

[2019-10-16 14:29] jamesw6811 opened #2591 "@auth for static group authorization on @function field in Query without @model transformer"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
GraphQL Transformer

** What AWS Services are you utilizing? **
Amplify, Cognito, Lambda

** Provide additional details e.g. code snippets **
I was previously using static group authorization on a custom query for lambda function access control, as s

[2019-10-16 14:43] jmandivarapu1 opened #2593 "Amplify Analytics BROKE up my WHOLE project"
Here is the nightmare happened to me with amplify analytics which messed up my whole project.

Step 1 : Thought adding amplify  analytics was so simple so tried adding "amplify add analytics" then did the push then it did throw an  error stating that "nodejs6.10" issues it is caused by amplify itself because when I did "amplify add analytics" it did add the default node as "node6.10" then it went

[2019-10-16 16:33] rarira opened #2592 "'type not with @model' can't be returned as a multi-auth query result."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I was planning to provide non-authorized access to the API using @auth multi-auth directives.
But the "type" which is not annotated with @model cannot be returned as a query result, inspite of the query was fully authorized by @auth. For Instance, "type S3Object" cannot be returned w

[2019-10-16 17:15] trupa7 commented on #2584
@kaustavghosh06 as I added new schemas which have relationship with old tables . If creation of new tables will failed it  deletes all previously created tables which have relationship with new tables

[2019-10-16 17:28] pechisworks commented on #2592
You can add the [AppSync Authorization Modes](https://docs.aws.amazon.com/appsync/latest/devguide/security.html) directly in your schema.graphql like so:
[code]

[2019-10-16 17:28] SwaySway commented on #1984
Closing as the fix is now in the latest release.

[2019-10-16 17:28] #1984 closed

[2019-10-16 17:40] nagey commented on #1601
Sorry, didn't see the notification on this, consider the following schema:
[code]

If you wanted to delete this after creating it, you first have to comment out `parent` and `children` and run `amplify push` and then you can delete the model and run `amplify push` again.

[2019-10-16 17:40] nagey commented on #1601
@kaustavghosh06 if you want to re-open it is still the same sort of an issue.

[2019-10-16 18:26] rpostulart opened #2594 "Undo 'amplify function update'"
When I update a function and for example set permission on API in the project then I am not able to undo this. Because If I go again to '**amplify update function' > update permissions > uncheck the boxes > enter**, then I receive this error: You must select at least one operation.

I want to undo this because I received **Circular dependency between resources** when I set permissions from a funct

[2019-10-16 18:33] UnleashedMind commented on #2590
The Amplify CLI does not have feature that allows end-user scripts to to be invoked in a life cycle events. However, the Amplify CLI plugin platform does broadcast pre-push and post-push events to the plugins if they subscribe to those events. As a work around if you really need this feature for now, you can write a utility plugin that subscribe to those events.
https://aws-amplify.github.io/docs/

[2019-10-16 18:53] monaye commented on #2582
@jkeys-ecg-nmsu
the command should be `amplify env pull --restore`
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#environment-related-commands

@SwaySway
I don't see the `build` folder... what command should I run to have it?

[2019-10-16 18:53] monaye commented on #2593
have you tried `amplify env pull --restore` then do `amplify push` ?

[2019-10-16 19:00] fabianjj opened #2595 "Amplify CLI yields TypeError on almost all commands"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
All CLI commands that seems to touch the cloud now yields the following error in some form:
`The 'request' argument must be string. Received type undefined`

Simply running "amplify status" seems to show the correct status, followed by:

`The 'request' argument must be string. Receiv

[2019-10-16 19:07] rpostulart commented on #1874
Is there an update?

I also did a function update and add permissions to API to access the appsyncid.
I need this variable in the lamba cognito trigger post confirmation to send a userid to the dynamodb table: **tablename-appsyncID-environment**

[2019-10-16 19:10] jmandivarapu1 commented on #2593
yeah I did tried it but sadly didn't workedout.

[2019-10-16 19:11] jmandivarapu1 commented on #2593
I do have my userpool and created all my webclient. But all configuration and roles are gone I think. So, it's not letting me login back into website.

[2019-10-16 19:45] jmandivarapu1 commented on #2593
I have my old user pool. S

o, the best thing I thought is that I would migrate the users from old pool to new pool (again hosted my website)using this code. But this documentation is pretty unclear like how to to import lookupUser,authenticateUser ...etc

Notonly me someother people also posted about this.

[code]

[2019-10-16 19:47] kaustavghosh06 commented on #2582
You can run amplify api gql-compile

[2019-10-16 19:52] monaye commented on #2582
nope.. `amplify api gpl-complie` didn't create a build folder.

[2019-10-16 19:59] SwaySway commented on #2582
@monaye
`amplify api gql-compile` will create the build folder in the local file path not in `#current-cloud-backend`.

By doing a `amplify env pull --restore` your schema will be restored and by running `amplify api gql-compile` you will see the build folder in for that schema under the following path
`amplify/backend/api/<API_NAME>/build/`

[2019-10-16 20:11] kaustavghosh06 commented on #2593
@jmandivarapu1 Did you create a new env? If you created a new env, all the corresponding roles, user pool configurations will get cloned along with the app clients.

[2019-10-16 20:58] RossWilliams commented on #2100
@houmark I looked at the PR resolving this issue and the error you encountered. You do seem to have a 1:1 connection with no sort key on the connecting object, so specifying a sortField would be incorrect and against the documentation. The PR fixed a bug where the sortField was being ignored when it shouldn't have been, and your incorrect use was exposed. The error messages were a nice touch to th

[2019-10-16 21:07] houmark commented on #2100
Yes, it's correct. The one that was the problem, was 1:1 connection which I missed in the gist of going over them all, mainly due to the error message which first pointed me to `Application` but the problem was on the other model. If Amplify could show the line number with the problem in the schema, then the error message could be less informative (as it kinda is now) because one thing is to under

[2019-10-16 21:08] kaustavghosh06 commented on #2594
@rpostulart Could you please send a screenshot of the validation error? I tried to reproduce it locally and was able to de-select/un-check all the categories and then proceed with the next questions without any validation to remove all the policies/permissions for the previously selected categories:

[code]

[2019-10-16 21:24] UnleashedMind commented on #2595
We've noticed unrelated issues when the Amplify CLI is running on Ubuntu WSL.
can you do a fresh re-install and try to run the CLI directly on the windows cmd.exe or powershell?

[2019-10-16 21:57] RossWilliams commented on #2576
Seems related to #2241

[2019-10-16 22:31] jmandivarapu1 commented on #2593
I didn't after the stack got deleted my old env also got disappeared.

Now i am following this

"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-import-using-lambda.html"

Just wanted to migrate the old users to new user pool. then they can login in the normal way

but i don't know what npm package they used for the **authenticateUser** and  **lookupUser**

can u help

[2019-10-16 22:53] jmandivarapu1 commented on #2593
and one solution i tried is that I rolled back to my old environment and tried the amplify push then. But I am getting this error. Is there anyway to fix this. Just asking if any such solution exist?

<img width="767" alt="Screen Shot 2019-10-16 at 6 51 48 PM" src="https://user-images.githubusercontent.com/21245519/66964983-2a537400-f046-11e9-898c-1082a1653e54.png">

[2019-10-16 23:06] UnleashedMind commented on #2562
- Answer 1:
To the Amplify CLI, the backend resources are structured as `category/service`, and it has to be handled by a specific plugin. By merely adding to the backend-configure an object like you put up there doesn't do much, because no plugin is handling that piece of information.
Currently the Amplify CLI does not provide you to set permission for the function category to access resources no

[2019-10-16 23:26] andrew-aernos opened #2596 "gql-compile combines split extended types in built schema, but doesn't generate resolvers/cfn resources"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
gql-compile combines split extended types in built schema, but doesn't generate resolvers/cfn resources

Something weird on type extension within `type` marked / not marked with `@model`. I'm aware of this one issue https://github.c

[2019-10-16 23:52] jkeys-ecg-nmsu commented on #2590
@UnleashedMind sorry if this is a dumb question, I'm not much of a shell programmer.

Would a custom plugin executing a pre-push hook execute on the same thread as the `amplify push`, so I could just kill the thread if my conditions fail? Or would there need to be some IPC / message passing to accomplish such a goal?

[2019-10-16 23:57] kaustavghosh06 commented on #2593
@jmandivarapu1 Did the deletion of your stack delete your Cloudfront distribution as well? Are you able to access your website? You can check your Cloudfront distribution in `amplify/backend/amplify-meta.json` file.

[2019-10-17 00:01] jmandivarapu1 commented on #2593
Nope I wasn't able to access my website from yesterday "https://d19v75l5red964.cloudfront.net/"

At this point I was okay with any solution. But only goal of me was not to ask all my users signup again

[2019-10-17 00:06] jmandivarapu1 commented on #2593
if i try to restore

<img width="767" alt="Screen Shot 2019-10-16 at 8 06 00 PM" src="https://user-images.githubusercontent.com/21245519/66967879-74415780-f050-11e9-8ed5-b9f6025084c4.png">

[2019-10-17 00:11] jkeys-ecg-nmsu commented on #2593
Do you have custom attributes on your users? That's the main snag when writing a migration trigger lambda for user pool -> user pool. And since you are trying to migrate within a single account you don't need to manually invoke sts.assumeRole. Here's a snippet that might help you, I didn't bother to put in proper error handling, etc so it's up to you to make it robust enough for your application.

[2019-10-17 00:14] mrducky4 commented on #2519
I am having same problem for the past week, using amplify CLI version 3.9.0. Problem has happened both with amplify CLI push and also with amplify console deployment. Should I try 3.10.0?

I also see the message "Could not read cloudformation template at path: C:\xxxxx\fa-console\amplify\backend\api\facilitiesconsole\build\cloudformation-template.json". This file does not exist. Is it supposed to

[2019-10-17 02:01] mrducky4 commented on #2554
I have a similar issue with amplify push using amplify CLI 3.9.0, with initial error:
`
Could not read cloudformation template at path: xxxxx\fa-console\amplify\backend\api\facilitiesconsole\build\cloudformation-template.json
`
this file does not exist, and I don't know when it should be created if it is supposed to exist.

But then the next error is:
`UPDATE_FAILED      apifacilitiesconsole

[2019-10-17 02:18] jmandivarapu1 commented on #2593
I did exactly the way you said.

But I am getting the error. I created the lambda logs too and it's finding user and returning all the variables. (I took care of custom attributes also)

**"Cannot modify the non-mutable attribute sub"**

<img width="513" alt="Screen Shot 2019-10-16 at 10 16 21 PM" src="https://user-images.githubusercontent.com/21245519/66972450-a65bb500-f062-11e9-99d7-301902509d1a

[2019-10-17 02:31] jkeys-ecg-nmsu commented on #2593
Lol, the code to extract the custom attributes is non-trivial and I excluded it because I didn't want to write your whole program for you, and was in a bit of a hurry. I don't know exactly how you implemented it but clearly you're trying to copy over all attributes instead of just _custom_ attributes. You don't get to define the sub, that's left up to the token issuer (in this case, the Cognito us

[2019-10-17 02:43] SwaySway commented on #2519
@mrducky4
A few questions
- What was the update flow that was done?
- Is this a graphql api?
- Was IAM auth being used in the schema?

[2019-10-17 02:59] rawadrifai commented on #2512
@yuth do you have any updates on my last question? maybe point me to the right docs to accomplish this..

[2019-10-17 03:02] jmandivarapu1 commented on #2593
Thank you for all the help. Now I was able to migrate users from old pool to new pool.

But I did observed one more thing that is if I am using ```  authenticationFlowType: 'USER_PASSWORD_AUTH'``` then  ```Auth.currentUserInfo()``` of the authenticated user is returning NULL. But I used that in my project multiple times. Is there any way to fix that too.

[code]

[2019-10-17 03:10] jkeys-ecg-nmsu commented on #2593
You're welcome. I open a lot of issues in this repo AND I feel your pain in losing a production stack, so I wanted to help if I could.

Sounds like a bug, you should open an issue. If you need it fixed ASAP you can trace the program and patch it in your node_modules, it looks to me like it's failing on this line: https://github.com/aws-amplify/amplify-js/blob/master/packages/auth/src/Auth.ts#L1587

[2019-10-17 03:23] rarira commented on #2592
it works!.. indeed not @aws_iam but @aws_api_key, but it feels so weird to me that I have to use @auth directives because I can't use @aws_api_key @aws_cognito_user_pools directly in schema.graphql with older versions of amplify-cli and it's not documented at all, isn't it?

[2019-10-17 03:27] monaye commented on #2582
@SwaySway
Oh. Sorry, my bad. Didn't check thoroughly.
I see the build folder :)  thank you ~

[2019-10-17 03:27] #2582 closed

[2019-10-17 03:45] jmandivarapu1 opened #2597 "Amplify currentUserinfo returns null"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When I used ```authenticationFlowType: 'USER_PASSWORD_AUTH'``` in my configuration of amplify. After I signin with my usrname and password then Auth.currentUserInfo() is returning null.

I doubled checked it. If I remove authenticationFlowtype it shows all the user properties

**To R

[2019-10-17 05:13] jkeys-ecg-nmsu commented on #2582
@monaye FYI the doc you link doesn't seem to reflect the current multienv process, they tell you to pull without giving the env name as a parameter, and then don't tell you how to checkout or pull other environments.

They also would then directly conflict with the (limited) [actual documentation](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#concepts-1) on how to deploy across multi

[2019-10-17 05:21] rpostulart commented on #2594
This is the screenshot after I deselected the options:

<img width="569" alt="Screenshot 2019-10-17 at 07 19 01" src="https://user-images.githubusercontent.com/21346629/66979647-9bc70d00-f0ae-11e9-9e75-c0f7df9e91d6.png">

[2019-10-17 05:22] rpostulart commented on #2594
<img width="569" alt="Screenshot 2019-10-17 at 07 21 52" src="https://user-images.githubusercontent.com/21346629/66979716-d4ff7d00-f0ae-11e9-9093-f85b61a1e282.png">

[2019-10-17 05:22] kaustavghosh06 commented on #2594
@rpostulart If you just de-select the resource in the previous question option, all the CRUD operations for that resource would go away. Did you try doing that?

[2019-10-17 05:23] rpostulart commented on #2594
Sorry again: this is the screenshot after I deselected them:

<img width="569" alt="Screenshot 2019-10-17 at 07 21 52" src="https://user-images.githubusercontent.com/21346629/66979765-f6f8ff80-f0ae-11e9-8751-e7757db6495f.png">

[2019-10-17 05:24] rpostulart commented on #2594
@kaustavghosh06 : yes you are right, then it's working! Thx

[2019-10-17 05:24] #2594 closed

[2019-10-17 06:00] babu-upcomer commented on #2468
@danshirley1 We got the issue recently too. These kind of cloudformation limitations are becoming a huge blocker for Amplify in a greater extent. @SwaySway Is their any workaround?

[2019-10-17 08:25] bastianbb commented on #2519
Look at my previous comment.
My problem was the same, no CF template in the build folder.

[2019-10-17 09:40] onerider opened #2598 "Query with filter over many-to-many relationship"
I have two items, Product and Category with a many-2-many relationship (built using Amplify)
In the dynamodb this is mapped like this:

Product >- ProductCategory -< Category

All good, I can for example query on a product and see all categories it is part of and vice versa.

However, I don't get filtering to work and I am not even sure if this really is supported.
What I want to do is query for P

[2019-10-17 11:26] mrducky4 commented on #2519
@SwaySway I'll answer the best I can.

- What was the update flow that was done?
I don't really know what was relevant. I have been switching back and forth between a test branch and a dev branch, and switching the corresponding amplify environments between test and dev. The thing I'm working on is a lambda function (functionfaservicelambda) for a REST API (facilitiesservice) added with amplify. B

[2019-10-17 11:27] jakobpack opened #2599 "Receiving error on `amplify push`"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When trying to `amplify push`, I receive the following error while updating:
`UPDATE_FAILED      apizivi                          AWS::CloudFormation::Stack Thu Oct 17 2019 13:13:50 GMT+0200 (CEST) Parameters: [S3DeploymentRootKey, S3DeploymentBucket] must have values`.

I don't have

[2019-10-17 11:38] daannijkamp commented on #2468
@danshirley1 @babu-upcomer the +/- first 27 characters of the lambda function name is used for the IAM Role Name.
The only workaround is to use shorter Lambda function names (more likely that the first 27 characters are unique)
Don't know whether this is a limitation of Cloudformation or Amplify.

[2019-10-17 11:39] mrducky4 commented on #2519
@bastianbb thank you for the suggestion. I did `amplify api gql-compile`, and it created the `cloudformation-template.json` file that was missing before.
Then during `amplify push` I get different errors now.
[code]

Those parameters hostedUI and thirdPartyAuth are things that did change recently in some files managed by amplify as I was trying different things to work around the push problem. Whe

[2019-10-17 14:11] daannijkamp commented on #2468
@SwaySway Adding a hash based on the full string (for example md5) as a prefix to the simplifyName function (https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-transformer-common/src/util.ts#L16), do you think this can work?

[2019-10-17 14:54] blomm commented on #81
yes, currently amplify delete will delete everything
even when i run an 'amplify add api' but then choose to discard all my changes, next time i do a 'amplify push' it still wants to create the resource that I discarded (ie didn't save)

[2019-10-17 15:28] RossWilliams commented on #2598
You have your mapping table ProductCategory, you want to get all products in X or Y

[code]
you can make two queries in one request:
[code]

[2019-10-17 17:19] SwaySway commented on #2599
@jakobpack Is there a deployment root key specified in the build folder?
Located in `amplify/backend/api/<API_NAME>/build/parameters.json`

[2019-10-17 17:31] #2593 closed

[2019-10-17 17:34] SwaySway commented on #2592
@rarira This is based on the change in the newer versions of the cli which support multi-auth.
Closing this issue, feel free to comment on this thread if you are stuck on this.

[2019-10-17 17:34] #2592 closed

[2019-10-17 17:37] SwaySway commented on #2589
@yonatanmn This is related to per-field auth with subscriptions. If you do not need `@auth` on subscriptions you can either set it to public or off
`@model(subscriptions: { level: public } })`

View the docs here:
https://aws-amplify.github.io/docs/cli-toolchain/graphql#per-field-with-subscriptions

[2019-10-17 17:37] #2589 closed

[2019-10-17 17:43] SwaySway commented on #2583
@trupa7 Are you managing two different environments (prod from cli and dev from console).
If you are using one environment then you can push from either cli (amplify push) or console (using git push).

[2019-10-17 17:45] fabianjj commented on #2595
@UnleashedMind:
I installed the @aws-amplify/cli using powrshell in the same directory, ran ampliy configure project,  which went through without showing any issues.

I can now run "amplify status" in powershell without running into any problems, but as soon as i try to do "amplify push" i get the following error:

`× An error occurred when pushing the resources to the cloud

Missing credentials i

[2019-10-17 17:54] trupa7 commented on #2583
@SwaySway : one environments. But If I push from console(git push) and if u do amplify status after completion of git push .It still show api status to update. And if you make push from cli with schema change it will make a push but I unable to see the changes in appsync

[2019-10-17 18:00] kaustavghosh06 commented on #2575
@TeoTN Currently the function module doesn't allow you to add/edit permissions for the DDB tables created by the GraphQL transformer. But there's a PR out for it - https://github.com/aws-amplify/amplify-cli/pull/2463 which would enable you to do that. For now you would have to maintain a custom stack to do this.

[2019-10-17 18:17] kaustavghosh06 commented on #2584
@trupa7 Could you provide us with a before/after graphql annotated schema so that we can reproduce this behavior? Deleting of the tables isn't the intended behavior, but would like to reproduce and fix it.

[2019-10-17 18:32] SwaySway commented on #2520
Should you have any other questions related to this please feel free to comment below.

[2019-10-17 18:32] #2520 closed

[2019-10-17 18:34] #2501 closed

[2019-10-17 18:39] SwaySway commented on #2496
@meketadev For angular projects it is recommend to use the code generated API.service.ts.
Docs here: https://aws-amplify.github.io/docs/js/api#angular

Is there a custom use case here where you need the operations in ts?

[2019-10-17 18:40] jkeys-ecg-nmsu commented on #2595
@fabianjj you probably have your AWS credentials set up in ~/.aws in WSL, and Powershell isn't reaching into the WSL filesystem.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

[2019-10-17 18:41] #835 closed

[2019-10-17 18:42] #1734 closed

[2019-10-17 18:42] #2153 closed

[2019-10-17 18:47] monaye opened #2600 "how can I include the "total" count in SearchableConnection?"
if I specify @searchable directive, Amplify generates SearchableConnection type but it doesn't have a total int defined but response resolver has it.
How can I include a total in the schema? or any workaround??

[2019-10-17 18:51] UnleashedMind commented on #2595
@fabianjj
- follow the doc and setup the credentials files under <home>/.aws/config and <home>/.aws/credentials file
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
- run `amplify configure project` again in powershell

[2019-10-17 18:55] SwaySway commented on #2492
Yea that implementation seems correct. I think what you may be looking for here is using a pipeline function which runs before `@model` logic. We do have an RFC #1055 open for this which our team is looking into. I think this might be what you are looking for.

[2019-10-17 19:11] kaustavghosh06 commented on #2526
@rawadrifai Yeah, we use the path name in various Cloudformation resources which do not allow alphanumeric characters. We would have to refactor our Cloudformation templates to allow this behavior.

[2019-10-17 19:43] fabianjj commented on #2595
@UnleashedMind , @UnleashedMind:

I've moved the contents of _~/.aws_ to _%UserProfile%\.aws_. Now I get a little bith further, but _amplify push_ fails rather quickly and yields the following error:

`UPDATE_FAILED      authicepackcfa592d6cfa592d6 AWS::CloudFormation::Stack Thu Oct 17 2019 21:28:29 GMT+0200 (GMT+02:00) Parameters: [authRoleArn, usernameAttributes, autoVerifiedAttributes, allowUna

[2019-10-17 19:44] bob-lee commented on #2454
Had this issue on `3.15.0`, downgraded to `3.2.0` then back to normal. I wanted to use multi auth feature but would wait until it is settled..

[2019-10-17 20:08] fabianjj commented on #2595
Update:
I updated my WSL Ubuntu installation and the original error no longer appears.

However, I'm running into the same issue as in my previous comment when trying to update using WSL, which keeps me from implementing the cloud changes I wanted to make.

[2019-10-17 21:20] kaustavghosh06 commented on #2583
@trupa7 If you deployed via Amplify console first - I believe it deployed a separate backend from what you have locally.

[2019-10-17 21:21] #1719 closed

[2019-10-17 21:21] #1539 closed

[2019-10-17 21:42] kaustavghosh06 commented on #2533
@jkeys-ecg-nmsu

Please find response in-line

This command helps you move from one environment to another similar to `git checkout`.
It carries over the contents of the `amplify/backend` directory i.e no changes are made to it but the `amplify/#current-cloud-backend` is overwritten by the contents of the cloud for the environment you're checking into i.e the `env-name` in the command.

This comma

[2019-10-17 21:51] DavidNelsonCordelia commented on #2595
I am getting similiar problems to these    I just updated the @aws-amplify/cli today  (and everthing else) and started seeing these issues.

One additional item.  If I try a comand like amplify function ....    the catagory does not exist  The catagory pluggins seem not to be loaded

[2019-10-17 22:02] UnleashedMind commented on #2595
@DavidNelsonCordelia
what OS did you run your amplify CLI on?
could you run a fresh `amplify plugin scan` and then `amplify plugin list` -> `active plugins`, check what are in your system.

[2019-10-17 22:10] kaustavghosh06 commented on #2595
@fabianjj Can you check your `amplify/.config/project-config.json` file and see if the absolute path to your project is entered correctly?

[2019-10-17 22:27] UnleashedMind commented on #2599
Try to do a `amplify api gql-compile` before you push, see if that fixes the problem.

[2019-10-17 22:33] UnleashedMind commented on #2595
@fabianjj
You can probably try these steps to restore your project:
- backup your local changes
- `amplify env pull --restore`
- `amplify api gql-compile`
- apply your local changes from the backup.
- `amplify push`

[2019-10-17 23:41] McCrearyD opened #2603 "GraphQL mutator input from graphql generated database"
** Which Category is your question related to? **
GraphQL / DynamoDB

** What AWS Services are you utilizing? **
Cognito, AppSync, DynamoDB

** Provide additional details e.g. code snippets **

So I have the following type definitions:

[code]

This task property I want 2 different functions for: One to be called when the route is first created (because this task is going to be sent to ECS). And o

[2019-10-17 23:53] ianshea commented on #2563
I did this with a function I wrote in Node. I run it locally. It's a BatchWrite to Dynamodb.

[code]

Takes me under a minute to process my data (JSON file is ~130mb, so we use a stream) and import ~25,000 items. These items do not have connections. FYI - If you have your @model setup with the @searchable directive it'll also stream into Elasticsearch. But that stream takes awhile (~15-30min) to f

[2019-10-18 00:15] SwaySway commented on #2309
Marking this pending-release as PR #2587 fixes this issue by removing the unnecessary params from the template as well

[2019-10-18 00:17] SwaySway commented on #1137
Closing the PR #2003 as it has been released in the latest version of the CLI (3.15.0)

[2019-10-18 00:17] #1137 closed

[2019-10-18 00:22] SwaySway commented on #2454
@divait I tried doing the same with this schema and I'm not able to reproduce it. Could you email us your project?
amplify-cli@amazon.com

[2019-10-18 00:23] jkeys-ecg-nmsu commented on #2533
Thank you! I think that's enough to write the CI/CD pipeline.

[2019-10-18 00:23] #2533 closed

[2019-10-18 00:26] houmark commented on #2600
There seems to be no workaround at this time. I'm also hoping this will be wired in all the way soon as it provides useful information for pagination etc. when using ES for listing/filtering.

[2019-10-18 00:28] SwaySway commented on #2468
@daannijkamp Yea it's a cloud formation limit that is 64 characters on the iam role name which is created for the lambda function.
Which is comprised of the following
- `functionName-GraphQLAPI_ID-Hash`

One option would be to remove the api id and that alone could be unique with the function name and the hash.

[2019-10-18 00:34] ianshea opened #2601 "Cannot add function with CRUD function for DynamoDB"
**Describe the bug**
When trying to add a function with the option "Use DynamoDB table configured in the current Amplify project" Amplify informs me "There are no DynamoDB resources configured in your project currently."

**To Reproduce**
Steps to reproduce the behavior:
1. $ `amplify add function`
2. Fill out details (use defaults for category & name)
3. Select CRUD function for Amazon DynamoDB t

[2019-10-18 00:40] kaustavghosh06 commented on #2601
@ianshea The tables which show up in that list are the DDB tables which are configured using the `amplify add storage` flow and not via the GraphQL transformer flow (with @model). Having said that, there's a PR out there - #2463

[2019-10-18 00:53] jkeys-ecg-nmsu commented on #2432
@kaustavghosh06 sorry, I missed that.

@blairtaylor maybe @kaustavghosh06 can weigh in on it, but here's my initial thoughts:

1. Rather than sending data to multiple endpoints, send all of your data to a single AppSync endpoint, then use Dynamo Streams to trigger lambdas that copy over the new records to the other databases. If you need to this be near real-time and don't get much traffic you can

[2019-10-18 02:48] CSHaze commented on #2595
@DavidNelsonCordelia
Thank you, I was having this problem and also getting
```? Select the backend providers. (Press <space> to select, <a> to toggle all, <i> to invert selection)```, with nothing after it (enter would exit), when running ```amplify config```. Reinstalled multiple times, nothing worked.

 ```amplify plugin scan``` fixed it.

[2019-10-18 03:02] jkeys-ecg-nmsu commented on #2595
Off-topic, but: the Amplify team could probably save themselves a lot of time responding to issues if there was a FAQ or How-To guide on remediating Amplify-managed CF stacks that are in an unhappy state. One of the major appeals of the Amplify CLI is that it builds and manages stacks for you so you can focus on development, but then when something goes wrong there's very little guidance on how to

[2019-10-18 03:11] jkeys-ecg-nmsu commented on #2584
@kaustavghosh06 If OP has a 43 model schema I doubt he'd be willing to share that publicly. Could you provide him an email to send the schemas?

@trupa7 maybe you're applications is extremely complex and needs that many models, but is there no way to denormalize your schema, remove nested models, etc. and overload models with indexes with the `@key` directive to support access patterns?

The only

[2019-10-18 03:16] DavidNelsonCordelia commented on #2595
after a amplify plugin scan and then list I get the output below.   I will do a new global install tomorrow

core: @aws-amplify/cli@3.15.0
{ packageName: '@aws-amplify/cli',
  packageVersion: '3.15.0',
  packageLocation:
   'C:\\Users\\nelson\\Documents\\code\\onlinecoop\\node_modules\\@aws-amplify\\cli\\',
  manifest:
   { name: 'core',
     type: 'core',
     commands:
      [ 'categories',

[2019-10-18 03:49] blairtaylor commented on #2432
@jkeys-ecg-nmsu thanks.

1. The scenario I was thinking of was more to do with populating what would be static tables in a sql database... list of cities/states/countries etc. A one time copy. Your use case is interesting though, thanks for the idea.

2. Yes this makes sense and is consistent with what we have experienced. Our main concern was making a schema change and losing data in production.

[2019-10-18 05:48] kmbro commented on #171
I'd love to see a cdk + amplify partnership/crossover/something in the near future. Love what has been said so far. Right now, I am starting another project and am going to use the cdk exclusively. I am finding I miss the way amplify made things easy for the initial setup of an app, specifically api + auth + lambda + dynamodb. If there were a few simple cdk stacks you could generate with amplify t

[2019-10-18 06:12] theslyone commented on #2453
@rgilks you need to add "apiprediraGraphQLAPIIdOutput" as a variable to the function-parameters.json and point it to your local graphql instance
e.g `"apifluxGraphQLAPIEndpointOutput": "http://localhost:20002/graphql"

[2019-10-18 07:48] jkeys-ecg-nmsu commented on #1479
@kaustavghosh06 @junejie that sounds different from the [behavior described here](https://github.com/aws-amplify/amplify-cli/issues/2533#issuecomment-543373674).

[2019-10-18 09:30] onerider commented on #2598
Thanks for the response, this got me further. However, I now need to filter on the products.

A real life use case would be "Give me all products where name contains 'computer' from the categories X and Y.

Would be awesome with an explanation on how to do this and I imagine this to be a very common use case so I'm surprised my googling is letting me down :)

[2019-10-18 13:05] sebsto opened #2604 "`amplify init` fails to ask providers. amplify CLI unusable"
**Describe the bug**
Using amplify CLI 3.15.0 on Mac OS, `amplify init` asks to select a cloud provider but proposes no option.

Consequences :
- all subsequent `amplify` command fails.
- `providers` section of config file is empty
[code]

- amplify-meta.json is not a valid JSON file
[code]

**To Reproduce**
[code]

**Expected behavior**
I should be able to initialize a project with CLI 3.15

**Sc

[2019-10-18 13:24] sebsto commented on #2604
Justed tested with a fresh React project, same behaviour.  This is not specific to iOS

[2019-10-18 13:32] sebsto commented on #2604
Revert back to version 3.0.0 is a workaround for me :
[code]

[code]

[2019-10-18 14:12] sebsto commented on #2604
Root cause is `awscloudformation` plugin is not activated.  CLI does not scan for plugin at startup.
Forcing a scan with

```amplify plugin scan```

solved the problem.

[2019-10-18 14:41] elgutierrez opened #2605 "User @model and Cognito"
** Which Category is your question related to? **
GraphQL

** What AWS Services are you utilizing? **
AppSync, Cognito

** Provide additional details e.g. code snippets **
I'm using the GraphQL API + Cognito and I'm trying to describe a model where I have something like this:

[code]

I want to be able to list all the users from an Organisation, get a User by Id, etc, using the GraphQL API. The th

[2019-10-18 14:44] sebsto commented on #2604
amplify plugin scan is run based on the last run timestamp. My guess is whatever verision you upgraded from had a different plugin file and since the timestamp was still valid it went forward without scanning. Suggestions to fix: Always run plugin scan on init of a new project, keep track of amplify verisions and on verision upgrade force a plugin scan again.

[2019-10-18 14:44] #2604 closed

[2019-10-18 14:45] rarira commented on #2454
I think it might not be reproducible.

I'd used version 1.12 and when I tried to update 3.15, I had same error.

So I tried to upgrade version one by one, and until version 3.2.0 there was no problem, but multi-auth was not working as expected.

3.2.0 to version 3.3.0 : there happened to be another error,
3.3.0 to version 3.4.0 : 'length' of undefined...

so I decided to go back to version 3.2.0 a

[2019-10-18 15:12] rpostulart commented on #2605
I created indeed a lambda function as a post confirmation trigger. What it does it sends the user ID to a dynamodb table. I also have been looking for other options, but if you want user data listed in your app this is your way.

[2019-10-18 15:28] ianshea commented on #2601
Good to know. Thanks! Will keep an eye out for the release.

[2019-10-18 15:31] nujhong opened #2606 "amplify mock failed to start when using @key directives"
**Describe the bug**
Hi there, I am getting the following error when running **amplify mock**: `Failed to start API Mock endpoint ValidationException: The number of attributes in key schema must match the number of attributesdefined in attribute definitions.`

**To Reproduce**

[code]

**Expected behavior**
Create two LSI and start AppSync Mock service.
The schema above should have met the [LSI re

[2019-10-18 15:34] RossWilliams commented on #2598
[code]

[code]

[2019-10-18 16:10] DavidNelsonCordelia commented on #2595
AI am on Windows 10.      A reinstall of "@aws-amplify/cli"  globally did not help.     I see i have it installed locally as well,    is that a problem?

[2019-10-18 16:20] DavidNelsonCordelia commented on #2595
A gloabl reinstall of "@aws-amplify/cli"   did not help.       When i do Amplify configure,   i get:

? Select the backend providers. (Press <space> to select, <a> to toggle all, <i> to invert selection)

and no providers are shown.

I am running on windows 10

[2019-10-18 17:46] UnleashedMind commented on #2595
@DavidNelsonCordelia
Could you get this file  `<root>\Users\<username>\.amplify\plugins.json` and send it over to us?
This is our email address: amplify-cli@amazon.com

did you use "npm" or "yarn" to install the Amplify CLI? are you running on Powershell or cmd.exe?

[2019-10-18 19:47] elgutierrez commented on #2605
@rpostulart Could you publish a gist explaining how did you insert it in a DynamoDB table? I added the Users table via `amplify add api` and it seems that I can't insert an item from Lambda if it was created that way

[2019-10-18 19:52] patrickridd commented on #82
I solved the issue by following @iqdev-ca  and @dipjyotimetia , but after installing aws-amplify/cli I deleted amplify from my directory and reinitialized. These were the exact steps

I ran the command that @dipjyotimetia suggested:

`npm i -g @aws-amplify/cli `

 I then deleted amplify by:

`amplify delete`

I then initialized amplify, added auth, and pushed:

`amplify init`
`amplify add auth`
`a

[2019-10-18 20:58] DavidNelsonCordelia commented on #2595
Here is the file.   I am using NPM in a cmd.exe (admin )

[plugins.zip](https://github.com/aws-amplify/amplify-cli/files/3745642/plugins.zip)

[2019-10-18 21:13] jkeys-ecg-nmsu commented on #1507
I'm closing this because (1) `@connection` workflow correctly adds authorization to resolvers if you change from the legacy fields to the `operations` field, and (2) the `@key` directive seems to be much more popular and makes it easier to have a smaller schema.

Feel free to re-open if you need this for tracking reasons

[2019-10-18 21:13] #1507 closed

[2019-10-18 21:40] meketadev commented on #2496
Hi @SwaySway, I am trying to use the AWS Appsync sdk https://aws-amplify.github.io/docs/js/api#aws-appsync-sdk to get the offline functionality in my angular/ionic project.  This is the section directly preceding the section you linked.  The documentation shows importing the generated queries and wrapping them with the imported gql tag.  Since I cannot import the queries this would not work in the

[2019-10-18 22:40] austinamorusocfc opened #2609 "How to get Origin header into lambda"
** Which Category is your question related to? **
Appsync resolver lambda

** What AWS Services are you utilizing? **
Appsync and lambda

** Provide additional details e.g. code snippets **
I would like to access the http origin header in the lambda. Our team would like to be able to differentiate in our lambda if a request is coming from dev.ourdomain.com or test.ourdomain.com

[2019-10-18 23:00] patspam commented on #2458
I got this too while trying to remove `Google reCaptcha Challenge`

[2019-10-19 00:48] UnleashedMind commented on #2596
@andrew-aernos
I reproduced what you reported here.
Initially I marked this issue as a bug, because from a developer's perspective, if type extension is supported, this shouldn't be the expected behavior.
However, the graphql.org [documentation](https://graphql.org/learn/schema/) does not have the specification for the keyword "extend".
And the JS reference implementation does not support it eithe

[2019-10-19 04:02] patspam commented on #1133
Please add this to the documentation, I got bitten by this too and it wasn't at all clear how to clear the cache.

[2019-10-19 05:13] aej11a opened #2610 "Change all GraphQL actions to batch"
*Is your feature request related to a problem? Please describe.*
In order to create, read, update, or delete **multiple** items in DDB with *one* GraphQL request, users need to define their own resolvers / schema to use DDB batch actions. This is a complex and confusing task, even admitted by @mikeparisstuff . It is definitely a barrier for anyone new to AWS, which seems to be a huge portion of Am

[2019-10-19 06:09] rpostulart commented on #2605
I create a function via amplify:

[code]

In the cloudformation-template.json of your function (in amplify > backend > function) add this statement to lambdaexecutionpolicy area:

[code]

[2019-10-19 06:21] jakobpack commented on #2599
@SwaySway Yes, there is!
I tried to put these values in `api/<API_NAME>/parameters.json`, but that didn't work

[2019-10-19 06:25] jakobpack commented on #2599
@UnleashedMind Doesn't work unfortunately..

[2019-10-19 07:42] juniarz commented on #2599
Try running ‘amplify init’

[2019-10-19 08:37] jakobpack commented on #2599
@juniarz That did something.. I'm now getting a different error:
`API key not found: <API_KEY> (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID: X)`

I've tried to set the `APIKeyExpirationEpoch` to `-1` in the `api/API/parameters.json` to get a new key, but that didn't work.
I'm now stuck with this error.

Not sure if the first error has something to do with that.

[2019-10-19 08:55] jakobpack commented on #2599
I've now removed the api via `amplify remove api` and re-added it.
It's working now.

[2019-10-19 08:55] #2599 closed

[2019-10-19 09:07] AlessandroAnnini opened #3860 "@searchable directive Elasticsearch costs"
** Which Category is your question related to? **
Appsync + Elasticsearch
** What AWS Services are you utilizing? **
Cognito + Appsync
** Provide additional details e.g. code snippets **
I am using `@searchable` directive on one or two appsync graphql nodes and used it a few times for a search query but my amazon bill is very high, this is the Elasticsearch detail for September:
![image](https://u

[2019-10-19 09:14] juniarz commented on #2599
Ahh sorry for the late response, you receive that error because CF is trying to remove the API key that was generated previously but could not be found because you changed the auth mode to IAM.

To resolve this issue in the future, all you have to do is:

1. Change auth mode back to API KEY
2. Amplify push
3. Change back to desired auth mode
4. Amplify push

[2019-10-19 17:57] ricardoribas commented on #2502
There is any estimation for the fix of this issue ?

[2019-10-19 19:48] mrcoles opened #2611 "Cannot get Amplify assets in Cloudfront to report x-cache: Hit from cloudfront"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

I cannot get Cloudfront to report a hit from Cloudfront for any of my static files, despite setting aggressive Cache-Control headers.

**Describe the bug**
A clear and concise description of what the bug is.

When I load this URL from my site, I am unable to ever

**To Reproduce**
*Steps to reproduce the