[2021-06-28 17:53] #2227 closed

[2021-06-28 17:53] #6034 closed

[2021-06-28 17:53] #1118 closed

[2021-06-28 17:53] #1695 closed

[2021-06-28 17:58] bacon1097 commented on #7624
Hi @josefaidt, I have indeed tried that also with no luck. Forgot to mention that in the initial issue.

[2021-06-28 18:14] edwardfoyle commented on #7623
Hi @ataibarkai, the CLI does not currently have a mechanism like `.gitignore`. I think the issue in this case is that the `.venv` directory contains symlinks which causes an error when the CLI tries to package the lambda for deployment. Is your `.venv` directory within the `src` folder in the function? Anything outside of the `src` folder should not be included when packaging the lambda function

[2021-06-28 18:48] edwardfoyle commented on #7626
Hi @yaquawa do you see any failures in the CloudWatch logs when running the backfill script?

[2021-06-28 18:53] niallotuathail opened #7631 "Project already removed from cloud fails to delete local files on `amplify delete`"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-06-28 19:04] cjihrig opened #7630 "Support `amplify verb noun` and `amplify noun verb` consistently."
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

No

### Describe the feature you'd like to request

For example, currently you can run `amplify env add`, but not `amplify add env`. However, `amplify add api` and `amplify api add` both work. We should make these consistent throughout the codebase.

### Describe the solution you'd l

[2021-06-28 19:04] edwardfoyle commented on #7624
@bacon1097 So far I have not been able to reproduce this. I used the schema and query that you specified above and observed results coming back sorted by createdAt. Can you paste a sample of what the createdAt values look like in your records?

[2021-06-28 19:15] #7622 closed

[2021-06-28 20:06] dankbl commented on #7606
Hi @josefaidt thanks for taking a look.

I just tried rolling back to 5.0.1 and got the same behavior.

Changes are:

- New post confirmation lambda with cognito-idp AdminUpdateUserAttributes and DynamoDB read permissions. The DynamoDB permissions caused a circular dependency and I added the `"breakCircularDependency": true` flag to `auth` which fixed the problem in the original env.
- Additional

[2021-06-28 20:41] josefaidt commented on #7606
Thank you for the details @dankbl! Can you confirm whether you have the following fields in your `amplify/backend/amplify-meta.json`? `auth.<auth-resource-name>.dependsOn` and for the values inside that key (if you do have it), values for `attributes`

For example, both of the properties noted above should be an array with triggers

[code]

[2021-06-28 21:09] hsspain commented on #7631
@niallotuathail I am transferring this to the amplify-cli group as they should be able to help you with this issue.

[2021-06-28 21:12] dankbl commented on #7606
That entry is there in the directory/environment `devsso` that pushed successfully, but not in the new dir/env that is not able to push `devtesttwo`.

devsso:
[code]

devtesttwo:
[code]

[2021-06-29 00:26] ammarkarachi commented on #7630
Ex: amplify env remove vs amplify add storage

[2021-06-29 02:53] attilah commented on #7564
We can walk through all the steps on Wednesday if you like, I was able to solve it from your exact situation. DM me.

[2021-06-29 11:35] ataibarkai opened #7632 "[Urgent] Cannot push at all: `An error occurred during the push operation: write EPIPE`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-06-29 12:51] nniirraavv commented on #3222
+1 for step functions with Amplify

[2021-06-29 14:00] danabrams commented on #7411
This must be an m1 issue, because I'm having the exact same behavior on an m1 with 5.0.2 on Node 16.4.0

[2021-06-29 15:49] bacon1097 commented on #7624
[code]

Produces:

[code]

[2021-06-29 15:50] bacon1097 commented on #7624
[code]

Produces:
[code]

[2021-06-29 16:18] josefaidt commented on #7606
Hey @dankbl thanks for the information! I was not able to reproduce the issue, however I believe we can restore the second environment to have this information in our amplify-meta.json file. Please try the following steps:

1. checkout the git branch with the new cognito trigger and corresponding amplify env
2. run `amplify env pull --restore`
3. run `amplify status`, ensure "no changes" is displa

[2021-06-29 17:29] josefaidt commented on #7411
Hey @danabrams thanks for the confirmation that you are also experiencing the issue with an M1. Do you perhaps have an Intel-based Mac you could try with to see if you're getting the same error with the same code? \cc @Rolando-Barbella

[2021-06-29 17:34] mrducky4 commented on #7469
I am also trying to get these lambda functions updated from runtime nodejs10.x. What is the workflow to get these lambda functions updated after I update my amplify cli version? I tried `amplify pull` then `amplify push` but it just says there are no changes detected and it doesn't do anything.

[2021-06-29 17:36] danabrams commented on #7411
I do but I am traveling with only my m1 until next week.

[2021-06-29 17:39] josefaidt commented on #7411
@danabrams No worries! I should be able to get ahold of someone with an M1 tomorrow to test it out and report back

[2021-06-29 17:45] edwardfoyle commented on #7631
Hi @niallotuathail I'll mark this as a feature request to skip the cloud deletion steps if already deleted. In the meantime, if you want to remove amplify from your local project you can run `rm -rf <project root>/amplify`

[2021-06-29 17:48] jhockett commented on #7469
@mrducky4 the Lambda functions will automatically update the node version when pushed with an update. You can add a comment or add a newline to your source code to trigger change detection. You can also bump the version listed in your Lambda function's `package.json` to achieve the same result.

[2021-06-29 17:49] #6799 closed

[2021-06-29 18:28] niallotuathail commented on #7631
Thanks Edward. Much appreciated.

[2021-06-29 18:36] akshbhu commented on #7469
Can you check whats your project version in ```amplify/.config.project-config.json?
amplify migration happens when you a push if project version is less than 3.1.

Also can you tell me what files in your project are currently on old nodejs runtime?

[2021-06-29 19:49] josefaidt commented on #6927
Hey @vivekvt :wave: I am currently unable to reproduce the issue on the most recent version of the CLI at the time of posting (5.0.2) as well as the previous version, 5.0.1. Are you still experiencing this issue, and if so can you try with the latest version of the CLI (creating analytics resource, adding notifications, removing analytics and updating existing notifications)?

[2021-06-29 19:51] josefaidt commented on #7476
Hey @alessandromoscato just wanted to follow up on this issue and see if you are still experiencing it on the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.0.2)?

[2021-06-29 20:07] jollyjunkaih commented on #5542
Hi, can someone explain to me what this means practically (like which part of my mutations should i change to get my subscription to return items instead of null)

Thanks

[2021-06-29 20:07] josefaidt commented on #7388
Hey @bmvdeveloper sorry to ask again but may you try re-sending your information in a zip file? I haven't seen the mail come through, assuming you've had a chance to send it. If not, no worries! I'll be sure to keep an eye out.

[2021-06-29 20:11] edwardfoyle commented on #7632
Hi @ataibarkai, when the push was succeeding before, were you in the US / geographically closer to the AWS region you were pushing to? It could be that low upload speeds coupled with being further from the deployment region is causing timeouts

[2021-06-29 20:46] mrducky4 commented on #7469
@jhockett what source code? These lambda functions are created by amplify and I have no idea what they do. The two function names are:

- amplify-<project name>-UserPoolClientLambda-<some code>
- amplify-<project name>-UpdateRolesWithIDPFuncti-<some code>

These functions seem to be associated with my Auth resource that uses a Cognito user pool. From cloudwatch logs, it seems like these functions

[2021-06-29 20:54] mrducky4 commented on #7469
@akshbhu my project-config.json has version 3.1. amplify-cli updated this, as the version that is committed in my repo is 3.0.

I don't know about "what files in my project are on the old runtime".  All I know is the lambda function names, see my previous comment, which are also the same as the functions in the original post that started this issue.

Thank you for helping.

[2021-06-29 20:55] SwaySway commented on #7406
Closing issue due to lack of response. If you are still experiencing this issue please comment below to re-open.

[2021-06-29 20:55] #7406 closed

[2021-06-29 21:06] edwardfoyle commented on #7628
Hi @yaquawa currently the only way to do this is to modify the cloudformation template that the CLI generates. You can copy the `SearchableStack.json` from `<project root>/amplify/backend/api/<api name>/build/stacks/SearchableStack.json` to `<project root>/amplify/backend/api/<api name>/stacks/SearchableStack.json` (copy it out of the build directory). Then you can update the ElasticsearchVersion

[2021-06-29 21:06] #7628 closed

[2021-06-29 21:09] rpostulart opened #7634 "Multiple filters"
HELP! Does someone have experience where you can filter an appsync query and combine different filters.

For example:

type Product
@model
{
name
color
price
theme
category
size
....
}

I want to filter on these fields and also on all possible  combinations. With secondary indexes I have reached the limit of 20 indexes, so that is not the solution :disappointed:

It need goes over 6000 product ite

[2021-06-29 21:23] edwardfoyle commented on #7634
For complex query patterns, take a look at the @searchable directive: https://docs.amplify.aws/cli/graphql-transformer/searchable

[2021-06-29 21:45] bmvdeveloper commented on #7388
yep resending right now! thank you

[2021-06-29 21:49] bmvdeveloper commented on #7388
I sent the information again please let me know if your team did not receive it, thank you again :)

[2021-06-29 21:56] alessandromoscato commented on #7476
Hi @josefaidt, sorry for the late response. I have upgraded to the new CLI about a couple of weeks ago and the issue didn't happen for a while. Unfortunately, yesterday it occurred again.

To answer your question above, no changes were done outside Amplify in between local changes. Let me add two more info though:

1. Not sure if this is relevant but all my Lambda functions are inside a VPC. To al

[2021-06-30 00:29] ataibarkai commented on #7632
@edwardfoyle thanks for the reply.

I can't remember if I tried and succeeded to push from outside the US this time around.

But even if this is indeed the root cause, surely there is something that can be done? My upload speeds aren't blazing fast -- but they are not exceptionally slow either.
Perhaps increasing the upload timeout window?

This issue is throwing *significant* wrenches at me as it

[2021-06-30 01:54] ataibarkai commented on #7632
@edwardfoyle I think we can rule out the 'outside the US/ slow connection' theory.

I've tried pushing again, this time using a US-based VPN. Speedtest.net measures 20.6Mbps down, and 3.8Mbps up to the East Coast. I'm getting the same EPIPE failure.

What else could be causing this? Is there a way to explicitly debug the issue and trace its origin?

Another potentially relevant datapoint is that t

[2021-06-30 02:02] ataibarkai commented on #7632
Thinking out loud:
The amplify logs show the following error:
[code]

A google search brings up [this S3 help page](https://aws.amazon.com/premiumsupport/knowledge-center/s3-socket-connection-timeout-error/), which suggests "The number of bytes set in the "Content-Length" header is less than the actual file size" as a possible cause.

Is it possible the amplify cli indeed sets the wrong content le

[2021-06-30 03:06] naveenkoduri commented on #7543
ok. I might be behind proxy on my work laptop, but, not sure why push works sometimes. I pulled my app on my mac and it was failing with error saying authRoleName is not passed to the stack. Looking at generated stacks, it appears the AuthRoleName in root stack is not passed as parameter to the child stack. I tried multiple thinks with no luck like updating parameters.json, etc

I ended up creatin

[2021-06-30 03:21] rpostulart commented on #7634
Ok so it is only possible with an additional service?

[2021-06-30 04:47] sinedie commented on #5691
Hey there. Im using svelte kit with amplify. This error happens to me when I have already created `aws-exports.js`. When I delete it everything goes fine. I can do it manually when doing a change to the backend locally, but when using the hosting CI/CD I can not. Is there a workaround for this?, I just need to update my frontend, should be a simple node app (that build to static) and dont even nee

[2021-06-30 12:52] josefaidt commented on #7388
Hey @bmvdeveloper thank you for resending, I received it and will be taking a look at it today!

[2021-06-30 14:25] loganpowell commented on #4155
Thank you for sharing this. It seems that mocking isn't fully supported for DataStore yet. I'll keep my 👀 on this issue.

[2021-06-30 16:38] josefaidt opened #7635 "Standardize use of whitespace, tab width in generated template files"
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Some auto-generated files include extraneous whitespace, and in some cases tab width is different across files (typically 2 and 4 spaces)

Example 1 (whitespace): CloudFormation YML Snippet

[code]

Example 2 (tab width =

[2021-06-30 17:51] siegerts commented on #7635
Related to https://github.com/aws-amplify/amplify-cli/issues/391

[2021-06-30 18:00] josefaidt commented on #7411
@danabrams @Rolando-Barbella :wave: what version and distribution of Java are y'all using? Java does not appear to be officially supported and I've seen a few "workaround" distros like Azul's, and I'm curious to hear what y'all are using so we can best emulate the environment.

[2021-06-30 19:11] josefaidt commented on #7624
Hey @bacon1097 are you also seeing this issue if you run the query in the AppSync Console or is it only when mocking locally?

[2021-06-30 19:16] zzBrunoBrito opened #7637 "Error: Parameters: [s3Key, deploymentBucketName] must have values"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Amplify cli

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
5.0.2

**What AWS Services are you utilizing?**
Amplify, lambda, dynamoDB

Suddenly when I try to amplify push, I'm getting this error " Parameters: [s3

[2021-06-30 20:00] wizage commented on #7614
Are these hooks going to be available also to CLI plugins?

I.E. Exposed through the amplify-plugin.json

What I sort of discussed with @edwardfoyle

[2021-06-30 20:11] josefaidt commented on #7476
Hey @alessandromoscato thank you for the details!

I believe this _may_ be causing the drift but I have not been able to reproduce. A couple of follow-up questions:

- are there multiple Lambda Layers in the project where a Lambda may be connected to both layers?
- are the changes made to the Lambda's cloudformation template mimicking what has been performed in the console?
- have you noticed any

[2021-06-30 20:14] edwardfoyle commented on #7632
Hi @ataibarkai I was able to reproduce the error by simulating a slow network (Down:280kbit/s Up:256kbit/s RTT:400ms). I agree a slow ping or slow upload speed should not cause the push to fail (but it might take a while). We will investigate what we can do in this case

[2021-06-30 20:22] bacon1097 commented on #7624
Hi @josefaidt, I am only seeing it when locally mocking so far. Just tested the AppSync Console and it seems fine there.

createdAt timestamp in the AppSync console is the same format as local versions e.g. 2021-06-30T20:20:07.920Z

[2021-06-30 21:06] Rolando-Barbella commented on #7411
Hello @josefaidt sorry for the late reply, when I run `Java --version` I get the following:

[code]

[2021-06-30 21:43] dankbl commented on #7606
Thank you for the ideas @josefaidt , but I got the same result `Cannot read property 'forEach' of undefined` at the same stage of the amplify push in step 6. The `dependsOn` for `auth` is also not present in `amplify/backend/amplify-meta.json` like in my previous attempt:
[code]
Another note - after the `pull --restore` in step 2 amplify completely deleted the file `amplify/backend/api/APIGatewayA

[2021-06-30 22:02] josefaidt commented on #7411
Hey @Rolando-Barbella thank you for the info! We were able to reproduce the issue with a slightly newer version of openjdk on an M1 Mac, although we do not see the timeout error. I'll mark this as a bug 🙂

Notes for the team:

- Java version
[code]
- no timeout error
- no codegen message
- `amplify/mock-data/dynamodb` directory is created, but not the *.db file
- ports 20003 and 20002 are in use,

[2021-06-30 22:49] edwardfoyle commented on #7632
After further investigation, I still have not been able to get the upload to succeed. I have tried:
1. increasing the idle timeout
2. Increasing the number of retries
3. decreasing the multipart queue size to 1 (effectively serializing the upload rather than uploading chunks in parallel)

All of these tweaks still resulted in the timeout error. There may still be some magical client configuration

[2021-06-30 23:22] jgroom33 commented on #5542
For me, I resolved the null issue by removing `(owner: $owner)` and `($owner: String)` from src/graphql/subscriptions.js

However, my use case executes the mutation using an API key.  In that scenario, the the mutation is not passing the owner prop.

[2021-07-01 02:10] jonathan-sjkim opened #7638 "Adding analytics in amplify push to wrong region(us-west-2)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-01 03:34] brymartinez commented on #3390
Here's what I did to add the Custom Authorizer to the API's CloudFormation template.

It's worth noting that `AdminQueries` has COGNITO_USER_POOLS Authorizer, so I copy-pasted parts of the template there.

Add `securityDefinitions` to your API name properties ( `Resources > <API name> > Properties` )

Example:
[code]

This defines the Custom Authorizer called "Cognito" that's based on your user po

[2021-07-01 06:57] mjza opened #7639 "Crash when try to push"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-01 07:53] fgiopp opened #7640 "when checkout env: ERROR: No CloudFormation template found at /Users/xxxx/xxxxxx/amplify/#current-cloud-backend/function/newfunctionslayer/newfunctionslayer-awscloudformation-template.json"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-01 08:51] mjza commented on #7639
I tested with my windows machine too, it is almost 30 minutes that it shows `Uploading files...` but nothing happen afterwards.

[2021-07-01 10:37] mjza commented on #7639
After several failed tries, I could finally push via my Windows machine.

[2021-07-01 11:37] mrducky4 commented on #7469
Can anybody tell me if these lambda functions that amplify creates have any use after initial deployment? Is it even worth it to try to upgrade the nodejs runtime? Is it safe to just update the runtime version in the AWS Lambda Console?

- `amplify-<project name>-UserPoolClientLambda-<some code>`
- `amplify-<project name>-UpdateRolesWithIDPFuncti-<some code>`

Thanks for any additional guidance yo

[2021-07-01 13:16] mansdahlstrom1 commented on #7431
Hi again!

Just took another look at this and not sure if i should put more info the RFCs. I'm stil not sure that deny-by-default is the right "folder" to put this in.

Deny by default as i understand it is the following:
[code]

The issue here is what i put in the TLDR in the description

So in my case it seems like the the top model blocks any requests at an IAM level, before the VTL Kicks in.

[2021-07-01 13:26] cfbo commented on #1269
This is still happening. Any news?

[2021-07-01 13:40] cfbo opened #7641 "amplify env remove does not remove lambda layer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-01 13:59] Rolando-Barbella commented on #7411
@josefaidt  So glad you managed to reproduce it, M1 machines sometimes can be particular, not the first time I have reported an issue related to some tool, library, and my M1, but I think every day more people are owning this type of new model

[2021-07-01 14:04] paolo573 opened #7642 "Headless `amplify init` fails after upgrading the CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-01 14:29] arturocanalda commented on #4772
+1

[2021-07-01 16:00] edwardfoyle commented on #7639
@mjza, how large is the zip of your #current-cloud-backend directory? And do you have any large lambda functions? (You can check the size of the `latest-build.zip` file in the function `dist` directory).

[2021-07-01 16:01] josefaidt commented on #7642
Hey @paolo573 :wave: thanks for raising this. I'm unable to reproduce this with the provided Dockerfile and a small init script using the same parameters. It appears this error is coming from an invalid AWS configuration, can you verify the `accessKeyId` and `secretAccessKey` are valid?

[2021-07-01 16:21] realityworks commented on #7430
Same here... had to revert and add the resources manually with the full ARN reference.

[2021-07-01 16:51] paolo573 commented on #7642
Thanks for the quick reply @josefaidt,

The error didn't say which part of the config was invalid, so thank you for confirming it means the AWS credentials.

We are using the following AWS Managed Policies:
- AmazonEC2FullAccess
- AWSLambdaVPCAccessExecutionRole
- AdministratorAccess-Amplify

And a customer managed policy:
[code]

[2021-07-01 17:14] #7634 closed

[2021-07-01 17:15] edwardfoyle commented on #7637
Hi @zzBrunoBrito do you see values for those parameters in your `team-provider-info.json` file, within the respective function blocks?

[2021-07-01 17:40] edwardfoyle commented on #7640
Hi @fgiopp, on the last step, can you try passing in the `--restore` flag and see if that allows you to check out the other environment successfully? ie `amplify env checkout test --restore`

[2021-07-01 17:43] edwardfoyle commented on #7641
Hi @cfbo, do you know what version of the CLI you used to create the Lambda layer? If it was created with CLI version >= 5.0.0, the layer should be removed automatically. If it was created with an earlier version of the CLI, for now you'll have to manually remove the deleted layer version from the cloud.

[2021-07-01 17:47] edwardfoyle commented on #7638
Closing as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/1965

[2021-07-01 17:47] #7638 closed

[2021-07-01 18:04] zzBrunoBrito commented on #7637
Hey @edwardfoyle, I could fix it now but indeed I could not see values for those parameters on the team-provider-info.json file. The weird thing about it is that I saw on my git history that those parameters were never there and yet I could do amplify push normally, it seems that it suddenly became required. More weird than that was my fix: I notice that if I updated a function, amplify create the

[2021-07-01 18:56] Bentheburrito commented on #5202
Hi all, I'm new to the Amplify CLI, and I'd like to take this issue up. :slightly_smiling_face:

[2021-07-01 18:58] thathurtabit opened #7645 "Connect a Cognito user with an AppSync type"
This is a continuation of https://github.com/aws-amplify/amplify-cli/issues/1313 which was closed and locked without guidance on how to complete this task with Amplify.

I'd preface this with acknowledging I'm new to Amplify (and general stitching together of AWS services), so I'm sure I'm missing something simple somewhere in docs.

To reiterate the question - after using something like `Amplify

[2021-07-01 19:07] cjihrig commented on #5202
Thanks @Bentheburrito. I've assigned the issue to you.

[2021-07-01 19:12] lambda0xff commented on #5832
When trying to `amplify pull` I get "Amplify service is not available in the region eu-west-3. Failed to pull the backend. Amplify service is not available in the region eu-west-3"

Shouldn't this issue be reopened ? And also, maybe the docs should make it clear that the CLI is not available for all regions ?  Could have saved me some time ...

[2021-07-01 19:14] lambda0xff opened #7646 "Not available for eu-west-3"
When trying to `amplify pull` I get "Amplify service is not available in the region eu-west-3. Failed to pull the backend. Amplify service is not available in the region eu-west-3"

This is to re-open #5832

[2021-07-01 20:27] cjihrig commented on #7642
I am also unable to reproduce this issue on v5.0.2 of the CLI. It looks like you are using temporary credentials (`"accessKeyId":"ASIA***"`) - is there any chance those have expired?

I'm attaching a runnable script for reproduction isssues.

<details>
CLI="amplify"

AMPLIFY="{\
\"projectName\":\"myProject\",\
\"envName\":\"qa\",\
\"defaultEditor\":\"none\"\
}"

FRONTEND="{\
\"frontend\":\"javascr

[2021-07-01 20:38] edwardfoyle commented on #7645
Hi @thathurtabit, it sounds like what you're looking for is [owner based auth rules](https://docs.amplify.aws/cli/graphql-transformer/auth#owner-authorization). Using the @auth directive in your GraphQL model will generate additional resolver logic and add an "owner" field to the model. We don't have a directive like @user to directly link a Cognito user and a schema type together

[2021-07-01 20:42] edwardfoyle commented on #7646
Looks like that other issue shouldn't have been closed. Reopening that one and closing this one. Thanks for resurfacing this!

[2021-07-01 20:42] #7646 closed

[2021-07-01 20:55] cjihrig commented on #7642
I was just able to reproduce this by using temporary credentials. Labeling this as a bug. As a temporary workaround, please try using a normal access key.

[2021-07-01 21:01] thathurtabit commented on #7645
Ah thanks @edwardfoyle ! That sounds promising 👍 I'll give that a go and close this shortly.

[2021-07-01 21:05] macsj200 commented on #4568
I also found that the auth email is not being sent after setting the FF to true.

[2021-07-01 21:16] paolo573 commented on #7642
@cjihrig thanks for working to reproduce this

In regards to your temporary workaround suggestion: appreciate it but am wondering how long a fix will take, so we can decide on whether to attempt a rollback (can we push a stack with 4.44.2 after `amplify push`ing from 5.0.2? I had pushed manually in nonprod envs to see if the app worked after the upgrade)

This is running in an ephemeral CI pipelin

[2021-07-01 21:17] paolo573 commented on #7642
No chance - this pipeline was working fine, even in a merge-to-master/deploy pipeline that ran 20 minutes before we started the upgrade branch

[2021-07-01 22:26] akshbhu commented on #4568
Hey Guys I am looking into this  and reopening this issue for this bug.

[2021-07-01 23:36] macsj200 commented on #4568
@akshbhu thank you! I tried `amplify pull` after setting the verify attribute to `Email` and it didn't pick up a diff. I'm not sure which CloudFormation template values control this field but it doesn't seem to be in sync anymore.

[2021-07-02 02:49] ayhoung opened #7648 "Syntactically incorrect schema gets pushed to amplify and irreversibly corrupts entire project"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-02 05:05] fgiopp commented on #7640
I have noticed that despite the Error, the checkout to the environment (TEST) was like almost complete. So, I was able to push TEST. After that I checkout back to SVIL and then finally again to TEST, this time without the Error.

[2021-07-02 06:28] AyazAI commented on #6128
Getting the same error

[2021-07-02 08:29] realityworks commented on #7430
@luhanamz we need an urgent fix on this. :/

[2021-07-02 08:37] kymmeh commented on #7500
@renebrandel @jhockett Is there going to be a response to this? I think the only safe solution for my project is to move away from AWS despite all of the time I've put it. Various features seem to be "in flux" which is creating far too much risk. This is hugely disappointing.

[2021-07-02 09:01] realityworks commented on #7430
Update to 5.1.0, still have the same issue.

[2021-07-02 10:51] realityworks commented on #7430
The problem ended up being the following format in the **lambdaExecutionPolicy** of the cloud formation policy >

[code]

[2021-07-02 11:08] cfbo opened #7649 "privacy.authRoleName and privacy.unAuthRoleName in api-params.json (REST api) are environment specific"
Hi @ksokol

We are using multiple environments and each time we create a new one, I find myself manually updating privacy.authRoleName and privacy.unAuthRoleName in api-params.json in order to match the new env.

If I run `amplify api update`
![image](https://user-images.githubusercontent.com/7568421/124266939-e8c76d00-db37-11eb-8052-bcf805ba232a.png)

I get the following changes:
![image](https:/

[2021-07-02 14:17] josefaidt commented on #7624
Hey @bacon1097 I re-tested this in Windows 10 with changing `createdAt` types in between creating records to no avail. Are you still seeing this issue after removing the `amplify/mock-data` directory and recreating the records? Is this sorting issue affecting other models as well?

[2021-07-02 14:53] cfbo commented on #7641
Hi @edwardfoyle, thanks for your answer. It is pretty likely that it was created with a version older than 5.0.0 because it was created few weeks ago and I suppose 5.0.0 was released later than that.
So, does this mean that in our case, when creating new envs and then removing them, it will keep not to delete layers? If that's the case, do you suggest to re-create the layer from scratch so that th

[2021-07-02 15:56] renebrandel commented on #7500
hi @kymmeh - sorry for dropping the ball on this. We're still in the process of reproducing this.

[2021-07-02 17:26] edwardfoyle commented on #7648
Hi @ayhoung can you check the contents of your GraphQL schema in your deployment bucket:
1. In your local project, navigate to `<project root>/amplify/backend/api/<api name>/build/parameters.json` and find the `S3DeploymentRootKey` value (you'll need this in a later step)
2. Navigate to the S3 console [here](https://s3.console.aws.amazon.com/s3/home)
3. Search for the deployment bucket for your pr

[2021-07-02 17:37] matthew-valenti opened #7652 "amplify codegen types creates blank file"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-02 17:53] edwardfoyle commented on #7637
@zzBrunoBrito Glad you were able to get this fixed, but sorry it was such a tedious process! Did you recently upgrade your Amplify CLI version? We made a change related to those parameters a few months ago. It should have automatically populated those values but if you ran `amplify push --force` that may have caused Amplify to try to push functions that didn't have changes which could cause this i

[2021-07-02 18:17] zzBrunoBrito commented on #7637
Yes I did upgrade it recently. I was using a very old version and upgraded to the latest version. Thanks for the clarification!

[2021-07-02 18:57] edwardfoyle commented on #4386
Based on discussion in https://github.com/aws-amplify/amplify-cli/pull/4394, closing this as a wontfix

[2021-07-02 18:57] #4386 closed

[2021-07-02 19:27] edwardfoyle commented on #7430
The latest version of the CLI (5.1.0) has a fix for `StreamArn` being removed from the `dependsOn` block when updating the function permissions.

@realityworks I'm unable to reproduce the issue you're seeing with 5.1.0. What does the function block within the `backend-config.json` file in your project look like?

[2021-07-02 20:08] josefaidt commented on #7500
Hey @kymmeh :wave: I'm actively working through reproducing this issue, but in the mean time could you send your project's `/amplify` folder as a ZIP archive to amplify-cli@amazon.com ?

[2021-07-02 20:12] hackrx commented on #1865
We want this feature, any update on this?, from AWS amplify developer teams.
Thanks.

[2021-07-02 20:34] josefaidt commented on #7606
Thanks for the information @dankbl! On the environment we're looking to update are you seeing the new postconfirmation trigger and corresponding files get added with the merge? If so, can we try running `amplify update auth` and walking through the steps to enable the trigger using the existing lambda?

[2021-07-02 20:41] attilah commented on #7261
@pagameba I got back to this issue Today and when rebased my branch noticed some changes in the code, verified and this issue is already fixed, connected to a different bug report in PR: https://github.com/aws-amplify/amplify-cli/pull/7419 since 4.51.2 so if you try the latest CLI it will be fixed.

[2021-07-02 20:41] #7261 closed

[2021-07-02 21:07] brennanMKE opened #7654 "Install with npm is failing due to not finding cdk which does exist"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-02 21:13] edwardfoyle commented on #7654
@brennanMKE npm install is working for me. Some things you can try:
1. `sudo npm i -g @aws-amplify/cli` -- in general `sudo npm install ...` isn't recommended, but depending on how you have npm configured it's sometimes necessary
2. Check that the global installation location is owned by the current system user. The global installation location can be found using `npm root -g`
3. As a last resort,

[2021-07-02 21:28] brennanMKE commented on #7654
In my `~/.npmrc` I have just 1 line.

[code]

I never run `npm` with `sudo` since it should have access to install files in `~/.npm-global` which I have added to my `PATH`. I've updated the latest version of `node` already. I also ran `npm -g cache clean --force` and `npm cache clean --force` and tried the install again. It keeps failing with the same error.

Why is this `chmod` command failing wi

[2021-07-02 21:46] edwardfoyle commented on #7649
Hi @cfbo those values are not used by the CLI anymore and can safely be removed. The auth and unauth role names are injected into the CloudFormation templates at push time based on the current environment.

[2021-07-02 21:46] #7649 closed

[2021-07-02 21:51] yuth commented on #7399
This is by design. If the admin query is not restricted with a group and anyone can access the APIs  it goes against the best practice.

[2021-07-02 21:51] #7399 closed

[2021-07-02 21:53] Bentheburrito commented on #7630
Hello, I'd like to try to implement this :slightly_smiling_face:

[2021-07-02 22:13] mandeepsingh-private opened #7655 "@versioned is suppose to keep old record"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-03 08:22] houmark commented on #7546
I feel like count of total items returned by a search query should also be part of this RFC. It's a very large limitation and constantly requested.

[2021-07-03 08:53] ayhoung commented on #7648
@edwardfoyle unfortunately I've already deleted the environment. i'll see if I can recreate it when I have time

[2021-07-03 08:53] #7648 closed

[2021-07-03 10:20] #7645 closed

[2021-07-03 13:16] catherine-augustine opened #7656 "amplify push throws "The "path" argument must be of type string." error"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-03 15:50] arunsainihostmi opened #7657 ""or" operator behaving as "and" operator"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-03 18:26] yammesicka opened #7658 "Amplify creates two GSIs instead of one LSI?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**: Amplify, GraphQL Schema, DynamoDB GSI / LSI
**Amplify CLI Version**: 5.1.0
**What AWS Services are you utilizing?**: DynamoDB, AppSync

Hi everyone, thank you for creating this framework.
I'm trying to use the `@key` directive to create indexes in DynamoDB, and

[2021-07-03 21:58] bacon1097 commented on #7624
Hi @josefaidt, looks like deleting the mock directory and recreating the records worked. Sorting works as expected now.

[2021-07-03 21:58] #7624 closed

[2021-07-03 21:59] bacon1097 commented on #7624
Potentially a warning or defect still available here? To alert people that recreating the mock records is required when adding a sort key to a model.

[2021-07-04 09:28] pha6d opened #7659 "auth cognito trigger conflict with email verification settings"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-04 10:44] nathanagez commented on #2384
Any updates on this request ?

[2021-07-04 15:53] kymmeh commented on #7500
Thanks. I've sent this across.

[2021-07-04 17:11] droidgeek1 commented on #4568
@sananbintahir  Thank you. I also had to same.
@akshbhu When would this be fixed? I also got charged for SMS when in fact I do not want to use SMS. But the bug has SMS selected on the web-console. It does not let me de-select.

[2021-07-04 17:12] droidgeek1 commented on #4568
@sananbintahir wondering if you use SMS and if not, were you able to disable on the console?

[2021-07-04 23:28] MedNabilEssefaihi opened #7660 "WebSocket connection failed"
Dear There,

I am using React app with DynamDB with GrapgQL Api and Have some Subscrption methods.
When ever I reload the page I get this error:

![2222](https://user-images.githubusercontent.com/74948380/124402367-bd0ad980-dd27-11eb-883c-f63d0056734a.png)

Why I get this error ?

[2021-07-05 05:58] mattfysh commented on #7009
Actually - does anyone know if the `docker-compose.yml::secrets` field is actually working? I know that I need to run `amplify push` _without_ `-yes` ... and I get a prompt, asking if I'd like to upload secret. I choose yes, and the secret is uploaded... but now it's not being wired into my container

[2021-07-05 06:15] mattfysh opened #7661 "Serverless container secret is created but not injected"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-05 06:16] mattfysh commented on #7009
Ran a test using the secrets documentation (linked above) and verified that this feature is not working. Bug has been created here: https://github.com/aws-amplify/amplify-cli/issues/7661

[2021-07-05 06:36] mattfysh commented on #7661
I'm attempting a workaround by hard-coding the secret name, and using the SecretsManager API to retrieve the secret... but I'm not sure this will work either as the container role policy may not have enough permissions to retrieve the secret

[2021-07-05 06:38] sananbintahir commented on #4568
@droidgeek1 It's enabled for me too, but I want to use SMS anyways so it's not a problem

[2021-07-05 06:41] mattfysh commented on #7661
Yep that failed...

[code]

Guess I will just hard code my secrets into the code repo for now, need to keep moving. I will say though - if you're going to add secret management functionality to Amplify, don't half-ass it. Developers are going to be understandably anxious about how the framework handles secrets and will want to have trust that if secrets-related functionality is being included and

[2021-07-05 06:51] studpeps opened #7662 "\n not being recognized for Windows"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-05 07:30] mjza commented on #7639
Where can I find that `dist` folder?

[2021-07-05 07:53] mjza commented on #7639
@edwardfoyle Anyway just for your information: I updated the amplify and now on the mac also when I try to push it does not disconnect the Internet.

[2021-07-05 08:32] cfbo commented on #7649
Hi @edwardfoyle,

Thanks for your reply. Based on that, I have proceed with the removal on such values:
![image](https://user-images.githubusercontent.com/7568421/124441535-0edd4f00-dd7c-11eb-8342-777c07cde063.png)

If I got it wrong, please let me know. Otherwise thanks again for your kind help.

[2021-07-05 08:38] arunsainihostmi commented on #7657
The issue was the query structure, it is working this way:

query MyQuery {
  listUsers(filter: {or: [{firstName: {eq: "Arun"}}, {lastName: {eq: "Saini"}}]  }) {
    items {
      email
      firstName
      lastName
    }
  }
}

[2021-07-05 08:41] #7657 closed

[2021-07-05 09:55] narciso-dev commented on #392
+1

[2021-07-05 12:51] dorontal opened #7668 "Email with confirmation code does not get sent out (as it used to) when calling `Auth.signUp()` with email-only Cognito setup"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-07-05 17:26] danabrams commented on #7411
I can report that on the m1 machine, using openjdk-18 Aarch64 suffers the same problem, but running `amplify mock` on an m1 with openjdk-16 x64 under rosetta does successfully mock.

[2021-07-05 17:37] studpeps commented on #7635
Hey team,
I am Stuti, happy to enter into the open-source world
I would like to take this issue up 😃

[2021-07-05 20:46] dorontal opened #7666 "Amplify Auth signup flow, account creation -- Impossible to set up email-only verification"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-05 22:25] BruceWheaton commented on #4341
Just hit this problem, at the tail-end of working out why my post confirmation (add to group) trigger is not being added to the pool, and does not have correct policies. Any connection to this problem or co-incidence?

[2021-07-05 22:29] ctjlewis commented on #4341
@BruceWheaton It's totally possible it's related to this issue. The team should be merging #7219 shortly, which should resolve this for everyone, including @SalahAdDin.

cc @renebrandel

[2021-07-06 05:36] connor4312 commented on #7614
Bash may not be present for Windows users. I suggest, for a given `<hook-name>` the following:

- On posix, look for the file `amplify/backend/hooks/<hook-name>`. Given it's executable, executable directly.
   -  For convenience you may also look for `amplify/backend/hooks/<hook-name>.sh`, though using a shebang is pretty common.
- On windows, look for any file `amplify/backend/hooks/<hook-name>.<

[2021-07-06 05:44] connor4312 commented on #7478
Looks good overall, I think that works for me. Feel free to close this issue if there's nothing outstanding you'd like to do otherwise.

[2021-07-06 05:53] watilde commented on #7425
@SwaySway I heard the same issue with this thread and could reproduce the issue with the current master. Let me share its log that describes how to reproduce: https://gist.github.com/watilde/5fdc6cb3452fcec2ec94f67262035dd5

[2021-07-06 06:46] frank-unovica opened #7667 "allow lambda function to call itself"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

There is no need to restrict available function access permissions to only other functions than itself.
The use case for a lambda to call itself is to run in parallel or sequence (bypass memory/time restrictions).

### Describ

[2021-07-06 06:52] frank-unovica commented on #7667
Of course a warning would be in order since an accidentally infinite invocation can only be stopped by deleting the function.

[2021-07-06 08:55] #7641 closed

[2021-07-06 08:55] cfbo commented on #7641
I am closing the issue because it seems that with version >5.0.0 the lambda layer is working fine now

[2021-07-06 11:25] dorontal commented on #7666
I noticed that if you do
    `amplify init`
followed by
    `amplify add api`
where you set-up both IAM and Cognito auth (email-verification) - this is step (1) above in the section titled 'Reproduction Steps' - then the email gets sent out and all works as expected. The 'email' is checked for verification in the Cognito console.

But if you follow the above with an `amplify auth update` - this is

[2021-07-06 12:13] pagameba commented on #7261
Awesome, thanks for the update.  Can confirm that this does solve our problem, great work :)

[2021-07-06 14:35] askurat commented on #6128
I submitted a ticket to AWS on this issue. The response was to either use pagination, which I am already doing, or use a custom Lambda function for the resolver, which I was really hoping to avoid in my case.

[2021-07-06 15:23] dorontal commented on #7666
**Update: Workaround found!**

At this point I have (a) confirmed that indeed it was the second auth CLI setup command above `amplify auth update` that has caused this issue.

I also found out that reverting back to an older version of the Amplify CLI is a temporary workaround that no longer creates this issue. Using:

    `Amplify version 4.47.1`

temporarily solves the problems here - i.e. the c

[2021-07-06 15:38] cfbo opened #7669 "obsolete auth instance not removed from remote env"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-06 16:40] swaminator commented on #186
The Amplify console just released a way so that you can autogenerate the aws-exports file at build time without checking it into your git repo: https://docs.aws.amazon.com/amplify/latest/userguide/amplify-config-autogeneration.html

[2021-07-06 16:40] #186 closed

[2021-07-06 16:45] swaminator commented on #3550
The UI team is mocking out the changes required in the exports file. For example, something like this would be ideal:
[code]

[2021-07-06 16:54] ericclemmons commented on #3550
As @swaminator mentioned, we discovered an example of additional information that the backend gets configured with that the UI could use to enhance the experience:

To keep a running tally:

1. Login Mechanism(s)

    Until this is added, the Authenticator needs to be manually configured to show the right `Email/Phone/Username` label/input.

    Once this is added, the Authenticator would be zero-

[2021-07-06 17:04] kaustavghosh06 commented on #3550
Can this information be instead be fetched from the Cognito control-plane instead of relying on the aws_exports.js file for the source of truth for these resource configurations?

[2021-07-06 17:10] cfbo opened #7672 "Data migration"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-06 17:11] marcvberg commented on #5063
Hi @jcbdev

I tried reproducing this issue with the latest CLI 5.0.2 and was unable to do so - can you confirm that this is still an issue you're facing?

I did the following:

1. amplify add auth, MFA optional, push
2. amplify add analytics, pinpoint, push
3. amplify add notification, FCM, push

[2021-07-06 17:17] AlessandroVol23 commented on #7564
Everything works as expected. My mistake was to not change the resolver name before executing the steps.

Thank you so much @attilah ! I really appreciate it :-)

[2021-07-06 17:17] #7564 closed

[2021-07-06 17:45] edwardfoyle commented on #7654
Resolved offline by upgrading to the latest version of npm. Closing this issue.

[2021-07-06 17:45] #7654 closed

[2021-07-06 17:48] ericclemmons commented on #3550
@kaustavghosh06 We researched that last year, but IIRC ran into two issues:

1. An unauthenticated end-user wasn't able to fetch user pool configuration at run-time.
2. Nor did we want to send a request for every end-user to fetch these details.

I'm open to suggestions on the best way to make the Authenticator zero-config with their configured backend 🙏

[2021-07-06 18:36] dankbl commented on #7606
After the merge I do see the trigger `amplify/backend/auth/nhbcognito/auth-trigger-cloudformation-template.json` and references in the cognito cft and parameters.json in that dir, and the function files in `amplify/backend/function/nhbcognitoPostConfirmation/`

Trying to do `amplify update auth` and then amplify push also failed in the same spot as previous failures but now with the error "Cannot

[2021-07-06 19:58] josefaidt commented on #7624
Hey @bacon1097 glad this is working for you! I will keep an eye out for future reports of sort-related issues in mock.

[2021-07-06 20:38] cyrfer commented on #6414
The [documented](https://docs.amplify.aws/cli/function/build-options) solutions are working.

I created subfolders for local packages, with lambda function packages referencing the local packages using local file paths, and bundling lambda function code with top-level scripts.

amplify will take whatever is bundled in the `amplify/backend/function/foo/src` directory. I keep my ES6/TS source code i

[2021-07-06 20:38] #6414 closed

[2021-07-06 20:38] josefaidt commented on #7411
Hey @danabrams can you post a link to the distribution you're using to successfully mock? Perhaps this is something we can document as a known workaround for those with M1 Macs

[2021-07-06 20:48] hirenumradia commented on #6582
@viraxslot This didn't work for me :( I can't seem to build my app.

[2021-07-06 21:56] danabrams commented on #7411
[code]
Note: Not a zulu build.

Works well for me on an m1

[2021-07-06 21:58] danabrams commented on #7411
If you want I can contribute a PR documenting it.

[2021-07-06 23:06] sergiorodriguez82 opened #7676 "Using DataStore and Api resolvers at the same time generetaes _delete tags for online opertaions not consistent"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-06 23:06] renebrandel commented on #5627
Hi folks - we've recently launched secrets support for functions using a SecureString o Parameter Store (to reduce cost for customers) LMK if this resolves this issue.  https://twitter.com/renebrandel/status/1410657171809837059

[2021-07-06 23:21] dilaver opened #7677 "amplify pull fails if .aws/credentials has [sam]"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-06 23:28] #5934 closed

[2021-07-06 23:37] ryanhollander commented on #5627
@renebrandel I saw this on Twitter, and I'm actually going to use this on a project very soon and will report back with some feedback. At first blush it meets the use case I was interested in when I opened this. Thanks!

[2021-07-07 00:19] cjihrig commented on #7639
@mjza are you saying that the problem is resolved now? Is it possible you had a bad Internet connection when you were experiencing problems?

[2021-07-07 00:20] #7637 closed

[2021-07-07 00:21] #7623 closed

[2021-07-07 00:23] #7011 closed

[2021-07-07 01:07] cjihrig commented on #7560
@matansagee can you try with version 5.1.0 of the CLI. If you aren't seeing the issue with `amplify-dev`, but you are with `amplify` can you also run `amplify -v` immediately before or after as a quick check (it's surprisingly easy to be running the wrong version of the CLI even after a fresh install).

[2021-07-07 01:14] #7530 closed

[2021-07-07 01:58] mattfysh commented on #7661
I took a look through the codebase to see if I could fix, couldn't figure out what the fix is but thought I'd cc a few folk who contributed to `packages/amplify-category-api/src/provider-utils/awscloudformation/containers-handler.ts`

cc @edwardfoyle @elorzafe @undefobj @manueliglesias

[2021-07-07 04:51] joekendal commented on #1774
I don't think it's good practice to use stage variables as part of your table naming convention. Rather, it is recommended to use separate AWS accounts for all stages with AWS Organizations.

[2021-07-07 05:24] renebrandel commented on #7667
Hi @frank-unovica - I'm curious what the "app use case" is that is motivating you to have a function call itself? (Obviously the risk that you've highlighted around infinite invocation is something I'm especially concerned about. It can easily to unexpected bills.)

FWIW - we're looking into a more lightweight approach to define custom policies for functions & containers. So your feedback would be

[2021-07-07 06:01] mjza commented on #7639
@cjihrig I am sure it was not internet connection, I even disconnected my Wifi and used LAN. I used the same provider on two machines and I am sure the internet was there. Just when I ran the `amplify push` it disconnect my internet on my mac.

Yes the problem resolved by installing the version 5.1.0.

[2021-07-07 06:01] #7639 closed

[2021-07-07 09:27] nielsautrata opened #7681 "Amplify codegen iOS: Unable to import custom transformer module(graphql-assert-transformer)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-codegen/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-codegen/blob/master/CON

[2021-07-07 10:37] DeerajTheepshi opened #7679 "Can't use @auth directive : " client_id, client_secret and authorize_scopes are all required idp details ""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-07 10:37] iamandi commented on #4113
@johnpc have you tried it with WSL2 (Ubuntu) with VS code? Although I have also seen it on Mac, but WSL2 produces it repeatedly. And it doesn't have to be a complex app, a simple app  built by following aws-amplify react tutorial will do the job. And it cannot be a internet speed issue.

[2021-07-07 10:58] OperanceTim commented on #3753
Why is this not possible?

We have a use case where we are applying a custom pipeline resolver to the ElasticSearch data source in Amplify to use complex security. If we want to use the resources generated by `@searchable` we have to create an additional query but that leaves the original query open and users can see data they are not supposed to.

Why can we not use `@searchable(queries: null)` a

[2021-07-07 12:42] lseemann commented on #5239
Like @dragosiordachioaia I ended using a Lambda for this. It works pretty well.

Here's how I've recently set it up for us.

We have a `Company` type, that has several many-to-many relationships to various entities. For example, each company may have many attorneys. `AttorneyAssignment` is the bridge between `Company` and `Attorney`.

I've created a Lambda called `dynamoTrigger`. It’s configured t

[2021-07-07 12:51] alexboulay opened #7680 "Template may not exceed 1000000 bytes in size."
My org has been using Amplify CLI to create our Graphql API. We have recently hit a limit apparently related to the size of CF Templates exceeding 1MB.

We have a relatively large API but never expected to hit this limit.

What could be the course of action from here?

What I have tried:

- Disabling subscriptions since we do not currently use them ( not good long term since the plan was to use th

[2021-07-07 14:52] josefaidt commented on #7500
Hey @kymmeh thank you for sending that over. I have received it and am actively investigating

[2021-07-07 15:01] josefaidt commented on #7411
Hey @danabrams thank you for the details we were able to confirm mock is working with that distribution on our end as well. I think a PR would be great! I'll go ahead and remove the bug label in favor of adding a note to the docs for M1 Mac owners to use the specific Java version noted above. @Rolando-Barbella could you try this Java version and confirm whether it resolves the issue for you as wel

[2021-07-07 16:31] cjihrig commented on #7528
@sebsto is this working for you now with v5.0.2 and newer of the CLI?

[2021-07-07 16:38] cjihrig commented on #4224
Closing, as this was released.

[2021-07-07 16:38] #4224 closed

[2021-07-07 16:56] #7370 closed

[2021-07-07 17:01] cjihrig commented on #7080
I'm closing this as a can't / won't fix due to the AppSync limitations described above.

[2021-07-07 17:01] #7080 closed

[2021-07-07 17:08] cjihrig commented on #6660
This should be fixed. Closing as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7004.

[2021-07-07 17:08] #6660 closed

[2021-07-07 17:15] sebsto commented on #7528
I'll need to spin a new EC2 instance to test this - thanks for the heads. I will try to allocate time during the week-end

[2021-07-07 19:43] cjihrig commented on #7642
@paolo573 I just wanted to update you. Once https://github.com/aws-amplify/amplify-cli/pull/7682 is merged and released, I propose doing the following so that you can upgrade your CLI version while still leveraging temporary credentials:

1. Create a profile in `~/.aws/config` and `~/.aws/credentials`. You can add your temporary `aws_access_key`, `aws_secret_access_key`, and `aws_session_token` he

[2021-07-07 22:13] cjihrig commented on #7681
@nielsautrata I have a few questions:

1. Was this working with a previous version of the CLI?
2. I see that you're importing other modules as well (graphql-default-value-transformer, graphql-auto-transformer). Are those working properly?
3. Is graphql-assert-transformer installed where it's expected?

[2021-07-08 06:59] frank-unovica commented on #7667
I'm using it for parallel file processing. It would be fair to enable recursion through a CLI parameter, but amplify would probably struggle with the self-dependency anyway.

To optimize development time I use one lambda and copy paste the code to the Lambda console, avoiding a 3 minute push for every code change, or having many AWS console tabs open. The existing CLI could handle the use case if

[2021-07-08 09:06] #6927 closed

[2021-07-08 09:06] #7282 closed

[2021-07-08 09:06] #6425 closed

[2021-07-08 09:06] #6546 closed

[2021-07-08 09:06] #3933 closed

[2021-07-08 09:06] #5798 closed

[2021-07-08 09:06] #6419 closed

[2021-07-08 09:10] nielsautrata commented on #7681
1. Yes, before version 5
2. Yes, in the react and android projects there are no error for compiling with codegen
3. Yes, there are installed generally, this is my transform.conf.json:

[code]
In the case, you want to download my graph.ql this my app id dl91s1m9oit3p and the region is us-east-1

[2021-07-08 09:51] AlessandroVol23 opened #7685 "HostedUiProvider credentials and cloudformation config (CaseSensitive) gone after amplify pull"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-08 10:39] cfbo commented on #7672
I have continued researching on this topic and I haven't found any solution yet.
I have also read all possible related posts in the [Amplify Discord channel](https://discord.com/channels/705853757799399426/707329009574346754). Over the last couple of years many people have asked questions about the topic reported above, but there wasn't any answer.
The only relevant answer (I assume from the Ampli

[2021-07-08 13:16] cfbo commented on #5972
This feature would be really essential for us. We are building a solution that will soon need to be released in production soon and it's completely built on Amplify.
I have to admit that I have only started on AWS/Amplify over the last couple of months, but I don't see how one can build a production-ready application without this feature and some goes for the topic reported in #7672.
While waiting

[2021-07-08 13:30] cfbo commented on #6805
+1
Partially related to that: https://github.com/aws-amplify/amplify-cli/issues/5972#issuecomment-733987511

[2021-07-08 13:49] justatribute commented on #7672
I too have a system that is getting scarily close to production with no obvious solution for performing data migrations following a schema update. This is a massive gap and will be fatal to many projects. Please could the Amplify team provide some insight into how we should proceed - even if it's just some guidance!

[2021-07-08 14:02] paolo573 commented on #7642
@cjihrig thanks for this follow up!

[2021-07-08 15:44] cjihrig commented on #7680
@alexboulay what version of the CLI are you using? Also, would you be willing to share your GraphQL API with us at amplify-cli@amazon.com?

[2021-07-08 16:33] cjihrig commented on #7681
Thanks for the info @nielsautrata. I'm marking this as a bug.

[2021-07-08 17:26] josefaidt opened #7688 "add new command `info` to capture environment details"
### Is this related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Request for new command, `info`, to be added which will capture customer's environment details with a single command. It would be useful to capture everything relevant to CLI and JS, such as the following:

- OS info and v

[2021-07-08 18:53] hhemmati81 commented on #2698
This issue should be reopened. This is a major flaw. We are building a healthcare platform that has many fields which require different authorization levels. We can't compromise security because there is a 64kb file size limit. AWS has to offer a larger size even if it requires to be on a paid plan.

[2021-07-08 19:13] renebrandel commented on #7667
Understood. Thanks for layout out your scenario. I think there's a couple of things here:
- Allowing the Lambda function to call itself is more like treating the symptom. I think there are risks here inexperienced customers could run into. We should enable an escape hatch to allow you to specify additional policies like with a simple "policy.json" or something like that.
- Separately, we can look

[2021-07-08 19:44] josefaidt commented on #7500
@kymmeh was the Cognito resource initially added to AppSync via the console or Admin UI and then also attached with the CLI steps provided? I am not able to reproduce on the current version of the CLI (5.1.0) with the steps provided.

Does running `amplify api gql-compile` before push change the push behavior? This error you received is what I am currently looking into, however after downgrading t

[2021-07-08 20:07] josefaidt commented on #7606
Hey @dankbl I was still not able to reproduce this exact error, however while investigating we've discovered a few bugs related to multi-env workflows and will be tracking/addressing those separately. I'll circle back once those are created.

As a workaround, following the steps provided at the end of [this doc](https://docs.amplify.aws/cli/teams/sandbox), after merging and confirming the new addi

[2021-07-08 20:08] ericclemmons commented on #3007
Not stale, as this is still an issue and creating unexpected behavior:

This should stay open until the underlying issue is resolved:

[2021-07-08 20:08] cjihrig commented on #7669
When you say that the auth is not in any CFN file, do you mean local files only? Can you also confirm whether or not it exists in your deployed version.

In your last step, you're running `amplify pull --restore`. That should overwrite any local changes with what is in the cloud. If the auth still exists in the cloud, that may explain what's happening. Have you pushed the changes to env-b in the c

[2021-07-08 20:11] josefaidt commented on #7457
Hey @prettydev 👋 apologies for the delay! Are you also experiencing this with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.1.0)?

[2021-07-08 20:15] josefaidt commented on #7606
To follow-up my last comment, there was also some work done to auth triggers in our [most recent release of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.1.0). Can you see if upgrading also relieves the issue in the mean time?

[2021-07-08 20:21] cjihrig commented on #7668
I'm going to close this as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7666, which currently has an open PR for a fix.

[2021-07-08 20:21] #7668 closed

[2021-07-08 20:27] josefaidt commented on #7388
Hey @bmvdeveloper :wave: apologies for the delay I'm still taking a look at reproducing this issue. Out of curiosity was the project/auth created with Admin UI? OR are you able to see what account is attempting to make the call?

[2021-07-08 20:48] cjihrig commented on #7658
Amplify creates a GSI for each [`@key`](https://docs.amplify.aws/cli/graphql-transformer/key) that has a `name`. In your example, a GSI is created for `byProduct` and `byTruckId`, and the unnamed key (`["truckId", "variantId"]`) is the primary.

[2021-07-08 20:55] cjihrig commented on #7655
@mandeepsingh-private when you add `@versioned` to an `@model`, it should create a `version` field in the table. Are you saying that the `version` field does not exist?

[2021-07-08 20:57] yammesicka commented on #7658
I found an answer from 2019 that says it is possible to create an [LSI](https://github.com/aws-amplify/amplify-cli/issues/1725#issuecomment-505862542). Is this wrong, or maybe there is another way to create an LSI?

[2021-07-08 21:23] IgorDePaula commented on #7525
@akshbhu , please a doubt, the graphql api and rest api, each one has your won way or not, my workds not make sense? Example, graphql is only mobile and rest is for only web...or not, they has same way?

[2021-07-09 00:58] bmvdeveloper commented on #7388
So it was created via CLI -- when admin UI was launched I then went in and enabled it (if I remember right) just to see what it was all about.

From there I will say it seemed to have been acting different.  I don't know if that helps at all.  Am I able to see what account is attempting to make the call? It's from the CLI so the main account I am assuming?  The IAM User/Profile has full admin acce

[2021-07-09 03:07] acomito commented on #1088
need this!

[2021-07-09 05:43] fkunecke commented on #2698
As @IsaacTrevino pointed out, this doesn't appear to be something easily resolved with a pull request in this repo:

https://docs.aws.amazon.com/general/latest/gr/appsync.html

<html>
<body>
<div class="table-container" style="margin: 2rem 0px; display: flex; flex-flow: row nowrap;"><div class="table-contents" style="display: inline-block; overflow: auto; max-height: 60vh; border-top: 1px solid rg

[2021-07-09 06:54] cfbo commented on #7669
Thanks coming back to this. I have to admit it's not easy to remember the exact steps, which I am aware it's not great to attempt reproducing the issue.
The main point is env-b is configured to build automatically in amplify upon new commits to branch-2.
While for env-a I did an explicit amplify auth remove and amplify push, for env-b I shouldn't need to that because CFN is updated with a new auth

[2021-07-09 07:23] frank-unovica commented on #7667
The custom resource method is an appropriate solution for this issue and not too complex; some more example documentation with various aws resources such as SES would be good, or documenting a way for the community to easily maintain CLI plugins that could eventually be incorporated.

I wanted to mention it nevertheless.

Eventually I plan to write a script that hot reloads lambda code from the ba

[2021-07-09 07:41] wjnpeter opened #7692 "amplify push generate wrong Query field on AppSync"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-09 08:58] pha6d commented on #7659
#7659

[2021-07-09 10:01] wcomicho commented on #7685
Also encountering the same.

Reproduction steps on my side:
1 Switch environment (dev or test)
2 amplify pull
3 Change something in e.g. lamdba / graphql
4 amplify push
5 Error

Fix
1 amplify update auth
2 update OAuth social providers
3 enter credentials for FB and Google
4 amplify push

[2021-07-09 10:01] MadakaHeri commented on #4577
@ianmartorell I thought it was a good idea, but when I `auth update` again, the generated resources disappeared.

[2021-07-09 10:17] zbsergio opened #7693 "Resolvers are not being updated in AppSync (using Aurora)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-09 12:37] cjihrig commented on #7692
"Data" is plural, so I think this is working as intended.

[2021-07-09 14:23] nnaskov commented on #2915
Any updates?

[2021-07-09 16:06] kymmeh commented on #7500
I'm using version 5.1.0 of the CLI. I added Cognito via the console. I ran
`amplify api gql-compile` and that made no difference.

This is the rule I added to the User model:

[code]

Here's the error I get:

[code]

On Thu, 8 Jul 2021 at 20:44, josef ***@***.***> wrote:

[2021-07-09 18:19] a9udn9u opened #7694 "amplify push produces "Cannot convert undefined or null to object""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-09 18:46] cjihrig commented on #7694
Thank you for reporting this, and the detailed explanation of the cause. I'm going to close this as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7466. There is also a PR to address this at https://github.com/aws-amplify/amplify-cli/pull/7594.

[2021-07-09 18:46] #7694 closed

[2021-07-09 18:52] cjihrig commented on #7659
Thanks @pha6d. I'll close this as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7666.

[2021-07-09 18:52] #7659 closed

[2021-07-09 18:56] cjihrig commented on #7669
Thanks @cfbo. If you're able to reproduce it consistently, feel free to come back to this issue.

[2021-07-09 18:56] #7669 closed

[2021-07-09 18:59] josefaidt commented on #7500
Thank you @kymmeh for confirming! May you also verify there is a `NONE` data source showing in the AppSync console under "Data Sources"?
![image](https://user-images.githubusercontent.com/5033303/125124557-e5932a80-e0bd-11eb-92f4-de745cd170bc.png)

[2021-07-09 19:23] josefaidt commented on #7500
To follow-up on my last comment, we should also see the creation of the `NoneDataSource` in the CloudFormation logs. This can be found via the console at CloudFormation > Stacks > click on appropriate nested stack for the API (example: `amplify-{projectName}-{env}-101907-api{projectName}-5QRHM2077BZ9`) > click on "Resources" tab > filter for "none"

[2021-07-09 20:30] michaelbrewer commented on #5566
@eddiekeller @kaustavghosh06  - is anyone looking into this? How easy would it be to fix this ourselves in the CLI?

[2021-07-09 20:44] cjihrig commented on #7658
You can technically create an LSI. However, you need to set the [`secondaryKeyAsGSI`](https://docs.amplify.aws/cli/reference/feature-flags#secondaryKeyAsGSI) feature flag to `false` in your project's `cli.json` file. However, it's worth noting that `secondaryKeyAsGSI` is deprecated as of May 1, 2021.

[2021-07-09 21:19] cjihrig commented on #7676
Marking this as a feature request.

[2021-07-09 21:42] GeorgeBellTMH opened #7696 "Functions are including devDependencies on upload"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-09 22:02] lukenas opened #7697 "Amplify Push Failed first timing pushing this project (happened after adding graphql api)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-09 22:24] cjihrig commented on #7696
It sounds like we need to add `--production` when invoking npm.

[2021-07-10 05:40] michaelbrewer commented on #5566
How about doing something along the lines of :

[code]

Then build/download the dependencies using docker image `lambci/lambda:build-python3.8`

[code]

[2021-07-10 06:14] attilah commented on #7661
@mattfysh try to reference the secret in the container part of your compose file to get it populated into the CFN template and that should solve your problem, for example:

[code]

This is the part that needs to be added:
[code]

Let me know if this works for you as it is not in the documentation, let's ask @elorzafe answer if this is the expected way or not?

Get back to us and tell if this solve

[2021-07-10 07:01] GeorgeBellTMH commented on #2698
#6008 is still open...I believe a lot of additional work can be done on this...

1) Remove comments
2) Minimize where possible
3) Ability to request/pay for bigger VTL
4) Chaining VTL files if necessary...

[2021-07-10 07:14] GeorgeBellTMH commented on #5972
1. I wonder how much critical data is stored by amplify and has ineffective or non-existent data backups
2. I wonder how many people have abandoned amplify because it doesn't support this out of the box
3. I wonder how much money amazon has missed out on because of 1 and 2...

[2021-07-10 07:17] GeorgeBellTMH commented on #6425
#5972 would have been helpful...

[2021-07-10 07:19] GeorgeBellTMH commented on #7423
#5972 may have helped...

[2021-07-10 07:32] GeorgeBellTMH commented on #4793
This is related to: #5972

[2021-07-10 07:45] GeorgeBellTMH commented on #7648
#5972 may have helped...

[2021-07-10 08:43] GeorgeBellTMH commented on #1970
#5972 would be helpful...

[2021-07-10 08:51] GeorgeBellTMH commented on #5972
If the amplify team is reading, an RFC on Data Backup/Site Backup/Failover would be great!

1. Ability to setup/configure backups for Dynamo, Cognito, Aurora, Pinpoint, S3 - within a datacenter, or to a second data centre from CLI
2. Ability to restore above backups from CLI
3. Ability to setup multi data-centre active/active or active/passive configurations from within CLI
4. Optional encryption

[2021-07-10 08:56] GeorgeBellTMH commented on #2186
Related to: #5972

[2021-07-10 13:51] fkunecke commented on #2698
@GeorgeBellTMH I really like your idea of creating a minification function. I bet with a few days of work we could put something like this together. Pretty soon I need to go through a security audit for my app, and I may have to add field level auth to all the models, which will invariably exceed the 64kb template size. If I end up implementing a solution for this I will try to encapsulate it into

[2021-07-10 14:12] attilah commented on #7681
@nielsautrata I see that you are using the packaged CLI, right? Can you confirm that if you install the CLI from NPM then codegen models will work? (so the custom transformer is correctly installed?)

But that's the other question, how is the custom transformer installed, as you reference it by package name, CLI looks for it as a global module, which it is failed to find.

[2021-07-10 16:53] michaelbrewer commented on #4357
@hisham  i believe this already happened

[2021-07-10 17:00] michaelbrewer commented on #4357
otherwise i do have this: https://github.com/aws-amplify/amplify-cli/pull/7700

[2021-07-10 19:01] ayotise opened #7705 "Amplify Build failing on the framework: The previously configured Web app client cannot be found"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-07-11 09:33] yammesicka commented on #7658
Is there a supported way to create LSI which is not deprecated? :)

[2021-07-11 11:45] oscarnevarezleal commented on #3798
the same thing happened to me @ajhool.

I'm not able to reproduce it now but I'm sure it happened when I set up the auth mechanism using Admin UI and then went back to CLI (Windows installation). I wasn't aware of the `~/.aws/amplify/deployment-secrets.json` file thank you @TheMoums , after update its contents it worked

[2021-07-11 15:08] muneshkumar578 opened #7701 "AWS AppSync - How to use separate issuerUrl (OPENID_CONNECT) for different environments"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?** Amplify, GraphQL Schema,

**Amplify CLI Version** 4.50.2

**What AWS Services are you utilizing?** AppSync

**Provide additional details e.g. code snippets**
Hello everyone!
I've two independent environments (main & dev) in the cloud and have configured OPENID_CO

[2021-07-11 23:10] ammarkarachi commented on #7697
@lukenas Can you try using the lates version `5.1.0` and pushing again?

[2021-07-12 04:32] johnEthicalTechnology opened #7703 "Two lambda functions created after setting up default auth"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)
These are the steps I performed for setting up Auth:
[code]

And two lambda functions created:
- `amplify-collectbetter-dev-140-UserPoolClientLambda-WDwkpxFH8G2M`
- `amplify-collectbetter-dev-UpdateRolesWithIDPFuncti-R9Bgb8JYFhM6`

I couldn't find any documentation about their functionality or why they are crea

[2021-07-12 05:39] renebrandel commented on #7667
Understood. Yeah. Today you can run `amplify mock function <function-name>` to test the function code locally, but I assume you're looking more for a like a local constant running server set up?

We're looking into providing a higher level policy file that customers can choose to override to incorporate additional permissions for a function that can definitely help the first point you mentioned.

[2021-07-12 07:42] frank-unovica commented on #7667
Ideally you would have something similar to webpack, but for the backend which spawns layered lambda dockers seamlessly connected through the usual environment variables, updating their code on the fly. And to have an example of custom resource mocking or online resource access.

I've worked with SAM; its approach of single minimalist yet versatile yaml template would probably solve the policy, CL

[2021-07-12 10:58] PeteDuncanson opened #7704 "Have a better message when the CI or another dev is already pushing to the cloud"
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When trying to do a push to Amplify but one is already in progress the push will fail with a cryptic message about "UPDATE_IN_PROGESS"

![image](https://user-images.githubusercontent.com/1674590/125275857-6e50d700-e307-11

[2021-07-12 12:10] nielsautrata commented on #7681
After Installing the custom transformer via npm locally in the respective project folder then codegen models will work. "Successfully added models".

[2021-07-12 17:27] #7681 closed

[2021-07-12 17:55] josefaidt commented on #7388
Hey @bmvdeveloper I've taken a further look at this and noticed this error is coming from a Lambda callout, and I've been aiming to identify the Lambda that's causing the error, though the fix would ultimately be providing that policy to the Lambda in question. What is the social provider in use and is this a custom auth flow? I was able to add `Login with Amazon` to an existing auth resource

[2021-07-12 17:57] ammarkarachi commented on #7705
@ayotise Can you check if the role creating the build has access to that AppClient?

[2021-07-12 18:15] Bentheburrito commented on #6391
Hi all, I'd like to take this issue up. :)

[2021-07-12 18:33] #4341 closed

[2021-07-12 18:33] #7179 closed

[2021-07-12 18:34] #6535 closed

[2021-07-12 18:36] #7466 closed

[2021-07-12 18:38] #5202 closed

[2021-07-12 18:40] #7448 closed

[2021-07-12 18:40] #7662 closed

[2021-07-12 18:42] #7441 closed

[2021-07-12 18:42] #7642 closed

[2021-07-12 18:58] joshkaplan opened #7706 "Feature request: mock function should support directly passing params and environment variables"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When calling `amplify mock function`, enable user to pass arguments to the executing binary.

For example, when locally testing a `node` function, it would be great for users to be able to set node's [command line options](htt

[2021-07-12 19:07] josefaidt commented on #7473
Hey @jinchenxiangdan :wave: thanks for raising this and apologies for the delay! Are you still experiencing this issue when running `amplify pull` from the root of your project without specifying the appId and envName, and can you confirm the new `projectPath` is a valid, absolute path to your local project files?

[2021-07-12 19:14] cjihrig commented on #7658
@yammesicka not currently. If this is something you need, I'd suggest weighing in on https://github.com/aws-amplify/amplify-cli/issues/6650 with your use case.

[2021-07-12 19:51] lukenas commented on #7697
@ammarkarachi Tried, and got the same result

[2021-07-12 20:06] kymmeh commented on #7500
@josefaidt thank you for helping with this! For the first time in months I'm unblocked. I created a data source of NONE (which obviously is not ideal), but it has meant I'm able to push without errors.

[2021-07-12 20:12] josefaidt commented on #7500
🙌 I'm glad we were able to get a workaround to the issue! This does seem like it is a bug given that data source was not created. Were you able to identify any errors in the logs in CloudFormation or CloudWatch? I created a new project following the steps provided and was able to get almost identical CFN templates but without reproducing this issue so I'm curious if there's anything that stands ou

[2021-07-12 20:25] poojamat opened #7707 "Add a CLI prompt asking the customer if they are using Amplify or the SDK"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Add a CLI prompt asking the customer if they are using Amplify or the SDK (default to Amplify), and only generate files if they are using the SDK. Otherwise it causes compilation errors and is confusing for user.

### Describe the

[2021-07-12 20:34] cjihrig commented on #7658
Closing this as a duplicate of #6650

[2021-07-12 20:34] #7658 closed

[2021-07-12 20:36] cjihrig commented on #7680
Can you please share which stack is failing as well.

[2021-07-12 20:39] alexboulay commented on #7680
Yes. I will absolutely send that your way with the issue id referenced in the subject line.
I just want to make sure I know everything about the env when it is falling because this occurred with another member of my team on his sandboxed environment.
This week, I will reproduce this error in our dev environment with the latest CLI version.
Thank you very much.

[2021-07-12 20:42] josefaidt commented on #7677
Hey @dilaver :wave: thanks for raising this! I was not able to reproduce this with the steps provided on the packaged binary (installed using `curl`) and with only `sam` defined in the global AWS credentials file. Is the username in Admin UI named `sam`? Do you also experience this issue with the [npm distribution](https://www.npmjs.com/package/@aws-amplify/cli)?

[2021-07-12 20:42] josefaidt commented on #7677
Hey @dilaver :wave: thanks for raising this! I was not able to reproduce this with the steps provided on the packaged binary (installed using `curl`) and with only `sam` defined in the global AWS credentials file. Is the username in Admin UI named `sam`? Do you also experience this issue with the [npm distribution](https://www.npmjs.com/package/@aws-amplify/cli)?

[2021-07-12 20:51] jhockett commented on #7677
Hi @dilaver, can you also let us know what browser you are using to authenticate with?

[2021-07-13 00:28] ayotise commented on #7705
Yes. The amplify build has an admin role.

[2021-07-13 00:30] ammarkarachi commented on #7707
@poojamat Can you let us know of your use case and what you are trying to achieve?

[2021-07-13 00:36] ammarkarachi commented on #7679
@DeerajTheepshi can you run `amplify push` and see if you are still facing this error?

[2021-07-13 00:41] ammarkarachi commented on #7685
@AlessandroVol23 Can you send me your amplify/auth folder to amplify-cli@amazon.com?

[2021-07-13 00:43] DeerajTheepshi commented on #7679
Sorry for not updating.
amplify push instead of amplify push api worked, but then occasionally I encountered the error some other times too.

I guess this can be closed.

[2021-07-13 00:43] #7679 closed

[2021-07-13 06:28] #5975 closed

[2021-07-13 07:51] studpeps opened #7708 "Windows location path compatibility in amplify-cli command tests"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 08:48] studpeps opened #7711 "Windows location path compatibility in amplify-cli resource tests"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 11:02] mattfysh opened #7713 "How to integrate Serverless Containers with X-Ray?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

API / Serverless Containers

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

v5.1.1

**What AWS Services are you utilizing?**

ECS / Fargate + X-Ray

**Provide additional details e.g. code snippets**

**docker-c

[2021-07-13 11:03] mattfysh commented on #7661
This works 🎆  thank you!! 🙇  just seems like the docs need a small update.

Shameless plug 💡  I've also created a new issue around getting an X-Ray sidecar working: https://github.com/aws-amplify/amplify-cli/issues/7713

[2021-07-13 12:06] mrsln opened #7714 "Getting "Uploaded file must be a non-empty zip" error when deploying"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 14:41] aachman22 opened #7715 "TypeError [ERR_INVALID_ARG_TYPE]: The 'request' argument must be string."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 15:41] alonsnir opened #7771 "Cannot Enable DataStore to edit your data model visually"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-13 15:48] josefaidt commented on #2278
Hey @houmark :wave: thank for your raising this request! This feature has been released with [Amplify CLI v5.1.0](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.1.0) which has a corresponding [blog post](https://aws.amazon.com/blogs/mobile/configure-environment-variables-and-secrets-for-your-lambda-functions-with-amplify-cli/) demonstrating the new functionality. More information can b

[2021-07-13 15:48] #2278 closed

[2021-07-13 19:05] karldanninger opened #7716 "UPDATE_FAILED Parameters: [authRoleName, unauthRoleName] do not exist in the template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 19:12] karldanninger commented on #7716
Referencing this closed Issue https://github.com/aws-amplify/amplify-cli/issues/2519 although not solved.

[2021-07-13 19:17] cjihrig commented on #7716
Can you check `amplify/backend/api/someApi/parameters.json` for those parameters? If they exist, you can remove them and try pushing again.

[2021-07-13 19:21] karldanninger commented on #7716
Hey @cjihrig, that was it, thank you.

Any info you can share with me on why this is?

[2021-07-13 19:26] cjihrig commented on #7716
Those parameters are supposed to be automatically removed. I'll look into why that did not happen.

[2021-07-13 19:32] karldanninger commented on #7716
Cool, well I'm unblocked, so thank you.
Looking forward to any insights you might share on this topic.

[2021-07-13 19:44] ammarkarachi commented on #7715
@aachman22 can you run `amplify plugin scan` and run the `amplify init` again?

[2021-07-13 20:34] ammarkarachi commented on #7714
@mrsln I see you have made no changes to the Lambda Layer itself. Can you make sure of the following things?

- The Lambda Layer has a `lib` and or `opt` folder under the folder
- The layer configuration has a runtime specified
-

[2021-07-13 20:47] houmark commented on #2278
Dreams do come true (they just take longer than you hope)!

[2021-07-13 21:05] mtliendo opened #7718 "Storage env vars not added to lambda function"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-13 22:38] utopianf commented on #7693
I have encountered the similar problem.

In my case, I changed `~/amplifyapp/amplify/backend/api/amplifyapp/schema.graphql` from
[code]
to
[code]
, then I tried both `amplify codegen` and `amplify api gql-compile`.
And both of them resulted into an unchanged `~/amplifyapp/src/graphql/mutations.ts`
[code]

I found `amplify mock api` do the correct update which overwrote the `mutations.ts`, but I'm

[2021-07-13 23:05] ammarkarachi commented on #7718
@mtliendo It looks like it does it when I don't assign it Custom variables.

[2021-07-13 23:15] mattfysh commented on #7713
Received this comment from @renebrandel on Discord:

This sounds fantastic - I'm just wondering if there is a workaround I can use today, e.g. manually adding permissions via console and adding this as a step to my "Manual tasks" list that I keep with the project?

[2021-07-14 00:17] Bentheburrito commented on #7631
Hello, I'd like to take this issue up :slightly_smiling_face:

[2021-07-14 00:55] #7640 closed

[2021-07-14 05:17] AlessandroVol23 commented on #7685
Yes sure I'll send it

[2021-07-14 06:53] PatrykMilewski commented on #5275
Bump, since it's also an issue for me and doing `echo n |` works, but it's not most reliable way

[2021-07-14 06:56] AlessandroVol23 opened #7720 "Function not in new environment"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-14 07:01] kaustavghosh06 commented on #7720
@AlessandroVol23  What's the output of `amplify status` command in your staging environment?

[2021-07-14 07:55] AlessandroVol23 commented on #7720
The output doesn't show any new `graphqlResolver` (which is the new function)

![image](https://user-images.githubusercontent.com/19362086/125584948-a0cfffb5-e0f8-403c-ba64-0856e476faee.png)

[2021-07-14 08:16] mrsln commented on #7714
Thank you for the reply @ammarkarachi!
What changes should I make to the Lambda layer and how do I go about it?

- yes, the Lambda layer has the `lib` and `opt` folders
- it does not have runtime specified, according to the AWS Lambda Layers dashboard
![image](https://user-images.githubusercontent.com/96596/125586195-621bcde0-b20a-42db-b172-be69ce60ca71.png)

- there are no files in the `opt` fold

[2021-07-14 09:00] mrsln commented on #7714
It started working after I've put a random file in the `opt` folder. My function does not use that version of the layer so I'm not sure if the layer is working but this is good enough for me right now. So the issue is solved for me. Thank you!

[2021-07-14 09:27] bmvdeveloper commented on #7388
Not a custom auth flow -- basically whenever I try to update auth from CLI to add facebook, google & Amazon it fails when I push via `amplify push`

[2021-07-14 09:28] bmvdeveloper commented on #7388
is there any way I can schedule a time to chat with one of you via discord or something?  Our team really wants to get this out and we have been blocked on it for almost 2 months.

[2021-07-14 10:33] AlessandroVol23 commented on #7685
fyi: I think it is overwriting the Sign in with Apple config as well and unfortunately it broke my prod login. Maybe that helps 🙂

[2021-07-14 11:41] martijnvdgrift opened #7721 "Amplify Build Timeout Period"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-14 13:13] ctrlplusb commented on #4830
So I am utilising [`ncc`](https://github.com/vercel/ncc), which creates a single js file with all node_modules dependencies inlined. I don't need the node_modules at all.

[2021-07-14 16:05] josefaidt commented on #7388
@bmvdeveloper Yes, absolutely! Please ping me directly or on the Amplify server (`@josef`) and we can schedule a time to chat. My schedule is open today

[2021-07-14 16:10] ammarkarachi commented on #7721
@martijnvdgrift which region are you deploying to?

[2021-07-14 16:28] ammarkarachi commented on #7720
@AlessandroVol23 Can you share your file `amplify/team-provider-info.json` file removing any sensitive data?

[2021-07-14 16:39] martijnvdgrift commented on #7721
@ammarkarachi thanks for your response!

I've tried deploying to both eu-central-1 and eu-west-1, same result.
My backend project size:
![image](https://user-images.githubusercontent.com/6614641/125659612-6898ae3b-1a9f-4202-9cbf-7a4443a715ac.png)
Without Node modules:
![image](https://user-images.githubusercontent.com/6614641/125659807-5169b632-ce24-49f4-8979-e36d1d85e78d.png)

[2021-07-14 16:53] #7468 closed

[2021-07-14 16:59] vaibhavjainv opened #7722 "amplify push for new environment gets stuck at UpdateRolesWithIDPFunctionOutputs"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-14 17:04] vaibhavjainv commented on #7722
CloudFormation did not receive a response from your Custom Resource. Please check your logs for requestId . If you are using the Python cfn-response module, you may need to update your Lambda function code so that CloudFormation can attach the updated version.

[2021-07-14 17:12] vaibhavjainv commented on #7722
This could be a permission issue. Will reopen if it isn't

[2021-07-14 17:12] #7722 closed

[2021-07-14 17:31] martijnvdgrift commented on #7721
I've played around with a few different versions, 5.1.0 works for me, so it seems that 5.1.1 introduced this (for our project).

[2021-07-14 17:48] ammarkarachi commented on #7721
@martijnvdgrift if you are deploying from or to `eu-central-1`, there were some events going on there yesterday morning. I don't see a change that would affect the upload part of the deployment by Amplify CLI.

[2021-07-14 17:48] josefaidt commented on #7720
Hey @AlessandroVol23 :wave: I was able to reproduce this when I connected my project to Git with the following steps:

1. init amplify project, init git repo
2. `amplify add auth`
3. `amplify push`
4. git add, commit, push to `main`
5. `git checkout -b next`
6. `amplify env add` with name `next`
7. `amplify update auth`, add post-confirmation trigger
8. `amplify push`
9. git add, commit, push to `

[2021-07-14 17:50] martijnvdgrift commented on #7721
Yup, I have seen those events as well. But we still had problems today (till one hour ago). Moving to 5.1.0 solved it, for now.
I'll try switching back to 5.1.1 later.

[2021-07-14 17:52] ammarkarachi commented on #7685
@AlessandroVol23 Thanks I got it

[2021-07-14 17:53] ammarkarachi commented on #7685
Actually I take that back, Can you send it again?
![image](https://user-images.githubusercontent.com/56042290/125669351-b753156b-eb67-4273-8c9c-3f3acc0eec5b.png)

[2021-07-14 18:24] alexboulay opened #7723 "Adding new env sometimes fails with Ressource is not the in the state stackUpdateComplete"
**Amplify CLI Version**
5.0.2

I have a strange problem that seems to be intermittent while creating environments.

I am trying to create dev environments for a few developers. I have successfully created one by starting from our current `dev` environment which is in a good and working state.

What I do in terms of CLI commands:

- `amplify env checkout dev`
- `amplify env add`
- Select `No` to th

[2021-07-14 18:32] dankbl commented on #7606
Still fails with the same error on versions 5.1.0 and 5.1.1.

[2021-07-14 18:35] kaustavghosh06 commented on #7269
Pr for this is merged and released.

[2021-07-14 18:43] josefaidt commented on #7631
Hey @Bentheburrito thanks for picking this up! I'll go ahead and assign to you 🙂 let us know if you run into any blockers as you're working through it

[2021-07-14 18:53] Bentheburrito commented on #7631
Thanks Josef!

[2021-07-14 18:55] mtliendo commented on #7718
Ah thanks for the insight! I see you added this to the bug bash, thanks for the quick followup!

[2021-07-14 19:01] AlessandroVol23 commented on #7685
My mistake I sent the email again, sorry!

[2021-07-14 19:02] AlessandroVol23 commented on #7720
Actually I could get it running by going back to develop and doing the workflow again, so it is not reproducible anymore for me. If it is not a proper bug you can close it if you want.

Thanks anyway for your help!

[2021-07-14 19:36] josefaidt commented on #7720
@AlessandroVol23 glad to hear you are no longer blocked 🙏 we'll keep this issue opened to track the bug. I was also able to work around the issue using the same process

[2021-07-14 19:53] alexboulay commented on #7723
I've noticed the ES domain takes forever to be created. I'm currently attempting a second push and it's been over 40mins, still in creation. Though everything is fine and the CLI push hasn't failed on me (yet)

[2021-07-14 20:10] josefaidt commented on #7606
Hey @dankbl thank you for trying that out! We've identified a bug with the multi-env workflow, however the auth triggers were worked on recently. On the most recent version of the CLI, may you attempt re-adding the auth trigger? In the codebase we are observing the issue lies with https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/src/push-resources.

[2021-07-14 20:57] Jordan-Nelson commented on #7666
I believe I ran into this issue while adding integration tests for [amplify-flutter](https://github.com/aws-amplify/amplify-flutter). I figured I would share what I experienced in case it is helpful.

We currently use the headless CLI to provision resources for integration tests with a [pretty basic payload](https://github.com/aws-amplify/amplify-flutter/blob/main/packages/amplify_auth_cognito/exa

[2021-07-14 22:19] ammarkarachi commented on #7723
Hi @alexboulay, it looks like the ES domain creation is timing out the push. I will consult the ES team if any mitigations is possible.

[2021-07-15 00:38] alexboulay commented on #7723
it failed cli side but CF all good.
<img width="733" alt="image" src="https://user-images.githubusercontent.com/70296188/125710102-6e6e08e2-3da3-4e50-ac94-d4d2d747767d.png">
ES domain took a while

[2021-07-15 00:49] jmbarroso commented on #6592
any idea of when you will be able to look into this?

[2021-07-15 03:38] nightshade427 opened #7727 "Query Limit does not work properly with API GraphQL"
**Which Category is your question related to?**
Auth/Api

Was wondering if amplify api when used with auth directive still behaves this way?

https://github.com/aws-amplify/amplify-cli/issues/4166

If so doesn't that leak the abstraction of dynamodb through api? Should the resolvers maybe repeat queue until it gets the number of documents requested or the LastEvaluatedKey is completed?

[2021-07-15 14:59] tlmader commented on #7359
I ran into this error last night, and my redirect did not contain a trailing slash.

My issue was that I needed to add `responseType: 'code'` to the Amplify `oauth` configuration object.

My awsconfig:
[code]
What helped me to figure out the exact problem was adding `window.LOG_LEVEL = 'DEBUG';` and I was able to get the following message:
[code]
Hope this helps someone!

[2021-07-15 15:05] tlmader commented on #7359
I ran into the below error last night, and my redirect did not contain a trailing slash.
[code]
My issue was that I needed to add `responseType: 'code'` to the Amplify `oauth` configuration object.

My Amplify configuration:
[code]
What helped me figure out the exact problem was adding `window.LOG_LEVEL = 'DEBUG';` and I was able to get the following message:
[code]
Hope this helps someone!

[2021-07-15 15:58] georgeleeventures commented on #2199
Is there any update on this issue? I highly doubt the graphql RDS datasource part of Amplify is production-ready. It seems like we'd have to make modifications to all of the resolver templates... Not only do I have this issue with AWSDateTime scalar, but I also have issues with JSON being returned improperly from the resolver too.

[2021-07-15 17:01] loganpowell commented on #5239
@lseemann do you think it would be advisable to just make a [lambda resolver](https://docs.amplify.aws/cli/graphql-transformer/function) that does this?

[2021-07-15 17:20] lseemann commented on #5239
Possibly? I confess that resolvers are a part of Amplify I'm not yet adept in, but I'd love to know more about what you have in mind. All I know is that doing it in the client should probably be avoided, for the reason you describe but also because what happens if a record somehow gets deleted outside of the client, such as through the graphQL browser or even directly in Dynamo?

[2021-07-15 20:23] dankbl commented on #7606
Thank you @josefaidt that workaround did the trick and the push succeeded.

[2021-07-15 20:23] #7606 closed

[2021-07-15 20:36] josefaidt commented on #7049
Hey @amirhajimirsadeghi :wave: apologies for the delay! To clarify are you looking to use outputs from your custom resource in the category resource? Currently we support taking in outputs from categories into a custom category.

[2021-07-15 21:21] josefaidt commented on #7656
Hey @catherine-augustine :wave: thanks for raising this! I was not able to reproduce in Windows on the latest release of Node 12.x and Amplify CLI 5.1.0. I have a couple of follow-up questions to better understand the context:

- Are there any additional, cloudformation-related logs that show what failed to update?
- What kind of modifications were made to the Lambda?
- Is the Lambda a part of a l

[2021-07-15 21:29] catherine-augustine commented on #7656
Are there any additional, cloudformation-related logs that show what failed to update?

// I saw the error message on the cli terminal and I am not sure if I can check somewhere else for the logs . Let me know please, I can update.

What kind of modifications were made to the Lambda?

// The lambda function was fetching records from a S3 file using a SQL query. The first time when I created it, it

[2021-07-15 23:59] catherine-augustine commented on #7656
![image](https://user-images.githubusercontent.com/67876056/125872337-e0348e9c-53ae-4069-b4ce-183c9fab2fa1.png)
I created another env and tried pushing the changes there , and I see the error in first place

[2021-07-16 01:35] kldeb opened #7733 "Amplify cli deleting functions from file system without warning"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-16 01:47] IgorDePaula opened #9894 "Problem on build, not recognize the right environment."
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-07-16 07:21] yaquawa opened #7734 "How to change es instance for non-production env?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
api

**Amplify CLI Version**

4.52.0

**What AWS Services are you utilizing?**
elasticsearch

**Provide additional details e.g. code snippets**
I know I can config es instance via [`ElasticSearchInstanceCount`](https://docs.amplify.aws/cli/graphql-transformer/con

[2021-07-16 12:43] PatrykMilewski commented on #1297
I believe it's implemented, so the issue can be closed. `amplify env list --json` works fine for me with latest Amplify version

[2021-07-16 13:20] winor30 commented on #995
+100

[2021-07-16 15:17] PatrykMilewski commented on #7734
Maybe not the best solution, but what we do is we edit the `amplify/backend/api/<app_name>/parameters.json` file just before deployment in CI/CD and replace `ElasticSearchInstanceCount`and `ElasticSearchInstanceType` with correct values for production deployment.

For all other environments it's minimal instance size by default.

[2021-07-16 15:26] ammarkarachi commented on #7734
@yaquawa you can modify the instance by how @PatrykMilewski suggested.

[2021-07-16 15:35] josefaidt commented on #7656
Hey @catherine-augustine thank you for the information! May you send a ZIP file of your project's `amplify` directory to amplify-cli@amazon.com?

[2021-07-16 15:59] ammarkarachi commented on #7727
@nightshade427 This is the way it still works since the GraphQL models are backed by DynamoDb, There is a good explanation on work arounds to this.

Add a @key to your model with the primary key of your group field. Set the queryField parameter and query using the key directly. Do not use the list queries, consider them only for testing.

Let me know if that was helpful

[2021-07-16 16:16] renebrandel commented on #7269
@kaustavghosh06 should this be closed or open?

[2021-07-16 16:45] josefaidt commented on #7656
Hey @catherine-augustine I saw your message, do you have a storage provider you could upload to such as Google Drive?

[2021-07-16 16:50] josefaidt commented on #7411
Hey @Rolando-Barbella :wave: just following-up to see if that Java version mentioned above resolved your issue?

@danabrams are you still willing to make a PR to our docs site to add a note for M1 Mac users?

[2021-07-16 17:19] ammarkarachi commented on #7733
@kldeb The function would be carried over after you push, since the function becomes available only through the current cloud backend.

Can you provide us a diff of the changes?

[2021-07-16 17:21] kldeb commented on #7733
Update: I learned that it was also an issue in one case with a bad merge on the backend-config.json file that dropped lambdas. I also learned that we occasionally experience issues with the amplify.meta.json file and it needs to be manually changed to clear our push errors. There's a lot going on here and I'm not sure what is the root problem.

[2021-07-16 18:12] Straubulous commented on #7009
Need to create e2e tests.

[2021-07-16 18:12] Straubulous commented on #7009
Hey Matt, we started on this PR. next step is to add the end to end tests.

[2021-07-16 18:27] #5063 closed

[2021-07-16 18:54] amirhajimirsadeghi commented on #7049
@josefaidt I'm looking to use outputs from a custom resource in a serverless container API resource. However, in attempting to do so, the cloud formation gets overwritten and thus nothing can be used.

Importing custom resource outputs to other resources works just fine

[2021-07-16 19:20] ammarkarachi commented on #7733
@kldeb I agree that some bad merges would cause undesirable. I asked for diffs to figure out if there was something we could do to mitigate it when generating the file (a sort by resource names) to keep the change to those file predictable.

[2021-07-16 20:09] dn-l opened #7737 "Media files resize"
### Is this related to a new or existing Amplify category?

storage

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Hey there!

It would be really great if was CLI could set up and deploy infrastructure on top of S3 for media files resize. GCP has something like that out of the box, example (try to play with params at the end of the string):

[2021-07-16 20:41] dn-l commented on #7737
cc @pananapread

[2021-07-16 20:58] jhockett commented on #7714
Glad to hear you're unblocked @mrsln! A layer with no runtime specified and no files in the `/opt` folder will produce an empty zip file which is why the push failed. Closing this issue.

[2021-07-16 20:58] #7714 closed

[2021-07-16 21:31] kldeb commented on #7733
@ammarkarachi can I send you the diff of the file privately?

[2021-07-16 21:34] regischow opened #7739 "MFALambdaInputs failing on amplify push"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-16 21:41] GeorgeBellTMH commented on #7737
This would have been very useful....it took a lot of time to get my app setup to do this...

[2021-07-17 00:08] ammarkarachi commented on #7739
@regischow if you upgrade to the latest version [5.1.2](https://www.npmjs.com/package/@aws-amplify/cli/v/5.1.2) it is fixed.

[2021-07-17 02:31] ammarkarachi commented on #7739
Can you let me know the region you are trying to push to?

[2021-07-17 02:33] regischow commented on #7739
ca-central-1

[2021-07-17 02:37] houmark commented on #2278
@josefaidt Update here. While I appreciate this is now added to Amplify, unless I missed something in initial testing, there seems to be a major flaw in the design and implementation of the secrets feature; **Secrets are stored _per_ function**.

We have many functions currently using the same secret(s) for example API keys for external platforms. With the current implementation, we would have to

[2021-07-17 02:46] houmark commented on #2278
Having thought about this a bit more, I am not sure adding global secrets is the perfect solution here because layers cannot access Amplify CLI-created secrets at all at this time? We are just starting to test out layers and since layers cannot create secrets using the CLI, the current implementation is very limited, because you won't be able to create a layer for API related features to a specifi

[2021-07-17 07:12] fgiopp commented on #7739
Same problem here.
When running `amplify push` after initializing a new env, I encountered the same error reported by @regischow .

`amplify update auth` haven't fixed the problem.

on cloud watch, I can see the following error:
[code]

[2021-07-17 14:15] loganpowell commented on #5239
I'm working on this atm and going with the DynamoDB stream trigger as per your example. Quick question: are you also using a trigger to create your `AttorneyAssignments` upon the `"INSERT"` event?

[2021-07-17 19:35] loganpowell commented on #5239
Haha, I spent hours trying to use a DynamoDB lambda to clean up the edge connections only to realize that the lambda is triggered after the deletion event and - therefore - I cannot query the edge connections by that ID any more :sweat_smile:

I ended up just using graphql [aliases]() do do this, like so:

[code]

[2021-07-17 23:03] Rolando-Barbella commented on #7411
Hi, sorry for the slow reply, I'm just not too sure on how to install that version of Java in my machine, I follow the link with it contains a few folder, again not sure what to do after neither I know what would happen with current version I have in my machine

[2021-07-18 01:32] lseemann commented on #5239
Oh, man, I should have pointed that out. I think I lost the same hours before I made the same realization.

I think your graphQL chops are a little beyond mind, but I like your thinking. Thanks for sharing. Am going to study it a bit more to understand it better.

In my example, since my nodes don't exist any more, I'm using `ListCompanyConnections` to find the vestigial edges. It looks like you'r

[2021-07-18 01:34] lseemann commented on #5239
No, they're being created manually. A `Company` and an `Attorney` are created independently, and then a graphQL mutation in the client creates an `AttorneyAssignment` to link them as needed.

[2021-07-18 11:30] ThierDev commented on #3081
+ 1 For Postgres Support

[2021-07-18 18:49] ammarkarachi commented on #7739
@fgiopp what's the walkthrough followed when running `amplify update auth`

[2021-07-18 22:48] nightshade427 commented on #7727
I understand why it does it, but was wondering if the resolvers should handle that for us? For example if I ask the API for 15 items, and auth makes it so only 11 return, can the resolver detect this and make the addition query to get more items until the 15 request is fulfilled. This way I don't have to detect that myself and keep querying manually.

[2021-07-19 01:58] jmarshall9120 opened #7741 "Use multiple accounts on one dev machine"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-19 05:20] michymichy commented on #4807
Any updates on this?

[2021-07-19 10:32] vgmartinez opened #7742 "Unable to upload trigger files to S3"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-19 12:45] Newbie012 opened #7743 "Support NodeJS 14 / 15 / 16"
### Is this related to a new or existing Amplify category?

hosting

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

As of now, it looks like Amplify is able to use only these versions of NodeJS:

[code]

According to the [official docs](https://nodejs.org/en/about/releases/), v12 is in Maintenance LTS, while v14 is the Active LTS. Additional

[2021-07-19 14:05] cjihrig commented on #7743
Thank you for opening this issue.

Node 8, 10, and 15 are all end-of-life. At the time of writing this comment, we should aim to support 12, 14, and 16.

[2021-07-19 14:27] drekorig commented on #5832
Same problem with Amplify cli 5.1.2

[2021-07-19 15:06] connected-mdeluco commented on #7739
I want to create a new environment based off one I've already configured. `amplify update auth` seems to require reconfiguring auth options from scratch. As @fgiopp commented, "not what I need."

[2021-07-19 15:11] fgiopp commented on #7739
Eventually, I used `amplify update auth` and applied the default configuration, then again `amplify update auth`, but this time with my custom configuration. This solved the problem in my case.

NB: I don't think this is necessary, but in my case, between the first `amplify update auth` and the second, I also pushed the change to the cloud.

[2021-07-19 15:18] regischow commented on #7739
@fgiopp, are you able to confirm the resulting iam:PassRole resource used to execute MFALambda?

[2021-07-19 16:04] Lorenzohidalgo opened #7746 "Flutter Codegen not handling floats correctly"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-19 17:55] osnodegeoffrey commented on #7359
Adding trailing slash seems to cause problem with amplify hosting. Getting a redirect loop and rewrites with %2F instead of slashes.
So +1 to get this fixed.

[2021-07-19 18:45] loganpowell commented on #5239
Gotcha, yep, I think it accomplishes the same thing as the concern was a half-fulfilled mutation, but with the aliases, the request is sent in the same AppSync API call (and is thus all handled server side). There may be issues on the server side, but I'm going to overlook those and hope that AWS doesn't fail me.

[2021-07-19 18:47] loganpowell commented on #5239
btw, if you have an unknown number of connections, you can extrapolate the example above by concatenating template strings that have an alias incremented by the index. E.g., instead of `edgeNodeFrom:`, use something like `edgeNode${index}:`

[2021-07-19 18:57] josefaidt commented on #7049
Hey @amirhajimirsadeghi thank you for the information! I will mark this as a feature request for the team to review

[2021-07-19 19:00] josefaidt commented on #7411
Hey @Rolando-Barbella no worries! The version of Java that resolves the issue appears to be an update to the version you mentioned:

[code]

which should update to:

[code]

[2021-07-19 19:26] renebrandel commented on #2278
@houmark - thanks for the detailed feedback. I'm curious what would be the perfect set up for you?

For this, we are looking into enabling customers to more easily provide functions with custom policies to access existing resources. Maybe that's the way to go? (RFC coming soon)

For the "standard" set up, we've seen that most customers usually have "one function <-> many secrets" setup. Our intent

[2021-07-19 21:08] ammarkarachi commented on #7705
@ayotise Can you check if Amplify Console Build region and account matches the Cognito UserPool's Client's region and account?

[2021-07-19 21:23] #7707 closed

[2021-07-19 21:34] ammarkarachi commented on #7704
@PeteDuncanson We can check the stack if it's in a deployable state. I don't think we have any state that points to determine whether the CLI is being deployed using CI/CD

[2021-07-19 21:57] houmark commented on #2278
Thanks for the feedback @renebrandel.

Considering this feature was released as is, I think options 1 and 3 combined are what makes the most sense. Meaning you can add to a layer and load an existing secret from any function if you like to. That way existing secrets are globalized by default and can be used once this feature improvement is released. If layers do not have any way to add secrets, th

[2021-07-19 21:58] ianog-eng opened #7747 "Cloud9 Admin UI browser authentication failing from CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-19 22:08] ammarkarachi commented on #7733
@kldeb yes amplify-cli@amazon.com

[2021-07-19 22:09] ammarkarachi commented on #7733
~~The function would be carried over after you push, since the function becomes available only through the current cloud backend~~

[2021-07-19 23:07] ammarkarachi commented on #7703
These are [custom resource](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-custom-resources.html) used to extend the CloudFormation;

Is used to ensure the UserPool is to verify the UserPool settings.

This is used to update the AuthRole and UnAuthRole to allow access to the IdentityPool

[2021-07-20 00:39] THPubs opened #7748 "Amplify GraphQL @auth won't allow group to access custom index keys"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-20 00:56] #7748 closed

[2021-07-20 01:01] SwaySway commented on #7741
Generally an Amplify Project is tied to the same account, you are able to create an env in a different account (noted in docs: https://docs.amplify.aws/cli/teams/overview)
You can run `amplify configure project` to set this up. Are you looking to recreate an environment in a different account?

[2021-07-20 01:03] SwaySway commented on #7742
Hi @vgmartinez
A few questions here
- Were you able to create new env's and push in a prior version?
- Before running creating the env and running push is it located in the same account as the previous env?

[2021-07-20 01:34] johnEthicalTechnology commented on #7703
@ammarkarachi Thanks for the reply.

From reading the documentation you provide I get the sense that I won't need to use them. If that is the case how can I remove them from my cloudformation stack? Is that okay to do, or are they used by functionality in Amplify?

[2021-07-20 01:34] ayotise commented on #7705
Yes. They are both in the same region.

[2021-07-20 02:46] jmarshall9120 commented on #7741
Hi @SwaySway,

    I noticed my "reproduction steps" above were a little typo-ed.  I clarified them.

    I'm not looking to recreate the environment, nor do I need to use different environments.  I just want to pull a repo and be able to start working on it.  However amplify thinks the repo, belongs to the first account I used with amplify on that computer - not the account associated with the re

[2021-07-20 04:41] yash-5575 opened #7749 "How do you make sure /usr/local/bin is on your path?"
How do you make sure /usr/local/bin is on your path?

I have exactly the same issue and npm root -g produces the path as follows: /usr/local/Cellar/node/16.1.0/lib/node_modules

_Originally posted by @OderoOtieno in https://github.com/aws-amplify/amplify-cli/issues/5075#issuecomment-843725896_

[2021-07-20 05:37] frank-unovica commented on #7667
Correction: turns out I did not actually manage to attach a custom policy to the lambda function. Manually adding a function or S3 storage resource only allows a exporting custom name, to which all access will be added in the execution policy.

Currently the only way to attach a custom policy is to modify the function template, which is reset after each ```amplify function update```

[2021-07-20 07:19] vgmartinez commented on #7742
@SwaySway,
- Yes, in the previous version I did't.
- Is located in different account, but now even in the same account the master env is not working for the same reason.
let me know if you need more info, I was looking for bad bucket reference but I don't see anythings wrong.

[2021-07-20 07:27] Bullace opened #7750 "configure project with --yes option does not suppress "Which setting do you want to configure?" question"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-20 08:59] nathanaerocloud opened #7751 "amplify push failure Docker-compose An error occurred during the push operation: FnJoin requires at least one value to be provided"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-20 10:03] KristineTrona opened #7752 "Querying for connection with @key field consisting of multiple fields"
**Which Category is your question related to?**
AWS AppSync, AWS GraphQL

**Amplify CLI Version**
v5.1.1.

**What AWS Services are you utilizing?**
AWS AppSync, AWS GraphQL

**Provide additional details e.g. code snippets**

Hello, I am working on an app, which will need to support multi-tenancy in the backend. This creates a challenge as normal record ids will no longer be unique across the table

[2021-07-20 10:24] nikuyoshi commented on #4442
I also heard from a developer that can't deploy via Amplify on Cloud9.

Reported at https://twitter.com/w2or3w/status/1353336693848379397?s=20 that says "Unable to push from Cloud9 installed Python 3.7.9. Python 3.8 is needed to install by Amplify "

[2021-07-20 11:48] adi518 opened #7753 "envCache --get stackInfo returns empty on existing environment"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-20 13:36] UXDart commented on #1055
this was never implemented right?

[2021-07-20 14:06] connected-mdeluco commented on #7739
@ammarkarachi I'm on 5.1.2 and getting the issue consistently when trying to push new environments. Region us-east-2.

[2021-07-20 14:50] connected-mdeluco commented on #7739
Here's a sequence of events that I just encountered:

1. `amplify env add` - env name `mdteste`
2.  `amplify push`
[code]
3. `amplify update auth`
4. `What do you want to do? Apply default configuration without Social Provider (Federation)`
5. `amplify push`
[code]

I can't remember, but I may have tried customizing the messages for the "Forgot password" config in Authentication settings in the co

[2021-07-20 14:54] josefaidt commented on #7749
Hey @yash-5575 :wave: to check the PATH variable we can execute `echo $PATH | grep $(npm bin -g)`. If the path is not available in the variable we can add it with `export PATH=$PATH:$(npm bin -g)`, which can be added to your `~/.bashrc` file to persist.

[2021-07-20 14:56] PeteDuncanson commented on #7704
@ammarkarachi that sounds like a great quick win. Might then be able to display a generic enough message to explain why that might be the case. Ultimately all it needs to say is "relax, something else might be doing a release already, try again in a bit" :)

[2021-07-20 15:43] mjza opened #7754 "How to have indices query in appsync?"
**Which Category is your question related to?**

Appsync, graphql, pipeline resolver

**Amplify CLI Version**
5.1.2

I have a full stack app defined in amplify by graphql and react.js.

I need to do extra authorisation in my queries based on what I asked [here](https://github.com/aws-amplify/amplify-cli/issues/6389), therefore, I tried to find out how can I define a pipeline resolver.

I pursued t

[2021-07-20 15:56] #7631 closed

[2021-07-20 15:57] #7711 closed

[2021-07-20 18:15] #7250 closed

[2021-07-20 18:33] matthewmichel opened #7760 "Amplify Admin UI Deployment - auth headless is missing the following inputParams googleClientId, facebookAppId."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-20 19:43] SwaySway commented on #7741
When pulling code from the repo we recommend running amplify init to initialize the project. From here you can configure the project to run with the account that computer A used.

Are the credentials different for computer A and B? We recommend running amplify configure so the amplify iam user is setup on both computers.

Docs: https://docs.amplify.aws/cli/teams/overview

[2021-07-20 21:00] Straubulous commented on #7132
@descaloni-thinkwhy - are you still blocked as of CLI 5.1.1 ?
We've made cfn-lint a warning instead of an error, so it shouldn't prevent actual deployment now.

[2021-07-20 21:33] danabrams commented on #7411
Yes, doing so now.

[2021-07-20 21:35] SwaySway commented on #7760
Looks like this might be an admin ui issue, transferring to their repo for more visibility.

[2021-07-20 21:45] SwaySway commented on #7754
Hi @mjza

You can find the query for `listReportsByCountry` under queries.
The CLI does not currently support pipeline resolvers.
Though we are aware of it and are tracking that as a part of the new transformer. RFC: #6217

The transformer does accept overrides, so a potential solution would be to overwrite the generated CFN templates and resolver to create a pipeline resolver for `listReportsByCo

[2021-07-20 22:38] SwaySway commented on #7751
Hello @nathanaerocloud
Could you provide more details on how to reproduce?
I tried to repro with with the steps provided in the doc and I did not run into this error.

[2021-07-20 22:56] SwaySway commented on #7750
It looks like this is coming from headless containers flow, since headless flow for containers is not currently supported.
Marking this is an enhancement. Will review with the team if we can provide an option to go through just project configuration without container hosting setup.

[2021-07-20 22:58] SwaySway commented on #7753
This env cache param is related to amplify console. Transferring to their repo for more visibility.

[2021-07-21 05:35] #7473 closed

[2021-07-21 05:35] #7692 closed

[2021-07-21 05:35] #7655 closed

[2021-07-21 05:35] #7528 closed

[2021-07-21 05:35] #7626 closed

[2021-07-21 05:35] #7123 closed

[2021-07-21 10:08] nathanaerocloud commented on #7751
Hi SwaySway

thank you for coming back to me I am using these settings and follow the example but use the strapi example I sent the link for ... not the example shown as its strapi I want to run in Amplify ... have you tried with this docker-compose.yml?

https://strapi.io/blog/how-to-run-a-strapi-dev-stack-with-docker-compose

**`
amplify init (accept defaults)
amplify configure project (setup pr

[2021-07-21 11:16] 9037568 commented on #7485
This comment exists to tell the "stale bot" what to go do with itself.

[2021-07-21 13:06] cfbo commented on #7672
Any feedback on this topic would be highly appreciated.

[2021-07-21 15:28] armenr commented on #6382
+1 to what @vjpr has mentioned.

[2021-07-21 16:11] Bentheburrito commented on #6122
Hi all, I'd like to take this issue up :slightly_smiling_face:

[2021-07-21 16:29] ayotise commented on #7705
The issue is resolved now. I was using the wrong web client id in the amplify environment variable (AMPLIFY_IDENTITYPOOL_ID).

[2021-07-21 16:29] #7705 closed

[2021-07-21 18:49] #1546 closed

[2021-07-21 18:52] #7515 closed

[2021-07-21 18:54] SwaySway commented on #7754
@mjza
As long as you have a top level object defined (ex. Mutation, Query, Subscription) there is no need for a schema definition.
GraphQL Docs: https://spec.graphql.org/June2018/#sec-Root-Operation-Types

If you are adding in your own query you can add that in your schema. Such as `getUser` and it that type will get carried over into the build schema. From there you can create it's own resolvers

[2021-07-21 20:14] josefaidt commented on #7656
Hey @catherine-augustine I received your zip file and will be taking a look at it!

[2021-07-21 20:15] yuhui opened #7772 "Invalid DynamoDB state cannot be fixed with new schema.graphql"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-21 21:15] #7708 closed

[2021-07-21 21:53] josefaidt commented on #7388
Note: after hopping on a quick call with @bmvdeveloper we ran into an issue similarly described in #7685

[2021-07-21 22:09] joshkaplan commented on #7706
Hey @ammarkarachi , thanks for the response.  The only use-case I _currently_ have is enabling debugging, yes. Feel free to change the title to that and/or re-organize this however you like!

***
That said, I've only been using amplify for a few weeks, and I suspect I may find other use-cases for setting environment variables directly per-run (rather than via a `.env` file.) I'm happy to open a ne

[2021-07-21 22:28] SwaySway commented on #7752
Hello @KristineTrona
It could be returning null as the primary key schema for Location uses two fields. This is supported in the updated `@connection` definition. You can reference both new id fields so it can run the get operation on the location field.
[code]

[2021-07-21 22:31] SwaySway commented on #7772
Hello @yuhui
A few questions here
- Did you create this schema locally or through admin ui?
- Can you send over a reproducible schema? If the information is too sensitive you can send it to amplify-cli@amazon.com. (please include your issue number)

[2021-07-21 22:37] SwaySway commented on #7771
@alonsnir
If you have the project pulled down in a local machine you can enable datastore by running `amplify update api`. After running `amplify push` the data models should be available in the admin ui.

[2021-07-21 22:43] SwaySway commented on #7742
When creating the new env in a different account did the CLI prompt which profile to use?
This should setup the deployment bucket to handle the resources.

Is there a different error happening in the master env?

[2021-07-22 05:04] hisham opened #7777 "Cannot Remove Environment Variable from Lambda"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-22 05:10] hisham commented on #7777
To get it to work I had to manually remove the following from the MyFn-cloudformation-template.json parameters list:

,
    "myEnvVar": {
      "Type": "String"
    }

[2021-07-22 05:46] hisham commented on #7777
But when I switched to another env, amplify push on that env failed. Turned out I had to remove another instance from myEnvVar from my team-provider-info.json and then things worked.

So from my perspective removing env vars from lambdas via amplify cli is completely broken.

[2021-07-22 07:16] #7750 closed

[2021-07-22 07:43] KristineTrona commented on #7752
@SwaySway Thank you for the response, I've tested the above example and can confirm that it indeed works. :)

[2021-07-22 12:29] wongzigii opened #7778 "amplify update auth failed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-22 13:11] konradkukier2 commented on #1886
@malcomm did you end up implementing this on your own? I've had several attempts during last year but never managed to work around it with proper and scalable solution.

Did amplify team communicate in any way regarding this in other threads maybe?

[2021-07-22 13:21] dror-laguna commented on #1886
@konradkukier2 we implemented and open source it
https://github.com/aws-amplify/amplify-cli/issues/1886#issuecomment-852900319

[2021-07-22 13:23] konradkukier2 commented on #1886
@dror-laguna Thanks a lot! I've seen it just today and we're already planning the time to give it a try next sprints. Fingers crossed :crossed_fingers:

[2021-07-22 14:38] togami2864 commented on #1245
Unfortunately, the core library used for parsing config files(.ini files) doesn't support preserving comments.

If you write comments with `\` or `//`, these comments retain after `amplify configure` but, the comments will output with `=true` like the following.

config file
[code]

after `amplify configure
[code]

This is WAI of the library.
(ref: https://github.com/npm/ini/issues/32)

[2021-07-22 15:06] RubberChickenParadise commented on #3977
@BeaveArony you cant use the amplify update auth to add the admin queries on an imported cognito user pool.  That is the issue I am also trying to solve.

[2021-07-22 16:25] mversteeg opened #7781 "Models not generated for types marked with @model when multiple schema files in "schema" directory instead of in one schema.graphql file"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-22 17:51] warrenmcquinn opened #7783 "Add API Cache to API Gateway for Amplify REST API"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

API Gateway

### Describe the feature you'd like to request

At the moment, it does not appear possible to create an API Gateway route with a "request path" as a cache key. This makes setting up an API Cache difficult.

Steps to reproduce:

- `amplify add api`
- Set up REST API
- add route and

[2021-07-22 18:02] warrenmcquinn commented on #7716
Just chiming in to say that I also encountered this issue, and these exact parameters were listed in `amplify/backend/api/someApi/parameters.json`. Thanks for the workaround for now!

[2021-07-22 18:17] SwaySway commented on #7314
Closing this issue in favor of https://github.com/aws-amplify/amplify-cli/issues/2803.

[2021-07-22 18:17] #7314 closed

[2021-07-22 18:19] SwaySway commented on #7752
Closing issue as the op question has been answered.

[2021-07-22 18:19] #7752 closed

[2021-07-22 20:59] alessandromoscato commented on #7476
Hi @josefaidt, the issue has not been happening for a while now. Please find below my answers:

- no, there is just one layer, to which all Lambda functions are connected
- could you please clarify this question?
- no, I check the templates and they seem correct and consistent with what I have done. My understanding is that there is a local copy of the template in a hidden folder, which is used to

[2021-07-22 21:57] spavuluri commented on #5275
+1 for a parameter to be able to do a headless amplify pull without modifying the backend.

[2021-07-22 23:34] SwaySway commented on #7777
@hisham
Did you add the env variable with a prior version and remove it with version 5.1.2?
I was not able to repro using 5.1.2 I was able to add and remove a env variable.

[2021-07-22 23:52] SwaySway commented on #7778
@wongzigii
Did you try to remove google as a social provider?
I did not run into that error, here's what I did to repro on v5.1.2
- add google and facebook
- run `amplify push`
- run `amplify update auth`
- remove google as a social provider
- run `amplify push`

[2021-07-22 23:54] fireflysemantics commented on #4744
OK - I was confused about this too.

So I followed what it said here and this worked fine:
1) `amplify configure`
2) Log in to AWS
3) Enter the existing user name
4) Just cancel out of the Web Setup
5) Enter existing existing AWS credentials in the CLI

And that's it.  The existing credentials are reused.

[2021-07-23 02:46] hisham commented on #7777
yeah I added it with 5.1.1 and removed with 5.1.2.

[2021-07-23 05:30] yuhui commented on #7772
@SwaySway

I created the schema locally.

I have sent this to the email address.

[2021-07-23 07:31] georgeleeventures commented on #5370
+1 Postgresql support. When is this coming? It's been so long and this is open for quite a while...

[2021-07-23 07:38] georgeleeventures commented on #3081
+1 for Postgres support. MySQL isn't ACID compliant. How come Amplify supports MySQL and not Postgresql?

[2021-07-23 09:29] bourkison commented on #1220
+ 1

[2021-07-23 10:44] devpresleycobb commented on #3494
I just ran into this issue and for me the problem was you cant update this setting after the pool has been created.
From docs: "This configuration is immutable once it has been set."

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cognito-userpool.html#cfn-cognito-userpool-usernameconfiguration

Once I deleted my cloudformation stack and deployed the stack again it all

[2021-07-23 11:45] wongzigii commented on #7778
I've renamed the project directory name, maybe that's the issue.

[2021-07-23 13:16] mjza commented on #7754
Thanks.

[2021-07-23 13:16] #7754 closed

[2021-07-23 13:41] mjza opened #7787 "How to call a lambda function from an overwritten resolvers?"
Assume I have the following simple model:

[code]

This model would generate some mutations and I want to overwrite the `createUser`. Therefore, I have copied the original code from appsync and added a snippet of custom code on top of it.

[code]

I have a small question.
I want to move the following customized part of the code to a lambda function and to be able to call it in several places.

[co

[2021-07-23 13:52] mjza commented on #7787
The source of problem or my mistake is somewhere in the `CustomResources.json`. How can I provide suitable code in Resources block to be able to call a lambda function in my resolver. After modifications I reached this that cause the problem:

[code]

Error says: `Only one resolver is allowed per field.`

[2021-07-23 14:37] MaximilianSchon commented on #6387
@attilah It says that #2084 is closed because the issue has been adressed on the current CLI, but I still get this issue on the current (5.1.2) CLI.

[2021-07-23 15:03] josefaidt commented on #7476
Hey @alessandromoscato thank you for the information and glad to hear you are not experiencing the issue anymore! I have not been able to successfully reproduce with the steps provided, however I do want to continue to keep an eye on this issue. If/when you experience this issue again please provide the steps necessary to reproduce, which will help us better identify what went awry.

I'll close th

[2021-07-23 15:03] #7476 closed

[2021-07-23 16:42] #7661 closed

[2021-07-23 16:57] attilah commented on #7300
@Coteh could you try with the latest CLI and the original version? If you like to depend on the aws sdk credential handling and don't want the CLI to try to source the credentials there are ways for it.

See references here:
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-configured-credential-process.html
Also you can source the credentials from external

[2021-07-23 17:02] SwaySway commented on #7781
This issue looks related to amplify codegen transferring to that repo for better visibility.

[2021-07-23 17:34] josefaidt commented on #7720
Hey @AlessandroVol23 those reproduction steps I posted were for a different bug related to auth triggers, not just functions 🙈 I'll remove the bug label and close this issue.

[2021-07-23 17:34] #7720 closed

[2021-07-23 19:46] ammarkarachi commented on #7703
@johnEthicalTechnology
I would suggest you keep them, It would require some testing on our part to make sure it doesn't break anything moving forwards

[2021-07-23 20:29] josefaidt commented on #7791
Hey @Lacan82 :wave: what's the error you're receiving after changing settings in the unrelated app client? Are you also experiencing this issue on the [latest version of the Amplify CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.1.2)?

[2021-07-23 20:41] Lacan82 commented on #7791
@josefaidt it more of a bug than an issue. So You don't receive an errors.  the issue derives from making a new app client but and not adding them into the into the identify pool under authentication providers. Amplify when you import and select the one that has an incomplete configuration will use the only one with a valid configuration. Basically Amplify should recognize the newly create App cli

[2021-07-23 21:31] josefaidt commented on #7791
@Lacan82 thank you for the details! To clarify, when you select the app client that is misconfigured the CLI is showing the wrong app client ID?

[2021-07-23 21:56] Lacan82 commented on #7791
@josefaidt  So, when Amplify finalized the configuration it will default to the original one not the one you selected. So then you get the wrong app id when it generates the json file.  not the one selected.

[2021-07-23 22:16] SwaySway commented on #7425
Hi @watilde
Is this repo for the creation of multiple tables? We could add another resource check to ensure that we can split the creation of tables in an iterative deployment or using the resource manager to create a dependsOn connection. Adding this issue as the feature-request to follow for that work https://github.com/aws-amplify/amplify-cli/issues/2584

Hi @sacrampton
Aside from multiple crea

[2021-07-23 22:18] luhanamz opened #7792 "RFC - Custom IAM Policies for Lambda and API Containers"
# RFC - Custom IAM Policies for Lambda and API Containers

*This is a Request For Comments (RFC). RFCs are intended to elicit feedback regarding a proposed change to the Amplify Framework. Please feel free to post comments or questions here.*

## **Summary**

Amplify CLI provisions IAM roles with policies to access different resources. Currently, adding custom IAM policies requires the customer to

[2021-07-23 22:38] renebrandel commented on #2278
hi @houmark - as promised, here's the RFC to enable additional policies, would love to get your feedback on this: https://github.com/aws-amplify/amplify-cli/issues/7792

[2021-07-23 22:44] renebrandel commented on #7049
Hi @amirhajimirsadeghi - we've just published an RFC on providing containers access permissions to external resources. Would love to get your feedback on it: https://github.com/aws-amplify/amplify-cli/pull/7346

[2021-07-23 22:44] renebrandel commented on #7667
Hi @frank-unovica - we've just publish an RFC to support custom IAM policies for Lambda functions. Would love to get your feedback on it: https://github.com/aws-amplify/amplify-cli/pull/7346

[2021-07-23 22:45] renebrandel commented on #6918
Just to follow-up on this thread. We've just published an RFC on this. Would love to get your feedback: https://github.com/aws-amplify/amplify-cli/issues/7792

[2021-07-23 22:46] renebrandel commented on #5627
Hi @ryanhollander - just checking in if this resolved your issue. I'll close this item for now. Please @-mention me if you believe it doesn't fully complete your use case.

[2021-07-23 22:46] #5627 closed

[2021-07-23 23:09] samuelmburu commented on #2384
@mattfysh

I haven't tried it, but you could try comment those lines that define the types, save and push those. This 'should' remove those tables. Afterward, you can uncomment those lines and then run another push... a painful work around since pushes take a while

[2021-07-23 23:56] amirhajimirsadeghi commented on #7792
Not one of the questions listed at the bottom, but if it's between proposal 1 and 2, as a user of the CLI I'd prefer 2 since it fits into the already existing workflows and it would be a natural place to look for tapping into this functionality.

Proposal 1 would require further reading of the documentation and potential visits back if you forget where the custom policies are kept.

[2021-07-24 04:40] pedramp20 opened #7793 "Social sign in with apple scope, mapping and environment variables"
Recently sign in with apple option is added to the supported options in CLI (5.1.2). The hostedUIProviderMeta parameter is generated as follows:

[code]
This authorisation scope for sign in with apple is comma separated and attribute mapping is missing name to name and sub to username maps, this results in a weird configuration of the federation identity provider and mapping (a record with email,n

[2021-07-24 05:04] frank-unovica commented on #7792
It should be possible to add a **Condition** clause as well (such as s3 prefix partitions linked to auth groups/env), override the Effect to deny part of a resource and define arrays instead of strings (for instance by typing a hyphen). At least in a later version.

A further improvement in any case is to introduce **(recursive) resource groups** as a category, so they can be attached or edited as

[2021-07-24 07:34] nathanagez commented on #2384
As a workaround I rename in my AppSync schema the types, `amplify push` then reverse the rename operation and re-run `amplify push`

[2021-07-24 08:41] AlessandroVol23 commented on #7685
Just one update. I still experience the issue. And one of the worst parts is that **Sign in with Apple** gets overriden which results in a downtime on **any** deployment on prod.

[2021-07-24 09:13] rudyhadoux opened #7794 "AWS Amplify eu-west-3 Paris"
Hi,
It seems impossible to configure the eu-west-3 region for Amplify-cli.
Why ?

[2021-07-24 10:10] MedNabilEssefaihi opened #7795 "Missing Authentication token"
Dear Support Team,

I am building react app with **Cognito** for **auth** and **unauth** user, **DynamoDB** with **GraphQL API** to connect with my app
In my case I am trying to get data from DynamoDB by Graphql API the request works very well in some devices but in some other devices it doesn't work and returns the error: **Missing Authentication token.** even that I give permission in **I AM rul

[2021-07-24 10:25] Rubix982 commented on #5374
@ammarkarachi should this issue be closed?

[2021-07-24 13:38] jonmifsud commented on #3326
If it helps to add to the list :)

We consume a lot of webhook data. In some instances webhook data is provided 1-1. which we are happy to process right away.

however, sometimes we may get a webhook with hundreds of data points to handle. Whilst not too heavy - this would be multi-tenant user data that would require reaching out to external APIs (for each instance) to get refreshed/updated data.

[2021-07-24 15:56] jmarshall9120 commented on #7741
@SwaySway

So running init doesn't seem to work, same issue:

![image](https://user-images.githubusercontent.com/30184747/126873757-f25f04b9-0382-457e-aa82-fc27f06a5c85.png)

Running configure prompts me to create a new IAM profile.  Again not the solution, I need to use the profile associated with the account and project when I created the project on my other computer.

![image](https://user-imag

[2021-07-25 00:30] GeorgeBellTMH commented on #7792
I have been adding custom policies into associated templates. Questions:

1. Are you planning for only one custom-policies.json? Or would there be one for each function, each hosting bucket, etc. I would hope at the least each function would get one to help with organization.
2. Would there be a way to pull out custom policies from existing templates etc. or would we have to manually move them ove

[2021-07-25 01:29] mattfysh commented on #2384
@samuelmburu

So I recreated the table manually (including attributes) to fix the CF error, then I tried this approach of commenting out the lines.

Unfortunately, another resource (serverless container) had permission to the backing table, and everything went back into an unhealthy state again.

[2021-07-25 08:39] Newbie012 commented on #7743
@cjihrig Is there a way I could contribute to move forward with this issue?

[2021-07-25 20:44] nilyin opened #7999 "amplify push generates error"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-07-25 21:40] nathanagez commented on #4826
Any updates on it ?

[2021-07-26 04:59] kgoyal98 opened #7798 "How to do a complex database query in AWS Amplify"
With Amplify API I am trying to implement something like a social network website. In the website, users can follow people and add posts. In the timeline, users can see the posts of people they follow.

Schema is something like this:

[code]

While implementing the timeline feature, I got stuck. How can I query user's timeline posts?
If I use RDS it might be easier by using a complex SQL query. Ho

[2021-07-26 05:53] osddeitf commented on #1407
Totally agree with you. It's easy to set up projects from scratch.
But in long term, when there's a need to changes, we eventually are in hell.
Amplify hide very much implementation details, so it's lack of production-grade features.

[2021-07-26 07:09] studpeps opened #7799 "amplify-graphql-types-generator windows compatibility error when testing snapshots"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-26 07:37] nathanaerocloud commented on #7751
Small update: a fellow engineers was able to replicate this situation on his system following these steps, would appreciate any input on a workaround

[2021-07-26 08:26] cfbo commented on #5972
It would be great to get some feedback on this from the amplify team, on whether they have any plan to implement this feature in the future or whether it's never going to happen.

[2021-07-26 08:57] eciuca commented on #1774
Thanks for the workaround @wai-chuen. I want to add a +1 for this functionality. We also have tables with the ApiID and env name in their name ...

[2021-07-26 16:08] sananbintahir opened #7802 "Next.js environment variables not being set on override"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-26 16:42] josefaidt commented on #7791
Hey @Lacan82 I was not able to successfully reproduce using the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.1.2) following the steps provided on both JS and Flutter based apps. Can you try upgrading the CLI and re-importing the auth resource?

[2021-07-26 16:49] josefaidt commented on #7500
Closing issue, @kymmeh if you experience this issue again or identify any significant logs in CloudFormation or CloudWatch related to the creation of the `NONE` data source please let us know and we can re-open this issue to investigate further 🙂

[2021-07-26 16:49] #7500 closed

[2021-07-26 16:54] josefaidt commented on #7677
Closing issue, @dilaver if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further! 🙂

[2021-07-26 16:54] #7677 closed

[2021-07-26 17:50] matart15 opened #7803 "Failed to create models in the cloud: Modelgen job creation failed"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-07-26 19:07] dperconti opened #7855 "Error: auth headless is missing the following inputParams userPoolId, webClientId, nativeClientId, identityPoolId"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-07-26 19:20] josefaidt commented on #7751
Hey @nathanaerocloud :wave: thanks for raising this and apologies for the delay! I was able to successfully reproduce this error using the steps and details provided (thank you for the details, they were very helpful in reproducing 😄). Marking this as a bug

Reproduction steps:

[code]

Below are the sample files used:

[code]

[code]

[2021-07-26 19:31] nathanaerocloud commented on #7751
Hi Josefaidt

Glad you were able to get the same result, will you fix the issue or provide a workaround? what does assigning as a bug result with?

best regards

Nathan

[2021-07-26 19:38] div5yesh opened #7805 "Inconsistent status between PUSH and STATUS commands after push fail"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-26 19:43] nijatb commented on #3222
+1

[2021-07-26 19:49] josefaidt commented on #7751
Hey @nathanaerocloud by labelling as a bug (and not a feature request, for example) the team will work with the provided steps and details to provide a resolution. For this issue in particular I do not have a workaround for, unfortunately. However, the team can now use this added context to work towards a proper solution 🙂

[2021-07-26 20:06] asmajlovicmars commented on #7792
Great addition!

* Could it be a workflow writing into a file? Sometimes it's easier to update the file to re-generate policies without going through a workflow again?
* I'd leave the Effect for both: deny and allow

[2021-07-26 20:07] josefaidt commented on #7656
Hey @catherine-augustine :wave: I am unable to reproduce with the steps and zip file provided. Can you post the logs from `~/.amplify/logs/amplify-cli-<issue-date>.log` after attempting to push again? On Windows the `.amplify/` directory is in your users profile (typically `C:\Users\<your-username>\`)

[2021-07-26 20:14] catherine-augustine commented on #7656
[code]

[2021-07-26 20:27] sundersc commented on #7751
Hey @nathanaerocloud Can you add a key "build: true" to the entry point container and give a try.
Something like this.

[code]

[2021-07-26 20:46] SwaySway commented on #7778
@wongzigii
You can run `amplify configure project` so the project also reflects the project directory name change.

[2021-07-26 20:52] RadomirPerisic opened #7806 "Pushing auth tries to create existing IAM Roles and throws error"
### How did you install the Amplify CLI?

npm

### If applicable, what version of Node.js are you using?

14.15.0

### Amplify CLI Version

5.1.2

### What operating system are you using?

Mac

### Amplify Categories

auth

### Amplify Commands

push

### Describe the bug

When making changes to auth settings I can't push them anymore, I'm getting following errors:

[code]
[code]

### Expected beh

[2021-07-26 20:52] SwaySway commented on #7783
Hey @warrenmcquinn
We currently don't support this in the CLI workflow, however we are looking into how you can override generated resources, such as adding caching. No timeline on this yet.

[2021-07-26 21:12] cjihrig commented on #7743
@Newbie012 are you referring to versions of Node that the CLI can run on, or Lambda functions, or something else?

[2021-07-26 21:17] Newbie012 commented on #7743
I'm referring to the versions of Node that amplify uses to build the app in the docker file (when provisioning):

![image](https://user-images.githubusercontent.com/10504365/127060469-99a87f63-6b3a-409e-b08f-a729aaa3e611.png)

[2021-07-26 21:36] SwaySway commented on #7632
Marking as documentation to note minimum requirement of internet speed.

[2021-07-26 22:42] RadomirPerisic commented on #7806
I deleted IAM roles manualy and they got recreted, now it works fine.
Not sure how this happened in the first place tho.
Closing the issue.

[2021-07-26 22:42] #7806 closed

[2021-07-27 05:59] nielsautrata commented on #7787
Can anybody provide an answer for this question?

[2021-07-27 07:39] LeoLapworthKT commented on #4993
thanks @cjihrig that worked.. thought as node_modules arn't included in our repos it won't actually help the next person unless we start patching as we go

[2021-07-27 07:57] nathanaerocloud commented on #7751
Hi Sunersc,

Did you try this locally yourself? I get

`services:
  strapiexample:
    image: strapi/strapi
    build: "true"
    container_name: strapiexample
    restart: unless-stopped
    env_file: .env
`
docker-compose up -d
services.strapiexample.build must be a string

I tried adding quotes ie  "build" the build got further but exited with

unable to prepare context: path "true" not found

[2021-07-27 08:09] studpeps opened #7813 "amplify-cli-core tests unable to match substring (windows)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-27 08:36] PatrykMilewski commented on #1269
It's also not working for me. Any plans to fix that? Using `--force` doesn't really help

[2021-07-27 10:48] adi518 commented on #979
Ridiculous error. It renders the feature branch feature almost useless.

[2021-07-27 10:59] amcdnl commented on #4993
Almost a year now and no traction :(

[2021-07-27 11:17] amcdnl commented on #6428
Any updates @nikhname ?

[2021-07-27 11:23] amcdnl commented on #4113
@johnpc - Yesterday I got this message about 8 times when trying to push the following:

![image](https://user-images.githubusercontent.com/227909/127145602-f2d367ee-4f75-4f0d-960f-f1ef8cae8eef.png)

Tried on 4.x and 5.x CLI versions. This is a HUGE issue for me as when this happens I have no way to deploy.

[2021-07-27 11:48] danfreid commented on #6266
I had the same problem.  In my full schema, it had both type @model definitions for RateSheet and RateSheetTable.  When I changed the second table to RatesSheetTable2, it worked.  Maybe there is some code gen happening that creates RateSheetTable from the first RateSheet type?

[2021-07-27 13:27] josefaidt commented on #4113
Hey yall :wave: I'll be circling back to this issue today to try it out in WSL.

[2021-07-27 14:01] josefaidt commented on #7749
Closing issue, @yash-5575 if you are still experiencing this issue and are in need of further assistance please reply back to this thread and we can reopen to investigate further 🙂

[2021-07-27 14:01] #7749 closed

[2021-07-27 14:48] avlonder commented on #5079
Any decent solution yet?

[2021-07-27 15:11] nosnilmot opened #7815 "'amplify init' uses wrong profile for s3 upload for secondary environments"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-27 16:58] luhanamz commented on #7792
Hi @GeorgeBellTMH,
Thanks for your comment!

There would be one custom-policies.json for each function for file based workflow. The file is optional and added manually following the template.

 For now, we have to manually move the custom policies over.

[2021-07-27 17:13] johnpc commented on #7805
I wasn't able to reproduce it, but I may have followed your reproduction steps incorrectly. When you say:

I interpreted that as selecting email as the desired auth mechanism:

[code]

Then ran the initial `amplify push`.

And now when I run `amplify status && amplify push` I get the following:

[code]

[2021-07-27 17:43] johnpc commented on #7805
Ah, I see, my initial push did not fail, which is the reason it succeeded for me.

[2021-07-27 17:52] josefaidt commented on #4993
Hey @amcdnl :wave: although we do not have current plans to support local installations, we have an [open RFC for runtime hooks](https://github.com/aws-amplify/amplify-cli/issues/7614) which should address the use case for keeping team members on the same version of the CLI.

For executing `amplify` commands from an npm script, these commands should work as long as `@aws-amplify/cli` is not includ

[2021-07-27 18:11] johnpc commented on #7802
I'm not very familiar with nextjs - can you provide more detailed information on specifically how to reproduce this?

Also, I'm not convinced that writing to the `.env` file will have an impact on your environment variables. Have you tried using `export NEXT_PUBLIC_API=[your value]`?

[2021-07-27 18:27] johnpc commented on #7798
So this should be possible to accomplish without using a complex sql query.

Just call `listPosts` with appropriate filters and update your schema file to this:

[code]

Please reopen if you have any further questions

[2021-07-27 18:27] #7798 closed

[2021-07-27 18:38] johnpc commented on #7507
the user you need to sign in as is the amplify admin ui user you're taking the role of when you pull. So this extra login step is required for AdminUI apps.

This the original FeatureFlag issue still happening after reinstalling amplify?

[2021-07-27 19:12] sundersc commented on #7751
After making the change, CFN template is generated as expected. However the command "amplify push" fails with the error message "The following resource(s) failed to create: [DeploymentAwaiter]" for me. This usually happens if there are errors in the docker file.

[Error with DeploymentAwaiter on amplify push #6421](https://github.com/aws-amplify/amplify-cli/issues/6421)

[2021-07-27 19:13] meekgeek commented on #7815
I had the same issue, the workaround is to temporarily change your first profile to the one you're trying to use for the second. :)

[2021-07-27 19:25] johnpc commented on #7805
This can be reproduced by using an AWS account where S3 is configured to block public access

[2021-07-27 19:36] ajonp commented on #6896
4.1 is the most interesting to me. Building an application like StreamYard that allows multiple users to connect using Kinesis with WebRTC then combining these into a suitable single stream that is then broadcast using Kinesis media streams.

This is an extremely exciting area that you can find more on in the labs https://github.com/awslabs/amplify-video

[2021-07-27 19:46] nathanaerocloud commented on #7751
Hi Sundersc,

I did not try the push being honest, I was testing it locally first with

#docker-compose up -d

sounds like we still have an issue either way :(

[2021-07-27 20:16] josefaidt commented on #7656
Hey @catherine-augustine thank you for that information! May you also post the log from the day the original error happened?

Also, to get a better idea of where the error is happening, can we try adding a `console.log()` statement in one of the CLI's files' catch block to log the full stack trace?

The file is located at:

[code]

And we'll want to add the console.log in the following try/catch b

[2021-07-27 20:20] johnpc commented on #7802
It appears nextjs environment variables can be set a different way in the amplify console. See https://github.com/aws-amplify/amplify-console/issues/1987#issuecomment-885217940

I'll transfer this issue to them, please note if that comment helps.

[2021-07-27 20:45] sundersc commented on #7751
It looks like docker is using build value to set the relative path. I've tried with the below docker file (changed build value to ".") in local, it works fine for me. However when I do amplify push, it fails with the error message I mentioned before. We will look into this.

[code]

[2021-07-27 20:50] div5yesh commented on #7805
Steps to setup auth with email verification with link redirect:
[code]

[2021-07-27 22:09] josefaidt commented on #7772
Hey @yuhui :wave: are you seeing this error on `amplify push`? I was able to push and interact with the provided schema okay, however I can generate a similar error if I explicitly run `amplify codegen models`. Do you have DataStore enabled?

[2021-07-27 22:10] #7696 closed

[2021-07-27 22:10] catherine-augustine commented on #7656
![image](https://user-images.githubusercontent.com/67876056/127234102-716a3581-2978-4f99-9671-97f8b055fea5.png)
I don't see that at all.

[2021-07-27 22:16] josefaidt commented on #7656
Okay no worries that folder was in a slightly different location on my machine as well. Perhaps it is located at the following path?

[code]

[2021-07-27 22:18] #7799 closed

[2021-07-27 22:19] #7308 closed

[2021-07-27 22:19] jhockett commented on #7308
This issue was addressed in the latest release, 5.2.0.

[2021-07-27 22:46] catherine-augustine commented on #7656
![image](https://user-images.githubusercontent.com/67876056/127237079-ae39c8f7-d671-48b7-8c90-4409a820df8b.png)

I added the console log. Am I missing something? I still dont see the console error . Changed the error description. I didnt see that either on the cli console.

[2021-07-28 01:33] GeorgeBellTMH commented on #4993
The problem of course is when you have multiple projects that rely on different versions of the CLI...constantly having to reinstall globally to prevent updates from accidentally getting into different environments...

[2021-07-28 01:34] johnpc commented on #7793
Is this a bug report for the CLI? If so can you provide steps to reproduce, and describe what you expected vs what you got?

As for your comment about the doc site, I believe that page is owned by amplify console, you can open up a ticket with them [here](https://github.com/aws-amplify/amplify-console/issues)

[2021-07-28 02:47] yuhui commented on #7772
Yes, I had first encountered the error when running `amplify push`. Yes, I had to enable DataStore to work with the models in Admin UI.

Frankly, I'd prefer if I could just delete this bad app once-and-for-all, even if the issue is not resolved. But I can't even delete the app too because of that error. Is there a way to force-delete an Amplify app?

[2021-07-28 08:27] nathanaerocloud commented on #7751
Hi sundersc

Thank you for looking at this for us, I confirm that works locally for me also but fails with the following error when pushed to Amplify

The following resource(s) failed to create: [DeploymentAwaiter].

[2021-07-28 12:52] djsmedes commented on #7815
Same issue. We just upgraded from amplify CLI version 4.41.2 where this issue was not present, so it's been introduced sometime since then.

[2021-07-28 13:06] jess010 opened #7818 "Unable to get latest version of cli (or uninstall current one)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-28 13:12] ingwinlu opened #7819 "Amplify CLI is converting cloudformation yaml types (bool + numbers) to strings"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-28 13:46] kgoyal98 commented on #7798
@johnpc
I am unable to create the filter after reading the documentations. Can you please tell specifically what would be the filter?

[2021-07-28 14:23] descaloni-thinkwhy commented on #7132
Resolved. Thank you!

[2021-07-28 14:23] #7132 closed

[2021-07-28 14:45] #7813 closed

[2021-07-28 14:48] josefaidt commented on #7656
@catherine-augustine can you confirm the Amplify CLI's executable path? On Windows I believe this can be found using `where.exe amplify`.

[2021-07-28 15:40] EringiV3 opened #7821 "amplify init in headless mode after amplify import auth, I get error "OAuth properties for the app clients are not matching"."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-28 15:50] EringiV3 commented on #7821
I have created a pull request to solve this problem.
https://github.com/aws-amplify/amplify-cli/pull/7822

[2021-07-28 15:52] josefaidt commented on #7772
I was able to reproduce the DataStore error after enabling with the provided schema, as well as the schema from a relevant issue in another repo https://github.com/aws-amplify/amplify-ios/issues/505

I did notice that it was able to push but failed at creating models, and was able to mitigate this by disabling datastore:

1. `amplify update api`
2. Choose "GraphQL"
3. Choose "Disable DataStore for

[2021-07-28 16:28] ehayne00 commented on #1865
We were new users of amplify/dynamodb for a clients project, attempting to learn on the job. Bad idea. Adding @searchable to a model after valuable database instances have already been created means they aren't found through any elastic search query thereafter. Its crazy that we cant just simply retrieve a count for the purposes of data collection and analysis on a companies report page, so they c

[2021-07-28 17:18] johnpc commented on #7818
Interesting - this always works for me.

What is the result of running `which amplify` and `npm root -g`?

[2021-07-28 17:51] johnpc commented on #7795
it could be that the authentication token is not being included in your request or that that the authentication token for your api has expired. Are you using amplify-generated code to initiate the request? Can you reproduce the error in a REST client or curl request?

[2021-07-28 17:52] jess010 commented on #7818
which amplify
/usr/local/bin/amplify

npm root -g
/Users/<user>/.nvm/versions/node/v12.22.3/lib/node_modules

[2021-07-28 18:04] josefaidt commented on #4113
Hey @amcdnl can you send a zip file of your amplify directory to amplify-cli@amazon.com?

[2021-07-28 18:11] duwerq commented on #1865
For anyone, here's a simple function you could reuse or tweak in a Lambda.  Create a lambda with the cli and name it something like `updateCounts`. Then drop this into the lambda

[code]

Then go to `amplify/functions/updateCounts/updateCounts-cloudformation-template.json` and add the following

[code]

Run amplify push and you should be good to go.  You can test by adding a record in DynamoDB in

[2021-07-28 18:16] zkwentz commented on #1865
Careful with lambdas that update the count. I currently do this, but you run into problems at scale, specifically: these lambdas that count are not idempotent, every time they run they increase or decrease the count (unless modified if that's part of your logic).

The problem is that lambdas are not guaranteed to run once if a record is updated. You could have, if a table has a bunch of updates on

[2021-07-28 18:21] amcdnl commented on #4113
@josefaidt - Can you message me on AWS Community Builders Slack?

[2021-07-28 18:25] duwerq commented on #1865
@zkwentz but if you rely on INSERT or REMOVE on the record.eventName and a `typeName` specific to the added/removed record, won't it only run the Lambda once off the stream?

[2021-07-28 18:31] zkwentz commented on #1865
@duwerq unfortunately no, even insert and removes can be sent multiple times in my experience. I think it has something to do with the event batching and when a table is under heavy load? I'd love to know better from the Amplify / Dynamo team if that is the case.

[2021-07-28 18:36] josefaidt commented on #4113
@amcdnl are you available on [our community Discord](https://discord.gg/jWVbPfC) by chance? I can ping you there, or my user is `@josef`.

[2021-07-28 18:37] duwerq commented on #1865
from the Docs:

"DynamoDB Streams helps ensure the following:

Each stream record appears exactly once in the stream.

For each item that is modified in a DynamoDB table, the stream records appear in the same sequence as the actual modifications to the item.
"

More here https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html

I can't speak to your experience but it sounds li

[2021-07-28 19:39] dcfranca opened #7824 "Stack fails to update on `amplify push`, seems to be related to a lambda layer that it fails to remove"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-28 19:45] zkwentz commented on #1865
I can't recall specifically why this was happening but my understanding was that it was occurring on insert and remove.

With no ability to reproduce that same load that caused it now, I'll hold off on pushing this point further and defer to the docs, and add my own note which is to say, "ensure you don't have idempotency requirements when counting in a lambda."

[2021-07-28 21:18] josefaidt commented on #7824
Hey @dcfranca :wave: thanks for raising this and providing details! Sorry to hear that you've had a rough experience! The initial error regarding `HostedUIProvidersCustomResourceInputs` seems related to https://github.com/aws-amplify/amplify-cli/issues/7685 and `Cannot read property 'filter' of undefined` seems related to the auth triggers.

A few follow-up questions:

- after running `amplify pul

[2021-07-28 21:51] dcfranca commented on #7824
@josefaidt Thanks for the quick reply

Regarding your questions:
* Yes, it shows no changes
* Not sure if I understood this questions, but dependency was the layer

Just a quick update: I managed to at least fix the issue that was limiting the access of my users:
When trying to run `amplify push`, my function first was correctly being updated, but then after the rollout fails it was rolling back t

[2021-07-29 02:29] jeremy-white opened #7825 "Lambda Secrets break when utilizing multiple AWS accounts"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-29 06:08] TheChickenDevOps commented on #1102
If I execute the command
`aws --profile YOUR_PROFILE_NAME amplify delete-job --app-id YOUR_AMPLIFY_APP_ID --branch-name BRANCH_NAME --no-cli-pager --job-id JOB_ID`
it does not cancel the job.

[2021-07-29 06:18] wongzigii commented on #7778
OK Good to know Thanks @SwaySway Closing

[2021-07-29 06:18] #7778 closed

[2021-07-29 09:28] khacminh opened #7828 "Incorrect resource in generated lambda policy"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-29 12:13] RossWilliams commented on #1865
The Lambda function reading from the stream needs to send a response back to the stream to acknowledge the batch was processed. If the function returns an error, the items in the batch will be processed a second time (and potentially by a new instance of the function).
See this guide from AWS: https://aws.amazon.com/blogs/compute/optimizing-batch-processing-with-custom-checkpoints-in-aws-lambda/

[2021-07-29 14:12] connected-mdeluco opened #7829 "Constant unexpected changes when pushing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-29 15:00] bmilesp opened #7830 "Unable to select any Cognito User Groups using the Mock endpoint for testing @auth directive"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-29 15:01] nosnilmot commented on #7815
This issue was introduced between Amplify CLI version 5.1.1 and 5.1.2

These versions have been tested and confirmed to work: 4.41.2, 4.52.0, 5.0.0, 5.1.0, 5.1.1
These versions have been confirmed to fail: 5.1.2, 5.2.0, git HEAD

Using 'git bisect' I have narrowed the problem down to this commit:
7471c5fcc86af0e17a967066a388f67891f93355 - fix: #7441 - init from git prompts for credentials twice (#

[2021-07-29 15:36] alex-unikorny opened #7831 "Deprecated usage of cfn-lint"
https://github.com/aws-amplify/amplify-cli/blob/b1b6291ac79b18b55723f9463aa93005ab75be88/packages/amplify-provider-awscloudformation/src/push-resources.ts#L539

The library https://www.npmjs.com/package/cfn-lint is deprecated, and I get some confusing errors, for example in my case I have this error pushing resources -- No such resource AWS::CodeArtifact::Domain, but if I validate the template wit

[2021-07-29 15:41] johnpc commented on #7831
any chance you could share your configuration that fails this deprecated validation, but passes using aws cli validation?

[2021-07-29 15:51] alex-unikorny commented on #7831
Here is an example, thanks!

[codeartifact-cloudformation-template.yml.zip](https://github.com/aws-amplify/amplify-cli/files/6901826/codeartifact-cloudformation-template.yml.zip)

[2021-07-29 16:11] josefaidt commented on #7803
Hey @matart15 :wave: thanks for raising this! A few questions to better understand the issue:

- are you able to run `amplify codegen models`?
- do you have DataStore enabled?

[2021-07-29 16:18] josefaidt commented on #4566
Hey yall :wave: thanks for raising this! I'll transfer to the codegen repo for better assistance

[2021-07-29 16:43] johnpc commented on #7831
Recently, another customer was experiencing these errors (https://github.com/aws-amplify/amplify-cli/issues/7132) so we changed cfn-lint from an error to a warning and resolved the issue.

Since aws cli only provides linting source code in python, we can't easily share the linting logic with aws-cli.

If you're still experiencing issues with errors, you may just need to upgrade your version of the

[2021-07-29 16:55] alex-unikorny commented on #7831
Makes sense, but current master branch has the log level as error, I'm seeing context.print.error instead of context.print.warning, I checking a wrong branch maybe?

[2021-07-29 17:26] dorontal commented on #7666
With the new version of Amplify CLI 5.1.2 -- this issue has gotten **worse** -- because this new problem I will describe seems extremely related to the one above, I will describe it here, but it is a **new** problem even though the title of this issue fits it perfectly.  This new problem may need a new bug labeled issue and I may open one later for it. It is worth mentioning here.

It is now impos

[2021-07-29 17:38] dorontal opened #7833 "Auth Sign Up Custom Flow -- username cannot be of email format anymore in `Auth.signUp()`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-29 17:41] dorontal commented on #7833
This is very likely related to #7666 and that's why it is mentioned there (the problem in issue #7666 is the same problem but this is a different way in which the same problem shows up).

[2021-07-29 17:47] connected-mdeluco commented on #7829
Here's another, after checking out an environment. `myAppService` doesn't exist in the environment I switched to, so presumably it should be removed entirely from `team-provider-info.json` rather than set to an empty object.

The parent object of `myAppService` is `categories`.

[code]

[2021-07-29 17:50] chris commented on #1102
@TheChickenDevOps Note that you will still see the jobs listed after you do the delete (it's misleading for sure), but what it does is delete the logs and such behind the scenes, which then reduces your storage usage. But it does make it tough because you can't really know which ones you've done this for or not, since listing the jobs still shows them. I really hope AWS can do something to improve

[2021-07-29 17:58] josefaidt commented on #7824
Hey @dcfranca thank you for the information! I'm glad to hear your app is currently functional. To clarify, what is the current error you are getting from running `amplify push`? And originally the function that is a part of a layer was deploying without the attached layer?

[2021-07-29 18:49] dorontal commented on #7833
I can't tell for sure but do believe that it's quite likely the fix of #7671 will resolve this issue too. Thanks for mentioning it.

[2021-07-29 18:51] josefaidt commented on #7777
Hey @hisham :wave: thanks for raising this! I've been able to reproduce in 5.1.2 and the latest version 5.2.0 as well. This appears to specifically affect environment variables and not secrets. After running `amplify pull --restore` the function does not show environment variables configured, but shows the env var and asks us for the value on a subsequent push. Marking this as a bug

Reproduction

[2021-07-29 19:36] vbbandeira opened #11163 "Limited experience with Lambda Triggers and Destinations in AWS Amplify"

[2021-07-29 20:07] nathanaerocloud commented on #7751
Hi Sunderc

Just wondering have you made any progress on a fix? be great if we could get passed this issue

Many thanks