[2020-02-20 18:56] #3483 closed

[2020-02-20 18:56] amcdnl commented on #1678
@iwatakeshi  - Yes thats all i'm trying to do. I was writing that code over and over again so I just made a library.

[2020-02-20 18:59] iwatakeshi commented on #1678
@amcdnl Thanks for the library!

[2020-02-20 19:13] sorokinvj commented on #1678
My problem is that my Lambda successfully updates DynamoDB with mutation, but in my frontend there is no real-data coming after update.

I catch subscriptions in useEffect
[code]
maybe I do need instantiate appsync client or use Connect component (https://aws-amplify.github.io/docs/js/api#connect)

[2020-02-20 19:31] bob-lee commented on #1678
@sorokinvj as your subscription is by `owner`, your client won't get real time update unless mutation doesn't include it in its request, so it should look like:

[code]

[2020-02-20 20:43] ammarkarachi commented on #3479
@juunone Amplify does not support multiple hosts, Don't hesitate to reach out if you have any other questions.

[2020-02-20 20:43] #3479 closed

[2020-02-20 20:46] kaustavghosh06 commented on #3479
@juunone Having said that you can do this with the Amplify console  hosting service - https://aws.amazon.com/amplify/console/
cc @swaminator

[2020-02-20 21:05] ngnathan commented on #1874
Thanks @tgjorgoski for the guidance you laid out.  I did something similar, where I created a separate lambda function, which is called by the trigger (Pre Token Trigger in my case) lambda function.  This does seem to slow down the login process quite a bit, since I have one lambda waiting on another, which probably isn't good practice.  Did you experience the same thing and did you find any way a

[2020-02-20 21:21] sorokinvj commented on #1678
Interesting, thanks! I will certainly try to include it!

So in my frontend I don't include this in mutation and everything works because amplify does this under the hood?

[2020-02-20 21:33] apanagos commented on #3411
We tested it today and I can confirm that the fix does work. Thank you @kaustavghosh06 , @SwaySway , @AaronHarris , @sammartinez , @yuth , @attilah for addressing the issue so quickly.
Now I have made some changes to our process. I changed "AWS Amplify" to not use the latest version of Amplify but to use a versioned (4.13.4) so it is in-sync with what we are developing with. As we upgrade and test

[2020-02-20 21:49] SwaySway commented on #3438
Hello @silvesteradamik the bug here is that the input type is requiring the `post` in `CreatePostEditorInput` type. A potential workaround here would be to make the connected fields nullable. This would not make a requirement to add the post type in the mutation.

[2020-02-20 21:50] kaustavghosh06 commented on #3440
@buixuanhai We don't open up the editor after push. Can you paste your entire terminal output here?

[2020-02-20 21:54] ammarkarachi commented on #3441
@Ricardo1980 Does it work in node 10.x?

[2020-02-20 21:58] kaustavghosh06 commented on #3441
@Ricardo1980 With the change you made to the Lambda function, does it work with NodeJS 10.x runtime? Is it backwards compatible?

[2020-02-20 22:02] kaustavghosh06 commented on #3445
@gabehollombe-aws This is a bug and we have an open issue out here regarding this issue out here - #2690

[2020-02-20 22:02] #3445 closed

[2020-02-20 22:05] ammarkarachi commented on #3459
@dimonchik-com The fix should be available 4.13.4

[2020-02-20 22:05] #3459 closed

[2020-02-20 22:18] JNeim commented on #1204
I think it's kind of ridiculous that you can't create a custom Attribute via the CLI after the cognito pool is created and pushed. So basically if you miss something or down the road want to add something in anyway whatsoever you have to completely remake the pool?

[2020-02-20 22:19] SwaySway commented on #3478
Hi @aprilmintacpineda this was addressed as a part of sanity checks the CLI implementing when it comes to adding and removing GSI's in one push.
Comment: https://github.com/aws-amplify/amplify-cli/issues/922#issuecomment-509418653

[2020-02-20 22:28] UnleashedMind commented on #3463
The Amplify CLI sends invalidation request on "/*", and according to the CloudFront [documentation](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html)
[code]

[2020-02-20 22:50] asmajlovicmars commented on #814
Hi @kaustavghosh06, I'm using 4.13.4 version of CLI, and even though I included suggested change by @St3Ko, and pushed the auth without getting any errors, couldn't get **Enable case insensitivity for username input** checked off. Could you please advise how to ensure uniqueness of emails, which we use as username? Thanks.

[2020-02-20 22:53] akshbhu commented on #3069
@artyom-melnikov Can you check the default setting of Webstorm? is it LF or CRLF

[2020-02-20 23:29] whogaurav commented on #2096
@tomrum Abandoned one month back and moved to Hasura + Apollo Client, Check it out, it's pretty good.

[2020-02-21 00:35] alexkates commented on #3456
I know this was closed, but is there any updates on the feature mentioned by @kaustavghosh06 [here](https://github.com/aws-amplify/amplify-cli/issues/3034#issuecomment-569988489)?

[2020-02-21 00:52] bob-lee commented on #1678
My guess is that wherever the mutation is performed, `AppSync` wouldn't trigger real time updates if the mutation doesn't request `owner` field. To test it, you would open multiple browsers (one chrome, one firefox, e.g.) subscribed to the same owner and perform the mutation on chrome expecting firefox would get real time update.

[2020-02-21 03:13] joemsak commented on #605
My ampify status is still showing an expired / deleted GraphQL API Key after doing the env pull --restore command - I can't do a push because it keeps putting the old API key into the #current-cloud-backend amplify-meta file. Any help?

[2020-02-21 04:42] slatemates commented on #3411
Upgraded to 4.13.4 . The issue is resolved .Thanks

On Fri, 21 Feb 2020, 03:03 Andrew Panagos, <notifications@github.com> wrote:

[2020-02-21 04:55] arkllc commented on #3369
@UnleashedMind please let me know if you have any further questions

[2020-02-21 05:08] aprilmintacpineda commented on #3478
Yeah, I read that one. I was actually able to solve this and this was plainly my fault. However, could you tell me why 1 to 1 relationship with named connection always respond with `null`?

[2020-02-21 07:14] artyom-melnikov commented on #3069
For me it is CRLF (on Windows)

[2020-02-21 07:35] RossWilliams commented on #1204
@JNeim

No, you can still add custom attributes using the AWS-cli per above comments. You do not need to replace the pool.

[2020-02-21 10:07] tomrum commented on #2396
Sorry I have been away for a few days and have forgotten. Will try to remember. It may of been that I didn't accept defaults for some of the names the cli generates.

[2020-02-21 14:16] raelmiu commented on #2510
I've just run into this problem again. With many-to-many relationships the middle model cannot be saved. Debugging as we speak. But I'm surprised these similar issues keep appearing.

[2020-02-21 17:02] andrestone commented on #3378
Any interest?

[2020-02-21 17:43] wildergd opened #3489 "issue with amplify-cli"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

i am having this issue... i am using "amplify add auth", i am changing two things:
- required attributes where i am setting none..
- oauth flow where i am setting implicit grant
when i do amplify push it fails with the following error. it only happens when i use auth...

Following r

[2020-02-21 18:21] ngnathan commented on #3430
As an update, I've successfully created the Pre Token Lambda that invokes a separate lambda with access to GraphQL APIs, retrieving data from the OrganizationUser table mentioned above (modified a bit to include Cognito userIds), and then including the organizationId as the Cognito group.  However, the drawback with this solution is that my login process now takes 5-10 seconds, as the Pre Token La

[2020-02-21 18:36] ngnathan commented on #3451
I'm having this issue too.

[code]

I have the following resources:

- Auth (Cognito User Pool and User Pool Groups)
- API (GraphQL)
- Function x 3 (Pre Token Trigger, S3 Trigger, and a separate Lambda Function)
- Storage x 2 (Content, and DynamoDB)
- Hosting (S3AndCloudFront)

I tried emptying the S3 bucket associated with the environment (since the error was that the bucket isn't empty) and now

[2020-02-21 19:14] ammarkarachi commented on #3451
@ambriglia and @ngnathan Are you using different accounts for separate environments?

[2020-02-21 19:25] ambriglia commented on #3451
@ammarkarachi No. Same account for both environments.

[2020-02-21 19:30] ngnathan commented on #3451
@ammarkarachi Same account for both environments for me as well.

[2020-02-21 19:33] kaustavghosh06 commented on #3489
@wildergd Which CLI version are you using?

[2020-02-21 19:34] kaustavghosh06 commented on #3489
Also, can you provide us with more information tied to the failure? More Cloudfromation stack trace?

[2020-02-21 19:40] kaustavghosh06 commented on #3380
Closing due to lack of response. Please comment on this thread if you're still stuck.

[2020-02-21 19:40] #3380 closed

[2020-02-21 19:41] kaustavghosh06 commented on #3373
@kimfucious Did you try the `amplify env import` command?

[2020-02-21 19:44] kaustavghosh06 commented on #3310
@AlessandroAnnini Please follow the guidance provided in https://github.com/aws-amplify/amplify-cli/issues/3456.

[2020-02-21 19:44] #3310 closed

[2020-02-21 19:45] kaustavghosh06 commented on #3310
Also here - https://github.com/aws-amplify/amplify-cli/issues/3034

[2020-02-21 19:46] kaustavghosh06 commented on #3266
Closing based on my last response. If you've further questions, please comment on this thread.

[2020-02-21 19:46] #3266 closed

[2020-02-21 19:46] kaustavghosh06 commented on #3240
Closing based on the last response. Please comment on this thread if you're still stuck and we'll re-open the issue.

[2020-02-21 19:47] kaustavghosh06 commented on #3210
Closing based on the last response. Please comment on this thread if you're still stuck and we'll re-open the issue.

[2020-02-21 19:47] #3210 closed

[2020-02-21 19:48] bradgreens commented on #1442
I had this issue after moving the project to a different folder on my machine. I had to update the config file `./amplify/.config/local-env-info.json` to tell Amplify where to deploy from. Prior to that it was deploying the old code in another directory and it looked like it was not pushing changes.

[2020-02-21 19:59] yuth commented on #3065
@gviger Is the data source you are using in the pipeline a already existing table? Mock operates on tables locally and never connects to cloud.  Could you share a sample schema where I can reproduce this.

Also we recently updated how Cloudformation files are parsed by mock and it might error out earlier if the table is referenced in cloudformation. Could you give it a try and see if this is still

[2020-02-21 20:13] isaiahtaylor commented on #779
Do I understand correctly that you cannot use the `@auth` directive without using `amplify add auth`? I've been using the linked Manual Setup on the client side, but without Amplify + CloudFront explicitly managing the user pool, I won't be able to use the `@auth` directive in my schema?

This would be very unfortunate. The two main reasons that we cannot currently allow Amplify to provision the a

[2020-02-21 20:20] silvesteradamik commented on #3438
Making the connected fields nullable solved the problem with filling the join connection table.

However, there is now visible different issue:
   I can get correct result when listing Users - I can see posts related to them.
   I get empty usesrs in listing Posts - I can't see users related to posts.

When fixing the issue, please **check that the relations between the Editor and Post tables work

[2020-02-21 21:00] arkllc opened #3491 "default values for certain fields in @model"
**Is your feature request related to a problem? Please describe.**
In @model there are some fields that I would like them to have a default value if none is specified at creation time.

**Describe the solution you'd like**
For both scalar and non-scalar field types it would be good if a default value can be specified in @model

**Describe alternatives you've considered**
An alternative is to do an

[2020-02-21 21:17] kaustavghosh06 commented on #3378
@andrestone This is an interesting idea. It's a feature request that we'll look at in the future and measure community interest. If you want to work on it, you can maybe open up an RFC with ideas before starting implementation.

[2020-02-21 21:22] edwardfoyle commented on #3042
@elliott-king Closing this issue due to lack of response. Please re-open if you are still facing issues.

[2020-02-21 21:22] #3042 closed

[2020-02-21 21:23] ravnarayan commented on #779
Hey @isaiahtaylor, sorry but that’s incorrect, just use amplify... and don’t use addauth once your application on amplify is complied add an external auth provider... this will require manual code from your and your frontend team.. now there is not much support on adding post Cognito auth, but when your setting up amplify you can’t edit a exports.js file.. you would just add auth on app.js  and yo

[2020-02-21 21:24] edwardfoyle commented on #3245
@nickchauhan Closing due to lack of response. If you are still running into issues after trying the suggestion above, please reopen.

[2020-02-21 21:24] #3245 closed

[2020-02-21 21:25] edwardfoyle commented on #3375
@TheBenck Closing due to lack of response. If you are still having issues feel free to reopen with additional details.

[2020-02-21 21:25] #3375 closed

[2020-02-21 21:29] #3357 closed

[2020-02-21 22:01] gviger commented on #3065
@yuth I can't even run mock now. Getting the 'Cannont read property 'line' of undefined' error referenced [in issue 2620](https://github.com/aws-amplify/amplify-cli/issues/2620). At first I assumed it was because I added my datasources into my stack/CustomResources.json. But even when I remove them to a stage that is working with push I the error remains.

To answer your questions:

1. Having the

[2020-02-21 22:09] RossWilliams commented on #3430
@ngnathan you can access the DynamoDB tables directly, no need to hop through another lambda and AppSync. If there is a circular dependency issue, you can break it with a custom resource lambda to attach the preToken trigger via AWS-SDK calls to Cognito.

[2020-02-21 22:12] #3215 closed

[2020-02-21 22:32] edwardfoyle commented on #2739
@arikog Checking in... have you been able to resolve this? Have you tried running any commands using the [aws cli](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html)?

[2020-02-21 22:47] kaustavghosh06 commented on #3185
@gaochenyue I would recommend using AppSync or API Gateway backed up by Lambda if you're looking for an endpoint. Lambda intrinsically doesn't provide or support an endpoint for access.

[2020-02-21 23:02] kaustavghosh06 commented on #3124
For mock you can set your local process env variables to your API Key. Are you referring to the ability of setting the API_KEY as environment variables when giving access to a lambda function for an AppSync API?

[2020-02-21 23:03] kaustavghosh06 commented on #3484
@alexkates Did you get a chance to validate?

[2020-02-21 23:16] kaustavghosh06 commented on #3485
@cc-bojan What does your `amplify/backend/backend-config.json` look like? Have you set IAM as an auth type?

[2020-02-21 23:24] edwardfoyle commented on #2739
Also, have you tried with the latest version of the CLI?

[2020-02-21 23:26] kaustavghosh06 commented on #3173
Closing as this is non-reproducible. If you're stuck and or still have issues with this, please comment on this thread and we'll re-open this for further investigtation.

[2020-02-21 23:26] #3173 closed

[2020-02-21 23:44] kaustavghosh06 commented on #3461
@hisham Yes, the CLI doesn't do anything special for this. It follows aws-sdk's chain of rules - i.e it first looks at process env variables for the creds and then the default profile and then uses it to sign AWS requests. I believe you can specify the profile name you want to use in your aws sdk configuration in the Lambda function.

[2020-02-22 00:03] montycheese commented on #3213
One member of our team is also experiencing this issue when pushing the stack for the first time, after initing the project. Any update?

[2020-02-22 00:37] dylan-westbury commented on #3176
An issue i am facing, we want to deploy one of the additional frontends via amplify console, but we can't generate the aws-exports file.

This is out amplify.yml file, how can we generate aws-exports.js file for the additional frontend?

[code]

[2020-02-22 00:39] yuth commented on #3065
@gviger Would you mind sharing a schema where can reproduce this

[2020-02-22 00:54] yuth commented on #2813
this issue is same as https://github.com/aws-amplify/amplify-cli/issues/2210. This is happening as mock does not update the table when new indices are added. The workaround is deleting `<project-root>/amplify/mock-data`

I am closing this as duplicate of #2210

[2020-02-22 00:54] #2813 closed

[2020-02-22 08:35] richardfan1126 commented on #3048
@alex-vladut is correct. You save my life!!

[2020-02-22 13:48] azatoth opened #3493 ""Invalid pagination token given" on @key query"
Having a model with a key as following:
[code]
has generated resource template as following:

[code]

Do results in a error when applying a nextToken:

**Amplify CLI Version**
4.13.4

**Additional context**
Applying the fix in #3452 on https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-key-transformer/src/KeyTransformer.ts#L850 solves the issue.

I believe #3459 might be the s

[2020-02-22 14:55] BhanukaUOM commented on #2877
Define **facebookAppIdUserPool, facebookAppSecretUserPool, googleAppIdUserPool, googleAppSecretUserPool** in AUTHCONFIG.

    #!/bin/bash
    set -e
    IFS='|'

    AUTHCONFIG="{\
    \"facebookAppId\":\"fbid1\",\
    \"googleClientId\":\"goog\",\
    \"facebookAppIdUserPool\":\"facebookAppId\",\
    \"facebookAppSecretUserPool\":\"facebookAppSecret\",\
    \"googleAppIdUserPool\":\"facebookAppSe

[2020-02-22 15:34] Ricardo1980 commented on #3443
@ammarkarachi
OK, I think there are several different issues involved in the default structure generated by amplify.

if you change userpoolClientGenerateSecret (parameters.json) from true to false, push, and then from false to true, then you see this error:
"CustomResource attribute error: Vendor response doesn't contain appSecret key in object"
but you can fix it removing:
[code]
from the yml te

[2020-02-22 16:05] ricsirigu commented on #3437
Hi @simholte , I'm also stuck with this. How do you override the resolvers to get around this problem?

[2020-02-22 17:14] kimfucious commented on #3381
Thanks, @ammarkarachi

Sorry for the delay in responding, I got sidetracked on something else.

I believe that your assumption is correct, though I don't actually remember.

What I wound up doing was making a change to one of the lambda functions in the re-created back-end and then pushing once more.  This resulted in the an update to the `aws-export.js` values on my local.

This also created a ne

[2020-02-22 17:14] #3381 closed

[2020-02-22 17:21] kimfucious commented on #3373
Hi @kaustavghosh06

I did, but I wound up doing something dumb.  See here #3381.

However, it was kind of a good thing, because now I have my back-end up in AWS Console (which I didn't before), so I could use `amplify pull` to pull the back-end created for my React app to the directory where I'm developing the React Native App, allowing me to use a single back-end for both, which is pretty awesome

[2020-02-22 17:21] #3373 closed

[2020-02-22 18:48] Ricardo1980 commented on #3441
@kaustavghosh06 I tried to use NodeJS 10.x runtime in the 4 functions this code in all those index.js files
[code]
And I receive the same error:
"Invalid lambda function output : Invalid JSON"

BTW, can you explain to me the steps to remove everything about that boiler plate structure?
I think it is useless for such small methods, and causing errors.

Thanks a lot.

NOTE: If I use node12 and I put

[2020-02-22 19:23] simholte commented on #3437
Hey @ricsirigu , I haven't implemented it yet as my apps not yet in production and I can live with no authentication but I think I can create custom subscriptions with my own resolvers.  Planning on using the cli to generate the resolvers, move them to the /resolvers folder as my new custom name, modify them to check dynamic groups and do something like this https://aws-amplify.github.io/docs/cli-

[2020-02-22 22:25] claym opened #3494 "Case insensitive user pools?"
**Which Category is your question related to?**
Auth

**Amplify CLI Version**
14.13.4

**What AWS Services are you utilizing?**
Cognito

Per [this article](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-cognito-user-pools-service-now-supports-case-insensitivity-for-user-aliases/), newly created user pools are created to have case-insensitive usernames. Manually created pools have this e

[2020-02-22 22:27] claym commented on #1546
Did this ever make it into the CLI or is manual intervention still required?

[2020-02-23 01:31] ammarkarachi commented on #3494
@claym We don't have this feature available on CLI but it's scheduled for release. For the time being you can enable it in the Cloudformation template more information can be found at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cognito-userpool.html under _UsernameConfiguration_

[2020-02-23 03:26] buixuanhai commented on #3440
![image](https://user-images.githubusercontent.com/9126944/75102979-f6591280-5626-11ea-8e5a-ecec2744c1aa.png)
@kaustavghosh06 Here the console log

[2020-02-23 03:55] claym commented on #3494
[code]

That worked. Thanks!

[2020-02-23 13:24] cc-bojan commented on #3485
[code]

[2020-02-23 16:58] tgjorgoski opened #3496 "Option to give access to Elasticsearch for lambda functions"
When you create a new function (lambda) you get an option to give the lambda access to specific resources. It would be good if we can specify elasticsearch too here.
(In my case I want to send a custom queries directly too, and not just through GraphQL, but it could be used to create API to allow more control of ES too, e.g. automate creating of geolocation type, update indexes etc..)

<img width=

[2020-02-23 17:46] kingarawana commented on #1237
@jarrettj ever time i switch environments, the file is regenerated, which when i commit, would keep changing back and forth. Is this the intended outcome?

[2020-02-23 17:59] yvescoinpass opened #3505 "How to add existing amplify back end to the amplify front end?"
** Which Category is your question related to? **
Auth, Storage, API

** What AWS Services are you utilizing? **
Cognito, AWS AppSync,

** Provide additional details e.g. code snippets **
I accidentally deleted my amplify frontend and I created a new one. How do I add again the existing amplify back end to the newly created amplify app?

I followed the steps on the backend tab

1. `amplify init --

[2020-02-23 21:36] VicFrolov opened #3633 "When using a custom resolver with lambda, how to preserve directives (e.g. @connection, @searchable, @auth, etc)"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
I am using AmplifyJS API with the graphql option, and have used the api to create various `@models`, `@connections`, used `@auth`, and have various models `@searchable`. For simplicity, here are two models:

[code]

I wanted to add a few operations when `createNote` runs, so I made a custom resolver w

[2020-02-23 23:38] aprilmintacpineda opened #4026 "wildcard query for searchable acting weird with spaces"
**Describe the bug**

Sample data:

[code]

The query below works fine and returns all the fields data with "auto" in them,

[code]

But when you start adding spaces:

[code]

I'm expecting this to return:

[code]

but it returned:

[code]

as it's the only one with `auto` and `focus` on the title. I tried adding asterisk all over the place, `*auto focus`, `auto focus*`, `*auto focus*`, `auto*focu

[2020-02-23 23:41] waldothedeveloper commented on #3399
Add me to this list. Let's pass this bill to congress!

[2020-02-24 00:22] mayteio opened #3497 "Storage.put, Storage.get with protected images give 403 error out of the box on localhost"
**Describe the bug**
**When developing locally**, `Storage.put` throws a 403 error out of the box with minimal setup from auth, api and storage categories. If you set the bucket permissions to public read/write access, Storage.put works as expected (though I shouldn't have to do this and is unsafe). When trying to retrieve that same file, even with public read/write access, it returns 403 and I am

[2020-02-24 06:41] arkllc opened #3498 "the GSI non mandatory field is not working in mock"
**Describe the bug**
Please refer to following @model. Please note the 3rd @Key ByBillingStatus. When I try to run a query against the same I get an error that - index not found in mock. Not sure if this is a mock only issue or is this by design and will be a problem in the real DynamoDB. Per the documentation of DynamoDB one can create a GSI on fields that could be null. So I am not sure what is

[2020-02-24 08:30] Gl0ntz commented on #3403
Hi @yuth  I have already pinned another issue with the resolvers that are generated by the cli. ( #3468  ). Just wanted to know by when should this be rolling out. Also could you maybe give an example of a resolver that would work with composite keys? Or maybe a work around for now

[2020-02-24 08:32] yvescoinpass opened #3500 "Aws - Amplify - SEO friendly approach"
*Which Category is your question related to?**
API

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
AWS Appsync

**Provide additional details e.g. code snippets**

I am creating a blogging application using using Aws Amplify. I am concern how will the SEO be handle on this type of application because the result will be a SPA. I read so many articles that SPA is not good in

[2020-02-24 09:23] TLaue opened #3501 ""amplify codegen models" does not recognize "external" AppSync api"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
"amplify codegen models" does not recognize an AppSync api which was added using "amplify add codegen --apiId ..." The command outputs: "No AppSync API configured. Please add an API"

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
4.1

[2020-02-24 10:06] davidbiller opened #3502 "Backend (API) - v1 - v2"
I have now changed my backend.
In the current version (production) there is a lambda that is called after the registration, which then creates a profile at DynamoDB.

In the new version of the app, I don't need this anymore. Accordingly I have also deleted the Lambda function under (develop).

If I now deploy the backend, but the users are still working with the current frontend app, then they can

[2020-02-24 13:02] lon9man commented on #1850
Any news? terrible thing!

i spent a lot of time to understand where is the problem, but even now can only assume.
i have several lambda functions and several environments. on merge i see the same conflists like a topic starter.

AWS, hello?

[2020-02-24 14:19] bogan27 commented on #1271
@Ricardo1980 incase you haven't cracked the code yet for your question about multiple functions sending queries in a single pipeline, what you would do is:

1. If you haven't already, create your AppSync data source pointing at Aurora, with a suitable IAM role
2. For each function you want to have in your pipeline (where a function does something like fire off a query to Aurora), define your funct

[2020-02-24 16:07] damianrr opened #3504 "Onboard a new team member"
**Which Category is your question related to?**
Team

**Amplify CLI Version**
4.13

Hello all,

Couple of questions if you're so kind.
I've an amplify app deployed on my Amplify Console, yet recently I've noticed that instead of one app it shows as 3 instead of one (the main one and one per amplify env?) see first image attached. I could swear that this is a recent thing, I've always had only one

[2020-02-24 16:57] edwardfoyle commented on #3418
Hi @rduhard does adding another subscription on the same operation but with no input arguments solve your use case? Something like `allMessagesOnDelete: Message @aws_subscribe(mutations: ["deleteMessage"])`

[2020-02-24 18:11] oliverandersencox commented on #3411
This is still happening for me on  4.13.4

[2020-02-24 18:19] SwaySway commented on #3411
@oliverandersencox Are you using `@key` with your query?

[2020-02-24 18:19] oliverandersencox commented on #3411
@SwaySway yes I am

[2020-02-24 18:26] SwaySway commented on #3411
@oliverandersencox Could you try the workaround mentioned in #3493?
If it is related to that please follow that issue for updates.

[2020-02-24 18:27] rduhard commented on #3418
@edwardfoyle Yes that's exactly the way we've solved it for now. So in order to achieve the ability to not filter on a param and also filter on a value, we have to have n^2 subscriptions defined (where n is the number of optional/filterable parameters.) So it's not our ideal solution as it really bloats the schema. Was thinking that the codegen could automatically create those options without havi

[2020-02-24 18:27] Ricardo1980 commented on #1271
Thanks @bogan27
Very useful!

[2020-02-24 19:35] drochetti opened #3506 "DataStore codegen changes for upcoming iOS release"
### Description

When generating code for GraphQL schemas on iOS, some features are missing, such as enum and non-model types. This ticket highlights the required changes for the upcoming iOS release of Amplify DataStore.

#### Enums:

Given the GraphQL schema:

[code]

The expected iOS code is:

[code]

**Notes:**

- Enum values in Swift should be `camelCase`
- The protocol being added (`EnumPers

[2020-02-24 20:05] #3177 closed

[2020-02-24 20:10] rehanbabertkxel commented on #3177
@akshbhu , in which amplify version is this expected to work?

[2020-02-24 21:50] kaustavghosh06 commented on #3480
@apoorvmote Did you run `amplify update api` to use Cognito as the auth mode?

[2020-02-24 22:22] kaustavghosh06 commented on #3239
@wizage We have this feature in 4.13.0 where we delete the aws_exports.js file, the .graphqlconfig and the `graphql/` directory.

@ammarkarachi is looking into deleting the amplify console app on an `amplify delete`.

[2020-02-24 22:30] kaustavghosh06 commented on #3304
@zeroamplitude @dantasfiles Are you guys still seeing this issue?

[2020-02-24 22:34] kaustavghosh06 commented on #3423
@joshglazer Please take a look at @hisham's recommendation. I would follow that to modify the generated Cloudformation for your hosting resource located in the `amplify` folder.

[2020-02-24 22:34] #3423 closed

[2020-02-24 22:40] kaustavghosh06 commented on #3426
@nagey Yes, the amplify-meta.json are runtime files which should not be modified. But yes, you're right the `backend-config.json` has to be modified for adding custom resources/categories. And yes, as mentioned in step #4 of our documentation, we've mentioned to run `amplify env checkout <env-name>` after making any changes to your backend-config.json. But at the same time, I agree this could be a

[2020-02-24 22:47] kaustavghosh06 commented on #3147
@CodySwannGT Closing this issue. Please let me know if you have more questions around this.

[2020-02-24 22:47] #3147 closed

[2020-02-25 00:10] ajhool commented on #3275
@hirochachacha The #1657 issue is related in the sense that it would resolve our problem but this is a separate issue and not a duplicate. This is simply two undocumented issues that result in a catch-22 and prevent basic usage of this framework.

1. You can't make a model's primary ID non-nullable because then you would need to set it on the client side during object creation, as opposed to lever

[2020-02-25 00:17] yschoueri commented on #787
Is this something that will be worked on? I have 2 environments but I have dynamodb tables that do not contain environment dependent data and so i find it redundant to create them twice especially since it increases my cost

[2020-02-25 00:35] dantasfiles commented on #3304
Let's run now:
[code]

Yep, still getting it.

Windows 10, Node v13.9.0

[code]

[2020-02-25 00:41] LpmRaven commented on #3365
thanks @yuth

[2020-02-25 00:41] #3365 closed

[2020-02-25 01:28] kingarawana commented on #1275
Is it normal that I still get the message:

`Are you sure you want to continue? (This would delete all the environments of the project from the cloud and wipe out all the local amplify resource files)`

I had ran `amplify env remove dev`

[2020-02-25 02:42] wongcyrus opened #3509 "S3 Storage User group List Bucket Permission Bug"
The permission is not enough to list bucket.
https://stackoverflow.com/questions/38774798/accessdenied-for-listobjects-for-s3-bucket-when-permissions-are-s3
Addition permission block has to be added for list Object.
[code]
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-category-storage/provider-utils/awscloudformation/cloudformation-templates/s3-cloudformation-template.jso

[2020-02-25 03:34] apoorvmote commented on #3480
@kaustavghosh06 No I didn't and when I tried it worked. Thanks.

For others who are interested I did following.
`npx create-react-app notes --use-npm --template typescript`
`npx amplify-app@latest`
then update graphql schema without auth to whatever you want. e.g.
[code]
then you need to initialize amplify project you can do with `amplify init` but I went with recommended approch to just push ever

[2020-02-25 03:34] #3480 closed

[2020-02-25 04:23] gaochenyue opened #3510 "aws_user_files_s3_bucket in aws-exports doesn't match bucket name in storage mock server"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When using Storage.list API to list files under a path, it uses the wrong bucket in the S3 mock server. For example,
request: http://localhost:20005/bucketname221137-dev/?prefix=public
response:
[code]

In the request, the bucket name is bucketname221137-dev, but the server failed to

[2020-02-25 06:37] hirochachacha commented on #3275
@ajhool I already stand corrected at https://github.com/aws-amplify/amplify-cli/issues/3275#issuecomment-579203618.

[2020-02-25 11:59] zeroamplitude commented on #3304
Yes. The output is the same as @dantasfiles

[2020-02-25 12:40] rarira commented on #3411
same here, downgraded to 4.13.1 and it works

[2020-02-25 13:08] apoorvmote opened #3518 "Data aggregation with datastore"
** Which Category is your question related to? **
Datastore
** What AWS Services are you utilizing? **
Cognito, AWS AppSync, Dynamodb
** Provide additional details e.g. code snippets **
I store transactions on dynamodb with amplify and appsync.
After every transaction I just want to create total sold productwise.
Transaction example is
Product A sold 3 qty
Product B sold 10 qty
Product A sold 5qty

[2020-02-25 17:04] SwaySway commented on #3502
Hello @davidbiller
What is your current workflow for deploying changes?
Are you using Amplify Console?

[2020-02-25 19:19] lawmicha opened #3513 "[GraphQLTransform] sample blog/post/comment schema using old connection directive"
**Describe the bug**
When I run `amplify add api` and have the example for One-To-Many relationships generated, it's using the old `connection` directive.

**Amplify CLI Version**
4.12.0

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable
1. `amplify add api`
[code]

the schema generated is
[code]

**Expected behavior**
I would expect the recommended usage to connect

[2020-02-25 21:41] nikhname commented on #3510
@gaochenyue could you provide your aws-exports file, or send a zip file of your amplify folder to amplify-cli@amazon.com? You could also try deleting your aws-exports file and running amplify mock storage again.

[2020-02-25 21:42] gaochenyue commented on #3124
@kaustavghosh06 yes, could you please pass API KEY as an environment variable to function automatically when starting mock mode so I can have an env reference in the function, e.g. process.env.API_KEY

[2020-02-25 21:43] nikhname commented on #3510
Could you also provide the code you used to do a Storage.put and Storage.list?

[2020-02-25 21:48] gaochenyue commented on #3510
@nikhname Thanks. I tried many times to recreate aws-exports file but the bucket name always include stack id. I will send you the code soon.

[2020-02-25 21:54] nikhname commented on #3120
@Ricardo1980 Could you clarify what your SELECT statements look like in the request template?

[code]

[2020-02-25 22:15] nikhname commented on #3120
@Ricardo1980 Could you clarify the SELECT statement you use in your request mapping template?

Could it be something like this?
[code]

[2020-02-25 22:17] davidbiller commented on #3502
@SwaySway
Yes I am using the cli.

At the moment I am pushing the new Frontend code for the new Api functions with expo code push in the same moment when I am pushing the backend.

This time, I am working with a new sdk of expo. So I cant use codePush.

[2020-02-25 22:22] attilah commented on #3336
@lesmuc we've multiple things colliding here I think:
- If you want to call the mutations AND have optimistic concurrency:  use the @versioned directive and do not enable sync, you can use custom Id fields with @key.
- If you want to use DataStore which gives you much more capabilities in terms of managing the data and conflicts for you, then turn on sync, and do not use @versioned directive as th

[2020-02-25 22:22] #3336 closed

[2020-02-25 22:29] pafflu opened #3515 "Best way to allow multiple users access to S3 on a per-organization or per-group basis"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Storage and Auth

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
Cognito, S3

**Provide additional details e.g. code snippets**
I'm currently building an application with multiple users divided across multiple (and indefinitel

[2020-02-25 22:34] lawmicha commented on #3513
Have not tested this out, thinking something like this?
[code]

[2020-02-25 23:00] kylekirkby commented on #2679
Thanks for the report @blomm & @steffengr ! This looks quite involved as it stands. Is there any update on this @UnleashedMind & team? Is this in the roadmap at all ?

Cheers,

Kyle

[2020-02-25 23:21] danny-waite commented on #3237
I'm getting the same issue here, I'd really like not to have to recreate the whole project again, any idea what I can do to debug/fix. I've installed the latest Amplify Client and tried recreating the model (comment out, push, reinstate) but with no success.  An initial create mutual works, but an update doesn't, same behaviour in the AWS AppSync console too.

[2020-02-25 23:32] nikhname commented on #3497
@mayteio Did you enable triggers for Cognito (should be prompted on init with your repro steps)? If so which triggers did you enable?

[2020-02-25 23:33] mayteio commented on #3497
Yes, just the post confirmation trigger with addUserToGroup lambda.

[2020-02-26 01:17] CodySwannGT commented on #3493
Count me in on this one, too. Yesh

[2020-02-26 01:19] nikhname commented on #3504
@damianrr a couple questions
1. Did you create this project on the console or with the CLI?
2. Did you see the 3 apps after doing amplify pull and adding more environments?

With (2.) it would be very helpful for reproing if you could provide any other actions you did with the CLI before you saw the 3 apps on the console. Thanks!

[2020-02-26 01:26] nikhname commented on #3515
@pafflu could you give some more details about your use case of using indefinitely many organizations? Its not clear to me why Cognito User Pools would not be a good choice here - you would still be able to add other groups with the right access levels later

[2020-02-26 01:43] nikhname commented on #3505
@yvescoinpass which version of the CLI are you using?

[2020-02-26 01:51] pafflu commented on #3515
@nikhname Thanks for the quick response!
It's a multi-tenant web-app for small enterprises, meaning users will register and belong to one company (and in larger companies sub-divided into different departments). I figured I'd rather manage this multi-tenant situation without User Groups, especially because they reach a hard limit at 500 per user pool as far as I know, and creating an entirely new

[2020-02-26 01:52] WerewolFox commented on #3411
I just wanted to confirm that I had this issue with 4.13.3 but upgrading to 4.13.4 resolve it for me.  The steps I took were:
- npm install -g @aws-amplify/cli@latest
- make a simple change to the schema (I added a field)
- amplify api gql-compile
- amplify push
That was it.. works fine now.. thanks guys.

[2020-02-26 04:14] apoorvmote commented on #3518
@undefobj I deleted my comment by mistake but thank god you have read and responded already.
Also the PR you mentioned #2463  is merged like 5 hours ago. So it should be coming to cli in next couple of days. Its much easier than manually attaching and maintaining the lambda trigger.

[2020-02-26 06:43] blomm commented on #2679
Thanks @kylekirkby , Serverless support this custom authorizer directly from the yml file, so it shouldn't be too big a task, just a matter of setting up the code to generate the cloudformation, and add this as a step in the cli

[2020-02-26 06:45] yvescoinpass commented on #3505
Hello @nikhname, thanks for the time responding to my question. I am using `@aws-amplify/cli@4.13.4`

[2020-02-26 07:14] ngnathan commented on #3430
@RossWilliams I'm still trying to wrap my head around using a custom resource lambda as you mentioned.

If I don't hop through another lambda + appsync, I keep getting circular dependency issues.  Can you perhaps elaborate further on what you mean by: "custom resource lambda to attach the preToken trigger via AWS-SDK calls to Cognito."?

Do you mean:
(a) creating a custom resource (similar to [](h

[2020-02-26 07:15] mithunkalan commented on #3411
@WerewolFox
Same problem. same fix.
Except that i didnt need amplify api gql-compile

[2020-02-26 08:25] ambientlight commented on #2614
@kaustavghosh06, @undefobj:
can you guys expand on what `automatically scaffolding out of a custom stack` is?

As of now, `amplify-cli` has very little provider-independent logic, most of the categories logic will just relay CLI commands to the awscloudformation provider that would perform CLI flow, emitting the resulting CF templates. Rolling out another provider basically would be sort of reimpl

[2020-02-26 09:44] tgjorgoski opened #3519 "Execute lambda on mutation?"
I'm successfully connecting and using lambdas connected to the specific fields in the graphql type schema. When I send a query containing that field, my function gets executed.

Is there a way to specify a lambda which will be executed on mutation? ( I'm thinking of using it for capturing and logging some specific mutations).

[2020-02-26 14:48] tim-payton commented on #3399
This would be really useful!

[2020-02-26 15:17] damianrr commented on #3504
Hello @nikhname
1. I created the project in the CLI
2. It's been a while since I'm seeing my app as 3 in the Console (way before the amplify pull for starters, also take into account that after I created the backend environments, like a year ago I continued seeing only one app in the Console, no problem, until a couple of month, maybe a little more where I suddenly noticed that now my Console refl

[2020-02-26 15:22] gaochenyue commented on #3510
Hi @nikhname, I changed the title of this issue to make it more generalized

Here is the aws-exports.js before starting mock

{
    "aws_project_region": "us-east-2",
    "aws_cognito_identity_pool_id": "us-east-2:fad2345f-6daf-45af-b734-******************",
    "aws_cognito_region": "us-east-2",
    "aws_user_pools_id": "us-east-2_******************",
    "aws_user_pools_web_client_id": "********

[2020-02-26 15:26] ryudice opened #3521 "Running amplify configure ignores AWS CLI credentials"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Running amplify configure takes me to the AWS console eventhough I have an AWS CLI profile set

**Amplify CLI Version**
4.13.4

**To Reproduce**
Run `amplify configure` with AWS CLI credentials file set

**Expected behavior**
Should use existing AWS CLI credentials

**Screenshots**
!

[2020-02-26 15:35] lesmuc commented on #3336
Sorry, but I'm not happy about that. From the documentation it's not obviously that custom id fields are not supported. So for me it's a bug and this should be solved.

And a colleague from the AWS support team (Garreth B.) confirmed this issue already by saying:

[2020-02-26 16:02] gaochenyue commented on #3510
@nikhname Here is the root cause
https://github.com/aws-amplify/amplify-cli/blob/b25cfd00b21416a82ecefda1f6498206ef71531b/packages/amplify-util-mock/src/storage/storage.ts#L153-L157
On line 156 should be placed before line 55 and 54, otherwise it overrides whatever before

[2020-02-26 17:26] vinhtnguyen commented on #243
Just want to say that "amplify push" works for me today. I edited schema.graphql file and saw that the changes are reflected in AppSync Console.

[2020-02-26 17:49] SwaySway commented on #3521
@ryudice Are you configuring the CLI for the first time or are you running this command on an existing amplify project?

[2020-02-26 18:35] daajack opened #3522 "Cannot initialize my amplify project anymore after creating and pushing a symbolic link in lambda function"
**Describe the bug**
Hi,
I cannot initialize my environnment anymore, after pushing a symbolic link, the pushed was ok, but after pushing a second time, it ended with an error "Error: EEXIST: file already exists, symlink '../../../../../src/graphql' -> '/web/amplify/.temp/#current-cloud-backend/function/importPI/src/graphql"
I cannot pull, status or anything on my repo.

I tried from a clean clone

[2020-02-26 18:37] nagey commented on #3426
@kaustavghosh06 I've made sure to add the checkout step to our workflow when changing resources, but would love to hear it getting added to the amplify push

[2020-02-26 18:38] kaustavghosh06 commented on #3522
@daajack I think your issue is tied to the fix provided out here - https://github.com/aws-amplify/amplify-cli/pull/3406
Please take a look at the workaround provided by @RossWilliams in the PR

[2020-02-26 18:55] daajack commented on #3522
Hi thanks for your quick answer, but i'm sorry i cannot find the workaround you're talking about. The patch is not yet published right ? should i do something with cloudformation template ? I did not found any build directory, in initialized repo or new cloned one.

Another question, I pushed a new commit to my repo where i replace my symlink with a directory, should i reset it to symlink state be

[2020-02-26 19:33] akshbhu commented on #3510
@gaochenyue Thanks for pointing that out but the code above only generates aws_exports file.
and S3 local server also uses bucketname with stack ID.
Regarding your problem , Can you show me your Storage.list api call. In the mean time You can try to delete the old awsexports file and again running amplify mock storage

[2020-02-26 19:49] gaochenyue commented on #3510
Thanks @akshbhu, my code of storage.list is trial, not sure if it helps, but here it is anyway
`
path = owner.instance + '/ff/' + moment(owner.createdAt).valueOf();
Storage.list(path, {
        'public',
    });
`
I tried many times to recreate the aws_exports file, but always got the same issue. It copies whatever in the storage output of amplify-meta.json.
My observation is that the local S3 ser

[2020-02-26 19:49] daajack commented on #3522
I should add that trace, coming on first init :

init failed
Error: ENOENT: no such file or directory, stat '/web/amplify/.temp/#current-cloud-backend/function/importPI/src/graphql'
    at Object.statSync (fs.js:948:3)
    at Object.statSync (/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/graceful-fs/polyfills.js:307:34)
    at getStatsSync (/usr/local/lib/node_modules/@aws-amplify/cli/

[2020-02-26 19:50] RossWilliams commented on #3522
Sorry I don’t think this is related to my PR linked above, maybe it’s another PR you are thinking of?

[2020-02-26 19:55] daajack commented on #3522
I cannot find anything.
I think i did a really bad symlink connected to src, that was stupid. And the symlink has been added somewhere where it is invalid. Sadly the push didnt see anything and pushed all this with success. :/ I think my best solutions is to go to s3 where the backend is stored and find a file with that symlink, edit it, remove it and re-upload the file.

[2020-02-26 20:08] #3376 closed

[2020-02-26 20:13] akshbhu commented on #3510
@gaochenyue  Can you send a zip file of your amplify folder to amplify-cli@amazon.com?

[2020-02-26 20:33] gaochenyue commented on #3510
@akshbhu @nikhname I have sent you the project in a zip file

[2020-02-26 20:49] gaochenyue commented on #3510
@akshbhu this issue can be reproduced quickly
1. create a sample Amplify project
2. amplify add storage
3. amplify push
4. amplify mock

Open browser, visit http://localhost:20005/{bucketname}{stackId}-{env}. it returns
NoSuchKey The specified key does not exist. {bucketname}{stackId}-{env}
visit  http://localhost:20005/{bucketname}-{env}. it returns
<ListBucketResult>
<Name>{bucketname}-{env}</Na

[2020-02-26 21:16] SwaySway commented on #3522
@daajack What version of the CLI are you using?

[2020-02-26 21:21] daajack commented on #3522
@aws-amplify/cli: 4.13.4

[2020-02-26 21:25] daajack commented on #3522
@aws-amplify/cli: 4.13.4

[2020-02-26 21:42] kaustavghosh06 commented on #3521
If you already have an AWS Profile set already, then you don't need to go through the amplify configure step. You can select your already set profile when going through the `amplify init` flow. `amplify configure` is for customers who do not have any profile set.

[2020-02-26 22:03] kaustavghosh06 commented on #3484
Closing this issue. Please let us know if you're still stuck on this issue.

[2020-02-26 22:03] #3484 closed

[2020-02-26 22:07] alvincrespo opened #3523 "Unable to add @key to an existing model"
Hey, Amplify team!

I was hoping to get some assistance around adding sorting to an existing app. I was trying to add the `createdAt` to the `@key` directive, according to this [stackoverflow answer](https://stackoverflow.com/a/56497643/2587695).

When adding `@key` to an existing type model - I get an error when trying to run `aws publish`.

Any help would be fantastic.

Thanks for this awesome t

[2020-02-26 22:11] kaustavghosh06 commented on #2080
Closing this issue since majority of the issues mentioned in the thread are resolved. If you have additional specific feature requests, please open a GitHub issue.

[2020-02-26 22:11] #2080 closed

[2020-02-26 22:40] attilah commented on #3436
@anarerdene I created the API with the schema you shared above:

[code]

And used the following mutations to populate the data:

[code]

The behavior you see is by design, since you specify the `slug` field as part of the key component, which means that it will be matched between `shop` and `category` together with `shop`s partition key. I assume that it is different what you meant by including th

[2020-02-26 22:52] attilah commented on #3485
@cc-bojan when you're logged into the AWS Console you're probably using an administrator role credentials that does not need to have a specific policy to invoke AppSync mutations, that's the probable reason why it works.

If you use the AppSync service supported native directives like `@aws_iam` the Amplify CLI will not generate any policies for you for the Auth and Unauth roles, so when from the

[2020-02-26 23:41] nelsonsar commented on #2104
Is this possible yet?

[2020-02-27 00:10] Genkilabs commented on #2423
This seems to still be the case (CLI ver. 4.12.0). Is there any info on when amplify will support Postgres?
(in fact, I did not find any documentation that it was _not_ supported beyond this issue...)

[2020-02-27 00:14] Genkilabs commented on #3081
+1 for feature

See more history on this issue/desire as well here: https://github.com/aws-amplify/amplify-cli/issues/2423#issuecomment-536077162

[2020-02-27 00:18] #3510 closed

[2020-02-27 01:56] attilah commented on #3304
@dantasfiles it is a dependency issue with Inquirer, in the meantime I'll create a fix which sets the max listener count to a high number. See my related comment [here](https://github.com/SBoudrias/Inquirer.js/issues/887#issuecomment-591736865)

[2020-02-27 02:31] #3304 closed

[2020-02-27 03:44] hirochachacha opened #3528 "amplify-cli doesn't read role_arn, source_profile from ~/.aws/credentials unlike awscli"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
I put `role_arn` and `source_profile` settings on `~/.aws/credentials`.
After several hours of investigation, it turned out that `amplify-cli` only accepts these setting from `~/.aws/config`.

**Describe the solution you'd like**
It

[2020-02-27 03:59] hirochachacha opened #3529 "add --disable-rollback option for push command"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
Current policy always incur rollback even if it's unwanted.
In current project, I need to wait 20-30 mins for pushing resources from scratch.
Sometimes, amplify command fails, then I have to wait extra 20-30 mins for rollback which I

[2020-02-27 04:36] waltermvp commented on #691
@gaochenyue can you elaborate?

[2020-02-27 07:40] daajack commented on #3522
I finally fixed my bug by removing the symlink from the #current-cloud-backend.zip in my S3 bucket.
Should i close the bug ?

[2020-02-27 09:08] ricsirigu commented on #3515
I am facing the same problem.

[2020-02-27 10:58] tomasyaya opened #3530 "Parametes: [apipromotedGraphQLAPIIdOutput, authpromotedc0bdaafdUserPoolId, apipromotedGraphQLAPIEndpointOutput] do not exist in template"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When trying to push an update in the Api Amplify returns:

`UPDATE_FAILED      functionlinkTest AWS::CloudFormation::Stack Thu Feb 27 2020 11:46:02 GMT+0100 (Central European Standard Time) Parameters: [apipromotedGraphQLAPIIdOutput, authpromotedc0bdaafdUserPoolId, apipromotedGraphQL

[2020-02-27 12:16] dwamianm commented on #3008
@yuth . Do you have any suggested workarounds for this issue...or a timeline of when it can be address? Our app is ramping up the use of using subscriptions and we have to do a publish each time to make this work... I am guessing there is a better way? Thanks for your help

[2020-02-27 14:59] SebSchwartz commented on #3430
For your (c) point, add permission to the lambda for:
[code]
We are doing this via a custom:LambdaCallout when deploying (to add the permission to the PreToken lambda via a lambda adding the permission the PreToken lambda role). I don't know it this will work if you add it manually to the lambda cloudformation with amplify (i think it will be override when updating the function via `amplify functi

[2020-02-27 15:37] ricsirigu commented on #3437
@simholte mmmh I don't think it's possible.
I'm writing a custom resolver but there is no `$ctx.result` at subscription time, so the following assignments
`#set( $allowedGroups = $util.defaultIfNull($ctx.result.groupCanAccess, []) )`
results in an empty list.

I'm stuck right now :(

[2020-02-27 15:38] ryudice commented on #3521
`amplify init` doesnt pickup my credentials either:

![image](https://user-images.githubusercontent.com/125211/75459336-d8502280-5944-11ea-84e9-c6408f114dcd.png)

[2020-02-27 16:01] SebSchwartz commented on #3518
@undefobj It would be great to put this in the amplify doc.
How would you suggest we import lots of data inside a table quickly? For some users of our app, we have a csv that we need to import inside dynamo table for their account. So we already have a lambda to read this csv and put inside dynamo via PutItem but if I want the delta sync to work (or if they could receive the data later on when the

[2020-02-27 16:26] jasontripleps opened #3532 "Unable to query as both Authenticated and Unauthenticated user"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

AppSync GraphQL Api

**Amplify CLI Version**

4.12.0

**What AWS Services are you utilizing?**

AppSync, Cognito, Lambda

**Provide additional details e.g. code snippets**

I have a basic Query that pulls data from a Lambda function. Code snippet belo

[2020-02-27 16:46] jasontripleps commented on #3532
I should also point out that I'm just calling this through the Amplify JS codegen for Angular.

[2020-02-27 17:02] hisham commented on #3515
+1. Relevant comment about this that I posted in June in the @auth RFC: https://github.com/aws-amplify/amplify-cli/issues/1043#issuecomment-501462433

[2020-02-27 18:06] pthomascelltrak opened #3533 "Amplify CLI Delta Sync resolver uses an AWSTimestamp in the Sync operation"
**Describe the bug**
When Amplify CLI generates an API with a Delta Sync query, the generated resolver passes the client-provided lastSync field directly to the Sync operation in its lastSync parameter. The client's lastSync is an AWSTimestamp (in seconds), but the Sync operation's lastSync param has to be in milliseconds (see lastSync in the [resolver mapping doc](https://docs.aws.amazon.com/apps

[2020-02-27 18:21] SwaySway commented on #3530
Hello @tomasyaya could you provide the steps you have taken that lead up to this point?
We can try to replicate to further understand the root cause here.

[2020-02-27 18:50] tomasyaya commented on #3530
@SwaySway

I first try to remove the linkTest function with function remove. It throw an error because it had dependencies with auth an api. I did and function update and remove the dependencies. When I tried to push I throw this error. Because of that, I did a pull env to "reset" everything. I change my api cause thats what I wanted and did a push and this error keeps prompting in.

The amplify m

[2020-02-27 19:39] SwaySway commented on #3532
Hello @jasontripleps if you add `@aws_iam` a policy that allows access to the operation and the type is also needed. One way you can add access to the type and the operation would be like the following
[code]

`@auth` will generate the iam policy to access the type and the operation.

[2020-02-27 19:40] attilah commented on #3444
@awsirkis could you please elaborate on this: "After configuring the regular AWS CLI in another CLI"?

Based on the screenshot the next step is the CLI is spawning your default browser with the `https://console.aws.amazon.com` URL and that's where it fails.

Could you please tell me what is your default browser? Would you change that setting in Windows and retry the same command? unfortunately I w

[2020-02-27 20:15] awsirkis commented on #3444
@attilah My previous default browser was Chromium Edge. I tried the same command on Microsoft Edge, IE11, and Google Chrome to the same result.

I tried completely reinstalling Node.js to see if that was the problem, but that didn't give a different result

[2020-02-27 20:29] ryudice commented on #3521
@SwaySway I'm running it for the first time on a gatsby project.

[2020-02-27 20:32] ngnathan commented on #3430
@SebSchwartz Thanks so much for the guidance!  Do you have any guidance on how to create a lambda to add a permission to the Pre Token Lambda role?

[2020-02-27 20:38] attilah commented on #3353
@imonzalvo since my suspicion is around the `open` failing, would you do these steps:

- create a directory
- npm init -y
- npm i open
- touch index.js
- add this code piece to index.js:
[code]
- node index.js

And tell me what happened.

[2020-02-27 20:38] attilah commented on #3444
@imonzalvo since my suspicion is around the `open` failing, would you do these steps:

- create a directory
- npm init -y
- npm i open
- touch index.js
- add this code piece to index.js:
[code]
- node index.js

And tell me what happened.

[2020-02-27 21:25] collindutter commented on #186
@isubasinghe `amplify pull` regenerates aws-exports.

[2020-02-27 21:44] SwaySway commented on #3498
Hello @arkllc did you add `@key` after creating `@model` initially in mock? If so please view this comment below

https://github.com/aws-amplify/amplify-cli/issues/2210#issuecomment-528568831

Currently there is a draft pr that is up and pending review: https://github.com/aws-amplify/amplify-cli/pull/2301

Closing this issue as a duplicate.

[2020-02-27 21:44] #3498 closed

[2020-02-27 21:49] SwaySway commented on #3501
Currently the CLI does not support this as `amplify codegen models` works based on an api that is created from the CLI. As codegen does not look at the introspection schema when generating the models.

[2020-02-27 22:02] SwaySway commented on #3509
Hello @wongcyrus If you are referring to listing all objects in a bucket it's related to how the CLI sets up a storage. View more on file access levels here: https://aws-amplify.github.io/docs/js/storage

[2020-02-27 22:03] #3522 closed

[2020-02-27 22:24] attilah commented on #3502
@davidbiller what exactly has changed in the registration why users cannot register? Are you sending any information from the client app (like app version) which would enable you to act differently during registration in some Cognito triggers? Is the new app calling a different endpoint? There are a lot to this problem that is specific to you use case and not related to the CLI itself. Please send

[2020-02-27 22:32] SebSchwartz commented on #3430
I followed this comment to get it working: https://github.com/aws-amplify/amplify-cli/issues/1204#issuecomment-521211197

You'll also need to pack cfn-response in your function so you can tell Cloudformation that it's done: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-lambda-function-code-cfnresponsemodule.html
Be carefull with this and always send response back to cloudforma

[2020-02-27 22:40] igorkosta commented on #202
@hisham would you, please, share with us how you end up implementing the `interface @model` behaviour?

[2020-02-27 22:42] SwaySway commented on #2739
Closing due to lack of response. Please comment below to re-open the issue, should you still run into this.

[2020-02-27 22:42] #2739 closed

[2020-02-27 22:43] Genkilabs commented on #1220
+1 Bump.
This would be really great for me right now. ^_^

[2020-02-27 23:11] nikhname commented on #3497
@mayteio I was not able to reproduce this using your project, Storage.put and Storage.get worked out of the box for me. Could you please review the IAM permissions for your account?
https://aws.amazon.com/iam/features/manage-permissions/

[2020-02-27 23:16] hisham commented on #202
I wrote a node script that modifies the cloudformation json files amplify cli generates (e.g. ConnectionStack.json and the model stack jsons). This script is run before any amplify push. Let's say if you have interface that 3 models implement. Amplify CLI will want to create 3 tables and data sources for these. So my script creates 1 table as the data source and connects the 3 models to that data

[2020-02-27 23:30] nikhname commented on #3504
@damianrr it seems as though you are running into this issue: https://github.com/aws-amplify/amplify-cli/issues/2972

You can safely delete the duplicate apps in the console UI to proceed. Please comment if you have further questions.

[2020-02-27 23:30] #3504 closed

[2020-02-27 23:52] #3403 closed

[2020-02-28 00:14] SwaySway commented on #3101
Closing this issue as the pr has been merged and is included in the latest release.

[2020-02-28 00:14] #3101 closed

[2020-02-28 00:22] SwaySway commented on #3463
Closing issue due to lack of response. Should you still experience issues with this feel free to comment below.

[2020-02-28 00:22] #3463 closed

[2020-02-28 02:08] undefobj commented on #3518
What is "lots of data"? If it's just a few hundred records or less it's probably just easier to do a GraphQL mutation with a for-loop just like any client. If it's thousands of records I'd probably recommend writing to the base table but *not* putting any version value, that way the sync processor could pick it up at the next base query client catchup period.

[2020-02-28 02:08] undefobj commented on #3518
Yes we just merged and are working on docs and publishing process.

[2020-02-28 02:27] undefobj commented on #3108
@lazy-var @asyschikov For a synchronization protocol to have correctness and convergence objects need to have unique identifiers. Since DataStore is local-first before mutations are reconciled and committed to DynamoDB, we create these identifiers locally using the `id` field with type `ID`. There is complexity in the use cases such as relational patterns that not only leverage `@key` with DynamoD

[2020-02-28 02:40] scherroman commented on #1430
After much trial and error, I was finally able to get amplify init and publish to work in Github Actions. The method that worked for me as described in [#2072](https://github.com/aws-amplify/amplify-cli/issues/2072) was running the aws cli configure commands to configure the default profile and then using the default profile during amplify init:

[code]

Note that the ubuntu-latest image comes pre

[2020-02-28 04:52] HaseldenOrganizationOwner commented on #2988
I've been able to work around this issue using JSON.parse and JSON.stringify in application code and just storing JSON strings in the database, at least until support is provided for complex object types that don't use @model

[2020-02-28 05:12] cyrfer commented on #3094
@kaustavghosh06 @UnleashedMind  I still see this error, using

[code]

[2020-02-28 06:04] mightiesthero opened #3535 "auth permission"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
permission with iam provider work different from amazon cognito provider

with amazon cognito provider if read operation not provided, user with no group can read model
but with iam provider i cannot read

if i add operations read with iam provider, then user with iam authentication

[2020-02-28 06:22] rvanbael commented on #1850
Same issue here, if I understand correctly, we cannot use properly Amplify with Lambda in a multi env. I call that a bug, not a request for enhancement.
I tried to update to last CLI version. It does not patch the issue.

Do we have any other alternative to gitignore cloudformation-template.json files? I don't like that, because these files are configuration files, to tune lambda function settings

[2020-02-28 06:24] SebSchwartz commented on #3518
Ok so if I don t put _version in my item, it will be sync later on to the client. Do I need to put updatedAt value?
Thanks for your answer

[2020-02-28 07:23] yahavb opened #3536 "error adding the datasource using Aurora"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am trying to config Appsync with Aurora per https://aws-amplify.github.io/docs/cli-toolchain/graphql#relational-databases

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
amplify -v
4.13.4

**To Reproduce**
Steps to reproduce the beh

[2020-02-28 07:28] apoorvmote commented on #3518
@undefobj couple of quick questions about datastore.

This is very big one.

Can datastore replace redux? (I am using it with react). I am thinking of eliminating redux.

And can I eliminate custom @key based on my access pattern? Why bother adding keys(other than relationships of course) because I can add predicates locally?

[2020-02-28 08:10] igorkosta commented on #202
@hisham could you, maybe, share your script on https://gist.github.com/? I would really appreciate it. I have the same use case and thought about using the `ENUM` to differentiate between different user types.
Btw. do you use `amplify mock` and if you do, does the script also creates 1 table locally?

Thank you very much in advance!!!

[2020-02-28 09:09] SebSchwartz commented on #3518
Yes it can, we don't have redux at all.

It depends if you want to query dynamo with those key. GrapQL will generate you some query like entityByCustomKey.

I think there are nothing out of the box for this, maybe you could try with the Storage category but i don't think it handles it.

[2020-02-28 09:42] ricsirigu opened #3537 "Receiving realtime updates only if the owner field is populated (even if I'm not the owner)"
**Describe the bug**
I can receive realtime updates only if the owner field is populated (even if I'm not the owner)

**Amplify CLI Version**
4.13.2

**To Reproduce**
I added a custom resolver in order to support dynamic groups authorization for subscriptions.

The resolvers are the following

*Request Resolver (Appsync requires an operation field)*

[code]

*Response Resolver*
[code]

- I made th

[2020-02-28 09:50] RossWilliams commented on #1850
@rvanbael these values changing should not prevent pushing resources, and changes to these lines can be safely ignored. When pushing a resource, these templates get updated with correct s3 bucket keys, see code [here](https://github.com/aws-amplify/amplify-cli/blob/54d4d64e03dc246e42ba3e2d19b1789d2dbeaddc/packages/amplify-provider-awscloudformation/lib/push-resources.js#L249).

If you want to keep

[2020-02-28 09:53] tomasyaya commented on #3530
@SwaySway some update:

I updated the rest api and remove the path in with linkTest was being use.

I pushed and that went OK.

Afterwords I update the linkTest function and remove the dependencies to auth and api.

I pushed and same error: `UPDATE_FAILED      functionlinkTest AWS::CloudFormation::Stack Fri Feb 28 2020 10:08:28 GMT+0100 (Central European Standard Time) Parameters: [apipromotedGrap

[2020-02-28 10:12] jasontripleps commented on #3532
@SwaySway Thanks a lot. I'll try that now! I assume in this case I should have cognito as the default authentication of the API?

[2020-02-28 10:25] jasontripleps commented on #3532
My problem now is that I'm getting a Template may not exceed 460800 bytes in size. error.

Looking like it's because it's making an IAM policy for every field. Is there any way around this?

[2020-02-28 10:43] tomasyaya commented on #3530
@SwaySway Sorry for the short tale in this issue.

So I was able to track the LambdaExcutionRole in the stack of the cloud formation. I remove the permission and manually delete the Role.

Then I did a a function remove from the cli and deleted the linkTest function.

I pushed and everything OK.

Then I updated the API and push and . . . .  everything OK.

By now it's working.

Im seeing that some

[2020-02-28 12:02] jasontripleps commented on #3532
Have tried just doing a single function to bring the number of IAM policies down (just to test it) and I'm getting  `No data source found named NONE (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID:<SOME_CODE>)`

I do also have nested types, if that makes a difference?

For example

[code]

[2020-02-28 12:24] apoorvmote commented on #3518
Really great to hear that

If I am making graphql query & not use datastore then its not for specific key. The power of graphql is fetching everything. e.g. specific blog, all of its blog posts & all comments for each individual posts. That is lacking in datastore.

And major use case for key is to fetch records by date. I need top whatever records from before today and latest. Not before today bu

[2020-02-28 15:19] isheejong opened #3538 "How to manage multiple backend (appsync)"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
management of backend with AppSync

**Amplify CLI Version**
------------------------------------------
sogori:amplify-serverless-summary heejonglee$ amplify -v
4.13.1
sogori:amplify-serverless-summary heejonglee$
---------------------------------------

[2020-02-28 16:21] #3538 closed

[2020-02-28 16:22] isheejong commented on #3538
first, I will try to find out the solution by self.

[2020-02-28 18:06] hisham commented on #202
Sure here you go: https://gist.github.com/hisham/93ac6fcbe66f4a346d32681dc83e5ce2/revisions

The part that is not in the gist is you'll have to create a User.json and UserTable.json nested cloudformation stack (for the table you want the models to actually be stored in + appsync connections). These you will have to create manually through a custom nested stack, which amplify cli supports. They are

[2020-02-28 18:08] igorkosta commented on #202
@hisham Thank you very much 👍

[2020-02-28 18:12] hisham commented on #202
No problem. To answer your other question, I haven't tried amplify mock yet for appsync. I did try it once or twice but ran into an issue and never looked into it deeply. It's on my todo list. I don't think it's related to my script.

[2020-02-28 18:41] nikhname commented on #3536
@yahavb after init you need to run amplify add api before adding the RDS datasource. Please try adding the api first and trying again

[2020-02-28 19:08] yahavb commented on #3536
@nikhname in our case, when we run `amplify init` we have a json file that includes all the components to add under `/amplify/backend` that includes (among other things)

[code]

Moreover `amplify status` before I try to add the datasource:

[code]

I suspect add-graphql-datasource does not like the SQL schema when it compare it with the existing GQL schema listed in `/amplify/backend/api/AppSync/

[2020-02-28 19:37] nikhname commented on #3536
Thanks for clarifying, this is a bug and a duplicate of https://github.com/aws-amplify/amplify-cli/issues/3082. We will also work on adding more descriptive error messages when addressing this.

[2020-02-28 19:37] #3536 closed

[2020-02-28 21:18] mdebo commented on #2988
HI, I meet exactly the same issue, any update about this?
This feature is really important to allow the migration of existing API to datastore

[2020-02-28 21:32] danrivett commented on #2988
@mdebo - My workaround is still the one outlined by @lazy-var in https://github.com/aws-amplify/amplify-cli/issues/2988#issuecomment-567711467 to codegen with the @model annotations on all nested-types but then remove them before doing an `amplify push`.

Not ideal in the long run but at least for the the short term it's an option.

[2020-02-28 21:49] mdebo commented on #2988
@danrivett thank you, i'm going to give it a try.

[2020-02-28 22:59] awsirkis commented on #3444
It seems you suspicion was correct @attilah

`C:\Users\user\test>node index.js
events.js:298
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:21)
Emitted 'error' event on Chi

[2020-02-28 23:05] SwaySway commented on #3535
Hello @mightiesthero rules for the iam as an auth provider are different that userPools. The operations you wish to allow for IAM must be specified so the policy for read can be added to the authorized role.

View `@auth` on combing auth rules here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#combining-authorization-rules

[2020-02-28 23:27] julescsv commented on #3183
Dealing with the same issue
@dushek Can you elaborate on your fix?

[2020-02-29 00:53] mayteio commented on #3497
Thanks for getting back to me @nikhname, was that on localhost or when deployed? Because it works fine when deployed, just not testing locally.

[2020-02-29 01:30] joemsak commented on #3201
Would be nice to see the error message show where to fix this :) thank you!

[2020-02-29 08:26] bryanowen7 commented on #2384
+1

[2020-02-29 08:53] tgjorgoski opened #3539 "Graphql transformer to generate SEARCH filters for nested type objects"
If you have schema like this, the autogenerated elasticsearch filters don't include possibility to search on base of the nested data:
[code]
The use case here is that I'm populating a plaintext field with the text-only data of the rich text, as the rich text content data is not quite appropriate for indexing and searching.
Of course you can currently store the content and plaintext fields both at

[2020-02-29 12:17] ricsirigu commented on #1865
It's possible to have scannedCount and count as result from the GraphQL query

read [here](https://www.riccardosirigu.com/aws-amplify-dynamodb-total-count-graphql-queries/)

[2020-02-29 14:53] cyrfer commented on #620
@undefobj  @kaustavghosh06 you say you've "added support" but this is still very difficult to do. I suspect it is a documentation issue.

What answers do I need to provide the CLI to get it to setup a lambda with all the right role/policy (cognito, api/dynamodb) for a PostSignupConfirm trigger?

[2020-02-29 15:21] cc-bojan commented on #3485
@attilah You were right. I attached: `arn:aws:appsync:eu-central-1:<account-id>:apis/<api-id>/types/Query/fields/recoverUsername` - Resource to the existing `UnauthRolePolicy`, and now it's working. Thanks.

[2020-02-29 15:22] #3485 closed

[2020-02-29 16:02] mrrainey commented on #156
@kaustavghosh06 Great news, I hate to have to ask this, but do you have an approximate time for this release? I'm working on my university final year project at the minute and would like to use python lambda functions with amplify, I cannot afford to if they are not released in the next 2-3 weeks. If I had an idea I could plan accordingly. Thanks.

[2020-02-29 17:12] sallar commented on #1865
Thanks. I wonder why is there no official documentation about this.

[2020-02-29 17:23] davidbiller commented on #1865
Because the 1 MB limit. So it’s not really a Option.

[2020-02-29 23:15] BrittonWinterrose commented on #2672
Encountered a similar issue after manually deleting the API keys via the AppSync view of the AWS Managment Console.

@attilah's troubleshooting steps worked perfect. Thanks!

[2020-03-01 06:17] mightiesthero commented on #3535
Thank you for the response @SwaySway

but if i can the schema into this

[code]

user with admin group or user with no group cannot read this model.
do you have a solution for this?

[2020-03-01 07:28] hatunike opened #3580 "amplifyxc.config not created when following docs exactly"
**Describe the bug**
If you follow the guide [here](https://aws-amplify.github.io/docs/ios/api)exactly you end up with no `amplifyxc.config` file generated, and a project that doesn't build.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://aws-amplify.github.io/docs/ios/api'
2. Follow every step of the documentation
3. Open the .xcworkspace file created by CocoaPods
4. "Build y

[2020-03-01 11:58] lexfaraday commented on #1865
I hope that this technical limit from DynamoDB gets solved, but modifying the Graphql scheme is not an option for me, in the meanwhile I've created a new DynamoDB table with the owner and count fields, this table is updated vía lambda trigger after each insert/delete in the other DynamoDB table. After that when I need to know the total count by owner, I do in parallel the query to the counter tabl

[2020-03-01 16:46] idanlo opened #3541 "Searching enum fields with @searchable - type not generated but it works"
**Describe the bug**
when using the @searchable directive on a model, the cli generates inputs for the `searchX` queries, but it does not generate types for enum fields, so for example the `id` field is ok to filter with, but a field which is enum cannot be filtered because the types for filtering are not generated.

After adding manually my enum field to the `SearchXFilterInput` and giving it the

[2020-03-01 16:58] cyrfer commented on #3240
@kaustavghosh06 this works great when i run `amplify push` from my local machine.

When I commit to codecommit and `git push` the amplify CICD build breaks saying my custom parameters were not provided.

[2020-03-01 20:13] tgjorgoski commented on #3519
On second thought... I guess I could simply request a field which is connected to the lambda as part of the mutation, and probably the context will have sufficient information to figure out that was executed as part of a mutation?

[2020-03-01 21:31] houmark commented on #2795
I've hit a similar bug, but I was trying to add access to storage from a function.

I was able to `amplify push` in the CLI but I was not able to deploy using the Amplify Console (I even tried updating my Schema to see if that would make the Console pick up changes. didn't help).

It would fail with this error message:

[code]

I tried messing around in various JSON templates, but I was unable to

[2020-03-01 21:36] houmark commented on #2795
And for the record, I'm running Amplify CLI 4.13.4, which is the current most recent version.

[2020-03-01 21:36] sorokinvj commented on #1678
@bob-lee you were right! I just put owner in mutation fields, and get updates in my frontend, magic:) Thanks a lot!

[2020-03-01 23:06] kesteinbakk commented on #3304
I get same issue even after upgrading to latest version (4.13.4). How do I get the fix mentioned by @attilah ?

[2020-03-01 23:09] attilah commented on #3304
@kesteinbakk it will be included in the next release, 4.13.4 does not have it yet.

[2020-03-01 23:12] Rafcin opened #5030 "Cognito Adding To Group"
** Which Category is your question related to? **
Auth
** What AWS Services are you utilizing? **
Cognito, Amplify
** Provide additional details e.g. code snippets **
So i'm working on a project that uses 3 roles and for simplicity I will call them User, Editor, Admin.
When I setup auth I was able to order the groups and by default User is the group people are added to.

I have rewritten now a new

[2020-03-01 23:34] amuresia commented on #3497
I can reproduce this even if I add hosting and deploy the react app ...
I am using `@auth(rules: [{ allow: groups, groups: ["Admin"], operations: [create update delete] }])` and I get a 403 on upload to S3.
What's even more concerning is that if the user that I am logged in with is not part of the `Admin` group then the mutation fails **but the upload is successful** ... yikes.

[2020-03-02 01:09] wongcyrus commented on #3509
Hi Sway,

I know how to use the storage CLI, but the actual bug I report is under the situation.
1. Add user group
2. Update permission for User group to access S3 Storage.
3. It adds permission to the role for the group.
4. The permission is all with **"/*"**, which is not enough to list object in bucket!

The CLI generator should use the following permission for List Object permission
    {

[2020-03-02 01:57] bob-lee commented on #1678
@sorokinvj this is a place to report issues of this package, I would use https://stackoverflow.com/ for q&a

[2020-03-02 06:07] jladdison commented on #2384
+1

[2020-03-02 08:11] mdw2000 opened #3544 "DataStore - support for String type id fields"
I have a model which has a `id` field of type `String` instead of `ID`.

This causes the following error when running `amplify codegen models` (v4.13.4):

[code]

[code]

Is there a specific reason why only the ID type is supported for IDs in DataStore?

[2020-03-02 10:18] Adalsteinn95 commented on #658
What is the status of this feature? This would be very nice for many cases.
Especially for projects moving to AWS amplify.

[2020-03-02 10:22] lorentzca commented on #814
Hi @asmajlovicmars,

It looks right. 👀

- https://github.com/aws-amplify/amplify-cli/issues/3494#issuecomment-590016486

[2020-03-02 10:58] rudyhadoux opened #3545 "How to change the createdAt time format ?"
Hi,

I would like to change the time format of createdAt like this :
[code]
But when I do "amplify push", nothing new is detected.

How to fix it or is it a way to sort createdAt initial format ?

[2020-03-02 11:35] tgjorgoski commented on #1874
Sorry @ngnathan , I missed the question - for the performance I noticed that if I remove the default "index.js" which amplify cli is generating, and simply copy the main logic from the trigger inside it, the performance gets much better.  I think the actual lambda calling each other is not that bad.

[2020-03-02 11:39] slatemates commented on #3493
It seems to work only when we use queries without any specific keys . For example

listJourneys (limit :5,nextToken :"sometoken")

However if we were to use a query such as:
listJourneys (journeyLong : true , limit:5 , nextToken :"sometoken)
then it throws this error . We had the same issue at version 4.13.3 . However, 4.13.4 the issue seems to come up when using list queries on GSI .
Please treat

[2020-03-02 12:37] kjetilge opened #3546 "graphqconfig should reflect removed api"
When I remove an API end then later create a new one with a different name, the schemaPath still has the former name.

If I have an initial config that looks like this:
[code]

- And then delete the API, then add a new API named ```fftest11``` and then try to run ```amplify codegen``` the results in this:

[code]
**The solution I'd like**
The schemaPath should be updated when I remove or add a new

[2020-03-02 12:40] onhate commented on #611
For anyone facing similar issues deploying to us-west-2, you should modify the S3AndCloudFront/template.json section that specifies the origin bucket for CloudFront from

[code]

[code]

[2020-03-02 13:33] NeillGiraldo commented on #2737
This PR #3476 also helps to solve the problem.

[2020-03-02 13:38] jrweth commented on #3140
@chrisfowler Having the same issue with the wording after upgrading to 4.13.4.  I realize it is just the message of the wording, but it still makes me nervous to proceed.

[2020-03-02 14:17] gabrielpoamaneagra commented on #3114
Any idea how we can overcome the 50 subscriptions limit ?
@giovas94 did you find a solution/alternative ?

We would really like to use datastore but this limit ( or the opt-out option ) seems to make it unusable

[2020-03-02 14:24] TheMoums opened #3547 "Limit of 50 subscriptions reached Datastore"
**Describe the bug**
I'm using Amplify Datastore with more than 17 models. As a result, the graphql schema built by amplify contains more than 50 subscriptions which results in the lost of synchronization with the cloud and the warning: [WARN] 52:19.547 DataStore - Sync error subscription failed Connection failed: {"errors":{"errorType":"MaxSubscriptionsReachedError","message":"Max number of 50 su

[2020-03-02 14:34] onhate opened #3548 "amplify env XXX remove hangs after ETIMEDOUT"
**Describe the bug**
Just after creating an environment if I run `amplify env XXX remove` it hangs forever after an ETIMEDOUT error

[code]

The Cloudformation resources are removed but the AppSync environment not, and the command just hangs.

**Amplify CLI Version**
[code]

**To Reproduce**
- Follow the steps to create a simple react native app https://aws-amplify.github.io/docs/js/tutorials/buil

[2020-03-02 15:10] chrisfowler commented on #3140
@jrweth Yes. 4.13.4 doesn't appear to have the updated messaging. I did a test project and it only delete the env I requested, so proceeded with main project. All went well.

[2020-03-02 16:52] kjetilge commented on #3546
Update:
So, I started from scratch and added all needed categories and pushed most of them EXCEPT the api. So when i try to "amplify mock" or "amplify codegen" i still get ```Codegen support only one GraphQL API per project```.

The reason is that, event after running ```Amplify delete``` the ```.graphqlconfig.yml``` from the previos backend is still there. It is not replaced before the api is pus

[2020-03-02 16:57] blairtaylor opened #5959 "Default value for schema type"
Is there a way to specify a default value for graphQL schema types in Amplify?

ex.
myFlag: Boolean = true

This does not compile using amplify api gql-compile

We have a flag which should default to true and would like to initialize it this way when a type is created.

[2020-03-02 17:02] blairtaylor opened #3552 "Deployment of Lambda function that processes a DynamoDb stream"
We want to add a lambda function that processes a dynamodb stream in our amplify app.
We are able to achieve it by adding the following policy to lambdaexecutionpolicy in the function's cloudformation template
[code]
and by adding following EventSourceMapping to the function's cloudformation template.

[code]

The issue is we have to hard-code the arn of the stream inside this cloudformation templ

[2020-03-02 19:02] ericclemmons opened #3550 "Add usernameAttributes (e.g. "email", "phone") to aws-exports.js"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Customers run `amplify add auth` (https://github.com/aws-amplify/amplify-js/issues/3451) with `email` instead of `username`, then use Amplify's UI components (e.g. `withAuthenticator(App)`) in their app, but the UI doesn't reflect their co

[2020-03-02 19:10] anatonie opened #3551 "Amplify CLI does not support environments from a region that is different than the selected profile region"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
My aws profile is configured to use us-east-2
[code]

I have a project in us-west-2 and when I run the pull command provided by the Amplify Console I get the following
[code]

Error message is pretty clear ```Please ensure your local profile matches the AWS account or region in which

[2020-03-02 19:33] edwardfoyle commented on #3418
@rduhard If you really need every combination of inputs to be optional, then that is how you would have to do it. But if only certain inputs are optional, that should significantly reduce the number of subscriptions you would have to create. We will add this issue as an enhancement.

[2020-03-02 19:42] edwardfoyle commented on #2981
We have updated our documentation to include instructions on how to handle this case: https://aws-amplify.github.io/docs/cli-toolchain/graphql#owner-authorization

We are still working on a more intuitive long-term solution but for now you should specify 'create' permissions in your owner auth rule to ensure that an owner is always stored with the record. If you only want certain roles to be able

[2020-03-02 19:42] #2981 closed

[2020-03-02 19:44] #3386 closed

[2020-03-02 19:44] #3431 closed

[2020-03-02 20:49] onhate commented on #569
IMHO latest amplify versions have abstracted so many basic things and yet it allows easy extension by lambdas which open worlds of possibilities, VTL is a very good option for the problem it solves, it is nice to know it and understand if eventually you need to extend it, and hope you don't need to.

[2020-03-02 21:08] jakobpack opened #3553 "Can't fill in URI in "amplify add auth" walkthrough"
I am trying to set up authentication via `amplify add auth`.

I am using `@aws-amplify/cli` version **4.13.4**.

_Here's how to get to the error after calling `amplify add auth`:_

1. Select _Default configuration with Social Provider (Federation)_
2. Select _Email and Phone Number_
3. Choose no advanced settings
4. Type a domain name prefix

-> and now there is the problem making **_Enter your re

[2020-03-02 21:45] UnleashedMind commented on #3521
@ryudice
How did you set the profile on your computer?
It should be in these two files:
 `<home-dir>/.aws/credentials` and `<home-dir>/.aws/config`

Here's the documentation on how it should be setup
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

The `amplify configure` command is a convenience tool to help you to set up a profile in those files.
Seems like you should f

[2020-03-02 21:52] SwaySway commented on #3528
Hello @hirochachacha this is supported in the CLI.

View the docs on that here: https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-roles--mfa

[2020-03-02 21:52] #3528 closed

[2020-03-02 21:57] ryudice commented on #3521
@UnleashedMind
I have the profile configure in ~/.aws/credentials. I have the AWS_PROFILE environment variable set, so I was expecting the amplify CLI to use the profile set through the AWS_PROFILE environment variable just like the aws CLI does, is this not the expected behavior?

[2020-03-02 21:57] UnleashedMind commented on #3505
Try to follow these steps to first recover, and then add a new backend Env if you want to.

1. `amplify pull --appId <your-project-appId> --envName <your-existing-backend-env>`
2. `amplify init` and select the existing backend env if prompted

Now your amplify folder structure is fully setup, they you can add new backend env by

`amplify env add`

[2020-03-02 22:01] UnleashedMind commented on #3521
No, the amplify CLI does not use the AWS_PROFILE environment variable.
From what I see in your screen shot, I don't think the Amplify CLI recognizes your profile settings.

[2020-03-02 22:06] SwaySway commented on #3541
Closing as this is a duplicate of #3248

[2020-03-02 22:06] #3541 closed

[2020-03-02 22:10] onhate commented on #3552
like you do GetAtt for the function you could do it for the Table, no?

[code]

[2020-03-02 22:22] SwaySway commented on #3545
Hello @rudyhadoux if you are referring to having a custom resolver please view the docs here on custom resolvers: https://aws-amplify.github.io/docs/cli-toolchain/graphql#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model

If you run into any issues related to this please comment below

[2020-03-02 22:22] #3545 closed

[2020-03-02 22:30] SwaySway commented on #3546
Hello @kjetilge
Closing as duplicate of #3239

[2020-03-02 22:30] #3546 closed

[2020-03-03 00:16] akshbhu commented on #3509
Hi @wongcyrus , thanks for the info.

1) What amplify-version you are using?
2) Can you send me a snapshot of the S3CFN file generated by amplify or send a zip file of your amplify folder to amplify-cli@amazon.com?

[2020-03-03 02:16] hirochachacha commented on #3528
@SwaySway Thank you for your reply. Yes I know `role_arn` is supported on `amplify-cli`.

https://github.com/aws-amplify/amplify-cli/blob/dcc811a7df3bf86095c8eba712d5e4a2ce7dc83b/packages/amplify-provider-awscloudformation/lib/system-config-manager.js#L64-L69

But I said it doesn't support the same way as `awscli`. `awscli` allow us to write `role_arn` on `~/.aws/credentials` while `amplify-cli` d

[2020-03-03 02:30] karrettgelley opened #3561 "@searchable Cost"
** Which Category is your question related to? **
ElasticSearch

** What AWS Services are you utilizing? **
ElasticSearch, AppSync, Cognito, etc.

I recently got a bill for ~$75 for an elasticsearch instance which I barely use.
![Screen Shot 2020-03-02 at 8 21 14 PM](https://user-images.githubusercontent.com/31458115/75737077-87ce2180-5cc4-11ea-8464-d0af2f8c4bc7.png)

I have an app that is in deve

[2020-03-03 05:43] idanlo commented on #3541
@SwaySway that issue hasn’t had any comments since it has been created, more than one month ago

[2020-03-03 06:11] apoorvmote opened #4467 "passwordless email login sends 3 email at cold start"
**Describe the bug**
As per  the [aws documentation](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/) I have literally copy pasted the code to create passwordless email login. And it does work perfectly after initial hiccup.

So on first time I try to log in with email then it sends 3 different emails with 3 different passwords. I enter passw

[2020-03-03 06:21] chrisco255 opened #3555 "Why does lastPushTimeStamp update on env checkout?"
**Which Category is your question related to?**
env

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
AppSync, Console

**Provide additional details e.g. code snippets**
I've set up `master` and `dev` branches in Console, with environments `master` and `dev` respectively.

When I develop locally, I follow the pattern in the documentation. I will `git checkout master` then `

[2020-03-03 06:50] yvescoinpass commented on #3505
I got an error while trying to input my the name of the env

`Cannot find backend environment master in Amplify Console app`

I am really sure that the name of the env was master. I think the env was deleted too when I accedentally deleted the amplify app?

[2020-03-03 07:29] yvescoinpass commented on #3505
I think the issue was I deleted my the whole amplify project on AWS Console but I still have the existing amplify code base on my github repo.

So what I did was

1. Created a new amplify project on aws console.
2. Connect the existing repository on github
3. On my local machine I `git pull` the repo.
4. `amplify init --appId ("ID OF YOUR NEW AMPLIFY APP")`.
5. Then. I use `amplify update CATEGORY

[2020-03-03 07:36] jeanverster commented on #1789
If anyone is still looking for a workaround to this, I managed to get it working by using [AWS::Events::Rule ](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-events-rule.html).

Create a new function using the amplify cli, then in the newly created function's cloudformation template add the following under the Resources section:

[code]

[2020-03-03 08:57] sakhmedbayev commented on #569
Yes, we can close it

[2020-03-03 08:57] #569 closed

[2020-03-03 08:58] PerrySong commented on #2453
Experiencing the same issue,

Error: Could not find ref for:
[code]

After manually added it to function-parameters.json, amplify mock api can only give me an empty page with this console error:

[code]

[2020-03-03 11:05] elgutierrez opened #3556 "Lambda custom resolver returning @model should fill fields"
**Which Category is your question related to?**
AppSync, GraphQL, Lambda

**Amplify CLI Version**
4.13.2

**What AWS Services are you utilizing?**
AppSync, Lambda

**Provide additional details e.g. code snippets**
I have the following GraphQL model:
[code]
The mutation `setDocProps` is resolved by a Lambda function that does some operations, modify some fields on `Doc` and create some `Events` dep

[2020-03-03 12:34] artyom-melnikov opened #3557 "Amplify init without remote stack check"
Hi! I'm using only two functions from Amplify, which are `amplify api gql-compile` and `amplify codegen`. I'm doing all deployment through aws cdk

I wonder if I can do headless amplify init without validating the existing stack?

[code]

Or can i invoke those  two apis without `amplify init`?

Thanks!

[2020-03-03 12:44] kjetilge commented on #3239
I still have this problem and I'm using version 4.13.4. ```.graphqlconfig.yml``` is not deleted when doing ```amplify delete```

By the way, it would perhaps be nice if schema.json was backed up somewhere, so it can easily be reused.

[2020-03-03 14:43] rudyhadoux commented on #3545
Ok thanks.

[2020-03-03 16:04] warrenmcquinn commented on #3493
I updated to 4.13.4 and affirm that @slatemates is correct -- the issue still comes up when querying a @key directly

[2020-03-03 17:04] jtpdev opened #3558 "getaddrinfo ENOTFOUND on amplify push"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Throws: **An error occured during the push operation: getaddrinfo ENOTFOUND** when I try to push the project.

**Amplify CLI Version**
4.6.0

**To Reproduce**
I configure another account in my amplify project and ran **amplify init** to init with a new environment. Then I ran **ampli

[2020-03-03 17:23] danmight opened #3562 "The client is not authorized to perform this operation. Error when Trying to use a new environment to call a REST API endpoint."
** Which Category is your question related to? **
Auth, API (REST), Functions

** What AWS Services are you utilizing? **
Cognito, API Gateway

** Provide additional details e.g. code snippets **
Amplify CLI 4.13.4

Scenario:
I created an app and developed on my localhost.

I then hooked it to the Amplify Console and created a new branch and backend called staging (which is a new environment).

In

[2020-03-03 17:40] tsongas opened #3559 "No documentation for environment name when running amplify-init"
Starting to learn Amplify and just ran `amplify init` in my terminal, I confirmed the name of the project as my project folder name, but now it's asking for an environment name and I have no idea what this means in this context, what I should set it to, or how it will be used later, and can't find any description in the documentation.

I'm guessing maybe it's referring to `development` `test` `sta

[2020-03-03 17:41] martinpapacodes opened #3560 "Amplify CLI Plugin Scan Failed"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Amplify CLI Plugin scan failed.

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

 ~/D/4/taskmaster   notifications ±  amplify -v
Scanning for plugins...
Plugin scan failed.
Plugin scan failed.
Error

[2020-03-03 17:43] SwaySway commented on #3553
Hello @jakobpack did you add the URI with a trailing slash?
(eg. https://www.amazon.com/ or http://localhost:3000/)

[2020-03-03 17:48] SwaySway commented on #3560
Hello @martinpapacodes What OS are you installing the CLI on?

[2020-03-03 17:53] #3559 closed

[2020-03-03 17:55] martinpapacodes commented on #3560
macOS Mojave
Version 10.14.6

[2020-03-03 18:19] SwaySway commented on #3558
Hello @jtpdev if you are moving your project to a new account you can try running `amplify configure project` to reconfigure the aws credentials for the project.

View docs here: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#amplify-configure-project

[2020-03-03 18:53] chrisco255 commented on #3519
Just a suggestion, but you could use DynamoDB streams and create a Lambda trigger once a field mutates as mentioned here: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.Lambda.html

Another option to look into would be Pipeline Resolvers: https://docs.aws.amazon.com/appsync/latest/devguide/pipeline-resolvers.html

[2020-03-03 18:59] jtpdev commented on #3558
I already do it. But without doing anything the error stopped.

[2020-03-03 18:59] #3558 closed

[2020-03-03 19:27] UnleashedMind commented on #3560
Interesting to see the error is from a ts file. It should
How did you install the Amplify CLI?

[2020-03-03 20:02] KrustyHack opened #3563 "Amplify project multi env with GraphQL APIs"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

Amplify, AppSync, multi env (dev/prod)

**Amplify CLI Version**

3.15.0

**What AWS Services are you utilizing?**

* Amplify
* AppSync
* Cognito
* Lambda

**Provide additional details e.g. code snippets**

I have 2 environments for my Amplify project

[2020-03-03 20:13] cyrfer opened #3564 "reopen ticket 3240"
**Which Category is your question related to?**

Sorry to double-post but I don't know how to get a ticket re-opened without this.
https://github.com/aws-amplify/amplify-cli/issues/3240

[2020-03-03 20:20] kaustavghosh06 commented on #3560
@martinpapacodes I've seen this error when using Node version < 10.x

What's the node version you're using?

[2020-03-03 20:23] vchaddha opened #3565 "Use a manually created user pool with an existing API when using amplify cli with Angular."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
amplify cli, api , auth, manual configuration

**Amplify CLI Version**
4.13.4
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
AppSync, Cognito user pool.

**Provide additional details e

[2020-03-03 20:30] #3564 closed

[2020-03-03 20:31] kaustavghosh06 commented on #3564
re-opened #3240

[2020-03-03 20:53] cyrfer commented on #3240
This is linking the CICD question, which is related to the local CLI problems in `EDIT 2`
https://forums.aws.amazon.com/thread.jspa?threadID=318114

[2020-03-03 21:25] SwaySway commented on #3563
Hello @KrustyHack multi-env follows a git workflow so you could effectively have a branch called dev paired with a dev env. This should let you have a different `.graphqlconfig.yml`.

Mutli-Env Docs: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#concepts-1

[2020-03-03 21:35] SwaySway commented on #3565
Hello @vchaddha what kind of use case are you running into where you need to change the userPool being used in your api? If this is related to testing changes between dev and prod you can create a new environment where you can use a different userpool against your api.

[2020-03-03 21:37] KrustyHack commented on #3563
Ay,

Thanks ! It's more clear now !

I was totally lost and didn't understand what amplify env stand for and what was relationship with git branches.

Your schema is very nice, I will print it I think.

Sad I didn't find it before in the docs. :(

Thanks again !

[2020-03-03 22:04] jackatkoeln commented on #2988
+1  because the workaround is very annoying :-(

[2020-03-03 22:08] SwaySway commented on #3557
@artyom-melnikov What is your current configuration like with CDK?
If you are running `amplify init` on an existing amplify project it will generate the necessary config files.

[2020-03-03 22:13] jackatkoeln commented on #2988
This will still not work with datastore.
https://github.com/aws-amplify/amplify-js/issues/4579

[2020-03-03 23:38] #3359 closed

[2020-03-04 00:27] vchaddha commented on #3565
Hey Josue,
Thanks for the response!!!

The use case is basically to add a manually created user pool which contains SAML provider and some changes to user attribute schema, to an existing amplify project. I understood that the use of manual configuration with Amplify.configure() would be to provide some level of freedom to use a different user pool, just in case required.

Lets say that I want to

[2020-03-04 01:04] jhockett opened #3569 "amplify env import succeeds when it should fail"
**Describe the bug**
amplify env import --name <anything> --config <nothing here>
The above command succeeds when no actual config is specified, leading to a bad local state.

**Amplify CLI Version**
4.13.4

**To Reproduce**
amplify init
amplify env import --name randomname --config
amplify env list

**Expected behavior**
CLI should error out and not add the environment locally

**Desktop (please

[2020-03-04 01:33] AndrewPrifer commented on #2988
@danrivett I am a little confused since this shouldn't be working because DataStore doesn't support nested objects at the moment. Did you verify that this workaround works? If yes, are there any caveats?

[2020-03-04 02:12] sacrampton commented on #2988
My concern with this stuff is geolocations - the documentation tells you how to create a custom geolocation search resolver that creates ElasticSearch GeoPoints. I'm not sure this works with DataStore and I'm not sure there is any work around to this.

https://aws-amplify.github.io/docs/cli-toolchain/graphql#add-a-custom-geolocation-search-resolver-that-targets-an-elasticsearch-domain-created-by-s

[2020-03-04 03:33] dyson-yamashita commented on #2988
I have same problem about nested objects .
So, I changed from Amplify iOS  to Amplify iOS SDK(AppSync).
https://aws-amplify.github.io/docs/sdk/ios/start

[2020-03-04 04:20] danrivett commented on #2988
Let me get back to you as I was doing some POC work around this about a month ago and although what I suggested worked I didn't complete the POC since I was waiting on the React Native support to go live since it was an RN POC.

Therefore it could have been premature of me to confirm that initial suggestion since I haven't tested syncing data with the backend, I stopped at confirming `amplify code

[2020-03-04 05:08] gaochenyue commented on #3509
I can reproduce this issue.
Fixed storage.list with @wongcyrus solution. It does work with storage.list, but it fails storage.get

[2020-03-04 05:13] RussMax783 opened #3570 "Multiple authorization support not being recognized from CLI"
**Describe the bug**
When trying to set up a graphql api that allows a model to be publicly accessible with an API key but also have @auth restrictions with cognito user pools, it only respects the first/default option selected. In the `backend-config.json` this is the result of running the steps below:
[code]

Manually updating App Sync from the console to have the additional authorization provid

[2020-03-04 05:16] artyom-melnikov commented on #3557
@SwaySway So i really like that annotated schema from amplify, but for my case it's deployment is not very suitable.

My flow is:
 - perform `amplify init` - i want to discard this step
 - Generate final schema and resolvers (`amplify api gql-compile`)
 - Parse `build/stacks/*.json` files and get resolver <-> datasource mapping
 - With CDK create all required resources and attach resolvers accordi

[2020-03-04 08:43] sakhmedbayev commented on #2998
I am getting the same issue. I had to delete cloud formation stack manually in hope that it will fix `Unexpected token o in JSON at position 0` that I was encountering on `amplify push`. Now I have a `prod` environment in amplify console and I cannot find a way to delete it.

[2020-03-04 08:59] julien-tamade opened #3573 "Recreating a removed environment fails on push"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I have a dev environment, "dev". I created an environment called "test". I realized some of the configuration I had done when initializing test was not right so I checked out dev again and removed test. Now I tried making the test environment again and I'm getting errors related to m

[2020-03-04 09:23] AndrewPrifer commented on #2988
@danrivett I see. It makes sense that the two operations work independently, however since they result in two completely different database layouts and GraphQL schemas, I'd be surprised if syncing worked. If you somehow manage to get it to work with any kind of data, I'd be very interested to know.

[2020-03-04 11:17] danielmaartens-sovtech commented on #1735
@attilah @malcomm

Also experiencing this issue.

How to solve this ?

[2020-03-04 11:26] jackatkoeln commented on #2988
@sacrampton This is not a valid option. Datastore doesn't support nested types yet. If you use `codegen` with `@model` but then remove it for `amplify push` you will end up with different structures. I have tested it, you can still use Datastore.save locally and it works but it will not synchronize via apsync.  If it helps I can post the error messages in this thread.

[2020-03-04 11:29] AndrewPrifer commented on #2988
@jackatkoeln thanks for confirming it.

[2020-03-04 12:02] NeillGiraldo opened #3574 "AppSync Mock - Unable to convert document to class ...LambdaVersionedConfig."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
On `amplify-appsync-simulator@0.23.0` this request mapping template works

[code]

however on the current version is not working.

**Amplify CLI Version**
amplify-appsync-simulator@1.14.0

**To Reproduce**
Example provided in the description

**Expected behavior**
Should Invoke lambd

[2020-03-04 14:51] nagey commented on #2259
seeing something similar in v4.13.4.

Here's my `.graphqlconfig.yml` for reference:
[code]

[2020-03-04 15:22] yi-hoffnung commented on #703
Use of Custom Cloudformation Stacks. That's my way
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks

[2020-03-04 15:35] jakobpack commented on #3553
I didn't, thank you.
That resolved the issue.

[2020-03-04 15:58] malcomm commented on #1735
@danielmaartens-sovtech, try setting your node options:

`NODE_OPTIONS=--max-old-space-size=4096`

See: https://nodejs.org/api/cli.html for more details.

[2020-03-04 17:03] julien-tamade opened #3575 "Manually Deleted Resources but environment still shows up on amplify console and CLI"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I was getting errors when pushing my environment so I decided to remove it and start again. Then I realized that running the remove command wasn't actually deleting everything so when I tried to recreate the environment there were some already created resources that were causing erro

[2020-03-04 17:38] #3573 closed

[2020-03-04 18:16] chewypear opened #3576 ""Cannot read property 'Mappings' of undefined"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
In API we use graphql and dynamo. In one environment, we can no longer modify API. Even something simple such as adding a new property or making a property non-optional and pushing results in the following error
Cannot read property 'Mappings' of undefined

**Amplify CLI Version**
4.

[2020-03-04 18:22] kaustavghosh06 commented on #3576
@chewypear What are you modifying?  The annotated GraphQL schema? In which directory?

[2020-03-04 18:38] julien-tamade commented on #3575
@kaustavghosh06 I found a sort of fix to the solution. After deleting the resources on the aws console, the environment still was showing up when i ran amplify init. I ended up reverting all of my local amplify files to a previous git commit before I had the other environment. This then made the environment disappear when running amplify init. The environment still showed up on the amplify console

[2020-03-04 19:01] vinhtnguyen commented on #1443
Also  have this issue today. I ran "amplify codegen remove" then "amplify codegen add". It works again now. Weird!

[2020-03-04 19:02] gaochenyue commented on #3509
To support both storage.list and storage.get for cognito users, it needs two separate policy statement as below
[code]
Reference: https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_examples_s3_cognito-bucket.html

[2020-03-04 19:06] jesper-bylund opened #5139 "Models not saving due to incorrect data model, again."
**Describe the bug**
This morning all my saves had stopped working. Again.

**To Reproduce**
1. Add any model, with an undefined "createdAt".
2. DataStore sync comes back with an error. This error also seems to be impossible to solve.

**Expected behavior**
Sync should work. Or the error should allow me to debug.
It is also surprising that my app changes behavior even though _I'm not making any ch

[2020-03-04 19:18] 112Cracker opened #3577 "Duplicated files generated from amplify env pull --restore"
**Issue/question**
I am setting up an amplify project. I cloned a existing git repo first.
And I ran `amplify configure` within my project folder and created a new IAM user on aws.
After that, I ran `amplify init` and select a existing environment that have been created by my colleagues to initialize my amplify project.

The problem is when I ran `amplify env pull --restore`, there will be duplica

[2020-03-04 20:42] chewypear commented on #3576
@kaustavghosh06 - Just doing a simple modification to schema.graphql in /amplify/backend/api/<projname>/schema.graphql

In short, any time amplify sees an 'update' to 'api' and I try to amplify push, the error above results.

[2020-03-04 20:46] kaustavghosh06 commented on #3576
@chewypear Would it be possible to share your schema? It's not happening to us with our sample schemas. I'm curious to know if you have custom stacks etc and your schema of course.

[2020-03-04 20:47] 112Cracker commented on #3153
Same situation occurred to me when I ran `amplify env pull --restore`, duplicated files with exactly the same situation like this popped out from nowhere. But my OS is mac Mojave, any ideas why this could happen? Thanks!

[2020-03-04 20:56] lawmicha opened #3579 "Amplify-Tools does not generate amplifyxc.config with existing amplify project"
Please see https://github.com/aws-amplify/docs/issues/1176 or transfer it over here. It already contains a lot of information.

**Describe the bug**
When developer uses amplify-tools with existing amplify project, ampifyxc.config is missing. Is this expected? what is the developer experience in this case? does the developer go to their terminal to continue to run commands like `amplify codegen mod

[2020-03-04 21:03] regischow commented on #32
@BabyDino another way to do it would be to add `arn:aws:iam::aws:policy/service-
role/AWSLambdaVPCAccessExecutionRole` as ManagedPolicyArns to the LambdaExecutionRole.

[2020-03-04 21:06] chewypear commented on #3576
Unfortunately we can't share the schema publicly.

But I can confirm that the schema can be pushed to another environment - so amplify push just in a different env.

We don't really have anything custom.

In the failing environment when doing amplify push, we also generate a bunch of stuff in transform.conf.json. This file is empty in the functional environments.

[2020-03-04 21:37] nikhname commented on #3579
@lawmicha This is not expected behaviour, the helper file should be created even if the amplify folder exists. Could you try running npm uninstall -g amplify-app and build again to see if it is working with the latest version of amplify-app. I was not able to reproduce this locally

[2020-03-04 21:42] nikhname commented on #3579
Transferred this issue and closing this one

[2020-03-04 21:42] #3579 closed

[2020-03-04 21:45] nikhname commented on #3580
@hatunike @lawmicha  This is not the expected behavior - the amplifyxc.config file should be created even if there is an existing amplify project. Could you try running npm uninstall -g amplify-app and building again? I was not able to reproduce this locally

[2020-03-04 21:49] hatunike commented on #3580
Yeah, the file isn't showing up in Xcode as well as the directory. Yes, I will uninstall and run through again as a fresh run through of the documented steps.

[2020-03-04 22:18] nikhname commented on #3577
@112Cracker Could you specify which files are duplicated?

[2020-03-04 22:53] 112Cracker commented on #3577
Yes. This situation is that after I ran `amplify init`, every file within my amplify directory is duplicated.

[2020-03-05 00:42] heschlie commented on #2794
We're running into this as well to run into a better understanding of where AWS costs are going, is this on the roadmap anywhere?

[2020-03-05 00:51] cmaycumber opened #3585 "Can you change the location of where models are generated when using amplify codegen models?"
**Which Category is your question related to?**
Datastore, Amplify codegen models

Right now when I run amplify codegen models, the models are currently created in the src/models directory. Is there any way to change this?

I imagine that it would act similarly to how the normal codegen where the file location can be changed in the .graphqlconfig.yml

[2020-03-05 01:12] nikhname commented on #3576
@chewypear would you be able to send a zip file of your amplify folder to amplify-cli@amazon.com?
It seems as though a mapping template may be missing

[2020-03-05 01:14] nikhname commented on #3574
@NeillGiraldo what error message do you see when you try this?

[2020-03-05 01:39] drochetti commented on #3506
The iOS PR https://github.com/aws-amplify/amplify-ios/pull/334 landed in master. The names were updated in the original issue and reflect the final names.

[2020-03-05 02:32] raphkim opened #3586 "[Amplify Android] codegen for nested non-model types"
The below is an example of a non-model type that needs to be generated by CLI. It should still be generated very similarly to how a Model is currently generated. Some notes to keep in mind are:
* Remove every annotation inside the POJO representing such a class
* Remove `QueryField` lines
* Remove static `justId()` method (ID is not mandatory for these classes)
* Remove specific implementation of

[2020-03-05 02:33] raphkim commented on #3586
@yuth Thanks in advance :) :+1:

[2020-03-05 04:21] attilah commented on #3532
Closing in favor of #27611 as it seems like the duplicate.

[2020-03-05 04:21] #3532 closed

[2020-03-05 09:29] NeillGiraldo commented on #3574
Hi @nikhname, This is the error that is being thrown.
[code]

[2020-03-05 09:32] shivangp commented on #2776
@multidis Can you provide example of your schema to allow lamba function access but restrict user group. I'm trying to restrict access where public (unauth-role) users can read, logged in (auth-role) users can read, admin can create\read\update\delete and my lamba function also create\read\update\delete. This is my auth roles look like:

[code]

[2020-03-05 09:44] ldariozero12 opened #3592 "Cannot find AppsyncApiId in lambda stack"
**Describe the bug**
I created a function with `amplify add fuction` and in a question _"Do you want to access other resources created in this project from your Lambda function?"_ i selected `api` with all permission.

**But when run amplify mock it shows the following error**:
[code]
The fuction-parameters.json of the lambda is the following (it seems correct):

[code]
And the {name-function}-clo

[2020-03-05 09:49] NeillGiraldo commented on #3574
Hi @nikhname , I checked a bit deeper and it was because of the trailing comma at the end of the payload. JSON.parse was failing because of it.

[2020-03-05 11:18] michalisAsp opened #3593 "Using AWSTimestamp with Amplify Android is not working"
**Describe the bug**
Cannot use AWSTimestamp with Android Amplify. AWSTimestamp is using a primitive type `long`. So, the generated class doesn't build because the `justId(String id)` static method sets null even for primitive types.
I guess AWSTimestamp should use `Long` same as `Boolean` & `Int`.

**Amplify CLI Version**
4.13.4

**To Reproduce**
- Set up an Android project with Amplify as descri

[2020-03-05 12:07] azatoth opened #3594 "Field level group auth returns null when subscribptions are activated"
**Describe the bug**
If having a schema like following:

[code]

and the generated mutation is as following:

[code]

and as a user who is in group "MyGroup" update for example the `status` field, the updateModel mutation will return `null` for the `file`field even though it has data in it. A normal get or list will return this field in its output though.

**Amplify CLI Version**
4.13.4

**Expecte

[2020-03-05 14:35] skysf opened #3595 "UnhandledPromiseRejectionWarning: NoSuchKey: The specified key does not exist"
**Which Category is your question related to?**
Vue setup

**Amplify CLI Version**
4.13.4

**What AWS Services are you utilizing?**
Amplify API

**Provide additional details e.g. code snippets**
I've done below command successfully
[code]
Now I am trying to do below command
[code]
then below ERROR shows:
[code]

[2020-03-05 14:37] #3530 closed

[2020-03-05 16:33] FemkeBuijs commented on #3505
Same here, when adding an extra environment (add env) it shows up in the backend tab of the console, but the already existing environments are not showing.

[2020-03-05 16:45] attilah commented on #3444
@awsirkis from that it seems that launching 'cmd' fails. This is some user/OS level issue you've. Just out of curiosity What happens when you open a cmd and execute this command: `start cmd /s /c start "" /b "https://console.aws.amazon.com"`?

Your OS cannot find `cmd.exe` which is in `C:\Windows\System32`.

Execute `echo %path%` from a `cmd` prompt to see if that directory is in the path or not.

[2020-03-05 16:45] #3444 closed

[2020-03-05 16:47] attilah commented on #3385
Closing due to the lack of response. Feel free to reopen if you can provide some input on my previous question about how can we enhance the CLI experience.

[2020-03-05 16:47] #3385 closed

[2020-03-05 17:03] eliecer2000 commented on #3385
Sorry for my absence, I explain in detail, I have 3 applications with the same database but with different ways to login. one needs the telephone number to enter, the other application needs to enter by email and the last one only with the username taking into account that it needs both an email and a telephone number for verification.

what I did was to deceive the CLI so that I could create the

[2020-03-05 17:07] attilah commented on #2701
Related to #2711 and #3590 contains support for this functionality for custom queries backed by functions or custom resolvers.

Given the following schema:
[code]

This will be the output schema the CLI will generate:
[code]

It will add the `@aws_iam` directive to the query with the `@auth` rule and also generate the appropriate entry in `AuthRolePolicynn` or `UnauthRolePolicynn`:

[code]

Notice

[2020-03-05 17:07] #2701 closed

[2020-03-05 17:10] attilah commented on #3436
Closing due to lack of response, please comment if you can provide some feedback on how could we enhance the documentation around `@key`.

[2020-03-05 17:10] #3436 closed

[2020-03-05 17:41] zjullion commented on #926
@kaustavghosh06 Can you provide any update on this?

[2020-03-05 17:52] nikhname commented on #3592
@ldariozero12 does this error happen only with mock or when you try to push your resources as well?

[2020-03-05 19:15] multidis commented on #2776
@shivangp in my case an example type is:

[code]

For your requirements, my guess would be:

`{ allow: public, provider: iam, operations: [read] }`

`{ allow: groups, groups: ["users"], operations: [read] },`

(once a Cognito trigger is setup to add all users to the default group (called "users" in my example), they no longer have `auth-role`, they have a separate group-based role (at least that w

[2020-03-05 19:16] zoellner commented on #456
My hunch is that one of the biggest issues with ID vs. Access Token is that there's no way to get the IdentityID from an access token. Can't use Pre Token Generation Lambda Trigger to add things to the access token and there's not API to get an identity pool id from an access token/UserID.
There are a ton of questions on github and stackoverflow that don't seem to address this directly but have th

[2020-03-05 20:45] aharbick commented on #3585
It may be the case that this already works 🤷‍♂

I modified my .graphqlconfig.yml like so:

[code]

and ran ```amplify codegen``` on my own and it did what I think you're asking about.

BUT... beware I think I saw the automated step that is offered to you when you do ```amplify push``` overwrite my settings.

[2020-03-05 21:40] paulsson commented on #3515
@pafflu @ricsirigu I had the same need as what you are describing (I believe) and solved it using S3 pre-signed URLs. You can read about my problem and solution here:
https://forums.aws.amazon.com/thread.jspa?threadID=317864

[2020-03-05 21:57] yuyokk opened #3598 "Getting UPDATE_FAILED on storage update while adding Trigger"
Hi team,

I have a Storage running on my amplify app for some time already.
Today I wanted to add a Storage Trigger. So I did the following

[code]

`amplify push` fails with the following error

![image](https://user-images.githubusercontent.com/1225343/76029332-899e1c00-5f34-11ea-9fd5-32aa62c1076f.png)

Please clarify what I am missing here?
Thanks

[2020-03-05 22:58] #3598 closed

[2020-03-05 23:00] yuyokk commented on #3598
Did `remove/add` locally to see the up-to-date cloudformation template for storage and added all the missing variables.

[2020-03-06 00:46] shivangp commented on #2776
Thanks @multidis the does help clarify things !

[2020-03-06 00:52] kaustavghosh06 commented on #3574
We do strict evaluation of the JSON which is the recommended practice. Let us know if you're still stuck with this.

[2020-03-06 00:52] #3574 closed

[2020-03-06 01:00] kaustavghosh06 commented on #3592
This is a  bug and closing this issue as a duplicate of #2690

[2020-03-06 01:00] #3592 closed

[2020-03-06 01:02] kaustavghosh06 commented on #3493
We released a fix for this with v4.14.1 today.

[2020-03-06 01:02] #3493 closed

[2020-03-06 01:03] kaustavghosh06 commented on #3148
We released a fix for this with v4.14.1. Please let us know if you're still stuck with this issue.

[2020-03-06 01:03] #3148 closed

[2020-03-06 01:06] kaustavghosh06 commented on #3143
We released a fix for this with v4.14.1

[2020-03-06 01:06] #3143 closed

[2020-03-06 01:09] kaustavghosh06 commented on #3523
@kesteinbakk You're right - the primary index of a DDB table cannot be changed once the table is provisioned. Thw workaround would be a two step process:
1. Remove the model (if you're fine with loosing the data stored in DDB)
2. Add the model back with the desired @key attributes

[2020-03-06 01:09] #3523 closed

[2020-03-06 01:14] kaustavghosh06 commented on #3585
@cmaycumber No, we do not allow this to be configurable at the moment but I've added a feature-request label to it for us to prioritize.

[2020-03-06 01:23] kaustavghosh06 commented on #2502
This issue should be fixed with the latest version of the CLI. Please let us know if you're still stuck with this issue.

[2020-03-06 01:23] #2502 closed

[2020-03-06 01:27] #2510 closed

[2020-03-06 01:43] nikhname commented on #3570
Hi @RussMax783 in order to add the secondary auth provider you would need to go through the update api flow, running ```amplify update api```. Please feel free to comment if you have further questions

[2020-03-06 02:00] #2711 closed

[2020-03-06 02:26] adamosimpson21 commented on #3560
I'm having the same issue as OP.
Node version: 12.16.1
NPM version: 6.13.14
yarn version: 1.22.0
OS: Windows 10 Home, Version 1809, OS Build 17763.1039

I installed the amplify cli in my root directory C:\npm install -g @aws-amplify/cli
I successfully got to the post-install.js, "Successfully installed the Amplify CLI...Javascript Getting Started...". Anytime I run an amplify command, I receive th

[2020-03-06 02:39] montycheese commented on #3560
Is there any movement on this? We're having the same issue also.

[2020-03-06 05:20] chantlong opened #3600 "Where are AWS Credentials saved in build?"
I am using React Native with AWS Amplify.

When you create a project with aws-amplify it asks for your aws profile.
With this profile set, I am assuming it allows you to create an instance of aws sdk on the app (client side) to allow you to talk to the GraphQL / API Gateways endpoints created via the CLI securely.

My question is when I build the app and deploy it on to a device, are my AWS creden

[2020-03-06 05:28] kaustavghosh06 commented on #3600
@chantlong The credentials are stored in your local system/machine. We use these credentials to sign AWS SDK calls which the Amplify CLI makes - just like the AWS CLI - but we don't store this information or expose in anywhere in the cloud.

[2020-03-06 05:43] kaustavghosh06 commented on #3600
@chantlong For more clarification tied to storing of credentials on the device of users using your app - I'll transfer this to the JS team managing the react native Amplify Lib.

[2020-03-06 06:39] houmark commented on #2574
There's still not a useful changelog. Really hard to know if there are breaking changes before upgrading.

[2020-03-06 07:11] trantiendat commented on #1513
@kaustavghosh06
Could I re-open this issue ? Because I meet the same problem too. But reserve word is not "aws", this time is "cognito".

![Screen Shot 2020-03-06 at 2 10 14 PM](https://user-images.githubusercontent.com/8804935/76060669-60bd6b80-5fb4-11ea-8916-ed09b58f84dd.png)

[2020-03-06 07:59] lon9man commented on #2461
@oste we have the same problems.. it is very confused to work with amplify, which should work without DynamoDB. we are using RDS only, so all things, which was made by **@model**-directive is useless for us. how do you feel with your project (amlify + RDS) since Oct 2019? what is the challenges and wins?

thanks!

[2020-03-06 11:03] jafbueno commented on #2877
@BhanukaUOM please edit your comment to fix this part:
\"googleAppSecretUserPool \":\"googleAppSecret\"\

You added space just in front of "googleAppSecretUserPool", when executing this script an error appears indicating that this parameter does not exist. However, when removing the space, the parameter is accepted.

I had used this script in my tests, and I noticed this problem.

[2020-03-06 14:08] kimfucious opened #3601 "Amplify Pull in a Bitbucket Pipeline"
**Which Category is your question related to?**
amplify-cli

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Almost everything :)

I'm not committing the `aws-exports.js` file to my repo, which causes the app to crash at build in a Bitbucket Pipeline.

I'd like to run Amplify pull in a "non-interactive" way, supplying credentials/options with the repo's environment variabl

[2020-03-06 14:31] rarira opened #3602 "4.14.1 elasticsearch transform bug"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I have to upgrade from 4.13.1 to 4.14.1 because of this issue #3493
and pagination token issue had been solved but there happens to be another big issue in elasticsearch transform..
I think #2860 happens again
when there is existing string set data in elasticsearch index, the item ca

[2020-03-06 15:59] brene commented on #3561
Hi - I've notified the AWS support team of this and they are happy to look into it. Can you open a new support case and DM [me on Twitter](https://twitter.com/renebrandel) your case number? We can dig into this further then.
![image](https://user-images.githubusercontent.com/4989523/76099655-4a95b800-5f80-11ea-98d8-cb7bfce05164.png)

[2020-03-06 16:01] #3561 closed

[2020-03-06 16:19] ataravati commented on #2458
This is still an issue. Why is it closed?

[2020-03-06 16:21] alexkates commented on #3008
@yuth Any updates? Just ran into this as well. Could you link the issue in the backlog so we can track it?

[2020-03-06 16:41] lawmicha commented on #3434
related https://github.com/aws-amplify/docs/issues/1127

[2020-03-06 16:46] prmacias commented on #3580
I'm having this issue as well -

@hatunike I tried generating the model files but not working for me

line 18: amplifyxc.config: No such file or directory

I need to reread the steps - I don't plan to use graphql so need to figure out how to remove the model stuff

[2020-03-06 17:13] karrettgelley commented on #3561
@brene Thanks. Check your inbox

[2020-03-06 17:19] lawmicha commented on #3580
related https://github.com/aws-amplify/amplify-ios/issues/345

[2020-03-06 19:07] slatemates commented on #3493
Seems to work fine after upgrading to v4.14.1. Thanks a lot .

[2020-03-06 19:47] jhockett commented on #3577
@112Cracker I haven't been able to reproduce the issue so far. What version of the CLI are you using? You can find it by typing `amplify -v` in terminal.

Have you tried running init as root? Does `sudo amplify init` result in the same issue for you?

[2020-03-06 19:49] gaochenyue commented on #3509
@akshbhu  any update? This bug makes group auth useless for S3 storage

[2020-03-06 20:05] RussMax783 commented on #3570
@nikhname thanks for the response. Even when going through the update it does not add the secondary. I've tried re-installing the CLI, installing previous versions of the CLI, and started up a project from scratch. In the `backend-config.json`, it doesn't add anything to the `additionalAuthenticationProviders` field. Even if I manually put some values in there, no change is detected when i run `am

[2020-03-06 20:35] mike-hogan opened #3605 "Is it possible to programatically generate the GraphQL schemas when using Datastore"
I am building a system that is a lot like airtable.  It allows folks define their own models using a UI.  Then they can enter data using auto-generated forms from the models.  So the only two types I have are Model and Row.  An example, an instance of a model might be a Book, with fields title, isbn, number of pages and price.  The model instance will have an id - lets say its 11.  Rows entered ag

[2020-03-06 20:37] ammarkarachi commented on #3481
Hi @DanielMuller , You could write a custom resolver as shown [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers) and access the identity through the context as shown [here](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html#aws-appsync-resolver-context-reference-identity) and compare date using nowISO or nowEpoch in the [context util]

[2020-03-06 20:39] KrustyHack opened #3606 "Amplify Angular leads to 403 when page refresh"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
- Amplify
- CloudFront
- Hosting
- Angular

**Amplify CLI Version**

4.13.4

**What AWS Services are you utilizing?**
- Amplify
- CloudFront
- S3

**Provide additional details e.g. code snippets**

Ay,

I have a strange problem with my Angular app mana

[2020-03-06 20:51] attilah commented on #3576
@chewypear stack mapping is being created during the push and it seems that `transform.conf.json` is the source of the problem, because that is where the stack mapping is stored, I think that file is getting invalid for some reason.

Can you elaborate on this:

- What do you generate into that file?
- Which directory can you find that `template2.json`?
- What version of the CLI was used to create

[2020-03-06 21:02] attilah commented on #3556
@elgutierrez when it comes to customer resolver, then it is the customer resolver's responsibility to resolve fields, `@model` is not connected in any way. To isolate the problem I'd suggest to see what the Lambda returns. I don't know if you've any `@auth` rules defined which could filter out certain fields from the result? Another way to troubleshoot is to test the mutation from the AppSync cons

[2020-03-06 21:07] eliasdefaria commented on #3577
We've recently experienced the same behavior on a project. We were using amplify version 4.13.4 and running it as root did not change the outcome. We recently had a new Iam user initialize amplify using 4.13.4 while we were still on 4.13.1. Could that discrepancy be the issue?

[2020-03-06 21:07] 112Cracker commented on #3577
I have given my terminal admin access before running `amplify env pull --restore` and it still had duplicated files.

[2020-03-06 21:07] mdegrees commented on #1576
@undefobj @attilah what about allowing auth’d and unauth’d access with function resolvers?
When trying to use the @auth directive, amplify complains about the absence of the @model directive. Which leaves you with no choice but do the mentionned workarounds.

[2020-03-06 21:14] StefanV85 commented on #2227
+1

[2020-03-06 21:18] ammarkarachi commented on #2892
@idanlo @danny-waite Can you give me more context? If you could share your schema it would greatly help

[2020-03-06 21:31] attilah commented on #3555
@chrisco255 The `amplify-meta.json` file is part of the `.gitignore` file it should not be checked into source control, so the update of it would not be a problem. I tried the use case you were specifying and because it is ignored I had no problems switching between branches and such.

Is there a particular reason why you don't have it in your `.gitignore` file?

[2020-03-06 21:49] azatoth commented on #3081
Any progress in this feature?

[2020-03-06 21:52] sammartinez commented on #3007
Any update on this?

[2020-03-06 21:52] attilah commented on #3502
Closing due to lack or response, feel free to reopen it if needed.

[2020-03-06 21:52] #3502 closed

[2020-03-06 21:55] eliasdefaria commented on #3576
@attilah I work with @chewypear and just sent the email with the transform.conf.json attached. Thank you.

[2020-03-06 21:58] jhockett commented on #3577
Hello @eliasdefaria. Which OS was being used when the CLI duplicated the files? Was it also the files in the amplify/ folder? Were there any others?

[2020-03-06 22:05] eliasdefaria commented on #3577
@jhockett I was using MacOS 10.14.6. It was only files in the amplify/ folder and sub-folders. It would start by duplicating the backend-config.json and amplify-meta.json in backend/, then it would duplicate the files in our service sub-folders.

[2020-03-06 22:07] attilah commented on #3471
@amirmishani the schema you supplied is invalid and not compiling:
- comments and ratings @connection has a partial field listing, does not match the field list on the other side of the connection, if you try to compile with the latest CLI you'll get `InvalidDirectiveError: Invalid @connection directive  comments. fields does not accept partial sort key` error.
- ratings has the wrong type as it `

[2020-03-06 22:07] #3471 closed

[2020-03-06 22:14] KrustyHack commented on #3606
Ay,

Ok so it works now, after a little battle :+1:
- Added hosting again to my Amplify App (S3 + CloudFront)
- Configured custom error for 4xx with 200 return code and /index.html
- AND THE MORE IMPORTANT : changed my CNAME records with the one from the CloudFront and not the one provided by Amplify Console (which is the "managed CloudFront" when no hosting is configured)...

Anyway, can someone

[2020-03-06 22:46] akshbhu commented on #3497
Hi @mayteio
I tried with your above instructions to reproduce the error on localhost but its working fine for me.
Both Storage.put and Storage.get are working fine on localhost, I can see the images also as you are displaying them side by side with the image name also.
If you are still stuck ,pls let me know.

[2020-03-06 23:14] danmight opened #4055 "AccessDenied: Access Denied when trying to .put or .get on S3"
**Describe the bug**
When I try to get or put a file on S3 using Storage.put or Storage.get I get an access denied error.

Amplify CLI - 4.13.4
aws-amplify - 2.2.6

**To Reproduce**

I'm using React.

Steps to reproduce the behavior:

` const awsKey = await Storage.put(fileName, pdfBlob, {level: 'public', type: 'application/json'})`

I have a valid file name and blob. The interesting thing is this

[2020-03-06 23:26] danmight commented on #3562
This might be related to this issue I just posted [https://github.com/aws-amplify/amplify-js/issues/5058](url)

Looking into it more, it's not a CORs issue for sure.

I don't think the cognito authRole added by amplify is getting used. S3 is also having problems. I got around this one by making a Cognito Authorizer and skipped using IAM roles to call the API.

With this issue I just posted I think

[2020-03-06 23:51] danrivett commented on #2988
@yuth @undefobj I would _really_ appreciate an update on this issue as something we're impacted by. The last update from AWS as far as I can see was back on December 18th and there's a number of us in this ticket that this is causing a problem for - primarily to handle structured geo data.

Be great to understand if this is something that is likely to be addressed in the next couple of months so w

[2020-03-06 23:58] jhockett commented on #3577
Hello @112Cracker, we're still looking for the cause of the duplication. Can you help me eliminate some possible causes?

Do you remember having the amplify project open in a text editor/IDE while you were running `amplify env pull --restore`? If so, which one?

Which version of the CLI are you using presently? `amplify -v`

If you're not already on 4.14.1, can you see if you still get the duplica

[2020-03-07 00:01] yuth commented on #2988
We’re actively working on this, while we cannot guarantee a date we hope to have something in the coming weeks or two

[2020-03-07 00:05] danrivett commented on #2988
That's perfect, thanks @yuth. Dates are never as we expect, but knowing it is something that's made the cut for being worked on is a great update in and of itself. Thanks.

[2020-03-07 00:22] hisham opened #3608 "Amplify CLI not accepting colons in REST API path"
**Is your feature request related to a problem? Please describe.**

Colons are not accepted. Is this an API Gateway limitation or a choice by Amplify CLI? e.g. paths such as this cannot be added:

`/v3/events:batchGet`

You get error: `Each path part must use characters a-z A-Z 0-9 - and must not be empty`

But it's valid and recommended as part of Google's guidelines for REST API design: https://

[2020-03-07 00:41] hisham commented on #3608
After reading https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-known-issues.html, it seems APIGateway itself does not accept colons. Feel free to close.

[2020-03-07 00:54] akshbhu commented on #3509
@wongcyrus @gaochenyue I have reproduces the bug. You can use the policy above  mentioned by @gaochenyue to continue your development.
In the meantime I am working on the fix

[2020-03-07 01:01] 112Cracker commented on #3577
Yes. I am opening VS-Code when running `amplify env pull --restore`.
My amplify version 4.13.4
The latest duplicate file situation is when I run `git pull origin master` from my feature branch. After several minutes, the duplicated files came back, and this time my original files are deleted.
For example, if there is a index.js, this file is deleted and a index 3.js is created with the same conten

[2020-03-07 02:29] shawnmmatthews commented on #2701
@attilah I added your exact code from above to my schema.graphql using aws-amplify 2.2.6 and amplify-cli 4.14.1 it pushing the code up didn't add the @aws_iam to  the output schema for query.

Instead of this

[code]
I'm seeing this.

[code]

Any advice?

[2020-03-07 02:42] Rexingleung commented on #1932
how to deal

[2020-03-07 03:18] shawnmmatthews commented on #2701
On further investigation it turns out the update was failing.

UPDATE_FAILED               GraphQLSchema                                                  AWS::AppSync::GraphQLSchema Fri Mar 06 2020 20:10:55 GMT-0700 (Mountain Standard Time) Resource update cancelled
UPDATE_FAILED               AuthRolePolicy01                                               AWS::IAM::ManagedPolicy     Fri Mar 06 202

[2020-03-07 03:55] #3608 closed

[2020-03-07 03:56] attilah commented on #3577
@112Cracker do you have a share-able git repo where we could reproduce this behavior? also exact repro steps.

- You are in a git branch?
- You execute git pull origin master when VS code is opened and from within vs code terminal?
- What is the amplify env when you do a pull --restore?
- Is the amplify init command the exact one that creates these numbered dupliacates?

If you do all these comman

[2020-03-07 04:00] Rafcin opened #3611 "Clone Env Correctly"
Recently I have been using Amplify more and more, and the one thing I discovered is cloning environments is rough. I have policies in certain services because Amplify claims you need these to have certain functions working. It would be great to have the ability to clone an env and have the policies copied and their ARN paths updated. Or if there is a policy just prompt the use to check it before t

[2020-03-07 04:02] kaustavghosh06 commented on #3611
@Rafcin Do you use the CLI to manage your backend infrastructure? How and where do you write these custom policies?

[2020-03-07 04:13] Rafcin commented on #3611
I have a dev env and a prod env setup. The policies I change through the AWS console. I guess what I mean is say I setup elastic search with a geopoint. In the dev tools section of Kibana I have commands setup to rest my mapping if I update graphql, or my s3 storage bucket has policies to make certain things public. On cognito I set custom attributes for my users, and although it copies my groups

[2020-03-07 04:18] quinlayen commented on #3560
I have been having same exact problem.  I was using amplify cli fine without issue, then suddenly started to receive this error with every amplify command.  I have tried uninstalling and reinstalling node, npm, amplify but end up with

amplify configure
Scanning for plugins...
Plugin scan failed.
Plugin scan failed.
Error: Plugin scan failed.
    at scan (/usr/local/lib/node_modules/@aws-amplify/c

[2020-03-07 04:51] kaustavghosh06 commented on #3560
Hey guys, could you'll please install the latest version of the CLI - 4.14.1 and see if you're having this issue. As a a part of the latest release we clear the esm cache for the amplify CLI which I suspect is causing this issue.

[2020-03-07 05:07] quinlayen commented on #3560
Hi @kaustavghosh06 .  unfortunately that didnt do it for me.  Here is my output:

----------------------------------------
Successfully installed the Amplify CLI
----------------------------------------

Javascript Getting Started - https://aws-amplify.github.io/docs/js/start

Android Getting Started - https://aws-amplify.github.io/docs/android/start

iOS Getting Started - https://aws-amplify.gith

[2020-03-07 09:46] mike-hogan commented on #3605
Probably wrong to post it under amplify-cli, so closed this and opened https://github.com/aws-amplify/amplify-js/issues/5060

[2020-03-07 09:46] #3605 closed

[2020-03-07 12:15] davidbiller opened #3613 "Change AWS Account for CLI"
So i have my company account in aws and i have a private aws account.

So when i want create an app for me, how can i do this?

when i run amplify init, it asks me if i want to use my default user, but not the account.

[2020-03-07 13:16] Ricardo1980 opened #3614 "How can I process Aurora errors in velocity templates properly?"
Hello,

At some point, my app tries to create a user in the database, using AppSync/GraphQL for that.
There are 2 common errors in this use case: duplicated email or duplicated nickname (or both).
I would like that when those errors happen, inform the user properly and paint in red the specific field. For doing that, I have to know that those specific errors are happening.
Right now, this is what

[2020-03-07 18:12] clodal commented on #682
If you are facing issues about "Only one resolver is allowed per field..." when pushing an update relating to a connection in your schema, then maybe try the following:

1. Keep the model. But add the offending resolver key from a connection type to any primitive type i.e. String, then do amplify push.
2. Once pushed, delete that key from your schema and push again (this is so as to wipe it out fr

[2020-03-07 22:33] chrisco255 commented on #3555
It's not in my `.gitignore` file. I can definitely add it, I'm not sure why the CLI setup didn't augment my file with that.

[2020-03-08 03:06] adamosimpson21 commented on #3560
Steps I took:
C:\ npm -g uninstall @aws-amplify/cli
successfully uninstalled, then
C:\ npm -g install @aws-amplify/cli@4.14.1
reached post install screen (successfully installed the amplify cli, JavaScript getting started...)
C:\ amplify -v
Result: plugin scan failed (same error as before)
C:\mydirectory\myproject
Result: plugin scan failed (same error as before)

No changes with 4.14.1

[2020-03-08 05:29] SolveForTech commented on #156
Great to hear support for more languages is coming! Does anyone happen to have a link to a guide on how to work around that for the time being? I'm attempting to integrate in python lambda functions.

[2020-03-08 06:26] 10centmedialabs commented on #3253
Having the same issue. During mock, it throws this error. However, when pushed to the cloud, no issues at all. @akshbhu Did you succeed with this when mocking storage?

[2020-03-08 06:27] apoorvmote opened #3617 "Multi env doesn't update gitignore files"
**Describe the bug**
Adding multiple environment doesn't update gitignore files.

**Amplify CLI Version**
4.16.0

**To Reproduce**
`npx create-react-app multi-env --use-npm --template typescript`
`npx amplify-app@latest`
`amplify init` with prod env
`amplify push`
`git add .`
`git commit -m 'master commit'`
`git checkout -b dev`
`amplify init` with dev env

**Expected behavior**
With multiple envi

[2020-03-08 13:29] apoorvmote opened #3618 "Each time I change amplify environment there is update for admin queries function"
**Describe the bug**
I am using default admin queries lambda function. I have 2 environment master & dev. I also have 2 git branches master & dev. Each time I change `amplify env checkout` master or dev followed with appropriate `git checkout` master or dev. There is always update for admin queries function.
I suspect there is some issue with auto generated `.gitignore` file. So here is my `.gitig

[2020-03-08 13:45] rvanbael opened #4017 "Add React to existing project"
Hey, I have an iOS running app on AWS backend, managed through Amplify. I want to add an admin react website to manage easily the backend data. I will [add a group to my cognito for admin](https://aws.amazon.com/fr/blogs/mobile/amplify-cli-enables-creating-amazon-cognito-user-pool-groups-configuring-fine-grained-permissions-on-groups-and-adding-user-management-capabilities-to-applications/). I wil

[2020-03-08 15:26] kevcam4891 commented on #808
### Fixing push with expired keys AND other resources dependent upon API key

The steps @peerhenry lists work under simple circumstances; however if you have ANY other resources that depend on that API Key (such as functions in my case), you need to do a little surgery to carve out those dependencies before doing the initial push to clear out the API Key, or it will never succeed. This is how I re

[2020-03-08 15:41] ShepelievD commented on #3522
@daajack may u please help me resolve the issue? Have the same situation

[2020-03-08 17:37] danmight commented on #3562
UPDATE: I found out how to make S3 work, but I'm still using cognito authorizers for the API gateway. Solution in the issue referenced above. I'm fine with using authorizers since they work fine. I'm just more concerned that I feel like something is going on that I'm missing and could possibly be an issue in production one day on something else.

[2020-03-08 19:25] yunityio commented on #3560
This issue is blocking some of our new developers from onboarding onto our Amplify-based project.

Any update on this issue?

[2020-03-08 19:48] daajack commented on #3522
Hi, maybe you re-zipped wrongly your  #current-cloud-backend.zip, with a sub-repository in it.

[2020-03-08 20:38] gaochenyue opened #3619 "UnauthorizedException: Invalid API key"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
After I upgraded from 4.12.0 to 4.16.0, API Key auth doesn't work with mock anymore. Here is the error message when I tried to list objects with AppSync mock client. If I change the version back to 4.12.0, everything works again.
{
  "errors": [
    {
      "errorType": "Unauthorized

[2020-03-08 22:33] ShepelievD commented on #3522
@daajack thanks for the response. You were right, I re-zipped it wrong. Thanks 🙏

[2020-03-09 00:16] incr3m opened #3620 "Are there any limits on how many amplify environment we can create?"
Are there any limits on how many amplify environment we can create?

[2020-03-09 02:03] nikhname commented on #3595
Hi @skysf, which version of node are you using?

[2020-03-09 02:07] nikhname commented on #3613
Hi @davidbiller to use a different AWS account run ```amplify configure``` and follow the steps to configure a new profile. You can then choose that profile the next time you run ```amplify init```

[2020-03-09 02:09] jakepgoldman commented on #3033
Having this same problem. Removed an old environment and created a new one; pushed; but aws-exports does not change to reflect the new user pool/identity.

[2020-03-09 03:17] karrettgelley commented on #3617
What things in particular are getting mixed up? I notice when I use multiple environments, the team-provider-info.json changes after a merge, thus requiring another commit, but what is happening in your case?

[2020-03-09 04:56] apoorvmote commented on #3617
In my case `npx amplify-app@latest` will automatically initialize amplify environment but will not add anything in `.gitignore`. Or if you initialize amplify after `npx amplify-app@latest` with either `amplify init` or `amplify env add` it will not update `.gitignore` file. This causes whole slew of problems after.

And yes the for me also `team-provider-info.json` also changes after the merge.

[2020-03-09 06:04] skysf commented on #3595
Hi @nikhname , I am using 10.16.0

[2020-03-09 06:35] starpebble commented on #3384
I’d pitch in to a cloud9 guide for Amplify. The initial cloud9 ec2 Amazon Linux instance is somewhat compatible though not perfectly. I have a compatibility ritual for JavaScript amplify project compatibility that I can write down. I hope there’s something in common with a Java Amplify project. What must be changed to create compatibility with Cloud9, Java and Amplify?

For amplify web app project

[2020-03-09 07:35] #3613 closed

[2020-03-09 07:38] chrisco255 commented on #1874
@tgjorgoski Thank you so much for the suggestion. Great workaround. Works well!

[2020-03-09 07:53] arkllc commented on #3384
Also, update the Java. Currently installed version of Java is incompatible

[2020-03-09 08:20] rudyhadoux opened #3621 "S3 private files for multiple users"
Hi,

I do manage to store private files but only the owner can get these files (with Storage.vault(key)) with AWS Cognito authentication and verification (JWT).

How to get these files for multiple authorized users like for a chat application ?

I want that **only members** can get images :
[code]

[2020-03-09 08:28] arkllc opened #3622 "@auth on the GSIs mentioned in the @key"
**Is your feature request related to a problem? Please describe.**
Please allow the ability to add @auth on GSIs mentioned in @key

**Describe the solution you'd like**
in the GSIs mentioned in @key it would be great if adding @auth is allowed

**Describe alternatives you've considered**
Adding field level auth is a choice but it fails to achieve 2 items:
1. If I would like to make 2-3 fields in a

[2020-03-09 13:47] azatoth commented on #1886
and further updates on this?

[2020-03-09 14:47] nikhname commented on #3580
@prmacias @hatunike are you using nvm to manage node versions?

[2020-03-09 14:51] prmacias commented on #3580
@nikhname

yes -

the node version is v12.4.0

[2020-03-09 15:55] yuth commented on #3620
Each Amplify Environment uses a CloudFormation stack. The only limit is that the number of CloudFormation stacks an account can have.

[2020-03-09 15:59] rudyhadoux commented on #3606
If you use Angular the starting point is always your website URL.
Every different URL returns a failure.

[2020-03-09 16:06] jrheling commented on #156
I found this bug when looking to work through that same situation, @SolveForTech. In the end I used Serverless Framework and the `aws-amplify-serverless-framework` plugin to connect the AWS config details between Serverless and the Amplify library on the client side.

I wrote up how I did it at https://medium.com/@jrheling/using-serverless-framework-with-the-amplify-client-library-9f3a1e2ee24f, in

[2020-03-09 16:32] SolveForTech commented on #156
Thank you Josh!!!

On Mon, Mar 9, 2020, 11:07 AM Josh Heling <notifications@github.com> wrote:

[2020-03-09 16:33] nikhname commented on #3580
@prmacias Xcode does not load your shell profile so amplify-app would be installed outside of the nvm directory. ```which amplify-app``` should show you that this is the case. It is likely that you have a broken version of amplify-app installed and ```npm uninstall -g amplify-app``` is not removing it because you are using nvm in your shell. You can try loading a terminal without nvm and uninstall

[2020-03-09 16:44] #3593 closed

[2020-03-09 16:57] vchaddha opened #3623 "Cross account CI/CD for ampify-cli project"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
amplifyPush script to be used cross account, using CodeBuild.

**Amplify CLI Version**
amplify --version
4.14.1
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
amplify-cli, codepipeline

[2020-03-09 17:53] yuth commented on #3623
The `amplifyPush` script that you're using to do the push expects `STACKINFO` variable to contain information about the current stack. This is populated by the console before running this script by Amplify Console. If this value is missing, the `amplifyPush` script creates a new environment and persists the stack info. The Amplify Console team might be able to help in terms of how they persist the

[2020-03-09 18:07] KrustyHack commented on #3606
Ay,

Yes, thanks. :)

[2020-03-09 18:07] #3606 closed

[2020-03-09 18:10] #3563 closed

[2020-03-09 18:45] yuth commented on #3619
Is there anything else you have custom for the API? Could you also share whats the API Key value used my mock. This can be found by clicking on `Update Auth` and selecting `API Key` in the auth config modal. It should have the value `da2-fakeApiId123456`.

[2020-03-09 19:10] edwardfoyle commented on #3562
Hi @danmight I was able to set up a REST API in different environments and switch between them without issue using Cognito for authentication. Just make sure you clear browser cookies or use incognito mode when switching environments as user session data may conflict.

As far as using IAM roles, can you provide more details about how you are doing that? aws-exports.js does not have an automated wa

[2020-03-09 19:19] attilah commented on #3576
The root cause of the problem was not related to the CLI itself, but that some text editors are creating duplicate files by altering the filename - copy 1, copy 2, 1, 2, 3, etc suffixes - and those files are being uploaded as part of #current-cloud-backend.zip into the environment's deployment bucket.

Later, on subsequent env checkouts this can produce an incorrect state which makes the push oper

[2020-03-09 19:19] #3576 closed

[2020-03-09 19:20] attilah commented on #3577
@112Cracker this issue relates to #3576 and the same [workaround steps](https://github.com/aws-amplify/amplify-cli/issues/3576#issuecomment-596732233) would resolve your problem as well.

Try them and get back to us if this helped.

[2020-03-09 19:29] yuth commented on #3618
Admin Query lambda has the deployment bucket hard coded in the cloudformation template. The deployment bucket name changes between environment. The template should be updated to Ref the Deployment bucket from the root stack

[2020-03-09 20:28] jamesonwilliams opened #3627 "Auto Delete S3 buckets when environment is removed"
Originally created by @daghanacay in the docs project as https://github.com/aws-amplify/docs/issues/1209

**Is your feature request related to a problem? Please describe.**
When we delete an environment it does not delete the s3 buckets corresponding to that environment

**Describe the solution you'd like**
when I execute
[code]

**Describe alternatives you've considered**
manual deletion of S3 bu

[2020-03-09 20:38] yuth commented on #3611
Amplify CLI uses CloudFormation to create resources. Any changes made to those resources using AWS Console, are not tracked by ClouFormation (so by Amplify CLI). If you want to change things that are created by amplify console follow you could follow our [escape hatches](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks) as documented in our docsite

[2020-03-09 20:56] yuth commented on #3627
What  version of Amplify CLI is being used to run this command. We have updated the CLI to remove the S3 bucket when the environments are removed a few months back in https://github.com/aws-amplify/amplify-cli/pull/2615

[2020-03-09 21:01] UnleashedMind commented on #3560
I've tried on different node versions and different CLI versions and I couldn't reproduce.
Could you please go to this line of the code ` /usr/local/lib/node_modules/@aws-amplify/cli/src/plugin-manager.ts:137:11`, and insert one line of code to help us to diagnose?
[code]

[2020-03-09 21:23] UnleashedMind commented on #3595
@skysf
Did you recently remove any of your S3 buckets?
Could you do this quick check?
1. go to the `amplify/backend/amplify-meta.json`, find the value `providers.awscloudformation.DeploymentBucketName`
2. log into your aws account on the aws web console, go to the S3 console, and see if you can find the S3 bucket with the name you got from step 1.

[2020-03-09 21:35] kaustavghosh06 commented on #3318
What's your environment name? Isn't your env-name attached to your bucket?

[2020-03-09 21:38] attilah commented on #3555
If you initialize the project with `amplify init` for the first time, the CLI creates a `.gitignore` file with these entries:

[code]

If you create your app through `amplify-app` then this step is not done, because it can be inside existing project and such.

Add these entries to your `.gitignore` and remove from the above files from source control and you will not see the issue.

[2020-03-09 21:38] #3555 closed

[2020-03-09 21:49] kaustavghosh06 commented on #3065
@ben-elsen @gviger It would be great if you could hsare your schema along with any custom stacks/resolvers so that we can reproduce this and provide a fix. You can email it to us at amplify-cli@amazon.com

[2020-03-09 21:57] kaustavghosh06 commented on #2900
We've implemented `amplify push --force` with version 4.16.0. You can use that to deploy just your auth settings - without having a need to change the schema or your Cloudformation file.

[2020-03-09 21:57] #2900 closed

[2020-03-09 22:05] kaustavghosh06 commented on #3584
@jarkin13 The CLI doesn't overwrite self-specified types. So if you have your input type defined in the schema, the transformer won't overwrite it. Also, the transformer supports custom resolvers, for which you can take a look out here - https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers

[2020-03-09 22:05] #3584 closed

[2020-03-09 22:12] #2974 closed

[2020-03-09 22:14] kaustavghosh06 commented on #3244
@chris Were you able to get past this issue using the `amplify update auth` flow? If not, we have the `amplify push --force` command now in v 4.16.0 implementing the functionality  mentioned above.

[2020-03-09 22:14] #3244 closed

[2020-03-09 22:15] kaustavghosh06 commented on #3244
If you're still stuck please comment on this issue.

[2020-03-09 23:33] #3297 closed

[2020-03-10 00:51] danmight commented on #3562
@edwardfoyle When cognito is setup cognito it creates a role named amplify-{project name}-{env nam}-221151-authRole. In the Identify pool there is a setting that shows authenticated users should assume that role. I guess I assumed when you create a REST API with Amplify and require authenticated users then leaving the method authentication option on the default AWS_IAM selection would work. Howeve

[2020-03-10 01:52] gaochenyue commented on #3619
@yuth I don't have custom for the API. My key value is da2-fakeApiId123456

[2020-03-10 02:49] apoorvmote commented on #3618
Thanks for finding the reason. I don't know cloud formation template programming. And I tried to learn based on everything else in the file. Because everything else in admin queries is updated based on env. I went through aws documents for cloud formation and still its just confusing to me.

Temperorily I just copy pasted `DeploymentBucketName` from `team-provider-info.json` to `S3Bucket` from `ad

[2020-03-10 04:13] adamosimpson21 commented on #3560
The exact spot for me was a little different than mentioned, but I think I found the right place for the print statement: (was line 121 for me). It produced the read out:

`C:\>amplify -v
Scanning for plugins...
Plugin scan failed.
{"errno":-4048,"code":"EPERM","syscall":"open","path":"C:\\Users\\adamo\\.amplify\\plugins.json"}
Plugin scan failed.
Error: Plugin scan failed.
    at scan (C:\Users\a

[2020-03-10 04:36] VicFrolov commented on #3248
Any updates on this?

[2020-03-10 05:04] whtevn opened #3629 "Mocked lambda triggers on S3 buckets cannot operate on locally hosted S3 bucket"
**Service:** Amplify Mock

**Describe the bug**
When `amplify mock` is running, S3 triggers are run with the default profile. Because of this, the triggers cannot operate on the files created in `amplify/mock-data/S3/...`

**Amplify CLI Version**
4.13.4

**To Reproduce**

Set up the following S3 Trigger

[code]

run `amplify mock`

upload a file to the local

**Expected behavior**

I had expected

[2020-03-10 06:17] dsinyakov opened #3631 "Error pushing after upgrade from @aws-amplify/cli@1.1.2 to 4.16.0"
[code]
[code]
[code]
[code]

[code]

[2020-03-10 06:26] UnleashedMind commented on #3631
@dsinyakov

What resources have you added to your project?
could you send the zip of your amplify folder to us? amplify-cli@amazon.com

[2020-03-10 07:57] WolfWalter opened #3632 "Angular Codegen not generating Queries that return non null list as an Array object."
**Describe the bug**
Same as in https://github.com/aws-amplify/amplify-cli/issues/2478, but for non null list like `testQuery: [QueryObject]!`

**To Reproduce**
Same as in https://github.com/aws-amplify/amplify-cli/issues/2478, but for non null list like `testQuery: [QueryObject]!`

**Expected behavior**
function would generate as `async TestQuery(): Promise<Array<TestQueryQuery>>`

** Actual beha

[2020-03-10 08:33] DanielMuller commented on #3481
Thanks @ammarkarachi for pointing me to the right resources.
I definitively need to try this way.

Currently, as a workaround, I implemented a REST API querying the DynamoDB tables via Lambda.

[2020-03-10 08:33] #3481 closed

[2020-03-10 10:14] daghanacay commented on #3627
I am using amplify version 4.13.4

On Tue, Mar 10, 2020 at 7:56 AM Yathi <notifications@github.com> wrote:

[2020-03-10 10:35] apoorvmote commented on #3618
@yuth Another thing that is really bothering me is my react web app either after `Auth.signIn()` or after `Auth.currentAuthenticatedUser()` It makes few requests to cognito that result in 400 response. It doesn't affect the app.

The official error is as follows `xhr.js:81 POST https://cognito-identity.eu-west-1.amazonaws.com/ 400`

It continues to make multiple requests again and again without af

[2020-03-10 11:42] Tuuleh commented on #243
I've made updates to `amplify/backend/api/schema.graphql`. Issuing `amplify push` results in 'No changes detected'. Running `amplify api gql-compile` resets the file to how it was before my changes. This is with amplify -v 4.13.2

[2020-03-10 15:08] prmacias commented on #3580
I checked on it - I couldn't find/google to open the terminal wtihout nvm to install amplify.  So I checked it seems amplify is in nvm. Do I need to uninstall nvm in order to use amplify?

[code]

[code]

[2020-03-10 15:18] edwardfoyle commented on #3562
@danmight When you use Cognito authorization, logged in users will assume the IAM authRole and that role is configured to be able to access the API so you should be able to leave AWS_IAM as the authorization on the API. If that's not working for you then something is probably not configured correctly. Did you configure the Cognito user pool and authorizer using the CLI? If possible, can you repro

[2020-03-10 16:16] kcwinner commented on #3501
@TLaue  it's kind of "dirty" but if you add the api and then modify amplify/backend/amplify-meta.json to add the providerPlugin field below it *should* work... I got it working for me. Then just copy your schema over and generate the models. Not ideal, but it works.
[code]

Determined from the following snippet from: [amplify-codegen](https://github.com/aws-amplify/amplify-cli/blob/353749ce6643a07

[2020-03-10 16:40] nikhname commented on #3580
Hello @prmacias. ```/Users/user/.nvm/versions/node/v12.4.0/bin/amplify-app``` is appearing because you installed amplify-app using nvm in the terminal.

To open a terminal without nvm, in your .bash_profile/.bashrc/.zshrc (whichever shell configuration you used to install nvm) comment out the lines loading nvm:
[code]
Then open a new terminal. When you run nvm you should see that the command is no

[2020-03-10 16:59] yuth commented on #3634
@dimonchik-com What platform are you using to make the API request. Are you using Amplify API category or are you using the AppSync SDK?

Is this happening only if the user is signing through social provider or can it be reproduced for cognito users as well?

[2020-03-10 17:30] ngnathan commented on #3430
Thanks @SebSchwartz - I finally started understanding CGTs a little bit more.  And thanks again to @RossWilliams for the guidance on multiple threads.

It's sort of diverging from the original topic now, but thought I'd provide an update.

I finally got it working, but in the way that @RossWilliams had initially recommended (I had initially misunderstood his statement) where I used a custom resour

[2020-03-10 17:52] davegariepy opened #3640 "Sync data from Aurora Serverless to Elasticsearch"
** Which Category is your question related to? **
data sources, `@searchable` graphql transform
** What AWS Services are you utilizing? **
Aurora Serverless, ElasticSearch

I would like to sync data from Aurora Serverless to Elasticsearch for text based search by users. It seems like Dynamodb does this automatically, but how would this be done with Aurora Serverless?

Thanks

[2020-03-10 18:11] yuth commented on #3633
@VicFrolov the graphql-transformer does not support `@auth` owner rules in a function. Only supported rules for `@auth` in a `@function` is static groups.

A workaround would be to create custom mutation and have auth check in the lambda function. The `@connection` and `@searchable` should work without any additional code as searchable work out of DynamoDB streams, and `@connection` creates additi

[2020-03-10 18:27] dsinyakov commented on #3631
my amplify dir is 8.9G. what can be sacrificed?
[code]

[2020-03-10 18:31] dsinyakov commented on #3631
In terms of resources, I use functions, API (both REST and graphQL), auth and hosting
[code]
Note: function/api names changed

[2020-03-10 18:35] UnleashedMind commented on #3631
1. are there large node_modules folders under both `amplify/#current-cloud-backend/function` and `amplify/backend/function`? the node_modules folders can be dropped.
2. the `.temp` folder can be dropped

[2020-03-10 18:39] UnleashedMind commented on #3631
which version of the CLI did you use to add the `function` resources?

[2020-03-10 18:40] dsinyakov commented on #3631
1.1.2

[2020-03-10 18:42] dsinyakov commented on #3631
the main contributor to the size are zips in function/*/dist. Let me clean those up

[2020-03-10 19:28] yuth commented on #3627
@daghanacay did you have a lot of files in the S3 bucket, I am wondering if this was an edge case that where deleting bucket failed.

Did you get any errors when running the `env remove` command

[2020-03-10 19:30] yuth commented on #3623
feel free to re-open/comment here if the issue still persists.

[2020-03-10 19:30] #3623 closed

[2020-03-10 19:44] ngnathan commented on #1874
Thanks @tgjorgoski - that's a great tip!

I did end up completely switching my Pre Token and Post Confirmation logic up.  Instead of using a lambda to invoke another lambda, I used a lambda to add the lambda as a Pre Token Trigger / Post Confirmation Trigger.  This seems to work well for my purposes.  I've documented that in my comment on this thread [#3430 (comment)](https://github.com/aws-amplif

[2020-03-10 19:56] hisham opened #3643 "How to generate aws-exports.js file?"
** Please describe which feature you have a question about? **

Is there a way to generate the aws-exports.js file that amplify cli generates without running amplifyPush or doing any kind of change to the existing backend env? There must be a command for that.

** Provide additional details**

Due to https://github.com/aws-amplify/amplify-console/issues/501, my backend build in AWS Amplify is fail

[2020-03-10 20:03] ivenxu commented on #186
The aws-exports.js is in .gitignore file and the only ways to generate are so heavy. It's a must-have that lightweight cli option to just generate the aws-exports.js.

[2020-03-10 20:11] mdegrees opened #3635 "Is there a simple way to update a custom resolver previously created with AppSync console?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
API

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.14.1

**What AWS Services are you utilizing?**
API, Auth

**Provide additional details e.g. code snippets**

I attached an Aurora datasource to a `

[2020-03-10 20:17] hisham opened #3636 "Why are all API Gateway names the same?"
I have a REST API endpoint setup through amplify cli. One for prod, and I just added another env for development. The API Gateway names however are exactly the same making it hard to distinguish which is which in the AWS Console. Why don't you name them differently like you do with lambda functions? Why not add something to the description.

See screenshot - I blurred out some things though:

<img

[2020-03-10 20:26] tgjorgoski commented on #3519
I wanted to look into the possibility to attach lambda to dynamodb streams anyway for different goal, however there are two issues of a) custom setup / cloudformation templates which would somehow need to be connected into amplify environment deployment , so that it creates/connects those streams for every new environment and specifically to this goal - b) the lambda will only have access to the d

[2020-03-10 20:45] Jordan-Eckowitz commented on #3161
@kaustavghosh06 I'm currently getting this error with `v4.16.1`

[2020-03-10 21:15] undefobj commented on #3519
You can attach Lambda functions to `@model` created types in Amplify now which should execute on your mutation: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

[2020-03-10 21:20] KrustyHack opened #3639 "[ANGULAR] Is aws-export.js content sensible ?"
**Which Category is your question related to?**
- angular
- amplify
- configuration

**Amplify CLI Version**

4.13.4

**What AWS Services are you utilizing?**
- Amplify
- AppSync
- Lambda

**Provide additional details e.g. code snippets**

Maybe stupid question : is aws-export.js a sensible file ?

Currently I need to manually configure Amplify :

`Amplify.configure({MYCONFIG});` in main.ts

And t

[2020-03-10 21:30] danmight commented on #3562
@edwardfoyle No problem. I can do that when I get a chance. I first noticed the problem when I was halfway through my app and decided it was time to make a staging environment, so I was all set up for a better testing and deployment process before the web app was live. I made my staging environment from the master by doing `amplify env add` then selected "no" to using a current environment. I then

[2020-03-10 22:02] eliasdefaria commented on #3493
Still getting this error with both v4.14.1 and v4.16.1.

Error message: com.amazonaws.deepdish.common.pagination.InvalidPaginationTokenException: Invalid pagination token given.

Query: queries.svpByDate, {  nextToken: this.nextToken, limit: 20, state: 'PUBLIC', sortDirection: order}

Could it be the addition the addition of sortDirection? We're querying on the GSI "state" and the sort index "crea

[2020-03-10 22:15] yuth commented on #3639
Amplify CLI generates this file based on the categories  that are added in your project. This file is not added to your git repository as this file is considered as a runtime file by the CLI.

Amplify.configure({MYCONFIG}); in main.ts

Amplify Javascript libs are can be used in a project where CLI is not used. This allows the library to work with out neededing know about the Amplify CLI

[2020-03-10 22:20] yuth commented on #3636
@hisham thanks for the suggestion. I have added this to our backlog

[2020-03-10 22:28] yuth commented on #3635
Amplify CLI is capable of using the resolver from this folder if its used in along with `@model` directive. But if its used with RDS, then we CLI does not have understanding of your schema or how the resolvers are named.

CLI does support importing existing data schema from [RDS](https://aws-amplify.github.io/docs/cli-toolchain/graphql#relational-databases) and generates the necessary CloudFormati

[2020-03-10 22:34] yuth commented on #3640
Amplify CLI does not have support for ElasticSearch support for Aurora Serverless. In case of DynamoDB, the data modelling and creation of the tables are managed Amplify CLI as defibed by the GraphQL Schema. When you import Aurora Serverless, the schema is generated based on the Database schema. CLI does not have support for any directives for the imported data source.

I am going to mark this as

[2020-03-10 22:57] yuth commented on #3619
Would it be possible to see what see what is sent in the HTTP request header `x-api-key` when an request is made

[2020-03-10 23:11] yuth commented on #3594
@azatoth this is done to prevent data from reaching to a subscriber who is not authorized to see it. AppSync services does not have capabilities to change the selection set of the subscription and sends the all the fields in the mutation selection set to all the subscribers. To prevent unauthorized users accessing the data through subscription, any field that has field level auth set, is set to nu

[2020-03-10 23:32] #3451 closed

[2020-03-10 23:33] dsinyakov commented on #3631
Sent

[2020-03-10 23:36] 112Cracker commented on #3577
Hi @attilah ,

From my most-recent observations, I carried out the following steps:
(1) Git clone the project repo.
(2) Run `amplify init` inside project root directory.
(3) Run `amplify status` and find there are multiple resource updates after step (2) and no one is actually doing `amplify push` at the same time to push any changes.
(4) By the time when I run `amplify env pull --restore`, there

[2020-03-10 23:38] 112Cracker commented on #3577
Hi @jhockett, thanks for the follow-up! I think the current problem is that after running `amplify init`, I could not get the latest environment resources. After doing `amplify env pull --restore`, it's actually pulling something outdated which later led to the duplicated files.

[2020-03-10 23:53] IsaacTrevino commented on #3399
At the moment i'm using:
`amplify function invoke restapiName`
this works pretty well.

[2020-03-10 23:57] jcbdev opened #3642 "Amplify pull misses hostedUIProviderCreds in the team-provider.info file - An error occured during the push operation: Resource is not in the state stackUpdateComplete"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
`Amplify pull` misses `hostedUIProviderCreds` in the team-provider.info file.  This causes a push to fail with the following cloudformation error:
[code]

**Amplify CLI Version**
4.13.4

**To Reproduce**

- Add federated login to project with add auth and add fb/google oauth details.

[2020-03-11 00:53] UnleashedMind commented on #3631
@dsinyakov
The error is very likely due to the large size of your `#current-cloud-backend`.
Could you please follow these steps to tell us a zip file's size:
1. In the `amplify/backend/amplify-meta.json` file, find the name of the deployment bucket: `providers.awscloudformation.DeploymentBucketName`
2. Go to your AWS S3 console, and locate the deployment bucket
3. In the deployment bucket, local t

[2020-03-11 03:46] dsinyakov commented on #3631
The size is 45.4 KB

[2020-03-11 04:54] undefobj commented on #3518
We recently launched the functionality discussed above for using Lambda triggers from an `@model` type. Documentation can be found here: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

Please let us know if you have any trouble with this.

[2020-03-11 04:54] #3518 closed

[2020-03-11 04:57] undefobj commented on #3114
The 50 subscription default limit is currently under review with the AppSync team to see if it might be raised, however in the interim you can cut a support ticket with your AWS account to ask for a raise. Alternatively you can set `subscriptions: null` as outlined in a similar issue here: https://github.com/aws-amplify/amplify-js/issues/5050#issuecomment-596978353

[2020-03-11 06:32] dsinyakov commented on #3631
I zipped the locally saved #current-cloud-backend, uploaded it to S3 and was able to run `amplify push` successfully.

[2020-03-11 06:32] #3631 closed

[2020-03-11 06:32] dsinyakov commented on #3631
Thanks for all the help

[2020-03-11 07:12] tgjorgoski commented on #3519
@undefobj , thanks for pointing that out! I missed it!
Any chance I also missed that you can somehow specify a lambda which could be used for "transformation/augmenting" the graphql mutation data before it gets received by the default generated resolver (and sent to DynamoDB)?

[2020-03-11 08:55] TLaue commented on #3501
@kcwinner Thank you very much for this information. It works even though its a kind of ugly workaround. We have decided to go another way in the meantime until the Amplify DataStore will be supported out of the box.

[2020-03-11 09:05] Tuuleh commented on #1521
`amplify -v        4.13.2`

I'm trying to change schema from a type with @connection to a @key that references different fields:

[code]
to...
[code]
If I remove the `@key` directive, it compiles without issue, but if I leave it there and issue `amplify push`, I get...
[code]

I am in the middle of debugging this so don't have a solution in terms of what _should_ be displayed - just wanted to illu

[2020-03-11 09:13] ajhool opened #3644 "[API] Delete requests don't delete the pointer on the other side of a connection, no cascading deletes."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Amplify provides the @connection directive as a way to "simplify" relational data modeling on top of nosql, create CRUD resolvers, and allow for codegen.

**Amplify CLI Version**
4.13.4

**To Reproduce**
[code]

[code]

**Expected behavior**
When you add a Toy to a Dog, there is now

[2020-03-11 09:34] mdegrees commented on #3635
Thanks @yuth for the quick answer. In fact, at first, I went off to create an RDS data source from the CLI with `amplify api add-graphql-datasource` but realized that amplify asks for a database to do the @model scaffolding. The app I'm building is a multi-tenant with a tenant per database so I had to break free from @model.

So I'm left off with the option of creating custom resolvers. And from w

[2020-03-11 10:22] cbgflower commented on #1678
@robert-moore solution works really well. Like @houmark said needed to tweak a bit. This is what I had to for an Amplify project on the api with auth only supporting Cognito:

1. Enable Auth Flows Configuration in App clients for the cognito user pool.

[2020-03-11 10:31] ckdas commented on #1678
@robert-moore solution works really well. Like @houmark said needed to tweak a bit. This is what I did for an Amplify project that had api and auth enabled. Auth only supported through Cognito and user groups:

1. Enable Auth Flows Configuration in App clients for the cognito user pool.
2. I could only test it in AWS console as amplify invoke function resulted in errors.

Thanks @robert-moore

[2020-03-11 11:01] danielblignaut commented on #2753
@dylan-westbury I am seeing the same issue. Any idea on how to fix?

[2020-03-11 11:19] daghanacay commented on #3627
I did not check this but it was the deploy folder and the cloudfront folder
that was not deleted. I can do another round of test this weekend and get
back to you.

On Wed, Mar 11, 2020 at 6:28 AM Yathi <notifications@github.com> wrote:

[2020-03-11 14:49] ben-elsen commented on #3065
Hi @kaustavghosh06 ,

I don't know if I can help in this. Our api has evolved and is now managed as a seperate microservice with its own (SAM) cloudformation template (stack) and many pipeline resolvers that trigger events to Eventbridge..

Best,
Ben

[2020-03-11 14:50] skyride99 opened #3645 "Axios external REST calls in API Lambda with express hanging"
I am using express service. Sometimes I need to make an external call to another server. Using Axios the call never returns.

[code]

[2020-03-11 15:22] lawmicha commented on #3434
any timeline for this? we're currently patching existing docs with cognito's blog https://github.com/aws-amplify/docs/pull/1220 and just want to track when to update the docs again

[2020-03-11 15:24] skyride99 commented on #3645
However I can make the same call in a regular lambda function.

[2020-03-11 15:47] kcwinner commented on #3501
@TLaue same here. Ran into additional issues with DataStore not supporting my models with a custom transformer.

[2020-03-11 16:03] undefobj commented on #3501
@kcwinner @TLaue to perform data modeling the code generation process needs to be able to have a schema which is appropriately annotated with `@model` directives. To be crystal clear, is your use case that you want to be able to go to the AppSync console and create your backend and then connect DataStore to it?

[2020-03-11 16:25] kjetilge commented on #3570
Same thing here. After updating api with adding api key, ```amplify status``` reports ```No Change```

[2020-03-11 16:37] undefobj commented on #3519
You could potentially fill out items in the attributes map by reverse engineering and editing the generated resolvers in VTL. If you look at one of the examples here: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-util-reference.html#dynamodb-helpers-in-util-dynamodb

[code]

The `$myFoo.timestamp` is being generated on the server in the same way that you want `updatedAt`.

[2020-03-11 16:39] tgjorgoski commented on #3519
@undefobj , thanks for the pointer!

[2020-03-11 16:39] #3519 closed

[2020-03-11 16:39] #3640 closed

[2020-03-11 16:46] yuth commented on #3645
Is there a specific error you get if you have a `.catch()` handler

[2020-03-11 17:04] KrustyHack commented on #3639
Ay,

Thanks. So it's not a sensible file, right ?

[2020-03-11 17:04] yuth commented on #3635
When an RDS data source is imported, Amplify CLI does not use `@model` directive. It looks at the tables in in RDS and creates types based on the columns in the table, and generate CRUDL resolvers for the tables. The generated resolvers are pretty basic but these resolvers are static (unlike DynamoDB based one where tables are managed by Amplify CLI) and encouraged to be edited based on the applic

[2020-03-11 17:47] ngnathan opened #3646 "Cognito User Pool attribute verification set to "No verification" and cannot revert back"
**Describe the bug**
Something has caused an existing Cognito User Pool to change its attribute verification to: "No verification".  This caused my Cognito User Pool to not be able to verify any new users, as no emails would be sent.
- The Cognito User Pool has MFA turned "OFF", and in the "MFA and verifications" >> "Which attributes do you want to verify?" section, it was set to "No verification"

[2020-03-11 17:58] kcwinner commented on #3501
@undefobj I am deploying via the CDK. I have written my own transformer (still using @model, @key, and other directives) but I have also written a few of my own. This allows me to create everything via the cdk instead of amplify so I can keep everything separate. However, codegen does not support my custom field directives and my transformer does not create the required sync fields (_deleted, etc)

[2020-03-11 18:08] ngnathan commented on #3646
Ah, so I found out that the initial problem (as it usually is) is my fault.  I had used a Lambda custom resource to add another Lambda as a Pre Token Trigger using AWS-SDK, and describeUserPool and updateUserPool.  In doing so, I had assumed that updateUserPool [https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_UpdateUserPool.html](https://docs.aws.amazon.com/cognito-

[2020-03-11 18:08] #3646 closed

[2020-03-11 18:20] mdegrees commented on #3635
Ah I see. So any chances Amplify will support multi-tenant? the only multi-tenant architecture possible right now is adding a tenantId as a row for tables. Any chances that Amplify supports multi databases or table prefixing? browsing the issues it's a recurrent use case where it becomes inevitable to "eject" the scaffolding.

[2020-03-11 18:22] isaiahtaylor commented on #779
Hello all, I've carved out a workaround for this.

1. `amplify add auth` and name it something like "thisisfake" to tell yourself you won't be using it. Go through all the needed steps. This will create an `auth` directory under `amplify/backend`.
2. `amplify update api` this will modify your api to include authorization. It will also set up your CloudFormation stacks to reference the Cognito pool

[2020-03-11 18:32] undefobj commented on #3501
The way that model generation works is the GraphQL SDL is parsed and appropriate metadata is created, so if your deployment process is decoupled from that in theory you should be able to run `amplify codegen models` as outlined [here](https://aws-amplify.github.io/docs/js/datastore#manual-model-generation) for the local assets in your project to be created. However you'll need to ensure that your

[2020-03-11 18:37] MikeVolo-SURGE commented on #672
For those who think REGEX makes for unreadable code:
[code]

[2020-03-11 19:43] isaiahtaylor commented on #779
@zjullion correct me if I am wrong, but that solution does not allow the use of the amplify `@auth` directives. It will fail, telling you that it can't create auth logic in your resolvers because no auth has been configured for it. My solution allows for using `@auth`.

[2020-03-11 19:58] zjullion commented on #779
Hi @isaiahtaylor, I should expand, as my initial comment wasn't fully correct, and I shouldn't have just replied with it without investigating more:

You don't need to run `amplify add auth`, as amplify will create `auth` as part of `amplify add api` (if you don't have `auth` already) - however, you can remove all of the `auth` resources (and subsequently not deploy them to the cloud) if you're re

[2020-03-11 20:02] isaiahtaylor commented on #779
@zjullion thanks! I'll try that out, it would be nice to not have a floating pool in AWS.

[2020-03-11 20:33] UnleashedMind commented on #3560
It seems the CLI does not have the permission to open an essential file resided in `~/.amplify/plugins.json`.
This can be caused by reasons like, the file is open by some other program, or you didn't grant the CLI permission to access it.
You can remove that file (which will be regenerated by the CLI upon scan), and then run `amplify plugin scan` with admin right.

[2020-03-11 20:34] yuth commented on #3639
Do you mean sensitive? The data in the `aws-export.js` is not treated as sensitive, but should not be checked into your git repository

[2020-03-11 20:59] UnleashedMind commented on #3551
Instead of switching the region back and forth, you can create another profile with the same credentials but in a different region.
The CLI uses what's in the `amplify/.config/local-aws-info.json`  to configure the aws client for communications with the aws services.

[2020-03-11 21:02] UnleashedMind commented on #3521
closing the issue, feel free to open another one if needed.

[2020-03-11 21:02] #3521 closed

[2020-03-11 21:33] hisham commented on #3643
Ok thanks. It's just confusing what amplifyPush does in the AWS Amplify Console CI/CD build. For example, if branch A and branch B are connected to backend env 'prod'. Let's say in branch A I make a change to the backend and push via 'amplify push' on my computer but I don't git push. Then in branch B I make a frontend change and git push, but branch B has old prod environment since it's not merge

[2020-03-11 21:47] isaiahtaylor opened #3647 "provider: userPools does not add @aws_cognito_user_pools to user schema"
**Describe the bug**
Adding `@auth(rules: [{allow: private, provider: userPools, operations: [create, update, delete, read]}])` to the schema and running `amplify api gql-compile` does not add the `@aws_cognito_user_pools` directives to the compiled schema as expected.

**Amplify CLI Version**
4.13.4

**To Reproduce**
Add `@auth(rules: [{allow: private, provider: userPools, operations: [create, up

[2020-03-11 21:56] UnleashedMind commented on #3505
Recovering the deleted Amplify Console project is not in the Amplify CLI's normal workflow.
But there's the following hack that triggers the CLI post push check that you can try:

1. On your local amplify project, run `amplify env checkout <the-missing-endName-on-Console>`
2. open the `amplify-meta.json` files in both the `backend` and `#current-cloud-backend` folder, make sure the `providers.awsc

[2020-03-11 22:12] #3350 closed

[2020-03-11 22:16] #3351 closed

[2020-03-11 22:22] UnleashedMind commented on #3601
Try our Amplify Console service, you can connect it to the Bitbucket repo, it will provide the CICD for you.

https://us-west-2.console.aws.amazon.com/amplify/home?region=us-west-2#/

[2020-03-11 22:36] Jordan-Eckowitz commented on #779
@zjullion, @isaiahtaylor thanks for your contributions -  worked for me!

[2020-03-11 22:36] UnleashedMind commented on #3292
Have you tried to run the `amplify pull` command in headless mode?

https://aws-amplify.github.io/docs/cli-toolchain/usage#amplify-pull-parameters

You can supplied the credentials and region in a profile and put in the headless command parameter

[2020-03-11 22:43] ohsik commented on #997
Any updates on this?

[2020-03-11 22:44] kaustavghosh06 commented on #997
Hey guys, we released this functionality in the latest version of our CLI - 4.16.1. This was merged as a part of this PR - #2463

[2020-03-11 22:44] #997 closed

[2020-03-11 22:58] kaustavghosh06 commented on #2197
@houmark We have a sanity check in place right now which runs before `amplify push`- exactly as you've mentioned above to prevent this issue. We have in our backlog to make this experience between by queueing DDB deployments in a scenario like yours.

[2020-03-11 22:58] #2197 closed

[2020-03-11 22:59] kaustavghosh06 commented on #2268
@jkahn117 Wouldn't you be able to just modify the Cloudformation template for S3 to allow for this?

[2020-03-11 23:03] kaustavghosh06 commented on #2128
@garrett-gottlieb We recently added a feature to attach a trigger to the DDB tables generated by the GraphQL transformer. You can checkout the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

You'll see the result of this operation locally with amplify mock. Let me know if this doesn't answer or solve you

[2020-03-11 23:03] #2128 closed

[2020-03-11 23:07] kaustavghosh06 commented on #1844
@hisham I beleive we have the pre-token generation option for the auth trigger a s apart of the amplify add/update auth CLI flow which was merged as a part of #2126

[2020-03-11 23:07] #1844 closed

[2020-03-11 23:09] kaustavghosh06 commented on #533
@garrett-gottlieb We recently added a feature to attach a trigger to the DDB tables generated by the GraphQL transformer. You can checkout the documentation out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#as-a-part-of-the-graphql-api-types-with-model-annotation

Also, we merged #1140 to export the streamARN