[2019-07-26 20:30] kaustavghosh06 commented on #1907
@pallavparikh Yes, you totally can. When you create a new env using `amplify env add`, you have to choose an AWS profile in yuor system, so if that profile points to another AWS account, the CLI will provision all the resources in that account.

[2019-07-26 21:03] jkodroff commented on #247
@kaustavghosh06 The docs above explain how to create and assume a role using the AWS CLI (which I already know how to do), but they do not seem to explain how to use that role to avoid having to set up broad permissions just to do codegen with Amplify.

Could you maybe provide some additional info on how to use an existing role?

Is there any way to use Amplify's codegen feature by itself against

[2019-07-26 21:13] pallavparikh commented on #1907
cool. I'll try that. thank you @kaustavghosh06

[2019-07-26 23:08] malcomm commented on #1886
Any updates on this? This is kinda a game changer for me, because I need the ability to audit a user's action.

At this point, I think I'm just gonna have to roll my own.

[2019-07-27 05:17] jkeys-ecg-nmsu commented on #1886
@malcomm off the top of my head, context is the wrong place to look. That's your Node environment context, not the context of your event. You want to look in the first position argument, the event object.

When you say identity do you need the sub or the cognito:username attribute?

[2019-07-27 05:37] malcomm commented on #1886
@jkeys-ecg-nmsu - I've looked in both the context and event and I'm not finding anything. The sub would be great but the cognito:username is a bare minimum. At this point I just need something to identify the user (IP address, cognito:username, mac address ... etc.)

Thanks.

[2019-07-27 05:59] jkeys-ecg-nmsu commented on #1460
@hisham do you map the non-primitive (in Java, I guess) Scalar values to primitive Javascript? e.g. AWSTimestamp -> string, AWSJSON -> object? I've wondered how clean this would be irl.

[2019-07-27 06:47] mdw2000 commented on #1033
@kstro21 @mikeparisstuff Is there scope to look at this enhancement again?

Sharing / reusing domains between projects are valid use cases in addition to adding the environment to the domain name:

- Reuse between environments for smaller projects (no need to have a cluster per environment, dev, test, even prod can share the same cluster to save cost)
- Sharing between projects - where separate Ap

[2019-07-27 08:43] babu-upcomer opened #1909 "Push Notification documentation is not clear at-least for React Native project initiated with expo"
** Which Category is your question related to? **

`amplify add notifications`

** What AWS Services are you utilizing? **

Wanted to try AWS Pinpoint for push notifications. I am successfully able to add the FCM to pinpoint for android. Though stuck with how I can integrate the same with the frontend. I also need to do the same with APNs for iOS.

** Provide additional details e.g. code snippets

[2019-07-27 08:57] ablbol opened #1910 "Add cloudfront to Amplify storage"
Hi
I have a use case where each of my users in the app can upload their own images for other users in the app to see.  Currently, Amplify Storage allows you to create S3 bucket to store images but without the cloudfront part.  Is there a way to do that currently?  Or is this something that I have to do manually.

It would be nice if the cloudfront used in Amplify hosting can be shared with Amplify

[2019-07-27 11:34] turleydesigns opened #1911 "Amplify push error, Unknown directive "key""
** Which Category is your question related to? **
Amplify CLI, sort key

** What AWS Services are you utilizing? **
AppSync, DynamoDB, GraphQL, and Lambda

** Provide additional details e.g. code snippets **
When trying to add a @key to a model in the schema.graphql, I am getting an error when pushing the changes with amplify.   I have @aws-amplify/cli@1.8.5 installed.

[code]

Here is the model:

[2019-07-27 11:37] springcoil commented on #1546
Does this work as a solution? @babu-upcomer

[2019-07-27 16:42] ajhool commented on #1910
Agreed, the S3 image downloads are too slow for an app, cloudfront would be a major enhancement

[2019-07-27 21:54] onlybakam opened #1913 "s3Trigger lambda function inline policy getting overwritten"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
A clear and concise description of what the bug is.

1. the inline policy name for the S3TriggerBucketPolicy varies based on when the trigger is applied. when trigger is applied to existing bucket, "s3-trigger-lambda-execution-policy" is used. if not "amplify-lambda-execution-po

[2019-07-27 21:55] larryranches opened #1914 "Aurora Postgres Serverless Support?"
As of July 9th 2019, AWS Aurora Postgres Serverless is now in GA (https://aws.amazon.com/blogs/aws/amazon-aurora-postgresql-serverless-now-generally-available/)

The current amplify docs under Transforms > Relational Databases specifically states _"The Amplify CLI currently supports importing serverless Amazon Aurora MySQL 5.6 databases running in the us-east-1 region."_

Is the docs out of date a

[2019-07-28 00:03] andrewbtp commented on #1911
+1 Also getting this issue.

[2019-07-28 01:29] nathan-quinn commented on #1878
I posted an example of how to do this with custom resolvers [on StackOverflow](https://stackoverflow.com/a/57088993).

@chai86 were you able to get it working for all your use cases?

[2019-07-28 02:22] kwhitejr commented on #1814
@RossWilliams Thanks for this assistance. Finally got some time to give it a go. Ran into some hiccups:

1. When using `Fn::ImportValue`, it seems that you cannot include usage of Ref or GetAtt:

Reference: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html

2. As a quick workaround, I've just hardcoded the right value for now. Regardless,

[2019-07-28 02:37] kwhitejr commented on #1814
Quick (maybe unhelpful) update, but I made the `LambdaEventSource` depend on every other resource in the CF file and it worked. 🤷‍♂

[2019-07-28 03:12] shamal commented on #954
I  have the latest amplify cli and I'm still getting this issue. My original API key was expired and I created a new API Key. Updated all references to the API KEY with the new Key in all the files, bgut still amplify push fails telling
` API key not found: da2-6ekxe7pt3bgkfbfmbfwhranc5i (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID: 2fe05136-b0e5-11e9-a0fc-5924

[2019-07-28 03:16] shamal commented on #242
In Android project, I still have the same issue. I have updated awsconfiguration.json with new api key. `amplify status` also  shows  the new api key. but when I do `amplify push`  it fails telling ` API key not found: <old api key> (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID: 2fe05136-b0e5-11e9-a0fc-59240c6936f3)`

[2019-07-28 04:02] kaustavghosh06 commented on #1406
Hi everyone, wanted to update on this issue. We got the sanity check/validations working as mentioned out here - https://github.com/aws-amplify/amplify-cli/issues/1406#issuecomment-509418958  and we merged the PR for it (#1815). We'll be publishing a new version of the CLI (1.8.6) early next week with this change.

[2019-07-28 04:03] kaustavghosh06 commented on #922
Hi everyone, wanted to update on this issue. We got the sanity check/validations working as mentioned out here - https://github.com/aws-amplify/amplify-cli/issues/922#issuecomment-509418653  and we merged the PR for it (#1815). We'll be publishing a new version of the CLI (1.8.6) early next week with this change.

[2019-07-28 04:09] kaustavghosh06 commented on #242
@shamal As mentioned in the above comments, setting the `APIKeyExpirationEpoch` key in your `amplify/backend/api/<api-name>/parameters.json` file would renew the API Key. Changing the APIKey just in your `awsconfiguration.json`, wouldn't make the `amplify push` succeed. Please take a look at #808 for more details. You can find documentation reference out here - https://aws-amplify.github.io/docs/c

[2019-07-28 04:11] kaustavghosh06 commented on #1911
@turleydesigns & @andrewbtp Can you run `amplify -v` and check the Amplify CLI version? My hunch is that the CLI didn't update correctly on your system.

[2019-07-28 04:12] #1907 closed

[2019-07-28 08:47] turleydesigns commented on #1911
[code]

@kaustavghosh06  1.6.8

@andrewbtp Thanks, I have tried this before, and tried it again now, still getting the same error.

[2019-07-28 11:19] RossWilliams commented on #1033
- ES is also the slowest component to create, more than all others we have combined.
- With the console now offering environment per branch, costs can get out of control when a dev creates 2-3 branches a day. Sharing ES would help n speed and cost.

[2019-07-28 11:33] RossWilliams commented on #1814
@kwhitejr The limitations of Fn::ImportValue relate to cross-stack references. If you are working inside Amplify all templates should be in the same stack-set. I think you discovered it works when setting the right dependsOn. This is what I referenced as part of backend-config.jsson but did not explain fully. Glad it worked out in the end for you.

[2019-07-28 12:08] artista7 opened #1915 "Auto-generated list resolver templates limits before filtering"
It was kinda weird discovering that auto-generated appsync list query resolvers limit the scanned result before it filters. Part of this weirdness could be attributed to ignorance on dynamo usage on my part but part of this is also due to un-intuitive behavior which was not expected.

I ran this particular query :-
[code]

It did not return rounds, even though they exist as the filter was applied

[2019-07-28 15:33] mwarger commented on #1820
@UnleashedMind What do you mean by queries?

What I ran into was that, for example, I had an update mutation:
[code]

And a subscription:
[code]

Hope this is what you needed.

[2019-07-28 16:01] RossWilliams commented on #1615
pull --restore does not create the build directory in #current-cloud-backend. This breaks ensureMissingStackMappings from working, as it reads from build/stacks.

[2019-07-28 16:18] RossWilliams commented on #1581
The issue is due to transform.conf.json not being generated due to a bug in #1744 .

Previously a for..of loop was made over Object.keys(copyOfCloudBackend.build.stacks) [here](https://github.com/aws-amplify/amplify-cli/pull/1717/files#diff-9377bfc48e9c4a1ec822343db3212358R108).
In #1744 this code was refactor such that the for...of loop was now made over copyOfCloudBackend.build.stacks [here](htt

[2019-07-28 16:47] RossWilliams commented on #1915
When you apply a filter it will cause a [scan](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html) operation in dynamodb. scans will read all items in your table up to the specified limit count (or 1MB scanned), and applies a filter only after the limit is reached.

It looks like you want to get a list of items by an id property jobOpeningId. The way to efficiently do thi

[2019-07-28 16:58] RossWilliams commented on #1914
@larryranches Amplify relies on the Data API Aurora Serverless. This is still only available for the MySQL-compatible version.

[2019-07-28 17:10] artista7 commented on #1915
Hey @RossWilliams I already had a GSI with following details:-
gsi-JobOpeningRounds | Active | GSI | jobOpeningId (String) | createdAt (String) .

Though this was created using @connection directive.

`type round @model @key(name: "nextRoundIdx", fields: ["nextRound", "jobOpeningId"]){
  id: ID!
  jobOpeningId: ID!
  jobOpening: jobOpening @connection(name: "JobOpeningRounds", keyField: "jobOpenin

[2019-07-28 18:42] RossWilliams commented on #1915
It might be an easier option in your case to query by JobOpening and get the rounds as a child of the job opening, since it appears you know the id of the job opening. Behind the scenes this query will use the created gsi. This option has a second added benefit that your JobOpening object is more likely to have authentication properties on it, and you can lock down access.

[code]

[2019-07-28 19:21] RossWilliams commented on #1915
Regarding Q1, that is an object that holds data only if you are doing a query operation in dynamodb. Its properties are populated [here](https://github.com/aws-amplify/amplify-cli/blob/00ed819419a4959a6d62da2fc5477621c046eff0/packages/graphql-transformer-common/src/dynamodbUtils.ts#L111), it is set as the parameter 'queryExprReference' Because you are doing a scan operation, this value should not

[2019-07-28 20:31] chai86 commented on #1878
@nathan-quinn The idea was to be able to do this without resorting to custom resolvers. As explained in the previous comment, this should be out of the box functionality for any Update() as one would expect to be able to simply add to an existing field.

[2019-07-29 04:16] stefangomez commented on #1505
I have long wanted this as well. Instead of trying to use a completely different app/codebase with the http directive as suggested in #1074 - I found it's actually pretty easy to modify a lambda created from `amplify add function` to use the python runtime and auto-build packages as part of the lambda zip that amplify uploads to AWS. For others, I figured I'd document for the steps here.

1) use `

[2019-07-29 06:44] nino-moreton commented on #1901
closing in favor of #1678  .. which will be solved in a cleaner way using secondary auth option (i.e. Cognito main and IAM secondary auth) with #1916

[2019-07-29 06:44] #1901 closed

[2019-07-29 07:12] jonmifsud commented on #1865
I do think that `$ctx.result.hits.total` should be exposed by default since it is readily available.

In terms of DynamoDB support, I'm not too sure. I mean it would be nice to have, but if you have a large dataset just getting the count on every request will be expensive. Because every time you go over 1 MB of data, you have to paginate through to get totals. In reality, you could scan through a

[2019-07-29 09:16] cocacrave opened #1917 "GSI using Partition Key"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
API: @key directive
Storage: Dynamodb

** What AWS Services are you utilizing? **
Dynamodb

** Provide additional details e.g. code snippets **
How do you create new GSI using the table partition key as the GSI's partition key?
Adding @key.fields' pa

[2019-07-29 09:24] kanerogers commented on #1581
Thanks @RossWilliams! This is causing us a lot of grief.

[2019-07-29 09:27] artecoop opened #1918 "Amplify + Cognito invalid JSON"
**Describe the bug**
Amplify with Cognito authentication raises an error when trying to resend signup message.
Same error if I try to reset the password of a user in Cognito console

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add auth
2. add custom message
3. when setup, create a user with Auth.SignUp()
4. Try to resend using Auth.resendSignUp()
**Bonus Bug**
1. Go to Cognito con

[2019-07-29 09:27] artecoop opened #2183 "Amplify + Cognito invalid JSON"
**Describe the bug**
Amplify with Cognito authentication raises an error when trying to resend signup message.
Same error if I try to reset the password of a user in Cognito console

**To Reproduce**
Steps to reproduce the behavior:
1. amplify add auth
2. add custom message
3. when setup, create a user with Auth.SignUp()
4. Try to resend using Auth.resendSignUp()
**Bonus Bug**
1. Go to Cognito con

[2019-07-29 13:26] SebSchwartz commented on #11
I got same error:
AWS::CloudFormation::Stack Mon Jul 29 2019 15:11:28 GMT+0200 (CEST) Template format error: Parameter count 78 is greater than max allowed 60

I created auth with a previous version of amplify cli (1.6 if i remember right). Then updated it with last version to have cognito lambda trigger. I just did update then added one lambda trigger and got this error...

As @babu-upcomer is sa

[2019-07-29 13:42] mwarger commented on #567
[code]

@kaustavghosh06 I'm getting this error again with the latest version of the CLI.  Can we please re-open?  This time it doesn't appear to have anything to do with @searchable...

[2019-07-29 14:08] jarrettj opened #1919 "Cognito user can't login."
** Which Category is your question related to? **
Authentication.

** What AWS Services are you utilizing? **
Cognito

** Provide additional details e.g. code snippets **
I've enabled Cognito. And created a migration script. I've tested it and all works.

The problem is I have one user, that's not able to login. I've manually set the password. Tried recreating the user. Tried a password reset. Jus

[2019-07-29 14:45] kaustavghosh06 commented on #1911
@turleydesigns After you install the latest CLI, can you check `amplify -v` and see if the CLI updated globaly correctly?

[2019-07-29 14:47] kaustavghosh06 commented on #1919
@jarrettj This seems like very specific to the Cognito service. You would want to open up a forum post with the Cognito Service team to engage on this issue - https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-07-29 15:15] jarrettj commented on #1919
Thanks.

[2019-07-29 19:11] CoonHouse opened #1920 "How to use @connection on a nested type"
** Which Category is your question related to? **
GraphQL, DynamoDB, gql-compile

** What AWS Services are you utilizing? **
AppSync, DynamoDB

Hello,
I have the following schema:
[code]

The `Member` type is not a `model`. As there is always one and exactly one `Member` type per `Person` I prefer not to have a separate table for this.

Clearly `@connections` can only be used in `@model` types.
So

[2019-07-29 19:47] achutkiran commented on #1434
@yuth any update? Thanks

[2019-07-29 20:47] rpostulart opened #1921 "GeoJSON format in amplify to elasticseach"
I have a schema like this

[code]

I made this schema to align with the geoJson format which elasticsearch is opting for.
This gives me this data in elasticsearch:

[code]

But geoJSON is having a structure like (without the double quotes):

"polygon": {
            "coordinates": [
              [
                [
                  51.89600366973369,5.604579537426986
                ],

[2019-07-29 21:56] mtliendo commented on #401
@hisham Would this be solved by adding a field-level auth directive so that the client wouldn't have the ability to modify?

`createdAt: AWSDateTime @auth(rules: [{ allow: owner, operations: [read] }])`

[2019-07-29 22:22] larryranches commented on #1914
@RossWilliams Gotcha, thank you!

[2019-07-29 23:08] malcomm commented on #1886
Any help on this? I'm really blocked at this point and it is going to impact a production date.

It looks like there's no easy way to get the user identity information using a DynamoDB trigger. Can I add a hook somewhere that will basically wrap the normal mutation call but send the logs to somewhere where they can be viewed?

[2019-07-29 23:18] kaustavghosh06 commented on #1886
@malcomm Are you using the GraphQL transformer to spin up your AppSync APII? If yes, the transformer automatically adds an owner field to your model which can help you track the user.

[2019-07-29 23:24] malcomm commented on #1886
Yes I am using the GraphQL transformer to manage the AppSync API. When you say automatically, that sounds very nice, but I don't see an owner field anywhere in the data (logs or table).

Amplify version:

[code]

I can't use the latest because of the #922. Not sure if this is even related to version of amplify-cli.

Do I have to do anything special to get this `owner` field to show up?

[2019-07-29 23:54] kaustavghosh06 commented on #1886
@malcomm I take that back.
You can have a mutation and add an owner field from your client app and have auth rules for that field/model. You can define something like the following.

[code]
[code]

[2019-07-30 00:04] malcomm commented on #1886
Well ... I could add a whole identity field and add in all kinds of info in there, but ... doesn't that rely on the client to set the correct thing? From what I'm thinking that would be a client only solution and that is very prone to error and can be modified by a malicious attacker.

I guess what I'm saying is that I think I need a server side solution that is secure and happens automatically. I

[2019-07-30 00:10] kaustavghosh06 commented on #1886
@malcomm How does your schema look like? And for the function you've mentioned out here - https://github.com/aws-amplify/amplify-cli/issues/1886#issuecomment-515267451, that's the trigger function right and not a @function resolver, correct?

[2019-07-30 00:14] malcomm commented on #1886
@kaustavghosh06 - Correct, that information is coming from the DynamoDB Lambda (via the trigger).

Here's a section of my schema:

[code]

I currently do not have an owner or a field for identity.

[2019-07-30 00:30] kaustavghosh06 commented on #1886
@malcomm Did you checkout the context object available in your in the resolver? You can modify your auto-generated resolver to add the user information to DDB. You can find reference for the context object available in a resolver out here - https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html

The context object in the resolver has the following information:
[code]

[2019-07-30 00:53] malcomm commented on #1886
@kaustavghosh06 - If we're talking about the Lambda function that's configured on the DynamoDB table, I looked at the event and context object and neither had user identity.

But something you wrote got me thinking. In my schema, could I define an `identity` field and use an `@function` to grab the user's identity info?

[2019-07-30 00:54] kaustavghosh06 commented on #1886
No, I’m talking about the actual VTL resolver and the context object available to to.

[2019-07-30 00:58] malcomm commented on #1886
I don't have a custom VTL resolver for this. Honestly, it's unclear to how to add one that works with the framework. Any help on that?

[2019-07-30 01:22] kaustavghosh06 commented on #1886
The GraphQL transformer auto-generates the resolvers for you based on hyour schema, but if you want something custom -like your use-case, you can override the auto-generated resolvers  located in  your`amplify/backend/api/<api-name>/build/resolvers` directory.
Refer to this documentation - https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers for learning more about using/imple

[2019-07-30 01:52] kaustavghosh06 commented on #1886
Also, overwriting your auto-generated resolver according to this doc - https://aws-amplify.github.io/docs/cli-toolchain/graphql#overwriting-resolvers should help in your case.

[2019-07-30 01:54] bokuweb opened #1923 "Feature Request: Manage multiple bucket by amplify storage"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**

### related https://github.com/aws-amplify/amplify-cli/issues/1549

I would like to manage multiple S3 bucket by `amplify storage` command.
However It is not able now.

**Describe the solution you'd like**

Please support multiple b

[2019-07-30 04:17] ajhool commented on #1878
Appending to an array field is definitely not standard logic and should be outside the scope of a framework like Amplify's purview. The post by @nathan-quinn is incredibly helpful. Just use that

[2019-07-30 07:36] babu-upcomer commented on #1079
@mhodgson @janhesters AWS should hire all of us and make Amplify the snowball :D

[2019-07-30 08:34] janhesters opened #1924 "Allow `owner` to be primary key AND optional"
**Is your feature request related to a problem? Please describe.**
I have a use case, where I defined the `owner` as a the primary key using the `@key` directive. I also defined the `@auth` directive. But, if I make the `owner` optional (leaving out the `!`), I can't push the schema because AppSync complains that primary keys can't be optional. This usually makes since. However, in this case `owne

[2019-07-30 11:49] AlessandroAnnini commented on #1902
I noticed that every time a add a custom attribute to my Cognito users then I have this error when I add storage

[2019-07-30 12:00] chai86 commented on #1878
@ajhool Nathan has been incredibly helpful and i've been much appreciative. My comment is in the spirit of driving more Amplify adoption. If a simple UpdateItem() as DynamoDB does, has to go through a custom resolver approach in AppSync, why would it be more appealing to someone considering adopting Amplify? Hence why i've requested it to be made a feature.

[2019-07-30 12:44] bartvollebregt commented on #1137
I have the same problem but when I change the `S3DeploymentRootKey`  in the parameters.json and run `amplify push` amplify overwrites the `S3DeploymentRootKey` before pushing...

[2019-07-30 14:36] revmischa opened #1925 "Cannot publish new checkout of code"
I added amplify hosting and pushed the amplify project config. All the files in the amplify/ directory minus the ones amplify added to .gitignore are present, including the hosting/ dir.

When someone else pulls the code and runs `amplify publish` - they get:
[code]

It's already added but ok...

[code]

[2019-07-30 14:39] kaustavghosh06 commented on #1925
@revmischa After pulling the code from GitHub, did you run ‘amplify init’? That would setup all the runtime files that the CLI needs which you’d gitignored.

[2019-07-30 14:45] Lolodrom commented on #1370
Hello!

We are currently facing the exact same Issue and I thought I might not create a new ticket for this.

Same scenario:

Created a "dev" environment. Cognito Pool and DynamoDB are created, we can implement everything, created some users, etc.

Then we created a new environment called "prod" with amplify env add prod, published it and it is now accessible via the generated URL.

For the "prod"

[2019-07-30 14:48] revmischa commented on #1925
that seems to have helped. is that documented somewhere?
can't it detect that amplify config already exists and prompt me?

[2019-07-30 15:34] malcomm commented on #1886
@kaustavghosh06 - OK so just to be sure I'm doing this right. For my resource StudyEncounter, I would need to add a new field for the user or identity and then I would need to put the following two files into `amplify/backend/api/<api-name>/resolvers`:

1. Mutation.createStudyEncounter.req.vtl
2. Mutation.updateStudyEncounter.req.vtl

I am assuming that I copy both of those files from `amplify/bac

[2019-07-30 15:55] kaustavghosh06 commented on #1886
Correct.

[2019-07-30 16:21] ajhool commented on #1910
From looking through the source code, this really isn't feasible without a rewrite. I'm haven't determined whether you can create a Cloudfront distribution and use the existing S3 bucket by altering some permissions, but the current Storage implementation relies on the s3 aws-sdk object which doesn't support cloudfront.

[2019-07-30 16:22] abdsahin commented on #1697
I also have exactly the same issue. The user I am using has the "Administrator" user permissions and after doing `amplify publish`, the following is the error.

[code]

I don't think there is a problem with the access rights since I can do `aws s3 sync build/ s3://my-bucket` (and only then make the site up and running)

Can you give us more information @UnleashedMind  ?

Thanks!

[2019-07-30 16:56] #1919 closed

[2019-07-30 16:57] malcomm commented on #1886
@kaustavghosh06 - OK so I'm no expert at VTL, I admit that (first time with it actually). But I'm rather confused by the results I'm getting. I copied over `Mutation.updateStudyEncounter.req.vtl` and I'm trying to figure out where to set the my new field that is called `identity`. I look at the section where `updatedAt` and `__typename` are being set and I'm thinking that's a good place to start.

[2019-07-30 16:58] kaustavghosh06 commented on #1911
@turleydesigns We weren't able to reproduce this issue with the latest version of the CLI. As mentioned above, after installing/.updating the version of the CLI, can you check the latest version using `amplify -v` and make sure that it updated to the latest version of the CLI?

[2019-07-30 16:58] #1911 closed

[2019-07-30 16:59] kaustavghosh06 commented on #1925
We've mentioned the flow in our docs out here - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#team-workflow

[2019-07-30 17:02] kaustavghosh06 commented on #1914
@larryranches Yes @RossWilliams is correct. We rely on the availability of the Data API in those regions for the CLI to work with it. We'll be adding more regions as and when the Data API is available in other regions.

[2019-07-30 17:02] #1914 closed

[2019-07-30 17:08] kaustavghosh06 commented on #1923
@bokuweb As a best practice, the Amplify Framwork allows you to have multiple prefixes in the bucket as a best practice instead of having multiple buckets.
You could partition your bucket by prefixes like the following:
`mybucket/partition1` and `mybucket/partition2` which can potentially have different auth policies and lambda triggers.

Knowing your use-case better would let me help you better

[2019-07-30 17:12] kaustavghosh06 commented on #1925
We already have an enhancement request in our backlog to auto-detect these configs and prompt the user when running any amplify command.

[2019-07-30 17:12] #1925 closed

[2019-07-30 21:01] timoteialbu commented on #1904
Thanks, looking forward to your response.

[2019-07-30 21:39] jarrettj commented on #1919
On a side note, how would one debug/log the authentication flow from an amplify project? If the login screen is a built in module. We currently use the angular directive supplied.

[2019-07-30 22:42] malcomm commented on #1886
OK I think I've got it ... my editor was clobbering end parentheses ... basically I was missing a ")" and the error message looked like I was just getting NULLs.

[2019-07-30 23:23] kaustavghosh06 commented on #1886
@malcomm Glad you had that figured out. Did you get all the idenity info that you needed?

[2019-07-30 23:24] malcomm commented on #1886
Also of note ... I had to do this:

[code]

Without the: `$util.toJson` Call ... nothing works. I guess the "put" is only able to handle a String.

Also, I was trying to store this data as an **AWSJSON**. I was probably doing something wrong, but the documentation is not great and I could not get that to work very well at all. I tried the `$util.toJson` and things got strange when pulled out of th

[2019-07-30 23:27] kaustavghosh06 commented on #1886
@malcomm If yo protect your model with an auth role with an owner autorization, we auto-populate the table with user info, but since you didn't have it, that's why you'd to use custom resolvers and deal with VTL. We're launching local testing for your AppSync API's and resolvers to make it easy to debug your API's - including your VTL resolver code.

[2019-07-30 23:28] malcomm commented on #1886
@kaustavghosh06 - I got the data ... this is far from ideal, but it might work for my solution.

My 2 cents: something needs to change here to help people out. Trying to audit a user's actions should be very very easy. What I have now is a hacked up bandaid that might work ... I mean taking a step back from all this, I very much doubt I am the only one that needs to be able to audit a user's actio

[2019-07-30 23:29] orozcojair opened #1930 "Update changes to the environment made by one developer to the other developers. Specifically the Storage service."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If ap

[2019-07-30 23:34] kaustavghosh06 commented on #1930
@orozcojair Are the team members working on the same environment/AWS account?

[2019-07-30 23:34] mikeparisstuff commented on #1886
@malcomm You are always able to use AWS CloudTrail to audit API calls made against your AWS account. In general, we are working towards making it easier to add pipeline functionality to API projects that would enable use cases like this. In the future the goal is to be able to create a function named "Audit" and then make it easy to compose that function into any mutation that you want to audit.

[2019-07-30 23:39] malcomm commented on #1886
@mikeparisstuff - I was looking at CloudTrail and at first it looked great, but it seems to be geared towards just auditing the administration ... not the actual use of the API. I could not find a way to make that work. Am I just missing a setting?

Just to be sure, this would need to log events (mutations in this case) to CloudTrail for users logged in via Cognito. I would be really happy if that

[2019-07-31 00:04] mikeparisstuff commented on #1886
@malcomm CloudTrail would be able to tell you when calls are made to your data sources but the identity from cloudtrail will be that of the role that AppSync assumes when calling your DynamoDB table. In other words they are not specific to your logged in Cognito users as you correctly called out.

I have updated my answer above to give a working example for what you are trying to do. Hopefully thi

[2019-07-31 00:08] mikeparisstuff commented on #1079
@babu-upcomer @mhodgson @janhesters In all seriousness, if you are interested in connecting more let me know :)

[2019-07-31 00:10] orozcojair commented on #1930
yes, we are all working off the `dev` environment under the same AWS account

[2019-07-31 00:11] kaustavghosh06 commented on #1930
If you try using `amplify env pull --restore` doesn't that sync up whatever is there in the cloud?

[2019-07-31 00:14] malcomm commented on #1886
@mikeparisstuff - technically I understand your answer ... but stepping back again ... how does this make sense? I have to say, having an audit trail (CloudTrail) lose the context of what user performed the action ... I can't understand how that makes sense.

My 2 cents: appsync should "stash" the user identity information to be used for all logging and for CloudTrail. Make this the "source identi

[2019-07-31 00:22] orozcojair commented on #1930
i tried both `pull` and `checkout` with --restore and they didnt work

[2019-07-31 00:27] mikeparisstuff commented on #1886
@malcomm I don't disagree with you that this is useful but this lies a bit outside of the traditional flow when using CloudTrail. CloudTrail keeps an audit log of all activities performed against your AWS resources and, in general, requests are signed with a SigV4 signature which CloudTrail uses to pull identity information out of. When making calls to data sources, AppSync assumes a role in your

[2019-07-31 01:03] malcomm commented on #1886
@mikeparisstuff - thank you for looking into this. Not sure if this helps with the priority or not, but I'm looking at this:

https://docs.aws.amazon.com/appsync/latest/devguide/cloudtrail-logging.html

Per that, I would say that this violates the contract of that documentation. I would also say, that it violates the KISS principal ... that is, from a customer of these services, I would not expect

[2019-07-31 01:06] kaustavghosh06 commented on #1930
What’s the error message that you got?

[2019-07-31 01:22] nino-moreton opened #1931 "Auth error when accessing lambda function in another lambda function"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I go through the amplify cli to add function resource access in my other function (giving it all CRUD access), then when I try to invoke the lambda function inside the other lambda, it says:
`AccessDeniedException`

**To Reproduce**
Steps to reproduce the behavior:
1. Create function

[2019-07-31 03:24] GeorgeBellTMH opened #1932 "API.ts - error All files must be modules when the '--isolatedModules' flag is provided."
The generated API.ts file throws an error when using typescript.

Contents of API.ts:
---
/* tslint:disable */
//  This file was automatically generated and should not be edited.
---
The error on compiling is:
All files must be modules when the '--isolatedModules' flag is provided.

My understanding is the issue is that there is nothing being exported or imported in this file (it's essentially emp

[2019-07-31 03:33] kwhitejr commented on #1896
For the @connection resolvers completely break down when combining @key custom partition keys with many-to-many relationships.

[2019-07-31 04:00] kaustavghosh06 commented on #1931
@nino-moreton Could you specify what exact auth error you're seeing?

[2019-07-31 05:32] janhesters commented on #1079
@mikeparisstuff I'm interested 😊I followed you on Twitter, so we can DM.

[2019-07-31 06:12] orozcojair commented on #1930
No error message, actually I got a successful message but nothing changes.

[2019-07-31 06:12] nino-moreton commented on #1931
hey @kaustavghosh06 here's the exact error message (i've censored some sensitivee stuff)

[code]

[2019-07-31 06:22] nino-moreton commented on #1581
I'm still getting this error even after upgrading to @aws-amplify/cli@1.8.6

[2019-07-31 08:37] tluolamo opened #1937 "Parameter count xx is greater than max allowed 60 in auth"
**Describe the bug**
Using version 1.8.5 of the cli I updated my auth configuration and now when I try to push the changes I get this error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. execute 'amplify auth update'
2. Select 'Walkthrough all the auth configurations'
3. Complete the flow configuring various options
4. execute 'amplify push'
5. See the error and your push is rolled b

[2019-07-31 08:52] janhesters opened #1933 "Allow different auth directives in AppSync for connections"
*Which Category is your question related to?*
API

*What AWS Services are you utilizing?*
AppSync, Cognito

*Provide additional details e.g. code snippets*
For context: I'm aware of [this PR](https://github.com/aws-amplify/amplify-cli/pull/1916).

Until the PR is merged (and probably even after) there is a problem with directives.

**TL;DR**: How can you give `@aws_iam` access from a one to many c

[2019-07-31 10:08] jarrettj opened #1934 "Adding reCaptcha to existing auth"
** Which Category is your question related to? **
Auth

** What AWS Services are you utilizing? **
Cognito, Lambda

** Provide additional details e.g. code snippets **
Saw this link https://aws-amplify.github.io/docs/cli-toolchain/quickstart#adding-a-lambda-trigger.
But how would you configure that for an existing User Pool? Thanks.

[2019-07-31 10:56] RossWilliams commented on #1921
You have specified the coordinates field as [[[String]]], this needs to be [[[Float]]] if you want the value to be treated like a number. Also, your existing index likely now has the wrong mapping for this field. you will need to send data into a new index, or delete and re-create the existing index.

[2019-07-31 11:09] janhesters commented on #1933
[I've found out](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html#aws-appsync-resolver-context-reference-identity) that there is a `ctx.identity.claims` argument. But, I can't find how you can differentiate between someone with `I_AM` credentials or a Cognito user. I want to allow `I_AM` and have the `owner` checks for Cognito users.

[2019-07-31 11:40] rpostulart commented on #1921
Ok, but how can you construct a geo float like 51.89600366973369,5.604579537426986

[2019-07-31 11:57] RossWilliams commented on #1921
I'm not familiar with geo float in Elasticsearch. A geo_shape of type point is an array with two floating point numbers. add two numbers into an array. If you add this to dynamo, it will be stored as a number (if your schema specifies "coordinates" as an array of Float)
[code]
or you can use the geo_point syntax with your schema and specify lat and lon, and not use an array.
[code]

[2019-07-31 12:09] rpostulart commented on #1921
Yes but this wil create coordinates : [{ lat: 12312313, lon: 12312313}]
And I don't want an object, just a purely array with the coordinates. Or am I wrong?

[2019-07-31 12:56] meetrij commented on #1788
I want to see the following type's
[code]
filter to be
[code]
but now getting only
[code]

[2019-07-31 13:13] meetrij opened #1935 "Mutation multiple row data insert to db"
I have a type as shown below
[code]
Mutation generated against this is like
[code]
API.service.ts file generated like this
[code]
suppose I want to add multiple data like
[code]
in a single API call, how could I do? As now only provision to add single row item at a time.

[2019-07-31 15:25] kaustavghosh06 commented on #1937
@tloulamo Could you please show your parameters.json file (hiding sensitive info) located in amplify/backend/ auth/<resource-name> directory?

[2019-07-31 15:26] kleingtm commented on #1897
I see this bug on both 1.8.5 and 1.8.6 (macOS, npm 6.9.0).

For what it's worth, it doesn't happen if I use a default(ish) setup. However, if you choose to manually edit a variety of options during `amplify add auth`, it'll fail.

[2019-07-31 15:45] RossWilliams commented on #1921
you are not wrong. There are multiple ways to implement geo points in elasticsearch, so I showed two different ways to represent a coordinate. It sounds like you want to use geo_shape instead of geo_point, so use the first code block from above. But your question is more about elastic search data types than a feature or bug in the amplify cli.

[2019-07-31 15:49] wmlutz commented on #1106
@janhesters - that is for Amplify Console, not Amplify Framework.

[2019-07-31 15:52] ghariosk commented on #1937
I am also getting a similar error with :
[code]

[2019-07-31 17:00] pigmanbear commented on #1935
See batch resolvers in the Appsync documentation:

https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-batch.html

But, depending on your use case, just remember dynamo has a batch limit of 25 (splitEvery by ramda in a composition can come in handy there)

Or, when performing the mutation, you can do something like ) :
[code]

[2019-07-31 17:06] orozcojair commented on #1930
![Screen Shot 2019-07-31 at 10 05 41 AM](https://user-images.githubusercontent.com/983866/62232319-c8ef0380-b37a-11e9-986d-11dcbf26cdfd.png)

[2019-07-31 17:07] orozcojair commented on #1930
as you can see after running both commands i get  the success message but I dont get the `Storage` service that my teammate added in his machine. He has pushed twice already to AWS and still nothing

[2019-07-31 17:10] achutkiran opened #1939 "AWSJSON"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

[2019-07-31 17:10] #1939 closed

[2019-07-31 18:32] MaximumCrash opened #1941 "'amplify api add-graphql-datasource' throwing 'Unable to merge GraphQL type'"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
* AWS Amplify CLI Usage / Bug(?)

** What AWS Services are you utilizing? **
* RDS (Serverless Aurora)
* App Sync

** Provide additional details e.g. code snippets **

I've been trying to add an aurora RDS data source to my app sync API, but whenever

[2019-07-31 19:32] orozcojair opened #1943 "property `schemapath` in file `graphqlconfig.yml` is being reset after `amplify codegen`"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
In my graphqlconfig.yml file, i set the `schemaPath` property to `graphql/schema.json`
after i run `amplify codegen` i noticed that my file was created under folder `src/graphql/schema.json` and my property `schemaPath` was re-written to `src/graphql/schema.json`

The discrepancy her

[2019-07-31 19:40] rpostulart commented on #1921
Ok I will dive into this and yes I maybe have a need for better GEO support in Amplify, but this is not a real issue.

[2019-07-31 19:40] #1921 closed

[2019-07-31 20:45] voidarg commented on #1502
Hi guys, did the question about sortDirection ever get answered or do I really have to make custom resolver just for that?

[2019-07-31 20:58] kaustavghosh06 commented on #1943
@orozcojair Whcih version of the CLI are you using? We fixed this as a part of this PR - https://github.com/aws-amplify/amplify-cli/pull/1864 and it's a part of the latest version of the CLI.

[2019-07-31 21:11] orozcojair commented on #1943
my version is definitely older than 13 days ago so I will update

[2019-07-31 21:29] orozcojair commented on #1943
yes this solved the issue. Thank you

[2019-07-31 21:29] #1943 closed

[2019-07-31 21:54] nino-moreton commented on #1502
@voidarg there's an open feature request for this at #1629

[2019-07-31 22:43] SwaySway commented on #1920
Yes since what you are looking to do here is a many-to-many connection.
[Connection Doc](https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection)

[2019-07-31 23:07] tinhoangAMA opened #1945 "amplify v 1.9.0 unable to call command amplify init --amplify $INIT_AMPLIFY --providers $PROVIDERS --yes"
**Describe the bug**
I am install amplify cli in my buildspec.yaml in my CI/CD AWS codepipeline.

this command is installing version  cli version 1.9.0 which crashes the cli when I execute:

**To Reproduce**
Steps to reproduce the behavior:
1. set environment variables:

2. execute:

**Expected behavior**
I am expecting the screenshot amplifyCLI184.png but I'm getting error seen in amplifyCLI190.p

[2019-07-31 23:30] SwaySway commented on #1780
@sprucify amplify codegen does code generation based on schemas. This type of implementation you are referring to here is changing the VTL resolver templates. Which is certainly an option as we do have documentation on [custom resolvers](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers). Using a custom resolver in this usecase might be a good option.

[2019-08-01 00:20] nino-moreton opened #1947 "Amplify API push produces "export tablename is already exported by stack" error"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I have an existing Amplify project with multiple models in Schema named like so:
Client
ClientQuestion

When I upgrade my amplify from anything above 1.7.5, I get the error (censored some sensitive stuff)
`*****************-20190415075708-api****************-198U880ZN9V67-**********-

[2019-08-01 00:36] nino-moreton commented on #1930
You need to pull in changes from git then do the amplify env pull so something like (assuming you're in dev branch of git:

make sure you're in amplify's dev branch as well by doing `amplify env checkout dev`
`git pull origin dev`
`amplify env pull`

[2019-08-01 01:03] nino-moreton commented on #1947
UPDATE:
Just found out this will only error out on EXISTING amplify projects upgrading from 1.7.5 to a newer version (I think from >1.7.6)

[2019-08-01 02:24] struct78 commented on #1889
@UnleashedMind We have gone back to just using the listBrands query, which works with the auth just fine, and we get back the following structure:

[code]

It doesn't seem like I can write a filter to filter by a particular event ID, because the `ModelBrandFilterInput` type doesn't allow me to:

[code]

I tried updating the model so that a brand had a string array of event IDs, so my model looks l

[2019-08-01 04:38] orozcojair commented on #1930
hi nino
this is the same advise you gave to a different individual a while ago and it has the same flaw. Both developer cannot be in the same git branch.. but i appreciate you trying

[2019-08-01 06:15] kaustavghosh06 commented on #1945
@tinhoangAMA We've identified this as a bug and I have a PR for this in #1949. We'll have this as a part of our next release.

[2019-08-01 06:31] meetrij opened #1950 "Issue related to #1722"
The solution mentioned in #1722 working fine if the depth has only one level but if it contains nested type having depth more than one then even if I set maxDepth to 6 it is generating only up to depth level one

My type is
[code]
You can see the field zoneMarket: VarietyZoneMarket above marked between dotted lines
VarietyZoneMarket type is mentioned below
[code]
APIservice.ts file generated is li

[2019-08-01 08:16] tluolamo commented on #1937
@kaustavghosh06 do you still want my parameters file? Seems there is a fix already by @haverchuck

[2019-08-01 12:12] #1950 closed

[2019-08-01 12:52] artyhedgehog commented on #475
@kaustavghosh06 I still get the error on 1.9.0:
[code]
My schema is as follow:
[code]

Codegen operation is update. Previously it was just:
[code]
 - maybe that's the cause of an issue?

[2019-08-01 14:07] MaximumCrash commented on #1941
After running some more tests, I've found that the field giving me grief was that my id definition:
[code]
should have been

[code]

With the change to int the amplify api add-graphql-datasource command now successfully adds my Aurora serverless datasource locally.

I'm no expert, but I believe there may be a conflict with id's being defined as Char since GraphQL's ID scalar is serialized in the s

[2019-08-01 14:07] #1941 closed

[2019-08-01 14:30] babu-upcomer commented on #1079
@mhodgson I'm getting `Reason: No data source found named` for the table name though the table exists with the exact name in the DynamoDB console. Does it ring any bell to you? Would be helpful to share if you had faced any issues like that and fixed along the way.

[2019-08-01 15:19] tinhoangAMA commented on #1945
ok, thank you!

[2019-08-01 16:10] babus commented on #1079
@mikeparisstuff Do you know if this solved already? Is the solution by @mikeparisstuff is still applicable?

[2019-08-01 16:16] babu-upcomer commented on #1079
@mikeparisstuff Do you know if this solved already? Is the solution by @mhodgson  is still applicable?

[2019-08-01 17:12] kaustavghosh06 commented on #1947
@nino-moreton I've repoped #1581 and we're digging into it. Closing this in favor of #1581.

[2019-08-01 17:12] #1947 closed

[2019-08-01 17:16] #1945 closed

[2019-08-01 17:19] kaustavghosh06 commented on #1937
@tluolamo Yes, we've identified the issue and we'll release a fix for this as soon as the pR gets merged.

[2019-08-01 17:29] kaustavghosh06 commented on #1935
@meetrij I agree with @pigmanbear's explainaton but you should be aware of AppSync throttling levels if you're using a Proime.all() from your client - it's basically 1,000 queries per second. You can find more information out here - https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_appsync

[2019-08-01 17:29] #1935 closed

[2019-08-01 17:29] kaustavghosh06 commented on #1934
@jarrettj You can use `amplify update auth` and add triggers to the auth resource configured as a part of your Amplify project.

[2019-08-01 17:29] #1934 closed

[2019-08-01 17:40] kaustavghosh06 commented on #1930
@orozcojair Even if you're not using git, and if all your developers are working on the same backend (i.e same AWS account and region), then `amplify env pull --restore` should sync up every one's changes. I've validated this and I would want to know more about your project.
After you run `amplify env pull --restore`, what do you see when you run `amplify status`?

[2019-08-01 17:45] kaustavghosh06 commented on #1924
@janhesters The owner field is always defined since it's passed from cognito via the client, so the schema needs to be aware of it and will always be present when intercepting a request from the client.

[2019-08-01 17:48] #1923 closed

[2019-08-01 17:53] kaustavghosh06 commented on #1920
As @SwaySway  mentioned above, there's a "Many-To-Many Connections" section in the docs listed above to solve your use-case.

[2019-08-01 17:53] #1920 closed

[2019-08-01 17:56] kaustavghosh06 commented on #1880
@venkatesh-kadiyala  How have you modified your `aws_exports.js` file? Could we get a snippet of it which would help us debug this issue better?

[2019-08-01 17:58] kaustavghosh06 commented on #1868
@klaop57 This seems like a momentary service issue. Please let me know if you're still seeing this.

[2019-08-01 17:58] #1868 closed

[2019-08-01 17:58] #1866 closed

[2019-08-01 18:30] kaustavghosh06 commented on #1759
@meetrij You're hitting Cloudformation size limits (specifcallty for the conneections stack) and we would need to do split them out (same as we do for models) into multiple stacks to avoid this limitations. Marking this an enhacement.

[2019-08-01 18:30] #1752 closed

[2019-08-01 18:36] orozcojair commented on #1930
the expectation is that i see 4 services, the 3 you see in my picture plus the newly added service Storage.

Also I would have expected the file `aws-exports.js` to include the S3 bucket name but i didnt get.

We updated our Amplify cli yesterday as well to fix the other issue you commented and tried running `aws env pull --restore` to see if that would help and it didnt

[2019-08-01 18:39] kaustavghosh06 commented on #1897
We have a PR out for this - #1897 and we'll publish the fix to npm as soon as we merge it.

[2019-08-01 18:42] attilah commented on #1933
@janhesters this scenario is handled by the PR you mentioned. When you've 2 auth providers enabled for the same operation, the resolver is different, it has 2 parts:
- Determine the auth mode from the request
- If it is user pool, then do the check you see already, otherwise skip that block

This enabled the caller to bypass the owner check if they were authenticated through ```IAM``` in that requ

[2019-08-01 18:42] #1933 closed

[2019-08-01 18:43] kaustavghosh06 commented on #836
Hey guys, we enabled individual category and resource name push. Please give it a try by installing the latest version of the CLI.

[2019-08-01 18:43] #836 closed

[2019-08-01 18:44] kaustavghosh06 commented on #1190
Hey guys, we enabled individual category and resource name push. Please give it a try by installing the latest version of the CLI.

[2019-08-01 18:44] #1190 closed

[2019-08-01 18:49] orozcojair commented on #1930
@kaustavghosh06 in your tests did you try to sync Storage as the service?

[2019-08-01 18:50] attilah commented on #1915
@RossWilliams thanks for answering @artista7's questions.

@artista7 it seems to me that your question was answered, I'm closing the issue, but feel free to reopen if something new comes up regarding this.

[2019-08-01 18:50] #1915 closed

[2019-08-01 19:02] attilah commented on #1678
@janhesters It is the same thing I just replied in #1678: https://github.com/aws-amplify/amplify-cli/issues/1933#issuecomment-517410055

The multi-auth PR will solve this thing with the new resolvers.

I'm leaving this issue open until the #1916 will be merged.

[2019-08-01 19:13] monaye commented on #1845
@AlessandroAnnini
the issue is regarding the CognitoUserPool cloud formation.  Until recently(I noticed today) when you change the attributes of the CognitoUserPool it will give you the error.
So, if you messed up with user attributes, the only option you have is, create a new one.

But, today, I noticed that Amplify create a new coginitoUserPool behind the scene if this happens.

[2019-08-01 19:20] monaye opened #1952 "Is it safe to remove the old CoginitoUserPool was created by AmplifyCLI ?"
** Which Category is your question related to? **
auth

** What AWS Services are you utilizing? **
AppSync + Lambda + Cognito + APIGateway

** Provide additional details e.g. code snippets **
Not until recently if I change the CognitoUserPool's attributes, Amplify CLI throw the error.
the reason why it throws the error is here: https://github.com/aws-amplify/amplify-cli/issues/1845
but, I noticed

[2019-08-01 19:38] kaustavghosh06 commented on #1952
@monaye If you don't have any active users in it and don't are about the data, then yes you can go ahead and get rid of it.

[2019-08-01 19:38] #1952 closed

[2019-08-01 19:42] kaustavghosh06 commented on #1902
@AlessandroVol23 I suspect what's happening is that, when you're modifying/adding a custom attribute (which are immutable and shouldn't be updated after creation), Cloudformation is creating a new user-pool for you (with the new custom attributes), retaining the old one and trying to spin up a new hosted UI (with the same domain) as the previous user-pools hosted UI domain which still exists.
To g

[2019-08-01 20:37] cjmartin opened #1954 "Generated API.swift sends mimeType and localUri from s3ObjectTypeInput with mutation."
**Describe the bug**
I've added storage to my amplify project, and wired it into my GraphQL API as described in the docs, by adding an S3Object type to my schema.

[code]

As expected, this adds the S3Object type to the schema in AppSync, along with it's associated S3ObjectInput.

[code]

The generated API.swift file correctly generates the S3ObjectInput struct, including `mimeType` and `localUri`

[2019-08-01 20:54] jarrettj commented on #1934
Hi,

Good day, and thank you.

It's not that obvious that you have to run through a bunch of options before you get there.
<img width="895" alt="Screenshot 2019-08-01 at 22 52 27" src="https://user-images.githubusercontent.com/777547/62326685-018ff980-b4af-11e9-82a8-fc98a54a7a04.png">

Regards.

[2019-08-01 21:02] malcomm commented on #1886
@kaustavghosh06 or @mikeparisstuff  - I see that this got moved to a feature-request. I'm trying to plan for a production date and I'm trying to see if I need to put in place an interim fix for this or if these changes could be done before my date. Any idea on the time horizon for this feature?

[2019-08-01 21:31] malcomm commented on #1886
Also, I'm looking at the information that is in CloudTrail and I don't seem to be seeing the events that pertain to AppSync/DynamoDB mutations. From my Lambda that's trapping DynamoDB, I'm seeing this:

[code]

When I go over to CloudTrail, I'm not seeing this event ID (**29dd1b8e3ef95319f7eedd4d8a54d3ba**) anywhere. I also do not see any event related to AppSync/DynamoDB mutations at all.

I'm lo

[2019-08-01 21:35] monaye commented on #1952
@monaye
Thanks, I just wanted to make sure if the resources are somehow still refereeing in the CloudFormationStack or somewhere.

[2019-08-01 23:59] nino-moreton commented on #1522
Hi could we reopen this please @UnleashedMind  @kaustavghosh06 .. As of v1.9.0, it's still generating
[code]

when doing `amplify api push`. It's even worse now cause the `schema.json` has also been affected.

[2019-08-02 00:23] kaustavghosh06 commented on #1522
@nino-moreton I just now generated a GraphQL API using the latest CLI version and the schem.json files were generated correctly.

[code]

Does this happen only when you're developing on a unix machine and then start using the same directory on a windows machine? What would be the steps to reproduce this?

[2019-08-02 00:26] incr3m opened #1959 "Error on Amplify Console Build when using 1.9.0"
**Describe the bug**
Version 1.9.0 on Amplify Console CI build step throws the following error:
![212](https://user-images.githubusercontent.com/3125784/62335557-c74e4880-b4fe-11e9-9dc5-ede1d357e569.PNG)

My Build Setting:
![11](https://user-images.githubusercontent.com/3125784/62335563-cddcc000-b4fe-11e9-80fb-f5e4e041d01d.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Amplify

[2019-08-02 00:28] kaustavghosh06 commented on #1959
@incr3m We just now pushed a fix for this to npm (v 1.10.0). Please install this version of the CLI and try again and let me know if you still see this.

[2019-08-02 00:33] nino-moreton commented on #1522
@kaustavghosh06  yes this particular Amplify project was created in Windows and I only used Ubuntu more recently.

I'm thinking possible reproduction steps (can't test this right now since I only have my Ubuntu machine right now) are the ff:

1. Initiate a new amplify project in Windows. Add GQL models in the schema, push to git and amplify.
2. Pull the project in Ubuntu, amplify init, amplify pul

[2019-08-02 00:50] nino-moreton opened #1960 "Upgrading from 1.7.5 to 1.9.0 causes missing values cloudformation error"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
So our team has been stuck in 1.7.5 due to a certain Amplify bug(#1581). When finally upgraded to 1.9.0 successfully and tried `amplify function push`, it generated this error:

`AWS::CloudFormation::Stack Thu Aug 01 2019 14:41:39 GMT+0800 (China Standard Time) Parameters: [S3Deploym

[2019-08-02 00:58] incr3m commented on #1959
Seems fine now. Thank you @kaustavghosh06

[2019-08-02 00:59] #1959 closed

[2019-08-02 01:48] dkwl93 commented on #1205
Sorry to bump an old issue but I'm still getting this in version `1.10.0`. I'm using node `12.7.0` if that helps

[2019-08-02 02:02] dkwl93 commented on #1205
[code]

Similar but different issue

[2019-08-02 02:19] jarrodb commented on #556
Ping.  These are great questions.  I am new to Amplify and ran into the same issue trying to model a one-to-one through the connection.

[2019-08-02 06:44] mtliendo opened #1962 "How to update query depth after schema creation?"
** Which Category is your question related to? **

API/GraphQL

** What AWS Services are you utilizing? **

GraphQL

** Provide additional details e.g. code snippets **

The default query depth when intializing a graphql schema is 2, however as my schema becomes more defined, I found myself needing to nest certain items within the schema, thus making the depth 4.  Without a way to update this, eve

[2019-08-02 08:14] AlessandroAnnini commented on #1902
I see, thanks for the explanation @kaustavghosh06 , where exactly can I remove the hosted UI endpoint?

[2019-08-02 16:14] lenarmazitov opened #1963 "Is there some way to use code you know that will be generated by Graphql tranform?"
Hi, I have a question about **@function** directive in Graphql transform.

I want to restrict access to CRUD operations and turn it through AWS Lambda via @function directive and I want to use **input type** which will be generated automatically for some model by Graphql transform.
Example:

[code]

But when I'm trying to compile this I have an error: **Error: Type "CreateUserInput" not found in d

[2019-08-02 17:52] janhesters commented on #1924
@kaustavghosh06 Seems like this is impossible to resolve then without custom lambda funcitons.

[2019-08-02 17:52] #1924 closed

[2019-08-02 20:38] waltermvp opened #1973 "amplify does not create indices on ES"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
Appsync + DynamoDB + ElasticSearch Service

** Provide additional details e.g. code snippets **
When creating test and production environments `amplify push` fails to create indices+mappings on the new ES domains. My dev instance does have the correct indices + mappings.

I have tried to remove @searc

[2019-08-02 21:19] monaye commented on #689
@kaustavghosh06

I this request also in the release? I don't see the dynamodb created for Appsync in the amplify-meta.json

[2019-08-02 21:26] monaye commented on #997
looking forward to this

[2019-08-02 21:50] lakshmi-kannan commented on #833
I ran into this issue today. There is no way to setup the bucket name to a domain name I want and just use Route53 + S3 bucket. I am in early phases of app development and I don't need cloudfront at all. I am now forced to use cloudfront just to get a dev site with a nice CNAME.

It would be nice for the CLI to allow users to setup a cloudfront distribution and a custom cname if that's the recomme

[2019-08-02 23:14] SwaySway commented on #1963
You can specify CreateUserInput before the gql schema gets compiled, the same way you defined adding the function in Mutation
[code]

[2019-08-02 23:26] SwaySway commented on #1962
Yea to update this you can run
`amplify codegen configure`

[2019-08-02 23:26] #1962 closed

[2019-08-02 23:30] palpatim opened #1965 "Need ability to specify AWS Region for Pinpoint"
Revisiting a feature request from #817, but with additional context.

Cognito User Pools allows customers to [send auth events to a Pinpoint project](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-pinpoint-integration.html). However, I found out that it only allows a customer to send events to projects in the `us-east-1` region.

In order to support this feature, a cu

[2019-08-03 06:44] Jobel91 commented on #556
This video may help you : https://www.youtube.com/watch?v=eUQvsuO6EnU

[2019-08-03 14:23] turleydesigns commented on #1911
@kaustavghosh06
[code]

that is the latest, correct?

[2019-08-03 15:43] cyrfer opened #1966 "need more helpful message when amplify init fails"
**Describe the bug**

Amplify Init fails after selecting existing profile.

**To Reproduce**
Steps to reproduce the behavior:
1. install amplify cli (using node 12)
2. type `amplify init`
3. answer questions, including `Do you want to use a profile?`
4. observe crash when you choose Yes or No to profile question.

**Expected behavior**
Amplify is initialized without a crash error message.

**Scree

[2019-08-03 17:05] kaustavghosh06 commented on #1911
@turleydesigns 1.10.0 is the latest version.

[2019-08-03 17:14] hatertron3000 commented on #1118
Chiming in to echo jkeys-ecg-nmsu. The ability to create and read secrets from Secrets Manager would be quite nice.

If an application requires a secret to be used by other resources, like Lambda functions, it would be nice to create that secret with Amplify CLI, then be able to grant access to it by other applications from the CLI. Right now, I'm modifying the PolicyDocuments in CloudFormation te

[2019-08-03 17:51] undefobj commented on #1899
@RossWilliams is this something you might be able to submit a PR for?

[2019-08-03 18:00] undefobj commented on #1172
https://github.com/aws-amplify/amplify-cli/issues/1433

[2019-08-03 18:50] CoonHouse commented on #1920
@SwaySway
Thanks for your reply. I tried the many-to-many approach but don't get the result I expected/wanted.
I have the following:
[code]

It looks like I can only create the relation between `Membership` and `Member`. But I want the entire `Person` type when querying "Memberships". How would I solve this?

Regards,

Wilco

[2019-08-04 00:40] rawadrifai commented on #1766
@kaustavghosh06 good sign labeling this as a feature request.
Should we take this as an indication for something?
Sorry happens to be a sensitive time to pick the right tech to use.

[2019-08-04 00:42] rawadrifai commented on #1847
@kaustavghosh06 are you planning on switching to sub instead of identity id for this?

[2019-08-04 02:42] cyrfer commented on #1966
I found the source of my problem. The code linked below attempts to add non-unique properties for  `profileName`. My `~/.aws/config` file contained entries called `[default]` and `[profile default]`, which causes the symptom.
https://github.com/aws/aws-sdk-js/blob/master/lib/shared-ini/ini-loader.js#L10-L11

[code]

This code should take more care in case `~/.aws/config` is malformed. I don't know

[2019-08-04 06:54] rakannimer opened #1967 "Amplify codegen types crashes if you add a file to the src/graphql/ directory"
**Describe the bug**

Adding a file that doesn't export graphql statements as strings will make `amplify codegen types` and therefore `amplify push` crash without explanation into what happened.

In particular graphql.parse throws [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-graphql-types-generator/src/loading.ts#L60).

**To Reproduce**

Steps to reproduce the beh

[2019-08-04 09:56] RossWilliams commented on #1899
I don’t have the information to do a PR efficiently, AWS staff could be 10x faster.
I am not familiar with the e2e tests in this project, the roadmap, decisions on naming and name overloading, and the documentation update process. I’ve tried briefly to identify the auth tests, but they seem very sparse.

While I have your attention about PRs, it would be helpful if the bug in #1581 could be looked

[2019-08-04 10:35] RossWilliams commented on #1847
I’d much rather have a choice of claim to use and I’d like to avoid sub as it’s not under my control and cannot be recreated when restoring a Cognito User Pool. Anything that relies on a sub would be a large operations risk and require a lot of tooling and time to overcome.

[2019-08-04 21:23] rawadrifai commented on #1847
I can agree to that too.

On Sun, Aug 4, 2019 at 3:35 AM Ross Williams <notifications@github.com>
wrote:

[2019-08-04 21:53] hisham commented on #401
You'd have to try it and look at the vtl resolver code to see how the auth logic is handled. Worth a try for sure.

[2019-08-05 01:39] psyrenpark commented on #703
I want found nice solution to this problem.

[2019-08-05 02:02] dabit3 opened #1968 "Various GraphQL Transform issues / inconsistencies"
## Issue 1:

**Is your feature request related to a problem? Please describe.**
Yes, when creating an `@model` and specifying a sort key, the `id` and `createdAt` values are no longer auto-generated by the resolver.

**Describe the solution you'd like**
Right now, here is the request mapping template created based on the following GraphQL schema for a mutation:

Schema:
[code]

Resolver (`createTa

[2019-08-05 05:01] kosaikham commented on #35
I think I found a solution for this because it works for me. check this out:  [Here](https://github.com/aws-amplify/amplify-cli/issues/186#issuecomment-444071716)

[2019-08-05 06:45] FascinateDK commented on #1801
There are some updates or method to bypass this problem ? I'm confronted to this since the other regions were announced.

[2019-08-05 07:02] totaland opened #1971 "GraphQL transform"
** Which Category is your question related to? **
amplify api

** What AWS Services are you utilizing? **
aws amplify graphql transform

** Provide additional details e.g. code snippets **
Hi guys,
I was wondering if we can create a user like this following example using aws amplify graphql transform in the schema. The user was created using the stripe API and the application just need to listen t

[2019-08-05 10:12] kanerogers commented on #1747
I was able to resolve this by going through `amplify-meta.json` and setting `distZipFilename` to `latest-build.zip`. See if it works for you!

[2019-08-05 13:37] venkatesh-kadiyala commented on #1880
@kaustavghosh06
Please see below aws_exports.js file. Somehow I solved it by removing cognito domain directly from console. This solved my problem but still the cognito domain is referencing in aws-exports.js. It doesn't allow me to update through amplify CLI. I did update the callback URL's using amplify update auth.

// WARNING: DO NOT EDIT. This file is automatically generated by AWS Amplify. I

[2019-08-05 13:58] BabyDino opened #1970 "Prevent accidental delete of DynamoDB tables"
** Which Category is your question related to? **
DynamoDB/`@model` directive

** Provide additional details e.g. code snippets **
[code]

Hi everyone,

Let's assume the code above. We have multiple environments connected to AWS Amplify. Let's also assume that our production database (DynamoDB based on `@model`) is up and running with a couple of million rows.

Now, let's change the type name from

[2019-08-05 15:56] CodySwannGT opened #1972 "Field Level @auth declarations throw errors?"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
AppSync
** Provide additional details e.g. code snippets **

[code]

It appears I get an error if I issue a graphql query for name and balance.

Meaning, I have to issue two different queries depending on whether the logged in user is an admin or not.

Seems to me that if I try to read a particular fie

[2019-08-05 16:01] CodySwannGT commented on #1972
[code]

Would generate this in graphql/queries

[code]

But then if I use the auto-generated query, I will get an error because I'm including the "balance" field in my query

[code]

The workaround, of course, is to write my own 'getUser' query that omits the balance field

[code]

But this seems wildly inefficient to maintain two separate queries

[2019-08-05 17:20] kaustavghosh06 commented on #1937
@tluolamo We've merged the fix for this and it will be part of our next release.

[2019-08-05 17:20] #1937 closed

[2019-08-05 17:21] kaustavghosh06 commented on #1897
hey guys, we've merged the fix for this and the fix will be part of our next npm release.

[2019-08-05 17:21] #1897 closed

[2019-08-05 22:30] orozcojair commented on #1930
This morning I had a conversation with @swaminator about the issue with synchronizing the Storage service, he requested that I ping him in this issue so that he can investigate.

@swaminator let me know if this is sufficient or if you need anything else. Thank you for your time this morning 🙇

[2019-08-05 23:58] kanerogers commented on #1581
I was able to eventually fix this by running `api remove` and `api add`. However, this created a new API ID which wreaked havoc on our app.

@mikeparisstuff @kaustavghosh06
I've been using Amplify since one of the first releases and I have had to run this process several times to get past `amplify push` related bugs after an upgrade.

I understand that this stuff is _really really hard_ and your t

[2019-08-06 00:03] diegopizzarello commented on #91
Hey! Is it possible to filter BookMap by a specific Student (get books of student A)?
And also, which is the best way for managing nesting objects of the response?

[2019-08-06 05:08] gabehollombe-aws opened #1975 "Allow fully-parameterized arguments for `amplify function invoke`"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use `amplify function invoke` without having to respond to a lot of interactive command prompts. Instead, I'd like to be able to pass all of the items as flags to the command line invokation.

**Describe the solution you'd like**
I'd like to be able to run something like `amplify function invoke myFuncName --

[2019-08-06 05:23] AbeEstrada commented on #247
I can't find a way to use `codegen` without setting up an Amplify project

I added a `.graphqlconfig.yml` to my base directory

[code]
...
[code]
...
[code]

[2019-08-06 05:25] michaelcuneo commented on #91
So far to get queries from my mapping of many to many is convoluted and kind of negates the whole purpose of GraphQL... but I've been including ID's of the relevant search requirement with the record... so it's literally inserted twice, once as the many to many link (Which can't be filtered) and once with the literal ID of the link (Which can be filtered)

i.e. for your project.

[code]

[code]

F

[2019-08-06 05:30] michaelcuneo commented on #91
No deleting does not cascade, you can't just pick the top most branch and delete, and it will delete all of the nests within, you have to do it in reverse of the creation... i.e. delete a comment, then post, then image, then gallery, then blog. If it were a forum for example. I have never been able to achieve a proper delete scenario where I can delete the topmost branch and have it somehow filter

[2019-08-06 06:08] tgjorgoski opened #1976 "General architecture questions about Amplify CLI"
Sorry if I missed it in the documentation, but I couldn't find a description of the general architecture used in Amplify CLI.
Specifically I'm confused by the following

- Where are the choices I make when using amplify add and amplify update stored?
- When are the CFN templates created and updated?
- Is it possible to change those CFN templates to add our own resources? When will those changes be

[2019-08-06 06:15] kaustavghosh06 commented on #1902
@AlessandroAnnini From your AWS cognito console.

[2019-08-06 06:57] incr3m opened #1977 "GraphQL API with @searchable accepts only Int as nextToken"
We currently have a model with 1000+ records, using searchable query returns a **Long number** as nextToken. now, trying to fetch the next results seems impossible right as it only accepts **Int**.

![image](https://user-images.githubusercontent.com/3125784/62517380-e3811b00-b859-11e9-9d81-c5e5e027d2f8.png)

Is there a work around to fetch the next results?

I'm using **amplify cli version 1.10.0*

[2019-08-06 10:36] isubasinghe commented on #186
It would be good if we can regenerate aws-exports as well, is this possible with the cli?

[2019-08-06 11:27] babu-upcomer commented on #987
@mikeparisstuff As I can see this is merged to master may I know why it hasn't been released yet? @kstro21 Could you please confirm the same?

[2019-08-06 12:46] starpebble commented on #799
I agree, more framework support may be best.

New option: The framework has a new feature - lambda resolvers. For custom resolvers.

[2019-08-06 13:46] #1963 closed

[2019-08-06 14:26] kstro21 commented on #987
Hey, @babu-upcomer, it has been released, I can confirm that.

For example, if you have a model named `Article`, running `amplify api gql-compile` will generate a template in `amplify\backend\api\[my-api-name]\build\stacks\Article.json` containing an output

[code]

After deploying it, you can check the outputs in the AWS CloudFormation console if you like.

Hope it helps

[2019-08-06 14:29] babu-upcomer commented on #987
Thanks for the reply! I thought that it would be exported into
aws-exports.js.

On Tue, 6 Aug 2019 at 7:56 PM, Castro Roy <notifications@github.com> wrote:

--
Babu
Cofounder & CTO | Upcomer Inc.,

site: www.upcomer.com
skype: babu.somasundaram

[2019-08-06 15:01] babu-upcomer commented on #987
Thanks for the reply! I thought that it would be exported into aws-exports.js.

[2019-08-06 15:56] RossWilliams commented on #1973
Elastic determines property mappings the first time it sees data. It is likely when you dev environment was setup the first objects it saw had certain data types that are different from when your production environment first received data.

If you want to setup elastic with specific mappings, you would need to either 1. Manually setup mappings when your ES cluster is created, or 2. Use a custom re

[2019-08-06 16:01] malcomm commented on #1886
@kaustavghosh06 or @mikeparisstuff - any updates on this? Thank you

[2019-08-06 17:07] hisham opened #1978 "Add 'update' command to function help"
**Is your feature request related to a problem? Please describe.**
I was looking for how to update an existing function to give it access to resources. Running `amplify function` only lists these commannds:

[code]

**Describe the solution you'd like**
The 'update' command should be also displayed in this list. See https://github.com/aws-amplify/amplify-cli/issues/1185#issuecomment-497212093. I ha

[2019-08-06 17:29] morgler commented on #229
This update+push solution kinda worked to get my project back on track. However, now I have a useless Congito userpool sitting in Amplify, which I will not use. I created my own Cognito userpool for managing access to my api, so how can I just remove the userpool from Amplify while STILL keeping my api working in Amplify?

[2019-08-06 18:03] kaustavghosh06 commented on #1976
@tgjorgoski  Let me try to answer your questions out here:

* The choices are stored as config file present inside your `<app-name>/amplify/<category>/<Resource-name> folder` in the form of cloudformation templates files  and  `parameters.json` file located inside the same directory.

* The CFN templates are added during `amplify <category> add` command and updated durung the `amplify update <cate

[2019-08-06 18:26] SwaySway commented on #1977
This change is included in the #1775 which also aims to solve #800 and make nextToken into a string.
Closing a duplicate to track in #800

[2019-08-06 18:26] #1977 closed

[2019-08-06 18:35] SwaySway commented on #1971
Hi @totaland
Yes this is possible when you use the `@model` directive upon compilation a subscription type is generated which you can use.
[View Docs here on the @model transformer](https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage)

[2019-08-06 18:35] #1971 closed

[2019-08-06 20:12] Joespower opened #1979 "auth category ignored in headless amplify init/configure project"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
CI / Headless
** What AWS Services are you utilizing? **
Amplify CLI
** Provide additional details e.g. code snippets **
I'm attempting to use the headless feature of amplify CLI to pass parameters to amplify init/configure project (I've tried both).

[2019-08-06 20:19] hisham commented on #1460
@jkeys-ecg-nmsu, I'm using typescript. Yes the codegen tool does map AWSTimestamp and AWSJSON to string in typescript. We did run into a couple of cases where we had to convert dates to specific string formats for it to be accepted by GraphQL as AWSTimestamp. Also AWSJSON (dynamodb specifically) for example does not like empty JSON fields so we deep clean the json before submitting them through th

[2019-08-06 20:22] kaustavghosh06 commented on #1979
@Joespower Do you have auth already added to your project? What does you `amplify/backend/backend-config.json` file look like?

[2019-08-06 20:36] kaustavghosh06 commented on #1973
@RossWilliams Thanks for the response. Agreed with what you're recommending reagrding custom resources to set the mappings. @waltermvp Let us know if you need further help.

[2019-08-06 20:36] #1973 closed

[2019-08-06 20:43] Joespower commented on #1979
@kaustavghosh06 no, I started with a clean project.  When I cat the file I get the below output:

Admin:~/environment/photo-albums (master) $ cat amplify/backend/backend-config.json
{}Admin:~/environment/photo-albums (master) $

This is after several attempts to get this to work, and running amplify delete after.

[2019-08-06 20:45] kaustavghosh06 commented on #1972
@CodySwannGT I agree this shouldn't be the ideal behavior. We're looking into this.

[2019-08-06 20:57] kaustavghosh06 commented on #1979
@Joespower You would need to add `auth` using `amplify add auth` command and then use the script mentioned above for CI/CD. There is no way to add auth in a headless moth currently. Curious to know where you read about the following configs:

[code]

[2019-08-06 21:00] #1902 closed

[2019-08-06 21:13] Joespower commented on #1979
I'm confused.  I must not understand the use case for headless.  I based my bash code on sample code that is specifically called out in the documentation [here](https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-policy-for-the-cli).  Also, the sample code is [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/sample-headless-scripts/headless_init_env_auth.sh)

[2019-08-06 21:20] tgjorgoski commented on #1976
Thanks!
So, am I to understand that Amplify CLI, or more precisely category plugins are not storing the configuration choices form  in any simpler form, but they are in fact directly generating CFN templates?
I was imagining there is some configuration file which stores the basic configuration, and that the CFNs could be regenerated at any time based on that config.

[2019-08-06 22:22] monaye opened #1980 "amplify push failed with token expired in the middle of the push"
**Describe the bug**
amplify push failed with token expired in middle of the push

**To Reproduce**
Steps to reproduce the behavior:
1. push with `amplify push`

**Terminal Output**
[code]

[2019-08-06 22:35] jchris commented on #1766
Why have auth if by default it doesn't do anything?

[2019-08-06 22:42] kaustavghosh06 commented on #1980
@monaye The Cloudformation push still must've succeeded, just that the CLI wasn't able to fetch the event due to the token expiration. If you run `amplify push` the second time with your new token, your local files would be updated with whateever was created in the cloud.

[2019-08-06 22:44] kaustavghosh06 commented on #1972
@CodySwannGT What type of error are you receiving on your query from the client? Is it a 4xx error?

[2019-08-06 22:45] CodySwannGT commented on #1972
Yes. 401 or 403 - I don't recall exactly

[2019-08-06 22:45] CodySwannGT commented on #1972
Yes a 403

On Tue, Aug 6, 2019 at 6:44 PM Kaustav Ghosh <notifications@github.com>
wrote:

--
Cody Swann - CEO, Gunner Technology
T: 213.915.4083 | cody@gunnertech.com | www.gunnertech.com

<http://www.gunnertech.com/>
*Check out our Live Show every Thursday at 1 pm EST on Facebook
<https://www.facebook.com/gunnertechnology>, YouTube
<https://www.youtube.com/channel/UCjURDi2kurZOJFK1OY-QRHg> and P

[2019-08-06 22:47] monaye commented on #1980
@kaustavghosh06
yes. it successfully pushed on the second time.

[2019-08-06 22:53] #1980 closed

[2019-08-06 23:54] kaustavghosh06 commented on #1972
@CodySwannGT I tried out experimenting with your schema

[code]
I had the following queries which i tested

[code]

For non-admin case - for which you're saying you're getting an error, I got the following response from AppSync

[code]

The AppSync response has an error block in it (due to the partial authorization the user has), but it also has the correct data block with the expected 'null' valu

[2019-08-07 00:00] kaustavghosh06 commented on #1970
@BabyDino We can by default have a "Retain" policy on all the DDB tables generated by the GraphQL transformer to avoid these mistakes. Do you think that would be a good solution? Or do you think having a top level configuration for this policy would be ideal?

[2019-08-07 01:05] CodySwannGT commented on #1972
So you're correct on the 4xx. There is none.

And here's the problem - when Apollo (which ships with AppSync) detects an error, no data is returned.

Here's a pseudo example for a NON "Admins" user

[code]

https://www.dropbox.com/s/mdiz3s3lum8sylg/Screenshot%202019-08-06%2021.03.44.png?dl=0

Now with an "ADMINS" user

https://www.dropbox.com/s/1cttu02c9rmtnii/Screenshot%202019-08-06%2021.04.59.pn

[2019-08-07 01:11] kaustavghosh06 commented on #1972
@CodySwannGT This looks like an issue with the AppSync JS SDK (and maybe the apollo sdk used underneath). I'm transferring this issue back to the Amplify JS team to look into this further.

[2019-08-07 01:13] kaustavghosh06 commented on #1976
@tgjorgoski I would say it's not the same accross all categories. For AppSync, we have a concept of annotated schema, which defines your infrastructure and based on that we generate the CFN templates.

[2019-08-07 03:45] rawadrifai opened #1983 "No targetable endpoints for push notifications in Pinpoint after registering endpoint"
** Which Category is your question related to? **
notifications

** What AWS Services are you utilizing? **
Pinpoint, Amplify

** Provide additional details e.g. code snippets **
Hi - I followed the tutorial to enable push notifications in my amplify project. I generated a .p12 file and referenced it when adding notifications. I added analytics to my project. I added all the necessary code as well

[2019-08-07 04:37] mattjennings opened #1984 "AWS Amplify removes "id" field from generated input types"
** Which Category is your question related to? **
AWS Amplify codegen

** What AWS Services are you utilizing? **
AWS Amplify GraphQL API

** Provide additional details e.g. code snippets **

This is similar to #1499, except I am trying to use an object type that contains an "id" field inside of a @model type

This is my schema.graphql

[code]

`tweet` would be a nested object specific to `Post`.

[2019-08-07 06:11] rawadrifai commented on #1983
I was able to see the endpoint by adding `optOut: 'NONE'` in my Analytics.updateEndpoint({...}).
I am trying to send a test message using the endpoint id.. which I assume is the address. Pinpoint says endpoint does not exist.

here's the call to updateEndpoint:
[code]

[2019-08-07 07:53] DanNeish opened #1986 "Querying Many to Many"
I'm using an Amplify API Graphql backend and Cognito User Pool for a react app. I have several many-to-many relationships and am struggling to work out the most efficient way to query them.
The schema is below.

[code]

What would be the best way to obtain the following data:
1. Get Projects where userId is in Collaborator, State is ACTIVE, sort by DueDate ASC.
2. Get Tasks where userId is in Assi

[2019-08-07 08:27] BabyDino commented on #1970
@kaustavghosh06 Retain would certainly help but in case of a mistake, typo, etc. the table becomes "orphaned"(?). If we correct the mistake we have to connect back to the original table, i.e. connect to an existing DynamoDB table.

I do understand the complexity of `@model` and `@key` directives and the fact that DynamoDB doesn't like index modifications (LSI's etc.). However, and I'm just thinkin

[2019-08-07 08:28] #1983 closed

[2019-08-07 10:07] mlafo opened #1987 "Is it possible to create composite GSI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
GraphQL Transform

** What AWS Services are you utilizing? **
Amplify Cli

** Provide additional details e.g. code snippets **

When i add composite key in GraphQl transform an UPDATED_FAILED issue is responding.

UPDATE_FAILED               GraphQLS

[2019-08-07 15:10] thibauld commented on #11
+1 this issue ultimately got us to abandon using Amplify :/

[2019-08-07 15:12] SebSchwartz commented on #11
@haverchuck Isn't it a good idea to create a new issue for this as this one is in closed state? Or reopen this one?

[2019-08-07 15:12] kaustavghosh06 commented on #11
@thibauld Are you referring to the auth parameter limit issue? We merged the PR for the same out here - https://github.com/aws-amplify/amplify-cli/pull/1948 and will be part of our next npm release.

[2019-08-07 15:24] SebSchwartz commented on #11
Great @kaustavghosh06 :)

[2019-08-07 15:38] iparrabb opened #1988 "Is supported BatchDeleteItem for custom resolver?"
Hello everybody!

I have a problem with a custom resolver using BatchDeleteItem operation.

mutation:
[code]

resolver
[code]

request:
[code]

response:
[code]

error:
![image](https://user-images.githubusercontent.com/13960435/62636250-76dd4d80-b939-11e9-9139-92f8c18afbe9.png)

Is it my mistake or is not supported the BatchDeleteItem operation?

I can see that the actions not allow this operatio

[2019-08-07 16:05] iparrabb commented on #1988
I found my mistake thanks to the issue #1079, instead:

[code]

must be:
[code]

It is confusing :(, the TableName really is DocumentTable, at least in AppSync, but on DynamoDB the TableName is Document-irlvgawxhbekzpuxpzjwg4o57y-dev, that's how it works.

[2019-08-07 17:19] shlomizadok commented on #11
Thank you so much @kaustavghosh06 - any timeline for next npm release?

[2019-08-07 18:20] SwaySway commented on #1676
@julescsv I've opened a pr, #1990, where you can specify the sort direction like the following
[code]

[2019-08-07 18:33] hagiosofori commented on #1723
any updates?

[2019-08-07 18:34] SwaySway commented on #1988
Yea the issue the resolver needing the exact name of the table listed in dynamodb, though we are looking at some ways can address this.

[2019-08-07 18:34] #1988 closed

[2019-08-07 19:23] hisham opened #1992 "Pass parameters to lambda method in command line without event.json"
**Is your feature request related to a problem? Please describe.**
My use case is I need to create some utility scripts that do some admin on our backend (e.g. add users to cognito groups, backfill data, dump data from dynamo, etc..). I'm currently doing these via the function category, even though I only plan to run these functions locally and I don't care about deployment.

This is equivalent sc

[2019-08-07 20:02] #1976 closed

[2019-08-07 20:29] SwaySway commented on #1987
Adding a dash in the name creates an input type with the dash, which is not a valid schema.
- View AppSync Type Docs [here](https://docs.aws.amazon.com/appsync/latest/APIReference/API_Type.html)

Removing the dash, or even replacing it with an underscore, would be create a valid GraphQL Schema.

[2019-08-07 20:29] #1987 closed

[2019-08-07 21:14] nikhname commented on #1896
@babu-upcomer could you provide the full schema which produced that request mapping template?

[2019-08-08 04:31] nino-moreton opened #1994 "Error when trying to install v1.11.0 in Ubuntu"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When I do `npm i -g @aws-amplify/cli` it ends with these errors:
[code]

Even when trying the command with `sudo` it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Install @aws-amplify/cli@1.11.0 on Ubuntu
4. See error

**Expected behavior**
A clear and concise d

[2019-08-08 04:32] kaustavghosh06 commented on #1994
What’s the error that you get with sudo?

[2019-08-08 04:34] nino-moreton commented on #1994
Same error

[2019-08-08 04:38] nino-moreton commented on #1994
Did a bit more searching and apparently as per #943 if I add in the `--unsafe-perm` flag after sudo, it installs fine.

Not sure if I should keep this open @kaustavghosh06

[2019-08-08 05:47] kaustavghosh06 commented on #1994
@nino-moreton Yes, I've seen using `npm install -g @aws-amplify/cli@beta --unsafe-perm=true` make the installation work (and resolve the gyp issues) for certain npm versons  installed.

[2019-08-08 05:47] #1994 closed

[2019-08-08 06:33] malcomm opened #1995 "Failed to load module script: The server responded with a non-JavaScript MIME type of "text/html""
**Describe the bug**
Just added a new project and I am using production deployment using CloudFront and S3 hosting. I have an Angular project and when I try to access the deployed code I'm getting:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. amplify publish
2. See error

**Expected behavior**
Angular app should load.

Note: I did not have this same problem with just a dev

[2019-08-08 07:50] iparrabb commented on #1079
I need access to tableName on multiple environments. When execute amplify push command I have an error exporting "ItemDataSource" and "Name", any idea @mhodgson @janhesters?

Thanks!

[2019-08-08 08:45] gkpty commented on #318
Hey guys also trying to implement group authorization in amplify.
Im trying to take a slightly different approach by creating a custom attribute for the user in cognito `userGroup` And them in my schema I use the identityField in my models like this
 `type Room
  @model
  @auth(rules: [
    { allow: owner, ownerField: "owner", operations: [create, update, delete, read]},
    { allow: owner, ownerF

[2019-08-08 12:17] RossWilliams commented on #318
@gkpty You might have problems with your solution. Normally, you will have users be part of many groups. Currently, you need to use "allow: groups" to correctly handle an array of values. But, "allow: groups" only works with the "cognito:group" field.

A current workaround is to use the Cognito preToken Lambda. Inside that lambda you can make dynamo calls to find additional groups for that user. T

[2019-08-08 12:39] lielran opened #1996 "npm install -g @aws-amplify/cli error"
`npm install -g @aws-amplify/cli` failed due to the new version

output:
[code]

[2019-08-08 12:58] RossWilliams commented on #1984
@mattjennings There is a line in the code that filters id properties for non-model input types [here](https://github.com/aws-amplify/amplify-cli/blob/8bbb701317f6d6df78afed250e1e40e3c54c3b86/packages/graphql-dynamodb-transformer/src/definitions.ts#L63).

There are no references I can find for why properties named 'id' are excluded. I'll be curious to hear the explanation.

[2019-08-08 13:32] satueveliina commented on #1697
I also have this issue.

[2019-08-08 14:00] shlomizadok commented on #11
Just updated to `1.11.0`.
Ran `amplify update auth` again and then `amplify push`.
Works like charm.
Thanks ❤️

[2019-08-08 14:35] MatejBalantic commented on #1996
+1

[2019-08-08 14:39] kldeb opened #1997 "Failed to start API Mock endpoint"
**Describe the bug**
When I run `amplify mock` it sets up the storage and creates the tables properly. It tells me that elastic search is not supported but then i get the following error:

[code]

Can `mock` bypass this error so that I can at least use the other features?

**To Reproduce**
Steps to reproduce the behavior:
1. have existing amplify project with `@searchable` on at least one object
2

[2019-08-08 14:57] kaustavghosh06 commented on #1996
We’ve seen the gyp issue for certain npm versions and adding the unsafe-perm parameter should help fix it - ‘npm install -g @aws-amplify/cli --unsafe-perm=true’?

[2019-08-08 15:00] gchablowski commented on #1874
Same here, if you give a congnito trigger lambda with` amplify update function` access to the api there a Circular dependency between resources error that appear. It should be possible to make it work with a custom resource. But I begin with amplify and don't really know where and how to put it.

[2019-08-08 15:29] waltermvp commented on #1973
@kaustavghosh06 This is the direction i was looking for, feel free to close this issue thank you

[2019-08-08 16:09] StefanV85 opened #1998 "Angular: amplify-authenticator shows technical user-id"
Hello,

We are using Amplify with Angular 7 in our Project.
We created an AWS Cognito Userpool using the amplify cli.

And in Angular we are using: <amplify-authenticator> directive to sign-in/sign-up.
But our User Pool use e-mail adresses for Logins (no custom username)

when we login in our project, the <amplify-authenticator> directive shows the technical user-id.

![image](https://user-images.

[2019-08-08 16:29] gkpty commented on #318
Hey Ross, Thanks for this!

So i dont want to use cognito groups because of the 500 groups hard limit. If i understand correctly, in the pre-token lambda trigger i would be able to add the user to a 'fake' group lets say `orgA-admins` by using `groupsToOverride`? https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html

then i would be able to use static

[2019-08-08 16:32] hisham commented on #318
Yes this approach worked for me @gkpty.

[2019-08-08 16:50] nateiler commented on #1570
To elaborate/clarify on this topic; a @connection `keyField` should exist on both sides of the named relationship.

A complete example:
[code]

[2019-08-08 16:54] nateiler commented on #1881
Thanks!

Very helpful.  It took a bit of prototyping, but I've managed to construct a schema that is working well.

I was stumbling with how to set the `keyField` value on a @connection and managed to figure it out.  Ref: https://github.com/aws-amplify/amplify-cli/issues/1570#issuecomment-519599845

[2019-08-08 17:07] anantrao07 commented on #1996
This command worked for me. if i don't use 'unsafe-perm=true'  my installation was failing on  optional packages. with the above command the apmlify cli continued installing ignoring the optional packages like gyp, fs-ext

[2019-08-08 17:18] #1780 closed

[2019-08-08 17:27] #1799 closed

[2019-08-08 17:37] lielran commented on #1996
I switched back to previous version. All good now.
Amplify team - you better cover the release to npm with some tests

On Thu, Aug 8, 2019, 20:07 Anant Rao <notifications@github.com> wrote:

[2019-08-08 17:48] kaustavghosh06 commented on #1644
@David-dp- Were you able to debug your issue? CLosing this since it looks like a platform specific concern.

[2019-08-08 17:48] #1644 closed

[2019-08-08 17:58] nikhname commented on #1931
@nino-moreton could you provide your cloudformation template and the full functions you used to produce this error for some more context?

[2019-08-08 17:59] David-dp- commented on #1644
Platform specific? Amplify migrate is silent for a pre-1.0 project.

On Fri, 9 Aug 2019, 5:48 am Kaustav Ghosh, <notifications@github.com> wrote:

[2019-08-08 18:02] kaustavghosh06 commented on #1996
@lielran We are aware of this npm issue and working on the fix so that you don't have to use the --unsafe-perm parameter, but as a workaround as i mentioned above you can use ‘npm install -g @aws-amplify/cli --unsafe-perm=true’ as a workaround. Note: This issue is prevelant only in certain platform specific npm versions.

[2019-08-08 18:07] nikhname commented on #1896
@babu-upcomer eventInviterId is autogenerated when a keyField is not provided in the @connection. To avoid this you can provide your own keyField, like @connection(name: "UserEvents",  keyField:"ID")

[2019-08-08 18:11] nikhname commented on #1896
@kwhitejr could you provide your schema and resolver code for some more context about this issue?

[2019-08-08 18:22] kaustavghosh06 commented on #1984
@mattjennings I've assigned this as a bug. "id" shouldn't be removed for types which are not annotated with @model.

[2019-08-08 18:30] SwaySway commented on #1986
@DanNeish Are you referring to using the `@key` on the many-to-many types?

[2019-08-08 18:44] hisham commented on #1378
I also need the other env variables - this comment that you add to the lambda files is incorrect when running lambda locally:

[code]

[2019-08-08 18:55] abdsahin commented on #1697
I found the problem, "Block public access to buckets and objects granted through new access control lists (ACLs)" option was turned on on the account level and that is why the publish is failing.

[2019-08-08 19:10] yuth commented on #1434
@achutkiran I could not reproduce this issue. Could you please share a mininal schema that is causing this issue. Could you also include the stack trace when the error occurs, preferably the text version of it instead of screenshot

[2019-08-08 19:24] gkpty commented on #318
Thanks @hisham !

I tried this approach but still cant get users from an `organization` to create, read, update, delete stuff created by other users of that organization. I have 2 custom attributes in the users: `organization`, and `role` which together make up the user's group.

I implemented the a lambda function as follows and then i set it up in my cognito pool as a pre token Generation trigge

[2019-08-08 19:30] kaustavghosh06 commented on #1979
@Joespower So the script out here would be to create a new env and passing in params which the auth category would need if auth is already added via the CLI (this information is env specific and based off the `amplify/backend/team-provider-info.json` file.

[2019-08-08 19:43] hisham commented on #318
@gkpty looks good to me. If it doesn't work, either the cognito groups is not passed through properly, or userGroup in your db is not set properly. Make sure userGroup / adminGroup in your db matches exactly the cognito group the user belongs to. You can for now assign a cognito group manually to one of your users in cognito console (manually, not through your pre-token generator). And see if that

[2019-08-08 19:59] 0xR commented on #1433
It's done! https://aws.amazon.com/blogs/aws/new-local-mocking-and-testing-with-the-amplify-cli/

[2019-08-08 20:37] krsnaa opened #2001 "amplify-cli output log is overly verbose, repetitive and redundant"
**Is your feature request related to a problem? Please describe.**
The output of a long-running process like `amplify push` is extremely verbose, repetitive and redundant. For eg., the output of a simple `add api` operation is 294 lines, without word-wrapping. Of the above, a full 64 lines are `Updating resources in the cloud. This may take a few minutes...`. If you take into account the 80-120 ch

[2019-08-08 21:02] DanNeish commented on #1986
@SwaySway In that example I'm referring to using the @key on the `type Task @model`. In this case, to solve number 2, my approach would be to query through the User (tasks) -> TaskAssignee -> Task (where state = ACTIVE). How would you do that query?

[2019-08-08 21:50] warrenmcquinn commented on #1905
Fix merged in [bcd0d02](https://github.com/aws-amplify/amplify-cli/commit/bcd0d02a229d3dab2e5babc40b68ac9090aa5f15)

[2019-08-08 21:50] #1905 closed

[2019-08-08 22:17] amcbb opened #2020 "Issue Reading @auth Protected Model With Shared @connection"
** Which Category is your question related to? **
API
** What AWS Services are you utilizing? **
AppSync, Amplify, Cognito
** Provide additional details e.g. code snippets **

I am struggling with an issue surrounding mixed usage of @auth and @connection tags.  Please see the sample schema, desired restrictions, and description of the problem below.

[code]
Restrictions:

I want both UserTypeA and

[2019-08-08 22:18] ajhool commented on #1766
@jchris see #1043 for more discussion/vulnerabilities

[2019-08-08 22:18] mwarger opened #2002 "Possible issue with directories for local development"
**Describe the bug**
It seems like duplicate directories may be created when running a local mock... I'm not sure if this is intended or not.  src\graphql is being created, as well as src\API - these seem weird.

**To Reproduce**
Steps to reproduce the behavior:
1. run `amplify mock` in the root of a project
**Expected behavior**
It seems like it should use the directory structure that's already t

[2019-08-08 22:21] nikhname commented on #1769
@clinicalinkgithub is the user you are making the queries with in the User Pool group "SystemAdmin" ? If not, that could be the cause of not retrieving the child collection and the not authorized message. I was able to retrieve the children in the 1-many relationship with a user in the correct user pool group, using your schema and queries.

[2019-08-08 22:27] yuth commented on #2002
@mwarger thanks for reporting this. Could you please clarify the following.
1. You are using Mac or windows?
2. The directory that gets created is inside `src`. By that I mean the directory is`<proj-root>/src/src/graphql`

[2019-08-09 00:33] gkpty commented on #318
Hey @hisham thanks a lot!

in the end the above code worked correctly. I had just forgotten to copy my /schema.graphql into backend/api/.../schema.grqphql and had pushed some previous changes.

really appreciate the help!

[2019-08-09 00:36] mwarger commented on #2002
@yuth I'm using Mac.

2 - It's being created outside.

![image](https://user-images.githubusercontent.com/686823/62746130-d9a31780-ba13-11e9-997a-ad2823b7fd4a.png)

[2019-08-09 00:55] yuth commented on #2002
I suspect this has to do with how we join the path. Just curious if updated the codegen on windows to get `\` in the path.

[2019-08-09 00:57] irelandpaul commented on #997
I think you can add the function then go to the DynamoDB table, go to "Triggers" and click "Create trigger" and add the trigger manually to that existing function.

[2019-08-09 01:00] mwarger opened #2004 "[mock] Custom Resources or custom resolvers don't appear to be honored"
**Describe the bug**
When using mock, it doesn't appear that custom resolvers in the resolvers directory are "seen" by the tool.

Receive an error (screenshot below):

GraphQL schema compiled successfully.

Edit your schema at /Users/mwarger/dev/projects/conference-app-in-a-box/amplify/backend/api/rnconfinabox/schema.graphql or place .graphql files in a directory at /Users/mwarger/dev/projects/con

[2019-08-09 06:41] jonnnnyw opened #2005 "Headless support for amplify add codegen"
**Is your feature request related to a problem? Please describe.**
I am trying to add multi env support for externally linked APIs but this is currently not possible.

**Describe the solution you'd like**
Headless support for amplify add codegen that lets you pass the codegen config as an argument.

[code]

**Describe alternatives you've considered**
Add multi env support for externally linked API

[2019-08-09 15:38] dabit3 commented on #2004
Hey, I just tested this and it work, but in a brand new project. I'm wondering if there is some sort of conflict in a project that has already been deployed. Is this in a project with a live API, or is this completely local?

[2019-08-09 16:26] yuth commented on #2004
This happens if you have a custom resource stack. Mock serve is not parsing the custom stack and is missing the resource created by it

[2019-08-09 17:50] mwarger commented on #2004
This was a new project. I will change accounts to make sure I don't have anything existing.

[2019-08-09 17:51] mwarger commented on #2004
@yuth are you saying you were able to reproduce this?

[2019-08-09 17:57] yuth commented on #2004
Yes. I could reproduce this. conference-app-in-a-box has a schema has custom query
[code]
For this custom query, it uses `CustomResources.json` stack to create the resolver and inserts the required mapping template in `resolvers` folder. Mock server did not look at either the custom stack or did not honor existing resolver which were not created by GraphQL transformer

I am working on a fix for th

[2019-08-09 18:07] SwaySway commented on #1967
@rakanimer
After adding the file - did you change the schema and then do a push?

[2019-08-09 18:36] SwaySway commented on #1967
I was not able to run into that problem here's what I tried doing
- Added api then push with following settings
[code]
- Added a custom query into a separate file in src/graphql/
- amplify push
[code]

Is it possible for you to provide what the custom file was that you added?

[2019-08-09 18:37] SwaySway commented on #1676
Closing issue as pr has been merged

[2019-08-09 18:37] #1676 closed

[2019-08-09 18:48] SwaySway commented on #1629
closing this issue as the pr has been merged

@mdw2000 with this pr your @key query would look like the following
[code]

[2019-08-09 18:48] #1629 closed

[2019-08-09 19:00] AustinDeric commented on #979
I too would like this feature.  We use amplify and we like to match our git branch name with the environment name.  Cloudformation can handle numbers, letters and dashes so i don't see why amplify can't as well.

[2019-08-09 19:52] fdaugs opened #2006 "[mock] Overwritten resolvers get overwritten and deleted by the cli"
**Describe the bug**
If you overwrite a generated resolver by creating resolver in the directory amplify/backend/api/API_NAME/resolvers, first it gets overwritten and then deleted after you stoped the mocking. This is probably beause the temporary generated resolvers for the mocking process get written into the same folder. Maybe it would be a good idea to just generate all resolvers into a differ

[2019-08-09 22:31] GeorgeBellTMH opened #2008 "Focus loss on username/password in expo web"
Focus is being lost on the SignIn and ForgotPassword screens when using expo web (all fields).
Focus is *not* being lost on the SignUp screen when using expo web (all fields).

Happens in Safari, Chrome, Firefox (not able to test any others). Everything works fine in expo android/safari.

From what I can tell the input boxes get focus, but immediately the focus is taken by the text field above the

[2019-08-09 22:53] rawadrifai commented on #1766
@mikeparisstuff do you have any update on this?

[2019-08-10 01:00] SwaySway commented on #1986
@DanNeish Yea you can add a @key directive for case 1 & 2.
For example in case two you can change the Task Type to the following
[code]
With this you can do a query on tasks based on assignees the sortDirection is by default (though after this pr #1990 you should be able to specify sortDirection). The query would look like the following
[code]

For your last case you could use the task IDs as a wa

[2019-08-10 03:17] Hermanya commented on #1138
I had the `[default]` profile in the `~/.aws` folder. Amplify was looking for something like `amplify-qCX0Z`. To fix this I had to copy the default profile values to `[amplify-qCX0Z]`.

[2019-08-10 03:29] kimfucious opened #2009 "Removing CLI generated resources after creating new environment via Console"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
CLI

** What AWS Services are you utilizing? **
API Gateway Cognito, DynamoDB & S3 Storage

** Provide additional details e.g. code snippets **
- I initialized an app, using amplify init, and (stupidly) called the environment "beta".
- I provisioned

[2019-08-10 04:41] rakannimer commented on #1967
Hey @SwaySway,

Yes, sorry I forgot to mention that, you can change the schema in anyway (e.g. add a field to a type) and then push.

I created a simple repo to reproduce the problem : https://github.com/rakannimer/amplify-codegen-crash-repro

The file I added is [here](https://github.com/rakannimer/amplify-codegen-crash-repro/blob/master/src/graphql/custom-queries.ts).

### Repro without push :
1

[2019-08-10 05:43] morgler commented on #746
Since there is support for customer resolvers now: when will custom data sources (i.e. REST APIs) be supported?

[2019-08-10 10:27] apoorvmote commented on #1774
I also have same issue. On top of that how do I add table name when I am testing api locally?

[2019-08-10 12:08] RossWilliams commented on #1766
This is akin to having S3 buckets open by default. If turning off subscriptions by default isn't on your roadmap, consider using a similar approach to S3: have the CLI warn users with a red security message when subscriptions are not turned off on a model and an @auth directive exists. Have a similar warning for @subscriptions with @auth.

A project re-tweeted by dabit3 this week had left subscrip

[2019-08-10 12:50] oliverandersencox opened #2010 "Error occured during configuration. Error: Corrupt file contents"
I am trying to use 2 front ends with my amplify. One in Ionic, which works fine and one in angular.

As per the docs I copied the Amplify folder across to the angular project and then ran:

amplify configure project

I went through the steps and was then presented with this:

[code]

Nothing seems to make this work. Any ideas?

[2019-08-10 13:09] martaGonz commented on #11
I got this same issue today, after updating my Auth , amplify push fails

`Template format error: Parameter count 61 is greater than max allowed 60`

[2019-08-10 14:58] kimfucious commented on #2009
Further to this (yes, I'm confused):

I've created a new branch in my repo (dev) and connected it in the Amplify Console.  So now, I have two deployments both front and back ends.

On my local dev machine, I still have the beta env.

QUESTION:  What's the best way to align the envs in the CLI with those in the console?

My ultimate goal is to:
- develop in dev (locally) in a separate front/back en

[2019-08-10 16:17] undefobj commented on #1766
We're actively working on a design for this feature request based on some of the input that @rawadrifai has given on his use case. If you have further input on your use case to the design please can you comment on the RFC in https://github.com/aws-amplify/amplify-cli/issues/1043 so that we can incorporate it in the design.

[2019-08-10 16:25] #2006 closed

[2019-08-10 17:19] undefobj commented on #1043
@rawadrifai We've been reading through the feedback on the design here, and one thing that might be a misunderstanding is the way that authorization works for subscriptions. It is at connection time, and a resolver will run granting or denying the subscription request. So to take your use case where the client is subscribing to `onCreateMessage` we would actually need to require arguments in that

[2019-08-10 17:22] undefobj commented on #1766
This is good feedback and something that we were discussing this week, potentially also showing a matrix of permissions. Full evaluation of permissions and displaying the resultant set of policy is not a simple thing to implement, but we're looking into it.

cc @kaustavghosh06

[2019-08-10 17:36] undefobj commented on #1847
@rawadrifai we took a few hours and read through the feedback here. I think there is a bit of a mismatch on which sub is being looked at leading to the questions above, which primarily stems from Cognito having two components - User Pools and Identity Pools - which both have a sub.

The links to the [policy documentation](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_examples

[2019-08-10 17:57] kimfucious commented on #2009
Okay, it think I've figured this out, and I was making it way more complicated that it really is.

I made the diagram below to get it straight in my brain.  Kindly let me know if my understanding is correct.

![Amplify Envs](https://user-images.githubusercontent.com/26792769/62825238-bbcfe100-bbd2-11e9-92bc-6ba8084e421d.jpg)

[2019-08-10 18:36] dallinwright commented on #1970
This has bitten me many times, a workaround for now I use is assigning an explicte deny to the automation account for DynamoDB delete operations.

[2019-08-10 23:35] undefobj commented on #1847
@RossWilliams can you be more specific here in what you're looking for? Do you mean that based on a specific Token Claim (e.g. equality test, contains, etc.) then you would grant access to a specific S3 bucket? If so then that will be possible when we implement Dynamic IAM roles from Cognito Groups or Token claims in RFC https://github.com/aws-amplify/amplify-cli/issues/766

[2019-08-11 06:15] kaustavghosh06 commented on #2010
What contents does this file-> `/Users/Ollie/Desktop/Doin/Dashboard/Doin-Dashboard/amplify/.config/local-aws-info.json` have?

[2019-08-11 10:51] RossWilliams commented on #1847
I only need an equality check, but I don’t want to be forced to use the “sub” token claim. Imagine I have an “AppNameUserId” claim in my token

[2019-08-11 16:43] morficus commented on #1996
Ran in to the same issue, the `--unsafe-perm=true` flag worked for me. There were still some installation errors but it did not cause the entire thing to fail and amplify-cli is usable.

Node v10.16.2
npm v6.10.3
MacOS 10.14.6

[2019-08-11 18:47] lenarmazitov opened #2011 "Is it possible to use same GSI for @key and @connection"
I have table with connection to other table:

[code]

When I push this schema, I got two absolutely identical GSI indexes but with defferent names.

I need to query both related connection and separate query, how can I reach this?

[2019-08-11 19:08] kimfucious commented on #2009
draw.io file is [here](https://www.draw.io/?lightbox=1&highlight=FF8000&edit=_blank&layers=1&nav=1#R7V1bc6M4Fv41qe1%2BaApduD3GdtzTVT1bvdO7OzNPKRlkm2mMWMCJ3b9%2BJRAYIXwbX8jFSVViCSEkne8cnfNJyHdouFh9Tkky%2F5UFNLqDZrC6Q6M7CD0X8L8iY11mWNApM2ZpGJRZYJPxPfxJZaYpc5dhQDOlYM5YlIeJmumzOKZ%2BruSRNGXParEpi9SnJmRGtYzvPon03N%2FDIJ%2FLXGB7mwu%2F0HA2l492q%2F4tSFVY9iSbk4A9N7LQwx0apozl5afFakgjMXbVuJT3jbdcrRuW0jg%2F5I

[2019-08-11 22:11] fabiancook opened #2012 "Possible incorrect url being used for verificationbucket"
**Describe the bug**
The url for the s3 bucket seems incorrect, when I look at the AWS console I see

[code]

Rather than the coded

[code]

The difference is a dot or dash before the region.

You can see the line of code here https://github.com/aws-amplify/amplify-cli/blob/3cdbad863ad4febde47e56209d6026cddb344044/packages/amplify-category-auth/provider-utils/awscloudformation/triggers/CustomMessa

[2019-08-12 02:29] struct78 opened #2013 "Dynamic group @auth returns records with null/undefined groups field"
**Describe the bug**
Using dynamic group authorisation allows records with null/undefined values in the groupsField to be returned, and possibly updated and deleted.

**To Reproduce**
1. Create a simple GraphQL schema and `amplify push` it.

[code]

2. Add a record to DynamoDB **without** the groups field set (or set the value to null)
[code]

3. Add a record to DynamoDB with the groups field set

[2019-08-12 07:18] jarrettj commented on #534
That link is no longer relevant? Where's the docs on the -c flag gone to?

[2019-08-12 08:31] Zurdge commented on #1937
Has this issue been fixed?
I'm currently getting the same issue when pushing my updated Auth.

Setting Auth to the default setup pushes correctly however when using "Walkthrough all the auth configurations" and adding "Add User To Group" i cannot push it through.

[2019-08-12 08:40] Zurdge opened #2015 "Auth - Template format error: Parameter count xxx is greater than max allowed 60"
I'm trying to add users to a group when they signup.

Using the default Auth configuration I am able to create and update my Auth without any issues and it pushes correctly

If I select "Walkthrough all the auth configurations" and use the option "Add user to group" then I cannot push my updated Auth config.

The Error I get is -
"UPDATE_FAILED               authwebportaldaf1c410        AWS::Cloud

[2019-08-12 09:46] ssypi commented on #2015
It seems to be fixed in cli version 1.11.0. Check your version with "amplify -v". I also had to run "amplify update auth" again after updating to the fixed cli, just pushing didn't work.

[2019-08-12 11:44] kirkryan commented on #742
Just an update on this. If you are using RN 0.60.0 or above then you need to add these two lines to your metro.config.js

You are basically telling the metro bundler to ignore the #current-cloud-backend directory as it's simply a backup that amplify keeps track of locally and isn't used by your CLI.

[code]

[2019-08-12 12:13] KLaci opened #2017 "Amplify-category-auth uses Jest as normal dependency"
**Describe the bug**
Amplify-category-auth project contains Jest as a normal dependency instead of it being just a devDependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/aws-amplify/amplify-cli/blob/8bbb701317f6d6df78afed250e1e40e3c54c3b86/packages/amplify-category-auth/package.json

**Expected behavior**
Jest should be provided as a devDependency.

[2019-08-12 12:32] janhesters commented on #1933
Hi @attilah , thank you again for your answer. Quick follow up: Do you have any idea when the PR will be merged? 😊 We need this for our team 🙏🏻

[2019-08-12 13:05] janhesters opened #2018 "Add `amplify push -y`"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to push changes to the cloud while working on other stuff. I frequently forget to hit `y` a couple of times, especially after changes to the API. And I see my coworkers do the same. Sometimes you work on something else, come back after 10 minutes and see that the CLI waits for you to hit enter.

**Describe the so

[2019-08-12 14:02] GustavoEdinger commented on #1996
+1

[2019-08-12 14:43] janhesters commented on #682
I faced the problem too. I was trying to overwrite a resolver that got generated by Amplify for a `@connection` directive.

[2019-08-12 14:49] lenarmazitov opened #2019 "Does @key directive with 3 fields only works with primary keys?"
regarding the documentation

What about secondary indexes?
I've just tried this feature with secondary index, and seems that it does not work with it: I always receive empty result

[2019-08-12 15:58] attilah commented on #1933
I'd say soon, but no explicit timeline, the code is there, we have some pending reviews, we'd like to ship this feature as well ;-)

[2019-08-12 16:55] evanlarkin10 opened #2021 "Using generated schema in custom schema.graphql"
** Which Category is your question related to? **
Amplify API, Schema.graphql

** What AWS Services are you utilizing? **
AppSync, Dynamo

** Provide additional details e.g. code snippets **

I've created a custom model in schema.graphql, and created a custom query on top of the ones generated by default. I want to use some of the generated schema in my query, particularly Model{Name}FilterInput a

[2019-08-12 17:06] hoang-innomizetech opened #2022 "Support multiple hosting"
I am trying to add another hosting to my current repository, but I am getting below error
[code]

It would nice if Amplify supports multiple hosting so that we can add/remove/update multiple sites

[2019-08-12 17:08] kaustavghosh06 commented on #2018
@janhesters We aleady have this - you just missed one of the dashes in front of your `y` in the command. The headless command is `amplify push --y`

[2019-08-12 17:08] #2018 closed

[2019-08-12 17:10] kaustavghosh06 commented on #2022
@hoang-innomizetech  Amplify has support for multiple environments if youre looking for that. The CLI is project specific for an environment - so I'm not sure if I get the use-case. Could you pleasep rovide more details?

[2019-08-12 17:12] kaustavghosh06 commented on #2015
@Zurdge @ssypi is right. We fixed it in the latest version of the CLI. If you go through the `amplify auth update` flow and then run `amplify push`, you should be able to make this work. Please comment on  this issue if you're still getting the same error.

[2019-08-12 17:12] #2015 closed

[2019-08-12 17:14] #2019 closed

[2019-08-12 17:17] kaustavghosh06 commented on #2009
@kimfucious The above diagram seems correct and thank you for this. This is one of the use-cases when a developer would have his/her own sandbox environments (in your case dev env) and then use probably a different environments for test and master.

[2019-08-12 17:29] kaustavghosh06 commented on #2009
Also you can use `amplify env remove <env-name>` from the CLI to delete all the resources for your environemnt - `env-name`. You can also import the backend resources generated by the Amplify console using a CLI command (`amplify env import`) which you can easily copy from the Amplify console by following these instructions - https://github.com/aws-samples/create-react-app-auth-amplify/blob/master

[2019-08-12 17:29] #2009 closed

[2019-08-12 17:37] #1979 closed

[2019-08-12 17:58] AustinDeric opened #2023 "gyp ERR! stack Error: EACCES: permission denied, mkdir..."
**Describe the bug**
amplify-cli fails to install using `npm install -g @aws-amplify/cli`

[code]

[code]

**To Reproduce**
docker run -it node:10-alpine sh -c "apk add python && npm install -g @aws-amplify/cli"

**Expected behavior**
install cleanly

**logs**
[amplify_cli_install_logs.txt](https://github.com/aws-amplify/amplify-cli/files/3493717/amplify_cli_install_logs.txt)

***environment detai

[2019-08-12 18:11] ajhool commented on #1766
Just make everything explicit so you don't need to rely on warnings or documentations.

Developers should be forced to set auth to be PUBLIC or AUTHENTICATED or OWNER, etc. There shouldn't be default permissions and there certainly shouldn't be default PUBLIC permissions. If the developer doesn't specify an auth level, they shouldn't be able to push the schema and it should show an error that auth

[2019-08-12 19:08] venkatesh-kadiyala commented on #1376
@rodrigopavezi
Could you please explain how you implemented it exactly ? I removed oAuthMetaData field and placed it like below. But I get "Parameters: [oAuthMetadata] must have values" error when I update the stack.

"categories": {
            "auth": {
                "xxxxx": {
                    "hostedUIProviderCreds": "[]",
                    "oAuthMetadata": "......"
                }

[2019-08-12 19:12] #1903 closed

[2019-08-12 19:22] SwaySway commented on #1967
@rakannimer
Ah I see that's because codegen is expecting a graphql operation within the graphql.
What kind of fix do you have in mind for a PR?

[2019-08-12 19:29] SwaySway commented on #1975
Closing in favor of this feature-request #1992

[2019-08-12 19:29] #1975 closed

[2019-08-12 19:32] kaustavghosh06 commented on #2023
@AustinDeric Using `npm install -g @aws-amplify/cli --unsafe-perm=true` with the `unsafe-perm` param. Duplicate of #1996

[2019-08-12 19:32] #2023 closed

[2019-08-12 21:04] janhesters commented on #1933
@attilah That's awesome and thank you for your answer 😊

[2019-08-12 21:05] janhesters commented on #2018
@kaustavghosh06 Oh wow, my bad, sorry. Thank you very much!

[2019-08-12 22:35] jamesw6811 commented on #186
Agree. I have found my aws-exports does not always update, especially if I delete resources then init a new project. It will be stuck without updating to the new resources. It would be good to be able to do a complete project update/overwrite.

[2019-08-12 23:11] undefobj commented on #1766
Hi @ajhool we are actively working on a design to address this request to protect subscriptions. As noted in the RFC, we have been listening to the feedback on the use cases. We do need to provide more explicit authorization controls while being mindful of usability. So, suggestions such as @RossWilliams have made are valuable, and we don’t want to dismiss them. There isn’t a single correct answer

[2019-08-12 23:13] iqdev-ca commented on #82
like @dipjyotimetia suggested **npm i -g @aws-amplify/cli** worked. But after I also did:

`amplify remove auth
`
Followed by

`amplify add auth
`
Then amplify push didn't give any errors.

[2019-08-12 23:56] ilrein opened #2232 "NotAuthorizedException: Token is not from a supported provider of this identity pool."
**Describe the bug**

Unable to login with Facebook (react-native).

**To Reproduce**

1. Run through the default social provider auth flow with ```amplify add auth```
2. Create a facebook app, add appId + appSecret to amplify config
3. Add app domain provided by cognito to FB dev page
4. Set the website with appended path (eg: https://zatiq-mobile-app-dev.auth.us-east-1.amazoncognito.com/oauth2/i

[2019-08-13 00:54] danhumphrey commented on #1204
Just FYI for anyone else attempting this, but the example shown in https://github.com/aws-amplify/amplify-cli/issues/1204#issuecomment-482028480 doesn't actually work because custom attributes cannot be `required`

`Reason: Required custom attributes are not supported currently. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: InvalidParameterException;`

I would happy to

[2019-08-13 02:43] andrewbtp commented on #1055
I'm a big fan of prop 1. Prop 2 adds a lot to the schema if you have bigger pipelines, and it seems to offer less customization. If we the users are going to be messing with resolver pipelines, we have to dive into the pipelineFunctions folder (or whatever) anyway, so the config is fine to go there rather than built-in as directives like prop 2.

To expand on this more, I'm making pipeline resolve

[2019-08-13 04:50] rakannimer commented on #1967
When this problem happened with me it took me some time to figure out why it was happening and what I did wrong.

So, to make it easier to debug for the next person, I was thinking we could wrap the graphql.parse code [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-graphql-types-generator/src/loading.ts#L74) with a try catch block and if it fails we would throw and l

[2019-08-13 05:41] jamesw6811 commented on #587
I spent  two hours trying to figure out why my "attach resolver" buttons weren't showing up before finding this issue and scrolling right. I have a moderate resolution screen. Maybe this is a bug, just in the appsync UI?

[2019-08-13 05:48] gabehollombe-aws commented on #1992
Please note, as originally mentioned in https://github.com/aws-amplify/amplify-cli/issues/1975

Besides passing in an event on the CLI, there are two other issues mentioned in my original issue that I feel warrant attention:

1. Allow me to pass _all_ of the arguments (name of function, src file, handler name, and event) on the CLI invocation

2. Give me sane defaults for all items in point one ab

[2019-08-13 05:56] jamesw6811 opened #2028 "Add utility helpers for array parameters in MySQL resolvers"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
It was a frustrating experience to sift through the documentation to find out how to do a batch query by ID on an Aurora DB in Amplify. It was especially confusing to figure out how to add a resolver to the stack - the documentation

[2019-08-13 06:13] SudhirKaushik opened #2029 "domain link accessible on my system but not on colleague"
**Describe the bug**
When using amplify without custom domain, my link is genrated as "https://production.d3ahf4w2xv43c2.amplifyapp.com" and works fine as expected. However, Setting up third-party domain is painful. I agree with the level of frustration mentioned in [this isse](https://github.com/aws-amplify/amplify-cli/issues/845) but not the language.

Where I am stuck? well, I added my domain t

[2019-08-13 06:18] SudhirKaushik commented on #2029
ummm, I

[2019-08-13 07:50] rakannimer opened #2037 "Can't run amplify-dynamodb-simulator from a build container"
**Describe the bug**

Ran into this error while trying to run `amplify mock api` from the console (to test my app before deploying)

I narrowed the problem down to ampliy-dynamodb-simulator failing to acquire a port and launch.

After turning on logging, I get :

[code]

**To Reproduce**

1. Fork https://github.com/rakannimer/amplify-api-mock-in-console
2. Connect it with Amplify Console
3. Scroll

[2019-08-13 08:54] iotFab opened #2032 "GraphQL schema with AWSTimestamp generate error in Mock API"
**Describe the bug**
AWSTimestamp not supported by amplify mock api
Schema working with amplify add API.

Unknown type "AWSTimestamp". Did you mean "AWSTime" or "AWSDateTime"?

**To Reproduce**
Steps to reproduce the behavior:
1. create a file with graphql schema

  id: String!
  ts: AWSTimestamp!
  payload: AWSJSON
}

2. run `amplify mock api`

3. See error

Failed to start API Mock endpoint Erro

[2019-08-13 10:05] attilah commented on #2011
@lenarmazitov ```@key``` and ```@connection``` is two different independent feature in separate modules, so currently there is no way to associate the same generated GSI with them. I mark it as a feature request and will discuss with the team about possible solutions.

[2019-08-13 10:16] attilah commented on #2012
@fabiancook Thanks for reporting the issue, what you found is a bug, but not that simple as it seems. As of the website endpoint documentation, the separator is region dependent.

Documentation: https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteEndpoints.html

We'll need to use the table [here](https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_website_region_endpoints) to implement

[2019-08-13 11:40] jieming commented on #703
I would be super nice to have this implemented! +1
Sharing code between lambdas is essential on backend architecture in my current projects.

[2019-08-13 12:36] mlafo opened #2033 "Parse issue when using composite key with a AWSDateTime format"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Graphql query

** What AWS Services are you utilizing? **
AppSync with Amplify CLI

** Provide additional details e.g. code snippets **

With the request below, the amplify api return this error :
"Variable 'updatedAt' has an invalid value. Unable to

[2019-08-13 13:06] kimfucious commented on #2009
Thanks for the clarification, @kaustavghosh06

And thanks for the tip regarding the import of the backend into the CLI via `env import`.  This made a light bulb go off for me, which was dim before.

[2019-08-13 13:13] attilah commented on #2017
@KLaci thanks for the reporting, I've reviewed every package in the project and fixing where we have this or a similar problem.

[2019-08-13 13:15] attilah commented on #2013
Thanks @struct78 for reporting, we'll take a look and discuss this behavior with the team.

[2019-08-13 13:44] thedgbrt commented on #1204
@kaustavghosh06 any progress on this? Would be much cleaner to simply add custom attributes through the amplify cli, and have them be automatically added to various environments.

[2019-08-13 14:07] stevelizcano opened #2035 "Best practices for Multi-Tenant Apps?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify CLI and Amplify-js

** What AWS Services are you utilizing? **
AppSync, Cognito, and Lambda

** Provide additional details e.g. code snippets **

Let's say we follow the common model shown in the docs, with @auth rules:

[code]

What if we wa

[2019-08-13 14:49] attilah commented on #2028
@jamesw6811, we sorry about the frustration you had along the way and we're grateful for the detailed feedback.

To add custom resources to your amplify project it is possible without modifying the generated stack: [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#api-category-project-structure). Just add your datasources to ```CustomResources.json``` file and they'll be created duri

[2019-08-13 15:08] jamesw6811 commented on #2028
Thanks @attilah ! I appreciate the response. I've poked around the repo, and you guys are doing an amazing job. Disclaimer - I am new to GraphQL and AppSync in general, so I'm learning a lot at once.

![Capture](https://user-images.githubusercontent.com/2816551/62952895-8980d800-bdba-11e9-8dd6-0482aa512051.PNG)

The issue with this method is that I'm accessing an Aurora Serverless RDB - partially

[2019-08-13 15:22] undefobj commented on #2028
@jamesw6811 These requests are probably better on the AppSync community page: https://github.com/aws/aws-appsync-community

[2019-08-13 15:38] attilah commented on #2028
@jamesw6811 I agree with @undefobj on the second one, please post this Aurora related question there, I'm closing the issue, if you hit a technical glitch with the CLI, please feel free to open an issue ;-)

[2019-08-13 15:38] #2028 closed

[2019-08-13 15:46] ajhool commented on #1766
I was also making a design suggestion...

[2019-08-13 15:57] tnguyen01 opened #2036 "CLI Slowness"
Amplify CLI on my system (Mac) is extremely slow on any command to the point that it's almost unusable. If I execute a specific command for the first time in a new shell/terminal (or after idling for a while), it can take 15s or more. If I execute the same command again, execution time gets better and it can eventually executes in about 5s after a few times for simple commands like version or help

[2019-08-13 16:01] kaustavghosh06 commented on #2036
We’re aware of the slowness but 15 seconds seems unusual. We are making this faster and better with this PR #1823 which would be released soon.

[2019-08-13 16:21] SwaySway commented on #800
Closing this issue as the pr has been merged

[2019-08-13 16:29] attilah commented on #2029
@SudhirKaushik please help me understand how is your issue connected to Amplify CLI to be able to help you better, since from your description it is a Route53 service related configuration issue, the only connection I see is that you like to create a custom domain for an AppSync service.

[2019-08-13 16:30] kaustavghosh06 commented on #2029
I believe this is tied to the Amplify console. Moving it over to their repo.

[2019-08-13 16:30] SwaySway commented on #1967
@rakannimer Sounds good - We are open to PRs I can take a look once it's up.

[2019-08-13 16:50] attilah commented on #2032
Thanks @iotFab for reporting this issue, we've identified, that ```AWSTimestamp``` is missing from ```appsync-scalars``` and causing this error.

[2019-08-13 19:22] 01binary opened #2038 "aws-exports.js not created by amplify push"
**Describe the bug**
The following page states that aws-exports.js will be created by Amplify CLI when running amplify push command:

https://aws-amplify.github.io/docs/js/start?platform=react-native

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Expo React Native project
2. Install Amplify CLI globally
3. Install Amplify and Amplify React Native packages into the project
4. Ex

[2019-08-13 19:27] j-r-t commented on #266
Is there any updates on this? I would like the content of a Post to be generic(a union I believe) , eg type Video, Image, Link  (think Reddit)

Is this possible currently in any way @mikeparisstuff ? I looked at writing a transformer but seems like quite a bit of work and really need to focus on other priorities.

Is there any way to achieve this without having to do multiple connections on a Post

[2019-08-13 20:27] swaminator commented on #2037
Moving to the CLI team to investigate.

[2019-08-13 22:13] philipmclifton commented on #177
Please, I’m loving app sync and amplify but the costs of cognito are too high, would love this ability.

[2019-08-13 22:20] nino-moreton commented on #2036
Here's mine on windows running consistently slow (using cmder w/ git bash):
[code]

[2019-08-13 22:26] swaminator commented on #2022
@hoang-innomizetech you can also use Amplify Console to host your frontends: https://console.amplify.aws

[2019-08-13 22:47] kaustavghosh06 commented on #2038
@01binary Which version of the CLI are you using? During `ampify init` - what's the project type did you select - between javascript/android/iOS? Also could you please share your `<project-root>/amplify/.config/project-config.json` file?

I installed the latest version of the CLI with the following propmpts and it created an `aws_exports.js` file inside the src/ directory of my project.

[code]

[2019-08-13 23:35] #1978 closed

[2019-08-13 23:40] kaustavghosh06 commented on #1172
@s-hood We released support fo local testing of GrpahQL API with a local DynamoDB table. Please take a look at our launch blog to know more - https://aws.amazon.com/blogs/mobile/amplify-framework-local-mocking/

[2019-08-13 23:40] #1172 closed

[2019-08-13 23:48] #84 closed

[2019-08-13 23:52] kaustavghosh06 commented on #155
@0xdevalias Yes, you can create a function using the `amplify add function` command and replace the Cloudformation tempalte with a SAM template. We do support it now.

[2019-08-13 23:52] #155 closed

[2019-08-13 23:57] kaustavghosh06 commented on #209
@hisham I beleve this issue if fixed. Please let me know if you still see this.

[2019-08-13 23:57] #209 closed

[2019-08-14 00:00] kaustavghosh06 commented on #330
@gavinwilliams We've released Lambda triggers functionaity for S3. You can find more information out here - https://aws.amazon.com/blogs/mobile/amplify-framework-adds-supports-for-aws-lambda-triggers-in-auth-and-storage-categories/

[2019-08-14 00:00] #330 closed

[2019-08-14 00:02] #338 closed

[2019-08-14 00:04] kaustavghosh06 commented on #318
Closing this in favor of #317

[2019-08-14 00:04] #318 closed

[2019-08-14 00:07] kaustavghosh06 commented on #376
@GeekEast Are you sure that `amplify delete` didn't get rid of the user-pool and the dynamo db tables? It should delete everything except S3 buckets (on which we set the "Retain") policy.

[2019-08-14 00:08] kaustavghosh06 commented on #376
Closing this in favor of a duplicate issue #81

[2019-08-14 00:08] #376 closed

[2019-08-14 00:09] blazinaj commented on #1517
Love this idea. Lots of over-fetching due to the circular JSON.

[2019-08-14 00:26] kaustavghosh06 commented on #456
@erik-induro We’re working on the @auth directive to support this (adding a field for custom claims) and auto-generate the resolvers accoridngly. Closing this in favor of a similar request - https://github.com/aws-amplify/amplify-cli/issues/1899

[2019-08-14 00:26] #456 closed

[2019-08-14 00:33] kaustavghosh06 commented on #486
@minbi We have a 3rdparty plugin for custom CFN templates which you can use (https://www.npmjs.com/package/amplify-category-template)
You can use the authRole and the unAuthRole as a `Ref` and then attach whatever policy you would like.

[2019-08-14 00:33] #486 closed

[2019-08-14 00:35] #526 closed

[2019-08-14 00:37] kaustavghosh06 commented on #575
Closing this in favor of duplicate #89

[2019-08-14 00:37] #575 closed

[2019-08-14 00:41] kaustavghosh06 commented on #582
Hello guys, we've added more documentation around this topic in our docs. You can checkout the `amplify env import` command as mentioned in  the docs  to seamlessly copy over a project info into another frontend roject.

[2019-08-14 00:41] #582 closed

[2019-08-14 00:43] kaustavghosh06 commented on #628
@kvoth3 The changes in your aws_exports.js  file won't overwrite if you're using the latest version of the CLI. We added this functionality a few months back.

Also, we added support for email-link verification in the CLI. Check it out here - https://aws.amazon.com/blogs/mobile/amplify-framework-adds-supports-for-aws-lambda-triggers-in-auth-and-storage-categories/

[2019-08-14 00:43] #628 closed

[2019-08-14 02:32] kaustavghosh06 commented on #922
Hey guys, we published the sanity check feature out. This would basically prevent pushing of invalid schema changes by giving a reason and provide a way to go around the change.

[2019-08-14 02:32] #922 closed

[2019-08-14 02:40] kaustavghosh06 commented on #1214
@minbi We've added this.

[2019-08-14 02:40] #1214 closed

[2019-08-14 02:41] kaustavghosh06 commented on #1209
@mtliendo Thanks for your  plugin which solves for this :). Closing this issue in favor of a 3rd party plugin - https://www.npmjs.com/package/amplify-category-docs

[2019-08-14 02:41] #1209 closed

[2019-08-14 02:44] nikevp opened #2047 "Cannot find module 'aws-serverless-express'"
**Describe the bug**
A clear and concise description of what the bug is.
When deploying a serverless lambda (Amplify API) via CLI, node modules are not automatically installed. When calling the function via API Gateway the lambda fails to import 'aws-serverless-express', because it doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:
Following Automatic API guide: https://aws-amplify.

[2019-08-14 02:45] kaustavghosh06 commented on #1366
@conkman Did you take a look at this - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#environments--teams for your multi-environments need?

[2019-08-14 02:58] kaustavghosh06 commented on #1699
@RickCraig The policy limit seems to be from the IAM and yeah the solution you mentioned isn't ideal. I would opening up a support ticket with IAM out here - https://forums.aws.amazon.com/forum.jspa?forumID=76

[2019-08-14 02:58] #1699 closed

[2019-08-14 02:58] kaustavghosh06 commented on #1698
@JIoJIaJIu Please let us know if we can help you out in anyway for the PR.

[2019-08-14 03:00] kaustavghosh06 commented on #1709
@ajhool Please take a look at https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks to know more about custom Cloudformation stacks and the latest version of the CLI allows deploying of SAM CFN templates.

[2019-08-14 03:00] #1709 closed

[2019-08-14 06:24] #2017 closed

[2019-08-14 06:35] hoang-innomizetech commented on #2022
@kaustavghosh06 I wanted to configure multiple apps per a Monorepo. For example
* app1.domain.com point to app1.domain.com bucket
* app2.domain.com point to app2.domain.com bucket

All the above app should have its environments such as prod, staging or dev.

[2019-08-14 06:36] hoang-innomizetech commented on #2022
@swaminator our requirement is to configure multiple apps per Monorepo so that we can implement the auto-deployment solution

[2019-08-14 08:36] rakannimer commented on #1967
Awesome, I opened https://github.com/aws-amplify/amplify-cli/pull/2045 we can maybe close this issue and move the discussion there.

[2019-08-14 10:09] rakannimer commented on #2037
After further digging I found that the problem is from `amplify-dynamodb-simulator`'s dependency on [port-pid](https://github.com/radiovisual/port-pid) which itself depends on the [netstat](https://github.com/radiovisual/netstats) package which depends on having `lsof` installed.

In the docker instances used by AWS Console, @VividKnife, CircleCI and I, `lsof` was not installed. And since port-pid

[2019-08-14 11:36] DanNeish commented on #1874
I'm also had this problem, but when trying to allow lambda access to auth. I have created a PostConfirmation trigger for cognito auth (through amplify update auth) and want to set the value of a custom cognito attribute for the user when they confirm their account. (using aws-sdk adminUpdateUserAttributes).

[code]
Currently my workaround is to manually edit the auth cloudformation template and ad

[2019-08-14 11:40] RossWilliams commented on #1204
@thedgbrt If you want to automate adding custom attributes today you can do this by creating a Custom Resource and use the aws-sdk to make the right API calls. A side benefit of using the API instead of cloudformation is that updates do not cause your user pool to be replaced.

You would need to use the amplify cli to add a new function, and allow it access to the auth category. Then you will have

[2019-08-14 12:00] attilah commented on #2035
@stevelizcano Multi-tenancy support is a hard topic and very specific to the customers' requirements, so it is hard to add generic support to it in the CLI. From Cognito perspective, the CLI only supports having a single Cognito User Pool configured, so that is a blocking fact for your scenario.

Cognito: You can use a single Cognito User Pool and still guarantee that now cross tenant access can b

[2019-08-14 12:00] #2035 closed

[2019-08-14 12:15] attilah commented on #2037
@yuth, what do you think of moving from ```port-pid``` dependency to ```detect-port``` which has no native external process dependencies. Are we interested in the process that is using the port or we just need a free port to launch the simulator on?

detect-port: https://www.npmjs.com/package/detect-port

[2019-08-14 13:08] attilah commented on #2033
@mlafo thanks for reporting this issue, I was able to reproduce this problem. The problem is that ```ModelFileByOwnerIdOByTypeUpdatedAtDescCompositeKeyInput``` is generated looks like this:
[code]

To support the lexicographical comparison for the date part of the value ```updateAt``` should be a ```String```.

[2019-08-14 13:18] mlafo commented on #2033
Tanks @attilah
I guess we have to modify the generated schema while waiting for the problem to be fixed ?

[2019-08-14 13:35] attilah commented on #2033
@mlafo digging deeper into the root cause I found out that if you move the definition of ```type``` above ```createdAt```, ```updatedAt```, we'll actually map that to string correctly, so it is a short term fix for your case.

[code]

[2019-08-14 13:44] flybayer commented on #91
Has this feature been added?

[2019-08-14 14:25] kartikrao commented on #1371
Try `SELECT * FROM Customers WHERE id = LAST_INSERT_ID()`

[2019-08-14 14:40] mlafo commented on #2033
@attilah
It works !
I would never imagine this kind af workaround.

[2019-08-14 14:46] quangctkm9207 commented on #91
Is there any update about this feature?

[2019-08-14 14:49] matthieunelmes commented on #91
@flybayer @quangctkm9207 Nope, still TODO:

https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-connection-transformer/src/ModelConnectionTransformer.ts#L179

[2019-08-14 16:37] RuarriS opened #2046 "Code generation not configured error"
** Which Category is your question related to? **
CLI Codegen
** What AWS Services are you utilizing? **
Appsync
** Provide additional details e.g. code snippets **

I have been using the cli to build a project for some time, and recently updated the schema in Appsync. When attempting to run `amplify codegen` I receive the error "code generation is not configured. Configure it by running $amplify

[2019-08-14 16:40] dsemenov commented on #91
If it’s not done, then what is the reason for closing it?

[2019-08-14 17:00] malcomm commented on #1886
@kaustavghosh06 / @mikeparisstuff - I know this is marked a feature-request ... but isn't this more of a bug? (because the system is not acting as it should?)

[2019-08-14 17:07] attilah commented on #2047
@nikevp could you please confirm what version of Amplify CLI are you using?

[2019-08-14 17:08] aireater commented on #2004
Just came across this same problem with version 1.12.0.

[2019-08-14 17:35] aireater commented on #2004
Also tried with the conference in the box and received the same error:

`
Failed to start API Mock endpoint Error: Invalid config for UNIT_RESOLVER {"dataSourceName":"CommentTable","typeName":"Query","fieldName":"listCommentsByTalkId","requestMappingTemplateLocation":"resolvers/Query.listCommentsByTalkId.req.vtl","responseMappingTemplateLocation":"resolvers/Query.listCommentsByTalkId.res.vtl","kin

[2019-08-14 17:41] ilyador opened #2048 "GraphQL @connection input for array of types"
With the following schema, what does the `createSet` mutation expects for input? Is it the entire list of `Picture` objects?
[code]

[2019-08-14 17:45] attilah commented on #2046
@RuarriS could you please give some details about what amplify resources do you have in your project? what version of the CLI are you using? what is the output of ```amplify codegen add```, did it succeed?

The expected behavior is that after you issue the ```amplify codegen add``` command, the ```amplify codegen``` command will generate the code based on the configured language.

[2019-08-14 17:54] RuarriS commented on #2046
Thanks for responding @attilah

- Also using API and Auth.
- Cli version 1.11.0.
- Output of `amplify codegen add` is "Codegen support only one GraphQL API per project"

[2019-08-14 18:08] attilah commented on #2046
@RuarriS this "Codegen support only one GraphQL API per project" is weird, is that possible to share your workspace without the confidential data or code since I cannot repro this problem.

Repro steps would also be useful.

[2019-08-14 18:11] MaximumCrash opened #2049 "Mock API - Relational Database error with UNIT_RESOLVER"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When running ```amplify mock api``` on a project that has added a relational database as a datasource using ```amplify api add-graphql-datasource``` the error below is thrown and the api does not build.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a base p

[2019-08-14 19:33] malcomm commented on #1995
@SwaySway @UnleashedMind @kaustavghosh06 - any updates on this? This is blocking me from deploying to production. Thanks!

[2019-08-14 19:36] blazinaj opened #2051 "[DynamoDBEnableServerSideEncryption] do not exist in the template"
**Describe the bug**
Getting `[DynamoDBEnableServerSideEncryption] do not exist in the template` error when I try to make any backend changes. I am using amplify cli version 1.11.0 and did the suggested fix from [Amplify Console #35](https://github.com/aws-amplify/amplify-console/issues/35). Still cannot push any backend resources..

**To Reproduce**
Steps to reproduce the behavior:
1. Try to do a

[2019-08-14 19:36] blazinaj opened #2057 "[DynamoDBEnableServerSideEncryption] do not exist in the template"
**Describe the bug**
Getting `[DynamoDBEnableServerSideEncryption] do not exist in the template` error when I try to make any backend changes. I am using amplify cli version 1.11.0 and did the suggested fix from [Amplify Console aws-amplify/amplify-cli#35](https://github.com/aws-amplify/amplify-console/issues/35). Still cannot push any backend resources..

**To Reproduce**
Steps to reproduce the b

[2019-08-14 19:42] nikevp commented on #2047
-v 1.11.0

[2019-08-14 19:55] RuarriS commented on #2046
@attilah I'm not quite sure what happened, but I basically rebuilt the backend services and everything is working.  Thanks for your help anyway.

[2019-08-14 20:28] attilah commented on #2012
Fixed with [#2052](https://github.com/aws-amplify/amplify-cli/pull/2052)

[2019-08-14 20:28] #2012 closed

[2019-08-14 21:47] RossWilliams commented on #2048
With one to many relationships the foreign key normally resides on the “many” side, in your case Picture, so the Picture object will have a setId property, and Set would not have a reference to Picture.

You cannot use the createSet mutation to update more than 1 row at a time without writing custom resolvers, as batch mutations are not yet supported in Amplify. This means you would need to create

[2019-08-14 22:21] coreysalzer-amazon opened #2053 "Predictions - Query Historical Labels"
**Describe the solution you'd like**
For the predictions module, it would be great to be able to query for historical labels generated by the AI Services. For example, if I upload images to S3 and use Textract and Rekognition on the images, then those labels could be inputted into DynamoDB or ElasticSearch for me to query later.

[2019-08-15 03:37] svpdmn commented on #1996
+1

Mac OS: Darwin Kernel Version 18.6.0
npm: 6.9.0
node: v10.16.2

[2019-08-15 04:06] tnguyen01 opened #2054 "Mock query hangs with large response from lambda resolver"
**Describe the bug**
When mocking a graphql api with a lambda resolver, a query with large response from lambda resolver will hang. I can't really quantify how large the response needs to be, but I have a simple type with 3-4 string fields and it hangs around 200 objects mark. The example below runs fine up to around 1900 numbers on my system.

**To Reproduce**
1. Add graphql api with this schema

[2019-08-15 06:35] kaustavghosh06 commented on #2051
@blazinaj This happens since the Amplify console is using an older version of the CLI (1.7.0).
In your build scripts you can explicitly install the latest version of the CLI and the Amplify console would then adhere to the latest version of the CLI.
Moving over to the console repo.

[2019-08-15 09:17] vkumarvs opened #2055 "Graphql transformer does not generate query filters for nested type objects"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am trying to test appsync auto generated resolvers and queries for below schema. The problem I am facing, is that the query filter doesn't include filter for nested type ("enterprise" , it entered into dynamo as a Map attribute ).

type TestAuth @model
    @key(fields: ["pk", "sk"]

[2019-08-15 09:50] DanNeish commented on #1986
@SwaySway thanks for the feedback. In your TasksByAssignee example query, how would you then also limit it to a particular assignee (user ID)?

[2019-08-15 10:15] selipso commented on #91
How would deletes cascade with many-to-many relationships? Consider the following schema:

[code]

How would you delete a tag from a document with many tags? I understand that you would delete the TaggedDocument but with the lack of cascades, wouldn't you have to update the document first to remove the tag? How would that update query look like?

[2019-08-15 14:00] attilah commented on #2048
@RossWilliams thanks for answering question to @ylador. I'm closing the issue as the question was answered. @ilyador, Amplify forums are a better place to ask generic questions like this, the community will help there ;-)

[2019-08-15 14:00] #2048 closed

[2019-08-15 14:33] ggriffin commented on #682
@pierremarieB wrote:

We've run into the same on more than one occasion when renaming a resolver.

[2019-08-15 16:48] edlefebvre commented on #1639
@janhesters don't you loose the advantages of GraphQL (get all data in one query) using a single DynamoDB table?

Unless you opt for a REST API?

[2019-08-15 17:25] kaustavghosh06 commented on #1917
@cocacrave You can use the @key directive as follows.
`@key (name: "gsi-name", fields [<partition-key>, <sort-key>]`
This would create a GSI for you  based on the fileds you insert in the partition key and sort key params above. To learn more you can checkout - https://aws-amplify.github.io/docs/cli-toolchain/graphql#key

[2019-08-15 17:27] kaustavghosh06 commented on #1931
@nino-moreton Closing this issue due to lack of requester information. Please comment on this thread if you're still seeing this issue.

[2019-08-15 17:27] #1931 closed

[2019-08-15 17:28] kaustavghosh06 commented on #1896
Closing this issue for now based on @nikhname's response.

[2019-08-15 17:28] #1896 closed

[2019-08-15 17:29] kaustavghosh06 commented on #1769
@clinicalinkgithub Based on @nikhname's response it seems like this is not-reproducble and if you have a user-pool group in your user-pools with the name `SystemAdmin` , your query should work.

[2019-08-15 17:29] #1769 closed

[2019-08-15 17:48] kaustavghosh06 commented on #1954
@cjmartin We've fixed the CLI related issue (#1903) and it's part of the latest CLI release. Transferring this issue to the amplify iOS team to take a look at your  query.

[2019-08-15 17:54] kaustavghosh06 commented on #1434
@achutkiran Closing this issue since it's not reproducable with the latest version of the CLI. Please comment on this thread if you're still seeing this issue.

[2019-08-15 17:54] #1434 closed

[2019-08-15 17:57] janhesters commented on #1639
@edlefebvre AFAIK GraphQL is independent from the design of a NoSQL database. The DB doesn't care whether you choose REST, GraphQL or a message in a bottle to communicate between your backend and your client. Besides that, if you read the design guidelines for DynamoDB you will find that its recommended to come up with all necessary queries FIRST and then design you DB so that all those queries ru

[2019-08-15 18:06] kaustavghosh06 commented on #1137
@bartvollebregt Yes, the `S3DeploymentRootKey` is based on a hash generated based on the file contents of the resolvers and it would change if there are any changes to the schmea or the resolvers.

@dbramwell  We've a PR for this issue in #2003

[2019-08-15 18:09] nathan-quinn commented on #1889
@struct78 @UnleashedMind
Just to add some clarity on the original two issues here:

## Example 1
[code]

## Example 2
Here you are trying to reference a nested field as the groupName in the @auth directive.  This won't work because brand is not resolved when the response mapping VTL that is generated by amplify is executing.

```   #set( $allowedGroups = $item.brand.groups )```

$allowedGroups wil

[2019-08-15 18:21] ilyador commented on #1651
Having the same issue, even with `name` parameter
[code]

[2019-08-15 18:22] SwaySway commented on #1772
@rawadrifai Since you specified a custom mutation in the schema you will need to add a custom subscription as well.
[code]

[2019-08-15 18:23] kaustavghosh06 commented on #2038
@01binary Please comment on this thread if you're still stuck on this issue.

[2019-08-15 18:23] #2038 closed

[2019-08-15 18:24] kaustavghosh06 commented on #2010
@oliverandersencox Please let us know if you're still stuck on this. CLosing this issue due to lack of requestor response.

[2019-08-15 18:24] #2010 closed

[2019-08-15 18:27] #1772 closed

[2019-08-15 18:35] kaustavghosh06 commented on #2011
@lenarmazitov Right now this is not possible, but we're actively working on a feature to make this possible.

[2019-08-15 18:39] blazinaj commented on #2057
In the console, we cannot get around this error. We applied the pre-build command like this and we are still getting the error.

![image](https://user-images.githubusercontent.com/39976117/63117677-22495c00-bf51-11e9-893f-322978d26204.png)

![image](https://user-images.githubusercontent.com/39976117/63117754-49079280-bf51-11e9-83d1-59669ceb4278.png)

[2019-08-15 18:44] kaustavghosh06 commented on #2022
@hoang-innomizetech At this moment the CLI doesn't support mono-repos and multiple apps with one Amplify CLI project.

[2019-08-15 18:45] SwaySway commented on #1986
@DanNeish
Since you created the type taskassignee you can use the TaskAssigneeID, since it's unique to student/task as a filter when listing the assignees.

[2019-08-15 18:53] UnleashedMind commented on #1995
@malcomm
When you said "I had to change the Origin Path "Origins" via the CloudFront Distributions console. This was adjusted to be: /example-site-20190806163113-hostingbucket-prod/example-site"
Why did you have to make that change? what's the original value that the Amplify CLI set?

[2019-08-15 18:59] kaustavghosh06 commented on #2047
@nikevp Can you please check your `amplify/backend/function/<function-name/package.json` and `amplify/backend/function/<function-name/node-modules` to check for the package?

[2019-08-15 19:02] kaustavghosh06 commented on #2053
@coreysalzer-amazon Thanks for the feedback and we're actively working on this use-case!

[2019-08-15 19:03] attilah commented on #2020
@amcbb It I understand correctly the use case you described, one possible solution came to my mind if you could try it, but custom resolvers would be the best for this specific requirement.

[code]

This way you'll not overlap your two different authz rules and perhaps could fulfil your specific use case.
Custom resolvers could also help you since this is a filtering on the already retrieved data,

[2019-08-15 19:07] Einstein42 opened #2058 "amplify existing dynamodb table"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
amplify graphql api/dynamodb

** What AWS Services are you utilizing? **
dynamodb/appsync

** Provide additional details e.g. code snippets **
I've read all the existing open issues and tried repeatedly. I'm new to amplify specifically.

I have an ex

[2019-08-15 19:30] kaustavghosh06 commented on #2055
@vkumarvs You can model your transformer schema like the following:

[code]

And then from your client you can call a query  in this format:

[code]

[2019-08-15 20:02] malcomm commented on #1995
1. What Angular version are you using? 8.2.0

[code]

2. Dev setup: Amplify CLI hosting feature configured for DEV:

[code]

3. Why did you have to make that change? what's the original value that the Amplify CLI set?

It was set to blank. I set it to `/example-site-20190806163113-hostingbucket-prod/example-site` because the S3 bucket deployed the resources using that path. My Angular app is desig

[2019-08-15 20:46] malcomm commented on #1995
@UnleashedMind - oh and the last thing I had to do was make the resources public.

[2019-08-15 21:00] ilyador opened #2059 "Using @key directive sorting doesn't work"
I want to get a certain number of image sets with the top ranking, this is my schema
[code]
I get a generated query called `byRanking`, but it requires to specify the exact ranking, in which case I don't understand what it actually sorts. If I only get items with ranking value of X, there is nothing to sort...
[code]
If I simply do `@key(fields: ["ranking"])` I get the ID field replaced by `rankin

[2019-08-15 21:16] malcomm commented on #1995
@UnleashedMind - Re: https://stackoverflow.com/questions/56662215/mime-type-issue-in-angular

So, when looking to try and solve this myself, I went into S3 and looked at the files in question. Let's take `runtime-es2015.js` for example. I looked at the metadata in S3 and I see this:

<img width="981" alt="Screen Shot 2019-08-15 at 2 13 39 PM" src="https://user-images.githubusercontent.com/5497353/

[2019-08-15 21:16] UnleashedMind commented on #1995
So you used the hosting feature with the DEV setup, which does not include a CloudFront.
Then you configured your own CloudFront and linked to the S3 hosting bucket?

[2019-08-15 21:18] UnleashedMind commented on #1995
This might be an Angular issue, I've heard people having issues with Angular version 8+

[2019-08-15 21:20] malcomm commented on #1995
@UnleashedMind - so the first setup is a DEV environment. I was about to add a second environment using:

[code]

for production, but I thought I'd create a very simple Angular project that will act as a homepage. So in this case, I created a brand new project and just added CloudFront + S3 for hosting. Since that didn't work, I did not move forward with adding the env for production.

[2019-08-15 21:22] UnleashedMind commented on #1995
could you try to use a lower version of Angular and see if it works? We've tested version 6.x and it was working.

[2019-08-15 21:59] UnleashedMind commented on #1995
For the 3 point, you can change the hosting configuration locally
run `amplify configure project` and when prompted with the

`Distribution Directory Path`:

 enter: `dist/<your project name>`

Angular used to put the built artifacts directly under the `dist` folder, now it puts everything under a sub-folder named after the project.

Then all the contents will be uploaded to the "root" folder insi

[2019-08-15 22:02] yuth commented on #1996
We have a fix for npm global install. Could you guys try to install the cli using the following command and see if it still fails to install
[code]

[2019-08-15 22:21] kernwig commented on #1996
The @ddb-local-install-script version still fails for me. Log:

[amplify-failure.txt](https://github.com/aws-amplify/amplify-cli/files/3507360/amplify-failure.txt)

[2019-08-15 22:30] yuth commented on #1996
@kernwig it looks like those errors were for optional installations. Could you run `amplify -v` and see whats the version you have installed

[2019-08-15 22:33] kernwig commented on #1996
$ amplify -v
1.12.1-ddb-local-install-script.0

[2019-08-15 22:34] yuth commented on #1996
Looks like the installation was successful. Could you try to run the mock server on an existing project and see if that works as expected.
[code]

[2019-08-15 22:40] kernwig commented on #1996
I don't have a working project. :-/
Not planning to use the new mock feature any time soon, so that doesn't bother me. Just saw my terminal bleeding 🤔 but see now that it was successful otherwise. I've seen gyp have problems installing before. 😢
I guess my quasi-problem is different than the others here, so I'll back out.

[2019-08-15 23:24] malcomm commented on #1995
@UnleashedMind - downgrading to v6.x might be a bit of an issue for me. But the reason I don't think this is an Angular problem is that the only change here.

I just published a new version ... and I can't get the CloudFront or S3 configuration correct to allow access to hit the URL. No matter what I do ... permissions for CloudFront/S3 are confusing and frustrating .........................

[2019-08-15 23:34] UnleashedMind commented on #1995
Did you try what I suggested on my last comment:

1. run `amplify configure project` and when prompted with the
`Distribution Directory Path:`
enter: `dist/<your project name>`
2. run `amplify publish` again

This will make "configuration correct to allow access to hit the URL"

[2019-08-16 00:07] malcomm commented on #1995
@UnleashedMind - as far as I can tell, all that does is create an extra `/<your project name>` directory in the S3 container.

[2019-08-16 00:12] keenode opened #2062 "Failed to start API Mock endpoint max retries hit"
**Describe the bug**
When I run `amplify mock`, after a few seconds the following error is returned:
[code]
and hangs indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to latest amplify cli - 1.12.0
2. Have an existing initialized Amplify project with node modules installed (node 12 in my case).
3. Run `amplify mock` at the root directory.
4. See error

**Expected behavio

[2019-08-16 01:08] #2054 closed

[2019-08-16 01:31] UnleashedMind commented on #1820
Thanks @mwarger for the clarification
I've reproduced the issue. this appears to be a server side bug, we will update you on its fix.

[2019-08-16 02:30] wellmmer commented on #223
We are on AWS Amplify v1.12.0 and still remains the same error! =(

[2019-08-16 02:33] wellmmer commented on #468
We are on AWS Amplify v1.12.0 and still remains the same error! But anyway I really went to the deepest of unknown to find you guys... LOL. Finally, I could complete my REST CRUD API using Lambda and DynamoDB. Thank you so much! =)

[2019-08-16 02:34] wellmmer commented on #468
Ohhh... I just followed your tips @pmbanugo and @sky-c ! Tks

[2019-08-16 03:58] tnguyen01 opened #2063 "Enable debugging when mocking lambda with graphql api"
I can debug/hit break points in lambda functions being invoked/mocked directly but not when running graphql api & lambda locally using `amplify mock`. Looks like it's because the child process to invoke lambdas is forked with empty `execArgv` - https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-util-mock/src/utils/lambda/invoke.ts#L9

Was this done intentionally to avoid some

[2019-08-16 04:58] rakannimer commented on #2062
Hey @keenode

I think this is related to this issue : https://github.com/aws-amplify/amplify-cli/issues/2037

Can you try installing lsof ?

Should be fixed with : https://github.com/aws-amplify/amplify-cli/pull/2061

[2019-08-16 06:08] malcomm commented on #1995
OK, so after a lot of pain ... I think I finally figured it out. @UnleashedMind - you were correct, it was an angular issue all the way. The issue: `angular.json` had the `outputPath` set to `dist/example-site`:

AFAIK, this is the default for Angular. Here is the config with some more context:

[code]

Changing that to:
[code]

Made all the problems go away. I really can't believe it took this lo

[2019-08-16 09:55] vkumarvs commented on #2055
Thank you @kaustavghosh06 for reply but I don't want to use two tables for this. My data will remain in single table.
More importantly , it seems amplify doesn't autogenerate nested type filtering, nested types makes my single table schema look clean but I can't query those fields. It sound to me a feature request.

[2019-08-16 10:08] RossWilliams commented on #2059
The fields array uses the second item as the sort key, and the first item as the hash key. Try replacing ```fields: ["ranking"]``` with ```fields: ["id","ranking"]```

[2019-08-16 10:37] idanlo opened #2064 "amplify mock api - stuck while creating tables locally"
**Describe the bug**
I am attempting to run the new `amplify mock api` which allows local mocking and testing for AppSync, this then outputs `GraphQL schema compiled successfully.` and continues to create the DynamoDB tables locally, then I see each table being created and after creating 10 tables, at the 11th table it is just stuck without any output, I left it running for about an hour and nothi

[2019-08-16 10:51] PrasoonDavid commented on #1996
npm install -g @aws-amplify/cli@ddb-local-install-script isnt working
view the log error
[logerr.txt](https://github.com/aws-amplify/amplify-cli/files/3509223/logerr.txt)

[2019-08-16 10:59] idanlo opened #2065 "using @auth with nested objects"
** Which Category is your question related to? **
AppSync, GraphQL Transform

** What AWS Services are you utilizing? **
AppSync, Cognito, DynamoDB

** Provide additional details e.g. code snippets **
In my app I need a way to use the @auth directive for models which are a few layers below the actual users, example scenario - there is a Business model, which has an array of Employees (also a model

[2019-08-16 11:20] attilah commented on #2057
@blazinaj I'd suggest that use the same version of the CLI what you've in the console. To try to solve the problem, remove the customization from the console and install 1.7.0 of CLI locally.

I think that your ```parameters``` file was touched by a newer version of the CLI or that parameter was added manually there.

The ```DynamoDBEnableServerSideEncryption``` parameter was added by [this](https

[2019-08-16 11:42] attilah commented on #2058
@Einstein42 Amplify CLI provides a  rich set of scaffolding functionality to simplify customers' work. Amplify is a "convention over configuration" tool, which cannot be aimed easily for a BYOD (bring your own database) scenario, but I think Amplify CLI could still help you.

The solution I've in my mind is using the CLI to create your API and then author your GraphQL schema as you want to shape i

[2019-08-16 11:48] ilyador commented on #2059
@RossWilliams When I do that, it stops auto-generating the ID and expects me to add it in the input. Any idea why?

[2019-08-16 13:20] phil-andrews commented on #1220
This is the one big drawback I've been seeing when trying to run AppSync as a multi-client backend. There's no seamless way to modify in one client and then pull it into another. Seems to be a no-brainer that if the source API has changed that any client configured to it should be able to pull in the changes. Almost identical to git but without having to go through the process of setting up and ma

[2019-08-16 13:59] Einstein42 commented on #2058
I've read through all the tutorials and even attempted them. Forgive my ignorance but I'm just not seeing how the Resolvers know which database they are talking to? When I amplify add api > graphql, I see the build directory and all that, I've tried modifying the cloudformation templates but they are just overwritten on push. Where is it referencing the DB and how can I override that like I can on

[2019-08-16 14:04] attilah commented on #2058
When you create an AppSync DataSource it has a [DynamoDBConfig](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-appsync-datasource-dynamodbconfig.html) property where you can provide the name - not the arn - of the DynamoDB table you already have.

[2019-08-16 15:03] willrust commented on #1252
Link above is dead. Found the info here:
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

[2019-08-16 16:11] Einstein42 commented on #2058
@attilah correct, but I meant from an amplify perspective. Again forgive my ignorance. I know AppSync fairly well, just not the amplify cli.

amplify add api > graphql > do you have a schema, N > it creates all the config/artifacts in the amplify/backend/api/<name>/

I look through all the files in that folder from schema.graphql to all the build files. Where does it know that

type MyType @model

[2019-08-16 16:52] idanlo commented on #1878
@ajhool an array is definitely a standard thing that many many people use, this should absolutely be a feature that should work out of the box

[2019-08-16 16:58] UnleashedMind commented on #1995
I'm glad your issue is resolved.

[2019-08-16 16:58] #1995 closed

[2019-08-16 17:47] pspanchal opened #2067 "Single DynamoDB table"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
DynamoDB recommends using a single DynamoDB table. However, the @model in AppSyc GraphQL transform creates multiple DynamoDB tables. This is against best practice and will cause slower response times.

**Describe the solution you'd l

[2019-08-16 17:48] attilah commented on #2058
If you opt-in for custom you cannot use any of the CLI supplied GraphQL directives for your use case. However you can still have CLI to do the deployment and management of all the resources you are creating by hand for your API.

When you've no ```@model``` or anything in the templates you'll only have the resources you add and the AppSync API itself.

[2019-08-16 17:57] keenode commented on #2062
@rakannimer Unfortunately, I've seen those other issues and have lsof installed already. :(
Still getting the error. Any ideas?

Thanks for the help so far!

[2019-08-16 18:09] amcbb commented on #2020
@attilah thank you for the reply and suggestion.  I ended up trying two separate ownerfields as you suggested and created duplicate UserTypeA fields in MyModel rather than relying on the @connection to retrieve the data since it still returned null.  I put the duplicate UserTypeA fields into a separate type (non @model so it could not be queried).  This seems to produce the desired effect but is m

[2019-08-16 18:09] #2020 closed

[2019-08-16 18:19] pspanchal opened #2069 "@auth must allow authentication against custom claims in Cognito User Pool"
**Is your feature request related to a problem? Please describe.**
I need to authorize a custom claim (example tenantID for multi-tenant app) in addition to group ownership in @auth directive.

**Describe the solution you'd like**
Please allow custom claim to be validated against a field in the dynamoDB table for @auth directive. This is very similar to @group ownership directive.

**Describe alte

[2019-08-16 20:00] kaustavghosh06 commented on #2067
@pspanchal This question has been asked a couple of times out here - please read through this response to know more about our reasoning as to why we wanted to ahead with the multiple tables design - https://github.com/aws-amplify/amplify-cli/issues/431#issuecomment-444303514
We already have a geature request for having a single DDB option as well. Closing this in favor of that request.

[2019-08-16 20:00] #2067 closed

[2019-08-16 20:02] kaustavghosh06 commented on #2064
@idanlo Could you share your annotated schema? Would help us debug this issue further.

[2019-08-16 21:12] AmanJaveriKadri opened #2071 "RFC - Extending @connection to Work With @key"
# Extending @connection to Work With @key 

The existing directive that is used to create relationships between
objects is the @connection directive:

    directive @connection(name:      String,
                          keyField:  String,
                          sortField: String) on FIELD_DEFINITION

Although useful to create connections that fit common use-cases, the
@connection directive la

[2019-08-16 21:32] RossWilliams commented on #2059
When you specify a key with a name, you are creating a secondary index. In your screenshot you are scanning the primary index, which will not be sorted. Your other bullet pointS suggest you had modified the primary index, and have not specified a name, so I’m confused on your issues.

It sounds like you want a globally sorted index. To do this you need three things

1. A single partition key for a

[2019-08-16 21:37] moransk8 opened #2072 "'amplify init' AWS access credentials can not be found"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Im using a headless script with default profile to run the init command in Jenkins with codebuild plugin, but I get the error:
[code]
I use the headless script from https://github.com/aws-amplify/amplify-cli/blob/multienv/packages/amplify-cli/sample-headless-scripts/headless_init_new

[2019-08-16 21:45] blazinaj commented on #2057
Thank you for the response. Yes we are using a newer version of the CLI (1.11 || 1.12).

This is causing all sorts of havoc in our development process (we run 5 envs concurrently with 3 developers), and we do not wish to roll back to the older version of the CLI. We are already utilizing the new mocking features.

Is there a bug report already made somewhere that I can follow for this?

[2019-08-16 22:09] ilyador commented on #2059
@RossWilliams I thought the Amplify CLI is supposed to take care of building the DB.

My goal is simple:
This is the type
[code]
I need to be able to sort it by rating, to get highest/lowest ranked sets
and to have an ID for the `@connection` to work.

Is it possible to achieve just by using the CLI and autogenerated code,
or do I have to manage the DB and the resolvers myself?

[2019-08-16 22:14] Einstein42 commented on #2058
**How** do I 'opt-in'. Just modify the cft? It crashed when I tried to not have anything in the schema.

[2019-08-16 22:30] kaustavghosh06 commented on #2072
Can you make sure that you have your AWS Config and Creds set in `~/.aws/config` and `~/.aws/credentials` files in your EC2 instance?

[2019-08-17 00:09] rheinardkorf commented on #2071
These are some really interesting challenges and the proposed solution makes a lot of sense.

One thing that still concerns me are the adjacency list patterns that are in the DynamoDB Best Practices guides. I myself have enjoyed this pattern and have seen more people starting to adopt this pattern after seeing Rick Houlihan’s excellent re:invent talks.

It would be great to see Amplify examples th

[2019-08-17 00:39] undefobj commented on #1766
Hello everyone - We have a version of this functionality which has been published to the following tag:

[code]

In this implementation, when a model is protected using the owner auth strategy, each subscription request will require that the user is passed as an argument to the subscription request. If the user field is not passed, the subscription connection will fail. In the case where it is pas

[2019-08-17 00:39] undefobj commented on #1043
Hello everyone - We have a version of this functionality which has been published to the following tag:

[code]

In this implementation, when a model is protected using the owner auth strategy, each subscription request will require that the user is passed as an argument to the subscription request. If the user field is not passed, the subscription connection will fail. In the case where it is pas

[2019-08-17 06:45] janhesters commented on #2071
I also really like the proposed changes. And I agree 100% with @rheinardkorf that the documetation should point out that using multiple `@model` or one or more `@connection` is a DynamoDB design smell. It would also be cool to have some examples on how to write single table schemas.

I think `@connection` can really shine when you can decide to deploy to SQL databases with Amplify.

[2019-08-17 13:07] #2011 closed

[2019-08-17 13:13] lenarmazitov opened #2073 "ALL attributes included in index created by @key directive."
Is it possible to choose attributes which will be included in index created by @key directive?

[2019-08-17 14:01] RossWilliams commented on #2059
You are right that the description of the goal is simple. Unfortunately your use case requires disclosing more detail on amplify transforms and dynamodb's capabilities.

The CLI and @key directive can handle your use case. Be aware dynamodb has unique properties. The database is a key/value store with sub key sorting. If you want a sorting behaviour, you must do it under a single hash key. The pri

[2019-08-17 14:17] RossWilliams commented on #2069
Owner permissions currently allow specifying an arbitrary claim by using the 'identityField' parameter.
If you want to process a claim that holds an array of strings, a current option is to add more items to the 'cognito:groups' claim using a Cognito Pre-Token Lambda. The documentation shows group modifications [here](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-t

[2019-08-17 15:12] RossWilliams commented on #2071
The single table many-to-many mapping jumped out at me because you have a @connection on a type that is not explicitly marked as a model. Users are going to wonder why they can't add connections to Map types in some cases but can in others.
An alternative to specifying a model parameter on the connection is to add an 'overload' parameter on the model directive and supply the name of the primary mo

[2019-08-17 15:31] RossWilliams commented on #2065
You can go the other way, allow employees access to the Employee model they own (as you already have), and then be able to navigate to the Business model. You would need to close off direct queries to the Business model with @model(queries: null). You can create an 'Employees' cognito group to give read-only access to the business model, just make sure all employees are in this group.

The result

[2019-08-17 15:38] idanlo commented on #2065
@RossWilliams I had this idea but didn't know if it was good practice or not because my data goes a few layers deep and I have not described it entirely here so that the question will be understandable.
Thanks, I'll probably do it this way until the @auth directive is improved

[2019-08-17 16:01] clinicalinkgithub opened #2074 "The pipeline req.vtl resolver cannot be overriden with custom req.vtl"
The pipeline ***.req.vtl resolver cannot be overriden with custom ***.req.vtl when using the @function directive to add lamba resolvers.

see screenshot.

![lambaResolverError](https://user-images.githubusercontent.com/40474055/63214481-b4369d80-c0e6-11e9-8a23-d42eb79cea3a.jpg)

[2019-08-17 16:25] clinicalinkgithub commented on #2074
Also, any pipleline *.req.vtl is  not copied to the /build/pipeline directory at all.
 ==> the compile does not copy any custom pipeline *.reql.vtl template in to the /build/pipeline

![anyPipeplineFunction](https://user-images.githubusercontent.com/40474055/63214734-26f54800-c0ea-11e9-9b33-2064c9deb39b.jpg)

[2019-08-17 16:30] idanlo commented on #2064
@Lasim just wondering, how does java have anything to do with this? The Amplify CLI is written in JavaScript

[2019-08-17 16:43] rakannimer commented on #2064
@idanlo the [dynamodb simulator](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.DownloadingAndRunning.html) that the cli uses to mock the api is a JAR file.

The amplify cli uses java to start a local instance of dynamodb using the JAR file. [Relevant code](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-dynamodb-simulator/index.js#L124).

[2019-08-17 17:14] n3b opened #2075 "Unable to remove function that has storage dependency"
**Describe the bug**
Unable to remove function that has a storage dependency

**To Reproduce**
Steps to reproduce the behavior:
1. create function with DynamoDB dependency
2. call `amplify function remove` and select function
3. see error `Resource cannot be removed because it has a dependency on another resource`
4. try to remove DynamoDB `amplify storage remove`
5. see error `Resource cannot be

[2019-08-17 17:19] RossWilliams commented on #2065
You could manually manage storing Employee Id keys on your Business model as an array and use the "ownerField" to enforce rules. But it would be your responsibility to keep these in sync.

To help think about why @auth doesn't by default doesn't cover your case, your Business to Employee relationship as a one to many relationship, so the foreign key sits in the Employee model. An AppSync Resolver

[2019-08-17 17:25] idanlo commented on #2065
If I want to store IDs in an array I need to set up my own custom resolver for a `list_append` method correct? Do you have any resources that show how to do that with AppSync-generated resolvers (for example my updateBusiness auto generated resolver - I don't want to rewrite it but only add the ability to store an array of IDs and push to it)

[2019-08-17 17:35] n3b commented on #2075
My bad, I forgot it has a ref from API

[2019-08-17 17:35] #2075 closed

[2019-08-17 19:33] ilyador commented on #2059
@RossWilliams I think I forgot to mention an important detail: the ranking should be changeable.
The app meant to update rankings all the time.

Is your answer still relevant in that case?
Also, I'm not sure where in the docs does it show how to make this.
I'm guessing it is the multiple fields, but we already tried that.

[2019-08-17 20:34] RossWilliams commented on #2065
You need a custom resolver, You can copy the existing  resolver from the build/ folder and make the modifications you need for the updateExpression. I’d be interested in seeing how you make the template, having a hard time coming up with a clean design in my head except to make a top level mutation just for this task.

[2019-08-17 20:47] RossWilliams commented on #2059
Yes, you can update the ranking when it is a range key in a secondary index. On the documeation page [here](https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js) search for “composite sort key”. When you say”we already tried that” can you send what exactly you tried before? Did you give your key a name so that it would be a secondary index?

The AWS documentation for GSIs includes an ex

[2019-08-17 21:14] mwarger commented on #2071
This looks great.  It will really flesh out the majority of remaining use-cases that have been in the issues.  The only other alternative in my view would be to use RDS instead of Dynamo for a majority of these since the foundation of so much of this is relational.  As I have previously mentioned and others have noted, it does seem against DynamoDB best practices to create so many separate tables

[2019-08-17 21:42] undefobj commented on #2071
@janhesters I'd want to clarify something here, while we will point out how you can do a single table design with @model using multiple and having more than one table is not a design smell. We are well aware that the DynamoDB documentation, along with an advanced session at re:Invent, talks about this being an optimal design when you are at scale but it does not mean that every app needs it. Most

[2019-08-17 21:46] undefobj commented on #2071
@RossWilliams This is actually what the plan is. Default will not require you to specify the entity mapping *unless* you decide to do a single table design, which should be for advanced customers who have the need based on knowledge of their data access patterns. @AmanJaveriKadri has this in his design.

[2019-08-17 21:53] undefobj commented on #2071
We do support import from RDS today: https://aws-amplify.github.io/docs/cli-toolchain/graphql#relational-databases

That being said why does the implementation matter? If the above is implemented, is scalable and cost effective with DynamoDB, other than importing existing DBs why would the implementation be important?

[2019-08-17 23:22] mwarger commented on #2071
It's not, really.  I was only speaking to what I ended up reading when going to learn about DynamoDB in general.  I see no issues with what's being done and definitely don't have an app with any scale or data access needs to warrant a single table.

Thanks for the clarification regarding RDS.

[2019-08-18 00:09] rheinardkorf commented on #2071
From my understanding, Amplify is getting a more modular layer. If that is the case, perhaps 3rd parties can create alternate transformer plugins to meet the other needs. E.g. an adjacency list transformer, an RDS transformer etc.

I don’t think this core transformer will be able to meet the other needs without becoming too convoluted and confusing.

I agree with @undefobj that the purpose of Ampl

[2019-08-18 00:42] ilyador commented on #2059
@RossWilliams thanx, I tried `@key(fields: ["id", "ranking"])` but if I understand correctly I need to do `@key(fields: ["id", "ranking", "createdAt"])`, right?

[2019-08-18 01:34] ajhool commented on #1043
It is great to see that subscriptions are now covered by auth.

Will future features follow this same trajectory of releasing the feature and then adding security a year later? The @connection directive was also released before it was protected by auth as was/is @searchable and those were also not documented.

Security is a weakest-link problem so the design strategy is more important than the ind

[2019-08-18 02:04] oste opened #2076 "Circular dependency between resources: [functionauthPreSignup, apiapi, authauth, UpdateRolesWithIDPFunctionOutputs, UpdateRolesWithIDPFunction]"
**Describe the bug**

Seeing the following error after updating Auth PreSignup Trigger function to have API access permission:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. amplify init
2. amplify add auth - add a preSignup trigger function
3. amplify add api
4. amplify api add-graphql-datasource - add RDS resource to the API
5. amplify push

This is where it goes bad
6. amplify fu

[2019-08-18 03:29] houmark commented on #800
@SwaySway These changes seem to have broken sorting for a pretty standard search query for us. We had the below query running for more than a month with no issues, but updating various AWS libraries recently, the query broke.

My query is pretty simple:

[code]

`createdAt` is a required `AWSDateTime` but having that field as the sort field I get this error:

[code]

Changing `createdAt` to anothe

[2019-08-18 04:04] rarira commented on #300
This issue must be re-opened, because enum type is still missing from searchable filter on v1.12.0

[2019-08-18 04:07] 01binary commented on #2038
Sorry to create a dead-on-arrival issue, but Amplify is impossible to get working for mobile development and I am giving up on it in that context.

[2019-08-18 08:08] RossWilliams commented on #2071
@undefobj is the model overloading design from @AmanJaveriKadri public? Note that I’m suggesting an alternative to specifying the model on the @connection directive, and instead putting it on the model itself.

[2019-08-18 08:25] idanlo commented on #2065
@RossWilliams I actually had a question about that too - I don't want to mess with the VTL language too much so I'll probably create my own top level custom resolver too, but this creates a problem where if I write a mutation that also does an action on the Business but also inserts the user id into the array of IDs which one will happen first? I need the inserting ID to the array to be first, so

[2019-08-18 08:29] RossWilliams commented on #2059
No. You need to give your key a name so that it is a secondary index. You also need to change the first field item to something that does not change, try using “__typename”. Something like  @key(name: "ByRanking", fields: ["__typename”, “ranking", “createdAt”], queryField: "byRanking")

[2019-08-18 09:01] RossWilliams commented on #2065
I’m not understanding your needs or plan. It sounds like you want to use a pipeline resolver, but the amplify cli does not support these yet. You will need to use AppSync directly, or write CloudFormation templates yourself.

[2019-08-18 12:51] Lasim commented on #955
unfortunately I have the same problem.
I have created a new VueJS project with GraphQL APi.

Amplify Version: `1.12.0`

[code]

[2019-08-18 12:55] TeoTN opened #2077 "Storing connection order"
** Which Category is your question related to? **
GraphQL

** What AWS Services are you utilizing? **
Amplify, AppSync

I'd like to ask for advice, what's the recommended way to store custom order of elements that are in connection? For instance, I have some model `Group` that is in one-to-many relation with `Items` and would like to store the order of items that may be result of drag'n'drop or si

[2019-08-18 13:10] ilyador commented on #2059
I can't push the schema with fields that are no specified in it, like `createdAt`. I get
[code]
Seems like I can't use `createdAt` in key.

[2019-08-18 13:27] ilyador commented on #2059
This was my attempt:
[code]
However something in the DB went wrong:

Resource Name: SetTable (AWS::DynamoDB::Table)
Event Type: create
Reason: One or more parameter values were invalid: Table KeySchema does not have a range key, which is required when specifying a LocalSecondaryIndex (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ValidationException; Request ID: XXXXX)

[2019-08-18 14:16] RossWilliams commented on #2059
Apologies about suggesting __typename, this isn't possible through amplify. You need to use another constant value on your type. You could try "type", and set this value to be the same for all items.

If you change your hash key to something other than 'id', your database range key error will go away. This is due to amplify creating an LSI rather than a GSI when your hash key on the main table ind

[2019-08-18 15:03] pspanchal commented on #2069
Thanks @RossWilliams. Is there documentation for the identityField parameter?

At a quick glance, the Pre-Token feels like a band-aid to the problem and can only go so far.

I am a bit unclear how to use the patch file and fork that you have pointed out. Any reason why it has not been incorporated in the main branch. Are there other design considerations

[2019-08-18 15:35] RossWilliams commented on #2077
Not sure why you specified a double linked list vs. single. Is there more information about your domain that requires this?

I'm not understanding this limitation, Group holds the order on its own. The items are not aware of their sort, so I don't see the syncing issue.

Is there more information about the maximum items within a group? Could you limit items to < 100-200 per group? Are your items s

[2019-08-18 15:43] ilyador commented on #2059
@RossWilliams I have 2 problems:
- Since I have to use `createdAt`, I need to manually set it, is there a way to avoid it?
- I need to use `setID` for the query which is basically the opposite of what I need.
[code]
Gives me `Expression block '$[query]' requires an expression`