[2020-10-11 10:38] Ricardo1980 opened #5557 "CLI is stuck and not working later when I add a REST api with a lambda function."
**Describe the bug**
My project uses AppSync and other services (pinpoint, aurora, cognito....)
Everything works fine.
I added a REST api with a lambda function (I wanted to generate a small website to validate some tokens sent to emails).
"amplify api add"
I add the new (the second one) api. With a lambda function. No API restrictions.
When I execute "amplify push", it seems the process works, bu

[2020-10-11 11:12] #5174 closed

[2020-10-11 14:09] sany2k8 commented on #664
For my case it doesn't work even after IP provided, still showing below message both for ES and Kibana UI,

`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "*"
      },
      "Action": "es:*",
      "Resource": "arn:aws:es:eu-west-1:54545454454545:domain/sanytest/*",
      "Condition": {
        "IpAddress": {
          "aws:SourceI

[2020-10-11 14:26] bart commented on #5556
All right, looks like I found a solution. Super weird and tricky but seems to work:

[code]

This makes all fields public and private accessible except email field. Hope it helps!

[2020-10-11 14:26] #5556 closed

[2020-10-11 14:28] bart commented on #4370
Just want to let you know that I found a solution in #5556

[2020-10-11 20:43] sacrampton commented on #5368
Just updating this in case anyone else is having this problem.

When you use the codegen option amplify generates a hidden file called  .graphqlconfig.yml in the root of your project. This file is what is causing the issues identified here. Before you push make sure you delete this file and the push works successfully.

[2020-10-12 00:30] hisham commented on #4916
@djsmedes did you try this - did things work for you?

[2020-10-12 00:35] duncangroenewald opened #5558 "GraphQL schema changes results in error: 'Attempting to mutate more than 1 global secondary index at the same time...'"
**Describe the bug**
When making schema changes to graphql I keep getting the following error:

[code]
When that happens I have to basically blow away the entire schema by pushing a single table and once that is done replace the schema with the modified original and push all over again.

Is this something broken or am I doing something wrong?  Is there any workaround for this and this is a very ti

[2020-10-12 01:51] ammarkarachi commented on #5550
Can you reiterate what steps you followed?

[2020-10-12 01:54] #5550 closed

[2020-10-12 02:03] ammarkarachi commented on #5553
It could be a possible issue with our mock functions feature. Does `Amplify mock function <functionNAme>`not return errors?

[2020-10-12 02:43] varmab commented on #5483
Super.. this worked for me. I am using CLI 4.29.6

![image](https://user-images.githubusercontent.com/4167060/95699673-c2d50200-0c62-11eb-80c0-625b087a1999.png)

[2020-10-12 02:59] r9software commented on #3812
So the problem in my case it was I stoped the process in the middle causing a crash in amplify
I deleted everything inside of
/home/whatever/.nvm/versions/node/v12.18.4/lib/node_modules/@aws-amplify/
and reinstalled amplify, that worked

[2020-10-12 04:27] chris7716 commented on #2552
Any update?

[2020-10-12 05:24] waynebrantley opened #5559 "init failed adding an environment"
**Describe the bug**
Amplify init of existing project or amplify add env both fail.

 Successfully created initial AWS cloud resources for deployments.
...several CREATE_COMPLETE lines followed by...
✔ Initialized provider successfully.
✖ There was an error initializing your environment.
init failed
Error: Found a punctuator character '}' when expecting a quoteless string (check your syntax) at li

[2020-10-12 08:23] PeteDuncanson commented on #5553
No. It will just hangs. Apparently the mocking for functions spins up the function in another thread/process and the errors get swallowed. This makings doing any development locally impossible unless you like doing binary chop debugging while trying to find a typo...the only way I found to actually get some output/feedback was to deploy it to the cloud as at least then it will tell you what is wro

[2020-10-12 08:25] PeteDuncanson commented on #5552
I have, trouble is I was trying to do a data import at the time (via a function see #5553) so needed to have the schema in the cloud up to date as I found issues with it. A 7-10 minute push time is typical which means 6 changes an hour max :(

[2020-10-12 11:05] idanlo opened #5884 "DataStore - multiple errors when generating models and running queries for the first time"
**Describe the bug**
I have been using Appsync for some time and I tried to set up datastore today, I updated my API using the CLI and then ran the `amplify codegen models` command, which generated my models in JS. after running my app with a simple query for one of my models - it returned null (although there is data and that query should have returned a result), I got this error -
[code]
I think

[2020-10-12 11:44] frankclaassen commented on #5469
Any update on this breaking issue? This is causing a number of my queries to return null items when data does exist

[2020-10-12 11:48] frankclaassen commented on #5469
Update to 4.29.6 and now queries that used to work are also failing to return data...... :(

[2020-10-12 11:50] frankclaassen commented on #5477
Any updates?

[2020-10-12 11:51] frankclaassen commented on #5437
Any updates?

[2020-10-12 13:46] shanecav opened #5560 "Incorrect TypeScript types for generated one-to-many models and DataStore SubscriptionMessage"
**Describe the bug**
The TypeScript types generated by `amplify codegen models` for a schema with one-to-many models don't seem to be correct.

**CodeSandbox Example**

https://codesandbox.io/s/amplify-datastore-type-errors-6fwwo?file=/src/App.tsx

1. Saving a new `Post` (App.tsx line 100) doesn't work as expected when passing a `blogID` (maybe this is by design, but it was surprising to me)
2. At

[2020-10-12 14:29] hinddeep opened #5561 "Unable to install amplify cli on macOS BigSur Beta"
[error2.txt](https://github.com/aws-amplify/amplify-cli/files/5365607/error2.txt)

[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I'm unable to install amplify cli on macOS BigSur Beta 9

**Amplify CLI Version**
NA

**To Reproduce**
Install amplify CLI using the following command:
[code]

**Expected behavior**
Amplify CLI should

[2020-10-12 14:46] waynebrantley commented on #5559
Using source control changes I was able to determine this came from function-parameters.json was missing the number beside the 'version' for the layer.

Perhaps a good change would be to name the file with the issue when showing the error?

[2020-10-12 15:08] waynebrantley opened #5562 "layers not working correctly with enviornments"
**Describe the bug**
Let's say - you have a lambda layer in an environment - say 'dev' and it is on version 10.
You then create a new environment 'staging' and push to it.
The new environment will be on version 1.
The cloud formation templates for the lambdas that use layers will still be pointing to version 10 in dev environment!
[code]
**Amplify CLI Version**
4.29.6

**To Reproduce**
Create a ne

[2020-10-12 15:35] ammarkarachi commented on #5555
Hi @duncangroenewald, we do not support any data migration or data entry scripts in Amplify CLI. Your approach would defer on what type of data is it you are trying to load and from where you are try to load it and what's its destination

[2020-10-12 15:35] #5555 closed

[2020-10-12 16:31] jonathanbiard commented on #5520
This is **not** fixed in `4.29.6`. I had to revert back to `4.29.2` in order to be able to run `amplify env` commands again.

[code]

I'm not sure what Mobile Hub migrated resources are but our project is for the web and not for mobile development so we migrated no such thing.

[2020-10-12 16:37] yuth commented on #5561
@hinddeep do you have NVM or some other node version managers installed on your computer?

[2020-10-12 16:37] pbirsinger commented on #4144
+1, this is blocking us from onboarding new developers .. no clue what the issue is

[2020-10-12 16:46] yuth commented on #5558
@duncangroenewald This is an known limitation of Cloudformation. This happens when either you're chainging the name of the `@key` or adding and removing `@key` directive on the same table.

We are actively working on handling this automatically but it will take some time for us to get this fix in.

In the mean time the suggested workaround is to do phased deployment where the you can create an new

[2020-10-12 16:49] yuth commented on #5559
@waynebrantley thank you for narrowing down the problem. Would it be possible for you to share `function-parameter.json` where the layer version was missing.

It would be great if you could share the the commands you ran which caused the `function-paramter.json` to get corrupted.

[2020-10-12 16:56] waynebrantley commented on #5559
[code]
My thought is if you at least listed the filename with the issue, this would be easier to resolve.
It is possible that manual modification may have messed it up at some point....hard to know because does not show up unless changing/init-ing an environment.

[2020-10-12 16:56] waynebrantley commented on #5559
Sorry in the above the '9' was just not there.

[2020-10-12 17:06] mbecker commented on #5554
Same for me!

[2020-10-12 17:30] yuth commented on #4144
We may not have all the information needed to tear down the env and I have added this in our backlog to investigate and and fix this.

In the mean time a workaround to fix this might be to update `<project-root>/amplify/team-provider-info.json` and remove the key with the env name. You will also have to go and delete the stack  created for this env and delete the bucket itself using the console.

[2020-10-12 17:38] pbirsinger commented on #4144
Fixed it by downgrading amplify cli to `@aws-amplify/cli@4.21.4`

[2020-10-12 17:41] yuth commented on #4144
@pbirsinger could you share the stack trace/error that you get with latest version of the CLI, so I can narrow down the issue

[2020-10-12 18:42] yuth commented on #5560
@shanecav , Amplify Data Store works with higher level object rather than the fields that are connecting these models. For that reason the `blogID` field is not exposed in the generated model and it is recommended to use `blog` object instead.

For instance you would  be doing
[code]

cc @manueliglesias @iartemiev

[2020-10-12 18:57] hinddeep commented on #5561
No, I've not installed any node version manager on my system.

[2020-10-12 19:13] yuth commented on #5561
Thank you, I could not get this installation to fail beta version of BigSur. From the error log file it looks like npm cache issue. Could using temp cache using the following command and see if `npm install -g @aws-amplify/cli --cache /tmp/empty-cache` and see if the installation works

[2020-10-12 19:17] SwaySway commented on #5382
Closing this issue in favor of #5479. Please follow that issue for updates.

[2020-10-12 19:17] #5382 closed

[2020-10-12 19:18] SwaySway commented on #5562
Closing this issue in favor of #5479. Please follow that issue for updates.

[2020-10-12 19:18] #5562 closed

[2020-10-12 19:22] waynebrantley commented on #5479
@davekiss Agree with you - this is a bug.   @jhockett - the env name is **not** replaced with the current environment when you execute `amplify push`

[2020-10-12 19:35] hinddeep commented on #5561
Oh wow! That worked like a charm! Thank you so much for providing the fix.

[2020-10-12 19:35] #5561 closed

[2020-10-12 19:42] seang96 opened #5563 "API Auth with Custom Groups"
**Describe the bug**
Custom groups lack the AuthRolePolicy generated in the API stack preventing these authed users from accessing what regular authed users can access. For example, Admin group can no longer perform subscriptions since their IAM role is different and lacks the AuthRolePolicy.

**Amplify CLI Version**
4.29.4

**To Reproduce**
Create a project with API AppSync with auth support with

[2020-10-12 19:45] renebrandel commented on #3977
@Alk3m1st - this is only going to support import from within a same account.

[2020-10-12 19:48] yuth commented on #5557
@Ricardo1980 does this happen only when you have notification added?

[2020-10-12 20:33] yuth commented on #5563
@seang96 could you explain what you mean by

How do you assign custom IAM policies for different groups?

[2020-10-12 21:09] ammarkarachi commented on #5485
@Ricardo1980 Sorry for the delay, you will have to add the following in your VTL template
[code]

[2020-10-12 21:13] ammarkarachi commented on #5481
@aedrianescultura you can run `amplify update auth` to update auth settings for the url. You can remove auth and re-add auth

[2020-10-12 21:13] Ricardo1980 commented on #5557
@yuth
I executed all the steps again but not "amplify notifications add" and I see the same problem.
I also tried removing "amplify notifications add" and "amplify analytics add", and again, still same issue.
(after 10 or 15 min with the spinner, I stopped the process using Command+C)

Here you have a video:
https://www.dropbox.com/s/ou4crh16bsf27ir/bug3.mov?dl=0

I did it in an empty project, usi

[2020-10-12 21:37] Ricardo1980 commented on #5485
@ammarkarachi The problem is, there is no template.

Including this:
saveVisit(userId: ID!): Boolean! @function(name: "saveVisit-${env}")
in my schema.graphql file, does not require VTL template. At least, in that specific case.

I saw a tweet saying it is not possible in this scenario.
https://twitter.com/bensie/status/1293981141645635593
Can you conform that?
If that is the case: what do you rec

[2020-10-12 21:41] #5480 closed

[2020-10-12 21:53] ammarkarachi commented on #5509
Hi @YuK1Game, this looks like `amplify` is owned by another project https://github.com/chafnan/amplify. We are looking into how to address this.

[2020-10-12 22:03] #5526 closed

[2020-10-12 22:07] ammarkarachi commented on #5518
@halfdanrump What response do you get when you run it in the Appsync console?

[2020-10-12 22:12] ammarkarachi commented on #5537
@PatrykMilewski As a way to collect more feedback for our `@searchable` directive, what gaps are you trying to fill that current solution isn't?

[2020-10-12 22:35] ammarkarachi commented on #5478
@anisg would you rather have a command that resets the mock Api server?

[2020-10-12 22:47] yuth commented on #5557
I was able to reproduce this issue, it looks like extract-zip package was updated recently and the method but one of the places where it was called was not updated. I am going to have an PR out soon but this is the change diff

[code]

[2020-10-12 23:08] Ricardo1980 commented on #5557
@yuth Great news! Thanks a lot.

2 questions.

Once that is released, what should I do to fix/restore my project? (perhaps, removing manually the rest api from json files?)
When using the aws console, I see that the gateway was uploaded and working.
<img width="934" alt="Screenshot 2020-10-12 at 23 59 34" src="https://user-images.githubusercontent.com/738681/95797277-03765f00-0ce7-11eb-9ce8-7d92da

[2020-10-12 23:15] yuth commented on #5557
@Ricardo1980 DO you see this error in the original project or is this happening from the cloned projects? I am not 100% sure how we can fix it, but removing the rest API most likely would fix this. The other workaround (__after backing up the project__) might be to change the project type to JS, which does not require REST resources to work. And then switching back to iOS project

[2020-10-12 23:31] DDynamic commented on #3780
@ammarkarachi I am having this issue on 4.29.3. Any update?

[2020-10-12 23:32] DDynamic commented on #3780
@ammarkarachi @yuth I am having this issue on 4.29.3. Any update?

[2020-10-12 23:55] Ricardo1980 commented on #5557
@yuth
In both. Can you see it in the first video.

I will try all those approaches once a new version is released with the fix.

This week maybe?
Thanks.

[2020-10-13 00:03] yuth commented on #5557
We are activley working on the fix and will try to get the release with this fix ASAP.

[2020-10-13 00:19] yuth commented on #5559
I tried initing multiple env with lambda layer and could not reproduce this.  CLI uses object representation in memory and uses `JSON.stringify` before writing things to disk. I am curious if this was because of manual modification of the file. I am going to mark this as enhancement to show the file name when in stacktrace when CLI fails to parse the JSON content

[2020-10-13 00:22] halfdanrump commented on #5518
@ammarkarachi Ah yes, I should have provided that detail as well.

When I run the query from the AppSync console it triggers the lambda and returns the expected result.

[2020-10-13 00:28] #5557 closed

[2020-10-13 01:27] berenddeboer commented on #5553
See also #5159. Long standing issue.

[2020-10-13 01:48] yuth commented on #3780
Mock uses [DynamoDB local](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html) to store the records locally and does not support triggers. This has been added to our backlog, and I don't have any timelines when this will be picked up.

[2020-10-13 02:21] yuth commented on #5551
With S3 Trigger, the S3 stack adds an inline policy to Lambda Execution role in S3 stack and when permission is granted to API category, we augment the same policy in the trigger function stack. Effectively the role gets permission to on both resources albeit in different stacks.

So to summarize trigger is added in S3, so policy inline policy gets added in Storage stack and when you add permissio

[2020-10-13 04:14] yaquawa opened #5565 "How to update aws-exports.js ?"
**Which Category is your question related to?**
auth

**Amplify CLI Version**

4.29.2

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**
I have ran the following command:
[code]

But later on I decided to add the social login along with email & password login.
So I want to have the configurations of `Default configuration with Social Provider (Fede

[2020-10-13 04:25] michaelbrewer opened #5566 "Python lambda size when 0 dependencies"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When create a function with a very simple Python lambda, the generated lambda is 2MB

**Amplify CLI Version**

4.29.6

**To Reproduce**

Take pointless lambda like this and build it.

[code]

**Expected behavior**
Lambda should only be a couple bytes.

**Screenshots**

![image](https

[2020-10-13 04:42] simon-zhangmuye opened #5567 "amplify push doesn't update local graphql operation files in my react project."
Need help. I add an Amplify api and make some changes to my schema.graphql file.
Then I use amplify push to generate graphql operations in my local env.
After that I make some changes in my schema again and use amplify push to upload.
This time my local graphql operations files don't upgrade.
Does anyone know how to solve this problem?

[2020-10-13 05:48] marziamura opened #5568 "Layer deleted after switching environments"
**Describe the bug**
I have a multienv project: dev and prod.  If I create a layer in dev, it does not appear on prod, and switching back to dev causes its deletion (or so it looks like from the cli)

**Amplify CLI Version**
4.29.2

**To Reproduce**
I have two environments prod and dev

* create lambda layer in dev
* amplify push (on dev)
* amplify env checkout prod
* amplify status
  * expected==

[2020-10-13 06:12] marziamura opened #5569 "When switching environment, lambda function code is reverted to old version"
**Describe the bug**
I have created two lambda functions on my amplify project.
Now whenever I switch environment the code of my functions get reverted to some older version, different from the one version I have deployed.

**Amplify CLI Version**
4.29.2

**To Reproduce**
I am not too sure how this got currupted in the fist place. It might be that sometime I changed the code directly from the aws

[2020-10-13 06:17] simon-zhangmuye commented on #5567
I add username, avatar, userid to my Post model in schema.graphql file. Then use amplify push, it updates the operations on the cloud but not the local files in my src/graphql.
![image](https://user-images.githubusercontent.com/10706610/95822567-e6d63780-0d77-11eb-925f-8c6866af81f9.png)
![image](https://user-images.githubusercontent.com/10706610/95822588-f05f9f80-0d77-11eb-9489-4f8f360d767c.png)
!

[2020-10-13 06:20] #5567 closed

[2020-10-13 07:29] anisg commented on #5478
@ammarkarachi yes that would work too.

[2020-10-13 08:56] paulnolan7 commented on #867
@mikeparisstuff Is there a way to disable the type check, as I need to bring up and maintain about 40 input type from the build output schema.graphql to the source schema.graphql file. It will be very difficult to maintain these. It would be good to disable the check on codegen because the types are all there in the build schema.graphql. It's just the pre check before the build.
This could work as

[2020-10-13 09:26] anisg commented on #5478
another thing that would make sense too is to add a button "Reset Data" in the GraphiQL Explorer.

[2020-10-13 11:09] PatrykMilewski commented on #5537
Oh I didn't know that! I will test it and check if it will be working for me, thanks!

We wanted to filter results from Elasticsearch query based on nested field, that was present in one of models, example:
[code]
With default implementation we were not able to search for movies, that has availability of given name. Pretty much that's the limitation of filtering by nested fields.

Also splitting s

[2020-10-13 12:29] seang96 commented on #5563
@yuth, using the cli, we have the capability to add groups. when a group is created in Cognito, it automatically creates an IAM role or an existing IAM role can be associated with it. Creating an admin group creates an output in userPoolGroups under amplify's auth backend which has an output "adminGroupRole" for the stack.

All of the outputs from the userPoolGroups stack should either get the pol

[2020-10-13 12:46] tonai commented on #5520
Same problem for me.
I try AWS amplify on a sample react project: https://github.com/tonai/react-deploy
I Rollbacked to `4.29.2` to fix the issue.

[2020-10-13 12:53] waynebrantley commented on #5559
@yuth I think just showing the file name would be best at this point.  Thanks.

[2020-10-13 13:15] a-melnyk commented on #5530
hi all,

I just reproduced a similar issue with amplify 4.29.6. The problem occurs when a new environment is created, switching between environments works well for me and actually fixes broken config files.

@UnleashedMind, in my case amplifyconfiguration.json and awsconfiguration.json configuration files are not properly updated after `amplify push` execution

[code]

Workaround: checkout a diffe

[2020-10-13 13:29] ivpdev commented on #5530
"How are you testing your app? did you kill the previous testing app and then launch a new one after you checked out to the other backend env?"
- ./gradlew clean
- uninstall the from the emulator
- build and run with Android Studio

[2020-10-13 13:45] djsmedes commented on #4916
I think I did but I don't remember unfortunately. We ended up needing to pull our layer out of amplify and manage it manually because one of the packages in it is incompatible with the outdated node version that the AWS Linux 2 build image has installed. Since we are only using one layer at the moment, managing it manually was easier than trying to mess with the build images.

[2020-10-13 13:54] chucre opened #5570 "(amplify-velocity-template) not equals '!=' doesn't work with JavaString"
**Describe the bug**
When used with `amplify-appsync-simulator` the not equals (`!=`) expression doesn't work properly. Two strings are considered inequal when should be considered equals.

That happens because the `amplify-velocity-template` engine when compile the template use this code to check not equal expression in the file `packages/amplify-velocity-template/src/compile/expression.js`:

[co

[2020-10-13 14:35] jlecren commented on #5275
It would be very nice to have feature! I separated the backend from the frontend to speed up the build process but I can't prevent the CLI in headless mode to update the backend environment in my frontend project.

[2020-10-13 15:08] alexboulay opened #5572 "using @connection and @key"
**Which Category is your question related to?**
Using GraphQL directives to create complex relationships

This is my GraphQL Schema

[code]

What is the recommended way to model these relationships using the @model and @key directives?

[After reading the docs, it seems like I have to create a join model but I'm wondering if there's another way.](https://docs.amplify.aws/cli/graphql-transformer/di

[2020-10-13 15:50] flogy commented on #2227
Would love to have this feature too. I think it is very important to be able to set environment variables for Lambda functions, e.g. when accessing a third-party API.

[2020-10-13 16:14] chucre opened #5573 "(amplify-appsync-simulator) Throw error: ExpressionAttributeNames must not be empty in UpdateItem operation"
**Describe the bug**
When you map a unit or a function to use a DynamoDB data source and use the operation `UpdateItem` and do not set `condition.expressionNames` or `update.expressionNames` in the payload the `amplify-appsync-simulator` stops execution. The [AppSync DynamoDB template reference](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#a

[2020-10-13 18:37] yuth commented on #5557
This has been fixed in Amplify CLI v4.29.7

[2020-10-13 18:45] Ricardo1980 commented on #5557
Awesome! I try it in 3 hours.

[2020-10-13 18:45] #5531 closed

[2020-10-13 19:15] flyandi commented on #4817
Any update on this enhancement?

[2020-10-13 19:24] yuth commented on #5563
@seang96 Thank you for the clarification.

Amplify CLI supports group based auth only with Cognito auth provider. When using IAM auth, the only supported auth strategies are  `public` and `private`. If you choose a `public` strategy, CLI augments `unAuthRole` to have access to the type and its query, mutation and subscriptions. When auth strategy is `private`, `authRole` gets those permission. To

[2020-10-13 19:28] yuth commented on #5565
You can run `amplify auth update` to change this.  Follow the walk through to enable Social provider
[code]

[2020-10-13 19:29] #5565 closed

[2020-10-13 19:39] attilah commented on #5520
@jonathanbiard What problem did you run into with 4.29.6?

[code]

and it worked for me, could you share some details how was this not working for you? how is your meta file looks like, what type of resources does not have the `providerPlugin` property set?

[2020-10-13 20:00] yuth commented on #5566
Amplify CLI uses pipenv to bundle the resources to the cloud. Pipenv brings in virtual env, which adds size to the bundle.

[2020-10-13 20:07] seang96 commented on #5563
@yuth, I understand this, but once a user is in a group, they no longer have any permissions assigned from authRole for IAM related permissions which they should have since they are authenticated.

A use case for when this is needed is when using DataStore. DataStore tries to override the authentication provider for the graphql library. When it tries to override it, it does IAM authentication befo

[2020-10-13 20:53] yuth commented on #5563
@seang96 Could you please provide an example schema and how DataStore initialization code, so I can understand this better

[2020-10-13 21:07] yuth commented on #5542
@duncangroenewald what version of Amplify CLI do you have installed?

Could you update your `Video` type to the following and see if the error goes away

[code]

[2020-10-13 21:15] seang96 commented on #5563
Code Overriding Authorization in DataStore:
https://github.com/aws-amplify/amplify-js/blob/7a3bc80082bdb893b402ba6409714fe60649a742/packages/datastore/src/sync/processors/subscription.ts#L80-L217

Model:
[code]

[2020-10-13 21:38] meop opened #5577 "deleted Lambda functions and layers are still present in #current-cloud-backend"
**Describe the bug**
`amplify status` shows the desired Functions, and matches what is inside amplify/backend/function folder.
However, cloning project to another machine, running `amplify init` and then `amplify pull` recreates old, deleted Functions. Checking inside amplify/#current-cloud-backend/function folder on either machine still shows old, deleted Functions.

**Amplify CLI Version**
4.29.

[2020-10-13 21:57] #5114 closed

[2020-10-13 22:02] yuth commented on #4739
The fix was released in @aws-amplify/cli@4.29.4

[2020-10-13 22:02] #4739 closed

[2020-10-13 22:20] yuth commented on #5518
This looks like an issue with the library. @ashika01  could you investigate further why this error gets thrown

[2020-10-13 22:41] yuth commented on #5563
@seang96 thank you for the code snippet link and schema.

I think this is because how DataStore client prioritizes which auth mode to be used. Ideally data store should use the following order of preference when selecting the auth mode

1. Cognito Static Group rule
2. Cognito Owne rule
3. IAM (last as this does not have any information about the users name or groups that they belong to)

Is there

[2020-10-13 23:32] #3800 closed

[2020-10-13 23:33] #4296 closed

[2020-10-13 23:34] yuth commented on #5569
@marziamura  could you explain what do you mean by

Does this mean you're currently in `dev` branch and then you're running
[code]

[2020-10-13 23:43] jhockett commented on #5479
Apologies, I misunderstood the issue and my previous comment didn't make sense (now edited to avoid confusion).

The reason I marked this as an enhancement, is because the layer referenced in the function can be updated with `amplify update function` to reference the new environment and correct version. This solution is tedious and we can definitely improve the developer experience here.

I think

[2020-10-13 23:43] Ricardo1980 commented on #5557
@yuth
Thanks a lot.
After moving some files manually, I was able to recreate the rest api and push it. Now everything is working again. Thanks a lot.

I still have the problem with "amplify pull" (the Missing required key).
I guess I have to open a new bug because it looks like a different issue.

[2020-10-14 00:01] yuth commented on #5557
Yes. Please open another issue so we can track it

[2020-10-14 00:13] yuth commented on #5577
@meop Could you clarify the following
1. When you said cloning the project in another machine, did you mean git clone
2. After deleting the functions and doing an `push` did you commit the change to git and do an push
3. With `amplify init` in the other mahcine did you select the same env as that in step2

[2020-10-14 00:18] #5573 closed

[2020-10-14 00:22] #5570 closed

[2020-10-14 00:22] frankclaassen commented on #5469
@nikhname any feedback on this please? This is becoming a major impact on our system and preventing a production release

[2020-10-14 01:32] yuth commented on #5572
@alexboulay Yes, you will have to create a join model when the connection is M:N. The schema could potentially look like this

[code]

[2020-10-14 01:32] yuth commented on #5572
Feel free to comment here if you need clarifications

[2020-10-14 01:32] #5572 closed

[2020-10-14 01:37] oldskool73 commented on #5520
Also seeing the same thing, new project setup just a few days ago.

This appears to have happened in `@aws-amplify/cli@4.29.4` ...

[code]

No changes to the `amplify-meta.json` between the above 2 attempts, as follows...

[code]

[2020-10-14 02:25] yuth commented on #5568
@marziamura Could you try the following workflow and see if it works

1. create lambda layer in dev
2. amplify push (on dev)
3. git commit the changes
4. git checkout to prod
5. ampify checkout env prod
   i. You should get an prompt asking if you want to copy the layer or reference it
6. amplify status

[2020-10-14 03:11] johnEthicalTechnology opened #5578 "Custom resolver not retrieving list of records"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
AppSync custom resolvers.

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.29.7

**What AWS Services are you utilizing?**
AppSync, DynamoDB, Cognitio, IAM, Lambda

**Provide additional details e.g. co

[2020-10-14 04:36] ataibarkai commented on #1313
@mikeparisstuff any updates on this? The suggestion of using a lambda resolver to essentially forward the `user` call to the underlying Cognito table is lacking since:
 - it doesn't allow for customization of the user model, as shown in the original example on this issue (and as is common in practice)
 - you lose out on all the directives automagic you get everywhere else

[2020-10-14 05:17] meop commented on #5577
@yuth

1. Yes, git clone.
2. Yes, see below.
3. Yes, this is a small project, there is only one Amplify env.

In the git repo, I added the following to gitignore file, per a post I saw from Amplify team, suggesting this was the recommended set to ignore:

# amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dis

[2020-10-14 05:35] michaelbrewer commented on #5566
@yuth
What is the benefit of this?
Why not just use AWS Sam to handle the bundling of the lambda? even CDK does not inflate the lambda by 2.6mb with zero benefits.

And FYI, Amplify does not even support Python 3.8

[2020-10-14 05:36] yaquawa commented on #5565
@yuth Thanks! Does that using both Default configuration(password and email) and Social Provider?

[2020-10-14 07:40] lr001dev commented on #185
So, I updated my cli and I'm getting this error:

`AWS::CloudFormation::Stack Wed Oct 14 2020 00:02:12 GMT-0700 (Pacific Daylight Time) Template
 may not exceed 468992 bytes in size.`

My api-cloudformation.json is breaking the limit, so not sure how to fix this....

[2020-10-14 08:12] owboateng commented on #5531
@ammarkarachi Please in which version of the CLI will this fix be?

[2020-10-14 08:28] tomaseti commented on #4739
Great news thank you

[2020-10-14 09:00] marziamura commented on #5569
I didn't run a git merge directly, I created a pull request on dev branch and merged it. I guess the results should be the same

[2020-10-14 09:02] marziamura commented on #5568
yes I'll try that as soon as I can. thanks for looking at this

[2020-10-14 09:13] isacRU11 opened #5886 "graphql api subscription is no response after the 10 times"
**Describe the bug**
when i create order 9 times, subscription response data is get successfully
but, create order 10 times or more, can not get subscription response data
cannot confirm console log, and not error response
does anyone have a solution?

- graphql schema
[code]

- .graphqlconfig.yml

[code]

- api subscribe source
[code]

**What is Configured?**
amplify cli version: 4.29.7
amplify a

[2020-10-14 09:18] TheAlot opened #5579 "Mock does not clean resources when closing"
**Describe the bug**
If you run `amplify mock`, wait for it to finish and press ^C, the generated resolvers are not removed, and aws-exports.js is not reset to it's original form.

**Amplify CLI Version**
4.29.7

**To Reproduce**
1. Create a new amplify project, with a sample schema.
2. Run `amplify mock`
3. Press ^C

**Expected behavior**
The generated appsync resolvers should be removed, and aws

[2020-10-14 09:31] DaveHudson commented on #5378
I'm still seeing this exact error on all 4.29.x CLI versions including 4.29.7

Had to downgrade to 4.28.2 where it works

- OS: Mac
- Node Version. 12.19.0

[2020-10-14 09:35] raphkim opened #5580 "Support "provider" specification in Amplify Android model codegen"
https://github.com/aws-amplify/amplify-android/pull/903

Currently, model codegen for Amplify Android does not take into account `provider` specification inside `@auth` directive.
Once the above PR is merged, models should be generated with an additional parameter inside `@AuthRule` annotation.

## For example

For this schema:

[code]

the following model should be generated:

[code]

If `provide

[2020-10-14 09:39] chantlong opened #5581 "Auth/Guest vs Individual Groups"
I have an API Gateway + REST configuration.

When Restricting API access I get two options, Auth/Guest vs Individual Groups.

The Learn More section states

[code]

I do not understand what constitutes an Authenticated User.

I have a React Native app and when restricting with Auth/Guest selected, when calling the API it returns a 403.

But if I select Individual Group, the API works fine.

Since

[2020-10-14 10:27] cm-datrics opened #5582 "Field level @auth has unexpected behaviour (iam provider)"
**Describe the bug**
When I use field level authentication on a `@model` so that public (unauth IAM requests) have `update` permissions on a given field, public users can then update any of the fields.

Also, when making a graphql mutation request to update the field in question, the update succeeds but the response always contains `null` for that value.

**Amplify CLI Version**
4.29.7

**To Repro

[2020-10-14 10:29] oldskool73 commented on #5520
Hi again, had a quick look into this, for me this appears to be due to your `checkIfMobileHubProject` method in `lib/utils/mobilehub-support.js` triggering on the `amplifyhosting` block, which has no `providerPlugin`. Not sure if it should, only been using Amplify for a few days? The check seems a bit wide open though, and ends up giving misleading error messages because of false positives.

[2020-10-14 12:10] andikawhy opened #5583 "Option to Exclude IAM Policies For Private Auth Rules Using IAM Provider"
**Is your feature request related to a problem? Please describe.**
I have a case that I've already enabled Cognito User Pool as default Authentication Mode on my API then I added IAM as additional authorization providers for public or lambda access (I don't want to use API Key). Say I have schema like this:
[code]
Schema above will create this following auth resources (cmiiw):
1. Resolver to autho

[2020-10-14 12:12] kjetilge opened #7355 "Quering lamda function (unauthenticated) not working when deployed"
**Describe the bug**
I have a lambda function with an acompanying query that I call just before signing up a new user to check if they have a valid licence for the service. It works perfectly when the client is run locally (yarn serve) and connecting to the deployed dev-backend. However, when I try to run the same query from the deployed client it fails.

**To Reproduce**
Steps to reproduce the be

[2020-10-14 12:16] seang96 commented on #5563
@yuth, All I know is with that proposal it will definitely be a breaking change. Would it be good to clue someone in that does DataStore, there may be a reason already why it is in the current order and not the proposed one?

[2020-10-14 13:13] loganpowell commented on #161
I just ran into this same error. Could it be that there is a built-in `Subscriber` type in DynamoDB (or somewhere in the amplify graphql transform pipeline)? When I rename my `type` from `Subscriber` to `Follower` the error goes away.

[2020-10-14 15:09] reinhal opened #5584 "post confirmation lambda trigger"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

really not sure: post confirmation lambda triggers

I am not sure where to ask this but I am looking to use a lambda post confirmation trigger with cognito to create a fresh copy of documents/table in dynamo db every time a new user is created.  My sc

[2020-10-14 15:28] ahtokca commented on #1366
any news on it?

[2020-10-14 15:48] raphkim commented on #5580
Closing for now because we found a workaround that does not require this change.

[2020-10-14 15:48] #5580 closed

[2020-10-14 16:57] yuth commented on #5563
cc @elorzafe @amhinson

[2020-10-14 17:01] amhinson commented on #5563
@seang96 Right now, DataStore doesn't fully support using multiple auth types for an API, so the schema you have provided might have some unexpected behavior (as you are seeing). With that said, we are actively working to improve this as well as update the documentation around the current limitations regarding `@auth` and DataStore.

[2020-10-14 17:06] ammarkarachi commented on #4668
@tkolleh There should be an error `[authauthresourceIdentityPoolId, authauthresourceAppClientID, authauthresourceAppClientIDWeb, authauthresourceUserPoolId] ` why these resources weren't created earlier. Can you share the error you got?

[2020-10-14 17:19] aedrianescultura commented on #5481
This option: **Add/Edit signin and signout redirect URIs** does not allow you to remove the redirect URIs.  You can only add or edit, but you cannot remove the URI.

[2020-10-14 17:23] tkolleh commented on #4668
Thanks for following up. I've moved on from this error...ended up rebuilding the project. There have been multiple releases since my post thus I wont attempt to recreate the error.

[2020-10-14 17:23] #4668 closed

[2020-10-14 17:30] ammarkarachi commented on #4668
@tkolleh Sorry for the delay in responding back. Let us know if you are facing any other issues.

[2020-10-14 17:44] lexfaraday commented on #2698
+1
Please, I pay it without problem, just give us a solution, modifying the Graphql model is not an option.
Thanks in Advance!

[2020-10-14 17:48] attilah commented on #5520
@oldskool73 yes that is the root cause of the issue, we aware and working on a fix to unblock potentially blocked customers.

[2020-10-14 18:09] ammarkarachi commented on #4812
@kjetilge I tried running `amplify init --app git@github.com:kjetilge/ffb5AppCreate.git` and it was successful in cloning the repo but it failed running npm install because of the extra ',' in https://github.com/kjetilge/ffb5AppCreate/blob/2f36c9b357aece0050bbb3a8176215cc3f96608d/package.json#L9

[2020-10-14 18:18] Trevor-mc2 commented on #4709
+1 on this..  AppSync should allow '' as a valid AWSPhone.

[2020-10-14 18:38] tsesamson commented on #5380
@malcomm same issue for me and reverse the order of the @key didn't work for me.  Amplify will push it as long as I have a single @key.

[2020-10-14 18:46] edwardfoyle commented on #5566
@michaelbrewer You're right that pipenv is overkill for small functions that only have a couple dependencies, but it is good for managing functions with lots of dependencies. It is also a well adopted package management tool in the python ecosystem: https://packaging.python.org/tutorials/managing-dependencies/. We don't use AWS SAM because many of our customers don't use / have SAM installed.

We

[2020-10-14 19:04] yuth commented on #5578
hey @johnEthicalTechnology, your response mapping template needs to return an JSON object that matches the response type shape. The default response template works because the connection type has `items` as the field which is the same field used in DynamoDB.

If you update the response mapping template as below, you should see the result
[code]

[2020-10-14 19:16] seang96 commented on #5563
@amhinson & @yuth , what I see from this, I still think on the cli side it would be nice to have the AuthPolicy resources be exported as Outputs so they can be used in custom stacks. It can also provide for a temporary fix for my issue.

In addition though, should I open an issue on the library side to reorder how DataStore handles default authentication from the schema's rules?

[2020-10-14 19:21] iShavgula-TacTill commented on #3411
I'm still having this issue, v: 4.29.7.
It has been months, impossible to to use Amplify in production 👎

[2020-10-14 19:22] tsesamson commented on #5380
Just figured out my issue was caused by the following field:
[code]
This caused amplify to build another index gsi-MessagesByAuthor on top of the @key directive I was trying to use.  This indeed was forcing amplify to create two gsi.  What I should have done was just define the field instead name for the author connection.

[2020-10-14 19:28] #4532 closed

[2020-10-14 19:32] yuth commented on #5584
@reinhal what is the use case that you're trying to solve? Creating a new table for each confirmed user may not scale well as there is limitation on the number of tables an account can have. Also keep in mind the GraphQL transformer works at the deployment time and provisions tables and creates DataSources to be used by AppSync service and does not support  creation dynamic DynamodDB table/DataSou

[2020-10-14 19:41] reinhal commented on #5584
@yuth Thank you for your patience as I try to explain what I am looking to accomplish.  There is a default set of data that each new user should have a copy of to create/update/delete for their account.  Maybe not a new table, but new copies of the default set of documents from each table.

I was told I could create a post confirmation lambda trigger to accomplish this, but maybe you have another

[2020-10-14 20:12] #5420 closed

[2020-10-14 20:21] rt-demetri commented on #3447
Help is on the way! https://github.com/aws-amplify/amplify-cli/issues/5520

[2020-10-14 20:25] ammarkarachi commented on #4813
@reinhal I apologize for getting back to you so late. I am testing this with 4.29.7 and I couldn't reproduce but I see that it exists with 4.24.3. Do not hesitate to open a new issue or reopen this one if you come across other issues

[2020-10-14 20:25] #4813 closed

[2020-10-14 20:39] yuth commented on #5563
I am marking this as an enhancement and adding it in our backlog. We will pick this up once this gets prioritized and get pulled into our sprints

[2020-10-14 20:46] michaelbrewer commented on #5566
@edwardfoyle  -

amplify console does not support Python 3.8
https://github.com/aws-amplify/amplify-console/issues/595

Most lambdas don't need many dependencies (and some have none at all outside of AWS SDK)

So in most cases just have a requirements.txt should be all that you would need.

Larger projects can use poetry.

[2020-10-14 20:49] kjetilge commented on #4812
I’ll beware of the commas from now on 🤓

[2020-10-14 20:50] yuth commented on #5581
Any user who is logged in is treated as `Authenticated` user.

Do you have auth initialized in your application before making this request? Could you share code snippet of making the API request.

How do you select an individual group? The Amplify CLI supports restriction to Auth and UnAuth users. Could you clarify how you select Individual Groups?

This work only if you have [custom authorization

[2020-10-14 20:59] ammarkarachi commented on #4812
Haha no problem. Don't hesitate to reopen if you run into more issues

[2020-10-14 20:59] #4812 closed

[2020-10-14 21:01] michaelbrewer commented on #5566
@edwardfoyle
i don't quite understand why the actual deployed lambda needs to be 2.6mb, these are not runtime dependencies but build time dependencies?

Here is the example lambda for python function for a cognito auth challenge:

[code]

I would expect the deployed lambda to be tiny

[2020-10-14 21:01] TrekSoft commented on #5245
Just confirmed that it did

[2020-10-14 21:01] #5245 closed

[2020-10-14 21:02] UnleashedMind commented on #3007
Based on the current investigation, this issue should NOT be labeled as an Amplify CLI bug.
I tried to use the Lambda based custom resource (current implementation) or the new CloudFormation field as suggested by @SwaySway, SMS cannot be turned off through Cloudformation template or direct Cognito API call if MFA is set as required or optional.

I contacted the Cognito team about the behavior, wil

[2020-10-14 21:11] chantlong commented on #5581
The snippet is just the following, I am not passing any headers.
[code]

In the Restrict API options, I selected users for the Individual Group and the snippet above works fine when logged in the React Native app, and it shows Missing Authentication Token when trying to access it via Postman (no auth) which is expected. Since I'm not passing any headers explicitly, it seems like there's some magic

[2020-10-14 21:55] yuth commented on #5581
Yes the Amplify JS library [signs the request](https://github.com/aws-amplify/amplify-js/blob/2f74c6b74d38af570017139f2ba8269dc1009135/packages/api-rest/src/RestClient.ts#L186-L191).

When an user belongs to an cognito user pool group, the CLI generates a custom role and the user is assigned that role. As described in the document above when user does not belong to any groups they get AuthRole.

Y

[2020-10-14 22:03] renebrandel commented on #4185
@hisham @lukeramsden - agree. We will make this change. cc @asmajlovicmars

[2020-10-14 22:15] yuth commented on #5584
@reinhal Post confirmation trigger makes sense. You could give the post confirmation lambda trigger access to the AppSync API and then can trigger an mutation from your lambda trigger which adds a record in the required table. You can give permission to your lambda trigger function by running `amplify update function` and then choosing the trigger function.

In `Do you want to update the Lambda fu

[2020-10-14 22:39] ammarkarachi commented on #5276
@SebSchwartz I tried pushing(windows) and then pulling(Mac) using 4.29.7. I don't see that error can you confirm 4.29.7?

[2020-10-14 22:54] chantlong commented on #5581
Noted with thanks on the auto signed request and cloudformation.

Once you mentioned AuthRole, I got it. After deploying the changes based on what you said, I noticed updates to the Permissions to the authRole generated by Amplify.
amplify-******-dev-*****-authRole

It would be nice if the docs mentioned authRole/unauthRole as well in the Learn More CLI section.

In order to go through the "Authen

[2020-10-14 23:18] ammarkarachi commented on #5276
I can't see the issue occurring using push on windows and pull on mac but I do see the `.bin` folder marking it as a bug

[2020-10-14 23:19] ammarkarachi commented on #5466
Closing due to lack of response.

[2020-10-14 23:19] #5466 closed

[2020-10-14 23:25] SwaySway commented on #3411
Hello @iShavgula-TacTill
Could you provide a schema which can reproduce this scenario?

[2020-10-14 23:28] yuth commented on #5581
What would you like to see in learn more section instead of what we have

[code]

[2020-10-14 23:50] chantlong commented on #5581
How about the following?

[code]

To be honest I'm not sure how to phrase the Individual Group part because there isn't an actual IAM Role, so it's like where is this policy then?

[2020-10-14 23:57] iShavgula-TacTill commented on #3411
Thank you for having a look at this.

This happens for every DynamoDB `Query` (**2018-05-29**) which goes via Pipeline Resolvers and uses GSI.
I tried to delete and recreate the these queries many times, but that does not help, it can be reproduced every time with every query following these patterns. Here is a (pseudo) code :
[code]

Please let me know if you need more information.

P.S. I did ch

[2020-10-14 23:59] ammarkarachi commented on #5536
@Dextavision The region choice is showing up because it cannot find the region in the team-provider-info. I will keep this up for review by the team

[2020-10-15 00:08] SwaySway commented on #3411
@iShavgula-TacTill
Currently the CLI does not support pipeline resolvers. Do you have pipeline resolvers setup by overriding the generated resolvers? If so the fix you could apply here is to change the query resolver to remove `$util.toJson()`. This is what the transformer currently generates for query resolvers that use `nextToken`.
[code]

[2020-10-15 00:29] lis10app commented on #3399
+1

[2020-10-15 03:26] kenbankspeng commented on #4239
@edwardfoyle fyi, this bug exists in the latest cli (4.29.7). Only after using your workarounds above was I able to push without the error.

[2020-10-15 03:44] 6foot3foot commented on #5072
Same here, I have to manually change the layer in the console.  The description will say 'layer version 5' but the actual layer version in the console is 10.  But the CLI only shows up to 5.

@kennandavison I tried this, however now I'm unable to delete the layer as it thinks it's still in use by the function.  (It isn't I've moved it to the new layer)  now I have a dangling layer I can't remove,

[2020-10-15 06:15] kennandavison commented on #5072
@6foot3foot - yeah, I had that as well. I ended up grepping/deleting references in the cloudformation files.

[2020-10-15 06:17] micduffy commented on #5072
for me its a lot like a box of chocolates, you never know what you're going to get (version wise)

[2020-10-15 07:06] ataibarkai commented on #4568
Thank you for updating this information on here @MontoyaAndres.

Did you define your addUser lambda outside of amplify? I tried what you describe here with an amplify-defined createUser lambda, and I just get yet another circular dependency:
`[functioncreateUserObject, UpdateRolesWithIDPFunctionOutputs, apiAdminQueries, authvokea90410f7, authuserPoolGroups, functionAdminQueriesc9648803, apivoke, f

[2020-10-15 07:19] tonai commented on #5520
Hi @attilah,  I don't really get what you want from me.
Did you want I run some command on my side ?

[2020-10-15 07:51] iShavgula-TacTill commented on #3411
That fix did work, but I find that very strange because of couple of reasons :
- I had some auto-generated queries which used `toJSON()` for `nextToken` before commenting on this issue.
- I have not changed DynamoDB `Query` version

Could that be linked to AppSync utilities' updates ?
Any tips how to avoid this kind of issues ?

Thank you

[2020-10-15 08:20] michaelwittig commented on #335
@jaxondu could you reopen the feature request? You might not be interested in it anymore, but others seem to be :)

[2020-10-15 09:20] nathanqueija commented on #5314
Cool! I know that you can provide your own docker image on Amplify and then include java, but going this path would make things more complicated for me as I would have to set up all the other requirements so I decided just to install java during the build process which makes it slower. Thanks for requesting the feature. I'll follow the thread.

[2020-10-15 10:12] arturocanalda commented on #5072
@micduffy same feeling here. Decided to refactor the code to have less dependencies of my lambda layer. Now I only use it to pack all the heavy node_modules together and it's used by a single function.

Just one extra issue I had (on top of versioning). When changing amplify environments, sometimes, somehow, a new version of the layer was created (which we already know) + the `node_modules` folder

[2020-10-15 10:24] mikerudge commented on #5380
Getting the same problem.
I am running amplify cli 4.29.8

I am trying to add-in

[code]

to this existing model... never had problems doing this before. I have also tried putting it in different positions within the schema but no luck.

[code]

[2020-10-15 11:33] KayIlory opened #5588 "CLI Doesn't Fully Disable Conflict Handling When Updating API"
The conflict resolver seems not to work with API. When the conflict resolver is enabled, it create an "AmplifyDataStore" table in Dynamo.

However, when one removes the DataStore features, it doesn't permanently remove the entry in the transform.conf.json. Every time before I push I always have to remove:

"ResolverConfig": {
    "project": {
        "ConflictHandler": "AUTOMERGE",
        "Confli

[2020-10-15 11:34] KayIlory commented on #5588
as discussed with @jamesonwilliams

[2020-10-15 12:33] MontoyaAndres commented on #4568
@ataibarkai I created the function using Amplify. I don't know if maybe Amplify has updated something and now it's not working as expected. One thing you can do is look for information about "how to execute a lambda within other lambda" or something. Or other is just to do it on the front end, when the user adds the confirmation code on the page, then you'll execute the graphql mutation to save th

[2020-10-15 12:34] sacrampton opened #5589 "Issue using "attributeExists" in list resolver"
**Describe the bug**

I have a list query resolver that is the standard generated by Amplify. However, when I execute a query using the operator "attributeExists" as shown below it generates an error.

[code]

The error that is generated from what should be a straight forward query looks like this

[code]

**Amplify CLI Version**

4.29.8

**To Reproduce**

Execute a simple query like that shown ab

[2020-10-15 12:51] TheDutchCoder opened #5590 "Can't update to the latest version (4.29.8)"
**Describe the bug**
Global install results in "Unexpected end of JSON"

**Amplify CLI Version**
4.29.4

**To Reproduce**
Run `npm i -g @aws-amplify/cli`

**Expected behavior**
Amplify cli to update

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1668207/96128530-7b997c00-0ec3-11eb-8278-7a05655b64b2.png)

**Desktop (p

[2020-10-15 13:08] reinhal commented on #5584
@yuth once I add that function and give it the appropriate access/permissions, are the next steps in the code for actually creating copies of the data items in each of the necessary tables? is their good documentation somewhere for that side of it?

[2020-10-15 13:40] ahtokca commented on #4372
yes. For it was the issue as well. backend-config.json had references to non existing lambdas! Thanks a lot !

[2020-10-15 14:19] Blkc commented on #3561
Unfortunately @searchable directive is not really serverless as you are basically running a search instance. It is the bulk of my bill as well.

[2020-10-15 14:38] kurtroberts commented on #4137
I'm seeing the same behavior.  I'm using iam auth to populate read-only, global content from a content management system.  Then using cognito to authenticate by group to grant access to "Everyone" (which is the group users are assigned to on sign up using a lambda). Here's an excerpt from my schema:

[code]

When I turn logging up to DEBUG as described in the link above, it's obviously a massive a

[2020-10-15 14:39] LoganArnett commented on #5542
I am getting a similar issue with a connection to a model not allowing me to grab the nested values

[code]
and I get the error:
`"Cannot return null for non-nullable type: 'User' within parent 'Message' (/onCreateMessage/author)"`

[2020-10-15 15:01] myfairshare opened #5592 "DataStore predicates without Predicates.ALL specified usage question"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
DataStore

**Amplify CLI Version**

4.29.6

**What AWS Services are you utilizing?**
Amplify, DataStore

**Provide additional details e.g. code snippets**
I'm wondering if its possible to use pagination when not using predicates.all on a set of data.
B

[2020-10-15 15:34] ericowhadi commented on #1878
@jonmifsud @adhikarisandeep I had same issue and found that the append behavior is related to not passing the _version in my case (I am using conflict detection with merge option). When not passing the _version, I suspect the merge logic kick in and decide to append on array, while when you pass the _version and the merge logic see that you have the latest version, it correctly replaces instead of

[2020-10-15 15:47] MainAero opened #5593 "get and set of array values not working in amplify-velocity-template"
The implementation of `set` and `get` methods of an array in velocity is not working like in the real environment.

[These lines](https://github.com/aws-amplify/amplify-cli/blob/41c99f8f956e46966779fbfa3a205a0fab39ea1f/packages/amplify-velocity-template/src/compile/references.js#L229-L248) should be replaced by an implimentation like:
[code]

[2020-10-15 15:59] MainAero commented on #5593
May related: https://github.com/shepherdwind/velocity.js/pull/132

[2020-10-15 16:07] RossWilliams commented on #5582
Hi, your point 2 is a security flaw that has been pointed out before. The documentation was updated to note this possibility, although I can understand that it is very hard to catch the nuance unless you already know the details

From the docs:

The issue was first pointed out in #2241 , I've previously fed back that the documentation needs to be more explicit [here](https://github.com/aws-amplify

[2020-10-15 16:14] ngault commented on #335
I second @michaelwittig's view.  It's a major deficiency of Amplify to only allow one GraphQL API per project.

[2020-10-15 16:14] yuth commented on #3411
In an earlier version of the Amplify CLI a bug was introduced which double encoded the payload toJSON. What I suspect is you might have overridden the template when the CLI had the bug, which got you the buggy resolver. This was fixed in the CLI later, but since the template was overriden, that fix not propagate to that template.

[2020-10-15 16:26] yuth commented on #5584
Yes, You should have the API endpoint available to you as an env variable once the appropriate access is allowed. In your lambda you could fire an mutation request to add the data items and sing it using the IAM credentials.

[2020-10-15 16:26] #5584 closed

[2020-10-15 16:29] yuth commented on #5542
@LoganArnett It looks like your schema expect the author to be non-nullable, and the `Message` does not seem to have an valid author. This could either be because the `createMessage` passed an non-existent `authorId` or the Author with that `authorId` was delete from `User`  table.

[2020-10-15 17:16] yuth commented on #5588
@KayIlory What version of Amplify CLI do you have installed?

[2020-10-15 17:20] yuth commented on #5590
@TheDutchCoder I could not get this installation to fail. From the error log file it looks like npm cache issue. Could using temporary cache using the following command and see if npm install -g @aws-amplify/cli --cache /tmp/empty-cache and see if the installation works

[2020-10-15 17:22] UnleashedMind commented on #5540
What aws region did you setup your project?

[2020-10-15 17:36] TheDutchCoder commented on #5590
Okay that seemed to have worked, thanks!

[2020-10-15 17:36] #5590 closed

[2020-10-15 17:48] yuth opened #5594 "Show warning when field level auth uses IAM or Public auth"
GraphQL transformer does not support field level auth with IAM or API Key provider as we don't have necessary information to restrict in resolvers. Update the transformer to throw error/or show warning if Field level @auth uses IAM or API Key provider

[2020-10-15 17:50] LoganArnett commented on #5542
I am not sure what happened but I edited another model and pushed and it worked so maybe somehow I was out of sync, thanks @yuth

[2020-10-15 17:55] yuth commented on #5582
The GraphQL transformer does not support `IAM` and `API Key` provider in field level. The reason is that the passed context doesn't have the necessary information in when executing resolver code like a JWT token from Cognito User Pools has. I have created an [PR to update the docs](https://github.com/aws-amplify/docs/pull/2548) to clarify this further, and also we can make a DX improvement to warn

[2020-10-15 17:59] yuth commented on #5542
Please feel free to comment here if you need any further clarification

[2020-10-15 18:04] julien-tamade commented on #5554
@mbecker did you figure out a solution by any chance? I've just been holding off on updating for now

[2020-10-15 18:12] yuth commented on #5593
@MainAero Thank you for bringing this to our attention. We would appreciate an pull request as we are not merging the upstream to our implementation.

[2020-10-15 18:43] UnleashedMind commented on #5511
It seems like the errors you see are because the `<project-root>/amplify/team-provider-info.json` file is corrupted in your project.
- "amplify env import" is an internal command we use, it is not meant for what you are trying to do.
- If you have everything set up on the Amplify Console, and you see both the frontend and backend build/deploy is successful, and you want to work on that project in

[2020-10-15 19:19] andrewbtp commented on #5380
Also have this issue and I'm just trying to delete a single key.
[code]

to

[code]

[2020-10-15 19:21] KayIlory commented on #5588
@yuth  - 4.29.3.

[2020-10-15 19:36] yuth commented on #5588
Could you upgrade the CLI to latest version (as of now 4.29.8) and see if this is fixed. I could not reproduce this issue with Amplify CLI v 4.29.8

[2020-10-15 19:37] MagneH commented on #5143
I experienced the same. I had to change the default auth on my api to api key. You can still choose to configure Cognito User pools as a second method. Doing this and recreating the function made amplify pass the API key to the process.env object.

[2020-10-15 20:09] lr001dev opened #5596 "API Cloudformation Json Template ::: may not exceed 468992 bytes in size."
Creating an issue here:
Running Amplify 4.29.8

Running into a problem when adding multiple paths using amplify update api command. When trying to push I receive the below error. I'm trying to add multiple paths to our REST API. Could use some guidance.

So, I updated my cli and I'm getting this error:

`AWS::CloudFormation::Stack Wed Oct 14 2020 00:02:12 GMT-0700 (Pacific Daylight Time) Template

[2020-10-15 20:18] SwaySway commented on #4137
@kurtroberts I tried to check the authorization on the AppSync Console, and if I am in the group "Everyone" I am able to run operations on AppSync. If I am in the IAM role the same thing is allowed. Sounds like this could potentially be an issue in the DataStore library on how it's signing the requests over to AppSync. Transferring this issue to the JS library for better visibility.

[2020-10-15 20:34] 6foot3foot commented on #5072
![lamba_layer_version_issue](https://user-images.githubusercontent.com/26568579/96182881-95ee5b00-0f92-11eb-8e86-5d254cd35a27.PNG)
This is the issue I'm seeing.  amplify is going by the description not the actual version.  so version 8 doesn't have the right code, it's version 12 I need.  But amplify will only show up to 8.  (As a note all my uploads of this function have only been through the amp

[2020-10-15 20:37] lexfaraday commented on #2396
Thanks so much!!!!!!!!!

[2020-10-15 20:39] SwaySway commented on #5596
@lr001dev
The original issue # is missing in the link.

How many paths did you add? Could send over your Rest API CFN template to amplify-cli@amazon.com?

[2020-10-15 21:40] #5436 closed

[2020-10-15 21:52] yesidherreraIT commented on #3901
any update?

[2020-10-15 21:53] duncangroenewald commented on #5542
@yuth - sorry for the delayed response been tied down with some other things.  I will give that a try and let you know how it goes. Thanks

[2020-10-15 22:42] duncangroenewald commented on #5542
@yuth - I just tried that but the returned object is still null.

If I turn AppSync logging on I should be able to see the error in CloudWatch right?

[2020-10-15 22:47] jlecren commented on #5520
@aws-amplify/cli@4.29.8 seems to have solved this issue for me.

[2020-10-15 22:49] duncangroenewald commented on #5542
Hmm nothing to see in CloudWatch!

[2020-10-15 22:50] Stevenje commented on #5097
I'm having the same issue, I updated my `schema.graphql `

[code]

[code]

All changes made to `schema.graphql `  are reverted

[2020-10-15 23:13] attilah commented on #5520
In the latest released we have removed the mobile hub check and will be using a different way for error prone detection so you are unblocked with the newest version of the CLI.

@tonai just update to the latest CLI now, no extra actions needed, thanks!

[2020-10-15 23:13] #5520 closed

[2020-10-16 00:51] aprilmintacpineda commented on #5143
On previous versions of amplify, the default doesn't need to be the API KEY though, and I think API KEY should really be secondary method...

[2020-10-16 02:26] ajnunez16 commented on #5483
same

[2020-10-16 04:04] johnEthicalTechnology commented on #5578
Thanks for the quick reply! That fixed it!

I've just got another quick question. I've successfully been able to create a batchUpdate resolver, however, my first iteration only passed in the value for two fields. This cause only those two fields to be updated and all the other fields to be updated to blank.

For the second iteration I passed in the all the fields. This was successful in updating t

[2020-10-16 05:26] kennandavison commented on #5072
Not sure if related, but

+1, so many things broken here

[2020-10-16 06:08] GeorgeBellTMH opened #5598 "Ability to automagically create API lambda layer"
Would be great to automatically create a lambda layer from the API and then keep it up to date. This would speed up the process of creating lambda's that use the API layer and graphql queries/mutations.

[2020-10-16 07:21] lr001dev commented on #5596
Sent @SwaySway

[2020-10-16 07:55] lochawala opened #5599 "Refresh page, then Access Denied error"
I have hosted my react app using amplify add host and amplify publish it's working fine, but when I refresh the page, then it's throw Access Denied error
please check attach a screen shot of the error

![Screen Shot 2020-10-16 at 1 21 35 PM](https://user-images.githubusercontent.com/14148438/96228192-db228500-0fb2-11eb-8d97-b61b0279dbac.png)

[2020-10-16 08:47] KayIlory commented on #5588
@yuth unfortunately not fixed. I delete the conflict hanlder part and it comes back again

{
    "Version": 5,
    "ElasticsearchWarning": true,
    "ResolverConfig": {
        "project": {
            "ConflictHandler": "AUTOMERGE",
            "ConflictDetection": "VERSION"
        }
    }
}

[2020-10-16 08:48] KayIlory commented on #5588
![image](https://user-images.githubusercontent.com/51476926/96237015-adc6de80-0f94-11eb-92e7-94b796d44b1a.png)
immediately I press play in android, it will just generate the ResolverConfig again. @yuth

[2020-10-16 09:44] watilde opened #5600 "Add README.md into amplify directory"
**Is your feature request related to a problem? Please describe.**
It was not easy to understand what each files and directories mean under amplify directory when running `amplify init` for the first time.

**Describe the solution you'd like**
Adding `README.md` under amplify directory describing clear high level description of each directories and files in the below at least:
+ .config
+ backend

[2020-10-16 12:08] ataibarkai opened #5601 "Force-sync cloud state to local state?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Syncing cloud and local state

**Amplify CLI Version**
4.29.6

**What AWS Services are you utilizing?**
AppSync/GraphQL, DynamoDB, Lambda, Cognito

**Provide additional details e.g. code snippets**
I'm in the initial stages of development. For the time

[2020-10-16 13:12] dominiksafaric opened #5603 "Amplify GraphQL API - Lambda function user-defined subfields"
**Which Category is your question related to?**
GraphQL Lambda function

**Amplify CLI Version**
4.29.7

**What AWS Services are you utilizing?**
Amplify, AppSync GraphQL API, DynamoDB, Lambda, Cognito

**Provide additional details e.g. code snippets**
I have specified a custom GraphQL mutation called `updateCandidate` that forwards the request to a custom Lambda function with Python runtime. Plea

[2020-10-16 13:27] ataibarkai commented on #4568
Turns out the error was the result of a cache invalidation issue. The solution does still work

[2020-10-16 14:10] tsesamson commented on #5380
@andrewbtp do you have any table field connection to the "CandidateByShortLink" key?
For example:
`fieldname: String action: @connection(name: "CandidateByShortLink")`

[2020-10-16 14:11] andrewbtp commented on #5380
@tsesamson Nope. I was able to remove the key by reverting to `@aws-amplify/cli@4.27.3`

[2020-10-16 14:27] robinvw1 opened #5604 "Installing the Amplify CLI does not work with npm@7"
**Describe the bug**
[npm@7](https://blog.npmjs.org/post/631877012766785536/release-v700) was released on 13th October, 2020:

It is not *yet* tagged as `latest` on [npmjs.com/package/npm](https://www.npmjs.com/package/npm).

Nevertheless, I would like to report that the following command results into a silent crash:

[code]

**To Reproduce**
Steps to reproduce the behavior or terminal output if a

[2020-10-16 15:12] sakhmedbayev opened #5605 "Primary sort key does not work"
**Describe the bug**

I have the following schema:

[code]

which correctly generates a DynamoDB table with `id` as a primary partition key and `lessonNumber` as a primary sort key.

Now, I am issuing the following auto-generated query:

[code]

I expect this query to return a properly sorted list of lessons, however, I get the following result:

[code]

notice `lessonNumber` field in the above re

[2020-10-16 16:00] drewmullen opened #5606 "amplify init failed: ERR_INVALID_ARG_TYPE The 'request' argument must be string"
[code]

im not a js developer but im attempting to follow through this tutorial: https://github.com/aws-samples/aws-serverless-webapp-workshop . please let me know what other info i can provide

[code]

id also like to note that it was a PITA getting the provider awscloudformation found. `scan` kept not finding it so i had to manually point to it with:
[code]
i can open a separate issue if that is

[2020-10-16 16:36] ronaldocpontes commented on #4869
Any news on this enhancement?

I would like to use Amplify / Appsync as a proxy to internal GraphQL and REST microservices using a direct lambda resolver without needing to deal with custom VTL's.

Something like this https://aws.amazon.com/blogs/mobile/appsync-microservices/ but only using @function.

[2020-10-16 17:00] UnleashedMind commented on #5527
Thanks for the feedback, I will mark this as an enhancement.

[2020-10-16 17:15] renebrandel commented on #5600
I love this idea!

[2020-10-16 17:21] renebrandel commented on #5600
We've recently compiled this page detailing all the different files & folders. https://docs.amplify.aws/cli/reference/files Is this the level of information you're looking for?
I'm curious what other information could come in handy?

[2020-10-16 17:30] PeteDuncanson opened #5609 "Referencing Timestamp fields in a @key requires dangerous additions to the schema"
**Describe the bug**

In order to use createdAt as a sort key in a @key directive you have to include a field called "createdAt: AWSDateTime" (non-null) to stop the error but this then allows anyone to set/edit the createdAt/updatedAt fields via auto-generated mutations. This can be dangerous as now anyone can over-write the createdAt date and if running code with in multiple timezones or incorrec

[2020-10-16 17:38] yuth commented on #5598
@GeorgeBellTMH Could you explain the possible use case/workflow that you have in mind.

[2020-10-16 17:49] UnleashedMind commented on #4818
I tested with the latest version 4.29.x, and the issue seems to be resolved already.
With the annotated schema that you provided, the owner field is added into to the compiled schema by the Amplify CLI.
Please test and confirm.

[2020-10-16 17:51] yuth commented on #5604
@robinvw1  Do you get any specific errors when you try to install the amplify CLI with NPM 7?

[2020-10-16 17:56] yuth commented on #5601
We have similar request which is being tracked in https://github.com/aws-amplify/amplify-cli/issues/2384. I am closing this in favor of that ticket so we can consolidate all the discussion in one ticket.

I would appreciate if you could add your thoughts and what workflow you would like to see in #2384.

[2020-10-16 17:56] #5601 closed

[2020-10-16 18:02] yuth commented on #5605
@sakhmedbayev What are the arguments that are passed to the list query? From the query results I suspect that you're not passing either `id` or `ModelIntKeyConditionInput`.

DynamoDB sorting works with in the HASH, and will be sorted when you run a query. When no `id` is passed to `listLesson` the transformer does an DynamoDB scan and sorting is not supported in scan

[2020-10-16 18:06] yuth commented on #5606
@drewmullen how did you install the Amplify CLI? Was it using NPX script or did you do an global install using `npm install -g @aws-amplify/cli`

[2020-10-16 18:07] ammarkarachi commented on #5276
@SebSchwartz @blazinaj We updated our zipping packages and this bug has been resolved, don't face to re-open if you still face this issue.

[2020-10-16 18:07] #5276 closed

[2020-10-16 18:13] drewmullen commented on #5606
`npm install @aws-amplify/cli`

[2020-10-16 18:14] meop commented on #5577
Even if getting into this situation is not reproducible anymore, I would appreciate if anyone knows how to get Amplify out of this state.

I need the removed functions to no longer be present that #current-cloud-backend folder. I need to get that folder to reflect only the list of functions that `amplify status` shows.

I tried `amplify push --force` but that did not help.

[2020-10-16 18:44] yuth commented on #5609
@PeteDuncanson Thank you for bringing this up. We had added support to include `createdAt` and `updatedAt` in https://github.com/aws-amplify/amplify-cli/commit/8e0662eac8c88da9393f32c33457a597acf591ed but had to revert it back as there were some unintended consequences with updating schema in place. So we reverted it in https://github.com/aws-amplify/amplify-cli/commit/6d3123bfe3ba412d3b1af076e550

[2020-10-16 19:02] yuth commented on #5603
@dominiksafaric you can return all the subfields, and the appsync service will return only the fields that are requested in the API to the client.

If you want to optimize and not send every subfield back from lambda to appsync, you can will have to update your lambda function invocation code to include [`context.info`](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference

[2020-10-16 19:02] paddlefish commented on #5558
The workaround is not practical if you use multiple environments, e.g. staging and production.

[2020-10-16 19:03] yuth commented on #5599
@lochawala In your react app do you use routers? Does the URL change when the page loads?

[2020-10-16 19:06] TQx8 commented on #5380
I had the same issue. After downgrading it worked @andrewbtp .

[2020-10-16 19:13] yuth commented on #5577
Amplify CLI should delete the function from `#current-cloud-backend` when a function gets deleted and should zip that and upload the file to the deployment bucket, so when an `amplify env pull` happens, the `#current-cloud-backend` reflects that state.

I am not sure how the function folder stayed in `#current-cloud-backend` even after successful deployment. Could you provide us the exact steps/co

[2020-10-16 19:15] yuth commented on #5606
Amplify CLI needs to be installed globally for it to work. You can install it globally by adding `-g` flag to install

[2020-10-16 19:25] nikhname commented on #5588
Hi @KayIlory, you can disable conflict resolution and avoid the ResolverConfig from being regenerated by setting ```syncEnabled``` to false in your ```amplify-gradle-config.json``` file.

[2020-10-16 19:26] nikhname commented on #5588
After setting `syncEnabled` to `false`, running a build or gradle sync will regenerate the file for you.

[2020-10-16 19:29] meop commented on #5577
Sorry, I do not have an exact sequence of commands, because this effort spanned over a few days. Are there any logs or artifacts you would like?

Also, do you know how to get the project out of this state? Should I remove something from the AWS cloud to allow an `amplify push` to overwrite it? I do not see other references to the deleted functions to manually delete locally. Manually removing thes

[2020-10-16 20:05] hutber opened #5611 "GraphQL AWS AMplify @connection not bringing in connected data"
Amplify -v: 4.29.7

I would like to have in the League tables all of the seasons and divisions as you can see with `data > seasons`. I have set it up as I believe would work using @connection.

So the question is, how would I have to change my division schema so that divisions are included in the `League`.

[code]
[code]
# Data
[code]

[2020-10-16 20:11] UnleashedMind commented on #4753
@LucasAndrad @r0zar

I reproduced the issues you posted here, those extra queries were indeed generated before version 4.22, the @key transformer used to auto generate query operations, we have since disabled it.
If you still want to generate the queries, you can specify the "queryField" in the @key definition.
https://docs.amplify.aws/cli/graphql-transformer/directives#key

[2020-10-16 20:19] r0zar commented on #4753
Okay, good to know! I'm going to test `queryField` in a key and `queries: null` in the model to make sure it works as expected. If that checks out, this issues is resolved for me.

[2020-10-16 20:21] curtismorte commented on #1946
For those of you who find yourselves here, and are looking @jonperryxlm's comment, you will also need to create a datasource as @kldeb has mentioned. The problem is you will end up with the issue that @Somtozech has brought up.

This is because [AWS::AppSync::FunctionConfiguration](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-appsync-functionconfiguration.html) doesn

[2020-10-16 21:37] yuth commented on #5611
@hutber You will have to add an additional `@key` directive to your `Division` model. I would also recommend changing the keynames to indicate what is used for indexing. In the case of `Season` type, you are creating an index on `league` so naming it `byLeague` might be better

[code]

[2020-10-16 21:44] yuth commented on #5542
Could you try running the subscription and mutation in the AppSync console. This should make it easier to debug as you can narrow down if the problem is in AppSync resolver or in the Javascript side of things

It should add the autopupulate `createdAt` and `updatedAt` if no value was passed in the input

[2020-10-16 21:56] yuth commented on #5596
Amplify CLI creates single cloudformation file for a REST API and it looks like your REST API has exceeded the size supported by cloudformation. The generated JSON file has a lot spaces included, which makes the files easier to read but now it is hitting the cloudformation file size limit. I have marked this as a bug and we will try to split the this to multiple stacks so the file size issue can b

[2020-10-16 22:21] yuth commented on #5569
Could you try checking out the branch first and then doing the `amplify env checkout <env-name>`. The environment checkout command should sync the functions and layers

[2020-10-16 22:54] hutber commented on #5611
Thanks very much @yuth! This is very insightful.
You can indeed close the question :)

I would just have one question about the `@connection(keyName: "byTeamsConnection", fields: ["id"])` but feel free to ignore as it could be its own question. But I have struggled to know what the `fields` part is for? I am always putting `"id"` but then not using `id` in `byTeamsConnection`.

Latestly, I have st

[2020-10-16 23:27] yuth commented on #5611
When you define an `@key` you're defining an index with `Hash` and optional `Sort` key. In the case of `Season` in the above schema, the `byLeague` index takes the `leagueId` and returns all the records that match that `legauge`. In your connection you're asking the transformer to use the index `byLeague` and you're passing the `leagueId` is the `id`. The reason you have to pass an field is you co

[2020-10-16 23:27] #5611 closed

[2020-10-17 00:00] duncangroenewald commented on #5542
This subscription seems to work fine in the console:

subscription MySubscription {
  onCreateVideo {
    id
      bucket
      key
      sessionDate
      isReviewed
      reviewedBy
      reviewDate
      title
      comments
      sessionTypeID
      activityTypeID
      modeID
      genderID
      ageGroupID
      weightCategoryID
      athletes {
        items {
          id
          created

[2020-10-17 02:16] johnEthicalTechnology commented on #5578
I'm using `BatchPutItem`. This is the code for the resolver request.
[code]

[2020-10-17 03:29] sakhmedbayev commented on #5605
Thanks, @yuth, for the quick response. You are correct; I do not pass any arguments; however, I expect the default result will get properly sorted.

Perhaps, another question, what are my options if I want to return all `Lessons` sorted by `lessonNumber` field???

[2020-10-17 06:17] watilde commented on #5600
Great, that's exactly what I was looking for! In addition, I was thinking of something like `create-react-app`'s `README.md` that explains how to use `amplify-cli` + resources to learn as more useful to users.

+ Refs: https://github.com/facebook/create-react-app/blob/de27bcfcc079c6644a14db08ef01df1f102e7a95/packages/cra-template/template/README.md

The resource priorities that can be helpful to u

[2020-10-17 10:40] Ricardo1980 opened #5616 "Can you add to the CLI tool the possibility to rename lambda functions?"
At the moment, when using the command "amplify function update", we can change several parameters, but not the function name or resource name.

Right now I am doing that manually and it is very annoying.
Can you add this option?

Another nice improvement would be the possibility to duplicate a function with a different name.
Very often I have to copy sections of my cloud formation templates to new

[2020-10-17 11:35] duncangroenewald commented on #5542
So in the end I got rid of the $owner in the schema definition - which fixed the problem.  I guess it wasn't happy that I was not passing in the owner parameter so couldn't send the data but could still trigger the event.

[2020-10-17 11:46] duncangroenewald commented on #5558
@yuth - thanks no problem for us right now - we just deploy an empty schema and then redeploy the full one - still learning the whole AppSync thing so having to refactor @connections etc since we have redundant IDs all over the place.  Some good documentation and examples would go a long way, there seem to be too many examples all doing things slightly differently.

Still impressive what can be do

[2020-10-17 12:53] samputer commented on #2519
Another here with the same problem. I can push to a development environment locally, but as soon as I push it and allow to be built in the console using Amplify's built-in CI/CD process, I am seeing this error.

The fix mentioned earlier in this thread and in this issue https://github.com/aws-amplify/amplify-cli/issues/4814 seems to resolve it, but for how long!?

Completely agreed with @Bulletnin

[2020-10-17 14:40] ataibarkai commented on #2384
I brought up a similar concern on #5601 and @yuth asked me to give my thoughts on the proposed workflows in this thread, so here is my 2 cents:

### force-sync cloud state to the local state:
I think that **in general**, the ability to force-sync cloud state to the local state would be an extremely powerful feature. I would even argue that the whole idea of 'infrastructure as code' (not to mention

[2020-10-17 14:54] mmccall10 commented on #1055
I like what @mrgrue suggested. I'd be more than happy to use lambda resolvers for pipeline resolvers today. In fact landing a before directive witih a fuction option would satify 99% of what I would use pipeline resolvers for.

[code]

[2020-10-17 16:11] dlamon1 opened #5617 "Amplify Publish directing API endpoints to localhost"
**Describe the bug**
'Mixed Content' error when loading hosted site after running 'amplify push' after working with 'amplify mock' and running locally with 'npm start'

<img width="613" alt="Screen Shot 2020-10-17 at 10 55 02 AM" src="https://user-images.githubusercontent.com/43188519/96347529-d4a21500-1067-11eb-8a26-67a7cdb07b61.png">

**Amplify CLI Version**
4.29.4

**To Reproduce**
run 'amplify

[2020-10-17 16:46] undefobj commented on #2519
@samputer can you open a new issue with your stack details for a team member to troubleshoot?

[2020-10-17 17:07] gmfinear commented on #753
App with id: ______________ not found is happening when I run "amplify console" from the root of my project. I have triple checked that the region in aws.exports and my console are the same. Any suggestions?

[2020-10-17 18:13] lr001dev commented on #5596
Thank you for your response. I minified the file and successfully pushed, so that helped! I understand however, this is a bug and there will be an expected change addressing this issue, correct?

[2020-10-17 18:35] RossWilliams commented on #5469
The most likely explanation is that the items you are trying to find are not in the initial result set from DynamoDB and you would need to page through the data.

In DynamoDB filters are run after limit (this might be the opposite order you are accustomed to seeing). If you have a limit of 10 and a filter, DynamoDB will fetch 10 items maximum and then filter from there.The console is doing automat

[2020-10-17 18:42] RossWilliams commented on #5605
you need to get all lessons into the same partition key. One way to do this is to create an attribute that gets set to the same value for all items and use that as the partition key. type: 'Lesson', version: '1', audience: 'all', or similar.

[2020-10-17 19:14] chris-mds opened #5634 "Feature Request for Warnings, when GSI key's are from an optional value"
**Is your feature request related to a problem? Please describe.**
After hours of debugging and questioning my whole career :) I found an issue, which should get an warning in for example the CLI. I dont know if this is a topic for the guys from the CLI or a specific problem for iOS developer, so I am posting it here.

Let's say we have the following model:

[code]

You see there is an optional va

[2020-10-17 19:16] mfraggy25 opened #5618 "CREATE_FAILED Resource is not in the state stackUpdateComplete"
**Describe the bug**

I am using `amplify push` and I get the following error:

[code]
I've checked my AWS permissions and have all the stack ones.  Not sure where this is coming from.  I am using amplify version 4.30.0.

Feel free to view my repository if it helps: https://github.com/mfraggy25/photobook

[2020-10-17 19:27] rodrigovcortezi commented on #3399
+1

[2020-10-18 00:52] GregorioMarquez commented on #5423
I ran with the same issue today just by following the instructions on the [tutorial](https://docs.amplify.aws/start/getting-started/data-model/q/integration/vue#create-graphql-api-and-database).
My setup:
macOS Mojave 10.14.6
node --version v10.6.0
npm --version 6.1.0
git --version 2.20.1 (Apple Git-117)

`amplify push
⠋ Fetching updates to backend environment: dev from the cloud.(node:4925) Exper

[2020-10-18 03:23] drakeloud commented on #4724
Confirming that the bug also still exists as of 4.30.0. @UnleashedMind Is this something that the Amplify team can look into?

[2020-10-18 03:49] waynebrantley commented on #5479
One thought would be:
- environment - have the ${env} in the name of the layer as suggested above.  This would mean the checkout code would not have to do anything when checking out different environments (as well as create environment not having to change).
- version - have a variable ${latestVersion} that always points to the latest version of the lambda for the given environment.  This would me

[2020-10-18 04:05] ventinus commented on #684
I'm very close to getting this working but getting an error saying the lambda does not have access to call `getSecretValue` on the secret arn. I can see that the policy document is being inlined as I expect in the lambda execution role. The only thing I can think of is that the error says it's an assumed role trying to call `getSecretValue` rather than the lambda execution role. Am I adding the po

[2020-10-18 04:49] waynebrantley commented on #5609
This would be true for the owner field too I suppose?

[2020-10-18 04:53] waynebrantley commented on #5568
likely because the env needs manually changed in the cloud formation files.
https://github.com/aws-amplify/amplify-cli/issues/5479

[2020-10-18 06:07] zpodolyak commented on #5423
I had an existing project using older Amplify libraries. Everything was building and working correctly. Then, I updated my PodFile to new libraries (1.0.0), built my code, but then I was no longer able to issue an `amplify pull` or `amplify push` thereafter. Furthermore, `amplify status` now claims that all of my resources are in the Create state, even though I haven't changed any of them. I did,

[2020-10-18 07:26] GeorgeBellTMH commented on #5598
I have a lot of lambda's that make use of graphql...it would be nice if I didn't have to update them all manually each time the schema changed...

[2020-10-18 07:32] GeorgeBellTMH commented on #5598
Some examples are - I have a directMessage table lambda trigger, when a new message is created I look up the user and perform some business logic to determine whether or not the message should be sent via an email...currently if the business logic requires more lookups I have to write the queries by hand...likewise I have an activity table that gets updated from triggers of other tables (ie, a new

[2020-10-18 07:46] SourceCode commented on #3326
Our use case/need is that of a scheduled task + Queue worker pattern.  We have other systems sending to SNS alerting one or more SQS that an event has occurred or something has completed.  The user is generally in the amplify zone with heavier work happening outside of it by other systems.  These tasks may contain data that updates their requests/content/state/etc.

I know that this could be scrip

[2020-10-18 13:05] pepso opened #5619 "Amplify CLI 4.30 fails to update backend stack (fails to upload new cloudformation files and hence doesn't execute them)"
**Describe the bug**
Yesterday, using 4.29.8 (as part of Amplify console), amplify CLI uploads new and changed files (cloud formation I assume) and executes cloud update. Today, with 4.30, cloud formation/files are not being uploaded and hence backend fails to update.

Example logs with amplify-cli 4.29.8
2020-10-17T13:53:19.373Z [INFO]: Successfully added environment from your project
2020-10-17T

[2020-10-18 18:02] davebourne commented on #4646
Hi All,

**What Amplify does:**
On push Amplify creates a new 'S3DeploymentRootKey' folder with a unique hash for this push inside your 'S3DeploymentBucket'.

You can see your deployment bucket name in the amplify meta file (yourAppCode > amplify > amplify-meta.json) under 'providers' > 'awscloudformation' > 'DeploymentBucketName'

Amplify creates a new folder under the 'amplify-appsync-files' dir

[2020-10-18 18:36] PeteDuncanson opened #5620 "Should Lambda triggers created via the CLI be assigned to a CloudWatch logs group?"
**Describe the bug**

Generate two Lambda trigger functions via the CLI and neither is available in CloudWatch log viewer as other functions are. Shouldn't it create whatever links it needs so I can log what its doing?

**Amplify CLI Version**

4.30

**To Reproduce**

![image](https://user-images.githubusercontent.com/1674590/96376781-d8718c80-1178-11eb-883f-fae15ca6c3a6.png)

![image](https://use

[2020-10-18 18:47] WillDent commented on #4972
This is the best I could find specific to what you're asking for.

https://medium.com/@fullstackpho/ensuring-usernames-are-unique-in-your-aws-amplify-app-6fff963274

[2020-10-18 19:25] PeteDuncanson commented on #5620
Did some more digging around on this. Seems if I run a test on the Lambda (with the default test event generated via the Lambda UI) then my function will appear listed in the log group and I can click it, I assume that as it hadn't run there was nothing to log? Now I've run it and its got something to log it can show it. However when I click on it I still get the same error about the log group not

[2020-10-18 19:29] chucre opened #5621 "amplify-appsync-simulator - Don't handle error correctly when content has Lexical error"
**Describe the bug**
When the velocity template has a Lexical error and the object error doesn't have the path `e.hash.loc` it throws a generic error: `Cannot read property 'first_column' of undefined`.

**Amplify CLI Version**
The version of `amplify-appsync-simulator` we use is 1.23.3

**To Reproduce**
Map any function or unit to a template with:
[code]
Starts the mock server and you get:
[code]

[2020-10-19 00:03] jamesone commented on #5273
I can confirm: https://github.com/aws-amplify/amplify-cli/issues/5273#issuecomment-689086581 - This worked for me.

[2020-10-19 00:12] kenbankspeng opened #5623 "Dearest amplify-cli"
Dearest amplify-cli,

With all due respects to the complexities you are dealing with, and also to the tremendous potential of amplify-cli, and having every desire for you to succeed, I can only describe the present state of @aws-amplify/cli (I'm currently using 4.30.0, but also true of earlier versions) as brittle and frustratingly difficult to use even in the basics.

My plea to your dev managers

[2020-10-19 00:39] pedramp20 opened #5624 "Granting batch operation permission to a function"
When a function is added by CLI, if **API** is chosen for Question **"Do you want to access other resources in this project from your Lambda function?"** provided options are as follow:
 **( ) create
 ( ) read
 ( ) update
 ( ) delete**
these permissions are reflected in the function-paramerters.json.
However, if batch operations are needed to be performed from the Lambda function, the following er

[2020-10-19 00:43] litwicki commented on #5623
@kenbankspeng dev manager here. First off I want you to know we take this kind of feedback very seriously, and we want to always improve. Thank you for taking the time to share your experiences, and sorry to hear of your frustrations.

Second, I want you to know we are actively working on improvements concerning your third point. Regarding your other comments I would love to have a call/chat with

[2020-10-19 00:50] kenbankspeng commented on #5623
@litwicki Thanks Jake for the fast response, and that on a Sunday. Closing this item as it is really just a message. Very happy to chat.

[2020-10-19 00:50] #5623 closed

[2020-10-19 01:05] duncangroenewald commented on #3923
@loganpowell - not sure this is helpful but I encounter this with certain schema changes and do the following:

1.  remove all schema definition except a single dummy table
2. run 'amplify push' to remove old schema/api and build a new one
3. replace the schema with the new one and repeat to build the new schema/api

Obviously this is a problem if you are in production or need to preserve data - w

[2020-10-19 03:22] sakhmedbayev commented on #5605
@RossWilliams thanks for the advice. It is what I am doing currently. I thought I am doing it incorrectly. Can you tell me please, what happens when I will have a million records of the type `Lesson`? How the data will be distributed among partitions?

[2020-10-19 05:25] lochawala commented on #5599
@yuth yes i am using routers in my react app & UEL change when the page loads

[2020-10-19 05:50] renebrandel commented on #5600
Fantastic feedback @watilde - I'll look into this next week.

[2020-10-19 07:52] RossWilliams commented on #5605
I don't know the answer to how data will be distributed once you have more than 10GB of lessons. But with adaptive capacity now being "instant", this is less likely of an issue.

[2020-10-19 09:59] chucre opened #5625 "amplify-appsync-simulator - Coverage reports"
As we start relying on automated test execution to deploy our application we want to know how well tested are our applications. One of the most common metrics is code coverage. Since AppSync relies on VLT and a very good amount of code is in VLT it will be nice, even mandatory so some companies, have a report for that coverage.

**Describe the solution you'd like**
I like to have a [Istanbul-like]

[2020-10-19 11:44] ianmartorell commented on #1970
I recently accidentally deleted my entire Amplify project including DynamoDB tables and all. Fortunately I able to spin a new project and recover all the data from backups. I'm now looking at how to secure everything so this doesn't happen again. 😂

CloudFormation has termination protection for stacks, but I'm still concerned about individual resources such as tables being accidentally deleted.

[2020-10-19 13:54] ryanhollander opened #5626 "Function command should prompt for extra-amplify permissions configuration."
**Is your feature request related to a problem? Please describe.**
While the amplify cli lets developers easily add permissions to other inter-amplify resources to the cloudformation template for a function, a lot of developers seem to struggle with adding extra-amplify resource permissions. A nice feature would be the ability to define these either at the command line or using a simplified JSON s

[2020-10-19 14:02] ryanhollander commented on #684
@ventinus It's not clear what you are or are not doing so I'm going to run down the gamut. First, make sure your lambda and secret share regions. Otherwise in your lambda you may need to switch regions before querying secrets manager. Now, when I set this up I setup the permission as * (I should probably adjust that!), so it may be that you need another permission like ListSecret or DescribeSecret

[2020-10-19 14:06] ryanhollander opened #5627 "Amplify CLI should support Secrets Manager Configuration"
**Is your feature request related to a problem? Please describe.**
It would be nice if we could configure and manage secrets from the Amplify CLI and add them into our lambda functions and pipeline them in graphql/appsync.

**Describe the solution you'd like**
A cli feature to add and manage secrets at the command line. A feature to manage permission to secrets for functions and graphql pipelines

[2020-10-19 16:23] akshbhu commented on #5619
Hi @pepso

We have suppressed printing multiple **uploading files** . Is there any issue you are facing with this ?
For the backend you can check your S3 deployment bucket.

Let me know if this answers your question?

[2020-10-19 16:53] Nirjhar100 opened #5628 "Unable to clone repository from code commit at BUILD step while deploying to AWS Amplify"
Getting  error on build step for amplify while cloning

<img width="1002" alt="Screenshot 2020-09-20 at 2 05 29 PM" src="https://user-images.githubusercontent.com/22238902/93707246-59257480-fb4a-11ea-9970-260cbd01c74c.png">

I have created a react project repository in code commit and it was working fine with amplify in OHIO server but I had to change the location to us-east-1 and now I cant get i

[2020-10-19 17:53] pepso commented on #5619
Hi @akshbhu

In my project, the time it takes to upload cf-files ("✔ Initialized provider successfully. " to "Updating resources in the cloud. This may take a few minutes...") takes consistently 40-45 seconds with 4.29.8, and it seems new CLI 4.30 gets through that in few seconds. Basically doesn't upload the files and hence doesn't apply them either?

Maybe a more relevant point is that a new dat

[2020-10-19 18:35] evuori commented on #5619
You are not alone Sir.

Updated this morning to 4.30. After tweaking graphql schema and issuing "`amplify status`" CLI says No Change.

I am sorry to say but at this moment I don't have more info around. (I had to pull down quickly back to 4.29.8)

[2020-10-19 19:26] akshbhu commented on #5619
Hi @ pepso

I tried reproducing the behavior with 4.30 and all my schema and resolvers are getting updated. Ill try with projects created with previous versions and update with latest(4.30) one. Can you tell me changes you made so that I can reproduce this on my end?

Hi @evuori

This seems like different issue as it is not detecting changes so the push wont happen if no changes are detected. Can

[2020-10-19 19:50] sapher commented on #3390
@jwoehrle code is a worthy workaround. Sadly amplify has been the clunkiest library I've ever used so far.

[2020-10-19 20:40] #5499 closed

[2020-10-19 21:14] marziamura commented on #5569
This seems to improve the behaviour but I still see changes that look random. I didn't try to understand what steps are leading to these, so I'll close this for now. Thanks for the help.

[2020-10-19 21:14] #5569 closed

[2020-10-19 22:04] jpca999 commented on #4141
Whats the solution to this issue ?

[2020-10-19 22:07] renebrandel commented on #5593
@MainAero - we're about to create a PR for this but wanted to make sure if you want to contribute to provide you an opportunity to do so. Happy to address this either way.

[2020-10-19 22:13] jpca999 commented on #4141
I foudn the solution

put this in the app.js or the index.js  the base file.

![image](https://user-images.githubusercontent.com/1026325/96517373-a9612680-121d-11eb-9369-57676a59184c.png)

[2020-10-20 00:23] drochetti commented on #5634
Hi @chris-mds,

I'm sorry for your frustration and I appreciate you taking the time to report it with all the details and suggestions.

I have reached out to the CLI team so they can evaluate it, since this seems like something that affects all platforms and not only iOS.

[2020-10-20 01:01] duncangroenewald opened #5635 "Generate source file with Input fields"
**Is your feature request related to a problem? Please describe.**
There appears to be no output of the generated schema in human readable format, and in particular the `*Input` field definitions for use with queries and mutations.  Unless I am missing something the only way to get them after 'amplify push' is to use the AppSync console to view the schema and to then copy the schema text to a sour

[2020-10-20 02:30] ignaciolarranaga opened #5637 "@auth cascade for custom resolvers"
**Is your feature request related to a problem? Please describe.**
When you write a custom resolver and you need private authorization, for example:
[code]
You are forced to manually cascade the auth rules down the model, i.e. to add this:
[code]
If you omit all the Auth annotations the query can only be executed authenticated with API (i.e. `API.graphql({... authMode: GRAPHQL_AUTH_MODE.API_KEY })

[2020-10-20 02:57] duncangroenewald opened #5638 "AWSDateTime always NOT NULL"
**Which Category is your question related to?**
Scalar types

I am trying to define an optional property as AWSDateTime in the AppSync api schema but the generated schema always has the property as NOT NULL.  Is it possible to define a nullable AWSDateTime property?

Schema defined in schema.graphql

[code]

Schema copied out of AppSync Console

[code]

[2020-10-20 04:04] evuori commented on #5619
Hey @akshbhu, just tried again with 4.30 and can't reproduce "No Change" issue.
(really don't know what was going on but for sure it was not detecting my schema changes)

[2020-10-20 07:36] michaelbrewer commented on #5566
Note how AWS-CDK does this without bloating the lambda with unused libraries : https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-lambda-python

As a develop you just need to have Docker installed.

[2020-10-20 07:55] AtomicSimon commented on #3390
Any news on getting this implemented? Overriding the amplify config manually is a time-consuming process for a feature that should already be there.

[2020-10-20 07:58] bmvdeveloper opened #5639 "Can't update notifications category"
**Describe the bug**
Cannot update or add a new notification channel via cli.

When running `amplify update notifications` and select `Email` results in `No resources to update.`

When running `amplify add notifications` results in `Notifications is migrated from Mobile Hub and channels cannot be added with Amplify CLI.`

**Amplify CLI Version**
4.30.0

**To Reproduce**
Steps to reproduce the beha

[2020-10-20 08:03] bmvdeveloper opened #5640 "TypeError: updateWalkthrough is not a function"
**Describe the bug**
Running `amplify update analytics` and selecting `Amazon Pinpoint` results in:
[code]

**Expected behavior**
Be able to update analytics.

**Screenshots**
<img width="468" alt="Screen Shot 2020-10-20 at 1 05 50 AM" src="https://user-images.githubusercontent.com/53025018/96558412-7b590200-1270-11eb-8d7b-3c3368fc6e98.png">

**Amplify CLI Version**
v4.30.0

**To Reproduce**
run `

[2020-10-20 08:20] sapher commented on #3390
Here's from the documentation.

With the COGNITO_USER_POOLS authorizer, if the OAuth Scopes option isn't specified, API Gateway treats the supplied token as an identity token and verifies the claimed identity against the one from the user pool. Otherwise, API Gateway treats the supplied token as an access token and verifies the access scopes that are claimed in the token against the authorization

[2020-10-20 08:36] hutber opened #5641 "Failed to start API Mock endpoint InternalFailure: The request processing has failed because of an unknown error, exception or failure."
When I try to start my local mock service I will recieve the follow message:

[code]
This has only been a problem in the last few days. Removing amplify completely and doing a `amplify init` will temporarily fix the issue. I have not been able to work out why/how this error occurs or the steps to make it happen.

4.29.7

**To Reproduce**
It is not clear to me on how to reproduce this currently.

I

[2020-10-20 10:09] oras commented on #3390
Hi how can I get  those tokens in Android  Java ?

[2020-10-20 12:01] Nxtra commented on #1924
I can imagine many usecases where data is always accessed by only its owner.
Even a small Todo-app would only show the users' todo's.

Hence, it makes sense to allow us use the owner field as the partitionKey and have Amplify fill it in for us.
Now the owner has to be send from the client side. But I can live with that since you can read it from the token or the userAttributes.

[2020-10-20 12:05] Nxtra commented on #1924
However I don't understand the security risk..

If the Owner is send from the client side, he will still be only be able to create items with his own name as owner attribute.
Since this is verified in the resolver where authorization is only given when `$allowedOwner == $identityValue`.

@janhesters ,  I think I am missing your point here. Can you elaborate a bit more on the security risk that you

[2020-10-20 12:12] Nxtra commented on #652
Indeed, it's a workaround but it works for me. Thanks.

[2020-10-20 15:50] pmadhav commented on #4936
@edwardfoyle @ammarkarachi Is there any update on this issue? I still see it in `pending-triage` state for over a month.

[2020-10-20 16:36] yuth commented on #5578
If you look at the permission documented [here](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-batch.html#permissions) internally AppSync  uses `dynamodb:BatchWriteItem`. With `BatchWriteItem`, you can overwrite an item, but you will have set all the fields. So your resolvers will have to set all the fields even when its an update

[2020-10-20 17:03] isbkch opened #5642 "Autogenerated files discard previous changes"
**Describe the bug**
Once you use Amplify CLI to add some services, say an API, Amplify will generate a cloudformation-json template to build the stack.
If you are to change something within that template manually and then use the CLI to edit the service, you lose your manual changes

**To Reproduce**

1. Add a service through the CLI
2. Go to the generated cloudformation file
3. Change something

[2020-10-20 17:18] teezeit commented on #2973
Hi @kaustavghosh06. In my case I need to modify the lambda Cloudformation (add permissons, eg. `"cognito-idp:AdminCreateUser"`).

What is the procedure?

Should this file not be independent of the amplify environment, like all other `xxx-cloudformation-template` files?

[2020-10-20 17:23] marianolc commented on #2227
+1 Would be this the place to store third party api credentials?

[2020-10-20 19:32] alexboulay opened #5645 "amplify push does not preserve annotations/comments within schema.graphql"
**Describe the bug**
I define my schema, I add supportive documentation, because a good GraphQL API includes type and field descriptions which can be viewed through GraphiQL for example.

**Amplify CLI Version**
4.29.3

**To Reproduce**
Create amplify project
Create GraphQL API
Use `Single object with fields (e.g., “Todo” with ID, name, description)`

Then, annotate the example schema.
[code]

Fin

[2020-10-20 21:01] r0zar opened #5646 "Pain points summary from an external contributor."
_While most Issues are about quadrant 1, I'm going to be discussing quadrant 2_

![image](https://user-images.githubusercontent.com/4655474/96640416-bc8cf880-12e8-11eb-88ca-e41939c5c39d.png)

# Overview
As a contributor to amplify-cli, I've noted a few pain points that both create friction for new developers to begin working on real bug fixes in the framework, and slow down the velocity of experie

[2020-10-20 21:33] stayingcool commented on #401
How about this functionality for RDS/Aurora? As of now, I'm creating the table fields manually. It'll be great to have this automatically taken care of by amplify.

[2020-10-20 21:52] renebrandel commented on #5646
hi @r0zar - thanks for summarizing this feedback! This will help us to rethink some of the current processes internally. I have a few follow-up questions to get more details:

3. I'll bring this up with the team. I assume you mean the requirements around the commit names etc?

4. Our CI integrations are increasing, we've done some optimizations to parallelize them to speed up the builds & tests bu

[2020-10-20 22:11] litwicki commented on #5646
@r0zar as @renebrandel said, thanks very much for such a thoughtful post. @renebrandel and I are going to dive deep into your feedback here. We take this very seriously and particularly the parts on the complexity of the codebase and the architecture are things we are already starting to discuss and put serious effort into improving.

[2020-10-20 22:14] johnEthicalTechnology commented on #5578
Great, thanks for that!

[2020-10-20 22:14] #5578 closed

[2020-10-20 22:22] r0zar commented on #5646
3. Mainly the whole process of not being able to commit unless using the guided process run by using `yarn/npm run commit` It takes me a couple tries per commit to get it right. If I mess up I have to start over. Dealing with the hidden character limits. Not knowing what component I should assign. Feeling responsible to look through 800+ commits to see if my issue interacts with any of them. Etc.

[2020-10-20 23:05] jamesonwilliams commented on #5646
Thank you for sharing this feedback, @r0zar! I resonate with much of this. _Some_ of these bullets have unique affinity to the Amplify _CLI_. However, I see the majority of this feedback as being cross-cutting to the Amplify projects as a whole. We who focus on the Amplify client libraries can also benefit from this discussion. cc: @jpignata @sammartinez @drochetti.

[2020-10-20 23:54] willofsound commented on #4939
I to would love this feature :)

[2020-10-21 00:29] dannygoncalves commented on #1373
Incredible how still today this doesn't have a potential solution, I'm stuck on the same thing, can't push to an existing bucket (which is a requirement) or don't know-how.
@matwerber1 did you figured out how to do this?

[2020-10-21 01:50] berenddeboer commented on #5618
As it says: you are running `amplify push` with a user that simply does not have these permissions. This is not an amplify thing. Look in `amplify/.config/local-aws-info.json` and see what identity you are using for pushing.

[2020-10-21 02:17] nicolasheady commented on #2941
You ever fix this? I've been having this same issue for two days now...

[2020-10-21 03:18] kaustavghosh06 commented on #5599
@lochawala  Are you using Amplify console hosting or S3+Cloudfront hosting option from the CLI?

[2020-10-21 03:24] kaustavghosh06 commented on #5552
@PeteDuncanson You can use "amplify push --yes" to avoid answering yes to all the questions in the CLI each time. As @undefobj mentioned using "amplify mock" is a great way to speed up the feedback loop for your API development. Could you explain in more detail why you weren't able to use mock?

[2020-10-21 03:28] kaustavghosh06 commented on #5481
@aedrianescultura Answers to both your questions:
Q: Is there a way to disable the Cognito User Pool as one of the Identity Providers?
Answer: No - we do not support this as a feature today as we've not seen many customers using this pattern to disable cognito user pool login and only allow social login - I'll mark this as a feature request and if there are more customers needing this we can add i

[2020-10-21 03:30] kaustavghosh06 commented on #5432
@pankaj-crypto Since we don't support SES out of the box in the Amplify CLI today, you'd have to manually go into `amplify/backend/functions/<function-name>` resource and update the LambdaExecution policy to add your desired SES policies.

[2020-10-21 03:35] kaustavghosh06 commented on #5291
@christodupreez Are you still stuck on this? We automatically point to the default option which you'd originally selected in the update auth flow.

[2020-10-21 03:38] kaustavghosh06 commented on #5270
@kannieWeesNie Are you still stuck on this issue? Did you get a chance to visit your CloudFormation AWS Console and see what's going on with your stack?

[2020-10-21 03:40] kaustavghosh06 commented on #5204
@Ricardo1980 Looks like you're manually creating these resources and not using the Amplify CLI. Which SDK/Library are you using on your client app?

[2020-10-21 03:44] kaustavghosh06 commented on #5019
Closing due to lack of response.

[2020-10-21 03:44] #5019 closed

[2020-10-21 03:47] kaustavghosh06 commented on #5112
Closing due to lack of response.

[2020-10-21 03:47] #5112 closed

[2020-10-21 04:06] #5284 closed

[2020-10-21 04:22] meop commented on #5577
I was able to get past this situation by downloading the `#current-cloud-backend.zip` file from the S3 bucket Amplify was using, extract it, manually remove the old, deleted-according-to-amplify-cli functions.. then zip again and overwrite this file in the S3 bucket. That seems to have fixed the situation. However, not sure if this will have any further consequences.

[2020-10-21 05:04] lochawala commented on #5599
Hi @kaustavghosh06
I am using Amplify console hosting

[2020-10-21 05:17] kaustavghosh06 commented on #5599
@swaminator @litwicki Have you'll seen this issue with Amplify Console Hosting before?

[2020-10-21 08:08] kannieWeesNie commented on #5270
@kaustavghosh06 Thanks for the help. I gave up as I was spending too much time on the problem. When I have some spare time I will revisit the issue and see if I can determine what's happening.

[2020-10-21 09:21] Ricardo1980 commented on #5204
@kaustavghosh06 No, I am using Amplify CLI to create analitycs (pinpoint) and auth (cognito).
The only manual thing I am doing is the 4 lambda functions for cognito because I activated (again, from amplify CLI) a custom auth flow. I don't know if that is related.
Do I try to reproduce the issue in a clean project?
What do you suggest?

[2020-10-21 09:29] Ricardo1980 commented on #5019
@kaustavghosh06
"You can formulate your own email link and attach the one-time code to the URL and then form the client/website itself use custom-auth to authenticate the user utilizing the pre-auth trigger."
The thing is, I don't want to use the email for login. Let me reformulate my question:

Is it possible to have passwordless login (using phone number, no email/password/username for login) an

[2020-10-21 10:53] michaelworm commented on #2998
Same problem for me, how can we delete Amplify environments when the stack is gone and the enviroment was not created via cli but via console?

[2020-10-21 10:59] RossWilliams commented on #5646
Some additional contributor pain points:
1. e2e tests, especially mock projects, print too many log lines. For new users this wall of text can be hard to parse. Ideally only failing tests should print log lines.
1. Development environment setup instructions seem to be missing instructions. Did I notice recently that e2e tests now require Dynamo Local to be running? I didn't see any explicit instru

[2020-10-21 13:27] ventinus commented on #684
@ryanhollander thank you for your response, it worked using `"*"` for resource. I experimented a bit more with this and I am using the `parameters.json` file to pass the value of the secret id to the CFN template and I see it being logged correctly from within the lambda but when the function errors calling `getSecretValue`, the arn of the requested secret resource included some kind of hashing af

[2020-10-21 13:57] ryanhollander commented on #684
@ventinus you're welcome!

I'm not sure I understand this part: I am using the parameters.json file to pass the value of the secret id to the CFN template

I may not completely understand what you are doing, but if it helps, all I do is add the permissions and call secretsmanager inside my lambda with the secretid (not the ARN), what is returned is a JSON object that has several bits of data in it

[2020-10-21 14:08] meetrij opened #5650 "Auto generated id is getting by default"
**Describe the bug**
Automatically generating `id` when defining graph model

This is my original schema
[code]

After amplify publish when I checked it from aws console Appsync schema section seen this
[code]

An extra row item `id` is generated which I don't need

**Amplify CLI Version**
4.29.2

**Expected behavior**
I should get like this
[code]

[2020-10-21 15:20] PeteDuncanson commented on #1865
I've been thinking about this one as its an area in our product development we are now getting to. I'd like to warm this up with a few options that hopefully might lead to something. Like a lot of others I'd just assumed that this would be trivial, a fault of my not understanding document databases well enough I guess. Its a bit of a trap to fall into when so far down the line of developing, try t

[2020-10-21 15:31] passedByMe commented on #2935
we are at the second wave of god damn covid!
this thing is still not working...

[2020-10-21 15:40] sw-yx opened #11327 "[Request] `amplify mock` local dev server for REST APIs"

[2020-10-21 15:51] undefobj commented on #5645
Hi @alexboulay this is actually a feature that the AppSync team has in their backlog as the storage of the schema once pushed to the service is outside the control of the Amplify CLI. Please open an issue in the AppSync Community Feedback if you would like to make this more visible to the service team: https://github.com/aws/aws-appsync-community

[2020-10-21 15:51] #5645 closed

[2020-10-21 16:00] kldeb commented on #3146
I didn't find any mention of this condition in the docs btw.

[2020-10-21 16:16] funkel1989 commented on #372
Is their any update to the ability to add auth on a many to many schema design? multiple users to multiple posts. User is always an individual so owner by Id will work there but a post could be owned by many users so it has to look for the postEditor type for the owner field. I believe this is what is being described above.

[2020-10-21 16:17] litwicki commented on #5599
@lochawala what is your "build" folder for your app, and the `baseDirectory` directory on your buildspec?

This can happen for a couple reasons. The most common is that the `baseDirectory` directory is set incorrectly in the buildspec file.

[code]

[2020-10-21 16:51] aedrianescultura commented on #5481
@kaustavghosh06 I do use callback and signout URLs.  However, there was an instance where I needed to remove one of the URLs  and I did not find a way to do this from the CLI.

[2020-10-21 17:19] #5046 closed

[2020-10-21 17:19] #5444 closed

[2020-10-21 17:31] benkehoe commented on #4488
You may be able to use [aws-sso-credential-process](https://github.com/benkehoe/aws-sso-credential-process) with `AWS_SDK_LOAD_CONFIG=1` set to enable AWS SSO credentials to be used.

If that doesn't work, there is a workaround, developed for the CDK (which has the same problem): https://github.com/aws/aws-cdk/issues/5455#issuecomment-713643500

[2020-10-21 17:40] Kozek commented on #4765
I'm facing the same issue with update mutations.

**Backend:**
- Api
- Auth
- Auth User Pools Groups

**Amplify CLI Version**
4.30.0

**Desktop:**
OS: MacOS Big Sur (Tested on Catalina before)
Node Version: v10.16.3

**Additional context**
I tried it with example schemas created by the amplify cli and even with more complex or other types of attributes.
The confusing thing is that the _version tag

[2020-10-21 17:58] Kozek commented on #4765
Well I'm happy that my blind hope worked (at least for a simple todo object) but that should be written somewhere in the docs.
After disabling conflict detection the DataStore DynamoDB table got removed, what I expected but that doesn't explain why the API is not merging the changes correctly or is that wanted for auto merge?

[2020-10-21 18:13] pascut commented on #5522
I have the same problem.

I need the nested data for the many to many relationship. There should be a function like: **withAll()** or **with(['first-relation-name', 'second-relation-name',..])** . Some functions like these will help a lot. Or you can just returned the nested data by default.

Is there a workaround? Has someone found a way to make this work?

Thanks.

[2020-10-21 18:16] ventinus commented on #684
Apologies for the lack of clarity, I'm defining the secret id in parameters.json so it lives in an easy to find place to update and I inject that parameter value as an environment variable to the lambda as well as in IAM policy.

[2020-10-21 18:20] ryanhollander commented on #684
@ventinus oh I see now, good idea. Thanks for clarifying.

[2020-10-21 19:06] renebrandel commented on #3977
⭐  ⭐  ⭐
Hi folks - we've officially released Cognito User Pool & Identity Pool imports. Would love to get your thoughts on this. Next up we'll tackle storage imports.

Blog post: https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/
Docs: https://docs.amplify.aws/cli/auth/import
⭐  ⭐  ⭐

[2020-10-21 20:08] RossWilliams commented on #1865
tl;dr; - You should create a Lambda resolver for this field and share your code for others to start from. I don't see an automated solutions fitting in well to the project without significant effort and problems to overcome

@PeteDuncanson you are an excellent writer and I thoroughly enjoyed reading this. My thoughts and responses are a lot more scattered, but let me try to explain my crazy ideas

[2020-10-21 20:12] RossWilliams commented on #5650
@meetrij how do you want to identity this item in the database? Do you want compPromId to be the primary key? If so, you need to add @key(fields: ["compPromId"]) directive to the object

[2020-10-21 20:19] undefobj commented on #5652
This should be possible by using the User Groups functionality in Amplify CLI and then granting permissions in the Storage category itself: https://docs.amplify.aws/cli/auth/groups#group-access-controls
The CLI workflow will allow you to leverage CRUD style permissions for your Admin group or alternatively you can override the IAM policy for that group directly with the `user-pool-group-precedence

[2020-10-21 21:37] wei commented on #5483
I can reproduce with CLI 4.30.0. The solutions above works great!

[2020-10-21 22:08] ahtokca commented on #1181
Any progress?

[2020-10-21 23:11] arkllc commented on #5468
@nikhname @ammarkarachi could you please provide guidance in the meantime until this is fixed. If it's going to be fixed soon then I will wait it out. Else I have to change my implementation. Please let me know ASAP.

[2020-10-21 23:30] UnleashedMind commented on #5617
You need to quit the current local mock session before you run `amplify push`, `ctrl+C` will do.
When you start a mock session,[ the frontend config ](https://docs.amplify.aws/cli/usage/mock#config-files )files are changed by the CLI to point to the locally mocked resource, if you run `amplify push` while you are still in a mock session, the frontend config file will be uploaded to your hosting bu

[2020-10-21 23:37] nikhname commented on #4072
I was not able to reproduce this with 4.30.0. Please comment if this is still an issue.

[2020-10-21 23:38] UnleashedMind commented on #5618
@mfraggy25
What @berenddeboer  said is correct.
The user configured the Amplify CLI to execute the command for you does not have the proper permissions.
You can open the IAM console and find out the user permission, make sure the policy statement cover all the permissions documented [here](https://docs.amplify.aws/cli/usage/iam).

[2020-10-22 00:05] UnleashedMind commented on #5620
It's exactly what you have found out, if the functions are not invoked yet, there is no log for them, so you won't be able to find any record in the CloudWatch.

[2020-10-22 00:11] UnleashedMind commented on #5639
Is your project migrated from Mobile Hub as stated in the error message?

[2020-10-22 00:29] tomhirschfeld opened #5656 "All builds/deploys fail after change to amplify.yml"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I made a change to amplify.yml to allow cypress testing, and now all of my builds are failing because amplify init cannot find src/package.json on a lambda layer

logs:

[code]

**Amplify CLI Version**
4.30.0

**To Reproduce**
Steps to reproduce the behavior or terminal output if app

[2020-10-22 00:36] tomhirschfeld commented on #5656
to clarify, the file it is looking for `{ Error: ENOENT: no such file or directory, stat '/codebuild/output/src178161676/src/wesponsored-web/amplify/backend/function/shared/src/package.json'` is part of a lambda layer, so src/package.json doesn't exist, and hasn't existed

[2020-10-22 00:44] jingxizhang commented on #5528
Yes, I am also having the problem. It is not just the root level, the list object function returns deny access error whatever the prefix is.
The problem is that the resource: yourBucketName/* gives the permission for action INSIDE the bucket but not the permission for the action ON the bucket.
Adding another policy with resource: yourBucketName solves the problem.

[2020-10-22 01:38] tomhirschfeld commented on #5656
seems to be working again, needed to set CLI version from 4.30.0 to 4.29.0

[2020-10-22 02:21] jesuscovam opened #5660 "What is the difference between the AppSync @key and the $filter option in each query"
What is the difference between these options, my intention is to choose the right one for each case, thanks for your time!

My context: I'm building a input to search products

**Which Category is your question related to?**
App-Sync

**Amplify CLI Version**
4.30.0

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
![Screen Shot 2020-10-21 at 9 18

[2020-10-22 04:19] #5551 closed

[2020-10-22 05:57] undefobj commented on #5660
`@key` will create indexes in the backing database (DynamoDB) and perform queries over those indexes. This is an optimized pattern, but requires you to have a bit more understanding of your data model up front.

Filters run over the returned data after executing a query (or a scan in list operations). They can help "filter down" your result set at the server before returning it to the client.

[2020-10-22 06:13] kaustavghosh06 commented on #5270
Okay, please let us know if you need further help. Closing this issue for now.

[2020-10-22 06:13] #5270 closed

[2020-10-22 06:20] kaustavghosh06 commented on #5182
@Hideman85 Do you think you can submit a PR for this based on the changes you've made above in your fork? Our team would be happy to review and provide feedback for the same.

[2020-10-22 06:22] kaustavghosh06 commented on #5097
@Stevenje @Zablas I've experienced this exact same issue when I'm modifying files in `amplify/#current-cloud-backend/..` directories instead of files in `amplify/backend/...` :) Could you please check again if that's not the case?

[2020-10-22 06:34] kaustavghosh06 commented on #4896
@jonperryxlm Apologize for the late response. We don't support ETL solutions out of the box today with the Amplify CLI and this is an interesting use case and I'll mark this as a feature-request for our team to consider. Having said that, we do support the first half of your ask out here which is "DynamoStream (@model backed) => Lambda" integration and then in the Lambda you can choose to perform

[2020-10-22 06:36] kaustavghosh06 commented on #3922
@jimcal Are you using AWS SSO as well. As a workaround could you try out this recommendation out here - https://github.com/aws-amplify/amplify-cli/issues/4488#issuecomment-713736827 ?

[2020-10-22 06:37] kaustavghosh06 commented on #3999
@domezi Please let us know if you're still facing this issue. Closing this issue for now due to lack of further response.

[2020-10-22 06:43] kaustavghosh06 commented on #3816
@MontoyaAndres Apologies for a late response. Are you still stuck on this? Did you push the schema with @model on the Box and then add the @key in a subsequent push?
Yes, @key is possible to add with a subsuquent push only if it's a GSI and the way you're adding the @key - it looks like a GSI. Could you please try this out with the latest CLI version and see if you're getting the same error? These

[2020-10-22 06:47] kaustavghosh06 commented on #3933
@kimfucious Apologize for the late response on this. The Amplify CLI creates the aws-exports.js for you which you can then use with your Amplify JS lib. If you intend to do this manually, you can construct an object in memory or have a file of your own as you mentioned above - which you can then can export and use as a part of your `Amplify.configure()` function.

[2020-10-22 06:54] kaustavghosh06 commented on #3933
Also, for the callback/signout URLs for different frontends I've seen customers be smart of splitting the redirectSignIn and redirectSignOut string and filter out the required URL's dynamically on the URL and then re-configure the Amplify client using the `Amplify.configure(<modified-object>)` call.
Having said that, this is still a workaround and the CLI + libraries can  do a better job  of handl

[2020-10-22 06:56] #5618 closed

[2020-10-22 07:00] kaustavghosh06 commented on #4435
@user32-2 The Storage trigger is an async process and there isn't a simple way to get it back as a part of your Storage.put() call which you make from your client. You'd need to either use some sort of a notification system to get a response back to your client. You can use DDB to maybe track a unique jobId or use SNS - but Amplify doesn't provide an out of a box solution for it at the moment.

[2020-10-22 07:01] #4435 closed

[2020-10-22 07:06] kaustavghosh06 commented on #4468
Responding to both your questions below:

What happens when you want to change or update the primary key?
After your initial @model creation, currently you won't be allowed to change it due to DDB limitation. You'd have to remove the @model do a deployment (which will result in the DDB deletion) and then re-add the @model with the changed primary-key schema with @key. You'd have to backup the data

[2020-10-22 07:10] kaustavghosh06 commented on #4220
@kevcam4891 It's a bit more nuanced than that. Basically if we don't have any updates in the CloudFormation template itself for a changed Lambda function - then CloudFormation won't consider that as an update - hence we use a new hash for every new update to the function src code and place it in the CloudFormation template to force an update and deployment for Lambda.

[2020-10-22 07:14] kaustavghosh06 commented on #4159
@hello2all Are you still stuck on this issue? For non-model types you can use @aws_iam decorator and the transformer will passthrough this directive. cc @attilah

[2020-10-22 07:16] kaustavghosh06 commented on #4925
@gHashTag Are you still stuck on this?

[2020-10-22 07:19] kaustavghosh06 commented on #2448
@mooser Looks like you'd setup oAuth domain using the Amplify CLI but also modified your aws-exports.js file manually to have your custom domain. In this case the value configured in the Amplify CLI takes precedence and on a subsequent push the oAuth domain value will be replaced in the aws-exports.js file. We don't support custom-domains for oAuth from the Amplify CLI out of the box yet but we ha

[2020-10-22 07:19] #2448 closed

[2020-10-22 07:22] kaustavghosh06 commented on #4543
Closing due to lack of response.

[2020-10-22 07:22] #4543 closed

[2020-10-22 07:22] kaustavghosh06 commented on #4534
Closing due to lack of further customer response.

[2020-10-22 07:22] #4534 closed

[2020-10-22 07:32] #3999 closed

[2020-10-22 08:08] bhaveshdaswani93 commented on #4322
creating a User with administrative access is very dangerous. My client account got Un-Authorized access due to this and his account got suspended we wasted 4 to 5 days figuring out and fixing it.
I would recommend to change the Default IAM user permission to as minimum as possible.

[2020-10-22 09:13] chantlong commented on #4820
I ended up making a custom plugin that notifies Slack if you do not use AWS Amplify Console.

https://www.npmjs.com/package/amplify-push-slack-notifier-plugin

[2020-10-22 10:24] PeteDuncanson commented on #5552
Running the mock and realising that it would re-compile the schema every time I made a change seemed helped a lot. It stopped me making silly errors/typos and catching them early. I was previously only seeing errors when I pushed and then the error messages where very vague which made debugging frustrating.

Some ideas for improvements on that could be:
* Pushing will fail if the schema is invalid

[2020-10-22 10:25] kimfucious opened #5662 "Can't create a lambda function with python runtime"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Trying to `amplify function add` a lambda with a python run time, and the moment I select the option for python, the following error is thrown:

[code]
I've installed python 3.9 on the Windows 10 system and have updated the PATH to include both `...\Python39` and ...\Python39\Scripts

[2020-10-22 10:33] PeteDuncanson commented on #5620
Well that is good to know. Thanks for the confirmation :)

[2020-10-22 10:33] #5620 closed

[2020-10-22 10:38] Finneah commented on #5483
Change to `./`didnt worked for me.
`amplify codegen` also failed because of `EROFS: read-only file system, mkdir '/graphql'`

Funny but my solution was to mock first.
1. `amplify mock api`
2. `amplify push`

https://docs.amplify.aws/start/getting-started/data-model/q/integration/react-native#deploying-the-api

To test this out locally, you can run the mock command.

[2020-10-22 11:09] wei commented on #5483
@Finneah

1. Change `/` to `./` in `amplify/.config/project-config.json`
2. Remove `.graphqlconfig.yml`
3. Run `amplify codegen add`
4. Run `amplify push`
Alternatively, start fresh and use `./` as both directory paths

I think the file in step 2 is cached so you have to remove that too.

[2020-10-22 11:31] kimfucious opened #5663 "Amplify push fails with Connection timed out after 120000ms"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I just upgraded amplify cli to 4.30.0, from a few versions back, and now I am unable to perform an `amplify push` that I was able to do prior to the upgrade.

The following error is thrown:
[code]
**Amplify CLI Version**
4.30.0

**To Reproduce**
Upgrade to v 4.30.0
Run and amplify pu

[2020-10-22 11:41] Stevenje commented on #5097
hey @kaustavghosh06 unfortunately I had to move away from amplify - but if it helps the only file I edited was `schema.graphql` file and was trying to push updates from that. Not sure if thats in both locations. Hope that helps.

[2020-10-22 12:04] kimfucious commented on #3933
Thanks for the feedback @kaustavghosh06

What I've wound up doing, for the project for which I opened this ticket, is the following:

In the webapp (where the backend is maintained), I've gone full manual with the awsconfig.  I'm using environment variables to perform conditional configuration for dev, staging, and prod.

In the native app (React Native using Expo), I've resorted to using npm scri

[2020-10-22 12:05] Finneah commented on #5483
@wei
I tried both. But without step 2. Change the dir and make a fresh start with changed dir didn’t worked. But with Step 2 it’s a good idea. I give it a try next time 👍

[2020-10-22 12:30] kimfucious commented on #4220
It's been a while since I opened this, and I've learned a few things since then.

What I'm doing now (for this project) is the following:

1.  Do all dev work locally in the git "dev" (i.e. feature) branch in the amplify "dev" environment.
2.  I re-use the amplify "dev" environment, because working on a new feature branch requires the re-setup of lambas (e.g. env vars).
3.  I don't ever change amp

[2020-10-22 12:31] jesuscovam commented on #5660
@undefobj thank you!

[2020-10-22 12:43] MontoyaAndres commented on #3816
Too late, but, I have implemented @key in other projects and it's working fine... :)

[2020-10-22 13:47] flogy commented on #926
@zjullion Thought the same thing at first, but it seems that AWS Amplify actually offers a way to implement such a `@ttl` directive by ourselves. They call them transformers as well. See this paragraph in the documentation: https://docs.amplify.aws/cli/plugins/authoring#custom-graphql-transformers

[2020-10-22 13:57] #5660 closed

[2020-10-22 14:49] CryogenicPlanet opened #5664 "Amplify Configure WSL 2 does not create IAM User"
**Describe the bug**
When using `amplify configure` and creating an IAM user in WSL 2, the link that automatically opens in browser **does not create the IAM user.** However, the link displayed in the terminal is correct and when pasted into the browser does create the IAM user

**Amplify CLI Version**
`4.30.0`

**To Reproduce**
1. Get windows subsystem for linux https://docs.microsoft.com/en-us/w

[2020-10-22 15:18] sw-yx opened #5665 "UnhandledPromiseRejectionWarning: NoSuchBucket: The specified bucket does not exist"
**Describe the bug**

When I run `amplify init` on a cloned project, I should not see ugly unhandled promise rejections. I would also expect the command to run to completion or error, not hang.

**Amplify CLI Version**
v4.28

**To Reproduce**

1. git clone https://github.com/sw-yx/demo-amplify-storage-file-upload and npm install
	- note that this repo has the default `gitignore` given by amplify
2

[2020-10-22 15:30] sw-yx opened #5666 "Respect Ctrl+C during `amplify init` or `amplify push`"
**Is your feature request related to a problem? Please describe.**

When I run `amplify init` or `amplify push` and **realize it is hanging** or that i have made a mistake **while it is executing something in the cloud**, a standard CLI workflow is to `ctrl+C` to kill the process and restart. i would like this to actually work.

currently i have to kill the entire terminal process i am working on.

[2020-10-22 15:30] sw-yx commented on #5665
related issue - since the "initializing your environment" hanging is bothering me - https://github.com/aws-amplify/amplify-cli/issues/5666

[2020-10-22 15:32] flogy commented on #926
I'll try to build this: https://github.com/flogy/graphql-ttl-transformer

Make sure to leave a ⭐️ to motivate me a bit 😉 Thanks!

[2020-10-22 15:37] kimfucious commented on #5663
FYI: rolling back to 4.26.0 got me back to pushability...  I'll forward until it breaks and report back, time-permitting.

[2020-10-22 15:39] xavierraffin commented on #4952
Hey bot, this issue is still occuring

[2020-10-22 15:51] chrisjprior commented on #4874
Auth directives are applied to the Model*Connection types as part of the process which adds them to the nested type's Query operations. What this means is that when there are no Query operations, the auth directives don't get applied to the Model*Connection type which leaves you with default authorization on that type.

The field level @connection directive will apply auth directives to the field

[2020-10-22 15:54] ammarkarachi commented on #5666
@sw-yx What version are you using? we do handle `SIGINT` and exit the process.

[2020-10-22 15:56] ammarkarachi commented on #5666
![image](https://user-images.githubusercontent.com/56042290/96898388-82386e00-1444-11eb-91fb-eea077e6a6e2.png)

[2020-10-22 16:13] sw-yx commented on #5666
4.28 - i should clarify that this is specifically during parts where there is a spinner, like "Initializing Environment"

![image](https://user-images.githubusercontent.com/6764957/96900326-8e641000-14c4-11eb-99aa-1292ff0c8747.png)

[2020-10-22 16:17] ilyagru commented on #1865
At an even higher level, imagine a developer (e.g. me, or a start-up – this is the target audience of AWS Amplify, right?) who creates an app which is basically a social network. There people can follow each other, create posts and like and write comments for those posts. This is pretty basic scenario/logic. And for this kind of apps displaying follower, like and comment count is quite crucial. Of

[2020-10-22 16:20] ammarkarachi commented on #4952
I will mark this as a bug the CLI needs to switch profiles automatically for the corresponding environment,

[2020-10-22 16:28] ammarkarachi commented on #5666
@sw-yx It's the spinner swallowing the CTRL+C, I will mark this as a bug and figure out a way for the spinner to not swallow the `SIGINT` event.

[2020-10-22 16:31] tacnoman commented on #2626
I have a similar issue, but the error is in domainName
I added a new endpoint to api using `amplity update api`, but when I try to push I receive this error message:

[code]

And the last error message is:

[code]

Someone may help me?

[2020-10-22 16:48] tacnoman commented on #2519
I have a similar issue, but the error is in domainName
I added a new endpoint to api using amplity update api, but when I try to push I receive this error message:

[code]

And the last error message is:

[code]

Someone may help me?

[2020-10-22 16:55] tacnoman commented on #5011
I have a similar issue, but the error is in domainName
I added a new endpoint to api using amplity update api, but when I try to push I receive this error message:

[code]

And the last error message is:

[code]

Someone may help me?

[2020-10-22 16:58] angelinfante commented on #5483
Thank you very much @testflyjets !!!

[2020-10-22 17:21] #5540 closed

[2020-10-22 17:22] #4818 closed

[2020-10-22 17:23] UnleashedMind commented on #4753
Closing the issue for now, please open a new issue if you are still blocked.

[2020-10-22 17:23] #4753 closed

[2020-10-22 17:25] UnleashedMind commented on #5617
@dlamon1 since you put a thumb up I'm going to assume the question is answered.
I'm closing the issue, feel free to open a new issue if you are still blocked.

[2020-10-22 17:25] #5617 closed

[2020-10-22 17:27] UnleashedMind commented on #5511
Closing the issue now for lack of response.
Feel free to open a new issue if you still need help with your project.

[2020-10-22 17:27] #5511 closed

[2020-10-22 17:43] alexboulay commented on #5572
Thanks for your help @yuth! I was able to follow your examples easily. However, I am now facing some limitations and I would love your input.

I have this schema:

[code]

What I would like to do is be able to use listPersons and/or searchPersons and filter by the one or more DefinedTerm. However, it seems that the filter option doesn't support nested objects, only primitives. I have multiple othe

[2020-10-22 17:59] nikhname commented on #5663
Hi @kimfucious, do you have lambda layers configured in your project?

[2020-10-22 18:14] wei commented on #5483
[Docs](https://docs.amplify.aws/start/getting-started/setup/q/integration/react-native#initialize-a-new-backend) updated in aws-amplify/amplify-cli#5483.
CLI update is pending in #5654.

[2020-10-22 18:27] akshbhu commented on #5641
Hi @hutber

Can you try with latest version to see if this issue persists? From the error, it looks like issue with DynamoDb Local.
Also can you tell which java version you are using and what categories you added so that I can also reproduce this on my end

[2020-10-22 18:36] hutber commented on #5641
Thanks @akshbhu

To fix this, currently I just ended up removing the amplify folder completely and pulled down from AWS. This did fix the issue, I've had it come back a few times, so when that happens again. It may well be that I don't have the error again since moving to the newer version :)

I renamed the folders, so I still have those saved locally. I can upload them to a drive if you'd access

[2020-10-22 19:09] akshbhu commented on #5641
Hi @hutber

Good to know that it worked for you. I am closing this issue for now, if the problem still persists with the new version , fell free to comment and i'll open the issue again.

[2020-10-22 19:09] #5641 closed

[2020-10-22 19:19] kaustavghosh06 commented on #926
@flogy Please open up an issue on GitHub if you encounter any blockers when working on the custom directive plugin. Left you a star on the repo :D

[2020-10-22 19:22] kaustavghosh06 commented on #3816
That's great to hear @MontoyaAndres Closing to this issue and if you have any further issue with @key please feel free to open up a new issue.

[2020-10-22 19:22] #3816 closed

[2020-10-22 19:26] kaustavghosh06 commented on #4220
@kimfucious Yup, adding  those files to .gitignore to avoid the headache of viewing it in git updates is a good idea if you're not actively working on the resource. Closing this issue and goes without saying that if you have any other specific issues please feel free to open up a new issue in our repo!

[2020-10-22 19:26] #4220 closed

[2020-10-22 19:30] kaustavghosh06 commented on #3933
@kimfucious This is interesting. So you're not using the Amplify CLI to manage your client-side configurations for you?
The reason I'm asking is that if you were using the Amplify CLI - it would manage generating the aws-exports.js file and the src/graphql codegen files for you without you having to do it manually as you've described above ^^

[2020-10-22 19:31] kaustavghosh06 commented on #5097
@Stevenje Yeah, the schema.graphql is present in both the directories. Closing this issue - but if you come across this anytime in the future please feel free to open up a new issue.

[2020-10-22 19:31] #5097 closed

[2020-10-22 19:36] kaustavghosh06 commented on #5552
@PeteDuncanson Yeah, I get your pain. We introduced "mock" for the exact same reason and pain points that you've mentioned above. I'll ask the team to look at #5553 which looks like a bug in mocking functions - so that you don't have to push each of your changes to the cloud to test changes.

[2020-10-22 19:43] kaustavghosh06 commented on #5481
@aedrianescultura Got it. Yes - the CLI UX doesn't allow for this today when you add multiple URL's. I'm adding this as an enhancement which we can look into. cc @renebrandel
As a workaround/escape-hatch, you can go into the `amplify/backend/auth/<resource-name>/parameters.json` file and manually update the "CallbackURLs" and "LogoutURLs " present in there.

[2020-10-22 19:49] nikhname commented on #4904
Hi @Ricardo1980, apologies for the late response. From the RDS [docs](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Updates.Patching.html#AuroraMySQL.Updates.Patching.ModifyEngineVersion), you should be able to modify the properties of your cluster by changing the Aurora MySQL engine version in the DB engine version box. From your screenshots it seems as though that wind

[2020-10-22 19:56] kaustavghosh06 commented on #5665
@sw-yx Are you sure the S3 deployment bucket exists in your AWS account configured locally with your profile? You can find the bucket name in `<project-root>/amplify/backend/team-provider-info.json` file and then you can go to your AWS S3 Console to check if the bucket exists.
On a side-node the Ctrl+C issue is weird and we should look into it and track in #5666 . cc @renebrandel @litwicki

[2020-10-22 19:58] sw-yx commented on #5665
@kaustavghosh06 no, i am sure that i have deleted that bucket. thats not the point i'm raising here, i am suggesting that even with the deleted bucket there should not be ugly unhandledpromiserejections in our code, for people who are cloning open source amplify projects this will be a very common experience

[2020-10-22 20:00] kaustavghosh06 commented on #5665
Ah - got it! Yeah, we shouldn't be throwing the stack-trace and have a friendlier error message and catch it as you mentioned. I believe we had some ongoing work on it but I'll check with the team. @ammarkarachi can you please take a look at this as well when looking at #5666 ?

[2020-10-22 20:11] kaustavghosh06 commented on #5642
@isbkch  Curious to know which service's CloudFormation you were trying to modify and for which use-case?

[2020-10-22 20:13] SwaySway commented on #5619
@pepso
What categories do you have enabled in your project? Is it possible for you to send over the `amplify/` directory to amplify-cli@amazon.com? We can look into reproducing the problem.

@evuori
This seems to be different that the OP's issue. Could you open another issue for this? Also explain the change done to the schema which would work on a previous version and not on 4.30.

[2020-10-22 20:18] Hideman85 commented on #5182
I've linked the commit in my previous message if they want to have a look (the commit is less than 20 modified lines). My fork is for testing purpose it does not follow any coding style or standard you have in the project.

[2020-10-22 20:21] kaustavghosh06 commented on #5650
@meetrij Yeah, you can use @key to have custom primary-key's as @RossWilliams otherwise the Amplify CLI makes "id" the default primary key for every model. Closing this issue. Let us know if you face any issues with @key. You can find more docs on @key out here - https://docs.amplify.aws/cli/graphql-transformer/directives#key

[2020-10-22 20:21] #5650 closed

[2020-10-22 20:39] nikhname commented on #5638
Hi @duncangroenewald, what is your use case for a nullable AWSDateTime? We will look into this as an enhancement.

[2020-10-22 20:43] nikhname commented on #5635
@duncangroenewald could you clarify what you're looking for in a human readable format of the generated schema?

[2020-10-22 20:50] UnleashedMind commented on #4741
After you checked out to the production environment, you don't need to run `git merge develop` for the backend changes, the changes you make in the `develop` env will be carried over to the newly checked out env, you will see that if you run `amplify status`. At this point you can decide if to push the changes to the cloud in the production env. if yes, just run `amplify push`, if no run `amplify

[2020-10-22 20:54] bmvdeveloper commented on #5639
No it's not a project that was migrated from Mobile Hub.  Is this category temporary for that purpose?  Or is it there permanently for for applications to have push notifications?

[2020-10-22 20:54] nikhname commented on #5625
@chucre, could you give some details about the type of coverage data you would like to see?

[2020-10-22 21:18] #5582 closed

[2020-10-22 21:36] UnleashedMind commented on #4805
If you went through these steps:
amplify add hosting -> Amplify Console -> Continuous deployment (Git-based deployments)
The CLI will open up the Amplify Console webpage, and you will connect to your Github project there, once that's done, come back to your  local dev terminal, and hit enter.
I'm not able to reproduce the issue with the latest CLI version though. If you somehow get into this situa

[2020-10-22 21:39] blazinaj commented on #5423
I've been having this issue for a long time and can't find a fix. I cannot checkout any amplify environment.
[code]

This happened when I switched from my Windows desktop to AWS Cloud9

[2020-10-22 22:10] UnleashedMind commented on #4848
I'm not able to reproduce this issue anymore with the latest CLI version.
Please let us know if you are still blocked.

[2020-10-22 22:32] UnleashedMind commented on #5639
I'm not able to reproduce with the latest CLI version though.  Check both `<project-root>/amplify/#current-cloud-backend/amplify-meta.json` and `<project-root>/amplify/backend/amplify-meta.json` files, under `notifications`, there is a resource with `"service": "Pinpoint"`, see if there is a flag `mobileHubMigrated`, if so, could you set it to false and try again?

[2020-10-22 23:06] SwaySway commented on #5477
@frankclaassen
Are you still experiencing issues with this?
I tried to repro this with the following schema in version 4.30
[code]

Upon running listUsers I was able to get the data from notes and tasks. Is there a specific query you ran which resulted in an empty response?

[2020-10-22 23:08] SwaySway commented on #5437
@frankclaassen Could you provide a schema to reproduce this? Are you removing `@key` in only one type?

[2020-10-22 23:09] #4848 closed

[2020-10-22 23:45] #5621 closed

[2020-10-22 23:45] renebrandel commented on #5639
Hi @bmvdeveloper - we've got a fix in the release pipeline. This is the PR that fixed it. https://github.com/aws-amplify/amplify-cli/pull/5632

[2020-10-22 23:49] SwaySway commented on #5305
I tried to reproduce this and I noticed when adding a new env that the current-cloud-backend is still set to the previous env. In any case one fix here would be to clear the directory when switching env. This is something I can discuss with the team.

Marking as an enhancement.

[2020-10-22 23:55] akshbhu commented on #5639
Hi @bmvdeveloper

We have just released the v4.31 which has the fix for the issue. I am closing this issue in favour of #5632.
 If you face this again, feel free to comment and ill open it again.

[2020-10-22 23:55] #5639 closed

[2020-10-22 23:57] SwaySway commented on #5255
Closing this issue due to inactivity for 14days. If you are still experiencing issue with this please comment below.

[2020-10-22 23:57] #5255 closed

[2020-10-23 00:29] nikhname commented on #5440
The error may have been a bug in the functions category at a previous version. Have you seen this error again with the latest?

[2020-10-23 00:43] SwaySway commented on #5469
@frankclaassen
Is there a version where you did see results? If so I could try to reproduce in between versions.
I tried to reproduce this latest given the following schema and I did was able to get results.

[code]

[2020-10-23 00:47] kaustavghosh06 commented on #5663
@kimfucious Curious to know if there any other operation logs pre the connection timeout error. Did the CloudFormation deployment even start?

[2020-10-23 01:00] kaustavghosh06 commented on #5596
@lr001dev CloudFormation just announced a limit increase of the template size to more than double. Here's the launch announcement - https://aws.amazon.com/about-aws/whats-new/2020/10/aws-cloudformation-now-supports-increased-limits-on-five-service-quotas/ and if you're still running into template size limitations please let us know.

[2020-10-23 01:00] #5596 closed

[2020-10-23 01:02] kaustavghosh06 commented on #3265
Hello, CloudFormation just announced a limit increase of the template size to more than double. Here's the launch announcement - https://aws.amazon.com/about-aws/whats-new/2020/10/aws-cloudformation-now-supports-increased-limits-on-five-service-quotas/ and if you're still running into template size limitations  after this increase please let us know here or open up a new GitHub issue.

[2020-10-23 01:02] #3265 closed

[2020-10-23 01:03] kaustavghosh06 commented on #1759
Hello, CloudFormation just announced a limit increase of the template size to more than double. Here's the launch announcement - https://aws.amazon.com/about-aws/whats-new/2020/10/aws-cloudformation-now-supports-increased-limits-on-five-service-quotas/ and if you're still running into template size limitations after this increase please let us know here or open up a new GitHub issue.

[2020-10-23 01:03] #1759 closed

[2020-10-23 01:10] kaustavghosh06 commented on #1406
@mormsbee CloudFormation today announced size limit increase on the templates - raising the limit to 1 MB from 450 KB. Launch announcement is out here - https://aws.amazon.com/about-aws/whats-new/2020/10/aws-cloudformation-now-supports-increased-limits-on-five-service-quotas/ This should hopefully solve your template size issues. Please let us know if you run into any issues.

[2020-10-23 01:36] attilah commented on #5664
@CryogenicPlanet thanks for tracking it down, good job!

[2020-10-23 02:44] duncangroenewald opened #5672 "BUG "The security token included in the request is invalid. (Service: DynamoDb, Status Code: 400, Request ID…""
**Describe the bug**
I am getting this error intermittently when loading data using graphql - the code is running a loop and seems to randomly fails with this error.

**Amplify CLI Version**
4:30.0

**To Reproduce**
Not sure if this is reproducible

**Expected behavior**
I wouldn't expect random failure when processing data items in a loop.

**Desktop (please complete the following information):**

[2020-10-23 03:15] kimfucious commented on #5663
Hi @nikhname, thanks for the quick response.  I do not have lambda layers configured for this project.

[2020-10-23 03:21] kimfucious commented on #5663
Hi @kaustavghosh06, thanks for the follow up.

The process starts as normal, and asks (Y/N) if you want to do the push.

Then, and this was new with 4.30.0, I got a little spinner that said, "Uploading files 90%".

It stays like that for a while, (probably 2 mins/120K ms, I didn't time it), and then it throws the error noted above with nothing else logged to the console.

Please let me know if/how

[2020-10-23 03:32] 9710willy opened #5673 "Post installation script fails to run for @aws-amplify/cli@4.31.0 when path contains whitespace"
**Describe the bug**
If you attempt to upgrade aws-amplify to version 4.31.0 with a path that contains whitespace, it will fail; then amplify-cli will not be usable. I had no problems upgrading up until now! Thanks for all your hard work 👍

**Amplify CLI Version**
4.30.0

**To Reproduce**
run npm i -g @aws-amplify/cli

**Expected behavior**
Successful upgrade to 4.30.0 -> 4.31.0

**Screenshots**
!

[2020-10-23 03:56] renebrandel commented on #2721
Hi - I'm closing this issue in favor of our RFC: #3977
In addition, we've already started making progress in this issue with the ability to import existing Cognito resources. Check out our launch announcement here: https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/

[2020-10-23 03:56] #2721 closed

[2020-10-23 03:57] renebrandel commented on #2670
Hi - I'm closing this issue in favor of our RFC: #3977
In addition, we've already started making progress in this issue with the ability to import existing Cognito resources. Check out our launch announcement here: https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/

[2020-10-23 03:57] #2670 closed

[2020-10-23 03:58] renebrandel commented on #779
Hi - I'm closing this issue in favor of our RFC: #3977
In addition, we've already started making progress in this issue with the ability to import existing Cognito resources. Check out our launch announcement here: https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/

[2020-10-23 03:58] #779 closed

[2020-10-23 04:00] renebrandel commented on #658
Hi - I'm closing this issue in favor of our RFC: #3977
In addition, we've already started making progress in this issue with the ability to import existing Cognito resources. Check out our launch announcement here: https://aws.amazon.com/blogs/mobile/use-existing-cognito-resources-for-your-amplify-api-storage-and-more/

[2020-10-23 04:00] #658 closed

[2020-10-23 04:23] kimfucious commented on #5663
Hi @kaustavghosh06 & @nikhname,

This may be a non-issue.  I upped the version incrementally from 4.26.0, doing pushes along the way.

And when I just pushed while on v.4.30.0, it worked without error.

I'll work with v.4.30.0 for a while to see if the issue presents itself, and will report back here with the results.

[2020-10-23 04:26] kaustavghosh06 commented on #5663
@kimfucious Thanks for getting back to us on this. Closing this issue for now but please comment on this thread if you see this again.

[2020-10-23 04:32] yaquawa opened #5674 "`Error: xxxCustomMessage is present in amplify-meta.json` when `amplify auth update`"
**Describe the bug**
I ran `amplify auth update` twice, the second time I got an error:

[code]

**Amplify CLI Version**
4.29.2

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: MacOS
 - Node Version: v14.11.0

[2020-10-23 05:04] kimfucious commented on #3933
Hi @kaustavghosh06, thanks for the reply.

To clarify, I do use the amplify cli on the web app.

I had an issue a while back with mismatches related to federated login, as I have multiple URLs in Cognito Apple client settings.  For example in Dev, the callback URL(s) has two entries: one for the react native app (expo) and one for the web app:
[code]
I discovered that, client-side, there must be o

[2020-10-23 05:26] pedramp20 commented on #5249
No, in my case one is mandatory and one is optional as I posted above.

[2020-10-23 06:54] davidbiller commented on #4741
So the Flow ist than:

git checkout production
Git merge develop
Amplify env checkout production

?

[2020-10-23 07:39] lr001dev commented on #5596
Sounds great.. and thanks for the quick support!

[2020-10-23 08:38] tobinbc commented on #5305
@SwaySway exactly this yes. I noticed that even when I had:
- Created a new env + checkout
- deleted the current-cloud-backend directory,
- deleted the cloudformation stack,
- deleted the deployment bucket,

 Amplify would still some how populate the #current-cloud-backend with that previous deployment (and then error as applicable).

[2020-10-23 08:55] arkllc opened #5675 "Timestream as first class Database option"
**Is your feature request related to a problem? Please describe.**
Currently I am managing logging type events in DynamoDB. Given the recent TimeSream launch, it would be great if it is supported out of box. Instead of me building an implementation

**Describe the solution you'd like**
TimeStream should be supported as first class DB just like DynamoDB and Aurora

**Describe alternatives you've co

[2020-10-23 09:29] QAnders commented on #2367
Stumbled upon this one and it would be very nice to be able to accommodate this use-case!
In our solution we have an Angular/Amplify App hosted on S3 fronted by CloudFront and it would be very, very nice to be able to host the backed API's (using Lambda) in Private Endpoints as we don't allow any DB access from the "Front layer" (=public access from API GW).

[2020-10-23 10:12] kimfucious commented on #5663
Hi @kaustavghosh06,

This did reoccur.  It didn't prior, I believe, as I was updating a different function than the one that apparently causes this error.

Here's the error that occurs when I run `amplify push` on the function in question:
[code]
This function is a bit larger that other functions that I've pushed before, which may be part of the problem:
* The size of the dist directory for this f

[2020-10-23 10:27] mattk- commented on #5673
This is also affects builds on aws/codebuild/standard:4.0 image, without whitespace in the path:

[code]

[2020-10-23 12:18] chucre commented on #5625
Hi @nikhname,

I started a plugin that tries to add the coverage in the `serverless-appsync-simulator` which uses `amplify-appsync-simulator`.

The plugin [serverless-appsync-simulator-coverage](https://github.com/chucre/serverless-appsync-simulator-coverage) hijack the`getReferences`, `setValue`, `getMacro`, `getBlock` methods of the class `Compile` from `amplify-velocity-template` and add a few

[2020-10-23 13:12] aedrianescultura commented on #5481
@kaustavghosh06  The enhancement would be great.  Thanks for the workaround.

[2020-10-23 14:22] michaelzxu commented on #3222
+1

[2020-10-23 14:44] sw-yx opened #5794 "[Bug? DX issue?] Cannot access Amplify Storage when authenticated - 403 Access Denied Error results"
**Describe the bug**

With the default IAM policies and intuitive CRUD set up via Amplify CLI, I still encounter 403 errors when I try to `Storage.list`, even when I am authenticated, and even when I have made sure to allow authenticated and guest users inside Amplify CLI.

Here is the error message we get back when trying to `Storage.list`, **from an authenticated user**:

[code]

![image](https:

[2020-10-23 14:46] alexboulay commented on #763
Our team needs this!

[2020-10-23 15:09] vg-identance commented on #3298
Same issue with `init` keyword

[2020-10-23 15:51] renebrandel opened #5677 "`amplify import auth` has two broken multi-environment scenarios"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When I import an auth resource and then switch environments without pushing, it results in an error.

**Scenario 1**
[code]

**Scenario 2**
[code]
Expected: it only removes the auth resource from the latest env.

**Amplify CLI Version**
You can use `amplify -v` to check the amplify c

[2020-10-23 15:57] edwardfoyle commented on #5673
Hi @9710willy thanks for reporting this, we're investigating now. In the meantime, the CLI should actually still be usable even though the installation failed. The only features affected by the post-install script are local mocking. Hope this unblocks you for now.

[2020-10-23 16:36] TonyAsbestosAlert commented on #5673
Also failing on Debian:

/usr/local/lib/node_modules/@aws-amplify/cli/node_modules/execa/index.js:205
                throw error;
                ^

Error: Command failed with exit code 1: /usr/local/lib/node_modules/@aws-amplify/cli/bin/amplify post-install
┌───────────────────────────────────────────────────┐
│       @aws-amplify/cli update check failed        │
│        Try running with sudo o

[2020-10-23 16:43] kaustavghosh06 commented on #4741
@davidbiller Yes the above command flow should work. Did you give that a shot already?

[2020-10-23 16:45] davidbiller commented on #4741
Not yet. I followed the Flow from the docs.

git checkout production
Amplify env checkout production
Git merge develop

Get some merge conflicts...

[2020-10-23 16:45] renebrandel commented on #5677
cc @ asmajlovicmars

[2020-10-23 16:46] kaustavghosh06 commented on #4741
Yeah, you'd have to resolve the merge conflicts - based on your merge from production to git. Which files are you most concerned about wrt to the git merge?

[2020-10-23 17:16] renebrandel commented on #5677
@asmajlovicmars - we're having trouble reproducing this issue. Can you try again with the latest version or provide more detailed intsructions?

[2020-10-23 17:19] attilah commented on #5677
@asmajlovicmars I tried to reproduce both scenarios but I was unable to do so, it worked for me as expected.

The first scenario is clear that during import 2 properties were different between the two app clients, it would be good to know how that happened if those were provisioned with the CLI.

About the 2nd one, no it should be only removed from the currently checked out environment, so if you

[2020-10-23 17:20] SwaySway commented on #4913
Hello @Rafcin
Are you still experiencing issues with this?
I noticed the error provided in the error logs was a due to a version mismatch.
`version_conflict_engine_exception`

Do you have datastore features enabled?

[2020-10-23 17:22] renebrandel commented on #5662
Looking at the code...
[code]
Do you mind running `python3 --version` maybe with 3.9 they've changed the output format, so we can't just use `semver`.

[2020-10-23 17:22] renebrandel commented on #5662
cc @kimfucious

[2020-10-23 17:26] edwardfoyle commented on #5673
@mattk- @TonyAsbestosAlert after the installation fails, are you able to run `amplify plugin scan`? Or do you get the same error?

[2020-10-23 17:31] rsuresh27 commented on #3977
So far I have ran into no problems! Although I do have a question. From my understanding of the documentation, the app client without the secret key is for storing data of the todo list. I just have one Cognito user pool for AWS Amplify Authentication. Whenever I tried adding the Cognito user pool to the Cognito Identity Pool and running the command "Amplify import auth" from the Amplify CLI in th

[2020-10-23 17:57] asmajlovicmars commented on #5677
@attilah I re-run the whole scenario, and true, I didn't get the same error, but I'm sure I run more commands on my first run, so if I figure out what caused the error, I'll report it.

To summarize:
Switching between the dev and test environments was fine.
Case #2: When I removed the User Pool from the second environment (test), and checked-out the dev environment again, visually the auth wasn't

[2020-10-23 18:22] not-only-code commented on #4736
Holy sh*t! 1h Wasted on this!

[2020-10-23 18:39] freeform-ryan commented on #2227
How do you determine the path and name of `your-func-cloudformation-template.json`?

[2020-10-23 19:02] meetrij commented on #5650
@kaustavghosh06, @RossWilliams it worked thanks once again

[2020-10-23 19:03] Junhano opened #5679 "Sharing team provider json file"
This is my first time using AWS Amplify
I am facing difficulties sharing backend environments with other developers. The doc says we need to share the same team provider JSON file. Which I did. But when I share the thing and he copy and paste the team provider json file, every time he run amplify console it says app with id not found. I tell him to run amplify push, but it says Unable to upload tr

[2020-10-23 19:11] edwardfoyle commented on #5673
Also @mattk- @TonyAsbestosAlert did you install the cli using sudo?

[2020-10-23 19:20] meetrij opened #5680 "Can't add same schema definition after removal and publish"
**Describe the bug**
For removing primary key and add with new primary key I removed mentioned schema
[code]
and done amplify publish. After that I added the same schema with slight change to add new primary key as below

[code]
and done amplify publish. But this time it ended up with following error

[code]

Please advise me a solution to move forward

**Amplify CLI Version**
4.29.2

[2020-10-23 19:21] UnleashedMind commented on #5577
I tried but I couldn't reproduce.
If all the Amplify commands run to completion, then the removed Lambda function should be reflected in #current-cloud-backend.zip file in the deployment bucket.
I'm going to close this issue now since you are not blocked anymore. Feel free to open a new issue if you got into this situation again.

[2020-10-23 19:21] #5577 closed

[2020-10-23 20:20] nikhname commented on #5675
@arkllc could you tell us a little bit about your use case for TimeStream logging?

[2020-10-23 20:34] Ricardo1980 commented on #4904
Thanks for reply @nikhil-dabhade

But it seems it is not working.
I receive this:
`An error occurred (InvalidParameterCombination) when calling the ModifyDBCluster operation: You currently can't modify EngineVersion with Aurora Serverless.
`

[2020-10-23 20:48] attilah commented on #5677
@asmajlovicmars based on our conversation I was able to get to the same situation what you described, but it is by design and works the same way for other resources when auth is added and not imported. The main reason is that env switching does not involve cloud uploads, so when you add a resource locally to an env, then switching to another one, all those settings are gone, since the CLI had no w

[2020-10-23 20:48] #5677 closed

[2020-10-23 21:01] SwaySway commented on #5589
Hello @sacrampton
I was able to reproduce this and it seems that it's coming from the `toDynamoDBFilterExpression` utility in AppSync. I've noticed the team of this change, though I would also recommend their support forum for further visibility. https://forums.aws.amazon.com/forum.jspa?forumID=280

A potential workaround I can think of would be to remove it if there are no expression values.
[cod

[2020-10-23 21:32] kennandavison opened #5681 "Email added as required in userpool even when not selected in amplify add auth prompt"
Hi, email shows as required even though I didn't select it during the amplify add auth flow. More context: no MFA/no required attributes.

[2020-10-23 21:39] litwicki commented on #5679
Hi @Junhano the `AccessKey` and `SecretKey` are for the individual developer on their own workstation, **not** in the `team-provider` file. Here is a good guide for that: https://aws.amazon.com/premiumsupport/knowledge-center/create-access-key/

Also make certain that if you are sharing your team-provider file that your repository is **private**.

[2020-10-23 22:23] tmizuma opened #5683 "Error when amplify push with custome category (AWS CodeBuild)"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

I try to create AWS CodeBuild by custome category in order to deploy Server Side Rendering application with Amplify Library when git push.
I faced the error when issue `amplify push`.

**Describe the bug**
A clear and concise description of what the bug is.

[code]
template.yml  is below.

[code]
When I

[2020-10-23 22:34] UnleashedMind commented on #5134
Closing the issue due to inactivity, feel free to open another issue if the problem still exists.

[2020-10-23 22:34] #5134 closed

[2020-10-23 22:45] akshbhu commented on #5249
Hi @pedramp20

Is the above schema you mentioned is complete or are there any other types in the schema having @connection directive?

The schema you posted above works fine for me and generating models.This is generated index.js file from above schema
[code]
and schema.js file
[code]

Can you try with amplify version v4.30.0 and check if this error still there?

[2020-10-23 22:49] mikedizon commented on #5619
@SwaySway seeing the same behavior. Rolled back a version and everything worked fine again.

[2020-10-23 23:10] UnleashedMind commented on #5674
I'm not able to reproduce after I tested some simple cases.
If you run `git status` before the first `amplify auth update`, what are the changed files not added yet? what are the staged changes not committed yet?
If you run `git add .` and then `git commit` before the first `amplify auth update`, do you still get the error?

Amplify CLI is not directly integrated with the git CLI, so it's possible

[2020-10-24 05:05] kimfucious commented on #5662
Hi @renebrandel ,

Thanks for the follow up.

Here's the output from `python3 --version`.

[code]

[2020-10-24 07:21] arkllc commented on #5675
All of my application is built completely on AppSync transform with DynamoDB as backend DB. A part of my application has to monitor the progress of a job and store the progress back into a data store via AppSync data mutation. The subscribers to the mutation will automatically get notified. Before TimeStream I was thinking of storing the time series data of progress (timestamp and %of job complete

[2020-10-24 08:45] hello2all commented on #4159
@kaustavghosh06 Thank you, this issue has been resolved. You may close this thread.

[2020-10-24 09:46] AustinZhu commented on #3977
Are we going to have commands for importing existing S3 buckets and REST APIs in the future? I am migrating to Amplify so I really need this one. Thank you!
P.S.: I know I can configure them manually in my code but it would be better to have it in the backend env in Amplify.

[2020-10-24 09:48] BeaveArony commented on #3977
Thanks for this new feature.
I’m having the scenario that there is an existing pool with a Secret-App-Client. It’s managed with terraform. So the clientWeb and the IdentityPool are both missing. Where should I manage those resources? Create another TF plan? Create custom resources in Amplify? CDK?
I’m thinking Amplify custom resources is a good place. To not have three different places that manage

[2020-10-24 11:42] rossbishop opened #5686 ""Export is already exported by stack" when removing a GraphQL model a lambda is reliant on"
**Describe the bug**
Infrastructure is not correctly destroyed in the backend when removing a single model from a GraphQL schema if a lambda is reliant on said model. Commenting out a model in a GraphQL schema and pushing it to the backend with amplify should destroy all existing backend infrastructure associated with said model, but not all of the infrastructure is destroyed if lambda functions a

[2020-10-24 13:59] kuchtas commented on #82
Is there any form of solution for this problem? Removing and adding API (although even this doesn't seem to work every time) is not a convenient thing to do whenever this error comes up.
Sometimes it can even show up when pushing completely fresh default GraphQL schema to the server! We have to live in a constant fear of the whole application breaking after a simple backend update.

[2020-10-24 14:14] TonyAsbestosAlert commented on #5673
Hi Edward,

  1.  I install using sudo
  2.  After the install fails, there is no amplify command installed to run!
  3.  Regards,
  4.  Tony

From: Edward Foyle <notifications@github.com>
Sent: 23 October 2020 18:27
To: aws-amplify/amplify-cli <amplify-cli@noreply.github.com>
Cc: Tony Bolton at Alert Technology Ltd <tony.bolton@asbestos-alert.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-10-24 17:48] #4159 closed

[2020-10-24 17:48] loganpowell commented on #172
Ran into this also. Thank you @Jayphen and @pechisworks for the work-around!

[2020-10-24 18:07] kaustavghosh06 commented on #5683
@tmizuma I looked at the CodeBuild CloudFormation documentation (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-codebuild-project-webhookfilter.html#cfn-codebuild-project-webhookfilter-pattern) and I believe there is an issue with the YML tied to your FilterGroups resource which you've mentioned above. The FilterGroups ClodFormation resource should like the following

[2020-10-24 18:09] kaustavghosh06 commented on #5673
@TonyAsbestosAlert Got it. We've reverted the change and if you re-run `npm install -g @aws-amplify/cli` - the CLI should install correctly.

[2020-10-24 18:12] kaustavghosh06 commented on #5686
@rossbishop Thanks for bringing this up. Yes, the dependency block is between the @model and the function resource and as you've mentioned if you remove a @model and the the table name is exported for another dependent Lambda function to use - you'll encounter this deletion issue. Are you currently stuck or were you able to run `amplify update function` -> remove access for the removed @model and

[2020-10-24 18:14] kaustavghosh06 commented on #5675
@arkllc This is an interesting use-case for the AppSync service to support. Would you mind opening up this issue in the AppSync community GitHub repo - https://github.com/aws/aws-appsync-community to gauge interest of the AppSync community and the AppSync team? Thank you! Closing the issue on this repo.

[2020-10-24 18:14] #5675 closed

[2020-10-24 18:15] kaustavghosh06 commented on #5681
@kennandavison Which flow did you go through for `amplify add auth` - did you go with the default configurations from the CLI?

[2020-10-24 18:19] kaustavghosh06 commented on #5680
@meetrij Did you remove the @model from the schema -> do an amplify push -> and re-add the @model back and then get the error on amplify->push or did you remove the DDB table directly from the AWS Console?

[2020-10-24 19:38] half2me commented on #2099
Any updates on this?

[2020-10-24 20:04] rossbishop commented on #5686
Hi @kaustavghosh06 - what I alluded to in my post is that I wasn't initially able to actually remove access for the removed @model via `amplify update function`.

I've just uncommented the @model, run `amplify codegen` and then been able to remove it that way. I no longer see the references to the tables in the environment variables at the top of the lambda functions.

However, upon trying to push

[2020-10-24 20:23] kaustavghosh06 commented on #251
@mzuniga84 Please follow the Flutter repo - https://github.com/aws-amplify/amplify-flutter for more updates and enhancements :) Closing this issue in the CLI repo for now.

[2020-10-24 20:23] #251 closed

[2020-10-24 20:26] kaustavghosh06 commented on #408
The Amplify libraries recommend using Hosted UI for authentication and social federation and the the CLI outputs oAuth configurations necessary for the authenticator and client libraries to function correctly. Closing this issue.

[2020-10-24 20:26] #408 closed

[2020-10-24 20:29] kaustavghosh06 commented on #177
We have a PR open for OIDC support for auth here - https://github.com/aws-amplify/amplify-cli/pull/3409 just wanted to link it out here.

[2020-10-24 20:33] kaustavghosh06 commented on #392
Fro custom field level validations, I would highly recommend looking at writing custom transformer directive plugins based on our docs here - https://docs.amplify.aws/cli/plugins/authoring#custom-graphql-transformers

Found a similar 3rd party custom directive plugin here for field level validations/operations - https://www.npmjs.com/package/graphql-default-value-transformer and the code for which

[2020-10-24 20:34] kaustavghosh06 commented on #392
Also, as @andreialecu mentioned there are some more 3rd party custom directives which you could leverage:

@readonly usage is covered by: https://www.npmjs.com/package/graphql-auto-transformer by @hirochachacha
@tolower: https://www.npmjs.com/package/graphql-lowercase-transformer by @hisham

[2020-10-24 20:35] kennandavison commented on #5681
manual configuration

[2020-10-24 20:39] kaustavghosh06 commented on #713
@GeorgeBellTMH We released Amplify Console Hosting support last year which could help with the publish lifecycle. Are you sing that option or S3+CloudFront?

[2020-10-24 20:41] kaustavghosh06 commented on #732
Closing due to lack of further response and activity.

[2020-10-24 20:41] #732 closed

[2020-10-24 20:47] kaustavghosh06 commented on #740
Closing due to lack of further customer engagement and community interest. Please feel free to comment on this thread or open up a new issue if you're still stuck on this issue.

[2020-10-24 20:47] #740 closed

[2020-10-24 20:50] kaustavghosh06 commented on #417
@hisham I believe we converted all of our NodeJS functions to async style and mock should be working with our templates. Are you still having issues with this?

[2020-10-24 20:58] kaustavghosh06 commented on #868
As @zjullion mentioned Amplify CLI support passing outputs inter-stack for even your custom stacks. Documentation is out here - https://docs.amplify.aws/cli/usage/customcf

[2020-10-24 20:58] #868 closed

[2020-10-24 21:00] kaustavghosh06 commented on #1127
@francesco-magalini @nagey CloudFormation announced last week a tempalte size limit increase to 1 MB from 450 KB - this would alleviate much of the template size issues specially the connectionStack.json size.

[2020-10-24 21:01] kaustavghosh06 commented on #1127
If you're still hitting errors after this limit increase please feel free to comment on this thread and I'll re-open this issue.

[2020-10-24 21:01] #1127 closed

[2020-10-24 21:03] kaustavghosh06 commented on #1124
@undefobj Just checked and we're using 2018-05-29 v in all our resolver files today. Closing this issue :D

[2020-10-24 21:03] #1124 closed

[2020-10-24 21:13] kaustavghosh06 commented on #1487
@giantGoldfish We released AdminQueries support last year - https://docs.amplify.aws/cli/auth/admin#enable-admin-queries which basically supports disabling a cognito user using APIGW. We spin up the Lambda function and APIGW  endpoint automatically for you from the CLI. Please let us know if you've more questions around it and if this doesn't solve your use-case.

[2020-10-24 21:13] #1487 closed

[2020-10-24 21:15] kaustavghosh06 commented on #1479
For getting back into your last successful push state, you can run `amplify env pull --restore` command. Is that something you've tried before and what issues have you'll seen with it?

[2020-10-24 21:16] kaustavghosh06 commented on #1479
Also, there exists a `amplify push --force` command today - for force pushing changes made outside the schema or CloudFormation template.

[2020-10-24 21:18] kaustavghosh06 commented on #1387
This could be a potential feature request for the AmplifyTools for iOS - https://docs.amplify.aws/start/getting-started/setup/q/integration/ios#add-amplify-to-your-application
Moving it to the Amplify iOS repo.

[2020-10-24 21:24] kaustavghosh06 commented on #5681
What was your selection for this response? The email attribute in Cognito was set based on your response for this question in the manual configuration flow.

 What attributes are required for signing up? (Press <space> to select, <a> to toggle all, <i> to invert selection)
❯◯ Address (This attribute is not supported by Facebook, Google, Login With Amazon.)
 ◯ Birthdate (This attribute is not suppo

[2020-10-24 21:27] kaustavghosh06 commented on #2187
@lukeburns Currently that's not possible for the auth category - for not overwriting on an update, but this is a feature request that our took can look into. cc @renebrandel

[2020-10-24 21:29] kaustavghosh06 commented on #2202
@houmark We added to the CLI a few months back an update message if a newer version of the Amplify CLI is available on npm and steps to get the latest version. After updating the CLI version, if there's migration required, we prompt customers for the related migration for consent before migration. Closing this issue and please let us know if there's more we can do on this front from the CLI UX poi

[2020-10-24 21:29] #2202 closed

[2020-10-24 21:34] kaustavghosh06 commented on #5627
@ryanhollander That's a good suggestion. How do you'll use it currently in CloudFormation to pass it to the AppSync resolvers?

[2020-10-24 21:50] kennandavison commented on #5681
Yeah, specifically unchecked that and tried a few times

[2020-10-24 22:03] kaustavghosh06 commented on #5681
Got it. Yes, I was able to reproduce the issue. The following block always exists in the CloudFormation template by default which shouldn't be present if you unselect email in the sign-up attributes question. I'll take that back to me team. cc @edwardfoyle

[code]

[2020-10-24 22:04] kaustavghosh06 commented on #5683
Closing this issue based on my recommendation above. I was able to deploy the CloudFormation template with the above changes. Please let me know if you're still not able to deploy.

[2020-10-24 22:10] kaustavghosh06 commented on #5603
Closing based on the response above. If you're still stuck please let us know.

[2020-10-24 22:10] #5603 closed

[2020-10-24 22:11] kaustavghosh06 commented on #5606
@drewmullen Please let us know if you're stuck after installing the CLI globally. Closing the issue for now.

[2020-10-24 22:11] #5606 closed

[2020-10-24 22:12] kaustavghosh06 commented on #5604
Closing the issue due to lack of reproducibility and customer response.

[2020-10-24 22:12] #5604 closed

[2020-10-24 22:14] kaustavghosh06 commented on #4468
@Alex-Mann  Please let us know if you've more questions on this issue but closing this issue for now based on the response above.

[2020-10-24 22:14] #4468 closed

[2020-10-24 22:15] kaustavghosh06 commented on #4072
Closing this issue due to lack of reproducibility. Please let us know if you're facing this issue with the latest version of the CLI.

[2020-10-24 22:15] #4072 closed

[2020-10-24 22:16] kaustavghosh06 commented on #5432
Closing this issue based on the recommendation above. Please let us know if you're still stuck on this and we can re-open this issue.

[2020-10-24 22:16] #5291 closed

[2020-10-24 22:19] kaustavghosh06 commented on #5616
@Ricardo1980 I don't believe Lambda allows renaming of it's Lambda function. If you change the name - it would essentially delete your function and then re-create a new one. If we allow for that from the CLI automatically - it might be dangerous for the customers doing this for their prod infra. Although, I like the clone/duplicate idea :)

[2020-10-24 22:22] kaustavghosh06 commented on #5533
Got it. Yes, I'll move over the Amplify for NodeJS support to the Amplify JS repo for them to track.

[2020-10-24 22:42] Ricardo1980 commented on #5616
@kaustavghosh06
In that case, if you add "clone with a different name", that is OK to me.
When having cloud formation templates modified manually (permissions, parameters...), it is very time consuming having to copy/paste that manually.
Thanks!

[2020-10-24 22:54] hisham commented on #417
Haven't run into issues in a while, closing. Thanks! :)

[2020-10-24 22:54] #417 closed

[2020-10-24 23:25] akshbhu commented on #5430
Hi @donnrri

When you login into your react app , Is the user part of a group(which you restricted access selected)?

One thing you can try is ```amplify update storage``` and  select ```Both ```option  in ```restrict access by``` question.
Here you can define individual access (user not part of a group) and Individual group access(user is part of a group)  permission on how to access objects in t

[2020-10-24 23:53] akshbhu commented on #5522
Hi @valceaalexandra

Since the ```QuestionAnswer ```table contains two objects ( how are you ? , Good!) and (how are you? , bad!) as you can see in the image you posted above , this is why the syncQuestionAnswers Query is returning both data.

You can try ```SyncQuestions``` Query with same model as you suggested and as your relation is M:N it will find the connected answer.
For ex this is my sync

[2020-10-25 01:38] tmizuma commented on #5683
@kaustavghosh06

Thanks for the answer.
But yml file I posted looks correct.

[code]
 CloudFormation designer doesn't show any errors.

![スクリーンショット 2020-10-25 10 13 08](https://user-images.githubusercontent.com/19788436/97096819-633c1500-16ac-11eb-8345-b577dc458629.png)

I could deploy with Management Console.

![スクリーンショット 2020-10-25 10 28 25](https://user-images.githubusercontent.com/19788436/970

[2020-10-25 01:59] cyrfer commented on #4635
@renebrandel  I still cannot use `amplify mock` with a lambda (bound to my graphql querries/mutations) and do simple things like call AWS SecretsManager GetSecretValue for lack of a reasonable runtime environment.

I printed the environment for my lambda function when `amplify mock` is running and I'm guessing the AWS SDK doesn't like it when things like this show up:

[code]

The generated CF tem

[2020-10-25 03:04] johnEthicalTechnology commented on #5542
I'm having a similar issue with subscriptions. However, it isn't working in the AppSync console either.

This is the error:
[code]
If I don't include any of the non-nullable fields in the return of the subscription the ID returns but any other field returns null. Why is that?

Schema
[code]

This is the subscription I'm using:
[code]

These is the error I get in my app when a subscription returns.

[2020-10-25 05:30] getmyrolemodels opened #5687 "Attach datasource to existing Appsync"
Datasource in Amplify is a really cool feature, separates the overhead of managing the operations. I have an existing AppSync and I want to use it in my new Amplify project.
Now, by following documentation I was able to add the Appsync endpoint to my project. But I can't leverage the datasource part of Amplify.

Any thoughts on how to achieve this ?

I followed the #574, but it seems support for t

[2020-10-25 10:08] yaquawa commented on #5674
@UnleashedMind Oh, I ran `amplify auth update` before the second `amplify auth update`, so files like `amplify-meta.json` has been generated already. Should I clear all the generated files(which listed in the `.gitignore`)?

[2020-10-25 11:39] duncangroenewald commented on #5638
@nikhname - completedDate - should be self explanatory.  If the task is not completed the datetime is null.  If it is completed it is set to the completion date.  You could apply the same logic to startDate - null if it has not started and startdate once it has started.

Any temporal object may have similar requirements.  For example a Contract might have a valid period defined by a StartDate and

[2020-10-25 12:31] valceaalexandra commented on #5522
Thats the problem. When I query from AppSync, I get that output and everything looks fine.

**But when I use DataStore I don't get the nested data:**

![image](https://user-images.githubusercontent.com/72545568/97107146-a0190380-16ce-11eb-8517-b5b5f7b37e03.png)

No answers, only the question.

[2020-10-25 13:39] cto-leaps commented on #4957
@ammarkarachi Hi again. I still have the issue. I just did a regular amplify push to my production environment and the custom function I had cerated got replaced by the one created by the cli!
It is putting my Elastic Search instances in danger. Could you help?

[2020-10-25 14:19] GeorgeBellTMH commented on #713
I am fine now, there was another ticket that was the cause (basically it was uploading sequentially instead of in parallel)

[2020-10-25 14:32] #713 closed

[2020-10-25 14:37] GeorgeBellTMH opened #5688 "Labels on PR's"
Given there are >50 PR's open right now, the majority over 15 days old...it might be helpful to do some triaging/management with labels...which ones are critical? which ones are just complicated or waiting on other functionality? Which ones are new features, fixes, security?

[2020-10-25 15:27] philohelp opened #5689 "innerDiffs is not iterable"
[code]

**Describe the bug**
I got this message on the CLI when I try to push a change in my graphQL schema. I had made the last changes day before yesterday and all seemed to be good.

EDIT: I also enabled Point in time recovery in Dynamodb in some of my tables. I didn't think it could have an effect on amplify. Could it be the cause of all this ?

**Amplify CLI Version**
4.27.1

**To Reproduce**

[2020-10-25 16:44] Junhano commented on #5679
thanks.

[2020-10-25 16:44] #5679 closed

[2020-10-25 16:50] yaquawa opened #5690 "Where is the definitions for GraphQL directives?"
My editor(PHPStorm) shows errors on the schema file because it can't find any [definitions](https://docs.amplify.aws/cli/graphql-transformer/directives#definition-2) for GraphQL directives that amplify provides.

I'm wondering if there is a command that can extract all the definitions to a file, so I could stop copying them by hand from the doc page.

**Amplify CLI Version**

4.29.2

[2020-10-25 17:06] alonsnir opened #5706 "Missing region in config error on mocking a function"
**Describe the bug**
getting following error message when trying to run 'amplify mock function func'

    ERROR => {"message":"Missing region in config","code":"ConfigError","time":"2020-10-25T16:29:18.930Z"}

**To Reproduce**
Steps to reproduce the behavior:

1. amplify add function
2. Choose Lambda function with Node.js runtime
3. amplify function build
4. amplify mock function func
5. See error

[2020-10-25 17:09] philohelp commented on #5689
I finally went with `amplify pull` and back to business.

Still, I'd really like to know what this `innerDiffs` error stands for.

Thanks in advance for your reply.

[2020-10-25 18:06] yaquawa opened #5691 "package.json with `"type": "module"` cause error when `amplify push`"
**Describe the bug**
package.json with `"type": "module"` be set cause the following error when I run `amplify push`

[code]

**Amplify CLI Version**
4.30.0

**node.js Version**
v14.11.0

[2020-10-25 18:17] pepso commented on #5619
@SwaySway I'm using API, Auth, Function, Storage and Hosting categories in my project. Unfortunately, I am not able to send over the amplify backend for you.

I just tested 4.29.8, 4.30.0 and the new 4.31.0 versions with a simple whitespace change to my lambda function:
![image](https://user-images.githubusercontent.com/7467665/97114872-f85dfe80-16ea-11eb-94ae-4b11cf5672c1.png)

Amazon Linux:2 bas