[2020-12-22 09:28] Risord opened #6231 "@auth on non-@model fields fails on first push"
**Describe the bug**
Amplify push fail in non-deterministic way when inserting new type with field with auth rule.

**Amplify CLI Version**
4.40.1

**To Reproduce**
Add next declaration to schema.graphql:

[code]

`amplify push`

Will fail with error message:
[code]

Try again without auth rule:
[code]

`amplify push`

This works and now we can use original schema with auth rule:
[code]

`amplify

[2020-12-22 09:31] jmcruzmanalo commented on #4760
We were able to figure out it was returning null for us because the resolver `<YourModel>.<PropertyWithConnection>.res.vtl` was calling `$context.source.<PropertyWithConnection>` instead of `$context.result`

How we tested:
- Remove the `@auth` rule on the property with the `@connection` directive
- Run `amplify mock` to see the auto generated resolvers
- Open `amplify/backend/api/<project-name>/r

[2020-12-22 09:35] giorgiocarniel opened #6232 "Access s3 file from signed URL from China"
Not sure if this is the correct repo to ask but please tell me if there are more suitable channels to ask this question.

I have an Amplify application with a storage resource.
I also have a Lambda that when called, creates a signed URL to download an s3 file.

When downloading the file from the generated URL for me It works correctly, but my vendors located in China tell me they get "Request time

[2020-12-22 10:56] jdw88 opened #6233 "amplify-cli no prompt for MFA token"
**Describe the bug**
I'm using an AWS profile to assume a role as per the following configuration...

[code]
When running `amplify push` I am not prompted for an MFA token.

**Amplify CLI Version**
[code]

**To Reproduce**
Running `amplify push`
[code]
There is no prompt for an MFA token, however, I eventually noticed that the prompt is just not visible, i.e. is still waiting for input. However, i

[2020-12-22 11:25] SpirosJohn commented on #5483
I tried the `amplify push`

✖ An error occurred when pushing the resources to the cloud

EROFS: read-only file system, mkdir '/graphql'
An error occurred during the push operation: EROFS: read-only file system, mkdir '/graphql'

Am using Expo and NPM

I saw yours did pass the amplify push can you help me and when you changed can you reference me the new path you puted?

[2020-12-22 11:33] jkolaric commented on #4347
+1

[2020-12-22 11:39] jkolaric commented on #1366
Any updates or ETA on this?

[2020-12-22 11:58] jdw88 commented on #6233
*Update*

If there are pending changes in your environment, you're prompted to select whether or not you want to continue with the deployment. It seems you need to provide another auth token after this...
[code]

Not sure if the credentials are being cached correctly? after a successful auth the cache file appears like so...

[code]

[2020-12-22 12:04] SpirosJohn commented on #5483
Thanks it resolved

with

Problem:
I was working on https://github.com/aws-samples/aws-amplify-react-native-events-app-workshop/ with same issue:

EACCES: permission denied, mkdir '/graphql'
An error occurred during the push operation: EACCES: permission denied, mkdir '/graphql'

To resolve:

rename /code/.graphqlconfig.yml to .bak and then delete (will be recreated with amplify push)
updated path

[2020-12-22 13:42] mjza commented on #4790
Hi there, how did you generate the values for the following variables?

[code]

[2020-12-22 14:13] mjza opened #6234 "Build failed after setting up the CI/CD"
I followed [this tutorial](https://aws.amazon.com/getting-started/hands-on/build-react-app-amplify-graphql/module-three/) and then after editing the Build settings I see the following error:

[code]

Any suggestion?

[2020-12-22 15:10] jeromeheissler commented on #5832
I have setup a project with a profile in eu-west-3. All the project has been created in the correct region. But when i tried to deploy it with the Amplify Console the build failed with message : "Amplify service is not available in the region eu-west-3"

[code]

[2020-12-22 15:40] watilde commented on #6153
I just also had a chat with a developer on this now and came up with a `protected env` concept. That can specify env that should be protected such as production environment and/or test environment.

[2020-12-22 16:08] undefobj commented on #6153
Three protected (aka locked/unlocked) concept we've discussed before especially for data retention and recreation of tables. That might be the best option here. We will discuss in the new year in depth.

[2020-12-22 16:37] krikork commented on #1407
My approach has been the same as @cdunn. To elaborate a little, here are some more implementation details:

I have created a lambda called MigrationService. In the resources section of the template, I have the following custom resource:

[code]

The most important thing in this custom resource is the TriggerVersion. If it is incremented, then the lambda will be executed upon deployment. So if you

[2020-12-22 17:02] akshbhu commented on #6234
Hi @mjza

This error usually comes when you introduce a FF flag in ```cli.json``` on older cli versions.
Please update to latest version ```v4.40.1``` and let me know if it works out for you?

[2020-12-22 18:18] ahansson89 commented on #4772
@jcbdev what is the ETA on this issue?

[2020-12-22 18:21] ahansson89 commented on #4772
My above solution seems to no longer work and I get:

Invalid CloudFormation template: pinpoint-cloudformation-template.json
✖ An error occurred when pushing the resources to the cloud
Invalid parameterized type:
An error occurred during the push operation: Invalid parameterized type:

Not really helpful to debug what is going on and the above is blocking a release.

[2020-12-22 19:31] ahansson89 commented on #4772
That seems to be an unrelated issue to this one with the latest Amplify CLI version. Was able to downgrade to @aws-amplify/cli@4.36.2 in order to get past the error message.

[2020-12-22 20:46] dabit3 commented on #2679
Hey @kylekirkby, checking on this now.

[2020-12-22 21:31] jhockett commented on #6184
Hi @idanlo, I wasn't able to reproduce this. The pull script you provided worked for me on 4.39.0. Are you still seeing this issue on version 4.40.1?

[2020-12-22 21:37] royjit opened #6237 "Template format error: Amplify add auth"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Amplify auth with social federation end up in error.

**Amplify CLI Version**
4.36.0

**To Reproduce**
1.  Follow these step in CLI
[code]
2. Push the newly created auth `amplify push`.
3. Amplify push fail with the following error
[code]
4. Cloud formation has the following error
[c

[2020-12-22 22:05] akshbhu commented on #6237
Hi @royjit

We have released a fix for this in v4.40. Can you try with the latest version v4.40.1 ?
let me know if this works for you?

[2020-12-22 22:32] akshbhu commented on #6224
Hi @stleon

I guess there is a problem in category-cloudformation-template.yaml file when you are referencing the "X" parameter.
you can use ```Ref``` to use the value for "X" in parameters.json.

[2020-12-22 23:06] akshbhu commented on #6225
To answer few of your questions

1) Yes, Datastore using the generated appsync resolvers in the backend but when syncing for local database to dynamoDB.
 If manually adjusting  the VTL resolvers will also works fine and wont break datastore if the input/output types are being respected ( depends on your  the implementation too).

For the next Question:

Thats not going to work ```id``` key work is

[2020-12-22 23:23] akshbhu commented on #6226
Thanks for the feature request.

[2020-12-22 23:24] half2me commented on #4568
I'm having this exact issue. All I wanted to do was copy the user details from cognito into dynamodb after the user signs up.
Didn't think this was such an advanced scenario. Is there some guide on how to setup the correct IAMs etc?

[2020-12-23 00:04] SwaySway commented on #4760
@rafaelsorto I was able to reproduce this. The scenario here is adding field auth on a connection. It's adding the default value which is `$ctx.source`. Marking this is a bug.

Potential Workarounds
- Override the resolver `StoreLocation.carts.res.vtl` and change the value to `$ctx.result` as mentioned by @jmcruzmanalo
-  Another option is the rules look to be the same as the ones on the object. T

[2020-12-23 00:18] royjit commented on #6237
@akshbhu

Updating the cli fixed the issue. Closing this.

[2020-12-23 00:18] #6237 closed

[2020-12-23 00:23] ammarkarachi commented on #5840
This is a bug on our end but you would have to remove the following json from `amplify/backend/backend-config.json` to push again
[code]

[2020-12-23 00:24] half2me opened #6238 "Can't remove a postConfirmation trigger"
**Describe the bug**
I generated a cognito postconfirmation trigger lambda. I want to remove it. I go through the options, and de-select my trigger.
<img width="369" alt="Screenshot 2020-12-23 at 01 20 07" src="https://user-images.githubusercontent.com/6759894/102945145-385c1a80-44bd-11eb-90bc-d5d8e2b059f4.png">
<img width="374" alt="Screenshot 2020-12-23 at 01 20 13" src="https://user-images.gith

[2020-12-23 05:03] akshbhu commented on #6230
Hi @getglad

AFAIK your schema looks fine. There is one catch when using subscriptions with @auth.You can check the documentation here: https://docs.amplify.aws/cli/graphql-transformer/auth#authorizing-subscriptions

 I have the following questions for the above quote

1. Can you check if your data is present in dynamo DB?

2. Have you tried running these queries/mutations on Appsync Console?

[2020-12-23 06:03] r0zar commented on #6228
I hear you, man. Recently with the CLI tools, it almost feels like we constantly have to get "under the hood" to operate basic workflows. Though to use an analogy here- it would seem odd for a car manufacturer to produce a vehicle _without_ a hood over the engine because it broke down so much, drivers constantly need to conduct manual repairs. The right thing to do is have the engine work on its o

[2020-12-23 07:36] mjza commented on #6234
@akshbhu
Here are my versions:

[2020-12-23 07:37] mjza commented on #6234
Also here is my `cli.json`:

[code]

[2020-12-23 08:23] mjza commented on #6234
I compared this project with another project that I made last week with version 4.40.0 and there is the following differences:

1. In `cli.json` the following part is new:
[code]

2. In `parameters.json` in line 52 this is new:
[code]
3. In `xyz-cloudformation-template.yml` also we have in two places:
[code]
and

[code]

I removed them, and tried `amplify push --y` but it fails to update cloud!

[2020-12-23 10:29] Pranav-Dakshina opened #6241 "Codegen auto generate from schema is missing few fields"
**Describe the bug**
When I download the `schema.graphql` file from `AWS AppSync`, and run `amplify codegen`; generated queries, and types doesn't match the schema

**Amplify CLI Version**
4.40.1

**To Reproduce**
`schema.graphql`
[code]
and run `amplify codegen`

`API.ts`

[code]
`items` is missing in `ItemConnection`

**Expected behavior**
The generated `API.ts`

[code]

**Desktop (please comple

[2020-12-23 10:34] mjza commented on #6234
Anyway I solved the problem by creating `Amplify Backend` instead of `Amplify Webapp`. It solved my problem and I passed that error.

[2020-12-23 11:46] danielesalvatore commented on #3780
+1

[2020-12-23 14:17] PeteDuncanson opened #6315 "DataStore: Throws "UpdateItem on versioned data source requires the _version to be provided." when sending a mutation"
**Describe the bug**

When trying to update an existing model via DataStore GraphQL throws the following error in the console and in the network tab:

"UpdateItem on versioned data source requires the _version to be provided."

Yet the code is good and the _version field is provided. Seems that this was caused by my resolver (added via Amplify not manually) for the update mutation wasn't DataStore

[2020-12-23 14:50] PeteDuncanson opened #6242 "Cancelling a push or getting timeout seems to leave the app in an unknown state"
**Describe the bug**

When ```amplify push``` is interrupted it seems to cause issues with the known state of the application both locally and up in the cloud.

Interruptions might be through a user killing the process or through a network timeout.

Does the process recover well to get both local and cloud instances in a known state so that the next push is valid.

**Amplify CLI Version**
You can

[2020-12-23 14:56] PeteDuncanson commented on #5552
Can I sanity check my App to see if I'm stretching Amplify too much or something, I'm still having push times take 5+ minutes sometimes 10+ which is just a dev flow killer.

Even Nader Dabit said it shouldn't be taking this long: https://twitter.com/dabit3/status/1336672727806205953

Which makes me thing am I doing something wrong or is there something else that could be done?

Its all Amplify out

[2020-12-23 15:11] NotSoShaby opened #6243 "Docker caching on amplify is breaking the build / is inconsistent"
**Describe the bug**
Some build after pushing to a connected branch are failing due to caching issues (even though they pass locally).
Another way to know that this is a bug, is that creating a new amplify app and connecting the same branch to it, finishes the build successfully.

**Amplify CLI Version**
4.40.1

**To Reproduce**
Not sure how to reproduce

**Expected behavior**
A branch that builds

[2020-12-23 15:41] stleon commented on #6224
Hi @akshbhu

I do not need use `Ref`. I want to receive such parameters as `ENABLED/DISABLED/PREFERRED` (strings) in template.

For example, In s3-cloudformation-template.json:
[code]
in parameters.json:
[code]

Not `Ref`.

[2020-12-23 18:30] benmj commented on #1055
Agreed @mmccall10 - this would be perfect and satisfy many use cases.

@mikeparisstuff would you be able to give a rough idea of how this stacks up amongst the priorities of the Amplify team?

[2020-12-23 18:49] jacobdubail opened #6245 "auto-compile lambda in typescript during `amplify mock api`"
**Which Category is your question related to?**
Function and API

**Amplify CLI Version**
4.40.1

**What AWS Services are you utilizing?**
AppSync, Lambda

**Provide additional details e.g. code snippets**
I've converted a lambda to Typescript. I have a package script `"amplify:framePricingGet": "cd amplify/backend/function/framePricingGet && tsc -p ./tsconfig.json && cd -"` that works fine. What

[2020-12-23 18:59] ammarkarachi commented on #4953
Hi, Can you try using the latest version? we reworked the function update workflow let me know if this is still an issue

[2020-12-23 19:17] #6197 closed

[2020-12-23 19:22] #5600 closed

[2020-12-23 19:40] 9037568 opened #6246 "amplify pull error: Cannot read property 'defaultProject' of undefined"
**Describe the bug**
When attempting to pull a newly created project via `amplify pull`, the command fails.

Opening link: https://us-east-1.admin.redacted.com/admin/redacted/staging/verify/
√ Successfully received Amplify Admin tokens.
Amplify AppID found: redacted. Amplify App name is: redacted
Backend environment staging found in Amplify Console app: redacted
Failed to pull the backend.
Cannot

[2020-12-23 20:40] akshbhu commented on #6234
good to know it worked , Closing this issue as it seems to be solved.

[2020-12-23 20:40] #6234 closed

[2020-12-23 20:50] jhockett commented on #6246
Hi @9037568, thanks for the bug report! I was able to reproduce it.

[2020-12-23 21:09] jhockett commented on #6246
To get unblocked, you can run the following:
[code]

See the [docs](https://docs.amplify.aws/start/getting-started/setup/q/integration/angular) for more information.

[2020-12-23 21:14] akshbhu commented on #6245
Hi @jacobdubail

AFAIK there are no hacks to push this script as it will require some rework in mock category.
Can you not include this script and ```amplify mock api ``` in  some npm scripts?

[2020-12-23 21:24] 9037568 commented on #6246
Thanks for the unblocking instructions. Very helpful.

[2020-12-23 21:55] hogarthww-labs opened #6247 "Flexible and configurable folder structure"
**Is your feature request related to a problem? Please describe.**

The amplify folder structure is too rigid for a lot of common scenarios, such as when using mono-repos

**Describe the solution you'd like**

Configurable folder structure where `amplify` and `backend` are not hardcoded folders but can be configured as needed to fit into the hosting folder structure, such as a monorepo

**Describe

[2020-12-23 21:56] hogarthww-labs commented on #2289
I created this issue https://github.com/aws-amplify/amplify-cli/issues/6247 to address the folder structure problem

[2020-12-23 21:56] hogarthww-labs commented on #582
I created this issue https://github.com/aws-amplify/amplify-cli/issues/6247 to address the folder structure problem

[2020-12-23 22:14] ammarkarachi commented on #6242
@PeteDuncanson with the stack you should be able to re-push if the stack has completed it's update/rollback. I am not entirely sure about the GSI update issues but I will get back to you on that.

Thanks for bringing this to our attention we are looking into ways to improve the push feature in the CLI

[2020-12-23 22:28] akshbhu commented on #6241
Hi @Pranav-Dakshina

When you configured codegen , you are promped with this question :
```Enter maximum statement depth [increase from default if your schema is deeply nested]```

You can statement depth > 2 so that it can generate nexted items.  This is skipped in your case as nested depth is set as 2.

What you can do is :
1. run ```amplify configure codegen```
2. Configure above question for a

[2020-12-23 22:30] akshbhu commented on #6247
Hi @hogarthww-labs

Thanks for bringing this to our attention we are looking into ways to improve such  features in the CLI.

[2020-12-23 22:47] Pranav-Dakshina commented on #6241
Hi @akshbhu

Thanks that made sense. It works 🎉
I will close this issue

[2020-12-23 22:47] #6241 closed

[2020-12-23 22:49] hogarthww-labs commented on #6247
Is there a way to create a headless amplify project?

Looking at the main run function, doesn't look like it

[code]

I would suggest

[code]

Where is `frontend` is not disabled, build it, otherwise skip it. This would require a tweak to

[code]

[code]

Also the above merger of

[code]

Should instead deep merge using [extend](https://www.npmjs.com/package/extend) or similar so that we can deep

[2020-12-23 22:54] PeteDuncanson opened #6248 "Push timesout...and I've no idea why."
**Describe the bug**

This is related to #6242

I work in two places, one has no problem pushing. The other will often timeout when pushing. To the point that I often switch using my phone as a hot spot to get around it. This works but its killing my data plan!

Oddly at this place I have plenty of internet speed, its not metered and works good enough to run everything else I need. Ok so sometimes

[2020-12-23 23:11] jamesonwilliams commented on #6248
@aws-amplify/amplify-cli mentioned that this may be related to https://github.com/aws-amplify/amplify-cli/issues/4113.

[2020-12-23 23:24] kaustavghosh06 commented on #6248
@PeteDuncanson We've seen this issue before and this it's highly probably that this is caused due to Network issues like high latency, packet loss, and congestion as mentioned out here - https://aws.amazon.com/premiumsupport/knowledge-center/s3-socket-connection-timeout-error/

As @jamesonwilliams suggested, could you please give the above mentioned network tools a try?

[2020-12-23 23:43] davegravy commented on #3350
Reading the above it sounds like an amplify project is **not** account agnostic - it, and the files that by default are committed to revision control (ie are not in .gitignore) are tightly coupled to an existing AWS account.

Is this the intent?

[2020-12-23 23:47] kaustavghosh06 commented on #3350
@davegravy The Amplify project and the CloudFormation files generated by the CLI are account agnostic.
One way to migrate or clone your project infrastructure is my creating a new environment (amplify env add)-> choose AWS profile of the new account when creating the environment -> amplify push.

[2020-12-23 23:49] PeteDuncanson commented on #6248
The dodgy connection (which seems to be behaving itself at the mo):
![image](https://user-images.githubusercontent.com/1674590/103044645-40799000-4579-11eb-890a-bda2a2e5307b.png)

Mobile:

![image](https://user-images.githubusercontent.com/1674590/103044707-7454b580-4579-11eb-9641-85e26d5d7469.png)

 My home one will have to wait until tomorrow :)

[2020-12-23 23:52] kaustavghosh06 commented on #6248
@PeteDuncanson Were you able to push with the network having no packet loss at the moment right now?

[2020-12-23 23:54] PeteDuncanson commented on #6248
@kaustavghosh06 yep, pushing again now to test again. If it happens again I'll run the same report, is that best way to narrow this down? I know its a tricky one to get to the bottom of an likely its at my end...but network stuff really isn't a strong point for me :)

[2020-12-23 23:58] kaustavghosh06 commented on #6248
Yeah, we tried solving for this problem a few months back - https://github.com/aws-amplify/amplify-cli/pull/5158 by chunking down the files to be uploaded to S3 to avoid seeing this issue.
But I think we need to come up with a better retry strategy as mentioned by @yuth out here - https://github.com/aws-amplify/amplify-cli/issues/4183#issuecomment-624835043 for this problem.

[2020-12-23 23:59] davegravy commented on #3350
Ok then is it fair to say that:

1. `amplify/team-provider-info.json` should be in .gitignore, and
2. running `amplify init` on a freshly cloned project then choosing an AWS profile associated with a blank account should create all the necessary resources in that account (it doesn't, it tries to import those which existed on the old account, as eluded to by @rt-demetri)

[2020-12-24 00:00] PeteDuncanson commented on #6028
This just hit me again tonight. Closing the schema file makes it go away and I can push. Oddly I only had the file open to look at (I'd not edited it at all) and that was enough. Had a few computer restarts since the last time so no idea what that is.

[2020-12-24 00:02] PeteDuncanson commented on #6028
@attilah I tried making a directory, no problem, type schema no problem. I'm developing locally, still got yarn start running (its a create-react-app) when I push if thats of note. I've no idea what WSL1 or 2 is :(

[2020-12-24 00:56] half2me opened #6249 "Function lambda layer dependencies are not removed"
**Describe the bug**
Once a function has a lambda layer configured, removing it does not remove it as a dependency. This means a lambda layer can never be deleted if it has ever been configured to be used in a function. Even if the function no longer uses the lambda layer, it still acts like it is a dependency.

**Amplify CLI Version**
4.40.1

**To Reproduce**
1. Create a new lambda layer with `am

[2020-12-24 01:00] ammarkarachi commented on #6232
@giorgiocarniel Someone from the aws forums would be better suited to help you: https://forums.aws.amazon.com/index.jspa

[2020-12-24 02:52] ewsams opened #6250 "Issue with amplify initializing an Angular Project"
![image](https://user-images.githubusercontent.com/40345707/103055659-dfe25700-4568-11eb-9381-a4d6bb5358d1.png)
I have tried npm installing amplify-frontend-javascript after the cli. Using the latest amplify version as well on windows.

[2020-12-24 03:17] jhockett commented on #6250
Closing as duplicate of https://github.com/aws-amplify/amplify-cli/issues/6246. Workaround in the comments.

[2020-12-24 03:17] #6250 closed

[2020-12-24 03:24] sw-yx opened #6251 "[Bug] Amplify deploy fails and hangs with no resolution possible"
**Describe the bug**
Amplify deploy fails with this error message:

[code]

and then the CLI completely hangs with a very confusing message and doesnt terminate

![image](https://user-images.githubusercontent.com/6764957/103057439-713de180-45da-11eb-8b57-5efed5e48bd2.png)

**Amplify CLI Version**
4.39

**To Reproduce**
https://github.com/sw-yx/amplify-react-serverless-components/

**Expected behav

[2020-12-24 03:28] jhockett commented on #6249
Closing as duplicate of https://github.com/aws-amplify/amplify-cli/issues/5961.

[2020-12-24 03:28] #6249 closed

[2020-12-24 04:42] chrisyeung1121 opened #6252 "Cannot Build Backend on`amplify auth import`"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I tried switching the auth to an imported one where I use CDK to customise it. However, after I did `amplify auth import` - the following error shows on Build > backend at Amplify console.

[code]

**Amplify CLI Version**
4.40.0

**To Reproduce**
1. use `amplify auth import`
2. then

[2020-12-24 04:58] nubpro commented on #6252
A few had success doing the following:
https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-660498668
https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

[2020-12-24 09:06] ThierDev commented on #3979
Tested in Amplify 4.40.0 and getting the same issue too

[2020-12-24 09:41] half2me commented on #5961
Just a bit of extra info. In my case I got it to work without having to remove the function.
If you edit these files, removing references to the layer in your function's dependencies, the layer can be properly deleted.
- backend-config.json
- amplify-meta.json
- function-cloudformation-template

[2020-12-24 09:52] hogarthww-labs commented on #6247
I noticed the reference code for `index.js` for `amplify-app` I used is a bit outdated, but the concepts and core changes remain the same.

[2020-12-24 11:04] rewardle-jason opened #6254 "@aws_api_key Not applying to generated List queries or mutations"
**Describe the bug**
When API Key is set as an additional auth method to a graphql type, it's auto generated queries and mutations associated with the type fail with an access denied error when called with an access key.

**Amplify CLI Version**
amplify version is 4.39.0 on macos

**To Reproduce**
Create a demo amplify project following these instructions:
https://docs.amplify.aws/start/getting-st

[2020-12-24 11:18] KarthickSelvam commented on #1087
But I want the Lambda to be able to access a dynamically generated table, which is not created via cli. How can I change the role explicitly via amplify?

Currently I had to manually change the role in the console to make this work.

[2020-12-24 12:29] kristianmandrup commented on #6247
I've since discovered that amplify does indeed seem to support some kind of configuration via the `PathManager` in the `amplify-cli-core` package under `state-manager`

`amplify` is an instance of `AmplifyToolkit` in the `amplify-cli` package under `domain`

[code]

Where `._amplifyHelpersDirPath` by default is `extensions/amplify-helpers` under `amplify-cli` package

So a much better way to overr

[2020-12-24 12:37] ahtokca opened #6255 "How to remove all deleteXXX mutation from graphql api?"
**Which Category is your question related to?**
GraphQL API

**Amplify CLI Version**
4.28.2

**Provide additional details e.g. code snippets**
I have @auth notation like below.
[code]
However it still **allows deletion**. Is there any way to remove delete mutation completely? Am I doing anything wrong?
Does it make sense to tweak api/../build/clouformation-template.json?

[2020-12-24 13:18] kristianmandrup commented on #6247
Started work in this branch [flex-folders-and-args](https://github.com/kristianmandrup/amplify-cli/tree/flex-folders-and-args) WIP. Feel free to help out if you are interested or have suggestions.

[2020-12-24 13:46] dacarva opened #6256 "Disable DataStore for entire API not working from Amplify CLI"
**Description**
I am having some issues with Datastore and conflict detection. I am developing a web app where Datastore is not needed and it's causing some issues so I decided to remove it using the Amplify CLI.

When I run the command amplify update api to disable Datastore for the entire API I get this error from IAM:

`UPDATE_FAILED               AuthRolePolicy01

[2020-12-24 14:58] alexiscaspell commented on #433
+1

[2020-12-24 18:08] ammarkarachi commented on #6251
@sw-yx Can you try the latest CLI version? it should be working in 4.40.0 and onwards.

[2020-12-24 18:12] jamesonwilliams opened #6258 ""Headless" mode of Amplify CLI is not an idiomatic developer experience"
Today I recalled that some work had gone in to support a non-interactive mode in the Amplify CLI. I went about trying to use it.

I was expecting a DX like:
[code]
Or, at worst:
[code]

However, [as seen in this doc](https://docs.amplify.aws/cli/usage/headless#sample-script), the option arguments take JSON blobs. Here's a snapshot, for reference:

[code]

I've never seen a single command line tool

[2020-12-24 18:15] iuyt9003 opened #6259 "Rollback of schema on deployment"
A huge bug! When changing a schema field name ( which has a @connection directive) back and again to the same name, Causing AppSync to crush!

**Describe the bug**
I am using amplify with Api that uses graphql. I have in the table ( @model ) a field that has an @connection on it,
I have updated the field name to something (ABC for example...) then I have returned to the same name it was before
(no

[2020-12-24 18:17] kaustavghosh06 commented on #6258
@jamesonwilliams  Understand the concern here, but having `amplify subcommand  --option1 value1 --option2 value2` with 20-30 options didn't seem optimal as well when we decided to go with JSON blobs rather which would be easier to manage in CI/CD environments. Having said that we have added support for headless configuration for configuration of categories which look something like `cat <your-json

[2020-12-24 18:20] kaustavghosh06 commented on #6259
@iuyt9003 When you changed the field-name, I'm assumign you ran `amplify push`- did the push succeed in your terminal?

[2020-12-24 18:23] #6251 closed

[2020-12-24 18:24] kaustavghosh06 commented on #6254
@rewardle-jason You'd need to use the @auth directive - `@auth(rules: [{ allow: public }])` in the schema for your model for all the associated  queries, and mutations  tied to your model.

[2020-12-24 18:24] #6254 closed

[2020-12-24 18:27] kaustavghosh06 commented on #6256
@dacarva Looks like there's a IAM policy missing in an IAM role in your account. Could you please go tour AWS Account's IAM Console and add "iam:ListPolicyVersions" policy to the "us-east-2_sklHaVKuw_Full-access" IAM Role. That would let you push successfully.

[2020-12-24 18:27] #6256 closed

[2020-12-24 18:29] kaustavghosh06 commented on #6255
@ahtokca How did you verify that it still sllows deletion. If you haven't explicitly mentioned `delete` the corresponding auth directives shouldn't be applied to the operations - are you not seeing that behavior?

[2020-12-24 18:31] jamesonwilliams commented on #6258
Thanks @kaustavghosh06 for the very speedy reply.

For this init workflow, the interactive mode collects 6 pieces of information from me. However, the CLI can already detect reasonable defaults for almost all of them:

[code]

So, I would expect the non-interactive mode to use those defaults, and give me the _option_ to override them. In other words, if I run this command in an Android project, th

[2020-12-24 18:31] kaustavghosh06 commented on #6248
@PeteDuncanson Closing this issue - please let us know if you're still seeing this often with a reliable network connection.
We're tracking the retry work I mentioned above as a part of this issue - #4183

[2020-12-24 18:31] #6248 closed

[2020-12-24 18:32] #6246 closed

[2020-12-24 18:39] kaustavghosh06 commented on #6231
@Risord That might be because you're missing @model on your type? Is that intentional?

[2020-12-24 18:39] #6242 closed

[2020-12-24 18:40] kaustavghosh06 commented on #6223
@erashdan Could you please try using v 4.40.1? Tried reproducing it with v4.40.1 and wasn't able to. Please let us know if you're still seeing this.

[2020-12-24 18:40] #6223 closed

[2020-12-24 18:41] kaustavghosh06 commented on #6206
Closing due to lack of response.

[2020-12-24 18:41] #6206 closed

[2020-12-24 18:52] kaustavghosh06 commented on #6213
@ayeganyan I recently ran into this issue. This happened since I didn't have `npm` installed on my machine and the CLI was trying to run `npm install` on my NodeJS Lambda functions before pushing. Do you have npm installed and what OS are you using?

[2020-12-24 18:53] kaustavghosh06 commented on #6191
@ayeganyan You'd have to remove cognito groups using `amplify auth remove` -> `userpool-groups` and that would get rid of all the userpool groups.

[2020-12-24 18:54] #6191 closed

[2020-12-24 18:58] #5652 closed

[2020-12-24 19:01] kaustavghosh06 commented on #5872
@s3ru  The precedence of which role a user belonging to multiple groups depends on the precedence level you set in your cognito user pool. Based on the higher precedence level of the group the user belongs to, the corresponding role gets applied. You can read more out here in the section "Assigning Precedence Values to Groups" - https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-use

[2020-12-24 19:01] #5872 closed

[2020-12-24 19:07] kaustavghosh06 commented on #5883
@bneigher That's a great question. You can look up the identity id's and associated logins in the cognito identity pool console  out here:

<img width="1280" alt="Screen Shot 2020-12-24 at 11 06 03 AM" src="https://user-images.githubusercontent.com/7247658/103103745-215e1b00-45d8-11eb-8aab-6078f45f9b8e.png">

[2020-12-24 19:07] #5883 closed

[2020-12-24 19:09] kaustavghosh06 commented on #5566
@michaelbrewer We'll look into this. Sorry for the late response.

[2020-12-24 19:09] #5752 closed

[2020-12-24 19:20] kaustavghosh06 commented on #4741
Closing due to lack of response.

[2020-12-24 19:20] #4741 closed

[2020-12-24 19:22] kaustavghosh06 commented on #4870
@Ricardo1980 are you unblocked with the issue above?

[2020-12-24 19:23] ahtokca commented on #6255
@kaustavghosh06, Thanks for reply. Well, despite the fact that I explicitly removed 'delete' from allowed operations it still generates at api/my-api/build/schema.graphql with `deleteXXXX` mutations. If I execute the 'deleteXXXX' from react-native client than it perfectly deletes the item from table. Could it be linked to the multiple auth rules?

[2020-12-24 19:25] kaustavghosh06 commented on #6255
Yeah, that's possible. Let us look into it.

[2020-12-24 19:27] kaustavghosh06 commented on #5815
@Meganezaru You're right - you'd need a custom resolver for this. You can read more about it out here @apurvamistry - https://docs.amplify.aws/cli/graphql-transformer/resolvers#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model

[2020-12-24 19:27] #5815 closed

[2020-12-24 19:29] kaustavghosh06 commented on #5879
@PeteDuncanson Yeah, right now we don't autogenerate/codegen the mutations/queries to a specific lambda function and you'd have to manually copy the auto-generated mutations/queries to the Lambda functon directory. I'll mark this as an enhancement for our team to look at.

[2020-12-24 19:31] Ricardo1980 commented on #4870
@kaustavghosh06 Yes, thanks a lot!

[2020-12-24 19:31] #4870 closed

[2020-12-24 19:32] kaustavghosh06 commented on #5853
@christodupreez Were you able to debug this Lambda function? Does your Lambda function have access to perform the admin cognito actions?
As a side note - ee provide an out of box admin query lambda function to interact with your configured auth resource in the CLI. You can read more out here  - https://docs.amplify.aws/cli/auth/admin

[2020-12-24 19:36] kaustavghosh06 commented on #5822
@oste There are a few things you'd need to do for IAM policies to be attached to the auth and unauth roles.
First you'd need to add IAM as an additional auth type to  your API using the `amplify add/update api` flow. Then for the models you want to grant IAM access, you'd need to add - @auth(rules: [{ allow: public, provider: iam }]). Once you push this change, the CLI will auto-add the necessary

[2020-12-24 19:36] #5822 closed

[2020-12-24 19:39] kaustavghosh06 commented on #2722
@bduff9 You can maybe use a custom resolver with a custom datasource for your use-case. Have you gotten a chance to look at - https://docs.amplify.aws/cli/graphql-transformer/resolvers
Note: You'd have to write CloudFormation definitions for your custom data-source.

[2020-12-24 19:50] kaustavghosh06 commented on #3722
@apoorvmote DataStore currently doesn't support this use-case currently but I'm we're working actively on supporting multiple auth types on a schema. Discussed with @amhinson offline and moving it to the JS repo.

[2020-12-24 20:00] kaustavghosh06 commented on #5432
I'm marking this as an enhancement for the CLI to provide a way to specify custom policies for a function so that it doesn't get overwritten on a next `amplify update function`.

[2020-12-24 20:04] kaustavghosh06 commented on #5921
@berenddeboer We create the log group as a part of the lambda function CloudFormation defintion.
You can probably add the "RetentionInDays" parameter to the log-group created as a part of the CloudFormation deinition.
Docs - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-logs-loggroup.html

[2020-12-24 20:07] kaustavghosh06 commented on #6017
@hyungjunk How are you configuring the DB? Is it through the Amplify CLI?

[2020-12-24 20:19] kaustavghosh06 commented on #5204
@Ricardo1980 were you able to figure out a solution for this?

[2020-12-24 20:23] kaustavghosh06 commented on #4958
Closing this issue. Please let us know if you're able to get around the issue with @ammarkarachi 's response above^.

[2020-12-24 20:23] #4958 closed

[2020-12-24 20:28] kaustavghosh06 commented on #5846
@blbigelow If you're defining the ES domain completely outside of the Amplify project, then an `amplify push` shouldn't affect any of that configuration.
Having said that, are you modifying the ES configurations generated by the Amplify CLI as a part of the @searchable directive?

[2020-12-24 20:30] kaustavghosh06 commented on #5843
@yaquawa If you'd want to update/refresh/rotate the API-Key, you'd need to go through these steps with the Amplify CLI - https://docs.amplify.aws/cli/graphql-transformer/config-params#createapikey

[2020-12-24 20:30] #5843 closed

[2020-12-24 20:39] kaustavghosh06 commented on #6156
@joscarras The delete issue from the Amplify Console should be working now.
@makiyov Glad upgrading the CLI version worked for you :)

[2020-12-24 20:39] #6156 closed

[2020-12-24 20:40] kaustavghosh06 commented on #6143
Closing due to lack of response.

[2020-12-24 20:40] kaustavghosh06 commented on #6052
Closing due to lack of response.

[2020-12-24 20:40] #6052 closed

[2020-12-24 20:42] kaustavghosh06 commented on #5858
@karthik2872 This error should be fixed with the Latest version of the CLI - v 4.40.1. Could you please let us know if you're still stuck?

[2020-12-24 20:43] kaustavghosh06 commented on #5854
@dwamianm Could you please try using the latest CLI v 4.40.1 and see if you're still seeing this issue with mock?

[2020-12-24 20:45] kaustavghosh06 commented on #6063
@boxcee Sorry for the late response. Could you please run `amplify function build` with the latest version of the CLI? That should provide a more descriptive error with the function build.

[2020-12-24 20:45] #6012 closed

[2020-12-24 20:46] kaustavghosh06 commented on #6159
@heng2j @half2me Are you'll unblocked on this issue?

[2020-12-24 20:47] kaustavghosh06 commented on #6116
@24601 Are you still blocked on this issue?

[2020-12-24 20:48] #6227 closed

[2020-12-24 20:49] CharlieDigital commented on #501
Similar issue:

[code]

Not sure if this would fall into the same category, but this access denied error isn't leading me anywhere.  No changes to my app front-ends on the AWS side and publish doesn't work anymore.  Not even sure where to look at the moment.

[2020-12-24 20:52] xavierraffin commented on #5402
Please keep open

[2020-12-24 20:52] kaustavghosh06 commented on #5816
@rush86999 To remove the S3 trigger - you could've just run `amplify update storage` -> remove trigger instead of removing the storage resource completely. When you checkout from say 'dev' env to 'prod' env - the changes from dev - carry-froward to prod. To avoid that you can use the `--restore` flag when checking out prod - `amplify env checkout prod --restore` or after checking out prod, you can

[2020-12-24 20:52] #5816 closed

[2020-12-24 20:54] kaustavghosh06 commented on #5809
@scowie This seems concerning. How was the other ES domain configured?
When you remove the @searchable directive, only the ElasticSearch domain configured using the CloudFormation stack by the CLI should be removed and impacted.

[2020-12-24 20:55] kaustavghosh06 commented on #5402
@xavierraffin did you try using the latest version of the CLI. AFAIK, we don't ask this question anymore on init or pull. cc @ammarkarachi

[2020-12-24 20:57] kaustavghosh06 commented on #5830
@ergunpp Were you able to get through this issue? Did you use the aws cli or amplify cli to setup the user-pools?

[2020-12-24 21:00] kaustavghosh06 commented on #5619
We've fixed this issue with the CLI and the Console Builds with CLI v 4.32+. Please point your Amplify Console builds to latest to avoid this issue.
cc @edwardfoyle

[2020-12-24 21:00] #5619 closed

[2020-12-24 21:03] kaustavghosh06 commented on #4688
@idanlo Do you have functions configured in your project? You can run `amplify function build` to get a better stack trace of what the error is. Could you please run that and let us know the stack-trace?

[2020-12-24 21:05] kaustavghosh06 commented on #5105
You'd need to add `{ allow: private, provider: iam }` or `{ allow: private } //cognito-auth`  in addition for all logged in users to have access.

[2020-12-24 21:05] #5105 closed

[2020-12-24 21:05] idanlo commented on #4688
@kaustavghosh06 after deleting the amplify folder locally and doing init again it worked. Weird

[2020-12-24 21:08] kaustavghosh06 commented on #5340
Yeah, nothing should get deleted, but we're unable to reproduce this display issue on our end.

[2020-12-25 01:55] mgrazianoc commented on #5271
Kind of disapointing to know about that on CLI.

[2020-12-25 04:00] yaquawa commented on #5843
You mean I have to rotate them manually?!

[2020-12-25 05:46] bneigher commented on #5883
@kaustavghosh06 all I see here is the Cognito ID (us-west-2:xxxxxx).  And when paging into one of them with a "Linked login" it's essentially an empty page.  It's useless.
<img width="1414" alt="Screen Shot 2020-12-24 at 9 43 39 PM" src="https://user-images.githubusercontent.com/4627728/103121532-6c584c80-4631-11eb-8218-e358c7a882c3.png">

I'm hoping to be able to lookup the federator's auth id (a

[2020-12-25 05:47] bneigher commented on #5883
or rather, am expecting..

[2020-12-25 07:58] chrisyeung1121 commented on #6252
I can confirm that by adding Environment Variable it solves the issue. I hope this bug will be fixed soon with newer amplify cli.

[2020-12-25 07:58] #6252 closed

[2020-12-25 12:51] rudyhadoux commented on #5119
@Hideman85  Is that useful for you ?
https://www.youtube.com/watch?v=p0mfjz6wZng
and
https://github.com/aws-amplify/amplify-cli/issues/630

[2020-12-25 13:53] scowie commented on #5809
@kaustavghosh06 The ES domain was configured to allow searching for activities by location (map bounding box) as follows:  1) Created a new mapping type property to have "type": "geo-point", 2) Deleted the index "activity" which had been created by the amplify cli for the searchable graphql type "Activity", 3) Re-created the "activity" index on the elasticsearch domain to include use of the new "g

[2020-12-25 15:31] iuyt9003 commented on #6259
It did succeed. and I was on the UI AppSync and saw the build worked. the field on the UI of the AppSync changed.
But then after 30 minutes I was on the AppSync again and saw the old format!!! with the old name.
Then my API suddenly broke. and after that, I was doing
1) amplify pull - no changes,
2) amplify status - no changes,
3) amplify push - API changed??? But my local API file hasn't changed.

[2020-12-25 16:27] jupitercow commented on #2062
As of December 1, 2020:
`Error: Calling brew cask install is disabled! Use brew install [--cask] instead.`

Use:
`brew install --cask oracle-jdk`

amplify --version: 4.40.1

[2020-12-25 16:29] jupitercow commented on #4670
As of December 1, 2020:
`Error: Calling brew cask install is disabled! Use brew install [--cask] instead.`

([https://news.ycombinator.com/item?id=25528475](https://news.ycombinator.com/item?id=25528475))

Use:
`brew install --cask oracle-jdk`

amplify --version: 4.40.1

[2020-12-25 16:40] Hideman85 commented on #5119
The issues I have is due to two missing features to enable "transitive models authorization".

Let's take an simple example of document sharing with the ability to the users to define who has access to the documents.
For the example let's says that the document that we split the document in parts that are saved separately so we have this modeling:
[code]

Now let's concentrate on the model Documen

[2020-12-25 17:04] rudyhadoux commented on #5119
I don't understand your problem completely.
But I manage to authorize particular users (members) like that :

[code]

[2020-12-25 17:51] Risord commented on #6231
@kaustavghosh06 it is intentional. I think @model maps to db table but you might want have other types too in your schema for example with lambda resolvers.

[2020-12-26 00:28] 9037568 opened #6262 "Backend configuration lost after frontend deploy"
NOTE: I can't tell whether this is a CLI or console problem, so I'm starting it here.

**Describe the bug**

I had configured the auth piece of my backend:

[code]

But after I deployed a frontend via the web admin UI, that backend configuration was apparently lost:

[code]

**Amplify CLI Version**
4.40.1

**To Reproduce**
Unconfirmed:
-- Configure backend with auth
-- Deploy frontend

**Expected

[2020-12-26 01:57] ammarasmro opened #6263 "Manually deleted amplify folder from project and can't use amplify CLI anymore"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
I downloaded and set amplify up. The setup wasn't working for me (newbie) so I decided to clean my system and start over to see what went wrong. Tried running `amplify delete` and `amplify update auth`, they didn't help. So, I remov

[2020-12-26 07:51] #5720 closed

[2020-12-26 11:50] Ricardo1980 commented on #5204
@kaustavghosh06 I couldn't using the official way (integrating the 2 services properly).
What I do is that in the client, after the sign in process, manually I update the endpoint.
Not the best option but it is working.

I will try to this in a clean project and then open a bug.

[2020-12-26 16:19] ahtokca commented on #6255
it allows to create/delete even with the combination below.
[code]
:(

[2020-12-26 21:47] jhockett commented on #6263
Hi @ammarasmro, you deleted the amplify project with `amplify delete`, so you can't perform an `auth update` or `status` because there is no amplify project. You need to run `amplify init` in order to create a new project.

[2020-12-26 22:08] ammarasmro commented on #6263
Right but that still doesn't solve the errors. It starts the questions from
[code]
Instead of asking for the project name
And even after following through. All Amplify commands fail with errors like the one posted above

[2020-12-27 02:15] jhockett commented on #6263
I see. It looks like the CLI is detecting it's in a project for some reason. Can you share your project structure?

To get unblocked, try `amplify init` in an empty directory and then copying the relevant files over from the broken project.

[2020-12-27 06:04] bilgrami commented on #3134
My graphQL backend was created in another project, I just wanted to connect to the back-end and utilize it inside my client react app. Hence, I just needed the graphQL schema pulled and code to be generated.

I first ran this from @mayteio. Thanks a lot!!!! The api_id is retrieved from appsync under settings.
Notice that I am using schema.json instead of src/graphql/schema.json
[code]

then while

[2020-12-27 12:11] iuyt9003 commented on #6259
Again!!!
1) Amplify status - No changes.
2) Amplify push - API changed : OOO

Whats going on, my env broken again.

![image](https://user-images.githubusercontent.com/23431551/103170475-3099ce80-484d-11eb-97af-5e8fa4e4fa3b.png)

[2020-12-27 14:27] iuyt9003 commented on #6259
I am starting to thinking maybe it is related to preview on Amplify, Because my other teammate. haven't pulled from staging but he opened up a pull request and we have a preview on it that targets staging env. but it should take the latest version.

so I am not sure.

[2020-12-27 20:57] getglad commented on #6230
Hey @akshbhu - got some traction on this with the `js` team and it looks like it is actually a JS library problem, not anything generated by the CLI, so closing this - thanks!

For reference - https://github.com/aws-amplify/amplify-js/issues/7435#issuecomment-751514968

[2020-12-27 20:57] #6230 closed

[2020-12-28 05:21] danrivett opened #6265 "Add Support for customizing GraphQL Input types when overwriting VTL resolver"
**Is your feature request related to a problem? Please describe.**
I have created a custom resolver to overwrite a VTL request template for a mutation, in order to autogenerate a nested type's (not top-level) `id` to ensure it includes the top-level id in order to be able to query for the top-level type given a nested-level id, and then the nested type can be filtered. See the example GraphQL sche

[2020-12-28 07:59] mattcech commented on #4384
Any updates as to when this may be fixed? Having same issue, checked user permissions, and also updated cli version to latest.

[2020-12-28 08:53] mjza commented on #5152
@UnleashedMind
Is it still under reviewing?

[2020-12-28 08:57] mjza commented on #5152
@aprilmintacpineda I tested your solution but it does not work anymore.

[2020-12-28 09:00] aprilmintacpineda commented on #5152
Sorry to hear that, not sure why it doesn't work anymore though...

[2020-12-28 09:23] mjza commented on #5152
@aprilmintacpineda I found an alternative [here](https://github.com/aws-amplify/amplify-cli/issues/3275#issuecomment-663919926)

[2020-12-28 10:27] oliverandersencox opened #6266 "Template error: resource BookingTable does not support attribute type StreamArn in Fn::GetAtt"
**Describe the bug**
When running amplify push api I get this error which is utterly un useful. On production version, i always get this error but will then run again and it always works, but on our dev version it fails with this every-time.

**Amplify CLI Version**
4.40.1

**To Reproduce**
Run - amplify push ap

**Expected behavior**
It should update the amplify API

**Desktop (please complete th

[2020-12-28 10:51] benjamin79 opened #6267 "Authorized error on a query with a parent list with a nested object which has @auth"
Not sure if it is a bug, but it feels like one. With the following code i get: Not Authorized to access ad on type Person

The query itself works, but with the above error. A person can have one ad and an ad can have multiple persons.

When i query the ads alone it works and i only get the back ads where the ads.editor array field contains the username. For Example ["myUsername","anotherOne"]

**A

[2020-12-28 14:35] ankon opened #6268 "graphql-XXX-transformer packages depend on graphql-transformer-core and others using exact semvers"
**Describe the bug**

I'm trying to depend on multiple graphql-XXX-transformer packages and the graphql-transformer-core package, so I can configure our own transformers in addition to some amplify transformers.

I need to pin down every version and explicitly run `npm dedupe`, because the transformers all use exact-version dependencies, and would get their own copy of the dependency -- but then c

[2020-12-28 14:48] babylon2017 opened #6272 "I require a graphQL API maximum statement depth of greater than 10, but when I try to increase it to 12 i get a crash."
To increate the API statement depth I use:
`Amplify codegene configure`

When I try to increase it to 12 (10 compiles just fine, but is not enough for my nested graphQL API), I get the following error:

[code]

[2020-12-28 16:12] blazinaj commented on #5152
A dirty way around this is to just provide non-existing IDs for the required ID fields that are null.

[code]

This (surprisingly) does not cause an error. And when you query ModelTwo, the connection will return null.

[2020-12-28 16:15] blazinaj commented on #3275
A dirty way around this is to just provide non-existing IDs for the required ID fields that are null.
[code]
This (surprisingly) does not cause an error. And when you query Plan, the connections will return null.

[2020-12-28 16:19] Kamran21 opened #6269 "codegen produce an empty src/API.ts"
**Describe the bug**
codegen produce an empty src/API.ts

**Amplify CLI Version**
4.40.1

**To Reproduce**
On ann expo typescript project:
amplify mock locally and also when running amplify codegen  src/API.ts is generated but stays empty

**Expected behavior**
To have all the relevant types inside of API.ts

**Screenshots**
![image](https://user-images.githubusercontent.com/7753930/103227918-dc1b

[2020-12-28 17:20] kevcam4891 commented on #4795
Oddly enough, I did the same (v14 -> v15.5) and it successfully pulled from the cloud. Not quite sure what's changed that upgrading node worked. Also possible it was coincidence.

[2020-12-28 19:46] ziggy6792 commented on #659
@danielblignaut

I have done quite a lot of work in the foundations for my app running using cdk (setup some lambdas, api gateway, cognito user pool etc.. ) and I have a react frontend which can authenticate with cognito and then call my api.

I have a [frontend repo](https://github.com/ziggy6792/cdk-monorepo-example-frontend) and a [backend repo](https://github.com/ziggy6792/cdk-monorepo-example)

[2020-12-28 20:05] hirenumradia commented on #5403
I have run into this today as well. My use-case is similar but has arisen from automation.

I have AWS CDK deploying an amplify app to my environment. I am creating a fresh backend environment using the 'amplify init' headless script. The backend environment doesn't have any categories added.

I am exporting the Cognito variables needed for 'team-provider-info.json' from AWS CDK. Then following th

[2020-12-28 20:40] cyrfer opened #6270 "error on amplify push: malformed policy, related to graphql schema"
**Describe the bug**
I am seeing a cloudformation error when deploying with `amplify push`.

The resource this error is related to is nowhere to be found when globally searching my VS Code project.

I had a successful deploy very recently, but some things changed:
1. I added a new query field in my graphql schema
2. I added some code in my existing lambda function to handle the new query field
3.

[2020-12-28 20:48] ahtokca commented on #6255
here is the answer I get from aws support, I think the issue can be closed

{allow: owner, operations: [read, create, update]}

[code]

[1] https://docs.amplify.aws/cli/graphql-transformer/auth#owner-authorization
[2] https://docs.amplify.aws/cli/graphql-transformer/model
[code]

[2020-12-28 21:05] hirenumradia opened #6271 "Make 'amplify import auth' headless"
**Is your feature request related to a problem? Please describe.**
I am using AWS CDK to deploy a new Amplify app and Cognito Resources. I am exporting the required Cognito outputs from AWS CDK and have initialised a new amplify backend environment using a headless amplify init script.

This environment has no resources. I want to use 'amplify import auth' to import the CDK provisioned Cognito aut

[2020-12-28 23:28] montycheese commented on #4234
+1 This issue prevents our team from being able to use the mock feature as we depend on env variables to init the AWS Config among other things.

[2020-12-29 00:15] jamesonwilliams commented on #6272
Transferred to Amplify CLI issues. Whether or not we support this statement depth, the customer experience here is wrong. CLI should send a friendly message instead of barfing with a cryptic stack trace from a dependency.

[2020-12-29 00:50] edwardfoyle commented on #2739
You may need to add custom certs to the node process. Node uses a different trust store than the system one. See https://stackoverflow.com/questions/29283040/how-to-add-custom-certificate-authority-ca-to-nodejs

[2020-12-29 02:02] djom202 opened #6273 "How to re-create the infrastructure from a DB change?"
**Which Category is your question related to?**
infrastructure

**Amplify CLI Version**
4.39.0

**What AWS Services are you utilizing?**
Graphql, DynamoDB

**Provide additional details**
I'm currently creating the models for my DB, but I'm facing some issues when I modifying the tables since I created the tables and now I added some secondary indexes so Amplify CLI says "Local secondary indexes mu

[2020-12-29 04:02] uncodable commented on #2384
Just to throw this out there, just like EC2 instances there's options to prevent them from being deleted (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/terminating-instances.html#Using_ChangingDisableAPITermination)

I know this might not be for the Amplify team and more for the DynamoDB team.. but why can't we just flag tables to have a form of delete protection? A simple flag against the t

[2020-12-29 04:16] vuchau commented on #996
+1

[2020-12-29 06:41] nniirraavv commented on #3541
Getting the same issue,
[code]
@idanlo Thank you for your quick solution, But Adding manual searchField into the schema from the Amplify console is a temporary solution. It should be generated automatically.
@amplify Team Please look at the issue.
@SwaySway

[2020-12-29 06:43] nniirraavv commented on #3248
Getting the same issue,
[code]
@idanlo Thank you for your quick solution, But Adding manual searchField into the schema from the Amplify console is a temporary solution. It should be generated automatically.
@amplify Team Please look at the issue.
@SwaySway

[2020-12-29 08:50] NotSoShaby commented on #91
Why is this closed?

[2020-12-29 10:38] idanlo commented on #6214
@yuth this actually just happened again.
I was using cli version 4.37.1 because the new versions are not working with multiple environments, so with version 4.37.1 I tried adding access to an S3 bucket for a lambda function, this function already has multiple resources connected to it such as auth, api, analytics. After adding access to an S3 bucket nothing changed in the backend-config file and t

[2020-12-29 10:39] idanlo commented on #6214
Also after downgrading back to 4.37.1 and updating permissions again, doesn't affect the backend-config and amplify-meta, they just stay with just the `auth` dependency

[2020-12-29 11:43] vincent38wargnier commented on #1576
I tried adding an unauthenticated IAM access for guests which is supposed to have read access only. But I realized that this is quite random, sometimes the IAM can create or write even if I specify only read in rules. I think this is due to merging cognito rules with im rules in the graphql.
Specifying "query: null" will make some random authorisations, well not easy to understand what's going on

[2020-12-29 12:20] mjza opened #6274 "How to write a transformer?"
I am looking for a tutorial that explain how can we start building a custom transformer for amplify graphql. Is there any document available that explain how can we generate it and how to integrate it to a test project?

I found the following link, but it is very incomprehensible.

https://docs.amplify.aws/cli/plugins/authoring#authoring-custom-graphql-transformers--directives

[2020-12-29 12:26] mjza opened #6275 "How to list items in GraphQL based on deep ancestor (e.g. parent of parent)?"
Assume I have defined the following grandparent (i.e. Country), parent (i.e. State), child (i.e. City) models.

[code]

Based on above definition, I can list child elements based on their parents! For example, I have `listStatesByCountry` that makes it possible to list all states based on a passed country id. The same way we can list cities based on a selected state by using `listCitysByState` que

[2020-12-29 13:07] mjza opened #6276 "How to implement i18n in GraphQL?"
I want to have translation for one property in my model. For example if I have:

[code]

I want to store name of countries in `name` property. But I want to store the name for different locales. for example I want to store `Germany` for `en` locale and `Deutschland` for `de` locale. And I want to get the suitable name for this specific country based on the current user locale. For example, when I

[2020-12-29 13:25] joscarras commented on #6156
Apologies for the late response!

@yuth I was messing really hard around for testing / learning so I don't remember the steps I did to get the error, however it was probably something I did in my end and not something with amplify. If I remember correct I was messing with the build folder.

@kaustavghosh06 I was able to delete the project just fine today, so yes I can confirm this issue is resolve

[2020-12-29 16:29] blazinaj commented on #5456
👀

[2020-12-29 16:42] mahanh commented on #4347
+1

[2020-12-29 19:32] edwardfoyle commented on #6259
Can you try pulling the project in a new folder and then run `amplify status` and `amplify push`? It seems like your #current-cloud-backend folder may be out of sync with what's deployed in the cloud.

[2020-12-29 19:35] iuyt9003 commented on #6259
yes, it's seems that it happen because of the preview section. in the UI.
my teammate hasn't pulled the latest change I did on the schema. so the Appsync has changed. and broken.

But he didn't amplify push, he had a preview that was running seems like somehow it was changing the Appsync.

The preview is set to work with one of our env ( instead of creating a new env every time).

[2020-12-29 19:44] edwardfoyle commented on #6273
Do you have any production data in your tables at this point? If not, I'd recommend removing the @models from your schema, pushing and then adding them back with the new @key directives that you want. We also have a new "iterative updates" feature in 4.40 that should handle pipelining dynamodb changes that can't be done all at once which may help you in this case.

[2020-12-29 19:49] cyrfer commented on #6270
I don't understand what changed, but the deploy WORKED TODAY. I simply I re-added the field and the return type in my schema file and ran `amplify push`, just like I did yesterday.

I highly doubt yesterday's error came from a typo. I tried to reproduce the error with a typo and I see a very different error upon deploy. The only other causes I can think of are:
1. The amplify cli might have depend

[2020-12-29 19:51] edwardfoyle commented on #6274
You can check out this project for an example of a custom transformer: https://github.com/hirochachacha/graphql-auto-transformer

Also can you open an issue (or even better a PR!) in the docs repo describing the pain points of the existing documentation?

[2020-12-29 20:04] edwardfoyle commented on #6275
There are a few ways to handle this:

1. If you're okay making several calls from the client, you can call "listStatesByCountry" and then iterate through all the states returned and call "listCitysByState" for each one and concatenate all of the cities into one list to effectively get "all cities in the country"
2. Add the countryId to the City model and add an @key as you described above to the m

[2020-12-29 20:32] edwardfoyle commented on #6276
Without knowing the full context of your application, it's difficult to know what the best approach would be, but I think a schema like the following is heading in the right direction:

[code]

if you don't want multiple "LocalizedCountry" entries for a single country, you'll need a connection to another table.

[code]
And then you can filter the localizedCountryName on the client.

If you want to

[2020-12-29 21:07] OElesin commented on #3222
+1

Use case for Step Functions

We are trying to make machine learning as easy as possible for people using SQL through Amazon Athena. We want to provide a unified experience for data analysts to leverage SageMaker from our SQL Interface.

User flow:
User writes a SQL query with the target column and then submits a model training job.
SQL Query + Target Column -> Step Function -> [create athena q

[2020-12-29 23:01] djom202 commented on #6273
So far, I just to have some list like cities, countries, places to fill the dropdowns. I left the the schema in blank and I tried to push it but I got this error: ```
Syntax Error: Unexpected <EOF>
An error occurred during the push operation: Syntax Error: Unexpected <EOF>
[code]

[2020-12-29 23:08] edwardfoyle commented on #6272
@babylon2017 Could you provide the relevant parts of your schema and describe how you've configured codegen? I'm unable to reproduce with the following schema and a depth of 12:
[code]

[2020-12-30 01:01] MontoyaAndres commented on #6265
Same, I'd like to do the same as @danrivett explains

[2020-12-30 01:05] MontoyaAndres commented on #6238
You can check the backend-config.json file to remove from the "Auth" the trigger from the array "dependsOn" . I don't recommend to do this, it's better with the cli, but if is necessary you can do it...

[2020-12-30 02:47] arkllc commented on #5468
@ammarkarachi @nikhname any guidance here??

[2020-12-30 03:03] arkllc opened #6278 "Please provide an update or at least guidance on the bug where AppSync transform violates DynamoDB rules for sparse index for GSI"
**Describe the bug**
Creating this issue because I am stuck with this issue and I am not getting any guidance from the AWS Amplify team on how to proceed here. Here is the bug - https://github.com/aws-amplify/amplify-cli/issues/5468

**Amplify CLI Version**
See https://github.com/aws-amplify/amplify-cli/issues/5468

**To Reproduce**
See https://github.com/aws-amplify/amplify-cli/issues/5468

**Exp

[2020-12-30 06:16] frankclaassen commented on #3664
Any update on this? I am having the same issue

[2020-12-30 07:27] mjza commented on #6274
@edwardfoyle OK. Thanks. I will write on docs repo.

[2020-12-30 07:37] mjza commented on #6275
1. I want exactly prevent several calls!
2. If I repeat the `countryId` in the `City` model also, how can I guaranty that the `countryId` in the linked `state` is similar to this new `countryId` property in the `City`. I mean is there any mechanism to check this automatically, and prevent wrong creation or wrong update? Maybe you refer me to use custom transformer, but I am looking for something i

[2020-12-30 08:06] mjza commented on #6276
The first approach `LocalizedCountry`, is not acceptable as we cannot later do filtering for a specific item, because one country has several ids. The second approach is a classical solution for i18n. However, there are some obstacles.

1. When use case is showing list of items (in this sample, list of countries) in a drop down, such an approach is good.
2. when user can create items in his or her

[2020-12-30 08:19] Albert-Gao opened #6279 "Error when adding authentication: Error: ENOENT: no such file or directory, open '/Users/XXXXXX/codes/self/XXXXXXX/amplify/backend/auth/abcd92719109/parameters.json'"
Amplify version:
4.40.1

1. create a new app with `amplify init`
2. `amplify auth add`
3. add social login
4. select "default" and "I'm done"
5. select Google and Facebook
6. after entering app id of each
7. the following error occurs: `Error: ENOENT: no such file or directory, open '/Users/AlbertGao/codes/self/greening/amplify/backend/auth/greening92719109/parameters.json'`
![image](https://user-

[2020-12-30 08:27] mjza commented on #6274
One small question regarding custom transformer, how can I get the current user information in a custom transformer?

[2020-12-30 08:37] tacck opened #6280 "Some messages output "old-docs-url""
**Describe the bug**
Some messages output "old-docs-url" like
"https://docs.amplify.aws/cli/graphql-transformer/directives#auth".

**Amplify CLI Version**
[code]

**To Reproduce**
`amplify add api`, use `API (GraphQL)`, then `amplify push`.

**Expected behavior**
Output "new-docs-url" like
"https://docs.amplify.aws/cli/graphql-transformer/auth".

**Screenshots**
[code]

**Desktop (please complete

[2020-12-30 09:04] mjza commented on #6274
I checked [here](https://github.com/aws-amplify/amplify-cli/blob/master/packages/graphql-auth-transformer/src/ModelAuthTransformer.ts) and it seems I can use `$ctx.identity`. Am I write?

[2020-12-30 10:02] babylon2017 commented on #6272
@edwardfoyle, The following is and excerpt from my schema. In the schema below, at a statement depth of 10, I query for the ResearchPost by ID, from this I am unable to access HashTags from the tags property of ResearchPost.

`type ResearchPost @model
@auth(rules: [{ allow: owner, operations: [create, delete, update] }])
{
  id: ID!
  userId: ID!
  title: String!
  description: String
  isPosted:

[2020-12-30 10:11] robin22d opened #6282 "Multiple front ends hosting with the same cognito"
I created an aws amplify back end  as follows:

[code]
[code]
[code]
[code]

Once this was done I created a front end and used the amplify pull command in the front end app

[code]

I wanted to host this app so in the front end app I did

[code]
[code]
[code]
[code]

For the other front ends that i wanted to use the same backend on i created them in the same way and this works fine.

Is this the c

[2020-12-30 10:16] mjza commented on #1528
@kaustavghosh06
Custom indexes are not composite key. In the custom indexes still we have only the first column as the key. And the rest for sorting. Assume I need to index based on two columns! What is the solution?

[2020-12-30 13:12] asungomez opened #6308 "Use custom CF stack as Amplify app backend"
**Is your feature request related to a problem? Please describe.**
I want to describe all my amplify infrastructure as code, so it can be easily replicated and deployed elsewhere. The main goal is to have a CloudFormation template describing an Amplify app, several branches and its corresponding domains. I've checked the CloudFormation documentation regarding Amplify, and I've managed to create th

[2020-12-30 14:08] BracketJohn opened #6283 "Adding a second bucket leads to `undefined` in the `backend-config`"
**Describe the bug**

Adding S3 storage to a project that already has an bucket, adds an `undefined` bucket.

**Amplify CLI Version**
`4.40.1`

**To Reproduce**
Run `amplify add storage` twice, select S3 twice

**Expected behavior**
No further changes to the `backend-config.json`.

**Screenshots**

What happens is the following:
[code]

**Desktop (please complete the following information):**
 - O

[2020-12-30 14:49] mjza opened #6284 "query does not return back items with null value."
I have defined a self referring model like this:

[code]
The property `self` has a default value `1`.

I made some categories and ran a query on the model:

[code]

But surprisingly when I run these 2 queries the items that have no parents does not return back in the `listCategoriesSortByParent`:

[code]
As you can see, the first query has 4 items, and the second query has only 2 items!

[2020-12-30 16:00] Deiiv commented on #1739
Is there any way to recover this without manually recreating the bucket? Does amplify not have a way to make a "new" deployment?

[2020-12-30 18:08] edwardfoyle commented on #6276
If you only want the server to return a country entity with the name based on the client's locale, I think you will need to go with the custom resolver approach. You can create queries such as "listLocalizedCountries" and "getLocalizedCountry" that can look up the country in the countries table and the localized name in the other table and merge it into one object before returning to the client. Y

[2020-12-30 18:22] jhockett commented on #6278
Hi @arkllc. I understand the frustration, but please do not open new issues for existing ones. We do not provide timelines as a general rule of thumb. Closing as a duplicate of #5468.

[2020-12-30 18:22] #6278 closed

[2020-12-30 18:34] jhockett commented on #6283
Hi @BracketJohn, thanks for the bug report! I was able to reproduce on `4.40.1`.

To get unblocked, you can just run `amplify remove storage` => choose undefined

[2020-12-30 18:47] cwoolum opened #6285 "Better error message when cloud provider not yet configured"
**Describe the bug**
When trying to run the `amplify update api` command, I receive the following error. This is with a brand new install of the CLI and a brand new React App.

[code]

**Amplify CLI Version**
4.40.1

**To Reproduce**

1. Create an Amplify sandbox app
2. Install the Amplify CLI via NPM
3. Run the configure command `amplify configure --appId {yourappid} --envName staging`
4. Try to

[2020-12-30 18:51] jhockett commented on #6279
Hi @Albert-Gao. I could not reproduce in a new project. Which OS are you using? How did you install the Amplify CLI? If you used npm, what version of node are you on?

[2020-12-30 19:08] malcomm commented on #5380
Any updates? This is blocking production fix that is really needed.

@mikeparisstuff - any insight into this?

[2020-12-30 19:39] lr001dev commented on #6143
@kaustavghosh06 I just updated the issue with the templated info, please reopen. Thanks!

[2020-12-30 20:14] jhockett commented on #5380
You can enable a preview of iterative updates by updating the CLI and changing the value of the feature flag in `amplify/cli.json`. This feature is new and may not be suitable for a production app.

https://docs.amplify.aws/cli/reference/feature-flags#enableIterativeGsiUpdates

[2020-12-30 20:29] MFranca commented on #4488
Hey, folks, let me know if this helps, since I was facing a very similar problem and (I think) I "fixed" it:
Setup
- Multiple AWS Accounts in AWS Organization with AWS Single Sign-On enabled for those accounts;
- Amplify with Angular (10) SPA - using basically (import) auth and (add) hosting;
 Issue: multiple profiles not working **or amplify ends up publishing in the wrong (default) account**.
[c

[2020-12-30 20:43] edwardfoyle commented on #6274
Yes, here are the AppSync docs describing what's in ctx.identity: https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html

[2020-12-30 20:55] jhockett commented on #6282
Hi @robin22d, check out the [docs](https://docs.amplify.aws/cli/teams/multi-frontend) we have for multiple frontends.

[2020-12-30 21:04] robin22d commented on #6282
Hi yes I have had a look at the docs but I cannot see anything about hosting unless im missing something? Also do you know of any docs that would help me with when a user is logged into one how would I make is so they dont have to log into the app front ends?

[2020-12-30 21:18] jhockett commented on #6282
Is there something not covered in the [hosting](https://docs.amplify.aws/cli/hosting) section? What are you trying to accomplish?

I don't fully understand the question. How would the user log in before accessing the FE?

[2020-12-30 21:24] benkehoe commented on #4488
@nishitjain13 Did you try the `credential_process` method using `aws-sso-util` instead of `aws2-wrap`? I have updated the documentation for it [`here`](https://github.com/benkehoe/aws-sso-util#adding-aws-sso-support-to-aws-sdks).

Additionally, [ `aws-export-credentials`](https://github.com/benkehoe/aws-export-credentials) supports AWS SSO and allows you to inject environment variables with your c

[2020-12-30 21:42] robin22d commented on #6282
I have two apps

* app 1
* app 2

The user has access to both apps and they log into app 1. Then when they go to app 2 they should already be logged in because both apps have the same back end. Its like login into gmail and then going to google docs and not having to log in again.

[2020-12-30 21:44] robin22d commented on #6282
Yes I have had a look that the hosting and wanted to know if the way that im doing it is correct.

[2020-12-30 23:36] tjgriffi commented on #5542
I'm running into this issue as well and just to be clear on what seems to be working (as specified by @aleksvidak ).  You all had to update the subscription response fields for example:

input UpdateExampleModelInput {
	first_name: String
	last_name: String
	email: String
}

to include the createdAt/updatedAt fields? Would that just mean modifying these inputs? ex:

input UpdateExampleModelInput {

[2020-12-30 23:42] vincent38wargnier opened #6287 "[MOCK] createObject returns the object created, but sometimes nothing is saved in the database (random)"
Hi, I had an issue using the mock. I was thinking the problem was coming from my code, but after some research I realized it came from the mock itself. What confirmed it to me was that the bug was happening even in the Amplify GraphiQL Explorer.

I had the 2 following queries :
[code]
When i created my "productOffer", the mock was returning me the product created, meaning that everything worked, b

[2020-12-30 23:53] jhockett commented on #6287
Hi @vincent38wargnier, thanks for the report. Please fill out the issue template so we can better debug what's happening:

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**Desktop (please complete the following information):**
 - OS: [e.g. Mac/Windows/Ubuntu]
 - Node Version. You can use `node -v` to check the node version on your system

[2020-12-31 00:34] r0zar commented on #6217
I love hearing this. Reserving this spot for some deeper feedback, coming soon.

[2020-12-31 01:08] ammarasmro opened #6289 "What to do with access token retrieved from HostedUI?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

So I followed the documentations to setup hosted UI with Google Auth and set the redirect URI to my app's protocol. So when I login, the app is launched and receives the access token so that's all good, but what do I do with this token to sign the user in on the app?

The current workflow that I hav

[2020-12-31 01:18] jhockett commented on #6262
Hi @9037568, can you try running `amplify pull` and see what the result is?

[2020-12-31 01:49] julianpinedayyz commented on #2972
This keeps happening. I just changed the id in the team-provider-info.json and the ran `amplify pull --appId your-amplifyAppId --envName` staging" and works properly.

[2020-12-31 02:23] 9037568 commented on #6262
I tried that several times. The result was the same as shown above:

[code]

[2020-12-31 02:45] jhockett commented on #6262
Can you provide more detail on what you did at this step? I think you mean Amplify console in this case. As far as I know, the admin UI doesn't have a frontend deploy feature.

[2020-12-31 02:49] 9037568 commented on #6262
Too many things with the same name.
When I say "web admin UI", I'm referring to this:

![image](https://user-images.githubusercontent.com/9916473/103391711-d3ba4480-4ae8-11eb-9d9c-ee1de2dd87cf.png)

[2020-12-31 02:51] montycheese commented on #4234
I was actually able to inject ENV variables while running `amplify mock function <lambdaname>` by prepending the env variables in the CLI

e.g.

`ENV=beta TABLE_NAME=Foo amplify mock function LambdaName`

[2020-12-31 03:01] jhockett commented on #6262
My mistake then, that is in fact the admin UI. Can you explain what you did in the admin UI?

[2020-12-31 03:05] 9037568 commented on #6262
I clicked the "frontend environments" tab, and deployed the frontend.

![image](https://user-images.githubusercontent.com/9916473/103392242-e2096000-4aea-11eb-8cdb-4d05aabff142.png)

[2020-12-31 05:07] arkllc commented on #6278
ok. Then at least provide an interim solution. You are correct it is extremely frustrating...

[2020-12-31 05:09] mgarabedian commented on #3143
I am also having this issue. I am trying to figure out how I can throw a custom error with a code or type. In my lambda function I have the following:

`callback(new Error("Show Something"))`

My GQL result is this:

[code]

If I pass a string to 'callback' the message will show. But how can I throw a custom error with a code/type?

[2020-12-31 07:07] nubpro commented on #1865
My usecase for this is to show the total number of records on that particular day

![image](https://user-images.githubusercontent.com/762914/103398966-dd3fbd00-4b79-11eb-941e-7200533f0fc6.png)

[2020-12-31 12:47] kevcam4891 opened #6290 "Fresh clone of project followed by `amplify init && amplify status` marks existing Lambda Layers as `Create`"
**Describe the bug**
When we `git clone` an existing amplify project, then run `amplify init` all of the normal functions get their cloud metadata attached including the very necessary `lastPushTimeStamp`, so the system knows not to create it. Example:

Normal Function after `amplify init` 👍
![image](https://user-images.githubusercontent.com/4650870/103410746-b746f800-4b3a-11eb-963a-2dd03576a83c.p

[2020-12-31 13:23] vishwasnavadak commented on #6117
After recent changes to Amplify Console, I don't see this option anymore, but still facing same issue. Any suggestion on how do we resolve this?

[2020-12-31 13:40] uncodable opened #6291 "[codegen] graphql config - multiple extension outputs from a project"
**Is your feature request related to a problem? Please describe.**
I want to output typescript types to lambda functions as well as my frontend application also.

**Describe the solution you'd like**
The ability to have many extensions with the same key as `amplify` within the same project:
[code]

**Describe alternatives you've considered**
Having a folder in the root directory to allow types to

[2020-12-31 13:50] uncodable commented on #6291
**Alternative solution**
This would work a better way instead of executing the extension many times;
[code]

[2020-12-31 20:10] #5921 closed

[2020-12-31 20:10] #2722 closed

[2020-12-31 20:10] #5853 closed

[2020-12-31 20:10] #6213 closed

[2020-12-31 20:31] edwardfoyle commented on #6284
This is because the listCategoriesSortByParent query is querying a GSI with a compound key of "self" and "categoryParentID". If either one of those values doesn't exist in the record, that record will not be included in the GSI and thus not part of the result. If this is not the behavior you want, I'd recommend explicitly putting in an "empty" value for non-existent  parents

[2020-12-31 20:40] edwardfoyle commented on #6287
Just to be 100% sure, does the issue still repro if you remove the filter on the query?

[2020-12-31 21:05] edwardfoyle commented on #6285
If you are pulling a newly deployed sandbox app, you should run `amplify pull --appId <appId> --envName staging` instead of configure.

That being said, marking this an an enhancement as we should throw a better error message in this case

[2020-12-31 21:08] #6274 closed

[2020-12-31 21:12] ktmdan opened #6292 "After creating a new environment aws-exports.js is not updated"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
After creating a new environment it does not update aws-export.js, you must use amplify env checkout to update

**Amplify CLI Version**
4.40.0

**To Reproduce**
Create new env and push, then check the aws-exports file it will be the previous values

**Expected behavior**
Should updat

[2020-12-31 21:14] edwardfoyle commented on #6275
For 2, there isn't any "automatic" mechanism for this. You would need to write a custom resolver for the create city operation that looks up the corresponding state and duplicates the countryId into the city record. If you have a use case where a state might move to a different country (seems unlikely) you would also need to have custom logic to handle updating the country id of all the cities in

[2020-12-31 21:52] cwoolum commented on #6285
Hey Edward,

Yeah, I discovered yesterday that the first `pull` command I ran didn't work. After running it again, it fixed my problem. I created PR #6293 to handle the problem gracefully and added some tests as well.

[2020-12-31 21:57] edwardfoyle commented on #6269
Can you describe how you configured `amplify codegen`? In particular, when running `amplify codegen configure`, ensure that
[code]
is set correctly. The default is `src/graphql/**/*.ts` for typescript projects

[2020-12-31 22:10] edwardfoyle commented on #6272
Hi @babylon2017 I'm still unable to reproduce this issue. In the original stacktrace you posted I see that JS ran out of heap space. Is it possible that you've configured node to run with a very small amount of memory or perhaps you are running on a machine with limited memory?

[2020-12-31 22:53] akroll1 commented on #5011
You've got to be kidding me. I"m supposed to trust this in production?? Same errors, error messages are a block box.

Look, I appreciate the scale of the Amplify project but I left it a couple years ago because it wasn't ready... and now, it's still not ready to support production work.

[2020-12-31 23:05] fkunecke commented on #3326
@hogarthww-labs thanks for putting that together. Your template files, combined with https://medium.com/@navvabian/how-to-add-an-sqs-queue-to-your-amplify-cli-bootstrapped-project-cb7781c636ed I was able to piece together an SQS + lambda trigger to fire off some machine learning/computationally heavy tasks from a queue. Would love to see this integrated completely into amplify, but definitely unde

[2021-01-01 05:05] akash87 commented on #6100
The changes are not detected for me no matter what changes I do on layer via CI/CD method. Layers on amplify is very buggy - request the amplify team to please look into this.

[2021-01-01 07:23] nubpro opened #6295 "How to delete project from the cloud while keeping the local source files intact?"
I would like to remove all the deployed infra from AWS cloud while preserving my source codes for my lambda and schema etc.
How can I do that?

Running `amplify delete` would destroy basically everything from the cloud and the local files.

**Which Category is your question related to?**
Cloudformation and environment

**Amplify CLI Version**
4.40.1

[2021-01-01 13:41] vincent38wargnier commented on #6287
Unfortunately I didn't try without the filter, and now I removed the mock directory to work on a clean one so I can't test it anymore.

[2021-01-01 17:18] PawanMude commented on #5871
It's working fine with latest version of cli.
aws-amplify/cli@4.41.0
aws-amplify/ui-react@0.2.33
aws-amplify@3.3.13

[2021-01-01 17:18] #5871 closed

[2021-01-01 18:19] hisham commented on #2698
Still an issue I believe.

[2021-01-01 18:51] Kamran21 commented on #6269
Thank you for replying, Your comment helped me noticing the change in the path of the generated graphql, In my case it seems that it is ./graphql/**/*.ts instead of ./src/graphql/**/*.ts.

I am not sure why the default doesn't start with src folder and instead the graphql folder was created at the root instead.

![Screenshot 2021-01-01 at 18 36 55](https://user-images.githubusercontent.com/7753930

[2021-01-01 19:12] simpian opened #6296 "amplify pull failed"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
A few problem encountered in the flow.

1. When I run `amplify pull --appId xxxxx --envName dev` , i'm prompted to login to verify
2. I click open the url and try to verify, I'm prompted to sign in using username and password, but I

[2021-01-01 20:30] dopry opened #6297 "Amplify CLI not using the profile listed in the local-aws-info.json"
I have set up two different environments using two different profiles. Applies to 4.36.2. I cannot use 4.40.1 at this time because of a different bug about a missing Id token that is supposed to be related to the  Admin UI setting.

[code]

.aws/credentials
[code]

.aws/config
[code]

Given I have my personal environment checked out
   AND the AWS_PROFILE environment variable is unset
When I run `

[2021-01-01 20:42] dopry opened #6298 "team-provider-info.json shouldn't be treated as a canonical source of environment information."
It seems like the team-provider-info.json is the store for environment details. It would be nice if it only stored a  reference to an AWS account, appId, and environment id, the rest of the environment details such as AuthRoleName, UnauthRoleArn, AuthRoleArn, Region, DeploymentBucketName, UnauthRoleName, StackName, StackId, AmplifyAppId, etc were stored in the cloud.

That way the cli could use th

[2021-01-01 21:08] kaipi commented on #5011
Exact same thing has been there last 8months using amplify and really getting on my nerves because there is no solution this same issue going rounds again and again.

[2021-01-01 22:10] davad commented on #2672
Had this problem today, and after following these steps, I was able to do a successful `amplify push` again.

[2021-01-02 01:27] dopry commented on #1032
@arelaxend  team-provider-info.json does **not** contain credentials.

[2021-01-02 02:06] arelaxend commented on #1032
Yes they change it recently, didn't they

[2021-01-02 08:45] babylon2017 commented on #6272
Hi @edwardfoyle I am new to AWS Amplify.  When I set up my IOS project I simply followed `Amplify init` instructions.  If what you say is correct, please could you give me some pointers in increasing this memory?  i have had a dig around at the Amplify console but cannot see any options to configure this memory?

[2021-01-02 12:09] PeteDuncanson commented on #6109
For those coming behind me, the default starting value for ```_version``` in your tables is 0 but you can set it to any number as it increments it but got for 0 for safety if you are back filling. You will also need to set the ```_lastChangedAt``` field while you are there, this is a number (and not a date or a AWSDateTime as I thought it would be....:shrug:), you can set all theses to the same va

[2021-01-02 17:42] PeteDuncanson commented on #6242
@ammarkarachi what state is this issue now in? Its flagged as pending-response but is also closed?

[2021-01-02 22:14] dopry commented on #968
@kaustavghosh06 amplify/backend/function/*/*-cloudformation-template.json is not ignored by default and still causes these errors.

[2021-01-03 04:39] davad opened #6299 "Unable to push new environment - race condition with NoneDataSource?"
**Describe the bug**
My backend is already deployed in a couple of environments. Pushing changes to those environments works as expected. When I tried to create a new test environment today, it failed with the initial push with this error:

[code]

It looks like it's trying to create the resolvers before the NoneDataSource finishes being created?

**Amplify CLI Version**
4.41.0

**To Reproduce**

[2021-01-03 07:13] jamesonwilliams opened #6300 "CLI installer inappropriately updates my bash_profile"
I've run the `amplify` installer script a few times. Now, in my `~/.bash_profile` I see:
[code]

It should either not update my dot files, or it should ensure only one entry is present.

[2021-01-03 15:29] gersondi opened #6301 "Failed to install CLI: Unexpected end of JSON input while parsing near '...edSize":344294,"npm-s'"
![amplify-cli error](https://user-images.githubusercontent.com/55311391/103482271-f2308080-4e05-11eb-9bf3-1e59da7f4e3f.PNG)

The logs
0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   '@aws-amplify

[2021-01-03 16:05] asmiki commented on #3664
Same issue here

[2021-01-03 17:39] PawanMude opened #6302 "auth headless is missing the following inputParams googleAppIdUserPool"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

- amplify add auth
- Default configuration with Social Provider (Federation)
- Username
- No, I am done.
- Accept default domain prefix
- redirect sign-in and sign-out URI's added <<Valid Working URI>>  (another redirect sign-in and sign-out URI is not added)
- Social Provider selec

[2021-01-03 18:10] Nxtra commented on #3781
This helped me out.
I forgot to specify the credentials when defining the client:
[code]

[2021-01-03 20:07] jamesonwilliams opened #6303 "CLI does not provide a usable help dialog"
I'm trying to reference the documentation for how the `pull` subcommand works.

None of the following commands show help for the pull subcommand.

[code]
[code]
[code]
[code]

Some of these commands will ask me:

I would not expect to need an AWS profile, to view the help text.

[2021-01-03 20:38] jhockett commented on #6295
Hi @nubpro, you can delete the app from the Amplify console. That will only affect the cloud.

Alternatively, you can backup the project files and then run `amplify delete`.

[2021-01-03 22:06] jhockett commented on #6301
Hi @gersondi, can you please upgrade to the latest version of [npm](https://www.npmjs.com/package/npm) and try again?

If it still gives you trouble, you can use the compiled Amplify CLI as a workaround. Windows command: `curl -sL https://aws-amplify.github.io/amplify-cli/install-win -o install.cmd && install.cmd`

For more information, see https://docs.amplify.aws/cli/start/install

[2021-01-03 23:49] jcity commented on #4736
Ran into this as well! Having to press `<space bar>` and then `<return>` was def not obvious! Thanks for posting!

[2021-01-04 00:00] ammarkarachi commented on #5011
@akroll1 @kaipi Is this error after pulling and then pushing?

[2021-01-04 01:46] Celinala opened #6305 "Error when Amplify push"
I keep running into this problem when trying to push to my AWS console. It only happens when I try to push for Lambda functions, been stuck on it even after running "pip3 install --user pipenv", really not sure what to do, any help would be appreciated.

Pasted from terminal after "amplify push":

[code]

[2021-01-04 02:34] akroll1 commented on #5011
I believe that is what I did.

[2021-01-04 03:23] jeremysouthon commented on #82
![image](https://user-images.githubusercontent.com/52940041/103498258-353b3400-4e98-11eb-899a-f5cf76af3a88.png)

Still having this issue. I'm running `amplify pull` -> `amplify add function` -> `amplify push` then this error occurs can't seems to push new lambda functions...

Any help would be great!

[2021-01-04 05:22] gersondi commented on #6301
Thanks @jhockett the workaround using
`curl -sL https://aws-amplify.github.io/amplify-cli/install-win -o install.cmd && install.cmd`
installs Amplify CLI

[2021-01-04 05:22] #6301 closed

[2021-01-04 06:30] mjza commented on #6284
OK. Thanks. I pushed `"empty"` as the id of parent and it resolved.

[code]

[2021-01-04 06:30] #6284 closed

[2021-01-04 07:03] mjza commented on #6275
I don't have a use case that state and city have different country!
I meant I need a mechanism to control it and prevent pushing wrong information in the DB. In case user push wrong countryId for a City I would like to have an exception.

[2021-01-04 09:59] hogarthww-labs commented on #3326
Great to hear :) Do you have a repo with a working example you can share?

[2021-01-04 10:29] mahanh commented on #2191
then this should be called create-graphql-datasource!
add is confusing!

[2021-01-04 15:30] enhancement-ventures commented on #6269
Happens to me too, fresh project

[2021-01-04 15:41] #6280 closed

[2021-01-04 15:55] #6285 closed

[2021-01-04 16:03] renegoretzka commented on #202
I am looking forward to support single-table-design for interface @model transformer. I hope this will be supported in the near feature. Thanks a ton!

[2021-01-04 16:38] loganpowell commented on #6024
Would ❤️ this!

[2021-01-04 17:03] ammarkarachi commented on #5011
@akroll1 I am testing with the latest version, which version are you using?

[2021-01-04 17:09] renegoretzka commented on #6217
I am looking forward to support interface / unions.
It would be awesome if you can set the @model directive on the interface and merge all types which implement the interface into one database entry.

[2021-01-04 17:33] loganpowell commented on #1865
Just adding another voice of support for this. Would love a way to reduce my Appsync bill 🗡️ ❤️

[2021-01-04 17:37] mjza opened #6304 "Using Auth on RDS types"
Assume I have followed the following tutorial:

https://docs.amplify.aws/cli/graphql-transformer/relational

This will lead to have some types like

[code]

in my `schema.graphql` file. The question is how can I use `@auth` on this type?
If I use it it will say it needs `@model` and if I use `@model` then `amplify push` will try to generate a table in DynamoDB and not any more count it as a RDS ta

[2021-01-04 18:48] edwardfoyle commented on #6275
You'll need to write a custom lambda resolver to handle this: https://docs.amplify.aws/cli/graphql-transformer/function
The lambda resolver can look up the country id based on the state id when a city is created and add that into the city record.

[2021-01-04 19:13] akshbhu commented on #6305
Hi @Celinala

May I know which amplify version are you using? You try with our latest version (4.41.0).
Also which OS are you using for this?

[2021-01-04 19:19] akshbhu commented on #6303
Thanks for reporting it 👍 .
We are actively working to improve the help section for such commands.

[2021-01-04 19:40] akshbhu commented on #6302
Hi @PawanMude

It seems you are using Amplify Console for your builds. One thing you would need to include those input params as environment variables. An example of this is noted in this comment: https://github.com/aws-amplify/amplify-cli/issues/4790#issuecomment-656422252
Reference from Amplify Console Repo: https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-660498668.

Let m

[2021-01-04 20:14] jhockett commented on #6270
Hi @cyrfer, glad to hear you got it working.

I'm not aware of any changes that could have caused this issue, but it's hard to rule out entirely.

Closing this issue. Let us know if you see this again and we can reopen.

[2021-01-04 20:14] #6270 closed

[2021-01-04 20:20] jhockett commented on #6262
@9037568 sorry, I got confused. The page you are on is the Amplify console. The orange button that says "Open admin UI" brings you to the admin UI.

[2021-01-04 20:35] parikh20 opened #6307 "Missing credentials in config"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Setting up Amplify via amplify init

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.41.0

**What AWS Services are you utilizing?**
None atm

**Provide additional details e.g. code snippets**
Amplify

[2021-01-04 20:40] akshbhu commented on #6300
Thanks for reporting this 👍

[2021-01-04 20:56] jhockett commented on #6262
So far I haven't been able to reproduce. Can you go into detail on the steps you took to configure `auth`?

[2021-01-04 21:17] akshbhu commented on #6307
Hi @parikh20

Can you check the ```local-aws-info.json``` in the ```.config``` folder inside ampify folder if it contains your profile used when go went through amplify init flow?

Also are you using windows or Mac for your project?

[2021-01-04 21:31] edwardfoyle commented on #6272
The node memory isn't an Amplify specific thing and if you aren't aware of any configuration you've changed, then that's likely not the issue.

[2021-01-04 21:38] parikh20 commented on #6307
Theres no .config folder since amplify init errors out. I'm currently on Linux.

[2021-01-04 22:10] akshbhu commented on #6307
I guess you are using vscode. You can check in the ```.vscode``` folder , there must a file ```settings.json``` , you can uncomments/ remove the files mentioned in ```settings.json```. After this you can see the .config folder.

[2021-01-04 22:13] SwaySway commented on #4986
Closing this issue due to lack of information. Please comment below to re-open.

[2021-01-04 22:13] #4986 closed

[2021-01-04 22:18] lr001dev commented on #6143
Hello again, wondering if someone connect with me on this... This issue is holding up our development. Thank you!

[2021-01-04 22:40] SwaySway commented on #6273
Could you provide the schema which resulted in this error? As far as discussions related to changes on `@key` the directive currently only creates an LSI when referring the secondary index references a hash/sort key from the primary key.

Related PR: https://github.com/aws-amplify/amplify-cli/pull/5648

[2021-01-04 23:54] renebrandel commented on #6300
cc @edwardfoyle

[2021-01-05 00:00] akroll1 commented on #5011
4.40.0

[2021-01-05 00:09] edwardfoyle commented on #6300
@jamesonwilliams Once you have installed the packaged CLI once, you should use `amplify upgrade` to install newer versions. This command will not add duplicates to your bash_profile. However, we can add some logic to prevent the duplicates

[2021-01-05 00:21] SwaySway commented on #4290
Closing this issue as the owner field does get added to the type when using `owner` based auth. Should you still experience any issues please comment below.

[2021-01-05 00:21] #4290 closed

[2021-01-05 00:33] cybercussion commented on #5550
I just ended up in this situation too.  I had a Lambda Function given access to a storage S3Bucket, then I went back to the Lambda Function to allow it to post to the DynamoDB GraphQL storage and ended up with the same error.

[2021-01-05 01:00] parikh20 commented on #6307
This is my local-aws-info.json

`{
  "dev": {
    "configLevel": "project",
    "useProfile": true,
    "profileName": "default"
  }
}`

[2021-01-05 01:17] edwardfoyle commented on #6269
I'm unable to repro this in a new project (the default path when I do it is `src/graphql/**/*.ts`). @enhancement-ventures @Kamran21 can you give repro steps starting from `amplify init`?

To work around this issue, you can run `amplify codegen configure` and update the graphql glob pattern to the correct one.

[2021-01-05 01:19] yuth commented on #6267
@benjamin79 Could you share the query used here in both `Person` and `Ad`. You could try runing these queries in  appsync  console  and easily switch users.

One other thing I would be interested in knowing is is for the Person type that you get from the query, is the corresponding `Ad` in `Person.ad`, does it have the current users username as `editor`?

[2021-01-05 01:25] jhockett commented on #6282
Hi @robin22d, thanks for clarifying! It sounds to me like you are looking for SSO ([Single sign-on](https://en.wikipedia.org/wiki/Single_sign-on)). Amplify does not currently have an out-of-the-box solution for SSO. I've marked this issue as a feature request.

[2021-01-05 01:31] cybercussion commented on #2076
I just had this circular issue happen to me and I allowed a lambda trigger to access dynamo and somehow now it can't do anything in S3.  I can't seem to put it back so the whole thing is defunct.  I'm trying to edit out the new function-parameters.json that showed up or the CloudFormation.  I've even gone thru the CLI to try to undo things but it either lets me edit the DynamoDB resource access or

[2021-01-05 01:38] Celinala commented on #6305
@akshbhu I currently have up-to-date 4.41.0 Amplify and my OS is macOs Catalina Version 10.15.7 and I still get error.

[2021-01-05 04:13] 9037568 commented on #6262
I don't know if I can recall it all in the right order.

I believe what I did was:

* Run `amplify add auth` from the CLI
* Push via `amplify push`
* Configure auth via the Admin UI
* Pull via `amplify pull` from the CLI
* Push application changes to CodeCommit
* Use the "Frontend environments" tab above to connect to CodeCommit and deploy the frontend

[2021-01-05 04:36] DevTGhosh commented on #401
@yuth  after updating the model with `@model(timestamps: { createdAt: "createdOn", updatedAt: "updatedOn" })` and running `amplify codegen models` I still can't see the new fields when using it with datastore. I am however able to view the createdOn and updatedOn  on app sync console.

[2021-01-05 05:01] DevTGhosh opened #6310 "Can't access createdOn with Datastore"
**Describe the bug**
When using the timestamps with the `@model` they are not generated as fields in datastore schema.

**Amplify CLI Version**
4.41.0

**To Reproduce**
Create a graphql api add `@model(timestamps: { createdAt: "createdOn", updatedAt: "updatedOn" })` as shown in the [docs](https://docs.amplify.aws/cli/graphql-transformer/model#usage). Then `amplify push` and `amplify codegen models

[2021-01-05 05:17] jamesonwilliams commented on #5807
Closed in favor of #2529.

[2021-01-05 05:17] #5807 closed

[2021-01-05 06:52] bacon1097 opened #6311 "Lambda Resolver - Top Level Errors not being logged in amplify mock"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When requiring an invalid package, the function will simply timeout with no indication of what the error is.

**Amplify CLI Version**
4.41.0

**To Reproduce**
1. In your lambda resolver, provide an invalid `require` statement before the handler is defined.
2. Run `amplify mock`
3. Ex

[2021-01-05 10:44] benjamin79 commented on #6267
@yuth
thanks for helping

[code]

[code]
I get the same error in the appsync console with the first query

Regarding our last question:
No, not ever ad should be visible to all users. So no, the current user is not alway in the editors field.
For example:

I have 2 ads in the db:
One editors field  might look like:
[code]
Another ad editors field:

[code]
So if user2 for example is the current log

[2021-01-05 11:09] ale753 commented on #6305
I have the same problem here. I'm trying to push a python function but I keep getting this error :
Could not find "python3" or "python" executable in the PATH.
You must have pipenv installed and available on your PATH as "pipenv". It can be installed by running "pip3 install --user pipenv".

I'm running amplify 4.41.0 on Windows 10 Education 10.0.19042. I have both Python3 and pipenv installed.

I

[2021-01-05 12:38] Kamran21 commented on #6269
1. I created a new expo project: >`expo init -t expo-template-blank-typescript todo`
2. Run >`amplify init` with the defaults
3. Run >`amplify add api` with the defaults and todo template
4. run >`amplify codegen configure` with the defaults
5. run >`amplify codegen`
6. the result was an empty src/API.ts because by default the graphql  folder was created on the root by default

@edwardfoyle  As I

[2021-01-05 12:40] akroll1 commented on #5011
@ammarkarachi Where is the best place to report bugs? I have a couple for you guys.

[2021-01-05 13:00] ale753 commented on #6305
I got this to work in some way. Probably not all the modifications are needed, but I will show you them all. OS Windows 10 Education.
I did the steps described here :  https://github.com/aws-amplify/amplify-cli/issues/6159
In particular :
1 - Install pipenv using pip install --user pipenv.This does a user installation to prevent breaking any system-wide packages.
2 - Run python -m site --user-base

[2021-01-05 13:05] nubpro opened #6312 "CLI binary for macOS arm64"
**Describe the bug**
When running the following curl command to install amplify-cli on M1 macbook, I get this error.
[code]

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**Expected behavior**
It should just work!

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/76291

[2021-01-05 14:28] PawanMude commented on #6302
@akshbhu  included  those input params (AMPLIFY_GOOGLE_CLIENT_ID, AMPLIFY_GOOGLE_CLIENT_SECRET) as environment variables in Amplify Console. Build is still failing with error code ELIFECYCLE , details mentioned below.

[code]

[2021-01-05 14:38] my-name-is-nheo commented on #4744
@ObinnaAka Have you tried this method before? Were there any consequences?

[2021-01-05 15:13] fpronto opened #6314 "Multi-region support"
**Is your feature request related to a problem?**
There isn't a way to Create multi-region application

**Describe the solution you'd like**
Cloudformation StackSets could be used to solve this problem
DynamoDB GlobalTables

**Additional context**
With some outages by AWS, my client have switched from my application to an older one because it's simply doesn't work...
I'm currently trying to achiev

[2021-01-05 16:48] cybercussion commented on #997
I had some odd behavior when I was extending a S3 Trigger and wanting to add access to a existing App Sync DynamoDB.  It seemed like it started making config changes then hit a circular dependency and failed.  Took me about 3 hrs to sort out what it did.
It removed the S3 policy and I could not figure out how to put it back.  Had to stand up another environment to compare what was different.

[2021-01-05 17:16] wesam80 commented on #4724
Could you try the following:
[code]

[2021-01-05 18:02] lkolodziejek commented on #6295
Hi John,

Can you please kindly elaborate how this can help?

After both actions my local amplify stops working and I'm not able to re-create cloud environment.

In case of first solution, local amplify still believes 'No changes' to the environment and will not allow to push.

For the second, no S3 bucket in AWS and cannot recreate environment as well.

Option allowing to delete resources in Clou

[2021-01-05 18:29] yuth commented on #6267
@benjamin79 I see you have updated the schema to include `@auth` directive for `Person` type with `identityClaim` to be present in `custom:customerID`.  What error do you get when you run the first query? Do you manage to get any of the `Person` listed with that query.

Since you are using a custom identity claim, I am assuming you already have configured [Cognito Lambda trigger to update the JWT

[2021-01-05 18:44] nubpro commented on #6310
You need to populate your schema with `createdOn` and `updatedOn` fields.

[code]

You can also add `createdAt` and `updatedAt` fields into your schema if you don't intend to replace the field names.

[2021-01-05 18:47] nubpro commented on #6295
A proper solution would be much appreciated.
I have the same dilemma as @lkolodziejek has described.

[2021-01-05 18:56] edwardfoyle commented on #6312
Hi @nubpro Unfortunately [pkg](https://github.com/vercel/pkg) (which we use for building the native binaries) does not support macos arm64 yet. I created [this issue](https://github.com/vercel/pkg/issues/1023) in that repo asking for the feature which you could 👍 .

In the meantime, you can install the CLI using npm. Or if you really don't want to use node/npm, you may be able to run the x86 binar

[2021-01-05 18:59] nubpro commented on #6312
Yap, I managed to install amplify with npm.
Thanks!

[2021-01-05 19:08] yuth commented on #4688
https://github.com/aws-amplify/amplify-cli/pull/6126 has the fix. This has been released in Amplify CLI v4.40.1. Feel free to comment here if the issue still persists

[2021-01-05 19:08] #4688 closed

[2021-01-05 19:15] jhockett commented on #6295
I don't follow @nubpro @lkolodziejek. The original question was just about keeping src files intact and deleting the app in the cloud.

If you want your project to keep functioning, why are you deleting the project in the cloud? Please elaborate on your use cases.

[2021-01-05 19:28] nubpro commented on #6295
For my usecase, I will like to shut off my project as it is using a ton of cloud resources, and charging me. That said, I anticipate I will put back the project back online in a couple of months. Or perhaps I can refer back the codes on my new project (without needing to manually back it up on  another folder).

[2021-01-05 19:50] lkolodziejek commented on #6295
I would like to share code with the client and let them recreate app from their own AWS account.

Besides, shouldn't Cloud resources be decoupled from Infrastructure as a Code?

Removing CloudFormation stack from AWS doesn't purge it's definition,  removing Lambda from AWS doesn't purge GitHub code, I'm not sure why Amplify does so :)

[2021-01-05 20:38] patrickcze commented on #401
@DevTGhosh I am having the exact same issue as well.

[2021-01-05 20:48] akshbhu commented on #6305
@Celinala

Can you try these steps : https://github.com/aws-amplify/amplify-cli/issues/6159#issuecomment-745584938

Let me know if this works for you?

[2021-01-05 20:49] dylan-westbury commented on #4612
Hi @SwaySway

Our CI/CD (appcenter) process for react native fails occasionally, our pre-build script calls `npm install -g @aws-amplify/cli` and does an amplify push. We eventually resolve by hacking at the schema file and force pushing.

Here is an example of error with request ID if helps.

Reason: The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; R

[2021-01-05 20:54] jhockett commented on #5702
Sorry this issue fell off my radar. @BracketJohn @chucre both #5608 and #5498 have been merged and released. Are you still seeing this in the latest CLI?

[2021-01-05 20:55] akshbhu commented on #6302
@PawanMude This doesnt seem like a problem with amplify as previous error was related to ```amplify push```

Can you try with clean your npm cache and removing node_modules folder and try again?

Let me know if that works for you?

[2021-01-05 20:59] jhockett commented on #6184
Closing due to lack of response.

[2021-01-05 20:59] #6184 closed

[2021-01-05 21:00] akshbhu commented on #6314
Hi @fpronto

Thanks for the feature request 👍

Can you elaborate more on your usecase as it will help us in designing better solutions?

[2021-01-05 21:02] jhockett commented on #6159
Closing due to lack of response.

[2021-01-05 21:04] akshbhu commented on #6310
@nubpro  Thanks for the answer.

@DevTGhosh Yeah , you have to populate those fields in your input scehma as quoted in documentation

You can also check the documentation here: https://docs.amplify.aws/cli/graphql-transformer/model#usage

[2021-01-05 21:06] edwardfoyle commented on #6269
@Kamran21 thanks for the repro steps, I was able to get a repro for this. It looks like the root cause of the issue is the "SourceDir" value in `amplify/.config/project-config.json`. Can you confirm if the value for "SourceDir" in that file is "/"?

[2021-01-05 21:09] PeteDuncanson commented on #1865
Just wanted to update on another method we've found of late. As usual it might not be suitable for everyone depending on how many records you have but if you enable DataStore (which by default can store/handle 10k records locally) then you can get the count of various queries, totals etc. by checking the total results returned when you query it:

[code]

It might be a bit wasteful, it might not be

[2021-01-05 21:24] yuth commented on #4752
@kateglee apologies for late response. The attached code is in `list-licenses-awsRequest.js`, you're using an `https` client and mock server supports only http. In order to support both mock and actual server you will have to conditionally use either `http` or `https` client as shown below (which is just updated version of the attached code)

[code]

[2021-01-05 21:36] akshbhu commented on #6307
@parikh20

Apologies. I misread the above information in which you mentioned that you are doing ```ampify init``` on an existing amplify project.
If the project is already setup with amplify , you can try ```amplify pull``` to fetch the existing project from the cloud.

Let me know if I am missing something

[2021-01-05 21:38] jhockett commented on #6271
Hi @hirenumradia, can you please offer some insight into your use case?

[2021-01-05 21:47] huperniketes commented on #6117
WHERE is this Advanced Settings page? I don't see a link to it from any Amplify page, nor can I find it with Google.

[2021-01-05 22:00] yuth commented on #401
A quick workaround is to add these fields to your type and you should have them accessible in data store schema.

[2021-01-05 22:29] bradrover commented on #6117
Trying to deploy my first app and have this issue. Where is this settings page ? I don't have a backend deploy, I just ran through the vue.js tutorial.

[2021-01-05 22:36] vikrantRajan commented on #6117
<img width="1259" alt="Screen Shot 2021-01-05 at 2 34 41 PM" src="https://user-images.githubusercontent.com/48606890/103707252-29687400-4f63-11eb-9b19-69b51bae35fb.png">

Go to Amplify
Click on your amplify app
You should see this screen then,
Click on build settings,
Here you can see your .yml configurations, scroll down and you will find this place where you can edit the input for "Version" or c

[2021-01-05 22:37] amin79 opened #6318 "Unknown field argument owner when using owner rules in Datastore"
**Describe the bug**
I'm using expo with amplify datastore. When I assign owner rule to a model, I get some warnings like "[WARN] 29:35.271 DataStore - Sync error, Connection failed: {"errors":[{"message":"Validation error of type UnknownArgument: Unknown field argument owner @ 'onDeleteUser'"}]}"

When I create a record, it would be save locally but not sync with the dynamoDB table in cloud.

If

[2021-01-05 23:51] simpian commented on #1576
https://eddielh.medium.com/the-missing-guide-to-aws-amplify-public-and-private-access-for-authenticated-and-unauthenticated-2f192cc91391

I used this guide to fix unauth read only access without any manual changes on console, all cli commands.

[2021-01-05 23:59] SwaySway commented on #6287
Closing this issue as there is no further action. Should you run into this again please comment below.

[2021-01-05 23:59] #6287 closed

[2021-01-06 00:34] yuth commented on #5289
@fkoner when an `@auth` directive is added to a field, the transformer automatically creates an resolver for that field.  There is no need to create an resolver in CustomResources.json. The usage of `@auth` directive is on an Query field is meant to be backed by an function, otherwise the resolver created by `@auth` directive will have `NONE` data source and won't be very useful.

If you want to u

[2021-01-06 00:46] bradrover commented on #6117
Ok thanks I found the setting, however my problem still exists. I set the CLI version to 4.41.0 which is what I have locally. I added the section to my config to do the amplifyPush. There has to be an easier way.

<img width="730" alt="Screen Shot 2021-01-05 at 7 41 28 PM" src="https://user-images.githubusercontent.com/1072576/103715421-91807f80-4f8e-11eb-8c7b-52bbe63bdc3a.png">
<img width="381" a

[2021-01-06 00:53] yuth commented on #5116
This is an known issue where if there the user belongs to a custom cognito userpool group, the policy used for that user doesn't have all the permissions that are available for Auth user role. I have marked this as a bug

[2021-01-06 01:05] SwaySway commented on #4638
Closing this issue as the related PR was merged.

[2021-01-06 01:05] #4638 closed

[2021-01-06 01:13] SwaySway commented on #6265
Hello @danrivett
If you have a custom resolver which is auto populating the field you can also override the nested input type as well. This would make the id optional on Mutation Operations.

[code]

[2021-01-06 01:42] danrivett commented on #6265
@SwaySway thanks for the response. I apologise that my example was over simplified and while your suggestion may work in this simple case above, I previously tried your suggestion with a more nested structure and it doens't work; I'll explain below.

Here is the example above but expanded slightly to show the problem:

[code]

In the above example if you attempt to override `JobInput` and define y

[2021-01-06 01:53] danrivett commented on #5289
@yuth could you expand on what you mean by adding "additional spaces" I'm afraid I don't follow.

[2021-01-06 02:05] rt-demetri commented on #6159
`amplify pull` did the trick for me. It must have recreated what was missing (obviously I already had python and pipenv). Think of it this way ... if you were to pick up on a brand new machine, you wouldn't have any of those files under ~/.local/share/virtualenvs or ~/.virtualenvs. That's technically what happened to me (migrated Amplify project to M1 Mac).

[2021-01-06 02:06] vikrantRajan commented on #6117
@bradrover  This looks like you have either not setup your environments properly or amplify cannot understand which environment to build according to your .yml

if you have not setup the credentials to point to the correct way with the Amplify CLI, then this could be the result of that and you may have to delete and recreate your environments.

I'm not sure if this will work but you can try it out

[2021-01-06 02:12] ObinnaAka commented on #4744
@my-name-is-nheo Yes it did. I was able to get it working and I don't think there were any consequences in particular.

[2021-01-06 02:29] parikh20 commented on #6307
That worked thanks!

[2021-01-06 02:29] #6307 closed

[2021-01-06 02:33] yuth commented on #5289
Amplify CLI uses the hash of the schema file in to store resolvers and when output schema. If the path remains the same for any reason, the Cloudformation treats the change as no-op and could cause this issue. By addtion spaces I mean updating your input schema by adding empty spaces

[2021-01-06 02:52] bradrover commented on #6117
No luck. The only thing that works is checking in the aws-exports.js file and then it builds fine. All I did was follow this tutorial exactly as written, then pushed to a new repo, main branch.

https://docs.amplify.aws/start/q/integration/vue

[2021-01-06 02:56] CharlieDigital commented on #2384
Stumbling on this because I'm running into similar issues of having to rebuild the API when a schema change needs to happen during mid-cycle prototyping.

@uncodable I think this could be on the DynamoDB team, but it makes just as much sense, for example, to simply have a configuration option like:

[code]

As part of Amplify rather than having this be some intrinsic feature of Dynamo since Amplif

[2021-01-06 03:25] slefcourt27 commented on #6117
I'm unable to see the "Amplify CLI .. latest" line.  Do you know why this may be the case?

[2021-01-06 04:08] waltermvp commented on #4728
@lenarmazitov what manual changes did you make for a successful push? thank you in advance

[2021-01-06 06:30] fkunecke commented on #2698
how can this possibly be closed? huge issue when adding any amount of field level authorization rules.

[2021-01-06 06:36] martysweet commented on #5340
I was able to reproduce this against one environment by using Node v12.19.0, switching to Node v13.14.0 seems to have fixed it. A providers.categories section was present in my #current-cloud-back-end/amplify-meta.json file.

[2021-01-06 08:46] hirenumradia commented on #6271
Hi @jhockett sure. So the use case is that I want to have a completely automated deployment of an amplify app and associated AWS resources. This allows me to make sure all of our environments are in separate AWS accounts and are nearly indentical in their config.

I have automated a fresh amplify app but am stuck with automating "amplify add auth".

I need to ideally automate this to import the Co

[2021-01-06 09:46] econtentmaps commented on #4885
+1

[2021-01-06 11:01] benjamin79 commented on #6267
@yuth
It doesn´t matter if the claim is in it or not. The error is the same. I made sure by creating two new tables with a different name without the claim and did a new push.

[2021-01-06 11:39] PeteDuncanson opened #6322 "Can't upload images from my javascript app to Storage setup via the CLI"
I've added Storage via the CLI and given permission to Authenticated (read, write, delete) and Guest users (read only) and then pushed.

I've got an app that I have to log into (which is working) and then I've then got a form that tries to upload an image to the storage but its failing with 403 forbidden. I'm not sure where to go from here to get it to authenticate or to try to work out what the i

[2021-01-06 12:01] Kamran21 commented on #6269
@edwardfoyle Tnx for the reply, I can't confirm as I don't have the .config folder under amplify:
<img width="1680" alt="Screenshot 2021-01-06 at 12 52 29" src="https://user-images.githubusercontent.com/7753930/103765885-339b7880-501e-11eb-8b78-fc7b4679b6b1.png">

@edwardfoyle What about my other suggestion for amplify package to expose by default some hooks that will make it easier to get respons

[2021-01-06 12:10] idanlo commented on #5411
+1

[2021-01-06 13:27] adriangostling commented on #2084
Hi @kaustavghosh06 - You closed this issue on 10th December 2019 but since then many people are still reporting that the problem exists and I have encountered it myself today using CLI version 4.41.0

I'm wondering if this was incorrectly closed in response to issue #2883 which solved the same problem but for GraphQL API policy.  The fix there was to change to use managed policies split by size.

[2021-01-06 14:37] my-name-is-nheo commented on #4744
@ObinnaAka Yes, it worked great for me. I have noticed sometimes AWS engineers tries to be overly helpful with their documentations. You can create an IAM through the console, and as long as the name matches when configuring your Amplify project, just skip and enter your access and secret keys!

[2021-01-06 14:41] iuyt9003 commented on #1079
any news with a simpler solution in 2021, thanks!

[2021-01-06 15:05] PeteDuncanson opened #6323 "Adding/Re-adding DataStore via the CLI doesn't re-generate the resolvers"
Some how my Mutation resolvers are only half setup to work with DataStore (over half of them don't mention ```_version```).

In an effort to fix this I disabled DataStore and re-enabled it in the hope they would regenerate but they are still broken.

**To Reproduce**

1. Somehow end up with resolvers that are not DataStore aware! Not sure how that happened to me but if you want to test it yourself

[2021-01-06 15:06] idanlo commented on #4911
Hey @Ricardo1980 How did you end up doing that? My guess is I need to add to the lambda function in the dependsOn array this statement -
[code]
Is that correct?

[2021-01-06 15:07] jonicong commented on #6016
Removing "amplify" folder on project folder as @rmuellerjr mention, do help me solve this issue. Thanks.

[2021-01-06 15:15] PeteDuncanson commented on #6315
So yesterday I managed to do a push and get the resolvers up in the cloud again. Result!

I cleared out all the resolvers I found in ``/amplify/backend/api/<MyApp>/resolvers`` as I don't think they are the "real" ones and talking to another dev we think that folder is used for over-writing generated resolvers should you need to (would love some confirmation on that).

Then I did a push and it work

[2021-01-06 15:36] smithad15 commented on #5877
I have a Vue frontend project. The `aws-export.js` file was correctly recompiled to point to local endpoints and I had restarted my frontend build server to ensure that it wasn't a build chain hiccup.

[2021-01-06 15:44] fpronto commented on #6314
in case of outage in one region (for example us-east-1), I would like to have a mechanism to go to another region, like a backup region

I wouldn't mind to do the manual switch of regions, but the resources/mechanism needed to be created by amplify-cli.

don't know what to say more to help

[2021-01-06 16:26] PawanMude commented on #6302
@akshbhu : I created new c9 environment and re-done all steps mentioned in the Bug Description  + included those input params (AMPLIFY_GOOGLE_CLIENT_ID, AMPLIFY_GOOGLE_CLIENT_SECRET) as environment variables  ; still getting same error
![image](https://user-images.githubusercontent.com/29176181/103793372-0379c700-506a-11eb-8707-53894bdb4af8.png)

[2021-01-06 16:31] iuyt9003 commented on #1774
Hey Any news with that ? Does some one has been success putting the APPSYNC_ID and the ENV in the VTL ?

[2021-01-06 16:47] idanlo opened #6324 "Give a Lambda function access to RDS"
**Is your feature request related to a problem? Please describe.**
In Amplify there is an option [to connect your RDS database](https://docs.amplify.aws/cli/graphql-transformer/relational) to the GraphQL API. After doing that parameters for the RDS database are added to the Amplify project to the API category, but there is no way to let functions have access to the RDS database.

**Describe the so

[2021-01-06 17:16] fpronto commented on #6314
let me know if you want more information about this

[2021-01-06 17:18] PeteDuncanson commented on #6315
Think I've found the issue here. Our CI was redeploying from git but the fix of removing the custom resolvers mentioned above hadn't been pushed up to github yet. My team mate did a git push with other code in it that triggered the CI and over-wrote my fix that I'd manually deployed via ``amplify push`` yesterday.

I've since pushed up my fixes to git and the CI has rebuilt again and the resolvers

[2021-01-06 17:34] akshbhu commented on #6315
@PeteDuncanson Good to know that it is working today for you 👍

Thats true , If you have any resolvers present in the ``` /amplify/backend/api/<MyApp>/resolvers``` , those resolvers wont be touched  and direclty copied to cloud as these resolvers contains manual changes and amplify doesnt overwrite on them.
This way customers can have custom resolvers or their own implemented resolvers.

I guess t

[2021-01-06 17:37] PeteDuncanson opened #6325 "Add README to VTL resolvers directory"
This is hopefully a simple DX idea.

I didn't know you could over-write generated resolvers as described here: https://docs.amplify.aws/cli/graphql-transformer/resolvers

I thought the ``/amplify/backend/api/<MyApp>/resolvers`` folder was just where all resolvers lived. I didn't know that they actually all get generated into ``/amplify/backend/api/<MyApp>/build/resolvers`` and any that appear in `

[2021-01-06 17:37] econtentmaps commented on #556
+1 into the months-long echoing silence!

[2021-01-06 17:40] iuyt9003 commented on #704
it's really complicated. and what @mikeparisstuff offered. will not work.

At first, you will need the mutation, but in order for all process will work.
You will need also :
1) Custom VTL for req, res for batch write.
2) Also Custom resource that will attach the right resolver to the dataSource

Amazon provides documentation of how to do it:
https://docs.aws.amazon.com/appsync/latest/devguide/tuto

[2021-01-06 17:48] kjones commented on #6079
Is there any way to accomplish this at the moment?

For models declared with `@auth(rules: [{ allow: owner }, { allow: groups, groups: ["Admin"] }]`, I would like to add `@key(name: "byOwner", fields: ["owner", "id"])` directives so that the backend code can lookup DDB items by owner. If you don't explicitly declare the `owner` field then you get an error during `amplify push`.

The idea on the ba

[2021-01-06 18:32] djamcon commented on #5978
@litwicki It looks like there's still not support for us-west-1. Any update here?

[2021-01-06 18:55] edwardfoyle commented on #6269
@Kamran21 can you open a new feature request describing what you'd like to see there?

[2021-01-06 19:03] edwardfoyle commented on #6325
@PeteDuncanson thanks for the suggestion. I fear that renaming that folder would be a big headache, but I think adding a readme to the folder describing the override process would be a good improvement.

[2021-01-06 19:15] edwardfoyle commented on #6323
@PeteDuncanson Reading through the related issues you linked it looks like the root cause of this was the lack of documentation about how the resolvers overwrite the build/resolvers? Is there another issue here that you're still facing?

[2021-01-06 19:26] iuyt9003 commented on #1946
How you call this? the Pipeline resolver within the schema???
Some how I am having issue,

`Invalid template property or properties`

[2021-01-06 19:47] edwardfoyle commented on #6322
Hi @PeteDuncanson did you run `amplify push` after updating the storage configuration? And are you able to perform other authenticated actions (such as accessing your API) through the JS library?

[2021-01-06 19:53] jhockett commented on #6295
Thanks for the clarification @nubpro @lkolodziejek. I recommend leveraging git to help out with this:

Add the `team-provider-info.json` file to `.gitignore`
Add project to a git repository, make sure amplify folder and all source code is committed and pushed
Run `amplify delete` to remove the project locally and in the cloud (there's no going back)

When you want to init the project, use the `--a

[2021-01-06 20:09] akshbhu commented on #6304
Hi @mjza

Amplify graphql directives doesnt directly work on RDS databases currently as you mentioned above.I am marking this as feature request.
For the workaround one thing you can try is to use Appsync directives on the generated schema as these directives will be preserved in your build schema as you do an ```amplify push```.
You can find the more documentation here : https://docs.aws.amazon.c

[2021-01-06 20:13] SwaySway commented on #6265
@danrivett Ah yup this makes sense. I can see your use case here. There is another issue where this has been mentioned. We are currently working on redesigning the transformer this is something we can keep in mind.

RFC: https://github.com/aws-amplify/amplify-cli/issues/6217

As another workaround you could also make the job field nullable and add the validation in a custom resolver. In this scena

[2021-01-06 20:21] Simon323 commented on #3977
Hello everyone,
I created with my team serverless app on AWS. Currently our app is full control by AWS console. We have in plan create in back office to manage our app. For this purpose we want use Amplify, React and GraphQL. In my opinion amplify looks good because offer a lot of things out of the box.
Currently the main problem is that Amplify don't want work with existing component our app.
Whe

[2021-01-06 21:11] juliandm opened #6327 "Removing an AppSync type in graphQl schema doesn't remove the according table"
**Describe the bug**
Commenting out a table in graphQl schema doesn't delete the table, neither the associated cloudformation script. This leads to following results:

- A @model that was created earlier in development but removed from the graphql schema and later added again with a different primary key will give an error along:

` Embedded stack <new stack arn> was not successfully created: Expo

[2021-01-06 21:28] DevTGhosh opened #6326 "Is it possible to have a one to many relationship on the same model in graphql"
**Which Category is your question related to?**
Graphql Api

**What AWS Services are you utilizing?**
Appsync
Datastore

**Provide additional details e.g. code snippets**
I have a model Projects that can have multiple children projects of the same type which themselves could have multiple children projects.
Imagine a folder system. Currently we are achieving it with mongodb by having a `parentProj

[2021-01-06 21:52] edwardfoyle commented on #6326
@DevTGhosh Yes you can define a self-referential model. If projects only need a reference to their parent project you can accomplish that with a schema like:
[code]
In general, graphql does not impose any limitations on recursive models. Depending on your access patterns you may need to add additional @key directives or custom resolvers but this use case can be achieved.

[2021-01-06 21:52] #6326 closed

[2021-01-06 21:56] DevTGhosh commented on #401
@patrickcze yeah as mentioned above just add the createdOn field to the model
[code]
@yuth  Thanks for helping.

[2021-01-06 21:57] DevTGhosh commented on #6310
Thanks a lot you all!

[2021-01-06 21:57] #6310 closed

[2021-01-06 22:41] AsemK commented on #2437
I think hosting currently is setup on the console, so having it on multiple environment will not create multiple hosting.
In case you want this for other resources (functions, apis... etc), there is another solution that depend on modifying the cloudformation file related to the resource that you want to remove. You can add a creation condition for the resource based on the environment value {"Ref

[2021-01-06 23:05] litwicki commented on #5978
@djamcon we obviously missed that original target and apologize for that. We are working on getting an updated timeline given the new requirements for Amplify Admin UI as well, and will share as soon as we have an update.

[2021-01-06 23:24] Rolando-Barbella commented on #6117
I did an `amplify upgrade` and it worked!

[2021-01-06 23:27] mwarger commented on #6269
@Kamran21 I'm flattered by the repeated mentions.  I think @ericclemmons had opened up an RFC at one point for something like what you're describing: https://github.com/aws-amplify/amplify-js/issues/4235

Please see the discussion there about it.

[2021-01-07 00:43] edwardfoyle commented on #6327
Hi @juliandm what version of the CLI are you using? With the latest version I'm unable to repro this (was able to create a table, comment it out and then re-add the table with a modified @key without issue)

[2021-01-07 00:53] Celinala commented on #6305
@akshbhu
These were my steps:
My commands were:

1. Install pipenv using pip install --user pipenv

2. python -m site --user-base
3. echo $path
4. export PATH=$PATH:/Users/celinalazaro/Library/Pyth/on/2.7

Im not sure what to do after, particularly:

[code]

 because I thought I did that in step 4? Also. I am using mac OS cmd with Python version 2.7. I am not sure if I am suppose to use Python 3 f

[2021-01-07 01:17] yuth commented on #6267
I can't think of any reason for getting `Not Authorized to access ad on type Person`. I used the your schema except for the `identityClaim` and managed to get the results for `personByCustomerID`. Could you share the your complete schema and also share the default `auth` mode used for API. Also wondering if you have overridden any of the resolvers

[2021-01-07 02:33] wderezin opened #6328 "All lambda functions have IAM policy for logging"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When creating a Lambda function with only API access no IAM policy is attached.  This prevents the lambda from be able to log to cloudwatch

[2021-01-07 03:35] djamcon commented on #5978
Thanks @litwicki. What do you mean new requirements?

Also, in that case, what is the shortest path forward to getting the Amplify Admin UI if we're currently working in us_west_1?

[2021-01-07 04:01] mir1198yusuf commented on #3210
I think you might need some auth directives on models based on which client should be allowed access ..

[2021-01-07 05:30] thiskevinwang commented on #3977
What are they pre-requisites/criteria needed to be able to import `Cognito User Pool and Identity Pool` ?

With `amplify import auth`, I'm consistently getting getting:

[code]

But, looking at my **Identity Pool**:

<img width="1046" alt="Screen Shot 2021-01-07 at 12 26 39 AM" src="https://user-images.githubusercontent.com/26389321/103854757-3f6b5700-507f-11eb-9f34-23fa294e6dc3.png">

... anyone

[2021-01-07 07:34] DevTGhosh commented on #6326
So if I want to list all the child projects of a parent project I would guess it looks like this ??
[code]

[2021-01-07 10:52] ale753 commented on #6305
I'm not experienced with mac OS unfortunately, my solution works with Windows 10, but it's likely something similar in your case.
Check if your folder /2.7 contains a folder named Scripts and then add it with export PATH.

export PATH=$PATH:/Users/celinalazaro/Library/Pyth/on/2.7/Scripts

Or something similar, the files could be different. Be sure to add the path that contains the python3.exe and

[2021-01-07 11:56] benjamin79 commented on #6267
@yuth To make sure nothing else got in the way i made a complete new project with amplify init. Mostly with default values. ->

1. https://gist.github.com/benjamin79/178a6666e8c44d8ec21dc74e5ba0ba50

2. It then put in the following schema:
[code]

3. In the tables i put:
Person:
[code]
[code]
 Ad:
[code]

[code]

4. Created user fravis in cognito user pools and added custom attribute **customerID*

[2021-01-07 12:00] mjza opened #6329 "Cannot add User type to graphql"
Based on the following [link](https://docs.amplify.aws/cli/graphql-transformer/auth#field-level-authorization) I want to add `User` taype to my graphql schema:

[code]

But while before adding this model I can run `amplify push --y`, when I add this model the build process will be failed and I would see the following error:

This the first error that I see, there are more further down in the conso

[2021-01-07 12:09] LaszloDev commented on #1460
Any plans from the team to implement this?

[2021-01-07 12:09] yaquawa opened #6330 "Unable to locate custom transformer during gql compile"
I have read this article https://docs.amplify.aws/cli/plugins/authoring#authoring-custom-graphql-transformers--directives
but no mention on how to use a custom transformer.

I have tried [graphql-default-value-transformer](https://github.com/trek10inc/graphql-default-value-transformer), with the following setting in my `amplify/backend/api/xx/transform.conf.json`

[code]

But I got this error when

[2021-01-07 12:17] amin79 commented on #6318
@amhinson amplify version: 4.41.0

package.json:

{
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eject"
  },
  "dependencies": {
    "@aws-amplify/datastore": "^2.9.2",
    "@react-native-community/masked-view": "0.1.10",
    "@react-native

[2021-01-07 13:43] mjza commented on #6329
I found the solution. I deleted the datasource NONE by mistake as I thought it was made by mistake!
I created it again in the `appsync` and it compiled again.

[2021-01-07 13:43] #6329 closed

[2021-01-07 14:07] patstahl opened #6334 "Could not initialize 'staging': socket hang up"
`amplify pull --appId [REDACTED] --envName staging` fails with error:

Just updated the data model with the Admin UI and intended to pull the changes.

[2021-01-07 14:22] waltermvp commented on #4995
@CaptainChemist did you ever figure out a different solution?

[2021-01-07 14:28] Jupdi commented on #6233
Got the same issue. Added Storage to a new project and im not able to push it. Need to go around the long way and deploy it via the console.

[2021-01-07 14:52] waltermvp opened #6332 "How to provide private iam permissions to query created with `@key` directive"
I am trying to query a @key custom query from a lambda, however, the `{ allow: private, provider: iam }` are not applied to the query  and I am not able to call the @key query
(FYI I have added API permissions to the Lamba via the CLI)
[code]

How can I apply the authorization rules to the custom query (@key)?

[2021-01-07 15:20] waltermvp commented on #6332
https://github.com/aws-amplify/amplify-cli/issues/4995

[2021-01-07 16:11] WolfyUK commented on #5542
My response fields are the same for both the mutation and the subscription but I still see the error behaviour above from the JavaScript client only. The subscription works as expected on the AppSync console. Any other suggestions as to how to investigate further?

[2021-01-07 17:08] SimonSch-tech opened #6343 "GraphQL API (Datastore)- Field Level Auth Rule not working"
Greetings,

in our project we try to define a proper GraphQL Model. Our goal is to use one model definition with different authentication types and rules for making requests via amplify datastore. We used amplifys GraphQL directives to annotate our model.

We defined the model like this:
[code]

For granting non authenticated and authenticated users access to our api we implemented different authe

[2021-01-07 17:13] akshbhu commented on #6305
@Celinala

you need to use python3 for for a successful ```amplify push```. you can check the spec here: https://docs.amplify.aws/cli/function#supported-lambda-runtimes.

[2021-01-07 17:23] PeteDuncanson commented on #6315
@akshbhu I've been working on it all day today and pushing git and no problems to report. I think we have found our culprit!

Thanks for everyone's help on this on especially Chai from the Discord channel who really dug deep to help me out.

Consider this one closed.

[2021-01-07 17:23] #6315 closed

[2021-01-07 17:37] akefirad commented on #4930
Is there any update on this?

[2021-01-07 17:40] renebrandel commented on #6334
Transferring this to the Amplify CLI repo. cc @jhockett @kaustavghosh06

[2021-01-07 17:44] jhockett commented on #6334
Hi @patstahl, we don't create any socket connections when running `amplify pull` as far as I know. Could you please fill out the following information?

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. M

[2021-01-07 19:06] edwardfoyle commented on #6330
@yaquawa did you change the npm global path between when you installed the CLI and when you installed this transformer? Can you check if the package is actually installed at the path that the CLI is looking for it?

[2021-01-07 19:08] edwardfoyle commented on #6334
@patstahl Also, if you are on Windows, are you using WSL?

[2021-01-07 19:19] mjza opened #6335 "Inserting new users in the User table"
I have followed [this tutorial](https://docs.amplify.aws/guides/functions/cognito-trigger-lambda-dynamodb/q/platform/js) for inserting new created user in a USER table.

But unfortunately it does not inject any row in my table.

[2021-01-07 19:44] pmulka commented on #5362
I had run into this issue, too. Strangely, if a step 5 is added to do `amplify push` again, it will go through, which let me force it into my development environment. This then caused it to be impossible to deploy any new environments without removing the `@auth`.

The comment by attilah implies that this should be supported, but currently it only seems to work for a Query field backed by `@functi

[2021-01-07 19:50] mjza opened #6336 "Where to check log of published app?"
If I have a lambda function that I use in an amplify project. Assume I connected this function to one event, for example "Post confirmation" trigger.

Now the question is if I have `console.log` function inside of my lambda function, where can I find its log in the run time?

I mean after I push and publish my app, I want to check the lambda log.

[2021-01-07 19:59] #6283 closed

[2021-01-07 20:19] nubpro commented on #6336
CloudWatch.

1. Open your lambda function in AWS console.
2. Click Monitoring tab.
3. View logs in Cloudwatch.

![image](https://user-images.githubusercontent.com/762914/103940629-9b5dda80-5168-11eb-9b48-3c5fdbc01655.png)

Hope it helps!

[2021-01-07 20:24] #5888 closed

[2021-01-07 20:29] #6220 closed

[2021-01-07 20:29] #6233 closed

[2021-01-07 20:33] #4760 closed

[2021-01-07 20:40] SwaySway commented on #4725
@TrungRueta @half2me
Closing this issue as this fix was merged and included in the latest release.

PR which addressed this fix: https://github.com/aws-amplify/amplify-cli/pull/3912

[2021-01-07 20:40] #4725 closed

[2021-01-07 21:09] tomhirschfeld commented on #5479
@jhockett anything else to share here? Layers are really slowing our productivity down

[2021-01-07 22:10] akshbhu commented on #5009
Closing this due to lack of response. Feel free to comment if the above thing doesnt works for you

[2021-01-07 22:10] #5009 closed

[2021-01-07 22:18] akshbhu commented on #4930
Hi @akefirad

Just to reproduce , when you did ```amplify update auth```, which of the following you selected

[code]

For your context ,we have refractored the auth category which has fixed this ```undefined``` bug, (though it will not affect any  working flow but still doesnt looks good) as previously this was occuring in auth manual configuration. The problem was we have an ```sharedID``` which

[2021-01-07 22:40] zhiweil opened #6338 "Amplify CLI does work with AWS SSO credentials"
**Describe the bug**
The amplify CLI does not work with the AWS profile generated by AWS Single Sign On. I received a error saying "Could not initialize 'some-amplify-env': Missing credentials in config, if using AWS_CONFIG_FILE, set AWS_SDK_LOAD_CONFIG=1"

The Amplify CLI version is: 4.41.0
NodeJS version is: 15.5.1

**To Reproduce**
I'm setting up a laptop to work with an existing Amplify enviro

[2021-01-07 22:41] edwardfoyle commented on #6214
Hi @idanlo I was unable to reproduce this with the latest version of the CLI. On this question:
[code]
even if you only want to update "auth" you still need to leave all the options selected as the CLI will interpret deselecting categories as removing all permissions for those categories. The wording of this prompt makes this confusing though.

Can you confirm if you are only selecting auth and th

[2021-01-07 23:00] PeteDuncanson commented on #6322
Hey @edwardfoyle :)

Did I push: Yes
Can I hit the API via my code: Yes

[2021-01-07 23:10] edwardfoyle commented on #6335
@mjza Can you provide more details on what is not working? Is the lambda trigger invoked? Did it throw an error?

In the future, please fill out [one of our issue templates](https://github.com/aws-amplify/amplify-cli/issues/new/choose) when creating an issue.

[2021-01-08 00:04] cyrfer commented on #5387
I'm excited this is being looked at. I am hoping the following basic use case for release management when promoting to higher environments is supported by any outcome.

For example, lets say:
1. all environments use lambda-a-01.zip.
2. Developer X implements a new feature, resulting in artifact lambda-a-02.zip, and successfully tests in DEV env, and promotes to QA env.
3. While QA team verifies th

[2021-01-08 00:37] edwardfoyle commented on #6332
Hi @waltermvp the process for this is admittedly a bit clunky but it's documented here: https://docs.amplify.aws/cli/function#signing-a-request-from-lambda

[2021-01-08 00:47] cyrfer commented on #5340
@martysweet thanks for tracking that down! Does Amplify have a recommended Node environment?

[2021-01-08 00:54] edwardfoyle commented on #6338
Hi @zhiweil Did you run `aws sso login --profile zhiwei-dev` as described [here](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html#sso-using-profile) to get temporary credentials?

[2021-01-08 01:19] zhiweil commented on #6338
Yes, I did, the SSO credentials work perfectly with AWS CLI such as "aws s3 ls --profile zhiwei-dev"

[2021-01-08 02:29] tomhirschfeld opened #6348 "Removing 3 GSIs on table with enableIterativeGsiUpdates set to true throws "cannot modify more than one GSI" error"
**Describe the bug**
Removing 3 GSIs on table with enableIterativeGsiUpdates set to true throws "cannot modify more than one GSI" error

**To Reproduce**
Steps to reproduce the behavior:

change schema from:

[code]
  to

[code]
throws error in master + production envs using the provided push simple script when iterative GSI update flag is set to true
**Expected behavior**

removing 3 GSIs should

[2021-01-08 02:32] kenbankspeng commented on #5333
Same issue here. Occurs after `amplify function update`.

[2021-01-08 04:09] dsypniewski opened #6341 "Provide consistent dependencies versions for lambda functions build"
**Is your feature request related to a problem? Please describe.**
Because of how npm works sometimes when a lambda function is built it can update dependencies as a side effect even when the package-lock.json file is present, for automated builds like this `npm ci` should be used instead of `npm install` to provide clean and consistent dependencies versions.

**Describe the solution you'd like**

[2021-01-08 06:51] patstahl commented on #6334
Amplify CLI Version
4.41.0

Desktop (please complete the following information):
OS: MacOS 11.1
Node Version: v12.18.3
Default browser: Chrome

Cloned a new env (dev) and pulled this successfully. However, still not able to pull the 'staging' env.

[2021-01-08 08:26] BracketJohn commented on #6283
Thanks for the help, and thanks for fixing it

[2021-01-08 08:48] mjza commented on #6336
Thanks. Now I can see my output!

[2021-01-08 08:48] #6336 closed

[2021-01-08 08:53] mjza commented on #6335
@edwardfoyle The reason that I didn't shared any code was that, the code is exactly same as the documents.

Yes, I checked the console output and here is the error output:

It seems the line 27 in the code made that error output.

[2021-01-08 10:06] mjza commented on #6335
I also made an output for the item that I try to write, and here is the result:

[code]

[2021-01-08 10:07] mjza commented on #6335
It seems name has problem!

[2021-01-08 10:26] mjza commented on #6335
I solved it like follow:

[code]

[2021-01-08 10:26] #6335 closed

[2021-01-08 11:59] mansdahlstrom1 commented on #3390
Is this being worked on? This seems like a very important feature and i was surprised when it did not work out of the box. Have been trying to solve an issue for some hours now and stumbled upon this now

[2021-01-08 12:55] mlecoq opened #6342 "`amplify import auth` role issue to call rest apis"
**Describe the bug**
I have imported a cognito and identity pool in my amplify project.
When I am connected, I have the defined role in the identity pool, but this role is not the one used by my apis

**Amplify CLI Version**
4.41.0

**To Reproduce**
- `amplify import auth`
- login
- fetch an api

**Expected behavior**
The created apis must have a policy that includes the authRole and unauthRole de

[2021-01-08 13:26] mlecoq commented on #6342
According to the documentation `Amplify CLI will update the policies attached to the roles to ensure Amplify categories function correctly. ` but policies are not updated to take into account the roles of the  imported identity pools

[2021-01-08 13:47] PeteDuncanson commented on #6322
Came back to this one today and still getting 403 Forbidden. Any pointers on what I can check or what I might be doing wrong? Feels very much like I'm stuck on this one. I could go poking around manually in the permissions in the console but I don't understand why its not just working out of the box and don't want to use any manual setup steps ("infra as code for the win" right?)

[2021-01-08 14:27] gregoryforel commented on #3275
Hi @blydewright , I'm trying to implement your solution, I'm halfway there. I am discovering the internals of Amplify right now, created a schema from the Amplify admin UI, and when doing this way, the ids are camel-cased then caps ID, eg: `doctorID`, as opposed to `doctorId`.

Am I missing something? You can see my attempt at implementing your idea in Appointment with an optional patientID field,

[2021-01-08 15:04] binadamu-isiyoonekana commented on #4882
@SwaySway Hi Josue. Any progress on this subject, as with latest version of Amplify (namely 4.41.0), nothing is generated/updated in `src/graphql` folder (i.e mutations, queries, ...) when entering `amplify api gql-compile && amplify codegen`. Thanks and Happy New Year !

[2021-01-08 15:30] mlecoq commented on #6342
I didn't see this sentence `- This resource will be available for GraphQL APIs ('amplify add api')` 😥 - so there is no way to do it with rest apis ?

[2021-01-08 16:11] nielswart commented on #2988
I am also unable to get model generation working with interface or Union types

I have the following schema

[code]

It's very unfortunate that this does not work...

[2021-01-08 17:30] pnewhook commented on #2534
This seems strongly related to #3390. I'm concerned the approach suggested above of passing username from the client would be a huge security hole.
Manually configuring a custom authorizer as @hi120ki suggests might be a good first step, but we need the CLI to not overwrite our configuration on every `amplify push/publish`

[2021-01-08 18:17] edwardfoyle commented on #6341
Hi @dsypniewski this is a great suggestion. My only concern is currently the CLI does not differentiate between dev builds and production builds in lambda functions (which leads to other problems) and for dev builds you would likely want to use npm install. We have [this project](https://github.com/aws-amplify/amplify-cli/projects/11) targeting several bugs and enhancements around how the CLI buil

[2021-01-08 18:19] edwardfoyle commented on #6338
@zhiweil can you check if you have credentials for that profile listed in `~/.aws/credentials` (or wherever you have the aws cli setup to save credentials, but that's the default location)

[2021-01-08 18:23] edwardfoyle commented on #6322
Hey @PeteDuncanson I'll try to repro this today. In the meantime, can you open up the 403 response in the network tab of the dev tools in your browser and see if there's any helpful information in the error response?

[2021-01-08 18:34] mgarabedian commented on #5119
@Hideman85 I was having similar problems.  If your are creating an AWS::AppSync::Resolver ( "Kind": "PIPELINE" ), then you cannot include DataSourceName or SyncConfig. This makes sense, since the actual datasources come from the pipeline functions and not from the resolver itself. I do not know enough about it to speak about how these work with DataStore.

[2021-01-08 18:35] akshbhu commented on #4475
Hi @Huetarded

Closing this as it is already fixed in previous versions. You can try with our latest version.

If the problem still occurs , comment on it and ill reopen the issue

[2021-01-08 18:35] #4475 closed

[2021-01-08 18:42] akshbhu commented on #4874
Closing due to lack of response , If the problem still occurs , fell free to comment and I will reopen this issue again

[2021-01-08 19:12] renebrandel commented on #5379
I think what's happening here is actually a DX issue. When you add a new API, it should provide you the option to add new paths to an existing REST API or add a new REST API.

Something in the direction of this is probably better. A DX sample could be:
[code]

[2021-01-08 19:34] benoates opened #6345 "Amplify Publish fails. Amplifyhosting not found."
**Trying to publish my Amplify app I get this:**

$ amplify publish

Please add hosting to your project before publishing your project
Command: amplify hosting add

$ amplify hosting add
? Select the plugin module to execute Hosting with

Amplify Console hosting has already been enabled

**This is true. I do already have hosting enabled, and connected up to my repo, but it won't pull through any n

[2021-01-08 19:45] chrisjprior commented on #4874
@akshbhu I raised a PR for this issue which included unit tests, did they not help you reproduce it?

[2021-01-08 20:24] edwardfoyle commented on #6322
@PeteDuncanson so far I haven't been able to repro this. Make sure that the browser session you are testing in has valid credentials (retrieved using `Auth.logIn(username, password)`). If I logged out, then I got a 403 (as expected).

[2021-01-08 20:37] patweb99 opened #6347 "Interactions hang while replicating settings per environment"
**Describe the bug**
After setting up an interaction category within an environment (eg dev) successfully, it will fail through cloudformation when attempting to configure within another environment (eg test). After digging deeper, I found this is because Amplify attempts to create a pre-existing intent that was already created through the dev environment.

Since amplify creates resources with the

[2021-01-08 20:45] edwardfoyle commented on #6322
It seems like the CLI is provisioning the storage resource correctly so I'm going to transfer this to the JS repo where they can hopefully determine if it's a client-side issue

[2021-01-08 20:49] edwardfoyle commented on #6345
@benoates Can you post the "hosting" block in your "amplify/backend/amplify-meta.json" file?

[2021-01-08 21:04] my-name-is-nheo commented on #3977
Worked like a charm ! thank you. in the mean time, are there any way of adding existing APIs from API gateway to Amplify? Manually? Been stuck at this for days.

[2021-01-08 21:22] cybercussion commented on #5542
I ran into this as well, I had a case where I'm setting a JSON object on a field that I don't really have a way to 'type' since it varies (properties and arrays).  Is there a graphQL type other than AWSJSON that could allow for 'any' or something to satisfy it?
I had a case where I'm updating DynamoDB from S3 and from the UI so I'm trying to keep these in sync.

[2021-01-08 21:59] edwardfoyle commented on #5681
The fix for this has been released. Please install the latest version of Amplify to get the fix.

[2021-01-08 23:20] edwardfoyle commented on #6347
@patweb99 I wan't able to repro this in a new project (I used the "BookTrip" sample chatbot when adding the interactions category). Did you modify the lex resource at all? Also what version of the CLI are you using?

[2021-01-08 23:28] patweb99 commented on #6347
Hi @edwardfoyle, gotcha. That's good to know. I've only tried with my own project and have not changed any of the lex resources. I will try from scratch with the BookTrip example to see if that works for me.

I'm currently on version 4.41.0.

Can you share the Q&A's that you answered while setting up your Amplify environment? This way I can mirror exactly what you did.

Thank you

[2021-01-08 23:46] edwardfoyle commented on #6347
I ran:
[code]

[2021-01-09 00:22] arturlr commented on #5931
The only way I got it working with the 4.41.1 version was creating a local-env-info.json with {} in its content.

[2021-01-09 00:35] danrivett commented on #5556
Nice work @bart but with us having to disable subscriptions to be able to have auth rules on required fields (like you've done), I assume this prevents this working with DataStore, since I believe it uses subscriptions to keep the datastore in sync?

I'm not clear about this, so could be wrong. If that's the case though that's a blocker for me unfortunately 😞

[2021-01-09 01:10] edwardfoyle commented on #6338
Closing this as a dupe of #4488. We don't support this out of the box currently but you can check the thread in that issue for a workaround that may work for you.

[2021-01-09 01:10] #6338 closed

[2021-01-09 01:25] SwaySway commented on #5340
@cyrfer Did you switch node versions? If so did this issue occur again?

We don't have a specific version we recommend outside of the minimum requirement being Node.js version 10.x.

[2021-01-09 01:32] Rusinas opened #6356 "Can't install amplify globally on windows"
I am trying to install amplify, but get this output in console:

[code]
I have tried to disable Windows Defender, run PowerShell as administrator, use CMD instead of PowerShell, clean npm cache, use  --unsafe-perm=true. Nothing did work.

[2021-01-09 02:33] patweb99 commented on #6347
@edwardfoyle I noticed that you are apply "yes" to add interactions to bypass questions. Can you try adding a Lambda to the Fulfillment Lex option? I have that in place within my app and may be the issue.

Here is the questions and answers I went through

? Provide a friendly resource name that will be used to label this category in the
project: SightWords
? Would you like to start with a sample c

[2021-01-09 05:24] danielmartincraig commented on #5931
I'm seeing this exact issue w version 4.41.1

[2021-01-09 05:57] sshevlyagin commented on #4736
This is a life saver. NOT INTUITIVE AT ALL :(

[2021-01-09 07:38] aldegoeij commented on #5754
+1

multi-frontend basically does not work as marking N for change backend does not copy any config to the project, so none of the amplify commands work.

The pull does retrieve the models though, but only once. Also seems like `aws-exports.js` does not get updated after initial pull.

Went the manual route for the frontend, keeping models with backend.

[2021-01-09 10:43] DevTGhosh opened #6351 "Datastore syncExpressions in a one to many relationship?"
**Which Category is your question related to?**
Datastore

**What AWS Services are you utilizing?**
Appsync
Datastore

**Provide additional details e.g. code snippets**
Is it possible with Datastore syncExpressions in a one to many relationship if we sync the top model does the related items get synced too and nothing else?

Say for example
[code]
If we sync just Post model with Id then all it's r

[2021-01-09 11:57] dsypniewski commented on #6341
Personally in this instance I would prefer to use `npm ci` all the time even for dev builds as contents of node_modules shouldn't be changed from whatever the package manager does there anyway.
I couldn't find existing issue that would suggest something like choosing between dev and production builds, but if it would be something on an environment level I'd like to see some kind of override flag a

[2021-01-09 12:58] yaquawa commented on #6330
@edwardfoyle here is the global path of mine.
[code]

I could find graphql-default-value-transformer in `/Users/wang/.npm-global/lib/node_modules/graphql-default-value-transformer/`.

[2021-01-09 16:07] a-bachelet commented on #4928
@pashka4281 @cc-bojan

Did any of you found a solution ?

I'm facing the same issue too and it's kind of frustrating because I can never use the last version of my layer as I intend to.

Thanks in advance !

[2021-01-09 21:45] smithi1 commented on #5931
I am also seeing this with 4.41.1 - fixing the Amplify CLI version to 4.40.0 in the build image settings has cured it.

[2021-01-09 22:46] danrivett opened #6352 "Ability to have uni-directional 1-many connections via primary key id, not GSI"
**Is your feature request related to a problem? Please describe.**
The [AWS docs](https://docs.amplify.aws/cli/graphql-transformer/connection#usage) on connections show how a 1-1 relationship can be uni-directional and reference the other entity simply via its `id`:

[code]

The key thing here is `Team` does not have any reference to `Project` and so it's a uni-directional relationship.

I am look

[2021-01-10 00:05] cybercussion commented on #3941
I just ran onto this too .. tried adding auth.  See the values but the path is pathname: 'apiassetAPIGraphQLAPIEndpointOutput' },

[2021-01-10 00:43] cybercussion commented on #5143
I just ran into this.

Repro - I created a Storage with Lambda Trigger.
I decided I'd add DynamoDB Table.  I ran into similar policy names created.  I manually prefixed them for S3 and DynamoDB so both policies could exist.
I found out editing dynamo doesn't event stream back to the UI, so I pivoted to GraphQL.
I got thru a painful 3 hour tour of getting axios, graphQL querying setup and finally n

[2021-01-10 01:26] dopry commented on #4351
@attilah yes, please add this. It would be nice to see the entire admin API exposed.

[2021-01-10 01:48] CiaranCallaghan94 commented on #6024
Really looking forward to this!

[2021-01-10 02:01] waltermvp commented on #6332
Thank you for the link, I had followed all the steps.

Changing the order of the with rules resolved this issue for me.

[2021-01-10 02:01] #6332 closed

[2021-01-10 10:42] mir1198yusuf commented on #6351
This is a very much needed feature so we can only write syncExpression for top models and all related ones will be sync

[2021-01-10 10:45] DevTGhosh opened #6353 "Datastore is not able to create createdAt timestamps automatically and failing silently (DataStore - failed to execute errorHandler Error: Field createdOn is required)"
**Describe the bug**
I  am using the timestamp feature for the graphql models and using the fields `createdOn` to access it from datastore as mentioned here #6310. I have 2 models that are using this feature and for one of the model, creation of a new item happens successfully in the local db but then throws an error after 1-2 sec it throws a console warning `Error: Field createdOn is required` an

[2021-01-10 13:43] vitaliikravets commented on #4736
OMG! At least 8 hours wasted on that. Space bar to the rescue!

[2021-01-10 16:21] cybercussion commented on #4613
I read this a few times .. some adding:

[code]
to their schema or removing it?

[2021-01-10 16:42] anisg opened #6354 "bug when 2 amplify api have the same name"
**Describe the bug**
I created 2 api, one GraphQL api named "testBlog", another REST api named "testblog". in ./amplify/backend/api/ , there should have been 2 folders, one named "testblog", the other one named "testBlog", but only "testblog" appeared, which created errors when pushing to the cloud

**Amplify CLI Version**
4.41.0

**To Reproduce**
- create a new project
- use amplify to create 2 a

[2021-01-10 16:46] sshevlyagin commented on #4736
@vitaliikravets i spent around the same time. Thank you for saying that, I was a bit embarrassed to admit it 😬

[2021-01-10 16:55] anisg opened #6355 "improve CLI speed"
**Is your feature request related to a problem? Please describe.**
every time I execute a command (e.g: `amplify update api`), it takes at least 6seconds of startup time before the command executes, same thing happens when you call amplify-cli via nodejs.

**Describe the solution you'd like**
Improve its CLI speed to be below 1 or 2s, I'm not an expert in the field but a few ideas would be to remo

[2021-01-10 18:49] dabit3 commented on #6355
Are you using the npm global installation?

If so, have you tried installing using the new smaller packaged available via curl? It's at least 3x faster from my experience.

https://docs.amplify.aws/cli/start/install

That being said, it would also be nice to have better performance in general.

[2021-01-10 18:51] dabit3 opened #6357 "Amplify containers hosting only deploys with node version."
When I was using the `curl` installed version of the Amplify CLI, I got this warning when running `amplify push` after adding container hosting using `amplify add hosting`:

[code]

When I uninstalled the curl version of the CLI and installed the node version, deploying then worked.

The version I was on is `4.41.1`

[2021-01-10 20:47] benoates commented on #6345
@edwardfoyle thanks, I took a look and that block was missing from that file. I have substituted in a block from another project and things seem to be going better now. I had been Googling this for a few days and couldn't find anything! Thanks again.

[2021-01-10 20:47] #6345 closed

[2021-01-10 21:02] cjjenkinson commented on #4155
Also experiencing this alongside the other three generated fields `_deleted` and `_lastChangedAt` - because these are not included in the auto generated inputs for the schema they will always be nullable?

[2021-01-10 21:16] jhockett commented on #5479
Apologies, not yet. We've had to prioritize work for the admin UI in the past few months, but I expect to return to working on layers shortly. I'll do my best to update any related issues once we have improvements ready. Thank you for your patience!

[2021-01-10 22:03] jwrubel commented on #229
Thanks so much @moekaddour - I ran into this exact issue and your steps worked for me.

[2021-01-10 22:44] anisg commented on #6355
Nice, I reinstalled via Curl, and indeed now it's faster! (takes 2 to 3 seconds to start) thanks 👍

[2021-01-10 23:19] dabit3 opened #6359 "Fargate hosting - updates / changes not registering as diff"
**Describe the bug**
After initial deployment, making a change to code or making a change to Dockerfile then running `amplify status` or `amplify push` does not register changes, so `Operation` is set to `No Change`.

**Amplify CLI Version**
4.41.1

**To Reproduce**
1. configure project to enable containers
2. Add hosting with container
3. Deploy - `amplify push`
4. Make changes locally to Dockerf

[2021-01-11 01:00] jwmock commented on #4347
+1

[2021-01-11 01:51] danrivett opened #6360 "Request: Better Support for Field-Level Read-only Auth"
**Is your feature request related to a problem? Please describe.**
With a GraphQL data model, I want to be able to share a model and provide read-only access to it to approvers, other than for approval fields which I want to also provide update access to mark the entity as approved/denied.

In the example below I want the `Timesheet` to only be creatable by a given owning-worker (as denoted by the

[2021-01-11 03:14] wderezin opened #6361 "Auth Trigger Function environment variables not configured correctly"
**Describe the bug**

When creating an Auth PostConfirmation function for a coginito the following environment variables are not correctly:  `API_<APPID>_GRAPHQLAPIENDPOINTOUTPUT`   and   `API_<APPID>_GRAPHQLAPIIDOUTPUT`

The values are
[code]

**Amplify CLI Version**

[code]

**To Reproduce**

My steps using `amplify update auth` to the Post Confirmation lambda function.

[code]

Also, run `ampli

[2021-01-11 03:54] tpeace commented on #4347
@dabit3 - there are a lotta prayers being sent into the void here. Is there any update on making this crucial feature work?  If you could check, I would really appreciate it. Thanks!  It would be real nice to have env vars in Lambdas.

[2021-01-11 08:09] Nxtra opened #6362 "Cannot perform headless init: returns "Environment name missing""
**Which Category is your question related to?**
CI / Headless

**Amplify CLI Version**
4.41.1

**What AWS Services are you utilizing?**
Amplify auth, hosting, api, functions

**Provide additional details e.g. code snippets**

I want to do a headless init of an existing environment.
When running this init I get the error message `Environment name missing`.

This is the flow I followed:
* I have an

[2021-01-11 08:28] yaquawa commented on #6330
@edwardfoyle

Here is the full error message:

[code]

[2021-01-11 08:57] Jupdi commented on #6233
Still got the same issue, using Version 4.41.1

[code]
⠦ Fetching updates to backend environment: dev from the cloud.

[2021-01-11 12:06] fpronto commented on #6314
Hi again

I'm trying to help by giving some help with cloudformation problems
When the stackset try to create the new stack in a new region it will give an error because the deploy bucket (which have the .zip files for lambdas) is in another region. The solution is to copy all the zips into a new bucket and use it in the nestedstacks

I created the following resources to do this for me in every ru

[2021-01-11 12:35] Risord commented on #5786
This issue hit us when using custom field which happen to contain timestamp and was a string.
Consider reopening and fixing properly. It does not make sense that certain sorting rule (with certain data?) will cause query result silently break and returning zero.

[2021-01-11 13:18] BracketJohn opened #6363 "`*PolicyVersions` rights are missing for `amplify push` from Amplify UI "Full Access" User"
**Describe the bug**

`PolicyVersion` rights are missing from Amplify UI "Full Access" users.

**To Reproduce**

Make a change to a graphql based API that requires `AuthRolePolicy` changes (I'm unsure what triggers this, for us it was likely the addition of scoial sign on). Afterwards, run `amplify push`. We received the following error on our first attempt, when using an Amplify UI user to authen

[2021-01-11 14:42] Risord commented on #6231
@edwardfoyle @auth rules on non-@model fields are already allowed, in certain cases those are required and already working fine.
Only issue is that you have to apply such schema in two phases.
Therefore current classification as "enchanment" or current title does not make much sense.

[2021-01-11 14:57] zohaib-enquizit commented on #1761
In case if custom attributes, you need to go to your respective client settings and check this attribute as readable and writable.

[2021-01-11 15:06] MontoyaAndres commented on #335
Any news?

[2021-01-11 15:46] cybercussion commented on #4111
I actually ran into this on accident.  I added extra auth on a API so a Lambda could also make edits to AppSync/GraphQL and it asked me what I wanted to do about conflict resolution.  I picked 'AutoMerge' and ran into the same behavior.  I started to edit my schemas to include `_deleted`, `_version` but I thought I'd have the exact same issue having to filter off these records.  Thanks for mention

[2021-01-11 16:17] xitanggg commented on #1865
Has anyone used `TransactWriteItem` to keep track of counts? Say your app let people create blog posts and you want to keep track of posts per user. You create a custom resolver that use `TransactWriteItem` that would 1. create a blog post and 2. add 1 count to user's total posts atomically. This seems to be a better alternative to me than aggregating count in DynamoDB stream.

[2021-01-11 16:37] cornwe19 commented on #5931
I've also run into this with 4.41.1. Thanks for the suggestion, @smithi1

[2021-01-11 18:02] attilah commented on #6356
@Rusinas it seems to be either a file locking or a permission related issue on your machine. I would check the effective permissions on the e`C:\Users\andre\AppData\Roaming\npm` directory also would you try to install another global module like typescript to see if that succeeds or a similar issue happens?

[2021-01-11 18:30] edwardfoyle commented on #6341
I don't think `npm ci` should be used for dev builds. Say for instance that you add a dependency to your lambda function by adding it to package.json. If you then try to mock or push the function, the build will error because that dependency isn't present in the package-lock.json yet.

[2021-01-11 18:39] iamwaleed23 commented on #13
What fixed for me:

1. Made windows account(in which im working) as administrator.
2. restart computer.
3. added env path as @waleedshkt said.
4. repeat step 2
5. Run powershell as administrator.
6. Set-ExecutionPolicy RemoteSigned
7. restart terminal and works!

[2021-01-11 18:49] SwaySway commented on #4882
@binadamu-isiyoonekana
Could you provide your `.graphqlconfig.yml` and the schema? If the schema contains sensitive information you can send it to our email amplify-cli@amazon.com

[2021-01-11 18:53] attilah commented on #6353
@DevTGhosh since you like to depend on the auto assignment of the values for the timestamp field, you should make them optional in your schema, when Amplify CLI transforms your schema it will make these fields optional in the input type, but the model generator works from the input schema - as the output schema does not have all the information like connection and key definitions - and detects thi

[2021-01-11 19:03] edwardfoyle commented on #6231
Yep you're right. I mis-read the description. Marking as a bug

[2021-01-11 19:12] attilah commented on #6352
@danrivett thanks for the feedback/suggestion. I think I understand your use case, but a single field is not really practical to store connected entities in any system. While it can work for some systems - as the number of connected entities are guarded and constrained otherwise - but can run into limitations of the underlying datastore whatever it is: like max field sizes, supported native dataty

[2021-01-11 19:12] #6352 closed

[2021-01-11 19:13] edwardfoyle commented on #6330
@yaquawa I was able to successfully compile a schema using that transformer plugin and the latest version of the CLI.

Are you using a local installation of the CLI? The CLI only supports global installation

[2021-01-11 19:15] attilah commented on #6355
@anisg thanks for reporting this issue, as @dabit3 pointed out we have a package CLI version which already has some performance gains, but as we going forward these pain points are considered and continuously improved, so closing it as a 'non-issue' for now.

[2021-01-11 19:15] #6355 closed

[2021-01-11 19:25] andre-scheffer commented on #6128
Any updates?

[2021-01-11 19:42] attilah commented on #6354
@anisg thanks for reporting the issue it exists in the API category for both, I just confirmed it. I'm curious how `api add` succeeded for you since for me it failed in `AmplifyToolkit.updateamplifyMetaAfterResourceAdd` function.

[2021-01-11 20:02] attilah commented on #6360
@danrivett thanks for opening the issue, field level auth and subscriptions in general are limited, because authorization rules cannot be enforced on the flowing data, authentication happens when the connection is made, but security filtering of results are currently limited. With DataStore in the picture it is even making it more different from just a plain subscription because as you said data s

[2021-01-11 20:03] ammarkarachi commented on #5789
@BennettSmith can you try the latest version of the CLI? the tags should be applied at creation time.

[2021-01-11 21:31] danrivett commented on #6360
Thanks @attilah. My thought was that if the reason for the error message produced above by `ModelAuthTransformer` prohibiting per-field auth on non-nullable fields is to protect against limited read access for certain fields, then the transformer could check if the per-field auth rule actually does limit read access as in my use case it doesn't, it just limits write access, therefore I can't see a

[2021-01-11 21:36] SwaySway commented on #6128
I'm not sure I understand this. The provided error seems like it's coming from AppSync itself. Are you running into this error in mock or a different scenario? If you are experiencing issues there than you can reach out to their support page here: https://forums.aws.amazon.com/forum.jspa?forumID=280

Yes that is a potential scenario as the filtering does occur in the response resolver though this

[2021-01-11 21:43] danrivett commented on #6352
Thanks @attilah. I'm not sure if my use case is fully understood, so just want to check this as you may have closed this prematurely if not.

Amplify already supports this schema as [described in the docs](https://docs.amplify.aws/cli/graphql-transformer/connection#has-many):

[code]

What I'm suggesting is it should also be able to support a uni-directional equivalent where it's not reqired to ha

[2021-01-11 21:49] danrivett commented on #6352
Doing the maths 400kb could store 25,000 UUIDs without any other data, so I guess it's more possible than I first thought, which is what I think you are referring to, but I would still think people using the data model pattern wouldn't use it if that sort of number of UUIDs is a possibility. Certainly in the scenarios I would use this pattern for, it's not a consideration - e.g. an individual Team

[2021-01-11 21:51] safonovklim commented on #5372
@attilah this fix introduced bug for Auth0 clients.

Token Payload:

[code]

oidcIssuers:

[code]

![image](https://user-images.githubusercontent.com/9365521/104242315-0f9dc400-5470-11eb-924b-7b818b487e4d.png)

As result,
`node_modules/amplify-appsync-simulator/lib/utils/auth-helpers/helpers.js` -> `isValidOIDCToken()` always return false for AUTH0 tokens

[2021-01-11 22:40] edwardfoyle commented on #6334
@patstahl After running the failed pull command, can you post the last few lines from `~/.amplify/logs/<latest file>` here?
Also could you include any error messages in the browser console log when trying to authenticate?

[2021-01-11 22:57] attilah commented on #6363
@BracketJohn thanks for raising the issue in fact the `iam:CreatePolicyVersion` and `iam:DeletePolicyVersion` is missing from our [documentation](https://docs.amplify.aws/cli/usage/iam). Admin UI policies will also be fixed.

[2021-01-11 22:59] edwardfoyle commented on #6299
@davad can you provide the full CFN log output?

[2021-01-11 23:01] attilah commented on #6363
Fixed in: https://github.com/aws-amplify/docs/pull/2845

[2021-01-11 23:01] #6363 closed

[2021-01-11 23:18] AaronZyLee commented on #5760
Currently the modelgen in amplify has the enum generation for javascript, which is executed by the command `amplify codegen models`. By default, the output model files(including @model types and enums) will be generated in `src/models` folder. And by the import code you are all set to use it in your client code.
[code]

[2021-01-11 23:29] attilah commented on #6361
@wderezin I was not able to reproduce it on my end since doing the same steps I had correct env vars:

![image](https://user-images.githubusercontent.com/230432/104249971-64661e00-5421-11eb-8085-025cea2d2b95.png)

When you see the strings you see they are coming from the "DefaultValue" specification inside of the Function's CFN template:

[code]

And the value for these are being supplied from the

[2021-01-11 23:35] edwardfoyle commented on #6347
Hey @patweb99 thanks for the detailed repro steps! I was able to repro the bug.

As a workaround, you can modify the custom CFN labmda that spins up the Lex resource as follows:
In index.js around line 30 modify it to:
[code]

[2021-01-11 23:43] AaronZyLee commented on #5454
Hi I cannot reproduce the issue you mentioned. Did you try the latest version of CLI? If the issue still remains in codegen, could you provide your codegen target languange?(can be found in `.graphqlconfig.yml`, `codegenTarget` field)

[2021-01-11 23:53] danrivett commented on #6360
I have spent more time on this, and unfortunately I can't get this working even if I make the fields nullable. I tried two variations:

Firstly I tried like above but with the fields being nullable:

[code]

That didn't work - viewing the generated `Mutation.updateTimesheet.req.vtl` file it does not have any field level auth restrictions.

I then tried inverting it and allowing only read access by

[2021-01-12 00:00] asmajlovicmars commented on #5760
Thanks for this @AaronZyLee, didn't know about it.

From my prospective, it would be still nice to export enums on the client's side, together with mutations, queries, and subs, just for the sake of automation.

[2021-01-12 00:16] AaronZyLee commented on #5137
Not really a codegen issue for now. The graphql operation doc is generated based on output of transformer. `getXXX` queries are auto-generated by @model in graphql-transformer, from which there is a limitation that it cannot be used on an interface for now. One possible solution is that the model directive(or a new directive for interface) will add get queries for the related interface. FYI there

[2021-01-12 00:19] danrivett commented on #6360
Going to attempt to model differently to work around the issues encountered by splitting the `status` field into a completely separate DynamoDB table as follows:

[code]

I think this should work but will try it out. Either way it's another table towards the AppSync subscription limit as using DataStore, and and more separate table reads which I'm trying to avoid as we're not using a SQL database

[2021-01-12 00:20] yaquawa commented on #6330
@edwardfoyle can you tell me what's your `npm config get prefix` ?
I was not able to compile it in both local and global installation.

[2021-01-12 00:27] SwaySway commented on #6348
@tomhirschfeld I ran this on version 4.40.1 and I was not able to repro. I do have the feature flag enabled.

Did the error look like the following?

[code]

We could also look into replicating this. Could you send over your `amplify/` directory to amplify-cli@amazon.com?

[2021-01-12 00:34] tomhirschfeld commented on #6348
yes, I can do this, thanks!

[2021-01-12 00:35] attilah commented on #6362
@Nxtra everything is correct with your script, the problem is "unicode". The first `-` character in front of --amplify is not a `-`. Replace it and it will work. I checked the docs site and it is correct there. We had some of these issues before, but they are all cleared up now.

Here is the selection of the `-` character in VS Code and notice that the first one is not selected:

![image](https://

[2021-01-12 00:35] #6362 closed

[2021-01-12 01:53] wderezin commented on #6361
I was able to track the issue down in the cloud formation templates.

Below is the configuration for my PostConfirmation function.  Here is the configuration for the function missing the parameters.

[code]

It is missing the following Parameters like the other functions configured for API access
[code]

[2021-01-12 02:01] wderezin commented on #6361
I checked the PostConfirmation permissions to access the API and enabled read/update/create/delete and now get the following cloud formation circular error:
[code]

[2021-01-12 04:29] akshbhu commented on #6211
Hi @krikork

Can you specify which user group is this policy belongs to as it is been cropped in image?

This isnt a security isssue as the Resource element in the IAM policy  specifies  ```arn:aws:s3:::Ref{S3Bucket}/ *```  for the GetObject, PutObject, and DeleteObject actions so that applications can read, write, and delete any objects in the test bucket.

You can get more information here: http

[2021-01-12 05:00] pavinduLakshan commented on #1366
Any updates ?

[2021-01-12 08:31] BracketJohn commented on #6363
Thanks for quickly addressing this - what PR/repo will Admin UI policies be fixed? Just so that I can track the fix status.

[2021-01-12 09:29] dopry opened #6366 "Better defaults for .graphqlconfig.yml"
**Is your feature request related to a problem? Please describe.**
Amplify codegen dumps it's graphql all over the place like an itinerant toddler.

**Describe the solution you'd like**
Dump all the generated code for an api in a folder named for the API

[code]

[2021-01-12 11:32] anisg opened #6367 ""go back" action when using the CLI"
**Is your feature request related to a problem? Please describe.**
When I use the amplify CLI (eg: `amplify update api`), I need to select an option among different choices, I sometimes choose the wrong option and I then need to exit amplify and rerun it, it could be nice if I could go back to the previous question

![image](https://user-images.githubusercontent.com/17178399/104307263-4b1bab00-54c

[2021-01-12 11:57] wderezin commented on #6361
I think issue is really "When in enabling a Auth function for API access a cloudformation circular reference is generated'

So I did another test with adding a `PostAuthentication` function and I caused the same results/error as above with the circular reference.

[2021-01-12 12:12] dsypniewski commented on #6341
Again personally I never add packages manually to package.json only using `npm install <package>` which also takes care of updating the package-lock.json at the same time, but I see the problem that some developers could have with this approach.
Maybe this could be a project preference/configuration flag or something?

[2021-01-12 12:50] mjza commented on #663
@MontoyaAndres How did you used this code to invoke your second function?

[2021-01-12 13:05] akefirad commented on #4930
`Walkthrough all the auth configurations`

[2021-01-12 13:06] safonovklim commented on #5372
@yuth can you please review this PR?

Previous change to this file was: https://github.com/aws-amplify/amplify-cli/pull/5434

[2021-01-12 13:55] mjza commented on #663
@MontoyaAndres Could you please help me to call my second function via postConfirmation? Could you please list the steps and codes?

[2021-01-12 14:25] DevTGhosh commented on #6353
The project item started saving automatically without me changing anything with the code or graphql schema. I can't replicate the bug anymore but the fact it was failing in dynamodb save while successfully saving in local db has me worried. For now I will update the schema to remove the required from the timestamp fields and use Appsync to create the items as a work around.  Maybe the team can rep

[2021-01-12 14:48] safonovklim opened #6368 "amplify-appsync-simulator - 401 for token.iss ending with forward slash"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

**Given** I using `amplify-appsync-simulator`

and I use `OPENID_CONNECT` auth type

and I use OIDC Issuer:
- `https://xxxxxx.auth0.com` OR
- `https://xxxxxx.auth0.com/`

**When** I make request with JWT token

And token.iss (issue

[2021-01-12 14:48] safonovklim commented on #6368
PR Fix: https://github.com/aws-amplify/amplify-cli/pull/6364

[2021-01-12 14:58] MontoyaAndres commented on #663
@mjza it's not necessary, you can try this https://docs.amplify.aws/guides/functions/cognito-trigger-lambda-dynamodb/q/platform/js instead of adding the trigger with the cli

[2021-01-12 15:02] mjza commented on #663
@MontoyaAndres I saw that link already. But assume I want to add group to user when confirmed and then also add him to my custom user table. In this case, I need to implement the add user group first, and then add user to custom table by calling the custom `add user to table` function in the  `add user to group` function.

[2021-01-12 15:03] mjza commented on #663
@MontoyaAndres What I really need to know is if I exactly have a custom function how can I invoke it inside of my Post confirmation event function.

[2021-01-12 15:19] mjza commented on #663
I found the solution! :D

[2021-01-12 15:39] chancyk opened #6380 "Hosted UI has Invalid Resource URLs"
**Describe the bug**
Clicking on the Hosted UI endpoint brings up a page that displays nothing, seemingly because the embedded URLs are broken, such as:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup auth with `amplify add auth`
2. Open the provided Hosted UI endpoint from `amplify status`

**Expected behavior**

**Screenshots**

**Desktop (please complete the following informa

[2021-01-12 16:10] mansdahlstrom1 commented on #1874
Just a Follow up on @bart Answer, i have the same use case and solved it with the help of his instructions.

To give your lambda access to DynamoDB you can add the following cloudformation snippet to `amplify/backend/function/{your-post-confirmation-function}/{your-post-confirmation-function}-cloudformation-template.json`

[code]

Please not that you can also change `"Resource"` to only allow acce

[2021-01-12 17:13] attilah commented on #6361
Circular dependency is a side effect since you create a circular reference between auth, api, function resource. Unfortunately it cannot be solved in an automated way with single CF deployment and Amplify created resource references, what you can do as a workaround is to extract out the generated access policy as a custom resource and use amplify to deploy it. Also the env vars has to be set manua

[2021-01-12 17:13] #6361 closed

[2021-01-12 17:14] attilah commented on #2303
Closing in favor of: https://github.com/aws-amplify/amplify-cli/issues/4568

[2021-01-12 17:14] #2303 closed

[2021-01-12 17:14] attilah commented on #1874
Closing in favor of: https://github.com/aws-amplify/amplify-cli/issues/4568

[2021-01-12 17:14] #1874 closed

[2021-01-12 17:46] PeteDuncanson opened #6369 "Unhandled Rejection (Error): Federation requires either a User Pool or Identity Pool in config"
**Describe the bug**

My app has auth enabled via Google. It has been working just fine. Then today out of no where it stopped working when I had to login a fresh. It now throws the above error message when I try to login (see screenshot below for more details).

I've not touched Auth or any settings today. My work mate doesn't have this issue which leads me to think its a config issue on my setup

[2021-01-12 18:45] attilah commented on #2084
@adriangostling we reopened it to track as an active workitem, the changes for policy slicing was only done for GraphQL APIs not REST ones back then.

[2021-01-12 18:46] MontoyaAndres commented on #663
@mjza what did you do and was the solution for you? :)

[2021-01-12 18:48] mjza commented on #663
@MontoyaAndres please check your stackoverflow question. I left the answer there.

[2021-01-12 18:49] mjza commented on #663
Basically I needed to add user to a group and also record it in a user table. I think you wanted to do the same. Isn't it?

[2021-01-12 18:51] hadils opened #6371 "amplify env checkout prod|dev returns an error message"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.

Thank you for the provided information.

After dedicating whole day today, I'm finally able to replicate your issue on my end. To be precise, not exact error but close.

What I did was I used Amplify CLI to notifications: SMS, GCM

[2021-01-12 19:12] simon-lanf commented on #2698
Yes this is a really big problem and probably the reason why we will stop using Amplify.

[2021-01-12 19:19] ahtokca commented on #501
vote for --verbose or --debug too. Starting from 4.29 amplify simply hangs for me. I assume an error is swallowed and it waits forever. Verbose flag will help a lot. Thank you

[2021-01-12 21:00] xitanggg opened #6372 "What exactly does Mutation.createPost do under the hood?"
[code]
When I declare a `Post` schema as shown above, two resolver template for the Create operation would be automatically created: `Mutation.createPost.req.vtl` for request and `Mutation.createPost.res.vtl` for response.

I am trying to understand what is happening under the hood when I send the following GraphQL query on AppSync.
[code]

From my understanding, the request template would be firs

[2021-01-12 21:20] edwardfoyle commented on #6330
my `npm config get prefix` is `/usr/local`. What does `which amplify` return for you? It should be equivalent to `$(npm config get prefix)/bin/amplify`

[2021-01-12 21:52] PeteDuncanson commented on #6369
Fixed! I had to clear out my node_modules and reinstall and that fixed it. Not sure if there was an issue with VSCode or something but something got messed up.

Once again big thanks to Chai in the discord chat for the suggestion, that man is a legend.

[2021-01-12 21:52] #6369 closed

[2021-01-12 22:00] cybercussion commented on #165
haha I did the same thing with a tutorial and apparently I will live with it because we all know demos go to production :)

[2021-01-12 22:02] Rusinas commented on #6356
@attilah TS installation was successful:
[code]

[2021-01-12 22:05] attilah commented on #6368
@safonovklim thanks for the reporting and fix!

[2021-01-12 22:07] xitanggg commented on #6372
Nevermind, I found the answer at this [link](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html), thanks

[2021-01-12 22:07] #6372 closed

[2021-01-12 22:08] attilah commented on #6367
@anisg thanks for the idea, we are aware, unfortunately, the question walkthroughs today are linear and not implemented as a wizard/form, so going back is not viable. We will considering this possibility as well when we redesign/change the DX of the CLI.

[2021-01-12 22:12] attilah commented on #6366
@dopry thanks for the suggestion to summarize the proposed enhancements:
- instead of `graphql` use the API name as a folder for the generated code
- generate an index.ts as well for a simpler import usage

[2021-01-12 22:15] attilah commented on #6371
@hadils to make sure I understand correctly you execute `env checkout` after `notifications add`? And no push or anything in between?

[2021-01-12 22:20] attilah commented on #6356
@Rusinas did you find any permissions difference? It is clearly a local issue  there. Am I correct that you had a previous version of the CLI installed, hence the "rename" operation happening?

- Can you try to remote AND install CLI (so no rename/overwrite) would be in place?
- That's a good practice to add npm global folder to Windows Defender exception folders as "disable" in new Windows 10 ver