[2019-04-22 19:32] jakemitchellxyz commented on #922
same issue. using the `amplify api remove && amplify push` solution, can we get some eyes on this bug?

[2019-04-22 19:53] ajhool commented on #1326
Are you able to go directly to page2 via the browser url input?

[2019-04-22 21:09] poppybank opened #1330 "configure multiple front-ends"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

[2019-04-22 21:09] #1330 closed

[2019-04-22 21:12] poppybank commented on #1330
I was trying to find the docs on amplify configure project and seem to have created an issue.

[2019-04-22 21:24] yuth commented on #1328
Amplify codegen uses [inflected](https://github.com/martinandert/inflected/) to Singularize the name of the selection set and inflected has a [rule](https://github.com/martinandert/inflected/blob/master/src/defaults.js#L27) which converts `ta` -> `tum` and `ia` -> `ium`.

I will add a black list which will stop changing `delta` -> `deltum`

[2019-04-22 21:32] chihab opened #1332 "GraphQL API - export datasource names on generated nested model templates"
**Is your feature request related to a problem? Please describe.**
I have a Pipeline resolver in which I'd like to execute a graphql mutation then call a lambda function. I am unable to reference generated model datasource as they are not exported.

**Describe the solution you'd like**
**backend -> api -> graphql -> stacks -> CustomResources.json**  [The importValue part]

[code]
What we should ha

[2019-04-22 22:53] gvb26 commented on #1023
I am also facing this issue. I am unable to find a directory known as .config in my project folder either. Any solutions?

[2019-04-22 23:16] yuth commented on #1023
@gvb26 did you see any errors when you ran `amplify` commands? What was the version of last CLI you had run `amplify` successfully? What version do you have installed currently?

[2019-04-23 03:05] mhrisse commented on #922
From our perspective, this is indeed a critical bug. It makes working with more than one person on a real-world project using `@connection` and CI/CD impossible and rendering the whole framework potentially unfit for production usage.

[2019-04-23 03:20] phaniteja1 commented on #552
Is this filtering possible? Thanks!

[2019-04-23 03:29] phaniteja1 commented on #91
How can I filter on PostEditor for a specific User and Post? Thanks!

[2019-04-23 03:32] Private-SO commented on #1326
@ajhool  i cant go to the page 2 directly .

This was my `amplify console` generated url `https://master.xxx.amplifyapp.com` when i clicking on the `page1` or `page2` link on the `navbar` as mentioned in the above screenshots , `amplify console` is routing the page to `/index.html`  (`https://master.xxx.amplifyapp.com/index.html)` which is rendering same contents that are in `https://master.xxx.am

[2019-04-23 04:11] #1314 closed

[2019-04-23 06:43] Private-SO opened #1334 "How to rebuild my app when pushing to cloudfront ?"
** Which Category is your question related to? **
This question is related to amplify_cli . In this i am using amplify add hosting feature and deploying my app in cloudfront. Now, i had made some changes to my app locally and want to push this new build to cloudfront. I tried this command `amplify configure hosting` but i didnt build my app since there is no change in the fields that it had asked

[2019-04-23 07:09] timkuilman commented on #1242
@mikeparisstuff I haven't figured this out yet. How can I get this to work?

Thanks!

[2019-04-23 08:51] rawadrifai commented on #235
How do you allow read only for everyone else and read/write for owner? (by everyone else, I mean authenticated users). sounds like should be done with the schema only.

[2019-04-23 08:52] chihab commented on #1324
@UnleashedMind Is it possible to reference authRole ressource inside api nested stack template differently. I am trying to add a policy that authorizes "authenticated" lambdas to query my GraphQL api.

**backend -> api -> graphql -> stacks -> CustomResources.json**
[code]

"Fn::ImportValue": "AuthRoleArn" doesn't work as AuthRoleArn is not exported in root stack template.

[2019-04-23 09:00] rawadrifai commented on #761
How do you allow read/write for owner and read only for every other authenticated user?

[2019-04-23 09:41] tzdesign commented on #365
@mtliendo We ran into the same issues. We use aws-nuke to keep the costs low on testing.

Please make this possible!

[2019-04-23 11:20] dbramwell commented on #1137
I've just run into this myself. The issue seems to boil down to the S3 properties inside `amplify/backend/api/<whatever>/build/parameters.json`, they seem to be used whether the API has changed or not.
- Create an environment, env1, with AWS profile in account1
- Add an api and a function, and push the env. This creates said file with S3DeploymentBucket and S3DeploymentRootKey.
- Create a new envi

[2019-04-23 13:08] kstro21 commented on #1332
There is a PR open #1182 to add the output.

And you are right, currently, the outputs are only added for **@models** having **@connection** directive applied.

[2019-04-23 14:41] mtliendo commented on #365
@tzdesign Oh, I've never used that package before.  It's like rimraf for aws hehe.  My solution has been to keep a notepad of the repos I create that use amplify and when I feel they go idle run [`amplify delete`](https://github.com/aws-amplify/amplify-cli#commands-summary).

In practice are there advantages that aws-nuke provides over that command?

[2019-04-23 14:44] mtliendo commented on #1334
Have you tried `amplify publish`? This command publishes both your client and backend resources.
https://github.com/aws-amplify/amplify-cli#commands-summary

[2019-04-23 14:44] budacgrigore commented on #82
I have faced the same issue and it was caused by changing the project's route or name. To solve it open **amplify/.config/project-config.json** and check **projectPath**

[2019-04-23 14:45] budacgrigore commented on #234
I have faced the same issue and it was caused by changing the project's route or name. To solve it open **amplify/.config/project-config.json** and check **projectPath**

[2019-04-23 15:13] mwarger commented on #1325
@undefobj @mikeparisstuff Relatedly - have you all looked into use the apollo package for codegen?  I remember seeing that the appsync codegen used to be (probably still is) based on the previous version of apollo codegen.

I tried running the actual apollo:codegen command against my schema.json file and the results were impressive.  It found the enums and nested queries correctly, as well as prop

[2019-04-23 15:13] tzdesign commented on #365
@mtliendo We are using a lot of Cloudformation and serveral team members are deploying with amplify, serverless, etc. It's impossible to keep track on each one of these things without tags.

It has no advantages except that it implements a workflow for testing and destruct stuff which is not in production.

At the moment it's okay to nuke all inside the sandbox sub account, but in the end when it

[2019-04-23 15:44] eelzinaty commented on #307
That is really cool. Do you support other commands? i.e. `amplify add auth` or `amplify add analytics`.

[2019-04-23 16:03] yuth commented on #1334
`amplify publish` checks if there are any pending changes and if there are changes that needs to be pushed, it asks you if you want to do an `push` before publishing.

[2019-04-23 16:20] Private-SO commented on #1334
thanks @mtilendo and @yuth . Indeed `amplify publish` solved my problem.
I tried it many times since it is saying `Nochange`  i would go with `No` this time i tried `yes`. Then it automatically rebuild my frontend .

Thanks

[code]

[2019-04-23 16:21] #1334 closed

[2019-04-23 16:31] mtliendo commented on #1334
That's actually good insight.  Perhaps a PR should be raised to explicitly state that even though the backend won't change, any changes to the frontend will.

[2019-04-23 17:16] swaminator commented on #1326
@Private-SO we are currently investigating this and will get back to you today.

[2019-04-23 17:16] davekiss commented on #1055
Just tried to create and run a pipeline function that depends a result of an autogenerated resolver and realized the `@after` is what I'm looking for. I think adding as many functions in the SDL as you might need to complete the pipeline would be ideal as @ambientlight suggests.

[2019-04-23 17:21] Private-SO commented on #1326
@swaminator thanks for giving me the update. Eagerly waiting for the response.

[2019-04-23 17:50] ambientlight commented on #1037
@hisham, @mikeparisstuff, @michael-golfi: Based on this discussion and #202, I am wondering what would `@connection` behavior will look like.

Based on https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-adjacency-graphs.html what are you thoughts about this behavior:

[code]

1. id specified on interface marked with `@table` results in partion_key combining __typename and identifi

[2019-04-23 18:30] sergiorodriguez82 opened #1337 "problem when pushing lambda with external library."
** Which Category is your question related to? **
Lambda function

** What AWS Services are you utilizing? **
lambda SES

** Provide additional details e.g. code snippets **
I want to send an email from a lambda function.
I have created a function with the CLI, and then I initialized with npm, to import a library to use in that function.
When pushing the function only the src folder is uploaded.

[2019-04-23 18:34] acrabb commented on #401
bump :)

[2019-04-23 18:36] anatonie commented on #1326
@Private-SO
Can you please try adding the following rewrite rule to your application:
[code]

[2019-04-23 18:53] Private-SO commented on #1326
@anatonie  The above rewrite rule worked perfectly well .  Now it is appending my `route` at the end of amplify `url` like this `https://master.xxxx..amplifyapp.com/page1/`.

What was the reason ? Could you explain the rewrite rule please ?
Do i need to add this rewrite rule whenever they are routes present in my frontend ?

Thanks

[2019-04-23 19:21] anatonie commented on #1326
This rule rewrites everything without one of the listed extensions to /index.html

Even though your URL is /page1, the content that is being served is still coming from /index.html
Your react-app uses react-router to show different content based on the path.

This means you need Amplify Console to rewrite requests for different pages to /index.html however you don't want to do that for ALL request

[2019-04-23 20:14] achutkiran opened #1336 "Aws amplify Appsync update schema"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
AWS Amplify appsync

** What AWS Services are you utilizing? **
Appsync dynamodb
** Provide additional details e.g. code snippets **
Hi all, i first created schema as
[code]
later when i change userId: String! I am getting following error in cloud fo

[2019-04-23 20:34] YaswanthC commented on #1326
Thanks @anatonie for the explanation. What about the `console warnings` as mentioned in the above comment. Is there a way to avoid these ? Because by getting these we can't go for prod.

Thanks

[2019-04-23 21:33] anatonie commented on #1326
Those warnings are most likely because "map" files aren't excluded in the rewrite rule. Adding those to the list should let the map properly load.

[2019-04-23 22:27] BerndWessels commented on #1298
@ashwindevendran @yuth Hi, sorry but I am getting the same thing and I am sure my cluster and compute is up and running.

[code]

[2019-04-24 02:03] BerndWessels commented on #1298
@ashwindevendran @yuth Actually reading the error in more detail `169.254.169.254` seems something seriously weird.

How is `amplify api add-graphql-datasource` supposed to work? Has it ever worked on `Windows 10` ?

[code]

[2019-04-24 02:20] brunostuani opened #1339 "Do we fully support fragments?"
** Which Category is your question related to? **
GraphQL transformer codegen

** Provide additional details e.g. code snippets **
I'm adding a fragment in a custom GraphQL query file. For example:

[code]
Codegen gracefully generates SheetPartsFragment into my API, but when requesting the qery through the generated API, I get this error:

`core.js:15724 ERROR Error: Uncaught (in promise): Object:

[2019-04-24 04:00] brunostuani commented on #1339
This seems a bug in the angular service generation. The fragment definition is missing in the generated API queries. It works if I manually edit the generated service and add the missing fragment after the query.

[2019-04-24 08:19] Jun711 commented on #766
@undefobj

Regarding my previous comment: https://github.com/aws-amplify/amplify-cli/issues/766#issuecomment-467242561 about disabling/delete users, with amplify, we cannot disable / delete immediately.

However, amplify can have DurationSeconds parameter of [STS assumeRole functions](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/STS.html#assumeRole-property) configurable. It is availabl

[2019-04-24 08:20] TomWhitehead-Evo commented on #1304
I have re-installed the amplify-cli globally and the aws-amplify module in the project locally and still encounter the same error.

[2019-04-24 10:06] artista7 commented on #91
@mikeparisstuff @kaustavghosh06 Until when can we expect this feature? This piece is so central to database design.

[2019-04-24 10:09] artista7 commented on #1074
@kaustavghosh06, Any updates?

[2019-04-24 10:27] ambientlight commented on #1074
@artista7: what you can do now is the following.

Enable `@http` directive which is not yet available in release version of amplify-cli.
https://github.com/aws-amplify/amplify-cli/issues/84#issuecomment-483737268

Then if you have an available flask endpoint you can hit it via a following declaration in you graphql schema:

[code]

For flask app in lambda one reasonable option to go with https://g

[2019-04-24 11:02] RadoAz commented on #247
Hi all! Any updates? We started to develop with
[code]

[2019-04-24 12:19] jarrettj opened #1340 "Deployment buckets in S3."
** Which Category is your question related to? **
S3 bucket creation.
** What AWS Services are you utilizing? **
S3 for hosting.
** Provide additional details e.g. code snippets **
Why are there so many S3 buckets for deployments? Named: {application_name}-{date}-deployment.

[2019-04-24 12:38] artista7 commented on #98
@mikeparisstuff +1 for the feature.

[2019-04-24 15:38] jokeefe1 opened #1341 "Unable to add api using 'amplify add api'"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
Able to add/remove hosting but not able to add api or auth using the command 'amplify add <category>'. After using 'amplify add api' I am able to select options using the prompts but once it get to the security configuration prompt and select 'Default configuration' it immediate

[2019-04-24 15:47] jokeefe1 commented on #1341
Solved. Updated to latest version of node.js

[2019-04-24 15:47] #1341 closed

[2019-04-24 15:56] hisham commented on #943
+1. Also currently need lambda created within amplify to read from the dynamodb table created by the graphql transformer.

[2019-04-24 16:30] hisham opened #1342 "Creating function and doing amplify push results in cloudformation `Parameters: [S3DeploymentBucket, S3DeploymentRootKey] must have values` error"
**Describe the bug**
I added a lambda function through amplify cli and did amplify push. Also tried amplify function push. The push failed with:

`UPDATE_FAILED <redact>AmplifyCLI                       AWS::CloudFormation::Stack Wed Apr 24 2019 10:21:12 GMT-0600 (Mountain Daylight Time) Parameters: [S3DeploymentBucket, S3DeploymentRootKey] must have values`

This error above is with my graphql API

[2019-04-24 17:29] bokuweb opened #1343 "How to add pipeline after matching template with CustomResources.json"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

** What AWS Services are you utilizing? **

** Provide additional details e.g. code snippets **

I can not find way to add pipeline after matching template with CustomResources.json.
Is there good waay to add it??

[2019-04-24 17:37] eunsanghandle opened #1344 "Using multienv and but not Amplify Console for continuous deployment and hosting"
**Which Category is your question related to?**
Multienv

**Provide additional details e.g. code snippets**
I am using multienv feature to have isolated backends for testing but I don't want to get tied into Amplify Console. Specifically I am intrigued to try out [Netlify Dev](https://www.netlify.com/products/dev/) or [its branch subdomain](https://www.netlify.com/docs/custom-domains/#branch-subdo

[2019-04-24 17:48] ambientlight commented on #1037
found related proposal to solve the same goal: https://github.com/aws-amplify/amplify-cli/issues/1062

[2019-04-24 17:50] yuth commented on #1337
@sergiorodriguez82

Amplify CLI runs `npm install` command on the `src` directory of the Lambda function. So if you have a `package.json` and add dependencies those will be uploaded along with your Lambda function code

Yes you will have to edit the cloud-formation-template.json to support SES. We ***recommend to fine grain the access rule instead of  `FullAccess`*** to all the services used. If y

[2019-04-24 17:58] yuth commented on #1340
Amplify CLI creates a new buckets for each environment in the project.

We could change the name of the deployment bucket to include the environment name so it makes it easy to distinguish

[2019-04-24 18:02] yuth commented on #1343
@bokuweb could you elaborate. Could you include what service you're using and what are you trying to achieve

[2019-04-24 18:04] hisham commented on #1062
@abualsamid - see https://github.com/aws-amplify/amplify-cli/issues/431#issuecomment-444303514 for @mikeparisstuff's answer on why multiple dynamo db tables are created.

[2019-04-24 18:07] yuth commented on #1344
Amplify CLI does not directly provide subdomains for branches. If you're using hosting and you want to have subdomain for each branch, you could try [CNAMEs](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html) for cloudfront

[2019-04-24 18:36] swaminator commented on #1282
@steveoaustin following up here: Please email your appARn to aws-amplify-customer@amazon.com

[2019-04-24 18:38] swaminator commented on #1344
@eunsanghandle you get branch subdomains with the Amplify Console as well. The Amplify Console works well with the multienv functionality. In order to get it to work with other CI systems, you have to run amplify CLI commands in the build container.

[2019-04-24 19:36] #1335 closed

[2019-04-24 20:42] kaustavghosh06 commented on #1323
@ultradox Could you plese share your `amplify/.config/local-aws-info.json` file?

[2019-04-24 20:48] kaustavghosh06 commented on #1320
@Shan4993 Closing this issue based on @ambientlight response. Please feel freee to respond on this thread or re-open the issue if you're still stuck.

[2019-04-24 20:48] #1320 closed

[2019-04-24 20:49] kaustavghosh06 commented on #1319
Similar to #1341 and the issue was fixed via updating the node version.

[2019-04-24 20:49] #1319 closed

[2019-04-24 20:50] kaustavghosh06 commented on #1317
@marcschroeter You could use the AWS CLI to do so. Have you tried this alternative?

[2019-04-24 20:51] kaustavghosh06 commented on #1315
The fix fo this issue was merged and released into the latest version of the CLI

[2019-04-24 20:51] #1315 closed

[2019-04-24 20:55] davidfarinha commented on #800
Hello,
I'm also getting the string "$entry.sort.get(0)" incorrectly returned as my the nextToken. Is there any workaround I can use in my custom resolver to fix this in the meantime?

[2019-04-24 20:57] kaustavghosh06 commented on #1310
@zjullion Currently, the way to implement this would be to implement a plugin for the same until we have support for a functionality mentioned in #80

[2019-04-24 21:02] kaustavghosh06 commented on #1309
@BarberEngineering Could you please show your terminal logs? Which version of the CLI are you using?

[2019-04-24 21:03] #1306 closed

[2019-04-24 21:11] SteveHoggNZ commented on #800
The quotes need to be removed from around the nextToken

i.e.

[code]

Should be:

[code]

You could do a pull request for the fix, or use a custom template for the time being.

[2019-04-24 21:14] kaustavghosh06 commented on #1302
@hisham I think the best way to go about this would be by manually managing them since this would vary vastly between different devs and projects.

[2019-04-24 21:14] #1302 closed

[2019-04-24 21:15] kaustavghosh06 commented on #1300
@NuruddinBadawi  Let me know if you're still stuck on this after @mikeparisstuff's suggestion. Feel free to re-open or comment on this thread if you're still stuck.

[2019-04-24 21:15] #1300 closed

[2019-04-24 21:21] kaustavghosh06 commented on #1288
@jarrettj You could create the `parameters.json` file in the `amplify/backend/functions/<name>/` directory and the CLI would detect and use the same to pass in params to the CFN file.

[2019-04-24 21:21] #1288 closed

[2019-04-24 21:25] BarberEngineering commented on #1309
Didn't save it and I removed everything and started new since I was told where the issue was. Wasted a day blind hunting then gave up. Was newest cli - 1.6.3

"Another example -  Updating resources in the cloud. This may take a few minutes...Error updating cloudformation stack" - every time we hit this it pretty much means hang it up, delete the resource and redeploy. Example output below. As a us

[2019-04-24 21:50] yuth commented on #1290
@peterjungx as @wizawuza Amplify CLI generated statements are meant to be used as a starting point. The generated statements don't include any arguments of the selection set intentionally as it makes it more complicated for cases where if there are multiple list operations in query. Consider the following example.
[code]

[2019-04-24 22:26] davidfarinha commented on #800
This doesn't seem to work, there's no "sort" field in the Elasticsearch response (see below) so `$entry.sort.get(0)` in the response mapping always causes "nextToken" to be null.
'
{
    "errors": [],
    "mappingTemplateType": "Response Mapping",
    "path": "[searchUsers]",
    "context": {
        "arguments": {
            "filter": {
                "id": {
                    "ne": "cd82d03b

[2019-04-24 22:33] UnleashedMind commented on #1305
@yuyokk
Thanks for bringing it up. We'll also add to our document about this.
For existing project, if you plan to update anything related to lambda, such as resources from the Amplify CLI Function category, or custom resources backed by Lambda function (e.g. analytics, interactions, etc. ), then you will have to manually update the node version in the CloudFormation template.

[2019-04-24 22:44] UnleashedMind commented on #1305
@leantide
Auth also uses custom resources backed by Lambda function. So this update shouldn't affect resources already created for the auth category. But if you need to update them, they you will need to manually update the node version.

[2019-04-24 23:12] UnleashedMind commented on #1295
@umesh-meka
Have you tried to use run as administrator?
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc771525(v=ws.10)

[2019-04-25 00:04] UnleashedMind commented on #1311
@erik-am
Thanks for your feedbacks, I've marked this as feature request.
It'd be great if you could suggest a cli workflow for this feature, e.g. should the CLI prompt for permission boundary ARN during 'amplify init' and 'amplify add auth', or should it be configure using 'amplify configure project'>

[2019-04-25 00:49] undefobj commented on #766
@Jun711 sessions longer than 1 hour are not possible with Cognito which Amplify uses for Auth and not direct STS calls. We would not be able to provide this in Amplify, please raise a feature request on the Cognito team's forum: https://forums.aws.amazon.com/forum.jspa?forumID=173

[2019-04-25 01:09] UnleashedMind commented on #1322
@lielran
Could you provide more details on the kind of the CI/CD solution you'd like to have?
Do you want to integrate with existing CI/CD tools or you want the Aamplify CLI itself to be able to provide CI/CD capabilities?

[2019-04-25 01:11] UnleashedMind commented on #1297
Thanks for your feedbacks, the team will review it.

[2019-04-25 01:12] UnleashedMind commented on #1287
Thanks for your feedbacks, we'll review it.

[2019-04-25 01:15] UnleashedMind commented on #1278
@et304383
Thanks for your feedbacks.
This is a known issue, and we'll need to update the CLI to fix it.

[2019-04-25 01:29] UnleashedMind commented on #1276
@jarrettj
Currently you can run 'amplify hosting configure' to configure different sections of the hosting service, including the CloudFront section, and those configuration changes are directly written into the template file.
And when you switch env, you are getting another set of resources.
Can you be more specific on what configuration settings are you want to keep in the parameters file, and h

[2019-04-25 01:42] undefobj commented on #766
@mwarger it's built into the Storage category and REST piece of the API category when you go through that flow. We've actually always had functionality for permissions in those categories where it setup the auth/unauth roles however it used to be simple read & read-write. Now it gives you CRUD options and we'll setup the appropriate IAM permissions.

[2019-04-25 02:04] bokuweb commented on #1343
@yuth Oops, sorry. i use amplify-cli with appSync.

I have a following schema now.

[code]

So, I would like to filter by `canAccess` with `Query.A.res.vtl`. However `$context.result` does not include `B`, it includes only `A { id: ID }`....

[code]

Is it possible with pipelines's `after mapping template` ?? If not, do you have any idea to do  it??

[2019-04-25 02:05] undefobj commented on #83
We wouldn't want to do this as `@lambda` is implementation specific, and Amplify in general has declarative & category based approach to both design and naming conventions. This allows us to change implementations later, for instance we could use AWS Lambda functions as well as XZY functions in the transformer through configuration options. We do a similar thing with the `Auth` category in the JS

[2019-04-25 02:16] ultradox commented on #1323
[code]
Looks like the prod profile is missing on branch master.
[code]
I updated local-aws-info.json as follows but still get the same error though...
[code]
Even if I remove the "dev" entry completely, the error persists...
[code]

[2019-04-25 05:08] jihadrhamza commented on #483
is this feature available?

[2019-04-25 08:20] plaa commented on #1277
Can this then be considered a feature request? `allow: all`, `allow: authenticated` or similar would be useful even without and/or rules.  (Not sure how #52 is relevant, did you mean something else?)

Also please add to the docs how the rules are evaluated.  My guess is that a user gains a union of all permissions from any rules that match the user, but not 100% sure.

[2019-04-25 08:47] jarrettj commented on #1340
Thanks, that would be an awesome feature. Regards.

[2019-04-25 08:48] sebsto commented on #766
I have what seems to be a common requirement : to securely integrate with existing API.

Use case : another team is publishing an API (using SAM and API Gateway), protected by IAM.  I need to create an front end app, incl. Cognito User Pool & Federation.  Apps users must be authorized to call that API.

Both the API and the front end app are on the same AWS Account.

To make this happen, I would l

[2019-04-25 08:59] jarrettj commented on #1276
Hi,

Thanks for the response.

I'm setting an alias for the CDN. Let's say my environments are example.com, develop-example.com, test-example.com. If we are allowed to use different parameter.json files, we would simple have a different value for each domain name.

Let's say by default parameters.json is used. But first check if an environment specific parameters.json file exists. If we are on dev

[2019-04-25 09:35] Alonitor commented on #1009
It seams that you can pass the entire schema into the "inputType":

`import schemaGraphQL from "../../../../../amplify/backend/api/[project name]/build/schema.graphql"`

then:
[code]
And Im using the graphql-tag/loader: [https://github.com/apollographql/graphql-tag](graphql-tag)

It seams not to work with the schema.json file...

I'm not sure if this is a good idea or not? But the goal must be to

[2019-04-25 14:01] Private-SO commented on #1326
Thanks @anatonie and @swaminator .

[2019-04-25 14:01] #1326 closed

[2019-04-25 14:08] Jeyloh opened #1347 "AppSync GraphQL: Add @connection data to a model as a batch"
** Which Category is your question related to? **
AppSync, Mutation, Resolver

** What AWS Services are you utilizing? **
AppSync, GraphQLTransform, Cognito

** Provide additional details e.g. code snippets **

I have 2 models in schema.graphql (see image under). Radar.techList is an @connection with Tech. I want to create a feature where a Radar can be added with already added Tech. This means th

[2019-04-25 15:33] eelzinaty commented on #624
@phanviet I find a turn around to enable `AWS_IAM` for AppSync, that works for me now. You can add these two cloudformation stacks to your API stack:
https://gist.github.com/eelzinaty/f2e6eaf3f8282f3d66db1a0732e5c6dd
https://gist.github.com/eelzinaty/8d013575a02245aafacaf926226a870d

Then make sure that your API `parameters.json` has this:
[code]
Then, you run `amplify push api`.

Finally, you cha

[2019-04-25 15:47] swaminator commented on #1322
Also, have you checked out the Amplify Console? console.amplify.aws?

[2019-04-25 16:32] sprucify opened #1348 "How to use the AWSTimestamp scalar"
When I `amplify push` a schema with the following model and hit yes to also generate my mutations I get a conflicting type.

`type Swipe
  @model
  @auth(rules: [{allow: owner}])
{
  id: ID!
  userId: ID!
  recipe: Recipe! @connection
  liked: Boolean!
  timestamp: AWSTimestamp
}`

My mutation expect a timestamp in form of a string, but graphQL want an Integer.

This works but is ugly and typescri

[2019-04-25 17:24] #111 closed

[2019-04-25 17:37] tphobe9312 commented on #933
`Unexpected end of JSON input while parsing near '...rectories":{},"dist":' ` while npm i  @aws-amplify/cli

- [ ] cache clean

- [ ] node -v => 10

- [ ] npm -v => 6

[2019-04-25 17:39] tphobe9312 opened #1349 "npm i @aws-amplify/cli"
`npm ERR! Unexpected end of JSON input while parsing near '...rectories":{},"dist":'` while installation.

[2019-04-25 18:09] yuth commented on #1343
@bokuweb we recently added support for [field level auth](https://aws-amplify.github.io/docs/cli/graphql#field-level-authorization).

You can get update your schema as below to allow field level auth
[code]

If you want to have some custom logic at the resolver  level of `type A.b` you could write a custom resolver inside the resolver folder of your project. The resolver would be named `A.b.req.vt

[2019-04-25 18:12] yuth commented on #1123
@RayStroud this is in our back log and we will pick this issue in upcoming sprint once the product team prioritizes this feature

[2019-04-25 18:13] UnleashedMind commented on #1324
@chihab
The GraphQL API build process does not remove your custom parameter entries into the parameters.json file, I couldn't reproduce what you reported, could you double check and confirm?
As for your second post, the question about authorizing lambda function to access your GraphQL API, I'm not sure why that lambda function, as the client of the GraphQL API, should be created as part of the Gra

[2019-04-25 18:14] bokuweb commented on #1343
@yuth Thanks for your response!!

Cool 🎉 I'll check it later :)

Do you have any examples??

[2019-04-25 18:29] yuth commented on #1343
@bokuweb

https://aws-amplify.github.io/docs/cli/graphql#overwrite-a-resolver-generated-by-the-graphql-transform

[2019-04-25 18:34] bokuweb commented on #1343
@yuth Thanks :) 👍

Ahh... Unfortunately, I don't use cognito user group, and I have a auth field as `String Set` because I refferred following document. I created a field like `PeopleCanAccess`. In this case I can not use field level `@auth` ? In this case I should use `custom resolver inside the resolver` or using other way (i.e. pipeline with lambda)??

https://docs.aws.amazon.com/ja_jp/appsync/

[2019-04-25 18:58] ajhool commented on #1349
Try `npm cache clean --force`

[2019-04-25 19:11] eelzinaty commented on #1324
I had the same issue when trying to add a reference to `AuthRoleName` in AppSync API `parameters.json`. amplify CLI version is 1.1.7. So I ended up hardcoded the value.

[2019-04-25 19:21] ajhool opened #1350 "[multienv] Auth did not update when switching to a different env"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I have three environments: (NONE, dev, production), where NONE is an obsolete env from before multienv was released. I am currently using the "dev" environment, but `amplify/backend/auth` and `aws-exports.js` are still stuck on the NONE version of Auth.

**To Reproduce**
Not sur

[2019-04-25 20:18] ajhool commented on #1350
I have tried `amplify env pull` and the configuration did not change.

This week I had been planning on "redoing" auth to change the login requirements (the user currently needs a username + phone number + email + password... I would like to switch to just [ email OR phone number ] + password). So, if my auth is in a bad state, I would also be curious how to just replace it with a new setup rather

[2019-04-25 20:22] jprivillaso commented on #1062
Eager to see this feature accepted <3
Exactly what I have been looking for

[2019-04-25 20:55] pr1ntr opened #1351 "amplify add auth - unable visibly add/update oauth providers"
**Describe the bug**
`amplify add auth` social provider selection does not visibly function
Windows 10
Powershell

**To Reproduce**
Steps to reproduce the behavior:
1. `amplify add auth`
2. `Apply default configuration with Social Provider (Federation)`
3. complete steps until it asks you to Update OAuth Social Providers
4. The multi select is broken, there is no way to select or see what is selec

[2019-04-25 20:55] mikeparisstuff commented on #1324
@chihab If you add the parameter definition to your nested stack, the CLI should automatically configure forwarding that paramter down to your nested stack. For example, if you have a custom stack at `stacks/MyCustomStack.json` and you add this parameter definition:

[code]

And you then pass the param in `parameters.json`

[code]

Then the param should correctly be forwarded down to your nested s

[2019-04-25 21:17] #660 closed

[2019-04-25 22:17] plaa opened #1352 "How to create custom @connection resolver?"
** Which Category is your question related to? **
GraphQL API

** What AWS Services are you utilizing? **
AppSync, DynamoDB, Cognito

** Provide additional details e.g. code snippets **

We're creating a GraphQL API using `amplify add api`.  The vast majority of the API can use the autogenerated code backed by DynamoDB.  However, there is one model `Person` for which we want to fetch data from the

[2019-04-25 22:20] pr1ntr commented on #1351
I am dumb. I didn't realize those (messages) are why its not available. I thought it was just a warning.

[2019-04-25 22:20] #1351 closed

[2019-04-25 23:46] #1047 closed

[2019-04-26 00:52] tphobe9312 commented on #1349
already done

On Fri, 26 Apr 2019, 00:28 ajhool, <notifications@github.com> wrote:

[2019-04-26 00:57] yuth commented on #1349
@tphobe9312 what OS are you using? Can you also include the version of NPM.

Does NPM print for what package this is happening?

[2019-04-26 01:06] yuth commented on #1352
We have examples of  [Custom resolver lambda](https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function) in the docs. Let me know if you need any additional help

[2019-04-26 01:08] tphobe9312 commented on #1349
OS is Win 10
npm -v is 6. something
no npm doesn't print any package.

On Fri, 26 Apr 2019, 06:28 Yathiraj, <notifications@github.com> wrote:

[2019-04-26 01:27] BeneyKim commented on #365
Please, I do need this.

[2019-04-26 01:57] plaa commented on #1352
I've gone through the docs and know how to create a custom query resolver. What I haven't been able to do is to create a custom resolver that is used by other types through `@connection`.

In the example I provided, I know how to create a custom resolver for `getPerson`. What I haven't been able to figure out is how to make `Post.author` use a Lambda function. While I can override the `Post.author

[2019-04-26 05:20] nagad814 commented on #1062
I would pay to get this feature now. How can we move this faster?

[2019-04-26 06:45] tphobe9312 commented on #1349
`npm -v`  6.4.1
`node -v`  v10.15.3

[2019-04-26 07:07] #1349 closed

[2019-04-26 07:08] tphobe9312 commented on #1349
slow internet might be the reason.

[2019-04-26 07:08] ambientlight commented on #1062
now most likely would mean building a sort of polyfill for @index yourself. Or as a workaround you can extend the functionality of @model transform that will take the another parameters that will pass the information needed for GSI to be created by CloudFormation. Here is precisely where CloudFormation template for @model table is created:
https://github.com/aws-amplify/amplify-cli/blob/84b3d93b67

[2019-04-26 10:11] darkxeno commented on #392
Do we have any update about those new directives? This is a very interesting matter if we want to build an complete application while writing the minimum of serveless code

[2019-04-26 15:31] undefobj commented on #1062
All - We are actively working on this, and it's high on our radar. We appreciate your patience.

[2019-04-26 16:44] jbabe commented on #365
@kaustavghosh06 it would be awesome if this was added, right now we have environments that haven't been committed to `amplify/team-provider.json` (e.g. abandoned in a branch) that we'd like to periodically clean up.

[2019-04-26 17:44] palpatim opened #1355 ""Unexpected token in JSON at position 0" during amplify init"
**Describe the bug**
During the execution of `amplify init` the console returns an error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [iOS EventsApp starter](https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios)
1. In project directory, issue `amplify init`

**Expected behavior**
Project initializes successfully

**Desktop (please complete the follow

[2019-04-26 19:07] mikeparisstuff commented on #1336
This does look like an issue with your @model declaration. Do you have any stacks in your `stacks/` directory and if so did you change them at all?

[2019-04-26 19:07] kaustavghosh06 commented on #1282
@steveoaustin are you unblocked on this issue?

[2019-04-26 19:11] kaustavghosh06 commented on #1268
@danfrost We're not able to reproduce this issue as a team.
As a suggestion, I would recommend you to `npm uninstall -g @aws-amplify/cli` and then `npm install -g @aws-amplify/cli` to make this work for future versions of the CLI.

[2019-04-26 19:11] #1268 closed

[2019-04-26 19:12] mikeparisstuff commented on #1343
@bokuweb If you need to filter by an attribute in type `B`, can you restructure such that you query that first and then traverse the connection? For example,

[code]

You can use custom stacks to add pipeline functions using tables of your choosing as necessary. You can read more about how custom resources work within the Amplify CLI here https://aws-amplify.github.io/docs/cli/graphql#common-patte

[2019-04-26 19:15] kaustavghosh06 commented on #906
Closing this issue for now and if you're still facing this issue please comment on this thread.

[2019-04-26 19:15] #906 closed

[2019-04-26 19:19] kaustavghosh06 commented on #1149
@achutkiran By default, the GraphQL API creates a new cognito user pool for you (if the cognito option is selected). As a workaround, in the amplfy/backend/api/<api-name>/parameters.json file, you could modify/add the "AuthCognitoUserPoolId" and use your cognito user pool ID as a value out there for the GraphQL API to pick up that user pool.

[2019-04-26 19:20] #1221 closed

[2019-04-26 19:20] #1222 closed

[2019-04-26 19:21] #1252 closed

[2019-04-26 19:22] #1279 closed

[2019-04-26 19:23] #1317 closed

[2019-04-26 19:24] #1344 closed

[2019-04-26 19:27] #1265 closed

[2019-04-26 19:28] #1337 closed

[2019-04-26 19:28] achutkiran commented on #1149
@kaustavghosh06 ok thanks will try

[2019-04-26 19:30] kaustavghosh06 commented on #1350
@ajhool Can you try doing `amplify env pull --restore`?

[2019-04-26 19:30] mikeparisstuff commented on #1318
Until we have better support for custom indexes (#1062 will be updated again with new designs), you have a few options:

1. Use custom resources to define your DynamoDB tables with the sort keys of your choosing. This will also require your to configure an IAM role, AppSync data source, and AppSync resolvers manually. You can learn more about the API categories custom resources functionality here

[2019-04-26 19:36] mikeparisstuff commented on #1352
These docs describe how to connect a lambda resolver (https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function). To do this you should remove the @model from **Person**, remove @connection from **Post.author**, follow the instructions here to add a lambda resolver on the **Post.author** field (e.g. in the CFN doc the "TypeName": "Post" and "FieldName

[2019-04-26 19:40] kaustavghosh06 commented on #1269
@wbroek `amplify delete` does not delete the S3 bucket right now but we're working on a feture to make this possible on a delete command. For now, you would have to delete the S3 bucket manually using the AWS console and then run `amplify push` again to prevent the Cloudformation error.

[2019-04-26 19:43] kaustavghosh06 commented on #1206
Hey guys, Cognito service rolled out a fix for this issue earlier this week. Please `amplify remove auth` and `amplify add auth` with your desired flow to make this work. Thank you!

[2019-04-26 19:43] #1206 closed

[2019-04-26 19:46] ajhool commented on #1350
`amplify env pull --restore` did not resolve the issue.

Output :
[code]

`amplify env status` shows No Changes for all items.

I tried `amplify push` but I don't believe that it does anything when there are No Changes across the board. It did not generate a new `aws-exports.js`

The ultimate error occurs when trying to use the `Authenticator` component. There is a "no userpool" error when trying

[2019-04-26 19:46] mikeparisstuff commented on #1348
With a model like this:

[code]

you can run a mutation like this:

[code]

which will return:

[code]

[2019-04-26 19:51] mikeparisstuff commented on #1347
Currently, the way to do this is via a custom mutation or lambda resolver. You can read more about how to use custom resources to create custom resolvers & attach lambda function resolvers here https://aws-amplify.github.io/docs/cli/graphql#common-patterns-for-the-api-category.

PR #1346 implements the `@function` directive that provides a much simpler interface for configuring lambda resolvers (a

[2019-04-26 19:53] mikeparisstuff commented on #1277
@plaa Yes this will be useful once we have and/or rules and can be viewed as a feature request.

Currently the rules are joined with an OR. The goal is to support and/or in complex configurations.

[2019-04-26 19:57] mikeparisstuff commented on #1274
@sergiorodriguez82 Thanks for the response. The goal is definitely to continue providing simple to use and powerful abstractions that avoid having to write CloudFormation. We provide CFN as an escape route for situations we don't support but #1060 should also provide another route to handle custom, complex use cases.

[2019-04-26 20:05] #1340 closed

[2019-04-26 20:10] #1328 closed

[2019-04-26 20:15] mikeparisstuff commented on #1313
@AndrewMorsillo As of two weeks ago, @connections are now protected by the @auth directive. Support for protecting subscriptions are coming soon and is detailed in #1043.

In general, to connect a cognito user to a @model user, you can add a custom or lambda resolver to a field on user that resolves the object from Cognito. You can see the answer to #1352 which addresses a similar topic.

[2019-04-26 20:39] hyouuu commented on #1138
Thanks it's very helpful! They didn't mention anything about them in https://aws-amplify.github.io/docs/ios/start?ref=amplify-iOS-btn...

[2019-04-26 21:40] #1243 closed

[2019-04-26 22:31] b-tiwari opened #1356 "How to implement User Authentication (SignIn) using Custom Attributes"
**Which Category is your question related to?**
User Authentication (SignIn) using Custom Attributes

### Question
My use case is,
1. At the time of registration, we ask user to set up a PIN. We store this PIN as a custom attribute in user pool.
2. After sing up, User signs in successfully using userId/password and logs to the app
3. Inside app, when user wants to perform some restricted action (e

[2019-04-26 22:39] chihab commented on #1324
I've done the test multiple times, I can confirm that params on parameters.json are not forwarded to api custom nested stacks. Compiled parameters.json doesn't include my custom parameters.

[code]

**backend -> api -> graphql -> parameters.json**
[code]

**backend -> api -> graphql -> build -> parameters.json**
[code]

Passing down parameters works well on other nested stacks. I've tested on func

[2019-04-26 23:54] onedotover commented on #1342
I have the exact same error when I push code to my repository and trigger an automated build in the console. The issue only occurs if I **don't** make a change to my Graphql. Steps to reproduce include:
- Make a change to my code and schema.graphql file
- Commit and push code
- Automated deployment succeeds
- Go back to code and make a change to application (no changes to graphql)
- Commit and pus

[2019-04-27 07:37] NurdinDev opened #1369 "I have issue in mutation with array relation"
** Which Category is your question related to? **
 API Schema

** What AWS Services are you utilizing? **
AppSync

** Provide additional details e.g. code snippets **

I have schema and sample relation
[code]

each menu has many products
but the mutation not give me ability to insert products,

the input of mutation looks like this, No products

[code]

**I expect I my mutation will be like this**

[2019-04-27 11:43] NuruddinBadawi opened #1359 "missing field with generated code."
** Which Category is your question related to? **
generated code

** What AWS Services are you utilizing? **
amplify

** Provide additional details e.g. code snippets **
I have this schema

[code]

the generated query code
[code]

**There is no image field **

[2019-04-27 13:48] calspre commented on #1344
Thanks @yuth for your reply! Netlify already supports [subdomains by branch](https://www.netlify.com/docs/custom-domains/#branch-subdomains) and I am not sure how CNAMEs would solve the problem.

Thanks @swaminator for your reply! Did you mean `npm install -g @aws-amplify/cli` and use `amplify env checkout`?

I was hoping to get the production/development resources in a more simpler approach, like

[2019-04-27 14:16] codingforsuckers commented on #972
Hi, how does one perform the call is there a number if so which. I'm facing the same issue but don't know how to verify my account. Thanks for any help.

[2019-04-27 14:17] wbroek commented on #1269
Thank you for the response @kaustavghosh06 Know what to do for now

[2019-04-27 15:50] codingforsuckers opened #1360 "Account Verification"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

Hi I'm trying to initialize my project with `amplify init` and I have thesame problem as the one mentioned in this post:
https://github.com/aws-amplify/amplify-cli/issues/972?_pjax=%23js-repo-pjax-container

Now they have listed a possible solution which is calling and verifying my account but  I do

[2019-04-27 15:58] sirshannon commented on #1105
So... less than 2 working days left and still no fix for this? Seriously?
This should have been done a year ago. I feel like I’ve been had.

[2019-04-27 16:02] sportyrider commented on #1105
@sirshannon it is resolved. Update amp cli to the latest version and change lambda runtime to 8.10 in existing CF, if you have existing lambdas. I just did that couple days back and all worked fine.

[2019-04-27 16:08] sirshannon commented on #1105
Thanks. I wonder why this issue is still open and the promised update from @kaustavghosh06 hasn’t happened...

[2019-04-27 16:14] sportyrider commented on #1105
True. I was watching PR and it was merged 2 days ago. In any case, you should be good to go.

[2019-04-27 17:55] oharaandrew314 commented on #1322
The Amplify Console is fine if you want to fragment your CI across several providers.  But if you want all of your builds to be in one place, then I'm afraid it's not helpful.

[2019-04-27 20:33] sprucify commented on #1348
My mutations in GraphiQL work fine, but during an `amplify push` you get the  option to automatically create the javascript functions that perform the mutations for you.
The attribute `timestamp` in that functions has a Typescript type string instead of int.

So it conflicts with the GraphQL backend

[2019-04-27 22:26] zeitoune commented on #461
Hi,
I am facing the same issue as @infosharkio.
Basically, I was managing my schema in the AWS appsync console.
I wanted to add elasticsearch, adding @model @searchable to one of my types in my schema.graphql.
When I do amplify push I get an error message.

# Object type extension 'Query' cannot redeclare field listProducts

Adding the @model afterwards is causing the issue.
How can I solve this ?

[2019-04-28 02:10] acrabb commented on #508
Not sure if this is the right place for this, but I've gotten this error
`Unexpected token export` (referring to my `aws-exports` file) when using the CLI to try to add a new environment.

But `team-provider-info.json` had the new env added and when running `amplify push` everything seemed to work anyway so ¯\_(ツ)_/¯

[2019-04-28 02:35] acrabb commented on #1323
I've also seen the same error `Unexpected token export` when trying to create my prod environment, and also when trying to `amplify env checkout` to switch envs.

`amplify --version`
`1.6.5`

[2019-04-28 05:59] at0mat opened #1361 "Custom query depends on built input, ModelFooConnection types"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, DynamoDB, Elastic Search, Cognito

** Provide additional details e.g. code snippets **
In schema.graphql :

[code]

input SearchableAddressSortInput, type ModelAddressConnection along with enum

[2019-04-28 07:22] neopan1600 opened #1362 "build failure on "CREATE_FAILED SNSRole""
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
I am getting a build failure on "CREATE_FAILED      SNSRole"

I added Auth using "amplify auth add", then i pushed using "amplify push". I commited my latest changes to AWS CodeCommit. During the build it failed on
[code]

[2019-04-28 11:54] sprucify commented on #1348
No cache problem.
`amplify codegen` command set AWSTimestamp scalars as string types.

`export type CreateSwipeInput = {
  id?: string | null;
  liked: boolean;
  timestamp?: string | null;
  swipeRecipeId: string;
};`

[2019-04-28 14:43] neopan1600 commented on #1362
I noticed there are two older cognito auth id's listed in the cloudformation, but not the one that failed

"auth": {
"cognito91d36e32": {},
"cognitobeb76591": {}
}

is there a way to edit this?

[2019-04-28 18:00] ajhool commented on #508
@acrabb are you using typescript while aws-exports is a .js file? I saw that error until I renamed `aws-exports.js` to `aws-exports.ts` while using typescript

[2019-04-28 18:41] acrabb commented on #508
@ajhool that did it! Thank you.

[2019-04-28 18:42] acrabb commented on #1323
Just got the solution for my issue ☝️ at https://github.com/aws-amplify/amplify-cli/issues/508

In a Typescript repo, changing `aws-exports.js` to `.ts` fixed it 👍

[2019-04-28 21:26] azpier opened #1363 "Amplify "list" query does not return proper result after API key change"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
listEvents query return only part of the items of the Event table in Dynamo DB

**To Reproduce**
Steps to reproduce the behavior:
1. Appsync , Start from a sample project, Event API , Auth Mode API KEY
2. with appsync "Queries" console,  create events/items with mutation CreateE

[2019-04-28 23:01] azpier commented on #1363
the issue is with the default limit of 10.

[2019-04-28 23:01] #1363 closed

[2019-04-29 01:30] davekiss commented on #84
Will there be any way to incorporate environment variables in the http requests (ie. api keys etc.) ?

[2019-04-29 05:25] coop182 commented on #1324
Also having this issue... custom params in parameters.json are not picked up by the build step for some reason...

[2019-04-29 05:58] bokuweb commented on #1343
@mikeparisstuff  Thanks for your response. However  I guess It is not good if there is a malicious user.
For now I use `lambda` for Query. thanks :)

[2019-04-29 05:58] #1343 closed

[2019-04-29 08:40] thde commented on #1194
We're also having trouble with this. Because we use the CLI in the CI, the init function seems to fail because of this. To pass it as a parameter would make more sense to me aswell.

[2019-04-29 09:39] jarrettj commented on #1288
Hi,

Good day.

Thanks! That has done the trick. Much appreciated.

Regards.

[2019-04-29 13:04] Jeyloh commented on #1347
Hi @mikeparisstuff and thanks for the reply. PR #1346 is a very welcome feature. I've found a working solution for now which I'll replace with batchCreate solution when ready. I prefer that towards creating custom resolvers as for now.

Thanks again! Love what you're doing here

[2019-04-29 13:04] #1347 closed

[2019-04-29 16:41] yuth commented on #1360
You could follow the steps listed in the [docs](https://aws.amazon.com/premiumsupport/knowledge-center/create-and-activate-aws-account/). You could also get in touch with [AWS support](https://aws.amazon.com/contact-us/?nc1=f_m)

[2019-04-29 16:44] helloniklas commented on #91
@michaelcuneo I'm trying to deploy the same schema with a User and UserFriend but once doing amplify push it eventually fails saying "Property AttributeDefinitions is inconsistent with the KeySchema of the table and the secondary indexes"

[code]

[2019-04-29 16:51] yuth commented on #1359
@NuruddinBadawi Could you answer the following questions
1.  Whats the version of Amplify CLI. You could get the version by running `amplify -v`
2. Can you share the contents of `<project-root>/.graphqlconfig.yml`  look like. Please make sure to obfuscate *API Key* and *endpoints*.

[2019-04-29 16:54] NuruddinBadawi commented on #1359
yeh sure

[code]

.graphqlconfig.yml
[code]

[2019-04-29 17:03] helloniklas commented on #91
@michaelcuneo I'm attempting to set up the User and UserFriend, but it then complains about "InvalidDirectiveError: Found one half of connection "UserFriendUser" at UserFriend.user but no related field on type User"

Is you examples correct?

[2019-04-29 17:05] yuth commented on #1359
@NuruddinBadawi thank you for your response. Could you also share the full schema. I see some types like `Category` and `S3Objects` are missing in the shared schema.

[2019-04-29 17:06] NuruddinBadawi commented on #1359
[code]

[2019-04-29 17:13] NuruddinBadawi commented on #1359
By the way I remove category table, i use it as a enum

On 29 Apr 2019 Mon at 20:05 Yathiraj <notifications@github.com> wrote:

[2019-04-29 17:16] artista7 commented on #1074
@ambientlight I will have a look at Zappa. Thanks

[2019-04-29 17:34] yuth commented on #1359
The issue is due to the fact, the `maxDepth ` is set to 2 in your `.graphqlconfig.yml`. You should see it generate missing field if you increase the `maxDepth` to 3. You can do this by running `amplify codegen configure` and setting `Enter maximum statement depth [increase from default if your schema is deeply nested]` to `3`

[2019-04-29 17:36] NuruddinBadawi commented on #1359
I see, thank you

[2019-04-29 17:36] #1359 closed

[2019-04-29 17:55] NuruddinBadawi commented on #1359
@yuth  I see the `maxDepth` can make quires more depth but what about if we need the mutations also has depth level?

I add issue and not solve it until now https://github.com/aws-amplify/amplify-js/issues/3178

thanks for your helping.

[2019-04-29 17:57] saichaitanya88 commented on #288
+1

[2019-04-29 19:07] matthieunelmes commented on #91
@helloniklas the concept works, but unfortunately, it cannot currently be handled by the amplify CLI.

I managed to get it working by firstly creating the basic models such as:

[code]

Then manually creating the resolvers through the AppSync dashboard in the schema editor.
It took a lot of fiddling, and I believe you can actually get it to work through the CLI if you add one `@connection` at a ti

[2019-04-29 19:08] mikeparisstuff commented on #1361
As of writing the input document(s) are expected to be a full schema. It would be possible to allow referencing generated types but this would need time for design and implementation. In the meantime, copying the type definitions into your own schema is likely the best solution. Marking this as a feature request.

[2019-04-29 19:10] aireater opened #1364 "UPDATE_ROLLBACK_FAILED state and can not be updated when pushing changes"
**Describe the bug**
Getting the following error when I try to amplify push changes from the CLI. I'm using the CLI because my amplify console build is also failing.

[code]

**To Reproduce**
Steps to reproduce the behavior:
I recently attempted to change the PAY_PER_REQUEST to PROVISIONED DynamoDBBillingMode in parameters.json and when that failed I switched back. Then I added two new fields to m

[2019-04-29 19:28] AbhishekRaval commented on #561
I have been reading documentation and browsing through various Issues, but I am stuck. In my current project I want to use "PAY_PER_REQUEST" mode for dynamoDb database. I am using API Gateway along with serverless CRUD function. I didn't find a way to update dynamodbIOPS for Restful CRUD API created using amplify ?

[2019-04-29 20:20] yuth commented on #1364
@aireater could you include the additional lines from the CloudFormation output.

[2019-04-29 20:59] aireater commented on #1364
@yuth this is all i get from the cli:

[code]

and here's the log from the amplify console failed build (latest):

[code]

[2019-04-29 22:02] #1355 closed

[2019-04-29 22:02] #1122 closed

[2019-04-30 00:23] pr1ntr commented on #916
This is def a problem. would be nice to fix

[2019-04-30 07:59] codingforsuckers commented on #1360
thanks but I already resolved my issue it was a problem with my system clock.

[2019-04-30 07:59] #1360 closed

[2019-04-30 09:06] ycy88 commented on #648
Thank you! Useful to know that we must explicitly allow access on custom-resolver fields, if we are using the DENY action.

[2019-04-30 09:31] hammadxoho commented on #1066
@struct78 sorry i don't get any notification on the update on the ticket, so did not know if you responded,
The difference is that i work alone on this..
i have still tried `amplify env pull` but i still get the same error

[2019-04-30 10:57] plaa opened #1366 "How can you define custom environment-specific variables?"
** Which Category is your question related to? **
AWS Amplify cli general

** What AWS Services are you utilizing? **
N/A

** Provide additional details e.g. code snippets **
Is there a way to provide additional environment-specific variables that would be updated (e.g. in `aws-exports.js`) when using `amplify env checkout`?

For example, we manually configure an OAuth domain for each of our envir

[2019-04-30 13:51] kstro21 commented on #1364
Hey, @aireater, you will need to go to the [AWS CoudFormation Console](https://console.aws.amazon.com/cloudformation/home) and look for the events of your stacks to find out what caused the `UPDATE_ROLLBACK_FAILED`. The logs of the Amplify Console doesn't help.

[2019-04-30 13:56] mbergkvist commented on #795
@kaustavghosh06 I can't find any documentation on how to use the support for custom cloudformation and custom resolvers. Where can I read up on this?

[2019-04-30 14:43] kstro21 commented on #1047
Hey, @nagey, sorry to hear that you are having issues. The code with the fix was merged into master, but it is not released yet.

[2019-04-30 14:44] nagey commented on #1047
@kstro21 ah — that makes sense. Figured since it had been merged a few days back, and 1.6.5 came out yesterday, that this fix was in it. Do you know what version this fix is targeting?

[2019-04-30 14:54] kstro21 commented on #1047
@nagey, sorry, but that is a question for @mikeparisstuff, @kaustavghosh06 or maybe @yuth

[2019-04-30 15:43] SebastianKirsch123 commented on #479
Hey guys, I'd like to harken back to the original question by @rcwestlake as I still feel some questions are unclear.
My situations is as follows
 I'm managing a project that consists of an iOS App, an Android App and a ReactJS based WebApp. They all connect via AppSync to existing DynamoDB tables. In the future new tables may be added or removed. MobileHub doesn't fit that requirement, so I've be

[2019-04-30 15:46] helloniklas opened #1367 "Max depths flag with connections"
If I have the following schema and set the depth generation to 6. When I run the generated getUser query, I can't reach down to getUser.posts[0].votes. I only get to getUser.posts[0].id

Is it not possible to nest a schema like this and reach the objects in the connections?

I'm using amplify codegen for iOS Swift.

[code]

[2019-04-30 16:06] et304383 commented on #330
Any word on this?

[2019-04-30 16:27] helloniklas commented on #1367
Seems I didn't set the depth flag high enough, needs to be set 7  in this case...

[2019-04-30 16:27] #1367 closed

[2019-04-30 16:56] yuth commented on #1366
Amplify CLI does not support environment specific variable in the configuration file.

Amplify Auth category supports Hosted UI, but doesn't support different redirect url for different environment.

I will mark this as a enhancement and put this in our backlog to get this prioritized

[2019-04-30 17:10] ajhool commented on #450
I went to post this same feature request.

It would be extremely useful to have an organized changelog. The main changelog could simply include a link to the changelogs within each package. The team pushes so many features (nice job!) that it's hard to keep track of the current state.

For instance, when using the API package, I don't recall being able to use the OnDemand capacity setting when I f

[2019-04-30 17:11] yuth commented on #1369
GraphQL transfromer does not directly adding an item in connection when its Many to one relation. The way to add this is to first `CreateMenu` and then add items individually by using `CreateProduct`.

To support the this use case to create records in multiple Dynamo DB tables  you will have to create an [custom mutatation](https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-

[2019-04-30 17:15] yuth commented on #1362
@neopan1600 do you have 2 environments with same name in 2 different AWS region? What region do you use for local development and what region do you use in Amplify Console?

[2019-04-30 17:18] yuth commented on #1047
@nagey @kstro21 we are planning to do an release today and this change should be in that release

[2019-04-30 17:36] yuth commented on #1066
@hammadxoho we have made [some change](https://github.com/aws-amplify/amplify-cli/pull/1260) which should fix the reported issue. Could you try to update Amplify CLI `1.6.5` and see if this issue still persists?

[2019-04-30 17:56] yuth opened #1370 "New amplify env still using previous configs"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

Created from [AWS forum Post](https://forums.aws.amazon.com/thread.jspa?threadID=302371&tstart=0) on behalf of  ChrisDB

I've used the amplify CLI on a test app I have, and used it to create an API with Graphql, and the autocreated cognito user pool. I'm trying to create a new environment via `ampli

[2019-04-30 18:00] yuth commented on #1370
ChrisDB could you answer the following
1. Whats the version of Amplify CLI you have installed (You can get the version by running `amplify -v`)
2. Whats the current environment you have checked out. You can see that by running `amplify status` in your project and it prints `Current Environment`
3. What front end are you using for the current project

[2019-04-30 18:12] integraitco opened #1371 "RDS using primary key and auto increment for ID."
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
RDS API backend

** What AWS Services are you utilizing? **
RDS, Cognito,  AppSync

** Provide additional details e.g. code snippets **
Hi im trying to connect my app to an existing rds serverless cluster.
First is that when running amplify api add a

[2019-04-30 18:13] et304383 opened #1372 "backend-config.json has env specific stack name for notifications"
**Describe the bug**
Notifications section of backend-config.json is being named with env instead of this dynamically happening during deploy.

Eg:

Checkout dev:
[code]

Checkout test:
[code]
It's also changing some random string there too.  The rest of the file doesn't change when switching between environments.  This obviously is an issue given this file is managed under source control and shou

[2019-04-30 18:35] pr1ntr commented on #196
I can't add custom attributes to the user pool i only get a list of predefined ones. And even still none of them work with federated sign in. It seems that the attribute selection is only for Required ones. I still have no idea how to proceed here.

[2019-04-30 19:09] neopan1600 commented on #1362
right now i only have a master environment. the local dev and deployed version are both "us-west-2". I checked "team-provide-info.json" to verify. I also looked at the amplify console for the "us-west-2" region. for user pool, only "cognitoa948af67" exists (i deleted others), for identity "cognitobeb76591" and "cognito704b3e59" (this is different than the one in the error).

I tried to rethink all

[2019-04-30 19:27] aireater commented on #1364
Thanks, @kstro21 I looked at the cloud formation console and I can see that `UPDATE_ROLLBACK_FAILED` is from Mon, 15 Apr.

The error is

[code]

We are now past that time and I still can't push changes.

[2019-04-30 19:31] kstro21 commented on #1364
Use the option **Continue update rollback** in the stack. The state of the stack needs to be `UPDATE_ROLLBACK_COMPLETE` until you can update the stack again.

[2019-04-30 19:37] aireater commented on #1364
@kstro21 they are all nested stacks in `UPDATE_ROLLBACK_FAILED` state. The only non nested fail is from February.

[2019-04-30 19:44] kstro21 commented on #1364
@aireater, sorry it was not clear in my last comment. You can use the option **Continue update rollback** in the **root stack**. The state of the stack needs to be UPDATE_ROLLBACK_COMPLETE until you can update the stack again.

[2019-04-30 20:06] aireater commented on #1364
@kstro21 Thanks! That worked. Closing.

[2019-04-30 20:06] #1364 closed

[2019-04-30 20:26] matwerber1 commented on #1291
+1 on making this a feature request. My use case is that my organization's security policy requires that public buckets names first be whitelisted and configured in a certain way before they are actually used to serve public content. Being able to use a pre-existing bucket would be great!

[2019-04-30 20:35] matwerber1 opened #1373 "Use Existing S3 Bucket for "amplify add hosting""
**Is your feature request related to a problem? Please describe.**
We are unable to use existing S3 buckets for hosting the public website created by "amplify add hosting". My organization requires that public website buckets be created in advance by certain teams and following certain procedures/settings; the bucket created by amplify falls outside of this requirement.

**Describe the solution yo

[2019-04-30 20:36] matwerber1 commented on #1291
Created a feature request here: #658

[2019-04-30 20:37] jarrettj commented on #196
@pr1ntr Check https://github.com/aws-amplify/amplify-cli/pull/1289/files the cf-templates/auth/README.md file. I've added an example of what works for me. Hope that helps.

Regards.

[2019-04-30 20:55] pr1ntr commented on #196
Excellent, thank you!

[2019-04-30 21:18] yuth commented on #1355
Released in Amplify CLI 1.6.6

[2019-04-30 21:20] yuth commented on #1122
Released in Amplify CLI 1.6.6. Please re-open the issue if the problem still persist

[2019-04-30 22:10] NuruddinBadawi commented on #1369
I can't get the point of pipeline resolvers, could you please add some code to me, or some example
thanks

[2019-04-30 22:33] NuruddinBadawi commented on #1369
my schema

[code]

stacks resolver
[code]

[code]

[code]

what is the wrong with this ?

[2019-04-30 23:34] yuth commented on #1369
@NuruddinBadawi how are you associating `Product` to `Menu` when using `createFullMenu`? `FullMenuInput` has just `date` and `Products`. How would you decide what product is in which menu?

In AppSync an Unit resolver (non pipeline one) can have only single data source.If you want to update multiple table in single mutation you have 2 options (both are not directly supported in GraphQL transformer

[2019-04-30 23:45] NuruddinBadawi commented on #1369
thanks for your response, maybe my schema is wrong, but what I'm thinking about is like this:
I don't need to know what product is in which menu, just I want to know what the products inside single menu "menu mean ==> food menu",
so for this I create unnamed @connection.

correct me if i'm wrong.

[2019-04-30 23:47] NuruddinBadawi commented on #1369
The menu should contain products Id's

[2019-04-30 23:51] NuruddinBadawi commented on #1369
I don't know how to create Pipeline Resolvers, I try it but it's hard to understand,
can you add to me some code snippet to guid me.

[2019-05-01 00:04] neopan1600 commented on #1362
@yuth I noticed something on CodeCommit for the "team-provide-info.json" file, i forgot i renamed the project from the default (aws-amplify..). and both (this current stack name and original stack name) still exist in the cloudformation. the one with aws-amplify name, created a nested one with different auth (cognito704b3e59 - no users), a few minutes before the one with my current project (cognit

[2019-05-01 00:28] ajhool commented on #1350
I've "resolved" this issue by simply using `amplify remove auth` and creating a new one. I also found a potentially confounding issue, which I will address in a separate issue

[2019-05-01 03:37] 24jr commented on #229
This is happening to me with the newest amplify cli on MacBook Pro. I do amplify add auth and its email address as username so I want to delete it and redo it so I do amplify remove auth and it says successfully removed resource but get that error on amplify push

✖ An error occurred when pushing the resources to the cloud

Template error: instance of Fn::GetAtt references undefined resource authc

[2019-05-01 06:11] lielran commented on #1322
@UnleashedMind  So after trying Amplify console, I've decided to switch my CI/CD tool to CircleCi.
in "external"(not an aws service)CI/CD tool you have to install amplify by yourself and the configuration and setup is not easy.
the documentation point to the headless scripts which I found very not easy to integrate, slow and error prune (stdin/out to console that may change). I would try to avoid

[2019-05-01 10:26] KristineTrona opened #1374 "Passing an additional sort key query param in schema"
**Which Category is your question related to?**

GraphQL API

**What AWS Services are you utilizing?**

AWS Amplify, AppSync

**Provide additional details e.g. code snippets**

Hi, I am working on a project, where we would like to use the sort key of the UserPost table (createdAt) as a second query paramater in the resolver.  This requires that I also add the extra query parameter in the User sche

[2019-05-01 11:39] et304383 commented on #40
Why was this closed?  This is STILL an issue.

[2019-05-01 11:42] et304383 opened #1375 "Amplify CLI password policy defaults for Cognito auth are not following NIST best practices"
Default options still recommend ridiculous password complexity rules when this hasn't been a NIST recommended practice for years.

Please default all of these rules to unchecked.

[2019-05-01 11:51] et304383 commented on #1366
This really needs to be super high priority.  AWS can't expect Amplify to be a production ready tool set when basic workflows like true multi environment support without manual work aren't supported.  :(

[2019-05-01 16:05] chai86 opened #1400 "How do i randomly select an AppSync table entry?"
I have a table in GraphQL that has 2 columns. One is the Key, and the other is the URL associated with the key.

How can i randomly select one of the keys to retrieve the URL from?

I don't want to copy the whole list of keys/urls to the client side in an array and use a random() on it, it would be more efficiently done in AWS. Especially as the array could be multiple thousands over time.

Ideall

[2019-05-01 16:13] et304383 commented on #1342
I have this issue too, but cannot figure out how to reliably reproduce it.

[2019-05-01 16:30] et304383 opened #1376 "Signin and Signout redirect URIs are stored in committed source code and don't change with amplify env checkout calls"
**Describe the bug**
Cognito signin and signout URIs are hard coded in backend auth cognito config.  This causes merge conflicts when trying to merge branches with different environments and thus different values configured for the URIs.

**To Reproduce**
- create amplify project, new environment
- add auth, configure redirect URIs
- create a new environment
- observe that redirect URIs are not st

[2019-05-01 16:47] sprucify opened #1377 "GroupDataSource:Name cannot be deleted as it is in use by app..."
I was building my graphql.schema with regular `amplify push` commands.
I changed some @connection and all of a sudden my project get stuck.
I'm not able to `amplify push` anumore.
It rolls back to the last Cloudformation state

[2019-05-01 17:02] yuth commented on #1377
@sprucify Could you paste the snippet of changes you made to `@connection` in your schema. Could you also include cloud formation error

[2019-05-01 17:22] sprucify commented on #1377
I'm not exactly sure what I did
But I placed some named connections between these models:
`type GroupSwipe
  @model
  @auth(rules: [
    {allow: owner},
    {allow: owner, ownerField: "group", operations: [read] }
  ])
{
  id: ID!
  owner: String
  recipe: Recipe! @connection
  liked: Boolean!
  group: Group @connection
  timestamp: AWSDateTime
}

type Group
  @model
 {
  id: ID!
  owner: String

[2019-05-01 17:27] sprucify commented on #1377
UPDATE_ROLLBACK_IN_PROGRESS app-2019022182048-apidinnerapi-1GCI70SU7T-GroupSwipe-1BDQ4N60F4L AWS::CloudFormation::Stack Wed May 01 2019 19:25:12 GMT+0200 (GMT+02:00) Export xjepdp5jhdomwr7nhy6hm:GetAtt:**GroupSwipeDataSource:Name cannot be deleted** as it is in use by app-201900182048-apidinnerapi-1GCHH0SU7T-ConnectionStack-1GCT0E9QUD

[2019-05-01 17:29] yuth commented on #1377
This is a known limitation that has been reported in https://github.com/aws-amplify/amplify-cli/issues/1141. Could you try removing the connection first and then adding it with name as 2 separate `amplify push`

[2019-05-01 17:34] sprucify commented on #1377
No luck with that.
Is there any workaround (maybe on AWS dashboard side) to get me going for now?

[2019-05-01 17:43] hisham opened #1378 "ENV parameter not passed to Lambda when locally invoked"
**Describe the bug**
`process.env.ENV` is not defined when invoking lambda locally via `amplify function invoke ...`, but it is defined when running the lambda within AWS.

**To Reproduce**
Steps to reproduce the behavior:
1. Do `amplify checkout` on the env of your choosing
2. Run a lambda locally via `amplify function invoke...`
3. process.env.ENV is not defined within the lamdba

**Expected beh

[2019-05-01 17:50] #1377 closed

[2019-05-01 17:52] sprucify commented on #1377
#1141 initially didn't fix my problem.
I ended up deleting all model structures that where touched by the failed @connection attempt
That got through

[2019-05-01 18:20] sprucify opened #1379 "Howto create proper group permissions without using Cognito"
I have the following datastructure.
What I basically want to achieve is that people inside the same Group can **read only**  see each others Swipe data points.

[code]

At the moment I get only my own Swipe data if I run my `ListSwipes()` query
Groups are dynamically created within the app, so Cognito wouldn't work here?
Cognito is also limited to 25 groups

[2019-05-01 18:37] #1149 closed

[2019-05-01 19:16] kaustavghosh06 commented on #229
@24jr Do you have a GraphQL API or any which was using Cognito as an auth mode?

[2019-05-01 19:16] achutkiran commented on #1336
Nope

[2019-05-01 20:03] 24jr commented on #229
@kaustavghosh06 Yeah I do! since you knew that somehow you must be onto the problem

[2019-05-01 20:05] kaustavghosh06 commented on #229
So the issue here is that your GraphQL API is referencing the older Cognito User Pool which you've removed. Can you go through the `amplify update api` flow and update the user pool and see if the issue still exists?

[2019-05-01 20:09] 24jr commented on #229
@kaustavghosh06 ohhh in fact I think I see the problem you're saying. I can't get rid of the auth because its mandatory for the graphql. I already deleted auth locally so not sure if I can update now. maybe if I do amplify pull or something idk let me mess around with it rn and get back to you. Thank you for this

[2019-05-01 21:01] yuth commented on #1375
@et304383 thanks for reporting this. I will do a bit more investigation to come up with good default password policy.

[2019-05-01 22:06] neopan1600 commented on #1362
@yuth would it be cleaner/better to restart the amplify process all over? "amplify init" => "amplify push" => "amplify auth add" => "amplify push" => "amplify hosting add" => "amplify publish" ? how can i disassociate with the current cloudformation and code commit? (delete the "amplify" folder?)

[2019-05-01 22:27] achutkiran opened #1380 "Amplify multi env"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
AWS Amplify multienv
** What AWS Services are you utilizing? **
AWS Amplify
** Provide additional details e.g. code snippets **
Hi we are using git flow for managing project and are using multienv.
Problem is whenever someone working on common enviro

[2019-05-01 22:46] 24jr commented on #814
@kaustavghosh06 Hey its me again. you seem to have the answers for every amplify thing I go to! But yeah now that I updated that method doesn't work anymore and I can't figure out how to get it so I can use usernames but also allow for email. Using the manual or the default auth it does the username way without email checkbox below or if I do the method above then it just creates a new Cognito poo

[2019-05-01 23:03] yuth commented on #1362
It would be easier to create a new environment instead of recreating it all over.

[2019-05-01 23:49] neopan1600 commented on #1362
Ok thank you. i'll go that route and test it this evening and create a dev environment. Should i also delete the current environment "amplify env remove master" or give master a new name.  @yuth

[2019-05-02 00:04] mikeparisstuff commented on #1062
I have updated the design with a new section under the header **"Item 2: The @key directive"**. Please take a look and offer feedback.

We are trying to develop a solution that solves all the necessary use cases while removing as much implementation specific detail and conceptual overload as possible. The new design tackles the use case of defining custom primary keys and goes a step further to si

[2019-05-02 00:27] alr3000 commented on #911
Hi!

I am having the same issue with my project: I tried to use the automatic migration after updating to amplify cli 1.5.3 from 1.1.5, but it fails and the reversion fails and now nothing works. All of the tables were created through the cli, but I did add resolvers in the AppSync console. After the migration failed, I came here and followed the advice to delete the resolvers and try again, but i

[2019-05-02 02:07] yuth commented on #1375
@et304383 could you please provide link to the NIST recommendation document you are referring to.

[2019-05-02 02:12] et304383 commented on #1375
https://pages.nist.gov/800-63-3/sp800-63b.html

Tldr:
https://www.fpainc.com/blog/password-guidelines-from-nist

[2019-05-02 02:49] mwarger commented on #1047
@yuth Was this released?  I'm still getting this error in the amplify console.  Thanks!

[2019-05-02 02:53] kaustavghosh06 commented on #1047
@mwarger Probably amplify console hasn’t updated the CLI used in the build process to the latest version. To get around this immediately, you could install the latest CLI as a part of your build script. That way the build process will use the latest version of the CLI. Nevertheless, I’ll inform the console team to update the default CLI version.

[2019-05-02 06:17] neopan1600 commented on #1362
@yuth i think creating new environment worked. atleast building it completes and deploys. when i click on the "sign in" button it doesn't do anything, the console says "Cannot read property 'preventDefault' of undefined" on the SignIn.js page. If click on sign-up page, it gets a 400 error to https://cognito-idp.us-west-2.amazonaws.com/

But if i copy the local build files to an S3 bucket and set i

[2019-05-02 06:38] hammadxoho commented on #1066
@yuth let me try that.
Yesterday i tried the manual migrations https://aws-amplify.github.io/docs/cli/migrate
and although it does give me issues still and does not update anything, but at least it has stopped detecting an older version of amplify cli! Let me try Ampliy CLI 1.6.5

[2019-05-02 08:41] thde opened #1381 "Unable to create DynamoDB table in function stack"
**Describe the bug**
I'm trying to create a DynamoDB table in a cloudformation stack of a lambda function:

[code]

This will generate the following error:

[code]

The documentation says "If you set BillingMode as PAY_PER_REQUEST, you cannot specify this property."
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-table.html#cfn-dynamodb-table-provisionedthrough

[2019-05-02 11:21] davekiss commented on #1342
Also hitting this issue with no discernible changes that should affect CFN between deploys on my end.

[2019-05-02 12:43] et304383 commented on #56
As per https://github.com/aws-amplify/amplify-cli/issues/56#issuecomment-437635042

Where is the documentation on how to us this?  What do I put into schema.graphql to specify that my user table ID field is to be populated by AppSync with the Cognito sub or identity ID?

[2019-05-02 12:57] hammadxoho commented on #1066
@yuth i have been able to update the functions now, after making manual migrations and then making some adjustments, and now it updates properly,
The issue i have right now is creating a new API endpoint,
so to test it, i tried the following
![PatientApp — -bash — 211×51 2019-05-02 17-54-31](https://user-images.githubusercontent.com/27281661/57076589-6f3b5680-6d03-11e9-8c85-86e5eba4f134.png)

it b

[2019-05-02 13:28] davekiss commented on #1062
@mikeparisstuff I'm certainly not a pro db architect, so pardon any missteps here.

I read through the `@key` directive proposal twice, and the first time through it all felt fine up to the Composite Keys section. I've used an RDS on most of my projects so I'm still relatively new to the technical challenges that come along with querying a NoSQL store, but I'll say that storing/managing duplicate

[2019-05-02 13:39] et304383 commented on #1043
@mikeparisstuff If it's not too late, you REALLY need to change auth owner validation to be based on the cognito sub and not the username.

Usernames can be reassigned, and if that happens, you could have a potential situation where person can access a record owned by the person who used to own that record.

The sub value does not change, ever, and should be the unique identifier for validation of

[2019-05-02 14:19] hammadxoho commented on #1066
@yuth i figured the above out,, there was an issue with `amplify/backend-config.json` file, fixed it and now its all done,, Thank you for the help

[2019-05-02 15:31] et304383 commented on #1313
https://github.com/aws-amplify/amplify-cli/issues/1313#issuecomment-483383520

This suggestion is exactly what we need.  I shouldn't have to write custom resolvers to support a one to one mapping between cognito user and dynamodb user that has been practice for years when using federated identities with IAM restrictions to allow a user to only access their own record.

Hell, you even do this in Am

[2019-05-02 15:46] yuth commented on #1066
@hammadxoho what was the issue with `amplify/backend-config.json`. Could you show the diff so we can have this documented

[2019-05-02 17:56] yuth commented on #1375
@et304383 just to make sure I understand you correctly, you are suggesting that Amplify CLI is creating a overly complex default password policy by enforcing the following
1. At least one upper case char
2. At least one lower case char
3. At least one number
4. At least one special char

You think the default password policy should only enforce character limit of 8 and not enforce above mentioned

[2019-05-02 17:57] et304383 commented on #1375
I believe users can do whatever they wish, but defaulting all of these requirements to ON suggests that AWS supports this outdated password complexity rubbish.

[2019-05-02 18:28] sebastienfi commented on #91
@matthieunelmes Watch out as your manual changes will be overridden by `amplify push`.

[2019-05-02 18:31] matthieunelmes commented on #91
@sebastienfi I'm aware of this. Hence why I keep a backup of the code gen'd schema.graphql it's far from ideal but the only way to get it to work.

[2019-05-02 18:34] sebastienfi commented on #91
@matthieunelmes Fair enough - hopefully, this will be sorted out soon.

[2019-05-02 18:45] yuth commented on #1381
CLI doesn't change the cloud formation template before submitting it. I think the problem here is you're using `AWS: : NoValue` without a condtion. If use it with a condition as shown below, it should work without problem

[code]

[2019-05-02 19:48] aireater commented on #911
@alr3000 don't waste your time - start over. Make sure you save your schema file(s) before you delete.

[2019-05-02 20:48] yuth commented on #1342
@hisham @et304383 @onedotover @davekiss do you guys have any custom stacks or resolver override? We haven't been able to reproduce this issue

[2019-05-02 21:23] hisham commented on #1342
Yes I do have custom stacks in the `api/<my-api>/stacks/` dir.

[2019-05-02 21:41] mikeparisstuff commented on #1342
Can you share a bit more details about what your project looks like? I have been unable to reproduce this as well. I have a project with two functions and a GraphQL api with two custom stacks each creating a table and resolver. When you look at your build directory after a push do you see the "S3DeploymentBucket" and "S3DeploymentRootKey" in the **parameters.json** in the **build** directory? They

[2019-05-02 21:42] onedotover commented on #1342
Yes, I added to the CustomResources.json file to include Lambda resolvers I'm using.
[code]

[2019-05-02 22:05] mikeparisstuff commented on #1342
@onedotover I was able to add that exact stack and update a function without changing the api category and the deployment succeeded. Are you seeing any other issues? Do you see the missing parameters in the **build/parameters.json** file? Is this happening locally or only in the CI/CD environment?

[2019-05-02 22:35] onedotover commented on #1342
Yes, I do see these values locally in build/params.json

It only happens for me in the CI/CD flow. Locally if I make a change to a function, save, and run `amplify push` it works.

[2019-05-02 23:08] zfarrell commented on #1043
@mikeparisstuff - I'm wondering if Proposal 5 could be expanded to support conditions more complex than just and/or?

A particular use case I'd love to see `@auth` support, is arbitrary field value comparison.

For example, i have a model (let's call it "node") which has various states: `["start","middle","end"]`. I want user's to only have access to certain nodes, based on the node's state and th

[2019-05-03 01:14] mikeparisstuff commented on #1342
See attached PR with the fix.

[2019-05-03 01:46] simsinght opened #1384 "Error Migrating"
**Describe the bug**
After upgrading the cli to the most recent version, I ran `amplify` in my project root because I wanted to use amplify to set up multiple environments. It prompted me to migrate the project, and asking me to reconfirm. At this point the program says `There was an error migrating your project`, and dumps a whole lot of info, none of which makes sense.

The error occurs at migra

[2019-05-03 02:08] rcwestlake commented on #479
@SebastianKirsch123 believe they've come up with something that solves that... I remember reading about it when it first came out. Because I didn't have the time to wait, I went ahead and used Serverless to manage all the infrastructure and stages (dev/prod). It has worked well so far.

A couple resources:
https://github.com/sid88in/serverless-appsync-plugin
https://read.acloud.guru/deploy-a-graph

[2019-05-03 02:41] Devashish007 opened #1385 "Cognito refresh token expiration days inconsistency"
Hi team,

According to the Cognito docs (https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-client-apps.html), the Refresh token expiration (days). should be able to set to any value between 1 and 3650.

However when we use the amplify cli to manually set up auth, the maximum value we are able to input for the Refresh token expiration days is capped at 365. As you can see

[2019-05-03 03:39] dmennis opened #1386 "Add AWS_IAM via Identity Pool as an authorization option when adding a GraphQL API"
**Describe the solution you'd like**
Yes, I want to create a GraphQL API with Cognito Identity Pool access using AWS_IAM authorization like I can do for REST API and this can be done via the AppSync console. The Amplify CLI only supports User Pools and API key.

**Describe alternatives you've considered**
Doing it manually via the AppSync Console and bypassing the CLI.

**Additional context**
No

[2019-05-03 03:54] mobilequickie opened #1387 "Update Cocoapods Podfile with dependencies as I add/remove categories in the CLI"
When setting up an Amplify project for iOS, I would like for the CLI to automatically update the Cocoapods `Podfile` as I add or remove categories in the CLI.

For example, if I want to add Auth to my app with the default "basic auth", there are known AWS SDK dependencies that need to be added to my Podfile to install the AWS SDK on the client.

Here's the scenario:
Amplify init as an iOS project

[2019-05-03 04:03] mobilequickie commented on #1385
+1
Agree. This should match the refresh token expiration limit of Cognito.

[2019-05-03 09:12] Loghrenar opened #1388 "Amplify init doesn't work in CI workflow (Gitlab Runner)"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Usage Question on Amplify Multienvs and CI workflow.

** What AWS Services are you utilizing? **
Aws Amplify/CLI@1.6.6
Frontend: Angular

** Provide additional details e.g. code snippets **

Hello,

So, I started to work with Amplify/CLI and I wanted

[2019-05-03 10:10] Jeyloh commented on #335
This use case you're describing is what got me here. I want to add data to a database which should be publically available without logging in with Cognito. Add data while logged in and read it from anywhere. Is there any other thread since this got closed, or will it be re-opened when feature is being worked on?

[2019-05-03 10:18] plaa opened #1389 "Color output of 'amplify push' CloudFormation progress"
**Is your feature request related to a problem? Please describe.**
Pushing always takes a few minutes. Whenever it fails, it's a hassle to browse through hundreds of lines of log to find where it failed the first time to find the issue.  You also don't see at a glance whether the update is still progressing or rolling back due to a failure.

**Describe the solution you'd like**
The CloudFormation

[2019-05-03 10:29] hammadxoho commented on #1066
@yuth, during migration, i accidentally removed the file, thus got a JSON error,

[2019-05-03 11:42] eelzinaty commented on #1388
As you use `general` option for configLeve, so you need to make sure that aws credantials and config files exist and have the proper value. Try to run this script before you init your project:
[code]

[2019-05-03 12:22] vlutton commented on #1274
@kstro21 I do not see where I can define the `Environment` config in the `CustomResources.json` template.  When I reference the documentation at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-appsync-resolver.html  I do not see a place to add it to the template.

Thank you in advance, and I apologize if this is a silly question, I am new to CloudFormation so I am still

[2019-05-03 12:39] kstro21 commented on #1274
Hi, @vlutton, I don't quite understand your question. Probably you will need to share some snippet of what you are trying to do.

Meanwhile, if you are trying to get the `Environment` in the `CustomResources.json` template, the value is already injected in a parameter named `env`, so, all you need to use `"Ref": "env"` anywhere in your template where you want to use the value, or using `Fn::Sub` a

[2019-05-03 12:44] davidfarinha commented on #91
@matthieunelmes By any chance can you share the resolvers you're using to achieve the many-to-many relationship manually?

[2019-05-03 13:43] et304383 opened #1390 "Moving amplify project directory breaks amplify publish command"
**Describe the bug**
Moving amplify project directory breaks amplify publish.  Throws error:

[code]

**To Reproduce**
1. Create a project, deploy it
2. Move project directory to another location
3. Run amplify publish again

**Expected behavior**
Project deploys without error.

**Additional context**
The issue is `ampllify/.config/local-env-info.json` is storing a full path to the amplify project

[2019-05-03 13:54] Loghrenar commented on #1388
Thank you for your reply @eelzinaty, however I forgot to mention it but my AKSK are already defined as environment variables. It should check for my environment variables before checking for the file that purposely doesn't exist.

[2019-05-03 14:59] plumdog opened #1391 "@auth doesn't handle my permissions - what's the escape hatch?"
** Which Category is your question related to? **

GraphQL, Auth

** What AWS Services are you utilizing? **

Amplify, (AppSync, Cognito)

** Provide additional details e.g. code snippets **

---

I think that my permissions model is beyond what `@auth` can handle. I have, in essence:
- Customer
    - Project
        - Section
             - Thing (these need to be searchable)

I need my permissio

[2019-05-03 15:23] helloniklas commented on #768
@yuth how do you then initiate the AppSync client as:
[code]
won't work, giving Cannot convert value of type 'AWSS3TransferUtility' to expected argument type 'AWSS3ObjectManager?'

[2019-05-03 15:24] helloniklas commented on #768
@peterfennema did you manage to get this all to work in the end?

[2019-05-03 16:49] mikeparisstuff commented on #1391
When building complex authorization use cases (such as ones that traverse multiple models) you have a few options.

1. Use a lambda function.
  - As of writing you can connect your own functions using custom stacks: https://aws-amplify.github.io/docs/cli/graphql#add-a-custom-resolver-that-targets-an-aws-lambda-function
  - We have a PR under review that simplifies this process into a `@function` d

[2019-05-03 16:57] austinamorusocfc commented on #922
@jordanranz @mikeparisstuff This is a major issue for us this changes our deployment time from 8 minutes to n number of connections times 8 minutes then multiplied by the number of environments we have. This is a massive time sink for us. Is there at least a script we can run to manage the schema deployment without a refactoring on Amplify's end?

[2019-05-03 18:29] austinamorusocfc commented on #401
@jordanranz @mikeparisstuff Is there any head way on this because the thought of having to manage this from the client seems problematic. Also tangental but similar is the idea of an audit log for objects?

[2019-05-03 18:29] yuth commented on #1390
@et304383 after moving the project you should run `amplify configure project`. This should fix the problem

[2019-05-03 18:30] et304383 commented on #1390
I get that, but I shouldn't have to.  Why can't this information be computed?  Why is an absolute path necessary?

[2019-05-03 18:32] yuth commented on #1389
@plaa what's the version of Amplify CLI you have. After Amplify CLI  version `1.1.5`, we show the stack error summary if push fails for any reason

[2019-05-03 18:41] simsinght commented on #1384
In the context of `@aws-amplify\cli\node_modules\amplify-category-storage\provider-utils\awscloudformation`

### `migrate` function header in `service-walkthroughs\dynamoDb-walkthrough.js`:
[code]
### `migrate` function call in `index.js`
[code]

[2019-05-03 18:47] yuth commented on #1384
@simsinght do you remember what was the version of Amplify CLI before the upgrade?

Also could you list the categories that had configured before the migration

[2019-05-03 18:53] simsinght commented on #1384
The bug was just what I've listed above. I removed context as an argument and the rest went swimmingly.

I'll continue testing in case something has gone awry.

And no unfortunately I don't remember the CLI before the upgrade. I do know that it didn't have env command (the whole reason why I upgraded).

Can I create a pull request for removing the context bug? Kind of excited for my first real con

[2019-05-03 18:53] simsinght commented on #1384
The categories I had:

Current Environment: NONE

| Category | Resource name      | Operation | Provider plugin   |
| -------- | ------------------ | --------- | ----------------- |
| Hosting  | S3AndCloudFront    | No Change | awscloudformation |
| Auth     | cognitoaad432e7    | No Change | awscloudformation |
| Storage  | ServerlessProjects | No Change | awscloudformation |
| Function | Serverl

[2019-05-03 19:32] onedotover commented on #1342
Thanks!

[2019-05-03 19:40] mikeparisstuff commented on #1369
@NuruddinBadawi If you want to create a menu all at once then you can use a single Menu @model with neseted object types. For example:

[code]

This will store all your menu information in a single table where the products attribute is a list of map values. I think this pattern will work better for your use case and will allow you to create a menu at once via the auto-generated `Mutation.createMen

[2019-05-03 19:44] kaustavghosh06 commented on #1390
@et304383 The `amplify` command can be used from any sub-dir of the project. So instead of moving up the directory chain and finding out if it's a valid amplify project each time, we store/cache the absolute path of the project so the CLI does not have to do this search on each and every command. We'll look into it as a team and decide the path forward. Thanks for bringing this to our attention.

[2019-05-03 19:45] kaustavghosh06 commented on #1380
@achutkiran Could you please provide more information regarding it? As to what is the `amplify status` output?

[2019-05-03 19:46] mikeparisstuff commented on #1379
As of writing you have a few options.

1. Turn top level queries off for the model that you want to be read protected by the group. For example,

[code]

[2019-05-03 19:48] kaustavghosh06 commented on #1376
@et304383 For the time being, you can move this config from the Cognito parameters.json file to the team-provider.json file which has env specific configurations. These configurations will be fed into your Cloudformation template based on your environment. We'll discuss this as a team if we want this to be the default behavior.

[2019-05-03 19:51] wildcat63 commented on #685
Just FYI, using all caps for NONE as opposed to lowercase "none" means that deploying that env in the Amplify console doesn't work -- they want all lowercase.  So having the default in uppercase means that you can't move over existing production from an old version the CLI very smoothly.

[2019-05-03 19:55] NuruddinBadawi commented on #1369
Thank you for your great suggestion.

So now to create queries and mutations for the product should I do it my self like this ? or what?

[code]

[2019-05-03 20:03] kaustavghosh06 commented on #1336
@achutkiran We weren't able to reproduce this issue. Could you please try adding a new API and do the same changes and see if the push succeeds? Also, what's the CLI version that you're using? Are you deploying it to the Amplify Console?

[2019-05-03 20:03] #1295 closed

[2019-05-03 20:03] #1282 closed

[2019-05-03 20:07] kaustavghosh06 commented on #1381
@thde Closing this issue for now. If you're still stuck, please feel free to comment or re-open this issue.

[2019-05-03 20:07] #1381 closed

[2019-05-03 20:15] mikeparisstuff commented on #1374
#1358 contains support for this.

[2019-05-03 20:19] mikeparisstuff commented on #1313
@et304383

An `@user` directive is a matter of prioritization as I agree that it is a useful construct. When we have support for loading your own transformers then you will be able to implement this on your own and/or share directives via npm.

You can specify the identity token attribute that you want to use for authorization checks (try `@auth(rules: [{ allow: owner, identityField: "sub" }])`).

[2019-05-03 20:27] #1145 closed

[2019-05-03 20:32] achutkiran commented on #1336
amplify version is 1.6.3. I'll try to create new api and update you

[2019-05-03 20:54] austinamorusocfc opened #1393 "Comment Documentation Schema"
** Which Category is your question related to? **
API GraphQL Schema
** What AWS Services are you utilizing? **
Appsync Schema
** Provide additional details e.g. code snippets **
How to add comments for documentation on schema for usage in appsync graphiql interface.

[code]

I had the expectation the comment would be reflected in the compiled schema and then viewable in the appsync schema section

[2019-05-03 22:57] codedotxyz commented on #373
Hi ,

just once try to remove this annotation (@connection(name:"anyname")) in schema.graphql file

[2019-05-03 23:51] ElliottBabb commented on #922
I would vote for this as a critical bug, considering the following use-case I am currently experiencing:

Making the following schema additions:
[code]

If I try and add 1 connection at a time, it fails to compile the schema (missing the associated named-connection on the other object).

If I try and add them both at the same time, I get the `Resource is not in the state stackUpdateComplete`

I am

[2019-05-04 00:15] #978 closed

[2019-05-04 05:59] ambientlight commented on #1060
Created PR https://github.com/aws-amplify/amplify-cli/pull/1396 which introduces custom transformers support as well as base CLI support for enabling / disabling / scanning for custom transformer.

@mikeparisstuff: Please take a look and let me know your thoughts

[2019-05-04 07:36] ambientlight commented on #1322
@UnleashedMind: at very least amplify should be able to `configure projects` without requiring files that are .gitignored in default generated amplify project. (./amplify/.config/local-env-info.json and ./amplify/backend/amplify-meta.json)

[2019-05-04 07:57] NuruddinBadawi commented on #1369
@mikeparisstuff can you tell me how this modal work if I need Product table to make with it mutations and queries?

[2019-05-04 12:37] codedotxyz commented on #373
Hi,

if anyone facing with this issues (Resource is not in the state stackUpdateComplete) ,
when amplify push used just verify commas
**Error**
type TestObj{
  id:ID!
  param1 : String ,
  param2 : String ,
}

**success:**
type TestObj{
  id:ID!
  param1 : String
  param2 : String
}

please remove the commas (,) , for me after removing the commas , all the resources updated to cloud

[2019-05-04 14:18] hafizali05 opened #1402 "I have delete a api, now i want to undo the operation."
** Which Category is your question related to? **
amplify add and remove api
** What AWS Services are you utilizing? **
AWS APPSYNC amplify api remove
** Provide additional details e.g. code snippets **

1: I have added an api
2. i made the changes to the api but havent pushed the changes
3. i didnt like the stuff i did in there and so i deleted it.
3. its as shown in the image.
4 now i want to un

[2019-05-04 14:21] sprucify commented on #1379
I haven't tested this out yet, but the next issue would be, how do I add Cognito users to  `members: [String!]!` ?

[2019-05-04 19:28] ronaldwidha opened #1397 "[Cognito Lambda Trigger]How to get outputs for parameters.json"
**Which Category is your question related to?**
Across categories, but in my case I was using Function, and Auth

**What AWS Services are you utilizing?**
I was trying to create `post confirmation` trigger in Cogito user pool, and have to make changes to the cloudformation template under auth. I created the triggered lambda function by adding a Function category.

To hook up the output of the prov

[2019-05-04 19:57] zerdos commented on #753
same issue here. Created everything by the console.
As a bug, I couldn't build the project in the console, unless we checked in the src/aws-exports.js file.

The bug is still there, today I created a new project, and got into the same issue again.

[2019-05-04 20:56] mwarger commented on #1047
@kaustavghosh06 @yuth  How do I install the CLI during the build step?  I've added it to the preBuild step of the backend, and it appears to install the 1.6.6 build - however I'm still getting this error.  Please advise.

[2019-05-04 21:41] zerdos opened #1398 "Projectname contains capital letters - brakes the console build"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
Having a Capital letter in the project name will eventually break the build in the first run.
So ```amplify init```, first question: Enter a name for the project:
Here if you write something like this: MyAmazingTodoApp, then all directory will be generated with small letters (on

[2019-05-05 11:26] jihadrhamza commented on #483
Can someone please update on this ? Am trying to use the existing bot in to mobile app using amplify cli. But cannot use other than default sample projects.

[2019-05-05 12:47] lroellin opened #1399 "API Gateway: Cache misbehaving"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
A clear and concise description of what the bug is.

We're using a Lambda function and API Gateway, both deployed by CloudFormation. The Lambda function has REST-full URLs like this:

* `/houses/`: List of all houses
* `/houses/{id}`: Specific house

In API Gateway terms, this i

[2019-05-05 14:59] mwarger commented on #1047
I tried this again, and added the -g flat to the install.  My latest build worked.

[2019-05-06 07:11] plaa commented on #1277
This would be really useful currently as well.  The workaround of having all users in an 'Everyone' group can produce very strange bugs if the condition ever fails. Especially so because the `List*` queries produce an empty array instead of an error even though you don't have any rights to the API.

I just spent an hour trying to figure out why documents I've just created aren't showing up, even t

[2019-05-06 11:42] et304383 commented on #1376
Can you be specific?  Exactly what operations do I need to do for this workaround?

[2019-05-06 15:15] YoanGJ commented on #1220
First I'm very happy to know that this feature is seriously considered! I'm not using the CLI anymore because I can keep my work in sync.

I think that the first option is of course the best and if you're currently investigating this way it would be awesome to have an ETA of your work so we can have an idea to know if there's some hope to see this solution arriving between our hands anytime soon.

[2019-05-06 17:04] UnleashedMind commented on #1398
@zerdos
Could you show us the error message? so we can investigate further?

[2019-05-06 17:06] yuth commented on #1391
Feel free to comment if this doesn't answer your question

[2019-05-06 17:06] #1391 closed

[2019-05-06 19:18] #1362 closed

[2019-05-06 19:36] jugglingcats opened #1401 "Error NoSuchBucket after adding CNAME for custom domain"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Custom domains

** What AWS Services are you utilizing? **
S3, CloudFront

** Provide additional details e.g. code snippets **
Created vanilla React app, added hosting, published. Site works using CloudFront url.

Added CNAME for my hosted zone to Cl

[2019-05-06 19:51] mikeparisstuff commented on #1400
@chai86 To fetch a random item from a table you are going to need to build some randomness into your key structure. Once the PR for #1062 has been merged this will get easier. In the shorter term, as soon as the new version of the CLI (includes #1358) is released early this week, you will be able to do something like the following.

[code]

When you create `Url` objects, include a random float:

[

[2019-05-06 20:25] ajhool commented on #1043
A common use case that is currently a little bit awkward is a DynamoDB object where each user should have only one (eg. UserSettings). I usually implement that setting the `id` field to the `owner` field. It would be really nice if the Get resolver recognized that the `ownerField` was also the `ID` field and returned the object. I believe that similar logic is used in the `list` query when `{ allo

[2019-05-06 20:34] oste opened #1403 "amplify api add-graphql-datasource ⠸ Fetching Aurora Serverless cluster...BadRequestException: This API is deprecated and not available. Use ExecuteStatement API instead"
**Describe the bug**
Running `amplify api add-graphql-datasource` gives this fatal error

Full stack trace:
[code]

It continues to fetch aurora serverless cluster indefinitely.

**To Reproduce**
Follow steps here https://aws-amplify.github.io/docs/cli/graphql#automatically-import-existing-datasources

[code]

Pressing enter gives the result and stacktrace shown above

**Expected behavior**
Aurora

[2019-05-06 22:32] UnleashedMind commented on #1403
@oste
We've identified the cause of this bug, and we are working with the internal teams to resolve it.

[2019-05-06 22:46] mikeparisstuff commented on #1379
@sprucify

**I haven't tested this out yet, but the next issue would be, how do I add Cognito users to members: [String!]! ?**

You would manually add the `username`, `sub`, or whatever attribute you want to use as the identity to the list of members on the object.

To implement your access patterns, it depends if the authorization information lives on the model that is being operated or not.

For

[2019-05-06 22:57] mikeparisstuff commented on #1324
@coop182 Hae you added the custom parameter definition to your custom stack's template? For example, I was able to add:

[code]

then add to parameters.json:

[code]

I then ran `amplify push` which succeeded with the new custom params being passed through as expected.

[2019-05-06 23:04] UnleashedMind commented on #1402
@hafizali05
Just want to get exactly what happened. You've created and pushed your api before, and the api related resources have already been created in the cloud, right?
Then you made local changes without pushing them to the cloud, but you don't want to keep those local changes.

[2019-05-06 23:24] #1374 closed

[2019-05-07 00:57] NuruddinBadawi commented on #82
@haverchuck If we face like this issue in production, `amplify delete` will delete all tables and data, right ? so what is safer way to use delete in production ?

[2019-05-07 03:54] mwarger opened #1405 "Failed build with amplify 1.6.6 and 1.6.7 in amplify console"
**Describe the bug**
I'm getting the following error when running a build in the amplify console:

UPDATE_FAILED               GraphQLSchema                                            AWS::AppSync::GraphQLSchema Tue May 07 2019 00:09:06 GMT+0000 (UTC) The specified key does not exist. (Service: Amazon S3; Status Code: 404; Error Code: NoSuchKey; Request ID: F1A086E29BF333A1; S3 Extended Request ID

[2019-05-07 06:32] plaa commented on #1389
That's true, but sometimes it also prints many pages which need to be gone through. The coloring would also help to see the progress _while_ the update is going on, see whether the update is progressing or rolling back, and allow starting easier debugging before the rollback has completed.

[2019-05-07 06:37] plaa commented on #1389
I just had a case where the cli output at the end 23 instances of `Reason: Resource update cancelled` and the real reason was still hidden in the long log.

[2019-05-07 07:48] hafizali05 commented on #1402
I did amplify pull --restore and it was back to what I wanted.

[2019-05-07 07:48] #1402 closed

[2019-05-07 07:59] jugglingcats commented on #1401
Just re-read the error and www.pupildiary.com is not the correct bucketname -- it is not the name of the bucket created by Amplify. I used the default without the timestamp so my bucketname is `pupildiary-hostingbucket-default` ('default' is the name of the env I created with amplify CLI).

I have read elsewhere that when CNAMEing to Cloudfront your bucket name has to match your sitename. Is there

[2019-05-07 08:05] plaa opened #1406 "Enhance Amplify Push Workflow"
** Which Category is your question related to? **
Amplify cli

** What AWS Services are you utilizing? **
AppSync, Lambda, Auth

** Provide additional details e.g. code snippets **
During a few weeks of development I've encountered many occasions when changes I've made fail to be updated using `amplify push`.  [I don't seem to be alone](https://www.google.fi/search?q=amplify+stack+update+fails).

[2019-05-07 09:55] chris-merapar commented on #1342
I had the same issue. I've upgraded to amplify 1.6.7 and now get this when running amplify init in CodeBuild (with configLevel set to general):

`- Initializing your environment: test
✔ Initialized provider successfully.
Could not read cloudformation template at path: /codebuild/output/srcxxxxxxxx/src/amplify/backend/api/xxxxxx/build/cloudformation-template.json
✖ An error occurred when pushing th

[2019-05-07 09:59] vparpoil opened #1407 "A way to migrate data when updating app"
**Is your feature request related to a problem? Please describe.**
When developing our app, we use 3 environments : dev, preproduction, production. Often there is :
• a need to alter the schemas to add required fields => after push, existing data have this field set to null
• a need to add a new data schema that should be populated at first (ie app parameters) => after push the dynamoDB table is e

[2019-05-07 11:15] plaa opened #1408 "Crash caused by `amplify push` of API"
**Describe the bug**
I added the following to schema.graphql (I was trying to investigate how bidirectional one-to-one connections worked):

[code]

In this case `amplify api gql-compile` is successful, but `amplify push` crashes:

[code]

I can't find any file containing `id:$id` so I assume it's an in-memory document. I'm not sure whether the rest of the schema.graphql has impact on this occurri

[2019-05-07 12:34] vparpoil commented on #1408
Try to add an Id field to your models, I think it is mandatory, specially when you have `@connection`, because the ID will be use to link data :
[code]
I'm also unsure of your use of the keyField parameter. If you have other errors, you can try to remove it.

[2019-05-07 13:08] sprucify opened #1411 "I only get back 10 connected items"
I have the following schema with a @connection between them.
[code]

When I run the generated `GetGroup()` like this:
[code]

I get a maximum of 10 results back not more.
How do I control this limitation?

[2019-05-07 13:24] chris-merapar commented on #1342
I discovered that the above issue only occurs when using amplify init with the --yes option. When the yes option is provided the init starts the push (which does in itself seem weird to me) and generates the above exception. If you run init without the yes option and then run push afterwards, it works ok. Now I have a new issue, that the amplify publish fails due to an unhandled exception related

[2019-05-07 13:42] janhesters opened #1412 "amplify add tracking"
**Is your feature request related to a problem? Please describe.**
I frequently find myself going to third parties to add basic tracking in my apps. AWS Amplify is such a great and all encompassing tool. Wouldn't it be great if it would offer basic tracking?

**Describe the solution you'd like**
The command could look like:

[code]

and it would either

1. Enable a dashboard in the AWS console, or

[2019-05-07 13:51] jensk-dk commented on #582
I tried to make an experimental project supporting multiple fronteneds. I did as follows:
1) Created project with Android FE
2) Added API (and auth)
3) Created an Angular FE with ng and copied amplify/ dir from Android project dir to Angular project dir.
4) Ran amplify configure project

When running "amplify codegen" it still generated Android GraphQL, so ran "amplify configure api"
Now, when run

[2019-05-07 14:02] yuth commented on #1389
This has been released in Amplify CLI version 1.6.7

[2019-05-07 14:02] #1389 closed

[2019-05-07 14:50] vparpoil commented on #1411
If you look into `amplify/backend/api/<apiName>/build/resolvers/Group.GetGroup.req.vtl` you will see that the first line is setting the limit for you to 10 because you are not telling AppSync the limit to use:
[code]
Hence, if you need more items, pass the limit argument to your query.  More info [about the resolvers programming language here ](https://docs.aws.amazon.com/en_en/appsync/latest/devg

[2019-05-07 16:42] sprucify commented on #1411
I don't have a `Group.GetGroup.req.vtl` resolver.
In Group.swipes.req.vtl I see a limit of 10 created.

And my generated function `GetGroup()` has only one parameter ìd`

[code]

[2019-05-07 16:53] potatopotaro opened #1436 "Codegen grapqhl subscriptions with nullable argument(s)"
**Is your feature request related to a problem? Please describe.**
Currently, the generated subscriptions don't support any parameters/arguments. So subscriptions trigger on any and all instances of a mutation.

**Describe the solution you'd like**
It'd be nice if I could at least pass a nullable ID argument to the subscriptions, if not specify additional arguments.

**Additional context**
Current

[2019-05-07 17:58] traviswimer commented on #376
@GeekEast I'd check the Cloudformation logs (Amplify seems to be using Cloudformation stacks for all its resource creation/deletion). When I've created userpools with only Cloudformation (no Amplify), I've had issues with trying to delete them (I think because another resource depended on it).

Honestly though, I'm bothered by the fact that I actually CAN delete my userpools this way. It's a littl

[2019-05-07 18:01] mikeparisstuff commented on #926
This would be a great use case for a custom transformer. See #1396.

[2019-05-07 18:02] #1318 closed

[2019-05-07 18:39] et304383 opened #1413 "Please provide a command to regenerate build directories"
**Is your feature request related to a problem? Please describe.**
If I run amp pull --restore by mistake after merging in branch changes (I think this is what I did) then I can get into a state where my build folders are wiped out.

**Describe the solution you'd like**
An amplify command to regenerate all the generated content based on the checked in code

It's extremely frustrating when I merge

[2019-05-07 18:48] jugglingcats commented on #1401
I ran `amplify delete` and started again. This time I specified `www.pupildiary.com` as the bucket name and published. It created a bucket named `www.pupildiary.com-prod` (where prod is my env name).

I had to manually add my SSL cert and the alternate domain name in the CloudFront config. I hope this is not going to get blown away on each publish.

Anyway it is working now. Am wondering if I did

[2019-05-07 19:01] UnleashedMind commented on #1412
@janhesters
The existing analytics category does allow your app to track user activities.
https://aws-amplify.github.io/docs/js/analytics

[2019-05-07 21:20] aireater opened #1415 "Amplify console frontend build fails when cli does not"
**Describe the bug**
Using create react app, I can build via CLI locally but build is not working in the amplify console. Backend changes build successfully and initially the frontend build reported failure but still updated the app. Now the frontend build fails every time and the app won't update with the latest version.

**To Reproduce**
Steps to reproduce the behavior:
I have no idea, maybe bec

[2019-05-07 21:29] aireater commented on #1415
Also, failed builds are taking 30 mins while previous successful builds were only in the 20 minute range.

[2019-05-07 23:15] simsinght commented on #1384
Is there a document listing the major releases of the cli?

I had some trouble with the migration, and I'm just trying to configure the older deployment.
But the new CLI keeps throwing errors. I just want to revert the cli to pre-multi-env

[2019-05-07 23:24] yuth commented on #1384
@simsinght Amplify CLIs [`changelog`](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-cli/CHANGELOG.md) might have what you're looking for.

If you want pre multienv support, they should be version number less than 0.2.0

[2019-05-07 23:30] #1384 closed

[2019-05-07 23:31] garyleefight commented on #1415
Could you send an email to aws-amplify-customer@amazon.com with you appArn?

[2019-05-07 23:32] garyleefight commented on #1415
@aireater

[2019-05-07 23:33] garyleefight commented on #1405
@mwarger Could you send an email to aws-amplify-customer@amazon.com with you appArn?

[2019-05-07 23:33] aireater commented on #1415
@garyleefight sent.

[2019-05-07 23:36] tbouron commented on #1405
Just updated amplify CLI to 1.6.8 and I experience the same error. My AppSync configuration hasn't change and even though I do a `amplify function push`, I still can see the following in the logs:
[code]

[2019-05-07 23:55] tbouron commented on #1405
Reverting to previous version of the CLI doesn't help (tried `1.6.7`, `1.6.6` or `1.6.5`)
Prior to updating the CLI, I was using `1.6.5` and it worked fined.

I'm now blocked: I cannot update my production application because of this!

[2019-05-07 23:59] mwarger commented on #1405
@garyleefight sent.

[2019-05-08 00:02] aireater commented on #1415
Solution from Gary:

[2019-05-08 00:02] #1415 closed

[2019-05-08 00:27] aireater commented on #1342
@mikeparisstuff what if I don't have a parameters.json file in the build directory? There's one in amplify/backend/api/[api name]/parameters.json. No entries for S3DeploymentRootKey or  S3DeploymentBucket.

[2019-05-08 00:49] garyleefight commented on #1405
Hi, @mwarger @tbouron.
We found the issue is caused by a recent cli release. We changed the way we calculate the hashKey in order to fix a bug. What you can do is to force a one time update to API category. The easiest way is to add a space or comment to your `schema.graphql` file and then do an amplify push.

[2019-05-08 01:32] mwarger commented on #1405
Will give this a shot and report back. Thank you.

[2019-05-08 04:23] michaelcuneo opened #1416 "Correct procedure for amplify configure project for multiple hosted front ends."
I've got a project that requires multiple front ends...

** Which Category is your question related to? **

Amplify-cli awscloudformation configure project.

** What AWS Services are you utilizing? **

Amplify-cli awscloudformation configure project.

** Provide additional details e.g. code snippets **
I have a project that is an administrative style of site that adds users, updates users, adds pr

[2019-05-08 06:05] tbouron commented on #1405
@garyleefight I can confirm that modifying slightly the `schema.graphql` worked, thanks for the tip! 👍

[2019-05-08 06:13] mwarger commented on #1405
This worked for me as well. Thanks!

[2019-05-08 06:13] #1405 closed

[2019-05-08 08:46] Jexim commented on #582
I think we can use [submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) for this situation. What thoughts about this?

[2019-05-08 08:48] mtliendo commented on #365
I can work on drafting an RFC.  From what I can tell from our use cases, the process would be the following:

1. When running `amplify init` prompt the user to enter their set of tags that would be used to _all_(?) created resources.

2. If the resource allows tagging (not all resources do), then update the necessary cloudformation templates to include the desired tags. https://docs.aws.amazon.com

[2019-05-08 13:47] et304383 opened #1417 "Add ability to set on demand for DynamoDB table added via Storage"
**Describe the solution you'd like**
Default DynamoDB tables to on demand with configuration to support provisioned throughput like GraphQL support has.

**Additional context**
#561 added this for GraphQL but not DynamoDB tables added via `amplify add storage`.

[2019-05-08 13:51] et304383 opened #1418 "Add auth role configuration for DynamoDB table added via Storage just like S3"
**Describe the solution you'd like**
Just like is done when S3 is added via `amplify add storage` adding a DynamoDB table should also update the authRole to set permissions based on the cognito identity.

**Additional context**
For reasons I won't get into, I do NOT want to use AppSync.  Having the JS SDK write directly to DynamoDB just like S3 is a perfectly acceptable practice and Amplify should

[2019-05-08 14:52] sprucify opened #1419 "My non-scalar types doesn't show up in my CreateInputs"
I have the following table that has a custom scalar `ingredient`:

[code]

But the `amplify codegen` doesn't create the input class with ingredient in it:

[code]

When I solve this with @connections it will be unnecessary amount of extra queries

[2019-05-08 15:32] undefobj commented on #1418
Thank you for the feedback @et304383. We most likely would not add this feature to the DynamoDB piece of the Storage category as one of the goals of Amplify is to guide customers towards Best Practice patterns as it's easy to get lost in a sea of services and design complexity (including security issues). However for customers which have more specific knowledge of AWS - which it sounds as you migh

[2019-05-08 15:47] ajhool commented on #1043
Another common use case that I don't think is currently possible with the @auth directive (please correct me if I'm wrong, I'd really like to use it!):

A persisted object that an Admin creates/updates, but that everybody should be able to get/list. It would be nice if there group named  `EVERYBODY` or `AUTHENTICATED` or `ALL` that simply contained all authenticated users.

[code]

It seems unnece

[2019-05-08 16:22] et304383 opened #1420 "Add support for temporary credentials"
**Describe the solution you'd like**
Amplify CLI should support temporary credentials set as environment variables in the terminal.  Every other tool and SDK under the sun supports these.

**Describe alternatives you've considered**
Using profiles defined in ~/.aws/credentials with the temporary credentials that I have to update every 12 hours.

**Additional context**
It seems Amplify CLI only sup

[2019-05-08 18:08] UnleashedMind commented on #1420
If you configure the Amplify CLI to use 'general' config level on your project, then the CLI will not configure credentials for the aws sdk it internally uses. This allows the aws sdk to resolve credentials by itself, and environmental variables will be used. [ref](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/setting-credentials-node.html)

This can be done in two ways:
1. hea

[2019-05-08 18:10] et304383 commented on #1420
Thanks for the tips.  Is this documented somewhere?

[2019-05-08 18:37] UnleashedMind commented on #1420
It is explanation in this [doc](https://aws-amplify.github.io/docs/cli/init#--providers).

[2019-05-08 19:33] hew commented on #1406
It's a huge concern. We're into the Amplify stack but I'm currently thinking if there is a way we can extricate ourselves out and possibly just use AppSync and bypass Amplify - except for the codegen feature. There's certain errors that basically seem to be completely irrecoverable from, which as you state, in production is unacceptable.

This is key.

[2019-05-08 19:36] UnleashedMind commented on #1417
Thanks @et304383  for the feedbacks, we will review it in the team.

[2019-05-08 19:56] UnleashedMind commented on #1416
Hosting is part to the backend resources for your project, if I'm understanding you correctly, you should not remove hosting, it will affect other frontend projects that are using the hosting.
The Amplify CLI does not directly support this type of project setup at this moment, you can give this workaround a try:
1. Use the Amdin project with the Amplify CLI to setup all the shared backend resource

[2019-05-08 20:20] UnleashedMind commented on #1401
Thanks for your feedbacks @jugglingcats
If your modification on the CloudFront config is in the amplify/backend/hosting/S3AndCloudFront/template.json, and it's been successfully pushed, subsequent pushes will not change that file. So you should be good.
I will mark this as an enhancement to see if we can do something the CLI to make this setup easier for the customers.

[2019-05-08 21:24] ashwindevendran commented on #1403
Hi, we have worked with the internal teams to resolve this. You should no longer be running into this issue. Feel free to re-open if it persists.

[2019-05-08 21:24] #1403 closed

[2019-05-08 21:25] chris-cornwall commented on #812
@michaelcaterisano I'm trying to implement a schema that is very similar to yours. Am I right in saying that with the schema you've provided, every product has to be added to an order separately? I was hoping to be able to add a number of products to an order with one mutation but perhaps this isn't possible.

[2019-05-08 22:51] michaelcuneo commented on #1416
Regardless of how it's meant to function... it does support this functionality it's written in the docs. I followed the docs partially and got it working by accident, somehow, but I cannot replicate.

I have a full project that I was working on... with Auth, Hosting, API, and Storage. I copied Amplify from that project to a new project, which needed to use the same resources, except hosting. I per

[2019-05-08 22:59] michaelcuneo commented on #1416
Once I test and get the correct procedure, I'll push up the instructions.

[2019-05-08 23:30] dysc commented on #955
I am still getting this issue with v1.6.4-v1.6.8

[2019-05-08 23:35] yareyaredesuyo commented on #401
This is very confusing.

In amplify docs, createdAt and updatedAt uses String 🤔🤔🤔🤔🤔

https://aws-amplify.github.io/docs/cli/graphql

maybe use DateType(in appsync, AWSDateTime? ) related type shoud be better.

https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html

[2019-05-09 01:09] yareyaredesuyo commented on #1318
How about adding this kind of FAQ things to docs? ( https://aws-amplify.github.io/ )

because, developer maybe not think Amplify (and appsync) sorting is difficult than thinking.

Adding docs to graphql sorting things is very helpful.

[2019-05-09 02:28] kawallis commented on #867
Is there any update on this issue? Me and my team are hoping to implement this

[2019-05-09 05:28] plaa commented on #1406
We've also started to look for alternatives. We're still hoping to use Amplify for auth, hosting, functions and REST/API-GW, but remove the GraphQL part and implement that ourselves using API-GW + Lambda + RDS.  We're hoping that would remove the majority of error cases.

[2019-05-09 06:19] GeorgeBellTMH opened #1421 "Elastic Beanstalk Deployment"
There are some times when serverless deployments are less than ideal. Would be nice if there was a plugin or integrated feature to deploy via elastic beanstalk. This is currently possibly just using eb command line tools, however it would be nice for it to be integrated into Amplify.

[2019-05-09 08:01] janhesters commented on #1412
@UnleashedMind Aaah I didn't know this. I will look into this and see if I can achieve the most basic tracking tasks with it. Thank you very much :)

[2019-05-09 09:07] lroellin commented on #1399
Seems to've solved itself. I don't know why and I don't like that. But I'll close it for now.

[2019-05-09 09:07] #1399 closed

[2019-05-09 11:14] hakimio commented on #899
I can confirm that wildcard and regexp filtering doesn't work.
@mikeparisstuff

[2019-05-09 12:00] ruskid commented on #1386
in the same boat here. seems like Cognito identity pools are not supported.

I did try to configure it manually. Using `getOpenIdTokenForDeveloperIdentity` to get the token.
[code]

But you can't bypass the CLI...
When you try to compile graphql schema with auth directives I am getting this error:
[code]

so it requires you to add auth module and create **user** pools. (but I want **identity** poo

[2019-05-09 12:28] davidbiller commented on #1099
The problem is, that when we create a new env, the generated file is generated :D And the changes are not there anymore?

[2019-05-09 12:33] jhw opened #1423 "Restricting resources created by `amplify auth`"
Hi,

Is it possible to pass args to `amplify auth` to limit what it creates to the bare minimum, ie maybe Cognito UserPool and associated roles ? I notice a ton of Cloudformation stuff being created - user/identify pools, roles, email stuff, sms stuff .. I'd like to strip it down to the bare minimum (ideally username/password only, created directly on the console backend) so I can better understan

[2019-05-09 12:58] kstro21 commented on #1099
`amplify\backend\awscloudformation\nested-cloudformation-stack.yml` is re-generated in every `amplify push/publish` and others, so, yes, changes added manually will be gone.

[2019-05-09 13:07] dd-ssc commented on #389
I've applied that patch locally and can confirm Cognito pools now contain the project name.
I can't say how much this helps me. Thank you very much! 👍

[2019-05-09 13:09] dabit3 commented on #389
cc @kaustavghosh06

[2019-05-09 13:32] dd-ssc commented on #389
However, upon continuing with the setup work, I encounter this error:

[code]

[2019-05-09 13:42] chris-merapar opened #1424 "Error "Cannot read property 'accessKeyId' of undefined" with configLevel general"
**Describe the bug**
When amplify publish is run in a headless CodeBuild environment with configLevel=general, it fails with the error:

`frontend build command exited with code 0
2019-05-07T14:42:41.575Z - error: uncaughtException: Cannot read property 'accessKeyId' of undefined date=Tue May 07 2019 14:42:41 GMT+0000 (Coordinated Universal Time), pid=132, uid=0, gid=0, cwd=/codebuild/output/src78

[2019-05-09 13:51] chris-merapar opened #1425 "Attempt to delete @connection creates CF conflict"
**Describe the bug**
When trying to remove a @connection between 2 GQL types, the amplify push fails as the CF update attempts to remove the output from the stacks for the types before the dependency on the output is removed from the connection stack. This also happens if trying to remove the @searchable annotation, as the update attempts to remove the DynamoDB stream before the dependency on it i

[2019-05-09 14:28] plaa commented on #1366
When implementing, one useful thing would be to allow using the environment-specific variables as parameters for custom CF stacks.

You should also be able to define them in multiple files.  Some variables may be secrets that we don't want to commit to our version control, while others we want there.

[2019-05-09 14:46] plaa opened #1426 "How can you create a custom CF stack unrelated of api/auth/etc?"
** Which Category is your question related to? **
Amplify cli

** What AWS Services are you utilizing? **
N/A

** Provide additional details e.g. code snippets **
We're planning to create an RDS database and access it from Lambda functions managed by Amplify.  I know that you can define custom stacks by adding them to `amplify/backend/api/myapi/stacks/` (at least in the case of GraphQL API, the di

[2019-05-09 15:02] plaa commented on #868
Any reason you can't use Option 1 in the StackOverflow answer?  I.e. output the values as `myparameter-${env}` from one stack and reference it from another one?  That seems to be the way Amplify's own stacks are communicating variables.

I guess the creation order might be an issue. We're planning to create an RDS database for use with Lambda functions.  We're not yet sure can we do this using Amp

[2019-05-09 15:28] helloniklas opened #1427 "How to use pagination on connections with nextToken or limit"
So I have a model set up similar to the example in the docs, with a named connection. The generated query correctly return items for the connection, but, it only gives back 10 items and a nextToken. How do I go about to actually use the nextToken in this case. Or how can I change the limit similar to the list queries to get more items out from the connection? Do I have to hook this all up in the r

[2019-05-09 15:39] erik-induro commented on #456
@undefobj What is the status of this? Not having custom claims available for authorization in the resolvers is a pain for multi-tenant solutions where using Cognito Groups isn't reasonable due to limits. I see the following as my options:

1. Change the Amplify SDK to pass the identity token. (I don't want to modify the vendor code or use the identity token since I can't revoke it and have to wait

[2019-05-09 15:53] kstro21 commented on #1425
There are 2 PR opens to handle the 2 scenarios, #1182 for removing **@connection** and #1140 for removing **@searchable**.

[2019-05-09 17:14] UnleashedMind commented on #1421
@GeorgeBellTMH Thanks for your feedbacks, I will mark this feature request and the team will review it.

[2019-05-09 17:59] UnleashedMind commented on #1416
`multiple frontends` means different types of frontends, like web, android or ios.
The hosting category, when added, inserts  a nested child Cloudformation stack into the project's roost stack, and they work as a whole, if you remove hosting, you remove its nested stack from the project's root stack.
When I said "The Amplify CLI does not directly support this type of project setup at this moment"

[2019-05-09 18:06] SebastianKirsch123 commented on #479
I've come up with a configuration that, while far from perfect, works for my scenario. I've only tried it using an API key for authentication and iOS/Android/ReactJS
I'll detail the process. May help some people who need to maintain a separation of environments across multiple frontends:

Pick one of the local directories (I chose iOS/Xcode )
Create a new amplify project on the command line:
_ampl

[2019-05-09 18:08] wizawuza commented on #1427
An example I used in another post that I think will work for you.. try this out

[code]

[2019-05-09 19:07] johnford2002 commented on #978
I believe this fix breaks config functionality when configLevel is set to 'general' instead of 'project'.

https://github.com/aws-amplify/amplify-cli/blame/master/packages/amplify-provider-awscloudformation/lib/configuration-manager.js#L506

There is no config return in the event configLevel is set to something other than 'project'.

[2019-05-09 19:24] hakimio commented on #899
Update: the query string has to be lowercase to be able to use wildcard query. Let's say there is a field "FirstName" with value "Emma". Searching for "Emm*" gives no results, but "emm*" finds the correct record. Any way to make "Emm*" work as well? Something with [lowercase_expanded_terms](https://github.com/elastic/elasticsearch/issues/9973)?

[2019-05-10 00:36] michaelcuneo commented on #1416
So, that means if I go backwards a bit and have a look at the two projects I have running side by side... theoretically one of their hosting buckets will not work? But... if I change a detail or two in the app (Version Number), and hit amplify publish -c on both... both one of them doesn't push up like it did yesterday... I not get a configuration issue.

`2019-05-10T00:32:11.574Z - error: uncaugh

[2019-05-10 06:57] peterfennema commented on #768
@helloniklas I gave up, it takes too long for this to be solved. It's been 4 months since my initial bug report. There have been partial fixes pretty quickly, but the issue you reported https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/4 is a showstopper for the total solution to work.

[2019-05-10 07:41] bokuweb opened #1430 "How can I publish from CI"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **

amplify-cli

** What AWS Services are you utilizing? **

amplify/appSync/dynamodb/S3/cognito

** Provide additional details e.g. code snippets **

I try to `publish` my amplify project with circle CI.
However It does not succeed with following comma

[2019-05-10 09:25] oreillyross commented on #91
+1 for out of the box many-many relationship. Having worked with Prisma it feels so much cleaner than manually having to add the 1-M and 1-M link types.

[2019-05-10 09:38] matthieunelmes commented on #91
@davidfarinha sure so I've got my schema designed as:

[code]

Then resolver on User.friends -> UserFriendTable
request:
[code]
response:
[code]

I can't remember if I had to manually write resolvers for the querys and mutations on UserFriends. Such as createUserFriend updateUserFriend etc etc. I can share those if needed.

[2019-05-10 09:50] davidfarinha commented on #91
Thanks! Much appreciated.
Also did you have to modify the queries to get around the filter fields not being created on the many-to-many mappings?

[2019-05-10 12:54] wizawuza opened #1431 "How to add a custom mutation and resolver for an existing GraphQL table?"
** Which Category is your question related to? **
GraphQL/Appsync Resolvers

** What AWS Services are you utilizing? **
Amplify/Appsync

** Provide additional details e.g. code snippets **
So maybe this is a stupid question but the whole CF/stacks thing is a little foreign to me so after a lot of time searching and searching, I think it's time to just ask.

How do I add a custom mutation and resol

[2019-05-10 13:35] sethkrasnianski commented on #922
@mikeparisstuff Is this as simple as going to the nested stack for each of the respective models and removing the corresponding item in the `GlobalSecondaryIndexes` array? I would assume that's accompanied by the removal of the `@connection` directive for each model within your repository's schema file.

Could you confirm / elaborate on this?

[2019-05-10 14:27] heitorlessa commented on #1324
@mikeparisstuff do `parameters.json` get overwritten if I update `auth` or `api` for example?

At the moment, I saw that `AppSyncApiName` and `AuthCognitoUserPoolId`  were automatically added. If I to delete auth (``amplify auth delete``), will amplify-cli remove only `AuthCognitoUserPoolId` key from `parameters.json` or rewrite the entire file.

[code]

[2019-05-10 14:40] wizawuza commented on #1431
Well hello it looks like I got it to work after more searching.. isn't it funny how that always happens AFTER you post about it... anyways, with help from the following post #1224 I got it to work.

My code is below in case it's helpful to any future readers.

My completed custom stack is as follows (note, the name is Address.json, not User.json as I do not want it to overwrite the existing one an

[2019-05-10 14:40] #1431 closed

[2019-05-10 15:02] yareyaredesuyo opened #1432 "Introduce canny.io for feature-request"
I think introducing canny.io is useful for managing feature requests (Be able to understand what feature developer truly required).

This is a case study for expo ( https://expo.canny.io/feature-requests )

[2019-05-10 15:41] johnford2002 commented on #1424
Encountered this same error yesterday with our init scripts setting the configLevel to general.

I believe one part of the problem lies at this line in that no config is returned if level isn't set to project:
https://github.com/aws-amplify/amplify-cli/blame/master/packages/amplify-provider-awscloudformation/lib/configuration-manager.js#L508

[2019-05-10 15:53] kaustavghosh06 commented on #1424
We’ve identified the issue and working on the fix. I believe there’s a PR out for this.

[2019-05-10 16:20] bokuweb commented on #1099
It's so cool feature. I would like to inject cognito user pool id too.

[2019-05-10 17:01] UnleashedMind commented on #1430
Hi @bokuweb
What's the version of the Amplify CLI you are using? this looks very similar to this issue:
https://github.com/aws-amplify/amplify-cli/issues/1342
Which was fixed and merged by this PR:
https://github.com/aws-amplify/amplify-cli/pull/1383
and published.

[2019-05-10 17:03] UnleashedMind commented on #1432
@yareyaredesuyo
Thanks for your suggestion, we will check on that.

[2019-05-10 17:31] yuth opened #1433 "RFC - Local testing (AppSync)"
Amplify CLI with the support of GraphQL transformer, makes it simple to develop a GraphQL API. To see this API in action, Amplify CLI requires customers to push to the cloud. Pushing changes to cloud is time consuming and makes iterative development & debugging less than ideal.

We are looking to support running AppSync APIs locally and make the iterative development-test-push processes faster. Th

[2019-05-10 18:00] bokuweb commented on #1430
@UnleashedMind Oops, I use v1.6.8

[2019-05-10 18:26] mwarger commented on #1433
This may be somewhat related, but specifically regarding any updates to the type generation. I would like to throw out an idea for updating the code generation to use apollo cli, if possible.  This provides watch mode for type generation and also automatically extracts types for sub-queries.  It also supports having graphql operations co-located with components (using gql tag).   I mentioned it he

[2019-05-10 19:07] achutkiran opened #1434 "Schema is not configured for subscriptions"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Aws codegen

** What AWS Services are you utilizing? **
AWs appsync
** Provide additional details e.g. code snippets **
When i use amplify codegen i get following error Schema is not configured for subscriptions.
![image](https://user-images.githubus

[2019-05-10 19:25] undefobj commented on #1433
Do you mean GrraphQL Code Generator? https://graphql-code-generator.com
If so we are in communication with that team already.
@mwarger

[2019-05-10 19:26] kaustavghosh06 commented on #1430
@bokuweb We identified the issue and we will submit a fix for it.

[2019-05-10 19:28] mwarger commented on #1433
I did not, actually meant https://github.com/apollographql/apollo-tooling#apollo-clientcodegen-output

But, what you linked seems perfectly great and a good upgrade from what currently exists.  I will give that a look and follow-up later.

[2019-05-10 19:29] kaustavghosh06 commented on #1336
@achutkiran Were you able to reproduce this?

[2019-05-10 19:31] #1420 closed

[2019-05-10 19:33] kaustavghosh06 commented on #1416
@michaelcuneo That's correct. You would jut need to keep the aws_exports.js or the awsconfiguration.json file in sync with your multiple frontend projects.

[2019-05-10 19:33] #1416 closed

[2019-05-10 19:35] kaustavghosh06 commented on #1379
I'm gonna close this issue for now, if you till have any question feel free to comment on this or re-open this thread.

[2019-05-10 19:35] #1379 closed

[2019-05-10 19:38] kaustavghosh06 commented on #1408
Thanks @vparpoil. I think that should solve the issue @plaa. Please re-open the issue if you're still seeing this issue.

[2019-05-10 19:38] #1408 closed

[2019-05-10 19:40] kaustavghosh06 commented on #1400
@chai86 Closing this issue for now. If you're still having more questions regarding this, please feel free to re-opne or comment on this thread.

[2019-05-10 19:40] #1400 closed

[2019-05-10 19:45] achutkiran commented on #1336
Hi, I tried by adding new api and I am unable to reproduce this issue

[2019-05-10 19:45] #1336 closed

[2019-05-10 19:45] mikeparisstuff commented on #1352
I have added this as an example in the Amplify docs. As soon as these PRs from the docs (https://github.com/aws-amplify/docs/pull/640) and cli (https://github.com/aws-amplify/amplify-cli/pull/1346) are merged you will be able to add this without much trouble.

[2019-05-10 19:45] mikeparisstuff commented on #1313
I have added this as an example in the Amplify docs. As soon as these PRs from the docs (aws-amplify/docs#640) and cli (#1346) are merged you will be able to add this without much trouble.

[2019-05-10 19:49] kaustavghosh06 commented on #1426
@plaa You could porbbaly write your own plugin to make this possible. You can take a look at the amplify video plugin as an example - https://github.com/awslabs/amplify-video
But having said, we're looking to having a custom stack directory structure similar to the graphql API custom stacks to solve your use-case.

[2019-05-10 19:51] yareyaredesuyo commented on #487
What is the best temporary way to achieve this ?

[2019-05-10 19:53] kaustavghosh06 commented on #1423
@jhw All the stuff got created because you chose "Default configurations" which encrourages best practices for authentication. If you instead choose "Manual Configuration" during the auth setup, you could've selected bare minimum resources that you needed. Please re-opne this issue if you have more questions.

[2019-05-10 19:53] #1423 closed

[2019-05-10 20:06] mikeparisstuff commented on #1411
@sprucify You need to parameterize your GraphQL query to suit your needs. The GraphQL codegen will auto-generate the basic queries/mutations but you have full control to add your own. Add a query like this to the directory containing your project's GraphQL query files.

[code]

Then when you generate the API service file from the queries, it will be parameterized to accept both an id and swipeLimi

[2019-05-10 20:14] jugglingcats commented on #1401
It would be good to confirm if the hostname-as-part-of-bucket-name is really a requirement. If it is, would be good to point this out in the prompt for bucket name.

Would be great too if alternate name (CNAME) could be part of the amplify CLI prompts/config, and even the link to SSL cert.

[2019-05-10 20:16] kaustavghosh06 commented on #1397
@ronaldwidha That's a good hack and we officially don't support it as a part of the CLI. Having said that, we're actively working on supporting Lambda triggers for Cognito and other categories and you'll have full support for this very soon.

[2019-05-10 20:21] #1427 closed

[2019-05-10 20:24] kaustavghosh06 commented on #1401
@jugglingcats You might want to try out Amplify Console- https://aws.amazon.com/amplify/console/ for your Hosting needs which has in-built support for custom domains.

[2019-05-10 20:24] #1401 closed

[2019-05-10 20:48] #982 closed

[2019-05-10 20:48] #1030 closed

[2019-05-10 20:55] kaustavghosh06 commented on #1342
@chris-merapar We have  PR for that already and is tied to a different issue (opened by you) and tracked spearately. Closing this specific issue as this is fixed.
@aireater We've notified Amplify Console to update their default CLI version in their build images.

[2019-05-10 20:55] #1342 closed

[2019-05-10 21:08] kaustavghosh06 commented on #1323
We've fixed this issue (tied to amplify delete) in he latest version of the CLI. Please feel free to re-open this if you're still seeing this issue.

[2019-05-10 21:08] #1323 closed

[2019-05-10 21:09] #1066 closed

[2019-05-10 21:12] helloniklas commented on #1427
@wizawuza works. Thanks a lot.

[2019-05-10 21:21] sprucify commented on #1411
I ended up copying the generated GroupSwipes resolver to the resolver folder and fill in a fixed limit.
I didn't know I had also control over the queries.

Thanks

[2019-05-10 21:21] #1411 closed

[2019-05-10 21:48] #87 closed

[2019-05-10 21:49] #143 closed

[2019-05-10 21:50] mikeparisstuff commented on #263
This has since been enabled.

[2019-05-10 21:50] #263 closed

[2019-05-10 22:02] kaustavghosh06 commented on #1424
@chris-merapar Can you test this with v 1.6.8? I wasn't able to reproduce this issue with the latest version of the CLI. Also, are you getting the same error when you use project level onfig isntead of default?

[2019-05-10 22:26] #1424 closed

[2019-05-10 22:40] chrisco255 commented on #1433
Will data persist between runs? Does this have a local DynamoDB instance running in order to achieve this? Currently I rely heavily on CloudWatch logs for debugging. Will this sort of logging be available locally?

[2019-05-10 22:43] davekiss commented on #1433
How would this work with `@function` resolvers or pipeline resolvers? Will it also pipe requests to the local lambda functions that amplify is aware of?

[2019-05-10 22:53] undefobj commented on #1433
@chrisco255

Do you need this to be supported? If so how much data locally?

Right now it doesn't have anything, we are just getting feedback and requirements on the DX that customers are looking for. We haven't decided on an implementation just yet (though we do have ideas).

What would be your preferred experience here? Logging to a file, stdout, or something else?

[2019-05-10 22:56] undefobj commented on #1433
@davekiss
We didn't put the Function category into the RFC but we are thinking about it, and do have some rudimentary testing of Lambda already in the CLI: https://aws-amplify.github.io/docs/js/react#testing-serverless-functions

When the GraphQL Transformer has Pipeline resolver support in the future we'll look at supporting that locally but there is still more design work that is needed in that

[2019-05-10 23:29] yuth commented on #1434
@achutkiran could you share your `.graphqlconfig.yml` file. Make sure that you have obfuscated sensitive information from the file.

Whats the version of Amplify CLI you have installed?

[2019-05-11 00:49] dennisAWS commented on #1371
+1  I want this too.
Here's an example VTL that passes in the 'id' from the client. I want this VTL to not take an 'id' and return the auto-generated id from the database.

`{
  "version": "2018-05-29",
  "statements":   [
  	"INSERT INTO Customers VALUES (:ID, :NAME, :PHONE, :EMAIL)", "SELECT * FROM Customers WHERE id = :ID"
  ],
  "variableMap": {
  	":ID": "$ctx.args.createCustomersInput.id",

[2019-05-11 03:28] bokuweb commented on #1430
Thanks for your work :)

[2019-05-11 04:24] chrisco255 commented on #1433
@undefobj
Ideally, I would like data to persist between runs, with the ability to flush as needed. At a minimum, I would like an easy format for hydrating data on start.

As far as logging goes, stdout is decent and the option to pipe to a file would be great, but I also like CloudWatch's model of being able to expand each step of the query from a web page, but I realize that would require additio

[2019-05-11 04:31] bokuweb commented on #1099
Is there any workaround for this??
I I'm setting it manually for now, unfortunately it is removed by `amplify publish` 😭

[2019-05-11 07:20] sthulb commented on #1433
I’ve had a lot of customers ask about local unit testing of their VTL. They would like to have confidence in the VTL code they write.

[2019-05-11 07:43] buggy commented on #1433
Is it possible to implement this in a way that's compatible with SAM CLI? SAM CLI already has support for running the API Gateway locally. This could benefit both SAM CLI users (getting access to AppSync locally) and Amplify CLI users (being able to use the API Gateway from SAM).

[2019-05-11 07:48] sakhmedbayev opened #1441 "Accidently removed amplify's s3 deployment bucket :-( What can I do?"
** Which Category is your question related to? **
deployment

** What AWS Services are you utilizing? **
S3

** Provide additional details e.g. code snippets **
While searching for a solution for another issue I accidentally removed S3 deployment bucket which amplify uses to deploy resources.

Is there any way I can initialize it again? If not, what are my options?

I have both `dev` and `prod` en

[2019-05-11 08:07] plaa commented on #1408
Even if that's the issue Amplify shouldn't crash and become out-of-sync with the cloud version.

[2019-05-11 16:58] lowercase00 opened #1442 "Amplify Publish not pushing changes to cloud - won't update."
**Describe the bug**
Yesterday, changes in my Vue project stopped being updated in the cloud.
I thought that it was because I had changed the version of my project at `packages.json` file.
So I deleted everything related to Amplify and my environment, cleared my related S3 buckets and `init` the project again. Today, everything was working fine - I'm 100% positive that I only made changes to the .

[2019-05-11 19:49] Bulletninja commented on #795
So, if i add a field to the auth that i didn't want to actually require i have to go through adding my api and auth again?

[2019-05-12 00:15] EsrefDurna opened #1443 "add api is broken"
do following
1)
$npm install -g @aws-amplify/cli

2)
$amplify init
3)
and choose visual studio code, react, javascript project

4)
$amplify add codegen --apiId xxxxxxx
# xxxx is your aws appsync graphql api id

gives error,
Codegen support only one GraphQL API per project

this is a fresh new directory , fresh new amplify init and it tells me that i already have a backend api???
and there is no wa

[2019-05-12 02:37] wtrocki commented on #1433
Does this mean running some docker container on local machine and connecting to AWS dynamodb or it will be fully local experience with some in mem database?

[2019-05-12 05:39] meekgeek opened #1444 "Api gql-compile not compiling directives"
@model Seems to be the only thing to be respected.
@auth Does not seem to make it to build

In Appsync I can manually add the appropriate code e.g @aws_auth(cognito_groups: ["Admin"]) to the queries and they work!

However,  when I add the directive e.g @auth(rules: [{allow: groups, groups:["Admin"]}]).

I can publish just fine, with no errors, but the schema fails to add the appropriate directive

[2019-05-12 12:37] lielran opened #1445 "Extend permission for auth/unauth users"
I would like to see a way to extend the permission that provides to the auth/unauth users.
amplify update and extend the role policies when added new category(e.g. storage) but how should I provide policies to that role that are managed outside the scope of amplify-cli for example - access to external  API gateway execute-API, backend Serverless REST api that has it's own repo and lifecycle.

the

[2019-05-12 16:39] ultradox commented on #1323
👍😁

[2019-05-12 17:02] fodurrr commented on #1062
@mikeparisstuff Item 2: The @key directive **(option a)** looks very very nice :)
Any idea when it will be implemented?

[2019-05-13 06:18] dakeshi opened #1446 "How to connect existing Pinpoint project in the new iOS project"
** What AWS Services are you utilizing? **
Pinpoint

** Issue Description **
I'd like to connect the existing Pinpoint project with the new iOS project(I don't have the existing project source including configured aws resources). But I can not find out the exact instruction about it. And it seems that it doesn't have some options to use the existing Pinpoint resource in amplify cli commands list.

[2019-05-13 10:47] mbergkvist commented on #868
I'm looking for something similar. We have a S3 storage and a Lambda created from the Amplify CLI. We want to execute the Lambda on ObjectCreated events, but I can't figure out how to connect the two resources, i.e. how do we reference the Lambda from the S3 cloudformation?

[2019-05-13 14:11] achutkiran commented on #1434
![image](https://user-images.githubusercontent.com/26334163/57628180-0d7ab800-755f-11e9-94ce-6cedd698a63d.png)

[2019-05-13 14:20] maslbl4 opened #1447 "Can't install amplify CLI on Windows"
**Describe the bug**
Can't install "aws-amplify/cli" on Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. npm install -g @aws-amplify/cli
2. See error

**Expected behavior**
aws-amplify/cli install successfully

**Desktop (please complete the following information):**
 - OS: Windows 10 ver. 1809
 - NPM: 6.4.1 and 6.9.0

**Logs**
[2019-05-13T14_13_33_245Z-debug.log](https://github.co

[2019-05-13 16:10] kstro21 commented on #1441
Hi, @sakhmedbayev, I've been there too. What I did was to create a bucket with the same name.

1. Open `amplify\backend\amplify-meta.json` and look for the value of `"DeploymentBucketName"`
2. Create a bucket in S3 with the value of `"DeploymentBucketName"`
3. Deploy

It works for me, hope for you too.

[2019-05-13 16:24] sakhmedbayev commented on #1441
Thank you @kstro21!

[2019-05-13 16:24] #1441 closed

[2019-05-13 16:52] kaustavghosh06 commented on #1447
@maslbl4  Which node version do you have installed? You need Node version >= 8.1x for the CLI.

[2019-05-13 16:56] meekgeek commented on #1444
As I get deeper into the tool, I noticed that the directives affect the resolvers that would be in the amplify/backend/api/{yourapi}/build/resolvers/ folder.  I was mistaken in assuming it actually made the changes in the schema.

I do see they change when I run gql-compile.

The issue still remains though, I have default permissions set to ALLOW in appsync, but with the @auth directive above, and

[2019-05-13 16:57] kaustavghosh06 commented on #1446
Answer 1: Amplify CLI uses Cloudformation to deploy and manage resources and since Cloudformation doesn't support managing of existing resources, hence the CLI doesn't support it either, but if you just want to use it in your app (and not manage it via the CLI), look at Answer 2:

Answer 2: You can modify the awsconfiguration.json file and add your pinpoint configurations to it. On an `amplify pus

[2019-05-13 17:27] UnleashedMind commented on #1442
@lowercase00
publish has 4 operations, executed in the following sequence:
1. executes `amplify push` to update the backend resources in the cloud
2. builds your frontend application into the `"Distribution Folder"`
3. uploads the contents in the `"Distribution Folder"` into the deployment buckets.
4. if CloudFront is enabled and you explicitly added the '-c' flag in the `amplify publish -c`, a in

[2019-05-13 17:45] UnleashedMind commented on #1443
Thanks @EsrefDurna , we'll investigate this issue, could you provide these information for us?
- Amplify CLI version
- Operating system of your computer

[2019-05-13 17:51] EsrefDurna commented on #1443
amplify cli version 1.6.8
OS Mac OS mojave(latest)

[2019-05-13 17:52] et304383 commented on #1386
Desperately need this.  Need to call AppSync from both front end and Lambda.  Lacking support for this is really hamstringing us.

[2019-05-13 18:02] UnleashedMind commented on #1445
Thanks @lielran for the feedbacks, we will discuss among the team.

[2019-05-13 18:17] meekgeek commented on #1444
Alright, I was finally able to figure this out and I can mark as resolved.

I had to create edit the default resolver and added the `$util.unauthorized()` code if the group wasn't in the user claim.

My final resolver looks like this...
[code]

So I'm guessing it was always working, but items would return empty instead of unauthorized.

I'm not sure why by default, the resolver doesn't look more l

[2019-05-13 18:18] #1444 closed

[2019-05-13 18:29] achutkiran opened #1448 "Amplify codegen"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

** Which Category is your question related to? **
Amplify codgen

** What AWS Services are you utilizing? **
Amplify appsync
** Provide additional details e.g. code snippets **
I am using amplify appsync, i  am using complex object. When i use codegen for complex objects. It is showing like this
Exp

[2019-05-13 18:30] yareyaredesuyo opened #1449 "Custom Resolver generator from cli."
Now, when making custom resolver, it requires some copy and paste tasks.

So, i think it maybe good idea to generate custom resolver code's from cli.

[2019-05-13 18:34] UnleashedMind commented on #1443
@EsrefDurna
I was not able to reproduce the issue. But we will keep the issue open to investigate further on what happened and help you to resolve the issue you are having.
It'd be helpful if you can provide a screenshot of the error.

[2019-05-13 18:34] kaustavghosh06 commented on #1449
@yareyaredesuyo Could you mention which specific tasks in details? Would love to know more about this in detail to improve the dev experience.

[2019-05-13 18:55] UnleashedMind commented on #1419
Thanks @sprucify for the feedbacks.
Could you provide these information so we can investigate this issue:
- Amplify CLI version you used
- Operating system of your computer

[2019-05-13 19:04] yareyaredesuyo commented on #1449
For example, when making custom resolver in cli.

Use a command like

[code]

and it generates these kind of files.

Resources

[code]

[code]

resolvers/Query.echo.req.vtl

[code]

resolvers/Query.echo.res.vtl

[code]

 It will reduce the cost of copying paste tasks, when making custom resolvers.

[2019-05-13 19:14] #1412 closed

[2019-05-13 19:21] #1418 closed

[2019-05-13 19:23] UnleashedMind commented on #1421
You can probably write your own plugin for this feature.

[2019-05-13 19:58] EsrefDurna commented on #1443
what about a screen capture?:)

[2019-05-13 20:06] #1443 closed

[2019-05-13 20:07] EsrefDurna commented on #1443
sorry for the trouble, I reinstalled and it worked!

[2019-05-13 20:56] sacrampton commented on #1406
This is really critical. The amplify push seems very fragile. A couple that I'm running into are:

- Can't update/delete more than 1 GSI - so if you add or change more than 1 connection in subsequent pushes it will fail. I currently have 180 connections across 31 types. Pushing this can take over a hour - it is not feasible to be limited to 1 change at a time to the connections.

- "The total requ

[2019-05-13 21:01] Mellgood commented on #1277
I assume that there is no default group for cognito users... am I right? Is there any other way to reference to all groups or maybe to all users like a "*"?

[2019-05-13 21:26] zacharycarter commented on #128
I don't think this issue should be closed - it still doesn't seem possible to publish multiple hostings, multienv or not... Unless the answer is - it isn't possible with the CLI and you need to use the console.

[2019-05-13 21:30] zacharycarter commented on #508
It doesn't seem possible to add multiple hosting configurations with multienv. I keep running into the error - Hosting is already fully enabled. Is the console required for this?

[2019-05-13 22:35] lorensr opened #1450 "Document how to update AppSync API key"
[code]

It seems like the default DX if you add a GraphQL API w/ API key auth is that `amplify push` stops working after 7 days. I can create a new API key in AppSync Settings page, but I'm not finding documentation about how to give the new key to `amplify`.

Alternatively, if `amplify` auto generated new keys to use, that'd be better. Looks like was added with #446, but it's either not working o

[2019-05-14 01:20] dakeshi commented on #1446
Thank you for your response. So, what is the best practice to use the existing resources?

e.g)
(1) amplify init
(2) amplify push(to create awsconfiguration.json)
(3) amplify add notifications(to update awsconfiguration.json about notification service)
(4) manually update awsconfiguration.json with existing resources
(5) delete unused cloud resources(I'm not sure this phrase is needed)

[2019-05-14 08:06] maslbl4 commented on #1447
@kaustavghosh06 I'm trying last LST and Current from https://nodejs.org/en/download/

[2019-05-14 08:09] stayingcool commented on #1442
I have the same problem today with Angular app.
`amplify publish` is completing without any issues, however, the latest version of the front end is not being served through S3.
If I try to serve it locally (`npm start`) just to see if the changes are showing up and I do see the latest changes I have made.
Things that I have done, the issue is still at large:
1. Remove the contents of S3 bucket man

[2019-05-14 08:48] stayingcool commented on #1442
Just an update from myside, after reading other issues I did the following to get the issue resolved:
1. `amplify configure project`
2. Deleted the contents of S3 bucket (Not required in my opinion, was just desperate to get the latest changes)
3. `amplify publish`

Note - By the way, I'm working on a multi-environment, chances are there that after bringing up an enviroment we might have to config

[2019-05-14 09:10] oreillyross commented on #401
Would love to see a directive type approach @createdAt or @updatedAt like Prisma introduced in April this year, seems a nice tradeoff but still easy to implement for what is a pretty common need for apps. https://www.prisma.io/blog/datamodel-v11-lrzqy1f56c90

[2019-05-14 10:28] JoeLamptey commented on #1402
I had a similar challenged but I resolved it by copying and replacing my #current_cloud_backend folder with the backend folder. In my case, the locally served app was faultless so check again before you follow this approach.

[2019-05-14 10:32] janhesters opened #1451 "GraphQL Codegen Max length directive"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when users abuse my API and circumvent my form validation by manually triggering API calls.
To be honest that didn't happen yet, but i could.

**Describe the solution you'd like**
It would be cool to be able to restrict API access by max length of the data similar to how @auth restricts on an owner basis.

E.g

[2019-05-14 11:37] iasci commented on #779
@morgler for that you need to make sure your client doesn't have a client secret. Another hidden gem in AWS configuration black hole.

<img width="240" alt="Screen Shot 2019-05-14 at 13 34 01" src="https://user-images.githubusercontent.com/5040414/57694855-1ba70200-764d-11e9-9135-f6ed5a6ba8f3.png">

[2019-05-14 12:11] willkara opened #1452 "Need ability to ignore/no-verify SSL for proxy support."
**Describe the bug**
While going through a company proxy, the CLI tool breaks. In order to for it to BEGIN working, I had to manually make the changes present in issue #459 and PR #869 . Is there any update on pulling those changes in?

Completing those changes manually allowed me to succesfully run the `amplify init` command.

Though when trying to push/publish resources, I get a self-signed cert

[2019-05-14 12:13] FatimahSanni commented on #82
I am also facing this issue and it is really frustrating because one can't really point to the particular cause. I am working on a client app and this is at least the third time I am facing this issue. I have had to save my schema somewhere, delete and start all over again.

This is honestly terrible. I can't continue like this.

[2019-05-14 14:09] davekiss commented on #1406
Echoing the sentiment above, this is definitely one of the most concerning parts of Amplify. The DX for provisioning resources is great when it works, but once one of the dreaded CFN error messages appear, good luck. Some of the messages make you think you might be able to resolve it within the AWS console at which point your settings drift apart and the least frustrating/least work option is to b

[2019-05-14 15:44] lowercase00 commented on #1442
For me it works after deleting everything (S3 bucket and project).
My guess is that the `publish` is where the problem is, since just as @stayingcool when I run the project locally it works just fine (showing my updates). I chose to switch to `aws s3 sync` for now and adding a `deploy` script to my `packages.json` file:

`"deploy": "node build/build.js && aws s3 sync ./dist s3://mybucket --acl pub

[2019-05-14 16:03] yareyaredesuyo opened #1453 "Why so many S3 requests?"
** Which Category is your question related to? **
Amplify push

** What AWS Services are you utilizing? **
Amplify

** Provide additional details e.g. code snippets **

I'm now researching amplify and have some question.

1. What i found that everytime when using `amplify push ` takes so long time and looks like  checking everything and updating everything. Is there any way to reduce updating time

[2019-05-14 16:14] edpike109 commented on #128
You have to install the lastest version of the amplify/cli, latest version
of vanilla amplify does not have latest cli last i checked. Latest cli has
multienv.

On Mon, May 13, 2019, 2:26 PM Zachary Carter <notifications@github.com>
wrote:

[2019-05-14 17:33] kaustavghosh06 commented on #1447
Seems like an npm cache issue. Please try -  npm cache clean --force
Related issue - https://github.com/vuejs-templates/webpack/issues/990
I wasn't able to reproduce this issue on my windows machine.

[2019-05-14 19:18] hisham commented on #83
I see #1346 is merged which is great. Question: does the multi-env version `function-name-${env}` support the NONE env where `-${env}` should be excluded but only if env = NONE?

[2019-05-14 19:49] khusmann commented on #916
@cocacrave I have the opposite problem: .graphqlconfig.yml obeys schemaPath, but no matter what i put in includes, it pushes mutations.js, queriers.js and subscriptions.js to src/graphql

I'm using amplify --version 1.6.8 on Ubuntu

[2019-05-14 19:51] rpostulart commented on #980
Is it possible to just delete a cloudformation stack manually from the console and then start a amplify push again?

[2019-05-14 19:56] kstro21 commented on #980
@rpostulart that won't work. If you do that, you will blow the entire stack and you will be forced to start from 0.

[2019-05-14 19:58] khusmann commented on #916
Just saw @yuth 's comment -- docsFilePath works!

Still would like this to automatically come from the cli interface though (ideally inherit from the amplify init), rather than having to go back and edit .graphqlconfig.yml

[2019-05-14 20:03] willrust commented on #1087
As a workaround, I've been editing the local cloudformation-template.json located at: amplify/backend/function/myFunctionName/myFunctionName-cloudformation-template.json
Under: Resources > lambdaexecutionpolicy > Properties > PolicyDocument
and add a new statement following the format of the existing statement.

EX:
`
{
  "Effect": "Allow",
  "Action": [ "cognito-idp:ListUsers"],
  "Resource": {

[2019-05-14 21:03] sacrampton commented on #1406
A small step forward in this - my theory above was that CloudFormation was pushing everything to DynamoDB at once and that if you could control that then this might be more reliable.

I compiled my graphql (amplify api gql-compile) then edited the cloudformation-template.json in the build directory. Under the Resources section of this json you have GraphQLAPI, GraphQLAPIKey, GraphQLSchema then you

[2019-05-14 22:10] zjullion commented on #80
Behold, a way to add custom resources (not via the CLI, but it works nonetheless):

Modify `backend-config.json` like so:

[code]

(Note that you don't have to use the name `custom` - any name will do)

Under `amplify/backend` folder, make a folder structure like so:
[code]

Just like under `hosting`, `template.json` is a cloudformation template, and `parameters.json` is a json file of parameters

[2019-05-15 03:20] ajhool commented on #1350
It appears that removing auth did not resolve this issue or perhaps introduced new ones.

I created a new Auth resource but amplify push is no longer working. The error appears to stem from:

[code]

I'm not sure what UserPoolClientLambda is, but it is not a custom function from me

[2019-05-15 08:57] janhesters opened #1454 "Is it intentional, that using MulitiEnv you only get one Database"
** Which Category is your question related to? **
[MultiEnv](https://aws-amplify.github.io/docs/cli/multienv?sdk=js)

** What AWS Services are you utilizing? **
Cognito, AppSync, DynamoDB, Pinpoint

** Provide additional details e.g. code snippets **
I have created a React app using Amplify with two Environments: Dev and Prod. Both use the categories Auth, API and Analytics.

All services now have

[2019-05-15 11:17] davekiss commented on #1454
@janhesters when you provision your api with `amplify push` you should be seeing new DynamoDB tables that would look like `Table-${apiId}-${env}` where env is the name of your environment (in your case, one for `prod` and one for `dev`

[2019-05-15 11:19] janhesters commented on #1454
@davekiss You are right, it appeared now, after I added hosting to the prod environment.

[2019-05-15 14:11] johnford2002 opened #1455 "amplify publish fails with configLevel general"
**Describe the bug**
When using the CLI for headless publish on an AWS CodeBuild container, publish fails with the following error:

[code]

CodeBuild is using an IAM role that has the required permissions, and this process was working until recently.

**To Reproduce**
Init script run first in CodeBuild:
[code]

Publish script run after:
[code]

**Expected behavior**
Publish should complete succes

[2019-05-15 14:13] johnford2002 commented on #1455
I still believe the issue lies with this code not having a return if configLevel isn't set to 'project':
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/lib/configuration-manager.js#L506

[2019-05-15 14:13] YatesSpearman commented on #1455
Following: I'm having the same issue with my project

[2019-05-15 14:21] maslbl4 commented on #1447
@kaustavghosh06 Thanks, this is helped

[2019-05-15 14:31] davekiss opened #1456 "Join model no longer generating correct files during publish"
Something must have changed in the CLI recently as minor changes to a schema that was publishing fine a week or two ago no longer are accepted during `amplify push` –– the join model that was manually created to work around the many-to-many shortcomings in amplify does not generate an expected JSON file in `amplify/backend/{project}/build/stacks/JoinModel.json` and I'm guessing any other files tha

[2019-05-15 15:29] mikeparisstuff commented on #83
@hisham Thank you for the comment. I will submit a new PR with the update.

[2019-05-15 16:06] sprucify opened #1458 "Filtering on weeknumbers greater then 10 doesn't return results"
I'm having a table of around 4000 recipes.
Every recipe has a weeknumber.

When I run:
[code]

I get zero results sinds it is currently week 20

It only works when entering a static number between 1 and 10.
My table Recipes has also records with weeknumbers between 11 and 52

Another unexpected behavior is, that it is performing the `limit: 4000` before filtering the weeknumbers.

I was expecting

[2019-05-15 16:17] sergiorodriguez82 commented on #1131
Hi, Im having similar issues.
In my case I want to add a cognito policy. How can I ref the user Pool ID in this function? For now I have it to all (*) resources.. not ideal.
I added this to my function generated template
`		"lambdaexecutionpolicy": {
			"DependsOn": [
				"LambdaExecutionRole"
			],
			"Type": "AWS::IAM::Policy",
			"Properties": {
				"PolicyName": "lambda-execution-policy",

[2019-05-15 16:28] yuth commented on #1433
@chrisco255,

We are thinking of using Dynamo DB local and data can be persisted between the runs.

@sthulb we could add support for snapshot testing the VTL

@buggy Our plan is to to write the AppSync test server such that it can also be invoked using an API to allow other CLI/Framework can integrate AppSync testing

@wtrocki Our plan is to write this using NodeJS and use DynamoDB.

We plan expos

[2019-05-15 16:33] sthulb commented on #1433
@yuth SAM CLI currently doesn’t have any VTL support. The APIGW implementation at the moment is nothing more than a basic webserver.

I’m happy to talk to the team about the requirements: thulsimo@ on chime/email

[2019-05-15 17:02] sprucify commented on #1458
When I run manual queries in AppSync, I get only results for weeknumber 1 - 10
As soon as I query weeknumber 11 or higher I get zero results back.
Double checked inside dynamo table, and it contains records with weeknumber 11 - 52

[2019-05-15 17:06] zjullion commented on #1310
Found my own solution: https://github.com/aws-amplify/amplify-cli/issues/80#issuecomment-492428916

[2019-05-15 17:06] vparpoil commented on #1458
[This is the standard behavior of dynamoDB scan](https://docs.aws.amazon.com/fr_fr/amazondynamodb/latest/APIReference/API_Scan.html):

**Also, default limit is set to 10 by amplify generated resolvers**, so you should pass `limit : 53` to your queries to be safe.

You need to use Query on indexes to avoid this behavior. In your use case, I believe you should index dynamoDB with the `weeknumber` ke

[2019-05-15 17:09] vparpoil commented on #1453
For your first point, Leave a +1 here: https://github.com/aws-amplify/amplify-cli/issues/836

[2019-05-15 17:14] sprucify commented on #1458
But why is this only returning items with weeknumbers between 1 and 10?

[code]

[2019-05-15 17:24] mdw2000 opened #1459 "Custom lambda resolver - datasource issue"
Hi there,

I'm having trouble configuring a custom resolver targeting a Lambda function - it seems the Data Source is not being created correctly although the push completes successfully.

I followed this section of the documentation to add a lambda function with a custom resolver

https://aws-amplify.github.io/docs/cli/graphql?sdk=js#add-a-custom-resolver-that-targets-an-aws-lambda-function

I cr

[2019-05-15 18:13] #1447 closed

[2019-05-15 18:13] kaustavghosh06 commented on #1446
@dakeshi Yes, that's correct.

[2019-05-15 18:13] #1446 closed

[2019-05-15 18:31] kaustavghosh06 commented on #1450
@lorensr As a best practice - from the AppSync service, APIKeys should be used in development mode for a short period of time (7 days is recommended which Amplify provides as default). But if you want to customze it, you can use the various parameters available to you by Amplify. Take a look at this reference - https://aws-amplify.github.io/docs/cli/graphql#apikeyexpirationepoch
For your case, you

[2019-05-15 18:34] kaustavghosh06 commented on #1452
@willkara We're ready to merge the PR once the rebase is done by the PR owner. I've asked the PR author to rebase it and we'll merge it therafer.

[2019-05-15 18:36] lorensr commented on #1450
@kaustavghosh06 I'm seeing the below, which I imagine works with an existing valid api key? Mine is expired and gone from settings. I'm looking for docs saying how I can tell amplify about the new api key I created.

![image](https://user-images.githubusercontent.com/251288/57800063-70ff1400-771e-11e9-8d15-c11618e2276e.png)

[2019-05-15 18:37] kaustavghosh06 commented on #1450
@lorensr Did you create the API Key on the console?

[2019-05-15 18:41] kaustavghosh06 commented on #1450
In the 'parameters.json` file, did you update/add {"APIKeyExpirationEpoch": <your-epoch-for-api-key-expiry> }?
This should create a new API Key for you which will expire based on  the value to have in `<your-epoch-for-api-key-expiry>` field.

[2019-05-15 18:44] #1454 closed

[2019-05-15 18:46] kaustavghosh06 commented on #1455
@johnford2002 We submitted a fix for it but  the version is not published to NPM. Did you fork the repo and try it out?

[2019-05-15 18:48] willkara commented on #1452
@kaustavghosh06 Nice! Once the proxy support is added, what would need to be done for the self-signed cert to be fixed? I tried looking at the upcoming code and the Agent, but am unsure how to set an ignore on that.

[2019-05-15 18:51] ronaldwidha commented on #1430
Thanks @mikeparisstuff. I am hitting the same problem too. What's the best way to go about getting aws-amplify/cli build that has latest fixes?

[2019-05-15 19:13] kaustavghosh06 commented on #1453
@yareyaredesuyo Please find the answers inline to your questions out here:

1. What i found that everytime when using amplify push takes so long time and looks like checking everything and updating everything. Is there any way to reduce updating time?

Answer: We use Cloudformation nested stacks behind the scenes for all of our deployments. It is just one Cloudformation stack with all the resource

[2019-05-15 19:56] lorensr commented on #1450
Ah thanks, it's not clear to me from the docs that in the first and third cases, a new api key is created if the current has already expired.

[2019-05-15 20:22] ChrisChares opened #1460 "Codegen Model Types"
**Is your feature request related to a problem? Please describe.**

It's frustrating that codegen doesn't generate typescript model types.  If I define a @model in my schema consisting of:

[code]

Codegen will generate literally thousands of lines of code.  For example:

[code]

But it never generates a simple `Room` model interface. We have to create and maintain this manually.  **Why?** Is ther

[2019-05-15 20:48] zoumengguang opened #1461 "amplify push error on auth resource"
**Describe the bug**
A clear and concise description of what the bug is.
I am currently trying to add an auth component to my app via Amplify CLI but I am getting the following error when trying to push the auth creation to the cloud:

`Resource Name: UserPoolClientLambda (AWS::Lambda::Function)`
`Event Type: create`
`Reason: The runtime parameter of nodejs6.10 is no longer supported for creating

[2019-05-15 20:51] kaustavghosh06 commented on #1461
I beleive this auth resource was created with previous versions of the CLI, before we upgraded our default Cloudformation tempaltes to Node 8.10. Here's a quick migration guide out here - https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth

[2019-05-15 21:02] zoumengguang commented on #1461
Nice, that fixed it. Thanks!

[2019-05-15 21:05] #1461 closed

[2019-05-16 00:44] waltermvp commented on #199
I am experiencing similar behavior but with notifications. Operation status is always `Create`

[2019-05-16 02:23] mikeparisstuff commented on #1456
What changed between deployments? If you changed something that will cause the underlying structure of the GSI created by an @connection to change then there is a known issue that will cause the stack update to fail. This is being solved by a new @key directive. To avoid this issue, try adding new @connection's and then removing old ones after pushing one time instead of trying to change a @connec

[2019-05-16 08:48] sprucify commented on #1458
Ok the dynamoDB scan function indeed first limits the results and apply the filtering on that subset, this is not a very helpful order in my opinion.

You wouldn't believe the reason behind why I'm only getting back records for week 1 to 10.
My total table size is 5,56MB
Divide this bij 52 weeks and I'm on 0.1MB per week.
Times 10 and I'm on 1MB which is unbelievable the maximum data size for the

[2019-05-16 09:38] vparpoil commented on #1458
If you need to download 5MB of data, you can use a recursive approach. Here is a draft of how it looks like:
[code]

[2019-05-16 10:03] sprucify commented on #1458
Ideally I don't want the full 5MB, but only the records for the current weeknumber.
Can I somehow increase DynamoDB scan limit of 1MB?

[2019-05-16 10:29] matthieunelmes commented on #91
@davidfarinha Yes the way I did it, I had to stop using the `amplify push` method and associated codegen which meant I had to manually add filters and hook up query and mutation resolvers manually in the AppSync schema dashboard.

This method is obviously disgusting as any future `amplify push` would wipe out any changes. But it was the only way I could get it to work without the CLI throwing a ta

[2019-05-16 10:32] dogsonacid commented on #91
@matthieunelmes any chance of puting together a quick guide of how/what you did - this thread is so long it's hard to know what's what now

[2019-05-16 10:42] matthieunelmes commented on #91
@dogsonacid I'll take a look this eve. I'll need to spin up a project from scratch to confirm exactly what I did as it took a lot of trial and error. Also, I think a new version of the CLI has been released although I can't see anything about m-2-m in the changelog

[2019-05-16 11:28] wizawuza commented on #1458
I don't know enough about DynamoDB but can't you do a Query vs. a Scan to help achieve this, and then do a filter accordingly? The only problem is that you'd have to make sure you have an index on 'weeknumber' as a Query with filter requires that.

I believe that's why with a normal Scan you can do any sort of filters in GraphQL - it always scans everything and then filters from there, so no index

[2019-05-16 11:33] wizawuza commented on #1458
I don't know enough about this directive, but maybe @key may be useful to you (#1463) when it is complete.

[2019-05-16 11:35] et304383 commented on #994
Why are motives constantly questioned by the Amplify team?  Give the option to enable encryption on the buckets and move on.  It doesn't matter why we want to do this.

[2019-05-16 12:39] willkara commented on #1426
@kaustavghosh06 Is the team envisioning something where you could define your own stacks/CFTs, include them in a directory and reference them in the parent build-stack?

[2019-05-16 14:15] jmandivarapu1 opened #1465 "Amplify Publish Not Reflecting Changes"
**Describe the bug**
A clear and concise description of what the bug is.
I have Amplify Setup in my application which is working previously.
Now Yesterday I made change and did amplify publish...Everything is successfully but changes didn't got reflected in the live website.

**Debuging**: So to debug myself I went to the bucket in s3 and looked at the files manually and it's updated files with th

[2019-05-16 15:50] ritesh opened #1466 "CREATE_FAILED: UserPoolClientLambda unsupported nodejs runtime"
**Describe the bug**
I'm trying to build a brand new test angular application and it appears that
`amplify push` fails when trying to create a lambda function using an EOL runtime.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new angular app
2. Follow instructions here: https://aws-amplify.github.io/docs/js/angular
[code]
3.  See console output
[code]

[2019-05-16 16:31] johnford2002 commented on #1455
@kaustavghosh06 - can you point me to the fix? It doesn't appear to be in master. I was able to get past our issue for the moment by patching the area I linked above and returning just an empty object. I'll admit though that I'm not sure if that would fully solve the problem for use cases outside my own.

[2019-05-16 16:37] johnford2002 commented on #1455
Found it here:
https://github.com/aws-amplify/amplify-cli/commit/0c2e2d18748b31ccb3e98a1b6cbbde41d653314d

You took the approach of handling it by not calling the underlying AWS method if there wasn't a config returned. I'm reasonably confident that would have also addressed the issue, but I still dislike having an async method return undefined. Personal preference though, so no real complaint fro

[2019-05-16 18:41] zfarrell opened #1467 "Error/Stacktrace on `amplify push` - auth token timeout?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Describe the bug**
After running `amplify push`, i see the normal cloud formation output, for example:

However, un-expectedly it stops with an error:
[code]
This happened right around then, so i'm guessing this is an edge case where the security token expired while polling for logs?

**To Reprodu

[2019-05-16 18:58] adamup928 opened #1468 "Swift codegen doesn't add S3 wrapper"
**Describe the bug**

When running `amplify codegen` on a Swift project, the S3 wrapper code is not added for complex object types.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a Swift Project with Amplify.
2. Add an AppSync API that has a schema with complex S3 objects.
3. Run `amplify codegen`.
4. S3 wrapper code is not present in the generated API.swift file.

**Expected beh

[2019-05-16 19:25] kaustavghosh06 commented on #1466
I beleive this auth resource was created with previous versions of the CLI, before we upgraded our default Cloudformation tempaltes to Node 8.10. Here's a quick migration guide out here - https://aws-amplify.github.io/docs/cli/lambda-node-version-update#auth

[2019-05-16 19:25] #1466 closed

[2019-05-16 19:26] kaustavghosh06 commented on #1465
@jmandivarapu1 Cloudfront doesn't immediately invalidate it's cache. If you want to immediately invalidate the cache, you would want to use the `-c` flag with the `amplify publish` command.

[2019-05-16 19:27] #1465 closed

[2019-05-16 19:28] kaustavghosh06 commented on #1467
@zfarrell Yes, you're right...your security token expired while the push command was executing. You might want to replace your security token and run the `push` command again. Feel free to re-open or comment on this issue if you're still stuck.

[2019-05-16 19:30] kaustavghosh06 commented on #1468
@adamup928 Could you please share your annotated GraphQL schema so that we can reproduce the issue?

[2019-05-16 19:32] kaustavghosh06 commented on #1450
Okay, I'll create an internal request for updating the docs to reflect this. Thank you for bringing this up!

[2019-05-16 19:32] #1450 closed

[2019-05-16 19:32] kaustavghosh06 commented on #1426
@willkara Yes, that's correct.

[2019-05-16 19:34] kaustavghosh06 commented on #1442
@lowercase00 Were you checking for changes in your cloudfront instance or S3 instance?

[2019-05-16 19:34] adamup928 commented on #1468
@kaustavghosh06 -

Sure, here is a sample schema I copied from the AppSync console:

[code]

[2019-05-16 19:35] zfarrell commented on #1467
Isn't amplify managing the security token?

I configured it to use one of my profiles, but i don't have any explicit security token set.

[2019-05-16 19:36] kaustavghosh06 commented on #1467
Are you deploying via Amplify console or locally on your machine?

[2019-05-16 19:37] zfarrell commented on #1467
locally on my machine

[2019-05-16 19:37] kaustavghosh06 commented on #1467
Also, I beleive your profile is using 2FA or some other mechanism which is rotating you accessKey and secretKey periodically?

[2019-05-16 19:38] zfarrell commented on #1467
the profile is using the `assumeRole` configuration. but no 2FA.

[2019-05-16 19:39] kaustavghosh06 commented on #1467
Okay, and do your accessKey and secretKeys change periodically?

[2019-05-16 19:40] kaustavghosh06 commented on #1467
@zfarrell If you upgrade to v 1.6.8 we initialize the client before every call, so even if you accessKey  & sceretKey changes in between, your requests should be fine. This is a recent change which we made and should solve for your use case.

[2019-05-16 19:40] zfarrell commented on #1467
They haven't changed yet. it's a new account (~30 days), so i setup the profile the first time and haven't changed since.

[2019-05-16 19:42] kaustavghosh06 commented on #1467
Can you upgrade to 1.6.8 and see if you can reproduce this issue? I'll re-open the thread for you to comment on it and then close it out.

[2019-05-16 19:42] kaustavghosh06 commented on #1453
Please feel free to comment or re-open this issue if you have more questions regarding your questions! Thanks.

[2019-05-16 19:42] #1453 closed

[2019-05-16 19:48] zfarrell commented on #1467
I'm guessing here, but when amplify streams the cloudformation logs after running `amplify push` wouldn't you be using the same client? or do you literally have to poll for each update and each request is a new client?

Regardless, I'm not going to be able to reproduce this issue. I would have to:
1. find the token (no idea where that is as i'm not managing it)
1. determine the token expiration (a

[2019-05-16 20:19] yuth commented on #1460
@ChrisChares GraphQL supports having only a subset of selection in each query and codegen generates this code so that the type has only the chosen selection set in the type of that operation.

We will put this in the backlog to use Typescripts advanced Pick types
`type Pick<T, K extends keyof T>`

[2019-05-16 20:19] kaustavghosh06 commented on #1467
@zfarrell How it works is that we periodically poll (every 10 seconds), AWS Cloudformation for your stack status after a push command is pusshed,.So with this change in the latter versions of the CLI, we instantiate a new client for every "poll" call we make to Cloudformation. So  even if there's a change in the secruity token in the middle of your push command execution, the client should be able

[2019-05-16 20:24] zfarrell commented on #1467
👍 sounds good, thanks for the clarification. It sounds like this edge case should be resolved with the latest version then.

[2019-05-16 20:24] #1467 closed

[2019-05-16 20:44] ChrisChares commented on #1460
@yuth thanks for the quick response.  `Pick` types sounds great.

I figured the request-only-what-you-need nature of Graphql had something to do with the current implementation.

Out of curiosity though, does that make sense in light of the fact that every one of a given model's fields are already included in all the auto generated queries and mutations (if sufficient depth)?

Yes these full auto

[2019-05-16 20:53] yuth commented on #1460
The auto generated statements are meant to be used as starting point for an application and we expect them to either customize or add additional statements by adding new files to `src/graphql` folder. So I would prefer to take `Pick` approach.

[2019-05-16 20:55] ChrisChares commented on #1460
Sounds good, thanks for the explanation.

[2019-05-16 21:04] zfarrell opened #1469 "How to override a stack to add custom GSI?"
** Which Category is your question related to? **
API

** What AWS Services are you utilizing? **
AppSync, DynamoDB

** Provide additional details e.g. code snippets **
I need to add a GSI to a table that was created by amplify/appsync which i'll then use in a custom resolver. I'm aware of #1062, but need something now.

I was hoping that I could simply copy the stack from `amplify/backend/api/MyA