[2021-10-03 10:31] Peng-Qian opened #8347 "cli.json is case insensitive and it is really hard to read"
### Is this related to a new or existing Amplify category?

New category

### Is this related to another service?

amplify_flutter

### Describe the feature you'd like to request

Hi teams,

The generated file cli.json in flutter are case insensitive, it is really hard to read

[code]

### Describe the solution you'd like

camel case will be good solution, I believe most developers will happy with

[2021-10-03 14:03] zlintz commented on #8185
So much better without the lines, hopefully others agree

[2021-10-03 16:01] JoseMiguel09 commented on #7934
Hi. Same issue. Thaks for Workaround.

[2021-10-03 18:19] royalcala opened #8349 "error when I try to delete a function layer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-03 21:00] lawmicha opened #8350 "GraphQL List Query name changed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-03 21:35] lawmicha commented on #8350
@attilah RE: https://github.com/aws-amplify/amplify-cli/issues/4224#issuecomment-639757767

what is the feature flag with the fix? Do we need the same feature flag in the library that corresponds to the CLI's feature flag so that developers can upgrade both at the same time?

[2021-10-04 01:09] phani-srikar opened #8351 "Amplify env checkout falls out of sync when a resource is updated in another environment"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-04 02:31] mjohnson159 commented on #8178
Also getting this using amplify-cli npm package version 4.3.1 which is amplify version 5.3.1. Is there work in progress to remove these dependencies? I hate seeing a giant wall of deprecation warnings on my otherwise up-to-date packages.

[2021-10-04 08:01] sebsto commented on #8350
my workaround at the moment is to comment out the `.pluralize()`call at line 19 here
https://github.com/aws-amplify/amplify-ios/blob/v1.14.0/AmplifyPlugins/Core/AWSPluginsCore/Model/Support/ModelSchema%2BGraphQL.swift#L19

[2021-10-04 10:16] ivadenis commented on #3780
+1

[2021-10-04 10:34] prachijaveri commented on #8266
We are running into the same issue and our prod deployments are blocked due to this. Can you please suggest a fix for the same.

[2021-10-04 11:46] henobi commented on #8266
We fixed that issue by removing the lambda code which sets the social login from the CloudFormation file and configuration everything by cloud formation on our own.

[code]

Now everything is working perfectly fine for us.
I hope that helps you!

[2021-10-04 13:34] PatrykMilewski commented on #1774
It would be nice to have this feature

[2021-10-04 14:50] josefaidt commented on #8351
Hey @phani-srikar :wave: thanks for raising this! To clarify, are each of these two environments tied to a corresponding git branch?

[2021-10-04 15:14] akshbhu commented on #7839
Closing in favour of https://github.com/aws-amplify/amplify-cli/pull/7671

[2021-10-04 15:14] #7839 closed

[2021-10-04 15:15] josefaidt commented on #8352
Hey @oliverschenk as @chrisbonifacio mentioned, thanks for raising this 🙂 , this looks to be a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7582 which also links back to https://github.com/aws-amplify/amplify-cli/issues/7576#issuecomment-865912228. Can you confirm this is what you are encountering?

[2021-10-04 16:21] phani-srikar commented on #8351
Hi. No they are on the same branch. I am not using hosting.

[2021-10-04 16:25] increasifydev opened #8353 "amplify cmd error response"
amplify version
ENOENT: no such file or directory, stat 'emulator'
Error: ENOENT: no such file or directory, stat 'emulator'

[2021-10-04 16:25] #8353 closed

[2021-10-04 16:48] renebrandel commented on #6217
@PeteDuncanson  - `@index` will create a new access pattern for the particular model. It's "as if" you created a global secondary index on the DDB table. Previously this was done via the `@key` directive if you've specified both the fields and a key name. This essentially helps you optimize your data access patterns. Potentially something like `@query` (also another overloaded term, could be bette

[2021-10-04 16:49] renebrandel commented on #6217
@kjones  - what's your particular use case where you'd need a GSI on the owner field? Like what access patterns / customer scenario are you trying to achieve? That'll help me better understand how we want to incorporate something built-in by default.

[2021-10-04 18:03] josefaidt commented on #8351
Hey @phani-srikar thanks for clarifying! The [multi-environment workflow](https://docs.amplify.aws/cli/teams/sandbox/) relies heavily on git to prevent unwanted/unintentional changes to your project's backend resources. Despite this, it is interesting that you are not seeing an update to your exports file after an env checkout and resource update.

Ideally the exports file is updated after a succe

[2021-10-04 18:47] josefaidt commented on #8350
Hey @lawmicha :wave: thank you for taking the time to raise this with details! Using the posted example I was able to observe the noted error. However, I do see where this can cause further issues.

If attempting to use the following schema:

[code]

We'll receive the following error when attempting to push or run `amplify api gql-compile`

[code]

Which, although not explicitly noting there is a

[2021-10-04 18:57] lawmicha commented on #8350
hey @josefaidt, thanks for taking a look. I'm still trying to figure out how to solve the following:

- New projects using latest CLI cannot use Amplify iOS library because the flag is true by deafult. iOS library constructs the name as `"list" + typeName + "s"`, not `"list" + plurnalName`.

- If the library fixes this, existing developers cannot take an upgrade to the iOS library because their AP

[2021-10-04 19:12] josefaidt commented on #8337
Hey @CGarces thanks for clarifying! It seems as if we need to start the virtual env for this Python Lambda. Using the following example steps, are you able to successfully mock the Lambda?

[code]

reference: https://docs.amplify.aws/guides/functions/dynamodb-from-python-lambda/q/platform/js/

[2021-10-04 19:17] lawmicha commented on #8350
this is broken for Android as well https://github.com/aws-amplify/amplify-android/blob/main/aws-api-appsync/src/main/java/com/amplifyframework/api/aws/AppSyncGraphQLRequest.java#L159-L161

[2021-10-04 19:22] rolance commented on #304
Having to remember to manually rename each and every time isn't just a nuisance. It is a 'gotcha' step that is easy to miss.

[2021-10-04 19:50] josefaidt commented on #8349
Hey @royalcala :wave: thanks for raising this! This is due to missing `list:LambdaLayerVersions` permissions from the `amplifyadmin` role created by Admin UI, and is being actively tracked by this issue: https://github.com/aws-amplify/amplify-adminui/issues/329

To mitigate in the meantime, please use a local AWS profile with `AdministratorAccess-Amplify` permissions. This can be changed in your a

[2021-10-04 20:35] josefaidt opened #8356 "Default editor is shown as `undefined` after project initialization"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-04 20:46] marcvberg commented on #8305
Hi @callmekatootie, for the time being writing a custom resolver is a valid solution, if you're willing to put in the time you could also write a custom transformer plugin that could accomplish the same task.

We'll also mark this down as a feature request for the future

[2021-10-04 20:52] marcvberg commented on #8321
Hi @MichaelKilbane,

We have a feature flag that's meant to help with this, could you take a look at https://docs.amplify.aws/cli/reference/feature-flags/#breakCircularDependency and let us know if it fixes it for you?

[2021-10-04 21:08] marcvberg commented on #8324
Hi @ryanhollander,

We can't show what text is in the response in the terminal due to security concerns, but we will add this as a feature request with validation to check for cases such as empty input.

[2021-10-04 21:15] marcvberg commented on #8335
Hi @jaubrey-ebar,

Is this something you could use with our command hooks, documentation here? https://docs.amplify.aws/cli/usage/command-hooks/

As a sanity check you could take the script and make it a component of the push process

[2021-10-04 21:19] marcvberg commented on #8311
Hi @aprilmintacpineda,

Could you describe your use case for us? One option to prevent unwanted reading of a given field would be to set up field auth rules for that if you want to restrict it. Here's a link to our documentation https://docs.amplify.aws/cli/graphql-transformer/auth/#field-level-authorization

[2021-10-04 21:33] jaubrey-ebar commented on #8335
I'm an amplify noob so it's possible, but I don't think it fits my current workflow beyond adding it to a pre-build hook.  It might help some people that way though amplify startup is painfully slow so I'd rather just run the validation before amplify starts.

For example (ignoring startup speed), if I want to add a new feature like addWidgets to my existing API then I'd create a SQL table and sto

[2021-10-04 21:57] lawmicha commented on #8350
Thanks @yuth ! Latest on this is..

`amplify codegen models` can generate schema with `listPluralName` and `syncPluralName`
[code]

Library code can use this information if it exists, otherwise, fallback to `pluralName`
[code]

- new developers with the feature flag enabled will model gen the schema with `listPluralName` and `syncPluralName`
- existing developers will continue to use `pluralName`

[2021-10-04 22:11] lawmicha commented on #8350
@josefaidt  can we set `improvepluralization` to false for new developers until the necessary codegen and library changes are in? This "stops the bleeding" and instead of telling developers to update their cli.json to make things work, we can tell them to upgrade the CLI version. Developers that are looking for this feature can set it to `true` as per feature flag documentation.

[2021-10-05 01:22] oliverschenk commented on #8352
Hi @josefaidt my apologies you are correct it is the same issue as #7582.

[2021-10-05 02:14] hisham opened #8359 "IP Address supplied by amplify mock is not a valid ip address"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-05 02:24] hisham commented on #8359
Is this code in https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-appsync-simulator/src/schema/appsync-scalars/index.ts correct?

An IPV6 address needs to first pass the IPV4 check??? I think we just need to add an else here...

[code]

[2021-10-05 02:38] krikork commented on #8271
Thanks @jhockett!

[2021-10-05 06:37] MichaelKilbane commented on #8321
Hi @marcvberg,

Yes, that feature flag is enabled and has been since the project was initialised (created after it became the default).

This seems to be an issue with the environment creation code that may recursively check the dependencies of each resource without a stopping condition.

[2021-10-05 06:59] aprilmintacpineda commented on #8311
Nice, the field level authorization will do the job. Thanks!

[2021-10-05 06:59] #8311 closed

[2021-10-05 07:01] aprilmintacpineda opened #8360 "Global variables for lambda functions"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

Lambda function

### Describe the feature you'd like to request

Cloudformation has https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-specification-template-anatomy-globals.html where you can define environment variables for ALL your functions rather than

[2021-10-05 08:22] Olivier-STMicroelectronics opened #8361 "Amplify init behind a proxy (Ex: Zscaler)"
Do you have guidelines to be able to run "amplify init" command for people behind a company proxy like Zscaler?  I'm facing the error below.
I'm working on Windows 10 in a "cmd" terminal. I have set HTTP_PROXY, HTTPS_PROXY, http_proxy and https_proxy.
Thank you

[code]

[2021-10-05 08:28] nathanagez commented on #8216
Hi, I noticed the same behavior on my side, it's annoying since I need to push new lambda layer versions each time, even if I did not updated them.

It only happens when changing environment.

[2021-10-05 08:33] Olivier-STMicro commented on #7329
Hi Rob, did you find a workaround?

[2021-10-05 10:07] khacminh commented on #8266
After a while, updating my amplify and felt into this pitfall. Keep receiving this kind of error over and over again.

[2021-10-05 11:24] CGarces commented on #8337
Hi @josefaidt
Partially works after do this workaround:

[code]
So `pipenv = "*"` is needed on Pipfile in my case.

[2021-10-05 13:21] evanlarkin10 commented on #8266
I fixed this by running amplify auth update -> Update social providers and re-entering my google web client id and secret. It deployed fine after that.

[2021-10-05 13:33] josefaidt commented on #8337
Ah that's good to hear you're up and running. Did that alleviate the issue you were experiencing all together?

[2021-10-05 14:37] hrqmonteiro opened #8362 "Any documentation on how to use the Token for pagination (Admin Actions API)?"
**Which Category is your question related to?**

Questions

**Amplify CLI Version**

6.1.0

**What AWS Services are you utilizing?**

Cognito, Amplify

**Provide additional details e.g. code snippets**

I am following this tutorial: https://docs.amplify.aws/cli/auth/admin/#enable-admin-queries
For using the API requests related to the `listUsers`

And i did it, like this:

[code]

And, okay, it is

[2021-10-05 15:33] CGarces commented on #8337
Partially
I'm not sure why pipenv is needed as dependency, and I can't debug on VSCode, but maybe must be handled as a different issue, so  I'll close this.
Thanks @josefaidt for your support.

[2021-10-05 15:33] #8337 closed

[2021-10-05 16:09] rjenks commented on #7329
No, our Amplify users are using a traditional VPN instead of zScaler due to this issue.

[2021-10-05 16:17] khacminh commented on #8266
Hi @evanlarkin10

Your solution did help. You saved the day! Thanks a lot.

[2021-10-05 16:21] marcvberg commented on #8302
Closing as we will not revert the changes made, and `amplify env checkout` gives the desired behavior

[2021-10-05 16:24] renebrandel commented on #8347
Hi @Peng-Qian - thanks for the feedback!

The cli.json is an "advanced" capability just for feature flag management. We don't have any plans right now to change the casing because the time spent in this file should be minimal at best. Unless others feel passionate about this, I'll happy to re-open. @-mention me if you have any further questions.

[2021-10-05 17:35] josefaidt commented on #8323
Hey @biztems :wave: thanks for raising this! And I'm glad to hear you're back up and running despite the experience. I was not able to reproduce after mimicking the setup and took the following notes:

- tried using the `@auth` rules ran into this issue https://github.com/aws-amplify/amplify-cli/issues/5892
- removed auth rules and pushed with no auth successfully, then added the AppSync `@aws_api

[2021-10-05 17:46] u93 opened #8363 "Unable to deploy new environment and using latest Amplify CLI version coming from v5.x.x"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-05 17:48] yuth commented on #8361
From the error it looks like the SSL the proxy might be using self signed SSL certificate. Could you install the self signed certificate as trusted certificate.

Another insecure work around which will disable certificate validation by setting environment variable `NODE_TLS_REJECT_UNAUTHORIZED` to `0`. This disables checks for SSL and use of this is **highly discouraged** .

[2021-10-05 17:56] josefaidt commented on #8317
Hey @Buder :wave: thanks for raising this, and sorry to hear about the experience while upgrading! To clarify, how was the project initialized locally? Are you able to step through `amplify init` and choose to use an existing environment?

[2021-10-05 18:24] yuth commented on #8363
@u93 could you include the generated auth Cloudformation template so I can see what lambda callout is failing and what code is being executed.

Do you remember what was the version of the Amplify CLI that you used to provision the auth category?

[2021-10-05 18:42] u93 commented on #8363
Hi @yuth ,

I think it was 5.1.1 but I can't be 100% sure. I also haven't tried to create a new environment in a while, so I do not know if this was not working well from even before...

Is this the one? I found it at amplify/backend/auth/{APP_NAME}/{APP_NAME}-cloudformation-template.yml

[code]

Thanks for the quick reply!

[2021-10-05 18:51] yuth commented on #8362
The above code should get second page when you call the `listUser` second time as the `nextToken` is set from the first request. If you want to load all the user in a loop you could try something like this.

[code]

__PS__: I would not recommend loading all users at once. The above code is not optimized and is for demonstration purpose.

[2021-10-05 21:35] josefaidt commented on #8088
Hey @Inkvi no worries! Thank you for the information and clarifications! Was this only one Lambda resolver that was impacted? Is this Lambda resolver attached to the API or is it a Cognito Trigger?

[2021-10-05 21:40] josefaidt commented on #8352
Hey @oliverschenk no need to apologize! It's worth the validation 🙂 and your notes are well detailed, thank you for that. I'll mark this as a duplicate and close in favor of tracking #7528. For further updates please subscribe to #7582

[2021-10-05 21:40] #8352 closed

[2021-10-05 22:10] kenmckaba commented on #8341
We have worked around the problem and switched to userpools instead of apikeys, so we won't try to completely understand the apikey problem or a solution.

Thanks for your generous support!

[2021-10-05 22:25] yuth commented on #8363
@u93 Thank you for the template. This issue is due to missing policy in the MFALambda role which was fixed in https://github.com/aws-amplify/amplify-cli/pull/7729. Could you try adding the following policy to your auth cloudformation and see if that fixes the issue. The part that you need to add is the policy with name `corecocf3573d0_sns_pass_role_policy`

[code]

[2021-10-06 05:22] callmekatootie opened #8366 "Override generated query"
**Which Category is your question related to?**

Graphql

**Amplify CLI Version**

6.0.0

**What AWS Services are you utilizing?**

Auth, Functions, Graphql, Storage

**Provide additional details e.g. code snippets**

I have a schema like this:

[code]

I understand that on amplify push, I automatically get the type Query, with `getFoo(id: ID)`. All well.

After a while, I wish to override this qu

[2021-10-06 05:24] callmekatootie commented on #8305
Got it. I was assuming till now that only VTL based resolver is the way to go but didn't know VTL that much... so wanted to verify if the generated VTL based resolver by the mock api function was good enough to be used as is - I take it as I indeed can do that.

[2021-10-06 09:17] piotrbud opened #8367 "venv is missing when deploying a new python lambda function using amplify push. The solution given in the error message does not work"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-06 09:43] ray415 opened #8368 "Error pushing backend updates after modifying @connection field in the schema"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-06 10:10] PeteDuncanson commented on #8113
Still avoiding deploying any custom 3rd party transformers that I know of due to this bug. Got caught out with a empty required field that I added to my schema that killed my last deploy, this would normally have been handled by the default transformer :(

[2021-10-06 13:07] ajayvohra2005 opened #8369 "Amplify CLI for amplify add auth does not support App Client Secret"
### Is this related to a new or existing Amplify category?

auth

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Currently, there is no mechanism to use Amplify CLI ```amplify add auth``` command and input an option to create Cognito User Pool App Clients with an App Secret.

### Describe the solution you'd like

Amplify CLI input for ```amp

[2021-10-06 13:18] josefaidt commented on #8341
Hey no worries @kenmckaba ! Glad to hear you've found a suitable solution and are back up and running 🙂 . Closing issue

[2021-10-06 13:18] #8341 closed

[2021-10-06 14:44] renebrandel commented on #8324
Hi @ryanhollander - thanks for suggesting this feedback! Unfortunately, we will not be able to enable this feature after reviewing with our Application Security team, therefore I'm closing this issue for now. Unless there's significant interest for this, we'll leave this issue as closed. Feel free to @-mention me anytime to discuss further.

[2021-10-06 14:44] #8324 closed

[2021-10-06 14:45] rohitRohi123 commented on #4744
open your .aws directory in mac it available at  path "user/username/.aws".
In that path you get two files i.e config and credentials. Here you can set a profile for an existing IAM user then you can initialize amplify with this profile.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

[2021-10-06 14:45] rohitRohi123 commented on #4744
open your .aws directory in mac it available at  path "user/username/.aws".
In that path you get two files i.e config and credentials. Here you can set a profile for an existing IAM user then you can initialize amplify with this profile.

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

[2021-10-06 17:28] #7974 closed

[2021-10-06 17:42] callmekatootie commented on #8366
Thank you for your quick response. I was not expecting it so soon, so I ended up taking the following approach:

[code]

Instead of `getFoo`, I defined a new query named `getFooBar`. And there was peace.

Now that I see your response, I tried your approach. I set `getFoo` to null in the type Foo definition and then in the query renamed `getFooBar` to `getFoo`.

But amplify didn't like it. The comp

[2021-10-06 18:30] ianog-eng opened #8370 "Cloud9 Admin UI browser authentication failing from CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-06 20:12] yuth commented on #8368
@ray415 to unblock could you do iterative deployments by
1. Removing the `@connection` directive first from the `product` field
2. Do an `amplify push`
3. Add the `@function` directive to product field
4. Do another push.

It would be helpful to have the complete project including the stack mapping if any to debug this issue. Could you share your project and by sending email to amplify-cli[@]amazo

[2021-10-06 21:02] yuth commented on #8363
I would recommend adding it.

[2021-10-06 23:21] yuth commented on #8366
@PatrykMilewski you are right. When you override a query, mutation or a subscription, you will have to specify the field names of all the operations that you are not overriding. So in this case the schema will look like if you want the list query to be generated.

[code]

[2021-10-07 06:58] piotrbud commented on #8367
@yuth Thanks for your response.

I managed to solve this by uninstalling and then installing virtualenv with the following commands:

1. pip uninstall virtualenv
2. pip install virtualenv

I got then other problems, but solved them by downgrading my python version from 3.9.* to 3.8.10

What got me confused was the reference to the nonexisting package **venv** and the message **'and available on yo

[2021-10-07 16:26] MontoyaAndres opened #8379 "Your socket connection to the server was not read from or written to within the timeout period"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-07 18:29] renebrandel commented on #6217
[code]

Something like this?

[2021-10-07 18:31] PeteDuncanson commented on #6217
Oh my....that reads beautifully. Yes. Just like that.

[2021-10-07 19:01] PeteDuncanson commented on #6217
but `@connection` (which I don't like currently) is getting binned for the nicer sytaxical sugar of `@hasMany` `@hasOne` etc. so it wouldn't be in the mix right?

I like that we are moving away from the language of the internals of DyanmoDB to instead make it easier to pick up (I came to AWS because of Amplify so I was a complete newbie to AWS land, this easier language is helping greatly with map

[2021-10-07 19:29] DarkestMisery opened #8394 "I can't do an amplify push"
Hi!, I have a little issue, I did an 'amplify add codegen --appId XXXXXXXXXXXXXXXXXX', then I tried to do an 'amplify push' but it didn't update my amplify publish domain and I haven't credentials in the publish domain. I just want to push my api to the amplify settings in the domain.

**Provide additional details**
I always do an amplify status to look what is the actual status of my app:

    Cu

[2021-10-08 00:43] Masami96 opened #8382 "Amplify Push - Cannot read property 'PhysicalResourceId' of undefined"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
CLI and iOS
specifically when running "amplify push" after adding datastore to iOS project

**Amplify CLI Version**
6.1.1

**What AWS Services are you utilizing?**
Amplify (Auth, Datastore)

**Provide additional details e.g. code snippets**
So I followed the tuto

[2021-10-08 01:56] mattfysh opened #8384 "CLI attempting to update container secrets for non-initial deploy"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-08 02:38] hisham opened #8386 "Use s3 transfer acceleration as part of amplify push"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

S3

### Describe the feature you'd like to request

amplify push is known to take a long time, and this gets even longer as lambda package sizes get bigger.

If the developer's computer is not near the s3 bucket that amplify uploads and downloads from (and with remote teams that is certai

[2021-10-08 07:10] michalpierzchlewicz opened #8389 "Authenticating IAM user on a Query or Mutation without giving permissions to AuthRole"
**Which Category is your question related to?**
API, Function

**Amplify CLI Version**
5.5.0

**What AWS Services are you utilizing?**
AppSync, Lambda

**Provide additional details e.g. code snippets**
I have a lambda function which is making an API request to my AppSync GraphQL API. I have granted this lambda function permissions to access the AppSync API. To be able to access any field on the Gr

[2021-10-08 08:41] SantoshRaoBlr opened #8391 "Amplify Console Build failing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-08 10:32] osddeitf opened #8392 "Bug: Lambda custom policies not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-08 10:57] #8391 closed

[2021-10-08 14:40] PatrykMilewski opened #8393 "Specify REST API including DynamoDB using config file"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

API (REST), Function, Storage

**Amplify CLI Version**

6.0.1

**What AWS Services are you utilizing?**

API Gateway + Lambda + DynamoDB

**Provide additional details e.g. code snippets**

Instead of going through very long process of defining the API schema in

[2021-10-08 14:55] dbeck121 opened #8395 "Prevent Public users from "list" a database table in GraphQL"
**Which Category is your question related to?**
GraphQl API Authorisations

**Amplify CLI Version**
6.2.1

**What AWS Services are you utilizing?**
GraphQL with App Sync

**Provide additional details e.g. code snippets**

Hi,
I created my database with amplify and it works pretty good. Unfortunately I can not find out how to solve one problem that I have. I searched everywhere but I did not found

[2021-10-08 17:12] ammarkarachi commented on #8392
@osddeitf Can you share your custom policies file? I tried it with 6.2.1 and don't see an error

[2021-10-08 17:52] 24jr opened #8399 "Terminal not observing sign in in browser from amplify admin ui"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consistently re

[2021-10-08 17:55] #8399 closed

[2021-10-08 18:41] andy-simpl opened #8400 "Question about deploying code to S3 buckets for AWS EMR"
**Which Category is your question related to?**

Storage

**Amplify CLI Version**

6.1.0

**What AWS Services are you utilizing?**

S3, EMR

**My Question:**
I have a hive script (That I'll be running on AWS EMR) that I'd like to deploy to S3, but I'd like to keep the script version controlled along with my Amplify app. Ideally I'd like to keep this file alongside all my other code as it might cha

[2021-10-08 20:22] dbeck121 commented on #8395
Hi @yuth,

that  helps a lot. I found now the following in the docu:
https://docs.amplify.aws/cli/graphql-transformer/auth/#definition

`# The following objects are deprecated. It is encouraged to use ModelOperations.
enum ModelQuery { get list }
enum ModelMutation { create update delete }`

Is there any information how long they are safe to use or is ther a replacement? The ModelOperations lack t

[2021-10-08 22:51] yuth commented on #8394
@DarkestMisery When you do `amplify add codegen --appId XXXXXXXXXXXXXXXXXX`, amplify CLI uses this information to download the GraphQL Schema from the AppSync API to generate code. What do you mean by

If the issue is the status showing `Create` for the API, then it should change when there is an actual change that needs deployment. When its a codegen external API, and no other changes, Amplify CL

[2021-10-08 23:10] Masami96 commented on #8382
Hey @yuth thanks for the response!

From my understanding I was simply adding a few new fields as described below.

The content of: <project-root>/amplify/backend/api/<api-name>/schema.graphql
type UsersV0 @model @auth(rules: [{allow: public}]) {
  id: ID!
  user_email: String
  user_pw: String
}

type User @model @auth(rules: [{allow: public}]) {
  id: ID!
  email: String
  name: String
}

type C

[2021-10-08 23:39] yuth commented on #8379
We have multiple reports of this issue but haven't been able to reproduce this. Are you behind a proxy or on a metered connection (which is slow). I am marking this as duplicate of https://github.com/aws-amplify/amplify-cli/issues/4113. Feel free to update that issue with more details

[2021-10-08 23:39] #8379 closed

[2021-10-09 01:45] mojodna opened #8405 "[Geo] `amplify add geo` generates unexpected keys in `aws-exports.js` (`amazon_location_service` vs `AmazonLocationService`)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-09 03:08] akshbhu commented on #8321
Hi @MichaelKilbane

I am not sure how your  ```backend.config.json``` file got into that state. Is there any other steps you have done apart from the steps mentioned below.

Here are steps I tried :

- `amplify** add auth` and selected post confirmation function

[code]

- amplify update function to add dependency on API

[code]

- amplify update function to add dependency on auth

[code]

Error t

[2021-10-09 03:34] osddeitf commented on #8392
I already shared it above, but this is how I reproduced it just now:
1. Update amplify-cli from v6.1.1 to v6.2.1
2. Run `amplify push`, it was success, but the custom policy I added to `<function-name>-cloudformation-template.json` get deleted:
[code]
3. I add `custom-policies.json` with the following content:
[code]
4. Run `amplify push` again, after `Uploading files...` log, it resulted in the f

[2021-10-09 03:52] osddeitf commented on #8392
This may be due to wrong usage of `ajv`, in `packages/amplify-cli-core/src/customPoliciesUtils.ts`:
[code]
According to ajv [docs](https://ajv.js.org/json-schema.html):
Array type has no `additionalProperties`, and object type has no `optionalProperties`.

[2021-10-09 04:10] osddeitf commented on #8392
The above schema `CustomIAMPoliciesSchema` works fine with `ajv@6.12.6`, but not with `ajv@8.6.3`. Looks like somehow the dependencies were wrong.

[2021-10-09 04:19] ptejada commented on #6217
I think `index` is a common term in relational databases. However, I always see the phrase access patterns around the current `@key` and the next `@index` directives. Whenever I see this phrase `query` comes to mind. You are basically creating a way to query your data so I will also be fine if the directive is called `@query` as I saw in some previous comments. I am not really sure what an overloa

[2021-10-09 05:40] osddeitf commented on #8392
I think I found the problem:
- `CustomIAMPoliciesSchema` defined in `packages/amplify-cli-core/src/customPoliciesUtils.ts`, and `amplify-cli-core` packages has `ajv@^6.12.3` as dependencies.
- `CustomIAMPoliciesSchema` is used in `packages/amplify-provider-awscloudformation/src/pre-push-cfn-processor/cfn-pre-processor.ts`, but `amplify-provider-awscloudformation` has no `ajv` dependencies.
- So mo

[2021-10-09 08:19] togami2864 opened #8407 "Describe the version of node contributors should use in CONTRIBUTING.md"
### Is this related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Currently, CONTRIBUTING.md does not specify which version of node should be used by Amplify-CLI contributors.
This led to the following problems.

## OS
macOS

## 1. [node v15.0.0 ~ ]
When I commit the changes, hooks will

[2021-10-09 10:49] kldeb commented on #6217
While I agree that the language used in amplify needs to be approachable for new devs it also needs to point to the underlying technology.

Index is close to gsi so makes most sense to me.

There are cases where you may want to use an index to make a connection between types but not expose a query to the ui.

[2021-10-09 11:42] callmekatootie opened #8408 "Getting user attributes from currentAuthenticatedUser() function when user signs in through Google"
**Which Category is your question related to?**

Auth / Cognito

**Amplify CLI Version**

6.0.0

**What AWS Services are you utilizing?**

Auth / Cognito

**Provide additional details e.g. code snippets**

In my app, the user can sign in using Google. I use `Auth.federatedSignIn({ provider: "Google" })` to login. This works fine.

Problem is when I need to read the user's attributes. As per [the d

[2021-10-09 14:19] sufyanghazali opened #8433 "AppSync with Amplify"
**Which Specific Feature is your question related to?**

Adding API to Amplify app

**Provide additional details e.g. code snippets**
Hi, I've been trying to connect an existing appsync api to an amplify app. Everything works locally but when I run "
amplify push" to update it in the cloud, the api doesn't get pushed along with it.

[2021-10-09 16:44] thiskevinwang commented on #3929
FYI: SiWA has been added to the CLI `auth` category
- https://aws.amazon.com/about-aws/whats-new/2021/07/aws-amplify-now-supports-sign-in-with-apple/

[code]

[2021-10-09 17:18] j-mastr opened #8410 "Fill field value from related entity on GraphQL entity creation"
**Which Category is your question related to?**
API (GraphQL)

**Amplify CLI Version**
6.2.1

**What AWS Services are you utilizing?**
AWS Amplify, DynamoDB, AppSync

**Provide additional details e.g. code snippets**
In our application, we would like to fill a models field value on item creation from a related model.

Imagine the following graphql schema:

[code]

So each Job belongs to a Subsidia

[2021-10-09 18:58] maziarzamani commented on #704
I am surprised this feature is not supported yet.

[2021-10-09 19:17] johnpc commented on #8350
Hey @lawmicha I am a bit confused about this issue report - hopefully you can provide clarification.

First, it looks like there are two issues described here.

**The first** is that, if you create two models, one called `Wish` and one called `Wishes`, there is a `Error: Object type extension 'Query' cannot redeclare field listWishes` error when attempting to create graphql queries for these field

[2021-10-09 23:08] MichaelKilbane commented on #8321
Hi @akshbhu,

I believe I added the dependency between the Post-Confirmation Lambda and the User Pool at some stage, however, this is a [documented use case](https://docs.amplify.aws/cli/usage/customcf/#3-optional-reference-existing-parameters). I'm not sure how the template code for the "Add user to group" functionality is supposed to run without access to the User Pool ID.

Once deployed, the la

[2021-10-10 02:09] mattfysh opened #8412 "v6.3.0 breaks container deployment"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-10 04:29] sean2gh opened #8413 "An error occurred during the push operation: EPERM: operation not permitted, copyfile /amplify/.temp/#current-cloud-backend/amplify-meta.json"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-10 04:43] sean2gh commented on #8413
I fixed it by copying a .temp folder #current-cloud-backup into my amplify directory and its working now.

[2021-10-10 04:43] #8413 closed

[2021-10-10 08:33] mattfysh commented on #7614
Hi, hooks don't seem to survive checking out a new environment. e.g. I have `dev` checked out... create my hooks, run a push and verify they work, commit my hooks to the `dev` branch

Then I checkout prod according to the docs

[code]

But the hooks are no longer there

[2021-10-10 16:31] akshbhu commented on #8321
Hi @MichaelKilbane

When you add the the post confirmation lambda via `amplify add auth` , amplify automatically adds a dependency between post-confirmation lambda and userpool. Amazon Cognito passes event information to your PostConfirmation lambda  function which returns the same event object back to Amazon Cognito with any changes in the response
[code]

you can get more information here: https

[2021-10-10 17:05] kaustavghosh06 commented on #7614
If you're using the git based flow, you'd also have to git merge from your dev branch to prod.

[2021-10-10 17:44] acusti opened #8414 "Unable to restrict API access to REST route with imported auth"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-11 01:24] samjett247 commented on #5566
Found a hack to make amplify stop building all these nondependent-dependencies into my Python functions. **This will only work for functions that do not have any dependencies that aren't already provided in lambda layers**, as it just completely stops the function build process. There is an amplify.state file inside of each function. If you don't want amplify to build your function, modify the `am

[2021-10-11 11:41] dbeck121 opened #8418 "Difference between non existing field and null. Problems with key fields in GraphQL Mutation Query"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

GraphQL

**Amplify CLI Version**

6.3

**What AWS Services are you utilizing?**

AppSync
DynamoDB

**Provide additional details e.g. code snippets**

Hi,

for a connection, I have a key field in my graphql schema:

[code]

When creating a Lead but I do not want

[2021-10-11 13:38] DarkestMisery commented on #8394
Hi!, thanks for answer.

Yes, when I do `amplify add codegen --appId XXXXXXXXXXXXXXXXXX` it generates the GraphQL from the API and the status set on `Create` but when I do `amplify push`, It doesn't update correctly, as you say.

My localhost works fine, all the backend config is doing great but the publish domain doesn't works, it responses a 404 Error `No grapql endpoint provided` and the proble

[2021-10-11 16:15] jaustinpage opened #8420 "amplify python lambda mock does not mock context"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-11 16:41] Shomari opened #8422 "Custom required attribute for auth"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Auth

**Amplify CLI Version**
6.1.1

You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Cognito

**Provide additional details e.g. code snippets**

I want to create a custom attribute, zipcode, for w

[2021-10-11 19:12] edwardfoyle commented on #8410
Hi @j-mastr there are a few options you can consider.

The first is to look up the employer id of the subsidiary before creating a job and then create the job with the resulting employer id. This would not enforce the employer id is correct on the service side but should be straightforward to implement.

The second option is to use a [lambda resolver](https://docs.amplify.aws/cli/graphql-transform

[2021-10-11 23:04] NatePad opened #8424 "Cannot read property 'lastPushTimeStamp' of undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-12 00:39] yuth commented on #8394
could you try removing the `codegen` and adding it again. When an API is added with `amplify codegen add --apiId XXXXXXXXXX`, it should not show it as create status. You can remove the api by running `amplify api remove` and choosing the API.

[2021-10-12 00:49] yuth commented on #8382
I dont see anything to deploy iteratively. Could you try to deploy and send us the CLI logs from `<home-folder>/.amplify/logs` folder which could provide us more details on what is happening

[2021-10-12 03:50] mattfysh opened #8426 "Git workflow using tags instead of branches"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Auth, Api (GraphQL, REST and Fargate), Function, Storage (DDB)

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

v6.3.0

**What AWS Services are you utilizing?**

AppSync, ApiGateway, Fargate/ECS, Cognito, Lambda

[2021-10-12 06:09] mattfysh opened #8427 "Are permissions applied to Fargate containers broken?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

ECS / Fargate

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

v6.2.1

**What AWS Services are you utilizing?**

ECS / Fargate

**Provide additional details e.g. code snippets**

I'm seeing some very strange beh

[2021-10-12 06:54] mattfysh commented on #8427
Another strange thing that's happening is that two nearly identical task definitions are being created:

(a) One by `amplify push`
(b) And the other by one of the stages in CodePipeline

I've run a diff on the JSON definitions for each task, and the only differences are:

1. `.revision` - expected
2. `.containers[0].image` - the definition created by (a) contains `:latest` tag on the end, the defi

[2021-10-12 15:05] lawmicha commented on #8350
I agree the first issue related to having two models that end up with conflicting resolver names is unavoidable. I only used them as part of the investigation from the customer issues and to understand the behavior of the CLI. Because of the conflicts, i had to create two separate projects to see what the pluralization logic is for both of them.

For the second issue, I understand it may be a bit

[2021-10-12 15:24] chelto opened #8428 "Resource is not in the state stackUpdateComplete"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-12 17:49] yuth commented on #8395
When there is no auth added to a field, we fall back to auth rules of the type as to prevent any accidental information leak.

[2021-10-12 17:49] #8395 closed

[2021-10-12 19:14] #8066 closed

[2021-10-12 19:16] josefaidt commented on #8154
Hey @Lorenzohidalgo :wave: just wanted to follow up to my previous message and see if you're still experiencing this issue?

[2021-10-12 19:16] josefaidt commented on #8323
Hey @biztems just wanted to follow up to my previous message and see whether you were also experiencing this issue in new environments?

[2021-10-12 19:53] #8412 closed

[2021-10-12 20:08] #8184 closed

[2021-10-13 05:25] AlessandroVol23 commented on #8123
@julien-tamade thanks for clarifying! Is the correct API name the one the folder is named in `amplify/backend/api/api-name`?
Is it also the one you see in the summary of `amplify status`?

[2021-10-13 06:14] johnf opened #8430 "Support PartQL actions when giveing functions access to DynamoDB"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

DynamoDB

### Describe the feature you'd like to request

Be able to use DynamoDB executeStatement in lambda functions to execute PartiQL

### Describe the solution you'd like

In the cloudformation where actions like dynamodb:Scan, Get etc are added, also add dyamodb:partiQLSelect
Simila

[2021-10-13 09:04] chelto commented on #8428
No the function isn't an auth trigger. It does however have access permissions to invoke another function in the project which its worked perfectly previously. All of the permissions we setup using the Amplify CLI so I haven't changed anything outside of these bounds.

[2021-10-13 09:28] callmekatootie opened #8431 "Strange warning about auth directive"
**Which Category is your question related to?**

graphql

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

6.0.0

**What AWS Services are you utilizing?**

functions, graphql, cognito

**Provide additional details e.g. code snippets**

I have this query defined in my graphql schema:

[code]

My model is:

[code]

I have defined my lambda resolver a

[2021-10-13 13:22] biller-aivy opened #8432 "Codgen statement depth"
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

https://docs.amplify.aws/cli/graphql-transformer/codegen/

So we can configure the statement depth. As example depth: 3.

Now the cli is generating a query like:

[code]

as you can see the app_settings field has the cust

[2021-10-13 14:15] biztems commented on #8323
Hi @josefaidt - sorry for the lack of reply. I haven't been able to find enough time yet to test with a new environment. Will try to do ASAP but from what I have seen with Amplify, most of the errors happen with a _very_ specific combination of things which is extremely difficult to reproduce at a later time.

[2021-10-13 15:44] bensewell opened #8435 "[missing-page] Custom Function Policies released in CLI v6.2.0 do not have documentation as per the CLI output"
**Page**: [`https://docs.amplify.aws/function/custom-policies/`](https://docs.amplify.aws/function/custom-policies/)

**Feedback**:  Output from "amplify push" was:
[code]
but that file doesn't exist!

[2021-10-13 17:51] #8431 closed, assigned to nobody

[2021-10-13 17:58] #8432 closed

[2021-10-13 18:12] #8430 closed, assigned to nobody

[2021-10-13 21:46] edwardfoyle commented on #8427
Hi @mattfysh, when updating the resource access permissions on your containers resource you should see changes to the containers CloudFormation template as well as changes in the `backend-config.json` which should both be git-tracked files. Are you seeing changes to those files after updating the access permissions?

[2021-10-13 23:10] edwardfoyle commented on #8428
@chelto Also, do you have a container-based API in your project and if so does you function access the API? One other thing is to sanitcy check whether the`amplify-podcastcontextapp-dev-151617-authRole-idp` IAM role exists in the account you are deploying to.

[2021-10-14 00:27] marlonmarcello opened #8438 "Failed to get profile: Profile configuration is missing for: undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-14 01:07] mojodna commented on #8405
Why does the CLI generate different output from what's documented as input for the JS library?

[2021-10-14 08:07] harveyappleton opened #8439 "GraphQL schema corrupt and can't override"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Amplify DataStore

**Amplify CLI Version**

6.2.0

**What AWS Services are you utilizing?**

Amplify API, DataStore, Auth

**Provide additional details e.g. code snippets**

I accidentally made a mistake in my `schema.graphql` file (added a semicolon) - but now

[2021-10-14 10:16] mz-ycg opened #8440 "AWS::CloudFormation::Stack Thu Oct 14 2021 18:51:34 GMT+0900 (대한민국 표준시) Template format error: Resource name aaaaGrouprole-testPolicy is non alphanumeric."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-14 14:23] srgustafson8 opened #8441 "Support specifying KMS options for DynamoDB"
### Is this related to a new or existing Amplify category?

storage

### Is this related to another service?

DynamoDB

### Describe the feature you'd like to request

We are using Amplify for an application and have added storage in the form of Dynamo. Currently, there doesn't seem to be a way to specify the encyption settings, which default to encryption-at-rest using the [AWS owned key](https:/

[2021-10-14 15:46] danielhstahl opened #8442 "Create storage fails with Parameters: [KMSMasterKeyID] must have values"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-14 18:38] edwardfoyle commented on #8438
@marlonmarcello can you check the contents of `<project root>/.config/local-aws-info.json`? You should see something like:
[code]

[2021-10-14 19:10] edwardfoyle commented on #8439
@harveyappleton This probably means that the syntax error somehow made it into your `#current-cloud-backend` directory. The CLI should prevent you from pushing a schema with a syntax error so if you have any repro steps for how you got into this state, we could look into implementing some extra guardrails to prevent this situation.

It can be a bit tedious to get out of this situation. Here are th

[2021-10-14 19:32] josefaidt commented on #8111
Note for the team: it does appear these values are captured and populated in the function's `function-parameters.json` file

[code]

[2021-10-14 19:36] edwardfoyle commented on #8440
@mz-ycg I'm unable to reproduce this issue. Can you provide more details on how you configured auth when first adding it? The issue is the resource name `kakaoGrouprole-testPolicy` should not have a hyphen in it, but I haven't been able to find a way to create a resource name with a hyphen through the CLI walkthrough

[2021-10-14 19:49] hrqmonteiro opened #8448 "Error with S3 at trying to build (AccessDenied: Access Denied at Request.extractError (/root/.//node_modules/aws-sdk/lib/services/s3.js:699:35)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-14 19:50] edwardfoyle commented on #8442
@danielhstahl Can you provide the walkthrough options that you selected when creating the resource? Were you configuring an S3 bucket or a DynamoDB table?

[2021-10-14 21:18] josefaidt commented on #8322
Hey @nrmilstein :wave: thanks for raising this and apologies for the delay! Can you walk me through how you set up hosting via the console? Was this done from the Amplify Console > your app > "Frontend Environments" > connect to source control?

[2021-10-14 21:41] josefaidt commented on #7924
Hey @martinmeinke :wave: just wanted to follow up and see if you are still experiencing this issue with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v6.3.1)? I am also unable to reproduce following the provided steps.

Here is the output of my `amplify mock function` execution

[code]

[2021-10-14 21:42] josefaidt commented on #7863
Hey @SaikatCool :wave: just wanted to follow up to @sundersc's message to better understand the context of the issue 🙂

[2021-10-14 22:41] manny-kunaico opened #8452 "Purpose of uuid property in api-params.json"
**Which Category is your question related to?**
Amplify REST API

**Amplify CLI Version**
6.3.1

**What AWS Services are you utilizing?**
Lambda, API Gateway, DynamoDB, SQS

**Provide additional details e.g. code snippets**
I followed the instructions [here](https://docs.amplify.aws/cli/restapi/restapi/#create-a-rest-api) to add a new path to an existing REST API. I specified the following in the

[2021-10-14 23:09] edwardfoyle commented on #8428
@chelto Thanks for sending over the files! I took a look and I'm still not 100% sure what's causing the issue but I have an idea. It seems to be an issue with a Cognito deployment lambda being executed before the corresponding execution role is created which could lead to some sort of race condition. Can you try running the following command and see if it resolves your issue:

(you'll need to inst

[2021-10-14 23:28] edwardfoyle commented on #8438
@marlonmarcello If you run `amplify pull --appId <your app id> --envName <amplify env name>` in an empty directory does it give you the option to select a profile?

[2021-10-15 00:52] chris commented on #1102
@amsarabia unfortunately I don't know of a good way, aside from the billing dashboard. It seems that doesn't update immediately. I've basically had to base mine off of getting the notice from AWS that I'm about to break the free tier, and then I just go and do some deleting.

It's really a bummer - this is pointless storage/storage of no (or little/specific to very few customers I believe) value t

[2021-10-15 02:30] amsarabia commented on #1102
@chris, Thanks for responding quickly! I had to wait two days to see the update from the billing dashboard.
Deleting the jobs was helpful for now. Thanks.

[2021-10-15 04:02] mattfysh commented on #8427
What I am seeing doesn't fill me with confidence. I am trying to do everything slowly and document the steps, here's what I have so far:

## Resetting the repo

In the following steps I reset the environment a couple of times, this is done using:

[code]

## Part I - Remove all but one permission

1. Reset repo
2. `amplify api update` - remove all but one permission via CLI. I do want to reset per

[2021-10-15 05:05] mattfysh commented on #8427
Ok, traced it back to `api.<name>.categoryPolicies`

The only file that has the correct data after updating permissions via CLI is `#current-cloud-backend/amplify-meta.json`

These three files do not have the right information:

• `#current-cloud-backend/backend-config.json`
• `backend/backend-config.json`
• `backend/amplify-meta.json`

[2021-10-15 05:21] mattfysh commented on #8427
Ok think I've fixed it.

1. In `backend/backend-config.json` I've reset these properties on `api.<name>`:

[code]

2. Run `amplify env checkout <current_env>`
3. Run `amplify api update`, no permissions preselected, applied all required permissions
4. Run `amplify push`

Now when I check backend-config.json in both local and cloud - those 3 properties are empty objects/arrays

And when I check amp

[2021-10-15 05:21] #8427 closed

[2021-10-15 05:25] mattfysh commented on #8427
The other problem of course being that only backend-config.json is under version control, and without the required permissions info checked into git, it's impossible to promote these permissions between environments

[2021-10-15 13:53] nrmilstein commented on #8322
Hi, we originally setup everything via the CLI: `amplify init`, `amplify add hosting`, and eventually `amplify env add prod`.

Then, 3 weeks ago, I was suddenly unable to `amplify publish` in the prod environment: "Deployment file has not been uploaded, please make sure you uploaded the deployment file prior to invoke this api"

The next day, I tried to resolve this error by `amplify remove hostin

[2021-10-15 19:16] #8438 closed, assigned to nobody

[2021-10-16 09:02] michalpierzchlewicz commented on #6217
createdAt, updatedAt are great. Regarding our use case, we run a social media application and we are shifting to AWS Neptune slowly, but at this moment we are modeling relations between users and posts in DynamoDB. Example: you can follow a user, but they need to first accept the follow. We store the status (pending, rejected, approved) of this follow in the "join table".

Regarding the proposal f

[2021-10-16 15:58] graniczny commented on #4972
+1

[2021-10-16 18:04] maziarzamani opened #8467 "Combining @model and @function for GraphQL/AppSync"
Hi everyone.

I am currently working on a mutation where I wish to do a `BatchPutItem` into `Event` table while also running a Lambda function in parallel that runs some business logic and adds an item into `SummaryEvent` table. So in a way I need both **model** and **function** to operate simultaneously. Is this even possible? I currently have the **model** to work with my custom resolvers taking

[2021-10-17 05:15] orangegrove1955 opened #11493 "Storage.put / Storage.get attempting to use localhost bucket not deployed AWS S3 bucket"

[2021-10-17 10:33] yunspace commented on #4488
I followed the above instructions with `AWS_SDK_LOAD_CONFIG=1` using `credential_process` method with `aws-sso-util`. However it appears that the AWS CLI completely ignores the `credential process` as per this issue here: https://github.com/aws-amplify/amplify-cli/issues/6882

[2021-10-17 10:51] yunspace commented on #4488
Ok I figured out the issue. For this `credential_process` to work, all of the following conditions must be met:

- `AWS_SDK_LOAD_CONFIG=1`
- `AWS_Profile={your profile}`
- Run `amplify init` and select the same `{your profile}` when prompted

[2021-10-17 16:18] vinodvarma24 commented on #3081
+1 for Postgres Support

[2021-10-17 17:39] maziarzamani opened #8470 "Applying parameters in resolvers dynamically"
Hi everyone.

I had to create a custom mutation for a **BatchPutItem**. What I would usually do in vanilla CloudFormation is to pull in the table name from a parameter, however here I am not sure if this is even possible? Hardcoding the table will break as I move into different environments, so how can this be solved in a dynamically non-hardcoded manner?

`Event-hqokurklz5cn3dlihgssbztbg4-staging

[2021-10-17 21:22] evanlarkin10 opened #8471 "'jsonString' argument missing or empty - Any/all amplify cli commands"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-17 21:37] maziarzamani commented on #1055
Any update here?

[2021-10-18 01:48] alessandromoscato opened #8472 "Unable to push changes from dev to prod environments"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
amplify env

**Amplify CLI Version**
amplify 6.3.1

**What AWS Services are you utilizing?**
auth, api, function, storage

**Provide additional details e.g. code snippets**
Following AWS official documentation (https://docs.amplify.aws/cli/teams/overview/), I hav

[2021-10-18 08:17] akash-gupt opened #8473 "Not able to push api"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-18 08:58] callmekatootie opened #8474 "Custom graphql resolver"
**Which Category is your question related to?**

grapqhl

**Amplify CLI Version**

6.0.0

**What AWS Services are you utilizing?**

graphql, storage / dynamodb, auth, function

**Provide additional details e.g. code snippets**

- I decided to call my own lambda function resolver for a query `getFoo`.
- I was initially not having any custom resolver. I was using the autogenerated request mapping te

[2021-10-18 09:34] ray415 commented on #8368
@yuth any ideas?

[2021-10-18 14:14] maziarzamani opened #8475 "Custom domains for resources, such as AppSync, Cognito"
### Is this related to a new or existing Amplify category?

auth, api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Usually I like to have the API and Authentication behind a custom domain, which is something is already feasible outside of Amplify. Why you may ask? Let's say that the production stack for some crazy reason is recreated caus

[2021-10-18 15:49] kaustavghosh06 commented on #8472
@alessandromoscato Yeah, just inverting those two steps should be sufficient. `git merge dev` and then `amplify env checkout prod`.

[2021-10-18 17:18] lexlemmens opened #8479 "Filters not working when using @function on field"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-18 18:39] josefaidt commented on #8322
Hey @nrmilstein thanks for clarifying. Looking at the files it did appear that env would work, though I also saw the prod env lacked the information the dev env has for hosting. I was initially trying to see if we could surgically link the existing hosting that you've set up manually with the local project files, however the process is very involved and error prone. Despite the circumstances I bel

[2021-10-18 20:45] #8422 closed, assigned to nobody

[2021-10-18 20:46] #8410 closed

[2021-10-18 21:07] edwardfoyle commented on #8439
@harveyappleton Can you make sure that the zip file didn't accidentally get nested inside an additional directory? This sometimes happens when right-clicking a directory and zipping it.

[2021-10-18 21:53] edwardfoyle commented on #8452
@manny-kunaico I'm not seeing that field in my `api-params.json` file when I create a new API. It should be safe to remove it from the file.

[2021-10-18 22:12] #8442 closed

[2021-10-18 22:49] alessandromoscato commented on #8472
@kaustavghosh06, this works actually, thank you.

However, this approach implies that the file `team-provider-info.json` will be different across `dev` and `prod` branches. For a given function pushed following the workflow above:

- In `dev` branch, `team-provider-info.json` will contain the function only under the `dev` environment
- In `prod` branch, `team-provider-info.json` will only contain

[2021-10-18 23:11] alessandromoscato commented on #8472
@kaustavghosh06, this is especially true considering that `aws-exports.js` gets constantly overridden by `amplify-cli`, therefore at the moment I really don't see a way to configure amplify properly (in the sense of choosing the right user pool) at run time based on the environment

[2021-10-18 23:57] kaustavghosh06 commented on #8472
I installed the latest version of the CLI - 6.3.1 and I went through the `amplify env checkout <env-name>` command a couple of times and each time it updated the aws-exports.js file based on my current environment as shown in the video below. Please let us know if you're not seeing the same behavior.

https://user-images.githubusercontent.com/7247658/137822034-9d2bc195-ba13-484f-ade1-a970b5aec151.

[2021-10-19 03:37] johnf commented on #8430
@edwardfoyle I don't think this is a good use case for this problem.

In this case it isn't an external resource. It is the dynamoDB tables created by Amplify.

I would have to have a broad permission set as I don't have access to the ```apigladlyGraphQLAPIIdOutput``` paramter. Or can I use that in the JSON file?

[2021-10-19 06:56] maziarzamani commented on #8467
Hi @marcvberg. Thank you so much for the suggestions. Does (1) involve pipeline resolvers? Not sure if I understand (2), you mention making a new model? I have been looking at (3) so far and do not like this approach as it is overkill, hence the data is already arriving to the **batchCreateEvents** in the exact portions that need to be processed, moving into a DynamoDB stream will split the portio

[2021-10-19 10:42] gmeligio opened #8513 "Missing secretsPathAmplifyAppId when trying Save and Deploy in DataStore"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-19 10:44] taneba commented on #8317
I have the same issue (getting "The specified key does not exist" error).
In my case, it works with @aws-amplify/cli@4.21.4, but after upgrade it to v6.3.1 `amplify init` doesn't work (neither in v4.31.1).

[2021-10-19 10:46] pcolmer opened #8491 "Inconsistent behaviour with "amplify pull" in CI scenario"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-19 10:58] kylekirkby commented on #8491
@edwardfoyle

[2021-10-19 17:29] julien-tamade commented on #8345
@PatrykMilewski I think it's related but from what I experienced, if I enable model-level auth for the model so that it can be queried through another Model, then I would need some way to turn off individual fields of that model for that auth type.

For example if I have a Post model and a Post has a connection to a User who wrote the post, I need to be able to query the User through the post so I

[2021-10-19 17:34] maziarzamani commented on #8467
I will ask a couple of stupid questions now. Does `EventSummaryFunction` fire on every single mutation/query performed on the model?

[2021-10-19 19:00] acusti commented on #8414
quick update: i added a new REST API route this morning via amplify and made sure to set “Restrict API access” to `no`, and after i ran `amplify push`, i went to add the cognito authorizer to the new route, but discovered that the cognito authorizer i had manually added was gone. i created a new one and added it to all the same protected routes again, but it feels like this might be something that

[2021-10-20 02:17] alessandromoscato commented on #8472
@kaustavghosh06, no you are right. I had not realized that the checkout that would trigger the update of `aws-exports.js` was not the one from branch to branch, but rather the one from environment to environment.

I just have one more doubt if you don't mind. Not sure if it's a bug. After performing the above procedure (including your recommendation of inverting steps 5 and 6), I find myself in `p

[2021-10-20 02:19] kondo-to opened #8499 "support java layer in amplify cli"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

Lambda

### Describe the feature you'd like to request

I'd like to make **java layer via amplify-cli.**

Made function can refer already exists java layer via amplify-cli, but **I can not create java layer via amplify-cli** command.
If we choose Layer, then we can not select java in ampl

[2021-10-20 05:35] callmekatootie opened #8500 "Field level request mapping template"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

In graphql api, I would like to see support for field level request mapping templates.

Right now, it appears that we can add custom resolvers only for Query, Mutation or Subscription. I have a requirement where I wanted to add a r

[2021-10-20 11:33] pcolmer opened #8502 "How to configure OpenID in Cognito via CLI?"
**Which Category is your question related to?**

auth configuration

**Amplify CLI Version**

6.3.1

**What AWS Services are you utilizing?**

Cognito

**Provide additional details e.g. code snippets**

This is possibly/probably related to https://github.com/aws-amplify/amplify-cli/issues/8491.

Our Amplify project is using Cognito. We need to configure Cognito to support OpenID. We know how to co

[2021-10-20 12:55] maziarzamani opened #8503 "Custom mutation is not generating models on iOS"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-20 15:34] ladawellness opened #8505 "Amplify interactions with Lex and Lambda is broken"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-10-20 16:08] #8505 closed

[2021-10-20 17:30] marcvberg commented on #8471
if you have both directories available - is there any difference between `amplify/cli.json` in the two directories?

[2021-10-20 17:49] #8467 closed, assigned to nobody

[2021-10-20 18:12] maziarzamani opened #8506 "preSignUp trigger is failing with default code"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-20 19:44] marcvberg commented on #8473
Hi @akash-gupt,

There might be a JSON config file that's in a bad state - have you edited any JSON files since changing the API? In the amplify directory

[2021-10-20 20:07] webdog-rich opened #8507 "Owner Authorization using IAM/Federated Identities"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Authorization, graphql, IAM, Lambda resolvers

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

v6.0.1

**What AWS Services are you utilizing?**

Amplify, IAM, Lambda, AppSync

**Provide additional details e.g. co

[2021-10-20 20:54] maziarzamani commented on #8506
I was able to narrow it down the module code which was generated automatically in `index.js`. If I replace the source in `index.js` with the source from `custom.js` the problem is solved.

[2021-10-21 00:08] anoroozz opened #9897 ""Invalid pagination token given" on @key query"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-10-21 01:55] osddeitf commented on #8392
@grovejc I created a PR for fixing this already, hopefully it will soon be landed in a release.

[2021-10-21 07:40] jaubrey-ebar commented on #2199
I confirm this still exists.  It's a pretty ridiculous oversight in the Amplify API IMO.

**Success:** MySql DateTime column in RDS -> GraphQL Result -> Javascript Date
**Failure:** The reverse path

Here's the error I see in the failure scenario, maybe it will help someone realize the issue when searching the web:
`RDSHttp:{"message":"Database error code: 1292. Message: Data truncation: Incorrect

[2021-10-21 08:50] taneba commented on #8317
@josefaidt
I tried `amplify init` but this time selected a new environment, then it successfully created. But when I checkout to the existing env, I got the same error.

Here is the log after running `amplify env checkout dev` (dev is the existing env)

[2021-10-21 19:18] edwardfoyle commented on #8513
@gmeligio Thanks for reporting this. This is happening because the `team-provider-info.json` file is not available in the Admin UI deployment job. While we work on a fix, you can work around the issue by deploying either using Amplify Console or using the Amplify CLI directly.

Alternatively, if you are only using one AWS account across all of your Amplify environments, you can move the `secretsPa

[2021-10-21 19:40] nickwilldoit commented on #8428
Hi all,

I stumbled upon this thread while struggling with a similar issue, although my lambdas are auth triggers (and I understand @chelto is dealing with a lambda that is not an auth trigger).

I had a PreTokenGeneration lambda that I was trying to update in an existing env. When I did an `amplify push` to push the updated lambda, I would see the auth trigger completely disappear from the consol

[2021-10-21 20:59] nrmilstein commented on #8322
I don't believe so, we hadn't deployed for a couple weeks at that point.

[2021-10-21 21:24] Masami96 commented on #8382
Sorry I got caught up in another issue. Here are the relevant contents of the log after running "amplify push":

I tried my best to comment the "myinfo" part for urls, ids, etc. and keep what I hope is the error.

2021-10-21T21:08:24.371Z|error : amplify-provider-awscloudformation.push-resources.run([{"resourcesToBeCreated":[],"resourcesToBeUpdated":[{"service":"AppSync","providerPlugin":"[***]rma

[2021-10-21 22:39] jamescrowley opened #8517 "FATAL ERROR: invalid array length Allocation failed - JavaScript heap out of memory"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-22 12:39] kylekirkby opened #8525 "Deployments are failing (only recently) due to legacy lambda layers"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-22 17:50] kylekirkby opened #8526 "Amplify new environment stuck on "Updating resources in the cloud...""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-23 14:50] #8435 closed, assigned to nobody

[2021-10-23 14:55] callmekatootie opened #8533 "Custom user pool not referenced in a function's cloudformation template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-23 16:37] ptejada opened #8534 "Invalid one to many resolver when primary partion key field is not a string"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-24 20:27] sacrampton opened #8535 "Upgrading from ElasticSearch 6.2 to OpenSearch 1.0"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Upgrading from ElasticSearch 6.2 to OpenSearch 1.0

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

6.3.1

**What AWS Services are you utilizing?**

AppSync / DynamoDB / ElasticSearch

**Provide additional detai

[2021-10-24 23:19] tamutamu opened #8536 "amplify pull with parameters behind a proxy failed."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-25 09:14] DominicBortmes opened #8538 "[Geo] `amplify add geo` doesn't set region of Amazon Location Service in `aws-exports.js` using cli v.6.3.1"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-25 13:29] psantora-amazon opened #8539 "TypeError: Lambda is not a constructor when setting up Lambda with Lex"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-25 14:35] l-hendriks opened #10031 "Pipeline (and local push) fail sometimes while cloudformation is still running"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-10-25 19:33] #8380 closed, assigned to josefaidt

[2021-10-25 19:48] #8400 closed, assigned to nobody

[2021-10-26 01:51] sergiorodriguez82 opened #8550 "Maximum policy size of 10240 bytes exceeded for role"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-26 10:27] jacobsapps opened #8553 "preSignUp triggers don't work when using email sign-up and Hosted UI / SIWA in parallel"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-26 11:43] J2in opened #8554 "How to use Headless mode?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Using Headless mode for CI/CD

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

6.0.1

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**

I want to use init parameters bu

[2021-10-26 15:05] #8506 closed, assigned to josefaidt

[2021-10-26 15:11] jeffbking opened #8555 "add-graphql-datasource not supporting the ca-central-1 region"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-26 18:46] #8394 closed, assigned to yuth

[2021-10-26 19:22] DarkestMisery opened #8559 "No GraphQL endpoint provided in amplify publish domain"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-26 19:37] #8517 closed, assigned to cjihrig

[2021-10-26 19:37] #8539 closed, assigned to nobody

[2021-10-26 22:01] AaronZyLee opened #8566 "`backend-config.json` is not reflecting changes for category `update`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-26 23:42] aprilmintacpineda opened #8571 "Be able to provide a custom elasticsearch instance ARN to be used rather than creating a new one"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

AWS APPSYNC

### Describe the feature you'd like to request

Currently, when you do `amplify publish` on a new env, amplify will create a new elasticsearch instance, this can be problematic and can lead to having 4 or 5 different elasticsearch instances when you only need 2 (1

[2021-10-27 01:27] aprilmintacpineda opened #8572 "Invalid instance type: c6g.xlarge.elasticsearch"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-27 04:49] 121940kz opened #8574 "New Graviton2 Lambda Architecture Keeps Getting Overwritten"
With the new announcement of the Graviton2 processor option in lambda (x86 / arm runtime setting)

https://aws.amazon.com/blogs/aws/aws-lambda-functions-powered-by-aws-graviton2-processor-run-your-functions-on-arm-and-get-up-to-34-better-price-performance/

It seems that amplify overwrites the settings, so any functions that I change end up going back to x86 when I deploy again. Can we have suppor

[2021-10-27 06:21] mattfysh opened #8576 "Containers: avoid `toomanyrequests` error at Build step"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

api / fargate containers

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

latest

**What AWS Services are you utilizing?**

CodeBuild / FarGate

**Provide additional details e.g. code snippets**

I'm seeing this

[2021-10-27 19:51] parvusville opened #8579 "Restrict access to certain environment"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

It would be handy to be able to restrict access of a certain developer. If I'm not mistaken, right now when initializing amplify it always uses full AdministratorAccess. For example when onboarding a new j

[2021-10-27 20:02] #8555 closed, assigned to nobody

[2021-10-28 02:51] VicFrolov opened #8585 "Running into auth issue when using custom vtl resolver for only one of two auth methods"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-28 15:33] #8559 closed, assigned to nobody

[2021-10-29 18:13] mgarabedian commented on #6182
It also doesn't make sense to me  that a relative path is not supported. I use all custom transformers in my project that are housed in a custom plugin folder. They are not npm modules, nor should they be.  I am checking code into my repo that has an absolute path, which is not good at all, and is causing issues.

As @half2me suggested at the top, the code should just search for a relative prefix

[2021-10-29 18:15] josefaidt commented on #8069
Hey @yhvh009 :wave: apologies for the delay! Do you see a `bucketName` parameter in your storage's `parameters.json` file? This file is located at `amplify/backend/storage/<resource-name>/parameters.json`. I'm curious about the `undefined` that's shown in the URL from your original post

[2021-10-29 18:45] cjihrig commented on #8571
I'm going to close this as a duplicate of the request in #4591. Feel free to comment there with any additional information.

[2021-10-29 18:45] #8571 closed

[2021-10-29 18:47] #8554 closed

[2021-10-29 18:58] josefaidt commented on #8322
Hey @nrmilstein thanks for clarifying. I am glad to hear you're back up and running, and given the issue has now been resolved I'll close this issue. Though if you come across this again during a later push please reply back to this thread or create a new issue and we can investigate further.

[2021-10-29 18:58] #8322 closed

[2021-10-29 20:34] #8439 closed

[2021-10-29 22:27] cjihrig commented on #5128
This was addressed by https://github.com/aws-amplify/amplify-cli/pull/8577. Closing.

[2021-10-29 22:27] #5128 closed

[2021-10-30 06:44] codybreene commented on #8506
@josefaidt I'm sorry, it's not clear to me how the issue was documented or resolved in the linked bug report. What is ultimately the fix here? I'm running into precisely the same issue.

[2021-10-30 07:29] kgoyal98 opened #8604 "502 ERROR on opening website"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-30 19:07] mguja-fcc opened #8605 "Not able to give separate permissions to queries that call lambdas"
Not able to give separate permissions to queries that call lambdas. For example, I have two queries and want to give separate permissions to. Query `invokeLambda`  any logged in user should get access to but access to `invokeGetGroups` should be access only by Admins group. How can I accomplish this ?

[code]

Amplify CLI version: 6.2.1

[2021-10-30 20:12] cjihrig commented on #8604
@kgoyal98 you didn't mention any amplify commands while filling out the template. Was this all done via the Amplify web console?

[2021-10-31 04:35] kgoyal98 commented on #8604
Yes, for frontend I only used AWS website.

[2021-10-31 05:56] sophieyuge opened #8608 "Unable to pull resources from cloud: "No Amplify backend project files detected within this folder""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-10-31 06:35] kgoyal98 commented on #8604
My Rewrites and redirects settings are somehow causing this issue.
[code]

When I remove the second element of the list, it starts working. I added the second element to solve [this](https://stackoverflow.com/questions/54477432/rewrites-and-redirects-in-aws-amplify) issue.
Can you please help me to understand why this is happenning?

[2021-10-31 08:43] jamescrowley commented on #8517
@cjihrig any idea when the next release will be out that includes this? Many thanks

[2021-10-31 09:18] krrby opened #8629 "Bug After initial pull - error Could not attach the backend to the project. Ensure that there are no applications locking the `amplify` folder and try again"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-10-31 12:53] nrmilstein commented on #8322
Great, thanks for all your help!

[2021-10-31 15:43] thu-san commented on #5743
+1 for this

[2021-11-01 04:04] LpmRaven commented on #1039
I would suggest that everyone takes a look at DynamoDB documentation, more specifically, single table design. The database was not made for many-to-many connections, it is a misuse and the Amplify docs are misleading users into thinking it is was made to work like that. Alex DeBrie and AWS have made some good videos (that are on youtube) which explain how to best design for DynamoDB. The Amplify t

[2021-11-01 12:21] technoknol commented on #1865
Amplify is a way to make developer's life much much irritating, harder. Welcome to non-sense world folks.

[2021-11-01 12:48] loganpowell commented on #1865
Dude, relax

[2021-11-01 12:55] technoknol commented on #2791
Work From Home effect. Guys forgot to implement and now everyone on the planet excited about amplify are fked.

[2021-11-01 13:39] josefaidt commented on #8608
Hey @sophieyuge :wave: thanks for raising this! After the initial pull command did you select "Yes" to "Do you plan on modifying this backend?"?

[2021-11-01 15:08] cjihrig commented on #8517
@jamescrowley I can't commit to anything certain, but hopefully within the next week or so.

[2021-11-01 16:28] gakinson commented on #5275
+1 for this. Any update on prioritization of this feature?

[2021-11-01 17:11] renebrandel commented on #1865
@majirosstefan - All the things you mentioned are still on our radar. The new GraphQL Transformer is our first step. Many of the @searchable RFC items are actually included as part of the preview.

A more efficient VTL-based approach is still on our radar and we'll be working on it post the launch of the new GraphQL Transformer. While the Amplify team can't directly change the cost structure of Op

[2021-11-01 17:15] sophieyuge commented on #8608
@josefaidt Hi Jose,
I don’t think I have even seen this prompt in the latest `amplify init`.

Previously, I had always chosen “yes” whenever I was asked this question.

[2021-11-01 17:17] josefaidt opened #8611 "Consolidate init workflow from existing app/GitHub repo"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When initializing a new Amplify project from an [existing project on GitHub](https://github.com/josefaidt/8414), we experience a workflow that is different from initializing a fresh project. Namely:

- loc

[2021-11-01 17:33] josefaidt commented on #8608
Hey @sophieyuge our initial pull command will look something like this where the question noted above is the last prompt of the workflow:

[code]

By selecting "Yes" the Amplify CLI will pull your app's backend definition locally, creating the `amplify/` folder in your working directory. This will enable us to subsequently run commands such as `amplify pull` and `amplify status`

[2021-11-01 17:56] sophieyuge commented on #8608
Hi Jose, I understand it and I have indeed seen those prompts in the past.
However, now the process just fails and get aborted straightaway as soon as I run the initial pull command with the error message mentioned above, which is not helpful, because the suggested next steps from the error message are exactly what I have done to encounter this error

[2021-11-01 18:39] josefaidt commented on #8608
Hey @sophieyuge thanks for clarifying. Are you experiencing this after the initial, successful pull when attempting to run `amplify status` or `amplify pull`? Do you see the `amplify/` backend folder as well?

[2021-11-01 18:43] josefaidt commented on #8473
Hey @akash-gupt :wave: just wanted to follow up to @marcvberg 's message and see if you were able to identify a JSON file that might have been manually edited?

[2021-11-01 19:05] sophieyuge commented on #8608
Hi @josefaidt ,

I was experiencing it when attempting to run all of the commands you mentioned. I had `amplify/` backend folder from my last successful pull but `amplofy-meta.json` is missing.

Since yesterday, I've made a few more attempts to try unblock myself. Here is what I have done:
1. found the deployment bucket name from `team-provider-info.json`
2. downloaded `#current_cloud_backend.zip`

[2021-11-01 19:29] josefaidt commented on #8608
Hey @sophieyuge does the mentioned file exist? Are you able to restore the `parameters.json` file for auth?

[2021-11-01 20:18] sophieyuge commented on #8608
@josefaidt
In `#current_cloud_backend.zip` from the bucket, there are only two files in it after unzipping: `cli.json` and `tag.json` so I added `amplify-meta.json` as told. It seems that all of the files in the cloud backend folder are just gone.

I just tried to add all of the content in my local backend folder to it and uploaded to S3, just like what I did with `amplify-meta.json`, and now I am

[2021-11-01 20:24] josefaidt commented on #7932
Hey @gakinson :wave: can you try running `amplify remove function` to remove some of the older layer versions?

[2021-11-01 20:31] josefaidt commented on #8608
Are you able to run `amplify push --force` to forcefully push local content? This should update the `#current-cloud-backend` folder with the necessary files.

[2021-11-01 20:32] brennanMKE opened #8616 "Use proper naming convention: macOS"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-01 20:33] brennanMKE commented on #8616
Apple's Platforms include the following: iOS, macOS, tvOS, watchOS. This is their naming convention.

[2021-11-01 20:38] brennanMKE opened #8617 "Support platform preferences for default editor and app type"
### Is this feature request related to a new or existing Amplify category?

auth

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I always get these defaults. I have not seen docs which show that I can set these defaults as preferences.

[code]

### Describe the solution you'd like

I'd like to set the default editor to `Xcode` and app type t

[2021-11-01 20:38] cjihrig commented on #8535
@sacrampton I've marked this as a feature request, but it's not likely to be supported in the near future. To answer your question, yes, I think you will likely need to do this outside of Amplify for time being.

[2021-11-01 20:43] sacrampton commented on #8535
Thanks @cjihrig - so are you saying that it should be fine if we perform the upgrade outside Amplify and that future pushes will be compatible?

[2021-11-01 20:43] sophieyuge commented on #8608
Just tried to force push, same result as above

[2021-11-01 20:50] cjihrig commented on #8579
@parvusville you could try a couple different approaches. You could limit who can assume the IAM role used by the CLI when pushing a project. You could also try limiting access via tags, as outlined [here](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html#access_iam-tags_control-tag-keys). Another approach would be to have a separate account for your production environment. We

[2021-11-01 20:50] sundersc commented on #8576
Hey @mattfysh Can you try using the image from ECR gallery?
https://gallery.ecr.aws/bitnami/node

[2021-11-01 20:52] jonmifsud opened #8618 "Inconsistent Behaviour with AppSync / Storage"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-01 20:56] cjihrig commented on #8574
Hi @121940kz. Unfortunately, we don't have a great solution for this yet. I've marked this as a feature request.

[2021-11-01 21:00] cjihrig commented on #8550
@thibaultdalban are you saying that you're exceeding the limit in a REST API, or is this related only to functions. As you pointed out, Amplify does have policy slicing in place for REST and GraphQL APIs.

[2021-11-01 21:02] cjihrig commented on #8535
We can't make any guarantees about compatibility if you need to do something outside of our normal workflows. The reason we don't support this out of the box is because it's possible that an OpenSearch breaking change could slip through that we cannot account for.

[2021-11-01 21:12] cjihrig commented on #8533
When you import a user pool, some of the values get hard coded. Switching environments does not currently fix this for you. After checking out a new environment, can you try running `amplify update function` to refresh the templates.

[2021-11-01 21:14] cjihrig commented on #8536
Do you have the `HTTP_PROXY` or `HTTPS_PROXY` environment variable configured?

[2021-11-01 21:14] sacrampton commented on #8535
So your advice at this time is not to move to OpenSearch and stay with ElasticSearch 6.2?

[2021-11-01 22:02] josefaidt commented on #8608
Hey @sophieyuge could you try creating a new environment, pushing, then run a `git merge` back onto the affected env and see if that allows you to push successfully? If not there is a "Detect Drift" button in the CloudFormation console that we can utilize to revert changes until there is no drift.
![image](https://user-images.githubusercontent.com/5033303/139747944-635a130e-e769-42e2-9359-ffff26a1

[2021-11-01 22:28] tamutamu commented on #8536
Thanks @cjihrig.
Yes, own container environment variables is below.
[code]

[2021-11-02 00:35] mattfysh commented on #8576
Thanks @sundersc - I'll use these, and I assume since they pull from ECR and not dockerhub they won't run into the `toomanyrequests` error?

Are there any differences between the Docker Hub and ECR node images? I'm using the `16` tag if that helps.

[2021-11-02 00:35] #8576 closed

[2021-11-02 00:48] kldeb opened #8625 "Amplify pull brings back deleted functions"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-02 02:37] akash-gupt commented on #8473
Yes i found it by making some changes on amplify cli.
On Tue, 2 Nov 2021 at 12:13 AM, josef ***@***.***> wrote:

[2021-11-02 03:23] Rafcin commented on #8123
@lazpavel
It's happening again...

I have a production instance on a t2.medium and my dev on t2.small. The medium seems fine but the t2.small is shitting the bed and it lost all its data. Are there any updates on a fix for this? You mentioned we should avoid the small instances, and as much as I would like that I also can't afford to run 2 medium instances with opensearch...

[2021-11-02 04:10] callmekatootie commented on #8533
Yes - but it sounds like I have to do that each time I switch environments - not an ideal solution.

[2021-11-02 04:49] cameronpexip opened #8627 "Make RDS Credential Error More Descriptive"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-02 05:48] AlessandroVol23 commented on #8123
I had the same issue with the t2.small several times but I don't think that a fix will come for that since they are burstable.
I'd use the medium instance (for 60 € / month 😤) everywhere where the data should persist.

[2021-11-02 06:04] thibaultdalban commented on #8550
@cjihrig my issue is on REST apis only. The policy slicing is not in place for group role.

[2021-11-02 06:20] 24jr commented on #6217
So is this stuff in the current normal amplify cli or do we still do something like mentioned above `npm install -g @aws-amplify/cli@6.1.0-graphql-vnext-dev-preview.2` also if its the case that we can use today are there any resources that I can use to help me even though official docs are still for current setup.

[2021-11-02 10:12] octaneC8H18 commented on #5972
Any update?

[2021-11-02 11:40] bensewell commented on #8392
Is there a workaround for this? It's blocking my CI at the moment, as Amplify's built-in CI auto-patches to the latest version.

[2021-11-02 12:32] osddeitf commented on #8392
@bensewell As I wrote in the PR, for linux, specifically inside official `node` Docker image:

[2021-11-02 15:13] LeoRpc commented on #7792
The question "Do you want to access other resources **in this project** from your Lambda function?" is not clear, I would rather prompt something like "Do you want to access other resources (**inside or oustide this project**) from your Lambda function?"

[2021-11-02 15:35] josefaidt commented on #8473
Thanks for clarifying @akash-gupt! Were you able to successfully push your API after identifying the affected JSON file?

[2021-11-02 16:33] ammarkarachi commented on #8617
@brennanMKE Thanks for the issue, we could pick up parameter to override the default when initializing

[2021-11-02 19:31] akash-gupt commented on #8473
Yes, I did.

On Tue, Nov 2, 2021 at 9:05 PM josef ***@***.***> wrote:

[2021-11-02 19:36] ammarkarachi commented on #8629
@krrby Do you have the amplify project open in an IDE before you executed the pull?

[2021-11-02 19:41] krrby commented on #8629
Yes, I have it running on Visual Code Studios, I found a workaround this
morning. if I do amplify init and then open the console, create the data
models and then pull the project it works,
it just won't work if I create the data models first and try and pull an
already created backend

On Wed, Nov 3, 2021 at 8:37 AM Ammar ***@***.***> wrote:

[2021-11-02 19:51] josefaidt commented on #8473
Awesome! Glad to hear you're back up and running 🙂

Closing issue

[2021-11-02 19:51] #8473 closed

[2021-11-02 21:26] ajhool opened #8634 "Use the @Connection directive to enable sequential/pipeline creation"
**Is your feature request related to a problem? Please describe.**
[API / GraphQL] AFAIK, it currently requires two graphql requests to create an object (eg. Post) and create connected objects (eg. Comments, where the schema is `post.comments: [Comment!]`, and the second request uses the id from createPost as `commentPostId`)

**Describe the solution you'd like**
It would be great if the @connecti

[2021-11-03 03:54] lambdasawa opened #8642 "function hotswap for development"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

function

### Describe the feature you'd like to request

When I execute `amplify push`, amplify-cli calls the CloudFormation API to update the Lambda Function.
Updating Lambda using CloudFormation is slow compared to updating using the `aws lambda update-function-code` co

[2021-11-03 04:59] akash-gupt commented on #8473
Thank you.

On Wed, Nov 3, 2021 at 1:21 AM josef ***@***.***> wrote:

[2021-11-03 05:00] julien-tamade opened #8643 "@connection auth rules should override @model auth rules"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

Appsync

### Describe the feature you'd like to request

When I give a connection an auth rule, it should override the connected model's auth rules. This is mainly considering giving a user read access to a model's connection through an @auth in-line rule.

Please consider the

[2021-11-03 05:47] GeorgeBellTMH commented on #8605
I agree it would be great if @auth could be used with functions in graphql...but you can also just add the logic into the lambda itself until they develop things a bit more...for example: event.identity.claims["cognito:groups"].includes("admin")

[2021-11-03 05:57] GeorgeBellTMH commented on #1865
@renebrandel it might be useful to make an option such that we don't spin up new opensearch instances automatically when creating new environments...basically just redirect all the queries to "not-implemented in this environment" or something...this would save costs when many environments are being spun up for testing or development purposes...and again, the ideal way to do it would be to allow fo

[2021-11-03 06:10] 24jr commented on #6217
Actually I believe this is the latest version now `https://www.npmjs.com/package/@aws-amplify/cli/v/6.4.0-graphql-vnext-dev-preview.4` I see some talk on different ways of doing stuff above like @index @lookup @query not sure if there are sketchpad notes on some of stuff available now or if anyone knows some basics. I'm super excited for this I just can't wait

[2021-11-03 08:36] RoyBS commented on #7360
This is still an issue in v6.3.1

[2021-11-03 16:21] phaedonmit opened #8646 "DataStore blocked by firewall"
## Before opening, please confirm:
 - [x] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
 - [x] I have searched for duplicate or closed issues.
 - [x] I have read the guide for submitting bug reports.
 - [x]  I have done my best to include a minimal, self-contained set of instructions for consistently reproducing the issue.

## How

[2021-11-03 16:53] josefaidt commented on #7853
Hey @jonmifsud now that this has been resolved per our email thread, I'll close this issue 🙂

[2021-11-03 16:53] #7853 closed

[2021-11-03 17:12] yhvh009 commented on #8069
nope, there's only three params in the json file of the dynamodb storage:
[code]
on the other hand, there's a bucketname in the s3 bucket storage, and lots of params related to s3xxxx

[2021-11-03 17:33] hisham opened #8648 "Linking Cognito with Pinpoint"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Analytics + Auth

**Amplify CLI Version**
6.3.1

**What AWS Services are you utilizing?**
Cognito + Pinpoint

**Provide additional details e.g. code snippets**
Reading https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-pinpoint-integrati

[2021-11-03 18:22] #8646 closed

[2021-11-03 19:09] josefaidt commented on #8618
Hey @jonmifsud :wave: thanks for raising this! To clarify, is a `version` supplied to the GraphQL mutation when changing the payment status? And when we see the returned data is the record showing it is deleted but with the same version?

[2021-11-03 19:37] eettaa opened #8653 "Amplify Push/mock with added function fails: "Packaging lambda function failed with the error Command failed with exit code 243: npm install --production""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-03 19:55] eettaa commented on #8653
OP:
I am not sure whether this is relevant, but it might be worth noting that I am in a monorepo and have multiple nested packages.  All other packages are using npm

- mono dir
   - .git
   - other dir
   - app dir ( I run the amplify commands from here)
     - frontend code.file
     - package.json
     - package-lock.json
     - amplify
       - backend
         - function
           - function

[2021-11-03 20:04] rdeckj commented on #7411
I don't think this is purely an apple silicone problem. Members of my team have run across this issue with Macs /w Intel chips and the following versions:

openjdk11
Amplify 6.3.1
Node 16.9.1

Bumping to openjdk 17 solved this problem for us.

[2021-11-03 20:16] ammarkarachi commented on #8642
Hey @lambdasawa, this is a great idea we could directly update the code without a push for hotswap. I will bring it up to my team.

[2021-11-03 21:49] jonmifsud commented on #8618
@josefaidt yes we always supply the version number. In all but 2 transactions we flagged so far, work properly.

The returned data is showing our status change being completed but the version number remains the same. I'm storing the JSON Diff between the two items into another app sync powered table. That is where we picked up the discrepancy.

My gut feeling however is that it's not actually muta

[2021-11-03 22:32] timfulmer commented on #986
+1

[2021-11-04 05:30] callmekatootie opened #8665 "Necessity of listUsers query to use a query associated with a key directive"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

graphql

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

6.3.1

**What AWS Services are you utilizing?**

appsync

**Provide additional details e.g. code snippets**

I have defined my schema like this:

[code]

[2021-11-04 08:11] antonio-vevivo commented on #8525
Happened also to me, and can confirm that deleting the old layer versions from AWS console resolves this error. @kylekirkby thanks :)

[2021-11-04 11:15] callmekatootie commented on #8500
Thank you - I was able to carry this out. However - how do I know if the resolver is invoked for a query or for a mutation?

[2021-11-04 13:04] PeteDuncanson opened #8668 "Docs are misleading for getting TypeScript up and running for Lambdas"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-04 13:07] PeteDuncanson commented on #8668
Additionally I've had all this working last night by mocking (yeah me! woot!) however trying to push today and I bump up to this one https://github.com/aws-amplify/amplify-cli/issues/6398 which never got resolved. I'm not using the "funky" folder structure they are, I'm literally trying to keep it as vanilla as possible (thought it would be faster that way...)

Folder structure...nice and simple
!

[2021-11-04 13:58] akinwol opened #8669 "Amplify mock UnknownEndpoint: Inaccessible host: `localhost' at port `62224'. This service may not be available in the `us-fake-1' region. | Failed to start API Mock endpoint Error: start has timed out!"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-04 17:16] PeteDuncanson commented on #8668
Fixed the above comment (https://github.com/aws-amplify/amplify-cli/issues/8668#issuecomment-960885872) which was caused by my windows development machine not caring about the casing on the import file but the Lambda caring very much!

had this in my file: `import wrapper from 'SUDsXeroWrapper';` and it should have been `import wrapper from 'SUDSXeroWrapper';`

Hope that helps someone else.

Origi

[2021-11-04 20:43] josefaidt commented on #8618
Thanks for clarifying @jonmifsud I'm going to take this information back to the team and see if we can identify the root cause of the issue 🙂

[2021-11-04 20:48] jonmifsud commented on #8618
Thanks much appreciated, happy to provide more info - might be a bit slow next week as I'm travelling for work but I'll try my best to give you anything you need.

[2021-11-04 21:55] antawad opened #8676 "Modify Amplify CLI to Allow for Additional Environment Variables - Currently only ${env} is allowed"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

In Amplify, the way to add  @http resolvers with their corresponding endpoint url, is to modify the `schema.graphql` file and add some code similar to this (note the url with the ${env} relating to the amplify envir

[2021-11-04 22:35] ammarkarachi commented on #8668
@PeteDuncanson I reproduced this and you are right about the gap in our documentation thanks for the detailed issue. We will work on getting it fixed asap.

[2021-11-04 23:40] codybreene commented on #8653
Running into this same issue with yarn, but I never used yarn...

[2021-11-04 23:41] codybreene commented on #8653
`Packaging lambda function failed with the error
Command failed with exit code 255: yarn --production
[DEPRECATION] The trollop gem has been renamed to optimist and will no longer be supported. Please switch to optimist as soon as possible.
Error: unknown argument '--production'.`

[2021-11-04 23:42] codybreene commented on #7883
Hitting this same exact issue @gambithunt , why is this closed?

[2021-11-05 00:52] lambdasawa commented on #8642
I'm currently implementing this.
I think I can probably send a pull request tomorrow.

https://github.com/lambdasawa/amplify-cli/tree/function-hotswap

[2021-11-05 02:53] arbieo commented on #8216
We have encountered the same issue and the function parameters.json changes make us fairly distressed. Using the example above:

`{
  "lambdaLayers": [
    {
      "type": "ProjectLayer",
      "resourceName": "LambdaLayer",
      "env": "dev",
      "version": "Always choose latest version",
      "isLatestVersionSelected": true
    }
  ]
}`

Specifically:

`"env": "dev",`

This file is supposed

[2021-11-05 03:33] eettaa commented on #8653
@codybreene what is your os/npm/amplify/yarn versions?

what do you get if you cd into amplify/backend/api/function/functionname/src, delete a yarn.lock file if it exists, run npm install (thus creating a package-lock.json) file, cd back to the project tld and re-run amplify push/amplify mock function?

[2021-11-05 04:33] semap commented on #4772
***** works for me, but not ideal.

[2021-11-05 06:05] goldwareJapan opened #8681 "add update functions hooks does not contain function name and other options"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-05 06:06] codybreene opened #8682 "`Invalid lambda function output : Invalid JSON` error in my PreSignup Lambda"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-05 08:25] jacektrocinski commented on #2191
Has there been any progress on this feature request?
Is it possible to have more than one data source with a single AppSync API in Amplify?

[2021-11-05 08:57] mawhtin opened #8683 "Tagging without installing amplify CLI"
Hi folks. I'm closing this issue as we've launched resource tagging support. See #365 and https://docs.amplify.aws/cli/usage/tags

_Originally posted by @renebrandel in https://github.com/aws-amplify/amplify-cli/issues/2794#issuecomment-861225392_

Hi. We only use Amplify to deploy our NextJs apps. We don't use any of the amplify libraries. Is there a way to tag all resources from an amplify proje

[2021-11-05 09:04] t-lm opened #8685 "@searchable | allow sorting search results by dates"
### Is this related to a new or existing framework?

React

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Hi, would it be possible to allow sorting search results by date?

### Describe the solution you'd like

Allow sorting search results on "date" field (similar to what is avai

[2021-11-05 10:22] OlgaMaslova opened #8684 "Cannot delete an environment"
**Which Category is your question related to?**

Delete an environment. I want to completely remove an existing environment. Through console, I chose Delete  that resulted int th following error:
`Deletion failed ValidationException - An error occurred while processing your request: null`

**Amplify CLI Version**

6.3.1

**What AWS Services are you utilizing?**
Amplify console

**Provide additiona

[2021-11-05 15:22] josefaidt commented on #8104
Hey @alionthego :wave: just wanted to follow-up and see if you were able to try out the suggestion?

[2021-11-05 15:23] josefaidt commented on #8133
Hey @nealdeters :wave: just wanted to follow-up and see if you had a chance to replicate this locally?

[2021-11-05 15:24] josefaidt commented on #8131
Closing due to inactivity. @maremoto if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2021-11-05 15:24] #8131 closed

[2021-11-05 15:26] josefaidt commented on #8361
Closing due to inactivity. @Olivier-STMicroelectronics if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2021-11-05 15:26] #8361 closed

[2021-11-05 15:46] kondo-to commented on #8499
I found workaround about this problem. just use **multi project func in gradle side.**
Here is just example in my case.

/amplify/backend/function
├── funcA
│   ├── src
│   ├── build.gradle
├──funcB
│   ├── src
│   ├── build.gradle
├── share  (common library)
│   ├── src
│   ├── build.gradle
├── build.gradle
├── settings.gradle

settings.gradle(root)
[code]
build.gradle (root)
[code]

Then you can

[2021-11-05 15:46] #8499 closed

[2021-11-05 15:55] codybreene commented on #8653
I found that I had installed `yarn` in an old Ruby environment, and for
some reason that was being called. Still confused, though, because I was
never using yarn within this project. Only npm.

On Thu, Nov 4, 2021 at 9:34 PM Eric Anderson ***@***.***>
wrote:

[2021-11-05 19:37] josefaidt commented on #8172
Closing due to inactivity. @jemucino if you are still experiencing this issue with the [latest version of the Amplify CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v6.3.1) please reply back to this thread and we can re-open to investigate further 🙂

[2021-11-05 19:37] #8172 closed

[2021-11-05 19:38] josefaidt commented on #8112
Hey @rosmu :wave: just wanted to follow-up here and see if the workaround noted above worked for you?

[2021-11-05 20:20] #8685 closed

[2021-11-05 20:28] josefaidt commented on #8426
Hey @mattfysh :wave: when the CLI did not prompt for the secret's value, was this a new function that we merged in? After merging and running `amplify env checkout <current-env-name>` to init the new resources I just merged in, then run `amplify push` I received the following prompt:

[code]

Can you describe the workflow in which it did not prompt for the missing secret value? Also if you wouldn'

[2021-11-06 07:10] mavaddat commented on #8576
Here is the Docker Hub `Dockerfile` definition:

<details>
<summary>From <a href="https://github.com/nodejs/docker-node/blob/main/16/buster/Dockerfile">github.com/nodejs/docker-node/16/buster/Dockerfile</a></summary>

[code]

</details>

Versus the ECR definition:

<details>
<summary>From <a href="https://github.com/bitnami/bitnami-docker-node/blob/16.13.0-debian-10-r6/16/debian-10/Dockerfile">git

[2021-11-08 06:20] eettaa commented on #8653
I'm still struggling with this problem, may try to dig into source code later this week.  Are there any amplify experts out there who could recommend good diagnostic steps?

[2021-11-08 09:11] narciso-dev commented on #6217
Is a release planned for this new GraphQL Transformer?

[2021-11-08 10:20] Rayv1 opened #8726 "Adding RDS - No RDS Access Credentials found in the AWS Secret Manager"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-08 11:17] phanendraguptha-workshore opened #8727 "@JosephVasse in newer versions of `metro-config` the function is now called `exclusionList`. So the resulting code would now look like this:"
@JosephVasse in newer versions of `metro-config` the function is now called `exclusionList`. So the resulting code would now look like this:

[code]

I also had to manually install `metro-config` as a dev dependency: `npm i -D metro-config`

_Originally posted by @flogy in https://github.com/aws-amplify/amplify-cli/issues/3295#issuecomment-833640678_

[2021-11-08 12:01] phanendraguptha opened #8728 "jest-haste-map: Haste module naming collision: <functionName>"
I am getting the jest-haste-map issue after doing following steps:
1. Added new function (amplify add function)
2. Pushed the amplify function (amplify push)
3. While I run expo, the below mentioned error is getting generated (expo start)
I've seen the solution as mentioned in this link https://github.com/aws-amplify/amplify-cli/issues/3295#issuecomment-833640678 still it's not working. As i dig l

[2021-11-08 13:59] danielhstahl opened #8730 "Allow custom CPU and Memory for Serverless Containers"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

Fargate/ECR

### Describe the feature you'd like to request

When using serverless containers, the cloud formation defaults to 512 vCPU and 1024 Memory.

If I manually update this to a larger number, amplify overwrites the configuration with the default 512 and 1024.

### Descr

[2021-11-08 15:03] kylekirkby commented on #7938
This is _extremely_ frustrating... I'm also getting an insane amount of merge conflicts on switching env's. @kaustavghosh06  - what do we do about this? Any suggestions?

[2021-11-08 17:13] kaustavghosh06 commented on #7938
@kylekirkby which files are causing most of the conflicts? Is it just lambda layers?

[2021-11-08 17:15] kylekirkby commented on #7938
@kaustavghosh06 - yes `lambdaLayers` in `function-parameters.json` files and also the `src/graphql/schema.json` file. In regards to `schema.json` is it safe to ignore this file? https://github.com/aws-amplify/amplify-cli/issues/819#issuecomment-770189046

[2021-11-08 17:16] kaustavghosh06 commented on #7938
Yeah, the schema.json is safe to gitignore.
I'll discuss with the team around this issue tied to git conflicts tied to lambda layers.

[2021-11-08 17:17] kylekirkby commented on #7938
@kaustavghosh06 if that is so, can we possibly add it here? https://docs.amplify.aws/cli/reference/files/#gitignore

[2021-11-08 17:20] kylekirkby commented on #7938
[code]
This was the error that I saved in a team chat... I managed to fix this issue by removing the lambda layers access from my Cognito trigger functions and then re-adding them. Something is not right but a lot of these issues I've been having lately are surrounding the lambda layer implementation.

[2021-11-08 17:22] kylekirkby commented on #7938
For reference regarding the "other issues" with lambda layers that I've been facing:

https://github.com/aws-amplify/amplify-cli/issues/8525

[2021-11-08 18:55] danielhstahl opened #8733 "Additional environmental variables not added when building from Git branch"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-08 19:55] josefaidt commented on #8684
Hey @OlgaMaslova :wave: thanks for raising this! I'm going to transfer this to https://github.com/aws-amplify/amplify-console to get more eyes on it

[2021-11-08 20:23] josefaidt commented on #8653
Hey @eettaa :wave: thanks for raising this! Was the Amplify CLI installed with npm using `sudo`? Curious if this issue is related to permissions as it works if you cd into the function's src directory and run `npm install`

[2021-11-08 21:39] ammarkarachi commented on #8648
We don't support Cognito + Pinpoint as of yet but I will keep this open as feature request

[2021-11-08 22:01] ammarkarachi commented on #8683
@mawhtin Transferring this to the console team. They will be able to help you out better.

[2021-11-08 22:04] ammarkarachi commented on #8682
@codybreene If you would remove async you would have to use the callback signature as cognito is expecting a promise.

[2021-11-08 22:04] ammarkarachi commented on #8682
Also to understand the issue better why would you like to remove async?

[2021-11-08 22:07] ammarkarachi commented on #8669
@akinwol can you check if the port 62224 is in use by running `lsof -i -P`?

[2021-11-08 22:11] ammarkarachi commented on #8643
@julien-tamade The field level auth gets evaluated first and resolver is generated for the field. The field level auth trumps the model level auth

[2021-11-08 22:52] eettaa commented on #8653
Hi @josefaidt , thanks so much for your reply.  I'm still very interested in diagnosing this and will help any way I can.
Yes, I wondered the same thing about permissions.  However, nothing obvious jumps out at me.
- Yes, Amplify CLI was installed using `sudo`.  Just to be sure, I uninstalled and reinstalled the cli (globally, using sudo) and can still reproduce the behavior.
- Running `sudo ampli

[2021-11-08 23:22] josefaidt commented on #8653
Thank you for clarifying @eettaa and providing those details! Do you still experience this issue when the CLI is installed without `sudo`? What is the motivation behind using `sudo` to install global dependencies? I can say this is indeed caused by some issue locally and not with the AWS account's permissions. For reference, here is the code powering how we determine which Node package manager to

[2021-11-08 23:33] codybreene commented on #8682
How can I tell the Lambda is expecting a promise? Also, is the lambda reading from `index.js` or `custom.js`? Why are there two files?

[2021-11-09 00:02] yuth commented on #8726
I have marked this as a feature request. We will pick this up once the task gets prioritized.

[2021-11-09 00:06] yuth commented on #8728
I think the option name now is changed to `blockList`.  [metro docs](https://facebook.github.io/metro/docs/configuration/#blocklist)

[2021-11-09 00:37] eettaa commented on #8653
Hi @josefaidt , thanks for your response.
On Ubuntu it appears the default location for global npm installations (/usr/local/lib/node_modules/) is only accessible with sudo privileges. Non-sudo install attempts fail with:
[code]
... among other errors.
However, I wonder if this is really the problem? For one thing, running `sudo amplify [push|mock]` doesn't solve the problem.  For another, the gen

[2021-11-09 03:00] phanendraguptha commented on #8728
I tried using blockList with the regex pattern and the exclusionList still getting the same error message.
[code]

[2021-11-09 09:37] eugen-maser opened #8750 "Strange AWS_IAM behaviour @ AppSync"
**Which Category is your question related to?**
GraphQL API

**Amplify CLI Version**
v6.3.1

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I am a little bit confused about the following behaviour:
In my schema.graphql there is a type with these auth-rules

[code]

Default auth mode is:
'API_KEY'
Additional auth modes are:
'AMAZON_COGNITO_USER_P

[2021-11-09 11:34] flogy commented on #8058
It would generally be nice to have a migration guide as well, where users can see which configuration files need to be changed in order to migrate to a newer Amplify CLI version.

[2021-11-09 13:39] akinwol commented on #8669
I ended up resolving this

To solve I did the following
- Ran `sudo nano /etc/hosts `

Doing that you get something like this
<img width="262" alt="image" src="https://user-images.githubusercontent.com/37726406/140933537-d65fdf76-82ef-4c37-8bcd-1c4f71f5d3bf.png">

- Deleted the ip6 ` ::1 localhost `
- Then ran `sudo killall -HUP mDNSResponde ` to flush dns cache

I was trying different things but

[2021-11-09 13:40] #8669 closed

[2021-11-09 13:48] josefaidt commented on #8653
Hey @eettaa please see this [npm docs page](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) for resolving the issue with installing packages globally. From here we can check a few things:

- we can check the permissions on the function's src directory `ll amplify/backend/function/<function-name>/src` to ensure owner has write access (group and public s

[2021-11-09 16:21] dudzin commented on #8392
Hello, I have the same issue on CI but not when I execute it in localhost. On localhost I have amplify-cli 6.3.1.
What can I do to fix the CI?
The actual error is
` - Uploading files...
2021-11-09T16:01:14.522Z [WARNING]: strict mode: missing type "object" for keyword "additionalProperties" at "#" (strictTypes)
2021-11-09T16:01:14.523Z [WARNING]: ✖ An error occurred when pushing the resources to t

[2021-11-09 16:30] josefaidt commented on #8500
Hey @callmekatootie :wave: were you able to find a suitable solution for identifying whether the resolver is invoked for a query or mutation? Perhaps this [documentation page for the resolver context](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-context-reference.html) may provide some insight, namely the `selectionSetGraphQL`

[2021-11-09 18:45] eettaa commented on #8653
**RESOLVED**
Hi @josefaidt, thanks for the suggestions:
I resolved this problem by taking your suggestion to install npm/node/etc without `sudo`.  To do this, I used [nvm](https://github.com/nvm-sh/nvm).  I also had to fully uninstall all system node packages (found via npm list -g --depth=0 *before* starting nvm installation)  reinstalling said packages globally but *without* `sudo` after nvm ins

[2021-11-09 19:53] danielhstahl commented on #8733
For some reason the amplify/backend/backend-config hadn't been merged into the branches that Amplify was connected to.  Once that file got merged (with the environmentMap containing the updated variables) this was addressed.

[2021-11-09 19:53] #8733 closed

[2021-11-09 21:02] josefaidt commented on #8653
Ah awesome @eettaa I'm glad to hear you're back up and running! Installing Node and npm packages with sudo can cause some headaches I've found, but those permissions look correct!

Closing issue as the issue has been resolved 🙂

[2021-11-09 21:02] #8653 closed

[2021-11-09 21:50] josefaidt commented on #8472
Hey @alessandromoscato :wave: can you confirm what you're experiencing with the Lambda Layers is what has been described in this issue https://github.com/aws-amplify/amplify-cli/issues/8216? Essentially after each `amplify env checkout` execution the Lambda Layer's version will receive an update. This version is not bumped until we push, therefore if we run `amplify env checkout prod` to do some w

[2021-11-09 23:06] julien-tamade commented on #8643
@ammarkarachi If I understand correctly, I believe field level override model level auth for a field inside of that model, but my request is saying that field level auth for a connection should override the connected model's model level auth as well.

[2021-11-09 23:11] aprilmintacpineda commented on #8572
So no fix for this yet?

[2021-11-10 02:02] osddeitf commented on #8392
@dudzin, and for anyone having issue with CI.
This is how i mitigate the issue currently, basically opt out of the new feature:
- don't use custom-policies.json.
- rename resource name of any manually added policies in <function_name>-cloudformation-template.json to make sure `CustomLambdaExecutionPolicy` won't appear in `Resource` section.

They are having a lot of works going on in transform v2

[2021-11-10 03:29] VicFrolov commented on #8585
bump

[2021-11-10 03:45] hackrx commented on #867
@matmedsaid did you find a fix to this issue? I am facing kind of similar issue, but in my case, I want to change the input type of autogenerated mutation for eg.
`deleteBlog ` takes id as input (by default) but I want input to be {blogID, userID,etc}, so I edited Schema.graphql
[code]
I also created `Mutation.deleteBlog.req.vtl` and `Mutation.deleteBlog.res.vtl` according to my input varialbes in

[2021-11-10 10:57] LeoRpc opened #8773 "Allow custom ressources to communicate with Amplify managed ressources"
Hi everyone :)

**Which Category is your question related to?**
Amplify advanced workflows

**Amplify CLI Version**
6.3.1

**What AWS Services are you utilizing?**
API Gateway + AWS Fargate (Container-based) **&** custom ressource (RDS Aurora Postgres Serverless)

**Provide additional details e.g. code snippets**
I would like to make my:
1. _**custom** RDS db_ (deployed following: https://docs.amp

[2021-11-10 12:43] DavidCaya opened #8774 "amplify-appsync-simulator - Integer.parseInt does not behave like in AppSync"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-10 12:59] flogy opened #8775 "Save initial Amplify CLI version when creating new project"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Migrating older projects to the latest Amplify CLI version is not easy right now. One of the problems is that users currently have to write down the Amplify CLI version with which the project was created w

[2021-11-10 14:03] vkurniavka opened #8781 "amplify push command fails after some amount of success pushes with error "Could not access the Amazon S3 object""
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-10 14:46] josefaidt commented on #8775
Hey @flogy :wave: thanks for taking the time to file this! I've marked this as a feature request 🙂

[2021-11-10 15:20] ramzihizi opened #8777 "Zipping the Local lambda dependencies after checking if the node modules exist"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

Amplify

### Describe the feature you'd like to request

Currently when running `amplify push` building the zip files for local lambda function does not alert when the node_modules is missing, and get pushed without dependencies.

[2021-11-10 15:56] danielesalvatore commented on #5972
Waiting for the feature to be available in AWS Amplify, I paste here my solution implemented using AWS CDK

`
        const plan = backup.BackupPlan.dailyWeeklyMonthly5YearRetention(
        this,
        'Plan'
      )
       const branchName = process.env.AWS_BRANCH
       const dynamodbTableHash = 'your-hash' // dynamodb table names are like 'name-hash-branch'

      let tables = []
      let t

[2021-11-10 17:29] bensewell commented on #8392
I think I've found a way of applying the patch above in CI for Amplify.

In your amplify.yml (which is either in the root of your repo, or under Build Settings in the console), add the following lines before the "frontend" section:

backend:
  phases:
    build:
      commands:
        - |-
          export X=`npm root -g`
          cd $X/@aws-amplify/cli/node_modules/amplify-provider-awscloudform

[2021-11-10 18:12] DavidCaya opened #8779 "amplify-appsync-simulator - #break statement does not exit loop immediatly"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-10 18:29] jasonleenaylor commented on #2384
@sundersc Shouldn't this be re-opened since #8144 was reverted? I saw it had been included in a release and tried to use it but then I noticed it was reverted in the same release that it was included in. 😮

[2021-11-10 19:06] josefaidt commented on #8585
Hey @VicFrolov :wave: thanks for raising this and apologies for the delay! Do you also experience this issue when using the `API` module from `aws-amplify` and changing the auth mode to IAM? reference: https://docs.amplify.aws/lib/graphqlapi/authz/q/platform/js/#using-amplify-graphql-client

[code]

[2021-11-10 19:20] hackrx commented on #867
I am able to solve this issue, [read more](https://docs.amplify.aws/cli/graphql-transformer/model/#usage)

[code]
And it worked like a charm. Cheers 🥂

[2021-11-10 23:15] julien-tamade opened #8787 "Push Fails when Removing Custom Message Trigger"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-11 01:45] osddeitf commented on #8392
v6.4.0 released, it's time to test it.

[2021-11-11 04:15] kondo-to commented on #8499
FYI
 I got **build error in Amplify Console** like that with above solution

like that (I modified a bit)

`[0mProject directory '/codebuild/output/******/amplify/backend/function/funcC' is not part of the build defined by settings file '/codebuild/output/*****/amplify/backend/function/settings.gradle'. If this is an unrelated build, it must have its own settings file.`

**How to solve**

So if fu

[2021-11-11 13:35] skryshi opened #8800 "Sample Lambda with IAM permissions calling AppSync"
Can someone please share a sample Lambda function (authorized with IAM permissions, this part is important!) that calls a mutation on AppSync.

It seems like such a trivial and often used code in Amplify, and it should be easy to find. But it's not anywhere. All sample code I can find is outdated and gives many errors, for example this Amplify blog entry:

https://aws.amazon.com/blogs/mobile/suppo

[2021-11-11 20:29] yuth commented on #8800
Amplify has it documented [here](https://docs.amplify.aws/lib/graphqlapi/graphql-from-nodejs/q/platform/js/#signing-a-request-from-lambda)

[2021-11-11 20:35] oe-bayram commented on #7890
I've upgraded amplify to 6.4.0 now and it seems like that the issue still persists.
Could you please test it again.

[2021-11-11 20:38] yuth commented on #8787
@julien-tamade Could you explain what you mean by this

What changes did you make with reconfiguration? Did you delete the deployment bucket?

[2021-11-11 20:42] julien-tamade commented on #8787
@yuth I tried configuring it a few different ways, the first time I tried swapping from the auto generated verification email option to custom module when it gets to the step when you set your trigger function. I also tried with removing the trigger altogether. Ultimately what I had to do was delete and recreate the trigger function and push with the auto generated verification email option still

[2021-11-11 20:42] RoniqueRicketts commented on #3390
From my experience working with Amplify when I run ```amplify api add``` and I go through and choose ```express backend```` I am unable to update the AGW's.  Firstly,  I can't make any changes to ```Access-Control-Allow-Headers```. Secondly, I am unable to send my Access Token so I can crack it in the Express Backend function (which could be more control over what a user can/can't do). Additionall

[2021-11-11 21:52] yuth commented on #8779
@DavidCaya thank you for the bug report. This is an issue with our velocity implementation. I have marked this as a bug

[2021-11-11 22:19] yuth commented on #8777
@ramzihizi You could update `scripts` section of your `package.json` with `amplify:<resource_name>` as documented [here](https://docs.amplify.aws/cli/function/build-options/) to run`npm install` and Amplify CLI will run it before each deployment.

[2021-11-12 04:13] krikork opened #8826 "Amplify pull/push fail"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-12 13:52] DavidCaya opened #8830 "amplify-appsync-simulator - Array.indexOf does not find specific string in array of strings"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-12 14:22] DavidCaya commented on #8779
@yuth Thank you. I have tried to take a look at the issues I've added for the simulator, but I'm having a little difficulty navigating Velocity implementation's code.

[2021-11-12 19:12] yuth commented on #8826
@krikork  From the error message it looks like there was some installation issue in the library Amplify CLI uses. Could you uninstall and reinstall Amplify CLI using the latest version of NPM

[2021-11-12 20:19] mguja-fcc opened #8834 "Getting error "error on fetching instances Error: No current user" with initial login."
Getting error "error on fetching instances Error: No current user" with initial login. If I refresh the browser than no issue fetching data from the database. It works fine until authentication token expires. I implemented authentication as per the example https://docs.amplify.aws/ui/auth/authenticator/q/framework/react/#use-cases below. I am fetching initial data under useEffect().

[code]

**Amp

[2021-11-12 20:50] samuelmburu commented on #1204
To anyone who is still researching this in Nov 2021:

I was able to get @RossWilliams solution working using some parts from @rfpedrosa thanks a lot to both of you and this thread.

All was working, but things fell apart after I ran `amplify push -y` after making some changes to my API, the **CognitoAddCustomAttribute** kept running even after trying both `Version` and `TriggerVersion` properties.

[2021-11-12 21:07] yuth commented on #8787
I could not reproduce this issue. I tried adding and removing Custom messages and push did not fail.

Could you see the deployment bucket still exists and has not been deleted.

[2021-11-12 21:38] phani-srikar commented on #8538
This has been fixed with amplify CLI `v6.4.0`. Please run `amplify push --force` after upgrading the Amplify CLI.

[2021-11-12 21:38] #8538 closed

[2021-11-12 22:01] yuth commented on #8781
@vkurniavka, how are you getting the access and secret keys? Does the ones you get have session token?

[2021-11-12 22:24] yuth commented on #8750
@eugen-maser could you explain what you mean by

Are you using Auth mode in AppSync console to use IAM.

[2021-11-12 23:52] awhig opened #8837 "Error: Found '}' where a key name was expected (check your syntax or use quotes if the key name includes {}[],: or whitespace) at line 3,7 >>> }"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-13 00:35] awhig commented on #8837
Trying to track down what's wrong.

It looks like the exception is happening when it's trying to parse this json file in my project.

`/amplify/backend/amplify-meta.json`

When I open that file, it seems to be corrupted.

If I open the file in the terminal, it thinks it's a binary file and shows junk. If I open it in VSCode, it gives me a warning, but I can open it anyway. After the junk bytes, it

[2021-11-13 00:48] yuth commented on #8682
The lambda gets a `MODULES` env variable injected which should have `custom` included in it. You can see it in the `amplify/backend/function/<resource-name>PreSignup/parameters.json`. `index.json` is what gets executed and expect a promise to be returned.

[2021-11-13 02:08] yuth commented on #8837
Do you know how the file got corrupted? Was there a git merge? Or was it opened in some editor which could have caused this?

 Could you try to restore this file from your version control like git and see if it works.

[2021-11-13 02:14] atomicalsoftwares opened #8842 "Auth Import - Custom SMS/EMAIL Message Values Not Imported"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-13 04:36] FelipeACP commented on #2191
This would be especially useful for time series use cases where you need monthly tables to avoid hot partitions

[2021-11-13 04:41] samuelmburu commented on #8321
I'm running into the same issue -- I had been building and rebuilding this project several times today, and then I started getting out of memory errors. I've been trying different versions of the amplify-cli(v4.52-6.5.0) and node(14.x-16.x) with varying levels of "success."

I  tried the `GENERATE_SOURCEMAP` flag and set the node memory to 10GB via vars exported by my `~/.zshrc`.

'm not sure what

[2021-11-13 18:11] dave-moser commented on #8681
It would be very helpful to have access to the name of the function that was added n the pre/post-add-function scripts.  This would allow you to take action on that specific function's content.

[2021-11-13 20:24] Arshiash80 opened #8849 "`amplify add auth` throws -> `Resource is not in the state stackUpdateComplete`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-14 13:24] skryshi commented on #8800
Thank you, it's working.

[2021-11-14 13:24] #8800 closed

[2021-11-14 14:18] tacck opened #8857 "Change the initial S3 bucket naming rule"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

S3

### Describe the feature you'd like to request

When we do `amplify init`, amplify-cli create the first S3 bucket like below.

[code]

I think this naming rule is`amplify-${projectName}-${envName}-${timeStamp}-deployment`.

Almost this is no problem.
However, this

[2021-11-14 14:26] dmost714 opened #8858 "CLI error when adding S3 trigger"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-15 01:00] mattfysh commented on #8426
Hi @josefaidt - I reran the scenario with the latest version of CLI and everything worked! Thanks for a great job on this one 🪄

[2021-11-15 01:00] #8426 closed

[2021-11-15 01:13] awhig commented on #8837
@yuth I do not know how it got corrupted. The whole amplify directory is in gitignore, so this file is not tracked. I've never opened this file until now, trying to fix this issue.  Can I delete this file, and maybe amplify recreates it or something? I do not know how this file is used.

[2021-11-15 02:25] mattfysh opened #8868 "How to get container to use secrets from the correct environment?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

Serverless containers

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

v6.4.0

**What AWS Services are you utilizing?**

Fargate / ECS

**Provide additional details e.g. code snippets**

Referring to the CF temp

[2021-11-15 02:40] mattfysh commented on #8868
I note another secrets-related bug I raised on Containers recently: https://github.com/aws-amplify/amplify-cli/issues/8384

Sounds like Containers + Secrets need an overhaul

[2021-11-15 02:48] mattfysh commented on #8868
The workaround:

[code]

Answering yes updated the template file... but the problem is that HARD-CODED values are rendered to the Cloudformation template, they should be parameterized but instead they appear as follows:

[code]

This is incompatible with git workflows, especially of importance when deploying from CI/CD

[2021-11-15 03:58] Etep15 commented on #8726
I too have this issue.

So the fix, for now, is to name the Secrets Manager Secret as rds-db-credentials/]My ARN for my Secret] ? I haven't been able to get it to work this way either.

[2021-11-15 06:24] Arshiash80 commented on #8849
Okay i found my solution;
https://stackoverflow.com/questions/60157632/amplify-fails-to-push-auth-nodejs8-10

thanks to https://github.com/aws-amplify/amplify-cli/issues/5982#issuecomment-774489926

[2021-11-15 06:24] #8849 closed

[2021-11-15 06:31] ngnathan commented on #4772
https://github.com/aws-amplify/amplify-cli/issues/4772#issuecomment-819743759

I was @kaustavghosh06 's post above with customPolicies in my `user-pool-group-precendence.json` file for the last few months, but as of Amplify CLI v7.3.0 (and I think 6.4.0), it erases the customPolicies object in the file and I'm back to square one.

[2021-11-15 06:38] chrisbonifacio commented on #6909
Recently upgraded to an M1 Mac and ran into this issue. So far haven't been able to find a working solution. Tried several installs and versions of the Java OpenJDK, including the arm version by Azul.

[2021-11-15 06:57] eugen-maser commented on #8750
Yes, I am using IAM as auth mode in AppSync.
The mutation to create the type has both directives: @aws_iam and @aws_cognito_user_pools

... but I did not set the provider "iam" in my schmea.graphql for this type:
`  @model(
    subscriptions: null
  )
  @auth(
    rules: [
      { allow: groups, groups: ["Admins"] },
      { allow: private, operations: [read] }
    ]
  )
  @key(
    name: "ByName"

[2021-11-15 06:57] vineethbhargavan opened #8883 "Cannot perform more than one GSI creation or deletion in a single update - with enableIterativeGSIUpdates set to true"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-11-15 07:09] chrisbonifacio commented on #6909
@renebrandel So using the ARM architecture version of the OpenJDK doesn't seem to work in this case. I had to install the x86 arch version from [here](https://www.azul.com/downloads/?version=java-17-lts&os=macos&architecture=x86-64-bit&package=jdk) and that seems to work. Not ideal, maybe something we can look into and see if it's something that can be fixed and/or accounted for on our end to bett

[2021-11-15 13:24] krikork commented on #8826
It is not an installation issue. It appears to be something with the state saved on s3. My teammates started getting the issue after I did. None of us had changed the cli version for a while.

[2021-11-15 13:37] OlgaMaslova opened #8875 "Error when building: Data did not validate against the supplied schema"
**Please describe which feature you have a question about?**
My build fails with the following error:
`There was an error initializing your environment.
2021-11-15T13:29:17.531Z [INFO]: [0mError: Data did not validate against the supplied schema. Underlying errors were [{"keyword":"required","dataPath":"","schemaPath":"#/required","params":{"missingProperty":"storageAccess"},"message":"should hav

[2021-11-15 15:25] AlessandroAnnini opened #8870 "[auth] - v7.3.1 - Template error: instance of Fn::GetAtt references undefined resource Userpool"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-15 15:34] kouz75 opened #8871 "v7.3.1 - amplify pull failed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-15 15:45] cjihrig commented on #8572
Sorry for the delay. We have received an update on this issue. The c6g instance type is only supported in [Elasticsearch 7.9 or later or any version of OpenSearch](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/supported-instance-types.html). Amplify will likely need to stop offering this instance type until we upgrade to a newer version of the search service.

[2021-11-15 16:25] josefaidt commented on #8858
Hey @dmost714 :wave: thanks for raising this! I was able to reproduce this issue using Amplify CLI v6.4.0 as noted in your post, however I was able to update to the [latest version of the CLI (v7.3.1)](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.3.1), migrate the resources, and successfully add a trigger to an s3 resource. Can you try upgrading and re-adding the trigger?

[code]

Up

[2021-11-15 16:46] TheDutchCoder commented on #8871
Our entire build is failing due to this very strange 6.4.0 -> 7.3.1 upgrade. It can't find certain parameters anymore.

Side note: this seems like an... unusual approach to semver?

[2021-11-15 16:46] akshbhu commented on #8870
hi @AlessandroAnnini

Can you mail your ```amplify``` folder to ```amplify-cli@amazon.com``` .

[2021-11-15 16:59] kaustavghosh06 commented on #8871
@kouz75 @TheDutchCoder Could it be possible for you'll to send your `amplify` folders to amplify-cli@amazon.com for us to investigate? We're closely monitoring it and will look into it right away.

[2021-11-15 17:06] TheDutchCoder commented on #8871
I'd really rather not, but here's the full log of the failed build. Reverting to 6.4.0 makes it work again:
[code]

[2021-11-15 17:17] awhig commented on #8837
I found in the `amplify/#current-cloud-backend` directory another copy/version of the `amplify-meta.json` file. I ended replacing the corrupted file with this version. I haven't changed the backend code since the previous push, so I believe everything there is up to date. I'm hoping this is an ok solution.

Since the whole amplify push/publish process is opaque to me, I'm not 100% sure I'm not scr

[2021-11-15 17:19] akshbhu commented on #8871
hi @TheDutchCoder

Can you share the cli-inputs.json file present in auth category folder after migration?
 Since this file contains your resource state , just redact any confidential info from it before sharing to``` amplify-cli@amazon.com```

[2021-11-15 17:22] kaustavghosh06 commented on #8871
@TheDutchCoder Totally understand the confidentiality.
If we could get the keys of your parameters.json object in amplify/backend/auth folder, that'll really help us reproduce the issue on our end and provide a fix.

[2021-11-15 17:23] dragosiordachioaia commented on #8870
I have the same issue - today's deployments via the CI pipeline started failing all of a sudden. Also, deploying to a dev environment from my machine worked while I was on the 6.3.1 version of the CLI, but as soon as I updated to 7.3.1, (while trying to understand the issue with the CI pipeline), it started giving the same error as well.

[2021-11-15 17:25] TheDutchCoder commented on #8871
Sure thing, here you go:
[code]

[2021-11-15 17:27] AlessandroAnnini commented on #8870
@akshbhu I sent you my amplify folder but I got a message from your mail server that says the message was **quarantined**.

[2021-11-15 17:29] kaustavghosh06 commented on #8870
@dragosiordachioaia Would it be possible to send your amplify folder to amplify-cli@amazon.com and we'll look into this right away.

[2021-11-15 17:31] dragosiordachioaia commented on #8870
@kaustavghosh06 it seems that after updating my local CLI to 7.3.1, it deleted a bunch of files from my amplify folder and added some new ones. Do you want the pre or post-update version of the amplify-folder?

[2021-11-15 17:34] kaustavghosh06 commented on #8870
both pre and post would be helpful @dragosiordachioaia

[2021-11-15 17:37] akshbhu commented on #8871
Hi @TheDutchCoder

Can you also check  amplify/cli.json file if  it has breakcirculardependency flag  set to true?

[2021-11-15 17:53] kaustavghosh06 commented on #8870
We were able to reproduce this issue with "UPDATE_FAILED      authaime270c617          AWS::CloudFormation::Stack Mon Nov 15 2021 14:45:07 GMT+0100 (Central European Standard Time) Template error: instance of Fn::GetAtt references undefined resource Userpool"

We're looking into it right away.

[2021-11-15 17:54] dragosiordachioaia commented on #8870
@kaustavghosh06 do you still need my amplify folder?

[2021-11-15 17:54] kaustavghosh06 commented on #8870
No, we should be good for now. We'll reach out if need additional info @dragosiordachioaia in the meanwhile.

[2021-11-15 18:21] ingwinlu opened #8873 "amplify 7.x.x fails ci/cd build for one branch / fine on other"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-15 18:26] kaustavghosh06 commented on #8873
@ingwinlu Thank you for sending over your amplify folder to us. We took a look at the files and root-caused it to the "iotrule" custom category that you're having in the project which is missing a "service" key in all it's corresponding resources like the other Amplify resources. We're working on a fix right now but in the meanwhile if you add add a "service" to your custom category resources whic

[2021-11-15 18:35] shunyun-bp opened #8874 "After upgrading to v7.3.1, api update returns GraphQLError: Syntax Error: Unexpected }"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-15 18:39] TheDutchCoder commented on #8871
It doesn't. Here's the config:
[code]

[2021-11-15 19:04] kaustavghosh06 commented on #8874
@shunyun-bp You have a syntax error in your GraphQL schema. The following type mentioned below is **missing an opening {**

[code]

[2021-11-15 19:05] #8874 closed

[2021-11-15 19:07] shunyun-bp commented on #8874
@gustav, arghh!!! So embarrassed, but so grateful!  Thank you!

Sean Onion
Principal Architect, Presales SWAT
+1 (760) 670-5107
***@***.*** ***@***.***> |  w <http://www.bigpanda.io/>ww.bigpanda.io <http://www.bigpanda.io/>

[2021-11-15 19:12] kaustavghosh06 commented on #8875
Thanks @OlgaMaslova We have enough information to investigate at this point. We'll investigate right away and get back to you.

[2021-11-15 19:22] dmost714 commented on #8875
I may be encountering a similar issue.
All files are commited, and I `amplify pull -y`, and `amplify status` shows no changes.
Then I make any change to my model (e.g. just add another return char at the end of the file).
When I `amplify push -y` it fails with a similar error to the one above:
[code]
And after, there are multiple files modified and `amplify status` shows multiple categories with c

[2021-11-15 19:32] kaustavghosh06 commented on #8875
@dmost714 Could you please tell us the JSON in  `amplify/backend/storage/parameters.json` and  `amplify/backend/storage/s3-cloudformation.json`?

[2021-11-15 19:32] dmost714 commented on #8875
After performing `amplify pull -y` and having no changed files:
[code]

I'll try creating a new env as suggested.

[2021-11-15 19:37] dmost714 commented on #8875
**/amplify/backend/storage/s3iwpkassets/parameters.json**
[code]

**/amplify/backend/storage/s3iwpkassets/s3-cloudformation-template.json**
{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "S3 resource stack creation using Amplify CLI",
  "Parameters": {
    "bucketName": {
      "Type": "String"
    },
    "authPolicyName": {
      "Type": "String"
    },
    "unauthPolicyName": {

[2021-11-15 19:42] dmost714 commented on #8875
I created a shiny new env, amplify status shows 'Create' for all categories. I did an amplify push, and it failed with the above error. I tried 'amplify storage update' and it also fails with the exception in my comment above. I hope this helps. Happy to provide any additional details needed.

[2021-11-15 19:45] kaustavghosh06 commented on #8875
@dmost714 yes, we were able to reproduce this issue. Thanks for all the information. We're looking at it right away.

[2021-11-15 20:17] yuth commented on #8837
The way to restore this file would be to run [`amplify pull`](https://docs.amplify.aws/cli/teams/commands/#environment-cli-commands) command. If you want to restore it to a new project you could use
[code]

Amplify CLI zips the backend directory and ts content and uploads them to S3 deployment bucket. This file is downloaded and unzipped to `amplify/#current-cloud-backend` when pull command is exe

[2021-11-15 20:17] #8837 closed

[2021-11-15 20:20] yuth commented on #8826
@krikork could you see if this happens with different projects as the stack trace seems to indicate to have issues with importing packages.

If this is because of something in the S3, was there was some modification to the bucket and its contents?

[2021-11-15 20:25] jk171505 commented on #8875
I'm having the same issue. Five days ago last deployment with amplify-cli (6.3.1.) everything worked fine. Today some front-end files were updated, nothing related to amplify and the deployment with amplify-cli 7.3.1 fails with the same error.
Although I noticed one issue few lines above related to `amplify-meta.json`. Here is my build log:
`
2021-11-15T15:55:48.180Z [INFO]: [0mAmplify AppID foun

[2021-11-15 20:25] yuth commented on #8750
@eugen-maser could you share a minimal schema where this could be reproduced. Its bit hard for me to reproduce with a partial schema.

[2021-11-15 20:28] kaustavghosh06 commented on #8875
@jk171505 We've root-caused the issue and working on a fix for this. In the meanwhile if you could provide us with your `amplify/backend/storage/parameters.json` and `amplify/backend/storage/s3-cloudformation-template.json` files, we can validate against our fix and make sure it works for your project.

[2021-11-15 20:37] jk171505 commented on #8875
@kaustavghosh06 sent to amplify-cli@amazon.com.

[2021-11-15 21:07] kaustavghosh06 commented on #8875
Thanks @jk171505.
@dmost714 @jk171505 @OlgaMaslova  We have validated all of our files against our fix here (#8881). We plan to do a release with the fixes later today.

[2021-11-15 22:13] aprilmintacpineda commented on #8572
How do I handle this then? What do I put into the template? Because I'm going to create the production environment tomorrow for one of our clients

[2021-11-15 23:31] #8870 closed

[2021-11-15 23:31] #8873 closed

[2021-11-16 01:04] dreamorosi opened #8884 "Support CDK override for API (REST)"
Version 7 of the CLI introduced support for CDK override of some categories like Auth & Storage. With this issue I'd like to propose to support API (REST) next. This would unlock things like [data transformations in VTL](https://docs.aws.amazon.com/apigateway/latest/developerguide/rest-api-data-transformations.html) (already supported for GraphQL), [request validation](https://docs.aws.amazon.com/

[2021-11-16 01:04] daniellorenzin opened #8885 "7.3.1 - amplify push auth failed - triggers"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 01:07] kaustavghosh06 commented on #8885
@daniellorenzin Yes, we're aware of this issue and in the process of rolling out a fix.
Here's the fix which we just merged - https://github.com/aws-amplify/amplify-cli/pull/8879
Closing as a dup of https://github.com/aws-amplify/amplify-cli/issues/8870

[2021-11-16 01:07] #8885 closed

[2021-11-16 01:17] daniellorenzin commented on #8885
Great thanks

[2021-11-16 01:28] dreamorosi opened #8886 "Expose Custom Resources Outputs into aws-exports.js"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

With Amplify CLI Customers can define custom resources via CloudFormation & AWS CDK and these resources can reference the ones created by Amplify. At the moment though, interacting with these resources fro

[2021-11-16 06:05] aprilmintacpineda opened #8889 "`aws_user_files_s3_bucket` on aws-exports file doesn't match the correct bucket name, instead of `mybucket-${env}` it seems to have done `mybucket${env}-${env}"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 06:11] kaustavghosh06 commented on #8889
@aprilmintacpineda Do you ming sharing your amplify/ folder with us? We can investigate further. You can send it to us at amplify-cli@amazon.com

[2021-11-16 06:13] kaustavghosh06 commented on #8889
I created a project, added storage and pushed and it populated the correct name in the exports file. Knowing more details about the project would help us investigate further. Thanks!

<img width="862" alt="Screen Shot 2021-11-15 at 10 12 46 PM" src="https://user-images.githubusercontent.com/7247658/141930875-05e7ba02-e746-48ed-81ee-77003ca5c2e1.png">

[2021-11-16 06:20] aprilmintacpineda commented on #8889
I can replicate it on my existing project, I don't exactly know what's producing it, but I found `amplify/backend/amplify-meta.json` which contains the same bucket name as in the `aws-exports`, I'm not really sure where's the root of this, what subject do I put in the email?

[2021-11-16 06:22] kaustavghosh06 commented on #8889
@aprilmintacpineda I think if you can provide the contents of the `amplify/backend/storage` folder - that should be sufficient for us to investigate as to what's causing it - it contains the CloudFormation files which generates the bucket and the associated bucket-name.

[2021-11-16 06:22] aprilmintacpineda commented on #8889
my lambda's environment variables are also experiencing the same error.
![image](https://user-images.githubusercontent.com/21032419/141932358-ed273084-dfdb-4e9b-98c6-2743062d2cf4.png)

[2021-11-16 06:26] aprilmintacpineda commented on #8889
**amplify/backend/storage/wrgds3bucket/parameters.json**

<details>
[code]
</details>

amplify/backend/storage/wrgds3bucket/s3-cloudformation-template.json

<details>

[code]
</details>

The **amplify/backend/storage/wrgds3bucket/storage-params.json** is just an empty `{}`

[2021-11-16 06:30] kaustavghosh06 commented on #8889
Is your bucketName  "mybucketname" ?

As you can see in your CloudFormation file - the final bucket name is a resultant of this operation
[code]

So depending on what you have as bucketName in the parameters.json - the generated bucket name would correspond to that.

[2021-11-16 06:31] aprilmintacpineda commented on #8889
@kaustavghosh06 no, the bucket name is `wrgds3bucket`, you can also see that in my `parameters.json` above the name is correct...

[2021-11-16 06:36] aprilmintacpineda commented on #8889
The resource has already been created, and the bucket name is correct, just that the name it's putting into the env variables of the lambda function and the aws-exports is incorrect.

[2021-11-16 06:39] kaustavghosh06 commented on #8889
These values are populated directly from the CloudFormation resources into these files - so I'm wondering how it would add these values. Could you tell us the steps it  you took to reach to this state? Was this working for you before or is this a brand new project?

[2021-11-16 06:46] aprilmintacpineda commented on #8889
I actually don't have any idea myself. I think it was working a few weeks ago, I don't remember making any change related to amplify. Although, this project was previously on a different AWS Account and I moved it into our client's own aws account just about 3 weeks ago, I did that by creating a new instance of the app on the new aws account so I did not move any existing resources across.

[2021-11-16 07:00] aprilmintacpineda commented on #8889
I saw that on the cloudformation the output bucket name is `wrgds3bucketdev-dev` so now I have 2 buckets, `wrgds3bucketdev-dev` and `wrgds3bucket-dev` and I can see that it was just created around 4 hours ago.

[2021-11-16 07:01] aprilmintacpineda commented on #8889
And the only thing I changed on that deployment was frontend js files.

[2021-11-16 07:08] aprilmintacpineda commented on #8889
Okay @kaustavghosh06 I think this is related to version 7

https://github.com/aws-amplify/amplify-cli/releases/tag/v7.3.2

![image](https://user-images.githubusercontent.com/21032419/141937502-4779314f-5267-43ca-a122-f3e77902e658.png)

As you can see version 7 was just deployed 4 hours ago and it so happened that I made a deployment pretty much after that and my amplify console was set to use `lat

[2021-11-16 07:11] kaustavghosh06 commented on #8889
@aprilmintacpineda Can you check Amplify Console Build logs to get more information on your deployment? Also, were you pushing to the same environment as you have locally? Can you run `amplify pull` to pull down the deployed environment (using Amplify Console CI/CD) and share with us the contents of the `amplify/backend/storage` dir?

[2021-11-16 07:14] aprilmintacpineda commented on #8889
It has the following:

`amplify/backend/storage/wrgds3bucket/cli-inputs.json`

[code]

Then the `amplify/backend/storage/wrgds3bucket/build/parameters.json`

[code]

Then the `amplify/backend/storage/wrgds3bucket/build/cloudformation-template.json`

[code]

[2021-11-16 07:17] aprilmintacpineda commented on #8889
I'm sure this is it:

[code]

[2021-11-16 07:37] aprilmintacpineda commented on #8889
- At `11/10/2021, 1:25:51 PM (PHT)` I did a deployment and it was still using `6.3.1`, this date the app was tested and this problem was not found.
- At `11/15/2021, 9:43:56 AM (PHT)` I did a deployment and it was using `6.4.0`, this date no testing happened related to storage.
- Today at around 12PM I did a deployment and this problem was seen..

Now I'm trying to go back to 6.3.1 and `6.4.0` but

[2021-11-16 07:47] kaustavghosh06 commented on #8889
@aprilmintacpineda I'm still not sure how you got into this state. The files you mentioned in https://github.com/aws-amplify/amplify-cli/issues/8889#issuecomment-969906977 are different from the ones mentioned in https://github.com/aws-amplify/amplify-cli/issues/8889#issuecomment-969941863 - are these the same environments?

In the interim what you can do is

1) replace the content of `amplify/bac

[2021-11-16 07:50] aprilmintacpineda commented on #8889
It's in a fucked up state, yes they are in the same environment, I don't deploy using my local machine, I use amplify console and it's connected to a git branch, when I deployed today, amplify console used the latest version of amplify which is 7.3.2 which is very different from the last version which was 6.4.0 so now the one on the cloud is using 7.3.2 which seems to have changed the naming conve

[2021-11-16 07:53] kaustavghosh06 commented on #8889
@aprilmintacpineda Amplify Console shouldn't be changing these CloudFormation files automatically even if the version is pinned to 7.3.2. I'll try reproing on my end the exact same flow.

[2021-11-16 07:57] aprilmintacpineda commented on #8889
I'm trying to go back to 6.4.0 and manually push from my machine but amplify seems to try to create the previous storage bucket which was `wrgds3bucket-dev`:

[code]

[2021-11-16 07:58] kaustavghosh06 commented on #8889
@aprilmintacpineda You can use the import storage option - https://docs.amplify.aws/lib/storage/getting-started/q/platform/js/#manual-setup-import-storage-bucket

[2021-11-16 08:05] aprilmintacpineda commented on #8889
If it's been around since 2 years ago, I just encountered it now, suddenly amplify console decided to do whatever it did that caused this:

![image](https://user-images.githubusercontent.com/21032419/141945159-cd93207c-6ffa-4504-9fa1-bba6842d37a9.png)

[2021-11-16 08:06] aprilmintacpineda commented on #8889
I just did `aws s3 sync s3://FROM_BUCKET s3://TO_BUCKET` to sync the 2, now I suppose the old one would no longer be used anymore.

[2021-11-16 08:26] aprilmintacpineda commented on #8889
I'm closing this since I've figured it out, thanks for the help. In summary (for reviewing): I changed nothing in amplify resources but when I deployed around 10:55ish am today (the first deployment I did today), amplify console suddenly decided to do something whatever it is it did which made it create a new s3 bucket for the app with a different name that following a naming convention that was a

[2021-11-16 08:26] #8889 closed

[2021-11-16 08:27] Rayv1 commented on #8726
@Etep15 yes that would be a solution. What I did is to pull the amplify-cli and build my own version without the above code. I then get the list of all Secrets and can select accordingly.

[2021-11-16 08:49] aprilmintacpineda commented on #8572
@cjihrig hoping to get actionable items tomorrow as we need to have a production environment by Thursday. Thanks so much 🙏🏻

[2021-11-16 09:45] batical opened #8892 "Migration 6.4.0->7.3.2 - Amplify Init existing environment issue"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 10:05] eugen-maser commented on #8750
@yuth
Unfortunately it's a general problem.
When I activate "AWS_IAM" as additional auth-mode, when I add or update it with "amplify auth" in CLI, I see that at the schema in AppSync console every mutation has an @aws_iam directive, although there is no auth-rule for "iam" as a provider inside my schema.graphql file (inside the amplify/backend/api-folder) in my project.

[2021-11-16 10:32] ray415 opened #8893 "Migration 6.4.0->7.3.2 S3 storage bucket name changed. Critical!!!"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 10:35] ray415 commented on #8893
In the meantime Amplify v. 7.3.3 came out. Using the `latest` tag in the build settings we are getting this buildtime error now:
[code]

[2021-11-16 11:10] OskarD commented on #8126
Here is my workaround, please let me know if it sucks: `awsExports.oauth.domain.replace(/\.auth\..*\.amazoncognito.com/, '')`

Hope it doesn't and that it helps someone out there

[2021-11-16 11:52] javiermartingonzalez opened #8894 "Override S3 Auth Public Policy"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**

S3 Storage

**Amplify CLI Version**

7.3.3

**What AWS Services are you utilizing?**

S3 Bucket

**Provide additional details e.g. code snippets**

Hello, I want to put "s3:putObjectAcl" permission to IAM rule "public_policy". Before last Amplify changes, it was

[2021-11-16 12:49] v-kurniavka commented on #8781
@yuth, I create access key for my account in aws console then download it for use. No they doesn't, or I don't now how to find it

[2021-11-16 14:59] sergiorodriguez82 commented on #8550
It doesn't work, any workaround? We need to add to all of our model entities

[2021-11-16 15:44] josefaidt commented on #8525
Hey @kylekirkby and @antonio-vevivo thanks for raising this and apologies for the delay! I have a few follow-up questions:

- When you run into this issue is the layer mentioned several versions behind or does it occur when we're upgrading from an affected layer?
- Are you able to capture the diff of the layer's CloudFormation template for when it occurred?

As an example, here is a snippet from a

[2021-11-16 15:51] dmost714 commented on #8875
Thank you for the quick turnaround on that issue.
Using v7.3.3 I am able to touch the GQL model and push up changes.

I am encountering cloud formation issues when attempting `amplify auth update`. I'll open a new issue for those.

[2021-11-16 15:52] kylekirkby commented on #8525
Hi @josefaidt ,

The affected layer is usually several versions ahead of the breaking layer version, from what I've seen. I'm sorry but I can't provide a diff. If this happens again, I'll capture it. I've got one lambda layer with about 50 + versions, sometimes the deployment will fail on an old version that doesn't match the correct naming convention that is required...

[2021-11-16 16:05] josefaidt commented on #8525
Hey @kylekirkby thanks for clarifying! In the mean time how do you have the restrictions set (if any) for the affected Lambda Layer?
![image](https://user-images.githubusercontent.com/5033303/142021361-a8723339-d8db-44b8-9e08-aa84facd0030.png)

[2021-11-16 16:07] kylekirkby commented on #8525
@josefaidt - Specific AWS account:

[code]

[2021-11-16 16:08] dmost714 opened #8895 "cloudformation fails after auth migration"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 16:34] dmost714 commented on #8895
Apologies, I did not just hit 'return' on all the CLI prompts. I pick 'walk though all the auth configurations', and when it asks "do you want to add User Pool Groups" I picked no.

[2021-11-16 17:07] ZukkyBaig opened #8896 "Running Amplify CLI inside Docker Container - Error: auth headless is missing the following inputParams userPoolId, webClientId, nativeClientId"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 17:27] kaustavghosh06 commented on #8892
@batical What are the contents of your files in the `amplify/backend/storage` folder?

[2021-11-16 17:29] kaustavghosh06 commented on #8871
@TheDutchCoder Could you give it a try in Amplify Console with latest CLI version and confirm if the issue has been mitigated?

[2021-11-16 17:32] kaustavghosh06 commented on #8894
@javiermartingonzalez For a change o this high-level, you can go into the `amplify/backend/storage/cli-inputs.json` file and make the change and then run `amplify push`. Let me know if that worked!

[2021-11-16 17:35] kaustavghosh06 commented on #8895
@dmost714 After migrating and walking through all the questions and answering No to the question for "do you want to add User Pool Groups", what were the files created in `amplify/backend/auth` directory?

[2021-11-16 17:37] ZukkyBaig commented on #8896
Ok, I had an extra "double quote" here:
[code]
I removed that, and now I am seeing this error:
![amplifyerror2](https://user-images.githubusercontent.com/20065329/142036770-fc2c316a-d862-42df-8598-2d3627960e43.png)

"TypeError: The "path" argument must be of type string. Received undefined"

Thank you

[2021-11-16 17:38] kaustavghosh06 commented on #8896
@ZukkyBaig Could you please provide screenshot for the entire stack trace?

[2021-11-16 17:41] ZukkyBaig commented on #8896
![stacktrace](https://user-images.githubusercontent.com/20065329/142037380-81796c49-3d17-4a03-be66-043d09d50d47.png)

[2021-11-16 17:43] dmost714 commented on #8895
<img width="747" alt="Screen Shot 2021-11-16 at 12 42 48 PM" src="https://user-images.githubusercontent.com/224830/142037715-6d36ea0f-51f5-4f52-9e89-e19b5336732f.png">

[2021-11-16 17:51] kaustavghosh06 commented on #8895
@dmost714 Would it be possible for you to send across this `amplify` folder for us to investigate?

[2021-11-16 17:55] dmost714 commented on #8895
sort-of. Somehow the project got stuck in a failure state in the cloud, and couldn't roll back. Odd because I haven't actually been able to make any substantive changes. Just before you responded, I deleted the backend in the Amplify admin console thinking I'd spin up a new environment. Mistake. All resources are now gone... So I need to re-add everything as if it's a new project.

That said, I do

[2021-11-16 18:03] josefaidt opened #8898 "Migration 6.3.1 -> 7.3.3 -- unable to update Lambda Layer permissions"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 18:05] kaustavghosh06 commented on #8895
You can send it to amplify-cli@amazon.com

[2021-11-16 18:15] javiermartingonzalez commented on #8894
What is the key and the value for add it? Before migration, parameters.json was cleared with default values and you add easily. Now I don't have a sample or default values to add new values.

[2021-11-16 18:16] kaustavghosh06 commented on #8896
@ZukkyBaig Does your project already have an auth resource? Does the script work without the --categories "${CATEGORIES}" \ params?

[2021-11-16 18:55] maniramezan opened #8899 "`TypeError: args.fields.forEach is not a function` when generating transformers"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-11-16 18:57] cjihrig commented on #8899
You should be able to work around this bug by placing "questionId" in an array.

[2021-11-16 18:58] Etep15 commented on #8726
So for anyone else running into this issue the key is to use the RESOURCE_ID of the RDS serverless cluster.

Not the ARN and not the DB cluster ID.

On the web console go to your RDS and pick the "Configuration" tab. In there is "Resource ID". This is what you want to use. So when creating your secret in the Secrets Manager the name should look like...

rds-db-credentials/cluster-XXXXXXXXXXXXXXXXX

[2021-11-16 19:09] kaustavghosh06 commented on #8894
@javiermartingonzalez So now with overrides.ts file, you can do the same by defining the login in there. I tried doing what you mentioned above and the overrides.ts file in that case would look like this:

[2021-11-16 19:09] kaustavghosh06 commented on #8894
@javiermartingonzalez So now with overrides.ts file, you can do the same by defining the login in there. I tried doing what you mentioned above and the overrides.ts file in that case would look like this:

[code]