[2020-04-01 00:41] emmafass commented on #3730
@undefobj I am going through a similar issue as @mdebo. Where would the best place to provide examples be? This thread?

[2020-04-01 00:55] kaustavghosh06 commented on #3792
I see. So you've tried a few methods mentioned here - https://aws.amazon.com/premiumsupport/knowledge-center/cloudformation-update-rollback-failed/ to change the state of your stack from "UPDATE_ROLLBACK_FAILED" state correct? `amplify push` wouldn't work unless the stack changes from the UPDATE_ROLLBACK_FAILED state. We're engaging with the Cloudformation team to see what can be done about this.

[2020-04-01 01:00] stayingcool commented on #3792
Yes. I want through this already by looking at other similar amplify issues. One thing to note though I couldn't see the Advanced option in the UI to skip a resource.

AWS CloudFormation console:

1.    Open the AWS CloudFormation console.

2.    From the Stack Name column, select the stack that's stuck in UPDATE_ROLLBACK_FAILED status.

3.    Choose Actions, and then choose Continue Update Rollba

[2020-04-01 01:00] UnleashedMind commented on #3792
@stayingcool
In the meanwhile, you can try to skip the failed resources in the rollback, the following two short doc provides more information on how to get them done:
https://aws.amazon.com/premiumsupport/knowledge-center/cloudformation-update-rollback-failed/
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks

[2020-04-01 01:03] UnleashedMind commented on #3792
After the rollback is successful, and the stacks are in the "....COMPLETE" status, we can then check on your project, and make sure all the nodejs versions are correctly set,
https://aws-amplify.github.io/docs/cli/lambda-node-version-update
Then we can try to execute another push.

[2020-04-01 01:07] stayingcool commented on #3792
I just ran the command to skip a resource. The command did not throw any console output, just completed it.
Then by looking at the stack events in CloudFormation I see that it failed again with this error:

Timestamp | Logical ID | Status | Status reason
-- | -- | -- | --
2020-04-01 12:03:03 UTC+1100 | pnamar05first-20190511104149 | UPDATE_ROLLBACK_FAILED | Nested stack resources can only be skipp

[2020-04-01 01:11] UnleashedMind commented on #3792
Have you tried to use the steps pointed out in the second doc for the nested stacks?
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks

[2020-04-01 01:30] stayingcool commented on #3792
Thanks, I did not by referencing the ChildStackName.Logical_IDOfFailingResource. I think the RollBack completed.
Not sure though why the UI should show that in RED:
<img width="729" alt="UPDATE_ROLLBACK_COMPLETE" src="https://user-images.githubusercontent.com/31205483/78089962-94a17a80-7414-11ea-8e6f-7afdacd7ac43.png">

[2020-04-01 01:31] brene commented on #3792
Yes, just upload it to any cloud storage Google Drive, OneDrive etc. and share the link via the email address. After we received it, you can disable the link.

[2020-04-01 01:33] UnleashedMind commented on #3792
Great!
Please find a way to share your amplify folder, make sure it's not public just in case it has confidential information.
And you can go ahead with the checks on the node versions in the codebase. Use this doc as a guideline
https://aws-amplify.github.io/docs/cli/lambda-node-version-update

[2020-04-01 01:46] stayingcool commented on #3792
Thanks, amplify push went through the DEV environment successfully. 👍

I have a similar issue in the PROD as well. I have to find another deployment window tonight to see if this will push the code changes there as well.

[2020-04-01 02:21] MontoyaAndres opened #3816 "Add @key to existing tables"
**Which Category is your question related to?**
I'm updating the schema and adding the attribute @key to each model

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.17.2

**What AWS Services are you utilizing?**
Api, Storage, Auth with Api key

**Provide additional details e.g. code snippets**

I have right now this schema:

[code]

And I want to

[2020-04-01 03:14] stuartz commented on #922
this issue just got me with out any prior warning when pushing updates to the schema...fortunately dev. Amplify v.4.16.1

[2020-04-01 03:42] MontoyaAndres commented on #1673
I got the same error when I try to get an environment from amplify (AWS services) to my local machine...

[2020-04-01 05:07] xitanggg commented on #3782
Ok. Thanks for confirming. It will be helpful if this feature is added.

[2020-04-01 05:10] sacrampton opened #3818 "Add Conflict Detection stops ElasticSearch streaming"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
My team is implementing DataStore. As part of that implementation on our existing API we have updated the API to allow CONFLICT DETECTION. When I use AppSync to create a record it correctly adds a _version field and _lastChangedAt field. If I use an update command it correctly increm

[2020-04-01 05:10] slatemates commented on #3148
We are facing the same issue . If the subscriber is one of the "owners" and we subscribe using
onCreate(owners:id) , it doesnt work.  As a workaround we modified the onCreate(owners : String) to
onCreate(owners :[String]). Now we must the whole list owners to subscribe to any changes on the object.

[2020-04-01 07:16] chantlong commented on #2227
+1

[2020-04-01 07:20] vesters commented on #3794
I'll try that. Thank you for this helpful snippet.

Not sure where I could have found this in the docs, it does seems a bit hidden to me.

[2020-04-01 07:34] chrisfowler commented on #3810
@kaustavghosh06 I did update amplify/backend cloudformation and did `amplify push` (see above) but is failing due to 'UPDATE_ROLLBACK_FAILED' status of stack.

Stack update is failing as existing template to the Lambda in question is asking for a runtime that is no longer supported: node6.10.

Can I update the existing template, so the roll-back would ask for node12.x ?

[2020-04-01 07:55] andraskuti commented on #1450
Based on the official docs this is what you need to do to rotate keys.
It worked for me (even in the scenario, when the current key was already expired).

[https://aws-amplify.github.io/docs/cli-toolchain/graphql#apikeyexpirationepoch]

[2020-04-01 07:58] sacrampton commented on #3818
See attached screen shot from CloudWatch showing that "Cannot generate dynamic mappings of type [_version] for [_version]"

So I went to Kibana and tried to define _version as follows:

PUT /bom/_mapping/doc
{
    "properties": {
        "_version": {
            "type": "integer"
        }
    }
}

But then I got this error

{
  "error": {
    "root_cause": [
      {
        "type": "remote_trans

[2020-04-01 08:43] sacrampton commented on #3796
I opened an issue #3818 which I now believe is identical to this one.

I believe that _version is some meta property of ElasticSearch and that it therefore not syncing.

Given that I've enabled Conflict Resolution with amplify update api, I have no idea how I can disable Conflict Resolution given that for now it does work with ElasticSearch and that ElasticSearch is core to our solution.

If _vers

[2020-04-01 08:51] sacrampton commented on #3818
Looks like #3796 is the same issue

[2020-04-01 08:54] sacrampton commented on #3818
If _version is a reserved field in ElasticSearch, can we modify python_streaming_function.py to map from _version to something else like __version or something similar?

[2020-04-01 08:55] sacrampton commented on #3818
@ammarkarachi

[2020-04-01 09:16] sacrampton commented on #3818
Last comment, I note that __typename has two(2) "__" - if you change it all to __version, __deleted, __lastChangedAt then there is no conflict with anything in ElasticSearch.

[2020-04-01 09:50] slatemates commented on #3148
[https://github.com/aws-amplify/amplify-cli/issues/2512](url) . This might help

[2020-04-01 11:20] mdebo commented on #3730
Thank you i left another comment in
https://github.com/aws-amplify/amplify-js/issues/5119#issuecomment-607188246
as suggested :-)

[2020-04-01 12:48] chrisfowler commented on #3810
Output below.

Because the rollout is failing, Cloudformation tries to rollback. Bu the Lambda function runtime is set to an unsupported node version (original deployment was over year ago). In short I am blocked to go forward, and blocked to rollback.

Where does `amplify pull` fetch the cloudformation from? Is this generated on the fly?

[code]

[2020-04-01 13:30] chai86 commented on #3812
@kaustavghosh06 I changed my path to the one i was using before, but now when i run `amplify push` i get the error:
[code]

When i run `amplify configure project` it's like doing an `amplify init`. I'm being asked:

[code]

I do not want to replace or ruin anything in my current backend or current project! Should i continue this process?

[2020-04-01 14:01] lenarmazitov opened #3819 "TransactWriteItems resolver, how to assign DynamoDb table name"
AppSync resolvers support **TransactWriteItems** operation and in **transactItems** I have to define DynamoDb table for each item, but Amplify adds some suffix to table names. Is there some way to retrieve this suffix in resolver?

**Which Category is your question related to?**
Amplify, AppSync, DynamoDb resolver, TransactWriteItems.

**Amplify CLI Version**
4.17.2

[2020-04-01 14:52] berniedurfee opened #3820 "Can I enable previews using the CLI?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Hosting

**Amplify CLI Version**
4.17.2

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**

[2020-04-01 15:24] jwoehrle commented on #2402
I'm running into a similar (the same?) issue when trying to run `amplify mock api` with a custom resolve and an inline request-/responsetemplate.

The mock fails to start up with the error message:
[code]

Obviously this error message is not very helpful. However I traced back the problem to:
https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-util-mock/src/CFNParser/resource-p

[2020-04-01 16:37] ammarkarachi commented on #3796
@sacrampton You are right
@lenarmazitov Elasticsearch already has a [meta field ](https://www.elastic.co/blog/elasticsearch-versioning-support)that it uses to version documents, as a work around you could exclude it from the root object.

[2020-04-01 17:01] ammarkarachi commented on #3818
@sacrampton thanks for the research I will mark it as a bug and we are likely going to introduce some kind of conflict detection

[2020-04-01 17:02] attilah commented on #3820
@berniedurfee could you please provide some context on your question? what kind of "preview" you'd like to enable?

[2020-04-01 17:05] yuth commented on #2402
@jwoehrle could you open a new issue for this.

[2020-04-01 17:17] Jay2113 commented on #3745
Hi @alan-cooney
Can you please confirm the version of amplify-tools-gradle-plugin that you are using?

[2020-04-01 17:17] attilah commented on #3815
@mdebo as a solution to unblock you perhaps the best way to work around this limitation is to manually dissect the policies into multiple Managed Policies and attach them to the Lambda role you've in a [custom stack](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks). After you've it remove the grants with the CLI update flow.

Another choice could be to remo

[2020-04-01 17:22] attilah commented on #3814
@mdoesburg thanks for reporting the issue we try to reproduce it and get back to you. Could you please try with the latest CLI if the problem still persist with newly deployed backend?

[2020-04-01 17:39] dtelaroli commented on #3082
+1

but for me does not working with even the schema.graphql in the default folder.
any workaround?

[2020-04-01 17:40] mdebo commented on #3815
I can see in the folder of my function the cloud formation template thas contains the policies generated by the cli.
What is the difference between policies generated by the cli and managed policies?

[2020-04-01 17:54] lenarmazitov commented on #3819
Seems like Amplify is not yet supported TransactWriteItems. I got this error:

[code]

[2020-04-01 17:54] mdoesburg commented on #3814
I am still having this issue with @aws-amplify/cli version 4.17.2.

[2020-04-01 18:07] kylekirkby opened #3821 "TypeError: Cannot read property 'defaultEditorFile' of undefined amplify when updating function permission and editing it locally."
**Describe the bug**
After running `amplify update function` and changing the permissions this function requires, the following error appears after trying to edit the function locally:
[code]

**Amplify CLI Version**
[code]

**To Reproduce**
Add a function. Update the function and change some of the permissions the function needs to execute. Enter `Y` to edit the function locally and then see the

[2020-04-01 18:52] attilah commented on #3819
@lenarmazitov you don't need to access the table name as it is defined as part of your DataSource definition, the resolver's output JSON will be directed to the configured DynamoDB table automatically.

In the AppSync documentation there is a full [example](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-transact.html) for TransactWriteItems.

If this does not answer your que

[2020-04-01 18:57] kylekirkby opened #3823 "Invoking the Hello World lambda function locally returns nothing"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
1. Create a "Hello World" lambda function.
2. Invoking the function locally returns nothing.
[code]
3. No errors and no response data. The function name is correct - retrieved from the `amplify status` command results.

The function is simply the "Hello World" function example provid

[2020-04-01 19:30] sacrampton commented on #3796
@ammarkarachi - my app relies on searchable resolvers, so at this point I'm dead in the water and desperately need a work around (even if that is to back out/remove conflict detection). So can you give me specific advice on how to exclude the _version field from the root object in ElasticSearch???

[2020-04-01 19:34] ammarkarachi commented on #3765
@anarerdene Do you still need help with this particular issue?

[2020-04-01 20:00] sacrampton commented on #3796
@ammarkarachi - I really need a workaround here that allows DDB to stream to ES. Anything you can provide would be gratefully appreciated. Everything I see on the link you sent doesn't mention anything about excluding _version - talks about using external versioning which is more about how the lambda function needs to send its request.

[2020-04-01 20:18] ammarkarachi commented on #3796
@sacrampton I am working on it with the Appsync team I will definitely loop you in if there is a workaround we can offer

[2020-04-01 20:22] sacrampton commented on #3796
@ammarkarachi  - thank you. Really need the work around - even if it is simply a process to temporarily remove conflict detection so I can get back to previous state where searchable worked.

[2020-04-01 20:31] #3447 closed

[2020-04-01 20:57] ammarkarachi commented on #2892
@idanlo @danny-waite Do you still need help with this?

[2020-04-01 21:06] dtelaroli commented on #660
The support to RDS is useless without integration with another datasources. Any plans to implement integration with @auth and @connection?

[2020-04-01 21:53] Weetbix commented on #2396
@mavenik AH! thank you! That was my issue as well, I did not realise the second step of auth selection was a list where pressing enter would end up with _no selection_, and spacebar is required. That was doing my head in!

I think that's quite confusing and should be changed because on the first auth selection step enter = select, but on the second enter = cancel. A simple "You have selected no op

[2020-04-01 22:07] ammarkarachi commented on #3796
@sacrampton Can you temporarily remove conflict detection? I am trying to get this resolved with Appsync

[2020-04-01 22:13] sacrampton commented on #3796
@ammarkarachi  - I am more than happy to do that - but I can't see how to do that

[2020-04-01 22:22] kaustavghosh06 commented on #3796
@sacrampton In the file `amplify/backend/api/<api-name>/transform.conf` remove the "ResolverConfig" key and run `amplify api gql-compile` -> `amplify push`.

[2020-04-01 22:49] sacrampton commented on #3796
Thanks so much @kaustavghosh06  - that worked perfectly and I can now stream between DDB & ES

Look forward to seeing the fix to allow AppSync to be compatible with searchable. Good luck with it.

[2020-04-02 02:21] #3225 closed

[2020-04-02 04:35] lenarmazitov commented on #3819
@attilah
but **table** is mandatory field like described [here](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#aws-appsync-resolver-mapping-template-reference-dynamodb-transact-write-items)

Now I stuck with error **Unsupported operation 'TransactWriteItems'.**
Though Transact**Get**Items works fine.

[2020-04-02 05:24] juunone commented on #3479
great!! i can hosting service with aws console

[2020-04-02 06:03] jwoehrle opened #3834 "API mock fails to start with inline Request-/ResponseMappingTemplate"
**Describe the bug**
when using a graphql api with a custom CFN template which includes an inline `RequestMappingTemplate` or `ResponseMappingTemplate` the api mocking crashes at startup:
[code]

**Amplify CLI Version**
[code]
**To Reproduce**
See the example project at https://github.com/jwoehrle/amplify-issue-inline-template. Specifically the custom CFN with inline template:
https://github.com/j

[2020-04-02 06:04] jwoehrle commented on #2402
Hi @yuth

sure thing. I created: https://github.com/aws-amplify/amplify-cli/issues/3834

[2020-04-02 06:53] tomasyaya commented on #3411
Hello @SwaySway
I'm having this issue even when I try the query from the Appsync console.
My type is NOT using the @key directive.
I'm using the latest Amplify CLI 4.17.2
Could you please address my issue?
Thank you!

[2020-04-02 07:13] chrisfowler commented on #3810
I have managed to clear my blockage. This issue seemed to help, but cannot be clear if it was the solution: [Parameters: [CreateAPIKey] do not exist in the template](https://github.com/aws-amplify/amplify-cli/issues/2626). I also deleted the offending Lambda and recreate separately to amplify, using the expected naming/roles/etc.

I still feel that rolling back a Lambda function to an unsupported

[2020-04-02 08:50] chai86 commented on #3812
@UnleashedMind any thoughts on the above?

[2020-04-02 10:27] heitorlessa opened #3835 "Add 'X-Ray Tracing' support for GraphQL API"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**

AppSync [now supports X-Ray Tracing](https://aws.amazon.com/blogs/mobile/graphql-observability-appsync-xray/) and the CLI doesn't support that yet.

**Describe the solution you'd like**
* **New APIs**: `amplify add api` to support t

[2020-04-02 10:31] heitorlessa commented on #1181
Similarly, created a new issue to enable Tracing if you'd like to +1 too: https://github.com/aws-amplify/amplify-cli/issues/3835

[2020-04-02 10:42] andreialecu commented on #1647
This bug still exists on WSL on CLI version 4.17.2

![image](https://user-images.githubusercontent.com/697707/78240538-d51df880-74e7-11ea-9a2f-3b4c5aac3ca0.png)

[2020-04-02 10:48] andreialecu commented on #1647
A workaround is to run `$ export PATH=$PATH:/c/Windows/System32` prior to running `amplify configure`

[2020-04-02 11:54] amuresia commented on #1703
+1 to @malcomm's comment. The 'new' connection mechanism does not respect the limit
[code]
It always returns 10 results :(
Any idea how to make this work, preferably without any manual hacking to the auto-generated files?

[2020-04-02 12:02] amuresia commented on #3741
Hi @akshbhu, thanks for your reply.
I understand that the S3 bucket names have to be unique.
To recap, I was trying to add storage for my project and expected the `myapp-storage-dev` to be created, instead I got `myapp-storagedev-dev`.
I had a previous backend that was deployed with Amplify last year and `myapp-storage-dev` was created successfully. I destroyed that environment though, and manuall

[2020-04-02 12:09] andreialecu commented on #3798
@kaustavghosh06  I'm having the exact same problem. I'm running `amplify push` because this is a React Native app. Notice that the failure is this:

[code]

And is related to a cloud formation update of `HostedUIProvidersCustomResourceInputs`, and it also started occuring after adding Facebook federation to Cognito.

Something seems to be missing. Any ideas what it could be?

[2020-04-02 12:47] andreialecu commented on #3798
I was able to figure it out.

We were using two environments: `dev` and `prod`. The `prod` environment was missing the Facebook credentials in `amplify/team-provider-info.json`, only the `dev` one had it.

So:

[code]

The above was needed, it was initially an empty array `[]`.

[2020-04-02 13:47] lenarmazitov commented on #3819
@attilah I think it will be very useful if transactions will be available in Amplify.
Because we can get rid of some pipeline resolvers, which perform conditional check.
Why we should get rid of pipeline resolvers? Because DataStore and new versioning are not supported pipeline resolvers.

[2020-04-02 14:13] sakhmedbayev opened #3837 "While in the mock mode, I cannot upload a file. The `PUT` request is sent to the `https` endpoint instead of the `http`"
**Describe the bug**
While in the mock mode, I cannot upload a file.  The `PUT` request is sent to the `https` endpoint instead of the `http`

**Amplify CLI Version**
`4.13.4`

**To Reproduce**
- `amplify add auth`
- `amplify add storage`
- `amplify mock`
- observe message in terminal `Mock Storage endpoint is running at http://localhost:20005`
- try to upload a file
- go to Chrome's console
- obs

[2020-04-02 15:36] stevelizcano commented on #3821
+1 here,

You can reproduce by adding auth to any project, and specifying a custom welcome function. Accept defaults, and signup will fail with an error. Editing the the function will also fail.

[2020-04-02 16:10] rush86999 commented on #3726
@ammarkarachi I am having the problem with delete resolved. Update works now but delete resolver with the same input using _version variable is displaying the same symptoms. Is there anything different I need to do for delete resolved. I decided to go with versioning btw.

[2020-04-02 16:14] rush86999 commented on #3726
i am doing delete with another table.

[code]

graphql
[code]

[2020-04-02 16:16] rush86999 commented on #3726
I am passing _version to the input variable for delete mutation.

[code]

[2020-04-02 16:18] rush86999 commented on #3726
The operation is being performed by a user part of "Hosts" group using cognito authentication

[2020-04-02 16:28] avlonder commented on #1637
Hi, the last post in this issue was some time ago but I am also looking for an example of how to implement a bidirectional friendship relation in AppSync... Any thoughts?

[code]

I'm not sure if the above schema makes any sense? Anyway, I do not see how to make the relation bidirectional: if one user creates/deletes a friendship, the other user does not know. Or am I wrong? Sorry, I'm quite new t

[2020-04-02 18:16] chai86 commented on #3812
I also tried `amplify env add` to then hopefully then do an `amplify pull` and i received:

[code]

Whats going on here?

[2020-04-02 18:42] kaustavghosh06 commented on #3812
@chai86 Have you setup your new system with the AWS creds ad have an AWS profile on it?

[2020-04-02 18:44] chai86 commented on #3812
@kaustavghosh06 No. I just copied my old react native project folder over. How do i do that?

Also, won't amplify configure replace all my existing Auth, Api, Storage services?

[2020-04-02 18:48] chai86 commented on #3812
I see it now! When i show hidden folders from my old machine, i see the `/username/.aws` folder. Let me copy that over to the new machine and try.

[2020-04-02 18:48] kaustavghosh06 commented on #3812
@chai86 No amplify configure would setup AWS creds on your system. It won't replace all my existing Auth, Api, Storage services.

[2020-04-02 18:54] Jordan-Eckowitz commented on #682
I created a new environment and ran into this issue. I commented out the `@searchable` transform and it worked. I then uncommented it and re-deployed with `@searchable`.

[2020-04-02 18:54] chai86 commented on #3812
Perhaps getting somewhere now: BUT when i run `amplify status` i get:

`Current Environment: dev`

[code]
I can't afford for these services to get replaced/messed up if i `amplify push` 😳

[2020-04-02 19:13] kaustavghosh06 commented on #3812
Is this because you are did an env add as mentioned here - https://github.com/aws-amplify/amplify-cli/issues/3812#issuecomment-608022843
Please go back to your original env - by using `amplify env chceckout <env-name>`
Copy your credentials file doesn't affect your `amplify` backend contents.

[2020-04-02 19:15] chai86 commented on #3812
@kaustavghosh06 Phew, that command `amplify env checkout dev` did it. Then, what do i run? `amplify configure`?

[2020-04-02 19:17] kaustavghosh06 commented on #3812
Your profile should be setup now. Can you check if you can `amplify push` now after making changes?

[2020-04-02 19:21] chai86 commented on #3812
That's `amplify push`ed successfully 👌🏻

[2020-04-02 19:33] nikhname commented on #3837
@sakhmedbayev could you show what is in your aws-exports.js file?

[2020-04-02 19:37] jca41 opened #3891 "NextToken always being returned with @searchable queries"
**Describe the bug**

I've noticed that `nextToken` is always being returned with `@searchable` model queries, even if there's no more items to fetch.

**To Reproduce**
Steps to reproduce the behavior:

Schema:

[code]

Query:

[code]

`result` always has a `nextToken`. Calling it returns 0 items.

**Expected behavior**

It shouldn't return `nextToken` if there's no more data to fetch.

I'm solvin

[2020-04-02 20:21] mdoesburg opened #3845 "DataStore doesn't work with nullable lists in schema"
**Describe the bug**

DataStore doesn't work with nullable lists in schema, and causes the app to throw the following error upon syncing:
[code]

**Amplify CLI Version**

4.17.2

**To Reproduce**

I created a React Native app in which I use DataStore. My schema looks like this:

[code]

After the user logs in, the app navigates to the home screen, on which the DataStore starts observing the UserCo

[2020-04-02 21:19] rush86999 commented on #3726
One other issue is why are the docs mentioning expectedVersion when no such field exists? it's _version. Please update the docs to reflect this and also delete resolver. Is it possible to get an ETA on this as I might decide not to use version control. Also if I already have a project setup can I use "amplify update api" to remove conflict resolution as I don't want to create a whole new project a

[2020-04-02 22:36] zilonkaj commented on #3745
I am also having this issue with version 0.2.1 of the gradle plugin. This is on the latest Android Studio on Windows 10.

[2020-04-02 23:39] ajpaulingalls commented on #3497
I am getting a 403 when using Storage.put as well, which started when I upgraded to latest versions of amplify-js...

[2020-04-02 23:47] aprilmintacpineda opened #3849 "Searchable duplicate record ID. Searchable deleted record is not being deleted."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

Searchable is storing two records with the same ID. So I deleted a record using `deleteModel` mutation, it was deleted as confirmed with `getModel` but when I tried doing `searchModel` I can still see the deleted record on the response. So I tried creating a record with the same id

[2020-04-03 00:41] aprilmintacpineda commented on #3849
I saw #3705 which is related to the root cause of this.

[2020-04-03 00:43] arhoy commented on #899
This library has the worst documentation I ever seen

[2020-04-03 01:01] #3341 closed

[2020-04-03 01:03] hisham opened #3850 "Bug in $util.transform.toDynamoDBFilterExpression with nested ors"
**Describe the bug**
A filter query with nested ORs in AppSync does not map to a correct DynamoDB Expression. Some values are overwritten.

**Amplify CLI Version**
4.16.1

**To Reproduce**

1. Simplified graphql schema to setup the repro:

[code]

2. Now create a clinic in the db as well as a patient that belongs to that clinic with phone # of 5039260766

Now run the following graphql query (let's

[2020-04-03 01:13] #3849 closed

[2020-04-03 01:39] tfendt commented on #3681
Thanks @SwaySway I will give it a try.

@xitanggg looks interesting and easier than the other options. I'll give this a try first.

[2020-04-03 03:56] sakhmedbayev commented on #3837
Thanks for reply @nikhname. Here it is

[code]

[2020-04-03 06:26] jnathanh opened #3853 "compiled String return type does not match actual return type"
**Describe the bug**
The compiled typescript API query return type does not match the actual data returned for the echo lambda example.

**Amplify CLI Version**
4.17.2

**To Reproduce**
On an angular 8 amplify project
Follow this example: https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-1
`amplify mock` to create the API.service.ts
compare `APIService.Echo` return type (`string`) to

[2020-04-03 06:46] xitanggg commented on #3390
Great walk through. Thanks a lot. Hope this automation is added soon. for such an important feature. It is essentially the same as AdminQueries API. It should be easy for the Amplify team to copy what has done over.

[2020-04-03 06:48] MShah-Fintech commented on #3565
Hello,
Any updates on this issue??? I am facing also the same issue.

[2020-04-03 07:12] andreialecu opened #3854 "InvalidParameterException: Domain cannot contain reserved word: cognito"
We were testing some changes related to `cognito` and created a new amplify environment called `newcognito`.

Upon pushing changes related to auth and facebook federation, we noticed that pushes started failing. I had to dig through the CloudWatch logs to figure it out and noticed this error there:

[code]

I realize this is a very niche problem but perhaps environment creation could check for res

[2020-04-03 07:23] andreialecu commented on #3854
Related:
https://github.com/aws-amplify/amplify-cli/pull/1544
https://github.com/aws-amplify/amplify-cli/issues/1513#issuecomment-595632762

[2020-04-03 07:27] andreialecu commented on #3854
Also a note here, I don't think the fix in https://github.com/aws-amplify/amplify-cli/pull/1544 is complete for this problem.

We do not use the hosted UI at all, this is a React Native app. The name `cognito` is not mentioned anywhere but in the amplify environment name. So the validation in the PR above doesn't check for this.

[2020-04-03 10:16] shide1989 commented on #288
+1.
I wasted a few hours trying to configure the parameters, but none could do.

I strongly recommend to configure **your own UserPool** and configure it appart from Amplify, since the CLI seems too young to support auth using existing UserPools

[2020-04-03 13:05] sarahsga commented on #2880
I have the same issue. Were you able to figure this out?

[2020-04-03 13:55] kay-is opened #3966 "[v2-feedback] Console can't find App"
**Page**: [`https://docs.amplify.aws/lib/auth/getting-started?platform=js`](https://docs.amplify.aws/lib/auth/getting-started?platform=js)

**Feedback**:

The docs mention `amplify console` "To view the deployed services in your project at any time" after running `amplify push`.

I got a link that displayed an error about the App with a specific ID can't be found.

[2020-04-03 14:26] anaji commented on #32
It worked for me after adding after inserting VpcConfig inside lambda properties
i.e:
`"Resources": {
		"LambdaFunction": {
			"Type": "AWS::Lambda::Function",
			"Metadata": {
				"aws:asset:path": "./src",
				"aws:asset:property": "Code"
			},
			"Properties": {
				"Handler": "index.handler",
                                   .....
                                  "VpcConfig": {

[2020-04-03 16:24] smakinson commented on #779
@zjullion @isaiahtaylor Would one of you guys mind pasting a full example of the the json around the parameters.json and backend-config.json? Just the stuff around the added api that will use the existing user pool as the authorizer. I tried doing what I think the above steps meant and I am getting this error when I push:

`Parameters: [AuthCognitoUserPoolId] do not exist in the template`

I delet

[2020-04-03 19:24] mcroker opened #3863 "GraphQLResult import error in generated API.service.ts"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Generated src/app/API.service.ts generates this compile error
[code]

This seems to be a new regression defect, following updating aws-amplify package to 3.0.5. (@latest at time of issue).

**Amplify CLI Version**
4.17.2

**To Reproduce**
Generate any schema using amp-cli 4.17.2 with

[2020-04-03 19:31] Rolando-Barbella commented on #2096
4.13.4

[2020-04-03 19:37] kaustavghosh06 commented on #2096
We release fix for this in v4.17.2.

[2020-04-03 19:49] brene commented on #3807
I'll mark this as a bug. A current workaround to this problem is to change the field to a string and pad it with 0s. We'll investigate this issue further.

[2020-04-03 19:53] brene commented on #3806
Hi @Tom-T - I just want to confirm if the `Build Command is empty`. Based on the looks of the output you've pasted above, the build command is empty. LMK if that's just a copy/paste error
[code]

[2020-04-03 19:57] brene commented on #3854
We're going to introduce a better sanity check here, so customers won't run into this at a late stage.

[2020-04-03 20:07] superjova commented on #3687
Also experiencing the same thing with a hyphen in the project name

[2020-04-03 20:23] nikhname commented on #3745
Hi @zilonkaj, just to clarify you are seeing the node is not installed error message? What is the output when you enter ```which node``` ?

[2020-04-03 20:25] Rolando-Barbella commented on #2096
It work now, thank you @kaustavghosh06

[2020-04-03 20:43] anaji commented on #32
it works after adding the vpc config inside resources in <functionname>-cloudformation-template.jsonc file . i.e:
`"Resources": {
    "LambdaFunction": {
        "Type": "AWS::Lambda::Function",
        "Metadata": {
            "aws:asset:path": "./src",
            "aws:asset:property": "Code"
        },
        "Properties": {
            "Handler": "index.handler",

            "VpcConfig": {

[2020-04-03 20:51] nikhname commented on #3745
This seems to be an issue on windows. As a workaround, you can run ```npx amplify-app --platform --android``` to set up the amplify project and then ```amplify codegen models``` to generate models

[2020-04-03 21:38] undefobj commented on #3860
As @raelmiu noted you need to remove `@searchable` from your schema to decommission the Elasticsearch instance. At this time AWS does not have a "serverless" solution for Full Text Search so keeping that GraphQL directive without Elasticsearch has no implementation. We can however open up options or give documentation for using another instance size if that would be helpful.

[2020-04-03 22:02] sopranolinist opened #3861 "Many-to-Many relationship for single type"
**Which Category is your question related to?**
GraphQL schema

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I am trying to define a many-to-many relationship for a single type. The use case is people who are related to one another in a supervisor/subordinate situation, where supervisors can have multiple subord

[2020-04-03 22:18] MontoyaAndres commented on #3816
Hi 👋@nikhname, it means that I can't add @key to the models :(?

[2020-04-04 02:09] stayingcool commented on #3792
Thank you all @UnleashedMind , @brene and @kaustavghosh06 👍

My production deployment went through good, this issue is good to close now.

[2020-04-04 02:09] #3792 closed

[2020-04-04 02:32] LpmRaven commented on #3807
@brene thank you, I'll make another field for that.

[2020-04-04 05:25] chakimar opened #3864 "PostConfirmation failed with error index.handler is undefined or not exported."
**Describe the bug**
* `amplifyXXXXXXPostConfirmation` Lambda `index.js` and `event.js` generated in incorrect directory.
* Error occured when call `Auth.confirmSignUp` aws-amplify API
[code]

**Amplify CLI Version**
4.17.2

**To Reproduce**
1. `amplify auth update`
[code]
2. call `Auth.signUp` aws-amplify API

**Expected behavior**
* `amplifyXXXXXXPostConfirmation` Lambda `index.js` and `event.js

[2020-04-04 07:20] lukepushlabs commented on #3253
I'm getting this issue during mock as well. Using expo's image picker and sample code from amplify documentation on uploading an image to S3 (My internet connection is bad and sometimes causes AWS issues due to that and maybe is the real cause)

[2020-04-04 07:26] raelmiu commented on #3860
@Undefobj that would indeed help, not only for developing at lower cost, but also for scaling the system via amplify Cli instead of console settings.

[2020-04-04 08:41] AlessandroAnnini commented on #3860
Hi @raelmiu, I tried to remove `@searchable` from my schema but I had troubles with that. So you're telling that I can remove that keyword from a working schema? If so I will try again.

[2020-04-04 09:20] raelmiu commented on #3860
@AlessandroAnnini Yes it did work for me. It get's removed after I `amplify push` to each environment. In my experience amplify is really fragile with backend updates though, so make sure you only make ONE change per push.

[2020-04-04 09:53] tgjorgoski opened #3865 "Allow auth triggers to be added individually"
Currently to add another auth trigger, you have to use the `Walkthrough all the auth configurations` option.
However the problem is if you have already configured some other triggers AND updated their configuration manually. In this case it is not clear how to avoid the "aws update auth" not reverting some of those manual modifications.
It would be much better  if instead there was an option to si

[2020-04-04 10:58] regenrek commented on #3864
Hi same here.

```amplify function invoke <function>```  gives

[code]

It seems that the lib is looking for `event.json` and `index.js` inside the src directory

[2020-04-04 16:29] pnm563 opened #3866 "Only one CloudFormation template is allowed in the resource directory"
Trying to add a function using the command `amplify function add`. At the edit local lambda function prompt, an `UnhandledPromiseRejectionWarning` is seen. However, the function wizard finishes and reports success.

On sending `amplify push`, an error occurs saying "Only one CloudFormation template is allowed in the resource directory". The push is not successful.

I have managed to successfully p

[2020-04-04 18:32] lenarmazitov commented on #3819
seems like same issue already [exists](https://github.com/aws-amplify/amplify-cli/issues/2092)

closing this then.

[2020-04-04 18:32] #3819 closed

[2020-04-04 18:55] kylekirkby opened #3867 "Cannot get GraphQL Endpoint in Lambda function"
I've added the permission for my lambda function to access my GraphQL API but when I access `process.env` the variable is not added instead I get the name of the variable again?

I'm not sure if it's related but the variables that amplify adds to the top of the lambda functions source are duplicated..

[code]

but when logging this value to the console in my Lambda function I'm getting this return

[2020-04-04 20:17] kylekirkby commented on #3867
I've just created another lambda function with the Hello World template and the permissions to access GraphQL. This function outputs the GraphQL endpoint correctly. So somehow, the function I described above had got itself into a "confused and broken" state. Maybe to do with the duplicate variables being added by amplify?

A hacky solution to those who get stuck with this :)

[2020-04-04 20:30] elsenhuc opened #3868 "Allow REST APIs with empty path (=root path proxy)"
**Is your feature request related to a problem? Please describe.**
When you create an API using amplify add api -> REST
you HAVE to configure a path (such as /items).
It does not allow / or empty string
This prevents APIs without a path.

**Describe the solution you'd like**
allow the creation of empty paths
I guess you have to modify the check for "path cannot end with a trailing slash".

**Descr

[2020-04-04 20:33] SeanDez opened #3869 "Amplify push error: Error updating cloudf✖ An error occurred when pushing the resources to the cloud"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

Full explanation provided here: https://stackoverflow.com/questions/61034318/aws-amplify-error-updating-cloudf-an-error-occurred-when-pushing-the-resources

**To Reproduce**

1. Initialize amplify project with these settings:

[code]

2. Add IAM user with AdministratorAccess role
3.

[2020-04-04 21:25] akshbhu commented on #3837
Hi @sakhmedbayev

It seems the flag to http is set. Can you also tell how are you making upload call to mock S3 in your app so that I can reproduce the error?

[2020-04-04 21:39] jamesonwilliams opened #3870 "Expanded Contributor's Guide for Amplify CLI"
**Is your feature request related to a problem? Please describe.**
The Amplify CLI has too minimal of a Contributor's Guide. I tried to contribute a pull request to the project, but was ultimately unsure how-to complete the work, and it went stagnant. https://github.com/aws-amplify/amplify-cli/issues/3772

I was not sure howto work with the Jest snapshots.

I was _surprised_ that there were git ho

[2020-04-04 21:39] jamesonwilliams opened #4569 "Expanded Contributor's Guide for Amplify CLI"
**Is your feature request related to a problem? Please describe.**
The Amplify CLI has too minimal of a Contributor's Guide. I tried to contribute a pull request to the project, but was ultimately unsure how-to complete the work, and it went stagnant. https://github.com/aws-amplify/amplify-cli/pull/3773

I was not sure howto work with the Jest snapshots.

I was _surprised_ that there were git hook

[2020-04-04 22:51] kaustavghosh06 commented on #3869
You're exact error is:
[code]

You're using a CLI version 0.1.38 which is almost 2 years old. I would recommend installing the latest version of the CLI  - using `npm install -g @aws-amplify/cli` command and try adding auth and pushing for new proojects.

[2020-04-04 22:51] #3869 closed

[2020-04-04 22:55] kaustavghosh06 commented on #3866
@pnm563 This was a bug tied to windows platform which we fixed in v4.17.2. Could please install the latest version of the CLI - remove the added function and then re-add it with the latest version of the CLI? Please comment on this issue if you still see the same issue.

[2020-04-04 22:55] #3866 closed

[2020-04-04 23:01] avlonder commented on #704
I'm trying to apply batchPutItem to the join table of a many-to-many relation. The table gets filled correctly, but I cannot access the data through the connection. I think this could have something to do with the "key" field in putItem, which is missing in batchPutItem. Could somebody help me out please? I don't find any docs about this particular case.

[2020-04-05 02:08] kcwinner commented on #3501
@undefobj I'm finally getting back to this. Working the sync table creation and resolvers via cdk / transformer now. `DynamoDbDataSource` doesn't natively support the `DeltaSyncConfig` but it's easiest enough to add. Thanks for pointing me toward the docs. I'll retroactively update my blog post / demo repo once I get this piece knocked out.

[2020-04-05 02:30] kldeb commented on #1988
@SwaySway is there a way to address having the exact table name in the batch resolver?

[2020-04-05 04:11] akshbhu commented on #3800
Hi @daajack

I am not able to reproduce the  issue by following the steps mentioned above.

1) Can you try this with the latest cli version and check if the issue is still occurring?
2) Can you mail the zip of amplify folder to amplify-cli@amazon.com so that I can reproduce the above issue?

[2020-04-05 13:15] gaegaelab opened #3872 "Error in `amplify api add-graphql-datasource`"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Executing `amplify api add-graphql-datasource` resulted in an error.
I tried to change the API connection to Aurora Serverless.

**Amplify CLI Version**
4.17.2

**To Reproduce**
1. Execute `amplify add api`.
2. Finish setting by default.
3. Execute `amplify api add-graphql-datasource

[2020-04-05 13:49] sayantapadar commented on #3745
@nikhname I used Ubuntu 18.04.4 LTS to build the project, and everything worked fine. So yes it is a Windows bug it seems.

[2020-04-05 14:26] jcardus commented on #1770
Thanks! Worked for me too!

[2020-04-05 14:37] kylekirkby opened #3873 "Lambda Arguments passed in from GraphQL API custom Mutation are null."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
Add a custom Mutation to your GraphQL API schema i.e:

[code]

Create a "Hello World" lambda function. Log the event or event.arguments.

[code]

Call your newly create Mutation from your react app.

[code]

Check the CloudWatch logs for the above Lambda Function. The name argument e

[2020-04-05 14:44] kylekirkby commented on #3873
Why does this always happen to me? :'D So I've modified the Mutation Schema to ensure that the name value is required. I've pushed my changes and when making a call to the API I was then getting and error stating that the name value I was passing was null. I've modified my react code to look like this:

[code]
And the name argument is now as expected. Hope this helps someone!

[2020-04-05 14:44] #3873 closed

[2020-04-05 19:11] SeanDez commented on #3869
Hello, so far I have been unable to update the global package. `amplify --version` always returns `0.1.38`. I have tried:

[code]

Any idea why this is not updating? Here is my `package.json`

[code]

Here is my full terminal:

[code]

[2020-04-05 19:58] regenrek opened #3874 "Many-To-Many - Mutation Example with relation Table?"
Hi I try to reproduce the **many-to-many** relationships example in the docs. All fine so far but I'm kind of stuck with inserting data into the relation Table `BusinessList` (see below).

If you look at the [example docs](https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-2)  you can see the following snippet which adds a `postEditor` to the relation table `PostEditor`.

Snippet - doe

[2020-04-05 20:17] pnm563 commented on #3866
@kaustavghosh06 All working now, thank you. 👍

[2020-04-05 22:08] ngnathan commented on #659
Nevermind on the post above.  Turns out that in the blog post [https://servicefull.cloud/blog/amplify-ts/](https://servicefull.cloud/blog/amplify-ts/), the `tsc ./*.ts` command in package.json skips the tsconfig.json that you created and uses the default settings, so I switched it to just 'tsc' and it works fine (or you can use `tsc --project tsconfig.json`).

[2020-04-06 00:07] arhoy opened #3896 "Help with using Admin Queries"
I am trying to follow along with the following article [here](https://aws.amazon.com/blogs/mobile/amplify-cli-enables-creating-amazon-cognito-user-pool-groups-configuring-fine-grained-permissions-on-groups-and-adding-user-management-capabilities-to-applications/)

Namely the part where they add a user to a group using admin queries.

I am not sure what I am doing wrong as I am not able to make a r

[2020-04-06 01:45] lukepushlabs commented on #3778
Also getting this issue.

[2020-04-06 02:42] Sangkwun opened #3876 "Delete env is not work with message "Stack with id {stack_id} does not exist""
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I'm trying to delete environment of backend. but it doesn't work.

[code]
**Amplify CLI Version**
[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Node Version: v12.16.1

[2020-04-06 05:38] lukepushlabs commented on #3497
Also having this issue, happened when upgrading recently.

[2020-04-06 07:48] daajack commented on #3778
@lukepushlabs, did you try my solution ?

[2020-04-06 10:48] rehanbabertkxel opened #3877 "Cognito Groups Limit"
**Which Category is your question related to?**
Cognito Groups Limit

**What AWS Services are you utilizing?**
Cognito User Pool Autnetication

**Provide additional details e.g. code snippets**
I was using the Cognito user pool for authentication in my app but when I created more than 500 groups, it threw an error saying that I have exceeded the limit.

But When I saw the documentation for Cognito

[2020-04-06 10:58] davidsteed commented on #2110
No because it is regenerated when you do an amplify init from files that are checked in

[2020-04-06 14:21] kldeb opened #3878 "One to one connections"
I'm getting the following error when I attempt to compile my schema:

`InvalidDirectiveError: Connection is to a single object but the keyName <key-name> was provided which does not reference the default table.`

Is it possible to define a one-to-one relationship with a keyName argument?

**Which Category is your question related to?**
GraphQL compile

**Amplify CLI Version**
4.17.2

[2020-04-06 15:26] apoorvmote opened #3879 "snsdev-dev already exists in stack"
**Describe the bug**
I created fresh project and add graphql api protected by auth. And created dev environment.
When I try to `amplify push` I get following error

`The following resource(s) failed to create: [SNSRole]. `
`snsdev-dev already exists in stack`

**Amplify CLI Version**
4.17.2

**To Reproduce**
* `npx create-react-app test-app --use-npm --template typescript`
* `amplify init` with en

[2020-04-06 16:09] zjullion commented on #779
@smakinson My JSON looks the same as yours, but I have two thoughts:
1. My api is an `AppSync, not `API Gateway`. I've never deploying an `API Gateway` with `amplify-cli`, so I'm not sure if it respects / uses the same arguments in `parameters.json`.
2. Did you run `amplify env checkout <environment>` after making your changes?

[2020-04-06 17:10] smakinson commented on #779
@zjullion  Thanks for the response. Do you know if the format for the json files is documented anywhere? I did recheck out the environment after, I noticed the Auth category stayed in the status until after I ran that command.

[2020-04-06 17:33] UnleashedMind commented on #3322
Closing this issue.
You can comment on this issue or open a new issue if it pops up again.

[2020-04-06 17:33] #3322 closed

[2020-04-06 17:34] yuth commented on #3816
@MontoyaAndres you can't change the primary index once the table gets created. This is the limitation of DynamoDB. Amplify CLI does allows you to create a new secondary indexes, after creation of the table, and in order to do that you will have to pass `name` parameter to the `@key` directive as described in the [documentation](https://docs.amplify.aws/cli/graphql-transformer/directives#definition

[2020-04-06 17:53] UnleashedMind commented on #2710
This mapping is a historical issue, the `analytics` categories was in the Amplify CLI since its first launch (Nov 2018), and at that time, AWS Pinpoint was not available in ap-southeast-2, that's why projects configured to be in ap-southeast-2 was mapped to us-west-2.
We will look into this and update the mappings for newly created projects.

[2020-04-06 18:18] zjullion commented on #779
Sorry @smakinson, I don't think it is.

[2020-04-06 18:34] ammarkarachi commented on #3876
@Sangkwun can you login to your console and check if the console exists?

[2020-04-06 18:36] ammarkarachi commented on #3876
Also a new version has been release (4.18.0) that ignores deleted stacks. Give that a try and let me know

[2020-04-06 18:48] UnleashedMind commented on #3812
There's no need to create restore point, when you clone your project to another dev machine, you just need to make sure that the new machine has the proper aws configuration files under ~/.aws, and then run `amplify pull` and `amplify init` in sequence to setup your local development environments.

[2020-04-06 18:48] #3812 closed

[2020-04-06 18:52] sceptyk commented on #2880
@sarahsga easy workaround to create those files manually:
`mkdir -p ~/.aws; touch ~/.aws/credentials; touch ~/.aws/config`

[2020-04-06 18:52] akshbhu commented on #3497
Hi @lukepushlabs @mayteio  @ajpaulingalls

Can you tell me the steps like which to which versions of amplify-cli and amplify-js you upgraded to so that I can reproduce the above error.

[2020-04-06 18:54] akshbhu commented on #3853
Hi @jnathanh

Is the APIservice query returning null type with an error in GraphiQL explorer?
Try the above function handler with a JSON parse statement to see if that works i.e.
[code]

[2020-04-06 18:56] UnleashedMind commented on #3809
Moving the cursor to `Learn more` does NOT select it, make sure you press the <space> key and the `Learn more` is actually selected before you press <enter> key, then you will see the information about the events.

[2020-04-06 19:20] ajpaulingalls commented on #3497
I dropped my details into this bug in amplify-js:

https://github.com/aws-amplify/amplify-js/issues/5273

I'm guessing it has more to do with their changes than amplify-cli...

[2020-04-06 20:49] akshbhu commented on #3741
Hi @amuresia

yes that will be helpful if you can PM the amplify folder and name of you app to debug this.
you can mail me here : amplify-cli@amazon.com

[2020-04-06 21:11] nikhname commented on #3823
Hi @kylekirkby, we now use ```amplify mock <yourFunction>``` for this functionality. Could you give that a try and see if this issue persists?

[2020-04-06 21:15] edwardfoyle commented on #2693
Hi @purefan, just tried to repro this issue with the latest version of the CLI and was unable to. Feel free to reopen if you are still running into this with the latest version.

[2020-04-06 21:15] #2693 closed

[2020-04-06 21:27] #3294 closed

[2020-04-06 21:48] edwardfoyle commented on #3562
@danmight any update here? Minimal repro steps would be very helpful if you have a chance to follow up

[2020-04-06 21:51] #3798 closed

[2020-04-06 21:55] attilah commented on #3802
Closing due to lack of response, please feel free to reopen it if the issue still persist.

[2020-04-06 21:55] #3802 closed

[2020-04-06 21:59] #3810 closed

[2020-04-06 22:05] attilah commented on #3818
Duplicated issue, closing in favor of: #3796

[2020-04-06 22:05] #3818 closed

[2020-04-06 22:06] attilah commented on #3821
The fix has been release with Amplify CLI 4.18.0

[2020-04-06 22:06] #3821 closed

[2020-04-06 22:08] attilah commented on #3823
@kylekirkby please upgrade to the 4.18.0 version and use the above command to invoke it locally.

[2020-04-06 22:08] #3823 closed

[2020-04-06 22:53] jhockett commented on #3854
Hi @andreialecu does your project name have a '-' in it?

[2020-04-06 22:59] SwaySway commented on #3850
Hello @hisham the second Query B is the correct way to format that query. The first, Query A, is essentially generating a filter where the 2nd statement has nothing to `OR` against, which could lead to the utility function formatting the expression value incorrectly.
ex. `( (statement1) OR (statement2 OR) )`

We'll take note of this as a potential validation enhancement to discuss with the AWS App

[2020-04-06 23:00] kaustavghosh06 commented on #3837
@sakhmedbayev What the aws-amplify lib version you're using on your client?

[2020-04-06 23:45] danrivett opened #3881 "When a User signs out any User-scoped data in DataStore remains"
**Describe the bug**
When a user signs out (`Auth.signOut()`) all existing data is still available to the now unauthenticated user. It's only cleared when the user performs `DataStore.clear()` manually such as by registering an Auth Hub listener to do it there.

This is a security concern because that data can include that which is scoped to the previous user through either [Owner Authorization](h

[2020-04-06 23:50] edwardfoyle commented on #3744
@chakimar I'm unable to repro this using CLI version 4.18. Please reopen if you're still seeing the issue in the latest version.

[2020-04-06 23:51] edwardfoyle commented on #3744
Nevermind, just repro-ed

[2020-04-07 00:01] hisham commented on #3850
Hi @SwaySway  - the example I gave is just a simplified repro case. I ran into this bug in cases where there were multiple conditions in the OR and values were getting overridden. From my testing this is a bug not an enhancement.

Here is an example of a more realistic query that was incorrectly mapped to a dynamodb expression - in this case I want patients with phone === 5039260766 OR (phone ===

[2020-04-07 00:24] MontoyaAndres commented on #3816
Oh okay, thank you so much! I wanted to add this:

https://github.com/aws-amplify/amplify-js/issues/5307

For now, I'll close this issue, thanks again :).

[2020-04-07 01:53] danrivett opened #3882 "RFC: How to better support an Event-Driven Architecture with Amplify DataStore?"
**Is your feature request related to a problem? Please describe.**
We're looking at integrating a DataStore-based AppSync Mobile application with a backend which will be largely integrated using an Event Driven Architecture (EDA) to avoid tight coupling between services as well as provide domain specific events to trigger off rather than needing each integration to inspect model updates themselves

[2020-04-07 01:57] danmight commented on #3562
Edward, my apologies. I never circled back on this. However, I was having
an auth problem on another issue, I think someone else found out what is
going on.

If you look at this issue:
https://github.com/aws-amplify/amplify-js/issues/5058 we were finding that
we were not getting the authRole assigned and some steps to how we could
recreate it.

On Mon, Apr 6, 2020 at 3:48 PM Edward Foyle <notifica

[2020-04-07 02:01] Sangkwun commented on #3876
@ammarkarachi  Thank you for comment.
It worked with upgraded cli version.
But some resource like DynamoDB table(for appsync) or s3 bucket is still remain.
Do I have to delete it manually?

[code]

[2020-04-07 02:23] #3876 closed

[2020-04-07 04:30] minhazfm commented on #266
@j-r-t Did you ever get an answer to your question above?

Running into a similar use case/scenario myself on wanting to use a Union.

Anyone else have a recommendation?

[2020-04-07 04:36] tfendt commented on #3681
@SwaySway I tried the following but for some reason when executing the mutation it doesn't trigger the subscription. Am I missing anything? I would expect calling the updateResetTime would then trigger the subscription. If it makes a difference I am calling updateResetTime from a lambda function.

`type Mutation {
  updateResetTime(owner: String!, id: String!, resetCount: Int!, resetTime: Float!):

[2020-04-07 05:19] xitanggg commented on #1880
Vote +1, critical feature for any production app, otherwise would be frown upon by customers if they see Amazon Cognito as domain when clicking google/facebook login

[2020-04-07 06:44] undefobj commented on #3877
Limits can be increased through a support case: https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html

[2020-04-07 06:47] undefobj commented on #3878
Can you please provide your schema?

A 1:1 relationship would be covered by "Has One" in the following `@connection` documentation: https://aws-amplify.github.io/docs/cli-toolchain/graphql#connection

[2020-04-07 07:13] cinash opened #3890 "Analyzer for field in ElasticSearch"
** Which Category is your question related to? **
`@searchable` annotation
** What AWS Services are you utilizing? **
AWS Elasticsearch
** Provide additional details e.g. code snippets **
How can I specify the analyzer on a field in elasticsearch? The question is more general, but what I have is a field that is a list of elements separated by comma, and would like to index them using pattern analy

[2020-04-07 08:32] sakhmedbayev commented on #3837
Thanks for the reply @kaustavghosh06. I am using the following versions:

[code]

[2020-04-07 08:35] sakhmedbayev commented on #3837
@akshbhu, here is how I am doing it:

[code]

[2020-04-07 08:46] GeorgeBellTMH opened #3887 "Syntax Error when generating models"
When running amplify codegen models I get the following (amplify codegen works fine)...note 'repeatable' does not occur in my schema, so not sure where this is coming from..
--

GraphQL schema compiled successfully.

Edit your schema at /Users/georgebell/Code/mobile/amplify/backend/api/jcmobile/schema.graphql or place .graphql files in a directory at /Users/georgebell/Code/mobile/amplify/backend/a

[2020-04-07 08:52] apoorvmote opened #3885 "Datastore have issue saving AWSJSON type"
**Describe the bug**
I have a field `content: AWSJSON!` in graphql api.
When I generate models for Datastore then its converted to `content: string`.
The output from [draft-js](https://draftjs.org/) is converted to string with
`content: JSON.stringify(convertToRaw(editorState.getCurrentContent()))`
the actual content is
`"{"blocks":[{"key":"872eg","text":"this is a test message","type":"unstyled",

[2020-04-07 09:07] GeorgeBellTMH commented on #3860
it would be nice if multiple environments could use the same es instance...even better is if multiple projects could...at the least we should be able to run dev/uat/prod off the same ES instance...

[2020-04-07 09:09] apoorvmote commented on #3885
Well my question is changed
1. Should I save `JSON` as `AWSJSON` and stringify twice and parse twice?
2. Or should I have `JSON` as `String` and only stringify once and parse once?

Which one would cost less?

[2020-04-07 10:04] elgutierrez commented on #3275
Hey, do we have any update on this issue or any valid workaround? It's an important requirement for my app to have optional connections, and simply using `@connection` without `fields` create some other problems for me.

[2020-04-07 12:01] chantlong opened #3886 "amplify status returns error related to lastPushTimeStamp"
**Describe the bug**

I have been working on the `stg` env for a while.

When I do `amplify env checkout dev` to my existing `dev` env and run `amplify status`,
I get the following error in the **Logs/Output**

The error also happens when I do `amplify env add` a new `env` and check `amplify status`

This does not happen when I check back out to `stg` and check `amplify status`.

I tried the solut

[2020-04-07 13:37] kldeb commented on #3878
@undefobj I'm confused about how to set a one to one using `@key`...

For this use case, a customer can only be referred by one other customer, but can refer many customers.

Here's the stripped down schema with relative parts:

[code]

if i change:
[code]
to:

[code]
then gql-compile reports error above.

It just occurred to me that i probably need to store the referral id in the customer as well

[2020-04-07 13:43] mdoesburg commented on #3777
@SwaySway Do you have any advice on how to fix this? I really need this for a project I am working on.

[2020-04-07 14:40] sammartinez commented on #3887
This seems to be related to Amplify CLI. Transferring issue to them

[2020-04-07 14:42] subhendukundu opened #3888 "How to combine key with custom resolvers with amplify or appsync graphql queries?"
**Which Category is your question related to?**
GraphQl query

**Amplify CLI Version**
4.17.2
I am using amplify graphql APIs. I have added a few `@key` for my search and sort of the events data. Then I have added a custom `Query` to search nearby events by lat and long. Now if had to search the nearby events by `creatorId` or `status` with `location` with a limit, how do I do it?

[code]

I am st

[2020-04-07 14:57] nhanna-suplari commented on #3853
@akshbhu, I didn't observe any issue with a null type. The problem is the js API codegen. For the schema
[code]
with return type string, and the lambda (the default created by `amplify add function`)
[code]
which also returns a string, and the codegen API function `Echo` looks like
[code]
but the actual returned object shape is
[code]

[2020-04-07 15:41] smakinson commented on #3390
@lawmicha I wondered if something may have changed or if perhaps a step is missing. I have tried a couple times, at first with the auth I already had set up and the removed all the api, functions & auth and tried again and it doesn't seem to generate `amplifyconfiguration.json`. Where do you see that file generated? I've also tried searching for `plugins` and `authorizationType` I apologize if I a

[2020-04-07 15:45] regenrek commented on #3819
Hi @lenarmazitov did you find a solution for the error:

```"Unsupported operation 'TransactWriteItems'."```

[2020-04-07 15:49] lawmicha commented on #3390
Hi @smakinson, `amplifyconfiguration.json` is used in iOS and Android projects. Sorry I should have clarified. Are you using Amplify CLI with your JS app? (`amplify init` -> which type of project). I believe JS should be aws_exports.json or something

This sounds like expected behavior but also a problem if `amplify push` reverts any manual changes done through AWS Console. If confirmed, then a de

[2020-04-07 16:04] regenrek commented on #3887
Can you post the schema.graphql?

[2020-04-07 16:18] smakinson commented on #3390
@lawmicha Thanks for your response, you are correct, it is a javascript project. Hoping to find a way around it losing the Authorizer within Amplify.

`aws-exports.js` shows:

`// WARNING: DO NOT EDIT. This file is automatically generated by AWS Amplify. It will be overwritten.`

so it seems that is not the file I want. I'll keep digging.

[2020-04-07 16:22] jnathanh commented on #156
genius workaround @stefangomez, thanks. I followed the same pattern for a golang lambda and it worked without a hitch. The only additional step I added was a `"preinstall": "go clean"` in the package.json.

[2020-04-07 16:24] smp commented on #3809
Ohhhhhh, I see, this is quite confusing for the first time user, but I understand why it's like this. It seems like the "learn more" radio button shouldn't be an option in this case as I would assume that by selecting "learn more" along with the default selections and hitting "enter" I would be learning more and continuing on from this prompt.

I would suggest putting the explanation sentence into

[2020-04-07 16:24] regenrek opened #3889 "Custom Resolver - Unsupported operation 'BatchDeleteItem'/'BatchPutItem'"
Hi,

I've written a custom resolver with `BatchPutItem`and `BatchDeleteItem`. Everytime I run a mutation with this resolver I get

[code]

or `"message": "Unsupported operation 'BatchPutItem'."`

* req
[code]

* Mutation.batchDelete.res.vtl.
[code]

* Mutation.batchDelete.res.vtl
[code]

Any ideas?

[2020-04-07 16:27] kaustavghosh06 commented on #156
Hey guys, yesterday with Amplify CLI v4.18.0 we officially support Go, Java, Python and .NET runtimes along with local testing for these functions. Docs for the feature - https://docs.amplify.aws/cli/function#supported-lambda-runtimes

[2020-04-07 16:27] #156 closed

[2020-04-07 16:37] lawmicha commented on #3390
@smakinson `aws-exports.js` will be reverted after `amplify push`. So maybe the APIGateway still has the authorizer set up but the configuration file in the app is reverted. this will be same issue with `amplifyconfiguration.json`. You can also programmatically configure Amplify.API without using `aws-exports.js`, although that will mean you need to transfer all the values over to code, and config

[2020-04-07 16:51] kaustavghosh06 commented on #1789
Hey guys, yesterday with Amplify CLI v4.18.0 we officially support schedule functionality in the functions category. Here's a blog post for the release explaining the functionality - https://aws.amazon.com/blogs/mobile/how-to-schedule-recurring-lambda-functions-using-the-amplify-cli/

[2020-04-07 16:51] #1789 closed

[2020-04-07 16:53] sammartinez commented on #3891
Moving this to the Amplify CLI queue in order to have them answer this.

[2020-04-07 17:00] kaustavghosh06 commented on #2690
We have released a fix for this as a part of v 4.18.0.

[2020-04-07 17:00] #2690 closed

[2020-04-07 17:11] kaustavghosh06 commented on #3891
@jca41 I believe we fixed this with the latest version of the CLI. Please install it and let us know if you're still seeing this error.

[2020-04-07 17:11] #3891 closed

[2020-04-07 17:21] nikhname commented on #3879
Closing as duplicate of https://github.com/aws-amplify/amplify-cli/issues/3687

[2020-04-07 17:21] #3879 closed

[2020-04-07 17:44] bmilesp commented on #156
Yeeeess!! Thank you @kaustavghosh06 !

[2020-04-07 17:57] nikhname commented on #3864
Closing as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/3823
This are fixed by version 4.18.0
@regenrek please try ```amplify mock function <yourFunction>``` after updating your CLI
Feel free to comment if this doesn't resolve your issue.

[2020-04-07 17:57] #3864 closed

[2020-04-07 18:08] vchaddha commented on #3725
I am able to see the same,
[code]
I believe it might be due to the fact that earlier I had hosting enabled using S3+Cloudfront, though recently, I tried testing Amplify console deployment application, and I integrated my codecommit branch and backend env with the Amplify console app. That is around the time I started receiving this extra field to be deleted.

Also, a thing to note is that when I d

[2020-04-07 18:20] kldeb commented on #3878
When I added the id to the customer type with a connection this issue came up: https://github.com/aws-amplify/amplify-cli/issues/3275

[2020-04-07 18:30] GeorgeBellTMH commented on #3887
[schema.graphql.zip](https://github.com/aws-amplify/amplify-cli/files/4446399/schema.graphql.zip)

[2020-04-07 18:46] guilhermedecampo commented on #1789
amazing guys!

[2020-04-07 18:47] lenarmazitov commented on #3819
@regenrek

Check if you use old mapping template version. Currently there are two versions **2018-05-29** and **2017-02-28**. Try to use new one.
You can read [here](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-changelog.html)

Somehow I had this issue with new version, write if you find out how to reproduce this.

[2020-04-07 20:05] jnathanh opened #3892 "golang functions don't build"
**Describe the bug**
golang functions don't build

**Amplify CLI Version**
4.18.0

**To Reproduce**
Create helloworld function
[code]
try to build:
`$ amplify mock function helloworld`

`$ amplify build function helloworld`

**Expected behavior**
No errors on build

**Desktop:**
 - OS: macOS Catalina 10.15.3
 - Node Version. v13.12.0

**Additional context**
I don't see the conflicting directories

[2020-04-07 20:27] SwaySway commented on #3890
Hello @cinash currently the `@searchable` directive does not expose a way to analyze fields as it currently only creates a search query. An example how you could potentially achieve this is by adding `@function` on the field which can be evaluated and analyze the said list of strings against the cluster you have deployed through `@searchable`.
As an example of a potential implementation you could

[2020-04-07 20:40] SwaySway commented on #3892
Hello @jnathanh
Do you have go installed?

[2020-04-07 21:04] SwaySway commented on #3892
Hello @jnathanh what type of message do you see you when you try use `amplify mock function helloworld` ?

[2020-04-07 21:40] SwaySway commented on #3888
Hello @subhendukundu if you are referring to how to do a geo search this is currently being tracked as a feature request, There are a few workaround implementations discussed in this thread as well https://github.com/aws-amplify/amplify-cli/issues/707

[2020-04-07 21:47] subhendukundu commented on #3888
Well yes I am aware of that. I am following https://medium.com/@tobinc/aws-amplify-graphql-with-geo-point-and-custom-resources-free-elasticsearch-provider-d1742fbc4ceb for enabling the geo search for now which is working great. Sorry if my question didn't make much sense but let me put it this way. If I had to use these workarounds and also add few more @key with it, will that be possible?
In othe

[2020-04-07 22:26] hisham commented on #3850
Just realized you can argue the second query I sent is also not "optimal". Here is a third query that is more realistic and is closer to the query we were running:

It's basically` patient === 5039260766 || ( firstName === john && lastName === smith && (phone === 5038768765 || email === test@gmail.com))`

[code]

[2020-04-08 00:09] SwaySway commented on #3888
Are you trying to see if adding `@key` would need a different implementation than what is listed in the article? If so `@key` shouldn't affect this since it pertains more to how you query your DynamoDB table. In this case you are looking at changing the query to your elasticsearch cluster to include creatorID and Status. This would involve adding those parameters as fields in the input type and ed

[2020-04-08 00:11] danrivett opened #3898 "What is the correct way to update another environment from Feature Branch?"
**Which Category is your question related to?**
Deployments with Feature Branches.

I may be doing something wrong, but after reading the docs, I'm still not clear if I am doing anything wrong or have wrong expectations possibly because the docs aren't clear enough?

So I've created this question to verify this.

**Amplify CLI Version**
4.18.0

**What are you attempting to do?**
- We have a multi-

[2020-04-08 00:11] danrivett commented on #3898
/cc @mtakac

[2020-04-08 00:16] SwaySway commented on #3896
Hello @arhoy
Are you getting a specific error when you try to run this?

[2020-04-08 00:58] SwaySway commented on #3898
Hello @danrivett
Based on this workflow it seems each developer creates their own sandbox environment to test changes before committing them to a dev branch? If that is the case then we do have documentation on sandbox environments. https://docs.amplify.aws/cli/teams/sandbox

[2020-04-08 02:07] SwaySway commented on #3889
Hello @regenrek
Do you have Conflict Detection Enabled in your GraphQL API?

[2020-04-08 02:16] jnathanh commented on #3892
@SwaySway I put the error message under both example commands that try to build. For the mock case, it says

The full output is

? Provide the path to the event JSON object relative to /Users/nhanna/code/go/src/github.com/jnathanh/threes/amplify/backend/function/helloworld src/event.json
Starting execution...
go build command-line-arguments: build output "/Users/nhanna/code/go/src/github.com/jnath

[2020-04-08 02:37] danrivett commented on #3898
Thanks @SwaySway for the info. Our scenario does look like the "Sandbox" workflow but with one key difference which **I think uncovers a bug in Amplify here**:

The Sandbox workflow assumes the same developer added the additional Amplify category to the sandbox branch before switching to the other branch and new Amplify environment, and merging the code.

If the same developer does this, it works

[2020-04-08 05:10] simontegg commented on #3173
I got the same error with version `4.17.2`

[2020-04-08 08:02] subhendukundu commented on #3888
Thank you so much for explaining that.
Is there any reference where I can get some idea of how to add elastic search cluster to include creatorID and Status? Any tutorial or docs or example will be great.

[2020-04-08 08:10] regenrek commented on #3889
Hi @SwaySway

I'm not sure. I think I chose "no" on amplify cli. I mean I have a _version field in dynamodb. So I'm not 100% sure about it.

How can I track this or how is it related to the error so I can inspect it.

[2020-04-08 10:24] rehanbabertkxel opened #3900 "Multiple Frontends"
**Which Category is your question related to?**
Amplify Multiple Frontends

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
Amplify Multiple Frontends

**Provide additional details e.g. code snippets**
I have a project already built with Angular8 + Amplify.
Now I want to use the same backend with my React fronend app.
I saw the docs and it told me to run amplify pull and s

[2020-04-08 11:18] andreialecu opened #3901 "amplify codegen does not generate code"
**Describe the bug**

I'm attempting to generate typescript models for a graphql API and running `amplify codegen models` does not do anything. No new files are generated.

The graphql types have `@model` on them.

**Amplify CLI Version**

[code]

**To Reproduce**

[code]

No new files are generated.

**Expected behavior**

From what I understand, the command should generate models based on the gr

[2020-04-08 11:19] davidbiller commented on #2337
any updates here?

[2020-04-08 11:31] andreialecu commented on #3901
Running the same command via Ubuntu using WSL works and generates the proper files.

I'm not sure why it doesn't work on Windows. Probably some (permission?) error is being ignored somewhere.

[code]

[2020-04-08 11:33] rehanbabertkxel commented on #3877
@undefobj , in the AWS Cognito docs, it says that 10,000 is a hard limit for the Number Of Cognito Groups in a User Pool.
Is there a way to increase that or not?

[2020-04-08 11:57] nihp commented on #1761
I have added the custom attributes, but it failed to signUp with my attributes value.

I am using aws-amplify-react-native package.

Here I need to change only the UI for signUp. But the functionality of the screen is same as the default signUp screen.

I have used Auth.signUp method to make the signUp, but it failed to signUP.

Anyone can clarify this. **Attributes did not conform to the schema:

[2020-04-08 13:20] adilusman51 commented on #1460
we extract the `Room` base type, by utilizing TypeScripts [Utility types](https://www.typescriptlang.org/docs/handbook/utility-types.html) to transform these types into the types all of our projects can use.

`export interface Room extends Omit<Exclude< GetRoomQuery["getRoom"], null>, "__typename"> {}`

Have a look at this approach

[2020-04-08 13:37] adilusman51 commented on #1460
@ChrisChares @hisham
We extract the Room base type, by utilizing TypeScripts Utility types to transform these types into the types all of our projects can use.

`export interface Room extends Omit<Exclude< GetRoomQuery["getRoom"], null>, "__typename"> {}`

@hoegertn
`export interface RoomOptional = Partial<Room>`

Have a look at this approach

[2020-04-08 14:13] kaustavghosh06 commented on #3877
@rehanbabertkxel You’ll have to contact AWS support as @undefobj mentioned, to increase the limit to the hard limit. By default all AWS accounts have a soft limit which is 500 in this case, but can be increased on a per case/account basis to the hard limit after contacting AWS support.

[2020-04-08 14:13] #3877 closed

[2020-04-08 14:22] rehanbabertkxel commented on #3877
@kaustavghosh06 , how can I check the limit on my account?

[2020-04-08 14:42] flochaz commented on #156
In case of python function, it does not seems to build through Amplify due to the lack of python 3.8 on the Amazon Linux:2 image (only 3.7 is on it) ... will have to install it in prebuild phase or custom image ...

[2020-04-08 15:12] andreialecu commented on #3901
Update, `amplify codegen` itself doesn't update anything either via Windows on this machine. Only works via WSL. Not sure why,

I think ideally there should be some sort of error shown.

[2020-04-08 15:25] andreialecu commented on #3901
Figured out what is happening

`amplify push`

results in this error:

[code]

The file exists, but the way it's looking for it is wrong.

The problem seems to be in `amplify/.config/local-env-info.json`, the `projectPath` is set to `"/s/Projects/x"` which is wrong under Windows, but valid under WSL.

Looks like there could be some better handling of paths in this case, and throwing errors from `a

[2020-04-08 15:39] kaustavghosh06 commented on #3877
@rehanbabertkxel I don't believe you can check service limit on the AWS Console. The AWS support will be able to help you out though.

[2020-04-08 16:08] kaustavghosh06 commented on #3898
@danrivett Have you looked into our `amplify pull` command which we introduced recently? I suggest your team take a look at that - https://docs.amplify.aws/cli/teams/multi-frontend . I believe this should help with the issue that you're describing above

[2020-04-08 16:16] swaminator commented on #3900
@rehanbabertkxel Please refer to: https://docs.amplify.aws/cli/teams/multi-frontend

[2020-04-08 16:20] danrivett commented on #3898
@kaustavghosh06 Yes I have. It doesn't help in this scenario since the new Amplify Category being added is contained in the feature branch and we want to deploy it to our environment, not the other way round, so there's nothing to pull so to speak.

We want to make sure we only deploy in a configuration-as-code manner so being able to retrieve new definitions from source control and deploy them in

[2020-04-08 16:26] kaustavghosh06 commented on #3898
@danrivett Okay, so you haven't pushed the new category - but want the other developers to have access to it?
Why not share the files via git and then run `amplify init` -> `select the env`
This would show up as "Create" for the new resource added until you push it to the cloud

[2020-04-08 16:47] GeorgeBellTMH commented on #3887
this works with amplify-codegen@2.15.1 does not work with @2.15.5

[2020-04-08 16:53] danrivett commented on #3898
So to clarify that workflow you linked to @kaustavghosh06 is for multiple front-ends, we actually have the opposite here, multiple back-ends which is why it doesn't work.

What I'm describing can be summed up as the git Pull Request workflow:

- The new Category has been pushed by Developer-A, but to developer-A's own environment during their implementation.
- Developer-B has their own environment

[2020-04-08 16:57] danrivett commented on #3898
Your last comment as I understand it is exactly what we're doing, it's just not documented that this is intended. As I've understood the documentation, `amplify init` is only described as to be used on a fresh uninitialized project such as after a `git clone` etc.

[2020-04-08 17:11] kaustavghosh06 commented on #3898
Yeah, we can be expicit about this in our use-case - stating that you should execute `amplify env checkout <env-name>` (which is the same as amplify init -> select env) after a git merge for merging categories which aren't pushed to the cloud.

[2020-04-08 17:23] danrivett commented on #3898
Thanks @kaustavghosh06.

I think our scenario (which I think isn't a crauzy uncommon one) is that there is already an active environment and we've just received new config either from checking out a new branch, or in a CI environment, from having it merged into master.

In a CI environment things are starting from scratch and so an `amplify init` will likely always be done, so no problem there.

I

[2020-04-08 18:01] SwaySway commented on #3889
You can check if this is enabled by checking your `transformer.conf.json` if it contains a ResolverConfig set up. I was able to get this working on a project that does not have conflict detection enabled and I was able to reproduce this issue on a project with this enabled.

[2020-04-08 18:07] alexkates opened #3902 "team-provider-info.json clarification"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
All

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.18.0

**What AWS Services are you utilizing?**
Cognito, Lambda, S3

**Provide additional details e.g. code snippets**
After running `amplify env ad

[2020-04-08 18:29] regenrek opened #3903 "Best way to recreate Tables if you do @key updates"
Hi,

I want to relate to this issue/comment: https://github.com/aws-amplify/amplify-cli/issues/3816#issuecomment-609934335

While developing and testing with amplify the graphql schema evolves and gets changed most of the time. Whats the best and fastest way to recreate tables without thinking about data loss

1. How can I recreate mock tables with new schema?
2. How can I recreate tables with new

[2020-04-08 18:32] kimfucious opened #3904 "amplify remove auth: what does it delete?"
**Which Category is your question related to?**
Amplify CLI Auth

**Amplify CLI Version**
4.18.0

**What AWS Services are you utilizing?**
Api, Auth, DymanoDB, Lambda, S3

I think I need to delete and recreate my Cognito user pool because I somehow deleted the sns-role and now I can't save anything there.  Plus there are some settings I want to change, but I can't because these were set at creatio

[2020-04-08 19:07] undefobj commented on #3903
@regenrek We are also discussing this in: https://github.com/aws-amplify/amplify-cli/issues/2384

Do you have any thoughts on how the workflow would be best for you here? One thought is a "production/locked" and "dev/unlocked" mode for safety purposes, where in the dev mode the tables are automatically recreated on certain foundational schema changes.

[2020-04-08 19:12] undefobj commented on #2384
All - We started brainstorming about this a bit internally. One concern is around data loss once you have moved past the rapid development phase and you've decided on a data model.

Do you have any thoughts on how the workflow would be best for you here to protect against accidental deletion? One thought is a "production/locked" and "dev/unlocked" mode for safety purposes, where in the dev mode th

[2020-04-08 19:46] regenrek commented on #3903
The workflow for this is now the following:

- Clean schema and add 1 Test @model
- Remove Custom Resolvers
- push
- Put schema back
- push
- Hope everythings goes well

Thank I will close this in favour of #2384

[2020-04-08 19:46] #3903 closed

[2020-04-08 20:03] regenrek commented on #2384
A warning with a bold red font should do it. :)

In first place, you possibly could lock an environment like

```amplify env <lock|unlock> prod```

If you want to recreate tables I could think of

```amplify push --recreate-tables --force```
```amplify mock --recreate-tables``` or ```amplify mock --rebuild```

Regards

[2020-04-08 20:12] nirvdrum commented on #2384
@undefobj Would a confirmation prompt be sufficient, with the user forced to type something like "I understand recreating the table results in total data loss for this table."? If you've decided on a data model, you shouldn't need to invoke this command at all. Hopefully such an ACK sequence would steer you away if you didn't intend on deleting the data.

You could also have an option to rename, r

[2020-04-08 20:20] kldeb commented on #2384
i like the lock / force recommendation.

Not sure how to handle it in amplify console.

Currently, when running `amplify api gql-compile` warnings about schema changes are issued there and compile fails. Maybe that's the right place for the warning and flags to be set?

Not sure how it works under the hood but this could satisfy changes from both push from cli and amplify console.

[2020-04-08 22:06] iqaldebaran commented on #682
I tray this solution but the next error appear:

![Captura de Pantalla 2020-04-08 a la(s) 17 04 31](https://user-images.githubusercontent.com/2790778/78838137-23853880-79bb-11ea-94ac-9d2f4bd74b19.png)

Can you help me please?

[2020-04-08 22:48] zahydo commented on #2311
Hi everybody, is there some update from this?

[2020-04-09 00:25] #3378 closed

[2020-04-09 01:50] SwaySway commented on #3660
Hi @CodySwannGT
Are you still experiencing this issue?
I was not able to reproduce, with 4.13.1 and latest.
I tried to reproduce with this schema:
[code]
I used tag is the field I set to null and it removed it from from table and the index as well.

[2020-04-09 01:53] CodySwannGT commented on #3660
Hey @SwaySway

[This was actually the culprit](https://aws-amplify.github.io/docs/cli-toolchain/graphql#migration-warning)

Although, I didn't figure that out before I deleted the who ES index and recreated it.

[2020-04-09 01:53] #3660 closed

[2020-04-09 03:07] apoorvmote opened #3909 "DataStore does not support connection directive with keyName"
**Which Category is your question related to?**
Datastore

**Amplify CLI Version**
4.18.0

**What AWS Services are you utilizing?**
API, Cognito

**Provide additional details e.g. code snippets**
Following schema used to work. But doesn't work anymore.
[code]
Now if I do `amplify codegen models` I get following error
`Error: DataStore does not support connection directive with keyName`

My questio

[2020-04-09 03:50] BennettSmith opened #3910 "GraphQL schema compilation omits needed auth directives for nested types."
**Describe the bug**
If I apply @auth to a model in my schema that uses nested types, during `amplify push` the schema compilation omits the `@aws_iam @aws_cognito_user_pools` directives for nested types that are more than one level deep.

Because of the omission, a GraphQL subscription for the owner of the Todo (authenticated via Cognito) from my iOS mobile app will fail when a Lambda function pe

[2020-04-09 04:56] AbirAbbas opened #3911 "Scheduled Lambda Trigger causes amplify push to fail"
**Describe the bug**

UPDATE_FAILED      functionrebateFunction AWS::CloudFormation::Stack Thu Apr 09 2020 00:42:04 GMT-0400 (Eastern Daylight Time) Parameters: [CloudWatchRule] do not exist in the template

**Amplify CLI Version**

4.18.0

**To Reproduce**
Added scheduled lambda trigger to existing function using amplify update function

parameters.json:

{
    "CloudWatchRule": "cron(30 * * * ?

[2020-04-09 06:55] daajack commented on #3800
I attached the trigger from the S3 console, and it works. Obviously, this is not a good solution.

1. I tried with last version but nothing changed
2. I cannot send it by email, the compressed directory is more than 300MB !

[2020-04-09 08:11] mayteio opened #3913 "Query by many-to-many connection and sort field"
I'm trying to query a many-to-many model with a sortfield.

I have Conferences, Tags and ConferenceTags ([connection model described here](https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-2)).

The two access patterns I need are:

- conference by startDate - no problem.
- conference by tag ordered by startDate - how the f :)

I'm unsure how to pass the startDate to the connection que

[2020-04-09 09:07] regenrek commented on #682
Yep I get the same here. I think since you removed the operations on the model the `ModelAttributeTypes`  isn't present.

* Tried also @clodal `s approach but this results in the same `resolver is allowed per field` error.
* You also run into problems if you have a CustomResolver
* The only way which worked me so far is the dump everything approach described here: https://github.com/aws-amplify/am

[2020-04-09 09:15] regenrek commented on #2384
This would be really nice but I think this will be a big task so solve. Since amplify needs to know the old and the new model and how it should transform correctly. Sounds kind of difficult for all different use cases everyone has.

[2020-04-09 11:39] yonatanganot commented on #682
@iqaldebaran @regenrek
What is your schema structure?

[2020-04-09 12:55] helloniklas opened #3914 "Adding lambda trigger function says there are no DynamoDB resources configured?"
**Which Category is your question related to?**

amplify add function

**Amplify CLI Version**
4.18.0

**Provide additional details e.g. code snippets**
I've added auth and api. It created the dynamo db table etc in the cloud. The AWS App sync queries are running fine. When I then try and do amplify add function for a lambda trigger. And select

`Choose a DynamoDB event source option Use storage c

[2020-04-09 13:28] mdoesburg commented on #3909
I am having the same issue even though it was suggested [here](https://github.com/aws-amplify/amplify-js/issues/5039) that it should work, and that the docs for DataStore are outdated.

[2020-04-09 15:56] nikhname commented on #3904
Hi @kimfucious, ```amplify remove auth``` will remove all auth related stacks including any user pool and identity pool. Instead, you could try ```amplify env pull``` or ```amplify env pull --restore``` (will override changes you've made in your backend with resources you've deployed to the cloud) to restore the sns-role.

[2020-04-09 16:25] mdoesburg opened #3915 "Generated Lambda trigger doesn't execute properly (index.handler is undefined or not exported)"
**Describe the bug**
I added a Pre Token Generation Lambda trigger by running the `amplify update auth` command. I successfully pushed this change to the cloud, but sign in for my app no longer works. I inspected the logs of the newly added trigger and found this error:

[code]

I think it's caused by the fact that only the `src/custom.js` or in this case `src/alter-claims.js` gets added to the zi

[2020-04-09 16:42] kimfucious opened #3933 "Cognito federated login across separate apps sharing same backend"
**Which Category is your question related to?**
Auth

**What AWS Services are you utilizing?**
API Gateway, Cognito, DynamoDb, Lambda, S3

**Amplify CLI Version**
4.18.0

**Scenario:**

React (web) project created with amplify-cli

Second React Native project (expo), using first project’s backend via amplify pull

A Cognito user pool is used for Auth, and I’ve setup FederatedSignIn.

Both apps can

[2020-04-09 16:53] UnleashedMind commented on #3900
@rehanbabertkxel
If you do not plan to do any development of the backend in your React frontend app, what you've done is correct.
You need to get the transformed schema in place for the codegen to work, not the original one with the GraphQL transformer directives such as @function and @auth.
You can get the schema from the AppSync Console. Or you can run `amplify codegen --apiId <api-id>`. Check t

[2020-04-09 16:58] UnleashedMind commented on #3809
Thanks for the feedbacks. This is the behavior of a library that the CLI uses.

[2020-04-09 17:13] UnleashedMind commented on #3784
Closing the issue due to lack of response.
Feel free to open a new issue if you still have the problem.

[2020-04-09 17:13] #3784 closed

[2020-04-09 18:03] akshbhu commented on #3911
Hi @AbirAbbas

Can you tell me the steps how you setup the trigger schedule to reproduce it?
Also can you share the CFN file for this lambda function?

[2020-04-09 18:07] AbirAbbas commented on #3911
`? Please select the Lambda Function you would want to update rebateFunction
? Do you want to update permissions granted to this Lambda function to perform on other resources in your project? No
? Do you want to update or remove the function's schedule? Yes
? Select from the following options: Update the schedule
? At which interval should the function be invoked: Custom AWS cron expression
? Cust

[2020-04-09 18:08] iqaldebaran commented on #682
@yonatanganot , my schema is the next...
When I comment the "WfItem" and its connection in "WfNode", the schema works without problems, but when I add the "WfItem", it throws the error.

type TKRProject
  @model
  @auth(rules: [{ allow: owner }, { allow: groups, groups: ["Admin"] }]) {
  id: ID!
  projectName: String!
  description: String
  studyCoordinator: String
  facility: String
  company: S

[2020-04-09 18:08] AbirAbbas commented on #3911
`? Please select the Lambda Function you would want to update rebateFunction
? Do you want to update permissions granted to this Lambda function to perform on other resources in your project? No
? Do you want to update or remove the function's schedule? Yes
? Select from the following options: Update the schedule
? At which interval should the function be invoked: Custom AWS cron expression
? Cust

[2020-04-09 18:10] AbirAbbas commented on #3911
{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "Lambda resource stack creation using Amplify CLI",
	"Parameters": {
		"env": {
			"Type": "String"
		},
		"storageOrderName": {
			"Type": "String",
			"Default": "storageOrderName"
		},
		"storageOrderArn": {
			"Type": "String",
			"Default": "storageOrderArn"
		},
		"storageMatrixName": {
			"Type": "String",
			"Default": "storageMa

[2020-04-09 18:21] gaochenyue opened #3916 "AppSync Inconsistent Identity Username ($ctx.identity.claims.get("username"))"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I created two Amplify projects. Both projects use cognito auth. When I invoke a lambda function with appsync resolver, the usernames passed to the functions are different. One project has sub and the other has email

Project1
[code]
The username is sub id in project 1

Project2
[code

[2020-04-09 18:26] #2914 closed

[2020-04-09 18:29] kimfucious commented on #3904
Hi @nikhname

Thanks for the reply.  Unfortunately the sns-role was deleted from IAM, so I don't think a pull is going to restore it, unless you can explain otherwise.

But I *think* you've answered my question in that the only things that will get deleted are Auth related, including the user pool and identity pool.  Other resources, such as API, Functions, Storage, etc. should remain untouched, c

[2020-04-09 18:49] AbirAbbas commented on #3911
nevermind issue is caused by updating my CLI not specifically the lambda trigger.

[2020-04-09 18:52] amuresia commented on #1789
Hey @kaustavghosh06 ... I just updated to the latest version of the cli and tried to add a schedule using `amplify update function`. The push however fails with
[code]

I can confirm that in the template there's a reference to the rule `        "ScheduleExpression": {
          "Ref": "CloudWatchRule"
        }` but the rule itself is not in the template.
Would you like me track this issue separat

[2020-04-09 18:52] iqaldebaran commented on #682
@yonatanganot @regenrek

My solution for my problem... without delete data... was:
- In the schema.graphql, change the name of the "items" in the connection:
- Change "itemsWF" for "nodeItemsWf" and "node" for "itemWfNode" -> amplify push -> Ok¡ All green¡

[2020-04-09 18:59] kaustavghosh06 commented on #1789
@amuresia Could you please open a separate GitHub issue regarding this? Thank you.

[2020-04-09 19:00] AbirAbbas commented on #3911
scratch that the issue persists. I checked without the lambda trigger and everything works fine, when the lambda trigger is added it breaks.

[2020-04-09 19:02] amuresia opened #3917 "Can't add schedule to a function"
I just updated to the latest version of the cli and tried to add a schedule using amplify update function. The push however fails with

[code]
I can confirm that in the template there's a reference to the rule `"ScheduleExpression": { "Ref": "CloudWatchRule" }` but the rule itself is not in the template.

Reference: #1789
CC: @kaustavghosh06

[2020-04-09 19:05] nikhname commented on #3872
Hi @gaegaelab the table cannot be provisioned in Aurora because you have an invalid schema. The Mutation, Query and Subscription are empty and they need to be given fields for the schema to be valid.

Using add-graphql-datasource will generate a schema from the tables you have in an aurora database. If you would just like to add your todo model to the schema generated from aurora, only include thi

[2020-04-09 19:07] edwardfoyle commented on #3562
@danmight Thanks for following up! I was able to repro the issue, but I was able to fix it by running the following CLI commands:
[code]
Then run `amplify push` and you should be able to perform the operations you authorized by singing in as a user in a pool. This was also run with the latest version of the CLI (4.18). Let me know if that solves the issue for you!

[2020-04-09 19:12] kaustavghosh06 commented on #3917
@amuresia This is a duplicate of #3911
We're tracking #3911 for this issue.

[2020-04-09 19:12] #3917 closed

[2020-04-09 19:14] amuresia commented on #3911
+1 same over here. `CloudWatchRule` is referenced in the template, but it's not created as a resource.

[2020-04-09 19:17] akshbhu commented on #3911
Hi @amuresia

Can you add these into your CFN file under Parameters section and check if its working as workaround.
[code]
By the time I will fix this issue. Thanks for reporting this.

[2020-04-09 19:23] amuresia commented on #3911
The above does not fix the issue I'm afraid.
The CF template reads as:
[code]

[2020-04-09 19:26] kaustavghosh06 commented on #3911
@amuresia You need to add it to the "Parameters" block.

[2020-04-09 19:28] akshbhu commented on #3911
Hi @amuresia
Yes , you need to add that block under parameters section. I am adding a template for your reference
[code]

[2020-04-09 19:28] AbirAbbas commented on #3911
adding it to Parameters solved it for me!

[2020-04-09 19:31] akshbhu commented on #3911
@AbirAbbas
Thanks for the update. I will write a fix for this so that there wont be any workarounds.

[2020-04-09 19:32] amuresia commented on #3911
Yup, that worked for me too. Should I keep it in or will it clash when the fix is released?

[2020-04-09 19:39] smakinson commented on #3636
@hisham I agree it would be nice to be able to see the stage name in the list since the api names are identical.

[2020-04-09 19:45] akshbhu commented on #3911
Hi @amuresia
Nice to know that it worked.
You can keep that in CFN file, it wont be affected by the release.

[2020-04-09 19:57] smakinson opened #3919 "REST api id with amplify status"
Minor potential feature request here. Would it be possible to show the id for a `api` item for the currently checked out env when `amplify status` is run? Or is it trying to stick with cols that work for all categories?

[2020-04-09 20:09] nikhname commented on #3904
Sure thing @kimfucious. If the sns-role still exists in the stack used by your environment it may still be recovered.

But yes to confirm your other resources will be untouched. You should not have to rewire anything from the API end when you create the new Auth roles.

[2020-04-09 20:22] danmight commented on #3562
That’s awesome, thank you for that!!

On Thu, Apr 9, 2020 at 13:07 Edward Foyle <notifications@github.com> wrote:

[2020-04-09 20:48] SwaySway commented on #3919
Hello @smakinson
Are you referring to a GraphQL API? If so you do the endpoint when running `amplify status`. Should you need more information regarding you can run `amplify console api`, this will open up your AppSync API in the AWS Console. Is there a specific use case you have where you need the API ID?

[2020-04-09 20:50] SwaySway commented on #3916
Hello @gaochenyue
How did you setup auth on both projects?

[2020-04-09 20:54] smakinson commented on #3919
@SwaySway Sorry about that, I'm thinking of the REST api. Similar to the column shown in the list in the console. It a convenience feature idea since the REST api's have the same name for all environments.

[2020-04-09 21:33] gaochenyue commented on #3916
@SwaySway I set auth with default options. Which username is expected, sub or email?
Thanks

[2020-04-09 22:26] #3889 closed

[2020-04-09 22:41] djkmiles commented on #3253
- Expo SDK 37, managed
- Fails when using `amplify mock [storage]`
- Array-buffer error can be patched
- Then fails with message "Network failure"
- All Amplify/Storage functions eg list, put, get fail this way
- Recommend adding `Amplify.logger.level = "DEBUG"` to App.js/config

[2020-04-09 22:57] SwaySway commented on #3682
Hello @nagey
Are you still experiencing issues with
Did you add the resolver cfn portion inside CustomResources.json?
I tested this on 4.16.1 and the latest version of the CLI and it generated a policy for the unauth role to access the query. It also passed the `@aws_cognito_user_pools`.

Schema I used
[code]

[2020-04-10 00:18] #3562 closed

[2020-04-10 04:58] varunpsr opened #3921 "Creating two types with similar names gives an IAM role already exists error."
**Describe the bug**
We've got two types defined in our schema namely `UserSubscriptionDeliveryTimings` and `UserSubscriptionDeliveryDays`. When we created the first type, it created an IAM role `UserSubscriptionDeliv-role-docnrn3g2bfyllul3wm6kshbpi-develop` and that worked, when we created the second type, it tried to create an IAM role with the same name for some reason.
Running `amplify mock` w

[2020-04-10 07:42] Mzuraiqi commented on #3149
AWS Lambda addressed this issue in the following document:

[https://aws-amplify.github.io/docs/cli/lambda-node-version-update](url)

I personally had to upgrade my Amplify CLI version by using: -g @aws-amplify/cli@latest

It is working now.

[2020-04-10 08:42] cyrfer commented on #3240
@kaustavghosh06 yes, still stuck in amplify console. The build console output before the error was not that useful, but the downloadable logs were more useful.

Here is the Cloudformation event showing the real errors, obviously from the custom parameters that are still not being passed from the team file [(attached)](https://github.com/aws-amplify/amplify-cli/files/4460653/team-provider-info-json

[2020-04-10 10:44] vkumarvs commented on #2055
type Factory
  @model
  @searchable
  @key(fields: ["pk", "sk"])
  ) {
  pk: ID!
  sk: ID!
  dataType: DataType!
  ######################################
  workstation: WorkStationData #input types nested objects
  region: RegionData #input type nested object
}

I used searchable directive and the filtering code generated by Tranformer doesn't include workstation object.

export type SearchableFac

[2020-04-10 10:52] vkumarvs commented on #3753
I have kind of similar related problem:
type Factory
@model
@searchable
@key(fields: ["pk", "sk"])
) {
pk: ID!
sk: ID!
dataType: DataType! ---------> enum type
######################################
workstation: WorkStationData #input types nested objects {contains multiple fields}
region: RegionData #input type nested object
}

I used searchable directive and the filtering code generated by Tranf

[2020-04-10 10:56] vkumarvs commented on #3539
@SwaySway  I am also looking for the similar solution.

My previous post was this:
https://github.com/aws-amplify/amplify-cli/issues/2055

[2020-04-10 10:57] andreialecu opened #3923 "Attempting to add and remove a global secondary index at the same time"
**Describe the bug**

Currently have an app in development using Amplify and React Native.

While changing the schema to add some `@key`s and `@connection`s, we started seeing the following error:

[code]

Since this is a development app, we tried creating a new environment in order to push there.

The same error happened with the new environment. It seems like it is somehow still pulling the sche

[2020-04-10 11:11] andreialecu commented on #3923
Related to the actual problem: #2384 and #3903.

However, I think it should still allow pushing to a completely different environment.

[2020-04-10 11:23] rehanbabertkxel commented on #3900
@UnleashedMind , thank you.
I exported the schema.json file from appsync and put it into my project and ran amplify codegen add. It created the .graphqlconfig.yml file and then I ran amplify codegen and it created all the quesries in the ./src/graphql/ folder. Now I can easily use those in my Javascript functions.
Thanks.

[2020-04-10 11:36] andreialecu commented on #3923
As a troubleshooting step, we tried removing all models from schema.graphql and pushing an empty test model. The push finished properly.

When trying to push the full schema again, https://github.com/aws-amplify/amplify-cli/issues/682 happened.

[2020-04-10 12:00] rudyhadoux opened #3924 "The directive "auth" can only be used once at this location."
Hi, I can't do Amplify any more.

For every amplify push I have this error message :
The directive "auth" can only be used once at this location.

[2020-04-10 12:20] amuresia commented on #1406
Has anybody overcome the challenge of adding secondary indexes? As the functionality of an application grows, so does the `@model` and adding secondary indexes is an absolute must.
`amplify push` fails fast though stating `Local secondary indexes must be created when the table is created.` The thing is that 6 months ago when the table was created, some fields did not exist thus needn't a secondary

[2020-04-10 12:24] mdoesburg commented on #3924
@rudyhadoux Can you post your graphql schema here please, so we can help you?

[2020-04-10 12:28] mdepascale commented on #1433
@kaustavghosh06 are there any update for supporting local RDS mocking?

[2020-04-10 12:48] alexkates commented on #3442
Hey guys, it's been a while but this is still an outstanding issue... is there any more information I can provide to help move this along?

[2020-04-10 13:16] alexkates opened #3925 "Single Tenancy Guidance"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
Auth, Api, Function

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.18.0

**What AWS Services are you utilizing?**
Cognito, APIGW, Lambda, S3, DDB, AppSync

**Provide additional details e.g. code sni

[2020-04-10 14:22] djkmiles commented on #3253
While this is left to continue by AWS, I would recommend using `amplify mock api` to avoid interruption

[2020-04-10 14:49] rudyhadoux commented on #3924
type Particulier
  @model(subscriptions: { level: public })
  @auth(
    rules: [
      {
        allow: groups
        groups: ["utilisateurs"]
        operations: [create, update, read, delete]
      }
      {
        allow: groups
        groups: ["professionnels"]
        operations: [create, update, read, delete]
      }
    ]
  ) {
  id: ID!
  email: String!
  telephone: String
  nom: String

[2020-04-10 14:54] rudyhadoux commented on #3924
I think error messages are too incomplete.

[2020-04-10 15:30] andreialecu commented on #3923
The only working solution to get unblocked was to do what is described here: https://github.com/aws-amplify/amplify-cli/issues/682#issuecomment-598858263

[2020-04-10 15:48] mdoesburg commented on #3924
I am not sure if this will work, because I can't test it right now, but can you try adding commas in between the 2 rules and after the allow and groups line. Like this:

[code]

[2020-04-10 15:54] batical commented on #32
and how to deal with multi env and lambda vpc except doing some manual script to update template json

[2020-04-10 16:49] varunpsr commented on #3921
Removing the `UserSubscriptionDeliveryDays` from schema.graphql should have successfully run `amplify push` but now, not able to Push anything to Amplify. 😐

[2020-04-10 16:53] nikhname commented on #3915
@mdoesburg does manually moving the index.js file to the source folder and doing a push fix the problem?

[2020-04-10 17:07] rudyhadoux commented on #3924
There was a bigger schema that worked well.
I was surprised because it is the first time I have this error message.

[2020-04-10 17:39] varunpsr commented on #161
We also just faced this issue today. Unable to reproduce it every time, sometime it works, other times it doesn't

`CREATE_FAILED      UserSubscriptionDaysTable                                                                  AWS::DynamoDB::Table       Fri Apr 10 2020 23:00:40 GMT+0530 (India Standard Time) Subscriber limit exceeded: You have exceeded the maximum num
ber of indexed tables that can

[2020-04-10 17:42] Rolando-Barbella commented on #82
My issue was related to `amplify storage`, I said yes to the Lamba option but did not have a function for it, so I ran `amplify update storage` and change the option to not have Lamba, no really useful error was showed, I manage to push after.

[2020-04-10 18:05] smakinson commented on #3390
@lawmicha Incase this is helpful for others I thought I'd post up here what I am looking at doing with the cloudformation template, and if you have a moment I have 2 questions, one general and the other (without taking too much of your time) if you might know the fix for an error:

* Do you know at what point `backend-config.json` and the `myApi-cloudformation-template.json` gets overwritten and i

[2020-04-10 18:26] Jay2113 opened #3926 "CustomMessage failed with error index.handler is undefined or not exported --> Cognito Lambda Triggers"
**Describe the bug**
The Amplify CLI provides Lambda trigger templates, I am trying to implement the Email Verification Link with Redirect template. While trying to complete the CLI Auth workflow I encounter some access denied blocks from CloudFormation. Also, when I try to register a new user, the Lambda should be triggered but I get the following error: "CustomMessage failed with error index.han

[2020-04-10 19:27] flowtrader2016 commented on #1997
Same issue:
"Failed to start API Mock endpoint Error: No AppSync API is added to the project"

I do have an API though as per:

$ amplify add codegen --apiId xxxxxxxxxxx
Gives response:
"Codegen support only one GraphQL API per project"

Also Java is installed and working.

[2020-04-10 19:42] yuth commented on #1997
If you add an API to your project with `--apiId` you can use that API only for codegen. Mock needs API to be provisioned in the project and does not work with externally provisioned API

[2020-04-10 19:56] SwaySway commented on #3926
Hello @Jay2113
We are currently investigating this issue.
If you move the index.js file inside `src/` of the function and push does that work for you?

[2020-04-10 20:15] cyrfer opened #3927 "add lambda trigger for auth post signup via `function add`"
**Is your feature request related to a problem? Please describe.**

I'd like to insert a new record into a user collection when a user confirms signup. This seems like a trivial thing. It's not. Since GraphQL mutations can be observed, I'd like to use the API (from the triggler lambda) to insert the record.

It seems impossible to add a trigger for auth post-confirm events that can invoke the API.

[2020-04-10 20:27] ammarkarachi commented on #3442
Hi @alexkates, sorry for the delay. The env shouldn't prompt you if you have executed the `amplify push` command. Is this the case?

[2020-04-10 20:30] palpatim opened #3929 "[Feature Request] Set up Sign in With Apple as Identity Provider via Amplify CLI"
(@lawmicha Already requested SiWA support for Hosted UI on https://github.com/aws-amplify/amplify-cli/issues/3434. This is a parallel request for Identity Pools.)

Amazon Cognito recently enabled Sign in with Apple (SiWA) as an identity provider for Cognito Identity Pools: https://docs.aws.amazon.com/cognito/latest/developerguide/apple.html

The current CLI experience only allows Facebook, Google,

[2020-04-10 20:41] #3915 closed

[2020-04-10 20:41] #3926 closed

[2020-04-10 20:42] Jay2113 commented on #3926
Hi @SwaySway
Yes, I moved index.js inside the src/ folder. The Lambda function triggers now. However, when I try to visit the confirmation link that I receive in my email it gives me a 403 Forbidden error.

[2020-04-10 20:45] Maheshkumar094 opened #3932 "403 ERROR The request could not be satisfied."
**Issue I am Facing**
This distribution is not configured to allow the HTTP request method that was used for this request. The distribution supports only cachable requests. We can't connect to the server for this app or website at this time. There might be too much traffic or a configuration error. Try again later, or contact the app or website owner.
If you provide content to customers through Cl

[2020-04-10 20:57] ashika01 commented on #3933
@kimfucious I guess manual setup would work for this right? Have you tried configuring using [Amplify.configure()](https://aws-amplify.github.io/docs/js/authentication#manual-setup)

[2020-04-10 21:26] SwaySway commented on #3932
Hello @Maheshkumar094
Are you managing your deployments via the Amplify CLI or Amplify Console?

[2020-04-10 21:39] mdoesburg commented on #3915
Thanks for the fix! I can confirm this works now.

[2020-04-10 21:53] wadamomo commented on #3497
I also randomly started getting 403 on Storage.put for images/blobs a few days ago running aws-amplify@3.0.5-unstable.4

I could still upload a text string using Storage.put and it would be going into the right bucket but failed for images.

Just downgraded and it is now working fine again.

[2020-04-10 22:53] hisham opened #3934 "Hit upon 200 graphql resource limit upon addition of Aurora data source"
**Describe the bug**
I added an Aurora Serverless data source to a brand new GraphQL Api. The data in the db is from an established piece of software with a relational db consisting of 49 tables. There are 1700 or so users in this db and the tables hold various data about them. So it's not that big of a data set. After doing `amplify api add-graphql-datasource` I got error of ` UnhandledPromiseRej

[2020-04-10 22:59] mdoesburg opened #3935 "Amplify attempts to remove custom cloud formation stacks when adding a new trigger"
**Describe the bug**
After running `amplify update auth` and adding a new trigger, amplify attempts to remove my custom cloud formation stack. My custom cloud formation stack is setup the same way as described in the [docs](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks), with all the files placed in `amplify/backend/custom`. My custom stack currently cont

[2020-04-10 23:00] hisham commented on #3934
Also looking at the code that throws this exception, it's supposed to give me this message but it doesn't:

        `The ${stackName} stack defines more than 200 resources.`,
        'CloudFormation templates may contain at most 200 resources.',
        'If the stack is a custom stack, break the stack up into multiple files in stacks/. ' +
          'If the stack was generated, you have hit a limi

[2020-04-10 23:15] cyrfer commented on #3927
...and I just learned that the code generated has no file named `index.js` which is expected by the deployment and runtime errors occur because it is missing. Instead `custom.js` has the `.handler` entry point.

🐛 BUG

[2020-04-11 00:02] SwaySway commented on #3934
@hisham
Is the stack that is giving you the error a model generated stack?

[2020-04-11 03:26] jnathanh commented on #1181
+1

[2020-04-11 06:23] #3924 closed

[2020-04-11 08:23] mkaschke commented on #3777
Same issue here. I can't make the subscription work but I tried the workaround above and it works for me.

`type Reservation
  @auth(rules: [
  {allow: owner, operations: [create, delete]}
  ])

  @model(subscriptions: {
  onCreate: ["onCreateReservation"]
  onDelete: ["onDeleteReservation"]
  level: public })

  @searchable  {
  id: ID!
  location: String
  city: String
  owner: String
  requests

[2020-04-11 08:38] mdepascale commented on #2199
Our temporary solutions:
**BEFORE**
`$util.qr($context.args.input.put("created_at", $util.time.nowFormatted("yyyy-MM-dd HH:mm:ss")))`

**AFTER**
[code]
Hope they will solve this issue

[2020-04-11 12:09] kimfucious commented on #1779
Another note on this long closed thread, is that once you start working with Cognito federatedSignIn, your third party secrets are put right into team-provider-info.json.

So, unless you're working in a private repo, best exclude this file.

FYI:  I've salted the below values with dummy chars.

[code]

[2020-04-11 13:29] buggy opened #3937 "RFC: Better input validation and default values"
**Is your feature request related to a problem? Please describe.**

I want better input validation for mutations so that I can check the values the user is submitting before they are saved.

Examples:

* Min/max string length
* String begins with, ends with or contains another value
* String matches a regular expression
* Value is/is not in a set
* Int or Float value ==, !==, >, >=, <, <=
* Boolea

[2020-04-11 14:30] rehanbabertkxel opened #3938 "Multiple Frontends (React + IOS)"
**Which Category is your question related to?**
Multiple Frontends (React + IOS)

**Amplify CLI Version**
4.13.1

**Provide additional details e.g. code snippets**
I am building an IOS app. But the AWS Amplify developer I have does not have much knowledge of IOS. So what he is suggesting me is that he will build the backend for the app by configuring it with a React application and then I can use

[2020-04-11 14:41] hisham commented on #3934
Not sure what you mean by "model generated". Yes it is an auto-generated stack based off of the schema in the relational db. I did not use @model transforms or anything like that. It is a brand new GraphQL API with only the relational db data source added.

I guess this is an expected limitation, and I'm supposed to use the "StackMapping" attribute somehow. But I think I will just remove some of t

[2020-04-11 14:45] zetsnotdead commented on #3289
@yuth I have the same issue.

[code]

If I run query like this I get unauthorized error for accessing the streetName field.

[code]

[2020-04-11 14:49] kldeb commented on #1946
@ericweissmann does your solution work for custom resolvers? Meaning it will run before every resolver?

[2020-04-11 14:56] stefanotauriello commented on #2738
I have the same problem but now I know that postgreql is supported.
Anyone can help me?

[2020-04-11 14:58] Graig123git commented on #556
I am also facing the same issue where i am not able to do one to one bidirectional relationship.
In my case i am trying to achieve the following, A User can only make one Post at a time and a Post can only have one User as its owner. Any suggestion on how to solve this @mikeparisstuff

[2020-04-11 16:10] stefanotauriello commented on #2423
Is there any update, please?

[2020-04-11 16:34] stefanotauriello commented on #1914
Is there any update for Postgresql?

[2020-04-11 17:26] bearsworth commented on #611
You totally saved me. I had an AccessDeny error and this caused it.

[2020-04-11 19:38] subhendukundu opened #3939 "How to find list of Event which user not already requested in amplify appsync?"
Which Category is your question related to?
GraphQl query

Amplify CLI Version
4.17.2

I am trying to find a list of events where the user is already not requested. I have two tables, user and event, each time user requests for an event I am adding it to EventRequest table. Now how do I filter the listEvent which user not requested for already?

My tables look like this.

[code]

I really need hel

[2020-04-11 19:50] mdoesburg commented on #3777
@mkaschke Are you not getting any of the warnings I described above? Also, did you run the `amplify codegen models` or are you not using DataStore and or React Native?

[2020-04-11 21:57] rehanbabertkxel opened #3940 "Fetch Facebook Data"
**Which Category is your question related to?**
Cognito Social Provider Signup

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
AWS Cognito

**Provide additional details e.g. code snippets**
After signup using Federated Signup feature, is there a way by which I can fetch some user information from facebook, i.e; User_Image, User_Name?

What are the ways by which this can b

[2020-04-11 23:26] rehanbabertkxel commented on #620
@cyrfer did you find a way to add the right roles and policies to access cognito api and dynamo db?

@kaustavghosh06 can you please give an update on this?

[2020-04-11 23:32] cyrfer commented on #620
@rehanbabertkxel no, but I did make a recommendation over here: https://github.com/aws-amplify/amplify-cli/issues/3927

[2020-04-12 08:31] chakimar opened #3941 "`GRAPHQLAPIIDOUTPUT` and `GRAPHQLAPIENDPOINTOUTPUT` are not set"
**Describe the bug**
`GRAPHQLAPIIDOUTPUT` and `GRAPHQLAPIENDPOINTOUTPUT` are not set

**Amplify CLI Version**
4.18.0

**To Reproduce**
1. `amplify function update`

[code]

2. print env value
[code]

**Expected behavior**
[code]

**Actual behavior**
[code]

**Desktop (please complete the following information):**
 - OS: [Ubuntu]
 - Node Version: [v12.14.1]

**Additional context**
`amplify function

[2020-04-12 09:15] wagneramaral opened #3942 "DataStore with OPENID_CONNECT sync error: No federated jwt"
I'm trying to integrate DataStore to a project that uses OAuth to authenticate users.

Before the DataStore I was able to make queries with the GraphQL API

The original code that works, before DataStore implementation was:

[code]

But with DataStore and the following code bellow I receive the "No federated jwt" error:

[code]

I also tried to change the default authorization mode from OpenId Con

[2020-04-12 11:07] apoorvmote opened #3943 "Datastore says createdAt & updatedAt is undefined"
**Describe the bug**
A clear and concise description of what the bug is.
My schema is
[code]
As per my schema both `createdAt` and `updatedAt` are `string | undefined`.

But when I save it

`const results = await DataStore.save( new Post({ name }) )`

then I get following error.

`"Field createdAt should be of type string, undefined received. undefined"`

`"Field updatedAt should be of type string

[2020-04-12 12:05] apoorvmote opened #3944 "`keyField` Support for DataStore"
**Describe the bug**
If I create schema as follows
[code]
When I try to save `Post`

`const original = await DataStore.query(Blog, blogID)`
`const results = await DataStore.save( new Post({ content, blog: original}))`

then I get following error

`"The variables input contains a field name 'postBlogId' that is not defined for input object type 'CreatePostInput' "`

**Amplify CLI Version**
4.18.0

[2020-04-12 12:50] magjack commented on #2734
I just faced this same issue again. I left the project for a while. When I came back the connections from one model to a collections of another model was no longer working. I again with the same config created a new environment and it fixed the issue. Is there a timeout on how long a connection resolver can exist without being used?

[2020-04-12 13:29] guioum opened #3952 "amplify mock function ignore the configured profile for aws credentials"
**Describe the bug**
amplify mock function ignore the aws profile configured for the project, it uses the default one for credentials.
In the amplify config, we have useProfile: true & profileName:"sandbox".
AWS.config.credentials contains the 'default' profile credentials instead of the 'sandbox' profile credentials.

**To Reproduce**
Steps to reproduce the behavior:

1. create an amplify project

[2020-04-12 15:13] imonzalvo commented on #3353
@attilah Thans for your response.

Okay, I understand what you mean. I did not fully understand how this work.
But, is there a way to achieve what I'm trying to do here? Namely, allow per-field auth on entities.

In this case I want just Branch's editors to have access to it's bookings.

[2020-04-12 18:54] rehanbabertkxel opened #3945 "Add User To Dynamo DB in PostConfirmation Cognito Trigger"
**Which Category is your question related to?**
AWS Amplify, Amplify GraphQL Api, AWS Cognito

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
AWS Amplify, Amplify GraphQL Api, AWS Cognito

**Provide additional details e.g. code snippets**
In the POSTCONFIRMATION trigger lambda function of Cognito, I want to call my APPSYNC GRAPHQL using amplify and API_KEY authentication

[2020-04-12 19:01] jcardus commented on #3713
@UnleashedMind can you confirm this is a bug?

Is there any workaround?

Regards.

[2020-04-12 19:57] SebSchwartz commented on #3945
You can find some answers to you problem here: https://github.com/aws-amplify/amplify-cli/issues/3430

[2020-04-12 20:07] #3687 closed

[2020-04-13 00:02] brothatru opened #3946 "amplify pull TypeError: Cannot redefine property: mfa"
**Describe the bug**
[code]

**Amplify CLI Version**
4.18.0

**To Reproduce**
amplify pull or amplify push

**Expected behavior**
Pull latest changes into local environment

**Desktop (please complete the following information):**
 - OS: MacOS Catalina (10.15.3)
 - Node Version: v12.13.1

**Additional context**
I was trying to add a new lambda function that will add a user to an existing group.

[2020-04-13 00:14] cle5eland commented on #3289
@yuth sorry for the slow reply. Exactly what @zetsnotdead shared.

[2020-04-13 00:27] CharanRoot commented on #2203
@yuth any update on this issue?

[2020-04-13 00:33] CharanRoot commented on #3914
there is already opened ticket for similar feature
https://github.com/aws-amplify/amplify-cli/issues/2203

[2020-04-13 01:09] tkashi opened #3947 "Transcribe doesn't work in some regions with configuration Amplify CLI created"
**Describe the bug**
When we configure Amplify app to use Amazon Transcribe in the Predictions category with a user in some regions, it doesn't work with the current AWS SDK actually. For example, as the below example, if we use ap-northeast-1 as a region, then Predictions.convert produces a WebSocket connection error.

**Amplify CLI Version**
4.17.2

**To Reproduce**
1. Using a user of ap-northea

[2020-04-13 08:25] juniarz commented on #3786
@simeon-smith  I am experiencing the same issue as you do.

DdbToES Lambda function as the same with v4.17.2's.

The `_id` generated by the `DdbToEsFn` together with the `ddb_to_es.py` are not aligned with the lambda trigger.

For now, i am hardcoding my `ddb_to_es.py` and `DdbToEsFn` to my table's primary key.

[2020-04-13 08:47] juniarz commented on #3786
For those who need's a quick fix:

in `ddb_to_es.py` change:
`ddb_keys_name = [a['AttributeName'] for a in table.attribute_definitions]`
to
`ddb_keys_name = [a['AttributeName'] for a in [{ 'AttributeName': "<YOUR TABLE PRIMARY KEY HERE" }]]`
e.g.
`ddb_keys_name = [a['AttributeName'] for a in [{ 'AttributeName': "id" }]]`

This solution will only work if:
- You are using v4.16.1 and up
- Your `DdbT

[2020-04-13 09:31] jaidisido commented on #288
+1 on this, our AppSync Api uses Lambdas as data sources to then connect to Neptune. We would like to leverage Amplify and would need to have the ability to use an existing AppSync Api. Thanks

[2020-04-13 10:56] jaidisido commented on #1516
@mikeparisstuff
Could we please have an example of how to integrate an existing API into the "stacks" directory? I am just confused about how Amplify would be able to automatically pick up these new resources and use them.

Also, when using a custom schema in `schema.graphql`, can we still use directives such @auth or is that not possible?

Thanks

[2020-04-13 10:59] agentlewis commented on #186
While I think it logically makes sense to be able to download the exports file again - it doesn't seem like a high priority to fix.

The documented bullet proof solution should be: `push up your code to a working branch`,`rm your repo`, `re-clone the repo`, `cd in` & `amplify init`

As you are already logged in on your computer it will ask something like this:

[code]

Having done this you will th

[2020-04-13 11:17] mrichman opened #3948 "Adding Python API emits default code that errors with "Malformed Lambda proxy response""
When doing `amplify add api` and selecting Python, the `index.py` Lambda function that it creates returns the following error when invoked via API gateway:

[code]

This is the code generated:

[code]

The above code would work with the new HTTP API, but not with REST API, as `isBase64Encoded`, `body`, etc. are required in the response.

**Amplify CLI Version**
4.18.0

**To Reproduce**
`amplify ad

[2020-04-13 11:31] saevarb commented on #3909
The responsible code for this is [here](https://github.com/aws-amplify/amplify-cli/blob/088d46f2d67dcbb7e3bd213f8d869f2c87b2df5d/packages/amplify-codegen-appsync-model-plugin/src/utils/process-connections.ts#L55-L63). I implemented this fix on my own as an experiment before finding this issue, and I can confirm that with this fix, the resulting models are different. Namely, models which have conne

[2020-04-13 13:42] kldeb opened #3949 "Allow local testing when referencing lambdas in schema that exist outside project"
**Is your feature request related to a problem? Please describe.**
I would like to submit a pull request to change this line in `packages/amplify-util-mock/src/api/api.ts`:

[code]
To be a warning. I would still like to test other functions that are part of the amplify project locally.

**Describe the solution you'd like**
Just warn the user instead of throwing an error.

**Describe alternatives y

[2020-04-13 14:06] pks90 commented on #1362
I also got stuck on this as long as I was using the same environment name i.e. dev to be specific. when I did an amplify delete and manually deleted (actually an S3 bucket was not getting deleted) some resources from the console and re did the amplify init with development as environment name, all got fixed.

[2020-04-13 14:34] mdoesburg opened #3950 "Amplify push doesn't work with multiple custom Lambda functions"
**Describe the bug**

I am running an Amplify app in React Native. I've added custom cloud formation stacks, following the steps in the [docs](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks). The only difference being that my `auth` stack depends on these 2 custom Lambda functions.

This custom cloud formation stack adds one new category called `custom` to

[2020-04-13 15:08] kimfucious commented on #3933
@ashika01 thanks for that.  I think you're spot on with your recommendation.

My insane laziness has caused me to gloss over that section of the docs for long enough! 😉

I shall attempt that and report back here with my findings.

[2020-04-13 15:21] alexkates commented on #3902
Any more information needed on my end in order to help answer this?

[2020-04-13 15:21] alexkates commented on #3925
Any more information needed on my end in order to help answer this?

[2020-04-13 16:01] xitanggg opened #3951 "Quick Question - AdminQueries documentation and examples?"
**Which Category is your question related to?**
Amplify Cognito

**What AWS Services are you utilizing?**
Amplify CLI Function Admin Queries

Amplify CLI comes with the function `AdminQueries`. It is a powerful tool to list users, add user to group and do all sorts of Cognito stuff. However, I struggle to find a complete documentation and examples. Is there a complete documentation and examples so

[2020-04-13 16:18] jhockett commented on #3951
There's some limited information in the Amplify docs: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#administrative-actions

For more detailed information, check out the cognito docs:
https://docs.aws.amazon.com/cognito/index.html

The API reference might be useful:
https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/Welcome.html

Let me know if that helps.

[2020-04-13 16:35] #3141 closed

[2020-04-13 16:44] andriworld commented on #1871
As @c0dingarchit3ct confirmed in #3002, it works now just by creating an override copy of the .vtl file from `build/resolvers/` into `resolvers/` and pushing.

[2020-04-13 16:56] SwaySway commented on #3938
Hello @rehanbabertkxel
Using this method is helpful when sharing the same Amplify backend across multiple frontends, in this case React + iOS.

Docs here: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

[2020-04-13 17:02] edwardfoyle commented on #3941
Hi @chakimar, does this only happen when you configure the permissions using update? Are you able to successfully configure the permissions during the `amplify function add` flow?

[2020-04-13 17:11] edwardfoyle commented on #3948
Hi @mrichman The provided hello world templates are just meant to be a starting point. You can update the contents of the lambda to satisfy your use case. That being said, we are looking at adding more template types in the future

[2020-04-13 17:11] #3948 closed

[2020-04-13 17:17] SwaySway commented on #3945
Closing as a duplicate of #3430

[2020-04-13 17:17] #3945 closed

[2020-04-13 18:10] xitanggg commented on #3951
Thanks a bunch for prompt response. The examples seem to be a great starting point. I know I came across it at some point but struggle to find it this time (no luck searching for `Amplify Admin Queries` on google). But this is exactly what I am looking for. Thanks again.

[2020-04-13 18:10] #3951 closed

[2020-04-13 18:31] #2892 closed

[2020-04-13 18:38] kldeb opened #3954 "Specifying primary key via @key causes id field to be required in create input"
**Describe the bug**
Specifying the field name using `@key` causes it to be required in create input. see steps below.

**Amplify CLI Version**
4.18.0

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable
1. create pk with @key, don't call the field id.
2. run `amplify api gql-compile`
3. see the pk is required in the input and the mutation create resolver doesn't resp

[2020-04-13 20:00] edwardfoyle commented on #3954
Hi @kldeb could you elaborate on the behavior you expect here?

The following schema will compile and only require you to include "name" when creating a Todo:
[code]

Are you saying that in the above schema, if name was optional, a random UUID should be used if a name is not specified when creating the entity?

[2020-04-13 20:09] edwardfoyle commented on #3940
Hi @rehanbabertkxel, have you run into an issue with the Amplify CLI or an Amplify frontend library related to this? If you are able to get an access token from Facebook, then retrieving additional information would be a matter of the permissions that the access token grants (specified by the user that has logged in) and reading their documentation on how to retrieve user information.

If you're r

[2020-04-13 20:11] UnleashedMind commented on #3229
@2manoj1

Could you send us your distribution id through email? just to help us to troubleshoot it.
amplify-cli@amazon.com

[2020-04-13 20:16] mrichman commented on #3948
A starting point, if not minimally functional, should at least include a comment as to what to do next. This does neither.

[2020-04-13 21:39] SwaySway commented on #3892
I was not able to reproduce this error.
If you delete the `bin` folder in your project and do a rebuild does it recreate it?

[2020-04-13 21:48] SwaySway commented on #3916
@gaochenyue Did you setup both projects with same selection? As in both had email selected?

[2020-04-13 22:00] nikhname commented on #3872
If this does not solve the problem please feel free to comment and I'll reopen

[2020-04-13 22:00] #3872 closed

[2020-04-13 22:03] nikhname commented on #3896
If you're experiencing errors here please comment and we'll reopen the issue.

[2020-04-13 22:03] #3896 closed

[2020-04-13 22:10] nikhname commented on #3890
If you have further questions please feel free to comment below

[2020-04-13 22:10] #3890 closed

[2020-04-13 22:21] #3904 closed

[2020-04-13 22:59] undefobj commented on #3942
Transferring to JS repo.

@wagneramaral are you setting up OIDC Authorization in the `amplify add api` flow? Also are you using `@auth` with the GraphQL Transformer? Finally when you did the `API.graphql(graphqlOperation(listTransaction));` were you manually passing in your OIDC token in a header?

[2020-04-14 00:55] #3744 closed

[2020-04-14 00:59] edwardfoyle commented on #3867
Hi @kylekirkby, [this commit](https://github.com/aws-amplify/amplify-cli/commit/d586863aabcb1ad2fc4d8ee1bd0e693a4d86d0ea) fixes the duplicate environment variable issue. I'm going to close this issue and track the missing graphQL permissions here: https://github.com/aws-amplify/amplify-cli/issues/3941

[2020-04-14 00:59] #3867 closed

[2020-04-14 02:06] kldeb commented on #3954
@edwardfoyle

I expect that if i do this:

[code]

I expect:

[code]

and the resolver to manage the todoId when not included in the input instead of what I get now:

[code]

[2020-04-14 02:12] chakimar commented on #3941
Hi @edwardfoyle , I tried `amplify function add` and successfully get `GRAPHQLAPIIDOUTPUT` and `GRAPHQLAPIENDPOINTOUTPUT`.

[2020-04-14 06:16] kimfucious commented on #3904
Thanks @nikhname

I could not recover the sns-role for the life of me.

So I wound up removing auth completely and re-adding it.

And, despite the scary (potentially ambiguous?) warning message, it only deleted my auth stuff.

[2020-04-14 09:11] helloniklas commented on #2203
So why is there an option for Amazon DynamoDB Stream when you create a DynamoDB trigger form the CLI? What is this for then, if it can't access the tables?

[2020-04-14 12:19] Maauritz commented on #3213
Any updates on this? Cant figure it out.. even just adding a function with` amplify add function` gives `An error occured during the push operation: null`

[2020-04-14 12:43] vlac666 commented on #955
Thank you @dabit3 !

[2020-04-14 13:31] alexkates commented on #3442
I'm not. This is also happening if I create a new environment. I'm relying on the Amplify build/deploy pipelines to do this for me. Here is what I'm doing...

1. git checkout master && git pull
2. amplify pull (not entirely sure if this is needed)
3. Amplify env add
   Use an existing env? no
   Enter name of env
   Do you want to use a profile? Yes, default
   **Do you want to configure Lambda Tr

[2020-04-14 14:22] regenrek commented on #3889
Hi

@SwaySway thank you very much this was the last piece of the puzzle.

This issue was driving me crazy the whole weekend. It's well hidden in the docs I expected to read something the confliction detection constraint here
- https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html or here
- https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-

[2020-04-14 17:10] smakinson commented on #3131
I am seeing a similar issue, but in the build logs in Amplify console. Let me know if I should create a new
issue or it can be answered here.

First the part that I think I have resolved, I was seeing:
`The engine "node" is incompatible with this module. Expected version ">= 10.18.1". Got "10.16.0"`
and based on this: https://stackoverflow.com/questions/56444337/how-to-change-node-version-in-provi

[2020-04-14 17:18] Rolando-Barbella commented on #1770
I have the `"aws_appsync_graphqlEndpoint"` and the `"aws_appsync_authenticationType": "AMAZON_COGNITO_USER_POOLS"` in my `aws-export` file.

Also did:

`
Amplify.configure(awsconfig);

Amplify.configure({
  API: {
    graphql_endpoint: 'https://my-url.appsync-api.eu-central-1.amazonaws.com/graphql',
    graphql_headers: async () => {
      const currentSession = await Auth.currentSession();

[2020-04-14 18:13] alexkates opened #3956 "AmplifyDataStore Table Clarification"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
N/A

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.18.0

**What AWS Services are you utilizing?**
AppSync, Cognito, Lambda, DDB, S3

**Provide additional details e.g. code snippets**
What appears to

[2020-04-14 18:23] edwardfoyle commented on #3878
Hi @kldeb yes you are correct, you'll need to store the referralId with the customer. Unfortunately there's no great workaround to #3275 at this time. You might be able to get the behavior you want by putting a placeholder value for referralId in the customer record if there is no referralId for the customer:
[code]
When creating a customer without a referral, you can put a placeholder value in th

[2020-04-14 18:23] #3878 closed

[2020-04-14 19:07] jhockett commented on #3874
Hi @regenrek!

Let's look at the docs example first. When you ran the query from the docs, did you first create a user and a post to link together? I'm able to run the following mutations and queries ```amplify mock```:

[code]

Response:
[code]

Back to your example, I wasn't able to compile it without changes. The primary key definitions for Business and List reference the "createdAt" field, but

[2020-04-14 19:07] #3874 closed

[2020-04-14 19:23] saevarb commented on #3909
Just noting that in my previous comment I believed this to be limiting because I believed this was the only way to implement M-M connections. However, I was misled by the new docs as they had two sections, one of which uses keyName and another which does not.

[2020-04-14 19:30] saevarb commented on #3943
I believe this may because you have not enabled DataStore for your API. I had some similar issues.

Run `amplify update api` and there should be an option to enable DataStore, and then run `amplify push` -- your queries and such should be updated and the values should be created by the backend.

[2020-04-14 19:51] xitanggg opened #3957 "GraphQL Schema Transform Minor Bug in Resolver Logic"
**Describe the bug**
I create a schema for `account`, which stores `userId`, `fullName`, `email`.

At the `account` level, I gives
- Cognito `Admins Group` full CRUD permission
- AWS `iam` service full CRUD permission
- `Owner` him/herself RU permission (so owner can change `fullName` and `email`)

At the `userId` field, I gives
- `Owner` him/herself R permission (I don't want owner to be able to

[2020-04-14 20:03] xitanggg commented on #808
Another **gotya moment** had with Amplify.

[code]

Using the above at graphQL `parameter.json` disables `API Key` and lets me push through the cloud (note the file can get overwritten after `GraphQL schema compiled successfully.` when you do `amplify function push`. Be sure to add the above afterwards for a successful push.).

My use of API key is for local testing. I plan to disable it forever a

[2020-04-14 20:42] akshbhu commented on #3741
Closing this issue . If you are still stuck , you can respond and we will reopen the issue.

[2020-04-14 20:42] #3741 closed

[2020-04-14 21:40] edwardfoyle commented on #3941
@chakimar I haven't been able to repro this. If possible, can you provide repro steps starting from a new project? Also, can you upload your root stack CFN (located in `amplify/backend/awscloudformation/nested-cloudformation-stack.yml`). Or if it contains sensitive information you can email it to amplify-cli@amazon.com with this issue in the subject

[2020-04-14 21:44] #3428 closed

[2020-04-14 21:54] ammarkarachi commented on #3442
@alexkates you could create an environment without the triggers and then create a new environment off of that. Normally you would need to go through a trigger setup if you are cloning from an environment that already has one.

[2020-04-14 22:00] ajonp commented on #365
@mtliendo is there enough detail on this now that we could start working on the PR?

[2020-04-14 22:23] aprilmintacpineda opened #3959 "get query returns null but search query returns the correct record."
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

Search query will return one record, which is the record I am looking for

[code]

but get query will return null

[code]

**Amplify CLI Version**

4.18.0

**To Reproduce**

I am unsure how to reproduce this, it simply happened out of nowhere which is very weird...

**Expected behav

[2020-04-14 23:13] aprilmintacpineda commented on #3959
Look like the record is not in the DynamoDB because when I tried to find the ID, it did not return any records. I am unsure how that happened.

[2020-04-14 23:21] abrahamAlonzo commented on #288
Well, you can use` amplify pull`, select your project, and it will copy your configurations settings

[2020-04-14 23:46] edwardfoyle commented on #3959
@aprilmintacpineda Can you provide more detail about your project configuration or detailed repro steps if possible? Without more information, there's not much we can investigate.

[2020-04-14 23:59] sacrampton commented on #1406
Hi @amuresia - I'll have a go at answering this from my experience. I struggled with the problem you are referring to (GSI's). The core of the problem is that the CloudFormation template does not support "DependsOn" for GSI. You can define a DependsOn for the table operations, but not the GSI. I'm not hopeful that is going to get fixed any time soon as it fits between multiple groups at AWS to fix

[2020-04-15 01:11] aprilmintacpineda commented on #3959
@edwardfoyle I am very sorry but I also don't have enough details to figure out what may have happened and how to replicate it. The record was created last April 13 and I experienced the said issue on April 14 when I tried to get the record, I tried to figure it out before opening this issue and tried to ask around but couldn't find anything useful so I decided to open a ticket in hope that someon

[2020-04-15 01:34] apoorvmote commented on #3943
@saevarb I have enabled it and it doesn't work. Are you aware that amplify resolvers automatically add `owner`, `createdAt` & `updatedAt` field. But if you define them in your schema then you cannot leave it empty while submitting & hoping that amplify resolvers will fill in the details. This is across API & Datastore.

[2020-04-15 01:38] eliecer2000 opened #3961 "Manipulate environment variables for lambda functions"
Greetings, seeing that you do not modify an option in the CLI to be able to add the environment variables to each of my lambda functions, I saw the need to clone and modify the code, I already have the desired functionality in the option

`amplify function update`

[code]

I have tried it and it works, it is possible that someone else needs this, my question is what is the procedure to request the

[2020-04-15 01:49] bmilesp commented on #2458
I have remove Auth after a couple failed attempts. I had to pull then remove auth, then push to achieve this.

However i can't for the life of me remove these Functions via command line or otherwise:
[code]
Any ideas?

Thanks in advance!

[2020-04-15 01:54] pbishnupuri opened #3962 "Amplify pull creates duplicate files"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am on amplify 4.18.0 and every time I pull my app amplify pull --appId xxxxxxxxxxx, I get duplicate files. I have already given my terminal full disk access.
![image](https://user-images.githubusercontent.com/31415137/79290541-fab8e380-7e91-11ea-9bf1-7523ad6f8e4e.png)

**Amplify CL

[2020-04-15 02:14] kaustavghosh06 commented on #2458
@bmilesp Did you try `amplify function remove`?

[2020-04-15 08:00] shide1989 commented on #288
@abrahamAlonzo Yes but you won't be able to use a previously created UserPool, also note that `amplify pull` ovewrites your local configuration and Environment variables

[2020-04-15 09:26] apoorvmote opened #3964 "Cannot save AWSPhone into Datastore"
**Describe the bug**
My schema is
[code]
When I save phone number
[code]
Then I get following error

### "Variable 'mobileNumber' has an invalid value. Unable to parse `5089180293` as a valid phone number."

**Amplify CLI Version**
4.18.0

**Expected behavior**
It should save my number

**Desktop:**
 - OS: Ubuntu 18.04 on windows wsl2
 - Node Version. 12.16.2

[2020-04-15 13:27] bmilesp commented on #2458
@kaustavghosh06 that did it! Thank you!

[2020-04-15 13:52] starpebble commented on #3860
[bonsai.io](https://bonsai.io) hosts a free ElasticSearch endpoint.  It's kinda a little hacky though it can save money. Here's a little [code](https://github.com/starpebble/amplify-cli/tree/bonsai/packages/graphql-elasticsearch-transformer/streaming_lambda_bonsai).  The code examples modifying the DynamoDB event replicator that the amplify-cli creates for @searchable to replicate to Bonsai.io. Th

[2020-04-15 15:24] alexkates opened #3973 "Deployment and Downtime Clarification"
** Please describe which feature you have a question about? **
Deployments

** Provide additional details**
I have a few general question about deployments and downtime.
1. During the backend phase of the build when CloudFormation stacks are updating, what kind of downtime should I expect? Does it depend on the change set and services changing? Can you offer some information about how the main ser

[2020-04-15 16:14] brene commented on #3966
This seems to be a CLI issue. Transferring to track it there.

[2020-04-15 16:16] kaustavghosh06 commented on #3966
@kay-is Can you check if you're logged into the same AWS account and region as the one you're using to deploy your resources via the Amplify CLI?

[2020-04-15 16:51] oliverandersencox opened #3967 "AWSJSON update not working correctly"
**Describe the bug**
I have a model with the attribute 'timelines' set to the type   timelines: AWSJSON.

This field is designed to hold an array of objects.

When i create the initial object, everything works as it should do. I first stringify the bject and them push it to the database by updating the parent model table.. in this case 'Event'.

If I then change the object in any way, rather than

[2020-04-15 17:04] kay-is commented on #3966
I used the ~/.aws/credentials profile from Cloud9

[2020-04-15 17:20] edwardfoyle commented on #3964
Hi @apoorvmote based on the documentation [here](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html) it looks like AWSPhone expects the string to be "whitespace delimited or hyphenated". Can you see if that works?

[2020-04-15 17:20] kaustavghosh06 commented on #3966
In your `amplify/team-provider-info.json` for your env do you see a a key called `AmplifyAppId`?

[2020-04-15 17:46] edwardfoyle commented on #3956
Hi @alexkates this table is used for the "Delta Sync" feature of DataStore to manage conflicts. There is some information on it in our docs [here](https://aws-amplify.github.io/docs/js/datastore#how-it-works)

[2020-04-15 18:01] edwardfoyle commented on #3939
Hi @subhendukundu I think you will either need to use a [custom resolver](https://aws-amplify.github.io/docs/js/datastore#how-it-works) or execute two queries and perform some logic on the client to get the data you need.

Either way the logic is the same: you'll need to run one query to get all the events the user has already requested and another to get all events. Then do a set subtraction to g

[2020-04-15 18:10] ericclemmons opened #3969 "amplify pull - dest already exists"
**Describe the bug**

`amplify pull` then <kbd>Ctrl-C</kbd>'ing out of the process leaves both `amplify` and `amplify-backup` folders, so `amplify pull` a second time returns:

[code]

**Amplify CLI Version**

`4.13.3`

**To Reproduce**

1. `amplify pull`
1. <kbd>Ctrl-C</kbd> during the project selection screen.
1. `amplify pull`

**Expected behavior**

Cleanup on `SIGINT`.

**Desktop (please comp

[2020-04-15 18:46] lawmicha opened #3971 "Codegen for iOS AppSync creates incorrect GraphQL document for maximum depth 2"
**Describe the bug**

The schema is a User model with [Post] model.
[code]

in Amplify CLI 4.12.0 (current version installed on my system). `amplify add api`, `amplify push` and choosing max depth of 2 is generating correct selection set in the API.swift file used for AppSyncClient. See https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/376#issuecomment-613717842 for more context

in 4.1

[2020-04-15 19:09] lawmicha commented on #3390
Thanks @smakinson for posting your details. I'm not very familar with those files you are asking about in your questions. + @SwaySway et al to help answer

[2020-04-15 19:35] edwardfoyle commented on #3961
Hi @eliecer2000 this is something in our backlog that we want to support. If you would like to contribute a PR for it, you can read our PR guidelines [here](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTING.md#pull-requests)

[2020-04-15 19:39] edwardfoyle commented on #3959
@aprilmintacpineda Yes please let us know if you find any more details. A few questions that may help us debug:
1. Did this only happen once or it happens every time with that id?
2. Has it happened with other records, or just that one?
3. Was there ever a duplicate of this record entered or a record that was deleted and then another added with the same id?

[2020-04-15 19:51] oliverandersencox commented on #3967
@SwaySway I take it back, it now seems that any array child of a parent model, when updated will duplicate the current values in the array. Any child on my event Model which is an sarray of types is doing it now. This is with parts of the code I havent even touched.

All network calls show the data being handed over is correct. For example if the current event.info field is ['test'] and I run the

[2020-04-15 20:07] SwaySway commented on #3058
Closing as a duplicate of #3390

[2020-04-15 20:07] #3058 closed

[2020-04-15 20:36] brene commented on #3961
hi @eliecer2000 - just providing a couple of comments here. I'm unsure if having this as a guided CLI flow is the fastest and most unintuitive developer experience. My proposal for this:
in `amplify add function` at the end we provide a prompt saying
[code]

In addition when users want to invoke, they choose to override the extraction of env variables by providing this parameter:
[code]

This way,

[2020-04-15 20:50] edwardfoyle commented on #3967
@oliverandersencox could you share your schema and the update operations you are executing?
With the following schema:
[code]
If I execute CreateItem and then UpdateItem
[code]
The response after the UpdateItem is
[code]
which seems to be as expected

[2020-04-15 20:56] #3772 closed

[2020-04-15 20:59] stevelizcano commented on #3823
This issue is still going on, in 4.18 if I init a new amplify function, edit nothing,  push it to the cloud, it errors and says "CustomMessage failed with error index.handler is undefined or not exported."

[2020-04-15 21:11] oliverandersencox commented on #3967
@edwardfoyle I did exactly that and i ended up with:

[code]

Any ideas as to how this is possible?

[2020-04-15 21:13] oliverandersencox commented on #3967
My event schema (There are over 15 schema files:

[code]

[2020-04-15 21:18] oliverandersencox commented on #3967
@edwardfoyle is seems to be any array nesting which is having this issue, and this is with every single model in my schema!

[2020-04-15 21:27] eliecer2000 commented on #3961
It is an excellent idea, but in that case the code that performs the push should be changed, since with the modifications that have been made the desired values ​​are placed in the file functionName-cloudformation-template.json that contains the data for the creation of the function.

[2020-04-15 21:45] edwardfoyle commented on #3967
@oliverandersencox Can you send the schema of the model that includes the AWSJSON datatype and the exact graphql mutation that you are executing?

[2020-04-15 21:51] lawmicha opened #3975 "How to add access to API for Cognito Identity Pool via Amplify CLI?"
**Which Category is your question related to?**
API, Auth

**Amplify CLI Version**
`4.18.0`

**What AWS Services are you utilizing?**
AppSync, Cognito

**Provide additional details e.g. code snippets**
1. `amplify add api`, choose IAM, and `amplify push`
[code]

2. `amplify add auth`, choose a few default configuration.

3. `amplify push` to create the AppSync backend and Cognito User Pool/Identit

[2020-04-15 21:54] oliverandersencox commented on #3967
as stated above, its not specific to AWSJSON. I am experiencing it on every single array value within a model.

const input {
     id: ******,
     timelines: [{ id: *****, title: 'title' }],
    updatedAt: ******
}

`await this.amplify.api().graphql(graphqlOperation(updateEvent, { input }));`

[code]

The Event schema above, any of those arrays have the same problem when trying to update using th

[2020-04-15 21:55] edwardfoyle commented on #3974
Hi @2manoj1 You can set up an Express lambda function using [`amplify function add`](https://docs.amplify.aws/cli/function). When picking your runtime, select NodeJS (the default) and then when picking your template, select "serverless." This will set up a bare-bones Express lambda that you can modify to your needs. If you want to connect this lambda to a REST API, you can add that using [`amplify

[2020-04-15 21:55] oliverandersencox commented on #3967
also happening if i try and update the field: extraInfo: [AccordionData]

[2020-04-15 22:12] kaustavghosh06 commented on #3975
What's your use case out here?
Is it giving unuathneticated access to customers for your AppSync API?

[2020-04-15 22:14] kaustavghosh06 commented on #3975
The granularity that you're looking for could be solved by @auth directive which works with Cognito user pool auth type. Out there you can define field level auth rules and accomplish the use-case that you've described above.

[2020-04-15 22:20] edwardfoyle commented on #3967
@oliverandersencox I'm still unable to reproduce this behavior. I've tried with the following schema and every mutation operation I've tried produces the expected array output
[code]
Was it working as expected before and just started behaving this way? If so, did you change anything about your models between when it was and wasn't working?

[2020-04-15 22:26] oliverandersencox commented on #3967
I had to delete my entire api 2 days ago and redeployed using the exact same schema, and yes it was all working fine before this.

[2020-04-15 22:48] edwardfoyle commented on #3967
The behavior you're seeing seems to be consistent with the [list_append option in DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html#Expressions.UpdateExpressions.SET.UpdatingListElements) but I have no idea how that would be getting into your resolvers. Can you see if the string "list_append" is found anywhere in your amplify folder and i

[2020-04-15 22:53] oliverandersencox commented on #3967
I thought this as well, and so looked at the build folder in amplify at the mutation update resolvers and can't see anything like this, and running a search for 'list_append' comes up empty.

It has to be a resolve or dyanmo itself due the to fact I've checked countless time, both the input data for the query and the query post within the network tab in chrome and they are always correct.

If i tr

[2020-04-15 23:14] brene commented on #3961
Yeah - that's actually a good point.
My opinion if it's in amplify.env, we should take those vars and push it (as you suggest).
if it's passed in --env-vars then it's completely remains local.

Thoughts?

[2020-04-15 23:17] reefloretto commented on #3823
getting the same error as @stevelizcano

[2020-04-15 23:21] nikhname commented on #3823
@stevelizcano @reefloretto This is a known issue that we have a fix for (https://github.com/aws-amplify/amplify-cli/pull/3928), it is pending a release. As a workaround you can move the index.js file to your src folder and do a push.

[2020-04-15 23:39] lawmicha commented on #3975
hey @kaustavghosh06 thanks for replying. In general, i'm just trying to understand how to use IAM auth as the mode of authentication from an app. It sounds like @auth directive has what I need. Let me try this out and see if we can improve the example schemas that can be chosen as part of the `amplify add api` flow. i'll also re-verify that using @auth with iam provider will probably fail at `ampl

[2020-04-15 23:45] kaustavghosh06 opened #3977 "RFC: Importing Existing AWS Resources to Amplify Project using the Amplify CLI"
Currently, the CLI provisions new AWS resources based on the categories that you add to your Amplify project.
This RFC is to gauge community interest and hear more thoughts around the CLI being able to import existing resources into an Amplify project.

As an MVP, we’re planning to support importing of resources in the following categories:

* Auth
* Storage (S3 & DDB)
* API - REST and GraphQL (to

[2020-04-16 00:33] akshbhu commented on #3921
Hi @varunpsr

 For the workaround you can name the types with length <=21 chars.
By the time I will fix this issue. Thanks for reporting this.

[2020-04-16 00:48] andrewbtp commented on #3977
How would this play out across environments? If I add a bucket `im-a-bucket` to env `test`, if I create a new env `prod`, does it hit the same bucket or create a new bucket?

Though I hopefully won't need it, I'm a big fan of this RFC.

[2020-04-16 01:53] apoorvmote commented on #3964
I updated from `@aws-amplify/datastore` version 2.0.7 to 2.08 and it started working without whitesapce delimiter or hyphen

[2020-04-16 01:53] #3964 closed

[2020-04-16 03:07] SwaySway commented on #3390
Hello @smakinson,
Your API specific changes in `backend-config.js` and `myApi-cloudformation-template.json` are changed when you run `amplify update API`.

The docs here specify a way to get the user pool id into another stack. What you are looking for is the UserPoolArn. For that you'll need to import will be different, I've detailed this below.

You'll need to use a different ref for the ARN suc

[2020-04-16 04:02] hisham commented on #3977
Will you be able to add resources in other regions or will it be limited as same data center as the amplify env?

[2020-04-16 05:27] apoorvmote commented on #3943
In recent update of `@aws-amplify/datestore` from 2.0.7 to 2.0.8 the issue has fixed itself.

[2020-04-16 05:27] #3943 closed

[2020-04-16 06:24] jagadishallakanti commented on #3977
I interested in auth import interms of 2 different web application using same single cognito pool. one being a admin app and other being a consumer app. It would be great if we could get this feature.

[2020-04-16 07:50] TLaue commented on #3977
We are currently already using AWS Amplify with existing resources (e.g. Cognito User Pool) by adding manually created config files which are included by our CI/CD pipeline depending on the relevant stage. It works but I would really prefer a way which is natively supported by AWS Amplify CLI.

Furthermore I would really love to include existing AppSync apis even though this might be a bigger task

[2020-04-16 08:14] RossWilliams commented on #3977
I’m not in favour of this feature, and I’d rather see this supported through solid documentation and exposing users to a bit of plumbing.

Main reasons:
- The documentation will help users who don’t need this specific feature to better understand the cli and how it interacts with cloud formation
- Documentation around internal plumbing can help more community members contribute to the project
- Th

[2020-04-16 10:55] cesiztel commented on #3977
I am really happy that you guys are considering this feature 🔥. In short, my opinion is that this feature can increase the number of projects and developers which adopt AWS Amplify. My reasons are:

- In frontend teams of specially big corps (where the AWS services are heavily used), they are more reluctant to use Amplify because they can not integrate easily (natively) the existing services from

[2020-04-16 11:29] eliecer2000 commented on #3961
excuse my ignorance on the subject, but I really do not have the knowledge of how the procedure is, I did a git clone, I do not know if I should have done a fork, anyway I would like someone to check it before doing a PR, you could Lean on that? Would you like to take a look?

thk

[2020-04-16 12:31] asmajlovicmars commented on #3977
This would be perfect, as long as it's robust enough to never delete the existing Auth if there's a reference to it from another project. We're planning to add several applications around a single Cognito User Pool, which serves as SSO, and being able to attach the existing Auth is exactly what we need. I second the question how would this work across different envs?

[2020-04-16 12:49] Johnniexson commented on #3977
Yea, this will be very useful for me, and will ease the stress of manually setting the config file to use existing resources. 👍

[2020-04-16 13:01] smakinson commented on #3390
@SwaySway Thank you for your help. I currently have manually setup an api for this, do you think its worth (risky?) going this route or would it be better to wait on the feature request and change it then?

[2020-04-16 13:18] oliverandersencox commented on #3967
I have tried again all morning to figure this out, and no luck.

I Have now send an entire event object to the update method, which should replace every value in the current event, with the new one. It does indeed, however, still, for any arrays it is appending them.

The input object being passed to the update method is completely new
The network call shows this exact object being sent to amplify

[2020-04-16 13:37] oliverandersencox commented on #3967
it seems this issue is effecting everything. Now i have a simple field under 'Event' called 'checklist' which has a title and 'listItems' array of strings:

I updated this with  values in the array.. and this is the network call from inspecting in chrome:

[code]

Yet the database does not change, the value under listitems is null!

i havent touched the resolvers and so I cant understand this beha

[2020-04-16 14:01] 2manoj1 commented on #3229
@UnleashedMind problem resolved for me.

[2020-04-16 14:03] zakirbaytar commented on #3265
This works perfectly for manual push. Is there any way I can minify function directive stack before auto builds?

**My current build settings:**

[code]

I couldn't figure out a way to implement temporary fix to auto builds, so I just left the helper script as it is. Any help is appreciated.

[2020-04-16 14:43] kjetilge opened #3979 "authPreSignup default function fails"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
After adding the auth authPreSignup signup failes with error: CustomMessage failed with error index.handler is undefined or not exported. (In broeser)

When running amplify mock authPreSignup it failes with error:
[code]

CustomMessage failed with error index.handler is undefined or

[2020-04-16 14:52] andreialecu opened #3980 "@auth with multiple ownerField"
**Which Category is your question related to?**

auth

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

4.18.0

**What AWS Services are you utilizing?**

appsync + cognito

**Provide additional details e.g. code snippets**

We're running into an issue with allowing two separate users access over a single model. This is the schema:

[code]

The main

[2020-04-16 15:02] BeaveArony commented on #3977
### Wonderful news!
It took me quite some time in January to include an existing UserPool in a project in my company. The cloud is managed by terraform and setup manually. Every environment is in a different account and I do not have permissions to use `amplify push`. The people in charge are very skeptical about this kind of automation and are afraid, that Amplify would delete or change something

[2020-04-16 15:09] RickB17 commented on #3969
+1 experiencing the same issue while attempting to re-build my development environment on Cloud9.

[2020-04-16 15:56] shanmukhm commented on #703
Hey guys! When can we expect support for lambda layers in amplify-cli?

[2020-04-16 16:07] abrahamAlonzo commented on #401
you can access to them, but you must first add to your model like:
[code]
if you want to make queries using time intervarls for example, you must follow the next docs

https://aws-amplify.github.io/docs/cli-toolchain/graphql#how-to-use-key

[2020-04-16 16:07] andreialecu commented on #3980
Upon further investigation, it seems even after removing all `@auth` directives from the model the error persists.

I think `amplify push` is not updating cloud AWS resources properly even though it detects changes and succeeds in pushing:

[code]

[2020-04-16 16:26] vdumouchel commented on #3977
Hello guys!

Had a mid size project on amplify pushing to dynamo DB tables.  Had to play in my graphql schema to change connections between types and this introduced a secondary index error on a table upon doing amplify push... tried reverting back by pushing the schema I had prior to my connections modifications instead and now I have big rollback errors many tables in dynamo db.  Hard to know wh

[2020-04-16 16:45] varunpsr commented on #3921
Glad I could be of help.

[2020-04-16 16:51] andreialecu commented on #3980
Update:

It looks like the Resolver for `Mutation.deleteFriend` as per the AppSync console does not match the contents of `amplify/backend/api/xyz/build/resolvers/Mutation.deleteFriend.req.vtl` and is never being updated even though modifying the schema and pushing it results in a bunch of cloudformation updates being completed properly.

The contents of the resolver on AppSync is the same as the

[2020-04-16 17:02] kay-is opened #3981 "Make CLI commands atomic"
**Is your feature request related to a problem? Please describe.**

I ran `amplify add auth` and then tried to add reCaptcha. I canceled the process (ctrl+c) when it asked me for my reCaptcha API key, because I didn't have one. In the end there were still new files in my `amplify` directory.

**Describe the solution you'd like**

Would be cool if the CLI just wrote files when it successfully compl

[2020-04-16 17:07] edwardfoyle commented on #3967
@oliverandersencox this is really strange and if there's no mention of list_append in your resolvers, I don't think there's much the CLI can help you with. I think it may be some issue in AppSync itself. I can cut a ticket to them on your behalf if you send the following information to amplify-cli@amazon.com:
1. Your AWS account ID
2. The GraphQL API ID
3. The AWS region of the API
4. Any request

[2020-04-16 17:12] oliverandersencox commented on #3967
@edwardfoyle thanks, email sent!

[2020-04-16 17:21] andreialecu commented on #3980
Looks like this was again related to the path saved in `amplify/.config/local-env-info.json/projectPath` after creating a copy of the project.

The project was copied to a new directory but the path in the configuration json remained the old one.

Please do something to validate whether the path is correct at least for the current project when the `amplify` cli is called, if it cannot be automatic

[2020-04-16 17:21] #3980 closed

[2020-04-16 17:22] andreialecu commented on #3901
Got hit by this bug again in a different scenario here: https://github.com/aws-amplify/amplify-cli/issues/3980#issuecomment-614770114

[2020-04-16 17:28] edwardfoyle commented on #3967
Okay I've sent a ticket to AppSync. If you can't zip your whole project, can you send a zip of just your update request resolvers (located in `amplify/backend/api/<apiName>/build/resolvers`). They'll be named `Mutation.update<Entity>.req.vtl`

[2020-04-16 17:40] edwardfoyle commented on #3961
Hi @eliecer2000 no worries. You'll need to create a fork of the CLI repo in your GitHub account. Then pull that repo and make the changes. Once everything looks good and you have written tests for it (both unit tests and end-to-end tests which you can find information about [here](https://github.com/aws-amplify/amplify-cli/tree/master/packages/amplify-e2e-tests)) you can publish a PR. If you want

[2020-04-16 17:44] edwardfoyle commented on #3979
This is fixed by #3928. We are planning to do a release that includes this change by the end of the week

[2020-04-16 17:53] RossWilliams commented on #3977
@vdumouchel

You likely have a GSIs created on dynamo tables from the first push failure. When a GSI change fails in DynamoDB, CloudFormation will not roll it back for you, it must be done manually. You need to use the API or console to remove the created GSIs so that you tables match your last-known good schema. Then be careful and make sure each push only changes 1 GSI per table going forward. T

[2020-04-16 18:26] #3008 closed

[2020-04-16 18:37] alexkates commented on #3973
Thanks everyone, that's all the clarification I was looking for!

[2020-04-16 18:44] oliverandersencox commented on #3967
@edwardfoyle I have just sent a zip with those update resolvers in

[2020-04-16 19:01] dorontal commented on #3775
Hello, I am not sure if we need to reopen this issue, but I have had an almost identical issue with version 4.18.0.  Here is a transcript:
[code]

[2020-04-16 19:22] krunde commented on #401
I just hit this issue myself. I agree with what others have said. Do we have any update on a possible fix timeline?

[2020-04-16 19:31] iartemiev opened #3982 "Transfer from JS Discussions - I have been using multiple environments with amplify for a while now and there's one thing that bugs me. I'll illustrate this point with an example:"
I have been using multiple environments with amplify for a while now and there's one thing that bugs me. I'll illustrate this point with an example:
Suppose you have a master and dev environment with amplify and a dev and master branch on git. The environments have both been initialized properly and do not have any resources associated with them. Now suppose I want to add an Auth resource on the d

[2020-04-16 20:07] raphkim commented on #3586
Requires the following imports:

[code]

`List` and `Objects` import may or may not be used by a non-model type, but if any property is list, then `List` dependency is required, and if any property is mandated, then `Objects` dependency is required.

[2020-04-16 21:01] mkmurali commented on #3892
I could get the build working by locally updating the runtime.js file directly to fix the path, on mac. Didn't get a chance to fully all other options, so will create a PR once ready. But if you want to try, you may try these changes: https://github.com/mkmurali/amplify-cli/commit/977e7756709a790bd685c9fb4815838956d24db2

[2020-04-16 21:35] guptapuja7 commented on #3922
even i get the same error

[2020-04-16 21:38] guptapuja7 commented on #972
while doing amplify init i get this error C02ZM0TFLVCG:researchdata C300738$ amplify init
Note: It is recommended to run this command from the root of your app directory
? Enter a name for the project researchdata
? Enter a name for the environment dev
? Choose your default editor: Visual Studio Code
? Choose the type of app that you're building javascript
Please tell us about your project
? What

[2020-04-16 22:24] askpatrickw commented on #1923
Hi @kaustavghosh06 I assume you closed this because the original poster didn't reply. I think you should re-open this request.

At a minimum, If this is a best practice please add it to the documentation. https://aws-amplify.github.io/docs/js/storage

## Question
You mention that permissions can be managed at the partition level. Can you explain how that is done with Amplify? I believe you can onl

[2020-04-16 22:50] edwardfoyle commented on #3914
Hi @helloniklas are the dynamodb tables you are trying to access the ones generated by the @model annotations in your API schema? If so, you need to select the following options in the `amplify add function` flow:
[code]
Then you should be prompted to chose your API and then chose the specific model table you want your lambda to be triggered off of. Let me know if that's what you're looking for!

[2020-04-16 23:16] Graig123git commented on #3120
can the @auth directive be used with AppSync Auroura ?

[2020-04-16 23:18] Graig123git commented on #3751
@sirceljm Did you figure this out?

[2020-04-17 00:23] kennandavison commented on #2738
+1

[2020-04-17 00:32] askpatrickw opened #3983 "Enable API Gateway Logging when using amplify api add"
**Describe the solution you'd like**
CloudWatch logging is not enabled after creating an API using amplify api add.

**Describe alternatives you've considered**
Doing it manually after the fact. :-(
https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-logging.html

**Additional context**
The API I created was a REST API fronting a Python Lambda.
Note: The Lambda logging is enabled.

[2020-04-17 00:36] houmark opened #3984 "Amplify daily downtime"
Recently we have seen downtime lasting 2-15 minutes on the GraphQL / API Gateway / DynamoDB queries where we just get a `null` result for a normal query when we expect a list of results. Not sure where it happens, logs were not helpful, but maybe I am not looking the right places.

This seems to affect our production environment more than anything else, as our development environment will actually

[2020-04-17 02:44] houmark commented on #3973
As everyone said, and just a tip if you didn't think of it. Make sure you don't delete resources in one deployment that your current frontend code depends on / uses, then you can have zero downtime. Deprecate and remove fully in a later deployment when you are sure everyone is on the new frontend version.

[2020-04-17 03:03] houmark commented on #3982
I've noticed a similar situation, but have no better way of doing it. And I have actually had situations where master would not pick up the new resource and do the push without, leading into errors. Moving between the environments normally fixes it, but this should be possible to handle better by the CLI.

[2020-04-17 06:16] christodupreez opened #3986 "How can I add a Global Secondary Index to an Existing Table containing data"
**Which Category is your question related to?**

amplify push

**Amplify CLI Version**

3.9.0

**What AWS Services are you utilizing?**

Api

**Provide additional details e.g. code snippets**

schema.graphql

BEFORE

[code]

AFTER

[code]

ERROR

Attempting to add a local secondary index to the IndustryTable table in the Industry stack. Local secondary indexes must be created when the table is cre

[2020-04-17 08:16] dconlon-monigo commented on #3064
The patch above does not fully solve this problem. It only propagates permissions 1-level, not arbitrary levels deep.
For those folks affected the workaround is to annotate with the permissions you want to cascade down,

So far I haven't seen any downsides, so I recommend annotating every type without a model with all of the auth mechanisms you use for your API (until of course the patch is extend

[2020-04-17 10:08] helloniklas commented on #3914
@edwardfoyle hm that works nicely now... not sure why this didn't work before... thanks.

One other thing though. It asks if I want to edit the local lambda function now. If I say yes and edit the file trigger-dynamodb.js. This gets uploaded when I push. But, the lambda is not set to use this function by default but rather then index.js file... So I still manually have to edit this in the lambda c

[2020-04-17 11:05] alexkates commented on #3973
Great tip. Thanks!

[2020-04-17 12:12] justinsamuel92 commented on #1801
I need London!

[2020-04-17 12:44] mdepascale opened #3988 "RDS role already exists in stack"
**Describe the bug**
While pushing into the cloud amplify tries to create an already created role

**Amplify CLI Version**
4.17.2

**To Reproduce**
- any changes to the rds autogenerated CF template
- amplify push

**Expected behavior**
amplify push doesn't create any existing role

**Screenshots**
`CREATE_FAILED      RelationalDatabaseAccessRole    AWS::IAM::Role                      Fri Apr 17 2

[2020-04-17 12:48] oliverandersencox commented on #3967
@edwardfoyle is there any update on this? Thanks

[2020-04-17 13:20] ashishlata opened #3989 "amplify push error"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

**Amplify CLI Version**
4.17.2

You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
amplify

**Provide additional details e.g. code snippets**
<img width="468" alt="Capture1" src="https://

[2020-04-17 14:06] sirceljm commented on #3751
@Graig123git No, I quess just have to wait for the feature to get implemented.

[2020-04-17 15:32] alexkates commented on #32
This is something I'm wrapping my head around also. My current thought is to add a `network` category via https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks, and provision a VPC, Subnets, Security Groups, Route Tables, IGWs, etc. This will give me those resources for each environment, and allow me to link my functions to that VPC via Refs.

I was hoping that s

[2020-04-17 16:00] clahoud commented on #3664
@yuth Just ran into same issue. This happens in my case if in a mutation to update the record, the fields that constitute the composite key are not included in the input. Manually changing like below solves the issue.

<pre>
#set( $hasSeenSomeKeyArg = false )
<b>#set( $hasSeenAllKeyArg = true )</b>
#set( $keyFieldNames = ["status", "fromDate"] )
#foreach( $keyFieldName in $keyFieldNames )
#if( $ct

[2020-04-17 16:26] edwardfoyle commented on #3986
Hi @christodupreez The schema you have above should create a GSI. Can you try updating to the latest version of the CLI (4.18.0) and trying again?

[2020-04-17 16:39] edwardfoyle commented on #3989
@ashishlata when you check your function folder do you have 0 or multiple cloudformation templates in there? Can you try updating to the latest version of the CLI and creating the function again?

[2020-04-17 17:06] edwardfoyle commented on #3967
No haven't heard anything back and I didn't see anything suspicious in your resolvers that you sent. I did see there is some usage of the [ADD DynamoDB operation](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html#Expressions.UpdateExpressions.ADD) in your resolvers but it doesn't look like that codepath would ever be executed and I also have the AD

[2020-04-17 17:25] BeaveArony commented on #3977
@vdumouchel
@RossWilliams is spot on. Do NOT push changes where you change more than one `@connection` or `@key`.

I would suggest to always only experiment in a different environment, but make sure to only incrementally merge the changes to the main branch.

### Renaming trick

One 'trick' I use when I get into this situation and don't want to create a new environment is to simply rename all thos

[2020-04-17 17:26] edwardfoyle commented on #3984
@houmark Do you see any failures in the metrics for AppSync, API Gateway or DynamoDB? You can view the metrics by going to the AWS Console -> CloudWatch -> Metrics -> then pick the service to see metrics available for that service.

Are you getting a null response for GraphQL queries, REST API queries or both? And what is the timeframe of the failures?

[2020-04-17 17:34] Johnniexson commented on #3977
Hmmm... This is a dope idea, i will give it a try also

[2020-04-17 17:40] edwardfoyle commented on #3914
@helloniklas Just tried it out and looks like that behavior is a bug. The template creates `src/index.js` which is correct but the editor dialog opens `src/trigger-dynamodb.js` which is incorrect. While we're working on a fix, you can get around the issue by opening `src/index.js` manually and editing your trigger from there.

[2020-04-17 17:48] edwardfoyle commented on #2203
This feature was implemented by @ambientlight in #2463 and is available in the latest version of the CLI

[2020-04-17 17:48] #2203 closed

[2020-04-17 18:26] loganpowell commented on #82
Is there a best practice that's been settled on yet for this error?

😅

[2020-04-17 18:57] MattWlodarski commented on #3664
Hey thanks @clahoud !! That makes sense. Those fields are required for a create mutation but not for an update mutation.

[2020-04-17 18:59] BennettSmith commented on #1194
This issue is closed, but seems to remain for many of us.  I am running the Amplify CLI version 4.18.0 and run into this issue on each and every switch between environments.

@dabit3, I'm wondering if you could offer any suggestions for how we can get multi-environment deployments to work reliably without continually risking messing up these cloudformation templates.

[2020-04-17 19:01] hisham commented on #1194
Yes I agree. Still seeing this issue, and git changes whenever I deploy to different env is annoying.

[2020-04-17 19:02] jingxizhang commented on #3497
I am having the same 403 forbidden issue as reported by @amuresia. My graphql schema models all have static Cognito group authorization (@auth(rules: [{ allow: groups, groups: ["Admin", "Engineer", ...]})). The S3 storage was created by using Amplify Cli "amplify add storage". The access restriction is by individual groups and a lambda trigger is also added:

? Restrict access by? Individual Group

[2020-04-17 19:07] MontoyaAndres commented on #3148
I'm having this issue with an existing table created

https://github.com/aws-amplify/amplify-js/discussions/5441

[2020-04-17 19:25] #3853 closed

[2020-04-17 20:44] richardmcclellan opened #3993 "[codegen] Output path for generated Android models is hardcoded to `app`, which breaks if module name is anything else."
**Is your feature request related to a problem? Please describe.**
Running `amplify codegen models` for an Android project outputs generated files to
the `app/src/main/java/` directory ([hardcoded here](https://github.com/aws-amplify/amplify-cli/blob/74281cc541f3226db3cc47ed37c1b70f7d7880a6/packages/amplify-codegen/src/commands/models.js#L108)).   If your module name is something other than the de

[2020-04-17 22:12] ryudice commented on #1688
It's happening to me as well

[2020-04-17 23:38] Graig123git commented on #3751
I think its important to get this feature in, @sirceljm are u using custom resolvers to check auth or did you use another medium? right now i am using lambda resolvers to check if a user is authorize to access the aurora db models  but am wondering if there is a better way to do this at the moment.

[2020-04-17 23:55] sacrampton commented on #3796
Hi @kaustavghosh06 / @ammarkarachi - can I get an update on this critical bug. It means that anyone that is using ElasticSearch cannot properly implement DataStore which is a HUGE issue and has my progress toward implementing DataStore and releasing my product into the market is dead in its tracks.

There are issues, then there are critical issues - its hard to get a more critical issue than killi

[2020-04-18 01:37] AbirAbbas opened #3995 "Mock Node ExpressJs function always returns null"
event object = {
  "httpMethod": "GET",
  "body": "{\"name\": \"Amplify\"}",
  "path": "/test",
  "resource": "/{proxy+}",
  "queryStringParameters": {}
}

app.js get method =

/**********************
 * Example get method *
 **********************/

app.get("/test", function (req, res) {
  // Add your code here
  console.log("test");
  res.json({ success: "get call succeed!", url: req.url });
});

[2020-04-18 04:04] okigan opened #3996 "amplify init fails to ask for type of app"
**Describe the bug**
When running locally amplify init in a fresh Create React App project the cli fails on the Choose the type of app that you're building-question.

**Amplify CLI Version**
4.18.0

**To Reproduce**
`npx amplify init`

**Expected behavior**
Shall be able to select app type

**Screenshots**
`
? Choose the type of app that you're building (Use arrow keys)
(node:70100) UnhandledPromi

[2020-04-18 04:15] julescsv commented on #1703
@mikeparisstuff @kaustavghosh06
Running into the same issue.
`@connection(keyName: "reservationByOffer", fields: ["id"], limit: 1000)`
still limited to 10 items.

[2020-04-18 08:17] kylekirkby opened #3997 "Multiple custom Mutations not triggering Lambda function."
**Which Category is your question related to?**
- API
- Functions

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
4.18.0

**What AWS Services are you utilizing?**

- Lambda
- AppSync GraphQL API

**Provide additional details e.g. code snippets**

Hi all,

I've been struggling to add a second custom Mutation in my GraphQL schema. These custom Mutat

[2020-04-18 08:40] raelmiu commented on #3796
I have the same issue as @sacrampton and I agree this is critical.

One question, how can I remove conflict resolution?

[2020-04-18 09:19] domezi commented on #3687
Same problem. Creating a new project without hyphens fixed it for me.

[2020-04-18 09:19] kimfucious opened #3998 "Correct syntax for event.json when mocking a PreSignUp triggered lambda function"
**Which Category is your question related to?**
Mocking Lambda functions

**Amplify CLI Version**
4.18

**What AWS Services are you utilizing?**
API, Auth, Functions, Storage, S3

Hi Amplify,

I'm trying to learn how to mock functions locally using Amplify, so that I can stop doing edit/push over and over, but I can't seem to find any good docs on the subject.

Starting "simple", I'm just trying t

[2020-04-18 09:35] domezi opened #3999 "CloudFront redirects to S3 bucket when trying to use own domain | Solution attached"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I run "amplify add hosting" and selected S3 and CloudFront. Then I ran "amplify publish".
The CloudFront distro was created successfuly and I was able to add a record in Route53. But when calling the Route53 url, I got redirected to the S3 static website bucket.
I fixed it by changin

[2020-04-18 10:05] domezi commented on #3969
+1 having the same issue, no fix yet

[2020-04-18 13:00] kylekirkby commented on #3997
So I got this working by changing my GraphQL schema as follows:

[code]
to

[code]

Is this intended behavior?  Hope this helps someone!

Cheers!

Kyle

[2020-04-18 13:38] shanmukhm commented on #2798
+1

[2020-04-18 16:54] kaustavghosh06 commented on #3996
@okigan The CLI doesn’t support npx as of yet. Please install the CLI globally using ‘npm install -g @aws-amplify/cli’ command and then run the amplify init command.

[2020-04-18 16:54] #3996 closed

[2020-04-18 20:46] 24jr commented on #1364
Whoops. Just had this problem and the failed ones were all real old but I hit continue rollback and after like 30 mins it still said in progress. Then I just decided they were so old I could probably just hit delete. Well I deleted my whole app accidently along with the 400 users I had gotten. Well there are good days and there's today. Time to restart. Be careful here

[2020-04-18 22:09] AbirAbbas commented on #3995
Any help would appreciated!

[2020-04-18 23:59] chantlong commented on #3404
Any updates on this?

[2020-04-19 00:00] brothatru commented on #3946
I removed the following profile from my **~./aws/config** file and things appear to be working again.

[code]

[2020-04-19 02:25] kennandavison opened #4001 "Aurora: MySQL vs Postgres Support"
Hi, moving over to AppSync and did a bit of testing of Aurora Serverless MySQL and Postgres!

`add-graphql-datasource` appears to only be supported partially by MySQL and not at all by Postgres. Decorator support (@model/@auth) is only available for DynamoDB, but with MySQL over Postgres you get the plus of editing schema.graphql locally + being able to push to AppSync and having resolvers autogen

[2020-04-19 02:28] gautamkshitij opened #4002 "Mock API not working with amplify-cli 4.18.0"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
I upgraded the amplify cli and the mock API isn't working anymore though If I use `curl` I still get a GraphQL response.

**Amplify CLI Version**
You can use `amplify -v` to check the amplify cli version on your system
`4.18.0`
**To

[2020-04-19 02:29] gautamkshitij commented on #4002
Same as this - though the recommended solution claims that this has been fixed in latest versions
https://github.com/aws-amplify/amplify-cli/issues/3435

[2020-04-19 02:43] gautamkshitij commented on #4002
Wait a minute - so this shows http://localhost:20002/ `graphiql` explorer and things work :| maybe just update the console.log output from `amplify mock API`?

Also - the default `auth ` was IAM - had to change it to the API key. The icon for that was hiding in a corner (spent almost 30 mins to find why the queries were not working - since I started getting
[code]
)

[2020-04-19 03:46] AbirAbbas commented on #3399
we can no longer use amplify function invoke to do this, this feature would be really useful for those of us who aren't using GraphQL!

[2020-04-19 09:36] RossWilliams commented on #3404
You can leave off the createdAt in the example, it’s not required

[2020-04-19 10:17] sceptyk commented on #1874
Hey @paulsson , any chance you could share your backend-config.json? Many thanks.

[2020-04-19 12:07] czaku opened #4003 "Clarification required - AppSync API vs DataStore - important coexistence question"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**

AppSync API and DataStore

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

latest

**What AWS Services are you utilizing?**

AppSync, Cognito, Amplify (+ DataStore)

**Provide additional details e.g.

[2020-04-19 15:05] givenm commented on #996
+1

[2020-04-19 15:19] abouroubi opened #4004 "Is it possible to have multiple Graphql APIs ?"
**Which Category is your question related to?**
AWS CLI

**Amplify CLI Version**
4.18.0

**What AWS Services are you utilizing?**
Amplify

**Provide additional details e.g. code snippets**
I'm trying to add a new API to my project, but it seems I'm limited to one, is this really the case ?
When running `amplify add api` I have this error `You already have an AppSync API in your project. Use the "a

[2020-04-19 16:38] taktran opened #4005 "Deleting an API, gives the error `Cannot read property 'awscloudformation' of undefined` when trying to push"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

I tried to remove an API, and when I try to push the changes, I keep getting the following error

[code]

**Amplify CLI Version**

[code]

**To Reproduce**

The steps I did to remove the API (called `graphql`) were

[code]

**Expected behavior**

Able to `amplify push` without an er

[2020-04-19 16:40] taktran commented on #4005
Is there a command I can run that will revert the changes?

[2020-04-19 19:32] jnathanh commented on #3892
@SwaySway The `bin` and `bin-local` directories don't exist right after the function is created, only after the first attempt to build. Deleting them then building again also gives the same error.

[2020-04-19 19:47] gautamkshitij commented on #556
I am on the same topic too! any solutions to that? Unless we implement ourselves using GraphQL lambda resolvers?

[2020-04-19 20:10] jnathanh commented on #3892
@mkmurali I tried using your fork with the same result as before, however I'm not confident that I executed it properly. How did you run amplify with your fork? I used this command: `npx -p amplify -c "amplify mock function helloworld" github:mkmurali/amplify-cli`

[2020-04-19 20:34] cyrfer commented on #3240
I want this tool to work for me but it really drives me crazy at times.

I wish I could get some insights at when the backend-config or team provider files are used in deployment. Today I found a critical feature that is barely documented, but I cant get it to work either.

@kaustavghosh06 you ask me to reply but you don't open the ticket. What should a developer  do to get support with the CLI wo

[2020-04-19 20:39] cyrfer commented on #1966
@moacirosa I got you.

@kaustavghosh06 I already submitted a simple fix in a PR but I've heard no feedback in 8 months.
https://github.com/aws/aws-sdk-js/pull/2797

[2020-04-19 21:37] cyrfer opened #4006 "how to get custom cloudformation to deploy"
**Which Category is your question related to?**
[Custom](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks)

**Amplify CLI Version**
[code]

**What AWS Services are you utilizing?**
Step Functions, AppSync, Lambda, etc

**Provide additional details e.g. code snippets**
I'm trying to pass the ARN of a Step Functions statemachine into a Lambda. This is way hard