[2021-07-29 20:23] davidjaldred commented on #3977
With API imports (hopefully) on the distant horizon, what is the current recommended way to add an existing AWS REST API to amplifyconfiguration.json so that everyone else in the team automatically has this config too? `amplify push` doesn't save it to the backend, so it's a manual task for everyone. I asked in the discord, but just wanted to check here too.

[2021-07-29 20:35] johnpc commented on #7831
is the only issue the logging? Or does this actually prevent you from being able to deploy the resources?

[2021-07-29 20:40] alex-unikorny commented on #7831
Just logging issue, I think is confusing.

[2021-07-29 20:41] johnpc commented on #7829
When you update schema.graphql, I do expect some changes to auto generated files.

Is it possible that different versions of the CLI were used at any point in what they were doing? The userPoolGroups change especially looks like there was a version change involved.

[2021-07-29 21:50] josefaidt commented on #7619
Hey @pcstory :wave: thanks for raising this! I was able to reproduce this with the latest version of the CLI using the same auth choices. A few other things I noticed:

- verification emails are sending without the allowlist configuration
- trigger is attached to the Cognito resource, filters appropriately
- removing auth does not remove allowlist pre-signup trigger
- unable to resend codes due to

[2021-07-29 22:14] houmark commented on #1865
While I appreciate all the alternative ways here, I don't see a solution without a lot of complexity that will allow returning counts for filtered queries (including when the query is sent to Elasticsearch). That is really what's needed in order to show a total result number even if only listing 20 items in a resultset for example. A global count is not really useful in many cases and attempting t

[2021-07-29 22:50] sacrampton commented on #1865
Hi Everyone - whilst I agree that totals should indeed be something out of the box - our solution is around ElasticSearch and I thought I'd share what we did because custom searchable resolvers have been really important for us to flexibly query and totals is just one benefit.

Firstly, we implement the security model in the resolver itself. For example we use dynamic auth, but do it in the resolv

[2021-07-30 00:32] matansagee opened #7835 "How to re-create auth flow?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)
My current auth support only signs in with email. I wish to sign in with SMS and by email.
To do that, I understand that I need to recreate the auth flow. However, I'm unable to remove the auth because of dependencies.

Would love to understand what should I do. Thanks!

**Which Category is your question relate

[2021-07-30 01:23] houmark commented on #1865
@sacrampton Now that looks like something useful and also something that has the potential to make it into the Amplify core. Thanks a lot for sharing!

[2021-07-30 01:25] matart15 commented on #7803
Yes everything was working except Admin UI data modeling.

1. `amplify codegen models` generated.
2. appSync queries and mutations were generated
3. I data and content menu on this image displays nothing.
![Screen Shot 2021-07-30 at 10 23 47](https://user-images.githubusercontent.com/17027219/127585786-13b114e6-3876-4724-b856-72b47fde43c8.png)

[2021-07-30 03:03] iyz91 commented on #7833
This happens even without adding any triggers after upgrading CLI to 5.2.0. Very frustrating seeing as it's a pretty front line thing to regress and can't change it once the user pool is created.

[2021-07-30 03:12] iyz91 commented on #7833
Downgrading cli to 5.1.2 solves the problem and creates the pool correctly.

[2021-07-30 03:51] iyz91 commented on #7666
I have this problem as well and once this becomes the case a user cannot receive the verification code to their email on sign up nor request it making Cognito unusable. In addition to the "MFA cannot be turned off if an SMS role is configured" error if trying to disable MFA, if the auto generate sns role is not create or deleted, then one cannot set the MFA to optional even.

![image](https://user

[2021-07-30 03:53] iyz91 commented on #7666
I believe this issue should be prioritized as it makes Cognito completely unusable and it's been open for 24 days as of this writing.

[2021-07-30 04:03] julien-tamade opened #7837 "Can't Run any Amplify Commands. Found '}' where a key name was expected"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-30 04:43] dn-l commented on #7737
@renebrandel possible alternative option for Nextjs applications - provide support of `next/image` hosted on Amplify https://nextjs.org/docs/basic-features/image-optimization

[2021-07-30 04:46] iyz91 commented on #7666
For anyone needing to revert the email verification/recovery settings in the meantime while the console and amplify cli still have their issues, you can use the update-user-pool command of cognito-idp in AWS CLI (or similar) to set the account-recovery-setting and auto-verified-attributes.

`aws cognito-idp update-user-pool --user-pool-id <user pool id> --auto-verified-attributes "email" --account

[2021-07-30 05:03] iyz91 opened #7839 "Auth - Setting Trigger Destroys Verification Settings"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-30 05:44] yuhui commented on #7772
Another AWS user has managed to delete the app with this problem, so I was not able to replicate the steps mentioned.

Given that the app has been deleted, for me, this problem is "resolved".

[2021-07-30 07:43] dcfranca commented on #7824
@josefaidt I have upgraded amplify to 5.2.1 and now I get the following error:

If I add `"test": true` to parameters.json of functionlexisPreSignup I get another error

Regarding your second question:
The function linked to the layer always was part of the deployment, a few months ago I have added this layer and attached it to the function... a week layer I decided to remove the layer, but since

[2021-07-30 09:25] AlessandroAnnini commented on #7680
I have the same problem, any news about this?

[2021-07-30 09:41] kgoyal98 opened #7840 "How to do a complex query in AWS Amplify?"
With Amplify API I am trying to implement something like a social network website. In the website, users can follow people and add posts. In the timeline, users can see the posts of people they follow.

Schema is something like this:

[code]

While implementing the timeline feature, I need to do a listPosts query.

[code]

Can somebody please help me with implementing the filter?
I asked this some

[2021-07-30 11:43] PeteDuncanson commented on #7546
Proposal 1: Backfilling - the title sounds like its going to allow for automatically populating the index if @searchable is added to an existing schema with data already in it. But then the text makes no mention of that. Can you confirm. The method to do that currently is very manual and easily over looked. Would love it if it was an option to reindex everything when added via the CLI.

Proposal 6

[2021-07-30 11:45] rajnikumari022 opened #7841 "storage.put is not working when retention period is on for the s3 bucket"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-30 13:28] studpeps opened #7842 "amplify-dynamodb-simulator : Async callback was not invoked within the timeout"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-30 16:21] josefaidt commented on #7839
Hey @iyz91 :wave: I was able to reproduce the behavior of the attribute switching from "Email" to "No verification" by updating my auth resource with a trigger. However, I was not able to reproduce the trigger resetting. Can you elaborate on that behavior?

Reproduction steps:

1. `amplify add auth`
2. Manual config
[code]
3. `amplify push -y`, Observe email is set as expected
![image](https://use

[2021-07-30 16:33] iyz91 commented on #7839
I just called 'aws cognito-idp update-user-pool --user-pool-id=<user pool id> --account-recovery-setting "RecoveryMechanisms=[{Priority=1,Name=verified_email}]"' and it reset the trigger field.

The only way that currently works is to call update-user-pool with all the fields specified at once.

[2021-07-30 16:50] jeanbaptistepriez opened #7844 "Access to pinpoint app id using cloudformation"
### Before opening, please confirm:

- [x] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-07-30 17:40] johnpc commented on #7787
generally speaking there is no way to “call” a lambda function. you can convert that resolver to be a [pipeline resolver](https://docs.aws.amazon.com/appsync/latest/devguide/pipeline-resolvers.html) where 1 stage in the pipeline (or more) can be a lambda invocation. I’m sure there are samples for appsync out there on this, not sure about CLI samples.

[2021-07-30 17:44] josefaidt commented on #7839
Thanks for the information! Just wanted to verify to make sure it wasn't reset by the Amplify CLI 🙂

[2021-07-30 17:49] johnpc commented on #7818
That would be why. When you reinstall amplify via npm, it's installing the and updating binary in your `npm root -g` directory. Unless `/usr/local/bin/amplify` is a properly configured symlink, your npm commands will have no effect.

You could try removing `/usr/local/bin/amplify` and making sure your npm root is in your $PATH

[2021-07-30 17:53] johnpc commented on #7835
You may need to `ampify remove api` before you can remove the auth

[2021-07-30 17:56] MedNabilEssefaihi commented on #7795
Dear @johnpc
Thank you for your answer

The error message is **Missing Authentification token **

![IMG_20210730_185533.jpg](https://user-images.githubusercontent.com/74948380/127693127-9d6d5470-4c51-4a04-94eb-e7d55a977f2a.jpg)

[2021-07-30 17:57] iyz91 commented on #7839
My pleasure and thank you as well. I'll comment back here if the CLI does reset it as well but it seems its some config issue within Cognito itself on top of the CLI issues.

[2021-07-30 17:58] johnpc commented on #7840
what have you tried? have you read [the documentation on graphql filters](https://docs.amplify.aws/lib/graphqlapi/query-data/q/platform/js#filtering-queries)? More detailed documentation can be found in [the AppSync docs](https://docs.aws.amazon.com/appsync/latest/devguide/using-your-api.html) as well

[2021-07-30 18:10] kgoyal98 commented on #7840
Yes I have read these.

I was thinking of first fetching all the followees of the user and then adding all of the followee user ids in an OR filter.

This had two problems
1. It needs two queries. It would be much simpler if we could do this directly in one call.
2. graphql listPosts query was not allowing to filter on connection field. Any user related field was not there in the generated code.

[2021-07-30 18:16] josefaidt commented on #7824
Hey @dcfranca for the auth trigger, can you see if stepping through `amplify update auth` resolves the parameters issue you're seeing? And for the layer do you remember what version of the CLI was used to create and attach the layer? There have been a few fixes and enhancements related to Lambda Layers over the past few releases, and I did find a similar issue that provides a [manual workaround](h

[2021-07-30 18:19] ninjaKris commented on #7666
I have been going insane trying to figure out why my email verifications weren't being sent. So far I've been using the amplify-cli to set up auth with a Post Confirmation trigger that adds users to a group. Ended up looking at Cognito, and sure enough, verification was set to None and I can't change it to email because `MFA cannot be turned off if an SMS role is configured`.

My MFA settings are

[2021-07-30 18:22] ninjaKris commented on #7839
@josefaidt I am able to reproduce the issue by setting the `Add users to group` in the Post Confirmation trigger via the client

[2021-07-30 18:30] iyz91 commented on #7666
@ninjaKris Same here... setting the right settings at the same time via CLI as I commented above does work as an interim solution.

[2021-07-30 18:34] josefaidt commented on #7839
Thank you for confirming you are also experiencing this issue and for providing those details, @ninjaKris!

[2021-07-30 19:14] jess010 commented on #7818
Got it, I am set with latest version now. Thanks @johnpc, this was extremely helpful!

[2021-07-30 19:14] #7818 closed

[2021-07-30 19:30] johnpc commented on #7794
eu-west-3 is a newer region and it's taken a while for all the services amplify depends on to add support for it.

Based on [the regional product services page](https://aws.amazon.com/about-aws/global-infrastructure/regional-product-services/) it looks like most of them have now. We would need to dig in a bit more in depth to verify, but at a glance the big ones are supported.

It may be possible

[2021-07-30 19:36] rudyhadoux commented on #7794
Yes BUT, it seems that CLI is the only way to set the region.
So now it is impossible to use eu-west-3 Amplify services.

[2021-07-30 19:46] josefaidt commented on #7837
Hey @julien-tamade :wave: thanks for raising this! I was unable to reproduce this with similar small changes to a GraphQL API. A few follow-up questions to better understand the context:

- do you experience this issue with only the changes made to your schema (not also the function)?
- do you notice any stray curly braces in your project's `amplify-meta.json`
- what kind of changes were made to t

[2021-07-30 19:54] johnpc commented on #7828
Have you looked at the [admin queries api](https://docs.amplify.aws/cli/auth/admin#admin-queries-api)? It may offer the functionality you need.

If not, for now you can manually add the action to the policy. However, it will go away next time you call `amplify update function`.

[2021-07-30 19:56] rudyhadoux commented on #7840
You can use
@key(name: "byUserid", fields: ["ID"])
or
@key(name: "byUsername", fields: ["name"])

[2021-07-30 20:02] johnpc commented on #7819
Is this a custom resource? How are you integrating this step function with amplify cli?

I'm trying to understand the core of your issue but I'm having difficulty parsing the expected behavior:

Can you elaborate on that a bit more? Is the CLI mucking your custom cloudformation yml file?

[2021-07-30 20:08] johnpc commented on #7795
Can you share your graphql schema?

[2021-07-30 20:19] MedNabilEssefaihi commented on #7795
[code]

[2021-07-30 20:31] ingwinlu commented on #7819
yes it is a custom resource. i use amplify cli to push it (have similar resources for iot rules / ... as well)

if you look at the error i posted you can see it is complaining about the type of the `/States/choiceHasActive/Choices[0]/IsPresent` field as it is expected to be a boolean. compare that to the yml file i posted and you can see i indeed defined it as a yaml boolean scalar.
It seems that

[2021-07-30 20:56] jemucino opened #7846 "@function directive does not create Function or Data Source for field in extend Query/Mutation"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-07-30 22:56] #6122 closed

[2021-07-31 01:19] julien-tamade commented on #7837
@josefaidt  thank you for the reply.

So i checked out amplify-meta.json and noticed there's a ton of unknown characters at the top:
���������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������������

[2021-07-31 01:28] sacrampton commented on #7546
Hi Everyone - thought I'd share this comment on another related issue showing usage for custom searchable resolvers

https://github.com/aws-amplify/amplify-cli/issues/1865#issuecomment-889510126

[2021-07-31 01:33] julien-tamade commented on #7837
If I delete this file, will it regenerate when running amplify push? What should I do?

[2021-07-31 04:32] kgoyal98 commented on #7840
Thanks @rudyhadoux. This will solve problem 2.

Is there any solution for problem 1?

[2021-07-31 05:00] rudyhadoux commented on #7840
What is exactly Problem 1 ?

[2021-07-31 05:39] pedramp20 commented on #7793
Yes it is a bug report. The steps to reproduce it:

[code]

Then select:

[code]

Then tick

[code]
Then provide the requested information and finally
[code]

The result is what I attached in the previous post and what is expected is this screen shot:
![image](https://user-images.githubusercontent.com/24868344/127729973-9a85b529-3361-4ef2-b8d6-8bfbc3f5b72e.png)

[2021-07-31 06:47] kgoyal98 commented on #7840
I proposed one solution that we first query the followee list of the user and then filter the posts using the followee list. This method involves two API calls. Is there any way to do it in one?

[2021-07-31 06:50] rudyhadoux commented on #7840
I do not understand "the posts using the followee list". What do you mean ?

[2021-07-31 08:04] kgoyal98 commented on #7840
@rudyhadoux can you please provide a sample code for the filter? I think that you as thinking of some other way to query.

[2021-07-31 08:11] rudyhadoux commented on #7840
I can't ask you because I do not understand your question. Sorry.
Read this whole page.
https://docs.amplify.aws/cli/graphql-transformer/dataaccess

[2021-07-31 10:36] khacminh commented on #7828
Hi @johnpc,

My use case is a Lambda function can access to the cognito user pool. I can update the policy myself. And I

[2021-07-31 12:28] jonmifsud opened #7853 "Custom Mutation/VTL causes dynamodb validation error"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-07-31 13:46] kgoyal98 commented on #7840
Let me explain in more detailed form.

I want to get posts of the people that a user follows.

This is one way to do it:
[code]

The problem with this approach is that it involves two API calls: listUserFollows and listPosts. I want to do it in one API call only. I want to find a way to do this.

[2021-07-31 13:57] rudyhadoux commented on #7840
Don't use filters but only @key.
Everything you need is here :
https://docs.amplify.aws/cli/graphql-transformer/dataaccess

To get the posts of the people that a user follows, you have to add results from a loop of requests with :
@key(name: "byUserName", fields: ["name"])

[2021-07-31 14:08] rudyhadoux commented on #7840
If you add A MEMBER posts to UserFollow (like User), you can have all posts of following or/and followers.
With :
@key(name: "byUserFollowing", fields: ["following"])    OR
@key(name: "byUserFollowers", fields: ["followers"])

[2021-07-31 14:12] kgoyal98 commented on #7840
Note that we would want to support pagination. For that the results have to be in a single query call.

[2021-07-31 14:12] rudyhadoux commented on #7840
It is a many-to-many.
https://docs.amplify.aws/cli/graphql-transformer/connection#many-to-many-connections
I can't help you any more sorry.

[2021-07-31 14:22] rudyhadoux commented on #7840
I think I have found what you need here :
https://github.com/aws-amplify/amplify-cli/issues/4106

[2021-07-31 14:29] dcfranca commented on #7824
Hi @josefaidt
When I walkthrough the `amplify auth update`  and run `amplify push` I get the following:

My layer was created before the changes, because I remember receiving some messages telling about the changes after that.

I tried to follow the workaround mentioned, but it fails on the attempt to remove the function depending on the layer:

For some reason, it depends on my S3 bucket, which I

[2021-07-31 14:35] kgoyal98 commented on #7840
I don't think that #4106 is applicable to my question.  Please paste a code snippet if you got the solution.

[2021-07-31 14:39] rudyhadoux commented on #7840
Already done. Bye.

[2021-07-31 17:00] matansagee commented on #7835
Thanks, @johnpc ! I use a lot of APIs and functions, all of them are using authentication. I'm guessing I will need to remove the authentication from all of them before removing the authentication, right?

Moreover, I have multiple environments (dev, production 1, production 2). What will happen if I do all the changes in my dev environment, then create a new authentication in the dev environment,

[2021-07-31 17:28] kgoyal98 commented on #7840
Thanks for helping but it will not work.
@johnpc Can you please help.

[2021-08-01 04:05] k3b0 commented on #3399
+1

[2021-08-01 08:09] g-grass opened #7848 "MFA token code message is hidden"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-01 17:23] ghost opened #7849 "How to reuse a CloudFormation template on same category?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
How to reuse a Cloudformation template

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system

5.2.1

**What AWS Services are you utilizing?**

CodeBuild

**Provide additional details e.g. code snippets**

I have a Clou

[2021-08-01 18:12] dorontal commented on #7666
@iyz91 thanks for the workaround but unfortunately I was unable to get it to work on my end.

When I executed the CLI command, it returned nothing (but no error either). I executed it before creating a user with `Auth.signUp()`.

However running this command line did not change things when creating a new user. I still got the same error back from Cognito when calling `Auth.signUp()` as above. The

[2021-08-01 18:47] iyz91 commented on #7666
@dorontal So this is the other issue, if the pool is setup using the CLI with the problematic settings, it will change the pool settings to allow username + email combo, instead of the desired email only configuration. Once it's set, it cannot be changed and will throw that error expecting the user to sign up with both a username and email which is what you are seeing. This happens automatically a

[2021-08-01 19:03] dorontal commented on #7666
@iyz91 thanks very much for this explanation - totally get it now.

[2021-08-01 19:45] iyz91 commented on #7666
@dorontal My pleasure, good luck with your work!

[2021-08-01 20:25] IsaacTrevino opened #7850 "Amplify Geo"
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

Amplify Geo

### Describe the feature you'd like to request

Needed Features in Geo CLI `amplify add geo`
- Auth Cognito Groups privilege's with regards to Maps.
- Missing Esri Satellite (Imagery) Map Style

### Describe the solution you'd like

Adding groups auth, since incurring au

[2021-08-02 01:48] lewistham9x commented on #372
Are there any updates for `allow: connection, path: []` for the `@auth` directive?

[2021-08-02 04:57] datlt commented on #4869
I ran into the same issues, and find out that you can customize _pipelineFunctions_ instead of _resolvers_
This worked for me, create folder _pipelineFunctions_ in /amplify/backend/api/<Your Api Name>/ and add req.vtl like

`
{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
      "typeName": "$ctx.stash.get("typeName")",
      "fieldName": "$ctx.stash.get("fieldName")",
      "

[2021-08-02 05:20] MeekExpa opened #8380 "Having issues in the command prompt"
So i deleted an project from the aws amplify console but now i cant logout of the backend part and i wont let me run any other projects

[2021-08-02 07:26] wahmd opened #7851 "Cloudformation uses default value instead of using actual bucket name of environment after `amplify push`"
**Which Category is your question related to?**
Cloudformation, S3 bucket

**Amplify CLI Version**

You can use `amplify -v` to check the amplify cli version on your system
5.2.0

**What AWS Services are you utilizing?**
cloudformation, S3 bucket, lambda,

**Provide additional details e.g. code snippets**

**I am writing to s3 inside lambda function but it picks the default value from the cloudfor

[2021-08-02 07:45] AlessandroVol23 commented on #7685
Hi @ammarkarachi,
do you have any updates for that. It still happens so often and the development workflow really suffers a lot with this issue.

Thanks! :)

[2021-08-02 07:52] johnpc commented on #7840
Alright, I can add a couple more alternatives:

1. following the [many-to-many documentation](https://docs.amplify.aws/cli/graphql-transformer/connection#many-to-many-connections) and traversing the graphql structure

[here](http://kgoyal98-20210802014024-hostingbucket-dev.s3-website.us-east-2.amazonaws.com) is an example of that method in action and [here](https://github.com/johnpc/kgoyal98/blob/

[2021-08-02 08:28] THPubs commented on #1546
@johnpc Thanks for implementing this feature! But is it possible to add alternative sign options to an existing project? I just tried to update auth and it did not give me this option.

[2021-08-02 11:37] marksmithson commented on #7300
using "conflgLevel": "general" does not work for me on v5.2.1 of the cli.

I get the error "Failed to get profile: Profile configuration for 'default' is invalid: missing aws_access_key_id, aws_secret_access_key".

I am running this command:
[code]

[2021-08-02 12:20] kylekirkby opened #7852 "Cannot push any changes - An error occurred while fetching the app backend: Network Failure"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-02 12:28] kylekirkby commented on #7852
Looks like it could be a CORS issue?

![cors-aws-amplify](https://user-images.githubusercontent.com/4564433/127861932-3cbeeee2-cee0-482c-9fa4-7d4e1a856d08.PNG)

[2021-08-02 13:41] andrecasal opened #7854 "'Confirmation Code' email is sent with 'Forgot password code' template"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-02 13:57] josefaidt commented on #7855
Hey @dperconti before adding hosting for your frontend did you run `amplify push`?

[2021-08-02 15:03] kylekirkby commented on #7852
The solution, for me at least, was to remove the Amplify Admin UI.

1. Disable Amplify Admin UI in the AWS management console.
2. Run `amplify configure project`
3. Selected `Wrapped` profile name.

`~/.aws/config`
[code]

We are using AWS SSO so I need to use a little python script `aws2-wrap` to get SSO auth working.

https://github.com/linaro-its/aws2-wrap

4. Run `aws sso login --profile Resou

[2021-08-02 15:52] johnpc commented on #7795
When using AWS_IAM for public API access, unauthenticated logins must be enabled. To enable unauthenticated logins, run amplify update auth from the command line and choose Walkthrough all the auth configurations.

Could that be the issue?

[2021-08-02 15:59] josefaidt commented on #7703
Closing due to inactivity. @johnEthicalTechnology if you have further questions please reply back to this thread or [open a new Usage Question issue](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=question&template=3.usage-question.md&title=). 🙂

[2021-08-02 15:59] #7703 closed

[2021-08-02 16:19] johnpc commented on #7837
I think if you remove the file and call `amplify pull` amplify-meta.json will regenerate.

[2021-08-02 16:27] dperconti commented on #7855
@josefaidt I did not. I went directly to adding auth, API, & connecting a branch. Let me try with a clean implementation to see if that resolves the issue and I will get back to you.

[2021-08-02 16:35] johnpc commented on #7795
Adding this annotation to your graphql schema will add the proper permissions: `@auth(rules: [{ allow: public, provider: iam }])`

[2021-08-02 16:39] josefaidt commented on #7423
Hey @fakedob :wave: I wanted to follow-up to see if you are still experiencing this issue and if you were able to create a small demo to reproduce this issue?

[2021-08-02 16:40] josefaidt commented on #7457
Closing due to inactivity. @prettydev if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further. 🙂

[2021-08-02 16:40] #7457 closed

[2021-08-02 16:42] johnpc commented on #7835
Unfortunately, it looks like this could be some messy manual work. I don't like this answer, but right now the only way is to remove auth from every resource in every environment, then delete the auth, then re-add auth to each resource then push.

I'm going to mark this as a feature request to improve this process - it should be possible from the cli.

[2021-08-02 16:47] josefaidt commented on #5395
Closing per the [update on the docs issue](https://github.com/aws-amplify/docs/issues/2437#issuecomment-880162155) describing the plans to reduce the number of files Amplify generates and reducing dependencies on this file. @cyrfer if you feel this is in error or have additional comments please reply back to this thread and we can investigate further. 🙂

[2021-08-02 16:48] johnpc commented on #7853
could you share your schema? Am I understanding that it looks like we've generated broken vtl on your behalf, and overwritten your working vtl in the process?

[2021-08-02 17:05] catherine-augustine commented on #7656
I edited the function from the console and got it deployed.  Though I am not able to push from IDE yet, I am good for now.

[2021-08-02 17:05] #7656 closed

[2021-08-02 17:06] johnpc commented on #7854
Note: I see you're using the templated {####} in the subject field of your email. That doesn't get automatically replaced with the code, so you might want to exclude it from the subject of the email.

As for it using the wrong template (forgot password instead of verification code), I am not able to reproduce this. I spun up an app [here](http://testauth-20210802130129-hostingbucket-dev.s3-website

[2021-08-02 17:11] johnpc commented on #7849
I don't think that specifically is possible.

However, have you tried using [amplify environments](https://docs.amplify.aws/cli/teams/overview)? Environments can be used to pass different parameters to a code build resource.

You could also try using a symlink in order to reuse the file but I can't guarantee that'll work either.

[2021-08-02 17:15] johnpc commented on #7851
when are you passing in the `storageXxxStorageBucketName` parameter to your cloudformation? The cloudformation json looks correct - that environment variable should be set to whatever you pass in for that parameter.

I would like to see your `parameter.json` file used for storage.

[2021-08-02 17:26] johnpc commented on #7852
I am glad that you've found a workaround! I am unable to reproduce any cors or network issue associated with the admin ui credential handshake.

If you can provide more detailed repeatable steps so that I can reproduce I'd be happy to look into it further

[2021-08-02 17:27] andrecasal commented on #7854
Hey @johnpc, thanks for trying to reproduce my bug.

The {####} already came by default in the title. I left it there in assuming there was a bug preventing the title from having the code replaced. Should I open another issue for this bug?

Where in the console should I check for the verification code message? I only see the password recovery message.
<img width="833" alt="Screenshot 2021-08-02 at

[2021-08-02 17:30] wahmd commented on #7851
parameters.json for this lambda is just empty object. {}.
However, the function-parameters.json looks like:
![image](https://user-images.githubusercontent.com/74547936/127900884-888455bf-3f5f-4fea-b303-c02f37c4b7dc.png)

[2021-08-02 18:09] MedNabilEssefaihi commented on #7795
Dear Mr @johnpc

First of all, thank you so much for your time and your effort in my issue,

I made some the changes like:
### 1. Add I AM roles for unauth user
![permission](https://user-images.githubusercontent.com/74948380/127903234-5ec18391-d451-48a7-87cf-87714ee191ba.png)

Example roles of code:

[code]

**Note I customized the GraphQL requests depend of my project need**

I recognized that w

[2021-08-02 18:12] MedNabilEssefaihi commented on #7795
I got a new error when I used another GraphQL request

![229159100_801865383782893_348203007518475524_n](https://user-images.githubusercontent.com/74948380/127905401-8b5315d8-03aa-4e99-ac1d-f15ab90f535a.jpg)

![225229005_1203668200151643_8332576835805729524_n](https://user-images.githubusercontent.com/74948380/127905405-00d39e00-b931-4406-a01a-36b2946ddbb4.jpg)

Any suggestion ? Thank you.

[2021-08-02 18:17] ChrisSargent commented on #6271
Is there any chance of this being implemented or perhaps more guidance how to achieve something like this in CI/CD.

Essentially, our Cognito setup is being handled by AWS CDK so we'd like to connect to that user pool in CI/CD.

[2021-08-02 18:28] julien-tamade commented on #7837
@johnpc unfortunately that didn't work. after removing amplify-meta.json I can't run push or pull

[2021-08-02 18:32] johnreitano commented on #7853
I hit the same issue but when calling AppSync directly, outside of Amplify.

The issue shoed up for me when I used a resolver similar to the long resolver under "Example 2" in the docs for UpdateItem at https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-dynamodb.html#aws-appsync-resolver-mapping-template-reference-dynamodb-updateitem

Interestingly, the issue o

[2021-08-02 18:35] jhockett commented on #6271
Hi @ChrisSargent, actually this now supported in the latest version of Amplify CLI.

Headless support for `import auth` was added by this [PR](https://github.com/aws-amplify/amplify-cli/pull/7266), but looks like we're missing documentation on it.

[2021-08-02 18:38] jonmifsud commented on #7853
Hi @johnpc indeed, something of the sort.

It seems like amplify or something else on the AWS side took my VTL and re-hashed it. Not a complete rewrite, but added parts of code in places I couldn't easily figure out.

Below are the relevant excerpts from the graphQL schema. Essentially this was our way of keeping stats within a larger table to avoid doing summation on large queries, but instead ob

[2021-08-02 18:39] ChrisSargent commented on #6271
Hi, yeah, I was literally just reading that PR :-) but then I also some other issues which suggested you can use `amplifyPush` with env vars instead.

I was trying to use the headless import in a node script like so:

[code]

but I got an error that no stdin was provided (it could well be that my usage of `execSync` is incorrect).

[2021-08-02 18:40] jonmifsud commented on #7853
Oh, and as @johnreitano mentioned we are actually doing this AppSync request from within nodeJS so not using the Amplify built-in API functions. However, I wouldn't think that it should make any difference - as the error was also visible from within the AppSync console.

[2021-08-02 18:53] josefaidt commented on #7803
Hey @matart15 thank you for the details. I am also seeing this issue on `amplify push` if I use the `schema/` directory with DataStore enabled, which also results in an empty "Data" and "Content" pages in AdminUI.

Error I'm receiving on push, though push is successful:

[code]

Marking this as a bug

[2021-08-02 19:21] josefaidt commented on #7517
Hey @rajubhusani :wave: thanks for raising this! Unfortunately this is not currently supported by the CLI, however I will mark it as a feature request 🙂

[2021-08-02 19:26] josefaidt commented on #7772
Hey @yuhui glad to hear you were able to remove the app without further issues 🙌 ! I'll keep this issue open to track the codegen & DataStore -related bug

[2021-08-02 19:43] ChrisSargent commented on #6271
Okay, I actually got this working with:

[code]

[2021-08-02 19:57] josefaidt commented on #7560
Hey @matansagee :wave: are you still experiencing this issue with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.2.1)? Just wanted to check in 🙂

[2021-08-02 19:58] josefaidt commented on #7791
Hey @Lacan82 :wave: just wanted to check in and see if you were still experiencing this issue on the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.2.1)?

[2021-08-02 19:59] johnpc commented on #7851
I don't see a parameter there called `storageXxxStorageBucketName`. Maybe the env var should just come from the `bucketName` parameter instead?

[2021-08-02 20:02] josefaidt commented on #7837
@julien-tamade can you run and step through the prompts for `amplify init`? This should regenerate the amplify-meta.json file

[2021-08-02 20:04] johnpc commented on #7854
In the Cognito console, choose your user pool group. Under general settings, you'll see "message customizations"

<img width="1184" alt="Screen Shot 2021-08-02 at 4 03 07 PM" src="https://user-images.githubusercontent.com/4824042/127917173-8e3336fb-13b9-4799-8017-15f798584236.png">

Scroll down and you'll see the confirmation message

![Screen Shot 2021-08-02 at 4 04 37 PM](https://user-images.git

[2021-08-02 20:15] johnpc commented on #7795
I can't be sure about everything specifically going on in the code you have. But I have created a simple amplify app that demonstrates successful iam authenticated requests. You can see [here](http://mednabilessefaihi-20210802160947-hostingbucket-dev.s3-website-us-east-1.amazonaws.com) that the request succeeds and the payload is written to the screen.

The source code for this app [uses your grap

[2021-08-02 20:24] andrecasal commented on #7854
Yeah, the message is wrong.

If I click on "link" and then again on "Code", the template resets and it says "forgot password code: {####}":
<img width="1217" alt="Screenshot 2021-08-02 at 21 23 00" src="https://user-images.githubusercontent.com/22457463/127919272-b701c3f4-ba55-453b-a67f-b44300c4818d.png">

[2021-08-02 20:32] johnpc commented on #7854
Did you save your changes before switching back and forth?

I'm not sure how you got into this state, but using the currently latest version of the cli to add auth, I cannot reproduce winding up in this state.

[2021-08-02 20:38] josefaidt commented on #7844
Hey @jeanbaptistepriez :wave: thanks for raising this! Unfortunately given the current implementation where `notifications` are created via the AWS SDK and not CloudFormation, this is currently not possible out-of-the-box as we are unable reference the output. For that I will mark this as a feature-request.

As a workaround we can leverage [environment variables or secrets with Lambda functions](h

[2021-08-02 20:52] josefaidt commented on #7742
Hey @vgmartinez :wave: are you still experiencing this issue? If so are you receiving a different error in the "master" env?

[2021-08-02 21:47] andrecasal commented on #7854
Yes, I switched to Link and saved it.

My client no longer works:
<img width="786" alt="Screenshot 2021-08-02 at 22 47 27" src="https://user-images.githubusercontent.com/22457463/127928121-979aea70-724a-46af-8f81-b4f3101e199b.png">

I switched to Code again (still with the Forgot Password Code template) and my client is still broken.

[2021-08-02 22:00] johnpc commented on #7854
5.2.1 is still the latest cli. you should be able to fix the original template body manually on the aws console. I am still not sure how it got into that broken state - if you can provide detailed steps that I can follow to reproduce this improper initial configuration I can look into that further, but the common case (as demonstrated in my link above) does not experience the issue.

I'm not sure

[2021-08-02 22:11] andrecasal commented on #7854
Ah yes, I created the auth using Amplify's Admin UI (not the CLI or the Console). I did this because it was the only way to have the registration work with only email and password (without a username). Using the CLI forced the client to send a username.

Switching back to "Code" worked now 👍

[2021-08-03 00:26] jkgwm commented on #5395
@josefaidt I just need to know what is allowed in `backend-config.json`. If you're removing that file in the next 10 days, then I'm happy to look at the future documentation instead.

I would like to know what are the priorities and roadmap of the Amplify tools. Where are "the plans" described?

[2021-08-03 00:27] cyrfer commented on #5395
@josefaidt I just need to know what is allowed in backend-config.json. If you're removing that file in the next 10 days, then I'm happy to look at the future documentation instead.

I would like to know what are the priorities and roadmap of the Amplify tools. Where are "the plans" described?

[2021-08-03 00:34] rahul-insight commented on #1055
Is there any update on this?

[2021-08-03 00:45] johnpc commented on #7854
can you reproduce this problem via admin ui? if so we should transfer this ticket to that project

[2021-08-03 01:46] djsmedes commented on #4830
Looks like the meat of this issue was basically replicated in #7696 and fixed in #7812, which is live in CLI versions >= 5.2.1.

I say "the meat of" because the actual title requests, and some commenters in here (including me, many moons ago) requested the _option_ to not install `node_modules` _at all_ as part of a push. This is something that only an advanced user would have reason to do, if you

[2021-08-03 06:17] marcelweigle opened #7860 "Deploy Spring Cloud Function with amplify to AWS Lambda"
**Which Category is your question related to?**
amplify CLI, AWS Lambda, Spring Cloud Function

**What AWS Services are you utilizing?**
Amplify, lambda

**Provide additional details e.g. code snippets**

Hello, I have trouble deploying the Spring Cloud Function Demo App from their docs with AWS Amplify. I used amplify add function, choose java and then copy/paste the Spring Cloud Function Demo Ap

[2021-08-03 09:34] andrecasal commented on #7854
I'll give it a try now.

[2021-08-03 10:27] andrecasal commented on #7854
The course of action:
- Created a new branch `production-test`
- Added new environment with `amplify init` called `prodtest`
- Tried adding hosting to this new environment with `amplify add hosting` but failed with `Amplify Console hosting has already been enabled`. `amplify status` says this new environment already has auth. I don't understand why. I literally just initialized this environment.
-

[2021-08-03 14:17] gino8080 opened #7862 "Support for Lex v2"
### Is this related to a new or existing Amplify category?

interactions

### Is this related to another service?

Lex

### Describe the feature you'd like to request

Support for the Lex v2 api
to make usable  components like ChatBot

related issue
https://github.com/aws-amplify/amplify-js/issues/7662

### Describe the solution you'd like

I would like that this simply  works :)

[code]

### Desc

[2021-08-03 15:56] MedNabilEssefaihi commented on #7795
Dear @johnpc

Well received, Thank you very much for the app ✅

[2021-08-03 16:20] johnpc commented on #7831
Agreed, it should be changed from `context.print.error` to `context.print.warning`

[2021-08-03 16:21] SaikatCool opened #7863 "Amplify CLI doesn't pick proxy settings in private Gitlab CI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-03 16:44] #7009 closed

[2021-08-03 16:44] alex-unikorny commented on #7849
Has sense to request this as an improvement? I tried with the symlink and works well, thank!
But I think that Amplify could be more flexible to manage resources on AWS for example if backend-config.json file improves adding the references of base templates for each categories and improve the readability with an yml file and dependencies declaration like this:

<img width="480" alt="Screenshot 2021

[2021-08-03 16:50] marksmithson commented on #7300
Seems to be an issue when you have a failure and try and run it again. I don't get the error, if I have a clean checkout from source control.

I guess that pre-existing local-* files in /amplify/.config are the source of the error.

[2021-08-03 17:11] jhockett commented on #7860
Hi @marcelweigle, we support the Java runtime for Lambda functions, so if the Java code you copy in is valid, then it should work. However, we don't specifically have support for Spring Cloud Function.

Can you share the demo code that you tried to make work?

[2021-08-03 17:21] marcelweigle commented on #7860
I have a working spring lambda build with Maven. Does amplify only support Gradle? Or can I somehow use Maven?

[2021-08-03 17:31] josefaidt commented on #7407
Hey @DevTGhosh :wave: were you able to find a suitable solution for your use case? Perhaps you could add the production exports file to git then immediately add it to the gitignore to prevent unwanted updates, and rely on manually toggling that file from the gitignore to update if/when the production exports file updates.

[2021-08-03 17:35] johnpc commented on #7849
Glad the symlink solution got you unblocked in the meantime.

And sure! That would be cool! I'll mark this as a feature request.

[2021-08-03 17:35] johnpc commented on #7849
Glad the symlink solution got you unblocked in the meantime.

And sure! That would be cool! I'll mark this as a feature request.

[2021-08-03 17:47] jhockett commented on #7862
Closing this issue as a duplicate. This feature request is more appropriately tracked by aws-amplify/amplify-js#7662.

[2021-08-03 17:47] #7862 closed

[2021-08-03 18:39] marcelweigle commented on #7860
The Demo Code is from the Spring Cloud Function Documentation. GitHub link is here: https://github.com/spring-cloud/spring-cloud-function/tree/main/spring-cloud-function-samples/function-sample-aws

[2021-08-03 19:04] #7718 closed

[2021-08-03 19:33] josefaidt commented on #5395
Hey @cyrfer thanks for the response! Unfortunately we do not currently have a public roadmap to reference. For the `backend-config.json` file are you looking for a clearer description of how `dependsOn` is used?

[2021-08-03 20:09] ShehryarKh opened #7869 "getting API: s3:SetBucketEncryption Access Denied after upgrading"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/main/CONTRIBUTING.

[2021-08-03 23:40] cyrfer commented on #5395
Yes, much clearer, actual documentation on the schema allowed.

[2021-08-04 04:52] kalote opened #7880 "How to set up or retrieve the mock api graphql endpoint?"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Mock [api]

**Amplify CLI Version**
5.2.1
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I've setup amplify in my local machine as follo

[2021-08-04 06:33] heyheman11 opened #7881 "No option for 'noUpdateBackend' for amplify pull command"
### Is this related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

This is an issue that relates to re-using backends across apps. We have quite a few apps sharing a singular backend, and currently there is no way to pass an option the cli to demonstrate that you only want to pull the co

[2021-08-04 07:34] vgmartinez commented on #7742
hi @josefaidt @SwaySway sorry for the delay.
I keep getting the same error and it is very frustrating ;(. I don't know why if I create a new environment from the UI (Amplify) I keep getting this same error. I don't know where the reference to s3 is, all cloudformation stacks end ok. I don't know where to look.

Thanks for try to help.

[2021-08-04 09:30] bcs-gbl commented on #1910
+1

[2021-08-04 13:54] LoganArnett commented on #7189
@edwardfoyle  I would like to take this one, just need to confirm if appending the amplify app name is the expected prefix

[2021-08-04 14:08] oe-bayram opened #7882 "GraphQL - generated TypeScript code"
**Which Category is your question related to?**
GraphQL / TypeScript

**Amplify CLI Version**
5.2.1

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I'm using Amplify with Typescript and the following Schema with a belongTo connection type:

[code]
But the items property in the model connection type of the generated code in API.ts contains an Arr

[2021-08-04 15:28] cjihrig commented on #7880
If your test suite is running `amplify mock api`, you can parse the output for the endpoint:

[code]

If you are running `amplify mock api` externally from your test suite, you'll need to make sure that the correct port is being used on your own. If you're testing functions with mock, the environment variables should be populated with that information in the mocked function already.

[2021-08-04 15:38] josefaidt commented on #7742
Hey @vgmartinez in the account where you're experiencing this issue are the S3 settings set to block all public access?
![image](https://user-images.githubusercontent.com/5033303/128210579-21549ea9-17e7-4e56-97e3-b8b29a41ec39.png)

[2021-08-04 16:05] zohaibarshad-ai commented on #1088
Any update?

[2021-08-04 16:43] dan0nator opened #7883 "Amplify Push Failed after amplify add function"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-04 17:01] jhockett commented on #7883
Hi @dan0nator, what version of yarn are using?

--production should work with yarn classic (1.x). https://classic.yarnpkg.com/en/docs/cli/install/#toc-yarn-install-production-true-false

[2021-08-04 17:04] dan0nator commented on #7883
yarn version 2.4.1 - i have not updated the yarn version, but i did update the amplify API

[2021-08-04 18:19] jhockett commented on #7881
Hi @heyheman11, thanks for pointing out this missing headless functionality and for checking the `I may be able to implement...` box! Let us know if you need some direction or help with anything.

Check out our [contributing guide](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTING.md). It has a link to our community discord server which may be helpful.

Before a feature like this

[2021-08-04 18:23] WiL-dev opened #7888 "Amplify codegen generates wrong return for scalar list (String)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-04 18:34] oe-bayram opened #7890 "GraphQL - generated TypeScript code"
**Which Category is your question related to?**
GraphQL / TypeScript

**Amplify CLI Version**
5.2.1

**What AWS Services are you utilizing?**
AppSync

**Provide additional details e.g. code snippets**
I'm using Amplify with Typescript and the following Schema with a belongTo connection type:

[code]
But the items property in the model connection type of the generated code in API.ts contains an Arr

[2021-08-04 19:22] josefaidt commented on #7771
Hey @alonsnir :wave: just wanted to follow-up and see if you were able to successfully enable DataStore, push, and manage content from AdminUI?

[2021-08-04 20:07] jhockett commented on #7890
Thanks for the clarification @AaronZyLee! This looks like a possible bug on our side @oe-bayram. Adding this issue to our project board.

[2021-08-04 21:01] jeanbaptistepriez commented on #7844
Ok thanks for your answer.
I found a workaround:

1. As you describe I retrieve the pinpoint id in `amplify/backend/amplify-meta.json`
2. I add this id in the `amplify/team-provider-info.json` file:
[code]
3.  I add this `pinpointId` as a parameter of the cloudformation template
4. the `amplify push` (+ `amplify env checkout ...; amplify push`) works.

Is it a "not so bad practices" or I risk to g

[2021-08-04 21:03] jhockett commented on #7869
Hi @ShehryarKh, can you make sure `s3:PutEncryptionConfiguration` is added to your IAM role's policy and then try `amplify push --yes`?

[2021-08-04 21:33] vincent38wargnier commented on #7833
I have the same issue, i select email :
![image](https://user-images.githubusercontent.com/33725800/128257694-1217f8f6-3221-446e-9daf-b1f063bd607a.png)
But at the end I have the following configuration :
![image](https://user-images.githubusercontent.com/33725800/128257783-86a4e419-bfbb-4456-b1ce-234f125510b8.png)
So when I call the Cognito API to create a user it throws me this back :
![image](ht

[2021-08-04 21:46] johnreitano commented on #7853
I noticed a serious problem that remains even after using the solution of setting _deleted to false (as suggested by @jonmifsud above). This does allow the call to UpdateItem to complete, but AppSync somehow modifies the call so that it sets the value of "_deleted" to true.

I even tried adding a final function to  my pipeline for the sole purpose of setting _deleted to false, as follows:

[code]

[2021-08-04 23:22] iamdavidmartin commented on #7359
I had this same issue, but the root cause was not a trailing slash. There is no problem with the library, this is a misconfiguration on the app and the server.

`{"IdentityId":"us-east-1:xxx","Logins":{"cognito-idp.us-east-1.amazonaws.com/us-east-1_xxxx":"<THIS IS BLANK AND SHOULDN'T BE>"}}`

I solved it by including `openid` in my scopes. The reason is because when the `codeFlow` auth event happe

[2021-08-04 23:51] kalote commented on #7880
Thanks for your answer. I'm not using mock function, just the mock api with graphql.
I'm running it externally for my react app, and i don't see any environment variable.

Is there a way to just run the `mock api`, and retrieve the endpoint information without manually parsing the text output? or even better, being able to set the mock_api_endpoint env vars from a config file to instruct amplify w

[2021-08-05 04:34] lewistham9x opened #7898 "What's the right way to overwrite a stack to add pipeline resolver for custom authorisation?"
**Which Category is your question related to?**
API

**Amplify CLI Version**
5.2.1

**What AWS Services are you utilizing?**
AppSync, CloudFormation, DynamoDB

**Provide additional details e.g. code snippets**
I'm trying to overwrite the auto-generated stack for my model Alert, so that I can add a custom pipeline resolver to it that allows me to authorize getAlert using a Lambda function. I do thi

[2021-08-05 05:30] kgoyal98 commented on #1865
Amplify can support this automatically adding a count field whenever any list is defined. Amplify can internally update it whenever any element is inserted / deleted.

[2021-08-05 06:22] ChrisSargent commented on #7881
Looks like a duplicate of #5275

[2021-08-05 06:30] marcelweigle commented on #7860
Hi @jhockett I successful deployed my spring cloud function with amplify. However I can't use amplify mock. I am getting the following error:

`    '  .   ____          _            __ _ _\n' +
    " /\\\\ / ___'_ __ _ _(_)_ __  __ _ \\ \\ \\ \\\n" +
    "( ( )\\___ | '_ | '_| | '_ \\/ _` | \\ \\ \\ \\\n" +
    ' \\\\/  ___)| |_)| | | | | || (_| |  ) ) ) )\n' +
    "  '  |____| .__|_| |_|_| |_\\__

[2021-08-05 10:55] ChrisSargent opened #7899 "Hosting with Multiple Frontends - is it possible?"
**Which Category is your question related to?**

Hosting & multiple front ends

**Amplify CLI Version**

5.2.1

**What AWS Services are you utilizing?**
Hosting, API, Auth (imported from an existing CDK Cognito)

We have a monorepo with one folder for the backend and one folder for the frontend. I have successfully set up all of the backend functionality in the correct folder.

Then, following the

[2021-08-05 14:14] ShehryarKh commented on #7869
@jhockett the IAM role i use to run `amplify push` has S3: full access.

[2021-08-05 14:33] josefaidt commented on #7899
Hey @ChrisSargent :wave: when stepping through the prompts for `amplify pull` we have to select "Yes" for "Do you plan on modifying this backend?" in order to add more resources like `hosting`. Are your intentions to host multiple web apps with the same backend resources, all from the same monorepo?

[2021-08-05 14:45] dperconti commented on #7855
I was able to get around this by pushing before adding hosting 👍

[2021-08-05 14:45] #7855 closed

[2021-08-05 15:19] ShehryarKh commented on #7869
I found out that the role `us-east-1_xxxxxx_Full-access` which I believe was auto generated and is used to make the cloudformation changes was missing.

- s3:GetEncryptionConfiguration
- s3:PutEncryptionConfiguration

Should have been auto updated.

[2021-08-05 15:19] #7869 closed

[2021-08-05 16:47] josefaidt commented on #7844
Hey @jeanbaptistepriez glad you were able to find a workaround.

This value will be included in your stack's CloudFormation template.

[2021-08-05 16:50] jhockett commented on #7881
Thanks for pointing that out @ChrisSargent, @heyheman11 I'm going to close this issue in favor of #5275, but we still appreciate any community contributions for this issue!

[2021-08-05 16:50] #7881 closed

[2021-08-05 17:09] cjihrig commented on #7880
There is an existing feature request in https://github.com/aws-amplify/amplify-cli/issues/2235.

[2021-08-05 17:16] renebrandel commented on #7486
I think we should support `amplify env add <env_name> -y` the "-y" will pick the current AWS Profile/Admin UI config to create the new environment.

[2021-08-05 17:57] studpeps opened #7900 "Invalid file path found (not compatible with windows format)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-05 18:00] josefaidt commented on #7824
Hey @dcfranca apologies for the delay! For the auth issue do you currently have some OAuth providers enabled? If so can you verify the OAuth provider ID's and keys are added?

For the S3 bucket depending on the layer, we can do one of two things:

1. if we want to remove the storage, run `amplify remove storage` and select the appropriate resource. This will remove storage and its dependency on th

[2021-08-05 18:06] studpeps opened #7901 "(amplify-graphql-types-generator) : Failing during snapshot testing"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-05 18:38] ChrisSargent commented on #7899
@josefaidt exactly that, yes. Ideally one backend package that has the API and schema etc and one or more front ends using the same api.

[2021-08-05 18:38] khalibloo commented on #1407
Glad I ran into this early in my evaluation. It'd have been catastrophic to hit a wall like this in production.

[2021-08-05 19:25] studiobrain commented on #6231
So to understand correctly, as I have seen similar errors and cant seem to find a definitive answer, an Amplify created api and GraphQL schema:

`amplify add api`

...can have types with no @model directive and still utilize the @auth directive - and we should see no errors on push?

for example:
[code]

[2021-08-05 21:02] Risord commented on #6231
@studiobrain yes but as issue says you have to push your type once without auth rules. Also if I remember correctly type level auth rules did not work at all but field level rules worked so you need to use those.

So first push:
[code]

And then:
[code]

Be aware from caveats caused by this bug:
If you add new fields later you need to again push those too first without auth rules. Aaand my "favour

[2021-08-05 21:02] josefaidt commented on #7899
Hey @ChrisSargent thanks for clarifying! Unfortunately this is not currently supported, and there is [an existing feature request with a slightly different workflow](https://github.com/aws-amplify/amplify-cli/issues/2022). I'll mark this as a feature-request and raise it with the team!

[2021-08-05 21:21] ChrisSargent commented on #7899
Okay. I think we'll probably manage all our front ends with CDK then and just use Amplify for the graphql api.

Rather than this feature request, Id love to see the annotated Schema to resource generation to be available in CDK

[2021-08-05 22:30] jhockett commented on #7860
Glad to hear you were able to deploy your Lambda function @marcelweigle! Since the original issue is addressed, I'm going to close this issue.

I'm not sure what's happening with mock, but I suggest looking into this line: `'java.lang.IllegalArgumentException: No auto configuration classes found in META-INF/spring.factories. If you are using a custom packaging, make sure that file is correct.'`

I

[2021-08-05 22:30] #7860 closed

[2021-08-06 03:25] GeorgeBellTMH opened #7905 "Create Function - package.json name does not match regexp warning"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-06 14:00] josefaidt commented on #7905
Hey @GeorgeBellTMH :wave: thanks for raising this! I also see this warning from npm regarding an invalid name field value. Thankfully this does not impact our deployments or usage, however it does not follow the [spec for package.json name field](https://docs.npmjs.com/creating-a-package-json-file#required-name-and-version-fields). Marking this as a feature request to force the package name to all

[2021-08-06 14:17] kgoyal98 commented on #7840
Thanks @johnpc. This answers my question.

[2021-08-06 14:17] #7840 closed

[2021-08-06 14:53] dorontal commented on #7833
Just tried this again with the new version (5.3.0) and the bug is still there.

This issue is very debilitating any development of any app that needs a signed-up user to develop. I cannot create even one signed-up user right now. I would very much appreciate a fix. It does not seem like a difficult fix and there are already pull requests for this. Thank you.

Adding a screenshot that shows in more

[2021-08-06 14:56] dorontal commented on #7833
Just tried this again with the new version (5.3.0) and the bug is still there.

This issue is very debilitating -- any development of any app that needs a signed-up user to develop is now impossible.

The error that gets returned when we try to sign up a user with an email address, right now, is:

    "Username cannot be of email format, since user pool is configured for email alias."

[2021-08-06 15:14] dorontal commented on #7666
Just tried this again with the new version (5.3.0) and the bug is still there.

This issue is very debilitating -- any development of any app that needs a signed-up user to develop is now impossible.

The error that gets returned when we try to sign up a user with an email address, right now, is:

    "Username cannot be of email format, since user pool is configured for email alias."

The email-o

[2021-08-06 15:43] studiobrain commented on #6231
So in summation, yes and no, but mostly no...  Also, no.

[2021-08-06 15:45] josefaidt opened #7906 "Unable to create custom interaction with Lambda. TypeError: Lambda is not a constructor"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-06 17:25] ataibarkai opened #7907 "Lambda resolver for GraphQL API: return `@model` objects"
**Which Category is your question related to?**
api + function
(GraphQL API / Lambda Function resolver)

**Amplify CLI Version**
5.2.1

**What AWS Services are you utilizing?**
Practically everything supported by amplify, and a few others.

**Provide additional details e.g. code snippets**
I would like to create a custom query (i.e. using a lambda function) for an array of objects defined using th

[2021-08-06 18:11] kaustavghosh06 commented on #7469
@al3x88 are you still blocked on this issue?
@mrducky4 These Lambda resources are Custom AWS Lambda resources used to configure/update resources for which there isn't any native CloudFormation support. This would be used when you decide to update/delete your AWS resources which is managed by these Lambda custom resources.

[2021-08-06 18:12] kaustavghosh06 commented on #7469
Closing this issue as the migration for the latest node version is covered as a part of the latest version of the CLI. Please let me know if you're still stuck on this or have more questions.

[2021-08-06 18:12] #7469 closed

[2021-08-06 18:14] kaustavghosh06 commented on #7880
Closing this issue as the question seems to be answered and a corresponding feature request for it is already opened up as a part of #2235.

[2021-08-06 18:14] #7880 closed

[2021-08-06 18:15] kaustavghosh06 commented on #7680
@alexboulay are you still stuck on this issue?

[2021-08-06 18:17] kaustavghosh06 commented on #7573
@krikork Right now we do not support modifying or adding the sts:TagSession to the IAM roles, but we're currently working on a feature to make this sort of customizability possible in a generic way. cc @akshbhu

[2021-08-06 18:22] kaustavghosh06 commented on #7851
@wahmd Did you push the storage resources to the cloud?

[2021-08-06 18:23] kaustavghosh06 commented on #7795
@MedNabilEssefaihi  Closing this issue based on @johnpc's response. Please feel free to let us know if you're still stuck.

[2021-08-06 18:23] #7795 closed

[2021-08-06 18:24] kaustavghosh06 commented on #7829
Closing this issue due to lack of further response. Please let us know if you're still stuck on this.

[2021-08-06 18:24] #7829 closed

[2021-08-06 18:26] josefaidt commented on #7791
Closing due to inactivity. @Lacan82 if you feel this is in error and you are still experiencing this issue please reply back to this thread and we can re-open for further investigation.

[2021-08-06 18:26] #7791 closed

[2021-08-06 18:27] kaustavghosh06 commented on #7741
@jmarshall9120 You would need to know the AWS account your project is configured in and appropriately have the credentials tied to that account in your local machine. When you run `amplify configure` a new IAM user is created in the AWS account which you want access to.
What would be your ideal experience?

[2021-08-06 18:29] kaustavghosh06 commented on #7562
@rupe120 I believe you're using Amplify Admin to authenticate your requests. When authenticating via Amplify Admin, your IAM policies are scoped down and are listen in here - `us-east-1_XMD8bEI0J_Full-access` in your AWS account. You can go ahead and look at this IAM role and update/add policies for your custom stack. Please let me know if you're still stuck after adding the appropriate policies t

[2021-08-06 18:29] #7562 closed

[2021-08-06 18:40] jhockett commented on #7089
Closing this issue since there were no further questions.

[2021-08-06 18:40] #7089 closed

[2021-08-06 18:45] kaustavghosh06 commented on #6401
@dopry Yes, right now the behavior is to run `amplify env checkout <env-name>` to update all the metadata files when adding/updating custom stacks/resource or updating backend-config.json. I'll mark this as an enhancement.

[2021-08-06 18:47] #7733 closed

[2021-08-06 18:47] #7384 closed

[2021-08-06 18:52] kaustavghosh06 commented on #7723
@AlessandroVol23 are you still seeing these issues? We had a recent service issue tied to ACM domain creations and that might've caused this issue. Please let me know if you're still seeing this on new env creations regularly.

[2021-08-06 18:52] #7723 closed

[2021-08-06 18:55] kaustavghosh06 commented on #7841
@rajnikumari022 Did you configure the storage category using the Amplify CLI?

[2021-08-06 18:58] kaustavghosh06 commented on #7742
@vgmartinez Yes, we've seen this issue due to the bucket policies set on your AWS account globally as @josefaidt mentioned. Please let us know if your'e still facing the issue after making the changes suggested by @josefaidt.

[2021-08-06 18:58] #7742 closed

[2021-08-06 19:08] kaustavghosh06 commented on #7721
@martijnvdgrift Are you still experiencing this issue?

[2021-08-06 19:15] josefaidt commented on #6602
Hey @brrcrites apologies for the delay! Are you still experiencing this issue or has this issue persisted across CLI upgrades?

[2021-08-06 20:40] josefaidt commented on #7853
Hey @jonmifsud and @johnreitano do y'all have DataStore enabled for the API by chance?

[2021-08-06 21:19] drey-rotation opened #7910 "Migrate project to another AWS Account"
This issue has been automatically locked since there hasn't been any recent activity after it was closed. Please open a [new issue](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml) for related bugs.

Looking for a help forum? We recommend joining the [Amplify Community Discord server](https://discord.com/invite/amplify) `*-help` channels for thos

[2021-08-06 21:27] drey-rotation commented on #7910
Just saw this post and wanted to point out that you can easily re-create resources in a different account. Here is what I did:

1. Clone repo to new folder
2. amplify init
  - Select an AWS Profile that will connect to the new account.  I use ssh and my keys are in ~/.ssh/credentials file.
  - Do not use an existing environment.
 3. Amplify updates the amplify/team-provider-info.json file with the

[2021-08-06 21:50] jhockett commented on #3350
Now that this issue is locked, any follow-up discussion should be directed to https://github.com/aws-amplify/amplify-cli/issues/7910.

[2021-08-06 21:51] jhockett commented on #7910
Thanks for the helpful information @drey-rotation! I think we should add a note in the docs about this. The task is tracked in this docs [issue](https://github.com/aws-amplify/docs/issues/2959).

[2021-08-06 21:57] SwaySway commented on #5456
Closing this issue as the current version of the transformer does generate the string filter input type which contains `attributeExists`. Please comment below if you don't see this input generated.

[2021-08-06 21:57] #5456 closed

[2021-08-06 23:21] johnreitano commented on #7853
I'm using AppSync directly, not via Amplify, so I'm not sure a DataStore is applicable in my case.

I'm using a single data source (of type DynamoDB Table). The data source is associated with each of several functions that themselves are used in pipeline resolvers. I hope that answers your question, but please let me know if you need more info.

[2021-08-07 00:09] SwaySway commented on #6609
Apologies for the late reply on this, I see you are looking at indexing by a value in the user. This is not supported since`@key` generates a GSI from the fields in the record. Though from my understanding you are looking at sorting nested User by the name field. You can achieve that by using a specified key in User to be referenced by `@connection`. Such as `@key(name: "byUsername", fields: ["nam

[2021-08-07 00:09] #6609 closed

[2021-08-07 00:58] SwaySway commented on #7003
Apologies for the late follow up, are you still experiencing issues with this?
I tried to create a record with the same hash and sort key and it gave me an error. For defining your own custom primary key the CLI does generate the following snippet.
[code]

[2021-08-07 05:47] wahmd commented on #7851
Yes, this is what I think it should automatically pick with this name format storagexxxStorageBucketName. After pushing again, I'm getting bucket name correctly without changing any code. This is getting highly unpredictable & unreliable as code breaks or works after pushing to cloud without any code change. Just to be on safe side, I also added in `parameters.json`
[code]

Until I figure out why

[2021-08-07 05:49] wahmd commented on #7851
Yes, the resources are pushed to cloud with `amplify push` command

[2021-08-07 06:31] jonmifsud commented on #7853
@josefaidt I think data store is enabled; as I had versioning set up. I don't actually use the Data Store function but I do find that versioning reduces the chance of incorrect/old data being mutated.

[2021-08-07 09:50] matt-d-webb opened #7915 "UPDATE_FAILED error: api [unauthRoleName, authRoleName] do not exist in the template"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-07 11:49] AlessandroVol23 opened #7916 "Lambda layers are deleted with every env checkout"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-07 11:50] AlessandroVol23 commented on #7723
Hi @kaustavghosh06 not sure if you meant me but I didn't hat this issue :-)

[2021-08-07 14:27] lewistham9x commented on #7898
Update: I tried modifying the stack via the Cloudformation UI and it worked, I hoped to pull it into Amplify as code, but it did not detect changes. Upon pushing amplify changes again, it overwrote my Alert stack again with the defaults.

[2021-08-07 14:35] cjihrig commented on #7915
If this is a REST API, please try removing those two entries from the API's `parameters.json` file.

[2021-08-07 14:55] matt-d-webb commented on #7915
@cjihrig I get the following error:

`Parameters: [authRoleName, unauthRoleName] must have values`

[2021-08-07 16:13] supersonix77 commented on #1865
It's been a long discussion here, but why is this feature not officially there yet?

[2021-08-07 17:20] dcfranca commented on #7824
@josefaidt You mean the environment variables on the Amplify console? yes, all of them are there
[code]

Regarding the S3 bucket, I don't want to remove the storage, so I tried running `amplify update storage`
and have chosen `Remove the trigger`

It seems to have worked, tho I receive a message saying that my auth configuration was not property configured:

But then when I tried to push the chang

[2021-08-07 21:09] cjihrig commented on #7915
@matt-d-webb in your original post you mentioned this error:

Did this error come from the REST API, or some other resource?

[2021-08-08 06:41] #7777 closed

[2021-08-08 10:29] alonsnir commented on #7771
Hello @josefaidt @SwaySway,

I'm sorry, but from the reproduction steps it's already done. I have stated in steps I use cli, and have deployed the app, which is - amplify update api and amplify push.
I have also mentioned it on the support issue I have opened for this and tried a several time during the support call.

Anyway, I have done as suggested:

1. pulled the app again
2. "updated" api by `

[2021-08-08 15:45] fkunecke commented on #7851
There's 4 things needed to fill in this value. Check that you've got them all.

for this example I'm going to assume that you added a `storage` resource and named it `data`.  This is important for your cloudformation templates.

The value must be in `Outputs` on the cloudformation template for the resouce you're trying to access:
[code]

The resource needs to be in the `dependsOn` array in the `ba

[2021-08-08 17:19] CodySwannGT opened #7918 "Allow public IAM @auth on @function outside of @model"
This subject keeps coming up in a number of issues but there is never any resolution.

[This questions specifically](https://github.com/aws-amplify/amplify-cli/issues/2711#issuecomment-841604000)

[2021-08-09 01:52] fkunecke commented on #7349
Can confirm this is still an issue on `5.1.2`. I don't have any issues for resources manually added to `backend-config`, like queues or topics, but I have a function that `dependsOn` a queue that gets overwritten if I add a dependency through the CLI. @ammarkarachi if you can help point me in the right direction I can put together some code and submit a PR. This is a pretty big issue on my side.

[2021-08-09 08:11] nathanaerocloud commented on #7751
Hi Sunderc

Is this issue something AWS will address? I would just like to know if it is intended to fix the bug at this time, if not then of course we can seek alternatives

all the best

[2021-08-09 13:23] connected-mdeluco commented on #7829
@johnpc - so these constant minor differences are just something we have to live with in VCS?

If there's no functional difference, maybe there's no reason for them to happen between versions of the CLI. i.e. keep autogen output consistent for the sake of your customers.

[2021-08-09 15:19] dilipv21 commented on #3081
+1 For Postgres support.

[2021-08-09 15:26] renebrandel commented on #7751
Hi @nathanaerocloud - This is in our bug backlog now. We'll likely be able to look into it more this Friday. Feel free to share any more logs that you think might be helpful. cc @sundersc is going to pick this up.

[2021-08-09 16:01] josefaidt commented on #7916
Hey @AlessandroVol23 :wave: thanks for raising this! Since this external Lambda Layer ARN is supplied as a static value in `function-parameters.json` this value will be added after a `git merge`. Using the following steps from the docs page for [sandbox environments](https://docs.amplify.aws/cli/teams/sandbox):

[code]

The external Lambda Layer ARN value should then be added to your other environ

[2021-08-09 17:04] josefaidt commented on #7771
Hey @alonsnir thank you for the information! In the Amplify AdminUI are you seeing any errors in the browser's console? What does the AdminUI show when you navigate to the content screen?

[2021-08-09 17:30] josefaidt commented on #7824
Hey @dcfranca thank you for trying that out! Was the pre-signup function the trigger associated with the storage? Can you confirm the pre-signup function has a valid ARN in `amplify/backend/amplify-meta.json` in the `output` section?

For the missing parameters, were the social providers adjusted during `amplify update auth`, and may you confirm the two parameters for Facebook and Google are prese

[2021-08-09 18:03] dcfranca commented on #7824
Hey @josefaidt

Yes, it seems to be ok the presignup function ARN, I checked and it does match the actual function
[code]

Yes, those parameters are present on the CloudFormation template:
[code]

[2021-08-09 18:25] josefaidt commented on #7824
Thanks for the swift reply @dcfranca! To investigate a bit further may you send a zip file of your project's `amplify` directory to amplify-cli@amazon.com?

[2021-08-09 19:09] edwardfoyle opened #7920 "Cannot use IAM auth in GraphQL schema when importing only Cognito user pool"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-09 20:00] sundersc commented on #7863
Hey @SaikatCool Can you provide more information about the issue.
- Does it work on local machine?
- What are the steps to reproduce the issue?
- How did you verify aws cli is working through the proxy?

[2021-08-09 20:32] jhockett commented on #7852
Hi @kylekirkby, closing this issue due to lack of response. Please comment below if you run into this again.

[2021-08-09 20:32] #7852 closed

[2021-08-09 20:36] jhockett commented on #7907
Hi @ataibarkai, I don't think a custom resolver is necessary. Is there a reason not to use something like the following?:

[code]

[2021-08-09 20:49] jhockett commented on #7899
Hi @ChrisSargent, we have a recommended monorepo structure that should be helpful for dealing with multiple frontends: https://docs.amplify.aws/cli/usage/monorepo

[2021-08-10 05:46] martinmeinke opened #7924 "Using 3rd party libraries when mocking python lambda"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-10 05:46] ataibarkai opened #7925 "Easy win: Support `BatchInvoke` in the `@function` directive"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Amplify allows for easily binding GraphQL/AppSync fields to lambda resolvers using the `@function` directive, as [detailed in the docs](https://docs.amplify.aws/cli/graphql-transformer/function#function).

**The `@function` directi

[2021-08-10 05:49] ataibarkai commented on #7925
cc @marcvberg @cjihrig @cjihrig-aws since it seems you have been working on the `@function` directive thus far.

What do you think about this?

[2021-08-10 06:03] ataibarkai commented on #7907
Hi @jhockett , thank you for your reply.

My use-case must use a lambda function, because the `[Post]` list returned by the query is fully custom, and in fact depends on a 3rd-party service which the function queries against. The `Post`s do not correspond to the results of a simple DynamoDB query.

However after some experimenting I was able to answer my own question:
Once you have the relevant ID

[2021-08-10 09:59] dcfranca commented on #7824
@josefaidt I just sent it via wetransfer, as my `amplify` directory is over 100MB
Let me know if you need anything else

[2021-08-10 12:05] alonsnir commented on #7771
Hi @josefaidt there is no error shown in the console.
When I navigate to the content screen it says: `An additional deployment is needed to enable content management capabilities for your API. Navigate to "Data" and hit "Save and deploy"`. I then follow the link and go to the Data Modeling page. On that page there is a button 'Enable DataStore and deploy', clicking on it does nothing, no error dis

[2021-08-10 13:00] josefaidt commented on #7824
Thank you @dcfranca! I received it and will be taking a look at it

[2021-08-10 14:32] mgarabedian opened #7926 "Function Packager: files or folders beginning with a dot(.) do not add to latest-build.zip"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-10 14:47] dismantl commented on #7926
I also just started seeing this issue, which wasn't happening last week. I am running Amplify CLI version 5.2.1, node.js 16.6.1, on a Mac.

[2021-08-10 17:33] studpeps commented on #7905
Hey @GeorgeBellTMH and @josefaidt, I am trying to reproduce the issue but have been unable to, has this been arising when deploying or when creating the function locally
I did the following steps to produce the bug:

$ amplify add function
? Select which capability you want to add: Lambda function (serverless function)
? Provide an AWS Lambda function name: testFunction
? Choose the runtime that y

[2021-08-10 17:49] josefaidt commented on #7905
Hey @studpeps :wave: this is an npm warning and does not impact creation or pushes of the Lambda function. It can be found in the function's `package.json` file:

![image](https://user-images.githubusercontent.com/5033303/128909595-dbdd1e94-7c70-474a-8691-8b8a9dc3aa3a.png)

[Reference for package.json "name" specification](https://docs.npmjs.com/creating-a-package-json-file#required-name-and-versi

[2021-08-10 17:55] studpeps commented on #7905
Oh yes right, thank you @josefaidt

[2021-08-10 18:34] josefaidt commented on #7926
Hey @mgarabedian and @dismantl :wave: thanks for raising this! I was able to reproduce this on the latest version of the CLI and confirmed if I downgraded the CLI to an older version (pre 5.0.0, I used 4.52.0 in my reproduction) it was zipping the dotfiles. Marking this as a bug

[2021-08-10 20:47] akshbhu commented on #7924
Hi @martinmeinke

I executed the same steps and it is working for me. The one problem I see in error logs is this
[code]

Can you try this and again try to mock this function?

Let me know if this works for you?

[2021-08-10 21:00] sundersc commented on #7907
Nice to know that you found a solution. We will look into the feature request.

[2021-08-10 21:00] #7907 closed

[2021-08-10 21:27] josefaidt commented on #7837
Hey @julien-tamade were you able to successfully regenerate the amplify-meta.json file by stepping through `amplify init`?

[2021-08-10 22:20] julien-tamade commented on #7837
@josefaidt yes, that solved it. Thank you!

[2021-08-10 22:23] josefaidt commented on #7837
🙏 awesome! Glad to hear it! Closing issue based on response above.

[2021-08-10 22:23] #7837 closed

[2021-08-10 22:45] chancyk commented on #7844
I have a similar issue where I'm trying to configure a DynamoDB trigger to point to a lambda function in the respective `dev` and `prod` Amplify environments. Is this a sanctioned approach, @josefaidt? It seemed to work upon pushing to each of my environments. Is manually modifying `team-provider-info.json` something the Amplify team expects or might this blow up in the future?

To expand on the s

[2021-08-11 00:06] kjones commented on #7819
Just ran into this also.

[2021-08-11 00:25] gakinson opened #7932 "Amplify LambdaInternal throttle"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-11 12:07] rafaelfaria commented on #7360
Is this still an issue? I have a similar issue when mocking an API and testing it locally, however, instead of lambda, I'm using AWS_IAM type. It's null.

[2021-08-11 13:05] c0h1b4 commented on #7833
Any updates or estimate when this issue will be solved? We have a project that is stalled because of this. Will move to other platform if this is not solvable.

[2021-08-11 13:35] alonsnir commented on #7771
Hi @josefaidt
[code]

[2021-08-11 13:53] josefaidt commented on #7771
Thanks @alonsnir, do you run into issues when running `amplify codegen models`?

[2021-08-11 13:56] alonsnir commented on #7771
@josefaidt oh, that one, I assumed typo in what you asked for, sorry.
here it is:

[code]

[2021-08-11 16:15] alonsnir commented on #7771
@josefaidt sent to amplify-cli@amazon.com

[2021-08-11 19:19] josefaidt commented on #7771
Hey @alonsnir thanks for sending it over! I noticed you have defined types for Mutation and Subscription, but not Query. Can you try removing the `query` line from your `schema` declaration and re-run `amplify codegen models`? I've noticed a similar error when running `amplify api gql-compile` as well.

[code]

[2021-08-11 20:09] sundersc opened #7934 "amplify env checkout doesn't prompt for OAuth social provider credentials when the env was previously pushed with default auth configuration"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-11 20:52] matt-d-webb commented on #7915
@cjihrig this came from the REST API. I have tried to revert the changes which has resulted in a different error.

![image](https://user-images.githubusercontent.com/36933715/129101497-9345c0dc-e5a6-4570-860d-104fcf604cd0.png)

I figure this relates to attempts to fix this following suggestions here #2519 and doing `amplify update auth`

[2021-08-12 01:33] hamasayu opened #7937 "Ability to CopyObject in S3 Mock Server"
### Is this related to a new or existing Amplify category?

storage, function

### Is this related to another service?

S3, Lambda

### Describe the feature you'd like to request

I have a Lambda function that uses [S3 CopyObject][api] API. As a developer, I would like to test the function locally with Amplify's S3 mock server. The current amplify-storage-simulator does not work with CopyObject op

[2021-08-12 02:49] tomhirschfeld opened #7938 "Consistent and extreme amount of git conflicts on merge"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-12 04:14] romeubertho commented on #7883
I'm having a similar issue. But my problem with `amplify push` using --production flag is that I cannot use devDependencies to build ([docs](https://docs.amplify.aws/cli/function/build-options)) my lambda or packages using babel because devDependencies are not installed.

In version 5.2.0 and below, I didn't have the issue above, but each lambda function/layer has devDependencies inside their node

[2021-08-12 05:47] martinmeinke commented on #7924
Explicitly setting

[code]

in my `.zshrc` does not solve the problem.

[2021-08-12 07:27] StanMiletskiy opened #7939 "«Template error: instance of Fn::GetAtt references undefined resource» when attempting to push auth plugin"
Hello guys. I need to set up and use Amplify for one of iOS projects I've been handed, I have been trying to apply different approaches setting up Amplify, using different AWS guides, but all the paths lead to the exact same issue I am facing - when I try to push Auth plugin, using `amplify push` I get the error:

Template error: instance of Fn::GetAtt references undefined resource authalphacoachb

[2021-08-12 07:36] alonsnir commented on #7771
Hi @josefaidt

[code]

[2021-08-12 08:10] AlessandroVol23 commented on #7685
I have no updates on this just that I am still facing the issue and it is really annoying, to be honest.
For a simple deploy I have always to:
- Update OAuth providers
- Change ENVs for custom message
- Add case sensitive flag in cloudformation template again
- Have a sign in with apple downtime and add information in Cognito again

It is a bit frustrating 😉

[2021-08-12 08:56] AjayBains opened #7940 "amplify push error"
when trying

amplify push
i am getting the error

 There was an error pulling the backend environment dev.
An error occurred during the push operation: Stack with id amplify-amplifyreactappnew-dev-141312 does not exist

i dont understand what is happening,can someone help?

[2021-08-12 13:52] josefaidt commented on #7939
Hey @StanMiletskiy :wave: would you mind porting this over to our [bug report template](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml)? This will help gather additional context about the issue. Also, may you confirm you have permissions to access the repo?

[2021-08-12 13:54] josefaidt commented on #7940
Hey @AjayBains :wave: would you mind porting this over to our [bug report template](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml) in order to gather additional context about the environment?

[2021-08-12 14:06] josefaidt commented on #7423
Hey @fakedob just wanted to follow-up and see if you were still experiencing this issue and whether you were able to create a demo?

[2021-08-12 14:17] josefaidt commented on #7844
Hey @chancyk :wave: from the [documentation page for Amplify files and folders](https://docs.amplify.aws/cli/reference/files#team-provider-infojson) it is not recommended to manually edit the `team-provider-info.json` file. We may see these values are removed after performing additional `amplify` commands to the resource.

[2021-08-12 14:34] StanMiletskiy opened #7941 "«Template error: instance of Fn::GetAtt references undefined resource» when attempting to push auth plugin"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-12 14:34] StanMiletskiy commented on #7939
@josefaidt hey! done: https://github.com/aws-amplify/amplify-cli/issues/7941
yes, I do have permissions to access the repo.

[2021-08-12 14:53] josefaidt commented on #7939
Thank you @StanMiletskiy ! I'll close this issue in favor of tracking the mentioned issue 😄

[2021-08-12 14:53] #7939 closed

[2021-08-12 16:25] josefaidt commented on #7824
Hey @dcfranca I've been taking a look at your backend files, can you confirm that after running through `amplify update auth` again that the trigger is shown attached to the auth resource? Also if you're on our [community Discord](https://discord.gg/amplify) and available for a quick call I'd be interested to walk through this issue with you!

[2021-08-12 18:05] josefaidt commented on #7685
Hey y'all :wave: apologies for the delay! We'll be addressing this issue as a part of our weekly bug bash tomorrow 🙂

[2021-08-12 18:05] dcfranca commented on #7824
I'm available on Saturday or Monday for a call on Discord

[2021-08-12 20:09] sundersc commented on #7941
@StanMiletskiy I'm unable to reproduce the issue. Do you know what was the cli version used to create the project?

Also, may you send a zip file of your project's amplify directory to amplify-cli@amazon.com?

[2021-08-12 20:29] chancyk commented on #7844
@josefaidt Thanks! Is there a recommended approach to achieve the same affect? It seems like the [parameters.json](https://docs.amplify.aws/cli/reference/files#parametersjson) files may be intended for a similar purpose, but they don't seem environment aware like `team-provider-info.json`.

In my case I'm trying to attach a Lambda function to a DynamoDB stream, so I need to grab the stream ARN for

[2021-08-12 21:06] Bersaelor opened #7947 "`amplify import auth` does not add an OAuth entry to the amplifyconfiguration.json"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-12 22:29] StefanV85 opened #7948 "Amplify Push fails: Inaccessible host: . This service may not be available in the `eu-west-1' region."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-12 22:37] josefaidt opened #7949 "`import auth` - after choosing the same web & native client to import, unable to reselect different clients"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-12 22:55] dmost714 commented on #7833
I've also encountered this issue on a new project.
Brought it up in Discord and was pointed here.

Here are a few details:

I used `amplify add auth`, selected 'email' and 'no' for advanced.
I believe this setup also leaves you in a state where the verification email will not be sent.
I deleted auth and tried again using 'manual' config via the cli tool. That also didn't work.
**I deleted auth and

[2021-08-12 23:06] dorontal commented on #7833
@dmost714 I went to the Amplify Admin UI [here](https://console.aws.amazon.com/amplify/home) but it just brought me back to the Cognito User Pool Console dialog shown above -- and that did not allow me to create the user with the error `... user pool is configured for email alias ...` - how did the Amplify UI help you?  I must have used it in the wrong way because every time I try, it just brings

[2021-08-12 23:23] dmost714 commented on #7833
Don't click "Authentication" under the "categories added" label.
You have to go to the "Admin UI". You get there by clicking the "Open admin UI" button.
You may need to enable the UI with a switch. If you made changes with it, it will update your cloud formation, so you then need to 'amplify pull' in the terminal to sync local environments with the cloud (same as if another team member mades chang

[2021-08-13 00:43] sundersc commented on #7949
I can confirm that this is a bug.

[2021-08-13 01:11] dorontal commented on #7833
Thanks very much, @dmost714!  After tinkering with the new Admin UI for a while it did not work for me for seemingly obscure reasons, which I could detail if somebody really needs to know, but I think I'll just wait until the Amplify team fixes this simple issue - saw that there's a PR for it already.

[2021-08-13 03:31] renebrandel commented on #7595
For all new projects (using a feature flag), we should update our template to support gradle 7

[2021-08-13 03:36] renebrandel commented on #7632
Given Ed's comment, we won't be able to provide a fix for this issue.

[2021-08-13 03:36] #7632 closed

[2021-08-13 03:42] #7899 closed

[2021-08-13 08:23] StanMiletskiy commented on #7941
Hello @sundersc, I have just send the file, email subject is #7941.

amplify/.config/project-config.json file says `{  "projectName": "Alpha",  "version": "3.1",  "frontend": "ios",  "providers": [    "awscloudformation"  ]}`, so I suppose it's 3.1. Please let me know if I need to check the version some other way. Thanks for assisning!

[2021-08-13 09:27] l-hendriks commented on #2698
I worked around this by not doing `amplify push` anymore, but doing `amplify api gql-compile && node scripts/minifyVtlTemplates.js && amplify push --no-gql-override`

with `minifyVtlTemplates.js` being a script that minifies the vtl templates. I only do this now:

[code]
looping over these two folders:

[code]

this is already enough for me to be able to resolve this. You can also rename variable

[2021-08-13 14:02] bombillazo commented on #7486
This would be great. Right now I have a custom CI/CD process where i need to deploy backend and front-end (a mobile app) separately. For my FE, I need to checkout the repo code which does not have committed config files like `aws-exports.js` so im simply needing to install amplify and pull/checkout my deploy env simply to generate that file since there is no command to do so.

Another great comman

[2021-08-13 14:49] josefaidt commented on #7771
Hey @alonsnir was the `schema` block added for a particular reason? I was able to enable DataStore from the CLI, generate models, and deploy, though I did run into a different issue when trying to access the content pane. Can you try removing the `schema` block all together and push?

[2021-08-13 14:50] josefaidt commented on #7824
Hey @dcfranca I'm available Monday! Let's connect! My user is `josef` in the Amplify Discord community 🙂

[2021-08-13 16:23] akshbhu commented on #7941
Hi @StanMiletskiy

Thanks for providing the info on the project. I believe @sundersc is talking about amplify cli version which you can get with this command ```amplify -v```.

As per your error```Fn::GetAtt references undefined resource```. It seems your project doesn't has userpool added as I can only see ApiKey and your API stack . But it seems you have removed userPool and there are leftovers

[2021-08-13 17:00] akshbhu commented on #7932
Hi @gakinson

From the error ``` LambdaLayerPermissionPrivateLegacy63  AWS::Lambda::LayerVersionPermission Tue Aug 10 2021 17:21:21 GMT-0700 (Pacific Daylight Time) Rate exceeded (Service: AWSLambdaInternal; Status Code: 400; Error Code: ThrottlingException;```

It seems you have a lot of stale layers in the project as version is close to 63. Can you try to remove some of the stale layers using ``

[2021-08-13 17:14] akshbhu commented on #7924
Hi @martinmeinke

One more thing to debug is , When you do ```amplify mock function``` , pipenv creates virtual environment to install project dependencies in your local. : **/home/martin/.local/share/virtualenvs/testampli59bb9ee0-tGTOLLXm**. Can you check on this path under sitePackage if numpy is present?

[2021-08-13 17:19] akshbhu commented on #7915
Hi @matt-d-webb

If you have deployed any previous changes , you can use  ```amplify env pull ``` command to get your project back to the previously deployed state. For more information you can check [here](https://docs.amplify.aws/cli/teams/commands#pull-the-environment-from-the-cloud):

[2021-08-13 17:28] gakinson commented on #7932
I got another error:

[code]

[2021-08-13 18:19] SwaySway commented on #7425
Tracking the work for creation of multiple tables in #2584.
Closing this issue as the CLI has exponential backoff implemented during iterative deployments.
Should you experience any issues related to iterative deployments on an update please comment below.

[2021-08-13 18:19] #7425 closed

[2021-08-13 20:04] bmilesp commented on #6969
Hi @akshbhu,

Long story long, I needed to remove RDS after I added it via `amplify api add-graphql-datasource` and have followed the suggestions you'v provided. The RDS stack file came back.

In addition, I ran a search for the keyword "rds" in the ../backend/ folder and deleted anything relevant found within those files, including lines in:

[code]

after that push failed to run, I again deleted

[2021-08-13 20:43] dsharygin commented on #7787
Does pipeline resolver work with DataStore, though? Correct me if I'm wrong, but I don't think it does. For those of us who have to rely on the DataStore and complex resolver logic, this is a deal breaker.

[2021-08-13 20:51] dsharygin commented on #7787
Amplify already supports triggering Lambdas post DynamoDB record update for @model-generated types. Why not at least allows developers to choose between VTL and Lambda?

[2021-08-13 21:01] bmilesp commented on #3954
@edwardfoyle I agree with @alanionita that this should be a bug and not an enhancement as I share the same issue as @nat-n.

Reason being, there currently is no workaround so I cannot add data locally for testing, so i'm stuck with cloud testing only which is hardly ideal.

Could you please change this to a bug?

Thanks in advance.

[2021-08-13 23:15] dn-l opened #7957 "Next.js deploy failed: Error: CloudFront input failed validation. Could not find next.js pages for "_next/image*""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-13 23:19] dorontal commented on #7833
UPDATE @dmost714!  I was able to use the Admin UI to create a functional user pool with email-only verification!

I had to start a new app altogether for that, though. I could not do this with my existing app, because some wrong config settings were getting during user-pool creation in a way that could not be changed later.

In the new app, I followed your procedure. It was Angular for me but your

[2021-08-14 03:26] sundersc commented on #7751
@nathanaerocloud Apologies for the delay. Here is the configuration worked for me. Can you try on your end?

Here is the content of **docker-compose.yml**: (removed image key and moved to Dockerfile)
[code]

Now, create a folder 'strapiexample' in src folder and create a file 'Dockerfile' (case-sensitive).

[code]

<img src="https://user-images.githubusercontent.com/83315412/129432544-b0a914fb-322

[2021-08-14 05:26] bmilesp commented on #7830
@johnpc is there possibly a way to just add groups in the Graphiql  `Update Auth -> Additional FIelds`  json like you can with custom attributes?

[code]

[2021-08-14 12:53] dmost714 commented on #7833
We're on a similar journey, I'm also waiting on the auth trigger PR. You don't need to `amplify add auth` in the CLI, then delete it in the Admin UI. You can just create it using the Admin UI.

For my 2 triggers, what I did was create the triggers using `amplify update auth`, and `amplify push` to push them to the cloud. Then `amplify remove auth` & push to delete auth (since it gets clobbered). T

[2021-08-14 23:14] dn-l commented on #7957
Tried to redeploy my old successful build - also failing

[2021-08-15 06:40] martinmeinke commented on #7924
[code]

[2021-08-15 18:30] michaelbrewer commented on #3835
@renebrandel  - any tips on how to enable this to Amplify CLI?

Currently the only way is to manually enable this after the amplify deployment.

[2021-08-15 19:43] Nxtra opened #7962 "Generated type, ModelAttributeTypes, typescript: Enum member names cannot start with lowercase 'a' through 'z"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-15 20:02] armenr commented on #7614
First, let me say that as an avid (daily) Amplify user/builder, I love this proposal and RFC. I tried to hack my way around exposing some kind of "entry point" that I can hook into before/after certain CLI commands (most common needs have been around pre-push, post-push, pre-pull, and post-pull).

- Local tests
- Security inspection
- Actions to take pre-push (compile some typescript, build/bundle

[2021-08-15 20:17] Nxtra commented on #7962
Resolved, it was eslint who was causing the error. Resolved by adding  `API.ts` to `.eslintignore`

[2021-08-15 20:17] #7962 closed

[2021-08-16 00:24] enier290188 opened #7966 "User email only sign in"
**Please describe which feature you have a question about?**
User Pool atributes.

**Provide additional details**
I want my users to login using only their email, I have been doing the following. See image bellow:
<img width="1927" alt="image-001" src="https://user-images.githubusercontent.com/24461835/129497033-50b2d997-be55-4009-a643-16dc90a189e7.png">

When I use the command "amplify push" and

[2021-08-16 06:04] mjza commented on #7787
@josefaidt The problem of pipeline resolver is, it does not support with cli and if I change the schema and push the back-end, then I must go to AWS appsync and redo all my configurations for pipeline resolvers!

[2021-08-16 06:39] michaelbrewer commented on #3835
I see that configuring x-ray via CFN is supported. How can i help fix this?

[2021-08-16 06:41] michaelbrewer opened #7963 "Add AWS_LAMBDA authorization mode support for AppSync"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

AppSync

### Describe the feature you'd like to request

Allow for setting up your lambda authorizer via the Amplify CLI.

### Describe the solution you'd like

Amplify CLI should setup Appsync (which does have CFN support for setting up the lambda authorizer)

### Describe alternatives you've

[2021-08-16 07:18] levelingup commented on #5251
@chriszirkel looks like they have that in the docs: https://docs.amplify.aws/cli/graphql-transformer/codegen#amplify-configure-codegen

[2021-08-16 10:58] mm87642 commented on #4972
+1

[2021-08-16 11:07] matart15 commented on #1865
So any amplify user never implements this or `GoToLast` button?

![image](https://user-images.githubusercontent.com/17027219/129554224-71649e5c-56ac-4177-941c-eb54941135e3.png)

It should be an official feature.

If the total count is that heavy load how about `calculateTotalCount: Boolean` as an option with the default value `false`?

[2021-08-16 12:30] #7915 closed

[2021-08-16 13:39] irakli-g opened #7964 "After compiling graphql schema amplify does not generate id property in API.ts for updating inputs"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-16 13:39] chrisbonifacio commented on #7964
@josefaidt transferred over from js

[2021-08-16 14:37] nathanaerocloud commented on #7751
Hi Chris,

Just tried this and it is deploying ;)

but the endpoint it creates returns {"message":"Internal Server Error"}

[2021-08-16 14:37] #7751 closed

[2021-08-16 16:47] #7920 closed

[2021-08-16 17:27] enier290188 commented on #7966
Thank you, I want to add that when I used the amplify admin it works like it should. But not if I do it with CLI.
I have created a few app in amplify using the CLI to test it, and it never works.

[2021-08-16 17:28] josefaidt commented on #7966
Hey @enier290188 :wave: this seems like a duplicate of https://github.com/aws-amplify/amplify-cli/issues/7833, closing in favor of tracking the existing issue

[2021-08-16 17:28] #7966 closed

[2021-08-16 17:33] enier290188 commented on #7966
Thank you, I will follow it!

On Mon, Aug 16, 2021 at 12:28 PM josef ***@***.***> wrote:

[2021-08-16 17:35] edwardfoyle commented on #7948
Hi @StefanV85 are you connected to a VPN? And does this happen on every push, or only sometimes?

[2021-08-16 17:44] edwardfoyle commented on #7957
@dn-l based on the stacktrace above and the repro steps, this doesn't appear to be an Amplify CLI issue. Is this happening when deploying in Amplify Console? What CLI command is triggering the build failure? Are you able to build the next.js pages without using the CLI?

[2021-08-16 20:33] akshbhu commented on #7940
Closing this issue as no information provided. Please fill the issue template

[2021-08-16 20:33] #7940 closed

[2021-08-16 20:37] djom202 opened #7970 "Creating Function with access to another services"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-16 20:38] josefaidt commented on #7970
Hey @djom202 :wave: thanks for filing this! Are you also seeing this issue with other services as well? I was able to reproduce when trying to grant access to another function, but not with Storage or API.

[2021-08-16 20:43] SwaySway commented on #7918
Hey @CodySwannGT
The warning question specifically is used is meant to highlight userPools and OIDC providers not using static group authorization (ex. owner authorization, dynamic group authorization). Those rules are mainly supported for `@model`. Should you use `@auth` on a `@function` outside of `@model` you are limited to using static group authorization under userPools and OIDC.

Marking thi

[2021-08-16 20:49] edwardfoyle commented on #7947
@Bersaelor I was able to import a user pool with OAuth configured and the values were populated in the `amplifyconfiguration.json` file. Can you provide more details on what options you selected during the `amplify import auth` walkthrough? Also, was the imported user pool configured using Amplify CLI or was it configured external to the CLI?

[2021-08-16 20:53] akshbhu commented on #7932
Hi @gakinson

Can you share  ```<root>/amplify/backend/amplify-meta.json```  by redacting any secret info?

[2021-08-16 20:54] gakinson commented on #7932
My workaround was to go into my lambda layer in console and delete them manually (used script actually), then do amplify env checkout, then modified the lambda layer, then did a push.

[2021-08-16 20:57] akshbhu commented on #7916
Closing due to no response. If the issue is still present , comment on this and ill reopen it again

[2021-08-16 20:57] #7916 closed

[2021-08-16 22:09] edwardfoyle commented on #7831
closing as above PR has been merged

[2021-08-16 22:09] #7831 closed

[2021-08-16 22:16] edwardfoyle commented on #5388
closing as above PR is merged

[2021-08-16 22:16] #5388 closed

[2021-08-16 23:08] edwardfoyle commented on #5423
closing as issue seems to be caused by symlinks in the lambda zip folder. Please open a new issue if you believe there is something else at play.

[2021-08-16 23:08] #5423 closed

[2021-08-17 00:29] djom202 commented on #7970
@josefaidt I tried with function, storage and api in the same tried, but not individually.

[2021-08-17 00:35] djom202 commented on #7970
I just to tried and looks like the issue is related to the another functions

[2021-08-17 04:29] jeanbaptistepriez commented on #3222
+1

[2021-08-17 07:00] tasugi opened #7973 "I did amplify pull, but can't change environment"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-17 08:54] adam-nygate opened #7974 "Graphql schema with a non-model child type (of an auth'd model) gets the error `Parameters: [authRoleName] must have values`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-17 10:51] matart15 opened #7975 "Query Limit takes effect before filter"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-17 16:50] mgarabedian commented on #7926
No problem. Any idea when this will be fixed? I cannot deploy certain Lambda functions now, and am stuck here. Thanks

[2021-08-17 17:04] josefaidt commented on #7824
Hey @dcfranca it was great chatting with you! Just wanted to add some notes from our brief call:

- we experienced the issue where the pre-signup trigger ARN was causing the push to fail
- walked through all steps of `amplify update auth`, which updated a few templates
- we were able to successfully push after walking through the auth update
- `git diff` showed quite a few changes which were captu

[2021-08-17 17:47] letsbelopez commented on #7793
If you'd like, you can test a fix we've been working on. https://www.npmjs.com/package/@aws-amplify/cli/v/5.3.0-siwa-update.3

[2021-08-17 18:01] paddlefish opened #7977 "AccessDenied: Access Denied creating environment in a different account"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-17 19:29] hackrx commented on #1880
I was facing this issue in `amplify-flutter` package, and @kylekirkby solution worked for me.
For flutter devs, just edit the amplifyconfiguration.dart file.
reassign `WebDomain` :  `xxx-staging.auth.amazoncognito.com`
 with
 `WebDomain` :   `your_domain.com`
It is a temporary fix, it should be fixed soon.

[2021-08-17 19:56] edwardfoyle commented on #7973
@tasugi are you able to change environments using `amplify env checkout <other env>`?

[2021-08-17 20:25] josefaidt commented on #7977
Hey @paddlefish :wave: thanks for filing this! I was able to successfully reproduce with the steps provided. Marking this as a bug 🙂

[2021-08-17 20:53] edwardfoyle commented on #7975
Hi @matart15 this is expected behavior. It comes from the fact that in a DynamoDB query, DynamoDB will process a max of "limit" number of items. This limit is counted toward before the filter expression is evaluated. https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#DDB-Query-request-Limit

[2021-08-18 00:31] matart15 commented on #7975
@edwardfoyle thank you. i will look into dynamodb details.

just to confirm my understanding, there is no way to implement pagination with search using dynamodb?

[2021-08-18 00:36] dorontal commented on #7839
This pull request seems to suggest that it is an Amplify CLI fix, and an easy one. I believe this pull request is the fix, right?
https://github.com/aws-amplify/amplify-cli/pull/7671

[2021-08-18 00:36] dorontal commented on #7833
This pull request seems to suggest that it is an Amplify CLI fix, and an easy one. I believe this pull request below may be the fix, right?
https://github.com/aws-amplify/amplify-cli/pull/7671

[2021-08-18 01:21] tasugi commented on #7973
@edwardfoyle Unfortunately no. This is the message from CLI.

[code]

[2021-08-18 06:53] Emmanuel-D-coface commented on #5832
We need to configure a cloudfront hosting to an Amplify project hosted in zone eu-west-3.

This Amplify project was created via the console interface since the Amplify CLI does not support eu-west-3 as a region (even the latest version ) which is a strange inconsistency , if it's alloawed with the console it should be added to the CLI too especially is some actions ARE NOT POSSIBLE through the con

[2021-08-18 10:24] StanMiletskiy commented on #7941
The project was re-configured with proper settings and now everything is fine, so the issue was definitely on my side.
Thank you very much for your assistance.

[2021-08-18 10:24] #7941 closed

[2021-08-18 10:59] adam-nygate commented on #7974
Thanks for that and yep we are - weird that we haven't had this issue before (until introducing this unusual way of defining the types)

[2021-08-18 12:36] joyacv2 opened #7984 "AddUserToGroup Lambda Trigger disable Email Verification and turns to No Verification"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-18 12:47] Kizi061 opened #7985 "How toe edit `amplify/.config/project-config.json` file"
The amplify/.config/project-config.json should me like below

[code]

I am having   "DistributionDir": "build",

How can I change it?

[2021-08-18 13:24] josefaidt commented on #7984
Hey @joyacv2 marking this as a duplicate of #7839 and closing in favor of tracking the existing issue, please subscribe to that issue for updates. Thank you for taking the time to file this! 🙂

[2021-08-18 13:37] josefaidt commented on #7985
Hey @Kizi061 :wave: this information can be updated when running `amplify configure project` and selecting "Project information" when asked which setting you want to configure. For more information about this command and how it's used please refer to this [documentation page](https://docs.amplify.aws/cli/start/workflows/#amplify-configure-project).

[2021-08-18 16:10] josefaidt commented on #7407
Hey @DevTGhosh just wanted to follow up on my previous message and see if you were able to find a suitable solution 🙂

[2021-08-18 16:19] DevTGhosh commented on #7407
@josefaidt no I couldn’t find a suitable solution for 2 different GitHub repos.  Currently making use of the same GitHub repo and using separate branches to solve this solution for now.

[2021-08-18 16:31] josefaidt commented on #7771
Hey @alonsnir were you able to successfully push after removing the `schema` block from your schema file?

[2021-08-18 17:19] edwardfoyle commented on #7975
@matart15 DynamoDB pagination is more of an "infinite scroll" pagination thane an "n results at a time" pagination. However, you could implement this with the query you have above and continue requesting data either until the nextToken comes back null, or you have populated a full page of results. Then to load the next page, start the query with the last received nextToken. The only thing this sol

[2021-08-18 17:27] edwardfoyle commented on #7973
@tasugi can you try `amplify pull --appId <your app id> --envName production` and then `amplify env checkout production`?

[2021-08-18 17:37] josefaidt commented on #7853
Hey y'all :wave: apologies for the delay I've been taking a further look into this issue but I have not been able to reproduce the original error. I've copied the posted schema snippet and created the custom resolver with the provided request template and it does appear to increment the amount when running the mutation without further errors. Can you share the `CustomResources.json` snippet for th

[2021-08-18 18:35] josefaidt commented on #7741
Hey @jmarshall9120 :wave: just wanted to follow up on @kaustavghosh06's comment above to see if you have any feedback you'd like to provide on your ideal experience?

[2021-08-18 18:37] josefaidt commented on #7841
Hey @rajnikumari022 :wave: just wanted to follow up on @kaustavghosh06's comment above to see if the storage category was configured using the Amplify CLI?

[2021-08-18 18:38] josefaidt commented on #7721
Closing due to inactivity. @martijnvdgrift if you feel this is in error and are still experiencing the issue please reply back to this thread and we can re-open to investigate further. 🙂

[2021-08-18 18:38] #7721 closed

[2021-08-18 18:39] dcfranca commented on #7824
@josefaidt It was really nice talking to you, thanks for taking the time to go through it

[2021-08-18 18:54] josefaidt commented on #7787
Hey @mjza can you share a few details about how you're adding the pipeline resolver? Is this done through the console? You should be able to add a custom resolver and add it as a pipeline resolver to the `CustomResources.json` file. Please refer to this [documentation page](https://docs.amplify.aws/cli/graphql-transformer/resolvers/#overwriting-resolvers) for more information about adding resolver

[2021-08-18 18:58] jonmifsud commented on #7853
I think this issue could be a side-effect from another AWS Service (not quite sure how all the pieces go/work together)

[2021-08-18 19:50] josefaidt commented on #7559
Hey @hisham and @chriskinzel are y'all still experiencing this issue? It appears y'all have identified a workaround despite it being a tedious one. Given the constraints from the service, I'll mark this as a feature request for the team to review further.

[2021-08-18 19:55] josefaidt commented on #7853
Hey @jonmifsud that's good to hear y'all were able to resolve the issue 🙏 . If you are able to identify when or what caused the issue originally I'd be happy to investigate further! I'll take a note of this issue to circle back and follow up in about a week 🙂

[2021-08-18 19:57] hisham commented on #7559
Yes it's still an issue. The workaround involved causes system downtime (since we have to remove the big package from lambda and so critical code can't run) so we haven't done it for critical Lambdas where we don't want any downtime.

[2021-08-18 20:21] josefaidt commented on #7407
Ah okay, does this existing feature request sound similar to what you're aiming to accomplish in regards to hosting multiple frontends with the same backend? https://github.com/aws-amplify/amplify-cli/issues/2022

[2021-08-18 20:25] josefaidt commented on #6582
Hey y'all :wave: are you still experiencing this issue with the [latest version of the Amplify CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.3.0)?

[2021-08-18 20:26] josefaidt commented on #7543
Hey @naveenkoduri  :wave: are you still experiencing this issue with the [latest version of the Amplify CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.3.0)?

[2021-08-18 20:29] josefaidt commented on #7715
Closing due to inactivity. @aachman22 if you feel this is in error are are still experiencing this issue with the [latest version of the Amplify CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v5.3.0) please reply back to this thread and we can re-open to investigate further 🙂

[2021-08-18 20:29] #7715 closed

[2021-08-18 21:26] johnreitano commented on #7853
This issue is no longer happening for me either. Thanks to those who fixed
the underlying issue!

On Wed, Aug 18, 2021 at 12:56 PM josef ***@***.***> wrote:

--
John Reitano
(619) 674-6211

[2021-08-18 21:31] jonmifsud commented on #7853
First Report from users that it stopped working was 29 July 21. The issue could have started 1 day before/overnight.

Fix was applied back on 11 Aug; (or night prior) as we had error on all transactions for the 11th due to the fix being applied.

Hope this helps - in both cases no actual code releases/changs/pushes can be attributed as none were made in between system working and stopped working.

[2021-08-18 22:36] thejasonfisher commented on #1774
This solution is complete garbage.  We still don't have support for passing these variables directly to a resolver?

[2021-08-19 00:29] tasugi commented on #7973
@edwardfoyle Thanks for your advice! I did it as you say. But `amplify env checkout` does not work yet. Here is the messages.(I hide some secrets)

[code]

[code]

[2021-08-19 02:00] matart15 commented on #7975
@edwardfoyle  thank you.
Closing the issue

[2021-08-19 02:00] #7975 closed

[2021-08-19 08:09] bajcmartinez opened #7991 "Amplify codegen typescript generates every field, mandatory or not as optional."
**Which Category is your question related to?**
Code gen

**Amplify CLI Version**
5.3.0

**What AWS Services are you utilizing?**
GraphQL API & CodeGen

**Provide additional details e.g. code snippets**
When generating a model in my schema.graphql, e.g.:

[code]

Then when I run codegen to generate types, all fields are generated as optional:

[code]

There's still a difference between optional an

[2021-08-19 09:18] laisnegautier commented on #5832
I created a SSR project (with NuxtJS) with amplify configured in eu-west-3 by not using "amplify configure", but just "amplify init" with a eu-west-3 configured profile. With this, it's possible to add api and auth in the region etc... But there are issues in the console (for the hosting part) which doesn't build my backend because amplify cli doesn't support eu-west-3.

Sticking to static generat

[2021-08-19 09:42] jonmifsud commented on #7853
@josefaidt - this seemingly cost us over $1000 to fix the bug temporarily as we had to switch on logs for AppSync which processed far more data than anticipated.

[2021-08-19 10:50] aj120426394 commented on #7359
I ran into this problem today. After few hours of try and error, for people who have the same issue maybe you can try this solution.

I crated an OIDC idp via AWS Cognito console manually. It was working when I manually add OAuth config in `index.js` like this:
[code]

However, we have multiple backend environment. We decide to setup OAuth config via `amplify-cli` to allow the domain be dynamic. T

[2021-08-19 12:41] rajnikumari022 commented on #7841
Hi All,

I have also created the same issue under amplify-js and they are already working on the fix . You can find more details here: https://github.com/aws-amplify/amplify-js/issues/8675

Thanks a lot for your support.

[2021-08-19 16:22] josefaidt commented on #6592
Hey @jmbarroso :wave: apologies for the delay! I was able to reproduce using a similar Lambda function based on the provided template:

[code]

Which outputs the following:

[code]

After deploying the services I am seeing the same results in the console, however testing the function using the provided `event.json` yields the correct result (both in Lambda Console and `amplify mock function`):

[c

[2021-08-19 17:17] edwardfoyle opened #7992 "Lambda function pinned to specific lambda layer version refs incorrect layer in multi-account multi-environment projects"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-19 17:44] #7977 closed

[2021-08-19 18:34] josefaidt commented on #6602
Hey @brrcrites just wanted to follow up to my previous message to see if you are still experiencing this issue?

[2021-08-19 18:50] josefaidt commented on #7485
Hey @9037568 :wave: apologies for the delay! I've confirmed I was also able to reproduce this when using `amplifyAdmin` to authenticate. Marking this as a bug to add `dynamodb:ListTables` to the Amplify Admin user.

As a workaround we can run `amplify configure project` and make selections to the prompts as follows:

[code]

This will allow us to choose an AWS profile to authenticate with rather t

[2021-08-19 19:39] edwardfoyle commented on #7973
@tasugi sorry my previous comment was wrong. You should be able to pull the production environment just using the first command: `amplify pull --appId <your app id> --envName production`.

The reason switching environments isn't working is because you are selecting "no" to "Do you plan on modifying this backend?" When that selection is "no" pull does not pull the amplify backend folder and you can

[2021-08-19 21:11] djwood opened #7993 "GraphQL Transformer not providing $condition input for update mutation"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
I've seen in many examples (e.g. https://github.com/dantasfiles/ExploreAmplifyAPI) where $condition input (in the form of Model{name}ConditionInput) is generated onto the create, update, and delete mutations (presumably via codegen). However, I'm not seeing this in my implementation:

**To Reproduce**

_sc

[2021-08-19 21:11] djwood opened #8494 "GraphQL Transformer not providing $condition input for update mutation"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
I've seen in many examples (e.g. https://github.com/dantasfiles/ExploreAmplifyAPI) where $condition input (in the form of Model{name}ConditionInput) is generated onto the create, update, and delete mutations (presumably via codegen). However, I'm not seeing this in my implementation:

**To Reproduce**

_sc

[2021-08-19 21:16] mariusbutuc commented on #7777
Removing λ-function environment variables is still buggy in `@aws-amplify/cli@5.3.0`.

It will likely be fixed when `*5.3.1` is out, as it contains #7917.

[2021-08-19 21:31] hackrx opened #7994 "allow cognito authenticated users to publicly access s3 objects without x-amz-security token"
**Which Category is your question related to?**
This question is related to the s3 bucket and allowing authenticated users to access the bucket files without needing any token or `x-Amz-Signature` without expiry.
So I have a specific use case, in which I want cognito pool users (authenticated from google) to access bucket objects publicly and they should not need any token to use or render the fil

[2021-08-19 22:32] mauerbac commented on #7853
Hi @jonmifsud - thanks for working with us to get to the bottom of this issue. I want to ensure we address any AWS service cost that may not be expected.  I've sent an email to the address listed on your profile -- I'd love to setup time to chat with your and our team.

[2021-08-20 01:13] tasugi commented on #7973
@edwardfoyle I see. I don't think that `amplify pull` does not work as you intend.
At the first time I do `amplify pull`, it works well. I mean the backend is switched to the production by using `amplify pull --appId <your app id> --envName production`.

But after that,  I run the command `amplify pull --appId <your app id> --envName staging`, and there is no change in my working directory. Enviro

[2021-08-20 03:22] Chesong-Lee-Hospii opened #7995 "Build error with auto-generated API.swift file"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-20 04:41] Chesong-Lee-Hospii commented on #7995
The fix is everywhere where it says `(\.snapshot)` you can replace it with `{ $0.snapshot }` but the issue is you shouldn't edit that file because it's generated

[2021-08-20 07:49] ababushkin commented on #3326
Perhaps the category of "SQS" doesn't make sense given the use-cases mentioned, and something more like: `job` instead?

`amplify add job`

Which prompts you to:

- Specify a name for the job (this determined the queue name + function that will grab items from the queue)
- Specify if the job should use a FIFO or standard queue type

Later on, you can:

`amplify update function` and give access to

[2021-08-20 08:51] bpmweel commented on #4568
I have tried to fix my circular dependency by setting `breakCircularDependency` to true in my cli.json. This helped to alleviate the circular dependency, but it somehow managed to removed the access to add users to a group from the PostConfirmation function (which it provides out of the box previously).

I got the error message:
[code]

I added the following block from a previous version of the co

[2021-08-20 11:59] AlessandroVol23 commented on #7906
I have exactly the same issue

[2021-08-20 12:15] AlessandroVol23 opened #7996 "Amplify won't delete bot in AWS but locally"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-20 14:04] josefaidt commented on #7996
Hey @AlessandroVol23 :wave: thanks for filing this! I was able to reproduce with the steps provided, marking this as a bug 🙂

[2021-08-20 14:07] alexhouse commented on #3222
Would be great to see this included. I have a bit of a hybrid system where one Dynamo record can be updated by two different sources. Step functionality would allow me to only run certain lambda functions depending on the originating source (API Gateway triggers a lambda function to update a record; Dynamo Stream then fires another lambda function that sends an API request to a third party)

[2021-08-20 19:29] edwardfoyle commented on #7973
@tasugi I don't think I'm able to reproduce the error you're seeing. Just to make sure I've got the steps right, here's what I did:
1. `amplify init --yes`
2. `amplify add function` add a default function just so the project isn't empty
3. `amplify push --yes`
4. `amplify env add envB`
5. `amplify push --yes`
6. in a new directory, run `amplify pull --appId <app id of project> --envName envA` sele

[2021-08-20 20:41] kahdojay commented on #5949
Leaving a note here for posterity - if the issue is one of what version the Amplify CLI is being used during CI/CD in Amplify Console, customers can check their Build Settings and leverage the [Live Package Updates](https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html#setup-live-updates) feature to ensure they're using the latest or a specific version of the Amplify CLI.

[2021-08-20 21:15] awhig opened #7998 "Authenticator Email Only Signup fails"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-21 08:54] andrecasal opened #8001 "Error "API does not exist" when calling API.post()"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-21 12:52] kgoyal98 opened #8002 "Signed URL from Storage.get() call not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-22 05:14] eric-zhu-uw opened #8003 "Build Failing Randomly Due to Package Locking (Works on Rebuild)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-22 06:52] luisalrp opened #8004 "Integrate Magic.Link within AWS Amplify ecosystem"
### Is this related to a new or existing Amplify category?

auth

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

Add [Magic.Link](https://magic.link/) as an OIDP.

### Describe the solution you'd like

Use Magic.Link as an IdP to work with AWS Amplify and relay on AWS powerful services to build on top and use Magic.Link functionality for web3 appr

[2021-08-22 09:36] onlineworld69 opened #8009 "UPDATE_ROLLBACK_FAILED state and can not be updated"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-adminui/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-adminui/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to include a minimal, self-contained set of instructions for consist

[2021-08-22 10:53] samuelm00 opened #8005 "Cant add admin queries with amplify update auth"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-22 11:49] davejab opened #8006 "Amplify pull: Failed to get profile: Profile configuration is missing for: undefined"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-23 00:48] dorontal commented on #7619
@pcstory and @josefaidt - I think that this may be closely related to #7839 and #7666. If so, then the PR already submitted should fix this.

[2021-08-23 04:40] fkunecke commented on #7994
I am not sure if this will help you, but this is my solution related to this.

Instead of getting the url on the client side, I get the signed URL from a lambda. This allows me to control who accesses some files, which may be of use to you in the future. Here's a basic working example:

[code]

When using it on the frontend, I can call it straight from an `img` tag:

[code]

[code]

[2021-08-23 05:18] tasugi commented on #7973
@edwardfoyle Thank you for the effort to reproduce it! I found that `amplify env list` worked well, but `aws-exports.js` was not changed after `amplify pull`.
I did following steps.

1. `amplify init --yes`
2. `amplify add api` to have `aws-exports.js` include backend info
3. `amplify push --yes`
4. `amplify env add envB`
5. `amplify push --yes`
6.  Created new directory, and inside it run `amplif

[2021-08-23 11:36] danielvouch opened #8007 "Non-model AppSync Lambda resolver does not inherit query data"
**Which Category is your question related to?**
API (GraphQL)

**Amplify CLI Version**
5.0.0

**What AWS Services are you utilizing?**
API, Auth, Video, Notifications, Strorage

**Provide additional details e.g. code snippets**
We are currently having an issue with nested non-model types using AppSync we have created a lambda called `gettranscriptionbody` which will get some body of text however,

[2021-08-23 11:53] Smorgaz opened #8008 "Resolvers for Update-Mutation don't work for RDS Source"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-23 12:55] josefaidt commented on #7999
Hey @nilyin :wave: thanks for raising this! This issue appears to be related to the policy that is attached to the `amplifyadmin` user that is configured. I did notice on an existing project this policy does not have the `cognito-idp:AddCustomAttributes` permission. Can you confirm whether this permission is available in the policy for role `eu-central-1_nLad7ZReL_Full-access` in the IAM console?

[2021-08-23 13:13] alexduros commented on #5832
Same here ! Not able to deploy a SSR project un eu-west-3 as amplify CLI is not available there.
Not completely clear for me on what is missing on AWS part to open it (as the service is already available in static mode) .
Please add eu-west-3 🙏

[2021-08-23 15:39] cfbo opened #8010 "Removing all resource access permission is not possible in a function"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-23 15:43] josefaidt commented on #7998
Hey @awhig :wave: thanks for raising this! The change to use username alias attributes was recent, and the issue you are experiencing does appear to be related to the mentioned issue. Labelling this as a duplicate auth bug and closing in favor of tracking #7833. Please subscribe to the mentioned issue for updates 🙂 and we will work with the folks maintaining the components to find a suitable solut

[2021-08-23 15:43] #7998 closed

[2021-08-23 15:59] josefaidt commented on #8010
Hey @cfbo :wave: thanks for filing this! I was able to successfully reproduce with the steps provided and am unable to remove access permissions to my API resource. Marking this as a bug 🙂

[2021-08-23 16:37] cfbo commented on #7672
Any update?

[2021-08-23 16:38] cfbo commented on #5972
Any update?

[2021-08-23 18:34] BruceWheaton opened #8012 "PostConfirmation Add User to Group trigger has inadequate IAM role permissions"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-23 18:38] josefaidt commented on #8005
Hey @samuelm00 :wave: thanks for raising this! I was able to reproduce with the provided steps, and also noticed the Admin Queries API is also not getting created when stepping through `amplify add auth`. Marking this as a bug 🙂

[2021-08-23 19:10] josefaidt commented on #8006
Hey @davejab :wave: thanks for raising this! To clarify, are you executing the `amplify pull...` command in the directory where we have freshly cloned the existing Amplify project from a git repository? If so, can you try running `amplify init` rather than the pull? This should prompt whether you want to use an existing environment and also allow you to choose the preferred authentication method.

[2021-08-23 19:23] andrecasal opened #8020 "API does not exist on API.post()"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-23 19:27] adam-nygate commented on #7883
For anyone else having this error when using yarn v2 for their project:
[code]

We fixed this with a simple workaround:
- Create a shared `.yarn/releases` folder somewhere in the root of your project directory
- Download a yarn v1 release to this directory (I.e. `yarn set version classic`)
- Create a `.yarnrc.yml` in each of the Amplify Functions src directories(`amplify/backend/function/**/src`)

[2021-08-23 20:20] davejab commented on #8006
Hi @josefaidt thanks for your response. Yes I am running `amplify pull...` in the root of the project directory that has been freshly cloned. I have attempted the same steps with `amplify init...` however this results in a mismatch of appId. My intention here is to onboard additional developers to work on the same deployment.

[code]

[code]

[2021-08-23 20:52] SwaySway commented on #7963
Hi @michaelbrewer
We are currently planning on including this in the next version of the transformer, can't specify a date yet. Marking this issue as tracking in v2, our team will provide an update on this thread regarding this feature.

RFC: https://github.com/aws-amplify/amplify-cli/issues/6217

[2021-08-23 21:08] attilah commented on #8005
@samuelm00 this is by design, as you cannot expose Admin Queries API without securing it, that's why the question is asked, however I think the DX could be enhanced here to give proper feedback that answering to that question will lead to not to have Admin Queries in your project because as I see it is confusing.

[2021-08-23 22:40] MontoyaAndres commented on #1695
I tried something like this; In the backend-config.json

[code]

But I got this error:

[code]

How can we get this value from a lambda?

[2021-08-23 22:47] attilah commented on #7996
Upon further investigation it seems that the Delete handler is missing in the Lambda Callout we are provisioning for the resource.

[2021-08-23 22:49] attilah commented on #8001
@andrecasal could you share what do you have in your `aws-exports.js` file, redact the unique ids, arns from it before posting.

It looks like an Amplify JS issue though.

[2021-08-23 22:51] attilah commented on #8002
It sounds like an Amplify JS issue, transferring to their repository.

[2021-08-23 22:58] attilah commented on #8003
This seems to be a local issue either to your Python installation or Windows antivirus configuration as the CLI is only invoking `pip install`. Try to run the same command but exclude that given folder in your antivirus/Windows defender configuration.

also manually create the virualenv and do a pip install in the function's folder to see if that would succeed.

[2021-08-23 23:06] attilah commented on #8009
@onlineworld69 could you provide the repro steps by redoing what you try to achieve with amplify CLI commands? or rephrase the repro steps to be able to better understand what could cause the issue?

Also what errors can you see in the CloudFormation console for that stack? The reason why the update rollback failed should be visible there.

[2021-08-23 23:09] brrcrites commented on #6602
@josefaidt the issue was/is still outstanding, however since its as blocking development we reverted back to 4.16.1 for performing our deployments. Initially the reversion was causing errors in our CI/CD pipelines (although not when running the CLI locally) but I was able to update some of the `*-info.json` files and get it to correctly deploy again

[2021-08-23 23:14] attilah commented on #8007
Can you share what is the actual query you try to execute?

[2021-08-23 23:21] danielvouch commented on #8007
Thanks for getting back to us @attilah!!

[code]

[2021-08-24 00:04] MontoyaAndres commented on #1695
I could fix it! It is a solution TOO manual but works great :).

First, in the `backend-config.json`, in your lambda function, you will add the `AppClientIDWeb` as an attribute, like this:

[code]
Then, there's something hidden, if you do `cat amplify/backend/awscloudformation/nested-cloudformation-stack.yml` (Cat is a command from Linux), you will see the main stack, and this one has something in

[2021-08-24 01:53] BruceWheaton opened #8016 "Amplify CLI 5.3 creates cognito pool with username plus email alias, *not* email as user name"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-24 04:04] onlineworld69 commented on #8009
Hello @attilah. As I think it's easier for me to show you in video form about the repro steps. Please check it out: https://vimeo.com/591384678/d776819efb

I am looking forward to hearing from you soon.
Thank you!

[2021-08-24 06:31] samuelm00 commented on #8005
@attilah thanks for clarification, it would also be great to mention it in the docs

[2021-08-24 07:11] Bersaelor commented on #7947
The pool was external to Amplify, as it was shared with a larger Cloudformation setup, that was created outside of Amplify.

[2021-08-24 07:53] andrecasal commented on #8001
I fixed it by manually extending the config file. Here's my fix:
[code]

Manual config:
[code]

aws-exports.js:
[code]

[2021-08-24 08:38] nathanagez opened #8018 "Support for Kinesis Firehose and his destinations"
### Is this related to a new or existing Amplify category?

analytics

### Is this related to another service?

Athena, S3, AWS Glue, Redshift, Kinesis Data Analytics

### Describe the feature you'd like to request

Currently, the amplify-cli analytics category plugin only supports Pinpoint and Kinesis data streams, then requiring the end user to manually connect the destination services once conf

[2021-08-24 10:41] andrecasal opened #8019 "API Gateway CORS is blocking localhost access"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-24 11:04] andrecasal commented on #8019
Could this be a CloudFront problem?

<img width="1278" alt="Screenshot 2021-08-24 at 12 03 20" src="https://user-images.githubusercontent.com/22457463/130605913-cf231f54-94dd-4485-8191-c3d5fa99fc62.png">

[2021-08-24 12:27] RoniqueRicketts commented on #8019
I have the same issue I am on the same version on Amplify (the same issue was on the previous version also). I am on Windows 10 OS. What I found out for this issue so far:
1. The request never reaches the Lambda functions connected to the API.
2. If I turn off Authenticated users only I am able to hit the open API with the same failed frontend request from before and get a 200 response.
3. Disabli

[2021-08-24 15:02] sammartinez commented on #8020
cc @kaustavghosh06 for visibility since @renebrandel is out

[2021-08-24 15:50] ShehryarKh opened #8022 "Unable to connect to an existing backend though CLI"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-24 15:58] pjsandwich commented on #8012
I'm also having this issue. The sign up flow works, but I don't receive the confirmation email, user is UNCONFIRMED in the cognito user pool. While attempting to manually confirm the user as an experiment to learn more about the issue, I receive this error:

[code]

While the user still doesn't receive the confirmation email and the error indicates that manually confirming the user failed, when I

[2021-08-24 15:59] flutteresbolivia opened #8023 "@Zanndorin @xavierraffin Are you still facing this problem?"
@Zanndorin @xavierraffin Are you still facing this problem?

_Originally posted by @ammarkarachi in https://github.com/aws-amplify/amplify-cli/issues/4952#issuecomment-803171617_

i have this problem!

[2021-08-24 16:12] pjsandwich commented on #6700
+1

[2021-08-24 16:34] AlessandroVol23 opened #8024 "Support for Lex V2: Chatbots are not available in new console"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-24 17:00] kldeb opened #8025 "Creating new env with old env names fails"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-24 17:44] josefaidt commented on #7973
Hey @tasugi thanks for the information and detailed reproduction steps! Given this exports file is created on initial pull in a clean directory (i.e. no existing `amplify` folder) and is [updated on `push`](https://docs.amplify.aws/cli/reference/files/#aws-exportsjs), there is currently not an effective solution to update/re-generate the exports file when selecting "No" to "Do you plan on modifyin

[2021-08-24 17:51] ZehCoque commented on #5271
Let's not let this thread be forgotten!! We need the sa-east-1 to be as native as possible with amplify!

[2021-08-24 18:51] hisham opened #8027 "Clarify timezone for Lambda recurring schedule"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
function

**Amplify CLI Version**
5.3.0

**What AWS Services are you utilizing?**
Lambda

**Provide additional details e.g. code snippets**

When I setup a lambda on recurring schedule, the default time amplify cli suggest is current time on my local machine. So

[2021-08-24 18:54] kaustavghosh06 commented on #7815
We have a fix for this in the pipeline and we're working on a release for this - https://github.com/aws-amplify/amplify-cli/pull/7990

[2021-08-24 18:55] kaustavghosh06 commented on #7815
Closing as a duplicate of  #7977

[2021-08-24 18:55] #7815 closed

[2021-08-24 19:00] attilah commented on #8005
Closing the issue and will track it in docs repo: https://github.com/aws-amplify/docs/issues/3526

[2021-08-24 19:13] attilah commented on #8009
Thanks for the video, I appreciate it.

So the push cannot succeed because your stack is in an error state, that is something that cannot be fixed from the CLI side but requires manual fix in CloudFormation.

What is interesting is to know how did you get there, since if that happened with normal CLI/Admin UI operations then we have an issue to solve.

Amplify CLI deployes a root stack and a serie

[2021-08-24 19:18] attilah commented on #8001
@andrecasal I'm glad that you unblocked yourself! What you have in the awsexports file clearly shows that file is outdated. Is that possible that you pushed your project from amplify CI/CD and the changes to awsexports were not commited back to git? because the CLI generates this file on `env checkout` and on `push` operations.

The problem with maintaining the config in code is that you have to d

[2021-08-24 19:21] attilah commented on #8020
Duplicate of #8001 8001

[2021-08-24 19:21] #8020 closed

[2021-08-24 19:33] andrecasal commented on #8001
Hey @attilah I did `amplify push` after `amplify add/update api`.

amplify status shows no changes:
<img width="442" alt="Screenshot 2021-08-24 at 20 32 11" src="https://user-images.githubusercontent.com/22457463/130678522-f66a7f8d-b0a8-4fef-adc1-8121c49e2808.png">

But I did `amplify push` just now and the `aws-exports.js` file didn't change.

[2021-08-24 19:38] kaustavghosh06 commented on #8001
@andrecasal Could you please share your `<project-root>/amplify/.config/project-config.json` file with us?

[2021-08-24 19:40] andrecasal commented on #8001
Sure. Here's my `project-config.json`:

[code]

[2021-08-24 19:45] josefaidt commented on #8006
Hey @davejab thanks for the info! Are you running `amplify init` and choosing a profile that is different from the original creation? What does the `local-aws-info.json` file look like?

[code]

When you run `amplify init` and step through the prompts are you able to select `Amplify Admin UI` to authenticate and not create a different app?

[2021-08-24 19:53] attilah commented on #8018
@nathanagez thanks for letting us know, it looks useful at first sight, assigning our PM @renebrandel to make him aware!

[2021-08-24 20:11] attilah commented on #8016
Duplicate of #7666

[2021-08-24 20:11] #8016 closed

[2021-08-24 20:19] attilah commented on #8012
Duplicate of #7582

[2021-08-24 20:19] #8012 closed

[2021-08-24 20:22] attilah commented on #8027
@hisham thanks for the heads up I mark it as a bug because it is an easy DX change in the prompts, the time given is in UTC as you also figured since that's how Lambda works: https://docs.aws.amazon.com/lambda/latest/dg/services-cloudwatchevents-expressions.html

[2021-08-24 20:28] kldeb commented on #8025
Looking at local-aws-info.json file the env was not created with the profile selected.

[2021-08-24 20:28] attilah commented on #8024
Based on the announcement this is by design by Lex: https://aws.amazon.com/about-aws/whats-new/2021/07/amazon-lex-announces-tooling-to-migrate-bots-from-lex-v1-console-to-lex-v2-console/

Amplify CLI does not support Lex V2 which is a full set of new APIs not just a new Console it seems.

I mark it as a feature request.

[2021-08-24 20:31] attilah commented on #8023
@flutteresbolivia closing the issue as the referenced issue is already fixed since, if it still persist with latest CLI open a bug report with the new issue template to be able to help you.

[2021-08-24 20:31] #8023 closed

[2021-08-24 20:44] josefaidt commented on #8008
Hey @Smorgaz :wave: thanks for raising this! I was able to reproduce by following the tutorial from our docs site, and noticed the mutations were generated as follows:

[code]

After removing the extra curly brace after the ID `WHERE id=$ctx.args.updateCustomersInput.id}`, I was able to update existing customer resources.

[2021-08-24 21:14] davejab commented on #8006
@josefaidt the profile I am selecting is the same as the one I set up Amplify originally with (although I have renamed it locally)

```local-aws-info.json``` after running ```amplify init```:
[code]

When running ```amplify init``` i do not get the option to select ```Amplify Admin UI```

Interestingly, I can still pull successfully without specifying ```--appId``` & ```--envName``` despite the ap

[2021-08-24 23:00] attilah commented on #8022
@ShehryarKh the `status` command is fully reimplemented in 5.3.1 that was released Today, give it a try, that error message was not showing when I tried to reproduce the error.

During pull if you answer `No` to the `Do you plan on modifying this backend?` question your backend files will not be downloaded, but everything that is needed to regenerate your frontend configuration files will be there

[2021-08-24 23:00] #8022 closed

[2021-08-24 23:02] attilah commented on #8004
@luisalrp could you describe more the use case you'd like to supported by Amplify CLI, describing which services would be involved, what features of Magic.Link would you use and how, to help us get a better grasp over what you try to achieve.

I assigned this issue to our PM @renebrandel for visibility.

[2021-08-24 23:05] attilah commented on #8001
@andrecasal would you execute this cmd in a newly created empty directory and check what you have in your awsexports?

[code]

Answer `No` to the `Do you plan on modifying this backend` question.

[2021-08-25 00:10] tasugi commented on #7973
I'm glad you were able to reproduce it! I'm waiting for the fix of this issue. 😃

[2021-08-25 01:12] pedramp20 commented on #7672
This is a missing feature. We are also dealing with this problem!

[2021-08-25 04:52] eric-zhu-uw commented on #8003
This issue only occurs when I deploy to amplify. Whenever I build locally to mock the function or run pip install, there are no issues. Not sure if you have access to my AWS logs and view the build results in more detail...

[2021-08-25 06:14] AlessandroVol23 commented on #8024
Ah, sorry I thought it is just a new console. Thank you!

[2021-08-25 06:30] Smorgaz commented on #8008
I also got additional `s`. I assumed the generated Code expects the table names to be singular like it does with the `@model` types for DynamoDB. An other issue that popped up was table names in all lowercase. In the resolvers those names are sometimes Capitalized and sometimes not. If in your example above, you named the table `customers`, the mutation would look something like this:

    {

[2021-08-25 07:04] andrecasal commented on #8001
`aws-exports.js` is different now:
[code]

So how can I make this file show up on my other project? Should I just delete aws-exports.js, the amplify folder and run the same command again?

What does it mean `Do you plan on modifying this backend? No`? I can't make further changes to the backend? This doesn't seem to make a lot of sense to me.

[2021-08-25 07:57] onlineworld69 commented on #8009
Tks for the timely response. Here is CFN failure stack. Please advise!

[CFS.pdf](https://github.com/aws-amplify/amplify-cli/files/7044910/CFS.pdf)

[2021-08-25 09:49] andrecasal commented on #8001
Ran `amplify push`, `amplify pull`, `amplify pull --appId <appid> --envName production`. Neither of these commands updated `aws-exports.js`.

[2021-08-25 11:05] andrecasal commented on #8019
This is weird because the preflight request says I can POST from any URL:
<img width="778" alt="Screenshot 2021-08-25 at 12 00 47" src="https://user-images.githubusercontent.com/22457463/130779732-512ab582-aad4-4d1a-9437-309df2fae470.png">

But the request itself fails with AccessDeniedException:
<img width="621" alt="Screenshot 2021-08-25 at 12 02 51" src="https://user-images.githubusercontent.co

[2021-08-25 12:22] josefaidt commented on #8019
Hey y'all :wave: after restricting access to the API route, I was able to add the CORS headers (or uncomment what's provided from the templates) to mitigate this issue

[code]

and my sample app.js file in a Next.js app making the call with authentication

[code]

[2021-08-25 12:24] naseer036 commented on #1865
this is very frustrating. a lot of our clients complain about using the next button multiple times to reach their page. I cannot implement the goto page without knowing the page number. any update on this?

[2021-08-25 12:38] biller-aivy commented on #1865
Since there is obviously no real support from DynamoDB here, which is fine, you should generally take a different approach.
We have the @search directive, what if there is also the @sql or @athena directive from Amplify?

I myself currently have the setting:
DynamoDB is searched 2 times a day by a crawler (AWS GLUE) and the new entries are stored in a SQL capable copy under S3 in parquet format.

[2021-08-25 12:43] skryshi commented on #3081
+1 for PostregSQL support

[2021-08-25 12:54] matart15 commented on #1865
The current problem I am facing is  `Search + pagination`

user can search by `title_start_with`

Now I have to make my mode @searchable to jump specific pages, Plus I have to calculate the total count with a different query. Which is the whole implementation of DB search from scratch. What if a user can search by combination of 5 fields.

If I have to manually implement this, there is no merit in

[2021-08-25 13:06] pjsandwich commented on #8012
@BruceWheaton, that would be great, still unsure what the fix is

[2021-08-25 13:10] andrecasal commented on #8019
@josefaidt I've tried that but my request is being blocked before it hits the function. I know that because when I remove authorization, I can see logs for the Lambda function and when I add authorization and get the error, those logs don't show up.

How did you add the API and function? Did you run `amplify add api`?

[2021-08-25 13:42] josefaidt commented on #8019
Hey @andrecasal yes I used `amplify add api` and added a GET and POST route.

1. add the API with an unsecured route to confirm no CORS issues
[code]
2. secure the route
[code]
3. modify the Lambda handler to include CORS headers
[code]
4. add a POST route
[code]
5. modify the Lambda handler to respond to POST requests and include CORS headers
[code]
6. run `amplify push`
7. in my frontend Next.js

[2021-08-25 14:36] duwerq commented on #1865
If you have records that are in the 15,000 or less range, a potential solution would be to grab the first set of results and do a "pagination" query on a separate GSI for the whole set of records

**Won't that Query for the whole set of records be expensive? **
 No, it doesn't have to be.  In the new GSI you'll only use the `KEYS_ONLY` Attribute projections, ie PK/SK, which will only store the PK/

[2021-08-25 14:38] RoniqueRicketts commented on #8019
@josefaidt I tried your above suggestion line by line and it didn't work I am still getting a cors error. I've even names the files the same way you've named yours. I am getting the error Cors Error - ```Cross-Origin Resource Sharing error: MissingAllowOriginHeader```. This said that x-cache ``Error from cloudfront``` and ```x-amzn-errortype: AccessDeniedException```. When I check cloudfront I see

[2021-08-25 14:56] duwerq commented on #1865
I could be mistaken but I thought Elasticsearch returns `hits.total` for any query.  Couldn't you use that?  This is an old resolver template from Amplify early days:

[code]

[2021-08-25 15:05] #7970 closed

[2021-08-25 15:05] #7949 closed

[2021-08-25 15:07] josefaidt commented on #8019
@andrecasal what is the `aws-manual-config` import? We should be able to import the exports directly and configure. Can you paste the contents of your `aws-exports.js` file, omitting sensitive information?

[code]

@RoniqueRicketts how are you calling the API? What is the status code you're receiving on the failed call?

[2021-08-25 15:11] #7825 closed

[2021-08-25 15:13] andrecasal commented on #8019
I just clone the project and ran `amplify pull --appId <appid> --envName production`. The aws-exports.js:
[code]

My `aws-manual-config.js` file:
[code]

[2021-08-25 15:14] josefaidt commented on #8019
Thanks @andrecasal for the information, are you able to import just the generated `aws-exports.js` file and configure Amplify?

[code]

[2021-08-25 15:15] RoniqueRicketts commented on #8019
@josefaidt That's the thing there is not status code. it just says Cors error
![cors error](https://user-images.githubusercontent.com/17409035/130817333-f5b86d7c-da13-4880-8b45-b6ef13ac68bb.PNG)
This is what it looks like.

[2021-08-25 15:17] #7926 closed

[2021-08-25 15:17] andrecasal commented on #8019
Yeah, I cloned my project, deleted the `amplify` folder and the `aws-exports.js` file, ran `amplify pull --appId <appid> --envName production` and change the code to:
[code]

[2021-08-25 15:18] andrecasal commented on #8019
I think @RoniqueRicketts and me have the exact same problem.

[2021-08-25 15:22] andrecasal commented on #8019
I'm on it.

[2021-08-25 15:25] RoniqueRicketts commented on #8019
Error 403

[2021-08-25 15:26] andrecasal commented on #8019
Oh, it shows up here (403 Forbidden):
<img width="1672" alt="Screenshot 2021-08-25 at 16 25 57" src="https://user-images.githubusercontent.com/22457463/130819237-3a6c5eda-d1f8-46cf-99ad-f3ae31f33b94.png">

[2021-08-25 15:57] josefaidt commented on #8019
Ah thank you @andrecasal and @RoniqueRicketts ! This error appears to be common in a failed call, for instance if we make a POST call to a GET only route.

What dependencies are installed for the frontend? I'm installing the following:

[code]

[2021-08-25 16:20] andrecasal commented on #8019
It's private but I can give you access.

[2021-08-25 16:22] andrecasal commented on #8019
I can't find you on GitHub 🤔
<img width="397" alt="Screenshot 2021-08-25 at 17 21 47" src="https://user-images.githubusercontent.com/22457463/130828027-9437d93d-3e8d-4fb2-b250-d111541ff6ee.png">

[2021-08-25 16:31] josefaidt commented on #8019
@andrecasal try searching without the leading `@`

[2021-08-25 16:36] josefaidt commented on #8019
I've pushed my Next.js example to its own repo https://github.com/josefaidt/8019

[2021-08-25 16:46] andrecasal commented on #8019
I've invited you now 👍

[2021-08-25 16:48] andrecasal commented on #8019
I've invited you now 👍

[2021-08-25 16:52] andrecasal commented on #8019
I'm trying to rebuild the whole backend from scratch on a clone project. I forgot to `npm install stripe` on the Lambda function for this clone. It's funny that the exact same CORS error shows up. The only difference is the `x-amzn-errortype` header.

<img width="1673" alt="Screenshot 2021-08-25 at 17 50 54" src="https://user-images.githubusercontent.com/22457463/130832373-9e72dabb-4b7a-4a1c-a5a8-

[2021-08-25 17:57] ScottSWu opened #8030 "Enabling replication on an S3 bucket hangs during push and fails with "Internal Failure""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-25 19:23] hisham opened #8034 "One lambda to handle all cron events or one lambda per cron event?"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

Lambda, Eventbridge

### Describe the feature you'd like to request

One lambda should be able to handle multiple recurring events with different schedules.

### Describe the solution you'd like

Instead of having 1:1 relationship between EventBridge and Lambda for recurring tasks, it mig

[2021-08-25 21:47] #8030 closed, assigned to nobody

[2021-08-26 04:56] hanachan1026 opened #8039 "amplify init fails"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-26 14:42] AceroM opened #8043 "Error: Could not load lambda handler function due to SyntaxError: Unexpected token '.'"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-26 15:15] noobling opened #8044 "authRole/unauthRole doesn't exist when running amplify init from getting started guide on new aws account"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

`amplify init` failing

Asking for help because there is no obvious way for me to fix this. Simply says these IAM roles don't exist when they do. Looks like some service limit #353 could be culprit but there is no way for me to know which service I need to request for quota increase?

**Which Category is your

[2021-08-26 15:18] karldanninger opened #8045 "AppId hardcoded when adding secrets (ASM) to lambda functions"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-26 16:33] #8043 closed, assigned to cjihrig

[2021-08-26 17:46] #8044 closed, assigned to cjihrig

[2021-08-26 20:13] 24jr opened #8048 "Svelte (sveltekit) setup directions"
Hi how do I setup everything with svelte. I made a basic todo data table and ran
`npm install -g @aws-amplify/cli` and
`amplify pull --appId dow1rgk3tgdlq --envName staging`.

Then fill out questions using vs code ya framework none(svelte not option) got error "Must use import to load ES Module" am I supposed to add `import Amplify from 'aws-amplify'` somewhere line in vue? I dont see a main.js fi

[2021-08-26 20:47] #8048 closed, assigned to nobody

[2021-08-26 22:50] 24jr opened #8050 "Where do I put amplify config in sveltekit"
In vue and such need to do
[code]
in main.js Where do i do this in sveltekit?

I tried in the __layout.svelte script but perhaps this is a sveltekit question because idk what the main.js equivelant is but i get error when i tried this saying "Uncaught (in promise) ReferenceError: global is not defined"

I see people r getting this with aws stuff and saw some said stuff like put global = window but

[2021-08-27 03:12] #8050 closed, assigned to nobody

[2021-08-29 06:28] mogarick commented on #5542
In summary, most of the time the behavior reported in this issue is due to the way subscriptions work. If the behavior is different then it is indeed an error.

What @aleksvidak said is kind of expected.

According to the [AppSync](https://docs.aws.amazon.com/appsync/latest/devguide/aws-appsync-real-time-data.html) docs this seems to be the expected behavior.

And this part is clearer:

Hope this

[2021-08-29 15:19] pepso opened #8058 "Improved release process / changelog: Human written updates for breaking changes, fixes to long standing issues, accidental breaking changes fixes, and any software behavior change in general"
### Is this related to a new or existing Amplify category?

function, api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

**I would like to have a "useful" changelog so I wouldn't "waste" so much time and detail going through this repository.**

I have used amplify for a year or so now, and this have entailed a lot of frustration. This is pa

[2021-08-29 18:26] evertson90 opened #12006 "Set attribute mapping for Social providers"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

Authentication

### Is this related to another service?

Cognito

### Describe the feature you'd like to request

I would like the ability to configure Attribute mapping for Social providers (Google, Facebook etc.). Currently everytime we deploy we need to manually go into Cognito and

[2021-08-29 23:56] manu2504 opened #8059 "Amplify publish ignores the project-config.json's BuildCommand"
### How did you install the Amplify CLI?

npm

### If applicable, what version of Node.js are you using?

12.22.1

### Amplify CLI Version

5.3.1

### What operating system are you using?

Mac

### Amplify Categories

hosting

### Amplify Commands

publish

### Describe the bug

`amplify publish` tries to build the project with command `ng run app:build` while the build command specified in .confi

[2021-08-30 00:39] johnEthicalTechnology opened #8060 "Subscription resolution only for mutations that happening within ~5-10 seconds"
[AWS Amplify Console repository](https://github.com/aws-amplify/amplify-console/issues)

**Which Category is your question related to?**
Subscriptions

**Amplify CLI Version**
5.3.1
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Lambda
Cognito
AppSync
S3
DynamoDB

**Provide additional details e.g. code snippets**
I have two models

[2021-08-30 01:26] jasonhargrove commented on #8019
thanks @RoniqueRicketts, I followed your trail and solved my CORS issue, which suddenly appeared after adding groups and cognito in the identity pool

- sign in, confirm access to REST api
- sign out
- create new group on cli, push
- in the cognito UI, add user to the new group
- sign in, observe CORS error on same api
- sign out
- remove user from group in cognito UI
- sign in, confirm access to

[2021-08-30 01:57] jasonhargrove commented on #8019
not sure but did not seem to matter which order I added auth or api as reported, so I dug a little further

[code]

just now solved this with the cli, which is probably the intended flow

- after adding groups
- `amplify api update` choose `REST`
- select the api and path and follow the flow until you get to `restrict API access`
- select `restrict access by both` (auth and group)
- select `auth u

[2021-08-30 02:25] GeorgeBellTMH commented on #7905
At the least can we implement this on new functions? I would also suggest asking if it should be fixed on updates...there doesn't seem to be a lot of good reasons to have an incorrect package.json...

[2021-08-30 10:30] pepso commented on #8019
@josefaidt I strongly suggest this is not a documentation issue, but real technical problem with amplify-cli. Do I create a new issue, or can you reopen this and triage further as per my below details?

1. I have an API originally created with amplify-cli version ~4.20 with 10 or so paths all working fine and dandy
2. I was able to upgrade amplify-cli up to 4.52.0 version with manual workaround of

[2021-08-30 13:00] giulioambrogi opened #8061 "Impossible to setup Email only signup with cli"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-30 13:31] giulioambrogi commented on #8061
Looks like it's related to this issue: https://github.com/aws-amplify/amplify-cli/issues/7833#issuecomment-889596331

Temporary fix: downgrade to 5.1.2.

I'll let the admins close this one

[2021-08-30 13:44] pagameba commented on #1407
This is also an issue for me.  One key requirement is to have rollback support.  Our dev team uses multiple independent environments and we often push other branches during code reviews, then push another branch, effectively removing previously added resources.

[2021-08-30 15:46] cjihrig commented on #8061
Sorry for the inconvenience. I'll close this as being tracked in #7833.

[2021-08-30 15:46] #8061 closed

[2021-08-30 17:21] cjihrig commented on #8059
I think this is related to your use of ionic. From what I can tell, the Amplify CLI is running `ionic build`, and the error you're seeing is coming from there.

If I run through this issue without installing ionic, I see an error while running `ionic build`:

[code]

Additionally, the error message you're seeing can be reproduced without the Amplify CLI:

[code]

[2021-08-30 17:24] #6582 closed

[2021-08-30 17:29] #7543 closed

[2021-08-30 17:30] #7771 closed

[2021-08-30 17:32] #7985 closed

[2021-08-30 19:36] cjihrig commented on #8060
Hi @johnEthicalTechnology. If subscriptions are configured and at least partially working, then I don't think this is an issue with the CLI. It seems like the issue would be related to the client library or possibly even AppSync.

You could try enabling [monitoring and logging](https://docs.aws.amazon.com/appsync/latest/devguide/monitoring.html#cw-metrics) on your AppSync API and see if it uncover

[2021-08-30 20:43] attilah commented on #8045
Duplicate of https://github.com/aws-amplify/amplify-cli/issues/7825 and the fix for that is already merged, will be in the next release.

[2021-08-30 20:43] #8045 closed

[2021-08-30 22:47] menottiRicardo opened #8065 "Amplify creates duplicated files"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2021-08-30 22:48] h4rkl commented on #1865
I'm stopping dev on amplify about 5 days in for my project because of this. It's a basic function of any db, and the lockin with Dynamo isn't worth these issues. Very valuable info thanks :pray:

[2021-08-31 00:38] johnEthicalTechnology commented on #8060
@cjihrig okay, thanks.

Yeah, I wasn't sure if it was an issue with Amplify or not which is why I didn't make it a bug report.

Would you know if there's any other way to do what I want within the Amplify framework? Basically, the user will upload a file which will take a variably time to be processed and I want to automatically let them know when it's done.

[2021-08-31 01:11] mariusbutuc commented on #8045
Thanks for the follow-up @attilah; looking forward to `@aws-amplify/cli@5.3.2` then! 👍🏼

[2021-08-31 02:28] StriderHND commented on #7359
Any updates about this? I'm having the same issue as @aj120426394, tried his solution but still the problem persist.

[2021-08-31 09:01] shizhaojingszj commented on #4972
+1

[2021-08-31 09:25] manu2504 commented on #8059
Indeed, thanks for the extra check!

[2021-08-31 09:25] #8059 closed

[2021-08-31 13:50] pepso commented on #8019
I fixed my issue and identified a breaking change in the way how amplify handles api calls/paths between versions:

Background:
In my web-app, every API call to my endpoints contain couple of variables in the body of the call (where I transfer some metrics about the user experience). In my backend I parse them with middleware using app.use(metricParsers()).

I found out that there is a change
API

[2021-08-31 14:23] MontoyaAndres commented on #5537
Hello, How can I modify it? I just need to create the function in `amplify/backend/api/myAPI/functions/MyNewFunction.js`?

[2021-08-31 14:29] josefaidt commented on #8009
Hey @onlineworld69 :wave: I noticed two items in the cfn event list you sent over, one pertaining to a table that failed to update and one for `HostedUIProvidersCustomResourceInputs`. I tried running `amplify init` on your backend folder and was able to reproduce the same `HostedUIProvidersCustomResourceInputs`-related issue. Thankfully I was able to mitigate after running `amplify update auth` >

[2021-08-31 15:35] cjihrig commented on #8060
Amplify supports [S3 Lambda Triggers](https://docs.amplify.aws/cli/usage/lambda-triggers/#s3-lambda-triggers). You could have S3 trigger a Lambda, which does the processing and then runs an AppSync mutation to trigger the subscription. I'm not sure how different that might be from what you currently have though.

[2021-08-31 16:10] hrqmonteiro opened #8066 "Every response in AdminQueries api requests are 500 (Error)"
**Which Category is your question related to?**

Authentication, AdminQueries

**Amplify CLI Version**

5.3.0

**What AWS Services are you utilizing?**

Amplify, Cognito, Lambda

**Provide additional details e.g. code snippets**

I am trying to follow what i saw [here](https://aws.amazon.com/pt/blogs/mobile/amplify-cli-enables-creating-amazon-cognito-user-pool-groups-configuring-fine-grained-permi

[2021-08-31 16:12] cjihrig commented on #8065
@menottiRicardo in addition to @siegerts asked for, can you also provide a few more details since this issue was transferred from the amplify-console repo:

1. More detailed steps to reproduce the issue - I was able to run `amplify add auth`, add a post confirmation trigger, and run `amplify push` without errors. However, I realize that the auth flow has many steps, so it would be useful to know e

[2021-08-31 16:26] rickwargo commented on #3977
There is a lot of confusion in conflicting information for a person newly introduced to Cognito and Amplify. I'd like to bring in Auth to my existing React application, however, it is challenging to determine which is the correct path to follow. I believe most beneficial would be good documentation that outlines not only what needs to be done, but where and why. I'd love to see a schema for the au

[2021-08-31 17:15] yhvh009 opened #8069 "the mock service find a s3-template in a dynamodb folder and get crashed"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2021-08-31 17:49] RoniqueRicketts commented on #8066
Try removing the Authorization header and see if it works.

[2021-08-31 17:53] hrqmonteiro commented on #8066
It doesn't.

Since in the API Gateway configuration, the API Key Origin is set to Headers.

![tehhs](https://user-images.githubusercontent.com/17055027/131552146-d1652770-4db3-4973-a1fd-24e5c255e4ec.png)
(I couldn't set this to english, actually i'm trying to do so in months, but anyway, i think you can understand it)

[2021-08-31 17:56] hrqmonteiro commented on #8066
UPDATE: here in english:

![tehhs](https://user-images.githubusercontent.com/17055027/131552576-79933d32-5f36-4366-a15c-d95008da4d7d.png)

[2021-08-31 18:21] RoniqueRicketts commented on #8019
@pepso as per the information sent by @jasonhargrove above you'll have to update the API to the groups you make. I surely believe the documentation should update on every update with beginner friendly content. That could minimize a lot of issue that I'm seeing on here. Right now there is also an issue with the API getting ```custom_headers``` but the documentation suggests how to send them but the

[2021-08-31 18:52] cjihrig commented on #8069
Would you be willing to share your Amplify project via email to amplify-cli@amazon.com?

[2021-08-31 18:54] cjihrig commented on #8066
@hrqmonteiro are you able to identify any additional information about the error beyond the 500 status code?

[2021-08-31 21:03] MontoyaAndres commented on #1033
any news about it?

[2021-08-31 21:46] MontoyaAndres opened #8072 "How to get `ElasticsearchDomainArn` and `ElasticsearchDomainEndpoint` output?"
### Is this related to a new or existing Amplify category?

api

### Is this related to another service?

ElasticSearch

### Describe the feature you'd like to request

I have created a lambda with the command `amplify add function` called `syncUserByRole`. To this function, I want to pass it the ElasticSearchDomainEndpoint and Arn, so I tried this:

In the `backend-config.json` I added as attribu

[2021-08-31 22:30] kevin-chen opened #8077 "auth configuration issue: picked email address as sign in, but username is selected"
### Before opening, please confirm:

- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-js/issues?q=is%3Aissue+) and [discussions](https://github.com/aws-amplify/amplify-js/discussions).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-js/blob/main/CONTRIBUTING.md#bug-reports).
- [X] I have done my best to in

[2021-08-31 22:34] johnEthicalTechnology commented on #8060
I'm already using an S3 Lambda Trigger; here is the current workflow:

   1. User uploads file from a React SPA
   2. FileImportData record is created
   3. A subscription is created for that FileImportData based on the id
   4. Uploaded file is processed in the S3 Lambda Trigger
   5. Once finished processing the FileImportData record is updated
   6. Subscription is resolved (if the file takes l

[2021-08-31 22:40] MontoyaAndres commented on #8072
Or maybe as a fast alternative, is there a way to use ElasticSearch with a Trigger lambda with DynamoDB? Because I just need that, I have a DynamoDB Table triggered with a lambda and I need to save these values to ElasticSearch, but the Lambda created with the CLI for this task, it's not enough for what I need to do :(.

[2021-09-01 02:03] renebrandel opened #8075 "Default DynamoDB template for functions should have CORS configured properly"
### Is this related to a new or existing Amplify category?

function

### Is this related to another service?

DynamoDB

### Describe the feature you'd like to request

When using the default DynamoDB template via `amplify add function`, I get a function without proper CORS configuration.

Leading to:
[code]

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/

[2021-09-01 02:33] renebrandel commented on #1865
Hi folks - I wanted to follow-up on this thread to give you all more insights on where we're at with this issue and many other GraphQL transformer issues. Over the past several months, we've been laying the foundation to drastically accelerate our GraphQL feature & enhancement velocity. A new architecture detailed in our GraphQL Transformer vNext RFC #6217. *More updates will come in the next two

[2021-09-01 03:27] Ethanlloyd21 commented on #8075
Hello,

I tried this installing **npm install cors** and added
app.use(cors()) in the index.js of the function, it is still giving me the same error.

[2021-09-01 04:19] yhvh009 commented on #8069
sent by ji****an@gmail.com

[2021-09-01 05:24] naseer036 commented on #1865
If someone is having a issue with pagination and filter on and looking a backend as a service then it would be a good idea to look at strapi. I was able to get my backend running in 1 day with graphql with almost all the filter you can think of with pagination with Goto page as well.

[2021-09-01 07:36] aravind08 commented on #6464
I'm facing the issue with version **5.3.1**. I ran the following commands in sequence:

**_amplify init
amplify import auth
amplify status
amplify push_**

I've been looking at this for the past 20 minutes => **_Fetching updates to backend environment: dev from the cloud._**

The result of **_ping s3.amazonaws.com_**
PING s3.amazonaws.com (52.216.200.101): 56 data bytes
64 bytes from 52.216.200.10

[2021-09-01 08:12] Kamilius commented on #1773
Any updates on this one?

[2021-09-01 08:45] sebsto commented on #7794
duplicate of https://github.com/aws-amplify/amplify-cli/issues/5832