[2020-01-10 00:36] LpmRaven commented on #3003
@RossWilliams It is just odd when reading the Amplify docs and reading the DynamoDB docs. The DynamoDB docs state that [most well designed applications require only one table, unless there is a specific reason for using multiple tables."](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-general-nosql-design.html) It says that multiple times across its docs and really pushes that

[2020-01-10 00:51] nikhname commented on #3049
"SELECT * FROM User WHERE userId=UNHEX('$id')" Because that returns userId in the wrong format.
If I understand correctly, you are trying convert the userId to hex in the SELECT query?
Would using "SELECT HEX(userId) FROM User WHERE userId=UNHEX('$id')" solve this problem?

[2020-01-10 03:23] berenddeboer commented on #3134
@kaustavghosh06 I use it with [react-admin](https://marmelab.com/react-admin/), so it doesn't have to download the schema first by introspection, i.e. cutting down on startup speed.

[2020-01-10 03:28] paulsson opened #3157 "Extensible GraphQL "groupsField" auth using concatenation in rule"
**Multi-tenancy context scenario:**
3 GraphQL types:
Business
Location
User

A Business has many Locations (1 to many relationship)
A Business has many Users (1 to many relationship)
Location <-> User (many to many relationship)

GraphQL schema types:
[code]

For RBAC (Role Based Access Control) we have the concept of a "BusinessAdmin" and a "LocationAdmin".
A "BusinessAdmin" has CRUD permissions

[2020-01-10 04:51] SteffeyDev commented on #2241
I'm now running into the same issue, thanks @RossWilliams for explaining it so well because I was just starting to understand the problem.  The variable re-use is still a problem but one that seems like it should have an easy fix by using custom variable names for each section.  For example, you could use `$<fieldName>_isOwnerAuthorized` for field-level auth checks and `$<objectName>_isOwnerAuthor

[2020-01-10 04:52] rodrigoelp commented on #2123
Ah, understood... I though you meant to just change the name containing the amplify code.

[2020-01-10 05:22] SokichiFujita opened #3158 "Selecting "Learn More" causes crash in `amplify env add` command"
**Describe the bug**

- When user selects `Learn More` in `Select the app id you want this env to be be associated with` of  `amplify env add` command, error occurs.

- Some texts of the guide are not correct.
    - `You project is associated...`
    - `env to be be associated...`

**Amplify CLI Version**

4.12.0

**To Reproduce**

[code]

**Expected behavior**

Works fine (but I don't know the co

[2020-01-10 05:34] Klastic commented on #2997
I ran into this issue myself and found running `amplify pull` will update your `aws-export.js`.

[2020-01-10 07:08] rehanbabertkxel commented on #3151
@kaustavghosh06 , how would the "Lambda function" have access to the Cognito User Pool? How can I extract the required information from the process.env to access the User Pool?
Can you refer a good example for that?

[2020-01-10 08:16] psporysz commented on #1366
@kkesley-shine AFAIK `parameters.json` is common for all envs. I tend to avoid it and I only declare parameters directly in the CF template. This way can use different values. Would be good though to be able to keep multiple files with parameters somewhere.

[2020-01-10 09:30] martaGonz commented on #1546
@multidis thank you so much. It's working now!

[2020-01-10 10:45] muhendzera commented on #587
oh my god! unbelievable. thank you!

[2020-01-10 12:19] #3122 closed

[2020-01-10 12:32] MartinPindel opened #3160 "GraphQL-list-query (wihtout filters) returns nextToken although last entry was already sent as last item before limit was reached"
**Which Category is your question related to?**
API (GraphQL)

**Amplify CLI Version**
4.0.0

**What AWS Services are you utilizing?**
AppSync, DynamoDB, Cognito

**Provide additional details e.g. code snippets**
I have a DynamoDB with 10 entries and my query has a limit of 5.
On my second request (with nextToken from first request) I receive the expected entries 6-10, but also a new nextToken. So

[2020-01-10 12:47] rweng commented on #3124
For me, it is not only mock where this does not work, but also regular lamda functions.  I tried everything I can think of, from adding it to the stacks parameters, adding it to `backend-config.json -> function -> dependson` (where it just gets replaced when updating the function via the CLI), ... Looks to me right now, the only way to use graphql from a lamda function is either not use API_KEY au

[2020-01-10 13:11] sebastienfi commented on #652
This is a real bummer.

[2020-01-10 14:38] jamesw6811 commented on #587
@muhendzera @jkeys-ecg-nmsu I'm not sure who should be capturing this issue - but it's a big deal.

[2020-01-10 14:58] gaochenyue commented on #3124
API_KEY is for mock. When deploying in the cloud, use IAM, although it is not documented very well.

[2020-01-10 17:05] oliverandersencox commented on #3148
@SwaySway I updated the model and removed the standard owner field as its not needed and so we are left with just the owners field.

I then run exactly as you have expressed (the same way that the amplify guides explain) and still it never fires:

AND I am still getting these errors:

The function call:
[code]

The subscriptions simply do not work when using owner fields which is ridiculous!

[2020-01-10 17:29] libeanim opened #3161 "Current environment cannot be determined"
I recently updated the amplify cli and now when running `amplify push` in my project I receive following error:

[code]

Running `amplify init` again returns following:

[code]

After that I still cannot run `amplify push`. Unfortunately I also can't remember what the previous version of amplify cli was I used. Otherwise I would have gone back to that version.

**Whats the best way to fix that?**

[2020-01-10 17:32] libeanim commented on #3161
I also tried the workaround suggested in #3094

[code]

Which then causes this:

[code]

Let me know if you need any additional info.

[2020-01-10 18:48] nikhname commented on #2797
Closing due to lack of response. Please feel free to comment if you have further questions.

[2020-01-10 18:48] #2797 closed

[2020-01-10 19:09] davidbiller opened #3162 "nodejs8.10"
In my ...amplify/backend/auth/aivyusers/aivyusers-cloudformation-template.yml
There is still the NodeJS 8.1
i installed the latest CLI and updateded the functions.
So i get this error:

Reason: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. (Service: AW

[2020-01-10 19:12] kaustavghosh06 commented on #3162
@davidbiller Can you check `amplify -v` and see which version of the CLI you're using?
Also, did you get a prompt to migrate your lambda functions and you responded yes to it?
Did it change any function runtime at all?

[2020-01-10 19:18] davidbiller commented on #3162
@kaustavghosh06
4.12.0

all functions are version 10 yes

[2020-01-10 19:22] davidbiller commented on #3162
![Bildschirmfoto 2020-01-10 um 19 57 36](https://user-images.githubusercontent.com/7137361/72180157-dce96780-33e6-11ea-8553-2b7a469c72dc.png)

[2020-01-10 19:33] davidbiller commented on #3162
After id added the version by myself, it just stucks. I DONT get the this error anymore:
Reason: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 259e6d

[2020-01-10 20:10] kaustavghosh06 commented on #3162
@davidbiller You might need to make some changes to your code as well to avoid this. Could you take a look at this - https://aws-amplify.github.io/docs/cli/lambda-node-version-update

[2020-01-10 20:33] SwaySway commented on #3148
@oliverandersencox the operation has a requirement of two arguments `owner and owners`.
Did you try the following operation below?
[code]

[2020-01-10 20:34] davidbiller commented on #3162
I've tested it, but I don't think that's what can help. I have also removed the PostConfirm.

All functions have been changed to NodeJS 10. After I set the Auth functions to NodeJS 10 myself, I don't get an error message anymore. But the Deploy (Push) process stops. I have checked the console (CloudFormation). The last entry in the CLI is also the one that is shown as complete in the console. What

[2020-01-10 20:35] oliverandersencox commented on #3148
@SwaySway Yes I tried that and it did not work. I passed in both the owner and owners and it never fires.

What I'm saying is I then update my model to reflect this:

[code]

and then also tried this:

[code]

None of them work. I have tried with other models and it seems any subscription with authentication simply does not get fired.

[2020-01-10 20:35] oliverandersencox commented on #3148
@SwaySway there arent any proper docs or much info on subscriptions, and I have asked for help from the AWS team numerous times

[2020-01-10 20:39] davidbiller commented on #3162
So now:
the new test ENV is working i guess.

i guess its stuck on IdentityPool on production ENV.
Do i need the IdentityPool for Facebook login?
Maybe i configured it wrong?

[2020-01-10 21:32] RossWilliams commented on #3157
Have you looked at turning off top-level read access to Business? Force all reads to go from User -> Business or User -> Location -> Business. Use field auth rules to only allow owners of User to read Business from User, and LocationAdmins to read from Location to Business. Then you free up your id property for mutation protection. on the Business model itself. I'm having a hard time reasoning abo

[2020-01-10 21:57] nikhname commented on #3120
@Ricardo1980 Unfortunately we do not support one-to-many connections in the graphql schema with RDS databases. However you could consider creating the relationship in SQL by making the primary key of the Post table the secondary key of the Likes table.

[2020-01-10 21:58] SwaySway commented on #3148
@oliverandersencox A few questions here

- If you try this from the api console does it give back the same result?
 - to open console use `amplify console api`
- When you tried it with the following `@auth` rule did it give an error or did the subscription not go through?

[2020-01-10 22:11] SwaySway commented on #3148
Update
I was able to find the issue.
The argument for `owners` should be a list for the subscription operations.

[2020-01-10 22:20] lawmicha opened #3163 "`amplify add analytics` successfully with dash in resource name but fail on `amplify push`"
**Describe the bug**
When I run `amplify add analytics` and then specify a name with a dash, it accepts it. This should just fail with validation logic because when I go to `amplify push`, it fails with
[code]
**Amplify CLI Version**
`4.12.0`

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable
1. `amplify init`, I chose iOS
2. `amplify add analytics`
3. Provide your

[2020-01-10 22:29] UnleashedMind commented on #3161
@libeanim
It seems like your project is in a corrupt state, it does not have the team-provider-info.json file and the local-env-info.json file.
is the project originally been setup on the computer you are working on now? or you pull the codebase from somewhere?
Could you zip the `amplify` folder and send it over to us so we can investigate future?
amplify-cli@amazon.com

[2020-01-11 00:25] Chipzstar commented on #1144
The above solution didn't work for me :(

[2020-01-11 01:38] elorzafe commented on #3048
@dbhagen @chuckatc @dconlon-monigo @CodySwannGT the fix for the library is already published on @latest tag on npm.

[2020-01-11 02:22] SteffeyDev commented on #2753
@dylan-westbury I am seeing the exact same issue as you did, auth failing to update but even amplify status shows no changes to the auth.  How did you fix?

[2020-01-11 02:27] SteffeyDev commented on #836
@kaustavghosh06 was this reverted? In 4.12.0 it still runs the entire deployment, even when pushing an individual category, such as auth or storage, using `amplify <category> push`.

[2020-01-11 02:46] luizdanieldesouza commented on #2877
Facing the same issue on Amplify Console.  Could you please help?

Thanks, Dan

[2020-01-11 03:44] SteffeyDev opened #3167 "Unable to push auth even after amplify pull, existing schema attributes..."
**Describe the bug**
I'm not entirely sure what happened, but after running `amplify add storage` my project became corrupted to the point that I cannot even push after an `amplify pull`.  I am getting the error `Existing schema attributes cannot be modified or deleted`, which makes sense on the surface, except I have not modified the auth files at all (`amplify status` confirms no change to auth)

[2020-01-11 04:54] #3167 closed

[2020-01-11 04:56] SteffeyDev commented on #3167
Turns out my parameters.json in my auth folder was not correct, and even though the CloudFormation stack file matched what was in cognito, amplify push was changing the stack to use what was in the parameters folder instead of the customized CloudFormation stack template, and thus was failing

[2020-01-11 10:26] #3162 closed

[2020-01-11 13:16] davidbiller opened #3168 "Stucks on the push process - MFALambdaInputs"
I tried to set my Develop ENV to Production yesterday.
Under Develop I could push everything.
Because the NodeJS version also has the update in it, there is a lot to push at Production.

-v = 4.12.0

What is new: Social Auth.

`
Current Environment: production

| Category  | Resource name             | Operation | Provider plugin   |
| --------- | ------------------------- | --------- | ----------

[2020-01-11 13:22] RossWilliams commented on #2241
@SteffeyDev it is harder for owner and dynamic group auth because AppSync can’t determine if owner is authorised for update operations, instead it needs to write DynamoDB condition expressions. These are not easy to generate in complex cases. Not impossible, but not a small amount of work. Dynamo also complains if you do things such as wrap an expression in and extra set of parenthesis, have unuse

[2020-01-11 16:24] ashteya commented on #3048
@elorzaf I was getting the same problem as @chuckatc, just updated to `@aws-amplify/datastore` version 1.04 and now the sync is not working at all anymore.

I set log level to DEBUG and on 1.0.3. I can see it's doing the sync, but on 1.0.4. there is nothing logged for it.

Do we need to configure the sync?

[2020-01-11 19:20] VIZULR commented on #2671
Hi, any news on this? I've also encountered the same issue. Like @gmreburn said, the only work around I found was to supply my own ID and createdAt values. Is there a better / alternative method to sort via createdAt? Cheers

[2020-01-11 19:58] sandeepsdixit commented on #2448
Exactly what do I need to do in amplify-meta.json? Removing  "HostedUIDomain": "myapp-dev" gets recreated when I do amplify push. Please advise.

[2020-01-11 21:05] amlcodes opened #3207 "x"

[2020-01-11 22:08] malbrecht0792 commented on #3161
I'm also having this issue when I try to run `aws amplify start-job --app-id <appid> --branch-name <branchname> --job-type RELEASE` for a specific branch.

I've run `amplify init` again and selected my existing `dev` environment but every time I try to run the release command for my branch I'm getting this error

Any help would be much appreciated

[2020-01-12 01:04] houmark commented on #2458
I'm not even able to see the option to add or remove auth triggers when running `amplify update auth`. I used to have triggers working but they silently broke and now I cannot try to reconnect them in the CLI.

[2020-01-12 01:31] LpmRaven opened #3169 "Local AppSync and DynamoDB"
Is there a way of using Amplify to set up a local version of my AppSync and DynamoDB? It is slow and becoming costly to develop against my cloud services. I haven't seen any documentation on this topic, did I miss it?

[2020-01-12 02:01] ryanmalesic opened #3179 "Node 8.10 not supported on add auth"
Resource Name: UserPoolClientLambda (AWS::Lambda::Function)
Event Type: create
Reason: The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 66cdc39e-b2fb-4b

[2020-01-12 02:06] ammarkarachi commented on #3169
Hi @LpmRaven , we have a way to run a mock without pushing to cloud services. You can do this running `amplify mock api` and `amplify mock storage`. More [info](https://aws-amplify.github.io/docs/cli-toolchain/quickstart?sdk=js#mocking-and-testing)

[2020-01-12 12:34] Soek22 commented on #3108
Hi @yuth , @TrekSoft , forcing `id` field to be present is fair for local to work, but does this means not custom `@key` is allowed for cloud side?
I see DataStore as a 'client' tool/component. And I expect it to work with custom indexes, custom AppSync resolvers, etc.

I believe this is closely related to this: https://github.com/aws-amplify/amplify-cli/issues/3109 and this: https://github.com/aw

[2020-01-12 16:05] davidbiller commented on #3168
Is there any option for me to check why it is stucking? A log?

[2020-01-12 16:10] davidbiller commented on #3168
i tried now
amplify update auth
with the default settings without social auth.
It stucks too...

[2020-01-12 17:06] davidbiller commented on #3168
<img width="1304" alt="Bildschirmfoto 2020-01-12 um 18 03 26" src="https://user-images.githubusercontent.com/7137361/72222533-11cff880-3566-11ea-9f0c-e7f7a377b262.png">

I just tried to update the NodeJS for the production without a merge of develop.

I get the error message (see picture)

The tables given here are only available in Develop. Production should not even know them. I also used amplif

[2020-01-12 17:25] Ricardo1980 commented on #3049
@nikhil-dabhade
Yes.

Sometimes what is saved in the data base does not match with the graphql data model.
An example is AWSTimestamp, that is an integer (evidently), but in MySQL, TIMESTAMP is a string like '1970-01-01 00:00:01'. This is clearly incompatible and in order to use AWSTimestamp we need something like:

SELECT HEX(userId) as userId, cast(UNIX_TIMESTAMP(createdAt) as unsigned) as creat

[2020-01-12 17:38] Ricardo1980 commented on #3120
@nikhname
Thanks for reply.

My question was about 1 to 1 relationship. Is that possible? (One like has one post, or zero, no more)

What about 1 to many? Are you going to support that in the future?

Does this mean we don't have the GraphQL N+1 problem when using Amazon because, well, you removed the possibility to have it?

One suggestion: If I had known that, I would not have used AWS. I would

[2020-01-12 18:58] kernwig commented on #2792
Here's my workaround to this problem, should it be useful to someone else. It applies to Angular, but I'm sure can be adapted to any other front-end toolset:

I added this hack to the Angular `main.ts` file:
[code]

This selects the locahost URL for development, and the `https` CloudFront URL for production. My sign-in and sign-out URLs are identical; if yours are different you'll need to process

[2020-01-12 19:34] davidbiller commented on #3168
it stucks on nestedStack:

MFALambdaInputs

[2020-01-12 19:39] davidbiller commented on #2096
stucks at MFALambdaInputs
amplify --v 4.12.0

[2020-01-12 20:01] davidbiller commented on #3168
@kaustavghosh06
I guess you are my person for this right?

[2020-01-12 20:09] davidbiller commented on #3168
<img width="1471" alt="Bildschirmfoto 2020-01-12 um 21 09 14" src="https://user-images.githubusercontent.com/7137361/72224918-d04c4700-357f-11ea-8045-203d2920ac3b.png">
Lambda: MFALambdaInputs

[2020-01-12 20:10] #3169 closed

[2020-01-12 20:13] kaustavghosh06 commented on #3168
@davidbiller Which region are you trying to deploy to?
One workaround is changing the require('cfn-response') to require('./cfn-response') in your auth Cloudformation template for the resource/lambda function you're getting an error for.

[2020-01-12 20:14] davidbiller commented on #3168
@kaustavghosh06 eu-central-1
at the moment the cloudFormation is stucking on update process since 1 hour...

[2020-01-12 20:23] CaptainChemist opened #3171 "Feature request: Allow setting default appsync limit for codegen for nested items"
**Is your feature request related to a problem? Please describe.**

I know that there is a way to set the default depth limit for codegenning appsync. Along that same line, I'd instead like for there to be a way to set the default limit for returned lists, including those that are nested. Appsync has a conservative limit of 10 and that applies to all the nested items if you don't provide a limit q

[2020-01-12 20:25] kaustavghosh06 commented on #3168
@davidbiller Yes, the update process should complete in sometime and then you can try out the suggested workaround.
I wasn't able to reproduce the issue in `eu-central-1` for a newly added auth resource. Can you check your Cloudformation template located in `amplify/backend/auth/<cloudformation-template>`
directory and see if you have following block correctly:
[code]

[2020-01-12 20:27] davidbiller commented on #3168
@kaustavghosh06
i changed the import:

`
 MFALambda:
    # Lambda which sets MFA config values
    # Depends on MFALambdaRole for role ARN
    Type: "AWS::Lambda::Function"
    Properties:
      Code:
        ZipFile: !Join
          - |+
          - - "const response = require('./cfn-response');"
            - "const aws = require('aws-sdk');"
            - "const identity = new aws.CognitoIdenti

[2020-01-12 20:29] davidbiller commented on #3168
When I created a new ENV with the same code yesterday, it worked. I have discovered today that it is because of this. Before i changed the code it was:

'const response = require(''cfn-response'');'
and
 Runtime: nodejs10.x

[2020-01-12 20:34] kaustavghosh06 commented on #3168
@davidbiller I see, the above code which I pasted above works  - and this is what the CLI generates for you.
What did you change the code to?

[2020-01-12 20:36] davidbiller commented on #3168
@kaustavghosh06
MFALambda: "const response = require('cfn-response');" **to** "const response = require('./cfn-response');"

[2020-01-12 21:01] libeanim commented on #3161
@UnleashedMind Thanks for your help, I sent an email with the zipped amplify folder.

The project was originally created on this computer and was also under version control since. However it was created a year ago with an older amplify-cli version. (I just recently upgraded the amplify-cli to the newest version).

Is it possible that the team-provider-info.json file and the local-env-info.json fil

[2020-01-12 21:08] davidbiller commented on #3168
The problem was not the code generated after auth update, but the code that was already in the cloud. I manually set it to NodeJS 10 before CLI PUSH. With this, CloudFormation could not complete because there were errors.

[2020-01-12 21:09] #3168 closed

[2020-01-12 21:56] kkesley-shine commented on #1366
@psporysz However, I think there are things that can only be overridden by `parameters.json` such as parameters in https://aws-amplify.github.io/docs/cli-toolchain/graphql#configurable-parameters. Which includes `ElasticSearchInstanceCount` and `ElasticSearchInstanceType`

[2020-01-13 01:23] berenddeboer commented on #3134
OK, have figured this one out: if you don't have a `schema.graphql` but use the `schema` subdirectory, `schema.json` is not regenerated.

[2020-01-13 01:34] gaochenyue opened #3172 "Failed to clean up S3 bucket when cloudformation rolls back"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
A clear and concise description of what the bug is.
When running amplify push fails, it fails to roll back S3. Then the following push is blocked by the error below

CREATE_FAILED      S3Bucket                                                     AWS::S3::Bucket            Sun Jan 12

[2020-01-13 01:36] ammarkarachi commented on #3171
@CaptainChemist Hey thanks for the request

[2020-01-13 01:38] ammarkarachi commented on #3172
@gaochenyue Can you try manually removing the bucket using the console and retrying the push. I am assuming since the bucket is newly created it's empty

[2020-01-13 02:27] gaochenyue commented on #3172
Thanks @ammarkarachi. Removing the bucket and rerun amplify push works for me.

[2020-01-13 03:06] andrewbtp opened #3173 "Custom::LambdaCallout keeps hanging in multiple envs and commands"
**Describe the bug**
In my `dev` environment, I tried updating my auth resource to a generic "Default settings with no social federation", and the stack would hang on

Logical ID: `MFALambdaInputs`
Type: `Custom::LambdaCallout`
Status: `UPDATE_IN_PROGRESS`
Line in terminal: `UPDATE_COMPLETE UserPoolClientLogPolicy AWS::IAM::Policy`

I then ran `amplify env remove NONE` to at long last get rid of t

[2020-01-13 03:14] #3172 closed

[2020-01-13 03:40] gaochenyue opened #3174 "S3 bucket name is not pushed to the lambda environment variable"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I created a function which depends on a S3 storage. I set the dependency with "amplify update function" and selected the storage as dependency. The cloud formation template got updated with the environment variable "STORAGE_APP_BUCKETNAME" which references the parameter storageappBuc

[2020-01-13 03:57] michaelcuneo opened #3175 "Export with name #### is already exported by stack #### since merge from nodejs 8.10 to 10.x"
**Describe the bug**
Since updating from nodejs8.10 to nodejs 10.x I now get the following error running amplify serve

Export with name #### is already exported by stack ####

**Amplify CLI Version**
4.12.0

**To Reproduce**
Edited and replaced all instances throughout the project...
"Runtime": "nodejs8.10", to "Runtime": "nodejs10.x"

**Expected behavior**
A succesful push/serve.

**Desktop (ple

[2020-01-13 06:23] kekkler opened #3176 "Multiple frontends: What is the workflow for pulling programmatically"
**Which Category is your question related to?**
`amplify pull` and https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**

Amplify, Cognito, Lambda, AppSync and more.
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#multiple-frontends

I have three environments maintained in a separate repo

[2020-01-13 07:37] borisdayma commented on #1265
@jarrettj Would it be possible to add details on how to do it in the documentation?

[2020-01-13 11:30] rehanbabertkxel opened #3177 "Error uploading JSON in Mock Storage"
**Which Category is your question related to?**
Storage

**Amplify CLI Version**
4.6.0

**What AWS Services are you utilizing?**
S3, Mocked S3

**Provide additional details e.g. code snippets**
I am trying to upload a JSON file to the mocked storage at 'localhost:2005' and the file is uploaded correctly and I get the key to the file in response. But when I try to download the file from the mocked

[2020-01-13 11:32] rehanbabertkxel commented on #3177
@kaustavghosh06 , can you please help.

[2020-01-13 13:29] paulsson commented on #3157
Thanks Ross! I have not tried field auth rules yet, but will give them a try and report back.
I should be able to test this out later today or tomorrow.

Thanks,
Erik

[2020-01-13 14:24] davertron commented on #2791
The way this is currently implemented (limit + nextToken) seems broken for anything except infinite scroll, and even for that you can't actually reproduce the same state on browser refresh without storing some state somewhere. You can't currently tell how many pages there are, and if you modify the list of things you're trying to paginate (i.e. by creating or removing an item) your tokens get bork

[2020-01-13 15:28] mkaschke commented on #3048
same here!

[2020-01-13 15:55] paulsson commented on #3157
@RossWilliams do I have to turn off top-level read access to Business, @model(queries: null), in order for this to work?
We have the concept of a "root admin" or "super admin" who must be able to manage all Businesses (including list and get). If I turn of top-level read access on Business my "root admin" users will no longer be able to call "listBusinesses".
Here is what I tried but I am still ge

[2020-01-13 17:31] kaustavghosh06 commented on #3179
Please update to the latest version of the CLI  and your lambda functions should be auto updated to Node 10.x on running any Amplify command.

[2020-01-13 18:15] dtelaroli commented on #868
+1

[2020-01-13 18:38] dtelaroli commented on #986
+1

[2020-01-13 19:01] #3158 closed

[2020-01-13 19:35] dtelaroli commented on #1628
+1

[2020-01-13 19:52] gaochenyue commented on #3146
ConditionInput for creation is useful because currently amplify treats both create and update as update. If there is no condition for create, you have the risk to overwrite existing data.

[2020-01-13 19:57] ThijsTyZ opened #3180 "JSON validation in amplify mock is less strict than AppSync"
**Describe the bug**
When running `amplify mock` your request template can contain invalid JSON. Like keys without quotes or trailing comma's. But if you deploy this to AppSync it will break. E.g. `amplify mock` works fine when your request template (Query.getX.req.vtl) looks like this:
[code]
Note that `x` has no quotes and there is a trailing comma. After deploying this, it will fail on AppSync.

[2020-01-13 20:16] gaochenyue commented on #738
@mikeparisstuff I still don't get why name:"a blog" doesn't fail but name:"another blog" fails. They are both different values from the first the one  name:"hi"

[2020-01-13 21:36] kekkler commented on #3176
In summary:

The problematic assumptions are that amplify projects must have a distinct backend and only one backend; If the backend is externalized, then the project cannot be an amplify project.

Furthermore, if it is not an amplify project, then the user has to programmatically pull the environment-specific `aws-exports.js` at build time, but there is no robust path given to do this programmati

[2020-01-13 23:30] UnleashedMind commented on #2746
I was not able to reproduce the exact issue.
But I got some other issue that was resolved by removing the global yarn directory and re-install the Amplify CLI. And I suspect this issue is very like due to the same reason, it is because of how yarn handles package dependencies, which causes the frontend plugin to become invalid.
If you can afford it, remove the global yarn directory and reinstall t

[2020-01-13 23:43] #3179 closed

[2020-01-13 23:45] kaustavghosh06 commented on #3174
@gaochenyue Did yolu remove your Storage resources and added a new one?

[2020-01-13 23:46] kaustavghosh06 commented on #3174
If you removed and added a new storage bucket, you can run `amplify update function` to select the new storage resource, and that'll rectify the Lambda policies.

[2020-01-13 23:46] #3174 closed

[2020-01-14 00:28] ammarkarachi commented on #3177
@rehanbabertkxel Can you print the string and see what the string looks like before you parse it?

[2020-01-14 00:52] nikhname commented on #3175
Could you provide the error you see when running amplify serve?
If you have resources that were created before amplify version 4.10.0, they must be updated manually. Please refer to this section of the docs: https://aws-amplify.github.io/docs/cli/lambda-node-version-update#node-version-update

[2020-01-14 01:51] nikhname commented on #3175
@michaelcuneo Did you run amplify init since migrating to nodejs 10.x ?

[2020-01-14 05:29] Rafcin opened #3182 "Fine grain Access to GraphQL with IAM and Userpool Groups"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
GraphQL

**Amplify CLI Version**
4.11.0

**What AWS Services are you utilizing?**
Appsync, Cognito, IAM

**Provide additional details e.g. code snippets**
Hi, i'm trying to create an app where users who sign up and choose to be a provider get assigned

[2020-01-14 07:14] rehanbabertkxel commented on #3177
@nikhname , @ammarkarachi , the object before stringify is:

{ __typename: 'UserData',
  id: 'a9a394ea-feaa-4bf9-a612-d80aa38e6b31',
  name: 'Test Mock Storage',
  users: null,
  completionStatus: null,
  parentId: null,
  time:
   { __typename: 'Time',
     cDate: 1578985237505,
     mDate: null,
     rDate: null,
     freq: null },
  Type: 'ROOT',
  Manager: null,
  logo:
   { __typename: 'S3Fil

[2020-01-14 07:23] kekkler commented on #3176
This is too much of a blocker. I'm going to have to migrate all of this out to another framework.

[2020-01-14 10:42] foxfl opened #3183 "Storage update to add Trigger"
**Describe the bug**
When trying to add a Lambda Trigger to the Storage category to an existing Bucket, generated through the CLI, the cloudformation update fails with:

`Unable to validate the following destination configurations (Service: Amazon S3; Status Code: 400; Error Code: InvalidArgument; ...)
`

**Amplify CLI Version**
4.12.0

**To Reproduce**
[code]

[code]

This results in the followin

[2020-01-14 14:37] ThijsTyZ commented on #3180
I want to state that this is a really annoying issue. The `amplify mock` feature cannot be trust. It looks like everything works fine during development, but after deployment it's broken.

So I hope you can find a solution for this issue shortly.

[2020-01-14 15:39] oliverandersencox opened #3184 "Amplify stuck in update state"
I updated the the most recent amplify this morning and then ran 'amplify update api' and set the new redirect URLs, which I have done hundreds of times before with no issue.

However this time it is stuck at:

I then cancelled the CLI command and no cannot run and amplify updates as it says:

I have checked the cloud formation and it still says update in progress.. 3 hours later?

How can I get ar

[2020-01-14 15:44] atlowell-smpl commented on #351
Bumping this, our typical AWS administrator is not managing amplify setup, so we have to create an IAM user for the person that is.  It would be great to have an updated list with the additional permissions listed above.

[2020-01-14 16:37] gaochenyue opened #3185 "Is there an example to invoke function1 from function2 that works for both mock and cloud?"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Which Category is your question related to?**
I have to invoke function1 from function2. I know that I can add function1 as a dependent resource of function2 and I can invoke function1 with aws_sdk by the name of function1. However aws_sdk doesn't work with mock. Is there a way to invoke function1

[2020-01-14 16:50] oliverandersencox commented on #3184
now tried with my other environment and both get stuck and no error ever appears. It just stays in . update mode.

Again any progress testing on IOS and Android is completely halted after an update! very frustrating

[2020-01-14 16:53] oliverandersencox commented on #3184
@kaustavghosh06 any ideas here, I'm due to release on Friday!

[2020-01-14 17:19] kaustavghosh06 commented on #3184
@oliverandersencox Did you take the option to auto update your Lambda runtimes to Node 10.x after updating the CLI? Did you make any other changes to your Lambda code before pushing?

[2020-01-14 17:22] oliverandersencox commented on #3184
@kaustavghosh06 I did indeed do the auto update and you can see this reflected. I dont actually have any lambda functions in my project and nor have I ever had any. I do have some custom auth policies in the custom resources.

I did indeed look at those as well.

I was on the most recent version of amplify before this update and everything was fine.

The lambda update were done a long time prior t

[2020-01-14 17:36] kaustavghosh06 commented on #3184
@oliverandersencox I would need to take a look at your Cloudformation files to root cause this. If you send it over to amplify-cli@amazon.com, I can take a deeper look and figure out what’s going on.

[2020-01-14 17:38] oliverandersencox commented on #3184
@kaustavghosh06 I take it that is just the awscloudformation folder within the backend folder?

[2020-01-14 17:43] kaustavghosh06 commented on #3184
No, the ‘amplify’ folder.

[2020-01-14 17:43] ThijsTyZ commented on #3180
Just discovered an other issue which is related I think. The following response mapping template **works** with `amplify mock` but breaks when you deploy it:

[code]
To get this working after push you need to have quotes:
[code]

[2020-01-14 18:06] elimence opened #3186 "Error Adding and Updating API with amplify-cli version 4.12.0"
**Describe the bug**
After upgrading to amplify-cli version 4.12, `amplify api add` and `amplify api update` no longer work.
Init command works as expected.

**Amplify CLI Version**
`4.12.0`

**To Reproduce**

[code]

`amplify api update`

[code]

**Expected behavior**
Be able to add or update api as is expected.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desk

[2020-01-14 18:36] elimence commented on #3186
On version `4.5` I get this error
[code]

[2020-01-14 18:45] nikhname commented on #3186
@elimence Did you install the CLI using yarn or npm?

[2020-01-14 18:51] raffibag commented on #970
I'm able to get a response with the following call, however, it's returning all items and not filtering based on search params (note: using the Amplify GraphQL API):

[code]

Curious as to why it's not working as this appears to be calling the filter per the documentation.

[2020-01-14 19:15] simon-lanf opened #3187 "UpdateRolesWithIDPFunction CREATE_FAILED nodejs8.10"
**Describe the bug**
When I deploy an evvironment for the first time, the cloudformation stack fails to build itself

**Amplify CLI Version**
4.12.0

**To Reproduce**
in a new project without team provider file, init and then push api and auth.

**Expected behavior**
The api and auth stacks should be deployed.

**Screenshots**
https://i.imgur.com/sQ1dMxt.png

**Desktop (please complete the followi

[2020-01-14 19:18] kevcam4891 commented on #2574
@houmark I can't 2nd, 3rd, and 4th this enough. The changelogs in this repo are useless. I wish the team would take a harder-lined stance in terms of requiring more substantive commit messages, and using those for the basis of the changelog even. "New features" is not a helpful commit. I'm currently on version 3.12 and want to upgrade to 4.x, and have no idea what I'm getting for making the change

[2020-01-14 19:21] kaustavghosh06 commented on #3187
@simon-lanf Can you check `amplify -v` and confirm that you're using 4.12.0?

[2020-01-14 19:26] simon-lanf commented on #3187
It is. I said in the first post, I used '-v' to find it out.

Here's the output of 'npm -g ls --depth=0'
`[...]
─┬ @aws-amplify/cli@4.12.0
│ ├── @types/fs-extra@8.0.1
│ ├── @types/global-prefix@3.0.0
│ ├── amplify-category-analytics@2.12.0
│ ├── amplify-category-api@2.12.0
│ ├── amplify-category-auth@2.12.0
│ ├── amplify-category-function@2.12.0
│ ├── amplify-category-hosting@2.1.7
│ ├── amplify-c

[2020-01-14 19:28] kaustavghosh06 commented on #3184
@oliverandersencox Thanks for sending over the files. Which region are you trying to deploy to? I was able to successfully create an environment and deploy the resources.
One way to check what's going on with the "HostedUICustomResource" is to check the AWS Cloudwatch logs in the console for that Lambda function and see if it is erroring out on something.
Did you by any chance change your Hosted U

[2020-01-14 19:31] kaustavghosh06 commented on #3187
@simon-lanf Can you check your `amplify/awscloudformation/nested-cloudformation-stack.yml` file and see if the Node runtime is set to 8.10 - and change it to "Runtime": "nodejs10.x" and then try pushing?

[2020-01-14 19:34] kaustavghosh06 commented on #3184
You can find your Hosted UI Domain name in this file - `amplify/backend/auth/cultureapp7df34888/parameters.json` under the `hostedUIDomainName` key.

[2020-01-14 19:36] simon-lanf commented on #3187
It already is node10.

[code]

[2020-01-14 19:38] kaustavghosh06 commented on #3183
Can you try pushing again and check if you see the same error?

[2020-01-14 19:39] simon-lanf commented on #3187
The template that's loaded for the stack is generated by AWS, has the following description: "Root stack for the Amplify AWS CloudFormation provider"

Here's the content: ```
{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Description" : "Root stack for the Amplify AWS CloudFormation provider",
    "Parameters":{
        "DeploymentBucketName":{
            "Description": "Name of the common

[2020-01-14 19:41] kaustavghosh06 commented on #3187
Can you try pushing again from your local using `amplify push` and check if you see the same error?

[2020-01-14 19:43] simon-lanf commented on #3187
That's precisely the command I use. It tells me this:
[code]

And the stack fails to build.

[2020-01-14 19:43] kaustavghosh06 commented on #3183
Which region are you deploying to?
I'm currently on v4.12.0 and here's my terminal output log:

[code]

[2020-01-14 19:49] kaustavghosh06 commented on #3187
Super weird, not able to reproduce the same behavior with v4.12.0 on my machine.
In all of your project, can you grep "8.10" and see if you can find any instance of it?
Unless the CLI version is picking up an older version of the "amplify-provider-awscloudformation" pacakge - the CLI shouldn't be using 8.10 node runtime anymore. Can you also try running `amplify plugin scan` to re-scan all the dep

[2020-01-14 19:50] #3163 closed

[2020-01-14 20:00] simon-lanf commented on #3187
[code]

[2020-01-14 20:11] oliverandersencox commented on #3184
@kaustavghosh06 there arent any logs for that lambda function in either prod or dev.

I have had the domain name for a few months now with no problems

[2020-01-14 20:12] amcbb commented on #2972
We just recently updated from amplify cli 3.14.0 to 4.12.0 and seem to be experiencing this exact issue after the upgrade.

[2020-01-14 20:15] oliverandersencox commented on #3184
I checked in the OauthCustom... lambda function and its erroring with this: '"Error: Cannot find module 'cfn-response'",'

[2020-01-14 20:23] kaustavghosh06 commented on #3184
@oliverandersencox Which region are you deploying your stck in?
The module `cfn-response` should be directly injected by the Cloudformation service. I can check with the Cloudformation team with you.

[2020-01-14 20:25] kaustavghosh06 commented on #3184
Also, this looks exactly similar to - #3168

[2020-01-14 20:25] oliverandersencox commented on #3184
@kaustavghosh06 in which case this guide:

https://aws-amplify.github.io/docs/cli/lambda-node-version-update

solved it. Thanks for the rapid help!

[2020-01-14 20:25] sw-yx commented on #2574
i might recommend https://github.com/algolia/shipjs as a nicer release automation tool that still forces you to write better release notes https://github.com/algolia/shipjs

[2020-01-14 20:47] #3184 closed

[2020-01-14 21:44] berenddeboer commented on #3180
@ThijsTyZ I suggest you always wrap stuff coming from `$context` in `$util.toJson()`.

[2020-01-14 22:05] Slowly commented on #2408
...Exactly, that is one of the things that I find annoying about graphQL. SQL does not duplicate data like this, and has aggregation and the DISTINCT keyword to further reduce duplicates.

[2020-01-14 22:42] lawmicha commented on #3146
thanks for your input @gaochenyue, can you clarify what you mean by "amplify treats both create and update as update"? what do I pass in the conditionInput for creation to avoid overwriting existing data?

[2020-01-14 23:18] gaochenyue commented on #3146
@lawmicha the autogenerated appsync resolver uses PutItem to create new item. If you read the dynamodb doc, you will find that PutItem will overwriting existing item if primary key matches. The only way to avoid overwriting is to use a condition expression to check if the item already exists. The conditionInput you asked to remove is to specify the condition.

[2020-01-14 23:34] willrust commented on #1194
Right off the bat with a new project using 4.12.0 and merging changes from dev env to master env starts a cycle of conflicts for function S3 bucket names were the env suffix is the dif. Why?

[2020-01-15 00:23] heitorlessa commented on #3161
I had something similar when I upgraded from 1.x to 4.x and the command `amplify configure project` created/updated the correct files for me - have tried that?

[2020-01-15 00:57] houmark commented on #2972
And AWS devs do not care to respond to my basic questions whether it's 100% safe to remove the extra app created. I would not like to remove it and have resources automatically removed effectively breaking our `prod` environment.

@kaustavghosh06 @UnleashedMind would you please respond at least to point 1 here:  https://github.com/aws-amplify/amplify-cli/issues/2972#issuecomment-566817944.

[2020-01-15 02:28] michaelcuneo commented on #3175
I have tried both updating the project manually, and updating to the latest version of the cli, and updating automatically, and/or manually. Both seem to be an issue. For now I've reverted to an earlier version of my project that doesn't have any API changes so that I can continue working until I find a solution.

[2020-01-15 04:57] totaland opened #3190 "No option while configuring"
**Describe the bug**
When I finish installing amplify/cli version 4.12.0, I tried the following command: amplify configure.
Then I have only one line of code show up in command line:
![image](https://user-images.githubusercontent.com/36496259/72406215-2b13b780-37a7-11ea-9281-7e980bedae49.png)

There is nothing else after that line.
**Amplify CLI Version**
4.12.0

**To Reproduce**
going to command

[2020-01-15 05:18] totaland commented on #3190
I found the issue after a few hours of searching. #2410

[2020-01-15 05:37] elimence commented on #3186
@nikhname I used npm

[2020-01-15 06:38] LpmRaven commented on #3169
@ammarkarachi Thanks

[2020-01-15 06:38] elimence commented on #3186
For most of the versions I tried installing (except 4.9), I got this log messages

[code]

So I installed command line tools and the failing commands work now.

[2020-01-15 06:49] olivoil commented on #3161
I'm facing the same issue for a project created with version 4.5 after upgrading to 4.12

I do have a team-provider-info.json file locally, and PR builds were working before upgrading the CLI version.

I believe this is a bug in recent versions of the CLI, and I can't downgrade to older versions because they create lambda functions with the node8 runtime which does not work anymore.

[2020-01-15 09:15] foxfl commented on #3183
Hi @kaustavghosh06,

I'm currently deploying to the region `eu-central-1`.
Trying to push again did not work for me, still seeing the same issues.

I may have to say that i recently updated the CLI and then tried to add the Trigger. The bucket was created with an older version of the CLI (I think it was version 4.6.0). Maybe this issue is caused by the version difference?

[2020-01-15 09:17] foxfl commented on #3183
I'm going to create a new Bucket and add a trigger with the current version of the CLI and let you know if the error still occurs

[2020-01-15 09:47] foxfl commented on #3183
So, creating a new Project, adding Auth and Storage, then updating Storage to add a trigger actually worked.

I also added a additional function which has access to the bucket (I also do have one in my original project) but I could not reproduce the error.

It seems there is somehow a difference between the generated CloudFormation template form version 4.6.0 and 4.12.0.
From my understanding `Una

[2020-01-15 10:16] LpmRaven opened #3191 "Amplify API - schema changes - no changes detected"
**Describe the bug**
When I make a change to my API schema, changes are not detected.

**Amplify CLI Version**
4.12.0

**To Reproduce**

1. Change API schema
2. Run `amplify api update`
3. Run `amplify push`
4. `No changes detected`

**Expected behavior**
The ability to make changes to the API without having to tear down the entire stack.

My current way around this is to:

1. Run `amplify delete`

[2020-01-15 11:04] justinsamuel92 commented on #779
No need of any other configs, but you can definitely add this config to the current amplify tool. Most apps need this badly

[2020-01-15 14:36] Ricardo1980 opened #3192 "How can I setup pipeline resolvers using amplify and Aurora?"
Hello,

I would like to use pipeline resolvers.
Basically, take the current user location (Longitude and Latitude) using a SQL query (I use Aurora) and pass it to the next resolver in order to get a list of users nearby that location.

The thing is, I don't see any documentation about that.

Do I have to modify the file .-rds.json manually and create the .req.vtl and .res.vtl files?
How do I setup

[2020-01-15 14:45] orland1to commented on #3094
i have the same problem, it was fixed adding
[code]
before
`- amplifyPush --simple`
in build settings.

[2020-01-15 15:54] Ricardo1980 commented on #1271
Hello @mikeparisstuff
Thanks for your sample code.
What about if I want 2 resolvers that use Aurora to send SQL queries?
How should I setup this pipeline resolver?
In your QueryEchoResolver file, I don't see you are calling 2 resolvers.
Thanks for help.

[2020-01-15 16:56] elorzafe commented on #3048
@ashteya @mkaschke can you share your package.json and schema.graphql files?

[2020-01-15 17:11] simon-lanf commented on #3187
@kaustavghosh06 I've found the actual template causing the problem:
[code]

Notice the Node version for the lambda function ressource UpdateRolesWithIDPFunction.

I'm trying on a different computer right now. My whole setup is a CloudFormation stack (code repo, amplify app, etc...). I'm deleting it all right now. Then I will recreate it and re-do everything on a new computer that never had node in

[2020-01-15 17:20] jasontripleps commented on #2478
My workaround currently is to have a field where the api is used that's (for example) a: Array<MyType> then to just do a = await api.testQuery() (testQuery return type in this case would be declared as Promise<MyType>) and add a @ts-ignore above this line. It's nasty, but it allows you to use the typescript autocomplete wherever you're using variable 'a'.

[2020-01-15 18:28] jtushar53 opened #3193 "Managing Roles"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**
So we are trying to welcome AWS in our org but there are lots of challenges and planning going on. So we've create an application where we created 4 lambda functions with 3 dynamodb tables. for these each services everytime a new rol

[2020-01-15 19:44] dantasfiles commented on #3182
What isn't working like you want?
The only thing that jumps out at me is that you'll probably need to add a line to your `Mutation.createStore` resolver that ensures that the `owner` field gets filled automatically by your backend, not by your StoreManager user.

Something like  `$util.qr($ctx.args.input.put("owner", $ctx.identity.claims.get("username")))`

[2020-01-15 19:47] jkeys-ecg-nmsu commented on #2705
@forstmeier thank you very much for submitting the PR!

We'd like to begin testing / take advantage of this feature right away. @attilah any timeline on integration of John's PR or how I can help move this along (e.g. how can I improve the PR)?

[2020-01-15 19:51] Rafcin commented on #3182
I actually decided to go with ApiKey to publicly read and and then a group
for creation and it seems to work.

On Wed, Jan 15, 2020, 11:44 AM Daniel S. Dantas <notifications@github.com>
wrote:

[2020-01-15 20:14] dantasfiles commented on #1983
I found the [AWS CLI easier to use for testing push notifications than the Pinpoint console](https://medium.com/@dantasfiles/testing-push-notifications-with-aws-amplify-9126bd621d3a). You have more possible commands you can run for testing and those commands give useful return values. Pinpoint console just says the equivalent of "I can't send your test message, sorry."

[2020-01-15 20:33] gviger commented on #3065
@yuth I assume you guys are aware of this but just to point out that while @ben-elsen fixed his problem the bigger problem still exists. Even with a very simple structure resources:
- Datasource
- Resolver
- Pipeline Resolver
I get the the Pipeline_Resolver error identified. For testing purposes the Resolver req and res are just {} and empty respectively. The resolver datasource references the dat

[2020-01-15 21:09] nikhname commented on #3191
@LpmRaven After making changes to your schema what do you see when you run amplify status?

[2020-01-15 21:11] nikhname commented on #3191
What changes are you making when you run amplify api update? This is not necessary if you only updated the schema.

[2020-01-15 21:20] nikhname commented on #3190
This is an issue with windows permissions that we may look into in the future. Please feel free to comment if you have further issues.

[2020-01-15 21:20] #3190 closed

[2020-01-15 21:28] oliverandersencox commented on #3148
@SwaySway 'The argument for owners should be a list for the subscription operations.' can you explain this:

I tried passing the owners as an array containing one of the owners, both and just the owner (not an array). None of them every fired when creating a message from my IOS app, in which the owner array is set to contain the IOS device user ID and the website amplify app user ID as the other o

[2020-01-15 21:32] oliverandersencox commented on #3148
@SwaySway I presume the approach I'm trying to take is the sole reason for multiple owners.

User App
- sends a message to the business App
- Message sets the owners as the user and the business app user (publisher)
- owners field - [userId, publisherId] so as both users are able to subscribe to onCreateMessage and effectively have realtime chat

Business App
- listens to onCreatemessage for all m

[2020-01-15 21:32] nikhname commented on #3182
Closing for now, if you have further questions please comment below.

[2020-01-15 21:32] #3182 closed

[2020-01-15 21:45] shasan-marsdd commented on #60
when rollback happens due to errors such as permissions (setting it up for users in our organization that shouldn't have full admin permissions).  "amplify init" or "amplify env add" fails due to "failed to create bucket, it already exists".  Even after we fix the permissions, deployment doesn't happen without manual delete of the buckets (not deployment, but other buckets such as hosting etc).  O

[2020-01-15 22:56] LpmRaven commented on #3191
@nikhname Running `amplify status` I get:
[code]
If I run `amplify push`, my cloud resource does not change.

development/schema.graphql:
[code]
This is the change to my schema (above), I have added one new field and I need my cloud resources to change, (including the generated resolvers and the dynamodb), what do I do?

I've gone to `amplify/backend/api/myapi/schema.graphql` and it does not conta

[2020-01-15 23:15] heitorlessa commented on #3094
Do you mean 4.11? I've just downgraded from 4.12 to 4.11 and worked.

**excerpt amplify.yml**

[code]

[2020-01-15 23:16] heitorlessa commented on #3161
@olivoil I've just pinned mine to 4.11.0 and that includes nodejs10.x runtime. My project is now fully working both locally and within Amplify Console:

**excerpt amplify.yml**

[code]

[2020-01-15 23:34] swaminator commented on #3176
@kekkler can you please explain  what you mean by 'externalized' backends?

[2020-01-16 00:16] UnleashedMind commented on #2972
@amcbb
If you want to add your env to an existing Amplify Console project, you should run the migration workflow on an fully setup project:
`amplify init --appId <amplify-console-project-appId>`

[2020-01-16 00:59] kaustavghosh06 commented on #2972
@houmark Sorry for the late response. Please find responses in-line for your questions

1. Can an Amplify Console app be safely deleted in the UI without any Amplify resources being torn down (a new app with only backend attached was automatically created in the update process, and I'd like to get rid of it)?

Yes, deleting the Amplify Console app in the UI won't delete your resources

2. Is the r

[2020-01-16 01:38] forstmeier commented on #2705
Hey @jkeys-ecg-nmsu, which PR are you referring to? I don't believe I opened one on this repo regarding the issue.

[2020-01-16 01:40] forstmeier commented on #2705
Hey, @jkeys-ecg-nmsu which PR are you referring to? I don't believe I've opened one up yet.

[2020-01-16 03:53] gaochenyue commented on #3174
@kaustavghosh06 I tried to remove the storage, recreate and update function dependency to select the new storage, but it still pushed the default bucket name to environment variable

[2020-01-16 04:08] kldeb opened #3198 "InvalidIdentityPoolConfigurationException error when calling Auth.currentCredentials()"
**Describe the bug**
When calling `Auth.currentCredentials();` for unauthenticated user I get the following error:

**Amplify CLI Version**
4.12.0

**To Reproduce**
- Added auth category, enabled unauthenticated users in cognito pool
- added storage with guest user access to storage
- call `Auth.currentCredentials(); `
- see error

**Expected behavior**
Unauthenticated user should be able to uploa

[2020-01-16 05:46] awsed opened #3199 "npm run amplify-modelgen generating "type": “string""
GraphQL expects a "String" scalar however modelgen with the Amplify CLI 4.12.0 creates a “string" type in `models/schema.js` with React. Which means the field doesn't show up in IndexedDB locally when using the Amplify DataStore. Manually editing the `models/schema.js` and changing to "String" solves the problem

Sample schema I was testing with:

`type Note @model @auth(rules: [{ allow: owner }])

[2020-01-16 05:54] Rafcin opened #3200 "Elasticsearch Geo Location Setup Issue"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
The problem is when following the guide from https://aws-amplify.github.io/docs/cli-toolchain/graphql?sdk=js#searchable about elasticsearch and geo location, I run into trouble when I create my resolvers and custom resource.

The CLI complains with:
[code]
**Amplify CLI Version**
4.1

[2020-01-16 08:26] danhumphrey opened #3201 "Name should only contains letters, numbers, _ and -"
**Describe the bug**

I've just updated the CLI to version 4.12.0 in the hope that I can push to AWS and resolve the nodejs8.10 - nodejs10.x upgrade.

I have Auth, Function and Storage which all worked and pushed successfully before the upgrade.

The name format is as follows:

| Category | Resource name                    | Operation | Provider plugin   |
| -------- | ----------------------------

[2020-01-16 09:10] karrettgelley commented on #3176
I have ran into similar issues recently. I have an Amplify React app with three backend environments: prod, test, and dev just like in the docs. This is great because I can connect the branches from the repo of my React frontend via the Amplify console. However, I have decided to create a React Native app for mobile devices, but I have not been able to connect the branches of this new repo to the

[2020-01-16 10:58] SebSchwartz commented on #3152
@UnleashedMind Any news on that?

Thanks,
Sebastien

[2020-01-16 13:49] ThijsTyZ opened #3202 "Amplify mock does not respect the filter based on the query selection set for $util.error(String, String, Object)"
**Describe the bug**
`amplify mock` returns the full `data` object passed as 3rd argument for `$util.error(String, String, Object)`. However according to the documentation (https://docs.aws.amazon.com/appsync/latest/devguide/resolver-util-reference.html) it should only return the selected fields: _"data will be filtered based on the query selection set."_. This is also how it works within AppSync.

[2020-01-16 14:47] mkaschke commented on #3048
@elorzafe sure!

package.json

[code]

schema.graphql

[code]

[2020-01-16 15:44] izmalych commented on #1044
[code]

works fine for me

[2020-01-16 16:51] kldeb commented on #3198
I need to allow unauthenticated users the ability to upload files to the s3 bucket using storage. I managed to get past this error by upgrading all the front end libraries but I'm still getting `CredentialsError: "Missing credentials in config"` when trying to put the file.

[2020-01-16 17:18] paulsson commented on #1874
@kaustavghosh06 any updates on this very common problem? Is there a recommended best practice from the Amplify team to work around this?
Right now, I am updating the IAM role permissions manually to allow my lambda function permission to call my GraphQL api. Manually updating IAM roles is not ideal at all. I don't mind writing CloudFormation to do this but it is not clear how to tie in a custom ch

[2020-01-16 17:33] paulsson commented on #2303
@rowanu

Any chance you can share how you are accomplishing this? It looks like your PR was merged.
This seems to be a very common problem with circular dependencies that many people are having.
I commented on this ticket asking for Amplify docs that sounds like what you are describing:
https://github.com/aws-amplify/amplify-cli/issues/1874#issuecomment-575254839

Thanks for any knowledge sharing!

[2020-01-16 17:59] lesmuc commented on #1181
+1

[2020-01-16 18:01] kldeb commented on #3198
Figured it out. Wrong identity pool id in unauth role trust relationship. Not sure how that happened. Hopefully it stays fixed after next push.

[2020-01-16 18:32] simon-lanf commented on #3069
This sucks. It makes working with Windows and Linux really hard.

[2020-01-16 18:48] UnleashedMind commented on #2746
closing this issue. feel free to open a new issue if you still see this problem.

[2020-01-16 18:48] #2746 closed

[2020-01-16 18:53] kaustavghosh06 commented on #3151
If you run `amplify function update` and go through the flow, you should be able to give access to your cognito user pool - created using amplify. For more info - you can take a look at - https://aws-amplify.github.io/docs/cli-toolchain/quickstart#functions-examples

[2020-01-16 18:53] #3151 closed

[2020-01-16 18:53] kaustavghosh06 commented on #3121
@arkllc Let me know if you have any other questions.

[2020-01-16 18:53] #3121 closed

[2020-01-16 18:56] kaustavghosh06 commented on #3120
@Ricardo1980 We use @connection's and @keys for DDB since it doesn't have features like RDS to model 1-many or many-many relationships. As @nikhname  mentioned, if you're using RDS, you can model your tables to support 1-1, 1-many or many-many relationships. Your recommendation or ask is not clear out here.

[2020-01-16 18:57] #3066 closed

[2020-01-16 18:58] kaustavghosh06 commented on #2768
Closing this due to lack of response. If you're still stuck on this, please feel free to comment on this issue and we'll re-open this.

[2020-01-16 18:58] #2768 closed

[2020-01-16 19:00] kaustavghosh06 commented on #3183
@foxfl Yeah, it's super weird. I tried to create bucket using version 4.1.0 and did the update flow using 4.12.0 and wasn't able to reproduce. I'll re-open this issue if someone else is also seeing the same error and comments on this thread.

[2020-01-16 19:00] #3183 closed

[2020-01-16 19:06] kaustavghosh06 commented on #3198
@kldeb That's super weird. Did you remove auth and add auth again in your Amplify project?

[2020-01-16 19:07] kaustavghosh06 commented on #3138
Closing due to lack of response. Please comment on this thread if you're still stuck on this issue.

[2020-01-16 19:07] #3138 closed

[2020-01-16 19:10] regenrek opened #3204 "Accidently removed amplify's s3 deployment bucket + NoSuchKey error with new API Key"
** Which Category is your question related to? **
deployment

** What AWS Services are you utilizing? **
S3

** Provide additional details e.g. code snippets **
* I accidentally removed S3 deployment bucket which amplify uses to deploy resources.

Same as here: https://github.com/aws-amplify/amplify-cli/issues/1441

What I did:

* Open `amplify\backend\amplify-meta.json` and look for the value of

[2020-01-16 19:12] Rafcin commented on #3200
If you need any logs or anything else let me know. I'll be around.

[2020-01-16 19:19] kaustavghosh06 commented on #2085
We have released a fix for this. Please comment on this thread if you're still seeing this issue.

[2020-01-16 19:19] #2085 closed

[2020-01-16 19:23] amcbb commented on #2972
Thanks @UnleashedMind.  We were previously using amplify v 3.14.0 before the upgrade, and I missed the below text.  Is it possible to configure something so **no** Amplify Console project is created each time a new environment is init'd (and not added to an existing project through --appId) like before?  If not, this seems like a strange design change to me since team-workflow often has many backe

[2020-01-16 19:25] UnleashedMind commented on #3161
@olivoil
Your issue is probably different from @libeanim 's , although the error message is the same. There's a [PR](https://github.com/aws-amplify/amplify-cli/pull/3196) out already for the issue you had.

[2020-01-16 19:54] kldeb commented on #3198
@kaustavghosh06 yes, i had trouble setting up auth the first time around.

[2020-01-16 20:01] nikhname commented on #3191
@LpmRaven Once the schema is generated at amplify/backend/api/myapi/schema.graphql, changes in your schema at development/schema.graphql are no longer relevant since the CLI only refers to a single schema at a time. Updates will only be detected from amplify/backend/api/myapi/schema.graphql so you would need to modify that instead. The docs may not be clear enough for this and we will look into ad

[2020-01-16 20:07] nikhname commented on #3193
@jtushar53 We add the string to the end of roles to avoid conflicts in cases where the role name is too long and must concatenated. Thank you for the feature request we will discuss allowing users to name the roles given that we make a check to avoid conflicts.

Meanwhile, to make it easier to manage your roles, you should consider using tagging of roles:
https://docs.aws.amazon.com/IAM/latest/Use

[2020-01-16 20:11] blastedcode commented on #3118
Hi @sacrampton - Would it be possible to share your solution, I think it is what I need. I am building a system where members belong to one or many teams, can create their own team, be asked to join a team... This means their team list can be dynamic and there is a very good chance the teams will go above the cognito group limit of 500.

Are you also using something like refreshSession to force th

[2020-01-16 20:52] JRobertoWizeline commented on #1865
Is there any update on this issue? I'm just trying to get the total count on `ElasticSearch` using `@searchable`, but the service is not returning the total count. It just returns the paginated total count. If I send a no limit, then the total count becomes 10, since it seems to be the default limit... I'm just trying to count the number of items hit by some filter...

[2020-01-16 21:01] sacrampton commented on #3118
Hi @blastedcode - my use of dynamic groups is not quite as dynamic as yours is. I may have to look at that in future, but generally I probably don't need to. My scenario is that I would have Operating Unit and Plants owned by the company. An employee belongs to one or more Operating Units and there are Plants within each operating unit to which he is allowed to access. So there can quickly be more

[2020-01-16 21:18] blastedcode commented on #3118
Thanks @sacrampton the DynamoDB table should be able to get to where I need to.

[2020-01-16 21:24] chadkouse opened #3205 "Possible to use storage plugin with 3rd party (openid connect) auth?"
**Which Category is your question related to?**
Storage

**Amplify CLI Version**
4.6.0

**What AWS Services are you utilizing?**
DynamoDB, Lambda, S3, Cloudfront

**Provide additional details e.g. code snippets**
I'm wondering if it's possible to add storage without requiring the use of cognito?

[2020-01-16 21:59] kaustavghosh06 commented on #3185
@gaochenyue You won't be able to do this in mock I believe.
Where you able to get the invoke functionality working in the cloud? We don't have an example for this in our documentation as we didn't think it was a very common usecase

[2020-01-16 22:01] kaustavghosh06 commented on #3124
@gaochenyue Are you accessing the Lambda function as a resolver for the AppSync API or are you invoking the AppSync API via a  Lambda function?

[2020-01-16 22:06] nikhname commented on #3177
@rehanbabertkxel What code are you using to download the JSON file? Are you able to open the corrupted file at all?

[2020-01-16 22:07] kaustavghosh06 commented on #3092
@arkllc Have you checked our Cognito User Pool groups? - https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-user-groups.html

Please find answers to your questions inline:

1) How to decouple the authentication and authorization into a separate account as it is a shared authentication service used to authenticate many app-sync applications

This is currently not possible

[2020-01-16 22:08] gaochenyue commented on #3185
@kaustavghosh06 Thanks. It is not common if only sync request is needed. We are running into a scenario that we would like to trigger multiple lambda in parallel without waiting for the results in the parent lambda. AppSync can only support sync request while we would like to invoke lambda as an event

[2020-01-16 22:09] bilalashraf1710 commented on #3177
@nikhname please find the code for download in my post question.

[2020-01-16 22:11] kaustavghosh06 commented on #2730
@Jkap7788

The CLI uses nested cloudformation stacks so that the nested stacks can share information between each other and are logically nested. If you could give more details about the first problem, that would be great

For the second problem, Cloudformation has a soft limit of 200 stacks. We have rarely seen a single app tied to one AWS account scale to more than 200 nested stacks or functions

[2020-01-16 22:12] gaochenyue commented on #3185
Is it possible to create a mock endpoint for lambda function (like S3 mock endpoint ) and simulate some common used interfaces. e.g Invoke.

[2020-01-16 22:13] rehanbabertkxel commented on #3177
@nikhname please find the code for download in the question above.

[2020-01-16 22:15] Rafcin commented on #3200
This also occurs with 4.12.0

[2020-01-16 22:21] gaochenyue commented on #3124
@kaustavghosh06 We are doing both. Browser initiates the request from AppSync API 1 with a function resolver and the resolver function call AppSync API 2. The first request is Cognito auth and second request is API_KEY auth.

[2020-01-16 22:38] kaustavghosh06 commented on #3198
@kldeb I removed auth -> pushed -> added new auth and the trust relationship reflected the new identity pool. Glad you found the root-cause, I'm closing this issue for now, if there are other folks running into this issue, I'll re-open.

[2020-01-16 22:38] #3198 closed

[2020-01-16 22:39] kaustavghosh06 commented on #3187
@simon-lanf Please let me know if you were able to reproduce. Thanks!

[2020-01-16 22:41] kaustavghosh06 commented on #3033
Closing this issue due to lack of requested information. Please re-open if you're still stuck.

[2020-01-16 22:41] #3033 closed

[2020-01-16 22:47] kaustavghosh06 commented on #2458
@houmark the Lambda triggers are use-case based and is a part of the update flow (in the latest version of the CLI - 4.12).
Are you not able to see the below mentioned options?

[code]

[2020-01-16 22:48] kaustavghosh06 commented on #2458
The fix for the original issue - tied to removing of auth triggers has been merged and release in CLI v4.12.0. Please comment on this thread if you're still seeing issues tied to removal of auath triggers.

[2020-01-16 23:29] emanuelherrmann commented on #703
:+1:

[2020-01-16 23:44] jonperryxlm commented on #3187
I'm having the same issue.
I'm running Amplify CLI 4.12.0 on MacOS 10.15.2
I've set up an example Vue project, added Amplify, added an api and auth with the default config and when I push my git branch to trigger the automated deploy I get the following stack:

If I remove auth and push the changes to my repo, the automated build is successful.

Also, curiously for me, the build appears to work wh

[2020-01-16 23:48] LpmRaven commented on #3191
@nikhname Yes, I didn't see that info in the docs and its a bit counter-intuitive after you specify a schema to use. I see how it works now, thanks. I generally don't make changes to generated code, which is why I keep a separate schema, but I'll just copy and paste. I updated that schema and `amplify api push` and it worked.

[2020-01-16 23:50] elorzafe commented on #3048
@mkaschke can you rename the type Subscription from annotated schema. That is overwriting the Subscription generated by CLI

[2020-01-16 23:51] elorzafe commented on #3048
@mkaschke you should also add `@aws-amplify/datastore` to your `package.json` file.

[2020-01-16 23:56] #3191 closed

[2020-01-17 00:12] djheru commented on #2792
I ended up with a similar solution, but it works just fine

[code]

[2020-01-17 00:16] berenddeboer commented on #3134
Sorry @kaustavghosh06 why is this closed? Is it fixed? I still really like the ability to regenerate the `schema.json`, it's just a problem it does this inconsistently, i.e. only in the most basic case.

[2020-01-17 00:42] ammarkarachi commented on #3106
I don't like this because the logic is in the client rather than the server. Seems easy to implement, and I guess it is easy to ignore the result of the second operation from a client point of view.

I believe since you aren't concerned with success of the query/mutation this would be the way to go but you are also keeping the logic on the client and there is no guarantee the client would execute

[2020-01-17 01:07] asmajlovicmars commented on #2636
Hi @SwaySway, it would be perfect to add "listen"!

I have a situation as below:
schema:
      **{ allow: owner, operations: [create, read, update] }
      { allow: groups, groups: ["Admin"] }**

Scenario 1: When the owner does onUpdate (on its owned data) subscription fires and updates the data. The owner sees the update immediately, but Admins doesn't get the update.

Scenario 2: When Admin make

[2020-01-17 02:02] simon-lanf commented on #3187
@jonperryxlm can you tell me what is the exact command you are executing ?

Le jeudi 16 janvier 2020, jonperryxlm <notifications@github.com> a écrit :

[2020-01-17 02:13] jonperryxlm commented on #3187
@simon-lanf these are my build settings:

[code]

[2020-01-17 02:24] simon-lanf commented on #3187
What are the commands you use with the cli ?

Le jeudi 16 janvier 2020, jonperryxlm <notifications@github.com> a écrit :

[2020-01-17 02:45] chuckatc commented on #3048
@elorzafe thanks very much for the attention on this.

I'll be able to retry the modified demo with @latest later next week (currently on the road).

[2020-01-17 03:23] jonperryxlm commented on #3187
With the cli, I'm just doing

`amplify add auth`

then accepting the defaults and running `amplify push`

And that works. It just creates the UpdateRolesWithIDPFunction with Node 8.10 runtime

[2020-01-17 03:23] jonperryxlm commented on #3187
And for completeness, my local node version is 12.13.0

[2020-01-17 05:29] olivoil commented on #3161
Thank you @heitorlessa, pinning down the version to 4.11.0 worked!

[2020-01-17 05:34] olivoil commented on #3161
Thanks @UnleashedMind, good to know. I'll test when the PR is merged to confirm

[2020-01-17 05:51] rahulvyas1 commented on #3161
This worked for me. Thanks

[2020-01-17 07:44] jimmyn commented on #970
Is there any example on how to make it work, I'm also struggling with this. Why this issue was closed?

[2020-01-17 10:41] ricardoribas commented on #682
@mikeparisstuff i tried to go to the AppSync console, but happens that the specific resolver not even exists there, which make me think that this resolver is in some kind of cache or something. I cannot manage to get a pattern here as well as every time a different resolver name appears.

[2020-01-17 15:05] ajonp commented on #351
When trying to paste the JSON above to create a policy I receive this error, is there a way around that?

![image](https://user-images.githubusercontent.com/3102249/72622228-cffdd400-3910-11ea-93dd-0f5575c1e12f.png)

[2020-01-17 15:15] ajonp commented on #351
Just to follow up, when I remove the API Gateway and seperate that into a seperate policy, creating two policies instead of all inline. This gets the character size down to the required size.

[code]

[2020-01-17 15:19] atlowell-smpl commented on #351
@ajonp it looks from your error that the issue is with the user, not the policy length.  I'm assuming you're editing a policy that is already added to the user?  I was able to create the JSON policy in that document, so you may need to remove other policies from the user to get it to work.

[2020-01-17 15:21] atlowell-smpl commented on #351
Also a followup to above: when using the list of permissions specified in the linked amplify documentation, we encountered an issue where our cli was missing access to cognito-idp:ListTagsForResource.  Unsure of whether that is specific to our project or a general policy needed that is missing.

[2020-01-17 15:23] ajonp commented on #351
Right now we are unable to get past this

[code]

Seems to be missing an additional resource, but I have no idea for what role. If this is separate I can open a new issue, but we are trying to find the minimal amount of policy as well.

[2020-01-17 15:33] atlowell-smpl commented on #351
You need to give amplify:* as one of the permissions in the policy.  You can find a more official list in the link amplify docs link commented by @kaustavghosh06 above, but as mentioned by me and others it seems to be missing some cases.

[2020-01-17 16:08] attilah commented on #3146
@lawmicha the design decision was to expose the same condition possibilities as it is available for update and delete. As @gaochenyue points out ```attribute_not_exists``` is one thing that it is useful for and if you're going with custom resolvers or if your higher level needs to decide on to update or insert an item based on some business rules, without the exposed condition parameter you'd have

[2020-01-17 16:08] #3146 closed

[2020-01-17 16:34] attilah commented on #3157
@paulsson reading up on the problem you've and the proposed solution is mainly two parts, one is a system design question the other one is a proposed change to the CLI, so I answer separately.

About the proposed changes: I see the use case but it is too specific to make it into the CLI native directives at this point, but I'll mark this issue as an enhancement to keep it around it more customers

[2020-01-17 16:36] BardiaN commented on #2700
+1

Spent quite some time to figured it out today. :P

[2020-01-17 16:37] jkahn117 opened #3210 "DataStore code generation for multiple frontends"
**Describe the bug**
DataStore code generation fails when following documentation for multiple frontends. The Amplify CLI seems to expect that the `amplify` directory exists; however, it does *not* exist in cases after an `amplify pull` in which the developer opts to not manage the backend from the project.

**Amplify CLI Version**
4.12.0

**To Reproduce**

1. Create frontend 1 (e.g. React)
2. Ini

[2020-01-17 16:42] attilah commented on #3160
@MartinPindel This is by design in AppSync, as when you get back a full page - 5 items in your case - AppSync doesn't "scan forward" if there are more items or not, it presents you a ```nextToken``` because you requested 5 items, it returns you 5 items and the token to make you able to query for next pages if there is more data to return. What you're hitting is an "edge case" for the current state

[2020-01-17 16:42] #3160 closed

[2020-01-17 16:47] attilah commented on #3064
@jonmifsud Could you please try this workaround, while I'm working on auth rule propagation for scenarios like this:
- Place ```@aws_iam``` directive on your ```UserTags``` type
- Create a policy for the IAM user/group you've to make sure it can access the ```UserTags``` type under the AppSync API.

This should solve your problem. Please get back to me with the results.

[2020-01-17 17:50] yuth commented on #3048
@chuckatc @mkaschke Please feel free to re-open/comment in this thread if you still facing issues

[2020-01-17 17:53] dwamianm commented on #3008
Is there any update on this issue? My local realtime development has slowed down significantly based on this.

Thanks

[2020-01-17 17:55] yuth commented on #3008
We have this issue on our backlog. We will be picking this up once it is prioritized

[2020-01-17 19:09] attilah commented on #2170
Closing due to lack or response for quite some time.

[2020-01-17 19:09] #2170 closed

[2020-01-17 20:27] jonperryxlm commented on #3187
I think I might have resolved my issue. It turns out (for me at least), the automated build process for my branches was using Amplify CLI v1.12.0 (!).

Absolutely no idea why and this doesn't seem to be visible anywhere, but by updating my "Build Image Settings" to include "Amplify CLI: Latest" as an override it seems to work now.
![image](https://user-images.githubusercontent.com/44811574/7264385

[2020-01-17 20:41] Rafcin commented on #3200
I've tried to update the s3 paths and change a few things in the resolvers. Still no luck.

[2020-01-17 21:05] danhumphrey commented on #3201
I have narrowed this down and resolved the issue - my `projectName` in `project-config.json` contained a `.` however, this isn't new - it always has and I've pushed many times successfully.

[2020-01-17 21:05] #3201 closed

[2020-01-17 22:10] amuresia commented on #1874
+1

[2020-01-17 22:53] nikhname commented on #3049
@Ricardo1980 Thats correct we do not use a Binary type in the graphql schema, only ID type.

From mySQL perspective it is best practice to list out each of the fields selected, since it ensures consistency and best performance. So your current solution

"SELECT HEX(userId) as userId, morefields, morefields.... FROM User WHERE userId=UNHEX('$id')"

looks good to me from a correctness point of view.

[2020-01-17 23:19] Ricardo1980 commented on #3049
Thanks @nikhame
The for loop I have is a bit ugly.
Try to add this to your tasks please.
I close the ticket.

[2020-01-17 23:19] #3049 closed

[2020-01-18 00:42] Rafcin commented on #3200
Resolved.

[2020-01-18 00:42] #3200 closed

[2020-01-18 02:03] guioum opened #3212 "Generated boilerplates for Lambda triggers long startup time"
**Describe the bug**
Lambda triggers generated code with boilerplates has a long startup time (4 seconds).

**Amplify CLI Version**
4.12.0

**To Reproduce**
Generating any cognito triggers boilerplates as per: https://aws-amplify.github.io/docs/cli-toolchain/cognito-triggers

It generates an index.js like this:
[code]

**Expected behavior**
Lambda to finish execution without a timeout.

**Screensh

[2020-01-18 12:21] Ricardo1980 commented on #3106
Thanks for your reply @ammarkarachi

Please, let me know about "Invoking a Lambda Function with an Aurora MySQL Stored Procedure (CALL mysql.lambda_async)"

If that approach is not possible, I will follow a micro-services architecture.

Thanks a lot for your help.

[2020-01-18 19:47] Ricardo1980 commented on #3120
Thanks @kaustavghosh06

OK, let me confirm this.
If I have this query (the data model is up there):

[code]

In the request mapping vlt I have one SQL query that combines all that info and returns a list of rows, something like:

SELECT likeId, likeCreatedAt, postId, postCreatedAt, postText,... FROM.... (probably using a left join)

And in the response mapping vlt, I have to manually convert that

[2020-01-18 22:36] dyangelo-grullon commented on #3176
@swaminator in a separate repo; not in the same amplify project.

[2020-01-19 05:04] jkeys-ecg-nmsu commented on #3171
@CaptainChemist I think there may already be a request for this (or at least a closed issue asking how to achieve this). Rather than overwrite the queries, you can [overwrite the request resolver](https://aws-amplify.github.io/docs/cli-toolchain/graphql#custom-resolvers) to have a default limit of 60 rather than 10.

You can copy the original from `/amplify/backend/api/yourApiName/resolvers/defaul

[2020-01-19 05:49] dabit3 commented on #3199
Thanks @awsed, I ran into the same issue and that worked for me also.

[2020-01-19 09:20] jkeys-ecg-nmsu commented on #3212
It looks like your code takes >3s to execute. Three seconds is the default Lambda execution timeout. If latencfy isn't a big deal for your Lambda triggers, you could try raising that limit from the AWS CLI or AWS console (no way to specify Lambda timeout from Amplify CLI currently as far as I know).

It would be cool if Amplify could do things like parse CloudWatch events for the maximum execution

[2020-01-19 12:51] guioum commented on #3212
Hello and thank you for your response.
Actually, cognito triggers expire after 5 seconds, and it cannot be changed, this is an AWS constraint (see: https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html#important-lambda-considerations).

The strange thing is really the behavior of `const { handler } = require(`./${modules[i]}`);`

[2020-01-19 13:20] alex-vladut commented on #3048
I'm still getting an error if I use a custom `ownerField` in `@auth` decorator. Basically, with the following GraphQL schema it all works fine - default `owner` field:
[code]
but when I set the `ownerField` to be the `id` field:
[code]
it throws the following exception while DataStore attempts to sync local data to the cloud:
[code]
From what I can tell, DataStore assigns a random ID to the local

[2020-01-19 14:04] dasearle commented on #2736
@kaustavghosh06 I am seeing the same issue as @xoadrian. Saw it on v3.17, still seeing it on v4.12.

The issue is intermittant and sometimes can be resolved by deleting the mock data folder or running plugin scan, but infruiating once it gets going.

On Windows 10, Node 10.16.1. Happens on my desktop and laptop dev machines, both intermittantly.

[2020-01-19 14:15] im-btownsend opened #3213 "Backend cannot be pushed after adding a Function resource"
**Describe the bug**
After adding a Function resource locally I cannot push the backend to the cloud and receive the error:
[code]

**Amplify CLI Version**
4.12.0

**To Reproduce**
Add a Function resource e.g. by enabling reCAPTCHA or email verification to an Auth resource or adding an admin queries API.
In this case, I tried adding:
- Add Google reCaptcha Challenge
- Email Verification Link with

[2020-01-19 14:43] Elmegaard commented on #3161
I am getting this same error:
[code]
This works perfectly fine locally though and I can push just fine and everything is working exactly as intended. But as soon as I start a build the backend fails to build.

I tried everything mentioned here and no dice. This is my build file:
[code]

[2020-01-19 15:57] ilyador opened #3214 "How do I run an existing Amplify project on a new machine?"
Since `aws-exports` is not part of the git repo, how do I recreate it without building a whole new Amplify project?

[2020-01-19 16:21] raelmiu opened #3225 "DataStore "Invalid field for model" unhelpful error"
**Describe the bug**
When trying to use DataStore for my Models, some of them get the following unhelpful error: `Error: Invalid field for model. field: id, model: Profile` on both _create_ and _get_ even when there are no models.
Not sure what the error means, have tried quite a few variants of my code. But the error keeps popping up.

**To Reproduce**
1. Use the following model for AppSync
2. ge

[2020-01-19 16:41] jameslporter commented on #3064
Hit this issue and setting @aws_api_key at the end of my subtype definition worked!

Had me stumped for a little bit, would be nice for it to pass it through if it no auth directive policies to apply from the sub type but you are otherwise allowed access at the parent model type level.

I think some docs that better demonstrate public data access on an amplify project you setup with cognito auth b

[2020-01-19 16:48] heitorlessa commented on #3161
Peter - Change to 4.11.0 under your preBuild section and it should work

On Sun, 19 Jan 2020 at 14:43, Peter Elmegaard <notifications@github.com>
wrote:

[2020-01-19 17:01] Elmegaard commented on #3161
I am getting the same issue with 4.11.0. I use 4.12.0 locally and that seemed to work so I tried that.

[2020-01-19 17:03] heitorlessa commented on #3161
I had the same issue with 4.12 - works locally but not in Amplify Console.
Changed to 4.11 in the build settings and it’s working since last week
 with multiple builds and envs

On Sun, 19 Jan 2020 at 17:01, Peter Elmegaard <notifications@github.com>
wrote:

[2020-01-19 17:16] Elmegaard commented on #3161
Doesn't seem to work for me, could the version be cached or something?

[2020-01-19 17:18] rnagasamy commented on #82
TThis doesnt work.

[2020-01-19 17:19] heitorlessa commented on #3161
Possibly. To rule that out, comment that line in preBuild and use the Live
Packages features that is handled at the container build lifecycle:

https://docs.aws.amazon.com/amplify/latest/userguide/custom-build-image.html

Here’s my custom build setup just in case

https://github.com/aws-samples/aws-serverless-airline-booking/blob/develop/amplify.yml

On Sun, 19 Jan 2020 at 17:16, Peter Elmegaard <

[2020-01-19 18:18] Elmegaard commented on #3161
I have overridden the amplify cli version in build settings and that fixed the issue. Thank you very much.

[2020-01-19 21:02] gaochenyue opened #3215 "colon in S3 path is invalid for Windows file path"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
For the S3 mock on Windows, the S3 file path of a private put has a colon, e.g `us-west-2:e2b2fdb8-38b8-4e47-8594-316a20dea577`,  which is an invalid character for Windows file path. When put a file with private level, it failed with the error below
[code]
**Amplify CLI Version**
4.1

[2020-01-20 02:56] kaustavghosh06 commented on #3214
@ilyador Do you have the `amplify/team-provider-info` in your repo? If yes, you can just run `amplify init` and select your existing environment and the CLI will setup the amplify project on a new machine with the exports file.

[2020-01-20 03:10] sean-hausvac commented on #2038
same issue, Amplify doesn't seem very reliable

[2020-01-20 03:49] ilyador commented on #3214
@kaustavghosh06 Thanx, how do I create `team-provider-info`?

[2020-01-20 03:53] kaustavghosh06 commented on #3214
It should’ve been created for you - and should be a part of the git repo - since it’s not put into the gitignore by default.

[2020-01-20 03:55] ilyador commented on #3214
@kaustavghosh06 I have created multiple projects and never had this file created.

[2020-01-20 03:57] kaustavghosh06 commented on #3214
Are you sure it isn’t located in your ‘amplify’ folder? Which version of the CLI did you use to create these projects?

[2020-01-20 04:27] srajsushmitha opened #3216 "Regarding IAM permissions"
Hi, what are the permissions required for an IAM user to init and configure amplify(only analytics) because I don't want to give admin permission. Could anybody please help me with that since I didn't find any documentation or any information regarding that.
Thanks

[2020-01-20 05:31] ok-martin commented on #3183
Having the same issue. After running amplify update storage and amplify push I get the same error on ap-southeast-1

[2020-01-20 05:40] weisisheng opened #3217 "amplify version 4.12.0 -- can't reset node.js runtime to latest"
**Describe the bug**

Related to #3179 (closed) and others recently, I am unable to update settings to newer nodejs so future additions fail.

**Amplify CLI Version**
4.12.0

**To Reproduce**
Steps to reproduce the behavior or terminal output if applicable

amplify init ( I incorrectly hit <enter> the first and only time asked about nodejs runtimes, then not asked again in subsequent 'amplify init

[2020-01-20 06:39] royalaid commented on #2303
I am also running into this issue and it appears my postConfirmation lambda is just using the default value provided for my UserPoolId output because that function never receives the output from the User Pool.

[2020-01-20 07:10] hirochachacha commented on #1657
I've created https://github.com/hirochachacha/graphql-auto-transformer for solving these kinds of problems.

[2020-01-20 07:14] hirochachacha commented on #1657
Usage:
[code]

[2020-01-20 09:17] danielcai1987 commented on #1865
I've tried to add a **total** in the schema
[code]

In _AppSync Console_,  attach a **Resolver** to the **ModelUserConnection** -> total

In "**Configure the request mapping template.**" section
[code]

In "**Configure the response mapping template.**" section
[code]

then I can query the **total**
[code]

result would be
[code]

I'm new to Amplify and AppSync, so not very sure whether this is a c

[2020-01-20 09:34] davidbiller commented on #1865
It is a solution yes. But a scan operation is expensive ans slow. If you have 6 items, its okay. But if you have 100k its not good to use this option.

[2020-01-20 09:49] danielcai1987 commented on #1865
@davidbiller
Thanks for the reply. In your opinion, what is the good option? Thanks!

[2020-01-20 10:52] mkaschke commented on #3149
I run into this issue:

`CREATE_FAILED UserPoolClientLambda AWS::Lambda::Function Mon Jan 20 2020 11:44:10 GMT+0100 (GMT+01:00) The runtime parameter of nodejs8.10 is no longer supported for creating or updating AWS Lambda functions. We recommend you use the new runtime (nodejs12.x) while creating or updating functions. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterVal

[2020-01-20 11:23] RossWilliams commented on #1865
@danielcai1987 scan is limited to reading 1MB of stored data at a time, if you ever expect this table to hold more data, the above solution will not work

[2020-01-20 12:09] karrettgelley opened #3221 "Graphql Transform Schema Question"
** Which Category is your question related to? **
Graphql Transform
** What AWS Services are you utilizing? **
Cognito, AWS Amplify
** Provide additional details e.g. code snippets **
So I have been using Amplify in a development setting and it is great for the tutorial projects. I especially like the Graphql Transform feature. It seems to decrease my time to market on most features. However, I am

[2020-01-20 12:20] davidbiller commented on #1865
@danielcai1987
https://medium.com/signiant-engineering/real-time-aggregation-with-dynamodb-streams-f93547cfb244

[2020-01-20 12:47] arekt commented on #2384
+1

[2020-01-20 13:09] asyschikov commented on #3149
Same as @mkaschke . Somehow local `amplify push` works but the build with its `amplifyPush --simple` crashes with that error.

[2020-01-20 13:21] rehanbabertkxel commented on #3177
@nikhname , any update on this?

[2020-01-20 14:13] sandeepsdixit commented on #1880
Vote +1 for feature implementation

[2020-01-20 14:34] sorokinvj commented on #3149
what is the output of
[code]
?

[2020-01-20 14:54] mkaschke commented on #3149
@sorokinvj amplify -v 3.17.0

[2020-01-20 15:47] asyschikov opened #3220 "The Push Notifications category seems to be broken entirely (FCM at least)"
There is a whole constellation of bugs, some of which are hard to reproduce, so I will try to explain as best as I can, please feel free to ask me for any clarifications.

1) The first strange thing is that `amplify notifications add` creates an Amazon Pinpoint project straight away. My understanding was that `add` commands are without immediate side effects on the infrastructure, unless you do a

[2020-01-20 16:12] dtelaroli commented on #1874
+1

[2020-01-20 16:31] jkeys-ecg-nmsu commented on #3212
@guioum Wasn't aware of the 5 second upper bound. Seems arbitrary, I'd check to see if it wasn't really a soft limit.

I think the issue is that `require` from inside the exports.handler function will import those libraries at runtime, rather than at cold-start. Do you still get a 4s+ long cold start?

[2020-01-20 16:40] guioum commented on #3212
No my cold start is fixed (I removed the required inside the handler
function).

Le lun. 20 janv. 2020 à 11:31, Jeremy <notifications@github.com> a écrit :

--
Guillaume.
514-713-8252.

[2020-01-20 16:42] guioum commented on #3212
No my cold start is fixed (I removed the required inside the handler
function).

[2020-01-20 18:08] dantasfiles commented on #3220
Be aware that if you get past your push/pull issues, you may still run into this. https://github.com/aws-amplify/amplify-js/issues/4711

[2020-01-20 18:19] asyschikov commented on #3220
@dantasfiles omg thanks for the heads up... what am I getting into...

[2020-01-20 18:57] elorzafe commented on #3048
@alex-vladut you are correct, DataStore generate random ids internally.

Using `id` as `ownerField` is currently not supported. What is the use case you are trying to accomplish?

[2020-01-20 19:35] alex-vladut commented on #3048
Thanks for reply @elorzafe. At the moment I am mostly exploring DataStore in order to understand how it works and if I'll be able to use it in a prod environment. Here I try to implement a simple chat app making use of DataStore, and the specific use case listed there is to create a new User item  whenever a user signs up for the first time. The item/entity is required to store some user specific

[2020-01-20 20:01] hisham commented on #3217
Yes I'm getting this as well. Similar repro steps.

[2020-01-20 20:17] kaustavghosh06 commented on #3217
@weisisheng For more clarity, is your issue about the fact you answered `No` to this question `Confirm to update the NodeJS runtime version to 10.x (Y/n) ` but now you are not able to automatically migrate your Lambda function runtimes?

[2020-01-20 20:19] hisham commented on #3217
Hi @weisisheng I was able to fix. Just go to your amplify/.config/project-config.json and change your project version to anything (mine was at 2.0 and I changed to 2.1). Then run an amplify command (e.g. amplify status) and the script will prompt again to upgrade.

[2020-01-20 20:21] kaustavghosh06 commented on #3217
Yeah, I was going to recommend changing to 1.0 and the CLI will ask the question again. The above works too as mentioned @hisham

[2020-01-20 20:23] #3217 closed

[2020-01-20 20:24] kaustavghosh06 commented on #3216
@srajsushmitha You can find more information regarding the scoped policies out here - https://aws-amplify.github.io/docs/cli-toolchain/usage#iam-policy-for-the-cli

[2020-01-20 20:24] #3216 closed

[2020-01-20 20:24] kaustavghosh06 commented on #3214
@ilyador Let me know if you're still stuck on this and I'll re-open this issue.

[2020-01-20 20:24] #3214 closed

[2020-01-20 20:26] kaustavghosh06 commented on #3210
@jkahn117 Currently we need the schema.graphql file in the `amplify` folder to generate the models. If you say 'Yes' to the question above - `Do you plan on modifying your backend (Y/n)` then the amplify directory would be generated with the schema.graphql file in it and you'll be able to execute `amplify codegen models`

[2020-01-20 20:28] kaustavghosh06 commented on #3212
@guioum Curious to know your workaround after removing the require inside the handler function. How did you manage to interact with other modules?

[2020-01-20 21:34] yuth commented on #3199
@dabit3  @awsed could you try deleting the esm cache. It should be located in `<global-node-path>//lib/node_modules/@aws-amplify/cli/node_modules/.cache`.

[2020-01-20 21:43] #3199 closed

[2020-01-20 22:17] GenesisChris opened #3222 "Step Functions"
**Is your feature request related to a problem? Please describe.**
Integrating Step Functions is not currently supported, but is something I find myself using

**Describe the solution you'd like**
I would love it if Step Functions were to become officially supported to be provisioned and given access in the Amplify CLI.

**Describe alternatives you've considered**
I'm currently manually integratin

[2020-01-20 23:13] HoraceShmorace commented on #3186
Please reopen this. I have the same environment/versions, and get the same exact errors.

The previous version of amplify cli was working without command line tools installed. If it's now required, it should be called out.

That being said, I installed command line tools, and I get the same exact errors.

[2020-01-20 23:37] HoraceShmorace commented on #3186
Note, I tested most other resources, and so far it only happens with a GraphQL API.

[2020-01-21 00:12] sammartinez commented on #3225
@raelmiu Im transferring this over to the Amplify CLI team in order to look into this potential issue.

[2020-01-21 00:21] #3180 closed

[2020-01-21 01:45] SwaySway commented on #2775
Closing this issue as the fix for this has been merged.

[2020-01-21 01:45] #2775 closed

[2020-01-21 01:54] SwaySway commented on #3220
@asyschikov

Is an console app created for every push?

Regarding 2 & 3
This seems related to this console issue
https://github.com/aws-amplify/amplify-console/issues/206
I recommend the following fix commented in that issue
https://github.com/aws-amplify/amplify-console/issues/206#issuecomment-552548466

In this case for notifications it would be adding the apiKey example below
[code]

For #4 we

[2020-01-21 01:56] karrettgelley commented on #3221
So I've been scouring the docs and this is all I could come up with:

`type Student @model {
  id: ID
  name: String
  classes: [StudentClass] @connection(keyName: "byStudent", fields: ["id"])
  exams: [StudentExam] @connection(keyName: "byStudent", fields: ["id"])
}

type StudentExam
  @model
  @key(name: "byExam", fields: ["examID"])
  @key(name: "byStudent", fields: ["studentID"])
  @key(name:"

[2020-01-21 02:54] apoorvmote opened #3227 "List, delete aws user profile"
**Which Category is your question related to?**

Configure AWS Profile

**Amplify CLI Version**

v.3.17.0

**What AWS Services are you utilizing?**

Amplify

**Provide additional details e.g. code snippets**

AWS recommends changing access key id and secret access key id every few days. `amplify configure` helps to add new user profile. But I would like to list existing user profiles and delete pr

[2020-01-21 03:57] EphemeralX commented on #996
+1

[2020-01-21 04:22] houmark commented on #3221
You could consider a custom query that ends on a Lambda which does two queries, specifically all exams the student has signed up for and all classes for the student and then return the ones the student does not have. There's actually not that much work involved in doing that.

I don't think `@search` will help you alone, as you will no need to join two tables and query on the joined tables, which

[2020-01-21 06:03] cyrfer commented on #620
The docs on this are still pretty weak.

The general docs are here:
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html

The Amplify CLI docs are here, but do not show which command initiates the "manual Auth cli workflow".
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#adding-a-lambda-trigger

[2020-01-21 06:48] dyangelo-grullon commented on #1194
This ticket needs to re-opened

[2020-01-21 06:58] aprilmintacpineda commented on #2775
@SwaySway is there anything we need to do? Do we need to update @aws/amplify-cli?

[2020-01-21 07:04] superunrelated commented on #2635
Still not solved as of amplify -v 4.12.0

[2020-01-21 09:51] dabit3 commented on #3199
Thanks @yuth I'll give it a shot. Is this something to be concerned about for users in the future? I.e. is this an issue with npx or just the way node caches globals in general?

If they are following our exact instructions, will this pop up again in the future as we continue to iterate to newer versions? If so, maybe we should consider either letting them know to delete their cache when using npx

[2020-01-21 10:04] mdebo commented on #1874
+1

[2020-01-21 11:45] gvhuyssteen commented on #3227
This can be easily done through the AWS CLI.

**To list profiles**
`aws configure list`

**All available commands**
`aws configure help`

**Manually change the profile keys**
~/.aws/credentials (Linux & Mac) or %USERPROFILE%\.aws\credentials (Windows)

Reference:
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html

[2020-01-21 11:46] sekaru opened #3228 "Spinning down architecture"
**Which Category is your question related to?**
API, Storage, ElasticSearch

**Amplify CLI Version**
4.11.0

**What AWS Services are you utilizing?**
Cognito, S3, DynamoDB, ElasticSearch

**Provide additional details e.g. code snippets**
How would one go about spinning down the architecture Amplify creates? For example, if I want to take a break I don't want a ElasticSearch instance sitting there

[2020-01-21 12:17] mdebo commented on #2458
Hi, Unfortunately, after upgrading to 4.12.0, I always have the issue
Resource cannot be removed because it has a dependency on another resource
Dependency: Cognito:mycognito3a5da5dc
Error: Resource cannot be removed because it has a dependency on another resource,

[2020-01-21 13:06] apoorvmote commented on #3227
@gvhuyssteen Thanks for the tip.

If anyone else is interested in updating aws credentials then this is what worked for me

`aws configure --profile myProfileName`

I don't see any option to delete profile but at least I can update access key id and secret key id after the values becomes stale over time.

[2020-01-21 13:06] #3227 closed

[2020-01-21 14:38] alikadir commented on #2830
@kaustavghosh06 no

[2020-01-21 16:05] morgler opened #3229 "Amplify "add hosting" not setting "Restrict Bucket Access" in Cloudfront"
Adding hosting via `amplify add hosting` while selecting the PROD environment (i.e. with Cloudfront enabled) will lead to an `AccessDenied` error when accessing the published website via the Cloudfront URL.
Manually setting the `Restrict Bucket Access` to `Yes` in the Cloudfront panel solves the issue. See also https://stackoverflow.com/questions/59822923/amplify-publish-causes-accessdenied-error/

[2020-01-21 17:44] karrettgelley commented on #3221
@houmark So what would it look like? I don't have much experience writing custom resolvers, but based on the docs I would try think @function is the way to go. Then I would try to write a lambda function that queries a dynamodb table using the aws-sdk. Does this sound reasonable?

Schema
[code]
And then the lambda function would be:

Lambda
[code]

[2020-01-21 18:05] yuth commented on #3199
@dabit3 Amplify CLI uses [ESM](https://github.com/standard-things/esm) to support ES modules, which maintains a cache. I am investigating to see what would be the impact Of disabling the esm cache (in terms of load times). Longer time solution would be to run the code through typescript or bable transpiler which coverts this to a common js import

[2020-01-21 18:09] houmark commented on #3221
You're on the right path, but instead of going straight to DynamoDB in the Lambda function, you can also do GraphQL queries, which would look something like this:

[code]

Kicking off two queries as a Promise.all and then comparing and returning the result as the field value would be pretty fast. You don't need to use GraphQL here, but I generally avoid going directly to DynamoDB, to make sure any

[2020-01-21 18:17] karrettgelley commented on #3221
@houmark So you would not recommend using writing a [custom resolver using velocity](https://aws-amplify.github.io/docs/cli-toolchain/graphql#add-a-custom-resolver-that-targets-a-dynamodb-table-from-model)? I'm not sure what the differences are in efficiency or limitation, but for now I am just trying to implement the simplest solution.

[2020-01-21 18:18] #3035 closed

[2020-01-21 18:27] houmark commented on #3221
Not at all, I don't see a need for that in your use case. In the end, the data you need to figure out the missing exams are in DynamoDB, and since that does not seem to be a huge amount of records you would return, this would be my preferred approach and you will probably also notice that it's pretty fast.

We have a Google Calendar integration done exactly in the same way with a field pointing to

[2020-01-21 19:26] karrettgelley commented on #3221
@houmark Thank you for your response. I'll mess around with both to see which is easier. It seems like I could set up a [pipeline of resolvers](https://docs.aws.amazon.com/appsync/latest/devguide/resolver-mapping-template-reference-overview.html) with Velocity and achieve the same result. But in your experience, when is it desirable to use Velocity vs a Lambda function?

[2020-01-21 19:27] k3nnet commented on #3149
@asyschikov  where can you find the build settings for amplify CLI that you are refering to ?

[2020-01-21 19:54] houmark commented on #3221
I just try to stay out of velocity as much as possible :)

[2020-01-21 23:04] SwaySway commented on #3228
Hello @sekaru
Currently the Amplify CLI does not have an option to spin down services.
If you want to delete your dynamodb tables from say your graphql schema but keep the design you can comment those out and cloudformation will remove those tables for you. The same is applicable for removing `@searchable` from your schema.

[2020-01-21 23:09] SwaySway commented on #3229
@morgler When you see the access denied message is the url that of the bucket or the cloudfront url?
Reference Issue below:
https://github.com/aws-amplify/amplify-cli/pull/2369

We did have a change which will only allow access to the provided cloudfront url and this make take time to set up, as initially it will redirect to the bucket is denied access.

[2020-01-21 23:15] cyrfer opened #3240 "custom cloudformation parameters for environments"
How can I pass custom cloudformation parameters whose values change for different environments? I'd like to leverage Amplify Environments but I don't know what I need to do to get environment specific CF parameters passed to each CF stack. Does the Amplify CI/CD Console help?

I discovered if I create the "parameters.json" file in my Function stack folder, the values are passed to CF deploy. What

[2020-01-21 23:31] ammarkarachi commented on #2892
@idanlo if you are ok with it could you share your schema over email at amplify-cli@amazon.com

[2020-01-21 23:55] khitrenovich commented on #2005
Possible duplicate of https://github.com/aws-amplify/amplify-cli/issues/852

[2020-01-22 00:13] #3140 closed

[2020-01-22 00:13] #2930 closed

[2020-01-22 00:45] ammarkarachi commented on #3106
@Ricardo1980 Aurora Serverless doesn't support Lambda call, Thanks!

[2020-01-22 03:20] karrettgelley commented on #3221
@houmark So I tried your approach and it doesn't work. By calling the api in the resolver I get stuck in an infinite loop. The api call fetches Exams, which have Students, which have potentialExams, and so on. I believe I need to hit up a dynamodb table directly, either by using a pipeline of resolvers with Velocity, or by querying the db directly from the lambda function. But after looking at the

[2020-01-22 03:24] houmark commented on #3221
If you ensure your query is only fetching the fields you need on all levels, you should not have that problem.

Bear in mind that in the resolver you can have authentication issues to handle also. Meaning if you have advanced access control, then you may leak unwanted data. GraphQL in a Lambda would handle that.

[2020-01-22 03:31] karrettgelley commented on #3221
@houmark Well authentication is already handled in my amplify setup (cognito), and I'm planning on handling authorization using the @auth directive so that won't be an issue. But I'll certainly try both ways for the custom resolver and use the easier one in the future

[2020-01-22 03:39] houmark commented on #3221
Not sure to be honest, but I've read that Velocity could leak data in some cases when using the `@auth` directive.

Good luck :)

[2020-01-22 05:32] karrettgelley opened #3234 "How to Implement a Pipeline Resolver"
**Which Category is your question related to?**
Graphql Transform

**Amplify CLI Version**
4.11.0

**What AWS Services are you utilizing?**
AppSync, Dynamodb

**Provide additional details e.g. code snippets**
I have a query in my app that requires I believe requires a custom pipeline resolver and I am not sure how to implement it. My schema looks like:
[code]

Given a student, I need to be able to

[2020-01-22 09:08] sekaru commented on #3228
That seems to work just fine. Thanks!

[2020-01-22 09:08] #3228 closed

[2020-01-22 09:42] TS98TGK commented on #2937
I am Still getting the error with the same config above, How do we Fix it?

[2020-01-22 10:47] daannijkamp opened #3237 "Update mutations GraphQL for new created models not working."
**Describe the bug**
Update mutations GraphQL for new created models is not working.
Fields that already have a (String) value are not overwritten/updated

**Amplify CLI Version**
4.12.0

**To Reproduce**
schema.graphql
[code]
AppSync Queries console

Create mutation
[code]
Update mutation
[code]

**Expected behavior**
title field is updated to "new title", but it is still the old title now

**Des

[2020-01-22 12:05] hirochachacha commented on #1657
It turned out that amplify's import mechanism is broken.  https://github.com/aws-amplify/amplify-cli/pull/3236
So above approach doesn't work right now.

[2020-01-22 12:11] ricardoribas commented on #682
@mikeparisstuff this intel is up-to-date? I went to the appsync console and i cannot delete any resolver. That option is not available. Perhaps is due to the new UI? Help needed here.

Always deleting the resolver from the build connection stack solves the issue, but doing it all the time. There is any kind of cache from the cloudformation node_module function that gets S3BackendZipFileName while

[2020-01-22 13:06] awesome2live commented on #2937
If u r network have proxy then u have to apply proxy adding some code and
add environment variable with Name HTTP_PROXY and HTTPS_PROXY

On Wed, Jan 22, 2020, 15:12 TS98TGK <notifications@github.com> wrote:

[2020-01-22 14:39] Ricardo1980 commented on #3234
I asked the same question a few days ago here:
https://github.com/aws-amplify/amplify-cli/issues/3192

It would be nice to have that in the documentation.

[2020-01-22 14:41] Ricardo1980 opened #3238 "Should I use always "id" or can I use "postId", "userId"....? [caching]"
I see that in the examples we have
`appSyncClient?.apolloClient?.cacheKeyForObject = { $0["id"] }`

My data base has different entities, each one with a different key field name. Something like userId, postId, commentId...
Is it better that I use always "id"? BTW, I use UUID, so they are globally different.

I don't mind changing that right now, because I am still developing my app.

Thanks for su

[2020-01-22 17:35] wizage opened #3239 "Finish cleanup after running Amplify Delete"
**Describe the bug**
When you run `amplify delete` you expect everything to be blown away in your account and in the client. Which should include the amplify project in the console and the files generated.

**Amplify CLI Version**
4.12.0

**To Reproduce**
1. Create a new amplify project
1. Add backend resources
1. Then run `amplify push`
1. After completed, run `amplify delete`
1. Observe that the

[2020-01-22 21:23] #3064 closed

[2020-01-22 21:29] #2427 closed

[2020-01-22 22:03] SwaySway commented on #3234
Hello @karrettgelley currently the CLI does not support pipeline resolvers, though this is something we are working on an update for.
Follow this RFC for those updates: https://github.com/aws-amplify/amplify-cli/issues/1055
A few possible implementations are discussed on that thread.

If I understand your question correctly
1. Based on a Student S you want to query all the classes S is in.
2. Out

[2020-01-22 22:24] nikhname commented on #3192
Hi @Ricardo1980, we do not support pipeline resolvers in the CLI at present. We are working on this however and have an RFC #1055 that you may comment on if you would like, specifically for supporting your use case in the RDS transformer.

[2020-01-22 22:40] Ricardo1980 commented on #3192
OK, thanks, I will check that RFC.

[2020-01-22 22:40] #3192 closed

[2020-01-22 22:47] Ricardo1980 commented on #3106
@ammarkarachi Thanks.
Where can I open a request to add that feature?
When creating an information system, this kind of reactive behaviour is common, and right now there is no easy easy way to implement it.
Thanks.

[2020-01-22 23:16] #3207 closed

[2020-01-23 00:01] aprilmintacpineda opened #3243 "exists on searchable should also be available on other data types"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**

exists is not available on other field type that are nullable. I use the following query:

[code]

note that `doneAtMs` is Float and exists is not available but it's the only thing I can see that could be used to query `is null` or `is not null`.

**Amplify CLI Version**

4.12.0

**

[2020-01-23 05:57] yvescoinpass opened #3251 "How to make a relationship of data from user pool to aws appsync model"
** Which Category is your question related to? **
Auth, API
** What AWS Services are you utilizing? **
 Cognito, AWS AppSync,
** Provide additional details e.g. code snippets **

I am new to amplify and appsync. I am trying to create a Post model that needs to have a relationship of the user who is creating the Post. The problem is my user is from cognito user pool.

How should I create a relation

[2020-01-23 10:28] idanlo commented on #2892
@ammarkarachi After updating to the latest amplify cli and running `amplify mock api`, all tables are created locally but then I get a lot of `Failed to parse Lambda function cloudformation in function-cloudformation-template.json`

[2020-01-23 10:34] idanlo commented on #2892
In the end of the schema I have a `type Mutation` declaration with all the lambda function calls (mutations that use the @function directive), and these cause errors like `Lambda function X does not exist`, when I remove the `type Mutation` declaration with all the `@function` calls the mock works

[2020-01-23 11:04] APRAET commented on #2384
+ 1

[2020-01-23 12:03] daannijkamp commented on #3237
After rebuilding the entire Amplify project (from scratch), it worked again.
(With extract the same code and schema.graphql)
The biggest difference is the addition of "$condition" in mutations.
I think there is a bug with projects created with an older version of the Amplify CI

[2020-01-23 12:09] nickchauhan opened #3245 "Amplify GraphQL API push fails after switching to another machine and using the latest CLI"
**Describe the bug**
I was trying to run my application on a new Mac machine so I installed the latest version of Amplify-CLI (4.13.1) to configure the project. I then tried to push my changes on AWS it failed.

Then I tried to push the changed on AWS using my Windows Machine ( which I used for initiating the project) which has the amplify-CLI version (3.17.0) it failed.

I then tried to restore t

[2020-01-23 15:50] GoodbyePlanet opened #3246 "GraphQL query returns `null` for nested objects"
Hi all, I have the following schema

[code]

[code]

[code]
[code]

In User model I have donations filed and I'm using `@function` directive to get data for this field.

Now I can see in CloudWatch that I am returning data that I want from `genericResolver` lambda.
[code]
Also generated query looks ok to me
[code]
But in AppSync console when I run this query
[code]
I always get `null` for `organiz

[2020-01-23 15:51] lawmicha opened #3247 "AWS Pinpoint Campaign testing push notifications with APNS Sandbox does not start working after `amplify add notifications`"
**Describe the bug**
When I enable APNS push notifications with key certificate via `amplify add notifications`, it appears to be enabled, however when I try to create a campaign and send a test message to my endpointId, it fails with `Channel Disabled`. The endpoint is set up with a device token for APNS sandbox. When I check settings, push notification is enabled. I checked the amplify-cli code

[2020-01-23 16:02] Genkilabs commented on #288
+1
Our whole team tried to figure out how to take our existing AppSync (which works great with React JS on the web) and build an Amplify iOS/Android app that consumes it... the solution definitely seems occluded.
It is as though the entire Amplify product is focused solely on greenfield apps and not really thought through for existing use cases...

Sorry thats more of a criticism than anything, as

[2020-01-23 17:38] jorge-riberi opened #3248 "Unable to search on enum field with @searchable"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
It is not possible to search in an enum field, the transform does not construct the search query with that field.

**Amplify CLI Version**
4.12.0

**To Reproduce**
Make a `@model` and `@searchable` type, add a enum field type, and build.

**Expected behavior**
The enum type field wer

[2020-01-23 17:40] danielblignaut commented on #2303
Hi @royalaid @paulsson ,

not sure if this is the correct approach? But basically my solution involves the following:

- editing my existing post confirmation trigger lambda business logic to make use of cognito (figure 1)
- editing the post confirmation trigger lambda's cloudformation template, adding the LambdaExecutionRole resource's name as an output (figure 2)
- adding a custom resource which

[2020-01-23 17:44] RossWilliams commented on #3246
I haven't attempted your specific use case, but it is likely that the @connection on your Project.organisation is creating a resolver for this field, but because your project object does not include the foreign key to the organisation, it is not found and set to null.

[2020-01-23 17:51] RossWilliams commented on #288
@Genkilabs here is a solution I am using on my project, the code is for React Native, but should apply to Swift/Java. We use .env files and ENVFILE environment variable to store configuration information for amplify, rather than aws-exports. We then manually set all needed fields as below. We have added new app consumers to an existing project this way.

[code]

[2020-01-23 18:10] GoodbyePlanet commented on #3246
Thanks for answering, I'll check that out.

[2020-01-23 18:52] ammarkarachi commented on #2892
Can you share your syntax you are currently using? This is what the transformer expects

`type Mutation {
  putString(msg: String): String @function(name: "putString-${env}")
}`

[2020-01-23 19:02] samstr commented on #1865
I can't believe this is still unresolved

[2020-01-23 19:03] kaustavghosh06 commented on #3244
@chris The status just takes a look at the hash diff between the resource folders in the `amplify` folder of your project. As a workaround you can add a space to the auth Cloudformation file and you'll be able to push the changes to the cloud. I'm marking this as a bug since we also need to account for the hash diff in the `team-provider-info` file or have a `--force` flag for the push command.

[2020-01-23 19:07] davidbiller commented on #1865
This is a technical limitation. Don't think anything's gonna happen here anytime soon.

[2020-01-23 19:08] SwaySway commented on #3221
Closing this issue - If you should run into any issues with `@auth` or `@function` please comment below and we'll re-open the ticket.

[2020-01-23 19:08] #3221 closed

[2020-01-23 19:12] idanlo commented on #2892
@ammarkarachi  Yes, this is exactly what my syntax looks like

[2020-01-23 19:14] SwaySway commented on #3234
Closing this issue - If you have any specific questions related to implementing a custom pipeline resolver solution in your project I recommend looking at the thread linked above.

[2020-01-23 19:14] #3234 closed

[2020-01-23 19:18] kaustavghosh06 commented on #3240
The parameters.json file contains parameter's which are passed to the Cloudformation template and is agnostic to environment changes and is not replaced per environment. For a simple "Hello world" Lambda function Cloudformation template, you don't need to pass any parameters to the Cloudformation template - that's why the file is not generated.

For environment specific parameters, I would recomme

[2020-01-23 19:20] SwaySway commented on #3238
Hello @Ricardo1980
If you are using a RDS backed API there shouldn't be an issue with using any other kind of ID (e.g. postID, userid, ...) though if you are using a DynamoDB backed API it is supported with `@key` and `@connection` directives though there can be unintended side effects as id is used as a sort of default when referencing `@model` types.

[2020-01-23 19:20] #3238 closed

[2020-01-23 20:20] #2778 closed

[2020-01-23 20:23] AndreasEK commented on #3246
THANKS A LOT THAT WAS EXACTLY IT.

And thanks to @GoodbyePlanet for asking while I doubting that anybody would care to answer <3

After scratching our heads over it the whole day, this line made the difference:

[code]

[2020-01-23 20:23] ammarkarachi commented on #2892
@idanlo We will need more information in regards to steps performed or the state of you application  to resolve this

[2020-01-23 21:48] yhc44 commented on #156
Im working on a golang integration for this package, so we can test golang lambdas locally soon.

Currently it is only working with serverless aws appsync.

So far im testing my AWS appsync graphql API with golang lambdas as datasource locally.

If you are interested do not hesitate to contact me :)

I will make a pull request very soon.

[2020-01-23 22:10] sorokinvj commented on #3251
@yvescoinpass the field owner of the Post type will be populated automatically with the user.username (because of the @auth(rules:[{allow: owner}]) )

[2020-01-23 23:39] SwaySway commented on #2967
Closing this issue as the pr for this has been merged.

[2020-01-23 23:39] #2967 closed

[2020-01-23 23:42] SwaySway commented on #3205
Hello @chadkouse currently the cli does not support IAM with OIDC.
As of now there is a dependency on Cognito for it's identity pool which is used to apply auth and unauth policies.

[2020-01-23 23:42] #3205 closed

[2020-01-23 23:43] SwaySway commented on #3237
Hello @daannijkamp it seems like you are using a sync enabled api. It is possible that the mutation did not go through as the version was not provided in the mutation (createWidgetDef).

[2020-01-24 00:35] attilah commented on #2810
@kldeb this is working as expected. I talked with @yuth and the reason why you can't see the ```utility```  field is that the ```items``` in list operations also counts as a level. If you change the ```maxDepth``` to 3, then first level of nesting will be visible in list operations as well.

[2020-01-24 00:35] #2810 closed

[2020-01-24 01:01] attilah commented on #2639
@aprilmintacpineda There was a modification in the behavior of the DataSource so that can be a reason why it does not happen anymore.

[2020-01-24 01:01] #2639 closed

[2020-01-24 01:26] SwaySway commented on #3251
Hello @yvescoinpass if you are looking at adding authorization based solely on the user who created the post you can use `@auth(rules:[{allow: owner}]) )` as stated by @sorokinvj.

View our `@auth` docs here: https://aws-amplify.github.io/docs/cli-toolchain/graphql#auth

Should you run into any `@auth` related issues please feel free to comment below.

[2020-01-24 01:26] #3251 closed

[2020-01-24 01:29] #2730 closed

[2020-01-24 02:25] Audace opened #3257 "Updating API to add additional provider does not work"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I'm trying to leverage multi auth so that I can have both public and authenticated access. Specifically, one mutation able to be performed by unaunthenticated, public users and the rest of the API restricted to authenticated users.

**Amplify CLI Version**
4.13.0

**To Reproduce**
1.

[2020-01-24 02:54] Alex-Mann commented on #1378
I agree, the `process.env` variables (especially since they are depended on by the snippet) should be added pre-invoking the function. This shouldn't be too difficult to do since most of the meta data you need is in the `/backend/amplify-meta.json` file anyways.

@undefobj would appending to the `process.env` object be a suitable implementation or is there another way you'd like to handle this fun

[2020-01-24 06:19] yvescoinpass commented on #3251
Hello @SwaySway  @sorokinvj  I tried it but it only returns `{ownser:"user1"}`. It can't return the whole information of that user as an object?

here is my query

[code]

and here is the result `query ListPost`

[code]

[2020-01-24 09:07] daannijkamp commented on #3237
@SwaySway are you referring to [@versioned](https://aws-amplify.github.io/docs/cli-toolchain/graphql#usage-4)?
I don't make use of that. I also do not use conflict detection.
Update mutations for old models (made with an earlier version of Amplify CI) did work (no version provided in the mutation).

[2020-01-24 09:08] #3246 closed

[2020-01-24 09:54] FemkeBuijs opened #3258 "Use sortField (& limit) with new @connection syntax"
**Which Category is your question related to?**

GraphQL @connection

**Amplify CLI Version**

4.13.0

**What AWS Services are you utilizing?**

DynamoDB, Amplify Console, AppSync, Cognito, SES

**Question**

In the docs, using the 'old, alternative' way, you can add a sortField to a GraphQL connection, like so:

```directive @connection(name: String, keyField: String, sortField: String, limit: In

[2020-01-24 10:38] morgler commented on #3229
@SwaySway The url is the cloudfront url. Of course right after the first publish, it redirected me to the s3 bucket url, which also gave the `AccessDenied` error. But after some time it stayed on the cloudfront url (also accessed it from different browsers and devices).

I understand that it is expected to see `AccessDenied` if visiting the S3 bucket url directly, because preventing direct access

[2020-01-24 13:29] rudyhadoux opened #3259 "How to set LIMIT globally ?"
Hi,
It seems that limit of returned objects is 10.
So, how to set and increase LIMIT globally ?

[2020-01-24 13:30] rudyhadoux opened #3261 "How to set LIMIT globally ?"
Hi,
It seems that limit of returned objects is 10.
So, how to set and increase LIMIT globally ?

[2020-01-24 14:26] bmilesp commented on #156
@yhc44 that's great news! I'd be glad to test out your integration!

-bp

[2020-01-24 14:27] sorokinvj commented on #3251
If you want it in the same response when you got all the info about Post, no I don't think its possible, but you can make another request to Cognito and fetch everything connected to user1

[2020-01-24 14:35] karrettgelley commented on #3234
@SwaySway Sorry for the late response. But your assumption is correct. For now, I will try to workaround the problem by rearchitecting the schema. In the future it will be nice to have pipeline resolvers, but I have come up with another solution

[2020-01-24 15:19] yvescoinpass commented on #3251
Thank you. Ok good to know that it its not possible. Can you give me a link to the documentation where I can request for the information of the user on Cognito User Pool?

[2020-01-24 16:21] SebSchwartz commented on #3152
@UnleashedMind @kaustavghosh06  Still not ok and blocking CI/CD :(

[2020-01-24 17:16] dantasfiles commented on #3258
`fields` is an array that combines the old `keyField` and the `sortField`.

From the docs:

What helped me reason about all of this was skipping past the @key and @field docs and [walking through the example](https://aws-amplify.github.io/docs/cli-toolchain/graphql#data-access-patterns).

I think they removed the limit, because you can just specify it in your GraphQL operation
[code]

[2020-01-24 17:44] samstr commented on #128
I would like my dev env to be simply http and my prod env to use S3 and CloudFront.

Currently I am stuck with CloudFront on my dev env (not necessary). I guess this will have to do for now

[2020-01-24 17:58] davidbiller opened #3260 "Amplify Push: failed to update: [AuthRolePolicy01]."
I get this error in Production ENV:

[code]

The Project Path is correct in amplify/.config/local-env-info.json

eu-central-1 is my region.

Tried
- amplify env checkout production --restore
than again
- amplify remove analytics
same

[2020-01-24 18:10] SwaySway commented on #3260
Hello @davidbiller
- What version of the CLI are you using?
- Are you able to provide the schema? Either here or email (amplify-cli@amazon.com)

[2020-01-24 18:10] dimonchik-com opened #3262 "Can't connect DynamoDB with my function"
I create DynamoDB database use command
`amplify add api`
and the when I try create function what will be working with my DynamoDB i got the error
**-There are no DynamoDB resources configured in your project currently**
Steps for reproduce:
amplify add api
amplify add function updateDynamoDB

? Provide a friendly name for your resource to be used as a label for this category in the project: update

[2020-01-24 18:13] davidbiller commented on #3260
@SwaySway
-v 4.13.0

Mail is out :)

[2020-01-24 18:18] #3262 closed

[2020-01-24 18:18] dimonchik-com opened #3283 "Can't connect DynamoDB with my function"
I create DynamoDB database use command
`amplify add api`
and the when I try create function what will be working with my DynamoDB i got the error
**-There are no DynamoDB resources configured in your project currently**
Steps for reproduce:
amplify add api
amplify add function updateDynamoDB

? Provide a friendly name for your resource to be used as a label for this category in the project: update

[2020-01-24 18:19] SwaySway commented on #3259
Duplicate of #3261

[2020-01-24 18:19] #3259 closed

[2020-01-24 18:45] joakweb opened #3263 "Amplify init profile selection fails - UnhandledPromiseRejectionWarning: AccessDenied: Access Denied"
**Describe the bug**
Using `amplify init` in my project, when I get to the profile selection part, I get the error `UnhandledPromiseRejectionWarning: AccessDenied: Access Denied` and the routine stops indefinitely at `\ Initializing your environment: dev`

**Amplify CLI Version**
4.12.0

**To Reproduce**

[code]

**Expected behavior**
The routine doesn't stop indefinitely at "\ Initializing your e

[2020-01-24 19:03] amcdnl opened #3264 "[bug] Cannot read property 'directives' of undefined"
After upgrading from 4.12.0 to 4.13.0 - I receive the following error:

[code]

[2020-01-24 19:12] SwaySway commented on #3263
Hello @joakweb
Do you specific iam permissions on the default aws profile?

[2020-01-24 19:13] kaustavghosh06 commented on #3263
Looks like it's you're getting an "AccessDenied" error - tied to your accessKey and secretKey which doesn't seem to be correct. How did you configure your profile?

[2020-01-24 19:13] clinicalinkgithub commented on #1393
has there been any movement on this?  being ablt to document is a very importal feature of graphql

[2020-01-24 19:25] joakweb commented on #3263
@SwaySway
Yes. My profile is currently associated with an admin access user.

@kaustavghosh06
Sure, amplify configure runs without trouble. See below:

[code]

I checked the credentials file inside the folder .aws. Everything seemed fine there.

[2020-01-24 19:28] jkeys-ecg-nmsu commented on #3261
@rudyhadoux override the resolvers with your new limit, as demonstrated [here](https://github.com/aws-amplify/amplify-cli/issues/3171#issuecomment-575967817).

This is not ideal and you are the third to open this exact issue. (Not criticizing you, just wondering if those first two issues are even being tracked...)

https://github.com/aws-amplify/amplify-cli/issues/3171

https://github.com/aws-ampl

[2020-01-24 19:44] rudyhadoux commented on #3261
OK thanks, interesting.
I do not know Apache Velocity Template Language yet, but I have to learn it.

[2020-01-24 19:55] clinicalinkgithub opened #3265 "amplify push returning error like "Template may not exceed 460800 bytes in size". (related to file FunctionDirectiveStack.json)"
**Describe the bug**
When I do amplify push I am getting error like "Template may not exceed 460800 bytes in size".
I am using a lot of lamba resolvers using the **@function** directive.  (see screenshot)
 ==> The root cause is that the auto-generated file  [FunctionDirectiveStack.json] is greater than 460800 bytes.  ==> Cloudformation will not allow size greater than this.

**Amplify CLI Version*

[2020-01-24 19:57] jkeys-ecg-nmsu commented on #3261
@rudyhadoux no, you just need to change the limit variable from 10 to 60. Don't need to understand VTL anyway: use what is already there as the base. My post explains how to do it.

[2020-01-24 20:00] #3261 closed

[2020-01-24 20:16] kldeb commented on #3264
I'm getting this error as well when running amplify mock and deploying via amplify console with 4.13.0.

[2020-01-24 21:18] SwaySway commented on #3264
Hello @amcdnl we are aware of this issue could you please try v4.13.1?

[2020-01-24 21:30] damonmiller opened #3266 "Attach additional policies to the authRoles"
**Which Category is your question related to?**
Auth

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
Amplify, Cognito, SNS/SMS

**Provide additional details e.g. code snippets**
Within our Amplify React app we want to be able to access the SNS/SMS service to know whether a user's phone number has been opted out so we can prompt the user and allow them to opt back in.  I h

[2020-01-24 21:40] #3264 closed

[2020-01-24 21:47] amcdnl commented on #3264
yup fixed it - thanks!

[2020-01-24 23:22] palpatim opened #3267 "Elasticsearch index not found"
I'm unclear whether this is an issue with ES or with Amplify CLI, but I'll start here. :)

**Describe the bug**
After using Amplify CLI to create a new `@searchable` model, the Elasticsearch console reported errors in the summary of the Cluster Health tab, and on the Indices tab. After some time (~2 hours) the errors no longer appeared, but the "Indices" tab still reports `We couldn't find any ind

[2020-01-24 23:31] blazinaj opened #3268 "Cannot view/update MFA settings using `amplify update auth` command"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
I am getting this error whenever I try to push. MFA is set to "optional" in my User pool
`Reason: Cannot turn MFA functionality ON, once the user pool has been created.`

When I try to update the MFA settings, the CLI skips over the MFA prompt:

[code]

**Amplify CLI Version**
4.13.1

[2020-01-24 23:44] ammarkarachi commented on #3106
@Ricardo1980 I submitted a ticket to the team directly on your behalf I will inform you of any updates.

[2020-01-24 23:45] jfdesgagne commented on #3253
To give more context, I'm using this camera picker: https://github.com/ivpusic/react-native-image-crop-picker

I'm able to upload the image to the cloud without mock, as well as visualize the image locally which is stored at /Users/<user>/Library/Developer/CoreSimulator/Devices/ED05B123-2E8B-4137-8DB1-36B6058F43E4/data/Containers/Data/Application/C91957F0-F780-48AE-9339-D929033695AB/tmp/react-nati

[2020-01-24 23:52] palpatim commented on #3267
This appears to have resolved itself. CloudWatch logs indicated that there was a "Name  or service not known" error during the setup of the Lambda trigger, which might indicate some kind of race/lag condition between the Lambda setup step and the availability of the cluster's name in DNS. The "proxy error" continued to appear for ~2 hours, and while I didn't copy the exact error message, my recoll

[2020-01-25 01:58] Audace commented on #3257
Any updates here? I'm close to giving up on Amplify. I've followed various issue threads as well as the docs. It makes no sense that changing the settings via the CLI would not mutate the `backend-config.json`.

[2020-01-25 02:23] Audace commented on #3257
If I execute this code block:
[code]

I see this returned:
[code]

However, when I try to execute a query or mutation with the `API`, I get the following:
[code]

[2020-01-25 04:42] karrettgelley opened #3269 "CI/CD Best Practices for Amplify"
**Which Category is your question related to?**
multiple environment, CI/CD

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
AppSync, Cognito

**Provide additional details e.g. code snippets**
This is a question for the experienced amplify developers in the community. I've been working on an app for about two months now and I feel like I've gotten the hang of amplify a lit

[2020-01-25 06:25] dansmith65 commented on #2227
+1

[2020-01-25 06:27] ilviandante77 commented on #921
it is an excellent proposal

[2020-01-25 07:05] arkllc commented on #3121
Thanks @kaustavghosh06 This is good for now. However, something to consider is that for Cognito userPool or ever OIDC you do allow specific static groups or dynamic groups and I can annotate those in the schema. However for IAM I can not list a group (or a role in IAM terminology). So its a bit inconsistent. I think it would be good if the AppSync cli tries to extend the role in the @model too.

[2020-01-25 12:58] mattmeye commented on #2552
Are you currently working on this ticket? I can try to help with a pull request and change the line https://github.com/aws-amplify/amplify-cli/blob/a684439ad3367a8df6377c0b7fd897c7c0229a9c/packages/amplify-graphql-types-generator/src/angular/index.ts#L124

[2020-01-25 14:46] Audace commented on #3257
If I manually edit `aws-exports.js` and change `aws_appsync_authenticationType` from `AMAZON_COGNITO_USER_POOLS` to `AWS_IAM`, I now get a 401 when trying to execute a query or mutation. The 401 makes sense as I haven't edited the IAM policy for the unauthenticated users. However, in a production environment am I supposed to dynamically set the authenticationType of the entire app based on whether

[2020-01-25 15:31] Audace commented on #3257
I'm a bit back to square one, insofar as I need to update the directive for the type by adding `@auth(rules: [{allow: public, provider: iam}])` in order to access the mutation through the console AppSync query client or through the JS API. Any attempt to change this and run `amplify push` results in `@auth directive with 'iam' provider found, but the project has no IAM authentication provider conf

[2020-01-25 15:34] Audace commented on #3257
For those who are reading this in the future, I found that the better approach to this is to change the auth type in the context of a single API call:
[code]

This allows you to keep the default as defined in `aws-exports.js`. However, until the CLI lets you add additional providers / respects additional auth providers, it's all a bit for nought.

[2020-01-25 16:49] Audace commented on #3257
Ok, I finally (somehow) got past this.

1. Manually edited `backend-config.json` to add this:
[code]
2. Manually did the same to `amplify-meta.json`
3. Changed `transform.conf.json` to use version 4

The CLI _finally_ picked up changes and added IAM as an additional provider. I was then able to add the directive to the type defined in the schema file. My hunch is that version 5 is somehow corrupte

[2020-01-25 17:00] andrewbtp commented on #3173
Tried adding some Lambda triggers and this continues to occur. Really concerned about updating prod, would be a big issue if this hangs there.

[2020-01-25 18:33] AryanJ-NYC commented on #2890
Thank you @ricklove! I just ran into this exact thing.

@kaustavghosh06 has a documentation task been added for this? The documentation is still quite opaque about this: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

[2020-01-25 19:34] almpertis commented on #82
same here, added auth and pushed

[2020-01-25 22:26] roblingle commented on #2203
@yuth Can you suggest a workaround for this until there is better integration between adding APIs vs functions?

If I just want a function that will use data in a table populated through my GraphQL api, what are my steps?

[2020-01-26 00:35] mdebo opened #3270 "Amplify mock error"
Hi
I'm not able to use amplify mock anymore.
I have an appsync API with a mutation:
[code]
myLambda is a lambda function which has access to appsync AND to a dynamoDB storage
Each time i run `amplify mock` I get this error:
[code]

If I remove the mutation from the schema OR the right for permission to access to my dynamo table everything is OK. Do you have any ideas?

Version of cli used: 4.13.1

[2020-01-26 01:35] AngeloKai commented on #3149
+1  on @k3nnet 's question. I looked at the documentation here (https://docs.aws.amazon.com/amplify/latest/userguide/build-settings.html) but couldn't find the build settings under app setting.

[2020-01-26 01:52] AngeloKai commented on #3149
I figured it out. @k3nnet I updated it by going through all the json under the project's amplify folder and find mentions of node. I then updated all the mentions of all node versions to "nodejs12.x". It's working now.

[2020-01-26 11:24] blastedcode commented on #407
I have managed to a solution working with aws-vault which uses MFA and is federated from a parent account that only deals with useraccess. It works as follows.

my ./aws/config looks like

`
[profile PROFILE_NAME]
output=json
region=eu-west-1
source_profile=PROFILE_VAULT_USES
role_arn=arn:aws:iam::AWS_ACCOUNT:role/rolename
mfa_serial=arn:aws:iam::AWS_ACCOUNT_MFA:mfa/MFA_NAME

[profile amplify-PROF

[2020-01-26 12:35] davidbiller commented on #3260
fixed this with a workaround:
i added a # to my schema and tried a push. worked.
Any idea why?

[2020-01-26 12:35] #3260 closed

[2020-01-26 15:43] sorokinvj opened #3271 "Switch between two environments should be clarified in docs"
**Is your feature request related to a problem? Please describe.**
Last week I switched from my working machine to a temporary one and today I switched back. In both "switchings" I stumbled upon many errors during amplify pull, which you would normally want to do to continue your work.

In both cases what I was needed was the command:

[code]
which now in the docs is explained as "is an advanced c

[2020-01-26 15:55] mdebo commented on #3270
After searching through the existing issues, it seems my problem is very similar to this: #2453

[2020-01-26 16:41] Ricardo1980 commented on #3238
Thanks @SwaySway
Quick question: are you going to implement @connection and/or @key in the future for RDS? Because if that is the case (or likely), then perhaps it is better to use rename my userId, commentId.... to id, right?
Thanks.

[2020-01-26 17:12] SteffeyDev opened #3272 "@auth subscription schema generation incorrect when using owner auth with `operations: [read]`"
I have the same issue as in #2361, except for me it appears the addition of the `operations` field prevents the correct generation of the subscription type.  I need the owner to be able to read and and get subscription updates, but not create, delete, or update (lambda will be doing the mutations, want to get subscriptions on front-end).  I tested, and removing the `operations` field does fix the

[2020-01-26 17:27] k3nnet commented on #3149
Finally got it to work . After I updated amplifycli and nodejs but struggled to get it to work I finally just rebooted my machine then it worked .

[2020-01-26 17:52] jobypthomas commented on #2131
@Monder87 I tried to use the method to send email from Amplify using aws-sdk and SES(). However ses.sendEmail() is not invoking. However, I was able to send email from the console. I think it is some permission issue. I tried to attach the role SES execution policy to the lambda function role using AWS Console but without luck. Any pointers?

[2020-01-26 19:14] drzdez opened #3290 "After finished "Getting started" with Amplify + Angular received "403 Forbidden""
**Describe the bug**
I went through this whole "Getting started":
  https://aws-amplify.github.io/docs/js/start?platform=angular

  And in the end i see message below. I then tried to add some credentials and ensure public access everywhere, bu so far no success ... still Forbidden!
Advise please or update the document to include permissions setup.
--- --- --- ---
403 Forbidden

    Code: AccessDe

[2020-01-26 20:48] kernwig opened #3273 "Failure editing auth sign-in/sign-out domain"
**Describe the bug**
I setup my own domain name to use in place of the CloudFront distribution domain, and need to update the auth redirects using the Amplify CLI. This resulted in an undefined being dereferenced in the Amplify CLI code.

**Amplify CLI Version**
4.10.0

**To Reproduce**
Clone repo: https://github.com/kernwig/sqac-amplify/tree/part7/go-live3
Then attempt inputs shown in *Screenshot

[2020-01-26 20:55] kernwig commented on #3273
It seems this deleted my `amplify/team-provider-info.json` file. 😢

[2020-01-26 21:14] kernwig opened #3274 "Cannot recreate team-provider-info.json"
**Describe the bug**
After issue #3273  deleted the `team-provider-info.json` file, I tried to recreate it per the instructions at https://aws-amplify.github.io/docs/cli-toolchain/quickstart#team-members-sharing-the-same-dev-backend

Upon issuing `amplify init` though, it does not ask `Do you want to use an existing environment?` as shown in the documentation - it proceeds to create a new project

[2020-01-26 22:57] HoraceShmorace commented on #3186
Here's another example, showing that it happens regardless of project (note the versions in my local environment):
![image](https://user-images.githubusercontent.com/543024/73143203-37302c80-4065-11ea-8122-30ea9bd154ae.png)

[2020-01-26 23:31] HoraceShmorace commented on #3186
I've upgraded to 4.13.1 and the problem is gone. I'll leave it to you, @nikhname, whether you want to close this.

[2020-01-26 23:34] AryanJ-NYC commented on #3137
Even newly written `pipelineFunctions` aren't being copied into the `/build` folder.

[2020-01-26 23:47] #3186 closed

[2020-01-27 04:49] chinmaygadre commented on #202
+1 for feature
My scenario involves a single "Person" type but variations (e.g. Singer, Dancer etc.) where each may have a specific relation to another object. BUT I would like all "_persons_" to be stored in a single table. The rationale is that a person - say Jane - can be a singer as well as dancer I just need one "person" object stored with different tags/aspects.

[2020-01-27 11:16] AndreasEK opened #3275 "reusing an existing ID field in a connection leads to error: All fields provided to an @connection must be non-null scalar or enum fields."
**Which Category is your question related to?**
AppSync / GraphQL

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
AppSync, DynamoDB, Cognito, S3

**Provide additional details e.g. code snippets**
Given an existing model:

[code]

Why would the addition of a new connection like this

[code]

Lead to the error: All fields provided to an @connection must be non-null scalar o

[2020-01-27 11:47] morgler commented on #229
I'm back at taking a shot at Amplify, because version numbers have jumped quite significantly. Yet I find myself having the same issue: I want to use `amplify api` with an existing (i.e. NOT created by amplify) Cognito user pool. How can I configure that? Each time I try `amplify update api` I only have the chance to create new user pool :(.

[2020-01-27 12:02] morgler commented on #779
Sad to see this isn't addressed. I finally moved away from Amplify, because without such a basic feature it is unusable for production. I like the intention of Amplify and I'm willing to go through some pain with new libraries. But not much has changed over the past 7 months on several core issues and so I must assume Amplify has no active support anymore.

To everybody with similar Amplify issues

[2020-01-27 12:31] hirochachacha commented on #3275
dup of https://github.com/aws-amplify/amplify-cli/issues/1657

[2020-01-27 12:42] hirochachacha opened #3277 "eslint doesn't ignore generated files"
[official AWS Amplify Console forum](https://forums.aws.amazon.com/forum.jspa?forumID=314&start=0)

**Is your feature request related to a problem? Please describe.**

generated files include `/* tslint:disable */`. It should include `/* eslint-disable */` also.

**Describe the solution you'd like**

append `/* eslint-disable */`

**Describe alternatives you've considered**

**Additional context**

[2020-01-27 13:32] tomasyaya opened #3279 "Auth.configure refresh access token for OpenId providers"
**Which Category is your question related to?**

Authentication

**Amplify CLI Version**

4.12

**What AWS Services are you utilizing?**

Cognito
GraphQl Api

**Provide additional details e.g. code snippets**

Hello.

Im currently doing Auth through openId with salesforce.

Im retrieving the access token, refresh token an profile info and getting AWS credentials through Federated Sign In.

At some

[2020-01-27 14:36] palpatim opened #3280 "Using @searchable directive does not return nextToken correctly"
Transcribed from https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/324, originally filed by @amuresia.

---

**Describe the bug**
When using the `@searchable` directive, the pagination is wrong. If all of the records have been returned (i.e. by having a high limit and just a few entries in the table) the nextToken is not set to null, instead it's set to the last item id.

**To Reproduce

[2020-01-27 16:14] davekiss commented on #3161
Followed the same steps above to pin to 4.11 and it worked, 4.12 is currently broken

[2020-01-27 16:33] kaustavghosh06 commented on #3161
@davekiss 4.13.1 should have the fix for this.

[2020-01-27 16:34] #3161 closed

[2020-01-27 16:39] schieble commented on #620
There are some more docs here...

https://aws-amplify.github.io/docs/cli-toolchain/cognito-triggers

Be nice to kick off any lambda function you want at points in the auth workflow.   I would like to be able to kick off a Lambda after account verification that goes and adds some data into my DB.   As far as I can tell that's not possible.

[2020-01-27 16:51] sorokinvj commented on #3251
@yvescoinpass Sure! I use amplify framework in my app, so I communicate with Cognito via

[code]

Here are the docs - https://aws-amplify.github.io/docs/js/authentication

[2020-01-27 17:28] IsaacTrevino commented on #1138
I was missing the `config` file under `~/.aws`, just insert the following to that file.
[code]

[2020-01-27 18:13] #3277 closed

[2020-01-27 18:48] yuth commented on #3257
hey @Audace,

I wanted to confirm with you for `Choose the additional authorization types you want to configure for the API (Press  to select, a to toggle all, i to invert selection)` did you select `IAM` and the press `<space>` before pressing enter? From the the transcript you posted, it looks like `IAM` was not selected.

[2020-01-27 19:01] jitendra-koodo opened #3282 "npm run amplify-modelgen giving throw er; // Unhandled 'error' event"
Following this [guide ](https://aws.amazon.com/blogs/aws/amplify-datastore-simplify-development-of-offline-apps-with-graphql/) with React Native app, but getting this error

`$> npm run amplify-modelgen

Running codegen...
events.js:174
      throw er; // Unhandled 'error' event
      ^

Error: spawn amplify ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:240:19)
    a

[2020-01-27 19:40] undefobj commented on #779
@morgler apologies that this specific issue hasn't been clarified even though we did tag it as a feature request. Amplify is very much actively supported with multiple teams across the libraries, CLI, and UI components. There is still only so much that we can accomplish though when weighing customer requests and technical challenges.

As others have noted in this thread Amplify does support deploy

[2020-01-27 19:56] xoadrian commented on #779
@undefobj ok, if this is still not supported, can you please suggest a workaround for production environment. Let me describe the issue:
1. you create production evn
2. you do new features, add resrouces, lambdas, etc.
3. update fails and it rolls back
4. the only choice is to remove the env and re-create it - and the deploy will pass successfully in this case.

So the problem is not necessarily t

[2020-01-27 20:15] nikhname commented on #3282
@jitendra-koodo does running 'amplify codegen model' work?

[2020-01-27 20:16] ammarkarachi commented on #3106
@Ricardo1980 I am closing this, don't hesitate to reopen it if you have any other questions

[2020-01-27 20:16] #3106 closed

[2020-01-27 20:18] jitendra-koodo commented on #3282
@nikhname

$>  amplify codegen model
No AppSync API configured. Please add an API

Though command runs but it does not work really. It asks to configure API but API does not need to be configured if working only with local Datastore as per other AWS docs.

[2020-01-27 20:24] leantide opened #3284 "Peer dependency missing"
**Describe the bug**
npm ERR! peer dep missing: inquirer@^5.0.0 || ^6.0.0, required by inquirer-autocomplete-prompt@1.0.1

Seems maybe you have upgraded to inquirer@7.0.4 but  inquirer-autocomplete-prompt feels it needs  inquirer@^5.0.0 || ^6.0.0. Maybe the dependency can be upgraded if compatible to avoid error.

**Amplify CLI Version**
4.13.1

**To Reproduce**
npm -g install @aws-amplify/cli

**

[2020-01-27 20:59] nikhname commented on #2552
Hey @mattmeye, a PR would be welcome!

[2020-01-27 21:15] mrducky4 opened #3286 "How to add frontend configuration items depending on the environment, similar to aws-exports.js?"
I'm using amplify-cli with different environments (dev, test, prod). I see how aws-exports.js contains different configuration values for different environments. Now I want my frontend to access an existing  REST API. This existing API is not managed by amplify, and it does have different URLs for different environments.

What is the best practice for configuring something like this that depends o

[2020-01-27 22:18] kaustavghosh06 commented on #3286
@mrducky4 You can add a custom key value pair to your aws_exports.js file but you'd have to then manipulate that in your client code based on the environment.

Why not manage a separate file for these values and use it separately for your API-GW needs on the client app?

[2020-01-27 22:20] kaustavghosh06 commented on #3284
@leantide  inquirer-autocomplete-prompt doesn't seem to be a CLI dependency.

Is there any other globally installed node_modules in your system which require  inquirer-autocomplete-prompt?

[2020-01-27 22:25] leantide commented on #3284
Well, when I run `npm -g list inquirer` I get 15 references into @aws-amplify:

/usr/local/nvm/versions/node/v12.14.0/lib
└─┬ @aws-amplify/cli@4.13.1
  ├─┬ amplify-category-analytics@2.13.1
  │ └── UNMET PEER DEPENDENCY inquirer@7.0.4  deduped
  ├─┬ amplify-category-api@2.13.1
  │ └── UNMET PEER DEPENDENCY inquirer@7.0.4  deduped
  ├─┬ amplify-category-auth@2.13.1
  │ └── UNMET PEER DEPENDENCY inq

[2020-01-27 22:27] leantide commented on #3284
Maybe it is a dependency of your dependency on inquirer.

[2020-01-27 22:28] kaustavghosh06 commented on #3284
@leantide Does that prevent you from the CLI installation?

[2020-01-27 22:30] leantide commented on #3284
No. It still installs.

Also, from a high level, I have not noticed any deficiency of function of the cli.

[2020-01-27 22:30] kaustavghosh06 commented on #3283
@dimonchik-com "amplify add api" - did you add REST or GraphQL API?
Which DynamoDB tables do you expect to see there?

[2020-01-27 23:03] mrducky4 commented on #3286
A separate file would be fine. But how can my client app tell which environment it is running in? I looked for something like "environment": "dev" in aws-exports.js, but can't find anything. I'm probably missing something simple, I'm new to amplify and react.

[2020-01-27 23:23] undefobj commented on #779
@xoadrian This issue is related to adding existing resources and your ask seems to be related to recovering a stack after failed push. You would do this with `amplify env pull --restore`. I would ask though if you need assistance with this you open up a new issue as it's unrelated to this thread.

[2020-01-28 00:12] yuth commented on #3284
it looks like interaction category uses inquirer-autocomplete-prompt.

[2020-01-28 00:14] edwardfoyle commented on #2977
Hey @henrysachs the nested data structure that is generated is the expected format of the output rather than the input. Can you provide more details about how you are using the mutation and specifying the `UpdateTrainingSessionInput` when you call your API?

For reference, I was able to get this working with the latest version of the CLI and the following graphql schema:
[code]
(note, I am using t

[2020-01-28 00:19] kaustavghosh06 commented on #3284
@yuth Yes, @attilah diagnosed this sometime back and has a plan for this I believe.

[2020-01-28 00:32] elimence opened #3287 "Cannot create new env: AlreadyExistsException: Stack [amplify-myproj-samdev-152827] already exists"
**Describe the bug**
I cloned an existing project and initialized an env called `prod`.
I tried creating a new env `samdev` (I removed it with `amplify env remove` earlier when `amplify push` kept failing on that env) but I keep getting the following error:
[code]

[2020-01-28 00:52] dryhurst commented on #2380
is there any update on this issue? I've received this error as well after writing custom resolvers and there are no threads on how to proceed.

`Failed to start API Mock endpoint Error: Invalid config for UNIT_RESOLVER ... Missing mapping template resolvers/Mutation.batchDeleteIncidents.req.vtl` when that file clearly exists.

[2020-01-28 01:01] dryhurst commented on #2380
running `npm install -g @aws-amplify/cli` to upgrade to the newest version fixed this for me. i am on windows and this patch fixed my issue: https://github.com/aws-amplify/amplify-cli/commit/87c4ad59a701995220946ad35f1491f0d4b57325

thank you team

[2020-01-28 01:08] edwardfoyle opened #3288 "Take codegen depth as an input to @model"
**Is your feature request related to a problem? Please describe.**
There are lots of cases where a model is self-referential and the entities have a bi-directional relationship. Eg. posts with comments where each comment has a reference back to the post. When queries and mutations are generated for these models, the return objects can be unnecessarily nested.

**Describe the solution you'd like**

[2020-01-28 01:12] SwaySway commented on #3101
I believe this merged pr might addresses using groups with oidc as a provider.

https://github.com/aws-amplify/amplify-cli/pull/2719

[2020-01-28 01:40] ammarkarachi commented on #3249
@chris What does your Cognito Console show for verification?

[2020-01-28 04:41] jitendra-koodo commented on #3282
Would love to know about any workaround to move forward?

[2020-01-28 08:51] Ricardo1980 commented on #1055
Hello @nateiler
Regarding your lastest post.
Is that how I have to implement pipeline resolvers manually? (Given that amplify cli  cannot do it and I don’t see docs about that)
Thanks.

[2020-01-28 10:08] yvescoinpass commented on #3251
Ok thank you so much @sorokinvj

[2020-01-28 10:25] dimonchik-com commented on #3283
GraphQL API
I expect see possibility to work with DynamoDB

[2020-01-28 10:49] AndreasEK commented on #3275
Thanks for linking the other issue. I fail to see the connection between these two, though. Without the new user connetion our "Order" was behaving as expected. 'createdAt' was automatically set on creation, as one would suspect. Isn't that what #1657 is about?

In this issue, I was asking, why adding a connection claims to require non-null scalar fields, while the provided field (userId) has thos

[2020-01-28 11:10] AndreasEK opened #3289 "Handling auth access to simple types in multi-auth model"
**Which Category is your question related to?**
AppSync / GraphQL

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**

**Provide additional details e.g. code snippets**
For our api, we have configured two authentication providers

[code]

And in our schema, there are model types, that can be accessed by everybody, and others that can only be read by logged in users. Both cont

[2020-01-28 11:34] hirochachacha commented on #3275
Oh, sorry for misreading. If I  understand correctly, you pointed that @key and @connection have inconsistency - @key accepts nullable fields, on the other hand @connection rejects nullable fields.
That's not dup of #1657.

[2020-01-28 11:36] lenarmazitov commented on #3275
I have same issue.
I have table which have self connected attribute **toId**, which is can be leaved unset, because there is two entities in table: **User**  and **Subscription**.
If I leave it nullable I have error:
**All fields provided to an @connection must be non-null scalar or enum fields**
Otherwise I should set **toId** attribute for **User** entity, but it  will be better to leave it empt

[2020-01-28 11:55] joakweb commented on #3263
There was something wrong with the initialization of amplify on the branch I was working. Everything's in order now. Thanks.

[2020-01-28 11:55] #3263 closed

[2020-01-28 16:28] CodySwannGT commented on #1406
Any more work on supporting multiple GSI deployments? My team works across 8 different amplify projects and this one issue kills us every single iteration.

[2020-01-28 17:49] eliasdefaria commented on #1378
+1 for enabling access to process.env variables when using amplify function invoke to test locally

[2020-01-28 18:22] kaustavghosh06 commented on #3265
@clinicalinkgithub Yes, we don't do do stack splitting for @functions and @connections directive yet since we didn't anticipate the functions and connections stacks to grow as big as the @model stack. Can you please send us your schema to amplify-cli@amazon. I'll put this in our backlog and prioritize with the team.

[2020-01-28 18:41] SwaySway commented on #3272
Hello @SteffeyDev owner auth is not enforced on the subscription by adding read. It is based on the respective mutation action, thus if the owner is allowed to create they can also see the subscription for that respective mutation.

[2020-01-28 19:12] SwaySway commented on #3271
Hello @sorokinvj
Are you able to provide the error log either here or email, amplify-cli@amazon.com?

[2020-01-28 19:29] sorokinvj commented on #3271
@SwaySway When I first tried to transfer the project from laptop A to B it was an error "Can't find a file (don't remember which one) in amplify/#current-cloud-backend", then when I transfered the project back from B to A it was:

[code]
I think the problem appeared in both cases because in amplify/.config/local-aws-info.json there was a different profile:

[code]

[2020-01-28 19:30] sorokinvj commented on #3271
in both cases problem was solved immediately after
[code]

[2020-01-28 19:35] dorontal commented on #3141
Exactly the same problem happened to me today.

**A quick workaround:** add a dummy mode with a `@model()` directive that does **not** have `mutations: null`. Then the missing types **will** get auto-generated.

[2020-01-28 19:47] UnleashedMind commented on #3271
@sorokinvj
The local config files in the `amplify/.config` folder are not checked into code repo, when you run `amplify pull` for the first time on another computer, you will be prompted to select profile along with other questions to setup those local config files.
`amplify configure project` is only needed to correct the settings if you have selected the wrong one during the first `amplify pull`

[2020-01-28 19:54] sorokinvj commented on #3271
amplify pull in my both cases produced some error, but I am really sorry that I didn't collect one.

[2020-01-28 19:59] UnleashedMind commented on #3271
It's very likely the same error, it's because the credential profile you selected does not have the permissions to access the aws resources associated with your backend environment. And you can run amplify configure project to correct it.

[2020-01-28 20:28] SteffeyDev commented on #3272
@SwaySway thanks for the info, how could I set up my project so that owners can only read and get subscription updates but not modify?

[2020-01-28 20:45] SwaySway commented on #3272
@SteffeyDev There is a workaround highlighted in this comment though based on customer needs we can look into implementing a different operation to split read and create rules.

https://github.com/aws-amplify/amplify-cli/issues/2636#issuecomment-567286984

[2020-01-28 20:59] nikhname commented on #3282
@jitendra-koodo  you do not need to provision your API with a push but you still need to have an GraphQL schema within your project to generate models. Does your project have a schema locally? If not, to move forward please run amplify add api and follow the steps to add a schema.

[2020-01-28 21:56] nikhname commented on #3282
As a side note, running npx amplify-app should generate a boilerplate API/GraphQL schema for you. Please comment if this was not the case

[2020-01-28 22:07] SteffeyDev commented on #3272
@SwaySway That workaround looks helpful, thanks!  That should work if needed.  I like your `listen` idea, that would work perfectly for my use case and I'm sure many others.  My project is in development for the next few months, do you think the `listen` operation could be added in that time range?  If so I will just wait to restrict permissions on my api.

[2020-01-28 22:14] kaustavghosh06 commented on #3273
@kernwig I'm using CLI version 4.13.1 (latest) and I was able to clone the above-mentioned repo (https://github.com/kernwig/sqac-amplify/tree/part7/go-live3) and run `amplify init` and successfully run `amplify push`. The `init` step asked me for my google client appID and setup my team-provider-info and then `amplify auth update` worked as expected - please take a look at the flow below for `auth

[2020-01-28 22:49] kernwig commented on #3273
Excluding the `team-provider-info.json` file is the recommended practice for public repositories, per the end of this part of the documentation: https://aws-amplify.github.io/docs/cli-toolchain/quickstart#sharing-projects-outside-the-team-

I had the `team-provider-info.json` file. Would the error I experienced be what happens if that file went missing? I assumed that _this_ failure is what delete

[2020-01-28 22:52] kaustavghosh06 commented on #3273
Correct, if you're making your repo - public you wouldn't want to share the team-provider-info.json file - as it is recommended to source control it only when working with teams and is specific to an individuals deployment. When I pulled in your repo - on the init step I was asked to enter the information which is required to fill in and create a `team-provider-info.json` file

Are you sure that t

[2020-01-28 22:54] chris commented on #3249
@ammarkarachi it says "Email" (and clicking in to "MFA and verifications", it has the Email radio button selected under "Which attributes do you want to verify?"

[2020-01-28 23:03] esuarezz opened #3295 "jest-haste-map: Haste module naming collision: -> namefunction <-"
**To Reproduce**
1) amplify add function
2) function is created locally correctly
3) amplify push and pushed correctly
4)  when I run expo I get:

[code]

###

[2020-01-28 23:09] yuth commented on #3289
We have added auth support for non model type in CLI version 4.13.1. Please comment here if the issue still persists after updating the version.

[2020-01-28 23:09] #3289 closed

[2020-01-28 23:09] kernwig commented on #3273
It was part of source control. About a month ago I added OAuth, and so removed it from source control before committing the secret. I had copied the file away, git removed it and added to .gitignore, git commit, and then copied it back.

If the stack trace is consistent with that file missing though, then it seems probable that it had disappeared somehow between then and now. I did restore the old

[2020-01-28 23:12] onlybakam opened #3291 "create mutation fails when owner field is not set - initiated from amplify-ios datastore"
**Describe the bug**
typically, if you are the owner of an item, you send your create mutation w/o specifying the owner. The request resolver does the necessary checks and adds the owner based on the configured identity claim (default is username or cognito:username)

[code]

Problem: with amplify-ios, code seems to send back all unset fields as null variables for the graphql mutation query

[code

[2020-01-29 01:56] yuth commented on #3287
@elimence `amplify env remove` looks at the `<project-root>/amplify/team-provider-info.json` to determine if an environment exists or not. Could you check logging into AWS Cloudformation console and see if there indeed is a stack with name `amplify-myproj-samdev-152827`.

Technically whenever a new environment is added, it should follow the following pattern to name the CloudFormation stack `ampli

[2020-01-29 02:05] yuth commented on #3268
@blazinaj could you clarify that you already had auth category configured and this error started happening after doing an `amplify auth update` and running `amplify push`?

Could you share your `paramter.json` for auth category so I could see how auth category was configured and why its not showing `MFA` related questions

[2020-01-29 03:27] mrducky4 commented on #3286
I see @yuth labeled this as an enhancement rather than a question. Does that mean there is currently no good way to accomplish what I'm trying to do? Is there any way at all?

[2020-01-29 05:09] jitendra-koodo commented on #3282
@nikhname Looks like RN support is not officially ready yet : https://github.com/aws-amplify/amplify-js/issues/4527 .  Would you still suggest to move ahead with the steps you mentioned above? Last time I checked, npx amplify-app did not create API folder on Windows 10.

[2020-01-29 08:49] mlecoq opened #3293 "Appsync / DataStore / @model - Have server side generated values"
Hi, I would like to have **creationDate** and **updateDate** that are automatically filled/updated by my Appsync serveur.

I would like to be able to customize velocity file in order to change the _Mutate.createX.req.vtl_ resolvers generated by Amplify :
 I want to modify the line `$util.qr($context.args.input.put("createdAt", $util.defaultIfNull($ctx.args.input.createdAt, $util.time.nowISO8601())

[2020-01-29 09:57] elimence commented on #3287
@yuth Checked and there's indeed a stack with that name, it's status is set to `UPDATE_ROLLBACK_COMPLETE`.
I'm not very familiar with cloudformation, should I attempt to delete it from here?

Trying to add `samdev` still fails. I tried adding another env and it did create a stack in cloudformation with that naming convention.

[2020-01-29 11:31] rfpedrosa commented on #3222
I also would like to have this support. By now, we are using [custom CF stacks](https://aws-amplify.github.io/docs/cli-toolchain/quickstart#custom-cloudformation-stacks) to setup step functions

[2020-01-29 12:32] andrestone commented on #3288
I'd love to see this implemented.

[2020-01-29 12:36] martinjuhasz commented on #1874
+1 didn't find a good solution yet. would love to get some hints on how to do this correctly. I guess one must create a custom resource and bind both api and postConfirmation function to those as dependencies? not sure tho.

[2020-01-29 12:46] tgjorgoski commented on #1874
I do this:
- I create another function and give it access to whatever I need (auth, graphql...)
- Add permissions to invoke any other lambda to the trigger lambda...  (if you try to actually specify the lambda by referencing it, you will get get circular reference problem, but you could possibly use simple strings here if you want to use the principle of giving minimal required permissions)
- In t

[2020-01-29 14:10] AndreasEK commented on #3289
https://github.com/aws-amplify/amplify-cli/pull/3223 fixed it, thanks!

[2020-01-29 15:42] mikedizon commented on #3173
Seeing this as well. Updated to latest version of amplify-cli.

[2020-01-29 17:02] steveparkerSG opened #3292 "Deploying via CI"
What is the appropriate way of deploying via CI tool (e.g. Jenkins)? I have my project in github with the generated .gitignore. After clone, I use a headless script such as is below:

[code]

With init, this immediately triggers cloudformation updates, I think replacing the deployment bucket. Should I modify the .gitignore with something to prevent this?

If I instead try to pull, I get the follow

[2020-01-29 19:45] yuth commented on #3287
you could select the root stack of that Environment in CloudFormation console and click on delete stack as documented [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-console-delete-stack.html)

Just before deleting the stack could you share your `team-provider-info.json`. Please make sure you have redacted sensitive info from the file

[2020-01-29 20:27] UnleashedMind commented on #3287
@elimence
I could not reproduce the issue.
Root stack name clash is very unlikely, especially when you try it multiple times during one day because there's a timestamp string appended to the name.
You can just go ahead and remove that stack on the Cloudformation Console if its resources are no longer needed.
In what AWS region did you create the env?

[2020-01-29 20:47] UnleashedMind opened #3294 "amplify env remove fails to delete auth/unauth roles"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
command `amplify env remove` fails to delete auth/unauth roles

**Amplify CLI Version**
4.13.1

**To Reproduce**
- `amplify env add` to add a new env
- `amplify env remove <original-envName>`
- on the local terminal, the CLI prints out that the env is fully removed, but go to the Clo

[2020-01-29 21:49] cpiro opened #3296 "`amplify codegen model` fails on `AWS*`scalar types"
In the latest version 4.13.1, if `schema.graphql` contains an AWS-defined scalar type — e.g. `AWSEmail` —`amplify codegen model` exits with the error `Type "AWSEmail" not found in document."`. This schema fails:

[code]

Specifically, the scalar definitions are passed to `gqlCodeGen.codegen`, but inside that function, `schemaMerging.mergeSchemas` is called in such a way that the scalar definitions

[2020-01-29 22:04] jorge-rocksaucestudios commented on #3029
<img width="1221" alt="Captura_de_Pantalla_2020-01-29_a_la_s__15_00_08" src="https://user-images.githubusercontent.com/60016757/73401465-3263b680-42b9-11ea-9950-183ef78b3168.png">

I found a bug related to the enum generation, it generates a new case without any reason

enum UserStatus {
  UNCONFIRMED
  CONFIRMED
  ARCHIVED
  COMPROMISED
  UNKNOWN
  RESET_REQUIRED
  FORCE_CHANGE_PASSWORD
}

[2020-01-29 22:09] SwaySway commented on #3293
Hello @mlecoq you can overwrite the file, with the same name, and add it into the resolver folder outside of the build folder.

`amplify/backend/api/<API_NAME>/resolvers/Mutate.createX.req.vtl`

[2020-01-29 22:16] jorge-rocksaucestudios opened #3297 "Bug, codegen for enum on swift"
**Describe the bug**
The enun generated causes compilation errors

**Amplify CLI Version**
4.12.0

**To Reproduce**
amplify pull
amplify configure codegen
amplify codegen

**Expected behavior**
for ...
enum UserStatus {
  ...
  UNKNOWN
  ...
}

It should only generate 7 cases,

if an enum in GraphQL has a property named "UNKNOWN", amplify code gen creates a build error in swift 5, generating case

[2020-01-29 22:26] Ricardo1980 commented on #3029
That is normal.
codegen adds automatically an extra enum with an associated value that is used when the enum cannot be mapped. Perhaps in the future you add a new state and old clients have to manage that. Using the (autogenerated) unknown state you can do it.
What you have to do is to rename your own UNKNOW state and use any other name, then it will work.

[2020-01-29 22:28] cpiro opened #3298 "`amplify codegen model` does not escape Swift keywords in generated `enum`s"
In the latest version 4.13.1, if `schema.graphql` contains an `enum` value that coincides with a Swift keyword, the generated output of `amplify codegen model` is invalid. For example:

[code]

translates to this invalid Swift:

[code]

### Expected behavior
The output should be valid Swift. The older Swift codegen correctly encloses these keywords in backticks:

[code]

### Versions
[code]

### T

[2020-01-29 22:53] stewartduffy commented on #720
@YikSanChan did you manage to get this working?

[2020-01-29 22:56] cpiro opened #3299 "`amplify codegen model` generates Swift `enum`s that don't conform to `Codable`"
In the latest version 4.13.1, generated Swift `enum`s don't conform to `Codable`. For example:

[code]

While attempting to build the generated output, the Swift compiler fails with the following errors:
- Type `Post` does not conform to protocol `Decodable`
- Type `Post` does not conform to protocol `Encodable`
- Cannot automatically synthesize `Encodable` because `PostKind?` does not conform to

[2020-01-29 22:58] YikSanChan commented on #720
I didn’t use aws amplify any more and didn’t solve the problem

Stewart Duffy <notifications@github.com>于2020年1月29日 周三下午2:53写道：

[2020-01-29 22:59] #2977 closed

[2020-01-29 23:01] stewartduffy commented on #720
@YikSanChan OK thanks. Anyone else?

[2020-01-29 23:14] martinjuhasz commented on #1874
@tgjorgoski well, probably not the nicest way, but at least you figured out how to work around this problem.

could you please explain point 2 a bit more in detail? how do you add permissions? what do you mean by "not referencing it but use simple strings"?

[2020-01-29 23:41] chuckatc opened #3300 "npx amplify-app "Cannot find module 'amplify-frontend-javascript'""
**Which Category is your question related to?**

Amplify CLI, DataStore, React

**Amplify CLI Version**

4.13.1

**What AWS Services are you utilizing?**

Amplify: CLI, DataStore

**Provide additional details e.g. code snippets**

To reproduce:

[code]

Output from last command:

[code]

Seeing the same error on Ubuntu and macOS with node 12.x and 13.x .

Am I missing a step or depenency, or is th

[2020-01-30 00:00] SwaySway commented on #3292
Hello @steveparkerSG
if you are looking at CI options with Amplify I would recommend looking at Amplify Console.
https://github.com/aws-amplify/amplify-console

As for using a script I would recommend taking a look a the amplifyPush script
https://github.com/aws-amplify/amplify-console/blob/master/scripts/amplifyPush.sh

[2020-01-30 00:12] #2478 closed

[2020-01-30 01:16] yuth commented on #3299
What version of Amplify CLI is used to generate the swift code?

[2020-01-30 01:28] cpiro commented on #3299
The latest, 4.13.1. See above:
[code]

[2020-01-30 02:02] aprilmintacpineda commented on #3085
extremely awful dev experience

`An error occured during the push operation: Syntax Error: Expected Name, found @` and I only added a field to the graphql schema.

[2020-01-30 02:17] gustavosooeiro commented on #811
I've used the last version by September/2019 and I've ended up paying the 20Gb instance of Elasticsearch. I felt confortable creating the instance because of this post. Is the default Elasticsearch creation set to 20Gb or 10Bg.  How can I create an Elasticsearch instance that fits in the free tier?

[2020-01-30 03:20] karrettgelley opened #3302 "Accessing AppSync in Lambda"
**Which Category is your question related to?**
AppSync, Lambda, Auth

**Amplify CLI Version**
4.13.1

**What AWS Services are you utilizing?**
AppSync, Lambda, Auth

**Provide additional details e.g. code snippets**
I set up a graphql AppSync API using amplify and I need to be able to query it in a lambda function. How can I do that? I am using Cognito User Pools for authentication on the graphql

[2020-01-30 03:41] tgjorgoski commented on #1874
Hi @martinjuhasz , I updated my previous comment with more info.

[2020-01-30 04:05] dkennell commented on #2928
I had this problem too, on a greenfield project. Once I started using a custom bucket name instead of the suggested default (the one w/ the long UUID), everything worked fine.

[2020-01-30 07:25] yvescoinpass commented on #3251
I have an update on this question.  What I did is just @sorokinvj  advice. I created a new Model UserProfile on my schema.graphql.

Here is my new schema.graphql

[code]

After logged in I fetch the user pool data when I got the data.

Then I try adding it on user_profile table but the owner is null?

This means that the API still didn't recognize me as a logged in user?

Here is the code to my lo

[2020-01-30 09:44] mlecoq commented on #3293
@SwaySway  Oh great, didn't know (is it mentioned anywhere in the docs ?), will try it :)

Thanks !

[2020-01-30 09:44] #3293 closed

[2020-01-30 10:00] elimence commented on #3287
@yuth @UnleashedMind

The env was created in `us-east-1`
[code]

I successfully deleted the stack and tried adding the env, I got this error:

[code]

[code]

After deleting the S3 deployment bucket, I was able to create the env successfully.
Never run into this issue before this incident, there's a chance I may have inadvertently messed something up.

[2020-01-30 10:17] henrysachs commented on #2977
ho @edwardfoyle  I will try to use the new @connection annotation but at the time I was developing this, it didn't exist. :D
But i saw that you seem to be using vanilla js and I used the generated angular service maybe it could be related to that but i will check this. :)

[2020-01-30 10:37] DahiyaVipin opened #3303 "How to handle Amplify auto created DynamoDB table data schema migration..."
I am using Amplify cli to develop my react/react native app.

1. The problem that start bothering me is , once you have millions of rows in your Dynamodb table that was auto created by amplify add api command, what process one should follow if I need to update the schema, considering my schema update will impact my users.

Any best practices which is followed by Amplify community ?

[2020-01-30 11:14] SimonLegg commented on #3215
Just as a note: any contentType will cause this. I commented on a [related issue in a different repo](https://github.com/jamhall/s3rver/issues/390)

## Angular Workaround (use environment.production)
[code]

[2020-01-30 11:32] zeroamplitude opened #3304 "amplify env pull MaxListenersExceededWarning"
[Amplify Console GitHub Issue Tracker](https://github.com/aws-amplify/amplify-console/issues)

**Describe the bug**
When executing `amplify env pull` receiving warning `(node:60352) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 keypress listeners added. Use emitter.setMaxListeners() to increase limit`

**Amplify CLI Version**
4.13.1

**To Reproduce**
amplify env pull

[2020-01-30 12:18] dantasfiles commented on #3302
Here's one example: https://github.com/aws-amplify/amplify-cli/issues/3221#issuecomment-576807990

[2020-01-30 12:34] dantasfiles commented on #3302
https://aws-amplify.github.io/docs/cli-toolchain/quickstart#graphql-from-lambda

[2020-01-30 13:48] rudyhadoux opened #3305 "Changes in production"
Hi,

If I understood correctly, new attributes for objects in a graphql.schema do not change ancient saved objects, but what happens if we make errors by removing attributes ?

Is there a warning message to prevent deleting old objects ?

[2020-01-30 14:10] mikedizon commented on #3212
@kaustavghosh06 The boilerplate modules only have one module listed in the parameters.json file. If he's using it out of the box, what other modules would be missing?

[2020-01-30 14:13] guioum commented on #3212
I used plain old 'static' require statements in my function:

[code]

[2020-01-30 16:42] martaGonz commented on #382
I still get this error when adding Analytics with the latest version of the CLI...

[2020-01-30 18:20] yuth commented on #2828
Closing this as no action is needed from Amplify team.

[2020-01-30 18:20] #2828 closed

[2020-01-30 18:42] nikhname commented on #3282
@jitendra-koodo I would suggest waiting for RN support and then moving forward with adding an API. Closing this issue, please comment if you have further questions.

[2020-01-30 18:42] #3282 closed

[2020-01-30 18:43] yuth commented on #3295
Amplify CLI puts all the backend resources in a `<project-root>/amplify/` folder. This folder does not contain any files that will be used in the frontend code and should be ignored when building/testing frontend code.

[2020-01-30 19:12] yuth commented on #3257
Please feel free to re-open or comment in this thread if you are still facing this issue.

[2020-01-30 19:12] #3257 closed

[2020-01-30 19:20] yuth commented on #3302
Feel free to comment here if you are still having issues in using the docs linked above

[2020-01-30 19:20] #3302 closed

[2020-01-30 19:26] nikhname commented on #3300
@chuckatc Is the amplify project created when you run into this?

[2020-01-30 19:31] #2566 closed

[2020-01-30 19:34] cbaron commented on #2566
Thanks for the fix -- wish y'all would have hired me :(

[2020-01-30 20:13] bboure commented on #3076
Fixed in #2497

[2020-01-30 20:13] #3076 closed

[2020-01-30 20:58] nikhname commented on #3300
Do you also run into this if you run npx amplify-app --frontend javascript --framework react ?

[2020-01-30 21:34] nikhname commented on #3245
@nickchauhan Are you using the same environment name on the new project/machine as the old project?

[2020-01-30 23:20] dantasfiles commented on #3304
Getting the same thing with an `amplify init` with CLI v.4.13.1.
The problem does **not** occur with CLI v.4.13.0

- Run `npx react-native init EmitTest`
- Run `amplify init` with CLI v.4.13.1
[code]
Note that it says `11 keypress listeners added`, and it prompted me for user input 11 times before failing, so perhaps it has to do with whatever dependency Amplify is using to collect user input.

<d

[2020-01-30 23:25] yuyokk commented on #620
Absolutely agree on this one!

Right now I'm struggling with `amplify update auth` to add Lambda Triggers. It asks all the questions again. I wish `amplify update auth` showed `Add/Update lambda triggers` on the top menu e.g.

[code]

[2020-01-31 00:09] rick-faletto opened #3307 "Empty Bucket After Push"
**Describe the bug**
Amplify "push"ing a React application with GraphQL creates an empty bucket.

**Amplify CLI Version**
4.11.0

**To Reproduce**

1. Ensure you have:
a) a AWS profile b) awscloudformation as default provider c) a pre-existing React project with GraphQL
2. Navigate to the project's directory
3. amplify configure project
4. name : test | editor : Atom | type : javascript | framewor

[2020-01-31 03:15] chuckatc commented on #3300
@nikhname ,

Running it as `npx amplify-app --platform javascript --framework react` works normally and this demo runs fine: https://github.com/sebsto/amplify-datastore-js-e2e .

Thanks very much for the workaround! Are these options documented anywhere? (--help only shows itself and --version)

Running without args, the `amplify` dir is created:

[code]

but `amplify/.config/project-config.json`

[2020-01-31 03:19] michaelcuneo opened #3308 "Lack of depth after codegen --max-depth 6"
I've just changed my GraphQL schema a little, and I've ended up with no depth now. It only goes so far then stops, and gives me little to no data.

Was there a change in the latest versions of Amplify-cli that would have caused this? I have just recently updated my amplify-cli and my first push after the update of the client asked me to update the api. So I said yes... and now my project is all me

[2020-01-31 04:02] michaelcuneo commented on #3308
In my schema, I have Galleries and Images.

I add the gallery first, which gives me a Gallery ID... Then I generate images, and provide the gallery ID to them during creation.

This is all within a Project Model... i.e. Project -> Gallery -> Images.

[code]

Project and Gallery and Images are all created, but if I list a project ... this is my result.

The project has a gallery, but the gallery do

[2020-01-31 04:04] chuckatc commented on #3048
@elorzafe , pardon the wait, was stuck on #3300 . Now unblocked, so will test original project soonishly.

fwiw, this [recent DataStore demo](https://medium.com/open-graphql/create-a-multiuser-graphql-crud-l-app-in-5-minutes-with-the-amplify-datastore-902764f27404) from Ed Lima uses `@auth(rules: [{ allow: owner }])` the same way so will try that as well.

[2020-01-31 06:44] rpostulart commented on #2988
+1

Here is my schema:

type Event @model @searchable {
  id: ID!
  date: String!
  maxSubscribers: Int
  totalSubscribers: Int
  polygon: Location
  Timetable: [Timetable]
  lastDateToSubscribe: String
  eventOwner: Subscriber! @connection
  name: String!
  description: String
  coordinates: [Coordinate]
  planned: Boolean
  subscribers: [EventSubscribers] @connection(name: "Event")
}

type Event

[2020-01-31 06:52] sacrampton commented on #2988
Hi @rpostulart - separate issue, I've found that Elasticsearch hard codes geopoint types with lat/lon coordinate names if you want to be able to do geo-queries

type Coordinate {
lat: Float
lon: Float
}

[2020-01-31 08:34] UnleashedMind commented on #3292
The error you got is a bug in the headless `amplify pull` if the config level is set to 'general', I've sent a fix for it. For now, please use 'project' config level in your headless parameter, and provide a profile for it (see the sample below).

CI work would be:
- You push your development to code repo (such as github), your CI engine is notified and pulls down the latest development.
- Then in

[2020-01-31 09:18] AlessandroAnnini commented on #1850
Any news about this? managing multiple envs and multiple git branches is awful when you have a lot of resources!

[2020-01-31 09:56] AlessandroAnnini opened #3310 "Iteratively work and switching between environments"
**Which Category is your question related to?**
Environments

**Amplify CLI Version**
4.12.0

**What AWS Services are you utilizing?**
Cognito, Appsync, Lambda

**Provide additional details e.g. code snippets**
I have 3 envs and 3 git brances:

| env  | branch  |
|---|---|
| develop  | develop  |
|  test | test  |
|  prod | master  |

I followed the [Environments and Teams - Concept documentation]

[2020-01-31 11:55] danny-waite commented on #2892
I'm getting the same issue, with any type with a @model directive

[2020-01-31 12:13] nickchauhan commented on #3245
@nikhname Yes I'm using the same environment.

[2020-01-31 15:13] andrestone commented on #3283
I'm afraid this workflow isn't supported, and honestly it doesn't make much sense to me.

The `add api` workflow is built for you to interact with DynamoDB via API calls (AppSync / GraphQL). In the context of amplify-cli, it doesn't make sense that you add an API and then expect that any other given command would "connect" to any underlying resource.

Of course, you can still make a Lambda functio

[2020-01-31 15:38] andrestone opened #3311 "AWS Amplify SDL Transformers vs DynamoDB Best Practices"
**Which Category is your question related to?**
amplify-cli

Hi there,

Aren't the `@model` and subsequent directives a dangerous simplification considering DynamoDB / NoSQL best practices? After reading some material on NoSQL and actually official DynamoDB documentation it is pretty clear that is recommended to always keep the data *as close together as possible* as well as *avoid creating unnece

[2020-01-31 16:38] JoeShi commented on #3141
@ammarkarachi do we have any update?

[2020-01-31 18:01] SwaySway commented on #3307
Hello @rick-faletto
Does the bucket get populated after an `amplify publish` ?

[2020-01-31 18:58] yuth commented on #3048
Please feel free to comment in the thread if auth does not work with DataStore

[2020-01-31 19:47] nikhname commented on #3300
Hi @chuckatc could you send a zip of your project directory to amplify-cli@amazon.com? Unfortunately these options are not documented, we will look into adding them.

[2020-01-31 22:48] yuth commented on #3299
This needs changes in Amplify iOS Data store client which is tracked in https://github.com/aws-amplify/amplify-ios/issues/246

[2020-01-31 23:01] dbhagen opened #3346 "Amplify Cloud Build - Amplify Pull using Service Role"
**Is your feature request related to a problem? Please describe.**
I'm trying to figure out a way to have the cloud builds of my projects generate the aws-exports.js file during the build. Right now, it seems I have to commit that into the repo for the project to build successfully, which means my keys are stored in a repo. Not the best standard.
My thought is that I'm providing a service role to

[2020-01-31 23:03] yuth commented on #3297
@jorge-rocksaucestudios  Could you share a minimal schema which can cause this error in Swift generated code

[2020-01-31 23:19] DavidNelsonCordelia opened #3313 "example needed for multiMatch searchableType query"
**Which Category is your question related to?**
graphQl

**Amplify CLI Version**
3.15

**What AWS Services are you utilizing?**
dynamo,  cognito,  elastasearch  s3

**Provide additional details e.g. code snippets**

I cannot get a multiMatch query to work.   I have tried:
  const filterDescriptionBrand = {multiMatch:{query: searchString, fields: ["description", "brand", "category", "scanCode"]}};

[2020-02-01 00:11] edwardfoyle commented on #3303
Hi @DahiyaVipin, there's no one right answer to this question -- a lot depends on your exact use case. But here are some things to consider...

In general, you should never make backwards incompatible changes to an API once it is in use. Making such changes would typically be done through API versioning so that clients can choose which version to use. Currently Amplify does not have a built-in way

[2020-02-01 00:11] #3303 closed

[2020-02-01 01:03] ambientlight commented on #3311
@andrestone: please refer to https://github.com/aws-amplify/amplify-cli/issues/2071#issuecomment-522272663

[2020-02-01 08:55] mlecoq opened #3317 "AppSync - amplify gql compile - add distinct compile directory"
Hi,

Once we have defined a schema (with `@model` directives), running `amplify gql compile` or `amplify push` implies a generation of stacks and resolvers in a `build` directory.

We can override these files: for example we can hide `Mutation.createX.req.vtl` in `resolvers` directory that will be set in `build` directory instead of automatically generated one.

What is then difficult to manage is

[2020-02-01 10:40] andrestone commented on #2071
Any updates on this?

[2020-02-01 17:20] TheUncharted opened #3318 "Function : Could not retrieve file from S3"
**Describe the bug**
After granting read permission to perform on storage S3 to the function,
the function can't get an object in s3  and return the message ""Could not retrieve file from S3: The specified bucket does not exist"

The generated iam policy and bucket name seems to be not correct.

In aws, the bucket name seem to be not replaced by its true value/name
[screenshot](https://imgur.com/8

[2020-02-01 17:37] #3283 closed

[2020-02-01 19:27] JenilynnB commented on #704
@mikeparisstuff should this example actually work today? I have this exact thing set up and the subscription does not fire on batch mutations. The batch mutations are working correctly and other subscriptions on single item mutations also fire, but I have not been able to get this to work. Would love to know whether I should continue to troubleshoot this or whether the functionality does not actua