[2022-02-03 09:46] benjeater commented on #9183
For me, running `amplify auth update` and going through the `Update OAuth social providers` process allows the current `env` to be pushed, but changing `env` and making any modifications to `amplify auth` seems to cause this issue.

My current workaround is to update the OAuth settings whenever I encounter this error.

The `client_secret` is available in the `#current-cloud-backend` folder (`ampli

[2022-02-03 13:09] vifox001 commented on #9525
@johnpc
I'm facing the same issue and it can't be resolved after downgrading the amplify CLI to v7.6.8
There are some `custom:attributes` were added manually to the Cognito. I can run `amplify push` couple days ago without any problem.

[code]

[code]

[2022-02-03 14:01] loganpowell commented on #1043
@kylekirkby do you have a GSI that has the resources indexed by auth role? Might you share your custom resolver?

[2022-02-03 14:15] josefaidt commented on #9648
Hey @voyagebagage :wave: for transformer v1 we can use parameters to reset the API key expiry https://docs.amplify.aws/cli-legacy/graphql-transformer/config-params/#apikeyexpirationepoch

Unfortunately we are not able to update existing API resources on transformer v1, which is a bug documented here https://github.com/aws-amplify/amplify-cli/issues/9675

[2022-02-03 14:18] kylekirkby commented on #1043
Hi @loganpowell ,

So currently our Resource type has a `private` boolean field. This is then used to prevent users from seeing private resources in queries via custom VTL code. Currently, I've only managed to get this working in the response resolver, which means when you expect 12 resources in a query you get 12  - any that were private.

What I'm looking at now is updating the client-side queri

[2022-02-03 14:43] josefaidt commented on #9653
Ah I'm glad to hear you're unblocked @prvn3294 🙌 . I'll mark this as a feature request to improve the error messaging for when the CLI is unable to resolve the project path

[2022-02-03 15:00] josefaidt commented on #9684
Hey @adilusman51 :wave: thanks for raising this! This appears to be a duplicate of https://github.com/aws-amplify/amplify-cli/issues/9624 and should be fixed with https://github.com/aws-amplify/amplify-cli/pull/9670. From the issue linked,

Marking as a duplicate bug and closing in favor of tracking the existing item. Please subscribe to #9624 for additional updates

[2022-02-03 15:00] pkubat opened #9685 "Incorrect error thrown in amplify-appsync-simulator/lib/resolvers/base-resolver"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-03 16:02] jcolvard commented on #9635
@utopianf, once I realized that the call was able to succeed from the front end, I proceeded work on the app itself. I will give it a shot today and post an update here today.

[2022-02-03 16:04] voyagebagage commented on #9525
so I followed that and it is not working, I did a 100 times `cmd+z` in each files and get rid of
[code]
I get the drift error

To get to that error I just did upgrade the CLI and I'm pushing from another place in the world, could it be it ?
the UserPool is for Singapore location so `'ap-southeast-1'` and now I'm pushing form central Europe or the custom attributes?

[2022-02-03 16:29] voyagebagage commented on #9661
@josefaidt thanks for that issue

[2022-02-03 17:02] brandonfonseca commented on #6432
This is happening to me as well, however, running an `amplify env checkout {new_env_name}` as suggested above, still does not fix the issue. The `aws-exports.js` is still not being updated.

[2022-02-03 17:08] nathanagez commented on #8018
Since we can now create resources using the AWS CDK I can close this issue.

[2022-02-03 17:08] #8018 closed

[2022-02-03 17:43] ryanhollander opened #9690 "Amplify CLI rips out custom auth attributes from all templates and it is making me sad :-("
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-03 18:34] setterlee commented on #7573
Similar issue here but with the user-pool-group-precedence.json file, i'm trying to add some custom policies to give access to geolocations resources to my default users group but the amplify push command overrides the file...

[2022-02-03 18:43] jcolvard commented on #9635
I created the local file `amplify/backend/api/<your-api-name>/custom-roles.json`

In the json file I tried:
[code]
With the User Name coming from https://console.aws.amazon.com/iamv2/home#/users
I clicked on the user name and confirmed that I have `AdministratorAccess` permissions.

Then I went to the AppSync console, ran my query using IAM in the dropdown, same unauthenticated error as you @utopi

[2022-02-03 19:10] ryanhollander commented on #9690
ex. of a similar issue: https://github.com/aws-amplify/amplify-cli/issues/4980

[2022-02-03 19:14] renebrandel commented on #9502
I think a couple things need to happen here:

Ideally, what should happens is: we push all authorization logic into the resolver instead of having it be defined in the IAM role.

If that's not possible a another solution could be:
if a static group auth rule is specified, for example `@auth(rules: [{ allow: group, groupName: “Admins”, operations: [create, read, update]}])`

then on `amplify push`,

[2022-02-03 19:31] DuncanHouston commented on #9525
@voyagebagage to be able to help you, please post the following files:

<your-project>/backend/auth/<project-auth>/cli-inputs.json had:
<your-project>/backend/auth/<project-auth>/build/<project-auth>-cloudformation-template.json

<your-project>/#current-cloud-backend/auth/<project-auth>/cli-inputs.json
<your-project>/#current-cloud-backend/auth/<project-auth>/build/<project-auth>-cloudformation-te

[2022-02-03 19:46] josefaidt commented on #9681
Hey @Nicktho and @KevinBenjamin :wave: glad to hera y'all are unblocked 🙌 . Closing as the issue is now resolved 🙂

[2022-02-03 19:46] #9681 closed

[2022-02-03 20:09] adilusman51 commented on #9684
@josefaidt Thanks for providing an update, this is in fact a duplicate issue of #9624

[2022-02-03 20:49] josefaidt commented on #9636
Hey @IsaacTrevino :wave: thanks for raising this! I was able to recreate this issue using the following steps:

1. create a new project `amplify init -y`
2. add a Lambda Layer with `amplify add function`
3. push with `amplify push -y` (note: this shouldn't be necessary but due to the expected error the export process never finishes)
4. `amplify export --out tmp`
5. observe error

[code]

Marking a

[2022-02-03 20:52] #9561 closed

[2022-02-03 20:57] josefaidt opened #9693 "unable to run `amplify export` in a fresh project before pushing when an error is expected"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-03 21:11] KevinBenjamin commented on #9681
This is not resolved for me.  It still fails with npm `7.24.2`.  This is with node `14.4.0`. With higher versions of node, using npm `8.1.4`, it also does not work.
I'm trying to upgrade from `@aws-amplify/cli@6.1.1`.

[2022-02-03 21:30] josefaidt commented on #9690
Hey @ryanhollander :wave: thanks for raising this! For adding those custom attributes have you tried using [`amplify override auth`](https://docs.amplify.aws/cli/auth/override/)? Modifications to the CloudFormation templates will be lost when the resources are re-built (on `amplify build` or `amplify push`), but with overrides we can leverage the power of CDK to apply those customizations which wi

[2022-02-03 22:02] ryanhollander commented on #9690
@josefaidt I'll try that thank you.

[2022-02-03 22:10] #9624 closed

[2022-02-03 22:10] #9628 closed

[2022-02-03 22:56] josefaidt opened #9695 "errors not surfaced on failed REST API override builds"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 00:26] lazpavel commented on #9646
Hi @Hamza141999, thank you for reporting this issue.

Can you share the V1 schema as it was before running `amplify migrate api`?

[2022-02-04 01:25] dylan-westbury commented on #5079
Seems to be still a problem.

Separate pinpoint created for notifications / analytics.

Deleted one thinking it wasn't in use, now we got a whole bunch of problems 😅

[2022-02-04 02:17] sacrampton opened #9696 "ElasticSearch Streaming Function - You have exceeded the number of permissible concurrent requests with unique IAM Identities"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 02:56] utopianf commented on #9635
@jcolvard
I possibly figured out the problem. I took a look in the functions in AppSync and I found
my amplify-generated appsync resolver function "QuerylistPostsauth0Function" which is called by listPosts query is below.
[code]

And if I login with root account, `$ctx.identity.userArn` is arn:aws:iam::XXXXXXXXXXXX:root, which doesn't contain in the adminRoles.
So what I did to solve it are

- log

[2022-02-04 04:38] taskooh opened #9697 "An error occurred during the push operation: Cannot extend nonexistent type 'Query'."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 05:00] taskooh opened #9698 "@function annotation in splitted schema file is not working (resolver is not created)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 05:11] rabi-palmtree commented on #3977
Any progress on using Amplify CLI to import existing REST API ECS endpoints?
My workaround is to manually add add the configuration to amplifyconfiguration.json (referring to [this guide](https://docs.amplify.aws/lib/restapi/existing-resources/q/platform/flutter)). Similar to @[davidjaldred](https://github.com/davidjaldred)
I want to take advantage of Amplify Environments to pull this configuratio

[2022-02-04 05:51] Rafcin opened #9699 "Unable to push changes from Dev env to Prod env."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 05:55] Booligoosh opened #9700 "GraphQL query generated by @index directive fails with Unauthorized error when field is used as @auth groupsField"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 07:09] a9udn9u commented on #3426
I have a custom stack to take care of assigning permissions to my Cognito user groups and Lambda functions. This issue bit me 6 months ago, today I added a new Lambda function and it bites me again. I've lost at least a day because of this...

`backend-config.json` is not a file developers update everyday, WHO ON EARTH WOULD REMEMBER TO RUN `amplify env checkout` AFTER SIX MONTHS??!!

`amplify pus

[2022-02-04 07:50] jk171505 opened #9701 "Weird content of confirmation email triggered by Custom message Lambda trigger"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 08:57] vifox001 commented on #9525
@DuncanHouston
Can you please help my issue? I created a new amplify environment `clifix`. First time `amplify push` was successful, but after I remove a storage, it failed again when I run the `amplify push`.

Below is the list of files (Github doesn't allow upload `.json`, I changed the extension to `.txt`)

project/backend/auth/project/cli-inputs.json
[cli-inputs.txt](https://github.com/aws-amp

[2022-02-04 09:30] batical opened #9702 "GraphQL query on index generated by @key not authorized"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 11:32] gpoul opened #9703 "Yarn test on master fails in amplify-appsync-simulator"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-04 16:19] cjihrig commented on #9703
I am able to reproduce this with Node 16. The tests do not fail on Node 14, which explains how the change made it past our CI. Marking as a bug.

[2022-02-04 17:11] cjihrig commented on #9697
Thanks for reporting this. I'm marking this as a bug.

[2022-02-04 17:49] lazpavel commented on #9645
Hi @dragosiordachioaia, can you try updating your lambda function as below and let us know if you're still having issues

[code]

[2022-02-04 18:35] #9645 closed

[2022-02-04 18:52] cjihrig commented on #9679
Note: It looks like this is present in both v1 and v2 of the GraphQL Transformer. Changing this would be a breaking change.

[2022-02-04 19:08] Rafcin commented on #9699
I've made a fun new discovery. When merging dev into prod, my schema removed 3 tables. Removing all 3 at once seemed to be an issue, however, I'm removing them one at a time now and for some reason, that's working... odd right?

[2022-02-04 19:12] #8257 closed

[2022-02-04 19:13] dperconti commented on #9651
Unfortunately not, the only error was this portion in cloudformation:

[code]

[2022-02-04 20:07] Rafcin commented on #9699
**Solution** So I played around with this for a few hours and I'll break down everything here for anyone else who runs into this (side node I used version 7.6.10 and 7.6.15 of the CLI).

So I started to work on some new features, add some tables, remove some old ones yata yata in the dev branch. In total, I need up remove 3 tables that hadn't been used due to design changes. Turns out and I can't

[2022-02-04 20:21] cjihrig commented on #9651
What if you watch the `ConnectionStack` stack specifically in the console during the failed push? Usually it will provide an error on the specific stack that failed before rolling back.

[2022-02-04 20:23] cjihrig commented on #9653
I'm going to change this from a feature request to a bug since that type of error indicates a bug (we're invoking Node's APIs incorrectly).

[2022-02-04 20:53] david-mcafee commented on #4744
I've just merged [a PR](https://github.com/aws-amplify/docs/pull/4008) to our docs outlining the correct path for this. From the PR:

Hope this clears up the issue! Please feel free to re-open if there are further questions ☺️

Related: #5718

[2022-02-04 20:53] #4744 closed

[2022-02-04 21:15] aqarcoSys commented on #9525
I have the same drift error ,when I try to match the required attributes, I was before in 7.6.8 cli version, I have upgraded to the latest one , maybe that's the cause

[2022-02-04 21:24] cjihrig commented on #9666
Here is a reduced schema that reproduces the issue:

[code]

The `createTodo` mutation will fail with the error mentioned in the OP if the `foobar` field is provided, but `createdAt` is not. The reason is because the `Mutation.createTodo.preAuth.1.req.vtl` file only checks the inputs, and not any default/auto-computed values.

Marking as a bug. Thanks for reporting this.

[2022-02-04 21:39] #9703 closed

[2022-02-04 21:43] #9632 closed

[2022-02-04 21:43] #9502 closed

[2022-02-04 21:50] dorontal commented on #6343
@SwaySway you discuss **deny** behavior on auth fields, but even when I try to use field-level `@auth` directive to **allow** something, field-level `@auth` directives don't seem to work.

[ Note: using v2 of transformer with the latest versions of Amplify CLI (7.6.15) and library. ]

I thought you could get deny behavior on individual fields by using `@auth` on the parent model, to deny, then usi

[2022-02-04 21:59] josefaidt commented on #9380
Closing due to inactivity. @kgoyal98 if you're running into issues getting this set up please feel free to reply back to this thread and we can re-open to investigate further

[2022-02-04 22:00] #9380 closed

[2022-02-04 22:00] josefaidt commented on #9379
Closing due to inactivity. @Liberxue if you're still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-04 22:00] #9379 closed

[2022-02-04 22:01] josefaidt commented on #9298
Closing due to inactivity. @kevcle if you're still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-04 22:01] #9298 closed

[2022-02-04 22:09] cjihrig commented on #9627
This looks like behavior carried over from the v1 Transformer (I was able to reproduce the issue there as well).

[2022-02-04 22:31] kevcle commented on #9298
Sorry – seem fine after that one upgrade gotcha.  Good with close

From: josef ***@***.***>
Sent: Friday, February 4, 2022 2:02 PM
To: aws-amplify/amplify-cli ***@***.***>
Cc: Clements, Kevin ***@***.***>; Mention ***@***.***>
Subject: Re: [aws-amplify/amplify-cli] Amplify push fails after update to 7.6.3 - Parameters: [AuthCognitoUserPoolId] must have values (Issue #9298)

Closing due to inactivi

[2022-02-04 22:47] cjihrig commented on #9627
So, this has nothing to do with whether nullability is specified or not in the input schema. The connection type is generated for the list operation of the `@model`.

The code change to make the list entries non-nullable seems pretty straightforward:

[code]

My biggest concern would be breaking existing code, but I'm not sure that the list operations ever send back null entries anyway.

However,

[2022-02-04 23:53] vifox001 commented on #9063
I'm also getting the error `Failed to override [category] due to: VMError: Access denied to require 'os'.` when calling the `AmplifyHelpers.getProjectInfo()` inside the override.ts.

@cespin workaround works👍🏼, but better to sort it out in the amplify cli.

[2022-02-05 01:26] Rafcin commented on #9263
Will this be merged to main?

[2022-02-05 03:59] johngrimes commented on #177
+1 for generic OIDC support ☺️

[2022-02-05 21:51] josephpenafiel commented on #4155
Hello guys. I'm stuck with this issue too.
Any recommendations?

[2022-02-06 01:34] sundersc commented on #9683
@jcolvard - Was the authenticated user mapped to any user pool groups? This can be verified in Cognito console.

[2022-02-06 02:56] jcolvard commented on #9683
@sundersc, thanks for getting back, and thanks for chiming in on the last issue I participated on.

My main user was added to an admin group in Cognito. My other user that I test with was not part of a cognito group, and I’m almost sure that I had the same failed private iam attempt with that user. I will verify and update here tomorrow.

Question though, if a user is part of a cognito user group,

[2022-02-06 03:36] sundersc commented on #9683
There is a known issue with the IAM:private rule when the authenticated user belongs to a user group. If your are running into this, it can be solved as stated [here](https://github.com/aws-amplify/amplify-cli/issues/9502#issuecomment-1028316931).

[2022-02-06 13:44] dayjournal opened #9710 "Regarding Amplify Hosting, "Amazon CloudFront and S3""
**Which Category is your question related to?**
Amplify Hosting

**Amplify CLI Version**
v7.4.4
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Amazon CloudFront, Amazon S3

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
I have three questions about hosting with "Amazon CloudFront and S3"

[2022-02-06 15:03] david-mcafee commented on #82
I ran into this as well when pulling an existing project onto a new machine. The only solution for me was to create a new env, and push there, which is not ideal. Additionally, I'm not able to pull my other existing environments - creating a separate ticket for that.

[2022-02-06 15:16] david-mcafee opened #9711 "Unable to pull existing environments"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-06 15:18] david-mcafee commented on #82
Possibly related: https://github.com/aws-amplify/amplify-cli/issues/9711

[2022-02-06 18:17] adi518 commented on #9508
Getting the exact same bug. So unacceptable. Our preview builds don't work because of this. The workaround didn't work either, nor do I see how it should help. I already pulled the environment and pushed whatever updates it had to the branch I'm building an environment from.

[2022-02-06 21:32] voyagebagage commented on #9525
@DuncanHouston  sorry for the late answer

here it is :

### your-project/backend/auth/your-project/cli-inputs.json
[code]
-----------------------------------
### your-project>/backend/auth/your-project/build/your-project-cloudformation-template.json
[code]
-----------------------------------
### your-project/#current-cloud-backend/auth/your-project/cli-inputs.json
[code]
-------------------------

[2022-02-06 22:41] Booligoosh commented on #9663
Thanks @marcvberg, that worked!

[2022-02-06 22:41] #9663 closed

[2022-02-07 03:43] lehoai opened #9712 "Setting [--allow-destructive-graphql-schema-updates] for Hosting environments"
**Which Category is your question related to?**
deployment
**Amplify CLI Version**
7.6.9
You can use `amplify -v` to check the amplify cli version on your system

**What AWS Services are you utilizing?**
Amplify
**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
I've deployed a production via by [Hosting environments - Github]. There was an update that delet

[2022-02-07 04:01] ivadenis commented on #82
Same issues after migrating to transformers v2 with `amplify migrate api` command

[2022-02-07 05:31] rabi-palmtree commented on #3977
Is there a way to increase the visibility/priority of this Amplify CLI issue.
It should  not be hidden within a RFC. It seems more of a higher priority bug to me.
Will not most real world/"non hello world" usages of REST API with amplify run into this issue?

[2022-02-07 06:20] Booligoosh commented on #9474
We've also got this issue, is it currently being looked at? It's blocking us from migrating to GraphQL Transformer V2.

[2022-02-07 09:12] jk171505 commented on #9206
@marcvberg I have this problem in new project.

[2022-02-07 11:30] Lasim commented on #3399
Still no update on this topic?

[2022-02-07 13:27] DuncanHouston commented on #9525
@voyagebagage

OK, I think I might be able to help. These are the key parts of how you files look now:

your-project/backend/auth/your-project/cli-inputs.json
{
...
    "requiredAttributes": ["name"],
...
}

your-project/backend/auth/your-project/build/your-project-cloudformation-template.json
{
...
        "Schema": [
          {
            "Mutable": true,
            "Name": "name",

[2022-02-07 14:42] romeubertho commented on #9711
Hello,

I guess your `team-provider-info.json` does not have your dev environment there. `amplify env list` will list all envs based on the `team-provider-info.json` file

Try going to Amplify in your AWS console, find backend environments, click in edit backend and run the command there, something like: `amplify pull --appId YOUR_APP_ID --envName dev`.

I hope this can help you a bit xD

[2022-02-07 15:16] alexboulay opened #9714 "Lambda Authorizer being ignored when passing an OIDC token"
**Which Category is your question related to?**
@auth directive and Lambda Authorizer. Not sure if this is actually an issue with AppSync or a misunderstanding of the Lambda Authorizer.

**Amplify CLI Version**

`7.6.14`

My API uses mostly OIDC as an auth provider. However, I have certain use cases where it is not sufficient. Therefore, I am trying to leverage Lambda Authorizers.

I have annotate

[2022-02-07 15:34] voyagebagage commented on #9525
@DuncanHouston
I didn't add "email" like I said it is required because when I do like you suggest and remove it I have that error:

Cognito configuration in the cloud has drifted from local configuration. Present changes cannot be pushed until drift is fixed. `requiredAttributes` requested is ["name"], but ["email","name"] is required by Cognito configuration. Update /Users/sedatif2/iCloud Drive (

[2022-02-07 17:05] josefaidt commented on #9690
Hey @ryanhollander just wanted to follow-up on this one and see if the overrides worked for you?

[2022-02-07 17:56] cjihrig commented on #9712
This warning is in place to prevent accidental deletion of data in production environments. If you are confident that you want to delete the table(s) then it is fine to run `amplify push` with `--allow-destructive-graphql-schema-updates`. However, I would not recommend setting the flag automatically permanently.

[2022-02-07 18:47] dorontal commented on #6343
I'm also seeing a problem where model `@auth` is more permissive than field `@auth` but as soon as you add the field `@auth` the user **loses permission** to access **any part of the model** -- can't even read -- although the permissions allow read access at both model or field level:

This is the model `@auth`
[code]
and this is the field `@auth` for the same model
[code]
but as soon as you add t

[2022-02-07 19:13] danjesus commented on #3081
+1 for Postgres support

[2022-02-07 19:14] danjesus commented on #5370
+1 for Postgres support

[2022-02-07 19:39] lazpavel commented on #9573
with the latest amplify I no longer experience the previous error, the push succeeds

[2022-02-07 19:55] josefaidt commented on #9293
Hey @jnastaskin :wave: apologies for the delay on this one! Do you remember what steps were taken to reproduce this behavior? Following the posted reproduction steps I was not able to reproduce this issue.

1. create a new project with `amplify init -y`
2. add storage with `amplify add storage` > content > add auth
3. push with `amplify push -y`
4. create a new environment with `amplify env add`
5

[2022-02-07 19:56] josefaidt commented on #9516
Closing due to inactivity. @glidaa if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-07 19:56] #9516 closed

[2022-02-07 20:10] cjihrig commented on #9699
@Rafcin I'm glad you got everything sorted out. By any chance would you mind sharing the value of `enableIterativeGsiUpdates` in your project's `cli.json` file?

[2022-02-07 20:12] #8113 closed

[2022-02-07 20:17] Rafcin commented on #9699
@cjihrig Of course, the value is set to true. Here is the entire cli json
[code]

[2022-02-07 20:51] josefaidt commented on #9342
Hey @hkford :wave: these two directories should be covered by the `build/` and `node_modules/` lines in the generated gitignore. Are you seeing an issue where these directories are checked into git?

[code]

[2022-02-07 20:57] ataibarkai commented on #9573
Hi @lazpavel , thanks for that second update.
I am still seeing the same error even with the latest amplify, so I dug deeper.

I confirmed that on a fresh amplify project the schema I provided works properly. Looking for differences between my main project and the fresh project, I noticed the `secondaryKeyAsGSI` flag which is set to `true` on a fresh project but was absent from my main project.

T

[2022-02-07 20:57] lazpavel commented on #9307
Hi @hackrx, sorry for such a late response.

You can:
1. create an app by setting the `forceAliasAttributes: true` in the cli.json
2. run `amplify add auth` and select `Username` for `How do you want users to be able to sign in?`
3. run `amplify override auth` and manually add the social providers you want as follows in the `override.ts`

[code]

[2022-02-07 20:58] lazpavel commented on #9307
Please reopen if you still have issues

[2022-02-07 20:58] #9307 closed

[2022-02-07 21:16] josefaidt commented on #9087
Hey @shishkin and @nathanagez :wave: unfortunately it is not yet possible to reference a custom CDK resource output in a Lambda function. I'll mark this as a feature request 🙂

[2022-02-07 21:18] josefaidt commented on #9630
Hey @nathanagez :wave: thanks for raising this! Unfortunately this is not currently supported, however I've updated the title and labels on https://github.com/aws-amplify/amplify-cli/issues/9087 to better reflect the request. I'll mark this as a duplicate feature request, and for further updates please subscribe to #9087 🙂

[2022-02-07 21:18] #9630 closed

[2022-02-07 22:00] behrmans opened #9717 "(amplify-appsync-simulator): Support for AWS_LAMBDA Authorizer for AppSync"
### Is this feature request related to a new or existing Amplify category?

auth

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

When testing our appsync api locally, our team would love to be able to use `authenticationType: 'AWS_LAMBDA'`

As of today, when we attempt to run locally with that auth type we receive an error:
`UnauthorizedExce

[2022-02-07 22:14] josefaidt commented on #9717
Hey @behrmans :wave: thanks for raising this! Marking as a feature request 🙂

[2022-02-07 22:28] ataibarkai commented on #6650
Hello,

A year later, I've just run into another issue due to the LSI configuration on an existing project: `@hasMany` connections to LSI-defined indices **fail under the graphql 2.0 transformer**:
https://github.com/aws-amplify/amplify-cli/issues/9573

On a test environment, I've attempted to simply back up my data, and delete the existing tables -- in hopes of subsequently restoring the data fro

[2022-02-07 22:35] cjihrig commented on #9714
@alexboulay how are you making requests to your GraphQL API?

[2022-02-07 22:43] ataibarkai commented on #9573
@lazpavel or alternatively -- can the `auth` transformer be fixed to support LSI indices?
You should be able to reproduce the issue I described by creating a new project and setting the `secondaryKeyAsGSI` to `false` prior to the initial push.

[2022-02-07 23:08] josefaidt commented on #9612
Hey @pmulka :wave: thanks for raising this! I'm seeing the resolver is picked up on my end, as well as in the posted SearchableStack. Can you confirm whether you're seeing the init function populated in the searchTodos pipeline?
![image](https://user-images.githubusercontent.com/5033303/152887417-69734ff0-20b6-48d1-9d4f-f3984dad6811.png)

[2022-02-07 23:23] alexboulay commented on #9714
@cjihrig for now, in the AppSync console.

[2022-02-08 01:16] coe720 opened #9718 "Amplify publish/push no longer working with an imported AppSync API after updating to v7.6.15."
I just updated the Amplify CLI to version 7.6.15 and am no longer to run `amplify push` or `amplify publish` due to the following error: An error occurred during the push operation: Could not find a schema at ~/project/amplify/backend/api/api-name/schema.graphql

I'm using an import AppSync API using `amplify codegen` and never had an API directory at all under the backend folder.

I tried deletin

[2022-02-08 01:57] pmulka commented on #9612
Hi @josefaidt. Using Amplify 7.6.15, the init slot files starting with the name Query.search are now added to my pipelines as I would expect. Thank you! 👍

[2022-02-08 02:42] lehoai commented on #9712
@cjihrig Thank you for your response.
But I am not able to run amplify push, this is my customer AWS environment and I am not allowed to log in. I can only merge source code into the master branch.

[2022-02-08 04:30] Nicktho commented on #9569
Exactly the same issue, updating my version of amplify to `7.6.15` in build settings resulted in this permissions error when updating the stack of an environment that was previous set to the default which i believe is 6.3.1

[2022-02-08 05:42] sundersc commented on #9718
@coe - Could you open a new issue using the issue template?

[2022-02-08 05:42] #9718 closed

[2022-02-08 05:49] sundersc commented on #9714
@alexboulay - I think that is due to validation on AppSync side. Does your token have `Bearer` as prefix (like `"Bearer <Token>"`).

[2022-02-08 06:15] Filaipus commented on #7388
@josefaidt I'm a little confused on the workaround. Once I do update OAuth social providers am I supposed to just amplify push and it should work?

I did that and it's still giving me the same error as the other people. Any ETA on a fix (or workaround?)

[2022-02-08 08:33] multimeric opened #9719 "Allow the use of GQL types generated by a directive in the schema"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Say you have a GraphQL schema with a model, and you also want to add a new type of query to that model. This query needs to be filterable in the same way that a `listFoo()` is filterable.

[code]
This will fail with

[2022-02-08 10:26] a-y-klimovich opened #9720 "Mock function fails with "No module named 'pipenv'""
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-08 13:48] alexboulay commented on #9714
@sundersc I am passing my token as is. If put Bearer as a prefix, it works, just as if I had added a random character to my token, I initially tried `_<token>` before posting this issue as a test/trying to figure out how to trigger the authorizer.

So my understanding is that it's all at the AppSync level and to instruct it to use the AWS_LAMBDA as an auth provider, I cannot give it an OIDC token

[2022-02-08 15:23] SebSchwartz commented on #8108
Having the same problem and limit with:
* 2 API Gateway
* GraphQL (55 tables)

In graphql auth, we have on all tables: {allow: private, provider: iam, operations: [read, create, update, delete]}
Amplify is creating 10 policies (splitting table access accross them) and it cannot be attached to the authRole as there is other policies to attach too...

[2022-02-08 16:04] nathanagez commented on #9087
Hey @josefaidt, any hints on how we can add this feature ? If we can accelerate the process by opening a PR :)

[2022-02-08 16:58] charlesdarkwind opened #9721 "An error occurred during the push operation: Could not find a schema at /home/user/projectName/amplify/backend/api/appSyncApiName/schema.graphql"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-08 16:58] charlesdarkwind commented on #9718
https://github.com/aws-amplify/amplify-cli/issues/9721

[2022-02-08 17:51] ammarkarachi commented on #9712
@lehoai The customer might need to invoke a one time deployment to get around it. This is done to safeguard against any destructive updates

[2022-02-08 18:07] ammarkarachi commented on #9720
@a-y-klimovich have you tried `pip install pipenv` and then run the mock function?

[2022-02-08 19:02] josefaidt commented on #9612
Awesome, glad to hear it @pmulka 🙌

Closing issue 🙂

[2022-02-08 19:02] #9612 closed

[2022-02-08 19:17] jhockett commented on #9260
@danielhstahl the CDK doesn't allow `Ref` objects in some cases even though they would produce valid CloudFormation.

You can use the types I mentioned [above](https://github.com/aws-amplify/amplify-cli/issues/9260#issuecomment-993112251) to workaround this instead of the stricter default `AmplifyApiRestResourceStackTemplate`.

Sorry for the rough edges you're running into. We can look into export

[2022-02-08 20:12] ammarkarachi commented on #9721
@charlesdarkwind Thanks for the issue, does a file called `.graphqlconfig.yml` get generated and can you share its contents?

I am unable to reproduce with 7.6.15

[2022-02-08 20:18] charlesdarkwind commented on #9721
@ammarkarachi sure, here is the file

[code]

[2022-02-08 20:23] spharsh opened #9723 "Getting: Missing AmplifyAppId in amplify-meta.json error when trying to "amplify console api""
I created a new react-app
Modified its schema (its a simple blog app)
did amplify add api followed by amplify push

Now when I am trying to open this api using amplify console api, I am getting this error " Missing AmplifyAppId in amplify-meta.json".

Also, in my account I had created another api(s) and dynamodb table(s) in past, but there is literally nothing in my account! Why did this happened

[2022-02-08 20:38] josefaidt commented on #9723
Hey @spharsh :wave: can you share the steps you took to set up the Amplify project?

[2022-02-08 20:41] ammarkarachi commented on #9721
@charlesdarkwind Thanks for the prompt reply. The issue stems from the absence of this flag. If you add this to your `amplify/cli.json`

[code]

Should unblock you in the mean time we work on fixing this bug.

[2022-02-08 20:43] ammarkarachi commented on #9723
@spharsh Can you check if you have >= 25 app created on the Amplify Console in your AWS account?

[2022-02-08 20:45] spharsh commented on #9723
Hi,
so I started with npx create-react-app app-name
amplify init
amplify add api (changed my graphql schema and it compiled successfully)
amplify push

Now when I am doing this amplify console api, I am getting this error.

[2022-02-08 21:14] spharsh commented on #9723
@ammarkarachi so this is weird too. I am pretty sure I had, if not 25, atleast 20 apps (I am in learning phase) but now there is not a single app!!!
Where did they go?
![image](https://user-images.githubusercontent.com/18090572/153076771-8e468363-d919-45fd-bd01-c0c476a68f70.png)

[2022-02-08 21:16] spharsh commented on #9723
@ammarkarachi okay my bad, I was in a different region and yes there are exactly 25 apps. Should I just delete useless ones?

[2022-02-08 21:19] ammarkarachi commented on #9723
Yes, there is an app limit on Amplify Console and it's always good practice to clean up test app so as not to incur any charges.

[2022-02-08 21:20] spharsh commented on #9723
Okay, I am doing this now, and hopefully, after this, I won't be getting that error.

Thank you so much!

[2022-02-08 21:20] sundersc commented on #9714
@alexboulay - That's my understanding too. Still I don't see a valid reason why AppSync would reject a valid OIDC token. I'm checking with AppSync engineers, I will post an update.

[2022-02-08 21:28] PeteDuncanson commented on #9536
Hi @marcvberg

Thanks for getting back. I sort of tried that and had no luck. Happy to have another go but every time I run the back fill it reports it done everything but no index appears. Double checked I'm pointing at the right instance for my environment so at a bit of a loss as to what it might be. Might be worth a quick zoom to just sanity check that what I'm seeing/doing is right. I believe

[2022-02-08 21:30] marcvberg commented on #9536
Yeah I'll just reach out and we can set something up, don't delete the instance manually because that will create state drift which we'll need to correct separately from all of this weird behavior

[2022-02-08 21:38] charlesdarkwind commented on #9721
@ammarkarachi Thanks, I confirm that this flag fixes the problem.

[2022-02-08 21:40] joekiller commented on #6898
Hello I support the RFC as it would be useful to codegen queries into multiple functions of various languages. IE we have a lot of nodejs but need to support python as well. Codegen queries and models into both of those directories would be very useful. Also codegen into a lambda layer etc.

[2022-02-08 21:45] alexboulay commented on #9714
@sundersc To clarify, AppSync doesn't reject the token, it accepts it but since my @auth rules are configured to reject OIDC auth provider, I get a permission denied ( which is 100% expected ).

[2022-02-08 23:11] nealdeters opened #9724 "Error: Did not find a Lambda matching ARN in the project. Local mocking only supports Lambdas that are configured in the project."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-09 00:06] gakinson opened #9725 "Deployments Failing to Build: Skipping override due to SyntaxError"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-09 01:02] ammarkarachi commented on #9725
@gakinson Were you able to root cause what is throwing the syntax error?

[2022-02-09 01:02] gakinson commented on #9725
Unfortunately not since I cannot reproduce it locally.

[2022-02-09 01:06] gakinson commented on #9725
I added more of the logs. But it looks like it is the s3 storage that is failing

[2022-02-09 01:38] ammarkarachi commented on #9725
Can you share your override.ts code? Just a hunch but I suspect it could be the installed dependencies.

[2022-02-09 01:40] ammarkarachi commented on #9724
@nealdeters thanks for the issue it looks like this intended behavior for now, I will mark this as a feature request to be prioritized as a work item.

[2022-02-09 01:43] ammarkarachi commented on #9723
I will close this issue for now let me know if you need any additional help

[2022-02-09 01:43] #9723 closed

[2022-02-09 01:44] gakinson commented on #9725
So for that resource, there was no override.ts file.

I just ran amplify override storage and selected the storage resource. Failure still keeps happening.

But here is the override.ts file generated:
[code]

[2022-02-09 01:56] gakinson commented on #9725
Okay, I was able to reproduce it locally.

My node version locally was v14.18.3 and the amplify console is using v14.18.1.

I downgraded my node version locally to v14.18.1 and I am now getting the same error.

Once I upgrade it to v14.18.3, there is no error.

Is there a way to set the node version for builds in the amplify console?

[2022-02-09 03:02] rokoucha opened #9726 "Support Yarn 2+ in lambda build with Amplify CLI"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Amplify CLI currently does not support Yarn 2+ in lambda build (background is written in https://github.com/aws-amplify/amplify-cli/issues/7883#issuecomment-926285205) but an issue that adds support Yarn 2/3 is

[2022-02-09 03:39] lehoai commented on #9712
@ammarkarachi

So that means there are no ways to do it automatically(auto-deployment by merge code) right?
We have to use amplify CLI to push the update?

[2022-02-09 07:06] aqarcoSys commented on #9063
I need to change elasticsearch instances based on env, I cannot detect which env name ,I get always `Access denied to require 'os'` and somehow the prev workaround does not work anymore ?

[2022-02-09 07:43] aqarcoSys commented on #9725
I got the same error @gakinson , I have changed the node version
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/96650423/153144396-e353519f-84c6-429b-9d58-73b77824d400.png">

[2022-02-09 07:56] aqarcoSys commented on #9725
same thing even I got this error `Error: Skipping override due to SyntaxError: Unexpected token (2:13)`

[2022-02-09 08:49] aqarcoSys commented on #9725
Any workaround ?

[2022-02-09 08:58] a-y-klimovich commented on #9720
@ammarkarachi

Yes, I installed **pipenv** but id didn't help. The same error.

[2022-02-09 09:52] hkford commented on #9342
I found the generated gitignore worked well (Git ignored node_modules of custom resources). Close this issue.

![スクリーンショット 2022-02-09 18 48 18](https://user-images.githubusercontent.com/82389275/153171418-e8964388-840e-42d7-85c3-5fb516057ee2.png)

[2022-02-09 09:52] #9342 closed

[2022-02-09 09:59] Leandros commented on #9508
Same issue here. Our entire auth stack is gone.

[2022-02-09 10:23] olivierpichon commented on #407
+1 Having amplify not supporting STS and short leave tokens is problematic from a compliance stand point.

[2022-02-09 10:34] sarv-fuse opened #9727 "Unsupported operation 'BatchPutItem'. Datasource Versioning only supports the following operations (TransactGetItems,PutItem,BatchGetItem,Scan,Query,GetItem,DeleteItem,UpdateItem,Sync)"
@nubpro Incidentally, I've recently added DataStore to an existing graphql that had a batch resolver to batch insert items into a Dynamo DB table. The resolver now doesn't work. Are you sure that DataStore supports BatchPutItem?

The error I get from the resolver is:

The resolver code is:
[code]

The only changes I've made in an attempt to resolve the error is to add the _version and _lastChanged

[2022-02-09 10:40] benjamindoe opened #9728 "Unable to set ElasticSearchInstanceType in team-provider-info.json"
**Which Category is your question related to?**
GraphQL

**Amplify CLI Version**
7.6.15

I've tried to follow the guide on the amplify [documentation on how to set the instance type](https://docs.amplify.aws/cli/graphql/search-and-result-aggregations/#set-up-opensearch-for-production-environments). I'm running into the following error:
[code]
My project has been upgraded to the v2 transformer from

[2022-02-09 10:44] GerDner commented on #9725
Error is appearing locally after upgrade of the cli from  7.6.9 → 7.6.15

[2022-02-09 10:48] sarv-fuse commented on #9727
i have @model named MyTable
type mutation batchAddMyTable(myTable:[input]):[MyTable]
updated CustomResources.json file with DataSourceName: MyTableTable, FieldName:batchAddMyTable and soon
i followed [this](https://medium.com/@jan.hesters/creating-graphql-batch-operations-for-aws-amplify-with-appsync-and-cognito-ecee6938e8ee) blog post

[2022-02-09 10:49] aqarcoSys commented on #9725
I suspect to ` "@aws-amplify/cli-extensibility-helper": "^2.3.9"` ,it  was  ` "@aws-amplify/cli-extensibility-helper": "^2.0.0"` after upgrading to 7.6.15

[2022-02-09 10:56] GerDner commented on #9725
ok got mine fixed. i used the amplify-meta.json in one of my override.ts files to pull in the env name.
the file is no more und the require was failing.
I removed the workaround and pull/push works again.

[2022-02-09 10:58] aqarcoSys commented on #9725
@GerDner  I'm doing this also but I don't remove, because I need the env name ?, do you have another method to get the env name inside override.ts

[2022-02-09 10:59] GerDner commented on #9725
i'm looking into .config/local-env-info.json right now. seems like the is some env info. maybe we can use that?

[2022-02-09 11:02] aqarcoSys commented on #9725
We are waiting there's a pending pull request that adds the possibility, but I don't have .config? is that coming from #current

[2022-02-09 11:03] GerDner commented on #9725
.config is in my amplify root folder, cli.json is also in this folder. Folder is missing in vscode because it is hidden.
What pull request exactly?

[2022-02-09 11:19] voyagebagage commented on #9525
I'm trying to get [this](https://github.com/aws-amplify/amplify-cli/issues/2753#issuecomment-599156217) to work might be a solution

[2022-02-09 13:12] sacrampton commented on #9696
Hi @cjihrig - still getting this error message in the CloudWatch logs - any ideas?

{
    "Message": "You have exceeded the number of permissible concurrent requests with unique IAM Identities. Please retry."
}

[2022-02-09 14:28] nealdeters commented on #9724
@ammarkarachi how is this intended behavior if the documentation states that you can deploy without the Amplify CLI?

[2022-02-09 15:11] jeremy-white commented on #9525
@voyagebagage I believe I may have been in a similar situation as you and I was able to work through it. The following worked for me:

1) Revert to the amplify-cli version that was being used before trying to update (in my case 7.6.8)
2) Edit the cli-inputs.json to remove the problem requiredAttributes (the ones not in the cloudformation template)
3) amplify push
4) Update amplify-cli (in my case

[2022-02-09 15:17] DuncanHouston commented on #9525
@voyagebagage then perhaps you should try adding email to your-project/#current-cloud-backend/auth/your-project/build/your-project-cloudformation-template.json, since removing it from your-project/#current-cloud-backend/auth/your-project/cli-inputs.json didn't work. The 2 files need to match each other.

So you will be adding:
{
"Mutable": true,
"Name": "email",
"Required": true
}
to your-project/

[2022-02-09 15:19] PeteDuncanson commented on #9536
hi @marcvberg thanks for the time to do a screen share and see what the issue was.

For those following behind this was the issue, hope it helps you.

Our setup was:

* We had versioning enabled as we had been using DataStore in the past, this meant that every model has to have a _version field on it
* Its an old project (18+ months) and we were initially on ElasticSearch, in the meantime AWS has

[2022-02-09 15:58] eettaa commented on #9404
Ping here, any chance this could be confirmed?

[2022-02-09 16:20] HKJChen opened #9729 "API CustomResources.json 500 resources per template limit - question about splitting it up using nested stacks"
**Which Category is your question related to?**
API

**Amplify CLI Version**
7.6.7

**What AWS Services are you utilizing?**
AppSync/GraphQL

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
We have a big GraphQL schema and most of our resolvers are custom/defined in the api/api name/stacks/CustomResource.json template.  We have run up against the 500 reso

[2022-02-09 16:20] voyagebagage commented on #9525
this I tried before and still :
UPDATE_FAILED      UserPool AWS::Cognito::UserPool Wed Feb 09 2022 14:21:00 GMT+0100 (heure normale d’Europe centrale) Invalid AttributeDataType input, consider using the provided AttributeDataType enum. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: InvalidParameterException; Request ID: 29185cd8-8b7c-445e-9b7f-1e01ea55c45f; Proxy: null)

[2022-02-09 16:35] voyagebagage commented on #9525
well I got this when I pushed --force might be a problem of iCloud directory
![Capture d’écran 2022-02-09 à 17 32 07](https://user-images.githubusercontent.com/81431557/153245968-1c74c0f6-515b-4795-8d7c-59e48581fa6c.png)

[2022-02-09 17:50] d-cifuentes commented on #9525
So it looks like I'm having this issue again. Two weeks ago I solved this same problem by following @jladdison's solution. Today I came back to publish some changes, before that I was requested to update the cli version to the 7.6.15 version.

When I try to do amplify push I get the following error:

`Cognito configuration in the cloud has drifted from local configuration. Present changes cannot b

[2022-02-09 18:29] johnpc commented on #9525
@d-cifuentes does it still happen if you remove your amplify dir and re-pull?

[2022-02-09 18:41] d-cifuentes commented on #9525
Yes, I have just tried that and is really weird. I did remove the whole amplify folder and pulled again, then I added a new environment variable for one of my functions and pushed again to try.

This is the status of all of my resources in this amplify project:

![Screen Shot 2022-02-09 at 12 36 58](https://user-images.githubusercontent.com/94077174/153267941-60bd79b3-131a-4f2b-b97e-52fc56a6a078.p

[2022-02-09 18:52] d-cifuentes commented on #9525
Ok, so I found the solution for this error. While reviewing the error logs I found out this message:

`An error occurred during the push operation: Resource is not in the state stackUpdateComplete`

Googling it I found this [StackOverflow question](https://stackoverflow.com/questions/58168051/aws-amplify-resource-is-not-in-the-state-stackupdatecomplete) from two years ago, the answer states that w

[2022-02-09 19:54] flozender commented on #9558
May I please work on this? Thanks!

[2022-02-09 20:47] nilyin opened #12800 "How to fix AppSync corrupted query schema for Amplify app' backend"
**Please describe which feature you have a question about?**
My App was deployed using Amplify Web GUI and link to git repo. After a while I have changed the code-base and merged it into the linked git repository branch. The app was automatically redeployed. My app web frontend client started giving errors. I've researched it and found that AWS corresponding resource in AppSync (actually my GraphQ

[2022-02-09 21:17] coe720 commented on #9721
I tried to add this flag but it didn't fix the issue for me

[2022-02-09 22:07] david-mcafee commented on #3643
As a follow-up on this, to generate the aws-exports.js file in an existing project (or checkout a backend environment that exists in the console but does not show up locally), follow these steps:

1. Go to the AWS console
2. Choose `AWS Amplify`
3. Find the app
4. Go to `Backend environments`
5. Find the backend environment
6. Click `Edit backend`
7. Run the command that is listed there, something

[2022-02-09 22:18] david-mcafee commented on #37
Since there is still some confusion regarding pulling an existing project on a new machine, here is how:

To generate the `aws-exports.js` file in an existing project (or checkout a backend environment that exists in the console but does not show up locally), follow these steps:

1. Go to the AWS console
2. Choose `AWS Amplify`
3. Find the app
4. Go to `Backend environments`
5. Find the backend en

[2022-02-09 22:26] #9711 closed

[2022-02-09 22:30] 0afcode opened #9732 "unable to query many to many relation. error unauthorized"
**Which Category is your question related to?**
Amplify CLI / schema / graphql

**Amplify CLI Version**
7.6.15

**What AWS Services are you utilizing?**
amplify, dynamodb, appsync

I am trying to implement a many to many relationship based on the example from the AWS DataStore docs. My schema.graphql looks like this:

[code]

I see on appsync that queries have been generated for the joint model In

[2022-02-09 23:16] luis-ochoa opened #9733 "Unable to specify authRole/unauthRole names on amplify init"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

IAM

### Describe the feature you'd like to request

My org has restrictions on the roles that can be created with the assumed role I've been granted.

1- The roles created need to have a boundary policy (check... we have amplify init --permissions-boundary)
2- -The ro

[2022-02-10 00:10] flozender commented on #8356
Hi, can I work on this? Thanks!

[2022-02-10 00:51] sundersc commented on #9732
@0afcode - How are you testing the query? Also, what is the auth mode being used to call the api?

[2022-02-10 00:53] cjihrig commented on #9696
@sacrampton I have never seen that error before, and Google isn't turning up anything useful. I think we'll have to inquire internally.

[2022-02-10 01:45] ammarkarachi commented on #9725
I suspect it's a difference in node version on your local and the package-lock.json it generates can you try keeping the same node version and running npm i and then checking in the change?

[2022-02-10 02:07] 0afcode commented on #9732
I am testing in Appsync in AWS Console. Logged in with cognito user pools.

[2022-02-10 02:26] jhockett commented on #9063
As a temporary workaround, you can use a CloudFormation intrinsic function or reference in many cases. The type system might complain, so you may need to use a less strict type instead of the provided type.

For example, let's say I want to include the environment for my rest API in the description:
[code]

[2022-02-10 03:24] #9558 closed

[2022-02-10 03:32] sacrampton commented on #9696
Thanks for taking a look at this @cjihrig - I couldn't find anything useful either.

[2022-02-10 04:57] daniellorenzin opened #9735 "Upgrading Transformer v2 fails to deploy from CICD"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-10 04:59] daniellorenzin commented on #9735
But a push from my local machine via `amplify push` had no problems deploying and building.

[2022-02-10 05:18] chris-mds commented on #9063
Hi @jhockett,

Do you have an example, how to get your approach working on the s3 override inside a more nested property? I have posted my code a bit above.

[2022-02-10 05:54] jk171505 commented on #9701
Any update on this?

[2022-02-10 07:06] linuslagerhjelm commented on #4113
We also ran into this problem with a project that was ~1GB in total. After a lot of fiddling back and forth we got it to work, here's what we did:
  - Deleted all the `node_modules` - did not solve the issue (foder size ~70MB)
  - Removing functions one by one using `amplify remove function` until there were only two left - did not solve the issue (folder size ~25MB)
  - Removed the same functions

[2022-02-10 09:16] Leandros commented on #5774
Any progress on this?

[2022-02-10 09:43] kylekirkby commented on #5774
@Leandros there is this https://docs.amplify.aws/cli/project/command-hooks/#adding-a-command-hook

[2022-02-10 09:44] voyagebagage commented on #9525
@d-cifuentes thanks for your solution, I try removing the the amplify dir and update auth like you suggested but still doesn't work for me

[2022-02-10 10:59] funami commented on #3780
+1

[2022-02-10 12:14] IvanCaceres commented on #9063
It seems the workaround to require the amplify-meta.json has stopped working. I was using that to get the environmental info: ARNs, function names etc for use when setting the user pool triggers (in the override method it's the resources.userPool.lambdaConfig property).

This workaround in the auth override.ts file which was previously working correctly is now throwing a syntax error on amplify pu

[2022-02-10 13:00] gakinson commented on #9725
Similar to others here, I was also referencing the env name using the workaround mentioned.  Once I removed that reference, the deploys succeeded . We will still need to reference the env name in the future, but are just updating the resources manually that the override.ts file was editing.

The override I mentioned earlier on the storage was working fine in the end. It was an override.ts on the a

[2022-02-10 13:20] bcs-gbl commented on #9728
Im confused about team-provider-info.json and override.ts :

**override.ts:** [doc](https://docs.amplify.aws/cli/graphql/override/#customize-amplify-generated-resources-for-searchable-opensearch-directive)

I can override this values in this config file:
- instanceCount: 1
- instanceType: 'm6g.large.elasticsearch'
- and elasticsearchVersion = 'OpenSearch_1.1'
but, i cannot customize this values by

[2022-02-10 14:06] benjamindoe commented on #9728
@ammarkarachi Thanks for updating the docs.

I've tried using `OpenSearchInstanceType` in the `team-provider-info.json` but I'm still running into the same error:
[code]

[2022-02-10 14:30] bcs-gbl commented on #9728
@benjamindoe same here.

[2022-02-10 16:04] nickwilldoit commented on #9725
I'm not proud of it, but I found a new hacky workaround that seems to have unblocked me (at least during development when pushing from my local machine), **though I haven't yet tested in CI / CD.**

Basically, create a pre-push amplify hook that copies the contents of amplify-meta.json into a const in override.ts. This makes the previous workaround work again.

Of course, this is at least twice as

[2022-02-10 16:29] sarv-fuse commented on #7504
Is this still pending? can we perform batchputItem?[9727](https://github.com/aws-amplify/amplify-cli/issues/9727#issue-1128352892) is what I am currently facing

[2022-02-10 16:34] jon144 opened #9737 "he input value type 'ModelStringListFilterInput' is not present when resolving type 'ModelXXXFilterInput'"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-10 17:28] HieronymusLex opened #9738 "Amplify Push Overwrites user-pool-group-precedence.json"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-10 19:03] sundersc commented on #9732
I'm unable to reproduce this issue. Does the login user belong to `adminGroup`? If you are using dynamic groups authentication, can you check whether the user is mapped to one of the groups mentioned in readGroups or editGroups.

This is not required in GQL v2. Transformer will take care of generating this relation model.

[2022-02-10 19:36] josefaidt commented on #9701
Hey @jk171505 :wave: can you confirm whether the custom message Lambda is attached to your Cognito resource? Based on the description of the issue and the attached screenshots, it appears this may be the case.

[2022-02-10 19:42] jk171505 commented on #9701
Hi @josefaidt , yes, it is: https://d.pr/i/UST6KJ/a3CwFsvomc

[2022-02-10 19:46] josefaidt commented on #9720
Hey @a-y-klimovich can you confirm whether `pipenv` is in your PATH? If you run `which.exe pipenv` does it return the path where pipenv was installed to?

[2022-02-10 20:04] ammarkarachi commented on #9735
your cli.json looks good can you share any logs from the CI/CD workflow?

[2022-02-10 20:07] aqarcoSys commented on #9725
@nickwilldoit  can you give an example ,I'm stuck in changing es instances for each enc  and I don't want to use gitattributes between branches

[2022-02-10 20:24] nickwilldoit commented on #9725
Here is the very rough code for the "hookHandler" function in my pre-push.js (as documented here: https://docs.amplify.aws/cli/project/command-hooks/):

`
 const fs = require("fs");
 var path = require('path');
 const amplifyMeta = require("../backend/amplify-meta.json");

const hookHandler = async (data, error) => {
  try {
    var filePath = path.join(__dirname, '..', 'backend', 'auth', 'Novella

[2022-02-10 20:25] SebasRod23 commented on #8304
Hello, may I work on this?

[2022-02-10 21:08] gjtorikian opened #9739 "An error occurred during the push operation: Cannot read properties of undefined (reading 'length')"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-10 21:10] josefaidt commented on #9701
Hey @jk171505 it appears this is reproducible when the environment variables are missing or empty. Were any changes made manually in the console or are you able to confirm whether the two email-related environment variables are populated?

- If the env var is _missing_ we see `emailSubject: undefined` in the cloudwatch logs and receive the default verification message subject
- if the env var is _

[2022-02-10 21:25] ThomasRooney commented on #9666
Might be related: composite keys `key1#key2` also cause models with field-level auth to fail interactions. Facing this after a migration from V1 to V2

E.g.

[code]

Configures the composite field in Mutation.createStrippedExample.preAuth.2.req.vtl

[code]

But doesn't include it in the allowedFields In `Mutation.createStrippedExample.auth.1.req.vtl`

[code]

Which then causes the graphql interact

[2022-02-10 21:40] jk171505 commented on #9701
I don't remember to be honest, but it's possible that there where manual changes in that tab, although I doubt it.
Yes, both variables are populated: https://d.pr/i/EScRd2/4Q3Jvy2HYb
These variables are also set in `team-provider-info.json`
[code]

[2022-02-10 21:59] shlfung opened #9740 "amplify configure missing ca-central-1"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-10 22:20] ammarkarachi commented on #9701
The cloudwatch logs should give you the version of the Lambda and the time of invocation? Are the lambda versions any different?

[2022-02-10 22:39] ammarkarachi commented on #9740
Hi, it looks like I see the options on running `amplify configure`

![image](https://user-images.githubusercontent.com/56042290/153508591-8bff4420-b4a3-4bf7-82bc-2bf2dbe0797f.png)

[2022-02-10 22:42] cjihrig commented on #9740
If you're running version 1.8.5 of the CLI, that could be why. Can you try upgrading to a newer version. Today, the latest version is 7.6.19, which is significantly different from 1.8.5.

[2022-02-10 22:45] jk171505 commented on #9701
@ammarkarachi I don't get what do you mean by versions...

[2022-02-10 22:48] jk171505 commented on #9701
This is the only one version I see:
[code]

[2022-02-10 22:52] gjtorikian commented on #9739
[code]

Same error.

[2022-02-10 23:16] Dayton-IX commented on #9665
The error is occurring before the push operation begins. It doesn't look like there are any errors in CloudFormation, in fact it indicates that everything was completed successfully on the last push we were able to make.

[2022-02-11 00:25] Lasim opened #9744 "Delete unused GraphQl model"
**Which Category is your question related to?**
- api-graphql
- Build settings

**Amplify CLI Version**
7.6.19

**What AWS Services are you utilizing?**
AppSync / DynamoDB

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
I would like to delete an unused GraphQL model.
Locally it works fine with `amplify push --allow-destructive-graphql-schema-updates`

My

[2022-02-11 01:39] nallibtermatrac commented on #9151
Getting the same error.
I pulled from cloud... added a new function.... impossible to push now.
Please, 1 week trying to launch my first project !

[2022-02-11 04:25] himesh-sv commented on #9063
Hello everyone,
I also needed some environment information in my auth override.

First I tried @ahiratan and @cespin 's workaround. which was to get `amplify-meta.json` and retrieve properties via some string operations. Which worked locally but when it goes through CI/CD Code pipeline it cause the error mentioned by @aqarcoSys  which was saying `Error: Skipping override due to SyntaxError: Unexpe

[2022-02-11 10:26] maxludovicohofer opened #9745 "Geo: Route calculators"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

Amplify Geo, Amazon Location Service

### Describe the feature you'd like to request

For my use case (automatically scheduling meetings in a calendar), it would be useful to have the route calculators feature provided by AWS Location Service, in order to arrange meeti

[2022-02-11 11:32] nikname opened #9746 "Stack update failed after adding IAM as additional authorization type"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-11 15:09] josefaidt commented on #9746
Hey @nikname :wave: I was able to reproduce this when importing auth and selecting the user pool only. Can you try reimporting and selecting "Cognito User Pool and Identity Pool" to mitigate this issue? https://docs.amplify.aws/cli/auth/import/#import-an-existing-identity-pool

[2022-02-11 15:30] josefaidt commented on #9744
Hey @Lasim :wave: I've marked this as a duplicate of https://github.com/aws-amplify/amplify-cli/issues/9712. It is not recommended to use the CI/CD pipeline to perform this deletion. From the issue:

[2022-02-11 15:56] CodySwannGT commented on #4367
Yep. Definitely need this.

[2022-02-11 16:51] nickwilldoit commented on #9725
@aqarcoSys,

@himesh-sv has a cleaner implementation of the same approach here:

https://github.com/aws-amplify/amplify-cli/issues/9063#issuecomment-1035874372

[2022-02-11 16:55] nikname commented on #9746
I confirm by selecting "Cognito User Pool and Identity Pool" it works!

[2022-02-11 16:56] garciajg commented on #9696
Any news on this? I recently tried migration to new resolvers `amplify migrate api` and I'm getting this error. Have we hit Amplify's limits

[2022-02-11 17:09] garciajg commented on #9123
@sacrampton  You'd want to add the `-g` flag right? So do `npm i -g @aws-amplify/cli@6.3.1`

[2022-02-11 17:30] #9746 closed

[2022-02-11 17:31] #9744 closed

[2022-02-11 17:31] dorontal opened #9747 "Cannot authenticate -- fails to federate token -- after adding attributes for access control"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-11 17:43] dorontal commented on #1847
Because the workaround originally proposed by Jesse Davda, that I outline above in steps 1-4, no longer works, I opened [this new issue to hopefully cause it to work](https://github.com/aws-amplify/amplify-cli/issues/9747)

[2022-02-11 17:59] #9740 closed

[2022-02-11 18:06] endoodev1 commented on #9737
I think I'm having  the same issue with an enum type. Can you check if this is the same problem or if I have to open another issue?
`# This "input" configures a global authorization rule to enable public access to
# all models in this schema. Learn more about authorization rules here: https://docs.amplify.aws/cli/graphql/authorization-rules
type Location @model
{
  id: ID!
  name: String! @index(n

[2022-02-11 18:11] endoodev1 commented on #9737
I think I'm having  the same issue with an enum type. Can you check if this is the same problem or if I have to open another issue?
[code]

Error is: _**The input value type 'ModelLocationRoleListFilterInput' is not present when resolving type 'ModelLocationUserFilterInput'**_

[2022-02-11 18:20] cjihrig commented on #9696
My understanding is that you're encountering a service limit that can be raised by opening a support ticket.

I believe the error is encountered on a per-node basis of your OpenSearch cluster, so increasing the cluster size (note - this will incur additional cost) or otherwise modifying the cluster sharding may help mitigate this.

[2022-02-11 18:27] cjihrig commented on #9737
@endoodev1 I believe you are encountering the same issue.

[2022-02-11 18:47] josefaidt commented on #8618
Closing due to inactivity

[2022-02-11 18:47] #8618 closed

[2022-02-11 18:48] josefaidt commented on #9657
Closing due to inactivity

[2022-02-11 18:48] #9657 closed

[2022-02-11 18:51] #9683 closed

[2022-02-11 18:52] josefaidt commented on #9712
We have to use amplify CLI to push the update?

Hey @lehoai :wave: yes it is recommended to use the CLI to push this update.

[2022-02-11 19:07] ammarkarachi commented on #7685
This should be fixed in the latest release sorry for the delay

[2022-02-11 19:07] #7685 closed

[2022-02-11 19:55] sachscode commented on #9665
Hi @Dayton-IX
1.  Could you please share the error messages seen on the screen for the `amplify push` process.
2. Could you please confirm the contents of the deployment bucket of your project?
    Amplify uses a file called [deployment-state.json](https://github.com/aws-amplify/amplify-cli/blob/master/packages/amplify-provider-awscloudformation/src/iterative-deployment/deployment-state-manager.ts

[2022-02-11 20:20] #9503 closed

[2022-02-11 20:20] #9571 closed

[2022-02-11 20:50] jhockett commented on #5087
@araker Multiple fields cannot be combined in the partition key. However, you can use multiple sort keys. To do so, add `@index` on the partition key and then use `sortKeyFields: []` for the sort key.

Example from [https://docs.amplify.aws/cli/graphql/data-modeling](https://docs.amplify.aws/cli/graphql/data-modeling/#configure-a-secondary-index)
[code]

[2022-02-11 23:30] ammarkarachi commented on #9739
@gjtorikian Can you send me your project to amplify-cli@amazon.com? I am unable to reproduce your error

[2022-02-12 10:27] Nxtra commented on #5691
This hook solutions sounds reasonable. Changing manually all the time would be a headache.
Which hooks are we talking about here? `post-push.js` and `post-pull.js` maybe?

[2022-02-13 01:41] cespin commented on #9063
Marvellous suggestion to use hooks @nickwilldoit / @himesh-sv .

I had to modify @himesh-sv 's solution a bit to make it work with my project. Here's a detailed step-by-step of what I did:

1.  Create the file _amplify/hooks/pre-push.js_ and include this:

[code]

Remember to change "YOUR_USERPOOL_RESOURCE_NAME" for the value that makes sense for your Amplify project. I did it like this and not li

[2022-02-13 01:49] jaga810 opened #9750 "Prevent `$ amplify push` without updating API, Auth, Storage category resources in v6 to v7 migration"
### Is this feature request related to a new or existing Amplify category?

auth

### Is this related to another service?

storage, api

### Describe the feature you'd like to request

Prevent `$ amplify push` without updating API, Auth, Storage category resources in v6 to v7 migration.

Your settings with parameters.json can be destroyed, if you `$ amplify push` without `$ amplify update ${catego

[2022-02-13 11:25] adi518 commented on #7388
Getting the same error after an `amplify auth update` followed by `amplify push`. I also didn't actually change anything in the auth config, it was merely an attempt to fix a build issue in the Amplify console.

[2022-02-13 13:08] kgoyal98 opened #9751 "Federated Facebook login does not call Post signup lambda trigger"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-13 13:08] kgoyal98 commented on #9751
Found a similar issue - https://github.com/aws-amplify/amplify-js/issues/5885 but no resolution on that ticket too.

[2022-02-13 13:55] tusil commented on #2679
+1

[2022-02-13 19:17] owenr88 commented on #9206
Hey!

I also have this issue running GraphQL requests on a generated API. Every request is returning the same:

[code]

I have tried:

1. Use only one Graphql Type with @model (just an ID field on it)
1. Removing all @auth rules from the type
1. Edited every .req and .res template to just be `$util.toJson({})`

The only thing that fixes it for me is deploying the app via Github to Amplify. The pro

[2022-02-14 02:37] enishenish commented on #9750
This notification feature is really important for older version users!
I experienced the loss of the production environment's auth trigger settings in this context.
This feature is very good to prevent such trouble.

[2022-02-14 02:46] challengy1 commented on #9201
I am interested in this feedback. To my knowledge, TypeScript is quite common in React developers.

[2022-02-14 02:51] sacrampton commented on #9696
Hi @cjihrig - thanks for pointing me in the right direction.

I logged an issue with AWS OpenSearch Support and got this response. I'm including it here in case others run into this problem.

"...The above error happens when an Amazon OpenSearch node receives signed requests for authentication. Every node which received signed requests will interact with our internal service to validate an IAM acc

[2022-02-14 05:23] sacrampton commented on #9728
Hi @ammarkarachi - this is a pretty big hole in the migration to V2 - any chance this can be expedited? Unless there is a workaround I'm missing?

[2022-02-14 05:52] clevelanda1 opened #9753 "After running the 'npm install -g @aws-amplify/cli' command, I get back a message stating the number of vulnerabilities instead of an execution. I have npm, git and node.js all updated and can not resolve this issue. Any suggestions?"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-14 11:56] a-y-klimovich commented on #9720
@josefaidt

Pipenv was in my PATH.

`C:\Users\alexander.klimovich>where.exe pipenv
C:\Users\alexander.klimovich\AppData\Roaming\Python\Python38\Scripts\pipenv.exe

C:\Users\alexander.klimovich>pipenv --version
pipenv, version 2022.1.8`

It was installed as recommended
`pip install --user pipenv`

[2022-02-14 12:05] Revanth97 opened #9754 "Modify default authorization from IAM to Cognito User Pool authorizer when creating API from Amplify CLI."
**Which Category is your question related to?**
API

**Amplify CLI Version**
[code]

**What AWS Services are you utilizing?**
AWS API Gateway

**Provide additional details**

`amplify add api` creates a new API with specified properties, but the **default authorization is set to IAM** which is fine. I have a cognito user pool in AWS and I want my API to be setup with this **cognito user pool autho

[2022-02-14 13:15] ThomasRooney opened #9755 "Field level auth is incompatible with composite keys key1#key2 in V2 transformer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-14 13:17] ThomasRooney commented on #9755
Potentially related: #9666

[2022-02-14 14:08] maxipaz commented on #8216
Same problem of @arbieo here too. It is very annoying to have this modified all the time.

[2022-02-14 15:02] biller-aivy commented on #9751
can you check under Cognito the Lambda triggers, if the PostSignup is still in the list?

[2022-02-14 15:06] biller-aivy commented on #9351
<img width="1081" alt="Bildschirmfoto 2022-02-14 um 16 04 48" src="https://user-images.githubusercontent.com/88539760/153889253-fa81e1a1-0523-42a4-9b31-fd34b5c9c59e.png">

`{
  "version": "1",
  "cognitoConfig": {
    "identityPoolName": "aivyusers_identitypool_f0efee42",
    "allowUnauthenticatedIdentities": true,
    "resourceNameTruncated": "aivyusf0efee42",
    "userPoolName": "aivyusers",

[2022-02-14 18:01] biller-aivy commented on #9751
Than it's a generell Problem with the News Version of the cli with this trigger. I have the Same problem.

[2022-02-14 19:32] josefaidt commented on #8668
related https://github.com/aws-amplify/amplify-cli/issues/659

[2022-02-14 20:01] yuth commented on #9753
@clevelanda1 these are coming from transitive dependencies of Amplify CLI. We are actively working on updating our dependencies when we see serious vulnerabilities in our direct dependencies. Also keep in mind, Amplify CLI is a build tool which is only during deployment. So most of these vulnerabilities might be false positives.

[2022-02-14 20:16] Dayton-IX commented on #9665
<img width="1404" alt="Screen Shot 2022-02-14 at 1 11 22 PM" src="https://user-images.githubusercontent.com/40467528/153939402-80919aca-a94c-41ea-95cc-6cf8d020a8dc.png">

I don't see a deployment-state.json in my amplify folder, where can I find it?

[2022-02-14 20:28] yuth commented on #9751
@kgoyal98 could you confirm that
1. Post confirmation lambda gets called for non FB sign ups
2. In Cognito Userpool console there is an `Post confirmation` trigger as you mentioned there is no trigger.

If there is no trigger then the post confirmation lambda should not be called for non-FB sign up too. I am asking these questions to narrow down if the issue is with the way trigger is setup or if

[2022-02-14 21:38] edwardfoyle opened #9756 "Headless auth password recovery configuration is mapped to attribute verification"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-14 21:51] swaminator commented on #9508
@Leandros @adi518 can you please provide repro steps?

[2022-02-14 22:15] adi518 commented on #9508
Build a preview environment with the latest major version of the cli and it should fail when using a social auth provider (e.g., Google). I finally managed to work around it today by tapping into the Amplify config before it starts creating the environment and removing any social providers, so it skips the problem altogether. I should say this pipeline used to work fine with a much older version o

[2022-02-14 22:17] cietho opened #9757 "How to configure my IDE to autocomplete and highlight AppSync directives, scalar types and more?"
**Which Category is your question related to?**
GraphQL, Developer Experience, Jetbrains, PhpStorm, WebStorm

**Amplify CLI Version**
7.6.19

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
Hey,

first of all: I love the CLI and the Developer Experience while working with Amplify. However, there is one issue that I haven't been able to solve very nicely a

[2022-02-14 22:29] warrenmcquinn commented on #8123
@Rafcin our medium instance just lost all data too, so it doesn't seem to be a cure-all.

[2022-02-14 22:40] Rafcin commented on #8123
@warrenmcquinn

That's a bummer, I'm so sorry :(

I'm experimenting with a solutions for this, it's driving me insane as well. I was thinking a lambda could be setup to check if the data is lost every X hours although that's expensive and stupid.

The OpenSearch issue seems to have stemmed from the last & forked version of ES AWS used. Before that it wasn't an issue. So the bug came from Elastic.

[2022-02-14 22:56] josefaidt commented on #8102
Hey @skryshi this has now been fixed with https://github.com/aws-amplify/amplify-cli/pull/9649, where newly created custom modules will have the following `custom.js` contents

[code]

Closing issue 🙂

[2022-02-14 22:56] #8102 closed

[2022-02-14 23:07] yuth commented on #9757
@cietho CLI does not provide automatic way to configure the project. I am marking this as a feature-request so the team can pick this up in future. 👍🏼  will help to get it prioritized.

[2022-02-14 23:16] bobfix commented on #8216
We are seeing the same behavior as well.  Another problem that this issue causes is that if your Cloud Formation stack has to be rolled back for any reason, it will fail due to this.

[2022-02-14 23:21] josefaidt commented on #8069
Hey @yhvh009 :wave: just wanted to follow-up on this one and see if you were still experiencing this issue with the latest version of the CLI?

[2022-02-14 23:40] sacrampton opened #9762 "Limit on the number of resources in a single stack operation exceeded (V2 Transformer Migration)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-15 01:55] rezab777 opened #9765 "Cannot pick custom Lambda authorizer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-15 02:14] EiffelFly commented on #7504
@sarv-fuse  I am the creator of Totuslink, Thanks for getting back, but I am afraid that I can't offer lots of details, the project had closed for a while.

# Some clues I can offer are:
- The Batch put item is not working across multiple tables but it can work on a single table.
- The document needs to be updated, there are lots of misleading information.

[2022-02-15 02:29] Straubulous opened #9766 "CLI Deployment error message with link to troubleshooting guide should be improved"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-15 02:41] daniellorenzin commented on #9762
We have just hit this too.

We moved from V1 to V2 and have a large GraphQL deployment at the moment. ( 45 models ). It almost gets to the end of the deployment and fails on a stack with: `Limit on the number of resources in a single stack operation exceeded`

We are using the CDK output functionality so I was able to get a count and it seems that the deployment is attempting to deploy 74 CloudFor

[2022-02-15 05:08] johnEthicalTechnology commented on #5820
I'm not sure. I'm not working on that project anymore. When I ran into this issue I found a workaround to get the functionality the project required so it wasn't a big issue.

Thanks for checking! I'm happy for you to close it.

[2022-02-15 05:09] #5820 closed

[2022-02-15 08:12] sarv-fuse commented on #7504
@EiffelFly Thank you for your reply, I am trying to do BatchputItem for single table and currently i  am facing

Will there be issue enabling versioning for API to do BatchPutItem?

[2022-02-15 08:45] biller-aivy commented on #9751
https://github.com/aws-amplify/amplify-cli/issues/9351 see my last comment. it is not only a Facebook login problem.

[2022-02-15 08:57] EiffelFly commented on #7504
@sarv-fuse

Maybe this SO article will help

https://stackoverflow.com/questions/61045181/aws-amplify-custom-resolver-unsupported-operation-batchputitem

[2022-02-15 10:52] SebSchwartz commented on #9762
We also have a large graphql schema (55 tables) :/

Didn't try it yet (will do it later this day) but I saw on the doc something that could help:
-> https://docs.amplify.aws/cli/graphql/override/#place-appsync-resolvers-in-custom-named-stacks

[2022-02-15 11:04] SebSchwartz commented on #9568
@undefobj It was working in the V1 :/
I was receiving all updates in real time and it a user was not in the same group, he didn't received it...

Here is our @auth that was making it work:
[code]

[2022-02-15 11:36] a-y-klimovich commented on #9720
@josefaidt , Please find attached
[mock.log](https://github.com/aws-amplify/amplify-cli/files/8068678/mock.log)

[2022-02-15 14:42] josefaidt commented on #8280
Closing as issue is resolved

[2022-02-15 14:42] #8280 closed

[2022-02-15 14:57] conorw commented on #9088
Looks like autoUlid is now available in .vtl templates:
https://docs.aws.amazon.com/appsync/latest/devguide/resolver-util-reference.html

[2022-02-15 16:33] josefaidt commented on #9720
Hey @a-y-klimovich :wave: thanks for including the log! Can you confirm `python`/`python3` is pointing to Python 3.8? I'm unable to reproduce this issue on mac and windows. Can you try force reinstalling? `pip3 install pipenv --force-reinstall`

[2022-02-15 17:25] josefaidt commented on #9727
Hey @sarv-fuse :wave: would you mind porting this report over to our [bug report template](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml)? This will help us gather additional context around the issue to better understand it and the potential root cause.

Closing issue

[2022-02-15 17:25] #9727 closed

[2022-02-15 17:37] hackmajoris opened #9767 "Restrict Authentication to @Auth { allow: owner } on a object created via PostConfirmation authorization trigger."
**Which Category is your question related to?**
API AppSync Authorization

**Amplify CLI Version**
latest

Description
I have a Lambda PostConfirmation trigger, triggered when a user does the sign-up. On that trigger, I save some user-related information to a Dynamo table via AppSync Client.
At the User Schema level, I want to restrict the allowed rule to the 'owner' type, to not allow any other a

[2022-02-15 18:22] jk171505 commented on #9701
@josefaidt the content of `team-provider-info.json` related to this function is shown in earlier post, here is the content of `function-parameters.json`:
[code]

[2022-02-15 18:28] hackmajoris commented on #9767
Solution:
In my case, I had to set to the owner, the Cognito ID, like: owner: attributes?.sub?.trim().
Previously,  the email was used.
[code]

[2022-02-15 18:28] #9767 closed

[2022-02-15 18:36] josefaidt commented on #9635
Closing per @sundersc comment for working with IAM in the console

[2022-02-15 18:47] josefaidt commented on #9701
Thanks for posting those parameters @jk171505 I thought maybe there would be a mismatch here but unfortunately I was not able to reproduce after forcing a mismatch of values. Are you currently experiencing this issue? Were you able to identify a git diff where these values may have been removed?

[2022-02-15 18:59] jk171505 commented on #9701
-- **yes**

-- **removed from where / which file?**

[2022-02-15 19:14] maupeon commented on #9593
I still can't push due to a problem with cognito, this is my cli-inputs.json:

[code]

[2022-02-15 19:25] jk171505 commented on #9701
These variables were in `team-provider.json` for dev environment from the moment this function was added. Strange thing is that they weren't populated for this function in other environments therefore I was not able to deploy these environments until I manually added them for this function in each environment.

[2022-02-15 20:00] BrettSGA opened #9770 "Query fields changing from non-nullable to nullable, fixed by running 'amplify codegen'"
**Which Category is your question related to?**
Amplify CLI

**Amplify CLI Version**
7.6.3

**What AWS Services are you utilizing?**
Amplify [API, Auth], DynamoDB, Cognito, S3

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
Somewhere along my workflow, my GraphQL queries are changing and I'm receiving this error:

**"Validation error of type VariableType

[2022-02-15 20:38] daniellorenzin commented on #9762
@sacrampton I was about to comment with the same feedback.

I had a feeling that there was a 2500 resource limit in a chain, but it is good to have it confirmed. Because I have a CDK export version ( which is just json template files), I'm going to try to split it up for a deployment.

But I agree, the changes in V2 would require Amplify to create seperate deployments for the model parts to remain

[2022-02-15 21:06] cjihrig commented on #4138
I am able to reproduce the issue with v2 of the GraphQL transformer with the `secondarykeyasgsi` feature flag set to `false` and the following schema:

[code]

[2022-02-15 21:12] ataibarkai commented on #9573
High @lazpavel, any updates?
Seems there is a PR out with a fix but it hasn't been merged yet.

I appreciate your effort on this, hoping to finally merge our v2 transformer migration.

[2022-02-15 21:42] yuth commented on #9770
@BrettSGA could you explain your workflow? Does this happen when when codegen is run during `amplify push`?

[2022-02-15 21:46] ilkerburakkurt opened #9772 "Export CDK doesn't work when stack contains imported auth"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-15 22:05] josefaidt commented on #9710
Hey @dayjournal :wave: thanks for raising this and apologies for the delay! To share some insight on your questions:

1. based on the question for 2, this appears to be working as expected.
2. What stage was used to deploy? It appears we may want the `PROD` stage, https://docs.amplify.aws/cli/hosting/hosting/#stages
3. did you push after `amplify remove hosting`?

[2022-02-15 22:06] josefaidt commented on #9772
Hey @ilkerburakkurt :wave: thanks for taking the time to file this! I've marked this as a bug to log a more helpful error message when attempting to export a stack with imported auth 🙂

[2022-02-15 22:14] lazpavel commented on #8351
Hi @phani-srikar,

I was able to reproduce the issue related to the `backend-config.json` not being updated which I fix as part of
[8566](https://github.com/aws-amplify/amplify-cli/issues/8566). But I am not able to reproduce `step 8` incorrect `amplify-meta.json` and step 9 incorrect `aws-exports.js`

closing this ticket, please reopen if you still have this issue with latest CLI

[2022-02-15 22:14] #8351 closed

[2022-02-15 22:25] cjihrig commented on #4425
I just tried to recreate this with version 2 of the GraphQL Transformer, and `attributeExists` filtering appears to be working there.

[2022-02-15 22:33] owenr88 commented on #9206
Got it! There's an unnecessary `\n` [here](https://github.com/aws-amplify/amplify-cli/blob/4cf6274d03a8f53e53c9a3119f08d390783c92fa/packages/amplify-graphql-transformer-core/src/transformer-context/resolver.ts#L269) that's causing the template render to fail.

Submitting a PR now.

[2022-02-15 22:37] josefaidt commented on #9701
Were these existing environments or new environments? Did you have to manually add them to team-provider-info?

[2022-02-15 22:37] Rafcin commented on #8123
@warrenmcquinn Maybe the solution to the problem at least until the issue is resolved would be to add a new lambda that gets created with the searchable-transformer stuff to handle automatic snapshots and restorations.

I think a viable although most likely inefficient temp solution would be to have a lambda that queries OS just to see if the instance has data or is up and if not restore a snapsho

[2022-02-15 22:38] #8069 closed

[2022-02-15 22:39] josefaidt commented on #8428
Closing due to inactivity. @chelto if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-15 22:39] #8428 closed

[2022-02-15 22:50] josefaidt commented on #9293
Hey @jnastaskin :wave: just wanted to follow-up on this one and see if you are able to identify any inconsistencies with the reproduction steps noted in the comment above versus the steps taken to reproduce this issue?

[2022-02-15 22:51] josefaidt commented on #9484
Closing due to inactivity. @MichaelPlan if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-15 22:52] josefaidt commented on #9625
Closing due to inactivity. @kouz75 if you are still experiencing this issue please reply back to this thread and we can re-open to investigate further 🙂

[2022-02-15 22:52] #9625 closed

[2022-02-15 22:55] jk171505 commented on #9701
@josefaidt these were new environments added via cli. There were added automatically to `team-provider-info` but as I mentioned above, env variables weren't populated in for this function in new environments.

[2022-02-15 23:18] SebSchwartz commented on #9762
I've tried the solution but I got this error: Only one resolver is allowed per field. (Service: AWSAppSync; Status Code: 400; Error Code: BadRequestException; Request ID: 9b7c445a-1b63-4c9d-9164-9c6e327e7141; Proxy: null)

I put something like this in transform.conf.json:
[code]

[2022-02-15 23:25] sacrampton commented on #9762
Hi @SebSchwartz - thanks for the input. I'm actually doing exactly that with the connectionStack.json (see table in the above comment (https://github.com/aws-amplify/amplify-cli/issues/9762#issuecomment-1040758507) - splitting the 1,281 resources in connectionStack.json into 4 files with transform.conf.json - and as can be seen, that is working fine. That however is not this issue.

The issue is t

[2022-02-16 00:51] lazpavel commented on #8286
Unable to reproduce with latest CLI. Please reopen if you still experience this issue after upgrading.

[2022-02-16 00:51] #8286 closed

[2022-02-16 01:39] CodySwannGT opened #9775 "'ElasticSearchInstanceType' must be one of AllowedValues"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-16 02:22] jnastaskin commented on #9293
Hi @josefaidt , thanks for following up.  The only thing I can think of that differs in your reproduction steps is that we fully provisioned/deployed/built the backend after creating the new env.  I'm not sure if that has any differences than simply doing an amplify push as you have stated.

Perhaps my issue was caused by some other team member doing an amplify push that erased the storage resourc

[2022-02-16 02:36] multimeric opened #9791 "Allow passing arguments to a lambda function via the `@function` directive"

[2022-02-16 03:19] CodySwannGT commented on #9775
Thanks for your quick attention on this. I should mention we are unable to deploy our production app until we get resolution on this!

[2022-02-16 06:29] jimxzai opened #9778 "unable to `amplify pull` project with auth, missing `auth/.../build/parameters.json`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-16 06:59] jimxzai opened #9780 "can't pull or switch environment"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-16 10:22] nikname commented on #9746
Hi @ammarkarachi, please note that my issue is resolved now but for me this remains a bug (missing parameter in the generated CloudFormation template)

[2022-02-16 11:16] diegogb-08 commented on #2791
Hi guys, I am running with the same issue here. Does anybody know how to get the previous token and get the total of pages when we add a limit of items? It seems I only can go to next page but without knowing where is the limit of pages :(

[2022-02-16 11:29] j-schuma commented on #1016
yea, I am wondering about the same thing as @iOrcohen. :/

[2022-02-16 12:37] ilkerburakkurt commented on #9772
Hi @josefaidt, If It could be able to export a reference to the resource as well, that would be fantastic.

[2022-02-16 13:22] nikname opened #9779 "Custom query/mutation with VTL resolver"
Is not clear to me what I have to do to create custom query/mutation and use VTL resolver. Consider the following schema

[code]

I want to add the following custom mutations (please note that this is a very simple example)

[code]

After manually add Mutation.promotePost.req.vtl and Mutation.promotePost.res.vtl inside resolvers directory (not build/resolvers directory) if I try to invoke the muta

[2022-02-16 15:39] #9656 closed

[2022-02-16 16:48] JuRoy opened #9781 "Allow group with custom authorizer"
### Is this feature request related to a new or existing Amplify category?

auth, api

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I would like to be able to use the autogenerated code like when I'm using the `provider: oidc` but using a custom authorizer with a Lambda function.

`@auth(rules: [{ allow: groups, groupsField: "customer", pr

[2022-02-16 16:57] maBarabas opened #12447 "JavaScript error when importing into python CDK stack"

[2022-02-16 16:58] cjihrig commented on #9346
It looks like this was fixed by https://github.com/aws-amplify/amplify-cli/pull/9347, so I'll close this out.

[2022-02-16 16:59] cjihrig commented on #9346
Oops. #9347 was closed without merging, so I'll reopen this.

[2022-02-16 17:05] kgoyal98 commented on #9751
@yuth
Yes, Post confirmation lambda gets called for non FB sign ups.
In Cognito Userpool console, "post confirmation" is there but "PostSignup" is not there.

[2022-02-16 18:30] cjihrig commented on #8774
Confirmed that the following works in AppSync:

[code]

After this executes, `$val` is 2.

[2022-02-16 18:35] lazpavel commented on #4936
Hi @pmadhav, @danielesalvatore, @matteocarpi

This issue seems to be fixed in the latest CLI. Tested in GraphQL Transformer V1 and GraphQL Transformer V2. Please reopen if you still have this issue after upgrading.

[2022-02-16 18:35] #4936 closed

[2022-02-16 19:14] josefaidt commented on #9780
Hey @jimxzai :wave: can you confirm whether you have the following file? If not, are you able to provide minimal reproduction steps to reproduce this behavior? Was this project created on another machine and then pulled to your machine?

[code]

[2022-02-16 19:34] Straubulous commented on #6592
It's working locally with mock but not working when deployed with Java.

[2022-02-16 19:41] cjihrig commented on #6231
This appears to be resolved with v2 of the GraphQL Transformer.

[2022-02-16 19:41] yuth commented on #9779
@nikname when you're creating a custom resolver, adding just the request and response template to resolver wont work. Each of the operations (`mutation` or `query`) need a data source which says where the is retrieved or stored. In the above example of `promotePost` the resolver templates wont be able to infer that `Post` is stored in DynamoDB  `PostTable`.

You can create a single stack that has

[2022-02-16 19:56] Straubulous commented on #9772
The fix here is to improve the error message from amplify export to message that export of imported auth is not supported.

[2022-02-16 20:41] flozender commented on #4138
Hi, can I pick this up?

[2022-02-16 20:59] cjihrig commented on #4138
@flozender sure thing.

[2022-02-16 21:52] josefaidt commented on #6432
Hey @PeteDuncanson :wave: this now appears to be fixed with the [latest version of the CLI](https://github.com/aws-amplify/amplify-cli/releases/tag/v7.6.20). Closing issue 🙂

[2022-02-16 21:52] #6432 closed

[2022-02-16 21:55] lazpavel commented on #6023
reproducible with GraphQL Transformer V2 as well, used below schema

[code]

[2022-02-16 21:57] johnpc opened #9784 "Add validation logic for init flags"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

init

### Describe the feature you'd like to request

if you make a typo in an `amplify init` flag, it takes until after cloudformation rolls back before you get any feedback on whether it did what you want or not.

### Describe the solution you'd like

validation log

[2022-02-16 22:13] iquirino commented on #9735
Same here, and i am not able to do an amplify push because it is managed by the frontend.
My env is not listed on "amplify env list"

[2022-02-16 22:25] AustinAmoruso opened #9785 "Failed to start API Mock endpoint TypeError: Cannot read property 'includes' of undefined on cli version 7.6.20"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-16 22:29] josefaidt commented on #7582
@Straubulous this is still affecting the `add-to-group` post-confirmation trigger, where we are missing `cognito-idp:CreateGroup` permissions

[code]

[2022-02-16 23:07] josefaidt commented on #9701
Ah thank you for clarifying @jk171505 I was able to reproduce this issue when creating a new environment. We see in our `team-provider-info.json` these values are not populated like they are for the env we initially used to add the trigger

[code]

And despite these values being available in `function-parameters.json`, the function does not have the env vars populated after pushing, which explains

[2022-02-17 00:23] dayjournal commented on #9710
Hi, @josefaidt
Thank you for your answer!

There is also a blog where I have tested it here.
Trying Out Various Settings for AWS Amplify Publishing
https://dev.to/aws-builders/trying-out-various-settings-for-aws-amplify-publishing-39i4

It seems that some regions may not be reflected until 24 hours as shown in this document. I was able to improve this manually, but is there any way to improve this

[2022-02-17 01:46] CodySwannGT commented on #9775
Anything on this? We're completely blocked on a production app.

[2022-02-17 03:30] ngnathan commented on #9770
Thought I'd also chime in, since I have a similar issue.

Context:
My main project (React + TypeScript + Amplify Backend definitions) runs fine and when running `amplify codegen` it generates queries with non-nullable fields.

But I have a second front-end (React + TypeScript).  On this project, when I run `amplify pull` and `amplify codegen` it generates queries with nullable fields, which causes

[2022-02-17 05:12] sacrampton opened #9787 "ElasticSearch Streaming Function gives ERROR on REMOVE"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-17 05:13] sacrampton commented on #9762
Hi @edwardfoyle - just wondering if you have any feedback on this one. Its going to prevent anyone with a significant database migrating to the V2 platform (of course in my opinion). I know we are stopped in our tracks. So any viable workaround also appreciated.

[2022-02-17 05:17] sundersc commented on #9775
@CodySwannGT - Can you please provide the below details?
- What is the GraphQL transformer version? (`amplify status` prints out this information)
- Which AWS region the app is deployed?

[2022-02-17 05:22] CodySwannGT commented on #9775
Thanks @sundersc

1. GraphQL transformer version: 1
2. us-east-1

[2022-02-17 06:42] sundersc commented on #9775
@CodySwannGT Below are the allowed values I see in the CFN template for v1 searchable. Could you try this in Dev or new test environment? I'm trying to understand how `t3.medium.search` was accepted in the previous push.

[code]

[2022-02-17 08:17] voyagebagage commented on #9648
@josefaidt I'm aware of that, it has been working for me before, but not that time because of the cognito issue, the push never come thru.
Sorry at first it was my guess, that the issue was only coming from that but since the cognito error is not fixed I will never know if that solution still work or not.
but thank you anyway

[2022-02-17 08:37] reptiliano37 commented on #9665
I have the same problem. Any solution? I don't found deplyment-state.json either ...

[2022-02-17 09:08] reptiliano37 commented on #9665
@Dayton-IX Hello! Finally, I found deployment-state.json in Amazon S3/Buckets , from aws console! Sorry, my aws console is in Spanish.

![imagen](https://user-images.githubusercontent.com/37412545/154442377-55fb7df4-f6f9-4090-abaa-ccfe5d51e7bc.png)

[2022-02-17 09:30] spc16670 opened #9788 "@auth with groupsField and groupClaim not working in V2 transformer"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-17 10:26] khacminh opened #9789 "Cannot pull backend environment from the cloud"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-17 10:31] alucio-echen commented on #9644
I am running into this exact same issue. Attempts to use the new project override also ended in failure since CDK constructs are not accessible in override.ts. It would be really nice to get clearer documentation on how to pass outputs / parameters around.

This is definitely not proper but I managed to get it to work by importing the #current-cloud-backend/amplify-meta.json file and getting the v

[2022-02-17 11:11] koren-tako-storrsoft commented on #32
You could perform the VpcConfig configuration by using CloudFormation external values and then:
"VpcConfig": {
          "SecurityGroupIds": [
            {
              "Fn::ImportValue": {
                "Fn::Sub": [
                  "${ENV}-VPCSecurityGroup",
                  {
                    "ENV": {
                      "Ref": "env"
                    }
                  }

[2022-02-17 12:26] a-y-klimovich commented on #9720
@josefaidt

`PS D:\Work\amplifytest> python3 --version
Python 3.8.10
PS D:\Work\amplifytest> python --version
Python 3.8.10`

Done. Check logs.
[reinstall_pipenv.log](https://github.com/aws-amplify/amplify-cli/files/8088561/reinstall_pipenv.log)

Now I'm unable to mock at all.
`PS D:\Work\amplifytest> amplify mock function test
? Provide the path to the event JSON object relative to D:\Work\amplif

[2022-02-17 13:08] PatrykMilewski opened #12450 "Bug: synthesizer fails due to automatically added system hidden files"
Hello,

After debugging my issue I've found, that function `validateFilesAndReturnPath()` from `export-backend-asset-handler` file fails due to this check:
[code]

I see 2 issues there:
1. Firstly, error doesn't have description. If you get it (like I did), then CDK synthesizer will just throw an error without any description, which is very user non friendly.
2. And the root cause - if there are a

[2022-02-17 13:12] PatrykMilewski opened #12445 "Feature: easier editing of Lambdas code"
Hello,

As a user, I would like to be able to edit my Lambda's code, that were previously exported using this tool.

However it's not easy, because the code is zipped and needs to be unzipped and zipped again each time, I need to edit the code.

[2022-02-17 13:14] nikname commented on #9779
Hi @yuth, thanks for the explanation. I have looked to the old documentation and to https://github.com/aws-amplify/amplify-cli/issues/3321 and now everything is more clear.

Let me pose some other questions. You said to create a single stack with all the custom query/mutation like in stacks/CustomResources.json or in a new different template? If I create a new template inside stacks folder it will

[2022-02-17 14:41] CodySwannGT commented on #9775
@CodySwannGT - yes. Those values all work in the other environments where we have never before modified the default search instance.

However, I don't believe they will work in production where we have been migrated to OpenSearch and I am weary of trying it out on production for fear of getting stuck in a bad state.

[2022-02-17 15:09] josefaidt commented on #9789
Hey @khacminh :wave: how was this environment initially created?

[2022-02-17 15:35] andy-simpl opened #9790 "Merging new api and lambda layer between branches does not show resources in amplify status."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-17 15:56] khacminh commented on #9789
Hi @josefaidt

The amplify app was created about 1 year ago from the AWS console. Then, the environment was created by amplify cli

[2022-02-17 16:57] josefaidt commented on #9790
Hey @andy-simpl :wave: thanks for taking the time to file this! I'll be taking a look at a reproduction here shortly 🙂

[2022-02-17 16:59] josefaidt commented on #9785
Hey @AustinAmoruso :wave: thanks for raising this! Would you mind sharing your GraphQL Schema and configuration of your GraphQL API? I was not able to reproduce this issue with the sample Todo schema.

[2022-02-17 17:21] Jupdi commented on #2055
+1
Important feature! We need to setup our own search instance to get this working

[2022-02-17 18:38] yuth commented on #9788
@spc16670 Its hard to understand the problem without the records and schemas.  Could you share GraphQL schemas with v1 and v2 which can be used to reproduce this issue. Please ensure there isn't any confidential info in the schema.

Also include a few mutation which can be used to create records in V1 and query to retrieve those in V2.

[2022-02-17 18:51] alphonse92 commented on #1407
That's not a solution when you need to populated

That's not a solution when you need to populate your tables and then start working on the app.

[2022-02-17 19:00] yuth commented on #9779
I would not recommend adding a custom stack using `amplify add custom`. This should be used only when you're creating a new resource and not augmenting an existing API. As you mentioned in your comment, you will not be able to get `S3DeploymentRootKey` as its tied to API resource.

GraphQL transformer allows adding a custom stack to add new query/mutation or subscription to cover edge cases like y

[2022-02-17 19:14] clintfoster commented on #9624
Confirmed fix in `7.6.20`. Thanks!

[2022-02-17 19:46] webappjeff opened #9794 "DataStore-Update/Mutation"
Hey guys, Please Keep in mind this is my first time doing this, so please take it easy on me. I am just looking for some help here. I have a streaming app for which I need to store analytics/streaming data. I would like to update the streams and likes count directly in the data to show it on the front end. I am sure this can be done however, I am just not sure how to go about it.

I am using react

[2022-02-17 20:08] spc16670 commented on #9788
My v1 version of the schema is not very different:

[code]

I don't use any custom transformers - all stock amplify.

Is there any reason why the earlier schema and list operation done by a user with only ```client:custodian``` claim with a value of ```"[\"GVP8919\"]"``` should not work in v2?

[2022-02-17 20:11] jayKayEss opened #9795 "Generated Typescript types are inconsistent"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-17 22:24] lazpavel commented on #9627
Based on this [PR](https://github.com/aws-amplify/amplify-cli/pull/9310#issue-1080117016) description, having nullable elements is intentional

[2022-02-17 22:24] #9627 closed

[2022-02-17 22:52] josefaidt commented on #9789
Hey @khacminh thank you for clarifying! Based on the error above it appears notifications are added to this project. Is this an existing project you have initialized locally and you're wanting to pull down env's from the cloud that are not already available locally?

[2022-02-17 23:14] sacrampton commented on #9762
Hi @undefobj / @josefaidt - appreciate your updates to status

[2022-02-17 23:30] josefaidt commented on #9720
Hey @a-y-klimovich thank you for clarifying! Apologies for not thinking about this before but can you try the workaround noted here? https://github.com/aws-amplify/amplify-cli/issues/8337#issuecomment-933776737

[code]

Based on the latest comment it appears the user-installed packages do not work. How was the Amplify CLI installed?

[2022-02-18 01:11] moneeb0930 opened #9800 "Amplify Studio: Deployment Fails with Parameters: [parentStack] must have values"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-18 02:31] khacminh commented on #9789
hi @josefaidt

The environments was created locally. But I cannot checkout to that env. So I have to pull it again from the cloud

[2022-02-18 08:01] spc16670 commented on #9788
Why do you need mutation queries? They don't matter here, are you a member of amplify staff?

Here is the list query:

[code]

[2022-02-18 09:03] a-y-klimovich commented on #9720
@josefaidt

As [recommended ](https://docs.amplify.aws/cli/start/install/)for windows - using cURL option.

[2022-02-18 10:23] sarv-fuse commented on #9665
@sachscode

{
  "version": "1",
  "startedAt": "2022-02-18T07:16:51.118Z",
  "status": "ROLLING_BACK",
  "currentStepIndex": 0,
  "steps": [
    {
      "status": "ROLLING_BACK",
      "previousMetaKey": "amplify-appsync-files/62b1222fb09eda4fb1e6ec134e8cecea195dd340/states/initial-stack/deployment-meta.json"
    },
    {
      "status": "ROLLED_BACK"
    },
    {
      "status": "WAITING_FOR_DEPL

[2022-02-18 10:25] hpwtaee commented on #372
Any updates on this? This feature is essential for certain products that rely on sharing data within closed communities.

[2022-02-18 11:53] tarasowski commented on #8120
Hey folks, any news on that? Are there any strategies how to do it right now?

[2022-02-18 12:40] greenafrican commented on #4939
We're having to move our Amplify app to S3 so we can add a `viewer request` Lambda@Edge function to populate social open graph cards, unfurls etc. Would really LOVE to be able to use Amplify and add these functions to the app's seemingly hidden CloudFront distribution.

[2022-02-18 13:59] rafaelfaria opened #9802 "Tried to push an inline object in the schema and now it's broken"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-18 17:44] jackaroo82 opened #9803 "BUG: Amplify Auth add user to group post action doesn't add required IAM permissions"
**amplify npm cli package version:** 7.6.21

This was my first time using the amplify cli but I have used cognito before so I may be missing something.

I ran through the wizard when adding the auth resource, and was using cognito not any social authentications, and am also using react and the authenticator wrapper.

The issue was with the provisioned resources using cloudformation. I selected to

[2022-02-18 20:00] WiL-dev commented on #9721
For me, the following flag was the one that workaround the problem

`"showfieldauthnotification": false`

[code]

[2022-02-18 20:10] #9737 closed

[2022-02-18 20:20] nikname commented on #9779
Thanks again for your answer. To be honest it is not very clear now. I was able to create a custom VTL resolver as a custom resource using CDK as described [here](https://docs.amplify.aws/cli/graphql/custom-business-logic/#vtl-resolver) but I don't like this solution becouse I am defining a custom AWS resource while my intent was to extend the API.

As you said I should edit the override.ts file b

[2022-02-18 20:21] #9563 closed

[2022-02-18 20:26] #9292 closed

[2022-02-18 20:26] #9573 closed

[2022-02-18 20:38] josefaidt commented on #9720
Hey @a-y-klimovich can you try the steps noted in the previous comment to see if that mitigates the issue?

[2022-02-18 20:39] #5860 closed

[2022-02-18 20:48] #9666 closed

[2022-02-18 20:55] josefaidt opened #9807 "add hosting support for Flutter web apps"
### Is this feature request related to a new or existing Amplify category?

hosting

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Add project configuration support for [Flutter web distributions](https://docs.flutter.dev/get-started/web#build) to allow for static web hosting. This will likely require two additional fields in the project co

[2022-02-18 21:57] sundersc commented on #9775
@CodySwannGT - How did you migrate your v1 searchable instance to OpenSearch? If it was done outside the CLI, then it will be replaced on the next push when CLI detects a change to API.

You can set the instance type to t3.medium.search equivalent and take a snapshot of data and restore after the push completes. Also, consider migrating to transformer v2 as this uses opensearch by default.

https:

[2022-02-18 22:04] CodySwannGT commented on #9775
@sundersc thanks for the reply - To be honest, it was a while ago we migrated the search instance to opensearch and we didn't do anything special. If I recall correctly, we went to purchase a reserved elastic search medium instance and were told it had to be opensearch, so we changed the config in amplify, deployed and then purchased the reserved instance.

Is transformer v2 production ready? I've

[2022-02-18 22:10] josefaidt commented on #9790
Hey @andy-simpl I was able to successfully reproduce this using the following steps and this [doc](https://docs.amplify.aws/cli/teams/sandbox/) as a reference:

1. create a new project with env name `main`, `amplify init`
2. create a git repo for our project, `git init` -> `gh repo create`
3. add a function with `amplify add function`
4. push with `amplify push -y`
5. commit & push to git, `git ad

[2022-02-18 22:39] josefaidt commented on #7582
this was accidentally closed by PR merge, one outstanding item here, see https://github.com/aws-amplify/amplify-cli/issues/7582#issuecomment-1042372502

[2022-02-18 22:55] AustinAmoruso commented on #9785
This also happens on v7.6.21 and for another dev on my team as well. Where can we send the schema to?

[2022-02-19 14:57] rafaelfaria commented on #9802
@yuth  Yeah, i found that out when i tried to push. My problem was that when I did try to push it, something happened that the file in the #current-cloud-backend would not change. So it couldn't push it.

What I end up doing was literally just delete the whole API and recreate. which fixed it. but now I'm getting other problems of unauthorized even though it was working before. It's been a roller

[2022-02-19 15:29] nikname opened #9811 "API override error"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-19 16:51] BrettSGA commented on #9770
Closing as it hasn't happened again after posting. If I do see it again, I'll just run _amplify codegen_.

[2022-02-19 16:51] #9770 closed

[2022-02-19 16:57] rafaelfaria commented on #9100
So, I'm back to this post.

From one side with the help of this post, I managed to fix the issue I was having trying to access Queries and Mutations from my lambda.

However, I have updated to the latest version (7. ) and now, I keep getting Unauthorised, even though my schema worked before and seems to be correct (see below).

I have tried adding a user with Administrator policy attached to it, t

[2022-02-19 17:46] jimxzai commented on #9780
-rw-------  1 jimxiao  staff  0 Dec 27 00:02 ~/amplify/deployment-secrets.json

[2022-02-19 18:11] jimxzai commented on #9778
Thank you JoseFaidt,  I tried both. our situation is not 'init' but 'amplify pull' to get backend specs for the front end development machine. but failed.  1: before the amplify pull , folder asked to be empty (manual copy from backend development machine will be wiped out); 2: after the failure only 2 files: .gitnigore and .vscode. in the .gitignore generated as above has build in the list to ign

[2022-02-19 19:02] jimxzai commented on #9780
amplify pull --appId dg3jaboxeesrd --envName test this is the command used.

[2022-02-19 22:55] nikname commented on #9779
This is what I have tryed to do but I keep getting errors like "Error: Skipping override due to VMError: Cannot find module 'fs'"

[code]

Nobody can help me?

[2022-02-19 23:16] hanna-becker commented on #9788
We have the same issue after upgrading to the new transformer.

Simplified model:
[code]

In the PreTokenGenerator's alter-claims.js function, after fetching the projects the user should have access to, we're adding their ids as groups:
[code]

I can see that the group got added correctly to the client's JWT token, when decoded:
[code]

However, the user gets unauthorized errors for querying that

[2022-02-20 13:21] rafaelfaria opened #9814 "Wrong bucket name passed to lambda env variable on mock server (NoSuchBucket)"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-20 13:23] #9802 closed

[2022-02-20 13:49] lbrinker-1 commented on #9100
@rafaelfaria can you try to stop the mock, delete the amplify/backend/api/<your-api>/resolvers folder, and then run mock again (so it re-generates the resolvers).

I've had this a couple of times in the past where I was getting a random unauthorised, and that fixed it for me. Didn't have the time to dive deep into the root cause, but might be worth trying that?

[2022-02-20 15:26] alex-vladut commented on #9788
I subscribe to this, I am also facing multiple issues in that area Not sure what Amplify team's plans are and if they are going to tackle it. I added a PR a while back to fix these issues but it seems they are not accepting any PRs at the moment due to some internal refactoring I understand https://github.com/aws-amplify/amplify-cli/pull/9535#issuecomment-1036700574

[2022-02-20 15:34] kgoyal98 commented on #9751
@yuth Any updates on this?

[2022-02-20 16:22] endoodev1 commented on #9788
We are also having this problem as I have described in #9466 [here](https://github.com/aws-amplify/amplify-cli/pull/9466#issuecomment-1046260176) So I would also be more than happy to see a solution for this very soon!
Moreover I think this problem needs to be stated somewhere in the [docs](https://docs.amplify.aws/cli/graphql/authorization-rules/#user-group-based-data-access) as a **"known limita

[2022-02-20 16:38] rajd90 commented on #4352
I think i just had the same issue. I had an error related to `HostedUIProvidersCustomResourceInputs` after an amplify push (which failed). I then noticed that my Sign In With Apple configuration was gone (which had to be done manually). I'm not averse to setting up Sign in with Apple manually, but getting errors on subsequent pushes or losing the configuration of Sign in with Apple is unworkable.

[2022-02-20 16:57] thecodehen commented on #4155
Sometimes if I don't mock the API, I could connect to the online backend on AWS (even though I was testing locally using `npm run start`). Perhaps this can help with the issue of DataStore not mocking locally (create a new Amplify backend environment with test data).

However, I could not consistently connect to the online backend while testing locally (sometimes it would just not find the local m

[2022-02-20 17:39] hanna-becker commented on #9788
Thanks for this comment, @endoodev1. With this information I was able to create a workaround for our use case until this issue is properly fixed. I added a new "group" property to the Project table that I duplicate the id value into. (This requires the Create query followed by and Update query, as the id is autogenerated, thus unknown at the time of creation.) At least this way we can get all our

[2022-02-20 19:21] nbeuchat commented on #3399
+1

[2022-02-20 19:22] 24jr opened #9815 "Timeout is unreasonable. I want to override"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Every schema change I do I have to hit are you sure you want to continue, which I do, however then after it starts I am revealed the big question of how long. So when says 1 of 15 you and I both know it wi

[2022-02-21 02:59] fooman opened #9816 "Synthetic Canary should be available for REST api"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-21 05:03] rafaelfaria commented on #9121
I can confirm that the above works fine now with the latest version.

[code]

[2022-02-21 06:31] rezab777 commented on #9765
This issue can be solved by first running `amplify add function`. After the function is created in the local Amplify environment, run `amplify update api` and when prompted for authentication methods, choose Lambda Auth > <your custom function>.
This allows one to use a custom Lambda function e.g. a Lambda authorizer in Python.
One small issue though with python functions is the enormous size of t

[2022-02-21 06:31] #9765 closed

[2022-02-21 07:23] parvusville commented on #8123
Yep, lost data on medium too. :/

[2022-02-21 09:17] berthoug opened #9817 "How to create the argument to pass to addCfnCondition"
**Which Category is your question related to?**
Override api gateway

**Amplify CLI Version**
7.6.21

**What AWS Services are you utilizing?**
Api gateway

**Provide additional details e.g. code snippets. _Be sure to remove any sensitive data._**
I'm trying to call `addCfnCondition` on the AmplifyApiRestResourceStackTemplate that I get in my api override. For this I understand that I need to build

[2022-02-21 09:40] laygir commented on #3399
in case the maintainers need more +1's, here's another one, +1

[2022-02-21 13:14] JackWSargent opened #9818 "Unable to change auth rules"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-21 16:03] josefaidt commented on #9819
Hey @wattanakorn495 :wave: thanks for raising this! Are you able to install this function's dependencies locally? Or are you able to mock the function locally?

[2022-02-21 16:33] a-y-klimovich commented on #9720
@josefaidt ,

I've reinstalled python and now I'm able to run build and mock commands again.

I've run _pipenv shell_ and installed _pipenv_. But it didn't fixed the issue. Still have the same exception.
[pipenv_install.log](https://github.com/aws-amplify/amplify-cli/files/8110835/pipenv_install.log)
[mock_test.log](https://github.com/aws-amplify/amplify-cli/files/8110836/mock_test.log)
[where_app

[2022-02-21 17:54] josefaidt commented on #9818
Hey @JackWSargent :wave: thanks for raising this! Unfortunately I was not able to reproduce using the provided reproduction steps. Did you push before attempting to update the API?

1. `amplify init -y`
2. `amplify add auth` > Default configuration
3. `amplify add api` > accept defaults (with API Key)
4. replace sample schema contents with `type User @model @auth(rules: [{ allow: owner }]) { id: I

[2022-02-21 18:23] 0afcode commented on #9732
Hi,
The user only belongs to one of the groups defined in the string array of editGroups. I have not had time to test thoroughly but I assume this problem is coming up due to the dynamic edit groups auth. As a work around we killed the many-to-many relationship altogether and manually implemented the joint table with the correct auth directives similar to the other two tables.

[2022-02-21 19:20] iartemiev commented on #6023
@lazpavel for v2, I think the last auth rule would need to explicitly list the allowed `operations` since those now follow deny-by-default and the first rule should only allow `read`.
[code]

[2022-02-21 19:31] josefaidt commented on #9778
Hey @jimxzai thank you for clarifying! I've relabeled this issue accordingly and updated the title. Although it appears to be the same root cause I'm leaving this open due to the different workflow (`pull` is affected vs `init`)

[2022-02-21 19:33] raffibag opened #9828 "Amplify Pull is creating backend despite selecting "No" to "Are you planning on modifying this backend?""

[2022-02-21 19:45] nikname commented on #9785
I have had the same issue. I have started commenting out custom queries/mutations/subscriptions and found that one mutation with a lambda resolver attached was causing the error. After a successful run of `amplify mock api` I removed the comment from the commented mutation and it is working now

[2022-02-21 19:53] josefaidt commented on #8553
Hey @jacobsapps :wave: are you still experiencing this issue? Was SIWA added with the Amplify CLI?

[2022-02-21 19:54] JackWSargent commented on #9818
Yes I pushed after `amplify add api` @josefaidt

[2022-02-21 20:49] josefaidt commented on #9815
Hey @24jr :wave: what version of the CLI are you currently using and how large is your schema?

[2022-02-21 21:00] josefaidt commented on #9811
Hey @nikname :wave: thanks for raising this! I was able to successfully reproduce this behavior using the provided reproduction steps. Thank you for providing those details! The root cause here is similar to https://github.com/aws-amplify/amplify-cli/issues/9063, however I'll mark this as a non-duplicate bug due to the different workflow.

[As mentioned in the docs](https://docs.amplify.aws/cli/gr

[2022-02-21 21:12] josefaidt commented on #7821
Hey @EringiV3 :wave: just wanted to follow-up on this one and see if you were still interested in contributing?

[2022-02-21 21:16] josefaidt commented on #9794
Hey @webappjeff :wave: it appears the appropriate solution for this simple mutation is to create a custom resolver. Can you see if the comment here https://github.com/aws-amplify/amplify-cli/issues/3681#issuecomment-629233301 sheds some insight?

[2022-02-21 21:34] josefaidt commented on #9818
Hey @JackWSargent thank you for clarifying! Unfortunately I was still not able to reproduce, however I've updated the steps in my previous comment to reflect the push in-between changing the schema contents. Can you identify the difference in the steps you took versus what's documented in my comment?

[2022-02-21 21:49] josefaidt commented on #9720
Hey @a-y-klimovich thank you for clarifying! When you ran `pipenv shell` was it from the function's src directory?

[2022-02-21 21:58] sachscode commented on #9800
@moneeb0930
Since `amplify push` is failing locally, could you provide more details on this ?
Could you please confirm the following:
1. The cloudformation in your ./amplify/backend/awscloudformation/nested-cloudformation-stack.yml  has a `Parameters` section .
2. The amplify/.config/local-env-info.json has the project path correctly configured. (  If this doesn't have the correct path, please run

[2022-02-21 22:55] josefaidt commented on #9817
Hey @berthoug :wave: thanks for raising this! This VMError is also documented in https://github.com/aws-amplify/amplify-cli/issues/9811 and https://github.com/aws-amplify/amplify-cli/issues/9063 where the workflows serve different purposes. It appears the issue here stems from the use of `@aws-cdk/core`, which I was able to reproduce with a simple override

[code]

Upon returning to our terminal a

[2022-02-21 23:29] multimeric commented on #9362
Indeed. I'm not sure using `instanceof` is a good idea ever when the JS ecosystem is always duplicating and compiling classes into other things.

I've hit this issue too, and at least in my case it's only triggered when using `MappingTemplate.s3MappingTemplateFromString`. When I switch to `MappingTemplate.inlineTemplateFromString` I can bypass the errorr.

[2022-02-22 00:42] SebasRod23 commented on #8920
May I work on this please? Thanks

[2022-02-22 01:01] defmtog commented on #5322
As of amplify 7.6.20 there is no s3-cloudformation-template.json to edit and place the s3:PutObjectACL into anymore. there is only a cli-input.json with enums for permissions:

[code]
and there is no enum for PutObjectACL so the manual edit doesn't work any more. any other suggestions?

[2022-02-22 01:02] eettaa commented on #9404
@edwardfoyle friendly ping here, is this addressed somewhere in the documentation? Apologies if so.

[2022-02-22 01:54] fooman opened #9821 "Unable to attach UsagePlan to ApiStage via CDK"
### Is this feature request related to a new or existing Amplify category?

api

### Is this related to another service?

ApiGateWay, CDK

### Describe the feature you'd like to request

I'd like to use `amplify add custom` to add a usage plan to RESTApi created by Amplify via `amplify add api`.

### Describe the solution you'd like

[code]

So close yet so far. I am currently not sure if this is

[2022-02-22 01:59] rafaelfaria commented on #9100
Hi @lbrinker-1 ,

That has happened to me before, so I have tried that a few times.

I kid you not, I think I have tried everything. My latest attempt is to literally delete amplify and redo everything again, which is not ideal but I am desperate. This used to work and now it just doesn't. I can't test anything that needs IAM.

So I rebuild the whole amplify project using the latest version (7.6.2

[2022-02-22 02:00] GeorgeBellTMH commented on #9525
I am stuck on this...can't go forward or backwards...

[2022-02-22 02:01] GeorgeBellTMH commented on #9525
Looks like a lot of others are having the issue here: https://github.com/aws/aws-cdk/issues/8585

[2022-02-22 02:12] GeorgeBellTMH commented on #9525
So the current template has:

 "Schema": [
          {
            "Mutable": true,
            "Name": "phone_number",
            "Required": true
          }
        ],

and the one I am generating has:

"Schema": [
          {
            "Mutable": true,
            "Name": "email",
            "Required": true
          },
          {
            "Mutable": true,
            "Name": "family_

[2022-02-22 02:15] GeorgeBellTMH commented on #9525
I have two custom fields, not sure if they are impacting this as well...

[2022-02-22 03:25] Kirnos commented on #7582
The issue described in [#7582 (comment)](https://github.com/aws-amplify/amplify-cli/issues/7582#issuecomment-1042372502) is still not resolved and the ticket is closed. Please reopen and fix the remaining item!!!

[2022-02-22 03:28] moneeb0930 commented on #9800
Hi @josefaidt Thanks for helping... :)
So my project doesn't appear to have the above mentioned files, I did try searching for them. I ran the amplify configure project and it went successfully after answering the prompts regarding project settings.  After that, I did the Amplify Push, which still deployed unsuccessfully - same error ( [parentStack] must have values).

Project files - Amplify fold

[2022-02-22 03:35] sondt1610 opened #9822 "API (GraphQL with DynamoDB): Query use GSI with 3 attributes is not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 04:11] GeorgeBellTMH commented on #9525
team provider seems a bit weird:
 "jcmobile": {
          "facebookAppId": "xxx",
          "googleClientId": "xxx.apps.googleusercontent.com"
        },
        "userPoolGroups": {},
        **"true": {**
          "facebookAppId": "xxx",
          "googleClientId": "xxx.apps.googleusercontent.com"
        }

[2022-02-22 04:19] Gphill93 opened #9823 "graphql-auth-transformer opensearch - Auth only works on dynamic group list when keyword is appended"
I'm working on an app that added dynamic auth groups to the schema that is also using `@Searchable`.  It was noticed that the dynamic grouping was not working, as search queries were not returning records that belonged to dynamic groups as expected.  After looking into the generated search auth resolver I noticed that `keyword` was not appended for list dynamic auth fields.  After adding `keyword`

[2022-02-22 05:22] undefobj opened #9824 "Syntax error with GraphQL validation"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 05:26] undefobj opened #9825 "Auth with User Pools missing gives stack trace"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 05:56] GeorgeBellTMH commented on #9593
I am having a similar problem...I have done the following with the latest version:

1. clone, init, pull
2. status - no changes
3. made a change to API (added a field)
4. push - api shows as changed - fails with Invalid AttributeDataType input, consider using the provided AttributeDataType enum.
5. removed the change to API in step 3
6. push - shows no changes - but still attempts to push and fail

[2022-02-22 06:01] GeorgeBellTMH commented on #9593
@johnpc - is this a separate issue from #9525 - since this doesn't seem to be analytics related...or is this just a bigger problem with analytics drift in Amplify or an issue with incorporating legacy drift/changes into the new system? It may be necessary until this is all figured out to let us edit the templates before they are pushed...(I am assuming that might fix most of these issues)...

[2022-02-22 08:37] PatrykMilewski opened #12449 "Bug: multiple deploys of the same exported backend fails"
When trying to deploy more than once the same exported backend, deployment fails due to name collisions, for example S3 buckets.

I've been trying to use `stackName` parameter in `AmplifyExportedBackend` but looks like it doesn't work.

[2022-02-22 10:06] rcp522 opened #10448 "[Feedback] Make latestRegionSupport more descriptive"
**Page**: [`/cli/reference/feature-flags`](https://docs.amplify.aws/cli/reference/feature-flags/#latestRegionSupport)

**Feedback**:

The latestRegionSupport Feature Flag documentation says that regions will be mapped to other regions. However, it is not clear what this means and what affect it will have. From reading the source code it seems like the component resources will be deployed in the re

[2022-02-22 11:41] multimeric opened #9826 "`S3 Error Code: NoSuchKey` when creating a custom Transformer with a `lambda.Function`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 13:28] martinburger commented on #9498
It seems that I have encountered the same issue [as described here](https://github.com/aws-amplify/amplify-console/issues/2552#issuecomment-1047632051).

[2022-02-22 14:08] RadomirPerisic opened #9827 "Amplify failing to find GroupRole Policies causing Push to fail"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 14:11] RadomirPerisic commented on #9827
Additional note: after reseting changes in git, and I try to `amplify push --force` I get the same error

[2022-02-22 15:58] 24jr commented on #9815
@josefaidt Newest version and 14 types and several index on those

[2022-02-22 16:16] #6231 closed

[2022-02-22 16:18] #4425 closed

[2022-02-22 16:24] josefaidt opened #9829 "stray `undefined` message printed when exiting `amplify update storage`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 16:42] f-miyu opened #9830 "Can not add tags to custom AWS resources using CDK"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 17:32] josefaidt commented on #9830
Hey @f-miyu :wave: thanks for raising this! I was able to successfully reproduce this behavior in a custom CDK resource:

[code]

Upon running `amplify build` we see the console.log output does not contain the new tag `mykey`, and does not get built to the CFN template in the nested `build/` directory. Marking as a bug 🙂

[2022-02-22 17:56] nunesky opened #9831 "Cannot init or env add with new account"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 18:11] RadomirPerisic commented on #9827
If you are talking about `amplify/backend/auth/userPoolGroups/build/userPoolGroups-cloudformation-template.json` file, I don't see `adminsGroupRole` or `usersGroupRole` values in `Outputs`.

[2022-02-22 18:13] RadomirPerisic commented on #9827
I did a search in project, I found it in `amplify/backend/awscloudformation/build/auth/userPoolGroups/template.json`:

[2022-02-22 18:29] sundersc commented on #9775
This shouldn't affect the `amplify push`. I would recommend to try this out in a non-prod environment.

Yes, it is. Please refer to this doc for more information on migration.
https://docs.amplify.aws/cli/migration/transformer-migration/

Regarding the instance types, we will include the new instance types to the allowed list.

[2022-02-22 18:30] tonydatw opened #9832 "Auth.deleteUser returns "Undefined is not a function" in React Native"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 18:36] CodySwannGT commented on #9775
@sundersc I think that's the problem. How can I get a non-prod environment in the same state that our production environment is in?

[2022-02-22 19:08] JackWSargent commented on #9818
@josefaidt Should I try deleting the API and recreating it? I'm not really sure how I can say to reproduce this. I am open to getting on a call as well if that would help in order to show you.

[2022-02-22 19:13] sundersc commented on #9822
This looks very similar to the scenario here https://github.com/aws-amplify/amplify-cli/issues/8204#issuecomment-923531983.

@sondt1610 - `@searchable` directive is a better option to run queries like these.
https://docs.amplify.aws/cli/graphql/search-and-result-aggregations/

[2022-02-22 19:24] josefaidt commented on #9811
Hey @nikname :wave: there was a bit of confusion on my part with this docs link I provided. Under the "VTL Resolvers" section it walks us through creating a _custom CDK resource_ rather than _overriding` the GraphQL Resource. In a custom CDK resource these fs ops are permitted and we should be able to add VTL templates using the example you provided. Can you try those steps and see if that mitigat

[2022-02-22 19:55] cjihrig commented on #8139
It looks like there are a few different things going on here:

First, the current AppSync simulator approach uses `GraphQLDate` from the `graphql-iso-date` package. This does not work with all formats supported by AppSync. Based on [these docs](https://docs.aws.amazon.com/appsync/latest/devguide/scalars.html), we need to support a few different value types that `GraphQLDate` does not support:

- `

[2022-02-22 19:59] josefaidt commented on #2055
per @undefobj we should also think about this for the `_version` and `_deleted` filters when using GraphQL API + DataStore

[2022-02-22 19:59] sundersc commented on #9823
`.keyword` is not applicable on all the fields. This issue needs to be analyzed in much more detail.

Would you mind opening a new issue using the template? Please include the GraphQL schema.

[2022-02-22 20:05] dhruvbansal2 opened #9833 "Removing @function directive from a @model field creates a CF conflict"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 20:32] #372 closed

[2022-02-22 20:55] AustinAmoruso commented on #9785
Also My current schema is all v1. I'm in the process of upgrading to v2.

[2022-02-22 21:29] sundersc commented on #9831
@nunesky - Could you check whether the `team-provider-info.json` file contains a valid value for the `Region`.

[2022-02-22 21:35] cjihrig commented on #5542
I'm going to close this issue, as it can be difficult to triage issues that are several years old, and I believe this one has been answered. If you are still having issues, please open a new issue.

For anyone landing here in the future, [these are the relevant docs](https://docs.aws.amazon.com/appsync/latest/devguide/aws-appsync-real-time-data.html). Particularly this paragraph:

[2022-02-22 21:35] #5542 closed

[2022-02-22 21:40] #8534 closed

[2022-02-22 21:58] tdwebb opened #9839 "Unable to create Step Function from Amplify CLI"
I am trying to create a new step function using Amplify's new custom resource functionality.  I am receiving this authorization issue:
**************
Resource Name: StateMachine2E01A3A5 (AWS::StepFunctions::StateMachine)
Event Type: create
Reason: Resource handler returned message: "User: arn:aws:sts::773544361988:assumed-role/us-east-1_T3koRnO6t_Full-access/amplifyadmin is not authorized to perfo

[2022-02-22 22:14] josefaidt commented on #9828
Hey @raffibag :wave: this is expected behavior. While the `amplify/` folder is generated when we're choosing not to modify the backend it is a lightweight addition that contains information regarding the pulled app and environment, which enables us to later run `amplify pull` to keep our project in sync without also specifying the `appId` and `envName`. However, I do see in our docs where it menti

[2022-02-22 22:28] josefaidt opened #9835 "`amplify/hooks/` directory is pulled when choosing not to modify the backend during `amplify pull`"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-22 22:48] cjihrig commented on #6616
I'm going to close this as custom VTL resolvers are supported - https://docs.amplify.aws/cli/graphql/custom-business-logic/#vtl-resolver

[2022-02-22 22:48] #6616 closed

[2022-02-22 22:53] josefaidt commented on #9720
Hey @a-y-klimovich can you try:

1. cd to function's directory (not src/, excuse me on that one)
2. run `pipenv shell`
3. run `pipenv install`
4. attempt mocking the function

for reference: https://www.xiegerts.com/post/slack-app-bolt-python-amplify/

[2022-02-22 22:59] josefaidt commented on #9818
Hey @JackWSargent before we go through the hassle of deleting and recreating I'd like to understand the root cause a bit further. Is it possible there was an empty or invalid ruleset for an auth rule elsewhere in the schema? Something like:

[code]

[2022-02-22 23:17] Gphill93 commented on #9823
Ok will do, thanks

[2022-02-22 23:17] #9823 closed

[2022-02-22 23:18] sundersc commented on #9833
@dhruvbansal2 - I'm unable to reproduce the issue using the given reproduction steps. If you have any additional details that would help to reproduce the scenario, please add it to the issue.

[2022-02-22 23:33] rezab777 opened #9836 "Lambda authorization for AppSync defaults to User Pool authorization when a Cognito ID token is used"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-23 00:03] dhruvbansal2 commented on #9833
Interesting, so I'm also seeing the following in our ```transform.conf.json```.

[code]

I'm wondering if this could be causing the issue on my end @sundersc? (I'm pretty new to amplify & amplify-generated resources so I'm still learning how these resources integrate).

[2022-02-23 00:08] danielleadams commented on #9788
@spc16670 Thanks for reporting this (and thanks all for the chiming in) - I know you've provided a lot of information here, but can you provide specific reproduction steps to investigate this? I tried the following:

1. Create api with transformer v1, the group ID is set as the record ID. example schema:
[code]
2. Create 2 users in cognito and add them to a group
3. Create records as user 1, set t

[2022-02-23 00:10] danielleadams commented on #9370
Hi @alex-vladut, there are 4 issues here  - are all of these still issues for you? I know you had a PR you were working on to address one of these as well. Which one did that map to? Thank you!

[2022-02-23 00:32] hanna-becker commented on #9788
We're having the issue with transformer v2. In v1 it worked fine.

On Tue., Feb. 22, 2022, 16:08 Danielle Adams, ***@***.***>
wrote:

[2022-02-23 00:44] multimeric commented on #9362
I realise this is happening because the amplify CLI is running via a global installation, with packages in `/usr/lib`, whereas your local plugin is using the same packages, installed locally to `node_modules`. Since these are different copies of the same code, any attempt to compare objects for exact equality will fail, and this includes checking the prototype of objects using `instanceof`.

I bel

[2022-02-23 00:54] raffibag commented on #9828
Thank you, @chrisbonifacio and @josefaidt for the additional details. I appreciate the clarification!

[2022-02-23 01:29] cjihrig commented on #9362
It does. Node's module resolution algorithm is described [here](https://nodejs.org/api/modules.html#all-together). Search for `GLOBAL_FOLDERS`. Using `NODE_PATH` might work for you, but it is somewhat discouraged in the docs.

I think the better short term solution is to investigate making the existing `instanceof` check more robust - there are other ways of doing type checking in JavaScript that

[2022-02-23 01:33] multimeric commented on #9362
Apologies, you're right. I guess because it's tricky to get Typescript to recognise these global libraries I assumed they weren't accessible.

[2022-02-23 01:52] AustinAmoruso commented on #9735
I'm running into a similar issue.

[2022-02-23 01:55] josh-mata commented on #9667
I'm having exactly the same problem:
<img width="863" alt="image" src="https://user-images.githubusercontent.com/96929158/155249357-afab5877-240d-43a1-b37c-66490444d54d.png">
This is my json
<img width="718" alt="image" src="https://user-images.githubusercontent.com/96929158/155249744-755058e5-0596-4491-957c-d5786f27c3c6.png">

[2022-02-23 02:00] AustinAmoruso commented on #9245
This is broken for me as well

[2022-02-23 02:27] danielleadams commented on #9788
@hanna-becker I am not able to reproduce the issue in v2, so I am asking for specific steps to duplicate the issue.

[2022-02-23 02:36] scottschreckengaust commented on #8974
Still having deprecated warnings and vulnerabilities, is there a document on steps to update/upgrade dependencies?

[code]

[code]

[2022-02-23 03:14] sundersc commented on #9836
Hi @rezab777 - This seems to be an issue with the AppSync service, there is a similar issue noticed with OIDC authentication as well https://github.com/aws-amplify/amplify-cli/issues/9714.

A quick workaround would be to append some prefix like `Token<space>` + `JWT` and remove the prefix in the lambda and process the JWT.

[2022-02-23 03:41] hanna-becker commented on #9788
Hi @danielleadams

Thanks for looking into this!

Re: step 2, I'm not sure I understood you correctly here, but do not add the users to a static group. Instead do this: When adding/updating auth, the cli asks about whether it should add triggers at some point. Add a PreTokenGeneration lambda trigger, and add the id of the shared resource (Group in your case, Project in my example above) in this bl

[2022-02-23 03:54] sundersc commented on #9833
Is that the complete schema? I'm trying to understand how your application end up in this state.

[2022-02-23 04:42] JackWSargent commented on #9818
@josefaidt There was not. I tried again and now all the sudden it works. I don't what I changed or even if I changed anything.

[2022-02-23 06:25] brandonfonseca commented on #8625
Hello,

I am also having this issue! Is there any fix yet?

The functions are removed from my code and removed from the cloud (I checked Cloudformation and Lambda on the AWS Console and these functions are gone). However, every time that I perform an `amplify pull` these lambda functions come back into my code (under `src/backend/function`). This is a pretty breaking issue.

Thanks!

[2022-02-23 06:52] iquirino commented on #9735
Hello guys, here goes the steps that I managed to solve the issue

1. Delete entire environment
2. amplify env add myenv
3. amplify push
4. Created the frontend environment pointing to the manually created backend environment

Good luck =D

[2022-02-23 07:38] LucasKnudsen commented on #9484
Hey, I'm having similar issues.

I am on version 7.6.21 and migrated to Transformer v2.

`amplify push` work fine, but `amplify function push` and `amplify function push locationGeocoder` throws the following error:

[code]

This is from a newly redeployed Stack as well.

The only place I'm using these values as parameters is within the Geo resource, which was generated by Amplify.

[2022-02-23 07:47] rezab777 commented on #9836
@sundersc Thanks for your recommendation. As you suggested , I added a prefix such as `Bearer` and it seems to solve the issue.

[2022-02-23 07:47] #9836 closed

[2022-02-23 08:23] hpwtaee commented on #372
@josefaidt fantastic news! Although I'm still a little confused. Have you enhanced the @auth directive to include { allow: connection, path: [] } or are there simply under the hood enhancements?

[2022-02-23 08:28] endoodev1 commented on #9788
Hey @danielleadams, thanks for taking up this issue.
As @hanna-becker already explained, it is a problem with the dynamic groups authentication policies in v2 transformer.
In my previous [post](https://github.com/aws-amplify/amplify-cli/issues/9788#issuecomment-1046272215) I also explained the exact position in code where this bug comes from. It has to do with the vtl rules which are created in th

[2022-02-23 10:12] katesclau commented on #8139
Yes, but this is mostly an issue with the simulator itself, not on AppSync.

[2022-02-23 11:22] nunesky commented on #9831
Thanks, @sundersc. My team-provider-info.json contains 2 environments. One of them seems to be "more complete" than the other:

[code]

[2022-02-23 11:41] nylltz opened #9837 "Make the CustomAuthTriggerResource timeout configurable"
### Is this feature request related to a new or existing Amplify category?

auth, function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

I experienced an issue that is similar to #9510 . The custom resource **CustomAuthTriggerResource** that Amplify CLI generate for configuring Cognito user pool Lambda trigger come with only a 3 seconds ti

[2022-02-23 14:22] harshmsomani commented on #9665
@sachscode
error: uncaughtException: Error occurred while monitoring stack:The security token included in the request is expired date=Wed Feb 23 2022 19:48:38 GMT+0530 (India Standard Time), pid=19867, uid=501, gid=20, cwd=/Users/hsomani/Hoora/production/hoora, execPath=/Users/hsomani/.amplify/bin/amplify, version=v12.22.7, argv=[/Users/hsomani/.amplify/bin/amplify, /snapshot/node_modules/@aws-amp

[2022-02-23 15:09] josefaidt commented on #9827
Hey @RadomirPerisic thank you for clarifying! When running `amplify status` does it show the user pool groups is in the "UPDATE" state? And are the groups available in the precedence JSON file? I'm curious if whether these were unintentionally removed and perhaps whether we're able to capture a diff of those changes to better understand when this unintentional change occurred

[2022-02-23 15:36] RadomirPerisic commented on #9827
After running `amplify status` it shows `userPoolGroups` in `UPDATE` state.
Groups are available in precedence JSON file.
Looking back when I created this project, package version was 4.x if that helps.

`git status` shows this diff:

[code]

[2022-02-23 16:09] nwokdean opened #9838 "lambda trigger not working"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-23 16:12] alex-vladut commented on #9370
Hey @danielleadams thank you for investigating these issues. Yes, I am still facing most of these issues, as far as I'm aware the only fixes in that area were done through this PR https://github.com/aws-amplify/amplify-cli/pull/9466 so the other issues are still present.
In the meantime I think I gained a better understanding of the internals of this authorization logic, so maybe I'll give it a tr

[2022-02-23 16:20] josefaidt commented on #9827
Are you referring to the `aws-amplify` package here or the CLI version?

[2022-02-23 16:22] sachscode commented on #9827
Hi @RadomirPerisic
Could you please share the contents of your amplify folder through an email to amplify-cli@amazon.com. This will allow us to inspect and validate if all auth resources have been correctly migrated. Also , could you pl confirm which storage resource are you adding the authentication to ? is it S3 or DDB.

[2022-02-23 16:23] RadomirPerisic commented on #9827
@josefaidt `amplify-cli` version
@sachscode I'll send the folder

[2022-02-23 16:47] RadomirPerisic commented on #9827
I'm not adding authentication to any storage (or at least not trying to), this was already set up

[2022-02-23 16:56] biller-aivy commented on #1865
so its not really clear, is it based on scans?

[2022-02-23 17:31] lazpavel commented on #6023
@iartemiev, from V2 docs:

[2022-02-23 17:39] iartemiev commented on #6023
@lazpavel - you're right. I had forgotten that implicitly-defined operations have the same effect as all operations explicitly allow-listed

[2022-02-23 18:43] sachscode commented on #9827
@RadomirPerisic
Per the cli-inputs.json , the identity-pool seems to be missing. This is required for the userPoolGroupRoles to be created.
We follow the method presented in https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_examples_s3_cognito-bucket.html .

Could you please share the CLI flow used to update auth?
[code]
please select the first option in "Select the authenticatio

[2022-02-23 18:55] raffibag commented on #9828
Sorry to bring this up again, but is it also expected behavior for the above command to create a backend environment? I guess that's what the original question was. While I had been using `amplify pull` to get the `aws-exports.js` file, it's recenly been creating a backend app, resulting in two issues:

1) When deploying to amplify by committing the code to the Amplify-linked git repo, it fails on

[2022-02-23 19:12] jhockett commented on #8625
Hi @brandonfonseca, we haven't been able to reproduce the issue so unfortunately no update yet. Do you remember how you initially created the functions? What steps did you take to remove the functions from your project?

[2022-02-23 19:16] sachscode commented on #9665
@harshmsomani  looks like the error you are facing is different in that it appears to be an expired IAM session is being used to push resources. `"The security token included in the request is expired date=Wed Feb 23 2022 19:48:38 GMT+0530 (India Standard Time)"` .
1. Could you please confirm if you are using the correct IAM profile.
2. Could you please check if you are using "sts role" in your ~/

[2022-02-23 19:21] sachscode commented on #9665
@reptiliano37  After deleting the deployment-state.json, is the amplify-push still failing ?  If its failing , could you please log into your AWS console and check the cloudformation logs for the stacks that have failed during deployment.

@sarv-fuse Could you please try deleting the deployment-state.json and please retry `amplify push` ?

[2022-02-23 20:04] Nxtra commented on #9656
@josefaidt , thanks for your help.
Yes it mitigated the issue!

[2022-02-23 20:21] brandonfonseca commented on #8625
Hi @jhockett, thanks for the response. The functions were initially created using `amplify function add` and were removed using `amplify function remove` as per the documentation instructions.

[2022-02-23 20:44] RadomirPerisic commented on #9827
I selected `User Sign-Up, Sign-In, connected with AWS IAM controls` on first option. I was able to push without any problems.
I don't remember selecting this option when previously setting up auth, but I might be wrong.
Thanks for help

[2022-02-23 21:04] josefaidt commented on #7398
Hey @hphirke :wave: per the comment above a message has since been added to warn when attempting to grant access to a custom category:

[code]

To grant access to resources in a function, we can leverage the [`custom-policies.json` file](https://docs.amplify.aws/cli/function/#access-existing-aws-resource-from-lambda-function) to specify which additional actions we want to allow such as getting par

[2022-02-23 21:04] #7398 closed

[2022-02-23 21:19] josefaidt commented on #9828
Hey @raffibag it sounds like we may have an App ID mismatch or a case where the backend is actually created. There is currently a limitation on using a backend without choosing to modify where we are unable to add additional services like hosting. Can you confirm whether you're seeing two different App ID's between the first app (with the backend definition) and the second app (using the same back

[2022-02-23 21:32] josefaidt commented on #372
Hey @hpwtaee :wave: these are enhancements to improve the data modeling experience, which we can leverage with `@auth` at the model and field level to protect these mutations https://docs.amplify.aws/cli/graphql/authorization-rules/#field-level-authorization-rules

[2022-02-23 21:34] sundersc commented on #9831
Though it is possible to have different configuration in amplify environments, at some point this needs to merged and deployed.

Based on your team-provider-info.json file, it looks like `develop` environment is the healthy one. You can either switch to this environment (or) `amplify pull --appId <AppId> --envName develop`, then try to init or add a new environment.

[2022-02-23 22:37] loganpowell commented on #4337
I'm having a similar problem, but in my case adding `provider: iam` to a type with only `read` access grants everything but read access to that type, e.g.:

[code]
make these permissions in IAM:

[code]

I have tried different combinations of permissions for IAM, but the only way I can get anything to change in IAM is to remove it completely from the type.

[2022-02-23 22:51] dhruvbansal2 commented on #9833
That isn't the entire schema @sundersc . Essentially, we have connections to a couple other models, mutations, queries, & enums. The mutations & queries reference a custom lambda function.

[code]

[2022-02-23 23:06] jhockett commented on #8625
@brandonfonseca can you send us your `amplify/` folder at amplify-cli@amazon.com so that we can investigate? Please include the issue number in the title and be sure to redact anything sensitive.

[2022-02-24 00:14] AustinAmoruso commented on #9762
I am also hitting this issue. Is creating the different stacks going to blow away my data in Dynamodb and the GSI? I'm really concerned with this migration in general.

[2022-02-24 00:49] flozender commented on #9829
Hi, can I work on this, please? Thanks!

[2022-02-24 02:17] multimeric commented on #1865
Currently it uses scans, which is believe is also how `listFoo` queries work. It should be fairly easy to integrate with the `@index` directive to use `Query` over a GSI rather than `Scan`, but I'd like some help with that feature, in particular because I'm not using GSIs myself: https://github.com/multimeric/AmplifyCountDirective/issues/1

[2022-02-24 04:30] sacrampton commented on #9762
Hi @undefobj / @josefaidt - just checking back to see if there are any updates on this? This is obviously a killer when migrating any significant system. Appreciate any feedback you can provide.

[2022-02-24 05:17] isaac-rosterlab commented on #9525
@GeorgeBellTMH I have exactly the same problem. My previous schema is:

"Schema": [
          {
            "Mutable": true,
            "Name": "family_name",
            "Required": true
          }
        ]

and my new schema is:

        "Schema": [
          {
            "Mutable": true,
            "Name": "email",
            "Required": true
          },
          {
            "Mutable"

[2022-02-24 05:23] GeorgeBellTMH commented on #9525
So, my workaround was to amplify override auth...then manually set the schema to the old settings, and ensure the read/write attributes include my custom attributes...

import { AmplifyAuthCognitoStackTemplate } from "@aws-amplify/cli-extensibility-helper"

export function override(resources: AmplifyAuthCognitoStackTemplate) {
  resources.userPool.schema = resources.userPool.schema = [
    { name:

[2022-02-24 06:00] isaac-rosterlab commented on #9525
@GeorgeBellTMH

This works perfectly, thank you so much!

I'll try and track down exactly which version of the amplify cli was used to produce my original cloudformation template so the developers can reproduce the drift bug.

[2022-02-24 10:25] chakch commented on #9055
any update for this issue ?

[2022-02-24 10:36] chakch opened #9845 "support CDK version 2"
### Is this feature request related to a new or existing Amplify category?

New category

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

The aws-amplify/cli-extensibility-helper support only the CDK version 1.
add the support of CDK version 2 for aws-amplify/cli-extensibility-helper

### Describe the solution you'd like

I think it will be b

[2022-02-24 11:55] a-y-klimovich commented on #9720
Hi @josefaidt

I still getting  the same error.
[mock_pipenv_install.txt](https://github.com/aws-amplify/amplify-cli/files/8132230/mock_pipenv_install.txt)

[2022-02-24 12:26] fernandesGabriel commented on #9680
I am experiencing the same issue, exactly with the `resources.lambdaConfigPermissions` override. I am using CLI 7.6.21

[2022-02-24 13:31] nunesky commented on #9831
Thank you. It only worked when I deleted the staging environment from team-provider-info, though.
Is there a way to regenerate  team-provider-info so I can get a healthy staging blob for the deployed staging environment?
Thanks :)

[2022-02-24 16:30] lazpavel opened #9846 "@auth issue when used with relational directives and partial access rights"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-24 17:59] tdwebb commented on #9839
I am trying to push amplify changes from visual studio code.  The Amplify Studio doesn't have the option to add custom resources as far as I know.  In an additional attempt to get this working, I have tried creating a new AWS profile in visual studio code:
![image](https://user-images.githubusercontent.com/5378183/155580001-4f7afdb8-d59b-46a9-92b5-5ddedac89c2e.png)

This AWS profile is assigned to

[2022-02-24 18:54] josefaidt commented on #9837
Hey @nylltz :wave: thanks for raising this! Unfortunately this is not currently supported, and unfortunately this Lambda is not exposed to the override for [auth overrides](https://docs.amplify.aws/cli/auth/override/) to be a viable workaround. Marking this as a feature request 🙂

[2022-02-24 19:17] josefaidt commented on #5380
Hey y'all this has since been released and is enabled by default 🙂 https://aws.amazon.com/about-aws/whats-new/2021/04/aws-amplify-orchestrates-multiple-amazon-dynamodb-gsi-updates-single-deployment/

[2022-02-24 19:17] #5380 closed

[2022-02-24 19:21] mitchconquer opened #9851 "Long deployment times of ~40 mins for large Amplify project"
### Is this related to a new or existing framework?

_No response_

### Is this related to a new or existing API?

_No response_

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

Hi! I'm not sure how to categorize this but we are running very long deployment times for our amplify backend. I mentioned this in the Amplify Office Hours and was to

[2022-02-24 19:28] josefaidt commented on #6473
Hey @svr4 :wave: apologies for the delay! This documentation has since been added to the feature flags section https://docs.amplify.aws/cli/reference/feature-flags/#addMissingOwnerFields

Are you still experiencing this issue?

[2022-02-24 19:35] josefaidt commented on #2935
Hey y'all as noted in @mgarabedian 's comment this item is currently being tracked on #9621. Closing in favor of tracking 9621. As a workaround we can use a proxy or frontend app config to rewrite `/graphql/realtime` to `/graphql` during mock.

[2022-02-24 19:35] #2935 closed

[2022-02-24 19:36] jon144 opened #9848 "Enums don't always work in a filter"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-24 19:37] diegoconcha opened #9849 "Lambda Layers Amplify Mock Support"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

We'd love to see the team add amplify mock support to lambda layers. A friend started working on a PR and said the change was pretty straight forward for him to get it working locally so I'm hoping this is a qu

[2022-02-24 19:37] diegoconcha opened #11859 "Lambda Layers Amplify Mock Support"
### Is this feature request related to a new or existing Amplify category?

function

### Is this related to another service?

_No response_

### Describe the feature you'd like to request

We'd love to see the team add amplify mock support to lambda layers. A friend started working on a PR and said the change was pretty straight forward for him to get it working locally so I'm hoping this is a qu

[2022-02-24 19:41] josefaidt commented on #9849
Hey @diegoconcha :wave: thanks for taking the time to file this! I've marked this issue as a feature request 🙂

[2022-02-24 19:42] diegoconcha opened #9850 "Datastore Amplify Mock Support"
### Is this feature request related to a new or existing Amplify category?

_No response_

### Is this related to another service?

Datastore

### Describe the feature you'd like to request

My team and I spent a week getting excited about and integrating datastore into our app only to find out when trying to test it locally that it doesn't work with amplify mock so we ended up having to rip it ou

[2022-02-24 19:54] nolanperk commented on #9728
Hey @marcvberg we see that the PR got approved to solve this, but is there any word on when it’s being released? We are delaying our product release until this is solved.

[2022-02-24 20:06] josefaidt commented on #9850
Hey @diegoconcha :wave: thanks for taking the time to file this one as well 🙂 marking as a feature request

[2022-02-24 20:08] josefaidt commented on #2791
Hey @rawadrifai :wave: this can be solved by using a state management solution on the frontend to store the previous `nextToken` cursor in order to retrieve the previous page's results. Per [this comment](https://github.com/aws-amplify/amplify-cli/issues/2791#issuecomment-573687449) I'll update the title for supporting total count of pages, which is related to https://github.com/aws-amplify/amplif

[2022-02-24 20:13] chrisbonifacio commented on #9851
Hi @mitchconquer 👋 thanks for raising this issue. Transferring it over the CLI repo for better feedback and support.

[2022-02-24 21:34] alexboulay opened #9852 "@auth "Unauthorized" error when user should be authorized."
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-24 21:49] josefaidt commented on #6343
Hey y'all :wave: since this issue was created we've released a new version of the GraphQL Transformer which [changed auth rules to deny-by-default](https://docs.amplify.aws/cli/graphql/authorization-rules/). Using the following schema with Cognito User Pools and API Key as the auth mechanism we are able to allow owners to create and read their own `notes`, however when using API Key for public aut

[2022-02-24 21:49] #6343 closed

[2022-02-24 21:58] dorontal commented on #6343
Sorry @josefaidt - still having this issue and I've been with V2 for a long time now. This issue still stands for me and it's with V2 of the GraphQL transformer. Specificaly, it is not the schema use case you show above, but the one I show in my previous comment here - that one still does not allow the owner to read their own model, if the field `bytesQuota` is part of that query.

If you ever rev

[2022-02-24 22:03] josefaidt commented on #9762
Hey @sacrampton apologies for the delay! I've added this to the team bug bash board to be prioritized as part of our weekly bug bash 🙂

[2022-02-24 22:07] sacrampton commented on #9762
Hi @josefaidt - feedback much appreciated

[2022-02-24 22:18] josefaidt commented on #9815
Hey @24jr would you mind sharing the logs of the failures from your terminal output and the log files (`~/.amplify/logs`) at the time it occurred? Also can you clarify what you're experiencing when saving a schema during a push? Earlier today I did notice if I saved a change while pushing, the API resource was not showing "UPDATE" on a subsequent `amplify status`

[2022-02-24 22:58] josefaidt commented on #9720
Hey @a-y-klimovich looking at the logs I see a note about site-packages not being writeable and defaulting to user installation. Can you try reinstalling pipenv with python3?

[code]

[2022-02-24 23:23] josefaidt commented on #6343
Hey @dorontal I modified the example based on your update to be read-only and it appears to fetch the owner's `notes`. Are you experiencing a situation where the owners are not able to read their notes?
![fetch todos as user](https://user-images.githubusercontent.com/5033303/155623804-b49aebe8-0eae-44ed-9fa3-61ed289ce80f.png)
![fetch todos as josef](https://user-images.githubusercontent.com/503330

[2022-02-24 23:33] sasssssssa opened #9854 "The user having authRole can't access the data because a resolver generated by Amplify CLI doesn't allow authRole to access the data"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-24 23:36] dorontal commented on #6343
In some sense the answer is yes: the owner cannot read a model if the query asks for a field-level Auth rule that has owner read-only access.

But I was extrapolating from my own schema where `Todo` is a `User` model and `notes` is `bytesQuota` - and I get this error in the browser's DEV console:
[code]

[2022-02-24 23:41] josefaidt commented on #6343
Hey @dorontal would you mind filing a [separate bug report](https://github.com/aws-amplify/amplify-cli/issues/new?assignees=&labels=&template=1.bug_report.yaml) for this? I think it would be helpful to gather the additional context to better understand the root cause as I am not able to reproduce the behavior.

[2022-02-24 23:45] dorontal commented on #6343
Sure, will do.

[2022-02-25 00:43] dorontal opened #9855 "Adding owner read-only field-level Auth rule causes 'not authorized to access' field errors even though reader is the owner"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-25 00:45] dorontal commented on #9855
This issue spawned off from: https://github.com/aws-amplify/amplify-cli/issues/6343

[2022-02-25 01:08] Dayton-IX commented on #9665
@reptiliano37 @sachscode  Thanks! I found deployment-state.json, deleted it, and was able to push new updates to that env again!

[2022-02-25 01:08] #9665 closed

[2022-02-25 01:42] danrivett opened #9856 "Incorrect GraphQL Transformer v2 Documentation - Leading to Poor Initial DX"
I'm currently migrating our Amplify project over from the v1 to v2 GraphQL Transformer and got stuck migrating our previous customized resolvers to the new pipeline resolver model with the following error:

[code]

I followed the documentation [here](https://docs.amplify.aws/cli/graphql/custom-business-logic/#extend-amplify-generated-resolvers) and noted the example and listed [supported resolver

[2022-02-25 03:28] kenbankspeng commented on #5432
@jkervine I was delighted to see your post as I had been looking for a solution beyond editing the cloudformation templates. Sadly, I was not able to get the custom-policies.json to work, despite your comment making things very clear.

I did however see that amplify now supports `amplify add custom` although I am struggling on the semantics. Currently thinking that I need to add an 'ses' custom re

[2022-02-25 04:23] kasukur opened #10579 "amplify build failed with AlreadyExistsException (bucket exists)"
### Before opening, please confirm:

- [X] I have checked to see if my question is addressed in the [FAQ](https://github.com/aws-amplify/amplify-console/blob/master/FAQ.md).
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-console/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-conso

[2022-02-25 04:28] kenbankspeng commented on #5432
Very nice to see this custom-policies.json capability. file location is function/name/custom-policies.json (without the src).

[2022-02-25 06:44] fossamagna commented on #7905
Hey @cjihrig. I considered it as follows.
* We can contain upper case characters in function name as before
* Only `name` in `package.json` will be changed to lower case.

What do you think on this?

[2022-02-25 09:00] biztems commented on #7582
Same issue here with Amplify CLI v7.6.21.

[2022-02-25 10:20] aqarcoSys opened #9857 "Best way to give access team member pull only env with amplify studio or via IAM ?"
I want to give access to a team members to only pull change on specific env

**Which Category is your question related to?**
Team work
**Amplify CLI Version**
7.6.15

**What AWS Services are you utilizing?**
- Lambda
- S3
- CloudFront
- dynamodb

[2022-02-25 13:03] ENT108 commented on #9766
Same there... error output if lacking debug data!

[2022-02-25 13:07] a-y-klimovich commented on #9720
Hi @josefaidt

As I mentioned, I reinstalled python Feb 21. As it's installed in the user directory I don't see any messages about "writable directories".

Sure. Please find log attached.
[pipenv_reinstall.log](https://github.com/aws-amplify/amplify-cli/files/8141350/pipenv_reinstall.log)

[2022-02-25 13:11] chakch commented on #9063
any update for this issue ?

[2022-02-25 13:47] svr4 commented on #6473
Hello @josefaidt :wave:, no worries. I was able to get the owner field to show up by adding `create` to the list of operations. Thanks for still replying tho :laughing:. Have a good one.

[2022-02-25 14:23] dorontal commented on #9855
Actually closing this issue in favor of the original issue -- there was no reason to close the original issue

[2022-02-25 14:23] AndreasEK opened #9858 "strange / wrong bucket name in s3 policy in authRole"
### Before opening, please confirm:

- [X] I have installed the latest version of the Amplify CLI (see above), and confirmed that the issue still persists.
- [X] I have [searched for duplicate or closed issues](https://github.com/aws-amplify/amplify-cli/issues?q=is%3Aissue+).
- [X] I have read the guide for [submitting bug reports](https://github.com/aws-amplify/amplify-cli/blob/master/CONTRIBUTIN

[2022-02-25 14:26] dorontal commented on #6343
@josefaidt  I did open a new issue - but frankly I do not understand why this was necessary.

I also do not understand why this issue got closed.

@josefaidt  can you show the schema that you used for that `Todo` model -- did that schema include all the model level Auth rules that mine did?

I do not understand why this issue got closed. The problem is not solved yet. This issue describes things w

[2022-02-25 14:32] AndreasEK commented on #9858
So this appears to be the part that is producing the wrong value:

[code]

It joins these parts to the BucketName:

1. The `bucketName`
2. The 4th element of `AWS::StackName`
3. "-"
4. The environmant name

1. resolves to solinger-sportbund-images-bucket
2. the root stack is called amplify-solinger-v1-dev-20190523135333, if this is split by '-' the 4th element (3 with zero index) is indeed 'dev'
3

[2022-02-25 14:46] josefaidt commented on #6473
Ah glad to hear it @svr4 , and again apologies for the delay! Closing issue

[2022-02-25 14:46] #6473 closed

[2022-02-25 15:22] josefaidt commented on #9855
Hey @dorontal :wave: let's carry the conversation here as the previous issue was labeled as a feature request for deny-by-default behavior for Transformer v1 where this issue appears to be a bug or unintentional behavior with transformer v2 and the updated deny-by-default behavior.

[2022-02-25 15:32] AndreasEK commented on #9858
So, it looks like the naming pattern was introduced in https://github.com/aws-amplify/amplify-cli/pull/2709/files#diff-3b211d52016482ec677f83b3c045e3791847b9f9fec3c2e25974e5a712c43c7f

Our amplify project is older.

Any idea how to fix our setup? Since the product is in production, re-creating the s3 bucket is not an option. otoh, I don't know how to force the BucketName to the old naming pattern.

[2022-02-25 15:33] josefaidt commented on #9855
From the previous issue we can use the following schema and create a few users to add a few Todo items with user-specific `notes`

[code]

After creating a few records we can modify our schema to be read-only:

[code]

this will allow us to retrieve the data depending on the currently authenticated user:

![fetch todos as user](https://user-images.githubusercontent.com/5033303/155623804-b49aebe8-0

[2022-02-25 15:41] dorontal commented on #9855
Thanks very much @josefaidt -- I understand, continuing her.

[2022-02-25 15:45] dorontal commented on #9855
@josefaidt first thanks a lot for trying this. My schema -- the one that did not work -- is different from the one you tried, only slightly. The schema I reported above is repeated here:

[code]

Your schema has different Auth rules at the model level -- perhaps it's that difference that causes my schema to fail as described above and yours to succeed (- in retrieving queries that had the field wi

[2022-02-25 15:53] dorontal commented on #9855
@josefaidt just to answer your question:  I did check that the current authenticated user was the owner - via when logging in in the Appsync queries console, I logged in with the user who is the owner of that record.

[2022-02-25 16:27] cjihrig commented on #7905
@fossamagna that could potentially work.

[2022-02-25 16:38] AndreasEK commented on #9858
Sorry for all the comments, but while waiting on an answer I still tried to understand the situation better.

I tried this in `override.ts`:
[code]

but when trying to push this, CloudFormation complains that the bucket already exists. Where is the decision made to recreate the resource?

[code]

It seems like there have been others with this issue (sorry again, that I didn't find the issue earlie